[2019-11-07 10:59] #3473 closed

[2019-11-07 11:00] terrymanu commented on #3473
**For English only**, other languages will not accept.

[2019-11-07 11:03] zhangqiangeek opened #3474 "shardingsphere4.0.0-RC1 NullPointerException"
Local debugging is normal, online error，The error message is as follows。
 <dependency>
                <groupId>org.apache.shardingsphere</groupId>
                <artifactId>sharding-jdbc-core</artifactId>
                <version>4.0.0-RC1</version>
</dependency>

### Error querying database.  Cause: java.lang.NullPointerException
### The error may exist in class path resource [mapping/UserOrde

[2019-11-07 11:09] Wangzhenpei commented on #3471
`java.lang.NoClassDefFoundError: Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse0(SQLParseEngine.java:71)
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse(SQLParseEngine.java:53)
	at org.apache.shardingsphere.core.route.router.sharding.ParsingSQLRouter.parse(ParsingSQLRou

[2019-11-07 11:11] Wangzhenpei commented on #3471
`org.xml.sax.SAXNotRecognizedException: http://javax.xml.XMLConstants/feature/secure-processing
	at org.apache.xerces.parsers.AbstractSAXParser.setFeature(Unknown Source)
	at org.apache.xerces.jaxp.SAXParserImpl.setFeatures(Unknown Source)
	at org.apache.xerces.jaxp.SAXParserImpl.<init>(Unknown Source)
	at org.apache.xerces.jaxp.SAXParserFactoryImpl.newSAXParserImpl(Unknown Source)
	at org.apache.

[2019-11-07 11:16] SteNicholas opened #3475 "Establish SQL parser module development document adapt to various databases"
## Question

According to the current situation, incubator-shardingsphere SQL parser module already supports many databases like MySQL, Oracle etc, which module some bugs or issues exists. Development document is very important for SQL parser modules, which facilitate community developers to participate faster.About development document, I think it needs to include the following points:
- How to a

[2019-11-07 11:31] haetao commented on #3422
DISCUSS:

 Writing the description and constraint of configuring the max vibration offset in the official document.

1. explanation
      Using the snowflake algorithm as the partition key strategy, the max vibration offset needs to be configured.

2. Constraints
      The max vibration offset is not recommended to take the number not 2 ^ n but less than 2 ^ 12
When the number of physical tables i

[2019-11-07 11:50] Wangzhenpei commented on #3471
`Caused by: java.lang.NoClassDefFoundError: Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse0(SQLParseEngine.java:71)
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse(SQLParseEngine.java:53)
	at org.apache.shardingsphere.core.route.router.sharding.ParsingSQLRouter.parse(Pa

[2019-11-07 11:53] Wangzhenpei commented on #3471
`@Bean(name = "dataSource")
	public DataSource createDataSource() throws Exception {
		// 配置真实数据源
		Map<String, DataSource> dataSourceMap = new HashMap<>();

		// 配置第一个数据源
		BasicDataSource dataSource1 = new BasicDataSource();
		dataSource1.setDriverClassName("com.mysql.jdbc.Driver");
		dataSource1.setUrl("jdbc:mysql://127.0.0.1:3306/ds");
		dataSource1.setUsername("root");
		dataSource1.setPasswo

[2019-11-07 12:03] terrymanu commented on #3475
Yes, the document is really important. We can improve the document continually.

[2019-11-07 12:04] tianbin1001 commented on #3475
@terrymanu  Assign to Me

[2019-11-07 12:05] terrymanu commented on #3475
@tianbin1001 OK, welcome to contribute together.

[2019-11-07 12:06] terrymanu commented on #3474
Can you try version on 4.0.0-rc2 or 4.0.0-rc3-snapshot?

[2019-11-07 12:07] terrymanu commented on #3378
I will close this issue if no response anymore.

[2019-11-07 13:03] wqzwh opened #3477 "User UI interaction without login for a long time"
## Bug Report

### Steps to reproduce the behavior：

If you don't log in, go directly to the menu page, click on all kinds of connections and there is no response. You will only swipe to the first menu, and you will not jump to the login page directly, and the user name will be displayed in the upper right corner

[2019-11-08 01:11] zcqshine commented on #3424
postgresql support `~` operator：
`~`Match regular expression, case related 'Thomas' ~'. * Thomas. *

[2019-11-08 01:20] HongJinFeng commented on #3210
I use the core of dev branch, The problem is still exist.

[2019-11-08 02:04] shuaiqingli opened #3478 "Stackoverflowerror occurred in multiple queries through or condition"
version: 4.0.0-RC2
log info:
2019-11-08 09:49:01,215  INFO [main] SQL: select

    PRODUCT_BRAND_ID, PRODUCT_ID, CATEGORY_ID, CATEGORY_ROW

        from T_BASIC_PRODUCT_CATEGORY b
         WHERE b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRODUCT_ID = ? OR b.PRO

[2019-11-08 03:16] ityy opened #3480 "Sharding-JDBC "inline.algorithm-expression" capital letter bug"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-08 03:23] WatchLucky opened #3481 "no table rout info"
## Question

there is a propleam when   I insert one record by sharding-proxy :   no . table  rout info

configuration :

    t_rpm_sharejrn:
      actualDataNodes: db_gsdbil0.t_rpm_sharejrn${0..31},db_gsdbil1.t_rpm_sharejrn${32..63},db_gsdbil2.t_rpm_sharejrn${64..95},db_gsdbil3.t_rpm_sharejrn${96..127},db_gsdbil4.t_rpm_sharejrn${128..159},db_gsdbil5.t_rpm_sharejrn${160..191},db_gsdbil6.t_rpm_shar

[2019-11-08 03:24] WatchLucky commented on #3481
Server version: 5.6.0-Sharding-Proxy 3.1.0

[2019-11-08 04:24] terrymanu commented on #3481
What is your SQL?

[2019-11-08 08:44] HongJinFeng opened #3483 "Encrypt-JDBC Rewrite SQL paramters with the wrong column order"
##
Run an insert sql with more than one encrypt column, and some of columns are null, encrypt-jdbc rewrite a wrong sql which plain columns are out of order.But if I set the null columns to "". it rewrite an correct sql.

sharding-sphere version 4.0.0-RC2

##
And then i update my sharding-sphere version to 4.0.0-RC3-SNAPSHOT, run the same sql as before, another bug occur.
![image](https://user-imag

[2019-11-08 15:30] cherrylzhao opened #3487 "using original XADataSource directly for XA unit test"
in xa-transaction-core we have depended druid just for testing XADataSource.
it is better to remove this dependency to decouple with it

[2019-11-08 16:19] terrymanu commented on #3483
Fixed at 4.0.0-RC3

[2019-11-08 16:19] #3483 closed

[2019-11-08 16:20] terrymanu commented on #3483
duplicate with #3374

[2019-11-08 16:21] terrymanu commented on #3480
Is your USER_ID `null`?

[2019-11-08 16:24] terrymanu commented on #3431
I will close soon if no response anymore

[2019-11-08 16:26] terrymanu commented on #3471
What is your ShradingSphere's version?

[2019-11-08 16:27] terrymanu commented on #3465
What is your version of shardingsphere?

[2019-11-08 16:28] terrymanu commented on #3458
What is your ShradingSphere's version?

[2019-11-08 16:28] terrymanu commented on #3452
@zhumaoliang any update?

[2019-11-08 16:28] SteNicholas commented on #3478
@terrymanu Please assign this issue to me, I will check this and fix it.

[2019-11-08 16:31] terrymanu commented on #3478
@SteNicholas  Thank you, assigned.

[2019-11-09 01:58] ityy commented on #3480
it's not null.
if you use "@Column(name = "USER_ID", nullable = false)",  then 'MY_FRIEND_$->{USER_ID % 10}' or 'MY_FRIEND_$->{user_id % 10}' all error.
if you use "@Column(name = "user_id", nullable = false)", then 'MY_FRIEND_$->{USER_ID % 10}' is error, but 'MY_FRIEND_$->{user_id % 10}' is ok.
if you use 'precise-algorithm-class-name', all is ok.
The reason for the submission is lack of uniformi

[2019-11-09 03:38] RaigorJiang commented on #3362
Update:  I am still debugging this issue, try to find the best solution.

[2019-11-11 00:23] terrymanu commented on #3480
Can you provide your sharding rule configuration?

[2019-11-11 03:14] lyricsqq opened #3496 "Paging subquery problem"
Version number  4.0.0-RC2：
When I execute the following SQL：
select  count(0) from (         select devId         from t_check_task where status=1                                           and executeTime BETWEEN '2018' and '2019'                    ) b

我发现只要我使用 BETWEEN and  他有问题
I find that as long as I use between and he has problems

他会抛出如下异常
it will throw the following exception：
The exceptio

[2019-11-11 03:26] zjcnb opened #3497 "the getTime() method of"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describ

[2019-11-11 03:26] #3497 closed

[2019-11-11 03:27] lyricsqq commented on #3496
Does it not support between and. It is clear that the description on the document does not support it

[2019-11-11 03:31] zjcnb opened #3498 "the getTime() method of the MySQLTimeService class"
hi,
      It is recommended to add a time zone setting when initializing the data source. because server time has this problem. org.apache.shardingsphere.route.time.mysql.MySQLTimeService

[2019-11-11 05:19] SteNicholas commented on #3478
@shuaiqingli Can you add more exception log to this scenario?I try it local but not occur this excpetion.

[2019-11-11 06:03] BigBoss812 opened #3499 "UUID. Randomuuid() causes a large number of database operation threads to lock (DQL & & non DQL)"
## Bug Report

### Which version of ShardingSphere did you use?

2.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

sharding-jdbc-core-spring-boot-starter Sharding-JDBC

### Expected behavior

Generate application and perform DQL or  non DQL data operation for 500 threads concurrently

### Actual behavior

Use the jstack command to export the thread stack and repeat the operat

[2019-11-11 06:39] #3498 closed

[2019-11-11 06:40] #3496 closed

[2019-11-11 06:40] terrymanu commented on #3496
**For English only**, other languages will not accept.

[2019-11-11 06:41] terrymanu commented on #3499
The version is out of service, please try to newer version

[2019-11-11 06:41] #3499 closed

[2019-11-11 07:16] lyricsqq opened #3500 "RangeShardingAlgorithm Range subquery ClassCastException"
Version number 4.0.0-RC2：
When I execute the following SQL：
select count(0) from ( select devId from t_check_task where status=1 and executeTime BETWEEN '2018' and '2019' ) b

The exception is generated in the parsingsqlrouter class in isSameShardingCondition
Cause: java.lang.ClassCastException: org.apache.shardingsphere.core.strategy.route.value.RangeRouteValue cannot be cast to org.apache.shardi

[2019-11-11 07:51] shuaiqingli commented on #3478
@SteNicholas They occur by executing multiple queries, not just once

[2019-11-11 07:55] terrymanu commented on #3500
Can you change the title for search friendly?

[2019-11-11 07:55] shuaiqingli commented on #3478
@SteNicholas The following stack information is repeated, the same as "org.apache.shardingsphere.core.parse.core.extractor.impl.dml.PredicateExtractor.extractRecursiveWithLogicalOperation(PredicateExtractor.java:73)"

[2019-11-11 07:55] #3431 closed

[2019-11-11 08:16] jingshanglu commented on #3478
can you show a example that can run,and what the -Xss is? @shuaiqingli

[2019-11-11 08:58] zjcnb commented on #3446
i want to do it ,Do we provide a setup entry？

[2019-11-11 11:24] 59471032 opened #3502 "shardingproxy Bootstrap Booting failure"
## Question
`[INFO ] 18:16:45.787 [main] o.a.c.f.imps.CuratorFrameworkImpl - Starting
[INFO ] 18:16:45.879 [main] org.apache.zookeeper.ZooKeeper - Client environment:zookeeper.version=3.4.6-1569965, built on 02/20/2014 09:09 GMT
[INFO ] 18:16:45.879 [main] org.apache.zookeeper.ZooKeeper - Client environment:host.name=DESKTOP-0QFTKSS
[INFO ] 18:16:45.880 [main] org.apache.zookeeper.ZooKeeper - Clie

[2019-11-11 11:33] 59471032 commented on #3502
[config-sharding.txt](https://github.com/apache/incubator-shardingsphere/files/3831121/config-sharding.txt)
[server.txt](https://github.com/apache/incubator-shardingsphere/files/3831122/server.txt)

[2019-11-11 11:43] canglang1973 commented on #3499
Yes , you can user the last version of Sharding-jdbc ,your version is too old to good use.

[2019-11-11 11:58] terrymanu commented on #3500
I think the title still not for search friendly

[2019-11-12 01:52] KomachiSion commented on #3366
@duanbin0414, Thanks for your discuss and article.

In fact, problem for routing to additional nodes when the database and table sharding column are the same one, community has been known, you can search more issues about this problem like #2193 .

We design current routeEngine to calculate database sharding columns and table sharding columns independent. Because the shardingRule are different for

[2019-11-12 02:13] KomachiSion commented on #3500
Do you use 4.0.0-RC2 release version?

I think the problem is reference #2613 . Should be fixed in 4.0.0-RC2 release.

[2019-11-12 02:16] ityy commented on #3480
I didn't describe it clearly, Now I think I'm clear. I'm sorry.
[code]
[code]
Looks ok, but error:
`java.lang.NullPointerException: Cannot invoke method mod() on null object`

Now let's change that:
[code]
run well.

The issues is simply that inline.algorithm-expression don't support uppercase.

It's a minor problem, It just doesn't look consistent.

[2019-11-12 03:02] cjml1982 opened #3503 "dataencrypt feature with “java.sql.SQLDataException: Cannot determine value type from string 'NO'”"
## Bug Report

Hi I wanna use the data encrypt featur . I have try 4.0.0-RC2 the encrypt feature OK, but I encounter 2 issues. one is if the plain field is null , there would be output NULL exception, another one is if there is text field , also can't  works . https://github.com/apache/incubator-shardingsphere/issues/3017
those two issue would be released in 4.0.0-RC3, I download the source code ,

[2019-11-12 03:13] 59471032 commented on #3502
I have solved the problem,but new problem happend.
[config-sharding.txt](https://github.com/apache/incubator-shardingsphere/files/3834206/config-sharding.txt)
[server.txt](https://github.com/apache/incubator-shardingsphere/files/3834207/server.txt)
`
[ERROR] 11:12:22.828 [ShardingSphere-Command-4] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
	at org.apach

[2019-11-12 03:15] 59471032 commented on #3502
`
[INFO ] 11:14:03.796 [main] org.apache.zookeeper.ZooKeeper - Client environment:java.io.tmpdir=/var/folders/7l/3198rz0j16db4chqmc67dn6m0000gn/T/
[INFO ] 11:14:03.796 [main] org.apache.zookeeper.ZooKeeper - Client environment:java.compiler=<NA>
[INFO ] 11:14:03.796 [main] org.apache.zookeeper.ZooKeeper - Client environment:os.name=Mac OS X
[INFO ] 11:14:03.796 [main] org.apache.zookeeper.ZooKeepe

[2019-11-12 06:00] wqzwh commented on #3477
Delete the local cache data, and then jump to the login page

[2019-11-12 06:03] lyricsqq commented on #3500
version is  4.0.0-RC2
I introduced the following Maven configuration according to the official documents

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC2</version>
        </dependency>

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>

[2019-11-12 06:07] lyricsqq commented on #3500
I use the range fragmentation algorithm instead of the composite fragmentation algorithm

[2019-11-12 06:08] ityy opened #3504 "Can we add key-value to hint?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describ

[2019-11-12 06:15] KomachiSion commented on #3500
@lyricsqq Can you provide your full sharding configuration, or push your demo code to GitHub?

Can help us to locate the problem.

[2019-11-12 06:15] lyricsqq commented on #3500
The exception occurs in the method of the following screenshot of the parsingsqlrouter class. And I looked at the 4.0.0-rc3 code, and I think this problem should still exist
![Uploading image.png…]()

[2019-11-12 06:20] lyricsqq commented on #3500
The following logical table of springboot configuration is the configuration when I have problems commented out by t ﹣ check ﹣ task. I now use the forced sharding to meet the needs of。
spring:
  logpath: /home/logs/
  main:
    allow-bean-definition-overriding: true
  application:
    name: web
  shardingsphere:
    datasource:
      names: master
      master:
        type: com.zaxxer.hikari.Hika

[2019-11-12 06:29] lyricsqq commented on #3500
The configuration file and implementation class are as follows. Because the attachment does not support suffix, I will change the file suffix to txtl
[application-test.txt](https://github.com/apache/incubator-shardingsphere/files/3834658/application-test.txt)

[Range.txt](https://github.com/apache/incubator-shardingsphere/files/3834662/Range.txt)

[2019-11-12 06:31] duanbin0414 commented on #3366
First, I do assume that there are the same number of tables in each database. I refer to the official configuration example and think it is consistent with the official one.
![image](https://user-images.githubusercontent.com/50389867/68646398-07898200-0556-11ea-9376-7b91e6f3b12c.png)

Although the actual name of the table in my database is different. For example: ds0:user0,user1. ds1:user2,user3.

[2019-11-12 06:33] lyricsqq commented on #3500
I don't know how to get the demo on github running for you.Can I give you a link to my demo warehouse

[2019-11-12 06:36] zhuyaoming commented on #3458
my version is 3.1.0

[2019-11-12 07:06] KomachiSion commented on #3366
Sorry, I means your solution only support the database route result number equals to table route result. If the results are not equals, there are some result will be dropped.
BTW, `ds${0..1}.t_order_item${0..1}` is 2 databases and 4 tables(2 tables in each database).

The problem has been fixed in 4.0.0-RC3 which has been in release vote step, detail in #2193.

Sorry, I think it has some different

[2019-11-12 07:09] KomachiSion commented on #3500
create repo in your GitHub. and push your demo code to the repo you create. Then copy the link to these.

your configuration may be enough, If you can provide your SQL will help us more.

[2019-11-12 07:17] lyricsqq commented on #3500
Later, I will create a demo to reproduce the problems I encountered in the project, which may take several hours. I will provide a code that fully replicates the problem you can run directly But my comment is Chinese because I am not good at English in China If the code needs to provide English comments, you can let me know

[2019-11-12 07:22] KomachiSion commented on #3500
Thanks, English comments will be better. you can provide your SQL first, if we can't reproduce your problem, we will need your demo code later.

[2019-11-12 07:27] RaigorJiang commented on #3457
You can read these practical articles:
https://github.com/apache/incubator-shardingsphere/issues/650

[2019-11-12 08:23] lyricsqq commented on #3500
Here is the demo code link address。
https://github.com/lyricsqq/shardingerror.git

You can start it and visit it through the following link。

http://localhost:8080/swagger-ui.html

[2019-11-12 09:00] RaigorJiang commented on #3362
Hi,  I found the root cause of NullPointerException is:
The SQL is routed to default data source but didn't check whether the default data source exists, so the dataSourceName in RoutingUnit in null.
For this scene, I submitted a PR, please take a review,  thank you.

[2019-11-12 09:00] KomachiSion commented on #3500
Sorry I use your code execute `getColumnarStatistics`

the exception is
[code]

[2019-11-12 09:07] lyricsqq commented on #3500
I changed the code and it worked The start time and end time need to be more than 2 months before the error effect can be seen。
eg：

startTime = 2019-01-01
endTime = 2019-04-05

[2019-11-12 09:08] lyricsqq commented on #3500
Please remove the code at the pull, thank you. It will work

[2019-11-12 09:23] RaigorJiang commented on #3502
@59471032  I'll try with your configuration file.

[2019-11-12 09:30] junwangit commented on #2712
I also use the hicariCP data source, the configuration read and write separation starts normally, the test is normal, once the configuration data is desensitized, this problem occurs.

[2019-11-12 09:50] RaigorJiang commented on #3502
@59471032
I used your configuration to run the proxy and the startup was successful.
What's your sharding-proxy version?

[2019-11-12 10:00] HongJinFeng opened #3509 "Encrypt jdbc bug occur when cipher column value is not from method parameter."
1.Below cases work normally.

[code]

2.But in these cases, exception occurs.
Using encrypt-jdbc, and username is one of encrypt column.

[code]
encrypt rule configuration:
spring.shardingsphere.datasource.name = ds
spring.shardingsphere.datasource.ds.type = com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds.driver-class-name = com.mysql.jdbc.Driver
spring.shardingsphere.da

[2019-11-12 10:19] tristaZero commented on #3370
It is great. Your detail investigation inspired us how to solve this issue!

[2019-11-12 10:42] KomachiSion commented on #3500
The problem has reproduced, Thanks your reply.

The bug will fixed with #3187 .

Current version do not support subQuery with range and multiple shard nodes.

[2019-11-12 12:02] lyricsqq commented on #3500
Will it be fixed in 4.0.0-RC3? 4.0.0- when will RC3 be released。
I use the forced route hint shard. Is there also the problem of not being able to route to multiple tables

[2019-11-12 15:50] terrymanu commented on #3463
We discuss at the pull request

[2019-11-12 16:16] #3383 closed

[2019-11-13 00:24] #3477 closed

[2019-11-13 01:19] junwangit opened #3511 "use master-slave and encrypt rule together"
## Question

# Development environment
SpringCloud G+ mybatis-plus 3 .1 + sharding-jdbc 4.0.0 RC3 + hikariCP 3.4.1

When I only configuremaster-slave, it can be used normally.
However, I will have problems adding encrypt rule  at the same time.

`
Caused by: java.lang.IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required
`

I suspect that there is a problem wi

[2019-11-13 01:31] Maijh97 commented on #2712
Excuse me, is there a solution to this problem

[2019-11-13 02:01] shuaiqingli commented on #3478
@jingshanglu Adding Xss parameter will still StackoverflowError

[2019-11-13 02:13] Maijh97 commented on #3511
I also ran into this problem. It's strange that there was an error in configuring the master slave. I used the Druid data source

[2019-11-13 02:36] KomachiSion commented on #3500
4.0.0-RC3 has started vote, so the problem will be not fixed in 4.0.0-RC3.

[2019-11-13 03:13] KomachiSion commented on #3503
The reason may be in EncryptRuntimeContext.getColumnMetaDataList() line 95

[code]

From the exception, mysql may return the result 'NO', but we use getBoolean in there, so it can't be translate to boolean.

[2019-11-13 03:35] junwangit commented on #3503
This problem is caused by MySQL Connector/J 8.0 + and the 5.1.x version is normal.

[2019-11-13 04:01] junwangit commented on #3511
Remove springboot auto-configuration, manually configured, this problem is solved, but new problems arise.

`
org.springframework.dao.InvalidDataAccessApiUsageException: Error attempting to get column 'updated_time' from result set.  Cause: java.sql.SQLFeatureNotSupportedException: getObject with type
; getObject with type; nested exception is java.sql.SQLFeatureNotSupportedException: getObject wi

[2019-11-13 04:28] terrymanu commented on #3511
@junwangit Can you change the title as a whole sentence and to make it for search friendly?

[2019-11-13 04:29] terrymanu commented on #3509
Can you describe the summary in title for search friendly?

[2019-11-13 04:30] terrymanu commented on #3481
Will close soon if no response anymore

[2019-11-13 04:31] #3463 closed

[2019-11-13 06:33] Maijh97 commented on #3511
@junwangit Would you like to delete the automatic configuration of mybatis? Or? Is it convenient to provide the sample code?

[2019-11-13 07:16] cjml1982 commented on #3503
thanks ，and @terrymanu， is that possible release this in 4.0.0-RC3？

[2019-11-13 07:43] lcx1989210 opened #3514 "Fu"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-13 07:47] lcx1989210 opened #3515 "Full GC occured Frequently in production environment"
server details:
-Xms10g -Xmx10g -Xmn8g -Xss1024K

java version "1.8.0_66"

sharding version:
 <dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-core</artifactId>
            <version>3.1.0</version>
        </dependency>

        <dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>

[2019-11-13 07:55] beckhampu commented on #234
Orange Finance  甜橙金融(翼支付) https://www.bestpay.com.cn/

[2019-11-13 08:02] #3453 closed

[2019-11-13 08:02] #3514 closed

[2019-11-13 08:24] beiwangnull commented on #3083
@terrymanu @zcjhwl   It's going to be faster

@Component
public class PreHeating implements InitializingBean {
    @Override
    public void afterPropertiesSet() throws Exception {
        Collection<DatabaseType> databaseTypes = SQLParserFactory.getAddOnDatabaseTypes();
        for (DatabaseType databaseType:databaseTypes){
            if("MySQL".equals(databaseType.getName())){
                S

[2019-11-13 08:35] huangmingsir commented on #3503
There are two notable code in the 4.0.0-RC3.
EncryptRuntimeContext.getColumnMetaDataList()
TableMetaDataLoader.getColumnMetaDataList

I suggest changing it like bellow.

`ResultSetMetaData metaData = resultSet.getMetaData();
            while (resultSet.next()) {
                String columnName = resultSet.getString(COLUMN_NAME);
                String columnType = resultSet.getString(TYPE_NAME)

[2019-11-13 08:40] terrymanu commented on #3515
What is your SQL, sharding rule configuration and log of `sql.show`?

[2019-11-13 09:06] KomachiSion commented on #3503
Welcome to open PR.

[2019-11-13 09:07] KomachiSion commented on #3503
4.0.0-RC3 has started vote, if the vote passed, the problem will not include in 4.0.0-RC3.

[2019-11-13 09:33] dongzl commented on #3503
@cjml1982 @huangmingsir @KomachiSion , This code is for this issue #3379 . My PR's Code cause this bug, I will fix it.

[2019-11-13 09:33] KomachiSion commented on #3503
OK, I will assign to you

[2019-11-13 10:08] RaigorJiang commented on #3419
I will try to reproduce this exception first.

[2019-11-13 12:25] waterMeteors opened #3518 "A table without rules cannot get column information through "show full fields from table name""
when I use statements that is "show full fields from table name“.
if the table has rules , the result is column name of table.
if the table has not rules , the result is nothing.

accessory：
1. shardingsphere version is 4.0R2

[2019-11-14 01:07] terrymanu commented on #3518
Can you change the title as a whole sentence and to make it for search friendly?

[2019-11-14 01:30] waterMeteors commented on #3518
ok. the title has been modified.

[2019-11-14 02:03] kuko126 opened #3520 "when set `query.with.cipher.column` to false, the program still trys to decrypt `plainColumn`"
## Bug Report

I followed this article https://my.oschina.net/u/3867294/blog/3089014 to encry my data.
When I'm using the  following configuration, the program insert data successfully,but throw an exception when querying it. I found out the program trys to decrypt `user_name`, while `user_name` is not encrypted , yet `user_name_encrypt` is .
[code]
The sql query
[code]

[code]

Before report a bu

[2019-11-14 02:06] #3362 closed

[2019-11-14 02:30] terrymanu commented on #3520
Duplicated with #3374

[2019-11-14 02:30] #3520 closed

[2019-11-14 02:35] #3481 closed

[2019-11-14 02:36] terrymanu commented on #3474
Will close soon if no response anymore

[2019-11-14 02:39] terrymanu commented on #3480
the algorithm-expression may support uppercase, the `USER_ID` is just a variable name of groovy expression, so the algorithm-expression should match the variable which user defined and in the inline expressions.

[2019-11-14 02:41] terrymanu commented on #3480
The problem caused by ShardingSphere transform the sharding column to lowercase to case insensitive reason.
I think this is a bug, we can keep it open and let some one fix it.

[2019-11-14 02:43] terrymanu commented on #3387
Will close soon if no response anymore for the issue author

[2019-11-14 02:54] Kevy123 opened #3521 "How do I use user-defined sharding algorithms in sharding-proxy？"
## sql
[code]
the shardingColumn is `cid`; For example, the `cid=59` data will be in the db_1 ,the `cid=60` data will be in the db_2....

I just want database sharding. not table sharding

[2019-11-14 05:45] #3521 closed

[2019-11-14 05:59] kuko126 opened #3522 "startup fail when using mysql-connector-java 8.0.16"
## Bug Report
startup fail when using  `mysql-connector-java 8.0.16`

[code]

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need

[2019-11-14 06:57] lcx1989210 commented on #3515
This problem makes me very  confused. After I restart the application server, The first few requests may cause this problem(full gc ),after which the request will be normal，and the memory normal.

My  SQL, sharding rule configuration as follows：
![QQ图片20191114144910](https://user-images.githubusercontent.com/21120592/68833664-ffb11580-06ee-11ea-9cb6-62920ca26700.png)

and my sql is :

 select

[2019-11-14 06:57] gfreezy opened #3523 "Create table sql not works"
## Bug Report
[code]

### Which version of ShardingSphere did you use?
4.0.0-RC2 4.0.0-RC3

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
[code]

Failed.

### Actual behavior
It should create the table.

### Reason analyze (If you can)
`StreamQueryResult`  did not consider `resultSet` to be null. When executing create table sql, resultSet will

[2019-11-14 08:45] terrymanu commented on #3522
duplicate with #3503

[2019-11-14 08:46] #3522 closed

[2019-11-14 08:50] terrymanu commented on #3515
What is the table configuration for `balance`?

[2019-11-14 08:55] terrymanu commented on #3509
What' mean of `core parameter`?
I saw your SQL

[code]
what is the table `seewo_sys_users`, what is different with previous table `t_demo`?

[2019-11-14 08:56] pengleichen opened #3524 "With Oracle 11g: Tables or View does no exsit"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-14 08:57] terrymanu commented on #3504
ShardingSphere is a database middle, this feature is like sdk side, but shardingsphere has proxy side too, how to deal with the feature on proxy side?

[2019-11-14 08:59] #3474 closed

[2019-11-14 08:59] terrymanu commented on #3471
Will close soon if no response anymore

[2019-11-14 09:00] terrymanu commented on #3465
Will close soon if no response anymore

[2019-11-14 09:01] terrymanu commented on #3458
Can you update to version 4.x and try again?

[2019-11-14 09:01] terrymanu commented on #3457
Will close soon if no response anymore by author

[2019-11-14 09:02] #3452 closed

[2019-11-14 09:03] terrymanu commented on #3524
Is it same with #3446?

[2019-11-14 09:04] terrymanu commented on #3446
@zjcnb Thank you, I just assign this issue to you.
You mean do we need a demo code to reproduce this issue?

[2019-11-14 09:06] terrymanu commented on #3436
@maybeclold Hi, any update? Or may I close this issue?

[2019-11-14 09:08] ityy commented on #3504
You are right. this feature is sdk side, I can assemble value before addTableShardingValue().
I don't think I need key-value in doSharding().
Thank you very much!

[2019-11-14 09:09] #3504 closed

[2019-11-14 09:11] Wangzhenpei commented on #3471
i have solved this problem
in my pom.xml
`                <exclusion>
                    <artifactId>jaxb-api</artifactId>
                    <groupId>javax.xml.bind</groupId>
                </exclusion>
                <exclusion>
                    <artifactId>jaxb-core</artifactId>
                    <groupId>com.sun.xml.bind</groupId>
                </exclusion>
                <exclusio

[2019-11-14 09:15] lcx1989210 commented on #3515
![image](https://user-images.githubusercontent.com/21120592/68842898-1d3baa80-0702-11ea-9be5-4b54ebcd46d4.png)

You can see  the table configuration for balance  from the picture above

[2019-11-14 09:19] terrymanu commented on #3419
Thank you, I just assign to you.

[2019-11-14 09:26] #3387 closed

[2019-11-14 09:27] bofale commented on #3446
thanks for @zjcnb ,I will  create a project on github in weekend , and paste project url in new comment

[2019-11-14 09:28] terrymanu commented on #3382
I think this issue should be pending until parse engine can support subquery as well

[2019-11-14 09:29] #3378 closed

[2019-11-14 09:30] terrymanu commented on #3435
Great, assigned

[2019-11-14 09:30] zjcnb commented on #3446
@bofale ok！

[2019-11-14 09:31] terrymanu commented on #3502
I just assign this issue to you, thank you @RaigorJiang

[2019-11-14 09:35] terrymanu commented on #3349
Sorry to reply late. It is all fine now.

[2019-11-14 09:41] terrymanu commented on #3521
What is the reason for closing the issue?

[2019-11-14 09:41] KomachiSion commented on #3399
@mygitdds , I remember that you have premised this problem #3388 .

The problem is you do not put the saga.properties into your root class path.
For springboot jar model, you can package a `conf` dir, and put all of the properties into there.

Then you put the `conf` dir into your root class path like `-classpath .:${yourClassPath}:${parentPath}/conf/* `

[2019-11-14 09:42] terrymanu commented on #3498
Expired because MySQLTimeService is changed

[2019-11-14 09:45] KomachiSion commented on #3399
Can you push these example code to GitHub?

[2019-11-14 10:06] KomachiSion commented on #3399
@mygitdds, The saga.properties we designed is for users can config it independently.
We think the `properties` file should be out from the jar package install by yourself so that you can modify configurations easier. And there is no nessary to support reading it from jar.

[2019-11-14 10:59] gfreezy commented on #3523
I'd like to fix this. Any documents i can look into?

[2019-11-14 12:17] lcx1989210 commented on #3515
During my testing today,I found some userId have no sharding-rule.

![0VN E8L ~X{6(HP(%EC4 8D](https://user-images.githubusercontent.com/21120592/68856151-cabab800-071a-11ea-944f-bd25c1ae4a5a.png)

This userId 62498484925194  query all table order and balance, It seems that the sharding rule does not work. So, When is the sharding  rule not working?

[2019-11-14 16:35] avalon566 commented on #3156
Duplicate with #3129 , I've fixed CLI no response issue, I am glad to fix other no error response issue.

[2019-11-14 16:51] avalon566 opened #3527 "Run sharding proxy to proxy postgresql through the official docker image startup failed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-14 17:08] terrymanu commented on #3515
It is not good for screenshot for coding, it is hard to search or try to reproduce

[2019-11-14 17:11] terrymanu commented on #3527
Did you mean `official` docker image?

[2019-11-14 17:13] #3471 closed

[2019-11-14 17:17] avalon566 commented on #3527
Sorry, spelling mistake.
Yes, [Dockerfile](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-distribution/sharding-proxy-distribution/src/main/docker/Dockerfile)

[2019-11-15 01:58] RaigorJiang commented on #3502
OK,   @59471032  any update?

[2019-11-15 03:08] RaigorJiang commented on #3104
The problem reproduced, I am looking for a cause.

[2019-11-15 03:09] cherrylzhao commented on #3487
fix at PR #3425

[2019-11-15 03:09] #3487 closed

[2019-11-15 03:50] pengleichen commented on #3524
Class: TableMetaDataInitializer
![image](https://user-images.githubusercontent.com/13282475/68915303-5f192f00-079c-11ea-9f57-d33a4d7459dd.png)
There will not exclude the all oracle system tables, e.g.
![image](https://user-images.githubusercontent.com/13282475/68915346-9ab3f900-079c-11ea-9b04-82b84a94ab85.png)

When start the application, we get an error
![image](https://user-images.githubusercont

[2019-11-15 04:21] dongzl commented on #3104
Hi @RaigorJiang , can you describe the reproduced process?

[2019-11-15 06:22] RaigorJiang commented on #3104
Yes,  I prepared an environment like #3419 ,  then use Navicat (version 11.2.18)  or  DBeaver (version 6.0.0) to connect to Proxy(version 4.0.0-RC3),    and the Exception occur.

![image](https://user-images.githubusercontent.com/5668787/68921310-4ec07e80-07b3-11ea-998e-dfa98d29ff1e.png)

[2019-11-15 06:25] RaigorJiang commented on #3104
Error Log is :

`line 1:24 mismatched input 'session_user' expecting {'U', 'u', '!', '~', '+', '-', '(', '{', '?', INSERT, UPDATE, DELETE, ALTER, DROP, TRUNCATE, SCHEMA, REVOKE, ADD, SET, INDEX, KEY, FUNCTION, TRIGGER, PROCEDURE, CASE, CAST, IF, NOT, NULL, TRUE, FALSE, EXISTS, BEGIN, COMMIT, ROLLBACK, SAVEPOINT, BOOLEAN, CHAR, INTERVAL, TIME, TIMESTAMP, LOCALTIME, LOCALTIMESTAMP, YEAR, MONTH, DAY,

[2019-11-15 06:43] RaigorJiang commented on #3419
Hi, here are current test results:
1.  use postgres 12.0  and the latest sharding-proxy,  statement and prepared statement both can insert successful.
    (but the Response client got has come problem, we may discuss in another issue. )
2. use postgres 12.0  and the proxy compiled from commit version 'ae2ede4bf01bb2cae6a89ae74d506c7fe338ea39' ,   ArrayIndexOutOfBoundsException occured.

@haetao  c

[2019-11-15 07:03] haetao commented on #3419
Ok, I 'll try the latest Proxy later. Thank you!

[2019-11-15 07:52] #3478 closed

[2019-11-15 07:55] #3436 closed

[2019-11-15 07:56] #3465 closed

[2019-11-15 07:56] #3457 closed

[2019-11-15 08:24] Spacebody commented on #2110
@joey168 Hi, I have two database with 4 tables in each,
db_00{tbl0, tbl1, xtb0, xtb1},
db_01{tbl2, tbl3, xtb2, xtb3}

So how should I configure the properties and the sharding algorithm? Which sharding alogirthm should I implement?

[2019-11-15 08:34] ssxlulu opened #3530 "Does shardingshpere have reload configuration function?"
Does shardingshpere have reload configuration function?

If I reconfig my configuration, how could I make it valid besides restart the sharding-proxy?

[2019-11-15 09:24] ronyuzhang opened #3531 "When i insert a new record , i meet a error "Caused by: java.sql.SQLException: Column count doesn't match value count at row 1""
## Bug Report
i debug a  low layer code, i found “order_assisted”、“user_assisted” word in generated sql， but i did not add “order_assisted”、“user_assisted into my table，this cause “Column count doesn't match value count at row 1"。

[2019-11-15 10:30] Spacebody opened #3532 "Factory method 'dataSource' threw exception; nested exception is io.shardingsphere.core.exception.ShardingException: java.sql.SQLException: Column name pattern can not be NULL or empty."
## Question
I have two database with 4 tables in each.
db0{tbl0,tbl1,xtbl0,xtbl1}
db1{tbl2,tbl3,xtbl2,xtbl3}

I have configure application.properties but no datasource configuration. Is this problem means I should manually implement the datasource configuration?

Sorry for no demo code provided since the code should be private.

**For English only**, other languages will not accept.

Before asking

[2019-11-15 11:57] lcx1989210 commented on #3515
the main configuration as follows:

  <bean id="randomStrategy" class="io.shardingsphere.api.algorithm.masterslave.RandomMasterSlaveLoadBalanceAlgorithm" />
    <bean id="dataBaseAlgorithm" class="com.resource.algorithm.PreciseModuloDatabaseShardingAlgorithm" />
    <bean id="tableAlgorithm" class="com.resource.algorithm.PreciseModuloTableShardingAlgorithm" />
 <sharding:standard-strategy id="data

[2019-11-15 12:08] lcx1989210 commented on #3515
This problem is very makes me confused。
There are a total of 100 test userId. When I used 10 thread test, the sharding rule not working on abount 5 userId, so they Full table sweep. The results of each test are different, There are always some userId does not go the sharding rule.If I test a few more times(or the server has been running for a while ), this problem will not exist.

[2019-11-15 12:13] lcx1989210 commented on #3515
And I have your QQ number, may I  communicate with it. So I can give you more infomation.

[2019-11-15 15:38] cherrylzhao opened #3533 "XAShardingTransactionManager could not compatible with AtomikosDataSourceBean"
when we use AtomikosDataSource Bean in XA, getConnection will not take effect.

[2019-11-16 02:36] terrymanu commented on #3530
Please FYI: https://shardingsphere.apache.org/document/current/en/features/orchestration/config-center/

[2019-11-16 02:46] ssxlulu commented on #3530
@terrymanu Should we add reload config command to valid configuration in local mode?

[2019-11-16 02:53] terrymanu commented on #3530
Just use Orchestration module to control your configuration dynamiclly

[2019-11-16 02:55] terrymanu commented on #3531
Please fill necessary information follow the template below:

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay at

[2019-11-16 02:57] terrymanu commented on #3532
What is your version, SQL and sharding rule configuration?

[2019-11-16 03:01] ssxlulu commented on #3530
Yes, So I found it is not convenient for local mode, when I modified any configuration, I need restart the server. It may be not friendly for local debugging.

[2019-11-16 03:01] dongzl commented on #3530
Hi @ssxlulu , what's your meaning, do you want to fix configuration in local yaml file and make effective right now?

[2019-11-16 03:04] dongzl commented on #3530
the configuration will be loaded into Orchestration center, e.g ZooKeeper, fix the configuration in ZK directly?

[2019-11-16 03:07] ssxlulu commented on #3530
I mean, when I modify the configuration in local yaml file, we may have some command to reload the configuration rather than restart the server.

[2019-11-16 03:31] dongzl commented on #3530
I think fix the configuration in ZooKeeper will be effective right now and meet your requirements.

`when modify the configuration in local yaml file,  execute some command to reload the configuration rather than restart the server.`

I think it doesn't support at present. Of course it's a good idea and we can develop it.

[2019-11-16 08:12] Spacebody commented on #3532
4.0.0.RC2，sql 5.6,  two databases with 4 tables in each. I want to check
that whether should I implement the datasource. Besides, I have other
databases in the same project such as mongodb, mysql, they are correctly
configured and being used already, I want to use sharding-jdbc to configure
another database in the same project.

Liang Zhang <notifications@github.com> 于2019年11月16日周六 上午10:58写道：

[2019-11-16 13:04] dongzl commented on #3532
According to this issue's title, `io.shardingsphere.core.exception.ShardingException` is very old version, not `4.0.0.RC2`, do I make misunderstanding?

[2019-11-16 14:27] zjcnb commented on #3446
@terrymanu @bofale I've got the problem, Submit the pr tomorrow.

[2019-11-16 15:27] Spacebody commented on #3532
Oh, sorry for forgetting my change of code. Originally I used
sharding-jdbc-spring-boot-starter 3.1.0, and I encountered this problem.

董宗磊 <notifications@github.com> 于2019年11月16日周六 下午9:05写道：

[2019-11-17 01:56] lwl888 opened #3540 "doc error"
3.2 Read separation -3.2.3 does not support items
1. The data synchronization between the main library and the from the library.
2. Data inconsistencies caused by data synchronization delays between the primary and primary libraries.

The first item says that data synchronization between the primary and the store is not supported, and the second item says that data synchronization delay between th

[2019-11-17 04:32] dongzl commented on #3540
Hi @lwl888 ,
**For English only**, other languages will not accept.

I think you can submit a new issue in English on incubator-shardingsphere-doc's issue list.

https://github.com/apache/incubator-shardingsphere-doc/issues

[2019-11-17 04:52] lwl888 commented on #3540
update commited

[2019-11-17 04:59] lwl888 commented on #3540
Chinese doc error

[2019-11-17 08:56] Anilople opened #3542 "Cound one disable some SQL in Sharding proxy for safety?"
## Feature Request

Sometimes in production, we just need **SELECT**, other SQL will not needed. It is more safe to just use **SELECT**, disable other like **INSERT, UPDATE, DELETE** in production environment.

### Is your feature request related to a problem?

Yes. Make production more safety.

### Describe the feature you would like.

In config **server.yaml**，one can add white list to enable a

[2019-11-17 09:18] #3533 closed

[2019-11-17 09:25] terrymanu commented on #3542
It is a really big feature for SQL audit, we have no plan to do it now.
If somebody interest that, we can talk about the scope first.

[2019-11-17 09:26] terrymanu commented on #3540
Hi, Can you submit a pull request to fix this?

[2019-11-17 09:29] #3532 closed

[2019-11-17 09:46] tristaZero commented on #3446
@bofale  Hi, CatalogName is `username`, not `XE` which is ServiceName,right?

[2019-11-17 09:50] tristaZero commented on #3446
Actually, another contributor is handling this similar issue, please refer to #3516 .

[2019-11-17 10:04] lwl888 commented on #3540
This error appears in the official document, which appears to be without the document in the project

[2019-11-17 11:46] lcx1989210 commented on #3515
Hi, are u here ?
I continued the test this days and I should have found what case the problem.
The class io.shardingsphere.core.routing.type.standard.StandardRoutingEngine, I added some log printing to the method routeByShardingConditions.

![LNL40GA%UR~TW4R4V V U71](https://user-images.githubusercontent.com/21120592/69006862-727cf380-0970-11ea-9f9c-55e633d199db.png)

In some case ,  shardingCondi

[2019-11-17 11:49] lcx1989210 commented on #3515
This problem bothers me really for a long time. Can you give me some suggestion?

[2019-11-18 01:17] hao110937733 opened #3544 "NO PRIMARY KEY：when double click any table in shardng-proxy,warning:no primary key, update table_name SET ModifiedFiedDiedsAndValues WHERE AllFieldsAndOldValues LIMIT 1"
when I create table by sharding-proxy,open any table in sharidng-proxy,The system prompts that there is no primary key
this is my mysql:
CREATE TABLE PT_DM_PKG
(
   PKG_ID               VARCHAR(32) NOT NULL COMMENT '包ID',
   PKG_NAME             VARCHAR(64) NOT NULL COMMENT '包名称',
   PAR_PKG_ID           VARCHAR(32) COMMENT '父包ID',
   APP_ID               VARCHAR(32) NOT NULL COMMENT '应用ID',
   PK

[2019-11-18 01:30] dongzl commented on #3544
Hi @hao110937733 ,  do you have the same problem with this issue #3005 ?

what's your Sharding-Proxy version?

Can you provide you Configuration file?

[2019-11-18 02:24] ronyuzhang commented on #3531
I found the cause of the problem ， sorry， i have  a mistake in property files.

[2019-11-18 02:24] #3531 closed

[2019-11-18 02:48] RaigorJiang commented on #3523
Maybe the following document can help you:
https://shardingsphere.apache.org/community/cn/contribute/contributor/

[2019-11-18 03:17] terrymanu commented on #3523
@gfreezy Welcome to fix this issue, I just assign it to you, welcome discuss further.

[2019-11-18 03:19] terrymanu commented on #3544
@hao110937733  Can you describe the summary in title for search friendly?

[2019-11-18 03:28] tristaZero commented on #3446
Please wait for #3541

[2019-11-18 03:28] #3446 closed

[2019-11-18 03:28] RaigorJiang commented on #3518
Hi, @waterMeteors
According to the existing logic, when the DAL statement (like show full fields, show create table) cannot find the routing rule, it uses random routing.  so that:
1,  if the routing database **has** the target table, we will get correct result;
2, if the routing database **doesn't have** the target table, we will get an error: 'table doesn't exist';

Did you configure the 'defaul

[2019-11-18 03:29] tuohai666 opened #3545 "XA failure of PostgreSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-18 03:41] terrymanu commented on #3540
FIY: https://shardingsphere.apache.org/community/en/contribute/document-contributor/

[2019-11-18 03:59] dongzl commented on #3503
If #3541 's code can be merged, This bug will be fixed in #3541 .

[2019-11-18 04:44] SteNicholas commented on #3527
Exception that “Unsupported major.minor version 52.0” is caused by the compile version of JDK.Please use JDK8 compile this image.

[2019-11-18 05:17] tuohai666 opened #3546 "Failed to switch schema, please terminate current transaction"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-18 06:12] hao110937733 commented on #3544
@dongzl
Sharding-Proxy version:4.0.0-RC2
Configuration file:
[sharding-ms_model.txt](https://github.com/apache/incubator-shardingsphere/files/3856996/sharding-ms_model.txt)

[2019-11-18 06:18] dongzl commented on #3544
Hi @hao110937733 , I have fixed it in 4.0.0-RC3, it will be released very soon, you can try it.
issue: #3005
PR: #3379

I think they are same problem.

[2019-11-18 07:03] lcx1989210 commented on #3515
@terrymanu  @dongzl
Can  you give me some advice to help me solve this problem?

[2019-11-18 08:19] dongzl commented on #3515
Hi @lcx1989210 ,

First your version is 3.1.0, it is older version, you can try 4.0.0-RC2 version and found the same problem or not.

Second I found you define the `databaseShardingStrategy` and `tableShardingStrategy` yourself,
can you provide their code?

Finally, can you provide a test project for this problem, we can reproduce it.

[2019-11-18 08:30] 1314cc commented on #845
Is there configuration that we can specify our own sql parser for some sql statements? As we do not use any sharding for those tables.

[2019-11-18 09:23] wjwei opened #3549 "RangeShardingAlgorithm supports >, <, >=, <= queries for sharding fields?"
## Question
Does the RangeShardingAlgorithm algorithm support >, <, >=, <= queries for sharding fields? Only support between and?

[2019-11-18 09:32] terrymanu commented on #3549
Yes, it is, please see #1819

[2019-11-18 09:32] #3549 closed

[2019-11-18 09:36] wjwei commented on #3549
Will it be supported in a future version?

[2019-11-18 09:49] lightning-pro opened #3550 "Timestamp miss milliseconds"
### Which version of ShardingSphere did you use?
shardingsphere-4.0.0-RC2-1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy

### Expected behavior
insert a timestamp value into table with milliseconds

### Actual behavior
insert a timestamp value into table without milliseconds

### Reason analyze (If you can)
I think maybe related to the Timestamp long construtor i

[2019-11-18 10:01] dengjin001 opened #3551 "sharding 4.0.0-RC2+seata 0.9.0, error :Caused by: java.sql.SQLFeatureNotSupportedException: ParameterMetaData"
## Question
pom.xml:

[code]

seataconfig:

[code]

error message :

[code]

[2019-11-18 10:09] #3480 closed

[2019-11-18 10:27] lcx1989210 commented on #3515
First, may I use the version  4.0.0-RC2  in my production environment? Is it a stable version?

![O_(N%SFJ`0IC0S9(JRY~6N7](https://user-images.githubusercontent.com/21120592/69043623-5dff3080-0a2e-11ea-8382-b2d6a105f5e5.png)

![)QEH20{M3I~AHPS3_FJ~ SS](https://user-images.githubusercontent.com/21120592/69043730-90109280-0a2e-11ea-8881-7f96b18c9c4a.png)

![RVW PVJNOF_(XYU}@031S(1](https://user-imag

[2019-11-18 10:28] tuohai666 commented on #3458
Duplicate with [#1567](https://github.com/apache/incubator-shardingsphere/issues/1567).
And Fixed via [#2388](https://github.com/apache/incubator-shardingsphere/pull/2388).

[2019-11-18 10:28] #3458 closed

[2019-11-18 12:20] terrymanu commented on #3550
Can you provide your INSERT and CREATE TABLE SQL?

[2019-11-18 12:27] gfreezy opened #3553 "Java 11 support"
I can  run sharding-jdbc under java 11 after adding some dependencies.

[code]

Shall i send a PR?

[code]

[2019-11-18 12:28] terrymanu commented on #3553
What is the exception?

[2019-11-18 13:39] waterMeteors commented on #3518
Hi,RaigorJiang
I confirmed the sharding cinfiguration file, It is not configured the 'defaultDataSourceName'. I will try to add the it. Thank you!

[2019-11-19 01:52] xiaobai022sdo opened #3554 "mvnw build error"
[root@ incubator-shardingsphere-4.0.0-RC3]# ./mvnw clean install -Prelease
--2019-11-19 09:47:45--  https://repo.maven.apache.org/maven2/io/takari/maven-wrapper/0.4.2/maven-wrapper-0.4.2.jar
Resolving repo.maven.apache.org (repo.maven.apache.org)... 151.101.196.215
Connecting to repo.maven.apache.org (repo.maven.apache.org)|151.101.196.215|:443... connected.
HTTP request sent, awaiting response...

[2019-11-19 02:39] gfreezy commented on #3553
@terrymanu
Updated in the desc. And more info from
https://stackoverflow.com/questions/52502189/java-11-package-javax-xml-bind-does-not-exist

[2019-11-19 02:42] RaigorJiang commented on #3518
@waterMeteors   Sorry, there is a misunderstanding,  if you configure 'defaultDataSourceName',  now the DAL statement will still route to a random data source.
If you agree, we need to make some modifications to make it effective.

[2019-11-19 03:09] RaigorJiang commented on #3502
@59471032    Will close soon if no response anymore.

[2019-11-19 03:17] lightning-pro commented on #3550
Well, the root cause is that in the Mysql jdbc PreparedStatement setTimestampInternal method,
there is a checking
 this.serverSupportsFracSecs

which is to detect  the current connection agains the mysql's version

but when connect to the sharding-proxy, the response of the checking detectFractionalSecondsSupport is false . and BTW, my MySQL server is 5.7.25 version and the jdbc driver is 5.1.43

[2019-11-19 03:50] haetao commented on #3419
Another error  occured!!!  @RaigorJiang
This error is the same as the one you sent to the mailing list.
`org.postgresql.util.PSQLException:
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2440)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2183)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:

[2019-11-19 04:59] terrymanu commented on #3553
Is there compatible problem if user using  Java7 if add `javax.xml.bind:jaxb-api` dependency?

[2019-11-19 05:21] JaredTan95 commented on #3554
I tested in my local dev laptop, and all runs well.  Maybe you can clean your `m2` cache and retry.

[2019-11-19 05:25] gfreezy commented on #3553
Is sharding-jdbc targeted java 7+ ?

[2019-11-19 05:51] RaigorJiang commented on #3419
Yes, it's a different error, let's open a new issue.

[2019-11-19 05:54] xiaobai022sdo commented on #3554
I try to delete the M2 folder and  solve the problem of clean install again . Thanks

[2019-11-19 06:11] RaigorJiang opened #3555 "(Proxy) Receive error response for postgres JDBC client"
### Which version of ShardingSphere did you use?
sharding-proxy : 4.0.0-RC3-SNAPSHOT

### Expected behavior
Insert record successful and get a correct response.

### Actual behavior
Insert record successful but the client get an error response.

### Steps to reproduce the behavior
Table structure:
----------------------------------
CREATE TABLE public.t_encrypt (
 pwd varchar(32) NULL,
 "content"

[2019-11-19 06:18] RaigorJiang commented on #3555
The Error log is :

`org.postgresql.util.PSQLException:
at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2455)
at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2155)
at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:288)
at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:430)
at org.po

[2019-11-19 06:24] RaigorJiang opened #3556 "(Proxy) Response num of update is Zero for postgres JDBC client"
Which version of ShardingSphere did you use?
sharding-proxy : 4.0.0-RC3-SNAPSHOT

Expected behavior
When update one record, update success and return response number '1'

Actual behavior
When update one record, update success and return response number '0'

My configure is the same as #3555, and update process is :
String sql_update ="UPDATE t_encrypt SET content = xxx where pwd = xxx";
int num =

[2019-11-19 06:33] RaigorJiang commented on #3419
Hi, @haetao ,  new issue is #3555.

can this issue be closed?

[2019-11-19 06:52] haetao commented on #3419
Yes! #3419 can be closed!

[2019-11-19 06:57] xiaobai022sdo opened #3557 "mvnw build error"
Below in  /data/sharding/incubator-shardingsphere-4.0.0-RC3/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/ not have api and spi talog。Problematic projects :  sharding-core-* exclude sharding-core-api

The following is the wrong report：
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.3:compile (default-compile) on project sharding-core-co

[2019-11-19 07:14] xriqyu commented on #3024
I have given up using the proxy process blob Data,but I hope that you can solve this problem.
now I am using base64.
object -serialization ->byte[] data -base64 encode-> String - write -> DB
DB -read ->  String -base64 decode -> byte[] data -deserialization -> object

[2019-11-19 07:19] xriqyu commented on #3024
Testproject
git@github.com:xriqyu/TestProxyTest.git

sharding-proxy configuration:
--- start -------
schemaName: worldDB

dataSources:
 world_0:
   url: jdbc:mysql://127.0.0.1:3306/world_db_0?serverTimezone=UTC&useSSL=false
   username: root
   password: admin123
   connectionTimeoutMilliseconds: 30000
   idleTimeoutMilliseconds: 60000
   maxLifetimeMilliseconds: 1800000
   maxPoolSize: 500
   min

[2019-11-19 07:29] #3554 closed

[2019-11-19 08:20] #3419 closed

[2019-11-19 08:43] bamboog opened #3559 "Transaction use master database,Any example?"
## Question

Transaction use master database,Any example?
I've checked the document and found nothing I want；

[2019-11-19 09:11] RaigorJiang commented on #2884
Is this issue still there?  I will study it.

[2019-11-19 10:03] terrymanu commented on #3557
4.0.0-RC3 is not released for now

[2019-11-19 10:03] #3557 closed

[2019-11-19 10:04] terrymanu commented on #3540
Fixed https://github.com/apache/incubator-shardingsphere-doc/issues/360

[2019-11-19 10:04] #3540 closed

[2019-11-19 15:07] waterMeteors commented on #3518
@RaigorJiang When I was doing this,I create same table information in both databases. so random routing to any databases should have table information.I only read the source code of 3.*.*,and the understanding may be biased.I think you can try your method.Thank you very mach for you answer

[2019-11-19 15:12] #3518 closed

[2019-11-19 15:27] terrymanu commented on #3553
What's mean `how to add a new dependency`?
Is it not just introduce your dependency to maven pom?

[2019-11-19 15:30] terrymanu commented on #3559
read-write split do not support transaction

[2019-11-19 15:31] #3544 closed

[2019-11-19 15:31] terrymanu commented on #3542
May I close this issue because we have no plan to do SQL audit now?

[2019-11-19 15:33] Anilople commented on #3542
Sure. Thanks.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Liang Zhang <notifications@github.com>
发送时间: Tuesday, November 19, 2019 11:32:28 PM
收件人: apache/incubator-shardingsphere <incubator-shardingsphere@noreply.github.com>
抄送: Anilople <Anilople@outlook.com>; Author <author@noreply.github.com>
主题: Re: [apache/incubator-shardingsphe

[2019-11-19 15:35] RaigorJiang commented on #3518
@waterMeteors  Modified,  now you can try with the latest dev branch, thank you!

[2019-11-19 15:39] terrymanu commented on #3511
Will colse soon if no response anymore.

[2019-11-19 15:40] terrymanu commented on #3509
Will close soon if no response anymore

[2019-11-19 15:45] terrymanu commented on #3294
It is related with your application's TPS.
This is the same question for ask connection pool.

[2019-11-20 01:11] HongJinFeng commented on #3509
1. It is method parameter.
2. Not seewo_sys_users,It is t_demo.

[2019-11-20 01:18] wqzwh commented on #3174
@beckhampu  Has the problem been solved

[2019-11-20 01:22] dongzl commented on #3530
Hi @ssxlulu , Do you have any other problems?

[2019-11-20 01:24] wqzwh commented on #3267
@beckhampu  Is there any way to add a registration center？

[2019-11-20 01:25] wqzwh commented on #3266
Multilingual configuration has been added and is under local verification

[2019-11-20 01:32] ssxlulu commented on #3530
Close this issue for no quesiton.

[2019-11-20 01:32] #3530 closed

[2019-11-20 01:55] wanghaipeng1205 opened #3560 "all version don't support this sql ( select .....A left jion B on a.id_ = b.id_ and b.splitkey=1 where ....)?"

[2019-11-20 01:57] wanghaipeng1205 commented on #3560
now i am  using  this latest version ,but i don't know is that the latest version support ?

[2019-11-20 02:19] RaigorJiang commented on #3556
I am trying to fix this issue.

[2019-11-20 02:26] cherrylzhao commented on #3551
@dengjin001 you should not instance DataSourceProxy by yourself when using `sharding-transaction-base-seata-at`. we have integrated it inside ShardingDataSource

[2019-11-20 02:30] gfreezy commented on #3553
There exists many modules. Should i just add the dependency to all module? Or do we have different dependencies for different modules?

[2019-11-20 02:33] cherrylzhao commented on #2902
fixed it at #3552

[2019-11-20 02:50] gfreezy commented on #3553
@terrymanu
[code]

failed on java 1.7.

[code]

[2019-11-20 02:56] xiaobai022sdo opened #3561 "sharding-proxy enable zookeeper configuration start error ,version: 4.0.0-RC4"
sharding-Proxy enable zookeeper configuration in server.yaml
##########
orchestration:
  name: orchestration_ds
  overwrite: true
  registry:
    type: zookeeper
    serverLists: 172.16.251.58:2181
    namespace: orchestration
##################

[INFO ] 10:49:13.732 [main] org.apache.zookeeper.ZooKeeper - Client environment:user.dir=/data/sharding/apache-shardingsphere-incubating-4.0.0-RC4-SNAPSH

[2019-11-20 03:01] dongzl commented on #3561
Hi @xiaobai022sdo , `4.0.0-RC3` is in release process, what's your `4.0.0-RC4`?

from the error log, I think the Sharding-Proxy can't connect ZooKeeper.

[2019-11-20 03:14] #3351 closed

[2019-11-20 03:17] xiaobai022sdo commented on #3561
sharding-ui can connect  ZooKeeper 。why？

[2019-11-20 03:36] dongzl commented on #3561
what's your deployment structure for ZK, Sharding-Proxy and Sharding-ui?

They are on same machine or on different?

Can you provide you Sharding-Proxy Configuration file?

[2019-11-20 03:55] terrymanu commented on #3560
What is the error message?

[2019-11-20 03:57] terrymanu commented on #3561
We never release version 4.0.0-RC4, can you make sure your version and change the title?

[2019-11-20 04:00] wanghaipeng1205 commented on #3560
no error  but route to all shards   my version is
<dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>3.0.0.M4</version>
        </dependency>
 sql:  select 。。。 A a left join  B b on b.id=a.id left join C  on a.id=c.id  and c.splitkey=1
where ....

[2019-11-20 07:10] lcx1989210 commented on #3515
Hi, @dongzl,  Please give me a hand.
The class io.shardingsphere.core.parsing.antlr.AntlrParsingEngine and method parse().

![~_9LIP7DAA(TY7 8 T7}HRE](https://user-images.githubusercontent.com/21120592/69216030-1996a080-0ba6-11ea-9d19-6976afe474fa.png)

I met a problem，Some column have no tableName after the method  Collection<SQLSegment> sqlSegments = extractorEngine.extract(ast); .In which case

[2019-11-20 08:01] #3370 closed

[2019-11-20 08:02] tristaZero commented on #3503
It was fixed by #3541.

[2019-11-20 08:02] #3503 closed

[2019-11-20 08:09] terrymanu commented on #3560
Can you provide sharding rule configuration and log of `sql.show`?

[2019-11-20 08:09] tristaZero commented on #3524
@pengleichen  Hi This issue seems to be fixed in #3541, can you install dev branch and give a test?

[2019-11-20 08:10] terrymanu commented on #3553
They are different issue, please just talk about one issue here

[2019-11-20 08:12] terrymanu commented on #3553
For my understanding, compatible with java7 and java11 is jdk's responsibility, how should we do in our project?

[2019-11-20 08:14] terrymanu commented on #3550
What I mean is can you provide your INSERT and CREATE TABLE SQL, and we may talk about details.
ShardingSphere do not care concrete database driver.

[2019-11-20 08:15] #3542 closed

[2019-11-20 08:26] tristaZero commented on #3524
@beijing-penguin Please fix it, thanks.

[2019-11-20 08:26] gfreezy commented on #3553
java7 and java11 is not fully compatible.

[2019-11-20 08:55] bofale commented on #3446
yes, you're right!
So sorry,i 'm a little busy recently,so i forgot  reply this issue,and i  go to #3516  see this issue has fixed.
Thanks.

[2019-11-20 09:10] terrymanu commented on #3515
Hi, there are lots of information, I cannot get the point.
Maybe we can start to discuss at describe the gc or unexpected behaviour, we can analyze code later.

Your question is `Why sometimes SQL execute into all tables without sharding route, right?`

[2019-11-20 09:11] #3511 closed

[2019-11-20 09:11] #3502 closed

[2019-11-20 09:14] terrymanu commented on #3509
What is your encrypt rule configuration?

[2019-11-20 09:16] terrymanu commented on #3509
Can you fix the title about `core parameter`?

[2019-11-20 09:19] larry0592 opened #3562 "Create a foreign key using ddl，Execute twice version: 4.0.0-RC2"
2019-11-20 17:13:50.349  INFO 17944 --- [           main] ShardingSphere-SQL                       : Actual SQL: ds ::: alter table **_ACT_ID_MEMBERSHIP_**
add constraint ACT_FK_MEMB_GROUP
foreign key (GROUP_ID_)
references act_id_group (ID_)
2019-11-20 17:13:50.349  INFO 17944 --- [           main] ShardingSphere-SQL                       : Actual SQL: ds ::: alter table **_act_id_membership_**
a

[2019-11-20 09:36] lcx1989210 commented on #3515
Yes. The main question is Why sometimes SQL execute into all tables without sharding route?
 The above information is my analysis.
I found When the return value have no tableNmae in the method Collection sqlSegments = extractorEngine.extract(ast) ,then it will query  without sharding route.

Does the  method Collection sqlSegments = extractorEngine.extract(ast) use asyn when the server application

[2019-11-20 10:07] terrymanu commented on #3562
What is your sharding rule Configuration?

[2019-11-20 10:08] terrymanu commented on #3553
But this problem should resolved by JDK, not framework, is it?

[2019-11-20 10:17] gfreezy commented on #3553
https://www.oracle.com/technetwork/java/javase/11-relnote-issues-5012449.html#JDK-8190378

[2019-11-20 12:40] larry0592 commented on #3562
This is application.properties

#MySql配置
spring.shardingsphere.datasource.names=ds
spring.shardingsphere.datasource.ds.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds.driver-class-name=com.mysql.cj.jdbc.Driver
spring.shardingsphere.datasource.ds.url=jdbc:mysql://localhost:3306/larry-dev?characterEncoding=utf8&serverTimezone=GMT&nullCatalogMeansCurrent=true
spring.sh

[2019-11-20 13:33] terrymanu commented on #3562
Where is table `act_id_membership`, did you forget to config it?

[2019-11-21 01:15] larry0592 commented on #3562
We perform table splitting on some large tables（such as: person）, and other tables do not need to.

[2019-11-21 02:23] hao110937733 opened #3564 "Sharding-Proxy fuzzy query failed,Can't find any data"
sharding-proxy:4.0.0-RC2
when i use fuzzy query like"SHOW TABLES FROM `DS0` LIKE 'p%'",I can't get any data,but,this sql can work on my local library.
my config file and result of search:
[sharding-ms_model.txt](https://github.com/apache/incubator-shardingsphere/files/3872469/sharding-ms_model.txt)
![本地查询](https://user-images.githubusercontent.com/40648607/69298267-4b604380-0c48-11ea-9a0f-0cd5c49b

[2019-11-21 02:26] #3551 closed

[2019-11-21 02:37] guchengyuxiang opened #3565 "Why are exceptions missing"
## Question
Why are exceptions missing

refreshTableMetaData(connection.getShardingContext(), routeResult.getSqlStatement());

@Override
    public boolean execute() throws SQLException {
        try {
            clearPrevious();
            sqlRoute();
            initPreparedStatementExecutor();
            return preparedStatementExecutor.execute();
        } finally {
        	// error missin

[2019-11-21 02:43] beijing-penguin commented on #3524
@pengleichen I fix the issue，but unable to verify the changing code ，please you can change shardingsphere project git branch to my upstream/dev to rerun your code

①cmd run
`git remote add upstream https://github.com/beijing-penguin/incubator-shardingsphere.git`
②idea git tools switch git branch   "upstream/dev branch"

[2019-11-21 03:28] tristaZero opened #3566 "Suggestions from incubator vote of Release Apache ShardingSphere (Incubating) 4.0.0-RC3"
### Here are some suggetions for our next version release.

- [x] You might want to add a link the ASF code of conduct in your code of conduct.
- [x] You might want to update your version of the Mavin wrapper to be the latest.
- [x] Something been to have gone wrong with the footer in [1] where is says "Copyright © The Apache Software Foundation, Licensed under the Apache License, Version 4.0.0-RC

[2019-11-21 03:30] guchengyuxiang commented on #3565
jaxb-runtime

[2019-11-21 04:02] MoShangColdRain opened #3567 "Don't support ">=、<=、>、<"?"
I read the official documents, find the rangeShardingAlgorithm supporting ">=、<=、>、<", but it has no effect, just support "between and". WHY?  My version is 4.0.0-RC2.

[2019-11-21 04:12] terrymanu commented on #3567
Duplicate with #1819

[2019-11-21 04:12] #3567 closed

[2019-11-21 04:53] tristaZero commented on #3566
The first was fixed in [#366](https://github.com/apache/incubator-shardingsphere-doc/pull/366).

[2019-11-21 04:57] JaredTan95 commented on #3566
Second: according to this https://mvnrepository.com/artifact/io.takari/maven-wrapper, the maven wrapper already to be the latest.

[2019-11-21 05:04] tristaZero commented on #3566
@JaredTan95 [What we used](https://github.com/apache/incubator-shardingsphere/blob/dev/mvnw#L215) is not the latest one, i.e 0.5.x, right?

[2019-11-21 07:01] #3523 closed

[2019-11-21 07:02] terrymanu commented on #3553
We plan upgrade to java8 after 4.0.0 release, does this issue exist in jdk8 too?

[2019-11-21 09:50] laoguanjie opened #3571 "plain column name failed to pasre to cipher column in join clause"
in my envrioment, plain column is 'value', cipher column is 'value_cipher', and 'sql.show' is set true in properties.

if sql is

`
select user_id, value from user_mapping a where id = 100000100
`

it would be parsed to

`
select user_id, value_cipher from user_mapping a where id = 100000100
`

you can find 'value' is translated to 'value_cipher'.

but,

if sql is
`
select a.user_id, b.value value

[2019-11-21 11:30] ssxlulu opened #3572 "Design for MySQL information_schema query"
Query from information_schema is a common scene, some MySQL management client like Navicat will send such queries at the beginning of connection to ShardingSphere.

But ShardingSphere doesn't support information_schema query well for now.

For example, Navicat will send the following sql to SS:

`SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_SCHEMA = 'sharding_db' UNION SELECT COUNT(*

[2019-11-21 11:38] ssxlulu commented on #3572
Here are my designs for the information_schema queries:
1. Fake the responses of queries about information_schema. We can intercept such sqls and fake the responses.
2. Use default datanode. Create the logic tables in the default datanode, and route these sqls to default datanode for querying.

[2019-11-21 12:08] nickfan opened #3573 "insert data failed : java.lang.IllegalStateException: no table route info"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-21 14:40] gfreezy commented on #3553
jdk 8 is fine.

[2019-11-21 14:59] #3566 closed

[2019-11-21 15:13] terrymanu commented on #3553
ok, we can pending this issue until upgrade.

[2019-11-22 01:59] haetao opened #3576 "Update CODE_OF_CONDUCT"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-22 03:29] nickfan commented on #3573
ok, i found the problem,so Embarrassing.

[code]
should be:
[code]
to matches the dataSources prefix.

[2019-11-22 03:29] #3573 closed

[2019-11-22 03:37] #2722 closed

[2019-11-22 03:38] #3576 closed

[2019-11-22 12:35] dongzl commented on #3572
I understand this design need user create a table `t_order`  only for query information_schema.

I don't think it is a good idea. User must maintain it's structure keep up with `t_order_0`.

Parse query sql and rewrite the sql is a good idea?

[2019-11-22 17:54] wyt1128 opened #3581 "version 4.0.0-RC4 , how to make the application launch faster , when the sharding tables has millions data ?"
there are some sharding tables  for millions data each one  and  the application need to take 1 hour or more  for  launch success

use database : oracle

i found that the method: org.apache.shardingsphere.core.execute.metadata.TableMetaDataLoader#getLogicIndexes
![image](https://user-images.githubusercontent.com/22985532/69448398-668b9a00-0d93-11ea-8fe4-77862b40832d.png)
 will be take  many times

[2019-11-23 05:25] xfyang1989 opened #3582 "4.0.0-RC3 Report errors"
mysql version:mysql-connector-java-8.0.17.jar
datasource:HikariCP-3.4.1.jar
shardingsphere.version:4.0.0-RC3

Caused by: java.lang.NumberFormatException: For input string: "YES"
	at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2043)
	at sun.misc.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.lang.Double.parseDouble(Double.java:538)
	at com.mysql.cj.protocol.a.

[2019-11-23 05:41] xfyang1989 commented on #3582
How can I avoid this problem.. It seems to me that someone has asked this question before

[2019-11-23 06:38] lightning-pro commented on #3550
Well, my test table as follows

[code]
[code]
when run this test,out put would be
sharding is 3
currentTimestamp==2019-11-23 14:29:01.588

and the timestamp in database is 2019-11-23 14:29:01.0

the insert sql statement itself works fine, but the insert value of the timestamp will miss the milliseconds because of the db version checking in the mysql jdbc driver.

I do think ShardingProxy should le

[2019-11-23 07:19] dongzl commented on #3582
Hi @xfyang1989 , This problem have been found by other user and have been fixed by a contributor.

This is the issue: #3503
This is the fix PR: #3541

but the code is on dev branch and will be effective in the next release.

if you are interested in ShardingSphere, you can test this problem in dev mode.

if you only want to solve this problem right now, you can downgrade the mysql jdbc jar and try

[2019-11-23 07:49] xfyang1989 commented on #3582
OK～

发自我的iPhone

[2019-11-23 09:16] #3582 closed

[2019-11-24 10:06] ilemonchn commented on #3352
Why we can not get the  column's owner tableName from resultSetMetaData?
`String getTableName(int column) throws SQLException;`
I debuged and find this works. @KomachiSion

[2019-11-24 10:09] gudepeng commented on #2712
我发现什么原因了，也是被困扰了两天，是因为引入的druid方式错误，
错误引入方式：
<dependency>
  <groupId>com.alibaba</groupId>
  <artifactId>druid-spring-boot-starter</artifactId>
  <version>${druid.version}</version>
</dependency>
正确引入方式：
<dependency>
  <groupId>com.alibaba</groupId>
  <artifactId>druid</artifactId>
  <version>${druid.version}</version>
</dependency>

[2019-11-25 01:52] junwangit commented on #3511
I use JAVA configuration, it can be used normally.Spring boot automation configuration for the time being do not know what is the reason。

[2019-11-25 01:52] junwangit commented on #3511
Ok, please close it.

[2019-11-25 01:54] ssxlulu commented on #3572
@dongzl Hi,

We can create the table automatically.

The structure is same with each other.

Yes, it is a good idea, but I think it will be more complex to accomplish for some complex queries.

In conclusion, These designs are only in the discussion stage and more discussions are needed.

[2019-11-25 02:04] junwangit opened #3584 "Mybatis batch update, encrypt rule is invalid"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-25 02:20] dongzl commented on #3572
yes, we need more discussions.

if we create the table automatically, if user change the source table's structure，how to make it synchronous?

[2019-11-25 02:56] tristaZero commented on #3581
@wytt1128
Hi, that‘s time-consuming and necessary to be improved. Considering the statement you mentioned in this issue, as we limited one table with its catalog and schema,  i wondered that it would really time-consuming?
@beijing-penguin How about you?

[2019-11-25 03:32] terrymanu commented on #3509
Hi, will close soon if no response anymore

[2019-11-25 03:57] HongJinFeng commented on #3509
Hi, mabey you can try my sql. But note to this:
![image](https://user-images.githubusercontent.com/33616750/69511340-aeb8e100-0f7a-11ea-81fd-1d45cfc4f174.png)

[2019-11-25 05:01] KomachiSion commented on #3352
It's sound good, I will check it. Thanks.

[2019-11-25 05:03] KomachiSion commented on #3399
No response more 7days. I will close this issue.

[2019-11-25 05:04] #3399 closed

[2019-11-25 05:12] ssxlulu commented on #3572
Just also change the structure, I think.

[2019-11-25 06:32] sunbufu commented on #3352
I think you should debug it with oracle driver again.

[2019-11-25 07:00] tuohai666 opened #3587 "Performance declined by DatabaseMetaData::getUserName()"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-25 07:11] terrymanu commented on #3561
Hi, will close soon if no response anymore

[2019-11-25 07:11] terrymanu commented on #3560
Hi, will close soon if no response anymore

[2019-11-25 07:24] terrymanu commented on #3509
I have 2 suggestions, maybe you can have try:

1. Version 4.0.0-RC3 is released, some of encrypt bugs are fixed, you can try to this version
2. If the issue still existed, please provide the log of `sql.show`.

Another suggestion is could you use code to instead of screenshot? Screenshot cannot search by other people.

[2019-11-25 08:17] tucaoxingren opened #3590 "设置默认数据源 应用启动失败 提示表或视图不存在"
<sharding:sharding-rule data-source-names="shardingsphere-sbj,shardingsphere-km,shardingsphere-spt" default-data-source-name="shardingsphere-spt" >

设置default-data-source-name后应用启动失败 提示表或视图不存在 删除default-data-source-name正常启动 正常使用

[2019-11-25 08:40] xilipilige opened #3591 "postgresql sharding proxy 4.0.0-RC3 Error"
the error info is

`[ERROR] 16:28:29.726 [pool-4-thread-1] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
        at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.datasource.JDBCBackendDataSource.createConnection(JDBCBackendDataSource.java:150)
        at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.datasource.JDBC

[2019-11-25 08:48] vioao opened #3592 "[sharding-jdbc: 3.1.0] MasterSlaveRouter does not work well in some occasion"
## Question
I see the source code, and find that the MASTER_VISITED will be clear when the connection is closed.
And then, a read SQL that after write SQL in the same thread will be route to the slave.
Is that right?  I think it needs to be routed to the master.

I'm using:
hikariCP: 3.3.1
jooq: 3.12.1
sharding-jdbc: 3.1.0

[code]

[2019-11-25 08:49] dongzl commented on #3590
Hi @tucaoxingren ,

**For English only**, other languages will not accept.

You can close this issue and submit a new issue in English again.

[2019-11-25 09:18] #3590 closed

[2019-11-25 09:22] tucaoxingren commented on #3590
已解决 默认数据源中不能有分片的数据表

[2019-11-25 09:29] RaigorJiang commented on #3591
What is your SQL?   @xilipilige

[2019-11-25 09:35] xilipilige commented on #3591
I just use the dbeaver to try to connect to the sharding proxy, but report this exception
@RaigorJiang

[2019-11-25 09:38] xilipilige commented on #3591
this is my debug info
@RaigorJiang
In addition, I found that sharding proxy does not support PostgreSQL as well as mysql

[2019-11-25 09:42] xilipilige commented on #3591
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Raigor"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月25日(星期一) 下午5:29
收件人:&nbsp;"apache/incubator-shardingsphere"<incubator-shardingsphere@noreply.github.com&gt;;
抄送:&nbsp;"沈勇"<2106678195@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/incubator-shardingsphere] postgresql  sharding proxy 4.0.0-RC3 Error (#

[2019-11-25 09:42] RaigorJiang commented on #3591
So what is you DBeaver's version?

Yes, there are some issues for Proxy with PostgreSQL,  like #3104 , #3555, #3556 ,
If you are interested, we can improve it together.

[2019-11-25 09:46] xilipilige commented on #3591
DBeaver's version is 5.1.2 Community Edition

I like shardingsphere very much. I will try my best to participate in the community

[2019-11-25 09:50] RaigorJiang commented on #3591
When I use DBeaver 6.0 to connect to Proxy, the error is like #3104 ,  I will try your version.

[2019-11-25 09:50] SteNicholas commented on #3556
@RaigorJiang Do you fix this issue?If not, I will fix this~

[2019-11-25 09:55] RaigorJiang commented on #3556
Hi @SteNicholas
I have read the document and code,  but haven't found a solution yet.
If you know how to fix it,  please do it, thank you!

[2019-11-25 14:12] terrymanu commented on #3591
@RaigorJiang  Great, assigned

[2019-11-25 14:16] terrymanu commented on #3562
If do not config `act_id_membership` and default data source, how shardingsphere to know which data source to be execute for this table?

[2019-11-25 14:17] #3587 closed

[2019-11-26 00:27] #3227 closed

[2019-11-26 01:37] KomachiSion commented on #3077
Sharding-scaling has been merged to branch `sharding-scaling`

[2019-11-26 01:37] #3077 closed

[2019-11-26 02:17] KomachiSion opened #3598 "Develop lists before merge sharding-scaling into dev branch"
Currently, ShardingScaling project has been merged into incubator-shardingsphere, as a sub-project in branch `sharding-scaling`.

But It's not enough to release, and can't merge to main branch `dev`. There are some things must be done, I think:

- [x] Refactor and enhance sharding-scaling-core #3602
- [x] Need to be serviced and provide public interfaces #3256
- [x] UI design and cooperation
- [x]

[2019-11-26 03:41] lirengui opened #3599 "Can sharding strategy configuration files support Java？"
What else does this fragmentation strategy support besides expressions? Does java code support it? If so, what should I pay attention to

[2019-11-26 03:42] lirengui commented on #3599
![a56247a02313a40ebdcf2da3860540f](https://user-images.githubusercontent.com/26484302/69597719-daeb6500-1041-11ea-9edb-7cb78d6f6be0.png)

[2019-11-26 05:16] terrymanu commented on #3599
Can you change title for search friendly?

[2019-11-26 05:20] terrymanu commented on #3571
Can not support subquery now

[2019-11-26 05:23] lirengui commented on #3599
ok

[2019-11-26 05:52] dongzl commented on #3572
relation: #1176

[2019-11-26 06:24] SteNicholas commented on #3555
@RaigorJiang Can you provide the exception log?

[2019-11-26 06:25] SteNicholas commented on #3556
@RaigorJiang You can refer to EncryptStatementTest unit test~

[2019-11-26 06:33] SteNicholas commented on #3104
@RaigorJiang Can you provide this SQL?

[2019-11-26 06:54] RaigorJiang commented on #3591
Hi, @xilipilige
I test DBeaver 5.1.2 Community Edition,  with sharding proxy 4.0.0-RC3 binary package, the exception is as same as yours.

Then I use  DBeaver 5.1.2 to test the latest source code of SS(dev branch), and the exception is still
`java.lang.IllegalArgumentException: Cannot find JDBC type '2003' in PostgreSQL column type`.

[2019-11-26 06:56] SteNicholas commented on #3591
@RaigorJiang You just connect the proxy?

[2019-11-26 07:04] partys88 commented on #234
三只松鼠
![图片](https://user-images.githubusercontent.com/13522975/69606552-1431ce00-105e-11ea-8bf2-2652389a1b64.png)

[2019-11-26 07:54] ssxlulu opened #3600 "Add sharding-scaling-distribution module"
Add sharding-scaling-distribution module.
@KomachiSion
@avalon566
@dongzl

[2019-11-26 08:23] beijing-penguin commented on #3581
①I read the sharding-jdbc code [dev],the TableMetaDataLoader#getLogicIndexes  method will only be executed once at my only sharding table sharding-config.
②I test the getIndexInfo method....as:
[code]
cost=17
A little cost....so you can describe your test method..

[2019-11-26 08:36] KomachiSion commented on #3600
@ssxlulu Yes, We need move assembly from sharding-scaling-bootstrap to sharding-scaling-distribution

[2019-11-26 08:37] infinite-m opened #3601 "sharding-jdbc-spring-boot-starter upgraded to 4.0.0-RC3 failed"
I upgraded from 4.0.0-RC2 to 4.0.0-RC3 ,but can not start project anymore.
the info is:
[code]

[2019-11-26 08:44] dongzl commented on #3601
Hi @infinite-m ,

Please reference this issue: #3582 .

[2019-11-26 08:46] infinite-m commented on #3601
application.yml
[code]
table info
[code]

[2019-11-26 08:48] #3601 closed

[2019-11-26 09:02] KomachiSion opened #3602 "Refactor and enhance sharding-scaling-core"
- [x] Refactor SyncExecutor to SyncExecuteEngine
- [x] Refactor DataSyncTask
- [x] Implement SyncTaskProgress
- [x] Use Callback to report completed sync task

[2019-11-26 09:43] avalon566 commented on #3602
I am working on task one, assignees this to me?

[2019-11-26 14:09] #3592 closed

[2019-11-26 15:10] #3422 closed

[2019-11-26 15:13] terrymanu commented on #3599
`fragmentation policy` should be `sharding strategy`, is it? Can you fix the title again?

[2019-11-26 15:24] lirengui commented on #3599
Oh, sorry, English is not very good. I tried to use hint to segment, but I implemented hintshardingalgorithm interface in API and rewritten doshading (), but I found that he didn't execute my implemented doshading (). What's the problem? Thank you

[2019-11-26 16:57] wyt1128 commented on #3581
the log output
[code]
the table SHARDING_TABLE_2015_01 and SHARDING_TABLE_2015_02 has 13,808,757 records
i tracking code found that in the oracle driver will  execute
 `analyze table SHARDING_TABLE_2015_02 compute statistics`
 execute once will take about  7.8 min .

[2019-11-27 01:26] wgy8283335 commented on #3185
The new configuration in a yml file, will like this:
spring:
    shardingsphere:
        orchestration:
            testname1:
                orchestration-type: registry_center,distributed_lock_management
                instance-type: zookeeper
                server-lists: 192.178.32.45:9001,192.178.32.45:9002,192.178.32.45:9003
                namespace: testnamspace1
                props:

[2019-11-27 02:36] haetao opened #3608 "SnowflakeShardingKeyGeneratorTest CI test error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-27 02:43] lirengui opened #3609 "How to use hint sharding"
If you use hint to segment, you must first use hintmanager to set shardingvalue prompt value on the business system, right

[2019-11-27 02:44] #3524 closed

[2019-11-27 05:24] beijing-penguin commented on #3581
I verify  that the getIndex cost will be high when oracle data generate over a million.....but shardingjdbc run getIndex method only  run once,,,how do you make getIndex  be executed all the time?

[2019-11-27 05:47] RaigorJiang commented on #3556
@SteNicholas OK, thanks  👍

[2019-11-27 06:22] wyt1128 commented on #3581
i  just run the application . and the application has many data Nodes , so the method getIndexInfo  will be invoke several times .
[code]

[2019-11-27 06:29] beijing-penguin commented on #3581
if just you do not run the application  by this way,shardingjdbc will be no problem,right?  because getIndexInfo only is excuted once..right?

[2019-11-27 08:19] RaigorJiang commented on #3556
Hi, @SteNicholas
I think the problem is how to get the client to get data according to the postgres protocol, so refer to the Statement is not very helpful.

[2019-11-27 08:25] SteNicholas commented on #3556
@RaigorJiang I mean that you can use EncryptStatementTest to validate client operation that gets data according to the postgres protocol.

[2019-11-27 08:35] RaigorJiang commented on #3556
Oh, let my try  :)

[2019-11-27 09:10] lightning-pro commented on #3550
Hello ,any updates on this? if any other information is needed ,please let me know.

[2019-11-27 09:40] RaigorJiang commented on #3556
@SteNicholas  Sorry, I still have no idea, could you fix it?  And I'll learn from you, thanks for your help.

[2019-11-27 09:44] KomachiSion commented on #3600
@ssxlulu , The Pr has merged, should close this issue?

[2019-11-27 11:49] #3608 closed

[2019-11-27 12:58] beijing-penguin commented on #3581
oh,I am sorry....I see what you mean now.....you want to make the application launch faster.Emmmm,I don't have a good plan at the moment....

[2019-11-28 01:02] #3600 closed

[2019-11-28 01:11] ssxlulu commented on #3598
Does data metrics have been included in the develop lists, like statistics about how much items have been read or writen, the total items have been migrated?

[2019-11-28 01:18] KomachiSion commented on #3598
It should be include in scaling progress I think.

[2019-11-28 01:24] ssxlulu commented on #3598
Yes, I see the scaling progress item.I will submit a new issue and let's talk about it.

[2019-11-28 01:38] ssxlulu opened #3617 "Show scaling progress and detail"
Show scaling progress and detail may include the following items:
1. Number of all tasks;
2. Number of remaining tasks;
3. Number of rows read;
4. Number of rows write;
5. Number of Abnormal rows;
6. Average read rate;
7. Average read rate;
8. statistics about the whole progress:
   (1) Number of schemas and tables;
   (2) Total time;
   (3) Total read rows and speed;
   (4) Total write rows and s

[2019-11-28 01:41] ssxlulu commented on #3617
@KomachiSion This is the issue about statistics of scaling progress.

[2019-11-28 02:16] HongJinFeng commented on #3509
The new Version fixed this bugs.

[2019-11-28 02:16] #3509 closed

[2019-11-28 02:54] HongJinFeng opened #3618 "Encryp-JDBC rewrite wrong sql when sql contain character '('"
Encrypt-JDBC rewrite wrong sql when sql contain character '('. Besides, it works normally with the version of 4.0.0-RC2.

Version of ShardingSphere
4.0.0-RC3

JDBC I use
Encrypt-JDBC

Expected behavior
Rewrite the sql correct which is contain character '('

Actual behavior
The rewrite sql error when sql contain character '('

### Steps to reproduce the behavior, such as: SQL to execute, sharding r

[2019-11-28 03:02] wgy8283335 commented on #3185
I'd like to modfiy yml file, as below:
[code]

[2019-11-28 03:02] RaigorJiang commented on #2884
Update,  it's now processing.

[2019-11-28 03:04] KomachiSion commented on #2884
@RaigorJiang , Thanks for your contributions.

[2019-11-28 03:13] dongzl commented on #3185
@wgy8283335 , if only one, e.g only ZookKeeper as `registry_center`, `distributed_lock_management` and `configuration_center`.

The yaml file is
[code]
Have I understood correctly?

[2019-11-28 03:19] wgy8283335 commented on #3185
“-” should be kept.
[code]

[2019-11-28 03:55] avalon566 commented on #3617
I think these statistics is for running metrics, scaling progress is use for determine when to switch.

[2019-11-28 05:50] KomachiSion commented on #3617
@ssxlulu , I think the scaling progress should include the progress information, such as rows number need to sync and how many rows has sync, or the delay of logs.

Most of items you lists is monitor data. I think we can add in future, not what we need now.

[2019-11-28 07:36] ssxlulu commented on #3617
OK.

[2019-11-28 08:52] betterjava commented on #3609
Yes,  you are right. If you want further information,please see https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/usage/hint/

[2019-11-28 08:59] KomachiSion commented on #3617
I think Number of all tasks and Number of remaining tasks can be added to progress.
Rows need to synchronize and Rows have been synchronized should be included in history sync progress.
The log position and delay second should be included in real time sync progress.

[2019-11-28 09:03] lirengui commented on #3609
Mm-hmm. today we implemented and tested the hint sharding method. After evaluation, it seems that it is not good. If this sharding method is used in batch insertion, it will cause data sharding failure. Because it is an insert completed under the same connection, and the sharding value is only set once, so this batch of data can only be distributed in the database or table under the sharding value

[2019-11-28 09:47] betterjava commented on #3599
Inline expressions use Groovy syntax.If you want futher information,please see
https://shardingsphere.apache.org/document/current/en/features/sharding/other-features/inline-expression/  or
https://shardingsphere.apache.org/document/current/cn/features/sharding/other-features/inline-expression/

[2019-11-28 09:52] betterjava commented on #3609
Can you show how your code how to use hint? I don't understand you well.

[2019-11-28 11:09] ffengjiee opened #3621 "ping err"
select 1;
result : Cannot find table rule and default data source with logic tables

[2019-11-28 14:11] terrymanu commented on #3621
Please fill necessary information followed the template

[2019-11-29 03:41] chenshun131 opened #3623 "java.lang.NumberFormatException: For input string: "YES""
## Bug Report
Connecting to mysql using sharding-jdbc 4.0.0-rc3 always fails to start.

### Which version of ShardingSphere did you use?
ShardingSphere 4.0.0-RC1 4.0.0-RC2 4.0.0-RC3

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
Properly configured environment, the project can not start properly, the following error:
Caused by: org.springframe

[2019-11-29 03:46] dongzl commented on #3623
Hi @chenshun131 , you can reference this issue #3582 .

[2019-11-29 03:49] chenshun131 commented on #3623
ok

[2019-11-29 06:49] xiaolongyuan opened #3624 "4.0.0-RC3 Cannot determine value type from string 'NO'"
[code]

[2019-11-29 06:53] beijing-penguin commented on #3623
this problem is fixed at dev branch...now you can  reduce the mysql drive version

[2019-11-29 07:01] zjcnb commented on #3618
i hava two question for this issue，First，this spring.shardingsphere.encrypt.encryptors.encryptor_aes.props.aes.key.value = ?
Second, SELECT * FROM t_demo t WHERE (t.username IN #{phone} OR t.phone IN #{phone} ) AND delete = 0 this sql is error，Is that Right, SELECT * FROM t_demo t WHERE (t.username IN ('13718687573') OR t.phone IN ('13718687573'))

[2019-11-29 07:29] dongzl commented on #3624
Hi @xiaolongyuan , you can reference this issue #3582  .

[2019-11-29 07:45] HongJinFeng commented on #3618
Frist question: Copy from my project. It is not needed in this is issue demo.
Copy from my project.
Sencondary questuon: I dont know with my content was formated to '
SELECT * FROM t_demo t WHERE (t.username IN #{phone} OR t.phone IN #{phone} ) AND delete = 0'
Actual content is
![image](https://user-images.githubusercontent.com/33616750/69852397-1c3c7880-12bf-11ea-897d-424ed17b1215.png)

[2019-11-29 07:48] zjcnb commented on #3618
ok, I verified this，let me see

[2019-11-29 08:04] KomachiSion commented on #3623
duplicate with #3582

[2019-11-29 08:04] #3623 closed

[2019-11-29 08:05] KomachiSion commented on #3624
duplicate with #3582 .

[2019-11-29 08:05] #3624 closed

[2019-11-29 08:14] SteNicholas commented on #3618
@terrymanu Please assign me to solve @HongJinFeng @zjcnb question.

[2019-11-29 09:03] skyoxZ opened #3626 "Best practice of using Sharding-Proxy for different business systems"
For different business systems, is it better to deploy a unified Sharding-Proxy or individual Proxy for each business system?

If it is designed to deploy a unified Sharding-Proxy, I'm suprised that some configs such as `query.with.cipher.column` are global.

[2019-11-29 14:43] terrymanu opened #3627 "Refactor DISTINCT SQL merge"
Current distinct process logic is too complicated and mix the logic with execute module and merge module.
We need to refactor it.

- [x] Reuse GROUP BY's logic to process DISTINCT row, add all DISTINCT projections in to group by items
- [x] Refactor `SUM (DISTINCT xxx)` and `COUNT (DISTINCT xxx)` from QueryResult to `GroupByStreamMergedResult` and `GroupByMemoryMergedResult`
- [x] Add `DistinctSum

[2019-11-30 00:52] HongJinFeng commented on #3618
![image](https://user-images.githubusercontent.com/33616750/69893591-b99@zjcnb 80-134e-11ea-8fff-c3a438f51593.png)
EncryptPredicateRightValueToken.toStringForIn
@zjcnb I found the bug.

[2019-11-30 01:52] HongJinFeng commented on #3618
![image](https://user-images.githubusercontent.com/33616750/69894175-214d0680-1357-11ea-8b71-824ea0cd4643.png)

@zjcnb

[2019-11-30 07:34] HongJinFeng opened #3628 "Index out of bounds exception when set value of encrypt parameter"
Index out of bounds exception when set value of encrypt parameter

Version of ShardingSphere
4.0.0-RC3

JDBC i use
Encrypt-JDBC

Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
1.MySQL table and encrypt configuration
table：
create table t_demo{
username varchar(20),
phone varchar(20),
username_encrypt(64),
phone_encrypt(64),
version

[2019-11-30 11:07] terrymanu commented on #3565
Can you try version 4.x? 3.x is out of service

[2019-11-30 11:07] #3561 closed

[2019-11-30 11:07] #3560 closed

[2019-11-30 11:34] tuohai666 commented on #3550
Hi @lightning-pro,

I just go through all the messages on this issue. You already have a lot of findings.
I need the clear and brief answers to the following questions:

1. Have you tested by connecting to MySQL directly? How about the result?
2. Have you tested by connecting to Sharding-Proxy with raw Connector/J? How about the result?
3. Is there a bug in Sharding-Proxy? Is the bug related with

[2019-11-30 13:36] avalon566 commented on #3617
The progress data look like this
[code]

[2019-11-30 23:24] #3627 closed

[2019-12-01 07:44] terrymanu commented on #3626
We can talk about how to enhancement it

[2019-12-01 07:46] terrymanu commented on #3584
Can not support multiple SQL in one statement

[2019-12-01 07:46] #3584 closed

[2019-12-01 07:47] terrymanu commented on #3562
Will close soon if no response anymore

[2019-12-01 07:48] #3559 closed

[2019-12-01 07:49] #3294 closed

[2019-12-01 11:38] xr2117 opened #3630 "Problems in integrating MySQL 8.0.17"
Problems in integrating MySQL 8.0.17

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'shardingDataSource' defined in class path resource [org/apache/shardingsphere/shardingjdbc/spring/boot/SpringBootConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantia

[2019-12-01 11:52] dongzl commented on #3630
Hi @xr2117 , you can reference this issue #3582 .

[2019-12-01 14:42] #3630 closed

[2019-12-01 15:16] xr2117 opened #3631 "Data type problems"
Use version
-----------
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC3</version>
        </dependency>
-----------
Meeting problems
-------------
2019-12-01 23:08:28.800 ERROR 25132 --- [nio-8080-exec-3] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() fo

[2019-12-02 01:57] skyoxZ commented on #3626
I'm familiar with few config.

Maybe at least we can consider letting `query.with.cipher.column` be configured on every table (for both Sharding-JDBC and Sharding-Proxy) ?

[2019-12-02 02:23] ssxlulu commented on #3256
In my opinion, Here are the http request apis:
1. `POST http://127.0.0.1:8080/shardingscaling/start` for starting jobs;
2. `GET http://127.0.0.1:8080/shardingscaling/progress/{job_id}` for query job progresses;
3. `DELETE http://127.0.0.1:8080/shardingscaling/stop/{job_Id}` for stopping jobs.

[2019-12-02 02:49] lightning-pro commented on #3550
1.I have tested by connnecting to MySQL directly, it work perfect
2.Yes, my last response is the pure java main test demo,it purely use the DriverManager to get an connection from Connector/J.you can just copy it and run it from any ide you want
3,yes,there is a bug in sharding-proxy, the bug is not related with any connection pool,it is related to the version checking of mysql server version.
4.Ｉ

[2019-12-02 03:30] HongJinFeng commented on #3618
Found the reason~~,  it is a little complicate to describe. This case close.

[2019-12-02 03:31] HongJinFeng commented on #3628
Found the reason~~, it is a little complicate to describe. This case close.

[2019-12-02 03:31] #3628 closed

[2019-12-02 04:17] tuohai666 commented on #3550
@lightning-pro I got it. Thanks for your patience.

I prefer to update the version from 5.6.0-Sharding-Proxy to 5.6.4-Sharding-Proxy.

[2019-12-02 04:57] haetao opened #3633 "Version 4.0.0-rc3 : generated by LeafSnowflakeKeyGeneratorkey mod 4 always is 0/1, expected 0/1/2/3"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-02 05:08] terrymanu commented on #3631
duplicate with #3553

[2019-12-02 05:08] #3631 closed

[2019-12-02 06:32] crazyrunner01 opened #3634 "sharding-jdbc If the query does not have a sharding condition, then the full route is taken. Could this process be more flexible?"
i think If you choose sub-database and sub-table, then your business volume must be very large. If the business data of a single table in the transaction database exceeds 10 million, sub-tables will be used, and you also sub-database, the transaction data should exceed 100 million At this time, if it is a query without a partition key, such an access request should be rejected from the access midd

[2019-12-02 06:54] lightning-pro commented on #3550
Hi,@tuohai666

I am wondering why you like to hardcode the version number... cause when I debug in the mysql driver, I found that there are a lot of different version checkings for different mysql functions.I am not sure if the 5.6.4 is the highest version number in all the driver source code, for timestamp format itself,it is 5.6.4,but for others, some lower, some maybe higher, I think the most s

[2019-12-02 06:58] terrymanu commented on #3634
If SQL without sharding key, what behaviour do you expect except route to all data nodes?

[2019-12-02 07:01] terrymanu commented on #3515
Can you provide the log of `sql.show`?

[2019-12-02 07:04] terrymanu commented on #3527
Does anybody interest with this issue?

[2019-12-02 07:07] terrymanu commented on #1176
I just close this one, let's talk about #3572

[2019-12-02 07:07] #1176 closed

[2019-12-02 07:17] avalon566 commented on #3527
I am interesting, pls assign to me.

[2019-12-02 07:24] #1951 closed

[2019-12-02 07:43] crazyrunner01 commented on #3634
Hello, I wonder if I can add a property to control whether to take the full route, or throw an exception to abort such a request that no shard condition, or let the developer handle it.

[2019-12-02 07:44] tuohai666 commented on #3550
I understand your concern.

Actually, I checked all the versions as a condition in Connector/J, only 5.6.4 will cause critical troubles. That's why I chose this version.

To explain why hardcode the version number, here are the reasons:

1. Databases mananged by one Sharding-Proxy instance may have different versions, there's no restricted conditions of the version consistency. In the inconsistent

[2019-12-02 07:45] crazyrunner01 commented on #3634
This requirement is made because we do not want to make changes at the orm layer.

[2019-12-02 08:00] lightning-pro commented on #3550
ok, incase you have checked all the versions in Connector/J, it would be enough for this momenet.
Well, for the moment, I don't have a deep knowlege of this sharding product. I am only a new user to this and considering to use this proxy in production if all the test passed ^_^

[2019-12-02 08:20] terrymanu commented on #3634
It is not a good idea to let user to handle by programing with SQL problem by themselves.
How many user can understand this feature?

[2019-12-02 08:27] #3550 closed

[2019-12-02 09:20] crazyrunner01 commented on #3634
hello ,I know that sharding-jdbc is not a orm,it is a enhanced version of a jdbc driver,I wonder if it is possible to abort the query at this level if SQL does not have a shard key，or let developer handle it that no shard key,more flexible,As my question above,route to all data nodes could consume a lot of database resources and cause business damage.

[2019-12-02 09:24] haetao commented on #3633
One of My  unit test cases code as follows

The key code is `FieldUtil.setStaticFinalField(leafSnowflakeKeyGenerator, "timeService", new FixedTimeService(6));`

My  test   case   just   invokes  `5`   times , but  I set the  `invokeTimes`  of  `FixedTimeService.getCurrentMillis()`   is  `6` .

Why  should  i  do  this ?   The   reason  as  follow:
When `LeafSnowflakeKeyGenerator`  is being initial

[2019-12-02 09:25] haetao commented on #3633
Any good suggestions?

[2019-12-02 09:32] haetao commented on #3633
FixedTimeService  code  as  follows

[2019-12-02 10:11] sunliangyu opened #3635 "Must the table name be lowercase when set by sharding conifg?"
If my table name is set to uppercase.LogicTable is converted to lowercase when TableRule is generated. But ,When doing join query( ComplexRoutingEngine.route  ),The logical table passed in when StandardRoutingEngine was created is converted to lowercase.
result.add((new StandardRoutingEngine(this.shardingRule, ((TableRule)tableRule.get()).getLogicTable(), this.optimizedStatement)).route());
  -> S

[2019-12-02 10:15] sunliangyu commented on #3635
this.logicTableName  is lower case ，
each.getTableName  is upper case

[2019-12-02 11:42] dai-ych opened #3637 "The result set obtained by the data desensitization query is not decrypted"
### Which version of ShardingSphere did you use?
4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
"pwd": 123456,
"pwdCipher": "123456",
### Actual behavior
"pwd": 123456,
"pwdCipher": "uuSnOplnPkGpTRbSHgdNUQ==",
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
shardingsp

[2019-12-03 04:04] lightning-pro commented on #3550
Hi,
After recompile the source code and test, the insert of the sql with timestamp works ok, I have check the value in the real table, it contains the milliseconds. but when read from the proxy, it miss the milliseconds again.
When I debug the mysql jdbc driver, I found that the value of the length of timestamp field in internalRowData of com.mysql.jdbc.ByteArrayRow are different when connnecting

[2019-12-03 04:05] beijing-penguin commented on #3581
mysql is no problem，so this is oracle third-party problem..Maybe we shoud wait oracle version updating.this issue should think again or again, etc.

[2019-12-03 04:12] tristaZero opened #3639 "Inaccurate result when execute `desc encrypt_table`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-03 04:13] lightning-pro opened #3640 "Timestamp miss milliseconds when reading from sharding-proxy"
### Which version of ShardingSphere did you use?
4.0.0-RC4 compile by myselft from the source code
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy
### Expected behavior
read the timestamp value from sharding-proxy should contains the milliseconds
### Actual behavior
miss the milliseconds when reading from sharding-proxy
### Reason analyze (If you can)
maybe there is

[2019-12-03 04:25] #3633 closed

[2019-12-03 04:35] #3562 closed

[2019-12-03 04:36] terrymanu commented on #3634
How to deal with in sharding-proxy？

[2019-12-03 04:37] terrymanu commented on #3635
What is your version, sql and config?

[2019-12-03 04:38] terrymanu commented on #3637
Please try with 4.0.0-RC3

[2019-12-03 05:02] cherrylzhao commented on #2234
SQL parse engine have completed DAL refactor, the hard code for proxy handler could be removed

[2019-12-03 05:33] beijing-penguin opened #3642 "A yaml wrong or a program's bug"
**Which version of ShardingSphere did you use?**
dev  or all

**Which project did you use? Sharding-JDBC or Sharding-Proxy?**
Sharding-JDBC

**Expected behavior**
Run `void org.apache.shardingsphere.shardingjdbc.orchestration.api.yaml.sharding.YamlOrchestrationShardingWithMasterSlaveIntegrateTest.assertWithDataSource() throws Exception` test unit.

until the under code
`List<TableMetaData> org.apa

[2019-12-03 06:32] tristaZero commented on #3581
@wyt1128 Hi @beijing-penguin did a lot work to investigate this issue, and the result is that this issue lies on implementation for JDBC interface by database vendors. His test shows MySQL bebaves well, but Oracle not.

@beijing-penguin Thanks, penguin.

[2019-12-03 06:32] #3581 closed

[2019-12-03 07:16] dai-ych commented on #3637
3Q

[2019-12-03 07:16] #3637 closed

[2019-12-03 08:32] zhuyaoming opened #3644 "part of sharding key in multiple sharding strategy can not null"
sharding column value cannot insert  null ,but '' is ok?

if my sharding column is id_number
insert into a(id,id_number)values(1,'');   √
insert into a(id,id_number)values(1,null);  ×

[2019-12-03 08:33] avalon566 commented on #3617
## About how to calculate realtime data sync delay second
1. Create a table with timestamp column in source database.
1. Sharding scaling timing update the timestamp column with current timestamp.
1. Read the timestamp value from log, use current timestamp subtract the value, result is the delay second.

This solution support MySQL and PostgreSQL.

[2019-12-03 08:33] haetao opened #3645 "Modify LeafSnowflakeKeyGenerator's property naming style"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-03 08:47] crazyrunner01 commented on #3634
oh ,with sharding-proxy as same as with sharding-jdbc,the process is the same ,I see some people have asked this question before

[2019-12-03 08:57] terrymanu commented on #3644
What is your expected behaviour if sharding value is null?

[2019-12-03 09:09] minghu-zhang opened #3647 "The data decrypt failure when I use mysql's blob field"
Sharding-encrypt doesn't work when I use Msql‘s blob field. There is a problem with the following code :

StreamQueryResult.java

    private String getCiphertext(final Object value) {
        return null == value ? null : value.toString();   //Blob.toString() ?
    }

Here is type convert code :

QueryResultUtil.java

   private static Object getValueByColumnType(final ResultSet resultSet, final

[2019-12-03 09:15] #3640 closed

[2019-12-03 09:16] terrymanu commented on #3647
Can you change the title for search friendly?

[2019-12-03 09:17] terrymanu commented on #3634
Did you mean if user use sharding-proxy and SQL without sharding value, then let user write java code to handle it?

[2019-12-03 09:32] minghu-zhang commented on #3647
I have annother problem when use mybatis, mybatis need driver support jdbc's api  4.2, but sharding's EncryptResultSet doesn't support . the text field is handle by mybatis ClobTypeHandler, sharding‘s handler result is String， the following code :

EncryptResultSet.java:339

   @Override
    public Clob getClob(final String columnLabel) throws SQLException {
        return (Clob) resultSet.getValu

[2019-12-03 09:49] crazyrunner01 commented on #3634
nonono ,I did not consider the sharding-proxy ,I only considered the sharding-jdbc

[2019-12-03 09:49] zhuyaoming commented on #3644
table have column  id, id_number,caseno,tenant_id,customer_id,sex,name .....
i use [id_number,tenant_id,customer_id ] sharding column   complex algorithm
some times i insert table  only have customer_id,tenant_id. i hope insert normally

[2019-12-03 09:54] zhuyaoming commented on #3644
now  i change my sql  ,   if sharding column is null ,donot insert.

 i know  null is not a good design.  but  i want to known  why  sharing colomn cannot be null.

[2019-12-03 09:55] zhuyaoming commented on #3644
table have column id, id_number,caseno,tenant_id,customer_id,sex,name .....
i use [id_number,tenant_id,customer_id ] sharding column complex algorithm
some times i insert table only have customer_id,tenant_id. i hope insert normally

[2019-12-03 11:24] plazmdk opened #3650 "Identify database shard name by entity id"
I am using the Hint approach and only database sharding (no table sharding), where I basically ask another system of which shard I should put an entity into and select the shard accordingly.

I now want to be able to determine myself which shard an entity has been stored in.
If I inject the entity manager and perform a .find(Entity.class, "EntityId") without a hint I will get the entity, but I am

[2019-12-03 11:37] lightning-pro opened #3651 "select statement encouter error when using > comparation with strings"
Which version of ShardingSphere did you use?
4.0.0-RC4 compile by myselft from the source code
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy
### Expected behavior
select the records as expected
### Actual behavior
encounter error as belows
SQL 错误 [10002] [C1000]: 2Unknown exception: [Inline strategy cannot support range sharding.]
### Reason analyze (If you can)
ha

[2019-12-03 11:46] lightning-pro commented on #3651
BTW, when using the older version like RC2, the select as caption work perfect.

[2019-12-03 13:41] yanyzy commented on #3269
We want to do this through SQL parse and add router, add a tag field in sql, and according to this field, route to shadow database.

Here is a simple design，and we chose the second way.  because ThreadLocal might introduce other problems.

![image](https://user-images.githubusercontent.com/30677017/70055785-3bb40800-1615-11ea-9d29-3255f1608174.png)

Comments or Suggestions on this design are welco

[2019-12-03 15:34] #3645 closed

[2019-12-03 15:45] terrymanu commented on #3651
The exception tell you all necessary information:

[Inline strategy cannot support range sharding.]

[2019-12-03 15:45] #3651 closed

[2019-12-03 15:46] terrymanu commented on #3650
Can you change the title for search friendly?

[2019-12-03 15:47] terrymanu commented on #3621
Hi, will colse soon if no response anymore.

[2019-12-03 15:50] terrymanu commented on #3634
ShardingSphere should like a database, not a java SDK. sharding-proxy and sharding-jdbc are 2 different access adaptor.
We don't consider about make them diff for the core feature.
Your feature request is for SQL audit.
We have no plan to do SQL audit for now.

[2019-12-03 15:50] #3634 closed

[2019-12-03 15:52] terrymanu commented on #3644
Is it a correct behaviour for regular database? For my understanding, only add a column constraint as `NOT NULL`, then database should not permit the tuple insert into the table.

[2019-12-03 15:54] terrymanu commented on #3644
So, I want to know what is the expected behaviour for insert normally?

[2019-12-03 16:11] terrymanu commented on #3599
@lirengui, Hi, can we close this issue?

[2019-12-03 16:39] plazmdk commented on #3650
I do not know if this was better?

[2019-12-03 17:07] terrymanu commented on #3269
I like the SQL parser way, it can do with sharding-jdbc and sharding-proxy together. How do you think? @yanyzy

[2019-12-03 17:12] terrymanu commented on #3650
Please reference example.
FIY: https://github.com/apache/incubator-shardingsphere-example/tree/dev/sharding-jdbc-example/sharding-example/sharding-spring-namespace-jpa-example

[2019-12-03 17:14] terrymanu commented on #3647
We have no plan to add encrypt feature to type blob, do you want add this feature? @minghu-zhang

[2019-12-03 17:17] terrymanu commented on #3642
I run the test case, but do not find any exception, same with the jenkins CI, is your env problem?

![image](https://user-images.githubusercontent.com/5516298/70073394-c73c9180-1633-11ea-8a0c-c0da06cd8084.png)

[2019-12-04 01:35] zhuyaoming commented on #3644
no error

[2019-12-04 01:35] minghu-zhang commented on #3647
Ok,I'll try to add it

[2019-12-04 02:04] lightning-pro commented on #3651
why you decide to remove this range select query in Inline strategy? it works when in 4.0.0-RC2. this break the convenience when using this product...

[2019-12-04 02:17] KomachiSion opened #3655 "The work flow and roadmap of sharding-scaling"
The work flow we design for sharding-scaling:
![workflow.png](https://raw.githubusercontent.com/apache/incubator-shardingsphere/sharding-scaling/sharding-scaling/src/resources/workflow.png)

The roadmap of sharding-scaling:
![roadmap.png](https://raw.githubusercontent.com/apache/incubator-shardingsphere/sharding-scaling/sharding-scaling/src/resources/roadmap.png)

The first milestone in roadmap is

[2019-12-04 05:23] terrymanu commented on #3644
Which data node is the data inserted into?

[2019-12-04 06:47] yanyzy commented on #3269
Yes, in this way, we only use SQL to judge whether route to the shadow database, and user just needs to write the SQL according to the rules. so both sharding-jdbc and sharding-proxy can implement it. @terrymanu

[2019-12-04 07:11] xiaolongyuan opened #3658 "java.lang.NoSuchMethodError: com.google.common.util.concurrent.MoreExecutors.sameThreadExecutor()"
## Bug Report

[code]

### Which version of ShardingSphere did you use?

4.0.0-RC3

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-Jdbc

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

project guava: 27.0.1-jre

curator is old. guava is 18.0

update  curator to 4.x

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule c

[2019-12-04 07:32] xiaolongyuan commented on #3658
config:

[code]

project guava 18.0

Error:

[code]

[2019-12-04 07:52] fenghuanfun opened #3659 "Can not create sharding table while table exist some with jpa"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-04 07:55] KomachiSion commented on #3256
In my opinion, the `stop` interface should not use DELETE method, because this interface only stop the scaling job.

What's more all interface can add `/job/` prefix like
[code]

[2019-12-04 08:23] ssxlulu commented on #3256
Agree. The apis will be these.

[2019-12-04 08:30] lightning-pro opened #3660 "What is the best way to sharding just for a single key"
I used to have a sharding rule like this
shardingRule:
  tables:
    CUSTOMER_SMS_NUM:
      actualDataNodes: SmsPubSign.CUSTOMER_SMS_NUM_${0..16}
      tableStrategy:
        inline:
          shardingColumn: SMS_NUM_ID
          algorithmExpression: CUSTOMER_SMS_NUM_${Math.abs(String.valueOf(SMS_NUM_ID).hashCode() % 17)}

which is the best way I think for sharding only for one key like SMS_NUM_I

[2019-12-04 09:27] lirengui commented on #3599
sure,thanks!

[2019-12-04 09:55] EricLye commented on #2987
can you show your yaml?I have problems when i integrate sharding jdbc and sqlserver.It didnot work with sharding jdbc version 3.1.0 or 4.0.0-RC2.
I tried mysql,and it works well.I do not know the reason.Maybe the reason is sqlserver?

[2019-12-04 10:03] #3527 closed

[2019-12-04 10:12] EricLye opened #3662 "Integrate sharding jdbc with sql server"
## Can anybody help me?
I have worked on it for about 3 days,and it didnot work yet.
Here is my yaml
[code]
And the maven pom is below:`mssql-jdbc 6.4.0.jre8`,`sharding-jdbc-spring-boot-starter 4.0.0-RC2`
[code]
And I have tried mysql also.It works well.I do not know why.
Here is the test code below
[code]
and the exception stack trace:
[code]
I need help,really.

[2019-12-04 10:13] sunbufu commented on #3361
Hi, They are some PRs maybe can clear up your confusion. (https://github.com/apache/incubator-shardingsphere/pull/3354, https://github.com/apache/incubator-shardingsphere/pull/3150)
As you know, Nacos registry center can not support proxy util now. Are you interest in this ?

[2019-12-04 10:19] terrymanu commented on #3662
The exception is thrown form SQLServer, can you google the exception first?

`The value is not set for the parameter number 1.`

[2019-12-04 10:20] terrymanu commented on #3660
The exception is `[Inline strategy cannot support range sharding.]`

So please do not use Inline strategy with range sharding, you can use java strategy for your range sharding.

[2019-12-04 10:20] #3660 closed

[2019-12-04 10:22] terrymanu commented on #3658
Please resolve the conflict in your app scope.

[2019-12-04 10:22] #3658 closed

[2019-12-04 10:23] #3565 closed

[2019-12-04 10:28] minghu-zhang commented on #3647
Thank you very much. These problems have been fixed when I download the latest code.

[2019-12-04 10:35] terrymanu commented on #3618
@SteNicholas Thank you, assigned

[2019-12-04 10:35] #3599 closed

[2019-12-04 10:37] terrymanu commented on #3626
Good idea, we can talk about how to change the java config and yaml to make it can use `query.with.cipher.column` for each table

[2019-12-04 11:09] sunbufu commented on #3361
@huangjian888 Hi, guy. I have some questions on nacos registry center, can you help me? This is my email <sunyoubufu@163.com>. Waiting for your replay :)

[2019-12-04 11:20] huangjian888 commented on #3361
Sharding proxy needs to be configured in Nacos in advance.（#3354）

[2019-12-04 11:26] huangjian888 commented on #3361
Config-sharding.yaml ->schemaName: sharding_db
schemaName field value needs to be configured to Nacos in advance.

[2019-12-04 11:30] zhuyaoming commented on #3644
i use ComplexShardingStrategy   , tenant_id and consumer_id can known data,
and  tenant_id + consumer_id correspond only id_number.  i save Map when insert have id_number.

[2019-12-04 11:32] huangjian888 commented on #3361
Configure  .orchestration_ds.config.schema field to Nacos configuration center
such as：key->.orchestration_ds.config.schema  value-> schemaName1, schemaName2, schemaName3

[2019-12-04 12:33] #3647 closed

[2019-12-04 14:24] sunbufu commented on #3361
@huangjian888 hi, can i have your WeChat id? I have some other questions want to discuss with you. 😁

[2019-12-04 15:35] RaigorJiang commented on #2884
By the way, he property `<shardingsphere.version>`  need to upgrade to '4.0.0-RC4-SNAPSHOT' in
shardingsphere-example project.

[2019-12-05 00:53] KomachiSion commented on #2884
@RaigorJiang , I saw the version has been upgrade in 6 days ago.

[2019-12-05 01:19] ssxlulu commented on #3256
Talk about the response body:
1. Start action's reponse body:
[code]
2. Query progress's response body:
[code]
3. Stop action's response body:
[code]

[2019-12-05 02:11] EricLye commented on #3662
But all the parameters are set.
Here is the Book.
[code]
and my test code.
[code]
Besides,I tried druid + sqlserver,without sharding jdbc,and it works.So I blame this on sharding jdbc.Am I wrong?
And I accept your suggestion,I will debug the sqlserver driver.
Maybe this will force me to quit sqlserver ,to use mysql.

[2019-12-05 02:33] RaigorJiang commented on #2884
@KomachiSion   I see, thanks.

[2019-12-05 02:39] EricLye commented on #3662
I think I found something.In the shardingPreparedStatement,parameters are empty.
![微信图片_20191205102445](https://user-images.githubusercontent.com/38176256/70198325-8040c000-1749-11ea-9434-ee0971f26db0.png)
But in org.apache.ibatis.mapping.MappedStatement,there are the parameters.Look at the picture below.
![微信图片_20191205103543](https://user-images.githubusercontent.com/38176256/70198927-3e187e00-1

[2019-12-05 03:26] wanghaipeng1205 opened #3664 "sharding 和mybatis存在sql分页不兼容"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-05 03:26] wanghaipeng1205 commented on #3664
![image](https://user-images.githubusercontent.com/35290033/70201623-2395d300-1752-11ea-8da3-b22483493319.png)

[2019-12-05 03:27] wanghaipeng1205 commented on #3664
![image](https://user-images.githubusercontent.com/35290033/70201655-3dcfb100-1752-11ea-94a6-5b078bb779e2.png)

为什么会有2条统计的sql,导致我总数无法查出来

[2019-12-05 03:28] wanghaipeng1205 commented on #3664
Rule Type: sharding
[2019-12-05 11:16:08.410] [http-nio-8258-exec-6]   INFO  Sharding-Sphere-SQL - Logic SQL: SELECT COUNT(1) FROM order_return_goods WHERE mall_code = ? AND is_delete = ?
[2019-12-05 11:16:08.410] [http-nio-8258-exec-6]   INFO  Sharding-Sphere-SQL - SQLStatement: SelectStatement(super=DQLStatement(super=AbstractSQLStatement(type=DQL, tables=Tables(tables=[Table(name=order_return_g

[2019-12-05 03:32] dongzl commented on #3664
Hi @wanghaipeng1205 , **For English only**, other languages will not accept.

You can close this issue and submit a new issue in English again.

and screenshot doesn't search friendly, can you submit a test project on github?

[2019-12-05 06:02] EricLye commented on #3662
I think , it is my yaml ,maybe.

[2019-12-05 06:13] EricLye commented on #3662
Three is an important information:
[code]
It is printed at org.antlr.v4.runtime.ConsoleErrorListener#syntaxError
Is it a rule parse error?

[2019-12-05 06:18] terrymanu commented on #3664
**For English only**, other languages will not accept.

[2019-12-05 06:18] #3664 closed

[2019-12-05 06:20] terrymanu commented on #3644
Maybe we do not need talk about business logic here, we just make sure if we permit `null` for sharding value, which data node should the data inserted into?

[2019-12-05 06:20] #3621 closed

[2019-12-05 06:53] EricLye commented on #3662
There is nothing I can do for it.At least give me a useful suggestion.please.

[2019-12-05 09:01] terrymanu commented on #3662
It looks like parse problem, does anybody interesting this issue?

[2019-12-05 09:02] SteNicholas commented on #3662
@terrymanu Please assign the SQL parse bug to me. I will be responsible for this module bugs.

[2019-12-05 09:29] terrymanu commented on #3662
Thank you, assigned

[2019-12-05 09:31] avalon566 commented on #3659
Do you want data migration?

[2019-12-05 09:39] lightning-pro opened #3666 "sharding-proxy Help wanted."
Hello，最近被这个sharding-proxy折腾得太厉害了，遇到的问题诡异，如果问题有价值，后面再用英文再描述一次。
问题背景：在用RC2遇到timestamp 读写bug的问题后，从源码编译RC4，timestamp bug是解决了。但inline的表达式不能支持简单的查询比如
`SELECT * FROM CUSTOMER_SMS_NUM WHERE SMS_NUM_ID > 11`
raise了两次，建议是自己写sharding算法。经过一番研究后。我实现了自己的sharding算法，并打包到conf/lib下。
如下
PreciseShardingAlgorithm的实现类
[code]

RangeShardingAlgorithm的实现类
[code]
想问我的实现类有什么问题吗？查询数据会有很奇怪的问题，我大概觉得是merge结果的问题，不知道是我git pull拉的代

[2019-12-05 09:39] KomachiSion commented on #3659
I think it can be solved by `create table if not exists`. Would you mind have a try?

[2019-12-05 09:49] zhuyaoming commented on #3644
other sharding column can known data node.

[2019-12-05 10:01] lightning-pro commented on #3666
After testing more cases, I don't think it is related to the select * or select fields, it is because of that there is a null value for a field, it will set to null values for all other values. I think this should be a bug ?

[2019-12-05 10:02] #3662 closed

[2019-12-05 10:02] #3666 closed

[2019-12-05 10:02] terrymanu commented on #3666
**For English only**, other languages will not accept.

[2019-12-05 10:07] lightning-pro commented on #3644
Hi ,for un sharding fields, once a value of not the sharding fields with null , all the records after that will be set to null

[2019-12-05 10:30] lightning-pro opened #3670 "if null value is not supported?"
## Question
For some reasons, the framework using in my company will use null for some none-mandatory fields.
When using the sharding-proxy-4.0.0-RC4, once a fileds contains null, all the values after it from the query will become null. Is this a bug or just a feature of sharidng-proxy that didn't support null value?
I think it is reasonable to support null values, because these fields are not sha

[2019-12-05 10:40] terrymanu commented on #3670
Can you show your sql here?

[2019-12-05 10:43] terrymanu opened #3671 "Hide plain column for SQL: DESC table"
Current version(4.0.0-RC3) can convert cipher column to logic column for encrypt for SQL DESC table, and can hide query assist column, but do not process with plain column.
We need to hide plain column too, `DESC table` should show logic column only for encrypt.

[2019-12-05 11:23] lightning-pro commented on #3670
my tables split to 17 tables from 0 to 16
when execute below sql, which the value of COMMENTS field is null
[code]
the above sql work perfect

when execute like below, there will be a row with all null values and other rows ok
[code]

while increase the bigger range with 20,21,22....the rows with null values will increase randomly.

but when I remove the PRIM.COMMENTS fields, everything is ok. ret

[2019-12-05 12:54] qhj348770376 opened #3673 "sharding proxy how to support HA"
as you know , HA is a very essential feature for a database middleware which will be used in production environment.I want to know the way that sharding proxy support HA.tks

[2019-12-05 14:57] #3671 closed

[2019-12-06 01:42] lightning-pro commented on #3670
I have a tested with Sharding-Proxy-4.0.0-RC2 with my sharding algorithm jar, it works as expected, only the timestamp bug I raised few days ago. from RC2 to RC4, there were a big code changes or redesign in the sharding-proxy?

[2019-12-06 01:59] zhuyaoming commented on #3644
thank you for your reply, i will change my colum Field  cannot be null.

[2019-12-06 02:41] fenghuanfun commented on #3659
I'm using spring-data-jpa, and it's  configuration is ddl-auto:update. that is ` create table if not exists `.
maybe the problem is jpa ?

[2019-12-06 02:44] fenghuanfun commented on #3659
I want to expand the table. our order's  sharding rule is one table one month.
and now it will 2020 soon

[2019-12-06 02:50] avalon566 commented on #3659
You sharding rule is base on month, Historical data will not be affected. @KomachiSion advice will work for you.

[2019-12-06 02:50] terrymanu commented on #3644
I get the point, it means part of sharding key in multiple sharding strategy can be null, is it?

[2019-12-06 03:25] zhuyaoming commented on #3644
yes

[2019-12-06 07:41] TaoZhiMLND commented on #1977
I will try to solve it.

[2019-12-06 07:42] terrymanu commented on #3644
Ok, can you change the title? I can set label to volunteer wanted for this issue

[2019-12-06 08:30] HongJinFeng opened #3676 "Is there any good way to handle with parsing sql first time, which is taking too many time?"
Hi, we use encrypt-jdbc in our project, and last night we released it to production environment，when it started at the first time, our dubbo interface had many delay warings. After my investigation, it was because parse sql took too many time, most of them took more than one second, some beyond one second. And in this situation, our interface already time out, and it may cause dubbo interface be d

[2019-12-06 08:44] XuyangJava2E commented on #3676
hi I am his boss, if he can not handle this problem until this week,he will be fired

[2019-12-06 08:44] XuyangJava2E commented on #3676
@terrymanu

[2019-12-06 08:47] mengbieting commented on #3676
Hi, I am his boss‘s boss, if they can not handle this problem until this week, they will be fired together.

[2019-12-06 08:56] mengbieting commented on #3676
Hi, I'm his boss's boss, if they can't handle this problem until this week, they will be fired together.

[2019-12-06 09:09] #3617 closed

[2019-12-06 09:25] taojintianxia commented on #3655
bravo ！ @KomachiSion :laughing:

I wonder how does shardingsphere writting data when migarating .

Job...ennnn....so that's why there is a union meet up with dopoinescheduler at this Sunday.

[2019-12-06 09:35] KomachiSion commented on #3655
Thanks @taojintianxia , I hope we can have a happy and significant meet up with dolphinscheduler.

[2019-12-06 09:50] terrymanu commented on #1977
Thank you, assigned

[2019-12-06 10:20] ErinDavid opened #3677 "multi-sharding key, when insert is excuted, one of the sharding keys is null and throws an exception"
hi, i discover a question today
![image](https://user-images.githubusercontent.com/12891899/70315431-87082980-1854-11ea-9866-342589663a32.png)

![微信图片_20191206181539](https://user-images.githubusercontent.com/12891899/70315512-b6b73180-1854-11ea-842a-68e785ac14bc.png)

Suggestion: You need to add a judgment that result is not equal to null, and ignore result equal to null

[2019-12-06 10:42] terrymanu commented on #3676
Because parse SQL by ANTLR is slow, and ShardingSphere save the 1st parse result into cache.
Please see details here: https://shardingsphere.apache.org/document/current/en/features/sharding/principle/parse/

I don't think we can enhance the performance before the AST into cache. If you want, you can consider about  preheat your SQL.

[2019-12-06 10:44] terrymanu commented on #3677
duplicated with #3644

[2019-12-06 10:44] #3677 closed

[2019-12-06 10:56] lightning-pro commented on #3670
how to get the source code of the version 4.0.0-RC2? I want to try to finx the timestamp bug base on it

[2019-12-06 11:03] CatDogZ opened #3678 "用namespace配置的方式，添加默认数据源后，启动很慢"
**shardingjdbc 4.0版本的**
我用的spring命名空间的方式配置的。
有个order表，我进行分表分库了。但是其他剩余的表，我第一个版本不打算拆分，还是全部放在原来的数据源里面（大概有几百张表）。发现添加了default-data-source-name 这个配置后，项目启动很慢，大概要好几分钟。 我就去查看了源码，发现TableMetaDataInitializer这个类下面load方法，加载默认数据源信息的时候，要花费很长的时间。虽然定位到了问题，但是不知道如何解决，请问有人知道如何解决吗？
![image](https://user-images.githubusercontent.com/31087808/70318380-dfdac080-185a-11ea-8ef9-2cd4064bf54f.png)

[2019-12-06 13:10] HongJinFeng commented on #3676
I have readed the document before and knew ANTLR is slow. Our project has hundreds SQL, and many SQL like 'select...in (...)' or 'insert...values(...)'，and the number of parameters is different, so it has thousands different situations. It is impractical to preheat so many SQL(preheat every SQL need serval seconds). so any other way to handle with it?

I think if the SQL contain the table which ne

[2019-12-06 13:37] dongzl commented on #3678
Hi @CatDogZ ,

**For English only**, other languages will not accept.
You can close this issue and submit a new issue in English again.

[2019-12-07 01:59] kfchu opened #3679 "Benchmark between Sharding-Proxy and MyCAT"
Hi,

Is there any benchmark test or performance comparison between Sharding-Proxy and MyCAT, or some other database middleware.

Looking forward to your reply.

Thanks.

[2019-12-07 02:10] dongzl commented on #3679
https://shardingsphere.apache.org/benchmark

This is ShardingSphere' benchmark website, you can pay attention to it.

[2019-12-07 04:14] terrymanu commented on #3678
**For English only**, other languages will not accept.

[2019-12-07 04:14] #3678 closed

[2019-12-07 04:16] terrymanu commented on #3679
It is unconvincing if our community compare shardingSphere and other projects.
Please do it by yourself if you want

[2019-12-07 04:16] #3679 closed

[2019-12-07 06:23] thinkwithlinc opened #3680 "no table route info error when update to 4.0.0-RC3 from 4.0.0-RC2, TableRuleConfiguration#actualDataNodes not config"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

### Which version of ShardingSphere did you use

[2019-12-07 06:57] CatDogZ opened #3681 "tomcat start slowly with default datasource setting"
use shardingjdbc 4.0 version.
i config shardingjdbc with spring-namespace.  and there are about two hundred tables that do not  participate in split database and table.  i use default-data-source configuration to set it. but i found that tomcat start is very slowly for about two minutes。i checked the shardingjdbc source code and found the class "TableMetaDataInitializer.java" "load" method cost a

[2019-12-07 07:24] terrymanu commented on #3681
What is your actual version? Actually, ShardingSphere do not have version 4.0

[2019-12-07 07:28] CatDogZ commented on #3681
Hi，the version is 4.0.0-RC2

[2019-12-07 08:36] terrymanu commented on #3676
Only use preparedStatement can be cached, please use parameter marker to instead of parameter inline is your SQL

[2019-12-07 08:40] terrymanu commented on #3676
No one can afford take control two different SQL parser engine. If you interesting develop a new SQL parser engine, maybe we can talk about pull request.

[2019-12-07 13:20] SteNicholas commented on #3676
Why no need to parse by Antlr? Could you give the performance about the comparsion among the parse engine you mentioned above?

[2019-12-08 03:43] suikenungleung commented on #3365
@yanickxia How to properly configure data-source-properties in version 4.0.0-RC3, what I want is to configure the implementation in the yml file.

[2019-12-08 12:01] TaoZhiMLND commented on #1977
When I looked at some code of sharding - core and sharding - spring, I found that ShardingDataSourceBeanDefinitionParser will register a SpringShardingDataSource bean to spring.Then according to the configuration in ShardingRuleConfiguration - > TableRuleConfiguration - > KeyGeneratorConfiguration, the constructor of SpringShardingDataSource creates the corresponding ShardingKeyGenerator instance

[2019-12-08 14:18] terrymanu commented on #1977
@TaoZhiMLND Sure, you are totally correct. We can discuss how to decouple it if you want.

[2019-12-08 14:34] #3642 closed

[2019-12-08 14:58] SteNicholas commented on #3639
@tristaZero @terrymanu  I try to fix this bug. Please assign to me.

[2019-12-09 00:56] KomachiSion commented on #3659
Can you open show.sql both of jpa and shardingsphere to restart your project, it can see the create table SQL generated by jpa and the actual routed SQL by shardingsphere.

[2019-12-09 01:35] HongJinFeng commented on #3676
It sounds that there is not better solution for this issue. I don't know is there any other effect if i change the soure core like this:  the logic sql is not contain the table which need sharding or encrypt some column, i create prepare statement by logic sql.
![image](https://user-images.githubusercontent.com/33616750/70400689-1dac3480-1a67-11ea-8ce0-f05e2cd9e1fc.png)

[2019-12-09 03:16] qhj348770376 commented on #3673
if sharding-proxy can not support HA well by itself right now,is there any compromising solution to avoid
single-point riskment in production environment? How do you use sharding-proxy in JD?

[2019-12-09 03:19] winson08Li opened #3687 "How to import sharding-proxy to idea if I want to do some debugging ?"
How to import sharding-proxy to idea if I want to do some debugging ? Or is there any documents about this topic ?

[2019-12-09 03:24] terrymanu commented on #3687
You can just run `org.apache.shardingsphere.shardingproxy.Bootstrap` to startup the proxy in your IDEA.

[2019-12-09 03:26] cherrylzhao commented on #3673
I think you can use Nginx, HAProxy, LVS to handle load balance within TCP layer. use `keepalived` or `heartbeat` to support HA

[2019-12-09 03:33] qhj348770376 commented on #3673
do you mean I can set  Nginx or other middleware between application and sharding-proxy cluster to support HA ? @cherrylzhao

[2019-12-09 03:37] cherrylzhao commented on #3673
not yet, I have provided a way to build sharding-proxy cluster since sharding-proxy is stateless if you have not begin XA transaction

[2019-12-09 03:51] cherrylzhao commented on #1977
it seems that we should instance KeyGenerator when constructing `KeyGeneratorConfiguration` instead of inside `TableRule`. for spring-namespace we can leverage `FactoryBean` to create KeyGenerator through our NewInstanceServiceLoader.

[2019-12-09 03:56] qhj348770376 commented on #3673
So I should build sharding-proxy cluster by myself to implement sharding-proxy's HA feature.
Is there any document to help me  build sharding-proxy cluster?

[2019-12-09 04:00] cherrylzhao commented on #3673
not yet now, you can goole it then contributing a PR for it :)

[2019-12-09 05:36] terrymanu opened #3691 "Pluggable platform of ShardingSphere"
I'd like to establish a pluggable platform of ShardingSphere. The proposal of pluggable platform is decoupling all features and technical implementations.

I plan split all features from sharding-core first, and then use SPI to introduce features into the pluggable platform(same thing with sharding, sharding can be remove from main process too).
The pluggable platform is a blank JDBC and database

[2019-12-09 06:12] wenweibin commented on #234
中国民生银行股份有限公司 http://www.cmbc.com.cn/

[2019-12-09 06:18] SteNicholas commented on #3681
@CatDogZ You could modify `executor.size` configuration to speed loading default tables.

[2019-12-09 06:38] winson08Li commented on #3687
ok, I got that

[2019-12-09 06:38] #3687 closed

[2019-12-09 07:34] CatDogZ commented on #3681
@SteNicholas i modified the executor.size configuration in 4, 8 and 16 . but it still did not work.  Is there any other solution？ @terrymanu

[2019-12-09 07:43] chyangxi opened #3693 "默认数据源的表和字典表关联查询报错"
## Question

（default-data-source-name）table join （broadcast-table） error

## Content
<bean id="dbShardingRule" class="com.aop.ShardingDatabaseRule" />

	<sharding:standard-strategy id="databaseStrategy" sharding-column="buss_num" precise-algorithm-ref="dbShardingRule" />

	<sharding:data-source id="shadingDataSource">
		<sharding:props>
   			<prop key="sql.show">true</prop>
  		</sharding:props>

[2019-12-09 08:36] winson08Li opened #3694 "Navicat keeps showing NPE when I trying to connect to sharding-proxy"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.0-RC3

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy

### Expected behavior
Connection success

### Actual behavior
[code]
### Reason analyze (If you can)
Have no idea

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
I just modify

[2019-12-09 08:48] CatDogZ commented on #2962
@Erzhoumu Hi， bro, i have the same problem, do u fix it?

[2019-12-09 09:17] winson08Li commented on #3694
Ok, it's actually the same issue as #3572

[2019-12-09 09:45] kelly018 opened #3695 "sharding shpere 支持utf8mb4"
sharding proxy 如何支持utf8mb4

[2019-12-09 09:47] daitong01 commented on #3695
sharding proxy 如何支持mysql utf8mb4编码

[2019-12-09 10:03] xfyang1989 commented on #3676
How to preheat SQL? Any examples?

[2019-12-09 10:06] #3693 closed

[2019-12-09 10:06] terrymanu commented on #3693
**For English only**, other languages will not accept.

[2019-12-09 10:06] terrymanu commented on #3695
**For English only**, other languages will not accept.

[2019-12-09 10:06] #3695 closed

[2019-12-09 10:07] #3694 closed

[2019-12-09 10:14] kelly018 commented on #3695
hi @terrymanu  仅英文，你这里具体指？

[2019-12-09 11:55] chyangxi opened #3697 "Cannot find table rule and default data source with logic tables"

[2019-12-09 12:13] jimmyxu1214 opened #3698 "使用mysql-connector-java 8.0版本的时候driver-class-name: com.mysql.cj.jdbc.Driver报错"
错误信息：
Caused by: java.sql.SQLDataException: Cannot determine value type from string 'NO'
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:114)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:97)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:89)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.jav

[2019-12-09 12:21] dongzl commented on #3698
Hi @jimmyxu1214 ,
** For English only**, other languages will not accept.

Please reference this issue #3582 .

[2019-12-09 14:22] avalon566 opened #3699 "Support PostgreSQL realtime data synchronize"
Support this feature by PostgreSQL logical replication(test_decoding plugin).
Reference #3598

[2019-12-10 01:10] dongzl commented on #3699
Hi @avalon566 , do we decide to use test_decoding? not wal2json?

[2019-12-10 01:18] avalon566 commented on #3699
We implement this by test_decoding first, and then use wal2json if don't meet the requirements.

[2019-12-10 01:23] terrymanu commented on #3698
** For English only**, other languages will not accept.

[2019-12-10 01:23] #3698 closed

[2019-12-10 02:47] betterjava commented on #3655
@KomachiSion Should we consider cache preheating?

[2019-12-10 04:32] fenghuanfun commented on #3659
OK!  Finally i find out the reason with debug

1. when JPA init, it find the table existing in database. and it comes into
`org.apache.shardingsphere.shardingjdbc.jdbc.core.datasource.metadata.ResultSetReturnedDatabaseMetaData.getTables() `

[code]
2. then coms into
`org.apache.shardingsphere.shardingjdbc.jdbc.core.resultset.DatabaseMetaDataResultSet.initIterator() ` --> ` generateDatabaseMetaData

[2019-12-10 04:39] KomachiSion commented on #3655
I think there are no necessary for cache preheating. Because only when users change the shardingRule or datasource, the scaling out create and start. it's hard for us to predict users' new rule.

[2019-12-10 04:40] KomachiSion commented on #3655
I think there are no necessary for cache preheating. Because only when users change the shardingRule or datasource, the scaling out create and start. it's hard for us to predict users' new rule.

[2019-12-10 04:58] KomachiSion commented on #3659
if you change the logicTableName in shardingRule, or you change the actualNodes to other name, it may cause the `getTable` return the old actualTable name.

But in your configuration, your logicTable do not change, and the actualNode only add some node. so the `getTable` will return the same result-- your logicTableName

[2019-12-10 05:27] zhouzhendao123456 opened #3700 "Character encoding bug"
Sharding-Proxy 4.0

insert into xxx (aaa) values ('chinese name')
chinese name is
![image](https://user-images.githubusercontent.com/56668316/70498238-b8347280-1b50-11ea-91bb-a6ad1a6f69ea.png)

mysql content
![image](https://user-images.githubusercontent.com/56668316/70498269-cedac980-1b50-11ea-8844-1cdd46db99af.png)

[2019-12-10 06:14] dongzl commented on #3700
what is your db & table character config？

you can try insert data directly, not via Sharding-Proxy, It is OK?

I think this is some uncommon characters, the DB doesn't support.

[2019-12-10 06:15] fenghuanfun commented on #3659
So it is non-scalable?

[2019-12-10 06:18] dongzl opened #3701 "Refactor ColumnMetaData class, remove "notNull", "autoIncrement" fields."
Refactor ColumnMetaData class, remove `notNull` and `autoIncrement` fields, they are not very important, I added those two fields only for `QueryHeader` class, but at `QueryHeader` class, we can get `notNull` and `autoIncrement` info by `ResultSetMetaData`.
- [x] Refactor `ColumnMetaData`, `EncryptColumnMetaData`, `ShardingGeneratedKeyColumnMetaData` classes, remove `notNull`, `autoIncrement` fiel

[2019-12-10 06:18] dongzl commented on #3701
Please assign this issue to me, Thanks.

[2019-12-10 06:44] betterjava commented on #3655
Maybe you are right.
But consider this, after sync data done, user will switch query to new datasource,but new datasource have not been cache preheated,then there maybe many slow query  will happen (That's what I've been through).In the worst case, an avalanche may occur.

User can consider this by themself, or we can do something do help them?

[2019-12-10 07:16] CatDogZ opened #3703 "Could the loading default db table while application start be optimized?"
my version is upgraded to  4.0.0-RC3.
and i still have the problem while shardingjdbc load all the default database table metadata info causing application start slowly.   i browsed all the questions commited on the git issues. i set "check.table.metadata.enabled" with false, i event set "executor.size" with 100。 but all of them do not work.   and no body can give  an correct answer。 is this quest

[2019-12-10 07:17] ssxlulu opened #3704 "Config optimization for ShardingScaling"
Now, I think the configuration of ShardingScaling will be split into two parts:

1. Job configuration for each job;
2. Gobal server configuration.

[2019-12-10 08:32] KomachiSion commented on #3659
The `getTable` want to map the actualTable to logicTable, so that JPA can get the tableInfo of logicTable. When you change your ShardingRule or actualNodes, it may cause the `getTable` return more information.

[2019-12-10 08:39] KomachiSion commented on #3655
I am not sure other database, but if for mysql, the sync data ShardingScaling inserted will stay in buffer pool, newest data replace old data. So there is no need to preheated cache.

For other database, it may have some enhancement, but I think it's beyond the responsibility of ShardingScaling.

[2019-12-10 08:52] betterjava commented on #3655
Hot query data may not be newest  inserted  data.

But this feature maybe beyond the responsibility of ShardingScaling. We can discuss it after the main process is stable.

[2019-12-10 08:52] ssxlulu commented on #3704
Example of `server.yaml`:
[code]

[2019-12-10 09:05] KomachiSion commented on #3655
Yes, But we also do not know what's the `Hot query data`.

I agree.

[2019-12-10 10:02] KomachiSion commented on #3680
Hi @thinkwithlinc, according to the document 4.x, [configuration](https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/configuration/config-java/). When actualNodes is absent, it means shard database only.
So `RC2` has problems that will route to non-exist  dataNodes.

It seem that you want to shard tables not only database. So you need config actualNodes.

Thanks

[2019-12-10 10:33] #3680 closed

[2019-12-10 11:08] #3701 closed

[2019-12-10 12:26] terrymanu commented on #3700
ShardingSphere nerver released version 4.0, can you provide the correct version number?

[2019-12-10 12:28] terrymanu commented on #3703
Hi, let's talk about in the same issue, thank you.

[2019-12-10 12:28] #3703 closed

[2019-12-10 12:28] terrymanu commented on #3703
duplicated #3681

[2019-12-10 12:32] CatDogZ commented on #3681
@terrymanu  emmmmm......is there any other solution? thanks a lot  。

[2019-12-10 17:27] avalon566 opened #3710 "Support scaling for shardingsphere"
I missing an important work for sharding scaling. In order to support scaling for shardingsphere, We need to understand the sharding rule, and mapping the sharding table name to the actual table name.

For sharding rule:

[code]

We need synchronize table t_order0 and t_order1 from ds0, table t_order0 and t_order1 from ds1, this four table all map to t_order.

- [x] Parse shardingsphere rule confi

[2019-12-10 17:31] avalon566 commented on #3710
@ssxlulu @KomachiSion How to submit the sharding rule file in start job interface? Put file content in json field?

[2019-12-11 00:53] KomachiSion commented on #3710
I think we can get full configuration, and use sharding-core to parse them to xxxConfiguration.

[2019-12-11 01:47] quicksandznzn opened #3711 "sharding-jdbc support mysql insert select dual?"
version:
<dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
            <version>3.0.0.M4</version>
        </dependency>

when i execute this sql
insert into table (a,b,c) select 1,2,3 from dual WHERE not exists (select a from table  where a=1);
error:
### Cause: java.lang.UnsupportedOperationException: Cannot INSERT SELECT
	at or

[2019-12-11 01:48] terrymanu commented on #3711
Can you change the title for search friendly?

[2019-12-11 01:57] quicksandznzn commented on #3711
@terrymanu what should I change

[2019-12-11 02:39] Acumes opened #3712 "sharding proxy4.0.x mysql8 How to connect the drive"
I put MySQL driver package under lib, but how to modify the driver class? Directly under config-sharding.yaml, add driverclassname: com.mysql.cj.jdbc.driver, and an error will be reported when starting. Mysql5.7 is OK. I just want to know how to operate mysql8.

[2019-12-11 02:47] dongzl commented on #3712
Hi @Acumes , Please reference this issue #3097 .

[2019-12-11 03:00] zhouzhendao123456 commented on #3700
@terrymanu sharding-proxy 4 rc2
@dongzl mysql use utf8-mb4,no problem

[2019-12-11 03:43] peiyou opened #3713 "How do you return the auto-generated id after inserting data?"
How do you return the auto-generated id after inserting data?

My configuration:
spring.shardingsphere.sharding.tables.transaction.key-generator.column=id
spring.shardingsphere.sharding.tables.transaction.key-generator.type=SNOWFLAKE
spring.shardingsphere.sharding.tables.transaction.key-generator.props.worker.id=123

spring.shardingsphere.sharding.tables.transaction_item.key-generator.column=id
sp

[2019-12-11 06:08] dongzl commented on #3700
@zhouzhendao123456  I can not write the characters with my input method and test this problem, how do you finish it?

[2019-12-11 07:41] #3704 closed

[2019-12-11 07:42] #3712 closed

[2019-12-11 07:55] GungnirLaevatain opened #3716 "Can not use MySQL function named STR_TO_DATE for insert statements"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
execute SQL successfully
### Actual behavior
[code]
### Example codes.
mybatis mapper:
[code]
dao:
[code]
test:
[code]
result log:
[code]

[2019-12-11 08:25] MrSummer33 opened #3717 "sharding expression don`t parsed"
## config
i set my ShardingStrategyConfiguration like this ***new InlineShardingStrategyConfiguration("tss_trade_company_id", "tin_prescriptions_{tss_trade_company_id % 2}");***

my full config

[code]

## finalsql
select * from from tin_prescriptions_{tss_trade_company_id % 2} p .....

## question
will the final sql is right? or was  my config  wrong?

[2019-12-11 08:58] SteNicholas commented on #3716
@terrymanu Please assign to me.

[2019-12-11 10:30] #3716 closed

[2019-12-11 10:30] Willing-Xyz opened #3720 "Sharding-JDBC: mysql jdbc driver 6.0.6 error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-11 12:05] rimal opened #3721 "When can we expect GA release for version 4?"
## Question

Hello, I have been using version 3.1.0 on my production as per your team's suggestion as version 4 is still in RC stage.
Since 4.0.0-RC3 is out now, do you have another RC planned or can we now expect version 4 to be released? I am want to integrate it to my production as the version 3.x is now out of service and there are some good changes in version 4 which I will want to adopt.

[2019-12-11 12:25] terrymanu commented on #3721
Hi, we talking about it at mailing list[1], please have a look.

[1] https://lists.apache.org/thread.html/befefeb3a81c940b51b5059e097e620dbdbef7cff4539fe1cb1f7902%40%3Cdev.shardingsphere.apache.org%3E

[2019-12-11 12:25] #3721 closed

[2019-12-11 12:26] terrymanu commented on #3720
Can you provide the exception?

[2019-12-11 12:27] terrymanu commented on #3717
just try to `tin_prescriptions_${tss_trade_company_id % 2}`

[2019-12-11 12:27] #3717 closed

[2019-12-11 12:28] terrymanu commented on #3713
Can you try to example first?

[2019-12-11 12:29] terrymanu commented on #3711
Can you try to version 4.x? the version 3.x is out of service.

[2019-12-11 15:52] keven0706 opened #3722 "How to use nacos in sharingsphere"
## Question
How to config in sharingsphere to support nacos? ths!

[2019-12-11 22:10] mikiochu commented on #2036
I have the same issue in 4.0.0.RC2, did you fix it? My database is PostgreSQL too.

[2019-12-12 01:01] Willing-Xyz commented on #3720
mysql: 5.7.27

[code]

[2019-12-12 01:21] chyangxi commented on #3697
@terrymanu If you have time, please analyze it for me. I'm lost

[2019-12-12 03:09] zhouzhendao123456 commented on #3700
@dongzl
use sharding
run insert sql

[2019-12-12 03:09] yhsmy commented on #3582
4.0.0-RC3
I  downgrade the mysql jdbc jar to 5.1.47 & 5.1.18

This error still exists!  @terrymanu @xfyang1989

[2019-12-12 03:19] dongzl commented on #3722
Hi @keven0706 ,
now the nacos's support is not enough, ShardingSphere support ZooKeeper very well and you can try it.

Now we are refactoring the orchestration module, after refactor, it will support nacos very well, it will be released at 5.x version. Thanks.

[2019-12-12 03:20] dongzl commented on #3720
Please reference this issue #3582 , Thanks!

[2019-12-12 03:21] keven0706 commented on #3722
thanks，expectation！

[2019-12-12 03:21] #3722 closed

[2019-12-12 03:23] dongzl commented on #3700
How do you input the Chinese character and test insert?  I can not print the character with my input tools.

[](https://user-images.githubusercontent.com/56668316/70498238-b8347280-1b50-11ea-91bb-a6ad1a6f69ea.png)

[2019-12-12 03:28] #3720 closed

[2019-12-12 03:49] yhsmy opened #3724 "org.antlr.v4.runtime.tree.TerminalNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext"
## Bug Report

**Shardingjdbc 4.0.0-RC2**,

### Mybtais sql like:
  insert into users set
            order_id = #{orim.orderId,jdbcType=BIGINT},
            s_id = #{orim.sId,jdbcType=BIGINT},
            `name` = CONVERT(to_base64(aes_encrypt(#{orim.`name`,jdbcType=VARCHAR},
#{dataSecret,jdbcType=VARCHAR})) USING utf8),
            addr = #{orim.Addr,jdbcType=VARCHAR},
            mobile = CONVE

[2019-12-12 05:07] geomonlin opened #3725 "sharding-proxy cannot query data when 'max.connections.size.per.query=1' for server.yaml using springboot and mybatis framework"
sharding-proxy version: dev,4.0.0-rc3

configuration：
       [config-sharding.yaml](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-proxy/sharding-proxy-bootstrap/src/main/resources/conf/config-sharding.yaml)
      [server.yaml](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-proxy/sharding-proxy-bootstrap/src/main/resources/conf/server.yaml)

[Running exa

[2019-12-12 06:08] SteNicholas commented on #3724
@yhsmy The problem cause is that DMLStatement and DQLStatement doesn't support TO_BASE64 and AES_ENCRYPT function. InsertStatement couldn't parse parameter of TO_BASE64 and AES_ENCRYPT function correctly.

[2019-12-12 06:28] jeebeys opened #3727 "mysql-connector-java 8 But not support Column IS_AUTOINCREMENT"
Caused by: java.sql.SQLDataException: Cannot determine value type from string 'NO'
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:114) ~[mysql-connector-java-8.0.18.jar:8.0.18]
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:97) ~[mysql-connector-java-8.0.18.jar:8.0.18]
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java

[2019-12-12 06:30] dongzl commented on #3727
Please reference this issue #3582 , Thanks!

[2019-12-12 06:38] #3724 closed

[2019-12-12 06:50] tuohai666 commented on #3725
This issue is caused by https://github.com/apache/incubator-shardingsphere/issues/3231.

max.connections.size.per.query=1 means Proxy will use MemoryQueryResult in this full routing case.

In MemoryQueryResult.java:

`return metaData.isSigned(columnIndex) ? resultSet.getInt(columnIndex) : resultSet.getLong(columnIndex);
`

This line will anyhow return a Long Object instead an Integer Object or a L

[2019-12-12 07:35] baoencheng opened #3729 "insert数据-加密字段错位"
加密字段:encbank
当sql写法不够规范时:
INSERT INTO tablexxx (id,encbank,dr) VALUES (1227567148367683672,#{encbank},#{dr})
出现加密错位。

查看源码后分析:
ss加密模块解析sql的时候:
1) 插入列3项，数组下标[0][1][2] encbank 在第2位即[1]
2) 值3项(明文1项，参数传递2项)，直接取用参数传递数组的第2位来加密，导致字段错位加密到dr字段。
3) 解决方案:解析sql的时候，需要考虑所有值的项 而不是 只考虑参数传递中的内容。有些工程项目sql拼接不规范的时候就产生bug了。
4) INSERT INTO tablexxx (id,encbank,dr) VALUES (#{id},#{encbank},#{dr}) 标准sql 没有问题。需兼容所有sql

En

[2019-12-12 07:37] #3673 closed

[2019-12-12 07:58] jeebeys commented on #3727
#3582

[2019-12-12 08:02] jeebeys commented on #3727
use mysql-connector-java 5.x 's  com.mysql.jdbc.Driver  will be ok

[2019-12-12 08:02] #3727 closed

[2019-12-12 09:59] terrymanu commented on #3729
**For English only**, other languages will not accept.

[2019-12-12 09:59] #3729 closed

[2019-12-12 10:01] #3725 closed

[2019-12-12 10:02] #3650 closed

[2019-12-12 16:14] SteNicholas commented on #3697
@chyangxi Table `inter_user` and `school_config` don't exist in `<sharding:table-rules>`, please configure this.

[2019-12-12 16:20] SteNicholas commented on #3710
@avalon566 You can implement this based on `YamlSwapper` interface, which includes `TableRuleConfigurationYamlSwapper`, `OrchestrationConfigurationYamlSwapper` , and includes DataNode and Table configuration.

[2019-12-12 16:34] chyangxi commented on #3697
'inter_user' use defalt data source,don't sharding .'school_config' use broadcast rule,same in every database .i don't need sharding table,only some table data sharding database,'inter_user 'use defalt. i really don't how to configure ...help me,please,thank you.

[2019-12-12 18:48] geomonlin opened #3732 "when max.connections.size.per.query is greater than 1, uncommitted records may not been visiable when we execute query SQL in current transaction."
Sharding-Proxy Version: dev
configuration:
     config-sharding.yaml
[code]
server.yaml
  when max.connections.size.per.query=1
[code]
print result：
[code]

when max.connections.size.per.query>1,such as: max.connections.size.per.query:2 (The others configuration are the same)

print result：
[code]
Run Example:
You can [click](https://github.com/apache/incubator-shardingsphere-example/blob/dev/shar

[2019-12-13 00:56] avalon566 commented on #3710
@SteNicholas Thx, I will reference to this interface.

[2019-12-13 02:00] SteNicholas commented on #3732
@geomonlin `max.connections.size.per.query` decides synchronized execute unit groups. What's your major question?

[2019-12-13 02:07] geomonlin commented on #3732
different `max.connections.size.per.query` size ,The number of lines printed is different

[2019-12-13 03:02] tuohai666 commented on #3732
@SteNicholas I think @geomonlin means he got two different results by using two different configurations. Results are expected same no matter how configuration changed.
This is a LOCAL Transaction scenario, maybe @cherrylzhao could help.

[2019-12-13 03:26] #3639 closed

[2019-12-13 03:50] peiyou commented on #3713
There are table1 and table2, the table1_id of table2 is the ID of table1, and the table1 ID is generated automatically by the snowflake algorithm built in sharding-jdbc.
Now, I'm in the same transaction, I'm adding a piece of table1 data (the transaction didn't commit), and then I need to add table2 data, but I need the ID value of table1, the ID value of this table1, and I can't get that ID at th

[2019-12-13 08:48] xiyelife opened #3735 "SQL value with \"xx\" parse error when use encrypt"
### Which version of ShardingSphere did you use?
4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
insert error
### Actual behavior
![image](https://user-images.githubusercontent.com/8772975/70786677-2a62bc80-1dc8-11ea-9445-4988dc84c174.png)
### Reason analyze (If you can)
parse error for sql like this:
String sql = "insert into fix_test(

[2019-12-13 08:57] ssxlulu opened #3736 "Suggestions about sql's statistics of ShardingProxy"
In my opinion, I think here are some statistics about the sqls that users may pay attention when use ShardingProxy:
1. Detail execute time, like route time, execute time, users can know how long each step takes;
2. Slow sql, we may tell users which sqls are too slow, and need to optimize them;
3. Intercepted sql, if we have function of firewall to avoid some sqls to execute, we can audit such inte

[2019-12-13 09:13] #3676 closed

[2019-12-13 09:34] MrSummer33 commented on #3717
@terrymanu  ok ,thank

[2019-12-13 10:20] #3618 closed

[2019-12-13 10:45] SteNicholas commented on #3735
@xiyelife `String sql = "insert into fix_test(id,name,password) values (4,"you.wang@xxx.com",'123456')";` SQL you provided is wrong.
You can try to modify `INSERT_GENERATED_KEY_SQL` of `EncryptStatementTest` to `"INSERT INTO t_encrypt(pwd) VALUES ('\"you.wang@xxx.com\"')"` , and run the test method `assertInsertWithExecuteWithGeneratedKey`. This works well.

[2019-12-14 11:24] betterjava opened #3738 "sharding-ui should have a profile example"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No.
### Desc

[2019-12-15 05:09] SteNicholas commented on #3711
@quicksandznzn Please upgrade the version to 4.x. In 4.x version, MySQL DMLStatement supports insert select case. You can refer to `insert` of `DMLStatement.g4` file.

[2019-12-15 05:27] SteNicholas opened #3739 "Support parser module add Oracle, SQLServer and SQL92 DALStatement"
## Feature Request

Parser module add Oracle, SQLServer and SQL92 DALStatement like `SHOW DATABASE`, `DESC tableName` etc.

### Is your feature request related to a problem?

Yes.

### Describe the feature you would like.

Support Oracle, SQLServer and SQL92 DALStatement of parser module.

[2019-12-15 08:40] pxchen commented on #2987
I tried mysql,and it works well.I do not know the reason.Maybe the reason is sqlserver?
-- It is not the reason of SQLServer, it is the bug of sharding-jdbc sqlserver module code。

[2019-12-15 09:23] SteNicholas commented on #2987
@terrymanu Please assign this to me for fixing the bug above mentioned.

[2019-12-15 13:02] terrymanu commented on #3736
We can find them at sharding-opentracing module, ShardingSphere has already send those tracing information to OpenTracing protocol and user can show them on SkyWalking.

I think those feature should be in druid or other connection pool, maybe ShardingSphere can add a new module for monitor sql status. We can discuss it further if you want to do it.

This feature is for SQL audit, we create a new m

[2019-12-15 13:02] #3735 closed

[2019-12-15 13:04] terrymanu commented on #3711
Cannot support for `insert into ... select ...`

[2019-12-15 13:04] #3711 closed

[2019-12-15 13:32] lirengui opened #3740 "In query when the number of parameters reaches a certain number, SS exhausts the number of MySQL connections"
Using sharding proxy, the data is divided into 10 databases, and each database is configured with 200 connection numbers. When querying in function, when the parameters in in reach 500, SS will throw an exception that it can't get the connection number. The reason is that SS has consumed the 200 connection numbers of MySQL. When I increase the connection number to 500, I won't throw the exception.

[2019-12-15 13:50] terrymanu commented on #3740
I can understand. What's mean `Sharding proxy is divided into 10 libraries`?

[2019-12-15 13:54] lirengui commented on #3740
Using sharding proxy, the data is divided into 10 databases

[2019-12-15 13:54] lirengui commented on #3740
Using sharding proxy, the data is divided into 10 databases

[2019-12-15 13:58] lirengui commented on #234
广州理德物联网科技有限公司  http://www.iotlead.com

[2019-12-15 14:24] terrymanu commented on #3740
Can you modify your original context to make it understandable?

[2019-12-15 14:27] terrymanu commented on #3697
Can you just paste your sharding rule here?

[2019-12-16 01:08] chyangxi commented on #3697
@terrymanu
@Component
public class ShardingDatabaseRule implements PreciseShardingAlgorithm<String> {

	private Logger log = LoggerFactory.getLogger(ShardingDatabaseRule.class);
	@Override
	public String doSharding(Collection<String> availableTargetNames, PreciseShardingValue<String> shardingValue) {
		log.debug("sharding begin shardingValue:{}",shardingValue);
		int bussNumHash = shardingValue.ge

[2019-12-16 01:46] xiyelife commented on #3735
@SteNicholas the sql above has been formated by github, the sql is real like this in the code (idea)：
![image](https://user-images.githubusercontent.com/8772975/70873367-79873800-1fe8-11ea-8589-d1217028d018.png)
I think this writing should be right

[2019-12-16 02:08] lyzhb9014 commented on #234
途家民宿 https://www.tujia.com/

[2019-12-16 02:42] terrymanu commented on #3740
It seems like you need have the knowledge of database connection pool. ShardingSphere just reuse your configuration of max connection number of database connection pool.
So how do you consider about the database connection pool?

[2019-12-16 03:29] cherrylzhao commented on #3732
I have reproduce this problem in my local machine. when `max.connections.size.per.query` is greater than 1, uncommitted records may not been visiable when we execute query SQL in current transaction. the reason is that insert SQL will only cached one uncommitted connection in cache, but query SQL will get other connections which would not seen the transaction context. so we should add constraint i

[2019-12-16 09:24] NatsuSai commented on #3740
Could you tell me how to calculate the maximum number of connections for a sharded database or other suggestion. I encountered a database connection pool full exception last week, but now is fine. I don't know why.

I was use 50 threads to request an API who is query ss like 'select * from table where id in (xxx,xxx,xxx)', and 500 ids per request.

There is my config:
- application.yml
[code]
- se

[2019-12-16 09:42] fenghuanfun opened #3742 "ComplexKeysShardingAlgorithm<T extends Comparable<?>> Actual Use Suggestion"
## Feature Request
### Is your feature request related to a problem?
 - I report a bug in an issue, and it's version is ` sharding-jdbc-core:4.0.0-RC1 `
[ComplexKeysShardingAlgorithm ClassCastException](https://github.com/apache/incubator-shardingsphere/issues/2613)
- now it hava been fixed in  ` sharding-jdbc-core:4.0.0-RC3 `
- However, i dont think it is the right way to resove this problem
- ex

[2019-12-16 11:24] #3266 closed

[2019-12-16 14:24] Mirrormiss commented on #290
亮哥，在集成mybatis的时候 ，使用了批量新增，发现报了一个莫名的错误
（Parameter 'XXX' not found. Available parameters are [A, B]），
大致看了下，是不是因为单表mybatis的Invocation中是一条SQL，而批量的是一个集合，导致ShardingValue中的分片键和分片键的值对应不上的原因？
备注：版本为3.1.0

[2019-12-16 15:09] terrymanu commented on #3740
@NatsuSai

The question is same how to calculate the maximum number of connections for a database connection pool. Do you think maybe you should talk about it on GitHub of HikariCP or other database connection pool?

[2019-12-16 15:56] NatsuSai commented on #3740
But I want to know how many connections ss will use when querying a SQL--'select * from table where id in (xxx,xxx,xxx)', because I can't judge the value of `dataSources.dataSources.product_data_0.maxPoolSize` accurately  to avoid the exception that the connection pool is full

[2019-12-17 02:12] ganjx commented on #234
快捷通支付服务有限公司  https://www.kjtpay.com

[2019-12-17 02:51] mayee commented on #234
北京千丁互联科技有限公司 http://caas.com.cn/

[2019-12-17 03:10] terrymanu commented on #3740
If you can understand the sharding strategy,  you can know the actual SQLs.

[2019-12-17 03:31] ljyhust opened #3744 "ShardingPreparedStatement.getGeneratedKey() 方法强转报错"
private Optional<GeneratedKey> getGeneratedKey() {
    return null != this.sqlRouteResult && this.sqlRouteResult.getOptimizedStatement().getSQLStatement() instanceof InsertStatement ? ((ShardingInsertOptimizedStatement)this.sqlRouteResult.getOptimizedStatement()).getGeneratedKey() : Optional.absent();
}

mybatis 插入返回自增主键封装到entity有问题，报错处代码如上。这个语句判断的类型是不是有点问题？通过接口看 找不到instanceof判断与后面 强转 的联系
版本  4.0.

[2019-12-17 03:44] ljyhust commented on #3744
版本  4.0.0-RC2

[2019-12-17 05:53] betterjava commented on #3744
**for English only**

[2019-12-17 05:53] #3744 closed

[2019-12-17 07:10] ljyhust opened #3745 "Error in execute ShardingPreparedStatement.getGeneratedKey()"
Error when I use mybatis to insert one entity and get generate id to entity.

version:  4.0.0-RC2

My code:
[code]

The Error is:
[code]

error maybe cause by this method in class ShardingPreparedStatement.
[code]

[2019-12-17 07:41] wqzwh commented on #3256
In order to keep the interface data format unified, the following structure is recommended

[code]

[2019-12-17 09:33] terrymanu commented on #3745
Can you try version 4.0.0-RC3?

[2019-12-17 09:35] ljyhust commented on #3745
OK. let's try

[2019-12-17 09:41] crossdream opened #3747 "4.0.0-RC3：Cannot determine value type from string 'NO'"
![TableMetaDataLoader](https://user-images.githubusercontent.com/7107303/70983648-0d91f600-20f4-11ea-8391-d8d237018b4d.png)

![rc3](https://user-images.githubusercontent.com/7107303/70983736-32866900-20f4-11ea-8d2a-95fe83f129e1.png)

`Caused by: com.mysql.cj.exceptions.DataConversionException: Cannot determine value type from string 'NO'
	at com.mysql.cj.result.BooleanValueFactory.createFromBytes(

[2019-12-17 09:49] BearKid opened #3748 "Sql parse - support MySQL `Mod` function"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-17 10:03] BearKid commented on #3748
@tuohai666 excuse me, any idea to solve this `MOD`  sql function problem ?
I will be appreciated with your help.

[2019-12-17 10:04] fenghuanfun opened #3749 "[BUG] SQLStatement Parse exist problem using mysql function date_format"
## Bug Report

### Which version of ShardingSphere did you use?
sharding-jdbc.version:4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
- when using sql ` select * from t_order where date_format(order0_.create_time, '%Y-%m-%d')='2019-11-17'`
 it should comes into my `BaseComplexKeysShardingAlgorithm`
### Actual behavior
- not come in my `

[2019-12-17 10:18] xiyelife opened #3750 "ResultSet miss the plain column because of using contains to get the logicColumn when using data mask."
### Which version of ShardingSphere did you use?
sharding-jdbc-4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
return the all of table's columns.
### Actual behavior
resultSet miss the logic column  because of using contains to get the logicColumn

### Reason analyze (If you can)
org.apache.shardingsphere.shardingjdbc.jdbc.core.resultse

[2019-12-17 10:26] KomachiSion commented on #3659
I will close this issue due to **No response more than 7 days**

[2019-12-17 10:26] #3659 closed

[2019-12-17 10:36] tuohai666 commented on #3748
You can try to resolve just like #3271. I'll review your pr.

[2019-12-17 10:47] KomachiSion commented on #3742
Sorry, @fenghuanfun , SQL like `select * from t_order where date_fromat(create_time,'%Y-%m-%d') = '2019-12-01'` is not supported now. The shardingColumn was covered by function will cause the route Algorithm can't execute correctly.

[2019-12-17 11:12] #3710 closed

[2019-12-17 13:43] xiyelife commented on #3750
@terrymanu
And insert error when use the 4.0.0-RC4-SNAPSHOT,miss the plain column in the final sql:
![image](https://user-images.githubusercontent.com/8772975/71000199-d6ccd780-2115-11ea-9cae-ebf4788d8ada.png)

origin SQL:
 insert into user_info (cust_id, unique_id, name, ident, mobile, password, reg_time, modify_time, reg_source, reg_app_channel, reg_device_info, status, is_mobile_authed, complat

[2019-12-18 01:25] NatsuSai commented on #3740
@terrymanu
Alright, I'll try to understand it. thx.

[2019-12-18 01:39] dongzl commented on #3747
Hi @crossdream , reference this issue #3582 .

[2019-12-18 01:45] SteNicholas commented on #3749
@fenghuanfun Because MySQLParser doesn't support the function of `date_format`. @terrymanu Please assign to me for the bug.

[2019-12-18 01:59] terrymanu commented on #3749
@SteNicholas Thank you, assigned

[2019-12-18 01:59] SteNicholas commented on #3742
@fenghuanfun The reason is that MySQLParser doesn't support function like `date_format`. Sharding column should be supported by the supported function.

[2019-12-18 02:02] SteNicholas commented on #3748
@terrymanu @tuohai666 I will fix this bug. Please assign to me.

[2019-12-18 02:02] terrymanu commented on #3748
@SteNicholas Thank you, assigned

[2019-12-18 02:56] #3747 closed

[2019-12-18 06:24] freezingWu opened #3755 "Encounter "More than one table found in namespace" Error under rc2/rc3"
I am doing the testing  with JPA and sharding-jdbc-spring-boot-starter: 4.0.0-RC3(same issue under 4.0.0-RC2) by following steps:
1. create an Entity(table) with name "ENTITY_INFO"
2. mark hibernate.ddl-auto to update
3. adding sharding as bellow:
spring.shardingsphere.sharding.tables.ENTITY_INFO.table-strategy.actual-data-nodes=ds_master.ENTITY_INFO_${201901..201912}
spring.shardingsphere.shardin

[2019-12-18 06:40] #3748 closed

[2019-12-18 06:42] tristaZero commented on #3749
Hi @fenghuanfun  this bug is fixed in [3753](https://github.com/apache/incubator-shardingsphere/pull/3753) by @SteNicholas, if possible, could give it a test?

[2019-12-18 06:42] tristaZero commented on #3748
Hi @BearKid   this bug is fixed in [3753](https://github.com/apache/incubator-shardingsphere/pull/3753) by @SteNicholas, if possible, could give it a test?

[2019-12-18 07:01] snakeeeeeeeee opened #3757 "no viable alternative at input '(channel'"
# Which version of ShardingSphere did you use?
4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
execute sql:
insert into demo(channel, name) values ('xx', 'xx')
report error:
no viable alternative at input '(channel'
### Actual behavior
Insert record faild
### Reason analyze (If you can)
'channel' seems to be the keywords of sql parsing

[2019-12-18 07:05] SteNicholas commented on #3757
@snakeeeeeeeee You are right, because this keyword isn't assigned to unreserved keywords. I will fix it. @terrymanu Please assign this to me.

[2019-12-18 07:16] ssxlulu commented on #3256
add interface for list all jobs:
[code]

[2019-12-18 07:21] terrymanu commented on #3757
@SteNicholas Thank you, assigned.

[2019-12-18 10:06] freezingWu commented on #3757
HI team, I encounter the same issue also.
May I know  is there any work around  approach to make it work ?

[2019-12-18 10:17] HongJinFeng commented on #3309
Please assign me to fix this bug.(I have the same problem when i use encrypt jdbc but i had fixed it and now the code is running in product environment) @terrymanu

[2019-12-18 10:20] wqzwh commented on #3256
UI hand drawing

![image](https://user-images.githubusercontent.com/16662470/71077765-084fac80-21c3-11ea-9345-a85eedfdf460.png)
![image](https://user-images.githubusercontent.com/16662470/71077484-78116780-21c2-11ea-8297-d7eba123d31e.png)
![image](https://user-images.githubusercontent.com/16662470/71077501-82336600-21c2-11ea-8240-ab6f4770d3cd.png)

[2019-12-18 10:21] yanyzy commented on #3309
@HongJinFeng
Looking forward to your pull request！

[2019-12-18 10:41] snakeeeeeeeee commented on #3757
@freezingWu  you can do this:
 insert into name(`channel`) values('xxx')

[2019-12-18 10:43] snakeeeeeeeee commented on #3757
@freezingWu
![image](https://user-images.githubusercontent.com/26361007/71079472-48fcf500-21c6-11ea-9f29-9da0b14ec57b.png)

[2019-12-18 10:45] snakeeeeeeeee commented on #3757
@freezingWu
![image](https://user-images.githubusercontent.com/26361007/71079563-75187600-21c6-11ea-8628-1ee2571f7985.png)

[2019-12-18 11:21] freezingWu commented on #3757
@snakeeeeeeeee
Here comes the workaround solution for JPA (refer to : https://vladmihalcea.com/escape-sql-reserved-keywords-jpa-hibernate/) when runing with sharding-jdbc.
And thanks for your kindly help.

[2019-12-18 12:06] #3757 closed

[2019-12-18 13:41] riyun1989 commented on #2781
I think it needs too.

[2019-12-18 14:17] HongJinFeng commented on #3309
Thanks, It may on weaekend because still need to work on weekday.

[2019-12-19 01:53] #2987 closed

[2019-12-19 02:21] MickMo commented on #1930
Same problem here ，same way to fix it.

[2019-12-19 02:47] yanjunlu commented on #1930
Have you found any side effects?

[2019-12-19 03:56] iamamaster opened #3764 "'UNION' sql grammar not support"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-19 04:05] iamamaster opened #3765 "not support mysql grammer Insert Select Not Exist"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-19 06:29] SteNicholas commented on #3764
@iamamaster Your SQL is something wrong that `UNOIN` both side select statements are unnecssary to add `()`.

[2019-12-19 06:44] fenghuanfun commented on #3749
not already. I hava install latest source code of branch `dev` on my machine.
its version is `4.0.0-RC4-SNAPSHOT`
but it happened again.
[the dependency iamge](https://github.com/fenghuanfun/sharding-test/blob/master/1576737655275.jpg)

[2019-12-19 07:28] lgh1122 opened #3766 "@Lob Type Field table save error"
version:
implementation 'org.apache.shardingsphere:sharding-core-common:4.0.0-RC1'
implementation 'org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.0.0-RC1'
entity:
@Data
@Entity
public class EnterpriseTable implements Serializable {

    private static final long serialVersionUID = -8075524978523778956L;
    ... ...
    @Lob
    private String detail;}

service :
enterpriseTableRepos

[2019-12-19 07:56] Keanhua opened #3767 "When a columnName contains other columnName, one of the two column is decrypt fail"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-19 08:03] SteNicholas commented on #3767
@terrymanu Please assign the bug to me for fixing the case @Keanhua mentioned above.

[2019-12-19 08:08] zhp1254 opened #3769 "how to route master special table name"
## Question

for special table we want use master db always
but others select with slave and update with master

we use springmvc + mybatis
how can i config <master-slave:data-source />

[2019-12-19 08:34] zhaoyongsheng1990 commented on #3210
I still have this problem whith 4.0.0-RC3 version when use VALUES like this：
SQL: insert into t_xxxx(data_type, delivery_org_id,receive_org_id,actual_fee,actual_instead_goods_fee, create_time) values ( ?,?,?,?,?,?) ON DUPLICATE KEY UPDATE  actual_fee = actual_fee + VALUES(?), actual_instead_goods_fee = actual_instead_goods_fee + VALUES(?),create_time = VALUES(?)
### Cause: java.sql.SQLException: N

[2019-12-19 08:41] lgh1122 commented on #3766
i find when not use sharding ，jpa use ClientPreparedQueryBindings  setCharacterStream  Make StringReader into String , but when use sharding , ShardingPreparedStatement will use  AbstractShardingPreparedStatementAdapter make StringReader Object set One List,then  mysql drive setSerializableObject whill throw error
            ByteArrayOutputStream bytesOut = new ByteArrayOutputStream();

[2019-12-19 08:41] ma1562013338 commented on #3703
If the default data source has more tables, it's really slow.And set up the 'check.table.metadata.enabled: false' does not take effect.

[2019-12-19 08:56] xiyelife opened #3770 "Insert miss the plain columns in the final sql."
### Which version of ShardingSphere did you use?
4.0.0-RC4-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
the encrypt rule config  plain column  the same to logic column can insert plain column to the db
### Actual behavior
It can not insert the plain to the db
### Reason analyze (If you can)

org.apache.shardingsphere.sql.rewriter.encr

[2019-12-19 09:11] kimmking commented on #3764
if you wanna sort your records after union, you should add a select to wrap the union and then with order clause.

[2019-12-19 09:17] terrymanu commented on #3769
what is your special table name?

[2019-12-19 09:19] terrymanu commented on #3767
@SteNicholas Assigned.

[2019-12-19 09:21] terrymanu commented on #3765
No plan to do this, it is not a necessary path for insert

[2019-12-19 09:21] #3765 closed

[2019-12-19 09:23] terrymanu commented on #3764
`UNION` is not easy to support, beside parse, we need to do query engine too.
We have no plan to do union for now

[2019-12-19 09:23] #3764 closed

[2019-12-19 09:26] #3740 closed

[2019-12-19 11:11] haetao opened #3772 "Use spring-boot configures MasterSlave with RegistryCenter Zookeeper, the MasterSlave configuration on RegistryCenter is wrong"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-19 12:48] Z-J-Fei opened #3773 "DataSource naming conflict between sharding-jdbc and druid"
Description:
The bean 'dataSource', defined in class path resource [io/shardingsphere/shardingjdbc/spring/boot/SpringBootConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [com/alibaba/druid/spring/boot/autoconfigure/DruidDataSourceAutoConfigure.class] and overriding is disabled.

druid-spring-boot-starter:1.1.20
sharding-jdbc-sprin

[2019-12-19 12:49] SteNicholas commented on #3767
@Keanhua Could you please add my wechat 834031959 to give the exception detail?

[2019-12-20 01:31] #3767 closed

[2019-12-20 01:33] Keanhua commented on #234
上海社宝信息科技有限公司  https://www.shebaotong.com/

[2019-12-20 02:10] tcmtang commented on #234
广州码码高信息科技有限公司 [http://www.mamagao.cn/](url)

[2019-12-20 02:20] zhp1254 commented on #3769
@terrymanu
such as  table `account` which storage user balance or score

[2019-12-20 02:52] tmjGitAccount opened #3774 "How Can I config To Use DatabaseHintRoutingEngine"
Sharding-Sphere Vsersion：4.0.0-RC3

I config 2 datasources in my project ,what i want is to use the hint route Strategy
Here is my properties
[code]
Here is the code
[code]
But it seems the  a.b.c.OrderShardingAlgorithm never take effect,I debug into the RoutingEngineFactory.newInstance() method, it always new  a **DefaultDatabaseRoutingEngine** rather than a **DatabaseHintRoutingEngine**, so did

[2019-12-20 05:18] haetao commented on #3770
Hi !!!  I configure  the encrypt  config  using  logic  column  the  same  as   plain  column   ,but   i   still   can insert  the  plain  to   db.
My  config  as follows:
_encryptRule:
  encryptors:
    encryptor_aes:
      type: aes
      props:
        aes.key.value: 123456abc
    encryptor_md5:
      type: md5
  tables:
    t_encrypt:
      columns:
        pwd:
          plainColumn: pwd

[2019-12-20 05:27] haetao commented on #3770
![image](https://user-images.githubusercontent.com/46469719/71232320-75cb1c80-232c-11ea-88da-ca4e7a251ebd.png)

[2019-12-20 05:28] haetao commented on #3770
My version!
![image](https://user-images.githubusercontent.com/46469719/71232368-a57a2480-232c-11ea-8500-6aecbc18c1df.png)

[2019-12-20 05:34] xiyelife commented on #3770
how about use query with cipher=false？ I‘ll test again.

[2019-12-20 06:29] haetao commented on #3770
Can you  check your context   and  test  again?   No  error  my here .
![image](https://user-images.githubusercontent.com/46469719/71234796-102f5e00-2335-11ea-8910-5dc0aeef99fa.png)

[2019-12-20 06:55] KomachiSion commented on #3772
Spring use `StringToCollectionConverter` to handle this property. And the type `slaveDataSourceNames` in YamlMasterSlaveConfiguration is Collection, so spring use HashLinkedSet to save.

[code]

[2019-12-20 07:59] CatDogZ commented on #3703
@ma1562013338  so.... is there any other solution?  currently i rewrited the class "TableMetaDataInitializer',  and skip the "loadDefaultTables' method。  then , it start quickly. but i don t  konw whether it has bad effect or not?

[2019-12-20 08:06] xiyelife commented on #3770
my config:
[code]

and my logic sql:
[code]

my actual sql:

[code]

the stack is :  mobile name ident are missing.  my table's index:

mobileun	mobile	Unique	0	A	0	204	0		0
ident	ident	Normal	0	A	0	204	0		0
mobile	mobile	Normal	0	A	0	204	0		0

[code]

the verison is
![image](https://user-images.githubusercontent.com/8772975/71239756-55a65800-2342-11ea-8cb9-5342e0d20ba7.png)

[2019-12-20 08:37] haetao commented on #3770
I 'll  try  again later. Can you  try to use  encryptor  of   offical  to  have a  try.

[2019-12-20 09:25] xiyelife commented on #3770
use encryptor of official like this:
[code]
The actual sql is the same as above .

[code]

[2019-12-20 09:46] KomachiSion commented on #3773
Would you tell me why do you use `druid-spring-boot-starter`, if only druid and shardingsphere, there are no necessary to use druid-spring-boot-starter.

If you want to use multiple Datasource in spring boot, the only way is using self-configuration to create Datasources by yourself.

[2019-12-20 12:15] lonyee1989 commented on #3210
actual_fee = actual_fee + VALUES(?)
change to
actual_fee = actual_fee + VALUES(actual_fee)

在 2019年12月19日，16:34，zhaoyongsheng1990 <notifications@github.com> 写道：

VALUES(?)

[2019-12-20 13:04] #3772 closed

[2019-12-21 08:30] yuboliang opened #3778 "Does Sharding JDBC have "Consistent Hashing " default sharding table strategy?"
Does Sharding JDBC have "Consistent Hashing " sharding table strategy?
Or "Consistent Hashing " need myself to implement it?

[2019-12-22 03:03] terrymanu commented on #3778
Can you change the title for search friendly?

[2019-12-22 03:06] yuboliang commented on #3778
ok！I will try to change a friendly title，but my English is worst， please forgive me！

---Original---
From: "Liang Zhang"<notifications@github.com&gt;
Date: Sun, Dec 22, 2019 11:03 AM
To: "apache/incubator-shardingsphere"<incubator-shardingsphere@noreply.github.com&gt;;
Cc: "yuboliang"<542869191@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [apache/incubator-shardingsphere] Consis

[2019-12-22 08:38] ljyhust commented on #3745
4.0.0-RC3  is OK

[2019-12-22 08:38] #3745 closed

[2019-12-22 12:32] TonyLuo opened #3782 "Unable to commit against JDBC Connection when using read-write split"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-23 01:20] zhaoyongsheng1990 commented on #3210
@lonyee1989 :
I need add dynamic  parameter to actual_fee
in mapper file like this:
<if test="actualFee != null and actualFee != ''">actual_fee = actual_fee + VALUES(#{actualFee}),</if>

[2019-12-23 01:43] SteNicholas commented on #3774
@tmjGitAccount You are right. `DatabaseHintRoutingEngine` isn't used in `RoutingEngineFactory `. @terrymanu Could you please assign this to me for fixing?

[2019-12-23 03:26] Keanhua commented on #3767
can not reshow

[2019-12-23 03:57] #3750 closed

[2019-12-23 05:28] RainUUU commented on #2712
尝试过4.0.0-RC1没有问题，mybatis和数据库连接池版本号都未改变。 所以应该还是4.0.0-RC2&4.0.0-RC3的问题。目前有有几种方案：1.ShardingSphere 4.0.0-RC1 搭配 MyBatis、druid-spring-boot-starter使用。 2.ShardingSphere 4.0.0-RC2 或者RC3 搭配 MyBatis、com.alibaba.druid（非springboot版本）使用。 3.希望引起ShardingSphere注意，修复bug