[2020-02-20 10:16] tristaZero commented on #4383
**To solve item 1st and 3rd, you can search key word `issues` and `commits` for double-check.**

[2020-02-20 10:19] tristaZero commented on #4383
<?xml version="1.0" encoding="UTF-8"?>
<document>
  <properties>

    <title>Apache ShardingSphere Project Incubation Status </title>
    <link href="http://purl.org/DC/elements/1.0/" rel="schema.DC"/>
  </properties>
  <body>

    <section id="ShardingSphere+Project+Incubation+Status">
      <title>Apache ShardingSphere Project Incubation Status</title>
      <p>This page tracks the project statu

[2020-02-20 10:45] tristaZero commented on #4383
*We have to add the following links to our [website]()* to solve sub-issues from 4th to 9th.**

http://www.apache.org/
http://www.apache.org/events/current-event
http://www.apache.org/licenses/
http://www.apache.org/foundation/thanks.html
http://www.apache.org/security/
http://www.apache.org/foundation/sponsorship.html

[2020-02-20 10:50] tristaZero commented on #4383
To fix sub-issues 10th to 12th, the `copyright`, `trademarks` and `disclaimer` are required. Please refer to my proposal here.
[code]

[2020-02-20 11:00] tristaZero commented on #4383
**For the last one, i am not sure, here is one hint.**
https://incubator.apache.org/clutch/shardingsphere.html

[2020-02-20 11:25] kimmking opened #4387 "Add a start.bat to launch for shardingsphere-ui distribution module in Windows"
## Feature Request
Now in shardingsphere-ui distribution module，there is only a start.sh for launch in Linux/Mac,
we should add a start.bat to launch for shardingsphere-ui distribution module in Windows.

### Is your feature request related to a problem?
Just like Proxy distribution module.

### Describe the feature you would like.
It make more convenient for Windows user.

[2020-02-20 11:30] manbo1987 commented on #4377
navicat (12.1.21) can not connect the Proxy db
navicat (11.1.13) is ok .
so  could ShardingProxy fix this issue in new version , if not  Please check this and inform navicat to fix it

[2020-02-20 11:31] manbo1987 commented on #4377
navicat (12.1.21) can not connect the Proxy db
navicat (11.1.13) is ok .
so could ShardingProxy fix this issue in new version , if not Please check this and inform navicat to fix it

[2020-02-20 11:44] #4387 closed

[2020-02-20 11:44] manbo1987 commented on #4377
![image](https://user-images.githubusercontent.com/45955973/74930746-364aaa80-5419-11ea-8cb6-c3bb37a1109c.png)
navicat 11.1.13 is ok,   maybe the diff connector ?

[2020-02-20 13:57] terrymanu opened #4390 "Fix bug and keep consist with old parser engine and new parser engine"
- [x] can skip multiple for insert
- [x] lock supported
- [x] table segment visitor from projections
- [x] table segment visitor from where predicate
- [x] Join table SQL can not be rewritten correctly
- [x] Move table segment handling from parser to token generator
- [ ] long sql cause stack overflow
- [ ] subquery supported

[2020-02-21 01:22] dongzl commented on #4377
I use mac Navicat Premium 12.0.24, It's OK.

[2020-02-21 05:06] tristaZero commented on #4382
@xiaoma20082008
Hi, what you expected is to use different AESShardingEncryptors for different columns of the same table?

[2020-02-21 05:45] terrymanu commented on #4379
Thank you for provide the good idea. Actually, we have already to plan to a pluggable architecture, the discussion mail is https://lists.apache.org/thread.html/77afaffc7a9da81d2bb08a8f0bf6601530ecc751dbd732dc666c2eb6%40%3Cdev.shardingsphere.apache.org%3E

It maybe spend 2-3 month to finish it. The pluggable architecture use SPI to implement pluggable, it should include executor.

[2020-02-21 06:42] tristaZero opened #4394 "Dulplicated table token"
Table segment is handled twice by rewriter, so dulplicated table token come out.

[2020-02-21 06:52] tristaZero opened #4396 "Move table segment handling from parser to token generator"
Parser has no resposibility to handle table segments, which should be done by Rewriter.
So i will optimize MySQLDMLVisitor and TableTokenGenerator.

[2020-02-21 06:57] tristaZero opened #4397 "Join table SQL can not be rewritten correctly"
At present, SQL case below could not work well when using new parser, and the reason is that `ON t_order.order_id` is not managed.
[code]
Here is the excpetion,
[code]

[2020-02-21 07:00] tristaZero opened #4398 "Wrong stop index for any segment with alias"
The stop index of segment is calculated as itself's stop index, rather than calculated with stop index of alias. To review all segment with alias and correct them is necessary.

[2020-02-21 07:28] #4394 closed

[2020-02-21 08:13] Fermiz commented on #2962
Is there any solutions?

[2020-02-21 08:16] Fermiz commented on #2394
@tristaZero as you said, Sharding Sphere only load the meta data from one sharding table and all tables from default data source

[2020-02-21 09:00] ICanFlyFaraway commented on #4377
@dongzl  my navicat (12.1.21) can not show the prxoy schema,but navicat (11.1.13) is ok .

[2020-02-21 09:10] ICanFlyFaraway opened #4402 "I want to use the self growing primary key. Is there any scheme available？"
I have looked up the src demo, there are only three default way :
1、Snowflake algorithm
2、timestamp
3、UUID
And in my program,when I insert a piece of data,i want get my primary key(ID) back.Thank you for your reply ：）。

[2020-02-21 09:11] ICanFlyFaraway commented on #4402
I just use sharding-proxy 4.0.0

[2020-02-21 09:24] kyllyang opened #4403 "Insert statements with subqueries do not generate SQL correctly."
## Question

**insert into (c0, c1, c2) values (v0, (select max(o.v) from other o where o.id = ?), v2), subqueries like this do not generate the correct SQL statement.**

In my project I encountered the case of including subqueries in **insert** statements,

- Original statement: insert into order(c1, c2, c3, c4) values(1,'1',(select ifnull(max(t.s),0)+1 from t_seq t where t.k=1),'1')
- Generated

[2020-02-21 09:35] xiaoma20082008 commented on #4382
The AESShardingEncryptor interface's methods about encrypt and decrypt should transfer tableName and columnName  just like my code above !

[2020-02-21 09:40] #4234 closed

[2020-02-21 09:58] terrymanu commented on #4402
Generated key can return via standard JDBC method.

[2020-02-21 10:03] #4357 closed

[2020-02-21 11:42] tristaZero commented on #4397
Ref  #4390

[2020-02-21 11:44] tristaZero commented on #4396
Ref #4390

[2020-02-21 11:44] #4396 closed

[2020-02-21 11:44] #4397 closed

[2020-02-21 15:54] lzq574947385 opened #4406 "When the table field type contains Integer, Double, BigDecimal, alter table fails"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-21 19:32] ChinaJeckXu opened #4407 "Integrate seata 1.0。"
When to integrate seata 1.0？

[2020-02-22 08:12] terrymanu commented on #4407
Can you integrate it with a pull request?

[2020-02-22 08:33] dongzl commented on #4377
Hi @ICanFlyFaraway , you can use navicat (11.1.13).

Because SharingProxy support some mysql protocol packet imperfectly, so cause this problem.

We will support it in the future.

[2020-02-22 08:46] tristaZero commented on #4382
Hi @xiaoma20082008
The responsibility of `Encryptor` is only to `encrypt(xxx)` and `decrypt(xxx)`, and there is no need for `Encryptor` to understand what the column and table are. Notice, it is just a `encryptor`.
If you wish to use different `encryptor` with different property `aes.key.value`, you can make good use of configuration, e.g,
[code]

[2020-02-22 10:51] kimmking commented on #4407
@ChinaJeckXu  If you need some guides, we can discuss about this topic here or via email.

[2020-02-22 11:56] terrymanu opened #4410 "Redesign class domain of parser module"
The current class domains are too complicated and the names will make developer confuse.
There are:

- SQLParserEntry: Provide 4 elements(lexer, parser, visitor and database dialect) for SQL parser via SPI
- SQLParser: SQL parser API interface, make all generated code has unified method `execute`
- SQLParserFactory: factory of SQL parser with database dialect
- SQLParserKernel: Caller for ALTLR pa

[2020-02-22 12:47] #4410 closed

[2020-02-23 04:41] xiaoma20082008 commented on #4382
Thank you,I'll try it @tristaZero

[2020-02-23 05:04] #4382 closed

[2020-02-23 05:26] terrymanu opened #4412 "Refactor ParseTreeVisitorFactory"
- [x] Use rule name instead of parse tree class for ParseTreeVisitorFactory
- [x] Add SQL statement type into rule name
- [x] Abstract visitor determine logic to a central class

[2020-02-23 07:48] #4390 closed

[2020-02-23 08:18] tristaZero opened #4416 "Move table segments from GroupBy or OrderBy handling from parser to token generator"

[2020-02-23 08:56] #4416 closed

[2020-02-23 09:01] #4412 closed

[2020-02-23 12:45] kimmking commented on #4406
I see #2632 comment, it's solved in 4.0.0-RC3.
You means it still there in this version?

[2020-02-23 12:52] lzq574947385 commented on #4406
Yes, I tried 4.0.0-RC1 without this bug, but 4.0.0-RC3 still has,

[2020-02-23 13:08] haetao opened #4419 "Add git delete local and origin branch operation to contributor guide"

[2020-02-23 14:00] geomonlin commented on #4371
I tried  didn't find this question. Maybe you can provide more code or log details.

[2020-02-23 15:25] #4419 closed

[2020-02-23 15:58] kimmking commented on #4402
You can use autocrement id just like directly using jdbc, then sharding-proxy is a transparent proxy.

[2020-02-24 03:07] kimmking opened #4424 "Migrate LeafKeyGenerator and remove distributedLock"
As LeafSegment&LeafSnowflake algorithms is created by thirdparty organization, the thirdparty LeafSegment&LeafSnowflake Key Genenrators should be integrated.

And then we could refactor keygen package in orchestration module. This issue will make orchestration module simplified and optimized.

We split it to the follow two tasks:
- [x] Integrate Meituan LeafSegment&LeafSnowflake [1]
- [x] Write a

[2020-02-24 03:34] tristaZero commented on #4398
We will do it later.

[2020-02-24 03:34] #4398 closed

[2020-02-24 03:35] tristaZero commented on #4365
It has done already, now our dev branch is using new sharding parser.

[2020-02-24 03:35] #4365 closed

[2020-02-24 03:40] tristaZero opened #4426 "Long sql cause stack overflow"
This SQL case exists in `sql/supported/dql/select-or.xml`.
Once comment it out and run `SQLParserParameterizedTest`, the exception will happen.

[2020-02-24 03:59] lalicw opened #4427 "Database routing by hint and table sharding by sql parse"
## Feature Request
If you use hint manager to do the database routing, you must set the sharding value to do table sharding. In this scenario the sql will not be parsed and we cannot use the sql to do the table sharding. So we expected to use the DatabaseHintSQLRouter ability and  the ParsingSQLRouter ability at the same time.
1.set the data base sharding only value in the hint manager
2.parse the

[2020-02-24 05:05] fantacy2001 opened #4431 "sharding-jdbc4，How to configure only tables that need to be fragmented through default config and customized code"
Does sharding JDBC support the following? Only the default fragmentation fields and strategy are configured for the databases and tables. The actual data nodes of tables are not configured. The assign tables are obtained through my customized mapping(myself java code).
I have many modules in my project. Each module only configures tables participating in sharding, and all projects share a common c

[2020-02-24 05:43] kimmking commented on #4431
You wanna "sku_info" literally instead of "table" of "db_0:table_01" in runtime?

[2020-02-24 05:50] KomachiSion commented on #4431
Hi, @fantacy2001 ,

ShardingSphere need you configured actual data nodes if you want to shard both datasources and tables. If there are no `actualDataNodes` configured, ShardingSphere can't know what's the Possible shardingNodes which should be input into your sharding algorithms.

For your situation, I think you can have a try like follow:

[code]

and map the actual tableName in your algorithms.

[2020-02-24 06:01] tristaZero opened #4433 "Optimize the visitor of `columnNames`"

[2020-02-24 06:09] geomonlin opened #4435 "update example orchestration to 5.x"

[2020-02-24 06:44] #4433 closed

[2020-02-24 07:30] tristaZero opened #4437 "Create Alias segment"
🗒 :
- [x] Create Alias segment.
- [x] Replace Alias member of TableSegment with Alias segment.
- [x] Replace Alias member of ColumnProjectionSegment with Alias segment.
- [x] Replace Alias member of ExpressionProjectionSegment and AggregationProjectionSegment with Alias segment.
- [x] Refactor the interface of `AliasAvailable`

[2020-02-24 07:43] kimmking commented on #4435
If you need any help, we can discuss about this topic here.

[2020-02-24 07:51] kimmking commented on #4424
Achieved.

[2020-02-24 07:51] #4424 closed

[2020-02-24 08:16] menghaoranss opened #4438 "Orchestration unit test development guide for new contributors"
## New contributors guide for unit test task of orchestration

Welcome to Apache ShardingSphere!

Here are some tips for new contributors.

### Prepare the environment

Apache ShardingSphere is based on the Java platform, so you need related environment tools:

-JDK8 version,
-Java development tool IDE, IDEA or Eclipse is recommended, install lombok plugin
-Git, or git integrated in the IDE
-Maven

[2020-02-24 08:16] menghaoranss opened #4439 "Unit test task list of orchestraion"
The following items are the classes and unit test methods that the orchestration module may need to be covered.

We welcome developers who interested in this especially are not familiar with ShardingSphere but want to contribute to participate. Any questions or supplements, you can reply directly to this issue.

And in order to help new contributors to participate in the project faster, we have pr

[2020-02-24 08:59] nevereverever opened #4443 "ShardingProxy Read / write separation cannot support transaction?"
In ShardingSphere Introduce,"If there is write operation in the same thread and database connection, all the following read operations are from the master database to ensure data consistency.
".
But I verified Read/write separation,I can't read my data after ddl in common transaction.I tried command line and using program with Spring @Transactional. Sharding Proxy version is 4.0.0

1.This is my co

[2020-02-24 09:25] leehan0617 opened #4447 "insert operation ok but select operation return null point exception"
i make 2 datasources and
partition by key ( modular 2)
insert operation success
but select by key return null pointer error

i config only databaseShardingStrategyConfig
how can i solve this problem?
thank you for answer.

[2020-02-24 10:00] huangyiminghappy commented on #4439
Hi,sharding-orchestration-center-zookeeper-curator's item,i want to try it

[2020-02-24 10:00] zjcnb commented on #4439
hi, i want try to sharding-orchestration-core case

[2020-02-24 10:01] gongsiran commented on #4439
I want to try to  sharding-orchestration-core  task

[2020-02-24 10:30] fantacy2001 commented on #4431
yes,I want to use my own mapping to find the real table name into the  sharding algorithms.

[2020-02-24 10:42] kimmking commented on #4439
@menghaoranss update assign info to this issue content.

@huangyiminghappy @zjcnb @gongsiran
You can create your own issue for your sub task.

[2020-02-24 10:45] haetao commented on #4439
Hi! I wanna try nacos's unit test case!

[2020-02-24 10:45] haetao commented on #4439
please assign to me

[2020-02-24 10:47] fantacy2001 commented on #4431
tenantId on my example is shardingColumn，my general mapping only defines the suffix of the table name and database name, it is used by all modules.  Whether each module can only configure tables participating in sharding. Then take the general mapping and assemble the real table according to the configured partition table name into the sharding algorithms ?
if i have configured 'actualDataNodes',

[2020-02-24 10:49] kimmking commented on #4439
Hi, welcome to contribute.
Everyone who is insterested in a certain sub task can comment in issues#4439, and create his/her own issue to track details util the task is done.
:  )

[2020-02-24 10:53] zjcnb commented on #4439
Your first five, my last five! What do you think? @gongsiran

[2020-02-24 10:54] haetao opened #4450 "Add unit test case for Nacos orchestrartion center"
Detailed task in issue #4439

[2020-02-24 10:54] KomachiSion commented on #4431
I don't understand your question clearly. Do you mean that you want only configure  `defaultDatabaseStrategy` and `defaultTableStrategy` without `tables`?

[2020-02-24 10:58] menghaoranss commented on #4439
@gongsiran , you can also try other modules.

[2020-02-24 11:02] ganjx commented on #4439
Which module is left, I can try

[2020-02-24 11:02] gongsiran commented on #4439
i try sharding-orchestration-center-apollo  task

[2020-02-24 11:03] gongsiran commented on #4439
thank you  @zjcnb

[2020-02-24 11:04] fantacy2001 commented on #4431
besides `defaultDatabaseStrategy` and `defaultTableStrategy`,   Can only define the tables who need sharding?

[2020-02-24 11:05] gongsiran commented on #4439
I want to try sharding-orchestration-center-apollo task  @menghaoranss

[2020-02-24 11:07] KomachiSion commented on #4431
it's ok, if configured `defaultDatasourceName`,  the SQL which is not sharding table will be routed to the default datasource. If no `defaultDatasourceName` configured, the SQL which is not sharding table will be random to one datasource you configured.

[2020-02-24 11:09] KomachiSion commented on #4431
Do you mean you want just configure which tables you want to shard without actualDataNodes?

[2020-02-24 11:19] gongsiran opened #4451 "Add unit test case for sharding-orchestration-center-apollo module"
Detailed task in issue   #4439

[2020-02-24 11:24] llk984145406 commented on #4439
hi, i want try to   sharding-orchestration-center-api case

[2020-02-24 11:26] fantacy2001 commented on #4431
yes, i mean this

[2020-02-24 11:31] kimmking commented on #4438
@menghaoranss Chinese version comment here, it can help new contributors.

[2020-02-24 11:31] KomachiSion commented on #4431
Possibly not, no actualDataNodes means that you want shard datasource only. And if you want to shard both datasources and tables, you should configure actualDataNodes ensure the input of your sharding algorithm is correct.

[2020-02-24 11:45] menghaoranss commented on #4439
you can create your issue  now.

[2020-02-24 11:45] menghaoranss commented on #4439
@llk984145406  ,  you can create your issue now.

[2020-02-24 11:52] menghaoranss commented on #4438
以下是对于新贡献者的一些提示信息。

### 环境准备

Apache ShardingSphere 是基于Java平台的，所以你需要相关的环境工具：

- JDK8版本，
- Java开发工具IDE，推荐IDEA或Eclipse，安装lombok插件
- Git，或者IDE里集成的git
- Maven3.5

如果本地运行Sharding-Proxy，还需要：

- MySQL 5.6 或 5.7 server，如果要验证PostGreSQL或其他数据库相关功能，需要安装对应的数据库软件。
- Zookeeper 3.5.6 或其他版本，如果要验证Apollo或Nacos的配置中心，也需要安装对应的软件。

如果要调试和运行UI相关项目，需要安装：

- Node 8.11.1以上版本以及对应的NPM 5.6.0以上版本。

### 项目说明

#### 下载源码

项目地址：http

[2020-02-24 11:53] zjcnb opened #4452 "I want try to sharding-orchestration-core module"
Detail task in #4439

[2020-02-24 11:56] gongsiran commented on #4439
my issue is  #4451

[2020-02-24 11:57] gongsiran commented on #4439
my issue is #4451

[2020-02-24 12:58] fantacy2001 commented on #4431
o, understand， thanks very much!!
another question：
one existing project,  now I want to introduce sharding-jdbc to sharding db and table, my existing table : table(no suffix)、table_001、table_002.... table_00n，like this define,  How to configure actualDataNodes ?
Please help me ，thank you！

[2020-02-24 13:34] yuzel commented on #4447
Please provide information according to the Bug Report template, otherwise we don't know what your specific problem is.

[2020-02-24 14:10] terrymanu commented on #4452
Welcome, I just assign the issue to you

[2020-02-24 14:11] terrymanu commented on #4451
Welcome, I just assign the issue to you

[2020-02-24 14:40] geomonlin commented on #4435
that's great.

[2020-02-24 14:53] geomonlin commented on #4435
Hi, I want to know how to configure Nacos in spring-namespace. Here is my some configuration.
[code]
but it's invalid SPI type `nacos`. Please have any discussion records about spring-namespace configuration?

[2020-02-24 14:59] terrymanu opened #4453 "Completion of parse SET statement"
We just parse SET statement simplify, it is not enough.

The SET statement is different with each database dialect.

Syntax of MySQL:

[code]

Syntax of PostgreSQL:

[code]

Even they are different totally, but we still can find the same abstraction of them.

The tasks of SET statement:

- [x] Parse variable name
- [ ] Parse variable value
- [ ] Parse scope
- [ ] Can support set multiple variables

[2020-02-24 16:16] cocodroid commented on #4439
None left?

[2020-02-25 00:41] KomachiSion commented on #4431
configure actualDataNodes like follow:
[code]

[2020-02-25 01:21] terrymanu commented on #4443
The proposal of read-write split is using data consistence to exchange performance improvement. Using transaction in write is OK, but use transaction with read and write is not good practice.

We need to add description to doc, do you interest in this issue?

[2020-02-25 01:23] terrymanu opened #4455 "Add doc to describe read-write split can not support transaction and explain the reason shortly"
The proposal of read-write split is using data consistence to exchange performance improvement. Using transaction in write node only is OK, but using transaction with read and write together is not good practice.

We need to add the description to document for read-write split.

The files of document:

[code]

Tasks are:

- [ ] Add a new item to describe can not supported transaction cross master

[2020-02-25 01:24] #4443 closed

[2020-02-25 01:24] terrymanu commented on #4443
FIY #4455

[2020-02-25 01:31] cherrylzhao commented on #4407
seata 1.0 is compatible with shardingsphere, you can see detail [transaction-base-seata-raw-jdbc-example](https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-base-seata-raw-jdbc-example), seata is `  <seata.version>1.0.0</seata.version>`

[2020-02-25 01:37] ICanFlyFaraway commented on #4402
OK，i have implements ShardingKeyGenerator.java，can I use the any interface of the shrding-proxy to excute the sql like “select max（id）...” to get current max id？Or i just use use the original jdbc to get it ？

[2020-02-25 01:37] fantacy2001 commented on #4431
thank you very much!!!

[2020-02-25 01:53] yuzel commented on #4406
I found the same problem with 5.x mysql

[2020-02-25 02:11] menghaoranss commented on #4439
@llk984145406
@gongsiran
@huangyiminghappy
@zjcnb
Could you provide your wechat id or add me on Wechat with remark 'shardingsphere', my wechat id : `haorand003` , I will create a group to communicate and learn from each other.

[2020-02-25 03:13] jingshanglu commented on #4453
I'll support "Parse variable value" and "Can support set multiple variables"

[2020-02-25 03:30] ganjx commented on #4455
I want try it, ths. @terrymanu

我觉得应该分两个名词，读写事务一致性和主从事务一致性；
1、读写事务一致性是从业务场景看读写是否必须同在一个事务中，再从事务隔离级别的角度来决定；
2、主从事务一致性，主从数据库事务一致性需要牺牲性能来保证同步双写才可以。

[2020-02-25 03:33] terrymanu commented on #4455
@ganjx Welcome, can we talk with English?

[2020-02-25 03:46] geomonlin commented on #4455
This's a documents Contributor Guide. https://shardingsphere.apache.org/community/en/contribute/document-contributor/

[2020-02-25 03:57] #4407 closed

[2020-02-25 04:53] terrymanu commented on #4453
@jingshanglu Great, I just assign issue to you.
Anybody inserting, I can continue  to assign them.

[2020-02-25 04:54] terrymanu commented on #4447
What is your version, can you provide your SQL?

[2020-02-25 05:02] terrymanu commented on #4403
Can not support subquery now.
We prepare create a new feature for subquery in future.

[2020-02-25 05:02] #4403 closed

[2020-02-25 05:03] #4437 closed

[2020-02-25 05:07] terrymanu commented on #4317
Got it, it should be a bug, I will resolve this

[2020-02-25 05:08] terrymanu commented on #4317
Can you provide your rule configuration? It looks like using encrypt only?

[2020-02-25 05:09] KomachiSion commented on #4427
Try to set the databaseStrategy as HintShardingStrategy and tableStrategy as Standard or Inline Strategy.

[2020-02-25 05:10] terrymanu commented on #4317
Sorry, just ignore last message, you just the official example

[2020-02-25 05:17] #4269 closed

[2020-02-25 05:34] ssxlulu commented on #4280
It may be a problem about readonly transaction, I will research it further.

[2020-02-25 05:40] terrymanu commented on #4280
Thank you, assigned @ssxlulu

[2020-02-25 06:32] geomonlin commented on #4317
Hi, Create SQL for table is different in MySQL and PG. Have you changed the SQL？Maybe you can see this acceptance test code as a guide for PG.

[2020-02-25 07:55] yuzel opened #4459 "Fix example project incorrect references"
org.apache.shardingsphere.core.yaml package classification migration caused org.apache.shardingsphere.example project build to fail

[2020-02-25 08:02] lklkxcxc opened #4460 "SQL exec `order by` and `desc` feedback result may hung"
Sharding-proxy version: 4.0.0-RC3

- Problems encountered 1：Query SQL `select association,rounds,election_time as electionTime,title from zhyxh where doctor_id = 848224 order by association,election_time desc` feedback results hung.

    Query SQL `select association,rounds,election_time as electionTime,title from zhyxh where doctor_id = 848224` feedback results ok.

  logs:  no error in logs

- P

[2020-02-25 08:11] beijing-penguin commented on #4453
I want to do Parse variable value

[2020-02-25 08:13] geomonlin commented on #4317
I follow your configuration,it‘s normal

[2020-02-25 08:17] nevereverever commented on #4455
I can not find the directory you mentioned.
Should I create a new one named "incubator-shardingsphere-doc/document/content/features/read-write-split/"?
Then commit?

[2020-02-25 08:23] geomonlin commented on #4455
you can see here https://github.com/apache/incubator-shardingsphere/tree/master/docs

[2020-02-25 08:25] gongsiran commented on #4455
i want to try  add   document

[2020-02-25 08:38] jiangxiewei opened #4464 "when did the configuration **default-database-strategy** work ?"
## First of all
my English is suck
## Question
when I only configured the default-database-strategy ( no specific table rule are configured ) , My defaul-database-strategy didn't work. (I use hintManager.setDatabaseShardingValue() )
##  Version
4.0.0
##  Detail
my configuration as follow :
[code]

I follow  the code and see the RoutingEngineFactory.java create UnicastRoutingEngine.java
[code]
and

[2020-02-25 08:43] nevereverever commented on #4455
Sorry,I can't understand.
Write here,then you move it to these documents?
Or I fork shardingsphere then push it?

[2020-02-25 08:45] jiangxiewei commented on #4464
in 3.1.0 ,
when I use hintManager.setDatabaseShardingValue() , ShardingRouterFactory  will create DatabaseHintSQLRouter  as follow:
[code]

so I rollback to 3.1.0 and the default-database-strategy work well .

[2020-02-25 08:49] geomonlin commented on #4455
yeah, you need fork shardingsphere then push it

[2020-02-25 08:52] kimmking opened #4467 "Refactor orchestration center interface"
Now we start to refactor and redesign orchestration module for 5.0.0 version. After removing distributedLock&Leaf keygen, we should Refactor orchestration center interface, it contains several sub tasks as follow:
- [ ] refactor ConfigCenter to ConfigCenterRepository
- [ ] refactor RegistryCenter to RegistryCenterRepository
- [ ] extract more methods to CenterRepository
- [ ] modify all class rela

[2020-02-25 08:53] geomonlin commented on #4455
this is latest [ documents Contributor Guide](https://github.com/apache/incubator-shardingsphere/blob/master/docs/community/content/contribute/document-contributor.cn.md). you can see this

[2020-02-25 09:10] #4467 closed

[2020-02-25 09:20] kimmking opened #4470 "About feature name in doc"
Hi, community,
     I find there is a feature named `APM` in our doc [1]. It may be more clear to user by a name
`APM Integration` or `APM support` instead of origin name.

1. https://shardingsphere.apache.org/document/current/en/features/orchestration/apm/

[2020-02-25 09:50] #4459 closed

[2020-02-25 09:50] flzxsqcysyhljt opened #4471 "Can ado.net connect sharding-proxy?"

[2020-02-25 09:51] terrymanu commented on #4471
Can you have a try with ado.net ?

[2020-02-25 09:55] kimmking commented on #4471
Yes, it can. Just like JDBC.

[2020-02-25 09:58] geomonlin commented on #4317
I followed your configuration and modify the create table SQL statement `CREATE TABLE IF NOT EXISTS t_user (user_id BIGSERIAL NOT NULL, user_name VARCHAR(200), user_name_plain VARCHAR(200), pwd VARCHAR(200), assisted_query_pwd VARCHAR(200), PRIMARY KEY (user_id));
       ` It's successful execution. Maybe you can try it. Can you give more details to  reproduce this problem.

[2020-02-25 09:58] #4470 closed

[2020-02-25 10:06] techzhou commented on #4371
I use mybatis as ORM,when I execute INSERT/UPDATE SQL, it report no parameters.
it only happen in version > 4.0.0-RC1
I tried debug it, then I found
in
https://github.com/apache/incubator-shardingsphere/blob/f81f4f03b1dd4b426adf1f29ffe93f9540ce6fc9/sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/core/statement/ShardingPreparedStatement.java#L174-L184

whe

[2020-02-25 10:08] #4431 closed

[2020-02-25 10:10] menghaoranss commented on #2010
I will try to fix it, please assign this issue to me.

[2020-02-25 10:10] kimmking commented on #4377
@ICanFlyFaraway @manbo1987
Can you show some logs when it can't work here. thx.

[2020-02-25 10:11] terrymanu commented on #2010
@menghaoranss Great

[2020-02-25 10:12] kimmking commented on #4341
@ancientelves  Does it take effect now?

[2020-02-25 10:17] kimmking opened #4473 "Rename project name `sharding-orchestration-center-zookeeper-curator`"
Hi, community.

We should rename project name `sharding-orchestration-center-zookeeper-curator` to `sharding-orchestration-center-zookeeper`, cause curator is the client library for zookeeper. It shouldn't be in the project name.

[2020-02-25 10:18] #3361 closed

[2020-02-25 10:19] KomachiSion commented on #4028
Hi @lightyear007, There are two possible behavior for none-values hint strategy.

1. If the tables in your SQL is not a sharding table( which means you do not configure it in shardingRule), the SQL will be routed to your defaultDatasource. What's more, the defaultDatasource also miss, the SQL will be routed to one random datasource.
2. If the tables in your SQL is a sharding table, the SQL will be

[2020-02-25 10:32] #4335 closed

[2020-02-25 10:35] beckhampu commented on #4402
@ICanFlyFaraway , i think you already know how to get the self-incrementing primary key. And  as you said,  now you can execute the SQL through jdbc to get the current maximum id.

[2020-02-25 10:56] tristaZero commented on #4371
Hi @techzhou i appreciated your debug action. You know, help comes behind self-help. :)

Your SQL and Sharding rule is simple and has been covered by our integrated tests, so i have no idea at the first glance. Could you debug it deep to help solve this issue?

Looking at the error log below, i speculated the cause is `bad parsing of SQL`.
[code]
Sharding Parser can not extract corresponding colum

[2020-02-25 11:10] terrymanu commented on #4455
@gongsiran Welcome, assigned

[2020-02-25 13:14] Arnow commented on #4255
hi， I think it's same problem with MYSQL_TYPE_TIMESTAMP in mysql_bind_result() , you can test it .

[2020-02-25 13:22] Arnow commented on #4255
em, either does MYSQL_TYPE_BLOB

[2020-02-25 13:28] SteNicholas commented on #4453
@terrymanu Please assign following two task to me:
- Consider about Oracle and SQLServer
- Consider about use sub-class to split different of SET dialect

[2020-02-25 14:23] wgy8283335 commented on #4464
OK. I will take care of this issue. You only concern configuration below right?
[code]

[2020-02-25 18:33] jiangxiewei commented on #4464
yes... emmmm ,  I use hintManager.setDatabaseShardingValue() to add shardings in hint route to some certain sharding database without sharding tables And I only configured default-database-strategy.hint but it doesn't work like 3.1.0

[2020-02-25 18:36] jiangxiewei commented on #234
公交云 http://www.dtchuxing.com/index.html

[2020-02-25 19:24] ppourali commented on #4317
Hi,

It is very strange to me too. I feel I am doing something wrong! I cloned the repo, performed mvn eclpse:eclipse to make it for eclipse, then imported the projects as eclipse projects and ran my code. I did not change any thing else. However, when I run the sharding-proxy using "start.bat" and then perform the queries, it will work. So, I guess the problem might be the way the projects were b

[2020-02-25 19:27] ppourali commented on #4379
Thanks for the reply, so, what do you suggest if we want to customize only one class in the sharding-proxy project? Let's say we want to extend/customize a small portion of ProxySQLExecuteCallback class.

Regards,
Parsa

[2020-02-25 20:37] bharathikannan-zarget opened #4478 "Is this possible to just shard databases with table rule configuration?"
I am trying to use ShardingSphere in one of my applications.
Is there a way I just shard databases alone without configuring table rule configurations.

Example:
[code]

[2020-02-26 00:39] flzxsqcysyhljt commented on #4471
@terrymanu yes,but I ran into some trouble when I opened the link

[2020-02-26 01:18] techzhou commented on #4371
thx your tip. found problem. my table has a column named 'component', cause fail.
just change column name, its ok
but still dosent understand what caused. maybe mysql 8 keywords include 'component'?, but I use percona 5.7.

[2020-02-26 01:54] manbo1987 opened #4479 "Insert speed is very slow"
## Question

I try to use ShardingProxy to my program ,and i found a problem that is :
Insert speed of ShardingProxy is very slow.

I write a program to transfer my old data via Jdbc( batch).

and In the same senario ,Mycat to do the same thing, the speed is hundred faster

            insert data for a whole day only one million data was inserted

1. Is there any config problem ? (I use snow flak

[2020-02-26 02:49] yanyzy commented on #4230
@yl1935
Thanks for your feedback, would you like to submit a pull request to fix this bug? it is a good opportunity to get involved.

[2020-02-26 02:55] kimmking commented on #4479
Can you show your config file、insert java code demo and data ？
I will try it and feedback.

[2020-02-26 02:57] kimmking commented on #4479
My weixin id is kimmking, maybe we can transfer files via weixin.

[2020-02-26 02:58] kimmking commented on #4478
Yes, you shoud config a default database strategy with your above rule,
and  a default table strategy with none.

[2020-02-26 03:01] tuohai666 commented on #4460
@lklkxcxc How many rows will be return for the Problem 1?

Can you have a try with the version 4.0.0?

[2020-02-26 03:01] ssxlulu commented on #4280
I have researched some documents. The default value of read only  in [MySQL](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_transaction_read_only) or [PostgreSQL](https://www.postgresql.org/docs/current/runtime-config-client.html) is false.Like the following pictures show:

MySQL:
![image](https://user-images.githubusercontent.com/14773179/75307158-fd319080-5885-11ea-9

[2020-02-26 03:04] xfyang1988 opened #4480 "Shardingsphere takes a long time to parse simple SQL for the first time"
Shardingsphere takes about 5S to parse simple SQL for the first time. I know that it takes a little time to parse SQL for the first time, but it feels too slow when the parsing reaches 3-5 seconds. I know that shardingsphere will cache the SQL after the first parsing. What's the reason for the slow first parsing? Is there a good solution

version：Shardingsphere-4.0.0-RC2

![{4693AB9E-3A1D-459C-8DC

[2020-02-26 03:13] dongzl commented on #4478
Hi @bharathikannan-zarget , @kimmking , I understand **default table strategy with none** config only can be used after 5.0.0 version.

reference issue: #4276 .
reference pr: #4369 .

[2020-02-26 03:20] dongzl commented on #4480
Hi @xfyang1988 , please reference this issue #3676 . Maybe they are same question.

[2020-02-26 03:28] dongzl commented on #4480
@xfyang1988  I suggest you can upgrade the version to 4.0.0 stable version.

[2020-02-26 03:48] xfyang1988 opened #4481 ""sharding-core-parse-mysql" does not have version 4.0.0?"
"sharding-core-parse-mysql" does not have version 4.0.0?
I think the latest version of Maven is 4.0.0-RC3.

[2020-02-26 03:50] xfyang1988 commented on #4480
"sharding-core-parse-mysql" does not have version 4.0.0?

[2020-02-26 03:55] tuohai666 commented on #4255
OK.

[2020-02-26 03:59] tristaZero opened #4482 "Correct the `DataTypeName` for each DataBase"
The definition of `DataTypeName` in `RuleName.g4`(Antlr grammer file) of each DataBase is not correct so far, therefore this issue is created to correct them. The sub-task list is below,
- [x] Correct the `DataTypeName` for `MySQL`.
- [x] Correct the `DataTypeName` for `PostgreSQL`.
- [x] Correct the `DataTypeName` for `SQLServer`.
- [x] Correct the `DataTypeName` for `Oracle`.
- [x] Correct the `

[2020-02-26 04:17] #4481 closed

[2020-02-26 04:18] tristaZero commented on #4371
Hi @techzhou
`component` is a key word but not a reserved word of MySQL.
Sorry to say it is a bug, and we will fix it ASAP.

Thanks for your feedback, good job. 🙂

[2020-02-26 04:39] yuzel commented on #4482
Ok, i can support mysql and postgresql first.

[2020-02-26 05:45] lklkxcxc commented on #4460
@tuohai666 Three rows return for Problem 1. The same problem when I used  the version 4.0.0.

[2020-02-26 06:40] dongzl commented on #4480
what‘s your mean? 4.0.0 is a release version, all module have 4.0.0 version.

[2020-02-26 06:46] dongzl commented on #4480
I understand your mean, **sharding-core-parse-common** doesn't have 4.0.0 version, because it maybe rename after project refactor.

[2020-02-26 07:20] techzhou commented on #4371
@tristaZero understand. thanks for your help

[2020-02-26 07:37] tristaZero commented on #4371
@techzhou Hi Are you interested in fixing this issue?
It is a simple one, so if you want to do, please look at the solution below. Otherwise, we can post it to community.

[2020-02-26 07:44] tristaZero commented on #4371
### What caused this issue?
[Answer](https://github.com/apache/incubator-shardingsphere/issues/4371#issuecomment-591230503)

### How to solve this issue?
- [ ] Add `component` to  [unreservedWord](https://github.com/apache/incubator-shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/BaseRule.g4)(An Antlr rule definination).
- [ ] Raiz

[2020-02-26 08:47] ancientelves commented on #4341
@kimmking
Now it's normal.
Thanks for your help.

[2020-02-26 08:47] #4341 closed

[2020-02-26 08:48] ancientelves commented on #4341
solved

[2020-02-26 09:09] tristaZero opened #4485 "Create KeywordValue"

[2020-02-26 09:48] #4485 closed

[2020-02-26 09:59] jxxyan commented on #3703
how did you change the source code ,download the src and make a new module ?

[2020-02-26 10:00] jxxyan commented on #1930
how did you do that ,have some codes?

[2020-02-26 10:58] #4473 closed

[2020-02-26 11:00] kimmking commented on #4478
Oh...I will tell Haoran to merge related pr to 4.x.

[2020-02-26 11:06] kimmking commented on #4480
I'm not sure the parser cost 5s.
As the log show, 10:39:11->10:39:17，the operation log is masked, what does it do?

[2020-02-26 11:10] kimmking commented on #4464
I think it's duplicated with https://github.com/apache/incubator-shardingsphere/issues/4478

[2020-02-26 11:12] kimmking commented on #4471
can you show the error log details?

[2020-02-26 11:26] kimmking commented on #4402
I guess max(id) is not nessesary and not exactly right.
If you use JDBC directly, use `select last_id()`  after insert a row in the same transaction to be better.
If you use mybatis, you can config mapper like this:
`<insert id="insert" keyProperty="id" useGeneratedKeys="true" ...`

[2020-02-26 11:43] nevereverever opened #4488 "I hope sharding-proxy supports "explain""
version:4.0.0
sharding-proxy should has this function that we can use "explain" to tell us my sql execute in which real datasource.
I hope you can notice my expect.

[2020-02-26 12:05] terrymanu commented on #4479
May duplicate with #4231

[2020-02-26 12:09] terrymanu commented on #4488
Yes, it is. FIY: https://shardingsphere.apache.org/document/current/en/manual/sharding-proxy/usage/

[2020-02-26 12:09] #4488 closed

[2020-02-26 12:14] terrymanu commented on #4480
Your time cost maybe not SQL parse only, it seems like the cost of load metadata are added too.
Can you use skywalking or other OpenTracing supported project to trace your SQL parser time?

[2020-02-26 12:47] wgy8283335 commented on #4464
Sharding-JDBC 4.0 is the software that you are using now, right?

[2020-02-26 12:48] beckhampu commented on #4402
@kimmking ，maybe you are right.  @ICanFlyFaraway ,  can you give us some more details ?

[2020-02-26 16:30] bharathikannan-zarget commented on #4478
Hi @kimmking , it will be really great if it is part of 4.x. I am using ShardingSphere 4.x with spring boot.

[2020-02-26 17:37] jiangxiewei commented on #4464
no... I used 3.1.0 at first and I try to update the version 4.0.0

[2020-02-27 00:48] nevereverever commented on #4488
@terrymanu
Thanks for your reply,I use your suggest,it works!
I have a another question,if it only supports simple explan at present, right?
Compare to "Ali drds",this function is not well now,do u considered that improve it in future versions?

[2020-02-27 01:34] kimmking commented on #4471
![image](https://user-images.githubusercontent.com/807508/75404008-3b8d8500-5944-11ea-8aca-8927a9a871aa.png)

@flzxsqcysyhljt  As the above image, ADO.NET for MySQL works well via Proxy.

[2020-02-27 01:54] kimmking commented on #4471
![image](https://user-images.githubusercontent.com/807508/75404936-09c9ed80-5947-11ea-8352-0b1e8c725bf0.png)

select/insert/update/delete  tests work well.

[2020-02-27 01:58] flzxsqcysyhljt commented on #4471
I used the postgres:latest test-_-!!!
I try again now

[2020-02-27 02:01] kimmking commented on #4471
Can you show your error log in proxy console?

[2020-02-27 03:10] #4371 closed

[2020-02-27 03:15] tristaZero commented on #4371
Hi @techzhou
Very appreciated your contributions to ShardingSphere community. Your PR will benifit all of the users. 👍

[2020-02-27 03:34] flzxsqcysyhljt commented on #4471
@kimmking
psql connect sharding-proxy is allright.

ado connect sharding-proxy:
【ado Exception】:“Received unexpected backend message CompletedResponse. Please file a bug.”
【sharding-proxy】：none

navicat connect sharding-proxy:
sharding-sphere-4-proxy | [INFO ] 03:15:59.533 [epollEventLoopGroup-2-1] i.n.handler.logging.LoggingHandler - [id: 0xc01bccb9, L:/0.0.0.0:3308] READ: [id: 0xf95a48dc, L:/192

[2020-02-27 04:09] nevereverever commented on #3127
@terrymanu Hi.
I just met this problem in version 4.0.0
I used a distributed database agent called "hotdb",which played role like sharding-proxy, I compared their performance(Multithreaded insertion，10thread),Hotdb is three times faster than sharding-proxy.
My CPU has four cores,sharding-proxy CPU load more than 300% when my testing program is running(actually ,350%).

I'm going to grab the progra

[2020-02-27 04:37] #4406 closed

[2020-02-27 04:39] tristaZero commented on #4482
Hi @yuzel You made a good start for this issue, good job. 👍

[2020-02-27 06:05] yuzel commented on #4482
Yes, I am going to continue to modify PostgreSQL.

[2020-02-27 06:46] jiangxiewei commented on #4464
yes

[2020-02-27 07:09] cherrylzhao opened #4493 "add curl command to get the tag_dir in release guide document"
we should make diff more detail in release guide, add following section before check source content.

<img width="867" alt="image" src="https://user-images.githubusercontent.com/8317649/75599973-ea68c700-5ae4-11ea-9966-721e7ab8384b.png">

### compare release source with github tag
[code]

task lists is here

- [ ] add curl command in [release.cn](https://github.com/apache/incubator-shardingsphere/

[2020-02-27 07:28] cherrylzhao opened #4494 "add git clone --branch xx command in release guide"
we should add git clone command to download the release branch as below

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/8317649/75599452-eb4b2a00-5adf-11ea-9759-9d93745f1438.png">

[code]

task is here
- [ ] add git clone command in [release.cn](https://github.com/apache/incubator-shardingsphere/blob/master/docs/community/content/contribute/release.cn.md)
- [ ] add gi

[2020-02-27 07:40] tristaZero opened #4495 "Create owner segment"
- [x] Create OwnerSegment
- [x] Replace `TableSegment` of `ShorthandProjectionSegment` with `OwnerSegment`.
- [x] Replace `TableSegment` of `ColumnSegment` with `OwnerSegment`.
- [x] Replace `SchemaSegment` of `TableSegment` with `OwnerSegment`.

[2020-02-27 07:44] tristaZero commented on #4495
I don't even know i am a so work-hard person? 😃
Why do many of people have so much energy or power everyday?

[2020-02-27 07:58] #3598 closed

[2020-02-27 08:07] tuohai666 opened #4496 "Replace 'mvn install' by './mvnw install' in release guide"
We'd better use './mvnw install' to check released source package.

The files of document:

[code]

Task is:

- [ ] Replace 'mvn install' by './mvnw install'

[2020-02-27 09:14] nevereverever opened #4499 "sharding-proxy CPU load too high"
sharding-proxy version:4.0.0

I ran my test program ,it's a simple insert,10 threads, 1000 insert per thread in 1 hour, my virtual machine CPU(4 cores) load more than 350%.Sharding rule is a simple hash.

top command output:
[code]

I grab the program stack,find that CPU consumption here:
[code]

[2020-02-27 09:46] kimmking commented on #4309
As UnitTest tasks moved to #4439
So this issue should be closed now.

[2020-02-27 09:46] #4309 closed

[2020-02-27 09:53] kimmking commented on #4471
which version of pg server and npgsql lib?

[2020-02-27 10:03] kimmking commented on #4478
@menghaoranss

[2020-02-27 10:19] kimmking commented on #4499
You means "ExtractorUtils.isMatchedNode" method is called too many times, so raise CPU consumption ?

[2020-02-27 10:46] tuohai666 opened #4501 "Identify MySQL syntax allowed in Prepared Statements"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy
### Expected behavior
Use MySQL C API to prepare and execute the SQL 'BEGIN' right.
### Actual behavior
C API return an unknown exception.
### Reason analyze (If you can)
C API expect a ER_UNSUPPORTED_PS message. But Proxy return a success message

[2020-02-27 10:51] #4280 closed

[2020-02-27 11:44] yunlibo commented on #4496
I'm interested in it. May I try it on?

[2020-02-27 11:48] geomonlin commented on #4496
Welcome. If you have any questions, please ask us. Maybe can add your contact information.

[2020-02-27 12:01] tuohai666 commented on #4496
@yunlibo Of  course.

[2020-02-27 15:48] bio1984 opened #4505 "自定义ShardingAlgorithm无法注入spring context"
如标题描述，运行环境为Springboot，启动时已经通过@PostConstruct注解进行ApplicationContext的初始化，但初始化不成功
代码如下：
`@Configuration
public class ShardingJdbcConfig {

    @Autowired
    private DataSource dataSource;
    @Autowired
    ApplicationContext applicationContext;

    @PostConstruct
    public void init() {

        if (dataSource instanceof ShardingDataSource) {
            ShardingDataSource sds = (ShardingDataSourc

[2020-02-27 16:17] kimmking commented on #4505
can you show some error log?

[2020-02-27 17:29] terrymanu commented on #4505
**For English only**, other languages will not accept.

[2020-02-27 17:29] #4505 closed

[2020-02-27 20:03] bharathikannan-zarget commented on #4478
Hi @kimmking @dongzl

Is it available part of 4.0.1?  Do you have an estimated timeline for release of 4.x and 5.x?

[2020-02-28 01:15] flzxsqcysyhljt commented on #4471
pg:12.1 (Debian 12.1-1.pgdg100+1)
npgsql:4.1.3.1

[2020-02-28 01:18] ppourali opened #4507 ""Select * From table" returns both plain and cipher columns in the resultset in Sharding-Proxy"
Hello,

My questions is that, when we run SELECT * FROM Table1, it returns both plain column and cipher column , which is not a good idea because what would be the point of encryption then?! However, when we run SELECT column from Table1, it returns the encrypted column only. Are we doing anything wrong?

Thanks,
Parsa

[2020-02-28 01:42] nevereverever commented on #4499
Almost,I read the source code,these series of parse cause the CPU rise,especially here:
[code]

[code]

A large number of loops have been executed in this "while".

@kimmking

[2020-02-28 01:58] nevereverever commented on #4499
ExtractorUtils.isMatchedNode() is called too many times,too.
And this's one reason.

[2020-02-28 03:47] kimmking commented on #4471
I reproduce this issue in Windows 10 now.

Env：
-------------------------------------------------------------
 PostgreSQL 10.11, compiled by Visual C++ build 1800, 64-bit
 Npgsql 4.1.3.1

[2020-02-28 04:09] #4342 closed

[2020-02-28 05:55] KomachiSion opened #4510 "Preparing to merge sharding-scaling branch into master branch"
ShardingScaling has finish some basic function for migrating and scaling out, detail see #3598 .

So I'd like to open a discussion and do some checks for merging sharding-scaling/sharding-scaling-ui into master branch.

Following is the check list:

- [x] Double check the License and dependency
- [x] Double check ASF headers
- [x] Check spelling and naming

Any more check item?

[2020-02-28 06:10] kimmking commented on #4471
According to remote debug proxy，I get the sql proxy can't parse correctly.
It begin with a comment line:

[code]

[2020-02-28 06:35] kimmking commented on #4471
After debug, I find psql executing successfully cause psql remove the comment line and then send a simple sql to proxy.

[2020-02-28 06:44] flzxsqcysyhljt commented on #4471
thanks a lot @kimmking
I try again now

[2020-02-28 07:12] dongzl commented on #4507
Hi @ppourali , can you show more details, what's your configuration and table structure and so on?

[2020-02-28 07:43] kimmking commented on #4471
I found a description about the above comment in [pgsql doc site](https://www.postgresql.org/docs/current/catalog-pg-type.html) :

If this is a composite type (see typtype), then this column points to the pg_class entry that defines the corresponding table. (For a free-standing composite type, the pg_class entry doesn't really represent a table, but it is needed anyway for the type's pg_attribute

[2020-02-28 07:45] wgy8283335 commented on #4464
@jiangxiewei Hi, I find that a similar issue #3964. And the bug is fixed in 5.0.0 version.

[2020-02-28 07:46] #4464 closed

[2020-02-28 08:29] FesonX opened #4515 "SQLAlchemy with package mysqlclient raise(10002, '2Unknown exception: [Failed to switch schema, please terminate current transaction.]')"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-28 08:32] menghaoranss commented on #4478
@bharathikannan-zarget We will discuss later, in which release version to fix it.

[2020-02-28 08:45] kimmking commented on #4471
Another way is using my fork repo: https://gitee.com/kimmking/npgsql2

A npgsql.dll has already built under netcore3.1:
https://gitee.com/kimmking/npgsql2/tree/master/bin/Release/netcoreapp3.1

Or you can make your own .net version builds.

[2020-02-28 10:06] #4495 closed

[2020-02-28 10:09] #4450 closed

[2020-02-28 10:14] SteNicholas commented on #3954
@terrymanu I will try it.

[2020-02-28 10:33] terrymanu opened #4520 "Refactor table segment getter and setter for SQLStatement"
- [x] Add getAllTables() method
- [x] Decouple getAllTables() and getTables()
- [x] Remove TableSegmentAvailable
- [x] Put all related table segment into getAllTables()
  - [x] Process CREATE TABLE
  - [x] Process ALTER TABLE
  - [x] Process SELECT
  - [x] Process UPDATE
  - [x] Process DELETE
- [x] Add getAllTables() interface to SQLStatementContext
- [x] Remove getAllTables() interface to SQLSta

[2020-02-28 11:57] kimmking opened #4522 "[DISCUSS]Orchestration 5.x Design"
### Orchestration Design
[TOC]

This document focuses on the design of the new orchestration module of shardingsphere version 5.0.0.

#### Overview
Orchestration is designed as the distributed governance module of shardingsphere platform.
In the future, it will be renamed as governance or governor module, according to the development and improvement of the module.

#### Planning
This module includ

[2020-02-28 14:26] ppourali commented on #4507
Hi @dongzl ,

Thanks for the reply.
**Here is my config-encrypt.yaml:**
`
schemaName: anonymized_db

dataSource:
  url: jdbc:postgresql://127.0.0.1:5432/database?serverTimezone=UTC&useSSL=false
  username: dbuser
  password: database
  connectionTimeoutMilliseconds: 30000
  idleTimeoutMilliseconds: 60000
  maxLifetimeMilliseconds: 1800000
  maxPoolSize: 50

encryptRule:
  encryptors:
    encryptor

[2020-02-28 19:13] bharathikannan-zarget commented on #4478
Our production release is pending for this patch. If we know the release timeline, it is easier for us to postpone or think about alternatives.

Can you guys please help?

[2020-02-29 05:43] dongzl commented on #4507
Hi @ppourali , what's your Sharding-Proxy's version?

I use Sharding-Proxy's lastest version and recurrent your problem.

Your expect to only return the `data_anonymized` column, not include `data ` column?

But what's your expect `data_anonymized`'s value?  `original encrypted data` or `data after decryption`？

[2020-02-29 08:21] phoema opened #4527 "sharding-jdbc-core v 4.0.0 not support mybatis about xml with multi table?"
## Question

**For English only**, other languages will not accept.
when I use with hintManager mode
define a java class public class HintShardingStrategy implements HintShardingAlgorithm<String>
I write rule in hint-databases-only.yaml like this
shardingRule:
  tables:
    quartz_user_monitor:
      databaseStrategy:
        hint: #Hint分片策略
          algorithmClassName: com.smarttree.manage.confi

[2020-02-29 09:23] tristaZero opened #4529 "Add rewrite SQL test for query with joining two qualified columns."

[2020-02-29 09:28] tristaZero commented on #4529
That will be an item of work report, however an easy job. 😑

[2020-02-29 10:19] kimmking commented on #4527
Ensure your mapper using shardingDataSource

You can learn more from https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/sharding-example

[2020-02-29 10:23] #4529 closed

[2020-02-29 16:20] kimmking commented on #4377
Hello,  @ICanFlyFaraway
Could you show the proxy log when navicat can't work?
Or we close this issue later.

[2020-03-01 03:13] phoema commented on #4527
thanks a lot!

another question
Can I define only the default sharding database rules with not define tableRule

I want the table structure of each instance is exactly the same based on the every database splitting operation of tenantid

Is there any way to use table rules without defining each table

I try to comment out the table definition in the tablerule, but console log:
![image](https://use

[2020-03-01 04:52] tristaZero commented on #3932
Hi, From @sunbufu 's investigation, it is because that we replace `cipherColumn` with `logicColumn` which has the same name with `plainColumn` in `JDBCDatabaseCommunicationEngine.setLogicColumns()`, so two same column names exist in `QueryHeaders`.

The root solution to solve this issue is to consider a better way from the `encrypted metadata`,  for which more effort is required.

[2020-03-01 07:22] 80904001 commented on #4494
could you please assign this issue's two tasks to me?

[2020-03-01 07:49] terrymanu commented on #4494
@JasonKing168  Welcome, assigned

[2020-03-01 08:54] tristaZero opened #4537 "Extract TableNameSegment for TableSegment"
The title of this issue is the original content.

[2020-03-01 09:18] #4435 closed

[2020-03-01 10:36] terrymanu opened #4540 "Do not use mock on regular test cases"
Mock should only use to building difficult or slow objects.
We'd better avoid using mock on regular test cases, it is not a good way for guarantee for test.

The test cases need to rewrite are:

- [ ] ProjectionEngineTest
- [ ] ProjectionsContextEngineTest
- [ ] GroupByContextEngineTest
- [ ] OrderByContextEngineTest
- [ ] PaginationContextTest
- [ ] PaginationContextEngineTest
- [ ] RowNumberPagi

[2020-03-01 10:44] #4494 closed

[2020-03-01 11:32] #4537 closed

[2020-03-01 12:45] xfyang1988 commented on #4480
OK, I also saw that the connection delay of MySQL is very small. It should not be caused by this problem. Can the metadata be preloaded?

[2020-03-01 12:47] xfyang1988 commented on #4480
This is a simple SQL query with an index, which should be fast

[2020-03-01 12:49] xfyang1988 commented on #4480
Skywalking is not currently configured to monitor SQL parsing time? 4.0.0 can be directly configured

[2020-03-01 12:51] xfyang1988 commented on #4480
In the sharingsphere configuration item, I only see "check.table.metadata.enabled". The default is false. Is this configuration only checked without preloading?

[2020-03-01 12:56] xfyang1988 commented on #4480
It does n’t matter, just ask, it is wrong after upgrading, and it is OK to remove it.

[2020-03-01 13:18] kimmking commented on #2010
Any thing forward or meet some problem?

[2020-03-01 14:08] #4455 closed

[2020-03-01 14:24] bharathikannan-zarget commented on #4478
@kimmking @dongzl can you guys please help?

[2020-03-01 14:54] menghaoranss commented on #4527
@phoema , Which version of ShardingSphere did you use? Can you provide a complete configuration.

[2020-03-01 15:26] lyllove opened #4546 "SQLParseEngine can not get columns when sql columns has 'source' name key"
SQLParseEngineFactory.getSQLParseEngine(DatabaseTypes.getTrunkDatabaseType("MySQL").getName()).parse("INSERT INTO iot_mysql_test  ( id,name,sex,age,hobby,source ) VALUES( ?,?,?,?,?,?)", false)
![image](https://user-images.githubusercontent.com/26361610/75628456-16369a80-5c14-11ea-8c9e-1ea81c88f489.png)

[2020-03-01 15:45] xfyang1988 commented on #4480
Is there any documentation for ShardingSphere and SkyWalking integration? I see the official website document is not very detailed

[2020-03-01 19:02] rohithbalaji123 commented on #4540
@terrymanu ,  I would like to give it a try. I shall cover as much as I can from the checklist of Tests mentioned by 4th March EOD(End Of Day), GMT.

[2020-03-02 00:58] kimmking opened #4547 "YamlConfigurationExampleMain can't running with maven-exec in Example."
When we launch YamlConfigurationExampleMain in command line :
[code]

Error occurs :
[code]

Cause `Thread.currentThread().getClass()` belong to super classloader in
[code]

It should be instead of current bootstrap class.

[2020-03-02 01:18] terrymanu commented on #4540
@rohithbalaji123 Welcome, Rohith. I just assign this issue to you. Any question please feel free to contact me.

[2020-03-02 01:25] #4547 closed

[2020-03-02 01:34] lklkxcxc commented on #4460
@tuohai666 Can you help me in this situation? We are using sharding at present

[2020-03-02 01:51] flzxsqcysyhljt commented on #4471
thanks!
I will maintain my own version

[2020-03-02 01:51] #4471 closed

[2020-03-02 02:25] kimmking opened #4550 "Add rat plugin to check license in examples module"
After examples migrated to master repo, then we should add rat plugin to check license in examples module. Here is the tasks:

- [ x ] 1. add rat plugin to pom(#4552)
- [ x ] 2. check and add missing licenses for java/xml/sql/properties/yaml/yml compleletly.
- [ x ] 2.1 examples root directory:
├── README.md
├── pom.xml
└── src
    └── resources
- [ x ] 2.2 docker directory
├── docker
│   ├── dock

[2020-03-02 03:14] JasonKing168 commented on #4546
Which version of ShardingSphere are you using? @lyllove

[2020-03-02 03:28] aqara commented on #4546
4.0.0-RC4-SNAPSHOT   or 4.1

[2020-03-02 03:29] aqara commented on #4546
4.0.0-RC4-SNAPSHOT or 4.1

[2020-03-02 04:25] menghaoranss commented on #4439
@huangyiminghappy  hi, how about `sharding-orchestration-center-zookeeper-curator` going?

[2020-03-02 04:44] kimmking commented on #4550
[code]

[2020-03-02 04:47] kimmking commented on #4550
[rat.txt](https://github.com/apache/incubator-shardingsphere/files/4273475/rat.txt)

[2020-03-02 04:56] terrymanu commented on #3119
No response anymore, let me close this issue

[2020-03-02 04:56] #3119 closed

[2020-03-02 04:59] terrymanu commented on #4480
The document about SkyWalking, please read document of them

[2020-03-02 05:01] terrymanu commented on #4527
Do not support subquery for 4.x

[2020-03-02 05:01] #4527 closed

[2020-03-02 05:24] geomonlin opened #4558 "Invalid customize spi Encryptor in example module"

[2020-03-02 05:29] geomonlin commented on #4558
This error log: Invalid `org.apache.shardingsphere.encrypt.strategy.spi.Encryptor` SPI type `assistedTest`.

[2020-03-02 05:36] tuohai666 commented on #4515
Duplicate with #3546.

[2020-03-02 05:36] #4515 closed

[2020-03-02 05:41] tuohai666 commented on #4460
@lklkxcxc For Problem 1, I think we don't support order two items. Can you change SQL to:
 select association,rounds,election_time as electionTime,title from zhyxh where doctor_id = 848224 order by association desc ?
For Problem 2, I think Id is the sharding key, please change where id in ( '2443' , '2615' ) to where id in ( 2443 , 2615 )

[2020-03-02 06:18] #4550 closed

[2020-03-02 06:26] kimmking commented on #4550
done.

More about apache-rat also see.  https://creadur.apache.org/rat/apache-rat-plugin/check-mojo.html

`-Drat.excludeSubprojects=false` can stat all sub-projects as main project's directory and show total approvals.

[2020-03-02 06:30] #4558 closed

[2020-03-02 06:32] lklkxcxc commented on #4460
@tuohai666 Thanks！ For problem 2 ，It is ok that number removed single quotation marks.

[2020-03-02 06:33] lklkxcxc commented on #4460
@tuohai666 When sharding to support order two items ？

[2020-03-02 07:24] menghaoranss commented on #4478
@bharathikannan-zarget  could you provide a full  sharding rule configurations of your application?
And do you expect the tables in the shard databases to be exactly the same ? just like:
[code]

[2020-03-02 07:30] menghaoranss commented on #4439
hi, @huangyiminghappy

It's been a week since you claimed the task of `sharding-orchestration-center-zookeeper-curator`, but there is no feedback. If there is still no response, we may consider reassigning the task.

If you are continuing this task, please confirm as soon as possible.

Thanks for your attention.

[2020-03-02 08:10] nevereverever opened #4565 "distinct returns wrong result"
sharding-proxy version:4.0.0

I insert some rows to sharding-proxy by my custom hash algorithm.

person_id|name|last_update_time|account|which data node
-|-|-|-|-|
174fd27ef0f34fd5b9296f102ffdbd47|	liuqiang|	2020-02-12 20:47:10	|3|ds_0
4295029899a64d1bbfc5b4d37b628f0c|	wangwu|	2020-02-12 20:28:22|	2|ds_0
a672ba34d2f14f4d8e3ee9e8ccfd6ca5|	liyi|	2020-02-12 20:47:16|	1|ds_0
bf840dc0eaf64f7a8a7493c3ff

[2020-03-02 08:31] menghaoranss commented on #4478
I suggest, you can refer to examples/sharding-jdbc-example/other-feature-example/hit-example.

Use hint strategy to achieve only shard databases.

The following configuration may help you:
[code]
then you should implement yourself algorithmClass for your sharding rule of databases.

[2020-03-02 08:33] #4520 closed

[2020-03-02 09:00] nevereverever opened #4567 "sharding-ui can't run well"
sharding-ui 4.0.0

only supports update,can not add new configuration.

[2020-03-02 09:23] kimmking commented on #4565
Could you make a simple demo for reproduce your issue?

[2020-03-02 09:24] aqara commented on #4546
4.0.0-RC4-SNAPSHOT or 4.0.1

[2020-03-02 09:33] kimmking commented on #4567
@nevereverever  hello,
What type configuration you want?
A new zk? or a new orchestration? or a datasource or a group of table rules?

[2020-03-02 09:52] fantacy2001 opened #4568 "The best config of vertical databases"
What is the best config of vertical databases？
more than 400 tables,  only vertical databases,  about ten main databases,  each main database has two slave databases。
Looking forward to your reply， thanks！

[2020-03-02 10:39] kimmking commented on #4306
Hi, @saboluo
I have reprodeced your case:
[code]

Two points：
1. descendingIterator id；
2. wrong mod lead to wrong sharding table.

Row 2, 441306093067436034 % 3 == 0, but inserted into user2 not user0.

[2020-03-02 11:13] kimmking commented on #4306
And I try:
[code]

It's the same.

[2020-03-02 11:46] bharathikannan-zarget commented on #4478
Hi @menghaoranss

[code]

# Sharding Config

[code]

We use database level sharding, for all the database same tables will be present. Based on the tenant id, we will route the database accordingly. I used ShardingDatabaseStrategey with no explicit table rules, i want sharding rules applied for the tables.

[2020-03-02 15:33] ppourali commented on #4507
Hi @dongzl ,

My expectation is that,  when I do SELECT *, I *only* get the cipher column (we don't want to expose the plain column to the users). So. basically the expectation is that we get only the encrypted data. Let's say we never want to expose the plain (decrypted data to some users).

Thanks,
Parsa

[2020-03-02 17:25] kimmking commented on #4306
This is a bug, I will fix it ASAP.

[2020-03-02 18:11] kimmking opened #4573 "Multi-values insertion bug with key-generator in sharding databases/tables"
## Multi-values insertion bug with key-generator in sharding databases/tables

We can reproduce the bug in a rule:

### Case 1, literal multi-values insertion

Execute：
`insert into user(`name`,`age`) values ('name-11',11),('name-12',12),('name-13',13),('name-14',14)`

Actual SQL：
[code]

This are two issues：
1. ids in descending order
2. wrong sharding tables, lead to that those data can't be sel

[2020-03-02 18:17] kimmking commented on #4573
Reproduce code：
1. put Issue4306Main.java to examples/sharding-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/java/org/apache/shardingsphere/example/sharding/raw/jdbc/Issue4306Main.java
2. put issue4306.yaml to examples/sharding-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/issue4306.yaml
3. run Issue4306Main.java and check the output log

[2020-03-02 18:42] kimmking commented on #4568
Hi, @fantacy2001 , what's your meaning in detail of `vertical databases`?

[2020-03-02 18:54] kimmking commented on #4439
Update tasklist to latest state.
And we need move foward now.

[2020-03-03 00:37] nevereverever commented on #4567
@kimmking
all of them.

[2020-03-03 00:41] icuxika opened #4575 "no viable alternative at input 'user_idinteger'"
## Question

This problem occurred when the table field type is integer, but the table was created successfully

log: Hibernate: create table t_order (order_id bigint not null auto_increment, address_id bigint, status varchar(255), **user_id integer**, primary key (order_id)) engine=InnoDB

error: line 1:111 no viable alternative at input 'user_idinteger'

## Version
org.apache.shardingsphere:shar

[2020-03-03 00:43] nevereverever commented on #4565
@kimmking
This example is simple enough.
I mean,SQL is sent to two physical nodes for execution, instead of merging the execution results.

[2020-03-03 01:11] KomachiSion commented on #4028
@lightyear007 any response? If no response, we will close issue.

[2020-03-03 01:16] KomachiSion commented on #4427
@lalicw any response? If no response, we will close issue.

[2020-03-03 01:35] fantacy2001 commented on #4568
Do I just need to add configuration？like this:
master,master_slave0,master_slave1,authority,authority_slave0,authority_slave1
# master
spring.shardingsphere.sharding.tables.auto_device.actual-data-nodes=master.auto_device
spring.shardingsphere.sharding.tables.band_info.actual-data-nodes=master.band_info
# authority
spring.shardingsphere.sharding.tables.au_data_rule.actual-data-nodes=authority.au_d

[2020-03-03 01:52] geomonlin commented on #4565
I test it, eg: table: t_order `CREATE TABLE IF NOT EXISTS t_order (order_id BIGINT NOT NULL AUTO_INCREMENT, user_id INT NOT NULL, status VARCHAR(50), PRIMARY KEY (order_id));`
Insert user_id include
**6
2
2
2
6
4
2
2
3
3
1
3
3**
When exec "SELECT distinct user_id from t_order", the output resutl is Duplicate data，
**3
1
3
4
6
4
2
6
2**
When exec `SELECT distinct user_id from t_order GROUP BY user_

[2020-03-03 01:58] KomachiSion commented on #4478
@bharathikannan-zarget , If you do not config tableRule, ShardingSphere can't know tables you input whether need to do shard or not.

So you at least config logicTableName and actualDataNodes like

[code]

And then you config your `defaultDatabaseStrategy` will be ok.

[2020-03-03 03:08] beeant0512 opened #4576 "how can i implement the RegistryCenter???"
on the documents for SPI description :

...
The registry center interface is used to regulate its initialization, data storage, data upgrade, monitoring and others.

Its main interface is `RegistryCenter` and built-in implementation types are Zookeeper.

Please refer to Available Registry Center for the introduction
...

but I can not find the `RegistryCenter` interface or class

[2020-03-03 03:37] haetao opened #4578 "Modify doc about license"

[2020-03-03 03:41] #4578 closed

[2020-03-03 03:46] kimmking commented on #4573
And check case3, preparedStatement&addBatch, no related of this issue.
It's processed one by one as a single insertion.

[2020-03-03 03:53] kimmking commented on #4576
Hi, @beeant0512
In master of 5.0.0, we refactor orchestration module to reorganize configcenter，registrycenter and upcoming metadatacenter.
If you prefer to implement a certain one, this may be a useful base project structure:
https://github.com/apache/incubator-shardingsphere/tree/master/sharding-orchestration/sharding-orchestration-center/sharding-orchestration-center-zookeeper-curator

[2020-03-03 04:16] tristaZero commented on #4383
The 16th item is

The 17th one is

When the user clicks `Community` button, the drop-down list will show three items,
- `Community` item directs the user to `https://shardingsphere.apache.org/community/en`
- `Wiki` item directs the user to `https://cwiki.apache.org/confluence/display/SHARDINGSPHERE`
- `Issue Tracker` directs the user to `https://github.com/apache/incubator-shardingsphere/issues`

[2020-03-03 04:18] kimmking commented on #4575
I try modify user_id type from int to Integer, no differences with the previous.

[INFO ] 2020-03-03 12:17:36,427 --main-- [ShardingSphere-MetaData] Loading table meta data catalog: demo_ds_0, table: t_address.
Hibernate: create table t_order (order_id bigint not null auto_increment, address_id bigint, status varchar(255), user_id integer, primary key (order_id))

[2020-03-03 06:58] KomachiSion commented on #4322
I think performance document can supple before we release. Currently we may need to translate to English version first.

[2020-03-03 07:02] KomachiSion commented on #4322
@ssxlulu

What do you think about changing task list to following?

- [ ] ~~Performance of ShardingScaling~~
- [ ] Transalte to English version.

[2020-03-03 07:21] ssxlulu commented on #4322
Agree, I will translate the docs to English.

[2020-03-03 07:33] lengyul opened #4580 "shardingsphere: Regarding routing to multiple data nodes, when querying with aggregate functions (count, max, avg ...), how to deal with the total statistics of multiple tables?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-03-03 09:06] phoema commented on #4568
+1

[2020-03-03 10:10] bharathikannan-zarget commented on #4478
@KomachiSion
Thanks for your response.

I have 100+ same tables in all my databases. Is that mean, I need to add all the tables in the rule configuration for sharding?

Is there anyway to configure wildcard tables, like i want to do sharding for all the tables in my database based on a column value?. Please correct me if i am wrong.

[2020-03-03 10:25] kimmking commented on #4565
@nevereverever  You can use
[code]
instead of your sql.

It will be executed to correct result.

[2020-03-03 10:26] KomachiSion commented on #4478
what’s your means about 100+ same tables? Is it that you shard a logicTable to 100+ shard tables?
If so , the `actualDataNodes: ds_${0..1}.t_order_${0..50}` will be ok.

you can search and learn about the groovy language.

[2020-03-03 10:30] tristaZero opened #4582 "Parsing SubQuery"
We plan to support sub query SQL in the future, as the first step of which, parsing sub query is viewed as our current task.
- [x] Correct definition for sub query.
- [x] Create SubqueryProjectionSegment
- [x] Create SubqueryExpressionSegment
- [x] Create Table segment interface
- [x] Create SubqueryTableSegment
- [x] Parse actual subquery segment
- [ ] Instead of `SimpleTableSegment`, `TableSegme

[2020-03-03 10:31] bharathikannan-zarget commented on #4478
@KomachiSion

[code]

db1

[code]

db2
[code]

So let's say

[code]

Thanks.

[2020-03-03 10:37] KomachiSion commented on #4478
@menghaoranss's solution is ok

[code]

[2020-03-03 10:50] menghaoranss commented on #4478
@bharathikannan-zarget  Did our reply solve your problem?

[2020-03-03 11:21] kimmking commented on #4580
Hi, @lengyul
Can you explain your question with an example?

[2020-03-03 11:26] terrymanu commented on #3553
Fixed by #4583

[2020-03-03 11:26] #3553 closed

[2020-03-03 11:27] terrymanu commented on #3097
Fixed by #4583

[2020-03-03 11:35] bharathikannan-zarget commented on #4478
@menghaoranss As I said before, I have 100+ tables in a database. If we want to add table rules for all the tables, it becomes a manual effort for us. What I need is, i want to shard database for all the queries executed.

[2020-03-03 11:42] #4501 closed

[2020-03-03 11:42] lengyul commented on #4580
[example]
Sql statement：
select avg(column),max(column) from table where time between 0302 and 0303
Route to:
select avg(column),max(column) from table_0302
select avg(column),max(column) from table_0303
Returned their respective statistics（two data）.
I want total statistics (a piece of data), do I need code to process it?

[2020-03-03 11:50] kimmking commented on #4567
You can click Add button to config a new one of them.

[2020-03-03 11:51] kimmking commented on #4568
You means all databases have the same structures.
And wanna config them in a simple style?

[2020-03-03 12:12] fantacy2001 commented on #4568
i mean 400 tables Split into different databases by business, each database has different tables.  like this config ,is ok ?

spring.shardingsphere.datasource.names=master,master_slave0,master_slave1,authority,authority_slave0,authority_slave1
master库配置:
spring.shardingsphere.sharding.tables.auto_device.actual-data-nodes=master.auto_device
spring.shardingsphere.sharding.tables.band_info.actual-dat

[2020-03-03 15:57] kimmking commented on #4580
Group query/aggregation is supported by ShardingSphere.

In version 4.x, you can config precise algorithm for between statements.

In version 5.x of master branch(not release yet), you can directly config the follow parameter in server.yaml to allow between statement query in inline sharding.

[2020-03-03 16:05] kimmking commented on #4568
If you means many different tables in ten db, and how about performance.
I suggest you can clone the latest master code and build it:

And try the distribution to see how long will all metadata loaded, these info will show in console logs.

[2020-03-03 17:50] juaihua opened #4585 "nested exception is java.lang.NoClassDefFoundError: org/apache/curator/connection/ConnectionHandlingPolicy"
hi guys, i have met a problem when i integrate sharding-jdbc with orchestration implented by zk,
here is error info,

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'athena.platform.actuate.health.jdbc.DataSourceHealthIndicatorAutoConfiguration': Bean instantiation via constructor failed; nested exception is org.springframework.beans.BeanInstantiationExcepti

[2020-03-04 00:47] KomachiSion commented on #4478
I understand your problem. But if you do not config shardingRule, how can ShardingSphere judge which SQLs should be shared and which SQL not?
If you have hundreds of tables need to shard, you should config all of them to shardingRule, what ever you manual configuration files or program generate.

[2020-03-04 02:18] tristaZero commented on #4383
All done. Congrats!

[2020-03-04 02:18] #4383 closed

[2020-03-04 02:45] lalicw commented on #4427
ok, i'll try this solution, thanks.

[2020-03-04 04:05] JasonKing168 commented on #4493
I'd like to finish two tasks of this issue.

[2020-03-04 05:57] geomonlin opened #4586 "move poweredby to users in doc"

[2020-03-04 06:44] wephone commented on #2394
`check.table.matedata.enable:false` is just only for sharding tables，my default datasource contains too many tables,this tables doesnt need sharding, but `loadDefaultTables()` took me an hour to boot my project.

[2020-03-04 06:56] fantacy2001 commented on #4568
sorry, I may not have expressed it clearly.  My question has two points：
1、Vertical sharding databases by business， Is it feasible to follow the configuration I mentioned above？
2、use sharding-jdbc，If there are many tables split into different databases ,  will there be performance problems when routing?

[2020-03-04 08:06] bharathikannan-zarget commented on #4478
Thanks @KomachiSion

[2020-03-04 08:12] #4586 closed

[2020-03-04 09:10] #4028 closed

[2020-03-04 09:38] terrymanu opened #4594 "Create database protocol module"
The sharding-proxy and sharding-scaling  modules are both use MySQL protocol, there are lots of duplicated codes.
It is better to create a new module to process database protocol. The tasks are:

- [x] Create shardingsphere-database-protocol module
- [x] Create shardingsphere-mysql-protocol submodule
- [x] Create shardingsphere-postgresql-protocol submodule
- [x] Merge sharding-proxy and sharding-

[2020-03-04 09:42] terrymanu opened #4595 "Consider about new name for ShardingScaling's concept"
The scope of current concept names of ShardingScaling are too big.
`Reader` and `Writer` maybe not suitable names.
We need to consider about the new name of them, for exmaple: `Source` and `Sink`.

[2020-03-04 09:43] terrymanu opened #4596 "Keyword of SQL should be uppercase in the code"

[2020-03-04 09:46] kimmking commented on #4585
Which vesion do you refer?
And do you make mvn clean package install at first?

[2020-03-04 09:48] kimmking commented on #4586
rename poweredby page to users page in doc module and web site?

[2020-03-04 09:48] #4493 closed

[2020-03-04 09:50] kimmking commented on #4575
maybe input incorrect.

[2020-03-04 09:55] kimmking commented on #4565
If table user ~ 2 databases and 3 tables of each.
[code]

All of above sqls will executed to right result except the first one.

[2020-03-04 10:07] #4451 closed

[2020-03-04 12:08] icuxika commented on #4575
**I created a new project for the problem.**
[https://github.com/icuxika/sharding-demo.git](url)

## MySQL version
8.0.17

## Console log

`Hibernate: create table t_address (address_id bigint not null, address_name varchar(255), primary key (address_id)) engine=InnoDB

Hibernate: create table t_order (order_id bigint not null auto_increment, address_id bigint, status varchar(255), user_id integer

[2020-03-04 12:17] EdwardWangYan opened #4600 "Shardingsphere 3.1.0.m1: sharding.props. Sql.show =true configuration is invalid but useful in 3.0.0"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-04 12:20] EdwardWangYan commented on #4600
Print SQL invalid on 3.1.0.m1

[2020-03-04 16:01] #4230 closed

[2020-03-04 16:09] terrymanu commented on #4600
The version is out of service. Can you try to version 4.0.0?

[2020-03-04 16:10] #4447 closed

[2020-03-05 01:00] #4510 closed

[2020-03-05 01:05] nevereverever commented on #4565
Oh, I see what you're saying.
This bug will be fixed in 5.0.0?
@kimmking

[2020-03-05 01:29] nevereverever opened #4602 "I suggest that sharding-proxy supports appoint divided items by "create table""
version:4.0.0

such as
[code]

Will be a bright future.

[2020-03-05 02:43] #4540 closed

[2020-03-05 03:19] rohithbalaji123 commented on #4540
@terrymanu , I have quite got the grasp of parser module while working on this issue. Please do assign me if anything pops up related to it or any other module. I'll keep a tab on the issues page as well. Thanks!

[2020-03-05 03:25] ssxlulu commented on #4596
Please assign me.

[2020-03-05 03:42] dalong316 opened #4604 "Too slow to load meta data when start up"
At present, I have more than 3000 sub tables. It takes too long to load sharding at the start of the project. I have set the consistency check metadata to "false" and it takes effect, but the time is still very long. I have located the code part that takes a long time

private Map<String, TableMetaData> loadDefaultTables(final ShardingRule shardingRule) throws SQLException {
        Map<String, Ta

[2020-03-05 04:56] lengyul commented on #4580
Ok thank you, the problem has been solved.
I use version 4.0.0 Implements the doSharding method provided by RangeShardingAlgorithm.class.
However, some minor problems were found during use (not affecting my use), the following
1. ROUND(AVG(column)，2)  With function nesting，When routing multiple data nodes for queries, the results (multiple results) of the respective tables are returned instead of

[2020-03-05 05:05] tristaZero opened #4607 "Update download links"
As `https://www.apache.org/dist/` has been deprecated, we need to update our website as well.
- [ ] Update all URLs containing `https://www.apache.org/dist/` with `https://downloads.apache.org`
- [ ] Access all updated ULRs for checking.

The targets pages are
- [EN](https://shardingsphere.apache.org/document/current/en/downloads/)
- [CN](https://shardingsphere.apache.org/document/current/cn/downl

[2020-03-05 05:11] geomonlin commented on #4607
I'm interested

[2020-03-05 05:11] tristaZero opened #4608 "Refactoring `ColumnProjectionSegment`"

[2020-03-05 06:08] #4607 closed

[2020-03-05 06:10] lookingsky2020 opened #4611 "sharding-jdbc-test run error while using oracle database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-05 07:28] adamswanglin opened #4612 "sharding-proxy doesn't support comment in first line: line 1:0 mismatched input '#'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-05 08:36] #2010 closed

[2020-03-05 09:00] #4608 closed

[2020-03-05 10:15] KomachiSion opened #4616 "Fix [Error] information about unit test of sharding scaling."
Unit test of sharding-scaling module have two [Error] information occur which do not affect the install result.

There need to enhance and refactor some unit tests which occur useless [Error] information.

- [x] HistoryDataSyncTaskTest.assertGetProgress
- [x] HttpServerHandlerTest.assertChannelReadStartSuccess

[2020-03-05 10:59] fantacy2001 opened #4619 "only sharding db, use pagehelper, report error: Must have sharding column with subquery"
sharding version:  4.0.0-RC1
Only by business sharding databases,  use pagehelper to Paging sql.  Original sql:
	 select DISTINCT
			m.id,
			m.receipt_no,
			m.customs_no,
			m.receipt_type,
			m.owner_no,
			m.owner_name,
			m.tenant_id,
			m.org_no,
			m.distribute_no,
			m.warehouse_no
	        from ib_receipt_task_m m LEFT JOIN ib_receipt_task_d as d
			on d.receipt_no = m.receipt_no and d.te

[2020-03-05 11:00] phoema commented on #4527
my userd version is 5.0.0-RC1-SNAPSHOT  with master branch source.
Will future versions support the subquery or the support plan？

Special business methods are complex to write

for example subquery:

SELECT  *  FROM (
        SELECT
        `tbl_biz`.*,
        `tmp`.`payer_name` AS `payer_name`
        FROM
        `biz_fee_unipay` `tbl_biz`
        LEFT JOIN
        (
        SELECT
        `t1

[2020-03-05 11:02] phoema commented on #4527
#4582

[2020-03-05 11:37] menghaoranss commented on #4439
@zjcnb @gongsiran @haetao @llk984145406 , thanks for your contribution.

[2020-03-05 11:37] #4439 closed

[2020-03-05 11:38] #4452 closed

[2020-03-05 11:40] #4438 closed

[2020-03-05 11:58] tristaZero commented on #4507
@ppourali Hi, thanks for your feedback, and I got your point.
It is a bug obviously and we will fix this bug ASAP.

Cheers,
Trista

[2020-03-05 12:18] kimmking commented on #4612
This is also the reason of the bug:
- Npgsql in ADO.NET to connection to PostgreSQL server.

And one of reasons of the bug:
- mysqldump tool can't work. (another reason is that LOCK/UNLOCK not supported)

[2020-03-05 12:24] kimmking commented on #4612
BTW:  this case can't reproduced by mysql-cli, cause it cleverly remove comments and then send sql command to server.

[2020-03-05 12:26] kimmking commented on #4575
I will try it soon.

[2020-03-05 12:28] kimmking commented on #4568
You can make an investigation for your own cases as a POC.

[2020-03-05 12:34] kimmking commented on #4602
Now it can create all sharding tables according to your rules.
Examples:

Executing by your code:

Executing by shardingsphere:

If you consider shardingClass syntax is helpful, you can try a go to submit a pull-request.

[2020-03-05 12:37] kimmking commented on #4619
which column is the databases sharding key ?

[2020-03-05 12:57] fantacy2001 commented on #4619
i have no column as sharding key.  each database  has different table name , i Force routing in my configuration
Here is part of my configuration:
spring.shardingsphere.sharding.tables.au_data_rule.actual-data-nodes=center.au_data_rule
spring.shardingsphere.sharding.tables.au_module.actual-data-nodes=center.au_module
spring.shardingsphere.sharding.tables.ib_book_task_d.actual-data-nodes=inbound.ib

[2020-03-05 13:34] yuwei5380 opened #4622 "ComplexKeysShardingAlgorithm support different types of columns？"
eg:
create table aaa (
no  int,
id   varchar2(10)
);
if  we need columns 'no' and 'id', how to write the code?

[2020-03-05 14:15] phoema commented on #3841
+1

[2020-03-05 14:32] phoema commented on #4527
#3841

[2020-03-05 14:58] #4596 closed

[2020-03-05 15:09] phoema commented on #4582
Try hard!!!

[2020-03-05 16:39] phoema commented on #4582
Version lastest
5.0.0-RC1-SNAPSHOT
DB:MySql
org.apache.shardingsphere.sql.parser.SQLParserEngine
public SQLStatement parse(final String sql, final boolean useCache)

![image](https://user-images.githubusercontent.com/8730272/76002643-e2c07c80-5f41-11ea-821a-72f3fd557acc.png)
tables.size==0
what with wrong this sql?

SQL One:
SELECT COUNT(1) FROM ( SELECT * FROM ( SELECT tbl_biz.id AS id, tbl_biz.p

[2020-03-06 01:20] nevereverever commented on #4231
@kimmking PreparedStatement can be use in sql scripts?

[2020-03-06 02:52] #4616 closed

[2020-03-06 03:33] tristaZero commented on #4604
@dalong316
Hi much feedback from community concerning this issue make us give priority to this one.

After it finishes, could you give us a hand to test it better or not?

[2020-03-06 04:09] tristaZero commented on #4604
@dalong316 Hi which version is your adoption?

[2020-03-06 04:21] geomonlin commented on #4622
About Configuration description, you can see [Configuration Item Explanation](https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/configuration/config-yaml/#configuration-item-explanation). Maybe this a similar example,you can [read ](https://www.cnblogs.com/rinack/p/11241111.html).

[2020-03-06 04:54] kimmking commented on #4622
As @geomonlin referred:
At first config no and id in your config file:

            shardingColumns: #Names of sharding columns. Multiple columns separated with comma
            algorithmClassName: #Complex sharding algorithm class name. This class need to implements ComplexKeysShardingAlgorithm, and require a no argument constructor

And then, write a class  implements ComplexKeysShardingAlgorit

[2020-03-06 05:01] kimmking commented on #4611
can you show the sql when query failed.

[2020-03-06 05:39] ligengzeng commented on #4611
run sharding-integration-test\sharding-jdbc-test\src\test\java\org\apache\shardingsphere\dbtest\engine\dql\GeneralDQLIT.java assertExecuteQuery method
when call DataSourceUtil:createHikariCP method

at org.apache.shardingsphere.dbtest.env.datasource.DataSourceUtil.createHikariCP(DataSourceUtil.java:102)

demo code  connectionTestQuery is not collect for oracle . and dataSourceName is empty  as def

[2020-03-06 05:47] ligengzeng commented on #4611
Before going to the step of executing SQL, an error is reported when the data source connection is acquired

https://github.com/apache/incubator-shardingsphere.git

run sharding-integration-test\sharding-jdbc-test\src\test\java\org\apache\shardingsphere\dbtest\engine\dql\GeneralDQLIT.java assertExecuteQuery method

when call DataSourceUtil:createHikariCP method

org.apache.shardingsphere.dbtest.en

[2020-03-06 05:53] kimmking commented on #4619
Oh...
what is your database-strategy，table-strategy ？

[2020-03-06 05:54] tuohai666 opened #4627 "Check Call statement in MySQL"
There're two Call statements in MySQL g4 file for now. We need to determine which one is right.

[2020-03-06 06:17] kimmking opened #4628 "Migrating sharding-orchestration-reg-etcd from opensharding repo"
Hi, Community.
     Since this project upgrate to java8, we will migrate sharding-orchestration-reg-etcd from opensharding repo[1] and refactor to the new structure[2].
     Here are tasks:
- [x] 1.migrate codes
- [x]   1.1 extract sharding-orchestration-reg-etcd
- [x]   1.2 merge into incubator-shardingsphere
- [x] 2.refactor to new project
- [x]   2.1 modify pom file and parent pom
- [x]   2.2 r

[2020-03-06 06:27] dalong316 commented on #4604
Okay, I'll test it now

[2020-03-06 06:29] dalong316 commented on #4604
How many threads are open to use multithreading
@tristaZero

[2020-03-06 06:58] #4565 closed

[2020-03-06 07:41] brzone opened #4629 "rangeAlgorithmClassName can't work ?"
I use 4.0 proxy version.

here is config-sharding.yaml  :
![image](https://user-images.githubusercontent.com/7804031/76062241-47bab780-5fc0-11ea-904d-8e233451cfd0.png)

If i use = or in ,the preciseAlgorithmClassName can be work.
but i user >= & <= ,the rangeAlgorithmClassName can't be work,

here is the sql excute:
![image](https://user-images.githubusercontent.com/7804031/76062407-9b2d0580-5fc0-

[2020-03-06 08:03] xmddl369 commented on #3546
[INFO ] 15:25:01.718 [ShardingSphere-Command-3] ShardingSphere-SQL - Actual SQL: ds_0 ::: SELECT * FROM QRTZ_SCHEDULER_STATE WHERE SCHED_NAME = 'quartzScheduler'
[INFO ] 15:25:01.742 [ShardingSphere-Command-0] ShardingSphere-SQL - Rule Type: sharding
[INFO ] 15:25:01.744 [ShardingSphere-Command-0] ShardingSphere-SQL - Logic SQL: UPDATE QRTZ_SCHEDULER_STATE SET LAST_CHECKIN_TIME = 1583479503241 WHE

[2020-03-06 08:04] tristaZero commented on #4582
@phoema Hi
Subquery SQL is not working well currently, and you can see we are working on it. Please wait for our good news.
Thx

[2020-03-06 09:16] kimmking commented on #4629
According the log, you config a inline strategy, plz check it.

[2020-03-06 09:19] brzone commented on #4629
yes，see the log must be config a inline strategy.
but the picture,  i really config stardard,  user myself RangeShardingAlgorithm

[2020-03-06 09:24] tuohai666 opened #4632 "Add parser test cases for new SQL statements in #4501"
We have introduced some new SQL statements in #4501, and the test cases are necessary.

[2020-03-06 09:27] dalong316 commented on #4604
I've compiled it several times and reported an error. When can I release the official version when I fix this problem
@tristaZero

[2020-03-06 09:31] brzone commented on #4629
i know the truth,   because the databaseStrategy i use inline , so , the proxy think the table is inline ,but i set tableStrategy set standard 。
so  tableStrategy  is standard ,databaseStrategy  must be standard  ?

[2020-03-06 09:54] #3878 closed

[2020-03-06 10:24] kimmking commented on #4628
Step 1:
[code]

Done!

[2020-03-06 11:07] #4627 closed

[2020-03-06 13:22] kimmking commented on #4628
Step 2:
- [x]  modify pom file and parent pom
- [x]  rename class names and services file
- [x]  remove redundant methods
- [x]  implements CenterRepository interfaces
- [x]  add EtcdPropertiesEnum&EtcdProperties
- [x]  modify unit test

[2020-03-06 15:02] #4628 closed

[2020-03-06 15:58] terrymanu opened #4637 "Use logic columns for ResultSetMetaData when execute query SQL"
Currently, the ResultSet's meta data for query is incorrect.
The sharding derived columns and actual encrypt columns will return with the rewrited SQL together.
It is the time to enhance the query meta data, only column label with logic SQL should be returned.

The tasks are:

- [x] Add domain model for projection meta data
- [x] Rename encrypt column or plain column to logic column in query metad

[2020-03-06 21:31] ppourali opened #4638 "How to connect to Microsoft SQL Server in the backend?"
Hi I am trying to connect to MSSQL Server on my backend but I'm not able to make it work. My configuration is shown below. I don't have any issue with connecting to the Postgres though. I also found that it was complaining about not being able to find the MicrosoftSQLServer spi class. I then provided some fake class as my own spi implementation for the DatabaseProtocolFrontendEngine and sharding-p

[2020-03-07 01:20] dongzl commented on #4637
ref #3995 .

[2020-03-07 03:13] kimmking commented on #4604
@dalong316  can you send me a 3000 table-ddl and sharding-rule, my wx is kimmking.

[2020-03-07 03:16] kimmking commented on #4499
The parser is the core of Sharding, and will consume the most CPU.

[2020-03-07 03:37] dongzl commented on #4638
Hi @ppourali , I understand you want to manage MSSQL database with Sharding-Proxy.

But Sharding-Proxy only support PostgresSQL and MySQL.

Only provide MicrosoftSQLServer spi class is not enough, we also need encapsulates MSSQL database binary protocol.

You can reference this document：https://shardingsphere.apache.org/document/current/en/manual/sharding-proxy/

Encapsulates MSSQL database binary

[2020-03-07 03:37] xiaoxiong581 opened #4639 "order by not support string column when cross database query"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-07 04:28] dongzl opened #4640 "Use Navicat client open database, console print ClassCastException error log."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-07 05:56] dalong316 commented on #4604
@kimmking
Can you give me your email address or WeChat?
Because there are a lot of things, I ca n’t write in it
This is my WeChat: 18811452212

[2020-03-07 06:05] terrymanu opened #4641 "Replace query shorthand projections with encrypt"
The current encrypt feature only can rewrite column projections for encrypt. It does not process shorthand projection.
To avoid fetch all sensitive data from database via `*`, we should rewrite SELECT * to SELECT correct encrypt column, just like do same thing with rewrite column projections.

----------------------------------------------------------------
For unqualified shorthand SQL:

[code]

[2020-03-07 06:21] #4641 closed

[2020-03-07 06:56] kimmking commented on #4638
@ppourali

I guess it's not referred in documents.
And now proxy haven't support the usage of this case.
But in actually principle, it shoud be adjust to fit this case, you may investigate the details and try a pull-request to fix it.

[2020-03-07 07:00] kimmking commented on #4639
could you show your actual result and expected result, actual sql of all tables.

[2020-03-07 07:04] kimmking commented on #4640
I guess the latest TableSegment/QuerySegment refactoring is related.
@tristaZero

[2020-03-07 07:28] xiaoxiong581 commented on #4639
table t_cluster no data
#### expected result
`return no data`
#### actual result
`cann't get result, query is executing, no response`
![image](https://user-images.githubusercontent.com/19368482/76139087-068dda80-6088-11ea-8e35-20010140bbf8.png)
#### log
##### sharding-proxy
![image](https://user-images.githubusercontent.com/19368482/76139104-2c1ae400-6088-11ea-8e45-84f053695108.png)
##### mysql
![

[2020-03-07 08:28] phoema commented on #4582
sorry,
I saw issue 4582 is closed ,
I thought it would be work well.

[2020-03-07 11:13] tristaZero commented on #4582
@phoema
This issue is just part of subquery task which will take more time to do. :)

[2020-03-07 11:15] tristaZero commented on #4604
What's the exception?

[2020-03-07 11:19] tristaZero commented on #4604
`max.connections.size.per.query` decides how many connections SS can use to execute SQL on one DB which represents the number of multiple threads.

[2020-03-07 12:08] dongzl commented on #4640
The error SQL:
[code]

[2020-03-07 12:13] tristaZero commented on #4640
Thanks @dongzl
Your feedback is a great help for me. :)

[2020-03-07 12:16] tristaZero commented on #4637
@dongzl
You did what I am gonna do. Good job.

[2020-03-07 12:36] terrymanu opened #4644 "Add alias for rewrited encrypt column projection if alias absent"
The SQL for encrypt

[code]

should be rewrited to

[code]

If user get query meta data the ResultSetMetaData, the column label `xxx` rename to `cipher_xxx` which is change user's behaviour.

Add alias of changed column will make getColumnLabel() correct:

[code]

There is no impact if the original column has alias already.

[2020-03-07 13:18] terrymanu opened #4645 "Use YAML configuration instead of java configuration for DataSource test"
YAML configuration is clear and easy to understand.
Using YAML configuration to instead of java configuration for DataSource test is better.
The test cases need to be refactored:

- [ ] AbstractEncryptJDBCDatabaseAndTableTest for encrypt rule creation
- [ ] AbstractMasterSlaveJDBCDatabaseAndTableTest for master slave rule creation
- [ ] AbstractShardingJDBCDatabaseAndTableTest for sahrding rule cr

[2020-03-07 13:24] #4582 closed

[2020-03-07 14:09] #4644 closed

[2020-03-07 14:43] terrymanu opened #4647 "Support SELECT table_name.* for mix using sharding and encrypt"
If table name as owner of qualified shorthand projection for mix using sharding and encrypt, the SQL can not rewrite correctly.

SQL example

[code]

 should rewrite to

[code]

[2020-03-07 16:20] terrymanu opened #4649 "Access deny with actual encrypt columns from SQL projection"
The cipher column, plain column and assist query column should not access from SQL projection.
It should be deny to access if the SQL include them and throw exception to report no such column.

The tasks are:

- [ ] Recognize actual encrypt columns and throw exception
- [ ] Adapt for JDBC with SQLException
- [ ] Adapt for MySQL protocol error packet
- [ ] Adapt for PostgreSQL protocol error packet

[2020-03-08 06:38] #4640 closed

[2020-03-08 06:48] tristaZero opened #4652 "Remove `getText()` from `ProjectionSegment`"

[2020-03-08 07:07] #3995 closed

[2020-03-08 07:18] terrymanu opened #4654 "Throw correct SQLState and vendorCode with SQLException when out of index from ResultSetMetaData.getColumnName()"
The current ResultSetMetaData can throw SQLException without SQL State. Please fill the correct SQLState and vendorCode in SQLException.

Please fix on classes under `TODO fill correct SQL state` comment:

- [ ] ShardingResultSetMetaData
- [ ] EncryptResultSetMetaData

[2020-03-08 07:36] lookingsky2020 commented on #4611
Before going to the step of executing SQL, an error is reported when the data source connection is acquired

https://github.com/apache/incubator-shardingsphere.git

run sharding-integration-test\sharding-jdbc-test\src\test\java\org\apache\shardingsphere\dbtest\engine\dql\GeneralDQLIT.java assertExecuteQuery method

when call DataSourceUtil:createHikariCP method

org.apache.shardingsphere.dbtest.en

[2020-03-08 07:46] zjcnb commented on #4654
hi, i want to do it

[2020-03-08 07:49] HetaoWang commented on #4645
I want to do it

[2020-03-08 07:52] #4652 closed

[2020-03-08 08:07] dalong316 commented on #4604
I compiled the master with ./mvnw clean install -Prelease, and then introduced the jar package into the project. As a result, the project could not find the corresponding class.
Later, I introduced the source code to my project and found that the situation is the same, and there are many external jar packages that cannot be referenced, such as some jars from Google, and many similar cases, basical

[2020-03-08 08:32] terrymanu commented on #4645
@HetaoWang Welcome on board.

[2020-03-08 08:33] terrymanu commented on #4654
@zjcnb Thank you, I just assigned to you.

[2020-03-08 08:35] terrymanu commented on #4567
can't run well maybe is not good issue enough, please describe the details next time.
I just colse this one

[2020-03-08 08:35] #4567 closed

[2020-03-08 08:38] terrymanu commented on #4379
Because they are still refactoring now, so I cannot guarantee how to use it now.
Maybe we can talk about this after 2 month.

[2020-03-08 08:40] terrymanu commented on #4499
Please try to 5.x, the class ExtractorUtils had been removed

[2020-03-08 08:40] #4499 closed

[2020-03-08 08:43] terrymanu commented on #4576
The SPI are still developing, so maybe we can discuss this problem after 2 month.

[2020-03-08 08:45] terrymanu commented on #4585
Maybe you can resolve the conflict of 3 party libraries by yourself.

[2020-03-08 08:45] #4585 closed

[2020-03-08 08:45] #4600 closed

[2020-03-08 08:47] terrymanu commented on #4611
The subquery and pagination of rownum in oracle are not correct now.
We are doing the subquery now, so I just pending this issue after we finish the subquery.

[2020-03-08 08:48] terrymanu commented on #4612
Can you try to 4.x? the version 3.x is out of service

[2020-03-08 08:48] #4612 closed

[2020-03-08 08:49] terrymanu commented on #4619
We are doing the subquery now, so I just pending this issue after we finish the subquery.

[2020-03-08 08:53] terrymanu commented on #4638
We never try to use SQLServer as a backend database.
But we just use JDBC to connect backend database, so it maybe works if you just config your database url to sqlserver.
But there maybe need change some source code to judge the url about database type. If it is not MySQL or PostgreSQL, the proxy may throw an exception

[2020-03-08 08:54] terrymanu commented on #4639
Cannot support cross database query for any SQL

[2020-03-08 08:54] #4639 closed

[2020-03-08 09:33] #4637 closed

[2020-03-08 09:36] terrymanu opened #4658 "DESC table cannot display encrypt related columns"

[2020-03-08 10:16] xiaoxiong581 commented on #4639
what you mean query sql must route one database, cann't query more than one database data?

[2020-03-08 10:29] lvye351 opened #4660 "can sharding-integration-test cover sharding-proxy ?"
### Is your feature request related to a problem?
yes, its about sharding-proxy 's   black box testing
### Describe the feature you would like.
can  sharding-integration-test  cover sharding-proxy ? it only cover sharding-jdbc now !

[2020-03-08 11:15] #4658 closed

[2020-03-08 12:28] terrymanu commented on #4660
Not yet. current sharding-integration-test can cover sharding-jdbc only.
Do you interested for reuse the existed test case cover sharding-proxy? Use docker image to build  sharding-proxy and MySQL can help us setup the enviroment.

[2020-03-08 12:37] dongzl commented on #4637
ref #4507 .

[2020-03-08 13:13] xunux opened #4661 "Dml sql hung up when i close master node in use master slave write-read split function on postgresql 12"
## Dml sql hung up when i close master node in use master slave write-read split function on postgresql 12

### Which version of ShardingSphere did you use?
ShardingSphere 4.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
in sharding jdbc 4.0 version,  i use it to test master slave write-read split function on postgresql 12, when i close post

[2020-03-08 13:29] xunux commented on #4661
怕你们看不懂我写的英文，中文再描述下：

我用的是 shardingsphere 4.0 版本，想用来 postgres 读写分离，发现在主节点关掉后，插入更新删除数据会堵住无响应，java 后台一直在报jdbc连接拒绝，druid连接池打印出来的错误信息“errotCode 0, state 08001”，druid 连接池设置的 maxWait 时间是60秒，直到差不多 90 秒后才报错。

神奇的是，此时我若是重新启动pg主节点，启动前90秒内发起的写操作请求竟然会操作成功。

sharding sphere 的 master slave 数据源若配置成同一个 pg 实例但不同库时，pg节点关闭会立马报错，与不用 shardingsphere的效果一样。

[2020-03-08 13:35] terrymanu commented on #4507
Fixed at #4637

[2020-03-08 13:35] #4507 closed

[2020-03-08 14:31] #4661 closed

[2020-03-08 14:34] xunux commented on #4661
this is not a bug, it because datasource will wait maxWait seconds to get connection. during the time, if you restart database, jdbc datasource will get connection and execute sql success.

[2020-03-08 15:03] kimmking commented on #4640
@dongzl @tristaZero should we add a log to show the origin SQL when parse failed?

[2020-03-08 16:27] #4278 closed

[2020-03-09 01:04] KomachiSion commented on #4478
@bharathikannan-zarget ant new problem? Please close issue if no more problem. We will close issue if no response more than 7 days.

[2020-03-09 01:04] KomachiSion commented on #4427
@lalicw Any new information?

[2020-03-09 03:27] xiaoxiong581 opened #4665 "order by not support string column when query more than one database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-09 03:29] xiaoxiong581 commented on #4665
I submit a similar issue a few days ago #4639, but @terrymanu think is invalid.
but i see document in https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/, it support order by query in more than one database
![image](https://user-images.githubusercontent.com/19368482/76180146-1af0e500-61f8-11ea-9d57-16753a1396ff.png)

[2020-03-09 05:06] terrymanu commented on #4480
Any update about this issue?

[2020-03-09 05:53] kimmking commented on #3873
I will follow this issue, complete its tasks with Menghaoranss after orchestration-refactoring.

[2020-03-09 05:58] geomonlin commented on #4317
Sorry I didn't notice the message, that's good. You can put the whole workspace Revised on GitHub,  Your ShardingSphere version is sharding-jdbc 4.0.0. Right?

[2020-03-09 06:03] terrymanu commented on #3873
@kimmking Sure, assigned

[2020-03-09 06:14] geomonlin commented on #4317
And what is your postgres version？

[2020-03-09 06:22] tristaZero commented on #4575
Hi @icuxika
[Your ULR](https://github.com/apache/incubator-shardingsphere/issues/url) redirects me badly. Could you recheck it?

Is this exception thrown when you execute the SQL below?
[code]

Can you configure `sql.show` valid to present more log detail?

[2020-03-09 06:25] tristaZero commented on #4604
@dalong316
How about your test report?

[2020-03-09 06:43] kimmking commented on #4402
I think we should close this issue now.

[2020-03-09 06:43] wqzwh commented on #3174
#3818 The problem has been solved

[2020-03-09 06:46] kimmking commented on #4604
@dalong316  aliyun maven mirror is good choice.

[2020-03-09 06:53] kimmking commented on #4478
@bharathikannan-zarget Maybe we should close it now?

[2020-03-09 06:58] beckhampu commented on #4402
@kimmking , i think so. I  will close it.

[2020-03-09 06:59] #4402 closed

[2020-03-09 07:01] kimmking commented on #3564
@terrymanu
This sql is supported now, we can close this issue.

[2020-03-09 07:06] terrymanu commented on #3564
I don't know which pr resolved this issue. I just set label as invalid, please use stable version.

[2020-03-09 07:06] #3564 closed

[2020-03-09 07:06] sluk3r commented on #2920
Sorry， I have no time to fix this bug.
and, It is recommended to forward this issue to others.

[2020-03-09 07:08] terrymanu commented on #2920
Ok, i just set the label as `volunteer wanted` again.

[2020-03-09 07:08] kimmking commented on #4580
OK, thanks for feedback.
We 'll close this issue later.

[2020-03-09 07:11] #4580 closed

[2020-03-09 07:14] kimmking commented on #3697
Is this issue resolved now? if it is, we should close it now.
 @menghaoranss @chyangxi

[2020-03-09 07:16] kimmking commented on #3626
@skyoxZ Are you interested in this feature, let this parameter make effect to certain databases&tables?

[2020-03-09 07:17] menghaoranss commented on #3697
@kimmking  I tried to run with the above configuration, I think it can solve this problem.

[2020-03-09 07:36] #3881 closed

[2020-03-09 07:42] phoema commented on #4582
excuse me,
when will subquery  work well？
have a plan?

[2020-03-09 07:52] kimmking commented on #3930
@yuxuejimo @yexufeijun
Is this error block your usage?

[2020-03-09 07:56] kimmking commented on #4014
@zjcnb  Anything forward or problems ?

[2020-03-09 07:59] yuxuejimo commented on #3930
yes. So we had to change the source code to make our application work. In addition to this exception, there is another exception. When there are too many business tables, analyzing the metadata of the business table can cause an application to get stuck. We also modified the source here the logic

[2020-03-09 08:25] juaihua opened #4668 "关于proxy的高可用"
Can I deploy several proxy instances with the same single zookeeper configure center to support a HA BD proxy?

[2020-03-09 08:25] qwe123okd opened #4669 "ComplexKeysShardingAlgorithm && HintShardingAlgorithm"
Usually I use ComplexKeysShardingAlgorithm
But in special cases HintShardingAlgorithm will be used
Can HintShardingAlgorithm and ComplexKeysShardingAlgorithm be used together？

[2020-03-09 08:45] kimmking commented on #4611
@lookingsky2020
IMO, such as

should be `select 1 from dual` in Oracle.
Could you do something to fix it in integration- tests.

[2020-03-09 08:49] skyoxZ commented on #3626
The migration process of data masking of some tables should not affect other tables that have been using data masking.

[2020-03-09 09:17] kimmking commented on #4668
1.Can you modify the title to English.
2.You can deploy more than one proxy now, but a tip: if you modify db/table metadata, it can't automatically broadcast to other proxies now, you should reboot them manually.

[2020-03-09 09:21] qwe123okd commented on #4669
now I use HitManager in ComplexKeysShardingAlgorithm

[2020-03-09 10:31] tristaZero opened #4671 "Parsing more segments"
#### TODO
- RenameColumnSegment
    - [x] Instead of `columnName`, parse `ColumnNameSegment` as its member.

- ColumnAfterPositionSegment
    - [x] Instead of `columnName`, parse `ColumnNameSegment` as its member.

- ColumnPositionSegment
    - [x] Instead of `columnName`, parse `ColumnNameSegment` as its member.

- ColumnDefinitionSegment
    - [x] Instead of `columnName`, parse `ColumnNameSegmen

[2020-03-09 11:08] terrymanu commented on #4668
**For English only**, other languages will not accept.

[2020-03-09 11:08] #4668 closed

[2020-03-09 15:20] #4426 closed

[2020-03-10 01:37] kimmking commented on #4602
@nevereverever should we close this issue？

[2020-03-10 01:37] kimmking commented on #4622
@yuwei5380 shall we close this issue？

[2020-03-10 02:46] yidwf opened #4680 "count(distinct col) renturn null"
mybatis：int getMsgDay(@Param("account_uid") String account_uid);

SQL：SELECT COUNT(DISTINCT DATE_FORMAT(create_time,'%Y%m%d')) as count FROM table_name
WHERE account_uid = #{account_uid}

if there is no data, then return null, not return 0, it case an exection:
org.apache.ibatis.binding.BindingException: Mapper method 'com.*.getMsgDay attempted to return null from a method with a primitive return

[2020-03-10 02:54] kimmking opened #4681 "orchestration-refactoring phase 1"
According to https://github.com/apache/incubator-shardingsphere/issues/4522 , orchestration-refactoring begin now.
1.orchestration-refactoring phase 1 tasks:
- [x]  1.1 refactoring for java8 and polish codes #4682 #4687
- [x]  1.2 config domain object design (in progress) #4699
- [x]  1.3 registry domain object design (in progress) #4699

[2020-03-10 03:34] tristaZero opened #4683 "Refer to DB doc to review the rule definition in each g4 file"
Although the rule definitions for `MySQL`, `PostgreSQL`, `SQLServer`, `Oracle` and `SQL92` seem complete, it is also necessary to review those rule definitions to make true there are aligned to the definitions from different RDMS.

Note, the official documents of each RDMS are our guidelines.

[2020-03-10 04:59] terrymanu opened #4685 "Create new module for shardingsphere-sql-parse-binder"
The responsibly of new binder module is to bind meta data, parameters and sql relation node with ast node.

[2020-03-10 05:31] #4685 closed

[2020-03-10 06:27] wgy8283335 commented on #4665
I will handle this issue.

[2020-03-10 07:11] terrymanu opened #4688 "Split shardingsphere-sql-parser-engine module to engine and statement modules"
It is better to split `shardingsphere-sql-parser-engine` to `shardingsphere-sql-parser-engine` and `shardingsphere-sql-parser-statement` modules.

The responsibility of `shardingsphere-sql-parser-engine` is for parse SQL via ANTLR.
The responsibility of `shardingsphere-sql-parser-statement` is POJO for sql statement.

It will be good way for decouple for Shrading-JDBC and Sharding-Proxy. JDBC or P

[2020-03-10 07:31] tristaZero opened #4690 "Add start-index and stop-index assertion for ColumnOrderByItemSegment"
This issue is to count the `start-index` and `stop-index` to assert `ColumnOrderByItemSegment `

### How to find the targets to be fixed?
1. Open class `OrderByItemAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertColumnOrderByItem`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets

[2020-03-10 07:33] terrymanu opened #4691 "Move table and column meta data to shardingsphere-sql-parser-binder module"
The current meta data is in shardingsphere-common module.

The meta data is the base information of binder module. The sql-parser module is the infra of ShardingSphere, so it is better for shardingsphere-common dependent shardingsphere-sql-parser module, but shardingsphere-sql-parser module do not care about who are using.

[2020-03-10 08:40] Zhumingj opened #4692 "Cannot find table rule and default data source with logic tables"
请问，在只分库不分表的时候，怎么避免如下配置:
spring.shardingsphere.sharding.tables.tb_order.actual-data-nodes=
如果必须配置， 那如果有几百张表，难道需要配置几百次吗？

[2020-03-10 09:22] geomonlin commented on #4690
I'm interested.

[2020-03-10 09:47] jingshanglu commented on #4671
I'll support

[2020-03-10 09:48] jingshanglu commented on #4683
I'll support

[2020-03-10 09:54] KomachiSion commented on #4669
I can't understand your problem, please change your issue title and description.

[2020-03-10 09:58] tristaZero opened #4694 "Remove invalid assertion for parsing integrated tests"
The assertion in the following class is supposed to remove.
- [x] OrderByItemAssert
- [ ] AssignmentValueAssert

[2020-03-10 10:19] tristaZero opened #4696 "Make subquery parsing test work well"
To make the following subquery parsing test work well, we need to review the parsing process for subquery SQL.

- [x] Subquery in `./incubator-shardingsphere/sharding-sql-test/src/main/resources/sql/supported/dql/select.xml`
- [x] Subquery in `./incubator-shardingsphere/sharding-sql-test/src/main/resources/sql/supported/dql/select-sub-query.xml`
- [x] Subquery in `./incubator-shardingsphere/shardi

[2020-03-10 10:24] Zhumingj opened #4697 "Cannot find table rule and default data source with logic tables"
Please, when only databases need to shard and tables need not to shard, how can I omit the following configuration,
such as: spring.shardingsphere.sharding.tables.tb_order.actual-data-nodes=
If it has to be configured, if there are hundreds of tables, does it need to be configured hundreds of times?

[2020-03-10 10:38] #4694 closed

[2020-03-10 11:03] joinhappy81 opened #4698 "In version 4.0.1, hintmanager.setdatabaseshardingvalue cannot be used. When will this problem be fixed"
In version 4.0.1, hintmanager.setdatabaseshardingvalue cannot be used. When will this problem be fixed

[2020-03-10 11:20] kimmking commented on #4692
duplicated #4697

[2020-03-10 11:24] juaihua commented on #4668
ok  thank you , @kimmking

[2020-03-10 11:53] kimmking commented on #4680
I will try to reproduce this issue later, maybe tomorrow.

[2020-03-10 11:55] kimmking commented on #4697
Configuration is a one-time job, and if needn't shard, you can config nothing for them as default tables.

[2020-03-10 11:56] kimmking commented on #4698
Can you explain the details?

[2020-03-10 12:10] #3174 closed

[2020-03-10 12:27] Zhumingj commented on #4697
if i config nothing,  when i query ,  the system will report an error：Cannot find table rule and default data source with logic table: 'tb_order'

[2020-03-10 12:29] #4692 closed

[2020-03-10 13:40] tianbin1001 commented on #3475
Parser is changing, unable to write the document for the time being,

[2020-03-10 14:17] #3475 closed

[2020-03-10 14:21] terrymanu commented on #4697
You may try for inline expression, for example: `$tb_order{0...99}`

[2020-03-10 14:22] terrymanu commented on #4669
Can you change the title for search firendly?

[2020-03-10 14:31] Zhumingj commented on #4697
it's not what i want.  i just want to shard databases,  but if there are many tables,  do i have to config all of these tables for inline expression?

[2020-03-10 15:22] kimmking commented on #4680
I reproduced it. It's a bug.

[2020-03-10 16:36] kekerzzZ commented on #4698
In version 4.0.1, you should use  `hintmanager.addDatabaseShardingValue()`  or use `spring.shardingsphere.sharding.tables.tablename.table-strategy.hint.algorithm-class-name=` configuration.
The current version uses Hint, and you need to configure separate tables.

[2020-03-10 16:57] kimmking opened #4701 "orchestration-refactoring phase 2"
According to #4522 & #4681 , orchestration-refactoring begin now.
2.orchestration-refactoring phase 2 tasks:
- [x]  2.1 center-configuration project #4699)
- [x]  Add configuration project
- [x]  Extract existing code to configuration project
- [x]  Improve unit tests
- [x]  2.2 other projects with 2.1 (#4699)
- [x]  sharding-jdbc-orchestration
- [x]  sharding-spring-boot-starter
- [x]  sharding-s

[2020-03-10 22:47] #4691 closed

[2020-03-11 02:11] ranjeet-floyd commented on #4645
@terrymanu  Can i take this ?. Thanks

[2020-03-11 02:32] ranjeet-floyd commented on #4496
@geomonlin  Can i take this ?.

[2020-03-11 03:03] mrnx2004 opened #4702 "there is a "table doesn't exist" problem, even if i set the "defaultDataSourceName" property"
## there is a "table doesn't exist" problem, even if i set the "defaultDataSourceName" property

I download the shardingSphere-proxy docker image by this command：
**docker pull apache/sharding-proxy**

Then, I put the "mysql-connector-java-5.1.47-bin.jar" into "/opt/sharding-proxy/lib".
According to the documentation, my container run successfully.
I use MySqlWorkbench to Connect ShardingSphere-Pr

[2020-03-11 03:44] odyssey1816 opened #4703 "OrchestrationShardingDataSource LOGIC_SCHEMA_NAME issue"
English description:
When OrchestrationShardingDataSource is initialized, why did I go to zookeeper via ShardingConstant.LOGIC_SCHEMA_NAME to get the rules and data source instead of the name of the Add Schema I added in the sharding-ui management background?
Where can I specify the Schema Name created in the background?

中文描述:
OrchestrationShardingDataSource 初始化时, 为什么是通过ShardingConstant.LOGIC_SCH

[2020-03-11 04:01] fantacy2001 commented on #4619
pagehelper use subquery , when i  upgrade to 4.0.0-release,  the exception not have reported

[2020-03-11 04:37] KomachiSion commented on #4698
@joinhappy81 please provide more information
like configuration, SQLs, table structure.

[2020-03-11 04:50] tristaZero commented on #3967
A new idea came to mind, so closed this one.

[2020-03-11 04:50] #3967 closed

[2020-03-11 05:31] KomachiSion commented on #4698
I think the problem is duplicated with #3964 .

[2020-03-11 06:16] wangjing112 opened #4707 "proxy-4.0.1 return wrong result when varchar value NULL in hibernate."
sharding-proxy-4.0.1
when use hibernate query from 2 table1 like:
![image](https://user-images.githubusercontent.com/51982240/76387529-26800f80-63a2-11ea-9d2d-d53ffae1f26f.png)
then 3 times querys from proxy return:

query1 table1
[{"chapterId":1,"dailyData":"","gold":285212672,"id":36030446286411906,"openData":"{\"id\":1,\"lv\":0}]\u0002[]\u0000\u0000\u0000\u0000\u0000.1.65.103:61108\u0000^Β\u000

[2020-03-11 06:17] wangjing112 commented on #4707
same 3 times querys from mysql return:
query1 table 1:
[{"chapterId":1,"gold":0,"id":36030446286411906,"openData":"[{\"id\":1,\"lv\":0}]","overData":"[]","roleId":36030446286411906,"status":0},{"chapterId":101,"gold":0,"id":36030446286411906,"openData":"[{\"id\":10101,\"lv\":0}]","overData":"[]","roleId":36030446286411906,"status":0},{"chapterId":102,"gold":0,"id":36030446286411906,"openData":"[{\

[2020-03-11 06:38] kimmking commented on #4707
The above infomation is not enough for profiling this issue.
Can you make a simple demo to reproduce it?

[2020-03-11 07:01] menghaoranss commented on #4702
@mrnx2004  i will try to reproduce the problem based on your configuration above.

[2020-03-11 07:43] menghaoranss commented on #4702
@mrnx2004 which version of workbench do you use?

[2020-03-11 07:51] mrnx2004 commented on #4702
@menghaoranss Version 6.3.6 build 511CE(64 bits) Community

[2020-03-11 07:51] betterjava commented on #3738
Users can modify the configuration through the UI without having to know the format of this file.
My previous understanding was wrong.This file does not require manual configuration by the user, it can be changed automatically when needed.

[2020-03-11 07:51] #3738 closed

[2020-03-11 08:02] dalong316 commented on #4604
Improve the loading efficiency by modifying the configuration of max.connections.size.per.query,
I now have 1100+ watches, 10 threads, about 120 seconds
100 threads about 60 seconds
But need to consider the situation of different connection pools

[2020-03-11 08:15] mrnx2004 commented on #4702
I find out that if i use "select * from sharding_db.tableName"，it will report an error.
But if I use "select * from tableName", it works.
Is this a bug ?

[2020-03-11 08:16] nevereverever commented on #4602
I know what you mean.
I'm familiar with this.
Ok.I close it.

[2020-03-11 08:16] #4602 closed

[2020-03-11 08:23] nevereverever opened #4708 "About sharding-proxy import & export"
version : sharding-proxy 4.0.0

How to import and export quickly in sharding-proxy？

Which tool is compatible？

Only mysqldump?

[2020-03-11 08:27] wangjing112 commented on #4707
a query on 16:23
in mysql this data is "[]" but now is wrong!
[image](https://user-images.githubusercontent.com/51982240/76396658-90091980-63b4-11ea-90a5-acd4390602ba.png)
is find in proxy log at 11:42 have a data like as:
![image](https://user-images.githubusercontent.com/51982240/76396708-a6af7080-63b4-11ea-9fe7-5620282e84e9.png)

[2020-03-11 08:41] wangjing112 opened #4709 "proxy-4.0.1 can't view table design in DB tools like DBeaver"
i can't view table's design in DBeaver
![image](https://user-images.githubusercontent.com/51982240/76397649-6fda5a00-63b6-11ea-8ff1-dde8d1af438a.png)

[2020-03-11 08:44] wangjing112 opened #4710 "proxy-4.0.1 quary unsharding table can't use database name."
i sharding db named  : sharding_db
a table "test_table" is not sharding in default database0;

i can query sql: SELECT * from test_table;
but can't query like: SELECT * from sharding_db.t_guild_info;
return:doesn't exist

[2020-03-11 08:47] wangjing112 commented on #4710
same #4702

[2020-03-11 08:47] #4710 closed

[2020-03-11 09:48] jingshanglu commented on #4671
There is ColumnSegment. ColumnSegment is refer by orthers, and is similar to ColumnNameSegment.I want  move ColumnSegment to  generic, and use ColumnSegment instead of ColumnNameSegment .How do you think? @tristaZero

[2020-03-11 09:49] yinkaihuang opened #4711 "request for support tidb"
how long can sharding-proxy support tidb?

[2020-03-11 10:26] kimmking commented on #4697
not at all, as default tables, no need to config.

[2020-03-11 10:27] kimmking commented on #4703
Is version 4.0.0 with sharding-jdbc?

[2020-03-11 10:29] menghaoranss commented on #4702
@mrnx2004  i tried `select * from anyDatabase.tableName`, it also excuted successfully, just the tableName has been configured in sharding rule, i think this syntax has not well supported yet.

[2020-03-11 10:34] Zhumingj commented on #4697
Sorry, I can't understand it. The situation is like this. I need to shard databases at present, and I don't need to shard tables. Now there are many tables with the sharding-column, which can be divided to the database. I need to configure actual-data-nodes for all of these tables to query. If you don't configure them, an error will be reported.  Can you tell me how to simplify the configuration？

[2020-03-11 10:58] kimmking commented on #4711
There is no plan so far.
If you are insterested in this feature, you may try to make an investigation and post to community.

[2020-03-11 11:01] kimmking commented on #4708
Mysqldump is not supported now.  see https://github.com/apache/incubator-shardingsphere/issues/4612#issuecomment-595200837
You can make an investigation and try to fix it.
: )

[2020-03-11 11:02] kimmking commented on #4709
Can you show the error log in proxy console?

[2020-03-11 11:24] kimmking commented on #4629
Can you make a simple demo to reproduce this issue for me to profiling it ?

[2020-03-11 11:30] kimmking commented on #4665
@wgy8283335
This issue may be related with #4680, there is something wrong when merged resultset is no data.

[2020-03-11 11:33] brzone commented on #4629
![image](https://user-images.githubusercontent.com/7804031/76412530-b936a380-63ce-11ea-93ad-3299611c2146.png)
this config throw : Inline strategy cannot suppory range sharding

![image](https://user-images.githubusercontent.com/7804031/76412696-00bd2f80-63cf-11ea-833d-2bc545090ccb.png)
no databaseStrategy  inline config can be ok .

i means ,  databaseStrategy of inline can affect tableStrategy's

[2020-03-11 11:52] xiaoxiong581 commented on #4665
It also has this issue when i insert data to table
![image](https://user-images.githubusercontent.com/19368482/76414211-d6b93c80-63d1-11ea-9a09-75b158b090c7.png)

[2020-03-11 11:53] zjcnb commented on #4654
hi, I tested it,
state is S1002 (Invalid column number)
vendorCode is 0

[2020-03-11 13:42] tristaZero commented on #4711
@yinkaihuang You know, TIDB can handle sharding tables, which is similar to ShardingSphere.
So I am curious why you want to adopt Sharding Proxy and TIDB together?

Actually, Sharding Proxy can understand the protocol of MySQL. Based on that, you can view TIDB as one MySQL server, which Sharding Proxy can visit.
I am not sure it is feasible or not, and welcome your opinion. But first of all, I'd l

[2020-03-11 13:56] loquitowen commented on #234
采用公司第41位 广西壮族自治区国土资源信息中心 http://z.gxdlr.gov.cn/
现已更名 广西壮族自治区自然资源信息中心  http://dnr.gxzf.gov.cn
谢谢开源组的作品

[2020-03-11 14:08] tristaZero commented on #4604
@dalong316 Thanks for your report.
Here is the summary to help speed up the metadata loading when service startups.
1. Update to 4.0.1 above, which helps speed up the process of loading table metadata from `the default dataSource`
2. Configure `max.connections.size.per.query`(Default value is 1) higher referring to connection pool you adopt.

[2020-03-11 14:17] #4604 closed

[2020-03-11 14:19] kimmking commented on #4707
Do you mean `@Column(length=2000)` lead to this issue?

[2020-03-11 14:28] kimmking commented on #4697
You can config nothing for tables.
Those non-sharding tables will be configured as default tables automically.

[2020-03-11 14:48] terrymanu commented on #234
Got it, I will update user list soon

[2020-03-11 15:03] xfyang1988 opened #4715 "Upgrade from 4.0.0 to 4.0.1, update Maven error reporting"
Upgrade from 4.0.0 to 4.0.1, update Maven error reporting？Is there such a problem?

![image](https://user-images.githubusercontent.com/19721648/76431398-7daad200-63ec-11ea-902f-6cd1ef38cf92.png)

[2020-03-11 15:20] #4715 closed

[2020-03-11 15:25] icuxika commented on #4575
@tristaZero
Maybe you need to copy this URL into your browser to open it or use git clone.
**The problem is strange that SQL is correct but the console will print out error message.**
It looks like it treats "user_id" and "integer" as a whole.

## SQL
Hibernate: `create table t_order (order_id bigint not null auto_increment, address_id bigint, status varchar(255), user_id integer, primary key (ord

[2020-03-11 16:01] Zhumingj commented on #4697
spring.shardingsphere.datasource.names=tenant-meituan,tenant-taobao,tenant-jd,tenant-common

spring.shardingsphere.datasource.tenant-meituan.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.tenant-meituan.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.tenant-meituan.url=jdbc:mysql://localhost:3306/tenant_meituan
spring.shardingsphere.datasource

[2020-03-12 01:22] menghaoranss commented on #4709
Here is log :
[code]
This is the actual SQL that is executed when viewing the columns in dbeaver, TABLE_SCHEMA and
TABLE_NAME are not rewritten.

[2020-03-12 01:43] mrnx2004 commented on #4702
@menghaoranss I got it , Thank you for your response to my inquiry.

[2020-03-12 01:43] #4702 closed

[2020-03-12 02:05] wangjing112 commented on #4707
proxy log at error query

2020-03-11 10:11:47,587 [ShardingSphere-Command-6] INFO [ShardingSphere-SQL] Rule Type: sharding
2020-03-11 10:11:47,587 [ShardingSphere-Command-6] INFO [ShardingSphere-SQL] Logic SQL: select stagechapt0_.chapterId as chapterId7_, stagechapt0_.roleId as roleId7_, stagechapt0_.dailyData as dailyData7_, stagechapt0_.extData as extData7_, stagechapt0_.gold as gold7_, stagech

[2020-03-12 02:19] Comven commented on #3680
@thinkwithlinc   Has your problem been solved？Can you share some ideas？

[2020-03-12 03:02] #4688 closed

[2020-03-12 03:14] tristaZero commented on #4575
@icuxika It means this is just a print-out error message, does not impact on the service running?

[2020-03-12 04:09] fantacy2001 commented on #4619
pagehelper use subquery , when i upgrade to 4.0.0-release,  this exception is not reported, but the sql find wrong route(default route) ,this is Not expected

[2020-03-12 04:13] codingIsCrazy commented on #4604
4.0.1 is ok?

[2020-03-12 04:14] fantacy2001 commented on #4619
pagehelper use subquery , when i upgrade to 4.0.0-release, this exception is not reported, but the sql find wrong route(default route) ,this is Not expected.
sql:
select count(1) count from (select DISTINCT
          m.id,
          m.receipt_no,
          m.customs_no,
          m.receipt_type,
          m.owner_no,
          m.owner_name,
          m.supplier_no,
          m.supplier_name,

[2020-03-12 05:14] #4496 closed

[2020-03-12 05:20] tuohai666 commented on #4496
Hi @ranjeet-floyd, @pseudobinary had submitted a pull request. Thanks.

[2020-03-12 05:28] geomonlin commented on #4317
@ppourali Hi, Have you solved it？

[2020-03-12 06:03] #4698 closed

[2020-03-12 06:05] terrymanu commented on #4709
Duplicated with #3572

[2020-03-12 06:05] #4709 closed

[2020-03-12 06:12] liweiboy opened #4722 "report error:Must have sharding column with subquery"
The document say that: SQL 100% compatible if route to single data node.
sharding version: 4.0.0,database:mysql.
Original sql:
	select * from t_12_ws_wsdad_10049_s where id in (
		select a.id from t_12_ws_wsdad_10049_s a
		inner join t_12_ws_wsdad_10049_s b on a.title_proper = b.title_proper and b.is_delete =   0 AND b.STATUS IN ( 60, 80 )
		where
		a.is_delete = 0
		AND a.STATUS IN ( 60, 80 )
		A

[2020-03-12 07:49] terrymanu commented on #4722
What is your sharding rule?

[2020-03-12 08:21] aqara opened #4725 "if columns has name "source" will report error When update version from 4.0.0 to 4.0.1. like select/insert/update."
Error querying database.  Cause: java.lang.ClassCastException: org.antlr.v4.runtime.tree.ErrorNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext
The error may exist in com/lumi/aiot/cloud/mapper/IotUserMappingMapper.java (best guess)
The error may involve com.lumi.aiot.cloud.mapper.IotUserMappingMapper.selectByExample-Inline
The error occurred while setting parameters

 SQL: SELECT

[2020-03-12 08:46] aqara commented on #4546
will 4.0.1 can fix this bug? @SteNicholas

[2020-03-12 09:22] phoema opened #4728 "Single String Parameter change Array Parameters"
## Bug Report
newest of branch master
5.0.0-RC1-SNAPSHOT
(Version 4.0.1 OR maybe master branch 【0ce016e13fd5ba42b5f6beba595d68e955f8dc1e】 of 2020-03-05 is well)

mybatis mapper sql is
  <resultMap id="propertyResultMap" type="org.flowable.engine.impl.persistence.entity.PropertyEntityImpl">
    <id property="name" column="NAME_" jdbcType="VARCHAR" />
    <result property="value" column="VALUE_" jdb

[2020-03-12 09:31] liweiboy commented on #4722
![图片](https://user-images.githubusercontent.com/37232258/76506794-b4352b00-6486-11ea-86b0-b02993e23b72.png)
for example: table "t_user" is only one and in one database which is "db_0", so my actualDataNodes is "db_0.t_user".

[2020-03-12 11:46] #4322 closed

[2020-03-12 12:10] kimmking opened #4736 "Update examples&documents for orchestration-refactoring"
According to #4522/#4681/#4701 that refactor orchestration module, and then we should update our examples&documents now.
We need several volunteers or contributors join us to compelete it.
Anyone is welcome to get your own mission by replying here.

- [x] Update examples for orchestration-refactoring #4796
- [x] Update documents for orchestration-refactoring #4942

[2020-03-12 14:39] kekerzzZ opened #4737 "When config sharding rule use UI, DatabaseStrategy and TableStrategy whether to support the Hint?"
version: shardingsphere-ui 5.0.0-RC1-SNAPSHOT

I want to use config center of Shardingsphere Orchestration,  now i have a problem.
1.Following is my configuration.

![image](https://user-images.githubusercontent.com/20736319/76531603-67fee080-64b0-11ea-8662-74c2e53f98ab.png)

2.result

![image](https://user-images.githubusercontent.com/20736319/76531813-b4e2b700-64b0-11ea-87db-f8fd77002b43.png)

t

[2020-03-12 15:19] terrymanu commented on #4728
Can you change the title as a easy unstringing sentence for search friendly?

[2020-03-12 15:20] terrymanu commented on #4725
What is your version?

[2020-03-12 15:54] terrymanu opened #4738 "Add meta data loader to binder module"

[2020-03-12 19:35] ppourali commented on #4317
Hi @geomonlin ,

Thanks for following up. I could run my code and it works on my code now. I have no idea why it didn't work on the example though. I'm good now, thanks!

Parsa

[2020-03-13 00:03] KomachiSion commented on #4427
Close issue due to no response more than 7 days.

[2020-03-13 00:03] #4427 closed

[2020-03-13 00:05] KomachiSion commented on #4478
Close issue due to no response more than 7 days

[2020-03-13 00:05] #4478 closed

[2020-03-13 00:07] KomachiSion commented on #4737
@kekerzzZ Sorry,  pictures are hard to load, can you show your configuration and result by text?

[2020-03-13 00:37] geomonlin commented on #4317
Ok, The example is using mysql. Some SQL statements are different, will be some impact.

[2020-03-13 01:32] kekerzzZ commented on #4737
1. My config

`defaultDatabaseStrategy:
  hint:
    algorithmClassName: com.my.testshardingsphere.MyHintShardingAlgorithm
defaultTableStrategy:
  hint:
    algorithmClassName: com.my.testshardingsphere.MyHintShardingAlgorithm`

2. Exception result

`java.lang.ClassNotFoundException: com.my.testshardingsphere.MyHintShardingAlgorithm`

3. Code exception location
`ShardingAlgorithmFactory#newInstance

[2020-03-13 01:36] KomachiSion commented on #4737
Obviously, your classloader of your application can't find your `MyHintShardingAlgorithm`, so make sure your custom algorithm is in classpath.

It's not problem of shardingsphere. I think we should close this issue.

[2020-03-13 01:40] kekerzzZ commented on #4737
ok thank you.

[2020-03-13 01:40] #4737 closed

[2020-03-13 03:08] phoema opened #4740 "SubQuery Caused by java.lang.ClassCastException:org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.subquery.SubquerySegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.ExpressionSegment"
DB:Mysql
Version :5.0.0-RC1-SNAPSHOT
SQL:
select RES.*

    from ACT_RE_PROCDEF RES
     WHERE  RES.VERSION_ = (select max(VERSION_) from ACT_RE_PROCDEF where KEY_ = RES.KEY_

	           and ( (TENANT_ID_ IS NOT NULL and TENANT_ID_ = RES.TENANT_ID_) or (TENANT_ID_ IS NULL and RES.TENANT_ID_ IS NULL) )

        )

    order by RES.CATEGORY_ asc

Caused by: java.lang.ClassCastException: org.apache.

[2020-03-13 03:09] phoema commented on #4728
Please Close this issue.
maybe I would try it more.

[2020-03-13 03:09] #4728 closed

[2020-03-13 03:14] phoema commented on #4740
0ce016e13fd5ba42b5f6beba595d68e955f8dc1e [0ce016e]
93b55f9fdc
Liang Zhang <terrymanu@163.com>
2020-3-5 23:09:59

maybe update new source code

[2020-03-13 03:14] #4740 closed

[2020-03-13 03:17] codingIsCrazy commented on #3083
this "getAddOnDatabaseTypes" is not exist

[2020-03-13 03:19] Jaskey opened #4741 "How to implement a user-define encryptors"
I found that the inner aes encrypted data is different from our existing data, so I hope to use a user-define encryptor.

However, I look up the total user guide and search google for a long time but I can't find how to implement a user-define encryptors. And some body give me an example?

[2020-03-13 04:44] Jaskey commented on #4741
After Reading some source code, Solution found!

1. Given your Encryptor which implements

[code]

2.  Create a spi file in your resouce folder

      .....src\main\resources\META-INF\services\org.apache.shardingsphere.spi.encrypt.ShardingEncryptor

And write your class name in the file like

       mytest.sharding.TestShardingEncryptor

3. At last,  every ShardingEncryptor has a type value which

[2020-03-13 04:49] #4741 closed

[2020-03-13 04:56] #4701 closed

[2020-03-13 05:00] phoema opened #4746 "When Use Select * from with Mysql, Select One Record But return null"
See Ref #4728
mybatis xml mapper

select * from ${prefix}ACT_GE_PROPERTY where NAME_ = #{name, jdbcType=VARCHAR}
is return null

select NAME_, VALUE_, REV_ from ${prefix}ACT_GE_PROPERTY where NAME_ = #{name, jdbcType=VARCHAR}
is return one record

[2020-03-13 05:08] kimmking commented on #4522
#### Task list

1.API design
- [x] 1.1 CenterRepository design (#4468 #4492  )
    - Extract CenterRepository interface
    - Refactoring ConfigCenterRepository
    - Refactoring the RegistryCenterRepository
    - Adjust unit tests and UI backend references
- [x] 1.2 distributed_lock_manager and leaf removal (#4425 #4436 )
    - Integrate third-party leaf and migrated to opensharding
    - Remove

[2020-03-13 05:15] kimmking commented on #4746
Show the actual SQL show in console log, plz.

[2020-03-13 05:30] phoema commented on #4746
2020-03-12 16:41:14,173 INFO (ShardingSQLLogger.java:75)- Actual SQL: master ::: select * from ACT_GE_PROPERTY where NAME_ = ? ::: [cfg.execution-related-entities-count]
Actual SQL is write。
Version 4.0.1 is write
master branch of 2020-03-05 is write
but I do not know new code where is changed。

[2020-03-13 05:30] phoema commented on #4746
See Ref #4728

[2020-03-13 05:32] phoema commented on #4746
char *
is not supported in new code after 2020-03-05?

[2020-03-13 05:37] phoema commented on #4746
![image](https://user-images.githubusercontent.com/8730272/76592922-be5f3400-652f-11ea-891a-eb0f64df4e2d.png)

* is return null,  when change columns then return one record

[2020-03-13 06:40] wgy8283335 commented on #4665
@xiaoxiong581
[code]

[2020-03-13 06:41] lklkxcxc commented on #4460
@tuohai666 Looking forward to your reply.

[2020-03-13 07:40] wgy8283335 commented on #4665
I have traced the program and found that exception happened in 'org.apache.shardingsphere.core.execute.sql.execute.result.StreamQueryResult'.
[code]
The information of exception is below:
java.sql.SQLException: Streaming result set com.mysql.jdbc.RowDataDynamic@3a1741d6 is still active.
No statements may be issued when any streaming result sets are open and in use on a given connection.
Ensure tha

[2020-03-13 08:06] xiaoxiong581 commented on #4665
I want to know if you have get expected result when using my config and query sql?

[2020-03-13 08:25] wgy8283335 commented on #4665
@xiaoxiong581 what is the version of java?

[2020-03-13 08:36] xiaoxiong581 commented on #4665
I use three method to connect Sharding-Proxy Server，like：java code（use jdbctemplate and hikaricp DataSource）、Dbeaver、mysql command in mysql docker, get same result
java code use 1.8.0_211(Oracle)

Sharding-Proxy registry jdk info：
![image](https://user-images.githubusercontent.com/19368482/76603719-726cb900-6548-11ea-9528-8136d4ea54e8.png)

[2020-03-13 08:54] tristaZero opened #4749 "Adjust the test dir and delete unused class"

[2020-03-13 09:38] phoema commented on #4746
I tried to changed  many sql from * to columns such as:
    <sql id="FiledNames">
        ID_, REV_, NAME_, BYTES_, DEPLOYMENT_ID_
    </sql>

then it works well.
but it is too many.

[2020-03-13 09:40] #4749 closed

[2020-03-13 15:11] lennonn opened #4754 "How do I configure case insensitive for oracle"
@Bean(name = "dataSource")
    public DataSource dataSource() throws SQLException {
    	BasicDataSource dataSource = new BasicDataSource();
        dataSource.setDriverClassName(jdbcDriver);
        dataSource.setUrl(jdbcUrl);
        dataSource.setUsername(jdbcUser);
        dataSource.setPassword(jdbcPassword);
        Properties props = new Properties();
        props.setProperty("sql.show","t

[2020-03-13 15:47] funnything2014 opened #4755 "sharding throws NullPointerException when sql don't have sharding key and db column type is INT and its value is null"
java.lang.NullPointerException: null
        at org.apache.shardingsphere.core.execute.sql.execute.result.MemoryQueryResult.getRowValue(MemoryQueryResult.java:88) ~[sharding-core-execute-4.0.0.jar:4.0.0]
        at org.apache.shardingsphere.core.execute.sql.execute.result.MemoryQueryResult.getRows(MemoryQueryResult.java:63) ~[sharding-core-execute-4.0.0.jar:4.0.0]
        at org.apache.shardingsph

[2020-03-13 16:47] terrymanu commented on #4746
Did you mean version 4.0.1 and master is fine?
What's your version to meet the problem?

[2020-03-13 17:01] terrymanu commented on #4754
The feature of case insensitive is not implement yet and we have no plan to do this.
I just open this feature request for some time, if anybody interest about it, please discuss here.

[2020-03-13 17:04] terrymanu commented on #4755
Do you use getInt to get the null filed?

[2020-03-14 01:26] phoema commented on #4746
Version 4.0.1 is OK
my local code wiht master branch of 2020-03-05( 0ce016e13fd5ba42b5f6beba595d68e955f8dc1e [0ce016e]) is OK
when I got the new source code . 713ae319f45b4a97d3fe465c38071b2a29e3ebd2 [713ae31] \
not work well.

[2020-03-14 02:42] phoema commented on #4746
I changed My sql with 6 examples:
  1)  select NAME_, VALUE_, REV_ from ACT_GE_PROPERTY where NAME_ = #{name, jdbcType=VARCHAR}
 2)     select * from act_ge_property where NAME_ = #{name, jdbcType=VARCHAR}
 3)     select act_ge_property.* from act_ge_property where NAME_ = #{name, jdbcType=VARCHAR}
 4)     select t.* from act_ge_property as t where NAME_ = #{name, jdbcType=VARCHAR}
 5)     select

[2020-03-14 02:49] phoema commented on #4746
when I reset master branch with 0ce016e13fd5ba42b5f6beba595d68e955f8dc1e [0ce016e]
1/2/3/4/5/6 is works well

[2020-03-14 03:28] dongzl commented on #4637
ref #3932 .

[2020-03-14 03:29] dongzl commented on #3932
fix by #4637 .

[2020-03-14 04:08] dongzl opened #4756 "Use client connect proxy, throw NegativeArraySizeException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-14 04:11] #3932 closed

[2020-03-14 04:52] terrymanu commented on #4746
Thank you for the report. The problem is caused by #4651 and #4653 probably.
Maybe load metadata error in some cases. Do you use sharding and encrypt together?
It is better to show your rule configuration may help us analyze this issue.

[2020-03-14 05:24] icuxika commented on #4575
@tristaZero Yes, but I haven't used it in depth.

[2020-03-14 05:37] phoema commented on #4746
Only Using Hint
yaml.xml:

dataSources:
  master: !!com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wise-master?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
  test: !!com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.my

[2020-03-14 05:38] phoema commented on #4746
not encrypt

[2020-03-14 06:57] funnything2014 commented on #4755
I use hibernate to get my own object（some field with Int\Long\Timestamp type, but its default value is null）, it just throw NullPointerException; this is not happen when sharding key is assigned.I trace the stack, and find in MemoryQueryResult class, private Object getRowValue(final ResultSet resultSet, final int columnIndex) this method,should check resultSet.getObject(columnIndex) whether is nul

[2020-03-14 11:10] SteNicholas commented on #4546
@lyllove @aqara I user master branch to test your case, but the result of test case is passed. Could you please add my wechat account to solve this problem.
Wechat:834031959

[2020-03-14 11:31] SteNicholas commented on #4711
@tristaZero TiDB is compatible with MySQL protocol. @yinkaihuang I recommend you to try sharding-sphere on TiDB.

[2020-03-14 11:55] SteNicholas commented on #4725
@aqara The same issue to #4546 .I will close this issue and discuss in #4546 .

[2020-03-14 11:55] #4725 closed

[2020-03-14 12:34] techzhou commented on #4546
@aqara  #4371 is assign 5.0.0 milestone

[2020-03-14 14:36] terrymanu commented on #4746
The bug is caused by #4637. I just link to that issue.
It is not a bug because it is not cross the release, the fix progress is inside 5.0.0-SNAPSHOT.

[2020-03-14 14:38] #4746 closed

[2020-03-14 14:56] ma1562013338 opened #4760 "Setting SQL timeout time in mybatis does not take effect after sharding- JDBC 4.0.0-RC2 is used"
## Bug Report

Setting SQL timeout time in mybatis does not take effect after sharding- JDBC 4.0.0-RC2 is used

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
sharding- JDBC 4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
The SQL setup timeout should take effect
###

[2020-03-14 15:12] terrymanu commented on #4760
We have no plan to support this. Does anybody interest about this issue?

[2020-03-15 03:09] tristaZero commented on #4575
Hi @icuxika Actually your reply confused me that I did not know how to handle this issue, maybe more log will help us discover something. What's your opinion? Wait for your further test or closed this one?

[2020-03-15 03:19] tristaZero commented on #4711
@SteNicholas Hi I guessed so, however, what I concerned is why @yinkaihuang wants to do that, i.e., what problem he encountered.

[2020-03-15 03:36] tristaZero commented on #4683
Hello, community.
This issue needs more people to join and is a really important and long-term one.

### Who is wanted
If you understand `g4 file` of `ANTLR` and can look up the grammar definitions of anyone of `MySQL`, `PostgreSQL`, `SQLServer`, `Oracle` and `SQL92`, please be free to respond to this issue.

### What is the task of this issue
Compare grammar definitions between `ShardingSphere` a

[2020-03-15 07:08] phoema commented on #3841
Thank you for sharing

What the plan of this issue scheduled to be completed, fuzzy time?

[2020-03-15 08:27] tristaZero opened #4762 "Simply InRightValue assertion"
Refactoring the parsing integrated tests.

[2020-03-15 09:24] #4762 closed

[2020-03-15 09:28] tristaZero opened #4763 "Refactoring `SelectStatementTestCase` assertion"
To assert subqueryTable well, it is prerequisite to refactor `SelectStatementTestCase`.

[2020-03-15 09:43] tristaZero commented on #4763
### TODO list
- [ ] Rename `ExpectedTable` to `ExpectedSimpleTable`
- [ ] Create `ExpectedTable` class
- [ ] Modify all the parsing assertion result
- [ ] Modify `SelectStatementTestCase`

[2020-03-15 09:49] ma1562013338 commented on #4760
@terrymanu To prevent individual slow SQL from dragging down the entire database, it is necessary to set the SQL timeout time. I hope to be able to support mybatis to set the SQL timeout time.

[2020-03-15 12:50] geomonlin opened #4765 "update users list in official doc"

[2020-03-15 16:28] terrymanu opened #4770 "Case insensitive for DESC table for encrypt"
DESC table is case sensitive now, We should change it to case insensitive.

[2020-03-16 00:39] #4286 closed

[2020-03-16 01:06] vvvrbj commented on #4575
I'm sorry for that I can't provide any more information about this problem for the time. You can close it now. Thanks for your answers.

[2020-03-16 01:29] aqara commented on #4546
@techzhou @SteNicholas test master branch is ok, thanks

[2020-03-16 02:11] menghaoranss commented on #3873
please assign this issue to me.

[2020-03-16 02:43] tristaZero commented on #4575
@vvvrbj Got your point, thanks to your feedback and if possible, welcome to join the community and do something you like.

[2020-03-16 02:43] #4575 closed

[2020-03-16 03:05] kimmking commented on #4703
As discussing this topic with @odyssey1816  via wechat，maybe a bug that sharding-ui can't work well  in orchestration module with sharding-jdbc.

I will check it a bug or not.

[2020-03-16 03:30] #4765 closed

[2020-03-16 04:21] #4690 closed

[2020-03-16 05:55] terrymanu commented on #4669
@qwe123okd Can I close this issue if no more update?

[2020-03-16 05:59] terrymanu commented on #4711
@yinkaihuang  I will close this issue soon if no more update.

[2020-03-16 06:00] terrymanu commented on #4708
Proxy is not equals with MySQL, the data and binlog is not in proxy machine. dump from MySQL and export from proxy is not make sense.

[2020-03-16 06:00] #4708 closed

[2020-03-16 06:10] kimmking opened #4773 "CuratorZookeeperClient change-event bug in Unit Test"
Generally the Unittests will be successful. But sometimes Unittests failed with an error:
[code]
The details see:
https://api.travis-ci.org/v3/job/661777933/log.txt
and the main part of logs: [zk-change.txt](https://github.com/apache/incubator-shardingsphere/files/4336263/zk-change.txt)

This test case use curator testingzkserver and cache to support zk unit test, and then watch a key to fire a de

[2020-03-16 06:10] tristaZero commented on #4671
Hi, The last one seems optional, and the second last is our end subtask.

[2020-03-16 06:15] terrymanu commented on #4703
@odyssey1816 Can I close this issue if no update any more?

[2020-03-16 06:17] terrymanu commented on #4722
I just set pending for subquery

[2020-03-16 06:17] terrymanu commented on #4722
ref #4696

[2020-03-16 06:26] dongzl commented on #4756
Now the latest code doesn't have this problem. Maybe code refactoring case this problem.

[2020-03-16 06:26] #4756 closed

[2020-03-16 06:51] terrymanu commented on #4645
@ranjeet-floyd there are 3 sub-tasks, you can take the last one if you interest.

[2020-03-16 06:54] #4773 closed

[2020-03-16 06:56] zengzhihong commented on #234
泰古信息 http://tigosoft.com

[2020-03-16 07:19] #4738 closed

[2020-03-16 08:30] tristaZero opened #4776 "Add start-index and stop-index assertion for ParameterMarkerExpression"
This issue is to count the `start-index` and `stop-index` to assert `ParameterMarkerExpression `

### How to find the targets to be fixed?
1. Open class `ExpressionAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertParameterMarkerExpression`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our

[2020-03-16 08:37] tristaZero commented on #4776
This issue is part of the `parsing assertion improvement` series which includes,
#4690

[2020-03-16 08:46] geomonlin commented on #4776
I‘ll do it.

[2020-03-16 09:03] tuohai666 commented on #4460
@lklkxcxc The root cause of this problem is an exception fired when query via a existing stream resultset. A stream resultset must be closed before a new query.

This problem only occur when order by a String column, because the String order by clause need the collation which is obtained by a SQL query.

To avoid the additional SQL query I set useDynamicCharsetInfo = false, and Connector/J will ca

[2020-03-16 09:26] menghaoranss opened #4778 "Optimize configuration structure of config&registry center"
For #4522
Based on the completed split of the config center and registry center, the related configuration structure will be adjusted as follows:

#### Current structure
[code]
#### New structure
##### config center
[code]
##### registry center
[code]
Note:

+ Split the registry and modify state node to registry node to match the registry
+ Modify the datasources node of registry center to states,

[2020-03-16 09:38] menghaoranss commented on #4736
I will refactor the example synchronously when dealing with this issue #4778

[2020-03-16 10:32] tristaZero opened #4781 "Add start-index and stop-index assertion for LiteralExpressionSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

**This issue is to** add the parsing assertion for `LiteralExpressionSegment ` by adding the `start-index` and `stop-index` attributes in `parsing-r

[2020-03-16 10:36] tristaZero commented on #4781
### How to find the targets to be fixed?
1. Open class `ExpressionAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertLiteralExpression`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find th

[2020-03-16 10:39] tristaZero opened #4782 "Add start-index and stop-index assertion for ComplexExpressionSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

**This issue is to** add the parsing assertion for `ComplexExpressionSegment ` by adding the `start-index` and `stop-index` attributes in `parsing-r

[2020-03-16 10:50] tristaZero commented on #4782
### How to find the targets to be fixed?
1. Open class `ExpressionAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertCommonExpression`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find the

[2020-03-16 10:50] wgy8283335 commented on #4665
This issue is the same as #4460, the bug will be fixed in 5.0.0

[2020-03-16 10:51] #4665 closed

[2020-03-16 10:54] tristaZero opened #4783 "Add start-index and stop-index assertion for SubqueryExpressionSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for SubqueryExpressionSegment by adding the start-index and stop-index attributes in parsing-result.xml.

[2020-03-16 10:58] zjcnb commented on #4781
I'd like to try it,  assigned to me please! 😁

[2020-03-16 14:19] terrymanu commented on #4781
@zjcnb Thank you for interest. But you still working on #4768, please fix it first.

[2020-03-16 14:21] terrymanu commented on #4760
@ma1562013338 Do you interesting this issue?

[2020-03-16 15:08] terrymanu opened #4784 "Throw NPE when INSERT column and values mismatch"
Throw NullPointException when INSERT column and values mismatch.
It is better to throw suitable SQLException for JDBC-driver and proxy.

The tasks are:
- [x] Throw suitable SQLException for JDBC-driver.
- [x] Report suitable error packet with MySQL proxy.
- [x] Report suitable error packet with PostgreSQL proxy.

[2020-03-16 15:12] ma1562013338 commented on #4760
Yes, I hope to add this feature, and I think it's useful.

[2020-03-16 15:23] terrymanu opened #4785 "Check uniformed with all actual tables' meta data in once when loading them"
ShardingSphere will check uniformed for all actual tables' meta data if user config to enable meta data checking.

The current `checkUniformed()` method can only find the first violation and halt the check by throw an exception. The message of exception is included the first violated actual table only.

It will be better to check all actual tables and record all violations. After check finished, t

[2020-03-16 15:30] terrymanu opened #4786 "Use multiple threads to load meta data for different data sources"
The current meta data loading process are using single thread, it is better to load them concurrency with different data sources.

The code is in class `org.apache.shardingsphere.core.metadata.ShardingMetaDataLoader`, please search `// TODO use multiple threads to load meta data for different data sources` to find check point.

[2020-03-16 16:59] ranjeet-floyd commented on #4645
@terrymanu  ok  i will take   `AbstractShardingJDBCDatabaseAndTableTest for sahrding rule creation` Thanks

[2020-03-16 17:30] ranjeet-floyd commented on #4784
@terrymanu  Can i take this ?. Thanks

[2020-03-16 17:30] ranjeet-floyd commented on #4786
@terrymanu  Can i take this ?. Thanks

[2020-03-17 01:16] yu199195 commented on #4782
Hi,I will fix it

[2020-03-17 01:22] xfyang1988 commented on #4480
No, I hope there will be a better parser in the later version. Although ANTLR parser has been cached after the first parsing, it took a little time to parse for the first time. The average time is 1 to 3S, especially in the high concurrency scenario. The support is not very good. I will always pay attention to it. Thank you. You can turn it off

[2020-03-17 03:19] #4654 closed

[2020-03-17 03:21] terrymanu commented on #4781
The #4768 is merged, I just assign this issue to you @zjcnb

[2020-03-17 03:22] terrymanu commented on #4782
Thank you, assigned @yu199195

[2020-03-17 03:23] terrymanu commented on #4784
Welcome, I just assigned to you. @ranjeet-floyd

[2020-03-17 03:23] terrymanu commented on #4786
Thank you, assigned. @ranjeet-floyd

[2020-03-17 03:24] zjcnb commented on #4781
thanks

[2020-03-17 04:54] yu199195 commented on #4782
@tristaZero @terrymanu  I will fix it, hope to get your advice and help.

[2020-03-17 05:03] tristaZero commented on #4707
Hi Thanks for your multiple feedback.
After looking at your log info, I found there is no difference[1] between `logic SQL` and `actual SQL`,  which means sharding rule does not apply to this `logic table`. That's, it did not work well.
Based on that, IMO it is better to double-check sharding rule and this SQL.
BTW, I did not dig out any exception from your log, is there any connection between the

[2020-03-17 05:07] tristaZero commented on #4782
@yu199195 Much appreciate that and look forward to your contribution to the community.

[2020-03-17 05:30] tristaZero commented on #4783
### How to find the targets to be fixed?
1. Open class `ExpressionAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertSubqueryExpression`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find t

[2020-03-17 05:31] tristaZero commented on #4783
This issue is much easier than anyone of this series. :)

[2020-03-17 06:27] terrymanu opened #4793 "Refactor TypedProperties"
- [x] Adjust TypedProperties' package structure
- [x] Simplify TypedProperties domain module
- [x] Use preload and cache to process properties
- [x] Add new domain to process typed property value
- [x] Move OrchestrationProperties to orchestration module
- [x] Revise test cases

[2020-03-17 06:38] KomachiSion opened #4795 "Does ShardingScaling still need to support the MySQL JSON and BIT data type?"
When I handle #4594 , I found ShardingScaling support JSON data type. But I can't find any information about JSON type replication or binlog in [MySQL Internals Manual](https://dev.mysql.com/doc/internals/en/). I also search in [MariaDB document](https://mariadb.com/kb/en/clientserver-protocol/), but no information too.

There is only a [MySQL source code](https://github.com/mysql/mysql-server/blo

[2020-03-17 07:36] tristaZero opened #4798 "Review all the parsing integrated module"
Review the parsing integrated module to consider which ones are good-first issues and which ones are not necessary.

Working, reviewing, coding, writing...It is like a never-ending circle. Sometimes, I am no answer what I should do, however, i want to work hard to grow up, which not only points intellect capacity but the heart, mind, and spirit.

[2020-03-17 08:12] #4798 closed

[2020-03-17 08:30] dangshen commented on #2989
Hi, have you resloved your problem?

[2020-03-17 09:55] terrymanu commented on #4778
It is better if change `states` to `status`

[2020-03-17 09:56] terrymanu commented on #4778
Add `rule` type maybe not good because the type can be extension by user via SPI. It is better do not add a static field here.

[2020-03-17 10:09] yu199195 opened #4805 "if you put ShadingSphere in Chinese folder，SQLCasesLoader and SQLCasesLoader can not load File"
## Bug Report
https://github.com/apache/incubator-shardingsphere/blob/master/sharding-sql-test/src/main/java/org/apache/shardingsphere/test/sql/loader/SQLCasesLoader.java

https://github.com/apache/incubator-shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/test/java/org/apache/shardingsphere/sql/parser/integrate/jaxb/SQLParserTestCasesRegistry.java

Example

[2020-03-17 10:25] phoema opened #4806 "Only Use Hint to shard switch database,with not sqlParse"
Version
5.0.0-RC1-SNAPSHOT from master branch
## Question
I used hint as a database rule.

But does the SQL statement still have to execute the sqlparse call? I just want to use hint to perform sub database operations. My statements have some associated retrieval or more complex statistical statements. Sqlparse is not well supported.

Of course, the release version may support it, but I don't want

[2020-03-17 10:28] menghaoranss commented on #4778
ok, I will reconsider the design of this part, thanks.

[2020-03-17 10:35] tristaZero opened #4807 "Add start-index and stop-index assertion for IndexSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for IndexAssert by adding the start-index and stop-index attributes in parsing-result.xml.

It is not dif

[2020-03-17 10:41] phoema commented on #4806
#4478
@KomachiSion
 KomachiSion commented 13 days ago:
I understand your problem. But if you do not config shardingRule, how can ShardingSphere judge which SQLs should be shared and which SQL not?
If you have hundreds of tables need to shard, you should config all of them to shardingRule, what ever you manual configuration files or program generate.

is there any default config with many same loop

[2020-03-17 10:41] tristaZero commented on #4807
### How to find the targets to be fixed?
1. Open class `IndexAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertIs`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find the corresponding `SQL

[2020-03-17 10:43] leehom opened #4808 "sqlserver when table name or db name with "ed" would be disappeared in generated actual sql"
in sqlserver，when table name or db name with “ed”， say,  t_xxx_yyyed_zzz, the generated actual sql , that table name, is  t_xxx_yyy_zzz, “ed" is disappered

[2020-03-17 10:59] kimmking commented on #4805
On Windows ?

[2020-03-17 11:03] terrymanu commented on #4806
Every SQL need to pass SQL parser engine.
The SQL parser engine should supported all SQL in future.
So I just close this issue and label it as `won't fix`

[2020-03-17 11:03] #4806 closed

[2020-03-17 11:04] kimmking commented on #4806
But does the SQL statement still have to execute the sqlparse call?

Answer is yes.
Every sql will be parsed now.
Hint a ds as databaseShardingOnly=true, will avoid sql-rewrite phase, but parse phase is need.

[2020-03-17 11:09] kimmking commented on #4786
A tips: should consider size of threadpool and cores of cpu processors.

[2020-03-17 11:10] terrymanu commented on #4808
What is your version?

[2020-03-17 11:20] phoema commented on #4806
The answer was timely
Thanks

if every table must be config，if not config then exception。
but my temp table name Alias will be not config in xml file.
like RES
it can be exception with 【Can not find owner from table.】
org.apache.shardingsphere.sql.parser.binder.segment.select.projection.engine.ProjectionsContextEngine

is this the same question with upper question ？

SELECT DISTINCT
	RES.*
FROM
	(

[2020-03-17 11:21] phoema commented on #4806
@terrymanu @kimmking

[2020-03-17 11:34] yu199195 commented on #4805
@kimmking  No ，on mac  os .  I think this path , use utf-8 decode will better..

[2020-03-17 11:39] wangjing112 commented on #4707
@tristaZero sql是没有错,但是返回的数据里面字符串发生了错误,字符串后面包含了其他不属于这个表的数据.
还有个重要的线索是,如果我用sql去查询是不会出差,比如:select * from table where id=123;
但是当我用org.hibernate.Session.get(Class arg0, Serializable arg1)去获取同样的数据,那么返回的数据就会出错.
你看我上面的截图,明显字符串后面出现你很久之前另外一个查询结果里面的字符串.

[2020-03-17 11:40] yu199195 commented on #4783
i will fix it .

[2020-03-17 11:40] yu199195 commented on #4807
I can fix it.

[2020-03-17 11:41] kimmking commented on #4805
Can you submit a pr to fix it.

[2020-03-17 11:42] yu199195 commented on #4805
ok,I will fix it .

[2020-03-17 11:49] leehom commented on #4808
3.1.0，we don't use original properties config that ss provide, we dev java configs to build the  sharding rule configuration, i try to toString(), but nothing output. but as so far, no other problem except that one

[2020-03-17 11:49] phoema opened #4810 "Abount Exception [Can not find owner from table.]"
Version
5.0.0-RC1-SNAPSHOT from master branch

## Question
sorry, ref #4806 was closed timely
may be no user can see new message in it , so I open a new issue.

My
        HintManager.clear();
        HintManager hintManager = HintManager.getInstance();
        hintManager.setDatabaseShardingValue(user.getTenantId());
it means
       databaseShardingOnly = true;

if every table must be config，if n

[2020-03-17 12:33] kimmking commented on #4703
@odyssey1816 you can use  examples codes,

org.apache.shardingsphere.example.orchestration.raw.jdbc.JavaConfigurationExampleMain
in incubator-shardingsphere\examples\sharding-jdbc-example\orchestration-example\orchestration-raw-jdbc-example

Set loadConfigFromRegCenter = true; // in line 51. And run it.
This jdbc-demo will write it's configuration to zk server, the zk node path is just the same wi

[2020-03-17 12:35] kimmking commented on #4377
We will close this issue soon.

[2020-03-17 12:36] kimmking commented on #4808
Can you try 4.0.0

[2020-03-17 12:36] #4782 closed

[2020-03-17 12:41] terrymanu commented on #4810
Can not support subquery now. I just set the issue as pending.

[2020-03-17 12:43] terrymanu commented on #4808
The version 3.x is out of service. I just close this issue. If you find same problem in version 4.x, please report a new one.

[2020-03-17 12:43] #4808 closed

[2020-03-17 12:44] terrymanu commented on #4805
How about if default character is not uft-8?

[2020-03-17 12:45] #4669 closed

[2020-03-17 12:46] #4703 closed

[2020-03-17 12:47] #4377 closed

[2020-03-17 12:58] #4355 closed

[2020-03-17 13:11] phoema commented on #4810
I run many subquery wiht new version from master and it works well.
now I see subquery  is still developing in the git reop
may be some special case is not support now like this sql.
I will wait for.
Thanks very much.

[2020-03-17 14:25] yu199195 commented on #4805
@terrymanu  ues  toURI() and  then  URI.getPath()  What do you think?

[2020-03-18 00:51] kimmking commented on #4805
You should modify it and then try it in your case.

[2020-03-18 02:02] kimmking commented on #4460
Test is a sharding table.
5.x support order two items as follow.

![image](https://user-images.githubusercontent.com/807508/76917769-6180c680-68ff-11ea-82d2-eb1e6b2b95ad.png)

[2020-03-18 02:05] lklkxcxc commented on #4460
@tuohai666 The problem was sloved that add up parm to JDBC connect .

[2020-03-18 02:05] #4460 closed

[2020-03-18 03:11] #4805 closed

[2020-03-18 03:25] tuohai666 commented on #4460
@lklkxcxc set useDynamicCharsetInfo = false is a work around, I will submit a pr to resolve this problem. After that we don't need to set the parameter any more.

[2020-03-18 04:09] JasonKing168 commented on #4785
I'd like to finish this.

[2020-03-18 05:11] kimmking commented on #4786
@ranjeet-floyd any progressing or problems？

[2020-03-18 05:42] kimmking commented on #4785
@JasonKing168  Nice. I will do a favor to give you any help.

[2020-03-18 06:54] terrymanu opened #4820 "Add test cases for TypedProperties implementation"
Please add test cases for TypedProperties implementation. The example is `org.apache.shardingsphere.underlying.common.config.properties.ConfigurationPropertiesTest`

The remains test cases need to be finished are:

- [ ] Test case of OrchestrationProperties
- [x] Test case of ZookeeperProperties
- [x] Test case of EtcdProperties
- [ ] Test case of NacosProperties
- [x] Test case of ApolloPropertie

[2020-03-18 08:24] menghaoranss commented on #4778
@terrymanu I have changed the `state` node  to `registry` node,  I understand that `registry` node stores proxy and datasource runtime info(contains instance and status) which registered to the center . so , i consider whether it better to use `proxy`  instead of `instances`, just like:
[code]
Do you have any good suggestions about this?

[2020-03-18 08:58] #4793 closed

[2020-03-18 08:59] CorsonMi opened #4822 "No value specified for parameter 1"
使用版本4.0.0-RC3-CW 系统正常使用，升级到4.0.1后系统报错，具体如下

org.springframework.jdbc.BadSqlGrammarException:
### Error updating database.  Cause: java.sql.SQLException: No value specified for parameter 1
### The error may involve defaultParameterMap
### The error occurred while setting parameters
### SQL: INSERT INTO table (args_val, ......)         VALUES (         ?,?,?,?,?,?,?,?,?,?,?,?         )
### Cause: ja

[2020-03-18 09:10] kimmking commented on #4822
Plz show the config rules and logic SQL&actual SQL.

[2020-03-18 09:11] terrymanu commented on #4822
**For English only**, other languages will not accept.

[2020-03-18 09:11] #4822 closed

[2020-03-18 09:45] ruanjiehui commented on #4820
I want to try the ZookeeperProperties test cases @terrymanu

[2020-03-18 09:49] #4783 closed

[2020-03-18 10:15] terrymanu commented on #2884
Fixed at #3340

[2020-03-18 10:53] phoema commented on #4810
SQL parse throws NullPointerException
may be it can be a test case.

SELECT
        RES.*,
        (
  case
	  when
      RES.TASK_ID_ is not null
      and RES.EXECUTION_ID_ is not null
	  then EXECUTION.ACT_INST_ID_

    when
      RES.CASE_EXECUTION_ID_ is not null
    then RES.CASE_EXECUTION_ID_

	  when
	    EXECUTION.PARENT_ID_ is null
      and RES.IS_CONCURRENT_LOCAL_ = 0
	  then EXECUTION

[2020-03-18 12:22] linyuliang opened #4830 "Exception“Must have sharding column with subquery” when use nonesharding"
## Bug Report
### Which version of ShardingSphere did you use?
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-core</artifactId>
			<version>4.0.1</version>
		</dependency>
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
sql execute ok, and return the result
### Actual behavior
`
SQL: SELECT *         f

[2020-03-18 12:23] dongzl commented on #4317
Hi @ppourali , I want to solve this problem, but I try the 4.0.0-RC3, 4.0.0, 4.0.1 and the newest code, They work very well, can you reproduce this problem, Thanks.

[2020-03-18 12:39] libinglong commented on #3097
I have compiled the latest matser branch (commit id 932358b4f445a6a0e102def50db45d23e87bcc3a),but the "query_cache_size" problem still occurs.
Do I miss something? @terrymanu

[2020-03-18 12:46] kimmking commented on #4820
Nice, anything could be discussed about here.

[2020-03-18 12:51] terrymanu commented on #4830
Duplicate with #4722

[2020-03-18 12:51] #4830 closed

[2020-03-18 14:41] fantacy2001 opened #4832 "insert...ON DUPLICATE KEY UPDATE error"
when execute sql that likes follow
INSERT INTO stock_age (
  tenant_id,
  warehouse_no,
  sku_no,
  lot_no,
  package_no,
  owner_no,
  product_level,
  md5_value,
  qty
)
VALUES
  (
    'T123456',
    '26',
    'S011',
    '1',
    '1',
    'ownerNo',
    '1',
    'asdsdfdfdfd',
    5
  )
  ON DUPLICATE KEY
  UPDATE
    qty = IFNULL(qty, 0) + 1

report error:
### Cause: java.sql.SQLException: No

[2020-03-19 02:21] meAsky commented on #4820
I want to try the ApolloProperties test cases @terrymanu

[2020-03-19 02:37] tristaZero commented on #4711
@yinkaihuang
Hi Sorry, this issue has not received any reply from you for more than 7 days. So we have to close it.

[2020-03-19 02:37] #4711 closed

[2020-03-19 02:37] kimmking commented on #4778
proxy -> proxies is better.

[2020-03-19 02:47] tristaZero commented on #4707
@wangjiang112, Hi, Please Abide by the Apache community rule to involve in English.

[2020-03-19 02:48] tristaZero commented on #4707
Is there any connection between the log you provided and the exception you faced.

[2020-03-19 02:50] tristaZero commented on #4776
@geomonlin Hi Any progress made?

[2020-03-19 02:53] geomonlin commented on #4776
This is basically over. Will submit later.

[2020-03-19 02:54] tristaZero commented on #4832
@fantacy2001
Hi how about sharding rule configuration?

[2020-03-19 03:23] wangjing112 commented on #4707
The point is no anly exception but result is wrong.
in mysql data type is varcher, when hibernate link proxy the result wrong like my picture.
but when use sharding-jdbc is work fine.

[2020-03-19 03:50] wangjing112 opened #4835 "interface PreciseShardingAlgorithm.doSharding this param PreciseShardingValue type error"
sharding-jdbc 4.0.0-RC2

### my own sharding def:
`
public class PreciseShardingTableAlgorithm implements PreciseShardingAlgorithm<Long> {

	@Override
	public String doSharding(Collection<String> availableTargetNames, PreciseShardingValue<Long> shardingValue) {
		String idx = (shardingValue.getValue() / ShardingCfg.DATABASE_SIZE) % ShardingCfg.TABLE_SIZE + "";
		for (String each : availableTargetN

[2020-03-19 04:15] geomonlin opened #4836 "update Submit Pull Request guide"

[2020-03-19 04:18] geomonlin commented on #4836
@tristaZero Hi, this is a Submit Pull Request guide, hope you can help me review. thx.

[2020-03-19 04:31] fantacy2001 commented on #4832
only split db
   <sharding:standard-strategy id="databaseStrategy" sharding-column="tenant_id" precise-algorithm-ref="commonDBShardingAlgorithm"/>
  <sharding:table-rule logic-table="stock_age" actual-data-nodes="ds_ms$->{0..1}.stock_age" database-strategy-ref="databaseStrategy"  />
  <sharding:master-slave-rules>
                <sharding:master-slave-rule id="ds_ms0" master-data-source-name="ds_

[2020-03-19 05:19] #4785 closed

[2020-03-19 05:23] #4836 closed

[2020-03-19 07:30] xiaozichen opened #4842 "report error Must have sharding column with subquery."
My  version : Sharding-JDBC  4.0.0-RC1
sql:
select *from tb_user where user_id in  (select user_id from t_order  where order_id ='446429826933325824')

tb_user : bussine table
t_order  sharding table , sharding rule : order_id ;

config:
spring.shardingsphere.sharding.tables.t_order.table-strategy.inline.sharding-column = order_id
spring.shardingsphere.sharding.tables.t_order.table-strategy.inline

[2020-03-19 07:33] terrymanu commented on #4842
Duplicated with #4722

[2020-03-19 07:33] #4842 closed

[2020-03-19 07:40] nevereverever opened #4844 "Batch insert cannot exceed 65535 columns"
version : sharding-proxy 4.0.1

description:
I have a table of 44 columns,I use jdbc batch insert with preparedstatement,like insert into table (xxx,xxx,...xxx) values(?,?...,?),(?,?...,?),(?,?...,?),(?,?...,?)...,(?,?...,?).
when `?` more than 65535,report this exception:
[code]

I tested many more tables and found that column 65535 was a critical value.

MySQL does not have this limitation.

I w

[2020-03-19 07:48] #4776 closed

[2020-03-19 07:56] terrymanu commented on #4844
Can you provide full stack trace?

[2020-03-19 07:57] terrymanu commented on #4820
@meAsky Welcome

[2020-03-19 08:01] nevereverever opened #4846 "Some tools cannot display logic schema name"
Version: sharding-proxy 4.0.1

Description:
Some tools(just like new version of navicat or idea) cannot display logic schema name,it shows real database name.

I debugger the code , I found that two different statements were executed：

`select database()` and `show databases()`.

select will route to real node.

[2020-03-19 08:15] nevereverever commented on #4844
@terrymanu
Sometimes the error report can't let us locate the problem. I found two days later that it's related to the precision of 2-byte int

This is my program exception stack:

[code]

[2020-03-19 08:19] kimmking commented on #4844
https://dev.mysql.com/doc/refman/5.7/en/server-error-reference.html#error_er_ps_many_param
Error: 1390 SQLSTATE: HY000 (ER_PS_MANY_PARAM)

[2020-03-19 08:41] kimmking commented on #4846
idea/datagrip, you should turn on "introspect using jdbc metadata"(or it will get all real tables info from informations_schema):
![image](https://user-images.githubusercontent.com/807508/77047762-48ac0a00-6a00-11ea-96b1-6f0a0492d122.png)

[2020-03-19 09:21] kimmking commented on #4835
The routeValue is a result of evaluating sharding expression.

to ensure Integer&Long compatible.
Or make groovy expression must return a Long type:

[2020-03-19 09:32] nevereverever commented on #4844
@kimmking
But I don't have this problem when I execute on a single MySQL.

[2020-03-19 09:57] terrymanu commented on #4844
The exception is thrown from MySQL driver

[2020-03-19 09:57] #4844 closed

[2020-03-19 09:58] terrymanu commented on #4846
volunteer wanted for support `select database()`

[2020-03-19 10:04] tristaZero opened #4849 "Add start-index and stop-index assertion for ParameterMarkerExpression"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for `ParameterMarkerExpression` by adding the start-index and stop-index attributes in parsing-result.xml

[2020-03-19 10:06] tristaZero commented on #4849
### How to find the targets to be fixed?
1. Open class `SQLParserParameterizedTest` and delete the following lines,
[code]
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find the corresponding `SQL Case ID` and `SQL`.
2. Find out the `parsing r

[2020-03-19 10:18] JasonKing168 commented on #4849
I'd love to try to fix it.

[2020-03-19 10:19] terrymanu commented on #4849
@JasonKing168 Welcome

[2020-03-19 10:38] kimmking commented on #4844
Do you use 65535 placeholder?

[2020-03-19 10:39] tristaZero commented on #4849
Looking forward to your contribution.

[2020-03-19 10:48] tristaZero opened #4852 "Add start-index and stop-index assertion for OrderByItem"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for `OrderByItem` by adding the start-index and stop-index attributes in parsing-result.xml.

It is not d

[2020-03-19 10:57] tristaZero commented on #4852
This issue is to count the `start-index` and `stop-index` to assert `IndexOrderByItem ` and `ExpressionOrderByItem`

### How to find the targets to be fixed?
1. Open class `OrderByItemAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertIndexOrderByItem` and `assertExpressionOrderByItem`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases wh

[2020-03-19 11:03] tristaZero opened #4853 "Add start-index and stop-index assertion for `ColumnDefinitionSegment`"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for `ColumnDefinitionSegment ` by adding the start-index and stop-index attributes in parsing-result.xml.

[2020-03-19 11:08] tristaZero commented on #4853
This issue is to count the `start-index` and `stop-index` to assert `ColumnDefinitionSegment `

### How to find the targets to be fixed?
1. Open class `ColumnDefinitionAssert` and clear the comment of
[code]
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the excepti

[2020-03-19 14:46] #4849 closed

[2020-03-20 00:44] JasonKing168 commented on #4853
I'd love to finish this issue if no anybody else is performing it.

[2020-03-20 00:51] kimmking commented on #4835
Another way from zhangliang:

[2020-03-20 02:24] tristaZero commented on #4853
@JasonKing168 Very glad to see your one more contribution to the community. I am going to assign this ISSUE to you. :)

[2020-03-20 03:21] terrymanu commented on #4638
May I close this issue?

[2020-03-20 03:22] terrymanu commented on #4568
May I close this issue?

[2020-03-20 03:32] tristaZero commented on #4832
@fantacy2001 Did you use spring Namespace as the client? Or Original JDBC interface?

[2020-03-20 03:34] tristaZero commented on #4832
@geomonlin Hi, could you give this issue a simple test whether the SQL mentioned can run well in our `Sharding-example` project?

[2020-03-20 03:35] #4638 closed

[2020-03-20 03:37] ppourali commented on #4317
Hi @dongzl
Unfortunately, I don't have access to the machine on which this issue occurred. There must be something wrong on my side. Thanks for following up though. I think we can close this issue.

[2020-03-20 03:37] #4317 closed

[2020-03-20 04:04] tristaZero commented on #4707
You think the parameters of SQL got wrong, right? I want to make sure that the incorrect parameters you mentioned are which hibernate sent or proxy returned?

[2020-03-20 05:21] fantacy2001 commented on #4832
this sql has modified:
ON DUPLICATE KEY
UPDATE
qty = values(qty) + 1
success.

[2020-03-20 05:38] geomonlin commented on #4832
OK

[2020-03-20 05:39] geomonlin commented on #4832
ok

[2020-03-20 06:20] Ltyro commented on #3500
so...has it been fixed?

[2020-03-20 06:29] wangjing112 commented on #4707
hibernate->sharding-jdbc->mysql work fine
hibernate->proxool->mysql work fine
hibernate->proxool->sharding-proxy->mysql wrong

the wrong query use:Query org.hibernate.Query.setParameterList(String arg0, Collection arg1) throws
from hibernate-3.5.6

look this,16:23 progress B query result exist 11:42 progress A's Sql.
so i think the proxy process parameter query then result string out of buffer bou

[2020-03-20 07:11] nevereverever commented on #4844
44 columns * 10000 items is Ok on a single MySQL.
@kimmking

[2020-03-20 08:38] fantacy2001 opened #4861 "two tables left join with different routing rules are not supported"
two tables left join,  with different routing rules are not config binding tables, Will lead to full routing。
Table a and table b are divided into tables according to col field. Table b is divided into tables according to col field on each sharding database. Table a is not divided into tables. The sharding database route can be found, but sharding table rule of table b will not be found，Cause tabl

[2020-03-20 08:39] wangjing112 commented on #4835
the exception shorw in PreciseShardingValue<Long>.getValue()

[2020-03-20 09:06] nevereverever opened #4862 "using "" will route to all datanode"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-20 09:51] kimmking commented on #4862
show the sharding config rule.

[2020-03-20 10:29] KomachiSion opened #4866 "Replace metaData part in sharding-scaling with metaData in sql-parse"
There are `TableMetaData` both in sharding-scaling and sql-parse-binder module, and they also have similar behavior.

So I think we can use one of them replace the other own.

Generally, parser module is more based-module and scaling may be need parse function if we need to support DDL for MySQL. So I plan replace metadata part with sql-parse's in sharding-scaling module.

[2020-03-20 10:49] tristaZero opened #4867 "Parse `Top(expression)` query of SQLServer with ANTLR"
**Content:** To support `Top(expression)` of SQLServer query SQL, the first step is to parse this grammar through Sharding-Parser.

**Difficulty Rating:**  ★★★☆☆

**Requirements:**
    - Understand `g4 file` of `ANTLR`
    - Understand `Visitor` mechanism of `ANTLR`
    - Can modify `xml` file

[2020-03-20 11:07] tristaZero commented on #4867
### TODO list to handle this issue
- [ ] Correct the `TOP` definition in `DMLStatement.g4` of `SQLServer` referring to [DOC](https://www.sqlservertutorial.net/sql-server-basics/sql-server-select-top/).
- [ ] Add function `visitTop()` of `SQLServerDMLVisitor` to parse out `TopProjectionSegment`
- [ ] Modify `visitProjection()` of `SQLServerDMLVisitor`
- [ ] Check those sql test case[1] are correct

[2020-03-20 13:14] kimmking commented on #4861
b.col is sharding key:

[2020-03-20 13:14] terrymanu opened #4868 "Pluggable for route module"
- [x] Refactor route domain object
- [x] Add impl of DataNodeRouter
- [x] Dynamic to introduce RouteDecorator
- [x] Use standard RouteContext and remove ShardingRouteContext for special interface

[2020-03-20 14:49] geomonlin commented on #4832
I also tested it  successful. So Can close this issue?

[2020-03-20 15:40] #4853 closed

[2020-03-20 15:45] fantacy2001 commented on #4861
However, by convention, two tables join, only the main table write value(a.col='123') in the where condition， The sub table obtains the value of the where condition through the  ’on’ condition in the join.  if both main table and sub table write value in the where condition, feel very uncomfortable

[2020-03-20 18:37] ranjeet-floyd commented on #4645
@terrymanu Raised PR for AbstractEncryptJDBCDatabaseAndTableTest.  https://github.com/apache/incubator-shardingsphere/pull/4871

Please let me if this is right way , then can will do others.

[2020-03-21 02:27] JasonKing168 commented on #4852
Assign to me, please. I fix it today, thanks.

[2020-03-21 03:13] tristaZero commented on #4852
@JasonKing168 I am glad you get to know ShardingSphere community more. Hope to see you involved more in the community, welcome.  :)

[2020-03-21 03:22] JasonKing168 commented on #4852
Thanks, thanks for your chances.

[2020-03-21 03:57] wowojyc opened #4875 "Is it possible SqlParserResultCache cause memory leak?"
## Bug Report
My sharding-jdbc-core version is :
    <groupId>org.apache.shardingsphere</groupId>
        <artifactId>sharding-jdbc</artifactId>
        <version>4.0.0-RC2</version>
my IBM memory analyzer show here may cause memory leak
![image](https://user-images.githubusercontent.com/9378228/77218863-e91e3d80-6b6a-11ea-8754-929a643d89b9.png)

[2020-03-21 05:14] #4852 closed

[2020-03-21 05:37] terrymanu commented on #4875
Fixed by #2997 at version 4.0.1

[2020-03-21 05:37] #4875 closed

[2020-03-21 13:11] xianlongbai commented on #1927
@Transactional
    public void testTrans() {
        TransactionTypeHolder.set(TransactionType.XA);
        for (int i = 0; i < 100; i++) {
            Order order = new Order();
            order.setOrderId((long)i+1);
            int number = new Random().nextInt(500) + 1;
            order.setUserId((long) number);
            if(i==50){
                throw new RuntimeException(" 模拟抛出一个异常！！！"

[2020-03-21 13:13] xianlongbai commented on #1927
Caused by: java.lang.ClassNotFoundException: com.atomikos.icatch.HeuristicMessage

[2020-03-21 13:14] xianlongbai commented on #1927
If you write as above, you will get such a wrong report

[2020-03-22 02:17] tristaZero commented on #4707
Hi thanks for your explanation.

This usage is not what we concerned since it will become a Query SQL sent to proxy finally. Therefore we need to get the `logic SQL` and `logic parameters` hibernate sends and `actual SQL` and `actual parameters` proxy rewrites. And then, we compare two of them to find the difference so as to figure out what proxy did.

[2020-03-22 02:26] tristaZero commented on #4807
Thanks for your contribution.

[2020-03-22 02:26] #4807 closed

[2020-03-22 02:28] tristaZero commented on #4671
All done, good job.

[2020-03-22 02:29] #4671 closed

[2020-03-22 02:30] tristaZero commented on #4763
I finished it, so closed this one.

[2020-03-22 02:30] #4763 closed

[2020-03-22 03:43] nevereverever commented on #4862
I'm sure there's no problem with ''.So my split rule is fine.
@kimmking

[code]

[2020-03-22 03:57] jikoy opened #4881 "Sharding-Proxy什么时候支持MS SQL呢？"
最近新项目选项，拜读了Sharding-JDBC之后，发现这不正是我想要的吗？

[2020-03-22 03:58] jikoy commented on #4881
第一个问题解决了，第二个问题又来了，分布之后，我要后台查一个数据，这么多库和表，又麻烦了。惊喜地发现Sharding-Proxy，可惜不支持MS SQL，请问这个有计划吗？

[2020-03-22 04:40] tristaZero commented on #4482
@yuzel Your continual contribution helps this ISSUE complete. Very appreciated your effort. Hope see your interaction in community more. :)

[2020-03-22 04:40] #4482 closed

[2020-03-22 04:52] juaihua opened #4882 "How to integrate sharding-proxy with seata"
hi , guys

i am looking for integrating shading-proxy with seata,  but i find only little information on how to

operate this,  where can i get some quite clear information or manual . below is the docs from

sharding-sphere web site :

"BASE目前没有打包到Sharding-Proxy中，使用时需要将实现了ShardingTransactionManagerSPI

jar拷贝至conf/lib目录，然后切换事务类型为BASE。"

no more ,  please pay attention i mean the proxy , not jdbc.

[2020-03-22 06:03] juaihua opened #4884 "io.seata.config.ConfigFuture - config operation timeout,cost:5002 ms"
hi, brothers and sisters
i am looking for integrate seata into sharding-proxy, and i got seata spi package by compiling source code at with git tag 4.0. when i start proxy , i got this:

[ERROR] 13:58:33.244 [timeoutChecker_1] io.seata.config.ConfigFuture - config operation timeout,cost:5004 ms,op:GET,dataId:service.vgroup_mapping.raw-jdbc-group
[ERROR] 13:58:33.244 [timeoutChecker_1] i.s.c.r.n.Ab

[2020-03-22 07:53] tristaZero opened #4885 "Parse `Join table` for supporting `Join table` query SQL"
Content: Parsing `Join table` is first and vital for supporting `Join table` query SQL.
Difficulty Rating: ★★★☆☆

### How to handle this issue?
- [ ] Create `JoinedTableSegment`, `JoinSpecificationSegment`,  and `TableReferenceSegment` like
[code]
- [ ] Add `Collection< TableReferenceSegment>` to `SelectStatement`
- [ ] Parse `JoinedTableSegment`, `joinSpecificationSegment` and `TableReferenceSegm

[2020-03-22 07:55] tristaZero commented on #4885
It is an uneasy job, so I suggest to split it as multiple sub-tasks to raise PR.

[2020-03-22 08:51] kimmking commented on #4881
Not in plan table now.
This issue is duplicated with https://github.com/apache/incubator-shardingsphere/issues/4638.

[2020-03-22 08:56] kimmking commented on #4884
Refer:

- [Apache ShardingSphere 整合 Seata AT 分布式事务](https://www.infoq.cn/article/w6WKHscKTPa3-)QMQI4gR
- [transaction-base-seata-raw-jdbc-example](https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-base-seata-raw-jdbc-example)

[2020-03-22 09:04] fantacy2001 commented on #4832
please close it ，thank you！

[2020-03-22 09:04] fantacy2001 commented on #4568
please close it ，thank you !

[2020-03-22 09:06] xianlongbai opened #4886 "Handler dispatch failed; nested exception is java.lang.NoClassDefFoundError: com/atomikos/icatch/HeuristicMessage"
Switch Transaction Type Based on Java：
My project integrates shardingjdbc as follows,Based on the integration of springboot, but using switch Transaction Type Based on Java,  my code is as follows:

@Configuration
@MapperScan(basePackages = "com.standard.dao.shardingDao", sqlSessionTemplateRef  = "shardingSqlSessionTemplate")
public class ShardingDataSourceTestConfig {

    @Resource
    private D

[2020-03-22 09:20] tristaZero opened #4887 "Review pagination SQL tests of Oracle"
Content: After #4885 is fixed, this issue begins to process.
Difficulty Rating: ★★☆☆☆

### How to fix this one?
- [ ] Add parse SQL cases to check your code logic.
- [ ] Remove the comments from all `pagination` SQLs of Oracle (Not include `TOP` SQL, which is in charged by others) in `./incubator-shardingsphere/sharding-sql-test/src/main/resources/sql/supported/dml/select-pagination.xml` and `./in

[2020-03-22 09:23] tristaZero commented on #4887
This issue has a prerequisite issue.

[2020-03-22 09:32] tristaZero commented on #4867
The prerequisite Issue of this one is #4885

[2020-03-22 10:38] meAsky commented on #4820
Test case of ApolloProperties has been merged into the master in another pull request

[2020-03-22 10:39] meAsky commented on #4820
I want to try the EtcdProperties  test cases

[2020-03-22 11:29] juaihua commented on #4884
yes , i start seata and nocas successfully,  but  **shard-proxy** response to me this:

Exception in thread "main" java.lang.ExceptionInInitializerError
	at io.seata.tm.TMClient.init(TMClient.java:34)
	at org.apache.shardingsphere.transaction.base.seata.at.SeataATShardingTransactionManager.initSeataRPCClient(SeataATShardingTransactionManager.java:118)
	at org.apache.shardingsphere.transaction.base

[2020-03-22 12:00] tristaZero opened #4889 "Add start-index and stop-index assertion for ColumnPositionSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

This issue is to add the parsing assertion for `ColumnPositionSegment` by adding the start-index and stop-index attributes in parsing-result.xml.

I