[2022-01-29 02:26] zjcnb commented on #15164
@homeway88 Which version do you used?

[2022-01-29 02:28] zjcnb commented on #15147
@xsong123 Please refer to : https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/

[2022-01-29 02:31] wyxabd commented on #15145
root schema is existed,but show ERROR

[2022-01-29 02:36] RaigorJiang opened #15168 "[DistSQL] Add a syntax `SHOW SHARDING TABLE RULES USED ALGORITHM`"
Hi community,
this issue is similar to [SHOW RULES USED RESOURCE](https://github.com/apache/shardingsphere/issues/15167)

### Aim
The syntax is as follows:
[code]

### Reference
- #14609
- #15167

[2022-01-29 02:37] RaigorJiang commented on #15167
Hi @yx9o , welcome to your help.

[2022-01-29 02:38] homeway88 commented on #15164
5.0.0

[2022-01-29 02:41] RaigorJiang opened #15169 "[DistSQL] Add a syntax `SHOW SHARDING TABLE RULES USED KEY GENERATOR`"
Hi community,
this issue is similar to [SHOW SHARDING TABLE RULES USED ALGORITHM](https://github.com/apache/shardingsphere/issues/15168)

### Aim
The syntax is as follows:
[code]

### Reference
- #14610
- #15167

[2022-01-29 02:49] RaigorJiang commented on #15145
Please provide your schema configuration.

[2022-01-29 02:58] wyxabd commented on #15145
schemaName: jdt

dataSources:
  primary_ds:
    url: jdbc:postgresql://10.25.108.163:5432/jdt
    username: postgres
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
    minPoolSize: 1
  replica_ds_0:
    url: jdbc:postgresql://10.25.108.161:5432/jdt
    username: postgres
    password: 123456

[2022-01-29 03:03] RaigorJiang commented on #15145
Hi @wyxabd
From your configuration, the logic schema name is `jdt`, not root.
In ShardingSphere, users can not use pg schema in SQL, it shoud be logic schema.

[2022-01-29 03:07] zjcnb commented on #15164
5.0.0 version. You should see 5.0.0 document. https://shardingsphere.apache.org/document/5.0.0/cn/user-manual/shardingsphere-jdbc/configuration/yaml/readwrite-splitting/. Because this api change in 5.1.0 version.

[2022-01-29 03:10] LeeGuoPing commented on #15169
Hi, I want to do it.

[2022-01-29 03:14] wyxabd commented on #15145
use PostgreSQL
jdt is DatabaseName
root is SchemaName

[2022-01-29 03:15] RaigorJiang commented on #15169
Welcome @LeeGuoPing

[2022-01-29 03:19] RaigorJiang commented on #15145
@wyxabd
I understand what you mean, in PostgreSQL, database and schema have different meanings, but in ShardingSphere, database and schema both refer to logical database (or logic schema), which is somewhat different from using Postgres directly.

[2022-01-29 03:21] RaigorJiang commented on #15145
There is a related issue: https://github.com/apache/shardingsphere/issues/14004

[2022-01-29 04:16] art-yang commented on #15168
May I have a try？

[2022-01-29 04:19] art-yang commented on #15168
Hi, I want to do it.

[2022-01-29 05:04] yx9o commented on #15168
@art-yang Welcome.

[2022-01-29 05:18] homeway88 commented on #15164
got it

[2022-01-29 05:18] #15164 closed

[2022-01-29 06:05] RaigorJiang opened #15179 "NPE occurred when execute `SHOW SCALING STATUS` with a jobId not existed."
## Bug Report

### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT  master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
Execute `SHOW SCALING STATUS`  with a jobId not existed:
[code]

Error log:
[code]

[2022-01-29 06:57] #14924 closed

[2022-01-29 08:52] #15110 closed

[2022-01-29 08:55] zjcnb opened #15185 "`ClusterContextManagerCoordinator` need to add some unit test."
Hi community,

`ClusterContextManagerCoordinator.class` need to add some unit test.

- [ ] renew(final PrimaryStateChangedEvent event)
- [ ] renew(final StateEvent event)
- [ ] renew(final WorkerIdEvent event)
- [ ] renew(final LabelsEvent event)

[2022-01-29 09:02] strongduanmu commented on #15152
@anonymous-lj Thank you for your feedback, we will investigate this issue.

[2022-01-29 09:07] anonymous-lj commented on #15152
spring:
  application:
    name: micro-fund
  shardingsphere:
    props:
      sql-show: true
    mode:
      type: Memory
    datasource:
      names: fund
      fund:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://***:3306/***?useUnicode=true&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&zeroD

[2022-01-29 09:08] anonymous-lj commented on #15152
`spring:
  application:
    name: micro-fund
  shardingsphere:
    props:
      sql-show: true
    mode:
      type: Memory
    datasource:
      names: fund
      fund:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://***:3306/***?useUnicode=true&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&zero

[2022-01-29 09:08] #15179 closed

[2022-01-29 09:09] anonymous-lj commented on #15152
spring:
  application:
    name: micro-fund
  shardingsphere:
    props:
      sql-show: true
    mode:
      type: Memory
    datasource:
      names: fund
      fund:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://***:3306/***?useUnicode=true&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&zeroD

[2022-01-29 09:12] zjcnb opened #15186 "InlineShardingAlgorithm partial logic need to add unit test."
Hi community,

Refer to: #15110, #15176

[code]

Please add unit test.

[2022-01-29 09:31] zjcnb commented on #15152
Thanks. I will check it.

[2022-01-29 10:21] strongduanmu commented on #14971
Fixed by #15176.

[2022-01-29 10:21] #14971 closed

[2022-01-29 10:30] zjcnb commented on #14971
@strongduanmu Please assign me.

[2022-01-29 10:31] strongduanmu commented on #14971
@zjcnb Assigned.

[2022-01-29 10:41] zjcnb opened #15191 "Table changed not refresh SingleTableRule."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Refresh SingleTableRule when table meta data changed.

### Actual behavior

No refresh.

![image](https://user-images.githubusercontent.com/33742097/151657920-4b9c4e88-ffed-4869-9021-8d60bbf0cd6b.png)

[2022-01-29 11:40] terrymanu opened #15199 "Add test case for StandalonePersistRepositoryFactory"

[2022-01-29 12:00] terrymanu opened #15201 "Add test case for ClusterPersistRepositoryFactory"

[2022-01-29 16:21] LostMyth commented on #15162
### This is complete configuration.

[code]

### pom.xml
[code]

[2022-01-29 16:23] LostMyth commented on #15162
I'm first using sharding-jdbc,  please forgive me...

[2022-01-30 00:54] strongduanmu commented on #15162
Hi @LostMyth, If you are using Sharding-JDBC for a new project, I recommend you go straight to version 5.0.0. The new API is easier to understand and use.

[2022-01-30 01:55] strongduanmu commented on #15140
Fixed by #15189.

[2022-01-30 01:55] #15140 closed

[2022-01-30 03:08] shankeerthan-kasilingam commented on #15185
Hi @zjcnb,
I'd like to pickup this issue.

[2022-01-30 03:20] strongduanmu commented on #15185
@shankeerthan-kasilingam Welcome, I just assign this issue to you.

[2022-01-30 03:28] zzs52 commented on #15201
Can i try?

[2022-01-30 03:28] zzs52 commented on #15199
Can i try?

[2022-01-30 04:06] shankeerthan-kasilingam commented on #14246
@strongduanmu Could you please check the [PR](https://github.com/apache/shardingsphere/pull/15203) and let me know if any improvements or changes to be done?

[2022-01-30 04:18] #14246 closed

[2022-01-30 05:13] TeslaCN opened #15206 "The status transaction failed is not return from PostgreSQL ReadyForQuery as expected"
## Bug Report

### Which version of ShardingSphere did you use?
master - 0dcf5c621f93ce0b2f185c234cbb97159da2ec39

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
PostgreSQL Proxy

### Expected behavior

Transaction failed when error occurred, which required client do rollback explicitly.

[code]

### Actual behavior

[code]

[2022-01-30 05:19] RaigorJiang commented on #15083
Hi @dragonorant , I have used enums in my project and no similar problem has occurred. Can you provide a demo (on GitHub) to reproduce the issue?

[2022-01-30 05:39] #15191 closed

[2022-01-30 05:42] strongduanmu commented on #15199
@zzs52 Of course.

[2022-01-30 05:42] strongduanmu commented on #15201
@zzs52 Assigned.

[2022-01-30 05:56] #15206 closed

[2022-01-30 06:29] TeslaCN opened #15209 "Tests may failed in shardingsphere-sharding-core"
## Bug Report

### Which version of ShardingSphere did you use?

master - 65abf4fbc20ed9641734acaaf7284e55942ad26d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior

All tests succeeded.

### Actual behavior

The tests were updated in #15195 recently.

https://github.com/apache/shardingsphere/runs/4995218788?check_suite_focus=true

[2022-01-30 06:35] RaigorJiang commented on #14826
Hi @userkdg
Is your problem still there? Can it be reproduced?

[2022-01-30 08:38] JiekerTime commented on #15089
I roughly sorted out the problem and will update the detailed issue according to the continuing task.

[2022-01-30 13:25] #14661 closed

[2022-01-30 13:32] terrymanu opened #15214 "Add test case for ContextManagerBuilderParameter.isEmpty()"

[2022-01-30 14:11] terrymanu opened #15217 "Add test case for MetaDataPersistService.getEffectiveDataSources()"

[2022-01-31 04:31] terrymanu opened #15223 "Add test case for YamlProxyDataSourceConfigurationSwapper"

[2022-01-31 19:25] art-yang commented on #15223
Hi, I want to do it.

[2022-02-01 13:36] menghaoranss commented on #15223
@art-yang welcome

[2022-02-01 13:37] #15201 closed

[2022-02-02 13:24] TeslaCN commented on #15209
No volunteer? Let me fix this.

[2022-02-02 23:04] #15209 closed

[2022-02-03 10:48] homeway88 commented on #15160
I figured out the reason of this case is because missing table metadata of newly created table. So I solve this problem with  these two steps:
* first , use sharding JDBC to create real tables. so I change ddl sql into this:
[code]
* second, change h2 database to mysql mode. So the meta data of the table can be loaded.
[code]

[2022-02-03 10:48] #15160 closed

[2022-02-04 12:06] TeslaCN opened #15244 "AopProxyUtils cause Java 17 CI failed"
## Bug Report

### Which version of ShardingSphere did you use?
Since #15238

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior

### Actual behavior

https://github.com/apache/shardingsphere/runs/5048779550?check_suite_focus=true

[code]

### Reason analyze (If you can)

[code]

[2022-02-05 01:33] #15244 closed

[2022-02-05 03:50] shankeerthan-kasilingam commented on #15186
Hi,
If it's open, can i try this?

[2022-02-05 04:09] yx9o commented on #15186
@shankeerthan-kasilingam Welcome.

[2022-02-05 07:24] #15185 closed

[2022-02-06 06:27] #15223 closed

[2022-02-06 06:32] #15199 closed

[2022-02-06 08:29] LostMyth commented on #15162
Thank you for your suggestion.

[2022-02-06 08:30] LostMyth commented on #15162
Thank you for your suggestion. I'll try it.

[2022-02-06 10:46] pjfanning opened #15259 "upgrade snakeyaml due to CVE"
## Bug Report

https://mvnrepository.com/artifact/org.yaml/snakeyaml

The CVE is for an entity expansion vulnerability

[2022-02-06 10:50] pjfanning opened #15261 "upgrade logback due to cve"
## Bug Report

https://mvnrepository.com/artifact/ch.qos.logback/logback-core

[2022-02-06 11:38] pjfanning opened #15263 "upgrade groovy due to cve"
## Bug Report

https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-infra-common/5.0.0

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-17521

[2022-02-06 13:07] linghengqian commented on #15263
CVE exists in the xstream version of Apache Groovy 4.0.0 too. How about updating the LICENSE and upgrading the Groovy indy jar to 4.0.0?🤔

[2022-02-06 13:20] pjfanning commented on #15263
@linghengqian xstream appears to be an optional dependency of groovy - so unless shardingsphere adds xstream itself, xstream will not be fetched as a transitive dependency of shardingsphere

[2022-02-06 14:36] pjfanning opened #15265 "upgrade bouncycastle due to cve"
## Bug Report

https://github.com/pjfanning/shardingsphere/security/dependabot/pom.xml/org.bouncycastle:bcprov-jdk15on/open

[2022-02-06 15:04] #15263 closed

[2022-02-06 15:04] #15261 closed

[2022-02-06 15:31] yx9o opened #15268 "`Proxy ` startup error: Java lang.ClassCastException"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Normal operation.

### Actual behavior
![image](https://user-images.githubusercontent.com/12792261/152687904-ce9c8e3a-8230-4048-bc14-04b0a841dcb2.png)

### Reason analyze (If you can)
![image](https://user-im

[2022-02-06 16:16] #15268 closed

[2022-02-06 22:27] pjfanning opened #15271 "upgrade postgres driver due to security issue"
## Bug Report

https://github.com/advisories/GHSA-v7wg-cpwc-24m4

[2022-02-07 02:25] #15271 closed

[2022-02-07 02:27] #15265 closed

[2022-02-07 07:23] lanchengx opened #15275 "[DistSQL] Add a syntax `COUNT INSTANCE RULES`"
Hi community,
this issue is for a new DistSQL syntax.

**Background**

So we intend to provide a syntax for querying all rules in an instance.

**Aim**

| feature  |type  | count
| ----     | ---- |---- |
| single_table |table |  2  |
| sharding     |sharding_table |  2  |
| sharding |binding_table |  1  |
| sharding |broadcast_table |  0  |
| readwrite_splitting |datasource |  1  |
| db_discovery

[2022-02-07 07:58] linghengqian opened #15277 "Upgrade Groovy to support using Lambda in row expressions"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Maybe related to https:/

[2022-02-07 10:38] PingFeng233 commented on #15090
I tried to use proxy version 4.1.1 and then the result is correct. Just can't connect through Navicat but it's ok to connect through psql.

[2022-02-07 10:38] #15090 closed

[2022-02-07 10:44] liweiye123 opened #15280 "shardingJdbc5.0.0版本文档,用户手册->使用spring boot starter 规则配置中table_inline和database_inline下划线有问题"
shardingJdbc5.0.0版本文档,用户手册->使用spring boot starter 规则配置中table_inline和database_inline下划线有问题
需要改成table-online和database-inline

[2022-02-07 13:07] #15280 closed

[2022-02-07 15:28] linghengqian commented on #15277
I'm not sure if ShardingSphere has a child component that uses Java 7, and if it does, it clearly shouldn't be upgraded to Groovy V3.

[2022-02-08 00:47] #14912 closed

[2022-02-08 06:17] menghaoranss commented on #15051
@csonezp there are only `OK` and `CIRCUIT_BREAK` status for ShardingSphere now, when execute DistSQL `enable / disable instance ip=xxx,port=xxx` , the method switchInstanceState will be called. please refer to [DistSQL RAL](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/ral/)

[2022-02-08 07:29] guoyzh opened #15289 "start sharding-proxy error"
![image](https://user-images.githubusercontent.com/19571804/152938339-5eeccc16-fe31-42b1-af13-82db289c2e46.png)
**server.yaml**
[code]

**config-sharding.yaml**
[code]

[2022-02-08 08:48] sandynz opened #15290 "Support ShardingSphereDataSource initialization with XA disabled"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, when creating a new `ShardingSphereDataSource`, XA is enabled by default, XA feature will be initialized. Scaling will create new `ShardingSphereDataSource`, but XA is not necessary for scaling, it's better to disable XA for scaling for better performance and avoid possible

[2022-02-08 08:51] menghaoranss commented on #15289
which version did you use?

[2022-02-08 08:58] guoyzh commented on #15289
5.0.0

[2022-02-08 09:15] sandynz opened #15291 "Do data consistency check on only one proxy node in proxy cluster for every scaling job"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, `FinishedCheckJob` which is used to check scaling jobs completion and continue next process, `FinishedCheckJob` will be started in every proxy node, it's not necessary to do it, it's better to do some improvement:
1. Do data consistency check on only one proxy node in proxy

[2022-02-08 10:39] csonezp commented on #15217
I would like to contribute in this issue, please assign it to me

[2022-02-08 10:43] strongduanmu commented on #15217
@csonezp Welcome.

[2022-02-08 11:15] pjfanning opened #15295 "update example dependencies due to cves"
## Bug Report

https://github.com/apache/shardingsphere/blob/master/examples/pom.xml has a number of old dependencies

dependencies with cves:
* https://mvnrepository.com/artifact/mysql/mysql-connector-java
* https://github.com/advisories/GHSA-v7wg-cpwc-24m4 (postgresql)
* https://mvnrepository.com/artifact/junit/junit
* https://mvnrepository.com/artifact/org.mybatis/mybatis
* https://mvnrepositor

[2022-02-08 11:20] jiangtao69039 commented on #15214
can be assigned to me

[2022-02-08 11:24] strongduanmu commented on #15214
@jiangtao69039 Welcome, I just assign this issue to you.

[2022-02-08 13:00] terrymanu commented on #15277
ShardingSphere just for jdk 1.8 and above

[2022-02-08 13:01] terrymanu commented on #15277
maybe we can try to upgrade groovy version，this is so cool

[2022-02-09 02:06] linghengqian commented on #15277
I submitted a PR to deal with this issue, not sure if it will affect some untested components of a series of projects in ShardingSphere Example, maybe I'll have to wait for more responses.

[2022-02-09 02:10] #15051 closed

[2022-02-09 02:45] guoyzh commented on #15289
After modification, it is still the same error. Can you provide a complete configuration file first

[2022-02-09 02:52] TeslaCN commented on #15289
Your `server.yaml` is also malformed. Try the following
[code]

[2022-02-09 03:10] guoyzh commented on #15289
![image](https://user-images.githubusercontent.com/19571804/153114572-e9440017-05be-4fd4-bc50-9d9c357922a4.png)
after change yml

[2022-02-09 03:24] CrackerSuperior commented on #15289
What is your ```mode``` configuration?

[2022-02-09 03:25] guoyzh commented on #15289
[code]

[2022-02-09 03:34] lanchengx commented on #13876
Fixed in https://github.com/apache/shardingsphere/pull/14930

[2022-02-09 03:34] #13876 closed

[2022-02-09 04:07] TaoTaos068 commented on #15275
I would like to contribute in this issue, please assign it to me

[2022-02-09 04:35] #15277 closed

[2022-02-09 04:46] strongduanmu commented on #15275
@TaoTaos068 Welcome.

[2022-02-09 04:47] kokorodo opened #15305 "shardingsphere 4.1.1 与 mybatis plus 3.4.2 整合分页的问题。"
sharding4.1.1在结合mybatis plus的时候，list方法有跑真实表，但是page方法直接走逻辑表，一般是什么原因？

问题描述：
     我的order 表做了分片设置为 actual-data-nodes: ds1.order_$->{["default","111111"]}, 然后我用mapper中的list查询的时候，我看到sharding的语句就有 select * from order_default 和 select * from order_111111， 但是用 page 方法查询分页的时候，因为有一个先查询total的方法，所以看到的语句是 select count(*) from order ， 为什么是走 order ，而没有走 order_default 和 order_111111 这两个？

[2022-02-09 05:19] RaigorJiang commented on #15305
Hi @kokorodo,
for English only, please translate this issue, thank you.

[2022-02-09 05:31] RaigorJiang opened #15308 "`RESET SCALING jobId` parse error when use PostgreSQL."
We have a DistSQL syntax definition:
[code]

For example:
[code]

But when use PostgreSQL, it conflicts with the parsing of `resetParameter`:
![image](https://user-images.githubusercontent.com/5668787/153127791-d7372a52-4a1d-4d3b-83c5-7a4cac1534e4.png)

[2022-02-09 05:35] #15214 closed

[2022-02-09 06:15] strongduanmu opened #15311 "SQL parse engine can't support mysql JSON_VALUE return type syntax"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/a8bc025f2d524bf84f32c5a3f642be0050e8821a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute sql `SELECT  * FROM inventory  WHERE JSON_VALUE ( items, '$.name' RETURNING CHAR ( 50 ) ) = "hat"` successfully

###

[2022-02-09 06:35] ReyYang commented on #15290
can i take this? thx

[2022-02-09 06:35] ReyYang commented on #15291
can i take this? thanks

[2022-02-09 06:43] dragonorant commented on #15083
hi @RaigorJiang
Here is my project address
[code]
Here are the test cases
[code]

[2022-02-09 06:43] #15308 closed

[2022-02-09 06:59] #15305 closed

[2022-02-09 07:01] TeslaCN opened #15314 "Oracle JDK 11.0.13 removed JVMCI cause Proxy startup failed"
## Bug Report

### Which version of ShardingSphere did you use?
After #15107

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Proxy startup succeeded.

### Actual behavior
[code]

### Reason analyze (If you can)
Related to https://www.oracle.com/java/technologies/javase/11-0-13-relnotes.html#JDK-8267704

[2022-02-09 07:39] guoyzh commented on #15289
The final problem is: GZ the Lib folder jar package does not have a suffix after decompression on the windows platform

[2022-02-09 07:39] #15289 closed

[2022-02-09 07:45] #15311 closed

[2022-02-09 08:16] RaigorJiang commented on #15083
@dragonorant OK, I'll check it later.

[2022-02-09 08:31] dragonorant commented on #15083
@RaigorJiang  感谢

[2022-02-09 09:49] #14508 closed

[2022-02-09 10:07] #15314 closed

[2022-02-09 14:25] linghengqian opened #15327 "ShardingSphere incorrectly handles table `INFORMATION_SCHEMA` for H2Database 2.X"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-10 03:08] tuichenchuxin commented on #15327
This sql is to load tables and columns from database.
But the sql can't be used in H2database 2.X.
Maybe we need to use different sql according to different versions.
Btw, it can work normally. because when the dialect load has error, then we'll use default load.

[2022-02-10 05:20] #15186 closed

[2022-02-10 05:39] LeeGuoPing commented on #15169
@RaigorJiang Is it belong to RAL or RQL, I see both them has show ***

[2022-02-10 06:09] TeslaCN commented on #15134
Hi @dissdic
Could you provide more informations and show us how to reproduce your problem? I can hardly understand your problem from your brief descriptions.

[2022-02-10 07:06] soulasuna opened #15334 "Enum type function not supported by PostgreSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-10 07:07] RaigorJiang commented on #15169
@LeeGuoPing
The query of schema rules should in RQL.
Queries in RAL are global rules and global configurations.

[2022-02-10 08:03] #15162 closed

[2022-02-10 09:10] soulasuna opened #15338 "BigDecimal type not supported by PostgreSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-11 03:19] Glowdable opened #15349 "When will the version 5.1.0 be pushed to the maven central repository？"
When will the version 5.1.0 be pushed to the maven central repository？

[2022-02-11 06:44] #15334 closed

[2022-02-11 06:51] dissdic commented on #15134
I'm sorry ,it's my fault,I mean when I use spring-boot-starter-jdbc for interaction with Database.unlike other frameworks like mybatis, we may obtain Connection instance and PreparedStatement instance manually and use them to execute SQL directly.In shardingsphere,the implementation of&nbsp; PreparedStatement interface that we usually use is ShardingspherePreparedStatement which is also a subclass

[2022-02-11 08:32] AngeLoidYun opened #15355 "Mysql parse SQL exception"
I got an error when i execute sql bellow:
```SELECT a.maxvalue from example a where a.id = '2'```

error message:
[code]

I try to wrap maxvalue with '\`'  it works .
```SELECT a.`maxvalue` from example a where a.id = '2'```

but the first sql execute success in all other sql executors. i think this is a bug.

### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? Sh

[2022-02-11 08:35] TeslaCN commented on #15355
Hi @AngeLoidYun
`a=.id` or `a.id`?

[2022-02-11 08:40] vivek579 opened #15356 "How to execute DML queries on sharded table"
## How to execute DML queries on sharded table

Executing DML queries with flyway is supported ?

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/docu

[2022-02-11 08:41] vivek579 commented on #15356
Using

[2022-02-11 08:53] AngeLoidYun commented on #15355
@TeslaCN sorry , ```a.id```

[2022-02-11 09:12] TeslaCN opened #15358 "There are many redundant overhead when creating DMLStatementContext"
## Feature Request

### Is your feature request related to a problem?
Related to performance issue.

### Describe the feature you would like.
When executing SQL with prepared statement, the `SQLStatement` is unchanged. But some logic in the following classes will be executed every time executing the same prepared statement, even the results of most calculations are same.
- org.apache.shardingspher

[2022-02-11 09:27] strongduanmu commented on #14282
When I use follow unit test to test FirstSQLTrafficAlgorithm, I found the result is wrong.

[code]

The executed sql is not same with actual sql.

<img width="1210" alt="image" src="https://user-images.githubusercontent.com/10829171/153566892-259651fa-25e9-4115-a94e-ce01dd26e2a2.png">

[2022-02-11 09:39] menghaoranss commented on #15349
The version 5.1.0 is voting. You can follow the [mailing-list](https://lists.apache.org/thread/34pyky29qw4p8knh2wzh02xhp3d7bcro) to get the latest progress

[2022-02-11 11:45] zjcnb commented on #15152
@anonymous-lj Hi, Can you provider your CustomSharding class?

[2022-02-11 13:35] #13821 closed

[2022-02-11 16:48] #15018 closed

[2022-02-11 17:44] terrymanu opened #15371 "Integrate test for jdbc:shadow -> h2 test cases cannot run."
Integrate test for jdbc:shadow -> h2 test cases cannot run.
The `init.sql` file is missing, but MySQL and PostgreSQL is ok.

Please finish the `init.sql` of h2.

Please run all test cases in `shardingsphere-integration-test-suite` module to reproduce the issue.

Just update `engine-env.properties` to below before you run test cases:

[code]

Error message are:

[code]

[2022-02-12 02:38] LeeGuoPing commented on #15371
May I have a try

[2022-02-12 02:56] totalo commented on #15371
Welcome

[2022-02-12 06:29] LeeGuoPing commented on #15371
@terrymanu I found that There are `h2 `and `mysql `in yaml under h2 folder, Is it right? I think we should use `H2 `better

![image](https://user-images.githubusercontent.com/35389145/153699950-be591ab6-f882-4bc3-a447-5b52f7e14da8.png)

[2022-02-13 04:35] #15371 closed

[2022-02-13 08:18] git-chenhao opened #15388 "ShardingSphere-Proxy Occasionally discard commit&rollback operations"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-Alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
transaction normal commit&rollback

### Actual behavior
app-ssproxy execute commit&rollback but ssproxy not execute commit&rollback to db （Happens ocasionally）

### Reason analyze (If you can)
sorry ~

#

[2022-02-13 14:23] RaigorJiang commented on #15356
ShardingSphere-JDBC is based on JDBC for logical processing, and theoretically supports any ORM and JDBC-based SQL client.
As for your question about flyway, the description is too simplistic, can you provide more information? How would you like to use it? What kind of SQL is executed? Any concerns?

[2022-02-13 15:01] TeslaCN commented on #15388
@git-chenhao
The ShardingSphere has a lot of enhancements about transaction after 5.0.0-alpha. It's hard to confirm the issue of a legacy version if we don't know how to reproduce it.

[2022-02-14 01:58] anonymous-lj commented on #15152
`public class CustomSharding implements StandardShardingAlgorithm<Comparable<?>> {

    @Override
    public void init() {
    }

    @Override
    public String getType() {
        return "custom-sharding";
    }

    @Override
    public String doSharding(Collection<String> availableTargetNames, PreciseShardingValue<Comparable<?>> shardingValue) {
        return "api_flow";
    }

    @Override

[2022-02-14 02:10] #15169 closed

[2022-02-14 03:37] TeslaCN commented on #15355
Hi @tuichenchuxin Could you help us check this issue?

[2022-02-14 03:41] strongduanmu opened #15396 "Because `sks-keyservers.net` is not maintained, we need to update release document"
When I vote for release, I get the error when I execute `gpg --keyserver hkp://pool.sks-keyservers.net --send-key 2C0A2E1684F2F9B8`:

[code]

I do some research in internet, and found that `sks-keyservers.net` is not maintained anymore. So I think we should update release document, and use `keyserver.ubuntu.com` is a good choice.

![image](https://user-images.githubusercontent.com/10829171/1537964

[2022-02-14 03:47] tuichenchuxin commented on #15355
@TeslaCN Ok, I'll fix this.

[2022-02-14 04:01] #15396 closed

[2022-02-14 05:57] happyBluebirds opened #15399 "oracle metadata load error"
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
    <version>5.0.0</version>
</dependency>
### Expected behavior
load success
### Actual behavior
load error
##

[2022-02-14 06:09] strongduanmu commented on #15399
Hi @happyBluebirds, thank you for your feedback, can you try latest 5.1.0 version? I think this bug has been fixed.

[2022-02-14 06:25] happyBluebirds commented on #15399
![image](https://user-images.githubusercontent.com/20511657/153811115-6ab45c26-9265-409a-ad7b-ecb4de85154d.png)
I hope so, but the latest version is still 5.0.0.

[2022-02-14 06:28] strongduanmu commented on #15399
@happyBluebirds Now  5.1.0 is being released, you can use the code of 5.1.0 tag for testing.

[2022-02-14 06:39] RaigorJiang opened #15400 "[Example] A version conflict for spring-core causes example startup to fail"
## Bug Report

### Which version of ShardingSphere did you use?
sharding-spring-boot-mybatis-example, from master branch

### Expected behavior
execution succeed

### Actual behavior
failed to startup
[code]

### Reason analyze (If you can)
In PR #14883, the dependency on `spring-framework`  of example was adjusted:
[code]
Since spring-boot 2.0.9.RELEASE depends on Spring Framework 5.0.13.RELEASE

[2022-02-14 09:41] happyBluebirds commented on #15399
![image](https://user-images.githubusercontent.com/20511657/153838795-a936ba9f-b91f-4ef8-be86-b6c25cb0b5ab.png)

I downloaded the tag of 5.1.0. After local compilation, this problem was not solved.

[2022-02-14 09:42] happyBluebirds commented on #15399
![image](https://user-images.githubusercontent.com/20511657/153839128-8d732dd8-b157-440d-ac86-53119b7dc789.png)

[2022-02-14 09:44] strongduanmu commented on #14282
The traffic rule development task has been completed, so this issue can be closed.

[2022-02-14 09:44] #14282 closed

[2022-02-14 10:06] strongduanmu commented on #15399
@tuichenchuxin Can you help check this issue?

[2022-02-14 10:09] tuichenchuxin commented on #15399
@happyBluebirds This exception occurs because of oracle version.
This exception will not affect the use of shardingSphere.
Because we have default loader to load metadata, when dialect loader has exception.
By the way , can you help to solve this problem by submitting a pr?

[2022-02-14 10:24] jingshanglu opened #15405 "Enhancements to proxy integration narayana"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Background
When using the proxy with narayana, we need to configure the

[2022-02-14 10:29] RaigorJiang commented on #15405
Well, for task 2, `SHOW INSTANCE LIST` can display all instance ids, can it meet the requirements?

[2022-02-14 10:31] jingshanglu commented on #15405
The result of `SHOW INSTANCE LIST` is used to provide the user with the modified value.

[2022-02-14 10:55] menghaoranss commented on #15405
@jingshanglu  the DistSQL to show all instanced is already exists : `SHOW INSTANCE LIST`

[2022-02-14 11:37] #15259 closed

[2022-02-14 11:45] #15400 closed

[2022-02-15 02:02] wsg96321 opened #15411 "Start up for a long time when not in LAN"
version: v4.1.1

total logic table : about 130+
total datasource : about 730+(about 250+ is in other rooms)
total start time cost : about 12 min

We use sharding proxy whith v4.1.1, and there is about 730 datasource mysql, 480 is in the same LAN, 250 is not . The question is when we add a new datasource in config-xxx.yaml , it is nessary to restart sharding-proxy .It cost less than 5s to load 480

[2022-02-15 02:23] RaigorJiang commented on #15411
Hi @wsg96321
The option to consider is:
Upgrade to 5.0.0 and use DistSQL to dynamically add datasources to avoid restarts.

Ref: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/resource-definition/

[2022-02-15 05:26] #15338 closed

[2022-02-15 07:17] menghaoranss commented on #13618
@EAHITechnology @LeeGuoPing thanks for your attention, and this task has passed for too long. I will suspend this issue now.

[2022-02-15 07:17] #13618 closed

[2022-02-15 07:57] wsg96321 commented on #15411
thanks a lot ,I have a try to do it just now. But it still has the same problem althouth it doesn't restart. It costs almost time (50 datasource cost about 5 minutes, I just have a  test  so it is not all database and table ).Then when I add an datasource (other machine room like Europe), the log show it will flush all datasource (about 50+) , So I also have to wait for all datasource reflush for

[2022-02-15 08:15] carteruu opened #15413 "合并m个长度为n的已排序数组的时间复杂度为O(mn(log m))"
合并m个长度为n的已排序数组的时间复杂度为O(mn(log m))，按照原文举的例子，分片数量m为2时，时间复杂度为O(n)，原文并没有问题，只是表述有歧义。
而且一般分片数量都不会很大，基本可以认为是O(n)。

_Originally posted by @[CoderFengZi](https://github.com/CoderFengZi) in https://github.com/apache/shardingsphere/issues/9745#issuecomment-1039961458_

[2022-02-15 08:20] lanchengx opened #15414 "Plan to refactor RAL's executor"
Hi community,

this issue is to refactor RAL's executors;

**current structure**

There are two types of RAL syntax, `advance` and `common`.
`common` is further divided into `set`, `show`, `hint`, `alter`, `drop` and `create` types. Among them, `set`, `show`, `hint` have their own subclasses. details as follows:
[code]

Under this structure, there are the following two problems

- The categories i

[2022-02-15 08:33] carteruu commented on #15413
1

[2022-02-15 08:36] RaigorJiang commented on #15083
@dragonorant
Hello, since your project depends on nacos, but you did not provide the configuration in nacos, I cannot run the demo directly.
However, according to your entity structure, I used MyBatis-Plus combined with ShardingSphere to verify and found the problem.
The `SQLFeatureNotSupportedException` is caused by the operation of MybatisEnumTypeHandler when querying the ResultSet, which can be

[2022-02-15 08:41] #14719 closed

[2022-02-15 09:28] terrymanu commented on #15413
**For English only**, other languages will not accept.

[2022-02-15 09:28] #15413 closed

[2022-02-15 09:50] strongduanmu opened #15419 "Exception occur when execute select statement with traffic rule"
## Bug Report

### Which version of ShardingSphere did you use?

d6cdd82e72b705b2f512ee9240336c8537e33ae0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC and ShardingSphere-Proxy

### Expected behavior

Execute select statement with traffic rule successfully.

### Actual behavior

Exception occur.

![middle_img_v2_6fc895c7-e1ec-4d52-add8-23e7f7faf7

[2022-02-15 09:58] lite-up opened #15420 "App hanging when working with DruidDataSource"
## Bug Report

### Which version of ShardingSphere did you use?
shardingsphere-jdbc-core-spring-boot-starter 5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
I'm currently using `DruidDataSource`, everything works fine.

### Actual behavior
However, if these below conditions being met:
1. `sharding-jdbc.max-connections-si

[2022-02-15 10:04] RaigorJiang commented on #15411
The `metadata loading` is being continuously optimized, 5.1.0 will be released soon, you can try the new version later.

[2022-02-15 10:56] ruoyang-pin commented on #14550
I also encountered the same problem. The catalog passed in when getting the actual table name is logic_db, so the physical table name cannot be obtained.

[2022-02-15 11:07] #12498 closed

[2022-02-15 11:13] menghaoranss commented on #12872
@tulikavijay I just assign this issue to you, look forward to your pull request.

[2022-02-15 11:19] #12873 closed

[2022-02-15 15:32] zjcnb opened #15426 "`ShardingSphereResource` not sync between Proxy Cluster."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`SHOW SCHEMA RESOURCES from readwrite_splitting_db has some response.`

### Actual behavior

[code]

### First Proxy Configuration

`server.yaml`

[code]

`config-sharding.yaml`

[code]

### Second Proxy Configuratio

[2022-02-16 00:23] #15419 closed

[2022-02-16 00:25] strongduanmu opened #15429 "NullPointerException occur when rewrite parameter with schema base EncryptAlgorithm"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/e447cd9955015cc35ce2aed3af37b2621d4a68d6

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute `insert into t_user(name, age, phone, id_card) values (#{name}, #{age}, #{phone}, #{idCard})` successfully.

### Act

[2022-02-16 01:18] wsg96321 commented on #15411
Looking forward to 5.1.0 version . But I think `metadata loading` is not the major problem. Although we maybe can optimized the metadata loading less than 1s, it also needs to cost many time to create TCP connection for jdbc init ? So I think the major problem is how to init jdbc connection parallel, and how to reuse the same datasource IP and Port but different database . Otherwise, it will cost

[2022-02-16 01:43] #15429 closed

[2022-02-16 02:46] terrymanu opened #15432 "Run PostgreSQL IT test throw exception"
When run PostgreSQL IT test cases, the exception throw:

[code]

[2022-02-16 02:53] luodadaRyan commented on #15152
Hi, is there a temporary solution? I also have such a problem.

[2022-02-16 02:56] #14613 closed

[2022-02-16 02:57] menghaoranss commented on #15432
I will follow up.

[2022-02-16 03:13] yy2so commented on #12206
Hi @Muhammadwasi would you still like to contribute and resolve this issue?

[2022-02-16 03:16] yy2so commented on #12171
Hi @clbigdata would you still like to contribute and resolve this issue?

Please share a status update with the community, thank you.

[2022-02-16 03:17] yy2so commented on #12170
Hi @schrosolver would you still like to contribute and resolve this issue?

Please share a status update with the community, thank you.

[2022-02-16 03:19] susongyan commented on #10964
may i take part of tasks ?  @jasaroya @tristaZero

[2022-02-16 03:30] strongduanmu commented on #10964
@susongyan Of course, you can declare subtasks that you want to accomplish.

[2022-02-16 03:36] jmbkeyes commented on #13550
not fix in 5.1.0

[2022-02-16 04:16] #15295 closed

[2022-02-16 04:42] zjcnb commented on #15152
I 'm checking

[2022-02-16 06:28] zjcnb commented on #15152
@anonymous-lj Hello, i think your configuration has mistakes, your sql is `select * from api_wallet where id = ? for update`. But your configuration `logic table ` is `api_flow`.

[2022-02-16 06:33] anonymous-lj commented on #15152
I didn't api_wallet table configure as sharing，that should have no impact，Why do you report an error

[2022-02-16 06:43] zjcnb commented on #15152
Yes, you are right. But i can't recurrent it.

### My configuation
[code]

### My sql

[code]

### CustomSharding class

[code]

<img width="1808" alt="image" src="https://user-images.githubusercontent.com/33742097/154210458-7a376ee0-8bba-45ac-8f39-d8fd58fc7c69.png">

Maybe your can provider a demo project?

[2022-02-16 06:47] anonymous-lj commented on #15152
This anomaly can only be detected during pressure test，Moreover, I involve multiple service calls, and the simple pressure test has no impact

[2022-02-16 07:00] zjcnb commented on #15152
Okay, i will keep following

[2022-02-16 07:24] zjcnb commented on #14916
Fixed, refer to : #15404

[2022-02-16 07:24] #14916 closed

[2022-02-16 08:35] schrosolver commented on #12170
Thanks for reaching out. Sorry for the delay.
With my current bandwidth and commitments I might not be able to work on this until sometime. Please reassign this task to someone else.

[2022-02-16 08:48] wjf870128 opened #15442 "[DistSQL]CREATE SHARDING TABLE RULE report syntax"
shardingsphere-proxy : 5.1.0
DistSQL step:
1）CREATE SHARDING KEY GENERATOR snowflake_key_generator (TYPE(NAME=SNOWFLAKE));
2）CREATE SHARDING ALGORITHM database_inline (
TYPE(NAME=inline,PROPERTIES("algorithm-expression"="ts_${user_id % 4}"))
);
3）CREATE SHARDING ALGORITHM table_inline (
TYPE(NAME=inline,PROPERTIES("algorithm-expression"="t_order_${order_id % 4}"))
);
4）CREATE SHARDING TABLE RULE t

[2022-02-16 10:33] pandatop opened #15447 "Upgrade 5.1.0 to start reporting NullPointException"
version:5.1.0
sharding-jdbc
problem description:
I upgraded from 5.0.0 to 5.1.0. After the project is started, a NullPointException occurs when checking the read-write configuration, but I don't know what the type of the read-write configuration is. There is no relevant example on the official documentation.

![image](https://user-images.githubusercontent.com/86768666/154245835-195f192e-9b7a-499a-

[2022-02-16 11:17] menghaoranss commented on #15432
the error log is printed by `com.zaxxer.hikari.pool.ProxyConnection` in HikariCP

[2022-02-16 11:59] susongyan commented on #10964
i'd like to try rewriters first, many thanks

- [ ]  EncryptAssignmentParameterRewriter
- [ ]  EncryptInsertOnDuplicateKeyUpdateValueParameterRewriter
- [ ]  EncryptInsertValueParameterRewriter
- [ ]  EncryptPredicateParameterRewriter

[2022-02-16 12:22] #15432 closed

[2022-02-16 12:32] ionauq opened #15451 "shardingsphere-jdbc with jdbcTemplate.update() throw null exception"
## Question

when i use `shardingsphere-jdbc-core` `5.0.0` with  `JdbcTemplate.update()` in readwrite-splitting mode, the  `keyHolder` return null.

example:

[code]

![image](https://user-images.githubusercontent.com/4327765/154261641-b06ba707-8860-4c1f-8552-c27b643de862.png)

![image](https://user-images.githubusercontent.com/4327765/154264243-e8c149ec-5062-4f62-b75d-aeb356f9ae2e.png)

The progr

[2022-02-16 15:09] terrymanu opened #15454 "DML and BatchDML run together may throw exception in PG test if use WaitStrategy only"
DML and BatchDML run together may throw exception in PG test if use WaitStrategy only.

So we need to add execute() method to try to connect PG, it is better to remove it and use WaitStrategy only.

[2022-02-17 00:26] strongduanmu commented on #15451
Hi @ionauq, thank you for your feedback. It looks like a bug, I will investigate this issue.

[2022-02-17 00:57] strongduanmu commented on #15451
Hi @ionauq, I have tested with PreparedStatement and generatedKeys are fetched normally. I'm not very familiar with JdbcTemplate, does it depend on the columnName field? If you can provide a demo, I believe the problem will be solved quickly.

[2022-02-17 02:26] lanchengx commented on #15442
@wjf870128 Thanks your feedback, 5.1.0 The syntax has been adjusted, `GENERATED_KEY` has been replaced with `KEY_GENERATE_STRATEGY`, please refer to https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl /rule-definition/sharding/

[2022-02-17 03:11] wjf870128 commented on #15442
Thanks,that's ok!

CREATE SHARDING TABLE RULE t_order (
DATANODES("ts_${0..3}.t_order_${0..3}"),
DATABASE_STRATEGY(TYPE=standard,SHARDING_COLUMN=user_id,SHARDING_ALGORITHM=database_inline),
TABLE_STRATEGY(TYPE=standard,SHARDING_COLUMN=order_id,SHARDING_ALGORITHM=table_inline),
KEY_GENERATE_STRATEGY(COLUMN=id,KEY_GENERATOR=snowflake_key_generator)
);

[2022-02-17 03:15] shankeerthan-kasilingam commented on #15454
Can I try this issue?

[2022-02-17 03:16] #15442 closed

[2022-02-17 03:18] yx9o commented on #15454
@shankeerthan-kasilingam Welcome.

[2022-02-17 03:32] secondchilde opened #15460 "sql by nested queries and group by ,Prompt table does not exist , Table splitting failed"
## sql by nested queries and group by  ,Prompt table does not exist , Table splitting failed
sharding version : 4.1.1
Slice table : t_scan_task_number
Slice key : store_id

when i exectuor this sql :

select count(1) from (
        SELECT
        store_id,DATE_FORMAT(scan_time,"%Y%m"),distributor_id
        FROM。t_scan_task_number
        WHERE 1=1
    and scan_time >= DATE_FORMAT('2022-02-01 00:0

[2022-02-17 03:47] strongduanmu commented on #15460
Hi @secondchilde, thank you for your feedback. But version 4.1.1 does not support subqueries, if you want to use subqueries, please upgrade to version 5.1.0.

[2022-02-17 04:27] ionauq commented on #15451
thanks.  I write a simple demo.

 [shardingJdbcDemo](https://github.com/ionauq/shardingJdbcDemo)

[2022-02-17 04:53] strongduanmu commented on #15451
@ionauq Thank you, I will check it again.

[2022-02-17 05:50] soulasuna commented on #12720
I will try this issues.

[2022-02-17 05:51] TeslaCN commented on #12720
@soulasuna Welcome.

[code]

In `psql`, we can cancel request by Ctrl-C. I wonder if we can do this in proxy.
[code]

[2022-02-17 06:33] ReyYang commented on #14721
can i take it? thanks

[2022-02-17 07:37] sandynz opened #15467 "Show detailed error message in `show scaling status jobId` DistSQL when error occurs in scaling job"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, when scaling job failure occur, we could not find detailed error message via DistSQL, check error log is required for now.

Improved solution:
Show detailed error message in DistSQL `show scaling status {jobId}`.

Current DistSQL columns:
[code]

A new column named `error`

[2022-02-17 07:38] secondchilde commented on #15460
I tried. Version 5.1.0 is really OK. Thank you

[2022-02-17 08:04] sandynz opened #15468 "Show estimated finished inventory records count and incremental events count in `show scaling status jobId` DistSQL"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, we could just query rough progress from `show scaling status jobId` DistSQL result, which includes `inventory_finished_percentage`. It's not enough if users want to check detailed progress.

Improved solution:
Show estimated finished count in `show scaling status jobId` Dis

[2022-02-17 08:07] #15451 closed

[2022-02-17 08:15] strongduanmu commented on #15451
Hi @ionauq, can you help test this problem with master branch? You can execute `mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -Dmaven.test.skip=true -Prelease -T 1C` on your machine.

[2022-02-17 08:15] RaigorJiang commented on #15349
5.1.0 has been released:
Download Links:
https://shardingsphere.apache.org/document/current/en/downloads/
Release Notes:
https://github.com/apache/shardingsphere/blob/master/RELEASE-NOTES.md

[2022-02-17 08:16] #15349 closed

[2022-02-17 08:16] strongduanmu commented on #15460
@secondchilde Thank you for testing. Can we close this issue now?

[2022-02-17 08:32] zjcnb opened #15469 "Proxy use `database-discovery` feature not persist storage node"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Persist `storage node` in `Zookeeper`

### Actual behavior

No Persist `storage node`

<img width="204" alt="image" src="https://user-images.githubusercontent.com/33742097/154436360-28445c3c-35f2-4f1e-b728-3c5308efb1

[2022-02-17 09:50] ionauq commented on #15451
It's so efficient!  The test passed under my use case. Thanks!!!
When will the next stable version be released?

[2022-02-17 09:55] strongduanmu commented on #15451
@ionauq I'm very sorry, as 5.1.0 has just been released, the next version may take some time. If you rely on this bug fix, consider packaging it yourself.

[2022-02-17 09:57] ionauq commented on #15451
ok, thanks!

[2022-02-17 10:07] Comven commented on #13946
5.1.0 still contains a large number of elastic job jar packages.

![image](https://user-images.githubusercontent.com/8464801/154453319-d94b2729-e556-4d0d-b3a8-acd7814c27fd.png)

[2022-02-17 10:13] #15469 closed

[2022-02-17 11:00] CINDERALL opened #15474 "ds0 and ds1 have tables with the same name. I wanted to select ds0.order, but the result is ds1.order"
[code]
[code]
[code]

ds0 and ds1  have tables with the same name. I wanted to select ds0.order, but the result is ds1.order
![1645093781(1)](https://user-images.githubusercontent.com/9822098/154457991-9c702f4d-4fa0-479f-ad9e-29db23976dfa.jpg)

[2022-02-17 11:41] menghaoranss commented on #15454
@shankeerthan-kasilingam Nice to see you here again.

[2022-02-17 11:43] zjcnb commented on #15474
@qing701 Hi, Thank you for your feedback, i will check.

[2022-02-17 11:46] #15291 closed

[2022-02-17 11:54] zjcnb opened #15477 "Local dataSources and Remote dataSources are different has some error when JDBC start up."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

Get DataSource by Zookeeper

### Actual behavior

[code]

### Reason analyze (If you can)

Maybe `getEffectiveDataSources(final String schemaName, final Map<String, ? extends SchemaConfiguration> schemaConfigs)` not h

[2022-02-17 11:55] pqgj19930708 opened #15478 "分表配置分片规则表名遇到$如何处理？"
最开始是这样配置的
spring.shardingsphere.sharding.tables.coin_$crdnusdt.actual-data-nodes=exchange.coin_$crdnusdt
报找不到crdnusdt这个脚本
之后增加转义$
spring.shardingsphere.sharding.tables.ex_trade_$crdnusdt.actual-data-nodes=exchange.ex_trade_\$crdnusdt
还是报找不到crdnusdt这个脚本
再增加\\$转义后
spring.shardingsphere.sharding.tables.ex_trade_$crdnusdt.actual-data-nodes=exchange.ex_trade_\\$crdnusdt
不报错了。但是
启动日志是下面这样
masterSlaveRul

[2022-02-17 12:16] terrymanu commented on #15478
**For English only**, other languages will not accept.

[2022-02-17 12:16] #15478 closed

[2022-02-17 12:19] terrymanu commented on #15147
SQL parser is necessary procedure. ShardingSphere need the SQL parser module to understand SQL, it is the basic module which can not skip.

[2022-02-17 12:19] #15147 closed

[2022-02-17 12:21] terrymanu commented on #15086
@climy007  Hi, any update?

[2022-02-17 12:21] #15079 closed

[2022-02-17 12:22] terrymanu commented on #15038
Closed because of no response for long time.

[2022-02-17 12:22] #15038 closed

[2022-02-17 12:23] terrymanu commented on #14949
@yage-czy Hi, any updage?

[2022-02-17 12:23] #14888 closed

[2022-02-17 12:26] terrymanu commented on #14854
Closed because of no response for long time.

[2022-02-17 12:26] #14854 closed

[2022-02-17 12:27] terrymanu commented on #14844
Closed because of no response for long time.

[2022-02-17 12:27] #14844 closed

[2022-02-17 12:27] terrymanu commented on #14838
Closed because of no response for long time.

[2022-02-17 12:27] #14838 closed

[2022-02-17 12:27] terrymanu commented on #14826
Closed because of no response for long time.

[2022-02-17 12:27] #14826 closed

[2022-02-17 12:28] terrymanu commented on #14816
Closed because of no response for long time.

[2022-02-17 12:28] #14816 closed

[2022-02-17 12:29] terrymanu commented on #14964
@wl4g Hi, any update?

[2022-02-17 12:30] terrymanu commented on #14976
Closed because of no response for long time.

[2022-02-17 12:31] terrymanu commented on #15000
Closed because of no response for long time.

[2022-02-17 12:31] #15000 closed

[2022-02-17 12:31] terrymanu commented on #15034
Closed because of no response for long time.

[2022-02-17 12:31] #15034 closed

[2022-02-17 12:31] terrymanu commented on #15071
Closed because of no response for long time.

[2022-02-17 12:31] #15071 closed

[2022-02-17 12:32] terrymanu commented on #14731
Closed because of no response for long time.

[2022-02-17 12:32] #14731 closed

[2022-02-17 13:02] RaigorJiang commented on #15411
Hi @wsg96321
version 5.1.0 has been released, you can try it now.

Download Links:
https://shardingsphere.apache.org/document/current/en/downloads/
Release Notes:
https://github.com/apache/shardingsphere/blob/master/RELEASE-NOTES.md

[2022-02-17 14:34] terrymanu commented on #14705
Closed because of no response for long time.

[2022-02-17 14:34] #14705 closed

[2022-02-17 14:35] terrymanu commented on #14724
Closed because of no response for long time.

[2022-02-17 14:35] #14724 closed

[2022-02-17 14:35] terrymanu commented on #14702
Closed because of no response for long time.

[2022-02-17 14:35] #14702 closed

[2022-02-17 14:36] #14654 closed

[2022-02-17 14:36] terrymanu commented on #14580
Closed because of no response for long time.

[2022-02-17 14:36] #14580 closed

[2022-02-17 14:41] terrymanu commented on #14453
Closed because of no response for long time.

[2022-02-17 14:41] #14453 closed

[2022-02-17 14:43] #14425 closed, assigned to nobody

[2022-02-17 14:44] #14261 closed

[2022-02-17 14:45] #14129 closed

[2022-02-17 14:45] terrymanu commented on #14084
No response, I just close it

[2022-02-17 14:45] #14084 closed

[2022-02-18 03:11] #15467 closed

[2022-02-18 03:11] #15468 closed

[2022-02-18 03:46] RaigorJiang commented on #15168
Hi @leedongyang
any update? Did you encounter difficulties?

[2022-02-18 04:34] ruoyang-pin opened #15488 "shardingsphere 5.0.0 version yml configuration is not supported YamlTransactionRuleConfiguration"
![image](https://user-images.githubusercontent.com/82640419/154618140-baf5437d-cd66-4757-9d83-e66a99b356f9.png)

[2022-02-18 05:58] menghaoranss commented on #15477
fixes by #15485

[2022-02-18 05:59] #15477 closed

[2022-02-18 06:12] mykioer opened #15489 "已经配置了sql_show:false参数，为何还会生成stdout.log日志？"
## 在yaml文件中设置了sql_show: false，并且在客户端中查询了show variable sql_show;结果也为false。但是在logs目录仍然在写stdout.log文件，切换至生产环境后，日志量增长太快很快就把磁盘占满了。。。

[2022-02-18 06:40] #13602 closed

[2022-02-18 06:41] RaigorJiang commented on #15488
Hi @ruoyang-pin
Why do you say that, is there any more information?

[2022-02-18 06:50] #15489 closed

[2022-02-18 08:25] leedongyang commented on #15168
@RaigorJiang I am too busy these days. I plan to deal with this issue this weekend.

[2022-02-18 08:41] ynfeng opened #15497 "NPE with flywaydb"
version: 5.1.0

Caused by: java.lang.NullPointerException
	at org.apache.shardingsphere.driver.jdbc.adapter.AdaptedDatabaseMetaData.getDatabaseProductName(AdaptedDatabaseMetaData.java:46)
	at org.flywaydb.core.internal.jdbc.JdbcUtils.getDatabaseProductName(JdbcUtils.java:169)
	at org.flywaydb.core.internal.jdbc.DatabaseType.fromJdbcConnection(DatabaseType.java:68)
	at org.flywaydb.core.internal.jd

[2022-02-18 08:43] jingshanglu commented on #13801
the same with #14550

[2022-02-18 08:45] ynfeng commented on #15497
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&autoReconnect=true&useSSL=false&characterEncoding=UTF8&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    clean-disabled: true
    locations: classpath:db/migration
    table: flyway_schema_history
    baseline-on-migrate: true

[2022-02-18 08:45] strongduanmu commented on #15497
Hi @ynfeng, thank you for your feedback. I'm not familiar with flywaydb, can you dig into the code to see what caused the exception?

[2022-02-18 09:03] ynfeng commented on #15497
In class org.apache.shardingsphere.driver.jdbc.core.datasource.metadata.ShardingSphereDatabaseMetaData line 57, the dataSourcesMetaData was null.
![20220218170208](https://user-images.githubusercontent.com/7802558/154651598-74755e45-dd61-4ab4-93d8-dc69c5c3d8ba.jpg)

[2022-02-18 09:26] RaigorJiang commented on #15168
@leedongyang
Well, no hurry, you can enjoy the process.

[2022-02-18 09:30] ynfeng commented on #15497
Oh, I found the problem. The config in yaml dosen't support this format.
![1](https://user-images.githubusercontent.com/7802558/154655829-83a862a2-4bb9-4be7-9cb9-277aa4419dd5.jpg)
and this is ok.
![2](https://user-images.githubusercontent.com/7802558/154655877-f89ebbae-56cd-4d01-ba73-c9ce8f5a9cf9.jpg)

[2022-02-18 09:35] lanchengx opened #15501 "`scaling is not enabled` exception occurs when executing `ALTER SHARDING TABLE RULE`"
## Bug Report

### Which version of ShardingSphere did you use?

Master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Successfully modified

### Actual behavior

`scaling is not enabled exception` occurs

<img width="1210" alt="image" src="https://user-images.githubusercontent.com/52209337/154654949-8248afe8-3a87-43e2-a76

[2022-02-18 09:45] sandynz commented on #15501
Yes, it's forbidden to alter some sharding rule, since the underlying data is not migrated, if we alter sharding rule, it might cause issue (rule is not consistent with underlying data sharding).
Related issue is #14719.

[2022-02-18 09:51] sandynz commented on #15501
Maybe the error message should be updated, then it's more clear for users to understand it.

[2022-02-18 09:52] RaigorJiang commented on #15501
Hi @sandynz
If the user does not need to use the scaling feature, or has created a sharding rule and has not written data yet, should scaling be configured before it can be used? This looks a little confusing

[2022-02-18 10:25] sandynz commented on #15501
Yes, it could be improved.

If there already has underlying data and to be altered rule would change data sharding, then scaling feature is necessary.
Else, the limit could be passed, but solution is unknown for now. Solution should be different after metadata multi-version is ready.

[2022-02-18 10:37] sandynz commented on #15501
I'll disable the exception for now, until metadata multi-version and solution is ready.

[2022-02-18 10:55] RaigorJiang commented on #15501
I am agree with you.

[2022-02-18 11:33] strongduanmu commented on #15460
Already fixed by version 5.1.0.

[2022-02-18 11:33] #15460 closed

[2022-02-18 12:35] wallacezhou opened #15505 "auto sharding algorithm wrongly finds more than one table, it should find exantly one table"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-18 12:36] wallacezhou opened #15506 "auto sharding algorithm wrongly finds more than one sharding table, it should find exactly one table"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-18 14:31] linghengqian opened #15507 "Add example that implements the Metadata SPI for third-party JDBC pools"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

No.

### Describe the fe

[2022-02-18 17:06] yy2so commented on #12170
Hi @schrosolver thanks for the update. Noted, wie'll reassign.

Hope to see you back in the ShardingSphere community soon.

[2022-02-18 17:21] TeslaCN opened #15510 "QueryHeaderBuilder loaded many fields which are unused by PostgreSQL & openGauss"
## Performance

Related to #10626.

### Is your feature request related to a problem?

The QueryHeaderBuilder loaded many fields which are unused by PostgreSQL & openGauss, whose overhead is a little heavy for PostgreSQL & openGauss.

https://github.com/apache/shardingsphere/blob/9b02bfdaf51a6aee89965e9a1be7de568a1587e5/shardingsphere-proxy/shardingsphere-proxy-backend/src/main/java/org/apache/sha

[2022-02-19 00:14] #15083 closed

[2022-02-19 00:50] RaigorJiang commented on #15083
Hi @dragonorant,
the issue has been fixed in master, you can build and try again.

[2022-02-19 03:19] human-user opened #15511 "Error creating bean `ShardingSphereAutoConfiguration` , No default constructor found"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-JDBC

### Expected behavior

I have use `ApplicationContext.getBeansWithAnnotation(ComponentScan.class)`, it thows `BeanCreationException`. I want to resolve this exception.

### Actual behavior

[code]

### Reason analyze (If you can)

[2022-02-19 09:08] terrymanu opened #15517 "cluster mode often throw exception in IT sometimes"
I just revert all test modes as memory for now.

The class is `ComposedContainerRegistry`.
Modify method `isMemoryMode` to recovery cluster mode for reproduce the error.

[code]

[2022-02-19 14:13] linghengqian commented on #15086
This may be because you added spring's `@Lazy` annotation to ShardingSphere's dataSource class, which would conflict with the current version of ShardingSphere if it didn't handle it properly.

[2022-02-19 15:00] terrymanu commented on #15084
I just set it as `invalid` because of closed by author without any reason.

[2022-02-19 15:02] terrymanu commented on #15447
I just set it as `invalid` because of closed by author without any reason.

[2022-02-19 15:02] #15447 closed

[2022-02-19 15:06] terrymanu commented on #15075
I just set it as `invalid` because of closed by author without any reason.

[2022-02-20 04:26] strongduanmu commented on #15505
Duplicate with #15506.

[2022-02-20 04:26] #15505 closed

[2022-02-20 08:57] RaigorJiang commented on #15505
Hi @wallacezhou
Thanks for your detail report, I will check it.

[2022-02-20 15:46] #15510 closed

[2022-02-20 15:49] terrymanu commented on #11371
Good suggestion, anybody want to do this issue?

[2022-02-20 15:51] #12352 closed

[2022-02-20 15:51] terrymanu commented on #12352
I think the discussion is finished, I just close it

[2022-02-20 15:52] terrymanu commented on #12249
I just close this issue because of so long time without feedback.

[2022-02-20 15:52] #12249 closed

[2022-02-20 15:55] terrymanu commented on #11537
Please shade the dependencies if conflict.

[2022-02-20 15:55] #11537 closed

[2022-02-20 15:55] trycache0905 commented on #11537
您好！    您的邮件已收到，我会尽快处理！谢谢！    顺祝：工作顺利！

[2022-02-20 15:56] terrymanu commented on #11580
Hi, could you provide a pull request to resolve the issue?

[2022-02-20 16:01] terrymanu commented on #12945
I just close the issue because of no feedback for long time.

[2022-02-20 16:01] #12945 closed

[2022-02-20 16:01] terrymanu commented on #13017
I just close the issue because of no feedback for long time.

[2022-02-20 16:01] #13017 closed

[2022-02-20 16:02] terrymanu commented on #13529
I just close the issue because of no feedback for long time.

[2022-02-20 16:02] #13529 closed

[2022-02-20 16:03] terrymanu commented on #13342
I just close the issue because of no feedback for long time.

[2022-02-20 16:03] #13342 closed

[2022-02-20 16:04] terrymanu commented on #13200
I just close the issue because of no feedback for long time.

[2022-02-20 16:04] #13200 closed

[2022-02-20 16:05] terrymanu commented on #13162
I just close this issue because no response for long time.

[2022-02-20 16:05] #13162 closed

[2022-02-20 16:05] terrymanu commented on #13128
I just close this issue because no response for long time.

[2022-02-20 16:05] #13128 closed

[2022-02-20 16:05] #13170 closed

[2022-02-20 16:05] terrymanu commented on #13105
I just close this issue because no response for long time.

[2022-02-20 16:05] #13105 closed

[2022-02-20 16:06] terrymanu commented on #13869
I just close this issue because no response for long time.

[2022-02-20 16:06] #13869 closed

[2022-02-20 16:07] terrymanu commented on #13879
No, SQL parser is the required module of ShardingSphere to understand SQL, it cannot be skipped with any reason.

[2022-02-20 16:07] #13879 closed

[2022-02-20 16:09] terrymanu commented on #13865
I just close this issue because no response for long time.

[2022-02-20 16:09] #13865 closed

[2022-02-20 16:10] terrymanu commented on #13865
I just close this issue because no response for long time.

[2022-02-20 16:10] terrymanu commented on #14077
I just close this issue because no response for long time.

[2022-02-20 16:10] #14077 closed

[2022-02-20 16:12] terrymanu commented on #14118
I just close this issue because no response for long time.

[2022-02-20 16:12] #14118 closed

[2022-02-20 16:12] terrymanu commented on #14136
I just close this issue because no response for long time.

[2022-02-20 16:12] #14136 closed

[2022-02-20 16:12] terrymanu commented on #14242
I just close this issue because no response for long time.

[2022-02-20 16:12] #14242 closed

[2022-02-20 16:12] terrymanu commented on #14251
I just close this issue because no response for long time.

[2022-02-20 16:12] #14251 closed

[2022-02-20 16:12] terrymanu commented on #14327
I just close this issue because no response for long time.

[2022-02-20 16:12] #14327 closed

[2022-02-20 16:13] terrymanu commented on #14350
I just close this issue because no response for long time.

[2022-02-20 16:13] #14350 closed

[2022-02-20 16:13] #14368 closed

[2022-02-20 16:16] terrymanu commented on #8593
DataSourceConfiguration is refactored by 5.0.0, this issue is staled.

[2022-02-20 16:16] #8593 closed

[2022-02-20 16:17] terrymanu commented on #8621
I just close this issue because of no feedback for long time.

[2022-02-20 16:17] #8621 closed

[2022-02-20 16:18] terrymanu commented on #9711
The version 4.x is too old, please try 5.x

[2022-02-20 16:18] #9711 closed

[2022-02-20 16:18] terrymanu commented on #10019
I just close this issue because of no feedback for long time.

[2022-02-20 16:18] #10019 closed

[2022-02-20 16:19] terrymanu commented on #10641
Is anybody interest this issue?

[2022-02-20 16:19] terrymanu commented on #10837
I just close this issue because of no feedback for long time.

[2022-02-20 16:19] #10837 closed

[2022-02-20 16:22] #13762 closed

[2022-02-20 16:22] #13774 closed

[2022-02-20 16:23] terrymanu commented on #13820
I just close it because no response for long time.

[2022-02-20 16:23] #13820 closed

[2022-02-20 16:23] terrymanu commented on #13862
I just close it because no response for long time.

[2022-02-20 16:23] #13862 closed

[2022-02-21 01:16] LeeGuoPing commented on #11371
I want to do it.

[2022-02-21 01:17] LeeGuoPing commented on #11371
Should I add all contributors to readme.md?

[2022-02-21 01:20] strongduanmu commented on #11371
@LeeGuoPing Welcome.

[2022-02-21 02:00] yage-czy commented on #14949
https://gitee.com/contraller/yage-hello/blob/hello-spring-batch&mybatis/yage-demo/src/main/java/org/yage/hello/demo/config/YageEmptyInterceptor.java
我自己重写了jpa的拦截器暂时解决了这个问题，但是我认为这不是一个完美的解决方案，还是希望shardingsphere官方可以兼容这个问题。

[2022-02-21 02:13] jingshanglu commented on #12652
@marker-wu，Do you mean run `xa start/end/commit/rollback` on shardingsphere-proxy?

[2022-02-21 03:02] bjo2008cnx opened #15531 "Could you please replace static version with {revision} variable?"
when the version needs to be updated, we need to modify every pom.xml and then commit TOO MANY files.
Could you please replace version with {revision} variable so that only **ONE** file is required to be modified?

FYI: http://maven.apache.org/maven-ci-friendly.html

Thanks very much.

[2022-02-21 03:09] bjo2008cnx commented on #15531
FYI: https://github.com/apache/dubbo/blob/3.0/pom.xml
steps:
1. add plugin into <build><plugins>...<plugins></build>
<plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>flatten-maven-plugin</artifactId>
                <version>1.1.0</version>
                <configuration>
                    <updatePomFile>true</updatePomFile>
                    <flattenMo

[2022-02-21 03:18] ReyYang opened #15532 "Using Add Resource causes loss of broadcast tables under the /metadata/schemaName/tables"
### Which version of ShardingSphere did you use?
master batch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
 /metadata/schemaName/tables broadcast table metadata exist
### Actual behavior
 /metadata/schemaName/tables broadcast table metadata lost
### Reason analyze (If you can)
It may be because Debug finds
TableMetadataLoadR

[2022-02-21 03:21] ReyYang commented on #15532
before perform distsql
<img width="313" alt="image" src="https://user-images.githubusercontent.com/29473272/154883754-1b2a0dcf-3d7c-4f05-ae35-13e0aad7c293.png">
after perform distsql
<img width="328" alt="image" src="https://user-images.githubusercontent.com/29473272/154883823-dff1aa37-d7c1-4397-9d0f-51c57e058a70.png">

[2022-02-21 03:29] lw613315 opened #15533 "Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource"
## Question

Error creating bean with name 'dataSource'

Could not generate CGLIB subclass of class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource:
Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource

[2022-02-21 03:33] wallacezhou commented on #15506
@strongduanmu

[2022-02-21 03:41] lw613315 commented on #15086
@climy007 Has this problem been solved? I have the same problem.

[2022-02-21 03:46] strongduanmu commented on #15506
Yes, using regex will lead to performance degradation, I will try other ways to fix this today.

[2022-02-21 04:02] Swastyy commented on #15531
Hi @bjo2008cnx , We have already implemented those in PR #13823

[2022-02-21 04:12] Qumans opened #15535 "sharding-jdbc starts too slowly"
### version :5.0.0

###  project : ShardingSphere-JDBC

### Expected behavior：Does not take up too much startup time

### Actual behavior：More than 10,000 tables took two minutes

### Reason analyze (If you can)：
possible code locations：
DatabaseType databaseType = DatabaseTypeRecognizer.getDatabaseType(dataSources.get(each).values());
Local test environment 600 tables took 13 seconds
### Steps to

[2022-02-21 04:43] tuichenchuxin commented on #15535
Can you try 5.1 version？
We have optimized it.

[2022-02-21 04:49] zjcnb commented on #15533
@lw613315  Hi, Can you provide a demo? This problem same to #15086 . I want to know how to reproduce it.

[2022-02-21 05:53] sandynz commented on #11735
`executionGroupContext` is not used in `ExecuteProcessStrategyEvaluator` for now, since `show processlist` feature is not used widely and not compelted totally, so we could keep `executionGroupContext` for now, it might be needed later.

[2022-02-21 05:53] #11735 closed

[2022-02-21 05:53] TeslaCN commented on #15531
@bjo2008cnx We use the maven-release-plugin when releasing.

[2022-02-21 05:58] menghaoranss commented on #15517
I will follow up

[2022-02-21 06:32] strongduanmu opened #15539 "The return result of show tables statement loses part of the single table"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/pull/15496

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The show tables statement returns all table information.

### Actual behavior

Some single table information is not returned.

<img width="678" alt="image" src=

[2022-02-21 06:35] ReyYang opened #15541 "FinishCheckJob cannot do a completion check if the scaling job is incorrect"
### Is your feature request related to a problem?
yes
### Describe the feature you would like.
In the current case, FinishCheckJob is a separate program running, so it will still check the scaling state when the Scaling job fails, and we want to skip the completion check when the Scaling job fails

[2022-02-21 06:42] sandynz commented on #15541
It affect test case, if previous scaling job is successful and target data is not cleaned, then when new scaling job of the same schema is created, it'll be failed since target table is not empty, but FinishCheckJob will pass data consistency check.

[2022-02-21 06:55] linghengqian commented on #15507
Because the Example module looks like it's being refactored, and a number of related issues are being addressed. Therefore, I think this issue should be postponed. (Uncertain about the placement and format of the integration content related to the `JDBC Pools`)

[2022-02-21 06:57] pandatop commented on #13586
but in version 4.1.1, it is support

[2022-02-21 07:01] pandatop commented on #13586
I also have the same problem, But in version 4.1.1 it is supported....

[2022-02-21 07:07] lw613315 commented on #15533
The problem has been solved. Due to configuration error.

[2022-02-21 07:28] LeeGuoPing commented on #15497
May I have a try

[2022-02-21 07:34] Qumans opened #15543 "Sharding-JDBC 5.1.0 startup time is too long"
### Which version of ShardingSphere did you use?

5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Does not take up too much startup time

### Actual behavior

Loading metadata consumes a lot of time

### Reason analyze (If you can)

The amount of metadata is too large, there are about 400,000 pieces, and it is increasi

[2022-02-21 07:47] strongduanmu commented on #15497
@LeeGuoPing Welcome.

[2022-02-21 08:04] wsg96321 commented on #15411
Hi, I have try to use v5.1.0 in about 159 jdbc connection which has 155 is in the same LAN, and other in another machine room .  When I use `ADD RESOURCE ds_xxx(URL="",USER="",PASSWORD="",PROPERTIES="") ; ` to add a new datasource in another machine room, it also need to cost about 5min to init it . I think it doesn't resolve this problem . In proxy's log file , I find HikariPool start a new datas

[2022-02-21 08:21] zjcnb commented on #15533
Please close this issue, thx.

[2022-02-21 08:34] #15533 closed

[2022-02-21 09:07] dragonorant commented on #15083
OK, thanks

[2022-02-21 09:27] #15539 closed

[2022-02-21 09:29] wallacezhou opened #15546 "create auto table sharding rule using DistSQL is not working in 5.1.0"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-21 09:43] lanchengx commented on #15546
@wallacezhou Thanks your feedback. `GENERATED_KEY` was adjusted to `KEY_GENERATE_STRATEGY`,
There was a problem with the documentation when the version was released, and it is being adjusted;
you can refer to the documentation of the master branch first. https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/

[2022-02-21 10:06] wallacezhou commented on #15546
@lanchengx

[2022-02-21 10:10] #15546 closed

[2022-02-21 11:06] strongduanmu commented on #15543
@Qumans Thank you for your feedback. How to understand this sentence? 400,000 tables exist?

[2022-02-21 11:36] zjcnb commented on #15511
@human-user Does it affect normal use if remove `@RequiredArgsConstructor` ?

[2022-02-21 11:47] zjcnb commented on #15488
@ruoyang-pin Hi, are you referring to configuration in springboot project's application.yml file?

[2022-02-21 11:53] ruoyang-pin commented on #15488
yes

---Original---
From: ***@***.***&gt;
Date: Mon, Feb 21, 2022 19:47 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] shardingsphere 5.0.0 version  yml configuration is not supported  YamlTransactionRuleConfiguration (Issue #15488)

@ruoyang-pin Hi, are you referring to configuration in springboot project's application.yml file?

—
Reply to this email

[2022-02-21 11:55] zjcnb commented on #15488
Got it! Maybe support it next release.

[2022-02-21 11:57] ruoyang-pin commented on #15488
thank you

---Original---
From: ***@***.***&gt;
Date: Mon, Feb 21, 2022 19:55 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] shardingsphere 5.0.0 version  yml configuration is not supported  YamlTransactionRuleConfiguration (Issue #15488)

Got it! Maybe support it next release.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage

[2022-02-21 12:02] #15388 closed

[2022-02-21 12:02] TeslaCN commented on #15388
Close due to no response.

[2022-02-21 12:06] RaigorJiang commented on #15411
@wsg96321
Valuable feedback, let's wait for @menghaoranss  to help see if it can be optimized.

[2022-02-21 12:17] linxiaofan commented on #15543
麻烦看下我上面的回复哈

[2022-02-21 12:22] strongduanmu commented on #15543
@linxiaofan First of all, thank you very much for your feedback. Since this is an international project, please translate the message into English so that more people can participate. In addition, we will optimize the scenario you provide, and we will update the issue on the latest optimization progress.

[2022-02-21 12:55] linxiaofan commented on #15543
OK..I look forward to your optimization，thanks.

[2022-02-21 15:19] cheese8 commented on #13508
Please assign it to me, thanks.

[2022-02-21 17:45] ZDG-D opened #15557 "[ShardingSphere-Proxy]Execute batch insertion into the mysql. The execution is successful, but the query has no data."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-22 02:24] bjo2008cnx commented on #15531
get it.  many thanks.

[2022-02-22 02:57] pandatop commented on #14728
My business scenario is to obtain the metadata information of tables and columns through information_schema to generate java entities in reverse. There are many business scenarios that require information_schema. Querying information_schema in version 4.1.1 is supported, but it is no longer supported in 5.0.0. Can you fix this as soon as possible?

[2022-02-22 03:55] lw613315 commented on #15086
@zjcnb

<dependency>
    <groupId>io.opentracing.contrib</groupId>
    <artifactId>opentracing-spring-cloud-jdbc-starter</artifactId>
    <version>0.5.9</version>
</dependency>

The JAR package causes this problem, Please analyze the reasons.

[2022-02-22 03:58] soulasuna commented on #13317
I will try second task

[2022-02-22 04:03] zjcnb commented on #15086
I can't analyze it. Because i don't know your project context.

[2022-02-22 05:44] LingyaoLv commented on #14083
Hi @sanyud24
Would you still like to contribute and resolve this issue?
Please share a status update with the community, thank you.

[2022-02-22 05:49] LingyaoLv commented on #10970
Hi @songyuequan
Would you still like to contribute and resolve this issue?
Please share a status update with the community, thank you.

[2022-02-22 05:49] lyh061619 opened #15563 "Exception in getting data source from jfinal integration"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-22 05:53] LingyaoLv commented on #10964
Hi @jasaroya
Would you still like to contribute and resolve this issue?
Please share a status update with the community, thank you.

[2022-02-22 05:58] LingyaoLv commented on #7522
Hi @MingxingLAI
Are you working on this issue, or would you still like to contribute and resolve this issue?

[2022-02-22 05:58] lyh061619 commented on #15563
Ali Druid JDBC connection pool. Look at POM Tomcat DBCP jar package test dependency. Shouldn't formal release be unnecessary

[2022-02-22 06:02] LingyaoLv commented on #4784
Hi @ranjeet-floyd
Would you still like to contribute and resolve this issue?
Please share a status update with the community, thank you.

[2022-02-22 06:06] zjcnb commented on #15563
@lyh061619 Thank you for your feedback , i will see it. And Can you provider a demo?

[2022-02-22 06:07] zjcnb opened #15564 "`ClusterContextManagerCoordinator.renew(final SchemaVersionChangedEvent event)` Add unit test."

[2022-02-22 06:08] zjcnb commented on #15564
`1`

[2022-02-22 06:08] zjcnb commented on #15564
`1`

[2022-02-22 06:28] lyh061619 commented on #15563
of course
[jfinal_demo_for_maven.zip](https://github.com/apache/shardingsphere/files/8114116/jfinal_demo_for_maven.zip)

[2022-02-22 06:31] zjcnb commented on #15563
Thx

[2022-02-22 07:19] human-user commented on #15511
@zjcnb ，It not work well if only remove `@RequiredArgsConstructor`，maybe do like this：

![image](https://user-images.githubusercontent.com/68408844/155081875-9880fc30-bcc3-4ba0-be12-e1d59e9ebe5e.png)

[2022-02-22 07:23] ziliangzeng commented on #14670
@terrymanu @strongduanmu  hi,I would like to know if this issue has been resolved in the latest version.Looking forward to using it in the system.thank you

[2022-02-22 08:28] lyh061619 commented on #15563
Remove the Tomcat DBCP dependency from the local test POM. Note that MVN compiler 1.8+

[2022-02-22 08:34] zjcnb commented on #15563
I download it and check it. The `ShardingSphere` not supprot `mariadb` now, When i change to `mysql` it 's work well.

[2022-02-22 08:39] lanchengx commented on #15414
Refactoring complete

[2022-02-22 08:46] lyh061619 commented on #15563
I use MariaDB and POM to add Tomcat DBCP jar, which is also normal

[2022-02-22 08:48] zjcnb commented on #15563
I suggest change to `mysql` database if you use `ShardingSphere`.

[2022-02-22 08:56] lyh061619 commented on #15563
I see. There is no such problem when testing version 5.0.0. This problem will occur when testing version 5.1.0

[2022-02-22 09:10] zjcnb commented on #15563
Yeah, Let me double check it.

[2022-02-22 09:16] lyh061619 commented on #15563
Yes, the MariaDB I use uses Mysql to drive the connection URL: JDBC: MySQL. There is no problem with the connection test

This problem should not be the problem of data differences

So I think there is a bug in version 5.1.0

[2022-02-22 09:18] zjcnb commented on #15563
refer to #15507

[2022-02-22 10:40] linghengqian commented on #15507
I created a simple test case to help locate this situation. It's at https://github.com/linghengqian/shardingsphere-jdbc-pools-test

[2022-02-22 10:49] zjcnb commented on #15507
Thx.

[2022-02-22 10:57] #15506 closed

[2022-02-22 11:05] strongduanmu commented on #15506
@wallacezhou Can you help test this problem in master branch?

[2022-02-22 11:09] wallacezhou commented on #15506
OK, I'will test it tommorrow and feed back the test result.

[2022-02-22 12:16] linghengqian commented on #15563
I have to wonder if this step can be carried out. Because in the metadata SPI implementation of `ShardingSphere` 5.1.0, the corresponding classes for the related JDBC Pools are called directly. If it is `reflect` by the class name, this in turn affects the packaging of `GraalVM`, requiring the addition of new hints.

What do you think?

[2022-02-22 12:57] sandynz commented on #12449
Clustering mode is not necessary for now.

Scaling job will not be disabled if exception thrown before inventory task starting.

Just handle `EXECUTING_JOBS` this time.

[2022-02-23 02:40] TeslaCN commented on #15557
Hi @ZDG-D
Have you set autocommit = 0 before inserting? I think this is expected behaviour if you `set autocommit = 0` and didn't commit explicitly.

[2022-02-23 02:42] TeslaCN commented on #15531
I'm closing this. Please file a new issue if you have any other questions.

[2022-02-23 02:42] #15531 closed

[2022-02-23 03:43] wallacezhou commented on #15506
Test with updated code in master branch, now auto table sharding using mod algorithm can route to the correct datasource and table.
Checked that hash mod algorithm in HashModShardingAlgorithm class has the similar sharding logic as mod algorithm , it could have the same issue, and need to double confirm and optimize it as mod algorithm if confirmed.

[2022-02-23 03:47] strongduanmu commented on #15506
@wallacezhou Yes, we will check other algorithm soon.

[2022-02-23 05:13] #12449 closed

[2022-02-23 05:48] baolieshougu commented on #15564
Can I try it?

[2022-02-23 05:50] strongduanmu commented on #15564
@baolieshougu Welcome, I just assign this issue to you.

[2022-02-23 06:49] #15541 closed

[2022-02-23 07:01] larrychen8276 opened #15578 "spring JdbcTemplate insert cann't support return key"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-23 07:04] strongduanmu commented on #15578
@larrychen8276 Can you provide your configuration? Besides, you can look at this issue #15451, maybe they are same problems.

[2022-02-23 07:09] larrychen8276 commented on #15578
[spring-mysql-readwrite-splitting.txt](https://github.com/apache/shardingsphere/files/8122477/spring-mysql-readwrite-splitting.txt)

[2022-02-23 07:12] strongduanmu commented on #15578
@larrychen8276 I think this issue is same with #15451, you can try the latest master branch.

[2022-02-23 07:13] larrychen8276 commented on #15578
thanks!

[2022-02-23 07:20] strongduanmu commented on #15578
You are welcome, looking forward to your test result.

[2022-02-23 07:23] roodkcab opened #15579 "support multiple schema on same instance"
## Feature Request

### Is your feature request related to a problem?
[code]
currently TablesContext will check schema number of select statement and throw exception on multiple schema detected.

### Describe the feature you would like.
can we support multiple schema on same instance? for example, sql like below
[code]

if I comment this check, I can get a "partial correct" result in client side p

[2022-02-23 07:30] roodkcab commented on #15579
since shardingsphere treat each schema as a separate instance, i.e. test1 and test2 are running on different physic instances, I didn't figure out an easy way to support this feature. any idea?

[2022-02-23 07:49] ZDG-D commented on #15557
Hi @TeslaCN
I didn't manually `set set autocommit = 0` before inserting and this problem happens occasionally.

[2022-02-23 07:51] strongduanmu opened #15580 "NPE occurs when using traffic rule and opening XA transaction"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/af1c0fc750a8a1ef57d843d0bfbed5dde673bba7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute insert statement successfully when using traffic rule and opening XA transaction

### Actual behavior

NPE occurs.

[2022-02-23 07:53] strongduanmu commented on #15580
Ref #14282.

[2022-02-23 09:52] zjcnb opened #15585 "Build `DatabaseDiscoveryRule`are failed when create discovery type by `DistSQL`."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Execute `DistSQL` success
[code]

### Actual behavior

[code]

### Step

[code]

[2022-02-23 10:22] xsong123 commented on #13739
'show tables like ...' sql still error:
com.google.common.util.concurrent.UncheckedExecutionException: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax
	at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2051)
	at com.google.common.cache.LocalCache.get(LocalCache.java:3951)
	at com.google.common.cache.LocalCache.getOrLoad(Local

[2022-02-23 10:30] RaigorJiang commented on #13739
com.google.common.util.concurrent.UncheckedExecutionException: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax

Hi @xsong123
Looks like a parsing problem, you can create a new issue.

[2022-02-23 10:53] terrymanu opened #15590 "Fix IT error for `SELECT * FROM t_order o LEFT JOIN t_order_item m ON o.order_id = m.order_id AND o.user_id = m.user_id`"
The IT result is different with load data from database.

Case name: SELECT * FROM t_order o LEFT JOIN t_order_item m ON o.order_id = m.order_id AND o.user_id = m.user_id
Expected: is "1100"
but: was "2000"

Please see `dql-integration-test-cases.xml` and search `FIXME #15590`

[2022-02-23 10:56] terrymanu opened #15591 "Fix IT error for `SELECT COUNT(DISTINCT order_id), SUM(DISTINCT order_id) FROM t_order WHERE order_id &lt; 1100`"
The IT result is different with load data from database.

Case name: SELECT COUNT(DISTINCT order_id), SUM(DISTINCT order_id) FROM t_order WHERE order_id &lt; 1100
Expected: is "count(distinct order_id)"
but: was "aggregation_distinct_derived_0"

Please see `dql-integration-test-cases.xml` and search `FIXME #15591`

[2022-02-23 10:58] terrymanu opened #15592 "Fix IT error for `SELECT t_order_item_federate_sharding`"
The IT result is different with load data from database.

Case name:

1. select t_order_federate.*, t_order_item_federate_sharding.* from t_order_federate, t_order_item_federate_sharding where t_order_federate.order_id = t_order_item_federate_sharding.item_id AND t_order_item_federate_sharding.remarks = 't_order_item_federate_sharding'

2. select o.*, i.* from t_order_federate o, t_order_item_fede

[2022-02-23 11:00] terrymanu opened #15593 "Fix IT error for accurate of AVG"
The IT result is different with load data from database.

Case name: SELECT AVG(user_id) AS user_id_avg FROM t_order
Expected: is "19"
but: was "19.5000"

Please see:
1. `dql-integration-test-cases.xml` and search `FIXME #15593`
2. `BaseDQLIT` and search `// FIXME #15593 verify accurate data types`, please remove the try catch to reproduce the issue

[2022-02-23 11:04] terrymanu opened #15594 "Fix IT error for select projection names"
The IT result is different with load data from database.

Please see:
1. `BaseDQLIT` and search `// FIXME #15594 Expected: is "order_id", but: was "order_id0`, please remove the try catch to reproduce the issue
2. `BaseDQLIT` and search `// FIXME #15594 Expected: is "sum(order_id_sharding)0", but: was "expr$1"`, please remove the try catch to reproduce the issue

[2022-02-23 11:09] tuichenchuxin commented on #14670
@ziliangzeng Sorry to tell you that we have not supported using parameter with `InputStream` in broadcast table for now.

[2022-02-23 11:10] strongduanmu commented on #15594
@terrymanu Thank you for your feedback, I will investigate this issue.

[2022-02-23 11:10] strongduanmu commented on #15593
@terrymanu Thank you for your feedback, I will investigate this issue.

[2022-02-23 11:11] strongduanmu commented on #15592
@terrymanu Thank you for your feedback, I will investigate this issue.

[2022-02-23 11:12] tuichenchuxin commented on #15590
Thank you for your feedback , I'll invetigate it.

[2022-02-23 11:14] tuichenchuxin commented on #15591
Thank you for your feedback, I'll investigate it.

[2022-02-23 11:35] #15585 closed

[2022-02-23 12:20] #15580 closed

[2022-02-23 12:55] xsong123 opened #15599 "'show tables like ...' sqlstatement error"
shardingsphere version 5.0.0
mysql version 5.7

'show tables like ...' sql  error:
com.google.common.util.concurrent.UncheckedExecutionException: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax
at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2051)
at com.google.common.cache.LocalCache.get(LocalCache.java:3951)
at com.google

[2022-02-23 13:01] strongduanmu commented on #15599
Hi @xsong123, thank you for your feedback. @tuichenchuxin Can you help check this sql in master branch?

[2022-02-23 13:43] yangsen00 commented on #15564
hello,I have a question. Where I circled out.
![image](https://user-images.githubusercontent.com/73088519/155329557-c4f51f7e-c472-47fc-b100-538c456ac34e.png)
When I use
`        mock(MockedDataSource.class)
`
It will cause a NullPoint, It same like that. MockedDataSource.class don't have value of url,username and password.
And I use a constructor as this picture show,  it worked.
How can I fix if?

[2022-02-23 15:10] yx9o commented on #15564
@yangsen00 Hi, you can try to create a data source through a method and specify the parameter information you need.
example:
[code]

[2022-02-23 23:29] #14612 closed

[2022-02-24 01:25] tuichenchuxin commented on #15599
@strongduanmu Thanks, I'll investigate this issue.

[2022-02-24 02:09] strongduanmu commented on #15594
I have confirmed the issue, it's a bug of calcite jdbc driver, I will try to fix this bug and upgrade calcite version.

[2022-02-24 02:34] LeeGuoPing commented on #15592
I will investigate it.

[2022-02-24 03:32] lanchengx opened #15604 "Plans to refactor DistSQL documents"
**Current status**
[code]

Related links: [Directory tree](https://github.com/apache/shardingsphere/tree/master/docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax)

**Disadvantages:**
1. Inconvenient to find
        There is no complete list, users need to know which category the target sentence belongs to, and then go to find the page of the category
2. Too much syntax on a sin

[2022-02-24 04:00] Swastyy commented on #15604
Hi @lanchengx and @RaigorJiang , I also want to work on this. PS - I have some experience in doc-related issues.

[2022-02-24 04:01] strongduanmu commented on #15593
I have investigated the current processing logic of ShardingSphere MergeEngine for AVG functions, and they all use the precision of 4 decimal places. This logic needs to be investigated and kept consistent with the database.

[code]

[2022-02-24 04:35] lanchengx commented on #15604
@Swastyy Welcome, Welcome, there will be more detailed design later, please pay attention to this issue

[2022-02-24 06:35] #15167 closed

[2022-02-24 06:38] ryan-hao opened #15606 "The query get Null value when using "case when""
## Bug Report

### Which version of ShardingSphere did you use?
[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
MySQL
[code]

[code]

[code]

### Ex

[2022-02-24 08:51] wangfan9002 opened #15610 "有没有地方，可以查看到各版本的变更记录"
有没有地方，可以查看到各版本的变更记录； 例如，修复了什么BUG, 新增了什么特性

[2022-02-24 08:54] strongduanmu commented on #15610
Hi @wangfan9002, can you translate this issue to english first?

[2022-02-24 09:02] myfairys opened #15613 "About select column num is not match result column ,and always less one."
it's version:4.1.0
i use ShardingSphere-Proxy.

when i use the sub query on select column, i can't get the correct result. i always get a result that the result column numbers is less one than select column. For example：
i use this sql:
`SELECT
	im.id AS id,
	im.inquiry_code AS inquiryCode,
	im.visitor_id AS visitorId,
	im.content AS content,
	im.chat_box_mark AS chatBoxMark,
	im.access_user AS ac

[2022-02-24 09:08] LeeGuoPing commented on #15497
sorry, I use the config but never reproduce the problem.

The config:
![config](https://user-images.githubusercontent.com/35389145/155493339-673b1fb9-45cc-4998-91ec-598f019ba9b6.png)

The result:
![image](https://user-images.githubusercontent.com/35389145/155493527-3babb4db-9959-4944-8133-8c715aa5b571.png)

[2022-02-24 10:51] menghaoranss commented on #15610
@wangfan9002 refer to https://github.com/apache/shardingsphere/releases , and for English only here.

[2022-02-24 10:51] #15610 closed

[2022-02-24 11:48] yuwentao opened #15618 "sharding sphere 5.1version not support this SQL query statements"
version:shardingsphere 5.1.0

SQL:
SELECT old.id AS id, old.name, new.id AS quoteId, new.name FROM s_field old INNER JOIN (SELECT id, relate_field, name FROM s_field WHERE show_type = 'quote' AND verify_type = 'customer_addr' AND function_id = 1415965658951864322 AND tenant_id = 1 AND tenant_id = 1) new ON new.relate_field = old.copy_field_id WHERE old.tenant_id = 1 UNION SELECT old.id AS id, old.

[2022-02-24 11:50] strongduanmu commented on #15618
@yuwentao Thank you for your feedback, can you translate your title to english? And provide your sharding configuration?

[2022-02-24 12:08] yuwentao commented on #15618
have opened sql-federation =true:
Properties props = new Properties();
props.setProperty(ConfigurationPropertyKey.SQL_FEDERATION_ENABLED.getKey(), String.valueOf(Boolean.TRUE));
props.setProperty(ConfigurationPropertyKey.SQL_SHOW.getKey(), Boolean.TRUE.toString());

[2022-02-24 12:11] yuwentao commented on #15618
if I need to modify my sql Statment about "union"?

[2022-02-24 15:35] linghengqian commented on #15507
Maybe the content description on the first floor is wrong. After referring to the operation of the website https://github.com/apache/shardingsphere/issues/15563 , I noticed that the introduction of `org.apache.commons:commons-dbcp2:2.9.0` still reported an error , you must import `org.apache.tomcat:tomcat-dbcp` to be normal (regardless of the version of this component is `9.0.58` or `10.0.14` ), w

[2022-02-24 16:25] tuyendev commented on #14868
Now it worked with the latest version. Could you close the issue ?

[2022-02-24 16:37] tuyendev commented on #15543
Beside your data is large, I also encountered this problems compare with version 4.1.1. It seems 2x lower

[2022-02-25 01:30] yuwentao commented on #15618
https://shardingsphere.apache.org/document/5.1.0/cn/features/sharding/use-norms/sql/
Experimental supported SQL:
SELECT col1, col2 FROM tbl_name UNION SELECT col1, col2 FROM tbl_name |  
SELECT col1, col2 FROM tbl_name UNION ALL SELECT col1, col2 FROM tbl_name

[2022-02-25 01:56] yx9o commented on #15604
hi, can i join.

[2022-02-25 02:12] xsong123 commented on #15147
**but now complex sql which's tables don't sharding parser error:**
Caused by: org.apache.ibatis.executor.ExecutorException: Error preparing statement.  Cause: com.google.common.util.concurrent.UncheckedExecutionException: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax
	at org.apache.ibatis.executor.statement.BaseStatementHandler.prepare(Ba

[2022-02-25 02:29] lanchengx commented on #15604
Of course, there will be more detailed tasks in the near future

[2022-02-25 02:52] xsong123 opened #15622 "sql contains '@' , paser error"
shardingsphere version 5.0.0
mysql version 5.7

sql as below:
SELECT
            ddt.DefaultDate default_date,
            ddt.DefaultDateBalance default_date_prin_bal,
            CASE WHEN ddt.DefaultType = 'A' THEN '00'
                WHEN ddt.DefaultType = 'B' THEN '01'
                WHEN ddt.DefaultType = 'D' THEN '02'
                WHEN ddt.DefaultType = 'E' THEN '03'
                EL

[2022-02-25 03:10] lanchengx opened #15623 "Add the keyword `IF EXISTS` to all drop syntax in DistSQL"
**Current status**: All drop syntaxes in current DistSQL will prompt an exception when the deleted target does not exist.

**Problem**: Not friendly enough when using script execution.

**Improvement measures:** Add the keyword `IF EXISTS` to all drop syntaxes. If the keyword is included in the statement, it is not checked whether the target to be dropped exists.

**Execution result:** if the targ

[2022-02-25 05:59] hachikozjq opened #15628 "The first SQL is executed slowly after the application is started."
Version 5.0.0
An SQL query within 10ms will be executed for the first time after each restart, which will be hyperbolized to 4 or 5s at first. Later, according to the online method, "Select X" will be executed once after the container is started, which is effective, but the first execution needs about 2s. Later, it will be changed to a specific table query, and then reduced to within 500ms. But it

[2022-02-25 06:14] #15591 closed

[2022-02-25 06:20] yx9o commented on #15628
Hi @hachikozjq , for English only, please modify the issue title and content, thank you.

[2022-02-25 06:28] lanchengx commented on #14987
@tuichenchuxin DistSQL has been completed, can this issue be closed?

[2022-02-25 06:39] tuichenchuxin commented on #14987
@lanchengx Yes, I'll close it.

[2022-02-25 06:39] #14987 closed

[2022-02-25 06:41] 13612687938 opened #15629 "Springboot with JPA, readwrite-splitting always on write-ds"
## Bug Report

Current situation：
SpringBoot + Mybatis-Plus + MySQL8.0 + ShardingSphere-JDBC  ===> SUCCESS
SpringBoot + SpringDataJPA + MySQL8.0 + ShardingSphere-JDBC  ===> FAIL （read and write both on write-ds）

detail code: (an API method just contain userRepository.findAll();)
     /**
     * query all list
     *
     * @return
     */
    @GetMapping("/list")
    public List<User> list() {

[2022-02-25 06:50] LeeGuoPing commented on #15623
Can I do part of them?

[2022-02-25 07:29] 13612687938 commented on #14868
with the latest version 5.1.0 (5.0.0 is also), my method just contain query without any insert(or update 、 delete) but always request write data source.

[2022-02-25 07:32] #15563 closed

[2022-02-25 07:35] 13612687938 opened #15631 "sharding jdbc 5.0.0(5.1.0) how to set a default datasource?"
## Question

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.0</version>
        </dependency>

when I have some datasource, how to set which is the default datasource?

[2022-02-25 07:40] linghengqian commented on #15507
@zjcnb
- If this related issue is a bug rather than a feature, I should close this issue and specify in the `FAQ` that ShardingSphere JDBC `5.1.0` uses a non-hikaricp JDBC Pool that needs to import `org.apache.tomcat:tomcat-dbcp` ?

[2022-02-25 07:48] zjcnb commented on #15629
@13612687938 Hi, please refer to #14858

[2022-02-25 07:51] zjcnb commented on #15631
@13612687938 Hi, I think the default data source are removed at 5.1.0

[2022-02-25 07:51] 13612687938 commented on #15629
@zjcnb Different, I just query the data, no insert operation

[2022-02-25 07:53] 13612687938 commented on #15631
@zjcnb In the actual development, not all tables need sub-database and sub-table, there is always a single table, how to solve it?

[2022-02-25 07:57] zjcnb commented on #15629
Can you provider a demo?

[2022-02-25 07:57] zjcnb commented on #15629
Can you provider a demo?

[2022-02-25 08:06] 13612687938 commented on #15629
Yes, I create 3 database(datasource),demo include sql which just create table.
For simple testing, you can manually add XXX data to the slave-datasource1 and add YYY data to the slave-datasource2, and simply request the list interface to observe

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-02-25 08:14] zjcnb commented on #15631
`ShardingSphere` can according your table to find datasource if you a single table in one data source. But if you have same table in two  data source, the `ShardingSphere` can pick any one data source

[2022-02-25 08:16] zhangzhaoyu opened #15633 "sharding-jdbc insert clob type field into oracle db error"
## Bug Report

3.1.0 v

use sharding-jdbc to insert data into oracle db with clob filed exception:
SQL state 99999 error code 17004 无效的列类型。

orace.jdbc.driver.OraclePreparedStatement.setObject() not support StringReader.class type.

mybatis ClobTypeHandler convert java string to StringReader type for CLOB type.

how can I fix it ? Thanks.

[2022-02-25 08:29] 13612687938 commented on #15631
Perfect, I tried three data sources, first put the table to data source 3 and then request, successful, and then move the table to data source 2 and then request, successful.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年2月25日(星期五) 下午4:15
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/shardingsphere] sharding jdbc 5.0.0(5.1.0) h

[2022-02-25 08:31] csonezp commented on #15217
@terrymanu
sorry,I've been so busy lately that I don't have time to deal with this

[2022-02-25 08:31] zjcnb commented on #15631
@13612687938 Yeah.

[2022-02-25 08:39] tuyendev commented on #14868
My bad! I checked, still buggy

[2022-02-25 08:43] zjcnb commented on #14868
Yeah, The example project are refactoring, I will tell you when it finished.
,

[2022-02-25 09:17] #15590 closed

[2022-02-25 09:30] strongduanmu commented on #15622
@xsong123 Thank you for your feedback, I will investigate this problem.

[2022-02-25 09:53] lanchengx commented on #15623
Welcome, you can choose the task you want to do

[2022-02-25 09:54] wsg96321 opened #15636 "Exception with No implementation class load from SPI"
version : v5.1.0  sharding-jdbc

hello , below is the code of my own :
[code]

But when I use it in my test code it report ERROR:
[code]

[code]
below is my config :
[code]

I found it is seems to this issues : [(https://github.com/apache/shardingsphere/issues/12703)](https://github.com/apache/shardingsphere/issues/12703)
Then I have read the code with [https://github.com/apache/shardingsphere/blo

[2022-02-25 10:05] zjcnb commented on #15636
@wsg96321 Hi, Can your provider your project ? Maybe your META-INF/services structure has problem. https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/java/org/apache/shardingsphere/example/sharding/raw/jdbc/ShardingHintRawExample.java

[2022-02-25 10:05] LeeGuoPing commented on #15623
@lanchengx I want to do the below first.
DROP SHARDING KEY GENERATOR IF EXISTS snowflake_key_generator;
DROP SHARDING ALGORITHM IF EXISTS t_order_hash_mod;

[2022-02-25 10:17] lanchengx opened #15637 "Add`IF EXISTS` keyword to `DROP KEY GENERATOR `"

[2022-02-25 10:17] lanchengx opened #15638 "Add `IF EXISTS` keyword to `DROP SHARDING ALGORITHM;`"

[2022-02-25 10:19] lanchengx commented on #15637
@LeeGuoPing Opened a separate issue assigned to you

[2022-02-25 10:21] #15168 closed

[2022-02-25 10:21] lanchengx commented on #15638
@LeeGuoPing assigned to you

[2022-02-25 10:22] lanchengx commented on #15623
Thanks, two issues have been opened and assigned to you

[2022-02-25 10:30] yx9o commented on #15623
hi, can i join.

[2022-02-25 11:01] lanchengx commented on #15623
@yx9o Of course , Which task do you want to try ?

[2022-02-25 11:02] zjcnb commented on #15629
Provider demo project. Because i can't reproduce it.

[2022-02-25 11:08] yx9o commented on #15623
I want :

[2022-02-25 11:08] yx9o commented on #15623
I want:
Add IF EXISTS keyword to DROP DB_DISCOVERY RULE.
Add IF EXISTS keyword to DROP DB_DISCOVERY TYPE.
Add IF EXISTS keyword to DROP DB_DISCOVERY HEARTBEAT.

[2022-02-25 11:38] 13612687938 commented on #15629
this is a demo, with sql for create table, without sql for create database.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月25日(

[2022-02-25 12:09] linghengqian opened #15641 "Changes to DataSourcePoolCreator cause warnings in spring.shardingsphere.datasource configuration"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-02-25 12:09] Swastyy commented on #15623
Hi, I want to try `DROP ENCRYPT RULE`

[2022-02-25 12:13] yx9o commented on #15623
@Swastyy Sorry, `DROP ENCRYPT RULE` is already working, maybe you can change one.

[2022-02-25 12:13] Swastyy opened #15643 "Add `IF EXISTS` keyword to `DROP ENCRYPT RULE`"
Sub task of #15623

[2022-02-25 12:15] Swastyy commented on #15623
Ohh, can I do SHADOW RULE?

[2022-02-25 12:29] yx9o commented on #15623
ref：https://github.com/apache/shardingsphere/pull/15635

[2022-02-25 12:32] Swastyy commented on #15643
Completed already #15635

[2022-02-25 12:32] #15643 closed

[2022-02-25 13:21] linghengqian commented on #8940
Caused by the situation mentioned in https://github.com/alibaba/druid/issues/4673?

[2022-02-25 15:49] #15641 closed

[2022-02-25 16:43] linghengqian commented on #9309
@climy007
- In fact this is repeated problem, refer to https://github.com/apache/shardingsphere/issues/8940#issuecomment-1050848342
- You must refer the starter version of Druid to `1.2.8` or druid's `master` branch.

[2022-02-26 03:52] xsong123 opened #15647 "Oracle DDL parser error"
shardingsphere version 5.0.0
Oracle version 11c

sql as below:
1.create index INDEX_ASSETINT2_ASSETCODE on asset_schedule (ASSETCODE)
2.create table name(...)
and so on.

error:
Caused by: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax
	at org.apache.shardingsphere.sql.parser.core.database.parser.SQLParserExecutor.twoPhaseParse(SQLParserExe

[2022-02-26 04:41] strongduanmu commented on #15647
Hi @xsong123, thank you for your feedback, can you try to fix it?

[2022-02-26 05:00] strongduanmu commented on #15633
Hi @zhangzhaoyu, can you try 5.1.0? 3.1.0 is too old.

[2022-02-26 07:26] linghengqian opened #15649 "update common-codec to add Automatic-Module-Name manifest entry"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

No.

### Describe the fe

[2022-02-27 13:10] afeiluo opened #15661 "配合pagehelper使用，分页查询失效"
依赖:
[code]
`PageHelper.startPage(1, 10)..doSelectPage(() -> mybatisMapperSelectMethod()); //查询的表没有分片`
正常情况下pagerhelper 会查总数，然后再limit, 但是用了shardingjdbc提供的数据源之后，仅仅查询了mapper里面定义的sql语句，导致分页失效。

[2022-02-27 14:11] yx9o commented on #15661
Hi @afeiluo , for English only, please modify the issue title and content, thank you.

[2022-02-27 14:43] linghengqian commented on #11953
Will this affect ShardingSphere JDBC 5.1.0? I'm not quite sure where this code is located.

[2022-02-27 17:04] linghengqian commented on #11650
Is anyone paying attention? While this information is mostly INFO, it does cause some confusion. (Sorry I can't help with this. 👀)

[2022-02-28 01:32] tuichenchuxin commented on #15613
Can you try 5.1.0 version?

[2022-02-28 01:36] tuichenchuxin commented on #15606
@ryan-hao Can you try 5.1.0 version?

[2022-02-28 01:37] myfairys commented on #15613
Is it resolve this bug when use 5.1.0 version? If that, i can change to 5.1.0 sometime. And Thank you!

[2022-02-28 01:40] tuichenchuxin commented on #15613
We have solved these similar problems. Maybe you can try it.

[2022-02-28 01:43] myfairys commented on #15613
Okay, and can you tell me which issue？I want to look at it.

[2022-02-28 01:51] #13314 closed

[2022-02-28 01:52] tuichenchuxin commented on #15613
@myfairys like this #13703

[2022-02-28 01:52] lanchengx opened #15662 "Add `IF EXISTS` keyword to `DROP DB_DISCOVERY RULE/TYPE/HEARBEAT`"

[2022-02-28 01:53] myfairys commented on #15613
Ok,thanks.

[2022-02-28 01:54] lanchengx commented on #15662
@yx9o assigned to you

[2022-02-28 02:00] yx9o commented on #15662
@lanchengx Thank you.

[2022-02-28 02:29] wsg96321 commented on #15636
Thanks a lot . I think I have resolve this problem . It's my mistake for the wrong file name in services. The file name in /META-INF/services must be `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm`. This is my test project , hope to it can help others.
[https://github.com/wsg96321/sharding-project.git](https://github.com/wsg96321/sharding-project.git)

[2022-02-28 02:30] #15636 closed

[2022-02-28 02:41] #15631 closed

[2022-02-28 02:52] TeslaCN opened #15663 "Enhance startup script for ShardingSphere-Proxy"
## Feature Request

### Is your feature request related to a problem?

Sometimes we try to start a new Proxy process before stopping the previous. In this situation, the new Proxy will fail to startup and we won't know it until we check the log.

### Describe the feature you would like.

- Support using `$JAVA_HOME`.
- (Optional) Check if the address and port which we attempt to use in new Proxy p

[2022-02-28 03:04] tuichenchuxin commented on #14728
@pandatop We can't support this sql for now. We have plan to support infomation_schema information later.

[2022-02-28 06:21] jingshanglu commented on #12652
@marker-wu I see you use TiDB for store,  can you show the sql? I see the root exception is `you have an error in your SQL syntax`.

[2022-02-28 07:36] #15661 closed

[2022-02-28 08:05] menghaoranss opened #15665 "[OpenForce 2022] Integrating the embedded H2 Database to implement the standalone mode"
This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background

In the [standalone mode](https://shardingsphere.apache.org/document/current/en/concepts/mode/), it is not a good choice to use local files to persist metadata, because local files are not encrypted and can be modified at any time. Therefore, we consider using emb

[2022-02-28 08:39] yuwentao opened #15666 "MySQL function from_unixtime not supported"
query statement "FROM_UNIXTIME(created_time,'%Y-%m-%d') " not supported in shardingsphere 5.1.0 version

[2022-02-28 08:49] wuguowei19880907 opened #15667 "cannot parse a simple insert in oracle"
## Bug Report

when i use the sharding to parse a simple insert sql ,it gives me a exception.

### Which version of ShardingSphere did you use?
sharding 5.0.0
java 1.8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior

### Actual behavior

my sql is 'insert into sys_oper_log (oper_id, oper_time) values (?, ?)';

java code like t

[2022-02-28 09:07] strongduanmu commented on #15667
Hi @wuguowei19880907, thank you for your feedback, can you try 5.1.0? I think this bug has been fixed.

[2022-02-28 09:08] strongduanmu commented on #15666
Hi @yuwentao, can you show more information about this sql? Such as exception stack.

[2022-02-28 09:32] wuguowei19880907 commented on #15667
Could you confirm that my sql is parsed correctly in sharding 5.0.0?
I have changed some code in my sharding, if I use 5.1.0, I must rebase my code and slove the conflicts

[2022-02-28 11:04] tuichenchuxin opened #15670 "Optimize the encryption test case"
## Feature Request

### Is your feature request related to a problem?
No
### Describe the feature you would like.
I found the encrypt test case is not simple enough. I want to refactor it, and make it more easier to understand.
#### BEFORE
![image](https://user-images.githubusercontent.com/86938616/155971696-6401eaef-4131-407b-bdb7-2aaec1df63fe.png)
#### AFTER
![image](https://user-images.githubus

[2022-03-01 02:48] zjcnb opened #15678 "The `shardingsphere-pipeline-test` compile error"
[code]

[2022-03-01 02:50] wsg96321 commented on #15666
It seems to be ok to this function when I use version 5.1.0 version too.
![image](https://user-images.githubusercontent.com/8844009/156095487-445d93f4-4876-4e0e-9c9f-789467fe863f.png)

[2022-03-01 03:09] pandatop commented on #14728
ok, thank you

[2022-03-01 03:34] yuwentao commented on #15666
--  not supported and not any error information response
SELECT DAYOFMONTH(FROM_UNIXTIME(created_time, '%Y-%m-%d')) as riqi FROM `s_user` where created_time > 0  limit 1；
--  supported  ,response the right result
select DAYOFMONTH(NOW())；

[2022-03-01 03:49] wsg96321 commented on #15666
Maybe your data or condition has something wrong in `s_user` ?  eg. therer is no record where created_time>0 。

![image](https://user-images.githubusercontent.com/8844009/156101222-68d5824d-a42c-4da3-9096-9253609e55ba.png)

PS: The type of `createtime` in my table `hero` is datetime, so it has to cast it to unix timestamp when the function `FROM_UNIXTIME`'s first params type must be timestamp.
thi

[2022-03-01 04:07] tuichenchuxin opened #15682 "Some sql for encrypt is not supported"
## Bug Report

### Which version of ShardingSphere did you use?
master - 2e43bd09bdae7625aad4eb61f4dfaf0086db9473

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior
support
### Actual behavior
not support
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception oc

[2022-03-01 05:25] #15678 closed

[2022-03-01 06:59] strongduanmu opened #15686 "Encrypt feature performance optimize"
## Feature Request

At present, the encrypt feature of the master branch has a large performance loss, and it is necessary to investigate the performance bottleneck in it and improve the encrypt performance.

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/10829171/156120284-d4e59af3-575d-4f1b-b7bd-d1df85e72d2d.png">

[2022-03-01 09:51] onevroad opened #15689 "Cannot batch insert in Oracle"
## Bug Report

When i use the sharding-jdbc to batch insert sql in Oracle ,it gives me a exception.
But MySQL is OK.

### Which version of ShardingSphere did you use?

sharding 5.1.0
java 1.8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

### Actual behavior

My sql is:
` INSERT ALL     INTO  demo_sharding   ( id,name,conte

[2022-03-01 10:30] menghaoranss commented on #10970
@LingyaoLv @songyuequan this issue has been here for a long time, most of them has been resolved, I will close this issue and move the left tasks to another issue. Thanks for your attention. If you want to continue contributing, you can follow the issue board.

[2022-03-01 10:30] #10970 closed

[2022-03-01 10:37] menghaoranss opened #15692 "[OpenForce 2022] Add more test cases for AuthorityRule"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add more test cases for `AuthorityRule`.

- [ ] AuthorityRule.findPrivileges
- [ ] AuthorityRule.refresh
- [ ] AuthorityRule.findUser

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `AuthorityRuleTest`

[2022-03-01 11:14] sandynz opened #15693 "Add unit test for PipelineDataSourceCreatorFactory and PipelineDataSourceFactory"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `PipelineDataSourceCreatorFactory` and `PipelineDataSourceFactory` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 11:36] TeslaCN opened #15695 "How to enable Hikari's registerMbeans in ShardingSphere-JDBC?"
## Question

https://github.com/apache/shardingsphere/blob/7d2f6cf98f2cc8212095aff8abb0ec941e77cfc3/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/datasource/pool/metadata/type/hikari/HikariDataSourcePoolMetaData.java#L73-L78

The `registerMbeans` is marked as transient field. I need to check Hikari status by Mbeans in my environments.

[2022-03-01 11:41] sandynz opened #15696 "[OpenForce 2022] Add unit test for `JobProgressYamlSwapper`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `JobProgressYamlSwapper` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 11:46] sandynz opened #15697 "[OpenForce 2022] Add unit test for PipelineSimpleLock"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `PipelineSimpleLock` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 11:46] menghaoranss commented on #11031
@PallaviRoy Thanks for your attention. OSD 2021 is over. I just close this issue now.

[2022-03-01 11:46] #11031 closed

[2022-03-01 11:49] sandynz opened #15698 "[OpenForce 2022] Add unit test for PipelineTableMetaData"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `PipelineTableMetaData` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `TableMetaDataTest`

[2022-03-01 11:49] menghaoranss commented on #10964
@jasaroya @susongyan @LingyaoLv hi guys, this issue has been here for a long time, and the OSD 2021 is over, I just close this issue now, and move the remaining tasks to other issues, thanks for your attention.

[2022-03-01 11:49] #10964 closed

[2022-03-01 11:51] sandynz opened #15699 "[OpenForce 2022] Add unit test for RecordUtil"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `RecordUtil` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 11:53] menghaoranss opened #15700 "Add unit test for InsertCipherNameTokenGenerator"
Hi community,

### Aim
Add unit test for `InsertCipherNameTokenGenerator`.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `EncryptProjectionTokenGeneratorTest`

[2022-03-01 11:58] menghaoranss opened #15701 "[OpenForce 2022] Add unit test for EncryptAssignmentTokenGenerator"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `EncryptAssignmentTokenGenerator`.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `EncryptProjectionTokenGeneratorTest`

[2022-03-01 12:12] sandynz opened #15702 "Add unit test for PositionInitializerFactory, MemoryPipelineChannelFactory and PipelineSQLBuilderFactory"
Hi community,

### Aim
Add unit test for `PositionInitializerFactory`, `MemoryPipelineChannelFactory` and `PipelineSQLBuilderFactory` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:14] sandynz opened #15703 "[OpenForce 2022] Add unit test for ReflectionUtil"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `ReflectionUtil` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:22] sandynz opened #15705 "[OpenForce 2022] Add unit test for CRC32MatchMySQLSingleTableDataCalculator"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `CRC32MatchMySQLSingleTableDataCalculator` in `shardingsphere-data-pipeline-mysql` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:26] liruhui opened #15706 "Insert statement does not support sharding table routing to multiple data nodes."
## CODE

[code]
## ERROR INFO

[code]

[2022-03-01 12:30] sandynz opened #15707 "[OpenForce 2022] Add unit test for MySQLInventoryDumper"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `MySQLInventoryDumper` in `shardingsphere-data-pipeline-mysql` module, doesn't include parent class methods.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:41] selectbook commented on #15693
Hello, I would like to contribute in this issue.

[2022-03-01 12:45] sandynz opened #15709 "[OpenForce 2022] Add unit test for ShardingSpherePipelineDataSourceConfiguration"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `ShardingSpherePipelineDataSourceConfiguration` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:46] sandynz commented on #15693
Welcome! Assigned to you.

[2022-03-01 12:48] sandynz opened #15710 "[OpenForce 2022] Add unit test for StandardPipelineDataSourceConfiguration"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim
Add unit test for `StandardPipelineDataSourceConfiguration` in `shardingsphere-pipeline-test` module.

### Basic Qualifications
- Java
- Maven
- Junit.Test

[2022-03-01 12:52] leedongyang commented on #15703
I want to do it.

[2022-03-01 15:12] RaigorJiang opened #15711 "Optimize configuration for privilege provider `DATABASE_PERMITTED`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441).

### Background

[SCHEMA_PRIVILEGES_PERMITTED](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/yaml-config/authentication/#schema_privileges_permitted) is a privilege provider provided by ShardingSphere, which allows adminis

[2022-03-01 15:30] RaigorJiang opened #15712 "Add raw java example to `class-based-sharding-algorithm-example`"
Hi community,

### Background

[class-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example) is an example of a custom algorithm that demonstrates how to integrate a user-defined sharding algorithm and declare the co

[2022-03-01 15:35] RaigorJiang opened #15713 "Add `class-based-sharding-spring-boot-jpa-example` to `class-based-sharding-algorithm-example`"
Hi community,

### Background

[class-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example) is an example of a custom algorithm that demonstrates how to integrate a user-defined sharding algorithm and declare the co

[2022-03-01 15:38] RaigorJiang opened #15714 "[OpenForce 2022] Add `class-based-sharding-spring-boot-mybatis-example` for `class-based-sharding-algorithm-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[class-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example) i

[2022-03-01 15:41] RaigorJiang opened #15715 "Add `class-based-sharding-spring-namespace-jpa-example` for `class-based-sharding-algorithm-example`"
Hi community,

### Background

[class-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example) is an example of a custom algorithm that demonstrates how to integrate a user-defined sharding algorithm and declare the co

[2022-03-01 15:42] RaigorJiang opened #15716 "[OpenForce 2022] Add `class-based-sharding-spring-namespace-mybatis-example` for `class-based-sharding-algorithm-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[class-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example) i

[2022-03-01 15:50] RaigorJiang opened #15717 "Add raw java example for `spi-based-sharding-algorithm-example`"
Hi community,

### Background

[spi-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example) is an example of a custom algorithm that demonstrates how to integrate a user-defined sharding algorithm and configure it using

[2022-03-01 15:53] RaigorJiang opened #15718 "[OpenForce 2022] Add `spi-based-sharding-spring-boot-jpa-example` for `spi-based-sharding-algorithm-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[spi-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example) is an

[2022-03-01 15:54] RaigorJiang opened #15719 "[OpenForce 2022] Add `spi-based-sharding-spring-boot-mybatis-example` for `spi-based-sharding-algorithm-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[spi-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example) is an

[2022-03-01 15:55] RaigorJiang opened #15720 "[OpenForce 2022] Add `spi-based-sharding-spring-namespace-jpa-example` for `spi-based-sharding-algorithm-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[spi-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example) is an

[2022-03-01 15:56] RaigorJiang opened #15721 "Add `spi-based-sharding-spring-namespace-mybatis-example` for `spi-based-sharding-algorithm-example`"
Hi community,

### Background

[spi-based-sharding-algorithm-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example) is an example of a custom algorithm that demonstrates how to integrate a user-defined sharding algorithm and configure it using

[2022-03-01 16:37] cheese8 opened #15722 "FixBug: testcases override in public final class SQLRewriteEngineTestParametersBuilder.loadAllRewriteAssertionsRootEntities"
## Bug Report

Testcases in shardingsphere-rewrite-test would be overrided with the same filename.xml

[2022-03-01 16:59] Xasperfect opened #15724 "can't connection database"
our project use  mycat for Split database. then wo use sharding-jdbc connection mycat ,and prompt error.
error message：
          caused by: java.SQLException:ResultSet is from update.No Data

but our database has lots of data.

I can't upload photoes for company's projects ，I‘m sorry. I hope get your help.

I will provide more information tomorrow

[2022-03-02 02:16] wsg96321 opened #15727 "How to auto discover all resource in one schema ?"
version: sharding proxy v5.1.0

Hi, I have many resource in a schema like test, it names ds_1,ds_2....ds_100  and other ds_500..ds_600.  When I use distSQL with my own defined algorithm , I should use the sql like

[code]

Besides, the table `hero` is in all resource . So I want to now , how to auto discover the datanodes ? like below, though it is wrong:
[code]

I think it is very useful for peop

[2022-03-02 02:36] RaigorJiang opened #15728 "[OpenForce 2022] Add SQL parser test case for `ShowScalingStatusStatement`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

`SHOW SCALING STATUS jobId` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `Sho

[2022-03-02 02:39] TeslaCN commented on #15724
ShardingSphere-JDBC connects database via official MySQL JDBC connector. Could you make sure whether the MyCAT implemented MySQL protocol correctly?

[2022-03-02 02:47] RaigorJiang opened #15729 "[OpenForce 2022] Add SQL parser test case for `StartScalingStatement`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

`START SCALING jobId` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `StartScal

[2022-03-02 02:50] RaigorJiang opened #15730 "[OpenForce 2022] Add SQL parser test case for `StopScalingStatement`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

`STOP SCALING jobId` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `StopScalin

[2022-03-02 02:54] RaigorJiang opened #15731 "[OpenForce 2022] Add SQL parser test case for `DropScalingStatement`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

`DROP SCALING jobId` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `DropScalin

[2022-03-02 02:55] liruhui opened #15732 "INLINE EXPRESSION （行表达式）"
## 问题咨询
[code]
## 比如
[code]

[2022-03-02 02:56] RaigorJiang opened #15733 "[OpenForce 2022] Add SQL parser test case for `ResetScalingStatement`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

`RESET SCALING jobId` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ResetScal

[2022-03-02 02:57] RaigorJiang commented on #15732
Hello @liruhui,
for English only, please translate the issue, thank you.

[2022-03-02 03:05] RaigorJiang commented on #15727
Hi @wsg96321
I understand what you're talking, but doing so will cause some other problems, such as configuring DATANODES("*"):
If I use `ADD RESOURCE` to add a new resource, the new resource may not have the table `hero`, which will cause SQL execution errors.

[2022-03-02 03:18] wsg96321 commented on #15727
Maybe it is a good idea for this Exception to deal like "mysql connection refuse " ? We use this in game's mysql meta data, so I think it is normal for game to "start a new server " or "merge two server " or "close a old server ". In this case , I have to often to `ADD RESROUCE` and `DROP RESOURCE` , and then execute SQL `ALTER SHARDING TABLE RULE xxxx` for every table like `hero/vip/user/account`

[2022-03-02 03:34] liruhui opened #15734 "How to use `inline expression`"
## Document Example

[code]

##  Problem description

[code]

## For example

### 1:Database
[code]
### 2: CODE
[code]

### 3. Error Info
[code]

[2022-03-02 04:32] chrvip opened #15738 "Please support database dameng and kingbase"
## Feature Request

### Is your feature request related to a problem?
Dameng and kingbase is more and more popular in China. Our clients asked us to use these databases that they had bought.
Dameng: https://www.dameng.com/
Kingbase: https://www.kingbase.com.cn/

### Describe the feature you would like.
Support most of features as for  MySQL.

[2022-03-02 05:45] tuichenchuxin opened #15740 "Support parsing Postgre sql `DROP ACCESS METHOD`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:48] tuichenchuxin opened #15741 "[OpenForce 2022] support parsing Postgre sql `DROP AGGREGATE`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:50] tuichenchuxin opened #15742 "[OpenForce 2022] support parsing Postgre sql `DROP CAST`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:51] tuichenchuxin opened #15743 "[OpenForce 2022] support parsing Postgre sql `DROP COLLATION METHOD`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:52] tuichenchuxin opened #15744 "[OpenForce 2022] support parsing Postgre sql `DROP EVENT TRIGGER`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:53] tuichenchuxin opened #15745 "[OpenForce 2022] support parsing Postgre sql `DROP FOREIGN DATA WRAPPER`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:54] tuichenchuxin opened #15746 "[OpenForce 2022] support parsing Postgre sql `DROP FOREIGN TABLE`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:55] tuichenchuxin opened #15747 "[OpenForce 2022] support parsing Postgre sql `DROP GROUP`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:56] tuichenchuxin opened #15748 "[OpenForce 2022] support parsing Postgre sql `DROP MATERIALIZED VIEW`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:56] tuichenchuxin opened #15749 "[OpenForce 2022] support parsing Postgre sql `DROP OPERATOR`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:57] tuichenchuxin opened #15750 "[OpenForce 2022] support parsing Postgre sql `DROP OWNED`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 05:58] tuichenchuxin opened #15751 "[OpenForce 2022] support parsing Postgre sql `DROP POLICY`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-02 06:52] RaigorJiang commented on #15727
Changes in resources will trigger refresh metadata, which is really time-consuming when there are too many tables.
There is currently no good way to do this, we can think more about it.

[2022-03-02 07:08] pparthenhs commented on #15733
Dear @Raigor,

My name is Panagiotis Parthenis and I am a software engineer. I would like to put my knowledge to good use and contribute to an open-source project.

This is my first try !!!

I will try my best to offer something valuable to the community.

I remain always at your disposal.

Best regards,
Panagiotis Parthenis

[2022-03-02 07:09] sandynz opened #15752 "CuratorZookeeperRepository.get might return old value from cache after `watch` is called in unit test"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 54758fe13ef2d9e8255710e015abcbcaf13eb01e and a69541e29a3f0f7cc8b0c95ab9479ac0bcd46818

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
In unit test.

### Expected behavior
`CuratorZookeeperRepository.get` return correct value, so `GovernanceRepositoryAPIImplTest.assertRenewJobStatus` c

[2022-03-02 07:11] sandynz commented on #15752
Currently, I've sumbmitted PR #15739 as workaround for `assertRenewJobStatus`.

[2022-03-02 07:27] RaigorJiang commented on #15733
Hi @pparthenhs
Thank you for your interest in ShardingSpherer, do you want to participate in this issue?
I will try my best to help if needed.

[2022-03-02 07:38] linghengqian commented on #15695
- Note that `customPoolProps` is a hardcoded string. So for https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/spring-boot-starter/data-source/  , If the JDBC pool is `HikariCP`, `spring.shardingsphere.datasource.<actual-data-source-name>.<xxx>` should actually be `spring.shardingsphere.datasource.<actual-data-source-name>.customPoolProps.<xxx>`? I don't seem to

[2022-03-02 07:52] #15732 closed, assigned to nobody

[2022-03-02 07:54] RaigorJiang commented on #15738
Hi @chrvip
They are compatible with the MySQL protocol, so you can perform some tests and submit specific issues if there is any incompatibility.

[2022-03-02 09:56] wsg96321 commented on #15727
Maybe we can do it in a batch ? like
[code]

At first we have to support this grammar which does not specify table . The purpose of this is to reuse one connection to process different meta of tables , and then we just reflush metadata X times (the resources we have)  instead of Y times (the Cartesian Product of resource's number and table's number ).
eg. We have 100 datasource and 200 tables  in

[2022-03-02 10:11] Huletian opened #15759 "`CREATE SHARDING TABLE RULE` syntax parsing inline expression exception, missing inner single quotes"
## Bug Report
When using distsql to create standard table rules, parsing errors will occur when the inline expression in distsql enumerates the resources of character types .
The following is distsql I used when I created it:

create sharding table rule ed_school (
datanodes("ds_${['bnds','bndsly']}.ed_school"),
database_strategy(
	type=standard,
	sharding_column=school_code,
	sharding_algorithm(T

[2022-03-02 10:46] ZengYu1 commented on #15145
Hi, So how to access the schema of "root"

[2022-03-02 10:50] ZengYu1 commented on #15145
@RaigorJiang Hi, So how to access the schema of "root"

[2022-03-02 10:59] RaigorJiang commented on #15145
@ZengYu1 Can't do it now, can only use public schema

[2022-03-02 10:59] ZengYu1 commented on #15145
你好，已收到你的来信，谢谢

[2022-03-02 11:03] pparthenhs commented on #15731
Dear @RaigorJiang ,

I start working on this issue.

I will let you know when I am finished.

Best regards,
Panagiotis Parthenis

[2022-03-02 12:37] #15722 closed

[2022-03-02 12:45] pokersu opened #15763 "Oracle description connect url not support domain host, just support IP address"
### Suggest:

In Release 5.1.0, The regex pattern in  class org.apache.shardingsphere.infra.database.metadata.dialect.OracleDataSourceMetaData has some issue.

[code]

the connect url causing the problem
[code]

In this class, thinUrlPattern and connectDescriptorUrlPattern just match when Host is IP address, not support domain. and ServiceName has similar issue, ServiceName not support some format

[2022-03-02 12:49] pparthenhs commented on #15705
Dear @sandynz ,

I start working on this ticket.

I will let you know when I am finished.

Best regards,
Panagiotis Parthenis

[2022-03-02 12:52] linghengqian commented on #15327
This leads to a topic I don't understand. If I need to fetch a class from H2Database in JUnit, how do I get the version, artifactId, groupId of the corresponding component of the class? Does this require a specific Maven plugin?

[2022-03-02 13:08] leedongyang commented on #15703
@sandynz Ok, no problem.

[2022-03-02 13:54] #15733 closed

[2022-03-02 14:16] xfzhaoGit opened #15764 "whether to support nested queries or sub queries for split tables? Version 5.1.0"
SELECT
    IFNULL(a.signOneInTime, ''),
    IFNULL(b.signOneOutTime, '')
FROM
    (
        SELECT
            sum(sign_time) AS signOneInTime,
            date_str
        FROM
            original_sign_record  <!— no Slice table-->
        WHERE
            emp_id = ?
        AND sign_time < ?
        AND sign_time > ?
    ) a
LEFT JOIN (
    SELECT
        sum(sign_time) AS signOneOutTime,

[2022-03-02 14:23] xfzhaoGit commented on #15764
sharding-jdbc 5.1.0

[2022-03-02 16:00] #15649 closed

[2022-03-03 02:03] lanchengx commented on #15759
@Huletian Thanks your feedback ,  I will check

[2022-03-03 02:08] #15731 closed

[2022-03-03 02:13] RaigorJiang commented on #15727
Hi @tuichenchuxin
Please take a look, is our understanding of metadata loading correct?

[2022-03-03 02:57] susongyan commented on #15719
may i take this task?

[2022-03-03 02:59] strongduanmu commented on #15719
@susongyan Welcome, I will assign this issue to you.

[2022-03-03 03:09] #15638 closed

[2022-03-03 03:13] TeslaCN opened #15767 "ShardingSphere-JDBC executeBatch without addBatch causes NPE"
## Bug Report

### Which version of ShardingSphere did you use?

- 5.1.0
- 022be4cc6aa8b9e6644be9e4115a95a34430b2f5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior

Got empty array.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configu

[2022-03-03 03:45] #15767 closed

[2022-03-03 04:57] yx9o commented on #15705
@pparthenhs Welcome.

[2022-03-03 05:21] qiaoheng110 opened #15769 "HashModShardingAlgorithm getShardingCount() throw a NumberFormatException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-03-03 05:44] strongduanmu commented on #15769
@qiaoheng110 Thank you for your feedback, I will check this issue.

[2022-03-03 07:21] tuichenchuxin commented on #15727
@RaigorJiang @wsg96321 Yes, your understanding is correct.
For now, we didn't support auto dscover all resource. And I think it's a good idea to auto discover all resource.

[2022-03-03 07:31] sandynz commented on #15705
Welcome!

[2022-03-03 08:53] zjcnb commented on #14112
I think this problem are fixed. So, i will close it.

[2022-03-03 08:53] #14112 closed

[2022-03-03 09:29] hizem opened #15774 "Grammar error in a documentation"
While I was reading the documentation on the official website I noticed a grammar mistake in the **Concepts - Adaptor - ShardingSphere-Proxy** part, I'am willing to contribute to the project thus I created this issue hoping that will be assigned to me as a good first issue.
To correct the mistake you just need to replace **compatible of** with **compatible with** that's all.
The image attached dem

[2022-03-03 09:49] pparthenhs commented on #15705
Hello @yx9o  and @sandynz ,

Thank you for the welcome, I am happy to contribute.

I just open the PR regarding the adding unit test for CRC32MatchMySQLSingleTableDataCalculator.

I remain at your disposal for any code review comments and any further support.

Best regards,
Panagiotis Parthenis

[2022-03-03 10:11] yx9o commented on #15710
@pparthenhs Welcome, assigned to you.

[2022-03-03 10:13] soulasuna commented on #11953
I can try.

[2022-03-03 10:54] linghengqian commented on #11953
- I have seen it in `org.apache.shardingsphere.db.protocol.mysql.packet.command.query.binary.execute.protocol.MySQLDateBinaryProtocolValue` in `5.1.0`. It means `result.setNanos(payload.readInt4() *1_000_000_000);`? Looks like it would cause `org.apache.shardingsphere.db.protocol.mysql.packet.command.query.binary.execute.protocol.MySQLDateBinaryProtocolValueTest#assertReadWithElevenBytes()` to fai

[2022-03-03 10:55] #15769 closed

[2022-03-03 11:10] soulasuna commented on #12720
I try to make `Proxy` supports `CancelRequest` operational.
It is possible to supported at the protocol level, but when the next request is processed, the data returned by the canceled request will be read.
So it cannot be controlled simply by adding a version number to the connection, because `PostgreSQL` an operation will be returned in multiple packets.

[2022-03-03 14:04] afreenabegum commented on #15717
Hi @RaigorJiang .
I would like to work on this issue. Can you assign it to me !!

Thank you.

[2022-03-03 14:12] XuHaijwill opened #15781 "There is LOCATION,PARENT etc in Oracle SQL, then prompt You have an error in your SQL syntax."
My contains the fields LOCATION,PARENT, and the program reported an error.

My Eventment is
shardingsphere 5.1.0(spring-boot-start)
mybaits
Oracle 19c
Java 1.8

sql is:**select location,parent from organization**

[2022-03-03 14:12] pk-218 commented on #15698
I am participating in OpenForce 2022 and would like to work on this issue.
@sandynz  could you assign this issue to me?

[2022-03-03 14:13] XuHaijwill commented on #15781
Hi team,Why can't location and pareant be queried as field names in Oracle?

[2022-03-03 14:18] sandynz commented on #15698
@pk-218 Welcome!

[2022-03-03 14:19] sandynz commented on #15710
Welcome!

[2022-03-03 14:33] yx9o commented on #15717
@afreenabegum Welcome, assigned to you.

[2022-03-03 14:43] Swastyy commented on #15712
Hi @RaigorJiang , I want to do this one under OpenForce 😃 . Thanks.

[2022-03-03 14:46] AnuragProg commented on #15751
Can you assign this issue to me?
I am mentee for OpenForce 2022.

[2022-03-03 14:51] tuichenchuxin commented on #15751
Sure

[2022-03-03 15:23] yx9o commented on #15718
@RakeshPotnuru Welcome, assigned to you.

[2022-03-03 15:32] yx9o commented on #15712
@Swastyy Hi, nice to see you again.
assigned to you.

[2022-03-03 16:02] AnuragProg commented on #15751
Can you provide me steps to flow for e.g. what in which files i need to make changes? It will be really helpful.

[2022-03-04 01:17] tuichenchuxin commented on #15327
I think we can use mock() currently, and test it yourself.

[2022-03-04 01:42] weiboboCN opened #15782 "Federation cannot cast tinyint"
version:5.1.0 release shardingsphere.
 other  framework :mybatis.

sql:
select c.id as companyId ,p.id as projectId ,c.name as companyName,p.name as projectName from company c,project p where c.project_id = p.id and c.state=0;

c.state is defined as tinyint.
project is defined as  **single table**

exception:
java.sql.SQLException: Internal error: exception while executing query: class java.lang.I

[2022-03-04 02:21] cheese8 commented on #15763
I'll solve it, assign it to me, thanks.

[2022-03-04 02:44] qiaoheng110 opened #15783 "Configuration error in a documentation"
While I was reading the documentation on the official website I noticed a configuration mistake in the [spring-boot-starter/rules/readwrite-splitting/](https://shardingsphere.apache.org/document/5.1.0/cn/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/readwrite-splitting/), and the english version also has errors.
there should be props
<img width="799" alt="image" src="https://user-image

[2022-03-04 03:08] strongduanmu commented on #15763
@cheese8 Welcome, assigned.

[2022-03-04 03:31] yangsen00 commented on #15714
May I have a try?

[2022-03-04 03:34] strongduanmu commented on #15714
@yangsen00 Welcome, I just assign this issue to you.

[2022-03-04 03:36] yangsen00 commented on #15714
Thanks

[2022-03-04 04:34] nitishsaini706 commented on #15774
@hizem Are you still working on this ?

[2022-03-04 04:45] hizem commented on #15774
@nitishsaini706  yes I'm working on it

[2022-03-04 05:16] #15783 closed

[2022-03-04 06:35] YoungHu opened #15789 "OracleStatement can't parse alise with 'T'"
## Bug Report

when test oracle sql parse got error. sql text `SELECT NULLIF(T.USER_NO, 'NULL') FROM T_RATION_INFO T`.
if change to low cause character `select nullif(t.user_no, 'null') from t_ration_info t`, parse ok.
what's the problem?

### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Ex

[2022-03-04 06:42] strongduanmu commented on #15789
@tuichenchuxin Can you help check this issue?

[2022-03-04 06:56] secondchilde commented on #15460
sry. I couldn't open GitHub some time ago , The problem has been solved , thank you .

[2022-03-04 07:03] soulasuna commented on #11953
Inconsistent accuracy of `TIMESTAMP` between `MySQL` and `JDBC` caused problems.

MySQL `TIMESTAMP` with up to microseconds (6 digits) precision.
Refer to MySQL official documentation:
https://dev.mysql.com/doc/refman/8.0/en/fractional-seconds.html

JDBC `java.sql.Timestamp` with up to microseconds (9 digits) precision
![pr](https://user-images.githubusercontent.com/33794770/156715465-2aee30ee-84c

[2022-03-04 07:19] secondchilde opened #15791 "Cross database query ,prompt: not support schme"
## Question

When I execute a cross database query . Cross database query tables are two tables of different databases without sub tables

DataBase:  db_puxian_promotion
slice : t_scan_task_number
query: t_activity_limit
DataBase: db_pixiu_order
no slice;
query:t_trade_order、t_trade_order_item

sql:
`
  SELECT
	  COUNT( 1 )
  FROM
	  db_pixiu_order.t_trade_order tto
	  LEFT JOIN db_pixiu_order.t_t

[2022-03-04 07:33] zhao190775705 opened #15792 "sharding5.0 memory take up too much"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc
### Expected behavior

### Actual behavior
Before the project memory 3GB now 6G
### Reason analyze (If you can)
![image](https://user-images.githubusercontent.com/43293476/156718909-d4878dbe-cad8-408d-afdb-a6b170d6cefd.png)
![image](h

[2022-03-04 07:48] #15670 closed

[2022-03-04 07:49] Zhoutzzz opened #15793 "Why ShardingSphere's default transaction isolation level is 'read uncommited'"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we m

[2022-03-04 08:26] super0086 commented on #2488
sharding-jdbc 3.1.0
flyway 5.2.4升级到6.5.5

真的能解决吗？

[2022-03-04 08:34] susongyan commented on #15716
may i take this?

[2022-03-04 08:34] susongyan commented on #15720
may i take this?

[2022-03-04 09:46] BashCache commented on #15699
Hi,
I would like to work on this issue. Can you assign this to me

[2022-03-04 10:02] strongduanmu commented on #15720
@susongyan Welcome.

[2022-03-04 10:37] RaigorJiang commented on #15716
@susongyan Welcome.

[2022-03-04 10:53] #15759 closed

[2022-03-04 11:03] xfzhaoGit opened #15798 "query result bug"
## Bug Report

**For English only**, other languages will not accept.
.org/document/current/en/overview).

SELECT
b.id,
a.name,
IFNULL(b.signTime, ''),
date_str dateStr
FROM
user a
LEFT JOIN (
SELECT
sum(sign_time) AS signTime,
date_str,
user_id,
FROM
user_sign_record <!— Slice table —>
WHERE
user_id = ?
GROUP BY date_str
) b ON a.id = b.user_id
ORDER BY a.name

user:
id | name
---|---
1 | zhangsa

[2022-03-04 13:57] zhaoliansheng2022 opened #15799 "When sysbench prepare is used，java.lang.NullPointerException：null"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-04 14:01] #15705 closed

[2022-03-04 15:05] zjcnb opened #15800 "The `ReadwriteSplittingDataSourceRuleConfiguration` need add unit test"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

`ReadwriteSplittingDataSourceRuleConfiguration` need add some unit test.

- [ ] `ReadwriteSplittingDataSourceRuleConfiguration.getAutoAwareDataSourceName()`
- [ ] `ReadwriteSplittingDataSourceRuleConfiguration.getWriteDataSourceName()`
- [ ] `ReadwriteSplittingDataSou

[2022-03-04 15:28] zjcnb opened #15801 "The `ReadwriteSplittingDataSourceRule.getWriteDataSource()` need add unit test"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

ReadwriteSplittingDataSourceRule.getWriteDataSource() need add unit test. I think should be consider `DynamicReadwriteSplittingType` and `StaticReadwriteSplittingType`.

[2022-03-05 03:55] neoneww commented on #15715
may i take this?

[2022-03-05 07:07] #11953 closed

[2022-03-05 07:07] aniketh-varma commented on #15715
Hi, I am a contributor to OpenForce 2022. I would like to work on this issue.

[2022-03-05 07:19] TeslaCN commented on #15792
It seems the instances are quite a log but the shallow size is not very large. Could you show us the retained size and provides some configurations?

[2022-03-05 08:06] pk-218 commented on #15698
@sandynz I had a query
In the `PipelineTableMetaData` class, there is a method `getColumnMetaData` which is overloaded; the following are the method signatures:
[code]
Should I test both these methods in the same JUnit test method and name it `assertGetColumnMetaData` or create separate test methods like `assertGetColumnMetaDataGivenColumnIndex` and `assertGetColumnMetaDataGivenColumnName`?

[2022-03-05 09:36] strongduanmu commented on #15715
@neoneww Welcome, I will assign this issue to you.

[2022-03-05 09:37] strongduanmu commented on #15715
Hi @aniketh-varma, since @neoneww claimed this issue first, you are welcome to claim other OpenForce issues.

[2022-03-05 09:39] aniketh-varma commented on #15721
Hi, I am a part of OpenForce 2022. I would like to work on this issue.

[2022-03-05 09:41] strongduanmu commented on #15721
@aniketh-varma Welcome, I will assign this issue to you.

[2022-03-05 09:45] strongduanmu commented on #15799
@zhaoliansheng2022 Thank you for your feedback, I will investigate this issue.

[2022-03-05 10:59] ankitadam commented on #15713
Hii, I am a beginner. I know only basics of Java. Will I be able to work on this?

[2022-03-05 11:08] RakeshPotnuru commented on #15718
Hi @RaigorJiang, @yx9o
Can you guide me a little on this issue?

[2022-03-05 13:01] #15710 closed

[2022-03-05 14:23] rithikarajk commented on #15709
Hi, I am an Openforce 2022 participant. I would like to work on this issue.

[2022-03-05 14:33] sandynz commented on #15709
Hi @rithikarajk , welcome!

[2022-03-05 14:48] Kamalesh3112 commented on #15717
Hi @RaigorJiang
With your kind permission , I could be great to work on this issue .
Can you assign this issue to me ?

[2022-03-05 14:52] #15799 closed

[2022-03-05 14:58] tuyendev commented on #1948
The latest version (5.1.0) got this bug. Please open and review

[2022-03-05 15:03] rithikarajk commented on #15709
@sandynz Thank you.

[2022-03-05 15:03] RaigorJiang commented on #15717
Hi @Kamalesh3112
Thanks for your attention, but this issue has been assigned to @afreenabegum, let's give him more time to fix it.
Maybe you can take a look at other issues, and I will also add more issues for example project.

[2022-03-05 15:04] RaigorJiang commented on #15718
@RakeshPotnuru
Sure, which part do you have questions about?

[2022-03-05 15:05] Kamalesh3112 commented on #15717
That's fine @RaigorJiang . No issues , let the person can solve . Sure that's great

[2022-03-05 15:07] RaigorJiang commented on #15713
Hi @ankitadam
Thank you for your attention.
This issue only requires basic java programming skills (because a lot of code can be copied), in fact, just add a maven submodule, and copy some code and configuration with reference to the example

[2022-03-05 15:10] RakeshPotnuru commented on #15718
@RaigorJiang
Can you give more details about this issue? I am first time contributing to this project.

[2022-03-05 15:11] ankitadam commented on #15713
Ok got it, I would like to work on it. Please assign it to me.

[2022-03-05 15:18] RaigorJiang commented on #15718
@RakeshPotnuru
Did you clone the project?
Open the example project with the IDE and find the example module given in the description.
You will find that there is only one java-raw access example under `spi-based-sharding-algorithm-example`.
In fact, ShardingSphere supports multiple access ways. For more infor, you can refer to the module module `sharding-spring-boot-jpa-example`.

[2022-03-05 15:19] RaigorJiang commented on #15718
<img width="477" alt="image" src="https://user-images.githubusercontent.com/5668787/156889498-5b708aea-a63f-4366-9a22-1a197ed09981.png">

[2022-03-05 15:42] shreya024 commented on #15800
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-05 15:48] RaigorJiang opened #15810 "[OpenForce 2022] Add `encrypt-spring-boot-jpa-example` for `encrypt-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[encrypt-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/encrypt-example) is used to demonstrate how to integrate ShardingSphere-JDBC and encrypt data.

Now, it has three su

[2022-03-05 15:51] RaigorJiang opened #15811 "[OpenForce 2022] Add `encrypt-spring-namespace-jpa-example` for `encrypt-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background

[encrypt-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/encrypt-example) is used to demonstrate how to integrate ShardingSphere-JDBC and [encrypt data](https://shardingsphe

[2022-03-05 16:07] RaigorJiang opened #15812 "[OpenForce 2022] Add `shadow-spring-namespace-jpa-example` for `shadow-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background
What is feature `Shadow`?
https://shardingsphere.apache.org/document/current/en/features/shadow/

[shadow-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/shadow-example) is u

[2022-03-05 16:09] RaigorJiang opened #15813 "[OpenForce 2022] Add `shadow-spring-boot-jpa-example` for `shadow-example`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background
What is feature Shadow?
https://shardingsphere.apache.org/document/current/en/features/shadow/

[shadow-example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/shadow-example) is use

[2022-03-05 16:40] utkershrajvenshi commented on #15711
Hi @RaigorJiang
I wish to contribute to this issue under OpenForce 2022 and want to clarify some doubts for this ticket...

[2022-03-05 17:15] MitAbhay commented on #15810
Hey, I am an OpenForce 2022 contributor, and want to work on this issue, can you assign it to me?

[2022-03-05 23:34] strongduanmu commented on #15800
@shreya024 Welcome, I will assign this issue to you.

[2022-03-05 23:48] strongduanmu opened #15815 "Add unit test for TablesContext#findTableNamesByColumnProjection"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add unit test for TablesContext#findTableNamesByColumnProjection.

- TablesContext#findTableNamesByColumnProjection

[2022-03-05 23:50] strongduanmu opened #15816 "Add unit test for ColumnSegment#getExpression"
Hi community,

We need to add unit test for ColumnSegment#getExpression.

- ColumnSegment#getExpression

[2022-03-05 23:54] strongduanmu opened #15817 "Add some unit test for AssistQueryAndPlainInsertColumnsTokenGenerator"
Hi community,

We need to add some unit test for AssistQueryAndPlainInsertColumnsTokenGenerator.

- AssistQueryAndPlainInsertColumnsTokenGenerator#isGenerateSQLToken
- AssistQueryAndPlainInsertColumnsTokenGenerator#generateSQLTokens

[2022-03-05 23:55] strongduanmu opened #15818 "Add unit test for EncryptAssignmentTokenGenerator"
Hi community,

We need to add some unit test for EncryptAssignmentTokenGenerator.

- EncryptAssignmentTokenGenerator#isGenerateSQLToken
- EncryptAssignmentTokenGenerator#generateSQLTokens

[2022-03-05 23:56] strongduanmu opened #15819 "Add unit test for EncryptForUseDefaultInsertColumnsTokenGenerator"
Hi community,

We need to add unit test for EncryptForUseDefaultInsertColumnsTokenGenerator.

- EncryptForUseDefaultInsertColumnsTokenGenerator#isGenerateSQLToken
- EncryptForUseDefaultInsertColumnsTokenGenerator#generateSQLToken

[2022-03-05 23:57] strongduanmu opened #15820 "Add unit test for EncryptInsertOnUpdateTokenGenerator"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add some unit test for EncryptInsertOnUpdateTokenGenerator.

- EncryptInsertOnUpdateTokenGenerator#isGenerateSQLToken
- EncryptInsertOnUpdateTokenGenerator#generateSQLTokens

[2022-03-05 23:58] strongduanmu opened #15821 "Add unit test for EncryptInsertValuesTokenGenerator"
Hi community,

We need to add some unit test for EncryptInsertValuesTokenGenerator.

- EncryptInsertValuesTokenGenerator#isGenerateSQLToken
- EncryptInsertValuesTokenGenerator#generateSQLTokens

[2022-03-05 23:59] strongduanmu opened #15822 "Add unit test for EncryptOrderByItemTokenGenerator"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add some unit test for EncryptOrderByItemTokenGenerator.

- EncryptOrderByItemTokenGenerator#isGenerateSQLToken
- EncryptOrderByItemTokenGenerator#generateSQLTokens

[2022-03-05 23:59] strongduanmu opened #15823 "Add unit test for EncryptPredicateColumnTokenGenerator"
Hi community,

We need to add some unit test for EncryptPredicateColumnTokenGenerator.

- EncryptPredicateColumnTokenGenerator#isGenerateSQLToken
- EncryptPredicateColumnTokenGenerator#generateSQLTokens

[2022-03-06 00:00] strongduanmu opened #15824 "Add unit test for EncryptPredicateRightValueTokenGenerator"
Hi community,

We need to add some unit test for EncryptPredicateRightValueTokenGenerator.

- EncryptPredicateRightValueTokenGenerator#isGenerateSQLToken
- EncryptPredicateRightValueTokenGenerator#generateSQLTokens

[2022-03-06 00:01] strongduanmu opened #15825 "Add unit test for InsertCipherNameTokenGenerator"
Hi community,

We need to add some unit test for InsertCipherNameTokenGenerator.

- InsertCipherNameTokenGenerator#isGenerateSQLToken
- InsertCipherNameTokenGenerator#generateSQLTokens

[2022-03-06 00:03] strongduanmu commented on #15798
Hi @xfzhaoGit, thank you for your feedback, can you open `sql-federation` for this query?

[2022-03-06 00:43] xfzhaoGit commented on #15798
Yes, sql-show is true and Confirm to scan all tables.

Is it because this SQL is not supported？

And my configuration is on the intranet and I can't upload the value GitHub，sorry。

[2022-03-06 00:51] RaigorJiang commented on #15711
Hi @utkershrajvenshi
Welcome to Apache ShardingSphere, which part do you have questions about?

[2022-03-06 00:52] RaigorJiang commented on #15810
Welcome @MitAbhay

[2022-03-06 01:51] yx9o commented on #15774
Fixed by #15788 .

[2022-03-06 01:51] #15774 closed

[2022-03-06 01:55] xfzhaoGit commented on #15798
open fedreation sql is error！

My configuration is on the intranet, and GitHub is not easy to upload. Can I add wechat group?

[2022-03-06 03:07] shankeerthan-kasilingam commented on #15454
I was able to reproduce the issue. The test suite fails to start the Containers that cause the PSQL connection error. Because our current wait Strategy relies on log messages. What happened is after logging “ready to accept the connection”, the test container throws an error that it failed to create container exceptions. I’m further analyzing it and I'll get back to you.

[2022-03-06 03:39] zhao190775705 commented on #15792
What configuration do I need？
sharding?
Only when business is busy memory take up too much
I can't reproduce the problem locally
Memory snapshots can be provided
Does it work for you ？

You' ve had a long day.

[2022-03-06 04:20] boyjoy1127 opened #15827 "Implementation CustomizedFilterableExecutor.executeQuery() method"
## Feature Request

Implementation  CustomizedFilterableExecutor.executeQuery() method.

[2022-03-06 05:39] zhao190775705 commented on #15792
![image](https://user-images.githubusercontent.com/43293476/156910753-1c308b5b-93b6-4d4b-91d7-9591a7e82985.png)
I'm trying to change this file
Would it be all right?

[2022-03-06 06:28] menghaoranss commented on #15800
@shreya024 please refer to `ReadwriteSplittingRuleTest` as an example, just create an object through `new ReadwriteSplittingDataSourceRuleConfiguration`, and then assert whether the value obtained by the above method is the same as you expect

[2022-03-06 06:29] strongduanmu commented on #15798
@yang-7777 Yes, you can send wechat number to my email——[duanzhengqiang@apache.org](mailto:duanzhengqiang@apache.org)

[2022-03-06 06:43] #15564 closed

[2022-03-06 06:46] xfzhaoGit commented on #15798
Wechat has been sent to your email. Please pull me into SS discussion group. Thank you

[2022-03-06 08:23] #15698 closed

[2022-03-06 10:03] TeslaCN commented on #15792
SQL parser cache can be configured since 5.1.0.
https://shardingsphere.apache.org/document/5.1.0/en/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-parser/

[2022-03-06 10:05] TeslaCN commented on #15792
It would be helpful if you can provide the heap dump file.

[2022-03-06 10:37] Comven opened #15831 "NullPointerException during upgrade from 5.0.0 to 5.1.0"
version：shardingsphere-jdbc-core-spring-boot-starter-5.1.0

Upgrade shardingsphere from 5.0.0 to 5.1.0,Throw the following exception：
[code]
Downgrade from 5.1.0 to 5.0.0, and the program runs normally. The configuration information is as follows:
[code]

Does anyone know what caused it？

[2022-03-06 11:11] soma2000-lang commented on #15812
@RaigorJiang  I am working on this issue I am a participant of

[2022-03-06 11:14] RaigorJiang commented on #15812
Hi @soma2000-lang
Welcome to Apache ShardingSphere, I will assign it to you.

[2022-03-06 11:57] zjcnb commented on #15831
@Comven Hello, the readwrite-splitting api has been changed at 5.1.0, you can refer to this : https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/readwrite-splitting-example/readwrite-splitting-spring-boot-mybatis-example/src/main/resources/application-readwrite-splitting.properties.

[2022-03-06 12:08] Comven commented on #15831
@zjcnb I see. Thank you very much!

[2022-03-06 12:08] #15831 closed

[2022-03-06 12:24] utkershrajvenshi commented on #15711
I need to know if I need to optimize SchemaPrivilegesPermittedAuthorityProviderAlgorithm.java file here( shardingsphere-kernel/shardingsphere-authority/shardingsphere-authority-core/src/main/java/org/apache/shardingsphere/authority/provider/schema/SchemaPrivilegesPermittedAuthorityProviderAlgorithm.java )

Or I need to optimize the configuration in the docs' authentication.en.md here( docs/documen

[2022-03-06 13:54] alceil commented on #15825
Hi, I am  Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-06 15:11] everly-gif commented on #15813
Hi, I would like to work on this ! could you assign it to me

[2022-03-06 15:53] RaigorJiang commented on #15813
@everly-gif Sure, welcome!

[2022-03-06 16:04] RaigorJiang commented on #15711
Hi @utkershrajvenshi
The files you pointed out are absolutely correct, including the java files and documentation.
In fact, there are three other files that need to be adjusted accordingly:
- `SchemaPrivilegeBuilder.java`
It builds userPrivilegeMap based on configuration in props
- `SchemaPrivilegesPermittedShardingSpherePrivileges.java`
Its methods are used to determine whether the user has the c

[2022-03-06 16:09] Ardent10 commented on #15824
Hello there,

[2022-03-06 16:12] Ardent10 commented on #15824
I wanted to contribute but I don't know Java at the moment, I get to understand that this project is related to  Databases, I do understand MongoDB and SQL. I don't know if it would be helpful or not.
Can you please guide me how can get started in this prroject?

[2022-03-07 00:43] strongduanmu commented on #15825
Welcome @alceil, I will assign this issue to you. For first contribution, you can read [code conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/) first, it may be helpful to you.

[2022-03-07 01:02] strongduanmu commented on #15824
Hi @Ardent10, this project is developed in java, so java is a must-have skill. If you want to participate in this issue, my suggestion is to learn the use of java first and understand how to use juint for unit testing.

[2022-03-07 01:17] strongduanmu opened #15835 "SQL parse error when execute postgresql select statement"
## Bug Report

### Which version of ShardingSphere did you use?

[b3e90fc](https://github.com/apache/shardingsphere/commit/b3e90fc9f8df3057b75ae3c7630a6c02b930d0d7)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM cypher('sharding_test_1', $$ CREATE (n) $$) as (a agtype)` successfully.

### Actual beha

[2022-03-07 01:18] strongduanmu commented on #15835
@tuichenchuxin Can you help check this sql?

[2022-03-07 01:19] tuichenchuxin commented on #15835
sure, I'll check it.

[2022-03-07 02:42] menghaoranss opened #15836 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/contributor.cn.md

Official document link:
https://shardingsphere.apache.org/commu

[2022-03-07 03:02] menghaoranss opened #15837 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/committer.cn.md

Official document link:
https://shardingsphere.apache.org/communi

[2022-03-07 03:04] RaigorJiang commented on #15405
Hi @jingshanglu
I found the `xa_recovery_id` in the `ComputeNode`, so I plan to make the following adjustments:
- Added display of `XA_RECOVERY_ID` in `SHOW INSTANCE LIST`
- Added a DistSQL syntax to modify it:
`ALTER INSTANCE 10.x.x.xxx@3307 SET XA_RECOVERY_ID xxx`

[2022-03-07 03:05] Swastyy commented on #15837
Hi @menghaoranss , I want to take this one please. Thanks.

[2022-03-07 03:09] menghaoranss commented on #15837
welcome, this is yours.

[2022-03-07 03:10] tiru233 commented on #15837
@menghaoranss, I like to take part in this thanks

[2022-03-07 03:11] menghaoranss commented on #15824
@Ardent10 Here is a document optimized issue #15836 , would you like to try it?

[2022-03-07 03:22] zhao190775705 commented on #15792
I know this is not a good method of transmission.......bother you
send  wuweijie@apache.org, please check it email

[2022-03-07 03:31] LiangZai8 opened #15840 "What are the limitations of sharding JDBC on SQL?"
Dear developer 👍
I have a problem, for example:
![image](https://user-images.githubusercontent.com/77952342/156962561-08d78626-490b-4e76-890c-2935ae4f4cc8.png)

I can't know which SQL keywords can't be used, We have a lot of items. I need to know what can't be used. It's easier to change it
 Thanks;

[2022-03-07 03:34] anishacse2018 commented on #15836
I am a openforce contributor. I would like to work on this issue. Could you plz assign it to me?

[2022-03-07 03:35] menghaoranss commented on #15836
@anishacse2018 welcome

[2022-03-07 03:38] #15719 closed

[2022-03-07 03:57] menghaoranss opened #15843 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/code-conduct.cn.md

Official document link:
https://shardingsphere.apache.org/comm

[2022-03-07 05:08] #15637 closed

[2022-03-07 05:09] developer-diganta commented on #15843
I am a openforce contributor. I would like to work on this issue. Could you plz assign it to me?

[2022-03-07 05:36] #15837 closed

[2022-03-07 05:37] menghaoranss commented on #15843
@developer-diganta nice to see you here, welcome

[2022-03-07 05:59] jhanvi831 commented on #15843
Hi @menghaoranss I am Jhanvi, a contributer to OprnForce 2022. I would also like to work on this issue. I would make a PR soon as I am done with resolving the issue. Can you assign the task to me too?

[2022-03-07 06:35] purohitmansi commented on #15836
Hello @menghaoranss!

I am an openforce 2022 contributor. I would also love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-07 06:50] lizhuquan0769 opened #15845 "release src report file path too long on win10"
like title describe

[2022-03-07 07:07] abhijeetjejurkar commented on #15815
Hey,
 Can I try for this issue?

[2022-03-07 07:13] strongduanmu commented on #15815
@abhijeetjejurkar Welcome, for the first contribution, you can read [code conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/) first, it may be helpful to you.

[2022-03-07 07:18] abhijeetjejurkar commented on #15815
Sure..Thankyou!

[2022-03-07 07:31] #15275 closed

[2022-03-07 07:34] #15843 closed

[2022-03-07 07:39] menghaoranss opened #15847 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/document-contributor.cn.md

Official document link:
https://shardingsphere.apache.

[2022-03-07 07:41] developer-diganta commented on #15847
Can I work on this one?

[2022-03-07 07:46] menghaoranss commented on #15845
refer to [FAQ](https://shardingsphere.apache.org/document/current/en/reference/faq/#other-in-windows-environmentwhen-cloning-shardingsphere-source-code-through-git-why-prompt-filename-too-long-and-how-to-solve-it)

[2022-03-07 08:24] onevroad commented on #15689
Is there any way to fix it?

[2022-03-07 08:56] strongduanmu commented on #15689
@onevroad Thank you for your feedback, we will fix this bug.

[2022-03-07 10:00] zjcnb opened #15851 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/reference/test/performance-test/performance-test.cn.md

Official document link:
https://shardi

[2022-03-07 10:05] #15720 closed

[2022-03-07 10:49] seraph14 commented on #15851
Can I work on this one?

[2022-03-07 10:58] seraph14 commented on #15824
I know java and the basics of unit testing with JUnit. Can I work on this issue?

[2022-03-07 11:07] grvmourya commented on #15851
Hi, I'm currently working as a unity game developer and have worked on some cool looking games as well as there documentations, therefore as a CODEFLOW’22 contributor if possible do let me handle the optimisation of the document so that it be more intuitive to the end users.
Thank you

[2022-03-07 11:11] RaigorJiang commented on #15734
Hi @liruhui
Regarding the usage scenarios you provided, I have some notes:
1. Your actual database names can be arbitrary. When adding a data source in ShardingSphere, an internal name will be set for the dataSource (like ds_0, ds_1), and they can be regular.

2. The built-in MOD algorithm is for autoTable and it cannot be paired with actualDataNodes, which is what causes the exception you provide

[2022-03-07 11:14] menghaoranss commented on #15824
@seraph14 sure, look forward to your contribution.

[2022-03-07 11:24] seraph14 commented on #15851
No, I won't mind. Thanks for checking if I am okay with it.

[2022-03-07 11:26] grvmourya commented on #15851
Thanks a lot @seraph14 so kind of you.

[2022-03-07 11:32] vasantisuthar commented on #15823
Hi, I am Vasanti Suthar, a contributor to OpenForce 2022. I would like to work on this issue. At the time I am not familiar with the unit test but I do know Java and Databases, can you guide me to work on this issue. Thank you.

[2022-03-07 11:40] developer-diganta commented on #15847
Is the process for contribution like this right? : fork -> clone -> branch -> add -> commit -> push -> pr?
Because after cloning the project, when I check the status I am getting a lot of changed files ready for commit:
![image](https://user-images.githubusercontent.com/65999534/157024133-6c198444-5e3a-4513-8be0-4a35150e34be.png)

[2022-03-07 11:42] strongduanmu commented on #15823
Welcome @vasantisuthar, for first contribution, you can read [code conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/) first, it may be helpful to you.

Then you can refer to EncryptParameterRewriterBuilderTest, which is a typical JUNIT unit test. First, you need to mock the object that the unit test depends on through the mock method, then call the public method that

[2022-03-07 12:33] gauriimaheshwarii commented on #15851
Can I work on this one?

[2022-03-07 12:42] ayushi424 commented on #15851
Hi, I am Ayushi, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-07 14:11] TeslaCN opened #15858 "Possibly poor performance in OrderedServicesCache's cache"
## Performance

The overhead of `org.apache.shardingsphere.spi.ordered.OrderedSPIRegistry` is a little heavy.

I try replacing Guava cache with ConcurrentHashMap in `org.apache.shardingsphere.spi.ordered.cache.OrderedServicesCache` and found the overhead is reduced.

[code]

<img width="1663" alt="image" src="https://user-images.githubusercontent.com/20503072/157048884-072ff83f-0c62-4c83-89d7-5b9f

[2022-03-07 14:30] grvmourya commented on #15851
Thanks @zjcnb for assigning me.😇

[2022-03-07 14:41] gauriimaheshwarii commented on #15836
Can I contribute to this one??

[2022-03-07 14:44] zjcnb opened #15860 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/builtin-algorithm/shadow.cn.md

Official document link:
https:

[2022-03-07 14:45] zjcnb commented on #15860
@[gauriimaheshwarii](https://github.com/gauriimaheshwarii) Are you interested in this?

[2022-03-07 14:46] zjcnb commented on #15860
@[gauriimaheshwarii](https://github.com/gauriimaheshwarii) Are you interested in this?

[2022-03-07 14:46] zjcnb commented on #15851
https://github.com/apache/shardingsphere/issues/15860 , Can you fix it?

[2022-03-07 15:00] utkershrajvenshi commented on #15711
Great! Thanks for clearing it up @RaigorJiang
I wish to work on this issue so could you please assign it to me?

[2022-03-07 15:01] utkershrajvenshi commented on #15711
Also, could you please share your Slack id so I can ping you there for possibly further questions on this ticket...

[2022-03-07 15:10] zjcnb opened #15861 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-scaling/usage.cn.md

Official document link:
https://shardingsphere

[2022-03-07 15:10] zjcnb commented on #15861
@[ayushi424](https://github.com/ayushi424) Are you interested in this?

[2022-03-07 15:11] zjcnb commented on #15851
#15861, Can you fix it?

[2022-03-07 15:25] ayushi424 commented on #15861
Yes, I would like to work on this issue.
@zjcnb

[2022-03-07 15:41] zjcnb commented on #15860
Sure, you can search `SQL操作类型（INSERT, UPDATE, DELETE, SELECT）`.

[2022-03-07 15:42] zjcnb commented on #15861
Cool.

[2022-03-07 17:05] Pdahiya5033 commented on #15821
Hi @strongduanmu
I would like to contribute to this issue being a participant in openforce 22

[2022-03-07 19:00] knight-95 commented on #15851
Hi, I am Yash Gupta, a contributor to OpenForce 2022. I would like to work on this issue. I have already created a pull request but it's under review

Major Work Done:
-**Added space between Chinese and English alphabets**

[2022-03-08 01:18] strongduanmu commented on #15821
Welcome @Pdahiya5033, For first contribution, you can read [code conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/) first, it may be helpful to you.

[2022-03-08 02:22] RaigorJiang commented on #15711
Okey,  I am in the channel `openforce2022` of Apache ShardingSphere, you can search `Raigor Jiang` to find me there. 😁

[2022-03-08 02:56] soulasuna commented on #11958
The configuration file does not contain `TableMetaData` which should be invisible to the user. So it should not be controlled by `overwrite` to load or not.
The changed `TableMetaData` is synchronized and broadcasted in the cluster when each proxy starts in the same cluster.
@menghaoranss Please assign to me if you agree.

[2022-03-08 03:06] #15835 closed

[2022-03-08 04:50] huangyilong2000 commented on #15822
Hello, Is this issue still open? I want to work on this issue.
I am familiar with Java. This is my first contribution. I will appreciate if you can give me guide woring on this issue.

[2022-03-08 04:59] zhao190775705 commented on #15792
I want to know “ParameterMarkerExpressionSegment” this class to do with？
I wonder if it is possible that the parsing SQL failed？
I'm not good enough to test some hypothesis

[2022-03-08 05:17] menghaoranss commented on #11958
@soulasuna cool, I agree with you

[2022-03-08 05:33] TeslaCN commented on #15792
Hi @zhao190775705
I've checked your heap dump and found that the caches of SQL parser retained hundreds of megabytes memory, especially some SQLs are very large.

![image](https://user-images.githubusercontent.com/20503072/157172417-80310aeb-17ed-4938-a8a2-7fa81db104ee.png)

![image](https://user-images.githubusercontent.com/20503072/157172527-095b6a90-38df-4141-a17c-acd4fa33db77.png)

Fortunately

[2022-03-08 05:42] strongduanmu commented on #15840
Hi @LiangZai8, can you provide more information? version and sharding configuration?

[2022-03-08 06:42] pparthenhs commented on #15701
Hello @menghaoranss, I can work on this issue.

[2022-03-08 06:47] #15858 closed

[2022-03-08 06:48] #15716 closed

[2022-03-08 07:06] knight-95 commented on #15860
I would like to contribute for this issue under OpenForce 2022

[2022-03-08 07:22] zhao190775705 commented on #15792
![image](https://user-images.githubusercontent.com/43293476/157186769-4974e141-a57f-43c9-b748-1ba1a85fd81d.png)
I'm trying to build the source code to change the size here？
but it didn't work out that way。
I need your help

[2022-03-08 07:26] zhao190775705 commented on #15792
The problem is only on the line。
We were afraid of other problems after the upgrade？
Let's see if there's another solution
thank you

[2022-03-08 07:28] TeslaCN commented on #15792
How long is your SQL? If the SQL string took about 3MB, each cache entry which contains key and value will take about 10MB.

[2022-03-08 07:51] #15861 closed

[2022-03-08 08:10] zhao190775705 commented on #15792
We set the cache capacity to a smaller value？
What are some of the consequences。
Does it have a significant performance impact？

[2022-03-08 08:12] ICannerxy opened #15873 "create table with foregin key error"
## Bug Report

### Which version of ShardingSphere did you use?

- 5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

- ShardingSphere-Proxy

### Expected behavior

![image](https://user-images.githubusercontent.com/40480377/157192481-8d8f79b5-325f-420c-87f9-174243c1b251.png)

Successfully created a table .

### Actual behavior

![image](https://user-images.githubu

[2022-03-08 08:15] ICannerxy commented on #15873
I will fix this problem in these days.

[2022-03-08 08:20] TeslaCN commented on #15792
It may take more time on parsing SQL if you reduce the max size.

[2022-03-08 08:24] SirMin opened #15874 "type convert"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
no

### Describe the feat

[2022-03-08 08:26] SirMin commented on #15874
![class](https://user-images.githubusercontent.com/16568907/157196593-732c31fc-f227-4eb2-940d-a1b824df892c.png)
![load all TypeHandler](https://user-images.githubusercontent.com/16568907/157196705-e0e8d22b-325f-48e4-836c-b0043d9a5294.png)
![get target type value with memory](https://user-images.githubusercontent.com/16568907/157196616-8d1a6f5e-ba0a-44de-899d-333bf60185e4.png)
![get target type val

[2022-03-08 08:34] strongduanmu commented on #15873
Thank you @ICannerxy, waiting for you pr.

[2022-03-08 08:48] zhao190775705 commented on #15792
ok I know，We try to change sql tomorrow See if it works。
We found that the SQL was probably too long

[2022-03-08 09:10] zhao190775705 commented on #15792
my advice key not use string ，the algorithm is used to convert to int？
Could this be a better option？

[2022-03-08 09:16] galaxylqx opened #15876 "multiple data source aggregation"
Problem Description：multiple  data source ，use the same database instance. for example, The host is 127.0.0.1 and port is 3306，Need to create multiple connection pools，If it is 100 databases，You need to create 100 connection pools

[code]

Therefore, whether the same database instance will share the connection pool for aggregation，Increase the parameter identification whether to enable aggregation