[2020-09-11 03:36] #7398 closed

[2020-09-11 03:36] fantacy2001 opened #7401 "sharding jdbc, when insert config useGeneratedKeys , in one Transactional , the ID obtained by batch insertion is the first one"
it is the same with #7227
sharding jdbc 4.0.0
mybatis spring
is single insert
sql mapper:
 like "insert into table values();"

sharding config ： only sharding db , Custom keyGenerator : UidGenerator
in one Transactional , Loop in the java code to call single insert Dao（insertByStockMoveDetail）, like ：
for(A a : aList){
insertByStockMoveDetail(a);
}
The insertion ID obtained each time in the loop i

[2020-09-11 03:36] tristaZero commented on #7324
@lidonghai11 Thanks for your feedback, my test worked well.

[2020-09-11 03:37] tristaZero commented on #7381
Great explanation. : )

[2020-09-11 03:57] tristaZero commented on #7269
Hi @dongfangding

Let us make it clear.
I assume that you can still configure any of the `slaves` or `masters` node for any sharding table even though there is master-slave rule.
However, your statement told me that this `master-slave` node rather than any slaves from this `master-slave` node would be used, as long as `master-slave` rule exists.
Does that is our conclusion?

Can you make sure the

[2020-09-11 04:02] tristaZero commented on #7226
@chana71 So could we conclude that the possible issue is `subquery` cannot support `keyword` of `MySQL`?
Plus, what if there is no `keyword` in `subquery`?

@jingshanglu Could you check whether the SQL above is supported on our master branch?

[2020-09-11 04:06] tristaZero commented on #7232
@hujuncheng Thanks for your feedback, which gave one solution to the guys using 4.x release, I supposed. Besides, Please expect our next release including this bugfix. :-)

[2020-09-11 04:08] tristaZero commented on #6367
@H00380243 The incoming release.

[2020-09-11 04:10] tristaZero commented on #7401
@fantacy2001 Hi thanks for your issue and debugging.
Since @terrymanu is taking charge of the relevant issue, could you give this one a look? Thanks.

[2020-09-11 05:46] #7376 closed

[2020-09-11 05:56] lidonghai11 commented on #7324
zookeeper-3.4.5  can't work with  the current latest  proxy.  But zookeeper-3.6.2 worked well.   I suggest that you should investigate the reason why zookeeper-3.4.5   cant  work with current proxy.

[2020-09-11 05:56] fantacy2001 commented on #7401
when the second sql is executed, in method setGeneratedValues,  the generatedValues has two id,  then sqlRouteResult.getGeneratedKey().get().getGeneratedValues().addAll(generatedValues ) ,so sqlRouteResult has two id , pass on mybatis's method getResult
<img width="960" alt="key22" src="https://user-images.githubusercontent.com/49382774/92869925-e7587700-f435-11ea-9dab-35e817fa4bc7.png">

[2020-09-11 08:37] #7288 closed

[2020-09-11 08:37] #7325 closed

[2020-09-11 10:22] yang-7777 commented on #234
360数科 https://www.360jinrong.net/

[2020-09-11 11:02] kimmking commented on #7401
can you show your config rules, logic sql, actual sql ?

[2020-09-11 11:07] #7195 closed

[2020-09-11 12:45] mark4z commented on #7129
Sorry, I can't resume it now. but actually it doesn't work.

like this:

Actual SQL: ds0 ::: select count(1) from forward left join back0 on back0.id = forward.id and back0.price = 100 where forward.id = 1
Actual SQL: ds0 ::: select count(1) from forward left join back1 on back1.id = forward.id and back1.price = 100 where forward.id = 1

‘back’ is a table which has been sharing and the key is 'pri

[2020-09-11 16:10] fantacy2001 commented on #7401
version 4.0.0
Because I redefined sharding's access with Java, the configuration file is different from the official one。
It is divided into two libraries, each of which has one master and two slaves。
sharding field： tenant_id
KeyGenerator is baidu UID
the customize sharding Algorithm ，implements PreciseShardingAlgorithm

2020-09-12 00:03:19 [INFO] [main] - ShardingSphere-SQL.log():99 - Logic SQL:

[2020-09-12 01:00] jingshanglu commented on #7226
Statement is right, rewrite is wrong.

[2020-09-12 03:44] flycoolman commented on #7307
Hi @terrymanu @tristaZero ,
Please review the changes and let me know any further changes. This fix does not include the folder of 'examples'.
I have all the tests pass locally. I would like to keep this fix as small as possible, as long as all the tests can pass.
As expected, there are lots of conflicts.

Thanks for your patience.

[2020-09-12 04:04] terrymanu opened #7418 "Add test case for ExpectedExceptions"

[2020-09-12 04:14] wenweibin commented on #7418
please  assgin to me

[2020-09-12 05:16] sandynz opened #7419 "Make SQLParseResultCache maximum cached elements size customizable"
## Feature Request

### Is your feature request related to a problem?
No error, it might hurt performance.

### Describe the feature you would like.
Currently, `SQLParseResultCache` has maximum cached elements size `65535`.
In some scenario, routed sql will be parsed again. Since logical table has been rewritten as physical table, it need more cache.

[2020-09-12 07:21] dongfangding commented on #7269
I got some inspiration and adjusted the actual-data-node of auth_user and user_article.
But I don't have that many data sources. If I only have three data sources, I didn't consider `database-strategy` initially, so this is enough for me.
But now I only hope that one of the tables has `database-strategy`, that is `user_article`, and the others are still `master-slave-rule`, can it only be configur

[2020-09-12 07:30] sandynz opened #7421 "Connect to ShardingSphere-Proxy failed via PostgreSQL JDBC driver since `SET extra_float_digits = 3` can't be parsed"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit: 6c91b6eb3fce8532eed0a06eceb839fa4554f5a9

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
JDBC connection could be created

### Actual behavior
Exception thrown:
[code]

### Reason analyze (If you can)
Protocol output:
[code]

ShardingS

[2020-09-12 09:23] luojiang-killgrave opened #7423 "word 'point' is treated as a mysql keyword"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-09-12 09:44] luojiang-killgrave commented on #7423
Hello.
I am using shardingsphere-jdbc.
It's convenient and powerful. yet, I still got some problem.

Here is it:
My project got a sql like this: `select point from table_a where id = 1`
When program executes this sql.error happens.
Here is one of logs:`line 5:8 no viable alternative at input 'point,'`
I guess shardingsphere is dealing with 'point' as a mysql keyword.
So I change the sql to ``selec

[2020-09-12 15:01] #7418 closed

[2020-09-13 02:50] tristaZero commented on #7269
Yes.

Yes.

[2020-09-13 02:52] tristaZero commented on #7226
@jingshanglu You mean we get the wrong rewritten SQL? Which part of the rewritten SQL is not expected?

[2020-09-13 02:54] tristaZero commented on #7324
Thanks for your feedback. @lidonghai11

[2020-09-13 04:49] strongduanmu commented on #7421
@sandynz I have tested this error and found that this is a parsing bug, I will fix it as soon as possible.

[2020-09-13 05:36] Norshtein94 opened #7425 "Application start too slow because of scanning all tables's scheme!"
when I start-up my spring-boot application, sharding-jdbc would scan all tables's scheme, and it took 7 minutes to load datasources. It is just like a attack on my database, for there are thousands of tables in one datasource, and there are nearly 10 datasources in my application! Is it necessary to do this strange operation? And how could I speed up start-up？

[2020-09-13 05:50] strongduanmu commented on #7423
@luojiang-killgrave Which version did you use? I have found that the master branch already supports `point` query, can you try it?

[2020-09-13 05:58] luojiang-killgrave commented on #7423
@strongduanmu  I'am using version 4.1.1

[2020-09-13 06:08] strongduanmu commented on #7423
@luojiang-killgrave You can try use master branch to build `Sharding-Proxy` to test this exception.

[2020-09-13 06:12] luojiang-killgrave commented on #7423
@strongduanmu ok,Thanks for response,I will try it.

[2020-09-13 14:32] Vensence commented on #7374
Or may add some configuration options at least let users to choose to make it more look like "real" datasource or not ?

[2020-09-13 15:44] cherrylzhao commented on #7380
logic sql should contain sharding column (user_id), otherwise it will scan all db and table

you can try to delete sharding-transaction-base-seata-at dependency in your project, `sharding-transaction-base-seata-at` means seat-at is one of base transaction for shardingsphere to ensure transaction across sharding data, but `seata-spring-boot-starter` just need a sharding datasource  to ensure distri

[2020-09-14 01:07] dmbj commented on #7223
appreciate to answer the question! In my case,as you said binlog has been removed is the exact reason cause the exception,I contact ops found their has a strategy to ensure disk space,their will not intent to change that.So i need to think another solution to solve my problem:
can scaling surpport file document read to solve increase data sync?

[2020-09-14 02:10] xfyang1988 opened #7430 "How to configure non-separated tables without ShardingSphere for SQL parsing？"
How to configure non-distributed tables without ShardingSphere for SQL analysis? But it must be ensured that it is in the same ShardingSphere transaction with the sub-table？

I know that ordinary data sources can be configured without sub-tables, but it is not the same transaction as ShardingSphere

[2020-09-14 02:43] yang-7777 commented on #5659
![微信图片_20200914104214](https://user-images.githubusercontent.com/67564630/93038257-16116000-f677-11ea-9ee3-bedb46a044ee.jpg)

[2020-09-14 02:47] tristaZero commented on #7423
That's just my suggestion.

[2020-09-14 02:50] tristaZero commented on #7425
Hi @Norshtein94 thanks for your feedback. That's precisely what we are improving. Please pay attention to #7342.
We will fix this issue in the incoming 5.x release. Please be patient.

[2020-09-14 02:50] #7425 closed

[2020-09-14 02:52] tristaZero commented on #7430
@xfyang1988 If so, I suggest you configure the `non-sharding` table with `NoneShardingStratergy`. Plus, `defaultDataSource` is for the `non-sharding` table as well.

[2020-09-14 02:56] tristaZero commented on #7419
Does `Some scenarios` mean `SQLParseResultCache` reach its capacity?

Do you have any suggestions or ideas?

[2020-09-14 03:04] #7421 closed

[2020-09-14 03:25] kpioneer123 commented on #7380
**Actually， My logic sql  contain sharding column (user_id)**

**When only use shardingsphere ： sharding is OK （only choise one db and one table）
When  use shardingsphere with seata ： sharding is ERROR（Scan all db and table)**

[2020-09-14 03:46] kpioneer123 commented on #7380
Actually，In the beginning  no dependence  sharding-transaction-base-seata-at ，but seata TransactionManager can‘t rollback

[2020-09-14 06:51] chana71 opened #7437 "unconfigured table can not query with schema name because of missing rewrite"
## Question

 I wish to not configure every no sharding table's actual nodes to ds0.  At version 4.1 there is one prop named `defaultDataSourceName`, after configuring it, if I query the table with its schema name `select * from schema.table` it will route to ds0 but not rewrite to ignore schema name and because of DB sharding, we actually have mapped schema  to `schema{0...3}`.

[2020-09-14 07:19] menghaoranss commented on #7437
@chana71 Please provide your configuration.

[2020-09-14 07:34] chana71 commented on #7437
@menghaoranss Now I am testing on the master version. Please check.
[code]
Thx

[2020-09-14 07:41] chana71 commented on #7437
@menghaoranss This is 4.1 version configuration. We have some table sharding across ds0-4 and others only exist at ds0
[code]

[2020-09-14 07:46] #7372 closed

[2020-09-14 08:02] menghaoranss commented on #7437
what's your SQL and the actual SQL in the log?

[2020-09-14 08:22] chana71 commented on #7437
@menghaoranss
Logic SQL: select count(*) from cust.SQL_BIZ_HIS
Actual SQL: ds0 ::: select count(*) from cust.SQL_BIZ_HIS
SQL_BIZ_HIS is unconfigured

[2020-09-14 09:39] kimmking commented on #7370
the application using sharding-jdbc with orchestration will be a logic schema named logic_db.

[2020-09-14 09:40] #7370 closed

[2020-09-14 09:48] xfyang1988 commented on #7430
Even if "defaultDataSource" or "NoneShardingStratergy" is configured, this kind of table that does not require sharding will need to be parsed by ShardingSphere. I have configured the defaultDataSource now, but the tables that do not need to be sharded will still be parsed by ShardingSphere, which results in slow first parsing

[2020-09-14 09:50] kimmking commented on #7430
Parsing-phase for ShardingSphere is MUST-BE now. No way to avoid it.

[2020-09-14 10:14] kimmking commented on #7423
can you try

[2020-09-14 10:29] victormferrara opened #7440 "Tuples comparision not working properly"
## Bug Report
When making a query with the sharding key in a tuple in the WHERE clause, shardingsphere is hitting all the tables as it's not able to extract the sharding key value. I'm talking using a format like: `WHERE (id, some_int) = (:id, :some_int)`, being the `id` the sharding key.

There is a workaround for this adding and additional conditional: `WHERE id = :id AND (id, some_int) = (:id,

[2020-09-14 10:31] luojiang-killgrave commented on #7423
@kimmking

runs perfect.
sorry I didn't make myself clear.
I was trying to say :
old sql:

new sql :

My program ran perfect with old sql, but it went wrong after I add sharding-jdbc to it;
I debuged , so I know the reason is : `sharding is treating 'point' as a mysql keyword`.
I was wondering maybe it's a mistake. After all, I can run the old sql in commond line without add \`\` around point

I a

[2020-09-14 10:31] kimmking commented on #7401
You can try 4.1.1
But these cases(multi-values and/or batch) are complex for generated keys, and now haven't completely resolved yet.

1. https://github.com/apache/shardingsphere/issues/4573

[2020-09-14 11:47] kimmking commented on #7437
Just remove schema prefix for unconfigured tables.
In recent version of ShardingSphere, if we config some real datasources in a logic schema, then only use logic names for sharding tables, and real names for unconfigured tables. The original mysql schema does not exist for users.

[2020-09-14 11:48] #7437 closed

[2020-09-14 11:50] SuperIllidan opened #7445 "分库分表、读写分离以及多数据源能否集成倒一起呢？"
业务中可能要连接多个不同的数据库，而每个数据库又需要配置读写分离，看了下目前的4.1.1版本，好像配置上不支持呢？

[2020-09-14 12:53] kimmking commented on #7445
Only english here.
And examples:

https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-tables.yaml

https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/applicatio

[2020-09-14 12:53] #7445 closed

[2020-09-14 12:58] #7430 closed

[2020-09-14 13:01] kimmking commented on #7423
Actually, point is a keyword in mysql.

https://dev.mysql.com/doc/refman/5.7/en/keywords.html

[2020-09-14 13:07] kimmking commented on #6458
This post is silent for 2 weeks and discussion out of the original topic, so I should close it now.
And anything forward and can help us move on NEED TO open a new issue to track it.
Thanks guys.

[2020-09-14 13:07] #6458 closed

[2020-09-14 13:08] kimmking commented on #7358
@cay914 hi, anything for feedback?

[2020-09-14 13:10] kimmking commented on #6676
After a long time silence, we should close this issue now.
Anything further more NEED TO open a new issue to track it.

[2020-09-14 13:10] #6676 closed

[2020-09-14 13:13] #7052 closed

[2020-09-14 13:38] 191824852 opened #7447 "java.sql.Timestamp cannot be cast to java.time.LocalDateTime"
![image](https://user-images.githubusercontent.com/26399533/93092748-6bc72600-f6d2-11ea-9b2d-8c6f1b341633.png)
Caused by: java.lang.ClassCastException: java.sql.Timestamp cannot be cast to java.time.LocalDateTime

dependency:
              <dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-boot-starter</artifactId>
			<version>4.0.1</version>
		</depen

[2020-09-14 13:49] cherrylzhao commented on #7380
I think Seata DataSourceProxy doesn't initialize success, there should exist some hint in debug log. it will help me a lot if you
paste the startup debug log here

[2020-09-14 13:54] cherrylzhao commented on #7374
actually it will be confusing if there exist multiple `auto commit` setting in actual datasource pool, `ShardingDataSource` could not decide which setting will be used, since we only have one ShardingConnection.

[2020-09-14 14:01] #6957 closed

[2020-09-14 14:02] #7127 closed

[2020-09-14 14:04] kimmking commented on #7423
@jingshanglu will track and check it's a bug or not.

[2020-09-14 14:05] kimmking commented on #7447
Can you try 4.1.1?

[2020-09-14 14:07] kimmking commented on #4963
It will be supported in version 5.x.

[2020-09-14 14:07] #4963 closed

[2020-09-14 14:10] #5402 closed

[2020-09-14 14:10] #5492 closed

[2020-09-14 14:11] #6094 closed

[2020-09-14 14:25] luojiang-killgrave commented on #7423
Word `point` is a keyword of mysql,
But it is a type of field of mysql, not that kind keyword like `select` `from` .
Maybe mysqlParser shouldn't treat it specially.
I am using mysql-5.7

[2020-09-14 15:28] sandynz commented on #7419
It might reach its capacity. For example, if t_order has 100 shardings, then one sql might be 100 different sqls after rewriting, t_order -> t_order_0, t_order_1, ..., t_order_99.

Could we initialize `maximumSize` in `SQLParseResultCache` and `StandardSQLParserEngine` constructor?

[2020-09-15 02:07] jingshanglu commented on #7423
@luojiang-killgrave Now, on master branch ,you can run the old sql :
`select point from table_a where id = 1`

[2020-09-15 02:13] luojiang-killgrave commented on #7423
@jingshanglu  Ok, Thanks for response.

[2020-09-15 03:08] tristaZero commented on #7440
Hi @victormferrara
The query like `WHERE (id, some_int) = (:id, :some_int)` is unsupported for all the 4.x release. Though we give it parsing support for such SQLs, I can not guarantee it will work well.

@jingshanglu: For 5.x release, we can not make this SQL work well either in the rewritten and route module, can we?

My suggestion is to modify your SQL without `(id, some_int) = (:id, :some_int)

[2020-09-15 03:09] tristaZero commented on #7423
@luojiang-killgrave If there is no other

[2020-09-15 03:10] #7423 closed

[2020-09-15 03:17] tristaZero commented on #7430
Hi @xfyang1988
Only by parsing this SQL it is possible for ShardingSphere to know your table is a sharding table or not. Therefore, SQL parsing is necessary. Actually, parsed SQL will be cached for the next request, which will help weaken parsing's side effects.

Best,
Trista

[2020-09-15 03:43] tristaZero commented on #7419
I am not sure whether we have the consensus that `SQLParseResultCache` will only cache the SQL with logic table name `t_order`, don't we?

[2020-09-15 03:43] bjo2008cnx opened #7450 "Unable to find property 'dataSourceCommon' on class: org.apache.shardingsphere.shardingproxy.config.yaml.YamlProxyRuleConfiguration"
Caused by: org.yaml.snakeyaml.error.YAMLException: Unable to find property 'dataSourceCommon' on class: org.apache.shardingsphere.shardingproxy.config.yaml.YamlProxyRuleConfiguration
	at org.yaml.snakeyaml.introspector.PropertyUtils.getProperty(PropertyUtils.java:132)
	at org.yaml.snakeyaml.introspector.PropertyUtils.getProperty(PropertyUtils.java:121)
	at org.yaml.snakeyaml.constructor.Constructo

[2020-09-15 03:50] menghaoranss commented on #7450
@bjo2008cnx  `dataSourceCommon` is supported in master branch, and the new version 5.0.0-alpha will be released soon.

[2020-09-15 04:44] dongfangding commented on #7269
In the current version, the current configuration will not start the project. This is also the original intention of my issue.

 I configure `master-slave-rules`, The logic-datasource-name contained in `actual-data-nodes` seems to have to exist in the master-salve-rule.

I am not sure.

[2020-09-15 05:34] bjo2008cnx commented on #7450
get it. thank you very much

[2020-09-15 05:49] #7450 closed

[2020-09-15 07:44] victormferrara commented on #7440
Thank you for the quick answer!

We'll change the code to avoid the tuples comparision. That kind of syntax is automatically generated by Hibernate when comparing composite keys, so maybe it's interesting considering supporting it in the future.

Thanks!

[2020-09-15 08:05] terrymanu opened #7454 "Add more test cases for BackendConnection"
- [x] getConnections with getConnectionsWithoutTransaction
- [x] createStorageResource
- [x] setFetchSize
- [x] isSerialExecute
- [x] add
- [x] closeResultSets
- [x] closeStatements
- [x] closeConnections

[2020-09-15 08:06] terrymanu opened #7455 "Add test case for ConnectionStatus"

[2020-09-15 08:07] terrymanu opened #7456 "Add test case for MethodInvocation"

[2020-09-15 08:07] terrymanu opened #7457 "Add test case for TransactionStatus"

[2020-09-15 08:14] chana71 commented on #6497
@tristaZero @jingshanglu Hi, I have met these subquery sqls not working very well. Could you help with this?
Following are errors  given by proxy when executing the example sql. Tested on master branch.
1. error-must have sharding column in subquery  ,`select count(0) from (select * from t_order where createdDate > '2020-02-01') a;`
2. error-Can not find owner from table , `select count(*) from (s

[2020-09-15 08:26] judakun commented on #7455
please assigne me.

[2020-09-15 08:26] #7200 closed

[2020-09-15 08:39] 191824852 commented on #5203
try import

[code]

[2020-09-15 09:07] menghaoranss opened #7460 "Replace textarea with Yaml editor to edit rule and datasource in ShardingSphere-UI"
![image](https://user-images.githubusercontent.com/60651792/93188960-32df8d80-f774-11ea-87a7-a1ba3cc6ab18.png)

Just like the picture above, the textarea can't show the structure of `Yaml` very well, we need to choose a suitable Yaml editor to refactor it .

[2020-09-15 09:40] guo156627977 commented on #7457
please assigned me

[2020-09-15 09:51] #7447 closed

[2020-09-15 09:59] fantacy2001 commented on #7401
The same problem occurs in version 4.1.1

[2020-09-15 10:01] fantacy2001 commented on #7401
There is no problem with the generate key, and there is no problem inserting into the db, but there is a problem when getting the key

[2020-09-15 10:32] tuohai666 opened #7462 "Route result incorrect in concurrency"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-15 11:27] jingshanglu commented on #7440
Yes, parser is ok, but maybe it is't work  on route and rewrite.

[2020-09-15 11:48] #7342 closed

[2020-09-15 11:53] sandynz commented on #7419
That's true, it's better to cache sql with logic table name. I just find a new scenario.
If `maximumSize` is customizable, it might be better to use sql parser as individual library.

And that's ok to keep it unchanged, I have some workaround.

Thanks.

[2020-09-15 12:16] stevefan1999-personal opened #7465 "Unable to connect to Oracle Autonomous Database using TNS alias"
### Which version of ShardingSphere did you use?
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`version.org.apache.shardingsphere..sharding-jdbc-spring-boot-starter=4.1.1`

### Expected behavior
It should run

### Actual behavior
Hikari can connect to the DB and start data sourcing/pooling, but because this particular style of connection string (TNS alias) is not con

[2020-09-15 12:49] sluk3r opened #7467 "Help for issue of 7285"
Hi all, for issue of #7285, I try to add one test for org.apache.shardingsphere.proxy.init.impl.AbstractBootstrapInitializer#init.

the following is Unit test code:

![image](https://user-images.githubusercontent.com/6405801/93210838-ee171f00-f792-11ea-8d58-3f483e14da16.png)

(source code link is : https://github.com/sluk3r/shardingsphere/blob/dev-AbstractBootstrapInitializerTest-7285/shardingsphe

[2020-09-15 12:57] sluk3r commented on #7454
please assign it to me

[2020-09-15 13:51] sluk3r commented on #7454
before adding test code, I do checkstyle, result is:

![image](https://user-images.githubusercontent.com/6405801/93218819-3afff300-f79d-11ea-9f69-7e5fc3b56b24.png)

So, should I solve this style problem as well?

[2020-09-15 13:57] sluk3r commented on #7454
And in ShardingSphere community, what is common solutions for ClassFanOutComplexity? need help.

[2020-09-15 15:44] #7456 closed

[2020-09-15 15:45] terrymanu commented on #7454
May ignore for some checkstyle checks

[2020-09-15 23:32] #6643 closed

[2020-09-16 00:45] sluk3r commented on #7454
OK

[2020-09-16 02:47] johnny2002 opened #7471 "Simplify configuration file"
Currently, shardingsphere configuration file need to repeat all tables' config, event they are using same sharding rule.
e.g.
[code]
in the example, table1 and table2 have exactly same sharding rule, I suggest to combine them into one group, like:
[code]

[2020-09-16 02:49] johnny2002 commented on #7471
In my suggestion, ${tablename} means logic table name.

[2020-09-16 03:07] menghaoranss commented on #7465
@stevefan1999-personal Have you try with the master branch?

[2020-09-16 03:15] tristaZero commented on #7471
Hi @johnny2002
`actual-data-nodes` expresses the positions of actual tables. In general, `logic_table_a` and `logic_table_b` have the same table rule though, the `actual-data-nodes` is different, right?

BTW, `defaultTableRule` seems to fit your case. What do you think? Plus, we gave a huge improvement in the upcoming 5.x release configuration, like the following example.

[code]

[2020-09-16 03:20] tristaZero commented on #7465
hi, @stevefan1999-personal thanks for your issue.
#7195 has been fixed already. Plus, you can check the relevant PR of that issue to learn how to fix it. Do you think that is entirely the same with your question?

[2020-09-16 03:25] tristaZero commented on #7440
Thanks @victormferrara
We are working on this feature, it is not easy though. :)

[2020-09-16 03:25] #7440 closed

[2020-09-16 03:39] tristaZero commented on #7419
Got it, so do you think we should close this one?

[2020-09-16 03:41] tristaZero commented on #7342
@xbkaishui Hi this bug has been fixed, which will help us test the metadata loading function.

Best,
Trista

[2020-09-16 03:47] tristaZero commented on #7401
Hi @fantacy2001 Thanks for your feedback. That's precisely a bug, same with #6895. However, @terrymanu is working on this one. Let us leave him some time. :-)

[2020-09-16 04:01] tristaZero commented on #7269
Hi @dongfangding thanks for your continued attention.

Recently I was working on #7442, which touched your issue somewhat. At that time, I realized what you mentioned is not an easy one, which is related to how we treat our actual data sources and `master-salve` data sources.

Please leave us some time to answer your question. I will come back once the discussion finishes. :-)

Best,
Trista

[2020-09-16 04:03] tristaZero commented on #6497
@chana71 Thanks for your feedback.
@jingshanglu Please give them a check, thx.

[2020-09-16 04:05] #6603 closed

[2020-09-16 04:07] #7181 closed

[2020-09-16 05:13] carter-ya opened #7475 "ShardingAlgorithmFactory.newInstance should use context classloader from Thread"
## Bug Report
The correct class loader is not used in the spring devtools environment.
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
`Class.forName("class name", true, Thread.currentThread().getContextClassLoader())`
### Actual behavior
`Class.forName("class name")`

[2020-09-16 05:22] terrymanu commented on #234
@yapee123456 Hello, thank you for register, Baidu is a great and big company, could you tell us more details of which applications use Apache ShardingSphere?

[2020-09-16 05:40] kimmking commented on #7467
We need discuss to add a close-method for Proxy or not here.

[2020-09-16 05:49] johnny2002 commented on #7471
Hi Trista，
1. actual-data-nodes expresses the positions of actual tables. In general, logic_table_a and logic_table_b have the same table rule though, the actual-data-nodes is different, right?
【Exactly, Yes】

2. defaultTableRule seems to fit your case
【No，In most of cases, defaultTableRule apply to not-sharding tables】

In my real case,  some tables sharding by column "customer_id", some tables s

[2020-09-16 05:50] #7419 closed

[2020-09-16 05:59] johnny2002 commented on #7471
For datasource config, how about the following:

[code]

[2020-09-16 06:00] menghaoranss commented on #7475
@carter-ya The `ShardingAlgorithmFactory` has been refactored with SPI in master branch

[2020-09-16 06:03] johnny2002 commented on #7471
I think, you should let developers to create multiple datasource templates. Sometimes, one app may need to connect to difference databases, for an example, business database in oracle and parameter database in mysql.

[2020-09-16 06:15] stevefan1999-personal commented on #7465
@tristaZero no, that is not exactly the fix. however, i can copy the RAC entry of the alias in the TNS file respectively, that's why I should have had said it is more likely to be a workaround in the beginning...

[2020-09-16 06:16] stevefan1999-personal commented on #7465
@menghaoranss I can use bintray in gradle to get the master branch build or? 5.x is not yet released in Maven so I don't actually know where it is.

[2020-09-16 06:46] jingshanglu commented on #7226
@chana71 #7476 The pr maybe fix it, when it is merged, you can try the master branch.

[2020-09-16 06:47] z3sm opened #7477 "Broadcast tables join a not broadcast one, how to route to default datasource?"
I have a query sql like this:

`select * from table_a a left join table_b b on a.id=b.a_id where a.id = 'XX';
`

table_a:configure it by broadcast tables
table_b:not configure it by broadcast tables.
occured an error:
`com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'ds.table_b' doesn't exist。
`
How to configure table_b's datasource on this case?

I hope this query from default da

[2020-09-16 06:59] jingshanglu commented on #7252
@goool It has been fixed on master branch,new version will be ok, also, you can try the master branch.

[2020-09-16 07:04] jingshanglu commented on #7129
@mark4z `forward` is a actualTable? can you give the correct rewrited sql for this sql?

[2020-09-16 07:07] jingshanglu commented on #7129
@mark4z You can try the master branch, the rewriting  has been greatly improved on master branch.

[2020-09-16 07:18] mark4z commented on #7129
Thks，if i have time, i'll dothing for this project.

[2020-09-16 07:21] kimmking commented on #7475
this API is out of date now.

[2020-09-16 07:21] #7475 closed

[2020-09-16 07:23] #7276 closed

[2020-09-16 07:26] kimmking commented on #7477
what's your config rules?

[2020-09-16 07:41] z3sm commented on #7477
spring.shardingsphere.sharding.broadcast-tables= table_a
spring.shardingsphere.sharding.tables.table_a.actual-data-nodes=ds.table_a

"ds" is the default datasource

[2020-09-16 08:48] menghaoranss commented on #7457
welcome.

[2020-09-16 08:49] kimmking commented on #7477
In your case, hint strategy or raw jdbc datasource maybe a better way.
Sharding rule can't support this case.

[2020-09-16 08:49] menghaoranss commented on #7455
Assigned.

[2020-09-16 08:53] tuohai666 opened #7481 "Unexpected failed test cases of PostgreSQL DQL test cases"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-16 09:23] terrymanu opened #7482 "Add CircuitBreak function for PostgreSQL proxy"
Please FIY MySQL proxy's implementation on `MySQLComStmtExecuteExecutor` and `MySQLComQueryPacketExecutor`

[2020-09-16 09:25] terrymanu opened #7483 "Add more test cases for MySQLErrPacketFactory"
- [ ] Assert for DBCreateExistsException
- [ ] Assert for DBDropExistsException
- [ ] Assert for TableExistsException
- [ ] Assert for CircuitBreakException
- [ ] Assert for ShardingSphereConfigurationException
- [ ] Assert for SQLParsingException

New exception assertions:
- [ ] Assert for UnsupportedCommandException
- [ ] Assert for UnsupportedPreparedStatementException

[2020-09-16 09:35] victorzhangchn commented on #7482
Please assign to me.

[2020-09-16 09:39] sluk3r commented on #7483
please assign it to me

[2020-09-16 10:39] tuohai666 commented on #7481
Logs with sql-show:

[code]

[2020-09-16 10:58] terrymanu commented on #7331
There is no feedback for the pull request, I'd like to reopen this issue for new contributor.

[2020-09-16 11:01] terrymanu commented on #1480
Closed because no contributor interest with this feature

[2020-09-16 11:01] #1480 closed

[2020-09-16 11:01] sluk3r commented on #7331
please assign it to me

[2020-09-16 11:02] terrymanu commented on #1240
Closed because no contributor interest with this feature

[2020-09-16 11:02] #1240 closed

[2020-09-16 11:29] sluk3r commented on #7454
@terrymanu   for task of setFetchSize and add, test cases are added also, the following is the details:
1. test case for method of add are: assertAddStatementCorrectly, assertAddResultSetCorrectly
2. test case for method of setFetchSize is assertSetFetchSizeAsExpected

Please check the result

[2020-09-16 12:27] wang7241 opened #7489 "Three sqls only one route to shard tables When I execute updateBatch operation"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-16 13:09] kimmking commented on #7489
what's your original sql?

[2020-09-16 13:48] #7331 closed

[2020-09-16 14:04] terrymanu commented on #7445
**For English only**, other languages will not accept.

[2020-09-16 15:37] wang7241 commented on #7489
sorry,i forget

<update id="updateBatchNoAssessCountByStuCwId">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE oral_cw_classwork_stu SET no_assess_count = if(ISNULL(no_assess_count),0,no_assess_count) + 1,update_time = #{item.updateTime}
			<where>
				<if test="item.teaCwId != null"> AND tea_cw_id = #{item.teaCwId} </if>
				<if test="item.schoolI

[2020-09-16 15:38] wang7241 commented on #7489
my mapper is:
/**
     * 批量更新待互评数通过学生作业id
     *
     * @param classworkStus
     */
    void updateBatchNoAssessCountByStuCwId(@Param("list") List<OralCwClassworkStu> classworkStus);

[2020-09-16 15:40] wang7241 commented on #7489
sorry i forget my mapper.xml as follow :
<update id="updateBatchNoAssessCountByStuCwId">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE oral_cw_classwork_stu SET no_assess_count = if(ISNULL(no_assess_count),0,no_assess_count) + 1,update_time = #{item.updateTime}
			<where>
				<if test="item.teaCwId != null"> AND tea_cw_id = #{item.teaCwId} </if>

[2020-09-16 15:43] wang7241 commented on #7489
when i copy my sql to github it is filter my mybatis tags,so I put my sql to my bug report

[2020-09-16 15:45] wang7241 commented on #7489
There is also a foreach tag in the uppermost layer of the SQL above

[2020-09-16 16:45] #7483 closed

[2020-09-16 23:16] wang7241 commented on #7489
can you get me your email,I can send my complete sql to you

[2020-09-17 01:42] #7001 closed

[2020-09-17 01:48] menghaoranss commented on #7000
The `OrchestrationBootstrap` has been removed in the master branch, we will close this issue soon, thanks all.

[2020-09-17 01:48] #7000 closed

[2020-09-17 01:58] menghaoranss commented on #6385
There's no more response ,we will close this issue, thansk for your feedback.

[2020-09-17 01:58] #6385 closed

[2020-09-17 02:22] icesugar opened #7496 "java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.predicate.OrPredicateSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.ExpressionSegment"
## Bug Report

version: ShardingSphere-JDBC 4.1.0

tableStrategy  t_order

[code]

e.g: update t_user set code='1' where id='1';update t_user set code='2' where id='2';

### Actual behavior
Multiple update sql ,Error updating database
[code]

If t_order is updated in batches, an error should be reported.

But batch update t_user should not report errors.

 ### log
[code]

[2020-09-17 02:23] 191824852 commented on #6512
try import
[code]

[2020-09-17 02:33] menghaoranss commented on #7496
@icesugar could you try with 4.1.1 version or the master branch again?

[2020-09-17 02:37] tristaZero commented on #7489
WHERE tea_cw_id = ?
AND school_id = ?
AND class_id = ?
AND stu_cw_id = ?
AND cw_show_status = ?
;
UPDATE oral_cw_classwork_stu SET no_assess_count = if(ISNULL(no_assess_count),0,no_assess_count) + 1,update_time = ?
WHERE tea_cw_id = ?
AND school_id = ?
AND class_id = ?
AND stu_cw_id = ?
AND cw_show_status = ?
;
UPDATE oral_cw_classwork_stu SET no_assess_count = if(ISNULL(no_assess_count),0,no_asse

[2020-09-17 02:41] tristaZero commented on #7496
Firstly, this type of multiple-update SQL is unsupported. Could you split them as a single one query and have a retest?

[2020-09-17 02:41] #7454 closed

[2020-09-17 02:44] Lucas-307 commented on #7223
@dmbj Sorry, I can't understand, what is "file document read" mean?

[2020-09-17 02:44] tristaZero commented on #7477
Where is `table_b`?
Do you want to shard it? If not, how about putting it in default ds?

[2020-09-17 02:45] wang7241 commented on #7489
Thanks for your reply.Actually I do not make three sqls to one sql. according to the actual sql result,I think mybatis did it.Can you send your email to me.I can send my mapper.xml to you if you willing

[2020-09-17 02:50] tristaZero commented on #7471
Oh, that idea seems sort of feasible. I will raize this as a community discussion. Please wait for my news later.

BTW, do you think `shardingAlgorithms:` could solve your issue around some logic tables sharing the same table rule?

[2020-09-17 02:57] WildWolfBang commented on #234
360数科 https://www.360jinrong.net/

[2020-09-17 03:00] tristaZero commented on #7465
Hi @stevefan1999-personal

Yep, you can build it by yourself. But what the master branch fixed is precisely this one, namely #7195.
If you think #7195 is not your target, then there is no need to build it.

BTW, do your Oracle URL configuration is in line with Oracle's official supported format? Are there links or docs concerning it?

If it is certainly a correct and standard configuration format,

[2020-09-17 03:02] dmbj commented on #7223
in my case for some reason,mysql binlog couldn't keep such long time(about 2 days). however, our ops can get binlog file offline,so i think is any possibility that scaling surpport read target file, not only mysql slave client sync read binlog?

[2020-09-17 03:05] Lucas-307 commented on #7223
@dmbj Sorry, we don't support that.

[2020-09-17 03:09] tristaZero commented on #234
Hi @WildWolfBang welcome. :-)

@yang-7777 Please add our new users to the user page, thanks.

[2020-09-17 03:15] dmbj commented on #7223
thank you all the same

[2020-09-17 06:18] #7223 closed

[2020-09-17 07:00] wang7241 commented on #7489
thank you again. Make sure joint SQL is not supported,I change my code

[2020-09-17 07:03] #7481 closed

[2020-09-17 07:27] stevefan1999-personal commented on #7465
@tristaZero I downgraded from 4.1.0 to 4.0.1, and using TNS alias connection style it works. So, I would like you to mark it as a regression?

[2020-09-17 08:19] fantacy2001 commented on #7401
ok, thanks!

[2020-09-17 10:02] kimmking commented on #7489
It doesn't support for three statement in one sql.

[2020-09-17 10:03] #7489 closed

[2020-09-17 14:46] huangjingcai commented on #5876
I have the same Error。(The version of the shardingphere-jdbc is 4.1.1)
And I debug the code,the code run here:
InsertClauseShardingConditionEngine.java   line:65

`
  result.add(createShardingCondition(tableName, columnNames.iterator(), each, parameters));
`

The first of the parameters is id and the value is null then cause the error.

[2020-09-17 16:04] Zzshuo opened #7501 "start proxy with no config Data Source and Sharding Configuration Instance fail"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-17 16:51] #7462 closed

[2020-09-17 16:57] #7379 closed

[2020-09-18 02:26] Fujinzhong commented on #6497
Hi,all, This sharding-jdbc-4.1.1`s log
 ShardingSphere-SQL - Logic SQL: SELECT  `date`, customer_name `name`, customer_account `account`, customer_phone `phone`, count( 1 ) total, sum( CASE WHEN CODE IN ( 30,- 30 ) THEN 1 ELSE 0 END ) AS succ, sum( CASE WHEN CODE IN ( - 30,- 20 ) THEN 1 ELSE 0 END ) AS fail, sum( CASE WHEN CODE IN ( 20 ) THEN 1 ELSE 0 END ) AS excep, sum( CASE WHEN CODE IN ( 30 )

[2020-09-18 02:43] tristaZero commented on #7501
@Zzshuo Hi Is there any configuration stored in your registry? If not, ShardingProxy can not start without any configurations from the local or cloud.

[2020-09-18 02:58] menghaoranss commented on #7329
@jian365066744  This task has been finished, i will close this issue, thanks.

[2020-09-18 02:58] #7329 closed

[2020-09-18 02:59] Zzshuo commented on #7501
Hi
There is no configurations stored in registry.
so If I want add configurations In sharding-ui , shardingProxy at least one configuration stored in registry to start？

[2020-09-18 03:03] tristaZero commented on #6497
@Fujinzhong There is still some routing and parsing info in your log, which will show you how ShardingSphere handles your SQL. Could you give them a look?

[2020-09-18 03:04] #7401 closed

[2020-09-18 03:09] tristaZero commented on #7465
@stevefan1999-personal That's strange and not what we expected. Do you think it is possible to glance at them and find some differences?

[2020-09-18 03:15] tristaZero commented on #7501
@Zzshuo  Yep.

From my point, it is easier to add configuration to `xxx.yaml` in local for the first time. Later this local configuration will sync to the registry where you can look at settings or make some modifications.

[2020-09-18 03:16] #7280 closed

[2020-09-18 03:47] Zzshuo commented on #7501
@tristaZero In fact, we have multiple systems that need to use Proxy + Scaling for data migration . So it's not clear which database to set up first, want the dynamic configuration after  start the Proxy

[2020-09-18 03:55] Fujinzhong commented on #6497
09:49:55.788 [main] INFO  ShardingSphere-SQL - Logic SQL: SELECT  `date`, customer_name `name`, customer_account `account`, customer_phone `phone`, count( 1 ) total, sum( CASE WHEN CODE IN ( 30,- 30 ) THEN 1 ELSE 0 END ) AS succ, sum( CASE WHEN CODE IN ( - 30,- 20 ) THEN 1 ELSE 0 END ) AS fail, sum( CASE WHEN CODE IN ( 20 ) THEN 1 ELSE 0 END ) AS excep, sum( CASE WHEN CODE IN ( 30 ) THEN 1 ELSE 0

[2020-09-18 05:43] tuohai666 commented on #6759
@Lucas-307 subscribed.

[2020-09-18 06:51] menghaoranss commented on #7501
@Zzshuo The new version will fix this bug,  you can try with the master branch again.

[2020-09-18 06:51] johnny2002 commented on #7471
Hi Trista,

with shardingAlgorithms, we still need need to repeat lines like following:
    t_order:
      actualDataNodes: ds_${0..1}.t_order_${0..1}
      tableStrategy:
        standard:
          shardingColumn: order_id
          shardingAlgorithmName: t_order_inline

I feel it's still a little complex.

[2020-09-18 07:29] #6872 closed

[2020-09-18 07:36] tuohai666 commented on #7358
Expired.

[2020-09-18 07:36] #7358 closed

[2020-09-18 07:55] zhaoyuehui opened #7508 "使用insert values时, 设置主键参数的index错误"
## Bug Report
笔者使用的主键生成策略是SnowFlake算法, 在执行insert ....values语句时, 由于values中包含null值,  在设置主键id的参数index时, 参数错位.
代码位置如下图所示
![image](https://user-images.githubusercontent.com/71489073/93571547-328b0080-f9c7-11ea-94f7-9cc9d6d9b268.png)

当参数中包含一个null值时, 主键id的index的位置会被前移一位

[2020-09-18 08:02] pengboyin commented on #380
`<sharding:data-source id="shardingDataSourceSkyWrite">
		<sharding:sharding-rule data-source-names="ds_skyUser_read">
			<sharding:table-rules>
				<sharding:table-rule logic-table="accounts_openaccount"
					actual-data-nodes="ds_skyUser_read.accounts_openaccount$->{0..3}"
					database-strategy-ref="databaseStrategy" table-strategy-ref="accountTableTableStrategy"
					key-generator-ref="account

[2020-09-18 08:07] menghaoranss commented on #7508
For english only.

[2020-09-18 08:07] #7508 closed

[2020-09-18 08:21] zhaoyuehui opened #7509 "Use sql 'insert ....values()', the location of primary key's index is wrong"
When add primary key's column parameter, if the parameter has a null value, the location of primary key's index is wrong.

Look at the picture

![image](https://user-images.githubusercontent.com/71489073/93574415-f78acc00-f9ca-11ea-9ded-a993ea7ef038.png)

[2020-09-18 08:26] jingshanglu commented on #6938
@zhaopinglu @tristaZero Now, the sql is support on parser by pr #7353, but maybe not have correct route.

[2020-09-18 08:43] jingshanglu commented on #6497
@chana71 Can you show the correct rewrited sql for this sql?

[2020-09-18 08:46] jingshanglu commented on #6497
@chana71 You mean the table `t_order` not been rewrited to actual table?

[2020-09-18 08:49] jingshanglu commented on #6656
@xiangtao123 Now, it has been fixed on master branch, new version will be ok.

[2020-09-18 09:33] menghaoranss commented on #7509
Which version of the code is ?

[2020-09-18 09:46] zhaoyuehui commented on #7509
4.0.0-RC1

[2020-09-18 09:47] zhaoyuehui commented on #7509
4.0.0-RC1

[2020-09-18 09:54] #6687 closed

[2020-09-18 09:56] chana71 commented on #6497
@jingshanglu Actually the log just shows as below. Tested sql is the 3rd one - `select id from (select * from t_order limit 10)a` .
[code]
but the sql query result will return 40 rows and the rewrite result seems wrong cause I think it should rewrite to `limit 40` each ds as doc says.

[2020-09-18 10:03] cbxiaorenwu opened #7512 "Error in 'update' operation using shardingshpere"
###你用了哪个版本的ShardingSphere？
4.1.1

###你用了哪个项目？ShardingSphere JDBC还是ShardingSphere代理？
ShardingSphere JDBC

连接两个mysql数据库（ds_0,ds_1），库内表名一致(test)，共有唯一主键进行区分，

主键奇数的在ds_0库中，主键偶数的在ds_1中

###预期行为

执行修改（update）操作，添加where  主键=5（表内有主键为5的数据）

修改成功，且只执行一条sql语句；

###实际行为

显示错误信息如下：

Cannot support Multiple-Table for 'org.apache.shardingsphere.sql.parser.sql.statement.dml.UpdateStatement@3f7f9d3f'.

详细信息：

}{FA

[2020-09-18 10:09] jingshanglu commented on #7091
@kimmking @fantacy2001 Now, it has been fixed on master branch, new version will be ok.

[2020-09-18 10:15] menghaoranss commented on #7509
The code has been removed in the later versions, thanks for your feedback.

[2020-09-18 10:15] #7509 closed

[2020-09-18 10:17] menghaoranss commented on #7512
For English only.

[2020-09-18 10:17] #7512 closed

[2020-09-18 12:42] #7252 closed

[2020-09-18 12:50] #7285 closed

[2020-09-18 12:54] #7067 closed

[2020-09-18 15:51] #7457 closed

[2020-09-19 15:01] terrymanu opened #7520 "Add test case for ResponsePacketBuilder"

[2020-09-19 15:31] terrymanu opened #7522 "Enhance test cases for TextProtocolBackendHandlerFactory"
The class TextProtocolBackendHandlerFactory has already split into multiple Factory classes. It is better to split test cases into suitable classes.

- [ ] Move TCL related test cases into `TransactionBackendHandlerFactoryTest`
- [ ] Keep one TCL SQL test case in `TextProtocolBackendHandlerFactoryTest` and assert return TransactionBackendHandler
- [ ] Move DAL related test cases into `DALBackendHa

[2020-09-19 17:04] flycoolman commented on #7520
Please assign it to me

[2020-09-19 22:07] sluk3r commented on #7522
please assign it to me

[2020-09-20 06:28] cbxiaorenwu opened #7523 "Error in 'update' operation using shardingshpere"
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere JDBC
Connect two MySQL databases (DS_ 0,ds_ 1) , the table names in the library are consistent (test), and there is a unique primary key for distinguishing,

Odd primary key in DS_ In the 0 library, the even number of primary keys is in DS_ 1

### Expect

[2020-09-20 13:16] tristaZero commented on #6656
@jingshanglu Thanks for your feedback.
@xiangtao123 Hi, you can try this using the` master branch`.

[2020-09-20 13:22] tristaZero commented on #6938
Tha's a big step ahead!

[2020-09-20 13:29] tristaZero commented on #6938
@zhaopinglu You could give it a try keeping the following words in mind.

1. Change the relevant SQL to the ones without ` where (a, b) = ...`
2. Try your SQL using the master branch.

Best,
Trista

[2020-09-20 13:31] tristaZero commented on #7471
In some cases, it is indeed. On the other hand, if you want to use the same sharding algorithm many times, then a  reference name is simpler, IMO.

[2020-09-20 13:41] xiangtao123 commented on #6656
That's great!

[2020-09-20 13:42] tristaZero commented on #7501
Hi @Zzshuo I am not sure I get your point. But like @menghaoranss said,
On our master branch, ShardingProxy can start only with a simple setting of the registry center. After that, you can write any other configurations in the registry center, which will push all the changes to ShardingProxy online. Or you can use [RDL feature](https://github.com/apache/shardingsphere/issues/7324) to inject the co

[2020-09-20 13:44] xiangtao123 commented on #6656
excellent!

[2020-09-20 13:47] #6656 closed

[2020-09-20 16:29] Zzshuo commented on #7501
@tristaZero @menghaoranss Thank you for your answers。I will try master branch. So is 5. X coming soon? I'm looking forward to it

[2020-09-20 17:35] Zzshuo opened #7527 "mvn clean package sharding-ui by Dockerfile failed: Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:npm (npm run unit) on project shardingsphere-ui-frontend"
## Question

I use DockerFile to build sharding-ui,but it build failed.
this is my Dockerfile
![image](https://user-images.githubusercontent.com/12946820/93716386-2018ee80-fba2-11ea-87e3-2c7427950384.png)

error msg:
![image](https://user-images.githubusercontent.com/12946820/93717124-4d679b80-fba6-11ea-8a3d-9e5a96bf5958.png)

I tried to solve it use _Originally posted by @kimmking in https://gith

[2020-09-20 17:50] #7527 closed

[2020-09-21 01:49] wuqiaowu commented on #3681
In my cases, I only need table sharding (no database sharding).

[code]

[2020-09-21 02:28] menghaoranss commented on #7523
@cbxiaorenwu please show your sharding rule and logic sql.

[2020-09-21 02:32] menghaoranss commented on #7501
Thanks for your attention，i will close this issue if there are no other problems .

[2020-09-21 02:32] #7501 closed

[2020-09-21 02:34] menghaoranss commented on #7520
Assigned, welcome!

[2020-09-21 02:36] menghaoranss commented on #7522
@sluk3r Assigned.

[2020-09-21 03:53] kimmking commented on #7380
While there is no more infomation in a long time (>7day), I will close this issue today.

[2020-09-21 04:17] #7360 closed

[2020-09-21 04:18] #7477 closed

[2020-09-21 04:28] kimmking commented on #7523
Update/Insert/Delete statement with `Multiple-Table` doesn't supported.

[2020-09-21 04:28] #7523 closed

[2020-09-21 05:45] cbxiaorenwu commented on #7523
What if you want to do Update operation with sharding? Is sharding not supported? Can only be used for query?

[2020-09-21 05:47] cbxiaorenwu commented on #7523
What if you want to do Update operation with sharding? Is sharding not supported? Can only be used for query?

[2020-09-21 06:20] victorzhangchn commented on #7482
I'm confusing that the code about CircuitBreak in both `MySQLComStmtExecuteExecutor` and `MySQLComQueryPacketExecutor` is just throw CircuitBreakException, and then wrap it at the outer layer. What do you actually want me to do in this issue? Just throw  CircuitBreakException in `PostgreSQLComExecuteExecutor` and `PostgreSQLComQueryExecutor`? By the way, I find that the behaviour of `PostgreSQLCom

[2020-09-21 06:26] Zzshuo opened #7528 "Whether Sharding-scaling support high availability and persistence？"
## Question

**For English only**, other languages will not accept.

When I restart Sharding-scaling   , the data is lost.
Sharding-scaling data seems to be kept in memory and persistence？

[2020-09-21 06:42] kpioneer123 commented on #7380
`14:39:11.245 INFO  [main]  io.seata.spring.annotation.GlobalTransactionScanner  - Initializing Global Transaction Clients ...
14:39:11.266 INFO  [main]  org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker  - Bean 'threadFactoryProperties' of type [io.seata.spring.boot.autoconfigure.properties.client.ThreadFactoryProperties] is not eligible for getting pr

[2020-09-21 06:43] kpioneer123 commented on #7380
I think DataSourceProxy should initialize success

[2020-09-21 06:46] kpioneer123 commented on #7380
I think DataSourceProxy should initialize success @cherrylzhao
`14:39:12.083 INFO  [main]  io.seata.spring.annotation.datasource.SeataAutoDataSourceProxyCreator  - Auto proxy of [master]
14:39:12.129 INFO  [main]  io.seata.spring.annotation.datasource.SeataAutoDataSourceProxyCreator  - Auto proxy of [slave]

14:39:17.063 INFO  [main]  io.seata.core.rpc.netty.RmNettyRemotingClient  - will register

[2020-09-21 07:13] kpioneer123 commented on #7380
**service code:**
[code]
**log show XID exists**
[code]

[2020-09-21 07:19] kpioneer123 commented on #7380
**Other errors** @cherrylzhao @kimmking
[code]
If I add this code: **TransactionTypeHolder.set(TransactionType.BASE);**
**result display error**
[code]

[2020-09-21 07:28] kpioneer123 commented on #7360
sharding-jdbc   when seata-spring-boot-starter is 1.3.0   @kimmking @cherrylzhao

[2020-09-21 07:38] kpioneer123 commented on #7360
Yes，can read seata.conf 。
Need use SPI code in own project，not before so report an error 。
Thank you! @kimmking @cherrylzhao

[2020-09-21 07:56] popo706 commented on #6454
same issue,the following is the sql that shardingsphere failed to parse,
1、select q.id from question q where q.id in ?1 and (((1 - q.correctAnsweredNum/q.answeredNum) between ?2 and ?3 and q.answeredNum > 0) or 0 between ?2 and ?3 and q.answeredNum = 0)
2、select *
from paper_template pt where (pt.id is not null) and pt.enabled=? and pt.resId=?
and (exists (select 1 from paper_template_part ptp inn

[2020-09-21 09:22] tristaZero opened #7531 "Improvement on subquery handling in ShardingRouteDecorator"
### Requisites
1. Have the basic learning about `ShardingStatementValidator`
2. Java coding
---
### Aim-1
1. This issue is to do some refactoring works to make the subquery validating cohesive.

### How-1
1. Create a class`ShardingSelectStatementValidator` implements `ShardingStatementValidator`.
2. Move the content of `checkSubqueryShardingValues` in `ShardingRouteDecorator` to the preValidate of

[2020-09-21 09:25] kimmking commented on #7528
scaling task will perssited and resumed when restarting server in version 5.0.0.

[2020-09-21 09:25] #7528 closed

[2020-09-21 09:41] #7187 closed

[2020-09-21 10:37] lzqdename opened #7533 "are there some constraints on SQL schema when using Read/Write split function?"
## Question

I am using the  Read/Write split function
I know that the principle inner  is to parse the sql ,and evaluate if it is a SelectStatement
sure, other factors will work , for example Hint and others.

My Question is , Generally,  are there some constraints on SQL schema  when using Read/Write split function?
will some sql  fail  to be parsed due to the complexity of the SQL when using  t

[2020-09-21 10:56] #6550 closed

[2020-09-21 11:21] #7226 closed

[2020-09-21 11:32] #7374 closed

[2020-09-21 11:33] kimmking commented on #7374
We only suggestion use connection.setAutoCommit to instead of url option.

[2020-09-21 11:35] #6655 closed

[2020-09-21 11:35] #7091 closed

[2020-09-21 11:47] kimmking commented on #6967
Two points here:
1、Actually, we recommend store multiple customers data in a uniformed logic database and use sharding key like `userid%16` to isolate customer's data.
2、If each customer hold his only database, an independent datasource is suggested for this case.

[2020-09-21 11:47] #6967 closed

[2020-09-21 12:01] #6918 closed

[2020-09-21 12:05] crazythinking commented on #7523
same problem, how should I do when you need to update a table that has already used the sharding rule? only one way to specify table names with sharding directly?

[2020-09-21 12:11] kimmking commented on #6661
@wenweibin any improvement or close this issue for a long time?

[2020-09-21 12:12] crazythinking commented on #7523
![image](https://user-images.githubusercontent.com/5145888/93764880-7fc8d580-fc46-11ea-9cb4-4c4d9ba4df2b.png)
The Official documentation guidance can be supported "Update ... Where ...."

[2020-09-21 12:14] kimmking commented on #6890
It has been fixed in master branch.

[2020-09-21 12:19] #6662 closed

[2020-09-21 12:28] terrymanu opened #7538 "Problem with AbstractBootstrapInitializerTest"
There are 2 problems in AbstractBootstrapInitializerTest.

1. Test cases are too slow, it spend 13 seconds in my laptop.

2.  When run `AbstractBootstrapInitializerTest` (run subclass `GovernanceBootstrapInitializerTest` and `StandardBootstrapInitializerTest` together), exception thrown:

[code]

[2020-09-21 12:34] kimmking commented on #7081
This will be in our plan for 5.x.

[2020-09-21 12:36] #6890 closed

[2020-09-21 12:37] #6913 closed

[2020-09-21 12:40] #7003 closed

[2020-09-21 12:41] kimmking commented on #6693
any update?

[2020-09-21 12:42] #7060 closed

[2020-09-21 12:58] kimmking commented on #7081
hi, @lishijun121910  you can refer and track this issue: https://github.com/apache/shardingsphere/issues/7318

[2020-09-21 12:58] #7081 closed

[2020-09-21 13:05] kimmking commented on #7533
see https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/

[2020-09-21 13:05] #7533 closed

[2020-09-21 13:13] kimmking commented on #6964
In our issue board, any external file and project refered is not accepted, cause it can be removed or modified, so then our users can't see the entire records.

[2020-09-21 13:13] #6964 closed

[2020-09-21 13:26] kimmking commented on #6759
any update

[2020-09-21 14:02] kimmking commented on #6982
I check these cases work well now in master branch.

[2020-09-21 14:02] #6982 closed

[2020-09-22 00:57] lzqdename commented on #7533
直接上中文吧，我跟你聊读写分离，你让我看数据分片。。。。。。

[2020-09-22 02:19] huangguojun00 opened #7547 "why (a.bill_code = 1 or 1=1) can route to table but without parentheses not"
I want to konw why (a.bill_code = 1 or 1=1) can route to table but without parentheses can not.

This is my sql:
`select * from table_1 a where ( a.bill_code = #{billCode} or 1=1 ) and a.gmt_modified BETWEEN #{start} and #{end}";
`

my target: I want to select data using date; but 'billcode' is the keyword of sharding db and table,  at first i try to use the above sql without parentheses in order

[2020-09-22 02:49] strongduanmu commented on #7547
@huangguojun00 Can you provide the sharding config? I will try to reproduce this problem.

[2020-09-22 03:48] lwtdev opened #7548 "Throw NPE at ExecutionContextBuilder.getPrimaryKeyColumns when execute sql"
## Throw NPE at ExecutionContextBuilder.getPrimaryKeyColumns when execute sql

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

### Actual behavior
[code]
log
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execut

[2020-09-22 03:48] tuohai666 opened #7549 "Operation not allowed after ResultSet closed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-22 04:04] #7549 closed

[2020-09-22 04:38] huangguojun00 commented on #7547
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
            <version>4.0.0-RC1</version>
        </dependency>

database sharding strategy:
ds${(int)(Math.abs(bill_code.hashCode()) % 2 / 1 +1)}
table sharding strategy:
table_${Math.abs(bill_code.hashCode()) % 2 +1}；

[2020-09-22 04:58] kimmking commented on #7548
hi, @lwtdev
two points need to clearify:
1. when you create your table, before or after proxy started?
2. your inline expression is wrong, maybe route to d01.customer_0001, that doesn't exist.

[2020-09-22 05:05] kimmking commented on #7547
see this https://zhidao.baidu.com/question/150038476.html

[2020-09-22 05:05] #7547 closed

[2020-09-22 05:25] #6065 closed

[2020-09-22 05:25] #5997 closed

[2020-09-22 05:36] strongduanmu commented on #7547
@huangguojun00 @kimmking I have tested similar SQL on the master branch and found that sql with parentheses have also been routed to all tables.

I think the single route result with parentheses may be a bug of version `4.0.0-RC1`, because the `(a.bill_code = #{billCode} or 1=1)` condition is always true, which means that the sharding column routing may be invalid, so sql should be routed to all t

[2020-09-22 05:40] #7538 closed

[2020-09-22 05:49] huangguojun00 commented on #7547
@strongduanmu   I think so

[2020-09-22 06:00] sluk3r commented on #7531
please assign it to me

[2020-09-22 06:19] kimmking commented on #7138
Hi, guys,
any update now?

[2020-09-22 06:23] tristaZero commented on #7548
Hi @lwtdev
Thanks for your detailed issue.
Firstly, I also wonder how you created the `customer` table, which will help position the problem.
Secondly, I have to say this is a band example of defensive programming. 😞

[2020-09-22 06:26] #5858 closed

[2020-09-22 06:27] zhanghq1314 opened #7552 "sharding-proxy，Can I specify a driver？"
## Question
**Can I specify a driver**

![image](https://user-images.githubusercontent.com/69282348/93849884-996a2b80-fcdf-11ea-8546-998212067bff.png)

[2020-09-22 06:27] terrymanu commented on #4306
Fixed by #7551

[2020-09-22 06:27] #4306 closed

[2020-09-22 06:28] terrymanu commented on #4573
Fixed by #7551

[2020-09-22 06:28] #4573 closed

[2020-09-22 06:30] tristaZero commented on #7269
Hi @dongfangding

Sorry for late reply.  As I said before, the masterSlave dataSource is an important subject for ShardingSphere. We will give it a deep consideration and possible refactoring work before 5.x release. Currently, @terrymanu is taking charge of this issue. Any updates will be linked here, then you can follow up on this issue for its progress.

[2020-09-22 06:35] kimmking commented on #6209
any update?

[2020-09-22 06:37] yu199195 commented on #7552
if you use mysql, please add mysql driver in project lib....

[2020-09-22 06:53] xbkaishui commented on #7342
Yes， already checked. it is ok now, below is the example output

[code]

[2020-09-22 06:54] kimmking commented on #6938
@zhaopinglu keep move on.

[2020-09-22 06:57] kimmking commented on #7552
Hi， @zhanghq1314 ，
I guess sharding-proxy/jdbc cannot support sgi-nds.

[2020-09-22 06:58] #7552 closed

[2020-09-22 06:59] kimmking commented on #7548
the same reason with https://github.com/apache/shardingsphere/issues/6165

[2020-09-22 07:01] kimmking commented on #7548
@xbkaishui has tested create-table case before proxy started work well.

[2020-09-22 07:01] kimmking commented on #6165
We will move on and fix it soon.

[2020-09-22 07:11] lwtdev commented on #7548
1. I did not create any tables;
In fact , the sql i want to execute is ``` sctl:explain select * from customer where id = 3;```
And It's also cause a exception
2. Thanks for your patient to figure out this problem
The right config of `database_inline`should be
[code]

[2020-09-22 07:15] lwtdev commented on #7548
Yes, This is not a good config example.  it's was a example simplify from config as follow(in 4.x):
[code]

[2020-09-22 07:22] tristaZero commented on #7471
Hi @johnny2002
Your suggestion about `dataSourceTemplates` got some positive feedback from others.

Before any programming, another important prerequisite is to design the configuration of [Spring NameSpace](https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-spring/shardingsphere-sharding-spring-namespace/src/main/resources/

[2020-09-22 07:33] lwtdev commented on #7548
I have just try create table after proxy start, it's also cause an npe
[code]
- log
[code]

In proxy 4.1.1 it was works well

[code]

[2020-09-22 07:34] tristaZero commented on #7548
Hi @lwtdev
So, if you create a logic table `customer` and execute `select * from customer where id = 3;`, does everything go well?

Plus, if there is a logic table, do you think the following error will still happen?

[code]

[2020-09-22 07:36] tristaZero commented on #7342
@xbkaishui Oh, your valuable feedback moves the 5x. release forward!

[2020-09-22 07:39] tristaZero commented on #7531
Hi @sluk3r welcome!
After finishing the `how-1`, a PR is supposed to raize. The task of `how-2` is uneasy. Please give it more consideration. :-)

[2020-09-22 07:41] xbkaishui commented on #7342
:beers:

[2020-09-22 07:50] lwtdev commented on #7548
Can not create logic table `customer` after proxy started.

[code]
If create physical tables `customer_000{0...3}` before proxy started. It works well:
[code]

[2020-09-22 07:51] sluk3r commented on #7531
Ok, Tks

[2020-09-22 08:00] xbkaishui commented on #7548
This is same case I came across,  the accumption is table must be already exists when use proxy (in master branch)

[2020-09-22 08:00] kimmking commented on #7548
We will fix it soon.

[2020-09-22 08:21] #6661 closed

[2020-09-22 08:26] strongduanmu commented on #7138
@kimmking @tuohai666 I have tried to submit a [PR](https://github.com/apache/shardingsphere/pull/7150) before, but there are some limitations, and it cannot perfectly support view create, modify, delete and query when including logic table.

After discussing with @tristaZero , we think that the priority of view is not high, and users can get the same result of view through table join query, so we

[2020-09-22 08:33] lwtdev commented on #6497
Hi~ @jingshanglu @tristaZero
I have test some subquery case just now
|SQL Demo Title |SQL Demo |Sharding Column |ShardingProxy(5.0.0.RC1)2DB2Table |
|---- |---- |---- |---- |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer); |NONE |N |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer where id = 3); |ALL |Y |
|subqueryInColumns |SELECT id AS c_id , (select status FROM custome

[2020-09-22 08:47] lwtdev commented on #6497
Hi~ @jingshanglu @tristaZero
I Just run some subquery cases with newest version. Test result as fellow:
|SQL Demo Title |SQL Demo |Sharding Column |ShardingProxy(5.0.0.RC1)2DB2Table |
|---- |---- |---- |---- |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer); |NONE |N |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer where id = 3); |ALL |Y |
|subqueryInColumns |SELECT id AS

[2020-09-22 08:53] lwtdev commented on #6497
These test case information.
- prepare sql

[code]
- sharding config
[code]
- subquery test case sql
[code]

[2020-09-22 09:17] ifzm opened #7557 "Some strange issues about the 4.1.1 version？"
JavaVersion：1.8.192
ShardingSphere-Proxy Version：4.1.1 release
OS：Windows Server 2016

I tried to download and use ShardingSphere-Proxy, but after downloading the release version, I found that it contains several strange problems

1. There are several dependencies in lib that are not .jar suffixes, which need to be modified manually to make the program run normally
2. The logback.xml configuration

[2020-09-22 09:21] ifzm commented on #7557
A proxy problem was also found during use. After the proxy has been running for a period of time, other clients will not be able to obtain connections, and there is no error message in the command-line. Without the log, it is almost difficult for me to troubleshoot the problem. where

[2020-09-22 09:39] lwtdev commented on #7557
@ifzm Hi~
1. You may try another unzip tool (for example  ` tar` command in git console)

[2020-09-22 10:36] terrymanu commented on #7269
Your configuration is not the best practice of horizontal sharding, it is better to avoid to spent lots of time do develop a rare requirement.
I just close it, please try to use normal horizontal sharding configuration.

[2020-09-22 10:36] #7269 closed

[2020-09-22 10:46] terrymanu opened #7560 "Rename MasterSlave module"
Rename:

MasterSlave -> PrimaryReplicaReplication
MasterDataSource -> PrimaryDataSource
SlaveDataSource -> ReplicaDataSource

FIY:
https://lists.apache.org/thread.html/r95fb756ce67f52b1dac9ba103cf68e38d3df88f3356ff2f3bfaa0556%40%3Cdev.shardingsphere.apache.org%3E

[2020-09-22 10:50] goool opened #7561 "Single quote mark) is not supported in LIKE clause"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, git commit hash: f601d558de

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
mysql> select id from admin where fullname like "%a";
Empty set (0.00 sec)
mysql> select id from admin where fullname like "%a";
Empty set (0.00 sec)
mysql> select id from admin wher

[2020-09-22 10:50] goool opened #7562 "Single quote mark is not supported in LIKE clause"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, git commit hash: f601d558de

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
mysql> select id from admin where fullname like "%a";
Empty set (0.00 sec)
mysql> select id from admin where fullname like "%a";
Empty set (0.00 sec)
mysql> select id from admin wher

[2020-09-22 10:51] #7561 closed

[2020-09-22 10:55] johnny2002 commented on #7471
Trista，

I absolutely interested to join your team. Thanks a lot.

[2020-09-22 11:07] goool opened #7563 "Sharding rule question"
There are there tables: A, B, and C, and two FOREIGN KEY constraint between them.

        B.a_id references A.id
        C.b_id references B.id

I use sharding-proxy to partition the data to different databases.

Can anyone help me, how do I configure sharding rules, so that three related data records, goes to the same database.

[2020-09-22 11:13] cielswift opened #7564 "Caused by: java.sql.SQLFeatureNotSupportedException: isValid"
sharding 4.11
spring boot 2.3
mysql 5.7

Caused by: java.sql.SQLFeatureNotSupportedException: isValid
	at org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationConnection.isValid(AbstractUnsupportedOperationConnection.java:157) ~[sharding-jdbc-core-4.1.1.jar:4.1.1]
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:1.8.0_262]
	at sun.reflect.NativeMet

[2020-09-22 11:15] terrymanu commented on #7564
**For English only**, other languages will not accept.

[2020-09-22 11:15] #7564 closed

[2020-09-22 11:18] cielswift opened #7566 "Caused by: java.sql.SQLFeatureNotSupportedException: isValid"
sharding 4.11
spring boot 2.3
mysql 5.7

Caused by: java.sql.SQLFeatureNotSupportedException: isValid
at org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationConnection.isValid(AbstractUnsupportedOperationConnection.java:157) ~[sharding-jdbc-core-4.1.1.jar:4.1.1]
at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:1.8.0_262]
at sun.reflect.NativeMethod

[2020-09-22 11:27] tristaZero commented on #6497
Hi @lwtdev,

Very appreciated your detailed and valuable test result and scenario info. 👍

We will look through all the feedback you provided. Please leave us some time.

Best,
Trista

[2020-09-22 12:46] kimmking commented on #7562
@jingshanglu will track it.

[2020-09-22 12:48] kimmking commented on #7566
`isValid` has been supported in master branch now:
[code]

[2020-09-22 12:48] #7566 closed

[2020-09-22 12:52] kimmking commented on #7563
Use the same sharding stategy for the ABC tables and binding them.
- A.id modify to a_id,
- add a_id to table C,
- use a_id as the database sharding-key and binding ABC

[2020-09-22 13:24] kimmking commented on #7557
FAQ no 13&14
https://shardingsphere.apache.org/document/current/cn/faq/#13-windows%E7%8E%AF%E5%A2%83%E4%B8%8B%E9%80%9A%E8%BF%87git%E5%85%8B%E9%9A%86shardingsphere%E6%BA%90%E7%A0%81%E6%97%B6%E4%B8%BA%E4%BB%80%E4%B9%88%E6%8F%90%E7%A4%BA%E6%96%87%E4%BB%B6%E5%90%8D%E8%BF%87%E9%95%BF%E5%A6%82%E4%BD%95%E8%A7%A3%E5%86%B3

[2020-09-22 13:24] #7557 closed

[2020-09-22 13:25] #5425 closed

[2020-09-22 13:27] kimmking commented on #5189
Any update or close this issue?>

[2020-09-22 14:27] #5044 closed

[2020-09-22 14:28] kimmking commented on #5044
RDL has been implemented.

[2020-09-22 14:29] kimmking commented on #1460
@yu199195 has been finish it.

[2020-09-22 14:29] #1460 closed

[2020-09-22 15:07] cherrylzhao commented on #7380
I think [master] and [slave] datasource is not the sharding datasource you have defined in configuration file which named `bookPunchDataSource` from above log, are you sure this configuration is right?

[2020-09-22 22:12] sluk3r commented on #7538
please assign it to me

[2020-09-23 01:39] duanzonglong commented on #6759
config-wms.yaml:

schemaName: sharding_wms

dataSources:
  wms_base:
  -----
  wms_sd0:
  -----
  wms_sd1:
  -----
  wms_sd2:

shardingRule:
  defaultDatabaseStrategy:
    standard:
      shardingColumn: tenant_id
      preciseAlgorithmClassName: com.hrsoft.sharding.strategy.core.DatabaseStrategy
  broadcastTables:
    - ds_changelog,ds_changelog_lock
  defaultDataSourceName: wms_base
  tables:

[2020-09-23 02:10] goool commented on #7563
Thanks for the reply. My actual situation is that the mysql database already has a lot of data, I can't change the column names or add new columns.

[2020-09-23 02:49] tristaZero commented on #7563
Hi @goool

First, the `bind table` setting could make two or more `logic` tables share the same distribution of their own actual tables.
Second, I can not get your concern about `bind tables` from `I can't change the column names or add new columns.` Since `sharding column` is indispensable for any `logic table` with shards.

[2020-09-23 03:06] tristaZero commented on #7548
Hi, @xbkaishui @lwtdev Thanks for your feedback, from which I summarize the likely issues below. Moreover, could you give them a double-check that there is any mistake with my understanding?

1. If there are no `actual tables` for `customer` table rule. It is possible for users to execute `create table customer` in ShardingProxy to create these actual `customer_xx` tables (Or we can interpret it a

[2020-09-23 03:13] xbkaishui commented on #7548
In my side , this is not only happened in proxy side, other components (jdbc, master-slave) has error too,  when the table not exists in system, ( create or drop table if not exists sql) throws NullPointerException

[2020-09-23 03:14] flycoolman commented on #7307
To meet the release date, other people may open new issue and do it.

[2020-09-23 03:14] #7307 closed

[2020-09-23 05:15] tuohai666 commented on #5189
@kimmking I'll investigate later.

[2020-09-23 05:58] lwtdev commented on #7548
@tristaZero

Thats' the problem. This function can not work well when I test yestday.

Yes, and `stcl:explain sql`  should be return sql route information.

[2020-09-23 06:51] #7520 closed

[2020-09-23 07:01] yang-7777 commented on #650
从源码看ShardingSphere设计-改写引擎篇
https://www.jianshu.com/p/8939bd7c9a23?utm_campaign=hugo
Author: @wenweibin

[2020-09-23 07:37] 474846718 opened #7575 "Support for Spring Data JPA needs to be added"
Use JPA spring.jpa.hibernate.ddl-auto feature to achieve zero configuration for direct use.

[2020-09-23 08:16] tuohai666 opened #7576 "props can't take effect"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-23 08:54] 291277058 commented on #7576
you should use sql.show not sql-show.

[2020-09-23 09:05] tuohai666 commented on #7576
@291277058 Neither will work.

[2020-09-23 09:11] 291277058 commented on #7576
It's hanppend in this [PR](https://github.com/apache/shardingsphere/pull/7410)
I think some prop should not be change.

[2020-09-23 09:49] pengboyin opened #7577 "How to configure TableGroups use spring namespaces"
I want to ask how to use spring namespace to configure tablegroup. No relevant instructions are found in the document

[2020-09-23 11:38] leexiaominghub opened #7578 "when spring.jpa.generate-ddl: true ，jpa sometims report exception of table alread exitsts"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-23 12:15] YXxy1002 opened #7580 "too many keyworks"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-23 12:37] flycoolman commented on #7580
Could you please share your original code with the error information?

[2020-09-23 13:04] YXxy1002 commented on #7580
![image](https://user-images.githubusercontent.com/36941654/94016036-34e2c580-fde0-11ea-8aff-1e365b3d3062.png)
![image](https://user-images.githubusercontent.com/36941654/94016052-3ad8a680-fde0-11ea-95d5-96ec2d9831d6.png)
![image](https://user-images.githubusercontent.com/36941654/94016078-4330e180-fde0-11ea-857e-90f62d98fc47.png)
![image](https://user-images.githubusercontent.com/36941654/9401613

[2020-09-23 13:06] YXxy1002 commented on #7580
`@Data
@TableName("t_test")
public class Test implements Serializable {
    private static final long serialVersionUID = 1L;
    @TableId("idx")
    private Long idx;

    @TableField("position")
    private String position;

    @TableField("Drole")
    private String role;

    @TableField("point")
    private String point;

    @TableField("Dunlock")
    private String unlock;

    @TableField(

[2020-09-23 13:09] YXxy1002 commented on #7580
![1600866514(1)](https://user-images.githubusercontent.com/36941654/94016652-f6013f80-fde0-11ea-9e2c-820da4bf337e.jpg)
![image](https://user-images.githubusercontent.com/36941654/94016682-01ed0180-fde1-11ea-88e8-eb57ba2a96d5.png)
![image](https://user-images.githubusercontent.com/36941654/94016697-07e2e280-fde1-11ea-9b32-4fd06ccb4ff6.png)
![image](https://user-images.githubusercontent.com/36941654

[2020-09-23 13:10] YXxy1002 commented on #7580
when i remove these fileds, it works success
![image](https://user-images.githubusercontent.com/36941654/94016830-3c569e80-fde1-11ea-8e73-5f4eb1c89d34.png)
![image](https://user-images.githubusercontent.com/36941654/94016846-3fea2580-fde1-11ea-892b-f8d1b7c2bb51.png)
![image](https://user-images.githubusercontent.com/36941654/94016854-424c7f80-fde1-11ea-9dab-c40852fa7703.png)

[2020-09-23 13:41] flycoolman commented on #7580
It seems that the table 'doger_water_db.t_test' was not created successfully.

bad SQL grammar []; nested exception is java.sql.SQLSyntaxErrorException: Table 'doger_water_db.t_test' doesn't exist

[2020-09-23 13:57] yu199195 commented on #7575
whats you mean？

[2020-09-23 13:59] YXxy1002 commented on #7580
![image](https://user-images.githubusercontent.com/36941654/94021740-f0a6f380-fde6-11ea-9666-ec505a384e7f.png)
because it didnt use the shardingAlgorithm,is should use UidShardingAlgorithm so that tableName will be 't_test'+'0'='t_test_0'
when i delete the field 'position'  it will use UidShardingAlgorithm

[2020-09-23 14:00] yu199195 commented on #7577
you can follow this document ： https://shardingsphere.apache.org/document/legacy/4.x/document/cn/overview/

[2020-09-23 14:06] yu199195 commented on #7578
1.can you config this ： `spring.shardingsphere.props.sql.show=true`
2 after(1) you  can observe the log ,What kind of SQL is output。

[2020-09-23 14:13] leexiaominghub commented on #7578
2020-09-23 22:11:25.907  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2020-09-23 22:11:26.038  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2020-09-23 22:11:26.047  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Starting...
2020-09-23 22:

[2020-09-23 14:13] leexiaominghub commented on #7578
2020-09-23 22:11:25.907  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2020-09-23 22:11:26.038  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2020-09-23 22:11:26.047  INFO 3404 --- [           main] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Starting...
2020-09-23 22:

[2020-09-23 14:45] flycoolman commented on #7580
Test other words in your code, like 'thisistestword'

[2020-09-23 16:46] cnlinjie commented on #2712
4.1.1 还是没有解决。
看来只能用：4.0.0-RC1 了
没有其他选择，否则一定换。
解决问题的方式，就是关闭问题。

[2020-09-23 16:51] cnlinjie commented on #3831
问题依旧存在。

[2020-09-24 03:17] tristaZero commented on #7577
Hi @pengboyin
Please consult the link above. If no more questions, please close this one, thx.

[2020-09-24 03:24] tristaZero commented on #7580
Hi @flycoolman, Your concern is about the `keywords` of MySQL, isn't it?
Which version of ShardingSphere?
Actually, the master branch has a significant improvement in `keywords`. Would you like to have a try?

[2020-09-24 03:32] tristaZero commented on #7575
Hi @474846718 Thanks for your idea.

Does that mean ShardingSphere helps users create sharding tables automatically? In that case, the sharding rule is also necessary; otherwise, ShardingJDBC does not know how to shard tables.

BTW, a similar feature for ShardingProxy will be online soon! Users can start ShardingProxy without sharding rules and create Sharding tables by SQL. [RDL feature](https://

[2020-09-24 03:33] pengboyin commented on #7577
thank you

[2020-09-24 03:34] #7577 closed

[2020-09-24 03:46] tristaZero commented on #7577
If you give attention to the left column, you will get your answer.
 https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/usage/sharding/

[2020-09-24 03:48] kpioneer123 commented on #7380
I'm afraid I have no notion of what you mean。I sure sharding configuration is right ，because  my code on the line is OK。 Code with Seata maybe ....  @cherrylzhao

[2020-09-24 03:58] tristaZero commented on #7548
Hi, @xbkaishui @lwtdev Thanks for your reply.
Your feedback convinces us that we have [two bugs](https://github.com/apache/shardingsphere/issues/7548#issuecomment-697104767) in the master branch.

We have to fix them before 5.x release.

BTW, is anyone interested in fixing one or two of them?

[2020-09-24 04:03] xbkaishui commented on #7548
please assign to me

[2020-09-24 04:16] tristaZero commented on #7548
@xbkaishui Good luck.

[2020-09-24 08:03] johnny2002 commented on #7471
any progress?

[2020-09-24 08:07] leblancvn opened #7584 "Custom slicing rules"
When I customize the partition, I can't determine whether the parameter condition is delete or query. I need this condition because I need to operate different tables according to query or delete.

[2020-09-24 08:08] jingshanglu commented on #7580
@YXxy1002 @tristaZero It is because of the rewrite error for table, has been fixed on master branch, new version wiil be ok.

[2020-09-24 08:28] xbkaishui commented on #7548
[code]
Seems ShardingProxy not support explain

[2020-09-24 08:30] tristaZero commented on #6179
Hi @hand515 @18511699755 ,

I am sorry to give my comment late. The good news that the performance of starting ShardingProxy has been greatly improved already! Thanks for @xbkaishui, who took much effort in #6212.

Presently, welcome your any test for the `master branch` (Package it local firstly). Your feedback will be the best gift for the community.

Best,
Trista

[2020-09-24 08:31] tristaZero commented on #6161
Hi @assupg @hand515

I am sorry to give my comment late. The good news that the performance of starting ShardingProxy has been greatly improved already! Thanks for @xbkaishui, who took much effort in #6212.

Presently, welcome your any test for the `master branch` (Package it local firstly). Your feedback will be the best gift for the community.

Best,
Trista

[2020-09-24 08:31] tristaZero commented on #5755
Hi @cws1981 ,

I am sorry to give my comment late. The good news that the performance of starting ShardingProxy has been greatly improved already! Thanks for @xbkaishui, who took much effort in #6212.

Presently, welcome your any test for the `master branch` (Package it local firstly). Your feedback will be the best gift for the community.

Best,
Trista

[2020-09-24 08:33] tristaZero commented on #5999
Hi @Spole0168
Sorry for my delayed comment. The good news that the performance of starting ShardingProxy has been greatly improved already! Thanks for @xbkaishui, who took much effort in #6212.

Presently, welcome your any test for the `master branch` (Package it local firstly). Your feedback will be the best gift for the community.

Best,
Trista

[2020-09-24 08:34] kimmking commented on #7584
Can you show an example?

[2020-09-24 08:36] #7563 closed

[2020-09-24 08:36] strongduanmu commented on #7548
@xbkaishui You can try `sctl:explain select * from t_order;`

[2020-09-24 08:41] xbkaishui commented on #7576
@tuohai666 please assign to me, let me check

[2020-09-24 08:42] leblancvn commented on #7584
I divide the database and table according to the time field, and then divide the table by day and month. The tables of the same order day and month are stored. When I query, I only query the database of days. But if I delete the data, I need to delete the data of day and month.

[2020-09-24 08:43] leblancvn commented on #7584
I divide the database and table according to the time field, and then divide the table by day and month. The tables of the same order day and month are stored. When I query, I only query the database of days. But if I delete the data, I need to delete the data of day and month.

[2020-09-24 09:10] xbkaishui commented on #7548
Yes, ` sctl:explain select * from t_order;` that's ok for me.

[2020-09-24 09:13] leblancvn commented on #7584
My scenario is that the database tables returned during query are inconsistent with those returned during deletion.

[2020-09-24 09:23] tuohai666 commented on #7576
@xbkaishui I found this problem maybe not exist.

[2020-09-24 09:23] #7576 closed

[2020-09-24 09:25] xbkaishui commented on #7576
Yes, I tested master branch, it is ok in my side

[2020-09-24 09:39] YunJingJian opened #7588 "Is the official website document written wrong？"
![image](https://user-images.githubusercontent.com/37235197/94128536-dc1d3680-fe8c-11ea-9055-bf4f9ec7e350.png)
![image](https://user-images.githubusercontent.com/37235197/94128574-e63f3500-fe8c-11ea-9af4-816c37742d91.png)

[2020-09-24 10:12] yu199195 commented on #7588
yes， you are right， the defaultDataSourceName is ds0

[2020-09-24 10:16] dongfangding commented on #7269
Sorry, I still have some questions that I need to disturb.
I'm just a newbie who just got in touch with this one.
In my demo, I only hoped to do read-write separation at the beginning of the period, and assumed that this is enough for my application, but later I only want to sub-database with that individual table, and the overall architecture I still think read-write separation is Can satisfy me,

[2020-09-24 10:28] menghaoranss commented on #7233
@lishijun121910 The issue of master-slave dynamic switching has been fixed in the master branch , you can try with master code again.

[2020-09-24 10:28] #7233 closed

[2020-09-24 11:10] YXxy1002 commented on #7580
has been solved when i use the latest version
![Uploading image.png…]()

[2020-09-24 11:10] #7580 closed

[2020-09-24 11:29] #7548 closed

[2020-09-24 11:41] tristaZero commented on #7548
Hi @lwtdev
Thanks to @xbkaishui , this issue has been fixed. Could you give the latest master branch a test to cover your scenarios?

Very appreciated.

[2020-09-24 12:04] jingshanglu commented on #6497
@lwtdev Now, I have fix some bug,but it is not support that query has no sharding column. what is you expect result for ` SELECT * FROM customer where not exists (select * from customer_email where c.status = status) and id = 3;`? and can you test it again on master branch? @chana71 Now, `select id from (select * from t_order limit 10)a` the sql is not yet support, because it is broadcast to all t

[2020-09-24 13:16] kimmking commented on #7575
see https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources/application.properties

[2020-09-24 13:17] #7575 closed

[2020-09-24 13:18] kimmking commented on #7578
https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources/application.properties

[2020-09-24 13:18] #7578 closed

[2020-09-24 13:33] kimmking commented on #7588
fixed it now.

[2020-09-24 13:33] #7588 closed

[2020-09-24 13:35] kimmking commented on #7584
I don't know your case.

[2020-09-24 22:56] #7560 closed

[2020-09-25 02:01] menghaoranss commented on #7455
@judakun It's been more than 10 days. How is it going?

[2020-09-25 03:12] xiandadaa opened #7595 "sharding-jdbc的springboot包从哪下载"
`<dependency>
 <groupId>org.apache.shardingsphere</groupId>
<artifactId>shardingsphere-jdbc-spring-boot-starter</artifactId>
<version>4.1.0</version>
</dependency>`

官网文档也没标版本号,我理解为跟shardingsphere同版本,但是在maven仓库或者阿里云仓库都没法下载下来，怎么解决，没有上传到maven仓库吗

[2020-09-25 03:23] #7562 closed

[2020-09-25 04:06] lwtdev commented on #6497
@jingshanglu Hi

There is a contradiction here， please have a look at these route result of subquery that has no sharding colunm:

[code]

Sorry, this sql is wrong , I missing a table alias. route result after fix this problem:
[code]
I think there are two problem in this scenario
1. Two table (`cusomter` and `cusomter_email`) both have sharding columns, but broadcast to all table.
2. Two table (`

[2020-09-25 04:23] yy-Eddy opened #7597 "未分片的情况下语法不支持"
## Bug Report
项目是spring + mybatis， 集成ShardingSphere-JDBC后，发现有一个sql运行报错 (语句在最后面 ,请忽略sql写的烂 嘿嘿) ；

复现顺序:
当我把dataSoruce切换为ShardingSphere-JDBC时,sql会被拦截解析, 但是解析异常 [在order by解析那里抛出来的].
如果还是默认用mybatis的数据源则无问题.
sql语句中的表未进行任何分库分表，读写分离等配置

个人总结:
在未进行设置分库分表下 语句解析和mybatis出现了不兼容

### Which version of ShardingSphere did you use?
版本是: 4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Pr

[2020-09-25 05:02] strongduanmu commented on #7595
@xiandadaa For english only, other languages ​​will not be accepted.
By the way, the 4.x version of the jar is called `sharding-jdbc-spring-boot-starter`, you can refer to the [maven central repository](https://search.maven.org/artifact/org.apache.shardingsphere/sharding-jdbc-spring-boot-starter/4.1.1/jar).

[2020-09-25 05:02] #7595 closed

[2020-09-25 05:03] strongduanmu commented on #7597
@yy-Eddy For english only, other languages ​​will not be accepted.

[2020-09-25 05:03] #7597 closed

[2020-09-25 06:03] tristaZero commented on #7471
@johnny2002 Sorry for my late reply.

 I assigned this issue to you, which means you are in charge of this feature, welcome!
From my perspective, here are the brief procedure of this issue FYI.

- [x] Design the configuration of `YAML`
- [ ] Design the configuration API of  [Spring NameSpace](https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shard

[2020-09-25 06:06] tristaZero commented on #7269
That is still a type of Sharding strategy.

[2020-09-25 06:22] tristaZero commented on #7138
Hi @strongduanmu Just to confirm, currently `create view` is partly support? Or completely unsupported?

[2020-09-25 06:31] lwtdev commented on #7548
Hi @tristaZero @xbkaishui I have test my scenarios , that work well.

- Test `select` 、 `create table` and `drop table`  when table not exsits before ss start.

[code]
- Test `select` 、 `create table` and `drop table`  when table exsits before ss start.

[code]

[2020-09-25 07:46] strongduanmu commented on #7138
@tristaZero Currently `create view` is completely unsupported, and the following exception will be thrown: SQLParsingException: Unsupported SQL of `create view view1 as select * from t_order where id!=1`

[2020-09-25 09:53] terrymanu commented on #7455
Open to reassign

[2020-09-25 09:53] lwtdev commented on #6497
@jingshanglu  Hi

The latest test results are here :

- **Summary results**

|SQL Demo Title |SQL Demo |Sharding Column |ShardingProxy(5.0.0.RC1)2DB2Table |
|---- |---- |---- |---- |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer); |NONE |Y |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer where id = 3); |ALL |Y |
|subqueryInColumns |SELECT id AS c_id , (select status FROM

[2020-09-25 09:56] xbkaishui commented on #7455
please assign to me

[2020-09-25 09:57] jiang2015 commented on #7455
too quick to pick the job，@xbkaishui，

[2020-09-25 09:58] terrymanu commented on #7496
Closed because of no response anymore.

[2020-09-25 09:58] #7496 closed

[2020-09-25 10:58] tristaZero opened #7610 "Some more suitable names for `TableExtractor` and `ColumnExtractFromExpression`"
1. `TableExtractor` is expected to move to `package org.apache.shardingsphere.sql.parser.sql.common.util` and rename it to in line with other classes in this package, like `TableExtractUtil`
2. `ColumnExtractFromExpression` is also in consideration to rename, like `ColumnExtractFromExpressionUtil`
3. If we remain `xxxUtil` for all the classes in `package org.apache.shardingsphere.sql.parser.sql.co

[2020-09-25 11:46] johnny2002 commented on #7471
Thanks for your trust. I am working on it now.

[2020-09-26 03:57] hisunwei opened #7616 "connection rebalance issue while make shardingproxy ha on k8s"
Anyone deploy shardingproxy on k8s as a service ? I have a issue that client connections can transfer to new or restarted pod, the service is unbalance unless I restart all the client. Any one have Ideas to resolve this issue?

I have multi shardingproxy pod to make the service HA, But cannot balance connections while add a new shardingproxy instance.

[2020-09-27 01:59] leblancvn commented on #7584
I want the same query condition to delete and query to return different tables.
example：
DELETE
FROM
	order_info_201903,
	order_info_20190301
WHERE
	create_time BETWEEN '2019-03-01 00:00:00' and '2019-03-01 23:59:59';

select * from
	order_info_20190301
WHERE
	create_time BETWEEN '2019-03-01 00:00:00' and '2019-03-01 23:59:59';

[2020-09-27 01:59] leblancvn commented on #7584
I want the same query condition to delete and query to return different tables.
example
DELETE
FROM
	order_info_201903,
	order_info_20190301
WHERE
	create_time BETWEEN '2019-03-01 00:00:00' and '2019-03-01 23:59:59';

select * from
	order_info_20190301
WHERE
	create_time BETWEEN '2019-03-01 00:00:00' and '2019-03-01 23:59:59';

[2020-09-27 02:23] gzdzss commented on #7321
I didn't get the update for a long time, so I turned it off

[2020-09-27 02:23] #7321 closed

[2020-09-27 03:35] #7455 closed

[2020-09-27 03:47] tristaZero commented on #7548
@lwtdev Very appreciated your feedback!

[2020-09-27 03:48] tristaZero commented on #7616
Do you think there is any good ways to balance the connections for MySQL?

[2020-09-27 06:00] kimmking commented on #7584
ShardingSphere can't support multi-tables-delete statement in one sql.
You can split to 2 sqls.

[2020-09-27 06:00] #7584 closed

[2020-09-27 06:07] jingshanglu commented on #6497
@lwtdev Ok, thanks, i'll track these unsupported cases.

[2020-09-27 07:29] #7170 closed

[2020-09-27 07:35] leblancvn commented on #7584
I only use pseudo code. I mean the same query condition. I want to return two tables for deletion statement, and only one table for query statement. In dosharding method, I want to judge whether the condition comes from deletion statement or query statement.

[2020-09-27 07:41] leblancvn commented on #7584
@kimmking In the dosharding method of the complexkeysshardingalgorithm class, can we judge whether the parameter in the where condition of the SQL statement comes from delete or select

[2020-09-27 09:10] lidonghai11 commented on #7324
##Some test cases
1、If I don't   'Add database resources for this sharding DB' or 'Create Sharding rules for sharding tables', when I create table,there is nothing response. Hope can get some error response. Below are my test steps：
A:NO DataSource
CREATE DATABASE ss2;

use ss2

CREATE shardingrules (
u_order=hash_mod(order_id, 8),
u_item=mod(item_id, 4)
)

CREATE TABLE `u_order` (
  `order_id` in

[2020-09-27 10:02] tristaZero opened #7624 "Update sharding API doc for 5.x release"

[2020-09-27 10:05] #7624 closed

[2020-09-27 10:07] tristaZero opened #7626 "Create RDL feature doc for 5.x release"
Based on #7324, We need to elaborate this fantastic feature.

[2020-09-27 10:22] tristaZero opened #7627 "Update parser doc for 5.x release"

[2020-09-27 10:26] #7627 closed

[2020-09-27 11:49] johnny2002 commented on #7471
Hi Trista,

Here is the complete sample of YAML configuration file:

[config-sharding.txt](https://github.com/apache/shardingsphere/files/5288217/config-sharding.txt)

[2020-09-27 12:00] johnny2002 commented on #7471
[code]

[2020-09-27 12:11] johnny2002 commented on #7616
just simply add the following:
spring.datasource.hikari.max-lifetime=540000

then all connections will be released and reconnection after max-lifetime.

[2020-09-27 14:23] #6102 closed

[2020-09-27 14:24] kimmking commented on #6102
fix in master now.

[2020-09-27 14:57] kimmking commented on #6759
what's wrong with  mysql-connector-java-5.1.46.jar ?

[2020-09-28 01:43] johnny2002 commented on #7471
'''yaml
rules:
- !SHARDING
  tables:
    template_item_id: #tables that sharding by item_id
      actualDataNodes: ds_${0..1}.${LOGIC_TABLE}_${0..4}
      databaseStrategy:
          type: INLINE
        shardingColumns: item_id
        props:
          #algorithm-expression: ds_${item_id % 2}
          algorithm-expression: ${item_id % 2} #ignore "ds_", since it's already in actualDataNodes

[2020-09-28 02:08] asdxiaoqex opened #7636 "关于子查询的问题"
select g.create_time as createTime, g.group_id as groupId, g.parent_id as parentId, g.title as title, g.remark as remark, g.status as status, (select (case when count(1) != 0 then true else false end)
 FROM tb_user_group ug
 WHERE ug.has_deleted = 'False' and ug.user_id = 'root' and ug.group_id = g.group_id ) as selected
 FROM tb_group g
 WHERE g.has_deleted = 'False';
![image](https://user-images

[2020-09-28 02:09] asdxiaoqex commented on #7636
![image](https://user-images.githubusercontent.com/50010140/94383450-ab7e1b00-0172-11eb-81e6-d8745cf5e38e.png)
![image](https://user-images.githubusercontent.com/50010140/94383463-b5a01980-0172-11eb-8f7d-8d9e3686bf92.png)

[2020-09-28 02:34] strongduanmu commented on #7636
@asdxiaoqex For english only, other languages ​​will not be accepted.

[2020-09-28 02:36] #7636 closed

[2020-09-28 03:16] tristaZero commented on #7616
This is a setting item for SpringBoot? How is it connected to the k8s?

[2020-09-28 03:58] tristaZero commented on #7471
Hi @johnny2002,
Thanks for your detailed design doc. :)
Here are some of my thoughts. Welcome your review.

- `dataSourceTemplates`
This configuration seems clear, so I suppose we can first start with it. As you know, ShardingSphere is an extensive map needing more effort for you to explore so that we could start this journey by this work first. Otherwise, you have to face a considerable challenge

[2020-09-28 05:57] johnny2002 commented on #7471
Hi Trista,
Got it, I will working on datasource now.

[2020-09-28 07:08] #7626 closed

[2020-09-28 07:12] xlxomg opened #7643 "The aggregate function is not correct: SELECT SUM(file_size) right1, SUM(file_size/1000/1000) right2, SUM(file_size)/1000/1000 error2, CONCAT(IFNULL(FLOOR(SUM(file_size/1000/1000)),'0'),'MB') error2 FROM s_file_info GROUP BY project_id"
## Bug Report

**When grouping queries, if the aggregate function is not the outermost, the result is wrong.And I didn't find the description in the document (translation software)**
![图片](https://user-images.githubusercontent.com/26641605/94401137-b483e200-019c-11eb-8d1d-e4fc2d187bf5.png)

### Which version of ShardingSphere did you use?
       4.1.1
### Which project did you use? ShardingSphere-

[2020-09-28 08:01] kimmking commented on #7643
"CONCAT(IFNULL(FLOOR(SUM(file_size/1000/1000)),'0'),'MB') error2"
is not supported now.

[2020-09-28 08:04] xlxomg commented on #7643
That "SUM (file_size) / 1000/1000"? Or if the aggregate function is not in the outermost layer

[2020-09-28 08:18] kimmking commented on #7643
what's your meanings?

[2020-09-28 08:26] xlxomg commented on #7643
Is "SUM (file_size) / 1000/1000" also not supported?
In addition, my tests found that in the case of grouped queries, if the sum function still had computations around it, the results would be wrong.

[2020-09-28 08:27] xlxomg commented on #7643
@kimmking Because My English is not very good, the use of translation software, the expression is not accurate, forgive me

[2020-09-28 09:07] kimmking commented on #7643
I test in master branch:
[code]

[2020-09-28 09:09] #7643 closed

[2020-09-28 09:18] xlxomg commented on #7643
ShardingProxy 4.1.1 There is no indication that it is not supported, but the data is incorrect.

![图片](https://user-images.githubusercontent.com/26641605/94413938-5233dd00-01ae-11eb-996d-60df8703d330.png)
![图片](https://user-images.githubusercontent.com/26641605/94414209-a474fe00-01ae-11eb-9662-1e9a0cc6b54d.png)

[2020-09-28 09:49] hnxphnxp opened #7649 "SQL will be broadcasted when Seata rollback transaction"
**enviroment:**
                springboot:2.0.4,
                shardingsphere:4.1.1,
                seata 1.3.0,using hint for sharding DB and table
                one micro service call other service.

**below is the code and configuration:**
		hintManager.addDatabaseShardingValue("t_user_route", Long.parseLong(userId));
		hintManager.addTableShardingValue("t_user_route", Long.parseLong(user

[2020-09-28 11:04] tristaZero opened #7652 "Modify RDL for creating sharding rule"

[2020-09-28 11:06] #7652 closed

[2020-09-28 11:25] tristaZero opened #7655 "Add checking for using RDL out of execution order"
Fix for [RDL tests](https://github.com/apache/shardingsphere/issues/7324#issuecomment-699608723)

[2020-09-28 11:44] #7655 closed

[2020-09-28 12:24] hisunwei commented on #7616
I think it will work if restart all the client connection to relance immediately  or set diffrent ttl to rebalance slowly, but it will make the application service more complexity.

I prefer the proxy layer can auto detect the number of node changed, and disconnect part existing connections to force the client to reconnect.

[2020-09-28 12:26] hisunwei commented on #7616
BTW:  the app service connect the proxy on k8s via Service, which act like tcp loadbalance.

[2020-09-28 13:02] cherrylzhao commented on #7380
please show your demo-project if you can, I'd like to have an investigate on it.

[2020-09-29 04:29] tristaZero commented on #2234
Hi @xbkaishui
Do you think this issue actually was fixed?

[2020-09-29 04:35] tristaZero commented on #7616
Hi @hisunwei

I prefer to balance requests in the service layer above the Proxy.
Is there any reasonable reason for ShardingProxy to refuse connections, unless users tell it to do so by some settings or SQLs.
How do you think?

[2020-09-29 04:35] xbkaishui commented on #2234
Yes.  It works as expect in master branch

[2020-09-29 05:42] xiangtianyu opened #7658 "How to use complex algorithm in ShardingSphere-Scaling"
I have read the documents on shardingsphere.apache.org, when i try to find some demos foe scaling, i can't find any demo for complex algorithm.
ShardingSphere-Scaling not support complex algorithm?

[2020-09-29 06:04] airship-lion opened #7659 "sharding-proxy integration seata error"
Refer to How to integrate sharding-proxy with seata#4882 to configure, follow the pom to add the dependency, sharding-transaction-base-seata-at is also added to the lib, add seata.conf, file.conf, registry.conf I tried putting it in the conf directory and the lib directory. At first, the error was reported and the class KeyedPoolableObjectFactory could not be found. Later, I copied the jar package

[2020-09-29 06:10] domcj commented on #3745
i miss this issue too,how to handle it

[2020-09-29 06:34] tristaZero commented on #2234
Thanks for your reminder @xbkaishui , therefore I will close this one.

[2020-09-29 06:34] #2234 closed

[2020-09-29 07:01] lwtdev commented on #6506
@tristaZero

But what about tables created without shardingshpere after shardingshpere started ?

And what about use shardingsphere-jdbc?

[2020-09-29 07:10] Lucas-307 commented on #7658
@xiangtianyu Sorry, what is `complex algorithm`?

[2020-09-29 07:11] Lucas-307 commented on #7658
Did you meet any porblem in ShardingSphere-Scaling?

[2020-09-29 07:38] hisunwei commented on #7616
@tristaZero  I am trying to add ServiceMess into k8s to resolve this issue to keep the proxy and client simple.
I am not sure what will happen if the servicemess force broken the connection.

[2020-09-29 11:10] lwtdev opened #7662 "Some SQL was executed incorrectly in 5.0.0-RC1, but executed successfully in 4.1.1"
## Bug Report

Some SQL was executed incorrectly in 5.0.0-RC1, but executed successfully in 4.1.1

### Which version of ShardingSphere did you use?

 5.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior
In 4.1.1

[code]

### Actual behavior
In 5.0.0-RC1

[code]
### Reason analyze (If you can)

### Steps to reproduce the

[2020-09-29 12:15] strongduanmu commented on #7662
@lwtdev It seems to be a parse error, I will investigate and fix this problem as soon as possible.

[2020-09-30 01:10] szlzhm commented on #6840
可否分享下怎样使用的吗，我这里总是失败。我用alibaba spring cloud 2.2.3

[2020-09-30 03:03] sim-wangyan commented on #6840
maybe any db framework should set the&nbsp; datasource or jdbcTemplate&nbsp; at the child class of ApplicationListener<ApplicationStartedEvent&gt;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"

[2020-09-30 03:21] tristaZero commented on #7662
@lwtdev Thanks to your continued feedback and testing. :)
@strongduanmu Initiative!

[2020-09-30 03:31] #7616 closed

[2020-09-30 03:31] tristaZero commented on #7616
@hisunwei Maybe some of the tests could tell us the answer. :)

[2020-09-30 03:42] tristaZero commented on #6506
@lwtdev
If the ShardingSphere service is running, why do not you create table with ShardingSphere?
Maybe you wanna create a non-sharding table?

[2020-09-30 07:15] kimmking commented on #7658
@xiangtianyu IMO, complex algorithm and ShardingSphere-Scaling is not related.

[2020-09-30 08:34] jingshanglu commented on #6497
@lwtdev Hi, now all of them are supported except for those that don't have a sharding key, can you provide a test report like above?

[2020-09-30 08:35] bigbuger opened #7668 "shardingsphere take long time when parse the first sql"
Engine parsing the first SQL is particularly slow. This may be caused by a engine initialization take long time.
My test code:
[code]

Test result:
[code]

I did not use the cache, but the first sql paresed is slower than all the following，event slower than parese a new sql(which is absolute not in cache).
Is there a performance problem when initializ engine ?

[2020-09-30 08:43] tristaZero opened #7669 "Update API doc for RDL"

[2020-09-30 09:25] #7669 closed

[2020-09-30 09:31] #6209 closed

[2020-09-30 09:33] airship-lion commented on #7659
It runs normally now. I forgot to open the seata server before, but I found that when the transaction is started, if the program reports an error in the transaction, the branch transaction can be rolled back normally, but the program does not report an error in the transaction. I manually close a data source instance , The transactions of other data sources that are not closed cannot be rolled bac

[2020-09-30 10:23] lwtdev commented on #6497
@jingshanglu Hi
The latest test results are here :

- **Summary results**

|SQL Demo Title |SQL Demo |Sharding Column |ShardingProxy(5.0.0.RC1)2DB2Table |
|---- |---- |---- |---- |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer); |NONE |Y |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer where id = 3); |ALL |Y |
|subqueryInColumns |SELECT id AS c_id , (select status FROM c

[2020-09-30 12:35] kimmking commented on #7668
At the time first to parse SQL, some Engine&Hook instances will be created once via service loader, so it will cost several milliseconds.

[2020-09-30 12:35] #7668 closed

[2020-09-30 13:13] cherrylzhao commented on #7659
sorry I don't understand what your test mean, please tell us the architecture of your demo and the configuration file of sharding-proxy.

[2020-09-30 13:34] cherrylzhao commented on #7649
yes, seata rollback phase will be invoked in a new thread asynchronous, so hint context will be invalided.
if seata support to register user defined hook in rollback-phase, this problem will be resolved.

[2020-10-01 10:05] #7662 closed

[2020-10-01 10:13] tristaZero commented on #7662
Hi @lwtdev
@strongduanmu has fixed this issue with the efficiency, and welcome your verification test.
Happy mooncake day, everyone!

[2020-10-01 13:55] terrymanu opened #7682 "Use SPI initialize ShadowSQLRouter in ShadowSQLRouterTest"
Please ref: `PrimaryReplicaReplicationSQLRouterTest`, line 75 and 82

[2020-10-01 14:00] wenweibin commented on #7682
Please  assign to me

[2020-10-01 17:08] airship-lion commented on #7659
Several entities in my demo are in different databases. When the sharding-proxy configuration file sets the transaction to BASE mode, put the seata related jar package into the lib, and the breakpoint is at the end when the test runs , And then when I shut down one of the database instances, the transactions of the other two instances cannot be rolled back normally. But when I don't use sharding-p

[2020-10-02 04:34] wanghaichao2195 commented on #5596
I have this issue today, but I'm 100 percent sure the sharding key is the same (in my case is "uid"), but in ShardingUpdateStatementValidator,
the "shardingColumnSetAssignmentValue" is the correct value of uid,
but in
[code]
the getShardingValue will return empty because the identifier in it is "id" (which is the primary key, not shardingColumn in my table)
![Screen Shot 2020-10-01 at 9 32 09 PM](

[2020-10-02 04:36] wanghaichao2195 commented on #5596
I use version 4.1.1 + springboot + hibernate

[2020-10-02 04:38] wanghaichao2195 commented on #3144
I have the same issue [https://github.com/apache/shardingsphere/issues/5596](url)
please take a look, thanks a lot!

[2020-10-02 04:55] wanghaichao2195 commented on #5596
yaml config:
rules:
      sharding:
        default-table-strategy:
          standard:
            sharding-column: uid
            precise-algorithm-class-name: xxxxxxxxxxxxx
        tables:
          user_info_A:
            actual-data-nodes: xxxx.user_info_A_$->{0..${db.sharding.table.maxnumber}}
          user_info_B:
            actual-data-nodes: xxxx.user_info_B_$->{0..${db.sharding.table

[2020-10-03 15:07] terrymanu opened #7692 "Add test case for ShardingConditionEngineFactory"

[2020-10-04 02:00] cherrylzhao commented on #7659
what the configuration of `seata.conf`? you can put some breakpoint in `SeataATShardingTransactionManager` to confirm whether SEATA BASE transaction works or not.

[2020-10-04 02:19] lovepoem opened #7694 "Can anyone help to submit an IDEA version checkstyle.xml ?"
Can anyone help to submit an IDEA version checkstyle.xml ?  It seems that the latest version of IDEA only supports importing idea format checkstyle

![image](https://user-images.githubusercontent.com/827112/95005421-e678c680-062a-11eb-986a-fa8320c84374.png)

You can just export it here

![image](https://user-images.githubusercontent.com/827112/95005426-07d9b280-062b-11eb-88de-d1717b4bde82.png)

[2020-10-04 07:49] lwtdev commented on #7662
Hi @tristaZero
I just ran the test and everything was executed successfully.

[2020-10-04 08:13] lwtdev opened #7696 "SQL executed incorrectly when create table has enum field"
## Bug Report

SQL executed incorrectly when create table has enum field

### Which version of ShardingSphere did you use?

 5.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior
In 4.1.1

[code]

### Actual behavior
In 5.0.0-RC1

[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL t

[2020-10-04 08:19] xbkaishui commented on #7692
please assign to me

[2020-10-04 08:20] xbkaishui commented on #7303
Hi guys. anyone have some suggestions?

[2020-10-04 09:56] strongduanmu commented on #7696
@lwtdev Thank you very much for your feedback. I have tested this problem and found that it's a `CHARACTER SET` parsing bug. I will fix this bug.

[2020-10-04 12:25] terrymanu commented on #7694
I export my setting, please see.
[Uploading ShardingSphere_Code_Style.xml…]()

[2020-10-06 04:55] gywndi opened #7701 "java.lang.UnsupportedOperationException: Cannot support database type 'MySQL' error"
## Bug Report
Hi, I'm updagraing ShardingSphere V3 to V4, but I've got some problem if I execute single jar file.
[code]
You can see the delete query and result error above.

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

Maven project and you can see the pom.xml as below.
I think, some resour

[2020-10-06 06:29] xiaowan opened #7702 "分表数量在1937张，启动时应用卡在SchemaMetaDataLoader.load"
相信这个问题不止一个使用shardingsphere的同学遇到，开发阶段浪费掉大量时间，希望官方能有一个合理的解决办法

[2020-10-06 09:27] strongduanmu commented on #7702
@xiaowan For english only, other languages ​​will not be accepted. BTW, this problem has been optimized in the master branch, you can refer to the [issue 5755](https://github.com/apache/shardingsphere/issues/5755).

[2020-10-06 09:27] #7702 closed

[2020-10-06 11:51] sabz90 opened #7703 "Can not update sharding key, logic table: [**], column: [**]"
I am using Spring Data JPA with Hibernate (with mysql), Spring Boot 2 and SS 4.1.1.

Things were working fine with 4.0.0-RC1. After i updated version to 4.1.1 i get the following exception when running an update queryy through session.update(entity) or entity.save() :-

`org.apache.shardingsphere.core.exception.ShardingException: Can not update sharding key, logic table: [ACCOUNT_INFO], column: [o

[2020-10-07 13:24] #7696 closed

[2020-10-07 15:16] airship-lion commented on #7659
seata.conf client is as follows
![seata-client conf](https://user-images.githubusercontent.com/27192321/95350084-5ec4dd80-08f2-11eb-84fa-f6657b380c79.png)

seata.conf server is as follows
![seata-server conf](https://user-images.githubusercontent.com/27192321/95350760-1bb73a00-08f3-11eb-9621-6b9c50378c6b.png)

The effect is effective. I saw that the seata log is connected to the database, there ar

[2020-10-08 02:47] yinlimin opened #7705 "shardingsphere-governance-repository-zookeeper-curator not exist"
## Question

<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-governance-repository-zookeeper-curator</artifactId>
    <version>${shardingsphere.version}</version>
</dependency>

 not exist

[2020-10-08 03:16] terrymanu opened #7706 "Run HttpServerHandlerTest.assertShardingSphereJDBCTargetChannelReadStartSuccess throw exception"
[WARN ] 11:05:32.916 [main] com.zaxxer.hikari.HikariConfig - HikariPool-1 - idleTimeout has been set but has no effect because the pool is operating as a fixed size pool.
[INFO ] 11:05:33.354 [main] ShardingSphere-metadata - Loading 0 tables' meta data.
[ERROR] 11:05:33.503 [ShardingSphere-ShardingScaling-execute-1] o.a.s.s.c.s.ScalingTaskScheduler - Inventory task execute failed.
org.apache.shard

[2020-10-08 04:02] terrymanu opened #7707 "Add test cases for sharding strategy"
- [ ] Add test case for ShardingStrategyFactory
- [X] Add test case for StandardShardingStrategy
- [X] Add test case for ComplexShardingStrategy
- [x] Add test case for HintShardingStrategy
- [x] Add test case for NoneShardingStrategy

[2020-10-08 04:21] tristaZero commented on #7662
@lwtdev So great, my QA engineer!

[2020-10-08 10:51] jacksparrow414 commented on #7707
- [x] Add test case for ShardingStrategyFactory

[2020-10-08 10:51] lovepoem commented on #7694
It works well, I will pr this file

[2020-10-08 11:36] terrymanu opened #7713 "Add test case for TimeServiceFactory"

[2020-10-09 02:22] jingshanglu commented on #6497
@lwtdev `is_deleted` is not a sharding column,so, the exception will be reported.

[2020-10-09 02:36] lwtdev commented on #6497
but `customer` and `customer_email` are binding tables;

[2020-10-09 03:15] #7682 closed

[2020-10-09 03:23] Lucas-307 commented on #7706
Please assign to me.

[2020-10-09 03:39] jacksparrow414 commented on #7707
only finshed first ,reopen please

[2020-10-09 03:45] jiang2015 commented on #7713
assign to me,thanks

[2020-10-09 03:56] tristaZero commented on #7703
@sabz90 Are you going to update the sharding key of logic table? FYI, If you update the value of sharding key, it is possible to move this row to another table or db.

[2020-10-09 04:07] tristaZero commented on #7701
More detail of log is needed.
The error came from `SQLParserConfigurationRegistry`
[code]

[2020-10-09 04:12] tristaZero commented on #7705
<img width="638" alt="image" src="https://user-images.githubusercontent.com/27757146/95542547-aa79a300-0a28-11eb-9735-9cd59970e4f8.png">
On master branch.

[2020-10-09 04:22] tristaZero commented on #7707
Please do not use `Fixes #7707 .` If this PR does not fix the relevant issue, `Ref #7704` or `#7704` are recommended. Otherwise, the related issue will be closed with this PR merged

[2020-10-09 04:38] #6498 closed

[2020-10-09 05:23] jacksparrow414 commented on #7707
ok

[2020-10-09 05:52] terrymanu commented on #7713
I just refactor this class, so I close it for now, will open other issue later

[2020-10-09 05:52] #7713 closed

[2020-10-09 06:37] yang-7777 commented on #5659
![achome_banner](https://user-images.githubusercontent.com/67564630/95551173-d0a93e00-0a3c-11eb-9e9e-403c9b3d6f86.png)
![liang](https://user-images.githubusercontent.com/67564630/95550459-85426000-0a3b-11eb-81cc-88f622ad664a.png)
![pan juan](https://user-images.githubusercontent.com/67564630/95550462-86738d00-0a3b-11eb-829e-c98fb8f721a1.png)
![track](https://user-images.githubusercontent.com/67564

[2020-10-09 06:39] Lucas-307 commented on #7701
@gywndi

Means can't find `shardingsphere-sql-parser-mysql-xxx.jar`. So, you should add it into your classpath.

Such as: `java -cp bin/* -jar xxx.jar`

[2020-10-09 06:45] kimmking commented on #7701
Like @Lucas-307 wrote, maven-assembly plugin doesn't package all dependencies into your fat jar.

[2020-10-09 06:46] kimmking commented on #7694
@lovepoem  that's great, but I still suggest  DON'T Format project codes anytime and anywhere.

[2020-10-09 10:55] #7705 closed

[2020-10-09 10:58] kimmking commented on #7703
As @tristaZero said, sharding-key can't be update to another value cause it will change the distribution of data.
You also can delete the old key and insert a row with new key.

[2020-10-09 11:21] #7706 closed

[2020-10-09 12:56] jacksparrow414 commented on #7707
- [x] Add test case for StandardShardingStrategy
- [x] Add test case for ComplexShardingStrategy

[2020-10-09 14:39] z3sm opened #7722 "SQL Text contains 'like trim(upper(concat('%','c213', '%'))',did this case supported?"
## Question

Are the following cases supported?
SQL Example:
[code]

I got an error like this:
### line 41:31 no viable alternative at input '(upper(T.CO)likeTRIM(UPPER'

My Shardingsphere version: '4.1.1'

I Changed SQL like this, and there has no error:
[code]

What are the suggestions for support of 'trim','concat', 'upper' function？

[2020-10-09 14:44] z3sm commented on #7722
I have another case, a same error occured:

[code]

[2020-10-09 14:49] kimmking commented on #7722
Those statements are not supported now.

[2020-10-09 15:48] terrymanu opened #7724 "Add test case for RequiredSPIRegistry"

[2020-10-10 00:55] pengliaoye opened #7726 "opentracing support 0.33 version"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2020-10-10 01:09] jiang2015 commented on #7724
assign to me

[2020-10-10 01:46] jingshanglu commented on #6497
@lwtdev Now, `customer.id=3` in `On Expression` is not yet supported, you can move it to whereClause, the future will support condition in `table join condition`.

[2020-10-10 02:45] z3sm commented on #7722
By the way，whether or not broadcast-tables can be excluded a datasource?
I don't want save data to a special datasource

[2020-10-10 02:54] dwyane3011 opened #7728 "sharding-jdbc如何在yaml文件里引用变量"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-10-10 02:57] lwtdev commented on #6497
@jingshanglu It's works well after I move  `customer.id=3` to whereClause.
[code]

[2020-10-10 03:16] #7692 closed

[2020-10-10 03:22] kimmking commented on #7726
Since skywalking has not supported 0.33, and there is no plan for it.

[2020-10-10 03:23] kimmking commented on #7726
s

[2020-10-10 03:23] #7726 closed

[2020-10-10 03:23] kimmking commented on #7722
Another question NEED to open another issue.

[2020-10-10 03:23] #7722 closed

[2020-10-10 03:23] kimmking commented on #7728
English only.

[2020-10-10 03:25] tristaZero commented on #7728
@dwyane3011 Please modify the title and content of this issue in English. BTW, have you tried to use actual url and password?

[2020-10-10 03:27] terrymanu commented on #7728
For English only, other languages will not accept.

[2020-10-10 03:27] #7728 closed

[2020-10-10 03:30] dwyane3011 commented on #7728
yes，now，i need reference variables.

[2020-10-10 03:31] dwyane3011 commented on #7728
I've changed it to English

[2020-10-10 03:31] dwyane3011 commented on #7728
I've changed it to English

[2020-10-10 03:35] dwyane3011 opened #7729 "sharding-jdbc how to reference variables in the yaml file"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-10-10 03:38] z3sm opened #7730 "whether or not broadcast-tables can be excluded a datasource?"
## Question
I don't want save data to a special datasource。
e.g:
There is ten datasource,but one table don't need save data to a special datasource.

How did I config my sharding configuration?

[2020-10-10 03:41] lwtdev opened #7731 "How to configure no sharding schema in 5.0.0-RC1"
## Question

## How to configure no sharding schema in 5.0.0-RC1 ?

In 4.1.1, my configuration is like this:

[code]

In 5.0.0-RC1 :

[code]

But the effect is different for some SQL, such as the following:
[code]

[2020-10-10 03:41] z3sm opened #7732 "Wether or not support skip sql parse for a complex SQL statements."
## Question
I have a complex SQL ,and this sql contains a sub query,.
execute this query eccured an error :"Can not find owner from table".

So I want to skip sql parse .
My Sharding version :4.1.1

[2020-10-10 03:49] dwyane3011 commented on #7729
Somebody has used it？

[2020-10-10 05:17] lovepoem commented on #7694
Closed via https://github.com/apache/shardingsphere/pull/7711

[2020-10-10 05:17] #7694 closed

[2020-10-10 06:31] Lucas-307 commented on #7732
@z3sm Not Supported.

[2020-10-10 06:32] #7732 closed

[2020-10-10 06:33] kimmking commented on #7729
yaml configuration doesn't support placeholder now.
you can use spring-boot-starter for placeholder.

[2020-10-10 07:37] Lucas-307 commented on #7730
@z3sm Not Supported.

[2020-10-10 07:41] tristaZero commented on #7731
@lwtdev Every time I see your issue, I guess there may be a bug likely. :-) Believe me, you are definitely a good QA engineer. 😃
Back to this issue, `no sharding schema` you mentioned means `defaultDataSourceName: ds_0`, doesn't it?
We remove the `defaultDataSource` setting, which means ShardingSphere will help the user manage all the data sources.
In your case, does `customer` exist in any data s

[2020-10-10 07:43] tristaZero commented on #7730
@z3sm Sorry, but I can not get your point.
Do you think #7731 is your case?

[2020-10-10 08:09] tristaZero opened #7733 "Tables without any rule configuration will be a simple and single table"
## Background
If users execute a SQL `create table t_order` without executing any RDL and no any preparative rule configuration, what will happen? I have no idea about this case, so this issue is to handle these particular cases.

## Tasks
1. Do some investigation to figure out the current process for this case (Sharding, encryption, masterSlave scenarios).

2. Support to create a table without an

[2020-10-10 08:28] lwtdev commented on #7731
Yes, Some of the databases in our project need to be sharding and some do not, we want to manage them all with ShardingSphere
 proxy.

Yes, table `customer` alrealy exist before ShardingSphere proxy started.

[code]

What do you think?

Because before we used additional database version management tools to manage the table structure.
So I have to learn more about this.
- What is the situation of S

[2020-10-10 08:38] lwtdev commented on #7731
In fact, I found a lot of SQL with execution problems, but I don't think it should be, so I want to confirm whether the configuration is correct...

[2020-10-10 11:10] tristaZero commented on #7733
Hi @strongduanmu
This feature is verrrrrry important and expertise-needed, I can not find the right person than you 😌 . But Just relax, `basic solution` is not so hard. Try our best to finish it before 5.x-alpha release!

Afterward, there will be an incredible programming journey! Trust me, you will get a priceless experience from it and earn more attention from the community. :-)

[2020-10-10 11:36] tristaZero opened #7735 "Add unit tests for DataSourceConnectionUrlUtil"
## Introduction
`DataSourceConnectionUrlUtil` is to assemble configuration items, e.g., password, database name, to get a complete and correct JDBC URL for the connection pool.

## Task
1. Create unit test class for `DataSourceConnectionUrlUtil`
2. Add assertion for `getUrl()` with `PostgreSQL` database input
3. Add assertion for `getUrl()` with `MySQL` database input
4. Raise a PR

## Tips
1. `Da

[2020-10-10 11:43] cenyu00 commented on #7735
please assign me

[2020-10-10 12:38] jacksparrow414 commented on #7707
- [x] Add test case for HintShardingStrategy
- [x] Add test case for NoneShardingStrategy

All test cases are finished

[2020-10-10 13:31] strongduanmu commented on #7735
@cenyu00 Assigned, welcome to join the SS community. 😁

[2020-10-10 13:40] strongduanmu commented on #7733
@tristaZero Thank you very much for your detailed guidance, I will try my best to finish this issue. 😁

[2020-10-11 02:08] coderJL opened #7737 "4.1.1 版本查询列中包含子查询什么时候能够支持？"
![image](https://user-images.githubusercontent.com/16283748/95668620-2864b800-0ba9-11eb-99ec-7842e03f4f0a.png)，这个地方会忽略子查询的列，导致jdbc有返回这个子查询列，但是ShardingResultSetMetaData.getColumnCount 方法只会返回非子查询的列，导致程序中的结果集获取不到子查询列的值，期待sharding能早日支持这种查询语法。

另外再咨询一个问题：
ShardingResultSetMetaData.getColumnCount() 是否可以直接返回((ResultSetMetaData) resultSetMetaData).fields.length 来解决这个问题。
![image](https://user-images.github

[2020-10-11 02:26] coderJL commented on #7737
![image](https://user-images.githubusercontent.com/16283748/95668879-2d773680-0bac-11eb-801c-ce3e2670a695.png)

[2020-10-11 02:35] coderJL commented on #7737
![image](https://user-images.githubusercontent.com/16283748/95668985-7aa7d800-0bad-11eb-8a43-4e64e330448c.png)

[2020-10-11 02:52] #7724 closed

[2020-10-11 02:53] terrymanu commented on #7737
**For English only**, other languages will not accept.

[2020-10-11 02:53] #7737 closed

[2020-10-11 03:02] coderJL opened #7738 "When will the subquery included in the query column of version 4.1.1 be supported?"
![image](https://user-images.githubusercontent.com/16283748/95668620-2864b800-0ba9-11eb-99ec-7842e03f4f0a.png)，
This place can ignore the subquery column, leading to the JDBC has returned to the query sequence, but ShardingResultSetMetaData. GetColumnCount method will only return a query sequence, has resulted in the result set in the program for less than the value of the query sequence, looking

[2020-10-11 09:56] tristaZero commented on #7735
@strongduanmu Nice. :)
@cenyu00 Welcome!

[2020-10-12 03:08] #7729 closed

[2020-10-12 03:28] tristaZero commented on #7738
@coderJL Hi, thanks for your issue. There is better improvement in the subquery on the master branch. Could you glance at it? Plus, #6497 is a test report about subquery by @lwtdev for your reference. :)

[2020-10-12 03:33] tristaZero commented on #7707
@jacksparrow414 Congrats! Do you think we can close this one?

[2020-10-12 03:47] kimmking commented on #6497
Sounds great.
It's a big deal and can be improving an amazing step forward for sql support.

[2020-10-12 04:00] coderJL commented on #6497
Look forward to the release of this feature

[2020-10-12 04:03] coderJL commented on #7738
@tristaZero Thanks to the guide, #6497 I found the answer I was looking for. The community is active and the development team very awesome makes us feel more confident in using it

[2020-10-12 04:49] johnny2002 commented on #7471
Hi Trista,

PR: https://github.com/apache/shardingsphere/pull/7747
Please review.

[2020-10-12 04:51] johnny2002 commented on #7471
@tristaZero

[2020-10-12 06:54] shun634501730 opened #7750 "The issue about DefaultKeyGenerator(3.1.0) or SnowflakeKeyGenerateAlgorithm(4.1.1)"
Hi,

I am using Sharing Jbdc 3.1.0 on my project.

When the app using the expression '{id % 8}' to shadring the 't_order' table, the generated distributed id always inserted to the t_order_0 and t_order_1. For expression '{id % 16}' or '{id % 32}' or any expression '{id % x}' which the x is 2^n (n > 1), it also will be occur above issue.

I write the below example code to reproduce the issue:
[cod

[2020-10-12 07:05] kimmking commented on #7750
The version 3.1.0 is out of date now.
Can you try 4.1.1 or master branch?

[2020-10-12 07:26] sunOnly opened #7752 "java.lang.NullPointerException"
## java.lang.NullPointerException

[ERROR] 19:30:41.082 [ShardingSphere-Command-15] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
        at org.apache.shardingsphere.shardingproxy.frontend.mysql.MySQLErrPacketFactory.newInstance(MySQLErrPacketFactory.java:50)
        at org.apache.shardingsphere.shardingproxy.frontend.mysql.command.query.text.query.MySQLC

[2020-10-12 07:37] kimmking commented on #7752
You should try the master branch for latest codes.
Your branch is out of date.

[2020-10-12 07:40] #7752 closed

[2020-10-12 07:52] shun634501730 commented on #7750
For above example code, using the SnowflakeKeyGenerateAlgorithm (4.1.1) still have issue.

[2020-10-12 08:38] tristaZero commented on #7731
- What is the situation of ShardingSphere Jdbc.
- Whether to support online change table structure (add, modify, delete)
- How to synchronize the metadata of each node of the ShardingSphere Proxy cluster.

You can use [governance feature](https://shardingsphere.apache.org/document/current/cn/features/governance/management/) to cover the questions above.

- Is there a synchronization method for mod

[2020-10-12 08:58] jiang2015 commented on #7731
let me try it，thanks。

[2020-10-12 09:02] xunki commented on #3366
I have the same problem,the routing result is the Cartesian product of the library and the table

[2020-10-12 09:20] lwtdev commented on #7731
Thanks, I will confirm these later

@tristaZero What I mean is not to modify the table structure through ShardingProxy.  In this case, how to update the table metadata of ShardingProxy？

[2020-10-12 09:26] tristaZero commented on #7731
@jiang2015 Welcome. :) I assigned it to u.

[2020-10-12 09:39] lwtdev commented on #7731
@tristaZero @jiang2015

In fact, using the same configuration in addition to DDL and other SQL examples are also has problem:
[code]
- **Table init sql**
[code]

[2020-10-12 09:52] jiang2015 commented on #7731
I cna study the code by this case, thanks.

[2020-10-12 11:47] terrymanu opened #7760 "Add test case for OracleJDBCSchemaHandler"

[2020-10-12 11:49] terrymanu opened #7761 "Add test case for MetaDataConnectionAdapter.getSchema with SPI"

[2020-10-12 12:01] sabz90 commented on #7703
@tristaZero @kimmking The query does not change the Sharding key of the table. If that value does not appear in SET statement, then the query will end up being executed on all shards which is not optimal. Another option is putting the sharding column in the where clause but that gets complicated as Hibernate does not allow including columns in the where clause.

maybe make this validation optional

[2020-10-12 12:43] liuchaoheliang opened #7763 "sql rewrite not work for select ... where cipherColumn is null"
release for 4.x
sql   case:   select * from user_info where mobile is null or mobile = ?
rewrite result : SQL: select * from user_info where mobile is null or mobile_enc = ?
why the frist mobile column can not be rewrited?

[2020-10-12 13:11] jacksparrow414 commented on #7707
yes

[2020-10-12 14:01] #7471 closed

[2020-10-12 14:01] kimmking commented on #7763
can you show your configuration?

[2020-10-13 01:15] jiang2015 commented on #7761
assin to me

[2020-10-13 02:11] liuchaoheliang commented on #7763
yes , very simple!
like this :
spring.shardingsphere.encrypt.encryptors.mobile_encryptor.type=mobile

spring.shardingsphere.props.query.with.cipher.column=true
spring.shardingsphere.props.sql.show=true
spring.shardingsphere.encrypt.tables.user_info.columns.mobile.cipherColumn=mobile_enc
spring.shardingsphere.encrypt.tables.user_info.columns.mobile.encryptor=mobile_encryptor

the mobile column is c

[2020-10-13 02:17] strongduanmu commented on #7761
@jiang2015 Assigned, and welcome to join the SS community. 😀

[2020-10-13 02:55] duanzonglong commented on #6759
I only want ds_changelog route to wms_base,but sometimes it's wrong,please see image.

[2020-10-13 03:19] #7138 closed

[2020-10-13 03:25] tristaZero commented on #7763
Hi @liuchaoheliang I supposed we fixed this bug on the master branch.
[code]
[code]

[2020-10-13 04:20] #7707 closed

[2020-10-13 04:41] tristaZero commented on #7703
The query does not change the Sharding key of the table. If that value does not appear in SET statement

Sorry? `account_id` is a sharding key and in set clause, isn't it?

[2020-10-13 04:44] tristaZero commented on #7738
Thanks for your attention @coderJL and welcome join in this community if you like. The issues with `good-first-issue` or `volunteer wanted` label will be a good start. :)

[2020-10-13 04:54] tristaZero commented on #7731
Thanks, I like your report! @lwtdev
@jiang2015 Just focus on [bug-1](https://github.com/apache/shardingsphere/issues/7731#issuecomment-706967050)

I guess @strongduanmu will be a right person to take charge of other improvements. :-)

[2020-10-13 05:08] tristaZero commented on #7731
From @lwtdev 's feedback below,
[code]
There are two improvements for your consideration.
1. Remove or change the exposed error info
`org.apache.shardingsphere.sql.parser.sql.dialect.statement.mysql.dml.MySQLUpdateStatement@4f8e14c4'` is supposed to hide from end-users.
2. Fine-grained checking for `validateMultipleTable`
When there are a multi-table SQL, maybe we could consider distinguishing the

[2020-10-13 06:29] sunOnly opened #7768 "Request no response"
## performance  test Request no response
### ShardingSphere-Proxy version 4.1.1

### jstat -gcutil 14324 1000
 E:\Users\Administrator>jstat -gcutil 14324 1000
  S0     S1     E      O      M     CCS    YGC     YGCT    FGC    FGCT     GCT
 73.44   0.00  35.97  28.41  96.63  93.05   2358    9.366     3    0.385    9.751
 73.44   0.00  63.90  28.41  96.63  93.05   2358    9.366     3    0.385    9.75

[2020-10-13 07:09] liuchaoheliang commented on #7763
Did you test it on the 5.x version?
i running on  4.x version , Does the 4.x version stop maintenance?

[2020-10-13 07:11] taojintianxia commented on #7760
assign to me

[2020-10-13 08:16] kpioneer123 commented on #7380
DEBUG  info here：
16:13:02.449 DEBUG [ShardingSphere-1]  io.seata.core.context.RootContext  - bind 39.106.112.246:8091:59314085233266688
16:13:02.449 DEBUG [ShardingSphere-0]  io.seata.core.context.RootContext  - bind 39.106.112.246:8091:59314085233266688
16:13:02.449 DEBUG [ShardingSphere-2]  io.seata.core.context.RootContext  - bind 39.106.112.246:8091:59314085233266688
16:13:02.449 DEBUG [Shard

[2020-10-13 08:17] kpioneer123 commented on #7380
16:13:01.839 INFO  [main]  ShardingSphere-SQL  - Logic SQL: insert into book_fans (book_id, user_id, fans_type,
      punch_start_date, punch_last_date,running_days,total_days)
    values (?, ?, ?,
      ?, ?,?, ?)
       ON DUPLICATE KEY UPDATE
                book_id=values(book_id),
                user_id=values(user_id),
                fans_type=values(fans_type),
                punch_start

[2020-10-13 08:18] kpioneer123 commented on #7380
[code]

[2020-10-13 08:19] kpioneer123 commented on #7380
DEBUG info here：
[code]

[2020-10-13 08:22] kpioneer123 commented on #7380
[code]

[2020-10-13 08:39] tristaZero commented on #7324
[code]

[2020-10-13 09:06] kpioneer123 commented on #7380
[code]

[2020-10-13 09:13] kpioneer123 commented on #7380
[code]

[2020-10-13 10:37] strongduanmu commented on #7760
@taojintianxia Assigned. 👍

[2020-10-13 11:29] strongduanmu commented on #7731
@tristaZero I will investigate and resolve this issue. 😀

[2020-10-13 13:40] YXxy1002 opened #7780 "java.sql.SQLFeatureNotSupportedException: isValid"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-10-13 14:24] jiang2015 commented on #7731
Thanks, I like your report! @lwtdev
Hi @jiang2015, Just focus on bug-1

I guess @strongduanmu will be a right person to take charge of other improvements. :-) Could you have a look at the following issues?

@tristaZero I will investigate and resolve this issue. 😀

thanks for analysis this problems details，I can try to focus on bug-1

@strongduanmu @tristaZero  thanks for analysis this problem，I ca

[2020-10-13 14:25] jiang2015 commented on #7731
thanks for analysis this problems details，I can try to focus on bug-1

[2020-10-13 22:54] szlzhm opened #7783 "I encounter incompatible problems with the shardingjdbc when I use alibaba springcloud 2.2.X"
When I use alibaba springcloud 2.2X sentinel seata feign to setup my spring cloud project, I encounter  incompatible problems with the shardingjdbc.I use shardingjdbc4.1.X is also unable to solve this problem, ask for help.
When remove shardingjdbc away  from my project ,it doing work well.

The exception and application.properties and  springboot main class and pom.xml are listed at bellow.
sprin

[2020-10-14 01:47] jingshanglu commented on #7780
@YXxy1002 Can you show logic sql and actual sql?

[2020-10-14 02:13] YXxy1002 commented on #7780
@jingshanglu This is the startup exception, Not when querying

[2020-10-14 02:14] gywndi commented on #7701
Thanks for reply, but I still have same issue. :-(
I checked my packaged jar with vi command, it's packaged shardingsphere-sql-parser-mysql-4.1.0.jar also.
[code]

There's no problem, if I execute with java command as below.
[code]

But I changed execute `-jar` as below, I have same problem.
[code]

Could it be caused by the class not loading? If so, is there a way to force loading?

[2020-10-14 02:49] tristaZero commented on #7780
@YXxy1002 Hi Could you show us more log info? As I can not get some info about ShardingSphere.

[2020-10-14 02:54] tristaZero commented on #7783
Hi @szlzhm Do you think [sharding-example](https://github.com/apache/shardingsphere/tree/4.1.1/examples/sharding-jdbc-example/sharding-example) can give you some points?

[2020-10-14 03:05] tristaZero commented on #7763
@liuchaoheliang Yep, 5.x is coming soon.

[2020-10-14 03:43] liuchaoheliang commented on #7763
all right !
it seems that only I can fix this bug myself .
thank you very much !

[2020-10-14 03:43] #7763 closed

[2020-10-14 03:51] xuxinstyle opened #7785 "execute the sql statement directly appear exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-10-14 04:28] #7760 closed

[2020-10-14 05:11] gywndi commented on #7701
I changed maven plugin from maven-assembling-plugin to maven-shade-plugin, and solved this problem.
The pom file are as this. Thanks.
[code]

[2020-10-14 05:11] #7701 closed

[2020-10-14 06:04] fengshantao opened #7786 "If i want database sharding only,not tables。can I only set ‘defaultDatabaseStrategy’"
If i  want database sharding only,not tables。can I only set ‘defaultDatabaseStrategy’ without setting tables。PS,i am using sharding proxy

[code]

I tried，but it did not work right

[2020-10-14 06:31] jingshanglu commented on #7785
@xuxinstyle 4.0 is too old, new version has fixed it.

[2020-10-14 06:49] xuxinstyle commented on #7785
thanks for your reply.
What version is more stable?

[2020-10-14 06:58] szlzhm commented on #7783
Sorry,this cant solve my problem. I am using alibaba-springcloud-seata ，not io.seata.all

[2020-10-14 07:09] jingshanglu commented on #7785
@xuxinstyle The stable version is now 4.11 and 5.0 is coming.

[2020-10-14 07:34] xuxinstyle commented on #7785
I use 4.1.1 version. But still exception:
line 1:7 no viable alternative at input 'profile'
line 1:7 mismatched input 'profile' expecting {'(', '{', TRUNCATE, POSITION, VIEW, ANY, OFFSET, BEGIN, COMMIT, ROLLBACK, SAVEPOINT, BOOLEAN, DATE, TIME, TIMESTAMP, YEAR, QUARTER, MONTH, WEEK, DAY, HOUR, MINUTE, SECOND, MICROSECOND, MAX, MIN, SUM, COUNT, AVG, CURRENT, ENABLE, DISABLE, INSTANCE, DO, DEFINER,

[2020-10-14 08:15] xuxinstyle commented on #7785
Sorry. I find it . Because the profile and system table names are duplicated

[2020-10-14 09:30] z3sm opened #7789 "Did the shardingshpere support sql contains 'and find_in_set()' and 'and exists()'"
## Question

I got  a sql ,there has function'find_in_set' and 'and exists':
Wether or not supported this case?

[code]

[2020-10-14 09:43] z3sm commented on #7789
the 'table_isnert' and 'table_select' is broadcast-tables table

[2020-10-14 09:49] jingshanglu opened #7791 "Improve mysql Statemen definition and Visitor"
## Background
Now, the Statement definition of mysql is not perfect yet. We need to refine the Statement definition and construct reasonable statements through visitor.
For example, some statements are empty
[code]

## Tasks
1. Refine statement definition.
2. Implementation corresponding method in Visitor to builds a reasonable Statement.
## Solutions
1. Think about a reasonable Statement definiti

[2020-10-14 11:51] menghaoranss opened #7792 "Error message is returned when using postgreSQL to execute insert statement"
## Bug Report

### Which version of ShardingSphere did you use?
The master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
return success message

### Actual behavior
[code]

![image](https://user-images.githubusercontent.com/60651792/95984964-8a961500-0e56-11eb-92de-6b4177d01833.png)

[2020-10-15 03:16] tristaZero commented on #7783
Sorry, I am not a user of `alibaba-springcloud-seata`. Also, I can not get any key info from the log above. I feel more logs about the sharding sphere can give us more hints.

[2020-10-15 07:37] kimmking commented on #7780
https://github.com/apache/shardingsphere/pull/6002

[2020-10-15 07:38] #7780 closed

[2020-10-15 07:56] kimmking commented on #7786
`
shardingRule:
  tables:
     t_order:
       actualDataNodes: ds${0..1}.t_order
       tableStrategy:
         standard:
           shardingColumn: tenet_id
           algorithmExpression: t_order
  defaultDatabaseStrategy:
    inline:
      shardingColumn: tenet_id
      algorithmExpression: ds${tenet_id}

`

[2020-10-15 07:56] #7786 closed

[2020-10-15 08:01] kimmking commented on #7783
@szlzhm I guess this is a alibaba-springcloud-seata issue.

[2020-10-15 08:01] #7783 closed

[2020-10-15 08:38] yu199195 opened #7799 "Test case for database getSchema"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to test different database get schemas , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can find `org.apache.shardingsphere.infra.metadata.model.physical.jdbc.handler.DatabaseMetaDataDial

[2020-10-15 08:39] #7785 closed

[2020-10-15 08:40] yu199195 opened #7800 "Test case for database getTableNamePattern"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to test different database get schemas , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can find `org.apache.shardingsphere.infra.metadata.model.physical.jdbc.handler.DatabaseMetaDataDial

[2020-10-15 08:49] wwj-go commented on #7800
@yu199195 hi, I am very interested in this task, please assign it to me

[2020-10-15 08:50] liuyueve commented on #7799
I get it .

[2020-10-15 08:52] c913168497 commented on #7799
I get it

[2020-10-15 08:52] yu199195 commented on #7800
@wwj-go  good luck for you

[2020-10-15 08:53] yu199195 commented on #7799
@liuyueve  good luck for you

[2020-10-15 08:53] yu199195 commented on #7799
@c913168497  You can keep your eyes on the next task, and If you have any, I'll give it to you

[2020-10-15 08:55] c913168497 commented on #7800
hi, I am very interested in this task, please assign it to me

[2020-10-15 09:09] exploit1609 commented on #7799
I get it.

[2020-10-15 11:52] wwj-go commented on #7800
@yu199195 Thanks，I have finished it and commit a PR， Looking forward to your suggestions！

[2020-10-15 14:01] #7800 closed

[2020-10-16 01:56] Linuxea opened #7803 "use mysql ROW_NUMBER function error"
## Question

[code]

### mysql version
[code]

### question

I use mybatis and shardingsphere in my project.
This is my sql
[code]

But something error happens:
[code]
I want to get the rank by using <code>row_number</code>, even if I use another way for example
[code]

That appears the same mismatch error.
What can I do?
Thanks sincerely!

[2020-10-16 02:04] jingshanglu commented on #7803
@Linuxea Which version of ShardingSphere did you use?

[2020-10-16 02:14] Linuxea commented on #7803
[code]

[2020-10-16 02:25] jingshanglu commented on #7803
@Linuxea Are you using SQLServer?

[2020-10-16 03:35] tristaZero commented on #7789
Hi @z3sm 4.x is unsupported, but the master branch for 5.x release is likely to cover this case, I guess.
Hi @strongduanmu do you think this SQL is in our `insert...select` supported list?

[2020-10-16 05:12] strongduanmu commented on #7789
@z3sm Hi, the `insert ... select ...` statement is already supported in the master branch, you can use `sharding-proxy` for testing. 😀

[2020-10-16 06:40] #7792 closed

[2020-10-16 07:33] Gordonman opened #7806 "Sharding and master slave cannot be used at the same time"
## Question
 The project is currently using the sharding function, only the table is partitioned. And we want to use the master-slave function .
 I configured the sharding and master-slave, but the sharding did not take effect. so DB throw table does not exist exception.
I saw they are two different data source.

shardingsphere.version: 4.0.0-RC2

![image](https://user-images.githubusercontent.com

[2020-10-16 08:05] kimmking commented on #7806
the ms-datasources should be independent with sharding-datasources.

see:  https://github.com/apache/shardingsphere/blob/4.1.1/examples/sharding-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-master-slave.yaml

[2020-10-16 08:11] #7799 closed

[2020-10-16 08:22] piggytough opened #7809 "How to improve efficiency of batch insert ?"
**My version** : Sharding-JDBC 4.1.1

sql like this: insert into pressure(userid,orderid) values(?, ?),(?,?),...
insert data size is 5000, and i've used prepare statement.

when NOT using sharding, time consumes about 40ms, but sharding takes about 400ms.

Sharding tables configuration:
![image](https://user-images.githubusercontent.com/43106779/96233774-1af56680-0fcb-11eb-9c85-99364b1c4932.png)

[2020-10-16 08:39] Gordonman commented on #7806
My shardingsphere version is 4.0.0-RC2,  I didn't find 'masterSlaveRules' , only saw 'masterslave'

[2020-10-16 09:16] DishJi opened #7810 "Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required"
pom:
[code]

The error stack is as follows：
[code]

[2020-10-16 09:19] DishJi commented on #7810
sharding-jdbc-spring-boot-starter  4.0.0-RC1  no problem

[2020-10-16 09:24] muye100110 opened #7811 "How to connect with Sharding-Proxy in go language"
When I need to use Go language to connect to Sharding-Proxy, the error This command is not supported in the prepared statement protocol yet appears

[2020-10-16 09:51] kimmking commented on #7811
Just like connect to mysql server.

[2020-10-16 09:54] #7811 closed

[2020-10-16 10:30] kimmking commented on #7810
any more logs?
the post logs not related about shardingsphere.

[2020-10-16 10:33] menghaoranss opened #7812 "Update SQL was rewritten error in encrypt_db with pgsql"
## Bug Report

### Which version of ShardingSphere did you use?

The master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Logic SQL:
[code]

Actual SQL:
[code]

### Actual behavior

The update sql was rewritten error

[code]
Column `order_id` was not replaced by encrypted column.

### Reason analyze (If you can)
He

[2020-10-16 10:48] kimmking commented on #7809
It seems isToAddDerivedLiteralExpression method will call getGroupedParameters for an empty check every time.
So we can make two improvement choices:
- cache the GroupedParameters for one sql and will called 5000 times in multiple values
- add a new check empty method and avoid new/merge parameters

[code]

[2020-10-16 11:44] wenweibin commented on #7791
Please assgin to me, i want to have a try

[2020-10-16 12:14] Lucas-307 opened #7815 "Scaling mysql with utf8mb4 data occur "Incorrect string value" SQLException"
Sql example:

[code]

Exception:
[code]

[2020-10-16 13:06] #7809 closed

[2020-10-16 13:08] Gordonman commented on #7806
Can someone help me answer this question in detail

[2020-10-16 13:08] kimmking commented on #7809
there has been fixed in master branch, can you try it with master branch 5.0.0.
https://github.com/apache/shardingsphere/pull/7816

[2020-10-17 01:05] piggytough commented on #7809
sure!

[2020-10-17 07:10] terrymanu opened #7820 "Split DatabaseMetaDataDialectHandlerTest related test cases with diff dialect"
Split DatabaseMetaDataDialectHandlerTest to:

- [x] H2DatabaseMetaDataDialectHandlerTest
- [x] MariaDBDatabaseMetaDataDialectHandlerTest
- [x] MySQLDatabaseMetaDataDialectHandlerTest
- [x] OracleDatabaseMetaDataDialectHandlerTest
- [x] PostgreSQLDatabaseMetaDataDialectHandlerTest
- [x] SQL92DatabaseMetaDataDialectHandlerTest
- [x] SQLServerDatabaseMetaDataDialectHandlerTest

[2020-10-17 07:23] hugohoo opened #7823 "org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment"
### Error querying database.  Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment
### The error may involve TCodeDomain.getTSecretkeyByParam-Inline
### The error occurred while setting parameters
SQL: SELECT    * FROM T_CODE

[2020-10-17 08:48] terrymanu opened #7826 "Warn log occur when execute mvn install on shardingsphere-sql-parser-mysql module"
[INFO]
[INFO] --- antlr4-maven-plugin:4.7.2:antlr4 (antlr) @ shardingsphere-sql-parser-mysql ---
[INFO] ANTLR 4: Processing source directory /Users/zhangliang/personal/shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/antlr4
[INFO] Processing grammar: org/apache/shardingsphere/sql/parser/autogen/MySQLStatement.g4
[WARNING] warning(1

[2020-10-17 08:50] terrymanu opened #7827 "Warn log occur when execute mvn install on shardingsphere-sql-parser-postgresql module"
[INFO]
[INFO] --- antlr4-maven-plugin:4.7.2:antlr4 (antlr) @ shardingsphere-sql-parser-postgresql ---
[INFO] ANTLR 4: Processing source directory /Users/zhangliang/personal/shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-postgresql/src/main/antlr4
[INFO] Processing grammar: org/apache/shardingsphere/sql/parser/autogen/PostgreSQLStatement.g4
[WAR

[2020-10-17 08:52] strongduanmu commented on #7823
@hugohoo Which version did you use? In addition, can you provide the sharding rule configuration and a case to reproduce this exception?

[2020-10-17 10:58] hsgmj commented on #6832
How did you solve it？

[2020-10-17 15:24] yz-1130 opened #7829 "about MySQL stored procedures？how should i do？"
I want to use ShardingSphere data desensitization, but also use MySQL stored procedures. In the process of using mybatis, I found that stored procedures are not supported. Is there any way I can call certain mapper files without letting it do it? SQL analysis or skip it, to ensure that I can use the stored procedure smoothly?

[2020-10-17 17:59] aasummers commented on #6328
请问 这个问题解决了吗？

[2020-10-18 02:26] wang7241 commented on #6832
use "druid" instead of "druid-spring-boot-starter",and my bootstrap.yml is wrong

[2020-10-18 03:25] #7826 closed

[2020-10-18 03:26] #7827 closed

[2020-10-18 09:36] kimmking commented on #7829
Doesn't supporte now.

[2020-10-18 09:37] kimmking commented on #7815
We should check this issue. @tuohai666

[2020-10-18 09:37] #7829 closed

[2020-10-18 09:39] kimmking commented on #7823
How to reproduce this issue? @hugohoo

[2020-10-18 13:53] #7134 closed

[2020-10-18 13:56] avalon5666 opened #7836 "Optimization scaling importer performance"
We can merge and batch execute the rows change to optimization performance.

## Merge

insert + insert -> insert(dumper back off)
insert + update -> insert
insert + delete -> delete
update + insert -> insert(dumper back off)
update + update -> update
update + delete -> delete
delete + insert -> insert
delete + update -> update(dumper back off)
delete + delete -> delete

## Batch Execute

1. delete

[2020-10-18 14:23] strongduanmu commented on #7531
@sluk3r Hi, is there any progress? If you encounter any problems, I am willing to help. 😀

[2020-10-19 03:09] tristaZero commented on #7531
👍

[2020-10-19 03:18] Lucas-307 commented on #7836
Good job.

[2020-10-19 04:05] yu199195 opened #7839 "Add H2DatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new H2DatabaseMetaDataDialectHandlerTest in shardingsphere-infra-common
3. Please exten

[2020-10-19 04:08] yu199195 opened #7840 "Add MariaDBDatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new MariaDBDatabaseMetaDataDialectHandlerTest in shardingsphere-infra-common
3. Then, P

[2020-10-19 04:09] yu199195 opened #7841 "Add OracleDatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new OracleDatabaseMetaDataDialectHandlerTest in shardingsphere-infra-common
3.  Please

[2020-10-19 04:10] yu199195 opened #7842 "Add PostgreSQLDatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new PostgreSQLDatabaseMetaDataDialectHandlerTest in shardingsphere-infra-common
3. Plea

[2020-10-19 04:12] yu199195 opened #7843 "Add SQL92DatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new SQL92DatabaseMetaDataDialectHandlerTest in shardingsphere-infra-common
3.  Please e

[2020-10-19 04:13] yu199195 opened #7844 "Add SQLServerDatabaseMetaDataDialectHandlerTest"
Hi, alll the friends in the community.

Could you do me a little favor?  We need to add test different database dialect handler , ex (H2, MariaDB, PostgreSQL, SQLServer).

How to  contributer?

1. First,you can follow this : https://shardingsphere.apache.org/community/en/contribute/contributor/
2. Then, you can new SQLServerDatabaseMetaDataDialectHandlerTestin shardingsphere-infra-common
3. Please

[2020-10-19 04:17] liuyueve commented on #7844
i want it

[2020-10-19 04:28] zhengdegu commented on #7844
I want it,too

[2020-10-19 04:43] LikeElephantintheforest commented on #7843
i want it,plz... That is something I SERIOUSLY need to do!

[2020-10-19 04:45] xandersu commented on #7839
I want to fix this , please assign me, thanks

[2020-10-19 04:49] lzn312 commented on #7842
I want to add this , please assign me, thanks

[2020-10-19 05:13] dos2002 commented on #7841
i want get it .

[2020-10-19 05:17] yu199195 commented on #7844
@zhengdegu  welcome to join us！

[2020-10-19 05:17] yu199195 commented on #7843
@LikeElephantintheforest  welcome to join us！

[2020-10-19 05:18] yu199195 commented on #7842
@lzn312 welcome to join us ！

[2020-10-19 05:19] yu199195 commented on #7841
@dos2002  welcome to join us！

[2020-10-19 05:20] yu199195 commented on #7839
@xandersu  welcome to join us!

[2020-10-19 05:24] zgat commented on #7840
i want do it

[2020-10-19 05:41] jinliang11 commented on #7840
i want it

[2020-10-19 05:49] Linuxea commented on #7803
@kimmking thanks

[2020-10-19 05:49] #7803 closed

[2020-10-19 05:59] Ouyuone commented on #7840
I want to add this , please assign me, thanks

[2020-10-19 06:07] yu199195 commented on #7840
@zgat welcome to join us  !     @jinliang11 @Ouyuone  Yous  can stay focused on the next task

[2020-10-19 06:28] Ouyuone commented on #7840
how long time release the next task

[2020-10-19 06:29] yu199195 commented on #7840
next week !

[2020-10-19 06:36] yu199195 commented on #7768
mybe, We've solved it  at 5.x-release

[2020-10-19 07:25] tuohai666 commented on #7768
Duplicated with https://github.com/apache/shardingsphere/issues/6324 .
Please try master branch.

[2020-10-19 07:25] #7768 closed

[2020-10-19 07:31] #7842 closed

[2020-10-19 07:56] Ouyuone commented on #7840
ok wait for you

[2020-10-19 08:05] moyuguixiong opened #7846 "ShardingResultSet 怎么支持getNString方法"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2020-10-19 09:07] jingshanglu commented on #7791
@wenweibin OK, we can discuss it first and then implement it to avoid unnecessary work.

[2020-10-19 09:10] jingshanglu commented on #7791
@wenweibin We can start with the example above(`MySQLCallStatement`,`MySQLDoStatement`) or the statement you are interested in.

[2020-10-19 09:25] zgat commented on #7840
@yu199195 thanks you for the trust

[2020-10-19 09:26] #7735 closed

[2020-10-19 09:27] kimmking commented on #7750
QPS is low and this is a normal case.

[code]

[2020-10-19 09:28] kimmking commented on #7750
referred: http://qdcypf.com/article-2128.html

[2020-10-19 09:30] xuxinstyle opened #7847 "Garbled characters when inserting Chinese data"
## Question

Garbled characters when inserting Chinese data
 version:
sharding proxy 4.1.1
sql: update `profile` set name="艾丹克莱尔UtWn" where id = 40586220;
SELECT name from `profile` where id = 40586220;

result:
![image](https://user-images.githubusercontent.com/29884085/96427147-c6ebbb80-1230-11eb-967a-8f4476238074.png)

[2020-10-19 09:36] tristaZero commented on #7847
Hi @jingshanglu Could you check this issue with our parser engine? Let us figure out whether it is caused by parsing

[2020-10-19 09:40] tristaZero commented on #7846
Hi @moyuguixiong welcome.
Firstly, I suggest you'd better re-title this issue in English.
Secondly, this issue did not give us too much valuable info. Please elaborate on this issue. :)

[2020-10-19 09:51] jingshanglu commented on #7847
@xuxinstyle I test it on master, the statement generated by the parser is correct, maybe a problem with the character set settings.

[2020-10-19 09:54] xuxinstyle commented on #7847
How should I set it character？

[2020-10-19 10:01] tristaZero opened #7849 "Support more databases for DataSourceConnectionUrlUtil"
## Introduction
`DataSourceConnectionUrlUtil` is to assemble parameters of JDBC URL, e.g., password, database name, to get a complete and correct JDBC URL for the connection pool.
Presently, this class has the function to create JDBC url for `MySQL` and `PostgreSQL` databases with `connectionSegment` and `databaseType` parameters.
Hence, this issue is to enhance `DataSourceConnectionUrlUtil` by im

[2020-10-19 10:06] kimmking opened #7850 "Make an investigation for spring-xbean for ss spring configuration"
Make an investigation for spring-xbean for ss spring configuration

[2020-10-19 10:17] kimmking opened #7851 "Make an investigation with Atomikos XA"
Make an investigation with Atomikos XA

[2020-10-19 10:37] jingshanglu commented on #7847
@xuxinstyle Can you set `sql.show=ture`,and then show the actual sql?

[2020-10-19 10:40] xuxinstyle commented on #7847
![image](https://user-images.githubusercontent.com/29884085/96440391-7c6f3c80-123a-11eb-80d5-4dd46cd2bdd2.png)

[2020-10-19 10:40] xuxinstyle commented on #7847
![image](https://user-images.githubusercontent.com/29884085/96440439-8e50df80-123a-11eb-900a-85bacb0b0a6a.png)

[2020-10-19 10:42] xuxinstyle commented on #7847
Logic SQL: update `profile` set name="艾丹克莱尔UtWn" where id = 40586220;
[INFO ] 18:41:34.715 [ShardingSphere-Command-13] ShardingSphere-SQL - SQLStatement: UpdateStatementContext(super=CommonSQLStatementContext(sqlStatement=org.apache.shardingsphere.sql.parser.sql.statement.dml.UpdateStatement@64132658, tablesContext=org.apache.shardingsphere.sql.parser.binder.segment.table.TablesContext@3030dae6),

[2020-10-19 10:44] yang-7777 commented on #5659
![coscon](https://user-images.githubusercontent.com/67564630/96440804-0d461800-123b-11eb-9e6c-93f2eabf3e2e.png)
[Pan Juan](https://www.bagevent.com/event/6840909?aId=1712948)
![juan](https://user-images.githubusercontent.com/67564630/96440810-0fa87200-123b-11eb-8282-2e0a05e36a24.png)
[Zhang Liang](https://www.bagevent.com/event/6840909?aId=1713014)
![liang](https://user-images.githubusercontent.co

[2020-10-19 10:46] xuxinstyle commented on #7847
server.yaml config:

authentication:
  users:
    root:
      password: 123456
      authorizedSchemas: sharding_db
    sharding:
      password: 123456
      authorizedSchemas: sharding_db

props:
  max.connections.size.per.query: 1
  acceptor.size: 16  # The default value is available processors count * 2.
  executor.size: 16  # Infinite by default.
  proxy.frontend.flush.threshold: 128  # The d

[2020-10-19 12:57] cenyu00 commented on #7849
Hi  @tristaZero, I coming...
please  assign me , I want to challenge it。 :-)

[2020-10-19 17:06] #7839 closed

[2020-10-19 18:22] sabz90 commented on #7703
Yes, but the value is same as what was already present in the DB. But yes, there's no way for sharding sphere to know if the new value is equal to the old value, without it being specified in the where clause.  Unfortunately, hibernate doesn't provide a way to include custom columns in the where clause

[2020-10-20 02:00] DishJi commented on #7810
ERROR 2020-10-20 09:54:37.660 10732 SpringApplication.java:826 - Application run failed

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'buzzWordController': Unsatisfied dependency expressed through field 'buzzWordService'; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'buzzWordServiceImpl

[2020-10-20 02:44] tristaZero commented on #7849
Thanks @cenyu00, and good luck!

[2020-10-20 02:55] 2018CC commented on #131
先sharding 跨库联合查询可以实现吗

[2020-10-20 03:11] shenHaoRanDe opened #7855 "Does sharding-jdbc support springAOP global transaction configuration"
Does sharding-jdbc support springAOP global transaction configuration? I read the official website document and GitHub case, and there is only one annotation

[2020-10-20 03:21] Lucas-307 commented on #7836
Case 2: `insert + update -> insert`

If the program occur exception after a data inserted, and then this data updated.
By resume from break-point dumper back off, program received `insert + update`, which will merge to `insert`.
This data will **ignored** by `INSERT IGNORE` sql .

So maybe you should use `REPLACE INTO` sql or other plans.

[2020-10-20 03:25] #7846 closed

[2020-10-20 03:31] yu199195 commented on #7855
sharding is Works on multiple  database， However spring aop only one database。If you want to use distributed transactions， pls integration XA and base transaction

[2020-10-20 03:33] kimmking commented on #7855
If you means "springAOP global transaction" as database local tx, the anwser is yes, shardingsphere support it.

[2020-10-20 03:36] DishJi commented on #7810
I solved it.

[2020-10-20 03:36] xuxinstyle commented on #7847
I found the reason, just add &characterEncoding=utf-8 after the url

[2020-10-20 03:39] tristaZero commented on #7847
@jingshanglu Thanks for the explanation.
 @xuxinstyle Thanks for your feedback, which will help others I suppose. :)

[2020-10-20 03:39] #7847 closed

[2020-10-20 03:40] DishJi commented on #7810
I solved it.This project depends on druid-spring-boot-starter,just replace it with druid

[2020-10-20 03:50] shenHaoRanDe commented on #7855
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED"/>

[2020-10-20 04:40] tristaZero opened #7856 "Standardized the rule name for SQL grammar definition."
Hi all,

**We are planning to provide the SQL parsing function for users individually!** Users could just use ShardingSphere parsing engine to parse SQL for their scenarios.

For that reason, we need to standardized the rule name for SQL grammar definitions. This change is not challenging but essential. That is, remove the '_' from rule definitions, like rename `withClause_`  as `withClause`.

Why

[2020-10-20 05:28] hsgmj commented on #6832
druid start有什么办法可以用吗 这边不用只用druid则报找不到数据源

发自我的iPhone

------------------ Original ------------------
From: wang7241 <notifications@github.com&gt;
Date: Sun,Oct 18,2020 10:26 AM
To: apache/shardingsphere <shardingsphere@noreply.github.com&gt;
Cc: mj <458257849@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [apache/shardingsphere] use ShardingSphere-JDBC4.1.1 occur： 1. Failed to de

[2020-10-20 05:47] tristaZero commented on #7703
The main point here is that the sharding key appears in select items. If you do not want to update the sharding key, could you ignore it in the list of select items?

[2020-10-20 06:21] lzqdename opened #7857 "java.lang.reflect.InvocationTargetException"
## Bug Report

### Which version of ShardingSphere did you use?
[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
[code]

### Expected behavior
parse ok

### Actual behavior
Caused by: java.lang.NullPointerException
at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)
at org.apache.shardingsphere.sql.parser.mysql.visitor.im

[2020-10-20 06:21] wang7241 commented on #6832
找不到数据源,可能是你的配置不对,你仔细检查一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月20日(星期二) 中午1:28
收件人:&nbsp;"apache/shardi

[2020-10-20 06:28] yu199195 commented on #7840
@zgat   its very easy。 pls complete as soon！

[2020-10-20 06:30] yu199195 commented on #7857
@lzqdename  can i show master-slave  config?

[2020-10-20 06:43] cenyu00 commented on #7849
Hi，@tristaZero ，I submit a PR for this issues，can you review for it?  Thanks.

[2020-10-20 06:53] lzqdename commented on #7857
if you delete json field from the sql ,it will be ok!

[2020-10-20 06:58] shenHaoRanDe opened #7859 "SpringAOP global distributed transaction configuration"
....
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="shardingDataSource"/>
</bean>

<tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
        <tx:method name="save*" propagation="REQUIRED" />
        <tx:method name="add*" propagation="REQUIRED"/>
        <tx:method nam

[2020-10-20 07:09] yu199195 commented on #7857
@lzqdename  ok,   This is a keyword issue that has now been fixed , You can verify this in a later release. 。any other questions？
And later, we'll close this issue！

[2020-10-20 07:17] lzqdename commented on #7857
Thank you,waiting for your 4.1.2 edition!

[2020-10-20 07:26] #7857 closed

[2020-10-20 07:28] yu199195 commented on #7859
@shenHaoRanDe  you can follow this ： https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/usage/transaction/

[2020-10-20 07:34] shenHaoRanDe commented on #7859
@yu199195 I have seen this, there is no configuration for global transactions, only one type of configuration is annotation

[2020-10-20 07:56] shenHaoRanDe commented on #7859
@yu199195 Is there any other configuration method besides adding annotations to the method?

[2020-10-20 07:58] LikeElephantintheforest commented on #7843
thanks ,It should be finished by next week at the latest.

[2020-10-20 07:59] shenHaoRanDe commented on #7855
@kimmking How to configure global distributed transactions in XML files instead of adding annotations to methods

[2020-10-20 08:07] #7812 closed

[2020-10-20 08:22] shenHaoRanDe opened #7861 "Transaction configuration"
In addition to annotations on methods, are there any other configuration methods for distributed transactions

[2020-10-20 08:23] #7859 closed

[2020-10-20 08:24] #7855 closed

[2020-10-20 09:11] #7861 closed

[2020-10-20 09:30] fafeidou opened #7862 "sharding proxy can support zookeeper, sharding rule can dynamic modify ?"

[2020-10-20 09:32] fafeidou commented on #7862
i want to see blog help me , thanks!

[2020-10-20 09:34] #7810 closed

[2020-10-20 09:40] yu199195 commented on #7862
of course， you can

[2020-10-20 09:46] yu199195 commented on #7806
@Gordonman  hi， you can follow this ： https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-jdbc/configuration/config-yaml/#data-sharding--read-write-split

any question？ and we'll close that later。

[2020-10-20 09:46] fafeidou commented on #7862
i try it,but don't modify ,such as 【show tables】 command

[2020-10-20 09:55] yu199195 commented on #7750
@shun634501730  any question？ And we'll close that later。

[2020-10-20 09:56] yu199195 commented on #7862
show tables ，How does it relate to shardingRule？

[2020-10-20 09:58] #7658 closed

[2020-10-20 09:58] jiang2015 commented on #7761
sorry, I have no idea how to add the TestCase for this issue;
In 【MetaDataConnectionAdapterTest】  I add one function as follows：

[code]

when test, NullPointerException occured as follow

java.lang.NullPointerException
	at org.apache.shardingsphere.infra.metadata.model.physical.jdbc.handler.impl.OracleJDBCSchemaHandler.getSchema(OracleJDBCSchemaHandler.java:46)
	at org.apache.shardingsphere.infra

[2020-10-20 10:36] fafeidou commented on #7862
add bind tablas ,but mysql client [show tables] not shows

[2020-10-20 10:50] Gordonman commented on #7806
ok , I see. thanks

[2020-10-20 10:53] #7849 closed

[2020-10-20 11:52] aricy opened #7864 "does shardingsphere proxy have reload function?"
i can't find any management terminal for shardingsphere proxy.

[2020-10-20 13:52] #7864 closed

[2020-10-21 02:22] neverdizzy commented on #234
浙江大东鞋业有限公司 + [http://www.dusto.cn/](url)

[2020-10-21 02:25] aricy commented on #7864
how can i update sharding config dynamic like 'reload config'.
when  i type 'use sbtest;show tables;' with sharding 256 databases, it display 'lost connection'.

[2020-10-21 02:27] aricy opened #7867 "how can i update config dynamic ?"
how can i update sharding config dynamic like 'reload config'.
when i type 'use sbtest;show tables;' with sharding 256 databases, it display 'lost connection'. but i can insert data with sysbench.

[2020-10-21 02:51] yu199195 commented on #7867
Can you describe the problem clearly according to the template？

[2020-10-21 02:51] #7867 closed

[2020-10-21 02:56] #7750 closed

[2020-10-21 02:57] #7806 closed

[2020-10-21 04:18] waylink opened #7868 "In() function parameters does not split"
About:

Sharding: user % 2
unique: user_type_index(user, type)

Consume Time：2 ms 2020-10-21 12:11:21
 Execute SQL：SELECT id, user, type FROM user_t_0 WHERE (user IN ('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','4

[2020-10-21 06:22] yu199195 commented on #7868
Which version are you using？ can you show sharding config？

[2020-10-21 06:35] kimmking commented on #7868
It's the NORMAL design now.
And will be optimized some time.

[2020-10-21 06:35] #7868 closed

[2020-10-21 06:51] kimmking commented on #7862
I don't think so.
Can you give your steps and config to reproduce it？

[2020-10-21 07:53] tristaZero opened #7869 "New independent SQLParserEngine is going online to parse SQL for different database dialects"
Hi community,

I am glad to announce that ShardingSphere will provide an independent SQL parser engine for parsing SQLs!
I believe you will have some of the scenarios or use the SQL parser engine to get a parsed AST. From now on, you will have another option for your cases. Here are some of the advantages for ShardingSphere parser engine.

### Advantages
-  Mostly perfect SQL statements supported

[2020-10-21 08:47] #7843 closed

[2020-10-21 12:08] rayejun opened #7876 "SQL execution bug"
Version 4.1.0, 4.1.1

So SQL select * from (select * from test1 where id in ('1') order by create_time asc ) t group by t.id

Null will be returned if the result is executed. All column values are null, which is abnormal

However, in version 4.0.1, this SQL execution returns normal results

[2020-10-21 12:54] waylink opened #7877 "NPE at order by"
**About:**
version: 5.0.0-RC1-SNAPSHOT
env: mybatis/druid
Sharding: user % 8

origin_sql:  SELECT id, user,  type FROM user_t WHERE (id > 0) ORDER BY id ASC limit 10;
actual_sql: SELECT id, user,  type FROM user_t_0 WHERE (id > 0) ORDER BY id ASC limit 10;

Exception at: **_tableMetaData_**

stack[0]: 	at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderValuesCaseSensitive

[2020-10-21 13:40] waylink commented on #7877
Get it. https://github.com/apache/shardingsphere/pull/7878

[2020-10-21 14:34] zgat commented on #7840
@yu199195 ok

[2020-10-21 15:18] wenweibin commented on #7791
1. Considering that the synax of _MySQL_ CALL _Statement_  is `CALL sp_name([parameter[,...]])`,in my opinion `MySQLCallStatement` class should add two properties: `procedureName`  and `parameters`,the codes are  as below:

[code]

2.  The Synax of _MySQL_ DO_Statement_  is `DO expr [, expr] ...,so i think `MySQLDoStatement` class should add one propertie: `expressionSegments` ,the codes are as be

[2020-10-22 01:36] #7876 closed

[2020-10-22 02:42] jingshanglu commented on #7791
@wenweibin I think your design is ok.

[2020-10-22 03:16] jingshanglu opened #7880 "Add UT for table and expr."
## Background
Now, table and expr in statement  are improved, so origin UT for it is not suitable. We need to add UT for table and expr.
parser UT entry:`shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/engine/SQLParserParameterizedTest.java->assertSupportedSQL()`

## Solutions
1. Think about design of xxx

[2020-10-22 05:36] #7840 closed

[2020-10-22 05:42] heqiao commented on #7703
@tristaZero @kimmking Please reopen this issue. I'm on the same boat with @sabz90 with same setup and same issue. I didn't attempt to update sharding key. When `update` with JPA/Hibernate, the sharding key is not included in the where clause and the error message stated `Can not update sharding key`.  Moreover, it seems all similar issues were closed without a proper solution. such as #5596

[2020-10-22 05:53] heqiao commented on #7703
There is indeed a workaround - Embed the primary key and sharding key on the entity level. So the sharding key is disguised as part of JPA's id. Not pretty, but works... However, it's definitely not something that I could promote to coworkers "Hey we should use this cool sharding tool, and it works with JPA only if you carefully configure it"

[2020-10-22 06:12] heqiao commented on #7703
Actually.... after a second read through of the above conversation, Trista's suggestion makes more sense. The set clause should not have sharding key. So the sharding key should not be updatable. And this solves the problem.

`@Column(name = "xxx", updatable = false)`

I think I need a Rubber Duck.

[2020-10-22 06:21] sabz90 commented on #7703
But this will execute the update query in all the shards :) Which is not optimal.
So even if the sharding column appears in the SET clause, the value may not have really changed... just that the field appears in SET clause.

Maybe there can be some annotation from sharding-sphere or some flag by which we can suppress that exception from SS because it's much more complex to explicitly include the s

[2020-10-22 06:22] sabz90 commented on #7703
It would be great if you could share an example!

[2020-10-22 06:51] heqiao commented on #7703
ah that's right. Thought I found a solution :(

[2020-10-22 06:54] heqiao commented on #7703
[code]

Then you can do findByCompositeIdAccountId.

[2020-10-22 08:23] kimmking commented on #7877
I test it works well.

![image](https://user-images.githubusercontent.com/807508/96845010-cc404480-1482-11eb-91f2-982788eade82.png)

[code]

[2020-10-22 08:37] menghaoranss opened #7883 "Replace com.google.common.base.Charsets with java.nio.charset.StandardCharsets in CuratorZookeeperRepository.java"
Because of the use of Guava’s Charsets class, which has been obsolete since JDK7, we should consider replacing it with
`java.nio.charset.StandardCharsets`

- `org.apache.shardingsphere.governance.repository.zookeeper.CuratorZookeeperRepository`

[2020-10-22 08:39] menghaoranss opened #7884 "Replace com.google.common.base.Charsets with java.nio.charset.StandardCharsets in EtcdRepository.java"
Same as #7883

- `org.apache.shardingsphere.governance.repository.etcd.EtcdRepository`
- `org.apache.shardingsphere.governance.repository.etcd.EtcdRepositoryTest`

[2020-10-22 09:21] yangtaihsou commented on #7869
I claim this issue.

[2020-10-22 09:23] muye100110 opened #7886 "Does sharding proxy support Gorm?"
When Gorm connects sharding proxy, SQL will report an error

[2020-10-22 09:25] yangtaihsou commented on #7883
I claim this issue.

[2020-10-22 09:53] yangtaihsou commented on #7883
I'm working on this issue. It will finished in oct 22.

[2020-10-22 09:56] yu199195 commented on #7886
not support！

[2020-10-22 09:56] #7886 closed

[2020-10-22 10:04] menghaoranss commented on #7883
@yangtaihsou welcome

[2020-10-22 11:09] zilongTong commented on #7884
I claim this issue.I will fix it before October 28.

[2020-10-22 11:47] khalidcawl commented on #7869
Hi @tristaZero. I came across this comment (and this repository) just now while searching for a SQL-92 parser. Is it supported in the SQLASTParserEngine? My use case is very simple:
Input: SQL-92 compliant SQL
output: extract Tables and Columns in the SQL

I would appreciate if you could point me to where I could get started.
Thanks in advance.

[2020-10-22 13:19] tristaZero opened #7894 "Support format inputted SQL with SQL parser engine"
This feature is to format the inputted SQL. Here is a example.

The inputted SQL is
[code]

The output SQL could be
[code]

Hey, the case above is just an example, which means the output SQL may be different, but the mechanisms are the same!

The programming entrance of this feature basically finished, please refer to,
[code]
**What's more, `MySQLFormatSQLVisitorFacade` is prepared for your endeav

[2020-10-22 13:34] fafeidou commented on #7862
10月 22, 2020 9:26:56 下午 com.google.common.eventbus.EventBus$LoggingSubscriberExceptionHandler handleException
严重: Could not dispatch event: org.apache.shardingsphere.shardingproxy.backend.schema.impl.ShardingSchema@5cbb84b1 to public synchronized void org.apache.shardingsphere.shardingproxy.backend.schema.impl.ShardingSchema.renew(org.apache.shardingsphere.orchestration.core.common.event.ShardingR

[2020-10-23 02:27] #7883 closed

[2020-10-23 05:15] XiaoDongJi commented on #4822
i meet the same proplem, param is normal,but i got "java.sql.SQLException: No value specified for parameter 1" exception, i debug found org.apache.shardingsphere.sql.parser.relation.statement.impl.InsertSQLStatementContext#getInsertValueContexts(java.util.List<java.lang.Object>) method got null

[2020-10-23 06:10] XiaoDongJi commented on #6374
I meet the same proplem, Which version will be fixed？

[2020-10-23 06:32] liangbaolatiao commented on #234
京东物流 + https://www.jdl.cn/

[2020-10-23 07:44] zhuxiao-java opened #7898 "org.postgresql.util.PSQLException: Expected command status BEGIN, got null 0"
- I encountered a problem when testing and using sharding-proxy, pgsql database, transaction type opened XA, configuration one master and one cluster, configuration copied from the official website, version 4.1.1, using native jdbc connection, once the connection is set .setAutoCommit(false); After executing an insert statement jdbc will report an error, the jdbc error message is as follows

- The

[2020-10-23 10:04] yu199195 commented on #7898
if  you use XA tarnasaction,  Local transactions can no longer be used for nested purposes  ,   because  XA transaction is begin, not end..

[2020-10-23 12:16] WilliamShoww opened #7900 "CURRENT_TIMESTAMP SQL NullException"
## CURRENT_TIMESTAMP SQL NullException

### sharding-jdbc-spring-boot-starter:4.1.1

### ShardingSphere-JDBC

### Support CURRENT_TIMESTAMP no exception

### SQL contain CURRENT_TIMESTAMP will exception
[code]
line 6:8 no viable alternative at input 'CURRENT_TIMESTAMPwhere'
line 6:8 no viable alternative at input 'CURRENT_TIMESTAMPwhere'
2020-10-23 20:02:33,225 [http-nio-8084-exec-1] ERROR c.g.a.e

[2020-10-24 00:32] fengdouzhe opened #7903 "Shareding-Jdbc cannot connnet oracle ,please help."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-10-24 03:08] plr47 opened #7904 "Apache ShardingSphere UI 4.1.1 and 4.1.0 version YAML analysis remote code execution"
https://github.com/plr47/CVE_REQUEST-apache/blob/main/shardingsphere-ui/README.md

[2020-10-24 04:27] fafeidou commented on #7862
`select *` is not return,and `select id` can show , the code `org.apache.shardingsphere.shardingproxy.backend.response.query.QueryHeader` is empty ，i debug it

[2020-10-24 04:30] #7841 closed

[2020-10-24 05:54] piggytough opened #7905 "shardingsphere-jdbc standard alg. initialization problem"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### problem
standard sharding algorithm configuration not loaded

configuration below:

[code]

cause I cannot find some useful configuration example except for INLINE sharding, i'm not sure my config is properly set.

In my opinion,

[2020-10-24 07:31] tristaZero commented on #7531
Hi @sluk3r If you have no enough time for this issue recently, please ping me and we could consider reassign it to others. :)
If you wanna continue with this one, please give us a reply here.

[2020-10-24 07:51] blppz opened #7906 "SQL rewrite error, " SELECT COUNT(DISTINCT(order_serial)) counts ... " rewite to " SELECT DISTINCT order_serial count ... ""
Hey my friends
I use sharding-jdbc for springboot 4.1.0
and i get this bug, logic sql is:
`SELECT COUNT(DISTINCT(order_serial)) counts
FROM access_record
WHERE enter_time BETWEEN ? AND ?`
actual sql is:
`SELECT DISTINCT order_serial counts
FROM access_record_20201001
WHERE enter_time BETWEEN ? AND ?`
so, i got an wrong answer, I can avoid this problem, but I hope you can fix this bug, ths

[2020-10-24 14:26] wenweibin commented on #7791
Which project should unit tests be placed? `shardingsphere-sql-parser-statement` or `shardingsphere-sql-parser-mysql`？
If they are placed in the `shardingsphere-sql-parser-statement` directory, should these refactored codes migrate to `CallStatement` and `DoStatement`？
Hope to get your advices. @jingshanglu

[2020-10-25 13:47] strongduanmu commented on #7900
@WilliamShoww Hi, thank you very much for your feedback. 😁 This exception is a SQL parsing bug in version 4.1.1 and has been fixed in the master branch. Please be patient and wait for the 5.x version, it will be released soon.

[2020-10-26 01:26] WilliamShoww commented on #7900
use CURRENT_TIMESTAMP() replace CURRENT_TIMESTAMP not exception.

[2020-10-26 01:46] WilliamShoww opened #7911 "SQL parser error"
## Bug Report

### version: sharding-jdbc-spring-boot-starter:4.1.1
### ShardingSphere-JDBC

### expecte:  No error

### now: Exception

### SQL
[code]

### version 3.1.M1 not exception but version 4.1.1 exception

[2020-10-26 03:01] tristaZero commented on #6374
Hi @XiaoDongJi I suppose our incoming release 5.x will include it.
Could you provide your SQL for our double-checking?

[2020-10-26 03:12] tristaZero commented on #7869
Hi @khalidcawl Sorry for my late reply.

Thanks for your remainder. The answer is YES. As I mentioned in this issue, `Basically SQL statements supported for SQL92` is in this release range. But I suggest you'd better give it a test. :)
And we will provide the detailed instruction later. If you can not wait to use, packaging the master branch is needed for you.

Best,
Trista

[2020-10-26 03:33] bx189303 opened #7913 "RangeShardingAlgorithm config error"
maven:
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>
        </dependency>

yml:
    sharding:
      tables:
        emp:
          actual-data-nodes : d1.emp_$->{2018..2020},d2.emp_2017
          database-strategy.standard.sharding-column : user_id

[2020-10-26 03:36] tristaZero commented on #7703
Thanks for your feedback. @heqiao @sabz90
I read the conversation above, and gave my thinking here.
First, the annotation `@Column(name = "xxx", updatable = false)` seems one solution to avoid `SET shardingKey=xxx`and the exception `Can not update sharding key` accordingly.

Second, how to understand `But this will execute the update query in all the shards :) Which is not optimal.`?
Does it mean

[2020-10-26 03:38] tristaZero commented on #234
Hi @neverdizzy @liangbaolatiao
Welcome your joining!

[2020-10-26 03:44] menghaoranss commented on #7904
@plr47 Would you like to submit a PR to fix this issue?

[2020-10-26 03:51] #7900 closed

[2020-10-26 03:54] tristaZero commented on #7903
Hi @fengdouzhe
The error log will help us get your questions and situation better, thanks.

[2020-10-26 04:30] heqiao commented on #7703
Thanks for the detailed response with a solution. @tristaZero

That's exactly what was happening. When `updatable = false` is being used, the `where clause` does not contain `shardingKey=xx` and will end up with all shards updating.

Additionally, the `where clause` only contains `pk =yy` no matter `updatable = false` is being used or not.

The logic in the third paragraph makes a lot sense to me.

[2020-10-26 04:51] avalon5666 commented on #7905
You can refer to the following configuration documents:
[Spring Boot Sharding Configuration](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/sharding/)
[Spring Boot Sharding Algorithm Configuration](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/configuration/built-in-algorithm/sharding/)

[2020-10-26 05:01] avalon5666 commented on #7906
The backend database is MySQL or PostgreSQL?

[2020-10-26 05:07] avalon5666 commented on #7911
Pls provide a complete exception stack.

[2020-10-26 06:47] jingshanglu commented on #7791
For the logic of the test framework, please refer to #7880 . Test sql and expected result should place in `shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/resources/`, and then add the assert code on project `shardingsphere-sql-parser-test`. @wenweibin

[2020-10-26 07:53] menghaoranss commented on #7913
@bx189303 Could you provide the demo so that we can reproduce this problem

[2020-10-26 08:36] Lucas-307 commented on #7913
@bx189303 I guess you should add `database-strategy.standard.range-algorithm-class-name` config, if you use range sql.

[2020-10-26 08:57] MidnightFiend opened #7917 "can sharding-jdbc-xxx support spring-frame 5.x?"
## Question
when i create new product with
[code]

at the same time, our company require to use openjdk11, so i should use spring version >5.1.x

i use dependency
[code]

it dependency springframework version 5.2.9

when i mvn package the project, i found mvn dependency:tree
[INFO] +- org.springframework.boot:spring-boot-starter:jar:2.2.10.RELEASE:compile
[INFO] |  +- org.springframework.boot:spri

[2020-10-26 09:29] lwtdev opened #7918 "When the table is not sharding , in 5.0.0, SQL parsing is wrong, but it is correct in 4.1.1"
## Bug Report

I have tested some SQL between 4.1.1 and 5.0.0-RC1, and found some SQL parsing errors in 5.0.0, but it works well in 4.1.1.

### Which version of ShardingSphere did you use?
5.0.0-RC1 ( 2020-10-26T16 master)
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-Proxy
### Expected behavior
parse corrent
### Actual behavior
parse error
### Reason

[2020-10-26 09:43] pengliaoye opened #7919 "not support subquery, how to filter data"
using join table, paging not work

[2020-10-26 10:05] camelweiming opened #7920 "single db transaction cant rollback"
## Bug Report
  TransactionTemplate transactionTemplate = new TransactionTemplate(transactionManager);
        transactionTemplate.setPropagationBehavior(TransactionDefinition.PROPAGATION_REQUIRED);
        transactionTemplate.setIsolationLevel(TransactionDefinition.ISOLATION_READ_COMMITTED);
        ResultDTO<String> res = transactionTemplate.execute(transactionStatus -> {
            try {

[2020-10-26 10:43] avalon5666 commented on #7917
You can try to upgrade the version in the sharding-jdbc-namespace project, and test compatibility.

[2020-10-26 10:44] tristaZero commented on #7703
Hi, @heqiao  Thanks for your kind explanation.

Actually, the idea I mentioned before is not an optimal solution for `SET shardingKey`. If users really want to update shardingKey, shardingsphere should execute that update and move the actual row to the new target table.
But for now, we can take it as a better solution to balance updating safety and JPA case.

[2020-10-26 10:48] tristaZero commented on #7703
Hi @strongduanmu
I am unsure whether you are interested in [An improvement for checking update condition](https://github.com/apache/shardingsphere/issues/7703#issuecomment-716284082). Still, I guess you are the right one for it. :) BTW, `ShardingUpdateStatementValidator` looks the target class for this issue.
If you are unavailable, could you tell me here?

[2020-10-26 10:54] strongduanmu commented on #7918
@lwtdev Thank you very much for your feedback on this issue. 👍 I will investigate the reason of this bug.

[2020-10-26 10:55] tristaZero commented on #7906
Hi @blppz
Firstly, the actual SQL is expected, since ShardingSphere will calculate the `count()` by itself.
As @avalon5666 said, we did not know what the concrete problem or exception is.

[2020-10-26 10:55] avalon5666 commented on #7919
Pls commit issue with bug report template, This can help us diagnose problems.

[2020-10-26 10:56] avalon5666 commented on #7920
Pls commit issue with bug report template, This can help us diagnose problems.

[2020-10-26 10:56] daishicheng opened #7921 "How does Sharding-Proxy force routing to the master database?"

[2020-10-26 10:57] tristaZero commented on #7918
@lwtdev @strongduanmu Aha, nice to meet both of you once again. 😃