[2021-09-15 15:24] qiuxiaotong2021 commented on #12293
@RaigorJiang

Sorry for coming so late, There are other projects being handled recently.
Now I'm free.
My code:
https://github.com/qiuxiaotong2021/catfish-sharding.git

Thanks very much.

[2021-09-15 15:33] zjcnb commented on #12458
@WangShaolin-GitHub Hi, You can try it . I think it's can work well. And i 'm looking forward to your feedback.

[2021-09-15 15:51] cheese8 opened #12462 "Support encrypt rewrite for join table segment."
## Support  encrypt rewrite for join table segment.

Logic SQL:

SELECT u.mobile, u.username, u.id_no, o.card_no FROM `order` o left join `user` u on o.card_no=u.id_no where o.card_no=? and u.mobile=?

Actual SQL:

SELECT u.mobile, u.username, u.id_no, o.card_no_cipher AS card_no FROM `order` o left join `user` u on o.card_no=u.id_no where o.card_no_hash=? and u.mobile_hash=?

Expert:

SELECT u.mo

[2021-09-15 15:53] cheese8 commented on #12462
I will fix and pr it soon. @strongduanmu

[2021-09-16 00:46] WangShaolin-GitHub commented on #12458
s per the above configuration, the creation time 2014-05-22 should be stored in t_ORDER_20140521, but in t_ORDER_20140522

[2021-09-16 00:47] WangShaolin-GitHub commented on #12458
@zjcnb As per the above configuration, the creation time 2014-05-22 should be stored in t_ORDER_20140521, but in t_ORDER_20140522

[2021-09-16 01:09] tuichenchuxin opened #12464 "support Administration Statements sql parse CHECK TABLE"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `CHECK TABLE `

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphere

[2021-09-16 01:12] tuichenchuxin opened #12465 "support Administration Statements sql parse CHECKSUM TABLE"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `CHECKSUM TABLE`

## Basic Qualifications
- java
- maven
- antlr4
-
## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsph

[2021-09-16 01:25] tuichenchuxin opened #12466 "support Administration Statements sql parse OPTIMIZE TABLE"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `OPTIMIZE TABLE`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the optimize table rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apac

[2021-09-16 01:28] tuichenchuxin opened #12467 "support Administration Statements sql parse REPAIR TABLE"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `REPAIR TABLE`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the repair rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardin

[2021-09-16 01:42] tuichenchuxin opened #12468 "support Administration Statements sql parse INSTALL"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `INSTALL`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
INSTALL Statement In mysql
need to be supported in shardingsphere-sql-parser.
[code]
https://dev.mysql.com/doc/refman/8.0/en/install-component.html
https://dev.mysql.com/doc/refman/8.0/en/install-plugin.html

## Example FYI
- DCLSt

[2021-09-16 01:45] strongduanmu commented on #12462
@cheese8 Welcome to submit a PR.

[2021-09-16 01:47] tuichenchuxin opened #12469 "support Administration Statements sql parse CLONE"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `CLONE`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
CLONE Statement In mysql
need to be supported in shardingsphere-sql-parser.
[code]
https://dev.mysql.com/doc/refman/8.0/en/clone.html

## Example FYI
- DCLStatement.g4

[2021-09-16 01:53] marker-wu commented on #12292
My demo program is connected to ZK with Curator

[2021-09-16 01:55] tuichenchuxin opened #12470 "support Administration Statements sql parse SHOW CREATE TRIGGER"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `SHOW CREATE TRIGGER`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
SHOW CREATE TRIGGER Statement In mysql
need to be supported in shardingsphere-sql-parser.
[code]
https://dev.mysql.com/doc/refman/8.0/en/show-create-trigger.html

## Example FYI
- DCLStatement.g4

[2021-09-16 01:58] tuichenchuxin opened #12471 "support Administration Statements sql parse SHOW CREATE USER"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `SHOW CREATE USER`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
SHOW CREATE USER Statement In mysql
need to be supported in shardingsphere-sql-parser.
[code]
https://dev.mysql.com/doc/refman/8.0/en/show-create-user.html

## Example FYI
- DCLStatement.g4

[2021-09-16 01:59] marker-wu commented on #12292
I executed 1, 3 and it does not work

[2021-09-16 02:04] strawberry-crisis commented on #12471
Can I have this one plz

[2021-09-16 02:15] tuichenchuxin commented on #12471
Welcome, ok.

[2021-09-16 02:20] RaigorJiang commented on #12292
Is the version same with than in ShardingSphere?
`<curator.version>5.1.0</curator.version>`

[2021-09-16 02:32] tristaZero commented on #12370
@ThanoshanMV Hey, Glad to see you after GSoC. ;-)

[2021-09-16 02:34] #12216 closed

[2021-09-16 02:41] marker-wu commented on #12292
<parent>
        <groupId>org.apache.curator</groupId>
        <artifactId>apache-curator</artifactId>
        <version>2.13.0</version>
    </parent>

[2021-09-16 02:42] zjcnb commented on #12458
@WangShaolin-GitHub  I don't think!  Because, your creation time is 2014-05-22, it' s sharding value, so shardingsphere are calculated from 2014-05-22.

[2021-09-16 02:46] zjcnb commented on #12458
By the way, your datetime-lower is 2014-05-21 and datetime-upper is 2014-05-31, and your datetime-interval-amount is 2, your creation time is 2014-05-22.
 So, shardingsphere can calculation available table. such as: 20140522, 20140524, 20140526, 20140528, 20140530

[2021-09-16 02:46] marker-wu opened #12472 "How to build ShardingProxy?"
How to build the sharding-proxy source code into a binary package? like this:
![image](https://user-images.githubusercontent.com/45256940/133541185-53e4fb8b-1de9-4bac-9e06-9407061a4f2a.png)

[2021-09-16 02:48] taojintianxia commented on #12472
take a look on the README.md of shardingsphere project

![image](https://user-images.githubusercontent.com/4112856/133541296-02358168-9d50-40ea-906b-abc73b398eec.png)

[2021-09-16 02:51] shulipeng commented on #12292
You can try set host name with your ip in /etc/hosts , like 192.168.86.131 zk-131
I try it and find all work fine !!! Include sharding-ui and sharding-proxy .
I think it is zk problems，i just setting in /etc/hosts , I don't why.

before setting :
![c00e12a2093cc073b58dc2f2c843a0f](https://user-images.githubusercontent.com/20982490/133541526-2ab47cc5-fb3a-4d4f-bde0-e2b5a4bf9758.png)

after setting

[2021-09-16 03:10] RaigorJiang commented on #12292
@shulipeng
Is your Proxy work on Windows?
Some old version ZK clients have this problem, is that means we need to upgrade Curator framework to newer version?

[2021-09-16 03:22] marker-wu commented on #12472
I failed to build
my version is 5.0.0-beta
here are the error message:
![image](https://user-images.githubusercontent.com/45256940/133543794-9833de2d-bf57-4801-9c6d-3192986fecb7.png)
After executing the command, some source code in the target directory is deleted
![image](https://user-images.githubusercontent.com/45256940/133543898-f3ead31b-da38-409d-b4d7-ff2e49eb8037.png)

before executing:
![ima

[2021-09-16 03:32] taojintianxia opened #12473 "the more useless config added , the lower performance proxy will get."
hi, there
  this situation is provided by a tester in another company , as his description, if we test a scheme `database-1` in config-xxxx.yaml, we also put some other configs for `database-2` ... `database-10`, even we do not use these config , the performance will slow down.

[2021-09-16 03:35] shulipeng commented on #12292
No，all in my virtual machine .
I try to replace curator-*-5.1.0.jar with curator-*-5.2.0.jar in sharding-proxy lib directory. but it doesn't work
I will try another zk and curator version ...

[2021-09-16 03:40] WangShaolin-GitHub commented on #12458
I still don't understand. insert time 2014-05-23, error as follows:
![image](https://user-images.githubusercontent.com/35981782/133545216-b0203ff8-9237-43ba-bd8e-2cdf0a2fa790.png)
![image](https://user-images.githubusercontent.com/35981782/133545275-f305004c-86e5-45c4-bea1-cfde490be48c.png)

[2021-09-16 03:45] marker-wu commented on #12292
I have configured a domain name mapping in the windows system hosts file, which can connect to the ZK of the virtual machine with a domain name.
![image](https://user-images.githubusercontent.com/45256940/133545756-9ef51a41-31df-4060-a051-36d5cb0bf1c7.png)
![image](https://user-images.githubusercontent.com/45256940/133546045-3bb6f74c-16b4-4e84-8362-85f9d4760578.png)

[2021-09-16 03:50] TeslaCN commented on #12472
Try the following command
[code]

[2021-09-16 03:52] WangShaolin-GitHub commented on #12458
I have debugged the source code and found that it always goes to the method on line 123, not line 130. If I want to go to the method on line 130, how should I configure it?
![image](https://user-images.githubusercontent.com/35981782/133546094-3a1ecedb-feb7-4447-b66f-0afcbe4ade7b.png)
Method 1. String doSharding(final Collection<String> availableTargetNames, final PreciseShardingValue<Comparable<?>

[2021-09-16 03:52] jmbkeyes opened #12475 "HOW to use customized sharding algorithm?"
## Question

**For English only**, other languages will not accept.
I do test customized sharding algorithm(using **5.0 beta**), but without success.
Steps:
1. implement the algorithm
2. config the configurations
3. put a breakpoint at doSharding method of algorithm, and then start the application in debug mode.
4. do save test data.
results:
doSharding isn't invoked.

Spring boot config file as b

[2021-09-16 03:54] marker-wu commented on #12292
I think it's a bug of Curator ,may be that the referenced version of Curator is too high

[2021-09-16 03:56] zjcnb commented on #12458
you should change your sql, such as: create_time >= '2014-05-22 00:00:00' and create_time <='2014-05-22 23:59:59'

[2021-09-16 04:03] WangShaolin-GitHub commented on #12458
Thank you for answering the second question, what about the first one?

[2021-09-16 04:30] strongduanmu commented on #12446
Hi @CrackerSuperior, thank you for your feedback. In order to avoid duplicate data, we have checked the full sharding route. You need to add sharding conditions when executing the insert statement.

[2021-09-16 04:38] sandynz opened #12476 "GovernanceRepositoryAPIImplTest.assertWatch may be blocked forever if exception thrown in watch listener"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling

### Expected behavior
Unit test not blocked.

### Actual behavior
`assertThat(event.getType(), is(DataChangedEvent.Type.ADDED));` fail randomly.
Unit test blocked.

From GitHub CI log:
[code]

### Reason analyze (If

[2021-09-16 06:07] WangShaolin-GitHub commented on #12458
After repeated tests, I found that the sharding table is only related to the sharding suffix-pattern attribute, and has nothing to do with datetime-interval-amount and datetime-interval-unit. the source code is as follows:
![image](https://user-images.githubusercontent.com/35981782/133558553-e264ff9a-facf-484e-b3ef-308e2734a08f.png)

[2021-09-16 06:07] zjcnb commented on #12458
The first one question, you set datetime-interval-amount is 2,
available table : 20140522, 20140524, 20140526, 20140528, 20140530. you can set set datetime-interval-amount is 1

[2021-09-16 06:14] WangShaolin-GitHub commented on #12458
After repeated tests, I found that the sharding table is only related to the sharding suffix-pattern attribute, and has nothing to do with datetime-interval-amount and datetime-interval-unit. the source code is as follows:
![image](https://user-images.githubusercontent.com/35981782/133559486-15b6b1a8-bead-4b3b-bc93-dda95ddb79d5.png)

[2021-09-16 06:16] CrackerSuperior commented on #12446
So what should I do

[2021-09-16 06:30] strongduanmu commented on #12446
@CrackerSuperior Add sharding columns for insert statement.

[2021-09-16 06:33] RaigorJiang commented on #12475
Hi @jmbkeyes
Welcome to ShardingSphere community.
Please refer to this example:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example

[2021-09-16 06:36] CrackerSuperior commented on #12446
Sorry, I'm a little confused. Can you provide an example?

[2021-09-16 06:40] strongduanmu commented on #12446
@CrackerSuperior You can refer to shardingsphere-example——https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example.

[2021-09-16 06:49] menghaoranss commented on #12473
Look forward to seeing some configuration case here, and the performance is refer to startup?

[2021-09-16 06:52] menghaoranss commented on #12447
@fffscd thanks for your feedback, have you tried with the latest version?

[2021-09-16 07:04] RaigorJiang commented on #12292
I found a blog related to this problem:
https://blog.csdn.net/tt_rsn/article/details/106954735

[2021-09-16 07:07] CrackerSuperior commented on #12446
My configuration file is basically the same as the example, except that I have added the repository rules

[2021-09-16 07:08] CrackerSuperior commented on #12446
Did I write my insert statement wrong?

[2021-09-16 07:24] marker-wu commented on #12472
it worked!  But I didn't see the binary package after the build

![image](https://user-images.githubusercontent.com/45256940/133568586-e82c3ade-fdeb-4a25-a2ad-84e1d3ab4b0c.png)

[2021-09-16 07:39] taojintianxia commented on #12473
performance means the ability under presure test.

[2021-09-16 07:40] xue2lang opened #12479 "class ExecutorEngine， parallelExecute contains sync execute code，will eat the exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-16 07:43] taojintianxia commented on #12473
so I test it myself :
  - test environment
    - CPU : 32C , RAM : 64G , JVM : 2g
    - version : latest proxy

I test two case seperatly :
  - only config-readwrite-splitting.yaml
  - from config-readwrite-splitting-1.yaml to config-readwrite-splitting-10.yaml

but I didn't see any performance get down when I start up proxy with 10 config files.

[2021-09-16 07:53] tuichenchuxin commented on #12479
@xue2lang Can you try to submit a pr to fix this problem?

[2021-09-16 08:03] strongduanmu commented on #12446
@CrackerSuperior The defaultDatabaseStrategy that you configured uses orderId to sharding. This rule will be used on the encrypt table (because there is no database strategy on the encrypt table). Then use a statement that does not contain orderId, which will cause the all datebase route.

[2021-09-16 08:15] xue2lang commented on #12479
sorry , I am busy with project recently and have no time to solve it ,the problem can fix by your team？

[2021-09-16 08:15] fffscd commented on #12447
I upgraded to see

[2021-09-16 08:18] RaigorJiang commented on #12293
@qiuxiaotong2021
I reproduced the problem with your demo project, now @strongduanmu will help us.

[2021-09-16 08:29] lanchengx opened #12480 "Optimize the FAQ"
### Background
Currently, the records in the [FAQ](https://shardingsphere.apache.org/document/current/en/others/faq/) are not classified, which is not conducive to search and maintenance.
### Aim
1. Add the corresponding category tag to the record in the FAQ.
2. Put the content of the same tags together.

The expected result after adjustment is like this
[code]

We provide these tags
[code]
Corres

[2021-09-16 08:50] tuichenchuxin opened #12482 "Table meta data in zookeeper persist node should be real."
## Backgroud
Currently, the tableMetaData data in the zookeeper node is decorated and used in the kernel. But because the current optimization query also needs to use tableMetaData data, but its decoration method is inconsistent with the kernel and cannot be shared, so we need to save a real tableMetaData information in zookeeper.
## Task

- [x] Separate the real data metadata
- [x] Store the real

[2021-09-16 09:03] Naiwei-stamina commented on #12424
hello bro, i'm also encounting this problem now, can you please send this jar package to me when you are convenient ? my email address is 1261879381@qq.com, thank you

[2021-09-16 09:04] CrackerSuperior opened #12484 "java.sql.SQLException: javax.transaction.SystemException: There is no registered resource that can recover the given XAResource instance. Either enable automatic resource registration, or register a corresponding resource."
I don't know what happened

[2021-09-16 09:12] #12475 closed

[2021-09-16 09:14] RaigorJiang opened #12485 "[DistSQL][Scaling] `ScalingAPIFactory.getScalingAPI()` exception when scaling feature not enabled should be optimized to support new RALUpdater<UpdatableRALStatement> implementation"
![image](https://user-images.githubusercontent.com/5668787/133584365-dbf40f82-b4e6-4fef-9b05-cdb1f1e37481.png)

![image](https://user-images.githubusercontent.com/5668787/133584776-ed82a548-f930-4771-b6d7-4f0fa6a224d2.png)

When the input DistSQL is a RAL statement, RALBackendHandlerFactory will be used to construct the TextProtocolBackendHandler.

Further, if the input RAL statement is an instanc

[2021-09-16 09:24] taojintianxia commented on #12473
problem solved , after they update the JVM, raise up the xmx, problem solved.
as my anaylize, they got a machine without a good CPU, so that jvm settings will solve their issue

close this issue

[2021-09-16 09:24] #12473 closed

[2021-09-16 09:57] strongduanmu commented on #12305
Hi @CodingBingo, next time you can use `Fixes #11589` format, after the PR is merged, the issue will be closed automatically.

[2021-09-16 09:58] strongduanmu commented on #12305
Fixed by #12367.

[2021-09-16 09:58] #12305 closed

[2021-09-16 09:58] strongduanmu opened #12488 "Add unit test for ShardingFederatedRoutingEngine"
This issue is for adding unit tests for ShardingFederatedRoutingEngine.

After PR #12486 is merged, please cover the latest logic in the unit test.

If you are interested, please leave a message.

[2021-09-16 10:25] marker-wu opened #12491 "An error About custom sharding algorithm in 5.0.0-beta"
An error was reported at runtime, when the generic type of PreciseShardingValue is Long
![image](https://user-images.githubusercontent.com/45256940/133595828-12c5ec53-c874-4939-abe5-cc4fe8000993.png)
When the type is changed to Integer, it can run normally
This is my table structure：
![image](https://user-images.githubusercontent.com/45256940/133596047-4c290ae8-b20e-4652-b4ca-365c08c6247b.png)

[2021-09-16 10:30] taojintianxia commented on #12491
you may take a look of the [FAQ](https://shardingsphere.apache.org/document/current/en/others/faq/)

[2021-09-16 10:40] #11589 closed

[2021-09-16 10:45] marker-wu commented on #12491
![image](https://user-images.githubusercontent.com/45256940/133598769-042a7ccb-ba79-40aa-bdb1-f6d7cc846e92.png)
My field type is bigint, why do I still report this error?

[2021-09-16 10:45] RaigorJiang commented on #12491
The problem is `+1`, please try `+1L`.

[2021-09-16 10:47] marker-wu commented on #12491
it does not work

[2021-09-16 10:55] RaigorJiang commented on #12491
Let me check it.

[2021-09-16 11:00] menghaoranss opened #12492 "Consider about refactor MetadataRefreshEngine"
For current logic, after MetaData is refreshed, the complete `ShardingSphereSchema` will be posted, however, only the MetaData of some tables has been modified for `DDL`, therefore, only the TableMetaData of the part tables needs to be posted.

[code]

- [ ] Rename `MetadataRefreshEngine` to `MetaDataRefreshEngine`
- [ ] Split `SchemaAlteredEvent` into `TableAddedEvent` ,`TableAlteredEvent` and `T

[2021-09-16 11:02] RaigorJiang commented on #12491
Hi @marker-wu
Please check your fields type of Java entity, may not long?

[2021-09-16 11:04] #12279 closed

[2021-09-16 11:06] marker-wu commented on #12472
hello！Why there is no follow-up？

[2021-09-16 11:09] marker-wu commented on #12491
I did not create the table object in the code，I just set the routing rules in yaml
![image](https://user-images.githubusercontent.com/45256940/133601817-160d8212-a643-487e-99c4-8ddc01f6e281.png)

[2021-09-16 11:12] RaigorJiang commented on #12491
So you shoud find the entity definition and determine the type of the fields, so that you can determine the type of sharding key, rather than just define the sharding algorithm.

[2021-09-16 11:15] marker-wu commented on #12491
Where is the entity defined? Is the configuration information in config-sharding.yaml?

[2021-09-16 11:16] zjcnb commented on #12458
yes， create_time is not an interval. datetime-interval-amount not be used

[2021-09-16 11:17] RaigorJiang commented on #12491
😀 How did you get the SQL?

[2021-09-16 11:20] RaigorJiang commented on #12491
For example, the type of entity field, which affects the parameter type you set in PreparedStatement.
This type should be consistent with the sharding key type defined by the sharding algorithm.
![image](https://user-images.githubusercontent.com/5668787/133603256-f39c355f-3d05-46c5-9bfc-0c3f57d6c475.png)

[2021-09-16 11:27] marker-wu commented on #12491
I ran it in the terminal
![image](https://user-images.githubusercontent.com/45256940/133604225-bed78ca1-035a-4b67-9342-d4dbed50d82e.png)

[2021-09-16 11:35] TeslaCN commented on #11589
I try the BenchmarkSQL again, it worked!
[code]

[2021-09-16 11:43] marker-wu commented on #12491
If I use sql tool (navicat) to connect to proxy, an error will be reported when the source sql is executed

[2021-09-16 11:44] TeslaCN commented on #12472
Hi @marker-wu
You can find the package under `shardingsphere-distribution/shardingsphere-proxy-distribution/target`

[2021-09-16 11:54] marker-wu commented on #12472
yeah  i find it !!!

[2021-09-16 12:19] soulasuna opened #12495 "Add ut for ShadowUpdateStatementRoutingEngine in shadow project"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ShadowUpdateStatementRoutingEngine

## Examples FYI

- ShadowInsertStatementRoutingEngineTest

[2021-09-16 12:20] soulasuna opened #12496 "Add ut for ShadowDeleteStatementRoutingEngine in shadow project"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ShadowDeleteStatementRoutingEngine

## Examples FYI

- ShadowInsertStatementRoutingEngineTest

[2021-09-16 12:21] soulasuna opened #12497 "Add ut for ShadowSelectStatementRoutingEngine in shadow project"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ShadowSelectStatementRoutingEngine

## Examples FYI

- ShadowInsertStatementRoutingEngineTest

[2021-09-16 12:21] soulasuna opened #12498 "Add ut for ShadowExtractor in shadow project"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ShadowExtractor

## Examples FYI

- ShadowValueJudgeUtilTest

[2021-09-16 12:57] valleyG opened #12501 "NullPointerException ,when use broadcast_table ,execute sql contain "count()"."
## Bug Report

`Cause: java.lang.NullPointerException
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30) ~[mybatis-3.5.1.jar:3.5.1]
	at org.apache.ibatis.session.defaults.DefaultSqlSession.selectList(DefaultSqlSession.java:149) ~[mybatis-3.5.1.jar:3.5.1]
	at org.apache.ibatis.session.defaults.DefaultSqlSession.selectList(DefaultSqlSession.java:140) ~[mybatis-

[2021-09-16 13:15] menghaoranss commented on #12484
please provide your version and configuration.

[2021-09-16 13:33] #12476 closed

[2021-09-16 14:14] yx9o commented on #12480
Please assign to me.

[2021-09-16 23:46] #12272 closed

[2021-09-16 23:47] strongduanmu commented on #12480
@yx9o Welcome.

[2021-09-16 23:49] strongduanmu commented on #12501
@valleyG Thank you for your feedback, i will investigate this issue.

[2021-09-17 01:03] CrackerSuperior commented on #12484
5.0.0-RC1

[code]

[2021-09-17 01:34] strongduanmu commented on #12501
Hi @valleyG, can you provide your configuration? I need more information to reproduce this exception.

[2021-09-17 01:43] valleyG commented on #12501
@strongduanmu
 thanks！

[code]

[2021-09-17 01:59] jmbkeyes opened #12510 "sharding route to unexcepted data nodes when use transaction with seata1.4.1"
## Bug Report

**For English only**, other languages will not accept.
1. table trainee_center_info with sharding key(centerId) in databases(bocaicheckin2018,bocaicheckin2019,bocaicheckin2020).

2. working with seata
[code]
3. sharding-jdbc log as below.
[code]

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- R

[2021-09-17 02:18] zjcnb opened #12511 "Add unit test for SchemaMetaDataPersistService"
Please add unit test for this method:

[code]

[2021-09-17 02:27] zjcnb commented on #12510
@jmbkeyes Hello,  can you provide your configuration?

[2021-09-17 02:42] jmbkeyes opened #12512 "shardingsphere-jdbc with seata1.4.1 transaction issue"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-17 02:48] jmbkeyes commented on #12510
@zjcnb see the attached file.
[application.yml.log](https://github.com/apache/shardingsphere/files/7182220/application.yml.log)

[2021-09-17 03:00] RaigorJiang opened #12513 "[Mode] NPE occurred during Proxy startup."
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Steps to reproduce the behavior
When Start with cluster mode, and there is `no existed data on ZooKeeper,`  `NPE` will thrown from the method below:
[code]

Error log:
[code]

[2021-09-17 03:01] zjcnb commented on #12510
ok

[2021-09-17 03:05] tuichenchuxin commented on #12293
@qiuxiaotong2021
I saw your properties
[code]
this will make the range to `-∞,5), [5,10),[10,+∞) ` and you sharding key is `order_id` , So it'll sharding to t_order_2 , but it is not exist.
Refer to `AbstractRangeShardingAlgorithm`

[2021-09-17 03:07] RaigorJiang commented on #12513
![image](https://user-images.githubusercontent.com/5668787/133717585-f37ed7c3-d0a7-4e76-b961-b21bbdaee84c.png)

I only configured a shcema `sharding_db`, why the event got a clusterSchema named `logic_db.primary`?   And it must cause  the `get` result from metaDataMap is null.

[2021-09-17 03:32] wsm12138 opened #12514 "On September 16 version master proxy startup log an error "Java. Util. ConcurrentModificationException: null ""
## Bug Report
Hi community,
### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior

### Actual behavior
[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes

[2021-09-17 03:34] wsm12138 commented on #12514
Although produced the error, the proxy can use normal

[2021-09-17 03:42] strongduanmu commented on #12514
Hi @wsm12138, thank you for your feedback. Is this a reproducible problem? I tried the master branch and there was no exception.

[2021-09-17 04:01] menghaoranss commented on #12513
@RaigorJiang  Proxy or JDBC?

[2021-09-17 04:16] RaigorJiang commented on #12513
@menghaoranss
Proxy, mentioned in title.   😊

[2021-09-17 04:39] wuwu20048 opened #12516 "when using the data encrypt and the sql condition contians DATE_FORMAT(:createdTime,'%y-%m-%d') and limit ,it will throws java.lang.ClassCastException:"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-17 05:11] 448700174 commented on #12315
Yes, the master code fix this problem.

[2021-09-17 05:25] 448700174 commented on #12315
But there is a new problem, some column's value cannot map to entity.
![image](https://user-images.githubusercontent.com/20518071/133729150-0c5a8da6-38e3-4870-b0c0-c364828cd152.png)
![image](https://user-images.githubusercontent.com/20518071/133729179-61fb86bd-1328-42b5-966b-b6210cc600e8.png)

[2021-09-17 05:48] tuichenchuxin commented on #12315
@448700174
Maybe you can describe the problem more clearly or provide a demo? Maybe raise a new issue to describe?

[2021-09-17 06:00] 448700174 commented on #12315
And another simple query failed:
select s.* from care_patrol_subtask s where s.tenant_id = ? and s.task_id = ? and s.carer_id=?

The actual SQL is:
2021-09-17 13:55:59.570 [http-nio-8099-exec-5] INFO  ShardingSphere-SQL - Actual SQL: ds ::: select s.* from care_patrol_subtask_1 s where s.tenant_id = ? and s.task_id = ? and s.carer_id=? ::: [12, 1438502973387612160, 14]
2021-09-17 13:55:59.570 [htt

[2021-09-17 06:01] 448700174 opened #12517 "Some query failed get the column value"
My sql execute sucess, but some column's value cannot map to entity.The failed column including account_type,status,is_accounted,creator_id,and all left join columns(category,category_type,category_title,goods_title,evidence).
The origin SQL is:
SELECT
cod.*,
cc.category,
cc.category_type,
cc.category_title,
cg.goods_title,
cg.evidence
FROM
care_order_detail cod
left join care_goods cg on cg.id =

[2021-09-17 06:07] 448700174 commented on #12315
And another simple query execute failed:
2021-09-17 14:07:30.209 [http-nio-8099-exec-9] INFO  ShardingSphere-SQL - Logic SQL: select s.* from care_patrol_subtask s where s.tenant_id = ? and s.task_id = ? and s.carer_id=?
2021-09-17 14:07:30.209 [http-nio-8099-exec-9] INFO  ShardingSphere-SQL - SQLStatement: MySQLSelectStatement(limit=Optional.empty, lock=Optional.empty, window=Optional.empty)
2021

[2021-09-17 06:42] RaigorJiang commented on #12491
Hi @marker-wu
I investigated this issue and I have the following information to give you feedback:
1. In the SQL parse progress, ANTLR recognizes ‘5’ as a Number type;
2. The most suitable type corresponding to ‘5’ is Integer, so it becomes Interger;
3. Although your table field type is bigint, meta data has not been used during parse progress, so it has not been converted to Long type.
4. The sha

[2021-09-17 06:44] menghaoranss commented on #12513
@RaigorJiang reproduced, I will fix it asap, thanks for your feedback.

[2021-09-17 07:01] marker-wu commented on #12491
it worked !
3Q

[2021-09-17 07:46] zjcnb commented on #12510
@jmbkeyes Table Structure，Can you provider it?

[2021-09-17 07:49] jmbkeyes commented on #12510
[code]

[2021-09-17 07:53] zjcnb commented on #12510
got it.

[2021-09-17 08:36] wsm12138 commented on #12514
Thanks for your reply. I restarted the proxy without changing the configuration, but this problem did not occur again. Maybe this problem is triggered with a certain probability.

[2021-09-17 08:38] fffscd opened #12518 "sharding-jdbc start too slow"
## Bug Report
sharding jdbc start too slow

my config
[code]
I have  3858 tables
[code]

### Which version of ShardingSphere did you use?
[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

###
I see many questions in the Issue, but don't have a  clear solution

[2021-09-17 08:56] zjcnb commented on #12512
@jmbkeyes  Hi, please provider your Consts.CENTERID_MAPPING class

[2021-09-17 09:04] #12513 closed

[2021-09-17 09:05] jmbkeyes commented on #12512
@zjcnb
[code]

[2021-09-17 09:08] strongduanmu commented on #12516
@wuwu20048 Thank you for your feedback, i will check it later.

[2021-09-17 09:10] menghaoranss commented on #12517
Could you provide your configurations, print the logic sql and actual sql in the log?

[2021-09-17 09:11] zjcnb commented on #12512
bingo

[2021-09-17 09:14] cyxlxp8411 opened #12520 "The OpenGauss breaks down when the benchmarkSQL is run in the shardingsphere proxy and two openGauss nodes."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-17 09:16] menghaoranss commented on #12518
Hi, @fffscd Loading metadata  has been optimized in the latest version

[2021-09-17 09:19] fffscd commented on #12518
Ok,I'll give a try. thanks

[2021-09-17 09:20] marker-wu opened #12521 "How to change the default port of Sharding-Proxy"
How to change the default  port of Sharding-Proxy 3307?

[2021-09-17 09:28] zjcnb commented on #12510
@jmbkeyes  Hi, I used your config are work well, such as:

[code]

logs:

[code]

[2021-09-17 09:38] RaigorJiang commented on #12521
Please refer to document:
https://shardingsphere.apache.org/document/current/cn/quick-start/shardingsphere-proxy-quick-start/

[2021-09-17 09:41] RaigorJiang commented on #12521
Or another doc:
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/usage/startup/#notices

[2021-09-17 09:49] qbmiller commented on #11436
our problem;  post module config all logic tables. but chat module only config one logic table ,
so chat module load other tables as normal tables for 1000 times

[2021-09-17 10:01] tuichenchuxin commented on #11436
@qbmiller
Thanks for the feedback, you can try the latest code we have solved the problem of slow loading.

[2021-09-17 10:09] zjcnb commented on #12514
I think it's modCount not equal to mc in Map when operating the list. I suggest adjusting this block to iterator or stream

[2021-09-17 10:11] marker-wu commented on #12472
The binary package built with 5.0.0-beta reports an error when running，Please help me see what is causing the problem
![image](https://user-images.githubusercontent.com/45256940/133766171-dda477ac-3359-437e-b190-fe74973771c8.png)
I can run normally in the source code

[2021-09-17 10:15] jmbkeyes commented on #12510
@zjcnb I'm using JPA, and you can access the the demo project via git@github.com:jmbkeyes/shardingsphere-jdbc-seata-demo.git

[2021-09-17 10:17] zjcnb commented on #12514
@strongduanmu thx

[2021-09-17 10:51] menghaoranss commented on #12518
Welcome, looking forward to your feedback again.

[2021-09-17 10:56] zjcnb commented on #12510
ok. I will try

[2021-09-17 11:01] TeslaCN commented on #12520
Could you have a look why openGauss broke down? ShardingSphere Proxy connects database by openGauss JDBC driver, which means Proxy is just a common client for database.

[2021-09-17 11:35] strongduanmu opened #12528 "Wrong sql rewrite when user does not config KeyGenerateStrategy"
### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

proxy or jdbc

### Expected behavior

execute successfully

### Actual behavior

Throw exception because wrong sql rewrite and user does not config KeyGenerateStrategy.

![image](https://user-images.githubusercontent.com/10829171/133775543-984b984a-2dd9-4183

[2021-09-17 11:54] #11793 closed

[2021-09-17 16:22] cheese8 commented on #12427
Encrypt module do not support join table segment very well for now,  see #12462, #12504

[2021-09-17 16:36] #11689 closed

[2021-09-17 23:03] #12227 closed

[2021-09-17 23:44] #12528 closed

[2021-09-18 00:32] zjcnb opened #12532 "Throw Exception ResultSet should call next or has no more data when Insert record."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

insert success

### Actual behavior

failed

### configuration

[code]

### table

[code]

### Exception

[code]

[2021-09-18 01:29] marker-wu opened #12533 "How to build a sharding-proxy cluster？"
How to build a sharding-proxy cluster？

[2021-09-18 01:58] CrackerSuperior opened #12534 "Caused by: org.yaml.snakeyaml.error.YAMLException: Unable to find property 'inlineShardingStrategy' on class: org.apache.shardingsphere.sharding.yaml.config.YamlShardingRuleConfiguration"
This is my configuration：
[code]

so,how do I use allow-range-query-with-inline-sharding?thanks

[2021-09-18 02:02] CrackerSuperior commented on #12533
I was thinking about that, too.
My simple solution is to make ZooKeeper the configuration center and registry. LVS perform load balancing. It works ok. But I don't know if it really meets the clustering requirements

[2021-09-18 02:10] CrackerSuperior commented on #12533
This is my picture
![sharding集群English@2x](https://user-images.githubusercontent.com/45088781/133868866-52a11f4f-42fb-46ac-8479-35e0fba53901.png)
：

[2021-09-18 02:11] CrackerSuperior commented on #12534
And My version is 5.0.0-RC1

[2021-09-18 02:19] menghaoranss commented on #12427
Good job.

[2021-09-18 02:20] RaigorJiang commented on #12534
Hi @CrackerSuperior, here is an example:
https://github.com/apache/shardingsphere/blob/master/shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/resources/config/config-federate.yaml

[2021-09-18 02:25] CrackerSuperior commented on #12534
That's great. Thank you!

[2021-09-18 02:39] kkoobee opened #12535 "NPE in FederateEnumerator.class"
## Bug Report
when ResultSet "queryResults" is empty, there will be 'npe' when invoking 'iterator.next()'.
[
the related configuration and the sql is shown at the below.
![6666](https://user-images.githubusercontent.com/76169812/133869641-1a13aa3d-663c-4941-a471-dacafa693e95.jpg)
![7770](https://user-images.githubusercontent.com/76169812/133869655-179e6815-4e0a-4e5f-a9d9-cdc141fc97ce.jpg)

additio

[2021-09-18 02:39] marker-wu commented on #12533
Haha, I have the same idea as you. I tried to use Nginx to proxy proxy last night, but it didn’t work. I don’t know if there is a problem with my configuration.
Have you tried successfully?

[2021-09-18 02:43] CrackerSuperior commented on #12533
My virtual IP does connect to all of my proxies, and it's polling

[2021-09-18 02:49] marker-wu commented on #12533
Can you share your Nginx configuration？

[2021-09-18 02:54] strongduanmu commented on #12535
@kkoobee Thank you for your feedback, i will investigate this problem.

[2021-09-18 02:58] CrackerSuperior commented on #12533
Sorry, I'm using LVS.

[2021-09-18 03:02] CrackerSuperior commented on #12533
I can give you the steps of LVS if you want to use LVS too

[2021-09-18 03:03] cuixiaoxult opened #12536 "JDBCExecutorCallbackError"
![06657fc32527658bba8e514e421b4d6](https://user-images.githubusercontent.com/49865284/133870189-79e2a9bb-894a-4583-8bc0-9220e0897f39.png)
The exception information returned by mysql executing the insert method is caught by the method execute catch of JDBCExecutorCallback and the execution result is false, which causes the business code to fail to obtain the exception information

[2021-09-18 03:26] sandynz opened #12538 "Add unit test for scaling MySQLDataSourcePreparer"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `org.apache.shardingsphere.scaling.mysql.component.checker.MySQLDataSourcePreparer` to test its public functions:
- Mock `DataSource`, `Conncetion`, `Statement` of `java.sql`, verify certain SQL is executed

### Basic Qualifications
* Java
* Maven
* Junit.Test

[2021-09-18 03:30] sandynz opened #12539 "Add unit test for ScalingIdleClusterAutoSwitchAlgorithm"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `ScalingIdleClusterAutoSwitchAlgorithm` to test its public functions

### Basic Qualifications
* Java
* Maven
* Junit.Test

[2021-09-18 03:33] menghaoranss commented on #12536
@cuixiaoxult For English only, please translate the issue title to English .

[2021-09-18 03:35] sandynz opened #12540 "Add unit test for scaling DataSourceWrapper"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `org.apache.shardingsphere.scaling.core.common.datasource.DataSourceWrapper` to test its public functions:
- Mock `DataSource` of `java.sql`, verify certain method is invoked.

### Basic Qualifications
* Java
* Maven
* Junit.Test

[2021-09-18 03:36] marker-wu commented on #12533
OK, let me see

[2021-09-18 03:59] strongduanmu commented on #12315
Because master code has already fix this problem, I will close this issue.

[2021-09-18 03:59] #12315 closed

[2021-09-18 04:01] sandynz commented on #12485
Server config check:
[code]

Call hierarchy:
[code]

[2021-09-18 04:05] CrackerSuperior commented on #12533
LB Server Configuration:
[code]

Web Server Configuration:
Disable ARP packet broadcasting:
[code]
Bind virtual IP addresses, add static routes, receive packets from the LB server, and forward the packets to the LO network adapter for processing:
[code]

[2021-09-18 04:39] sandynz commented on #12485
In `RALBackendHandlerFactory.java`
[code]

Currently, `UpdatableRALStatement` sub-classes are: `DropScalingJobStatement`, `ResetScalingJobStatement`, `StartScalingJobStatement`, `StopScalingJobStatement`, all of them belong to scaling feature.

If new sub-class of `UpdatableRALStatement` is added in other feature and scaling feature is not enabled, `checkServerConfig()` in scaling will have side e

[2021-09-18 05:48] yx9o opened #12542 "Use `docker pull apache/shardingsphere-proxy` cannot pull the image."
## Bug Report
Hi, community,
        I encountered the following problems when pulling the official shardingsphere-proxy Docker image:
[code]

As above:
several documents are inconsistent, the image name in dockerhub is incorrect, and the image in the document cannot be pulled.

Related screenshots:
![image](https://user-images.githubusercontent.com/12792261/133873696-62c303ca-6cc1-43fa-8dd3-f3a98

[2021-09-18 05:58] danianyu opened #12543 "Update sql has the risk of updating all data tables"
## Feature Request

**For English only**, other languages will not accept.

At present, when ShardingSphere executes update SQL, if the shardingKey is not included in the SQL, all data tables will be updated.
I think it is very dangerous.
So I suggest adding a feature.
Users can autonomously control whether all updates are required according to their actual needs.

### Is your feature request rela

[2021-09-18 06:22] sandynz commented on #12485
Verification:
scaling feature not enabled in `server.yaml`

### Test with old code:
[code]
As new added DistSQL, it will show scaling error, which is wrong.

Exception:
[code]

### After moving `checkServerConfig()` to `ScalingWorker.init`:
[code]
Exception:
[code]

There's no error message for user, it's better to keep meaningful error message.

### Consider other solutions:
1. Scaling sub-classe

[2021-09-18 07:13] sandynz opened #12547 "Add new dataConsistencyCheck and switchClusterConfiguration methods of ScalingAPI for DistSQL"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
We've planned to add `dataConsistencyCheckAlgorithm` and also to update related DistSQL. Need to add api for DistSQL handler.

TODO list:
- Extend `ScalingDataConsistencyCheckAlgorithm` interface, need to supply `description`, `supported_database_types`, `provider`
- Add new `dataCons

[2021-09-18 07:18] zjcnb commented on #12543
ref : [https://github.com/apache/shardingsphere/issues/11801](url)

[2021-09-18 07:25] zjcnb commented on #12543
It's was discussed. ref to : [https://github.com/apache/shardingsphere/issues/11801](url)

[2021-09-18 07:38] power522 opened #12548 "The MULTIPOLYGON, GEOMETRY, and PONIT types cannot be obtained by mysql JDBC using the DatabaseMetaData getTypeInfo method, causing a loadColumnMetaDataMap report NullPointerException"
Startup log：

dataTypes`{BIGINT=-5, BIGINT UNSIGNED=-5, BINARY=-2, BIT=-7, BLOB=-4, BOOL=-7, CHAR=1, DATE=91, DATETIME=93, DECIMAL=3, DOUBLE=8, DOUBLE PRECISION=8, ENUM=12, FLOAT=7, INT=4, INT UNSIGNED=4, INTEGER=4, INTEGER UNSIGNED=4, JSON=-1, LONG VARBINARY=-4, LONG VARCHAR=-1, LONGBLOB=-4, LONGTEXT=-1, MEDIUMBLOB=-4, MEDIUMINT=4, MEDIUMINT UNSIGNED=4, MEDIUMTEXT=-1, NUMERIC=2, REAL=8, SET=12, S

[2021-09-18 07:55] 448700174 commented on #12517
2021-09-18 15:36:20.564 [http-nio-8099-exec-4] INFO  ShardingSphere-SQL - Logic SQL: SELECT
    cod.*,
    cc.category,
    cc.category_type,
    cc.category_title,
    cg.goods_title,
    cg.evidence
    FROM
    care_order_detail cod
    left join care_goods cg on cg.id = cod.goods_id
    left join care_category cc on cc.id = cg.category_id
    WHERE 1=1
    AND cod.id = ?
    and cod.tenant_id

[2021-09-18 07:58] 448700174 commented on #12517
And I debug into mybatis code
![image](https://user-images.githubusercontent.com/20518071/133881279-62a43e8a-eac2-4d56-8e3c-6b37eb765d30.png)

The account_type's value got in org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSet, but failed to transfer into entity object.

[2021-09-18 08:01] #12103 closed

[2021-09-18 08:12] ymind commented on #12548
me too

[2021-09-18 08:26] marker-wu commented on #12533
Haha, thank you, I built one with Haproxy and it worked！

[2021-09-18 08:29] yx9o commented on #12548
Hi @power522 , for English only, please modify the issue title and content, thank you.

[2021-09-18 08:29] CrackerSuperior commented on #12533
congratulations

[2021-09-18 08:36] LeeGuoPing commented on #12496
I want to have a try

[2021-09-18 08:37] LeeGuoPing commented on #12470
I want to have a try

[2021-09-18 08:50] tuichenchuxin commented on #12470
@LeeGuoPing Ok, thank you for your support.

[2021-09-18 08:50] strongduanmu commented on #12470
@LeeGuoPing Welcome.

[2021-09-18 08:55] sccc803 opened #12553 "Proxy returns wrong result when executing sql statement with subquery."
### Which version of ShardingSphere did you use?
Master branch.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy.

### Expected behavior
Here is a logic table called `sbtest` like this:

id | k | c | pad
-- | -- | -- | --
645998280928395264 | 0 | 0 | pad0
645998323827736577 | 1 | 0 | pad0

Execute a sql statement:
mysql > SELECT * FROM sbtest WHERE

[2021-09-18 08:58] zjcnb commented on #12548
It 's support JSON data type in master branch, But I think it 's need refactor here.

[2021-09-18 09:07] strongduanmu opened #12554 "IllegalArgumentException occur when execute sql with distinct project"
### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

jdbc or proxy

### Expected behavior

return result without exception

### Actual behavior

[code]

Following is the sharding config:
[code]

Table `t_single` and `t_order` are in the same datasource, and when i execute this sql(no result return actually), e

[2021-09-18 09:15] soulasuna commented on #12496
@LeeGuoPing  welcome assigned.

[2021-09-18 09:33] terrymanu opened #12556 "Add test case for UserStatusService"

[2021-09-18 09:36] RaigorJiang opened #12557 "[Examples] Optimize the structure of examples."
### Background

Currently, the directory structure of examples looks like this:

[code]

Notice:
The shadow feature is being refactored, so `shadow-example` and `future-shadow-example` exist at the same time and will be merged in the future.

### problems

There are some problems:

#### docker
- In the `docker/shardingsphere-jdbc` directory, only an image with a database and registry center is act

[2021-09-18 09:37] tuichenchuxin commented on #12501
@valleyG
Thanks for the feedback, we also found the same problem on the master branch, and the pr submitted later will fix this problem on the master branch.

[2021-09-18 09:52] tuichenchuxin opened #12561 "Add unit test for TableMetaDataUtil"
Hi community,

This issue is for #10887.

Aim
Add unit test for TableMetaDataUtil to test its public functions

Basic Qualifications
Java
Maven
Junit.Test

[2021-09-18 09:53] RaigorJiang opened #12563 "[Examples] Create `single-feature-example` for `shardingsphere-jdbc-example`."
Hi community,

This issue is for #10887.

### Background
Refor to #12557.

### Aim
Create module `single-feature-example` for `shardingsphere-jdbc-example`, and move the existed example modules into the new module.

### How to
1. Create new module `single-feature-example` in `shardingsphere-jdbc-example`.
2. Move the following modules into `single-feature-example`:
   - cluster-mode-example
   - e

[2021-09-18 09:54] #12296 closed

[2021-09-18 10:08] RaigorJiang opened #12566 "[Examples] Create `mixed-feature-example` for `shardingsphere-jdbc-example`."
Hi community,

This issue is for #10887.

### Background

Refor to #12557.

### Aim
1. Create module `mixed-feature-example` for `shardingsphere-jdbc-example`, and create `sharding-readwrite-splitting-example`  in `mixed-feature-example`.

2. Extract sharding & readwrite-splitting mixed examples from `sharding-example` and become an independent example module.

### How to
1. Create new module `mix

[2021-09-18 10:22] valleyG commented on #12501
@tuichenchuxin ok，thinks！

[2021-09-18 10:25] RaigorJiang opened #12567 "[Examples] Create `readwrite-splitting-example` for `single-feature-example`."
Hi community,

This issue is for #10887.

### Background

Refor to #12557 & #12563.

### Aim
1. Create module `readwrite-splitting-example` for `single-feature-example`.
2. Extract readwrite-splitting examples from `sharding-example` and become an independent example module.

### How to
1. Create new module `readwrite-splitting-example` in `single-feature-example`.
2. Create the following examples

[2021-09-18 10:32] lanchengx opened #12568 "When the transaction status is open and `schema` is specified, an exception will occur when executing `SELECT @@session.transaction_read_only;`"
**Steps to reproduce the behavior**

![image](https://user-images.githubusercontent.com/52209337/133885566-944da7a6-b08b-4de6-838e-3e99d60ee359.png)

**Reason analyze**
![image](https://user-images.githubusercontent.com/52209337/133885585-5566e6e3-3f03-4769-ae1f-b3955b614434.png)

Even if the `schema` of the current connection exists, in order to ensure that the schema of the current connection mu

[2021-09-18 10:38] RaigorJiang opened #12569 "[Examples] Move and delete some modules and directories."
Hi community,

This issue is for #10887.

### Background

Refor to #12557.

### Aim
1. Move `shardingsphere-parser-example` to `other-example` .
2. Delete directory `docker/shardingsphere-jdbc`.

### How to
1. Create new module  `other-example` in `examples` project.
2. Move module `shardingsphere-parser-example` into `other-example` .
3. Delete directory `docker/shardingsphere-jdbc`.

[2021-09-18 10:57] RaigorJiang opened #12570 "[Examples] Split `hint-example` into different modules."
Hi community,

This issue is for #10887.

### Background

Refor to #12557 & #12567.

### Aim
Since hint is not a major feature of ShardingSphere, it is only a specific part of sharidng or readwrite-splitting, so the hint example need to split into `sharding-example` and `readwrite-splitting-example`.

### How to
1. Migrate the `hint-databases-only` example from `hint-example` to `sharding-example`

[2021-09-18 11:06] menghaoranss opened #12572 "Center the images on the overview page of the official document"
<img width="1197" alt="image" src="https://user-images.githubusercontent.com/60651792/133886664-ebf3d4d0-b984-45de-b004-891e24e9b6d9.png">

[2021-09-18 11:08] terrymanu commented on #12273
It is better to abstract `StatusPersistService` as normal service, not for cluster mode only:
![image](https://user-images.githubusercontent.com/5516298/133886678-843bd3cd-38b1-4f20-ae10-076a0a49acd4.png)

So, the tasks are changed to:

- [X] Split ContextManagerBuilder for build one time only and put renew into coordinator;
- [ ] Add StatusPersistService interface
- [ ] Adjust refresh logic via d

[2021-09-18 12:18] #12554 closed

[2021-09-18 13:50] tuohai666 opened #12576 "Table name tends to be case sensitive when Single Table Routing"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-18 15:03] PuneetDabral commented on #12569
sir i am new in open source can you please help me to contribute here !!.....sir

[2021-09-18 17:03] zhfeng opened #12578 "Support JDK 11 build"
## Feature Request

### Is your feature request related to a problem?

### Describe the feature you would like.

I want to build shadingsphere with JDK 11

[2021-09-19 02:17] zhujunxxxxx commented on #12561
I'd like do it.

[2021-09-19 02:17] zhujunxxxxx commented on #12556
I'd like do it.

[2021-09-19 05:07] #12578 closed

[2021-09-19 05:10] wgy8283335 opened #12581 "SqlNodeConvertEngine.convert() parse SQL with subquery correctly."
## Feature Request

### Describe the feature you would like.

SqlNodeConvertEngine.convert() can not parse SQL with subquery correctly. So, we should add some logic when processing the subquery.

SqlNodeConverter in 'org.apache.shardingsphere.infra.optimize.core.convert.converter' could not parse subquery.
For example:

SELECT_SQL_SUBQUERY_WHERE_EXISTS =
            "SELECT t_order_federate.order_

[2021-09-19 06:38] tuichenchuxin commented on #12561
Welcome, ok.

发自我的iPhone

------------------ Original ------------------
From: Zhu jun ***@***.***&gt;
Date: Sun,Sep 19,2021 10:17 AM
To: apache/shardingsphere ***@***.***&gt;
Cc: tuichenchuxin ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/shardingsphere] Add unit test for TableMetaDataUtil (#12561)

[2021-09-19 12:06] zjcnb commented on #12532
Hi,  i found my sql have a mistakes, like this :

[code]
i change it to:

[code]

So, i think this issue is invalid. i will close it.

[2021-09-19 12:06] #12532 closed

[2021-09-19 13:09] #12568 closed

[2021-09-19 13:10] #12547 closed

[2021-09-19 13:14] #12485 closed

[2021-09-19 13:23] tristaZero commented on #12553
@sccc803 Hi, thanks for your detailed report.
@strongduanmu could you check this one?

[2021-09-19 13:27] tristaZero commented on #12536
@cuixiaoxult Hey thanks for your debug. Which version do you use?
@strongduanmu Could you check this one?

[2021-09-19 13:28] tristaZero commented on #12548
@power522 Hey could you try the master branch as @zjcnb said?

[2021-09-19 13:33] tristaZero commented on #12543
@danianyu Hi, but in the case below, the user truly wants to update all.

Could you give us a user case that SQL without shardingkey has no need to route to all the tables?

[2021-09-19 13:34] tristaZero commented on #12542
It looks like we have a bug on our doc? @yx9o

[2021-09-19 13:34] tristaZero commented on #12542
@zjcnb could you double-check here?

[2021-09-19 15:00] strongduanmu commented on #12542
@yx9o @tristaZero This is a problem with the beta release. We released the image as `sharding-proxy` incorrectly. I have modified the release process document before——pr #11521, and the issue will be resolved in the next version.

[2021-09-19 15:12] strongduanmu commented on #12581
@wgy8283335 Thank you for your feedback, I will optimize this problem.

[2021-09-19 15:46] strongduanmu commented on #12536
Hi @cuixiaoxult, thank you for your feedback. This issue is duplicated with #11251, and it has been fixed in master branch. You can try the latest code in master branch.

[2021-09-19 15:46] strongduanmu commented on #12536
Duplicate with #11251.

[2021-09-19 15:46] #12536 closed

[2021-09-19 15:47] strongduanmu commented on #12553
Hi @sccc803, thank you for your feedback, I will check this problem.

[2021-09-19 16:04] terrymanu opened #12583 "Compile error after pr #12562 and #12564 merged"
I just comment 4 classes, there are:

- ShadowRuleQueryResultSet
- ShadowAlgorithmQueryResultSetTest
- ShadowRuleQueryResultSetTest
- ShadowTableRuleQueryResultSetTest

Please search "// TODO fixme with issue #12583" to fix this issue

[2021-09-19 16:09] yx9o commented on #12542
@strongduanmu @tristaZero ok, there are two areas that need to be dealt with:
1. The documents are all modified to `apache/shardingsphere-proxy`.
2. Modified dockerhub to `docker pull apache/shardingsphere-proxy`.

[2021-09-19 16:25] zhfeng commented on #12583
It seems that these commits were pushed to the ```master`` branch without the CI testing. I think it could be better to avoid pushing to the ```master``` branch directly.

[2021-09-19 16:26] #12583 closed

[2021-09-19 16:35] zhfeng opened #12587 "Some failure tests when building with JDK 11"
Following #12578

[2021-09-19 16:38] zhfeng opened #12589 "Add JDK 11 build in CI configuration"
## Feature Request

After fixing #12578 and #12587 , I think it should be useful to add the JDK 11 build in ci.yml

[2021-09-19 16:40] RaigorJiang commented on #12569
Hi @PuneetDabral
Welcome to ShardingSphere, I am honored to be able to help you.
As a first step, you can refer to these documents:
- [How to Set Up Your DEV Environment](https://shardingsphere.apache.org/community/en/contribute/establish-project/)
- [Contributor Guide](https://shardingsphere.apache.org/community/en/contribute/contributor/)

[2021-09-19 16:46] PuneetDabral commented on #12569
thanku sir ..

[2021-09-19 16:46] RaigorJiang commented on #12569
You are welcome.

[2021-09-19 16:49] PuneetDabral commented on #12569
ok sir after that what i can do ...!! i know that thing ...but i dont know java very well...so please help me

[2021-09-19 16:55] RaigorJiang commented on #12569
This task does not require java coding, but you need a java development environment and some knowledge of [maven](https://maven.apache.org/).
This is a brief process:
1. Clone the ShardingSphere project
2. Import shardingsphere/examples into your IDE as a maven project
3. Adjust the modules according to the task description
4. Submit a PR

[2021-09-19 16:57] PuneetDabral commented on #12569
ok sir i will try and send a pr request please check and correct this .. thanku sir

[2021-09-19 17:02] RaigorJiang commented on #12569
OK, hope to see you later.

[2021-09-19 17:02] PuneetDabral commented on #12569
ok sir...

[2021-09-19 17:03] zhfeng opened #12590 "[EXAMPLE] Add README.md in each example and describe in details"
## Feature Request
I'd like to suggest to add README.md in each example

- The basic idea of the example, just like "This example shows how to do some features in sharding-sphere"
- How to build the example
- How to run the example, especailly with the command lines
- What is the expected outcome
-

### Is your feature request related to a problem?

### Describe the feature you would like.

[2021-09-19 17:08] PuneetDabral commented on #12569
check my pr

[2021-09-19 17:13] zhfeng opened #12591 "Support Quarkus extension"
## Feature Request

I just want to add sharding sphere in [Quarkus](https://quarkus.io/) ecosystem and support as an extension

### Is your feature request related to a problem?

### Describe the feature you would like.

- create a quarkus extension just like ```quarkus-sharding-sphere```
- It should leverage on [Quarkus Datasource](https://quarkus.io/guides/datasource)
- It needs to produce  ```S

[2021-09-19 23:00] pavluchenko commented on #12511
Hi, I would like to look on this. Can you please assign to me this issue?

[2021-09-19 23:18] pavluchenko commented on #12567
Hi, I would like to look on this. Can you please assign to me this issue?

[2021-09-20 02:50] RaigorJiang commented on #12567
@pavluchenko
Sure, welcome!

[2021-09-20 05:24] zjcnb commented on #12511
yes, welcome

[2021-09-20 08:04] tristaZero commented on #12534
Hi @CrackerSuperior If this issue was fixed, could you close it?

[2021-09-20 08:14] tristaZero commented on #12533
@marker-wu @CrackerSuperior Hi, everyone, thanks for your discussion, especially @CrackerSuperior 's diagram, looks nice.
I'd like to move this issue to the `discussion` section to make more people know about your talk. ;-)

[2021-09-20 08:15] #12533 closed

[2021-09-20 08:33] tristaZero commented on #12512
@jmbkeyes Hi, if this one was fixed, could you close it?

[2021-09-20 09:20] tristaZero commented on #12591
Hey @zhfeng ,

Your idea looks nice! You want to add `quarkus.datasource.db-kind=shardingsphere`? Could I know why you want to add `shardingsphere-db-kind` for `Quarkus`?

I am curious which scenario people would like to choose `Quarkus-dataSource`?

[2021-09-20 09:21] #12591 closed

[2021-09-20 09:23] tristaZero commented on #12590
Hey, that's what we plan to do next step. could you like to join and speed it up?

[2021-09-20 09:27] tristaZero commented on #12352
Hi @ulwfcyvi You can have a try, as the main aim of ShardingSphere is not for what you want. But welcome your any attempt. If you need any help, please ping us here. ;-)

[2021-09-20 09:31] tristaZero commented on #12587
Hi, would you like to fix this issue? I saw your activities many times, welcome!
What does make you have attention here?

[2021-09-20 09:49] tristaZero commented on #6478
Hi @ThanoshanMV Welcome!
Could you comment something here so I can assign to U？

[2021-09-20 12:16] ThanoshanMV commented on #6478
Hi @tristaZero, I'll try this one.

[2021-09-20 13:15] terrymanu commented on #12273
I will introduce mode module in rule for StatusPersistService. It will cycle import with infra-common and mode-core modules.
I want hold this issue, the current event posting solution is good enough for now.

[2021-09-20 13:34] zjcnb opened #12597 "Available tables not right in IntervalShardingAlgorithm"
iusse refer to: #12458

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

It 's calculate the correct available table according to datetime-interval-amount

### Actual behavior

No used datetime-interval-amount properties when sql are

 SELECT user_id, user_account, user

[2021-09-20 14:20] zhfeng commented on #12587
Oh, I'm thinking about introduce the sharding-sphere extension in Quarkus ecosystem. So it could be better to support build with JDK 11 since Quarkus has dropped the JDK 8 support in 2.x

What do you think the JDK support in sharding-sphere ? Do we need to support such LTS JDK versions, e.g. (8, 11, 17)

[2021-09-20 14:22] zhfeng commented on #12590
yeah sure, I'm very happy to join in. And it looks like better to host a seperate example repository, such as https://github.com/apache/shardingshpere-examples.

[2021-09-20 16:40] terrymanu opened #12604 "OptimizerContextFactory does not design clearly"
There are 2 methods for class `OptimizerContextFactory` to create optimizer related objects.
The new constructor for `FederateJDBCExecutor` and `create` method for `FederateRawExecutor`. They are not in the same abstract level.
The class diagram is:

![image](https://user-images.githubusercontent.com/5516298/134291969-bf142684-9cdf-441a-9fbd-9899b801e51d.png)

Beside abstract level of `OptimizerCo

[2021-09-21 06:30] linghengqian commented on #12371
Maybe you mean the unupdated Chinese document? Please refer to the English document.

[2021-09-21 11:55] #12534 closed

[2021-09-21 11:56] #12422 closed

[2021-09-21 15:10] tuhanglsWorld opened #12607 "no well implements AbstractUnsupportedOperationConnection"
org.springframework.dao.InvalidDataAccessApiUsageException: ConnectionCallback; isValid; nested exception is java.sql.SQLFeatureNotSupportedException: isValid
Caused by: java.sql.SQLFeatureNotSupportedException: isValid
	at org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationConnection.isValid(AbstractUnsupportedOperationConnection.java:161)
	at sun.reflect.Generate

[2021-09-21 15:11] suikenungleung opened #12608 "There are no abnormal errors displayed."
## Bug Report

### Development environment
Spring Boot: 2.5.4
MyBatis Spring Boot Starter: 2.2.0
ShardingSphere JDBC: 5.0.0-beta
MySQL: 8.0.23
### Which version of ShardingSphere did you use?
5.0.0-beta
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc-core
### Expected behavior
Throw an exception.
The username field is unique, an exception should be t

[2021-09-22 00:10] strongduanmu commented on #12608
Hi @suikenungleung, what is your sharding config?

[2021-09-22 00:10] strongduanmu commented on #12608
Hi @suikenungleung, what is your sharding config?

[2021-09-22 00:15] strongduanmu commented on #12607
@tuhanglsWorld Can you try the latest version? It has been supported now.

[2021-09-22 00:21] RaigorJiang commented on #12608
@suikenungleung @strongduanmu
This issue has been fixed in master branch, please refer to #10138, #10844.

[2021-09-22 00:30] strongduanmu commented on #12608
Duplicate with #10844.

[2021-09-22 00:30] #12608 closed

[2021-09-22 00:36] strongduanmu commented on #12597
@tuichenchuxin  Can you investigate this issue?

[2021-09-22 00:39] strongduanmu commented on #12576
@tuohai666 Thank you for your feedback, I will check it.

[2021-09-22 00:43] strongduanmu commented on #12556
@zhujunxxxxx Welcome.

[2021-09-22 01:31] lizhuangs opened #12609 "check.table.metadata.enabled=false not work well"
## Bug Report
I startup with springboot,it print log like fellows:
[code]
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
startup my app work well and please not scan  tables
### Actual behavior
it does not work and scan  tables
### Steps to reproduce the behavior, such as:

[2021-09-22 01:43] jmbkeyes commented on #12512
@tristaZero It's not fixed yet.

[2021-09-22 01:44] tuichenchuxin commented on #12597
ok, I'll investigate this issue.

[2021-09-22 02:07] #12572 closed

[2021-09-22 02:15] strongduanmu commented on #12609
Hi @lizhuangs, thank you for your feedback. Can you try the latest version? We have made a lot of optimizations on the metadata.

[2021-09-22 02:50] #12501 closed

[2021-09-22 02:57] CrackerSuperior opened #12611 "Why are SQL execution results different?"
Why are SQL execution results different?  By rights, these two SQL results should be the same.

My version is 5.0.0-beta.

SQL 1：
[code]

SQL 2 :
[code]

[2021-09-22 02:59] strongduanmu commented on #12611
@CrackerSuperior Can you provide your config?

[2021-09-22 03:03] CrackerSuperior commented on #12611
[code]

[2021-09-22 03:07] strongduanmu commented on #12611
@CrackerSuperior Thank you for your detailed info, this issue may duplicate with #12553. I will check it.

[2021-09-22 03:08] strongduanmu commented on #12611
Duplicate with #12553.

[2021-09-22 03:08] #12611 closed

[2021-09-22 03:23] CrackerSuperior commented on #12611
Ok, thanks. I'll keep an eye on it.

[2021-09-22 03:33] MaoWenCai opened #12613 "java.sql.SQLSyntaxErrorException: ORA-00942: 表或视图不存在"
pom.xml
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-boot-starter</artifactId>
			<version>4.1.1</version>
		</dependency>

Error starting ApplicationContext. To display the auto-configuration report re-run your application with 'debug' enabled.
2021-09-22 11:31:02.861 [main] ERROR o.s.b.SpringApplication(line:771) - Application startup failed
or

[2021-09-22 03:56] #11038 closed

[2021-09-22 03:59] Scottle-Hu commented on #10515
I met this problem, too.
And I found that if do not use *, all work fine.

for example:
```select xxx.a, xxx.b , yyy.a, yyy.b from xxxx;```
instead of
```select xxx.* , yyy.* from t;```

[2021-09-22 04:34] strongduanmu commented on #10515
Hi @cz1422189551, can you provide more information? I need to reproduce this problem.

[2021-09-22 06:21] #12480 closed

[2021-09-22 06:32] sandynz opened #12615 "Add dataConsistencyCheckAlgorithm default implementation and DataConsistencyChecker refactor"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Empty `ScalingDataConsistencyCheckAlgorithm` interface was added before. We need to add default implementation now.

TODO list:
- Extend `ScalingDataConsistencyCheckAlgorithm` interface
- Add default implementation for `ScalingDataConsistencyCheckAlgorithm` interface
- Refactor DataCo

[2021-09-22 06:41] JiekerTime opened #12616 "Some DistSQL parsers report errors"
Some DistSQL parsers report errors, but do not affect execution.

The following will show the statements I encountered and is not meant to represent the entire statement：

`show variable *` like ：show variable cached_connections

![image](https://user-images.githubusercontent.com/76552510/134294627-66ddfff2-9043-4539-894a-0c2eca202b6f.png)

`preview *`：

![image](https://user-images.githubusercont

[2021-09-22 06:48] strongduanmu commented on #12613
Hi @MaoWenCai, can you try the latest version?

[2021-09-22 06:50] marker-wu commented on #12391
Why is there no follow-up?

[2021-09-22 07:05] RaigorJiang commented on #12616
Hi @JiekerTime
Thank you for your feedback.
Because the parsing process of DistSQL uses exception to control the flow, we see these outputs are ‘normal’, this is not a ‘BUG’.
We will try to block these information, thank you.

[2021-09-22 07:12] strongduanmu commented on #12391
Hi @marker-wu, you can try the distsql to create or alter sharding rule. `sharding-ui` will not continue to be upgraded in the future, if necessary, you can develop it yourself.

[2021-09-22 07:24] strongduanmu opened #12617 "Exception occurs when execute select ... group by statement"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC or ShardingSphere-Proxy

### Expected behavior

Execute successfully

### Actual behavior

![image](https://user-images.githubusercontent.com/10829171/134300235-d229c6da-7eeb-4b9f-bdcb-0a4dc88f99f5.png)

Does not support `c

[2021-09-22 07:35] tristaZero commented on #12590
@zhfeng Cool welcome. ;-) @RaigorJiang could you update our refactoring plan on example and involve @zhfeng in?

Actually, we created a separate repo for examples, but many people feedbacked that it's indirect to visit them comparing to the place in the master branch. Hence, we merge them into this repo for convenience.

[2021-09-22 07:47] JiekerTime commented on #12616
Ok, I'll close this issue after this information is blocked!

[2021-09-22 08:02] RaigorJiang commented on #12590
Hi @zhfeng
I created an issue to adjust the structure of examples, the purpose is also to make examples easier to understand:
https://github.com/apache/shardingsphere/issues/12557

If possible, please submit a PR as an example, and then we will open the task for more people to participate.
Do you think it is ok?

[2021-09-22 08:17] #11677 closed

[2021-09-22 08:42] RaigorJiang commented on #11737
Hi @Asteven-zn
If your problem is solved, can we close this issue?

[2021-09-22 08:49] menghaoranss opened #12619 "Update meta data context in memory for RDL"
refer #11709

Search the comment `// TODO update meta data context in memory` and fix them.

[2021-09-22 08:51] RaigorJiang commented on #11573
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 08:51] #11573 closed

[2021-09-22 08:52] RaigorJiang commented on #11347
Hi @Superainbower
If your problem is solved, can we close this issue?

[2021-09-22 08:54] RaigorJiang commented on #11340
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 08:54] #11340 closed

[2021-09-22 09:02] suikenungleung commented on #12608
@RaigorJiang @strongduanmu Thank you very much.

[2021-09-22 09:06] RaigorJiang commented on #11325
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:06] #11325 closed

[2021-09-22 09:08] RaigorJiang commented on #11318
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:08] #11318 closed

[2021-09-22 09:10] RaigorJiang commented on #11309
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:10] #11309 closed

[2021-09-22 09:11] RaigorJiang commented on #11106
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:11] #11106 closed

[2021-09-22 09:12] RaigorJiang commented on #11052
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:12] #11052 closed

[2021-09-22 09:17] RaigorJiang commented on #10857
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:17] #10857 closed

[2021-09-22 09:30] RaigorJiang commented on #10940
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 09:30] #10940 closed

[2021-09-22 09:35] Superainbower commented on #11347
HI,@RaigorJiang
The problem is solved, Thanks very much!

[2021-09-22 09:50] TeslaCN commented on #11572
HTTP proxy is like the following:
[code]

[2021-09-22 09:55] justbk2015 opened #12620 "scaling error in openGauss not support test_decoding and throw error when in increament task"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-22 09:55] TeslaCN commented on #11572
This issue may caused by network environment. Please submit a new issue if you have other questions.

[2021-09-22 09:55] #11572 closed

[2021-09-22 09:56] RaigorJiang commented on #10732
Hi @ddx10000
The ID skew you see is not caused by the algorithm, but caused by the specific calling sequence.
We can adjust the code logic of the example later to make the primary key look more natural.
Thank you for your feedback.

[2021-09-22 09:57] jmbkeyes commented on #12512
@zjcnb  any feedback?

[2021-09-22 09:58] jmbkeyes commented on #12510
@zjcnb any feedback?

[2021-09-22 09:59] #11347 closed

[2021-09-22 10:03] RaigorJiang commented on #11795
Duplicate with #10138.

[2021-09-22 10:03] #11795 closed

[2021-09-22 10:17] RaigorJiang commented on #10732
It is not a bug, we will close this issue.
If you are willing to improve the example, please submit another issue, thank you!

[2021-09-22 10:17] #10732 closed

[2021-09-22 10:19] RaigorJiang commented on #11522
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:19] #11522 closed

[2021-09-22 10:20] RaigorJiang commented on #11471
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:20] #11471 closed

[2021-09-22 10:22] RaigorJiang commented on #11469
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:22] #11469 closed

[2021-09-22 10:26] #11443 closed

[2021-09-22 10:26] menghaoranss opened #12622 "Remove useless assertions in unit test"
DistSQL should be able to be executed in any mode, there are some unit tests need to be cleared,

Search the code `No Registry center to execute` in all unit test classes, remove and refactor them.

[2021-09-22 10:27] #11428 closed

[2021-09-22 10:29] RaigorJiang commented on #11409
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:29] #11409 closed

[2021-09-22 10:33] RaigorJiang commented on #11341
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:33] #11341 closed

[2021-09-22 10:35] RaigorJiang commented on #11235
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:35] #11235 closed

[2021-09-22 10:40] RaigorJiang commented on #11167
Hi @taojintianxia @SteNicholas
The plan for `information_schema` is in progress. If you want to support prometheus exporter, please provide detailed SQL statements, thank you.

[2021-09-22 10:42] RaigorJiang commented on #11167
Here is the related issue: https://github.com/apache/shardingsphere/issues/11994

[2021-09-22 10:44] jmbkeyes commented on #12512
@zjcnb Today I came across a new issue when run the test(comment the last save), NPE was thrown。logs as below.
[code]

[2021-09-22 10:45] RaigorJiang commented on #11147
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:45] #11147 closed

[2021-09-22 10:46] RaigorJiang commented on #11055
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-22 10:46] #11055 closed

[2021-09-22 10:47] zjcnb commented on #12512
@jmbkeyes Sorry, i will give you feedback later

[2021-09-22 10:52] daodefengshang opened #12624 "Throw an exception when parsing sql"
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
send the sql to mysql
### Actual behavior
Throw an exception
Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.sh

[2021-09-22 10:54] #11039 closed

[2021-09-22 10:55] #10962 closed

[2021-09-22 10:57] strongduanmu commented on #12624
Hi @daodefengshang, can you try the latest version? It has a better support for sql parse.

[2021-09-22 11:12] tuichenchuxin commented on #12597
@zjcnb Interval Sharding algorithm will be fixed after this pr merge.

[2021-09-22 11:13] tuichenchuxin commented on #12458
@WangShaolin-GitHub After this [pr](https://github.com/apache/shardingsphere/pull/12625)
is merged, this will be fixed on branch master.

[2021-09-22 11:42] totalo commented on #12366
After discussion with @terrymanu , there are mainly the following two parts
1. The proxy uses the original yaml configuration, regardless of the way the template is generated.
2. The jdbc repeated code uses a template method, and the metadata of the data model comes from the yaml configuration file. Users only need to modify yaml to generate sample code with one click.

More suggestions?

[2021-09-22 11:45] yx9o commented on #12488
I want to try this issue.

[2021-09-22 11:58] terrymanu commented on #12366
LGTM

[2021-09-22 12:02] zhfeng commented on #12590
Thanks @RaigorJiang and I will take a look.

[2021-09-22 12:35] strongduanmu commented on #12488
Welcome @yx9o, I have assigned this issue to you.

[2021-09-22 13:04] #12576 closed

[2021-09-22 13:48] zjcnb commented on #12510
Hi, your sharding key is centerId, but your sql are

[code]
Your should change sharding_key or change your sql,  such as change to :
[code]

[2021-09-22 14:46] jingminy opened #12631 "class DistSQLVisitor lost package "autogen""
![image](https://user-images.githubusercontent.com/15995728/134365958-e5d34a03-32d2-4e76-b8ba-0677b8e5bc0c.png)

please fix it, thanks!

[2021-09-22 15:08] yx9o commented on #12631
@jingminy Hi, did you execute `install`? The files in the `autogen` package are generated after executing `install`.

[2021-09-22 15:15] #12604 closed

[2021-09-23 00:59] jmbkeyes commented on #12510
@zjcnb the sql is  generated by JPA, not handwriting sql.

[2021-09-23 01:47] wujiandong opened #12636 "build error with jdk8"
some errors occurred while while running ./mvnw clean install
<img width="1430" alt="WX20210923-094622@2x" src="https://user-images.githubusercontent.com/3368758/134443590-b2ce99bf-acb0-4cda-8f13-43e18591b4f7.png">

java version：1.8.0_301

[2021-09-23 02:08] strongduanmu commented on #12636
Can you show full exception info?

[2021-09-23 02:15] wujiandong commented on #12636
attache file
[compile.txt](https://github.com/apache/shardingsphere/files/7214717/compile.txt)

branch: master

[2021-09-23 02:45] zjcnb commented on #12510
@jmbkeyes Hi,  ShardingSphere only deals with sql. So you need find method how it circumvents this problem from JPA

[2021-09-23 02:50] TeslaCN commented on #11453
Hi @JoinWDT
Sorry for the delay.
I wrote some code, but I could not reproduce this problem in master branch. The query worked.
[code]

![image](https://user-images.githubusercontent.com/20503072/134447367-63601536-82cf-42c4-824d-e50231db05e5.png)

![image](https://user-images.githubusercontent.com/20503072/134447383-84401457-863a-4691-9f72-2f70077ee9b0.png)

And I tried revert #10691 in master bra

[2021-09-23 02:50] jmbkeyes commented on #12510
Ok, thanks for your help.

[2021-09-23 02:50] #12510 closed

[2021-09-23 03:02] #11451 closed

[2021-09-23 03:06] JoinWDT commented on #11453
@TeslaCN Thank you very much for your reply.
In [PostgreSQLTypeUnspecifiedSQLParameter](https://github.com/apache/shardingsphere/blob/master/shardingsphere-db-protocol/shardingsphere-db-protocol-postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/binary/bind/PostgreSQLTypeUnspecifiedSQLParameter.java), the default is to treat it as a string. When insertin

[2021-09-23 03:20] TeslaCN commented on #11453
Hi @JoinWDT
Maybe your question is related to this issue https://github.com/apache/shardingsphere/issues/10646.

[2021-09-23 03:43] #12622 closed

[2021-09-23 03:47] marker-wu opened #12641 "Where to configure AutoTables' library sub-database strategy in version 5.0.0-beta？"
here is my config-sharding.yaml
![image](https://user-images.githubusercontent.com/45256940/134451647-034e5476-9bb9-44ea-85bb-817786133a13.png)
![image](https://user-images.githubusercontent.com/45256940/134451721-555e48e4-2e67-40ec-bbbe-1a6a9d5d7007.png)
I configured a default database strategy, but it is invalid for AutoTables
![image](https://user-images.githubusercontent.com/45256940/134451905

[2021-09-23 04:25] tristaZero commented on #6478
Hi @jingshanglu  and @Icesource
I saw your activities on this issue, and @ThanoshanMV still wan to be part of this one. Could you update which parts of this issue you are working on? So that we can take charge of the remaining ones.

[2021-09-23 04:54] RaigorJiang commented on #12641
Hi @marker-wu
If you want to control the sharding strategy yourself, you should use the `tables` configuration instead of `autoTables`.
Here is an [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-proxy-example/shardingsphere-proxy-memory-example/shardingsphere-proxy-memory-local-sharding-example/src/main/resources/conf/config-sharding.yaml) showing the differe

[2021-09-23 05:07] tristaZero commented on #12587
You are working in upgrading JDK 11, right？ Is it enough for the next step of the plan?

[2021-09-23 05:08] #12587 closed

[2021-09-23 05:08] tristaZero commented on #12542
Therefore let's fix them! @yx9o  @strongduanmu

[2021-09-23 05:09] #12620 closed

[2021-09-23 05:42] 448700174 commented on #12517
Any updates?

[2021-09-23 06:40] menghaoranss opened #12647 "When meta data changed, circuit break status is reset"
In class `ClusterContextManagerCoordinator`, when meta data just like data source, rules and schema changed, the `MetaDataContext` is rebuilt by `new MetaDataContexts`, and `StateContext` in `MetaDataContexts` is reset.

[code]

[2021-09-23 06:46] menghaoranss commented on #12647
IMO `StateContext` does not belong to metadata context, so I suggest moving `StateContext` into class `ContextManager`.

[2021-09-23 07:08] strongduanmu opened #12648 "Consider supporting case sensitivity of table and column names in ShardingSphere metadata"
## Feature Request

By default, ShardingSphere metadata is not case sensitive when processing table names and column names. This may cause some problems on case-sensitive databases.

[code]

Therefore, it is hoped that ShardingSphere can dynamically handle case sensitivity according to the database configuration.

### Is your feature request related to a problem?

No related problem.

### Describe

[2021-09-23 07:20] marker-wu opened #12649 "When the FLUSH PRIVILEGES command is executed, an error is reported"
When the FLUSH PRIVILEGES command is executed, an error is reported：
![image](https://user-images.githubusercontent.com/45256940/134468457-4109880e-a269-4d02-8319-a16078508077.png)

[2021-09-23 07:29] marker-wu opened #12650 "Can sharding-proxy support creating a user with an empty password?"
Can sharding-proxy support creating a user with an empty password?
![image](https://user-images.githubusercontent.com/45256940/134469452-1e171d79-8125-47e5-be68-bbb1a7772126.png)

[2021-09-23 07:32] strongduanmu commented on #12649
Hi @marker-wu, thank you for your feedback. @tuichenchuxin Can you check this problem.

[2021-09-23 07:41] #12488 closed

[2021-09-23 08:02] iCloudys commented on #11433
I have same problem

[2021-09-23 08:35] strongduanmu commented on #12650
@marker-wu In the current implementation, a password is required.

[2021-09-23 08:38] LeeGuoPing commented on #12470
@tuichenchuxin hi, Which purpose of this issue? I have seen SHOW CREATE TRIGGER in file
![image](https://user-images.githubusercontent.com/35389145/134477338-c65f84dc-7d0a-4d51-9ff9-b3f7383e77c2.png)

[2021-09-23 08:42] #12597 closed

[2021-09-23 09:02] RaigorJiang commented on #12641
@marker-wu
Has your problem been solved?

[2021-09-23 09:14] marker-wu opened #12652 "How to verify that sharding-proxy supports XA distributed transactions？"
How to verify that sharding-proxy supports XA distributed transactions？

[2021-09-23 09:23] marker-wu commented on #12641
I used the way of tables from the beginning, and it worked very well. But later I saw the Autotables method and tried to use it, and found this problem

[2021-09-23 09:27] strongduanmu commented on #12652
@marker-wu For more detailed transaction information, you can refer [official doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/usage/transaction/).

[2021-09-23 09:30] marker-wu commented on #12652
I read this article, he has no specific verification steps, I use the default transaction manager Atomikos, can you provide specific and feasible verification solutions？

[2021-09-23 09:30] RaigorJiang commented on #12641
This is not a problem, they are different configuration ways, and you can't mix them arbitrarily.

[2021-09-23 09:32] RaigorJiang commented on #12521
Hello @marker-wu , if this question has been resolved, can we close this issue?

[2021-09-23 09:33] marker-wu commented on #12641
In Autotables mode, the sub-database strategy cannot be specified. Isn't this a problem?

[2021-09-23 09:35] RaigorJiang commented on #12326
I found that this issue has been discussed in #12593, can this issue be closed?

[2021-09-23 09:39] RaigorJiang commented on #12641
Yes, because autoTable does not need to configure databaseStrategy.
I suggest you read the article I provided. Thank you.

[2021-09-23 09:40] marker-wu commented on #12521
sure

[2021-09-23 09:42] RaigorJiang commented on #12521
Thanks, please enjoy the community.

[2021-09-23 09:42] #12521 closed

[2021-09-23 09:44] RaigorJiang commented on #12472
Resolved.

[2021-09-23 09:44] #12472 closed

[2021-09-23 09:44] #12031 closed

[2021-09-23 09:49] marker-wu commented on #12641
Since it is an automatic sharding, why do you need to specify a table sharding strategy? Do not specify a database sharding strategy?
Is this semi-automatic？

[2021-09-23 09:54] #12482 closed

[2021-09-23 10:10] RaigorJiang commented on #12641
@marker-wu
Sorry, you made a mistake. AutoTable does not need to configure `databaseStrategy`, nor does it have `tableStrategy`, it uses `shardingStrategy`.
Please refer to the documentation.
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/yaml/sharding/

[2021-09-23 10:59] xue2lang opened #12656 "the dependency of guava ，which is the Minimum Version Support？？？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-09-23 11:11] yx9o commented on #12542
@strongduanmu @tristaZero How to maintain the official Docker image.
![image](https://user-images.githubusercontent.com/12792261/134497230-f1c9c6f1-e34b-4502-a76b-bbc4d3b875a8.png)

[2021-09-23 11:30] #12647 closed

[2021-09-23 11:35] #11834 closed

[2021-09-23 12:04] #12615 closed

[2021-09-23 12:15] #12344 closed

[2021-09-23 12:18] #10963 closed

[2021-09-23 12:25] soulasuna commented on #10959
Unit test was added.

[2021-09-23 12:25] #10959 closed

[2021-09-23 12:30] soulasuna commented on #10961
Unit test  was added

[2021-09-23 12:30] #10961 closed

[2021-09-23 13:37] RaigorJiang commented on #12641
Hi @marker-wu
If your question is solved, we will close this issue.

[2021-09-23 13:41] RaigorJiang commented on #12656
Hi @xue2lang
Why not tell us the version you are using first, and see if any one in the community have similar situations and can answer your questions?

[2021-09-23 13:45] RaigorJiang commented on #12636
Hi @wujiandong
What is the compilation command you use?

[2021-09-23 13:46] RaigorJiang commented on #12631
Hi @jingminy
If your problem is solved, can you close this issue?

[2021-09-23 14:00] cocodroid commented on #12636
Maybe download failed in your local

[2021-09-23 14:18] RaigorJiang commented on #11108
Due to the adjustment of the examples structure (#12557), example for autoTable should not be added to the other-example module.
The new location should be under `shardingsphere-jdbc-example/single-feature-example/sharding-example`, just add a new autoTable configuration example for each sub module.

[2021-09-23 15:40] Icesource commented on #6478
@tristaZero  I'm working on DDL statements. Maybe you can start with other SQL statements.

[2021-09-23 16:41] #11102 closed

[2021-09-23 16:52] JooKS-me commented on #11102
This is a wonderful event and community, thank you for bringing me into the door of open source.

[2021-09-24 01:27] totalo opened #12665 "Travis ci automatic cancellation causes a lot of x."
Hi community：

In the current travis-ci, when the last build has not been completed, and a new pr is merged into the master, the last build will be automatically cancelled. How about the way to convert the current travis-ci to github actions?

The following is an example of the reason for cancellation of CI:
[code]

[2021-09-24 01:45] strongduanmu commented on #12665
@totalo Thank you for your feedback, @TeslaCN will track this issue.

[2021-09-24 02:18] tuichenchuxin commented on #12649
@strongduanmu @marker-wu ok, I'll investigate this issue.

[2021-09-24 02:23] tuichenchuxin opened #12666 "Zookeeper persist meta data column dataType is missing."
In `SchemaYamlSwapper` method `swapYamlColumn`
[code]
dataType should be got from column. And dataTypeName seems useLess, because `columnMetaData` don't have this field.

[2021-09-24 02:36] TeslaCN commented on #12665
I've disabled `Auto cancel branch builds` in travis-ci.
![image](https://user-images.githubusercontent.com/20503072/134609730-e5863baa-c4d9-44a4-9edb-c978043f798c.png)

[2021-09-24 02:44] xue2lang commented on #12656
@RaigorJiang The intercept version we are currently configuring is no less than 18.0 in the publishing system，This rule applies to all applications，but sharding client use the version of 29 ，Business applications may use lower versions in their project，So i ask is there a minimum version limit

[2021-09-24 02:49] RaigorJiang commented on #12656
@xue2lang
May not be able to answer you clearly. Because ShardingSphere uses a variety of third-party components, they also have their own dependencies.
The more reliable methods are:
1. Check the update log of guava to confirm the change of 18.0-29.0;
2. Perform strict tests after integrating ShardingSphere to ensure that the features used meet expectations;
At the same time, like you, I look for

[2021-09-24 02:53] #12666 closed

[2021-09-24 03:03] sandynz commented on #11161
The same as #11162, closed.

[2021-09-24 03:03] #11161 closed

[2021-09-24 03:07] #12665 closed

[2021-09-24 03:10] xue2lang commented on #12656
@RaigorJiang 3Q ，i will ry each version to see if any errors are reported

[2021-09-24 03:10] #12656 closed

[2021-09-24 03:14] RaigorJiang commented on #12656
@xue2lang  You are welcome!

[2021-09-24 03:30] tuichenchuxin commented on #12470
@LeeGuoPing I checked it again, sorry, there is a problem with the information I described. This statement can be parsed, but it will fail when visiting, it should be because the visit method is not implemented. Are you willing to do it?

[2021-09-24 03:41] LeeGuoPing commented on #12470
@tuichenchuxin of course.

[2021-09-24 03:51] #12641 closed

[2021-09-24 03:52] tuichenchuxin commented on #12470
@LeeGuoPing Thanks, hope your pr.

[2021-09-24 03:53] RaigorJiang commented on #12391
@marker-wu
Welcome to ues DistSQL:
https://shardingsphere.apache.org/document/current/cn/features/dist-sql/

[2021-09-24 03:54] RaigorJiang commented on #12391
sharding-ui is no longer maintained, so close this issue.

[2021-09-24 03:54] #12391 closed

[2021-09-24 03:54] #12326 closed

[2021-09-24 04:01] justbk2015 opened #12672 "Proxy might get wrong schema which configuration is not complete to decide frontend database protocol type"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-24 04:34] sandynz commented on #12672
It works on OSX which scaling.

It seems proxy get a schema (e.g. logic_db) which configuration is not complete (`dataSources` and `rules` are empty) on Windows platform, so it cause issue.

I'll reproduce it and comment here later.

[2021-09-24 04:46] #12553 closed

[2021-09-24 04:49] strongduanmu commented on #12553
Hi @sccc803 @CrackerSuperior, can you help test whether the current subquery results correct?

[2021-09-24 06:21] ThanoshanMV commented on #6478
Thank you @Icesource. First, I'll start with TCL and DAL.

[2021-09-24 06:28] lanchengx opened #12674 "`show resources` does not show custom connection pool parameters"
When I execute
[code]
to add resource.

I set a custom connection pool parameter, but the result of executing `show resources` will not show the parameter I set

[2021-09-24 06:34] tuichenchuxin commented on #11433
This problem has been soloved in this [pr ](https://github.com/apache/shardingsphere/pull/11414)
on master branch.

[2021-09-24 06:46] marker-wu commented on #12652
When my transaction type is XA, I use the demo program to connect to the proxy to insert data into the database, and an error is reported:
![image](https://user-images.githubusercontent.com/45256940/134630140-1341b4fe-bb65-4c30-af9a-54746d8d83a3.png)
![image](https://user-images.githubusercontent.com/45256940/134630248-a6b56855-cf43-403d-b730-e84c2238925e.png)

When the transaction type is LOCAL,

[2021-09-24 06:58] marker-wu opened #12677 "Question about the transaction of sharding-proxy in 5.0.0-beta"
When I use the demo program to connect to the sharding-proxy, my transaction type is LOCAL. My demo program inserted two pieces of data into the database and was routed to a different database. Finally, I rolled back the transaction and found that the data in the two databases were both Rolled back, why can the local transaction roll back the data of the two databases?
Isn't this in the category o

[2021-09-24 07:12] marker-wu opened #12680 "Does it support distributed transactions across multiple sharding-proxy?"
Does it support distributed transactions across multiple sharding-proxy?

[2021-09-24 07:15] LeeGuoPing commented on #12470
@tuichenchuxin  commited

[2021-09-24 07:16] strongduanmu commented on #12652
@marker-wu Can you provide your demo application and shardingsphere-proxy config? I need this information to reproduce exception.

[2021-09-24 07:18] strongduanmu commented on #12680
@marker-wu Why do you need transaction that across multiple proxy? Proxy can manage multiple real databases based on the logical databases.

[2021-09-24 07:20] marker-wu commented on #12652
my demo config:
![image](https://user-images.githubusercontent.com/45256940/134634228-71c6538c-a56c-4916-bd32-8d1479394da6.png)

my proxy config:
server.yaml:
![image](https://user-images.githubusercontent.com/45256940/134634375-fa753b47-c1b7-40f9-9291-099cbdf4a1f2.png)

[2021-09-24 07:27] TeslaCN commented on #12677
The LOCAL transaction will commit or rollback all connections used in a transaction.

[2021-09-24 07:29] LeeGuoPing commented on #12570
May I have a try?

[2021-09-24 07:30] marker-wu commented on #12680
Our architecture is micro-service-oriented, each micro-service corresponds to a database, and then each database is divided into databases and tables. If all the information is allocated in a sharding-proxy, I am afraid that there will be a single point of failure.

[2021-09-24 07:35] #12674 closed

[2021-09-24 07:38] tristaZero commented on #11102
Hi @JooKS-me  @yu199195 Thanks for your effort here, and please enjoy it!

[2021-09-24 07:43] RaigorJiang commented on #12570
@LeeGuoPing
Sure, welcome.

[2021-09-24 07:45] RaigorJiang commented on #12569
Hi @PuneetDabral
Any progress? Or is there any difficulty?

[2021-09-24 07:46] TeslaCN commented on #12636
According to the log, is there any possible that you changed the file accidently?
[code]

[2021-09-24 07:49] marker-wu commented on #12677
Do you mean that LOCAL transactions are also one of the supported distributed transactions?

[2021-09-24 07:51] wujiandong commented on #12636
I ignored it，I will close this issue

[2021-09-24 07:51] #12636 closed

[2021-09-24 07:56] TeslaCN commented on #12677
The LOCAL will try committing or rolling back all connections, it just acts on multiple data sources, I don't think it is distributed.

[2021-09-24 08:12] marker-wu commented on #12677
The sub-database sub-table I understand is also a scenario in distributed transactions. LOCAL controls the commit or rollback of all connections in the entire transaction, but it cannot guarantee final consistency

According to what you mean, what is the application scenario of XA and BASE in sharding-proxy?

[2021-09-24 08:12] tristaZero commented on #12542
@taojintianxia Hi look at here.

[2021-09-24 08:14] PuneetDabral commented on #12569
sir i am totally puzzle about that thing...

[2021-09-24 08:17] strongduanmu commented on #12677
@marker-wu Whether to use Local transaction is determined by your scenario. If you only perform table sharding or you can ensure that the tables of related businesses are in the same database, then using Local transactions can work.

If these conditions cannot be guaranteed, then you need consider XA or BASE.

[2021-09-24 08:24] marker-wu commented on #12677
OK

[2021-09-24 08:41] strawberry-crisis commented on #12471
Hi there,
"SHOW CREATE USE" exists in "DALStatement.g4", I'm kinda confused about what should I do about this issue.

![image](https://user-images.githubusercontent.com/13709330/134645222-a1708526-2648-4dd4-a79b-c434a906b14a.png)

[2021-09-24 09:00] tuichenchuxin commented on #12471
@strawberry-crisis This sql can be parsed as a tree, but visit method is not implemented. So it's not completed in sql-parser.

[2021-09-24 09:05] strongduanmu commented on #12677
@marker-wu Can you close this issue?

[2021-09-24 09:21] sandynz commented on #12672
Verification:
[code]

`logic_db` has empty `dataSources` and `rules`.

Set breakpoint on `FrontDatabaseProtocolTypeFactory.getDatabaseType()`, start proxy, `ProxyContext.getInstance().getContextManager().getMetaDataContexts().getAllSchemaNames()` return `0 = "logic_db"
1 = "sharding_db"
2 = "shard1"`.

`.iterator().next()` will return `logic_db`. Since `dataSources` is empty, then default database

[2021-09-24 09:29] #12677 closed

[2021-09-24 09:33] RaigorJiang commented on #12569
It doesn't matter, you can take some time to learn. If it really can't be done, we can let someone else do it.
No matter what, thank you very much!

[2021-09-24 09:37] strawberry-crisis commented on #12471
Got it, I'll try my best

[2021-09-24 10:56] RaigorJiang commented on #3015
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 10:56] #3015 closed

[2021-09-24 10:59] RaigorJiang commented on #3732
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 10:59] #3732 closed

[2021-09-24 11:07] RaigorJiang commented on #3187
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 11:07] #3187 closed

[2021-09-24 11:09] RaigorJiang commented on #3349
Since this issue has been inactive for more 1 year, we will close it.
The most recent refactoring of SCTL: https://github.com/apache/shardingsphere/issues/11677

[2021-09-24 11:09] #3349 closed

[2021-09-24 11:10] RaigorJiang commented on #3435
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 11:10] #3435 closed

[2021-09-24 11:12] RaigorJiang commented on #3571
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 11:12] #3571 closed

[2021-09-24 11:13] RaigorJiang commented on #3841
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 11:13] #3841 closed

[2021-09-24 11:13] RaigorJiang commented on #4379
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 11:13] #4379 closed

[2021-09-24 11:24] gzgzapp opened #12691 "oracle getIndexInfo is slow"
### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Start my app as soon as possible
### Actual behavior
Load meta data for schema logic_db finished, cost 127788 milliseconds.
### Reason analyze (If you can)
the method getIndexInfo() in jdbc has 5 param，the 5th param appro

[2021-09-24 11:34] strongduanmu commented on #12691
Hi @gzgzapp, I am very happy to see that you use `5.0.0-alpha`. We also found the problem of slow metadata loading and optimize it in the master branch. Welcome to use the master branch for testing.

[2021-09-24 12:11] cheese8 commented on #6165
#12504 #12462 It's will be fixed util this pr merged.

[2021-09-24 14:14] fwhdzh opened #12699 "Delete redundant ShardingGeneratedKeyInsertValueParameterRewriterTest"
I found ShardingGeneratedKeyInsertValueParameterRewriterTest exists both in "shardingsphere/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/java/org/apache/shardingsphere/sharding/rewrite/parameter" and "shardingsphere/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/java/org/apache/shardingsphere/sharding/rewrite".

This i

[2021-09-24 14:18] RaigorJiang commented on #4611
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 14:18] #4611 closed

[2021-09-24 15:07] wangwangwangBoy opened #12703 "[5.0.0-beta] No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm`"
##### As the title, the Spring boot project uses Java for sharding-jdbc configuration, and encountered this error when starting.

##### Springboot main class:

[code]

##### My main configuration is as follows:

[code]

##### The table fragmentation algorithm is configured as follows:

[code]

##### The database fragmentation algorithm is configured as follows:

[code]

[2021-09-24 15:08] wangwangwangBoy commented on #12703
I look forward to hearing from everyone

[2021-09-24 15:44] RaigorJiang commented on #6107
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 15:51] RaigorJiang commented on #4647
Hi @strongduanmu
Please see if this issue needs to be dealt with? Or postpone it?

[2021-09-24 15:56] RaigorJiang commented on #7467
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 15:56] #7467 closed

[2021-09-24 15:59] RaigorJiang commented on #7465
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 15:59] #7465 closed

[2021-09-24 16:01] strongduanmu commented on #4647
@RaigorJiang This issue looks similar to #11334, and i will do a test later to make sure the issue has been fixed.

[2021-09-24 16:01] RaigorJiang commented on #7357
Since this issue has been inactive for more than 6 months, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 16:01] #7357 closed

[2021-09-24 16:05] RaigorJiang commented on #7303
Since this issue has been inactive for more than 6 months, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 16:05] #7303 closed

[2021-09-24 16:07] RaigorJiang commented on #7281
Hi @terrymanu, does this plan need to be retained?

[2021-09-24 16:11] RaigorJiang commented on #5973
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 16:11] #5973 closed

[2021-09-24 16:15] RaigorJiang commented on #5925
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

Please refer to the document for the latest support status:
https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/

[2021-09-24 16:15] #5925 closed

[2021-09-24 16:16] RaigorJiang commented on #5919
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 16:16] #5919 closed

[2021-09-24 16:17] RaigorJiang commented on #5729
Since this issue has been inactive for more than 1 year, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-24 16:17] #5729 closed

[2021-09-24 16:24] RaigorJiang commented on #12703
Hi @wangwangwangBoy
Didn’t see your SPI configuration, the `META-INFO` needs to be configured, please refer to [example](
https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example/src/main/resources/META-INF/services/org.apache.shardingsphere.sharding.spi.ShardingAlgorithm).

[2021-09-25 05:59] wangwangwangBoy commented on #12703
@RaigorJiang Thank you, there is no configuration before, I will try

[2021-09-25 06:30] #12672 closed

[2021-09-25 06:32] #12589 closed

[2021-09-25 07:04] sandynz commented on #12458
Hi @WangShaolin-GitHub , since it's already fixed, I'll close it now. If it still doesn't work, you could feedback here again, thanks.

[2021-09-25 07:04] #12458 closed

[2021-09-25 07:19] sandynz commented on #12426
Hi @stephensuxun , does it work with @zjcnb 's configuration?

[2021-09-25 07:33] sandynz commented on #12424
Hi @zjbxxx , does it work now? Could we close it?

[2021-09-25 07:36] zjbxxx commented on #12424
Yes, I don't use this project anymore

[2021-09-25 07:51] wgy8283335 opened #12709 "Tasks in the federate optimizer."
## Tasks in the federate optimizer

- [x] Integration between Calcite optimization and ShardingSphere infra.
- [x] Add the filter push-down rule in the hep planner and related unit test.
- [x] Add sub-query in sqlNodeConvertEngine and unit tests for sub-query rules.
- [ ] Add metadata query for volcano planner and related unit test.
- [ ] Recheck the rule and test, make sure that the rule list and

[2021-09-25 08:03] sandynz commented on #12406
Hi @chengh1 , thanks for your feedback. Since it's resolved, I'll close it now.

[2021-09-25 08:03] #12406 closed

[2021-09-25 08:07] sandynz commented on #12402
Looks it's already fixed by #12403, close now.

[2021-09-25 08:07] #12402 closed

[2021-09-25 08:27] sandynz commented on #12292
Hi @marker-wu , thanks for your feedback. Since it's already resolved, could we close it?

[2021-09-25 08:40] sandynz commented on #12270
Hi @stephensuxun , seems `user_id` column is `varchar`, could you provide the `ainews_user` table definition SQL?

[2021-09-25 08:51] sandynz commented on #12208
Hi @xueshiji , welcome to follow WeChat Official Account (公众号) `Sharding-Sphere` to get ShardingSphere Chinese news.

[2021-09-25 08:51] #12208 closed

[2021-09-25 09:02] sandynz commented on #12128
Hi @15935561673 , does it resolved?

Looks your ShardingSphere version is `4.1.1`, have you tried version `5.0`?

[2021-09-25 09:07] sandynz commented on #12122
Hi @15935561673 , are you still testing with Oracle? Could you get the execution failed SQL?

[2021-09-25 09:09] jinkun2014 commented on #11771
Caused by: org.apache.shardingsphere.infra.exception.ShardingSphereException: `global_variables` single table does not exist.
	at org.apache.shardingsphere.sharding.route.engine.type.single.SingleTablesRoutingEngine.fillRouteContext(SingleTablesRoutingEngine.java:80)
	at org.apache.shardingsphere.sharding.route.engine.type.single.SingleTablesRoutingEngine.route(SingleTablesRoutingEngine.java:59)

[2021-09-25 09:18] sandynz commented on #11992
Since #11994 is in progress, I'll close it now.

[2021-09-25 09:18] #11992 closed

[2021-09-25 09:23] marker-wu opened #12710 "Can sharding-proxy support sharding and read-write separation in the same schema?"
Can sharding-proxy support sharding and read-write separation at the same time in the same schema?

[2021-09-25 09:44] #11862 closed

[2021-09-25 09:48] sandynz commented on #11792
Hi @wgy8283335 , are you working on this issue?

[2021-09-25 10:02] sandynz commented on #11782
Hi @qq97251695 , could you try master branch, looks `MySQLTableMetaDataLoader.loadColumnMetaData` has been updated recently.

[2021-09-25 11:34] wgy8283335 commented on #11792
Yes

[2021-09-25 11:41] strongduanmu commented on #11782
Hi @qq97251695, is there a json field in your table? This issue may be the same with #11047.

[2021-09-25 11:42] strongduanmu commented on #12710
@marker-wu Of course. You can refer the official doc——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/java-api/mix/.

[2021-09-25 11:45] strongduanmu commented on #11771
@jinkun2014 Can you try the master branch? We support `performance_schema` query when using Proxy in the master branch.

[2021-09-25 11:47] strongduanmu commented on #12709
@wgy8283335 It looks great, and I want to participate together.

[2021-09-25 11:56] strongduanmu commented on #12699
Fixed by #12700.

[2021-09-25 11:56] #12699 closed

[2021-09-25 12:43] strongduanmu commented on #4647
I have tested this issue and it has been fixed by PR #11334.

[2021-09-25 12:43] #4647 closed

[2021-09-25 12:59] sandynz commented on #11744
Hi @xuzhouzhangtongtong , just use real table name might be better.

[2021-09-25 13:31] sandynz commented on #11568
It's #8736

[2021-09-25 13:33] sandynz commented on #11568
Hi @yuefolk , thanks for your feedback. Seems you've figured out the cause, would you like to push a PR to improve it?

[2021-09-25 15:04] fwhdzh commented on #10968
Hello. For the last three class. I find that ShardingTableMetaDataBuilder has haved its unit test.  And I think ShardingSQLRewriteContextDecorator and ShardingParameterRewriterBuilder may have some problem since it looks like ShardingParameterRewriterBuilder.setUpParameterRewriters() has some "if" statement that will never be executed and ShardingSQLRewriteContextDecorator use ShardingParameterRew

[2021-09-26 00:29] wgy8283335 commented on #12709
@strongduanmu  Greate!
SqlNodeConvertEngine.convert() parse SQL with subquery correctly. # 12581
This issue could be related to `Add sub-query in sqlNodeConvertEngine and unit tests for sub-query rules.`

[2021-09-26 00:34] strongduanmu commented on #12709
@wgy8283335 I will support subquery convert today.

[2021-09-26 01:45] wangwangwangBoy commented on #12703
@RaigorJiang @strongduanmu The springboot program can run normally, but there is another problem. When inserting into the sub-table, the sub-table operation is not performed, and the doSharding method is not entered.

[2021-09-26 01:52] marker-wu opened #12714 "How does sharding-proxy use Hint sharding in yaml？"
How does sharding-proxy use Hint sharding in yaml？

[2021-09-26 02:06] taojintianxia commented on #11167
ok, I will try to collect that .

[2021-09-26 02:09] RaigorJiang commented on #12703
@wangwangwangBoy
Is there any error log?

[2021-09-26 02:11] RaigorJiang commented on #12703
Why do you need to import exampleExecuteTemplate?
It is recommended that you understand the example project first, and then develop your own business.
https://github.com/apache/shardingsphere/tree/master/examples

[2021-09-26 02:14] RaigorJiang commented on #11662
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 02:14] #11662 closed

[2021-09-26 02:23] RaigorJiang commented on #12714
@marker-wu
Nice to see you again. 👍

In the proxy, the rule configuration of hint is consistent with JDBC
Just an extra switch in server.yaml needs to be enabled:
`props.proxy-hint-enabled`.

Also, please read this document: https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/configuration/props/

[2021-09-26 02:26] wangwangwangBoy commented on #12703
@RaigorJiang There is no other error message, the startup is normal, and the getType method in the sharding strategy is also accessed, but it looks like the data source of druid is used, and sharding is not used.
![image](https://user-images.githubusercontent.com/46279672/134791118-27716c2f-1854-4810-813f-8af7928fd027.png)

[2021-09-26 02:36] RaigorJiang commented on #12703
@wangwangwangBoy
FAQ:
https://shardingsphere.apache.org/document/current/en/others/faq/#1-jdbc-why-there-may-be-an-error-when-configure-both-shardingsphere-jdbc-spring-boot-starter-and-a-spring-boot-starter-of-certain-datasource-poolsuch-as-druid

[2021-09-26 02:38] marker-wu commented on #12714
haha,nice to meet you too!
Is there a demo on how to use Hint to slice? My scene here is used in sharding-proxy, provided to PHP colleagues, how do they specify the value of HintManager?

[2021-09-26 02:44] wangwangwangBoy commented on #12703
@RaigorJiang
It still doesn't work
![image](https://user-images.githubusercontent.com/46279672/134791481-14738824-29db-4b69-bb17-3dfe069f5892.png)

[2021-09-26 02:45] RaigorJiang commented on #12714
Using `Proxy` + `DistSQL` can meet the access scenarios of any language.
Please refer to `DistSQL-RAL`:
https://shardingsphere.apache.org/document/current/cn/features/dist-sql/syntax/ral/ral/

[2021-09-26 02:47] RaigorJiang commented on #12714
@marker-wu
You asked a lot of valuable questions recently, thank you!

[2021-09-26 02:52] RaigorJiang commented on #12703
There are examples of springboot access:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/sharding-example
please check to see if your configuration is incorrect.
If you still cannot solve it, please upload a demo project to github so that we can help you analyze the problem.

[2021-09-26 02:55] wangwangwangBoy commented on #12703
@RaigorJiang Thank you, I will try it.

[2021-09-26 03:07] marker-wu commented on #12714
I tried to execute these RALs and got an error：
![image](https://user-images.githubusercontent.com/45256940/134791946-78510908-0d92-4a39-832a-c0a33a243693.png)

[2021-09-26 03:09] RaigorJiang commented on #12714
@marker-wu
What is your version of ShardingSphere?  If 5.0.0-beta, it will not work.  please build from master branch.

[2021-09-26 03:11] marker-wu commented on #12714
my version is 5.0.0beta

[2021-09-26 03:13] roodkcab opened #12717 "master branch native table privilege check exception"
## Bug Report

### Which version of ShardingSphere did you use?
master/5.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
native table privilege check should work without any exception

### Actual behavior
got exception java.sql.SQLException: Column 'user' not found.

### Reason analyze (If you can)
TABLE_PRIVILEGE_SQL

[2021-09-26 03:14] marker-wu commented on #12714
By the way, when will the 5.X Release version of shardingproxy be released?

[2021-09-26 03:18] RaigorJiang commented on #12714
Next release is 5.0.0-RC1, it is on the way.

[2021-09-26 03:22] marker-wu commented on #12714
Ok, looking forward to it！👍

[2021-09-26 03:23] wangwangwangBoy commented on #12703
[sharding-jdbc.zip](https://github.com/apache/shardingsphere/files/7230658/sharding-jdbc.zip)
I compared it with template. Still no problem is found, the attachment is my project, can you help me see it? thanks

[2021-09-26 03:32] RaigorJiang commented on #12703
I will check it later.

[2021-09-26 03:40] wsm12138 commented on #11167
| mysqld_exporter收集项                            | DB执行sql语句                                                |      |      |
| ------------------------------------------------ | ------------------------------------------------------------ | ---- | ---- |
| binlog                                           | logbinQuery = `SELECT @@log_bin`  binlogQuery = `SHOW BINARY LOGS` |      |      |
| collector

[2021-09-26 03:42] RaigorJiang commented on #12717
Hi @roodkcab
Could you show some exception log?

[2021-09-26 03:44] TeslaCN opened #12720 "PostgreSQL Proxy supports CancelRequest"
## Feature Request

### Describe the feature you would like.
1. Proxy returns `BackendKeyData` to client in startup phase.
2. Proxy can correctly reply `CancelRequest`.

[2021-09-26 03:48] wangwangwangBoy commented on #12703
thank you ,here is my  table building statement ：
CREATE TABLE `environment_supervise_device_data` (
	`id` BIGINT(20) UNSIGNED NOT NULL AUTO_INCREMENT,
	`value` VARCHAR(255) NULL DEFAULT NULL COMMENT '可以是值也可以是json串' COLLATE 'utf8_general_ci',
	`unit` VARCHAR(255) NULL DEFAULT NULL COMMENT '单位' COLLATE 'utf8_general_ci',
	`env_attribute_type` VARCHAR(255) NULL DEFAULT NULL COMMENT '环境监测类型' COLLATE

[2021-09-26 06:01] ddsr-ops commented on #11769
I plan to use proxy 4.1 instead of 5.x

[2021-09-26 06:01] #11769 closed

[2021-09-26 06:05] RaigorJiang commented on #12703
@wangwangwangBoy
I found your datasource configuration is incorrect.
`spring.shardingsphere.datasource` is needed.
Please refer to [document](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/) and [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring

[2021-09-26 06:06] #12424 closed

[2021-09-26 06:15] Asteven-zn commented on #11737
Not resolved，failed to build ，Can you build the latest version of the bin file?

[2021-09-26 06:18] RaigorJiang commented on #11167
@wsm12138
Thank you for your information.
To support these SQL is very complicated, and involves some distributed statistical data, we are currently unable to obtain.

[2021-09-26 06:21] RaigorJiang commented on #11737
Yes, I can build successfully.

[2021-09-26 06:34] lanchengx opened #12725 "The default authority type in the configuration file and the code is inconsistent"
In `DefaultAuthorityRuleConfigurationBuilder`, `ALL_PRIVILEGES_PERMITTED` has been used as the default type, but the configuration file and document are still `NATIVE`

![image](https://user-images.githubusercontent.com/52209337/134796365-70d03de0-dddc-473f-ad8d-7617f759f730.png)
![image](https://user-images.githubusercontent.com/52209337/134796378-22b0ac1f-a250-4b6e-9fdd-89572cb2e1ab.png)
![image

[2021-09-26 06:35] RaigorJiang commented on #8470
Since this issue has been inactive for more than 6 months, we will close it.
If you still have related questions, please submit a new issue, thank you.

In addition, the support of DateTime in 5.0 has been greatly improved, welcome to try the new version.

[2021-09-26 06:35] #8470 closed

[2021-09-26 06:37] RaigorJiang commented on #8517
Since this issue has been inactive for more than 6 months, we will close it.
If you still have related questions, please submit a new issue, thank you.

In addition, the new version has been optimized a lot, welcome to experience.

[2021-09-26 06:37] #8517 closed

[2021-09-26 06:49] terrymanu opened #12727 "The CI always fails on ubuntu-latest for JDK 11 with FederationStatementTest"
Please check.

[code]

[2021-09-26 06:49] 5661954 opened #12728 "parse sql error"
## Bug Report

the  version of ShardingSphere 4.1.1
ShardingSphere-JDBC
parse sql error,  run sql in mysql console is right ,but use mybatis, there throw exception like next:
'''
### Error querying database.  Cause: java.lang.ClassCastException: class
org.apache.shardingsphere.sql.parser.sql.segment.dml.item.ExpressionProjectionSegment cannot be cast to class org.apache.shardingsphere.sql.parser.s

[2021-09-26 06:51] terrymanu opened #12729 "The CI always fails on ubuntu-latest for JDK 8 with TransactionBackendHandlerFactoryTest"
[code]

[2021-09-26 06:55] RaigorJiang commented on #12725
Hi @tristaZero
Please have a look, I also think that the default type should be consistent with the type of `DefaultAuthorityRuleConfigurationBuilder`, using `ALL_PRIVILEGES_PERMITTED`, can we change it like this?

[2021-09-26 06:57] strongduanmu commented on #12727
@terrymanu Thank you for your feedback, I will check this exception.

[2021-09-26 06:58] terrymanu commented on #12728
The version is pretty old, cloud you test `master` branch again?

[2021-09-26 06:59] #2434 closed

[2021-09-26 07:01] Swastyy commented on #12569
Hi @RaigorJiang Can I create a PR to fix this?

[2021-09-26 07:01] #5434 closed

[2021-09-26 07:03] #5659 closed

[2021-09-26 07:08] terrymanu commented on #5586
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:08] #5586 closed

[2021-09-26 07:08] terrymanu commented on #3382
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:08] #3382 closed

[2021-09-26 07:10] terrymanu commented on #3500
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:10] #3500 closed

[2021-09-26 07:10] CrackerSuperior opened #12735 "Can Dist SQL completely replace configuration files?"

[2021-09-26 07:11] terrymanu commented on #4619
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:11] #4619 closed

[2021-09-26 07:12] Swastyy commented on #12563
Hi @RaigorJiang Please assign this to me.

[2021-09-26 07:12] terrymanu commented on #4722
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:12] #4722 closed

[2021-09-26 07:13] Swastyy commented on #12566
@RaigorJiang Please assign this to me.

[2021-09-26 07:13] CrackerSuperior commented on #12553
Ok, I'll test it sometime.

[2021-09-26 07:13] strongduanmu commented on #12728
@tuichenchuxin Can you help check this sql parse on master branch?

[2021-09-26 07:13] terrymanu commented on #4810
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:13] #4810 closed

[2021-09-26 07:14] tuichenchuxin commented on #12728
@strongduanmu  ok, I'll check later.

[2021-09-26 07:15] RaigorJiang commented on #12566
Hi @Swastyy  ,
Nice to see you again, welcome!

[2021-09-26 07:16] RaigorJiang commented on #12569
@Swastyy  Thank you for reaching out!

[2021-09-26 07:19] strongduanmu commented on #12735
@CrackerSuperior Yes, you can use distsql to manage your configuration without any other files.

[2021-09-26 07:20] terrymanu commented on #5892
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:20] #5892 closed

[2021-09-26 07:20] terrymanu commented on #12425
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:20] #12425 closed

[2021-09-26 07:21] terrymanu commented on #9024
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:21] #9024 closed

[2021-09-26 07:21] terrymanu commented on #9219
The `5.0.0-beta` version supports federation engine which can process subquery, please try it, thank you.

[2021-09-26 07:21] #9219 closed

[2021-09-26 07:24] CrackerSuperior commented on #12735
For example: If I wanted to make default sharding rules for all tables in my library, what would I do?

[2021-09-26 07:25] terrymanu commented on #8416
No response anymore, I just close the issue

[2021-09-26 07:25] #8416 closed

[2021-09-26 07:26] tuichenchuxin commented on #5850
@strongduanmu I'll check it on master

[2021-09-26 07:28] #8185 closed

[2021-09-26 07:31] strongduanmu commented on #12735
Currently, distsql is used to configure sharding and only `autoTables` is supported. More configuration methods will be supported later.

[2021-09-26 07:32] #8431 closed

[2021-09-26 07:32] RaigorJiang commented on #12717
@roodkcab
Thank you for your feedback. I ran some tests and the results are as follows:
[code]

There are indeed problems that need to be improved.

[2021-09-26 07:32] strongduanmu commented on #12735
@CrackerSuperior You mean default sharding strategy? Currently distsql only supports autoTable sharding.

[2021-09-26 07:33] Asteven-zn commented on #11737
ok，close

[2021-09-26 07:35] #11737 closed

[2021-09-26 07:35] CrackerSuperior commented on #12735
Yes, to replace defaultTableStrategy and defaultDatabaseStrategy in the configuration file.

[2021-09-26 07:36] wangwangwangBoy commented on #12703
My data source configuration does not come from yml. It is in my com.mine.shardingjdbc.myconfig.MyShardingConfig, can you check it again? According to the template, there is no need to configure the data source, the data source created directly in Java
![image](https://user-images.githubusercontent.com/46279672/134798346-75b4861c-e0e1-4b4a-8f91-c2a11f82797e.png)
If you use the debug mode, you will

[2021-09-26 07:38] #8981 closed

[2021-09-26 07:38] #8943 closed

[2021-09-26 07:39] #8964 closed

[2021-09-26 07:39] #9066 closed

[2021-09-26 07:40] tuichenchuxin commented on #12728
@5661954 I checked this sql in master, it is supported now.

[2021-09-26 07:40] #9175 closed

[2021-09-26 07:41] terrymanu commented on #9224
No response anymore

[2021-09-26 07:41] #9224 closed

[2021-09-26 07:42] #9336 closed

[2021-09-26 07:44] terrymanu commented on #9349
It has been supported in version `5.0.0-beta`

[2021-09-26 07:44] #9349 closed

[2021-09-26 07:44] terrymanu commented on #9334
It has been supported in version `5.0.0-beta`

[2021-09-26 07:44] #9334 closed

[2021-09-26 07:45] terrymanu commented on #9399
No response anymore

[2021-09-26 07:45] #9399 closed

[2021-09-26 07:45] RaigorJiang commented on #12703
But the project you provided to me is not like that.
![image](https://user-images.githubusercontent.com/5668787/134798668-ae8df182-4c6b-45e0-b997-211fde0e90e4.png)

[2021-09-26 07:45] terrymanu commented on #9464
No response anymore

[2021-09-26 07:45] #9464 closed

[2021-09-26 07:48] terrymanu commented on #9269
We are re-designing the example in #12366, I just close this issue

[2021-09-26 07:48] #9269 closed

[2021-09-26 07:48] terrymanu commented on #9526
Is there any one want to try it?

[2021-09-26 07:50] strongduanmu commented on #12728
This sql has been supported in master branch, you can try the latest version `5.0.0-beta`.

[2021-09-26 07:50] #12728 closed

[2021-09-26 07:50] terrymanu commented on #9683
No response anymore, I just close the issue.

[2021-09-26 07:50] #9683 closed

[2021-09-26 07:50] wangwangwangBoy commented on #12703
application-sharing.yml is not used, application.yml is only configured with some spring properties and data source information. The real data source is in MyShardingConfig, you can debug it and find datasource was created by Sharding.

[2021-09-26 07:51] terrymanu commented on #9682
ShardingSphere-Proxy is a production which like a database, it has own config center.

[2021-09-26 07:51] #9682 closed

[2021-09-26 07:51] terrymanu commented on #9712
**For English only**, other languages will not accept.

[2021-09-26 07:51] #9712 closed

[2021-09-26 07:52] terrymanu commented on #9675
expired

[2021-09-26 07:52] #9675 closed

[2021-09-26 07:53] terrymanu commented on #9883
No response anymore, I just close the issue.

[2021-09-26 07:53] #9883 closed

[2021-09-26 07:54] terrymanu commented on #9880
No response anymore, I just close the issue.

[2021-09-26 07:54] #9880 closed

[2021-09-26 07:55] terrymanu commented on #9879
The problem has resolved on 5.x

[2021-09-26 07:55] #9879 closed

[2021-09-26 07:56] terrymanu commented on #9877
The CI is running for every commit, please check.

[2021-09-26 07:56] #9877 closed

[2021-09-26 07:58] terrymanu commented on #9842
Is the `@Globaltransaction` seata concept, please ask the seata community, thank you.

[2021-09-26 07:58] #9842 closed

[2021-09-26 08:04] terrymanu opened #12739 "Upgrade seata version"
The seata version used by ShardingSphere is 1.0.0, it is too old and I prefer to upgrade to the newest version (1.4.2 for now).

 Is there any one interest this task?

[2021-09-26 08:05] terrymanu commented on #9841
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:05] #9841 closed

[2021-09-26 08:05] terrymanu commented on #9526
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:05] #9526 closed

[2021-09-26 08:05] terrymanu commented on #9180
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:05] #9180 closed

[2021-09-26 08:06] terrymanu commented on #7649
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:06] #7649 closed

[2021-09-26 08:07] terrymanu commented on #7659
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:07] #7659 closed

[2021-09-26 08:07] terrymanu commented on #8978
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:07] #8978 closed

[2021-09-26 08:08] marker-wu commented on #12714
![image](https://user-images.githubusercontent.com/45256940/134799304-51929c5d-5ce2-4c48-9b53-079572ebe532.png)

What I defined is the Long type, why the return is String?

[2021-09-26 08:08] terrymanu commented on #9447
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:08] #9447 closed

[2021-09-26 08:08] tuichenchuxin commented on #12624
@daodefengshang I had checked it on master branch, it's already supported.

[2021-09-26 08:09] terrymanu commented on #9807
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:09] #9807 closed

[2021-09-26 08:09] terrymanu commented on #10143
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:09] #10143 closed

[2021-09-26 08:10] terrymanu commented on #10147
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:10] #10147 closed

[2021-09-26 08:10] terrymanu commented on #9812
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:10] #9812 closed

[2021-09-26 08:10] strongduanmu commented on #12624
This sql has been supported in the master branch, you can try it.

[2021-09-26 08:10] #12624 closed

[2021-09-26 08:16] RaigorJiang commented on #12714
The hint manager cannot predict your algorithm type, please use `Comparable` to convert.

[2021-09-26 08:18] terrymanu commented on #9812
@romantictravel01
It is better to participate in open source than ask for it.
If you think ShardingSphere need to be upgraded the new version of seata , just submit pull request.
It is better to re-recognize open source for you, welcome to get out of the mountains.

[2021-09-26 08:19] CrackerSuperior commented on #12735
If I use the configuration file method, do I need to configure a new configuration file every time I add a new logic library, and restart my sharding to let it load the new configuration file?

[2021-09-26 08:19] djoylove opened #12740 "Data masking Float、Double or Date"
hi，we got a situation that we have some columns typed float、double or date，we see the sharding sphere has interface Encryptor,

Object decrypt(final String ciphertext){

……
}

but we can not know the what type it is, it just has ciphertext string parameter, so how can I decrypt the float,double or some other type in mysql?

[2021-09-26 08:22] tuichenchuxin commented on #11418
@strongduanmu I had tried this sql on master branch , It's supported now.

[2021-09-26 08:25] strongduanmu commented on #11418
This sql has been supported in the master branch, you can try it.

[2021-09-26 08:25] strongduanmu commented on #11418
This sql has been supported in the master branch, you can try it.

[2021-09-26 08:25] #11418 closed

[2021-09-26 08:27] marker-wu commented on #12652
Is there any progress?

[2021-09-26 08:36] tuichenchuxin commented on #11348
@strongduanmu I have tried this sql on branch master, It is supported.

[2021-09-26 08:40] wangwangwangBoy commented on #12703
I have used the yml method to inject, but it does not support the underscore in the key.
![image](https://user-images.githubusercontent.com/46279672/134800406-09262a05-0d98-44a4-adbe-c03c5db29132.png)

[2021-09-26 08:44] tuichenchuxin commented on #11174
@strongduanmu I had test this sql on master branch , it is supported.

[2021-09-26 08:52] strongduanmu commented on #11348
This sql has been supported in the master branch, you can try it.

[2021-09-26 08:52] #11348 closed

[2021-09-26 08:54] strongduanmu commented on #11174
This sql has been supported in the master branch, you can try it.

[2021-09-26 08:54] #11174 closed

[2021-09-26 08:55] #9956 closed

[2021-09-26 08:56] terrymanu commented on #10192
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 08:56] #10192 closed

[2021-09-26 08:57] strongduanmu commented on #11007
Long time no response.

[2021-09-26 08:57] #11007 closed

[2021-09-26 09:01] terrymanu commented on #10450
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 09:01] #10450 closed

[2021-09-26 09:01] terrymanu commented on #10649
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 09:01] #10649 closed

[2021-09-26 09:03] terrymanu commented on #10841
Anyone interest to fix the issue?

[2021-09-26 09:04] terrymanu commented on #12512
The seata version of ShardingSphere is 1.0.0, it is better to upgrade the version, please see #12739.

[2021-09-26 09:04] #12512 closed

[2021-09-26 09:10] RaigorJiang commented on #12703
@wangwangwangBoy
Let me talk about raw java first, I verified the problem:
1. Your bean `DruidDataSource` is declared as @Primary, so Mybatis will not get the beans created by shardingsphere when using DataSource.
2. You can create SqlSessionFactoryBean by yourself and specify the bean constructed using shardingsphere, so that your goal can be achieved.

sample code :
[code]

[code]

My test log s

[2021-09-26 09:18] RaigorJiang commented on #12703
The underscore problem, due to the different rules of springboot `1.x` and `2.x`, you can try  `-` instead of `_`.

[2021-09-26 09:20] tuichenchuxin commented on #10827
@strongduanmu union/ union all had supported in readwrite-splitting on master branch now.

[2021-09-26 09:27] terrymanu commented on #8666
It has been resolved in version 5.0.0-beta

[2021-09-26 09:27] #8666 closed

[2021-09-26 09:28] terrymanu commented on #8684
No response anymore, I just close the issue

[2021-09-26 09:28] #8684 closed

[2021-09-26 09:29] RaigorJiang commented on #12735
It does need to be restarted, so ShardingSphere designed DistSQL to make the configuration take effect in real time.

[2021-09-26 09:30] terrymanu commented on #9778
No response anymore, I just close the issue

[2021-09-26 09:30] #9778 closed

[2021-09-26 09:32] Comven opened #12742 "Getting the table structure information when the shardingsphere starts causes the program to get stuck"
shardingsphere-jdbc-core-spring-boot-starter-5.0.0-beta

The historical database contains tens of thousands of tables，Because the order table is divided by day，When the program starts, the component of shardingsphere auto executes the following SQL like
[code]
and SQL
[code]
It takes a lot of time to execute these SQL to initialize the components of shardingsphere after the program starts. The gre

[2021-09-26 09:32] Mr-Zhe commented on #10844
So many bugs

[2021-09-26 09:33] RaigorJiang commented on #12735
This is a good demand and I believe it will be provided in the future. You can also improve it together.

[2021-09-26 09:36] tuichenchuxin commented on #10566
@dbzzzzz union/ union all had supported in master branch now, if the tables is not sharding_table or broadcast tables.

[2021-09-26 09:36] wangwangwangBoy commented on #12703
It is really the case. After I inject SQLSessionFactory into it, it can work. Your team is really too strong. Thank you very very much！

[2021-09-26 09:37] terrymanu commented on #9592
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 09:37] #9592 closed

[2021-09-26 09:38] wangwangwangBoy commented on #12703
Thank you ,Our database uses `_`, which is why I have to use java configuration.

[2021-09-26 09:41] RaigorJiang commented on #12703
OK, please enjoy it.

[2021-09-26 09:41] wangwangwangBoy commented on #12703
Earlier I used Sharding-JDBC 4.0, but it was not very friendly to sub-queries and often reported errors. I listened to my friends’ suggestions to upgrade to 5.x, but found its configuration is different from 4.x, and then out So many questions, thank you very, very much.

[2021-09-26 09:43] #10258 closed

[2021-09-26 09:44] terrymanu commented on #10278
Close because of no repsonse

[2021-09-26 09:44] #10278 closed

[2021-09-26 09:44] RaigorJiang commented on #12703
You are welcome. If the problem has been solved, please close this issue.

[2021-09-26 09:45] terrymanu commented on #10515
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 09:45] #10515 closed

[2021-09-26 09:46] terrymanu commented on #10944
Closed because of no response anymore

[2021-09-26 09:46] #10944 closed

[2021-09-26 09:47] terrymanu commented on #11023
Closed because of no response

[2021-09-26 09:47] #11023 closed

[2021-09-26 09:47] #12569 closed

[2021-09-26 09:48] terrymanu commented on #11299
Closed because of no response

[2021-09-26 09:48] #11299 closed

[2021-09-26 09:48] #12703 closed

[2021-09-26 09:54] terrymanu commented on #9235
It is better to use native SQL and transport shading operation.
The hint just in the opposite.
I prefer do not add this feature.

[2021-09-26 09:57] #11290 closed

[2021-09-26 09:58] terrymanu commented on #11211
Closed because of no response anymore.

[2021-09-26 09:58] #11211 closed

[2021-09-26 09:58] #11166 closed

[2021-09-26 09:59] terrymanu commented on #10975
Closed because of no response anymore.

[2021-09-26 09:59] #10975 closed

[2021-09-26 10:00] terrymanu commented on #10955
Closed because of no response anymore.

[2021-09-26 10:00] #10955 closed

[2021-09-26 10:00] terrymanu commented on #10943
Closed because of no response anymore.

[2021-09-26 10:00] #10943 closed

[2021-09-26 10:01] terrymanu commented on #10357
Closed because of no response anymore.

[2021-09-26 10:01] #10357 closed

[2021-09-26 10:01] wangwangwangBoy commented on #12703
Can i upload this demo to template?

[2021-09-26 10:01] terrymanu commented on #10300
Closed because of no response anymore.

[2021-09-26 10:01] #10300 closed

[2021-09-26 10:03] terrymanu commented on #11213
This is the basic feature, there are integrate tests running every commit.
So, it is better to check the configuration of your program.

[2021-09-26 10:03] #11213 closed

[2021-09-26 10:04] terrymanu commented on #10224
Closed because of no response anymore.

[2021-09-26 10:04] #10224 closed

[2021-09-26 10:05] terrymanu commented on #10216
The example is there, maybe you can check it first, thank you

[2021-09-26 10:05] #10216 closed

[2021-09-26 10:05] terrymanu commented on #11578
Closed because of no response anymore.

[2021-09-26 10:05] #11578 closed

[2021-09-26 10:06] terrymanu commented on #10134
Closed because of no response anymore.

[2021-09-26 10:06] #10134 closed

[2021-09-26 10:06] terrymanu commented on #11711
Closed because of no response anymore.

[2021-09-26 10:06] #11711 closed

[2021-09-26 10:07] terrymanu commented on #9922
Closed because of no response anymore.

[2021-09-26 10:07] #9922 closed

[2021-09-26 10:07] RaigorJiang commented on #9782
After verification, DDL has been supported, the following is the test record:
[code]

[2021-09-26 10:07] terrymanu commented on #10196
Closed because of no response anymore.

[2021-09-26 10:07] #10196 closed

[2021-09-26 10:08] RaigorJiang commented on #9782
The problem no longer exists, close this issue.

[2021-09-26 10:08] #9782 closed

[2021-09-26 10:08] terrymanu commented on #11771
Closed because of no response anymore.

[2021-09-26 10:09] terrymanu commented on #11255
Closed because of no response anymore.

[2021-09-26 10:09] #11255 closed

[2021-09-26 10:10] terrymanu commented on #11272
Hi, can you provide more details?

[2021-09-26 10:11] RaigorJiang commented on #9792
When the system is running, the single table created outside of SS will not be perceived.
This is not supported and does not conform to the design.

[2021-09-26 10:11] #9792 closed

[2021-09-26 10:13] soulasuna commented on #9896
@15898317421 Hi, According to the configuration file you provided, do you need to use the `shadow rule` in the case of only shard tables? If so, your configuration file is wrong.
Can you describe the scene you used? I look forward to your reply.
By the way, let's talk about the refactoring of shadow function in 5.0.0. You can follow #11661 .

[2021-09-26 10:15] Swastyy opened #12743 "Redesign the project structure in `readme` file inside `shardingsphere/examples` directory"
## Feature Request

According to PR(#12736 ) the module location of `shardingsphere-parser-example` has been changed.
Hence it should be updated in the project structure.
Link to readme file - https://github.com/apache/shardingsphere/blob/master/examples/README.md

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe t

[2021-09-26 10:17] RaigorJiang commented on #12703
The files uploaded to the apache repo need to have a license, I am afraid it is not suitable.
The community is preparing another forum and we invite you to upload a demo at that time, thank you.

[2021-09-26 10:18] terrymanu commented on #11162
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 10:18] #11162 closed

[2021-09-26 10:24] soulasuna commented on #10968
@fwhdzh Hi, thank you for your contribution. yes can you fix them.

[2021-09-26 10:25] tuichenchuxin commented on #10384
@strongduanmu I have tried this sql on master branch, it is supported now.

[2021-09-26 10:28] terrymanu commented on #9714
Please just like

[2021-09-26 10:28] #9714 closed

[2021-09-26 10:28] wangwangwangBoy commented on #12703
ok,thank you

[2021-09-26 10:30] terrymanu commented on #10190
Closed because of no response anymore.

[2021-09-26 10:30] #10190 closed

[2021-09-26 10:34] terrymanu commented on #9795
No enough information, I just close the issue.

[2021-09-26 10:34] #9795 closed

[2021-09-26 10:40] #9837 closed

[2021-09-26 10:41] #9832 closed

[2021-09-26 10:41] thombgithub opened #12745 "shardingsphere-proxy-5.0.0-beta 实现数据库迁移，只能使用默认的 ds_0, ds_1，而且密码还只能是123456？可以自己配置这些吗？我配置了没生效"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-09-26 10:42] tuichenchuxin commented on #9793
@larrychen8276 union all/union had supported on master branch without sharding tables or broadcast tables.

[2021-09-26 10:43] strongduanmu commented on #10827
This sql has been supported in the master branch, you can try it.

[2021-09-26 10:43] #10827 closed

[2021-09-26 10:44] strongduanmu commented on #10566
This sql has been supported in the master branch, you can try it.

[2021-09-26 10:44] #10566 closed

[2021-09-26 10:45] strongduanmu commented on #10384
This sql has been supported in the master branch, you can try it.

[2021-09-26 10:45] #10384 closed

[2021-09-26 10:46] strongduanmu commented on #9793
This sql has been supported in the master branch, you can try it.

[2021-09-26 10:46] #9793 closed

[2021-09-26 10:47] strongduanmu commented on #12745
For english only, other language will not accept.

[2021-09-26 10:47] #12745 closed

[2021-09-26 10:50] tuichenchuxin commented on #9030
I found explain had supported on master branch.

[2021-09-26 10:53] tuichenchuxin commented on #9027
This problem had been fixed on branch master with this [pr](https://github.com/apache/shardingsphere/pull/11414).

[2021-09-26 10:55] strongduanmu commented on #9027
Fixed by #11414.

[2021-09-26 10:55] #9027 closed

[2021-09-26 10:56] strongduanmu commented on #9030
This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-26 10:56] #9030 closed

[2021-09-26 10:58] #12470 closed

[2021-09-26 10:59] #10119 closed

[2021-09-26 11:03] RaigorJiang commented on #10999
Since @yuzhiping  deleted the configuration, the problem cannot be reproduced.
This issue will be closed, if there are related issues, please submit a new one.

[2021-09-26 11:03] #10999 closed

[2021-09-26 11:05] terrymanu commented on #9895
This is the feature of `single-table`, we will complete the doc soon.

[2021-09-26 11:07] RaigorJiang commented on #9719
Hello @JiekerTime
terrymanu reopend this issue, but did not describe the reason. Can you help verify it? Does the problem still exist?

[2021-09-26 11:12] RaigorJiang commented on #10569
@heysJava
Sorry for keeping you waiting, has your problem been solved?

[2021-09-26 11:15] tristaZero commented on #9893
Hi how is it going? @MingxingLAI

[2021-09-26 11:26] RaigorJiang commented on #11388
Close for duplicate.

[2021-09-26 11:26] #11388 closed

[2021-09-26 12:00] terrymanu commented on #10094
Closed because of no response anymore.

[2021-09-26 12:00] #10094 closed

[2021-09-26 12:01] terrymanu commented on #10104
It is out of range of ShardingSphere, I just close it.

[2021-09-26 12:01] #10104 closed

[2021-09-26 12:03] terrymanu commented on #9957
Does anyone interest this issue?

[2021-09-26 12:04] #9971 closed

[2021-09-26 12:05] #9986 closed

[2021-09-26 12:06] terrymanu commented on #10009
Closed because of no response anymore.

[2021-09-26 12:06] #10009 closed

[2021-09-26 12:06] #10054 closed

[2021-09-26 12:07] terrymanu commented on #10109
Closed because of no response anymore.

[2021-09-26 12:07] #10109 closed

[2021-09-26 12:07] #10108 closed

[2021-09-26 12:09] terrymanu commented on #10105
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 12:09] #10105 closed

[2021-09-26 12:10] terrymanu commented on #11016
Closed because of no response anymore.

[2021-09-26 12:10] #11016 closed

[2021-09-26 12:11] terrymanu commented on #10883
Closed because of no response anymore.

[2021-09-26 12:11] #10883 closed

[2021-09-26 12:14] terrymanu commented on #10837
Not sure, it for JDBC only for now.
It is better to try R2DBC

[2021-09-26 12:14] terrymanu commented on #10761
No enough information, I just close the issue.

[2021-09-26 12:14] #10761 closed

[2021-09-26 12:15] cheese8 commented on #12739
I would try it later if in no hurry (focused on encrypt module now),  please assigned it to me.

[2021-09-26 12:15] terrymanu commented on #10751
It looks like cannot support sqllite.
Does anyone interest this issue?

[2021-09-26 12:16] terrymanu commented on #10729
This version is pretty old, could you try version 5.x?

[2021-09-26 12:18] terrymanu commented on #10725
This database is not for open source, we can not get the environment of this database. I have no idea to support it.

[2021-09-26 12:18] #10725 closed

[2021-09-26 12:20] terrymanu commented on #10716
It looks like meta data loading problem with rare data type.
Does anyone interest this issue?

[2021-09-26 12:21] terrymanu commented on #10714
Closed because the pull request closed without reason explained.

[2021-09-26 12:21] #10714 closed

[2021-09-26 12:22] terrymanu commented on #10686
Please ref the example

[2021-09-26 12:22] #10686 closed

[2021-09-26 12:26] terrymanu commented on #10589
The `executor.size` properties is removed from the newest version(5.0.0-RC1), it is better to use cpu * 2 -1 to instead customized.

[2021-09-26 12:26] #10589 closed

[2021-09-26 12:27] terrymanu commented on #10570
Please have a look at cluster mode.

[2021-09-26 12:27] #10570 closed

[2021-09-26 12:28] terrymanu commented on #10554
No plan, Do you interest this issue?

[2021-09-26 12:29] terrymanu commented on #10538
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 12:29] #10538 closed

[2021-09-26 12:30] terrymanu commented on #8359
Sorry to reply late.
mybatis-plus is the ORM framework of JDBC.
Actually, , ShardingSphere community have no time to read source codes of other ORM framework, we are focusing on JDBC(or proxy) only.
So, please do some investigate, and then we can locate about SQL and JDBC interface.

[2021-09-26 12:30] #8359 closed

[2021-09-26 12:31] #10909 closed

[2021-09-26 12:31] terrymanu commented on #10279
Closed because of no response anymore.

[2021-09-26 12:31] #10279 closed

[2021-09-26 12:33] zjcnb commented on #10716
It's same to https://github.com/apache/shardingsphere/issues/12548, please assign me. I will refactor here

[2021-09-26 12:35] terrymanu commented on #10328
Please read https://shardingsphere.apache.org/document/current/en/features/sharding/principle/execute/

[2021-09-26 12:35] terrymanu commented on #10141
Fixed now

[2021-09-26 12:35] #10141 closed

[2021-09-26 12:36] terrymanu commented on #10133
Closed because of no response anymore.

[2021-09-26 12:36] #10133 closed

[2021-09-26 12:37] terrymanu commented on #11434
Does anyone interest this issue?

[2021-09-26 12:37] terrymanu commented on #10862
Does anyone interest this issue?

[2021-09-26 12:39] justbk2015 commented on #12672
@rfscholte you only modify first problem,
 BootstrapInitializer.java have some problem (can't initlization) --this problem still exists, I think, you need some filter operator to avoid empty logic_db.

[2021-09-26 12:40] terrymanu commented on #11452
It is better to upgrade the new version, we may no energy to maintain multiple old versions in the open source community.

[2021-09-26 12:40] #11452 closed

[2021-09-26 12:41] terrymanu commented on #11547
This version is pretty old, could you try version 5.x?

[2021-09-26 12:43] terrymanu commented on #11566
Can not support subquery in 4.x, please update to version 5.x and try again

[2021-09-26 12:43] #11566 closed

[2021-09-26 12:44] #11568 closed

[2021-09-26 12:45] terrymanu commented on #11581
No, enumerations are static only, the database types are "dynamic" which can be added via SPI

[2021-09-26 12:45] #11581 closed

[2021-09-26 12:48] terrymanu commented on #12371
Closed because of no response anymore.

[2021-09-26 12:48] #12371 closed

[2021-09-26 12:49] terrymanu commented on #12097
Fixed at 5.0.0-beta

[2021-09-26 12:49] #12097 closed

[2021-09-26 12:49] terrymanu commented on #12122
Closed because of no response anymore.

[2021-09-26 12:49] #12122 closed

[2021-09-26 12:52] terrymanu commented on #12479
@xue2lang Hi, it is not team but community.
Does anyone interest this issue?

[2021-09-26 12:55] terrymanu commented on #12740
Only text can be encrypted for now.

[2021-09-26 12:59] #9515 closed

[2021-09-26 12:59] #9613 closed

[2021-09-26 13:00] RaigorJiang commented on #12491
Because the question was resolved, I will close this issue.

[2021-09-26 13:00] #12491 closed

[2021-09-26 13:00] #9607 closed

[2021-09-26 13:00] terrymanu commented on #9607
Only replica can be disabled

[2021-09-26 13:04] #6374 closed

[2021-09-26 13:05] terrymanu commented on #9187
Closed because of no response anymore.

[2021-09-26 13:05] #9187 closed

[2021-09-26 13:05] justbk2015 opened #12748 "scaling not support mppdb_decoding plugin in openGauss"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
yes, because openGauss on

[2021-09-26 13:07] terrymanu commented on #8796
It is better to get the best practice on configuration during performance test.

[2021-09-26 13:07] #8796 closed

[2021-09-26 13:07] #10043 closed

[2021-09-26 13:08] terrymanu commented on #10076
No enough information, I just close the issue.

[2021-09-26 13:08] #10076 closed

[2021-09-26 13:08] #10037 closed

[2021-09-26 13:09] terrymanu commented on #10019
No plan for orchestrator supporting, does anyone interest this issue?

[2021-09-26 13:10] terrymanu commented on #10106
Closed because of no response anymore.

[2021-09-26 13:10] #10106 closed

[2021-09-26 13:11] #10199 closed

[2021-09-26 13:11] terrymanu commented on #10007
Closed because of no response anymore.

[2021-09-26 13:11] #10007 closed

[2021-09-26 13:13] terrymanu commented on #9997
How to understand about "but will be subject to the configuration on the zookeeper"?

[2021-09-26 13:15] #10723 closed

[2021-09-26 13:16] #10694 closed

[2021-09-26 13:16] #10599 closed

[2021-09-26 13:17] terrymanu commented on #10568
The data is in database, but ShardingSphere. So there is no plan to support `LOAD DATA`

[2021-09-26 13:17] #10568 closed

[2021-09-26 13:19] #10349 closed

[2021-09-26 13:20] #9938 closed

[2021-09-26 13:20] #10501 closed

[2021-09-26 13:23] #11122 closed

[2021-09-26 13:23] #11234 closed

[2021-09-26 13:24] #11272 closed

[2021-09-26 13:26] #10065 closed

[2021-09-26 13:27] #9887 closed

[2021-09-26 13:27] sandynz commented on #12672
I tested with `psql`, it works, but `setDatabaseServerInfo()` will ignore `setServerVersion`, since `findBackendDataSource()` return empty result.

I'll start another PR to improve it.

[2021-09-26 13:31] #7998 closed

[2021-09-26 13:32] #11281 closed

[2021-09-26 13:32] terrymanu commented on #11281
All improvements are finished.

[2021-09-26 13:33] #11947 closed

[2021-09-26 13:36] #12043 closed

[2021-09-26 13:37] terrymanu commented on #8569
Merged with #8966

[2021-09-26 13:37] #8569 closed

[2021-09-26 13:37] #12273 closed

[2021-09-26 13:44] RaigorJiang commented on #11877
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 13:44] #11877 closed

[2021-09-26 13:45] tuichenchuxin commented on #10938
@childewuque @qiancheng8866 I had improved the performance about loading table meta data on master branch. Welcome to try to test master branch.

[2021-09-26 13:47] RaigorJiang commented on #11892
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 13:47] #11892 closed

[2021-09-26 13:55] RaigorJiang commented on #11762
The connection problem has been resolved, this issue will be closed.
Please refer to another issue for more support "https://github.com/apache/shardingsphere/issues/11994.

[2021-09-26 13:55] #11762 closed

[2021-09-26 13:59] RaigorJiang commented on #11747
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 13:59] #11747 closed

[2021-09-26 14:00] RaigorJiang commented on #11746
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 14:00] #11746 closed

[2021-09-26 14:01] RaigorJiang commented on #11631
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 14:01] #11631 closed

[2021-09-26 14:08] RaigorJiang commented on #11588
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 14:08] #11588 closed

[2021-09-26 14:09] yx9o commented on #12743
I'll do it.

[2021-09-26 14:44] RaigorJiang commented on #11512
Fixed in https://github.com/apache/shardingsphere/issues/11994.

[2021-09-26 14:44] #11512 closed

[2021-09-26 14:45] RaigorJiang commented on #11712
Fixed in https://github.com/apache/shardingsphere/issues/11994

[2021-09-26 14:45] #11712 closed

[2021-09-26 14:46] RaigorJiang commented on #12743
@yx9o Welcome.

[2021-09-26 14:55] RaigorJiang commented on #11433
Fixed in https://github.com/apache/shardingsphere/pull/11414.

[2021-09-26 14:55] #11433 closed

[2021-09-26 15:02] RaigorJiang commented on #11410
@yinyanghuafa
Sorry for the late reply, are you still willing to try?

[2021-09-26 15:04] #11330 closed

[2021-09-26 15:05] #11264 closed

[2021-09-26 15:08] RaigorJiang commented on #11253
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 15:08] #11253 closed

[2021-09-26 15:14] RaigorJiang commented on #11242
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 15:14] #11242 closed

[2021-09-26 15:16] RaigorJiang commented on #11112
Already fixed.

[2021-09-26 15:16] #11112 closed

[2021-09-26 15:27] #11051 closed

[2021-09-26 15:29] RaigorJiang commented on #10900
Fixed in master.

[2021-09-26 15:29] #10900 closed

[2021-09-26 15:32] yx9o commented on #11085
I'll do it.

[2021-09-26 15:33] RaigorJiang commented on #10280
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-26 15:33] #10280 closed

[2021-09-26 15:36] RaigorJiang commented on #10275
It is in progress, the update will be posted in https://github.com/apache/shardingsphere/issues/11994.
 I will close the current issue.

[2021-09-26 15:36] #10275 closed

[2021-09-26 15:37] RaigorJiang commented on #11085
@yx9o  Thank you.

[2021-09-27 00:21] strongduanmu commented on #12727
I tried to use JDK11 to reproduce this problem, but there was no exception. Since this unit test plan is migrated to integration testing, I will promote the migration of the last two integration tests #10916 #10915, and then delete this test class.

[2021-09-27 00:24] strongduanmu commented on #10916
Hi @tup916, considering the exception of this test case on JDK11, we will invite @LeeGuoPing  to complete this task as soon as possible. If you are interested in other tasks, you can continue to participate.

[2021-09-27 00:24] strongduanmu commented on #10915
Hi @Swastyy , considering the exception of this test case on JDK11, we will invite @LeeGuoPing  to complete this task as soon as possible. If you are interested in other tasks, you can continue to participate.

[2021-09-27 00:31] strongduanmu commented on #12328
Hi @tuichenchuxin, can you check this sql?

[2021-09-27 00:35] LeeGuoPing commented on #10916
please assign it to me

[2021-09-27 00:36] LeeGuoPing commented on #10915
https://github.com/apache/shardingsphere/issues/10915

[2021-09-27 00:44] strongduanmu commented on #10916
@LeeGuoPing Welcome.

[2021-09-27 00:44] strongduanmu commented on #10915
@LeeGuoPing Assigned.

[2021-09-27 00:49] strongduanmu commented on #10563
This exception is caused by the fact that the aggregate function must use `group by`, which is not supported by the native database.

[code]

If sql is rewritten as `select count(1) from t_order group by order_id order by order_id desc;` it can be executed normally. `Can't find index` exception has been fixed by #11971.

[2021-09-27 00:49] #10563 closed

[2021-09-27 01:06] strongduanmu commented on #12739
@cheese8 Nice to see you here. Assigned.

[2021-09-27 01:07] strongduanmu commented on #10938
Performance optimization has been completed, welcome to use the master branch test.

[2021-09-27 01:07] #10938 closed

[2021-09-27 01:11] 852814453 opened #12753 "shardingsphere support for postdresql schema"
E.g   create schema   test; select current_schema();

[2021-09-27 01:14] LeeGuoPing commented on #12729
May I have a try

[2021-09-27 01:16] CrackerSuperior opened #12754 "How does autotable recognize the use of sharding algorithms?"
In the official example, I am a little confused, the configuration file is as follows:
[code]
I don't understand how this t_order uses t_order_auto. Does it just use name recognition?

[2021-09-27 01:27] yx9o commented on #12754
@CaymanHK Hi, please refer here: https://mp.weixin.qq.com/s/fDYqW-yJIVpkcUDNT-gsuA.

[2021-09-27 01:33] CrackerSuperior commented on #12754
[code]
The example in the article also has "shardingAlgorithmName:mod" to refer to the "shardingAlgorithm" of "mod", but the above example does not seem to have this

[2021-09-27 01:58] lanchengx commented on #12717
@RaigorJiang I can try to investigate.

[2021-09-27 01:59] lanchengx commented on #8618
@RaigorJiang  I can try to investigate.

[2021-09-27 02:06] RaigorJiang commented on #12754
`t_order_auto` is another logic table, not related to `t_order`.
`tables` and `autoTables` are different sharding configuration ways, just choose one.

[2021-09-27 02:08] RaigorJiang commented on #12717
@lanchengx Thank you.

[2021-09-27 02:09] CrackerSuperior commented on #12754
oh! That's it, thank you!

[2021-09-27 02:09] RaigorJiang commented on #8618
@lanchengx  Thank you~

[2021-09-27 02:09] #12754 closed

[2021-09-27 02:14] 852814453 opened #12757 "支持指定 sql 语法或者配置类,不采用 shardingjdbc 数据源"
例如：某些特定 sql 语法不需要用到 shardingsphere，采用原来的数据源

[2021-09-27 02:21] RaigorJiang commented on #12757
Hello, for English only, please translate the issue, thank you.

[2021-09-27 02:32] RaigorJiang opened #12758 "[DistSQL] Password recognition error when adding resources."
## Bug Report
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy : master branch

### Actual behavior
My password for mysql user is `admin@2021`, so I input SQL:
[code]
But the password received by Proxy is just `admin`, this cause validate failed.

### Reason analyze (If you can)
ANTLR definition is flawed.

[2021-09-27 02:32] yunqian-c9 opened #12759 "Failed to switch schema, please terminate current transaction."
使用**python sqlalchemy** ，在创建连接中，必须添加**autocommit**参数，否则在进行连接中便会报错：
![image](https://user-images.githubusercontent.com/30698152/134836519-5bbb437f-b721-40c0-a707-6e86ccdcf46c.png)

**报错提示（4.1.0）：**
![image](https://user-images.githubusercontent.com/30698152/134836608-37578dd4-86f0-4266-96e9-dc57043efe25.png)

这个问题在 **sharding-porxy 4.1.1**  or   **sharding-porxy 5.0.0** 版本都会出现

另外，即使添加了这个参数，不用报错了，但

[2021-09-27 02:34] lanchengx commented on #12758
@RaigorJiang please assign to me

[2021-09-27 02:43] jinghuaj opened #12760 "insert data failed : no routeConditions info: line 16:0 no viable alternative at input '(ID,VERSION_COL,USER'"
For English only, other languages will not accept.

Before report a bug, make sure you have:

    Searched open and closed GitHub issues.
    Read documentation: ShardingSphere Doc.

Please pay attention on issues you submitted, because we maybe need more details.
If no response more than 7 days and we cannot reproduce it on current information, we will close it.

Please answer these questions bef

[2021-09-27 02:56] myflx commented on #9896
In version v4.1.1，  `org.apache.shardingsphere.shardingjdbc.spring.boot.SpringBootConfiguration` show that the current Datasource is `ShadowDataSource`  and
`SpringBootShardingRuleConfigurationProperties` is ignored，but from actual demand  shadow and prd sharding-rule can coexist，does version 5.0.0 has the related refactoring?

[2021-09-27 03:15] soulasuna commented on #9896
@myflx Thank you for your attention.
In version 5.0.0, the `shadow` function can be used with any function provided in the shardingsphere.

[2021-09-27 03:27] Swastyy commented on #12374
I can try this one @RaigorJiang will there be subtasks for this or in one PR it should be completed? I want to work on this. Thanks.

[2021-09-27 03:46] RaigorJiang opened #12762 "[DistSQL] When drop resource fails, the prompt information is not accurate enough."
## Bug Report
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy : master branch

### Actual behavior
When drop resource, if the resource is used in any rule, drop will be failed, and users get error message:
[code]
However, it does not show which rule the resource is used.
The user also does not know which type of RQL should be used to view the rule configuration.

### Steps to

[2021-09-27 03:47] strongduanmu opened #12763 "Wrong routing result appeared when I adjusted the position of sharding condition"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Correct routing based on sharding conditions

[code]

### Actual behavior

[code]

### Reason analyze (If you can)

When the extract method of ColumnExtractor processes BinaryOperationExpression, on

[2021-09-27 03:49] RaigorJiang commented on #12374
This is a big adjustment, and there will be many new additions.
I think there should be some subtasks, but more detailed planning is needed.

[2021-09-27 03:57] #12743 closed

[2021-09-27 05:06] RaigorJiang commented on #8686
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-27 05:06] #8686 closed

[2021-09-27 05:14] RaigorJiang commented on #8507
Since this issue has been inactive for more than 6 months, we will close it.
If you still have related questions, please submit a new issue, thank you.

In addition, the new version has been optimized a lot, welcome to experience.

[2021-09-27 05:14] #8507 closed

[2021-09-27 05:16] RaigorJiang commented on #7982
The Navicat connection problem has been fixed in another issue, please refer to: https://github.com/apache/shardingsphere/issues/11994.

[2021-09-27 05:16] #7982 closed

[2021-09-27 05:37] totalo opened #12764 "CI test error."
stack：
[code]

[2021-09-27 06:06] tuichenchuxin commented on #12328
@strongduanmu in pg, it's supported.

[2021-09-27 06:17] #12725 closed

[2021-09-27 06:30] RaigorJiang commented on #12650
Closed because there is no follow-up response.

[2021-09-27 06:30] #12650 closed

[2021-09-27 06:30] tristaZero commented on #12553
@CrackerSuperior Hi, look forward.

[2021-09-27 06:31] #8966 closed

[2021-09-27 07:05] Mr-Zhe opened #12766 "有两个库表结构都一样的数据库，在跨库连表查询时为什么没有重写sql"
## Question
有两个库表结构都一样的数据库，在跨库连表查询时为什么没有重写sql？
我使用的是shardingsphere-jdbc-core-spring-boot-starter#5.0.0-beta

[2021-09-27 07:06] tuichenchuxin commented on #10420
@linchers I have tested on master branch, it is supported now.

[2021-09-27 07:12] terrymanu commented on #7281
Yes, it need to be discuss more, we can just keep it.

[2021-09-27 07:16] strongduanmu commented on #12766
For english only, other language will not accept.

[2021-09-27 07:16] #12766 closed

[2021-09-27 07:20] Mr-Zhe opened #12768 "I have two databases with the same database table structure, why not rewrite the SQL for cross-database table queries"
## Question

I have two databases with the same database table structure, why not rewrite the SQL for cross-database table queries?
I used shardingSphere-jdbC-core-spring-boot-starter #5.0.0-beta

[2021-09-27 07:27] #11615 closed

[2021-09-27 07:32] lanchengx commented on #11771
@jinkun2014 Sorry for not replying in time, `performance_schema` is not supported yet, we will improve it as soon as possible.

[2021-09-27 07:33] strongduanmu commented on #12768
@Mr-Zhe Can you provide an example to describe your question?

[2021-09-27 07:37] SpinSi commented on #10009
shardingsphere:data-source
配置标签是在哪定义的？

[2021-09-27 07:38] TeslaCN opened #12770 "Consider renaming ConfigurationPropertyKey#EXECUTOR_SIZE"
## Discussion

The `executor-size` is too simple to understand in `server.yaml`, consider renaming it.

https://github.com/apache/shardingsphere/blob/64cfdc01e964e45b1711ddca57c06ea2979b7e0a/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/server.yaml#L60

[2021-09-27 07:43] #12763 closed

[2021-09-27 07:47] Mr-Zhe commented on #12768
#### My Example:
[code]

`DatabaseCustomComplexKeysShardingAlgorithm`
[code]

`OrderTableCustomComplexKeysShardingAlgorithm`
[code]
#### SQL:
[code]

[2021-09-27 07:50] Mr-Zhe commented on #12768
#### further information
[code]
[code]

[2021-09-27 07:52] roodkcab opened #12771 "how to use xa transaction in shardingsphere-proxy"
## Question

I tried to use xa transaction on shardingsphere-proxy but got something wrong.

the first problem is mysql does not support xa (start|begin) 'xxxxx' (join|resume), I made a little change here
![image](https://user-images.githubusercontent.com/1700820/134866170-1b82ca54-2d77-4ae7-b283-4962601c4ac0.png)

then I set autocommit = 0 before use xa start 'xxxxx', but according to code here,

[2021-09-27 07:57] jinghuaj commented on #12760
Problem has been solved ，cause by “USER” is database or frame work reserved word.   how solve：alert column USER ---> USER1

[2021-09-27 07:57] #12760 closed

[2021-09-27 08:00] RaigorJiang commented on #7281
OK.

[2021-09-27 08:01] #10916 closed

[2021-09-27 08:03] strongduanmu commented on #12768
How to understand `why not rewrite the SQL for cross-database table queries`?

[2021-09-27 08:12] jinghuaj commented on #12760
This is not a Sharding-JDBC bug

[2021-09-27 08:12] Mr-Zhe commented on #12768
### final query sql
first
[code]
second
[code]

[2021-09-27 08:15] roodkcab commented on #12771
I think we have to handle xa stmt just like normal tcl stmt, so that we could use shardingSphereTransactionManager to handle such command.
![image](https://user-images.githubusercontent.com/1700820/134870307-091508e0-813f-41b5-b99a-4ab454d298e8.png)

[2021-09-27 08:16] #11018 closed

[2021-09-27 08:21] wangwangwangBoy opened #12774 "SpringBoot2.1.3 + ShardingJDBC5.0 health check error."
As the title ,SpringBoot 2.1.3 + ShardingJDBC5.0 can't register service with Eureka

I used SpringBoot2.1.3+ShardingJDBC4.0 before, and it runs normally. But when I changed to 5.0. I need to modify the version of guava, after modifying 29.0-jre. It was found that the registration service failed, but a single service can provide services to the outside world normally.

shch as :
![image](https://us

[2021-09-27 08:23] Mr-Zhe commented on #12768
If you change the routing policy of the `user table` and `order table` to a single database，example：
[code]
Then use the same query SQL，example：
[code]
the final SQL is rewritten as
[code]

[2021-09-27 08:29] marker-wu opened #12775 "How to configure sharding rules for multiple schemas in sharding-proxy？"
How to configure sharding rules for multiple schemas in sharding-proxy？

[2021-09-27 08:30] tuichenchuxin commented on #9337
I found master branch has already supported match() against() query.

[2021-09-27 08:43] tuichenchuxin commented on #9173
@chenkuig Can you try to use the latest version to test it? We have a lot improvement, welcome to test.

[2021-09-27 08:52] tuichenchuxin commented on #8767
I found we already supported parsing this to `BinaryExpression` on master branch.

[2021-09-27 09:17] #12758 closed

[2021-09-27 09:19] tuichenchuxin commented on #8754
I found this sql already supported on branch master.

[2021-09-27 09:25] strongduanmu commented on #10420
This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-27 09:25] #10420 closed

[2021-09-27 09:25] strongduanmu commented on #8767
This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-27 09:25] #8767 closed

[2021-09-27 09:26] strongduanmu commented on #8754
This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-27 09:26] #8754 closed

[2021-09-27 09:32] sandynz commented on #11434
@justbk2015 feedback no more PR for now, it could be closed.

[2021-09-27 09:32] #11434 closed

[2021-09-27 09:40] #10915 closed

[2021-09-27 09:44] tuichenchuxin commented on #11562
This sql already supported by federate on master branch.

[2021-09-27 09:47] RaigorJiang commented on #12775
@marker-wu
Just put multiple config files in Proxy, like the [example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-proxy-example/shardingsphere-proxy-hint-example/src/main/resources).

[2021-09-27 09:55] marker-wu opened #12778 "The sharding-proxy of the latest master branch cannot be found in the RuntimeStatus of sharding-ui"
The sharding-proxy of the latest master branch cannot be found in the RuntimeStatus of sharding-ui
![image](https://user-images.githubusercontent.com/45256940/134887065-47d3afd3-8fcf-4b5d-a47b-88e9ebc9c421.png)

The sharding-proxy 5.0.0-beta version in sharding-ui can be found

[2021-09-27 10:01] RaigorJiang commented on #12774
Sorry, ShardingSphere only has operations related to the data source. You need to investigate this issue based on the exception information.

[2021-09-27 10:20] yx9o commented on #11108
I want to try this issue.

[2021-09-27 10:32] #12748 closed

[2021-09-27 10:33] menghaoranss opened #12779 "Complete disable instance and slave databases by DistSQL"

[2021-09-27 10:36] RaigorJiang commented on #11108
@yx9o  Welcome.

[2021-09-27 11:00] wangwangwangBoy commented on #12774
Thanks, I will check my other configuration

[2021-09-27 11:03] menghaoranss commented on #12778
refer to #12391

[2021-09-27 11:03] #12778 closed

[2021-09-27 11:04] strongduanmu commented on #12727
`FederationStatementTest` has been deleted now.

[2021-09-27 11:04] #12727 closed

[2021-09-27 11:08] strongduanmu commented on #12617
Calcite does not support query of aggregate fields that are not in group by, so this problem requires users to modify the SQL by themselves.

[2021-09-27 11:08] #12617 closed

[2021-09-27 11:10] wangwangwangBoy commented on #12774
Can you reopen this question again? I found something about the data source. When I use Sharding, the SpringCloud data source health check will fail.

[2021-09-27 11:11] #11250 closed

[2021-09-27 11:12] RaigorJiang commented on #12774
@wangwangwangBoy Please provide some error logs.

[2021-09-27 11:15] strongduanmu commented on #11951
All the exception reported above have been fixed, and this issue can be closed.

[2021-09-27 11:15] #11951 closed

[2021-09-27 11:16] strongduanmu commented on #11990
Sorry for later reply. @tuichenchuxin Can you help check this issue?

[2021-09-27 11:18] wangwangwangBoy commented on #12774
This looks like it uses Sharding DataSource, but during the health check, the cachedDatabaseMetaData object is null
![image](https://user-images.githubusercontent.com/46279672/134898555-f4ddb553-4dc0-466d-a812-4ee1d308ec7c.png)
use sharding is null
![image](https://user-images.githubusercontent.com/46279672/134898601-2cb8cbe6-956f-490c-87d4-0c395c3df316.png)

[2021-09-27 11:20] strongduanmu commented on #11562
This sql has been supported in the master branch, so I close this issue.

[2021-09-27 11:20] #11562 closed

[2021-09-27 11:23] strongduanmu commented on #9337
This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-27 11:23] #9337 closed

[2021-09-27 11:42] wangwangwangBoy commented on #12774
Error logs
![image](https://user-images.githubusercontent.com/46279672/134901499-0f6537e7-91a9-4dff-8422-006d5a88d8d7.png)

[2021-09-27 11:44] tristaZero commented on #11222
Done.

[2021-09-27 11:44] #11222 closed

[2021-09-27 11:46] tristaZero commented on #11744
If there is no feedback, we have to close it.

[2021-09-27 11:55] tristaZero commented on #12352
Since we didn't received any comments beyond 7 days, I have to close it.

[2021-09-27 11:56] sandynz commented on #10862
Hi @darkaquarius , distributed id generator is a dividual system usually, you could install one of them ( e.g. [Leaf](https://github.com/Meituan-Dianping/Leaf) ), and set generated id in SQL.

[2021-09-27 11:59] tristaZero commented on #11788
Sorry, I suggest you try the 5.0.0-beta release, and the distributed transaction will be our target in the next release.

[2021-09-27 12:12] sandynz commented on #10494
Hi @Akitata , we're developing new API, it should be release in 5.0 which is planned to release after 1 month.

[2021-09-27 12:16] TeslaCN commented on #11090
Preparing TCL statements are not allowed in MySQL, I've misunderstood.

[2021-09-27 12:20] sandynz commented on #10366
Hi @notzero1995 , are you still working on this issue?

[2021-09-27 12:22] #10328 closed

[2021-09-27 12:25] #9974 closed

[2021-09-27 12:32] sandynz commented on #9876
Hi @SpriderMan , you could follow [Scaling Usage](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-scaling/usage/) to try 5.0-beta.
I tested on MySQL before, it works.

[2021-09-27 12:36] sandynz commented on #9772
Hi @lintingjie , It will be improved later. Should be in 5.0 which may be released after 1 month.

[2021-09-27 12:43] sandynz commented on #9580
According to #9614, it should be closed.

[2021-09-27 12:43] #9580 closed

[2021-09-27 12:46] RaigorJiang commented on #12775
@marker-wu
 If your question is solved, can you close the issue?

[2021-09-27 12:52] wangwangwangBoy commented on #12774
I'd found some different things , when it's  JDBCDataBaseMetaData，it can be woekrd, but when ShardingSphereDataBaseMetaData , it will be wrong.
![image](https://user-images.githubusercontent.com/46279672/134910755-fcc87c8a-ad04-42f6-91ec-c6d4f4e139d2.png)

[2021-09-27 12:52] sandynz commented on #9528
Closed by PR #9859

[2021-09-27 12:52] #9528 closed

[2021-09-27 13:05] #8892 closed

[2021-09-27 13:22] tristaZero commented on #8736
Sorry there is no following feedback until now, I have to close it.

[2021-09-27 13:22] #8736 closed

[2021-09-27 13:30] sandynz commented on #6690
Closed since testing is on progress.

[2021-09-27 13:30] #6690 closed

[2021-09-27 13:38] sandynz commented on #3572
It will be done in #11994, it's on progress now.

[2021-09-27 13:38] #3572 closed

[2021-09-27 14:32] Swastyy commented on #12566
Hey @RaigorJiang In the point 3 we need to move the mentioned examples to `sharding-readwrite-splitting-example` module or I have to create newer?

[2021-09-27 15:21] Akitata commented on #10494
Nice!  Looking forward to seeing it in the new version!

[2021-09-28 00:06] wgy8283335 commented on #11792
This issue could be closed, as the tasks have been moved into another issue: 'Tasks in the federate optimizer'
#12709

[2021-09-28 00:06] #11792 closed

[2021-09-28 00:08] #11085 closed

[2021-09-28 00:12] strongduanmu commented on #12774
@wangwangwangBoy Can you provide a demo application? I need to reproduce this exception.

[2021-09-28 01:29] wangwangwangBoy commented on #12774
That's our project code. It may take a while to make a demo. I will upload a demo later. I avoided this problem by canceling the security check, but found a new problem. When inserting data into a data table that is not configured with a table-sharing strategy, this error 'Cannot find strategy for generate keys.' occurred. After debugging, I found that the key generation strategy only has two tabl

[2021-09-28 01:48] CrackerSuperior opened #12784 "The tables in the logic library do not use the default sub-library rules"
Version：5.0.0-RC1

The configuration file is as follows:
[code]

I want to put all the tables that are not fragmented under the logic library into the first data source, but they do not take effect. I wonder if there is a problem with my configuration?

[2021-09-28 01:51] sandynz commented on #11236
@justbk2015 feedback it works. Closed.

[2021-09-28 01:51] #11236 closed

[2021-09-28 01:58] wangwangwangBoy commented on #12774
Haha, can you give me a compressed package of master's pom jar? The latest Sharding version used by our company is 4.1, and there is no master jar, just like the picture
![image](https://user-images.githubusercontent.com/46279672/135009901-a8bb611f-a46b-46c0-839a-4d61a6a96188.png)

[2021-09-28 02:10] RaigorJiang commented on #12774
The complete compressed package is large, and the version will be updated continuously.
It is recommended that users build by themselves so that the latest version can be obtained at any time.
Here is a build guide:
https://github.com/apache/shardingsphere/blob/master/README_ZH.md

[2021-09-28 02:31] wangwangwangBoy commented on #12774
Thank you. Let me try.

[2021-09-28 02:49] #9876 closed

[2021-09-28 02:54] sandynz commented on #9951
Hi @SpriderMan , thanks for your feedback. We'll output detailed logs for better troubleshooting.

[2021-09-28 03:01] sandynz commented on #9965
Hi @wl4g , scaling is not for data synchronization currently.

[2021-09-28 03:01] #9965 closed

[2021-09-28 04:02] RaigorJiang commented on #11110
Hi @kenl-lin
I did a test to verify, and no similar exceptions were found.
[code]

My version is 5.0.0-RC1 (master branch), welcome to try the new version.

[2021-09-28 04:03] RaigorJiang commented on #11110
Since this issue has been inactive for more than 30 days, I will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-28 04:03] #11110 closed

[2021-09-28 04:11] RaigorJiang commented on #12775
Yes, there is no limit. A normal file name is fine.

[2021-09-28 04:20] #12762 closed

[2021-09-28 05:41] RaigorJiang commented on #10107
It has been communicated and verified, it is an environmental issue, not a bug.

[2021-09-28 05:41] #10107 closed

[2021-09-28 05:55] Swastyy commented on #10985
Hi @RaigorJiang Please assign this issue to me if not completed.

[2021-09-28 05:59] RaigorJiang commented on #10985
Thank you @Swastyy .

[2021-09-28 06:05] #10597 closed

[2021-09-28 06:08] wangwangwangBoy commented on #12774
I tried it and found that there are some exceptions. The READ_ME may not run on windows. It may be "mvn clean install -Prelease", and then an error occurs. Can I skip this step?
![image](https://user-images.githubusercontent.com/46279672/135032373-990956ea-5d2a-4768-ad3e-1abed3d91b54.png)

![image](https://user-images.githubusercontent.com/46279672/135032265-f37e3ae6-e9bd-4e08-8ddd-721ccc0cf516.pn

[2021-09-28 06:10] marker-wu opened #12786 "Can GitHub code be updated to gitee synchronously?"
Can GitHub code be updated to gitee synchronously?
At present, the code of gitee is not up-to-date. The speed of our connection to GitHub is too slow, and the phenomenon of clone failure will occur

[2021-09-28 06:20] RaigorJiang commented on #12774
@wangwangwangBoy
The CI includes a windows building, and I have a windows machine(win 10), they all work well.
Maybe check the cause again, or try another machine?

[2021-09-28 06:39] tuichenchuxin commented on #11990
@rfscouto After this [pr](https://github.com/apache/shardingsphere/pull/12787) merged, insert with schema will be fixed.

[2021-09-28 06:43] wangwangwangBoy commented on #12774
Thank you, my machine is also win10, I'll try later

[2021-09-28 06:48] RaigorJiang commented on #11455
Since this issue has been inactive for more than 30 days, we will close it.
If you still have related questions, please submit a new issue, thank you.

[2021-09-28 06:48] #11455 closed

[2021-09-28 06:50] tuichenchuxin commented on #11683
It has been optimized, so I closed it.

[2021-09-28 06:50] #11683 closed

[2021-09-28 07:22] RaigorJiang commented on #12331
Duplicate with https://github.com/apache/shardingsphere/issues/12447.

[2021-09-28 07:22] #12331 closed

[2021-09-28 08:02] tristaZero commented on #12753
Hi It is supposed to support, have you ever tried?

[2021-09-28 08:04] tristaZero commented on #12759
Hi thanks for your feedback, we have fixed this bug on the master branch, which will be released next month.

[2021-09-28 08:05] CrackerSuperior opened #12789 "Does "sharding-proxy" support the "load data infile" syntax of "mysql"?"
Version:5.0.0-RC1

[code]

[2021-09-28 08:08] tristaZero commented on #12784
Hi, you still need to configure tables in this configuration.

[2021-09-28 08:11] RaigorJiang commented on #12786
![image](https://user-images.githubusercontent.com/5668787/135048445-fecadb20-0694-47a5-81c0-a6195126d3ab.png)
![image](https://user-images.githubusercontent.com/5668787/135048856-c91c9fac-3433-46b4-89e9-d27b794aafef.png)
![image](https://user-images.githubusercontent.com/5668787/135048917-6fb24617-4c23-445b-934a-a8ca26883720.png)

In gitee, you can create a repository by yourself and synchronize

[2021-09-28 08:13] tristaZero commented on #12786
Sorry, I still have no idea. I guess it's up to gitee, would you like to find some hints about gitee automated synchronization? If you have any answer, we'd like to provide any hands. I synchronized [ShardingSphere on gitee](https://gitee.com/Sharding-Sphere/sharding-sphere) just now by manual.

[2021-09-28 08:14] tristaZero commented on #12789
Sorry, currently, it doesn't work. Hi I saw your questions on github many times. Do you want to use this project on your production env？

[2021-09-28 08:17] RaigorJiang commented on #12784
1. A table that is not configured will be recognized as a `singleTable`, and the routing rules are random.
2. The default sharding strategy applies to tables that have a table config but no sharding strategy is configured. At the same time, the default strategy needs to specify the name of the `shardingColumn`.

[2021-09-28 08:22] CrackerSuperior commented on #12784
So regardless of whether I am sharded or not, I must use the table name; if there are many vertical tables and want to allocate them on the same default node, this may be a time-consuming task, because I need to know all the table names and write an import Configuration file.

[2021-09-28 08:22] RaigorJiang commented on #12786
@tristaZero    This might help:
https://gitee.com/help/articles/4336#article-header3

[2021-09-28 08:26] RaigorJiang commented on #12784
@CrackerSuperior
If the non-sharding tables already exist in a database, then there is no need to configure, ShardingSphere can identify which database they are on by loading metadata.

[2021-09-28 08:26] CrackerSuperior commented on #12789
We are verifying the availability of "sharding-proxy", and if it is suitable for our business, we will consider using it. Or make a slight modification to meet our business needs

[2021-09-28 08:30] RaigorJiang commented on #12789
Proxy can now support the `source` command, can it meet the needs?

[2021-09-28 08:31] CrackerSuperior commented on #12784
But I don’t want to expose my mysql to users; in the eyes of users, there is only "sharding", no mysql

[2021-09-28 08:37] CrackerSuperior commented on #12789
Yes, I just tested whether it is compatible with the developer volume

[2021-09-28 08:39] CrackerSuperior commented on #12789
Well, we are testing and hope it meets the demand.

[2021-09-28 08:49] RaigorJiang commented on #12784
Yes, there is only `sharding`, when users ues sharding db, they can query single table which not configured in yaml.

[2021-09-28 08:55] RaigorJiang commented on #12784
@CrackerSuperior
For example, you have three data sources: f6_0, f6_1, f6_2
1. You have sharding tables `t_order` and `t_order_item`, and you need to configure sharding strategies for them;
2. There is a table `t_config` on f6_0, which does not require sharding, so there is no need to configure it.
3. You can view `t_order, t_order_item and t_config` from `show tables` in sharding db.
4. You can p

[2021-09-28 08:58] RaigorJiang commented on #12771
Can these examples help you?
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-sample/shardingsphere-proxy-sample/shardingsphere-proxy-memory-example

[2021-09-28 09:00] RaigorJiang commented on #12771
SQL statement does not need to declare XA

[2021-09-28 09:07] CrackerSuperior commented on #12784
Well, you mean that I created the vertical table directly in "mysql" when I created it; but when I used it, I used it in "sharding" because "sharding" can find out where it is.

However, we don't want anyone to be able to connect directly to the mysql below. This is a very dangerous thing. All user operations can only go through "fragmentation".

[2021-09-28 09:11] #11990 closed

[2021-09-28 09:20] RaigorJiang commented on #12784
You have understood what I said, and I also understand what you mean.
If you do not configure the table names, let them become a single table, distributed on different mysql databases, is this acceptable?

[2021-09-28 09:21] zhfeng opened #12791 "Upgrade antlr4 to 4.8"
## Feature Request

I'd like to upgarde antlr4 to 4.8

### Is your feature request related to a problem?
https://github.com/quarkiverse/quarkus-shardingsphere-jdbc/issues/2

### Describe the feature you would like.
It throws exception when building quarkus-shardingsphere-jdbc in native mode
[code]

[2021-09-28 09:23] lanchengx commented on #11410
@RaigorJiang please let me try.

[2021-09-28 09:25] CrackerSuperior commented on #12784
In this way, its location is random, and we hope its storage location is specified. Therefore, only one data source can be specified using a configuration file or "Dist SQL".

[2021-09-28 09:26] strongduanmu commented on #12791
@zhfeng Are you interested in submitting a PR to upgrade antlr?

[2021-09-28 09:27] strongduanmu commented on #12729
Fixed by #12755.

[2021-09-28 09:27] #12729 closed

[2021-09-28 09:36] RaigorJiang commented on #12784
There is no way to specify the data source without configuring the table name.
Hope someone can develop this feature.

[2021-09-28 09:38] CrackerSuperior commented on #12784
hh, I believe it will be in the future.

[2021-09-28 09:38] #12462 closed

[2021-09-28 10:15] #12791 closed

[2021-09-28 10:32] strongduanmu commented on #12774
@wangwangwangBoy It seems that some jar package is missing. Please check whether the dependent jar package is missing.

[2021-09-28 10:42] strongduanmu commented on #12768
@Mr-Zhe Because the federation execution engine is used for cross-database query, which is not the same as the standard kernel process, it seems that the logical table is not rewritten.

[2021-09-28 10:43] strongduanmu commented on #12768
If you are interested, you can check the implementation of the federation execution engine through the source code.

[2021-09-28 10:43] #12768 closed

[2021-09-28 10:50] wangwangwangBoy commented on #12774
There seems to be a lack of methods. I wonder if someone did not submit the complete code
![image](https://user-images.githubusercontent.com/46279672/135073380-d20fcf0e-9ee6-4bef-ab7e-6f812fd4e42c.png)

[2021-09-28 10:56] strongduanmu commented on #12774
@wangwangwangBoy Is this jar package packaged from the latest master branch? The latest code seems to have been different.

[2021-09-28 11:04] wangwangwangBoy commented on #12774
I am extracting code 9.24. Found that there is indeed a problem. The two packages do not match. I really cannot compile this package. Unable to get the new version

[2021-09-28 11:05] wangwangwangBoy commented on #12774
Do you have other channels to get the package?

[2021-09-28 11:09] strongduanmu commented on #12774
You can provide your demo application, and I will check this exception.

[2021-09-28 12:41] wangwangwangBoy commented on #12774
Sorry, I can’t, that’s our company code

[2021-09-28 14:42] zhfeng commented on #12771
@roodkcab it needs to use a mysql XA DataSource class such as ```com.mysql.cj.jdbc.MysqlXADataSource```. All of the transaction operations should be handled by mysql driver. So in your application, you just need to
[code]

Or if you use some framework, such as Spring, Spring-Boot or Wildfly, the container will manage the tarnsaction process. You just need to
[code]

In term of the sharding-proxy,