[2021-06-15 07:32] zllegend521 commented on #10808
Hi,  SphereEx is a commercial entity of ShardingSphere. Any business collaboration request, you could direct touch with us at email address biz@sphere-ex.com. As to general tech supporting, suggest you submit to ShardingSphere community on Github.

[2021-06-15 07:34] fzyzcjy commented on #10808
@lyflyy Thanks! Where can I enter the group?

@zllegend521 Thanks! I will send an email

[2021-06-15 07:37] fzyzcjy commented on #10808
@zllegend521

About "submit to ShardingSphere community on Github", do you mean exactly this github repository - i.e. just create issues like what I have done?

I have heard that apache or shardingsphere uses email to communicate. So shall I use email as well? Or, is there anything like slack?

With my previous experiments on Vitess (CNCF graduated project), I found that the community on Vitess ar

[2021-06-15 07:38] TeslaCN commented on #10811
What's the version of MySQL JDBC driver?

[2021-06-15 08:09] imOneDa commented on #10811
<dependency>
    <groupId>mysql</groupId>
    <artifactId>mysql-connector-java</artifactId>
    <version>5.1.5</version>
</dependency>

thanks.

[2021-06-15 09:27] zllegend521 commented on #10808
Will approach you in the group of Wechat.

[2021-06-15 12:18] Beyondeclipse commented on #10810
I guest it may be the net enviroment problem. I just run "mvn install" successfully with the newest codes in wndows env through my nexus server.

[2021-06-15 12:25] #10789 closed

[2021-06-15 13:00] Beyondeclipse commented on #10678
Hi @tristaZero, In my opinion, the "ShardingSphereDataSource" should be created and inited faster, and the "StandardMetaDataContexts" should be lazy loaded  to avoid slow down the system. Now, "ShardingSphereDataSource" will direct invoke "OptimizeContextFactory" to call "FederateLogicSchema.initTables" which slow down the system with hundreds of databases in startups.
Can this be improved?

[2021-06-15 13:02] tristaZero commented on #10787
Hi my suggestion is to consider 5.0.0-alpha or beta. @fzyzcjy

[2021-06-15 13:21] Dave-he opened #10823 "HintShardingAlgorithm 不生效"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-15 13:26] sandynz commented on #9568
That's ok.

[2021-06-15 15:05] xiaoshen11 commented on #10697
@tristaZero my pr checks fail，details as follows，I don't konw how to solve it，please help me

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  05:33 min
[INFO] Finished at: 2021-06-14T02:57:45Z
[INFO] ------------------------------------------------------------------------
Error:  Failed to execute goal on project shardingsphe

[2021-06-15 16:32] think-gem opened #10826 "Override SQLLogger class"
## Feature Request

Hope can provide an interface that lets me override this class for:

1. I hope change topic = "ShardingSphere-SQL";
2. Some specific SQL does not print;
3. Change the log level according to the situation

Version: 5.0.0-bata

[2021-06-15 16:45] think-gem opened #10827 "readwrite-splitting Caused by: java.lang.IllegalStateException: union select is not supported yet."
## Bug Report

Use readwrite-splitting report:  union select is not supported yet.

### Which version of ShardingSphere did you use?

5.0.0-bata

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

1. I know I can fix this by specifying a different data source, but I expect
2. Known select query，no sharding, direct read query，don

[2021-06-16 00:05] fzyzcjy commented on #10787
@tristaZero Thanks for the reply. So when will we be able to use it in production?

[2021-06-16 02:31] #10552 closed

[2021-06-16 02:32] menghaoranss commented on #10454
**SHOW RESOURCES (FROM schemName)?**

[code]

[2021-06-16 02:55] zhoubonet commented on #10138
@RaigorJiang Will you have time to look at this problem

[2021-06-16 03:15] RaigorJiang commented on #10138
@zhoubonet  Yes!  I reproduced this exception yesterday, and I am looking for the cause.

[2021-06-16 05:02] FujiwaraTakumi commented on #10810
I build successfully as well with latest code via "mvn clean install -Prelease".

`
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  22:02 min
[INFO] Finished at: 2021-06-16T12:41:20+08:00
[INFO] ----------------------------------------------------

[2021-06-16 05:48] LeeGuoPing commented on #10796
when I add test case named DatabaseTypedSQLParserFacadeRegistryTest,  I created a new package name fixture, it contains DatabaseLexer, DatabaseParser,DatabaseParserFacade. And use SPI to test it, my idea is right?

![image](https://user-images.githubusercontent.com/35389145/122164522-80c32680-cea9-11eb-854e-96caa8eefcdf.png)

[2021-06-16 05:53] LeeGuoPing commented on #10796
But now I don't understand how to add test case for SQLParserEngine,  Can you give me some advice, thank you @terrymanu

[2021-06-16 06:18] strongduanmu opened #10832 "Column index out of range exception occur when execute subquery"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC/ShardingSphere-Proxy

### Expected behavior

execute subquery success and get result

### Actual behavior

Column index out of range exception occur

![image](https://user-images.githubusercontent.com/10829171/122167599-c7b

[2021-06-16 07:24] #10746 closed

[2021-06-16 08:13] #10832 closed

[2021-06-16 09:38] terrymanu commented on #10796
You are correct

[2021-06-16 09:39] terrymanu commented on #10796
It is better to mock sqlParserExecutor and parseTreeCache, then verify the call times of `parse`

[2021-06-16 11:04] RaigorJiang commented on #10138
Hi @zhoubonet
The cause of the exception has been found and will be fixed soon.

[2021-06-16 12:42] tristaZero commented on #10787
Hi, I suppose it will be online next week.

[2021-06-16 12:47] tristaZero commented on #10697
Hi @xiaoshen11
I just restart the CI task, let us wait for the result. Plus, some comments are expected to be dealt with.

[2021-06-16 16:33] terrymanu commented on #10823
**For English only**, other languages will not accept.

[2021-06-16 16:33] #10823 closed

[2021-06-17 02:13] stelin commented on #10699
Can supported table match rules:

`
shardingRule:
  tables:
   order_*:
        actualDataNodes: demo_ds_${0..1}.t_order_${0..1}
        databaseStrategy:
          hint:
            algorithmClassName: io.shardingsphere.userAlgo.HintAlgorithm
        tableStrategy:
          hint:
            algorithmClassName: io.shardingsphere.userAlgo.HintAlgorithm
`

[2021-06-17 02:46] sgc109 opened #10837 "Can I use ShardingSphere fully reactive with R2DBC without proxy and sidecar?"
Hi, I'm a newbie for this great library and I have a question!

I've googled and looked for documentations and Github issues, but there I couldn't find any mention of R2DBC in an environment that doesn't use proxy.

When I see documentation for ShardingSphere-JDBC, it only talks about JDBC.

I saw some discussions in this issue(https://github.com/apache/shardingsphere/issues/8073) and I wonder if

[2021-06-17 05:07] sizzlecar commented on #10403
Let me try

[2021-06-17 05:34] strongduanmu commented on #10403
@sizzlecar Welcome and assigned.

[2021-06-17 06:37] ymfffff commented on #9584
我也出现了这个问题，有解决么

[2021-06-17 07:16] shihaozhangtong opened #10841 "sharding-sate：The global timeout is not set"
function：org.apache.shardingsphere.transaction.base.seata.at.SeataATShardingTransactionManager#begin
image：
![image](https://user-images.githubusercontent.com/54934390/122349445-d87f9180-cf7e-11eb-8b8f-9e58153ac410.png)

[2021-06-17 08:35] tristaZero commented on #10678
Hi @Beyondeclipse ,

Sorry for my late reply. I am interested in what you mentioned, could you give more explanation on `lazy loading`?

[2021-06-17 08:38] trycache0828 opened #10843 "Sharding-JDBC 4.1.0：ShardingSphereException: Cannot support Multiple-Table for org.apache.shardingsphere.sql.parser.sql.statement.dml.DeleteStatement"
## Question

The deletion operation encountered this problem：

org.apache.shardingsphere.underlying.common.exception.ShardingSphereException: Cannot support Multiple-Table for &apos;org.apache.shardingsphere.sql.parser.sql.statement.dml.DeleteStatement@2c20c02f&apos;.

![QQ截图20210617162736](https://user-images.githubusercontent.com/14318621/122361765-22ba4000-cf8a-11eb-8c0c-5a02ae95d974.png)

## U

[2021-06-17 08:41] RaigorJiang opened #10844 "Modify getSaneResult() implementation of Sharding JDBC"
Ref to #10138
We found that there is a problem with the implementation of `getSaneResult`, which will cause SQL execution exceptions to not be thrown normally.
Now we are going to change all the anonymous implementations of the `getSaneResult` method used in Sharding-JDBC to return `Optional.empty()` so that the code structure can be preserved and expanded when needed in the future.

Impacted clas

[2021-06-17 09:36] RaigorJiang commented on #10138
Hi @zhoubonet
You can have a test after the PR merged, thanks for your careful testing.

[2021-06-17 09:37] xianshun163 commented on #10092
@strongduanmu
it work well now。 But when  I  view the code ,  Is that a  but  here：
code:  QueryHeaderBuilder.java
line about 78, where I  sign (!!)
sql: select o.id from ( select order_id as id from t_order ) o;
when the order_id is a primaryKey,  this code  can not  judge  Correct , because  the columnName is  change as  "id" , it can not get from the tableMetaData object.

 if (null != actualTa

[2021-06-17 11:31] terrymanu commented on #10810
What I mean is in GitHub Action, mvn install failure

[2021-06-18 01:26] zhoubonet commented on #10138
ok

[2021-06-18 03:26] CheerwayRen commented on #8038
Hello, what is the latest progress in this issue? Our project reconstruction needs to introduce sharding-jdbc

[2021-06-18 03:40] TeslaCN opened #10852 "Some CSS code appeared in documents"
## Bug Report

https://shardingsphere.apache.org/blog/cn/videos/

![image](https://user-images.githubusercontent.com/20503072/122502801-e9391180-d029-11eb-9cd9-d3f235ca4775.png)

[2021-06-18 06:31] stelin opened #10857 "Why default-database-strategy is supported for different version?"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-18 06:37] stelin commented on #10857
@strongduanmu

[2021-06-18 06:45] stelin commented on #10857
like https://github.com/apache/shardingsphere/issues/5970

![image](https://user-images.githubusercontent.com/1677543/122518438-c74c8880-d043-11eb-873b-63b1581fc7a6.png)

[2021-06-18 07:38] #10796 closed

[2021-06-18 07:44] #10844 closed

[2021-06-18 07:46] strongduanmu commented on #10857
@stelin Do you mean to use `default-database-strategy` in read-write separation scenarios?

In issue #10699, I have explained that `default-database-strategy` is used in `sharding` scenarios. Read-write splitting will automatically determine whether to use the write database or the read database.

[2021-06-18 08:00] strongduanmu commented on #10843
@trycache0828 What is the type of two tables? BTW, can you the latest version?

[2021-06-18 08:02] strongduanmu commented on #10827
@think-gem I am very sorry to tell you that `UNION` is not supported now, you can refer to the [document](https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/#%E4%B8%8D%E6%94%AF%E6%8C%81%E7%9A%84sql-1) for details.

[2021-06-18 08:03] trycache0828 commented on #10843
Problem resolved, SQL statement alias setting problem in project.

So,the solution is to remove the alias in the query condition code!

Thank you for your attention!

## Original SQL

DELETE FROM s_tantic WHERE s_tantic.code = '0010'  AND ID = '8aa0b39f7960f4c801764b287c303856'

## New SQL

DELETE FROM s_tantic WHERE code = '0010'  AND ID = '8aa0b39f7960f4c801764b287c303856'

## Inspiration for pr

[2021-06-18 08:03] #10843 closed

[2021-06-18 08:06] RaigorJiang commented on #10761
Hi @No-Silver-J
It is a little complicated to implement SPI, so we provided a way to define custom algorithm called `class based sharding algorithm`,  please ref to

[2021-06-18 08:09] trycache0828 commented on #10843
Sharding JDBC middleware version has been changed from 4.1.0 to 4.1.1. Tried to use sharding JDBC middleware version 5.0.0-alpha.I heard that the latest version is 5.0.0

[2021-06-18 08:10] trycache0828 commented on #10843
Sharding JDBC middleware version has been changed from 4.1.0 to 4.1.1. Tried to use sharding JDBC middleware version 5.0.0-alpha.I heard that the latest version is 5.0.0

[2021-06-18 08:13] strongduanmu commented on #10843
@trycache0828 The result of SQL rewriting of version 4.1 is wrong, you can try version 5.x to see if there are similar problems?

[2021-06-18 08:19] ysyysjbama opened #10861 "Double quote is removed when using AVG aggregation function"
## Bug Report
* Sharding-JDBC version:  4.1.1
* database : PostgreSQL
  In my database , table column is  **uppercase**,  because PostgreSQL is case sensitive,I have to use **double quote** in the sql query column . It is OK until I use AVG aggregation function in my query statement.
The original SQL :
[code]

the rewrited SQL (Sharding-JDBC ):
[code]
In the rewrited SQL , COUNT ( A.DIRECTION ) an

[2021-06-18 08:21] trycache0828 commented on #10843
Sharding JDBC middleware version 5.0.0 cannot be downloaded.

## Dependency package

    <dependency>
        <groupId>org.apache.shardingsphere</groupId>
        <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
        <version>5.0.0</version>
    </dependency>

    <dependency>
        <groupId>org.apache.shardingsphere</groupId>
        <artifactId>sharding-jdbc-core</artifactId>

[2021-06-18 08:25] darkaquarius opened #10862 "When to support native auto-incrementing primary keys"
When can we support native auto-incrementing primary keys, some of our tables need to use auto-incrementing primary keys

[2021-06-18 08:32] #10565 closed

[2021-06-18 08:49] RaigorJiang opened #10863 "Inconsistent case check problem"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1 & 5.0.0-RC1-SNAPSHOT

There is an inconsistency in case handling in class `TablesContext` and `ProjectionsContextEngine`, which needs to be corrected.

![image](https://user-images.githubusercontent.com/5668787/122533896-9a54a180-d054-11eb-8958-a19565c2d981.png)

[2021-06-18 08:51] zoujianchao commented on #10863
I'll do it

[2021-06-18 08:51] yx9o commented on #10863
could you assign this issue to me

[2021-06-18 08:55] RaigorJiang commented on #10863
Hi @zoujianchao
Welcome~

[2021-06-18 08:56] stelin commented on #10857
default-database-strategy use to swith datasource. 4.0.0.rc2 is supported for test.

[2021-06-18 08:58] darkaquarius commented on #10862
when I insert a line to table skill_theme_read, or table skill_evaluation_xx，do NOT support auto-incrementing primary keys

shardingsphere version: 5.0.0-RC1-SNAPSHOT
Table Structure:
CREATE TABLE `skill_theme_read` (
  `id` bigint(11) unsigned NOT NULL AUTO_INCREMENT,
  `uid` bigint(20) NOT NULL,
  `theme_id` bigint(11) NOT NULL COMMENT 'theme_info表的id，主题id',
  `update_time` timestamp NOT NULL DE

[2021-06-18 09:00] RaigorJiang commented on #10863
@yx9o  Sorry, I do not hava permission to assign task, and @zoujianchao has take it,  please try another issue, thank you.

[2021-06-18 09:00] stelin commented on #10857
Now must to use 4.0.0.rc2.

[2021-06-18 09:03] stelin commented on #10857
I think this is  a bug in 4.1.1.

[2021-06-18 09:46] strongduanmu commented on #10564
Fixed by #10856.

[2021-06-18 09:46] #10564 closed

[2021-06-18 09:50] strongduanmu commented on #10857
@stelin No, it's not a bug. If you need to use `default-database-strategy` in `read-write splitting` scenarios, you can integrate `read-write splitting` and `sharding` together.

[2021-06-18 09:56] strongduanmu commented on #10843
@trycache0828 Change maven groupId to `org.apache.shardingsphere`.

[2021-06-18 10:04] MaShenLin opened #10866 "Does Sharding-Proxy currently support the numeric and bool types in PostgreSQL, or is there any way to extend it?"
Does Sharding-Proxy currently support the numeric and bool types in PostgreSQL, or is there any way to extend it?

eg: Error
1、 Cannot find PostgreSQL type 'POSTGRESQL_TYPE_NUMERIC' in column type when process binary protocol value
2、Cannot find PostgreSQL type 'POSTGRESQL_TYPE_BOOL' in column type when process binary protocol value

[2021-06-18 10:10] tristaZero commented on #10787
Hi, [Mail list](https://lists.apache.org/thread.html/rb2132469b082ed42ca2621c57af900c5ea0d4160283f0856da7e841e%40%3Cdev.shardingsphere.apache.org%3E) will show you what is going on.

[2021-06-18 10:10] #10866 closed

[2021-06-18 10:15] strongduanmu commented on #10861
@ysyysjbama Thank you for your feedback, are you interested in submitting a PR to fix this problem?

[2021-06-18 10:20] nanzheng opened #10867 "AESEncryptAlgorithm can Not use Properties to get the right AES_KEY Value"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-18 10:45] strongduanmu opened #10868 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_AND_SHARDING_TABLES statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-18 11:02] strongduanmu commented on #8038
@CheerwayRen Can you modify this demo with `5.0.0-alpha`? Version `4.1.1` will no longer be maintained.

[2021-06-18 12:34] wolegequya commented on #10472
I also met the same problem. How can I solve it

[2021-06-18 12:41] wolegequya commented on #10472
求教，你的问题解决了么？

[2021-06-18 13:22] tristaZero commented on #10787
[The vote](https://lists.apache.org/thread.html/r2d33d7951061f3abbb3d91d2b69816acfc5da6d47ce4e57fafd0672a%40%3Cdev.shardingsphere.apache.org%3E) of this release passed, thanks for your review. I will publish it ASAP.

[2021-06-19 02:08] stelin commented on #10857
Must sharding together is very strange!

[2021-06-19 05:49] valleyG opened #10879 "sharding-jdbc sql parse error"
## Bug Report
**execute sql :**
[code]

**Exception stack:**
[code]

### Which version of ShardingSphere did you use?

5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
sql parse error
### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule con

[2021-06-19 09:27] CheerwayRen commented on #8038
OK, you can switch to  branch  version5.0.0 or click the link below. This problem can still be repeated. Please confirm it as soon as possible. Thank you!
https://github.com/CheerwayRen/sharding-demo/tree/version5.0.0

![微信图片_20210619172556](https://user-images.githubusercontent.com/38515283/122637860-73b16c00-d123-11eb-8c46-e5be3dd4f8dc.png)

[2021-06-19 12:37] tristaZero commented on #10787
Hi all,

5.0.0-beta has released now, thanks for your attention.

You will find the announcement here.
https://lists.apache.org/thread.html/r3b91e470044c2f8151906b66c49f2d618c28f775085408a14d55aec7%40%3Cdev.shardingsphere.apache.org%3E

[2021-06-19 15:56] think-gem commented on #10826
Thanks, Im try.

[2021-06-19 15:56] #10826 closed

[2021-06-19 18:05] bankly opened #10883 "broadcast-tables"
Bug Report

version：shardingsphere-jdbc 5.0.0-alph

Configuration Spring boot starter broadcast-tables is invalid , but spring namespace is valid

spring.shardingsphere.rules.sharding.broadcast-tables=area

[2021-06-20 08:01] #10697 closed

[2021-06-20 08:15] tristaZero commented on #10375
@zhujunxxxxx If you are about to raise a PR, please mention and link this issue.

[2021-06-20 08:16] tristaZero commented on #9568
@sandynz If you have any plan or schedule on this issue, please comment here to let the community know what is going on.

[2021-06-20 08:18] tristaZero commented on #10092
@xianshun163 So is that a potential bug?

[2021-06-20 09:07] #10787 closed

[2021-06-20 11:15] tristaZero opened #10887 "[Event] Apache ShardingSphere will participate OSD2021 program as the partner project"
Hi community,

We are honored to accept the invitation from `AnitaB.org` to attend [OpenSourceDayGHC2021](https://ghc.anitab.org/programs-and-awards/open-source-day/). 🎉

Open Source Day (OSD) is an all-day hackathon (including workshops), in which participants of all skill levels learn about Open Source while contributing to projects designed to solve real-world problems (**Appreciated, IMO**).

[2021-06-20 11:26] tristaZero opened #10888 "Add unit test for DatabasePrivileges of database authority module"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `DatabasePrivileges` to test its public functions.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `PrivilegeMergeTest`

[2021-06-20 12:32] zhujunxxxxx commented on #10888
I want to try this issue. [OSD2021]

[2021-06-21 01:51] strongduanmu commented on #10883
@bankly Can you show more infomation?

[2021-06-21 02:17] trycache0828 commented on #10843
maven artifactId sharding-jdbc-spring-boot-starter Is it necessary?I've added shardingsphere-jdbc-core for 5.0.0-beta.What's the difference between the three.（sharding-jdbc-spring-boot-starter, sharding-jdbc-core and shardingsphere-jdbc-core）

[2021-06-21 02:22] trycache0828 commented on #10843
maven artifactId sharding-jdbc-spring-boot-starter Is it necessary?I've added shardingsphere-jdbc-core for 5.0.0-beta.What's the difference between the three.（sharding-jdbc-spring-boot-starter, sharding-jdbc-core and shardingsphere-jdbc-core）

[2021-06-21 02:43] trycache0828 commented on #10843
Can't find Class for org.apache.shardingsphere.api.sharding.standard.PreciseShardingAlgorithm and org.apache.shardingsphere.api.sharding.standard.RangeShardingAlgorithm etc.

Use middleware version 5.0.0-beta

## Dependency package

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>

[2021-06-21 02:53] strongduanmu commented on #10843
@trycache0828 In version 5.0.0-beta, PreciseShardingAlgorithm has been integrated into StandardShardingAlgorithm, please refer to the official documentation for more information.

[2021-06-21 03:19] strongduanmu commented on #8038
@CheerwayRen Thank you very much for your demo. Which database is the `mng_sale_amount_month` table in? base or aliyun?

[2021-06-21 03:20] #10138 closed

[2021-06-21 03:31] CheerwayRen commented on #8038
There are no database shardingRules configured here，You can use the default base ，I have both configured the same database in base and aliyun

[2021-06-21 03:46] strongduanmu commented on #8038
@CheerwayRen If `mng_sale_amount_month` is not a broadcast table, then the `left join statement` may have a cross-database join scenario, which is not supported in the alpha version.

[2021-06-21 04:41] CheerwayRen commented on #8038
There is no rule to configure the sub database. All queries go to the default database. There should be no case you said. You can try to remove the configuration of a database, or I'll go back to update the demo in the evening

[2021-06-21 05:00] soulasuna opened #10891 "Suggestions on the example project"
## Suggestions on the example project

When using the example project, I found that some startup classes with different functions have the same name (ExampleMain).

It is not friendly for developers who use the example project to understand the corresponding functions,In the UI display in the IDE is not very recognizable.

At the same time, the jdbc_url link parameter configuration in the unified

[2021-06-21 05:20] taojintianxia commented on #10891
what I believe, is that make the demo / example as"stupid" as it could be.
no lambda, no abstraction, no design pattern, no programming skill show off .

to make the people who has less than 1 year Java experience could easily understand is the best.

[2021-06-21 05:35] tristaZero commented on #10891
Hi @soulasuna ,

Thanks for your first issue here. It looks fine with me, please go ahead. Also, you can give some consideration on @taojintianxia 's suggestion.

[2021-06-21 06:13] strongduanmu commented on #8038
@CheerwayRen I tried the demo, the `5.0.0-alpha` version has this problem, the latest `5.0.0-beta` has been fixed, please upgrade the version.

[2021-06-21 06:20] CheerwayRen commented on #8038
OK, I'll try to upgrade to see if there is any more question, thank you

[2021-06-21 06:30] strongduanmu commented on #10879
@valleyG Thank you very much for your feedback, I will investigate this issue later.

[2021-06-21 08:23] LeeGuoPing commented on #10868
Hi, Can I work on this issue?

[2021-06-21 08:29] strongduanmu commented on #10868
@LeeGuoPing I'm very sorry, this issue is prepared for OSD2021, please see if you are interested in other issues.

[2021-06-21 09:17] tristaZero commented on #10888
@zhujunxxxxx Hey, this is designated for newcomer, I'd like to assign you some senior tasks.

[2021-06-21 11:25] CheerwayRen commented on #8038
![image](https://user-images.githubusercontent.com/38515283/122753772-4ef4fa00-d2c5-11eb-9f7e-678d68cc988f.png)
Hello, after I upgrade the version, the previous problem has been solved, but when MySQL configures sql_ mode is only_ full_ group_ by, there is a problem with SQL itself, but the framework throws  array out of bounds exception. When I modify sql_ mode to support the wrong group query, t

[2021-06-21 12:07] strongduanmu commented on #8038
@CheerwayRen This exception is caused by the two tables crossing databases and using calcite processing. The latest master branch optimizes this exception.

If you can guarantee that the two tables are in the same database, the exception will not occur.

[2021-06-21 13:21] xueshiji opened #10896 "booting error with oracle 11g"
**Which version of ShardingSphere did you use?**
5.0.0-beta
**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-JDBC
**Expected behavior**
Correct booting
**Actual behavior**
ORA-00904: "IDENTITY_COLUMN": Invalid identifier
**Reason analyze**
Oracle-11g's ALL_TAB_COLUMNS table does not have IDENTITY_COLUMN field.
![source](https://user-images.githubuserconten

[2021-06-21 14:09] TeslaCN opened #10898 "PostgreSQL Proxy doesn't support Portal"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-beta

### Expected behavior
When using PostgreSQL JDBC driver, we can `setFetchSize(1)` and `setAutoCommit(false)`. The returned ResultSet will use cursor and we can fetch rows as we need.

### Actual behavior
Even the client specify a named portal and fetch size, the Proxy will return all rows.

### Example codes for reproduce

[2021-06-21 18:12] SivaTharun commented on #10888
@tristaZero can i work on this issue?

[2021-06-22 03:07] viqbgrg opened #10900 "mysql json 5.0.0-beta fail to boot"
### Which version of ShardingSphere did you use?
implementation 'org.apache.shardingsphere:shardingsphere-jdbc-core-spring-boot-starter:5.0.0-beta'
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Start the project
### Actual behavior
Unable to start
### Reason analyze (If you can)
A MySQL table with a JSON field will fail to boo

[2021-06-22 03:12] trycache0828 opened #10901 "Sharding-JDBC 4.1.1：The number of query records is normal, and the query result is empty."
## Question

When I changed the datasource for JdbcTemplate to ShardingDataSource,The number of query records is normal, and the query result is empty.But if it is not set, the result is normal.

![jdbcTemplate20210622110142](https://user-images.githubusercontent.com/14318621/122856909-3844b680-d34a-11eb-881c-c70b3a442e3a.png)

![jdbcTemplate20210624](https://user-images.githubusercontent.com/1431

[2021-06-22 03:28] number68 commented on #9337
Could shardingsphere jdbc 4.1.1 support match() against('' in boolean mode) parse recently?
Upgrading to 5.0-beata is a big change and needs too much work to be done.

[2021-06-22 04:03] tristaZero opened #10902 "Improve AllPrivilegesPermittedAuthorityProviderAlgorithm and add UT"
Hi community,

This issue is for #10887.

### Aim
- Define AllPrivilegesPermittedShardingSpherePrivileges as a `final` class
- Add unit test for `AllPrivilegesPermittedAuthorityProviderAlgorithm` to test its public functions.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `PrivilegeMergeTest`

[2021-06-22 04:04] tristaZero commented on #10888
If you're interested in such issues, I recommend #10902 for you. @SivaTharun

[2021-06-22 04:06] tristaZero opened #10903 "Add Unit test for NativeAuthorityProviderAlgorithm"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `NativeAuthorityProviderAlgorithm` to test its public functions.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Example FYI
- `PrivilegeMergeTest`

[2021-06-22 04:08] tristaZero opened #10904 "Add Unit test for StoragePrivilegeBuilder"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `StoragePrivilegeBuilder` to test its public functions.

### Basic Qualifications
- Java
- Maven
- Junit.Test

### Tips
- You can consider H2 database for test if you like.

### Example FYI
- `StoragePrivilegeBuilder`

[2021-06-22 04:08] tristaZero commented on #10888
@zhujunxxxxx Do you want to have a try with #10904?

[2021-06-22 04:49] SivaTharun commented on #10902
@tristaZero can i work on this issue?

[2021-06-22 04:56] terrymanu opened #10907 "Decouple rule based DistSQL handler into related feature modules"
The DistSQL handlers are in proxy handler which need to decouple with proxy only and put them into related feature modules.

The tasks are:

- [x] Use RQLResultSet to decouple proxy and DistSQL handler
- [x] Use SPI to introduce rule based RQL
- [x] Use SPI to introduce rule based RDL
- [x] Add distsql-handler for every feature module

[2021-06-22 06:28] strongduanmu opened #10908 "RelSubset has wrong best cost error occur when execute federate query with shardingsphere-integration-test-suite"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

return result without exception

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exceptio

[2021-06-22 06:47] tristaZero commented on #10902
Assigned to U.

[2021-06-22 07:38] zhouyongtao opened #10909 ""Cannot find strategy for generate keys." error when jpa save"
## Bug Report
### Which version of ShardingSphere did you use?
[code]
JPA + ShardingSphere 5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

### Actual behavior

Cannot find strategy for generate keys.

### Reason analyze (If you can)

this table not sharding table , code enters here  !

[code]

[code]

[2021-06-22 08:12] CheerwayRen commented on #8038
ok ,When I deploy sharding-JDBC to our central repository, I will load a file. We do not have access to this file. We report the following error. What should I do with this

Failed to execute goal org.apache.maven.plugins:maven-deploy-plugin:2.8.2:deploy (default-deploy) on project shardingsphere: Failed to deploy artifacts: Could not transfer artifact org.apache.shardingsphere:shardingsphere:pom:

[2021-06-22 08:27] Beyondeclipse commented on #10678
@tristaZero I found the root cause of slowing down my system is loading all 'TableMetaData' twice:
1. ShardingSphereDataSource -> MetaDataContextsBuilder.build -> MetaDataContextsBuilder.buildMetaData -> SchemaBuilder.build
2. ShardingSphereDataSource -> MetaDataContextsBuilder.build -> StandardMetaDataContexts -> OptimizeContextFactory -> FederateSchemaMetadatas -> FederateSchemaMetadata.initTabl

[2021-06-22 09:02] kushalhalder opened #10912 "RangeShardingAlgorithm throws: Factory method 'shardingDataSource' threw exception; nested exception is java.lang.NullPointerException"
Factory method 'shardingDataSource' threw exception; nested exception is java.lang.NullPointerException
If default database strategy has been defined with range algorithm, it throws the above error.

If I include precise with range, then only precise is picked up.

What is wrong here?
[code]
I do not need Precise, just Range would do.

[2021-06-22 10:20] Beyondeclipse commented on #10761
Hi @No-Silver-J
It is not that difficult to implement algorithm SPI . Please try to follow this example:
1. Create your class  implemented org.apache.shardingsphere.sharding.api.sharding.standard.StandardShardingAlgorithm.
2. Create file "org.apache.shardingsphere.sharding.spi.ShardingAlgorithm" in src/main/resources/META-INF/services.
3. Add your class with package in the file, like: "xxxx.xxx.xx

[2021-06-22 10:47] Beyondeclipse commented on #8686
@liuchaoheliang Parser engine need to create/load many objects in the first time, and it takes time.

[2021-06-22 10:54] strongduanmu commented on #10908
As can be seen from the `VolcanoPlanner` source code, this exception will only be checked when `isDebugEnabled=true`. This problem can be avoided by adjusting the log level.

[code]

[2021-06-22 11:10] strongduanmu commented on #10908
Fixed by #10913.

[2021-06-22 11:10] #10908 closed

[2021-06-22 11:25] strongduanmu opened #10915 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_AND_SHARDING_TABLES_ALIAS statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:27] strongduanmu opened #10916 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_AND_SHARDING_TABLES_REWRITE statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:30] strongduanmu opened #10917 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_AND_SHARDING_TABLES_ORDER_BY statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:32] strongduanmu opened #10918 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_TABLES_WITH_ENCRYPT statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:34] strongduanmu opened #10919 "Refactor SELECT_SQL_BY_ID_ACROSS_SINGLE_AND_SHARDING_TABLES_WITH_ENCRYPT statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:35] strongduanmu opened #10920 "Refactor SELECT_SQL_BY_ID_ACROSS_TWO_SHARDING_TABLES statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:37] strongduanmu opened #10921 "Refactor SELECT_HAVING_SQL_FOR_SHARDING_TABLE statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:39] strongduanmu opened #10922 "Refactor SELECT_SUBQUEY_AGGREGATION_SQL_FOR_SHARDING_TABLE statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 11:41] strongduanmu opened #10923 "Refactor SELECT_PARTIAL_DISTINCT_AGGREGATION_SQL_FOR_SHARDING_TABLE statement with shardingsphere-integration-test"
Hi community,

This issue is for #10887.

# Background

Currently `FederateStatementTest` and `FederatePrepareStatementTest` use JUNIT to test SQL statements. In order to improve test coverage and code elegance, we need to migrate the test scenarios of FederateStatementTest and FederatePrepareStatementTest to `shardingsphere-integration-test`.

# Target

The goal of this issue is to migrate the `S

[2021-06-22 13:19] sizzlecar commented on #10903
Let me try

[2021-06-22 14:09] sandynz commented on #9568
Hi @tristaZero , A general plan:
1. Show `Info` column
2. Support DML statement processlist
    - In order to keep DML statements execution performance, execute process will not be reported immediately, it will be cached in local memory for some time, and there is threshold setting (e.g. 100 ms), if the execution completed within the threshold, then cancel the reporting

[2021-06-22 14:23] totalo commented on #10852
hi @TeslaCN .I have a local test, as if writing like this is no problem, please take a look

[2021-06-22 15:02] totalo commented on #10852
![image](https://user-images.githubusercontent.com/29777558/122948006-25170280-d3ad-11eb-81dd-1435ad9623bb.png)

[2021-06-22 15:18] kxw07 commented on #10127
Not work.
And it always uses spring.shardingsphere.datasource.names the first value for query.

My yaml file content:
[code]

[2021-06-22 15:26] viqbgrg opened #10927 "DriverJDBCExecutor.java Cannot throw an SQLException exception"
5.0.0-beta
DriverJDBCExecutor.java Cannot throw an SQLException exception

[2021-06-22 16:33] kxw07 commented on #10127
Updated:

Using sharding-sphere 5.0.0-beta with yaml below load-balancer works.

[code]

[2021-06-23 00:41] #10403 closed

[2021-06-23 02:22] RaigorJiang opened #10928 "[Doc] Add English documentation for DistSQL"
Hi, ShardingSphere 5.0.0-beta will be released soon, and DistSQL is an important feature, but I found that the English documentation of DistSQL is still in **'TODO'** status and needs to be added urgently. (Can be translated from the corresponding Chinese page)
The following is a list of document tasks that need to be processed, if anyone wants to help, please claim one(or some) of them.
**(Please

[2021-06-23 02:28] RaigorJiang commented on #10928
I'll fix `RDL Syntax` first.

[2021-06-23 02:30] soulasuna commented on #10928
I want to get involved

[2021-06-23 02:33] soulasuna commented on #10928
I want to do RQL Syntax

[2021-06-23 02:47] RaigorJiang commented on #10928
@soulasuna  Thanks for joining

[2021-06-23 03:01] zhengyunpengby opened #10929 "4.0.0-RC2 版本使用distinct DATE_FORMAT(settle_time, '%Y-%m-%d')报错"
![image](https://user-images.githubusercontent.com/17721768/123028607-35ad9400-d412-11eb-8d0b-72f2fff8c083.png)
DistinctQueryResult中的getColumnIndex返回结果为null导致后续QueryRow中hashCode()运行空指针异常

[2021-06-23 03:03] zhengyunpengby commented on #10929
异常信息：
`Caused by: java.lang.NullPointerException: null
	at org.apache.shardingsphere.core.execute.sql.execute.row.QueryRow$1.apply(QueryRow.java:82)
	at org.apache.shardingsphere.core.execute.sql.execute.row.QueryRow$1.apply(QueryRow.java:78)
	at com.google.common.collect.Lists$TransformingRandomAccessList$1.transform(Lists.java:616)
	at com.google.common.collect.TransformedIterator.next(Transform

[2021-06-23 03:07] zhengyunpengby opened #10930 "4.0.0-RC2 版本 group by中使用日期格式化报错"
DQLMergeEngine对象创建时使用SQLUtil.getExactlyValue导致格式化中的''被清除，
![image](https://user-images.githubusercontent.com/17721768/123029021-02b7d000-d413-11eb-85e3-05d7c25086a8.png)
进行校验时的key带有''无法匹配
![image](https://user-images.githubusercontent.com/17721768/123029107-2d098d80-d413-11eb-918d-a19598ef51ae.png)

报错信息：
`### The error may involve com.hydee.h3.dao.OrderInfoMapper.findList
### The error occurred w

[2021-06-23 03:35] yx9o commented on #10928
I can handle “syntax” and “SCTL Syntax”

[2021-06-23 03:35] monkeymada opened #10931 "sharding-jdbc 4.1.1 使用hint 强制路由策略时 发现仍有些 sql 报错不支持"
## Question
sharding-jdbc 4.1.1 使用hint 强制路由策略时 发现仍有些 sql 报错不支持，不是使用hint强制路由可以跳过 sql 解析和改写吗 为什么还会报一些sql 不支持（例如两个表的关联更新）

[2021-06-23 04:03] RaigorJiang commented on #10928
@yx9o  Thank you

[2021-06-23 05:16] #10852 closed

[2021-06-23 05:38] monkeymada opened #10933 "sharding-jdbc 4.1.1 设置hint强制路由策略 只分库不分表 为何还有sql 不支持"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-23 05:57] shenyao2333 opened #10934 "一些复杂的sql报错"
#### 想从一个老项目里针对多数据源进行升级，在我使用了sharding-jdbc后，发现以前运行正常的sql现在报错了，简单的sql到是正常，像表关联表比较多的就直接不行了，它会报Can not find owner from table.错误，或者 Cause: java.lang.IndexOutOfBoundsException: Index: 0] with root cause错误，

这只是随便点两下发现的错误，我猜后面还有一些不支持的sql，所以就只能放弃这次升级了。

### 希望大佬能尽快修复一下这些bug，可以让老项目直接迁移使用

我粘贴一个报错的sql
SELECT * FROM
	( SELECT strength, game_id, member_id, crated_time FROM club_sugar_game GROUP BY member_id,

[2021-06-23 07:19] fenglex opened #10936 "spring-boot-start启动报错"
使用以下配置项启动shardingsphere-jdbc-core-spring-boot-starter

使用shardingsphere-jdbc-core-spring-boot-starter 版本是5.0.0-beta
spring-boot版本是2.5.0
[code]

[2021-06-23 08:03] fenglex opened #10937 "shardingsphere-jdbc-core-spring-boot-starter 无法启动问题"
使用以下配置项启动shardingsphere-jdbc-core-spring-boot-starter

使用shardingsphere-jdbc-core-spring-boot-starter 版本是5.0.0-beta
spring-boot版本是2.5.0
[code]
发现问题是因为使用yaml配置文件配置后，sharding-count在HashModShardingAlgorithm类中getShardingCount方法时this.props.getProperty("sharding-count")取到的值实际是null，因为yaml的 sharding-count的类型成了integer类型造成的，希望能修复这个问题

[2021-06-23 08:04] fenglex commented on #10936
move to[]( https://github.com/apache/shardingsphere/issues/10937)

[2021-06-23 08:05] childewuque opened #10938 "about init metadata of tables"
shardingsphere jdbc 5
springboot2.3

I have a project it uses only one logic table，but there are 10000 other tables  in the same db for other projects
When my project starting，shardingsphere jdbc will init all tables' metadata,then the process seem like "sleep"

Can I exclude other tables in my sharding project?
Thanks

[2021-06-23 08:38] strongduanmu commented on #10929
@zhengyunpengby English only, other language will not be accept.

[2021-06-23 08:38] #10929 closed

[2021-06-23 08:39] strongduanmu commented on #10930
@zhengyunpengby For english only, other language will not be accept.

[2021-06-23 08:39] #10930 closed

[2021-06-23 08:39] strongduanmu commented on #10931
@monkeymada For english only, other language will not be accept.

[2021-06-23 08:39] #10931 closed

[2021-06-23 08:40] strongduanmu commented on #10933
@monkeymada For english only, other language will not be accept.

[2021-06-23 08:40] #10933 closed

[2021-06-23 08:40] strongduanmu commented on #10934
@shenyao2333 For english only, other language will not be accept.

[2021-06-23 08:40] #10934 closed

[2021-06-23 08:41] strongduanmu commented on #10936
@fenglex For english only, other language will not be accept.

[2021-06-23 08:41] #10936 closed

[2021-06-23 08:41] strongduanmu commented on #10937
@fenglex For english only, other language will not be accept.

[2021-06-23 08:41] #10937 closed

[2021-06-23 08:43] strongduanmu commented on #8038
Fixed in master branch.

[2021-06-23 08:43] #8038 closed

[2021-06-23 08:51] Yule-Momoko opened #10940 "Sharding-JDBC 4.1.1 sets the hint cast policy. Why is there still some SQL that does not support the hint cast policy"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-23 09:10] zhengyunpengby opened #10943 "4.0.0-RC2 distinct DATE_FORMAT(settle_time, '%Y-%m-%d') error"
SQL：select  distinct DATE_FORMAT(test_time, '%Y-%m-%d')  from t

Caused by: java.lang.NullPointerException: null at org.apache.shardingsphere.core.execute.sql.execute.row.QueryRow$1.apply(QueryRow.java:82) at org.apache.shardingsphere.core.execute.sql.execute.row.QueryRow$1.apply(QueryRow.java:78) at com.google.common.collect.Lists$TransformingRandomAccessList$1.transform(Lists.java:616) at com.go

[2021-06-23 09:13] zhengyunpengby opened #10944 "4.0.0.RC2 use DATE_FORMAT(settle_time, '%Y-%m-%d') in 'group by' error"
`### The error may involve com.hydee.h3.dao.OrderInfoMapper.findList

The error occurred while handling results
SQL: select DATE_FORMAT(settle_time, '%Y-%m-%d') from t_order_info where modify_time between ? and ? and settle_time is not null group by DATE_FORMAT(settle_time, '%Y-%m-%d') ORDER BY DATE_FORMAT(settle_time,'%Y-%m-%d') ASC
Cause: java.lang.IllegalStateException: Can't find index: org.ap

[2021-06-23 11:00] RaigorJiang commented on #10928
Fixes by #10939, #10945, #10946

[2021-06-23 11:00] #10928 closed

[2021-06-23 11:14] terrymanu commented on #10938
What is the actual version, 5 is never released yet

[2021-06-23 11:14] terrymanu commented on #10927
What is the mean, can you explain the details?

[2021-06-23 12:13] #10879 closed

[2021-06-23 12:17] childewuque commented on #10938
Master，downloaded on May 20

I find the method in ShardingRule.java:
    private Collection<String> getExcludedTables() {
        Collection<String> result = new HashSet<>(getTables());
        result.addAll(getAllActualTables());
        result.addAll(broadcastTables);
        return result;
    }

So I add all tables at actual-data-nodes for excluding other tables.

sample code:
tables:

[2021-06-23 12:27] #10898 closed

[2021-06-23 12:42] terrymanu commented on #10938
The version 5.0.0-beta has already resolve this problem.

[2021-06-23 14:57] Yule-Momoko opened #10952 "Is there a Sharding-JDBC 5.0.0-alpha hint configuration demo"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-06-23 16:16] viqbgrg commented on #10927
When SQL execution fails, no exception is thrown

[2021-06-24 02:05] childewuque commented on #10938
Thanks
I try the version.

[2021-06-24 02:57] strongduanmu commented on #10952
@monkeymada You can refer to the example module in the `shardingsphere` source code project, we provide `hint-example`.

[2021-06-24 03:01] strongduanmu commented on #10944
@zhengyunpengby Can you try the latest `5.0.0-beta` version?

[2021-06-24 03:01] strongduanmu commented on #10943
@zhengyunpengby Can you try the latest `5.0.0-beta` version?

[2021-06-24 03:09] strongduanmu commented on #10940
@monkeymada Hint provides a way to specify the sharding value from outside, user does not need to specify the sharding value in SQL, except for this, it is no different from other routing algorithms. The logic of parsing, verification, and routing will be executed normally.

[2021-06-24 03:12] strongduanmu commented on #10901
@trycache0828 Can you try the latest `5.0.0-beta` version? 4.1.1 is a historical version and will not be maintained.

[2021-06-24 03:20] trycache0828 opened #10954 "Sharding-JDBC 4.1.1：Error caused by column name is '' of SQL query statement"
## Bug Report

![sharding-jdbc-4 1 1-SQLUtil](https://user-images.githubusercontent.com/14318621/123197213-ca30f880-d4dd-11eb-97e2-1a263e8c04a5.png)

### Which version of ShardingSphere did you use?

4.1.1

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>

[2021-06-24 03:20] strongduanmu commented on #10896
@xueshiji Thank you very much for using the `5.0.0-beta` version and reporting the problem. Are you interested in submitting a PR to fix this problem?

[2021-06-24 03:22] strongduanmu commented on #10900
@viqbgrg Thank you very much for using the `5.0.0-beta` version and reporting the problem. I will investigate this issue later.

[2021-06-24 03:26] shenyao2333 opened #10955 "4.1.1 version ，Project upgrade SQL report error"
When I want from an old project integrated Sharding, found that there are some SQL query is not supported, and errors in some strange, such as:
- Java. Lang. ClassCastException:java.lang.String cannot be cast to java.lang.Integer
-  Error querying database.  Cause: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer
- Error querying database.  Cause: java.lang.IndexO

[2021-06-24 03:34] trycache0828 commented on #10901
I would like to upgrade the middleware version.But now the configuration parameters of the new version of middleware are not familiar, and the project is also in a hurry.At present, the simple configuration of integration test has not passed.

## Dependency package

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring

[2021-06-24 03:37] trycache0828 commented on #10955
Your SQL statement needs to be rewritten.All Subquery SQL statement  must carry fragment field.

[2021-06-24 04:03] childewuque commented on #10938
I test and debug  the project by configging one logic table at  actual-data-nodes now,the 5.0.0-beta version problem still exists.

FederateSchemaMetadata.java
 private void initTables(ShardingSphereMetaData metaData) throws SQLException {
        Collection<DataNodeContainedRule> dataNodeRules = this.getDataNodeContainedRules(metaData);
        Map<String, Collection<DataNode>> tableDataNodes = t

[2021-06-24 06:14] soulasuna opened #10957 "Test coverage check of shardingsphere/shardingsphere-agent project"
# Test coverage check of shardingsphere-agent project

hi, community
Hello, ShardingSphere 5.0.0-beta will be released soon, shardingsphere-gent is an important feature, but I found that shardingsphere-gent lacks some types of tests. The following is the test coverage and the missing classes.

## Test module：shardingsphere-agent-core

#### Test coverage
| package         |cvoerage           |
| --

[2021-06-24 06:38] taojintianxia opened #10958 "Add unit test for ComposeClassStaticMethodAroundAdvice and ComposeConstructorAdvice"
Hi community,

This issue is for #10887.

# Aim

Add unit test for ComposeClassStaticMethodAroundAdvice and ComposeConstructorAdvice to test its public functions.

- [ ] ComposeClassStaticMethodAroundAdvice
- [ ] ComposeConstructorAdvice

# Basic Qualifications
- Java
- Maven
- Junit.Test

# Example FYI

  - `PrivilegeMergeTest `

[2021-06-24 07:21] soulasuna opened #10959 "Add unit test for shardingsphere-db-protocol-mysql"
Hi community,

This issue is for #10887.

## Aim
Add unit test for
shardingsphere-db-protocol-mysql
project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for
MySQLDecimalBinlogProtocolValue and MySQLJsonValueDecoder to test its public functions.

- [ ] MySQLDecimalBinlogProtocolValue
- [ ] MySQLJsonValueDecoder

## Examples FYI

- MyS

[2021-06-24 07:22] soulasuna opened #10960 "Add unit test for shardingsphere-db-protocol-postgresql"
Hi community,

This issue is for #10887.

## Aim
Add unit test for
shardingsphere-db-protocol-postgresql
project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
- [ ] PostgreSQLComBindPacket

## Examples FYI
- PostgreSQLComBindPacketTest

[2021-06-24 07:30] soulasuna opened #10961 "Add unit test for shardingsphere-distsql-parser-engine"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-distsql-parser-engine project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for RuleSQLStatementParserEngine to test its public functions.

- [ ] RuleSQLStatementParserEngine

## Examples FYI
- DistSQLStatementParserEngineTest

[2021-06-24 07:39] #10678 closed

[2021-06-24 07:50] Yule-Momoko opened #10962 "Sharding-JDBC 5.0.0-alpha configuration error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-24 07:51] soulasuna opened #10963 "Add unit test for shardingsphere-db-discovery"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-db-discovery project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] DatabaseDiscoveryRuleLexer
- [ ] DatabaseDiscoveryRuleParser
- [ ] DatabaseDiscoveryRuleSQLStatementVisitor
- [ ] DatabaseDiscoveryRuleSQL

[2021-06-24 07:52] monkeymada commented on #10952
Refer to the document configuration but always report an error:
Caused by: org.apache.shardingsphere.infra.spi.exception.ServiceProviderNotFoundException: No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm` with type `CLASS_BASED`.
Configuration details:

#sharding-jdbc
#spring.shardingsphere.datasource.names=ds1,ds2
spring.shardingsphere.datasource.com

[2021-06-24 07:56] strongduanmu commented on #10952
@monkeymada Please try `5.0.0-beta` version.

[2021-06-24 07:58] monkeymada commented on #10952
Could you please help me to check where is my configuration wrong

[2021-06-24 08:04] strongduanmu commented on #10952
@monkeymada The CLASS_BASED configuration is a new feature added in the beta version, so it can only be used after an upgrade.

[2021-06-24 08:08] soulasuna opened #10964 "Add unit test for shardingsphere-encrypt"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-encrypt project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] EncryptConditionEngine
- [ ] EncryptSQLRewriteContextDecorator
- [ ] EncryptAssignmentParameterRewriter
- [ ] EncryptInsertOnDuplicateKeyUpdate

[2021-06-24 08:11] monkeymada commented on #10952
Please tell me how to configure the hint mode correctly in 5.0.0-alpha. Please tell me how to configure the hint mode correctly

[2021-06-24 08:12] monkeymada commented on #10952
Plan to use online, so want to use stable version

[2021-06-24 08:19] soulasuna opened #10965 "Add unit test for shardingsphere-readwrite-splitting"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-readwrite-splitting project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] ReadwriteSplittingRuleStatementConverter

## Examples FYI
- YamlRootRuleConfigurationsForYamlReadwriteSplittingRuleConfigurationTes

[2021-06-24 08:26] soulasuna opened #10966 "Add unit test for shardingsphere-shadow"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-shadow project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] ShadowSQLRewriteContextDecorator
- [ ] ShadowInsertValueParameterRewriter
- [ ] ShadowPredicateParameterRewriter
- [ ] ShadowParameterRewriterBu

[2021-06-24 08:45] soulasuna opened #10968 "Add unit test for shardingsphere-sharding"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-sharding project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] ShardingTableMetaDataBuilder
- [ ] ShardingSQLRewriteContextDecorator
- [ ] ShardingGeneratedKeyInsertValueParameterRewriter
- [ ] ShardingPag

[2021-06-24 08:49] #10811 closed

[2021-06-24 09:00] soulasuna opened #10969 "Add unit test for shardingsphere-governance"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-governance project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] GovernanceExecuteProcessReporter

## Examples FYI
- GovernanceTransactionContextsTest

[2021-06-24 09:23] soulasuna opened #10970 "Add unit test for shardingsphere-infra-authority"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-authority project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [x] AuthorityChecker
- [x] StoragePrivilegeBuilder
- [x] NativeAuthorityProviderAlgorithm
- [x] AuthorityRuleBuilder
- [x] DefaultAuthority

[2021-06-24 09:31] soulasuna opened #10971 "Add unit test for shardingsphere-infra-binder"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-binder project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes

Add unit test for classes to test its public functions.

- [ ] AnalyzeTableStatementContext
- [ ] ExplainStatementContext
- [ ] ShowColumnsStatementContext
- [ ] ShowCreateTableStatementContext
- [ ] S

[2021-06-24 09:39] RaigorJiang opened #10972 "Optimize API change history documentation"
### Background

At present, the API change history of ShardingSphere-JDBC is distributed in different chapters of the user manual, including:

- 4.1.2. `Configuration Manual`-> `Java API` ->`Change History`
- 4.1.2. `Configuration Manual` -> `YAML Configuration` -> `Change History`
- 4.1.2. `Configuration Manual` -> `Spring Boot Starter Configuration` -> `Change History`
- 4.1.2. `Configuration Ma

[2021-06-24 09:40] soulasuna opened #10973 "Add unit test for shardingsphere-infra-common"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-common project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [x] DataSourceNameAwareFactory
- [x] DataSourceValidator
- [x] LockNameUtil
- [x] CreateUserStatementEventMapper
- [x] GrantStatementEventMappe

[2021-06-24 09:43] RaigorJiang opened #10974 "[Doc] Adjust Others and FAQ chapters"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Add `Others` chapter and adjust the `FAQ` , `Change History` chapters.

### How to

1. Modify the `7.FAQ` in the document to `7.Others`, the original `FAQ` chapter is sunk to `7.1.FAQ`;

2. Add directory `7.2.API Change History`;

3. Add directory `7.2.1.Shar

[2021-06-24 09:44] lyennon opened #10975 "simplify sql parse when only use read-write-splitting"
when only use read-write-splitting, we don't need parse the whole syntax tree .it's enougth you know it's  reade or write operation. so that it can support more kind of sql.

[2021-06-24 09:47] RaigorJiang opened #10976 "[Doc] Optimize change history of ShardingSphere-JDBC Java API (English)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Java API (English version).

### How to

1. Migrate `Java API` change history from
   `4.1.2.Configuration Manual`->`Java API`->`Change History` to
   `7.2.API Change History`->`7.2.1.ShardingSphere-JDBC`->`Java

[2021-06-24 09:48] soulasuna opened #10978 "Add unit test for shardingsphere-infra-datetime"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-datetime project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] DatabaseDatetimeService
- [ ] TimeServiceFactory
- [ ] TimeServiceConfiguration

## Examples FYI
- TimeServiceConfigurationTest

[2021-06-24 09:48] RaigorJiang opened #10979 "[Doc] Optimize change history of ShardingSphere-JDBC Java API (Chinese)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Java API (Chinese version).

### How to

1. Migrate `Java API` change history from

   `4.1.2.Configuration Manual`->`Java API`->`Change History` to

   `7.2.API Change History`->`7.2.1.ShardingSphere-JDBC`->`Jav

[2021-06-24 09:50] RaigorJiang opened #10980 "[Doc] Optimize change history of ShardingSphere-JDBC YAML Configuration (English)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC YAML Configuration (English version).

### How to

1. Migrate ` YAML Configuration` change history from

   `4.1.2.Configuration Manual`->`YAML Configuration`->`Change History` to

   `7.2.API Change History`->`7

[2021-06-24 09:52] RaigorJiang opened #10981 "[Doc] Optimize change history of ShardingSphere-JDBC YAML Configuration (Chinese)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC YAML Configuration (Chinese version).

### How to

1. Migrate ` YAML Configuration` change history from

   `4.1.2.Configuration Manual`->`YAML Configuration`->`Change History` to

   `7.2.API Change History`->`7

[2021-06-24 09:53] RaigorJiang opened #10982 "[Doc] Optimize change history of ShardingSphere-JDBC Spring Boot Starter Configuration (English)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Spring Boot Starter Configuration. (English version).

### How to

1. Migrate `Spring Boot Starter Configuration` change history from

   `4.1.2.Configuration Manual`->`Spring Boot Starter Configuration`->`Change

[2021-06-24 09:55] RaigorJiang opened #10983 "[Doc] Optimize change history of ShardingSphere-JDBC Spring Boot Starter Configuration (Chinese)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Spring Boot Starter Configuration. (Chinese version).

### How to

1. Migrate ` Spring Boot Starter Configuration` change history from

   `4.1.2.Configuration Manual`->`Spring Boot Starter Configuration`->`Chang

[2021-06-24 09:55] soulasuna opened #10984 "Add unit test for shardingsphere-infra-optimize"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-optimize project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] CreateTableStatementFederateRefresher

## Examples FYI
- DropTableStatementFederateRefresherTest

[2021-06-24 09:56] RaigorJiang opened #10985 "[Doc] Optimize change history of ShardingSphere-JDBC Spring Namespace Configuration (English)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Spring Namespace Configuration. (English version).

### How to

1. Migrate `Spring Namespace Configuration` change history from

   `4.1.2.Configuration Manual`->`Spring Namespace Configuration`->`Change History`

[2021-06-24 09:57] RaigorJiang opened #10986 "[Doc] Optimize change history of ShardingSphere-JDBC Spring Namespace Configuration (Chinese)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Optimize change history of ShardingSphere-JDBC Spring Namespace Configuration. (Chinese version).

### How to

1. Migrate `Spring Namespace Configuration` change history from

   `4.1.2.Configuration Manual`->`Spring Namespace Configuration`->`Change History`

[2021-06-24 10:03] soulasuna opened #10987 "Add unit test for shardingsphere-infra-route"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-infra-route project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] AllSQLRouteExecutor

## Examples FYI
- SQLRouteEngineTest

[2021-06-24 10:14] soulasuna opened #10988 "Add unit test for shardingsphere-sql-parser-statement"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-sql-parser-statement project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ColumnExtractor
- [ ] ExpressionBuilder
- [ ] SubqueryExtractUtil
- [ ] WhereExtractUtil

## Examples FYI
- SQLUtilTest

[2021-06-24 10:15] TeslaCN opened #10989 "Make fetch size configurable when connection mode is MEMORY_STRICTLY"
## Feature Request

### Is your feature request related to a problem?

When connection mode in Proxy is `MEMORY_STRICTLY`, statement's fetch size will be set to the minimum value, which makes the data  from backend database to the proxy are retrieved row-by-row.

For instance, the client `setFetchSize(1000)`, but connection mode in the Proxy is `MEMORY_STRICTLY`, the Proxy will fetch 1000 times fr

[2021-06-24 10:17] RaigorJiang opened #10990 "[Doc] add configuration change history of ShardingSphere-Proxy. (English)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

add  configuration change history of ShardingSphere-Proxy (English version).

### How to

1. Add  `7.2.2.ShardingSphere-Proxy` in the `7.2.API Change History` directory;
2. create file `_index.en.md` and write the configuration change history of proxy's `serv

[2021-06-24 10:18] RaigorJiang opened #10991 "[Doc] add configuration change history of ShardingSphere-Proxy (Chinese)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Background

Refor to #10972

### Aim

Add  configuration change history of ShardingSphere-Proxy. (Chinese version).

### How to

1. Add  `7.2.2.ShardingSphere-Proxy` in the `7.2.API Change History` directory;
2. Create file `_index.cn.md` and write the configuration change history of proxy's `ser

[2021-06-24 10:26] soulasuna opened #10992 "Add unit test for shardingsphere-sql-parser-engine"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-sql-parser-engine project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] SQLParserEngine
- [ ] SQLVisitorEngine
- [ ] SQLParserFactory

## Examples FYI
- SQLParserEngineTest

[2021-06-24 10:43] soulasuna opened #10993 "Add unit test for shardingsphere-transaction-core"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-transaction-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ResourceDataSource

## Examples FYI
- ResourceIDGeneratorTest

[2021-06-24 10:55] soulasuna opened #10995 "Add unit test for shardingsphere-transaction-2pc"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-transaction-2pc project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [x] #11021

## Examples FYI
- MySQLXAConnectionWrapperTest

[2021-06-24 11:05] strongduanmu opened #10996 "Support encrypt route when config multiple data sources"
## Background

Now encrypt can be used alone or in combination with other features, like sharding, readwrite-splitting, etc. When encrypt is used alone, it only supports a single data source, and does not support multiple data sources. When encrypt is used in combination, it does not support separate configuration of data sources, it must needs to rely on data sources that configured by other feat

[2021-06-24 12:40] #10863 closed

[2021-06-24 13:26] Yule-Momoko opened #10999 "java.util.NoSuchElementException: No value bound"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-24 13:44] RaigorJiang commented on #10962
Hi @monkeymada
ShardingSphere 5.0.0-alpha was released at 2020-11-13, but class based sharding algorithm was merged at 2020-12-07
in https://github.com/apache/shardingsphere/pull/8508.
So please try the latest version 5.0.0-beta, thank you.

[2021-06-24 13:49] RaigorJiang commented on #10999
Hi @monkeymada
Is this issue relted to #10962 ?

[2021-06-24 19:54] sg7801 opened #11004 "Minor issues in the Readme.md"
There are several minor issues in the Readme.md that need to be fixed for the enhancement of the documentation.

[2021-06-25 00:51] monkeymada commented on #10999
Not relevant, I'm following this example:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/other-feature-example/hint-example

[2021-06-25 01:52] RaigorJiang commented on #10999
OK, the configuration and exception information you provided is too brief, can you provide more complete information?

[2021-06-25 02:10] Yule-Momoko commented on #10940
Nested subqueries, such as:  select count(*) from (select * from t_order d) c
![image](https://user-images.githubusercontent.com/67772051/123358068-5b1ad900-d59d-11eb-8942-e1755ee965b0.png)

[2021-06-25 02:12] shijinting0321 opened #11007 "INFO： no viable alternative at input 'RANGE'"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Execute SQL：
[code]
### Actual behavior
Failed to execute, output message：no viable alternative at input 'RANGE'

[2021-06-25 02:28] sizzlecar commented on #10995
Let me try

[2021-06-25 02:35] Erzhoumu opened #11008 "5.0.0-beta in class ShardingSphereAlgorithmBeanRegistry some spring bean would cause java.lang.NullPointerException"
hi,  starting a spring-boot project, when parse the sharing:rule element
The class ShardingSphereAlgorithmBeanRegistry in line 25

[code]

The code may cause NullPointerException, when 'each' is  "org.springframework.context.annotation.internalAsyncAnnotationProcessor"  or "org.springframework.context.annotation.internalScheduledAnnotationProcessor"

[code]
I think foreach all beanDefinitionNames

[2021-06-25 02:58] #11004 closed

[2021-06-25 02:58] #10957 closed

[2021-06-25 05:07] harshita19244 commented on #10985
Could you assign me this issue?

[2021-06-25 05:24] tristaZero commented on #10985
Hi @harshita19244  welcome here.

If you have any questions, @RaigorJiang , community mentor, is glad to provide any help.

[2021-06-25 06:28] harshita19244 commented on #10985
#10972 could you assign this too? To modify `7.FAQ` to `7.others`, I need to start there

[2021-06-25 06:42] harshita19244 opened #11011 "Fix typo in Contributing guide"
## Feature Request

**For English only**, other languages will not accept.

As part of the issue, the grammar in the English contributing guide needs to be modified in accordance with proper grammar rules.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No current issue has been opened up for the same but the typo must be reso

[2021-06-25 07:04] RaigorJiang commented on #10985
Hi, it may be #10974, but not #10972  :)
@tristaZero Please help to assign, thanks.

[2021-06-25 07:11] strongduanmu commented on #10974
@harshita19244 This issue is also assigned to you.

[2021-06-25 07:12] strongduanmu commented on #10985
@harshita19244 Can you comment on issue #10972.

[2021-06-25 07:18] strongduanmu commented on #11007
@shijinting0321 Thanks for your feedback, I will investigate this issue.

[2021-06-25 07:25] yinyanghuafa commented on #10988
please let me try.

[2021-06-25 07:25] strongduanmu commented on #11007
![image](https://user-images.githubusercontent.com/10829171/123386610-6d127100-d5c9-11eb-9289-84d904381733.png)

@shijinting0321 Is this a legal mysql statement?

[2021-06-25 07:35] harshita19244 commented on #10985
@RaigorJiang when I modify the website docs and execute the build.sh, the latest build does not show up my changes. I do have Hugo installed locally

[2021-06-25 07:48] vipchenwei commented on #2844
最近也在研究这个，官网的文档不知道是我打开方式不对还是怎么的，感觉很多地方描述不对，一些用法也没有说明，楼上的牛b呀

[2021-06-25 07:48] vipchenwei commented on #2844
顶顶顶

[2021-06-25 08:21] #11011 closed

[2021-06-25 08:29] #10581 closed

[2021-06-25 08:56] #9568 closed

[2021-06-25 08:57] RaigorJiang opened #11013 "Drop resource error with DistSQL"
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere-Proxy 5.0.0-beta

### Expected behavior
Use distSQL, add a resource:
[code]
and then drop the resource immediately (did not config any other rule):

[code]
Expect the `resource_0` was deleted.

### Actual behavior
Got error:
` Error Code: 1101. Resources [resource_0] in the rule are still in used.`

### Reason analyze
A

[2021-06-25 09:11] tristaZero commented on #11008
@Erzhoumu Thanks for your feedback.
It looks like a bug?
Would you like to raise a PR to improve it? FYI, [How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/).

[2021-06-25 09:16] tristaZero commented on #10975
If you just target at `read-write-splitting`, it indeed. But, we still have to consider other scenarios. I wonder the current solution has any major negative impact on your case?

[2021-06-25 09:17] tristaZero commented on #10954
Yes, so maybe you can consider our beta version for your product env?

[2021-06-25 09:20] tristaZero commented on #10927
Hi, @viqbgrg
could you provide your SQL, configuration and log?
If you could debug and find out the specific lines, that will be helpful.
Thanks.

[2021-06-25 09:20] tristaZero commented on #10912
Hey, which version?

[2021-06-25 09:27] kushalhalder commented on #10912
Hey, thanks for getting back. I could fix it, not an issue from shardingsphere. Thanks again.

[2021-06-25 09:27] #10912 closed

[2021-06-25 09:32] rangez commented on #7127
SELECT COUNT(*) AS support_ndb FROM information_schema.ENGINES WHERE Engine = 'ndbcluster'

[2021-06-25 09:33] rangez commented on #7127
我一人同样遇到了这个问题，我是用navicat和mysqlworkbench的时候都会遇到这个问题。

[2021-06-25 09:33] terrymanu opened #11014 "Improve DistSQL parser test engine with db-types"
The current DistSQL parser test engine using `db-types` to recognize DistSQL or normal SQL, which is not appropriate.

Please refactor here, decouple `db-types` and DistSQL.

[2021-06-25 09:57] terrymanu opened #11015 "Create a new module for SQL parser test"
- [x] Create a new module for SQL parser test into `shardingsphere-test\shardingsphere-parser-test`
- [x] Merge DistSQLStatementParserParameterizedTest and SQLParserParameterizedTest

[2021-06-25 10:08] wangjiansong opened #11016 "sharding-jdbc + flyway startup error"
sharding-jdbc 4.0.0
spring-boot 2.2.5
flyway 6.5.5

[code]

[2021-06-25 10:09] wangjiansong commented on #11016
Who can give us a solution

[2021-06-25 10:24] RaigorJiang commented on #11013
refer to #9204
My case is not readwrite-splitting, but each database has the same table, and the table is not in any rule.

[2021-06-25 10:26] totalo commented on #11014
Please assign it to me.

[2021-06-25 10:27] totalo commented on #11015
Please assign it to me

[2021-06-25 10:40] TeslaCN opened #11018 "Modules of ShardingSphere Proxy 5.0.0-beta are not present in Maven Central"
## Feature Request

### Is your feature request related to a problem?

I was developing an SkyWalking agent plugin for ShardingSphere Proxy 5.0.0-beta, but I found the module `shardingsphere-proxy-frontend-core` was not present in Maven Central, which brings limitations of developing an agent.

![image](https://user-images.githubusercontent.com/20503072/123411839-7b6d8680-d5e3-11eb-98c8-2684f9a56c

[2021-06-25 11:28] viqbgrg commented on #10927
https://github.com/apache/shardingsphere/blob/61e4623584899b116ea7367f40db50e5a6b34264/shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/executor/DriverJDBCExecutor.java#L42

[code]
If it doesn't throw an exception, you won't know if the SQL executed successfully, so you should throw an exception

[2021-06-25 11:29] tanchangmin commented on #10137
replace
<artifactId>druid-spring-boot-starter</artifactId>
with
<artifactId>druid</artifactId>

[2021-06-25 11:31] terrymanu commented on #11014
Cool, assigned

[2021-06-25 11:32] terrymanu commented on #11015
Cool, assigned

[2021-06-25 12:15] childewuque commented on #10938
Another project has same problem,it uses 20 db ,every db has about 5000 tables.
Only 1 logic tables (256*20 actual tables) are used in the project.
Sometimes the project can start in 5~10 minutes,sometimes it is blocked.
max-connections-size-per-query=1000 now

[2021-06-25 12:34] terrymanu opened #11020 "Redesign JAXB domain of DistSQL"
- [x] Use xml attribute instead of xml element of ExpectedDataSource
- [x] Use xml attribute instead of xml element of ExpectedTableRule excepted tableStrategy and keyGenerateStrategy
- [x] Add `data-sources` tag for ExpectedTableRule.dataSources
- [x] Use xml attribute instead of xml element of ExpectedAlgorithm.name
- [x] use `data-source` instead of `dataSource` in xml tag
- [x] Please fill oth

[2021-06-25 12:36] totalo commented on #11020
Please assign it to me and I will fix this problem.

[2021-06-25 13:40] terrymanu commented on #11020
@totalo Sure

[2021-06-25 14:02] soulasuna commented on #10995
@sizzlecar

welcome !!

[2021-06-25 14:02] soulasuna opened #11021 "OracleXAConnectionWrapper"

[2021-06-26 06:46] terrymanu commented on #11021
Can you change  the title for search friendly?

[2021-06-26 08:25] bankly opened #11023 "@bankly Can you show more infomation?"
@bankly Can you show more infomation?

_Originally posted by @strongduanmu in https://github.com/apache/shardingsphere/issues/10883#issuecomment-864666079_

 Bug Report

version：shardingsphere-jdbc 5.0.0-alph

Configuration Spring boot starter broadcast-tables is invalid , but spring namespace is valid

spring.shardingsphere.rules.sharding.broadcast-tables=area

`

spring.shardingsphere.datasource

[2021-06-26 09:00] chenqin091017 commented on #9027
Hi All ,

ShardingSphere Version 5.0.0-beta still has same bug.
Could you solve this issue？
In addition, why does load information from all tables when my project start？Other tables don't use ShardingSphere.
![QQ20210626-165352](https://user-images.githubusercontent.com/17311435/123507945-1ecfa180-d69f-11eb-99c2-d9a72d94c911.png)

[2021-06-26 09:20] chenqin091017 opened #11024 "Springboot service can not startup when the datatype of column(mysql) is json"
### Which version of ShardingSphere did you use?

shardingsphere-jdbc-core 5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

springboot service can startup

### Actual behavior

springboot service can not startup

### Reason analyze (If you can)
When service start ,ShardingSphere will load some informations from mys

[2021-06-26 10:28] justbk2015 opened #11025 "Wrong LIMIT [offset, row_count] rewrite SQL on openGuass"
## Bug Report
### Which version of ShardingSphere did you use?
master / opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior
run `select * from tb_notdb_distable1 LIMIT 5,2;` can get actual result.
### Actual behavior
not query data return
### Reason analyze (If you can)
sql rewirte of limit not support from 5,2 to 7,0, the row_cou

[2021-06-26 10:35] justbk2015 opened #11026 "Proxy not support "explain performance" language on postgresql/opengauss"
## Feature Request

### Is your feature request related to a problem?
no
### Describe the feature you would like.
in pg or opengauss, we support `explain performance $SQL` to analyze sql performance, but proxy not support , I wish proxy can support this feature;
![image](https://user-images.githubusercontent.com/12265143/123510182-b2f43580-d6ac-11eb-83bb-01305b76cc61.png)
see opengauss description

[2021-06-27 02:51] sizzlecar commented on #10995
Please assign me

[2021-06-27 03:22] xueshiji opened #11029 "Error when not select *, but select part of all fields"
## Bug Report

### Which version of ShardingSphere did you use?
Both 5.0.0-alpha and 5.0.0-beta have this problem.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Successful execution of sql.
### Actual behavior
Unsuccessful execution of sql
### Reason analyze (If you can)
N/A
### Steps to reproduce the behavior, such as: SQL t

[2021-06-27 04:58] sandynz opened #11030 "Add unit test for ExecuteProcessEngine"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `ExecuteProcessEngine` to test its public functions:
- Verify `EXECUTE_ID` could be put and removed correctly
- Verify `ExecuteProcessReporter.report` is invoked

### Basic Qualifications
* Java
* Maven
* Junit.Test

[2021-06-27 05:00] sandynz opened #11031 "Add unit test for ExecuteProcessStrategyEvaluator"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `ExecuteProcessStrategyEvaluator` to test its public functions.

### Basic Qualifications
* Java
* Maven
* Junit.Test

[2021-06-27 05:02] sandynz opened #11032 "Add unit test for GovernanceExecuteProcessReporter"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `GovernanceExecuteProcessReporter` to test its public functions:
- Verify certain event is sent

### Basic Qualifications
    * Java
    * Maven
    * Junit.Test

[2021-06-27 05:04] sandynz opened #11033 "Add unit test for ProcessRegistrySubscriber"
Hi community,

This issue is for #10887.

### Aim
Add unit test for `ProcessRegistrySubscriber` to test its public functions.

### Basic Qualifications
* Java
* Maven
* Junit.Test

### Example FYI
* `RegistryCenterTest`

[2021-06-27 09:33] ajdfajdfl2003 commented on #8571
@Jearys 原先創建表欄位名是使用大寫
後來改小寫即可

[2021-06-27 10:07] zhujunxxxxx commented on #10904
I wan to try.

[2021-06-28 01:06] strongduanmu commented on #11007
@shijinting0321 Hi, can you give a feedback?

[2021-06-28 01:44] zhujunxxxxx commented on #10904
@tristaZero please assign to me

[2021-06-28 02:20] RaigorJiang opened #11038 "Add custom sharding algorithm example for shardingsphere-jdbc (by SPI)"
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Aim

Add an custom sharding algorithm example, which shows how to extend sharding algorithm by SPI.

### Basic Qualifications

- Java
- Maven

### Example FYI

`examples`->`shardingsphere-jdbc-example`->`extension-example`->

`custom-sharding-algortihm-example`

[2021-06-28 02:35] future94 opened #11039 "Read/write separation does not obtain the data source"
I look this [github demo address](https://github.com/apache/shardingsphere/blob/5.0.0-beta/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources/application-sharding-readwrite-splitting.properties)，but I found some problems。

sql
[code]

pom
[code]

entity
[code]
repository
[code]
test
[code]

## question1
use broadcast-tables :  java.lang.Illega

[2021-06-28 02:39] TeslaCN commented on #10995
Assigned.

[2021-06-28 02:56] tristaZero commented on #10904
Assigned. @zhujunxxxxx

[2021-06-28 06:13] RaigorJiang commented on #11039
Hi @future94
Welcome to shardingsphere.

According to your information, you only need to use the readwrite-splitting scenario.
- question1
`broadcast` is the configuration used with the sharding scene, you don't need it here.
- question2
ds configuration is incorrect, and it is for `sharding` scene too.

please refer to another example:
https://github.com/apache/shardingsphere/blob/5.0.0-beta/exam

[2021-06-28 07:11] trycache0828 opened #11041 "sharding-jdbc 4.1.1：[org.hibernate.engine.jdbc.spi.SqlExceptionHelper]Unknown column 'NOW' in 'where clause'"
## Bug Report

line 1:349 no viable alternative at input 'YEAR(NOW)'.

[org.hibernate.engine.jdbc.spi.SqlExceptionHelper]SQL Error: 1054, SQLState: 42S22

[org.hibernate.engine.jdbc.spi.SqlExceptionHelper]Unknown column 'NOW' in 'where clause'

The condition ‘AND YEAR(tn.create_date) = YEAR(NOW())’ resolved to  ‘AND YEAR(tn.create_date) = YEAR(NOW)’

### Which version of ShardingSphere did you use

[2021-06-28 07:46] tristaZero commented on #10927
Which function?
[code]
Do you mean this one? Doesn't it throw an SQLException?

[2021-06-28 08:04] future94 commented on #11039
Hi @RaigorJiang
Thank you for your reply.

I want to sharding and read/write the table, So I went to watch t_read_write configuration `spring.shardingsphere.rules.sharding.tables.t_read_write.actual-data-nodes=ds.t_read_write`, But it does not recognize the database resource DS. I'm watching this demo [https://github.com/apache/shardingsphere/blob/5.0.0-beta/examples/shardingsphere-jdbc-example/sh

[2021-06-28 08:17] RaigorJiang commented on #11039
@future94
Actual data nodes correspond to the `datasource.names`, your datasource names are `test1,test2`, then actual data nodes should be `test$->{1..2}. t_read_write`

It is recommended that you read the official document first, and then try to modify the configuration.
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/

[2021-06-28 09:07] #10954 closed

[2021-06-28 09:14] KolorYan commented on #7998
I can only use the stable version release on online environment

[2021-06-28 09:45] wenjunlichao1231 opened #11043 "select * from t_user where(id in (select id from t_machine)) not support"
select * from t_user where(id in (select id from t_machine))

When select * encounters a subquery, the query field will include the field of the table in the subquery, resulting in the field of the query does not exist, because the word is read in the table of the subquery.

[2021-06-28 10:55] viqbgrg commented on #10927
@tristaZero SQL execution error is not reported in the exception

[2021-06-28 11:50] sizzlecar commented on #10995
Hello, OracleXAConnectionWrapperTest already exists, which class should I add unit tests for?

[2021-06-28 12:27] totalo commented on #11020
- [ ] Use xml attribute instead of xml element of ExceptedReadwriteSplittingRule
- [ ] Use xml attribute instead of xml element of ExpectedDatabaseDiscoveryRule excepted props and data-source
- [ ] Use xml attribute instead of xml element of ExpectedEncryptRule.name
- [ ] Use xml attribute instead of xml element of ExpectedShardingBindingTableRule.tableGroups
- [ ] The name of the canonical label

[2021-06-28 12:36] namitad commented on #10993
would like to work on this issue. could this be assigned to me?

[2021-06-28 12:37] yuanhuyulin opened #11046 "11g or lower of oracle use 5.0.0-beta error"
the Class OracleTableMetaDataLoader of module shardingshere-infra-common :
        **    private static final String TABLE_META_DATA_SQL = "SELECT OWNER AS TABLE_SCHEMA, TABLE_NAME, COLUMN_NAME, DATA_TYPE, IDENTITY_COLUMN %s FROM ALL_TAB_COLUMNS WHERE OWNER = ?";**

database not exists column IDENTITY_COLUMN , Then on start my project that used 5.0.0-beta must be error for "IDENTITY_COLUMN" not ex

[2021-06-28 13:28] avalon5666 commented on #11046
Can you set sql.show=true, and provider the configuration and full exception log?

[2021-06-28 13:31] avalon5666 commented on #11043
Can you set sql.show=true, and provider the configuration and full exception log?

[2021-06-28 13:36] avalon5666 commented on #11041
Can you set sql.show=true, and provider the configuration and full exception log?

[2021-06-28 13:39] avalon5666 commented on #11029
Can you set sql.show=true, and provider the configuration and full exception log?

[2021-06-28 13:43] avalon5666 commented on #11024
set check-table-metadata-enabled=false

[2021-06-28 13:56] xueshiji commented on #11029
@avalon5666 Please look at this <https://github.com/xueshiji/testdemo>

[2021-06-28 14:14] avalon5666 commented on #11029
I don't have an oracle environment now, can you run and provider more information.

[2021-06-28 14:26] xueshiji commented on #11029
@avalon5666  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::        (v2.1.5.RELEASE)

2021-06-28 22:21:23.605  INFO 2140 --- [           main] c.e.testdemo.TestdemoApplicationTests

[2021-06-28 14:29] avalon5666 commented on #11023
Can you set sql.show=true, and provider the log?

[2021-06-28 14:33] avalon5666 commented on #10909
Can you provider your configurations?

[2021-06-28 14:59] avalon5666 commented on #11029
Duplicate with #8841

[2021-06-28 15:26] xueshiji commented on #11029
@avalon5666 ， I don't think so, Issue #8841 is an unexpected result, but my issue is an execution exception.The only thing in common is that they are both
paged queries

[2021-06-28 16:06] avalon5666 commented on #11029
we investigate th root cause, I think they are relevant.

[2021-06-29 00:55] shijinting0321 commented on #11007
The SQL is correct in my code, but it was written wrong in issue,I have corrected it.

[2021-06-29 01:01] shijinting0321 commented on #11007
This has been modified using Markdown

[2021-06-29 01:20] wenjunlichao1231 commented on #11043
Thank you very much for your reply, the actual sql query statement is not rewritten, but when the result set is obtained, because the select * field to be queried includes the field in the subquery table, the array is out of bounds.The getColumnCount function includes the sum of the fields of the query table and the subquery table, resulting in a query error
![16151624852541_ pic_hd](https://user-

[2021-06-29 01:23] whiltemoon opened #11047 "5.0.0_beta version start errror , the error is java.lang.NullPointerException"
this is my :pom file config

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <properties>
        <maven.compiler.source>11</maven.compiler.source>
        <maven.compiler.target>11</maven.compiler.target>
        <arthur.version>1.0.0</arthur.version>
        <lombok.ver

[2021-06-29 01:25] whiltemoon commented on #11047
spring:
  shardingsphere:
    props:
      sql-show: true
    datasource:
      names:
        master,slave
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
      master:
        driver-class-name: com.mysql.cj.jdbc.Driver
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:xxxxx
        username: xxx

[2021-06-29 01:26] avalon5666 commented on #11043
Pls  the configuration and full exception log, I can't find out which sql execute by ShardingSphere-Command-1 thread.

[2021-06-29 01:34] chenqin091017 commented on #11024
It's working.Thanks!

[2021-06-29 01:34] #11024 closed

[2021-06-29 01:40] strongduanmu commented on #10993
@namitad Welcome, and assigned.

[2021-06-29 01:44] whiltemoon commented on #11047
![image](https://user-images.githubusercontent.com/84312284/123724214-ccc68180-d840-11eb-8940-00257d6c96db.png)

跟踪了一下代码。 具体是这里报的空指针。

[2021-06-29 01:45] RaigorJiang commented on #11047
Hello @whiltemoon, for English only, please translate the content, thank you.

[2021-06-29 01:53] wenjunlichao1231 commented on #11043
This is the error log thanks for your help [error.txt](https://github.com/apache/shardingsphere/files/6730053/error.txt)

[2021-06-29 01:55] whiltemoon commented on #11047
![image](https://user-images.githubusercontent.com/84312284/123725129-680c2680-d842-11eb-949f-3199e0522dc8.png)

[2021-06-29 02:32] avalon5666 commented on #11043
This file does not contain the above exception stack.

[2021-06-29 02:36] trycache0828 commented on #11041
## The configration:

https://github.com/apache/shardingsphere/issues/10843

[2021-06-29 02:48] avalon5666 commented on #11041
Can you set sql.show=true, and provider the configuration and full exception log? I need to confirm the logical sql and actual sql.

[2021-06-29 03:05] trycache0828 commented on #11041
The print result of logical SQL parsing is also wrong.Missing parentheses for function now().The MySQL function now() is resolved to the column name now.

## SQL

[ShardingSphere-SQL]Logic SQL: SELECT tnc.id, tnc.name, tnc.create_date AS createDate FROM t_user_child AS tnc, t_user AS tn WHERE YEAR(tn.create_date) = YEAR(NOW) ORDER BY tnc.create_date DESC

[ShardingSphere-SQL]Actual SQL: SELECT tnc

[2021-06-29 03:27] tristaZero opened #11048 "Add ShardingSphereOptimizerTest to assert ShardingSphereOptimizer"
Hi,

This issue is to add `ShardingSphereOptimizerTest` to assert whether `ShardingSphereOptimizer` can return the best physical executed plan.

This class is a kernel process to do SQL optimization. #10889 and #11042 make the optimizer levering ShardingSphere parser, but we need this test to confirm its basic function.

### Target
Create `ShardingSphereOptimizerTest`  to test its `optimize()` fun

[2021-06-29 03:28] tristaZero commented on #11048
@wgy8283335 do you want to work on this one since you showed your interest in this feature.

[2021-06-29 03:39] avalon5666 commented on #11041
It seem the executing sql missing parenthesis, pls confirm the sql gen by hibernate is correct.

[2021-06-29 03:41] wgy8283335 commented on #11048
Sure, I'd like to take care of this issue.

[2021-06-29 03:48] wenjunlichao1231 commented on #11043
Please help me take a look again, thank you very much ,
![1624938462244](https://user-images.githubusercontent.com/8392641/123734426-e95dca80-d8cf-11eb-8d55-2fbb3572e151.jpg)
![1624938484953](https://user-images.githubusercontent.com/8392641/123734429-ebc02480-d8cf-11eb-80f3-d5a3118d3a17.jpg)

[error1.txt](https://github.com/apache/shardingsphere/files/6730506/error1.txt)

[2021-06-29 03:55] tristaZero commented on #10867
Do you point [This one](https://github.com/apache/shardingsphere/blob/8ee0074d018ce56487bc0138d84acc097c28002b/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/spi/typed/TypedSPIRegistry.java#L100)?

[2021-06-29 04:06] avalon5666 commented on #11043
Which version do you use?

[2021-06-29 04:08] wenjunlichao1231 commented on #11043
5.0.0-alpha

[2021-06-29 05:16] terrymanu opened #11050 "Check discovery type name not in use before drop it"
Need to add check logic before drop discovery type name.

The code is in `DropDatabaseDiscoveryRuleStatementUpdater`

[2021-06-29 05:43] wenjunlichao1231 commented on #11043
Please help me see
[sql.zip](https://github.com/apache/shardingsphere/files/6730923/sql.zip)

[2021-06-29 05:43] lwclover opened #11051 "About shardingsphere authrity"
I think shardingsphere authrity should be database-independent.
that means when we use mysql 'create user' and 'grant '，don`t execute on the database.just persist data on registry center enough.

Welcome to leave a comment and discuss.

[2021-06-29 05:44] avalon5666 commented on #11043
shardingsphere table rule configuration

[2021-06-29 05:49] wenjunlichao1231 commented on #11043
You can try a strategy that is not worthy of sensitive, and it won’t work without a strategy.

[2021-06-29 05:51] trycache0828 commented on #11041
![image](https://user-images.githubusercontent.com/14318621/123744246-1070c800-d8e1-11eb-9f47-c5061aa12e60.png)

[2021-06-29 05:53] avalon5666 commented on #11043
Pls provider shardingsphere table rule configuration. java api or yaml file or spring namespace and so on.

[2021-06-29 05:59] childewuque commented on #10043
What's difference between "tables" and "autoTables" in yaml, no more info about "autoTables"  by google&baidu. thanks.

[2021-06-29 06:14] avalon5666 commented on #11041
The logical sql is pass by user code, pls confirm you sql is correct.

[2021-06-29 06:15] RaigorJiang commented on #11047
@whiltemoon  Thanks for your report, I will have a try with your configuration.

[2021-06-29 06:19] wenjunlichao1231 commented on #11043
[rule.txt](https://github.com/apache/shardingsphere/files/6731123/rule.txt)

[2021-06-29 06:23] strongduanmu commented on #11007
@shijinting0321 I used the latest SQL you provided for testing, and found no exception when execute parsing.

![image](https://user-images.githubusercontent.com/10829171/123747464-92fb8680-d8e5-11eb-8915-62e9451f7512.png)

[2021-06-29 06:43] wtjperi2003 commented on #9584
我也遇到了，有解决吗

[2021-06-29 06:46] #10896 closed

[2021-06-29 06:53] xueshiji commented on #11029
@strongduanmu ,Could you like to look at this issue and issue #8841? Do you think they are the same problem?

[2021-06-29 07:00] wenjunlichao1231 commented on #11043
Hello, have you reproduced it now? This statement has nothing to do with the rule. Even if there is no rule, an error will occur, because it will be wrong to get the query field. The obtained query field contains the field of the table in the subquery

[2021-06-29 07:17] Yule-Momoko opened #11052 "Sharding-Proxy Whether you need to care about unsupported SQL?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-06-29 07:19] takuya1981 commented on #10960
Can I  try it?

[2021-06-29 07:21] git-chenhao opened #11054 "What are the specific functions of proxy cluster management and what to pay attention to？"
For example, dynamic adjustment of the number of physical library connections after scaling. No similar feature list?

[2021-06-29 07:22] soulasuna commented on #10966
i pick this

[2021-06-29 07:27] strongduanmu commented on #10960
@takuya1981 Welcome.

[2021-06-29 07:44] Yule-Momoko opened #11055 "sharding-jdbc 4.1.1 Processing result set report error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-29 07:55] tristaZero commented on #10960
Hi @takuya1981 [How to raise a PR](https://shardingsphere.apache.org/community/en/contribute/contributor/) FYI.

[2021-06-29 07:56] nanzheng commented on #10867
right, so this util class is not in the 5.0.0, which class pass the value to setProperties?

[2021-06-29 07:58] strongduanmu commented on #11025
@justbk2015 I refer to the official documentation of PG, this SQL seems to be illegal.

[code]

The legal sql should be `select * from tb_notdb_distable1 LIMIT 5 OFFSET 2;`

[2021-06-29 08:03] takuya1981 commented on #10960
@strongduanmu , @tristaZero , Thanks.

[2021-06-29 08:10] justbk2015 commented on #11025
@strongduanmu this sql language come from sharding-doc:
https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/

SELECT select_expr [, select_expr ...] FROM table_reference [, table_reference ...]
[WHERE predicates]
[GROUP BY {col_name | position} [ASC | DESC], ...]
[ORDER BY {col_name | position} [ASC | DESC], ...]
[LIMIT {[offset,] row_count | row_count OFFSET offs

[2021-06-29 08:31] avalon5666 commented on #11043
Pls try 5.0.0-beta

[2021-06-29 09:28] joeywang310 opened #11056 "5.0.0-beta version read config sharding-algorithms.xxx.props fail"
**my yaml config**

[code]
**source code**
![image](https://user-images.githubusercontent.com/20478130/123772947-d7475080-d8fe-11eb-87fc-94cb44a5de82.png)

**debug img**

![image](https://user-images.githubusercontent.com/20478130/123773159-0a89df80-d8ff-11eb-8776-c3da01d1da0a.png)

As you can see from the picture, spring Environment is configured，
[code]
existProps return **false**

[2021-06-29 09:45] strongduanmu commented on #11025
@justbk2015 The SQL in the official document is in MySQL dialect, please adjust the SQL according to the official PG document.

[2021-06-29 09:45] #11056 closed

[2021-06-29 09:46] joeywang310 commented on #11056
config error ，yaml user  '-' , not '_'

[2021-06-29 09:52] shijinting0321 commented on #11007
I will try to build a demo project to restore the problem

[2021-06-29 09:57] justbk2015 commented on #11025
pg and og already support this dialect:

[ WITH [ RECURSIVE ] with_query [, ...] ]
SELECT [/*+ plan_hint */] [ ALL | DISTINCT [ ON ( expression [, ...] ) ] ]
{ * | {expression [ [ AS ] output_name ]} [, ...] }
[ FROM from_item [, ...] ]
[ WHERE condition ]
[ GROUP BY grouping_element [, ...] ]
[ HAVING condition [, ...] ]
[ WINDOW {window_name AS ( window_definition )} [, ...] ]
[ { UNION | INTERS

[2021-06-29 10:26] wenjunlichao1231 opened #11057 "the result of the subquery is used as an alias, and the alias cannot find the corresponding table"
![4](https://user-images.githubusercontent.com/8392641/123782046-7a03cd00-d907-11eb-8916-afdbaf757f37.png)
<img width="1509" alt="2" src="https://user-images.githubusercontent.com/8392641/123782096-82f49e80-d907-11eb-8490-292211f4d49f.png">
<img width="1204" alt="1" src="https://user-images.githubusercontent.com/8392641/123782119-89831600-d907-11eb-9071-b24bc32f8b63.png">

[2021-06-29 10:29] wenjunlichao1231 commented on #11043
I found another problem, I submitted a new issuer, can you please help me to check it out, [https://github.com/apache/shardingsphere/issues/11057](url)

[2021-06-29 10:34] avalon5666 commented on #11043
Has this problem been solved?

[2021-06-29 10:39] Yule-Momoko opened #11058 "Can sharding-jdbc 5.0.0-Beta be used in production environment?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-06-29 10:40] wenjunlichao1231 commented on #11043
Because it is not convenient for us to upgrade to the latest version, The way I solve it now is as shown in the screenshot, I am not sure if there will be other problems
![6](https://user-images.githubusercontent.com/8392641/123783896-740eeb80-d909-11eb-8f35-016cde849b9c.png)

[2021-06-29 11:01] RaigorJiang commented on #10867
Hi @nanzheng
I checked [encrype example ](https://github.com/apache/shardingsphere/tree/8ee0074d018ce56487bc0138d84acc097c28002b/examples/shardingsphere-jdbc-example/other-feature-example/encrypt-example/encrypt-spring-boot-example)
and the properties is as expected.

You may want to see the class `EncryptAlgorithmFactoryBean` to find the SPI load logic.

[2021-06-29 11:03] avalon5666 commented on #11043
Recommand to upgrade.

[2021-06-29 12:11] wtjperi2003 opened #11059 "这算是一个巨型bug吗"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-29 13:05] avalon5666 commented on #11029
Fixed by #10833

[2021-06-29 13:08] #11043 closed

[2021-06-29 13:15] avalon5666 commented on #11052
shardingsphere jdbc and proxy share sql parsing module.

[2021-06-29 13:16] avalon5666 commented on #11055
Pls try with 5.0.0-beta.

[2021-06-29 13:28] avalon5666 commented on #11057
5.0.0-beta fix many bug and improve sql compatibility, 4.1.1 is a historical version and will not be maintained, recommand upgrade rather than fix it.

[2021-06-29 13:31] avalon5666 commented on #11058
This version fixes a lot of problems and improve sql compatibility compared with the 4.x

[2021-06-29 13:43] avalon5666 commented on #11059
I tested as expected.
Is your test environment consistent? As far as I know mysql disable strict mode allow insert null to not null column, but the return value must correct.

[2021-06-29 13:45] avalon5666 commented on #11059
By the way create issue in english.

[2021-06-29 13:45] #11059 closed

[2021-06-29 14:08] chenqin091017 opened #11063 "Can't throw SQLIntegrityConstraintViolationException:Duplicate entry "ID45_ID045_ba" for key "foo_45.id_id0_value""
### Which version of ShardingSphere did you use?
shardingsphere-jdbc-core 5.0.0-beta
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
table foo, column id、id0 and value is a index,these type is unique。
![sql](https://user-images.githubusercontent.com/17311435/123812182-7469af80-d926-11eb-9876-aa9384e05a40.png)

Logic SQL：`insert

[2021-06-29 16:33] kxw07 opened #11066 "Why Insert existed primary key with no error"
I was testing XA and use shardingsphere-jdbc-core, shardingsphere-transaction-xa-core 5.0.0-beta

have a table in db
[code]

And already have a row in table
order_id, user_id
123, 123

Then insert a row with same value (123, 123) again, there's no error in log.
I think it should show duplicate entry error.
[code]

Here is my yaml
[code]

[2021-06-30 00:24] strongduanmu commented on #11025
@justbk2015 This is the dialect of openGuass, currently not supported, please adjust the SQL according to the standard PostgreSQL syntax

[2021-06-30 00:47] avalon5666 commented on #11029
@xueshiji You are right, duplication with #10832

[2021-06-30 00:48] Yule-Momoko commented on #11058
But the Maven library doesn't seem to have this version

[2021-06-30 00:50] avalon5666 commented on #11058
Look again, it's synchronized.

[2021-06-30 00:52] Yule-Momoko commented on #11058
<dependency>
                <groupId>org.apache.shardingsphere</groupId>
                <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
                <version>5.0.0-beta</version>
            </dependency>

[2021-06-30 00:55] avalon5666 commented on #11058
Oh, I will check this.

[2021-06-30 01:06] avalon5666 commented on #11058
ArtifactId renamed.
[code]

[2021-06-30 01:08] Yule-Momoko commented on #11058
ok thank you

[2021-06-30 01:23] avalon5666 commented on #11063
I will check this.

[2021-06-30 01:24] avalon5666 commented on #11066
Duplicate with #11063

[2021-06-30 01:27] strongduanmu opened #11069 "Use Proxy to execute select statement without schemaName throw NPE"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Throw the correct exception information, for example: `ERROR 1046 (3D000): No database selected`

### Actual behavior

ERROR 1999 (C1999): Unknown exception: [null]

### Reason analyze (If you can)

[2021-06-30 01:32] #11066 closed

[2021-06-30 01:53] RaigorJiang commented on #11039
Hi @future94
Is your problem solved?

[2021-06-30 02:13] whiltemoon commented on #11047
@RaigorJiang  can you help me , what's issue about my error?

[2021-06-30 02:26] #11069 closed

[2021-06-30 02:30] RaigorJiang commented on #11047
Yes, I am investigating, and I will reply you as soon as possible.

[2021-06-30 02:37] #11041 closed

[2021-06-30 02:42] trycache0828 commented on #10901
Can we solve this problem without upgrading the middleware version? Leaders are not allowed to upgrade 4.1.1 version to 5.0.0-beta version.

[2021-06-30 02:42] whiltemoon commented on #11047
@RaigorJiang  thanks you so much , if need more info , i can provider

[2021-06-30 03:09] avalon5666 commented on #11063
Fixed by #10845, You can build from master and test again.

[2021-06-30 03:10] avalon5666 commented on #11066
Fixed by #10845, You can build from master and test again.

[2021-06-30 03:13] RaigorJiang commented on #11047
@whiltemoon  I modified the [example module](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example) to fit your configuration, but can not reproduce the exception, can you provide a demo project on github?   So I can clone and test with your project.

[2021-06-30 03:15] sizzlecar commented on #10995
@soulasuna @strongduanmu Hello, OracleXAConnectionWrapperTest already exists, which class should I add unit tests for?

[2021-06-30 03:16] avalon5666 commented on #11059
Fixed by #10845, You can build from master and test again.

[2021-06-30 03:21] whiltemoon commented on #11047
@RaigorJiang ok . i will do this noon

[2021-06-30 03:23] RaigorJiang commented on #11047
Thank you~

[2021-06-30 03:51] whiltemoon commented on #11047
@RaigorJiang  i have upload , the address is : https://github.com/whiltemoon/testjdbc
and you need change down config:
![image](https://user-images.githubusercontent.com/84312284/123899278-b6d9bf00-d91b-11eb-9780-8e377da9b0a3.png)

[2021-06-30 04:07] RaigorJiang commented on #11047
OK 👍

[2021-06-30 04:38] zkzong opened #11072 "use custom primary key"
## Bug Report

### Which version of ShardingSphere did you use?

4.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

When I use official example, I modify the code, doesn't use snowflake algorithm. I set primary key by myself.
My code is like this:
[code]
When I run this code, the result is:
t_order_0
![image](https://user-images.githubuserconte

[2021-06-30 05:45] qiancheng8866 commented on #10938
same question,up+1!

[2021-06-30 06:17] soulasuna commented on #10995
@sizzlecar  You can look at #10887, pick a task that interests you.

[2021-06-30 06:17] #10995 closed

[2021-06-30 06:29] #10903 closed

[2021-06-30 06:35] RaigorJiang commented on #11047
Hi @whiltemoon
I just modified the datasource config and started normality, no NPE occurred.
shall we communicate via WeChat?   My WeChat account is also `RaigorJiang`.

[code]

[2021-06-30 07:10] xdshent opened #11073 "the package is missing when running the unit test at the latest master branch"
## Bug Report
Hi community,

There is no package of `org.apache.shardingsphere.distsql.parser.autogen
` when I debug `shardingsphere-encrypt-core`'s test case at the latest master branch, as follow graph:

* latest commit id: e2e085ca8b906baba500c4e74cfaac81170b8ec4

<img width="1499" alt="package-missing" src="https://user-images.githubusercontent.com/16759505/123916796-a164a380-d9b4-11eb-89fd-0c

[2021-06-30 07:14] #10904 closed

[2021-06-30 07:40] TeslaCN commented on #11073
Refer to https://shardingsphere.apache.org/document/current/en/faq/

[2021-06-30 07:40] #11073 closed

[2021-06-30 08:24] RaigorJiang commented on #11047
![image](https://user-images.githubusercontent.com/5668787/123927298-497f6a00-d9bf-11eb-8054-eb022c8ccbf2.png)

After confirmation, the problem is caused by the json format column in the table, which is duplicate with #10900 , #11024

[2021-06-30 08:29] nanzheng opened #11074 "Oracle Insert statement Parse SQL ERROR！Please Help!"
### My Eventment is
   shardingsphere 5.0.0-beta (spring-boot-start)
   mybaits
   Oracle 19c
   Java 1.8

### How it happened

I use the spring-boot-start to encrypt the mysql/oracle table. And I find insert into the mysql work fine, but switch to Oracle get the parse SQL Error issue. I dont know how does it happen. Please help . This issue maybe still exist in the master branch.

### Execption i

[2021-06-30 08:40] whiltemoon commented on #11047
thankd you @RaigorJiang  issuse is my table has 'json' type cloumn .    can set check-table-metadata-enabled  deal but, this check-table-metadata-enabled conf not effected at  5.0.0_beta

[2021-06-30 09:25] #11047 closed

[2021-06-30 10:18] nanzheng commented on #10867
Thank for your reply. So EncryptAlgorithmFactoryBean will pass the propeties value into the algorithm? I will check it out.

[2021-06-30 10:20] nanzheng commented on #11074
Debug step into the code, there is a try catch code block will throw  org.antlr.v4.runtime.NoViableAltException.
At  getInterpreter().adaptivePredict(_input,0,_ctx)  this step. @tristaZero

[code]

[2021-06-30 10:23] RaigorJiang commented on #10867
Yes,  notice the super class `ShardingSphereAlgorithmFactoryBean`.

[2021-06-30 10:48] strongduanmu opened #11075 "Support SQL statement execution with schema"
## Feature Request

Now, Proxy supports the configuration of multiple logic databases. The `use sharding_db` statement can be used to switch the logic databases, but it is not convenient. It is hoped to support the execution of SQL statements with schema and route to the corresponding logic database for execution according to the schema specified in the SQL statement.

For example, we have configu

[2021-06-30 11:06] #10993 closed

[2021-06-30 13:10] avalon5666 commented on #11072
Can you provider configurations.
By the way recommand use 5.0.0-beta.

[2021-06-30 13:26] avalon5666 commented on #11074
hi, "RANK" is keyword, try to escape.

[2021-06-30 14:11] aditijainrogers commented on #8629
not sure why this was closed without a solution, i am also facing same issue

[2021-06-30 14:24] iamkyu opened #11080 "Build Failed for Prelease"
### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Success builds. When I do it

[code]

### Actual behavior
Build Failed

[code]

/shardingsphere/shardingsphere-jdbc/shardingsphere-jdbc-core/target/surefire-reports/org.apache.shardingsphere.driver.jdbc.adapter.invocatio

[2021-06-30 14:35] iamkyu commented on #10861
@ysyysjbama @strongduanmu
any progress? I interested in this issue

[2021-06-30 14:56] kxw07 commented on #11066
works, thank you.

[2021-07-01 00:46] strongduanmu commented on #10861
@iamkyu Welcome, i will assign this issue to you.

[2021-07-01 01:20] zkzong commented on #11072
[code]

[2021-07-01 01:22] zkzong commented on #11072
5.0.0 is beta version, can I use in production environment？

[2021-07-01 01:32] tristaZero commented on #10043
autoTables` needs `ShardingAutoTableAlgorithm` to help users auto-sharding tables, [Config](https://github.com/apache/shardingsphere/blob/master/shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/resources/config/config-sharding.yaml) is a exmpale.
@RaigorJiang are there other configs in our `examples`?

[2021-07-01 01:34] avalon5666 commented on #11059
Duplicate with #11063

[2021-07-01 02:00] Yule-Momoko opened #11085 "Sharding JDBC 5.0.0-beta configuration error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-01 02:24] RaigorJiang commented on #10043
Hi @CatYangWei @childewuque
`autoTable` is a feature to let users do not care about the specific distribution of the tables, just tell shardingsphere how many pieces to split the tables into.

There are currently no other documents and examples to illustrate `autoTable`, we will write an article to introduce this feature in the future.

Thanks for your attention.

[2021-07-01 03:32] #10966 closed

[2021-07-01 04:38] pkwenda commented on #11039
I have the same problem , If the real database name different alias database name, you can use `type: com.zaxxer.hikari.HikariDataSource` to do your dataSource, I not know why maybe is a BUG.

reason :
![image](https://user-images.githubusercontent.com/14212375/124065337-2b6e4400-da69-11eb-9f18-6b34b4d28749.png)
after i change dataSource , it work now

[2021-07-01 05:06] RaigorJiang commented on #11039
Hi @pkwenda
Do you mean datasource name `msg-center` can not work, but `msg_center` works well?

[2021-07-01 05:25] pkwenda commented on #11039
If the real database name of the configuration file has an underscore, it is processed by an alias, for example, like this

[code]

because names not allowed underscore ，error , i change datasource it works

com.alibaba.druid.pool.DruidDataSource  --- > com.zaxxer.hikari.HikariDataSource

[2021-07-01 05:57] RaigorJiang commented on #11039
@pkwenda  Thanks for your information, I 'll check it.

[2021-07-01 08:31] Yule-Momoko opened #11088 "Please provide a sample hint configuration for ShardingJDBC5.0.0-beta version. Thank you!"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-07-01 08:34] DongJigong opened #11089 "5.0-alpha upgrade to 5.0-beta mybatis auto increment key error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-01 09:27] TeslaCN opened #11090 "Proxy Transaction State is incorrect in MySQL"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Actual behavior
When using server PreparedStatement to execute TCL, the transaction state in `BackendConnection` is incorrect.

[2021-07-01 09:28] nanzheng commented on #11074
I try 4.0.1 it can success insert to the target table. So your point is not the right answer.

[2021-07-01 09:33] zjcnb commented on #11085
hi, I think you need to change the jdbc:127.0.0.1:3306 first
suck as : jdbc:mysql://127.0.0.1:3306

Please try it

[2021-07-01 09:34] avalon5666 commented on #11074
This is a quick fix.
We will check again, thx.

[2021-07-01 09:36] Yule-Momoko commented on #11085
The problem is:
spring.shardingsphere.rules.sharding.tables.t_order.database-strategy.hint.hint-test.sharding-algorithm-name=hint-test

[2021-07-01 10:32] boycai opened #11092 "Sharding JDBC 5.0.0-beta createDataSource error"
### Which version of ShardingSphere did you use?
shardingsphere-jdbc-core-5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc

### Actual behavior
throw Exception

### Example codes for reproduce this issue (such as a github link).
**My code：**
`DataSource dataSource = YamlShardingSphereDataSourceFactory.createDataSource(yamlBytes);`

**To pr

[2021-07-01 10:51] yaomindong1996 opened #11093 "ShardingUnconfiguredTablesRoutingEngine.java#findDataSourceName() cannot ignore the case of logicTables"
## Bug Report

ShardingUnconfiguredTablesRoutingEngine.java#findDataSourceName() cannot ignore the case of logicTables

### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Expected behavior
want to ignore the case of logicTables
### Actual behavior

### Reason analyze (If you can)

### Ste

[2021-07-01 13:20] iamkyu commented on #11080
My mistake.
when `Clazz.class.getDeclaredMethod(String, Class<?>...)` Called
- with [AdoptOpenJDK 8.0.292.j9](https://www.eclipse.org/openj9/) : `NoSuchMethodException` Occured.
- with AdoptOpenJDK 8.0.292.hs-adpt: No exceptions occurs. `IllegalAccessException` Occured when 'method.invoke(Object, Object...)' (Same as test case)

[2021-07-01 13:20] #11080 closed

[2021-07-01 13:38] avalon5666 commented on #11072
Can you set this configuration "spring.shardingsphere.props.sql.show=true", and provider the log.

[2021-07-01 13:40] avalon5666 commented on #11088
See [example](https://github.com/apache/shardingsphere/tree/5.0.0-beta/examples/shardingsphere-jdbc-example/other-feature-example/hint-example/hint-raw-jdbc-example).

[2021-07-01 13:48] avalon5666 commented on #11089
Can you provider the sharding configuration and show the sql which executing.

[2021-07-01 13:56] terrymanu opened #11097 "Consider about remove MetaDataAwareEventSubscriber"
After #11084 merged, the GovernanceAuthorityContext has been removed, and there is no implementation class of MetaDataAwareEventSubscriber.
Can we consider about remove MetaDataAwareEventSubscriber?

[2021-07-01 13:56] avalon5666 commented on #11092
Reference [example](https://github.com/apache/shardingsphere/blob/5.0.0-beta/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases.yaml).
We update the document.

[2021-07-01 14:56] zhujunxxxxx commented on #11051
really interesting. this is a good idea.

[2021-07-02 00:57] lwclover commented on #11097
OK，please walk to pull request [#11099](https://github.com/apache/shardingsphere/pull/11099)

[2021-07-02 01:04] Yule-Momoko commented on #11088
what ?   this is  ShardingJDBC5.0.0-alpha version,There is no help

[2021-07-02 01:32] avalon5666 commented on #11088
Hi, this example work on 5.0.0-beta too, pls try it.
We had modify the example version in master.

[2021-07-02 01:35] #11058 closed

[2021-07-02 01:39] Yule-Momoko commented on #11088
this example  Is configured in SPI mode ,I need BASE-CLASS mode

[2021-07-02 01:49] zkzong commented on #11072
[code]

[2021-07-02 01:57] avalon5666 commented on #11088
Take a look at the examples and documentation. I don't understand what is spi and what is class_based.
[code]
[code]

[2021-07-02 01:58] avalon5666 commented on #11072
Pls check you orm configuration. sql missing sharding column.

[2021-07-02 01:58] #11088 closed

[2021-07-02 02:16] RaigorJiang opened #11100 "[DistSQL] Enhance the 'AddResource' syntax to allow custom connection properties"
Hi community,

When I use DistSQL to add resource, the proxy always gives an alert because the `useSSL` parameter is not specified when creating a  connection.

Similarly, if use the driver of version 8.0 or higher, `serverTimezone` is also an indispensable parameter.
Therefore, I consider enhancing the `add resource` function to allow users to configure the above parameters, as well as any other

[2021-07-02 02:56] JooKS-me opened #11102 "[Summer 2021] ShardingSphere-Agent Add OpenTelemetry plugin"
According to the current Agent architecture, add the implementation of related APIs and SPI interfaces, and connect with OpenTelemetry.

refer [https://summer.iscas.ac.cn/#/org/prodetail/210090023](https://summer.iscas.ac.cn/#/org/prodetail/210090023)

Task List

- [x] add OpenTelemetry plugin
- [x] add test unit
- [x] add integration test for docker

[2021-07-02 02:57] yu199195 commented on #11102
good job!

[2021-07-02 03:30] nanzheng commented on #11074
`project: OSD2021`

[2021-07-02 03:31] nanzheng commented on #11074
We will discuss this issue at the meeting on July 16th.

[2021-07-02 03:33] tristaZero commented on #11102
@JooKS-me Welcome.

@yu199195 As the mentor of ShardingSphere community, could you add labels and milestone for this issue?

[2021-07-02 05:07] JiekerTime opened #11103 "Wrong metadata in encrypt scenarios"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Both

### Expected behavior
When I execute ‘ALTER TABLE t_user_details CHANGE number number_new VARCHAR(50)’, it is able to finish the column name change.

### Actual behavior
`[ERROR] 2021-07-02 04:57:46.341 [ShardingSphere-ScenarioExecutorPool-jdbc-dbtb

[2021-07-02 05:39] JiekerTime opened #11105 "SQL rewriting problems in encrypt scenarios"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Both

### Expected behavior
‘ALTER TABLE t_user_details DROP COLUMN number’ executed normally.

### Actual behavior
`[ERROR] 2021-07-02 05:18:01.665 [ShardingSphere-ScenarioExecutorPool-jdbc-encrypt-H2-0] o.a.s.t.i.junit.watcher.ITWatcher - Error case: as

[2021-07-02 05:59] Yule-Momoko opened #11106 "Why not use my hint routing strategy for federated queries？"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-02 06:08] Orliucase commented on #10963
@i will solve it@

[2021-07-02 06:27] Orliucase commented on #10963
Could you assign me this issue?

[2021-07-02 06:33] tristaZero commented on #10963
Hey @soulasuna welcome.
[How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/) is for U.

[2021-07-02 06:36] tristaZero commented on #11103
@strongduanmu Hi could you have a look? Plus, if @zjcnb wants to like a try, welcome.
#11105 and This one.

[2021-07-02 06:37] yu199195 commented on #11102
@tristaZero  Hi, Thank you for the reminder， I will add labels and milestone for this issue.

[2021-07-02 06:50] zzq1314zll commented on #10992
Hi!  @strongduanmu  I want this issue to be my "virgin commit"

[2021-07-02 06:52] strongduanmu commented on #10992
@zzq1314zll Welcome to join the SS community.

[2021-07-02 07:04] tristaZero commented on #11097
Hi done.

[2021-07-02 07:04] #11097 closed

[2021-07-02 07:54] takuya1981 commented on #10960
I'd like to confirm something. Which class is needed to be tested in this ticket? I mean  PostgreSQLComBindPacket is already tested in PostgreSQLComBindPacketTest.

[2021-07-02 08:03] SkySun90 commented on #10633
mark.  遇到同样问题。

[2021-07-02 08:27] terrymanu commented on #11100
Good idea

[2021-07-02 08:40] dengjin001 commented on #9584
@yu199195 @wangkang09   These configurations have been checked, but the error still exists.
![image](https://user-images.githubusercontent.com/29300542/124246340-6a78c400-db53-11eb-88e8-a78bad822b8d.png)

![image](https://user-images.githubusercontent.com/29300542/124245890-0229e280-db53-11eb-9a13-0f2ec4a5d8a5.png)

[2021-07-02 09:34] wtjperi2003 commented on #9584
use shardingsphere and seata will produce this problem. My pom like this:
[code]

help~~~~

[2021-07-02 09:36] RaigorJiang opened #11108 "Add an auto sharding table example."
Hi community,

This issue is for [#10887](https://github.com/apache/shardingsphere/issues/10887).

### Aim

Add an auto sharding table example with `ShardingAutoTableRuleConfiguration`. in [examples](https://github.com/apache/shardingsphere/tree/master/examples) project.

### Basic Qualifications

- Java
- Maven

### Example FYI

`examples`->`shardingsphere-jdbc-example`->`other-feature-example`.

[2021-07-02 09:48] #11092 closed

[2021-07-02 09:49] boycai commented on #11092
Problem has been solved, thank you

[2021-07-02 10:44] zjcnb commented on #11103
yeah , I'm willing to give it a try

[2021-07-02 10:45] strongduanmu commented on #11103
@zjcnb Welcome.

[2021-07-02 10:46] zjcnb commented on #11105
Assign it to me, please

[2021-07-02 10:47] kenl-lin opened #11110 "PostgreSQL integrates Sharding Proxy and uses Timestamp as the conditional query. There is a problem in the fifth query."
In the process of my integration, the following error occurred, when querying through the timestamp type. The first few queries are no problem. It was found that the problem occurred for the fifth time, and finally through the to_timestamp() function query, there was no problem.

`### SQL: select * from order_tick where account_id = ? and trans_time < ?
### Cause: java.lang.IllegalStateException:

[2021-07-02 10:47] strongduanmu commented on #11105
@zjcnb Assigned, if you have any questions, please ping me.

[2021-07-02 10:53] JiekerTime commented on #11103
I will also participate in this issue, and you can contact me if you have any questions.

[2021-07-02 11:07] zjcnb commented on #11103
Ok, that's good

[2021-07-02 11:07] zjcnb commented on #11105
ok

[2021-07-02 11:28] strongduanmu commented on #11106
@Yule-Momoko Because the `t_order` table and the `t_item` table are not binding tables, in this scenario, multiple sharding tables cannot be routed normally.

[2021-07-02 11:51] zzq1314zll opened #11112 "The development specification link is invalid."
![image](https://user-images.githubusercontent.com/33930711/124270480-d6b4f100-db6e-11eb-863d-163be9041922.png)

[2021-07-02 13:25] tristaZero commented on #10992
@zzq1314zll aha, welcome, [How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/) for your virgin PR.

[2021-07-02 13:29] zzq1314zll commented on #10992
@tristaZero I have some questions, can you help me

[2021-07-02 13:29] zzq1314zll commented on #10992
![image](https://user-images.githubusercontent.com/33930711/124281712-93617f00-db7c-11eb-91e2-2b94c15e2dd9.png)

[2021-07-02 14:42] #11072 closed

[2021-07-02 15:21] guimingyue opened #11115 "JoinType of JoinTableSegment is missing"
The `joinType` field of `JoinTableSegment` is null for inner join. I think the `ParseTreeVisitor` does not handle the join type property. For example, the testcase of [SelectStatementSqlNodeConverterTest#testConvertInnerJoin](https://github.com/apache/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-optimize/src/test/java/org/apache/shardingsphere/infra/optimize/core/convert/Se

[2021-07-02 15:47] guimingyue opened #11116 "`innerExpression` of AggregationProjection is a String object"
The sql is `select order_id, user_id from t_order where order_id = 10 group by order_id having max(order_id) > 1`
The having clause ast of this sql cannot be converted to calcite ast because the `innerExpression` is String type.

<img width="599" alt="Screen Shot 2021-07-02 at 23 35 50" src="https://user-images.githubusercontent.com/1716196/124346777-4d0b2f00-dc13-11eb-84ed-88be7e9d76c6.png">

[2021-07-02 16:38] TeslaCN commented on #10810
I found something here https://github.com/actions/virtual-environments/issues/1499

[2021-07-03 02:24] boycai opened #11122 "5.0.0-beta insert data, failed to get autoincrement primary key"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc-core

### Expected behavior
The use of "insert" to the table when inserting data, can be obtained from the entity class to ID (on the primary key). Because before using 4.0.1 versions are supported

### Actual behavior
I use Myb

[2021-07-03 02:25] QiliangFan commented on #9697
- PR1 from  `ShardingSphere-doc`: [552](https://github.com/apache/shardingsphere-doc/pull/552/files)
   - When someone commits to `master` branch, changes will exist in `preview` directory.
   - Add a workflow `Update Document`: When triggered, move files in `preview` directory to `current` directory with some necessary operations( eg. sed, rm)
- PR2: [11121](https://github.com/apache/shardingsphe

[2021-07-03 03:01] Orliucase commented on #10963
sorry,the issue is a bit difficult for me at the moment, I can not do it

[2021-07-03 07:06] #10810 closed

[2021-07-03 12:52] guimingyue opened #11127 "Some subclass of `ExpressionSegment` have not been parsed"
The expression of `ExpressionOrderByItemSegment`  and `ExpressionProjectionSegment` contains only String type field, which cannot be converted to calcite SqlNode.

Then expression field should be ast object.

[2021-07-03 16:21] #10907 closed

[2021-07-03 16:25] terrymanu opened #11128 "The config persisted in reg center need to be adjust"
The current persist format of config data is below:

[code]

`!!map` is unnecessary, we need to optimize them.

[2021-07-04 04:22] terrymanu opened #11132 "Refine exceptions of DistSQL handler"
The current exception is mess and lots of duplicated usage.
It is necessary to refine and clear them.

[2021-07-04 07:38] wjh0258 opened #11139 "ShardingSphere-Proxy 5.0beta版，在分片规则中未指定具体表的分库规则，不走默认分库规则"
ShardingSphere-Proxy 5.0beta版

在分片规则中未指定具体表的分库规则，不走默认分库规则，都默认插入到了配置中的最后一个数据源。

表比较多不想一个个表配置路由规则，能否未配置的走默认统一路由配置？

[2021-07-04 08:00] RaigorJiang commented on #11110
Sorry, the above PR is for issue 11100, not 11110, and the title has changed.

[2021-07-04 08:19] terrymanu commented on #11139
**For English only**, other languages will not accept.

[2021-07-04 08:19] #11139 closed

[2021-07-04 09:13] #11132 closed

[2021-07-04 10:31] tristaZero commented on #9697
I just wanna confirm, that the final result of the issue-1 is,
Each release ([tag](https://github.com/apache/shardingsphere/tags)) will own its doc site built from its doc source code, right? For instance, 5.0.0-beta will be presented in the dropdown of the `Document` [header](https://shardingsphere.apache.org/).

@avalon5666 @QiliangFan

[2021-07-04 10:51] QiliangFan commented on #9697
![demo](https://z3.ax1x.com/2021/07/04/RfniGD.png)

Each release version with pattern '5.x.x' will share the directory named `5.x(current)`. While the directory named `preview` will hold on all untaged commits since last release created.

It will look like this.... [Demo site](https://shardingsphere-doc.torch-fan.site/)  🤔

![demo1](https://z3.ax1x.com/2021/07/04/RfuiT0.png)

[2021-07-04 10:54] wjh0258 opened #11147 "Shardingsphere proxy 5.0 beta does not specify the specific table's database rule in the partition rule, so the default database rule is not used"
Shardingsphere proxy 5.0 beta

table t_test2  does not specify the specific table's  database rule in the partition rule, so the default  database rule is not used

Now table t_test2  always route to database ds_1.

I expect table t_test2  route to database  ds_${tenant_id}
 defaultDatabaseStrategy:
    standard:
      shardingColumn: tenant_id
      shardingAlgorithmName: database_inline

#######

[2021-07-04 11:04] tristaZero commented on #11147
Hey, `t_test2` is a sharding table or a non-sharding one?

[2021-07-04 11:09] tristaZero commented on #11122
@zjcnb Hi, could you have a look here? What you changed in our last PR is about this one?

[2021-07-04 11:11] zjcnb commented on #11122
OK, let me see

[2021-07-04 11:12] tristaZero commented on #11085
Hi @Yule-Momoko any progress? From the log, it seems it has something to do with `metadata loading`. Could you provide more log?

[2021-07-04 11:23] zjcnb commented on #11122
@tristaZero @boycai  hello, I just checked that the related, code has not yet been merged into the beta branch. Can you try the 5.0.0-RC1-SNAPSHOT branch

[2021-07-04 12:56] wjh0258 commented on #11147
Hey,&nbsp;t_test2&nbsp;is a sharding table&nbsp;

发自我的iPhone

------------------ Original ------------------
From: Juan Pan(Trista) ***@***.***&gt;
Date: Sun,Jul 4,2021 7:04 PM
To: apache/shardingsphere ***@***.***&gt;
Cc: wjh0258 ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/shardingsphere] Shardingsphere proxy 5.0 beta does not specify the specific table's  database rule in the pa

[2021-07-04 13:17] SivaTharun commented on #10902
@tristaZero please review this [PR](https://github.com/apache/shardingsphere/pull/11152) for this issue

[2021-07-04 14:30] avalon5666 commented on #9697
@tristaZero @QiliangFan
Document header will keep current struct, and add a master version in the dropdown for master branch.
so, 5.0.0-beta will be presented in the 5.x(Current).

[2021-07-04 16:05] kenl-lin commented on #11110
Is this a bug?

[2021-07-05 00:57] Yule-Momoko commented on #11085
Hi @tristaZero
![image](https://user-images.githubusercontent.com/67772051/124404792-05011f00-dd6f-11eb-9353-5aa59d7f63a4.png)

[2021-07-05 01:06] Yule-Momoko commented on #11106
ok  thank you!

[2021-07-05 01:40] strongduanmu commented on #11075
After the merger of PR #11150, the master branch can support the following statements with all features.

## DAL Statement

* AnalyzeTableStatement
* ExplainStatement
* MySQLShowColumnsStatement
* MySQLShowCreateTableStatement
* MySQLShowIndexStatement

## DCL Statement

* GrantStatement
* RevokeStatement

## DDL Statement

* AlterTableStatement
* CreateIndexStatement
* CreateTableStatement
* Drop

[2021-07-05 02:12] strongduanmu commented on #11085
@Yule-Momoko Yes, the description of `sharding-algorithm-name` is repeated. Are you interested in submitting a PR for optimization?

[2021-07-05 02:27] Yule-Momoko commented on #11085
I don't know how to operate it

[2021-07-05 02:28] strongduanmu commented on #11085
@Yule-Momoko You can refer this [doc](https://shardingsphere.apache.org/community/cn/contribute/contributor/).

[2021-07-05 02:50] strongduanmu commented on #11007
@shijinting0321 Can you provide more infomation?

[2021-07-05 02:51] tuichenchuxin commented on #11074
I want to fix it, may I?

[2021-07-05 03:37] strongduanmu commented on #11074
@tuichenchuxin Welcome to join in SS community.

[2021-07-05 04:40] soulasuna opened #11156 "Add unit test for shardingsphere-agent-core"
Hi community,

This issue is for #10887.

## Aim
Add unit test for shardingsphere-agent-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [x] ComposeClassStaticMethodAroundAdvice
- [x] ComposeConstructorAdvice

## Examples FYI
- ShardingSphereTransformerTest

[2021-07-05 04:43] #11021 closed

[2021-07-05 04:56] tristaZero commented on #10963
@Orliucase Alright, thanks. We'd like to welcome others.

[2021-07-05 04:57] tristaZero commented on #11122
So we have fixed this issue on our master branch, right? @zjcnb

[2021-07-05 04:57] tristaZero commented on #11147
But I just saw a `t_test` sharding rule, rather than `t_test2`?

[2021-07-05 05:01] tristaZero commented on #9697
Got it, could we have a 5.x (Dev) only for `master branch`, as we may do some modifications according to the master (dev) programming update? Plus, we still need 5.0.0-beta (Current) for the released version. How do you think?

[2021-07-05 05:07] tristaZero commented on #10960
@takuya1981 Sorry for my late response.

[2021-07-05 05:25] soulasuna commented on #10960
@takuya1981 Thank you very much for your attention. PostgreSQLComBindPacket is already tested in PostgreSQLComBindPacketTest. You can see #10887. Pick a task that interests you.

[2021-07-05 05:25] #10960 closed

[2021-07-05 05:51] zjcnb commented on #11105
@JiekerTime  hi bro, The problem is that the SQL syntax h2 is not supported. You can look at this: https://www.h2database.com/html/commands.html#alter_table_drop_column And You can specify db-types="MySQL" in ddl-integration-test-cases.xml, and modify scenario-types="dbtbl_with_readwrite_splitting,readwrite_splitting". Can you submit a PR?

[2021-07-05 05:56] takuya1981 commented on #10987
Hello, Can I try this ticket?

[2021-07-05 06:08] strongduanmu commented on #10987
@takuya1981 Of course, and you refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribute.

[2021-07-05 06:53] #11015 closed

[2021-07-05 06:55] #11020 closed

[2021-07-05 07:02] RaigorJiang commented on #11100
After discussion with @tristaZero , we decided to optimize the syntax structure to make the `add resource` statement closer to the yaml configuration format, allowing users to reuse their data source configuration more conveniently.

#### YAML
[code]

#### DistSQL： Add Resource
[code]
Like the example above, the format of `URL` is consistent with which in yaml, and propertise is an optional parame

[2021-07-05 07:14] JiekerTime commented on #11105
Modified the main text: "The current problem does not occur in the H2 scenario", you can reproduce the problem by uncommenting it.

[2021-07-05 08:05] riverdba opened #11157 ""2Unknown exception: [INSERT INTO .... ON DUPLICATE KEY UPDATE can not support update for sh arding column.]""
## Bug Report
[ERROR] 2021-07-05 15:43:33.881 [ShardingSphere-Scaling-execute-5] o.a.s.s.c.e.i.AbstractImporter - flush failed 0/3 times
.
java.sql.BatchUpdateException: 2Unknown exception: [INSERT INTO .... ON DUPLICATE KEY UPDATE can not support update for sh
arding column.]
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at sun.reflect.NativeConstructorA

[2021-07-05 08:09] strongduanmu commented on #11157
@riverdba Can you try `ShardingSphere-Proxy 5.0.0-beta`? The latest version has better SQL support.

[2021-07-05 08:14] riverdba commented on #11157
Yes,I used ShardingSphere-Proxy 5.0.0-beta.download from:
https://mirrors.bfsu.edu.cn/apache/shardingsphere/5.0.0-beta/apache-shardingsphere-5.0.0-beta-shardingsphere-scaling-bin.tar.gz

[2021-07-05 08:17] strongduanmu commented on #11157
@riverdba Still having problems with the latest version?

[2021-07-05 08:19] riverdba commented on #11157
Yes.

[2021-07-05 08:35] strongduanmu commented on #11157
The sharding table does not allow updating the sharding column, so an exception is thrown.@avalon566  will help investigate possible problems in scaling?

[2021-07-05 08:41] zjcnb commented on #11122
yes

[2021-07-05 09:42] sizzlecar commented on #10965
Let me try

[2021-07-05 09:53] strongduanmu commented on #10965
@sizzlecar Welcome, you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-05 10:27] qq279973895 opened #11161 "sharding-jdbc-spring-boot-starter 4.1.1, throw IndexOutOfBoundsException excetion"
my mysql table ：
![图片](https://user-images.githubusercontent.com/14822832/124456926-d8c0bf00-ddbd-11eb-9930-6e3dbb9f23c2.png)

CREATE TABLE `t_testpaper_question` (
  `id` bigint(20) unsigned NOT NULL,
  `paperId` bigint(20) DEFAULT NULL,
  `questionId` bigint(20) NOT NULL,
  `innerOrder` int(11) DEFAULT NULL,
  `status` int(11) NOT NULL DEFAULT '1' COMMENT '0禁用，1启用',
  PRIMARY KEY (`id`),
  KEY `

[2021-07-05 10:32] qq279973895 opened #11162 "sharding-jdbc-spring-boot-starter 4.1.1, throw IndexOutOfBoundsException excetion"
my mysql table ：
![图片](https://user-images.githubusercontent.com/14822832/124456926-d8c0bf00-ddbd-11eb-9930-6e3dbb9f23c2.png)

CREATE TABLE `t_testpaper_question` (
  `id` bigint(20) unsigned NOT NULL,
  `paperId` bigint(20) DEFAULT NULL,
  `questionId` bigint(20) NOT NULL,
  `innerOrder` int(11) DEFAULT NULL,
  `status` int(11) NOT NULL DEFAULT '1' COMMENT '0禁用，1启用',
  PRIMARY KEY (`id`),
  KEY `

[2021-07-05 10:35] qq279973895 commented on #11162
TestPaperMapper.xml error sql ：
<select id="getTestpaperQuestionByPaperId" resultType="com.qishiyun.poplar.qlib.dto.TestpaperQuestion">
        select ttq.*,(@rowNum :=@rowNum + 1) AS num from t_testpaper_question ttq,(SELECT @rowNum := 0) temp where paperId = #{paperId} and status = 1 order by innerOrder
</select>

[2021-07-05 14:52] avalon5666 commented on #11157
Migration from single database to sharding, the source shardingsphereJdbc must configure sharding column. It will exclude sharding column from where condition.

[2021-07-05 16:03] hhhChan opened #11165 "error 1064"
my version is 4.1.0-sharding-proxy

when i start the sharding-proxy
the log is
![image](https://user-images.githubusercontent.com/49359976/124497294-328cad80-dded-11eb-815f-862617b37695.png)

it seems start ok

when i  connet connection on navicat-mysql 3307 for sharding-proxy it is ok
but
![image](https://user-images.githubusercontent.com/49359976/124497471-77b0df80-dded-11eb-8f65-9a495c8d7085.pn

[2021-07-05 16:10] hhhChan commented on #11165
![image](https://user-images.githubusercontent.com/49359976/124498259-9f547780-ddee-11eb-8419-8b3b97229bcb.png)

[2021-07-05 16:14] #11165 closed

[2021-07-06 00:29] sandynz commented on #9568
After some discussion with @tristaZero , it's necessary to optimize `User` and `Host` column in processlist.

[2021-07-06 01:17] #11074 closed

[2021-07-06 02:06] tristaZero commented on #9568
@sandynz Look forward to your next step. ;-)

[2021-07-06 02:14] GarfieldZhan opened #11166 "where does the shariding-ui store the data"
what did I do:
I deploy sharding-proxy-4.1.1 and sharding-4.1.1-ui  in  my  machine ,And I registry config center and registry center using the ui , but when I create database with comment in Chinese  , the comments turn to '???'
So I stop the  sharding-proxy-4.1.1 and sharding-proxy-4.1.1-ui  , then I deploy  sharding-5.0.0-beta and   sharding-5.0.0-ui-alpha in the SAME machine，when I login the

[2021-07-06 02:33] wjh0258 commented on #11147
t_test2  sharding rule not configured，I expect table t_test2 route to database ds_${tenant_id}
defaultDatabaseStrategy:

[2021-07-06 02:33] taojintianxia opened #11167 "could shardingsphere provide the support for prometheus exporter"
for the mojority, the proxy config may looks like following :

[code]

and we could manipulate these datasource through proxy, that's really cool.however , if we want to export some other info to prometheus, seems proxy will not work .

just like mysql_exporter, this process will try to access the tables in shcema `information_schema` and `performance_schema` , if we launch the mysql_exporter , it

[2021-07-06 05:07] totalo commented on #11014
Hi, since distsql is now used as a db-type, this is not appropriate. In order to separate the plain SQL from distsql, my main idea is to use different XML tags, but the same set of XML parsers. Then, different SQL processing is performed based on different XML tags. As shown in the figure below:
![图](https://user-images.githubusercontent.com/29777558/124545122-04de4d80-de5b-11eb-8b3c-03eccd19b439.

[2021-07-06 05:17] Yule-Momoko opened #11168 "The CAST function is not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-06 07:05] TeslaCN opened #11169 "NPE occurred when PostgreSQL write null value in Binary format"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior
![image](https://user-images.githubusercontent.com/20503072/124556837-5db5e200-de6b-11eb-8fb7-107935f0dc7d.png)

![image](https://user-images.githubusercontent.com/20503072/124557014-948bf800-de6b-11eb-

[2021-07-06 07:44] Yule-Momoko opened #11171 "Does not support： from dual"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-06 07:47] #11157 closed

[2021-07-06 07:52] sunguosheng opened #11172 "Cannot find range sharding strategy in sharding rule"
### Which version of ShardingSphere did you use?
sharding-jdbc-4.1.0
mybatis：3.2.8
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]
#MsPushShardingAlgorithm ========================================

[code]

####### table #######
[code]

########Error#######

![Uploading image.png…]()
[code]

[2021-07-06 08:04] DongJigong commented on #11089
I have changed beta version to alpha

[2021-07-06 08:04] #11089 closed

[2021-07-06 09:00] #11169 closed

[2021-07-06 09:20] JoinWDT opened #11174 "select count(1)+1 from test_table not support"
### Which version of ShardingSphere did you use?

5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

`1. select CONCAT(ROUND(SUM(1)/0.000131*100,3), '') from test_table`
`2. select count(1)+1 from test_table`
`3. select c

[2021-07-06 10:00] strongduanmu commented on #11174
@JoinWDT What is the exception information?

[2021-07-06 10:02] strongduanmu commented on #11171
@Yule-Momoko What is the exception information?

[2021-07-06 10:04] tuichenchuxin commented on #11168
I want fix it.

[2021-07-06 10:04] strongduanmu commented on #11168
@Yule-Momoko Thank you for your feedback, @tuichenchuxin will track it.

[2021-07-06 10:09] Yule-Momoko commented on #11171
com.google.common.util.concurrent.UncheckedExecutionException: java.lang.NullPointerException
	at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2218)
	at com.google.common.cache.LocalCache.get(LocalCache.java:4147)
	at com.google.common.cache.LocalCache.getOrLoad(LocalCache.java:4151)
	at com.google.common.cache.LocalCache$LocalLoadingCache.get(LocalCache.java:5140)
	at com.google

[2021-07-06 10:19] strongduanmu commented on #11171
@Yule-Momoko Thank you for your information, and i will investigate this issue later.

[2021-07-06 10:54] terrymanu opened #11177 "Decouple RAL statement handler and related implications"

[2021-07-06 12:03] #11177 closed

[2021-07-07 00:43] #10952 closed

[2021-07-07 01:19] strongduanmu commented on #11171
Fixed by #11175.

[2021-07-07 01:19] #11171 closed

[2021-07-07 01:35] tristaZero commented on #11147
Hi you want to use `defaultDatabaseStrategy` for sharding table though, it is needed to configure this table with `actualDataNodes:`.

[2021-07-07 01:37] tristaZero commented on #11166
Hi @GarfieldZhan The configuration is a bit different between 5.x and 4.x, please give a look at the doc and [example](https://github.com/apache/shardingsphere/tree/5.0.0-beta/examples).

[2021-07-07 01:41] totalo commented on #11112
hi, @TeslaCN I found that the data directory and related files were missing in the website. I tried to repair them.

[2021-07-07 01:55] tristaZero commented on #10375
Done.

[2021-07-07 01:55] #10375 closed

[2021-07-07 02:05] RaigorJiang opened #11184 "AddResourceStatement raises exception when create CommonSQLStatementContext."
Hi @strongduanmu
In commit #bfb784c9, `SQLStatementContext` was added in `TextProtocolBackendHandler.newInstance` method.
But class `CommonSQLStatementContext` uses `sqlstatement` to judge the database type, and `AddResourceStatement` raises an `UnsupportedOperationException`.

![image](https://user-images.githubusercontent.com/5668787/124689202-a96b9880-df0a-11eb-939c-82313a34954a.png)

[2021-07-07 02:20] #11172 closed

[2021-07-07 03:04] SteNicholas commented on #11167
@taojintianxia , IMO, the support for the prometheus exporter makes sense to me. Do you have the interest to contribute this exporter?

[2021-07-07 03:08] #11184 closed

[2021-07-07 04:00] tuichenchuxin commented on #11115
I'd like to try that

[2021-07-07 04:00] tuichenchuxin commented on #11116
I'd like to try that

[2021-07-07 04:01] tuichenchuxin commented on #11127
I want fix it.

[2021-07-07 04:03] zjcnb commented on #11116
hi, i want to try fixed it

[2021-07-07 06:42] soulasuna opened #11188 "Example project dependency upgrade"
## Example project dependency upgrade.

In order to improve the reference of the example project, the example project depends on the upgrade.
Hope the example project can help developer better.

### Upgrade version instructions.

- Springframework related dependencies are upgraded to 5.0.13.RELEASE.
- Springboot related dependencies are upgraded to 2.0.9.RELEASE.
- Other dependencies will also be

[2021-07-07 07:45] #11014 closed

[2021-07-07 07:46] zjcnb commented on #11116
@guimingyue hi, I will follow up on this issue. What types do you need to data you in InnerExpression?

[2021-07-07 08:24] #11168 closed

[2021-07-07 08:36] sunguosheng opened #11190 "Return page becomes table name + data"
### Which version of ShardingSphere did you use?
sharding jdbc 4.1.0
mybatis3.2.8
### implementation step
[code]
MsPushShardingAlgorithm：
[code]
### table
[code]
### Error
![image](https://user-images.githubusercontent.com/57164757/124726385-485eb780-df40-11eb-9ec6-ccf374037a43.png)
![image](https://user-images.githubusercontent.com/57164757/124728710-63cac200-df42-11eb-89e2-77049490d1fe.png)

Ret

[2021-07-07 08:41] zjcnb opened #11191 "Add more examples to validate Parser SQLStatement for other databasetype"
Hi community,

Background:

Add more examples to validate Parser SQLStatement

Expected:

Add oracle、pgsql 、sql92 、sqlserver example

How to do it?

You can check out the shardingsphere-parser-example module

[2021-07-07 08:44] #11191 closed

[2021-07-07 09:01] zjcnb opened #11192 "Add more examples to validate Parser SQLStatement for other database."
Hi community,

## Aim
Add more examples to validate Parser SQLStatement for other database.

## DataBase
- Oracle #11193
- Postgre #11198
- SQL92 #11197
- SqlServer #11195

## Examples FYI
- MySQLParserStatementExample

[2021-07-07 09:07] zjcnb opened #11193 "Add examples to validate Parser SQLStatement for oracle."
Hi community,

This issue is for #10887.

## Aim
Add examples to validate Parser SQLStatement for Oracle Datebase.

## Examples FYI
- MySQLParserStatementExample

[2021-07-07 09:10] zjcnb opened #11195 "Add examples to validate Parser SQLStatement for SqlServer DataBase."
Hi community,

This issue is for #10887.

## Aim
Add examples to validate Parser SQLStatement for SqlServer DataBase.

## Examples FYI
- MySQLParserStatementExample

[2021-07-07 09:12] zjcnb opened #11197 "Add example to validate Parser SQLStatement for SQL92 Database."
Hi community,

This issue is for #10887.

## Aim
Add example to validate Parser SQLStatement for SQL92 Database.

## Examples FYI
- MySQLParserStatementExample

[2021-07-07 09:14] zjcnb opened #11198 "Add example to validate Parser SQLStatement for PostgreSQL Database."
Hi community,

This issue is for #10887.

## Aim
Add example to validate Parser SQLStatement for PostgreSQL Database.

## Examples FYI
- MySQLParserStatementExample

[2021-07-07 09:21] LeeGuoPing commented on #11192
May I do it?

[2021-07-07 09:23] LeeGuoPing commented on #11195
please assign it to me,dear zjcnb

[2021-07-07 09:23] LeeGuoPing commented on #11193
please assign it to me

[2021-07-07 09:40] strongduanmu commented on #11193
@LeeGuoPing Welcome, i will assign this issue to you.

[2021-07-07 09:42] #11192 closed

[2021-07-07 10:12] tuichenchuxin commented on #11115
@guimingyue
Hi, i can assigned the joinType to 3 types
"INNER","LEFT","RIGHT" but not "FULL".
Because mysql only support this
joined_table: {
    table_reference {[INNER | CROSS] JOIN | STRAIGHT_JOIN} table_factor [join_specification]
  | table_reference {LEFT|RIGHT} [OUTER] JOIN table_reference join_specification
  | table_reference NATURAL [INNER | {LEFT|RIGHT} [OUTER]] JOIN table_factor
}
will

[2021-07-07 11:22] terrymanu opened #11202 "Connect proxy failure if using driver of MySQL 8 and prepared statement"
When I used driver `8.0.11` of MySQL and enabled prepared statement(using `&useServerPrepStmts=true&cachePrepStmts=true` in JDBC URL) to connect proxy, the exception occur:

[code]

But driver `5.1.42` of MySQL is fine.

The test class is:

[code]

Configuration of config-readwrite-splitting.yaml

[code]

Configuration of server.yaml

[code]

[2021-07-07 11:33] donjuan6 commented on #11202
Can this issue be assigned to me？

[2021-07-07 11:43] tristaZero commented on #11202
Welcome, @donjuan6

[2021-07-07 14:37] iamkyu commented on #10988
Let me work

[2021-07-08 02:16] SteNicholas commented on #11190
@sunguosheng would you have interest to contribute for fixing the bug?

[2021-07-08 03:20] tristaZero commented on #10988
@iamkyu Hey see you again here.

[2021-07-08 03:27] sunguosheng commented on #11190
I couldn't find a solution to the problem

[2021-07-08 05:36] zoujianchao commented on #11197
I'll make it

[2021-07-08 05:39] zoujianchao commented on #11197
please assign it to me,dear zjcnb

[2021-07-08 05:58] TyrealBM commented on #11198
please assign it to me,dear zjcnb

[2021-07-08 06:24] guimingyue commented on #11115
It's ok for MySQL for now.

[2021-07-08 06:30] tuichenchuxin commented on #11115
@guimingyue
ok，i'll make
[INNER | CROSS] JOIN | STRAIGHT_JOIN AS "INNER";
{LEFT|RIGHT} [OUTER] JOIN AS "LEFT"/"RIGHT";
NATURAL [INNER | {LEFT|RIGHT} [OUTER]] JOIN AS "INNER"/"LEFT"/"RIGHT";
Will this be ok?

[2021-07-08 06:59] guimingyue commented on #11115
STRAIGHT_JOIN and INNER JOIN are not equal, so I think we should leave it to be unsupported.

[2021-07-08 07:08] damo120 opened #11211 "java.lang.IndexOutOfBoundsException"
table1 use has_mod,sharding-count is 9;
table2 use has_mod,sharding-count is 19;
when select by

'select * from table2 where exists(select * from table1 where table1.xx=table2.xx)'

runtime error

using ShardingSphere-proxy 5.0.0-bate

[2021-07-08 07:10] tuichenchuxin commented on #11115
emm,you are right!

[2021-07-08 07:11] daipengfei183 commented on #11195
i want to do it！

[2021-07-08 07:29] tuichenchuxin commented on #11115
@guimingyue
I think NATURAL [INNER | {LEFT|RIGHT} [OUTER]] JOIN  is different either,
So,i think assign joinType as 'NATURAL' will be better.

[2021-07-08 08:08] half-pa opened #11213 "shardingproxy：readwrite-splitting does not work"
version:5.0-beta
config-master-slave.xml
config:
`schemaName: master_slave_db

dataSources:
  master:
    url: jdbc:mysql://ocalhost:3306/put_up1?useUnicode=true&characterEncoding=utf-8&useSSL=false&useAffectedRows=true&autoReconnect=true
    username: fowrite
    password: 717jL4H729apESWqeDsOnUX6P1iPvO+U2wt9rGI
    connectionTimeoutMilliseconds: 660000
    idleTimeoutMilliseconds: 60000
    maxL

[2021-07-08 08:16] flypiggy-stack commented on #9027
The Maven I quoted is this
`<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
  </dependency>
  <dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>sharding-core-common</artifactId>
  </dependency>`

Which version number should I refer to to solve this problem?

[2021-07-08 08:20] sharplaw opened #11214 "5.0.0 oracle hibernate 子查询 语句解析有误"
执行语句：SELECT * FROM (SELECT adminuserd0_.ID AS id1_6_, adminuserd0_.AVATAR AS avatar2_6_, adminuserd0_.CREATED_AT AS created_at3_6_, adminuserd0_.DELETED_AT AS deleted_at4_6_, adminuserd0_.DISABLED AS disabled5_6_, adminuserd0_.PASSWORD AS password6_6_, adminuserd0_.PHONE AS phone7_6_, adminuserd0_.REAL_NAME AS real_name8_6_, adminuserd0_.SEX AS sex9_6_, adminuserd0_.UPDATED_AT AS updated_at10_6_,

[2021-07-08 08:49] setamv opened #11218 "Bug in parse sharding value from binding table rules"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
correctly analysis sharding value from binding table

### Actual behavior
get wrong sharding value analized from binding table under certain conditions.

### Reason analyze (If you can)
in code bellow, it

[2021-07-08 09:03] Yule-Momoko opened #11219 "The query field has a placeholder，report an error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-08 09:03] zjcnb commented on #11214
hi,  ShardingSphere-Proxy currently does not support Oracle

[2021-07-08 09:05] Yule-Momoko opened #11220 "The query field has a placeholder，report an error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-08 09:14] tristaZero opened #11222 "Refactor PostgreSQL proxy frontend and backend."
- [x] Refactor PostgreSQLBinaryStatementRegistry
- [x] Refactor PostgreSQLBinaryStatementRegistry

[2021-07-08 09:18] sharplaw commented on #11214
I use&nbsp;ShardingSphere-JDBC ,not&nbsp;ShardingSphere-Proxy

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年7月8日(星期四) 下午5:03
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/shardingsphere] 5.0.0 oracle hibernate 子查询 语句解析有误 (#11214)

hi,  ShardingSphere-Proxy currently does not support Oracle

—
You are receiving this because you

[2021-07-08 10:24] JiekerTime commented on #11103
After confirming that the cause of this problem is not caused by the H2 dialect, the review is detailed in [PR](https://github.com/apache/shardingsphere/runs/3017749540)

[2021-07-08 10:29] tuichenchuxin commented on #11127
@guimingyue I want to know what kind of object you need?

[2021-07-08 11:38] setamv commented on #11220
+1

[2021-07-08 12:20] #11193 closed

[2021-07-08 14:26] zhujunxxxxx opened #11229 "Add more Privilege and SQL statement mapping"
fix todo for `AuthorityChecker`
## Aim
Add more Privilege and SQL statement mapping

[2021-07-08 14:55] terrymanu commented on #11214
**For English only**, other languages will not accept.

[2021-07-08 14:55] #11214 closed

[2021-07-08 15:37] guimingyue commented on #11127
For example, the expression '10+30' in the select list of the following SQL should be parsed as a BinaryOperationExpression object, and the left and right fields should LiteralExpressionSegment objects.

[code]

[2021-07-08 16:05] terrymanu commented on #11219
duplicate with #11220

[2021-07-08 16:05] #11219 closed

[2021-07-08 16:07] terrymanu commented on #11211
Can you provide the exception stack trace?

[2021-07-08 23:31] #11229 closed

[2021-07-09 00:54] sandynz commented on #9568
Hi @tristaZero , I'm working on `User` and `Host` column optimization, it need to transfer `grantee` (including `username` and `hostname`) to underlying and then persist to governance, `grantee` just exists in proxy. I considered 3 ways to transfer:

1. Put `Grantee` and `LogicSQL` in `ExecutionGroupContext`. Easier to extend later, but not sure whether they are related or not.
2. Put `Grantee` an

[2021-07-09 01:25] strongduanmu commented on #11220
@Yule-Momoko @setamv Thank you very much for using the beta version and reporting exception. This is indeed a problem. You can try to assemble the parameters in the query field in the business layer to avoid this problem. We will fix this problem in the next version.

[2021-07-09 02:08] strongduanmu commented on #11198
@TyrealBM Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-09 02:10] strongduanmu commented on #11197
@zoujianchao Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-09 02:10] strongduanmu commented on #11195
@LeeGuoPing  Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-09 02:12] strongduanmu commented on #11195
@daipengfei183 Are you interested in other osd tasks? Like, this issue —— https://github.com/apache/shardingsphere/issues/10868.

[2021-07-09 02:16] strongduanmu commented on #11213
@half-pa Do you mean to execute 1000 SQL at a time? This type of SQL is not currently supported, and multiple SQLs executed at a time may be of different types, which will lead to incorrect read-write routing.

[2021-07-09 02:37] 2241101100 commented on #10909
I have the same problem

jdk1.8 springboot: 2.2.12.RELEASE  sharding-sphere: 5.0.0-beta   mybatis-plus: 3.4.1

log:

`### Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSessi

[2021-07-09 02:41] 2241101100 commented on #10909
I have the same problem

jdk1.8 springboot: 2.2.12.RELEASE  sharding-sphere: 5.0.0-beta   mybatis-plus: 3.4.1

log:

`### Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSessi

[2021-07-09 02:49] leeey111 opened #11234 "Could not use RDL to add resource"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-09 02:53] 2241101100 commented on #10909
I had the same problem when the table in mysql is auto_increment and the insert operation

springboot:2.2.12    mybatis-plus:3.4.1   sharding-sphere:5.0.0-beta

log:
`
### Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at

[2021-07-09 02:54] 2241101100 commented on #10909
I had the same problem when the table in mysql is auto_increment and the insert operation

springboot:2.2.12    mybatis-plus:3.4.1   sharding-sphere:5.0.0-beta

[2021-07-09 02:55] 2241101100 commented on #10909
log:

`
Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.update(DefaultSqlSession.java:199)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.insert(DefaultSqlSe

[2021-07-09 02:56] 2241101100 commented on #10909
log:

`
Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.update(DefaultSqlSession.java:199)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.insert(DefaultSqlSe

[2021-07-09 02:56] 2241101100 commented on #10909
`Cause: org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Cannot find strategy for generate keys.
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.update(DefaultSqlSession.java:199)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.insert(DefaultSqlSession.j

[2021-07-09 03:01] 2241101100 commented on #10909
log:

[code]

[2021-07-09 03:02] 2241101100 commented on #10909
configurations:
[code]

[2021-07-09 03:06] 2241101100 commented on #10909
code:

[code]

[2021-07-09 03:11] strongduanmu commented on #11234
@leeey111 Can you try the latest `5.0.0-beta` version?

[2021-07-09 03:14] zjcnb commented on #11220
@strongduanmu  hi, assigned me please, i want to try

[2021-07-09 03:16] leeey111 commented on #11234
Sorry,is my fault,i actully had used 5.0.0-beta

[2021-07-09 03:18] justbk2015 opened #11235 "drop tablespace have difference result in two DN nodes"
## Bug Report
if we create a single table on two DN nodes's tablespace, order is DN1,DN2。 then we try to drop tablespace,  not all ways get exception, if table create on DN2, even if tablespace can't delete, but result if success!
### Which version of ShardingSphere did you use?
opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior

[2021-07-09 03:19] 2241101100 commented on #10909
5.0.0-alpha doesn't have this problem

[2021-07-09 03:28] justbk2015 opened #11236 "grant not support on pg/openGauss"
## Bug Report
grant privileges to user_test;
this language not support on sharding-proxy

### Which version of ShardingSphere did you use?
opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior
execute success
### Actual behavior
with exception
### Reason analyze (If you can)
not support this language
### Steps to reproduce the behav

[2021-07-09 03:32] strongduanmu commented on #11220
@zjcnb Assigned.

[2021-07-09 03:33] half-pa commented on #11213
@strongduanmu I have1000 threads, one query per thread, but more queries received by the master DB。not 1000 query SQL at a time。

[2021-07-09 03:35] justbk2015 opened #11237 "create/alter/drop view not support on pg/openGauss"
## Feature Request
to support create/alter/drop view on pg/openGauss

### Is your feature request related to a problem?
I find pr: https://github.com/apache/shardingsphere/pull/7740 already support on mysql,so can your support pg/openGauss too?
### Describe the feature you would like.
sharding_db=> CREATE VIEW MyView AS select a.,b.item_con from t_order a,t_order_item b where a.order_id = b.order_

[2021-07-09 03:43] justbk2015 commented on #9611
I have get this bug two, if this connecton use transaction with exception, then next sql will not correct dispose  unless restart proxy!!

[2021-07-09 03:48] justbk2015 opened #11238 "sql "start transaction read only" not support on pg/openGauss"
## Bug Report
if we set a transaction with read only level,  this will success insert on proxy, but fail on pg/openGauss, this is proxy's bug, please fix.

### Which version of ShardingSphere did you use?
opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior
can't insert data when set read only level
### Actual behavior
insert succe

[2021-07-09 03:58] justbk2015 opened #11239 "result incorrect when DN not reachable in proxy on pg/opengauss"
## Bug Report
proxy with two node DN1, DN2 and start success. then I stop DN1, and DN2. when we use gsql connect to sharding_db,  we can get `select gs_password_notifytime()` and `select intervaltonum(gs_password_deadline())` return 1, this is incorrect , we expect throw exception

### Which version of ShardingSphere did you use?
opengauss_adapt
### Which project did you use? ShardingSphere-JDBC o

[2021-07-09 06:10] yx9o opened #11242 "spring boot 2.x+ss 5.0.0-beta, discussion of using underscores in properties in configuration files"
**description:**
Spring boot 2.x does not support underscores in attribute names. In the official documentation of ss, there are underscores in attribute names in the configuration of the fragmentation algorithm, such as:
[code]
I think database_inline and table_inline need to be adjusted and cannot contain underscores, because such a configuration will report an error when it starts. The error is

[2021-07-09 06:17] SteNicholas commented on #11237
@justbk2015 `CREATE/ALTER/DROP VIEW` is supported in MySQL, other like PG/OpenGauss doesn't support this. Do you have interest to contribute this support? @strongduanmu could help you to contribute.

[2021-07-09 06:21] justbk2015 opened #11243 "rollback not completely support in pg/opengauss"
## Bug Report
if create table called in transaction  ,then rollback, the table is not created, but the table metadata was updated in proxy,  I can't recreate this table before restart proxy.

### Which version of ShardingSphere did you use?
opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior
I can recreate table after transaction

[2021-07-09 06:24] SteNicholas commented on #11236
@justbk2015 , `GRANT` syntax isn't supported in PG/OpenGauss. Do you have interest to contribute this adapter to PG/OpenGauss?

[2021-07-09 07:05] justbk2015 commented on #11236
I'd like to try it

[2021-07-09 07:07] justbk2015 commented on #11237
I will try it

[2021-07-09 07:21] RaigorJiang opened #11247 "[Question] Why the props keys does not match Hikari properties in Converter"
### Background
Currently, we use [Hikari](https://github.com/brettwooldridge/HikariCP) as the connection pool In `Proxy`, and properties are seted to the connection pool in class `DataSourceConfiguration` by invoke the `setter` method.

But in class `DataSourceParameterConverter`, where the props are prepared for Hikari, some keys are not match the Hikari prroperties, such as `maxPoolSize`, `minPo

[2021-07-09 07:47] abideZLQ opened #11248 "Reason: Failed to bind properties under 'sharding.jdbc.datasource.db' to java.util.Map<?, ?>"
一、envorment：

sharding jdbc3.1 + springboot2.0.0.M2 + mybatis plus 3

二、start-up error：

 java.lang.Object.wait(Native Method)
 java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:143)
 com.mysql.jdbc.AbandonedConnectionCleanupThread.run(AbandonedConnectionCleanupThread.java:43)
2021-07-09 15:02:05.218  INFO 13436 --- [           main] utoConfigurationReportLoggingInitializer :

Error starting

[2021-07-09 08:17] dachuan9e opened #11249 "upgrade hikariCP to jdk8 for proxy"
Hi,All.
We need tp upgrade the hikari to jdk8 since some feature will depend on it. Such as metics in prometheus. It also can avoid some uncertain class load problem for coexistance of hikariCP-java7 & hikari.

[2021-07-09 08:26] RaigorJiang commented on #11248
Hi @abideZLQ
Thanks for your report.
Can you try a newer version? The latest release is 5.0.0-beta,  and '3.1.0' is outdated

[2021-07-09 08:27] darkaquarius opened #11250 "the application starts too slowly if there are too many tables"
There are 7000+ tables in my database, most of them are single tables.
When the application starts, it will scan all the tables, and each table will scan the table structure, causing my program to take 10 minutes.Can we optimize the startup speed?

ShardingRule:
[code]

FederateSchemaMetadata
[code]

ShardingRule:
[code]

TableMetaDataLoader
[code]

[2021-07-09 08:30] darkaquarius commented on #11250
@tristaZero

[2021-07-09 08:38] RaigorJiang commented on #11039
Hi @pkwenda
This is not a connection pool problem, it is that underscore configuration parameters are no longer allowed to be used above springboot2.0.

    Bean: org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration
    Reason: Canonical names should be kebab-case ('-' separated), lowercase alpha-numeric characters and must start with a letter

So it's not a bug.

@future94
Is you

[2021-07-09 08:41] RaigorJiang commented on #10207
Hi @lancecpdd
Is your problem solved? Can we close this issue?

[2021-07-09 08:58] JonasGao opened #11251 "Why is the exception of my SQL execution not thrown out"
## Question

When I migrated the legacy code, I did not pay attention to the table structure is not suitable for sharding.
After completing the Sharding configuration. I test my code. It is an insert operation. I found that it did not report an error, but returned the number of affected rows "-1". I was confused at the time. After many attempts, I amended the table structure. Normally, SQLExceptio

[2021-07-09 09:09] abideZLQ commented on #11248
Thank you for your reply. I tried the latest version as you said, but it still happened

[2021-07-09 09:14] RaigorJiang commented on #11248
OK.
But we have used Sharding-JDBC to do a lot of tests, and we haven't encountered the situation you mentioned. Can you provide a sample project on github?   It will help us to reproduce the problem. Thank you!

[2021-07-09 09:30] RaigorJiang commented on #11251
Hi @JonasGao
Please refer to #10844 , You can try the latest version by build master branch.

[2021-07-09 09:40] ZhengSiyang opened #11253 "sharding-proxy XA transaction manager"
Sharding-proxy cannot be integrated in the application as a data source, as a data source in a multi-data source distributed transaction manager

![微信截图_20210709173453](https://user-images.githubusercontent.com/26701055/125058375-c952b600-e0dc-11eb-8ab5-45c7345590ad.png)

![微信截图_20210709173716](https://user-images.githubusercontent.com/26701055/125058393-ce176a00-e0dc-11eb-85af-9d2e37b039a5.png)

[2021-07-09 10:35] abideZLQ commented on #11248
The easy project has been uploaded to my warehouse,
https://github.com/abideZLQ/sharding-jdbc-demo.git
Please take a look

[2021-07-09 10:35] #11248 closed

[2021-07-09 10:48] abideZLQ opened #11255 "Reason: Failed to bind properties under 'sharding.jdbc.datasource.db' to java.util.Map<?, ?>"
一、envorment：

sharding jdbc5.0.0-meta + springboot2.0.0.M2 + mybatis plus 3

simple project address:  https://github.com/abideZLQ/sharding-jdbc-demo.git

二、sprintboot start-up error：

***************************
APPLICATION FAILED TO START
***************************

Description:

Binding to target [Bindable@4f8d86e4 type = java.util.Map<?, ?>, value = 'none', annotations = array<Annotation>[[emp

[2021-07-09 11:54] tristaZero commented on #11251
@JonasGao I stand @RaigorJiang . Plus, your 🙋‍♂️  ... looks cute.

[2021-07-09 11:56] tristaZero commented on #11250
This refers to the metadata loading improvement for single tables.

[2021-07-09 12:01] tristaZero commented on #11239
@justbk2015 Hi, I saw many issues about OG SQLs.
Currently, we will firstly deal with PostgreSQL SQL. BTW, are the issues you raised all in PostgreSQL's SQL list?
If not, please comment something on that issue. Thanks.

[2021-07-09 15:37] zhujunxxxxx opened #11257 "Add test case for AuthorityChecker"
# Aim
Add test case for AuthorityChecker

[2021-07-10 08:54] Swastyy commented on #11156
@soulasuna Can I work on this issue?

P.S. It would be great if you can share some resources since I am new to open source in databases.

[2021-07-10 11:04] #10989 closed

[2021-07-10 13:16] acmenlt opened #11264 "Document Corrigendum：5.x Version FAQ"
## Problem description

Article 16 of FAQ in version 5.x of the official website is inconsistent with the actual situation

Shardingkeygenerator no longer exists in the latest version

## Repair opinion

Modify the Shardingkeygenerator to the correct Keygeneratealgorithm

Address：https://shardingsphere.apache.org/document/current/cn/faq/

[2021-07-11 06:08] Swastyy commented on #11198
@strongduanmu Is it still open? Can I work on this?

[2021-07-11 06:10] Swastyy commented on #10990
@RaigorJiang I want to work on this. Please assign it to me.

[2021-07-11 06:40] strongduanmu commented on #10990
@Swastyy Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-11 06:42] #11197 closed

[2021-07-11 06:45] strongduanmu commented on #11198
@Swastyy This issue has been assigned to @TyrealBM, you can claim other osd tasks, such as issue #10915.

[2021-07-11 07:40] #11100 closed

[2021-07-11 09:30] yx9o commented on #11264
I'll do it

[2021-07-11 11:57] zjcnb commented on #11255
Hi bro, i use your config it can work. You can refer to this [https://github.com/zjcnb/ss-example.git](url)

[2021-07-11 14:35] terrymanu commented on #11202
@donjuan6 Hi, after merge the PR #11265, the problem still not fixed yet.

[2021-07-11 14:44] terrymanu opened #11270 "Remove test only constructor of SelectStatementContext"
The first constructor of SelectStatementContext are used for test case only.

Please refactor the test cases to use the second constructor and remove the first one.

[2021-07-11 14:54] LeeGuoPing commented on #11270
May I do this one?

[2021-07-11 15:03] terrymanu commented on #11270
Go ahead please

[2021-07-11 15:04] #11202 closed

[2021-07-12 01:14] strongduanmu commented on #11264
@yx9o Welcome, assigned.

[2021-07-12 01:50] Swastyy commented on #10915
https://github.com/apache/shardingsphere/issues/11198#issuecomment-877750594
Please assign this issue to me.

[2021-07-12 02:23] Yuesd opened #11272 "Can not route tables for [pg_database], please make sure the tables are in same schema"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-07-12 02:31] Yuesd commented on #11272
Warning：Can not route tables for [pg_database], please make sure the tables are in same schema
using config-sharing.yml

[2021-07-12 05:46] #11050 closed

[2021-07-12 06:13] terrymanu opened #11275 "Split metadata persist feature from governance module to kernel module"
- [x] Add ConfigCenterRepository class
- [x] Make RegistryCenterRepository extends ConfigCenterRepository
- [x] Call ConfigCenterRepository instead of Event post in kernel module
- [x] Adapt with Proxy
- [x]  Adapt with JDBC

[2021-07-12 06:24] TeslaCN opened #11276 "MySQL Proxy may returned unnecessary EOF Packet"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

Client sent:
[code]

Proxy replied:
[code]

The 7th EOF packet is unnecessary here, which may increase the I/O cost.

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as:

[2021-07-12 08:30] #11257 closed

[2021-07-12 08:52] nanzheng opened #11281 "Sharding-JDBC Poor performance, need to Improve."
### Env
Version：shardingsphere 4.0.1
Test tool: jmeter 5.3
Test Case: shardingsphere benchmark 4.1.1
Database ：mysql
Threads: 10
Each thread loops: 1000000

### Test cases
Case A(JDBC): select * from a where a.aa= 'ciphertext' and a.bb='ciphertext';
Case B(Sharding-JDBC): select * from a where a.aa= 'plaintext' and a.bb='plaintext';

### Result diagram
JDBC base compare profiler output [Case A](ht

[2021-07-12 08:54] #11239 closed

[2021-07-12 08:58] soulasuna opened #11282 "Code optimization for shardingsphere-shadow project"
## Code optimization for shardingsphere-shadow project

Optimization goal to improve code robustness and readability

## Optimization direction

- Perform type judgment before forced type conversion to avoid type conversion failure.

- Reduce nested if judgments. The logic is clearer and easier to read.

- Optimize large methods with complex logic and increase the readable lines for multiple small

[2021-07-12 09:52] Swastyy commented on #11156
Hey @tristaZero when I am cloning the repo into my local machine its not cloning all the folders.
![image](https://user-images.githubusercontent.com/64654203/125267965-e1b51180-e324-11eb-8cc3-5d46a6f70907.png)

[2021-07-12 09:52] tristaZero commented on #11156
Hi @Swastyy ,

Welcome, I guess we already have met yesterday, right?

[2021-07-12 09:53] Swastyy commented on #11156
Yep, but I dont know why it is not working 😕

[2021-07-12 09:54] tristaZero commented on #11156
It looks a little wired. You ran `git clone your forked repo`, right?

[2021-07-12 09:55] Swastyy commented on #11156
Hmm yes

[2021-07-12 09:58] Swastyy commented on #11156
@tristaZero I think I found the problem. Sorry for disturbing

[2021-07-12 10:19] #11063 closed

[2021-07-12 10:37] Dogs-toeight opened #11287 "Exception info： java.sql.SQLException: No value specified for parameter 1"
The version about 4.0.1

[2021-07-12 10:37] #11287 closed

[2021-07-12 10:46] Dogs-toeight opened #11290 "Exception about No value specified for parameter 1"
version about 4.0.1
After I use the sub-table, when I want to add a new data, one of the `source` fields cannot do set value operation.
I'm not quite sure if it's the system identification field.
But it works when it's a single table. I have checked that the information in the `source` field of all the sub-tables is consistent.
That's all, there is exception stack：
Caused by: java.sql.SQLException

[2021-07-12 11:58] stephensuxun opened #11293 "Adding data error using mybatis plus"
使用sharding JDBC 版本4.1.1

<dependency>
            <groupId>com.baomidou</groupId>
            <artifactId>mybatis-plus-boot-starter</artifactId>
            <version>3.4.1</version>
  </dependency>

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>
        </depen

[2021-07-12 12:11] #11128 closed

[2021-07-12 12:52] stephensuxun commented on #11293
现在已经将版本更新到5.0.0-beta
依赖库为

<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core</artifactId>
    <version>5.0.0-beta</version>
</dependency>
配置文件为
# 配置默认数据源

spring.shardingsphere.props.sql-show=true
spring.shardingsphere.datasource.common.driver-class-name=com.mysql.cj.jdbc.Driver
spring.shardingsphere.datasource.names=ds0
spring.shardingsphere.da

[2021-07-12 13:02] stephensuxun commented on #11293
shardingsphere-jdbc-core使用的版本为5.0.0-beta

配置文件

spring.shardingsphere.props.sql-show=true
spring.shardingsphere.datasource.common.driver-class-name=com.mysql.cj.jdbc.Driver
spring.shardingsphere.datasource.names=ds0
spring.shardingsphere.datasource.ds0.username=root
spring.shardingsphere.datasource.ds0.password=st18ts!20
spring.shardingsphere.datasource.ds0.url=jdbc:mysql://172.16.20.3:3306/ainews

[2021-07-12 13:05] #11220 closed

[2021-07-12 13:21] yx9o commented on #11293
Hi@stephensuxun, please refer to the issue submission specification, please modify the title and content description to English, thank you

[2021-07-12 15:57] zjcnb commented on #11293
hi， First adjust the content of the question to English Please！Then  You can use:

`spring.shardingsphere.datasource.names=ds0,ds1

spring.shardingsphere.datasource.common.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.ds0.username=root
spring.shardingsphere.datasource.ds0.password=123456
spring.shardingsphere.datasource.ds0.url=jdbc:mysql://127.0.0.1:3306/ainewssystem_cl

[2021-07-13 00:12] #11115 closed

[2021-07-13 01:01] strongduanmu commented on #10915
@Swastyy Welcome, you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-13 01:03] strongduanmu commented on #11290
@Dogs-toeight Please provide your sharding configuration and execute sql.

[2021-07-13 01:16] Dogs-toeight commented on #11290
First of all, thank you for your attention to this issue.
I went through the `source` code carefully yesterday and found that the source field could not be prepared.
After that, I manually wrote the new statement on mybatis plus and added the keyword escape quotes, and the problem was solved.

[2021-07-13 01:41] Dogs-toeight commented on #11290
First of all, thank you for your attention to this issue.
I went through the source code carefully yesterday and found that the source field could not be prepared.
After that, I manually wrote the new statement on mybatis plus and added the keyword escape quotes, and the problem was solved.

[2021-07-13 01:41] 2241101100 opened #11299 ""Cannot find strategy for generate keys." error when mybatis-plus save"
**springboot:2.2.12 mybatis-plus:3.4.1 shardingsphere-jdbc-core-spring-boot-starter:5.0.0-beta**

code:
[code]

configurations:
[code]

log:
[code]

[2021-07-13 01:41] 2241101100 commented on #11299
but 5.0.0-alpha doesn't have this problem

[2021-07-13 01:47] 2241101100 commented on #805
+1

[2021-07-13 01:56] JooKS-me opened #11301 "Update observability page in document"
Hi community,

As the OpenTelemetry plugin is updated (see #11102) ,  we'd better update the following pages in document:

- [x] https://shardingsphere.apache.org/document/current/cn/features/governance/observability/apm-integration/
- [x] https://shardingsphere.apache.org/document/current/cn/features/governance/observability/agnet/
- [x] https://shardingsphere.apache.org/document/current/en/featu

[2021-07-13 01:59] #11249 closed

[2021-07-13 02:36] stephensuxun commented on #11293
Now using the 5.0.0 version of sparing JDBC can be started, but when using mybatis plus to write data, an error is reported

2021-07-13 10:31:03.110 ERROR 3008 --- [nio-7091-exec-7] c.a.c.u.c.exception.AppExceptionHandler  : 抛出异常 ERROR ======>

org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: groo

[2021-07-13 02:48] yx9o commented on #11264
fixed in #11292

[2021-07-13 03:46] dachuan9e opened #11304 "Integrate the Hikari metrics to Prometheus"
Integrate the Hikari metrics to Prometheus.

 We can get the runtime data of Hikari pool for analyzing the performance when queries happen.

[2021-07-13 05:54] TeslaCN opened #11305 "Is it possible to replace the usage of `UUID.randomUUID()`?"
## Feature Request

Related to #10626

### Is your feature request related to a problem?

https://github.com/apache/shardingsphere/blob/4cc516ef3ccd8d9abcebf9b3de69a4af1f586cf6/shardingsphere-infra/shardingsphere-infra-executor/src/main/java/org/apache/shardingsphere/infra/executor/kernel/model/ExecutionGroupContext.java#L40

The randomUUID is slow even if I used the `/dev/urandom`.
`-Djava.securi

[2021-07-13 06:00] terrymanu commented on #11305
Sure, if the performance can be improved, please change it

[2021-07-13 06:02] terrymanu commented on #11293
**For English only**, other languages will not accept.

[2021-07-13 06:02] #11293 closed

[2021-07-13 06:14] strongduanmu commented on #11299
@2241101100 Which table query triggered this exception? If the table cannot find the corresponding table rule, this exception will occur.

[code]

[2021-07-13 06:25] #11195 closed

[2021-07-13 06:29] terrymanu opened #11307 "Investigate mvn install failure"
The mvn install failure sometimes, please investigate.

[code]

[2021-07-13 06:37] totalo commented on #11307
hi, I want to try to fix it.

[2021-07-13 06:46] dachuan9e commented on #11304
Here are different ways to integrate the metrics. These ways can be used by integrating any metrics other than HikariCP metrics.
1. Use the java agent way
2.Use the modular code way

[2021-07-13 06:55] strongduanmu commented on #11307
@totalo Welcome!

[2021-07-13 06:57] JooKS-me commented on #11304
Hi @dachuan9e , I think you'd better use the java agent way, which is a module specifically for observability.

[2021-07-13 07:36] totalo commented on #11307
hi @terrymanu ,Do you have stack information? It doesn't seem to be able to reproduce in my local area, but I guess yours is because the JAR package doesn't match.

[2021-07-13 07:41] ecyuan opened #11309 "Blocked all thread when cold startup with high concurrency request"
When application startup firstly, and none of sql querying, then use [wrk](https://github.com/wg/wrk
) to test, `./wrk --latency --timeout=2s -t12 -c400 -d30s 'http://localhost:8080/getdefault?id=100'`, then application will halt, all thread blocked, like following log(heapdump from process).

"http-nio-31130-exec-3" #104 daemon prio=5 os_prio=0 tid=0x0000000032268000 nid=0x4e1c waiting for monito

[2021-07-13 08:07] terrymanu commented on #11307
@totalo The problem maybe throw when executing by `mvn -T 1C install`

[2021-07-13 08:11] terrymanu commented on #11247
I don't see the usage of these parameters, can we just remove them?

[2021-07-13 08:28] RaigorJiang commented on #11247
@terrymanu
Yes, after investigating parameters of class `HikariConfig` and historical code of ShardingSphere, the following information is obtained:

- The parameter corresponding to `maintenanceIntervalMilliseconds` cannot be found in Hikari, `maintenanceIntervalMilliseconds`has never been used.
- There is no `minPoolSize` parameter in Hikari,  but `minimumIdle` is close to it. Hikari's suggestio

[2021-07-13 08:29] RaigorJiang commented on #11247
Here is a reference: https://github.com/apache/shardingsphere/pull/6708 to remote `maintenanceIntervalMilliseconds`

[2021-07-13 09:04] totalo commented on #11307
ok，thx

[2021-07-13 10:19] zjcnb commented on #11190
@SteNicholas hi, assigned me please

[2021-07-13 10:23] tuichenchuxin commented on #10900
@viqbgrg
This problem is indeed reproduced with your demo.
This is due to mysql databaseMetaData.getTypeInfo()
JSON type cannot be obtained, resulting in subsequent nullPointerException.

append  this will be ok.
![image](https://user-images.githubusercontent.com/86938616/125435773-cfa3b889-2407-4ed4-96b2-5bac434fd0de.png)
I want a more elegant way to solve this problem.

[2021-07-13 10:36] strongduanmu commented on #11190
@zjcnb Assigned.

[2021-07-13 10:53] zjcnb opened #11317 "ShardingSphere-Proxy startup document has mistakes"
Hi,
     I found a documentation error.
    Address url: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/usage/startup/
    ext-lib are right, lib-ext are not right.  it ’s  need correction.

[2021-07-13 11:17] Ryan-Miao opened #11318 "Customize ShardingAlgorithm cannot get Bean from Spring"
## Question

I use standard table strantegy to sharding. My class implements PreciseShardingAlgorithm, Cannot get anything from Spring context beacase of is not the same class loader?

中文：

我自定义了分片策略，在实现的PreciseShardingAlgorithm调用Spring Context，调用静态类的静态成员变量， 都是空。我想要分片策略可以查询redis等其他介质货主分片， 但sharding加载的自定义策略不能获取其他静态对象。

[code]