[2022-07-09 06:47] linghengqian commented on #18973
Resolved in https://github.com/apache/shardingsphere/issues/18691 .

[2022-07-09 07:28] terrymanu commented on #18958
1. What is your version and configuration?
2. How to reproduce?

[2022-07-09 07:29] terrymanu commented on #18934
What is your configuration?

[2022-07-09 07:30] terrymanu commented on #18949
What is your version?

[2022-07-09 07:30] terrymanu commented on #18953
What is your version?

[2022-07-09 07:32] terrymanu commented on #18897
What is your version?

[2022-07-09 07:34] terrymanu commented on #18847
Master is not stable, can you provide the commit id?

[2022-07-09 07:38] terrymanu commented on #18755
Yes, we need to check unique for each rule.
It can be prevent by configuration, so I just set the issue as `good amateur issue`.

[2022-07-09 07:40] terrymanu commented on #18721
@williamXinCC Any update?

[2022-07-09 07:41] terrymanu commented on #18696
No feedback, I just close it.

[2022-07-09 07:45] terrymanu commented on #11593
What is your version?

[2022-07-09 07:46] terrymanu commented on #12609
No feedback for long time, I just close it.

[2022-07-09 07:46] #12609 closed

[2022-07-09 07:47] terrymanu commented on #12607
No feedback for long time, I just close it.

[2022-07-09 07:47] #12607 closed

[2022-07-09 07:50] terrymanu commented on #12691
Oracle is not the trunk feature for now, I just set the issue as good amateur issue

[2022-07-09 07:52] terrymanu commented on #8561
There are lots of dependencies to reproduce this issue.
Does anyone can help to analyze the issue and make the reproduce condition easy?

[2022-07-09 07:53] terrymanu commented on #9185
What is the version?

[2022-07-09 07:59] strongduanmu commented on #11237
This issue has been supported by issue #17915, so I will close this issue.

[2022-07-09 07:59] #11237 closed

[2022-07-09 10:28] #18968 closed

[2022-07-09 10:41] RaigorJiang commented on #12590
Now we have a new plan for `examples`, please refer to #12366, I just close this issue.

[2022-07-09 10:41] #12590 closed

[2022-07-09 10:45] jingshanglu commented on #11243
Now, DDL cannot be executed inside a transaction block, only outside a transaction block.

[2022-07-09 10:45] #11243 closed

[2022-07-09 10:53] mayfsac commented on #18897
sharding-jdbc  5.1.1

[2022-07-09 13:16] tuichenchuxin commented on #11350
Sorry for replying late. I found your demo version is 4.1.1 , and the community has stopped maintaining it.  Because of there's no init table sql in your demo. So I just try your select sql in master branch, It can be pased sucessfully. So I just close this issue.

[2022-07-09 13:16] #11350 closed

[2022-07-09 13:38] RaigorJiang commented on #18583
Hi @LeeGuoPing,
This issue lists some tasks, are they all completed? Or can you mark the completed parts?

[2022-07-09 13:39] tuichenchuxin commented on #14686
@TeslaCN I found `sbtest1` is sharding table and `id` is sharding column. So we need to get sharding value. but there is no parameter. So error occurs.
use this sql will be ok.
[code]
And I found `PreviewHandler` set parameters is always empty. If we need to support perview with parameter, We need to set parameters for `LogicSQL`
![image](https://user-images.githubusercontent.com/86938616/17810820

[2022-07-09 14:21] RaigorJiang commented on #18964
Hi @JiekerTime ,
Thanks for your report.

In the `Resource RDL` scenario, `DB` is indeed a keyword.
I'm already sorting out the specifications for DistSQL keywords and variable types, and will add detailed plans in another issue: #18811

[2022-07-09 14:26] RaigorJiang commented on #18955
HI @hehua2018
Thanks for your feedback.

To answer your question, we need to investigate what SQL statement DBeaver sends to the Proxy.
Can you provide the specific version information of DBeaver so that we can reproduce the problem.

[2022-07-09 15:49] terrymanu opened #18980 "Split DataSourceSegment to url based and hostname+port based"
The current DataSourceSegment is composed by url based and hostname+port based.
The `url` and `hostname, port` can not appear together.

The scenario of `url` is:

[code]

The scenario of `hostname, port` is:

[code]

It is better to split DataSourceSegment as 2 class: `URLBasedDataSourceSegment` and `HostnameAndPortBasedDataSourceSegment`.

[2022-07-10 01:23] LeeGuoPing commented on #18583
@RaigorJiang completed all

[2022-07-10 02:27] yx9o commented on #18980
Let me try.

[2022-07-10 03:28] TeslaCN commented on #18973
Could you paste the SQL and codes in text format? Screenshots doesn't help us to reproduce this issue.

[2022-07-10 03:57] terrymanu opened #18986 "Too board for catch Exception in AddResourceBackendHandler and AlterResourceBackendHandler"
The exception is thrown by:

https://github.com/apache/shardingsphere/blob/1c91f71ec16ed8df1f04c3e8305a892d33b01d63/shardingsphere-proxy/shardingsphere-proxy-backend/src/main/java/org/apache/shardingsphere/proxy/backend/text/distsql/rdl/resource/AddResourceBackendHandler.java#L65

and

https://github.com/apache/shardingsphere/blob/1c91f71ec16ed8df1f04c3e8305a892d33b01d63/shardingsphere-proxy/shard

[2022-07-10 04:30] comecny commented on #18953
5.1.2

[2022-07-10 06:32] strongduanmu commented on #18953
@comecny From the exception information, it seems that the exception is caused by the lack of metadata of a certain table. Can you provide your configuration information? If the actualDataNodes part of the actual table does not exist, it may cause the metadata to fail to load.

[2022-07-10 07:01] #18518 closed

[2022-07-10 07:05] #17519 closed

[2022-07-10 07:26] terrymanu opened #18991 "Try to remove LockContext.isLocked()"
LockContext.tryLock() is good practice of database lock.
For each lock progress, it is better to call tryLock first until timeout.

I am not sure what is the useful of `isLocked` method, can it be instead of tryLock?

The logic of `if isLocked is true, then throw exception` is not suitable out of control of LockContext.

[2022-07-10 07:36] terrymanu opened #18994 "No reference for AdvancedDistSQLStatement"
There is no reference of the class AdvancedDistSQLStatement, can it be removed?

[2022-07-10 07:45] terrymanu opened #18995 "RALStatement extension structures are not clear"
The current structures are:

[code]

`QueryableRALStatement` and `UpdatableRALStatement` are suitable basic categories.
`QueryableScalingRALStatement` and `UpdatableScalingRALStatement` are not in same abstract level with previous.
`CommonRALStatement` is for hint only, which is not suitable too for same abstract level. Question: Any other new DistSQL will be handled?
`AdvancedDistSQLStatement` is

[2022-07-10 08:02] terrymanu opened #18996 "What is the different of StandaloneMutexLock and MemoryMutexLock?"
The class `MemoryMutexLock` and `StandaloneMutexLock` are same, their holder classes `ShardingSphereMemoryLock` and `ShardingSphereStandaloneLock` are same too.
How about merge them into one class?

The names of the classes maybe MemoryMutexLock and ShardingSphereMemoryLock.

And more, Memory, Standalone and Cluster are the modes of ShardingSphere. But for lock scope, Memory and Standalone should

[2022-07-10 08:05] m13601594065 opened #18997 "m"
阿里自主研发数据库OceanBase进入金融级应用_手机新浪网 https://finance.sina.cn/stock/jdts/2015-04-03/detail-ichmifpy5733501.d.html?from=wap

[2022-07-10 08:06] terrymanu opened #18998 "LockNameDefinition maybe not good name"
The class of LockNameDefinition is defined for lock mode and level, not name.
It is better to change the name more make sense.

[2022-07-10 08:11] terrymanu commented on #18997
@m13601594065 Hi, this is the bad advertisement.
I will close this issue and had already block you to discuss in ShardingSphere repo.

[2022-07-10 08:11] #18997 closed

[2022-07-10 08:14] #18671 closed

[2022-07-10 09:19] huangdx0726 commented on #18970
I will try

[2022-07-10 09:52] terrymanu opened #19001 "Merge memory and standalone mode"
Memory and standalone mode is too similar, and we can add memory storage for standalone.
I want to discuss how about merge memory and standalone mode, any suggestion?

[2022-07-10 10:07] strongduanmu commented on #18970
@huangdx0726 Welcome aboard. I will assign this issue to you.

[2022-07-10 10:09] #18078 closed

[2022-07-10 10:10] #18843 closed

[2022-07-10 10:40] zrsaber commented on #16617
please assign it to me, i will have a try

[2022-07-10 11:35] zjcnb commented on #19001
Great! I think it only reserve `standalone` mode, and the default type is `h2`.

[2022-07-10 13:02] zjcnb commented on #18966
@poo0054 Hi, can you provide a demo project?

[2022-07-10 13:34] xinglijun1973 commented on #14334
Can you post your Sharding Algorithm and PushSentMessage::getStatusTime? I'll  try to repeat it.

[2022-07-10 14:26] RaigorJiang commented on #18583
Well, thank you!

[2022-07-10 14:36] zrsaber commented on #16101
please assign it to me, i will have a try

[2022-07-10 14:49] RaigorJiang commented on #18995
Yes, it's a good suggestion.

[2022-07-10 14:55] zrsaber commented on #16293
please assign it to me, i will have a try

[2022-07-10 15:14] Bpazy commented on #4784
@terrymanu Hi, I'm very interested in this. Can I try it?

[2022-07-10 15:28] chakkk309 commented on #18697
Hi, I want to try it.

[2022-07-10 15:41] #14538 closed

[2022-07-10 16:04] terrymanu commented on #18970
This issue does not fix yet, I just revert related pull request, please see #19007.

[2022-07-10 16:07] #18686 closed

[2022-07-10 16:17] terrymanu opened #19008 "ContextManager.alterSchema() should split to 2 methods"
ContextManager.alterSchema() contains `toBeChangedTable` and `toBeDeletedTableName` parameters, which should not occur together.
It should be split to 2 methods.

[2022-07-10 16:46] terrymanu commented on #19001
Yes, h2 is the default storage for standalone mode, and we can use h2's mem jdbc url for current memory mode.

[2022-07-11 00:29] chenliang7558 commented on #18961
Can someone help me look at this problem？
I think it's the problem of AST syntax parsing.

[2022-07-11 00:45] strongduanmu commented on #18697
@chakkk309 Welcome, I will assign this issue to you.

[2022-07-11 00:46] strongduanmu commented on #4784
@Bpazy Welcome, I will assign this issue to you.

[2022-07-11 00:47] strongduanmu commented on #16293
@zrsaber Welcome aboard.

[2022-07-11 00:49] strongduanmu commented on #16617
@zrsaber Welcome, I'm glad to see you again.

[2022-07-11 01:12] doveylovey commented on #18963
@[terrymanu](https://github.com/terrymanu) Hello, can you take a look at this problem? I need some help, thank you

[2022-07-11 01:16] hehua2018 commented on #18955
DBeaver version 22.1.1.202206261508
![image](https://user-images.githubusercontent.com/36179722/178171260-9b62dec0-08ee-4ff7-bb27-ef1a1f1fbddf.png)

[2022-07-11 01:51] newchendb commented on #17401
@jingshanglu Hi, Have you found the cause of the problem? Is there something wrong with my configuration?

[2022-07-11 02:54] TeslaCN commented on #18961
Hi @chenliang7558

I found that the type depends on the value:

[code]
<img width="1424" alt="image" src="https://user-images.githubusercontent.com/20503072/178179100-373481fe-ee41-4b38-80fb-cce33907a8ef.png">

[code]
<img width="1396" alt="image" src="https://user-images.githubusercontent.com/20503072/178179250-9ae113ff-7e09-455c-bd0c-157aef599167.png">

Column's type is not available for SQL par

[2022-07-11 03:03] RaigorJiang commented on #18994
Yes, I will remove it.

[2022-07-11 03:05] TeslaCN commented on #18961
This issue is related to code here:
https://github.com/apache/shardingsphere/blob/8288ed33f59f40f9c1ddd3398d91ac680a66f5bd/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sql/parser/sql/common/value/literal/impl/NumberLiteralValue.java#L47-L56

[2022-07-11 03:17] TeslaCN commented on #18961
As an aside, the codes could be optimized.

![image](https://user-images.githubusercontent.com/20503072/178182163-4ae7eaea-402b-45b7-b70c-96ad2178fbe8.png)

[2022-07-11 03:24] #18962 closed

[2022-07-11 03:32] chenliang7558 commented on #18961
thank you so much @TeslaCN
If I want to express number with explicit generics, I can only use String?

[2022-07-11 03:44] zjcnb opened #19013 "Consider provide a way to refresh only the SingleTableRule"
Hi community,

  The governance center sent `SchemaChangedEvent` many times when i have many single tables to persist governance center.

[code]

Send many `SchemaChangedEvent` event resut in build all rules used by the user.

[code]
[code]

I don't think it's necessary. So, we need to provide a way to refresh a single Rule method.

[2022-07-11 03:50] terrymanu opened #19014 "Split ShowVariableStatement to ShowVariableStatement and ShowAllVariablesStatement"
The ShowVariableStatement include show single variable and show all variables, it is better to split it to 2 classes: ShowVariableStatement and ShowAllVariablesStatement. The tasks include:

- [ ] Add ShowAllVariablesStatement
- [ ] Implement visitor of ShowAllVariablesStatement
- [ ] Make ShowVariableStatement's constructor as @RequiredArgsConstructor
- [ ] Add ShowAllVariablesHandler
- [ ] Regis

[2022-07-11 03:56] LeeGuoPing commented on #19014
I want to do it

[2022-07-11 04:42] chenliang7558 commented on #18961
By the way, Can you provide some articles or blogs about async-profile.

[2022-07-11 04:45] TeslaCN commented on #18961
You may use `Number`.

[2022-07-11 04:45] TeslaCN commented on #18961
Please refer to https://github.com/jvm-profiling-tools/async-profiler

[2022-07-11 04:47] chenliang7558 commented on #18961
All right, thank you so much!

[2022-07-11 04:48] #18961 closed

[2022-07-11 05:02] #17575 closed

[2022-07-11 05:45] JiekerTime commented on #9185
In the 5.0.0 branch, which is also valid in the current version

[2022-07-11 05:51] luoyexiaoran commented on #18949
5.0.0-RC1-SNAPSHOT,,I'm trying to switch to 5.1.3,,But it is still wrong

[2022-07-11 06:02] terrymanu commented on #19001
`StandalonePersistRepository` uses `FileRepository` as default StandalonePersistRepository.
I plan to change like this way:

1. Use `H2Repository` as default impl;
2. Remove `FileRepository`, `H2Repository` is enough;
3. Use `jdbc:h2:mem` as default url

[2022-07-11 07:24] JiekerTime opened #19020 "SHOW SHARDING AUDITORS Not support."
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/178210402-905cca52-2e38-4fb8-8c6a-bd130def5255.png)
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-

[2022-07-11 08:26] RaigorJiang commented on #18995
Hi @terrymanu

I sorted out the relationship between the current DistSQLStatement and its subclasses:
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/5668787/178217962-3a44682f-490d-49c0-9eb1-8b038706370c.png">

There are indeed some problems:
1. `AdvancedDistSQLStatement` is not used;
2. `CommonRALStatement` only contains Hint-related statements;
3. Inappropriate leve

[2022-07-11 08:27] RaigorJiang commented on #18994
This issue is related to #18995, I just close it.

[2022-07-11 09:01] comecny commented on #18953
@strongduanmu   supported in subquery nesting 'sum'  ?

[code]

[2022-07-11 09:12] strongduanmu commented on #18953
@comecny Now, ShardingSphere can't support subquery sum statement.

[2022-07-11 09:14] RaigorJiang commented on #18986
I did some investigation and `ProxyContext.getInstance().getContextManager().updateResources(databaseName, dataSourcePropsMap)` may throw `ShardingSphereException`, which is a type of `RuntimeException`.

Steps to reproduce:
1. Start Proxy in debug mode;
2. Execute the Add Resource statement and let the validate method pass smoothly;
3. Shutdown the target database;
4. `ProxyContext.getInstance().

[2022-07-11 09:35] #18953 closed

[2022-07-11 09:56] liming0 opened #19026 "We hope to support the fuzzy query of encrypted fields"
## We hope to support the fuzzy query of encrypted fields

Now it is to report exceptions directly, and the algorithm can be implemented by itself

### Is your feature request related to a problem?
no

[2022-07-11 10:12] #14187 closed

[2022-07-11 10:59] jingshanglu commented on #17401
Can you put a breakpoint here（org.apache.shardingsphere.driver.jdbc.core.datasource.metadata.ShardingSphereDatabaseMetaData#getIndexInfo） and debug it?

[2022-07-11 11:43] hehua2018 opened #19035 "Shardingsphere-proxy Can not support multiple different database error"
## Bug Report
### Shardingsphere-proxy An error occurred in a cross-database query:
### Shardingsphere-proxy version: 5.1.2
### mysql version: 8.0.27
### error sql:
##### mysql databases: product;finance
[code]
#### The error is shown below
![image](https://user-images.githubusercontent.com/36179722/178256563-f51fd8f4-8b24-4d5a-bb1a-ffb2dc41b853.png)

[2022-07-11 15:22] csonezp commented on #19020
Which version are you using?
I didn't find this problem in the latest version.

[2022-07-11 15:22] csonezp commented on #19020
Which version are you using?
I didn't find this problem in the latest version

[2022-07-11 16:45] terrymanu commented on #19026
Do you mean `LIKE`?

[2022-07-11 16:46] terrymanu commented on #19035
Can you use markdown syntax to format your issue content to make it easy to read?

[2022-07-11 16:48] terrymanu commented on #17559
@lushaorong Welcome to pick up this issue.

[2022-07-11 16:49] terrymanu commented on #18949
What is your configuration?

[2022-07-11 16:51] terrymanu commented on #18955
What kind database do you use?

[2022-07-12 00:29] #16617 closed

[2022-07-12 00:57] natehuangting commented on #19020
@JiekerTime Can you provide your sharding configuration file, I have no problem with my own verification.

<img width="513" alt="image" src="https://user-images.githubusercontent.com/26433395/178385225-a26dcfa0-0edf-4e52-85e0-554217c1f950.png">

[2022-07-12 01:14] luoyexiaoran commented on #18949
![image](https://user-images.githubusercontent.com/48896854/178386516-92bb11cf-057a-4fed-b4cb-711cc5eec987.png)
![image](https://user-images.githubusercontent.com/48896854/178386538-c3d4d12a-7686-408e-99f1-57007598eb0b.png)
![image](https://user-images.githubusercontent.com/48896854/178386563-816f7533-8af6-47d3-86c4-6a8d1b547377.png)

I sharding it by the month,this sql select group one year data

[2022-07-12 01:30] hehua2018 commented on #19035
ok, the above problem has been solved using markdown document, please help to see how to solve it, thank you

[2022-07-12 01:32] liming0 commented on #19026
yes

[2022-07-12 02:02] liming0 commented on #19026
The current situation is that 'like' will result in an error

[2022-07-12 02:25] huangdx0726 commented on #19008
Can i try it？

[2022-07-12 02:29] #18900 closed

[2022-07-12 02:34] zjcnb commented on #18847
@wsm12138 This problem are fixed in master branch, i close this issue.

[2022-07-12 02:34] #18847 closed

[2022-07-12 02:35] poo0054 commented on #18966
Hello, thank you very much for your reply. I think I've found the reason   .I should have introduced sentinel.
I found the sentinelbeanpostprocessor in sentinel. It is not a postprocessor decorated with static.   So sentinelautoconfiguration will be loaded. When creating sentinelautoconfiguration bean, many processors will be used, including methodvalidationpostprocessor.   And I just customized a

[2022-07-12 02:43] wsm12138 commented on #13811
It’s hard to reproduce.
When use TPCC & ShardingSphere(master) test,behave normally

[2022-07-12 02:43] #13811 closed

[2022-07-12 02:54] git-chenhao opened #19043 "[Jager agent]trace cannot be passed across threads"
### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
trace can be passed across threads(Jager agent)

### Actual behavior
trace cannot be passed across threads(Jager agent)

### Reason analyze (If you can)
<img width="1620" alt="image" src="https://user-images.githubusercontent

[2022-07-12 04:18] linghengqian commented on #18966
- I looked at the example and thought there wouldn't be any PR reaching the master branch, so I thought this issue should be closed.

- If sentinel's friends think they can do something at ShardingSphere, they can open a new issue.

[2022-07-12 04:19] #18966 closed

[2022-07-12 04:19] poo0054 commented on #18966
thank you

[2022-07-12 04:27] xuup commented on #18261
I closed this issue earlier  for some reason,  I reopen this issue.

[2022-07-12 04:59] xuup opened #19051 "Refer to each other in class "ConnectionSession" and "BackendConnection""
## Question
Hi, I found a place refer to each other  in ShardingSphere master branch.

##### org/apache/shardingsphere/proxy/backend/session/ConnectionSession.java

BackendConnection is  one of ConnectionSession‘s properties.

[code]

However, in BackendConnection's implements , like JDBCBackendConnection, ConnectionSession as one of its properties.

##### org/apache/shardingsphere/proxy/backend/c

[2022-07-12 06:04] linghengqian commented on #15327
- In my personal testing case, using the 1.x H2database client, which is the client used by the current ShardingSphere master branch, to access the server side of 2.x's H2DataBase is not allowed, and vice versa seems to have a similar problem.

- I'm not an expert on H2DataBase, so I'm a bit clueless about this issue involving INFORMATION_SCHEMA libraries :-(

[2022-07-12 06:37] AllKai opened #19056 "when to support MGR multi-primary-mode"
MGR multi-primary-mode very important

[2022-07-12 06:59] natehuangting opened #19058 "allow broacast table update/delete limit ;"
## Feature Request

[code]

[2022-07-12 07:01] zjcnb commented on #19056
@AllKai A Hi, `ShardingSphere` should support multiple writes first.

[2022-07-12 07:07] AllKai commented on #19056
yes, 我们现在使用MySQL-Router路由MGR, It would be better if routing control could be done at the application layer

[2022-07-12 07:08] AllKai commented on #19056
We now use MySQL-Router to control MGR and it would be better if routing control could be done at the application layer.

[2022-07-12 07:27] #18746 closed

[2022-07-12 07:57] peilinqian opened #19061 "The exception occurs when the DataSource's database is empty."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-12 08:19] MrCong233 opened #19063 "Can not find transaction manager of `XA` where client is trying to establish"
shardingsphere config XA-transaction with openGauss-server. After shardingsphere is started successfully, the client cannot establish a connection.
Is server.yaml is correct?

### Which version of ShardingSphere did you use?

5.1.3

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The client successfully establishes a connect

[2022-07-12 08:31] zjcnb commented on #19061
I will follow it

[2022-07-12 08:59] xuup commented on #18682
hi, please assign this issue to me , i will finish it.

[2022-07-12 09:21] #19058 closed

[2022-07-12 10:07] #17375 closed

[2022-07-12 10:10] 1048933788 opened #19068 "How to solve the problem of non associated table update"
How to solve the problem of non associated table update

[2022-07-12 10:25] azui007 commented on #18651
Tables have been added one by one

[2022-07-12 10:25] #18651 closed

[2022-07-12 11:29] azexcy opened #19070 "Scaling increment task will failed when using openGauss with the table have null column value"
## Bug Report

When using openGauss database, scalling increment task will falied, when the insert row have null value of number(eg smallint, bytea)

create table sql:
[code]

[code]

<img width="1116" alt="image" src="https://user-images.githubusercontent.com/101622833/178479678-8c1a1aac-4ccf-42ff-8388-8565a1f8b50f.png">

### Which version of ShardingSphere did you use?

master 844c2d3f8691dee13e

[2022-07-12 11:29] azexcy commented on #19070
I will follow this

[2022-07-12 11:49] azexcy commented on #19070
the logic replication convert data like this
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/101622833/178481395-37e2f5f5-ceaf-4e7f-9ddf-16b5f7c744d5.png">

[2022-07-12 11:50] #19063 closed

[2022-07-12 12:49] misselvexu commented on #16101
I will finish this ut.

[2022-07-12 13:44] RaigorJiang commented on #19043
Hi @git-chenhao
Would you like to submit a PR to improve it?

[2022-07-12 13:48] RaigorJiang commented on #19068
Hi @1048933788
Can you describe your scene clearly?
It is recommended to use the issue template to provide enough information, including version, configuration, SQL, exception and so on.

[2022-07-12 16:57] terrymanu commented on #18963
Your application framework is too complicated, can you provide the code to reproduce it?

[2022-07-12 16:58] terrymanu commented on #19026
I have no idea for how to support `LIKE`, any suggestions?

[2022-07-12 17:12] terrymanu commented on #18891
**For English only**, other languages will not accept.

[2022-07-12 17:23] terrymanu commented on #17800
Closed because of no feedback for long time

[2022-07-12 17:23] #17800 closed

[2022-07-12 17:23] terrymanu commented on #17628
Closed because of no feedback for long time

[2022-07-12 17:23] #17628 closed

[2022-07-12 17:23] terrymanu commented on #17627
Closed because of no feedback for long time

[2022-07-12 17:23] #17627 closed

[2022-07-12 17:23] terrymanu commented on #17903
Closed because of no feedback for long time

[2022-07-12 17:23] #17903 closed

[2022-07-12 17:24] #16969 closed

[2022-07-12 17:25] terrymanu commented on #16922
**For English only**, other languages will not accept.

[2022-07-12 17:26] terrymanu commented on #16902
Can you try it by yourself?

[2022-07-12 17:28] terrymanu commented on #16807
Closed because of no feedback for long time

[2022-07-12 17:28] #16807 closed

[2022-07-12 17:28] terrymanu commented on #16806
What is your configuration?

[2022-07-12 17:30] terrymanu commented on #16999
What is the proposal to get logic table name? I want the user API as easy as possible

[2022-07-12 17:35] terrymanu commented on #16664
Enum cannot support is not critical issue, I just as the issue as `good pro issue`, welcome interested contributor handle this one.

[2022-07-12 17:36] terrymanu commented on #16528
Sorry, for english only, I just close the issue, please reopen a new issue to continue it.

[2022-07-12 17:37] terrymanu commented on #16277
Closed because of no feedback anymore

[2022-07-12 17:37] #16277 closed, assigned to nobody

[2022-07-12 17:38] terrymanu commented on #16080
The version is out of service, I just close it

[2022-07-12 17:38] #16080 closed

[2022-07-12 17:38] terrymanu commented on #15791
Closed because of no feedback anymore

[2022-07-12 17:38] #15791 closed

[2022-07-12 17:39] terrymanu commented on #15764
What is your configuration?

[2022-07-12 17:41] terrymanu commented on #15420
Does anyone want to investigate it?

[2022-07-12 17:42] terrymanu commented on #15134
@dissdic Hi, can you reformat your content? It is difficult to read.

[2022-07-12 17:43] terrymanu commented on #14144
Does the issue resolve?

[2022-07-12 17:46] terrymanu commented on #14472
What is the status of this issue? Can I close it?

[2022-07-12 17:47] terrymanu commented on #14755
No response for long time, I just close it

[2022-07-12 17:47] #14755 closed

[2022-07-12 17:49] terrymanu commented on #18385
No response for long time, I just close it

[2022-07-12 17:50] terrymanu commented on #18452
Can you format your log, remove the `\r\n\t`? It is not easy to read

[2022-07-12 17:52] terrymanu commented on #18487
Can you try to analyze by JDBC layer? The 3rd party library is too complicated, I am afraid we have no enough time to investigate it.

[2022-07-12 17:53] terrymanu commented on #18564
@novice-gamer If the issue resolved, can you close it?

[2022-07-13 00:17] #19061 closed

[2022-07-13 01:01] #17821 closed

[2022-07-13 01:06] doveylovey commented on #18963
This is an example given in the project, located at:

https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/readwrite-splitting-example/readwrite-splitting-spring-boot-jpa-example/src/main/java/org/apache/shardingsphere/example/readwrite/splitting/spring/boot/jpa/ReadwriteSplittingSpringBootJpaExample.java

https://github.com/apache/shardi

[2022-07-13 01:40] tuichenchuxin opened #19078 "Get error in scaling when create table sql has ";""
## Bug Report

### Which version of ShardingSphere did you use?
master - f67b1f5e162fae73be5e5446902f5ee2c235e0c9
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
sharding-config.yaml
[code]
[code]
Steps:
[code]
#### errors
[code]

[2022-07-13 02:07] xueyilong opened #19079 "Invalid config event received with zookeeper"
## Question

ShardingSphere-proxy version：5.1.1 、5.1.2
zookeeper version: 3.6.3

server.yaml
[code]

When start the ShardingSphere-proxy，get the error logs,   want to get the reason, even if it doesn't seem to affect the use
[code]

[2022-07-13 02:13] #19078 closed

[2022-07-13 02:21] wsm12138 commented on #18870
I can't reproduce it.

[2022-07-13 02:27] zjcnb commented on #19079
@xueyilong Hi, Can you use ZooKeeper version `3.7.0` and try again? And it should not affect the use if there is this error message. I found related Information : https://stackoverflow.com/questions/62145737/error-main-eventthread-o-a-c-framework-imps-ensembletracker-invalid-config-eve

[2022-07-13 02:36] cheese8 commented on #19026
In practice, it is often implemented by another column which is desensitized and met your `LIKE` requirement.

[2022-07-13 02:43] liming0 commented on #19026
I think we only need to allow the like keyword to filter the encrypted column. The specific implementation of encryption and query can be realized by users themselves

[2022-07-13 02:57] liming0 commented on #19026
我现在的想法是将内容拆分成x个字符一组，然后将每组分别加密，再拼接起来存储，在查询时重复分组加密的步骤，再进行查询即可；这种方式目前有两个点需要控制：一是加密后的字符会比较长，这种方式属于用存储空间来实现这个需求；二是需要控制变量x的大小，不能太短，太长了也会影响搜索体验
My idea now is to divide the content into groups of X characters, then encrypt each group separately, and then splice them together for storage. When querying, repeat the steps of grouping encryption, and then query; At present, there are two points to be control

[2022-07-13 02:57] liming0 commented on #19026
My idea now is to divide the content into groups of X characters, then encrypt each group separately, and then splice them together for storage. When querying, repeat the steps of grouping encryption, and then query; At present, there are two points to be controlled in this method: first, the encrypted characters will be relatively long. This method uses storage space to realize this requirement;

[2022-07-13 03:28] TeslaCN commented on #19051
In earlier version, there is a `BackendConnection` which includes all fields in `ConnectionSession` and `JDBCBackendConnection`. We want to decouple `BackendConnection` from JDBC, so we separated it into two classes.
`ConnectionSession` and `BackendConnection` is bound for a client of Proxy, so we make it refers each other.

Actually, this is similar to `HikariPool` and `HikariDataSource`, which r

[2022-07-13 03:28] wsm12138 opened #19084 "When "SHOW READWRITE_SPLITTING RULES;", "ERROR: java.lang.IllegalStateException""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-13 03:29] wsm12138 commented on #19084
<img width="1781" alt="image" src="https://user-images.githubusercontent.com/86462784/178644485-0d894c17-d7b2-49fc-b86f-659357034447.png">
@RaigorJiang
plz review

[2022-07-13 03:37] tuichenchuxin commented on #16998
@fanfantian
`sbtest1` `sbtest2` `sbtest3` is all singletable. So, there is no need to config them as sharding table

[2022-07-13 03:37] RaigorJiang commented on #19084
@wsm12138
Thanks for your feedback, I'll check it.

[2022-07-13 03:47] tuichenchuxin commented on #16973
@zjcnb I can't reproduced it. Is there any way to reproduce?

[2022-07-13 03:48] #4784 closed

[2022-07-13 04:00] tuichenchuxin commented on #16841
It's because of the word `POSITION`.
You can use "POSITION" instead.
@wrs1226

[2022-07-13 04:00] wingkingbobo opened #19085 "Is there any way to monitor the connection pool"
## Question

Is there any way to monitor the connection pool like druid monitor？

Recently, I have encountered several times in the online environment that the sharding proxy database connection is unavailable, which will occur one day to one month after the server is started.

At this time, I try to use Navicat to test the direct connection to MySQL. It can connect, but it can't connect to shardi

[2022-07-13 04:02] tuichenchuxin commented on #16841
Is there anyone interested to solve this issue?

[2022-07-13 06:24] susongyan commented on #8946
is pg's    jsonb and  ::     supported in  5.x version  now?

[2022-07-13 07:03] xueyilong commented on #19079
The error is still exists when use zk 3.7.0  and 3.7.1 ,and find another  error about java
[code]

[2022-07-13 07:14] xuup commented on #18528
I'am interested in this issue , could you please assign this issue to me ?

[2022-07-13 07:16] TeslaCN commented on #18528
Hi @xuup
Welcome. Do you have any idea about this?

[2022-07-13 07:35] csonezp commented on #18369
I want to try it

[2022-07-13 07:36] csonezp commented on #17949
I want to try it

[2022-07-13 07:36] zjcnb commented on #18587
The feature are completed, close it.

[2022-07-13 07:41] JiekerTime commented on #19020
This is my problem, the mirror is not being updated.

[2022-07-13 07:41] #19020 closed

[2022-07-13 07:43] jingshanglu commented on #18920
@TencentChina Why use `AtomikosNonXADataSourceBean `?

[2022-07-13 07:43] zjcnb commented on #14858
The readwrite example have `@Transactional` annotation. If you read data from slave replica data source in transaction, you can remove `@Transactional` annotation or set loadBalancers type are `FIXED_REPLICA_ROUND_ROBIN`, i will close this issue. If you have any questions, please submit a new issue

[2022-07-13 07:43] #14858 closed

[2022-07-13 07:50] zjcnb commented on #15152
@anonymous-lj Hi, Can you use 5.1.2 release try again?

[2022-07-13 07:59] tuichenchuxin commented on #11116
`AggregationProjection` can get detail info by `AggregationProjectionSegment` field `parameters`.
Anyone has some interest?

[2022-07-13 08:12] TeslaCN commented on #10145
Rat 0.14 has been released.

[2022-07-13 08:49] strongduanmu commented on #18456
Cannot reproduce, so I will close this issue.

[2022-07-13 09:22] roodkcab commented on #14144
not yet

[2022-07-13 09:24] susongyan commented on #16664
i'd like to try it

[2022-07-13 09:28] zjcnb opened #19099 "IllegalArgumentException occurred when not configuration `auditors` in `config-sharding.yaml`"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### Configuration

[code]

[2022-07-13 10:02] wsm12138 opened #19102 "Maybe we can verify dataSource in ReadWrite-splitting rules，before create ReadWrite-splitting rules."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
NO
### Describe the featu

[2022-07-13 10:15] #10145 closed

[2022-07-13 10:15] soulasuna opened #19103 "Integration tests support cluster mode"
## Feature Request
Integration tests support cluster mode

### Describe the feature you would like.
Integration tests in cluster mode cover all scenarios：
- [x] empty_rules
- [x] db
- [x] tbl
- [x] encrypt
- [x] shadow
- [x] readwrite_splitting
- [x] dbtbl_with_readwrite_splitting
- [x] dbtbl_with_readwrite_splitting_and_encrypt

[2022-07-13 10:23] azexcy opened #19104 "Proxy can't execute `create index if not exists` many times when using PostgreSQL"
## Bug Report

When using Proxy with PostgreSQL, execute `CREATE INDEX IF NOT EXISTS idx_userid ON t_order ("user_id");`
The first time is success, but execute second time, the error will happen

[code]

stack:
[code]

The create table sql
[code]

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Pr

[2022-07-13 10:25] azexcy commented on #19104
@strongduanmu Can you help with this issue, thanks.

[2022-07-13 10:25] azexcy commented on #19104
@strongduanmu Can you help with this issue, thanks.

[2022-07-13 10:29] strongduanmu commented on #19104
@azexcy Thank you for your feedback, I will optimize ShardingSphereCreateTableValidator logic soon.

[2022-07-13 10:32] strongduanmu opened #19106 "Add resource throw NPE when use database with upper database name"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/4f15b70e828888c0d9880f1e32c623c272b73840

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Add resources successfully when use database with upper database name.

### Actual behavior

[code]

### Reason analyze (If

[2022-07-13 10:51] williamXinCC commented on #18721
@terrymanu nothing, could you show me same example for customer generator key by version5.1.1 or 5.1.2?

[2022-07-13 11:48] #19084 closed

[2022-07-13 12:09] sandynz opened #19111 "Support privilege check for PostgreSQL and openGauss in scaling job"
## Feature Request

### Describe the feature you would like.

Currently, there's no privilege check for PostgreSQL and openGauss.

It should notify ASAP, notify what's wrong and possible solution.

References:
- https://www.postgresql.org/docs/current/user-manag.html (Supported version: 9.6+)

Related code:
- PostgreSQLDataSourceChecker.checkPrivilege

Need to investigate whether it could be imple

[2022-07-13 12:28] #19106 closed

[2022-07-13 12:31] strongduanmu opened #19113 "Resources do not exist in database exception occur when execute create sharding table rule without $"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/2aa03356b75cd4cf1dec2f114e5e03ffb95108ec

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute following distsql successfully.

[code]

### Actual behavior

[code]

### Reason analyze (If you can)

Wrong judge

[2022-07-13 12:34] peilinqian opened #19114 "ss-jdbc initializes the connection to verify other schemas"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-13 12:42] peilinqian commented on #19114
**The background log also contains the following errors**
[ERROR] 2022-07-13 20:35:27.361 [Connection-23-ThreadExecutor] o.o.core.v3.QueryExecutorImpl - IO Exception.recieved packetType:69last PacketType:-1connection info:**ss-proxyIP**:45482/**OG-IP**:14000buffer :
buffer is empty

[2022-07-13 12:51] strongduanmu opened #19115 "NPE occurs when execute show tables statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/cb3cbe99d8bb41d25e55f4bd404ecf7e5cfeb287

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute show tables statement successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to rep

[2022-07-13 12:59] zjcnb commented on #19114
@peilinqian  Thank you for your feedback, i will check it.

[2022-07-13 14:29] runqi-zhao commented on #15810
please assign it to me, I will have a try

[2022-07-13 14:31] runqi-zhao commented on #15721
please assign it to me, I will have a try

[2022-07-13 14:32] KevinZhanyang opened #19117 "How to encrypt shard configuration metadata before persistence"
How do I encrypt persistent metadata?

[2022-07-13 14:54] #19014 closed

[2022-07-13 15:21] RaigorJiang commented on #15810
@runqi-zhao Welcome!

[2022-07-13 15:46] sunkai-cai commented on #18786
I think it is better to change `ip`  to `host`  of InstanceMetaData.

[2022-07-13 23:19] #19001 closed

[2022-07-14 00:54] TeslaCN commented on #18786
Close via #18853.

[2022-07-14 00:54] #18786 closed

[2022-07-14 01:45] #19070 closed

[2022-07-14 03:28] terrymanu commented on #19117
Can you change the title to more make sense?

[2022-07-14 03:36] #17949 closed

[2022-07-14 04:59] JiekerTime opened #19128 "Statement "SHOW SINGLE TABLE RULE tableRule" may have some problem."
# Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/178902236-166b600f-9e22-4f98-acd3-6b9c0271c0f6.png)

Successful execution

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/178902376

[2022-07-14 05:58] #16293 closed

[2022-07-14 06:04] terrymanu opened #19131 "Remove best practice from document"
The official document should be simple and clean.
It is hard to find the best practice for ShardingSphere in short document.
The current best practice document is not enough.

I prefer the document should like dictionary. Business logic related should remove from the document.

[2022-07-14 06:05] soulasuna commented on #18374
Done

[2022-07-14 06:05] #18374 closed

[2022-07-14 06:08] #19131 closed

[2022-07-14 06:14] novice-gamer opened #19133 "Error using select statement to obtain data volume"
The version is shardingsphere-5.1.3-snapshot

This table is only a single table, and there is no sub table
error message：
`mysql> select prov_id from csys_company_buffer_info;
+---------+
| prov_id |
+---------+
| 63      |
。。。。
| 63      |
| 63      |
| 63      |
+---------+
563275 rows in set (0.88 sec)

mysql> select prov_id from csys_company_buffer_info;
+---------+
| prov_id |
+---------+
| 6

[2022-07-14 06:38] mayfsac commented on #18897
sharding-jdbc 5.1.1
This question does not involve distributed transactions, but just asks why sql is handled like this when it is executed

[2022-07-14 06:54] peilinqian opened #19137 "After creating traffic rules failed, all related distsql failed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-14 08:03] sunkai-cai opened #19138 "ShardingAlgorithm instanceof ShardingAutoTableAlgorithm"
## Bug Report

`ShardingTableRuleStatementChecker` code error.

ShardingAlgorithm instanceof ShardingAutoTableAlgorithm

[code]

![image](https://user-images.githubusercontent.com/87062136/178933315-f2804ea4-448a-49e7-8ff9-72ade80d3d9c.png)

### Which version of ShardingSphere did you use?
master

[2022-07-14 08:13] #19138 closed

[2022-07-14 08:31] wklong opened #19140 "Does JDBC support auto table building"
Dear Community,
# environment
spring boot: 2.6.9
shardingsphere: 5.1.1

#configuratio
`
spring.shardingsphere.datasource.names=shardingsphere_study,shardingsphere_study_1

spring.shardingsphere.datasource.shardingsphere_study.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.shardingsphere_study.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.shardin

[2022-07-14 08:50] zt9788 opened #19144 "mysql max min function with select table.* use the subquery will lost some column"
## Bug Report

### Which version of ShardingSphere did you use?
version=5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
[code]
**## Edit begin**
mybatis read just have a,b,d... ,but startTime,endTime will lost when **select k.***
I try to use
[code]
<img width="522" alt="image" src="https://user-images.githubusercontent.co

[2022-07-14 09:03] tuichenchuxin commented on #19140
not support yet.
Please translate to english.

[2022-07-14 09:06] tuichenchuxin opened #19147 "Mysql trim(expr from expr) parser error"
## Bug Report
### Which version of ShardingSphere did you use?
master - 043dc7939d824c5429a6e63788851ca4be14ad2a
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
both
### Expected behavior
[code]
execute correctly
### Actual behavior
[code]

[2022-07-14 09:08] wklong commented on #19140
ths

[2022-07-14 09:26] peilinqian opened #19149 "ss-jdbc executes sql, and the transaction type is local. Each time a sql is executed, the xa transaction operation is performed."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-14 10:38] #19147 closed

[2022-07-14 10:42] strongduanmu opened #19153 "ShardingTableRuleStatementChecker consume too much time when config many data nodes"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/66c330a8fb369997452bf0cbbc3add421efcdf46

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute ADD SHARDING TABLE RULE successfully.

[code]

### Actual behavior

The DistSQL execution takes a long time and the

[2022-07-14 11:11] terrymanu opened #19158 "Replace change history by configuration migration tool"
The change history page [1] is too difficult to maintenance and understand.
I plan to remove the pages and provide the configuration migration tool fro old version to new version.
Any suggestions?

[1] https://shardingsphere.apache.org/document/current/en/reference/api-change-history/

[2022-07-14 11:15] terrymanu commented on #19133
What is the error message?

[2022-07-14 11:19] terrymanu commented on #19128
The syntax is `SHOW SINGLE (table | TABLES) (FROM databaseName)?`

The document in `docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/single-table.cn.md` mismatches with G4 file.

Can you update the document?

[2022-07-14 11:57] strongduanmu commented on #19158
That's great, if there are different versions of the migration tool, users can quickly upgrade without caring about API changes.

[2022-07-14 12:40] #19140 closed

[2022-07-14 13:35] sunkai-cai opened #19164 "spotless use CRLF for windows"
## Bug Report

All file EOF  be change to `CRLF`  When run `mvn spotless:apply`  on windos.   see it. https://github.com/diffplug/spotless/issues/39

[2022-07-14 14:00] runqi-zhao commented on #15711
please assign it to me, I will have a try

[2022-07-14 14:01] runqi-zhao commented on #17448
please assign it to me, I will have a try

[2022-07-14 14:04] JiekerTime commented on #19128
Sure, I will fix that!

[2022-07-14 14:14] #17948 closed

[2022-07-14 15:40] terrymanu opened #19169 "Add test case for ClusterWorkerIdGenerator"

[2022-07-14 15:44] #19164 closed

[2022-07-14 15:45] #16834 closed

[2022-07-14 16:41] #18772 closed

[2022-07-14 17:37] linghengqian commented on #15507
@zjcnb

- The bugs involved in this issue have been fixed for a long time, and the description does not point to a discussion. Adding an example of the required SPI doesn't make much sense for consumers at this point.

- I think closing this issue is a good choice？

[2022-07-15 00:26] strongduanmu commented on #17448
@runqi-zhao Welcome.

[2022-07-15 01:48] novice-gamer commented on #19133
There is no error message, which is a strange phenomenon when querying; The version used was pulled by the master a month ago

[2022-07-15 01:55] #19153 closed

[2022-07-15 02:00] wklong opened #19172 "A 404 appears inside the page link of readwrite-splitting by spring boot"
1. Enter the page ( https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/readwrite-splitting/ )
2. In this section (Dynamic Readwrite-Splitting)
<img width="831" alt="image" src="https://user-images.githubusercontent.com/11863572/179131658-58602f58-2d58-4feb-828c-616b8a3e36a8.png">
3. Click the red box in the image above,The error link add

[2022-07-15 02:26] zjcnb commented on #19172
@wklong It seems a problem, Can you submit a pull request to fix it?

[2022-07-15 02:47] wklong commented on #19172
I tried, but found that the reason for link 404 was the absence of use-norms directory rather than the incorrect link address, and I couldn't complete the writing of the file. Pls look at the following figure:

![image](https://user-images.githubusercontent.com/11863572/179137065-52359260-fe31-4832-93a6-7c85d06765e8.png)

[2022-07-15 02:56] #18282 closed

[2022-07-15 02:56] #19137 closed

[2022-07-15 03:01] newchendb commented on #17401
![DPEY}O95(J_QM$PC 3FXI9](https://user-images.githubusercontent.com/29219642/179140998-84e45624-2877-41ad-abc7-5bc7a364aad9.png)
![ZI42K4KJGRXU_) 05I5BTM5](https://user-images.githubusercontent.com/29219642/179141028-291863ba-4f08-48c7-a962-806389329a0c.png)
@jingshanglu

[2022-07-15 03:03] azexcy opened #19183 "Sometimes MySQLJsonBinlogProtocolValue.read() cause netty LEAK"
## Bug Report

Sometimes, MySQLJsonBinlogProtocolValue.read()  will cause netty leak error.
According to https://netty.io/wiki/reference-counted-objects.html  I add the maven option `-Dio.netty.leakDetectionLevel=advanced`, then stack is
[code]

Relation ci link : https://github.com/apache/shardingsphere/runs/7350927587?check_suite_focus=true
But local runs can't reproduce consistently

### Which

[2022-07-15 03:05] wklong commented on #19169
I can try. Can you assign it to me. ths

[2022-07-15 03:15] sunkai-cai commented on #17023
HighlyAvailableStatus has been Replace。maybe we can close it。 https://github.com/apache/shardingsphere/pull/17078/files

[2022-07-15 03:24] newchendb commented on #17401
![image](https://user-images.githubusercontent.com/29219642/179143638-8969e18f-1529-460e-8460-855717883ad0.png)
The breakpoint in the while loop is never executed

[2022-07-15 03:25] newchendb commented on #17401
@jingshanglu Help to see the reason

[2022-07-15 03:27] inotgaoshou commented on #19035
mark,I have the same problem.

[2022-07-15 03:28] chakkk309 commented on #17023
Yes, this module has been refactored.

[2022-07-15 03:36] #15721 closed

[2022-07-15 03:39] csonezp opened #19187 "VERSION() do not support alias"
## Bug Report

like #17949 , i found the same problem in VERSION().

Please assign it to me, i will fix it asap.

### Which version of ShardingSphere did you use?

5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior
select VERSION() as vid;
get:
vid: 8.0.29

### Actual behavior

VERSION(): 8.0.29

### Reason analyze (If yo

[2022-07-15 03:48] strongduanmu opened #19189 "Consider to add @ToString annotation for SQLStatement and SQLSegment"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

According to the code conduct, each `SQLStatement` and `SQLSegment` implementation class must add the lombok `@ToString` annotation. If the implementation class inherits a parent class, you need to add the `callSuper = true` parameter.

At present, there are many SQLStatements and

[2022-07-15 03:53] #19172 closed

[2022-07-15 04:36] chakkk309 commented on #19189
Hi, I want to try it.

[2022-07-15 04:37] strongduanmu commented on #19189
@chakkk309 Welcome, you can refer #19191 to finish other tasks.

[2022-07-15 05:15] wsm12138 commented on #18578
### ShardingSphere-Proxy version
`e6328cb989cfb789189227892cb892740095d2d6`
### error
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/86462784/179154910-0d30317e-23b4-4cf1-90ad-e29e28576918.png">
<img width="977" alt="image" src="https://user-images.githubusercontent.com/86462784/179155441-e8563c56-50a7-469b-9728-1db64e757e71.png">

### how to reproduce
[code]

### abo

[2022-07-15 05:17] wsm12138 commented on #18578
### about `client` version
<img width="802" alt="image" src="https://user-images.githubusercontent.com/86462784/179155657-7ff4ea4e-4881-4ff5-9e6d-ee1957a7035e.png">

[2022-07-15 06:26] wsm12138 commented on #18578
<img width="771" alt="image" src="https://user-images.githubusercontent.com/86462784/179164365-849933b3-4635-4a22-993e-126c6ff530aa.png">

[2022-07-15 06:29] wklong opened #19202 "master have a compiler error"
Dear Community:
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/11863572/179163363-fe80543c-727e-4aaa-b579-9fec04ea93ad.png">

See above, I went to the master code, refer to the https://shardingsphere.apache.org/community/cn/contribute/contributor/, but there is still a compiler error.
Global search, AdvancedDistSQLStatementLexer class was not found

[2022-07-15 07:00] wsm12138 opened #19214 "Use `gsql` connect proxy throw exception 'Failed to get the server's version. resStatus=7 ERROR: ERROR: org.apache.shardingsphere.proxy.backend.exception.RuleNotExistedException'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-15 07:00] peilinqian opened #19215 "Label related distsql syntax is not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-15 07:01] wsm12138 commented on #19214
I tried some version of `gsql`. They all faild to connect.

https://github.com/apache/shardingsphere/issues/18578

[2022-07-15 08:08] wsm12138 opened #19224 "Use DistSQL add resource have unexpected behavior"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-15 08:26] kevin-jjc opened #19231 "为什么4.1.1版本 default-database-strategy.hint.algorithm-class-name不生效"
在4.1.1 版本中为什么不配置表分片的情况下单独配置default-database-strategy.hint.algorithm-class-name不生效？
我看了源码是不支持，之前如4.0.0都是支持的，是基于什么原因考虑呢？

[2022-07-15 08:28] gzgzapp opened #19232 "Lose the ）for SQL rewriting in shadow database mode"
### Which version of ShardingSphere did you use?
shardingsphere 4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
sharding config:
shardingsphere:
  shadow:
      column: shadow
      shadow-mappings:
        ds0: ds2

my sql: select msg_content from test where (submit_id = ?) and shadow = ?
after sharding-jdbc rewrite
sql:

[2022-07-15 08:29] strongduanmu commented on #19231
Please translate this issue to English, and submit issue according to template.

[2022-07-15 08:35] #19113 closed

[2022-07-15 08:56] chenzhikun12 opened #19235 "Keygenerators configured but not effective"
### Which version of ShardingSphere did you use?
       shardingsphere-jdbc-core-spring-boot-starter-5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
       shardingsphere-jdbc
### Expected behavior
       When inserting data into the database, sharding JDBC automatically generates the ID and successfully inserts it
### Actual behavior
       When inserting data in

[2022-07-15 08:59] #19231 closed

[2022-07-15 09:09] TeslaCN commented on #19202
Please try the command in wiki
https://github.com/apache/shardingsphere/wiki

[2022-07-15 09:19] TeslaCN commented on #19214
Duplicate with https://github.com/apache/shardingsphere/issues/17409

[2022-07-15 09:19] #19214 closed

[2022-07-15 09:21] sunkai-cai commented on #15692
I working it And have a question。

AuthorityRule.refresh just refresh `AuthorityRule.authorityRegistry`, not refresh `AuthorityRule.users`.

Is this a bug?

[2022-07-15 09:33] zjcnb commented on #19114
After the startup is successful, the metadata information will be persisted to the governance center. After `ClusterContextManagerCoordinator` monitor the changes, it will rebuild the metadata and persist again, which will cause other logical libraries to be loaded.

![Uploading image.png…]()

[2022-07-15 09:59] Trydamere opened #19237 "shardingsphere-jdbc-core build failed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-15 10:15] strongduanmu commented on #19189
@Trydamere Of course, You can communicate with @chakkk309  about issue assignment.

[2022-07-15 10:19] terrymanu opened #19241 "Complete dev-manual documents"
The contents of dev-manual is not clear enough, I just provide the template of the contents:

For each SPI:

[code]

The English examples please reference [agent.en.md](https://github.com/apache/shardingsphere/blob/master/docs/document/content/dev-manual/agent.en.md) and [configuration.en.md](https://github.com/apache/shardingsphere/blob/master/docs/document/content/dev-manual/configuration.en.md)

[2022-07-15 10:26] ssz-plus opened #19242 "Can not support multiple different database."
## Bug Report
Hello, We found a problem with cross-database queries.
When our sql statement involves a data table located in a different database, an error is reported:
![image](https://user-images.githubusercontent.com/109347245/179198213-723d7382-d123-4454-9753-5cfb5315bb9b.png)
Regarding the database version we use and the SQL executed as follows:

### Mysql version
Mysql 5.7.18 and Mysql 8.0.2

[2022-07-15 10:28] RaigorJiang opened #19243 "ResourceNotExistedException was thrown when execute `\d` with Proxy for PostgreSQL."
### Which version of ShardingSphere did you use?
master #25b84e47

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When database type is PostgreSQL and there is no RESOURCE, execute `\d` to show empty result.

### Actual behavior
![image](https://user-images.githubusercontent.com/5668787/179205325-8eb6f405-1d93-4391-af8a-f56a8

[2022-07-15 10:32] chakkk309 commented on #19189
Hi @Trydamere, I'm working on PostgreSQL, openGauss and SQLServer SQLStatement.

[2022-07-15 10:37] Trydamere commented on #19189
Hi @chakkk309, I will work on Oracle and SQL92 SQLStatement.

[2022-07-15 10:48] #16639 closed

[2022-07-15 11:17] #19237 closed

[2022-07-15 12:17] strongduanmu commented on #19241
@Swastyy Welcome, I just assign this issue to you.

[2022-07-15 14:34] #19243 closed

[2022-07-15 14:35] #12872 closed

[2022-07-15 15:33] terrymanu opened #19252 "Split ShardingSphereDataSourceFactoryTest.assertCreateDataSourceWithDatabaseName() to more test cases"
ShardingSphereDataSourceFactoryTest.assertCreateDataSourceWithDatabaseName() contains multiple calls of `ShardingSphereDataSourceFactory.createDataSource()`.

It is better to split them into different test cases. Please make one test case just assert one scenario.

The method should be split to:

- [ ] assertCreateDataSourceWithModeConfiguration
- [ ] assertCreateDataSourceWithDatabaseNameAndModeC

[2022-07-15 16:06] #19187 closed

[2022-07-15 18:42] dbnex14 commented on #5882
how is disabling health check helpful??

[2022-07-16 02:52] strongduanmu commented on #19133
Hi @novice-gamer, thank you for your feedback. What is the actual count of csys_company_buffer_info table?

[2022-07-16 02:59] strongduanmu commented on #16665
Hi @cucuzi , what is the configuration of bibliography table?

[2022-07-16 03:03] strongduanmu commented on #16665
It seems that the bibliography table is a single table. Currently, if the sql federation feature is not used, ShardingSphere cannot support the cross-database join query between the sharding table and the single table. @cucuzi

[2022-07-16 03:18] Trydamere opened #19258 "ShardingSpringBootMybatisExample run failed"
## Question

Hi guys, anyone can help me? I am a beginner of ShardingSphere.

When I run `sharding-spring-boot-mybatis-example`, it failed. The error logs are as follows:
[code]

[2022-07-16 03:42] linghengqian commented on #19258
Affected by https://github.com/apache/shardingsphere/pull/19122 ?

[2022-07-16 03:45] Trydamere commented on #19258
It seems so. I make some tests to verify.

[2022-07-16 03:47] cucuzi commented on #16665
Hi @strongduanmu, the sql federation feature is mean setting sql-federation-enabled property?

[2022-07-16 03:57] KevinZhanyang commented on #19117
ok

[2022-07-16 04:05] cucuzi commented on #16665
@strongduanmu And the question key point why my GROUP change to ORDER. If shardingsphere-jdbc not support the sql, I will change to sharding rules.

[2022-07-16 06:22] terrymanu opened #19262 "Add test case for MetaDataContextsFactory"

[2022-07-16 06:48] terrymanu opened #19263 "Refactor H2Repository to JDBCRepository"
Refactor H2Repository to JDBCRepository, and provide secondary SPI for different database dialects, such as: H2, MySQL etc.

[2022-07-16 06:51] mabaiwan commented on #19263
Can I try this issue?

[2022-07-16 06:54] terrymanu commented on #19263
Great, you can assign to you by yourself

[2022-07-16 07:06] strongduanmu commented on #16665
Yes, you can try it.

[2022-07-16 07:10] strongduanmu commented on #16665
@cucuzi I will check the rewrite logic.

[2022-07-16 08:43] strongduanmu commented on #19115
I found that this is a bug caused by ShardingSphereMetaData, when we create uppercase database name and schema name, ShardingSphereMetaData cannot support case-insensitive configuration. We need to avoid using the schemas fields of ShardingSphereDatabase and databases field of ShardingSphereMetaData directly.

[2022-07-16 10:31] Trydamere commented on #19258
After I change to H2 type, it build failed. The logs are as followed:
[code]

[2022-07-16 12:14] jingshanglu commented on #19149
The `Datasource` is initialized for each case, leading to multiple XA TM initializations. Even if the initialization of XA TM is removed, the RT does not decrease significantly, and a flame graph needs to be provided for further analysis.

[2022-07-16 13:06] sandynz commented on #17849
It's already fixed by #18516

[2022-07-16 13:06] #17849 closed

[2022-07-16 13:09] sandynz commented on #14720
It's already completed when another feature is implemented, so it's not necessary to do it any more.

[2022-07-16 13:09] #14720 closed

[2022-07-16 13:38] #17448 closed

[2022-07-16 13:49] sandynz opened #19266 "Refactor DataSourcePreparer as SPI and remove EnvironmentChecker"
Purpose:
- Separate SPI from EnvironmentChecker, easier to be reused separately in different scenarios.

Possible changes:
- Refactor DataSourcePreparer as TypedSPI, mark as SingletonSPI
- Move DataSourcePreparer to api module
- Add DataSourcePreparerFactory
- Remove EnvironmentCheckerFactory and use DataSourcePreparerFactory
- Remove EnvironmentChecker and sub-classes
- Remove ScalingEntry.getEnv

[2022-07-16 13:51] #18588 closed

[2022-07-16 13:56] sandynz opened #19268 "Remove ScalingEnvironmentManager"
There's only one method `cleanupTargetTables` in `ScalingEnvironmentManager` and used by `reset scaling {jobId}`.

`cleanupTargetTables` is dangerous to use, it might truncate tables by mistake, especially when there're more and more types of pipeline jobs.

[2022-07-16 13:58] #19169 closed

[2022-07-16 16:33] terrymanu opened #19277 "Try to use empty list to instead of null value for ComputeNodeInstance.labels's initialize value"
Null value for initialize value need to check null, which is not very graceful, please try to use empty list as initialize value, and use consist way to process empty list and elements contained list.

[2022-07-16 18:04] mayank-aggarwal28 commented on #19262
Can I try this issue?

[2022-07-17 02:45] SalvadorRomo commented on #19252
Hi!! Can I work on this, I'm a Software Engineer and I'm pretty interested in tis project. Regards!!

[2022-07-17 04:39] lyf200581105 opened #19278 "Sharding-jdbc Can't findById after insert the data"
Using sharding-jdbc-core 4.1.1， only sharding tables
DB : AWS Aurora
Both read and write operations are using master endpoint
<dependency>
                <groupId>org.apache.shardingsphere</groupId>
                <artifactId>sharding-jdbc-core</artifactId>
                <version>4.1.1</version>
</dependency>

Using Jmeter to do some performance test
step 1: call create API to  insert data to

[2022-07-17 04:51] terrymanu opened #19279 "Split SHOW INSTANCE MODE to SHOW MODE and SHOW INSTANCE"
`SHOW INSTANCE MODE` include mode and instance information, which are different domain.
Please split the DistSQL to `SHOW MODE` and `SHOW INSTANCE`.

[2022-07-17 06:08] RaigorJiang commented on #19279
`SHOW MODE` or `SHOW INSTANCE` will conflict with the PostgreSQL's syntax, new DistSQLs need to be designed.

[2022-07-17 06:12] terrymanu commented on #19279
Which one conflicts with PostgreSQL?

[2022-07-17 06:18] terrymanu opened #19282 "Add test cases for GlobalRulePersistService"

[2022-07-17 06:19] terrymanu opened #19283 "Add metadata.persist.service.config package"
And move related persist service into new package.

[2022-07-17 06:33] #19283 closed

[2022-07-17 06:34] terrymanu commented on #19278
The version 4.x is out of service, please try to version 5.x

[2022-07-17 06:34] #19278 closed

[2022-07-17 08:16] runqi-zhao commented on #15711
@RaigorJiang 你好，Hi, I didn't find SchemaPrivilegesPermittedAuthorityProviderAlgorithm and related configuration in this version, can you tell me where it was moved to?

[2022-07-17 08:38] runqi-zhao commented on #19282
please assign it to me, I will have a try

[2022-07-17 09:23] cheese8 commented on #18584
No further response closed.

[2022-07-17 09:23] #18584 closed

[2022-07-17 10:18] RaigorJiang commented on #19279
Both will, since show statement of PostgreSQL conforms to this format.
Maybe consider `SHOW MODE INFO` & `SHOW INSTANCE INFO`

[2022-07-17 10:38] Bingai077 opened #19290 "The logical database has disappeared"
Which version of ShardingSphere did you use?
5.1.2 （helm cluster）

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Expected behavior

All logical databases has effected.

Actual behavior
Create and write node data(version,dataSources,rules) in ZooKeepper. Part of the old logical database has disappeared in ShardingSphere-Proxy.

[2022-07-17 14:17] yx9o commented on #19282
@runqi-zhao Welcome.

[2022-07-17 15:20] terrymanu commented on #19290
What is the configuration?

[2022-07-17 15:28] terrymanu opened #19296 "Add test case of MetaDataVersionPersistService"

[2022-07-17 15:54] terrymanu opened #19299 "Complete test cases for ScalingRegistrySubscriber"

[2022-07-17 17:23] RaigorJiang commented on #15711
Hi @runqi-zhao
It is named `DATABASE_PERMITTED` for now, please refer to:
https://shardingsphere.apache.org/document/current/en/dev-manual/proxy/

[2022-07-18 00:57] Bingai077 commented on #19290
![image](https://user-images.githubusercontent.com/51192624/179431984-ac7ba073-8118-4797-96c8-4ea2d6e05e67.png)

for this，the node configuration is the same as in DistSql.

[2022-07-18 01:02] chenzhikun12 commented on #19235
![image](https://user-images.githubusercontent.com/33413445/179432314-b374260f-1237-404f-bb85-e841a9357143.png)

[2022-07-18 01:02] Bingai077 commented on #19290
What's the difference between writing directly to ZooKeeper and DistSql？

[2022-07-18 01:49] wingkingbobo commented on #19085
@terrymanu

Yes, I want to monitor the connection pool used by sharding proxy when connecting to the real database.

I tried to change the configuration to Druid, but sharding proxy doesn't seem to support it.
`org.apache. shardingsphere.proxy. backend.config.yaml.Yamlproxydatasourceconfiguration` does not provide a similar  `spring.datasource. type=com. alibaba. druid. pool. Druiddatasource` conf

[2022-07-18 01:52] peilinqian opened #19303 "sql hint and other strategies are configured at the same time, regardless of the order of strategies, they are routed by sqlhint"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-18 01:55] strongduanmu commented on #19303
@peilinqian Thank you for your feedback, I will investigate this issue.

[2022-07-18 02:04] peilinqian opened #19304 "The transaction routing policy is configured as proxy, the label is configured with multiple proxies, and multiple transactions are executed, all executed on one proxy, without load balancing"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-18 02:09] dongzl commented on #18860
Hi ShardingSphere community and @JiekerTime:

At first I thought the problem was caused by the unsupported SQL parser, But `set names` was supported for SQL parser.

I discuss this issue with @strongduanmu and @TeslaCN.
`
If we want to solve this issue, it depend on the #18738 . we should save status at the `shardingsphere-proxy` for `set` handle.  and this work is doing on the #18738 and @TeslaCN

[2022-07-18 02:12] strongduanmu commented on #19304
@peilinqian Thank you for your feedback, I will investigate this issue.

[2022-07-18 02:18] wingkingbobo opened #19305 "FrontendChannelInboundHandler throw IndexOutOfBoundsException"
## Bug Report

### Which version of ShardingSphere did you use?
Sharding-Proxy 5.1.2

### Actual behavior
error log:
[code]

### Reason analyze (If you can)
The command line window of sharding proxy reported this error at 7 a.m., but I can see in the main application log that no HTTP interface has been called at this time.

[2022-07-18 02:19] wingkingbobo opened #19306 "java.lang.IndexOutOfBoundsException: readerIndex(1) + length(4) exceeds writerIn dex(4): PooledSlicedByteBuf(ridx: 1, widx: 4, cap: 4/4, unwrapped: PooledUnsafeD irectByteBuf(ridx: 7, widx: 47, cap: 2048))"
## Bug Report

### Which version of ShardingSphere did you use?
Sharding-Proxy 5.1.2

### Actual behavior
error log:
[code]

### Reason analyze (If you can)
The command line window of sharding proxy reported this error at 7 a.m., but I can see in the main application log that no HTTP interface has been called at this time.

[2022-07-18 02:37] TeslaCN commented on #19306
Could you help us reproduce this issue?

[2022-07-18 02:38] TeslaCN commented on #19305
Duplicated with #19306.

[2022-07-18 02:38] #19305 closed

[2022-07-18 02:39] laststem opened #19308 "Modify WORKER_ID_MAX_VALUE of snowflake algorithm"
The MAX_VALUE literally means the largest allowable value.

[code]

actually WORKER_ID range is `0 <= worker id <= 2^10-1`, not `0 <= worker id <= 2^10`

Can I write a PR for the above?

[2022-07-18 02:42] wingkingbobo commented on #19306
@TeslaCN
Sorry, this problem is reported from the online environment. I don't know how to reproduce it.

[2022-07-18 02:46] TeslaCN commented on #19308
Hi @laststem
The max range is exclusive.
https://github.com/apache/shardingsphere/blob/dc75d3d7f833213a22b73e7e127e96a883cfa621/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/main/java/org/apache/shardingsphere/sharding/algorithm/keygen/SnowflakeKeyGenerateAlgorithm.java#L120-L122

[2022-07-18 02:48] laststem commented on #19308
I know.
However, the purpose is to make the meaning and value of the variable the same as in the PR contents.
I also thought of modifying the code you attached.
@TeslaCN

[2022-07-18 02:52] TeslaCN commented on #19308
Go ahead please.

[2022-07-18 02:59] strongduanmu commented on #19303
Hi @peilinqian, I have test your case. Since SQL comments are also part of the SQL content, `/* shardingsphere hint:useTraffic=true */SELECT * FROM t_order WHERE content IN (?, ?)` cannot match the SQL_MATCH algorithm. You can modify the parameters in the SQL_MATCH algorithm, or adjust the SQL for the test.

[2022-07-18 03:01] strongduanmu commented on #19303
This is not a bug, but a misuse of the SQL_MATCH algorithm, so I will close this issue.

[2022-07-18 03:01] #19303 closed

[2022-07-18 03:53] novice-gamer commented on #19133
The actual quantity is 563275 lines

[2022-07-18 04:44] strongduanmu commented on #19304
I tested the following code and it load balances correctly.

[code]

[2022-07-18 04:46] strongduanmu commented on #19304
Currently, ShardingSphere only supports load balancing for multiple SQL executions in the same Statement. Different Statements maintain different load balancing counters.

[2022-07-18 04:46] #19304 closed

[2022-07-18 06:12] terrymanu commented on #19158
I just remove change history now

[2022-07-18 06:13] TeslaCN opened #19313 "org.apache.shardingsphere.infra.executor.sql.log.SQLLoggerTest failed in Java 18"
## Bug Report

### Which version of ShardingSphere did you use?

master - dd92cdd0229a46f687d57c2bd18b1d84fd43e6ad

### Expected behavior

Unit test `org.apache.shardingsphere.infra.executor.sql.log.SQLLoggerTest` passed.

### Actual behavior

[code]

### Reason analyze (If you can)

`getDeclaredFields0` didn't worked in Java 18.

[2022-07-18 06:14] #17559 closed

[2022-07-18 06:15] terrymanu commented on #17537
Great! All tasks are completed.

[2022-07-18 06:15] #17537 closed

[2022-07-18 06:24] #19158 closed

[2022-07-18 06:27] #19114 closed

[2022-07-18 06:34] liuwenliang0632 commented on #18653
@boot-vue do u reslove the promblem?

[2022-07-18 07:45] 110117 opened #19317 "如何只获取dataSourse 主库的数据源"
数据库：两主两从
分库分表：shardingJdbc
2022-07-17 INFO [ io.seata.core.rpc.processor.client.RmUndoLogProcessor - rm handle undo log process:UndoLogDeleteRequest{resourceId='jdbc:postgresql://xx.xx.xx.xx', saveDays=7, branchType=AT} 主库
2022-07-17 INFO [] io.seata.core.rpc.processor.client.RmUndoLogProcessor - rm handle undo log process:UndoLogDeleteRequest{resourceId='jdbc:postgresql://xx.xx.xx.xx', saveDays=7

[2022-07-18 08:50] #19313 closed

[2022-07-18 09:06] liushangqing9803 opened #19319 "java not used @transactional annotation ,data cannot be updated"
Configured a local transaction, found that only @transactional can be added to the method to take effect, resulting in some single update operation in the project plus @transactional annotation, it feels very troublesome. I don't know if I haven't configured it myself, or does the local transaction of shardingsphere have to add @transactional annotation to the method to take effect?

version: Shar

[2022-07-18 09:16] lyf200581105 commented on #19278
hi @terrymanu
I had update to version 5.1.1., issue still exist
<dependency>
                <groupId>org.apache.shardingsphere</groupId>
                <artifactId>shardingsphere-jdbc-core</artifactId>
                <version>5.1.1</version>
            </dependency>

below is part of the log:

![image](https://user-images.githubusercontent.com/49605984/179480940-e43dfd18-54e0-4eff-874b-378e17d

[2022-07-18 09:38] marker-wu opened #19323 "Question about sharding-jdbc routing engine"
I customized a sharding algorithm modulo the consistent hash of company_id. All tables in the database have the same sub-database sub-table algorithm, but the number of sub-tables is inconsistent. How does sharding-jdbc execute only one SQL query when doing a multi-table join query without configuring the binding table?

The execution log shows that sql is executed many times, and the way to execu

[2022-07-18 09:49] sunkai-cai opened #19326 "Refactor TableToken"
## Feature Request

 Uniform `getLogicAndActualTables()`  of TableToken, CursorToken, IndexToken, ConstraintToken

I try to work it when the test(https://github.com/apache/shardingsphere/pull/19325) be merged.

[2022-07-18 10:27] TeslaCN commented on #17409
Temporary solution is adding a logic database to ShardingSphere-Proxy.

[2022-07-18 10:50] TeslaCN opened #19328 "IT single rule cluster (docker, proxy, MySQL, readwrite_splitting) occasionally failed"
## Bug Report

### Expected behavior

Integration tests passed.

### Actual behavior

https://github.com/apache/shardingsphere/runs/7387546450?check_suite_focus=true

[2022-07-18 11:02] terrymanu commented on #19317
**For English only**, other languages will not accept.

[2022-07-18 11:49] terrymanu commented on #19279
Yes SHOW XXX INFO is good

[2022-07-18 12:17] #19277 closed

[2022-07-18 12:18] yx9o commented on #19279
let me do it.

[2022-07-18 12:36] RaigorJiang commented on #19279
Thank you  @yx9o

[2022-07-18 14:16] xuup commented on #19296
Could you please assign this issue to me?

[2022-07-18 15:08] sunkai-cai commented on #19299
I am working it。

[2022-07-18 15:37] #16101 closed

[2022-07-18 15:52] zjcnb opened #19333 "Add new DistSQL RAL syntax `SHOW SQL_TRANSLATOR RULE`"
### Configuration

` server.yaml`

[code]

### Expected behavior

`SHOW SQL_TRANSLATOR RULE` success.

### Actual behavior

mysql> SHOW SQL_TRANSLATOR RULE;
ERROR 1235 (42000): This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'

[2022-07-18 16:08] zjcnb opened #19335 "How to know my Proxy work-id when i use cluster mode"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Query work-id value

### Actual behavior

I can't get work-id

### DistSQL

[code]

[code]

### Configuration

[code]

[code]

[2022-07-18 23:01] yx9o commented on #19333
Let me try.

[2022-07-18 23:04] yx9o commented on #19296
@xuup Welcome.

[2022-07-18 23:07] yx9o commented on #19252
@SalvadorRomo Welcome, assigned to you.

[2022-07-19 00:23] TeslaCN opened #19340 "MySQL client blocked after OOM occurred in command thread"
## Bug Report

### Which version of ShardingSphere did you use?

master - 7ccb351cbe7e3606c11f41e42e231acfb11209b8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Do something to let client know error occurred.

### Actual behavior

[code]

Client blocked and query could not be aborted.

![image](https://user-images.githubu

[2022-07-19 00:35] TeslaCN commented on #19328
https://github.com/apache/shardingsphere/runs/7382591576?check_suite_focus=true

[2022-07-19 01:52] #19268 closed

[2022-07-19 02:04] soulasuna commented on #19328
Related #19103.
Close it first, then open it when it's fixed

[2022-07-19 02:04] #19328 closed

[2022-07-19 02:21] linghengqian commented on #18653
At the heart of this issue is actually a documentation issue, and I think this issue can be closed.

[2022-07-19 02:35] #19258 closed

[2022-07-19 02:43] strongduanmu commented on #19189
@chakkk309 @Trydamere Thank you for your contribution. Since all subtasks has been finished, I will close this issue.

[2022-07-19 02:43] #19189 closed

[2022-07-19 03:47] boot-vue commented on #18653
🎃🎃

[2022-07-19 03:47] #18653 closed

[2022-07-19 04:11] csonezp commented on #19335
I have some ideas ,let me try it

[2022-07-19 04:40] TeslaCN opened #19346 "Unit tests of shardingsphere-jdbc-core occasionally failed"
## Bug Report

### Expected behavior

Unit tests passed stably.

### Actual behavior

- https://github.com/apache/shardingsphere/runs/7401169742?check_suite_focus=true
- https://github.com/apache/shardingsphere/runs/7402065787?check_suite_focus=true
- https://github.com/apache/shardingsphere/runs/7402861199?check_suite_focus=true
- https://github.com/apache/shardingsphere/runs/7404847962?check_sui

[2022-07-19 04:51] TeslaCN opened #19347 "Consider supporting limiting max rows of Proxy backend's statements"
## Feature Request

Related to #19340.

### Is your feature request related to a problem?

OOM may occur if result of a query is huge and streaming result set is disabled.

### Describe the feature you would like.

Consider adding a new config `proxy-backend-query-max-rows` to limit max rows returns by ResultSet.
[code]

[2022-07-19 04:55] lushaorong commented on #16290
I want to try this work

[2022-07-19 05:01] lushaorong commented on #16284
I want to try this work

[2022-07-19 05:01] lushaorong commented on #16103
I want to try this work

[2022-07-19 05:03] lushaorong commented on #15717
I would like to work on this issue. Can you assign it to me !!

[2022-07-19 05:10] #19340 closed

[2022-07-19 05:18] RaigorJiang commented on #15717
@lushaorong Welcome!

[2022-07-19 05:31] 110117 opened #19348 "How to configure multiple data sources"
2022-07-17  INFO [ io.seata.core.rpc.processor.client.RmUndoLogProcessor - rm handle undo log process:UndoLogDeleteRequest{resourceId='jdbc:postgresql://xx.xx.xx.xx', saveDays=7, branchType=AT} Main library
2022-07-17  INFO [] io.seata.core.rpc.processor.client.RmUndoLogProcessor - rm handle undo log process:UndoLogDeleteRequest{resourceId='jdbc:postgresql://xx.xx.xx.xx', saveDays=7, branchType=AT

[2022-07-19 05:34] strongduanmu commented on #16103
@lushaorong Welcome.

[2022-07-19 05:36] liushangqing9803 commented on #19319
When the next transaction is executed, the update statement that does not open the transaction will commit the transaction together

[2022-07-19 07:56] newchendb commented on #17401
io.seata.rm.datasource.sql.struct.cache.MysqlTableMetaCache#resultSetMetaToSchema
![X)AB 8W7LM(0`0{4XW0PYT9](https://user-images.githubusercontent.com/29219642/179697397-6f8dcece-924a-4258-8a1d-878ae4be1ec5.png)
This method obtains a logical table, It's normal to change to a physical table.

org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSetMetaData#getTableName
Why retur

[2022-07-19 08:27] #19299 closed

[2022-07-19 08:36] terrymanu commented on #19117
why need to encrypt the metadata?

[2022-07-19 08:36] linghengqian commented on #19079
What if you don't use GraalVM? This error is not standard compared to OpemJDK.

[2022-07-19 08:37] forachange commented on #19242
mark,I have the same problem.

[2022-07-19 08:38] terrymanu commented on #19348
ShardingSphere is faced to sharding, the basic feature is config multiple data sources.
What is your question?

[2022-07-19 08:46] terrymanu commented on #19319
Can you provide the demo to reproduce the problem?

[2022-07-19 09:21] liushangqing9803 commented on #19319
[code]

[2022-07-19 09:53] 110117 commented on #19348
How to obtain the data source of the main database? When I use other middleware, I need to do some data processing on the data source of the main database

[2022-07-19 10:12] #19282 closed

[2022-07-19 10:13] linghengqian commented on #19348
Your issue description sounds completely irrelevant to the problem you're trying to deal with, and it doesn't help anyone understand what the problem is.

[2022-07-19 10:15] terrymanu commented on #19348
What is `main database` for you? It is better to explain some concepts first.
Please illustrate your goal.

[2022-07-19 11:47] susongyan commented on #18478
@zjcnb  only fix  npe in this case?     maybe ignore  non-existent ds or add pre assert

[2022-07-19 11:50] zjcnb commented on #18478
Yeah，you are right. Need to check ds non-exist too.

发自我的iPhone

------------------ Original ------------------
From: 亥时 ***@***.***&gt;
Date: Tue,Jul 19,2022 7:47 PM
To: apache/shardingsphere ***@***.***&gt;
Cc: zhaojinchao ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/shardingsphere] NPE occurred when `read-data-source-names` configured non-existent `ds` (Issue #18478)

@zjcnb  o

[2022-07-19 12:13] #19346 closed

[2022-07-19 13:58] sunkai-cai commented on #15818
I am working it

[2022-07-19 15:50] #18889 closed

[2022-07-19 15:55] #18986 closed

[2022-07-19 15:59] udrnrso opened #19369 "execute sql with mutiple 'or' cause stack overflow error"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
create table t_test_table (
`id` varchar(64) NOT NULL,
`biz_date` date NOT NULL,
primary key (id, biz_date)
);
we have table like above(mysql), execute the following query(around 2000 ids) shoud be ok

select i

[2022-07-19 19:40] SalvadorRomo commented on #19252
thks!!

[2022-07-20 00:34] phdbutbachelor commented on #18207
@strongduanmu the configuration is:

schemaName: eeb

dataSources:
  main:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    jdbcUrl: jdbc:mysql://x.x.x.x/eeb?useUnicode=TRUE&characterEncoding=UTF-8&nullCatalogMeansCurrent=true&serverTimezone=PRC
    username: x
    password: x

rules:
- !SHARDING
  tables:
    set_info_logs:
      actual

[2022-07-20 00:39] 110117 commented on #19348
main database is Master library and slave database is slave Library， Read write separation，How to obtain the data source of the master library? When I use other middleware, I need to do some data processing on the data source of the master library。I don't know. Can you understand this description

[2022-07-20 00:51] LeeGuoPing commented on #18755
May I have a try

[2022-07-20 02:14] #19252 closed

[2022-07-20 02:46] zhangchuangcheng0807 opened #19375 "How to configure administrator account and application connection account in server.yaml file"
Problem Description:
    1.Hope the proxy account can access all databases in the shardingsphere-proxy middleware;
    2.I hope the app_001 account can only access the app_db_001 database in the shardingsphere-proxy middleware;
    3.I hope the app_002 account can only access the app_db_002 database in the shardingsphere-proxy middleware;
    4.The following configuration can only be used by app_0

[2022-07-20 02:51] terrymanu commented on #15819
The coverage of test cases are not enough, we need to add more test cases.

[2022-07-20 03:44] #19296 closed

[2022-07-20 03:45] linghengqian commented on #19348
- When ShardingSphere masks the concept of real databases and tables, the concept of getting the primary database becomes rather obscure, and operations on the primary database should actually be client-side-unaware. The necessary operations on the master library are actually performed through DistSQL.

- I have to point out, what does the middleware you mean have to do with your inexplicable ERRO

[2022-07-20 04:08] terrymanu opened #19382 "Move legacy version documents from homepage menu to new page"
There are lots of legacy document links in the homepage menu. It is better move them to a new page.
The home page only keep newest version and legacy versions.

The tasks are:

- [x] Create new page, move all legacy version documents here;
- [x] Change the top menu in homepage, remove all legacy versions and add the link for new page;
- [x] Change the bottom menu in homepage, remove all legacy ver

[2022-07-20 04:13] terrymanu opened #19383 "Move FAQ from document to wiki page"
FAQ page always changes, but the document is pretty static.
It is better to split FAQ and document, just remove FAQ and move the content into GitHub Wiki.

The tasks are:

- [x] Add FAQ page in GitHub Wiki;
- [x] Move FAQ content into WIKi;
- [x] Add FAQ link into homepage's top menu (in document section);
- [ ] Add FAQ link into homepage's bottom menu (in document section).

[2022-07-20 04:15] terrymanu commented on #19369
How about increase your Xss configuration?

[2022-07-20 04:16] terrymanu commented on #19375
What is your version

[2022-07-20 04:17] terrymanu commented on #19348
What is `Master library`?

[2022-07-20 04:19] #15816 closed

[2022-07-20 04:31] RaigorJiang commented on #19224
@wsm12138
Sorry, I can't reproduce the exception.

If you find related problems again, please provide Proxy logs for troubleshooting, thank you!

[2022-07-20 04:32] RaigorJiang commented on #19224
<img width="628" alt="image" src="https://user-images.githubusercontent.com/5668787/179897433-e0093b46-0982-4f06-af26-52c96c548c7b.png">

[2022-07-20 05:12] 110117 commented on #19348
datasource:
      names: master0,master0slave0,master1,master1slave0
      master0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://xxx
        username: xx
        password: xx
        #durid连接池的属性
        initial-size: 10
        max-active: 100
        min-idle: 5
        max-wait: 30000
        validation-quer

[2022-07-20 05:13] 110117 commented on #19348
datasource:
      names: master0,master0slave0,master1,master1slave0
      master0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://xxx
        username: xx
        password: xx
        #durid连接池的属性
        initial-size: 10
        max-active: 100
        min-idle: 5
        max-wait: 30000
        validation-quer

[2022-07-20 05:14] linghengqian commented on #19348
This is not the standard YAML 1.1 format. You need to format markdown.

[2022-07-20 05:18] 110117 commented on #19348
names: master0,master0slave0,master1,master1slave0
      master0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://xxx
        username: postgres
        password: postgres
        #durid连接池的属性
        initial-size: 10
        max-active: 100
        min-idle: 5
        max-wait: 30000
        validation-query: sel

[2022-07-20 05:20] 110117 commented on #19348
\*  datasource:
      names: master0,master0slave0,master1,master1slave0
      master0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://xxx
        username: postgres
        password: postgres
        #durid连接池的属性
        initial-size: 10
        max-active: 100
        min-idle: 5
        max-wait: 30000

[2022-07-20 05:22] 110117 commented on #19348
`  datasource:
      names: master0,master0slave0,master1,master1slave0
      master0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://xxx
        username: postgres
        password: postgres
      master0slave0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: org.postgresql.Driver

[2022-07-20 05:25] 110117 commented on #19348
datasource:
names: master0,master0slave0,master1,master1slave0
master0:
type: com.alibaba.druid.pool.DruidDataSource
driver-class-name: org.postgresql.Driver
url: jdbc:postgresql://xxx
username: postgres
password: postgres
master0slave0:
type: com.alibaba.druid.pool.DruidDataSource
driver-class-name: org.postgresql.Driver
url: jdbc:postgresql://xxxx
username: postgres
password: postgres
master1:
t

[2022-07-20 05:25] 110117 commented on #19348
datasource:
names: master0,master0slave0,master1,master1slave0
master0:
type: com.alibaba.druid.pool.DruidDataSource
driver-class-name: org.postgresql.Driver
url: jdbc:postgresql://xxx
username: postgres
password: postgres
master0slave0:
type: com.alibaba.druid.pool.DruidDataSource
driver-class-name: org.postgresql.Driver
url: jdbc:postgresql://xxxx
username: postgres
password: postgres
master1:
t

[2022-07-20 05:29] RaigorJiang commented on #18434
@wsm12138
After verification, I found that the reason was that the routing results did not meet expectations when creating table, so the preview query got that result.

#### sql_parser rule
[code]

#### routing of create table
[code]

[2022-07-20 05:32] 110117 commented on #19348
![Uploading image.png…]()
11

[2022-07-20 05:36] 110117 commented on #19348
Middleware Seata scheduled task delete undo_ Log,

Deleted undo from library_ Log, sharding agent the data source of the slave database, resulting in the deletion of the slave database undo_ Log times is wrong

[2022-07-20 05:38] 110117 commented on #19348
Middleware Seata scheduled task delete undo_log,

Deleted undo slave library undo_log, sharding agent the data source of the slave database, resulting in the deletion of the slave database undo_ Log times is wrong

[2022-07-20 05:40] 110117 commented on #19348
write-data-source-name is mater library   read-data-source-names is slave library

[2022-07-20 05:43] tuichenchuxin commented on #18434
https://github.com/apache/shardingsphere/issues/18620
hint with datasource has been deleted

[2022-07-20 05:43] #18434 closed

[2022-07-20 05:45] RaigorJiang commented on #18434
OK, thank you @tuichenchuxin

[2022-07-20 06:41] #19104 closed

[2022-07-20 06:42] #19008 closed

[2022-07-20 06:55] linghengqian commented on #19348
- This is not the normal error reporting and processing logic, and you are not providing enough information.

- Providing a `docker-compose.yml` involving your related middleware, and a minimally reproducible amplifier containing the corresponding unit tests, will help others understand what's going on.

[2022-07-20 07:06] wsm12138 commented on #19224
<img width="1681" alt="image" src="https://user-images.githubusercontent.com/86462784/179918206-16624db1-ef2d-46a2-b285-59b784d5327d.png">

### stdout.log

[code]

### server.yaml
[code]

[2022-07-20 07:13] wsm12138 commented on #19224
### About zk(we found content conflicting betweem `DistSQL` & `zk`)
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/86462784/179919562-de1a947e-51e2-4dcb-bf29-dec1e91d6704.png">

[2022-07-20 07:25] Green524 opened #19390 "How to add data sources and related configurations without downtime in the production environment, and make it take effect?"
## Question
How to add data sources and related configurations without downtime in the production environment, and make it take effect?

[2022-07-20 07:30] Green524 commented on #16806
datasource.initialSize=5
datasource.minIdle=5
datasource.maxActive=20
datasource.maxWait=60000
datasource.timeBetweenEvictionRunsMillis=60000
datasource.minEvictableIdleTimeMillis=300000
datasource.validationQuery=select current_timestamp()
datasource.testWhileIdle=true
datasource.testOnBorrow=true
datasource.testOnReturn=false
datasource.poolPreparedStatements=true
datasource.maxPoolPreparedState

[2022-07-20 07:31] Green524 commented on #16806
datasource.initialSize=5
datasource.minIdle=5
datasource.maxActive=20
datasource.maxWait=60000
datasource.timeBetweenEvictionRunsMillis=60000
datasource.minEvictableIdleTimeMillis=300000
datasource.validationQuery=select current_timestamp()
datasource.testWhileIdle=true
datasource.testOnBorrow=true
datasource.testOnReturn=false
datasource.poolPreparedStatements=true
datasource.maxPoolPreparedState

[2022-07-20 07:32] Green524 commented on #16806
datasource.initialSize=5
datasource.minIdle=5
datasource.maxActive=20
datasource.maxWait=60000
datasource.timeBetweenEvictionRunsMillis=60000
datasource.minEvictableIdleTimeMillis=300000
datasource.validationQuery=select current_timestamp()
datasource.testWhileIdle=true
datasource.testOnBorrow=true
datasource.testOnReturn=false
datasource.poolPreparedStatements=true
datasource.maxPoolPreparedState

[2022-07-20 07:33] #16803 closed, assigned to nobody

[2022-07-20 07:54] 110117 commented on #19348
@linghengqian
I think my problem is very simple.
Sharding takes over my data source, and the read-write is separated.
The write library is only responsible for writing data, and the read library is only responsible for reading data.
The data source of my middleware Seata is the same as that of sharding. Now I need to distinguish this data source so that Seata can only recognize the write library.

[2022-07-20 08:20] jingshanglu commented on #17409
@TeslaCN this sql will be execute too, and have error
[code]

[2022-07-20 08:57] TeslaCN commented on #17409
The following SQL is sent by gsql 2.1.0:
[code]

[2022-07-20 09:09] strongduanmu opened #19392 "Wrong result return when execute `SHOW CREATE TABLE` statement with encrypt table"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/efd5e6999a9b5c2ee57ad213d3b33bdb59d3721a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

[code]

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to

[2022-07-20 09:53] jingshanglu commented on #19224
@wsm12138 When adding a resource, an error will be reported when using `opengauss`, but no error will be reported when using `postgresql`, and the protocol in the url should be consistent with the configuration.

[2022-07-20 09:59] TeslaCN commented on #19306
There are some similar issues:
- https://github.com/apache/shardingsphere/issues/13811
- https://github.com/apache/shardingsphere/issues/16691

We have not received any problem related this error so far. I'm closing this for now.

I can only reproduce this error by connection MySQL Proxy by `psql`

![image](https://user-images.githubusercontent.com/20503072/179954391-458b189e-3bdb-4847-aba1-a10772

[2022-07-20 09:59] #19306 closed

[2022-07-20 10:09] TeslaCN commented on #18556
Close due to no response.

[2022-07-20 10:09] #18556 closed

[2022-07-20 10:12] jingshanglu commented on #19224
Now, there should be a check that prohibits adding resources of different protocols.

[2022-07-20 10:16] pengliu1tw commented on #5727
hi，do you fix the problem now? We are facing the same problem.

[2022-07-20 10:16] TeslaCN commented on #14299
This issue is inactive for a while. I'm closing this for now.

[2022-07-20 10:16] #14299 closed

[2022-07-20 10:23] sunkai-cai commented on #16005
I am working it.

[2022-07-20 10:32] TeslaCN commented on #9628
We have done some performance enhancement after this issue, such as https://github.com/apache/shardingsphere/issues/11718. Please try the latest ShardingSphere.

[2022-07-20 10:32] #9628 closed

[2022-07-20 10:37] TeslaCN commented on #8650
We have fix this in #16174, #16268.

[2022-07-20 10:37] #8650 closed

[2022-07-20 10:41] TeslaCN commented on #8218
Close due to issue cannot be reproduced.

[2022-07-20 10:41] #8218 closed

[2022-07-20 11:42] #17409 closed

[2022-07-20 12:09] RaigorJiang commented on #15715
Hi @Rohitpandey357
Welcome to ShardingSphere community.

For this issue, there are already some completed modules, you can refer to:
- [class based](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example)
- [spi based](https://github.com/apache/shardi

[2022-07-20 13:53] pengliu1tw commented on #5727
Hi, @tuohai666 . I think this problem is a bug or at least an underlying problem. I am now introducing shardingsphere into our company's projects and for historical reasons null and 0 has different processes. If shardingsphere don't fix this probleam, it will involve a lot of work to modify our business process logic, which is not acceptable and dangerous. So I hope ss will behave in accordance wi

[2022-07-20 14:38] zjcnb opened #19396 "Package build failed"
master branch https://github.com/apache/shardingsphere/commit/d5b6006bec3aaee933895852a817874c14793660

[code]

[2022-07-20 14:52] zjcnb commented on #18792
I can't reproduce it, so i close it.

[2022-07-20 14:52] #18792 closed

[2022-07-20 14:59] zjcnb commented on #15016
This issue does not seem too reasonable, JDBC should only focus on its own logic database. So, i will close it.

[2022-07-20 15:17] zjcnb opened #19398 "`ReadwriteSplittingSpringBootJpaExample` run failed"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

example run success

### Actual behavior

[code]

[2022-07-20 15:51] Swastyy commented on #19383
Hi @terrymanu , I want to contribute on this.

[2022-07-20 16:18] zjcnb opened #19401 "CI run failed"
[code]

[2022-07-20 16:54] SalvadorRomo commented on #9471
Hi Can work in  this one?? I  was going to start working on the past you already assigned but somene else already did it, so can i try this one ??

[2022-07-20 23:42] #19401 closed

[2022-07-21 00:12] FlyingZC commented on #19396
I will fix it.

[2022-07-21 00:55] FlyingZC commented on #19396
The transaction integration test is configured to start the docker container, so if the docker is not started locally, an error will be reported. I will now remove this default configuration and the problem will be solved.

[2022-07-21 01:20] TeslaCN commented on #16260
Close due to no response.

[2022-07-21 01:20] #16260 closed

[2022-07-21 01:21] TeslaCN commented on #15979
Close due to no response.

[2022-07-21 01:23] TeslaCN commented on #11276
It seems that the EOF is necessary.

[2022-07-21 01:23] #11276 closed

[2022-07-21 01:40] TeslaCN opened #19405 "show tables from schema doesn't work in ShardingSphere-Proxy MySQL"
## Bug Report

### Which version of ShardingSphere did you use?

master - dc2d739f19606ede19aeec926b6a25182bbcaae7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Expected behavior

![image](https://user-images.githubusercontent.com/20503072/180111061-f7cdfe63-b898-4e2c-a3f4-8b0c40bbe9bc.png)

### Actual behavior

![image](https://user-

[2022-07-21 01:41] TeslaCN commented on #18955
I found something when I using DBeaver. https://github.com/apache/shardingsphere/issues/19405

[2022-07-21 01:56] 110117 commented on #19348
`2022-07-21 09:46:44.940  INFO [appName=scm-coordination,traceId=,spanId=] org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker - Bean 'redisson' of type [org.redisson.Redisson] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying)
2022-07-21 09:46:44.974  INFO [appName=scm-coordination,traceId=,spanI

[2022-07-21 03:13] natehuangting commented on #18755
@LeeGuoPing Yeah. If you can, handle it.

[2022-07-21 03:19] oulexue opened #19409 "delete sql question"
### Which version of ShardingSphere did you use?
sharding jdbc 5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Expected behavior
when execute delete sql with
An error occurred during the delete SQL execution

### Actual behavior
 Cannot support Multiple-Table for '[tb_finance_auxiliary_type, tb_finance_voucher_auxiliary]'.### Reason analyz

[2022-07-21 03:36] TeslaCN commented on #19103
single rule cluster (docker, proxy, PostgreSQL, db) occasionally failed.
https://github.com/apache/shardingsphere/runs/7441972808?check_suite_focus=true

[2022-07-21 03:42] pachuang commented on #5596
反正就是不支持

[2022-07-21 03:44] TeslaCN commented on #19103
https://github.com/apache/shardingsphere/runs/7442050177?check_suite_focus=true

[2022-07-21 03:45] #19392 closed

[2022-07-21 04:27] TeslaCN commented on #19103
https://github.com/apache/shardingsphere/runs/7442413184?check_suite_focus=true

[2022-07-21 04:51] vikiuvb commented on #17596
@TeslaCN What does it take to support SSL for the frontend channel communications? I'm new to the ShardingSphere project. If you can share some file references, I can try taking a stab at it.

[2022-07-21 04:56] #19405 closed

[2022-07-21 05:49] TeslaCN commented on #18955
This is because DBeaver fetch meta data from information_schema, which is not supported by ShardingSphere-Proxy for now.

[2022-07-21 06:14] TeslaCN commented on #17596
Here is something about MySQL SSL handshake protocol.
https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_connection_phase.html#sect_protocol_connection_phase_initial_handshake_ssl_handshake

Here is the frontend of ShardingSphere-Proxy.

https://github.com/apache/shardingsphere/blob/8f898cc6501afb985dc157b7d9bbe414bdfae247/shardingsphere-proxy/shardingsphere-proxy-frontend/shardingsph

[2022-07-21 06:31] 1048933788 opened #19417 "How to associate updates"
## Question

**How to associate updates**
**version** 4.1.1
**for example：**
UPDATE table1 t1,
table2 t2
SET t1.source_ext_a = t2.source_ext_a,
t1.source_ext_b = t2.source_ext_b,
t1.scene_code = t2.scene_code,
t1.source = t2.source,
t2.member_clean_status = 1
WHERE
	t1.id = t2.id
	AND t1.channel = t2.channel
	AND t2.id >= 1
	AND t2.id <= 1000000
	LIMIT 1

**exception** :  Cannot support Multiple-T

[2022-07-21 06:36] strongduanmu opened #19418 "Incorrect integer value exception occurs when execute `insert into tb1_cipher values(3,'c',3);`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/8f898cc6501afb985dc157b7d9bbe414bdfae247

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `insert into tb1_cipher values(3,'c',3);` successfully.

### Actual behavior

[code]

### Reason analyze (If you ca

[2022-07-21 07:02] #19348 closed

[2022-07-21 07:11] #19183 closed

[2022-07-21 07:15] #19266 closed

[2022-07-21 07:18] #11955 closed

[2022-07-21 07:23] soulasuna opened #19419 "Failed IT in cluster mode with scenario tbl"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-21 07:26] soulasuna commented on #19419
@strongduanmu I'm not sure, help to find out the specific reason please.

[2022-07-21 07:28] strongduanmu commented on #19419
@soulasuna Thank you for your remind, I will check it.

[2022-07-21 07:39] strongduanmu commented on #19418
I found `insert into tb1_cipher values(3,'c',3);` has a potential problem, if we complete the encrypt wash and switch the query to the cipher column `QUERY_WITH_CIPHER_COLUMN=TRUE`, this time if we delete plain column, which will cause a change in the order of fields in metadata.
The change of the field order will cause `insert into tb1_cipher values(3,'c',3);` to execute abnormally, so the more r

[2022-07-21 07:41] TeslaCN commented on #19417
ShardingSphere 4.1.1 is no longer maintained, please try the latest version.

[2022-07-21 07:56] sandynz opened #19421 "Refactor scaling for better code reuse on new types of jobs"
Part of #13875.

Hi community,

After discussion with @tristaZero , we'll start to do it recently, it should be done on next release 5.1.3.

It could be easier to extend a new type of job after refactoring.

There will be some new issues linked here on next weeks, and refactoring detail wil be commented in new issues.

Refactoring overview will be put here later.

[2022-07-21 08:02] pengdafu opened #19422 "Using a registry can cause unexpected things to happen"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-Proxy

### Expected behavior
Nodes A and B use ETCD as the registry。Show the timeline:
1. A run `create table t1 (id int);`
2. B run `show tables like `'t1'` to get the result
3. A run `drop table t1`, and then run `show tables like `'t1

[2022-07-21 08:03] zjcnb commented on #19422
@pengdafu Can you try it again with `5.1.2` version?

[2022-07-21 08:08] pengdafu commented on #19422
I'll try it when I upgrade

[2022-07-21 08:13] marker-wu opened #19423 "A bug in the binding table at version 5.1.1"
A bug in the binding table, the table is divided according to order_id and user_id, and an exception is displayed
![image](https://user-images.githubusercontent.com/45256940/180164441-a434424b-d690-404f-ab05-f7049099f5d6.png)

![image](https://user-images.githubusercontent.com/45256940/180164179-ab82b571-4586-43c3-bcf3-2bc1e70c3b7b.png)

[2022-07-21 08:16] panqizhen opened #19424 "how can i set sql-mode through a conf file"
## Question
I am using shardingsphere-proxy with php and I need to set mysql sql-mode. now i can only set sql-mode after start shardingsphere-proxy, but it will be invalid after restart. I did not find any method in the docs and i can not understand the source code. How can i set sql-mode durable
![image](https://user-images.githubusercontent.com/22044790/180164741-fe4fd892-ced3-4a4b-b0c6-bcc6b640

[2022-07-21 08:32] strongduanmu commented on #19423
@marker-wu Which version do you use?

[2022-07-21 08:33] #19418 closed

[2022-07-21 08:33] marker-wu commented on #19423
5.1.1

[2022-07-21 08:34] strongduanmu commented on #19423
Ok, I will check this bug.

[2022-07-21 08:51] win-ho opened #19427 "A bug in setting actual-data-nodes with shardingsphere-jdbc-core-spring-boot-starter at version 5.1.2"
![image](https://user-images.githubusercontent.com/53374863/180171347-597058c6-3b49-4b71-8cca-19cddc1fc23d.png)
As it shows, I have configured the logic table `student` with 3 physic tables: `student_0`, `student_1` and `student_2`.
But it does not work when inserting data into `student_2`. And it reminds me that `student_2` does not exist.

[2022-07-21 08:55] win-ho commented on #19427
it works normally with the same configurations at version 5.1.1

[2022-07-21 09:06] strongduanmu commented on #19427
Can you provide a demo to reproduce this bug?

[2022-07-21 09:08] sandynz opened #19428 "Remove PipelineSimpleLock"
New lock interface is used now, and it's not used any more.

[2022-07-21 09:12] win-ho commented on #19427
Sure. Is it zip package ok ?

[2022-07-21 09:16] sandynz opened #19430 "Clean unused code in AbstractDataSourcePreparer"
After DataSourcePreparer implementations use PipelineDDLGenerator, some utility methods are not used any more, they could be removed.

List:
- getTableDefinitionSQLType
- replaceActualTableNameToLogicTableName

Double check list:
- addIfNotExistsForCreateTableSQL, looks it's still referenced in MySQLDataSourcePreparer, is it necessary?

[2022-07-21 09:18] azexcy commented on #19430
I will follow this issue

[2022-07-21 09:18] strongduanmu commented on #19427
@win-ho Ok, you can push demo to your github repository, and paste link here.

[2022-07-21 09:18] 0xkevin commented on #19427
spring:
  shardingsphere:
    props:
      sql-show: true
    datasource:
      names: ds1,ds2
      ds1:
        driver-class-name: com.mysql.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        jdbc-url: jdbc:mysql://123.60.18.135:30191/course_db?useUnicode=true&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2b8
        u

[2022-07-21 09:21] win-ho commented on #19427
I find that，maybe it's not a bug! but still, it got some confusing problems.

[2022-07-21 09:23] win-ho commented on #19427
I just found a directory which named `.shardingsphere` in my project directory. it worked normally after I delete this directory!

[2022-07-21 09:28] win-ho commented on #19427
![image](https://user-images.githubusercontent.com/53374863/180179435-db4e0227-813c-4155-b21e-b2fcb91a3b0e.png)
I truely config the physical table `table_0` and `table_1` (test-db.student_$->{0..1}) in first time! but I did not notice that  a directory was generated in my project. And then I config phsical tables (`test-db.student_$->{0..2}`), and rerun my project, error which I just issued just o

[2022-07-21 09:29] 0xkevin commented on #19427
Thanks for your reminder, it's work for me when I deleted `shardingsphere-rw` directory from zookeeper.

[2022-07-21 09:30] strongduanmu commented on #19427
This is a cluster mode, it will store config file to `.shardingsphere` directory.

[2022-07-21 09:30] 0xkevin commented on #19427
<img width="1610" alt="image" src="https://user-images.githubusercontent.com/30562553/180180830-e1208271-087f-4dd3-855a-aa437e62232e.png">

[2022-07-21 09:31] zjcnb opened #19432 "The databases in TransactionRule does not perceive change when i create database xx"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Perceived change

### Actual behavior

Not perceived

### Reason analyze (If you can)

[code]

The database is reassigned, such as :

[code]

[2022-07-21 09:31] pengdafu commented on #19422
After the upgrade, reports of the two node creation tables exist, but query reports do not exist

[2022-07-21 09:32] strongduanmu commented on #19427
@win-ho So, can you close this issue now?

[2022-07-21 09:32] win-ho commented on #19427
OK

[2022-07-21 09:32] #19427 closed

[2022-07-21 09:40] strongduanmu commented on #19427
Maybe you can set `overwrite: true`.

[2022-07-21 09:42] win-ho commented on #19427
Thanks for your advice

[2022-07-21 09:42] win-ho commented on #19427
Thanks for your advice

[2022-07-21 09:43] zjcnb commented on #19422
Can you show reproduce step to us?

[2022-07-21 09:43] azexcy commented on #19430
MySQLDataSourcePreparer still need addIfNotExistsForCreateTableSQL, because PipelineDDLGenerator generate MySQL  create table script, use `show create table`, it will not append `if not exists` after `create table`.

[2022-07-21 09:51] sandynz opened #19440 "Decouple TaskConfiguration from PrepareTargetSchemasParameter and PrepareTargetTablesParameter"
Part of  #19421.

Purpose:
- Decouple it for DataSourcePreparer common usage

### Current code snippets

TaskConfiguration contains dedicated jobConfig:
[code]

TaskConfiguration is part of PrepareTargetSchemasParameter and PrepareTargetTablesParameter:
[code]

[code]

`taskConfig` is referenced in `AbstractDataSourcePreparer` etc.

### Possible changes

Remove TaskConfiguration reference from Pre

[2022-07-21 09:54] pengdafu commented on #19422
![image](https://user-images.githubusercontent.com/28956520/180185778-06fd80c7-db14-4116-94a4-d994d323a0d3.png)

[2022-07-21 10:16] huangdx0726 commented on #19440
Can i try?

[2022-07-21 10:30] #19428 closed

[2022-07-21 10:44] sandynz commented on #19440
Hi @huangdx0726 , welcome!

But it's an urgent task, do you plan to solve it on next days?

[2022-07-21 11:42] pengdafu opened #19443 "Why do `server-lists` have to use `http://` Schema?"
## Question
I tried to use cluster mode and use ETCD as the registry.
But I get an error using the following configuration.

configuaration:

[code]

err log:
[code]

Unless I use the following configuration to boot properly.
[code]

[2022-07-21 11:53] peilinqian commented on #19137
Passed

order_db=> CREATE TRAFFIC RULE sql_hint_traffic_2(LABELS(OLAP, order_by),TRAFFIC_ALGORITHM(TYPE(NAME= SQL_HINT)));
ERROR:  Traffic load balance algorithm can not be null.
order_db=> show traffic rules from traffic_db;
       name        |       labels        | algorithm_type |                                                                               algorithm_props

[2022-07-21 12:33] peilinqian opened #19447 "Errors may occur when refreshing metadata at the same time as a business request."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
When a transaction is in

[2022-07-21 12:43] huangdx0726 commented on #19440
ok

[2022-07-21 13:22] sandynz commented on #19440
Thanks, just assigned to you.

[2022-07-21 13:32] zjcnb commented on #19443
@pengdafu `http://localhost:2379` Is this `etcd` requirement?

[2022-07-21 15:56] RaigorJiang opened #19449 "IllegalStateException occurrd when excute DistSQL `SHOW DB_DISCOVERY RULES`"
## Bug Report

### Which version of ShardingSphere did you use?
master https://github.com/apache/shardingsphere/commit/23fae80b23ce1188b3d890a3e2b3aefc8ce36ad3

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When there is no `DatabaseDiscoveryRule`, `SHOW DB_DISCOVERY RULES` should return empty result rest.

### Actual behavi

[2022-07-21 16:00] RaigorJiang commented on #19449
Some references for this issue
- https://github.com/apache/shardingsphere/pull/19105
- https://github.com/apache/shardingsphere/pull/19337

[2022-07-21 16:20] RaigorJiang commented on #19290
DistSQL provides an API for managing ShardingSphere configuration, which has been carefully designed and tested, and also has validation logic during execution.
However, directly modifying the ZK node is not a supported method. There is no test case covering this scenario, which is not recommended.

[2022-07-21 17:00] RaigorJiang opened #19450 "[DistSQL] Parse SQL failed when there is no resource in database."
### Which version of ShardingSphere did you use?
master 23fae80b23ce1188b3d890a3e2b3aefc8ce36ad3

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
DistSQL `PARSE SQL` executed successfully.

### Actual behavior
If there is no resource, an exception will occur
[code]

[2022-07-22 00:43] zjcnb opened #19452 "Table "t_user_details" does not exist occurred when run integration-test"
`./mvnw -nsu -B install -f shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/pom.xml -Dcheckstyle.skip=true -Dspotless.apply.skip=true -Dit.run.modes=Cluster -Dit.scenarios=encrypt -Dit.cluster.adapters=proxy -Dit.cluster.databases=POSTGRESQL -Dit.cluster.env.type=DOCKER`

[code]

[2022-07-22 01:19] Bingai077 commented on #19290
Does DistSql support concurrent manipulation of logical resources?
For example, one thread adds a logical database resource and another thread modifies another logical database resource.

Will the same happen with DistSql？ refer to  https://community.sphere-ex.com/t/topic/1053

[2022-07-22 01:45] #19443 closed

[2022-07-22 02:01] #19419 closed

[2022-07-22 02:31] #19450 closed

[2022-07-22 02:42] sandynz opened #19457 "Extract job progress persistence from RuleAlteredJobSchedulerCenter and improve the implementation"
Part of #19421.

Currently, all jobs progress persistence is in RuleAlteredJobSchedulerCenter, it's scheduled by ScheduledExecutorService with fixed delay. The persistence frequency is every 60 seconds before and 10 seconds now.
[code]

It's not effient enough:
- All jobs progresses will be persisted at the same time.
- Scheduled by fixed delay, no matter there's new progress update or not, and it

[2022-07-22 02:43] sandynz commented on #19457
@azexcy Could you help to follow it?

[2022-07-22 02:43] RaigorJiang commented on #19290
@Bingai077
DistSQL of course supports it, and your version may be incorrect, because I can't see several built-in databases like 'mysql', 'information_schema' from the results of `show databases`

[2022-07-22 02:44] azexcy commented on #19457
OK, I will follow it.

[2022-07-22 03:21] sandynz opened #19460 "Consider merge RuleAlteredJobSchedulerCenter into RuleAlteredJob and RuleAlteredJobCenter"
Part of  #19421.

Since there's RuleAlteredJobCenter to manage all jobs, and job shards (RuleAlteredJobScheduler) could be managed by RuleAlteredJob itself.

Then remove RuleAlteredJobSchedulerCenter.

It could be done after PR 19457 completed.

[2022-07-22 03:22] sandynz commented on #19460
@azexcy Could you help to follow it?

[2022-07-22 03:23] azexcy commented on #19460
OK, I will follow it.

[2022-07-22 03:28] azexcy commented on #19430
I will improve openGauss create table sql generate method too

[2022-07-22 03:28] #15715 closed

[2022-07-22 03:36] herbxu opened #19461 "ShardingSphere proxy config center not work. Some nodes not have config center configurations info like datasource, rule configurations"
## Bug Report
ShardingSphere Proxy config center not work. some nodes not have config center configurations info like datasource, rule configurations

### Which version of ShardingSphere did you use?
5.1.2 （helm cluster）
docker images url: apache/shardingsphere-proxy:5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
All c

[2022-07-22 03:59] Green524 commented on #19390
thank you for your reply.
Is there any other way?

[2022-07-22 03:59] Green524 commented on #19390
Thank you for your reply.
Is there any other way?

[2022-07-22 04:08] RaigorJiang commented on #19461
Hi @herbxu
Please execute `SHOW INSTANCE LIST` to see if they are in the same cluster.

[2022-07-22 04:13] #19430 closed

[2022-07-22 04:49] yx9o commented on #19449
I want to investigate.

[2022-07-22 04:56] strongduanmu opened #19463 "Add more unit test for AlgorithmProvidedShardingRuleConfigurationChecker and ShardingRuleConfigurationChecker"
After pr #19462 was merged, we need to add more unit tests for `AlgorithmProvidedShardingRuleConfigurationChecker` and `ShardingRuleConfigurationChecker`. Unit tests need to be able to cover various normal and abnormal scenarios in AbstractShardingRuleConfigurationChecker.

The target method for unit testing is as follows:

- [ ] AlgorithmProvidedShardingRuleConfigurationChecker#check
- [ ] Shardi

[2022-07-22 05:27] herbxu commented on #19461
this node can see the configurations SHOW INSTANCE LIST below:
![image](https://user-images.githubusercontent.com/58198659/180368973-05acf9f1-b8a6-46df-93b5-67c4ed9430d2.png)

this node can not see the configurations SHOW INSTANCE LIST below:
![image](https://user-images.githubusercontent.com/58198659/180369152-9738c85a-ff19-4f0b-b73f-cfa3aea4c09c.png)

[2022-07-22 05:38] #19432 closed

[2022-07-22 05:58] sandynz opened #19464 "Clean unused classes for data source preparer"
After DataSourcePreparer implementations use PipelineDDLGenerator, some classes are not used any more, they could be removed.

List:
- ActualTableDefinition
- TableDefinitionSQLType

[2022-07-22 06:30] runqi-zhao commented on #19464
please assign it to me, I will have a try

[2022-07-22 06:38] Bingai077 commented on #19290
Ok, thank you. Let's try it. How does DistSQL change the schema version?

[2022-07-22 06:39] RaigorJiang commented on #19449
@yx9o Assigned, thank you!

[2022-07-22 06:43] runqi-zhao commented on #19464
please assign it to me, I will have a try

[2022-07-22 06:46] mingyifei opened #19465 "[SQL Parse] This version of ShardingSphere-Proxy doesn't yet support this SQL."
scene：

Client execute SQL throw `java.sql.SQLSyntaxErrorException: This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'
`

version: master、sharding-proxy

rule config：no configuration.

server config: basic configuration.

client SQL：
`SELECT
	a.id,
	a.job_number,
	a.account,
	a.employ_num,
	a.nickname,
	a.realname,
	a.last_login_ip,
	a.last_lo

[2022-07-22 06:46] RaigorJiang commented on #19290
The schema version is used to switch metadata, such as scaling, DistSQL will not directly change the schema version, which is determined by the governance feature.

[2022-07-22 07:22] koala775 opened #19466 "ShardingShpere-proxy default driver"
version:sharesphere-proxy-5.1.1
When I start sharesphere proxy without config config-sharding.yml,beause I want to push zookeeper by myself.And there's no log like DataBase name is 'PostgreSQL' ,version is `9.6.22`,then I push zookeeper by myself.It cann't connection,unless I restart proxy and have the log DataBase name is 'PostgreSQL'.So,the default driver looks doesn't work unless pre config the

[2022-07-22 08:07] #19102 closed

[2022-07-22 08:10] RaigorJiang commented on #19465
Hi @mingyifei
The meaning of the title is not clear, can you change it?

[2022-07-22 08:24] mingyifei commented on #19465
ok.

[2022-07-22 09:46] #19326 closed

[2022-07-22 09:53] yx9o commented on #19464
@runqi-zhao Thank you.

[2022-07-22 10:09] crazyboy988 opened #19475 "the username for resource cannot have '-', or it will return ERROR"
## Feature Request

**For English only**, other languages will not accept.

`ADD RESOURCE test0_proxy_test_write_ds (
    URL="jdbc:mysql://test0-mysql-master.test0:3306/proxy-test?serverTimezone=UTC&useSSL=false",
    USER=proxy-test-user,
    PASSWORD=proxy-test-password
);`

it returns：ERROR 1235 (42000): This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in y

[2022-07-22 10:43] Bingai077 commented on #19290
@RaigorJiang
How to configure the default logical table use DistSQL？
Such as：
![image](https://user-images.githubusercontent.com/51192624/180422272-86a4e032-ca21-4f09-82d1-ea41989b14cd.png)

[2022-07-22 12:34] ruanyg opened #19478 "keywords in proxy which can't be used as column name within a mysql select sql"
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Behavior
these keywords shown below can't be used as column name within a mysql select sql
[code]

### Reason analyze (If you can)
in grammatical level they aren't regarded as _identifier_
<img width="829" alt="image" src="https://user-images

[2022-07-22 12:53] RaigorJiang commented on #19290
Sorry, I don't understand what you mean by `default logical table`.

[Here](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/usage/sharding-rule/) is an example of creating a sharding table rule via DistSQL.

[2022-07-22 13:00] RaigorJiang commented on #19475
Hi @crazyboy988
Thanks for your feedback.

Currently username does not support any special characters, and passwords can already support special characters by adding double quotes.

Also, a format definition for DistSQL parameters is in the works (#18811), and will soon support arbitrary legal strings as well.

[2022-07-22 13:03] xuup commented on #19463
Hi, could you please assign that to me?

[2022-07-22 15:37] RaigorJiang commented on #19466
Hi @koala775
The default database type of Proxy is MySQL.
If you want it to start with the PostgreSQL protocol, configure it in `server.yaml`
[code]
Also you can refer to this issue: #18578

Of course, if there is already a data source at startup, this configuration is not required.

[2022-07-22 15:51] #15821 closed

[2022-07-22 15:56] TeslaCN commented on #15819
Close via #19394.

[2022-07-22 15:56] #15819 closed

[2022-07-23 04:43] terrymanu commented on #19383
Thank you, I just assign to you

[2022-07-23 05:07] Rohitpandey357 commented on #16093
Hi, I would like to work on this issue. Please, assign this to me.

[2022-07-23 05:17] yx9o commented on #19463
@xuup Thank you.

[2022-07-23 05:25] terrymanu commented on #16290
Get getRuleTagName, getOrder and getTypeClass are static impl, do not need add test cases, I just remove them

[2022-07-23 05:27] terrymanu commented on #16290
The test coverage does not reach 100% for `setYamlStrategies` `swapToObject` and `setStrategies`.
We need to add more test cases for this class.

[2022-07-23 05:28] terrymanu commented on #16290
This issue contains lots message, I just close this one and create a new one to continue.

[2022-07-23 05:28] #16290 closed

[2022-07-23 05:32] terrymanu opened #19487 "Add more test cases for ShardingRuleAlgorithmProviderConfigurationYamlSwapper"
The test coverage of ShardingRuleAlgorithmProviderConfigurationYamlSwapper does not reach 100% for method `setYamlStrategies` `swapToObject` and `setStrategies`.

We need to add more test cases for this class.

Ref #16290

[2022-07-23 10:06] strongduanmu commented on #16093
@Rohitpandey357 Welcome, I just assign this issue to you.

[2022-07-23 16:01] #19464 closed

[2022-07-23 16:03] #19487 closed

[2022-07-23 16:06] #18970 closed

[2022-07-24 01:09] runqi-zhao commented on #19382
please assign it to me, I will have a try

[2022-07-24 02:31] #16284 closed

[2022-07-24 03:17] #19463 closed

[2022-07-24 04:13] #19333 closed

[2022-07-24 05:16] strongduanmu commented on #19382
Welcome @runqi-zhao, I just assign this issue to you.

[2022-07-24 08:26] #15713 closed

[2022-07-24 08:43] RaigorJiang commented on #19224
Hi @jingshanglu
Thanks for your investigation, I will assign this issue to you.

[2022-07-24 12:30] lyf200581105 opened #19503 "Sharding-jdbc Can't findById after insert the data"
Using shardingsphere-jdbc-core 5.1.2 + spring jpa， only sharding tables, using LOCAL Transaction only.
DB: AWS Aurora
Both read and write operations are using the master endpoint

Using Jmeter to do some performance test
step 1: call create API to insert data to DB and return id
step 2: call get API with ID returned by step1 to query the data by Id, about 70% of results showed data not found(pleas

[2022-07-24 13:17] zjcnb opened #19505 "[Document] `RDL` Syntax `ADD RESOURCE` document correct"
`RDL` Syntax `ADD RESOURCE` has mistakes, It seems to be missing a comma.

Refer to : https://shardingsphere.apache.org/document/current/en/reference/distsql/syntax/rdl/resource-definition/add-resource/

[code]

[2022-07-24 13:55] #19505 closed

[2022-07-24 15:16] Swastyy commented on #19383
But I don't see the option of `New Page` in the github wiki of the repository, then is there any other option for that?

[2022-07-24 16:23] sgunadhya commented on #15700
Hi I am Sushant; I would like to work on this issue.

[2022-07-24 19:17] linghengqian opened #19510 "The io.takari:maven plugin should probably be removed"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-07-25 01:30] koala775 commented on #19466
Thank you for replaying,it's work.By the way,where to look full server.yaml configure.

[2022-07-25 01:55] RaigorJiang commented on #19466
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/yaml-config/props/

It may not be complete enough and requires us to keep updating it.

[2022-07-25 02:22] Bingai077 commented on #19290
The value of actualDataNodes is not required. How to do this with DistSQL?
![image](https://user-images.githubusercontent.com/51192624/180680201-a064654d-87d2-46bb-8664-238ac77db85f.png)

[2022-07-25 02:42] RaigorJiang commented on #19290
@Bingai077
Did you mean `Sharding Broadcast Table` ?
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/

[2022-07-25 03:02] TeslaCN opened #19512 "ShardingSphere-Proxy MySQL cannot encode packet whose length >= 16 MB"
## Bug Report

### Which version of ShardingSphere did you use?

master - 00e8042d47305fec1bb4d15ba17f88ac22b0fe7c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Expected behavior

Query worked.

### Actual behavior

Client stuck.

### Reason analyze (If you can)

ShardingSphere-Proxy MySQL cannot encode packet whose length >= 16 MB.

[2022-07-25 03:14] RaigorJiang commented on #19466
Hi @koala775 , Please close this issue if your problem is solved, thank you!

[2022-07-25 03:16] Bingai077 commented on #19290
No, I just want to shard the database, not the table.  Different databases , all table structures are identical.

[2022-07-25 03:20] RaigorJiang commented on #19290
You might want to take a look at the example, which can be of practical help:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources

[2022-07-25 03:28] Mike0601 opened #19513 "Restructure ShardingSphere Docs"
1. Restructure Chapter 1 Overview into Project Introduction:
---What is Apache ShardingSphere
---Core Concepts
---Architecture
---Advantages
---Application Scenarios
2. Remove Chapter 3 Concepts.
3. Move out FAQ from Reference.
4. Restructure Reference into Test Manual and How it works.

[2022-07-25 03:43] #19466 closed

[2022-07-25 03:43] koala775 commented on #19466
Thank you,have resolved.

[2022-07-25 03:52] inotgaoshou opened #19514 "Cross-database association query error"
## Bug Report

When the version was upgraded from 4.1 to 5.1.2, the statement that could be executed correctly across the database before,now execute again occurred and error occurred . The specific exception information is as follows:

[code]

and my configure rules。
[code]
this table of 'users ' is in another databse which named “needu”.
this table of 'person_chat_msg ' is in databse which named

[2022-07-25 03:56] strongduanmu commented on #19503
Hi @lyf200581105, thank you for your feedback.  Can you show the original sql which send to ShardingSphere?

[2022-07-25 03:58] strongduanmu commented on #19514
Hi @inotgaoshou, does these sharding tables are binding tables?

[2022-07-25 03:59] strongduanmu commented on #19478
@tuichenchuxin Can you help check this issue?

[2022-07-25 04:19] inotgaoshou commented on #19514
hi @strongduanmu , Thanks a lot for the reply  quickly.I do not set  these sharding tables binding。This morning, I also find  through the content of the binding table in the issue.I'm not sure if the problem is a bug or a problem with my own configuration. If it is a configuration problem, how can I configure it, thank you very much!

[2022-07-25 04:45] terrymanu commented on #19510
Awesome, could you try to remove it and upgrade the version of mvnw as a pull request?

[2022-07-25 04:47] terrymanu commented on #19424
Just set it in your database

[2022-07-25 04:48] #19417 closed

[2022-07-25 04:49] terrymanu commented on #19409
Please split the SQL to 2 SQLs for each to be delete table.

[2022-07-25 04:50] terrymanu commented on #19383
@Swastyy I just add the initial page[1]

[1] https://github.com/apache/shardingsphere/wiki/FAQ

[2022-07-25 04:51] strongduanmu commented on #19514
You can try to config binding tables first. If you encounter any exception, you can reply to me.

[2022-07-25 04:52] RaigorJiang commented on #19461
This is a weird issue that I haven't reproduced, hopefully a volunteer can look into this.

[2022-07-25 04:53] terrymanu commented on #19242
No plan to support for now, can you unify your databases version?

[2022-07-25 04:54] terrymanu commented on #19235
Can you use text to show your log? It is different to copy, search and investigate.

[2022-07-25 04:57] terrymanu commented on #19085
HikariCP can export the monitor data to Prometheus, but the codes do not implement in ShardingSphere yet. Do you interest to finish the feature?

[2022-07-25 05:06] linghengqian commented on #19510
Yes, I am working on this issue.

[2022-07-25 05:08] RaigorJiang commented on #19375
Hi @zhangchuangcheng0807
I think your question is similar to #15711, we plan to grant privileges to admins via `*` so it will be easier.

[2022-07-25 05:41] liulipengju opened #19516 "Invalid encrypt column configurations in EncryptTableRuleConfigurations"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-25 05:48] terrymanu commented on #19035
The picture is hard to copy and search, could you change it to text with markdown syntax?

[2022-07-25 05:49] 110117 opened #19517 "Shardingsphere-JDBC5.0.0 + seata1.4.2 Distributed transaction cannot delete undo_log"
Shardingsphere-JDBC version is 5.0.0
Seata version is 1.4.2

sharding.yml

[code]
seata.yml

[code]

seata.conf

[code]

[code]

[2022-07-25 05:50] terrymanu commented on #19026
How about the performance and the storage capacity?

[2022-07-25 05:52] terrymanu commented on #18942
@qlql489 Any update, did your problem resolve?

[2022-07-25 05:52] terrymanu commented on #18934
Closed because of no feedback for long time.

[2022-07-25 05:52] #18934 closed

[2022-07-25 05:53] terrymanu commented on #18920
Closed because of no feedback for long time.

[2022-07-25 05:53] #18920 closed

[2022-07-25 05:54] terrymanu commented on #18901
What is your version?

[2022-07-25 05:56] terrymanu commented on #18932
They are maybe different problems. One is for loading not existed SPI, your issue is codes can find SPI, but not call init method.

[2022-07-25 05:58] terrymanu commented on #18932
@doveylovey For your issue, I think that the `T_ORDER_SPI_BASED` is your own sharding algorithm type.
Please try to understand the example, and run the original example to make sure the example is fine.

[2022-07-25 05:58] #18932 closed

[2022-07-25 06:00] clytzelbj commented on #19461
We have already found out the reason for this issue.
You can reproduce this issue if you start a proxy cluster from scratch and set the serverConfig.mode.overwrite to false.

Details:
In org.apache.shardingsphere.mode.manager.cluster.coordinator.registry.metadata.watcher.MetaDataChangedWatcher where shardingsphere proxy watches the configs from zookeeper and handle them, we found that the data in

[2022-07-25 06:03] poo0054 commented on #18932
Hi, I found this problem. This problem does exist in sentinel. The address is this. You can have a look
https://github.com/alibaba/spring-cloud-alibaba/issues/2651

[2022-07-25 06:07] lyf200581105 commented on #19503
Thanks for your reply.
I'm using jpa API： repository.findById(id), the original search sql is like below:

Hibernate: select testmodel0_.id as id1_0_0_, testmodel0_.create_time as create_t2_0_0_, testmodel0_.last_update_time as last_upd3_0_0_, testmodel0_.model_name as model_na4_0_0_, testmodel0_.module_res_id as module_r5_0_0_ from db_test testmodel0_ where testmodel0_.id=?

2022-07-19T08:57:54.9

[2022-07-25 06:17] TeslaCN commented on #18897
The null check was added in #8760.

[2022-07-25 06:18] Bingai077 commented on #19290
My demand is the same as this demand, refer to  https://community.sphere-ex.com/t/topic/1024

[2022-07-25 06:20] liulipengju commented on #19516
it strange,  after a few minutes ,it's ok

[2022-07-25 06:20] #19516 closed

[2022-07-25 06:37] terrymanu commented on #18949
Please use text with markdown syntax to provide your configuration, snapshot is difficult to search and copy

[2022-07-25 06:37] terrymanu commented on #18835
@meua Hi, any update?

[2022-07-25 06:38] terrymanu commented on #18737
Closed because of no feedback for long time.

[2022-07-25 06:38] #18737 closed

[2022-07-25 06:39] RaigorJiang commented on #19461
Hi @clytzelbj
Thanks for your feedback!
So, building a package from master works fine, does it?

[2022-07-25 06:40] terrymanu commented on #18721
@williamXinCC Sorry, I have no time to investigate and show example with 3rd party ORM libraries. Could you do it, or if you have no time too, can you just close the issue?

[2022-07-25 06:40] terrymanu commented on #18676
What is your configuraton?

[2022-07-25 06:41] terrymanu commented on #18648
Closed because of no feedback for long time.

[2022-07-25 06:41] #18648 closed

[2022-07-25 06:42] terrymanu commented on #18632
Closed because of no feedback for long time.

[2022-07-25 06:42] #18632 closed

[2022-07-25 06:45] terrymanu commented on #18561
Your configuration please

[2022-07-25 06:45] terrymanu commented on #18544
Closed because of no feedback for long time.

[2022-07-25 06:45] #18544 closed

[2022-07-25 06:46] terrymanu commented on #18543
I just open it as `good amateur issue`

[2022-07-25 06:47] terrymanu commented on #18533
Closed because of no feedback for long time.

[2022-07-25 06:47] #18533 closed

[2022-07-25 06:47] terrymanu commented on #18487
Closed because of no feedback for long time.

[2022-07-25 06:47] #18487 closed

[2022-07-25 06:48] terrymanu commented on #18365
Nobody interest it for pretty long time, I just close it.

[2022-07-25 06:48] #18365 closed

[2022-07-25 06:55] RaigorJiang commented on #19290
So, this issue is not clearly described (including the screenshot you provided), and it doesn't match the title.

I suggest you change the title and clarify the content, or submit another issue.

In addition, if you want to ask how to write DistSQL, please provide the complete YAML configuration, an incomplete screenshot cannot provide complete information.

[2022-07-25 07:03] wsm12138 commented on #19224
## ShardingSphere version
[code]
## I verify this pr, the problem still exist
<img width="1815" alt="image" src="https://user-images.githubusercontent.com/86462784/180716721-e8074ae1-6f91-4124-b58e-060a5e712e6a.png">
<img width="794" alt="image" src="https://user-images.githubusercontent.com/86462784/180717328-13a30e28-d02b-4446-ad0e-aa2697a9f514.png">

## When we use this version proxy,execute `A

[2022-07-25 07:07] wsm12138 commented on #19224
## server.yaml
[code]
## DistSQL
[code]

[2022-07-25 07:07] terrymanu commented on #18261
The master version always changes, can you provide the commit id?

[2022-07-25 07:16] minm2015 opened #19519 "SNOWFLAKE value > 0 ?"
version 5.1.2
How to set the value generated by the algorithm to be greater than 0 ？

[2022-07-25 07:20] windghoul commented on #19461
The solution is to modify the image version in the charts after building the image using the master branch, or use the image version in our package. Update release to complete the upgrade

[2022-07-25 07:29] mayfsac commented on #18897
Is this bug a high priority?

[2022-07-25 07:36] TeslaCN commented on #18897
`return null` when `!isTruckThread` is because we didn't think about Exception cause by data. We will finish this issue before next release.

[2022-07-25 08:01] chenzhikun12 commented on #18837
我配置了分布式id，数据能够正常insert进数据库，并且数据库中有雪花算法生成的id，但当我想从内存中获取id时很像发现没有回写id，我想知道支持主键回写吗？

[2022-07-25 08:04] clytzelbj commented on #19461
Yes!
I tried to build a image from master branch by my own. It works fine!

[2022-07-25 08:08] clytzelbj commented on #19461
Yes, your solution works fine.
However, since 5.1.2 is an released stable version, I still insist that this bug should be fixed on 5.1.2 to avoid further troubles.

[2022-07-25 08:20] TeslaCN commented on #18897
## Description

The root cause of this issue: **When handling exceptions, exceptions caused by data problems are not considered.**

This logic is added in PR <https://github.com/apache/shardingsphere/pull/8760>, the original intention is to deal with the inconsistency of the front and back database types of ShardingSphere-Proxy.

For example, ShardingSphere-Proxy uses the MySQL protocol to provide

[2022-07-25 08:24] Bingai077 opened #19521 "How does DistSQL simplify logical table configuration"
Which version of ShardingSphere did you use?
5.1.2 （helm cluster）

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Expected behavior
DistSQL has a simple logical table configuration.

Actual behavior
For the case where only the database is shard.
Configuration is as

[code]

How do I use DistSQL if I have many databases and tables that need to be dynam

[2022-07-25 08:40] windghoul commented on #19461
Hi, @clytzelbj
When we release, we will no longer consider hotfix to fix bugs in the release version, please pay attention to our daily build version or wait for the next version.

[2022-07-25 09:16] terrymanu commented on #19519
The values always great than 0, what is the issue you met?

[2022-07-25 09:18] terrymanu commented on #19521
Why need to simply DistSQL only?
DistSQL is same with standard SQL, do you consider about use SQL to simply create table dynamically?

[2022-07-25 09:20] terrymanu commented on #19517
No plan for seata investigate for now, I just set the issue as good amateur issue, please collect this issue if someone interest it.

[2022-07-25 09:20] terrymanu opened #19524 "Add remote debug capability for docker IT"

[2022-07-25 09:23] 110117 commented on #19517
Thank you for your reply

[2022-07-25 09:24] RaigorJiang commented on #19461
Yes, it will be released in the next version after the issue is fixed.

[2022-07-25 09:27] taojintianxia commented on #19524
please assign to me .

[2022-07-25 09:30] Bingai077 commented on #19521
We need to use DistSQL to dynamically modify the database sharding rules.

[2022-07-25 09:30] terrymanu commented on #19521
It is better to use code dynamic DistSQL, but DistSQL should be statically.

[2022-07-25 09:32] Bingai077 commented on #19521
It mainly involves the configuration of logical table routes

[2022-07-25 10:13] chenzhikun12 commented on #19235
Sorry, this problem has been solved. it should be that I confused the configuration items of the old version and the new version

[2022-07-25 10:32] #19510 closed

[2022-07-25 11:06] pengpengno opened #19527 "Project can not build"
## Question
branch： master
version: 5.1.3-SNAPSHOT
jdk:1.8_131
maven:3.6.3
mavenrepository:https://maven.aliyun.com/repository/public
when i try to build shardingsphere project in idea, it happens lots of mistakes
such as below
![image](https://user-images.githubusercontent.com/48426117/180761795-70ac9a86-2daa-45e2-9c6c-40185436ab97.png)
 the main question is  how to build the project normal,
this

[2022-07-25 11:20] linghengqian commented on #19527
If you are using Windows, you will need to use Maven to build the project first, as suggested by the Github Wiki.  An obvious quick command is

[code]

[2022-07-25 11:23] #15700 closed

[2022-07-25 11:31] PeiMouRen opened #19529 "Two problems with proxy"
1、In cluster mode, the configuration file under conf has been modified, but the proxy configuration is not modified through DistSQL query. Why?
2、The distributed primary key generation strategy is configured as snowflake algorithm, Do you still need to specify the value of primary key in insert statement, please give an INSERT SQL, thank you.

[2022-07-25 11:33] terrymanu commented on #19527
Please execute mvn install to generate the generated antlr class first.
Just see https://shardingsphere.apache.org/document/current/en/reference/faq/

[2022-07-25 11:33] #19527 closed

[2022-07-25 11:34] terrymanu commented on #19529
For search friendly reason, could split them to 2 issues and give them a better title?

[2022-07-25 11:34] terrymanu commented on #19521
So, how about `It is better to generate DistSQL from programing dynamically, but DistSQL should be statically.`

[2022-07-25 11:37] #19115 closed

[2022-07-25 11:44] sgunadhya commented on #15825
There is overlap between this issue and issue #15700

[2022-07-25 11:45] TeslaCN commented on #19202
Close due to no response.

[2022-07-25 11:45] #19202 closed

[2022-07-25 11:46] TeslaCN commented on #19051
I'm closing this question for now.

[2022-07-25 11:46] #19051 closed

[2022-07-25 11:47] #18696 closed

[2022-07-25 11:51] TeslaCN commented on #16098
Close via #19325.

[2022-07-25 11:51] #16098 closed

[2022-07-25 11:53] TeslaCN commented on #16569
We have done a lot of performance enhancements in latest version. I'm closing this.

[2022-07-25 11:53] #16569 closed

[2022-07-25 11:56] TeslaCN commented on #16296
This error doesn't impact any features. I'm closing this for now.

[2022-07-25 11:56] #16296 closed

[2022-07-25 11:57] TeslaCN commented on #16989
The issue has been answered.

[2022-07-25 11:57] #16989 closed

[2022-07-25 12:01] TeslaCN commented on #16516
You may upgrade to ShardingSphere-Proxy 5.1.2 and configure `proxy-mysql-default-version` in `server.yaml`.

[2022-07-25 12:01] #16516 closed

[2022-07-25 12:03] TeslaCN commented on #15667
Please upgrade to ShardingSphere's latest version.

[2022-07-25 12:03] #15667 closed

[2022-07-25 12:31] Swastyy commented on #19383
even the `edit` option is not there, I have added the screenshot here:
![image](https://user-images.githubusercontent.com/64654203/180777856-5901dc21-233a-409a-8200-3fb8b17d0de3.png)

[2022-07-25 13:56] Bingai077 commented on #19290
@RaigorJiang
I know the cause of the problem "The logical database has disappeared".
When the rule configuration of one logical database is incomplete, all other logical database disappear.
Such as：

create database ds;
use ds;

[code]
This occurs when the rules for the logical table have not been configured.

[2022-07-25 14:01] Rohitpandey357 opened #19532 "Splitting test method with multiple assert statements into multiple methods"
Hey @terrymanu , As discussed in #19493 , should I go ahead and split the assertIsGenerateSQLToken() method into multiple methods in the following test files?

Below are the files which could be refactored :

- [ShardingInsertValuesTokenGeneratorTest.java](https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/java

[2022-07-25 14:02] Bingai077 commented on #19521
In this case, I find the table rule configuration too tedious. The default value cannot be set null.

[2022-07-25 15:14] Swastyy commented on #19383
Hi @terrymanu , I think only the collaboraters have access to do it, which can also be changed acc to [this](https://docs.github.com/en/communities/documenting-your-project-with-wikis/changing-access-permissions-for-wikis#:~:text=Only%20repository%20collaborators%20can%20edit,com%20to%20edit%20your%20wiki.)

[2022-07-25 15:44] Glowdable opened #19535 "throw java.lang.NullPointerException if I use multi-level nested join for single table"
## Bug Report

I got below error when I use a multi-level nested join, like this

[code]

It should be noted that  'order_item_2019 is not a shard table, just single table.

System error - Throwable org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.executor.ExecutorException: Error preparing statement.  Cause: java.lang.NullPointerException
	at org.mybatis.spring.MyB

[2022-07-25 15:52] Swastyy commented on #15693
Hi, I think this issue is completed

[2022-07-25 16:48] Swastyy opened #19536 "gitpod integration"
## Question
Somedays ago around 5 to 10, I saw a PR which included the project integration to gitpod, unfortunately I cannot find it now. My thought is if we have merged it then there should be a detailed explanation of how to use it should be there in contributors guide.

[2022-07-25 16:58] linghengqian commented on #19536
- Gitpod is indeed the de facto standard for browser-side IDEs to some extent.

- But https://github.com/apache/shardingsphere/pull/19360 looks to change the useless part in `README.md`.  I must point out that even without creating `.gitpod.yml`, users can open the specified branch of Apache ShardingSphere directly in the browser.

[2022-07-25 17:02] Swastyy commented on #19536
Hi @linghengqian , I have opened my fork in gitpod but there happens to have issues of dependencies so I thought after integration it gets resolved, but maybe not because this PR does nothing I see.

[2022-07-25 17:10] linghengqian commented on #19536
- According to https://www.gitpod.io/docs/languages/java, configuring a `.gitpod.yml` with JDK does seem inevitable.  Refer to https://www.gitpod.io/docs/languages/java.

- But the previous PR set JDK to 17, I think it should be consistent with `pom.xml`, use JDK8.

- Also, is it really a requirement to use Gitpod?  It is widely used in Gitlab, but it does not reflect the integration for easy gett

[2022-07-25 19:16] sgunadhya commented on #16841
I am interested in solving this issue. I need guidance on how to solve it.

[2022-07-26 00:19] TeslaCN commented on #19536
Does gitpod have any advantage over the GitHub Codespaces?

[2022-07-26 00:42] #19529 closed

[2022-07-26 00:42] PeiMouRen commented on #19529
split

[2022-07-26 00:49] PeiMouRen opened #19539 "The proxy rules are not refreshed"
The proxy uses cluster mode and the registry is Zookeeper. When I changed conf/config-**. Yaml and restarted the proxy, It was found that the modified rules in config-**. Yaml did not take effect(like 'SHOW SHARDING TABLE RULES'). May I ask why?

[2022-07-26 01:15] PeiMouRen opened #19541 "[jdbc]how to use Distributed Primary Key"
spring boot config:
[code]
How do I specify the primary key column value when I insert a piece of data using MyBatis?
example:
    `insert into t_order(order_id, logtime, phone) values (#{orderId}, #{logtime}, #{phone})`
    How do I get #{orderId} with the Snowflake algorithm

[2022-07-26 01:31] TeslaCN commented on #19541
Hi @PeiMouRen
You don't need to specify `orderId`. Just
[code]

[2022-07-26 01:53] strongduanmu opened #19542 "Encrypt predicate rewrite error when execute `SELECT * FROM t_encrypt WHERE order_id IS NULL;`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/3043ec0425c1a8be75edf4fadef59f4f9e789a1b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Encrypt predicate rewrite successfully when execute `SELECT * FROM t_encrypt WHERE order_id IS NULL;`

### Actual behavior

[2022-07-26 01:54] PeiMouRen commented on #19541
Hi @TeslaCN
This is the result of not specifying a primary key
![image](https://user-images.githubusercontent.com/46043280/180905369-891f0d7c-b3ab-479a-b0d4-659bf992e643.png)

[2022-07-26 01:54] udrnrso commented on #19369
increase stack size means more memory occupied. it is inpredictable.
any other option?

[2022-07-26 02:03] sandynz commented on #15693
Thanks. I'll close it now

[2022-07-26 02:03] #15693 closed

[2022-07-26 02:23] PeiMouRen commented on #19539
resolved，Set the value of `mode.overwrite` in `conf/server.yaml` to `true`

[2022-07-26 02:23] #19539 closed

[2022-07-26 02:52] inotgaoshou commented on #19423
I don't quite understand the configuration or meaning of the binding table. My problem now is that the table users in the associated table cannot be recognized, because the users table is in another database。
add java code like this?
[code]

[2022-07-26 02:54] inotgaoshou commented on #19514
I don't quite understand the configuration or meaning of the binding table. My problem now is that the  table of users in the associated table cannot be recognized, because the 'users' table is in another database.
like set java code below?
[code]

[2022-07-26 03:04] inotgaoshou commented on #19514
I don't know how to configure it, can you give me an example,thanks. I have not configured it before version 4.1, but it can be used normally.

[2022-07-26 03:04] inotgaoshou commented on #19514
I don't know how to configure it, can you give me an example,thanks. I have not configured it before version 4.1, but it can be used normally.

[2022-07-26 03:21] #19542 closed

[2022-07-26 03:27] wsm12138 commented on #19215
https://github.com/apache/shardingsphere/pull/19152

[2022-07-26 03:29] RaigorJiang commented on #19215
Fixed by #19152.

[2022-07-26 03:29] #19215 closed

[2022-07-26 03:31] TeslaCN opened #19545 "NullPointerException occurred when using ShardingSphere-Proxy MySQL Protocol + PostgreSQL Storage"
## Bug Report

### Which version of ShardingSphere did you use?

master - 5976d9eaa392875fb034c7207717145c5d483bfc

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Query worked.

[code]

[code]

### Actual behavior

#### select *
[code]

![image](https://user-images.githubusercontent.com/20503072/180916424-a647c49e-44b9-4ae5

[2022-07-26 03:41] runqi-zhao commented on #19382
Hi @terrymanu @strongduanmu, When I try to run the doc's community through hugo in windows, I always get the following errors.
<.Hugo.Generator>: can't evaluate field Hugo in type *hugolib.pageState
Linux also has these errors, and after searching, it seems that I need to configure something to run it
Do I need to configure anything extra before running?

[2022-07-26 03:44] TeslaCN commented on #19541
Could you try putting a breakpoint into `org.apache.shardingsphere.sharding.rule.ShardingRule` and checking the configurations?

[2022-07-26 03:54] csonezp commented on #19478
These sql contain reserved words, and return error is expected.
Do you mean the error information is wrong?
@ruanyg

[2022-07-26 03:55] pengdafu commented on #19422
Using ZK is OK, only ETCD as registry is a problem, you said that supporting ETCD as registry is not quite correct.

[2022-07-26 03:55] #19422 closed

[2022-07-26 03:57] mingyifei commented on #19478
If the MySQL client can query, it should be consistent with it.

[2022-07-26 04:10] Siddhant-K-code commented on #19536
👋 from Gitpod

Yeah, It's an Open Source Product, with Support of multiple IDEs like IntelliJ & faster prebuilds with much lesser pricing

Read More: [Gitpod vs Codespaces](https://www.gitpod.io/vs/github-codespaces)

---

@Swastyy @linghengqian You Can Test out the Gitpod Configuration Setup on our fork: https://gitpod.io/#https://github.com/gitpod-forks/apache-shardingsphere

[2022-07-26 04:51] taojintianxia opened #19547 "Refactor the document for Integration Test"
please assign to me

[2022-07-26 05:02] strongduanmu commented on #19547
Assigned.

[2022-07-26 06:19] linghengqian opened #19560 "The scroll bar of the table of contents of the mobile page of the document is invalid"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-26 06:22] linghengqian commented on #19560
I'm not sure if this issue belongs to https://github.com/apache/shardingsphere or https://github.com/apache/shardingsphere-doc .

[2022-07-26 06:23] PeiMouRen commented on #19541
![image](https://user-images.githubusercontent.com/46043280/180937600-8a14c784-aa0b-4851-b129-e486b4d88a7c.png)
As you can see, the configuration is read, but it does not take effect。

[2022-07-26 06:44] strongduanmu opened #19562 "Consider refactoring SQLParserTestCases to avoid excessive line counts"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

Currently, the SQLParserTestCases class adds a row for each additional SQL parsing, which results in the class having too many rows. Therefore, we need to refactor SQLParserTestCases to reduce unnecessary logic to improve the maintainability of the SQLParserTestCases class.

https:

[2022-07-26 07:00] TeslaCN commented on #19512
`org.apache.shardingsphere.db.protocol.mysql.codec.MySQLPacketCodecEngine` is also used by ShardingSphere Scaling. It might change a lot of codes to fix this issue.

[2022-07-26 07:15] strongduanmu commented on #19423
@marker-wu Can you try the latest version? I can not reproduce this exception with master branch.

[2022-07-26 07:19] TeslaCN opened #19566 "Cannot bench ShardingSphere-Proxy PostgreSQL by pgbench"
## Bug Report

### Which version of ShardingSphere did you use?

master - ed2025c84518de8a39dd015a55a1119e79828373

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

pgbench worked.

### Actual behavior

[code]

[code]

About pgbench https://www.postgresql.org/docs/current/pgbench.html

[2022-07-26 07:52] ruanyg commented on #19478
They can execute correctly when connect to mysql directly without proxy, the behaviors between mysql and proxy are inconsistent.

[2022-07-26 09:09] strongduanmu commented on #15818
Fixed by #15917.

[2022-07-26 09:09] #15818 closed

[2022-07-26 09:33] #18478 closed

[2022-07-26 09:39] dissdic commented on #15134
for some reason,the format in the view got messed up.
**here is the stacktrace info I got :**
[code]
for setting values in to a SQL,we used the setValues(PreparedStatement ps) in PreparedStatementSetter,as you can see in the image below:

![image](https://user-images.githubusercontent.com/42462093/180973912-d5499409-7b79-4f4b-bf7b-de03a172d483.png)

**and the implementation of this abstract method

[2022-07-26 09:54] zjcnb opened #19579 "IllegalStateException occurred when CREATE SHADOW ALGORITHM"
## Bug Report

### Which version of ShardingSphere did you use?

master https://github.com/apache/shardingsphere/commit/20fbf141f7057f593af7742878c562f3e7273991

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`CREATE SHADOW ALGORITHM ` successful

### Actual behavior

[code]

[code]

[2022-07-26 09:58] #19560 closed

[2022-07-26 09:59] strongduanmu opened #19580 "Consider adapting the SQL Federation feature for openGauss databases"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

Currently, ShardingSphere uses Calcite JDBC to implement the SQL federation feature, and provides basic support for MySQL and PostgreSQL database. Due to the importance of the openGauss database, we decided to adapt the SQL federation feature to the openGuass database. In order to

[2022-07-26 15:39] zhangchuangcheng0807 commented on #19375
thanks, I will continue to pay attention to this function and look forward to the new version to provide a better solution.

[2022-07-26 16:21] zjcnb opened #19583 "`DROP DB_DISCOVERY HEARTBEAT` throws error prompts"
### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/a5e6b52a4d7ec8f449af6e304936c40b521bc79a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Correct error message

### Actual behavior

Wrong message

[code]

[2022-07-26 16:25] zjcnb opened #19584 "NPE occurred when drop database database_discovery_db"
## Bug Report

### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/a5e6b52a4d7ec8f449af6e304936c40b521bc79a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Stop heartbeat job

### Actual behavior

Not stop heartbeat job

[code]

First : ShardingSphere-Proxy start up s

[2022-07-26 16:55] linghengqian commented on #19535
- Formatting the log in markdown will make it readable, the log is too long.

- Is it normal if you switch `order_item_2019.*` to more specific fields?  Subquery joins are being handled in a SQL Federation related issue.  This issue is a duplicate of https://github.com/apache/shardingsphere/issues/8284 .

[2022-07-26 17:12] RaigorJiang commented on #19290
<img width="799" alt="image" src="https://user-images.githubusercontent.com/5668787/181068507-d39951ab-a7d2-4541-a9a3-4d7f872d2bf9.png">

Version 5.1.2, I can't reproduce the problem you described.

[2022-07-26 19:53] sgunadhya commented on #19099
Could someone please throw light on the issue here? I cannot understand what the problem with the configuration is.

[2022-07-26 20:01] sgunadhya commented on #18914
What should be the behavior when the value is not set?

[2022-07-27 00:44] strongduanmu commented on #17678
Because we have refactor findNotContainsNullLiteralsExpression method to private method, so I will close this issue.

[2022-07-27 00:44] #17678 closed

[2022-07-27 01:09] Bingai077 commented on #19290
Please create more logical databases, I mean other logical databases disappear, `ds` will not disappear.

[2022-07-27 02:17] RaigorJiang commented on #19290
OK, I understand.
The problem has been fixed in the master branch. You can build Proxy from master, or refer to this issue  #19461.

[2022-07-27 02:50] PeiMouRen commented on #19541
![image](https://user-images.githubusercontent.com/46043280/181150138-5bd96f9a-c51b-42c7-bf07-61aca97f8e1d.png)
This method is not called when executing INSERT, can someone help to solve this problem？

[2022-07-27 03:54] strongduanmu commented on #15824
Fixed by #19502.

[2022-07-27 03:54] #15824 closed

[2022-07-27 03:54] strongduanmu commented on #15823
Fixed by https://github.com/apache/shardingsphere/pull/19502.

[2022-07-27 03:54] #15823 closed

[2022-07-27 03:56] qlql489 opened #19592 "sharding proxy benchmark"
## Question

Does sharding proxy has the benchmark or stress test data，I want to know how many TPS or connection can the proxy carry

[2022-07-27 05:17] sunkai-cai commented on #15824
Thanks @strongduanmu review code of #19502 , this issue has been completed.

[2022-07-27 05:17] lushaorong commented on #15717
I'm a little confused. There are already a class `SPIBasedShardingRawYamlConfigurationExample`  in sub-module `spi-based-sharding-raw-jdbc-example` and a user-defined sharding algorithm and configure it using SPI. So what can I do?

[2022-07-27 05:17] sunkai-cai commented on #15823
Thanks @strongduanmu review code of #19502 , this issue has been completed.

[2022-07-27 05:18] lushaorong commented on #15717
I'm a little confused. There are already a class SPIBasedShardingRawYamlConfigurationExample in sub-module spi-based-sharding-raw-jdbc-example and a user-defined sharding algorithm and configure it using SPI. So what can I do?

[2022-07-27 05:33] caol64 opened #19594 "COUNT( 1 ) Spaces ERROR with H2 database"
This issue is similar to https://github.com/apache/shardingsphere/issues/2036.

I used H2 and sharding-jdbc for unit tests. When the "COUNT SQL" has spaces between brackets, Errors will occur.

SQL example:
SELECT COUNT( 1 ) FROM table;

Error:
Can't find index: AggregationProjection(type=COUNT, innerExpression=( * ), alias=Optional.empty, databaseType=org.apache.shardingsphere.infra.database.type

[2022-07-27 05:36] strongduanmu commented on #19594
@caol64 Thank you for your feedback, I will check this issue.

[2022-07-27 06:01] LeeGuoPing commented on #19562
May I have a try

[2022-07-27 06:02] strongduanmu commented on #19562
@LeeGuoPing Welcome.

[2022-07-27 06:02] Bingai077 commented on #19290
Okay, thank you！

[2022-07-27 06:02] tuichenchuxin commented on #19465
Because of the keyword rank. It can't be supported by mysql 8 .So I think it's no need to be supported. It's same as #13759

[2022-07-27 06:02] #19465 closed

[2022-07-27 06:35] FlyingZC commented on #19566
I want to investigate the issue,how can I reproduce this problem,execute the command `pgbench` directly on the proxy?

[2022-07-27 06:40] TeslaCN commented on #19566
@FlyingZC Welcome. This issue is related to https://github.com/apache/shardingsphere/pull/11545

[2022-07-27 06:44] FlyingZC commented on #18207
Can you give me a simple runnable demo to investigate this issue,thank you.

[2022-07-27 07:04] #19547 closed

[2022-07-27 08:01] #17173 closed

[2022-07-27 08:40] lxx-sample commented on #16156
+1

[2022-07-27 08:48] #19290 closed

[2022-07-27 09:11] #19440 closed

[2022-07-27 09:13] #17396 closed

[2022-07-27 11:02] sora91s opened #19606 "shardingsphere proxy support 'show processlist' in standalone mode"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

no

### Describe the fea

[2022-07-27 11:09] silversteak opened #19607 "ComboPooledDataSource not compatible with apache shardingsphere"
## ComboPooledDataSource not compatible with apache shardingsphere.

I am currently trying to implement shardingshpere in my current company's codebase. Previously created an example project using HikariDataSource and it worked fine.

Now in companies code base uses c3p0.ComboPooledDataSource as datasource. So when am trying to create shardingshphere datasource using this datasource its failing.

[2022-07-27 13:17] xuup commented on #18528
Hi, I hava two thoughts on this issue.
1. redirect request to real database for execution, and get response from database.
2. @@sql_mode represent mode of database  as mysql,
[code]
represent some modes supported by the database. I think the mode should be provided  by ShardingSphere-Proxy better than database .  So, Is it necessary to add the mode configuration supported by ShardingSphere ?
I won

[2022-07-27 13:26] terrymanu commented on #19592
FYI: https://shardingsphere.apache.org/document/current/en/test-manual/performance-test/

[2022-07-27 15:30] terrymanu opened #19612 "Remove spring dependency in shardingsphere-integration-test-scaling"
There is JDBCTemplate class using in shardingsphere-integration-test-scaling which is unnecessary.
Please use raw JDBC to access database and keep the module's dependency more simple.

[2022-07-27 15:32] taojintianxia commented on #19612
please assign to me

[2022-07-27 15:35] terrymanu opened #19613 "Use `test_user` instead of `root` in test cases"
It is better to avoid use root user for test cases.
Use minimum authority to complete test cases are good practice.

The IT test cases had already create default `test_user` in each database docker container. Please use it as the test case user.

The tasks are:

- [ ]  Remove DockerStorageContainer.getRootUsername(), just use `getNormalUsername` method
- [ ] Remove useRootUsername parameter in Doc

[2022-07-27 15:35] RaigorJiang commented on #15717
Hi @lushaorong
For `spi-based-sharding-algorithm-example`, there is just a `RawYamlConfigurationExample`  ([link](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/spi-based-sharding-algorithm-example/spi-based-sharding-raw-jdbc-example/src/main/java/org/apache/shardingsphere/example/

[2022-07-27 15:36] taojintianxia commented on #19613
please assign to me

[2022-07-27 15:37] terrymanu opened #19614 "Show backend log for proxy in shardingsphere-integration-test-suite"
It is better to show error logs when proxy error in module shardingsphere-integration-test-suite

Please ref shardingsphere-integration-test-scaling to show error log.

[2022-07-27 15:38] taojintianxia commented on #19614
please assign to me

[2022-07-27 17:12] zhaokjun commented on #12532
I have the same problem,version 5.1.2，so I realy want to know when the 5.1.3 will be released ? thanks.

[2022-07-28 00:05] terrymanu opened #19615 "Merge all atomic container into shardingsphere-integration-test-env module"

[2022-07-28 00:14] taojintianxia commented on #19615
please assign to me

[2022-07-28 01:27] #18755 closed

[2022-07-28 02:01] taojintianxia commented on #19524
since this is a default behavior for test image, just add the document for this : https://shardingsphere.apache.org/document/current/cn/test-manual/integration-test/

should we close this issue ?

[2022-07-28 03:11] taojintianxia commented on #19613
start from MySQL. as mentioned on MySQL docker hub document, mysql image provided the way to define customized user like following usage :

`MYSQL_USER`, `MYSQL_PASSWORD`
These variables are optional, used in conjunction to create a new user and to set that user's password. This user will be granted superuser permissions (see above) for the database specified by the MYSQL_DATABASE variable. Both v

[2022-07-28 03:40] liujia13142324 commented on #19478
I also meed the same problem in ShardingSphere-JDBC, because the column name such as rank is defined in the table. If I remove the rank column from the query, ShardingSphere-JDBC can work normally.
(在ShardingSphere-JDBC中我也碰到了同样的问题，因为表中定义了rank这样的列名。如果我在查询中去掉rank列，ShardingSphere-JDBC能正常查询)
@csonezp

[2022-07-28 03:41] liujia13142324 commented on #19478
ShardingSphere-JDBC version: 5.1.2

[2022-07-28 04:21] liujia13142324 commented on #14224
mark

[2022-07-28 04:29] terrymanu opened #19626 "Merge storage container's config file to shardingsphere-integration-test-env module"
The config file (for example: my.cnf, postgresql.conf) is in multiple modules, please merge them into shardingsphere-integration-test-env module

[2022-07-28 04:31] taojintianxia commented on #19626
please assign to me

[2022-07-28 04:31] terrymanu opened #19627 "Add registry to generate server-id automatically in my.cnf"
The `server-id` should unique in container cluster, please add a registry to record generated server-id, and assign new unique `server-id` into MySQL container.

[2022-07-28 04:32] taojintianxia commented on #19627
please assign to me

[2022-07-28 04:35] #19263 closed

[2022-07-28 05:18] #19224 closed

[2022-07-28 05:34] #19606 closed

[2022-07-28 06:06] taojintianxia commented on #19613
PG also provide the way to define user

POSTGRES_PASSWORD
This environment variable is required for you to use the PostgreSQL image. It must not be empty or undefined. This environment variable sets the superuser password for PostgreSQL. The default superuser is defined by the POSTGRES_USER environment variable.
Note 1: The PostgreSQL image sets up trust authentication locally so you may notice a

[2022-07-28 06:10] mini1798 opened #19633 "PHP connection proxy found that can not correctly query data"
## Question

When I use PHP version 5.7, the query data found not correct query.Returns the result list is empty！

sql -> select * from order where order_id in (12) and status>0 order by id desc;

Have bosses know how to solve

[2022-07-28 06:49] #19584 closed

[2022-07-28 07:03] PeiMouRen opened #19635 "5.x版本的【default datasource name】配置变更"
我有一些不需要分片的表，看FAQ说是这些表不用在rules里指定，但是查看日志，sql没有路由到正确的datasource中，4.x版本是有一个[default-datasource-name]配置来解决这个问题，5.x版本怎么解决呢？
![image](https://user-images.githubusercontent.com/46043280/181442024-e61b4584-3bcb-49d1-b655-d3291727a5e3.png)

[2022-07-28 07:05] PeiMouRen commented on #19635
![image](https://user-images.githubusercontent.com/46043280/181442557-e243a75b-ce03-4eb7-98a8-75e2d10be64b.png)

[2022-07-28 07:19] linghengqian opened #19636 "IntervalShardingAlgorithm will throw ClassCastException when shard key is String in `MM` date format"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-28 07:20] linghengqian commented on #19636
I am working on this issue.

[2022-07-28 07:29] Bingai077 commented on #19461
@RaigorJiang Can you provide a repaired Helm Chart package?

[2022-07-28 07:43] strongduanmu opened #19639 "SHOW TABLES get wrong result when I drop sharding table rule"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/7ee0d0baa3143ae35807733e9359567e2cacbd93

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

SHOW TABLES return actual tables when I drop sharding table rule.

[code]

### Actual behavior

[code]

### Reason analyze

[2022-07-28 07:49] tuichenchuxin opened #19641 "Use spi to split data type loader."
## Feature Request

### Is your feature request related to a problem?
No
### Describe the feature you would like.
`DataTypeLoader` can get data types. But sometimes it's not enough to use. So we have to handle different database, and add some missing data types. So it's need to be a spi to load for different database.

[2022-07-28 08:06] taojintianxia commented on #19613
seems that there is already a way to init test_user through `00-init-authority.sql`
will Remove DockerStorageContainer.getRootUsername(), just use getNormalUsername method
will Remove useRootUsername parameter in DockerStorageContainer's constructor

[2022-07-28 08:11] strongduanmu commented on #19635
Please translate this issue to English.

[2022-07-28 08:17] #19635 closed

[2022-07-28 08:24] PeiMouRen opened #19645 "[Proxy 5.1.2]Non-sharded tables are not automatically recognized"
I have three data sources:ds0、ds1、ds2，there are also non-sharded tables(like t_test) in ds2, but when i select t_test, shardingsphere-proxy routed to the ds0 or ds1, It's not routed to ds2, why is that?
Proxy:5.1.2
mode:cluster with zookeeper
Is already contained t_test in the metadata.

[2022-07-28 08:31] #19639 closed

[2022-07-28 08:39] TeslaCN commented on #18942
Close due to no response. I assume that this issue is caused by configuration and version unmatched.

[2022-07-28 08:39] #18942 closed

[2022-07-28 08:50] #19641 closed

[2022-07-28 09:13] strongduanmu opened #19647 "Unknown database exception occurs when execute PREVIEW statement with uppercase database name"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/55a2123ed5ff9516ea29b204514e675a170ecc9c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `PREVIEW SELECT * FROM ASW_DEPS WHERE BU_CODE = 'WTCMY'` successfully.

### Actual behavior

[code]

### Reason ana

[2022-07-28 09:21] windghoul commented on #19461
hi @Bingai077
you can use ` helm pull ` to pull helm package, and modify the image tag value in values.yaml .Just can fix the problem

[2022-07-28 09:23] TeslaCN opened #19648 "Integration tests occasionally stuck in waiting for container ready"
## Bug Report

### Which version of ShardingSphere did you use?

master - 9284c595a727ca70b845ad7ec4792cc549db7fa7

ShardingSphere-Proxy integration tests

Maybe this is similar to
- https://github.com/apache/shardingsphere/runs/7552873261?check_suite_focus=true
- https://github.com/apache/shardingsphere/runs/7588376370?check_suite_focus=true

### Environment

[code]

### Expected behavior

Tests

[2022-07-28 09:24] azexcy opened #19649 "Use Jdbc to connect ShardingSphere-Proxy will failed when use MySQL 8"
## Bug Report

When the MySQL database version is 8.x and use jdbc to connect, will thrown exception. `SQLException: Unknown system variable 'query_cache_size'`.

the error log:
[code]

### Which version of ShardingSphere did you use?

master 4e20f6a67c7574b9b0b224858ea991032dd3bea0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected beh

[2022-07-28 09:31] TeslaCN commented on #19649
This may be similar to #18482.

[2022-07-28 09:33] azexcy commented on #19649
Ok, thanks

[2022-07-28 09:33] #19649 closed

[2022-07-28 09:53] yx9o commented on #19583
Hi @zjcnb , there is indeed a problem here, there are plans to improve it, reference: #18811.

[2022-07-28 09:57] TeslaCN commented on #19648
It seems that the thread is stuck in a dead loop.

![image](https://user-images.githubusercontent.com/20503072/181478003-d5d6dffa-c139-472f-b625-1edeae11c57b.png)

![image](https://user-images.githubusercontent.com/20503072/181478265-825d0151-b8a4-4d13-b53b-82ab14099069.png)

[2022-07-28 10:06] PeiMouRen commented on #19541
**Environment:**
jdk:1.8
spring boot:2.6.4
shardingsphere-jdbc:5.1.2
postgresql:12.6
---
**spring boot config:**
[code]
---
**DDL:**
[code]
---
**sql:**
[code]
---
**error:**
Because no order_id was generated.
this error disappeared when I switched the data source to mysql.
[code]

[2022-07-28 10:28] #19647 closed

[2022-07-28 11:17] zjcnb commented on #14868
The example are in transaction. If you route slave node, you can set TRANSACTION_RANDOM for load balance algorithm. So, i close this issue.

[2022-07-28 11:17] #14868 closed

[2022-07-28 11:27] #18528 closed

[2022-07-28 12:01] panqizhen commented on #19424
But i can not remove STRICT_TRANS_TABLES

[2022-07-28 12:47] terrymanu opened #19654 "Use connection pool for JDBCRepository"

[2022-07-28 13:00] terrymanu opened #19655 "Redesign JDBCRepository and H2Repository"
There are lots of different between SQL dialects, such as `create table`.
We need do more design of JDBCRepository and H2Repository.

1. It is better to refactor JDBCRepository as final class, and use JDBCRepositoryProvider as interface.
2. H2JDBCRepositoryProvider and other database dialect can implements JDBCRepositoryProvider and import as SPI.
3. There are lots of method need to be designed in

[2022-07-28 13:12] panqizhen commented on #14845
I had not find the prop "- !SINGLE" in the doc, how did you know this

[2022-07-28 15:48] RaigorJiang commented on #19583
Yes, so let me close this issue and please follow #18811 for updates.

[2022-07-28 15:48] #19583 closed

[2022-07-28 16:12] #19636 closed

[2022-07-28 17:34] #15711 closed

[2022-07-28 17:37] RaigorJiang commented on #19375
Fixed in #19399.

[2022-07-28 17:37] #19375 closed

[2022-07-28 17:40] RaigorJiang commented on #19375
Hi @zhangchuangcheng0807
After this PR #19399 is merged, you can configure it like this:
[code]
which means user `proxy@%` can access all databases.

[2022-07-28 17:44] RaigorJiang commented on #19633
Hi @mini1798
Thank you for your feedback, but please use the issue template to ask questions.
Including providing information such as the `version` and `configuration` you used, and also the table structure, preferably including a way to reproduce the issue, so that you can get better help.

[2022-07-28 17:49] RaigorJiang commented on #19645
Thanks for your feedback.
No one else has encountered this problem. It may be caused by a certain configuration. Can you provide your configuration for analysis?

[2022-07-28 23:59] TeslaCN commented on #19541
Thanks for your input, we will check this.

[2022-07-29 00:12] zhangchuangcheng0807 commented on #19375
thanks, I will test the new version as soon as it is released.

[2022-07-29 01:46] TeslaCN commented on #19648
https://github.com/square/okio/issues/1133

[2022-07-29 02:13] Bingai077 commented on #19461
@windghoul
I tried this approach, but the logical database connection failed after Helm started. Docker does not. The older version (5.1.2) of Helm won't either. Is everything okay with you?
![image](https://user-images.githubusercontent.com/51192624/181667393-69ad322a-042b-4a01-b506-201b59c9f993.png)

[2022-07-29 02:26] TeslaCN commented on #19541
I modify the example https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example to adapt PostgreSQL and run it. But the key generator worked.

Changes:
[code]

[2022-07-29 02:43] strongduanmu commented on #19541
Hi @PeiMouRen, can you check your config file in user home `.shardingsphere` dirctory? It may be caused by old config.

[2022-07-29 02:55] TeslaCN opened #19664 "Failed to run shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example"
## Bug Report

### Which version of ShardingSphere did you use?

master - 0c61163f4ea061976150398bcef324db4aae5a93

### Example codes for reproduce this issue (such as a github link).

https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example

### Expected behavior

Example worked properly.

[2022-07-29 03:02] TeslaCN opened #19667 "Complete unit test for MySQLAdminExecutorCreator"
## Unit tests

Related to https://github.com/apache/shardingsphere/pull/19638.

Complete the unit test https://github.com/apache/shardingsphere/blob/b6fa71fc0b202be70f347b164e0c5bc22bec7c0a/shardingsphere-proxy/shardingsphere-proxy-backend/src/test/java/org/apache/shardingsphere/proxy/backend/handler/admin/mysql/MySQLAdminExecutorCreatorTest.java to make it cover all lines in `MySQLAdminExecutorCr

[2022-07-29 03:15] PeiMouRen commented on #19541
I think the problem has to do with the schema of PG,because my table is placed under the new schema, instead of the default public schema, we can see someinformation with DEBUG, the `generatedKeyContext`is null,because the `shema` does't contain any tables.
![image](https://user-images.githubusercontent.com/46043280/181675110-31c3350f-5632-4a0c-bcf5-3d5b40a4fcf1.png)

![image](https://user-images.

[2022-07-29 03:22] PeiMouRen commented on #19541
When I put the table into the default schema(`public`), distributed primary keys were generated normally.

[2022-07-29 03:25] strongduanmu commented on #19541
@PeiMouRen Yes, currently ShardingSphere only supports specifying schema in SQL, otherwise the default public schema is used. You can try to specify schema in SQL to solve this problem.

[2022-07-29 03:31] luoyexiaoran commented on #18949
`rules:
  - !SHARDING
    # 配置分片规则
    tables:
      # 配置商户汇总表cc_restaurant_collect_data规则
      cc_restaurant_collect_data:
        actualDataNodes: ds0.cc_restaurant_collect_data$->{2020..2022}0$->{1..9},ds0.cc_restaurant_collect_data$->{2020..2022}1$->{0..2}
        # 配置分表策略
        tableStrategy:
          standard:
            shardingColumn: collectDate
            shardingAlgorithmName: cc_

[2022-07-29 03:31] PeiMouRen commented on #19541
ok,the problem is solved when i specifying the schema in sql!!!
May I ask again if ShardingSphere plans to make adjustments to this problem?

[2022-07-29 03:36] strongduanmu commented on #19541
If there are no other higher priority requirements, we plan to provide support for PostgreSQL `search path` in the next release.

[2022-07-29 03:37] PeiMouRen commented on #19541
ok. thank you.

[2022-07-29 03:37] #19541 closed

[2022-07-29 03:55] FlyingZC commented on #19566
<img width="866" alt="image" src="https://user-images.githubusercontent.com/19788130/181679529-d1601685-6161-4b74-8c22-746105143d62.png">
I have reproduced this problem locally.

[2022-07-29 04:57] TeslaCN commented on #19607
Hi @silversteak
Thanks for your feedback. I'm going to check this.

[2022-07-29 05:17] huangdx0726 commented on #19667
I will work on it

[2022-07-29 05:17] TeslaCN commented on #19607
I've reproduced this issue.

[code]

[2022-07-29 05:36] TeslaCN commented on #19607
This could be fixed by implementing `DataSourcePoolMetaData` for c3p0, just like what we did for HikariCP and DBCP.

https://github.com/apache/shardingsphere/tree/master/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/datasource/pool/metadata/type

[2022-07-29 05:36] TeslaCN commented on #19607
Hi @silversteak
Are you interested in fixing this?

[2022-07-29 06:10] FlyingZC commented on #19566
<img width="711" alt="image" src="https://user-images.githubusercontent.com/19788130/181694193-b095eef1-7ca7-477d-9797-897b80ee12fb.png">

[2022-07-29 06:11] PeiMouRen commented on #19645
The problem has been solved，because I'm using the PG database，so I need to specify the schema in SQL, otherwise,the default public schema will be used.
eg:
[code]

[2022-07-29 06:11] #19645 closed

[2022-07-29 06:13] broccolik opened #19676 "Whether you plan to support to remove outage DB node automatically?"
our test,
we have two DB nodes, a master and a slave, when one of them was broken,The application is not working properly.
so,Whether you plan to support to  remove outage DB node automatically,and work properly with the left one?

[2022-07-29 06:19] #19613 closed

[2022-07-29 06:27] taojintianxia opened #19678 "Refactor the username / password in Proxy Image for IT suite"
currently the username / password in proxy test image are root / Root@123, this may confuse people with the username/password in storagecontainer.

refactor the username / password in proxy.

[2022-07-29 06:28] taojintianxia commented on #19678
please assign to me

[2022-07-29 06:59] silversteak commented on #19607
Hi @TeslaCN Yes am interested in fixing it. I will provide it soon

[2022-07-29 07:01] TeslaCN commented on #18897
There is still many work to be done to support heterogeneous data sources. This issue has been fixed by #19525. We will enhance the `getSaneResult` when we support heterogeneous data sources better.

[2022-07-29 07:01] #18897 closed

[2022-07-29 07:32] shiyuanfunc opened #19680 "Sharding-jdbc使用逻辑表 对多张物理表进行查询时，是并行的吗？还是顺序执行的？"
Sharding-jdbc使用逻辑表 对多张物理表进行查询时，是并行的吗？还是顺序执行的？

[2022-07-29 07:39] soulasuna commented on #19103
Is completed

[2022-07-29 07:39] #19103 closed

[2022-07-29 07:40] FlyingZC commented on #19566
1.When I use local transaction,the `begin; truncate...;` cannot be executed successfully,The method of `isExecuteDDLInPostgreSQLOpenGaussTransaction` reported an error;
2.When I use XA transaction,the `begin; truncate...;` cannot be executed successfully, The method of `isExecuteDDLInXATransaction` reported an error;
3.I think ss does not support DDL operations in XA transactions or pgsql/opengaus

[2022-07-29 08:03] huangdx0726 commented on #19664
I will try

[2022-07-29 08:08] TeslaCN commented on #19680
For English only.

[2022-07-29 08:10] TeslaCN commented on #19664
Hi @huangdx0726
How is https://github.com/apache/shardingsphere/issues/19667 going?

[2022-07-29 08:12] TeslaCN commented on #19676
Have you tried the HA of ShardingSphere?
https://shardingsphere.apache.org/document/current/en/features/ha/

[2022-07-29 08:17] xuup commented on #9013
Hi, I am interested in it, could you please assign this issue to me 🙋‍♂️ ?

[2022-07-29 08:20] huangdx0726 commented on #19664
I will submit PR tonight

---Original---
From: ***@***.***&gt;
Date: Fri, Jul 29, 2022 16:10 PM
To: ***@***.***&gt;;
Cc: "Da Xiang ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] Failed to runshardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example(Issue #19664)

Hi @huangdx0726
 How is #19667 going?

—
Reply to this email directly,

[2022-07-29 09:37] TeslaCN commented on #19566
Throwing TableModifyInTransactionException is because PostgreSQL can rollback DDL like the following:
[code]
But ShardingSphere's meta data cannot be rollback.
If `truncate` won't change the meta data, may be we could allow it could be executed in transaction.

[2022-07-29 09:42] tuichenchuxin opened #19691 "Enhancement test for kernel"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No

### Describe the feat

[2022-07-29 09:44] natehuangting opened #19693 "Read-write split configuration supports Cartesian product"
## Feature Request

### Describe the feature you would like.

I recently found that I need to configure a lot when configuring read-write separation.
For example, the following configuration, there are only two, if there are 100, then the configuration file is very large

[code]

So I want to optimize this configuration by cartesian product. The optimized configuration is as follows.
[code]

[2022-07-29 09:51] TeslaCN commented on #17308
Hi @wsg96321
We cannot reproduce this issue.

Some connection leak issues are fixed, such as:
- https://github.com/apache/shardingsphere/issues/18634
- https://github.com/apache/shardingsphere/issues/18734

[2022-07-29 09:51] #17308 closed

[2022-07-29 10:13] FlyingZC commented on #19566
I will try.

[2022-07-29 12:02] Swastyy commented on #19664
Can I try this?

[2022-07-29 14:48] #19680 closed

[2022-07-29 15:00] #19449 closed

[2022-07-29 15:05] RaigorJiang commented on #19645
ok, your feedback is important, thank you!

[2022-07-29 23:45] #19678 closed

[2022-07-30 01:29] #18904 closed

[2022-07-30 02:19] TeslaCN commented on #19664
@Swastyy welcome.

[2022-07-30 03:09] Luckyangle opened #19705 "Insert statement does not support sharding table routing to multiple data nodes"
## Description

I want to sharding table t_order and t_order_item following the configuration of the shardingsphere document, it works when only sharding table t_order, but after adding table t_order_item and run the code it prompt an Exception, and the configuration of table t_order_item is almost the same as table t_order,  they just can't word together.

Here is my configuration:
[code]

### Wh

[2022-07-30 04:07] lushaorong commented on #15717
Hi @RaigorJiang
Maybe I can also refer to [ShardingSphere-JDBC > Java API](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/java-api/) . Am I right?

[2022-07-30 06:50] strongduanmu commented on #19705
@Luckyangle Thank you for your feedback. What is the parameters?

[2022-07-30 07:12] TeslaCN opened #19708 "Prevent MockitoJunitRunner.Silent from unit tests"
## Code of Conduct

According to Mockito's code, Silent is not recommended to use in tests.

[code]

[2022-07-30 07:29] Luckyangle commented on #19705
Thank you, the problem is when I execute insert statement only for table t_order it can pass and the table sharding  is correct, when executing insert statement for table t_order_item, then throw the exception above. Do you need the SQL file?

[2022-07-30 07:39] Luckyangle commented on #19705
[sharding_sphere.zip](https://github.com/apache/shardingsphere/files/9225618/sharding_sphere.zip)

[2022-07-30 07:42] strongduanmu commented on #19705
@Luckyangle Thanks a lot for the demo, I will try to reproduce the problem.

[2022-07-30 07:55] linghengqian commented on #18901
I feel like this issue is a duplicate of https://github.com/apache/shardingsphere/issues/19607.

[2022-07-30 08:28] #19708 closed

[2022-07-30 08:56] Luckyangle commented on #19705
I finally found the bug on the configuration file, t_order_item's shardingAlgorithmName is wrong, sorry for troubling.

[2022-07-30 09:16] strongduanmu commented on #19705
@Luckyangle So, can you close this issue now?

[2022-07-30 09:19] Luckyangle commented on #19705
Sure, close it now.

[2022-07-30 09:20] #19705 closed

[2022-07-30 11:58] zjcnb opened #19713 "`SQL_PARSER` configuration shouldn't persist metadata node when use `ShardingSphere-JDBC` cluster mode"
### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/a696de87196885f532b07c9a5b5c2b2bc95c8e06

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

`SQL_PARSER` configuration shouldn't persist metadata node when use `ShardingSphere-JDBC` cluster mode

### Actual behavior

per

[2022-07-30 12:01] zjcnb commented on #19713
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/33742097/181909861-df35a76d-fff0-4879-9816-0b2c76b46335.png">

[2022-07-30 12:29] zhaojinchao95 opened #19714 "NPE occurred when execute `REFRESH TABLE METADATA t_order FROM RESOURCE ds_1`"
### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/a696de87196885f532b07c9a5b5c2b2bc95c8e06

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

[code]

[code]

[2022-07-30 12:38] zhaojinchao95 opened #19715 "`CoordinatorRegistryCenterInitializer` IllegalArgumentException occurred when use `etcd`"
### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/a696de87196885f532b07c9a5b5c2b2bc95c8e06

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

[code]

[2022-07-30 13:50] RaigorJiang commented on #15717
Of course, the documentation can help you understand what the configuration item means.

[2022-07-31 08:17] marker-wu commented on #19423
I tried the latest version and it still doesn't work
The problem seems to be in the assignment of tableDataNode.prefix, the correct value should be t_order
![image](https://user-images.githubusercontent.com/45256940/182016574-fe7dcc12-cbb8-43d9-863d-edfe5f5c8cd8.png)

here are my physical table，Did you test with the same scene as I did?
![image](https://user-images.githubusercontent.com/45256940/1

[2022-07-31 08:18] #18995 closed

[2022-07-31 08:22] strongduanmu commented on #19423
Why not use `t_order_00`, `t_order_01`?

[2022-07-31 08:24] marker-wu commented on #19423
I divided the table according to multiple fields
![image](https://user-images.githubusercontent.com/45256940/182017372-d51e5d79-a548-4355-94f5-14a6b52e0876.png)

[2022-07-31 08:39] marker-wu commented on #19423
It should be a problem with this regex，can I fork it and fix it?
![image](https://user-images.githubusercontent.com/45256940/182017651-9290fe1c-17f6-4213-9f46-7fa27b4eea7d.png)