[2021-12-01 09:29] agzou commented on #13884
**Shardingsphere will read table metadata from database
if drop statmet not use "IF EXISTS",**

close issue!!

[2021-12-01 09:29] #13884 closed

[2021-12-01 09:31] marker-wu commented on #13343
where is the source code of the java type assignment for stream merging? The screenshot is the java type assignment of memory merging

[2021-12-01 09:54] marker-wu commented on #13869
Why is there no follow-up?

[2021-12-01 10:26] warriorsliuz commented on #13880
`
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0</version>
        </dependency>
`

[2021-12-01 10:35] #13641 closed

[2021-12-01 10:44] strongduanmu commented on #13869
@marker-wu Sorry for late reply. ShardingComplexRoutingEngine cannot handle cross-database queries, it can only query the data in the same database according to the Cartesian product.

[2021-12-01 10:55] strongduanmu commented on #13881
Hi @JWJ32, can you try the latest 5.0.0 version? We have made a lot of optimizations.

[2021-12-01 11:04] strongduanmu commented on #13879
Hi @DreamPWJ, thank you for your feedback. The parsing engine is the foundation of Apache ShardingSphere, and all functions depend on the results of the parsing, so parsing cannot be skipped.

If you have requirements, you can manage sharding tables and other tables in the business layer by configuring multiple data sources.

[2021-12-01 11:08] majiajue commented on #9584
tks

[2021-12-01 11:42] yeruilong commented on #13873
The following are the main Class

1、
@Configuration
@MapperScan(basePackages = "com.xx.cloud.uc.admin.mapper", sqlSessionFactoryRef = "sqlSessionFactory")
public class DataSourceConfig {

    @Resource
    @Qualifier("shardingDataSource")
    private DataSource dataSource;

    @Bean
    public DataSourceSwitch dataSourceSwitch() {
        Map<Object, Object> targetDataSources = new HashMap<>();

[2021-12-01 11:58] #13632 closed

[2021-12-01 13:01] #13835 closed

[2021-12-01 13:45] legendyman commented on #13554
this is my configuration,
![image](https://user-images.githubusercontent.com/95357724/144244835-53c18649-8db3-4eda-bd00-298eb5915361.png)
in this configuration, i have excluded druid data source configuration in springboot runner class.
the issue is :
![image](https://user-images.githubusercontent.com/95357724/144245309-95c95074-ffa8-4b4b-9fb3-8498af79e0d3.png)
thank you

[2021-12-01 14:01] legendyman opened #13887 "using shadingjdbc5.0.0 ,there is a problem about No qualifying bean of type 'org.apache.shardingsphere.infra.config.mode.ModeConfiguration' available: expected at least 1 bean which qualifies as autowire candidate. Dependency annotations: {}"
in my application, i use springboot 2.3.2、 shardingjdbc5.0.0 and mybatisplus 3.4.0.
![619335CA-9B83-42f0-9190-FC086E4B0EF8](https://user-images.githubusercontent.com/95357724/144247635-9946dc24-1fed-4d6d-b836-00eb13bf5fc9.png)
this is my configuration,
in my configuration, i use druid data source , i also have excluded druid data source in springboot runner class.
when the application starting, th

[2021-12-02 00:25] DreamPWJ commented on #13879
@strongduanmu
Configuring multiple data sources adds to our transformation and maintenance costs, and we now only have two tables to shard, which can be specified and then parsed if possible

[2021-12-02 00:27] DreamPWJ commented on #13879
When most people use Shardingsphere, it means that the project is already very large, rather than a new project, and the transformation cost is very large. Hopefully

Shardingsphere can reduce the transformation cost and better access to the project. Is there any plan for this in the future?

[2021-12-02 00:31] strongduanmu commented on #13879
How to distinguish between sharding and non-sharding tables? Do you still need sql parsing, and then know whether to include a sharding table based on the parsing result?

[2021-12-02 02:34] tuichenchuxin commented on #13887
@legendyman You can refer to this [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-sample/shardingsphere-jdbc-sample/shardingsphere-jdbc-memory-example/shardingsphere-jdbc-memory-local-example/shardingsphere-jdbc-memory-local-sharding-example/shardingsphere-jdbc-memory-local-sharding-springboot-starter-mybatis-example/src/main/java/org/apache/shardingsphere/ex

[2021-12-02 02:55] zjcnb commented on #13887
@legendyman Hi, you can look this:

[code]

[2021-12-02 02:58] zjcnb commented on #13847
@shenmadouyaowen Ok ,  I will check it.

[2021-12-02 03:02] DreamPWJ commented on #13879
![image](https://user-images.githubusercontent.com/16730031/144349928-2798d1ab-1a54-4c7b-9312-07ade64cc108.png)
Add a switch that tells the developer whether to parse all tables or to parse specified tables

[2021-12-02 03:06] jingshanglu commented on #13873
@yeruilong It seems that the usage scenario is the same as [the issue](https://github.com/apache/shardingsphere/issues/12771) and now there are some problems with the `XA` transaction interface.

[2021-12-02 03:52] TeslaCN opened #13893 "Possibly poor performance in SQL rewrite"
## Performance Issue

### Which version of ShardingSphere did you use?
ShardingSphere master 753995d257d5803cc61e4abda2870978f506c3af

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere JDBC

## Environments
- 128 cores (aarch64) running BenchmarkSQL + ShardingSphere JDBC
- 128 cores (aarch64) openGauss
- 128 cores (aarch64) openGauss
- 128 cores (aarch64) o

[2021-12-02 04:03] RaigorJiang commented on #13876
This is because the port is not saved in metadata, which can only be obtained in the registry.
@menghaoranss  please help to see if this value can be added to metadata?

[2021-12-02 04:08] #13854 closed

[2021-12-02 04:12] #13827 closed

[2021-12-02 04:33] userkdg commented on #8650
+1
I want execute some batch update by proxy, but it failed.

[2021-12-02 05:58] Hachiko-JQ opened #13896 "How to set the default data source in version 5"
## Question
spring.shardingsphere.sharding.default-data-source-name=

This cannot be set in version 5

[2021-12-02 06:02] zjcnb commented on #13847
Hi, I try test it. but i not found problem. this is my demo projec
[ss-example.zip](https://github.com/apache/shardingsphere/files/7639380/ss-example.zip)
t.

[2021-12-02 06:02] strongduanmu commented on #13896
Hi @Hachiko-JQ, you can try the new feature sql hint in master branch.

[2021-12-02 06:18] lanchengx commented on #13896
Hi @Hachiko-JQ, In Proxy `CREATE DEFAULT SINGLE TABLE RULE`  statement is an alternative to `default-data-source-name`, please refer to this [link](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/single-table/)

[2021-12-02 06:44] userkdg commented on #13615
+1
shardingshpere-proxy had batch CRUD Bug , too!

[2021-12-02 06:46] #13875 closed

[2021-12-02 06:59] songyuequan commented on #10970
I will start soon

[2021-12-02 07:01] dachuan9e commented on #13876
The port is necessary for some case. Please consider it.

[2021-12-02 07:10] qiuweilu commented on #13851
SELECT *
FROM (SELECT cmnt_tab.*,
             count(cmnt_tab.cmnt_id)  vote_num,
             vote_bind_tab.bind_fkid  vote_bind,
             vote_bind_tab.vote_label vote_label
      FROM (
            SELECT base_cmnt.*
            FROM part_cmnt base_cmnt
            WHERE base_cmnt.part_fkid = ?  #-- 1 Sub table foreign key
            ORDER BY base_cmnt.cmnt_id DESC
            LIMIT 2000)

[2021-12-02 07:18] shenmadouyaowen commented on #13847
Thank you very much. I'll try again

[2021-12-02 07:18] #13847 closed

[2021-12-02 07:55] RaigorJiang commented on #13851
@strongduanmu , Please help to see, thank you~

[2021-12-02 07:57] strongduanmu commented on #13851
@RaigorJiang Thank you for your remind, I will track it.

[2021-12-02 07:58] strongduanmu commented on #13851
Hi @qiuweilu, can you provide your sharding configuration and exception info? Judging from the information that you provided, I cannot reproduce the problem quickly.

[2021-12-02 08:13] strongduanmu opened #13900 "Consider support union and union all statements in sharding feature"
## Feature Request

Currently, union and union all statements only support single tables, which limits the user's usage scenarios, so we hope to support union and union all statements in sharding scenarios. For each subquery in the union and union all statements, if it can be routed to the same shard, it is supported by the simple push down engine, otherwise it is supported by the federation execu

[2021-12-02 09:16] zjcnb opened #13902 "Adjust discovery api feature."
Hi community,

After discussion, it final discovery module api can be refer to  #13800

`task list :`

- [x] Change discovery api, support ShardingSphere-Proxy.
- [x]  Change discovery api, support springboot.
- [x] Design DistSQL about new discovery api.
- [x] Move job to `shardingsphere-db-discovery-core` module.
- [x] Adjust `shardingsphere-db-discovery-mgr` and `shardingsphere-db-discovery-ope

[2021-12-02 09:26] strongduanmu commented on #13441
Currently, the split of infra-executor has been completed, I will close this issue. The mpp executor discussed in the issue will be tracked in a other issue later.

[2021-12-02 09:26] #13441 closed

[2021-12-02 09:27] lanchengx commented on #11994
🥷

[2021-12-02 09:32] strongduanmu opened #13903 "Consider support update sharding key when the sharding routing result keep the same"
## Feature Request

Now, when a user executes an update set statement on a sharding table, the update sharding key must be consistent with the sharding key in the where condition, otherwise an exception will be thrown.

[code]

But if the routing results before and after the update have not changed, then we should support this type of update statement.

### Is your feature request related to a pro

[2021-12-02 09:41] zhfeng commented on #12771
@jingshanglu can you update with our discussion on the last meeting ? Thanks !

[2021-12-02 10:09] zjcnb commented on #13902
`New discovery api:`

[code]

[2021-12-02 10:10] zjcnb commented on #13800
refer to : #13902

[2021-12-02 10:10] #13800 closed

[2021-12-02 10:21] zhfeng commented on #13873
I think there are some misunderstands of ```ShardingTransactionType``` with ```TransactionType.XA```. It is an internal transaction used by sharding-shpere to coordinate the distributed backend databases. @yeruilong if you have only one dataSource, can you check if it works by removing ```@ShardingTransactionType(TransactionType.XA)``` ?

[2021-12-02 10:34] yeruilong commented on #13873
if i retain one database,and removing @ShardingTransactionType(TransactionType.XA),transaction not effective，it must contain @ShardingTransactionType(TransactionType.XA) and @Transactional  then transation can work.can you add me qq/weixin?qq:269365937  vx:dhbsz999

[2021-12-02 12:25] TeslaCN commented on #11305
Close via #11982

[2021-12-02 12:25] #11305 closed

[2021-12-02 12:27] TeslaCN commented on #10475
Fixed.

[2021-12-02 12:27] #10475 closed

[2021-12-02 22:52] Liangda-w opened #13909 "Proofread the Oracle DDL SQL Definitions"
As a follow-up issue on #10513, there are still some Oracle DDL SQLs (ALTER, CREATE and DROP) not been proofread yet.

### Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for MySQL, PostgreSQL, SQLServer, and Oracle, which means we have to unde

[2021-12-03 03:17] #13903 closed

[2021-12-03 03:54] lanchengx commented on #13902
Hi @zjcnb, should the `mgr-heartbeat` name be underlined? should the name `mgr` be distinguished from the type `MGR`

[2021-12-03 03:56] RaigorJiang opened #13911 "Adjust the `Native` authority provider and DCL statements."
Hi community,

I want to make some adjustments to the native authority provider.

### Background:
Now, ShardingSphere provides 3 authority providers:

1. `ALL_PRIVILEGES_PERMITTED`
   The user provides all authorizations without permission restrictions.
2. `SCHEMA_PRIVILEGES_PERMITTED`
    The schema authorized for each user is configured, and the unauthorized ones cannot be used.
3. `NATIVE`
 Use

[2021-12-03 03:58] bpzhang commented on #13812
yes,This is what I wanted,Thanks

[2021-12-03 03:58] #13812 closed

[2021-12-03 04:04] zjcnb commented on #13902
@lanchengx  Hi, `mgr-heartbeat` is custom name.

[2021-12-03 05:31] lanchengx commented on #13902
- The previous `DistSQL` is as follows:

[code]

- The adjusted `DistSQL` is as follows:

  **DB_DISCOVERY RULE**
[code]
    The names of `DiscoveryType` and `DiscoveryHeartbeat` created in this way are automatically generated, and the generated rules are defined as `${DiscoveryRuleName}_${DiscoveryTypeName}`, `${DiscoveryRuleName}_heartbeat`,for example, the name generated in the current example

[2021-12-03 06:15] lanchengx commented on #13902
Hi @menghaoranss @zjcnb @RaigorJiang, please check.

[2021-12-03 06:37] RaigorJiang opened #13912 "Query with schema name does not check user's privileges."
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSPhere-Proxy

### Expected behavior
Users cannot query data from schemas without privileges.

### Actual behavior
Users can query data from schemas without privileges.

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration,

[2021-12-03 06:48] RaigorJiang opened #13913 "Authority issue about select from information_schema.SCHEMATA"
Refer to #13912.

When use Navicat to connect with ShardingSphere-Proxy, Navicat will query schemas to show, and Proxy does not check user's privileges.

![image](https://user-images.githubusercontent.com/5668787/144557731-61ab16f7-d7fb-453e-b9af-8ab4aeb7483d.png)

[2021-12-03 06:58] jingshanglu commented on #12771
After online discussion, the conclusion is as follows：

1. Does ShardingSphere provide branch transactions, eg: xa start/end/prepare/commit/recover
2. If we want to implement a complete solution,  we maybe need to manage the transaction log
3. Documents on transaction need to be perfected
4. Is there a LTS version plan

[2021-12-03 07:03] zjcnb commented on #13902
@lanchengx

[code]

I think heartbeats_props is better?

[2021-12-03 07:08] lanchengx commented on #13902
What do you think of `props`？

[2021-12-03 07:12] zjcnb commented on #13902
Yes, not bad.

[2021-12-03 07:12] qiuweilu commented on #13851
spring.shardingsphere.rules.sharding.tables.user_media.actual-data-nodes=ds0.user_media_$->{0..9}
spring.shardingsphere.rules.sharding.tables.user_media.table-strategy.standard.sharding-column=part_fkid
spring.shardingsphere.rules.sharding.tables.user_media.table-strategy.standard.sharding-algorithm-name=t-media-inline
spring.shardingsphere.rules.sharding.sharding-algorithms.t-media-inline.type=IN

[2021-12-03 07:15] zhfeng commented on #12771
Thanks @jingshanglu and as the related action, the first step I proposal to **VOTE** on the sharding-sphere mailing list to make sure if we want to support ```XA``` transaction with sharding-proxy.

So @jingshanglu can you help to raise a **VOTE** on mailing list ?

[2021-12-03 07:54] hgbit opened #13914 "shardingproxy execute select * from allTables limit 0;"
version: shardingsphere 4.0.1

I use shardingProxy, mysql client is navicat
execute "select * from logicTable where shardingColum = xxx;"
shardingproxy execute select * from allTables limit 0;
how to config letting shardingproxy not execute it?
log:
[INFO ] 15:26:22.752 [ShardingSphere-Command-13] ShardingSphere-SQL - Actual SQL: ds_0 ::: SELECT * from lc_vocabulary_book_word_141 a WHERE vocabular

[2021-12-03 08:03] lanchengx commented on #13913
@RaigorJiang plz assign to me.

[2021-12-03 09:25] strongduanmu commented on #13851
@qiuweilu Judging from the configuration you provided, this is a complex subquery statement and includes aggregation operations. This type of statement Apache ShardingSphere needs to be supported by an experimental feature federation execution engine. For specific information, please refer to the document: https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql .

[2021-12-03 10:37] #13650 closed

[2021-12-03 11:17] RaigorJiang commented on #13914
The logic SQL is `LIMIT 0`, so please check your input SQL.
It may also be a problem caused by Navicat, you can try to verify the problem with the MySQL command line.

[2021-12-03 11:19] RaigorJiang commented on #13896
This issue seems to be resolved, I will close it.
If you still have problems, please reopen it or submit a new one.

[2021-12-03 11:19] #13896 closed

[2021-12-03 11:23] RaigorJiang commented on #13791
Since this issue has been inactive for more than 7 days, we will close it.
If you still have related questions, please reopen it or submit a new issue, thank you.

[2021-12-03 11:23] #13791 closed

[2021-12-04 05:37] cherubimLV opened #13929 "Insert sql and use function to cause parameter loss problem"
### version：5.0.0

### project：ShardingSphere-JDBC

### Expected behavior：

Use sql with mysql function to insert data, for example：

[code]

The parameters passed in strictly in accordance with normal conditions should be able to execute successfully.

But the actual situation is that the parameter ``#{createTime}`` will be lost, causing an exception to be thrown:

Error updating database.  Cause

[2021-12-04 06:40] strongduanmu commented on #13929
Hi @tuichenchuxin, can you help check this issue on master branch? I think it has been supported in master branch.

[2021-12-04 07:11] EarthXuan opened #13930 "sharding-proxy insert data fail"
## Question

**For English only**, other languages will not accept.

insert data will fail  when i use sharding-proxy to sharding database&table。I sincerely hope to get a reply。

config-sharding.yaml：
![image](https://user-images.githubusercontent.com/19358477/144701126-7f91712e-18ab-4114-b7be-ce42c85a7f03.png)

create table ddl：
CREATE TABLE `test_sc` (
  `globalid` varchar(256) CHARACTER SET utf

[2021-12-04 07:15] RaigorJiang commented on #13930
Hi @EarthXuan
What is your logic SQL?

[2021-12-04 07:33] EarthXuan commented on #13930
insert into test_sc(globalid,guid) values ('1',2);

[2021-12-04 07:42] tuichenchuxin commented on #13929
Ok, I’ll check it later&nbsp;

发自我的iPhone

------------------ Original ------------------
From: Zhengqiang Duan ***@***.***&gt;
Date: Sat,Dec 4,2021 2:41 PM
To: apache/shardingsphere ***@***.***&gt;
Cc: tuichenchuxin ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/shardingsphere] Insert sql and use function to cause parameter loss problem (Issue #13929)

Hi @tuichenchuxin, can you he

[2021-12-04 07:44] RaigorJiang commented on #13930
@EarthXuan Do you use version 5.0.0?

[2021-12-04 07:46] EarthXuan commented on #13930
yes,docker pull apache/shardingsphere-proxy:latest.

[2021-12-04 07:57] RaigorJiang commented on #13930
Ok, I will check it.

[2021-12-04 07:58] EarthXuan commented on #13930
thanks~

[2021-12-04 08:47] EarthXuan commented on #13930
this is server.yml
![Uploading image.png…]()

[2021-12-04 08:48] EarthXuan commented on #13930
this is server.yaml:

rules:
- !AUTHORITY
    users:
      - root@%:root
      - sharding@:sharding
    provider:
      type: ALL_PRIVILEGES_PERMITTED
- !TRANSACTION
    defaultType: XA
    providerType: Atomikos
props:
  max-connections-size-per-query: 1
  kernel-executor-size: 16
  proxy-frontend-flush-threshold: 128
  proxy-opentracing-enabled: false
  proxy-hint-enabled: false
  sql-show: fals

[2021-12-04 08:54] EarthXuan commented on #13930
this is server.yaml:

![无标题](https://user-images.githubusercontent.com/19358477/144703636-55cc98e8-eb16-4f85-aa5d-6edb5e5377ff.png)

[2021-12-04 09:31] cherubimLV opened #13932 "Compile error when creating new file"
I created a new file to compile, prompting a compilation error

error

information:
.......
[INFO] shardingsphere-readwrite-splitting-core ............ FAILURE [ 23.090 s]
.......
[INFO] shardingsphere-proxy-distribution .................. SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] --------------------------------------------

[2021-12-04 11:54] totalo commented on #13932
because the license check failed, you can add `-Drat.skip=true` to skip the check.

[2021-12-04 13:38] cherubimLV commented on #13932
Thank you

[2021-12-04 13:53] cherubimLV opened #13933 "Add weight replica load-balance algorithm."
In the process of using ShardingSphere-JDBC, it is found that the important weight polling of the polling algorithm of the reading library has not been implemented, but in fact, the reading library is often accessed according to the weight during project operation to prevent the difference in data service performance configuration from causing the project to stability.

[2021-12-04 14:13] cherubimLV commented on #13933
[code]

[2021-12-04 14:15] cherubimLV commented on #13933
[code]

[2021-12-04 15:40] #13932 closed

[2021-12-04 15:42] terrymanu commented on #13853
@xsong123 Hi, could you change the title for search friendly?

[2021-12-05 03:37] RaigorJiang commented on #13930
Hi @EarthXuan ,
I tested it according to your scenario and found no problems.

[code]

### Proxy Logs
[code]

[2021-12-05 04:00] EarthXuan commented on #13930
which version of MySQL do you use? i use 8.x

[2021-12-05 04:49] EarthXuan commented on #13930
do u install by docker?
and can you show me your configuration?

[2021-12-05 05:05] RaigorJiang commented on #13930
and can you show me your configuration?

Yes, the same docker image with you.
But my version of MySQL is 5.7, let me try 8.0.

[2021-12-05 05:06] RaigorJiang commented on #13930
[proxy-config.zip](https://github.com/apache/shardingsphere/files/7655256/proxy-config.zip)

[2021-12-05 05:10] EarthXuan commented on #13930
now，my mysql version is 8.0.27，latest.

[2021-12-05 05:10] EarthXuan commented on #13930
thanks~

[2021-12-05 05:23] EarthXuan commented on #13930
it works when i use your configuration.
but i  wonder why my configuration does'nt work.

this is my configuration:
`schemaName: sharding_db
dataSources:
  ds_0:
    url: jdbc:mysql://192.168.56.102:3307/platform?serverTimezone=UTC&useSSL=false
    username: root
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000

[2021-12-05 05:26] EarthXuan commented on #13930
it works when i use your configuration.
but i wonder why my configuration does'nt work.

this is my configuration:

[code]

[2021-12-05 05:28] TeslaCN commented on #13930
@EarthXuan
Could you try change the `test_sc${guid % 2}` to `test_sc{guid % 2}` in `algorithm-expression`?

[2021-12-05 05:30] EarthXuan commented on #13930
oh,thanks~ i wrote it wrong!

[2021-12-05 05:31] RaigorJiang commented on #13930
Haha  thanks @TeslaCN .

[2021-12-05 05:34] RaigorJiang commented on #13930
@EarthXuan
If the problem is solved, please close this issue.

[2021-12-05 06:09] EarthXuan commented on #13930
okok~thanks

[2021-12-05 06:10] EarthXuan commented on #13930
okok~thanks

[2021-12-05 06:10] #13930 closed

[2021-12-05 12:33] meSunnySrivastava commented on #13792
Hello @menghaoranss,
I would like to contribute to this.

[2021-12-05 14:25] tristaZero commented on #13909
Hi @strongduanmu Do we have a to-do list of the SQL proofreading project?  That will be helpful to steer @Liangda-w to a certain goal.

[2021-12-06 00:43] strongduanmu commented on #13792
@meSunnySrivastava Welcome, I will assign this issue to you.

[2021-12-06 01:06] strongduanmu commented on #13909
@tristaZero I'm very sorry, for the oracle dialect, there is currently no checklist, we will list this checklist as soon as possible @tuichenchuxin .

[2021-12-06 01:13] tuichenchuxin commented on #13909
@strongduanmu sure, I'll add the checklist.

[2021-12-06 02:09] oneslideicywater opened #13937 "How to explictly set table's defaultDatabaseStrategy?"
## Question

Notice in the [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-proxy-example/shardingsphere-proxy-boot-mybatis-example/src/main/resources/conf/config-sharding.yaml) that multiple table can have it's table-spliting inline algor, but share a common database-spliting inline algor.

the drawback is that, if I use a default database strategy such as:

[2021-12-06 02:24] strongduanmu commented on #13937
Hi @oneslideicywater, thank you for your question. The `defaultDatabaseStrategy` is only used when the sharding table is not configured with a `databaseStrategy`. If the sharding table needs to customize the database sharding strategy, just define the `databaseStrategy` under the table.

[code]

[2021-12-06 02:31] RaigorJiang commented on #13937
Here is the document:
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/rules/sharding/

[2021-12-06 02:48] zm52hz commented on #12054
@RaigorJiang Hi RaigorJiang、FAQ url about this error is Not Found.
could you give me a new url? thanks

[2021-12-06 02:50] RaigorJiang commented on #12054
@zm52hz https://shardingsphere.apache.org/document/current/cn/reference/faq/

[2021-12-06 03:20] oneslideicywater commented on #13937
ok, it's in the sharding-jdbc section hahah!

[2021-12-06 03:20] #13937 closed

[2021-12-06 04:53] flycash commented on #13933
do you guys need help? I can help to do this

[2021-12-06 05:36] zm52hz commented on #13159
@linghengqian how do you solve this problem at last？

[2021-12-06 05:40] #13512 closed

[2021-12-06 05:46] linghengqian commented on #13159
Yes. I resolved the problem by moving the source folder from level 5 to level 3 and removing the escape characters from the path so that the path was only letters of the alphabet. I think this is either a `Windows` issue or a `Maven` issue (issue initiated using `Maven`3.8.2)

[2021-12-06 05:54] zm52hz commented on #13159
@linghengqian Windows floder has 260 char limit、I change the windows config、bug it's unuse.
so I moving source folder too and useful、thanks for you response.

[2021-12-06 06:09] #13833 closed

[2021-12-06 06:18] userkdg opened #13940 "select subquery Bug"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-GA

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

select count(0) as cnt from ( select address_cipher as address from ec_oms_order ) as tmp;

### Actual behavior

select count(0) as cnt from ( select address from ec_oms_order ) as tmp;

### Reason analyze

[2021-12-06 06:19] userkdg commented on #13940
please ,every boss how to deal

[2021-12-06 06:38] strongduanmu commented on #13940
Hi @userkdg, thank you for your feedback, I will check this issue.

[2021-12-06 06:41] RaigorJiang commented on #13933
Hi @cherubimLV @flycash
This idea looks good, you can try to submit a PR, thanks~

[2021-12-06 07:23] xuejmnet opened #13942 "ConnectionMode.MEMORY_STRICTLY Should Use StreamQueryResult If Use Page Query"
[code]
is one node sql query result,but if this  group has more than one query parallel，sub node parallel should use stream query result,if use memory query result in page query, `limit 10,10` will rewrite `limit 0,20` if parallel query result use memory result not stream query result,memory will has more than scan rows.for example: `sql.skip(10).take(10) `in one data base 2 table will route, if C

[2021-12-06 07:28] strongduanmu commented on #13940
Hi @userkdg, I have tested this issue on version 5.0.0 and this is indeed a bug. The latest master branch has fixed this problem, welcome to test.

[2021-12-06 07:28] #13940 closed

[2021-12-06 07:37] tuichenchuxin commented on #6480
I clone the oracle grammer list from [offical doc](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/index.html),  and add this sub task for community to have a guide book to add .g4 file.
#### DML
- [ ] call [doc](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/CALL.html#GUID-6CD7B9C4-E5DC-4F3C-9B6A-876AD2C63545)
- [ ] delete [offical doc](https://docs.oracle

[2021-12-06 07:47] tuichenchuxin commented on #13909
@Liangda-w Hi, I have cloned oracle sql grammer from [offical doc](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/index.html) to make a task list in #6480.  And I'll complete the task when you complete some grammer. It will be easier for other communities to see what else they can do.

[2021-12-06 08:23] cherubimLV commented on #13933
Hi @RaigorJiang
I have already submit  a PR

[2021-12-06 08:45] tuichenchuxin commented on #13929
@cherubimLV I have checked your sql in master branch. It can be supported now.

[2021-12-06 09:32] Comven opened #13946 "Can simplify the dependency slightly in the next version?"
version: shardingsphere-jdbc-core-spring-boot-starter-5.0.0 and 5.1.0

Upgrade from version 4.x to 5.x, The dependency of version 5. X is almost 20M more than that of version 4. X . shardingsphere-jdbc-core-spring-boot-starter even introduces a large number of 'elasticjob' component packages. I hope the next version can be slightly streamlined and optimized.

Thanks !

[2021-12-06 10:09] strongduanmu opened #13948 "Type cast exception occurred when executing single table query that contains unsigned bigint or datetime type"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0 version or master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy.

Connecting to the proxy directly through cli will not cause an exception, but using java or go programs to connect to the proxy will cause an exception.

### Expected behavior

Execute single table query

[2021-12-06 11:55] userkdg commented on #13940
...the case, i git pull the lastest master branch, then shardingsphere-proxy-distribution build docker image, container, but the **bug still exists**.....

[2021-12-06 12:10] userkdg commented on #13940
i try found the fixed commit - revision number 【b8db81f51e533773a8992c4909cc4f623279a356 】, message 【optimize encrypt subquery projection rewrite logic (#13643)】, but not fix it .

[2021-12-06 12:26] TeslaCN commented on #13461
Close due to no response.

[2021-12-06 12:26] #13461 closed

[2021-12-06 13:15] sccc803 opened #13953 "Can not resolve unsigned bigint when query with PrepareStatement."
### Which version of ShardingSphere did you use?
Master branch.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-Proxy

### Expected behavior
Here is a logic table called t_order, show create table:
CREATE TABLE `t_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `order_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAU

[2021-12-06 13:15] sccc803 commented on #13953
If possible, I am willing to fix this problem.

[2021-12-06 14:07] Liangda-w commented on #13909
Hi @tuichenchuxin @tristaZero @strongduanmu, thank you so much! I'll start with DDL - CREATE SQLs:)

Besides, I notice some of them (e.g. CREATE FUNCTION) are [PL/SQL](https://docs.oracle.com/en/database/oracle/oracle-database/19/lnpls/sql-statements-for-stored-plsql-units.html#GUID-C918310F-F1BB-41D7-9466-B558B70DDFFE), is there anything special that we need to take care of for those SQLs?

[2021-12-06 15:09] TeslaCN commented on #13953
@sccc803 Thanks for your feedback! Assigned to you.

[2021-12-06 16:17] TeslaCN opened #13957 "Boost ShardingSphere Proxy by Vert.x"
## Concepts
We have tried hard tuning performance of ShardingSphere in the past few months, and we found the synchronous threading model may be a big bottleneck of the performance.
As the backend of the ShardingSphere Proxy, JDBC is inherently synchronous, which is a concurrent performance bottleneck of ShardingSphere Proxy. The Proxy communicates with clients by database protocol, which means use

[2021-12-06 17:02] Franco-H commented on #10964
Hi. Has this issue been resolved? or is it still in progress? I have completed the tests for this issue for my school project and would like to make a PR if it is okay.

[2021-12-06 17:55] jasaroya commented on #10964
@Franco-H It's in progress. This was my issue for Open Source Day, so I would like the chance to complete it.

[2021-12-07 00:54] happyi opened #13960 "the ShardingAlgorithm disagree in sharding-jdbc and sharding-proxy"
## Bug Report

### Which version of ShardingSphere did you use?
sharding-jdbc:5.0.0
sharding-proxy:5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
both
### Expected behavior

get the same table in sharding-jdbc and  sharding-proxy

### Actual behavior
the config is the same as follow

[code]
2 database and 8 table  at the sharding-jdbc it will get
[code]

2 databa

[2021-12-07 01:10] strongduanmu commented on #13953
HI @sccc803 This issue is similar to #13948. You can take a look at other unsigned types and datetime types. There are similar cast exceptions.

[2021-12-07 01:17] strongduanmu commented on #13940
@userkdg This is the result of my test, and no exception was found.

[code]

[2021-12-07 01:32] strongduanmu commented on #13960
Hi @happyi, I noticed that you are using the automatic sharding algorithm. The automatic sharding algorithm cannot be configured in the tables attribute. Please refer to the documentation for the correct configuration method——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/rules/sharding/.

[code]

[2021-12-07 01:35] strongduanmu commented on #13946
@Comven Yes, we have also noticed this problem, and we will optimize it in later versions to implement on-demand loading of features.

[2021-12-07 01:59] tuichenchuxin commented on #13909
@Liangda-w I think SQL and PL/SQL in oracle is defined same. So, there is nothing special.
`PL/SQL is Oracle's procedural language extension to SQL. PL/SQL allows you to mix SQL statements with procedural constructs. PL/SQL provides the capability to define and execute PL/SQL program units such as procedures, functions, and packages. PL/SQL program units generally are categorized as anonymous bloc

[2021-12-07 02:12] userkdg commented on #13940
thinks，i check it on local env，success ! but had a new issue now

 on my build docker container，when  ** mysql -hxxx -P53308 -uroot -pxxx ** connect to proxy，then not login command line , the proxy console print  the error：
[code]
additional docker files
[code]

[2021-12-07 02:16] wuguowei19880907 opened #13962 "sharding 5.0.0 Statement execute update report parse error"
### Which version of ShardingSphere did you use?
sharding-5.0.0  java8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
I use `Statement` execute a update sql like this:
[code]
Encrypt rules like this:
[code]
### Actual behavior
![image](https://user-images.githubusercontent.com/19338820/144953305-93cfba83-3e48-46ab-9f26-fe79fe

[2021-12-07 02:28] strongduanmu commented on #13940
@userkdg Welcome to submit a new issue to report this issue.

[2021-12-07 02:32] strongduanmu commented on #13962
Hi @wuguowei19880907, thank you for your feedback, We have fixed this bug in master branch. In version 5.0.0, you can use capitalized keywords to temporarily avoid this problem.

E.g:

[code]

[2021-12-07 02:33] CrackerSuperior opened #13963 "How does "shardingsphere" connect a group of mysql with a master-slave relationship?"
Version：
  master，shardingshpere-proxy

Question：
  Now I have two mysqls, one master and one backup. I want to use "fragments" to link them. When the master is damaged, it is hoped that the "sharding" can automatically switch to the slave library.

[2021-12-07 02:47] zjcnb commented on #13963
@CrackerSuperior Hi, You can use db-discovery module. it's support mysql mgr.

[2021-12-07 03:08] CrackerSuperior commented on #13963
Is there a simple example or configuration document description? The official document does not seem to have this configuration description?

[2021-12-07 03:09] CrackerSuperior commented on #13963
Is there a simple example or configuration document description? The official document does not seem to have this configuration description?

[2021-12-07 03:12] zjcnb commented on #13963
Because, it 's adjusting api now, new api refer to : #13902

[2021-12-07 03:13] TeslaCN opened #13965 "Travis CI failed since #13889"
## CI

Refer to:
#13889
https://app.travis-ci.com/github/apache/shardingsphere/builds/242957214

[code]

[2021-12-07 03:14] zjcnb commented on #13963
If you use 5.0.0 GA version, you can refer to : https://github.com/apache/shardingsphere/blob/master/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-database-discovery.yaml

[2021-12-07 03:15] wuguowei19880907 commented on #13962
Ok

[2021-12-07 03:15] wuguowei19880907 commented on #13962
OK

[2021-12-07 03:17] strongduanmu commented on #13962
This issue has been fixed in master branch.

[2021-12-07 03:17] #13962 closed

[2021-12-07 03:18] TeslaCN commented on #13965
Tests also failed on my Ubuntu 20.04.

[code]

[2021-12-07 03:23] wuguowei19880907 opened #13966 "Encryptor name with Underline"
sharding-jdbc 5.0.0
yaml configs the encrypt rules like this:
[code]
It gives me error like this
![image](https://user-images.githubusercontent.com/19338820/144960247-b1ed4cfb-6585-4dee-ab26-3248da15bded.png)
 The error means i cannot get the `props ` in the `encryptors`.If i change the encryptor name without underline, it works good:
[code]

[2021-12-07 03:32] zjcnb commented on #13966
@wuguowei19880907 Hi, I think using `-` is the standard of springboot 2.x.

[2021-12-07 03:40] CrackerSuperior commented on #13963
![image](https://user-images.githubusercontent.com/45088781/144961835-2b9b5e76-6260-48a1-b310-4e2187ce2d46.png)
What should be filled in this "keepAliveCron"?

[2021-12-07 03:43] #13965 closed

[2021-12-07 03:46] zjcnb commented on #13963
cron expression, '0/5 * * * * ?' means to execute every 5 seconds

[2021-12-07 03:47] wuguowei19880907 commented on #13966
but the tablename and columnname using `_`，it is puzzling

[2021-12-07 03:49] CrackerSuperior commented on #13963
ok, also, under this function, is the master-slave replication of mysql built manually or sharding helps me build it?

[2021-12-07 03:50] zjcnb commented on #13963
You need build it by yourself.

[2021-12-07 03:51] CrackerSuperior commented on #13963
ok,thank you very much！

[2021-12-07 04:49] meSunnySrivastava commented on #13792
@tuichenchuxin

**Could you please confirm my understanding about the steps I have to follow?**

_1. Get All SQL files: We have SQL files at the following location
https://github.com/postgres/postgres/tree/master/src/test/regress/sql

2. Run SQLParserEngine: For each SQL files I have to run SQLParserEngine and see for which SQL I am getting an exception
For running SQLParserEngine I can refer to h

[2021-12-07 05:40] tuichenchuxin commented on #13792
@meSunnySrivastava Yes, your step is right. Just submit an pr mention #13383 or comment is enough, I'll mark the subtask as checked.

[2021-12-07 06:24] userkdg commented on #13940
bad!! subquery table set alias , proxy rewrite sql error .  such as :

actual
[code]
Expected

[code]

[2021-12-07 06:25] strongduanmu opened #13971 "SystemException occur when use transaction with distsql"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/bd1ce08f0d070b0541fe4a1b98a1664b6b6ac660

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Use transaction normally.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavio

[2021-12-07 06:29] strongduanmu commented on #13940
Hi @userkdg, thank you for your test, and can you report this bug on another issue?

[2021-12-07 06:33] Franco-H commented on #10970
Hi songyuequan. Just let you know I am also working on this issue for my school project. Im 99.9% done. Just need to fix some checkstyle issues.

[2021-12-07 06:34] userkdg opened #13972 "subquery table alias bug"
## Bug Report
 subquery table set alias , proxy rewrite sql error .  such as :

[code]

### Which version of ShardingSphere did you use?
the lastest master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-proxy

### Expected behavior

[code]

### Actual behavior
[code]
### Reason analyze (If you can)

![image](https://user-images.githubusercontent.com/210

[2021-12-07 06:42] zjcnb commented on #13966
It different ways to obtain. I alreadly adjust example.

[2021-12-07 07:00] tuichenchuxin commented on #13725
@totalo Hi, I want to know how can I use sqlCommentParseEnabled in sharding-jdbc for springboot. :)

[2021-12-07 07:08] wuguowei19880907 commented on #13966
ok,i got it

[2021-12-07 07:15] ZWMdarker commented on #12516
![image](https://user-images.githubusercontent.com/35095364/144983468-f185f404-644e-4a29-ab53-a43da2fd963f.png)
I ran into the same problem with version 5.0.0

[2021-12-07 07:18] cheese8 commented on #13972
I will check on this soon.

[2021-12-07 07:21] songyuequan commented on #10970
Ok, thank you for your Help. And you can do it all.

[2021-12-07 07:25] totalo commented on #13725
hi @tuichenchuxin. Sorry, it may not be supported yet. I am considering how to add it. I will submit a pr support tonight.

[2021-12-07 07:28] tuichenchuxin commented on #13725
@totalo :) Not in a hurry

[2021-12-07 07:30] ZWMdarker commented on #13571
pg   union / union all

[2021-12-07 07:45] happyi commented on #13960
what's mean of autoTables?

[2021-12-07 07:48] tuichenchuxin commented on #13571
pg union / union all has been supported in shardingsphere-parse. And we'll support these sql execute soon.

[2021-12-07 07:56] strongduanmu commented on #13960
@happyi `autoTable` refers to a table that can be automatically sharding, and you don't need to specify actualDataNodes.

Judging from your response, you may have used autoTable by mistake. I suggest you refer to the [official example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example), which provides many examples of

[2021-12-07 08:07] happyi commented on #13960
the config Above is   shardingSphere-Proxy 。how shardingSphere-jdbc  can get the same behavior?

[2021-12-07 08:09] strongduanmu commented on #13960
@happyi Please read the [document](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding/) carefully, there are detailed instructions and examples for the configuration of autoTable.

[2021-12-07 08:26] happyi commented on #13960
i hava read the example and try it  。  however there haven't  i want 。

how the sharding-proxy get the same behavior like sharding-jdbc?

[2021-12-07 08:30] happyi commented on #13960
i emphasize  that  the auto table isn't get the expect result

[2021-12-07 08:30] strongduanmu commented on #13960
@happyi First of all you have to use the correct configuration, your configuration is currently wrong. The official document gives a correct configuration example, so please adjust the configuration and check if there is a problem.

[2021-12-07 08:32] happyi commented on #13960
the auto table  can't get expected result  like :

ds_0.nx_customer_asset_s0
ds_0.nx_customer_asset_s2
ds_0.nx_customer_asset_s4
ds_0.nx_customer_asset_s6
ds_1.nx_customer_asset_s1
ds_1.nx_customer_asset_s3
ds_1.nx_customer_asset_s5
ds_1.nx_customer_asset_s7

[2021-12-07 08:38] userkdg commented on #13972
[code]

i dont understand ** columnSegment.getColumn().getOwner().get().getStopIndex() + 2 **, startIndex  need add 2

[2021-12-07 08:42] #13913 closed

[2021-12-07 09:36] CrackerSuperior opened #13976 "Exception in thread "main" org.apache.shardingsphere.elasticjob.reg.exception.RegException: org.apache.zookeeper.KeeperException$OperationTimeoutException: KeeperErrorCode = OperationTimeout?"
Version
  sharding-proxy-master

Config
[code]

Error
[code]

**And My firewall is turned off.**

[2021-12-07 10:01] oulexue opened #13977 "sql parse exception"
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
jdbc

### Expected behavior
I execute an SQL that returns a null value，this exception has occurred

this is the sql:

SELECT
	sum( vs.debit_amount ) AS debitAmount,
	sum( lender_amount ) AS lenderAmount,
FROM
	tb_finance_voucher_subject vs
	LEFT JOIN tb_finance_voucher

[2021-12-07 10:07] tuichenchuxin commented on #13977
@oulexue I saw your sql have an error `sum( lender_amount ) AS lenderAmount,`
`,`

[2021-12-07 10:15] oneslideicywater opened #13978 "connection to database "sharding_db" failed: ERROR: Null charset name"
connect to the database `sharding_db`,which is a logical  postgresql database(use sharding-proxy for database-spliting). when I am using some database client-tools,such as navicat,pg_dump.

It always complain that I don't specify client-encoding, even I indeed do it already:

[code]

[2021-12-07 10:53] zjcnb commented on #13976
@CrackerSuperior Hi, Can you check your zookeeper? It 's work well ? By the way. use cluster mode if your use discovery ha.

[2021-12-07 10:56] TeslaCN commented on #13978
Hi @oneslideicywater
This issue is duplicated with #13576.

[2021-12-07 11:18] oulexue commented on #13977
That's not the reason. I've changed it to 'vs.lender_amount'

[2021-12-07 11:46] oulexue commented on #13977
I have found the cause of the problem，The cause of the problem is that the SQL is written incorrectly

[2021-12-07 12:46] xuejmnet commented on #13942
## now
![image](https://user-images.githubusercontent.com/18061232/145031395-63795295-2fa6-4beb-8745-450636e30ce9.png)

## optimize
![image](https://user-images.githubusercontent.com/18061232/145031569-90101bf3-4b6a-482a-96c1-e8f51c80d5a5.png)

[2021-12-07 12:54] xuejmnet commented on #13942
select * from order limit 10,10 ,now has 20rows for every node,memory is large

[2021-12-07 13:09] #13953 closed

[2021-12-07 17:28] terrymanu opened #13986 "Add document of SM3 and SM4 of encryptor"
The encryptor SM3 and SM4 have completed in #13894, please add document on https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/builtin-algorithm/encrypt/ and https://shardingsphere.apache.org/document/current/cn/dev-manual/encryption/

[2021-12-07 17:33] terrymanu commented on #12912
This issue is related adding 2 new encryptors. I just change the label and title.

[2021-12-07 17:33] #12912 closed

[2021-12-07 17:38] #13971 closed

[2021-12-08 00:35] cheese8 commented on #13986
ok, please assign it to me, thanks. @terrymanu

[2021-12-08 00:36] strongduanmu commented on #13986
@cheese8 I just assign this issue to you.

[2021-12-08 00:47] strongduanmu commented on #13942
Hi @xuejmnet I like this optimization, it seems to be effective in reducing memory usage.

But this optimization may require a lot of code adjustments, because at present, the results of all nodes are queried first, and then merged. To achieve this optimization, execution and merging need to be processed together.

[2021-12-08 00:51] xuejmnet commented on #13942
I'm looking forward to ShardingSphere better :)

[2021-12-08 01:49] strongduanmu commented on #13942
@xuejmnet Thank you. We will try our best to optimize performance, and you are welcome to participate in the community.

[2021-12-08 02:02] oneslideicywater commented on #13978
@TeslaCN How can I get the master branch's latest docker image cuz I don't use it in production.

[2021-12-08 02:28] zjcnb opened #13990 "Compile have error message."
[code]

[2021-12-08 02:40] TeslaCN commented on #13990
This error log is one of the test cases. Add `logback-test.xml` in this module can eliminate this error log.

[2021-12-08 03:06] TeslaCN commented on #13978
Sorry for the inconvenience. Could you try building one by yourself?
Refer to the wiki https://github.com/apache/shardingsphere/wiki

[2021-12-08 04:27] terrymanu commented on #13986
Welcome

[2021-12-08 05:42] Swastyy commented on #13990
Can I try this.

[2021-12-08 05:47] TeslaCN commented on #13990
Hi @Swastyy You have been assigned to some issues. What is the progress of other issues? Could you check this list? https://github.com/apache/shardingsphere/issues/assigned/Swastyy

[2021-12-08 05:53] Swastyy commented on #13990
Alright @TeslaCN

[2021-12-08 05:57] isfong commented on #13880
Are you saying that `shardingsphere-jdbc-core` can replace `sharding-jdbc` ?

[2021-12-08 06:16] childewuque commented on #10938
@tuichenchuxin @strongduanmu
I now use v5.0.0, and I find that the range of excluded tables is smaller than v5.0.0-beta, v5.0.0 only excludes getAllActualTables
Therefore, 5.0.0 initialized more tables metadata and the project started more slowly
In a database with many tables, only one table is used for sharding, and the other tables are not used by shardingsphere at all. How can the project be s

[2021-12-08 06:22] tuichenchuxin commented on #10938
@childewuque Can you help to position the code which is slow?

[2021-12-08 06:40] Un-use opened #13992 "is encrypt not support MyBatis useGeneratedKeys ？"
### in version 5.0.0-beta
### when i use config，like this
    encryptors:
      encryptor_custom:
        type: custom
    tables:
      table1:
        columns:
          column1:
            plainColumn: column1
            cipherColumn: column1Cipher
            encryptorName: encryptor_custom
### SQL like this,  I can get generate Key, `id`
    INSERT INTO table1 (column1) VALUES (#{column1});

[2021-12-08 07:31] #13977 closed

[2021-12-08 07:38] strongduanmu commented on #13992
Hi @Un-use, thank you for your feedback. Can you try 5.0.0 GA version? I think this bug has been fixed in this version.

[2021-12-08 07:38] Un-use commented on #13992
您好：    您发的邮件已收到，我会尽快给您回复。    祝好！                                             --Unuse

[2021-12-08 07:41] lanchengx opened #13994 "DistSQL plans to support `CREATE SHARDING KEY GENERATOR`"
`KeyGenerator`  is used to generate [Distributed Primary Key](https://shardingsphere.apache.org/document/current/en/features/sharding/concept/key-generator/) in ShardingSphere, and is configured as follows in the Sharding feature:

![image](https://user-images.githubusercontent.com/52209337/145165511-428b4f7b-6a46-4743-893c-27d99a6e01b2.png)

At present, in the Sharding feature, DistSQL's support

[2021-12-08 07:44] RaigorJiang commented on #13914
No response.

[2021-12-08 07:44] #13914 closed

[2021-12-08 07:46] RaigorJiang commented on #13865
Hi @taotao365s
If your question is solved, can we close this issue?

[2021-12-08 07:57] TeslaCN opened #13995 "ShardingSphere openGauss Proxy supports sha256 authentication method"
## Feature Request

### Is your feature request related to a problem?
openGauss recommends `sha256` authentication method. But the current openGauss proxy reused the `PostgreSQLAuthenticationEngine` which using `md5` authentication method.

### Describe the feature you would like.
Implements `OpenGaussAuthenticationEngine` and uses `sha256` authentication method.

[2021-12-08 08:00] justbk2015 opened #13996 "shardingsphere-jdbc not support openGauss batchInsert protocol"
## Feature Request
shardingsphere-jdbc support openGauss batchInsert protocol.

### Is your feature request related to a problem?
Yes, this causes build tpcc warehouses too slow.
### Describe the feature you would like.
support openGauss batchInsert protocol, improve build warehouses of tpcc's speed.

[2021-12-08 08:06] lanchengx opened #13997 "Add syntax for `ALTER SHARDING KEY GENERATOR`"
For details, please refer to https://github.com/apache/shardingsphere/issues/13994

The ANTLR definition syntax is as follows:

[code]

Examples are as follows:

[code]

This syntax overlaps with `CREATE SHARDING KEY GENERATOR` statement, need to complete the `CREATE SHARDING KEY GENERATOR` statement first.

[2021-12-08 08:13] lanchengx opened #13998 "Add syntax for `SHOW SHARDING KEY GENERATORS`"
For details, please refer to https://github.com/apache/shardingsphere/issues/13994

The ANTLR definition syntax is as follows:

[code]

Examples are as follows:

[code]

[2021-12-08 08:14] Orange-apples commented on #7564
Have you solved this problem？

[2021-12-08 08:16] lanchengx opened #13999 "Add syntax for `DROP SHARDING KEY GENERATOR`"
For details, please refer to https://github.com/apache/shardingsphere/issues/13994

The ANTLR definition syntax is as follows:

[code]

Examples are as follows:

[code]

[2021-12-08 08:51] childewuque commented on #10938
Thanks for the quick response!
1.There are  about 6000 tables in every DB. But only one logic table named prod_score is sharded in my project.
2.actualDataNodes: dataSource$->{1..4}.prod_score_$->{(Integer.toHexString(0)..Integer.toHexString(255)).collect{t ->t.padLeft(2,'0')}}
3.The slowest point is the line in SingleTableMetaDataBuilder.load() --line 51：
     Collection<TableMetaDataLoaderMateri

[2021-12-08 08:56] childewuque commented on #10938
@tuichenchuxin  I don't know if it is possible to initialize only the sharding tables ...

[2021-12-08 08:59] oneslideicywater commented on #13978
@TeslaCN It's very nice that I successfully build an image `apache/shardingsphere-proxy:5.0.1-SNAPSHOT`, the previous problem solved!.

but there's another question occurs:

using pg_dump dump the logical database `sharding_db` (with postgis extension enabled using `CREATE EXTENSION postgis;`) failed:

[code]

but dump the physical database( not proxyed by sharding-proxy) is ok :

[code]

[2021-12-08 09:16] tuichenchuxin commented on #10938
@childewuque

Collection tableMetaDataLoaderMaterials = TableMetaDataUtil.getTableMetaDataLoadMaterial(needLoadTables, materials, false);

This line is all memory operations, It shouldn't be so slow. I'll check it.

This way may not work. Is it worked?

[2021-12-08 10:15] TeslaCN commented on #13978
Hi @oneslideicywater
About the `pg_dump`, could you create another issue? I think this issue is done.

[2021-12-08 10:24] cheese8 commented on #13986
Does the en documents should be also added? @terrymanu

[2021-12-08 10:49] tuichenchuxin opened #14004 "Consider supporting PostgreSQL/openGauss schema statements"
## Background

In the SharedingSphere community, we have heard a lot of exception feedback about PostgreSQL/openGauss schema, such as #15579, #15145, #14004 and #13638. In order to improve experience of PostgreSQL/openGauss users, we need to support PostgreSQL/openGauss schema now.

## How to support PostgreSQL/openGauss schema

Currently in the `config-xxx.xml` file, the actual meaning of schemaN

[2021-12-08 10:55] cheese8 commented on #14004
👍 I would enhance EncryptPropertiesBuilder if this supported.

[2021-12-08 11:26] #13995 closed

[2021-12-08 12:14] dongzl commented on #13997
@lanchengx    I want to try it.

[2021-12-09 00:30] happyi commented on #13960
please attention the  suffix of the Actual table。

[2021-12-09 00:31] happyi commented on #13960
please attention the suffix of the Actual table。

[2021-12-09 01:23] oneslideicywater opened #14008 "failed backup database with postgis extension enabled when using pg_dump"
It's very nice that I successfully build an image `apache/shardingsphere-proxy:5.0.1-SNAPSHOT` [refer to this issue](https://github.com/apache/shardingsphere/issues/13978), the previous problem solved!.

but there's another question occurs:

dump the logical database `sharding_db` (with postgis extension enabled using `CREATE EXTENSION postgis;`)
 failed when using pg_dump
:

[code]

but dump the

[2021-12-09 01:44] strongduanmu commented on #13948
Fixed by #13982.

[2021-12-09 01:44] #13948 closed

[2021-12-09 02:05] dongzl commented on #13997
Thanks.

[2021-12-09 02:10] Un-use commented on #13992
### finally i find the error, throw an exception, but it be caught....
### how to fix this? need throw the exception
![image](https://user-images.githubusercontent.com/13214561/145320912-a6b8d13f-dd21-4900-904f-6567caad07b2.png)

[2021-12-09 02:31] strongduanmu commented on #13992
@Un-use The problem that the exception was not thrown is also fixed in the 5.0.0 GA version. Welcome to upgrade.

[2021-12-09 02:34] RaigorJiang commented on #14004
Related issue: https://github.com/apache/shardingsphere/issues/13638

[2021-12-09 02:56] Un-use commented on #13992
upgraded, thank you.

[2021-12-09 02:56] #13992 closed

[2021-12-09 03:53] userkdg commented on #13972
I try find bug

position bug:

the lastest master:
[code]

local fix:
[code]

explain:  for source ,
the method org.apache.shardingsphere.encrypt.rewrite.token.generator.impl.EncryptProjectionTokenGenerator#generateSQLTokens
1 line set shothand=false, but 2 line shorthand = columnSegment.getColumn().getOwner().isPresent() ，one method variable had tow behavior, Behavior inconsistency

test:
fixed ,

[2021-12-09 05:01] userkdg opened #14010 "encrypt rewrite sql bug"
### Which version of ShardingSphere did you use?
the lastest master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
(no) subquery order by or group by、 alterTable

[code]

To remak : order by / group by can`t use xx_cipher as xx , so only rewrite to xx_cipher

### Actual behavior

(no) subquery order by or group by

[code]

#

[2021-12-09 05:10] userkdg commented on #14010
@cheese8 the issue samilar to [#13972 ], maybe repair all

[2021-12-09 05:20] strongduanmu commented on #14010
@userkdg Thank you for your feedback, We will support this case later.

[2021-12-09 05:20] userkdg commented on #14010
你好，很高兴收到您的邮件，谢谢。

[2021-12-09 07:05] RaigorJiang commented on #13933
Fixed by #13943.

[2021-12-09 07:06] #13933 closed

[2021-12-09 07:08] childewuque commented on #10938
It seems there are some loops on  tableNames/singleTableDataNodes   , and tableNames or singleTableDataNodes has 24k elements,  so it's slow.
E.g :
org.apache.shardingsphere.infra.metadata.schema.builder.util.TableMetaDataUtil line 51
org.apache.shardingsphere.infra.datanode.DataNodes  line  55

I exclude all tables  at actualDataNodes  then the project starts normally and works fine.
I don't know

[2021-12-09 07:22] tuichenchuxin commented on #10938
@childewuque Thank you for your feedback, I'll check it later. And are you willing to submit a pr to optimize this problem?

[2021-12-09 07:29] RaigorJiang opened #14013 "[Example] Add a new configuration example for load balance algorithm."
Hi community,

@cherubimLV submitted a new load balance algorithm of replica databases: `WeightReplicaLoadBalanceAlgorithm`, refer to #13943.
Now we need a new configuration example in the examples project. May be added in https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/readwrite-splitting-example/readwrite-splitting-raw-jdbc-example

[2021-12-09 08:00] Yule-Momoko opened #14014 "com.mysql.cj.exceptions.WrongArgumentException: Invalid argument value: java.io.NotSerializableException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-09 08:03] strongduanmu commented on #14014
@Yule-Momoko Hi, sorry for late reply, can you provide your configration? sharding or other feature?

[2021-12-09 08:11] Yule-Momoko commented on #14014
Configure read/write separation only

[2021-12-09 08:20] Yule-Momoko commented on #14014
Caused by: java.sql.SQLException: Invalid argument value: java.io.NotSerializableException
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:97)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:89)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.j

[2021-12-09 08:40] tuichenchuxin opened #14015 "Support unsupported sql in parser."
Hi community,
There are some unsupported sql in [this file](https://github.com/apache/shardingsphere/blob/master/shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/unsupported/unsupported.xml)
You can help to support if you

Be familiar with java

## Background
How is a SQL parsed?
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

## Process
- Pick an unsuppor

[2021-12-09 08:42] Lacxner opened #14016 "When executing range query with multiple tables and merging the query result , shardingsphere throws the NullPointerExpection？"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-09 08:50] tuichenchuxin commented on #14015
This is related to #13792

[2021-12-09 08:51] strongduanmu commented on #14014
@Yule-Momoko Hello, I used MySQL 5.7 and 8.x versions, and the Druid/Hikari connection pool for testing, but this exception cannot be reproduced. The following is the configuration I tested:

[code]

[code]

[2021-12-09 08:52] strongduanmu commented on #14014
In addition, from your log, it should be that Druid throws an exception because the parameter does not implement serializable interface. @Yule-Momoko So please double check your business code.

[2021-12-09 09:12] childewuque commented on #10938
Thanks!
I want but I don't know the global purpose of all tables metadata.
So just for my case,if I can ,Maybe  I will add a  configuration item to decide initializing tables metadata.
haha

[2021-12-09 09:15] strongduanmu commented on #14016
@Lacxner Thank you for your feedback. `singleTableDataNodes` is used to maintain the distribution info of a single table, and is used for automatic routing of a single table, so there is no need to load the sharding table here.

Your exception is similar to #13544, please check whether the metadata is loaded abnormally caused by the wrong configuration.

[2021-12-09 11:14] #13900 closed

[2021-12-09 11:28] melin opened #14021 "ShardingSphere Parser supports Lineage?"
ShardingSphere Parser supports Lineage? Table to table, column to column

[2021-12-09 14:07] yx9o commented on #13994
I want to try this.

[2021-12-09 15:11] cheese8 commented on #14010
it's not the same, please assign it to me, thanks. @strongduanmu

[2021-12-09 15:34] terrymanu commented on #14021
What is Lineage, could provide the introduce and GitHub repo?

[2021-12-09 15:41] terrymanu commented on #13986
Sure. I saw you have already finish English document too.

[2021-12-09 15:41] #13986 closed

[2021-12-09 15:51] melin commented on #14021
https://sqlflow.gudusoft.com/#/
https://github.com/maropu/spark-sql-flow-plugin

Liang Zhang ***@***.***> 于2021年12月9日周四 23:34写道：

[2021-12-09 17:37] cheese8 commented on #14010
it seems that AfterColumnDefinitionSegment was not supported in AlterDefinitionSegment yet. @tuichenchuxin @strongduanmu

[2021-12-10 01:49] cherubimLV commented on #14013
Okay, I will add it and submit it

[2021-12-10 02:00] RaigorJiang commented on #14013
Haha, thank you!

[2021-12-10 02:03] lanchengx commented on #13994
@yx9o  Welcome, @RaigorJiang will assign it to you 😀

[2021-12-10 02:36] strongduanmu opened #14025 "Consider support insert into on duplicate key update sharding key when the sharding routing result keep the same"
## Feature Request

Now, when a user executes an `insert into on duplicate key update` statement on a sharding key, an exception will be thrown.

[code]
But if the routing results before and after the update have not changed, then we should support this type of `insert into on duplicate key update` statement.

### Is your feature request related to a problem?

No

### Describe the feature you woul

[2021-12-10 03:22] oulexue opened #14026 "Federate query exception"
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
select sob.region_id regionId, sob.id,sob.sob_name sobName,min(settle_accounts_date)minSettleMonth,max(settle_accounts_date) maxSettleMonth,count(sob.id) cm,sob.accounting_criterion_type accountingCriterionType,sob.sob_enable_d

[2021-12-10 03:53] #14025 closed

[2021-12-10 04:14] terrymanu commented on #14021
Maybe need to add Lineage SQL dialect support

[2021-12-10 05:25] melin commented on #14021
There are a lot of data Catalog products, one of the important functions is data blood, looking forward to joining the program

[2021-12-10 07:04] nikerxu opened #14028 "readme doc bug"
the Contribution Guidelines page is not found
![a9bdb5f698a33b81aa29f80c91e5373](https://user-images.githubusercontent.com/19975759/145531702-ba857997-55df-49d0-bd21-f828e2756758.png)
![ab5d44dcdef4c8b87c8e207af0f198b](https://user-images.githubusercontent.com/19975759/145531707-8079c5a2-a028-42b6-8c6c-fc013bc0ac86.png)

[2021-12-10 07:14] CrackerSuperior opened #14030 "I want to know how the high availability of the "cluster" mode in the "mode" is reflected?"
Version：
 sharding-proxy-master

I want to know how the high availability of the "cluster" mode in the "mode" is reflected?
In the official document, how does the high availability mentioned in the description of the role of the "cluster" setting of the "mode" reflect?

[2021-12-10 07:17] CrackerSuperior commented on #14030
It seems that there is no master and backup like MySQL？

[2021-12-10 08:26] userkdg commented on #14010
other sql rewrite bug
1. ddl sql (not) exists
[code]

[2021-12-10 09:12] lanchengx opened #14032 "`com.mchange.v1.db.sql.UnsupportedTypeException` needs adjustment"
Replace `com.mchange.v1.db.sql.UnsupportedTypeException` with `java.lang.UnsupportedOperationException`

For example:
before modification:
![image](https://user-images.githubusercontent.com/52209337/145548169-8ad2ae2e-2a69-49ba-8be1-df0abc001ed3.png)

after modification:
![image](https://user-images.githubusercontent.com/52209337/145548363-21981b86-84de-4f6e-96f9-ab4673c0b9ee.png)

[2021-12-10 09:29] dachuan9e opened #14034 "Will parse twice when execute 'commit' by statement execute"
Will parse twice when execute 'commit' by statement execution

The packet is the follow.

MySQLComStmtExecutePacket(sql=COMMIT, parameters=[])

[2021-12-10 09:36] lanchengx opened #14035 "In the Proxy, `select current_user` does not query the configured user"
The query result of `select current_user()` is users in `server.yaml`.

![image](https://user-images.githubusercontent.com/52209337/145551010-767a61cc-ae36-4fe5-a83a-0169a095a287.png)

But `select current_user` is routed to the database to query the user in the database;

We expect that the result of the select current_user query should also be the users configured by `server.yaml`

[2021-12-10 09:39] zjcnb commented on #14030
ShardingSphere are only dicovery master and slave relation. The zookeeper are storage disabled node. It guarantees ShardingSphere can be used normally.

[2021-12-10 09:41] Lacxner commented on #14016
@strongduanmu I have seen the source code, I found that in default config the ShardingSphere will only load the first actual data node. If table is not existed, there will be none of the logic table.

[2021-12-10 09:42] qq494905015 opened #14036 "4.1.0 version No entry doSharding method"
Bug Report
For English only, other languages will not accept.

Which version of ShardingSphere did you use?
4.1.0

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

Expected behavior
entry doSharding method , Insert into the correct database source

Actual behavior
No entry doSharding method ,

Reason analyze (If you can)
Steps to reproduce the behavior,

[2021-12-10 10:03] Orange-apples opened #14037 "How can I slove the database health check always fail"
![1639130534(1)](https://user-images.githubusercontent.com/63826095/145555850-20fe247b-51d2-4fd8-9139-84f2c0dbb80c.jpg)

[2021-12-10 10:04] Orange-apples commented on #14037
![1639130641(1)](https://user-images.githubusercontent.com/63826095/145556009-9a424d3e-dd9d-48bd-81c8-9779511fc51d.jpg)

[2021-12-10 10:20] tuichenchuxin commented on #14028
@nikerxu May be there is some Internet problem. I can visit this page.

[2021-12-10 10:23] tuichenchuxin commented on #14037
Can you offer me a demo to try it?

[2021-12-10 10:41] terrymanu opened #14039 "Add test cases for DataSourceDestroyer"
The test cases are:

- [ ] DataSourceDestroyerFactory
- [ ] DefaultDataSourceDestroyer
- [ ] HikariDataSourceDestroyer

[2021-12-10 10:42] menghaoranss commented on #14028
@nikerxu thanks for your feedback, fixed now.

[2021-12-10 10:42] #14028 closed

[2021-12-10 10:42] terrymanu opened #14040 "Add test case for DataSourceCreatorFactory"

[2021-12-10 13:00] strongduanmu commented on #14016
@Lacxner Yes, so please ensure that the real table exists. In addition, can this issue be closed?

[2021-12-10 14:10] userkdg commented on #13972
i found ``` +2 `` reason

such as :
[code]
when we set table alias multi letters , will produce bugs due to ```+2```  only support one length letter .
....

[2021-12-10 15:52] Ahoo-Wang opened #14047 "IntervalShardingAlgorithm performance is too bad"
## Feature Request

#### When I was about to use `IntervalShardingAlgorithm` to integrate [CosId](https://github.com/Ahoo-Wang/CosId), I checked the source code and found the following problems:

- Ease of use: The `IntervalShardingAlgorithm` implementation is to first convert to a string and then convert to `LocalDateTime`, the conversion success rate is affected by the time formatting characters

[2021-12-10 22:22] Liangda-w commented on #13999
Hi, I'd like to try this:)

[2021-12-11 03:44] #14016 closed

[2021-12-11 03:50] Lacxner commented on #14016
@strongduanmu Ok, I have closed the issue. I have some problem. It seems that if setting the property "check-table-metadata-enabled" to "true" then it will load all actual data nodes(It works well). So I can use this property when the first table is non-existent?

[2021-12-11 06:44] lanchengx commented on #13999
Thanks for your contribution, @RaigorJiang will assign it to you 😀
We will review your pr and give you feedback

[2021-12-11 10:29] kulean opened #14052 "java.math.BigInteger cannot be cast to java.lang.Long on Federation of ShardingSphere-proxy 5.0"
[ERROR] 2021-12-11 18:18:37.516 [ShardingSphere-Command-0] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.sql.SQLException: exception while executing query: java.math.BigInteger cannot be cast to java.lang.Long
	at org.apache.calcite.avatica.Helper.createException(Helper.java:56)
	at org.apache.calcite.avatica.Helper.createException(Helper.java:41)
	at org.apache.calcite.avatica.AvaticaCo

[2021-12-11 11:52] strongduanmu commented on #14016
Hi @Lacxner, the `check-table-metadata-enabled` attribute is used to verify the metadata of the sharding table. If it is enabled, the metadata of all actual tables will be loaded at startup, which will slow down the startup speed.

[2021-12-11 11:54] strongduanmu commented on #14052
Hi @kulean, thank you for your feedback, this issue is duplicated with #13343. We will fix this issue later.

[2021-12-11 12:49] terrymanu commented on #14047
Thank you for the feature request and COSID project, this is a good open source project.
I just need more information before we do it.

1. What is the dependencies of COSID, how to handle if guava's version conflict with ShardingSphere?
2. Is the COSID must be number type in database, how about date or varchar type?
3. Is it passible to merge `COSID_INTERVAL_DATE`, `COSID_INTERVAL_LDT `, `COSID_IN

[2021-12-11 13:07] terrymanu opened #14054 "Finish absent test case of DataSourceConfiguration"
Add test case for DataSourceConfiguration.equals() when dataSourceClassName not equal.

[2021-12-11 16:03] himanshu007-creator commented on #14032
Hi, i would like to work on this issue

[2021-12-11 16:08] Ahoo-Wang commented on #14047
Thank you very much for your approval and reply.

----
1. CosId-Core has no dependencies(I can remove *Guava* dependencies),But in order to solve the *SnowflakeId* `machineId` allocation problem, *CosId-Redis* needs to depend on *Redis*(`io.lettuce:lettuce-core`). For the id segment mode, the ID segment distribution problem, you need to depend on *Jdbc*(`java.sql.*`) or *Redis*(`io.lettuce:lettuce

[2021-12-12 01:34] cheese8 commented on #13596
assign me, thanks.

[2021-12-12 05:07] userkdg opened #14059 "sql parser ast to pojo & sql encrypt rewrite bug"
### Which version of ShardingSphere did you use?
the lastest master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
[code]

### Actual behavior
[code]

### Reason analyze (If you can)
alter table .. change ... sql parser bug.
as follow:
F:
![1639284750](https://user-images.githubusercontent.com/21057449/145700783-bca1cac6-8f0

[2021-12-12 07:03] terrymanu commented on #14047
I find Lettuce 6.1.5.RELEASE dependents LatencyUtils CC0 1.0 which may not compatible with Apache license, it is better to use `provide` scope.

Other suggestion: Redis is not component of ShardingSphere, could you consider about use ZooKeeper or Etcd as `cluster mode` of ShardingSphere? Maybe we need to integrate with ShardingSphere deeply.

OK

How to process use real timestamp as business colum

[2021-12-12 07:55] galaxylqx opened #14061 "shardingSphere For HBase"
## Feature Request

It is hoped that proxy is the only SQL entry. Businesses only need to access proxy and deal with various databases later. For example, HBase is supported. In the process of use, there is no need to use HBase protocol to operate the back-end database
### Describe the feature you would like.
Support SQL statements

SQL

[2021-12-12 08:17] terrymanu commented on #14061
Great!
It is very exciting to explore OLAP integrate with ShardingSphere.

[2021-12-12 08:22] terrymanu commented on #13578
Bad title description and no enough information, I just close the issue.

[2021-12-12 08:22] #13578 closed

[2021-12-12 08:24] #13685 closed

[2021-12-12 08:28] terrymanu commented on #13846
There are no enough information, I just close the issue.

[2021-12-12 08:28] #13846 closed

[2021-12-12 08:30] terrymanu commented on #13880
They are the different version

[2021-12-12 08:30] #13880 closed

[2021-12-12 08:31] terrymanu commented on #13887
Please ref example

[2021-12-12 08:31] #13887 closed

[2021-12-12 08:33] terrymanu commented on #13817
Fixed

[2021-12-12 08:33] #13817 closed

[2021-12-12 08:34] #13580 closed

[2021-12-12 08:59] flycash commented on #14061
I'd like to join building this feature. But it's a big feature, can you guys help to split it into several tasks? So I can help to do these tasks step by step.

[2021-12-12 12:52] terrymanu commented on #14061
Some initial tasks:

1. SQL parser of HBase SQL dialect
2. Recognize HBase JDBC url and driver
3. Parse hint by `/+ hbase */` from SQL
4. Route hinted SQL to HBase cluster

We can complete the more tasks here.

[2021-12-12 13:34] ShiFengCui commented on #14054
assign me please

[2021-12-12 13:34] ShiFengCui commented on #14040
assign me please

[2021-12-13 00:43] DreamPWJ commented on #13879
Is there anything new? @strongduanmu

[2021-12-13 00:53] strongduanmu commented on #13596
@cheese8 Welcome, I just assign this issue to you.

[2021-12-13 01:36] CrackerSuperior commented on #13998
If I want to develop this, is there a time limit?

[2021-12-13 01:46] #14030 closed

[2021-12-13 02:26] tuichenchuxin commented on #10938
@childewuque we have optimized multi tables load.
14000 singleTables load from 140s To 17s.
May be you can try again.

[2021-12-13 02:38] sandynz opened #14066 "Extend Standalone mode features and make it equivalent to Cluster mode"
## Feature Request

### Is your feature request related to a problem?
1, Currently, `scaling` could only run on `Cluster` mode, since it depend on `ClusterPersistRepository.watch`, but `watch` method is not avaiable in `PersistRepository`.

2, `scaling` unit test depend on embeded ZooKeeper, it can't be replaced to other implementation for now, since mode type must be `Cluster`.

### Describe the

[2021-12-13 03:34] RaigorJiang commented on #14032
Welcome @himanshu007-creator .

[2021-12-13 03:39] RaigorJiang commented on #13998
Wecome @CrackerSuperior ,
This is not an urgent task, you can try to solve it for a few days, @lanchengx can also help you.

[2021-12-13 03:40] CrackerSuperior commented on #13998
nice,thanks

[2021-12-13 03:40] #13994 closed

[2021-12-13 03:51] #14013 closed

[2021-12-13 03:52] RaigorJiang commented on #14013
Merged, thanks!

[2021-12-13 03:54] Ahoo-Wang commented on #14047
CosId provides a unified interface `IdGeneratorProvider` without the need to specify the specific implementation algorithm is `SnowflakeId`, `SegmentId` or `IdSegmentChain`. That is, the user does not need to specify TYPE as any specific algorithm. It may be better to define it as `COSID`. Pass in the parameter `id-name`(`Properties`) to get the specific algorithm from `IdGeneratorProvider`.

OK.

[2021-12-13 05:26] #13997 closed

[2021-12-13 05:53] zjcnb opened #14067 "Consider remove the check rule restrictions when use jdbc."
Hi community,

Background
---

Now, you must to configure rules when you use ShardingSphere-JDBC, otherwise it can't be use ShardingSphere-JDBC.

Problem
---

I found that our sql hit feature is already available in the master branch, this feature can specify dataSource by yourself, such as: /* ShardingSphere hint: DatasourceName=ds0 */.

Maybe user can use sql hit feature to switch data sources.

[2021-12-13 06:36] clbigdata commented on #13821
I want solve this

[2021-12-13 06:51] strongduanmu commented on #13821
@clbigdata Welcome, I will assign this issue to you.

[2021-12-13 08:34] takuya1981 commented on #14039
Can I try this??

[2021-12-13 09:24] strongduanmu commented on #14039
@takuya1981 Welcome, I will assign this issue to you.

[2021-12-13 09:33] robben009 opened #14072 "How to configure a self incrementing primary key for a table without a table splitting policy （ 没有分表策略的表的,想用自增主键,如何配置 ）"
Version information：
[code]

config indo：
[code]

As shown in the figure above, I just configure the user table as a sub table. Other tables in the same database are not divided into tables, but when I use mybaits plus to insert other tables, I find that shardingjdbc will automatically use the default snowflake algorithm as the primary key to insert into other tables.

How can I avoid this situati

[2021-12-13 13:22] yx9o commented on #14035
I want to try this issue.

[2021-12-13 14:11] terrymanu commented on #14072
ShardingSphere is faced for JDBC, we do not have more energy to deal with other additional ORM frameworks.

[2021-12-13 14:11] #14072 closed

[2021-12-13 14:17] terrymanu commented on #14047
SNOWFLAKE is the special one, lots of users know the algorithm. It is not good idea for change the old configuration with new type.

For example, user just want use format `yyyy-MM-dd` to persist the data.

[2021-12-13 14:37] Ahoo-Wang commented on #14047
agree.

You mean `Java.sql.Date` type?
 If so, the `DateIntervalShardingAlgorithm`  is also supported.
 If you mean string type, it is not supported yet, but I can handle it.

[2021-12-13 15:23] flycash commented on #14061
ok, I will try the first task, but it's a hard job for me, so it will take some time.

[2021-12-13 15:40] CrackerSuperior commented on #13998
![image](https://user-images.githubusercontent.com/45088781/145841709-068406fd-10ac-4622-b137-31f4a99ed80d.png)
![image](https://user-images.githubusercontent.com/45088781/145841720-2562cdd5-4644-40d9-94b7-7e98927b4f85.png)
Is this effect okay?

[2021-12-13 15:47] RaigorJiang commented on #13998
Yes, It looks very good!

[2021-12-13 15:53] CrackerSuperior commented on #13998
Okay, if there is free time after get off work tomorrow, I will finish the remaining unit tests and other parts

[2021-12-13 16:15] zhfeng opened #14074 "MySql parser has some grammar issues with XA statements"
## Bug Report

Please refer to https://dev.mysql.com/doc/refman/5.7/en/xa-statements.html

[code]

[2021-12-14 03:10] zjcnb commented on #13872
I adjust `connectionTimeoutMilliseconds` param, is ok.

[2021-12-14 03:10] #13872 closed

[2021-12-14 03:17] terrymanu commented on #14047
Great, everything has came to an agreement each other.
We can discuss coding design by pull request soon.

[2021-12-14 03:28] Ahoo-Wang commented on #14047
Nice!!! Thank you very much for your patience and suggestions.
I will finish partial coding work and submit PR within this week.

[2021-12-14 03:30] #13966 closed

[2021-12-14 03:46] wuguowei19880907 opened #14077 "org.yaml.snakeyaml.error.YAMLException: Invalid tag: !SHARDING"
SHARDING-SPHERE 5.0.0 & JAVA8

ERROR INFO:
[code]

YAML：

[code]

[2021-12-14 05:39] dongzl opened #14078 "Why the DistSQL resource group statement assert at "org.apache.shardingsphere.test.sql.parser.parameterized.asserts.statement.dal.impl" package"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-12-14 06:29] RaigorJiang commented on #14078
Hi @dongzl
Resource Group is a feature of MySQL, not for DistSQL.
Ref to https://dev.mysql.com/doc/refman/8.0/en/resource-groups.html

[2021-12-14 06:55] RaigorJiang commented on #14035
Thanks @yx9o

[2021-12-14 06:57] #13963 closed

[2021-12-14 07:04] dongzl commented on #14078
OK, I'm sorry, I have a misunderstand for g4 file, Thank you for your reply.

[2021-12-14 07:04] #14078 closed

[2021-12-14 08:40] zjcnb commented on #14077
@wuguowei19880907  Hi, i have two suggestions. one is check your yaml body format, other one is mvn clean install agagin.

[2021-12-14 09:02] wuguowei19880907 commented on #14077
This is my yaml file,please help me to check it.
[YAML.zip](https://github.com/apache/shardingsphere/files/7710158/YAML.zip)

I've tested that execute `mvn clean package`,but it gave me the error again

[2021-12-14 13:20] zjcnb commented on #14077
Let 's me check it.

[2021-12-14 13:47] zjcnb commented on #14077
[config-sharding.yaml.zip](https://github.com/apache/shardingsphere/files/7712050/config-sharding.yaml.zip)

Maybe, you can use it replace your configuration.

[2021-12-14 15:01] zhfeng commented on #12771
Hi @jingshanglu https://github.com/apache/shardingsphere/issues/13656 maybe resolve this issue partly ?

[2021-12-14 16:17] CrackerSuperior commented on #13998
When I was doing the parsing test of the grammar definition, the following error occurred

[code]

[2021-12-15 02:02] lanchengx commented on #13998
![image](https://user-images.githubusercontent.com/52209337/146109310-a034a3e4-67a6-4e89-8aeb-8128298969d3.png)

could you determine if there is any duplication in your project?

[2021-12-15 02:07] CrackerSuperior commented on #13998
![image](https://user-images.githubusercontent.com/45088781/146109857-8af45035-7bc0-417e-8b98-8b5e7f6c181f.png)
It is like this.

[2021-12-15 02:16] CrackerSuperior commented on #13998
![image](https://user-images.githubusercontent.com/45088781/146110706-eb89cac6-82db-4d17-99fe-d4f12f85b8b4.png)
![image](https://user-images.githubusercontent.com/45088781/146110708-18a7341c-fa59-464d-97bb-3ea6ddabd34b.png)
![image](https://user-images.githubusercontent.com/45088781/146110711-0c3558be-fb4c-4d93-abb2-45358be87fe7.png)
is this normal? Why are there two the same? @lanchengx

[2021-12-15 02:19] jingshanglu commented on #12771
Yeah, #13656 can partly resolve this issue.Now we can focus on `one datasource` and `encrypt`,proposal:
1. Create `XAhandler` to only hand `XA request`
2. Add check for env, when use `encrypt` and have only one datasource, support for `XA` will effect.

Based on this proposal, @roodkcab is dealing with this issue.

[2021-12-15 03:09] lanchengx commented on #13998
- `parse.xml` was removed in the submission of `e7a4d7c718436bf87ca8830a7772af0f3fe7f821`, your project may not be fully synchronized with the master,

- If there is no problem with the test, you can submit a PR

[2021-12-15 03:15] menghaoranss opened #14083 "Add unit tests for MetaDataRefresher"
I merged refresher for `Kernel` and `Federation` in PR #13947 , and also removed some unit tests in PR #13950, but you can still refer to the previous code.

Now we need to add unit tests for the new implementation:

- [ ] AlterIndexStatementSchemaRefresher
- [ ] AlterTableStatementSchemaRefresher
- [ ] CreateIndexStatementSchemaRefresher
- [ ] CreateTableStatementSchemaRefresher
- [ ] CreateViewS

[2021-12-15 03:19] zhfeng commented on #12771
Thanks a lot @jingshanglu and FYI, I create https://github.com/apache/shardingsphere/pull/14075 to fix some issues about Mysql XA parser, please review it and I think it could be helpful to ```XAHandler``` implementation.

And @roodkcab feel free to ping me if you get this proposal out of door and I'd like to work with you.

[2021-12-15 03:40] oneslideicywater opened #14084 "Pgadmin v4 failed to connect sharding-proxy database"
I am using Pgadmin v4 connect to the sharding-proxy database `sharding_db`. under the hood, the pg server version is 10-2.5.

## pgadmin v4 connect

pgadmin connect to sharding-proxy failed,it complains:

[code]

## psql connect

And I fix the default client_encoding problem in #13978, and already build the latest image. I can successfully connect to
`sharding_db` using psql like this:

[code]

##

[2021-12-15 05:03] RaigorJiang commented on #14084
Hi @oneslideicywater
You can try to add `allowEncodingChanges=true` to your jdbc url of Proxy's dataSources.
Example:
[code]

[2021-12-15 05:10] #14052 closed

[2021-12-15 06:07] xueshiji opened #14085 "NullPointerException while booting"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-15 06:22] CrackerSuperior commented on #13998
I haven't done anything like this before, what should I do(submit a PR)?

[2021-12-15 06:27] RaigorJiang commented on #13998
This document may help:
https://shardingsphere.apache.org/community/cn/contribute/contributor/

[2021-12-15 07:14] zjcnb opened #14086 "Datasouces configuration refresh maybe need to check it exist."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No need to recreate datasource when the same data source is refresh.

### Actual behavior

recreate datasource when i refresh my configuration.

### Error message

[code]

[2021-12-15 07:16] strongduanmu opened #14087 "SQL parse exception occur when execute SELECT CAST(11 AS UNSIGNED INT)"
## Bug Report

### Which version of ShardingSphere did you use?

ShardingSphere-Proxy 5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT CAST(11 AS UNSIGNED INT)` successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, shar

[2021-12-15 07:31] zjcnb commented on #14085
@xueshiji Hi please change it.

`spring.shardingsphere.rules.sharding.tables.t_order.actual-data-nodes =ds_$->{0..3}.t_order_$->{0..1}`

change to:

`spring.shardingsphere.rules.sharding.tables.t_order.actual-data-nodes =ds$->{0..3}.t_order_$->{0..1}`

[2021-12-15 07:38] xueshiji commented on #14085
@zjcnb  This is a very embarrassing problem, it is sometimes only found by others where the problem is, anyway, thank you!

[2021-12-15 07:38] #14085 closed

[2021-12-15 07:44] #14087 closed

[2021-12-15 07:47] linghengqian commented on #13240
I feel that it is better for me to put the unresolved issues in the newly opened `Open SphereEx Community`. I will close this issue.

[2021-12-15 07:47] #13240 closed

[2021-12-15 07:47] wuguowei19880907 commented on #14077
I test like this,but get error:
[code]

The configuration like this:
[code]

[2021-12-15 08:15] RaigorJiang opened #14090 "The case sensitivity of `single table` and `sharding table` are inconsistent"
### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT, master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
single table can be the same as sharding table, case insensitive

### Actual behavior
single table is case sensitive
sharding table is case insensitive

### Steps to reproduce the behavior, such as: S

[2021-12-15 08:50] zjcnb commented on #14036
@qq494905015 Hi, you can try it with 5.0.0 version.

[2021-12-15 08:53] strongduanmu commented on #14059
Hi @userkdg, thank you for your feedback, I will check this issue.

[2021-12-15 09:02] strongduanmu commented on #14090
@RaigorJiang Thank you for your feedback, I will optimize this issue.

[2021-12-15 09:05] Orange-apples commented on #7780
are you  slove the issues

[2021-12-15 09:06] sandynz opened #14091 "Verify scaling PostgreSQL updated record migration on incremental stage if update is ignored then improve it"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Updated record should be migrated to target database.

### Reason analyze (If you can)
In `PostgreSQLScalingSQLBuilder.buildConflictSQL`, `ON CONFLICT` it `DO NOTHING`
[code]
It seems cause issue, veri

[2021-12-15 09:11] ReyYang commented on #14091
Can i take this ? Thanks

[2021-12-15 09:40] roodkcab commented on #12771
here's a [proposal](https://wonderfull.feishu.cn/docs/doccn4a1x4Rmx4pEADYbtkAeLGc) for this issue. as @zhfeng has pointed out: XA statements should be passed to backend database instead of wrapping it into JTA. Having discussion with @jingshanglu a litter bit more, we both agree to firstly focus on supporting XA statements on a single database, and throw error when multiple instance configured.

a

[2021-12-15 09:50] #14086 closed

[2021-12-15 10:18] zhfeng commented on #12771
@roodkcab Great work - I reply you on the slack [channel](https://apacheshardingsphere.slack.com/archives/C026MLH7F34/p1639467945006300)

[2021-12-15 10:25] hipopular opened #14094 "Whether to support view query ？"
Whether to support view query , mysql ？

[2021-12-15 12:45] strongduanmu commented on #14094
Hi @hipopular, `5.0.0` can support view query of non-sharding tables, welcome to use and feedback.

[2021-12-15 12:46] #13607 closed

[2021-12-15 13:05] #14090 closed

[2021-12-15 23:54] strongduanmu commented on #14090
After the PR merge, the latest results are as follows, which can support uppercase and lowercase queries.

[code]

[2021-12-16 02:03] hipopular commented on #14094
thanks reply !

[2021-12-16 02:03] #14094 closed

[2021-12-16 02:15] RaigorJiang commented on #14090
Thank you @strongduanmu

[2021-12-16 02:31] strongduanmu commented on #11046
Fixed by #10956.

[2021-12-16 02:31] #11046 closed

[2021-12-16 02:31] oulexue opened #14100 "Complex SQL paging exception"
### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

sharding-jdbc

### Expected behavior

[code]

### Actual behavior

![image](https://user-images.githubusercontent.com/26663469/146296385-9e0e4e8a-262c-4a93-adee-ff52279b1eb2.png)

[code]

[2021-12-16 02:35] strongduanmu opened #14101 "Show tables statement return wrong result when mysql is case sensitive"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Get correct show tables result.

### Actual behavior

When I created a table with uppercase TEST and executed `SHOW TABLES LIKE'TEST'`, I couldn't get the correct result.

[code]

### Reason analyze (If you

[2021-12-16 02:41] CrackerSuperior commented on #13998
![image](https://user-images.githubusercontent.com/45088781/146298129-630b3341-9c71-4149-baca-eb4d38baea0f.png)
Is this right?

[2021-12-16 02:51] MingxingLAI commented on #14101
I am willing to try to solve this problem, Can you assign to me?

[2021-12-16 02:59] RaigorJiang commented on #13998
Yes, it is right.
@lanchengx, please help to review, thanks~

[2021-12-16 03:00] strongduanmu commented on #14101
@MingxingLAI Of course, I will assign this issue to you.

[2021-12-16 03:14] 65725738 opened #14103 "sharding Can you configure only the database branch policy but not the table branch policy？"
The requirement is that I enter a different database based on a field in the SQL statement. There is only one rule. But I have thousands of tables, and I don't want to configure policies one by one. Can I configure only the database branch policy without the table branch policy? Is there an example?For example, id 1-10 goes to database1 and id 11-20 goes to database2 and id 21-30 goes to database3

[2021-12-16 03:19] tuichenchuxin opened #14104 "[Proofread SQL Definition][PostgreSQL]Proofread the g4 files of SQL definitions"
Hi community,

This issue is to proofread the SQL definitions of PostgreSQL. Therefore, we can support parsing more SQLs.
We need your interaction! If you

Understand the Oracle grammars

then welcome!

### Background
#### How is a SQL parsed?
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process
Compare SQL definitions in [Oficial SQL Doc](https://www.postgresql.org/doc

[2021-12-16 03:28] tuichenchuxin commented on #14103
You can use defaultDatabaseStrategy like
[code]

[2021-12-16 03:33] tuichenchuxin commented on #14100
Which version have you used, Seems the parameters count is not correct. We have fixed it on master branch.

[2021-12-16 04:20] menghaoranss opened #14107 "Add unit test for TransactionContextsBuilder"

[2021-12-16 06:06] tuichenchuxin opened #14110 "[Proofread SQL Definition][MySQL]Proofread the g4 files of SQL definitions"
Hi community,

This issue is to proofread the SQL definitions of MySQL. Therefore, we can support parsing more SQLs.
We need your interaction! If you

Understand the MySQL grammars

then welcome!

### Background
#### How is a SQL parsed?
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process
Compare SQL definitions in [Oficial SQL Doc](https://dev.mysql.com/doc/refman/8.0

[2021-12-16 06:35] TeslaCN commented on #13577
Hi @marker-wu
Could you provide some information to help us reproduce this issue? We cannot reproduce it these days.

[2021-12-16 06:41] TeslaCN commented on #12514
I think this issue has been fixed by #13686.

[2021-12-16 06:41] #12514 closed

[2021-12-16 06:49] TeslaCN commented on #12245
Hi @ccMoriarty
The Proxy has supported session-level charset since #13332. Would you like to finish this issue?

[2021-12-16 07:00] zjcnb opened #14112 "ShardingSphere-Proxy and ShardingSphere-JDBC use same namespace by cluster mode. Use ha feature throws java.lang.NullPointerException"
When I start the proxy successfully, and then I start the jdbc, an exception occurs on the proxy side.

### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

` ShardingSphere-Proxy `and `ShardingSphere-JDBC`

### Expected behavior

No error message.

### Actual behavior

[code]

### Reason analyze (If you can)

![im

[2021-12-16 07:02] TeslaCN commented on #11755
Hi @cqiwencom
Any progress here?

[2021-12-16 07:05] TeslaCN commented on #11755
I think the root cause of this issue is unsupported SQL syntax, I'm labeling this issue with `SQL parse`

[2021-12-16 07:12] lanchengx commented on #13912
🚩

[2021-12-16 07:17] ccMoriarty commented on #12245
@TeslaCN
I’m glad to to solve this problem. But it’s almost the end of the year, I’m busy here. it may have to wait until January to develop

[2021-12-16 07:28] #13260 closed

[2021-12-16 07:35] menghaoranss opened #14113 "Splitting meta data in the registry center into multiple tables"
In cluster mode, `shardingsphere` persist meta data to node ` /namespace/metadata/logic_db/schema`, the content is as follows:

[code]

If there are too many tables, the data size of this node will be particularly large which may affect the performance of `shardingsphere`, therefore, I suggest splitting the metadata into the following structures:

[code]

the content of node `t_address`:

[code]

[2021-12-16 07:46] #14074 closed

[2021-12-16 07:55] #14034 closed

[2021-12-16 08:04] oneslideicywater commented on #14084
@RaigorJiang sorry, I'm not using application jdbc connect to sharding-proxy database, the psql client connection is ok, but the pgadmin(postgresql official client tool) failed to connect.

[2021-12-16 08:19] oneslideicywater opened #14114 "sharding-proxy doesn't support create table in transaction"
using client tools such navicat connect to sharding-proxy. create a table in transaction failed:

### client log

[code]
### sharding-proxy log

[code]

so I wonder why sharding-proxy doesn't support create/drop table in transaction.

[2021-12-16 08:30] TeslaCN opened #14115 "Automatically append git commit id to Proxy's version"
## Feature Request

### Is your feature request related to a problem?
The Proxy's version in master branch is `5.0.1-SNAPSHOT`. We cannot identity the proxy built from which commit.

### Describe the feature you would like.
Find a way to append abbrev commit id to version when compiling project.

I found a plugin https://github.com/git-commit-id/git-commit-id-maven-plugin and we can do some invest

[2021-12-16 08:34] RaigorJiang commented on #14084
@oneslideicywater
Yes, I got it.
Your ShardingSphere-Proxy need data source configuration to connect to Postgres server, so the param should be added to the url of Proxy's config file.  Like `config-sharidng.yaml`.

[2021-12-16 09:32] Lacxner opened #14116 "When crossing database query, it throws SchemaNotExistedException."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-16 10:19] lyennon opened #14118 "shardingsphere-jdbc-core has some useless dependency"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-12-16 10:24] RaigorJiang commented on #14077
I suggest trying to run the example project on your machine to determine whether the dependent environment is normal.
https://github.com/apache/shardingsphere/tree/master/examples

[2021-12-16 11:55] strongduanmu opened #14122 "Consider using union all to merge sql routes to the same database"
## Feature Request

According to the description of the official document——https://shardingsphere.apache.org/document/current/en/reference/sharding/execute/, the current execute engine will judge based on `maxConnectionsSizePerQuery` and the number of sqlUnits on a single database, choose `MEMORY_STRICTLY Mode` or `CONNECTION_STRICTLY Mode`. When using `MEMORY_STRICTLY Mode`, it will consume a lot

[2021-12-16 15:21] ryan-hao opened #14125 "java.lang.ClassCastException: java.sql.Time cannot be cast to java.sql.Timestamp"
version
shardingsphere-jdbc-core-spring-boot-starter', version: '5.0.0

![image](https://user-images.githubusercontent.com/50565298/146398507-3fd5919d-4a84-4b5a-8cc8-3cf306847bb8.png)
![image](https://user-images.githubusercontent.com/50565298/146398818-21f0b6c2-dbbf-4faf-9d11-f215e8a27d17.png)

java.lang.ClassCastException: java.sql.Time cannot be cast to java.sql.Timestamp
	at org.apache.shardin

[2021-12-17 00:40] strongduanmu commented on #14116
Hi @Lacxner, thank you for your feedback. ShardingSphere only supports querying of logic database.
If you want to use a function similar to sql transparent transmission, you can use the sql hint developed by the master branch——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#%E4%BD%BF%E7%94%A8-hint-%E8%B7%AF%E7%94%B1%E8%87%B3%E6%8C%87

[2021-12-17 00:41] strongduanmu commented on #14125
Hi @ryan-hao, thank you for your feedback, can you provide the step to reproduce this exception?

[2021-12-17 00:46] CrackerSuperior commented on #14113
This is to split the configuration information into tables and put them in the local database?

[2021-12-17 00:56] AlanFiasco commented on #14077
There are symbols like backspace characters in the YAML file. It is recommended that you can pull the code again or copy a new file to make changes.

[2021-12-17 01:49] ryan-hao commented on #14125
database: mysql
CREATE TABLE `ind_test_1` (
  `id` bigint(20) NOT NULL,
  `info_date` date DEFAULT NULL,
  `info_time` time DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

CREATE TABLE `ind_test_2` (
  `id` bigint(20) NOT NULL,
  `info_date` date DEFAULT NULL,
  `info_time` time DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

entity
@Data
p

[2021-12-17 02:41] oneslideicywater opened #14127 "java.util.UnknownFormatConversionException: Conversion = ' '"
## running sharding-proxy using docker-compose

[code]

## config-sharding.yaml

[code]

## create table and insert

[code]
## sharding-proxy logs

version: 5.0.0

[code]

[2021-12-17 03:02] EarthXuan opened #14128 "query is not case sensitive when i use shardingColumn."
## Which version of ShardingSphere did you use?
5.0.1
## Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
## Expected behavior
query is not case sensitive
## Actual behavior
it is case sensitive when i use shardingColumn.
for example,i query error by guid , when my shardingColumn is Guid.
![企业微信截图_16397080512731](https://user-images.githubusercontent.com

[2021-12-17 03:05] menghaoranss commented on #14114
@oneslideicywater could you please provide more information, the proxy version, your configurations, and steps to reproduce, this will help us solve your problem faster.

[2021-12-17 03:26] oneslideicywater commented on #14127
[code]

but the error is quite misleading

[2021-12-17 03:26] #14127 closed

[2021-12-17 03:34] tuichenchuxin commented on #14128
When shardingSphere doSharding will use `groovy.lang.Closure`. Actually, the config ShardingColumn is not case sensitive. But the `closure` and the sharding value in your sql must be same.
For example
if closure is `t_order_$->{Guid % 2} `
then your sql must be `Guid`

[2021-12-17 03:37] oneslideicywater opened #14129 "Prepare ... statement can not support sharding tables route to same data sources"
## Feature Request

does sharding-proxy support `prepare` in postgresql?

### Is your feature request related to a problem?

[code]

[2021-12-17 05:53] TeslaCN commented on #14129
This issue is duplicated with #10248.

[2021-12-17 06:39] TeslaCN commented on #14118
@lyennon Could you exclude them for the moment?

[2021-12-17 07:00] 65725738 commented on #14103
spring:
  application:
    name: task
  shardingsphere:
    datasource:
      names: ds0,ds1
      ds0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://
        username: root
        password: 111
      ds1:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver

[2021-12-17 07:01] 65725738 commented on #14103
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'shardingSphereDataSource' defined in class path resource [org/apache/shardingsphere/spring/boot/ShardingSphereAutoConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [javax.sql.DataSource]:

[2021-12-17 07:29] 65725738 commented on #14103
![图片](https://user-images.githubusercontent.com/12229436/146506484-6e8a3b8f-8c97-4bcd-a928-0923ba474887.png)
ShardingSphere rule configuration cannot be null or empty.
why？

[2021-12-17 08:04] sandynz commented on #13069
Hi @imchao9, Are you interested in this issue? Enhancement of datetime auto interval sharding algorithm.

[2021-12-17 08:10] xue2lang opened #14136 "sharding proxy add heartbeat for different port (not 3307)"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

**we use LVS for sharding proxy load ，but it need a different port  for heartbeat，have any suggest ？**

but i donot want to add another ServerBootstrap instance

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Re

[2021-12-17 09:09] #13860 closed

[2021-12-17 11:02] menghaoranss commented on #14136
use another port to start proxy, `sh %SHARDINGSPHERE_PROXY_HOME%/bin/start.sh ${proxy_port}`

[2021-12-17 11:12] roodkcab commented on #12771
for anyone interested in this topic, we setup a shardingsphere slack channel #transaction and here's some discussion on [transactionStatus ](https://apacheshardingsphere.slack.com/archives/C02QMEQRKT8/p1639568920010200)

[2021-12-17 13:26] roodkcab opened #14144 "last_insert_id not returned when using update"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
update id_gen set max_id = last_insert_id(max_id + 1) where type = 1;
the last_insert_id should be returned back to user

### Actual behavior
can't get last_insert_id like insert statement

### Reason analyze (If you

[2021-12-17 13:29] roodkcab opened #14145 "name get lost when using savepoint statement"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
savepoint with a name should pass to backend database

### Actual behavior
name is lost

[2021-12-17 14:25] EarthXuan commented on #14128
Can you support it？
actually，developer maybe use guid/GUID/guid in sql.

[2021-12-18 04:06] roodkcab commented on #14144
`update id_gen set max_id = last_insert_id(max_id + 1) where type = 1` and then use `select last_insert_id()` is recommended in MySQL [manual](https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_last-insert-id)

![image](https://user-images.githubusercontent.com/1700820/146628056-a3b2430f-97dd-4824-ad0f-1830145f95f0.png)

for shardingsphere, there's a problem that we use a

[2021-12-18 05:23] #14040 closed

[2021-12-18 05:37] #14054 closed

[2021-12-18 05:40] yx9o commented on #14107
I want to try this.

[2021-12-18 09:09] yanyuyaol opened #14156 "JDBC not Sharding Key query,the null field in the database will become 0"
Why is it designed like this？e.g. Long、Integer

[2021-12-18 09:30] #13912 closed

[2021-12-19 11:44] wl4g commented on #13963
Currently I am also testing this database discovery function. I wrote it myself before. You can refer to my docker-based mgr deployments: [11](https://blogs.wl4g.com/archives/2477)

[2021-12-19 11:45] wl4g commented on #13963
Currently I am also testing this database discovery function. I wrote it myself before. You can refer to my docker-based mgr deployments: [https://blogs.wl4g.com/archives/2477](https://blogs.wl4g.com/archives/2477)

[2021-12-19 17:08] terrymanu commented on #13976
Closed because of no response anymore.

[2021-12-19 17:08] #13976 closed

[2021-12-19 17:10] terrymanu commented on #14008
No plan to support pg_dump now, anybody interesting this issue?

[2021-12-19 17:11] terrymanu commented on #14021
No plan for support Lineage  now, anybody interesting this issue?

[2021-12-19 17:13] terrymanu commented on #14036
What is your SQL, could you make sure your SQL contains sharding key?

[2021-12-19 17:17] terrymanu commented on #14103
What's mean of `database branch policy` and `table branch policy`?

[2021-12-19 17:22] terrymanu commented on #13563
Closed because of no response anymore.

[2021-12-19 17:22] #13563 closed

[2021-12-19 17:23] terrymanu commented on #13577
Closed because of no response anymore.

[2021-12-19 17:23] #13577 closed

[2021-12-19 17:24] terrymanu commented on #13728
For English only

[2021-12-19 17:24] #13728 closed

[2021-12-19 17:25] terrymanu commented on #13615
Please try to version 5.0.0.

[2021-12-19 17:26] #13615 closed

[2021-12-19 17:27] terrymanu commented on #13631
Sorry, I still cannot get your point, can you provide an example to reproduce it?

[2021-12-19 17:29] terrymanu commented on #13646
because of no response anymore, I just close this issue.

[2021-12-19 17:29] #13646 closed

[2021-12-19 17:31] terrymanu commented on #13769
Sorry, the information is not enough.
By the way, we have no time to investigate the issue related with other framework, it is better to use JDBC reproduce it.

[2021-12-19 17:31] #13769 closed

[2021-12-19 17:32] jasper520 commented on #13769
你好，来信收到，谢谢

[2021-12-19 17:33] terrymanu commented on #13772
It looks like the exception thrown from MyBatis.
There are no enough information during this issue, I just close it.

[2021-12-19 17:33] #13772 closed

[2021-12-19 17:34] terrymanu commented on #13783
Because of no response anymore, I just close this issue.

[2021-12-19 17:34] #13783 closed

[2021-12-19 17:35] terrymanu commented on #13843
Because of no response anymore, I just close this issue.

[2021-12-19 17:35] #13843 closed

[2021-12-19 17:35] terrymanu commented on #13853
Because of no response anymore, I just close this issue.

[2021-12-19 17:35] #13853 closed

[2021-12-19 17:37] terrymanu commented on #14037
Because of no response anymore, I just close this issue.

[2021-12-19 17:37] #14037 closed

[2021-12-19 17:39] terrymanu commented on #13659
@ningpp Yes, it is better to throw IllegalArgumentException than return null.
Could you try to submit a pull request?

[2021-12-19 17:41] terrymanu commented on #13602
Any suggestion to resolve the problem?

[2021-12-19 17:44] terrymanu commented on #13634
Just as @strongduanmu said, SQL parser is the necessary step.
We can enhance the SQL parser if there are some bugs, but cannot accept to skip SQL parser which will break the basic concept of ShardingSphere.

[2021-12-19 17:44] #13634 closed

[2021-12-19 17:45] #13653 closed

[2021-12-19 17:46] terrymanu commented on #13572
I just close the issue because of no response anymore.

[2021-12-19 17:46] #13572 closed

[2021-12-19 17:47] terrymanu commented on #13648
I just close the issue because of no response anymore.

[2021-12-19 17:47] #13648 closed

[2021-12-19 17:49] terrymanu commented on #13660
User can use DistSQL to config sharding rule.
It can be easy to auto-gen DistSQL if you want.

[2021-12-19 17:49] #13660 closed

[2021-12-19 17:51] #13738 closed

[2021-12-19 17:53] terrymanu commented on #6206
I just close the issue because of no response anymore.

[2021-12-19 17:53] #6206 closed

[2021-12-19 17:54] terrymanu commented on #7922
I just close the issue because of no response anymore.

[2021-12-19 17:54] #7922 closed

[2021-12-19 17:56] #13331 closed

[2021-12-19 17:56] #13330 closed

[2021-12-19 17:56] heysJava commented on #13331
你好，邮件已收到，谢谢你(*^__^*) 

[2021-12-19 17:57] terrymanu commented on #13328
We have no plan to support `load data infile` now, anybody interest the issue?

[2021-12-19 17:59] terrymanu commented on #13312
I just close this issue because of there are too long time to no response.

[2021-12-19 17:59] #13312 closed

[2021-12-19 17:59] #13210 closed

[2021-12-20 00:07] ningpp commented on #13659
OK

[2021-12-20 01:09] strongduanmu commented on #14128
@EarthXuan Thank you, we will optimize this issue.

[2021-12-20 01:18] RaigorJiang opened #14163 "[DistSQL] Add a syntax `SHOW AUTHORITY RULE`"
Hi community,

At present, DistSQL can manage sharding, readwrite-splitting and other feature rules, but it has not yet provided support for global rules (authority and transaction).
So I suggest to add a syntax to query authority rule: `SHOW AUTHORITY RULE`.

And the content of authority rule should includes users and provider information:
#### ALL_PRIVILEGES_PERMITTED
[code]
#### SCHEMA_PRIVILEG

[2021-12-20 01:19] 65725738 commented on #14103
I don't want to configure table rules one by one, I have thousands of tables.  I need to configure only the database policy.  all database have exactly the same table structure, and I decide which database to route to based on the ID.

[2021-12-20 01:21] RaigorJiang opened #14164 "[DistSQL] Add a syntax `SHOW TRANSACTION RULE`"
Refer to #14163,
add a syntax to query transaction rule: `SHOW TRANSACTION RULE`.

And the content of transaction rule should includes `defaultType` and `providerType`:

[code]

[2021-12-20 01:35] EarthXuan commented on #14128
Thanks~

[2021-12-20 01:57] 65725738 commented on #14103
Multi-tenant, one database per tenant. and have thousands of tables.

[2021-12-20 02:09] tuichenchuxin commented on #14103
@65725738 Sorry to tell you it must config sharding tables, and you can only config default database strategy,but you should config sharding tables first.

[2021-12-20 02:14] zjcnb commented on #13830
@zt9788 I think this problem are fixed, refer to : #14137. Can you hava a try?

[2021-12-20 02:18] menghaoranss commented on #14107
welcome.

[2021-12-20 02:44] RaigorJiang commented on #14163
We can get global rule from globalRuleMetaData:
<img width="983" alt="WX20211206-180928@2x" src="https://user-images.githubusercontent.com/5668787/146704346-d070521d-ce29-4d91-a8c5-78e6a3f2a926.png">

[2021-12-20 02:56] jingshanglu commented on #13801
@HCTzz Can you show the sql send to shardingsphere from Seata?

[2021-12-20 03:54] penghuazhou commented on #13738
thanks

[2021-12-20 03:55] SirMin commented on #13602
I think has two treatment methods
1. Camel case is not supported. But must tip message instead of NPE
2. In the springboot 2.x version, the Camel Case converted to - separated

[2021-12-20 05:29] #14128 closed

[2021-12-20 05:57] yx9o commented on #14164
I want to try this.

[2021-12-20 06:04] caohuanglin opened #14169 "Cannt connect to proxy with Data Grip"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-20 06:47] lanchengx commented on #14169
Hi @caohuanglin, The support for DataGrip has yet to be improved. Suggested reference [FAQ](https://shardingsphere.apache.org/document/current/cn/reference/faq/#proxy-%E5%9C%A8%E4%BD%BF%E7%94%A8-shardingsphere-proxy%E6%97%B6%E6%80%8E%E4%B9%88%E4%BD%BF%E7%94%A8%E5%90%88%E9%80%82%E7%9A%84%E5%B7%A5%E5%85%B7%E8%BF%9E%E6%8E%A5%E5%88%B0-shardingsphere-proxy)

[2021-12-20 06:57] RaigorJiang commented on #14164
Welcome @yx9o

[2021-12-20 07:07] zt9788 commented on #13830
@zjcnb It is there have SNAPSHOT version?

[2021-12-20 07:31] caohuanglin commented on #14169
I got it. Thanks.

[2021-12-20 07:51] caohuanglin commented on #14169
It works in data grip 2020.1 with following steps.
1. declare database
![image](https://user-images.githubusercontent.com/22470050/146730530-66281ec9-674e-4500-822f-539d13397908.png)
2. select the option
![image](https://user-images.githubusercontent.com/22470050/146730929-12773534-428c-4667-8c10-0e9cc7cd3d87.png)
3. change schemas
![image](https://user-images.githubusercontent.com/22470050/146731

[2021-12-20 07:51] #14169 closed

[2021-12-20 09:03] HardyDou opened #14173 "un support sql"
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
All
### Expected behavior

### Actual behavior
![企业微信截图_16399904333675](https://user-images.githubusercontent.com/18573210/146740827-bb5aed64-334e-45b9-8db2-719a67cf9709.png)
### Reason analyze (If you can)
none
### Steps to reproduce the behavior, such as: SQL to exe

[2021-12-20 09:39] SirMin commented on #13602
![image](https://user-images.githubusercontent.com/16568907/146745509-c87fb444-dc1d-49db-b052-8dd0a7f826f5.png)
org.springframework.boot.context.properties.bind.BeanPropertyName#toDashedForm(java.lang.String, int)
The way handles case in springboot 2.0.0.RELEASE.

[2021-12-20 10:11] ReyYang commented on #14091
Hello, after my actual inspection, I found that no problems were found in the incremental update of the current situation. I look forward to your reply.

[2021-12-20 10:15] SirMin opened #14175 "sharding+group by+mysql8.x+execute() ClassCastException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-20 11:32] sandynz commented on #14091
@ReyYang That's ok. Thanks

[2021-12-20 11:32] #14091 closed

[2021-12-20 13:38] qianxuwanyu opened #14177 "DatabaseMetaData metaData = con.getMetaData(); metaData.getPrimaryKeys(）is failed"
shardingproxy  Table 'XXX.XXX' doesn't exist

[2021-12-20 14:52] #14122 closed

[2021-12-20 14:55] #13659 closed

[2021-12-20 14:57] #14035 closed

[2021-12-20 15:05] #10958 closed

[2021-12-21 01:41] #14145 closed

[2021-12-21 02:16] roodkcab commented on #14110
XA Transaction is supported [here](https://github.com/apache/shardingsphere/pull/14130)

[2021-12-21 03:11] zjcnb opened #14183 "Namespace load SPI failed when algorithm label is after rule label."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

Load spi successful.

### Actual behavior

Load spi faild.

### Load successful configuration.

[code]

### Load faild configuration.

[code]

[2021-12-21 03:32] tuichenchuxin commented on #12328
This issue can be closed. It's supported #13326

[2021-12-21 03:42] #12771 closed

[2021-12-21 03:57] strongduanmu commented on #12328
Already fixed by #13326.

[2021-12-21 03:57] #12328 closed

[2021-12-21 04:01] menghaoranss commented on #14177
could you provide more information, such as version,  log, your configuration and steps to reproduce

[2021-12-21 05:02] xue2lang opened #14187 "sharding-proxy when execute connection.setReadOnly(true) all datasource in proxy will execute "set session transaction read only""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

**sharding-proxy when execute connection.setReadOnly(true) ,all datasource in proxy will execute "set session transaction read only"**

when one connection （for datasource a）execute connection.setReadOnly(true)，other datasource b c d will change to read only，have any idea to change code

[2021-12-21 05:43] LeeGuoPing commented on #14015
I want to  do ` drop_domain`

[2021-12-21 05:50] qianxuwanyu commented on #14177
![Uploading image.png…]()

[2021-12-21 06:02] qianxuwanyu commented on #14177
-   //注册驱动程序 mysql 5+ or 8+
      DriverManager.registerDriver(new com.mysql.jdbc.Driver());
      //获得连接
      String url = "jdbc:mysql://localhost:3307/fintax_tax_proxy?useSSL=false";
      Connection con = DriverManager.getConnection(url, "root", "root");
      //检索元数据对象
      DatabaseMetaData metaData = con.getMetaData();

      //it's ok
      ResultSet columnData = metaData.getColumns("finta

[2021-12-21 06:04] qianxuwanyu commented on #14177
import org.apache.ddlutils.model.Column;
import org.apache.ddlutils.model.Table;
import org.apache.ddlutils.platform.DatabaseMetaDataWrapper; //导入方法依赖的package包/类
import org.apache.ddlutils.platform.MetaDataColumnDescriptor;
import org.springframework.jdbc.support.JdbcUtils;

I don't know how to comment

[2021-12-21 06:05] LeeGuoPing commented on #13618
Could I have a try, brothers

[2021-12-21 06:14] xue2lang commented on #14187
@menghaoranss have any suggest

[2021-12-21 07:12] jingshanglu commented on #14187
@xue2lang Is it unreasonable that all datasources are set to `session transaction read only`? What is your use case?

[2021-12-21 08:00] xue2lang commented on #14187
@jingshanglu   your can see  test code

[2021-12-21 08:11] qianxuwanyu commented on #14177
You can see my reply code

[2021-12-21 08:17] roodkcab opened #14192 "implement COM_STATISTICS & COM_SLEEP"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

Proxy

### Expected behavior

COM_STATISTICS COM_SLEEP not implement

### Actual behavior

implement both of them just like COM_QUIT

### Reason analyze (If you can)

not implement

[2021-12-21 08:19] #13998 closed

[2021-12-21 08:38] CrackerSuperior commented on #14163
Can I try again?

[2021-12-21 08:50] sid-ihycq opened #14194 "Aggregations such as max, sum, count got NullPointerException using 5.0.0"
## Bug Report

I build my project just follow the case in official doc and found both of those sql below will got NullPointerException
[code]

Exception in thread "main" java.lang.NullPointerException
	at org.apache.shardingsphere.sharding.merge.dql.groupby.GroupByMemoryMergedResult.getValueCaseSensitiveFromTables(GroupByMemoryMergedResult.java:134)
	at org.apache.shardingsphere.sharding.merge.dql

[2021-12-21 09:21] strongduanmu commented on #14194
Hi @sid-ihycq, can you try the master branch? I think this bug has been fixed.

[2021-12-21 10:09] MingxingLAI commented on #12479
I am willing to solve this problem, Please assign to me. @terrymanu

[2021-12-21 10:14] RaigorJiang commented on #14163
@CrackerSuperior  Sure, welcome to be a contributor, I just assign it to you.

[2021-12-21 10:29] #14067 closed

[2021-12-21 10:57] menghaoranss opened #14200 "Travis CI build failed"
[code]

[2021-12-21 11:00] strongduanmu commented on #12479
@MingxingLAI Welcome.

[2021-12-21 14:17] flycash commented on #14061
# Change Scope
I check the documents and the source code, and I may miss something, feel free to let me know.
## Parser
### Add a new module shardingsphere-sql-parser-hbase
- antlr4: don't need to write all rules, can add more rules if needed
- hbase parser package:
    - `HBaseLexer`
    - `HBaseParser`
    - `HBaseParserFacade`
- hbase visitor package:
    - `HBaseDMLStatementSQLVisitor`: only s

[2021-12-21 14:39] GreekPanda opened #14206 "Sql statement failed to run if upper cases, with error Runtime exception: [Cannot invoke method mod() on null object]"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-21 17:11] linghengqian opened #14207 "Maven Wrapper should be upgraded"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No.
### Describe the feat

[2021-12-22 01:20] strongduanmu commented on #14206
Hi @GreekPanda, thank you for your feedback. Can you try the master branch? This issue has been fixed by #14168.

[2021-12-22 01:23] strongduanmu commented on #14175
@SirMin Thank you for your feedback, I will investigate this issue.

[2021-12-22 01:55] strongduanmu commented on #14175
Hi @SirMin I used the demo that you provided for testing, but there was no exception.

[code]

[2021-12-22 02:13] Roy-luoxiaosong commented on #5970
@gongguoyu  have you resolved this issue , i was involved into this issue . but i can't downgrade to 4.0.0-RC1,  since the XA transaction of this version is not work .

[2021-12-22 02:29] jiangtao69039 opened #14211 "The antlr4 grammar file does not recognize the variables in the mysql create function statement"
## Bug Report
mysql syntax file may be wrong. I found that it may be caused by the declareStatement grammar rules(line 682) in the DDLStatement.g4, The "variable" grammar rules  it refers to must start with '@' .

example:
[code]
![img](https://tttz.gitee.io/pic/ast/mysqlfun.png)

[2021-12-22 02:47] strongduanmu commented on #14211
@tuichenchuxin Can you help check this issue?

[2021-12-22 02:47] tuichenchuxin commented on #14211
@strongduanmu Ok, I'll check it.

[2021-12-22 03:17] RaigorJiang commented on #11331
Hi all, there is already a new issue to deal with sql hint, so I will close this one.
Please refer to #13771.

[2021-12-22 03:17] #11331 closed

[2021-12-22 03:36] TeslaCN commented on #14200
Thanks to @totalo found the problem of Travis CI. The authorized can clear the caches.
After clearing the cache, the build succeed. https://github.com/apache/shardingsphere/runs/4601932117
![image](https://user-images.githubusercontent.com/20503072/147021657-84da5299-3320-4083-b591-fc85c62c86e9.png)

[2021-12-22 03:36] #14200 closed

[2021-12-22 03:44] jiangtao69039 commented on #14211
the same problem with "select into" statement ;
example:

[code]

[2021-12-22 05:27] zjcnb opened #14216 "The first time set proxy prop not take effect."
### Which version of ShardingSphere did you use?

master.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy.

### Expected behavior

first time set proxy props take effect.

### Actual behavior

not take effect.

### Reason analyze (If you can)

Maybe less one event.

### Intuitive performance

![image](https://user-images.githubusercontent.com/3374

[2021-12-22 05:42] gong-ming opened #14217 "RAL Syntax document properties configuration are not found"
<img width="1825" alt="34abb8ce489f047d165c911d7ba8a42" src="https://user-images.githubusercontent.com/96513670/147041632-f03a5ec6-4912-4a92-a05e-c9cd5efe99c5.png">

[2021-12-22 05:43] gong-ming commented on #14217
I will fixed it.

[2021-12-22 05:56] #14216 closed

[2021-12-22 06:03] xue2lang commented on #14187
my question is，why one dal command will effect all schema，i think one tcp session will only effect its schema

[2021-12-22 06:03] menghaoranss commented on #14177
which  version of proxy did you use, could you provide the proxy yaml configuration?

[2021-12-22 06:13] qianxuwanyu commented on #14177
apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin  or 4.x all

[2021-12-22 06:13] qianxuwanyu commented on #14177
apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin or 4.x  all cant not be success

[2021-12-22 06:15] qianxuwanyu commented on #14177
[code]

[2021-12-22 06:16] jingshanglu opened #14220 "select result duplicate on proxy with OG"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-22 06:57] #14217 closed

[2021-12-22 07:04] #14220 closed

[2021-12-22 08:21] himanshu007-creator commented on #14032
I am unable to clone repo in my computer, errors occur because of long file names

[2021-12-22 08:34] zgq7 opened #14224 "org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax"
my project dependency version：
- springboot 2.1.7
- shardingsphere-jdbc-core-spring-boot-starter 5.0.0
- mybatis-plus 3.2.0
-  mysql 5.1.27
- mysql-connector 8.0.17

***
i customed xml sql like :
[code]
it‘s worked like :
[code]
when i haven't add sharding-jdbc in my project it worked normally。

but it occured error when I use it after i add sharding-jdbc in my project :

[code]

you can reproduce

[2021-12-22 08:36] roodkcab opened #14226 "MySQLXAStatement is not allowed in MySQLComStmtPrepareChecker"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
XA Statement should be ok when using prepare.

### Actual behavior
Exception throwed

### Reason analyze (If you can)
MySQLComStmtPrepareChecker didn't allow MySQLXAStatement to execute

[2021-12-22 08:56] SirMin commented on #14175
I provided success and exception case
![image](https://user-images.githubusercontent.com/16568907/147065109-0515f7cd-0c1d-4b71-9e60-1fea80d48a4d.png)
You need to open the comment

[2021-12-22 09:04] zjcnb commented on #14156
Can you provider your configuration?

[2021-12-22 09:55] TeslaCN opened #14229 "Borrowing too many connections when executing Batch Bind without transaction in openGauss Proxy"
## Bug Report

### Which version of ShardingSphere did you use?
master - 1a9c35ef2d8b8a2d92c563cf1eabe0bd152cb41a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

Batch insert succeed.

### Actual behavior

Client logs:
[code]

Proxy logs:
[code]

### Reason analyze (If you can)

When without transaction, connections will be

[2021-12-22 10:04] lanchengx commented on #14032
please  refer [FAQ](https://shardingsphere.apache.org/document/current/en/reference/faq/#other-in-windows-environmentwhen-cloning-shardingsphere-source-code-through-git-why-prompt-filename-too-long-and-how-to-solve-it)

[2021-12-22 10:04] #14229 closed

[2021-12-22 10:23] strongduanmu commented on #14175
@SirMin Thank you, I will check it again.

[2021-12-22 10:37] strongduanmu commented on #13326
Already support.

[2021-12-22 10:37] #13326 closed

[2021-12-22 10:50] jingshanglu commented on #14187
@xue2lang Maybe it is a bug.

[2021-12-22 11:38] roodkcab opened #14234 "improve xa document style"
## Improvement

xa sqls should be wrap in code block in [document](https://shardingsphere.apache.org/document/current/cn/features/transaction/use-norms/xa/).

[2021-12-22 11:53] #14234 closed

[2021-12-22 12:10] strongduanmu commented on #14224
@zgq7 Thank you for your feedback, we will investigate this issue.

[2021-12-22 12:45] dongzl commented on #14015
I will do:

- `create_language`
- `alter_language`
- `drop_language`

[2021-12-22 13:37] GreekPanda opened #14238 "shardingsphere-jdbc-core-spring-boot-starter doen't work on nacos yml based on springcloud Alibaba(2.1.4.RELEASE)"
## Bug Report

### Which version of ShardingSphere did you use?
shardingshpere 5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Can read the properties from nacos based on springcloud project successfully
### Actual behavior
Failed to parse properties from nacos
### Reason analyze (If you can)
Maybe confict with springboot

[2021-12-22 14:58] #14226 closed

[2021-12-22 15:21] GreekPanda opened #14242 "Cannot use mod() on this number type: java.math.BigDecimal, it's should be fixed."
I've reviewed the issue #13857 , but I don't know your guys what to fix it or not, it's a big issue to my history code if not supported with BigInteger, I can't change all code from BigInteger to Long, it's impossible.

MySQL: mysql  Ver 8.0.25 for Linux on x86_64 (MySQL Community Server - GPL)
JDBC: mysql-connector-java 8.0.11
HikariCP: 2.7.8

[2021-12-22 15:29] cheese8 commented on #13596
Any examples or related issues to show what is the incorrect binding table settings? @strongduanmu

[2021-12-22 16:04] EarthXuan opened #14244 "Will sharding-proxy support load data？"
Such as title，Will sharding-proxy support load data？
i use .net core MySQLBulkLoader .Unfortunately，it does not work，when i connect to sharding-proxy（5.0.1->master）.

[2021-12-22 17:56] terrymanu opened #14246 "Fix test case MySQLDataSourcePreparerTest"
Some changes in #14243 and broken the test case MySQLDataSourcePreparerTest, please mock and fix it.

[2021-12-22 17:57] terrymanu commented on #14244
Duplicate with #12789

[2021-12-22 17:58] #14244 closed

[2021-12-22 18:00] terrymanu commented on #14207
Could you try to submit a pull request?

[2021-12-23 00:27] cheese8 opened #14248 "should throw ShardingSphereException while the SQL clause was not support in encrypt rule."
should throw ShardingSphereException while the SQL clause was not support in encrypt rule.

The SQL clause '%operator%' is unsupported in encrypt rule.

For example, the operator ">" as below sql:

LogicSQL:
select t_account.certificate_number, t_account.amount, t_account_bak.certificate_number from t_account, t_account_bak where t_account.certificate_number = t_account_bak.certificate_number and

[2021-12-23 01:07] strongduanmu commented on #14248
Hi @cheese8, thank you very much for your issue, but I don’t think we should add this check, because some users of ShardingSphere have implemented the encryption algorithm by themselves, and the numerical value can still be a numerical
 value after being encrypted. In this case, the encrypted field It is possible to perform `>` operations.

[2021-12-23 01:07] LeeGuoPing commented on #14015
I want to do

1. create_schema

1. drop_schema

[2021-12-23 01:31] linghengqian commented on #14207
Yes, I'd like to deal with that.

[2021-12-23 01:56] CrackerSuperior commented on #14163
![image](https://user-images.githubusercontent.com/45088781/147175796-fa59374d-a870-4aa2-bb94-b9dd695dfb28.png)
how about this? :)

[2021-12-23 02:10] RaigorJiang commented on #14163
Looks well, looking forward to your PR.

[2021-12-23 02:17] challengeof commented on #10841
@strongduanmu Hi I submitted a PR fixed this issue please help review. #14214

[2021-12-23 02:20] strongduanmu commented on #10841
Hi @jingshanglu, can you help review this pr #14214.

[2021-12-23 02:24] zjcnb commented on #14238
@GreekPanda Hi, can you provider a demo project?

[2021-12-23 02:45] tuichenchuxin commented on #14224
@zgq7 I have tried this sql
`show tables like ?`
In original JDBC. It can't be supported in mysql, So I think we should not support this.

[2021-12-23 03:09] zgq7 commented on #14224
maybe you didn't understood my means，'show tables like ? ' is not the original jdbc sql，it is compiled by mybatis,
then parse the sql by sharding-jdbc SQLParseEngine。
I think you shoud run my junit test and reply me in github，becuase now there more problems in my project afted added sharding-jdbc。

thanks!

At 2021-12-23 10:45:11, "tuichenchuxin" ***@***.***> wrote:

@zgq7 I have tried this sql
sh

[2021-12-23 03:14] wl4g opened #14251 "Does it support consistent hash fragmentation strategy? To solve the problem of sharding scaling? I am reluctant to use scaling to re-migrate data because it is too troublesome"
If it supports consistent hash fragmentation, where is there an example to configure it?

[2021-12-23 03:16] wl4g commented on #14251
If it supports consistent hash fragmentation, where is there an example to configure it?

[2021-12-23 03:27] tuichenchuxin commented on #14224
@zgq7 I found before reply is a mistake, So I delete it. :)
Original JDBC can support this sql `show tables like ? `. But not by prepareStatement.
I'll figure out how to support this sql in ShardingSphere.

[2021-12-23 03:38] sid-ihycq commented on #14194
@strongduanmu Yes, I think it's becauseof my inline expression is like  test${0..1}.OrderItem_${0..1} , change to test${0..1}.order_item_${0..1} using java api it seems be resloved.

[2021-12-23 03:47] zgq7 commented on #14224
@tuichenchuxin

[code]
it alse occure a error，because there has a column which name is rank ...

[code]

if the column name is ranke，the case will pass 。:bug::bug::bug:

maybe these are still many sql parse problems in my project ，do you have good advice for me ?

[2021-12-23 03:50] TeslaCN opened #14253 "Positional parameter was not recognized correctly in SQL parser of PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?
master - c1a16459dacfaadc5670dc80065f4ffb9ac1a685

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
PostgreSQL SQL parser.

### Expected behavior

Consider the following SQL:

[code]
The `$1` is a positional parameter of prepared statement. The placeholder `?` is the syntax of `JDBC`, but not the syntax of P

[2021-12-23 04:00] menghaoranss opened #14254 "Support automatic generation of instanceId for Memory/Standalone/Cluster mode"
We must manually configure the `work-id` for distributed key generator algorithm just as follows:

[code]

For the cluster mode, we cannot specify different `work-id` for all instances. Therefore, we consider using the automatically generated `instance-id` instead of the manually configured `work-id`, and provide different generation algorithms for the Memory/Standalone/Cluster mode. After that, w

[2021-12-23 04:06] tuichenchuxin commented on #13759
Rank is not supported in mysql 8.0 but can be supported in mysql 5.7.
this is related to #13759
I think we should avoid using this keywork as a column name.

[2021-12-23 04:08] tuichenchuxin commented on #14224
@zgq7
Rank is not supported in mysql 8.0 but can be supported in mysql 5.7.
this is related to #13759
I think we should avoid using this keywork as a column name.
And I'll support rank in shardingsphere later.

[2021-12-23 04:12] menghaoranss commented on #14047
@Ahoo-Wang we need to integrate ShardingSphere's cluster mode to get instanceId instead of `work-id`, and I have opened this issue #14254 to create instanceId for 3 modes of ShardingSphere, therefore, I will reopen the issue until we finish all the work.

[2021-12-23 04:18] zjcnb commented on #13552
refer to #13902

[2021-12-23 04:18] #13552 closed

[2021-12-23 04:28] zgq7 commented on #14224
@tuichenchuxin
OK，I knew , thakn you for your reply 👍

[2021-12-23 04:34] strongduanmu commented on #14194
@sid-ihycq The actual table name must be consistent with the database.

[2021-12-23 04:35] strongduanmu commented on #14194
@sid-ihycq Since this issue has been resolved, can we close this issue?

[2021-12-23 05:33] wsm12138 opened #14257 "There is an error in the official document"
## There is an error in the official document
- https://shardingsphere.apache.org/document/current/cn/quick-start/shardingsphere-proxy-quick-start/
   - https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/configuration/

![image](https://user-images.githubusercontent.com/86462784/147192873-8c3063ef-77b6-4e9f-b272-87409dd37c66.png)
![image](https://user-images.git

[2021-12-23 05:38] Ahoo-Wang commented on #14047
@menghaoranss ok, that's right.

[2021-12-23 06:05] RaigorJiang commented on #14257
Hi @wsm12138
Thanks for your feedback, do you want to fix it?

[2021-12-23 06:27] RaigorJiang commented on #14242
Hi @GreekPanda
BigInteger cannot use the mod function, and you use a modular sharding algorithm, which is the cause of the exception.
ShardingSphere provides a general solution, but also provides the ability to expand. If you have a special scenario, you can choose to implement your own sharding algorithm and use the BigInteger type in the algorithm.

Here is an example of a custom algorithm:
http

[2021-12-23 06:37] sid-ihycq commented on #14194
@strongduanmu yeah you can close it. but before, i‘d like to say, shouldn't the table name be consistent with my inline expression？hibernate auto create tables with it, but aggregations doesn't？

[2021-12-23 06:43] jast90 opened #14259 "Always throwing exceptions msg: Database type inconsistent with '%s' and '%s'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-23 06:52] wsm12138 commented on #14257
@RaigorJiang NO,thanks ⁽⁽ଘ( ˙꒳˙ )ଓ⁾⁾

[2021-12-23 07:03] jast90 commented on #14259
maybe as follow:
[code]

[2021-12-23 07:11] #14259 closed

[2021-12-23 07:43] linjikun opened #14261 "shardingsphere 5.0.0 seata 1.4.2 deal transaction fail"
when I upgrate  shardingsphere 5.0.0-alpha to 5.0.0
seata XID is null

![微信图片_20211223154317](https://user-images.githubusercontent.com/33478843/147206020-09990d18-84c4-4316-ab9b-b6eef611ae64.png)

[2021-12-23 07:46] NOLouser commented on #13541
@strongduanmu
Excuse me, will this bug be fixed in next 5.1.0,  and when will it be released?

[2021-12-23 07:53] roodkcab opened #14262 "xa recover got exception when encrypt rule configured"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
`xa recover` should work when used with encrypt

### Actual behavior
exception occured
[code]

[2021-12-23 07:53] strongduanmu commented on #14194
@sid-ihycq The actual table must be consistent with the database, because the metadata of ShardingSphere will be loaded according to the actual table. Inconsistent case may result in the metadata not being loaded.

[2021-12-23 07:53] #14194 closed

[2021-12-23 07:55] strongduanmu commented on #13541
Yes, this bug has been fixed in master branch. You can try it.

[2021-12-23 07:55] roodkcab opened #14263 "xa recover return nothing when using server side prepare"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
`xa recover` should return xid for transaction not commited.

### Actual behavior
nothing returned

[2021-12-23 08:27] userkdg opened #14264 "navicat premium 15 cannot open visual panel"
### Which version of ShardingSphere did you use?
the lastest master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
can connected and open visual panel

### Actual behavior

[code]

### Reason analyze (If you can)

[code]
proxy parser sql error

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule confi

[2021-12-23 08:36] RaigorJiang commented on #14257
Haha, alright, thank you.

[2021-12-23 08:41] lanchengx commented on #14264
The compatibility of the client to the Proxy needs to be improved. For the client, please refer to [FAQ](https://shardingsphere.apache.org/document/current/cn/reference/faq/#proxy-%E5%9C%A8%E4%BD%BF%E7%94%A8-shardingsphere-proxy%E6%97%B6%E6%80%8E%E4%B9%88%E4%BD%BF%E7%94%A8%E5%90%88%E9%80%82%E7%9A%84%E5%B7%A5%E5%85%B7%E8%BF%9E%E6%8E%A5%E5%88%B0-shardingsphere-proxy)

[2021-12-23 08:53] CheerwayRen opened #14266 "when an exception is encountered during the execution of an SQL statement, the exception is caught and not thrown"
The version I use is
  <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core</artifactId>
            <version>5.0.0-beta</version>
  </dependency>
When I do not specify the primary key, the insert statement will throw an SQLExceptionis :
java.sql.SQLIntegrityConstraintViolationException: Column 'XXX' cannot be null
When the program

[2021-12-23 08:57] CheerwayRen commented on #14266
@strongduanmu Please take a look,for problems encountered in our production environment, can I print and throw exceptions here by changing the source code? Will there be other bad effects, such as transaction rollback,thank you

[2021-12-23 09:12] #14264 closed

[2021-12-23 09:35] CheerwayRen commented on #14266
<img width="649" alt="0b268df76044b28512c4918ecac9993" src="https://user-images.githubusercontent.com/38515283/147220293-9dc0eceb-ec70-4b03-9ef6-5ca69b7252a8.png">
I noticed that exceptions should not be caught before this submission
https://github.com/apache/shardingsphere/commit/b0cf0bbd4569872291713d4dabb600f0c07e3c18#diff-b965bae70667f28d20f73adf4eba6c3d6c25b8b4a9a82f7801e6eb5b22413608
 Can I

[2021-12-23 10:33] tuichenchuxin commented on #13792
I have update my[ example demo](https://github.com/tuichenchuxin/extract-sql-for-shardingsphere-parser-test)
Now, it can get all unsupported sql from postgreSql and mySql.
And I get two unsupported file. So this issue can be closed.

[2021-12-23 10:33] #13792 closed

[2021-12-23 10:42] tuichenchuxin commented on #14015
I have tested sql case from [mysql case ](https://github.com/mysql/mysql-server/tree/8.0/mysql-test/t)and [postgresql case](https://github.com/postgres/postgres/tree/master/src/test/regress/sql)
By using this [program](https://github.com/tuichenchuxin/extract-sql-for-shardingsphere-parser-test)
And then I get two unsupported sql files.
[mysql unsupported sql](https://github.com/tuichenchuxin/extra

[2021-12-23 11:04] NOLouser commented on #13541
This bug still exists in master branch!

[2021-12-23 11:31] strongduanmu commented on #13541
@NOLouser Please check whether all the tables configured in your actualDataNode exist. This issue solves the existence of the table, but the metadata is abnormal due to the capitalization issue.

[2021-12-23 11:43] NOLouser commented on #13541
@strongduanmu
![image](https://user-images.githubusercontent.com/40658641/147235126-9a092379-05d5-40dd-84f9-854fa3a02a60.png)
![image](https://user-images.githubusercontent.com/40658641/147235746-c654c12a-32c2-4cf6-bb4b-e11cc31acfa3.png)
![image](https://user-images.githubusercontent.com/40658641/147235694-03909406-60de-426c-84d7-522a1e3b4e3f.png)

[2021-12-23 11:44] strongduanmu commented on #14266
Hi @CheerwayRen, thank you for your feedback, this bug has been fixed by version 5.0.0. I think you can try to upgrade to this version.

[2021-12-23 11:47] strongduanmu commented on #13541
@Jenyow From your debug information, I can see that the metadata is somewhat abnormal. Can you create a new issue to report this problem?

[2021-12-23 11:58] zhfeng commented on #14263
what is you mean ```server side prepare``` ?

[2021-12-23 12:25] NOLouser opened #14273 "If multiple logical tables map to one actual table, aggregations such as max, sum, count will get NullPointerException using shardingsphere-jdbc 5.0.0"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-23 12:28] NOLouser commented on #13541
@strongduanmu
Ok, you can look at this question.
[Aggregations such as max, sum, count got NullPointerException using shardingsphere-jdbc 5.0.0](https://github.com/apache/shardingsphere/issues/14273)

[2021-12-23 12:38] CheerwayRen commented on #14266
I just read the latest code. There is no change in this part. Can you tell me if this is changed elsewhere? Is there any other place to catch exceptions?

[2021-12-23 12:47] roodkcab commented on #14263
it means prepare sql in mysql server. some mysql clients like PDO can emulate sql prepare themselves.

[2021-12-23 13:46] zhfeng commented on #14263
So you use https://www.php.net/manual/en/pdo.prepare.php ? and this method is called after ```xa.begin()``` ?

[2021-12-23 14:54] #14107 closed

[2021-12-23 15:01] terrymanu opened #14278 "Add test cases for JDBCDataSourceYamlConfigurationSwapper"

[2021-12-23 15:02] #14257 closed

[2021-12-23 15:06] #10841 closed

[2021-12-24 00:36] strongduanmu commented on #14273
@NOLouser Please first confirm whether all actual tables corresponding to the `dep_task_info_hint` table exist. ShardingSphere will randomly select an actual table to load when loading metadata and store it in the metadata corresponding to the logical table.

[2021-12-24 00:42] strongduanmu commented on #14014
Since there is no reply for a long time, I will close this issue. If there is still a problem, please submit issue feedback, thank you.

[2021-12-24 00:42] #14014 closed

[2021-12-24 00:44] strongduanmu commented on #14266
Hi @CheerwayRen, for more detail, you can refer to #10844.

[2021-12-24 01:48] ReyYang opened #14281 "Modify the slot occupation exception caused by PostgreSQL in multiple data sources"
## Bug Report

### Which version of ShardingSphere did you use?
Version 5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
PostgreSQL successfully migrated during data migration of multiple data sources

### Actual behavior
PostgreSQL has an exception of slot occupancy during data migration of multiple data sources

### Re

[2021-12-24 01:48] strongduanmu opened #14282 "[New feature] Add new traffic rule to implement JDBC request forwarding to Proxy"
In some scenarios, the application and the database may be deployed in different network regions. The application uses the JDBC adapter to connect to the database in another network region. Because the JDBC adapter consumes a lot of connections and more cross-network region connections will inevitably lead to a decrease in query performance.

In addition, for some SQL that takes up a lot of memory

[2021-12-24 02:11] roodkcab commented on #14263
yes

the call stack is like below
[code]

[2021-12-24 02:15] zjcnb commented on #14261
@linjikun Hi, I think this problem are fixed at master branch, you can try.

[2021-12-24 02:28] SirMin commented on #14175
@strongduanmu
this way only case by case.
jdbc type convert is very complex. I think you need to refer to the JDBC implementation, I'm found other problem,
I'm reproduced the problem. The value of the same attribute is different for the same record
**step:**
reexecute ddl and dml
execute App.java
https://github.com/SirMin/shardingsphere5.x-demo

[2021-12-24 02:33] strongduanmu commented on #14175
@SirMin Thank you for your feedback, I will check it again.

[2021-12-24 02:36] SirMin commented on #14175
@strongduanmu
This conversion can be problematic if the application and database are not in the same time zone.

[2021-12-24 02:40] GreekPanda commented on #14238
@zjcnb Hi, I'm so sorry that I can't provide a demo project which it's deeply depent on my own company spring cloud frame, I've tried to remove code from it, but it's a huge tough work. Is there any demos on spring cloud that I can reference?
By the way, I wrote a configure file in resource directory and customized data source, it worked.
Here is my configure file:

@SpringBootApplication(exclude

[2021-12-24 02:44] strongduanmu commented on #14175
How can I get time zone info from application?

[2021-12-24 02:45] zjcnb commented on #12511
This unit test has been added.

[2021-12-24 02:45] #12511 closed

[2021-12-24 02:48] SirMin commented on #14175
@strongduanmu
The mysql JDBC Driver 8.x getTimestamp method converts the time using the url's serverTimeZone

[2021-12-24 02:50] strongduanmu commented on #14175
@SirMin It can be seen that you have done a lot of research on JDBC implementation. Are you interested in submitting a PR to support different types of processing?

[2021-12-24 02:55] linjikun commented on #14261
@zjcnb ,thank you for your answer,I will try it later

[2021-12-24 02:59] SirMin commented on #14175
@strongduanmu
I'm looking at the implementation of mysql, and I'm worried that different implementation types are handled differently.
Let me try to implement that

[2021-12-24 03:09] zjcnb opened #14285 "No use database, execute select now() no response."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

![image](https://user-images.githubusercontent.com/33742097/147311229-73ec16e5-050c-4619-b395-41a0051afb3a.png)

### Actual behavior

![image](https://user-images.githubusercontent.com/33742097/147311254-aed42acc-6ae

[2021-12-24 03:10] LeeGuoPing commented on #14285
May I have a try

[2021-12-24 03:12] MingxingLAI commented on #14101
@strongduanmu I has modified based on our discussion.

[2021-12-24 03:24] zjcnb commented on #14285
@LeeGuoPing Hi, I think proxy must be use database. So, i will close it.

[2021-12-24 03:24] #14285 closed

[2021-12-24 03:42] zhfeng commented on #14263
well, I think ```PDO::prepare``` does not relate to any xa transaction context. And  it will not change the xa state in the server. So ```xa recover``` returns nothing is expected. Maybe I misunderstand the php prepare ? But I cannot find some hints in php manual which implictly makes the xa transaction into prepare state after this invoking.

[2021-12-24 03:52] strongduanmu opened #14287 "CalciteContextException occurs when I execute the federation query after adding a table"
## Bug Report

### Which version of ShardingSphere did you use?

deb88dd561b45c347097f6eeca33ed52e100b17d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM t_order o INNER JOIN t_order_item i ON o.order_id = i.order_id WHERE o.order_id = 1;` successfully.

### Actual behavior

[code]

### Reason analyze

[2021-12-24 05:31] NOLouser commented on #14273
@strongduanmu
Hi, this is [my github demo](https://github.com/NOLouser/shardingsphere5.0.0_demo).Please read README.md and do it.

[2021-12-24 05:34] roodkcab opened #14290 "etcd in bound message size out of limit when starting shardingsphere"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
cluster mode with etcd should start without problem

### Actual behavior
fail to start with exception
[code]

### Reason analyze (If you can)
there are about 1300 tables in a single database, when get all of metadata from e

[2021-12-24 06:57] yanyuyaol commented on #14156
yml：
shardingsphere:
    datasource:
      names: ds0
      ds0:
        driver-class-name: com.mysql.jdbc.Driver
        type: com.alibaba.druid.pool.DruidDataSource
        hikari:
          minimumIdle: 2
          maximumPoolSize: 300
          idleTimeout: 120000
          connectionTimeout: 300000
          leakDetectionThreshold: 300000
    sharding:
      tables:
        con_video_inject:

[2021-12-24 07:00] yanyuyaol commented on #14156
yml:
![image](https://user-images.githubusercontent.com/96333264/147327043-fca7d41c-ccbd-4ab3-b5fd-5a192e219da5.png)
pom：
![image](https://user-images.githubusercontent.com/96333264/147327186-bcc513bd-e977-43c0-9cc7-040e37001c39.png)

[2021-12-24 07:08] NOLouser commented on #14273
@strongduanmu
Hello, I have found the cause of the problem. The location of the problem is org.apache.shardingsphere.sharding.metadata.ShardingTableMetaDataBuilder#getTableMetaDataMap. If multiple logical tables map to one actual table, it will only contain one logical table.
![image](https://user-images.githubusercontent.com/40658641/147327494-92f50cd4-9725-49e2-a47d-13ad45eb389f.png)

[2021-12-24 07:53] roodkcab commented on #14262
[code]
`EncryptResultDecoratorEngine` returns a `TransparentResultDecorator` which in turn receive a `EncryptRule` instead of `TransparentRule` in decorate method

[2021-12-24 07:55] zhaoliansheng opened #14295 "Try to use config-shadow.yaml and DistSQL add shadow rules,but produces two different results"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-24 08:54] tuichenchuxin commented on #14273
@NOLouser Yes, it will only load one table, because sharding tables are all same, so for tableMetaData, we only need one table.

[2021-12-24 09:19] sanyud24 commented on #14083
Hi, I would like to work on this issue.

[2021-12-24 09:33] git-chenhao opened #14299 "app-proxy occasionally takes a long time to obtain a connection"
ShardingSphere-Proxy 5.0.0-Alpha

HikariCP 4.0.4-SNAPSHOT

### Expected behavior
Application -> Proxy
HikariCP HikariDataSource.getConnection() Less than 1s
metrics hikaricp_connections_acquire_seconds_max < 1s

Proxy-DB
metrics hikaricp_connections_acquire_seconds_max < 1s

### Actual behavior
Application -> Proxy
many times hikaricp_connections_acquire_seconds_max 3s around
![image](https://user

[2021-12-24 09:49] NOLouser commented on #14273
@tuichenchuxin
Hi, this is not the problem I want to point out. I want to say,  if multiple logical tables map to one actual table(like logicTable t_order, t_order_hint all map to one actualTable t_order_202112 ), it will only create one logicTable tableMetaData(the other logicTable tableMetaData will be lost), and it will cause problems when using the lost logicTable tableMetaData. Please take a

[2021-12-24 09:50] ziliangzeng opened #14300 "mysql querysql tablename uppercase and leftjoin tablename uppercase make query exception"
## Question
-- version
5.0.0-beta

mysql queysql tablename uppercase and leftjoin tablename uppercase make query exception

Hello, a month ago, I once asked a question that capitalizing left join of the table name will cause an exception, but now when I try again, there is no exception. I want to know if it is in 5.0.0-beta Fixed it? I used maven update before trying it.
thank you！
Previous issue

[2021-12-24 09:56] tuichenchuxin commented on #14273
@NOLouser Oh, I get the point. We didn't consider about two logic table route to one actual table. Why need this?

[2021-12-24 10:06] NOLouser commented on #14273
@tuichenchuxin
Hi, because shardingSphere not support serveral sharding strategies for one logicTable, but we can use one sharding strategy for one logicTable, and that will need serveral logicTables map to one actualTable. Please look at [this official reply](https://github.com/apache/shardingsphere/issues/8820).

[2021-12-24 10:15] tuichenchuxin commented on #14273
@NOLouser Oh, I get it. I'll fix this issue later.

[2021-12-24 10:15] NOLouser commented on #14273
@tuichenchuxin
Thanks a lot!

[2021-12-24 10:16] tuichenchuxin commented on #14273
@NOLouser By the way, are you willing to fix this problem?

[2021-12-24 10:28] #14295 closed

[2021-12-24 10:53] NOLouser commented on #14273
@tuichenchuxin
I'm sorry. I'm not very familiar with using github.

[2021-12-24 11:08] #14281 closed

[2021-12-24 11:09] #14163 closed

[2021-12-24 11:24] #14101 closed

[2021-12-24 12:14] #14287 closed

[2021-12-24 13:14] NOLouser commented on #14273
@tuichenchuxin
There are several places where this method org.apache.shardingsphere.sharding.rule.ShardingRule#findLogicTableByActualTable is used. I'm not sure if all places are affected. Or I just need to fix load tableMetaData problem?
![image](https://user-images.githubusercontent.com/40658641/147354882-9f1d1dc1-17b2-4cc0-8b41-efa885055b20.png)

[2021-12-24 15:52] #13404 closed

[2021-12-24 16:16] terrymanu commented on #14278
The class JDBCDataSourceYamlConfigurationSwapper still need to adjust, I just close this issue.

[2021-12-24 16:16] #14278 closed

[2021-12-24 16:18] #14248 closed

[2021-12-24 18:22] #14300 closed

[2021-12-25 00:28] roodkcab commented on #14299
@git-chenhao hi the problem may occurred after restart shardingsphere, it depends on how to use it. which mode do you use, cluster/standalone/memory ?

[2021-12-25 02:15] GreekPanda opened #14311 "ShardingSphere-proxy 5.0.0+Seata 1.4.2 no roll back when exception occurs on mircoservice of Spring cloud"
## Bug Report

### Which version of ShardingSphere did you use?

shardshpere 5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Work with Seata 1.4.2 can roll back correctly when use mircoservices on springcloud alibaba

### Actual behavior

Seata has been showed roll back, but shardingproxy still add a new data into MyS

[2021-12-25 02:37] Ahoo-Wang opened #14313 "guava 29.0-jre: Direct vulnerabilities:[CVE-2020-8908]"
## Bug Report

https://github.com/Ahoo-Wang/CosId/issues/13

https://github.com/advisories/GHSA-5mg8-w23w-74h3

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Upgrade to Guava 30.0-jre

[2021-12-25 02:48] jast90 commented on #2585
Can I directly modify the metadata in zookeepe and will it take effect? @terrymanu

[2021-12-25 05:48] wsm12138 commented on #13425
Hi~ @RaigorJiang
###  Which version of ShardingSphere did you use? & Which project did you use?
I used 5.0.1 snapshot ShardingSphere-Proxy reproduce the problem（commit id:ec75ec41dfc70db6696b02282471ef0934a6f98c）
### Actual behavior
When I  use DistSQL to add RESOURCE for DATABASE，the following error occurred.
![image](https://user-images.githubusercontent.com/86462784/147378121-2742b932-12e5-45b2

[2021-12-25 06:46] Ikki-Dai opened #14316 "Tenant Sharding Support"
## Feature Request

### Is your feature request related to a problem?
NO
### Describe the feature you would like.
1. Not need database support Teanat feature
2. Dynantic add or remove tenant's datasource and load sharding rules for each tenant
3. Execute tenant sharding before other sharding rules.

[2021-12-25 13:45] #14290 closed

[2021-12-25 16:20] ravenfu opened #14327 "Logic Table Name cannot be "order""
Logic Table Name cannot be **order**

otherwise, shardingsphere will throw Exception:

JDBC Connection [org.apache.shardingsphere.driver.jdbc.core.connection.ShardingSphereConnection@3ae6cc64] will not be managed by Spring
==>  Preparing: INSERT INTO order ( id, user_id, order_status, cost ) VALUES ( ?, ?, ?, ? )
Closing non transactional SqlSession [org.apache.ibatis.session.defaults.DefaultSqlSe

[2021-12-26 02:48] git-chenhao commented on #14299
@roodkcab cluster mode,  During the occurrence, shardingsphere did not restart

[2021-12-26 04:01] roodkcab commented on #14299
check the number of active connections, if all thread is occupied doing transaction, new coming connection will be hung until transaction finished.

[2021-12-26 04:07] dongzl commented on #14015
`create_conversion`
`alter_conversion `

[2021-12-26 04:08] roodkcab commented on #14299
and can you upgrade shardingsphere-proxy to the latest version ? if you use information_schema, a bug of not release connection is fixed after alpha

[2021-12-26 05:37] git-chenhao commented on #14299
Monitor the number of active connections seen above. The water level is very low, and there are a large number of idle connections.

[2021-12-26 05:40] git-chenhao commented on #14299
Do you think it is convenient to communicate with WeChat?
my wechat 15618790097

[2021-12-26 05:40] git-chenhao commented on #14299
@roodkcab

[2021-12-26 06:01] #13999 closed

[2021-12-26 10:20] agoodcoolman commented on #14100
had fixed this bug?

[2021-12-27 01:33] CrackerSuperior commented on #14327
Yes, ORDER is a keyword

[2021-12-27 01:55] jingshanglu commented on #14187
@xue2lang Are you interested in fixing this problem？we can fully discuss it first, and then fix it

[2021-12-27 02:35] tuichenchuxin commented on #14100
@agoodcoolman yes

[2021-12-27 03:00] jingshanglu commented on #14262
@roodkcab Maybe we should add a condition branch for `XA recover`.

[2021-12-27 04:35] HarrySheep opened #14334 "Oracle pagination and sorting doesn' t work properly"
## Question

What happens?
I'm using sharding-jdbc springboot, trying to perform pagination (with PageHelper) with 2 sharding tables (in Oracle).
The result sets seem like containing all the result I need, but they have not been sorted.
So I wonder if i configure it wrong or what?
I have searched for it for a long time, but I never found a proper solution.

Here's some configuration and the test c

[2021-12-27 04:44] happypleasure opened #14335 "Route table ** does not exist, available actual table"
## Exception message
 Cause: org.apache.shardingsphere.infra.exception.ShardingSphereException: Route table t_test_66 does not exist, available actual table: [t_test_00, t_test_01, t_test_02, t_test_03, t_test_04, t_test_05, t_test_06, t_test_07, t_test_08, t_test_09]] with root cause

## Dependent jar

[code]

## YAML Configuration
[code]
## Execute SQL
[code]
## Reason analyze
- use shardingsphe

[2021-12-27 04:49] agoodcoolman opened #14336 "java.lang.String cannot be cast to java.lang.Integer"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-27 04:50] agoodcoolman commented on #14336
i don't know how to fix it.

[2021-12-27 04:55] agoodcoolman commented on #14100
@tuichenchuxin hi， but  i get same question  in  sharding-jdbc-5.0.0
database type: PostgreSQL
how fixed it?

[2021-12-27 05:16] roodkcab commented on #14262
how about let TransparentResultDecorator accept all `ShardingRule` ?

[2021-12-27 05:25] zjcnb opened #14338 "Compiles have error messages."
[code]

[2021-12-27 05:31] LeeGuoPing commented on #14338
May I have a try

[2021-12-27 05:35] strongduanmu commented on #14338
@LeeGuoPing Welcome.

[2021-12-27 05:39] agoodcoolman commented on #14336
[code]

 @Query(value = "select id, name, idcard, '' as address, '' as school from (" +
            "select id, name, idcard  from csvone where  CASE WHEN COALESCE(:name,'1') = '1' THEN 1=1 ELSE name like :name% END and CASE WHEN COALESCE(:idcard,'1') = '1' THEN 1=1 ELSE idcard like :idcard%  END " +
            " union  " +
            " select id, name, idcard from csvtwo where   CASE WHEN COALE

[2021-12-27 05:41] tuichenchuxin commented on #14100
@agoodcoolman I believe we had fixed it on master branch. Can you try the master branch?

[2021-12-27 05:46] agoodcoolman commented on #14100
ok, thanks I will try it.

[2021-12-27 06:07] zjcnb commented on #14311
@GreekPanda Hi, Can you use master branch to try it again?

[2021-12-27 06:09] #13902 closed

[2021-12-27 06:10] tuichenchuxin commented on #14273
@NOLouser You can focus on fixing the load bug, But if there is something affected, then you should fixed them too.
You can refer to [this guide](https://shardingsphere.apache.org/community/en/contribute/contributor/) to submit a pr

[2021-12-27 06:13] zjcnb commented on #14311
You also download it by http://117.48.121.24:8080/

[2021-12-27 06:22] RaigorJiang opened #14340 "[DistSQL] Optimize the syntax of `CREATE SHARDING TABLE RULE`."
Hi community,

According to the existing [RDL syntax](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/), if the user wants to use the inline expression to specify shariding table nodes, before `CREATE SHARDING TABLE RULE,` he must first execute the `CREATE SHARDING ALGORITHM` to create the necessary algorithm.
For e

[2021-12-27 06:24] challengeof commented on #14175
@strongduanmu
I fixed this bug please help review.
Test please refer to the case https://github.com/SirMin/shardingsphere5.x-demo provided by the issue authors.
The time zone problem  please add serverTimezone=UTC to jdbcUrl to view the results.

[2021-12-27 06:27] #14164 closed

[2021-12-27 06:31] strongduanmu opened #14341 "Wrong result when using distinct in the aggregate function in group by query statement"
## Bug Report

### Which version of ShardingSphere did you use?

3b8dc82bfb8691f52f221ae394587bcfc03bfa9b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Return correct result.

[code]

### Actual behavior

But the result is wrong.

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL t

[2021-12-27 06:37] CrackerSuperior commented on #14340
If so, where should the name of the algorithm be specified?

[2021-12-27 06:39] strongduanmu commented on #14175
@challengeof Thank you, I will review this pr later.

[2021-12-27 07:04] agoodcoolman commented on #14336
I get the same question #14100

[2021-12-27 07:07] zhougaole opened #14342 "When there is a multiplication operation in the sql query field, the field after the operation will not be parsed"
For example：
SELECT
    A.VOUCHERLISTID,
    A.VOUCHERID,
    A.MATERIALCODE,
    A.UNITCODE,
    A.UNITNAME,
    A.MATERIALNAME,
    A.EXTTXT,
    A.NUM,
    A.PRICE,
    A.PROVIDERID,
    A.PROVIDERNAME,
    A.REMARK,
    A.BIZID,
    A.BIZLISTID,
    (A.PRICE*A.NUM) MONEY ,
    A.STOCKID,
    a.seriescodeid,
    a.sheetlistid,
    a.degree,
    a.mssserialno,
    a.brandname,
    a.model,
    a

[2021-12-27 07:35] tristaZero commented on #14340
@CrackerSuperior There is not necessary to have the algorithm name in the second case, right?

[2021-12-27 07:36] CrackerSuperior commented on #14340
In other words, is it a disposable item?

[2021-12-27 08:00] jingshanglu commented on #14262
@roodkcab Maybe  it's better to just add one `decorate` func in `TransparentResultDecorator` for `EncryptRule `.

[2021-12-27 08:23] LeeGuoPing commented on #14338
@zjcnb @strongduanmu dear brothers, please see `DataSourceConfigurationValidatorTest` 's method ` assertValidateSuccess`, finally  use HikariDataSource no argument constructor, so the pool is null . so `hikariDataSource.getHikariPoolMXBean()` is null in this test case.

![image](https://user-images.githubusercontent.com/35389145/147451111-6bf70b54-3d77-4855-af96-5046d454c68f.png)

![image](https:/

[2021-12-27 08:42] RaigorJiang commented on #14340
No, it's actually similar to the syntax of autoTable. An algorithm is automatically created, and the name is automatically generated.

[2021-12-27 08:50] CrackerSuperior commented on #14340
I want to try this, but it may take a long time for me to do it. Is this grammar urgent?

[2021-12-27 08:51] LeeGuoPing commented on #14338
And because of the error print in another thread.  so, it doesn't matter main thread, the test case works fine even thouth it has error

![image](https://user-images.githubusercontent.com/35389145/147453988-4b06db1b-d252-4e3b-b2c0-1da4580e685e.png)

[2021-12-27 08:54] RaigorJiang commented on #14340
It's a bit urgent, can I give you another issue?

[2021-12-27 08:55] CrackerSuperior commented on #14340
Haha, it's okay

[2021-12-27 08:56] terrymanu opened #14345 "Add test case for DataSourceConfiguration.getAllProperties()"
Please add into org.apache.shardingsphere.infra.config.DataSourceConfigurationTest

[2021-12-27 08:59] CrackerSuperior commented on #14340
Mainly because there is not much free time suitable for development every day. Helplessly.
:)

[2021-12-27 09:00] GreekPanda commented on #14311
@zjcnb Hi, I'll try later, thanks a lot.

[2021-12-27 09:00] menghaoranss commented on #14083
@sanyud24 welcome

[2021-12-27 09:13] RaigorJiang opened #14346 "[DistSQL] Optimize query results of `SHOW AUTHORITY RULE`"
After PR #14260, we can query authority rule through DistSQL:

![image](https://user-images.githubusercontent.com/5668787/147455967-661bd375-850c-496e-b809-fbdc0775f9aa.png)

But now anyone can see the passwords of other users, which needs to be improved.

I suggest that when users execute `SHOW AUTHORITY RULE`, only query the user name, not the secret.

[2021-12-27 09:14] zjcnb commented on #14335
@happypleasure Hi, i will check it.

[2021-12-27 09:15] RaigorJiang commented on #14346
Hi @CrackerSuperior Could you help finish it?

[2021-12-27 09:16] hhxsy opened #14347 "About information_schema schema"
## Question

I can't execute sql 'select * from information_schema.processlist' by using compute node at shardingsphere-proxy.
How can I search processlist information?

[2021-12-27 09:17] CrackerSuperior commented on #14346
ok, no problem

[2021-12-27 09:27] RaigorJiang commented on #14347
information_schema cannot describe the state of a distributed database.
ShardingSphere provides the following syntax:
- show processlist;

[2021-12-27 09:29] menghaoranss commented on #13608
@terrymanu I will follow up.

[2021-12-27 09:30] sccc803 opened #14349 "Get wrong value of some unsigned types when query with PrepareStatement via MySQL Connector/J 8.x."
### Which version of ShardingSphere did you use?
Master branch.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-Proxy

### Expected behavior
Here is a logic table called t_order, show create table:
CREATE TABLE `t_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) unsigned DEFAULT NULL,
  `name` varchar(10) DEFAULT NULL,
  PRIMARY

[2021-12-27 09:33] agoodcoolman commented on #14100
@tuichenchuxin I'm sorry to bother you. I had package a sharding-jdbc-5.0.1.jar ,but I can not execute.

could you pass  a sharding-jdbc-5.0.1.jar  to me?

[2021-12-27 09:38] GreekPanda commented on #14311
@zjcnb Hi, I've tried again and again ,I'm sure use the right version of shardingshpere-proxy-5.0.1, but the same issue, no roll back.

[2021-12-27 09:39] tuichenchuxin commented on #14100
@agoodcoolman You can refer to this https://github.com/apache/shardingsphere#nightly-builds

[2021-12-27 09:40] agoodcoolman commented on #14100
@tuichenchuxin  thank you very very very much.

[2021-12-27 10:12] menghaoranss commented on #6480
This issue contains too many unfinished tasks, It seems to be a long-term task, I will remove the milestone  @jingshanglu @tuichenchuxin

[2021-12-27 10:27] menghaoranss commented on #10695
CreateTableStatementFederateRefresher has been merged into CreateTableStatementSchemaRefresher, I will close this issue,  @yinyichao you can refer to the another issue #14083

[2021-12-27 10:27] #10695 closed

[2021-12-27 10:30] menghaoranss commented on #10964
@jasaroya We can communicate the progress of the task here at any time

[2021-12-27 10:33] goudai opened #14350 "How do I configure the dataSourceProperties of HikariDataSource"
How do I configure the dataSourceProperties of HikariDataSource .
I use the following configuration can not take effect：

[code]

[2021-12-27 10:36] NOLouser commented on #14273
@tuichenchuxin For further communication, can you send the wechat id to my email——whpnolouser@gmail.com?

[2021-12-27 10:36] menghaoranss commented on #10969
@SriSatyaT  this issue has been fixed [#12997](https://github.com/apache/shardingsphere/pull/12997) by other contributor, I will close this issue now, thanks for your feedback and look forward to seeing you here again.

[2021-12-27 10:36] #10969 closed

[2021-12-27 10:40] menghaoranss commented on #11031
@PallaviRoy We can communicate the progress of the task here at any time.

[2021-12-27 10:48] menghaoranss commented on #11156
@Swastyy I have removed unnecessary task list. This issue has been perfectly solved. Thanks for your contribution.

[2021-12-27 10:48] #11156 closed

[2021-12-27 10:54] #14341 closed

[2021-12-27 10:54] roodkcab commented on #14262
ok, What about other rules? Shall we add a special exception for `TransparentResultDecorator`, for currently exception is threw by java itself, the callstack is difficult to debug.

[2021-12-27 10:56] #14338 closed

[2021-12-27 10:58] RaigorJiang commented on #14350
Hi @goudai
Do you use ShardingSpehere-Proxy?

[2021-12-27 10:59] roodkcab opened #14351 "session schema got changed when use show statement"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
when execute `show full columns from schema.table` statement, session schema shouldn't get changed.

### Reason analyze (If you can)
`UnicastDatabaseBackendHandler` use `connectionSession.getSchemaName()` to get current sch

[2021-12-27 10:59] menghaoranss commented on #11369
@tuichenchuxin will leave the PR  which fixed this issue here

[2021-12-27 10:59] tuichenchuxin commented on #11360
It has been fixed by this pr #12332

[2021-12-27 11:01] goudai commented on #14350
I use jdbc

[2021-12-27 11:01] #11360 closed

[2021-12-27 11:06] menghaoranss commented on #11755
@cqiwencom this issue has been fixed by #13702

[2021-12-27 11:06] #11755 closed

[2021-12-27 11:08] ReyYang opened #14352 "During the incremental migration of PostgreSQL, if the update statement is executed, the `Sharding value must implements Comparable` exception will occur"
## Bug Report

### Which version of ShardingSphere did you use?
Master f2151421374e3e5a856f82a7283de4d3bb0ad154
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
PostgreSQL successfully migrated during data migration of multiple data sources
### Actual behavior
During the incremental migration of PostgreSQL, if the update stateme

[2021-12-27 11:14] menghaoranss commented on #12206
@Muhammadwasi hi, any progress here?

[2021-12-27 11:15] menghaoranss commented on #12498
@zzs52 hi, any progress here?

[2021-12-27 11:17] happypleasure commented on #14335
Waiting the reply @zjcnb

[2021-12-27 11:20] zzs52 commented on #12498
Sorry, I was not very free before, I will finish it soon

[2021-12-27 11:21] Muhammadwasi commented on #12206
Hi @menghaoranss,

I will resolve this issue asap.

[2021-12-27 11:34] menghaoranss commented on #13618
@EAHITechnology hi ,  any progress here?

[2021-12-27 11:42] #14113 closed

[2021-12-27 11:45] shankeerthan-kasilingam commented on #13758
Hey,
I have finished writing test cases. Apologies for the delay. I'll send a PR after a self review.

[2021-12-27 12:28] zjcnb commented on #14350
@goudai Hi, you can refer to this :

[code]

[2021-12-27 12:43] zjcnb opened #14357 "Persist data-source-properties to register configuration center."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-27 13:57] challengeof commented on #14311
Hi @GreekPanda Can you provide reproduce example?

[2021-12-27 16:12] shankeerthan-kasilingam commented on #13758
Hi @menghaoranss and @strongduanmu,
I have sent a draft PR. https://github.com/apache/shardingsphere/pull/14363
Could you please check it?.

TIA

[2021-12-27 16:16] shankeerthan-kasilingam commented on #14345
Would like to pick up this ticket

[2021-12-28 00:57] LeeGuoPing commented on #13990
May I have a try?

[2021-12-28 01:52] userkdg opened #14368 "on sql parser, how to parser multi sql string"
Q:
![image](https://user-images.githubusercontent.com/21057449/147518507-02fb6b13-09d8-4dc3-86a8-801fc03bdd30.png)

in shardingsphere-proxy, mysql packet#readStringEOF get the multi sql statement, then ``` org.apache.shardingsphere.proxy.backend.text.TextProtocolBackendHandlerFactory#newInstance ``` only parser the first sql statement, will ingore other sql .

sql:
[code]

use client:
![image](htt

[2021-12-28 01:57] goudai commented on #14350
[code]

![image](https://user-images.githubusercontent.com/16605628/147519242-66e71081-c178-4888-8df7-b567b12cbdfc.png)

[2021-12-28 01:57] hhxsy commented on #14347
So,How can I notice the dead lock happen and locate this lock without information_schema?

[2021-12-28 01:57] hhxsy commented on #14347
So,How can I notice the dead lock happen and locate this lock without information_schema?

[2021-12-28 02:06] zjcnb commented on #14350
![image](https://user-images.githubusercontent.com/33742097/147519675-0f19c4b2-6290-4522-9b04-683c9febc8c5.png)

Can you show me your all properties? by the way, the createDataSource() method has problem. refer to : # 14357

[2021-12-28 02:14] goudai commented on #14350
I don't use spring-boot-starter

[2021-12-28 02:16] goudai commented on #14350
[code]
# da.yaml
[code]

[2021-12-28 02:17] TeslaCN commented on #13990
Close via #14366.

[2021-12-28 02:17] #13990 closed

[2021-12-28 02:24] #13571 closed

[2021-12-28 02:24] zjcnb opened #14369 "ShardingRawYamlConfigurationExample run failed."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-28 02:26] #13771 closed

[2021-12-28 02:28] jingshanglu commented on #14262
@roodkcab Hey, i've checked it, maybe we can use `EncryptDQLResultDecorator`, what do you think?

[2021-12-28 02:28] zjcnb commented on #14350
I got it ! let 's me double check.

[2021-12-28 02:53] zjcnb commented on #14369
I try it run again, It 's ok. So, i close it first.

[2021-12-28 02:54] #14369 closed

[2021-12-28 02:59] hhxsy opened #14370 "About Data Backup Support"
## Question

I notice that it was been failed When I try to backup my data by using mysqlbinlog or mydumper tools.
And It will be cast a Error :

`Expression #6 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'information_schema.FILES.EXTRA' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by' when tryi

[2021-12-28 03:02] goudai commented on #14350
I have seen the code and it doesn’t seem to be processed, I can only do it by extending the SPI

[2021-12-28 03:05] goudai commented on #14350
# I used the following configuration and it worked

![image](https://user-images.githubusercontent.com/16605628/147523546-a08b74f1-ad59-4f62-a72f-9f13ad0d6cae.png)

[code]

[2021-12-28 03:26] menghaoranss commented on #12366
@totalo I noticed that some of the new examples could not work well, I want to confirm whether you have tested them, or that the development is not completed now.

[2021-12-28 03:59] RaigorJiang commented on #14347
It cannot be done at present, and the support for information_schema will be improved in the future.

[2021-12-28 06:59] agoodcoolman commented on #14336
this bug havd fixed in lastest version (5.0.1)

[used thid lastest version](https://github.com/apache/shardingsphere#nightly-builds)

[2021-12-28 06:59] #14336 closed

[2021-12-28 07:25] eschh19 opened #14375 "shardingsphere-jdbc.5.0.0:IllegalArgumentException: Class is not accepted: com.alibaba.druid.pool.DruidDataSource"
Caused by: java.lang.IllegalArgumentException: Class is not accepted: com.alibaba.druid.pool.DruidDataSource
	at org.apache.shardingsphere.infra.yaml.engine.constructor.ShardingSphereYamlConstructor.getClassForName(ShardingSphereYamlConstructor.java:60) ~[shardingsphere-infra-common-5.0.0.jar:5.0.0]
	at org.yaml.snakeyaml.constructor.Constructor.getClassForNode(Constructor.java:662) ~[snakeyaml-1.

[2021-12-28 07:55] #14346 closed

[2021-12-28 08:11] GreekPanda commented on #14311
Hi, @challengeof you can try this:  https://github.com/GreekPanda/springcloud-sharding-seata-demo

[2021-12-28 08:22] goudai opened #14376 "Hope to support the inlining of the sharding algorithm instead of a separate definition"
### I use the following method to configure the sub-database and sub-table. For scenarios with too many tables, the readability is very unfriendly, because it forces my sharding algorithm to be separated from the actual library and table, which makes me uncomfortable.

[code]
### If you can support the following configuration methods, I will be very grateful

[code]
## or

[code]

[2021-12-28 09:02] strongduanmu commented on #14376
Hi @goudai, thank you for your suggestion, but I think that the separate configuration will make the hierarchy less, and can reuse the sharding algorithm.

[2021-12-28 09:11] goudai commented on #14376
Algorithms that need to be reused in actual use are rare at present, but the readability of this format is disastrous. Merging together has better readability and easier troubleshooting.

[2021-12-28 09:11] zjcnb commented on #14375
@eschh19 Hi, you can refer to this configuration:

[code]

[2021-12-28 09:15] LeeGuoPing commented on #14015
`create_type`

[2021-12-28 09:15] goudai commented on #14376
When I configure more than 10 tables, sharding ds and sharding table, the configuration information makes me make mistakes with a high probability. I have to spend a lot of attention to proofread them one by one with the naked eye.

[2021-12-28 09:16] hhxsy commented on #14347
I used the command 'show processlist' then got a empty result.
Then I followed the walking and find that zookeeper request parameter plus the string  'execution_nodes' , zookeeper threw an exception that the node could not be connected.
Is this currect？
![1640682487(1)](https://user-images.githubusercontent.com/18184721/147550257-c1d48b21-5148-42fe-9da7-d43fa1cbc83a.png)

[2021-12-28 09:20] #13608 closed

[2021-12-28 09:22] strongduanmu commented on #14376
@goudai You can try distsql when you have more than 10 tables——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/.

[2021-12-28 09:27] strongduanmu commented on #14368
Hi @userkdg, thank you for your feedback. Now shardingsphere doesn't support multi sql string parse.

[2021-12-28 09:55] goudai commented on #14376
How to use it in jdbc mode

[2021-12-28 10:52] zjcnb commented on #14350
@goudai It 's cool. i 'm try to fix it.

[2021-12-28 10:52] dragonorant opened #14384 "shardingsphere-jdbc-core-spring-boot-starter 5.0.0 sharding-algorithms.${}.type:INTERVAL Please help me"
[code]
According to the above configuration, the following errors will be reported when starting
[code]

[code]
According to the above configuration, you can start normally

 the documents on the official website. That's what it says. What should I do to improve it

[2021-12-28 11:06] eschh19 commented on #14375
I change the yaml config:
dataSources:
   ds0: !!com.alibaba.druid.pool.DruidDataSource
to:
dataSources:
   ds0:
      type: com.alibaba.druid.pool.DruidDataSource
,
it throw exception as below:
Caused by: java.lang.IllegalStateException: dataSourceClassName can not be null.
	at com.google.common.base.Preconditions.checkState(Preconditions.java:589) ~[guava-29.0-jre.jar:?]
	at org.apache.shardings

[2021-12-28 11:07] zjcnb commented on #14384
@dragonorant Hi, refer to this:

[code]

[2021-12-28 11:12] zjcnb commented on #14375
Please refer to : https://github.com/zjcnb/shardingsphere-all-feature-demo/blob/origin/shardingsphere-sharding-db-table-demo/src/main/resources/application.yml

[2021-12-28 11:13] liuziyi16 opened #14386 "execute INSERT throw java.util.NoSuchElementException(JDBC+MyBatisPlus)"
It works well with shardingsphere-jdbc4.1.1
With shardingsphere-jdbc5.0+MyBatisPlus+spring-boot1.5.17, it will throw java.util.NoSuchElementException

[2021-12-28 11:30] GreekPanda opened #14387 "Failed to connect Shardingshpere-proxy 5.0.1 but successful to connect Shardingshpere-proxy 5.0.0 with Navicat Premius 15.0.9"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Can connect to ShardingSphere-Proxy with Navicat premium 15.0.9

### Actual behavior
Failt to connect

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding ru

[2021-12-28 11:37] RaigorJiang commented on #14347
Hi @menghaoranss ,
Please help us.

[2021-12-28 12:43] #14357 closed

[2021-12-28 12:46] lafaso commented on #2537
@solderAlex hello，how did you solve this question?

[2021-12-28 12:59] zjcnb commented on #14335
You can try to change `algorithm-expression: "t_test_${def num = Math.abs(user_id.hashCode() % 100); return num > 9 ? num : '0' + num}"` to  algorithm-expression: "t_test_${def num = Math.abs(user_id.hashCode() % 10); return num > 9 ? num : '0' + num}".

[2021-12-28 14:35] happypleasure commented on #14335
The expression (“t_test_${def num = Math.abs(user_id.hashCode() % 10); return num > 9 ? num : '0' + num}” ) can not match sharding rule.
actualDataNodes: write_ds0.t_test_0${0..9},write_ds1.t_test_1${0..9},write_ds2.t_test_2${0..9},write_ds3.t_test_3${0..9},write_ds4.t_test_4${0..9},write_ds5.t_test_5${0..9},write_ds6.t_test_6${0..9},write_ds7.t_test_7${0..9},write_ds8.t_test_8${0..9},write_ds9.t_

[2021-12-28 14:47] zjcnb commented on #14335
@happypleasure You can provider your demo?

[2021-12-28 14:55] zjcnb commented on #14386
@liuziyi16 Hi, Can you provide your configuration? It’s better to provide a demo.

[2021-12-28 15:37] totalo commented on #14110
I will finish
` DESCRIBE Statement
 EXPLAIN Statement
 HELP Statement
 USE Statement
`

[2021-12-29 00:46] LeeGuoPing commented on #14015
- `create_text_search_dictionary`
- ` alter_text_search_dictionary`
- ` create_text_search_template`
- ` alter_text_search_template`

[2021-12-29 00:47] #13725 closed

[2021-12-29 01:00] #14175 closed

[2021-12-29 01:23] liuziyi16 commented on #14386
Thanks for helping me so much!
Actually the problem is that sharding-jdbc-spring-boot-starter(v4.1.1) cannot support to_date() in sql.
And I find someone says it can be supported in shardingsphere-jdbc5.0.
So I want to have a try.
I would be very grateful if the problem can be solved with spring-boot2.3.2.

There is my pom
[code]

There is my application.properties
[code]

There is my sql
[code]

[2021-12-29 01:32] dragonorant commented on #14384
Thank you very much

[2021-12-29 01:33] dragonorant commented on #14384
Thank you very much

[2021-12-29 01:42] CrackerSuperior commented on #14387
Can you try to update NaviCat.
15.0.26 No problem temporarily

[2021-12-29 01:46] CrackerSuperior commented on #14376
Sorry, ShardingSphere-JDBC mode does not support DistSQL temporarily

[2021-12-29 01:53] zjcnb commented on #14386
Don't have sharding rules? Please give me all the configuration.

[2021-12-29 01:58] liuziyi16 commented on #14386
It works well with shardingsphere-jdbc4.1.1. So I don't configure sharding rules, it doesn't OK with shardingsphere-jdbc5.0?

[2021-12-29 02:00] zjcnb commented on #14386
I 'm not sure, let me see.

[2021-12-29 02:05] liuziyi16 commented on #14386
Thanks so much!

[2021-12-29 02:31] #14387 closed

[2021-12-29 02:53] challengeof commented on #14311
Hey @GreekPanda this example can't compile,  maybe because of some local dependencies.

Please provide a complete and simple example includes ddl.sql dml.sql......

[2021-12-29 04:34] #14351 closed

[2021-12-29 04:40] setamv opened #14401 "SingleTableDataNodeLoader will load sharding table by mistake when sharding table names are lowercase in db and uppercase in sharding rule config"
## Bug Report

**For English only**, other languages will not accept.

### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
sharding tables are not loaded into single org.apache.shardingsphere.singletable.rule.SingleTableRule#singleTableDataNodes
### Actual behavior
SingleTable

[2021-12-29 05:12] goudai commented on #14376
So! Can it support more diversified and flexible configuration methods, such as the one mentioned above

[2021-12-29 05:26] strongduanmu commented on #14401
Hi @setamv thank you for your feedback. Can you try the master branch? I think this bug has been fixed.

[2021-12-29 05:44] setamv commented on #14401
ok, i'll try it.

[2021-12-29 05:48] userkdg commented on #14187
What's wrong with this problem？
i met it

[2021-12-29 05:50] setamv commented on #14401
yes, the master branch has fixed the problem. thank you.

[2021-12-29 05:50] #14401 closed

[2021-12-29 05:53] setamv commented on #14401
My i ask when the version 5.0.1 will released? Is there a release plan?

[2021-12-29 06:14] strongduanmu commented on #14401
@setamv The 5.1.0 release is currently in progress, you can focus on the mailing list.

[2021-12-29 07:36] #14352 closed

[2021-12-29 07:47] liuziyi16 opened #14409 "Try to fix that using function(like to_date()) in INSERT sql will cause parameter loss problem"
## Environment Information
### - Project：ShardingSphere-JDBC
### - Version：4.0.1
### - Others：MyBatis-plus（3.2.0）

## Problem
### Executing the following sql in mapper will cause parameter loss problem
[code]
## My Solution
I find the problem happens in class **InsertValueContext** function **calculateParametersCount**
[code]
### If there is a function in sql, it is ExpressionProjectionSegment ins

[2021-12-29 07:49] SirMin commented on #14175
@strongduanmu this pr only resolve the mysql's problem

![image](https://user-images.githubusercontent.com/16568907/147638617-013a0462-4e8f-4529-a375-b92e0913459a.png)
the mysql 8.x's code in com.mysql.cj.result.BooleanValueFactory
![image](https://user-images.githubusercontent.com/16568907/147638729-ee7ab878-b9f9-4bef-934c-1a69948d86d8.png)
postgresql's code in org.postgresql.jdbc.BooleanTypeUtil

[2021-12-29 07:55] SirMin commented on #14175
I don't think ShardingSphere should support too many type conversions, but you need to prompt the corresponding information.

[2021-12-29 08:22] #14340 closed

[2021-12-29 08:25] strongduanmu commented on #14175
Hi @SirMin, can you submit a new issue to talk about this discussion?

[2021-12-29 08:41] BoBoZhu commented on #12040
@Comven can you show the correct configuration, please?

[2021-12-29 08:58] sandynz opened #14415 "ColumnMetaDataLoader.load throw exception on ShardingSphereDataSource"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit: 3b8dc82bfb8691f52f221ae394587bcfc03bfa9b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling

### Expected behavior
Load column metadata successfully.

It should be a new scernario of `ColumnMetaDataLoader.load` on ShardingSphereDataSource, which is used by

[2021-12-29 09:19] flycash commented on #11116
What's the expected result? I check the `AggregationDistinctProjectionSegment`, it remove the parentheses. So if removing the parentheses is enough, I can help to fix this.
I am not sure if we need to change the `innerExpr` to be class `ExpressionSegment`, and in most cases, the concrete class should be `ColumnSegment`

[2021-12-29 09:25] SirMin commented on #14175
@strongduanmu ok

[2021-12-29 10:37] 564155611 opened #14418 "the left join sql result handler bug"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:
### `application.properties` for [my spring boot project](https://github.com/564155611/sharding-sphere-demo "click this"):
[code]

### `t_order_1`
| order\_id | total\_amount | user\_id |
| :--- | :--- | :--- |
| 3 | 300.00 | 3 |

### `t_order_item_0`
| id | order\_id | product\_id | pro

[2021-12-29 11:18] #12889 closed

[2021-12-29 11:27] menghaoranss commented on #14345
@shankeerthan-kasilingam looking forward to you pull request.

[2021-12-29 11:37] #13553 closed

[2021-12-29 11:55] #14273 closed

[2021-12-29 12:28] #14415 closed

[2021-12-29 12:35] sandynz commented on #14415
Since `ShardingSphereDatabaseMetaData.getActualTableNamePattern` will extend table name pattern, it's not suitable for scaling.
And `ColumnMetaDataLoader` is the kernel of ShardingSphere, it's better not to change it for new scenario.

Workaround: Pipeline metadata loader is recovered and primary key loading is added for scaling.

[2021-12-29 12:40] #14032 closed

[2021-12-29 13:41] KoKo5858 opened #14425 "java.lang.NullPointerException: null at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderValuesCaseSensitiveFromTables"
使用分片机制，在执行连接查询，模拟查询语句如下：
select * from T_A a left join T_B B on a.id = B.id

报空指针异常，错误信息如下：
[code]
报错源码位置：
[code]

原因分析：
在执行查询前分片机制会解析语句中使用到哪些表，并获取各表的字段属性。这里我使用到2张表，T_A表和T_B表，但由于我使用的大写的别名，分片机制错误解析成了三张表T_A表、T_B表和B表。（如果小写别名则无该问题）分片机制在获取“B”表的时候，由于该表不存在，导致空指针异常。请教大家一下，这个问题该如何解决？

[2021-12-29 13:44] strongduanmu commented on #14425
Hi @KoKo5858, can you translate this issue to english?

[2021-12-29 14:06] Ahoo-Wang commented on #14254
@menghaoranss

In memory / standalone mode, we use JDBC(*cosid-jdbc*) as the back-end storage of machine id. and in cluster mode, we use zookeeper(*cosid-zookeeper*) as the back-end storage. What do you think?