[2021-08-18 02:41] JiekerTime commented on #11757
Looking forward to your fix!

[2021-08-18 02:59] fwhdzh commented on #10968
Hello, I want to try this issue.

[2021-08-18 03:37] TeslaCN opened #11873 "Tests may fail in shardingsphere-jdbc-governance"
## Bug Report

Refer to https://github.com/apache/shardingsphere/pull/11872/checks?check_run_id=3357183318

[code]

[2021-08-18 03:44] menghaoranss commented on #11873
[code]

[2021-08-18 04:34] #11837 closed

[2021-08-18 04:38] #10986 closed

[2021-08-18 06:07] loseyourselfWell commented on #11616
but it works in version 3.0，so why not support in 4.x？

[2021-08-18 06:35] yx9o commented on #10979
Could you assign this issue to me.

[2021-08-18 06:41] tristaZero commented on #11746
@cqiwencom Could you pull the latest commit from the master branch and give it a test? Look forward to your reply, thanks.

[2021-08-18 06:43] RaigorJiang commented on #10979
@yx9o  Welcome

[2021-08-18 06:44] tristaZero commented on #11762
@RaigorJiang Thanks, let firstly check out all the relevant issues and do some tests. Next, we can make a plan with some hints we got.

[2021-08-18 06:45] tristaZero commented on #234
@acmenlt Hi welcome come here.

[2021-08-18 06:50] tristaZero commented on #11761
If this issue is fixed, could you close it? Thanks.

[2021-08-18 06:52] tristaZero commented on #11788
@lovegames Thanks, @cherrylzhao do you have time to have a look?

[2021-08-18 06:55] RaigorJiang commented on #11762
Yes, it should be like this.

[2021-08-18 07:42] taojintianxia commented on #11712
hi there, today someone from the community ask the same issue. so I try the up to date cocde (code pulled in 2021-08-18), and the `no database selected` issue still exist

Navicat MySQL 12

![image](https://user-images.githubusercontent.com/4112856/129858006-8d4d49d4-d7bd-464a-bfad-5f36d97df5cb.png)

[2021-08-18 07:56] totalo commented on #11812
Unknown table expection :https://github.com/apache/shardingsphere/pull/11872/checks?check_run_id=3358157272

[2021-08-18 08:18] wu-sheng opened #11876 "Add skywalking-eyes for license header check."
## Feature Request

I am asking whether someone could add [skywalking-eyes](https://github.com/apache/skywalking-eyes) as a GHA in the SharingSphere repo(s). It provides a very easy way to check license header, and directly tag them on the PR.
Also, in the next 0.2.0 release, it would provide license resolution for dependency libs, we could make sure all dependencies' licenses are expected.

### I

[2021-08-18 08:32] totalo commented on #11876
hi, Can I do this?

[2021-08-18 08:43] taojintianxia commented on #11512
@menghaoranss please take a look a the response I did in this issue
https://github.com/apache/shardingsphere/issues/11712

[2021-08-18 08:48] hexingfu opened #11877 "How to get the latest docker images of shardingsphere5.x-proxy?"
when I execute this docker command "docker pull apache/shardingsphere-proxy" from the offical document,why I can not get the image?

[2021-08-18 08:52] wu-sheng commented on #11876
Assigned to you, this should be not hard. And many repo(s) in SkyWalking, APISIX, Apollo, TiDB have been using this. You could choose which repo you want to take a reference.

[2021-08-18 09:00] ddsr-ops commented on #9914
I met the same problem, version 4.1.1

[2021-08-18 09:04] totalo commented on #11876
ok.thx

[2021-08-18 09:09] CodingBingo opened #11880 "Question about logic table and actualTable"
Hi, this is bingo. These days, I am trying to use shardingsphere to replace mycat in our system.
But I found a question about useing it. I have config a config-sharding-socialalbum.yaml, when I connect with mysql command line, and show tables, It shows not only what I configed in config file, but also actual table in my first datasource. I am pretty confused about this feature, if this is a featur

[2021-08-18 09:24] Asteven-zn commented on #11737
Don't you have the latest build image?

[2021-08-18 10:21] balainit opened #11882 "Could not commit JDBC transaction; nested exception is java.sql.SQLExcept"
[code]

Hi, I have a problem, is there any solution?

[2021-08-18 10:42] zjcnb opened #11884 "Proxy start up failure when use mysql driver 8.0.11 version"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-18 10:45] RaigorJiang commented on #11737
Yes, I built the docker image from the master branch and tested the scenario you described.
But because the image on the docker hub is not up to date, you have to build one yourself and use it for testing.

[2021-08-18 10:50] RaigorJiang commented on #11737
Please refer to https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/docker/

[2021-08-18 12:23] #11861 closed

[2021-08-18 12:43] #11781 closed

[2021-08-18 22:07] yc-22 opened #11891 "Please make ShardingSphere - JDBC work for write DB operation when one or several shards were broken"
I am using Spring Boot + ShardingSphere - JDBC. So far, it seems that when one shard is broken, other shards can't be used for write DB operation as well while the read DB operation still can work fine.
Can you please make it work for write DB operation even when one or several shards were broken? Thanks!

[2021-08-18 22:07] #11852 closed

[2021-08-18 22:29] yc-22 opened #11892 "Please make ShardingSphere - JDBC work for write DB operation when one or several shards are broken"
### Which version of ShardingSphere did you use?
ShardingSphere 5.0.0-beta
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Write DB operations can perform well when one or several shards are broken as read DB operations.
### Actual behavior
The write operations would cause errors and trigger the project's written retry mechanism

[2021-08-18 22:30] #11891 closed

[2021-08-19 02:13] TeslaCN commented on #11877
Try
[code]

[2021-08-19 02:18] TeslaCN commented on #11865
I'm not sure if the path is too long in Windows environment, try moving your project directory to `C:/` or somewhere to shorten your path.

[2021-08-19 02:58] hexingfu opened #11893 "missing pakage org.apache.shardingsphere.sql.parser.autogen"
When I cloned the whole project into my local development environment, I found that there was a missing package (org. Apache. Shardingsphere. SQL. Parser. Autogen). Where should I get this package?

[2021-08-19 04:14] terrymanu commented on #11893
FYI: https://shardingsphere.apache.org/document/current/en/others/faq/#2-why-do-some-compiling-errors-appear-why-did-not-the-idea-index-the-generated-codes

[2021-08-19 04:14] #11893 closed

[2021-08-19 04:21] terrymanu commented on #11891
Duplicate with #11892

[2021-08-19 04:22] terrymanu commented on #11852
Duplicate with #11892

[2021-08-19 06:04] tristaZero commented on #11795
@qanson Hi if this issue is fixed, could you close it?

[2021-08-19 06:09] tristaZero commented on #11862
Hi @hsw409328 Sorry I can not catch you.
Do you want to convert an SQLStatement into a rewritten SQL? Could I get the necessity? ShardingSphere will generate the to-execute by router and rewriter, which is a little complex.

[2021-08-19 06:12] tristaZero commented on #11876
Hi what's the difference between Apache rat and this one? Is there any doc?

[2021-08-19 06:16] tristaZero commented on #11880
HI @CodingBingo What's the version you are using? The latest one will only show the logic tables and other none-configured tables, as all the tables are in the control of ShardingSphere.

[2021-08-19 06:19] sandynz opened #11899 "Scaling MetaDataManager.getTableMetaData hard coded databaseType as MySQL"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling, commit: d39fd2c4d1f21363c13c791dcb4df48808029da0

### Expected behavior
No exception thrown when executing ScalingJob for PostgreSQL

### Actual behavior
Stack trace:
[code]

### Reason analyze (If you can)
`ColumnMe

[2021-08-19 06:21] tristaZero commented on #11892
Hi @yc-22 I did not get you. Could you provide your configuration to let me which feature you want to use? Readwrite-splitting or sharding?

[2021-08-19 06:49] CodingBingo commented on #11880
Thanks for your reply, I am using the latest version of master branch.

[2021-08-19 06:59] yc-22 commented on #11892
Sharding. I want to shard 4 data sources for both read and write operation. For now, if I drop one shard, the write db operation would completely fail. (Even if the data is supposed to be written into healthy shard) But the read operation can still perform well. So is there some setting I can configure to make write db operation still perform in this scenario or this is a bug?

[2021-08-19 07:01] CodingBingo commented on #11880
I think if there is a optional configuration that can control show none-configured tables will be better, I have did some modification in my local environment, if you think this is a acceptable modification, i will make a pull request.

[2021-08-19 07:07] tristaZero commented on #11880
Do you think we reach the consensus that non-configured tables do not include the actual tables? For instance,
Suppose there are 3 tables, t, t_0 and t_1. And a logic table `t_logic` contains t_0 and t_1. The result of `show tables` will be
[code]
Right?

[2021-08-19 07:18] CodingBingo commented on #11880
yes，And I think if we don't configure t table, it shouldn't show in `show tables` command.

[2021-08-19 07:35] hsw409328 commented on #11862
(sql-parse-engin) don't support SQLStatement to SQL ? Is that so?

[2021-08-19 08:05] #11876 closed

[2021-08-19 08:31] menghaoranss commented on #11856
Finished

[2021-08-19 08:31] #11856 closed

[2021-08-19 08:32] menghaoranss commented on #11873
Fixed by #11885

[2021-08-19 08:32] #11873 closed

[2021-08-19 08:53] menghaoranss commented on #11882
Please provide more information, such as version, configuration, SQL etc.

[2021-08-19 09:03] balainit commented on #11882
shardingsphere   version    sharding-jdbc-core-4.1.1

[2021-08-19 09:10] balainit commented on #11882
### configuration

[code]

[2021-08-19 09:24] #11757 closed

[2021-08-19 12:18] cheese8 commented on #11689
Hi @tristaZero , as enterprise requirements described what we should encrypt sensitive data by keys/hash sensitive data by salt, for example  1 business unit per 1 key or 1 database/schema/table/column per 1 key... and add those parameters into decrypt and decrypt context are compatible with now implements.

[2021-08-19 14:39] Liangda-w commented on #10513
Remaining improvements: see discussion in #11126 - parse the following segments and add corresponding tests.

- [ ] function
- [ ] package

[2021-08-20 00:56] cheese8 commented on #11689
Not compatible, I meant that If context parameters  added, we can use it as needed, and also ignore it while not needed.

[2021-08-20 01:46] strongduanmu commented on #11794
I found that the exception occurs only when the date field must be included, and other fields will not cause the exception. I used the following SQL to reproduce this problem.

[code]

[2021-08-20 01:58] sandynz opened #11909 "Show scaling job status DistSQL execute failed since wrong ShowScalingJobStatusQueryResultSet type"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling, commit: d39fd2c

### Expected behavior
`SHOW SCALING JOB STATUS 634791917741146112;` return result

### Actual behavior
Result:
[code]

### Reason analyze (If you can)
wrong `ShowScalingJobStatusQueryResultSet` type

[2021-08-20 02:25] strongduanmu commented on #11075
All work has been completed.

[2021-08-20 02:25] #11075 closed

[2021-08-20 02:26] strongduanmu commented on #10996
All work has been completed.

[2021-08-20 02:26] #10996 closed

[2021-08-20 02:37] lanchengx opened #11911 "Doubts about the validate() method"
Hi, community
I have some doubts about `org.apache.shardingsphere.infra.config.datasource.DataSourceValidator#validate()`;
Why does this method need to ignore the exception, which will cause the user to be unable to see the detailed information of the MysqlSyntaxErrorException.I don’t know if it’s specially designed like this?

![image](https://user-images.githubusercontent.com/52209337/130168035-

[2021-08-20 02:41] lanchengx commented on #11911
@tristaZero Hi, could you have a review?

[2021-08-20 02:54] dachuan9e commented on #11865
The root cause is that the path has space. @Swastyy

[2021-08-20 03:07] jackjoesh commented on #11761
ok

[2021-08-20 03:07] #11761 closed

[2021-08-20 03:09] #11498 closed

[2021-08-20 03:22] sandynz opened #11914 "Check scaling job DistSQL failed with sql SUM(CRC32(`order_id`))"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling, commit: d39fd2c
Backend is MySQL

### Expected behavior
`CHECK SCALING JOB 634791917741146112;` return result

### Actual behavior
Result:
[code]

Stack trace:
[code]

### Reason analyze (If you can)
columnLabelIndex

[2021-08-20 05:45] Hmz3192 opened #11917 "Spring service cannot be used into self-shardingalgorithm,and spring object cannot be instantiated"
## Version
4.0.0

## Problem
In the springboot framework, I need to connect to the database to query the required data in the custom sub database algorithm, but I can't get the instantiated service, applicationcontextservice and componentscan. I can ensure that the configuration is correct. It's normal to instantiate the service with spring annotation or spring context in other normal controllers,

[2021-08-20 05:46] RaigorJiang opened #11918 "'HINT_INLINE' sharding algorithm cannot take effect."
## Bug Report

### Which version of ShardingSphere did you use?
 master branch

### Problem
 Use `HINT_INLINE` sharding algorithm, but `algorithm-expression` cannot  take effect.

### Reason analyze (If you can)
 Class `HintInlineShardingAlgorithm` implements `TypedSPI`, and the properties value is assigned via `setProps` method like in `InlineShardingAlgorithm`.
 However, in class `HintInlineShar

[2021-08-20 06:31] Superainbower commented on #11918
i want to fix it

[2021-08-20 06:33] strongduanmu commented on #11918
@Superainbower Welcome.

[2021-08-20 06:35] RaigorJiang commented on #11918
@Superainbower
Welcome to contribute, if you have any questions, you can ask here.

[2021-08-20 08:40] menghaoranss opened #11921 "governance-example run failed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-20 09:53] #10868 closed

[2021-08-20 10:00] LeeGuoPing commented on #10923
Please assign it to me

[2021-08-20 10:01] strongduanmu commented on #10923
@LeeGuoPing Welcome.

[2021-08-20 11:10] #11583 closed

[2021-08-20 11:22] menghaoranss commented on #11769
Could it be reproduced without docker?

[2021-08-20 14:44] tuichenchuxin opened #11927 "Oracle 12c dialect load `connection.getCatalog()` return null"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingSphere-jdbc

### Expected behavior
Should return userName(schema name)

### Actual behavior
Return null
### Reason analyze (If you can)
May be using `preparedStatement.setString(1, connection.getMetaData().getUserName());` to replace `preparedS

[2021-08-21 07:38] westwindwing opened #11934 "ShardingResultSetMetaData.getColumnCount() ==0 when use select * SQL"
when i use select * from user SQL
ShardingResultSetMetaData.getColumnCount() return 0
but not return actual columns size

i see source
![image](https://user-images.githubusercontent.com/7802605/130314526-294588d2-0a32-4603-9c41-471c10a5ab08.png)

when not use resultSetMetaData.getColumnCount()?

how can i get  actual columns size?

thank you.

[2021-08-21 09:47] sydgeek commented on #10986
@RaigorJiang Certainly, I can find these config files from projects, but I don't know how to add online namespaces.
Could you help me?

[2021-08-21 13:36] #11911 closed

[2021-08-21 18:33] Swastyy commented on #11865
Hi @TeslaCN and @dachuan9e, thanks for answering. Changing the project location to shorter path worked for me although while cloning I got the point that the file paths are very long but I didn't knew that it will cause problems in compilation/build.
If this also happens incase of spaces then @dachuan9e thanks for solving it. Since my problem is solved now we can decide if this issue to close or n

[2021-08-21 18:39] WYUSIG opened #11939 "[fix:5.0.0beta:examples] The sub module version is still 5.0.0-alpha"
The examples pom version is 5.0.0-beta

[code]

but the sub module of examples version is still alpha

[code]
so：

The examples runtime will report that shardingsphere example: 5.0.0-beta cannot be found

[2021-08-21 18:42] #11939 closed

[2021-08-22 03:11] sydgeek commented on #10971
I want to take this issue.

[2021-08-22 05:52] totalo commented on #11812
I found that in this method, `parameters` are empty by default, and they are needed when creating a paging context.
https://github.com/apache/shardingsphere/blob/6b672936b17ce29317919a0028ab53382795be80/shardingsphere-proxy/shardingsphere-proxy-frontend/shardingsphere-proxy-frontend-mysql/src/main/java/org/apache/shardingsphere/proxy/frontend/mysql/command/query/binary/prepare/MySQLComStmtPrepareE

[2021-08-22 12:12] #11812 closed

[2021-08-23 01:19] strongduanmu commented on #10971
@sydgeek Welcome.

[2021-08-23 01:26] strongduanmu commented on #11934
@westwindwing Can you try the latest `5.0.0-beta`?

[2021-08-23 01:57] #11865 closed

[2021-08-23 02:59] wanyian opened #11946 "when I use two oracle datasource, Calcite upper case table name ,then cannot find table in logicTables"
### Bug Report
### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Executing SQL normally

### Actual behavior
calcite will upper case sql whitout quoted, but  shardingSphere  lower case logicTable , then it can't find the table.

### Steps to reproduce the behavior, s

[2021-08-23 04:05] soca2013 opened #11947 "my project both use mysql and mssql；how to use shardingsphere。"
my project both use mysql and mssql；how to use shardingsphere。
   can you  support  multi  schameName for shardingsphere?

[2021-08-23 04:06] #11786 closed

[2021-08-23 04:06] soca2013 commented on #11786
close

[2021-08-23 05:06] RaigorJiang commented on #10986
@sydgeek
I found the cause of the problem, our file has been renamed, but the directory of the online schema has not changed its name:
https://shardingsphere.apache.org/schema/shardingsphere/
@taojintianxia   Could you help?

[2021-08-23 06:25] #11918 closed

[2021-08-23 08:34] JiekerTime commented on #11105
problem fixed! so closed.

[2021-08-23 08:34] #11105 closed

[2021-08-23 08:39] #11361 closed

[2021-08-23 08:43] JiekerTime opened #11951 "Summary of integration testing issues"
## PG Data Source Related Testing

The most important issue: [#11611](https://github.com/apache/shardingsphere/issues/11611)
The number of connections even increased to several thousand

### DQL
common issues:

[#11382](https://github.com/apache/shardingsphere/issues/11382)

PostgreSQL default order by collate:
![image](https://user-images.githubusercontent.com/76552510/130409938-014acbf8-1906-41e

[2021-08-23 08:50] JiekerTime commented on #11429
problem solved ! so closed.

[2021-08-23 08:50] #11429 closed

[2021-08-23 09:02] git-chenhao opened #11953 "timestamp nanos Inaccurate"
ShardingSphere-Proxy-5.0.0-beta

create table table_1
(
    id              int(11) unsigned auto_increment comment '自增id'
    **test_date**       datetime(3)                            null
)

mysql-connector-java-5.1.48
jdbcUrlParam: useServerPrepStmts=true&cachePrepStmts=true

### Expected behavior

datetime(3) 2021-8-23 10:06:33.599

### Actual behavior

datetime(3) 2021-8-23 10:06:33.000

###

[2021-08-23 09:24] LeeGuoPing commented on #10923
@strongduanmu  I have finished it

[2021-08-23 09:25] hoorf opened #11954 "ScalingPosition use for what? a status ? an index?"
how does package `org.apache.shardingsphere.scaling.core.job.position` use for ?

[2021-08-23 09:26] sydgeek commented on #10986
@RaigorJiang Ok, got it.

[2021-08-23 09:32] zjcnb opened #11955 "The Proxy executes the select date() command and the result is wrong"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-Proxy

### Mysql or Postgresql

Mysql 8.x

### Expected behavior

show error syntax

[code]

### Actual behavior

result 1
[code]

[2021-08-23 10:15] menghaoranss commented on #11947
In the master branch, you can define  two different schemaNames for datasources.

[2021-08-23 11:30] menghaoranss opened #11958 "MetaData does not need to be loaded and persisted every time for cluster mode"
Method `init` in `ClusterContextManager.java`

[code]

If `overwrite` is configured as `false` MetaData should be loaded from registry center.

[2021-08-23 11:39] soca2013 commented on #11947
Give an example，please，thank you。

[2021-08-23 12:02] #11909 closed

[2021-08-23 12:03] #11899 closed

[2021-08-23 12:04] #11914 closed

[2021-08-23 12:11] rfscouto opened #11960 "SQLParsingException: Unsupported SQL of `drop sequence if exists hibernate_sequence`"
Hi everyone,

Wondering if anyone could help with my current setup. I get a SQLParsingException. I am on version 4.1.1 (core) and h2 is version 1.4.199.
The yml:

[code]

[2021-08-23 14:33] avalon5666 commented on #11954
Use by scaling module which provider data migration feature, [see](https://shardingsphere.apache.org/document/current/en/features/scaling/).

[2021-08-23 14:40] avalon5666 commented on #11960
Can you try the latest 5.x version? 4.x is a historical version and will not be maintained.

[2021-08-23 15:43] terrymanu opened #11961 "Exception thrown when execute mvn install"
[code]

[2021-08-23 15:53] rfscouto commented on #11960
Great, that was it. Also the artifact ID changed, and that confused me.

[2021-08-23 15:53] #11960 closed

[2021-08-23 16:17] rfscouto opened #11962 "Liquibase exception: Failed to instantiate [liquibase.integration.spring.SpringLiquibase]"
Using version 5.0.0-beta, and liquibase 4.4.3.
I am getting the following exception:

[code]

Is liquibase even supposed to work? I have seen a few issues where it seems people made some progress.

[2021-08-23 18:36] ruicouto-syncier commented on #11962
I ended up creating my own factory that provides a not final version of  ShardingSphereDataSource. Then, and after setting a default schema for liquibase the process goes forward.

[2021-08-23 18:37] rfscouto commented on #11962
I ended up creating my own factory that provides a not final version of ShardingSphereDataSource. Then, and after setting a default schema for liquibase the process goes forward.

[2021-08-23 19:00] rfscouto commented on #5432
Any update on this issue? Currently facing it as well.
@sandynz why did you say "they are different and every one is complicated"? As far as I can see, we can implement something quite simple and aligned with PostgreSQL (PgResultSet.java):

[code]

[2021-08-23 23:46] #11927 closed

[2021-08-23 23:51] strongduanmu commented on #10923
@LeeGuoPing Great job, i will review this pr.

[2021-08-23 23:55] #10923 closed

[2021-08-24 00:56] LeeGuoPing commented on #10922
Please assign it to me @strongduanmu

[2021-08-24 01:13] strongduanmu commented on #10922
@LeeGuoPing Welcome.

[2021-08-24 01:37] sandynz opened #11966 "SELECT COUNT(1) execution failed on PostgreSQL backend proxy"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, failed on PostgreSQL backend, works on MySQL backend
commit: 1975d8a1295f322e7d995a731d54251805c0706f

### Expected behavior
No error occur

### Actual behavior
[code]
Stack trace:
[code]

### Reason analyze (If you ca

[2021-08-24 03:07] LeeGuoPing opened #11969 "MySQLScalingSQLBuilderTest method unit test error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-24 03:14] LeeGuoPing commented on #10922
@strongduanmu I finished it just now.

[2021-08-24 03:24] #11969 closed

[2021-08-24 03:59] #10979 closed

[2021-08-24 04:06] sydgeek commented on #10971
@strongduanmu
Hi, I found that class AlterViewStatement and class CreateViewStatement are very similar, however, their corresponding class XXXStatementContext constructors are different. If the CreateViewStatement is not an instance of MySQLStatement, Regardless of whether the SimpleTableSegment properties in the class CreateViewStatement are assigned, the properties in the TablesContext of the in

[2021-08-24 04:12] RaigorJiang commented on #11947
@soca2013
Please refer to [example](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-proxy-example/shardingsphere-proxy-boot-mybatis-example/src/main/resources/conf), just put multi config files.

[2021-08-24 05:25] strongduanmu commented on #10971
@sydgeek CreateViewStatement is an abstract class, the specific implementation needs to see MySQLCreateViewStatement or PostgreSQLCreateViewStatement.

I can't remember clearly why the implementation of CreateViewStatementContext and AlterViewStatementContext are different, you may need to investigate whether there is a problem.

[2021-08-24 05:50] #10922 closed

[2021-08-24 05:56] tristaZero commented on #11962
Hi thanks for your question, it looks interesting.
Do you plan to use Liquibase to manage ShardingSphere Proxy which helps shard databases?
So you just redefined `ShardingSphereDataSource` as a non-final class and it worked fine?

[2021-08-24 05:58] tristaZero commented on #11946
@wanyian Thanks for this issue, could you provide the error log for us to debug?

[2021-08-24 05:59] LeeGuoPing commented on #10921
Please assign it to me

[2021-08-24 05:59] LeeGuoPing commented on #10920
Please assign it to me

[2021-08-24 06:02] tristaZero commented on #11917
Hi @Hmz3192 Thanks for your question, first I suggest you try the latest release for better SQL support. Second, [Examples](https://github.com/apache/shardingsphere/tree/4.1.1/examples) will show you the spring example cases.

[2021-08-24 06:12] tristaZero commented on #11892
Hi @yc-22 Sorry for my late reply.
Do you mean, when one DB is offline, an `UPDATE` SQL will fail but a `QUERY` SQL succeeds?
It's a little wired. Could you set `sql-show` = `true` to output more details in log?

[2021-08-24 06:18] strongduanmu commented on #10920
@LeeGuoPing Assigned.

[2021-08-24 06:18] strongduanmu commented on #10921
@LeeGuoPing Welcome.

[2021-08-24 06:28] rfscouto commented on #11962
Actually, I am using ShardingSphere JDBC. Exactly, I just redefined `ShardingSphereDataSource`; worked fine is another question. I get other issues afterwards (https://github.com/apache/shardingsphere/issues/5432), but liquibase seems to initialize.
My idea is to setup X sharding databases, one being the main one. Then configure SpringLiquibase, one per each DataSource that ShardingSphere creates.

[2021-08-24 06:50] #11966 closed

[2021-08-24 07:15] #11954 closed

[2021-08-24 07:32] LeeGuoPing commented on #10921
@strongduanmu  I finished it just now.

[2021-08-24 07:34] sandynz opened #11977 "Scaling increment task of PostgreSQL WalEventConverter ignore correct RowEvent"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling, commit: 1975d8a1295f322e7d995a731d54251805c0706f

### Expected behavior
RowEvent from the correct database won't be filtered.

### Actual behavior
RowEvent is considered as from another database and is ignored.

###

[2021-08-24 07:50] Comven opened #11978 "The primary key is auto filled without configuring the snowflake ID"
## Bug Report

shardingsphere-jdbc-core 5.0.0-beta

logistic table 'order_info' divided by month，format just like  'order_info_yyyyMM',

where I configured the actual node as `db1.order_info_20210${6..9},db1.order_info_2021${10..12}`, Executed SQL like this
[code]
The actual SQL executed is like this
[code]
it's right。

when I changed the actual node as `db1.order_info_20${21..25}0${1..9},db1.orde

[2021-08-24 07:58] #10921 closed

[2021-08-24 08:02] #5432 closed

[2021-08-24 08:20] wanyian commented on #11946
Of course, all error log like this:

### Error querying database.  Cause: java.sql.SQLException: Error while preparing statement [SELECT row_.*, rownum rownum_ FROM
        (
        SELECT t.order_id, order_type, order_price, oper,order_time, order_detail_1, order_detail_2 FROM
         t_order t JOIN t_order_detail_ i
        ON t.order_id = i.order_id order by order_id) row_
        WHERE rownu

[2021-08-24 08:28] RaigorJiang opened #11980 "Can not support syntax : SHOW DATABASES LIKE 'xxx'"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
When there is only one schema named 'sharding_db' in proxy, and input  SQL `SHOW DATABASES LIKE 'new_schema'`  the result is:
[code]

### Expected behavior
Empty set

[2021-08-24 08:57] sydgeek commented on #10971
@strongduanmu I don't find somewhere use instance of DDLStatement, in other words, the TablesContext never be used.

Some places(like ShardingInsertStatementValidator#preValidate) will validate tableName in the TablesContext, if it doesn't exist, an exception will be thrown.

In git history, CreateViewStatementContext and AlterViewStatementContext are same at the beginning,  <a href='https://githu

[2021-08-24 09:15] tristaZero commented on #11962
Sorry, I can not catch you clearly. So you set up X sharding databases, and have liquibase handle each of them. Then your application creates a ShardingSphereDataSource to make these X sharding databases as a single logical dataSource which routes the SQL to a certain sharding database.
Is it your expectation? So your application hasn't started up?

[2021-08-24 09:18] rfscouto commented on #11962
That is my expectation, yes.
My application has not started up yet; this issue is no longer valid, as I got over it by redefining ShardingSphereDataSource. I am now facing https://github.com/apache/shardingsphere/issues/5432, having pushed a fix for it, but now need to get the local build running so I can use that artifact and keep trying to spin up my server.

[2021-08-24 09:19] #11764 closed

[2021-08-24 09:22] tristaZero commented on #11880
@CodingBingo Right, that's the expectation. So you did not get the same result with
[code]

[2021-08-24 09:25] tristaZero commented on #11862
Hi @hsw409328
Supposing the public API, the answer is yes. Currently, we do not provide an independent API to revert an SQLStatement to a SQL, while we implement it internally.
Why do you want this feature?

[2021-08-24 09:28] hsw409328 commented on #11862
When I make a MySQL query, I automatically add conditions in the where part. I need to parse the original SQL, assemble it with SQLStatement, and finally restore it to executable SQL

[2021-08-24 09:30] tristaZero commented on #11689
That way , do you think properties of an encryption implement for this interface are enough? e.g., `AES_KEY = "aes-key-value"` of `AESEncryptAlgorithm`.
If I do not reply promptly, you can send your WeChat number to my email (panjuan@apache.org) as to discuss this interesting issue.

[2021-08-24 09:32] tristaZero commented on #11962
Aha, thanks for your PR, and look forward to your good news. ;-) @rfscouto

[2021-08-24 11:12] #11824 closed

[2021-08-24 11:36] wenjian-li commented on #8841
Hi~ I encounter the same question.

[2021-08-24 12:25] #11961 closed

[2021-08-24 12:27] xize0 opened #11989 "If the sharding-proxy is accessed through JDBC statements in the project, is it possible to set the table name case insensitive? If the table name in the proxy is 'userinfo' and my JDBC statement is 'userInfo', an error will be reported"
## Question

If the sharding-proxy is accessed through JDBC statements in the project, is it possible to set the table name case insensitive? If the table name in the proxy is 'userinfo' and my JDBC statement is 'userInfo', an error will be reported

[2021-08-24 12:45] zjcnb commented on #11978
@Comven Hi, Can you provider your part of code. It will automatically rewrite sql and append the id column If you used snowflake

[2021-08-24 13:25] cheese8 commented on #11689
I think it's not enough because the key/salt should be related to the databaseName/id, schema, table and plain column.

[2021-08-24 14:35] #11962 closed

[2021-08-24 14:46] rfscouto opened #11990 "Parser cannot handle SQL statements prefixed with schema"
Posting this as a question, as I am not sure if this is a bug or bad usage on my part.

I am currently using the latest master, and also liquibase (4.4.2).
I have the following properties:
[code]
Liquibase, as part of it's initial setup, is trying to insert a row in `databasechangeloglock` to start performing changes.
However, the insert fails with an exception:

[code]

<img width="1099" alt="Scr

[2021-08-24 17:40] avalon5666 commented on #11989
Which version are you using?
Pls provider the sharding configuration and logic sql.

[2021-08-24 17:49] avalon5666 commented on #11990
Which version are you using?
And try to remove mode prefix, only use table name.

[2021-08-24 17:52] rfscouto commented on #11990
Using the current master version, so, between 5.0.0-beta and 5.0.0-RC1.
Which mode prefix do you mean?

[2021-08-24 19:11] rfscouto commented on #11990
I noticed that if I omit the property for default schema for liquibase, application startup fails, because liquibase has no default schema.
If I do have the property, and remove the "public." from the queries being issued by Liquibase, then Shardingsphere doesn't throw the null pointer exception.
I can try to make liquibase stop outputting the schema, but I guess ShardingSphere should be able to p

[2021-08-24 19:38] rfscouto opened #11992 "ShardingSphere cannot resolve information_schema"
Using ShardingSphere 5.0.0-RC1-SNAPSHOT, Hibernate Core 5.4.18.

[code]

When hibernate is initialising, it can't access the information_schema to access sequences:

[code]

<img width="1753" alt="Screenshot 2021-08-24 at 21 35 36" src="https://user-images.githubusercontent.com/2998542/130679111-385509c2-c82b-4623-9d61-25ec965f1e63.png">

The initialised metadata only contains, in fact, the public

[2021-08-25 00:36] Comven commented on #11978
@zjcnb OK  TKS

[2021-08-25 00:48] LeeGuoPing commented on #10920
@strongduanmu I have a question, which env should I do, can I add tbl env only?

[2021-08-25 01:15] strongduanmu commented on #10920
@LeeGuoPing You only need to use two non-binding sharding tables in the sharding scenario.

[2021-08-25 02:04] #11977 closed

[2021-08-25 02:23] xize0 commented on #11989
Run official image with Docker
`schemaName: sharding

dataSources:
  ds:
    url: jdbc:mysql://192.168.1.106:3306/sharding?allowMultiQueries=true&useUnicode&characterEncoding=UTF-8&autoReconnect=true&useSSL=true&verifyServerCertificate=false&requireSSL=true&zeroDateTimeBehavior=convertToNull
    username: test
    password: tgb123_321
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMillise

[2021-08-25 02:24] xize0 commented on #11989
Run official image with Docker
`schemaName: sharding

dataSources:
  ds:
    url: jdbc:mysql://192.168.1.106:3306/sharding?allowMultiQueries=true&useUnicode&characterEncoding=UTF-8&autoReconnect=true&useSSL=true&verifyServerCertificate=false&requireSSL=true&zeroDateTimeBehavior=convertToNull
    username: test
    password: tgb123_321
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMillise

[2021-08-25 02:47] RaigorJiang commented on #11992
Yes, the query to `information_schema` is currently not supported, it is under planning, please pay attention to follow-up updates, thanks!

[2021-08-25 03:26] haroldyong commented on #234
正元智慧 http://www.hzsun.com  软件开发及服务

[2021-08-25 03:45] RaigorJiang opened #11994 "Plan to support `information_schema`"
Hi community,

We are working on a plan for ShardingSphere-Proxy to support queries on `information_schema` to resolve some remaining issues. At the same time, this work can also solve the problem that some SQL clients cannot connect to the Proxy.

Since this is an important and complex feature, we need to implement it step by step.

First, we will start with `MySQL`.

If you have more related que

[2021-08-25 08:35] dengjin001 opened #12000 "using shardingspere UI for data capacity show java.lang.NullPointerException: null"
``[INFO ] 2021-08-25 16:07:58.226 [nioEventLoopGroup-3-14] o.a.s.scaling.web.HttpServerHandler - Http request path: /scaling/job/start
[INFO ] 2021-08-25 16:07:58.230 [nioEventLoopGroup-3-14] o.a.s.scaling.web.HttpServerHandler - Http request body: {"ruleConfiguration":{"source":{"type":"shardingSphereJdbc","parameter":{"dataSource":"dataSources: ds:   url: jdbc:mysql://xxxx:3306/xx?serverTimezone

[2021-08-25 08:53] LeeGuoPing commented on #10920
@strongduanmu I have finished it.

[2021-08-25 09:00] #11658 closed

[2021-08-25 09:03] xize0 opened #12001 "Sharding - proxy fails ,The error message:`java.lang.IndexOutOfBoundsException: Index: 24, Size: 24"
## Question
Docker starts the latest image

In the same configuration, some succeeded and some failed, such as the TOPS table.
Tops has tens of millions of pieces of data

config-sharding.yaml
`schemaName: sharding-sharding

dataSources:
  ds:
    url: jdbc:mysql://192.168.1.106:3306/sharding?allowMultiQueries=true&useUnicode&characterEncoding=UTF-8&autoReconnect=true&useSSL=true&verifyServerCerti

[2021-08-25 09:53] Comven opened #12002 "The props`strategy` cannot be null when uses class based sharding strategy"
shardingsphere-jdbc-core-spring-boot-starter-5.0.0-bata

ogistic table 'order_info' divided by month，format just like 'order_info_yyyyMM',

my application.properties configuration is as follows

[code]
The error reported by the startup program is as follows
[code]

Details are as follows
[code]
What's wrong with the configuration ? Has anyone experienced the same problem?

[2021-08-25 10:35] chenzw93 opened #12003 "shardingsphere-jdbc actual-data-nodes needs to be dynamically configured"
hi:
There is such a scenario: I want to use the sub-table function, whether the value of actual-data-nodes can be dynamically refreshed. That is to say how to dynamically expand the sub-table and refresh the configuration of the sub-table.

For example, I use time to divide tables. At first, actual-data-nodes configured t_call_record_${[202108]}, but later, new tables tbl_log_202109, tbl_log_20211

[2021-08-25 10:40] #12001 closed

[2021-08-25 11:27] xiefangzhenz opened #12004 "5.0.0-beta start failed"
[code]

use 5.0.0-alpha no question，but use 5.0.0-beta found some problems.

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration': Initialization of bean failed; nested exception is java.lang.NullPointerException
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory

[2021-08-25 14:13] xiefangzhenz commented on #11433
I have same problem

[2021-08-25 15:24] xiefangzhenz opened #12006 "The version 4.1.1 is support 'ON DUPLICATE KEY UPDATE'?"
I use version 4.0.0,'ON DUPLICATE KEY UPDATE' can not execute。
which version can support it and also can custom algorithm?

[2021-08-26 01:33] hoorf opened #12008 "discuss AbstractScalingSQLBuilder buildSplitByPrimaryKeyRangeSQL method optimize"
this find pk range method will invoke many times for
[code]
use in
[code]
the pk start from 0,if use `SnowFlake ` pk , useless invoke many times

optimize

- find `min` and `max` pk count the range
- support the pk like `O100440001` to `O100449999` string pk not only int pk

[2021-08-26 01:39] trycache-npe-lab opened #12009 "HikariPool Loop execution：Data source rejected establishment of connection, message from server: "Too many connections""
## Bug Report

Data source rejected establishment of connection,  message from server: "Too many connections"

### Which version of ShardingSphere did you use?

ShardingSphere-JDBC  5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-JDBC

### Expected behavior

[com.zaxxer.hikari.HikariDataSource]HikariPool-115 - Starting...
[com.zaxxer.hikari.

[2021-08-26 03:11] lanchengx opened #12012 "create database `schema` and drop database `schema` parsing problems."
Hi community,
When I execute such sql in the proxy.

the proxy will create a schema named &#96;schema_1&#96;, the name I want is schema_1.

Similarly, there are similar problems when drop database &#96;schema_1&#96;.

![image](https://user-images.githubusercontent.com/52209337/130894578-191d41cb-9ee3-45e2-9b30-cac6593ed6ca.png)

[2021-08-26 03:13] #12006 closed, assigned to nobody

[2021-08-26 03:42] #12008 closed, assigned to nobody

[2021-08-26 05:18] lanchengx opened #12017 "The `UnicastDatabaseBackendHandler` may use an empty schema."
## Bug Report

### Which version of ShardingSphere did you use?
master branch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
execution succeed
### Actual behavior
Message: Datasource or ShardingSphere rule does not exist

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception

[2021-08-26 07:24] wj-li opened #12022 "Oracle11g pagination limit does not work"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-26 09:49] #12012 closed, assigned to nobody

[2021-08-26 09:58] #12009 closed, assigned to nobody

[2021-08-26 10:17] luoyexiaoran opened #12029 "5.0.0-beta The same error occurs : Batch update returned unexpected row count from update [0]; actual row count: 24; expected: 1"
version :    shardingsphere-jdbc-core  5.0.0-beta
project:   springboot+hibernate+ shardingsphere-jdbc-core
Here is my configuration:

rules:
- !SHARDING
  # 配置分片规则
  tables:
    # 配置商户汇总表cc_restaurant_collect_data规则
    cc_restaurant_collect_data:
      actualDataNodes: ds0.cc_restaurant_collect_data$->{2020..2021}0$->{1..9},ds0.cc_restaurant_collect_data$->{2020..2021}1$->{0..2}
      # 配置分表策略

[2021-08-26 10:50] #12017 closed, assigned to lanchengx

[2021-08-26 11:59] menghaoranss opened #12031 "There are some logical errors in ClusterContextManager"
## Question

[code]

`FederateSchemaMetadata` should be rebuilt with **Actual MetaData**  after metadata changed, but the following code use Logic MetaData to create `FederateSchemaMetadata`.

[code]

[2021-08-26 12:15] TeslaCN opened #12032 "Consider caching PreparedStatement in ShardingSpherePreparedStatement"
## Feature Request

### Is your feature request related to a problem?

The performance loss of readwrite-splitting in ShardingSphere 5 is larger than ShardingSphere 4.

#### Sharding JDBC 4.1.1
The performance of MasterSlave in Sharding-JDBC 4.1.1 is very close to native JDBC, because routed prepared statements are cached in `MasterSlavePreparedStatement` and each invoking `executeQuery` is invoki

[2021-08-26 12:32] terrymanu opened #12034 "Please off DEBUG log when execute mvn install"
[code]

[2021-08-26 14:13] Comven opened #12040 "read-write-splitting doesn't work when dismantle the table by month with IntervalShardingAlgorithm"
shardingsphere-jdbc-core-spring-boot-starter-5.0.0-beta

my configuration is like this
[code]
the `db1` has 7 records， the `db1slaver` has 4 records. the query sql is like this
[code]
It doesn't work，executing a query statement always returns 7 records. When I configure it like this
[code]
`dbgroup` change to `db1`, it work fine.

And when I use the Java API to configure it, it also doesn't work u

[2021-08-27 02:29] jianyun opened #12043 "What should I do if I only do sub database？？？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-08-27 02:58] #12040 closed, assigned to nobody

[2021-08-27 04:00] sandynz opened #12046 "Scaling incremental task status never finished"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling

### Expected behavior
Incremental task stop when there is no new data after some time, e.g. 30 minutes.

### Actual behavior
Never stop

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as:

[2021-08-27 06:22] #12034 closed, assigned to nobody

[2021-08-27 07:16] trycache-npe-lab opened #12049 "SqlValidatorException for ShardingSphere-5.0.0-beta: No match found for function signature ifnull"
## Bug Report

org.apache.calcite.sql.validate.SqlValidatorException: No match found for function signature ifnull(<CHARACTER>, <CHARACTER>)

### Which version of ShardingSphere did you use?

ShardingSphere-5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

org.apache.calcite.sql.validate.SqlValidatorException: No ma

[2021-08-27 08:12] TeslaCN opened #12052 "isSerial in JDBCExecutor is related to when the autoCommit is set"
## Question

Is there any problem that parallelly executing statements in local transaction?

### Code

[code]

### Result
[code]

[2021-08-27 08:27] #12022 closed, assigned to nobody

[2021-08-27 09:05] Beyondeclipse opened #12054 "Error in Windows when running 'mvn install' with file path containing more than 256 characters"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-27 09:38] wushifeng opened #12056 "V4.1.1 version, when use "LEFT JOIN" in sql, SQL rewrite error"
# reference to example under this project, setting t_oder to sharding table below
<sharding:inline-strategy id="databaseStrategy" sharding-column="order_id" algorithm-expression="t_order_${order_id % 2}" />
<bean:properties id="properties">
123
</bean:properties>
<sharding:key-generator id="orderKeyGenerator" type="SNOWFLAKE" column="order_id" props-ref="properties" />
<sharding:key-generator id="

[2021-08-27 09:42] terrymanu opened #12057 "Support mode on spring boot starter"
- [ ] Support mode on spring boot starter
- [ ] Merge shardingsphere-jdbc-governance-spring-boot-starter and shardingsphere-jdbc-core-spring-boot-starter
- [ ] Remove shardingsphere-jdbc-governance-spring-boot-starter module
- [ ] Remove shardingsphere-jdbc-governance-spring module

[2021-08-27 09:48] terrymanu opened #12058 "Consider about use single ContextManager to instead of mode based ContextManager"
- [x] Consider about move @Subscribe from ClusterContextManager to ClusterContextManagerBuilder
- [x] Consider about move disableDataSources() and persistMetaData() from ClusterContextManager to ClusterContextManagerBuilder
- [ ] Merge ClusterContextManager, StandaloneContextManager and MemoryContextManager into ContextManager

[2021-08-27 10:48] menghaoranss opened #12060 "SingleTableRule is created in MetaDataContext when Rules and DataSources are both empty for JDBC with cluster mode"
## Question

Test with spring-namespace:

[code]

There's nothing in the registry center, when create datasource with  the configuration above，will create a single table rule in MetaDataContext.

<img width="870" alt="image" src="https://user-images.githubusercontent.com/60651792/131116033-e0223a29-0237-4362-801b-ba95fc3946ea.png">

[2021-08-27 11:39] zhaojinchao95 opened #12061 "The directory structure of Etcd and Zookeeper does not match"
proxy start up etcd directory :

[code]

proxy start up zookeeper directory :

[code]

[2021-08-27 11:39] #12061 closed, assigned to nobody

[2021-08-27 11:40] zhaojinchao95 opened #12062 "The directory structure of Etcd and Zookeeper does not match"
proxy start up etcd directory :

[code]

proxy start up zookeeper directory :

[code]

[2021-08-27 11:49] #12062 closed, assigned to zhaojinchao95

[2021-08-27 12:45] terrymanu opened #12064 "Adjust governance example to cluster mode"
- [ ] Rename governance example to cluster mode
- [ ] Design example via new mode(memory, standalone and cluster)

[2021-08-27 12:47] terrymanu opened #12065 "Adjust governance doc to cluster mode"
- [ ]  Rewrite governance doc to cluster mode
- [ ] Explain new concept - mode
- [ ] Design doc structure via new mode(memory, standalone and cluster)

[2021-08-27 13:20] terrymanu opened #12066 "Split shardingsphere-infra to shardingsphere-infra and shardingsphere-kernel"
It is better to split `shardingsphere-infra` to `shardingsphere-infra` and `shardingsphere-kernel`

The module of `shardingsphere-infra` is for common structure only;
The module of `shardingsphere-kernel` is for database kernel, such as transaction, authority and SQL parser (TBD).
Only `shardingsphere-kernel`'s sub modules can contain global rules which can be replaced by other impletations.

Any

[2021-08-27 13:38] terrymanu opened #12067 "Extract shardingsphere-spi as top level module"
SPI in most import and popular part of ShardingSphere. It is in `shardingsphere-infra-common` now.
As you know, not all features depend this module, such as SQL parser.

It is better to  Extract it as top level module and name as `shardingsphere-spi`.
It is the basic dependency of ShardingSphere and its subproject (for example: ElasticJob).

[2021-08-27 13:48] terrymanu opened #12068 "Refactor transaction module as transaction rule"
Transaction is the kernel feature, it is similar with authority.
It is better to keep consist with transaction and authority.

The tasks are:

- [x] Refactor transaction module as transaction rule
- [x] Move transaction related props to transaction rule

[2021-08-27 14:51] #12067 closed, assigned to terrymanu

[2021-08-27 14:53] terrymanu opened #12070 "Use shardingsphere-spi on shardingsphere-distsql-parser"

[2021-08-27 15:13] #12070 closed, assigned to nobody

[2021-08-28 02:13] terrymanu opened #12073 "Add test case for OptionalSPIRegistry"

[2021-08-28 07:45] terrymanu opened #12077 "Add test case for ContextManagerBuilderFactory"

[2021-08-28 07:49] dengjin001 commented on #12000
OK, thank you

[2021-08-28 07:49] #12000 closed

[2021-08-28 08:22] dengjin001 opened #12078 "run sharding proxy succeed, but connect proxydb error"
proxy log:
 ``[ERROR] 2021-08-28 16:16:54.552 [638410870044491777_Worker-1] o.a.s.e.e.h.g.LogJobErrorHandler - Job '638410870044491777' exception occur in job processing
com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool: Access denied for user 'root'@'127.0.0.1' to database 'sharding_db'
        at com.zaxxer.hikari.pool.HikariPool.throwPoolInitializationExce

[2021-08-28 10:02] totalo opened #12082 "Refactor plugin integration test"
Integrate common code for plugin test.

[2021-08-28 12:56] yuzhiping commented on #10999
I also encountered the same problem，I'm following this example:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example

spring boot  version is 2.4.0

detail shardingsphere config as follow:

![image](https://user-images.githubusercontent.com/10362461/131218586-590e78f9-4167-41c4-9f10-b669ab18c9df.png)

when i

[2021-08-28 14:45] cheese8 commented on #11689
Thank you for encouraging me @tristaZero , I'll pr it soon as I take the below steps done
1、migrate the implementation from shardingsphere 4.1.1 to 5.0.0-RC1-SNAPSHOT
(I see the version of 5.0.0-RC1-SNAPSHOT was refactoring some places from the version 4.1.1)
2、test it passed my 3 samples

[2021-08-29 03:56] #12073 closed

[2021-08-29 04:10] #11980 closed

[2021-08-29 05:29] terrymanu commented on #12078
What is `proxydb` and which version did you use?

[2021-08-29 05:29] #12082 closed

[2021-08-29 05:36] terrymanu opened #12087 "Discuss how to refactor SQLUtil.getShowLikePattern()"
There are 2 problems:

1. SQLUtil is for all SQL basic operation, `getShowLikePattern()` is more specific. They are not in the same abstract level, it is better to process for all `like`.
2. There still have question of `SQLUtil.getShowLikePattern()` itself. I don't know why replace `_` to `.{1}`, and replace `%` to `.*`. Is it for regular expression with callee? If yes, the codes of `SQLUtil.getS

[2021-08-29 07:21] totalo opened #12088 "SHOW DATABASES test error"
[code]

[2021-08-29 08:33] #12088 closed

[2021-08-30 00:47] avalon5666 commented on #12049
Related #11437.

[2021-08-30 00:52] avalon5666 commented on #12029
Can you show me the logic sql.

[2021-08-30 01:18] luoyexiaoran commented on #12029
![image](https://user-images.githubusercontent.com/48896854/131272310-bfb40712-4d39-47d8-8f36-55ac25bb759d.png)

this is my logic sql: insert into cc_weighbridge (createTime, lastChangeTime, status, beenDeleted, deletedTime, deleteManId, deleteManName, saveManId, saveManName, saveTime, updateManId, updateManName, updateTime, tenantCode, tenantId, areaId, areaInnerCode, areaName, beenAlarm, carCode

[2021-08-30 01:24] avalon5666 commented on #12029
Is it a sharding table or broadcast table?

[2021-08-30 01:32] wushifeng commented on #12056
If Use shardingsphere-5, sql gramamer file is too old:
for example: BaseRule.g4
In 5.0.0-beta version:
shardingsphere-5.0.0-beta\shardingsphere-sql-parser\shardingsphere-sql-parser-dialect\shardingsphere-sql-parser-mysql\src\main\antlr4\imports\mysql\BaseRule.g4

regularFunctionName
    : IF | LOCALTIME | LOCALTIMESTAMP | REPLACE | INTERVAL | MOD
    | DATABASE | SCHEMA | LEFT | RIGHT | DATE | DAY

[2021-08-30 01:46] luoyexiaoran commented on #12029
it is a sharding table not  broadcast table!
![image](https://user-images.githubusercontent.com/48896854/131274050-ecc82c33-3e1d-402d-bcc6-4c0ca6c66fe4.png)
It does not enter a breakpoint when saved!Is it because I getType() returns null?
![image](https://user-images.githubusercontent.com/48896854/131274063-8a6116dc-52c9-4d0d-9d1b-6c345832ea1e.png)

[2021-08-30 01:48] trycache0828 commented on #12049
## I have encountered a new problem. Is it a paging query proble?

	java.lang.AssertionError: not a literal: ?0
		at org.apache.calcite.rex.RexLiteral.findValue(RexLiteral.java:1174)
		at org.apache.calcite.rex.RexLiteral.intValue(RexLiteral.java:1149)
		at org.apache.calcite.rel.metadata.RelMdUtil.checkInputForCollationAndLimit(RelMdUtil.java:886)
		at org.apache.calcite.rel.rules.SortJoinTranspo

[2021-08-30 02:02] avalon5666 commented on #12029
Can you debug the cc_weighbridge table stragegy is set correct?

[2021-08-30 02:21] luoyexiaoran commented on #12029
Can you correctly access my custom sharding logic?When I carry a shard column query, it normally enters the custom shard logic!But when a query does not carry a shard column condition or save. it cannot enter custom shard logic,I consider this normal when queries do not carry shard criteria.

![image](https://user-images.githubusercontent.com/48896854/131275911-1d2eb6dd-1a9f-437f-95b5-dc362b21ca3d

[2021-08-30 02:35] avalon5666 commented on #12029
Yes, ss use sharding column to routing, so the sql must cotain sharding column.

[2021-08-30 02:46] luoyexiaoran commented on #12029
so,,Why is the wrong number of affected rows returned when saving?4.0 doesn't have this problem....But I had to upgrade to 5.0 to solve the subquery problem...
Can you tell me the reason for this,thanks!!!!!

[2021-08-30 02:55] avalon5666 commented on #12029
Contain the sharding colum can resolve this issue?

[2021-08-30 02:57] luoyexiaoran commented on #12029
When I save, the shard column has value!!so,,I thought it was strange,I don't think the result set is being merged

[2021-08-30 03:01] LeeGuoPing commented on #10917
@strongduanmu finished

[2021-08-30 03:02] avalon5666 commented on #12029
If it is a date time sharding table and has sharding column value, it should be routing to one table, but it routing to 24 sub table, is that the problem?

[2021-08-30 03:04] avalon5666 commented on #12029
The result set value is 24, i will check it too.
But I think we need to find out the routing is correct.

[2021-08-30 03:08] luoyexiaoran commented on #12029
yes,, it routing to 24 sub table!!

[2021-08-30 03:10] luoyexiaoran commented on #12029
I'm sure it's caused by sharding!!!Because I changed the set of shard tables to 12, the error result is 12!!

[2021-08-30 03:13] avalon5666 commented on #12029
so we need the find out why routing to 24 sub table first?

[2021-08-30 03:15] luoyexiaoran commented on #12029
yes!I don't know why my shard logic doesn't come in when I save!!

[2021-08-30 03:20] avalon5666 commented on #12029
I suppose your sql has sharding column value and can enter the custom shard logic, pls debug the WeighbridgeShardingAlgorithm#doSharding return result.

[2021-08-30 03:22] luoyexiaoran commented on #12029
Which? 2 or 3?

[2021-08-30 03:24] avalon5666 commented on #12029
3

[2021-08-30 03:34] luoyexiaoran commented on #12029
no, save and update can not enter WeighbridgeShardingAlgorithm!!!
this update ,It has no errors :
![image](https://user-images.githubusercontent.com/48896854/131281139-2bcf11f9-e4aa-4363-9d8c-20dfccf1ba2e.png)

this is save:
![image](https://user-images.githubusercontent.com/48896854/131281363-d484721a-7b35-49c2-bcc6-b5c3dce03f74.png)

[2021-08-30 03:36] avalon5666 commented on #12029
Can you provider the demo.

[2021-08-30 03:42] Ikki-Dai opened #12097 "SQL use logic dbname and broadcast table doesn't work show table doesn't exist"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-30 03:42] zjcnb commented on #12057
I want to do, please assign me!

[2021-08-30 03:43] luoyexiaoran commented on #12029
![image](https://user-images.githubusercontent.com/48896854/131281995-b5771f75-a95f-4689-9012-dc33126f8010.png)

[2021-08-30 03:43] zjcnb commented on #12058
please assign me!

[2021-08-30 03:43] zjcnb commented on #12064
Hi, please assign me

[2021-08-30 03:43] zjcnb commented on #12065
please assign me!

[2021-08-30 03:44] luoyexiaoran commented on #12029
Can you provider the demo.I don't know What do you mean !!!remote or Record a video?

[2021-08-30 03:47] taojintianxia commented on #12097
would you please provide your proxy config file which without confidential info for reproduction.

[2021-08-30 03:48] avalon5666 commented on #12029
the code which i can debug.

[2021-08-30 03:53] luoyexiaoran commented on #12029
oh,,the project too large!!Can you remote my computer debug?

[2021-08-30 03:55] avalon5666 commented on #12029
ok

[2021-08-30 04:00] luoyexiaoran commented on #12029
sunflower or  teamview?

[2021-08-30 04:24] dengjin001 commented on #12078
sharding -proxy 5.0.0-beta

[2021-08-30 04:53] RaigorJiang commented on #12056
@strongduanmu  Please have a look 👍

[2021-08-30 05:08] Ikki-Dai commented on #12097
[code]

1. `mysql -h 127.0.0.1 -P 3307 -A -u root -p`
2. execute `select * from test.t2`， it shows test.t2 doesn't exist

[2021-08-30 05:35] strongduanmu commented on #12056
@wushifeng Thank you for your feedback, I will investigate this issue.

[2021-08-30 05:59] avalon5666 commented on #12029
tv

[2021-08-30 06:16] luoyexiaoran commented on #12029
327 590 892                         1qr3y4c4

[2021-08-30 06:18] avalon5666 commented on #12029
sunflower, tv is limited

[2021-08-30 06:20] luoyexiaoran commented on #12029
624 160 036       6N57s9

[2021-08-30 07:35] luoyexiaoran commented on #12029
WX is error ,,so bad

[2021-08-30 08:01] Ikki-Dai commented on #12097
I found that proxy can't process binlog with logic dbname or table name such as db_x, table_x

[2021-08-30 08:16] #10917 closed

[2021-08-30 08:45] #12029 closed

[2021-08-30 09:13] RaigorJiang opened #12102 "Make `CREATE SHARDING TABLE RULE` synax support inline expression to config `RESOURCES`"
Hi community,

According to [DistSQL](https://shardingsphere.apache.org/document/current/en/features/dist-sql/syntax/rdl/rdl-sharding-rule/) syntax, users need to specify the resources to be used when execute `CREATE SHARDING TABLE RULE`.
For example:
[code]

However, since only enumeration is currently supported, it will cause inconvenience to users when there are a large number of resources, lik

[2021-08-30 09:20] RaigorJiang commented on #12102
Please assign to me, thanks.

[2021-08-30 09:21] zjcnb opened #12103 "Etcd watch listen not compatible support ADD event"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

sharding-proxy

### Expected behavior

![image](https://user-images.githubusercontent.com/33742097/131317071-e4b4d872-c2d8-463a-ae2a-eb2dbe01d40b.png)

it can create database successful!

### Actual behavior

Failure

### Reason analyze (If you can)

Etcd watch lis

[2021-08-30 09:22] zjcnb commented on #12103
assign me please.

[2021-08-30 09:23] #12068 closed

[2021-08-30 09:28] SteNicholas commented on #12103
@zjcnb , I have assigned the issue to you. Please go ahead to fix the uncompatibility for the ADD event support.

[2021-08-30 09:29] SteNicholas commented on #12102
@RaigorJiang , I have assigned this ticket to you. Please go ahead to contribute the support mentioned above.

[2021-08-30 09:38] hoorf commented on #12077
to me

[2021-08-30 09:39] #9582 closed

[2021-08-30 09:40] RaigorJiang commented on #12102
@SteNicholas  Thank you.

[2021-08-30 09:40] zjcnb commented on #12103
thx

[2021-08-30 10:05] #11989 closed

[2021-08-30 10:14] terrymanu commented on #12066
I will do it soon

[2021-08-30 11:54] SteNicholas commented on #12097
@Ikki-Dai , do you have interest to support to process binlog with logic dbname or table name?

[2021-08-30 12:16] tristaZero opened #12113 "Questions and suggestions for Metadata builder refactoring"
### Fine
- `TableMetaDataLoaderEngine`

### To optimized
- `build`,  `load`  and `decorate`   of  `TableMetaDataBuilder` vs `buildLogicTableMetaDataMap`, `buildActualTableMetaDataMap` of `SchemaBuilder`
- The relationship of `RuleBasedTableMetaDataBuilder` and `TableContainedRule` in `decorate` of `TableMetaDataBuilder`
- `decorateWithCheckTableMetaData` and `decorateLogicTableName`  of `ShardingT

[2021-08-30 14:18] chenzw93 commented on #12003
@Comven
yeah, thank you
I saw the IntervalShardingAlgorithm algorithm class you were talking about, and there is another AutoIntervalShardingAlgorithm algorithm class, which only exists in the 5.0.0-beta version.

If it is version 4.1.1, the current method is to use reflection to refresh the properties in the TableRule object. It feels quite inelegant. Are there any other extension points?

[2021-08-30 14:21] chenzw93 commented on #12003
@avalon5666
hi, brother
Do you have a better solution?

[2021-08-31 02:02] #12046 closed

[2021-08-31 02:34] sandynz opened #12121 "Whether cluster need to auto switch could be customized by conf and SPI when scaling task almost finished"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, there is hard-coded algorithm to check whether scaling task is almost finished. After some discussion with @tristaZero , in order to support more requirements, we decided to make it be customized by configuration and SPI.

TODO list:
- Define a sub-type of `ShardingSphereAl

[2021-08-31 02:56] 15935561673 opened #12122 "5.0 version doesn't support IDENTITY_COLUMN for oracle 11g"
Caused by: java.sql.SQLSyntaxErrorException: ORA-00904: "IDENTITY_COLUMN": 标识符无效

	at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:445) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:396) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:879) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driv

[2021-08-31 05:54] tuichenchuxin commented on #12113
I want to refactor metadata builder.

[2021-08-31 06:47] LeeGuoPing commented on #10918
@strongduanmu I have finished this issue

[2021-08-31 06:52] 15935561673 opened #12128 "Hope to attach importance to oracle support"
Caused by: java.sql.SQLSyntaxErrorException: ORA-00942: 表或视图不存在

	at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:445) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:396) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:879) ~[ojdbc6-11.2.0.3.jar:11.2.0.3.0]
	at oracle.jdbc.driver.T4CTTIfun.rece

[2021-08-31 07:39] zjcnb commented on #12057
boot start config：

spring.shardingsphere.model.type=Cluster
spring.shardingsphere.model.repository.type=ZooKeeper
spring.shardingsphere.model.repository.props.namespace=demo_boot_common
spring.shardingsphere.model.repository.props.serverLists=localhost:2181
spring.shardingsphere.model.overwrite=true

[2021-08-31 08:28] wenjian-li commented on #8841
How soon will this issue be fixed?

[2021-08-31 09:53] strongduanmu commented on #8841
@wenjian-li We will fix this issue before next release. If you are interested, you are welcome to submit a PR fix.

[2021-08-31 10:18] strongduanmu commented on #11946
@wanyian After this PR merge, can you help test this problem? By the way, `actualDataNodes` need to be configured according to the actual table name, including case.

[2021-08-31 10:27] #10918 closed

[2021-08-31 10:38] strongduanmu commented on #12060
@menghaoranss `SingleTableRule` is a built-in Rule used to provide routing capabilities for `SingleTable`. It does not require configuration and will automatically create and load single tables in the data source.

[2021-08-31 10:44] menghaoranss commented on #12060
@strongduanmu Thanks for your reply, i can close this issue now.

[2021-08-31 10:44] #12060 closed

[2021-08-31 11:20] #12077 closed

[2021-08-31 11:50] coolbeevip commented on #9524
I only have a part of the tables that need to sharding-database and still support this scenario?

[2021-08-31 11:59] SteNicholas commented on #12122
@15935561673 , do you have interest to support `IDENTITY_COLUMN` in Oracle syntax?

[2021-08-31 12:01] tristaZero commented on #9524
Sure @coolbeevip , please try the 5.x release.

[2021-08-31 12:12] tristaZero commented on #11946
Cool, look forward.

[2021-08-31 12:15] tristaZero commented on #12121
Looks fine. ;-)

[2021-08-31 12:15] tristaZero commented on #11689
Go ahead. ;-)

[2021-08-31 12:17] tristaZero commented on #10127
Hi, @kxw07 so it's time to close?

[2021-08-31 12:19] coolbeevip commented on #11771
Same issue

[code]

[2021-08-31 12:21] zjcnb commented on #11801


Yes,  it 's have this actual situation, i will close this issue

[2021-08-31 12:21] #11801 closed

[2021-08-31 12:27] kxw07 commented on #10127
yes, you can close it.
Thank you.

[2021-08-31 12:35] tristaZero commented on #11771
@lanchengx Hi could you look at this sql for our client's adapting work?

[2021-08-31 12:36] #10127 closed

[2021-08-31 13:13] shadowsmao commented on #234
SourcingArts    https://www.sourcingarts.com/ 电子商务

[2021-08-31 13:35] #12066 closed

[2021-09-01 00:50] strongduanmu commented on #12128
@15935561673 Can you provide more information? Like: version, sharding config, etc.

[2021-09-01 01:46] wanyian commented on #11946
Of course I will test it, thanks for your help!

[2021-09-01 02:26] strongduanmu commented on #12032
This is a great suggestion, and I will try to optimize this problem. In addition to `ReadWriteSplitting`, we can even cache `Sharding` prepared statements in some scenario.

[2021-09-01 02:28] strongduanmu commented on #12087
@terrymanu Thank you very much for your suggestions, I submitted a PR to optimize this issue, please review it.

[2021-09-01 03:33] #12121 closed

[2021-09-01 07:09] tristaZero commented on #234
@shadowsmao Hey, welcome. ;-)

[2021-09-01 07:46] sandynz opened #12147 "Add dataConsistencyCheck switch for scaling"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Add dataConsistencyCheck switch for scaling, benifits:
- For database platform that that's not implemented data consistency check, scaling task could be finished successfully.
- Data consistency check could cost much time, if we need to save time, then it could be disabled

[2021-09-01 08:35] #12064 closed

[2021-09-01 08:55] #12087 closed

[2021-09-01 10:00] zjcnb opened #12151 "Plan to Use horizontal line replace hump naming at props"
Hi community,

We plan to use horizontal line replace hump naming at props. But, it only applies to ss custom keys.

such as:

[code]

The ```spring.shardingsphere.mode.repository.props.serverLists=localhost:2181```,  serverLists are change to server-lists.

[2021-09-01 10:41] tristaZero commented on #12043
@Comven Aha, bingo, right.

[2021-09-01 10:46] tristaZero commented on #12054
Hi @Beyondeclipse So?

[2021-09-01 10:50] tristaZero commented on #12078
Hi @dengjin001
The log showed that it's about privileges. Could you give it a check?

[2021-09-01 10:51] tristaZero commented on #12097
@Ikki-Dai We support `db.table` query in the master branch, could you try to install the proxy from the master branch?

[2021-09-01 10:55] tristaZero commented on #12122
Hi could you set `sql-show` = true to get the detailed info?

[2021-09-01 11:11] #12057 closed

[2021-09-01 11:11] #12102 closed

[2021-09-01 11:14] zjcnb commented on #12057
@terrymanu Hi, these tasks have been completed.

[2021-09-01 12:14] totalo opened #12157 "windows test error when load yaml."
since #12155 merged.

In the windows environment, there is an error, but it is normal in other environments, I will solve it as soon as possible.

[code]

[2021-09-01 12:32] gc06 opened #12158 "Can READ/write separation feature add a configuration to allow inconsistent read?"
The configuration is disabled by default. If this configuration is set to enabled, subsequent reads can be sent to read data nodes even if DML operations are performed on the current thread.

https://shardingsphere.apache.org/document/current/cn/features/readwrite-splitting/use-norms/
In the same thread and the same database connection, if there is a write operation, subsequent read operations wil

[2021-09-01 13:05] #12058 closed

[2021-09-01 13:10] dengjin001 commented on #12078
i only start sharding-proxy, use mysql -client  connection,  mysql command show error.
use navicat connection, although test connection is ok, but can't open this database.

![image](https://user-images.githubusercontent.com/29300542/131676091-40d9e774-f90a-4bb2-bf3a-926cabdd661e.png)

![image](https://user-images.githubusercontent.com/29300542/131676967-844adaef-0851-4459-9d04-4939f4bc6b72.png)

[2021-09-01 13:19] dengjin001 commented on #12078
actual database is  Alibaba RDS,  It looks like it issue the same problem.  [https://github.com/apache/shardingsphere/issues/11550](url)

[2021-09-01 16:32] RaigorJiang commented on #12158
This is a very good idea.
According to the document description:

#### But considering the scenarios where threads and connections are reused, this feature is likely to cause confusion for users.

I agree with the idea of adding a configuration, for example:
`props.readwrite-splitting.strong-consistency = true`

like:

`props.sql-show = true`

When `readwrite-splitting.strong-consistency` is `true

[2021-09-02 02:13] TeslaCN opened #12165 "PostgreSQL Proxy transaction Command Complete incorrect"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

Connect to PostgreSQL:
[code]
The tag is `START TRANSACTION`.

### Actual behavior

Connect to Proxy:
[code]
The tag is `BEGIN`, but `START TRANSACTION` was expected.

[2021-09-02 02:36] 15935561673 commented on #12128
spring:
  shardingsphere:
    datasource:
      names: user1
      user1:
        #监控统计拦截的filters
        filters: stat
        driver-class-name: oracle.jdbc.OracleDriver
        #配置基本属性
        url: jdbc:oracle:thin:@127.0.0.1:1521:orcl
        username: micloud
        password: micloudindex
        type: com.alibaba.druid.pool.DruidDataSource
        #配置初始化大小/最小/最大
        initial-size: 5

[2021-09-02 02:38] 15935561673 commented on #12128
起初认为是初始化未创建表导致，改为固定表后仍出现这个问题，

[2021-09-02 02:44] TeslaCN opened #12166 "PostgreSQL doesn't support `abort` (rollback)"
## Feature Request

Using `psql` connect to PostgreSQL:
[code]

Connect to Proxy:
[code]

[2021-09-02 02:48] 15935561673 commented on #12122
启动时出现的问题
。

[2021-09-02 02:50] 15935561673 commented on #12122
oracle出现的问题，换成mysql8.x版本一切正常

[2021-09-02 02:54] RaigorJiang opened #12168 "Unify the column name format in the DistSQL result set"
Hi community,

I found that the column names of some response results from DIstSQL are not uniform, and some adjustments are needed, such as
#### Case:
`show databases`:  the column name `SCHEMA_NAME` is all uppercase. ❌
[code]

`show variable transaction_type`: the column name `TRANSACTION_TYPE`  is all uppercase.  ❌
[code]

`show sharding hint status`: the column names are all lowercase.  ✅
[cod

[2021-09-02 03:00] yx9o commented on #12168
I want to try this issue.

[2021-09-02 03:51] avalon5666 commented on #12003
@chenzw93 Sorry, I misunderstood before.
It seem you need dynamically reload sharding rule?

[2021-09-02 04:44] strongduanmu commented on #12128
@15935561673 Can you turn on the `sql-show` config and provide `logicSQL` and `actualSQL` log? I need more information to reproduce the problem.

[2021-09-02 04:44] strongduanmu commented on #12166
@tuichenchuxin Can you take a look at this issue?

[2021-09-02 05:36] tuichenchuxin commented on #12166
ok, I'll have a look.

[2021-09-02 05:41] #12147 closed

[2021-09-02 05:42] #12165 closed

[2021-09-02 05:45] sandynz commented on #12147
There will be dataConsistencyCheckAlgorithm configuration, if it's not configured, then data consistency check won't be executed automaticlly.

[2021-09-02 06:19] Swastyy commented on #11953
@strongduanmu , @tristaZero I really want to work on this. Can you help me out for how to start.

[2021-09-02 06:48] strongduanmu opened #12170 "Add more unit test for ProjectionEngine"
Since PR #12199 optimizes the logic of ShorthandProjection in ProjectionEngine, more test cases need to be added.

If you are interested, please leave a message.

[2021-09-02 06:49] strongduanmu opened #12171 "Add unit test for FilterableExecutionContextGenerator"
This issue is for adding unit tests for FilterableExecutionContextGenerator#generate.
If you are interested, please leave a message.

[2021-09-02 06:55] strongduanmu commented on #11953
Hi @Swastyy , welcome back, to be honest, this issue is not simple and may require some skills in the MySQL protocol. I think @TeslaCN  can provide you with a good help.

[2021-09-02 07:28] Beyondeclipse commented on #12054
It OK now, thank you!

[2021-09-02 07:28] #12054 closed

[2021-09-02 08:24] RaigorJiang commented on #12158
Hello everyone,
I have thought of a few more configuration plans, which may be better than what I said before.
In general, put the new configuration into the readwrite-splitting rule:
1. Plan A
[code]
2. Plan B
[code]
3. Plan C
[code]

I think plan A will be better, so I will start with it.

[2021-09-02 09:04] number68 opened #12176 "Can shardingsphere 5.0 beta version support joining tables from different dbs"
## Question

Can shardingsphere 5.0.0 beta version support joining tables per from different db?

I found an exciting new feature in shardingsphere 5.0.0 beta version release note , details in below pic:
![image](https://user-images.githubusercontent.com/23182143/131814073-cce729fe-d319-4fb9-9cb6-b210585c9ee1.png)

But i can't follow what it exactly means.

Can shardingsphere 5.0.0 beta version su

[2021-09-02 09:08] #12166 closed

[2021-09-02 09:10] strongduanmu commented on #12176
@number68 Yes, the beta version has begun to support cross-database query, this is a new feature, there may be some problems, but you can try it.

[2021-09-02 09:20] number68 commented on #12176
@strongduanmu thanks for reply, it's a great feature.
How to deal with huge pre filting results , i.e. a filtered millon records and cross join b's filtered result and sort , do you used streaming process tool(like mpp spark)?
What the join code classes  are?
thanks a lot!

[2021-09-02 09:34] #11946 closed

[2021-09-02 09:37] Liangda-w commented on #10513
GSoC project completed:) Huge thanks to my mentors @wgy8283335 and @tristaZero

[2021-09-02 09:37] #10513 closed

[2021-09-02 10:53] wosniuxx commented on #5492
Same problem +1
Could has plan with it?

[2021-09-02 14:47] #12157 closed

[2021-09-02 15:14] CreatureOX opened #12182 "Hint Usage in Documents"
## Question
I've found issues like #4281 #6458 mentioned `hintManager.setDatabaseShardingValue` will be used in route step instead of skipping parse and rewrite phase since 4.x. Is this part of documents out-of-date?

I am glad to update this part in documents in 4.x and later version.

[2021-09-02 16:34] meSunnySrivastava commented on #12171
Hello @strongduanmu
I would like to contribute in this issue.

[2021-09-02 19:12] schrosolver commented on #12170
Hello @strongduanmu
I would like to contribute in this issue.

I don't see this method in master branch.
Could you please let me know if I should look into some other branch?

[2021-09-03 01:09] strongduanmu commented on #12171
Hi @meSunnySrivastava , welcome to leave a comment. This issue is for PR #12177, after it is merged, you can start working.

[2021-09-03 01:10] strongduanmu commented on #5492
@wosniuxx You can try the latest master branch, it has been supported now.

[2021-09-03 01:11] strongduanmu commented on #12170
Hi @schrosolver, welcome to leave a comment. This issue is for PR #12177, after it is merged, you can start working.

[2021-09-03 01:17] strongduanmu commented on #12176
@number68 You can find the entrance through `FederateExecutor` and realize cross-database query with the help of Calcite. At present, the feature is still being optimized. Welcome to participate.

[2021-09-03 02:51] taojintianxia commented on #5659
![image](https://user-images.githubusercontent.com/4112856/131943309-def2cb53-4fb8-42c3-984c-0a7640377296.png)

[2021-09-03 03:14] #11664 closed

[2021-09-03 04:52] tristaZero commented on #12182
@CreatureOX More than welcome. ;-)
Hi @RaigorJiang could you give a check here?

[2021-09-03 05:29] RaigorJiang commented on #12182
Hi @tristaZero
I checked the [document](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/usage/sharding/hint/) of current version, and the description does still exist:

Hi @CreatureOX
Welcome to submit a PR to remove the description of the feature. Thank you!

[2021-09-03 06:00] zhifengcloud commented on #10472
请问后面怎么解决的,我的5.0也是遇到这个问题

[2021-09-03 06:06] zjcnb opened #12189 "Discuss, Do we need to refactor the ShardingSphereDataSource"
Hi community,

   I found some code can be optimized, It 's about ```ShardingSphereDataSource```. For example:

[code]

I think these two methods can be merge one method, We only need to make adjustments in the upper layer to be compatible.

Even, I think the two of them can be merged if we do not consider users to directly create ShardingSphereDataSource

[code]

[2021-09-03 06:32] menghaoranss commented on #12189
I suggest keeping the 2 construction methods of `ShardingSphereDataSource`, and you can try to merge  `createContextManager`.

[2021-09-03 07:00] CreatureOX commented on #12182
Assign me please.

[2021-09-03 07:27] chenzw93 commented on #12003
@avalon5666 yes,  any good extension points of version 4.1.1?

[2021-09-03 08:02] #12182 closed

[2021-09-03 08:33] lanchengx opened #12195 "When there is only one `sharding table rule` on ZK, `drop sharding table` rule will fail"
Hi community,
There may be a problem about `ShardingRuleConfigurationChecker`

![image](https://user-images.githubusercontent.com/52209337/131971827-e5a19ad3-6a49-4f60-b70a-17d5e307954e.png)

![image](https://user-images.githubusercontent.com/52209337/131971894-2b6636ee-7ab6-425e-81be-68d7ff5a8631.png)

This method will be used when persistent configuration to zk.
So when only `rules.shardingAlgor

[2021-09-03 08:45] zjcnb commented on #12195
governance are remove from ShardingSphere， i think the error message should be change to
[code]

[2021-09-03 09:00] avalon5666 commented on #12003
I'm not familiar with this part of code.
Recommand to try 5.x [governance](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/usage/governance/), because 4.x is no longer maintained.

[2021-09-03 09:09] number68 commented on #12176
ok  thx a lot!
what config needs to be done for using this awesome feature?  @strongduanmu

[2021-09-03 09:43] #10971 closed

[2021-09-03 09:46] #12168 closed

[2021-09-03 10:48] #10443 closed

[2021-09-03 11:02] zjcnb commented on #12189
Yeah, I will merge createContextManager

[2021-09-03 14:25] penuel-leo commented on #11422
fixed?

[2021-09-03 15:27] #10600 closed

[2021-09-04 01:39] sandynz opened #12204 "Switch dataSources and rules configuration after scaling task triggered by http api finished"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling

### Expected behavior
Scaling task triggered by governance use target dataSources the same as source dataSources, dataSources is updated before scaling task starting and it won't update dataSources configuration when

[2021-09-04 04:50] terrymanu opened #12206 "Add test case for GlobalRulesBuilder"

[2021-09-04 05:18] strongduanmu commented on #9569
Duplicate with #8841.

[2021-09-04 05:18] #9569 closed

[2021-09-04 06:41] xueshiji opened #12208 "When will version 5.0.0-RC1 be released"
## Question
I want to know when the 5.0.0-RC1 version will be released，Could you give an approximate time?

[2021-09-04 07:32] yuzhiping commented on #10999
@Yule-Momoko  I ran into the same problem last week，and  just upgrade version to  `5.0.0-beta`

[2021-09-04 07:41] RaigorJiang commented on #10999
Hi @yuzhiping
The scene used by @Yule-Momoko is hint, and your configuration is sharding inline, they are different.
And I will use your configuration to investigate.

[2021-09-04 11:02] wangbin77 opened #12211 "[FATAL] Non-resolvable parent POM for org.apache.shardingsphere:shardingsphere-sql-parser-opengauss:5.0.0-RC1-SNAPSHOT: Could not find artifact org.apache.shardingsphere:shardingsphere:pom:5.0.0-RC1-SNAPSHOT and 'parent.relativePath' points at wrong local POM @ line 22, column 13"
When I run ./mvnw clean install -Prelease, below is the exception I met with the latest master code:

[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[FATAL] Non-resolvable parent POM for org.apache.shardingsphere:shardingsphere-sql-parser-opengauss:5.0.0-RC1-SNAPSHOT: Could not find artifact org.apache.shardingsphere:shardingsphere:pom:5.0

[2021-09-04 11:36] terrymanu opened #12214 "Add test case for SingleTableSQLRouter"

[2021-09-04 11:39] terrymanu opened #12215 "Add test cases for SingleTableRule"

[2021-09-04 11:41] terrymanu opened #12216 "Add test case for SingleTableRuleBuilder"

[2021-09-04 11:41] terrymanu opened #12217 "Add test case for DefaultSingleTableSchemaRuleConfigurationBuilder"

[2021-09-04 11:55] jackding79 commented on #12214
please give to me

[2021-09-04 11:55] jackding79 commented on #12215
plz give to me !

[2021-09-04 12:48] yuzhiping commented on #10909
me too,When the table isn't sharding table,it throws exception. i use `5.0.0-beta`

[2021-09-04 12:53] sunkai-cai commented on #12216
please assignees to me

[2021-09-04 13:03] sunkai-cai commented on #12217
please assignees to me.

[2021-09-04 13:23] totalo commented on #12211
I checked and found that it was due to an error in the parent module of the pom. He should be the following.
[code]

[2021-09-04 13:23] totalo commented on #12211
I checked and found that it was due to an error in the parent module of the pom. He should be the following.
[code]

[2021-09-04 14:03] avalon5666 commented on #10909
Fixed in master branch, you can build from master branch yourself.

[2021-09-04 14:04] avalon5666 commented on #10909
@zhouyongtao @2241101100 @yuzhiping @treezhu

[2021-09-04 14:22] totalo commented on #12211
It may be a problem with the parent pom.

[2021-09-04 14:23] TeslaCN commented on #12211
@totalo Thanks! Looking forward to your PR.

[2021-09-04 14:29] totalo commented on #12211
done. :)

[2021-09-04 14:32] #12211 closed

[2021-09-05 03:48] wgy8283335 commented on #10513
Congratulations! It's my pleasure. @Liangda-w

[2021-09-05 06:15] #8841 closed

[2021-09-05 06:16] tristaZero commented on #8841
Hi #12199 was merged, is it time for everyone to have a test on this bug-fix? @strongduanmu

[2021-09-05 06:28] #10982 closed

[2021-09-05 06:32] tristaZero commented on #12208
Hi @xueshiji Thanks for your question which is also many other folks' concern.
I presume it is supposed to launch next month.

[2021-09-05 08:45] totalo opened #12227 "Optimize integration test."
Hi, community, I am trying to improve the efficiency of integration test.

- [x] Improve resource release logic to prevent memory leaks.
- [x] Optimize container resources.
- [x] Fix sharding-governance integration test.
- [ ] Add etcd container.

[2021-09-05 11:00] #12158 closed

[2021-09-05 12:47] #12204 closed

[2021-09-05 15:52] Jenyow commented on #11728
I has write a demo : https://github.com/Jenyow/sharding-demo.git,  please read the project's  readme.md, thanks.

[2021-09-05 16:11] meSunnySrivastava commented on #12171
Hello @strongduanmu
PR is merged but
PR #12177 did't commit getTableColumns method in SelectStatementContext.
I checked in files changed.

[2021-09-05 17:18] cocodroid commented on #11728
My god.why don't you provide a exception log

[2021-09-05 17:40] Jenyow commented on #11728
Sorry, now I had add the log file to the demo.

[2021-09-05 20:04] Muhammadwasi commented on #12206
Hi @terrymanu,

I would like to take up this issue. Please assign it to me.

Thanks.

[2021-09-06 00:57] strongduanmu commented on #12206
Welcome @Muhammadwasi, you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribute.

[2021-09-06 01:07] strongduanmu commented on #12171
@meSunnySrivastava I'm very sorry, the logic has been adjusted after review, I will modify the content of this issue.

[2021-09-06 01:13] strongduanmu commented on #12170
@schrosolver I'm very sorry, the logic has been adjusted after review, I will modify the content of this issue.

[2021-09-06 01:39] #10901 closed

[2021-09-06 02:12] RaigorJiang commented on #12158
Thanks for the suggestion of @tristaZero , `consistency-enabled` has been adjusted to `query-consistent `.

[2021-09-06 02:59] #12189 closed

[2021-09-06 03:05] RaigorJiang commented on #11728
@Jenyow  OK, I am going to have a test.

[2021-09-06 03:39] RaigorJiang commented on #11728
Hi @Jenyow
I have checked your demo project, the problem is duplicate with issue 10138.
Now it was fixed by #10845, You can build from master branch and try again.

[2021-09-06 03:48] Jenyow commented on #11728
@RaigorJiang OK, thanks.

[2021-09-06 03:48] Jenyow commented on #11728
@RaigorJiang OK, thanks.

[2021-09-06 07:38] #12217 closed

[2021-09-06 07:39] #12151 closed

[2021-09-06 07:53] programmerhes opened #12236 "Date formatting issues"
When I try to use a string to receive the date，preciseShardingValue.getValue() return -1
sql:select * from order_main where createtime = '2021-04-01 00:00:00'
[code]
version:3.1.0
Thanks for answering

[2021-09-06 08:01] RaigorJiang commented on #12236
Hi @programmerhes
Version 3.1.0 is outdated，many issues related to the `date` format have been fixed after version 4.0.0.
For example: https://github.com/apache/shardingsphere/issues/10207
So please try the updated version.

[2021-09-06 08:13] menghaoranss commented on #12215
assigned

[2021-09-06 09:54] schrosolver commented on #12170
Sure no problem at all, Will start working on this and create a PR

[2021-09-06 13:06] ccMoriarty opened #12245 "support proxy's "set names""
### Describe the feature you would like.
now, "set names"  is actually a transparent transmission, to execute "set names" on the specific DB. it changes the character set of DB，not the ShardingSphere-proxy.

When a SQL is executed, it reaches the proxy first, and the proxy will convert it from byte stream to String. Now there is no specified character set.This may cause chinese garbled problems.

[2021-09-06 13:35] coolbeevip opened #12246 "Eating InsertStatement Exceptions?"
### Which version of ShardingSphere did you use?

5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

An exception should be thrown when the insert statement exception

### Actual behavior

ShardingSphere Eating InsertStatement Exceptions

### Example codes for reproduce this issue (such as a github link).

This issue

[2021-09-06 14:01] coolbeevip commented on #12246
It's already fixed in https://github.com/apache/shardingsphere/pull/10845

I can't found snapshot version of the master in https://repository.apache.org/content/repositories/snapshots/

[2021-09-06 15:58] RaigorJiang commented on #12245
Good idea.

[2021-09-06 16:03] RaigorJiang commented on #12246
Yes it was fixed. You can build from master branch, please refer to [README](https://github.com/apache/shardingsphere/blob/master/README.md).

[2021-09-07 01:08] coolbeevip commented on #12246
Thank you

[2021-09-07 01:08] #12246 closed

[2021-09-07 02:00] yanghaoyu opened #12249 "Duplicate foreign keys when creating sub-table data"
### Which version of ShardingSphere did you use?
master branch(5.0.0-RC1)
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
create CREDENTIAL table successfully, in actual table,this is four table on mysql server
### Actual behavior
o.a.s.p.f.c.CommandExecutorTask - Exception occur:com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityCo

[2021-09-07 03:37] #234 closed

[2021-09-07 03:39] #650 closed

[2021-09-07 03:48] lovegames commented on #11788
Can it be solved? @tristaZero

[2021-09-07 04:10] tristaZero commented on #10513
Hey, it's an enjoyable time to be your mentor during GSoC here. @Liangda-w Good luck!

[2021-09-07 08:28] coolbeevip opened #12264 "ShardingSphere-JDBC 5.0.0-RC1-SNAPSHOT throws SELECT command denied to user exception"
### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Actual behavior

[code]

### Reason analyze (If you can)

5.0.0-beta worked

In 5.0.0-RC1-SNAPSHOT, Do I need database administrator privileges?

[2021-09-07 08:53] strongduanmu opened #12266 "Insert statement get exception when sharding/encrypt/shadow/readwrite_splitting mixed use"
### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute success and get correct result.

### Actual behavior

Get exception with message —— `Insert statement does not support sharding table routing to multiple data nodes.`

When i remove this check, the route r

[2021-09-07 09:00] strongduanmu commented on #12266
Get exception because i lack of some config segements.

[2021-09-07 09:00] #12266 closed

[2021-09-07 10:10] stephensuxun opened #12270 "Problems in deleting data using shardingsphere 5.0.0-beta"
There are only ainews in the database_ user_ 0 and ainews_ user_ 1 no ainews_user table

Use user_ ID is used as the condition for splitting the table by querying user_ ID, report an error

"nested exception is org.apache.ibatis.exceptions.PersistenceException: \n### Error querying database.  Cause: groovy.lang.MissingMethodException: No signature of method: java.lang.String.mod() is applicable fo

[2021-09-07 10:12] stephensuxun commented on #12270
The database uses mysql8.0 and shardingsphere uses 5.0 beta

[2021-09-07 10:32] stephensuxun commented on #12270
spring.shardingsphere.datasource.names=ds0

spring.shardingsphere.sharding.default-data-source-name=ds0

spring.shardingsphere.datasource.common.driver-class-name=com.mysql.cj.jdbc.Driver

spring.shardingsphere.datasource.ds0.username=root
spring.shardingsphere.datasource.ds0.password=suxun8629511
spring.shardingsphere.datasource.ds0.url=jdbc:mysql://123.57.64.150:3306/ims-hidden?useUnicode=true&c

[2021-09-07 10:48] RaigorJiang commented on #12264
Hi @coolbeevip
The reason is the default authority rule onfiguration `NATIVE` needs to query the mysql.user table, and the JDBC configuration user may not have this permission.
The solution is to adjust the default authority rule onfiguration to `ALL_PRIVILEGES_PERMITTED`.

I'm dealing with this problem, it will be fixed soon.

[2021-09-07 10:54] stephensuxun commented on #12270
spring.shardingsphere.datasource.names=ds0

spring.shardingsphere.sharding.default-data-source-name=ds0

spring.shardingsphere.datasource.common.driver-class-name=com.mysql.cj.jdbc.Driver

spring.shardingsphere.datasource.ds0.username=root
spring.shardingsphere.datasource.ds0.password=root
spring.shardingsphere.datasource.ds0.url=jdbc:mysql://localhost:3306/ims-hidden?useUnicode=true&characterEnco

[2021-09-07 11:30] qiuxiaotong2021 commented on #8392
I also encountered this problem too,  any updated?
how to solve it in the  spring boot JPA scene?  Not in the mybatis scene, thank you.
@lly835 @kimmking

[2021-09-07 12:07] CodingBingo opened #12272 "Master branch, Insert on duplicate key update error!"
## Bug Report

### Which version of ShardingSphere did you use?
Current master branch.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
when i user shardingSephere-jdbc, this sql will occur error.
[code]
social_count is single table in single database.

error:
[code]

### Reason analyze (If you can)
In code of **org.apache.shar

[2021-09-07 12:17] #11880 closed

[2021-09-07 12:47] qiuxiaotong2021 commented on #7703
Hi @tristaZero , Nice!
Has the problem been resolved in the latest version? Or, tell me what solutions are there. After all, there are many people using spring boot JPA framework, which is not like mybatis or native jdbc orm frameworks.

[2021-09-07 12:48] terrymanu opened #12273 "Redesign events publish and subscribe process"
The current events publish and subscribe process is too complicated, the chains are too deep.
There are:

![current](https://user-images.githubusercontent.com/5516298/132324115-a5eaebc2-98d4-49fc-9a85-b2bf98c37777.png)

The disadvantages are:

1. Only cluster mode can support primary data source change.
2. Call chains are too deep, and there are lots of async subscribe, hard to understander.

It i

[2021-09-07 12:52] #11921 closed

[2021-09-07 14:37] RaigorJiang commented on #12272
Hi @CodingBingo
Thanks for your report, let's wait for @strongduanmu to have a look.

[2021-09-08 02:44] tuichenchuxin opened #12279 "Support sql annotation analysis."
Support sql annotation analysis.
``` -- begin comments\n Select * FROM t_order;```
After paser this sql, we can get comments segment `-- begin comments\n` in `SQLStatement`

[2021-09-08 02:49] RaigorJiang commented on #12270
Hi @stephensuxun
Is your problem solved?

[2021-09-08 03:45] zjcnb opened #12283 "Execute mvn install have mistake"
### Which version of ShardingSphere did you use?

master

[code]

[2021-09-08 03:47] RaigorJiang commented on #12249
Hi @yanghaoyu
Thank you for your report, foreign keys may not be supported yet.

[2021-09-08 03:48] RaigorJiang commented on #12236
Hi @programmerhes
Is your problem solved?

[2021-09-08 03:50] RaigorJiang commented on #12078
Hi @dengjin001
Is your problem solved?

[2021-09-08 04:34] tristaZero commented on #12272
So @strongduanmu It's an existing bug, right？
Hi @CodingBingo thanks. If so, would you like to try to fix this one?

[2021-09-08 04:37] tristaZero commented on #12249
@yanghaoyu Thanks, I am curious what you expected for `foreign Key` is just for `binding Table` or any sharding tables?

[2021-09-08 04:44] tristaZero commented on #12245
So do we have any guides to help contributors raise a PR on this issue? @RaigorJiang
@ccMoriarty Would you have to try to fix this issue with a hand from our committer?

[2021-09-08 04:57] RaigorJiang commented on #12245
Currently, we do not maintain the character set in the metadata. In particular, it is a greater challenge for the Proxy to want a session-level character set.
Therefore, this work may have a relatively large impact and requires thinking and design first.
If @ccMoriarty is interested, please put forward some ideas.

[2021-09-08 06:04] yanghaoyu commented on #12249
@tristaZero Thanks，
I am using open source software. The database tables are prepared in advance and contain a lot of foreign keys, but I want to store a lot of data, so I want to try the table splitting function

[2021-09-08 06:13] #12283 closed

[2021-09-08 06:29] strongduanmu commented on #12272
@tristaZero Yes, it's an bug, and this issue is similar  to #7998.

[2021-09-08 06:36] yanghaoyu commented on #12249
Are there any plans to support foreign keys?

[2021-09-08 06:39] kar1rose opened #12286 "java.sql.Timestamp cannot be cast to java.lang.Number"
## Question

when I use join query with two databases, it will throw this error
`String sql = "select * from t_user t join p_order p on t.id = p.user_id ";
while (rs.next()) {
    for (int i = 1; i <= count; i++) {
        System.out.print(rs.getObject(i));
        if (i != count) {
            System.out.print("|");
        }
    }
    System.out.println();
}
`

`java.lang.ClassCastException: jav

[2021-09-08 06:45] RaigorJiang commented on #12286
@kar1rose
What's your version of ShardingSphere?
And please provide your configuration and the `Logic SQL` and `Actual SQL`, by set `props.sql-show` to `true`.

[2021-09-08 06:50] kar1rose commented on #12286
version was 5.0.0-beta
`ShardingTableRuleConfiguration orderTableRuleConfig = new ShardingTableRuleConfiguration("t_user", "db${1}.user");
ShardingTableRuleConfiguration userTableRuleConfig = new ShardingTableRuleConfiguration("p_order", "db${2}.purchase_order");
ShardingRuleConfiguration shardingRuleConfig = new ShardingRuleConfiguration();
        shardingRuleConfig.getTables().add(orderTableRul

[2021-09-08 06:50] #12264 closed

[2021-09-08 06:51] kar1rose commented on #12286
sql print was such that
2021-09-08 14:34:07 logback [main] INFO  ShardingSphere-SQL - Logic SQL: select * from t_user t join p_order p on t.id = p.user_id
2021-09-08 14:34:07 logback [main] INFO  ShardingSphere-SQL - SQLStatement: MySQLSelectStatement(limit=Optional.empty, lock=Optional.empty, window=Optional.empty)
2021-09-08 14:34:07 logback [main] INFO  ShardingSphere-SQL - Actual SQL: db1 :::

[2021-09-08 06:54] kimmking commented on #12176
It's a big issue. I will try it and feedback later in another thread.

[2021-09-08 07:05] jiangqs3 opened #12287 "How to use SNOWFLAKE key generator when use Docker"
## Question

shardingSphere version:4.1.1
Using the Snowflake algorithm in docker environment may generate duplicate primary keys. What configuration is required to avoid this problem when use sharding-jdbc.

[2021-09-08 07:15] RaigorJiang commented on #12287
Hello @jiangqs3
Why shardingsphere-jdbc may generate duplicate primary keys in docker environment?
Did you configure the same props `worker-id`?
Notice: Each container can be mounted with a different VOLUME, which can solve the problem.

[2021-09-08 07:20] kimmking commented on #12279
good job.

[2021-09-08 07:26] tristaZero commented on #12078
Hi @dengjin001 could you try the master branch?

[2021-09-08 07:32] jiangqs3 commented on #12287
Thank you.

[2021-09-08 07:58] menghaoranss opened #12289 "Check whether the rules are complete for ShardingSphere-JDBC"
## Question

**For English only**, other languages will not accept.

refer to #12195

In the class `SchemaRulePersistService`, the following method will check whether the rule configurations are complete before persisted.

For ShardingSphere-Proxy, it could run successfully without any rules,  so this is unnecessary logic for proxy.

For ShardingSphere-JDBC, it should be checked before creating `S

[2021-09-08 08:11] tristaZero commented on #11951
@strongduanmu Hi could you look at these issues?

[2021-09-08 08:13] RaigorJiang commented on #12286
Hi @kar1rose
Looks like a problem with the field format, if you execute `select * from p_order p` separately, is it correct?

[2021-09-08 08:30] strongduanmu commented on #11951
@tristaZero I will check it.

[2021-09-08 08:48] kimmking commented on #12249
Using alter-statements to add FK with different name to three physical tables.

[2021-09-08 08:51] programmerhes commented on #12236
yes.thank you

[2021-09-08 08:52] #12236 closed

[2021-09-08 08:52] zjcnb commented on #12289
Hi， i want try to Add check in ShardingSphere-JDBC task

[2021-09-08 08:57] #12195 closed

[2021-09-08 09:09] RaigorJiang commented on #12286
This is a bit complicated and needs more time to investigate.
If you can provide a demo project on github (include table structures), it can help us reproduce the problem more easily.

[2021-09-08 09:13] RaigorJiang commented on #11728
@Jenyow
If your problem is solved, please close this issue, thanks.

[2021-09-08 09:30] kar1rose commented on #12286
https://github.com/kar1rose/sharding-jdbc-demo.git

ok ,eum you can test with the code ,thx

[2021-09-08 09:40] CodingBingo commented on #12272
I will try to fix bug and make a pull request, thanks for your guys reply.

[2021-09-08 09:45] strongduanmu commented on #12272
@CodingBingo You are welcome to submit a PR.

[2021-09-08 09:49] #9697 closed

[2021-09-08 10:22] marker-wu opened #12292 "An error about starting sharding-proxy in version 5.0.0-beta"
Hello, I started sharding-proxy in version 5.0.0-beta and reported an error. The error message is as follows:

Exception in thread "main" org.apache.shardingsphere.governance.repository.api.exception.GovernanceException: org.apache.zookeeper.KeeperException$OperationTimeoutException : KeeperErrorCode = OperationTimeout
at org.apache.shardingsphere.governance.repository.zookeeper.handler.CuratorZoo

[2021-09-08 10:35] RaigorJiang commented on #11762
Hi guys, @sgc109 @cqiwencom
We have done some client adaptation work for Proxy, the purpose is to allow Navicat, MySQLWorkbench and other tools to connect normally and perform basic operations.
Up to now, both Navicat and Workbench can be easily connected to Proxy. Welcome everyone to experience.
For more information, please follow the issue:
https://github.com/apache/shardingsphere/issues/11994

[2021-09-08 10:44] RaigorJiang commented on #12286
OK.

[2021-09-08 10:48] RaigorJiang commented on #12292
Hi @marker-wu
Please provide your configuration in `server.yaml`.

[2021-09-08 11:01] qiuxiaotong2021 opened #12293 "VOLUME_RANGE sharding strategy exception in sharding-5-beata."
## Bug Report

hi, i'm glad you can pay attention to my problem, thanks.

- my env:
1>sharding-jdbc 5.0 beta
2>springboot JPA, mysql8.0

- application.properties core:
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-column=order_id
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-algorithm-name=order-volume-range-table
spring

[2021-09-08 11:30] #9903 closed

[2021-09-08 12:06] terrymanu opened #12296 "Redesign persist data structure of states"
The current status persist data structure is:

[code]

There are some problems on current status persist data structure.

1. Name of root node `states` is not good enough, it is better to rename it as `status`.
2. The `proxynodes` is ephemeral node which can not persist circuit breaker status after restart the proxy.
3. The node of `primarynodes`, `proxynodes` and `datanodes` are not in the same a

[2021-09-08 12:45] zJiaJun opened #12297 "Error routing,unable to left join condition field as partition key"
### Which version of ShardingSphere did you use?
[code]
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

[code]

[code]

The correct route is to the WK_CRM_CUSTOMER table and perform a query

### Actual behavior

[code]
Two queries were executed

### Reason analyze (If you can)

I debugged the source code and found that the SQ

[2021-09-08 12:53] dengjin001 commented on #12078
using latest master branch, server.yaml use default setting,  mysql client show 'Access denied for user 'root'@'127.0.0.1' , Alibaba RDS can not create ''root' and 'sharding' account

[2021-09-08 13:29] #9584 closed

[2021-09-08 14:00] RaigorJiang commented on #12078
What about change the user configuration in server.yaml to match your account in Alibaba RDS?

[2021-09-09 00:27] strongduanmu commented on #12297
Hi @zJiaJun, thank you for your feedback. Can you try the latest `5.0.0-beta` version? The 4.x version does not support join queries very well.

[2021-09-09 01:31] marker-wu commented on #12292
Hi：The content of my server.yaml is as follows：
governance:
  name: governance_ds
  registryCenter:
    type: ZooKeeper
    serverLists: 192.168.238.128:2181
    props:
      retryIntervalMilliseconds: 500
      timeToLiveSeconds: 60
      maxRetries: 3
      operationTimeoutMilliseconds: 500
  overwrite: false
rules:
  - !AUTHORITY
    users:
      - root@%:admin
      - sharding@:sharding
    pr

[2021-09-09 01:54] RaigorJiang commented on #12293
Hi @qiuxiaotong2021
I will investigate this issue.

[2021-09-09 02:07] marker-wu commented on #12292
![image](https://user-images.githubusercontent.com/45256940/132610357-a2486099-3c42-44de-811a-ba09bfb3ed25.png)
![image](https://user-images.githubusercontent.com/45256940/132610366-bc1a02ee-488b-4253-97c7-d499471d1cf4.png)

[2021-09-09 02:08] qiuxiaotong2021 commented on #12293
Thank u.

[2021-09-09 02:13] qiuxiaotong2021 commented on #12293
- Append:

BOUNDARY_RANGE has the same problem.

- config:

spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-column=order_id
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-algorithm-name=order-boundary-range-table
spring.shardingsphere.rules.sharding.sharding-algorithms.order-boundary-range-table.type=BOUNDARY_RANGE
spring.s

[2021-09-09 02:14] RaigorJiang commented on #12292
@marker-wu
The configuration format is correct, so the problem is still focused on ZK itself.
You said that ZK is running normally, so can other clients connect successfully from the Proxy machine? Is the firewall turned off?

[2021-09-09 02:27] marker-wu commented on #12292
I can use the ZK client to connect to the ZK server, but the sharding-proxy cannot be connected
Yes, the firewall is turned off
![image](https://user-images.githubusercontent.com/45256940/132612237-e8d260b9-0dc0-4b62-8c12-ed746ef8f032.png)

[2021-09-09 02:28] RaigorJiang commented on #12293
@qiuxiaotong2021
What is your version of `mysql-connector-java`?

[2021-09-09 02:31] PhantomMaa commented on #11550
connect to Alibaba RDS, will find the two sql not work: show databases, show tables.
1. show databases
because rds not react  as a complete mysql，some details are different.
for this case, SELECT * FROM mysql.user WHERE (user, host) in (("root", "%"));
return Show_db_priv is N
need update to Y
2.  show tables
edit the source code, shardingsphere-infra-authority-common AuthorityChecker
![image](htt

[2021-09-09 02:34] RaigorJiang commented on #12292
Um. . Strange question
Since no one has ever reported that they cannot connect to ZK, consider changing to a different environment?

[2021-09-09 02:52] qiuxiaotong2021 commented on #12293
@RaigorJiang
com.zaxxer.hikari.HikariDataSource
com.mysql.cj.jdbc.Driver
mysql-connector-java: 8.0.25

[2021-09-09 02:57] marker-wu commented on #12292
Does it have anything to do with the version of ZK? The latest version I installed from docker

[2021-09-09 03:03] RaigorJiang commented on #12292
Which docker image do you use, could you give the docker hub link please?

[2021-09-09 03:14] marker-wu commented on #12292
https://github.com/31z4/zookeeper-docker/blob/10a34d67458bd30a4f334166860d8213f84e97a7/3.7.0/Dockerfile

[2021-09-09 03:19] marker-wu commented on #12292
https://hub.docker.com/layers/zookeeper/library/zookeeper/3.7.0/images/sha256-5d84555246accc3b640551dc28c59fd81e645a3ce268aedf9b3c50854fa07902?context=explore

[2021-09-09 03:25] RaigorJiang commented on #12286
Hi @kar1rose
I verified this problem. When getting the result of the `datetime` type, calcite uses the `timestamp` type to receive it. The problem occurs here.
![image](https://user-images.githubusercontent.com/5668787/132617359-e9753e62-8446-415d-8ed9-516bd07d3480.png)

@strongduanmu  Could you take a look?

[2021-09-09 03:30] TeslaCN opened #12302 "UnsupportedPreparedStatementException is not an ERROR in MySQL Proxy"
## Feature Request

### Is your feature request related to a problem?

[code]

### Describe the feature you would like.

Prepare `begin` is not allowed in MySQL and this situation is under MySQL client's control. This is not an ERROR, so it should not be logged as ERROR.

[2021-09-09 03:42] strongduanmu commented on #12286
@kar1rose Thank you for your feedback, this issue is duplicated with #10760, and i will fix this exception before next release.

[2021-09-09 03:43] #12286 closed

[2021-09-09 03:56] #12302 closed

[2021-09-09 04:06] RaigorJiang commented on #12292
I tested with this mirror. Proxy can connect normally without special configuration.
So, please check the environment, for example, try installing the local ZK? Or find the reason for another machine.

[2021-09-09 04:08] RaigorJiang commented on #12292
Docker log:
![image](https://user-images.githubusercontent.com/5668787/132620909-695d1fd6-ebe1-4fdf-9b02-9dfca8827a71.png)

[2021-09-09 04:44] strongduanmu opened #12305 "Add unit tests for DefaultDataSourceCreator"
This issue is for adding unit tests for DefaultDataSourceCreator.
If you are interested, please leave a message.

[2021-09-09 05:34] #11611 closed

[2021-09-09 05:38] CodingBingo commented on #12305
I am interested to provide unit tests for DefaultDataSourceCreator;
I will try to finish this task soon

[2021-09-09 05:44] strongduanmu commented on #12305
@CodingBingo Welcome.

[2021-09-09 06:27] marker-wu commented on #12292
The local ZK and the virtual machine manually install ZK, and the proxy can be connected normally, but the ZK installed with docker cannot connect to the proxy, but it can be connected with the ZK client tool. It’s really weird... anyway. thank you for your reply!

[2021-09-09 06:37] marker-wu commented on #12292
The local ZK and proxy can be connected normally, but the ZK installed with docker, the proxy cannot be connected, but it can be connected with the ZK client tool, which is really weird...

[2021-09-09 07:18] zJiaJun commented on #12297
I tested version `5.0.0-beta`, and still have problem.
and https://github.com/apache/shardingsphere/pull/11463 this PR is not in `5.0.0-beta`,
so 5.0.0-beta doesnt't start at all, I think it's a very serious problem.
I don't know if there are any other bugs in `5.0.0-beta`, so I will use `4.1.1` and  update the sql

[2021-09-09 07:39] qiuxiaotong2021 opened #12306 "AUTO_INTERVAL sharding strategy exception in sharding-5-beta"
## Bug Report
hi, i'm glad you can pay attention to my problem again, thanks.

### my env:
1>sharding-jdbc 5.0.0 beta
2>springboot2.3.12.RELEASE JPA
3>mysql8.0.12, jdbc jar version 8.0.25

### application.properties core:
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-column=create_time
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standar

[2021-09-09 07:58] marker-wu commented on #12292
The situation is: ZK is running in my virtual machine, and then the program (demo program, shardingProxy) is running on the host machine, my demo program can connect to ZK, but the proxy cannot be connected

[2021-09-09 08:10] CodingBingo opened #12307 "Question about key generate when useing sharding-jdbc"
I am develop on master branch these days. when I transfer from mycat to ShardignSphere, I found that if I insert a record into my table, it will return a very large id.
In our case, we want to control all database config in one place, so, we put different tables in one file, some of them are just single table in single database, we prefer use mysql auto increment id. I am wandering if ShardingSphe

[2021-09-09 08:15] RaigorJiang commented on #12292
Have you reached the limit on the number of clients in ZK?  Configured by `maxClientCnxns`.

[2021-09-09 08:39] YollinChan opened #12309 "sometimes, while executing PreparedStatement,shardingshpere throw a null pointer exception"
sql like "SELECT id,order_no FROM table_a WHERE (order_no = ? AND is_del = ?)"

sometimes,shardingshpere will throw a null pointer exception in MySQLComStmtExecutePacket.java. error meessage is:

`message :   Exception occur:
java.lang.NullPointerException: null
	at org.apache.shardingsphere.db.protocol.mysql.packet.command.query.binary.execute.MySQLComStmtExecutePacket.getParameters(MySQLComStmtE

[2021-09-09 08:44] YollinChan commented on #12309
we add log and final see that
 [paramIndex] == 0;
binaryStatement.getParameterTypes().get(parameterIndex).getColumnType() == 6;
nullBitmap.isNullParameter(parameterIndex) == false;
MySQLBinaryProtocolValueFactory.getBinaryProtocolValue(binaryStatement.getParameterTypes().get(parameterIndex).getColumnType()) == null

[2021-09-09 08:47] YollinChan commented on #12309
【MySQLBinaryProtocolValueFactory.getBinaryProtocolValue(binaryStatement.getParameterTypes().get(parameterIndex).getColumnType()) == null 】cause null pointer exception in line 106.

[2021-09-09 08:52] marker-wu commented on #12292
NO，I shutdown the demo program, and the proxy cannot connect to ZK

[2021-09-09 08:52] strongduanmu commented on #12307
@CodingBingo Single table will not use id generator.

[2021-09-09 08:53] RaigorJiang commented on #12292
No more ideas, sorry.

[2021-09-09 09:15] dengjin001 opened #12311 "Failed to fetch schema of ‘table_name’"
shardingsphere -5.0.0-beata error show ：

``2021-09-09 17:09:51.305 [DubboServerHandler-192.168.0.159:20881-thread-27] INFO  ShardingSphere-SQL -Logic SQL: SELECT * FROM asset_balance_detail LIMIT 1
2021-09-09 17:09:51.305 [DubboServerHandler-192.168.0.159:20881-thread-27] INFO  ShardingSphere-SQL -SQLStatement: MySQLSelectStatement(limit=Optional[org.apache.shardingsphere.sql.parser.sql.common.se

[2021-09-09 09:26] CodingBingo commented on #12307
I have a configuration file like this:
[code]
I enumerated all single tables in this config file to have full control of every table. I know that **ShardingSphere** can auto load table from physical database.

[2021-09-09 10:30] #11382 closed

[2021-09-09 10:36] 448700174 opened #12315 "left join result in cross table merge"
## Question
My SQL is as follows, and the sharding column is tenant_id
		select count(*)
		from care_task t,care_task_item i left join (select * from care_task_detail d where d.tenant_id = #{tenantId}) d on d.task_item_id = i.id
		where i.task_id = t.id and t.enabled = 1 and t.done_count > 0 and i.enabled  = 1
		and t.tenant_id = #{tenantId}
		and i.tenant_id = #{tenantId}

[2021-09-09 11:11] RaigorJiang commented on #12311
Hi @dengjin001
Please provide more information:
- ShardingSphere-JDBC or ShardingSphere-Proxy?
- which vision do you use?
- what's your sharding configuration?
- what are the `Logic SQL` and `Actual SQL`?  Set `props.sql-show` to `true` to print them.

[2021-09-09 11:14] RaigorJiang commented on #12315
Hi @448700174
The issue description only shows your SQL, what do you want to express?

[2021-09-09 11:22] 448700174 commented on #12315
the actual sql is :
select i.id,i.operate_time,i.operator_name,group_concat("{\"k\":\"",d.option_name,"\",\"v\":\"",d.option_value, "\"}") options
		from care_task_12 t,care_task_item_12 i left join care_task_detail_21 d on d.task_item_id = i.id and d.tenant_id = ?
		where i.task_id = t.id and t.enabled = 1 and t.done_count > 0 and i.enabled  = 1
		and t.tenant_id = ?
		and i.tenant_id = ?

select

[2021-09-09 11:25] 448700174 commented on #12315
It traversal all care_task_detail (from 1 to 99).
My config is:
care_task_detail:
                  actual-data-nodes: ds.care_task_detail_$->{1..99}
                  table-strategy:
                     standard:

[2021-09-09 11:26] 448700174 commented on #12315
Can I use binding-tables to solve the problem?

[2021-09-09 12:20] dengjin001 commented on #12311
ShardingSphere-JDBC

      5.0.0-beta

    `sharding:
        tables:
          asset_balance_detail:
            actual-data-nodes: master.asset_balance_detail_$->{0..4}
            table-strategy:
              standard:
                sharding-column: user_id
                sharding-algorithm-name: balance-line
          asset_ticket_detail:
            actual-data-nodes: master.asset_ticket_

[2021-09-09 13:04] #12065 closed

[2021-09-09 13:09] justbk2015 opened #12317 "[feature] scaling feature need adapt for openGauss database"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
NO.
### Describe the feat

[2021-09-09 13:53] 448700174 commented on #12315
when I add this configuration:
binding-tables:
    - care_task,care_task_item,care_task_detail
Got the following errors:
Route table care_task_12 does not exist, available actual table: [care_task_detail_1, care_task_detail_2, care_task_detail_3, care_task_detail_4, care_task_detail_5, care_task_detail_6, care_task_detail_7, care_task_detail_8, ...

What's wrong with my configuration?

[2021-09-09 14:54] dbin0123 opened #12322 "Data encryption exception"
### Which version of ShardingSphere did you use?

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-JDBC

### Expected behavior

Save encrypted data successfully.

### Actual behavior

The value of the encrypted field is "NULL", and it fails to save data using JPA!

### Reason analyze (If you can)

EncryptInsertValueParameterRewriter#encryptInsert

[2021-09-09 17:03] CodingBingo commented on #12322
In my opinion, in your code**courseRepository.save(course);**, if you don't assign a value for **userCardNo**, it will assign a null value for this column automatically;
For ** QueryAssistedEncryptAlgorithm**, I think it does some design problem. I think the method
[code]
should be change to
[code]
so user can directly transfer plain value to the algorithm and decide how to process this value to g

[2021-09-09 23:30] qiuxiaotong2021 opened #12325 "Spring boot JPA example need support entity update case in shardingsphere-5.0.0 beta"
## Question

Considering many scenarios, JPA is also widely used in addition to mybatis, JDBC, or other ORM frameworks, but there is no example of spring boot JPA updating the entity object from the existing examples.

I wish to supplement one in this link, which is of great guiding help to many developers. thank you.

- example link:
https://github.com/apache/shardingsphere/blob/master/examples/e

[2021-09-10 01:37] marker-wu opened #12326 "A question about sharding-proxy cluster mode"
Does sharding-proxy support high-availability clusters? How many modes are there?

[2021-09-10 02:06] RaigorJiang commented on #10991
Hi @donjuan6
Any progress?
If you don’t have time, can we assign to others?

[2021-09-10 02:06] RaigorJiang commented on #11038
Hi @donjuan6
Any progress?
If you don’t have time, can we assign to others?

[2021-09-10 02:06] RaigorJiang commented on #11108
Hi @donjuan6
Any progress?
If you don’t have time, can we assign to others?

[2021-09-10 02:06] RaigorJiang commented on #10983
Hi @donjuan6
Any progress?
If you don’t have time, can we assign to others?

[2021-09-10 02:21] RaigorJiang commented on #12326
Hi @marker-wu
`mode` supports `Memory`, `Cluster`, `Standalone`, etc. The documentation of mode is being updated.
Please pay attention to the documentation update, thank you！

[2021-09-10 02:39] RaigorJiang commented on #12326
Hi @marker-wu
Please refer to the document:  https://shardingsphere.apache.org/document/current/cn/features/mode/

[2021-09-10 02:43] RaigorJiang commented on #12325
Hi @qiuxiaotong2021
You are welcome to make a PR, thank you!

[2021-09-10 02:50] marker-wu commented on #12326
How many types of sharing-proxy cluster mode are there? Does it support distributed clusters? Distributed cluster similar to redis

[2021-09-10 02:51] justbk2015 opened #12328 "duplicate key update syntax not support in openGauss"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
yes,  in scaling project,

[2021-09-10 03:00] 448700174 commented on #12315
In class ShardingStandardRoutingEngine:
    private Collection<DataNode> routeTables(final TableRule tableRule, final String routedDataSource,
                                             final ShardingStrategy tableShardingStrategy, final List<ShardingConditionValue> tableShardingValues) {
        Collection<String> availableTargetTables = tableRule.getActualTableNames(routedDataSource);

[2021-09-10 03:04] RaigorJiang commented on #12311
@dengjin001
Seeing that there are shardingsphere and seata exceptions in your log, which one is the source of the problem?
You provided insert and select SQL, which one of the exceptions occurred?

[2021-09-10 03:11] RaigorJiang commented on #12315
@448700174
Sorry, the information you gave is a bit scattered. Please provide more information:
- ShardingSphere-JDBC or ShardingSphere-Proxy?
- which vision do you use?
- what's your `complete` sharding configuration? I dont' see sharding algorithm.
- what are the Logic SQL and Actual SQL? Set props.sql-show to true to print them.

In addition, there is `count(*)` in your SQL,  but `Actual SQL` d

[2021-09-10 03:15] RaigorJiang commented on #12306
Hi @qiuxiaotong2021
Dose this one Irelated to https://github.com/apache/shardingsphere/issues/12293?

[2021-09-10 03:28] 448700174 commented on #12315
1.The version is shardingSphere-JDBC 5.0.0.beta
2.The config is:
   shardingsphere:
      props:
         sql-show: true
      rules:
         sharding:
            key-generators:
               snowflake:
                  type: SNOWFLAKE
                  props:
                     worker-id: 123
            sharding-algorithms:
               tenant-id-sharding:
                  type: CLASS_

[2021-09-10 03:31] 448700174 commented on #12315
If I remve the binding-tables config,The LogicSQL is:
...
2021-09-10 11:27:54.248 [http-nio-8099-exec-1] INFO  ShardingSphere-SQL - Actual SQL: ds ::: select count(*)
		from care_task_12 t,care_task_item_12 i left join care_task_detail_67 d on d.task_item_id = i.id and d.tenant_id = ?
		where i.task_id = t.id and t.enabled = 1 and t.done_count > 0 and i.enabled  = 1
		and t.tenant_id = ?
		and i.t

[2021-09-10 03:48] strongduanmu commented on #11465
@JiekerTime Refer to the official documentation, specifying table_name or alias in column_name is invalid. Therefore, the valid SQL should be `UPDATE t_user u SET status ='update' WHERE u.pwd ='a10'`.

Executing this valid SQL will still report an error because the PostgreSQL syntax is ambiguous for the alias `u`.

[2021-09-10 03:50] HeroHong opened #12331 "Memory leak with ParameterMarkerExpressionSegment"
## Bug Report

num     #instances         #bytes  class name
----------------------------------------------
   1:        723701     1723060848  [C
   2:      23438021      562512504  java.util.LinkedList$Node
   3:      22989567      551749608  org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment
   4:         19796       24885584  [B
   5:        72056

[2021-09-10 05:08] dengjin001 commented on #12311
debug  see org.apache.shardingsphere.sharding.merge.dql.orderby.CompareUtil.compareTo, thisValue type is long, but otherValue type is string.
![微信图片_20210910130804](https://user-images.githubusercontent.com/29300542/132802765-85f71831-cce2-4ec9-854e-2c0791624a42.png)
![微信图片_20210910130812](https://user-images.githubusercontent.com/29300542/132802768-4a4a6f76-f0a6-43ac-9a78-cec43513a2a6.png)

[2021-09-10 05:21] #11465 closed

[2021-09-10 05:22] #11408 closed

[2021-09-10 05:26] Lychengit opened #12333 "ignore case"
ShardingRule::
private boolean isShardingColumn(final ShardingStrategyConfiguration shardingStrategyConfig, final String columnName) {
    ... ...
    // Case can be ignored here，May cause all tables to be manipulated！Insert statement encountered. All tables were inserted
    return ((ComplexShardingStrategyConfiguration) shardingStrategyConfig).getShardingColumns().contains(columnName);
}

[2021-09-10 05:26] Lychengit opened #12334 "ignore case"
ShardingRule::
private boolean isShardingColumn(final ShardingStrategyConfiguration shardingStrategyConfig, final String columnName) {
    ... ...
    // Case can be ignored here，May cause all tables to be manipulated！Insert statement encountered. All tables were inserted
    return ((ComplexShardingStrategyConfiguration) shardingStrategyConfig).getShardingColumns().contains(columnName);
}

[2021-09-10 06:04] RaigorJiang commented on #12311
So, are your table columns inconsistent? There are varchar and bigint in different tables?

[2021-09-10 06:06] qiuxiaotong2021 commented on #12306
hi @RaigorJiang,
Sorry for the late reply.
It doesn't matter in essence, but it is a problem of the same  type.
It is just as AUTO_INTERVAL sharding algorithms, and the other is VOLUME_RANGE  sharding algorithms.

[2021-09-10 06:07] RaigorJiang commented on #12306
OK, got it. Thanks.

[2021-09-10 06:10] RaigorJiang commented on #12331
Hello, for English only.
Please translate the title and content, thank you.

[2021-09-10 06:12] RaigorJiang commented on #12334
Duplicate with #12333.

[2021-09-10 06:14] zBo1997 opened #12335 "A minor issue : Does not support LocalDateTime & LocalDate"
ERROR ===>
Cause: java.sql.SQLFeatureNotSupportedException: getObject with type; getObject with type; nested exception is java.sql.SQLFeatureNotSupportedException: getObject with type.

"AbstractUnsupportedOperationResultSet" dont have implements  . how to use "LocalDateTime" or “LocalDate” in shardingJDBC Support?
![image](https://user-images.githubusercontent.com/53822786/132808191-80b9a00b-11e4

[2021-09-10 06:20] RaigorJiang commented on #12335
@strongduanmu Please take a look, thank you！

[2021-09-10 06:20] yx9o commented on #12333
Please assign to me.

[2021-09-10 06:21] sandynz opened #12336 "Create sharding tables automatically in target data sources before scaling task starting"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, sharding tables is created by user manually, it's not convinent enough, so we improve it.

TODO list:
- Define new interface, integrate with scaling-core module
- Implement new interface for different type of databases, e.g. MySQL, PostgreSQL, openGauss

[2021-09-10 06:31] marker-wu commented on #12292
Is your ZK running locally or on another machine?

[2021-09-10 06:42] RaigorJiang commented on #12292
There are the following environments:
local machine, Docker container, remote host,
they all work normally.

[2021-09-10 06:48] #12334 closed

[2021-09-10 07:04] TeslaCN commented on #11868
I found something about MySQL case sensitivity.
https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html

[2021-09-10 07:10] RaigorJiang commented on #10043
Hello, we have published an article about `AutoTable`(in Chinese), hoping to answer all users’ doubts, please refer to:
https://mp.weixin.qq.com/s/fDYqW-yJIVpkcUDNT-gsuA

In addition, as the first user to raise `AutoTable-related` issues, the ShardingSphere community would like to express gratitude to you and prepared `a gift for you`.
Please tell me your contact info (phone number, email or wecha

[2021-09-10 07:13] donjuan6 commented on #10991
Yes

---Original---
From: ***@***.***&gt;
Date: Fri, Sep 10, 2021 10:06 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] [Doc] add  configuration change history of ShardingSphere-Proxy (Chinese) (#10991)

Hi @donjuan6
 Any progress?
 If you don’t have time, can we assign to others?

—
You are receiving this because you were mentioned.
Reply to this email

[2021-09-10 07:13] donjuan6 commented on #11038
Yes

---Original---
From: ***@***.***&gt;
Date: Fri, Sep 10, 2021 10:06 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] Add custom sharding algorithm example for shardingsphere-jdbc (by SPI) (#11038)

Hi @donjuan6
 Any progress?
 If you don’t have time, can we assign to others?

—
You are receiving this because you were mentioned.
Reply to this email di

[2021-09-10 07:13] donjuan6 commented on #10983
Yes

---Original---
From: ***@***.***&gt;
Date: Fri, Sep 10, 2021 10:06 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] [Doc] Optimize change history of ShardingSphere-JDBC Spring Boot Starter Configuration (Chinese) (#10983)

Hi @donjuan6
 Any progress?
 If you don’t have time, can we assign to others?

—
You are receiving this because you were mention

[2021-09-10 07:14] donjuan6 commented on #11108
Yes

---Original---
From: ***@***.***&gt;
Date: Fri, Sep 10, 2021 10:06 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] Add an auto sharding table example. (#11108)

Hi @donjuan6
 Any progress?
 If you don’t have time, can we assign to others?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsub

[2021-09-10 07:18] zhanghongzheng6 opened #12340 "Read write separation, MySQL master-slave delay"
When using shardingsphere read / write separation, if the master-slave synchronization is delayed, can the program automatically change the read operation to read the master library

[2021-09-10 07:19] RaigorJiang commented on #12340
Hello, for English only, please translate the title and content, thank you!

[2021-09-10 07:42] RaigorJiang commented on #12340
Yes, ShardingSphere-JDBC has this ability.
Please refer to the dockement: https://shardingsphere.apache.org/document/current/cn/features/readwrite-splitting/use-norms/
Set `queryConsistent ` to true to enable this feature.

example:
https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/shardi

[2021-09-10 09:31] zhanghongzheng6 commented on #12340
Thank you for your reply. The problem I encountered can not be completely solved.
My problem is: the database jitters. The master and slave are delayed for 10 seconds. A complete query request does not read the latest data. This leads to a serious problem.

Is there a function similar to heartbeat check that can automatically switch between master and slave when there is a certain delay?

[2021-09-10 09:35] RaigorJiang commented on #12340
No.
The master-slave synchronization is done independently by the databases, and ShardingSphere cannot perceive it.

[2021-09-10 09:40] #10988 closed

[2021-09-10 09:43] #10992 closed

[2021-09-10 09:43] zhanghongzheng6 commented on #12340
Well, I see

[2021-09-10 09:43] #10987 closed

[2021-09-10 09:44] zhanghongzheng6 commented on #12340
Well, I see

[2021-09-10 09:44] #12340 closed

[2021-09-10 09:51] soulasuna opened #12344 "Add unit test for shardingsphere-shadow-core"
Hi community,

This issue is for #11661

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [x] NoteShadowAlgorithmDeterminer
- [ ] ShadowDetermineCondition

## Examples FYI

- ColumnShadowAlgorithmDeterminerTest

[2021-09-10 09:52] AdelaHong opened #12345 "5.0.0-RC1 The Springboot project failed to start:java.lang.IllegalArgumentException: Cannot support database type 'MySQL'"
java.lang.IllegalArgumentException: Cannot support database type 'MySQL'

[2021-09-10 10:03] wanyian commented on #11946
@strongduanmu  I test it and succeed！

[2021-09-10 10:25] LeeGuoPing commented on #12344
i want to try it.

[2021-09-10 10:39] strongduanmu commented on #12344
@LeeGuoPing Welcome.

[2021-09-10 11:05] ulwfcyvi opened #12352 "Whether to support cockroachDB？"
Caused by: org.postgresql.util.PSQLException: 在系统 catalog 中找不到名称数据类型(datatype)。
	at org.postgresql.jdbc.PgDatabaseMetaData.getMaxNameLength(PgDatabaseMetaData.java:82)
	at org.postgresql.jdbc.PgDatabaseMetaData.getMaxColumnNameLength(PgDatabaseMetaData.java:847)
	at org.apache.shardingsphere.shardingjdbc.jdbc.core.datasource.metadata.CachedDatabaseMetaData.<init>(CachedDatabaseMetaData.java:395)

[2021-09-10 11:05] RaigorJiang commented on #12345
Hi @AdelaHong
Please provide more detail info.

[2021-09-10 11:19] dengjin001 commented on #12311
ok ，because  there is a sharding table type not the same

[2021-09-10 11:19] #12311 closed

[2021-09-10 11:32] 448700174 commented on #12315
select count(*)
		from care_task t,care_task_item i left join (select * from care_task_detail d where d.tenant_id = #{tenantId}) d on d.task_item_id = i.id
		where i.task_id = t.id and t.enabled = 1 and t.done_count > 0 and i.enabled  = 1

binding-tables:
               - care_task,care_task_item,care_task_detail

This can work.

[2021-09-10 12:38] dengjin001 commented on #12078
server.yaml use  Alibaba RDS account is ok

[2021-09-10 12:38] #12078 closed

[2021-09-10 12:50] terrymanu commented on #12352
What is the useful with ShardingSphere and cockroachDB?

[2021-09-10 13:48] AdelaHong commented on #12345
021-09-10 17:35:25.466 [main] INFO  com.im.pps.account.biz.PpsAccountApplication - ========== StartApplication启动成功 ==========
2021-09-10 17:35:26.085 [RMI TCP Connection(5)-192.168.88.101] INFO  o.a.c.core.ContainerBase.[Tomcat].[localhost].[/] - Initializing Spring FrameworkServlet 'dispatcherServlet'
2021-09-10 17:35:26.086 [RMI TCP Connection(5)-192.168.88.101] INFO  org.springframework.web.ser

[2021-09-10 13:55] AdelaHong commented on #12345
**ServiceLoader.load(DatabaseTypedSQLParserFacade.class)
the content obtained by this code is null**
`@NoArgsConstructor(access = AccessLevel.PRIVATE)
public final class DatabaseTypedSQLParserFacadeRegistry {

    private static final Map<String, DatabaseTypedSQLParserFacade> FACADES = new HashMap<>();

    static {
        for (DatabaseTypedSQLParserFacade each : ServiceLoader.load(DatabaseTypedS

[2021-09-10 15:25] RaigorJiang commented on #12345
@AdelaHong
- What is your version of ShardingSphere?
- What is the name of the dependent pom?
I ask these questions because it looks like some dependencies are missing.

[2021-09-10 15:41] #11728 closed

[2021-09-10 15:43] Jenyow commented on #11728
Wait for the next release.

[2021-09-11 00:51] totalo opened #12361 "CI process often fails"
[code]

https://github.com/apache/shardingsphere/runs/3568198059#step:6:19970

[2021-09-11 02:17] #12361 closed

[2021-09-11 02:48] AdelaHong commented on #12345
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-jdbc-core</artifactId>
			<version>5.0.0-RC1-SNAPSHO</version>
		</dependency>

[2021-09-11 02:49] AdelaHong commented on #12345
`<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-jdbc-core</artifactId>
			<version>5.0.0-RC1-SNAPSHO</version>
		</dependency>`

[2021-09-11 02:54] AdelaHong commented on #12345
When I first used version 5.0.1-beta, it appeared: Cannot find strategy for generate keys;
After downloading the master version, there appeared: java.lang.IllegalArgumentException: Cannot support database type'MySQL'

[2021-09-11 07:16] terrymanu opened #12366 "Example improvement plan"
The current example is not good enough. It is difficult to understand, which users can not find their desired example codes quickly, the disadvantages are:

1. The categories of examples are not in same abstract level, they are not show the overview of ShardingSphere features and structure clearly;
2. The `example-core` module is too complicated which contains too many common and abstract codes, u

[2021-09-11 07:40] RaigorJiang commented on #12345
`SNAPSHO`? Is it a spelling mistake?
Since you are using springboot, you should consider using shardingsphere springboot starter.
Please refer to the [document](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/) and [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-exa

[2021-09-11 08:40] AdelaHong commented on #12345
Download the shardingsphere master branch, and the packaged version number is: 5.0.0-RC1-SNAPSHOT. After the spring boot project is imported
`<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
			<version>5.0.0-RC1-SNAPSHOT</version>
		</dependency>
		<dependency>
			<groupId>org.mybatis.spring.boot</groupId>
			<ar

[2021-09-11 08:55] Lychengit opened #12368 "If sharding database is partial，How can I guarantee distributed transactions between two datasources！thank you so much"
If sharding database is partial，How can I guarantee distributed transactions between two datasources！thank you so much！

[2021-09-11 10:15] 448700174 opened #12370 "Is last_value a reserved words"
SELECT COUNT(distinct elder_id)
    FROM elder_change
    WHERE category IN ( 0, 1 ) and tenant_id = ?
	    	AND last_value not in   (  ? , ? , ? , ? , ? , ? , ? , ? )
             AND current_value in  (  ? , ? , ? , ? , ? , ? , ? , ? )

This simple SQL can not parse.The error message is:You have an error in your SQL syntax

[2021-09-11 10:18] 448700174 commented on #12370
When I change the last_value to my_last_value it parse success.

[2021-09-11 10:25] RaigorJiang commented on #12368
Please refer to the document:
https://shardingsphere.apache.org/document/current/en/features/transaction/

[2021-09-11 10:28] RaigorJiang commented on #12370
MySQL has a function called `last_value`, which may conflict in parsing.

[2021-09-11 10:39] Lychengit commented on #12368
@RaigorJiang In order to keep the original table use the original datasource，I kept the original datasource，And created  a new ShardingSphereDataSource  to process sharding tables. How can I guarantee distributed transactions between two datasources！I use scheme 2 of FAQ. AS：

6. If sharding database is partial, should tables without sharding database & table be configured in sharding rules?
Answe

[2021-09-11 10:45] Lychengit commented on #12368
@RaigorJiang Or how do I configure scheme 1（configure default-data-source），5.0.0-beta

[2021-09-11 11:04] Lychengit commented on #12368
@RaigorJiang Except sharding tables, Other old single tables use the auto-incrementing primary key of the database that are not in the sharding rule，If only  use the ShardingSphereDataSource, old single tables use the auto-incrementing Will throw an exception “Cannot find strategy for generate keys”. so I need to choose one of scheme 1 and scheme 2.
  I didn't find the configuration method of sche

[2021-09-11 11:40] xr2117 opened #12371 "Dependent version"
What is 5.0.0-alpha springboot-starter  dependency

[2021-09-11 13:56] #12336 closed

[2021-09-11 14:13] terrymanu commented on #12371
Maven can download dependencies automatically, what problem do you meet?

[2021-09-11 14:49] RaigorJiang commented on #12368
Hi @Lychengit
Thank you for your detailed description.
`default-data-source` is a configuration item of version 4.0 and has been removed in 5.0.
Because now shardingsphere can identify those single tables that are not configured with rules, and know which datasources they are in.
According to the information you provided, I think it is enough to use `A ShardingSphereDataSource`, and only configure

[2021-09-11 14:51] RaigorJiang commented on #12368
And, according to your feedback, the FAQ also needs to be updated. thanks！

[2021-09-11 14:55] RaigorJiang commented on #12371
@xr2117
Do you mean this one?

[2021-09-11 16:30] terrymanu opened #12374 "Document improvement plan"
The current document is not good enough, it is not show the feature and architecture with ShardingSphere 5.x.
It is better to redesign the index of new document:

[code]

[2021-09-12 07:05] Lychengit commented on #12368
@RaigorJiang If only use A ShardingSphereDataSource, old single tables use the auto-incrementing Will throw an exception “Cannot find strategy for generate keys”. How can I solve this problem.

[2021-09-12 08:48] tristaZero commented on #12370
Hi @448700174 Thanks for your feedback. I am curious which release you tested? I suppose 5.0.0-beta supports it.

[2021-09-12 08:51] tristaZero commented on #12368
hi @Lychengit Thanks for your comments. Did you configure `single tables`? Or make shardingsphere load them automatically?

@strongduanmu Please check this issue on our master branch, thanks.

[2021-09-12 08:54] tristaZero commented on #12352
@ulwfcyvi Thanks for your question. I am still interested in this issue. Could I know why you want to use ShardingSphere with cockroachDB?  THnaks?

[2021-09-12 08:58] tristaZero commented on #12335
Hi, @zBo1997 which version do you use? I presume the relevant issue was fixed already. Could you search these keywords in closed PRs? I guess you will get some hints.

[2021-09-12 08:59] tristaZero commented on #12333
Hi which version does this issue mention? @Lychengit
@yx9o Sure, welcome.

[2021-09-12 09:00] tristaZero commented on #12331
@HeroHong Thanks for your feedback. Could you check this issue in our master branch? Does this issue still exist there?

[2021-09-12 09:02] tristaZero commented on #12326
@marker-wu Sure, we are working on this feature, which includes the distributed mode.

[2021-09-12 09:05] tristaZero commented on #12325
Hi @qiuxiaotong2021 Appreciated your ideas, I will discuss your issue with the community and update you then.

[2021-09-12 09:27] tristaZero commented on #12249
Hi  your case, i.e, `bindTables` exist in the same instance, so I think `foreign key` works.
But once tables locates in different instances, I guess we need a huge work. What do you think? @yanghaoyu

[2021-09-12 09:33] tristaZero commented on #12322
Hi @CodingBingo @dbin0123 Thanks for your comments here. @CodingBingo 's idea looks interesting. @strongduanmu Please give a close attention to this issue.

[2021-09-12 09:35] zBo1997 commented on #12335
Appreciate your immediate reply. i got some hints

[2021-09-12 09:35] #12335 closed

[2021-09-12 09:46] tristaZero commented on #12315
@448700174 Thanks for your question and answer. ;-)
Which version do you use?

[2021-09-12 09:47] tristaZero commented on #12309
Hi which version? @YollinChan
@TeslaCN

[2021-09-12 10:20] ulwfcyvi commented on #12352
Because our cockroachDB query is slow, someone asked me to try ShardingSphere with cockroachDB. I think ShardingSphere is not suitable for cockroachDB. Because cockroachDB is a distributed database. What do you think?

[2021-09-12 10:20] ulwfcyvi commented on #12352
Because our cockroachDB query is slow, someone asked me to try ShardingSphere with cockroachDB. I think ShardingSphere is not suitable for cockroachDB. Because cockroachDB is a distributed database. What do you think?

[2021-09-12 10:34] tristaZero commented on #12307
@CodingBingo It looks a little strange. From my point, if users configure single tables in the configuration, these single tables are likely to be applied to these default strategies, e.g., `defaultKeyGenerateStrategy`. On the other hand, when ShardingSphere automatically loads single tables, which means they are really single tables (configured single tables approximately are viewed as one-shard

[2021-09-12 10:43] tristaZero commented on #12306
@qiuxiaotong2021 So if it was fixed, could you close this issue?

[2021-09-12 10:45] tristaZero commented on #12297
@zJiaJun Hi thanks for your feedback, it looks this bug-fix will be included in the incoming release, right?
@strongduanmu

[2021-09-12 10:49] Lychengit commented on #12333
@tristaZero 5.0.0-beta

[2021-09-12 10:49] tristaZero commented on #12307
Hi @CodingBingo Could I have your WeChat connection? If it's possible, I am waiting for your response in my email (panjuan@apache.org). ;-)

[2021-09-12 10:58] tristaZero commented on #12292
Is it a bug or not?

[2021-09-12 11:00] Lychengit commented on #12368
@tristaZero Single tables and  sharding tables exist in a database at the same time.  I configured the sharding tables configuration. do not configure single tables.

![1631444290(1)](https://user-images.githubusercontent.com/90435449/132984972-c50127a3-7324-4df8-98a4-dd07cf39b5e3.png)

The current Maven configuration is（Latest version）：
       <dependency>
            <groupId>org.apache.sharding

[2021-09-12 11:08] tristaZero commented on #12287
Solved, closed.

[2021-09-12 11:38] tristaZero commented on #11946
@wanyian Hey, cool!

[2021-09-12 11:42] tristaZero commented on #12078
@dengjin001 Do you use the sharding feature in RDS? ShardingProxy or ShardingJDBC?

[2021-09-12 11:43] tristaZero commented on #11728
@Jenyow It's coming soon!

[2021-09-12 11:43] strongduanmu commented on #11946
@wanyian Thank you for your test.👍

[2021-09-12 11:47] tristaZero commented on #11762
Look forward to this feature. ;-)
Does Anyone want to test this feature? @RaigorJiang is willing to provide any help. ;-)

[2021-09-12 12:47] CodingBingo commented on #12307
I have send my wechat to your email, I will explaine why we have this problem in the wecaht.

[2021-09-12 13:38] terrymanu commented on #12352
I am not sure `ShardingSphere is not suitable for cockroachDB`, maybe we need to try it first

[2021-09-12 16:03] guimingyue opened #12383 "The refactor of ShardingSphere-sharding-route module is not appropriate"
## Feature Request
I found that the `ShardingSphere-infra-route` module was refactored, and classes related to `ShardingCondition` have
 been moved to `ShardingSphere-sharding-core` module. This will lead to circular dependency of modules like `shardingsphere-infra-executor` and `shardingsphere-sharding-core`，if I want to compute the routing context in the `shardingsphere-infra-executor`.

In my f

[2021-09-13 00:55] qiuxiaotong2021 commented on #12306
@tristaZero
OK, Thanks a lot.

[2021-09-13 00:55] #12306 closed

[2021-09-13 00:57] qiuxiaotong2021 commented on #12325
@tristaZero  Thanks very much.

[2021-09-13 01:00] qiuxiaotong2021 commented on #12293
Hi @RaigorJiang , good morning,  It has any updated?
If it is fixed in the next version, I will close the issue as soon as possible.

[2021-09-13 01:28] ulwfcyvi commented on #12352
It may be because CRDB is mainly optimized for OLTP and is not a real HTAP database.

[2021-09-13 01:50] RaigorJiang commented on #12292
@tristaZero
The test is normal, and other colleagues use it normally, no one else reports this problem.
So it is still more likely to be an environmental problem.
Hope @marker-wu can do more verification.

[2021-09-13 01:53] #12287 closed

[2021-09-13 01:54] RaigorJiang commented on #12078
ShardingProxy.

[2021-09-13 01:57] strongduanmu commented on #12368
Hi @Lychengit, thank you for your feedback. I tested the `5.0.0-beta` version and executed the `insert statement` on the single table, and `Cannot find strategy for generate keys` exception occur. You can try the master branch, this problem has been fixed.

[2021-09-13 01:58] RaigorJiang commented on #12293
@qiuxiaotong2021
Sorry, it took some time but the problem has not been reproduced, so I have not given you feedback.
I will try another way today.

[2021-09-13 02:10] Lychengit commented on #12368
@strongduanmu Looking forward to your release! I'll try changing the version to alpha.

[2021-09-13 02:13] #12368 closed

[2021-09-13 02:24] strongduanmu commented on #12307
Hi @CodingBingo, this is a bug in 5.0.0-beta. You can use the latest master branch. This problem has been fixed.

[2021-09-13 02:33] strongduanmu commented on #12297
@tristaZero Yes, master branch is correct. @zJiaJun You can wait for the `5.0.0-RC-1` version to be released.

[2021-09-13 02:43] 448700174 commented on #12370
It's  5.0.0-beta

[2021-09-13 02:44] 448700174 commented on #12315
It's 5.0.0-beta

[2021-09-13 02:49] RaigorJiang commented on #12370
I tested with the parser of the mstaer branch, but it still doesn’t support.

[2021-09-13 02:56] 448700174 commented on #12315
But another SQL can't work even I config as this.
SELECT
            cps.id,
            cpt.area_id,
            cpt.area_name,
            cps.start_time,
            cps.end_time,
            cps.schedule_count,
            cps.done_count
        FROM care_patrol_task cpt,care_patrol_subtask cps
        WHERE cpt.tenant_id = #{tenantId}
            and cpt.id = cps.task_id
            AND cps.c

[2021-09-13 03:08] AdelaHong commented on #12345
There is no problem with the environment, the 5.0.1-beta version starts normally, but the switch to 5.0.0-RC1-SNAPSHOT version starts an error

[2021-09-13 03:46] strongduanmu commented on #12322
Thank you for your feedback @CodingBingo, I will investigate this issue.

[2021-09-13 03:50] RaigorJiang commented on #12345
OK, so could you provide your sharding configuration?

[2021-09-13 04:04] strongduanmu commented on #12322
@dbin0123 Thank you for your feedback. @CodingBingo I agree with you that the input parameter type of queryAssistedEncrypt should be changed to Object, and then the user should handle it. Are you interested in submitting a PR to improve this question?

[2021-09-13 04:13] sandynz commented on #2235
In 5.0.0-RC1, test result:
[code]

It's already implemented in  #8539, related code is `ShowCurrentDatabaseExecutor`:
[code]
It return current connection related schema name.

[2021-09-13 04:13] #2235 closed

[2021-09-13 04:35] sandynz opened #12387 "Improve scaling job status showing after job finished"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
We've implemented cluster configuration auto-switch after scaling task finished recently, in `show scaling job status jobId` result, `status` column doesn't show dedicated status.

New `FINISHED` status will be added.

Benefit:
- Users could get detailed status
- Third-party tools cou

[2021-09-13 05:09] 448700174 commented on #12315
Any suggestions?

[2021-09-13 05:50] tianmingxing opened #12388 "compile 5.0.0-beta source error"
![image](https://user-images.githubusercontent.com/5615719/133030429-fd1cf942-4c84-44e9-8af4-f3666deefda0.png)

[2021-09-13 06:08] CodingBingo commented on #12322
Thanks, please assign this to me.

[2021-09-13 06:08] marker-wu commented on #12292
The sharding-proxy can't even connect to my colleague’s ZK. It can only connect to the local ZK. The sharding-ui has the same problem. It’s really weird.

[2021-09-13 06:16] strongduanmu commented on #12322
@CodingBingo Assigned.

[2021-09-13 06:25] RaigorJiang commented on #12315
Hello @448700174
I read your sharding algorithm `TenantIdShardingAlgorithm `, where:
`String actualTableName = logicTableName + "_" + tenantId;`
Does it mean that the suffix of the expected actual table name is consistent with tenant_id?

Then, for the last logic SQL, what is the tenant_id entered?

SELECT
cps.id,
cpt.area_id,
cpt.area_name,
cps.start_time,
cps.end_time,
cps.schedule_count,
cps.do

[2021-09-13 06:39] menghaoranss commented on #12388
please try to execute `mvn install` first for `shardingsphere-sql-parser` module

[2021-09-13 06:43] AdelaHong commented on #12345
datasource configuration:

`datasource.c3p0.write.jdbcUrl = jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf8&autoReconnect=true&failOverReadOnly=false&serverTimezone=GMT%2B8
datasource.c3p0.write.user = root
datasource.c3p0.write.password = 123456
datasource.c3p0.write.driverClass = com.mysql.jdbc.Driver
datasource.c3p0.write.minPoolSize = 3
datasource.c3p0.write.maxPoolSize

[2021-09-13 06:55] TeslaCN commented on #10522
This issue is hard to reproduce. I'm closing it unless I find a way to reproduce it.

[2021-09-13 06:55] #10522 closed

[2021-09-13 07:09] menghaoranss commented on #12383
which version of source code did you use, there's no `shardingsphere-sharding-executor` in the master, and infra should not rely directly on `sharding`

[2021-09-13 07:13] marker-wu opened #12391 "An error about Sharding-UI"
I got an error when I submitted。Can't recognize yaml format correctly
When I remove the line where "- !SHARDING" is located, I can submit
![image](https://user-images.githubusercontent.com/45256940/133039481-e05bd12c-722f-4a33-8dd4-11d08e627883.png)
![image](https://user-images.githubusercontent.com/45256940/133039503-d2df7b67-aaf4-4e58-88aa-6cb2a80c420c.png)

[2021-09-13 07:18] RaigorJiang commented on #12293
Hi @qiuxiaotong2021
I used the configuration you provided and tested the following algorithms: `VOLUME_RANGE` and `BOUNDARY_RANGE`
They work normally.

![image](https://user-images.githubusercontent.com/5668787/133040120-5bf52a9a-332e-40f9-a879-62d7b03bc39c.png)
![image](https://user-images.githubusercontent.com/5668787/133040236-a5d7e48c-d010-4dbe-a91c-ec8c17c6c4eb.png)

[2021-09-13 07:19] RaigorJiang commented on #12293
@qiuxiaotong2021
Can you try the master branch?
If your problem is still not solved, can you provide a project on github for us to debug?

[2021-09-13 07:23] Lychengit opened #12392 "How can I configure the ComplexKeysShardingAlgorithm in version 5.0.0-alpha，In the form of Java API"

[2021-09-13 07:34] tianmingxing commented on #12388
tks!!!

[2021-09-13 07:34] #12388 closed

[2021-09-13 07:39] RaigorJiang commented on #12292
is `192.168.238.128` your docker container's address?
Maybe the switch has restrictions?
Try other virtual machines?

[2021-09-13 07:41] menghaoranss commented on #8435
The NPE caused by Hikari with governance has been fixed in 5.x version, please try with latest version, I will close this issue later.

[2021-09-13 07:41] #8435 closed

[2021-09-13 07:45] marker-wu commented on #12292
Yes,`192.168.238.128` is my docker container's address
I tried to connect to my colleague’s ZK, but it couldn’t be connected. My demo program can be connected.

[2021-09-13 08:13] RaigorJiang commented on #12292
Why not map the port to localhost, and then the proxy uses the local port to connect？

[2021-09-13 08:21] marker-wu commented on #12292
There is a problem with what I said just now. 192.168.238.128 is a local virtual machine of mine. Then I run ZK in the virtual machine with docker. I have done port 2181 mapping.

[2021-09-13 08:24] RaigorJiang commented on #12345
Hi @AdelaHong
Please do a check:
Is `shardingsphere-sql-parser-mysql` in the dependency list of your project?

[2021-09-13 08:26] RaigorJiang commented on #12345
![image](https://user-images.githubusercontent.com/5668787/133049879-61d32976-8da5-4369-b6d3-f5834db4b7d9.png)

[2021-09-13 08:30] RaigorJiang commented on #12292
This scene is indeed a bit unusual.
ShardingSphere uses `Apache Curator` as the client of ZK connection. Maybe you can investigate whether curator supports the scenario you described.

[2021-09-13 08:42] strongduanmu commented on #10760
[code]

[2021-09-13 09:08] RaigorJiang commented on #12345
static { for (DatabaseTypedSQLParserFacade each : ServiceLoader.load(DatabaseTypedSQLParserFacade.class)) { FACADES.put(each.getDatabaseType(), each); } }
ServiceLoader.load(DatabaseTypedSQLParserFacade.class) Nothing is loaded, so the FACADES field is empty

Yes, the SPI should not be empty, so I suggest you check the dependencies.
How did you build ShardingSphere?

[2021-09-13 09:09] RaigorJiang commented on #12345
The naming of your dependent packages is not standardized. Did you make any changes?

[2021-09-13 09:11] AdelaHong commented on #12345
Because the Cannot find strategy for generate keys problem occurred in the 5.0.0-beta version, check the GitHub that the master branch has fixed this problem, so I downloaded the master branch to the local and renamed it

[2021-09-13 09:14] RaigorJiang commented on #12345
Can you rebuild it without making any changes?

[2021-09-13 09:20] AdelaHong commented on #12345
Has been rebuilt without any changes, just changed the maven artifactId

[2021-09-13 09:22] RaigorJiang commented on #12345
Why you change artifactId?

[2021-09-13 09:27] AdelaHong commented on #12345
Just checked, after rebuilding, just repackage the dependencies and use

[2021-09-13 09:27] AdelaHong commented on #12345
Just checked, after rebuilding, just repackage the dependencies and use

[2021-09-13 09:32] RaigorJiang commented on #12345
Can it work?

[2021-09-13 09:34] AdelaHong commented on #12345
No, what I mean is: just rebuild the master branch code, re-type the jar package for dependency reference, and make no other changes

[2021-09-13 09:36] RaigorJiang commented on #12345
![image](https://user-images.githubusercontent.com/5668787/133060871-9bd4fbe0-8be9-426a-994e-034871919c6c.png)

So what is your dependent package name now?

[2021-09-13 09:39] AdelaHong commented on #12345
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-sql-parser-mysql</artifactId>
			<version>5.0.0-RC1-SNAPSHOT</version>
		</dependency>

[2021-09-13 09:39] AdelaHong commented on #12345
`<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-sql-parser-mysql</artifactId>
			<version>5.0.0-RC1-SNAPSHOT</version>
		</dependency>`

[2021-09-13 09:41] RaigorJiang commented on #12345
What about the jar file name.

[2021-09-13 09:42] RaigorJiang commented on #12345
Because according to your previous screenshot, the jar package name is not standardized, so maven cannot find the right dependent package.

[2021-09-13 09:54] menghaoranss commented on #12391
@marker-wu You can use DistSQL to create or alter sharing rule in the latest version.

[2021-09-13 10:31] menghaoranss opened #12396 "Use port instead of pid in ClusterInstance for proxy"

[2021-09-13 10:45] AdelaHong commented on #12345
This is our partial reliance information：
![OSY)4 N_HX0XXT2N9D(M(K](https://user-images.githubusercontent.com/24450438/133070499-498db5c0-f321-4c1e-acf3-ae1d34740e41.png)

[2021-09-13 10:45] 448700174 commented on #12315
Yes, the tenantId is 12, I expected routing result is care_patrol_task_12 cpt,care_patrol_subtask_12 cps.

[2021-09-13 10:49] 448700174 commented on #12315
I used various format sql, all of them is the same result.

[2021-09-13 10:52] codeboyzhou opened #12399 "A little confusion about code design of `HintManager.getInstance()`"
## Question

Hi guys, does anybody can explain this confusion of mine?

When I was using shardingsphere, I met a exception as follows, and it's from the class `HintManager`, method is `getInstance()`.
`java.lang.NullPointerException: Hint has previous value, please clear first.`

I read the source code, more or less, feeling a little confused about the code design here.

According to my understand

[2021-09-13 11:02] wuma commented on #12345
We changed the artifactid because we used version 4.0.0-rc1 before

[2021-09-13 11:04] 448700174 commented on #12315
And I think the reason is the binding-bables of care_patrol_subtask not effictive.
binding-tables:
               - care_task,care_task_item,care_task_detail
               - care_patrol_task,care_patrol_subtask,care_patrol_item
Is there something I missed?

[2021-09-13 11:13] tuichenchuxin commented on #12392
@Lychengit You can try like this.
[code]

[2021-09-13 11:24] Lychengit commented on #12392
@tuichenchuxin In this version（5.0.0-alpha）. no such algorithm（“COMPLEX_INLINE”）.
![image](https://user-images.githubusercontent.com/90435449/133075029-95dfd605-c133-4792-b836-7c3195861286.png)

[2021-09-13 11:25] RaigorJiang commented on #12345
If it is determined that there is no problem with the environment, it would be strange.
Can you compare with the example project and see if there are any differences?
Or please upload a demo project to github to help us reproduce the problem.

[2021-09-13 11:30] RaigorJiang commented on #12315
@strongduanmu
Please take a look, is it a routing problem?

[2021-09-13 11:36] fwhdzh opened #12401 "Add unit test for FileRepositoryDeleteVisitor"
Hello, I want to add unit test for FileRepositoryDeleteVisitor.

[2021-09-13 11:38] strongduanmu commented on #12315
Thank you for feedback @448700174, i will check this issue later.

[2021-09-13 11:39] strongduanmu commented on #12401
@fwhdzh Welcome.

[2021-09-13 11:53] totalo opened #12402 "Sometimes CI will time out and cause failure"
case:
https://github.com/apache/shardingsphere/runs/3568197919#step:5:20113
https://github.com/apache/shardingsphere/pull/12324/checks?check_run_id=3558496073#step:6:19983

[2021-09-13 12:04] menghaoranss commented on #12399
1. `HintManager` is `AutoCloseable`, When `HintManager` was released normally, `HINT_MANAGER_HOLDER` will be cleared
2. `Hintmanager` needs to support multi-threaded, so it cannot be designed as a singleton

[2021-09-13 12:57] misskeyjoy commented on #11250
Use below code, configure  one additional data source

        // 配置真实数据源
        // 这里有个bug 配置 一个 DataSource 的时候,启动很慢,
        Map<String, DataSource> dataSourceMap = ImmutableMap.of("ds0", hikariDataSource,"ds1",hikariDataSource);

[2021-09-13 13:00] chengh1 opened #12406 "When using calcite to execute SQL containing Chinese, proxy will throw an exception."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-13 13:04] chengh1 commented on #12406
we can resolve it by adding a calcite configuration file to specify charset as utf8 .
step:
1、create a calcite configuration file name as saffron.properties.
2、 add the config "calcite.default.charset = utf8" in the file.

[2021-09-13 13:09] guimingyue commented on #12383
Sorry, I typed the wrong module name.
I mean the route-related classes should not be moved to `sharding` package.

[2021-09-13 13:20] fwhdzh opened #12407 "Add unit test for shardingsphere-standalone-mode"
Hello, I want to add unit test for shardingsphere-standalone-mode.

- [x] StandalonePersistRepositoryConfigurationYamlSwapper
- [x] StandaloneContextManagerBuilder

[2021-09-13 13:27] yanghaoyu commented on #12249
Hi @tristaZero When the table is in different instances, do I configure the corresponding broadcast table?
I’m just a beginner, that’s a suggestion。
English level is average, please forgive me for Google Translate

[2021-09-13 19:16] ThanoshanMV commented on #12370
Hi @RaigorJiang, I'll try to fix it.

[2021-09-13 23:39] strongduanmu commented on #12370
Welcome @ThanoshanMV, i will assign this issue to you.

[2021-09-13 23:49] #12322 closed

[2021-09-13 23:50] strongduanmu commented on #12401
Fixed by #12405

[2021-09-13 23:50] #12401 closed

[2021-09-14 00:45] stephensuxun commented on #12270
My problem hasn't been solved yet

[2021-09-14 00:52] strongduanmu commented on #11250
Hi @misskeyjoy , we have performed some performance optimizations on the master branch. Can you use the master branch to test whether this problem exists?

[2021-09-14 01:31] tuichenchuxin commented on #12392
@Lychengit  In this version（5.0.0-alpha ) need to implement `ComplexKeysShardingAlgorithm` or  you can update version.

[2021-09-14 01:42] qiuxiaotong2021 commented on #12293
@RaigorJiang
Sorry for the delay reply.
OK, my problem is still not solved. I will upload to github with module in time this afternoon pm 15:00, but I'm still communicating the needs of customers on site.
Thanks for u help.

[2021-09-14 01:48] Lychengit commented on #12392
@tuichenchuxin I have a class MyComplexKeysShardingAlgorithm to implement ComplexKeysShardingAlgorithm. But I don't know how to configure it（MyComplexKeysShardingAlgorithm ）. Make it work.

[2021-09-14 02:00] tuichenchuxin commented on #12392
@Lychengit Configure `MyComplexKeysShardingAlgorithm` as spi. Or can you offer your example, let me check.

[2021-09-14 02:11] Lychengit commented on #12392
spi like this? yes, I succeeded in trying like this yesterday. But I think it's a little informal... ,So I want to ask if there is a better way.
![image](https://user-images.githubusercontent.com/90435449/133182726-c6e4ca4b-db2b-4d50-b623-9d238f3b150b.png)

[2021-09-14 02:14] tuichenchuxin commented on #12392
@Lychengit Yes. Spi is more flexible.

[2021-09-14 02:21] HoasZhang commented on #12345
This is my exception information. I guess the springboot DB health check uses JDBC template, but we use other instead.
Similar problems link：https://www.cnblogs.com/maohuidong/p/15006724.html
---------------
java.lang.IllegalArgumentException: Cannot support database type 'MySQL'
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:216)
	at org.apache.shardingsphere.sql.parser

[2021-09-14 02:26] CodingBingo commented on #12305
Hi, this issue can be closed now.

[2021-09-14 02:33] RaigorJiang commented on #12345
I think It does not look similar.
Your exception is because the SPI is not loaded. Since the health check is in the same process, the dependent packages can also be found.

[2021-09-14 02:34] RaigorJiang commented on #12345
Could you provide a test project which can reproduce the problem.

[2021-09-14 02:36] RaigorJiang commented on #12370
Thank you @ThanoshanMV .

[2021-09-14 02:37] HoasZhang commented on #12345
We use the following configuration to temporarily solve this problem. Is there a better solution here? We don't want to turn off the health check of DB，and test insert one record。
I think it's because the springboot JDBC template doesn't come under shardingjdbc's supervision
-------
management.health.db.enabled=false

[2021-09-14 02:39] RaigorJiang commented on #12293
You are welcome.

[2021-09-14 02:43] RaigorJiang commented on #12270
These questions I mentioned before, please answer the first and third points?

[2021-09-14 02:43] codeboyzhou commented on #12399
@menghaoranss Thanks, appreciate that, your answer is simple and clearly, especially _the second one_ , I got you.
Feel free to close this topic, please.

[2021-09-14 02:44] RaigorJiang commented on #12270
@stephensuxun
Is your sharding column `user_id` not a number type?

[2021-09-14 02:48] codeboyzhou commented on #12399
@menghaoranss
Thanks, appreciate that, your answer is simple and clearly, especially _the second one_, I got you, feel free to close this topic, please.

[2021-09-14 02:48] RaigorJiang commented on #12345
This is the first time that this problem has been mentioned. Welcome to study and propose a solution together.

[2021-09-14 02:50] menghaoranss commented on #12399
@codeboyzhou  thanks for your feedback.

[2021-09-14 02:50] #12399 closed

[2021-09-14 03:11] menghaoranss commented on #12383
Route is the kernel feature of ShardingSphere, different features such as `Sharding`, `Readwrite Splitting` and `Encrypt` , etc. have their own routers. They all need to be loaded into infra through SPI without direct reference just like this.

[code]

[2021-09-14 03:12] Lychengit commented on #12392
@tuichenchuxin ok! Thank you very much. I like the style of the version 5.0.0-beta very much. It's more flexible. But there are some problems with this version（5.0.0-beta）. So I'm trying version 5.0.0-alpha.

**1、** No error prompt for duplicate unique values. like this. The id field is the primary key. Insert ID 123 at the same time, No error.
![image](https://user-images.githubusercontent.com/90

[2021-09-14 03:30] tuichenchuxin commented on #12392
@Lychengit I understand that. We will release the latest version soon, and you are welcome to try it out at that time

[2021-09-14 03:35] Lychengit commented on #12392
@tuichenchuxin Thank you for your hard work. I will!

[2021-09-14 03:35] #12392 closed

[2021-09-14 03:48] HoasZhang commented on #12345
We tried to extract a small item, but it could not be reproduced, but our error mainly occurred when the datasourcehealthindicator called and executed select 1.
org.springframework.boot.actuate.jdbc.DataSourceHealthIndicator

[2021-09-14 03:54] RaigorJiang commented on #12345
Thanks for your feedback, I have logged this issue and will continue to investigate, but it may take a long time.

[2021-09-14 04:49] zjbxxx opened #12416 "sql-model"
The version I use is shardingsphere-5.0.0-beta-shardingsphere-proxy. It is found that some SQL statements are not supported. These statements are some requirements of the higher version of MySQL. I would like to ask how to modify the SQL model of the proxy database. Thank you very much!

[2021-09-14 05:01] #12416 closed

[2021-09-14 06:01] #12289 closed

[2021-09-14 06:06] xfyang1988 opened #12419 "How to configure the spring namespace?"
If "xmlns:shardingsphere="http://shardingsphere.apache.org/schema/shardingsphere/sharding"" is configured, the following "shardingsphere:data-source" tag cannot be found, and vice versa.ShardingSphere version is 5.0.0-beta

![image](https://user-images.githubusercontent.com/19721648/133203648-e88d176c-5a14-473e-8ab4-1c6f4767741e.png)
![image](https://user-images.githubusercontent.com/19721648/1332

[2021-09-14 06:37] marker-wu commented on #12391
I configured it in accordance with the latest rules
[https://shardingsphere.apache.org/document/5.0.0-beta/cn/user-manual/shardingsphere-jdbc/configuration/yaml/sharding/](url)
![image](https://user-images.githubusercontent.com/45256940/133207328-40b61879-a04c-4ba8-a544-70f6b89f4b4e.png)

[2021-09-14 06:53] menghaoranss commented on #12419
please refer to the example of 5.0.0-beta:

https://github.com/apache/shardingsphere/blob/5.0.0-beta/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-namespace-jpa-example/src/main/resources/META-INF/application-sharding-tables.xml

[2021-09-14 07:11] xfyang1988 commented on #12419
Configured according to your example, but reported the following error?

Caused by: org.springframework.beans.factory.xml.XmlBeanDefinitionStoreException: Line 20 in XML document from class path resource [spring/local/springbeans-sharding-datasource.xml] is invalid; nested exception is org.xml.sax.SAXParseException; lineNumber: 20; columnNumber: 89; cvc-complex-type.3.2.2: 元素 'sharding:standard-st

[2021-09-14 07:37] totalo commented on #12366
hi, I want to finish this job. plz assgin to me. thanks.

[2021-09-14 07:57] xfyang1988 commented on #12419
Configured according to your example, but reported the following error?

Offending resource: class path resource [spring/applicationContext.xml]; nested exception is org.springframework.beans.factory.xml.XmlBeanDefinitionStoreException: Line 20 in XML document from class path resource [spring/local/springbeans-sharding-datasource.xml] is invalid; nested exception is org.xml.sax.SAXParseException;

[2021-09-14 08:16] #12370 closed

[2021-09-14 08:27] CrackerSuperior opened #12422 "Where are data sources and sharding rules created using distsql stored? If zooKeeper management is used"

[2021-09-14 08:37] strongduanmu commented on #11794
Since date is a keyword in calcite parsing, and calcite does not process the keywords, it causes parsing exceptions. Using quotation marks can temporarily avoid this problem. Later, calcite parsing will be skipped and shardingsphere parsing will be used directly.

[code]

[2021-09-14 08:40] strongduanmu commented on #11794
When I tested, I found another problem, that is, calcite has problems with time processing.

[code]

I executed the following SQL and inserted a record with the date `2021-09-14` into the t_single table, but when I query it through calcite, it returns `2021-09-13`.

[code]

[2021-09-14 09:05] zjbxxx opened #12424 "Cannot find strategy for generate keys"
I am using sharding-proxy-5.0.0-beat. Now there is a problem. When I perform a single table insertion operation on a table that is not fragmented, the error is as follows: This version of shardingproxy doesn't yet support this SQL. 'cannot find strategy for generate keys. Tell me how to solve this problem? Thank you very much!

[2021-09-14 09:16] zhw1992 opened #12425 "version 4.1.1 , The database has a value, but the result returns null"
select aa,(select count(1) from xx) as bb from cc

The value of bb returns null,How to solve this situation?

[2021-09-14 09:18] tuichenchuxin commented on #12424
@zjbxxx Can you show me the config?

[2021-09-14 09:21] #10760 closed

[2021-09-14 09:21] zjbxxx commented on #12424
schemaName: heattingwork
dataSources:
  ds_0:
    url: jdbc:mysql://127.0.0.1:3306/heattingwork?serverTimezone=UTC&useSSL=false
    username: root
    password: 1234
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50

rules:
- !SHARDING
  tables:
    dtu_log:
      actualDataNodes: ds_0.dtu_log_$->{2021..2022}${(1..1

[2021-09-14 09:23] zjbxxx commented on #12424
Sorry, I'm a novice. The configuration format just given may be a little messy

[2021-09-14 09:24] menghaoranss commented on #12422
@CrackerSuperior  please refer to the document : https://shardingsphere.apache.org/document/5.0.0-beta/en/features/governance/management/registry-center/

[2021-09-14 09:31] #12113 closed

[2021-09-14 09:54] stephensuxun opened #12426 "According to the year-by-year database and according to the daily sub-data table, add data to report an error"
nested exception is org.apache.ibatis.exceptions.PersistenceException: \n### Error updating database.  Cause: org.apache.shardingsphere.sharding.algorithm.sharding.ShardingAlgorithmException: failed to shard value PreciseShardingValue(logicTableName=ainews_user, columnName=create_time, value=2021-09-14 17:45:37.487), and availableTables [ainews_user_914, ainews_user_915, ainews_user_916]\n### The

[2021-09-14 09:55] stephensuxun commented on #12426
spring.shardingsphere.datasource.names=ds2021,ds2022
spring.shardingsphere.sharding.default-data-source-name=ds2021

spring.shardingsphere.datasource.ds2021.username=root
spring.shardingsphere.datasource.ds2021.password=root
spring.shardingsphere.datasource.ds2021.url=jdbc:mysql://localhost:3306/ims-inspect-2021?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2b8
spring.sha

[2021-09-14 10:02] zjcnb commented on #12419
@xfyang1988 Hi, Can you provider demo project for us, i will check it.

[2021-09-14 10:06] zjcnb commented on #12426
@stephensuxun Hi, Which Sharding-JDBC version are you using.

[2021-09-14 10:07] stephensuxun commented on #12426
5.0.0-beta

[2021-09-14 10:09] AdelaHong opened #12427 "MySQLSyntaxErrorException: Unknown column 'tt.DELETE_USER_NAME' in 'field list'"
shardingshpere version number：5.0.0-RC1-SNAPSHOT
query.with.cipher.column: flase
`Collection<EncryptColumnRuleConfiguration> columns = new LinkedList<>();

        EncryptColumnRuleConfiguration columnRuleConfiguration = new EncryptColumnRuleConfiguration("BANKNO","bankno",null,"DELETE_USER_NAME","sm4");
        columns.add(columnRuleConfiguration);

        EncryptTableRuleConfiguration result =

[2021-09-14 10:09] AdelaHong opened #12428 "MySQLSyntaxErrorException: Unknown column 'tt.DELETE_USER_NAME' in 'field list'"
shardingshpere version number：5.0.0-RC1-SNAPSHOT
query.with.cipher.column: flase
`Collection<EncryptColumnRuleConfiguration> columns = new LinkedList<>();

        EncryptColumnRuleConfiguration columnRuleConfiguration = new EncryptColumnRuleConfiguration("BANKNO","bankno",null,"DELETE_USER_NAME","sm4");
        columns.add(columnRuleConfiguration);

        EncryptTableRuleConfiguration result =

[2021-09-14 10:11] #12428 closed

[2021-09-14 10:15] AdelaHong commented on #12424
I have encountered this problem. This problem does exist in the 5.0.0-bate version. The author of the master version has already repaired it. It is recommended to download the master branch by yourself.

[2021-09-14 10:17] stephensuxun commented on #12426
SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for ainews_user_914
-- ----------------------------
DROP TABLE IF EXISTS `ainews_user_914`;
CREATE TABLE `ainews_user_914` (
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `user_account` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT '用户账号',
  `user_name` varcha

[2021-09-14 10:38] #12317 closed

[2021-09-14 10:41] #12396 closed

[2021-09-14 11:00] 448700174 commented on #12315
Do you have any suggestion?@strongduanmu

[2021-09-14 12:05] zjcnb commented on #12426
You can try it with this config:

[code]

[2021-09-14 12:08] #11794 closed

[2021-09-14 12:12] strongduanmu commented on #12425
Hi @zhw1992, thank you for your feedback. The 4.x version does not support subqueries very well, you can try the latest 5.x version.

[2021-09-15 01:10] zjbxxx commented on #12424
Thank you very much for helping me solve the problem, thank you!

[2021-09-15 01:14] xfyang1988 commented on #12419
This is based on the project renovation, based on the company's confidentiality agreement, can not be opened, you can check it out

[2021-09-15 01:55] #12419 closed

[2021-09-15 02:11] zjbxxx commented on #12424
Hello, I'd like to ask, do I download the source code of the master branch and type it into a package in tar.gz format?

[2021-09-15 02:16] xfyang1988 opened #12436 "Error in configuring "shardingsphere: data source"? Shardingsphere version 5.0.0-beta"
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'dataSource' defined in class path resource [spring/local/springbeans-datasource-common.xml]: Cannot resolve reference to bean 'shardingDataSource' while setting bean property 'defaultWriteDataSource'; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean wit

[2021-09-15 02:20] AdelaHong commented on #12424
After downloading the master version, use maven to make a jar package

[2021-09-15 02:33] #12436 closed

[2021-09-15 03:01] zjcnb opened #12437 "Mvn install command run failure"
branch ： master

[code]

[2021-09-15 03:04] tuichenchuxin commented on #12437
I'll check.

[2021-09-15 03:21] menghaoranss commented on #12427
@AdelaHong could you please provide the complete configuration of Java API, I will try to reproduce this issue

[2021-09-15 03:33] tristaZero commented on #12249
Hi, @yanghaoyu No worries about your English, I can get your point. ;-)

Actually `broadcast` is another way to support `foreign key`, but you'd better give a look at [its explanation](https://shardingsphere.apache.org/document/5.0.0-beta/cn/features/sharding/concept/sql/) to check whether it fits your case.

[2021-09-15 03:41] tristaZero commented on #12333
Thanks @Lychengit
@yx9o Hi, are you interested in this issue? Firstly let us check whether @Lychengit 's description exists. If so, fix it. ;-)

[2021-09-15 03:42] tristaZero commented on #12333
Could you give some pointers to @yx9o ?

[2021-09-15 03:47] tristaZero commented on #12352
Hi @ulwfcyvi
Thanks for your feedback. Yep, ShardingSphere can help upgrade DBMS, e.g., Postgresql, Mysql to become a distributed database or do something like encryption. So your aim is to leverage ShardingSphere to make OLAP on CRDB become faster?

[2021-09-15 03:48] tristaZero commented on #12307
It was fixed.

[2021-09-15 03:48] #12307 closed

[2021-09-15 03:49] tristaZero commented on #12297
@zJiaJun Or you can just build a master branch to use it for your urgent case.

[2021-09-15 03:49] #12297 closed

[2021-09-15 03:49] terrymanu commented on #12366
Welcome, we can discuss more about it.

[2021-09-15 03:51] strongduanmu commented on #12333
@Lychengit @yx9o Can you try the master branch? PR #11750 added some checks to prevent full routing of insert statements.

[2021-09-15 03:52] strongduanmu commented on #12333
@yx9o Can you help check weather exists case problem in `ComplexShardingStrategyConfiguration`?

[2021-09-15 04:02] Lychengit commented on #12333
@yx9o @strongduanmu
（5.0.0-beta）If the field is capitalized, it may cause all tables to be inserted. The master branch has not been tried yet. This is my test configuration, and what I saw at the breakpoint. （Although table field capitalization is not standardized.）
![image](https://user-images.githubusercontent.com/90435449/133368228-c93f633c-392d-4901-963a-4932b9c3324b.png)
![image](https://user

[2021-09-15 04:06] Lychengit commented on #12333
@yx9o @strongduanmu The CONVERTID fields in SQL should be capitalized. But the parsed fields are lowercase. like columnName at the breakpoint.

[2021-09-15 04:09] strongduanmu commented on #12333
Hi @Lychengit , you can look at the source of lowercase tableName and submit a PR to fix this problem.

[2021-09-15 05:01] zjbxxx commented on #12424
Hello, I'm really sorry to bother you again. I downloaded the source code of master and made an error in the process of packaging with maven, as follows:

[ERROR] Failed to execute goal on project shardingsphere-proxy-common: Could not resolve dependencies for project org.apache.shardingsphere:shardingsphere-proxy-common:jar:5.0.0-RC1-SNAPSHOT: The following artifacts could not be resolved: org.ap

[2021-09-15 05:06] yx9o commented on #12333
@tristaZero @strongduanmu @Lychengit Hi, I verified it on the master branch, and the result is consistent with the description of @Lychengit.

[2021-09-15 06:10] WangShaolin-GitHub opened #12441 "Caused by: java.lang.IncompatibleClassChangeError: vtable stub"
Hello! I am using ShardingSphere-5.0.0-beta to start an error.
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.boot.actuate.autoconfigure.jdbc.DataSourceHealthContributorAutoConfiguration': Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.beans.factory.BeanCreati

[2021-09-15 06:25] AdelaHong commented on #12424
Never encountered before, if you need, you can email the jar package to you

[2021-09-15 06:25] yx9o commented on #12333
@strongduanmu Hi, I found the place where columnName changed to lowercase.
![image](https://user-images.githubusercontent.com/12792261/133381494-433ae81c-f919-44a1-b81f-4a22dd94b2c6.png)

[2021-09-15 06:26] TeslaCN opened #12442 "Build failed using JDK 17"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Expected behavior

### Actual behavior

Java version:
[code]

Executing `./mvnw clean install`
[code]

[2021-09-15 06:29] zjbxxx commented on #12424
I replaced the version with 5.0.0-alpha to avoid this problem. Although there are other problems now, I am solving them. Thank you again

[2021-09-15 06:36] AdelaHong commented on #12427
`CREATE TABLE `tf_b_bank_info` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bankno` varchar(25) COLLATE utf8_bin DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COLLATE=utf8_bin COMMENT='';

CREATE TABLE `tf_b_bank_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bank_id` bigint(20) DEFAULT NULL COMMENT '银行类型:tf_b_bank_info的id',
  `bankno` varchar(2

[2021-09-15 06:40] Lychengit commented on #12333
@yx9o @strongduanmu I may have another problem.
 No error prompt for duplicate unique values. like this. The id field is the primary key. Insert ID 123 at the same time, No error.
![image](https://user-images.githubusercontent.com/90435449/133383207-9d087539-b82a-401e-8116-26a90296712b.png)
![image](https://user-images.githubusercontent.com/90435449/133383238-96fa49e7-b1bb-4797-acb2-d31000f28da7.p

[2021-09-15 06:44] Lychengit commented on #12333
@yx9o @strongduanmu Normal exceptions should report errors and primary key conflicts.

[2021-09-15 06:46] jlcon opened #12444 "How to use Navicat in shardingsphere-proxy"
## Question
Environment:
shardingsphere-proxy-5.0.0-beta
Navicat 15.0.18

config-readwrite-splitting.yaml

[code]

I can not use navicat connect to proxy! error is : **no database selected**

![微信截图_20210915170605](http://tvax2.sinaimg.cn/large/0022gwZrly1guhfdtd931j609u05naa902.jpg)

If the latest version does not support Navicat 15 and workbench 8, it is recommended to modify the document

![微信截

[2021-09-15 06:50] zjbxxx commented on #12424
Hello, my email is zjb_ job@126.com , you can send the jar package to my mailbox when it is convenient for you, please

[2021-09-15 07:22] 2602351188 commented on #5596
I have the same err

[2021-09-15 07:39] menghaoranss commented on #12441
@WangShaolin-GitHub this issue has been fixed in master, could you please try with master branch again?

[2021-09-15 07:57] shulipeng commented on #12292
I have same question , if i use local zk , it can work

[2021-09-15 07:57] CrackerSuperior commented on #12444
If it is not the latest code pulled from master, use Navicat11.1.13

[2021-09-15 08:08] taojintianxia commented on #12292
you guys can not conntect to the zk which luanched by docker, then would you please share the command you start up the zk ? @shulipeng @marker-wu @RaigorJiang

[2021-09-15 08:13] CrackerSuperior opened #12446 "ERROR 1999 (C1999): Unknown exception: [Insert statement does not support sharding table routing to multiple data nodes.]"
**The configuration file is as follows:**

schemaName: encrypt_db

dataSources:
 encrypt_0:
   url: jdbc:mysql://172.18.40.129:3306/encrypt?serverTimezone=UTC&useSSL=false
   username: pcloud
   password: pcloud
   connectionTimeoutMilliseconds: 30000
   idleTimeoutMilliseconds: 60000
   maxLifetimeMilliseconds: 1800000
   maxPoolSize: 50
   minPoolSize: 1
 encrypt_1:
   url: jdbc:mysql://172.18.4

[2021-09-15 08:14] marker-wu commented on #12292
docker run --privileged=true -d --name zookeeper --publish 2181:2181  -d zookeeper:latest
Not only the ZK running in docker cannot be connected, but also the ZK manually installed on another machine cannot be connected.

[2021-09-15 08:30] fffscd opened #12447 "Memory leak with ParameterMarkerExpressionSegment"
## shardingsphere version
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
 <version>4.0.0-RC2</version>
        </dependency>

## dump file
num   #instances   #bytes    #class name
----------------------------------------------
1: 416715 76135448 [C
2: 703904 28156160 com.mysql.cj.ClientPreparedQueryBindValue
3: 716219 2

[2021-09-15 08:42] taojintianxia commented on #12292
since you can connect to zk by a ZK UI app, which mean proxy should connect too.... for another zk which installed on your colleagues or a server, did you try to connect to that zk by the ZI ZUI app ?

following is the screenshot of my machine

![image](https://user-images.githubusercontent.com/4112856/133400444-df341cdd-b0fc-4fd5-aff4-225c2acf0b3e.png)

I build a lastest proxy through the code I

[2021-09-15 08:44] ulwfcyvi commented on #12352
Yes, but I don’t know if I can improve query performance

[2021-09-15 08:45] ulwfcyvi commented on #12352
Yes, but I don’t know if I can improve query performance

[2021-09-15 08:47] marker-wu commented on #12292
I can connect to ZK (my local machine and my colleague's machine) through the ZK client tool (ZooInspector), but the agent cannot connect to ZK

[2021-09-15 09:08] RaigorJiang commented on #12444
Please refer to this issue:

[2021-09-15 09:08] jlcon commented on #12444
MySQL Workbean can not work

![微信截图_20210915170605](http://tvax1.sinaimg.cn/large/0022gwZrly1guhfcp7lb1j616e0qyq9v02.jpg)

[2021-09-15 09:09] RaigorJiang commented on #12444
Hi @jlcon ,
please refer to this issue: https://github.com/apache/shardingsphere/issues/11762#issuecomment-915120871

[2021-09-15 09:10] zjcnb commented on #12446
@CrackerSuperior Hi, you can try remove encrypt_1 and encrypt_2. And why configure the same data source.

[2021-09-15 09:18] WangShaolin-GitHub commented on #12441
@menghaoranss Thank you very much! I'll try again.

[2021-09-15 09:18] #12441 closed

[2021-09-15 09:22] #12437 closed

[2021-09-15 09:24] sandynz opened #12449 "If a scaling job failed or stopped then it could not be started by DistSQL except restarting proxy"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling, commit: 46aeeff1b2e837fe514df3097e4945057b911e7a

### Expected behavior
Job could be stopped when exception occur.

### Actual behavior
It need to stop job manually, else it couldn't be started again.

### Reason ana

[2021-09-15 09:42] shulipeng commented on #12292
@taojintianxia
How can i setting zk operation timeout  in shardingsphere-ui ?
may be it was our vm machine connection problems?
here are my stack info:

![1631698928(1)](https://user-images.githubusercontent.com/20982490/133410455-cb6561ce-47c2-4a73-b0a1-7489d9b338d7.png)

[2021-09-15 09:46] tuichenchuxin commented on #12315
@448700174
I saw the actual sql is like
``` FROM care_patrol_task_76 cpt,care_patrol_subtask_76 cps```
```FROM care_patrol_task_77 cpt,care_patrol_subtask_77 cps```
these tables have binding relationship. If they are not binding each other, the sql will be like
```FROM care_patrol_task_1 cpt,care_patrol_subtask_2 cps```
So, may be the sharding column or strategy ?
And Maybe can you try to use the

[2021-09-15 09:47] RaigorJiang commented on #12333
This was fixed in master branch.

[2021-09-15 09:51] Lychengit commented on #12333
@yx9o @RaigorJiang @strongduanmu
Thanks, I appreciate your hard work.

[2021-09-15 09:51] #12333 closed

[2021-09-15 09:57] taojintianxia commented on #12292
@shulipeng I didn't see where is the timeout config for shardingsphere-ui.

[2021-09-15 09:57] RaigorJiang commented on #12333
Hi @Lychengit
I just mean the issue of exception was not thrown. Not about the case problem.

[2021-09-15 10:13] menghaoranss commented on #12427
@AdelaHong I couldn't reproduce your issue with [example]() , if you set `queryWithCipherColumn=false`, ShardingSphere will query with the plainColumn `DELETE_USER_NAME `, but the column is missing in your table.

[2021-09-15 10:29] taojintianxia commented on #12292
@marker-wu so, the zk UI related app could access zk, but proxy can not .. en ....this makes me loss the word.
do you want to try like following process ?
1. docker run -dit --name zookeeper -p 2181:2181 zookeeper:3.7.0
2. docker run -itd -e ZKLIST='YOUR_IP:2181' -p 9090:9090 maauso/zkui (your ip, not 127.0.0.1 or localhost)
3. start up proxy.

this process works fine on my machine and my environm

[2021-09-15 10:40] tuichenchuxin opened #12452 "support Administration Statements sql parse `ALTER RESOURCE GROUP`"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `ALTER RESOURCE GROUP`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardi

[2021-09-15 11:12] tuichenchuxin opened #12454 "support Administration Statements sql parse `CREATE RESOURCE GROUP`"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `CREATE RESOURCE GROUP`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
CREATE RESOURCE GROUP Statement In mysql
need to be supported in shardingsphere-sql-parser.
[code]
document:https://dev.mysql.com/doc/refman/8.0/en/create-resource-group.html

## Example FYI
- DCLStatement.g4

[2021-09-15 11:28] tuichenchuxin opened #12455 "support Administration Statements sql parse `DROP RESOURCE GROUP`"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `DROP RESOURCE GROUP`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardin

[2021-09-15 11:31] tuichenchuxin opened #12456 "support Administration Statements sql parse SET RESOURCE GROUP"
Hi community,

This issue is for #10887.

## Aim
support parse mysql administration statements sql `SET RESOURCE GROUP`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/sharding

[2021-09-15 11:48] WangShaolin-GitHub opened #12458 "【Interval Sharding Algorithm Type: INTERVAL Attributes: datetime-interval-amount】invalid"
Hello，shardingsphere version 5.0.0-alpha：spring.shardingsphere.rules.sharding.sharding-algorithms.t-order-interval.props.datetime-interval-amount=2
How do I set it? To enter the RangeShardingValue
![image](https://user-images.githubusercontent.com/35981782/133426858-81691dcb-70ff-42c0-a7b1-c8a2944a591a.png)

[2021-09-15 12:16] 448700174 commented on #12315
Which jar I need update?

[2021-09-15 12:53] #12387 closed

[2021-09-15 13:38] cheese8 opened #12460 "[Discuss] Do you need to exclude some SQL from NeedRewriteForEncrypt before rewrite it?"
The current situation is that:
1. SS's Parser and Encrypt module has some SQL statements that are not well supported, such as join, subQuery, insert select etc.
2. The systems in your company needs to meet compliance requirements (To ensure that the sensitive data is all stored by encryption.）, but not all of the SQLs are simple CRUD, the sql simplification is in progress of course.

Now there are

[2021-09-15 13:39] cheese8 commented on #12460
@strongduanmu @tristaZero What do you think?

[2021-09-15 14:05] AdelaHong commented on #12427
I will provide the configuration again
`CREATE TABLE tf_b_bank_info(idbigint(20) NOT NULL AUTO_INCREMENT,bankno varchar(25) COLLATE utf8_bin DEFAULT NULL, PRIMARY KEY (id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COLLATE=utf8_bin COMMENT='';

CREATE TABLE tf_b_bank_user (
id bigint(20) NOT NULL AUTO_INCREMENT,
bank_id bigint(20) DEFAULT NULL COMMENT '银行类型:tf_b_bank_info的id',
bankno v

[2021-09-15 14:14] AdelaHong commented on #12427
I will provide the configuration again：

`CREATE TABLE tf_b_bank_info(idbigint(20) NOT NULL AUTO_INCREMENT,bankno varchar(25) COLLATE utf8_bin DEFAULT NULL, PRIMARY KEY (id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COLLATE=utf8_bin COMMENT='';

CREATE TABLE tf_b_bank_user (
id bigint(20) NOT NULL AUTO_INCREMENT,
bank_id bigint(20) DEFAULT NULL COMMENT '银行类型:tf_b_bank_info的id',
bankno

[2021-09-15 14:16] AdelaHong commented on #12427
I will provide the configuration again：

`CREATE TABLE tf_b_bank_info(idbigint(20) NOT NULL AUTO_INCREMENT,bankno varchar(25) COLLATE utf8_bin DEFAULT NULL, PRIMARY KEY (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COLLATE=utf8_bin COMMENT='';

CREATE TABLE tf_b_bank_user (
id bigint(20) NOT NULL AUTO_INCREMENT,
bank_id bigint(20) DEFAULT NULL COMMENT '银行类型:tf_b_bank_info的id',
bankno

[2021-09-15 14:23] tuichenchuxin commented on #12315
The stable version will be released soon, you can try to get master branch to test now.

[2021-09-15 14:28] RaigorJiang commented on #12292
@marker-wu
Can you use a Curator client to test your ZK connection?  So we can check if it is a issue of  Curator?