[2021-12-29 14:18] Ahoo-Wang opened #14427 "CosIdKeyGenerateAlgorithm support key of String type"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.
`CosIdKeyGenerateAlgorithm` currently only supports generating `long` type keys. We want to support string type keys.

such as `266691111261569024` `JhRmZIPe3k`  `20211229221515806-0-0`

[2021-12-29 23:31] RaigorJiang commented on #14384
This issue seems to be resolved, I will close it.
If you still have problems, please reopen it or submit a new one.

[2021-12-29 23:31] #14384 closed

[2021-12-30 01:53] Comven commented on #12040
If read-write separation is used, the database name in `actual-data-nodes` must be configured as the name of the read-write separation group, such as ` db1 order_ info_ 20$->{21..22}0$->{1..9},db1. order_ info_ 'db1 'in 20 $- > {21.. 22} $- > {10.. 12} ` must be configured as' dbgroup'`

The complete configuration is as follows

[code]

[2021-12-30 02:01] sandynz opened #14429 "binlog_row_image option should not be required for all MySQL versions in scaling, verify it and improve it if necessary"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling

### Expected behavior
No exception thrown

### Actual behavior
Not tested for now.

### Reason analyze (If you can)

From `MySQLDataSourceChecker.java` source code, seems `binlog_row_image` is required, so it might

[2021-12-30 02:01] #13830 closed

[2021-12-30 02:07] SirMin opened #14430 "What are the limitations of shardingsphere type conversion, and the unsupported type conversion should prompt an error message"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
yes, like https://github.

[2021-12-30 02:11] SirMin commented on #14430
Boolean type conversion differences between mysql 8.x driver and PostgreSQL
the mysql 8.x's code in com.mysql.cj.result.BooleanValueFactory
![image](https://user-images.githubusercontent.com/16568907/147638729-ee7ab878-b9f9-4bef-934c-1a69948d86d8.png)
postgresql's code in org.postgresql.jdbc.BooleanTypeUtil
![image](https://user-images.githubusercontent.com/16568907/147638828-de505a75-0c68-4fc9-92

[2021-12-30 02:24] sandynz commented on #14429
From MySQL doc:
[code]

Please refer to these docs for more details:
- [Replication Compatibility Between MySQL Versions](https://docs.oracle.com/cd/E17952_01/mysql-5.6-en/replication-compatibility.html ) , [binlog_row_image](https://docs.oracle.com/cd/E17952_01/mysql-5.6-en/replication-options-binary-log.html#sysvar_binlog_row_image )
- [Merge binlog_row_image from MySQL 5.6](https://jira.mariadb

[2021-12-30 02:50] strongduanmu commented on #14418
@564155611 Thank you for your feedback, I will investigate this issue.

[2021-12-30 03:08] weichaocst opened #14432 "In the sharding table scenario, the result obtained by avg(distinct intField) is wrong"
## Bug Report

**For English only**, other languages ​​will not accept.

Before report a bug, make sure you have:

-Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
-Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-30 03:16] strongduanmu commented on #14432
Hi @weichaocst, thank you for your feedback. Can you try master branch? We have fixed this bug recently.

[2021-12-30 03:17] strongduanmu commented on #14432
You can get the latest jdbc jar from here——http://117.48.121.24:8080/.

[2021-12-30 06:03] #14427 closed

[2021-12-30 06:12] wanlongz commented on #10699
@stelin How did you solve it in the end? I have the same problem

[2021-12-30 06:16] sandynz commented on #13881
Hi @JWJ32 , `5.1.0` will be released soon, we've added rate limiter and read batch size to protect system load.

[2021-12-30 06:33] shankeerthan-kasilingam commented on #14246
I would like to work on this issue.

[2021-12-30 07:07] #14345 closed

[2021-12-30 07:12] strongduanmu commented on #14246
@shankeerthan-kasilingam Welcome, I will assign this issue to you.

[2021-12-30 08:31] GreekPanda commented on #14311
Hi, @challengeof it's a huge work  as you want, could you give me a email or Im? I want to send a maven tool configuration to you in private?

[2021-12-30 09:44] zhouyouwei-0127 opened #14441 "When there is "-" in shcemaname, an error is reported when select with database name"
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Problem description
config:
![image](https://user-images.githubusercontent.com/64695476/147738802-ed197a61-f2d8-45a2-8f0a-89bbb9b9b9b7.png)

table:
![1640856750(1)](https://user-images.githubusercontent.com/64695476/147739373-0494877f-5403-4615

[2021-12-30 09:56] w5720319 opened #14444 "When connecting to sqlserver, the query does not support the SqlServer keyword"
Version：5.0.0-alpha

Similar to this statement：select domain from A

Error：
no viable alternative at input 'settingcou0_.['

2021-12-30 17:30:04.782 [http-nio-10011-exec-2] ERROR c.l.s.b.e.GlobalExceptionHandler - [TID: N/A] -
[handleException,181] - nested exception is org.antlr.v4.runtime.misc.ParseCancellationException
org.springframework.dao.InvalidDataAccessApiUsageException: nested exception

[2021-12-30 10:26] totalo commented on #12366
Hi, @menghaoranss, this work is still in progress, and there may be some problems with each example. When it is officially launched and used, I will confirm again. In this process, if I have problems with understanding a certain function, please also point it out, thanks~

[2021-12-30 11:23] zjcnb commented on #14441
@zhouyouwei-0127 Hi, you can use `select * from "a-proxy".t_user;` and try it again.

[2021-12-30 11:24] zjcnb commented on #14350
@goudai Hi, this problem are fixed in master branch. you can try it.

[2021-12-30 11:25] strongduanmu commented on #14441
It seems that the native mysql does not support the `-` in the schemaName.

![image](https://user-images.githubusercontent.com/10829171/147747732-54761ede-a68b-4ace-9e38-cd20549f5a00.png)

[2021-12-30 11:28] strongduanmu commented on #14444
Hi @w5720319, thank you for your feedback. But `select domain from A` statement can be support by `5.0.0-alpha`, can you show the real sql?

[2021-12-30 11:50] sandynz commented on #14251
Hi @wl4g , from [Sharding Algorithm](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/ ), there's no consistent hash fragmentation strategy for now.

In fact, there're friendly strategies for scaling, e.g. `BOUNDARY_RANGE`. But scale on original database cluster is not implemented for now, it's planned and might be done at next year.

[2021-12-30 11:55] #14386 closed

[2021-12-30 12:01] sandynz commented on #14177
Hi @qianxuwanyu , could you try `metaData.getPrimaryKeys(connection.getCatalog(), connection.getSchema(), tableName)`?

It should work, I've used it on similar scenario. You could refer to [PipelineTableMetaDataLoader.java]( https://github.com/apache/shardingsphere/blob/master/shardingsphere-kernel/shardingsphere-data-pipeline/shardingsphere-data-pipeline-core/src/main/java/org/apache/shardingsphe

[2021-12-30 12:20] sandynz commented on #11054
Hi @git-chenhao , when scaling job get done successfully, ShardingSphere will switch metadata (include `dataSources` and `rules`), and connection pool will be refreshed.

You could referto [ScalingRegistrySubscriber.clusterSwitchConfiguration]( https://github.com/apache/shardingsphere/blob/73846fd843cf695285b7951560825786a72d70f2/shardingsphere-mode/shardingsphere-mode-type/shardingsphere-cluster-

[2021-12-30 12:54] sandynz commented on #7815
It still doesn't work on version 5.1.0, commit: 01ac931e7e799b66cedcffa718893d81424c824b

[code]

[2021-12-31 01:49] sandynz commented on #14251
Just an idea, `BOUNDARY_RANGE` plus distributed random id generation, it's similar as consistent hash and could be no any data need to be migrated.

[2021-12-31 02:02] wl4g opened #14450 "Why does starting the shardingsphere-proxy after configuration mode (zk) disable all data sources by default? And there is no mechanism to resume enabled it??"
Use version 5.0 0. Why do I start shardingsphere proxy debugging code after configuring mode (zk) found in: `org.apache.shardingsphere.mode.manager.cluster.ClusterContextManagerBuilder.afterBuildContextManager()` disables all data sources by default, although it finds the processing method of subscription status change `org.apache.shardingsphere.mode.manager.cluster.coordinator.ClusterContextManag

[2021-12-31 02:05] wl4g commented on #14450
So I was forced to increase my judgment:

[code]

[2021-12-31 02:09] w5720319 commented on #14444
SELECT  settingcou0_**.[domain]** as domain7_801_, settingcou0_.EName as ename8_801_, settingcou0_.IsDefault as isdefaul9_801_,
 settingcou0_.PaymentMethodType as payment10_801_, settingcou0_.Phone as phone11_801_,
 settingcou0_.Remark
FROM Setting.basic.Country settingcou0_

[2021-12-31 03:09] challengeof commented on #14311
You can create a simple project and upload it to github.
Email challengeof@gmail.com

[2021-12-31 03:27] ShootingFun opened #14453 "Runtime exception: [unsupported table: `PROFILING`]"
1. When I insert the logic library, the data can be inserted successfully, and the data source can also desensitize and save the data, but Navicat will prompt "Runtime exception: [unsupported table: `PROFILING`]"
Output log prompt:
[ERROR] 2021-12-31 10:58:15.338 [Connection-5-ThreadExecutor] o.a.s.p.f.c.CommandExecutorTask-Exception occur:
java.lang.UnsupportedOperationException: unsupported tabl

[2021-12-31 03:33] zjcnb commented on #14450
@wl4g Hi, i think build discovery rule and find master-slaven relation frist, and then call disableDataSources() method. So i think it 's no problem. But disableDataSources() method are useless.

[2021-12-31 03:35] zhouyouwei-0127 commented on #14441
Tank you for your advice，select * from "a-proxy".t_user is OK
@zjcnb

[2021-12-31 03:39] zhouyouwei-0127 commented on #14441
OK. I see, Thank you

[2021-12-31 03:48] zjcnb commented on #14261
Hi, is this problem solved?

[2021-12-31 05:01] RaigorJiang commented on #14453
Hi @ShootingFun
1. Query `PROFILING` is the need for Navicat to display additional information, and does not affect your business SQL
2. Different versions of Navicat behave differently, the tested version will not pop up a dialog box, and there is no additional view;

Due to the large number of third-party clients, ShardingSphere can only be compatible with some of them:
Therefore, it is recommen

[2021-12-31 05:35] wl4g commented on #14450
No, I see what you mean. What you must pay attention to is that although you execute `org.apache.shardingsphere.mode.manager.cluster.ClusterContextManagerBuilder.beforeBuildContextManager` will eventually call `org.apache.shardingsphere.dbdiscovery.spi.MGRDatabaseDiscoveryType.startPeriodicalUpdate`, and then execute `org.apache.shardingsphere.mode.manager.cluster.ClusterContextManagerBuilder.afte

[2021-12-31 05:36] wl4g commented on #14450
The core is that asynchronous causes problems!!!

[2021-12-31 05:39] wl4g commented on #14450
[code]

[2021-12-31 05:40] wl4g commented on #14450
This field:  `keepAliveCron`

[2021-12-31 06:03] wl4g commented on #14450
Let's put aside this problem for the time being. I can fix this asynchronous problem myself, but another important question is, is there any mechanism to trigger the execution of `enabledDataSources()` ?  Do you want me to delete ZK's node `/shardingproxy manually_ 0/status/storage_ nodes/disable` ???

[2021-12-31 06:04] wl4g commented on #14450
@zjcnb

[2021-12-31 06:05] wl4g commented on #14450
@terrymanu

[2021-12-31 06:10] wl4g commented on #14450
I guess, does the designer consider consistently enabling the data source after the cluster multi node startup is completed? But I didn't find the enabling code?

[2021-12-31 06:17] zjcnb commented on #14450
I think you can use ShardingSphere DistSQL to delete it If you use ShardingSphere-Proxy.

[2021-12-31 06:24] zjcnb commented on #14450
By the way, ShardingSphere database discovery can automatically correct enabled and disabled states. i think you need't to manually delete it.

[2021-12-31 06:30] zjcnb commented on #14450
it 's not right, you can see DatabaseDiscoveryRule class:

[code]

[2021-12-31 06:33] wl4g commented on #14450
I fully understand and understand what you mean now, but there are bugs here. I also see that the two methods' `determineDisabledDataSource` and `determineEnabledDataSource` are used to automatically maintain the disabled state, but what you don't notice is, When the `updateMemberState` and `updatePrimaryDataSource` were first executed, all data sources were filtered by the `disabledDataSourceName

[2021-12-31 06:35] wl4g commented on #14450
Namely: activeDataSourceMap.isEmpty is true, do you understand now?

[2021-12-31 06:36] wl4g commented on #14450
![image](https://user-images.githubusercontent.com/29530154/147807670-eef9f430-1a85-4dd5-9767-62af3ba0e232.png)

[2021-12-31 06:37] wl4g commented on #14450
I added the above judgment myself

[2021-12-31 06:40] wl4g commented on #14450
Now let's go back to your ideas. I think all your ideas are OK, but invoke `org.apache.shardingsphere.mode.manager.cluster.ClusterContextManagerBuilder.disableDataSources()` at startup is wrong.

[2021-12-31 06:44] zjcnb commented on #14450
Yes, i think you can submit a pull reqeust to remove it.

[2021-12-31 06:47] zjcnb commented on #14450
I understand your mean, activeDataSourceMap may be empty if master-slave node are disable.

[2021-12-31 06:48] linjikun commented on #14261
@zjcnb I have change to 5.0.0-alpha,this problem is solved

[2021-12-31 07:25] zhangwangren commented on #13929
Excuse me!  I want to know if the master branch can be used SUBSTRING() in the INSERT INTO VALUES? Like this
INSERT INTO tb_user(user_no, user_name) VALUES (#{userNo}, SUBSTRING(#{userName}, 1, 2));

[2021-12-31 07:35] #14115 closed

[2021-12-31 07:40] JerryGHH opened #14462 "ShardingSphereException:oracle.jdbc.driver.T4CConnection.getSchema()"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-31 07:41] JerryGHH opened #14463 "ShardingSphereException:oracle.jdbc.driver.T4CConnection.getSchema()"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-12-31 07:42] ziliangzeng opened #14464 "jdbcTemplate update sql Report an error：You have an error in your SQL syntax ，but in navicate is right"
## Bug Report

**For English only**, other languages will not accept.

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Update success.

### Actual behavior

[code]

### Reason analyze (If you can)

I thank sql is worse , bu i try many time in navicate , it is correct,so

[2021-12-31 07:56] zhangwangren opened #14465 "insert into values can use substring?"
## Question

**For English only**, other languages will not accept.
Excuse me! In the master branch, can i use the function SUBSTRING() in the INSERT INTO VALUES? Like this
INSERT INTO tb_user(user_no, user_name) VALUES (#{userNo}, SUBSTRING(#{userName}, 1, 2))，(#{userNo}, SUBSTRING(#{userName}, 1, 2));

[2021-12-31 08:56] GreekPanda commented on #14311
Hi, @challengeof I've sent it to you, check your email, please.

[2021-12-31 09:06] #14429 closed

[2021-12-31 09:26] chengh1 commented on #14187
The sql like `session transaction read only` will execute on all schema, When routing later, it will also route to all datasourcec under the current schema.

[2021-12-31 09:31] ReyYang commented on #14429
Hi,Can I take this?
The problems found after testing are as follows:
- Exception stack
[code]
- Cause Analysis
In MySQL5.5, the "BINLOG_ROW_IMAGE" variable does not exist, so an exception is thrown in `resultSet.next()`

[2022-01-01 06:49] roodkcab opened #14472 "route sql to write datasource based on username or listen address."
## Feature Request

### Describe the feature you would like.
read write split datasource can be routed through hint. but it'll be more convenient to use username or connection host to set hint automatically.

example:
when user name is `db_writeonly`, session could set writeonly hint automatically;

or we can add a new property `writeOnlyHost` to read write split configuration, if user connect to

[2022-01-01 09:54] ziliangzeng opened #14475 "if tables : anytable donot set like 'ds_${0..1} ' include all the dataSources, the broadcastTables will out of action !"
## Bug Report

### Which version of ShardingSphere did you use?
   5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Expected behavior
   broadcastTables show effect
### Actual behavior
   out of action
### Reason analyze (If you can)
   if table donot set like 'ds_${0..1} ' include all the dataSources, the broadcastTables will out of action

[2022-01-01 15:25] terrymanu commented on #14465
Can you try it?

[2022-01-01 15:40] zzs52 commented on #13807
Can I try?

[2022-01-01 15:42] zzs52 commented on #10764
Can i try?

[2022-01-01 15:44] zzs52 commented on #12214
Can i try?

[2022-01-01 15:45] zzs52 commented on #12215
Can i try?

[2022-01-02 03:38] fangg2021 opened #14479 "document config error"
ShardingSphere > User Manual > ShardingSphere-JDBC > Configuration Manual > Spring Boot Starter Configuration > Mixed Rules

***
# Sharding algorithm configuration
spring.shardingsphere.rules.sharding.sharding-algorithms.default-database-strategy-inline.type=INLINE
# The enumeration value of `ds_$->{user_id % 2}` is the name of the logical data source configured with readwrite-splitting
spring.sha

[2022-01-02 09:45] itwoods commented on #12446
Has the problem been solved?  How do I do that? It looks like it's written the same as the example

[2022-01-02 14:05] zjcnb commented on #14479
@fangg2021 Hi, thanks for your feedback, it's really have a mistake. Can you submit a pull request to fix it.

[2022-01-02 15:53] zjcnb commented on #14475
@ziliangzeng Hi, I think it 's right now. Because, the broadcast tables are take effect in sharding. You can refer to : https://shardingsphere.apache.org/document/current/en/features/sharding/concept/table/

[2022-01-02 16:00] zjcnb commented on #14409
@liuziyi16  Hi, thanks for your feedback. And the 4.0.1 version is too old, can you try the latest 5.0.0 version?

[2022-01-03 05:42] NOLouser commented on #14464
@ziliangzeng
Hi, this seems to be a conflict between 'p.DESC' and mysql keyword DESC, and caused sql parsing exception.

[2022-01-03 06:38] NOLouser commented on #14375
@eschh19
Hi, If you use YamlShardingSphereDataSourceFactory to create dataSource, you can refer to this configuration (Or take a look at my demo: [https://github.com/NOLouser/shardingsphere5.0.0_demo/blob/master/src/main/resources/shardingsphere.yml](https://github.com/NOLouser/shardingsphere5.0.0_demo/blob/master/src/main/resources/shardingsphere.yml) ):
[code]

And If you use springboot applicat

[2022-01-03 13:28] strongduanmu commented on #12215
@zzs52 Of course, I will assign this issue to you.

[2022-01-03 13:28] strongduanmu commented on #12214
@zzs52 Welcome.

[2022-01-03 13:29] strongduanmu commented on #10764
@zzs52 Of course.

[2022-01-03 13:30] strongduanmu commented on #13807
@zzs52 Of course.

[2022-01-03 15:21] Swastyy commented on #14479
@zjcnb I have corrected it. If the original person wants to do this you can close it.

[2022-01-03 15:25] #14479 closed

[2022-01-04 01:19] ziliangzeng commented on #14475
@zjcnb yes,i agree. but sometime i think if you set dataSources like : ds_1 ds_2 ... ds_n. to the broadcast. they are all the table it can identify . interesting

[2022-01-04 01:20] #14464 closed

[2022-01-04 02:30] liuziyi16 commented on #14409
@zjcnb We used the 4.0.1 version at the beginning, and we were worried that if it was safe to upgrade it to 5.0.0. So I try to fix the problem in 4.0.1 version or 4.1.1 version so that I can use the version 4.0.1 normally.

[2022-01-04 02:41] ziliangzeng commented on #14464
@NOLouser  you are right. when i found it is right in navicate. i didnot realize that the problem is mysql keyword. so low-level i am... ths.

[2022-01-04 03:13] lushunzhi opened #14494 "java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.LiteralExpressionSegment"
Hibernate: select ? from gxm_company_attendance_report_record where company_id=? and dd_user_id=?
04-01-2022 11:08:01.989 [main] TRACE o.h.type.descriptor.sql.BasicBinder.bind - binding parameter [1] as [VARCHAR] - [atc_1]
04-01-2022 11:08:01.990 [main] TRACE o.h.type.descriptor.sql.BasicBinder.bind - binding parameter [2] as [BIGINT] - [1]
04-01-2022 11:08:01.990 [main] TRACE o.h.type.descriptor.

[2022-01-04 03:27] #13758 closed

[2022-01-04 03:28] strongduanmu commented on #14494
Hi @lushunzhi, can you submit issue according to the bug template?

[2022-01-04 03:32] lushunzhi commented on #14494
This is a bug? Which version is fixed?

[2022-01-04 03:39] zjcnb commented on #14475
ShardingSphere not support it now. Because I think this way is not a normal practice.

[2022-01-04 03:43] zjcnb commented on #14409
It's cool, you can try fix it in 4.x version, By the way, 5.1.0-release version are coming. It 's analyze the biggest improvement on sql.

[2022-01-04 03:44] lushunzhi opened #14495 "java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.LiteralExpressionSegment"
## Bug Report
### Which version of ShardingSphere did you use?
- 4.1.0
- 4.1.1
- 5.0.0

[code]
### Expected behavior
normal operation

### Actual behavior
Hibernate: select ? from gxm_company_attendance_report_record
04-01-2022 11:33:34.578 [main] TRACE o.h.type.descriptor.sql.BasicBinder.bind - binding parameter [1] as [VARCHAR] - [atc_1]

java.lang.ClassCastException: org.apache.shardingsphere.s

[2022-01-04 03:47] lushunzhi commented on #14494
I have installed the bug template to submit, please take a look

[2022-01-04 04:01] zjcnb opened #14496 "The db-discovery namespace need add unit test."
Hi community,

The `shardingsphere-db-discovery-spring-namespace` module need add unit test.  You can refer `shardingsphere-readwrite-splitting-spring-namespace` module to finish it.

[2022-01-04 04:02] strongduanmu commented on #14495
@lushunzhi Thank you for your feedback, I will investigate this issue.

[2022-01-04 04:02] strongduanmu commented on #14494
Duplicate with #14495.

[2022-01-04 04:02] #14494 closed

[2022-01-04 05:34] TeslaCN opened #14497 "Make ShardingSphere-Proxy acts like how database does when rejecting connections which exceeded proxy-frontend-max-connections"
## Feature Request

### Is your feature request related to a problem?

When connections to ShardingSphere-Proxy exceeded `proxy-frontend-max-connections`, the way of rejecting connections to ShardingSphere-Proxy is different with how actual database does. This is not friendly to client which wants to connect to ShardingSphere-Proxy.

https://github.com/apache/shardingsphere/blob/21b2802b888ae20264

[2022-01-04 05:37] soulasuna commented on #14497
I will do.

[2022-01-04 05:38] TeslaCN commented on #14497
@soulasuna Welcome. Assigned.

[2022-01-04 05:42] #14441 closed

[2022-01-04 06:10] menghaoranss opened #14499 "New structure of registry center"
This issue is for #14282 , we need to persist `labels` of each proxy, now, some adjustments must be made to the structure of the registry center.

**Before**
[code]

**After**
[code]

[2022-01-04 07:28] zjcnb opened #14503 "DistSQL RAL shouldn't disable master datasource."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

[enable / disable] readwrite_splitting read xxx [from schema] shouldn't disable master datasource.

### Actual behavior

[enable / disable] readwrite_splitting read xxx [from schema] can disable master datasource.

### c

[2022-01-04 07:40] LeeGuoPing commented on #14496
can I do it, bros

[2022-01-04 07:45] LeeGuoPing commented on #14496
Can I do it, bros

[2022-01-04 07:55] TeslaCN opened #14504 "Poor performance when executing openGauss batch bind"
## Feature Request

### Is your feature request related to a problem?
The openGauss Proxy executes SQL one by one for each group of parameters from openGauss batch bind packet.

### Describe the feature you would like.
Grouping parameters and using `addBatch`, `executeBatch` of `PreparedStatement` to reduce interactions with databases.

[2022-01-04 08:03] userkdg opened #14506 "on encrypt, subquery projections token error, cause sql executor throw sqlexception"
### Which version of ShardingSphere did you use?
5.1.0-GA

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
[code]
and ``` b.address ``` projection can ``` findEncryptor() ``` =true to decrypt column data.

### Actual behavior
[code]
exception:
Unknown column 'b.address_cipher' in 'field list',  due to suquery without address_cipher.

### Rea

[2022-01-04 08:19] strongduanmu commented on #14506
@userkdg Thank you for your feedback, I will investigate this issue.

[2022-01-04 08:21] #14504 closed

[2022-01-04 08:32] liuziyi16 commented on #14409
Thanks for your help. I'm very looking forward to the 5.1.0-release version. I've learnt a lot from 5.0.0.

[2022-01-04 08:32] tuichenchuxin commented on #14495
@lushunzhi Hi, I have tried this on 5.0.0. And it worked successfully.
Can you offer a demo for me to try?

[2022-01-04 08:33] eschh19 commented on #14375
I really use YamlShardingSphereDataSourceFactory to create dataSource,and change config to yours is OK,but your Official Website's example is incorrect,please modify it (◠‿◠)。

[2022-01-04 08:40] eschh19 commented on #14375
I also have a question with ShardingSphere, when start application,it always print warn message like
"WARN [2022-01-04 16:35:21,406] [Socket-Request] c.o.b.h.c.u.ConfigUtils.warn(Logger.java:86) - parse yaml file content error : Can't construct a java object for !SHARDING; exception=Invalid tag: !SHARDING
 in 'reader', line 62, column 3:
    - !SHARDING
      ^"
I want to know it's normal or not,

[2022-01-04 08:54] zjcnb commented on #14375
@eschh19 Where is the official document wrong, is it convenient to point it out?

[2022-01-04 08:55] zjcnb commented on #14375
Maybe, your yaml config format not right. You can check it.

[2022-01-04 08:59] eschh19 commented on #14375
https://shardingsphere.apache.org/document/5.0.0/en/user-manual/shardingsphere-jdbc/usage/sharding/yaml/
I refer to this example to config my yaml,it don't have 'dataSourceClassName' property.

[2022-01-04 09:01] eschh19 commented on #14375
https://shardingsphere.apache.org/document/5.0.0/en/user-manual/shardingsphere-jdbc/usage/sharding/yaml/
this example datasource config like
“ds0: !!com.zaxxer.hikari.HikariDataSource”
it will print this warn message.

[2022-01-04 09:45] cheese8 commented on #14506
I will check on it laster. please assign it to me.

[2022-01-04 10:21] jingshanglu opened #14508 "Make It is easy to use with narayana"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Describe the feature you would like.
when transaction config in sever.y

[2022-01-04 10:59] jingshanglu commented on #14311
@GreekPanda You maybe should give the `SQL` from your app to `ShardingSphere-Proxy`.

[2022-01-04 11:02] zjcnb commented on #14375
This problem are fixed. refer to : https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/data-source/

[2022-01-04 11:13] #13734 closed

[2022-01-04 11:17] jingshanglu commented on #14311
@GreekPanda change `server.yaml`:
 ```sql-show: true```
then you will look the  sql from your app (include `begin`,`commit`,`rollback`)

[2022-01-04 11:26] sccc803 commented on #14349
@strongduanmu

[2022-01-04 11:29] strongduanmu commented on #14349
@sccc803 Thank you for your remind, we will try to reproduce this issue.

[2022-01-04 11:36] strongduanmu commented on #14506
@cheese8 Welcome.

[2022-01-04 12:13] linghengqian commented on #13069
@xiaohuihui123321 Hi, is there any progress on this issue?

[2022-01-04 13:59] cheese8 commented on #14506
Hi @userkdg What is your logicSQL? I checked this as below on master，not very good but at it's ok:

LogicSQL:

SELECT b.certificate_number, b.amount FROM (SELECT a.certificate_number as certificate_number, a.amount FROM t_account a WHERE a.amount = 1373) b

ActualSQL:

SELECT b.cipher_certificate_number AS certificate_number, b.cipher_amount AS amount FROM (SELECT a.cipher_certificate_number, a.as

[2022-01-04 15:10] userkdg commented on #14506
very thinks.
yes. this is ok. it must to analyze out projections & (mutil ) subquery projections, and then
i met two case
- column projections
 like your example

- shorthand projections case
[code]

[2022-01-05 00:58] jlovej opened #14518 "springboot + shardingSphere5.0 + Dubbo2.7.x实现分库分表的情况下，集成 + seata1.4.2后，报出以下异常： Could not found any index in the table: xxx"
各位大神好，我在springboot + seata1.4.2 + Dubbo2.7.x实现分库分表(3个库，t_order分4张表)的情况下，集成 + shardingSphere5.0 后，报出以下异常：
Could not found any index in the table: xxx，查看了下源码，在seata1.4.2中的io.seata.rm.datasource.sql.struct.cache.MysqlTableMetaCache#resultSetMetaToSchema方法调用org.apache.shardingsphere.driver.jdbc.core.datasource.metadata.ShardingSphereDatabaseMetaData#getIndexInfo时无法获取到MetaData的主键与索引信息，最终导致seata中的(tm.ge

[2022-01-05 01:03] strongduanmu commented on #14518
Hi @jlovej, can you translate this issue to english?

[2022-01-05 01:31] cheese8 commented on #14506
ok,  get it, @userkdg  there is a problem in shorthand case. i will fix it soon.

[2022-01-05 01:47] tuichenchuxin commented on #14472
@roodkcab Does it means config a userName, if it is same with the name used. Then using the writeOnly?

[2022-01-05 01:51] tuichenchuxin commented on #14463
Can it work normally? And can you offer a demo for me to try?

[2022-01-05 01:52] tuichenchuxin commented on #14462
Please close it. It's same with #14463

[2022-01-05 01:59] tuichenchuxin commented on #14444
@w5720319 I believe it has been fixed in master branch. You can try the latest version.

[2022-01-05 02:09] tuichenchuxin commented on #14430
@SirMin Could you try to submit a pr?

[2022-01-05 02:17] tuichenchuxin commented on #14342
which version have you used?

[2022-01-05 02:19] zhougaole commented on #14342
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        shardingsphere-jdbc  5.0.0

                    ***@***.***

        签名由网易邮箱大师定制

    On 1/5/2022 ***@***.***> wrote：

which version have you used?

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS

[2022-01-05 02:28] zjcnb opened #14520 "Just load remote datasources when use cluster mode overwrite is false."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

Just load remote datasources when use cluster mode overwrite is false.

### Actual behavior

load remote datasources and local datasource when use cluster mode overwrite is false.

### Configuration

[code]

### Step

[2022-01-05 02:28] JerryGHH commented on #14462
it's same with #14463

[2022-01-05 02:28] #14462 closed

[2022-01-05 02:31] zhougaole commented on #14342
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

            SQL can be parsed, but the value of the following field is found to be null, in fact there is a value

                    ***@***.***

        签名由网易邮箱大师定制

    On 1/5/2022 ***@***.***> wrote：

what is the mean can't be parsed? I use this sql , It can be parsed.

—Re

[2022-01-05 02:33] tuichenchuxin commented on #14334
From the actual sql, it seems have order clause. Can you try to offer a demo?

[2022-01-05 02:35] tuichenchuxin commented on #14316
Maybe you can try sql hint
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/

[2022-01-05 02:38] JerryGHH commented on #14463
console will output this exception infomation, but will not block application, and work normally.

Related configuration：

<bean id="db1" class="com.alibaba.druid.pool.DruidDataSource"  destroy-method="close">
		 <property name="url" value="jdbc:oracle:thin:@*.*.*.*:1521/tt" />
		 <property name="username" value="root" />
		 <property name="password" value="root123" />
	</bean>

<sharding:sharding

[2022-01-05 02:40] jlovej commented on #14518
To english：
Springboot + Seata1.4.2 + Dubbo2.7.x + shardingSphere5.0

Could not found any index in the table: XXX, looked at the source code, IO in seata1.4.2. Seata. Rm. The datasource. SQL. Struct. Cache. MysqlTableMetaCache# resultSetMetaToSchema method call org. Apache. Shardingsph Ere. Driver. JDBC. Core. The datasource. Metadata. ShardingSphereDatabaseMetaData# getIndexInfo when unable to ge

[2022-01-05 03:16] roodkcab commented on #14472
yes, it is.

[2022-01-05 03:18] JerryGHH commented on #14463
When the application starts, console will output exception information, but it will not block application start, work normally.

Related configuration:
[code]

POM xml:
[code]

[2022-01-05 03:21] tuziaifendou commented on #10699
In version 4.1.1，when i add spring.shardingsphere.sharding.default-data-source-name=ds0，then service starts very slowly.

 In version 4.1.1，when i add spring.shardingsphere.sharding.default-data-source-name=ds0.when start service，meta data load cost about 204022 milliseconds,then service starts very slowly. how to solution？

[2022-01-05 03:23] tuziaifendou commented on #10699
In version 4.1.1，when i add spring.shardingsphere.sharding.default-data-source-name=ds0.when start service，meta data load cost about 204022 milliseconds,then service starts very slowly. how to solution？

[2022-01-05 03:45] tristaZero commented on #13069
Hello @xiaohuihui123321?

[2022-01-05 03:51] userkdg opened #14525 "In the proxy, the SQL submitted by the client cannot be killed"
### Which version of ShardingSphere did you use?
5.1.0-GA

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
when submit a slow sql , client can kill sql process;

### Actual behavior
can not kill process and sql will continue execute on database, due to kill ${pid} unkown.

[code]
### Reason analyze (If you can)
In the proxy, the SQL process

[2022-01-05 05:24] TeslaCN commented on #14525
@userkdg Thanks for your feedback. Killing process is not implemented yet.

[2022-01-05 06:03] xcmonline opened #14529 "ShardingSphere-Proxy配置"
看官网中只是要求对conf目录下的yaml配置文件进行配置，不知道其中具体的配置说明有没有比较详细的文档或案例。

[2022-01-05 06:08] linghengqian commented on #14529
Examples in the source file provide detailed examples of various modules.

[2022-01-05 06:15] SirMin commented on #13602
@terrymanu I will try to submit a pr

[2022-01-05 06:22] SirMin commented on #14430
@tuichenchuxin The changes here are a bit big. I will prepared a document for the implemented logic and posted it in the issue. Take a look. If you think there is no problem, I will submit a pr

[2022-01-05 06:23] #14529 closed

[2022-01-05 06:24] jingshanglu commented on #14518
@jlovej Can you give the stack info? what is your `config-sharding.yaml`?  and give the reproduce step.

[2022-01-05 06:24] terrymanu commented on #14529
**For English only**, other languages will not accept.

[2022-01-05 06:24] terrymanu commented on #14518
**For English only**, other languages will not accept.

[2022-01-05 06:24] #14518 closed

[2022-01-05 06:27] #13631 closed

[2022-01-05 06:28] terrymanu commented on #13631
Closed because of no response

[2022-01-05 06:28] terrymanu commented on #14036
Closed because of no response

[2022-01-05 06:28] #14036 closed

[2022-01-05 06:29] terrymanu commented on #14103
Closed because of no response

[2022-01-05 06:29] #14103 closed

[2022-01-05 06:29] terrymanu commented on #14114
Closed because of no response

[2022-01-05 06:29] #14114 closed

[2022-01-05 06:30] terrymanu commented on #14173
Closed because of no response

[2022-01-05 06:30] #14173 closed

[2022-01-05 06:30] terrymanu commented on #14177
Closed because of no response

[2022-01-05 06:30] #14177 closed

[2022-01-05 07:03] goudai opened #14533 "5.1.0 is it available？"
## I see that there is a release tag 5.1.0, so when can I use it?

[2022-01-05 07:15] goudai opened #14534 "Can sql-show be opened in the production environment? Is there a big performance loss?"
### Can sql-show be opened in the production environment? Is there a big performance loss?

[2022-01-05 07:57] w5720319 commented on #14444
I now switch to 5.0.0，But there are always new ones：
   org.apache.shardingsphere.infra.database.metadata.dialect.SQLServerDataSourceMetaData
   private final Pattern pattern = Pattern.compile("jdbc:(microsoft:)?sqlserver://([\\w\\-\\.]+):?([0-9]*);\\S*
  (DatabaseName|database)=([\\w\\-\\.]+);?", Pattern.CASE_INSENSITIVE);

**The above regularity does not support** URL:jdbc:sqlserver://127.0.0.1\

[2022-01-05 08:14] menghaoranss opened #14537 "Remove useless parameter in ContextManager"
[code]

the `modeScheduleContext ` is no longer used, just remove it and adjust the classes  that references it.

[2022-01-05 08:15] zjcnb opened #14538 "ShardingSphere feature Sharding and HA used together, Two groups of mgr have some problems."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Correct primary node and disable node.

### Configuration

[code]

[2022-01-05 08:17] LeeGuoPing commented on #14537
May I have a try

[2022-01-05 08:20] menghaoranss commented on #14533
@goudai 5.1.0 has not been released yet, please refer to mailing-list: https://lists.apache.org/thread/vlp71ycnxft9ghjsp6c2tcfk852r9smh

[2022-01-05 08:45] CrackerSuperior commented on #14534
Probably not. This is just to traverse the rewritten SQL. Even if you have hundreds of fragmented tables, it is only 0(N), which is negligible for the current server.

[2022-01-05 09:14] userkdg opened #14541 "on proxy, in release application, do update, delete, add transaction sql operation will throw read only Exception."
### Which version of ShardingSphere did you use?
5.1.0-GA

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
update, delete, add sql will throw read only Exception.

### Actual behavior
from application log:
![image](https://user-images.githubusercontent.com/21057449/148184941-732e7d80-6679-474d-b753-c197b7f4ee00.png)

from proxy log:
<img wid

[2022-01-05 09:16] strongduanmu commented on #14472
Hi @roodkcab, we have provide [sql hint](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#%E4%BD%BF%E7%94%A8-hint-%E8%B7%AF%E7%94%B1%E8%87%B3%E6%8C%87%E5%AE%9A%E6%95%B0%E6%8D%AE%E5%BA%93) in the master branch. I think you can try it.

[2022-01-05 09:17] userkdg commented on #14541
Important, currently the application cannot be accessed (+﹏+) ~~~

[2022-01-05 09:23] roodkcab commented on #14472
yes, I know. and we have distsql to change session based hint too. the need is to use hint by dsn, i.e. use host, port or username to set hint automatically.

[2022-01-05 09:39] xcmonline opened #14543 "shardingsphere-proxy start fail"
Starting the ShardingSphere-Proxy ...
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/shardingsphere/mode/repository/cluster/ClusterPersistRepositoryConfiguration
        at org.apache.shardingsphere.mode.manager.cluster.yaml.ClusterPersistRepositoryConfigurationYamlSwapper.swapToObject(ClusterPersistRepositoryConfigurationYamlSwapper.java:41)
        at org.apache.shardingsp

[2022-01-05 09:50] Huletian opened #14544 "An error is reported when creating a view using the broadcast table：Can not support sharding table"
# An error is reported when creating a view using the broadcast table：Can not support sharding table

## Create view statement
CREATE   VIEW `v_subject_type` AS
SELECT DISTINCT
`dw_subject`.`subject_type_code` AS `subject_type_code`,
`dw_subject`.`subject_type` AS `subject_type`
FROM
	`dw_subject`

## config-sharding.yml configuration information
  broadcastTables:
    - dw_subject

[2022-01-05 09:59] zhangwangren commented on #14465
Yes! it throw a Exception like this "Cause: java.sql.SQLException: No value specified for parameter";

[2022-01-05 10:03] strongduanmu commented on #14544
Hi @Huletian, thank you for your feedback, I will track this issue.

[2022-01-05 10:05] zjcnb commented on #14543
@xcmonline Hello, Can you tell me your ShardingSphere-Proxy version?

[2022-01-05 10:28] jingshanglu commented on #14541
@userkdg Can you give the sql from you app to proxy? now, from the stack info, maybe your app start a transaction with `read only` and then run a `insert` statement, then the exception exported is expected.

[2022-01-05 11:48] #14544 closed

[2022-01-05 13:04] jlovej commented on #14518
看不懂中文吗？是中国人吗

[2022-01-05 13:26] happypleasure commented on #14335
The reason has been found.
My project uses Java API to configure the sharding rules. The shardingColumn in database routing expression is incorrectly configured, resulting database routing errors
Sorry to trouble， Thank you @zjcnb

[2022-01-05 13:54] jlovej opened #14550 "If springboot + shardingSphere5.0 + dubbo2.7.x implements sub-database sub-table, the following exception is reported after + seata1.4.2 is integrated: Could not find any index in the table: xxx"
Springboot + Seata1.4.2 + Dubbo2.7.x + shardingSphere5.0

Could not found any index in the table: XXX, looked at the source code, IO in seata1.4.2. Seata. Rm. The datasource. SQL. Struct. Cache. MysqlTableMetaCache# resultSetMetaToSchema method call org. Apache. Shardingsph Ere. Driver. JDBC. Core. The datasource. Metadata. ShardingSphereDatabaseMetaData# getIndexInfo when unable to get the primar

[2022-01-05 14:36] fengyc opened #14552 "BUG: SQL rewrite error"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

SQL:
[code]

Prarameters:
[code]

There are 6 parameters, but after sql rewrite, only 5 parameters are recognized, and got an exception:

[code]

### Actual behavior

ShardingSphere should got 6 parameters,

[2022-01-05 15:38] yuanjinzhong opened #14553 "how can i find version 5.0`s config"
such as below

      1. spring.shardingsphere.rules : 规则配置
　　2. spring.shardingsphere.rules.sharding.sharding-algorithms : 分库分表规则配置
　　3. spring.shardingsphere.rules.sharding.tables : 分库分表对象配置
　　4. spring.shardingsphere.rules.sharding.key-generators : 分布式序列配置
　　5. spring.shardingsphere.rules.replica-query : 读写分离配置
　　6. spring.shardingsphere.rules.encrypt : 数据脱敏配置

[2022-01-05 15:50] RaigorJiang opened #14554 "[DistSQL] Inconsistent case causes the default sharding database strategy not work."
## Bug Report

### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
1. Create algorithm
[code]
2. Use DistSQL `CREATE DEFAULT SHARDING DATABASE STRATEGY` to create a default sharding database strategy.
[code]
2. The default sharding database strategy can

[2022-01-05 17:30] linghengqian commented on #14553
Maybe I don't understand what you're trying to say. I think you should use all English.

[2022-01-06 00:42] strongduanmu commented on #14518
Hi @jlovej ShardingSphere is an international project. Using English can facilitate communication between people of different language backgrounds. If you want to submit a question in Chinese, please use the [OpenSEC](https://community.sphere-ex.com/).

[2022-01-06 00:43] strongduanmu commented on #14552
@fengyc Thank you for your feedback, I will investigate this issue.

[2022-01-06 00:49] xcmonline commented on #14543
apache-shardingsphere-5.0.0-shardingsphere-proxy

[2022-01-06 00:59] xcmonline commented on #14529
有条款一定使用英文吗？为什么歧视中文？

[2022-01-06 01:49] tuichenchuxin commented on #14552
@fengyc This bug has been fixed on master branch.

[2022-01-06 02:25] yuanjinzhong commented on #14553
你好，我在学习使用sharding-jdbc 5.0。然后我上网搜索教程的时候，发现教程上说5.0和v4版本配置有差异。

网上教程显示v5版本的配置是：

spring.shardingsphere.**rules**. sharding.XXX

官网上的配置是：

spring.shardingsphere.sharding.XXX

然后我就困惑了，应该使用什么配置。哪里可以查询到配置？

希望有同学给我解答一下，比心♥️

[2022-01-06 02:51] jlovej commented on #14550
Is there no great god to answer this question

[2022-01-06 02:57] strongduanmu commented on #14550
Hi @jingshanglu, can you help check this issue?

[2022-01-06 02:59] strongduanmu commented on #14553
Hi @yuanjinzhong, can you translate this answer to english? If you want to use Chinese, you can submit questions at [OpenSEC](https://community.sphere-ex.com/).

[2022-01-06 03:05] RaigorJiang opened #14558 "[DistSQL] NPE occurs when preview SQL by `schema.table`."
## Bug Report
### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT master branch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Preview SQL execute success.
### Steps to reproduce the behavior
1. config sharding rule in YAML.
2. connect Proxy with MySQL Cli.
3. show databases, display `sharding_db`;
4. execute: `sel

[2022-01-06 03:05] jingshanglu commented on #14550
@jlovej Are you using `ShardingSphere-proxy` or `shardingsphere-jdbc`?

[2022-01-06 03:08] userkdg commented on #14541
yes, i give a app logic sql now.
as:
step1: scheduler job
<img width="586" alt="1641438128(1)" src="https://user-images.githubusercontent.com/21057449/148321532-0a8b2ae4-be2a-4cbf-83bf-a7c86df024c7.png">
step2:  service no set transaction
<img width="260" alt="1641438282(1)" src="https://user-images.githubusercontent.com/21057449/148321760-7d19e78e-b3d7-443f-9429-301e6fe40e4f.png">
step3: update
<

[2022-01-06 03:19] yuanjinzhong commented on #14553
Hi, I am learning to use Sharding-JDBC 5.0. Then I searched the tutorial online and it said there was a configuration difference between version 5.0 and VERSION V4.

The online tutorial shows that the v5 configuration is:

spring.shardingsphere.rules. sharding.XXX

The configuration on the official website is:

spring.shardingsphere.sharding.XXX

Then I was confused about what configuration to use

[2022-01-06 03:24] strongduanmu commented on #14553
You can refer to official example —— https://github.com/apache/shardingsphere/tree/master/examples.

[2022-01-06 03:26] yuanjinzhong commented on #14553
thanks

[2022-01-06 03:27] yuanjinzhong commented on #14553
[OpenSEC](https://community.sphere-ex.com/) is very good.  i found a new world

[2022-01-06 04:12] #14554 closed

[2022-01-06 04:18] linghengqian commented on #14529
@xcmonline
I don't know why you have a problem with discriminating against Chinese. When you create an issue, the issue template is limited to English for others to read. Of course, Shardingsphere corresponds to a community of domestic users, https://community.sphere-ex.com/
[code]

[2022-01-06 05:27] #14496 closed

[2022-01-06 05:42] jingshanglu commented on #14187
@xue2lang Very in-depth analysis. For this situation, it may be necessary to design database metadata management to be compatible with MySQL behavior. We should sort out the states that need to be managed, and then manage them through zk.

[2022-01-06 05:54] jingshanglu commented on #14541
@userkdg Are the above feature and features used `@Transactional(readOnly = true)`  in different schemas? Is it same as #14187 ？

[2022-01-06 06:05] yx9o commented on #14558
I want to try.

[2022-01-06 06:06] jlovej commented on #14550
shardingsphere-jdbc

[2022-01-06 06:15] RaigorJiang commented on #14558
@yx9o Thank you

[2022-01-06 06:20] userkdg commented on #14541
@jingshanglu Make sure only one schema is used.
- under ``` @Transactional(readOnly = true) ``` , the app feature can work normally when the app is not connected to the proxy
- sporadic, Not all transaction operations will report errors, and some errors will occur after a period of time

this is doubt.

[2022-01-06 07:03] yx9o commented on #14558
@RaigorJiang The reasons for positioning the NPE are as follows:
![image](https://user-images.githubusercontent.com/12792261/148342486-14c9b18f-0112-4240-a768-7cf6ff19a23a.png)

[2022-01-06 07:40] jingshanglu commented on #14541
@userkdg Ok, these two feature use one connection to proxy, it maybe why you meet the exception.
Did these two features use the same connection to proxy before?

[2022-01-06 07:47] jingshanglu commented on #14550
@jlovej Can you give your use case? such as SQL from app to `sharding-jdbc` and others ?

[2022-01-06 07:55] userkdg commented on #14541
@jingshanglu maybe use the same connection on app,  normal app used connection pool, and then reuse connection, This is similar to the problem of reuse connection on proxy , but the  features can work normally when the app is not connected to the proxy.

[2022-01-06 08:20] jingshanglu commented on #14541
@userkdg Normally, it also come when app connect to MySQL using connection pool. You open a connection by MySQL-Client to MySQL, run `set transaction read only` and some sql, then you reuse the conn, and run a `insert`, it also  appear. In proxy,  only in a connection from app to proxy, proxy will reuse connection  to DB.

[2022-01-06 08:38] jlovej commented on #14550
If the application is not convenient, you can provide related logs，logsInfo:

Registering transaction synchronization for SqlSession [org.apache.ibatis.session.defaults.DefaultSqlSession@7b81283]
JDBC Connection [io.seata.rm.datasource.ConnectionProxy@2c673dec] will be managed by Spring
==>  Preparing: INSERT INTO t_order ( order_id,user_id,order_no,create_time ) VALUES( ?,?,?,? )
2022-01-06 16:33

[2022-01-06 08:48] Ikki-Dai commented on #14316
yes, but prefer concept of unity about teanat and something work around

[2022-01-06 08:49] setamv opened #14566 ".TablesContext#findTableNameFromMetaData() can not find the correct table name for column names when column names are in upper case."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-06 09:08] strongduanmu commented on #14566
Hi @setamv, can you try to fix it?

[2022-01-06 09:39] setamv commented on #14566
how to fix it? can you give me an idea?
i tried, but the `org.apache.shardingsphere.infra.metadata.schema.ShardingSphereSchema#getAllColumnNames` method is reference by lots of codes and some codes rely on the index of element in list the method return. i can't figure out a good idea.
what about the idea as follows:
![image](https://user-images.githubusercontent.com/20662392/148362312-fd4ea3f7-a68

[2022-01-06 09:50] setamv commented on #14566
@strongduanmu
I think i was wrong about that and i'll try to fix it.

[2022-01-06 10:04] TeslaCN opened #14569 "Consider how to determine a default database version for ShardingSphere-Proxy"
## Feature Request

### Is your feature request related to a problem?

### Describe the feature you would like.

When no data source was configure in ShardingSphere-Proxy, the default version of MySQL is `5.7.22`. Consider how to set a proper default version.

https://github.com/apache/shardingsphere/blob/162ce334a8fee98a892c357454aa0c391158e011/shardingsphere-db-protocol/shardingsphere-db-protoco

[2022-01-06 11:02] jingshanglu commented on #14550
@jlovej Can you give a simplified reproduction step？

[2022-01-06 11:03] LeeGuoPing commented on #14183
I try to resolve this error, but I think it is not the best way

[2022-01-06 11:23] menghaoranss opened #14572 "Include LICENSE and NOTICE file into agent distribution"
Same as `shardingsphere-jdbc-distribution`

[2022-01-06 11:30] jlovej commented on #14550
About logic：
1、mall-order sevice create order
2、mall-goods service deductions inventory;

Order is divided into three databases and four tables，Goods is divided into three databases and four tables

Integration Seata1.4.2， implementation Global Transaction exception，reason：gain table meta primary key and index empty

[2022-01-06 11:49] sandynz opened #14576 "InstanceId depended ManagementFactory.getRuntimeMXBean().getName() might cost much time on lock"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 8ba7daf169aa4a7b9c74782c85c5c2c85e00ca5e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
macOS Big Sur 11.3.1
JDK 8

### Expected behavior
No long lock time on `InstanceId` construction

### Actual behavior
BLOCKED for a long time

scaling data consistency check w

[2022-01-06 11:53] menghaoranss commented on #14576
@sandynz  Thanks for your feedback, I will follow up.

[2022-01-06 12:41] tuziaifendou commented on #10699
I have the same problem too

[2022-01-06 13:28] zhao190775705 opened #14580 "sharding-jdbc5.0 batch insert do not return primary id"
error--------
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.executor.ExecutorException: Error getting generated key or setting result to parameter object. Cause: org.apache.ibatis.executor.result.ResultMapException: Error attempting to get column #1 from result set.  Cause: java.lang.NullPointerException: ResultSet should call next or has no more data.

	at org.m

[2022-01-06 17:00] giorgiozoppi commented on #6478
There is a a query parser in Apache already, the name of the project is Calcite.

[2022-01-07 00:12] strongduanmu commented on #10699
@tuziaifendou I think you can submit a new issue to describe your problem.

[2022-01-07 00:12] tuziaifendou commented on #10699
 
 
您好，我现在正在工作中，无法亲自回复您的邮件。我将在工作结束后，尽快给您回复。

[2022-01-07 02:00] zjcnb commented on #14572
@menghaoranss Hi, I want to do it.

[2022-01-07 02:01] zjcnb commented on #14580
@zhao190775705 Can you provide your configuration?

[2022-01-07 02:15] userkdg opened #14584 "readwrite_splitting hint source write fail"
### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
[code]
### Actual behavior
[code]
### Reason analyze (If you can)
hint fail

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
steps:
[code]
### Example codes for reproduce

[2022-01-07 02:17] userkdg commented on #14584
need rule
[code]

[2022-01-07 02:17] #14584 closed

[2022-01-07 02:20] YXxy1002 opened #14585 "how"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-01-07 02:21] YXxy1002 commented on #14585
![image](https://user-images.githubusercontent.com/36941654/148480912-45f98d9e-dd6b-4bb7-ac86-91e89675be1e.png)
i want to call a producer but failed

[2022-01-07 02:31] YXxy1002 commented on #14585
i have noticed that PRODUCER is not support, do i hava any way to use PRODUCER?

[2022-01-07 02:53] #14572 closed

[2022-01-07 02:53] terrymanu commented on #14061
Yes, we can use Apache Phoenix to convert the SQL if needed.
Could you provide the design if we using Apache Phoenix in ShardingSphere?

[2022-01-07 03:11] xcmonline commented on #14543
only setting.
server.ymal
`mode:
  type: Cluster
  repository:
    type: Zookeeper
    props:
      namespace: qiyun_db1
      server-lists: localhost:2181
  overwrite: true
rules:
  - !AUTHORITY
    users:
      - root@%:123456
    provider:
      type: ALL_PRIVILEGES_PERMITTED
props:
  max-connections-size-per-query: 1
  kernel-executor-size: 16
  proxy-frontend-flush-threshold: 128
  proxy-open

[2022-01-07 03:23] #14520 closed

[2022-01-07 03:36] zjcnb commented on #14543
@xcmonline Can you check your ${shardingsphere-proxy}/lib directory. Are `shardingsphere-cluster-mode-repository-zookeeper-curator.5.0.0.jar` in it?

[2022-01-07 03:54] #14566 closed

[2022-01-07 04:06] alice-yang94 opened #14591 "ShardingSphere proxy's discovery not recognise the change of primary db"
## Bug Report

### Which version of ShardingSphere did you use?
- ShardingSphere 5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
-  ShardingSphere-Proxy

### Background environment
When using MogDB_v2.1.0.3 (same as openGauss 2.1.0) to set up one primary database, two standby databases and using switchover or failover on one of the standby database. After switcho

[2022-01-07 04:14] zjcnb commented on #14591
@alice-yang94 Hi, thank you for your feedback , I will check it.

[2022-01-07 04:57] strongduanmu commented on #14585
Hi @YXxy1002, thank you for your feedback. Now we have support call parse in 5.0.0 version, but this statement still have some problem when config multiple dataSource, because we can't route call statement correctly.

[2022-01-07 05:06] strongduanmu opened #14593 "No result return when execute getResultSet method for some sql that handle with JDBCMemoryQueryResult"
## Bug Report

### Which version of ShardingSphere did you use?

482bcc58f28af6cdc904eb64e8a4751434e66529

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Return result when I execute sql `SELECT * FROM t_order WHERE order_id > ? ORDER BY order_id`;

### Actual behavior

No result return.

### Reason analyze (If you can)

Whe

[2022-01-07 05:32] xcmonline commented on #14543
zookeeper-3.6.0.jar and zookeeper-jute-3.6.0.jar .
shardingsphere-cluster-mode-repository-zookeeper-curator.5.0.0.jar  not found, where can I download it.

[2022-01-07 06:42] zjcnb commented on #14183
Cool, Let me see.

[2022-01-07 07:23] tuichenchuxin opened #14597 "proxy connect openGauss, use jdbc to connect proxy, but parseEngine is postgreSQL."
## Bug Report

### Which version of ShardingSphere did you use?
master - f15cfbe7e8565ed3b97897c6dadb153727eac362

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
jdbc and proxy
### Expected behavior
parserEngine should be openGauss.
### Actual behavior
parserEngine is postgreSql
### Reason analyze (If you can)
![image](https://user-images.githubusercontent.com/86938616

[2022-01-07 08:11] #14597 closed

[2022-01-07 08:12] zhao190775705 commented on #14580
Not a sub-table, a normal table, does not return the primary key ID
Do You need sharding configuration or mybatis
thank you

[2022-01-07 08:13] zhao190775705 commented on #14580
Can I add wechat

[2022-01-07 08:15] jlovej commented on #14550
this question is why

[2022-01-07 08:17] #14537 closed

[2022-01-07 08:34] jingshanglu commented on #14550
Can you leave your WeChat ID?

[2022-01-07 08:38] #14591 closed

[2022-01-07 08:45] LeibNici commented on #13769
Yes, I also encountered the same problem, how did you solve it?

[2022-01-07 08:46] jasper520 commented on #13769
你好，来信收到，谢谢

[2022-01-07 08:51] LeibNici commented on #13769
For example: show create table user will be automatically converted to show create table user_202201, my purpose is to get dynamically created table sql

[2022-01-07 08:52] ReyYang opened #14601 "Use Sharding-Proxy to query bit type data, the returned result column is empty"
Use Sharding-proxy to query bit type data, the returned result column is empty

### Which version of ShardingSphere did you use?
master branch
MySQL 5.6,5.7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
"bit" column returns normally
### Actual behavior
"bit" column returns empty
### Reason analyze (If you can)
The bit type is

[2022-01-07 08:53] ha543624703 opened #14603 "数据脱敏存在一些SQL支持问题"
Data Masking does not support batch update of case when writing method，like:
UPDATE `city`
SET NAME =
CASE
		WHEN id = 1 THEN 'nj'
		WHEN id = 2 THEN 'wh'
	END,
	address =
CASE
		WHEN id = 1 THEN 'abc'
		WHEN id = 2 THEN 'def'
	END
	WHERE
		id IN (1,2);

[2022-01-07 09:03] lwclover commented on #14584
Is there a problem with hint？

[2022-01-07 09:23] jlovej commented on #14550
OK，3ks,Direct messages to send you

[2022-01-07 09:32] jlovej commented on #14550
WeChat ID：jlovej213

[2022-01-07 09:55] ReyYang opened #14604 ""Data truncated for column" error occurs during the migration of the year type field"
"Data truncated for column" error occurs during the migration of the year type field
### Which version of ShardingSphere did you use?
master branch
MySQL 5.6,5.7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling
### Expected behavior
Successful migration
### Actual behavior
"Data truncated for column" error occurs during the migration of the year ty

[2022-01-07 10:07] ReyYang opened #14605 "The binary type is abnormal during the data migration data check phase"
The binary type is abnormal during the data migration data check phase
### Which version of ShardingSphere did you use?
master branch
MySQL5.6,5.7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Sharding-Scalinlg
### Expected behavior
Successful migration
### Actual behavior
Migration data check phase failed
### Reason analyze (If you can)
The binary type found in sourc

[2022-01-07 10:21] strongduanmu commented on #14603
Hi @ha543624703, can you translate this issue to english? And show your encrypt config?

[2022-01-07 10:27] ReyYang opened #14607 "Using Sharding-Proxy to create year data type, log throws NPE"
Using Sharding-Proxy to create year data type, log throws NPE

### Which version of ShardingSphere did you use?
master branch
MySQL 5.6,5.7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
No exception
### Actual behavior
Log throws NPE
### Reason analyze (If you can)
Use DataSourceMetaData.getTypeInfo() to return content withou

[2022-01-07 10:38] #14593 closed

[2022-01-07 10:51] RaigorJiang opened #14609 "[DistSQL] Add a syntax `SHOW UNUSED SHARDING ALGORITHMS`"
Hi community,

### Background
Now, when there are unused sharding algorithms in the metadata, users can use DistSQL to drop them.
For example:
1. User created a sharding algorithm, but never created a SHARDING TABLE RULE to use it;
2. User dropped the SHARDING TABLE RULE which using a algorithm, but did not drop the corresponding algorithm;
At the same time, users can view all sharding algorithms

[2022-01-07 10:57] yx9o commented on #14609
I want to try.

[2022-01-07 11:04] RaigorJiang opened #14610 "[DistSQL] Add a syntax `SHOW UNUSED SHARDING KEY GENERATORS`"
Hi community,

### Background
Similar to [SHOW UNUSED SHARDING ALGORITHMS](https://github.com/apache/shardingsphere/issues/14609), we need a syntax to query unused key generators.

### Aim
The syntax is as follows:
[code]

[2022-01-07 11:07] setamv opened #14611 "ShardingRule#isAllBindingTables() throws NullPointerException when table names and column names are in upper case in SQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-07 11:11] strongduanmu commented on #14611
Hi @setamv, thank you for your feedback. Do you want to fix it?

[2022-01-07 11:13] setamv commented on #14611
on the way.

[2022-01-07 11:13] strongduanmu commented on #14611
@setamv Good job, I will assign this issue to you.

[2022-01-07 11:26] RaigorJiang opened #14612 "[DistSQL] Add a syntax `SHOW UNUSED RESOURCES`"
Hi community,

this issue is similar to  [SHOW UNUSED SHARDING ALGORITHMS](https://github.com/apache/shardingsphere/issues/14609),  we want to add a DIstSQL to help users find unused resources.

### Background
1. The user added a resource, but never used it;
2. The user has altered the rules and released the previously used resources, but has not yet dropped them;

 If there are single tables on t

[2022-01-07 11:51] zjcnb opened #14613 "The DriverClassName is com.mysql.cj.jdbc.Driver ShardingSphere-Proxy start failed."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`Sharding-Proxy`

[code]
### Zookeeper Configuration

[code]

[2022-01-07 12:39] yx9o commented on #14610
I want.

[2022-01-07 13:14] #14611 closed

[2022-01-07 13:49] dongzl commented on #14612
I will try it.

[2022-01-07 16:36] TeslaCN commented on #14601
I did some investigation and found this issue may be related to charset or collate.

Response from MySQL
![image](https://user-images.githubusercontent.com/20503072/148575633-9ca1d058-986f-46a5-ba50-ec74d54ee25c.png)

Response from Proxy
![image](https://user-images.githubusercontent.com/20503072/148575805-1035bf80-ea10-4d00-ac06-e4b307d77d5f.png)

[2022-01-08 04:11] RaigorJiang commented on #14612
Hi @dongzl , welcome !

[2022-01-08 04:35] cicscpmi opened #14622 "on encrypt ，add check function"
## Feature Request
The encrypted field cannot support calculation operation. Can you add a check function to check whether the field operated by the current function contains the field to be decrypted?

[2022-01-08 04:40] totalo commented on #14110
`USE Statement` has already supported.

[2022-01-08 05:00] LeeGuoPing commented on #14607
Can I do it;

[2022-01-08 05:42] totalo commented on #14110
I will finish `Database Administration Statements`.

[2022-01-08 10:28] strongduanmu commented on #14622
Hi @cicscpmi, can you provide more information to describe your feature request?

[2022-01-08 10:30] strongduanmu commented on #14552
This issue has been fixed.

[2022-01-08 10:30] #14552 closed

[2022-01-08 14:58] sandynz commented on #14607
Hi @LeeGuoPing , welcome!

[2022-01-09 03:01] #14558 closed

[2022-01-09 03:02] #14603 closed

[2022-01-09 03:03] #14533 closed

[2022-01-09 07:37] strongduanmu commented on #13807
Fixed by #14630.

[2022-01-09 07:37] #13807 closed

[2022-01-09 07:41] cicscpmi commented on #14622
in  EncryptMergedResult,for example:
    if  the column that  the findColumnProjection finds  is not a columnProject, such as  expressionProject ,findColumnProjection returns  Optional.empty() ;
   Can you provide a function to find  any column when the column findColumnProjection finds is  an expressionProject ,and the column expression include any encrypt column.
  For example:
    in table t_us

[2022-01-09 09:33] sandynz opened #14633 "ShardingSphereDatabaseMetaData.getPrimaryKeys might throw exception"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
`ShardingSphereDatabaseMetaData.getPrimaryKeys` doesn't throw exception

### Actual behavior
Sometime it works, sometimes it throw exception.

In scaling data consistency check (primary key loader was r

[2022-01-09 10:14] userkdg opened #14636 "shardingsphere sql parser support multi statements"
## Feature Request

### Is your feature request related to a problem?
app/client had some one request with mult sql , such as ,the mybatis xml
[code]

### Describe the feature you would like.
on sharding-proxy,  accept one packet with multi sql, can foreach every sql packet to submitted.

[2022-01-09 10:46] userkdg opened #14637 "under high concurrency, Lock wait timeout exceeded; try restarting transaction"
### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### behavior
under high concurrency, update operation ,
when app not connect sharding-proxy, normal execute , no exception

when app connect sharding-proxy,  cause exception,
``` show processlist ``` can see sql wait , ``` show sql `` log no found commit operat

[2022-01-09 14:55] sandynz opened #14641 ""show scaling status jobId" might respond "Malformed packet""
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling

### Expected behavior
No error message return

### Actual behavior
Sometimes it respond "Malformed packet":
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sha

[2022-01-09 14:57] sandynz commented on #14641
Hi @ReyYang , Could you investigate this issue?

[2022-01-10 01:29] jlovej commented on #14550
Does anyone care about that

[2022-01-10 01:41] tuichenchuxin commented on #14316
@Ikki-Dai I got you point. We'll have a think of it.

[2022-01-10 01:48] tuichenchuxin commented on #14444
Can you try to submit a pr to fix it?

[2022-01-10 01:49] tuichenchuxin commented on #14430
@SirMin Sure, Thanks a lot.

[2022-01-10 01:51] tuichenchuxin commented on #14463
which version is your oracle db?

[2022-01-10 01:59] JerryGHH commented on #14463
Oracle [Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production]

BEST REGARDS
郭惠华
QQ: 1031469874

&nbsp;

------------------&nbsp;Original&nbsp;------------------
From:                                                                                                                        "apache/shardingsphere"

[2022-01-10 02:09] tuichenchuxin commented on #14463
@JerryGHH didn't have this version of Oracle. But I think it has some version problem.
In this `OracleTableMetaDataLoader` class, you can debug to check. And submit a pr.

[2022-01-10 02:18] #14637 closed

[2022-01-10 02:27] tuichenchuxin commented on #14622
@cicscpmi Are you willing to submit a pr?

[2022-01-10 02:28] JerryGHH commented on #14463
Oracle Database 19c is the latest Long Term Release with the widest window of support duration.

Oracle DB Server version is 19c，and my oracle driver is&nbsp;11.2.0.1.0。

the maven dependency is :

<dependency&gt;
&nbsp; &nbsp; &nbsp; &nbsp;<groupId&gt;com.oracle</groupId&gt;
&nbsp; &nbsp; &nbsp; &nbsp;<artifactId&gt;ojdbc6</artifactId&gt;
&nbsp; &nbsp; &nbsp; &nbsp;<version&gt;11.2.0.1.0</version

[2022-01-10 02:38] zjcnb commented on #14580
Sharding configuration, thx.

[2022-01-10 03:20] zjcnb opened #14646 "Optimize Database discovery MGR prompt information."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Remind which dataSource not joined MGR cluster.

### Actual behavior

[code]

[2022-01-10 03:43] zt9788 opened #14647 "No value specified for parameter in Mysql Insert when use ifnull"
## Bug Report

ibatis （sharding-jdbc5.0.0）
`insert into xx(a,b,c) value(#a#,ifnull(#b#,xxx),#c#)`

It is will throw excption of `No value specified for parameter XX` ( XX=last insert parameter，demo=3）

[2022-01-10 03:58] #14607 closed

[2022-01-10 04:48] userkdg opened #14650 "sharding-proxy proxy concurrency problem!!"
In the proxy, in the concurrent import data, the expected number of imported records is 10, but the actual number of imported records is less than or equal to 10. It is a sporadic problem, and the current positioning is a concurrency problem! Which concurrency caused it to not be located, here, please help you guys

[2022-01-10 04:50] userkdg commented on #14650
The access proxy is a stable system, and the function is normal before it is connected

[2022-01-10 05:21] kangshiwei opened #14654 "[Sharding5.0.0] Use @ShardingSphereTransactionType(TransactionType. XA) is set to the XA transaction type is not effective"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-01-10 07:52] TeslaCN commented on #14650
Hi @userkdg
I'm afraid that we can hardly help you unless you provide some information to help us reproduce this issue, such as DB, versions, configurations and so on.

[2022-01-10 07:56] TeslaCN commented on #14636
Could you provide more information about this issue?

[2022-01-10 07:57] zhao190775705 commented on #14580
1. sharding config version 5.0.0
`
spring.shardingsphere.mode.type=Memory
spring.shardingsphere.datasource.names=ds
spring.shardingsphere.datasource.ds.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds.driver-class-name=com.mysql.cj.jdbc.Driver
spring.shardingsphere.datasource.ds.url=jdbc:mysql://localhost:3306/easybii_prod?characterEncoding=utf8&useSSL=false
spring.s

[2022-01-10 07:58] farmer-liuz1024 commented on #13821
Please assign this issue to me.thx

[2022-01-10 08:00] RaigorJiang opened #14661 "[DistSQL] Add some new syntax to manage scaling configurations."
Hi community,

In order to facilitate users to manage the sharding scaling rule configuration, we will add some new DistSQL syntax.
At the same time, since the scaling feature has been refactored to support different levels of configurations (#13875), DistSQL will also support different levels:

#### Example
- [x] 1. Automatic scaling process, specifying minimal rule configuration
[code]
- [x] 2.

[2022-01-10 08:03] strongduanmu commented on #13821
@farmer-liuz1024 Welcome, I just assign this issue to you.

[2022-01-10 08:04] peilinqian opened #14663 "XA Narayana transaction, when the max-connections-size-per-query parameter is set greater than 1, there is a problem with transaction consistency"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-10 08:07] zhao190775705 commented on #14580
Looking forward to your reply, thank you

[2022-01-10 08:10] zhao190775705 commented on #14580
@zjcnb
Looking forward to your reply, thank you

[2022-01-10 08:14] RaigorJiang commented on #12717
For #12752 and #13911,
`Native` authority provider will be removed later, I just close this issue.
Thank you all!

[2022-01-10 08:14] #12717 closed

[2022-01-10 08:19] RaigorJiang commented on #14647
Hi @zt9788
Please provide your configuration, logic SQL and actual SQL, the SQLs can be found in log files when you set `sql-show` to true.

[2022-01-10 08:42] WENZIZZHENG commented on #14553
我个人做了个demo，你可以参考一下：https://github.com/WENZIZZHENG/spring-boot-demo/tree/master/spring-boot-sharding-jdbc

[2022-01-10 08:46] zjcnb commented on #14580
I will check.

[2022-01-10 08:58] yuanjinzhong commented on #14553
很棒，3Q

[2022-01-10 09:04] ziliangzeng opened #14666 "Does sharding jdbc support mysql type longblob ?"
## Question
hi.
Does sharding JDBC support MySQL type longblob ?
example: i have 4 database .  the broadcasttable was in 4 database.
when I try to insert into broadcastTable with longblob. it inserts success.
but interesting thing is that It segmentation 4 parts. each database have 1/4 longblob.
in my mind . each data should have complete longblob .
that was confuse.

[2022-01-10 09:48] zt9788 commented on #14647
I try to debug statment  the sql is:

`
INSERT INTO XXXX(    A,    b,    c,    d,    e,    f,    g, h) VALUES (null, null, 'c', 1, 'e',  ifnull('2022-01-07 14:50:07.0',now()),  '220107-010821375503616', ** NOT SPECIFIED **)    -- h is have value
`
sql-show:
`
INSERT INTO XXXX(    A,    b,    c,    d,    e,    f,    g, h) VALUES VALUES (?, ?, ?, ?, ?,  ifnull(?,now()), ?,?)      ::: [null, null, c,

[2022-01-10 09:49] xsong123 opened #14667 "rename table error"
shardingsphere version 5.0.0

config as below：
rules:
  tables:
    basicinfo:
      actualDataNodes: ds_${0..0}.basicinfo_${0..15}
      ...

sql as below：
rename  table basicinfo to hisbasicinfo20210101;
ps: table[hisbasicinfo20210101] has no rule

error as below：
com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalArgumentException: Can not find visitor rule: `Rename

[2022-01-10 10:11] RaigorJiang commented on #14647
Let's wait for @strongduanmu  to check it.

[2022-01-10 10:14] CrackerSuperior commented on #14667
Sorry, if I remember correctly, the rename statement is not supported for the time being

[2022-01-10 10:19] strongduanmu commented on #12215
Fixed by #14635.

[2022-01-10 10:19] #12215 closed

[2022-01-10 10:56] strongduanmu commented on #14647
Hi @zt9788, can you try master branch? This bug has been fixed in master branch.

[2022-01-10 11:19] #14666 closed

[2022-01-10 11:26] ziliangzeng opened #14670 "insert into broadcasttable with longblob cause longblob break up to serveral part(the number of shards )"
## Bug Report
      hi.
      example: i have 4 database . the broadcasttable was in 4 database.
      when I try to insert into broadcastTable with longblob. it inserts success.
      but interesting thing is that It segmentation 4 parts. each database have 1/4 longblob.
      in my mind . each data should have complete longblob .
      that was confuse.
      when I change the broadcasttable to

[2022-01-10 12:01] strongduanmu opened #14672 "Add more unit test for SelectStatementContext"
Hi, community:

This issue is to add more unit tests for the SelectStatementContext class. Welcome to claim them.

The specific subtasks are as follows:

- [ ]  Add unit test for SelectStatementContext#isContainsDollarParameterMarker
- [ ]  Add unit test for SelectStatementContext#isContainsPartialDistinctAggregation

Through this issue, you can understand the process of participating in Apache Sh

[2022-01-10 12:12] userkdg commented on #9817
@ymwangzq    How is this problem?

[2022-01-10 14:39] jlovej commented on #14550
Thks for @jingshanglu

[2022-01-10 16:24] Swastyy commented on #14672
Hi @strongduanmu Can I please try this once? If I could not I'll inform you. Thanks.

[2022-01-10 17:08] #14253 closed

[2022-01-11 00:33] strongduanmu commented on #14672
@Swastyy Welcome, I just assign this issue to you.

[2022-01-11 00:49] strongduanmu commented on #14670
@ziliangzeng Thank you for your feedback, I will track this issue.

[2022-01-11 01:08] strongduanmu commented on #14670
Hi @ziliangzeng, can you provide sql-show log? When ShardingSphere handle broadcast tables, there is no logic to split strings.

[2022-01-11 01:32] ziliangzeng commented on #14670
@strongduanmu  hi . is it what you want ?
![image](https://user-images.githubusercontent.com/27884890/148865656-a80310c6-ebba-4c79-89f0-9252b24f3cdf.png)

[2022-01-11 01:34] strongduanmu commented on #14670
Hi @ziliangzeng, can you upload this demo? I can't reproduce this bug in master branch.

[2022-01-11 01:41] ziliangzeng commented on #14670
[code]

[code]
[code]
[code]

[code]
@strongduanmu

[2022-01-11 01:57] strongduanmu commented on #14670
@ziliangzeng Thank you for your detailed info. I will try to reproduce it.

[2022-01-11 02:06] zt9788 commented on #14647
@strongduanmu Is there have shardingsphere-jdbc-core-spring-boot-starter SNAPSHOT version？

[2022-01-11 02:07] RaigorJiang commented on #14654
Hi @kangshiwei
why you say it doesn't work, please provide more info

[2022-01-11 02:31] strongduanmu commented on #14647
@zt9788 You can download here——http://117.48.121.24:8080/JDBC/.

[2022-01-11 02:42] #13825 closed

[2022-01-11 02:44] zt9788 commented on #14647
Thanks,I will try in test env later.
 by the way The version 5.0.1(5.1.0) release version when will be released.

[2022-01-11 02:49] strongduanmu commented on #14647
@zt9788 Next version 5.1.0 is currently in preparation for release, please wait for it.

[2022-01-11 02:50] #14605 closed

[2022-01-11 03:02] jlovej commented on #14550
After confirmation, it should be org. Apache. Shardingsphere. Infra. Rewrite. SQLRewriteEntry# rewrite SQL rewriting has a problem, the Debug screenshots as follows：
![403b21139b40cbe2a15da4f95bc106c](https://user-images.githubusercontent.com/8819998/148873857-cabb51c3-f163-4b63-adcf-9e90316050fe.png)

[2022-01-11 03:06] #14647 closed

[2022-01-11 03:24] #14499 closed

[2022-01-11 03:29] TeslaCN opened #14680 "Consider supporting preview SQL with parameter placeholders"
## Feature Request

### Is your feature request related to a problem?
Related to #10814.
The ShardingSphere-Proxy PostgreSQL doesn't support DESCRIBE prepared statement yet because we cannot fetch the metadata of parameters and result set unless we execute the SQL. If we can preview SQL with parameter placeholders, the logic can be also used for implementing.

### Describe the feature you would li

[2022-01-11 03:53] jingshanglu commented on #14550
@strongduanmu Hey, it maybe a rewrite error. PTAL

[2022-01-11 03:54] jingshanglu commented on #14550
@strongduanmu Hey, it maybe a rewrite error, PTAL

[2022-01-11 03:57] strongduanmu commented on #14550
@jingshanglu Thank you for your remind, I will take a look at this bug.

[2022-01-11 04:35] hesixian123 commented on #8964
What is the use of this ID sequence generation algorithm after configuration? Or do you need to generate it manually

[2022-01-11 05:36] tuichenchuxin commented on #14670
I want to investigate this issue.

[2022-01-11 07:03] #14680 closed

[2022-01-11 07:38] strongduanmu commented on #14550
[code]

Hi @jlovej I have tested the `show index` statement using the `t_order` table and it works fine in version 5.0. Can you provide more information to help me reproduce this issue? For example, the configuration of the `t_order` table? `hl_mall_order_cluster_0` is the logical database?

[2022-01-11 08:35] TeslaCN opened #14686 "`IndexOutOfBoundsException` occurred when previewing insert SQL"
## Bug Report

### Which version of ShardingSphere did you use?
master - b1322174a5659cf6889f8209e01d711b44d16c3a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Preview the following SQL:

[code]

### Actual behavior

[code]

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception o

[2022-01-11 08:43] jlovej commented on #14550
`t_order`  is logical table，`hl_mall_order_cluster_0` is the physics database；
sharding config info:

[code]

[2022-01-11 08:51] strongduanmu commented on #14550
@jlovej Thank you for your configuration. Can you open `sql-show` config, and provide logic sql, actual sql log.

[2022-01-11 09:23] jlovej commented on #14550
loginfo:

![image](https://user-images.githubusercontent.com/8819998/148915846-074d9caa-25ac-48bd-aaf6-95fdacb4fc74.png)

[2022-01-11 09:29] strongduanmu commented on #14550
@jlovej Why not a show index statement? The previous feedback is that the show index statement reports an error.

[2022-01-11 09:39] zjcnb commented on #14580
@zhao190775705 Hello, Can you adjust your ` Test1Mapper.xml`. such as:
[code]

[2022-01-11 12:30] #14604 closed

[2022-01-11 14:03] #14663 closed

[2022-01-11 14:31] jlovej commented on #14550
![image](https://user-images.githubusercontent.com/8819998/148961449-b0cb753a-5753-498c-986c-f33175d89647.png)

[2022-01-11 14:57] lafaso opened #14694 "sql use 'binary' sharding is not support??"
## Bug Report

Hello,Teachers，

this is my mysql table, and user_id is the sharding field.
![image](https://user-images.githubusercontent.com/16465114/148962086-0a4e1502-5703-4171-abdd-91bc5b7f827e.png)

when I execute the following SQL statement, it does not work!  just special for the ‘**binary** ’，it doesn't support '**binary**'?

`SELECT * FROM t_order WHERE order_id = #{orderId,jdbcType=INTEG

[2022-01-12 00:08] strongduanmu commented on #14694
@lafaso Thank you for your feedback, I will investigate this problem.

[2022-01-12 01:01] zhao190775705 commented on #14580
Thank you. I've taken care of it

[2022-01-12 01:56] ReyYang commented on #14641
ok, i'll take a look

[2022-01-12 02:06] #14694 closed

[2022-01-12 02:22] ziliangzeng commented on #14670
@tuichenchuxin hi. have you reproduce it ?  Is it possible to fix by configuration?
i use sharding-jdbc in production library. lol

[2022-01-12 02:22] lwclover opened #14699 "About using readwrite splitting hint function"
## Using SQL Hint function a little complex and having a risk.
code like:
[code]
The whole process is not atomic, there is a risk the hint tag never remove from ThreadLocal in proxy.
How about merging into one SQL?
For example: /\* set readwrite_splitting hint source=write \*/select * from test/\* clear readwrite_splitting hint \*/.
How about remove clear readwrite_splitting hint?
I think 'clear r

[2022-01-12 02:37] #14641 closed

[2022-01-12 02:54] strongduanmu commented on #14699
Hi @lwclover, thank you for your suggestion. We have already provide sql hint feature in master branch. You can refer this [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#%E4%BD%BF%E7%94%A8-hint-%E5%BC%BA%E5%88%B6%E4%B8%BB%E5%BA%93%E8%B7%AF%E7%94%B1) for more detailed information.

[code]

[2022-01-12 02:59] strongduanmu commented on #14667
As @CrackerSuperior said, the rename statement is not currently supported. Are you interested in this task? @xsong123 @CrackerSuperior  You are welcome to submit PRs to support the rename statement.

[2022-01-12 02:59] lwclover commented on #14699
I am using shardingsphere proxy,not  shardingsphere jdbc.

[2022-01-12 03:01] strongduanmu commented on #14667
By the way, you can try the `ALTER TABLE RENAME TO...` statement, which I remember is supported.

[2022-01-12 03:03] strongduanmu commented on #14699
@lwclover Proxy can also support this feature.

[2022-01-12 03:06] totalo commented on #14667
I will look into this, please assign me.

[2022-01-12 03:06] strongduanmu commented on #14667
@totalo Welcome.

[2022-01-12 03:22] goudai opened #14702 "There are 1000+ tables in my sub-database and sub-tables, do you support it? I use jdbc mode"
### There are 1000+ tables in my sub-database and sub-tables, do you support it? I use jdbc mode

[2022-01-12 03:24] lwclover commented on #14699
proxy props config below:
sql-show: true
proxy-hint-enabled: true
sql-comment-parse-enabled: true

executing sql '/* ShardingSphere hint: writeRouteOnly=true */ select * from test', there is no effect.
Where did I configure it wrong?

[2022-01-12 03:27] strongduanmu commented on #14699
@lwclover Which version are you using? Is it possible to provide the log information printed by sql-show?

[2022-01-12 03:30] lwclover commented on #14699
proxy 5.0.0.
TextProtocolBackendHandlerFactory.newInstance() method first line:
`
String trimSQL = SQLUtil.trimComment(sql);
`

[2022-01-12 03:37] strongduanmu commented on #14699
@lwclover Please try the latest master branch, because this is a new feature.

[2022-01-12 05:30] #14503 closed

[2022-01-12 06:00] lwclover commented on #14699
the latest branch has the feature, thank you

[2022-01-12 06:01] lwclover commented on #14699
And how

[2022-01-12 06:01] #14699 closed

[2022-01-12 06:13] RaigorJiang commented on #14702
Hi @goudai
You can have a try.
Too many tables may cause the startup time to be longer, and there is no problem in running.

[2022-01-12 06:50] cheese8 commented on #14622
Assign it to me, I will try to enhance it. @strongduanmu @tuichenchuxin

[2022-01-12 07:09] dragonorant opened #14705 "For example, I have an activity table that stores the activities of each period, so the content of each period of my activities should correspond to an activity detail table. I hope to achieve this, but now I'm stuck here and I need help."
I want to do sharding on another table according to the primary key of a table. What should I do?

[code]

For example, I have an activity table that stores the activities of each period, so the content of each period of my activities should correspond to an activity detail table. I hope to achieve this, but now I'm stuck here and I need help.

[2022-01-12 07:28] zjcnb opened #14706 "Plan to split the readwrite-splitting static and dynamic configuration to SPI interfaces."
Hi community,

Now, readwrite-splitting static and dynamic configuration are together, we think this is not clear enough. So, we plan to split the readwrite-splitting static and dynamic configuration to SPI interfaces.

`Before adjustment configuration :`

[code]

`After adjustment dynamic configuration :`

[code]

`After adjustment static configuration :`

[code]

`Task list:`

- [x] Adjust the r

[2022-01-12 07:41] zjcnb opened #14707 "[CI] Failed to load driver class InvalidDriver from HikariConfig class classloader sun.misc.Launcher$AppClassLoader@42a57993"
`commit id : e46fa62cc140c2728c9b024255759c47c25e4abe`

[code]

[2022-01-12 08:00] strongduanmu opened #14708 "Route result is wrong when sharding key case in the Insert statement is inconsistent rule"
## Bug Report

### Which version of ShardingSphere did you use?

e46fa62cc140c2728c9b024255759c47c25e4abe

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute insert statement successfully

### Actual behavior

mysql> INSERT INTO tb_order ( title, HOSPITAL_SOID ) VALUES('222',256181);
ERROR 1997 (C1997): Runtime exceptio

[2022-01-12 08:14] RaigorJiang commented on #14706
Hi @lanchengx
Please follow this issue for updates, thank you.

[2022-01-12 08:32] lwclover commented on #14699
The whole process is not atomic, there is a risk the hint tag never remove from ThreadLocal in proxy.

[2022-01-12 08:43] tuichenchuxin commented on #14699
@lwclover If you use SQL hint like `/* ShardingSphere hint: writeRouteOnly=true */ select * from test`,
This way we didn't use HintManager at all. So, there is no risk about threadLocal.

[2022-01-12 08:49] #14708 closed

[2022-01-12 09:08] lwclover commented on #14699
You are right.

By the way, I am using proxy 5.0.0, If I want to use comment hint feature, Which commits do I need to merge?

[2022-01-12 09:18] tuichenchuxin commented on #14699
@lwclover You can refer to [this](https://github.com/apache/shardingsphere/issues/13771)
5.1 will be released soon.

[2022-01-12 09:47] lwclover commented on #14699
thanks

[2022-01-12 10:53] TeslaCN opened #14714 "Consider replacing Class.getCanonicalName with other methods"
## Feature Request

### Is your feature request related to a problem?

Refer to https://bugs.openjdk.java.net/browse/JDK-8187123

It affects the performance of `org.apache.shardingsphere.infra.context.refresher.MetaDataRefreshEngine`
![image](https://user-images.githubusercontent.com/20503072/149126862-63338b21-b1ee-42bc-89ed-6ba43581d471.png)

### Describe the feature you would like.

Replace Cla

[2022-01-12 11:33] #14714 closed

[2022-01-12 13:25] sandynz opened #14719 "Show error message when altering sharding configuration if scaling is not enabled"
## Feature Request
Currently, if scaling is not enabled, alter sharding configuration will take effect immediately, e.g. `ALTER SHARDING ALGORITHM`, `ALTER SHARDING TABLE RULE`. Though sharding configuration is altered immediately, but the underlying data is not scaled, in fact it cause issue. So we'll improve it.

### Is your feature request related to a problem?
Yes

### Describe the feature you

[2022-01-12 13:28] sandynz commented on #14719
Refer to following java classes methods for more details:
- RuleDefinitionBackendHandler.execute
- RuleAlteredJobWorker.isOnRuleAlteredActionEnabled

Refer to [Sharding Rule Definition DistSQL]( https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/ ) for more details.

[2022-01-12 13:39] sandynz opened #14720 "Every scaling job should only run on one proxy node in proxy cluster"
## Feature Request

### Is your feature request related to a problem?
Yes

### Describe the feature you would like.
Currently, if we start scaling job in proxy cluster, then it might cause issue. Since scaling job is in register center, and it will notify every proxy node in cluster and every proxy node will start scaling job.

I found exception before. It's necessary to test it more and fix it if

[2022-01-12 13:44] sandynz opened #14721 "Support broadcast table in scaling job"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
From scaling code, looks broadcast table is not handled.

[2022-01-12 13:53] sandynz opened #14722 "Only one scaling job could be executed at the same time for one schema"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
In case of there're several scaling jobs are created that belong to the same schema, they will run concurrently, it might cause issue. So it's better to add some limitation:
1. Make sure there's only one scaling job is running if there're seveval scaling jobs that belong to the same s

[2022-01-12 13:55] sandynz commented on #13881
Closed since no response for a long time.

[2022-01-12 13:56] #13881 closed

[2022-01-13 00:30] #14667 closed

[2022-01-13 01:48] ReyYang commented on #14719
can i take it?,Thanks

[2022-01-13 01:48] ReyYang commented on #14722
can i take it?,Thanks

[2022-01-13 01:49] ReyYang commented on #14720
can i handle it? thanks

[2022-01-13 02:00] sandynz commented on #14719
Welcome. Assigned to you.

[2022-01-13 02:21] #14610 closed

[2022-01-13 02:21] #14609 closed

[2022-01-13 02:23] wl4g opened #14724 "Configure skywalking tracking with opentracing:0.30.0 dependency error will make it unusable?"
There is a very serious problem: I tried to configure `org.apache.skywalking.apm.toolkit.opentracing.SkywalkingTracer` in the latest 5.1.1 for tracing, but the latest version `apm-toolkit-opentracing:8.8.0` only depends on `opentracing -api:0.30.0`, but `shardingsphere-agent-tracing-opentracing:5.1.0` does depend on 0.31.0, resulting in the error `NoClassDefFoundError: io/opentracing/ActiveSpan`,

[2022-01-13 02:32] wl4g commented on #14724
My agent.yaml is:
[code]

[2022-01-13 02:34] wl4g commented on #14724
May I ask what version of shardingsphere and skywalking you are using respectively, and what is the configuration?

[2022-01-13 02:40] strongduanmu opened #14726 "Add more unit test for ShardingRenameTableStatementValidator"
Hi, community:

This issue is to add more unit tests for the ShardingRenameTableStatementValidator class. Welcome to claim them.

The specific subtasks are as follows:

- [ ]  Add unit test for ShardingRenameTableStatementValidator#preValidate
- [ ]  Add unit test for ShardingRenameTableStatementValidator#postValidate

Through this issue, you can understand the process of participating in Apache S

[2022-01-13 02:44] strongduanmu opened #14727 "Add more unit test for MetaDataRefresher"
Hi, community:

This issue is to add more unit tests for the MetaDataRefresher class. Welcome to claim them.

The specific subtasks are as follows:

- [ ]  Add unit test for AlterIndexStatementSchemaRefresher#refresh
- [ ]  Add unit test for AlterTableStatementSchemaRefresher#refresh
- [ ]  Add unit test for CreateIndexStatementSchemaRefresher#refresh
- [ ]  Add unit test for CreateTableStatementS

[2022-01-13 02:57] lebron374 commented on #7701
i want to know how solve this problem

[2022-01-13 03:09] dragonorant opened #14728 "org.apache.shardingsphere.infra.exception.SchemaNotExistedException: Schema 'information_schema' doesn't exist."
[code]

[code]

[code]

I need to query whether the table name exists through such statements. How should I handle this exception when it is reported in the query process?

[2022-01-13 04:02] kangshiwei commented on #14654
When XA transactions are used in version 4.1.0, ENABLING DEBUG logging results in XA-related logs.   But in the use of 5.0.0 version, in the add @ ShardingSphereTransactionType (TransactionType.   XA), no log information related to XA was found when debug logs were opened.  Local transactions were found after breakpoint debugging.

[2022-01-13 04:23] #14497 closed

[2022-01-13 04:39] sandynz commented on #14661
The design and implementation cost a short time, since scaling require DistSQL in `5.1.0` release recently. Thank you very much! @RaigorJiang

I've tested all the `CREATE` examples above, every one of them works. I just did more test now, and I found some situation:

1. Looks there're strict constraints.

Empty scaling configuration is allowed, it means `INPUT`, `OUTPUT`, `STREAM_CHANNEL`, `COMPLE

[2022-01-13 05:04] menghaoranss commented on #14727
duplicate with #14083

[2022-01-13 05:17] strongduanmu commented on #14727
@menghaoranss Thank you.

[2022-01-13 05:17] #14727 closed

[2022-01-13 06:40] xsong123 commented on #13853
zookeeper can synchronous refreshMetaData ???

[2022-01-13 06:41] carlyin0801 opened #14731 "Hello, why can't version 5.0.0 support SQL batch insert or update?"
Hello, why can't version 5.0.0 support SQL batch insert or update?

[2022-01-13 06:45] yufan022 commented on #1480
@terrymanu Hi, Is there any progress on `sharding-sidecar`? We are very concerned about this new feature.

[2022-01-13 06:52] xsong123 opened #14732 "how to refreshMetaData"
version:
shardingsphere5.0.0
mysql5.7

procedure:
two app link to the same db, one create table in the db, another query included the table from the db .

error:
java.lang.NullPointerException
at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderValuesCaseSensitiveFromTables(OrderByValue.java:74)
at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderV

[2022-01-13 06:53] xsong123 commented on #14732
old issue #13853

[2022-01-13 07:04] lanchengx commented on #14706
please assign me too

[2022-01-13 07:09] RaigorJiang commented on #14654
Hi @jingshanglu , please help take a look at this question.

[2022-01-13 07:09] lanchengx commented on #14732
For the refresh table metadata statement, please refer to [RAL]( https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/ral/#%E5%85%B6%E4%BB%96) , currently only Proxy supports using DistSQL.

[2022-01-13 07:16] strongduanmu commented on #14731
@carlyin0801 Can you explain this issue in detail?

[2022-01-13 07:27] ReyYang opened #14733 "PostgreSQL 14 bit, varbit, and money data type are abnormal during full migration"
### Which version of ShardingSphere did you use?
master branch
PostgreSQL 14
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Sharding-scaling
### Expected behavior
Migration succeeded
### Actual behavior
PostgreSQL 14 bit, varbit, and money data type are abnormal during full migration
### Reason analyze (If you can)
The Java type detected by the source is inconsistent w

[2022-01-13 07:27] ReyYang commented on #14733
can i take it? thx

[2022-01-13 07:45] hywr opened #14734 "proxy兼容 IDEA DataGrid 数据库编辑器"
目前的版本(5.0.0)，MySql采用idea的数据库编辑器时会有以下两个问题：

1. 不选数据库的情况下无法列出数据库，并报错：[3D000][1046] No database selected.
2. 已选数据库的情况下无法列出表，并报错：[C1997][1997] Runtime exception: [unsupported table: `tables`]
辛苦大佬们改进一波

图:
![alt 未选图片时](https://pic.aaxp.cn/zxs-ks/unselected.png)
![alt 已选图片时](https://pic.aaxp.cn/zxs-ks/selected.png)

[2022-01-13 07:49] carlyin0801 commented on #14731
such as:
INSERT INTO table ( "clo1", "col2", "col3", "col4", "col5" )
VALUES
( 1, 10, NULL, '2021-12-19 13:38:35', 'xxx'),
( 2, 11, NULL, '2021-12-19 15:05:13', 'xxx'),
( 3, 12, NULL, '2021-12-19 15:05:13', 'xxx'),
( 4, 13, NULL, '2021-12-19 15:05:13', 'xxx');

[2022-01-13 08:01] menghaoranss commented on #14732
which mode did you use, `Cluster` or `Standalone`?

[2022-01-13 08:03] menghaoranss commented on #14734
@hywr For English only.

[2022-01-13 08:31] strongduanmu commented on #14731
@carlyin0801 If you have any problem, you can submit a issue according to the bug template.

[2022-01-13 08:33] ReyYang opened #14737 "Scaling consistency check supports PostgreSQL 14 xml data type"
### Which version of ShardingSphere did you use？
master brach
PostgreSQL 14
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Sharding-Scaling
### Expected behavior
Migration succeeded
### Actual behavior
Scaling consistency check does not support PostgreSQL 14 xml data type
### Reason analyze (If you can)
The xml type fails in the final data consistency check because org

[2022-01-13 09:08] taojintianxia opened #14739 "got an exception when use encryt SM4 algorithm"
proxy commit id : 51ec973a056b3414f80b2d207f2236ac184f6a2e

following is the step to reproduce the issue :
1. downlod the shardingsphere code and checkout as the corresponding commit version
2. compile the code and extract proxy distribution
3. use the following config and then start proxy

config-encrypt.yaml
[code]

server.yaml
[code]

and then modify the sysbench oltp_common.lua, change the cre

[2022-01-13 09:23] hywr opened #14740 "'Proxy project' should be compatible with the IDEA database editor and DataGrid"
In the current version (5.0.0), there are two problems when MySQL adopts the idea database editor:

1. It can't list the database without selecting the database, and report the error: [3D000][1046] No database selected.

2. When the selected database is selected, the table cannot be listed and an error is reported: [c1997] [1997] runtime exception: [unsupported table: ` tables']

I'd be happy if t

[2022-01-13 09:26] hywr commented on #14734
Ok,I see.View this Issue #14740 please

[2022-01-13 09:36] wl4g commented on #14450
@zjcnb

[2022-01-13 09:43] hywr opened #14741 "'Proxy project' uses 'READWRITE_SPLITTING' plug-in. The master database shouldn't be used under read-only transactions"
My version is:Sharding Sphere Proxy 5.0.0

Proxy project uses 'READWRITE_SPLITTING' plug-in. Under read-only transactions, the slave database should be used instead of the master database.

[2022-01-13 09:45] TeslaCN commented on #14741
The ShardingSphere-Proxy doesn't support read only transaction yet.

[2022-01-13 09:46] #14734 closed

[2022-01-13 10:10] zjcnb commented on #14450
Ok, let us see.

[2022-01-13 10:11] newchendb opened #14744 "[shardingsphere-proxy] . The property set in server.yaml is inconsistent with the mysql variable query"
shardingsphere-proxy version is 5.1.1。
server.yaml：
[code]

But the query “show variable transaction_type” result is “LOCAL”。

What is the reason for this？

[2022-01-13 10:21] dachuan9e commented on #14724
Hi. How do you use the SkyWalking and it's jars? Please make sure  configure SkyWalking

[2022-01-13 10:32] #14739 closed

[2022-01-13 11:52] jingshanglu commented on #14654
@kangshiwei Can you show a demo？

[2022-01-13 13:43] xsong123 commented on #14732
it's Cluster.
different apps access to the same db, when one app create a table ,another app cannot get the table's metadata.

[2022-01-13 13:59] zjcnb commented on #14744
@newchendb Hi , thank you for your feedback, your `ShardingSphere-Proxy` are `5.1.1` version? I think this version are not exist. Can you confirm it? By the way, I use XA and Standalone mode is ok in master branch. I will check BASE.

[2022-01-13 15:36] terrymanu commented on #14637
I just set the issue as `invalid` because of it closed by author without any reason.

[2022-01-13 15:37] terrymanu commented on #14666
I just set the issue as `invalid` because of it closed by author without any reason.

[2022-01-13 15:42] terrymanu commented on #14740
Is ShardingSphere-Proxy throw exception? Or could you provide the debug level log here?

[2022-01-13 15:42] terrymanu commented on #14740
Maybe need to capture MySQL packet and analyze the SQL to debug the problem.

[2022-01-14 01:20] newchendb commented on #14744
@zjcnb Hi，My packaged branch is 5.1.0-release，Packaging result display 5.1.1-SNAPSHOT 。

[2022-01-14 01:38] hywr commented on #14740
Here are two files, one is the packets when the database is not selected, and the other is the packets when the database is selected, as follows:

[unselected.log](https://github.com/apache/shardingsphere/files/7867029/unselected.log)

[selected.log](https://github.com/apache/shardingsphere/files/7867030/selected.log)

[2022-01-14 02:16] hesixian123 opened #14755 "It is recommended to improve the configuration item document"
In the process of using, I found that many configuration items are not explained in detailed documents, especially between versions. Configuration items vary greatly, and there are no detailed configuration documents, which is very inconvenient to use. I hope the developer team can improve the document. This is a good project. Thank you.

[2022-01-14 03:04] CrackerSuperior commented on #14755
Can you be more specific? For example, the configuration you most want to know now.

[2022-01-14 03:24] kangshiwei commented on #14654
![Uploading 企业微信截图_16421304638149.png…]()
![Uploading 企业微信截图_16421306201693.png…]()

[2022-01-14 03:26] CrackerSuperior commented on #14740
@hywr If it doesn't work, make sure to use the following configuration:
![image](https://user-images.githubusercontent.com/45088781/149446306-e759fcad-8c32-47f2-8797-a770d3e27efa.png)
![image](https://user-images.githubusercontent.com/45088781/149446468-bf4ab325-e730-408b-a17c-0abe877ad3a3.png)
![image](https://user-images.githubusercontent.com/45088781/149446397-bcf059d1-2703-4d23-84c8-d99af48696

[2022-01-14 03:28] kangshiwei commented on #14654
<img width="818" alt="企业微信截图_16421304638149" src="https://user-images.githubusercontent.com/25686458/149446512-e21a97cb-3d84-476d-885e-40743c2440bf.png">
<img width="1034" alt="企业微信截图_16421306201693" src="https://user-images.githubusercontent.com/25686458/149446545-96d33c19-ccdf-49fd-a67c-3ffc3385ed9b.png">
[Sharding-Jdbc-Simple-5.0.zip](https://github.com/apache/shardingsphere/files/7867626/Shard

[2022-01-14 03:39] uestcwsy commented on #8621
Do you define a table in the entity class or mybatis mapper? Remember to remove the complete definition and make a mapping

[2022-01-14 06:41] lizhuquan0769 commented on #11616
I have the same problem, is there a solution?

[2022-01-14 07:25] tuichenchuxin commented on #14015
Recently we extracted some unsupported sql from the official test set of mysql and postgresql to[ this file](https://github.com/apache/shardingsphere/blob/master/shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/unsupported/unsupported.xml)
If these unsupported sql can be resolved, then our parsing support (MySQL/PostgreSql) will reach 100%.

[2022-01-14 07:31] zjcnb commented on #14744
@newchendb Can you try it with `master` branch? The 5.1.0-release unavailable now.

[2022-01-14 07:43] menghaoranss commented on #14254
@Ahoo-Wang the back-end storage of machine id is based on mode of ShardingSphere, therefore cosid does not need to care about storage, I will pass the `WorkerIdGenerator` to the cosid algorithm, and you can get worker id (machine id) through the interface.

[2022-01-14 07:43] wl4g commented on #14724
NoClassDefFoundError: io/opentracing/ActiveSpan, the opentracing version that skywalking depends on conflicts! This has nothing to do with configuration, oh my god. . .

[2022-01-14 07:47] wl4g commented on #14724
shardingproxy:5.1.0 -> opentracing:0.31.0  (No class is `io.opentracing.ActiveSpan`)
latest skywalking:8.8.0 -> opentracing:0.30.0  (Has class is `io.opentracing.ActiveSpan`)

I just want to know how did you guys pass the test?

[2022-01-14 07:57] Ahoo-Wang commented on #14254
@menghaoranss That's a good idea.

[2022-01-14 08:15] newchendb commented on #14744
I will try it with master branch

[2022-01-14 08:30] #14733 closed

[2022-01-14 08:36] ReyYang opened #14769 "An error is reported when PostgreSQL money type queries large numbers"
### Which version of ShardingSphere did you use?
master branch
PostgreSQL 14
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
return correct result
### Actual behavior
return error
### Reason analyze (If you can)
The money field in PostgreSQL is detected with ’ , ‘
### Steps to reproduce the behavior, such as: SQL to execute, sh

[2022-01-14 08:43] ReyYang commented on #14769
Using psql query returns normal
[code]

[2022-01-14 08:54] RaigorJiang opened #14770 "Add properties for transaction rule."
For #14508,

- [x] Add properties to the following classes
      - YamlTransactionRuleConfiguration
      - TransactionRuleConfiguration
      - TransactionRule
- [ ] Update DistSQL `SHOW TRANSACTION RULE`
- [x] Add a new DistSQL syntax to alter transaction rule dynamically

[2022-01-14 08:56] strongduanmu opened #14771 "Optimize routing results returned by using preview federation query statement"
Currently, when using the preview statement to view the routing results of the federation statement, it does not return the actual statement executed.

For example, if the following statement is executed, the sql that is actually executed is not `t_order` and `t_order_item`, but an actual table.

[code]
The correct result should be:

[code]

[2022-01-14 09:02] LittlePluumLYY opened #14773 "subquery as column Bug"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-14 09:19] cicscpmi opened #14774 "shardingsphere-jdbc connect oracle"
## Bug Report
I use shardingsphere-jdbc to connect oracle,With ojdbc7.jar;
use YAML config like:
dataSources:
  unique_ds:
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
    driverClassName: oracle.jdbc.OracleDriver
    jdbcUrl: jdbc:oracle:thin:@127.0.0.1:1521/helowin
    username: test
    password: test

2022-01-14 17:15:28,479 --main-- [com.zaxxer.hikari.HikariDataSource] HikariPo

[2022-01-14 09:45] strongduanmu opened #14777 "Consider support CLASS_BASED sharding algorithm custom property"
When I am implementing a custom sharding algorithm using the `CLASS_BASED` sharding algorithm, additional attribute definitions cannot be made.

[code]

For example, in the CustomShardingAlgorithm algorithm, I want to specify the number of shards through a custom attribute such as `sharding-count`, but the current logic cannot obtain the `sharding-count` attribute from the props attribute, because

[2022-01-14 10:03] tuichenchuxin commented on #14670
@ziliangzeng Yes, I have reproduced it.
Since the parameter is `InputStream` ,So It can only be cosume once. Then broadcast will not work as expected.
Config may not work.
We'll try to figure out how to solve it.

[2022-01-14 10:05] sandynz commented on #14576
Any of them could solve this issue as a workaround out of code:

1, `sudo vi /etc/hosts`, bind local host name and ip, e.g.
[code]

2, Start proxy with JVM option: `-Djava.net.preferIPv4Stack=true`

[2022-01-14 10:20] hywr commented on #14740
Thank you. It's useful

[2022-01-14 11:05] #14774 closed

[2022-01-14 11:24] TeslaCN commented on #14650
Hi @userkdg
Any update here?

[2022-01-14 11:59] #10814 closed

[2022-01-14 12:01] #14777 closed

[2022-01-14 12:05] jingshanglu commented on #14654
What log in the picture above?  the following picture is just the log of shardingsphere,  you can check it through debug tracking.

[2022-01-14 14:50] terrymanu commented on #14774
I just set it as invalid because of no reason to close it

[2022-01-14 17:33] terrymanu opened #14795 "Add test case for DataSourcePoolMetaDataFactory"

[2022-01-15 05:24] sandynz commented on #13069
I've communicated with xiaohuihui123321 on WeChat before, he said he is busy recently. So I tried to invite imchao9 who is community new coming contributor, but no luck.

Maybe it's too complex for new coming contributor, it has several screen pages description.

@linghengqian Could you help to simplify the feature request description? e.g.
- Remove the old issue related workaround, it has been fi

[2022-01-15 06:40] TeslaCN opened #14796 "ShardingSphere-Proxy empty rule with multiple DataSources cause some problems"
## Bug Report

### Which version of ShardingSphere did you use?
master - 1c844923a9f1da68f8d06934e3ee325f06717bc3

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
I think it's better to forbid configuring multiple DataSources under empty rule schema.

### Actual behavior

[code]

### Reason analyze (If you can)
![image](https:

[2022-01-15 11:37] #14737 closed

[2022-01-15 13:03] linghengqian commented on #13069
@sandynz I tried to make a description of the issue. But to explain why I can do this, I think maybe I should keep the original part of the `test()` function better?

[2022-01-15 14:58] homeway88 commented on #14726
I am going to do these tasks, can you assign it to me ? @strongduanmu

[2022-01-15 23:49] strongduanmu commented on #14726
@homeway88 Welcome, I will assign this issue to you.

[2022-01-16 03:19] sandynz commented on #13069
Hi @linghengqian , that's OK, thanks.

[2022-01-16 03:32] strongduanmu commented on #14796
@TeslaCN The problem was due to a typo, the table name in the statement was misspelled.

[2022-01-16 08:08] RaigorJiang opened #14805 "Add test case for ShowAuthorityRuleExecutor"
### Background
ShowAuthorityRuleExecutor is the executor for DistSQL `SHOW AUTHORITY RULE`.
Document: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/

### How to
Refer to the test case for `ShowTransactionRuleExecutor `: [ShowTransactionRuleExecutorTest](https://github.com/apache/shardingsphere/blob/master/shardingsphere-proxy/shardingsphe

[2022-01-16 08:12] RaigorJiang opened #14806 "Add test case for ShowSQLParserRuleExecutor"
### Background
ShowAuthorityRuleExecutor is the executor for DistSQL `SHOW SQL_PARSER RULE`.
Document: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/

### How to
Refer to the test case for `ShowTransactionRuleExecutor` : [ShowTransactionRuleExecutorTest](https://github.com/apache/shardingsphere/blob/master/shardingsphere-proxy/shardingsph

[2022-01-16 08:49] RaigorJiang opened #14807 "Add new DistSQL to export schema configuration"
Hi community,

starting from version 5.0.0, DistSQL provides many syntaxes to help users query resources and rule configuration, such as

- SHOW SCHEMA RESOURCES
- SHOW SHARDING TABLE RULES
- SHOW SHARDING ALGORITHMS
- SHOW READWRITE_SPLITTING RULES
- ...

However, if a user wants to obtain the complete configuration of a schema through DistSQL, it will be more difficult.

On the other hand, there

[2022-01-16 08:55] RaigorJiang commented on #14740
There are instructions in the [FAQ](https://shardingsphere.apache.org/document/current/en/reference/faq/#proxy-how-to-use-a-suitable-database-tools-connecting-shardingsphere-proxy).
As the issue is resolved, I will close it.

[2022-01-16 08:55] #14740 closed

[2022-01-16 10:00] totalo commented on #14807
Maybe add a type? For example, sharding, readwrite-splitting...

[2022-01-16 10:20] TeslaCN commented on #14796
Thanks, it's my fault.

[2022-01-16 10:20] #14796 closed

[2022-01-16 12:29] yx9o commented on #14807
I want to try.

[2022-01-16 13:11] zjcnb opened #14810 "Consider add check not allow repeat disable same instance."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Not allow repeat disable same instance.

### Actual behavior

Allow repeat disable same instance.

When i disable same instance. The attributes/192.168.0.102@port/status are not right.

![111611642337912_ pic](https:

[2022-01-16 14:16] #14810 closed

[2022-01-16 14:20] RaigorJiang commented on #14807
Hi @totalo , Thanks for your suggestion, what is the effect?  Export only one rule's configuration?

[2022-01-16 14:22] RaigorJiang commented on #14807
Hi @yx9o ,
Thanks for your attention, this issue may need more discussion, but you can do research first.

[2022-01-16 14:35] totalo commented on #14807
Yes. I think it might be possible to make an optional? If I configure too many rules, I just want to check one of my rule configuration.

[2022-01-16 14:40] RaigorJiang commented on #14807
It can be considered, but the syntax and keywords will not be easy to define. （configuration includes resources and rules）.

[2022-01-16 15:12] totalo commented on #14807
How about `EXPORT SCHEMA typeOption? CONIFG`, we can use `ctx.typeOption.getText()` to get the type.

[2022-01-16 15:16] #14707 closed

[2022-01-16 15:23] RaigorJiang commented on #14807
If it's just sharding, then `RULE` is more suitable than `CONFIG`.
But again this would be very similar to `SHOW SHARDING TABLE RULE`.

I think `SCHEMA CONFIG` must includes all RESOURCES and RULES,
If you want to expand optionals, then `EXPORT SHARDING TABLE RULE` would be more accurate.

[2022-01-16 15:27] #14313 closed

[2022-01-16 16:55] terrymanu opened #14814 "Optimize query result of `SHOW SCHEMA RESOURCES`"
The current query result of `SHOW SCHEMA RESOURCES` is not good enough.

It can not display the stable results if mix deploy with  JDBC and Proxy.

When Proxy startup first, the result will display standard properties and customPoolProps in `attribute` fields; but if JDBC startup first, the result will display all properties of data source in `attribute` fields.

We need to optimize query result a

[2022-01-17 00:41] kangshiwei commented on #14654
The log in the first image is a debug log printed using the XA transaction type in ShardingSphere-4.1.0
The log in the second image is a debug log printed using the XA transaction type in ShardingSphere-5.0.0

[2022-01-17 00:50] #14726 closed

[2022-01-17 01:43] tuichenchuxin commented on #14728
You can try `show tables`;

[2022-01-17 01:46] tuichenchuxin commented on #14705
Maybe `bindTables` can help.
https://shardingsphere.apache.org/document/current/en/features/sharding/concept/table/#binding-table

[2022-01-17 02:12] yx9o commented on #14807
`EXPORT SCHEMA CONIFG, file="/Users/foo/config-sharding.yaml"` Does this case include printing.

[2022-01-17 02:24] RaigorJiang commented on #14807
I don't think it's needed, just return the operation success?

[2022-01-17 02:38] peilinqian opened #14815 "the ss-proxy supports only the error-level error information of the OpenGauss. The notice-level and warning-level prompt information is not adapted."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-17 02:49] TeslaCN commented on #12245
Hi @ccMoriarty
Any update here?

[2022-01-17 02:53] peilinqian opened #14816 "the documents of the XA Narayana transaction type, including compilation, packaging, and usage, are not covered."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-17 02:56] dachuan9e commented on #14724
ShardingSphere doesn't depend on the code of SkyWalking. If you want to use skywalking opentracing you need to update to 0.31.0.

[2022-01-17 03:19] #14770 closed

[2022-01-17 03:30] Comven commented on #13946
When is an optimized version for this problem expected to be released?

[2022-01-17 04:25] linghengqian commented on #14702
I tried hosting 1800+ tables and at least the data sharding function was fine.

[2022-01-17 05:26] totalo commented on #14807
All right!

[2022-01-17 06:13] ziliangzeng commented on #14670
@tuichenchuxin ok, look forward to good news.

[2022-01-17 06:29] tuichenchuxin commented on #14773
I want to investigate this issue.

[2022-01-17 07:26] tuichenchuxin commented on #14773
Can you show me a demo to try or give me your config.
I can't reproduce it.

[2022-01-17 07:29] userkdg commented on #14816
shardingsphere using spi classloader, you need copy ```Narayana|Bitronix``` jars to proxy ``` ext-lib/ ```

[2022-01-17 07:38] userkdg opened #14826 "app using xa [atomikos] transaction, throw Occasional error"
### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
no Occasional error

how to choose xa manager , which is release ? Atomikos 、Bitronix 、Narayana

### Actual behavior
Occasional on app
eg:
- error1: atomikos occasional eslint error.
![image](https://user-images.githubusercontent.com/21057

[2022-01-17 07:39] tuichenchuxin commented on #14686
I want to investigate this issue.

[2022-01-17 08:25] strongduanmu opened #14827 "Add setFetchSize logic for JDBC adaptor when use stream query"
When I investigate stream resultset not close exception in PR#14822, I found that this exception did not occur in JDBC adaptor, and Proxy adaptor had an exception that the streaming result set was not closed.

It can be found from source code that in Proxy adaptor, we implement the setting of the fetchSize parameter through the `StatementMemoryStrictlyFetchSizeSetter` SPI to implement streaming qu

[2022-01-17 08:27] zjcnb opened #14828 "Maybe load TableMetaData are some problems."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

Load all tables and persist zookeeper.

### Actual behavior

I have five tables, but only load three tables.

### Reason analyze (If you can)

![image](https://user-images.githubusercontent.com/33742097/149733494-a6b7

[2022-01-17 08:31] RaigorJiang opened #14830 "Refactor DistSQL keyword `GENERATED_KEY` to `KEY_GENERATE_STRATEGY`"
Hi community,

Currently, the way to configure the `key generate strategy` in DistSQL is different from the Java API and YAML:
- In the [Java API](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/java-api/rules/sharding/#sharding-table-configuration), use `setKeyGenerateStrategy()`;
- In [YAML](https://shardingsphere.apache.org/document/current/en/user-manual/s

[2022-01-17 08:33] tuichenchuxin commented on #14828
I want to investigate this issue.

[2022-01-17 09:44] tuichenchuxin commented on #14828
Because of this cofig `actual-data-nodes: ds0.user$->{20210107..20230117}`
So when loading table about user, SchemaLoader will just load for table `user20210107` but this table is not exist.

[2022-01-17 10:47] menghaoranss opened #14835 "Add test case for ComputeNodePersistService"

[2022-01-17 11:27] xsong123 commented on #14077
now all examples are INLINE, how to set complex algorithm?

  shardingAlgorithms:
    database_inline:
      type: INLINE
      props:
        algorithm-expression: ds_0
    table_inline:
      type: INLINE
      props:
        algorithm-expression: sbtest${order_id % 2}

[2022-01-17 11:30] xsong123 opened #14838 "how to set complex algorithm"
shardingsphere version 5.0.0
how to set complex algorithm for shardingtable in yaml?

[2022-01-17 11:33] RaigorJiang commented on #14077
@xsong123
Please refer to:
https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/resources/yaml/sharding-rule.yaml

[2022-01-17 11:41] zjcnb commented on #14828
Got it, thx.

[2022-01-17 11:42] #14828 closed

[2022-01-17 11:52] soulasuna opened #14840 "PostgreSQL integration test error case tbl and empty_rules"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-17 14:43] yx9o commented on #14830
I want to try.

[2022-01-17 14:53] RaigorJiang commented on #14830
@yx9o Thank you!

[2022-01-17 14:56] RaigorJiang commented on #14838
@xsong123
Please refer to:
https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/resources/yaml/sharding-rule.yaml

[2022-01-18 00:27] strongduanmu commented on #14840
Yes, I think so too, in fact it is still data sharding scenarios.

[2022-01-18 01:48] agzou opened #14844 "why MetaDataContexts.getLock() always return Optional.empty() ?"
why MetaDataContexts.getLock() always return Optional.empty() ?

https://github.com/apache/shardingsphere/blob/5.0.0/shardingsphere-mode/shardingsphere-mode-core/src/main/java/org/apache/shardingsphere/mode/metadata/MetaDataContexts.java

[2022-01-18 02:17] art-yang commented on #14835
I want to try.

[2022-01-18 02:19] strongduanmu commented on #14835
@art-yang Welcome, I will assign this issue to you.

[2022-01-18 02:27] wl4g opened #14845 "In 5.1.0, how to exclude tables that do not require fragmentation and read-write separation? Are there any cases? Removed defaultDataSource property for 4.x?"
In `shardingsphere-proxy:5.1.0`, how to exclude tables that do not require fragmentation and read-write separation? Are there any cases? Removed `defaultDataSource` property for `4.x`?

[2022-01-18 03:03] newchendb commented on #14744
@zjcnb It is strange that the modification of the configuration file does not take effect.Have you ever encountered this situation in agent mode.

[2022-01-18 03:15] newchendb commented on #14744
shardingsphere-5.0.0-beta is relatively normal, and higher versions always encounter various strange problems.

[2022-01-18 03:16] zjcnb commented on #14744
[code]

Change overwrite is true and try it again.

[2022-01-18 03:31] newchendb commented on #14744
@zjcnb Thank you. The problem that the configuration does not take effect has been solved.

[code]
Another problem is to help you look at the configured BASE transaction, but the following error is reported.
[code]

[2022-01-18 04:09] zjcnb commented on #14744
`shardingsphere-proxy-bootstrap pom.xml` add dependency.
[code]

[2022-01-18 05:45] RaigorJiang commented on #14845
Hi @wl4g
If some tables do not need sharding, so they do not need to be configured and will be recognized as single table.
https://shardingsphere.apache.org/document/current/en/features/sharding/concept/table/#single-table

`defaultDataSource` is removed in 5.x

[2022-01-18 05:49] tuichenchuxin commented on #14769
I want to investigate this issue.

[2022-01-18 06:44] xiaowu5759 opened #14854 "java.time.LocalDateTime cannot be cast to java.sql.Timestamp"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-18 06:45] tuichenchuxin commented on #14769
@ReyYang I found this issue is because of postgresql jdbc bug.
Avoid to use money type. And postgresql jdbc seems no plan to fix this.
refer to [this](https://github.com/pgjdbc/pgjdbc/issues/1835)

[2022-01-18 06:51] tuichenchuxin commented on #14633
I want to investigate this issue.

[2022-01-18 06:58] zjcnb opened #14855 "Readwrite-splitting weight loadbalance throws IndexOutOfBoundsException when disable one data source."
## Bug Report

### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

disable read_ds_0, read_ds_1 data source can normal operation.

### Actual behavior

[code]

### Configuration

[code]

[2022-01-18 07:17] wl4g commented on #14845
Ok, The experiment was successful, thank you very much!

[2022-01-18 07:18] wl4g commented on #14845
[code]

[2022-01-18 07:22] tuyendev opened #14858 "read-write-splitting with spring boot and jpa never reach to read-datasource"
### Which version of ShardingSphere did you use?

- **5.0.0**

### Which project did you use?

- **ShardingSphere-JDBC**

### Expected behavior
- Read behavior never swith to slave datasources even ROUND_ROBIN or RANDOM
### Actual behavior
- Read behavior CAN NOT reach to read datasources (slave)
`SQLStatement: MySQLSelectStatement(limit=Optional.empty, lock=Optional.empty, window=Optional.empty)`

[2022-01-18 07:30] #14845 closed

[2022-01-18 08:17] zjcnb commented on #14858
@tuyendev Thanks for your feedback. I will adjust readwrite-splitting configuration and check your question.

[2022-01-18 08:34] tuyendev commented on #14858
@zjcnb I don't think your configuration is wrong.
I found a weird behaviour ( not sure about that  ) in **ReadwriteSplittingDataSourceRouter.java**

`    private boolean isPrimaryRoute(final SQLStatement sqlStatement) {
        return containsLockSegment(sqlStatement) || !(sqlStatement instanceof SelectStatement) || HintManager.isWriteRouteOnly() || TransactionHolder.isTransaction();
    }`

The *

[2022-01-18 08:44] tuyendev commented on #14858
@zjcnb I don't think your configuration is wrong.

Please check my update

[2022-01-18 08:46] zjcnb commented on #14858
OK, I will check.

[2022-01-18 09:11] RaigorJiang opened #14862 "NPE occurred when none of the global rules are configured in server.yaml."
## Bug Report
### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Description
I know we have default global rule builders, so I try to not configure any rule in server.yaml and start Proxy:
[code]
But NPE happens in ProxyConfigurationLoader :
\
![image](https://user-imag

[2022-01-18 09:22] menghaoranss opened #14863 "The disabled read datasources will be available after alter rule or data source"
## Bug Report

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The disabled read datasources  remain inaccessible after alter rule or data source

### Actual behavior

available after alter rule or data source

### Reason analyze (If you can)

After refreshing the rul

[2022-01-18 09:36] Liangda-w commented on #14806
Hi, I would like to take this issue:)

[2022-01-18 09:40] RaigorJiang commented on #14806
Hi @Liangda-w , welcome!

[2022-01-18 10:19] zjcnb commented on #14858
@tuyendev Hi, this reason is `processSuccess()` method add @Transactional annotation. the autoCommit set as false.  Maybe this readwrite-splitting example are some problem, the insert and query should be separated and not in a transaction.

[2022-01-18 11:06] tuyendev commented on #14858
Agreed @zjcnb . Should I report this issue as bug or waiting for the your example.

[2022-01-18 11:10] zjcnb commented on #14858
I will tell you if this issue are fixed，If you interest of this，you can resolve it too.

发自我的iPhone

------------------ Original ------------------
From: Tea ***@***.***&gt;
Date: Tue,Jan 18,2022 7:06 PM
To: apache/shardingsphere ***@***.***&gt;
Cc: zhaojinchao ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/shardingsphere] read-write-splitting with spring boot andjpa never reach to

[2022-01-18 11:12] tuyendev commented on #14858
@zjcnb thank you. I will try to fix the issue

[2022-01-18 11:41] zjcnb commented on #14858
I will create a new issue and then you claim it.

[2022-01-18 11:49] zjcnb opened #14868 "[ Example ] Readwrite-splitting example not route read data source."
Hi community,

refer to: #14858

[code]

Insert and query should split when use readwrite-splitting feature. Because insert and query in a transaction, lead to read always request write data source.

[2022-01-18 11:50] zjcnb commented on #14868
@tuyendev Can you solve it?

[2022-01-18 12:09] sandynz commented on #14633
Hi @tuichenchuxin , I used `TableMetaDataLoader.load` before, there's other issue, e.g. #14415

[2022-01-18 15:26] RaigorJiang commented on #14844
This method is not currently used, it should be a reserved interface.

[2022-01-18 15:27] RaigorJiang commented on #14854
What is your version of MySQL server?

[2022-01-19 00:13] wu-sheng commented on #13764
Project open sourced here, https://github.com/SphereEx/CyborgFlow
A CN blog posted, https://skywalking.apache.org/zh/2022-01-18-cyborg-flow/

If anyone needs this blog in English, please let us know, we are glad to translate. Generally, this feature is requested in China community.

[2022-01-19 00:13] #13764 closed

[2022-01-19 01:07] xiaowu5759 commented on #14854
mysql version is 8.0.26

[2022-01-19 01:14] #14862 closed

[2022-01-19 01:28] #14863 closed

[2022-01-19 02:55] sandynz opened #14878 "Download springframework from maven repository might cost several minutes in GitHub CI maven building"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
On build phase, no matter JDBC or Proxy.

### Expected behavior
Pick spring dependency from maven center quickly.

### Actual behavior
It might cost several minutes to decide which spring version to be used.

From my forked ShardingSphere GitHub

[2022-01-19 03:21] #14855 closed

[2022-01-19 03:39] RaigorJiang commented on #14854
Maybe @strongduanmu can help us to check it.

[2022-01-19 03:46] RaigorJiang opened #14881 "NPE occurred when no provider configured in authority rule."
## Bug Report

### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT master branch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Description
Start the Proxy with the following authority rule configuration
[code]
Then NPE occurred in ShardingSphereAlgorithmFactory :
[code]

[2022-01-19 04:01] #14840 closed

[2022-01-19 05:15] wsm12138 opened #14885 "Use PostgreSQL(AGE) as DataSource. ShardingSphere-Proxy can’t work normal as a PostgreSQL."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-19 06:12] wl4g opened #14888 "What are the hard advantages of shardingsphere vs tidb ? Why choose `shardingsphere` if I can use `tidb`"
What are the hard advantages of `shardingsphere` vs [tidb](https://docs.pingcap.com/zh/tidb/v4.0/) ? Why choose `shardingsphere` if I can use [tidb](https://docs.pingcap.com/zh/tidb/v4.0/)

[2022-01-19 06:15] #14885 closed

[2022-01-19 07:14] newchendb commented on #14744
thank you

[2022-01-19 07:14] #14744 closed

[2022-01-19 07:19] wyxabd opened #14894 "sharing-proxy 中文问号"
当数据库内容为中文时 或者sql中带有中文时显示问号

[2022-01-19 07:23] CrackerSuperior commented on #14894
Can you show me your config-*.yaml configuration?

[2022-01-19 07:37] #14010 closed

[2022-01-19 07:55] wyxabd commented on #14894
At 2022-01-19 15:23:59, "CrackerSuperior" ***@***.***> wrote:

Can you show me your config-*.yaml configuration?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-01-19 07:58] RaigorJiang commented on #14814
I want help to optimize the class `DataSourceQueryResultSet`.

[2022-01-19 08:10] terrymanu commented on #14814
Great

[2022-01-19 08:11] terrymanu commented on #14894
**For English only**, other languages will not accept.

[2022-01-19 08:11] #14894 closed

[2022-01-19 08:26] terrymanu commented on #14888
ShardingSphere is for database plus, not a database. It focus on enhancement of original databases.

[2022-01-19 08:35] #12964 closed

[2022-01-19 08:47] TeslaCN opened #14899 "Cover more data types in ShardingSphere-Proxy integration tests"
## Feature Request of Integration Tests

### Describe the feature you would like.

There are only a few data types used in ShardingSphere-Proxy integration tests. We may need to cover more data types.

Documents about data types:
- https://dev.mysql.com/doc/refman/8.0/en/data-types.html
- https://www.postgresql.org/docs/current/datatype.html

[2022-01-19 08:48] soulasuna commented on #14899
I will do.

[2022-01-19 08:48] #14881 closed

[2022-01-19 08:49] TeslaCN commented on #14899
@soulasuna Thank you. Assigned.

[2022-01-19 08:52] sandynz commented on #14878
Check it later after self-hosted runners are ready in GitHub actions.

[2022-01-19 08:56] LeeGuoPing commented on #14805
I want to do it

[2022-01-19 08:56] LeeGuoPing commented on #14795
I want to do it

[2022-01-19 08:58] strongduanmu commented on #14854
@xiaowu5759 Hi, can you try the master branch? I think this bug has been fixed.

[2022-01-19 09:37] RaigorJiang commented on #14805
@LeeGuoPing  Welcome!

[2022-01-19 11:21] strongduanmu opened #14908 "Add more unit test for EncryptSQLRewriteContextDecorator"
Hi, community:

This issue is to add more unit tests for the EncryptSQLRewriteContextDecorator class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for EncryptSQLRewriteContextDecorator#decorate
- [ ] Add unit test for EncryptSQLRewriteContextDecorator#getOrder
- [ ] Add unit test for EncryptSQLRewriteContextDecorator#getTypeClass

[2022-01-19 11:25] strongduanmu opened #14909 "Add more unit test for EncryptParameterRewriterBuilder"
Hi, community:

This issue is to add more unit tests for the EncryptParameterRewriterBuilder class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for EncryptParameterRewriterBuilder#getParameterRewriters

[2022-01-19 11:29] strongduanmu opened #14910 "Add more unit test for EncryptTokenGenerateBuilder"
Hi, community:

This issue is to add more unit tests for the EncryptTokenGenerateBuilder class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for EncryptTokenGenerateBuilder#getSQLTokenGenerators

[2022-01-19 11:31] strongduanmu opened #14911 "Add more unit test for ShardingTokenGenerateBuilder"
Hi, community:

This issue is to add more unit tests for the ShardingTokenGenerateBuilder class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for ShardingTokenGenerateBuilder#getSQLTokenGenerators

[2022-01-19 11:33] strongduanmu opened #14912 "Add more unit test for SQLTokenGenerators"
Hi, community:

This issue is to add more unit tests for the SQLTokenGenerators class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for SQLTokenGenerators#addAll
- [ ] Add unit test for SQLTokenGenerators#generateSQLTokens

[2022-01-19 11:34] strongduanmu opened #14913 "Add more unit test for DefaultTokenGeneratorBuilder"
Hi, community:

This issue is to add more unit tests for the DefaultTokenGeneratorBuilder class. Welcome to claim them.

The specific subtasks are as follows:

- [ ] Add unit test for DefaultTokenGeneratorBuilder#getSQLTokenGenerators

[2022-01-19 11:41] LeeGuoPing commented on #14908
May I have a try

[2022-01-19 11:41] LeeGuoPing commented on #14911
May I have a try

[2022-01-19 11:42] strongduanmu commented on #14908
Welcome @LeeGuoPing, I just assign this issue to you.

[2022-01-19 11:43] strongduanmu commented on #14911
@LeeGuoPing Welcome.

[2022-01-19 12:20] jiangtao69039 commented on #14211
hi, Does this issue have any results? or it's not a bug?

[2022-01-19 12:24] zjcnb opened #14916 "Example are failed, such as ShardingSpringBootMybatisExample."
`master`

[code]

[2022-01-19 12:27] zjcnb commented on #14916
@totalo Please help with this issue.

[2022-01-19 12:39] totalo commented on #14916
ok, i will check.

[2022-01-19 13:58] xiaowu5759 commented on #14854
I just used the latest version in Maven. ther master branch how to try

[code]

[2022-01-19 16:44] terrymanu opened #14923 "merge getRenameTemplate and getUnReNameTemplate in ExampleTemplateFactory"

[2022-01-19 16:46] terrymanu opened #14924 "Support multiple features and frameworks in data-model.yaml"

[2022-01-19 16:50] terrymanu opened #14925 "Adjust sample module names"
The current sample module have deep hierarchy and the name is not make sense.

It is better to move them as flat hierarchy and rename follow by:

[code]

for example:

[code]

[2022-01-20 00:26] strongduanmu commented on #14854
@xiaowu5759 You can download here——http://117.48.121.24:8080/JDBC/.

[2022-01-20 00:38] #14805 closed

[2022-01-20 00:47] strongduanmu commented on #14622
@cicscpmi Sorry for later reply. Even we add this check logic for expression which contains encrypt column, but the result is still not correct, because we can't distinguish encrypt value from expression value.

[2022-01-20 02:11] #14923 closed

[2022-01-20 02:47] tuichenchuxin commented on #14211
@jiangtao69039 It's a bug, I'll solve this issue, recently.

[2022-01-20 03:46] NOLouser commented on #14913
Maybe I can try.

[2022-01-20 03:53] jiangtao69039 opened #14935 "Official documentation webpage contains some error links"
## Bug Report

the documentation page contains error link, it will rediect to 404 page when click.  [Here is error page](https://shardingsphere.apache.org/document/5.1.0/cn/user-manual/shardingsphere-jdbc/yaml-config/)

If the click on the left nav bar is correct.

![sss22](https://user-images.githubusercontent.com/20572131/150270295-6ba5f1a1-fa51-4635-8ab0-1f15614474b2.png)

[2022-01-20 04:07] strongduanmu commented on #14913
@NOLouser Welcome, I will assign this issue to you.

[2022-01-20 04:28] menghaoranss commented on #14935
@jiangtao69039 thanks for you feedback, I will fix ASAP.

[2022-01-20 04:31] #14935 closed

[2022-01-20 05:42] #14706 closed

[2022-01-20 05:44] jingshanglu commented on #14741
@hywr when use read-only transaction, why route to master database?

[2022-01-20 05:49] totalo commented on #14916
The error is caused by the recent api adjustment but the sample code has not been adjusted. After discussion, we will put the generated source code into the generated folder, and then deal with it uniformly.

[2022-01-20 07:24] justbk2015 opened #14941 "proxy can not run where java11 configed. please adapt it!"
## Feature Request

**For English only**, other languages will not accept.
 java8 run ss-proxy is OK, but java11 raise Exception:

_OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a futu release.
**Unrecognized VM option 'UseFastAccessorMethods'**
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has o

[2022-01-20 08:44] yage-czy commented on #970
问题在于：第一，sharding的官网明确说明了【适用于任何基于 JDBC 的 ORM 框架，如：JPA, Hibernate, Mybatis, Spring JDBC Template 或直接使用 JDBC。】其中jpa排在首位，而jpa的save方法是使用率极高的。所以此处你说“we don't care the SQL that hibernate auto generated”我认为有些不妥。
第二，sharding的目的在于实现分库分表，使项目在大数据场景下效率更好，而此处调用save方法却会遍历所有的库进行操作，对于性能肯定是有影响的。
第三，遍历所有的库进行save操作，难道不会产生脏数据吗？

[2022-01-20 09:02] maxiaof commented on #14463
I tried to upgrade the Oracle driver to solve this problem
[code]
Change to
[code]

[2022-01-20 09:07] menghaoranss opened #14945 "Exception occurred when starting with Memory mode"
Configurations in `server.yaml`:

[code]

Exception log:
[code]

[2022-01-20 10:48] yage-czy opened #14949 "how to use CrudRepository.save of jpa？i dont want my sql route to all data node"
hello, my project use jpa + shardingjdbc
when i use CrudRepository.save to save my data to database，jpa auto generated sql like
`update table_a set field_a = 1 , field_ab = 2 where id = 3`
but my sharding-key is another field "dealership_id"。So my sql execute route to all data node.
I would like to ask, is there any way to deal with this situation?

[2022-01-20 11:02] menghaoranss opened #14952 "Add unit test for ModeConfigurationYamlSwapper"

[2022-01-20 11:03] menghaoranss opened #14953 "Add unit test for PersistRepositoryConfigurationYamlSwapperEngine"

[2022-01-20 11:04] menghaoranss opened #14954 "Add unit test for YamlDataSourceConfigurationSwapper"

[2022-01-20 11:47] menghaoranss commented on #14949
could you provide a demo with GitHub  to reproduce your issue.

[2022-01-20 11:58] yage-czy commented on #14949
try this "https://gitee.com/contraller/yage-hello/tree/hello-jpa/"

[2022-01-20 13:54] totalo commented on #14925
Please assign me and I will follow up.

[2022-01-20 13:54] #14945 closed

[2022-01-20 15:17] wl4g opened #14964 "Cound one disable some SQL in Sharding proxy for safety?"
Cound one disable some SQL in Sharding proxy for safety?

[2022-01-20 15:18] wl4g commented on #14964
@WillemJiang @rfscholte @ke4qqq

[2022-01-20 15:20] wl4g commented on #14964
Can server.yaml authorization be configured?  If not, where do I start with my own development?

[2022-01-20 15:21] terrymanu commented on #14941
@justbk2015 You have already analyze the reason, cloud you consider about submit a pull request to fix the issue?

[2022-01-20 15:22] terrymanu commented on #14924
Great!

[2022-01-21 00:50] strongduanmu commented on #14432
Close because long time no response.

[2022-01-21 00:50] #14432 closed

[2022-01-21 00:51] strongduanmu commented on #13893
Already optimize.

[2022-01-21 00:53] strongduanmu commented on #13851
Since there is no reply for a long time, I will close this issue first. If you have other questions, please submit new issue feedback.

[2022-01-21 00:53] #13851 closed

[2022-01-21 01:15] LeeGuoPing commented on #14954
May I have a try

[2022-01-21 01:15] strongduanmu commented on #12214
Fixed by #14527.

[2022-01-21 01:15] #12214 closed

[2022-01-21 01:27] RaigorJiang commented on #14964
There is no such feature yet, do you want to disable a specific few SQLs or a certain type of SQL, such as DDL statements?

[2022-01-21 01:33] strongduanmu commented on #14059
Fixed by #14134.

[2022-01-21 01:33] #14059 closed

[2022-01-21 02:18] #14911 closed

[2022-01-21 02:21] zjcnb commented on #14949
I download your project demo, not found about ShardingSphere anywhere.

[2022-01-21 02:24] yx9o commented on #14830
Fixed #14962.

[2022-01-21 02:24] zjcnb commented on #14949
I think your sql must be contains sharding_key column.

[2022-01-21 02:24] yage-czy commented on #14949
https://gitee.com/contraller/yage-hello/blob/hello-jpa/yage-demo/pom.xml
i use
`<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
    <version>5.0.0</version>
</dependency>
`

[2022-01-21 02:26] yage-czy commented on #14949
https://github.com/apache/shardingsphere/issues/970#issuecomment-1017241107

[2022-01-21 02:28] #14830 closed

[2022-01-21 02:32] zjcnb commented on #14949
ShardingSphere not supprot route all nodes when you execute insert or save sql, Now.

[code]

[2022-01-21 02:34] zjcnb commented on #14949
Maybe you can use sql comment way to update one data source, https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/

[2022-01-21 02:39] yage-czy commented on #14949
here is my log, this means my sql route to 2 node,aoo node?
`
|- 7d70a0473c4bb3b2 -|- 7d70a0473c4bb3b2 -|- yage-demo -|- 2022-01-21 10:37:23.730 -|- INFO  -|- [nio-9000-exec-1] -|- ShardingSphere-SQL                       [74  ] -|- Logic SQL: update ygdm_user set active_flag=?, create_time=?, create_user=?, modify_time=?, modify_user=?, version_num=?, password=?, username=? where id=?
|- 7d70a047

[2022-01-21 02:41] yage-czy commented on #14949
so the solution is to find some way to change the source code of CrudRepository.save of spring jpa? to add some comment?

[2022-01-21 02:44] taojintianxia opened #14968 "pg need to connect a database when proxy start up without a default schema"
as we all know, DistSQL is a powerful tool in ShardingSphere, it really reduce a lot of configuration work for Proxy + MySQL combination.

however, there is a little bit issue for Proxy + PG, following is the steps to reproduce the issue:
1. start proxy with server.yaml
server.yaml
[code]

2. connect proxy by pgsql client
[code]

and then you will get an promot like following, because pg need a "d

[2022-01-21 02:52] RaigorJiang commented on #14968
@taojintianxia  Thanks for your feedback .

[2022-01-21 02:52] zjcnb commented on #14949
Yes, Please add your sharding_key in your sql where.

[2022-01-21 02:58] zjcnb commented on #14949
You can see SQL HINT? Is this suit you?

[2022-01-21 03:15] jiangtao69039 opened #14970 "Which jdk verion should i use and which language level should i choose in IDEA?"
## Question

I import project  in IDEA and then some module language level is 7

should i set all modules to 8 ?

[2022-01-21 03:17] strongduanmu opened #14971 "Consider throwing a more friendly groovy expression exception message"
At present, when the user configures the sharding algorithm using inline expressions, the following exceptions will occur because they do not pay attention to the types of parameters in the expressions. Such an exception stack is not very friendly for users, we need to throw a more explicit exception information to help users solve the problem.

[code]

[2022-01-21 03:23] yage-czy commented on #14949
想到另一个办法，我可以在ComplexKeysShardingAlgorithm的实现类里获取到SQL信息吗？如果可以的话我也可以尝试着重新指定数据节点。

[2022-01-21 03:40] #14254 closed

[2022-01-21 03:50] jiangtao69039 commented on #14912
Is there a deadline?

[2022-01-21 03:56] zjcnb commented on #14949
Transaction english language, please.

[2022-01-21 05:09] terrymanu opened #14973 "Upgrade netty version to 4.1.70.Final"
Some warning message occur when execute mvn install.
I find the issue from netty, https://github.com/netty/netty/issues/11791

Netty had already fix the issue in version `4.1.70.Final`, the version of ShardingSphere is `4.1.69.Final`. It is better to upgrade netty version to 4.1.70.Final.

It is not emergency, I think we can do it after 5.1.0 released.

[2022-01-21 05:12] strongduanmu commented on #14912
No, you can try this issue according to your time.

[2022-01-21 05:50] eclipseek opened #14974 "mysql select statement parse error"
Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
5.0.0 release

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-Proxy

### Expected behavior
when excute the select sql below, it should execute correctly.

### Actual behavior
but actually return error:
1235 - This version of ShardingSphe

[2022-01-21 05:56] tuichenchuxin commented on #14974
Because of `_binary ` is not supported now.
I'll solve this bug.

[2022-01-21 06:05] jiangtao69039 commented on #14912
ok

[2022-01-21 06:25] linghengqian commented on #14970
Yes, it's JDK 8, followed by the outermost 'pom.xml'. You can also compile using JDK 11 or JDK 17.

[2022-01-21 07:00] wsm12138 opened #14975 "when use ShardingSphere-JDBC readwrite-splitting,occur `java.sql.SQLException: Streaming result set com.mysql.cj.protocol.a.result.ResultsetRowsStreaming@32660719 is still active. No statements may be issued when any streaming result sets are open and in use on a given connection. Ensure that you have called .close() on any active streaming result sets before attempting more queries.`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-21 07:00] darkaquarius opened #14976 "We have two datasources, but choose the wrong one"
there are two datasources used in our project.

old datasource's configuration is, only shards tables, do NOT shards database:
![image](https://user-images.githubusercontent.com/16524112/150477329-5cea3dcc-606e-4531-80e5-7dc3675cec21.png)

new datasource's configuration is, we shards both databases and tables:
![image](https://user-images.githubusercontent.com/16524112/150477759-bfb55045-e762-4dd0

[2022-01-21 07:05] maxiaof opened #14977 "org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax"
## Bug Report
org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax

### version
springboot: 2.4.1
mybatisSpringBootStarter: 2.2.0
druid: 1.2.8
ojdbc: 12.2.0.1

oracle_version: Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production

###  Which version of ShardingSphere did you use?
ShardingSphere5.0.0

### Which project did y

[2022-01-21 07:05] strongduanmu commented on #14975
@wsm12138 Thank you for your feedback, I will investigate this issue.

[2022-01-21 07:54] menghaoranss commented on #14954
fixed

[2022-01-21 07:54] #14954 closed

[2022-01-21 07:58] LeeGuoPing commented on #14910
May I have a try

[2022-01-21 08:14] csonezp commented on #14952
Maybe I can try,
please assign it to me

[2022-01-21 08:29] #14908 closed

[2022-01-21 08:53] yx9o commented on #14952
@csonezp Welcome.

[2022-01-21 09:25] tuichenchuxin commented on #14977
I will check it. Seems there are some parse error.

[2022-01-21 09:53] tuichenchuxin opened #14987 "support encrypt config column data type"
## Background
Currently, if we create a encrypt table like this
[code]
The cipher column's data type and length is same with the logic column.
But encrypt column will have some difference with logic column.
So, we think we need to add config for this.
## Task
- [x] Mete Data load encrypt table with config logic column data type
- [x] EncryptCreateTableTokenGenerator、EncryptAlterTableTokenGenerator

[2022-01-21 10:57] wl4g commented on #14964
Well, I have implements of: [https://github.com/wl4g/xcloud-shardingproxy/blob/1ab823b8bb78c33608dd2a94680b1727039249d2/xcloud-shardingproxy-starter/src/main/resources/example/server.yaml#L51](https://github.com/wl4g/xcloud-shardingproxy/blob/1ab823b8bb78c33608dd2a94680b1727039249d2/xcloud-shardingproxy-starter/src/main/resources/example/server.yaml#L51)

[2022-01-21 10:58] wl4g commented on #14964
Can you help me see any suggestions?

[2022-01-21 12:43] yage-czy commented on #14949
**方案一 -> 使用JPA的EmptyInterceptor**

- insert : sharding可天然支持
- select : sharding可天然支持
- update : 继承org.hibernate.EmptyInterceptor，在onPrepareStatement(String sql)方法中，对sql进行解析，获取其中的分片键，然后手动在sql语句后面拼接字符串" and 分片键 = 获取到的分片值"，即可实现
- delete : 使用@Query注解手动写delete语句，需要注意的是原始的"SimpleJpaRepository.delete"方法不能再使用，否则同样会发生路由到所有数据节点的问题

[2022-01-21 13:16] wl4g commented on #14888
Uh huh, I want to ask why I choose shardingsphere to solve the problem of massive OLTP data storage and query? Tidb is also compatible with MySQL protocol and has no complex slicing logic, I have been actively using shardingsphere, but my reason tells me that tidb will be better?

[2022-01-21 13:17] wl4g commented on #14888
@terrymanu

[2022-01-21 13:44] yx9o commented on #14910
@LeeGuoPing Welcome.

[2022-01-21 13:49] yx9o commented on #14795
@LeeGuoPing Welcome.

[2022-01-21 17:22] Swastyy commented on #14925
Hi @terrymanu , in the PR #14940 how you changed so many files? Have you done it one by one

[2022-01-22 03:02] fbin87 opened #14993 "About the security vulnerability of the Log4j 1.x version in ShardingSphere 4.1.1 and 3.1.0"
On January 20, 2022, PSIRT monitoring found that Apache officially released the risk notice of Log4j (version 1.x), the vulnerability numbers are CVE-2022-23302, CVE-2022-23305, CVE-2022-23307. Vulnerability Rating: Critical, Vulnerability Score: 9.8. These vulnerabilities only affect Log4j 1.x versions, and Log4j 2 versions are not affected.

After analysis, it was found that the log4j 1.x versio

[2022-01-22 10:18] justbk2015 commented on #14941
I will try it.

[2022-01-22 14:45] xsong123 opened #15000 "how to use stream query"
shardingsphere version 5.0.0
mysql version 5.7

how to set settings for stream query ?
now add setFetchSize for jdbc, but stream query don't work.

[2022-01-22 14:49] #14975 closed

[2022-01-22 16:06] yx9o commented on #15000
Hi, can you provide more error information? Maybe you can try the master version, please refer to: https://github.com/apache/shardingsphere/issues/14827

[2022-01-22 16:43] zzs52 commented on #14909
Can i try?

[2022-01-22 16:43] zzs52 commented on #14953
Can i try?

[2022-01-22 17:37] linghengqian commented on #14941
Thank you for your handling. I noticed that you only changed `start.sh`. Is it possible to change `start.bat` in another PR? This is related to https://community.sphere-ex.com/t/topic/313 .

[2022-01-22 17:41] #14795 closed

[2022-01-23 00:46] strongduanmu commented on #14953
@zzs52 Welcome.

[2022-01-23 00:47] strongduanmu commented on #14909
@zzs52 Welcome, I will assign this issue to you.

[2022-01-23 00:48] strongduanmu commented on #15000
@xsong123 Can you provide your configuration? Or give an example?

[2022-01-23 00:49] strongduanmu commented on #15000
Thank you for @yx9o, but the pr of this issue has been reverted because it caused an unexpected streaming query exception.

[2022-01-23 00:50] strongduanmu commented on #14827
The pr corresponding to this issue caused an unexpected streaming query exception, so we rolled back the code. For more exception info, you can refer #14975.

[2022-01-23 00:58] strongduanmu commented on #10764
Fixed by #14997.

[2022-01-23 00:58] #10764 closed

[2022-01-23 01:01] strongduanmu commented on #15000
If you use mysql database, you can try `preparedStatement.setFetchSize(Integer.MIN_VALUE);` to open stream query.

[2022-01-23 02:14] xsong123 commented on #15000
i have used `preparedStatement.setFetchSize(Integer.MIN_VALUE);` , but don't work.
trace source, then found:
ConnectionMode connectionMode = maxConnectionsSizePerQuery < sqlUnits.size() ? ConnectionMode.CONNECTION_STRICTLY : ConnectionMode.MEMORY_STRICTLY;

`maxConnectionsSizePerQuery` and `sqlUnits.size()`  affect connectionMode .
![image](https://user-images.githubusercontent.com/19642484/150661

[2022-01-23 09:09] #14910 closed

[2022-01-23 09:17] #14973 closed

[2022-01-24 00:33] strongduanmu commented on #15000
@xsong123 Yes, we can't use stream query when connection mode is `connection_strictly`.

[2022-01-24 01:23] strongduanmu commented on #14976
Hi @darkaquarius, thank you for your feedback. I see that you are using `DynamicDataSource` to manage multiple `ShardingDataSource`, which is beyond the scope of ShardingSphere's management, so I can't provide help, you need to investigate DynamicDataSource by yourself.

[2022-01-24 01:40] maxiaof commented on #14977
Is it a parsing error

[2022-01-24 01:41] tuichenchuxin commented on #14977
@maxiaof yes.

[2022-01-24 01:46] maxiaof commented on #14977
can it be fixed asap, thanks

[2022-01-24 01:58] tuichenchuxin commented on #14977
Are you willing to submit a pr?

[2022-01-24 02:10] maxiaof commented on #14977
Well, I'll try

[2022-01-24 02:49] terrymanu commented on #14888
If you use ShardingSphere as a database, there are lots of dimension need to be consider, for example: stable, latency, TPS of TPCC etc. You may try to test them if you are interested.
But I still have to say ShardingSphere is different with database, it is database plus. There are lots of features in ShardingSphere, for example: PostgreSQL supported, encrypt, etc...

[2022-01-24 03:25] RaigorJiang commented on #14964
It's interesting to see your design from the configuration, but due to limited information, I can't give a valuable comment, as long as it can satisfy your business, it's good!

[2022-01-24 03:26] asp1111 opened #15014 "proxy 5.0 not support row_number function"
mysql : 8.x
shardingsphere proxy : 5.0.0
i customize my shardingAlggorithm,it olny route to one datasource,but still not support row_number function  ,is that a bug ? or just not support? or i do anything wrong ?
![image](https://user-images.githubusercontent.com/13173179/150717142-aadb56bc-da84-4860-a03a-d12ac3f5f126.png)

[2022-01-24 03:39] strongduanmu commented on #15014
@asp1111 Can you provide your sharding configuration and exception info?

[2022-01-24 03:42] asp1111 commented on #15014
![image](https://user-images.githubusercontent.com/13173179/150718467-5c5c45dc-f126-46da-87c1-03b43f86dffc.png)
![image](https://user-images.githubusercontent.com/13173179/150718486-c2e3aea1-4f01-41b7-b3af-0fdf5d36937b.png)
@strongduanmu

[2022-01-24 03:49] strongduanmu commented on #15014
@asp1111 What is the exception message? Also, what should I do to reproduce this problem.

[2022-01-24 03:53] lichaoshuai commented on #7701
Warm up your service, but don't use multi thread.

[2022-01-24 04:50] RaigorJiang commented on #14661
@sandynz
Ok, after the release of 5.1.0, we adjusted all input params to be optional.

[2022-01-24 05:55] zjcnb opened #15016 "Consider optimize the `schemaName` of `ShardingSphere-JDBC`."
Hi community,

Consider optimizing the `schemaName` of `ShardingSphere-JDBC`. Currently, it 's read the logic database created by `ShardingSphere-Proxy` DistSQL. If we use `ShardingSphere` `Standalone` or `Cluster` mode. It configuration such as:

`Standalone mode:`

[code]

`Cluster mode:`

[code]

We think the `schemaName` configuration is not flexible, it cannot satisfy to dynamic switch to oth

[2022-01-24 07:23] asp1111 commented on #15014
### here is exception message
![image](https://user-images.githubusercontent.com/13173179/150731377-6f1b9626-4f3d-42d1-b388-1ed149acf198.png)
### reproduce this problem
set up two database , create user table

    CREATE TABLE `aiot_t_user` (
      `id` int NOT NULL AUTO_INCREMENT COMMENT 'ID',
      `tenantId` char(7) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL ,
      `departmentId

[2022-01-24 07:24] #14913 closed

[2022-01-24 07:26] strongduanmu commented on #15014
@asp1111 Thank you for your feedback, I will check this issue.

[2022-01-24 07:31] strongduanmu commented on #15014
@asp1111 Where is the createTime column in create table statement?

[2022-01-24 07:43] asp1111 commented on #15014
i edit it : )

[2022-01-24 08:23] strongduanmu commented on #15014
Hi @asp1111, I have tested master branch, this exception has been fixed.

[2022-01-24 08:26] asp1111 commented on #15014
that is great,thanks

[2022-01-24 08:33] lanchengx opened #15018 "[DistSQL] Add some new syntax to manage traffic rule configurations"
Hi community,

To make it easier for users to manage traffic rule configuration and instance labels, we will add some new DistSQL syntax.

The yaml configuration of the traffic rule is as follows:

[code]

For this configuration, we have designed the following syntax

- [x] **Create syntax**
[code]
- [x] **Modify syntax**
[code]
- [x] **Delete syntax**
[code]

- [x] **Show syntax and show results*

[2022-01-24 08:37] #14977 closed

[2022-01-24 08:38] maxiaof commented on #14977
If I try to use the master branch, this problem will not occur

[2022-01-24 08:47] jiangtao69039 opened #15021 "example is not standard in ShardingRawJavaConfigurationExample"
## Bug Report

One example is not standardized.  It prints sql in console by default, but others will not.

I can submit a PR if need to modify here

### Which version of ShardingSphere did you use?

branch: master
class Name: ShardingRawJavaConfigurationExample

### Expected behavior

![notprint](https://user-images.githubusercontent.com/20572131/150749347-d93f4c44-86a7-4461-9389-d7c7836efd31.png

[2022-01-24 08:53] jiangtao69039 commented on #15021
I can submit a PR if need to modify here.

[2022-01-24 09:16] menghaoranss commented on #14254
@Ahoo-Wang this issue has been completed, and I have passed the `InstanceContext` to `CosIdKeyGenerateAlgorithm`, you can refactor this algorithm now,  and look forward to using it in the next version.

[2022-01-24 09:19] menghaoranss commented on #9797
I will split this issue into more tasks in the next version, I just close it now.

[2022-01-24 09:19] #9797 closed

[2022-01-24 09:25] menghaoranss commented on #13448
@marker-wu The schema has been split into multiple nodes by table in the upcoming 5.1.0 version, you can try again with master branch now.

[2022-01-24 09:28] menghaoranss commented on #13448
Look forward to your next feedback.

[2022-01-24 09:28] #13448 closed

[2022-01-24 09:35] zjcnb commented on #15021
Hi, this are test Stanalone mode. Did you modify the `sharding-databases.yaml` file?

[2022-01-24 09:39] jiangtao69039 commented on #15021
No,I didn't change any files.

[2022-01-24 09:48] zjcnb commented on #15021
OK, i will check it. Hold on please.

[2022-01-24 09:55] zjcnb commented on #15021
![image](https://user-images.githubusercontent.com/33742097/150760454-f6f00522-ca2d-4556-9cb0-d716c1ee2e9f.png)

@jiangtao69039 I can't reproduce it. Can you delete .shardingsphere file? And run this method again.
![image](https://user-images.githubusercontent.com/33742097/150760955-5a5104b0-a8e8-4fb0-9718-b90c51191b40.png)

[2022-01-24 10:00] jiangtao69039 commented on #15021
Sorry,is my problem.Thank you very much!

[2022-01-24 10:04] #15021 closed

[2022-01-24 10:47] #14806 closed

[2022-01-24 10:48] #14909 closed

[2022-01-24 11:27] strongduanmu commented on #15014
Fixed in master branch.

[2022-01-24 11:27] #15014 closed

[2022-01-24 11:35] wl4g commented on #14888
OK, thanks for your patience answer. Like many people, I am confused about the problem: how to solve automatic scaling elegantly and simply? I think since many other shard-nothing databases are auto-scaling, how can shardingsphere be done automatically? or must manually exec?

[2022-01-24 11:39] zjcnb commented on #14654
I think this problem are fixed in master branch. you can try. @kangshiwei

[2022-01-24 12:53] darkaquarius commented on #14976
Although DynamicDataSource is used, we have gotten the correct shardingsphereDataSource  every time, so this problem has nothing to do with DynamicDataSource, it is a problem that occurs when entering shardingsphereDataSource.

![image](https://user-images.githubusercontent.com/16524112/150781949-5c575360-e35c-4e11-8034-371e14dd9283.png)

![image](https://user-images.githubusercontent.com/16524112

[2022-01-24 13:31] Ahoo-Wang commented on #14254
@Ahoo-Wang ok.

[2022-01-24 13:47] ainydexiaohai commented on #14654
同样的问题，楼主解决了吗？

[2022-01-24 15:16] #14541 closed

[2022-01-24 15:41] terrymanu commented on #14580
@zhao190775705 Hello, is the issue resolved?

[2022-01-24 15:42] terrymanu commented on #14650
Closed because of no response.

[2022-01-24 15:42] #14650 closed

[2022-01-25 00:41] strongduanmu commented on #14976
@darkaquarius Can you provide a demo to help reproduce this problem?

[2022-01-25 01:41] soulasuna commented on #14899
Yes，this is the first step.

[2022-01-25 01:53] jiangtao69039 commented on #14970
got it

[2022-01-25 01:53] #14970 closed

[2022-01-25 02:07] dragonorant opened #15034 "hash_mod Configuration fails to take effect , MOD Configuration is ok"
[code]

[code]

exception
[code]

[code]

[2022-01-25 02:37] RaigorJiang commented on #15034
Hi @dragonorant
`Auto Sharding Algorithm` need some properties, you can refer to the [document](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/#auto-sharding-algorithm) and [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-exa

[2022-01-25 02:38] wyxabd opened #15037 "Invalid PostgreSQL field alias query in ShardingSphere-Proxy 5.0"
For example:：select aaa as bbb

Result is aaa，not bbb.

[2022-01-25 02:40] RaigorJiang commented on #15034
Here is an article for auto table: https://mp.weixin.qq.com/s/fDYqW-yJIVpkcUDNT-gsuA

[2022-01-25 02:49] dragonorant commented on #15034
But I have no problem with mod，successful sharding

[2022-01-25 02:49] dragonorant commented on #15034
But I have no problem with mod，successful sharding

[2022-01-25 02:55] RaigorJiang commented on #15034
From the code, mod can't be used like this, we can investigate.

[2022-01-25 02:59] xsong123 opened #15038 "MEMORY_STRICTLY lead to DDL locked"
shardingsphere version 5.0.0
mysql version 5.7

when connectionMode is MEMORY_STRICTLY, executed DDL will lock.

[2022-01-25 03:08] TeslaCN opened #15039 "ModeScheduleContext cause Proxy startup failed"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.1-SNAPSHOT
maybe ad2547199b0abab7c079abba934800be7f5a7b1e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

Proxy startup succeeded.

### Actual behavior

[code]

### Reason analyze (If you can)

The default operation timeout of `ZookeeperConfiguration` is too

[2022-01-25 03:12] dragonorant commented on #15034
The configuration becomes the following to run successfully and perform insert queries, etc
[code]

[2022-01-25 03:17] TeslaCN commented on #14993
Hi @fbin87
The 4.1.1 and 3.1.0 are no longer maintained.

[2022-01-25 03:51] RaigorJiang commented on #15034
Ok, you can refer to the document to change to the correct configuration.
Regarding the use of mod, if you find the cause, you can submit a PR to fix it, too.

[2022-01-25 04:38] strongduanmu opened #15041 "Exception occur when execute query which contains schema name in projections"
## Bug Report

### Which version of ShardingSphere did you use?

262285d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

S

[2022-01-25 05:07] #14835 closed

[2022-01-25 05:45] #14941 closed

[2022-01-25 05:48] #14952 closed

[2022-01-25 05:57] tangmingze7280 commented on #10301
@tristaZero @badhorse 这日本人竟然能看懂中文

[2022-01-25 06:33] RaigorJiang commented on #12786
Update:
According to the latest information, only the bound account of the GiHub repository can set up automatic mirroring, and our repository belongs to the apache organization and cannot be processed through personal accounts. So the Gitee repository will still be synced manually.

Users can set up a GitHub repository by fork `apache/shardingsphere`, and then synchronize through Gitee, which can

[2022-01-25 06:33] RaigorJiang commented on #12786
I just close this issue.

[2022-01-25 06:33] #12786 closed

[2022-01-25 06:51] RaigorJiang commented on #14084
Hi @oneslideicywater
Is your problem solved?

[2022-01-25 07:29] #15039 closed

[2022-01-25 07:40] SirMin commented on #14430
@tuichenchuxin  Can I send email to you, I has some question about this issue.

[2022-01-25 07:41] menghaoranss opened #15051 "Add unit test for InstanceContext"

[2022-01-25 07:46] tuichenchuxin commented on #14430
@SirMin Sure.

[2022-01-25 07:47] #15041 closed

[2022-01-25 07:51] menghaoranss commented on #15038
could you please provide more configurations and logs, and the steps to reproduce your issue?

[2022-01-25 07:52] climy007 opened #15052 "What does it mean that the 'err' percentage is 100% of 4.1.1 version in benchmark?"
Dear developer,
I found that the err rate of sharding-jdbc in selecting option is always 100% rather than single route or full route. Does it mean that all selecting results got by sharding-jdbc are wrong?
The image shows that the benchmark of sharding-jdbc posted on official website
![image](https://user-images.githubusercontent.com/45785480/150933582-900b3572-d33f-44ba-99dc-a030672471e8.png)

[2022-01-25 07:55] menghaoranss commented on #15037
@wyxabd could you try with master branch again, if it does not work, @tuichenchuxin will have it a look.

[2022-01-25 08:00] SirMin commented on #14430
@tuichenchuxin  I'm sorry, I can't find your email, if you don't want publish email, I already publish my email.

[2022-01-25 08:16] menghaoranss opened #15054 "shardingsphere-agent-plugins module maybe build the incorrect jar"
![image](https://user-images.githubusercontent.com/60651792/150938036-8c10e9bc-739c-4f22-805b-5e2d0b55e5eb.png)

The correct name should be `ShardingSphere-agent-logging-base-5.0.1-SNAPSHOT.jar`.

[2022-01-25 08:34] fbin87 commented on #14993
tags 4.1.1 is the second newest version and is not maintained?  What is the latest version maintained now, is 5.0.0 ？
In which versions are the above vulnerabilities resolved?

[2022-01-25 08:35] fbin87 commented on #14993
In which versions are the above vulnerabilities resolved? version 5.0.0 ？

[2022-01-25 08:51] ainydexiaohai commented on #14654
5.0.1-SNAPSHOT中已经解决，下载源码打包安装到本地仓库，pom文件中切换成5.0.1-SNAPSHOT版本即可。

[2022-01-25 09:01] csonezp commented on #15051
I would like to contribute in this issue, please assign it to me

[2022-01-25 09:14] menghaoranss commented on #15051
@csonezp welcome on board

[2022-01-25 09:14] lanchengx opened #15059 "Display the label on the instance"

[2022-01-25 09:14] #15059 closed

[2022-01-25 09:18] lanchengx commented on #15059
Already done

[2022-01-25 09:23] menghaoranss commented on #15052
@climy007 hi, what's the link of this report ?

[2022-01-25 09:23] #14646 closed

[2022-01-25 09:27] taojintianxia commented on #15052
@climy007  would you post the link here ?

[2022-01-25 09:57] terrymanu opened #15061 "Refactor YamlProxyConfigurationSwapperTest"
The test case YamlProxyConfigurationSwapperTest use lots of mock to build test data, it is too difficult to understand.

It is better to use yaml file to provide test data, just load yaml file in test case and assert swap.

[2022-01-25 10:52] strongduanmu commented on #13893
After performance test, we still need to do lots of optimize for sql rewrite, so I will reopen this issue.

[2022-01-25 11:29] jingshanglu commented on #14741
@hywr Maybe it has been fixed by #14983 .

[2022-01-25 16:00] Ahoo-Wang commented on #14254
#15067

[2022-01-26 00:36] carlyin0801 opened #15071 "Hello, may I ask how shardingsphere ensures the data consistency in each partition database when inserting data into the broadcast table?"
Hello, may I ask how shardingsphere ensures the data consistency in each partition database when inserting data into the broadcast table? Is it guaranteed by distributed transactions?

[2022-01-26 02:22] sandynz commented on #14661
Thank's OK, thanks.

[2022-01-26 02:44] sunny800629 opened #15073 "关于只分库部分表"
1、能否支持根据数据源名称获取连接并进行数据操作么？现在有一种使用场景是为：有几个数据库，每个数据库对应一个用户，需要根据用户获取数据源并进建表等操作，无需在每个数据库中都创建相同的表。
2、能够支持在统一数据库中，针对不同的用户创建以用户名称为前缀的表，并进行操作么？

[2022-01-26 03:02] RaigorJiang commented on #15071
Hi @carlyin0801
ShardingSphere support distributed transaction, and the default transaction type is `LOCAL`, you can refer to the document:
https://shardingsphere.apache.org/document/current/en/features/transaction/

[2022-01-26 03:04] RaigorJiang commented on #15073
Hi @sunny800629
For ENGLISH only, please translate the issue.

[2022-01-26 03:08] zjcnb opened #15075 "Maybe `ShardingSphere-JDBC` can filter some configuration when pull remote configuration."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC` and `ShardingSphere-Proxy`

### Expected behavior

`ShardingSphere-Proxy` implement `custom encrypt algorithm` and start up success by `cluster mode`.

`ShardingSphere-JDBC` use schemaName and  cluster mode configuration read Zookeeper confi

[2022-01-26 03:11] #15075 closed

[2022-01-26 03:40] TeslaCN opened #15076 "The `Timestamp.valueOf` often failed when parsing text value from PostgreSQL"
## Performance & Refactor

Related to #10626

The `Timestamp.valueOf` often failed when parsing text value from PostgreSQL.

![image](https://user-images.githubusercontent.com/20503072/151096566-7defffd3-93b0-4ae5-932b-86922decb59d.png)

[2022-01-26 03:45] climy007 commented on #15052
Okay. The link is here. It's an official benchmark.
https://shardingsphere.apache.org/benchmark/#/overview_detail/3

[2022-01-26 03:45] climy007 commented on #15052
Okay. The link is here. It's an official benchmark.
https://shardingsphere.apache.org/benchmark/#/overview_detail/3

[2022-01-26 03:46] climy007 commented on #15052
Okay. The link is here. It's an official benchmark.
https://shardingsphere.apache.org/benchmark/#/overview_detail/3

[2022-01-26 03:46] climy007 commented on #15052
Okay. The link is here. It's an official benchmark.
https://shardingsphere.apache.org/benchmark/#/overview_detail/3

[2022-01-26 04:04] princess-yanyan opened #15079 "Query about "like""
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-01-26 04:32] ReyYang commented on #8650
Can you tell me how to reproduce this error? I didn't find this problem after trying

[2022-01-26 05:32] LeeGuoPing opened #15080 "Modify notes of DataNodeContainedRule's method findActualTableByCatalog"
## Question

![image](https://user-images.githubusercontent.com/35389145/151108953-9001ab6c-16f0-4b49-8fcb-e6d316afa540.png)

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://sh

[2022-01-26 05:47] LeeGuoPing commented on #15061
May I have a try

[2022-01-26 05:54] strongduanmu commented on #15061
@LeeGuoPing Welcome.

[2022-01-26 05:56] #15076 closed

[2022-01-26 06:22] dragonorant opened #15083 "Cannot get result set with enum , shardingsphere and mybatis-plus conflict"
[code]

[code]

[code]
The above configuration can successfully insert data, but the data cannot be queried。

exception
[code]

Underlying code
[code]
code
[code]

How can I continue to use enumeration class object parameters

[2022-01-26 06:28] kangshiwei commented on #14654
Ok! Thank you for your help. I'll try a new version next.

[2022-01-26 06:31] climy007 commented on #9309
May they are not a same question. #1900 is a duplicate beans problem, but this is cause by the final class `ShardingSphereDataSouce` is bean proxied.

[2022-01-26 06:38] dissdic opened #15084 "biginteger = character varying ?"
a table with id column which is primary key of this table.and the type of the primary key is bigInteger.
we use spring-jdbc as the frame for data interaction with PostgreSql.
when executing a sql in the form of "select ... from table where id  = ?" with the statement paramters present as "id ="123456""
then the executor of the shardingsphere PreparedStatement will throw the error:biginteger = char

[2022-01-26 06:47] climy007 opened #15086 "Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource"
##springboot version##
2.1.3
##sharding-jdbc version
5.0.0
##Exception Stack##
2022-01-26 14:43:35.276 ERROR 85603 logTag:  bizID:  errCode: traceID: --- [           main] o.s.boot.SpringApplication               : Application run failed org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'goodsController': Unsatisfied dependency expressed through field

[2022-01-26 08:12] ReyYang commented on #8650
ShardingSphere master batch
MySQL 5.7
Zookeeper 3.7

Case 1: Execute batch delete using proxy
Result: No issues found
[code]
Case2:Execute batch delete during incremental data import phase of migration
Result: No issues found
[code]
Case3:Execute batch delete during incremental data import phase of migration
Result: No issues found
[code]
No problem was found in any of the above three cases

[2022-01-26 09:06] JiekerTime opened #15089 "Micro-Refactoring Integration Testing."
After a lot of efforts, the integration test now has a small success.

However, there are still some potential problems in integration testing, such as confusing file structure, code redundancy, lack of design mode, memory leaks, connection leaks, poor performance, and so on.

Therefore I consider I want to do some micro-refactoring of integration tests while finishing #9104.

Of course, my abilit

[2022-01-26 09:40] PingFeng233 opened #15090 "postgresql select result did not match."
###  Question
   1.  When I query this data through ShardingSphere-Proxy connection, the query result of field and datas did not match.
   2.  Do not query through ShardingSphere-Proxy:

![image](https://user-images.githubusercontent.com/35714889/151135077-0202e3d3-f303-426e-926a-f5701dcd875e.png)
   3.  Query through ShardingSphere-Proxy:

![image](https://user-images.githubusercontent.com/357148

[2022-01-26 09:41] TeslaCN opened #15091 "`MetaDataRefreshEngine` may have performance issue"
## Performance

Related to #10626

### Is your feature request related to a problem?
The `MetaDataRefreshEngine` is frequently invoked in Proxy. I tried removed it from the code and the performance increased about 5%.

![image](https://user-images.githubusercontent.com/20503072/151139527-7a2b3236-af13-4bce-a787-db4b0da2623b.png)

[2022-01-26 09:54] TeslaCN commented on #15090
Hi @PingFeng233
Have you executed DDL to database directly? The Proxy may not be aware of meta data changes in database.

[2022-01-26 10:39] PingFeng233 commented on #15090
Hi @TeslaCN ，I didn't do any other operations except query and I found it was strange, if I select with specified fields, the result is correct. If I use '*' to select, the result is incorrect.

![image](https://user-images.githubusercontent.com/35714889/151148332-e8790b1a-7092-40b6-924f-452922f63a5a.png)
![image](https://user-images.githubusercontent.com/35714889/151148394-87093d3f-09ed-4f2b-a21a

[2022-01-26 10:54] #14722 closed

[2022-01-26 10:57] TeslaCN commented on #15090
Could you check if the columns' order of tables are consistent?

[2022-01-26 11:00] #14925 closed

[2022-01-26 11:02] #15080 closed

[2022-01-26 12:03] #15061 closed

[2022-01-26 12:21] terrymanu opened #15099 "Assert Readwrite-Splitting rule configuration in YamlProxyConfigurationSwapperTest"
Please complete method YamlProxyConfigurationSwapperTest.assertReadwriteSplittingRuleConfiguration()

[2022-01-26 14:22] #15091 closed

[2022-01-26 15:09] LeeGuoPing commented on #15099
@terrymanu Hi, i will keep do it.

[2022-01-27 01:23] carlyin0801 commented on #15071
@RaigorJiang Thank you for your answer, you mean that if I do not actively configure to support distributed transactions, the data consistency of the broadcast table of each partition database cannot be guaranteed？

[2022-01-27 02:07] RaigorJiang commented on #15071
Yes, as the documentation describes, local transactions are not capable enough in high consistency and eventual consistency.

[2022-01-27 02:47] #15073 closed

[2022-01-27 02:49] climy007 commented on #15086
shardingsphere:
   mode:
     type: Standalone
     repository:
       type: File
   props:
     sql:
       show: true
   datasource:
     names: db1,db2
     db1:
       type: com.alibaba.druid.pool.DruidDataSource
       driver-class-name: com.mysql.jdbc.Driver
       url: jdbc:mysql://localhost:6666/db1?serverTimezone=CTT&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=fa

[2022-01-27 02:56] climy007 commented on #15086
It might be nothing to do with the configuration. After debugging and I found it that the spring will proxy the `ShardingsphereDatasource` bean to aspect the `getConnection` method. And then will cast the Exception.

[2022-01-27 03:24] zjcnb commented on #15086
[code]

Please refer to the configuration.

[2022-01-27 05:20] #15084 closed

[2022-01-27 06:27] tuichenchuxin commented on #13383
We have get all unsupported sql from pg/mysql source code

[2022-01-27 06:27] #13383 closed

[2022-01-27 06:48] zjcnb opened #15110 "Optimization error message when algorithm-expression and sharding-column not match."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

### Expected behavior

Throws friendly tips.

### Actual behavior
[code]

### Configuration

[code]

[2022-01-27 06:55] menghaoranss commented on #15089
@JiekerTime glad to see you again here, could you provide detailed plan or a task list to describe what you will do next.

[2022-01-27 06:57] menghaoranss commented on #15089
or continue #9104 ?

[2022-01-27 07:17] longandy commented on #13532
赞

[2022-01-27 07:20] climy007 commented on #15086
I tried. And It seems not the configuration's problem. Still doesn't work.

[2022-01-27 07:22] zjcnb commented on #15086
You had better provider a demo project.

[2022-01-27 08:03] menghaoranss opened #15113 "New syntax to support batch execution of DistSQL"
## background

We can use DistSQL to create/drop/alter ... data sources and rules since 5.x, and these changes are effective immediately, so ShardingSphere has to refresh the meta data for each execution. In registry center, the configurations persisted in single node just as follows, once modified, they will be overwritten and there's no way to rollback.

[code]

There are some problems for batch

[2022-01-27 08:34] hipopular commented on #14731
Insert statement does not support sharding table routing to multiple data nodes.\n### The error may exist
The error occur
red while setting parameters\n### SQL: insert into `mer_batch_321566` ( UID, CINEMA_UID, CINEMA_NAME, MER_UID, SKU_UID, SKU_CODE, UNIT_UID, UNIT_NAME, LEVEL, DEL_FLAG, CREATE_TIME, TENANT_ID ) values ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, '32
1566' ) , ( ?, ?, ?, ?, ?, ?, ?, ?, ?,

[2022-01-27 09:31] #15054 closed

[2022-01-27 09:55] menghaoranss opened #15118 "Print the runtime mode of proxy in the startup log"
There are 3 modes that can be selected when the proxy starts, but after it started, we can't judge which mode it uses. Consider printing this information in the startup log.

[code]

The log should be output:

[code]

[2022-01-27 09:59] #14047 closed

[2022-01-27 10:39] linghengqian commented on #13069
@sandynz Although it is a bit out of date, I would like to ask if xiaohuihui123321 is dealing with this problem now, or imchao9 ? I noticed that xiaohuihui123321 is still one of the Assignees, and imchao9 is not. If no one is dealing with this problem, I wish I could submit this PR.

[2022-01-27 13:04] strongduanmu opened #15129 "Add EncryptContext parameter to EncryptAlgorithm and QueryAssistedEncryptAlgorithm SPI interface"
In order to improve scalability of EncryptAlgorithm and QueryAssistedEncryptAlgorithm SPI interfaces, we need to add EncryptContext parameter which provides encryption-related context information to the algorithm, and allow users to implement more advanced encryption algorithms based on these context information.

The modified SPI interface is as follows:

EncryptAlgorithm SPI interface:

[code]

[2022-01-27 13:12] sandynz commented on #13069
Sorry, the page is blocking, assign got wrong.

[2022-01-27 13:13] sandynz commented on #13069
@linghengqian , xiaohuihui123321 is not dealing with this issue, I just assigned it to you.

[2022-01-28 01:48] xszhe commented on #14334
我也出现同样的问题，是因为
D:/maven_bd/org/apache/shardingsphere/shardingsphere-jdbc-core/5.0.0/shardingsphere-jdbc-core-5.0.0.jar!/org/apache/shardingsphere/driver/jdbc/core/statement/ShardingSpherePreparedStatement.class:121

this.sqlStatement = sqlParserEngine.parse(sql, true);
这个语句对无法解析分页组件组合的SQL，对分页内子查询的order by 无法正常解析，导致无法识别
![Snipaste_2022-01-28_09-29-51](https://user-images.githubusercontent.com/499730

[2022-01-28 02:35] #15099 closed

[2022-01-28 02:46] patience00 opened #15132 "why cached the configuration file at folder "C:\Users\Administrator\.shardingsphere\metadata\logic_db""
## Bug Report

I used Druid connection pool for the first time,and there is some error make the project can't start,
so I have modified the configuration file and changed connection pool to Hikari,
but shardingsphere-jdbc-core-spring-boot-starter still used the  cached configuration file

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched o

[2022-01-28 02:51] #14953 closed

[2022-01-28 02:57] menghaoranss commented on #15132
Please provide your yml configuration, the local file cache takes effect if you configure `Standalone` mode

[2022-01-28 03:02] TeslaCN commented on #15089
@soulasuna Could you please follow this issue.

[2022-01-28 04:00] dissdic opened #15134 "to consider the sqlType of value parameter when setting the value to the corresponding placeholder in a executing SQL"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
yes
### Describe the feat

[2022-01-28 04:03] dissdic commented on #15134
I'm currently working on this issue,and the deadline would be before noon next day.

[2022-01-28 05:01] csonezp commented on #15051
@menghaoranss

Hi，i have some doubts after reading the code.

InstanceContext#switchInstanceState:

`    private void switchInstanceState(final Collection<String> status) {
        state.switchState(StateType.CIRCUIT_BREAK, null != status && status.contains(StateType.CIRCUIT_BREAK.name()));
    }`

The effect of these codes is to put CIRCUIT_BREAK into StateContext#currentState when the `status` i

[2022-01-28 05:42] strongduanmu commented on #15079
@princess-yanyan There is a way to use substring encryption now, and then use the same way to split and encrypt the query field to support like queries.

[2022-01-28 05:49] patience00 commented on #15132
yes,it is Standalone
thanks!

[2022-01-28 05:49] #15132 closed

[2022-01-28 06:41] dragonorant opened #15139 "Please ignore"

[2022-01-28 06:53] #15139 closed

[2022-01-28 07:05] strongduanmu commented on #14974
Hi @eclipseek, thank you for your feedback, you can try to submit a pr to fix this bug.

[2022-01-28 07:08] strongduanmu commented on #14672
Hi @Swastyy, does this issue has any progress?

[2022-01-28 07:10] strongduanmu opened #15140 "Add more unit test for EncryptContextBuilder"
Hi, community:

This issue is to add more unit tests for the EncryptContextBuilder class. Welcome to claim them.
After pr #15133 was merged, you can start this work.

The specific subtasks are as follows:

- [ ] Add unit test for EncryptContextBuilder#build

[2022-01-28 07:54] zzs52 commented on #15140
Can i try?

[2022-01-28 08:17] yx9o commented on #15140
@zzs52 Welcome.

[2022-01-28 08:25] wyxabd opened #15145 "Schema 'root' doesn't exist in ShardingSphere-Proxy 5.0"
use PostgreSQL
For example:：select * from “root”.pagemanage
ERROR:  Schema 'root' doesn't exist.

[2022-01-28 08:28] xsong123 opened #15147 "how to skip over SQL PARSE , directly route to allocated datasource"
shardingsphere version 5.0.0
mysql version 5.7

how to skip over SQL PARSE, directly route to allocated datasource?
early releases(before 4.1.1) can skip over SQL PARSE by hint，but now seem can't.

in fact if App hase only one DataSource，maybe  one case need shardingsphere to excute sql, but another don't need shardingsphere to excute sql, because the sql is too complicated and itself don't need t

[2022-01-28 08:51] #13069 closed

[2022-01-28 08:52] #15129 closed

[2022-01-28 09:54] terrymanu commented on #14888
FYI: https://shardingsphere.apache.org/document/current/en/features/scaling/

[2022-01-28 10:08] #15118 closed

[2022-01-28 10:11] RaigorJiang commented on #14807
Hi @yx9o
Let's think about how to implement the `import` syntax. Users can input YAML content through SQL or provide a file path.

[2022-01-28 10:27] anonymous-lj opened #15152 "No value specified for parameter"
<dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
      <version>5.0.0</version>
  </dependency>
ShardingSphere JDBC  pressure test abnormal

sql：select * from api_wallet  where id = ?  for update

Caused by: java.sql.SQLException: No value specified for parameter 1
2022/1/28 下午2:47:40         at com.mysql.cj

[2022-01-28 11:23] Swastyy commented on #14672
Hi @strongduanmu , the test cases will be created in a separate file for both of them or inside the SelectStatementContextText.java?

[2022-01-28 13:22] yx9o commented on #14807
I think the file import way is used more.

[2022-01-28 13:34] homeway88 opened #15160 "how to use key generator?"
## Question
I setup a table with column `id` to use key generator, but I can not insert data with sql of `insert into person (name, age) values ('demo', 1);`,  the unexpected actual sql is `INSERT INTO person_01 (name,age) VALUES (?, ?); ::: [demo, 1]`.

`INSERT INTO person_01 (id, name,age) VALUES (?, ?); ::: [xxxxx, demo, 1]` is what I want;

by the way, I find it very strange of  `GeneratedKeyC

[2022-01-28 14:08] strongduanmu commented on #14672
@Swastyy Inside the SelectStatementContextText.java may be better.

[2022-01-28 14:10] strongduanmu commented on #15160
@homeway88 Dose `person_00` and `person_01` exist in ds1 dataSource?

[2022-01-28 14:26] homeway88 commented on #15160
Works fine if connecting to a database with table person_00 and person_01 exists.
But failed if connecting to an empty database and then create table person_00 and person_01 afterwards.

[2022-01-28 14:47] LostMyth opened #15162 "Why did my logical sql same as actual sql?"
### This is application.yml
[code]
### This is mapper.xml
[code]
### Logic SQL:
[code]
### Actual SQL:
[code]

Please help me , Thank you very much.

[2022-01-28 15:04] Swastyy commented on #14672
Ok, thanks @strongduanmu .

[2022-01-29 00:56] strongduanmu commented on #15160
@homeway88 I guess you executed the create table statement on the native database after starting the JDBC program, so that JDBC cannot perceive the newly added table.

There are two ways to solve this problem, write the code to create the table through JDBC, so that the newly added table can be loaded into the metadata. A better way is to use both JDBC and Proxy through the Mode feature. Proxy is

[2022-01-29 01:10] homeway88 opened #15164 "incorrect readwrite-splitting configuration document"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-01-29 01:43] RaigorJiang commented on #14807
Yes, I think so.

[2022-01-29 01:45] RaigorJiang commented on #15145
Hi @wyxabd
ShardingSphere manages distributed databases and coordinates data through logical schemas. If you do not create a `root` schema in ShardingSphere, it does not exist.

[2022-01-29 01:49] RaigorJiang commented on #15162
Hi @LostMyth
Please provide your version of ShardingSphere and the complete configuration.
From the snippets provided, you are using a custom sharding algorithm, but the configuration is incomplete

[2022-01-29 02:25] RaigorJiang opened #15167 "[DistSQL] Add a syntax `SHOW RULES USED RESOURCE`"
Hi community,
this issue is for a new DistSQL syntax.

### Background
Currently, if a resource is used by any rule, an `ERROR` will occur when users try to execute `DROP RESOURCE`, and indicating what type of rules are using current resource.
[code]

So, how do we know which rules a resource is used by?

### Aim
Add a DistSQL to show all rules using the target resource, for example
| type