[2022-03-08 10:08] galaxylqx opened #15881 "Data source simplification"
Problem description: Multiple data sources use the same database instance. For example, if the host is 127.0.0.1 and the port is 3306, multiple data sources need to be created. If the same database instance has 100 databases, 100 data sources need to be created.
[code]
Solution: The data source connection does not specify a specific database, the data source is only a database connection, and the

[2022-03-08 10:41] zjcnb commented on #15426
This issue are fixed in `master branch`.

[2022-03-08 10:41] #15426 closed

[2022-03-08 13:29] TeslaCN commented on #15792
The key is the SQL. What if different SQL have same result?

[2022-03-08 14:11] gauriimaheshwarii commented on #15860
@zjcnb Optimized the document and made a pull request. Would like to start working on another one if you can assign any.

[2022-03-08 14:42] pallavieee commented on #15860
Hello I am a openforce contributor can I work on this issue?

[2022-03-08 15:00] yx9o commented on #15701
@pparthenhs Welcome.

[2022-03-08 15:06] #10641 closed

[2022-03-08 15:07] terrymanu commented on #10641
Thanks for @cheese8 to fix this issue.

[2022-03-08 15:46] Priyanka-9588 commented on #15860
Hi, I am Priyanka,  a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 15:56] Priyanka-9588 commented on #15851
Hi, I am Priyanka, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 15:59] Priyanka-9588 commented on #15836
Hi, I am Priyanka, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 16:06] MrNobody09 commented on #15822
Hi, I am Nalin, a contributor to OpenForce 2022. I would like to work on this issue. Can you assign it to me?

[2022-03-08 16:07] alceil commented on #15825
Thanks @strongduanmu

[2022-03-08 17:05] Aftab700 commented on #15851
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 17:19] Aftab700 commented on #15851
hi !
here is pull request can you review it
https://github.com/apache/shardingsphere/pull/15895

[2022-03-08 17:27] Vaishnavi1411 commented on #15819
Hi, I am Vaishnavi , a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you.

[2022-03-08 17:29] Bhawna-Ad commented on #15818
Hey! I am a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you.

[2022-03-08 18:45] aaryan078 commented on #15692
Hi, I am aaryan, a contributor to OpenForce 2022. I would like to work on this issue. Anc can you please guide me what i have to do i  know just core java.

[2022-03-08 18:46] aaryan078 commented on #15881
Hi, I am aaryan, a contributor to OpenForce 2022. I would like to work on this issue

[2022-03-08 18:46] aaryan078 commented on #15820
Hi, I am aaryan, a contributor to OpenForce 2022. I would like to work on this issue.

[2022-03-08 18:48] aaryan078 commented on #15717
Hi, I am aaryan, a contributor to OpenForce 2022. I would like to work on this issue

[2022-03-08 18:48] aaryan078 commented on #15740
Hi, I am aaryan, a contributor to OpenForce 2022. I would like to work on this issue

[2022-03-08 21:35] manisha-27 commented on #15822
Hey @strongduanmu Can I work on this issue under OpenForce'22 ?

[2022-03-08 21:37] manisha-27 commented on #15820
Hey @strongduanmu Can I work on this issue under OpenForce'22 ?

[2022-03-08 21:37] manisha-27 commented on #15819
Hey @strongduanmu Can I work on this issue under OpenForce'22?

[2022-03-08 21:38] manisha-27 commented on #15818
Hey @strongduanmu Can I work on this issue under OpenForce'22 ?

[2022-03-08 21:39] manisha-27 commented on #15817
Hey @strongduanmu Can I work on this issue under OpenForce'22?

[2022-03-08 21:39] manisha-27 commented on #15816
Hey @strongduanmu, Can I work on this issue under OpenForce'22?

[2022-03-08 23:49] #15836 closed

[2022-03-08 23:56] linghengqian commented on #15881
Actually, I thought about a similar solution. Referring to the processing ideas of https://github.com/baomidou/dynamic-datasource-spring-boot-starter , I think it is possible to add the global configuration map of `hikaricp`, `dbcp` and `tomcat dbcp` under `spring.datasource.shardingsphere` (with these JDBC pool is used as an example because the source code of `shardingsphere` imports these three

[2022-03-09 00:28] strongduanmu commented on #15816
@manisha-27 Of course, I will assign this issue to you.

[2022-03-09 00:28] strongduanmu commented on #15817
@manisha-27 Of course, assigned.

[2022-03-09 00:31] strongduanmu commented on #15740
@aaryan078 Welcome, I will assign this issue to you.

[2022-03-09 00:52] aasim-syed opened #15896 "Github pages shows its active but its not . 404 error pops up"
### Expected behavior

### Actual behavior

![image](https://user-images.githubusercontent.com/70385414/157351286-ab15501e-86b7-486e-ac73-548ce1cf01b6.png)

[2022-03-09 00:53] aasim-syed opened #15897 "Improve the documentation"
### Is your feature request related to a problem?
Not a complex problem.
### Describe the feature you would like.
Improve readability of Documentation

[2022-03-09 00:57] zhao190775705 commented on #15792
If the result is the same, does the cache store a copy

[2022-03-09 00:59] zhao190775705 commented on #15792
It's stable now，batch insert？
Does the cache store multiple copies of a different number of inserts in a batch？

[2022-03-09 01:16] TeslaCN commented on #15792
It depends on how you do the batched inserts. If the SQLs are different, all SQLs will be cached.

[2022-03-09 01:57] Zhrey opened #15899 "The error occurred while setting parameters Case when is not supported ?????"
Case when is not supported ?????

  org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
   Error updating database.  Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.subquery.SubqueryExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.complex.Complex

[2022-03-09 02:02] linghengqian commented on #15896
What's this? There is no prompt in the documentation pointing to this link.

[2022-03-09 02:10] RaigorJiang commented on #15717
OK! @aaryan078
Because @afreenabegum removed the assignment before,  you can take it now.

[2022-03-09 02:11] zhao190775705 commented on #15792
insert sql don't cache, yes or no？
The only problem now is that there are too many batch insert cache SQL

[2022-03-09 02:36] #15873 closed

[2022-03-09 02:46] RaigorJiang commented on #15899
Hi @Zhrey
Please follow the issue template and provide more detailed information such as version, configuration, etc.

[2022-03-09 02:48] RaigorJiang commented on #15897
Hi @aasim-syed
Sorry, I can't understand what you want to do from the content of the issue, can you describe it in detail?

[2022-03-09 02:49] RaigorJiang commented on #15896
@aasim-syed  The URL you visited does not belong to the Apache organization.

[2022-03-09 02:58] soulasuna commented on #15405
@menghaoranss I can try `add Event when xaRecoveryId changed`, please  assign to me.

[2022-03-09 03:15] zjcnb opened #15901 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/vote.cn.md

Official document link:
https://shardingsphere.apache.org/community/cn

[2022-03-09 03:17] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:17] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:18] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:18] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:18] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:18] zjcnb commented on #15860
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:18] zjcnb commented on #15860
This issue has been completed, I will close it.

[2022-03-09 03:19] #15860 closed

[2022-03-09 03:19] zjcnb commented on #15851
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:19] zjcnb commented on #15851
Sorry, this issue has been completed, please pay attention to other issues.

[2022-03-09 03:21] zjcnb commented on #15851
This issue has been completed, i will close it.

[2022-03-09 03:21] #15851 closed

[2022-03-09 03:32] zjcnb opened #15902 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/release-elasticjob.cn.md

Official document link:
https://shardingsphere.apache.or

[2022-03-09 03:34] zjcnb opened #15903 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/2FA.cn.md

Official document link:
https://shardingsphere.apache.org/community/cn/

[2022-03-09 03:36] zjcnb opened #15904 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/icla.cn.md

Official document link:
https://shardingsphere.apache.org/community/cn

[2022-03-09 03:39] zjcnb opened #15905 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/subscribe.cn.md

Official document link:
https://shardingsphere.apache.org/communi

[2022-03-09 03:41] Swastyy commented on #15901
Hi @zjcnb , is this issue for newcomers or can I do it?

[2022-03-09 03:41] zjcnb opened #15906 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/release-elasticjob-ui.cn.md

Official document link:
https://shardingsphere.apache

[2022-03-09 03:44] zjcnb opened #15907 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/security/_index.cn.md

Official document link:
https://shardingsphere.apache.org/community/cn

[2022-03-09 04:17] Aftab700 commented on #15907
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 04:32] Aftab700 commented on #15907
hi !
here is pull request can please you review it
https://github.com/apache/shardingsphere/pull/15910

[2022-03-09 04:37] #15901 closed

[2022-03-09 04:38] #15907 closed

[2022-03-09 04:50] Aftab700 commented on #15906
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 04:51] zjcnb commented on #15906
Welcome

[2022-03-09 05:03] Aftab700 commented on #15906
Hi!
here is the pull request can you please review it
https://github.com/apache/shardingsphere/pull/15913

[2022-03-09 05:04] #15906 closed

[2022-03-09 05:05] ayushi424 commented on #15904
Hi, I am Ayushi, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you.
@zjcnb

[2022-03-09 05:06] zjcnb commented on #15904
Welcome.

[2022-03-09 05:12] TusharSharmaIN commented on #15905
please assign this to me.

[2022-03-09 05:17] zjcnb commented on #15905
OK.

[2022-03-09 05:22] kanak22 commented on #15902
Hey i would like to do this, kindly assign me

[2022-03-09 05:23] kanak22 commented on #15903
I can do this, Kindly assign me

[2022-03-09 05:32] Aftab700 commented on #15905
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 05:33] Aftab700 commented on #15902
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 05:51] kanak22 commented on #15903
Kindly review the PR.

[2022-03-09 05:55] kanak22 commented on #15905
Hello, I would like to do this, I am a contributor in openforce 2022. Kindly assign

[2022-03-09 05:56] RakeshPotnuru commented on #15703
@sandynz
Can I take this issue?

[2022-03-09 05:56] menghaoranss commented on #15822
@manisha-27 here is the issue list of OpenForce'22, feel free to pick one: https://github.com/apache/shardingsphere/issues?q=is%3Aopen+is%3Aissue+label%3A%22project%3A+OpenForce+2022%22+no%3Aassignee

[2022-03-09 06:01] #15903 closed

[2022-03-09 06:08] Aftab700 commented on #15902
Hello!
here is the pull request can you please review it
https://github.com/apache/shardingsphere/pull/15915

[2022-03-09 06:21] Aftab700 commented on #15905
Hi!
here is my pull request can you please review it
https://github.com/apache/shardingsphere/pull/15916

[2022-03-09 06:37] aishrii commented on #15905
Hi, I am Aishwarya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 06:42] pparthenhs commented on #15701
Hello @yx9o, the issue is ready. Please let me know of any code review comments.

Best regards,
Panagiotis Parthenis

[2022-03-09 06:48] zjcnb opened #15921 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/quick-start/shardingsphere-scaling-quick-start.cn.md

Official document link:
https://sharding

[2022-03-09 06:50] aishrii commented on #15921
Hi, I am Aishwarya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 06:53] onevroad commented on #15689
[code]

[2022-03-09 06:59] zjcnb opened #15923 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, keep a space between Chinese and English words

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/features/readwrite-splitting/_index.cn.md

Official document link:
https://shardingsphere.apac

[2022-03-09 07:01] aishrii commented on #15923
Hi, I am Aishwarya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 07:03] tiru233 commented on #15923
Hi, I am tirumala, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 07:05] #15904 closed

[2022-03-09 07:06] pparthenhs commented on #15730
Hello @RaigorJiang, I start working on this ticket. I  will inform you when is ready

[2022-03-09 07:22] Comven opened #15925 "After upgrading from 5.0.0 to 5.1.0, the query showed strange results?"
There is a table named 'order_statistics_info',Several statistics are generated every day,When the query is executed with version 5.0.0, the returned results are as follows:
[code]
There are 10 pieces of data in total on 2022-03-07.

But when I switched to version 5.1.0, executing the same SQL got different results:
[code]
It can be seen from the log that 19 pieces of data were returned.I analyzed

[2022-03-09 07:31] SirMin opened #15927 "TypedSPIRegistry's methods finregisteredService and GeregisteredService feel misleading"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-09 08:26] pparthenhs commented on #15730
Hello @RaigorJiang , the issue is ready. Please let me know of any code review comments.

Best regards,
Panagiotis Parthenis

[2022-03-09 08:27] manisha-27 commented on #15817
Thankyou @strongduanmu
Also I'm a begginer can you guide me how to proceed with the issue.

[2022-03-09 08:53] TeslaCN commented on #15876
Some databases like PostgreSQL may not support connect to different databases through one connection. What's the problem of creating 100 connection pools?

[2022-03-09 09:03] #15905 closed

[2022-03-09 09:22] RaigorJiang commented on #15730
Hi @pparthenhs
It's OK, let's wait for CI to finish.

[2022-03-09 09:23] AnushkaSingh1 commented on #15921
Hi, I am Anushka, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 09:38] AnushkaSingh1 commented on #15902
Hi, I am Anushka, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 09:49] strongduanmu opened #15936 "Shardingsphere JDBC has performance problem when using mysql 8.x driver"
When we use MySQL Connector/J 8.0.27 for stress testing, we find that COM_STMT_RESET is frequently sent, which greatly reduces QPS.

![image](https://user-images.githubusercontent.com/10829171/157414952-6e856484-ddfb-4c3c-9cb7-9d98e6dbe13c.png)

We found that this problem is caused by the frequent creation/closing actual statements by ShardingSpherePreparedStatement, so caching actual statements c

[2022-03-09 09:51] AnushkaSingh1 commented on #15902
hey! https://github.com/apache/shardingsphere/pull/15935
This is my pull request, please review it and mark as "approved". Thank You

[2022-03-09 10:45] breezeLoganGithub opened #15938 "5.0.0+DruidDataSource+jpa get a Exception while run app"
myconfig:
server:
  # 服务器的HTTP端口，默认为80
  port: 8080

# Spring配置
spring:
  shardingsphere:
    # 数据源配置
    datasource:
      # 数据源名称，多数据源以逗号分隔
      names: db0 #
      db0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://192.168.18.128:3307/shardingsphere?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai

[2022-03-09 10:47] ritikdeswal commented on #15923
Hi, I am Ritik deswal, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 10:53] alceil commented on #15825
Hey @strongduanmu is there any similar test I can refer too to get an idea to solve this issue?

[2022-03-09 10:57] strongduanmu commented on #15825
Hi @alceil, you can refer EncryptAlterTableTokenGeneratorTest.

[2022-03-09 11:00] #15730 closed

[2022-03-09 11:08] arewei opened #15940 "Does shardingsphere-jdbc version 5.1.0 not support column name start with underline, e.g. _code ?"
## Question

Does shardingsphere-jdbc version 5.1.0 not support column name start with underline, e.g. _code ?
full sql is:
[code]

the exception is:
[code]

[2022-03-09 11:14] zjcnb commented on #15938
@breezeLoganGithub Hi, it 's work well when i use your cofiguratuin.

[code]

Btw, According your error message, i think your loss mysql or druid dependency.

[2022-03-09 11:15] Aftab700 commented on #15902
updated pull request kindly review
https://github.com/apache/shardingsphere/pull/15939

[2022-03-09 11:34] Aftab700 commented on #15923
Hi, I am Aftab, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 11:39] Aftab700 commented on #15923
Hi!
here is my pull request can you please review it
https://github.com/apache/shardingsphere/pull/15941

[2022-03-09 12:13] strongduanmu commented on #15817
Hi @manisha-27, you can refer to EncryptAlterTableTokenGeneratorTest, it is a good example.

[2022-03-09 12:23] gauriimaheshwarii commented on #15923
@zjcnb
Hi, I am Gauri Maheshwari, a contributor to OpenForce 2022. I would like to work on this issue.
I would be making a PR as soon as I am done with resolving the issue.

[2022-03-09 13:33] aasim-syed commented on #15896
THEN WHAT DOES THIS LEAD TO. ONLY THING INVALID IS THIS LABEL ON THE ISSUE.
![image](https://user-images.githubusercontent.com/70385414/157451593-3fe1ea55-141a-47cb-a663-d0a9ce03be20.png)

[2022-03-09 13:57] Girlwithasmile commented on #15923
Hello I am an openforce 2022 contributer and would like to work on this.

[2022-03-09 14:29] RaigorJiang commented on #15896
Oh, I find it!  Thank you @aasim-syed .

[2022-03-09 14:29] RaigorJiang commented on #15896
<img width="493" alt="image" src="https://user-images.githubusercontent.com/5668787/157461645-700ae39e-b46a-420c-9c40-d074ce9d0160.png">

[2022-03-09 14:30] RaigorJiang commented on #15896
Hi @taojintianxia
Could you have a look?

[2022-03-09 14:34] #15923 closed

[2022-03-09 14:58] breezeLoganGithub commented on #15938
I find the key!
I use the "druid-spring-boot-starter" so it will fail to start the App,and get the error
It must use the "druid" the app will start correctly.

[2022-03-09 15:01] huyu-tom opened #15948 "Mysql Jdbc setBlob() cannot be replaced with setObject(), causing data inconsistencies ,Shardingjdbc4.1.1"
![image](https://user-images.githubusercontent.com/54206202/157466065-36ac3138-aeb5-424f-94d9-e916063e2168.png)
![b3ba7997fcb0b09897f36158f6fa704](https://user-images.githubusercontent.com/54206202/157468063-5a171bd6-4dc6-4902-bbc4-71fd2b296ff3.png)
![c1a9fd4d34c67739798d3e8df31ba2d](https://user-images.githubusercontent.com/54206202/157468095-56aab8ca-6685-495a-bc24-3032e97f0728.png)

[2022-03-09 15:19] cheese8 opened #15949 "The PredicateColumnToken and PredicateRightValueToken should be matched"
## Bug Report

The PredicateColumnToken and PredicateRightValueToken should be matched no matter queryWithCipherColumn = false/true.
When PredicateColumnToken using plain the PredicateRightValueToken should using plain, PredicateColumnToken using assistQuery the PredicateRightValueToken should using assistQuery, and PredicateColumnToken using cipher the PredicateRightValueToken should using cipher

[2022-03-09 15:28] breezeLoganGithub opened #15950 "How to customized my specific Sharding Strategy"
I check the user 's manual said it support user customized Sharding Strategy。
How to do it,can you provide an example , 3ks:)

[2022-03-09 15:28] zjcnb commented on #15938
So, this issue can closed?

[2022-03-09 15:33] zjcnb commented on #15950
Please refer to : https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example

[2022-03-09 15:48] #15938 closed

[2022-03-09 16:57] alceil commented on #15825
Where should I place the Test file. Like which folder @strongduanmu

[2022-03-09 17:04] taojintianxia commented on #15896
let me ask the infra team about this . I saw this kind of issue on some other Apache project, let me try to fix it

[2022-03-09 22:59] Liangda-w opened #15954 "[OpenForce 2022] Add Oracle SQL `DROP DATABASE LINK`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-09 23:03] Liangda-w opened #15955 "[OpenForce 2022] Add Oracle SQL `ALTER DATABASE LINK`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-03-10 01:00] #15701 closed

[2022-03-10 01:57] #15936 closed

[2022-03-10 02:29] RaigorJiang commented on #15925
Hi @Comven
Thanks for your report. For your question:
`Actual SQL` looks the same, but the result row count is different, which is weird
Can you provide a demo that reproduces the problem?

[2022-03-10 02:38] sandynz commented on #15703
@RakeshPotnuru Welcome! Assigned to you.

[2022-03-10 02:43] Enhengtaken commented on #14728
@tuichenchuxin about having plan to support infomation_schema information later. That will support information_schema.TABLES? and about any issues?

[2022-03-10 03:01] tuichenchuxin commented on #14728
@Enhengtaken Has plan.

[2022-03-10 03:07] breezeLoganGithub commented on #15950
can you give some detial for ClassBasedOrderItemStandardShardingAlgorithmFixture ,I have no idea for the functions.3ks

[2022-03-10 03:17] Enhengtaken commented on #14728
@tuichenchuxin which issue？

[2022-03-10 03:30] tuichenchuxin commented on #14728
@Enhengtaken still in plan, not have issue for now.

[2022-03-10 03:56] Enhengtaken commented on #14728
ok,thank you! information_schema.COLUMNS  also not support. error :information_schema.COLUMNS

[2022-03-10 04:12] sandynz opened #15959 "CuratorZookeeperRepository.get might return old value, it make scaling job could not be created"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit e5cb7628ebcda4b5c78cadcf97be61c8ccc3c407

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling enabled

### Expected behavior
Scaling job start successfully.

### Actual behavior
Scaling job could not start.
Error log:
[code]

### Reason analyze (If you can)
Su

[2022-03-10 05:43] TeslaCN commented on #15792
The SQL will be cached if you use the PreparedStatement.

[2022-03-10 05:44] AnushkaSingh1 commented on #15921
https://github.com/apache/shardingsphere/pull/15960
Here is my pr, please review it. Thank you

[2022-03-10 05:57] everly-gif commented on #15954
Hi, I'm willing to give this a try as a part of openforce. Please assign this issue to me

[2022-03-10 06:01] Liangda-w commented on #15954
@everly-gif sure, welcome!

[2022-03-10 06:22] zjcnb opened #15962 "Registry center persist table name `Uppercase` and `Lowercase` problem."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Uppercase table name can delete for `ZooKeeper` nodes.

### Actual behavior

Not deleted.

### Configuration

`server.yaml:`

[code]

`config-sharding-db.yaml:`

[code]

### Steps to reproduce

`First step : ` Shardi

[2022-03-10 06:33] zjcnb commented on #15921
Hello everyone, this issue are fixed by @AnushkaSingh1. So i will close it.

[2022-03-10 06:33] zjcnb commented on #15921
Hello everyone, this issue are fixed by @AnushkaSingh1. So i will close it.

[2022-03-10 06:33] #15921 closed

[2022-03-10 06:37] qiaoheng110 opened #15963 "Which version of org.apache.curator should I use in shardingsphere 5.1.0"
## Question
Which version of org.apache.curator should I use in shardingsphere 5.1.0
cluster mod
<img width="873" alt="image" src="https://user-images.githubusercontent.com/20252910/157603534-140a6620-5c9a-4229-88eb-2981475b9690.png">

[2022-03-10 07:03] Girlwithasmile commented on #15801
I am a contributer at openforce 2022 and would like to contribute to this

[2022-03-10 07:03] lxb1742 opened #15964 "org.apache.shardingsphere.sql.parser.autogen not exists"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-10 07:23] zjcnb commented on #15963
@qiaoheng110 Hi, you can dependency it if you use cluster mode :

[code]

[2022-03-10 07:24] menghaoranss commented on #15959
@sandynz I will follow up.

[2022-03-10 07:30] qiaoheng110 commented on #15963
<img width="829" alt="image" src="https://user-images.githubusercontent.com/20252910/157610730-7f2b3874-4cae-458a-931f-7cef267f6ae6.png">
@zjcnb another problem occurred

[2022-03-10 07:37] cheese8 commented on #15964
mvn install first

[2022-03-10 07:38] #15949 closed

[2022-03-10 07:43] menghaoranss opened #15966 "Refresh the status of compute node instance list when instance enabled or disabled"
## Question

Now, all the compute nodes are persisted to `InstanceContext`, when we execute the following `DistSQL` to changed the status of instance:

[code]

the method ` InstanceContext.updateInstanceStatus` just refresh the status of current instance, the list of compute node should be refreshed to ensure that cluster state is consistent.

## How to fix
refer to `InstanceContext.updateLabel`

[2022-03-10 07:45] soulasuna commented on #15966
I can try assign to me please.

[2022-03-10 08:26] zjcnb opened #15967 "[New Feature] Detect master-slave replication delay in `shardingsphere-db-discovery-provider` module"
Hi community,

   We plan to monitor slave data source delay time when we use `readwrite-splitting`. We can set a threshold for the delay time for every slave data source, `ShardingSphere` will automatic offline this data source when slave data source delay time exceeded threshold, it is convenient for us to better route the read traffic. And we can use `DistSQL` to show all slave data source dela

[2022-03-10 08:38] strongduanmu opened #15968 "Statement close exception occur when use BatchPreparedStatementExecutor"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/f753e93d6bfe63f5df9271fe4a4c33d1527d9a01

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute sql by executeBatch successfully

### Actual behavior

[code]

### Reason analyze (If you can)

This is a bug by #15

[2022-03-10 08:50] #15718 closed

[2022-03-10 08:51] #15800 closed

[2022-03-10 08:55] wangzb105 opened #15970 "Lost quotes for value in `PROPERTIES` when adding rules using DistSQL"
## Question
**Using Yaml**
[code]
result:
[code]
**Using DistSQL**

[code]
result:
[code]
use shardingsphere-proxy-5.1.0 version
The sharded database algorithm created using DistSql RDL does not recognize the default string in the expression

[2022-03-10 09:05] Aaditya-Singh78 commented on #15921
Hi, I am Aaditya Singh, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-10 09:13] tuichenchuxin opened #15972 "`CuratorZookeeperRepository` can't get latest content."
## Bug Report

### Which version of ShardingSphere did you use?
master - 06834bbe4079a25b256c2467c5d857192162b8b0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
zk get latest content
### Actual behavior
zk doesn't get latest content
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute,

[2022-03-10 09:22] #15968 closed

[2022-03-10 09:54] menghaoranss commented on #15972
@tuichenchuxin same as #15959 , I will fix ASAP

[2022-03-10 09:56] RaigorJiang commented on #15970
Hi @wangzb105
Thanks for your report.

@lanchengx Could you help to check it?

[2022-03-10 09:59] lanchengx commented on #15970
@RaigorJiang @wangzb105 I will check

[2022-03-10 10:14] zjcnb commented on #15967
Need to confim api and I will reopen after confirm.

[2022-03-10 11:00] pparthenhs commented on #15729
Dear @RaigorJiang ,

I could work on this. I will let you know when it is ready

Best regards,
Panagiotis Parthenis

[2022-03-10 11:33] onevroad opened #15975 "Cannot select count in Oracle"
## Bug Report

When I select count in multi-tables by using ShardingSphere, it throw a NullPointerException error.

### Which version of ShardingSphere did you use?

sharding 5.1.0
java 1.8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavio

[2022-03-10 11:44] pparthenhs commented on #15729
MR is ready !! :rocket:

Please let me know if there are any code review comments

[2022-03-10 11:53] shreya024 commented on #15700
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-10 12:39] breezeLoganGithub opened #15979 "I get a error when config with master-slave"
myconfig is :
server:
  # 服务器的HTTP端口，默认为80
  port: 8080

# Spring配置
spring:
  shardingsphere:
    # 数据源配置
    datasource:
      # 数据源名称，多数据源以逗号分隔
      names: db0,db1 #
      db0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.18.128:3307/shardingsphere?characterEncoding=utf8&useSSL=false&serverTimezone=Asi

[2022-03-10 12:55] Comven commented on #15925
@RaigorJiang
I found that there is a time range boundary problem in some environments. For example, when querying from `2022-03-07 00:00:00.0` to `2022-03-07 23:59:59.999`, the result of version 5.0.0 is correct, and the records of `2022-03-07` and `2022-03-08` will be queried in version 5.1.0. However, version 5.1.0 can only return correct results when querying from `2022-03-07 00:00:00.0` to `20

[2022-03-10 13:00] RaigorJiang commented on #15729
@pparthenhs
OK, let's wait for the CI, thank you!

[2022-03-10 13:47] zjcnb commented on #15979
@breezeLoganGithub Hi, can you translate Chinese to English?

[2022-03-10 14:20] BashCache commented on #15699
Hi,
I have added the unit tests and raised a PR for the same. Please let me know if there are any changes to be made :)

[2022-03-10 15:29] breezeLoganGithub commented on #15979
[code]

[2022-03-11 00:54] strongduanmu commented on #15697
Welcome @sandynz, I will assign this issue to you.

[2022-03-11 00:58] strongduanmu commented on #15975
@onevroad Thank you for your feedback, we will investigate this issue.

[2022-03-11 01:09] cheese8 commented on #15975
I will take a look.

[2022-03-11 01:09] cheese8 commented on #15689
I will take a look.

[2022-03-11 01:16] strongduanmu commented on #15975
@cheese8 Welcome.

[2022-03-11 02:08] nekolr commented on #15629
Same problem, i traced the call stack and found the reason:

[code]

[code]

[2022-03-11 02:11] sandynz commented on #15697
Hi @shreya024 , welcome!

[2022-03-11 02:23] #15729 closed

[2022-03-11 02:27] RaigorJiang commented on #15925
@Comven Hi, Please provide your sharding algorithm and configuration, let's check it.

[2022-03-11 02:40] wangzb105 opened #15983 "sharding connection problem"
## Bug Report
15/5000
Use the program to create a Pymysql connection and use the connection to execute it
execute twice create database if not exists seer_dev default charset utf8mb4 collate utf8mb4_unicode_ci;
err: pymysql.err.ProgrammingError: (1007, "Can't create database 'seer_dev'; database exists")
execute use seer_dev;
err: pymysql.err.OperationalError: (1997, 'Runtime exception: [Failed to

[2022-03-11 02:45] Comven commented on #15925
@RaigorJiang
My strategy of splitting tables is mainly to divide tables by month，For example, order information table. However, the table named `order_statistics_info` with problems is not divided into databases or tables,This table only uses shardingsphere for read-write separation
[code]

[2022-03-11 03:03] jinpengSun opened #15984 "Data truncation: Out of range value for column"
## Bug Report
Use  ShardingSphere-Proxy and Sharding-Scaling to synchronize MySQL data, and report an error when incrementally synchronizing data: Data truncation: Out of range value for column xx

### Which version of ShardingSphere did you use?
version 4.1.1  Sharding-Scaling

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
project use ShardingSphere-Proxy

### Expect

[2022-03-11 03:14] RaigorJiang commented on #15925
OK, can you give me the table structure too, I want to reproduce this scenario.

[2022-03-11 03:20] zjcnb commented on #15979
Please refer to : https://community.sphere-ex.com/t/topic/637

[2022-03-11 03:57] Comven commented on #15925
The table structure like this:
[code]
Some data like this:
[code]
I did not repeat this problem in the local test, but the production environment has this problem, This is very distressing.

[2022-03-11 03:59] yx9o commented on #15692
@aaryan078 Hi, you need to add unit tests for the methods listed above in the `AuthorityRuleTest` class.

[2022-03-11 04:04] liruhui opened #15985 "Don't know how to code"
## reply Issue #15734
[code]

## 1: Scene one

[code]

### 1.1. code
[code]

 ### 1.2 error
[code]

## 2: Scene two
[code]
### 2.1. mod code
[code]

### 2.2. mod error

[code]
### 2.3 inline code
[code]
# Please give me  an example demo
# Please give me  an example demo
# Please give me  an example demo
[code]

[2022-03-11 04:13] #15972 closed

[2022-03-11 07:18] zhqiang-li opened #15992 "oracle+sharding-jdbc-spring-boot4.1.1 startup error ORA-00942: 表或视图不存在"
### Which version of ShardingSphere did you use?
[code]

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Start and create a datasource

### Actual behavior
startup error：
java.sql.SQLSyntaxErrorException: ORA-00942: 表或视图不存在

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name

[2022-03-11 08:07] #15963 closed

[2022-03-11 08:43] strongduanmu opened #15995 "ShardingSphere-JDBC addBatch executeBatch performance optimize"
## Feature Request

Now, we use TPCC to test the performance of ShardingSphere-JDBC and find that the performance loss of addBatch and executeBatch is large, and the logic needs to be optimized.

![image](https://user-images.githubusercontent.com/10829171/157831442-b760111c-554b-47b5-9ffe-3d2687482e27.png)

### Is your feature request related to a problem?

No.

### Describe the feature you would

[2022-03-11 08:48] liruhui opened #15996 "Database names and table names are irregular"
# follow Issues15985

## question
[code]

## help
[code]

[2022-03-11 09:18] qiaoheng110 opened #15998 "Cluster Mode ClassNotFoundException: org.apache.curator.connection.StandardConnectionHandlingPolicy"
when i use Cluster Mode
<img width="271" alt="image" src="https://user-images.githubusercontent.com/20252910/157838059-6ef39a6a-f843-4073-ae6f-c4325a7efc90.png">
5.1.0
<img width="650" alt="image" src="https://user-images.githubusercontent.com/20252910/157838143-27f2ff79-70e7-4b7b-b4db-e4cb42391ef3.png">
<img width="684" alt="image" src="https://user-images.githubusercontent.com/20252910/157838202

[2022-03-11 10:29] AnushkaSingh1 commented on #15955
Hi, I am Anushka, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-11 10:39] utkershrajvenshi commented on #15955
Hi @Liangda-w
I'd like to explore this issue. Could you please point me to resources for learning about ANTLR G4 files.
I would like to contribute under OpenForce 2022. Could you please assign this ticket to me..

[2022-03-11 10:48] zjcnb commented on #15998
@qiaoheng110 I guess your maven dependency conflict, Can you show your `pom.xml`?

[2022-03-11 11:48] tuichenchuxin opened #16001 "Unify encrypt test cases."
In encrypt test, we have two config.
`cipher` and `plain`
They are almost same but for `queryWithCipherColumn: false/true`
So the cases should be same for each config.
I want to add test cases if any config is missing cases.

[2022-03-11 12:08] Swastyy commented on #15712
Hi @RaigorJiang @yx9o , in this I have to create a module `class-based-sharding-algorithm-example` inside `class-based-sharding-raw-jdbc-example` ([here](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-example/custom-sharding-algortihm-example/class-based-sharding-algorithm-example/class-based-sharding-raw-jdbc-example))
Co

[2022-03-11 12:16] pparthenhs commented on #15728
Dear @RaigorJiang,

I could work on this ! ... I will let you know when it is ready !!

Best regards,
Panagiotis Parthenis

[2022-03-11 12:49] Liangda-w commented on #15955
Hi @AnushkaSingh1, welcome! Assigned to you:)

[2022-03-11 13:00] Liangda-w commented on #15955
Hi @utkershrajvenshi, thanks for your interest! However as @AnushkaSingh1 comes first, I just assigned this issue to her.
If you would like to work on similar issues, you can find more [here](https://github.com/apache/shardingsphere/issues?q=is%3Aissue+is%3Aopen+label%3A%22project%3A+OpenForce+2022%22+++label%3A%22in%3A+SQL+parse%22+no%3Aassignee+) about PostgreSQL, which haven't been assigned yet

[2022-03-11 13:10] pk-218 commented on #15746
Hey @tuichenchuxin! I am contributing to OpenForce 2022 and would like to work on this issue. Could you assign it to me?

[2022-03-11 13:24] terrymanu opened #16005 "Redesign RDL integrate test engine and cases"
The current RDL integrate test engine and cases are in-corrected.

I just removed the cases on #16004.

The problem of current RDL cases:

1. The SQL of case should be RDL, not RQL;
2. Should not change current rules, which are used to RAL and RQL, it is better to CREATE/ALTER/DROP new rule for assertion.

Please Redesign the RDL test engine and rewrite the related test cases.

[2022-03-11 14:07] csdeng84 opened #16008 "91/5000 When a table using the standard subdivision strategy, if use hintManager. SetDatabaseShardingValue addTableShardingValue, cannot be routed to the corresponding database and table"
91/5000
When a table using the standard subdivision strategy, if use hintManager. SetDatabaseShardingValue addTableShardingValue, cannot be routed to the corresponding database and table。

because in  ShardingStandardRoutingEngine.java (line 78)
only   use HintShardingStrategy can enter into the function  isRoutingByHint
-----------------------------------------------------------------------------

[2022-03-11 15:09] xqfgbc commented on #13586
same problem, any workaround solution?

[2022-03-11 15:34] menghaoranss commented on #15959
fixes by #15986

[2022-03-11 15:34] #15959 closed

[2022-03-11 15:35] menghaoranss commented on #15752
fixes by #15986

[2022-03-11 15:35] #15752 closed

[2022-03-11 16:18] menghaoranss commented on #11958
fixed by #15875

[2022-03-11 16:18] #11958 closed

[2022-03-11 16:44] menghaoranss commented on #15966
fixes by #15991

[2022-03-11 16:44] #15966 closed

[2022-03-12 03:22] linghengqian commented on #15327
Note that this seems to be my misunderstanding. Referring to https://github.com/h2database/h2database/issues/2180, I submitted a PR to verify. This is because an old JDBC driver is used to access H2Database. Wrong. All I'm not sure about what to do next, importing two versions of H2's JDBC driver in the POM? It's a bit beyond imagination.

[2022-03-12 05:02] varsha089 commented on #15702
Hi, I am Varsha, a contributor to OpenForce 2022. I would like to work on this issue. Please guide me on how to proceed in this issue, I know basic Java and SQL.

[2022-03-12 05:07] varsha089 commented on #15700
Hi, I am Varsha, a contributor to OpenForce 2022. I would like to work on this issue. Please guide me on how to proceed on this issue I am familiar with basic java and SQL.

[2022-03-12 07:05] sandynz commented on #15702
Hi @varsha089 , welcome!

Knowing basic Java and SQL is enough to contribute on this issue. You could have a look at [Contributor Guide]( https://shardingsphere.apache.org/community/en/contribute/contributor/ ) and [Set Up Env]( https://shardingsphere.apache.org/community/en/contribute/establish-project/ ) firstly.

[2022-03-12 07:49] TeslaCN commented on #15964
Please refer to FAQ.
https://shardingsphere.apache.org/document/current/en/reference/faq/

[2022-03-12 07:49] #15964 closed

[2022-03-12 07:51] #15845 closed

[2022-03-12 08:28] varsha089 commented on #15702
Thank you so much

On Sat, 12 Mar, 2022, 12:35 pm Hongsheng Zhong, ***@***.***>
wrote:

[2022-03-12 08:46] luoye1989hzx opened #16022 "distributed transaction, two data source"
There are two data sources in a method, one sharding, one not.
How to guarantee transaction?
Is there a reasonable solution?

[2022-03-12 08:54] #15970 closed

[2022-03-12 10:32] pk-218 commented on #15746
I am encountering the following error

![image](https://user-images.githubusercontent.com/53428217/158014283-d0d90c86-06aa-450e-9112-c3e0a0d65035.png)

[code]

The ANTLR plugin is unable to detect the `ModeLexer.g4` import from `src/main/antlr4/imports/postgresql` to `src/main/antlr4/org/apache/shardingsphere/sql/parser/autogen` for the `PostgreSQLStatementLexer` grammar.

The same issue arises fo

[2022-03-12 10:56] Swastyy commented on #15712
Hey @RaigorJiang , I cannot comment on the PR, I have understood it, and used `ShardingRawJavaConfigurationExample.java` for reference. Let me know if the configuration is not correctly used. Thanks.

[2022-03-12 12:01] nikhilmaurya26 commented on #16005
Hi @terrymanu , I am Nikhil, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-12 13:18] tuichenchuxin commented on #15746
@pk-218 This error needs no worry. Because of the antlr file is in different package, So the antlr plugin can't support.
Just need to detect the `TCLStatement`, `DCLStatement`, `DALStatement`, `StoreProcedure`.

[2022-03-12 13:52] pk-218 commented on #15746
@tuichenchuxin How do I make sure the grammars `TCLStatement`, `DCLStatement`, `DALStatement`, `StoreProcedure` are detected for `PostgreSQLStatementParser`? I am getting the same error in `PostgreSQLStatementParser.g4`.

[2022-03-12 14:37] tuichenchuxin commented on #15746
@pk-218 Because `PostgreSQLStatementParser` grammar is the root grammar, And it's grammar logic is very clear.  The error is because of different package. So we don't need to detected this file. And for this issue, I think we need to find whether shardingSphere has this grammar or not. And if had this grammar, then check out whether this rule is in `PostgreSQLStatementParser.g4` or not.

[2022-03-13 03:44] terrymanu commented on #16005
Hi, Nikhil. Welcome to pick up this issue, any question please contact me freely.

[2022-03-13 04:09] #15822 closed

[2022-03-13 06:37] RaigorJiang commented on #15992
Hi @zhqiang-li
I see that you are using druid-spring-boot-starter, please see if the FAQ helps?
https://shardingsphere.apache.org/document/current/en/reference/faq/#jdbc-why-there-may-be-an-error-when-configure-both-shardingsphere-jdbc-spring-boot-starter-and-a-spring-boot-starter-of-certain-datasource-poolsuch-as-druid

[2022-03-13 06:41] RaigorJiang commented on #15983
@wangzb105
Thanks for your report, I'll check it.

[2022-03-13 06:51] RaigorJiang commented on #15940
Hi @arewei
Fields starting with `_` are not currently supported, but you can use them by adding quotes, e.g. `_code`:
[code]

[2022-03-13 07:03] RaigorJiang commented on #15927
Hi @SirMin
Actually, `findXxx` and `getXxx` here means to get registered SPI types, not SPI instances.
Do you have any other suggestions?

[2022-03-13 07:07] RaigorJiang commented on #16008
Hi @csdeng84
The hint algorithm is indeed prepared for the hint strategy.

[2022-03-13 07:32] acmenlt commented on #15801
You can give it to me, thank you.

[2022-03-13 07:34] zjcnb commented on #15801
Welcome, i assigned you @acmenlt.

[2022-03-13 08:13] BashCache commented on #15696
Hi,
I would like to work on this issue. Could you please assign this to me.

[2022-03-13 08:19] RaigorJiang commented on #15985
Two problems:

1. When `new ShardingAutoTableRuleConfiguration`, the second parameter should be `ds`, only specify dataSources:
[code]

2. Regarding inline expressions, no matter what your actual databases are called, the keys in dataSourceMap can be regular, such as
[code]

[2022-03-13 08:22] strongduanmu commented on #15940
Hi @arewei Thank you for your feedback, @tuichenchuxin Can you help check this issue?

[2022-03-13 08:23] RaigorJiang commented on #16022
Hi @luoye1989hzx
Are both data sources in ShardingSphere's logical schema? Please provide more information.

[2022-03-13 08:26] RaigorJiang commented on #15996
Duplicated with #15985

[2022-03-13 08:26] #15996 closed

[2022-03-13 08:29] arewei commented on #15940
@RaigorJiang , @strongduanmu  Thanks a lot, it works by adding quotes.

[2022-03-13 08:40] #15954 closed

[2022-03-13 10:40] huangxfchn commented on #15086
@terrymanu
Hi~，Brother Liang. My project also uses open-tracing for jdbc, it will proxy the getConnection method of javax.sql.DataSource, and spring 2.x uses cglib proxy by default, but ShardingSphereDataSource is a final class. So, if the DataSource is proxied, this exception will occur. The similar code like this:
[code]

[2022-03-13 12:57] sandynz commented on #15696
Hi @BashCache , welcome! Assigned.

[2022-03-13 15:45] menghaoranss opened #16039 "The unit test execute failed occasionally in shardingsphere-proxy-backend"
[code]

[2022-03-13 15:47] menghaoranss commented on #16039
It may be caused by multiple unit tests using `ProxyContext` at the same time, I will follow up.

[2022-03-13 18:13] Ash-KODES commented on #15818
Hey,I want work on this issue since no PR had made yet!
#OPENFORCE 2022

[2022-03-13 18:19] Ash-KODES commented on #15810
Can I work on this since No PR had made till now?
#openforce 2022

[2022-03-14 00:46] strongduanmu commented on #15818
@manisha-27 @Ash-KODES Welcome, I will assign this issue to you.

[2022-03-14 01:17] #16001 closed

[2022-03-14 01:33] luoye1989hzx commented on #16022
One is， one not

[2022-03-14 01:34] #15697 closed

[2022-03-14 01:49] #11371 closed

[2022-03-14 01:58] RaigorJiang commented on #16022
In this case, the transaction needs to be actively guaranteed by yourself, such as sending commits and rollbacks.
In fact, with or without sharding, your data sources can be handed over to ShardingSphere for consolidation so that XA transactions can be used.

[2022-03-14 02:00] lifw555 commented on #2452
mysql 5.6 has the same error

sharding 5.0.0 version

[2022-03-14 02:01] RaigorJiang commented on #15810
Hi @MitAbhay Are you working on this issue? Do we need to assign it to someone else?

[2022-03-14 02:10] shreya024 commented on #12171
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-14 02:37] zjcnb opened #16043 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, change `sql` to `SQL` and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/java-api/rules/sql-parser.cn.md

O

[2022-03-14 02:42] zjcnb opened #16044 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `inline` word and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding.

[2022-03-14 02:43] huangxfchn commented on #15086
You can change the proxy of spring to `jdk` proxy, but it is not recommended. After all, there is a reason why spring boot uses cglib proxy by default. You can refer to the relevant information

In fact, the best way is to disable dynamic proxying for `ShardingSphereDataSource`. We can change the beanName of ShardingSphereDataSource to `shardingSphereDataSource.ORIGINAL` and mark it as the origina

[2022-03-14 02:44] zjcnb opened #16045 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below,  search `SQL` word and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sql-parser.

[2022-03-14 02:50] zjcnb opened #16046 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below:

Search  `SM4 使用的 IV （MODE为CBC时需指定，16 Bytes）`,  `NoPadding` keep a space between Chinese and English words.
Search ` 空 或 8 Bytes`, remove space between `空` and `或`.

Source file:
https://github.com/apache/shardingsphere/blob/maste

[2022-03-14 02:54] zjcnb opened #16047 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `APM` word and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/special-api/observability/apm-integrat

[2022-03-14 03:04] Swastyy commented on #16043
Hey @zjcnb , let me do this one for OpenForce. 😃

[2022-03-14 03:08] huangxfchn commented on #15086
Is‘t necessary to declare `ShardingSphereDataSource` as a final class?

[2022-03-14 03:27] vardhinii commented on #16047
Hi, I'm a contributor under OpenForce'22. I will work on this issue and make a PR soon. Kindly assign me this issue.

[2022-03-14 03:28] RakeshPotnuru commented on #16045
I want to take this

[2022-03-14 03:31] vardhinii commented on #16046
Hi @zjcnb, I'm a contributor under OpenForce'22, and I will make a PR for this issue soon. Please assign me this issue.

[2022-03-14 03:33] zjcnb commented on #16047
Welcome, I assigned to you.

[2022-03-14 03:34] BashCache commented on #16044
Hi,
I would like to work on this. Could you please assign the issue to me

[2022-03-14 03:34] zjcnb commented on #16045
Welcome, I assigned to you.

[2022-03-14 03:35] zjcnb commented on #16044
Yes, welcome.

[2022-03-14 03:36] zjcnb commented on #16043
Cool.

[2022-03-14 03:40] sandynz opened #16050 "show create table with foreign key might return wrong SQL in Proxy with MySQL backend"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 49f1fe687fb8a05f7ae5d1db9c7361bf3b567ecb

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling enabled.
Table `bmsql_district` is sharded with count `2`.

### Expected behavior
`show create table bmsql_district;` return correct SQL.

### Actual behavior
The `RE

[2022-03-14 03:43] strongduanmu commented on #16050
@sandynz Thank you for your feedback, I will investigate this issue.

[2022-03-14 03:52] #16043 closed

[2022-03-14 03:56] #16047 closed

[2022-03-14 04:01] zjcnb commented on #16046
It 's done, i closed it.

[2022-03-14 04:01] #16046 closed

[2022-03-14 05:15] AnuragProg commented on #15751
I am sorry but I am unassigning myself from this issue as I am having various issues with the project and given that I am having my college exams I don't think that I will be able to contribute to this issue and does not want to block any other contributor who can resolve this issue from contributing.

[2022-03-14 05:23] MitAbhay commented on #15810
@RaigorJiang  Sorry for being late, I am busy with some other problems, so yes you can unassign me and assign this to another person.

[2022-03-14 06:05] tuichenchuxin commented on #15751
@AnuragProg :) That's ok. You are always welcome when you are free.

[2022-03-14 06:07] #15662 closed

[2022-03-14 06:11] AnuragProg commented on #15751
Thanks for understanding @tuichenchuxin !

[2022-03-14 06:14] TeslaCN opened #16059 "Travis CI failure caused by jacoco:prepare-agent failed"
## CI

https://app.travis-ci.com/github/apache/shardingsphere/builds/247807532

[2022-03-14 06:14] RaigorJiang commented on #15810
@MitAbhay  It's OK, thank you for your interest in Apache ShardingSphere.

[2022-03-14 06:16] RaigorJiang commented on #15810
@Ash-KODES Welcome, assigned!

[2022-03-14 06:32] zjcnb opened #16060 "Complie error message"
[code]

[2022-03-14 07:04] TeslaCN opened #16062 "Potential performance issue and risk of OOM in ShardingSphere-JDBC's MethodInvocationRecorder"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/158120997-a9e880a1-8a9f-44c9-8bb8-43b6b21198b9.png)

### Reason analyze (If you can)

Setting methods (such as `setFetchSize`) in JDBC are able to invo

[2022-03-14 07:14] #15623 closed

[2022-03-14 07:20] RaigorJiang commented on #15925
Hi @Comven
I investigated according to the configuration and table structure you provided and found that the algorithm behaves normally. But there are some problems with your configuration:
You configured a interval algorithm but did not specify a sharding strategy for the table.

The following is my adjusted configuration, the data queried is as expected.
[code]

[2022-03-14 07:21] RaigorJiang commented on #15925
[code]

[2022-03-14 07:23] lanchengx commented on #15967
@zjcnb @RaigorJiang
The delay time will be shown in the `SHOW READWRITE SPLITTING READ RESOURCES` syntax,
Example:
[code]

[2022-03-14 07:28] #15983 closed

[2022-03-14 07:30] RaigorJiang commented on #15983
Hi @wangzb105
The problem was fixed in #16056, you can try the master branch now.

[2022-03-14 07:47] abhijeetjejurkar commented on #15820
Hey, can I work on this? I have already worked on similar issue, https://github.com/apache/shardingsphere/issues/15815

[2022-03-14 07:47] abhijeetjejurkar commented on #15819
Hey, can I work on this? I have already worked on similar issue, https://github.com/apache/shardingsphere/issues/15815

[2022-03-14 08:19] Comven commented on #15925
Because the table of `order_statistics_info` did not need to divided into tables and databases. The interval algorithm  is for other talbe.

[2022-03-14 08:21] Comven commented on #15925
Yes, Yes, my local demo can't reproduce this problem.. However,  The production environment causes this problem with the same shardingsphere configuration .

[2022-03-14 08:23] zjcnb commented on #15984
@jinpengSun Hello, `4.1.1` version are old, can you try to upgrade to the latest version?

[2022-03-14 08:50] RaigorJiang commented on #15925
You can directly connect to the `dbslaver` and execute the contents of `Actual SQL` to see if there is any difference.

[2022-03-14 09:07] strongduanmu commented on #15819
Of course @abhijeetjejurkar If @Vaishnavi1411 @manisha-27 haven't started this task.

[2022-03-14 09:10] strongduanmu commented on #15820
@abhijeetjejurkar Welcome, I will assign this issue to you.

[2022-03-14 09:11] taojintianxia opened #16068 "generate docker images for every commit"
## Feature
For everytime the version release, this is only one proxy docker image for that corresponding version. this is not convenient for testing.

so add some github actions to generate the docker images for every commit to test.

please assign this task to me.

[2022-03-14 09:28] acmenlt commented on #15217
You can give it to me, thank you.

[2022-03-14 09:38] Comven commented on #15925
I have tested that  there was no problem connecting to the database directly to execute SQL. Version 5.0.0 also runs correctly. This problem only occurs in version 5.1.0.

[2022-03-14 10:20] RaigorJiang commented on #15925
@Comven So, please confirm whether the `Actual SQL` sent by 5.0.0 and 5.1.0 is different?

[2022-03-14 11:13] menghaoranss commented on #15700
@varsha089 welcome

[2022-03-14 12:25] RaigorJiang commented on #16068
Fixed by #16070.

[2022-03-14 12:25] #16068 closed

[2022-03-14 12:59] Swastyy opened #16072 "[OpenForce 2022] Optimize official documents"
Hi community,

 This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

 ### Aim
 Check the source file below, search `SQL` word, `Spring` word and keep a space between Chinese and English words.

 Source file: https://github.com/apache/shardingsphere/blob/master/docs/document/content/reference/faq/_index.cn.md

 Official document link:

[2022-03-14 13:11] Swastyy opened #16073 "[OpenForce 2022] Optimize official documents"
Hi community,

 This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

 ### Aim
 Check the source file below, search `CNCF` word and other words where space is required and keep a space between Chinese and English words.

 Source file: https://github.com/apache/shardingsphere/blob/master/docs/blog/content/material/CNCF.cn.md

[2022-03-14 13:14] Swastyy opened #16074 "[OpenForce 2022] Optimize official documents"
Hi community,

 This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

 ### Aim
 Check the source file below, search `Apache` word and other words where space is required and keep a space between Chinese and English words.

 Source file: https://github.com/apache/shardingsphere/blob/master/docs/blog/content/material/community.cn.md

[2022-03-14 14:06] SufyaanKhateeb commented on #16072
Hi, I am a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-14 15:45] #16073 closed

[2022-03-14 16:14] KaizenGirl1111 commented on #16074
hi @Swastyy, I did go through the source file and I think I can modify spaces between English and Chinese words as suggested. Kindly assign this issue to me!

[2022-03-14 16:18] Swastyy commented on #16074
Hey @KaizenGirl1111 , yes it will be assigned, you can start working on it. Thanks.

[2022-03-14 16:29] KaizenGirl1111 commented on #16074
okay!

[2022-03-14 16:55] KaizenGirl1111 commented on #16074
added a pr for the same

[2022-03-14 18:03] BashCache commented on #16044
HI,
I have created a PR for the same. Please let me know if there are any changes to be made :)

[2022-03-14 19:22] everly-gif commented on #15751
Hi @tuichenchuxin I would like to take this issue up. I recently worked on a similar issue to support the parsing of `DROP DATABASE LINK` in  Oracle SQL (PR : #16024 ).  I think I will be able to work on this ! Do assign it to me :)

[2022-03-14 19:26] abhijeetjejurkar commented on #15819
@Vaishnavi1411 @manisha-27 are you working on this?

[2022-03-14 22:43] #16072 closed

[2022-03-14 22:49] #16044 closed

[2022-03-14 23:12] #16074 closed

[2022-03-15 01:10] tuichenchuxin commented on #15751
@everly-gif Welcome.

[2022-03-15 01:11] #15815 closed

[2022-03-15 01:52] wangzb105 commented on #15983
5/5000
Another question，execute use seer_dev;
err: pymysql.err.OperationalError: (1997, 'Runtime exception: [Failed to switch schema, please terminate current transaction.]') ？？？

[2022-03-15 02:34] Trydamere commented on #16059
hi, @TeslaCN I want to contribute to this issue.
I am familiar with Java, but I have not used travis CI before. Could you give me instruction how to begin this issue?

[2022-03-15 02:40] Trydamere commented on #15750
Hi, @tuichenchuxin, I would like to work on this issue.
Could you assign it to me?

[2022-03-15 02:41] TeslaCN commented on #16059
Hi @Trydamere
Actually I don't know what happened to Travis CI. I'm going to clear the caches. If the problem still occur, we may need to investigate why the jacoco:prepare-agent failed.

[2022-03-15 02:43] TeslaCN commented on #16059
I've restarted this after caches cleared. https://app.travis-ci.com/github/apache/shardingsphere/builds/247884763

[2022-03-15 02:44] RaigorJiang commented on #15983
Please check the SQL log to see if statements such as `begin` have been sent, resulting in a transaction.

[2022-03-15 02:48] taojintianxia commented on #16068
https://github.com/apache/shardingsphere/pkgs/container/shardingsphere-proxy

[2022-03-15 02:56] strongduanmu commented on #15578
Hi @larrychen8276, can you try the latest master branch?

[2022-03-15 02:58] strongduanmu commented on #13893
Already optimize.

[2022-03-15 02:58] #13893 closed

[2022-03-15 03:39] tuichenchuxin commented on #15750
@Trydamere sure, welcome.

[2022-03-15 05:29] shreya024 commented on #15692
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-15 05:51] iwhalecloud-platform opened #16080 "Modifying the database lob column will report errors and steam cannot be read repeatedly"
## Bug Report

### Which version of ShardingSphere did you use?
3.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

### Actual behavior
When using sharding to connect to Oracle database, if the database field is CLOB or blob, the following error will be reported:

Error updating database. Cause: java. sql. SQLException: Inval

[2022-03-15 07:53] TeslaCN commented on #16059
Problem solved after clearing the caches.

[2022-03-15 07:53] #16059 closed

[2022-03-15 08:33] strongduanmu opened #16086 "Consider adding ConstraintMetaData to metadata to support constraint segment merge logic"
## Feature Request

To support handling of foreign key constraints in issue #16050, ConstraintMetaData needs to be added to the metadata.

Add `Map<String, Constraint MetaData> constraints` to TableMetaData:

[code]

Then add query logic for constraints in MySQLTableMetaDataLoader.

[code]

- [x] Support MySQL constraint meta data load
- [x] Support Postgresql constraint meta data load
- [ ] Suppo

[2022-03-15 08:35] #16062 closed

[2022-03-15 08:44] zjcnb opened #16087 "`ClusterContextManagerCoordinator.renew(final InstanceOnlineEvent event)` need add unit test."

[2022-03-15 08:45] zjcnb opened #16088 "`ClusterContextManagerCoordinator.renew(final InstanceOfflineEvent event)` need add unit test."

[2022-03-15 08:52] zjcnb opened #16090 "`DatabaseDiscoveryRule.getExportedMethods()` need add unit test."

[2022-03-15 08:57] zjcnb opened #16091 "`MetaDataPersistService.persistTransactionRule(final Properties props, final boolean isOverwrit)` need add unit test."

[2022-03-15 09:28] Comven commented on #15925
From my issue description, You can see that they look the same,

[2022-03-15 09:47] tuichenchuxin opened #16093 "Add unit test for ShardingRemoveTokenGenerator"
Hi community,

We need to add some unit test for ShardingRemoveTokenGenerator.

- [X] ShardingRemoveTokenGenerator#isGenerateSQLToken
- [x] ShardingRemoveTokenGenerator#generateSQLTokens

[2022-03-15 09:50] tuichenchuxin opened #16094 "Add unit test for ConstraintToken#toString"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 09:50] wsYdd commented on #7701
I use Springboot + mybatis + sharding-jdbc, Warm up service, but cannot solve this problem, anyone can help me

[2022-03-15 09:52] RaigorJiang commented on #15925
Since Actual SQL is the same, the data queried from the underlying databases must be consistent. ShardingSphere does not have the ability to create data out of thin air.
Judging from your previous reply, the configuration given is not complete, which may hide some problems.
Sorry I can't be more helpful, let's see what others have to say.  🤔

[2022-03-15 09:53] tuichenchuxin opened #16095 "Add unit test for GeneratedKeyAssignmentToken#toString"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 09:54] tuichenchuxin opened #16097 "Add unit test for GeneratedKeyInsertColumnToken#toString"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 09:55] tuichenchuxin opened #16098 "Add unit test for IndexToken#toString"

[2022-03-15 09:57] tuichenchuxin opened #16099 "Add unit test for OrderByToken#toString"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 09:58] tuichenchuxin opened #16100 "Add unit test for ShardingInsertValuesToken#toString"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 10:00] tuichenchuxin opened #16101 "Add unit test for TableToken#toString"

[2022-03-15 10:01] Minerva-Li commented on #7701
Can you give more info  ? Code or project please ?

[2022-03-15 10:01] tuichenchuxin opened #16102 "Add unit test for InsertClauseShardingConditionEngine#createShardingConditions"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 10:02] tuichenchuxin opened #16103 "Add unit test for WhereClauseShardingConditionEngine#createShardingConditions"

[2022-03-15 10:05] tuichenchuxin opened #16104 "Add unit test for ConditionValue#ConditionValue"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 10:06] Comven commented on #15925
Thank you very much, too.
I'll downgrade to version 5.0.0 first.

[2022-03-15 10:07] tuichenchuxin opened #16105 "Add unit test for ConditionValueGeneratorFactory#generate"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

[2022-03-15 10:59] #16045 closed

[2022-03-15 11:55] shreya024 commented on #16104
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-15 12:05] lMasterSparkl commented on #7703
@tristaZero @strongduanmu @heqiao @sabz90 @qiuxiaotong2021
hey guys I have read all this issue's comments and  think it's necessary to reopen this issue .
### First
I think the comment I have quote is not the final reply that

and it doesn't solution the problem.
### Second
let me example:
table AAA use 'id' as primary key and use 'did' as sharding key .
now I need to edit some columns from backst

[2022-03-15 12:19] wsYdd commented on #7701
@Minerva-Li
Config datasource and create ShardingDataSource , start Application meet this problem.
ShardingSphere version is 4.1.1.

`@Configuration
public class MysqlDataSourceConfig {

    public static final String DATASOURCE_NAME = "DataSource";

    @Value("${mysql.datasource.url}")
    private String connUrl;

    @Value("${mysql.datasource.username}")
    private String connUser;

    @Valu

[2022-03-15 13:55] BashCache commented on #15696
Hi,
I have made a PR for the same. Please let me know for any changes :)

[2022-03-15 14:10] csdeng84 commented on #16008
@RaigorJiang  ,Thankyou!     because the table has already use standard-strategy , I want to use hintManager for batch-processing.

[2022-03-15 14:18] BashCache commented on #16093
Hi,
I would like to work on this issue under OpenForce 2022. Can you assign this to me

[2022-03-15 16:27] #11580 closed

[2022-03-15 23:49] strongduanmu commented on #16104
@shreya024 Welcome, I will assign this issue to you.

[2022-03-15 23:54] strongduanmu commented on #7703
Hi @lMasterSparkl, has the value of the sharding column changed in your update statement? We have support update sharding column when the sharding routing result keep the same in pr #13906, you can try it.

[2022-03-16 01:51] #15696 closed

[2022-03-16 01:53] zjcnb opened #16111 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `Zookeeper` word and  change to `ZooKeeper`

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-proxy/distsql/usage/_index.cn.md

Official document link:
https

[2022-03-16 01:57] zjcnb opened #16112 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `SQL`  word in `SQLExecutionHook ` and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/dev-manual/kernel.cn.md

Official document lin

[2022-03-16 02:03] zjcnb opened #16113 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, add `OpenGaussStatementSQLVisitorFacade` and `基于 openGauss 的提取 SQL 语句的语法树访问器`  to `SQLVisitorFacade`

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/dev-manual/sql-parser.cn.md

Official do

[2022-03-16 02:06] zjcnb opened #16114 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `Hint` word and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/dev-manual/sharding.cn.md

Official document link:
https://shardingsp

[2022-03-16 02:10] zjcnb opened #16115 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `面向逻辑库与逻辑表书写的SQL``、SQL改写用于将逻辑SQL改写为在真实数据库中可以正确执行的SQL` and  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/document/content/reference/test/module-test/

[2022-03-16 02:13] chichengfengye opened #16116 "java.lang.NoClassDefFoundError: org/apache/tomcat/dbcp/dbcp2/BasicDataSource"
Hi shardingsphere family!
i am using sharding-jdbc **5.1.0**.
Druid datasoruce used in my project.

One error occered when my project starting, it seems like i need to include the apache dbcp in my project.
But on the offical website
[https://shardingsphere.apache.org/document/current/en/overview/#shardingsphere-jdbc](https://github.com/apache/shardingsphere/issues/url)
it says: 'Supports any thir

[2022-03-16 02:27] zjcnb commented on #16116
@chichengfengye Hi this problem are fixed in `master` branch.

[2022-03-16 02:32] zjcnb commented on #16116
Temporary solution : add dependency
[code]

[2022-03-16 02:35] chichengfengye commented on #16116
@zjcnb thanks. I am going to try the master branch.

[2022-03-16 02:37] shangwq opened #16117 "use spring boot 2.6.4 , transaction do not roll back"
use the lastest version spring boot 2.6.4  and shardingsphere 5.1.0
transaction do not roll back

ps. use spring boot 2.5.x and 2.6.x  has this same problem，spring boot 2.4.x is ok

[2022-03-16 02:38] chichengfengye commented on #16116
Yes, It works.

[2022-03-16 03:06] Bhavya-official commented on #16115
I am Bhavya Agrawal, a OpenForce Contributor, like to resolve this issue.

[2022-03-16 03:15] Bhavya-official commented on #16115
I have made a new pr #16118 refer to this issue. Please review and let me know if any suggestions or modifications can be done.

[2022-03-16 03:16] #16115 closed

[2022-03-16 03:22] Bhavya-official commented on #16114
I am Bhavya Agrawal, a OpenForce Contributor, like to resolve this issue.

[2022-03-16 03:23] Bhavya-official commented on #16114
I have made a new pr #16119 reference to this issue. Please review and let me know if any suggestions or modifications can be done.

[2022-03-16 03:29] shreya024 commented on #16105
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-16 03:35] menghaoranss commented on #16114
@Bhavya-official welcome

[2022-03-16 03:36] #16114 closed

[2022-03-16 03:42] Bhavya-official commented on #16113
I am Bhavya Agrawal, a OpenForce Contributor, like to resolve this issue.

[2022-03-16 03:43] Bhavya-official commented on #16113
I have made a new pr #16120 refer to this issue. Please review and let me know if any suggestions or modifications can be done.

[2022-03-16 03:58] RakeshPotnuru commented on #16112
I want to take this

[2022-03-16 04:01] SarveshLimaye commented on #16111
@zjcnb Hi, I am  Sarvesh Limaye , a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you"

[2022-03-16 04:38] strongduanmu commented on #16105
@shreya024 Glad see you here, I will assign this issue to you.

[2022-03-16 04:39] yx9o commented on #16112
@RakeshPotnuru Welcome.

[2022-03-16 04:40] yx9o commented on #16111
@SarveshLimaye Welcome.

[2022-03-16 04:43] #16113 closed

[2022-03-16 04:55] #16104 closed

[2022-03-16 05:36] #16112 closed

[2022-03-16 05:48] TeslaCN opened #16123 "ShardingSphere-Proxy MySQL doesn't support cursor"
## Feature Request

### Is your feature request related to a problem?

This may exhaust more memory.

### Describe the feature you would like.

The client sent Execute Statement with flag CURSOR_TYPE_READ_ONLY(0x01), but the ShardingSphere-Proxy didn't handle this flag.

https://dev.mysql.com/doc/internals/en/com-stmt-execute.html

![image](https://user-images.githubusercontent.com/20503072/158524

[2022-03-16 06:15] lMasterSparkl commented on #7703
@strongduanmu
no the sharding column is not changed .I guess it's not execute that skip logic , here's my debug pic.
![compareEditShardingColumnDebug](https://user-images.githubusercontent.com/24791147/158528014-5252adce-8330-4758-8746-d60d930a0469.png)

[2022-03-16 06:18] strongduanmu commented on #7703
@lMasterSparkl Please try latest 5.1.0.

[2022-03-16 06:20] TeslaCN opened #16124 "ShardingSphere-Proxy MySQL throws Unsupported command: [COM_SET_OPTION]"
## Bug Report

### Which version of ShardingSphere did you use?
master - b31a5439e0c608ee9a735aadb426ed03b1e98a42

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy MySQL

### Expected behavior

Batched update succeed.

### Actual behavior

[code]

### Reason analyze (If you can)

MySQL JDBC driver enable `rewriteBatchedStatements=true`.

### Example

[2022-03-16 06:20] #16050 closed

[2022-03-16 06:37] Bhawna-Ad commented on #16094
Hi I would like to work on this issue under OpenForce 2022. Can you please assign this issue to me?

[2022-03-16 06:50] lMasterSparkl commented on #7703
it still not work, here is the error log
[code]

[2022-03-16 06:57] strongduanmu commented on #7703
@lMasterSparkl `update post set update_dt=?, did=?, base_like=?, base_pv=?, base_share=?, discuss=?, game_id=?, hot=?, images=?, is_delete=?, is_official=?, is_top=?, level=?, official_head=?, official_nick_name=?, official_title=?, post_id=?, pv=?, reply1did=?, reply1id=?, reply2did=?, reply2id=?, reply_did=?, share=?, tag=?, text=?, topic_id=?, topic_name=?, up=?, videos=? where id=?`

Judging f

[2022-03-16 07:23] lMasterSparkl commented on #7703
@strongduanmu
**as I have say before in this comment I compared the did column and it's the same so why the excute sql do not skip did column, I think this is the Focus.**

[2022-03-16 07:30] strongduanmu commented on #7703
Through the sql that you execute, shardingsphere cannot determine whether did column has changed, so you need to specify value of did in where condition. By comparing did value in set clause with did value in where condition, shardingsphere can determine whether the data node has changed due to update statement.

[2022-03-16 07:41] #16111 closed

[2022-03-16 08:26] yx9o commented on #16094
@Bhawna-Ad Welcome.

[2022-03-16 08:49] strongduanmu opened #16128 "Encrypt shorthand projection changed column name to lowercase after sql rewrite"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/45510810a2e655761ffd854441b41afe1db919e5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute `select * from IRP_METADATAPROBE` successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### S

[2022-03-16 09:08] TeslaCN opened #16129 "ShardingSphere-Proxy PostgreSQL / openGuass modify value in string by mistake"
## Bug Report

Since https://github.com/apache/shardingsphere/pull/1849.

### Which version of ShardingSphere did you use?
master - 45510810a2e655761ffd854441b41afe1db919e5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy PostgreSQL / openGauss

### Example codes for reproduce this issue (such as a github link).

[code]

### Expected behavior

Expec

[2022-03-16 09:37] sam2099 commented on #15975
Me too,
Exception as same.

Which version of ShardingSphere did you use?
sharding 5.1.0
java 11
JPA

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

[2022-03-16 09:46] SarveshLimaye commented on #16098
Hi, I am Sarvesh Limaye, a contributor to OpenForce 2022. I would like to work on this issue. Thank you!

[2022-03-16 09:54] wonderfulLand opened #16131 "i have a question, Failed to determine a suitable driver class."
1. it is my pom file
    <dependency>
            <groupId>com.alibaba</groupId>
            <artifactId>druid-spring-boot-starter</artifactId>
            <version>1.2.8</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <gro

[2022-03-16 09:57] 1172015211 opened #16132 "can not find the correct table name when column names start with a number"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-16 09:59] tuichenchuxin commented on #16098
@SarveshLimaye Ok.

[2022-03-16 10:00] 1172015211 commented on #16132
sql is:"select tbl_jh_form_business_lbe3hyu0.`2520ca0ec87f4395af880b47a50431da` from tbl_jh_form_business_lbe3hyu0_select tbl_jh_form_business_lbe3hyu0 "
SQLStatement tables is null.

sharding-jdbc version is 3.1

[2022-03-16 10:19] taojintianxia opened #16133 "add github action to generate the nightly build Artifacts"
as we know, some users are not convenient to compile the distribution package by up to date code.

so we will add github action to compile the code and upload the artifacts to apache nightly build project to share.

[2022-03-16 10:19] taojintianxia commented on #16133
anyone see this issue, please assign to me.

[2022-03-16 10:35] strongduanmu commented on #16132
Hi @1172015211, thank you for your feedback. Can you try latest 5.1.0 version? sharding-jdbc version is 3.1 is too old.

[2022-03-16 10:36] taojintianxia commented on #16133
@sandynz hi there, please assign to me again. just click the wrong button.

[2022-03-16 10:43] zjcnb commented on #16131
@wonderfulLand Hello, Please refer to
[code]

[2022-03-16 10:45] zjcnb commented on #16117
@shangwq Hello, Can you provide a demo project?

[2022-03-16 11:03] taojintianxia commented on #16133
thank you, @strongduanmu

[2022-03-16 12:02] TeslaCN opened #16136 "PostgreSQL comments with nested blocks cause SQL syntax error"
## Bug Report

### Which version of ShardingSphere did you use?
master - 45510810a2e655761ffd854441b41afe1db919e5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
SQL parser

### Expected behavior

[code]

### Actual behavior

[code]

### Example codes for reproduce this issue (such as a github link).

[code]

[2022-03-16 13:23] wonderfulLand commented on #16131
3q， is successfully

[2022-03-16 13:23] #16131 closed

[2022-03-16 16:40] deathmukh commented on #16103
hi, can I work on this?

[2022-03-16 23:46] strongduanmu commented on #16103
@deathmukh Welcome, I will assign this issue to you.

[2022-03-17 03:16] lMasterSparkl commented on #7703
oh I understand, I will try to find the way for jpa's save method that append 'where did=xxx' in it's update sql . because now I use nativeQuery such as
[code]

in actually we have many columns to update and it's complex with just append sharding column in where sentence , in addition   I need to judge every column is or not null .  I think use nativeQuery is  Not the original intention that use j

[2022-03-17 03:33] zjcnb opened #16141 "Heartbeat job task indistinguishable when `group name `are same."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

Heartbeat job task indistinguishable when `group name `are same. maybe we need add `schemaName`.

[code]

[2022-03-17 03:34] ruanyg commented on #16141
i want to fixed it.

[2022-03-17 03:35] zjcnb commented on #16141
Welcome, I assigned you.

[2022-03-17 03:40] strongduanmu commented on #7703
@lMasterSparkl Sorry, I'm not very familiar with JPA, this may require you to study how JPA is used.
Looking forward to your good news.

[2022-03-17 03:41] 1172015211 commented on #16132
Thanks for your reply.Since the project framework is relatively old, the version of Sharding-JDBC is 3.1. Can I confirm that this problem will not exist in the higher version of Sharding-JDBC? Can I fix this by tweaking the source code?

[2022-03-17 05:12] TeslaCN commented on #16129
The Parse Packet replacing positional parameters by regex.
https://github.com/apache/shardingsphere/blob/47e6d19fae76d2d904dbf65c253dcd6a97f4ac22/shardingsphere-db-protocol/shardingsphere-db-protocol-postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/extended/parse/PostgreSQLComParsePacket.java#L51-L53

[2022-03-17 05:53] TeslaCN opened #16144 "Consider holding all parameter marker segments in SQLStatement"
## Feature Request

### Is your feature request related to a problem?

Related to #16129. We need to know all the indices of parameter markers to rewrite the SQL to JDBC style.

### Describe the feature you would like.

Could we consider holding all parameter marker segments in `AbstractSQLStatement` like the `comments`?
https://github.com/apache/shardingsphere/blob/bf7a90f2c86cc1fdb97956a123e39b0

[2022-03-17 05:55] tuichenchuxin commented on #16144
I'll solve this issue.

[2022-03-17 06:12] TeslaCN opened #16145 "Connect to ShardingSphere-Proxy PostgreSQL by postgresql:42.3.1 caused ERROR: Failed to switch schema, please terminate current transaction"
## Bug Report

Connect to ShardingSphere-Proxy PostgreSQL by JDBC driver `postgresql:42.2.5` cannot reproduce this issue.

### Which version of ShardingSphere did you use?
master - 47e6d19fae76d2d904dbf65c253dcd6a97f4ac22

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy PostgreSQL

### Expected behavior

No error occur.

### Actual behavior

[code]

[2022-03-17 06:24] jingshanglu commented on #5531
It maybe fixed by #14983 .

[2022-03-17 06:24] #5531 closed

[2022-03-17 06:38] maketubo opened #16146 "two update after 3ms interval confilct"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
1. execute A update ： update table0 set status = "Running" where id = 1;
2. after 3ms
3. execute B update ： update table0 set status = "Success" where id = 1;
4. query table0 where id = 1; we expect that the stat

[2022-03-17 06:38] TeslaCN commented on #16145
I found this issue is caused by https://github.com/pgjdbc/pgjdbc/pull/1977.

[2022-03-17 06:51] #15801 closed

[2022-03-17 07:04] #16146 closed

[2022-03-17 07:09] #16141 closed

[2022-03-17 07:19] TeslaCN opened #16148 "ShardingSphere-Proxy PostgreSQL set client_encoding to default cause Mojibake"
## Bug Report

### Which version of ShardingSphere did you use?
master - bf7a90f2c86cc1fdb97956a123e39b066185b5b6

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

Display Chinese character correctly.

### Actual behavior

[code]

### Reason analyze (If you can)

`Charset.forName("default")` got `US_ASCII`.

[2022-03-17 07:27] acmenlt commented on #16097
You can give it to me, thank you.

[2022-03-17 07:28] acmenlt commented on #16095
You can give it to me, thank you.

[2022-03-17 07:34] tuichenchuxin commented on #16095
@acmenlt Welcome.

[2022-03-17 09:09] shangwq commented on #16117
it's a simple project

the main dependencies is
[code]

application.properties
[code]

Unit Test
[code]

normally when the unit test completed, the transaction will be roll back.
but actually the data `Tom` was still in database, do not roll back.

when i change spring boot version to 2.4.13, the transaction can roll back successfully

[2022-03-17 09:21] Naresh-chandanbatve commented on #16101
Hello @tuichenchuxin,
I am openforce 2022 contributor,
I want to work on this issue can you assign this to me.

[2022-03-17 09:44] strongduanmu commented on #16101
@Naresh-chandanbatve Welcome, I will assign this issue to you.

[2022-03-17 10:27] LGAKing opened #16156 "The sample for shardingsphere & seata with XA mode"
## Question

Could someone share me a XA mode sample?

Thanks in advance.

[2022-03-17 10:42] GravityMatrix opened #16158 "The sharding-column of database-strategy and table-strategy is the same field , get error。"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-17 10:43] #16158 closed

[2022-03-17 10:43] GravityMatrix opened #16159 "The sharding-column of database-strategy and table-strategy is the same field , get error。"
version 4.1.1

[2022-03-17 10:44] GravityMatrix commented on #16159
[code]

[2022-03-17 10:47] GravityMatrix commented on #16159
No problem when sharding-column is not a field。

error:

[code]

[2022-03-17 10:57] zjcnb commented on #16156
@LGAKing  Please refer to : https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/transaction-example

[2022-03-17 11:16] yx9o commented on #16097
@acmenlt Welcome.

[2022-03-17 11:54] #16145 closed

[2022-03-17 16:04] zhaojinchao95 opened #16163 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Aim

Check the source file below, search `确定该issue不是通过简单的检索即可以解决的问题`、`对该issue分配合适的标签 `, `请在选择您要修改的issue` and then  keep a space between Chinese and English words.

Source file:
https://github.com/apache/shardingsphere/blob/master/docs/community/content/contribute/

[2022-03-17 17:07] Swastyy commented on #16163
Just for OpenForce, I will fix this one, please assign @zjcnb .

[2022-03-17 17:48] Swastyy opened #16166 "[OpenForce 2022] Optimize official documents"
Hi community,

 This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

 ### Aim
 Check the source file below, search `Sharding-Sphere`、`Sharding-Proxy`, and other words and then keep a space between Chinese and English words.

 Source file: https://github.com/apache/shardingsphere/blob/master/docs/blog/content/material/proxy.cn.md

[2022-03-17 17:58] #16163 closed, assigned to Swastyy

[2022-03-17 18:01] Swastyy opened #16168 "File path is incorrect"
After the structure of examples module is changed, the path for file `class-based-sharding-algorithm-example` is not updated in this [file](https://github.com/apache/shardingsphere/blob/master/docs/blog/content/material/Oct_12_4_Updates_and_FAQ_Your_1_Minute_Quick_Start_Guide_to_ShardingSphere.en.md)

[2022-03-17 18:04] #16105 closed

[2022-03-17 18:10] menghaoranss commented on #16166
nice work, thanks @Swastyy

[2022-03-17 18:39] linghengqian commented on #15277
Only provide tips for some friends who need them. SpringBoot will increase Groovy to 4.0.0 in 3.x, and 2.x will not be changed. Refer to https://github.com/spring-projects/spring-boot/issues/30278

[2022-03-17 19:22] abhijeetjejurkar commented on #16166
Hey can i work on this?

[2022-03-17 22:36] shreya024 commented on #16099
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-17 23:50] zjcnb commented on #16166
Yes, assigned to you.

[2022-03-17 23:55] strongduanmu commented on #16099
Welcome @shreya024.

[2022-03-18 00:09] #16168 closed

[2022-03-18 00:10] RaigorJiang commented on #16168
@Swastyy You are so attentive, but the blog of the historical version cannot be modified. So I just close this issue.

[2022-03-18 00:49] GravityMatrix commented on #16159
Thanks for your answer, but the maven central repository cannot find the sharding-jdbc-spring-boot-starter 5x version.  do I need to specify the warehouse address. @TeslaCN

[2022-03-18 01:15] GravityMatrix commented on #16159
I found it, the original artifactId changed. thanks

[2022-03-18 01:15] #16159 closed

[2022-03-18 01:38] LGAKing commented on #16156
Thanks! But what I want is an example of XA mode based on shardingsphere and seata

[2022-03-18 02:08] GravityMatrix commented on #16116
same question

[2022-03-18 03:37] #15728 closed

[2022-03-18 04:39] #16099 closed

[2022-03-18 04:40] shreya024 commented on #16100
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-18 04:47] strongduanmu commented on #16100
Welcome @shreya024, glad see you again.

[2022-03-18 04:56] #15962 closed

[2022-03-18 06:10] totalo opened #16175 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

Aim
Corrected the url field of the data shardingsphere data source configuration.

Tips:

 `spring.shardingsphere.datasource.<actual-data-source-name>.jdbc-url` is right, We need to check that the field in the document is `url` and fix it to `jdbc-url`.

such as :
https://sharding

[2022-03-18 06:32] wsm12138 opened #16177 "Mysql statements are not supported"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
https://github.com/apache

[2022-03-18 07:22] jingshanglu commented on #16117
Maybe it is problem of spring boot, when exception reported, spring not send a `rollback`.

[2022-03-18 07:24] zhouyouwei-0127 opened #16180 "The 'show tables' command cannot see the newly created or deleted tables in actual resource."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-03-18 07:36] zjcnb commented on #16180
@zhouyouwei-0127 Thank for your feedback, i will check it.

[2022-03-18 07:45] xiaofeixia opened #16182 "升级到sharding-jdbc-spring-namespace,由3.0.0.M4 至至4.0.1版本和集成的apollo冲突，导致启动失败"
升级到sharding-jdbc-spring-namespace，由3.0.0.M4 至4.0.1版本   和集成的apollo冲突，导致启动失败
pom.xml:

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-namespace</artifactId>
            <version>4.0.1</version>
         </dependency>
       <dependency>
            <groupId>com.ctrip.framework.apollo</groupId>
            <artifactId>apollo-

[2022-03-18 07:49] soulasuna opened #16183 "Reconnect and re-register computing node when Proxy session times out"
## Feature Request

### Is your feature request related to a problem?

Proxy can not re-register computing node when session times out.

### Describe the feature you would like.

Reconnect and re-register computing node when Proxy session times out.

[2022-03-18 08:51] liangliang1006 opened #16189 "postgresql11.8 data expansion failed"
I tried to use the postgrelsql11.8 version of the database to expand my data, but it didn't work;
At first, I used sharding-proxy4.1.0 and sharding-scaling4.1.0 to try to expand a table;
My main configuration is like this:
schemaName: order
#
dataSources:
  ds_0:
    url: jdbc:postgresql://127.0.0.1:5432/testdb
    username: gpadmin
    password: gpadmin
    connectionTimeoutMilliseconds: 30000

[2022-03-18 08:52] pparthenhs commented on #16102
Hello there, I could start working on this. I will let you know when I finish.

[2022-03-18 08:52] nealzyf commented on #15086
Same issue； here is demo

[shardingSphere-jdbc-sample.zip](https://github.com/apache/shardingsphere/files/8302997/shardingSphere-jdbc-sample.zip)

[2022-03-18 09:03] TeslaCN commented on #16189
Hi @liangliang1006
Could you provide the SQL which caused SQL syntax error?

[2022-03-18 09:03] Amulya-coder commented on #16175
Hi, I would like to work on this issue, I am a contributor to openforce2022, please assign it to me. Thank you.

[2022-03-18 09:21] Bhawna-Ad commented on #16094
Thanks! Can you also suggest how to get started with this issue?

[2022-03-18 09:24] tuichenchuxin commented on #16102
@pparthenhs OK. Glad to see you.

[2022-03-18 09:33] MingxingLAI opened #16190 "Optimize code to reduce alarm in HintDistSQLBackendHandler"
[code]

change `HintStatementExecutor` to `HintStatementExecutor<? extends HintDistSQLStatement>` to reduce "Raw use of parameterized class 'HintStatementExecutor' " alarm.

[2022-03-18 10:24] totalo commented on #16175
welcome.

[2022-03-18 10:46] #16095 closed

[2022-03-18 11:17] #16177 closed

[2022-03-18 13:00] pparthenhs commented on #16102
MR is ready!! :rocket:  :rocket:

[2022-03-18 13:13] Amulya-coder commented on #16175
Hi, I have created the PR for this issue: https://github.com/apache/shardingsphere/pull/16196

Kindly review it and if there are any modification required, please let me know.

[2022-03-18 13:51] RaigorJiang commented on #15713
Hi @ankitadam , any update?

[2022-03-18 14:03] SanXun99 opened #16197 "batch inserts performance problem"
### Brief description of bug
#### Self-Diagnosis
- [x] I have reviewed the documentation.
- [x] I have reviewed the Wiki.
- [x] I have tried to use the latest version.
- [x] I have searched the issues for an answer to my question.
- [x] I have searched the web for an answer to my question.

#### Environment
- [x] Operating System: win10
- [x] Plugin version: 5.1
Using the JDBC batch function, inse

[2022-03-18 15:15] linghengqian commented on #16197
I have to say, this issue template doesn't seem to come from ShardingSphere. 👀

[2022-03-18 15:17] liruhui opened #16199 "reply Issue #15985"
[code]

[2022-03-18 15:18] #16175 closed

[2022-03-18 15:38] shreya024 commented on #16100
Thank you,I am working on the issue.Kindly guide me how to access/modify the result located inside toString method from test class.

[2022-03-18 15:41] yx9o commented on #16094
@Bhawna-Ad Hi, you need to create a test class for `ConstraintToken` under `shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/java/org/apache/shardingsphere/sharding/rewrite/token/pojo` directory , assert the `toString()` method in the test class.

[2022-03-19 00:25] strongduanmu commented on #16100
@shreya024 Of course, You could create a ShardingInsertValuesToken instance first, and then add some insertValues by `getInsertValues().add(insertValueToken)` method.

After complete these tasks, you can test `toString` method. It should be noted that this method needs to pass in a RouteUnit, which is result returned by ShardingSphere routing engine, which records the relationship between logical

[2022-03-19 01:09] shreya024 commented on #16100
Thank you.Yes,I have done these but I'm getting a java.lang.StringIndexOutOfBoundsException: start -2, end 0, length 0 probably because StringBuilder result is always empty.

[2022-03-19 02:29] acmenlt commented on #16090
You can give it to me, thank you.

[2022-03-19 03:31] totalo opened #16203 "[OpenForce 2022] Optimize official documents"
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

Aim
Corrected the url field of the data shardingsphere data source configuration.

Tips:

 `spring.shardingsphere.datasource.<actual-data-source-name>.jdbc-url` is right, We need to check that the field in the document is `url` and fix it to `jdbc-url`.

such as :
https://sharding

[2022-03-19 03:34] strongduanmu commented on #16090
@acmenlt Assigned.

[2022-03-19 03:38] Amulya-coder commented on #16203
Hi, I would like to work on this issue under OpenForce 2022. Thanks

[2022-03-19 03:41] totalo commented on #16203
Cool, welcome!

[2022-03-19 04:27] shreya024 commented on #15692
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-19 08:37] acmenlt commented on #15811
@RaigorJiang Is this question over

[2022-03-19 09:18] shreya024 commented on #16091
Hi, I am Shreya, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-19 09:23] #15751 closed

[2022-03-19 09:56] sandynz opened #16207 "Querying failure after scaling job success on existing schema since tableMetaData lost in ShardingSphereSchema"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit b7d3205fbbd634ffbaf2abd6d1c5318743d9cbfc

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, scaling enabled

### Expected behavior
Query works after scaling job success.

### Actual behavior
There's an existing schema, alter sharding table rule to emit scaling job.

[2022-03-19 10:25] Amulya-coder commented on #16203
Hi I have created the PR for this issue: https://github.com/apache/shardingsphere/pull/16208
kindly review it, Thanks

[2022-03-19 10:49] #16203 closed

[2022-03-19 10:59] #16090 closed

[2022-03-19 11:02] #16190 closed

[2022-03-19 11:10] Swastyy commented on #15712
Hey @RaigorJiang , can you provide an example when the sharding algorithm in datasource is configured as custom algorithm?

[2022-03-19 11:38] Akshit42-hue commented on #16166
Can I work on this issue? @zjcnb

[2022-03-19 11:40] Akshit42-hue commented on #15811
Can I work on this issue @RaigorJiang

[2022-03-19 11:43] zjcnb opened #16211 "ContextManager onInitialized callback for 'RULE_ALTERED_JOB_WORKER' failed."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### Configuration

[code]

[2022-03-19 11:48] terrymanu commented on #16102
The #16212 is not cover all codes of InsertClauseShardingConditionEngine#createShardingConditions, please continue to do it

[2022-03-19 11:58] sandynz commented on #16211
Looks it's affected by #15672, code changes:
<img width="1437" alt="图片" src="https://user-images.githubusercontent.com/42492540/159120088-feecb84b-f791-4790-a8f7-107473ed77e8.png">

Every time call of `watch` will trigger `cache.start();`.

@menghaoranss Could you help to have a look at it when you have time?

[2022-03-19 12:21] abhijeetjejurkar commented on #16166
@Akshit42-hue Sorry but I have made Pull Request for this issue...there are only some small changes to do for merging.

[2022-03-19 14:35] everly-gif commented on #15747
Hi @tuichenchuxin I would like to work on this issue.

[2022-03-19 15:20] acmenlt commented on #12206
@strongduanmu Can I work on this issue

[2022-03-19 15:26] RaigorJiang commented on #15811
Since the PR for this issue has been inactive for more than 10 days, I will assign it to someone else

[2022-03-19 15:29] RaigorJiang commented on #15811
Hi @Akshit42-hue , @acmenlt requests this issue first, so I just assign it to him, thank you.

[2022-03-20 00:36] #16100 closed

[2022-03-20 00:38] #16166 closed

[2022-03-20 00:38] menghaoranss commented on #16211
I will follow up.

[2022-03-20 00:39] strongduanmu commented on #12206
@acmenlt Of course, I will assign this issue to you.

[2022-03-20 00:40] strongduanmu commented on #15747
@everly-gif Welcome.

[2022-03-20 00:54] menghaoranss commented on #16182
@xiaofeixia for English only, please translate to English first.

[2022-03-20 03:35] SirMin commented on #15927
@RaigorJiang
In TypedSPIRegistry , is SPI instance. modified to newXxx?  Below is an example of usage, it like get already exists, but is new.
<img width="990" alt="image" src="https://user-images.githubusercontent.com/16568907/159146678-c3270c4c-463b-4279-9fd8-0480151402da.png">

[2022-03-20 03:36] SirMin commented on #15927
in SingletonSPIRegistry, getSingletonInstancesMap will register SPI, but TypedSPIRegistry not. Manual registration is required when using TypedSPIRegistry, but not when using SingletonSPIRegistry. unify behavior?

[2022-03-20 06:59] sandynz opened #16216 "Run Bootstrap in IDE failed since ClassNotFoundException: com.zaxxer.hikari.HikariDataSource"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit cc529b55da374b63f48886329e65e29f3596a26b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy.
Run `Bootstrap` in IDE.

### Expected behavior
No exception

### Actual behavior
Could not start, exception:
[code]

### Reason analyze (If you can)

### Steps to reproduce t

[2022-03-20 07:06] sandynz commented on #16189
Hi @liangliang1006 , could you try latest version, e.g. `5.1.0` ?

[2022-03-20 07:08] #15750 closed

[2022-03-20 07:26] sandynz commented on #15984
Hi @jinpengSun , there's similar issue #10314, it has been fixed in 5.x version. You could try latest version, e.g. `5.1.0`.

[2022-03-20 07:26] #15984 closed

[2022-03-20 07:40] linghengqian commented on #15086
- @nealzyf
- My message is just to supplement, `Apache ShardingSphere` uses SpringBoot `1.x` to build unit tests, this problem for a specific version of `SpringBoot` may not be solved, especially SpringBoot `2.3.x` has stopped community maintenance. Notice that you use `com.baomidou:dynamic-datasource-spring-boot-starter`, so I have reason to think you have seen my message, for SpringBoot `2.5.1`

[2022-03-20 07:44] sandynz commented on #15948
Hi @huyu-tom , thanks for your feedback. Could you get a workaround for now?

[2022-03-20 08:02] sandynz commented on #15927
Hi @SirMin , `SingletonSPI` and `SingletonSPIRegistry` were added after `TypedSPIRegistry` to simplify singleton SPI  usage and improve performance. And `getSingletonInstancesMap` method should be called once for one `singletonSPIClass`, so it's equavalent as before.

But methods in `TypedSPIRegistry` will be called repeatedly for one `typedSPIClass`, if we add `ShardingSphereServiceLoader.registe

[2022-03-20 08:17] sandynz commented on #15876
Hi @galaxylqx , What's the advantages if we do data source aggregation? Save opened connections?
It's true in some cases, but we could consider the most connections we need for peak throughput, the connections counts are similar in this case, no matter we do data source aggregation or not. And we could do some optimization on data source configuration to take similar effect.

[2022-03-20 08:51] zjcnb opened #16217 "Consider refactor Register center storage node structure"
Hi community,

### `Background`

Please refer to : #15967

   We want to persistence slave-database delay time to register center. So we can use `DistSQL` to show all slave-database delay time. And still have a question with the current  storage node structure, When we have two groups of the same rule names under one schema, we cannot distinguish which group of datasources are disabled.
   So, we

[2022-03-20 09:25] acmenlt commented on #15812
@RaigorJiang Can I work on this since No PR had made till now?

[2022-03-20 09:38] tristaZero commented on #16145
@TeslaCN Nice work.

[2022-03-20 12:50] #14534 closed

[2022-03-20 14:34] RaigorJiang commented on #15712
OK, I will update later.

[2022-03-20 14:39] RaigorJiang commented on #15812
Hi @soma2000-lang , do we need to assign it to @acmenlt ?

[2022-03-20 14:43] #15811 closed

[2022-03-20 14:50] soma2000-lang commented on #15812
Sorry due to some other work I am unable to give a pr .you can assign it to him

[2022-03-20 16:47] #15217 closed

[2022-03-20 16:48] #16182 closed

[2022-03-20 16:49] terrymanu commented on #16158
Duplicated with #16159

[2022-03-20 16:49] terrymanu commented on #16146
I just set the issue as `invalid` because of the author close it without any reason.

[2022-03-20 16:52] terrymanu commented on #15356
Closed because no response

[2022-03-20 16:52] #15356 closed

[2022-03-20 16:53] terrymanu commented on #15497
I close the issue because of no response anymore.

[2022-03-20 16:53] #15497 closed

[2022-03-20 16:54] terrymanu commented on #15535
I close the issue because of no response anymore.

[2022-03-20 16:54] #15535 closed

[2022-03-20 16:55] terrymanu commented on #15724
I close the issue because of no response anymore.

[2022-03-20 16:55] #15724 closed

[2022-03-20 16:56] terrymanu commented on #15840
I close the issue because of no response anymore.

[2022-03-20 16:56] #15840 closed

[2022-03-20 16:56] terrymanu commented on #15897
I close the issue because of no response anymore.

[2022-03-20 16:56] #15897 closed

[2022-03-20 16:57] terrymanu commented on #15899
I close the issue because of no response anymore.

[2022-03-20 16:57] #15899 closed

[2022-03-21 01:15] #16097 closed

[2022-03-21 01:27] CrackerSuperior commented on #16197
Sharding does have the problem of slow execution efficiency of batch SQL, which is probably caused by using Antlr4. Antlr4 will parse this batch SQL into a syntax tree. It takes a lot of time to traverse the syntax tree, but this is unavoidable.

[2022-03-21 01:36] strongduanmu commented on #16197
@linghengqian Thank you for your feedback, we are considering optimizing batch performance, see #15995 for details.

[2022-03-21 01:47] sandynz commented on #16091
@shreya024 Welcome!

[2022-03-21 02:05] RaigorJiang commented on #15812
Still thank you! @soma2000-lang

[2022-03-21 02:44] RaigorJiang commented on #16180
Hi @zhouyouwei-0127 @zjcnb
If you add a new table directly on the underlying database, or modify the table structure, it will not trigger the metadata refresh in Proxy. This is by design and should not be considered a bug.
It is recommended to execute DDL statements through Proxy.

In addition, there is some syntax in DistSQL RAL, which can help users to actively trigger metadata refresh in this c

[2022-03-21 02:45] TeslaCN commented on #15358
ShardingSphere-JDBC has cached the `SQLStatementContext` in `ShardingSpherePreparedStatement` to reduce the overhead. We should consider refactoring `PreparedStatement` in ShardingSphere-Proxy to reduce the overhead of creating `SQLStatementContext`.

[2022-03-21 02:49] zjcnb commented on #16180
@RaigorJiang  Thank you for your answer, i see.

[2022-03-21 02:53] TeslaCN commented on #13317
Setting charset is available.

[2022-03-21 02:53] #13317 closed

[2022-03-21 02:56] TeslaCN commented on #8940
Fixed since Druid 1.2.8.

[2022-03-21 02:56] #8940 closed

[2022-03-21 02:57] #10626 closed

[2022-03-21 03:05] RaigorJiang commented on #16199
Hi @liruhui
Sorry, It's a pity that your issue has not been resolved.
But I have some quesions now:
1. whay the key in the datasourceMap are no rule ? You can not name them?
2. If your scene is completely processed manually and not handed over to the computer, is there any solution? Because computers are supposed to carry out business according to plans set by humans.
3. Please think about the rea

[2022-03-21 03:06] RaigorJiang commented on #16199
Duplicated with https://github.com/apache/shardingsphere/issues/15985

[2022-03-21 03:06] #16199 closed

[2022-03-21 03:27] TeslaCN commented on #16068
`SW_OAP` is SkyWalking OAP.
https://github.com/apache/shardingsphere/blob/f99a508cd432b3806255a91826e91f9a3374bb17/.github/workflows/docker-per-commit.yaml#L62

[2022-03-21 03:37] nealzyf commented on #15086
Do you have any way to work around?

[2022-03-21 03:51] sandynz commented on #16216
Already fixed.

[2022-03-21 03:51] #16216 closed

[2022-03-21 05:36] Amulya-coder commented on #15810
Hi @RaigorJiang can I work on this issue since no PR as made till now, I am a contributor to OpenForce2022.

[2022-03-21 06:01] linghengqian commented on #15086
@nealzyf
Maybe I can't help you. After all, when I first started using ShardingSphere, SpringBoot was released 2.5.1, and it made no sense for me to flip through older versions of the SourceCode. This means that any bugs associated with the stop community supported version of SpringBoot cannot be handled by the Spring community.

[2022-03-21 06:10] RaigorJiang commented on #15810
Hi @Ash-KODES, are you dealing with this issue? can we assign it to @Amulya-coder ?

[2022-03-21 06:46] TeslaCN opened #16233 "Make unit tests which trying to change modifiers work in Java 17"
## Feature Request

### Is your feature request related to a problem?

Some unit tests are skipped in Java 17 because of https://bugs.openjdk.java.net/browse/JDK-8210496.

- [x] `org.apache.shardingsphere.sql.parser.api.SQLParserEngineTest`
- [x] `org.apache.shardingsphere.infra.executor.sql.log.SQLLoggerTest`
- [x] `org.apache.shardingsphere.proxy.frontend.opengauss.OpenGaussFrontendEngineTest`
-

[2022-03-21 07:21] strongduanmu opened #16234 "[New Feature] Support system database and schema query statements for MySQL and PostgreSQL"
## Feature Request

According to the feedback from the community, ShardingSphere currently does not support MySQL and PostgreSQL system databases and schema query statements. When the user executes the following statement, an exception will occur.

[code]

### Is your feature request related to a problem?

#15327 #11994 #14728 #14347 #13586 #11167

### Describe the feature you would like.

In orde

[2022-03-21 09:52] sandynz commented on #16207
I tested more scenarios, they might be caused by the same bug, so I put these testing here too.

On master branch, commit 660449bba6bf89217a0ea4a4510ce6c4a4dd9962 , and need to revert commit 8f012fe4adff996fd796feec038d3837d4a704cc for ZK.watch.

Reproduce steps:
[code]

There're 2 exceptions, the first one is the same as issue description above:
[code]

The second one occured on data consistency

[2022-03-21 09:54] sandynz commented on #16207
And need to add `@NoArgsConstructor` for `OpenGaussPipelineSQLBuilder` for now.

[2022-03-21 10:15] xiaofeixia opened #16239 "Upgrade sharding-jdbc-spring-namespace from 3.0.0.M4 to 4.0.1 conflicts with the integrated Apollo, resulting in startup failure"
Upgrade sharding-jdbc-spring-namespace from 3.0.0.M4 to 4.0.1 conflicts with the integrated Apollo, resulting in startup failure

pom.xml:
           <dependency>
                <groupId>org.apache.shardingsphere</groupId>
                <artifactId>sharding-jdbc-spring-namespace</artifactId>
                <version>4.0.1</version>
             </dependency>
           <dependency>

[2022-03-21 13:28] zjcnb commented on #16239
@xiaofeixia The `4.0.1` is too old, can you try it again with `5.1.0` ?

[2022-03-21 14:41] RaigorJiang commented on #15712
Hi @Swastyy
Here are some instructions and sample snippets:
1. Startup class
   Reference to: `org.apache.shardingsphere.example.sharding.raw.jdbc.ShardingRawJavaConfigurationExample`
2. DataSourceFactory
   Reference to: `org.apache.shardingsphere.example.sharding.raw.jdbc.factory.DataSourceFactory`
3. DataSourceConfiguration
   Reference to: `org.apache.shardingsphere.example.sharding.raw.jdbc.c

[2022-03-21 14:46] #15812 closed

[2022-03-21 23:59] #16211 closed

[2022-03-22 01:14] mageeric opened #16251 "Flexible acquisition of encryption module key"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes

### Describe the fe

[2022-03-22 02:46] RaigorJiang commented on #15715
Hi @neoneww , any update?

[2022-03-22 04:06] Trydamere commented on #15748
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:06] Trydamere commented on #15749
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:07] Trydamere commented on #15745
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:07] Trydamere commented on #15744
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:08] Trydamere commented on #15743
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:08] Trydamere commented on #15742
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:08] tuichenchuxin commented on #15745
@Trydamere sure.

[2022-03-22 04:08] Trydamere commented on #15741
Hi, @tuichenchuxin I would like to work on this issue. Could you assgin it to me?

[2022-03-22 04:28] ICannerxy opened #16254 "not support `alter table <tableName> drop index <indexName>` grammar"
## Bug Report

### Which version of ShardingSphere did you use?

`5.1.1`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

shardingRule is:

[code]

alter table <tableName> drop index <indexName> return success

### Actual behavior

![image](https://user-images.githubusercontent.com/40480377/159408121-41c55875-4a21-4552-a96

[2022-03-22 04:58] zjcnb opened #16256 "Consider move `StorageRole`and `StorageStatus` to `mode-core` module."
The `StorageNodeDataSource`, `StorageNodeRole` and `StorageNodeStatus` in `shardingsphere-infra-common`, it doesn't seem to suitable, they are only used by `readwrite-splitting ` and `db-discovery ` feature. I think it better way moved to `mode-core` module. And `mode-core` module as basic module, it can be referenced by `readwrite-splitting ` and `db-discovery`. So i will adjust it.

<img width="

[2022-03-22 05:48] strongduanmu commented on #15741
@Trydamere Welcome, I will assign this issue to you.

[2022-03-22 06:06] 90yangkang opened #16260 "using navicat as a tool, the shardingsphere proxy reports an error."
client：navicat premium 12.1
server:  shardingsphere proxy 5.1.0

using Navicat as a tool, the shardingsphere proxy reports an error. Error message:

[ERROR] 2022-03-22 13:27:46.984 [Connection-1-ThreadExecutor] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.lang.UnsupportedOperationException: unsupported table : `TABLES`
	at org.apache.shardingsphere.proxy.backend.text.admin.mysql.MySQLIn

[2022-03-22 06:19] Amulya-coder commented on #15810
@RaigorJiang now can I be assigned to this issue

[2022-03-22 06:25] qiannan5566 commented on #15975
试试把配置的规则中表名配置为大写，
`S_USER$->{Math.abs(loan_no.hashCode())` % 2}
`ds0.S_USER$->{0..1}`
像这样，oracle中会有这个问题
        rules:
            sharding:
                key-generators:
                    snowflake:
                        type: snowflake
                        props:
                            worker-id: 123

                binding-tables:
                    - s_user
                shar

[2022-03-22 06:46] RaigorJiang commented on #15810
OK, I just assign to you, thanks for your attention! @Amulya-coder

[2022-03-22 07:04] devfat commented on #16087
May I have a try?

[2022-03-22 08:38] TeslaCN commented on #13347
Close due to no response.

[2022-03-22 08:38] #13347 closed

[2022-03-22 08:38] TeslaCN commented on #13228
Close due to no response.

[2022-03-22 08:38] #13228 closed

[2022-03-22 08:41] #15967 closed

[2022-03-22 08:51] TeslaCN commented on #13996
I did some research. The `ShardingSpherePreparedStatement` has already used the `addBatch` method. The openGauss JDBC Driver will use the `BatchBind` protocol to communicate with openGauss server.

https://github.com/apache/shardingsphere/blob/15880ece98257a2019847c0ff0cd9dde3d8f721c/shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/statement/Sha

[2022-03-22 08:51] #13996 closed

[2022-03-22 08:58] TeslaCN commented on #16124
Duplicated with #8650.

[2022-03-22 09:05] RaigorJiang commented on #16260
@90yangkang
`TABLES` and `COLUMNS` are tables in MySQL `information_schema`, they are currently not supported.
However, this error does not affect your business operations and can be ignored for now. ShardingSphere will support them in the near future.

[2022-03-22 09:21] pparthenhs commented on #15707
Dear @sandynz,

I would like to collaborate on this issue. After some investigation, found that the class MySQLInventoryDumper is coved from unit tests.

![image](https://user-images.githubusercontent.com/9752042/159447676-bfa78f34-975c-4d46-bcbc-695753a12a4f.png)

So I think you could close the current issue.

Thank you in advance for your time, and contribution. I remain always at your disposal.

[2022-03-22 09:51] lMasterSparkl commented on #7703
@strongduanmu @heqiao @sabz90 @qiuxiaotong2021
now I used interceptor to changed update sql and add sharding column in  it here is the demo
[code]
and config the interceptor in config file I'm use properties

[code]
then use in business code like this
[code]
and in my test its already work to update data.

but I have some Security question that if it might seen SQL injection problem.
Welcome to po

[2022-03-22 10:32] #16183 closed

[2022-03-22 10:33] clbigdata commented on #16088
I want to solve this problem

[2022-03-22 10:34] zjcnb commented on #16088
Welcome, assigned.

[2022-03-22 10:35] zjcnb commented on #16087
Welcome, assigned.

[2022-03-22 10:45] soulasuna opened #16269 "Proxy support schema lock for stop write in cluster mode"
## Feature Request

Proxy support global schema lock in cluster mode

### Describe the feature you would like.

Proxy support schema level stop write lock in cluster mode

[2022-03-22 11:41] #16217 closed

[2022-03-22 16:28] vivek579 opened #16277 "How to load ShardingRuleConfiguration before flyway run"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-03-22 21:32] iamrahul8 commented on #16094
Hi, I am Rahul
I want to work on this issue

[2022-03-23 01:20] #16102 closed

[2022-03-23 01:49] linghengqian opened #16279 "Update Groovy to 4.0.1 to fix IntRange's left field problem"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Related to https://issue

[2022-03-23 02:18] zjcnb opened #16281 "ReadwriteSplittingDataSourceRule.getDataSources() need add unit test."

[2022-03-23 02:25] strongduanmu commented on #15825
@alceil Does this issue has any progress?

[2022-03-23 02:27] alceil commented on #15825
I will raise a pr soon as possible I was busy this week due to my college work.

[2022-03-23 02:28] zjcnb opened #16282 "Need Fix `cluster-mode-spring-namespace-mybatis-example` module"
<img width="1668" alt="image" src="https://user-images.githubusercontent.com/33742097/159611953-db6d3624-a129-47eb-a4cc-ea936171b2d2.png">

[2022-03-23 02:37] strongduanmu opened #16283 "Add more unit test for InlineExpressionParser"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for InlineExpressionParser.

- [ ] InlineExpressionParser#isInlineExpression
- [ ] InlineExpressionParser#handlePlaceHolder
- [ ] InlineExpressionParser#evaluateClosure

[2022-03-23 02:40] strongduanmu opened #16284 "Add more unit test for ClassBasedShardingAlgorithmFactory"
Hi community,

We need to add more unit test for ClassBasedShardingAlgorithmFactory.

- [ ] ClassBasedShardingAlgorithmFactory#newInstance

[2022-03-23 02:42] zjcnb opened #16285 "PropertiesUtil.getRequiredValue(final Properties properties, final String key) need add unit test"

[2022-03-23 02:47] zjcnb opened #16286 "SchemaRulePersistService.isExisted(final String schemaName) need add unit test."

[2022-03-23 02:51] TeslaCN opened #16287 "Consider improving the image of shardingsphere-proxy"
## Feature Request

### Is your feature request related to a problem?

It's inconvenient to tune JVM arguments when using the image `apache/shardingsphere-proxy`.

### Describe the feature you would like.

Consider exposing some environment variables for JVM arguments.

[2022-03-23 02:53] strongduanmu opened #16288 "Add more unit test for ShardingRule"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for ShardingRule.

- [ ] ShardingRule#getDatabaseShardingStrategyConfiguration
- [ ] ShardingRule#getTableShardingStrategyConfiguration
- [ ] ShardingRule#isGenerateKeyColumn
- [ ] ShardingRule#getShardingRuleTableNames
- [ ] ShardingRule

[2022-03-23 03:06] strongduanmu opened #16289 "Add more unit test for TableRule"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for TableRule.

- [x] TableRule#getDataNodeGroups
- [x] TableRule(final Collection<String> dataSourceNames, final String logicTableName)

[2022-03-23 03:09] strongduanmu opened #16290 "Add more unit test for ShardingRuleAlgorithmProviderConfigurationYamlSwapper"
Hi community,

We need to add more unit test for ShardingRuleAlgorithmProviderConfigurationYamlSwapper.

- [x] ShardingRuleAlgorithmProviderConfigurationYamlSwapper#swapToYamlConfiguration
- [x] ShardingRuleAlgorithmProviderConfigurationYamlSwapper#swapToObject

[2022-03-23 03:10] strongduanmu opened #16291 "Add more unit test for ShardingRuleConfigurationConverter"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for ShardingRuleConfigurationConverter.

- [ ] ShardingRuleConfigurationConverter#findAndConvertShardingRuleConfiguration

[2022-03-23 03:15] strongduanmu opened #16292 "Add more unit test for TrafficStrategyConfigurationYamlSwapper"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for TrafficStrategyConfigurationYamlSwapper.

- [ ] TrafficStrategyConfigurationYamlSwapper#swapToYamlConfiguration
- [ ] TrafficStrategyConfigurationYamlSwapper#swapToObject

[2022-03-23 03:24] strongduanmu opened #16293 "Add more unit test for DatabaseTypeFactory"
Hi community,

We need to add more unit test for DatabaseTypeFactory.

- [ ] DatabaseTypeFactory#getDatabaseType

[2022-03-23 03:33] TeslaCN opened #16294 "Operation not allowed after ResultSet closed occasionally happens in ShardingSphere-Proxy MySQL"
## Bug Report

This issue is not like https://github.com/apache/shardingsphere/issues/7549.

### Which version of ShardingSphere did you use?

master - d7223362a6ec23819ca5dfc240177974ddfc86bb

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Example codes for reproduce this issue (such as a github link).

[code]

### Expected behavior

N

[2022-03-23 04:02] devfat opened #16295 "Test case `ClusterContextManagerCoordinatorTest#assertDisableStateChanged` has no assertion"
Test case `ClusterContextManagerCoordinatorTest#assertDisableStateChanged` has no assertion.
[code]

It doesn't meet [code of conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/):

[2022-03-23 04:22] tuichenchuxin opened #16296 "proxy start with error when config mutli zookeeper server."
## Bug report

### Is your feature request related to a problem?
Yes
### Describe the feature you would like.
#### First, I started a local zk cluster via docker.
create a file docker-compose.yml
[code]
Then run
[code]
#### second I start proxy
Proxy server.ymal
[code]
#### Errors
[code]

[2022-03-23 04:44] jenil2401 commented on #16293
Hi I would like to work on this issue under OpenForce 2022. Can you please assign this issue to me? And also if possible suggestion on how to get started with this issue?

[2022-03-23 05:01] TeslaCN commented on #16296
I remember that this may occur in macOS but the Curator still worked. Does it cause startup failure?

[2022-03-23 05:11] zjcnb commented on #16295
@devfat Can you fix it?

[2022-03-23 05:25] totalo commented on #16293
hi @jenil2401 , welcome, You can search for the DatabaseTypeFactory class and add unit tests for the getDatabaseType method of this class.

[2022-03-23 05:41] zjcnb opened #16298 "Optimization DistSQL RAL `show readwrite_splitting read resources` result"
I think not need to show `delay_time (ms)` column when use `MGR` database discovery type.

[code]

[2022-03-23 05:46] zjcnb opened #16299 "The worker-id not persistence to the registry center when i use cluster mode"
### Configuration

`server.yaml : `

[code]

`config-sharding.yaml : `

[code]

[2022-03-23 05:49] soulasuna commented on #16299
I will follow assign to me

[2022-03-23 05:53] tuichenchuxin commented on #16296
Yes, it still worked.

[2022-03-23 06:05] devfat commented on #16295
Okey, I will try to fix it.

[2022-03-23 06:25] zjcnb commented on #16295
Okay.

[2022-03-23 06:29] RaigorJiang commented on #16298
If this `delay_time` is not displayed only in MGR mode, it will cause the result set of this DistSQL to be unstable, I think this is not a good idea.

[2022-03-23 06:57] TeslaCN opened #16301 "ShardingSphere-Proxy PostgreSQL in memory mode startup failed since #16272"
## Bug Report

### Which version of ShardingSphere did you use?

master - edf83226b03c979af77543a34356ad435c330749

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy PostgreSQL

### Expected behavior

ShardingSphere-Proxy PostgreSQL in memory mode startup succeeded.

### Actual behavior

ShardingSphere-Proxy MySQL startup succeeded.

[code]

[2022-03-23 07:05] strongduanmu commented on #16301
@TeslaCN Thank you for your feedback, I will investigate this issue.

[2022-03-23 07:37] TeslaCN commented on #16301
@strongduanmu
I found this issue is caused by my configuration:
[code]

[2022-03-23 07:40] qiannan5566 commented on #15667
数据库关键字需要大写，如insert改成INSERT

[2022-03-23 07:42] strongduanmu commented on #16301
@TeslaCN Thank you, I will optimize this problem.

[2022-03-23 08:04] RaigorJiang opened #16302 "[OpenForce 2022] Remove useless `worker-id` props for sharding key generator"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background
Previously, we needed to specify the `worker-id` when creating a `snowflake` key generator object.
But now that `worker-id` has been changed to a process-level configuration, there is no need to specify this parameter for each key generator.

### A

[2022-03-23 08:36] #16148 closed

[2022-03-23 08:50] strongduanmu commented on #16288
Since this issue contains many sub-tasks, you can choose one or more of them to participate.

[2022-03-23 08:51] Bhawna-Ad commented on #16094
Hey @iamrahul8! I am working on this issue currently. You can take up another one.

[2022-03-23 08:53] abhijeetjejurkar commented on #16302
hey, can I try this issue?

[2022-03-23 08:53] #16301 closed

[2022-03-23 08:58] RaigorJiang commented on #16302
Sure, I'll assign it to you @abhijeetjejurkar .

[2022-03-23 09:35] soumya-dash3 commented on #16282
Hello @zjcnb. I'm a contributor at Open-Force. Can this issue be assigned to me? Thanks

[2022-03-23 10:14] wzzqy commented on #9712
sharding-proxy HikariPool-1 - Failed to validate connection Possibly consider using a shorter maxLifetime value
This error occurs every once in a while

  connectionTimeoutMilliseconds: 30000
  idleTimeoutMilliseconds: 60000
  maxLifetimeMilliseconds: 1800000
settings are useless

[2022-03-23 10:35] whyliyi opened #16311 "Shardingsphere-proxy can not create very large table"
## Bug Report

**For English only**, other languages will not accept.

### Which version of ShardingSphere did you use?
I used docker to run shardingsphere-proxy, image info as bellow:
REPOSITORY                             TAG         IMAGE ID      CREATED       SIZE
docker.io/apache/shardingsphere-proxy  latest      1d05cc6334b2  5 weeks ago   436 MB
### Which project did you use:  ShardingSpher

[2022-03-23 10:39] acmenlt commented on #16281
You can give it to me, thank you.

[2022-03-23 10:49] whyliyi commented on #16311
DROP TABLE IF EXISTS `t_order`;
CREATE TABLE `t_order` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '主键id',
  `order_no` varchar(32) DEFAULT NULL COMMENT '订单号',
  `order_status` tinyint DEFAULT NULL COMMENT '订单状态2)',
  `except_sign_reason` varchar(255) DEFAULT NULL COMMENT '异常签收原因',
  `order_tags` varchar(255) DEFAULT NULL COMMENT '订单标签',
  `order_marks` varchar(255) DEFAULT NULL COMMENT '订单备注',

[2022-03-23 10:49] whyliyi commented on #16311
[code]

[2022-03-23 10:58] whyliyi commented on #16311
I guess, maybe the SQL string length is too long.

[2022-03-23 11:03] onevroad commented on #15975
yes, it's work, when I change the table name to uppercase in config.
I find that the exception is only throw in order by or limit.

[2022-03-23 11:56] acmenlt commented on #15665
You can assign it to me. Thank you @menghaoranss

[2022-03-23 11:57] zjcnb commented on #15665
Welcome.

[2022-03-23 12:28] pk-218 commented on #15746
Hey @tuichenchuxin! I have made a PR #16312 for the issue. Can you review it?

[2022-03-23 13:21] TeslaCN commented on #16294
This issue is easier to reproduce in transaction. If in transaction, the task will not `waitUntilConnectionRelease`, which increases the probability of running 2 tasks from the same client concurrently.

https://github.com/apache/shardingsphere/blob/3958c811dd6e1c4729a86d741ef095d43bf1cdd4/shardingsphere-proxy/shardingsphere-proxy-backend/src/main/java/org/apache/shardingsphere/proxy/backend/commu

[2022-03-23 13:43] CheerwayRen commented on #8638
Hello, I also encounter this problem now. When I use one table to divide the table, it can work normally. When I add another table, the rule of dividing the table will become invalid. The version I use is  5.0.0-beta
Here is my java configuration

`@Bean
    public DynamicDataSourceProvider dynamicDataSourceProvider() {
        Map<String, DataSourceProperty> datasourceMap = properties.getDatasour

[2022-03-24 00:37] #16087 closed

[2022-03-24 01:23] zhao190775705 opened #16318 "No implementation class load from SPI `org.apache.shardingsphere.infra.datetime.DatetimeService"
### Which version of ShardingSphere did you use?
A:ShardingSphere-JDBC5.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
A:ShardingSphere-JDBC
### Expected behavior
A:insert succeed
### Actual behavior
[code]
### Reason analyze (If you can)
A: occasionally appear, can you check?

[2022-03-24 01:24] zhao190775705 commented on #16318
## sql
[code]

[2022-03-24 01:36] itmachen opened #16319 "Shardingsphere keyword resolution failed"
## Bug Report

### Which version of ShardingSphere did you use?

4.1.1、5.0.0、5.1.0.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC.

### Expected behavior

select over from t_user;

### Actual behavior

4.1.1: `mismatched input 'over' expecting {'!', '~', '+', '-', '*', '.', '(', '{', '?', '@', TRUNCATE...`

5.1.0: `Caused by: org.apache.shardings

[2022-03-24 02:26] CarlKong commented on #13957
期待

[2022-03-24 02:28] weihubeats commented on #16292
hey, can I try this issue?

[2022-03-24 02:30] RaigorJiang commented on #16311
Did you input the SQL in the terminal client? Too long text may cause content errors, maybe try a GUI client?

[2022-03-24 02:40] strongduanmu commented on #16292
@weihubeats Of course, I will assign this issue to you.

[2022-03-24 03:34] strongduanmu opened #16324 "Schema 'public' doesn't exist when execute sql with PostgreSQL public schema"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/d71cac1c6d43eeda8906469ac504226416ceb14c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute sql `SELECT * FROM public.t_single;` successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

#

[2022-03-24 03:57] devfat commented on #16318
Can you provide the ShardingSphere-JDBC configuration of your project?

[2022-03-24 03:59] RaigorJiang opened #16325 "NullPointerException when setFetchSize"
## Bug Report
### Which version of ShardingSphere did you use?
[#3958c811](https://github.com/apache/shardingsphere/commit/3958c811dd6e1c4729a86d741ef095d43bf1cdd4)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
connect to Proxy, t

[2022-03-24 04:27] CheerwayRen opened #16326 "When I add two sharding rules using sharding jdbc and dynamic-datasource,The sharding rule is invalid"
At the beginning, I add day table sharding rule through SPI. When I added another rule, the table was not divided successfully. Is there a problem with my addition method?

using
shardingsphere-jdbc : 5.0.0-beta
dynamic-datasource-spring-boot-starter:3.3.1

[code]

[2022-03-24 05:08] zhao190775705 commented on #16318
I can't reproduce the problem？
config It shouldn't be a problem

[2022-03-24 05:12] TeslaCN commented on #16311
Hi @whyliyi
I tried your SQL and it worked in ShardingSphere-Proxy. Could you check again?

[code]

[2022-03-24 05:22] TeslaCN commented on #16311
My log:
[code]

[2022-03-24 05:39] whyliyi commented on #16311
navicat excution OK!

[2022-03-24 05:47] whyliyi commented on #16311
when I deleted some Chinese comments, it's work good. But after adding some `descriptionXX` columns, it don't work again.

As [RaigorJiang](https://github.com/RaigorJiang) said, navicat is OK.

[2022-03-24 06:14] sandynz opened #16331 "CREATE SHARDING BINDING TABLE RULES failed : Unable to bind different sharding strategies"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit d71cac1c6d43eeda8906469ac504226416ceb14c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
It works before, seems it's affected by PR #16172, I'm not sure whether it's bug or not.

### Actual behavior
SQL:
[code]

Exception stack trace:
[code]

[2022-03-24 06:17] TeslaCN commented on #16233
Done.

[2022-03-24 06:17] #16233 closed

[2022-03-24 07:21] RaigorJiang opened #16333 "Optimize the SQL log of Proxy, support to distinguish between schemas or users"
Hi community,

I have some ideas about optimizing the SQL log of ShardingSphere-Proxy.

### Background
Currently, by default, Proxy's log output is in the file `log/stdout.log`.

When `SQL-SHOW` is set to true, Proxy can log `Logic SQL` and `Actual SQL`, like this:
[code]

This is fine, but if I have multiple logic schemas, I can't tell in which schema the SQL in the log file is executed.

At the

[2022-03-24 07:47] #16324 closed

[2022-03-24 08:00] CheerwayRen commented on #16326
I found that my colleague annotated the mapper, which resulted in the failure to follow the sharding datasoucre

[2022-03-24 08:00] #16326 closed

[2022-03-24 08:56] qiannan5566 commented on #15975
关键点是在启动时，加载表配置那块代码，可以看一下，如果表规则配置为小写，加载出来的表配置会有问题

[2022-03-24 10:37] #16254 closed

[2022-03-24 10:40] #16144 closed

[2022-03-24 11:32] zjcnb commented on #16318
@zhao190775705  Please provide your configuration.

[2022-03-24 11:52] jingshanglu commented on #15405
@RaigorJiang Maybe we should support this sql
`ALTER INSTANCE 127.0.0.1@3310 SET XA_RECOVERY_ID = 127.0.0.1@3308,127.0.0.1@3310;`
`127.0.0.1@3308` is not alive proxy instance.

[2022-03-24 12:19] dawson-ao opened #16343 "Show error message: Route table null does not exist, available actual table"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-JDBC

### Expected behavior

insert data to databases and success.

### Actual behavior

show message:

Route table null does not exist, available actual table

### Reason analyze (If you can)

### Steps to reproduce the behavior, such

[2022-03-24 14:29] zjcnb commented on #16343
@dawson-ao Hi, Please provide your configuration.

[2022-03-24 14:49] terrymanu commented on #12206
The test cases are not enough, please add more test cases with global rule

[2022-03-24 14:55] #16333 closed

[2022-03-24 15:24] RaigorJiang commented on #16331
Hi @sandynz
According to the description of the `binding table` in the documentation, the sharding strategy (including the sharding key) should be consistent.
https://shardingsphere.apache.org/document/current/en/features/sharding/concept/table/

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/5668787/159950805-3e6f8615-9e35-4f61-9382-3051fca971f2.png">

[2022-03-24 16:14] caohuanglin opened #16348 "Incorrect locale and charset cause exception "ERROR 2027 (HY000): Malformed packet" when using sharding-proxy"
## Bug Report
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Actual behavior
mysql is utf-8.
Centos which is deployed sharding-proxy is "POSIX".
When i try to connect the sharding-proxy which is deploy on Centos with locale is "POSIX" as shown on the left of the picture,i find clients inclu

[2022-03-25 00:18] acmenlt commented on #12206
@terrymanu Received. More detailed test cases will be added in the next submission

[2022-03-25 01:47] sandynz commented on #16331
Hi @RaigorJiang , what does the `totally identical` means?
Except the same sharding algorithm and shards, are column names must be the same?

[2022-03-25 02:18] RaigorJiang commented on #15405
127.0.0.1@3308 is not alive proxy instance.

Hi @jingshanglu , can we change the key to `XA_RECOVERY_NODES` :
[code]

[2022-03-25 02:22] jingshanglu commented on #15405
OK，i agree with this idea.

[2022-03-25 02:23] sandynz opened #16351 "Run Bootstrap in IDE failed since FederationMetaData initialization throw NPE"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 63ab54bd886623a2583c86dda8beb3128079dbfe

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Proxy start without exception.

### Actual behavior
Exception stack trace:
[code]

### Reason analyze (If you can)
<img width="1173" alt="图片" src="https

[2022-03-25 02:25] RaigorJiang commented on #16331
Aha, Maybe @strongduanmu can tell us the truth?

[2022-03-25 02:31] tuichenchuxin commented on #16325
I'll investigate this.

[2022-03-25 02:47] strongduanmu commented on #16351
@sandynz Can you try clear exist zookeeper data first?

[2022-03-25 02:50] zjcnb opened #16352 "Mvn clean install has error msg."
[code]

[2022-03-25 02:50] wsg96321 opened #16353 "DistSQL whith DEFAULT SHARDING DATABASE STRATEGY not use"
version:  sharding proxy v 5.1.0

I implement hint algorithms name `common_hint_shard` , and I create dataresource by  distSQL . It has many tables in one dataresource and I special another algorithms just for 3 tables . But it seems not use when I create default algorithms with hint .

this is my distSQL :
[code]
I want to use distSQL like YAML config below :
[code]

this is `common_hint_shard` o

[2022-03-25 02:54] sandynz commented on #16351
OK, much old schemas, I'll use another namespace for now.

[2022-03-25 03:04] zjcnb commented on #16298
Yeah, let's keep the this result style.  I close this issue.

[2022-03-25 03:04] #16298 closed

[2022-03-25 03:09] yanweimiao opened #16355 "Does shardingsphere-jdbc support different type datasources at the same time in one project？"
Does shardingsphere-jdbc support different type datasources such as mysql and oracle at the same time in one project？

[2022-03-25 03:10] RaigorJiang opened #16356 "[OpenForce 2022] Add logback configuration instructions for Proxy."
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

### Background
ShardingSphere-Proxy uses `logback` to output logs, and we provide a new feature to support custom log splitting.
Please refer to #16333 and #16336.

### Aim
Added new documentation pages to describe default logging configurations (like levels, whi

[2022-03-25 03:16] strongduanmu commented on #16355
Hi @yanweimiao, shardingsphere-jdbc does not support different type datasources now, but we will support this feature in the future.

[2022-03-25 03:20] lanchengx opened #16357 "[OpenForce 2022] Add SQL parser test case for `ALTER INSTANCE instanceId SET XA_RECOVERY_NODES = value1,value2`."
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

### Background
`ALTER INSTANCE instanceId SET XA_RECOVERY_NODES  = value` is a syntax in DistSQL RAL, when ShardingSphereSQLParserEngine receives this SQL text, it parses it as AlterInstanceStatement.

Currently we have enhanced the syntax from `ALTER INSTANCE instanceId SET XA_RE

[2022-03-25 03:21] strongduanmu commented on #16331
Hi @RaigorJiang @sandynz, the field names of binding table were required to be the same before. Later, @TeslaCN  discovered this problem, so I adjusted this limit to support different field names as binding tables. Maybe the description of the binding table is confusing to you, I will optimize the documentation later.

[2022-03-25 03:31] RaigorJiang commented on #16331
Got it, thank you all! @sandynz @strongduanmu

[2022-03-25 03:32] sandynz commented on #16352
It's affected by `MemoryLockContext`, it's not implemented for now.

[2022-03-25 03:34] lanchengx opened #16359 "[OpenForce 2022] Add more unit test for `AlterInstanceHandler`"
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

We need to add more unit tests for AlterInstanceHandler to cover the thrown exception

- [ ] AlterInstanceHandler

Example FYI
- AlterTrafficRuleHandlerTest

[2022-03-25 03:57] yanweimiao commented on #16355
What is the expected release date for this function？

[2022-03-25 05:34] xuejmnet opened #16361 "Sequence Query and CircuitBreaker in ShardingSphere"
Hello I'm [ShardingCore](https://github.com/dotnetcore/sharding-core) Author，this lib is c# for sharding,.

i have some idea want share,i think it's useful.
- sequence query
- circuit breaker

## sequence query with order
i'm create sharding table and use time strategy like sharding by month or day ....

sharding logic table name `order`,sharding column `time`

order_202201,order_202202,order_2022

[2022-03-25 05:36] xuejmnet commented on #16361
idea chinese [blog](https://www.cnblogs.com/xuejiaming/p/15848454.html)

[2022-03-25 05:40] Swastyy commented on #16356
Hi @RaigorJiang , I will do this and other assigned to me tasks for openforce in some time. Please assign to me for english version. Thanks.

[2022-03-25 05:44] xuejmnet commented on #16361
i dont know now `shardingsphere` use which tails comparer,in source code i not found resort before partations,in sequence i think it's very useful.

if i'm set maxqueryconnections=1

[code]
### now
[code]
we should wait serial query 4 times,i think random sort table tail is bad,some time we should use sequence sort with table tail,and only add circuit breaker we can give up other query

[2022-03-25 06:01] heqiao commented on #7703
Hello folks! It has been a while since I attempted to work around this issue. I kinda agreed upon that this is more a JPA enhancement rather than a shardingsphere one.

@lMasterSparkl  Thanks for sharing! I did try the same approach - creating a customized annotation, extending `EmptyInterceptor`, intercept during onPrepareStatement. However, it was hacky enough that I ended up with sticking to th

[2022-03-25 06:07] Amulya-coder commented on #16357
Hi, @lanchengx I would like to work on this issue under OpenForce2022. Thanks.

[2022-03-25 06:08] RaigorJiang commented on #16356
OK @Swastyy , glad to see you!

[2022-03-25 06:13] lanchengx commented on #16357
@Amulya-coder  welcome

[2022-03-25 06:41] caohuanglin commented on #8218
check your system locale and mysql charset #16348

[2022-03-25 06:52] zhouyouwei-0127 commented on #16180
Thank you for you anwser @zjcnb @RaigorJiang , but I think this is a deficiency. Will it be repaired later?

[2022-03-25 07:08] strongduanmu opened #16364 "Update SQL parse engine api usage in document"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

Due to changes in the API of the SQL parse engine, we need to update the usage examples in the official documentation.

You can find target in this link, https://shardingsphere.apache.org/document/current/cn/reference/sharding/parse/.

<img width="1334" alt="image" sr

[2022-03-25 07:11] RaigorJiang commented on #16180
It's hard, as you can imagine, in the case of so many databases or tables, scanning once is very slow. This action should not be repeated for no reason.

[2022-03-25 07:18] Amulya-coder commented on #16364
Hi @strongduanmu I would like to work on this issue under OpenForce2022, Thanks.

[2022-03-25 07:24] strongduanmu commented on #16364
@Amulya-coder Welcome.

[2022-03-25 07:54] #16292 closed

[2022-03-25 08:37] justbk2015 opened #16367 "I want use sharding-jdbc directly in benchmark tools, but sharding-jdbc not support."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
jmeter and benchmarksql t

[2022-03-25 09:27] magicodex commented on #9524
hi, i use ShardingSphere v5.1 and liquibase v4.5.  it randomly select a datasource to create table?
i don't know why to remove defaultDataSourceName, but some scenarios are not satisfied now. i hope most table default create in the specified database.
`
// SingleTableRouteEngine.route0
RouteUnit routeUnit = rule.getDefaultDataSource().isPresent() // defaultDataSource is null
  ? getDefaultRouteUni

[2022-03-25 10:38] #16129 closed

[2022-03-25 11:24] TeslaCN commented on #16294
This solution will degrade performance.

[2022-03-25 12:13] sandynz commented on #16351
It works now on latest master branch, commit 8ff0322a2f4b31affc26cd2aec0e109a9a4398c6

[2022-03-25 12:18] sandynz commented on #16207
Verified on latest master branch, on plain schema (common t_order, t_order_item), it works now. Seems it's fixed by #16247.

But for BenchmarkSQL, since there's a new binding table DistSQL issue, it could not be verified now, it'll be verified later.

[2022-03-25 13:28] NJCrazyRen opened #16379 "ShardingSphere-proxy返回的ResultSet的MetaData信息不正确"
我有一个MySQL库，里面有一些数据表字段是加密的，所以希望使用ShardingSphere-proxy作为中间件来实现对应用透明的自动加解密。然而在测试过程中发现同样的查询SQL，通过JDBC发到后端真实库中执行得到的结果集（ResultSet）与发到ShardingSphere-proxy执行得到的结果集，它们的MetaData里的列数据类型并不完全一致，甚至再Decimal类型上还发生了精度缩减的情况，导致应用程序发生异常报错。
例如：
真实库中字段类型为 decimal(5, 2)
JDBC直接访问真实库查询得到的结果集MetaData中也是 decimal(5, 2)
但是JDBC访问ShardingSphere-proxy查询得到的结果MetaData中却是 decimal(3, 2)
其它decimal类型的字段也是同样，看起来都是 precision 莫名少了 2

MyS

[2022-03-25 16:28] terrymanu opened #16383 "Dynamic load SQL parser test cases from MySQL and PostgreSQL"
The current SQL parser test case for unsupported SQL is `org.apache.shardingsphere.test.sql.parser.parameterized.engine.UnsupportedSQLParserParameterizedTest`.
The test data is in `src/main/resources/sql/unsupported/unsupported.xml` which composed by static and dynamic.

![image](https://user-images.githubusercontent.com/5516298/160160614-edbc3aa8-09dc-4b5a-9872-855453694013.png)

We need to keep

[2022-03-26 00:43] ismailalammar commented on #16359
Hi @lanchengx  i would like to work on this issue , could you please assign this issue to me? And also if possible suggestion on how to get started with this issue. Thanks

[2022-03-26 00:43] zjcnb commented on #16379
@NJCrazyRen Hello, Can your translate english for your question?

[2022-03-26 00:46] zjcnb opened #16384 "SchemaMetaDataNode.getDatabaseNamePath(final String databaseName) add unit test"

[2022-03-26 00:47] zjcnb opened #16385 "SchemaMetaDataNode.getFullMetaDataPath(final String schemaName, final String node) add unit test"

[2022-03-26 00:49] zjcnb opened #16386 "SchemaMetaDataNode.getTableMetaDataPath(final String databaseName, final String schemaName, final String table) add unit test"

[2022-03-26 01:40] strongduanmu commented on #16359
@ismailalammar Welcome, you can refer AlterTrafficRuleHandlerTest, it give an good example.

[2022-03-26 02:37] ntsompa commented on #16385
Hello i am interested in this one. Could you please help me with where the unit tests are supposed to be written for each part? Thank you in advance.

[2022-03-26 02:52] ntsompa commented on #16386
Hello, i am interested into contributing.

[2022-03-26 02:53] ntsompa commented on #16384
Hello i am interested into this one. Thank you.

[2022-03-26 02:55] ntsompa commented on #16291
Hello, i am interested in this one. Could you please help me with some guidelines on how to work with it? Thank you.

[2022-03-26 02:55] ntsompa commented on #16290
Hello, i am interested in working with this issue. Could you please assist me with it? Maybe an existing example. Thank you in advance.

[2022-03-26 02:56] ntsompa commented on #16288
Hello, i am interested in 'tackling' some of this issues. Could you please give me some guidance?

[2022-03-26 02:57] zjcnb commented on #16385
Please add unit tests in class `SchemaMetaDataNodeTest`

[2022-03-26 03:00] zjcnb commented on #16386
Please completed it first #16385 .

[2022-03-26 03:01] zjcnb commented on #16384
Please completed it first https://github.com/apache/shardingsphere/issues/16385 .

[2022-03-26 03:12] strongduanmu commented on #16291
@ntsompa Welcome, you can refer ShardingRuleConfigurationYamlSwapperTest class.

[2022-03-26 03:35] #15749 closed

[2022-03-26 03:50] NJCrazyRen commented on #16379
OK, thanks for your reply. Forgive my poor English.
The question is that I have a MySQL database and there are some columns storing encrypted data, but I need plain text data in my spark application. So I tried to use ShardingSphere-proxy with corrent encrypt config as middleware between my apache spark application and MySQL. It works well when I use DBeaver to execute query, I got the plain data.

[2022-03-26 04:57] ismailalammar commented on #16359
Hi @strongduanmu i've submitted a PR regarding this issue , kindly let me know if there is any issue.

Thanks

[2022-03-26 05:31] zjcnb opened #16389 "GlobalLockNode.getGlobalLocksNodePath() add unit test"
Please add unit test in class `GlobalLockNodeTest`

[2022-03-26 05:33] zjcnb opened #16390 "GlobalLockNode.getGlobalAckNodePath() add unit test"
Please add unit test in class `GlobalLockNodeTest`

[2022-03-26 05:34] zjcnb opened #16391 "GlobalLockNode.generateSchemaLockName(final String schema, final String instanceId) add unit test"
Please add unit test in class `GlobalLockNodeTest`

[2022-03-26 05:35] zjcnb opened #16392 "GlobalLockNode.generateSchemaAckLockName(final String schema, final String lockedInstanceId) add unit test"
Please add unit test in class `GlobalLockNodeTest`

[2022-03-26 08:09] Amulya-coder commented on #16364
@strongduanmu could you please guide me on how can I update the usage examples

[2022-03-26 15:45] terrymanu commented on #12366
@totalo Thank you for the great job!
The example enhancement is completed nearly.

There are still some tasks need to be done:

1. `product`, `mode` and `transaction` in config.yaml could be use multiple values, it is better to name them as `products`, `modes` and `transactions`.
2. I noticed that example of Proxy can not use mix rule configuration, maybe we can improve it to keep same as JDBC.
3.

[2022-03-26 15:58] totalo commented on #12366
It's my pleasure, I will continue to push forward and continue to improve related functions.

[2022-03-26 18:41] ntsompa commented on #16385
Hello, i notice that the SchemaMetaDataNode.getFullMetaDataPath() is a private method, so how am i supposed to call it from the test class? Also, which values should i use as its parameters in order to test it? Thank you in advance.

[2022-03-26 19:23] ntsompa commented on #16386
Hello, i think i solved this one, can i open a pull request? Thank you.

[2022-03-26 19:32] ntsompa commented on #16384
Hello, i think i solved this one, may i open a pull request? Thank you.

[2022-03-26 19:32] everly-gif commented on #15742
Hi @tuichenchuxin ,

I would like to take this issue up!

[2022-03-26 23:39] ntsompa commented on #16390
Hello, i think i know how to solve this. Can i please work on it? Thank you.

[2022-03-26 23:39] ntsompa commented on #16389
Hello, i think i know how to solve this. Can i please work on it? Thank you.

[2022-03-26 23:59] ntsompa commented on #16391
I think i solved this one, may i open a PR? Thank you.

[2022-03-27 00:03] ntsompa commented on #16392
I am confident that i have solved this one, can i please open a PR? Thank you.

[2022-03-27 02:11] yx9o commented on #16392
@ntsompa Of course.

[2022-03-27 02:11] yx9o commented on #16391
@ntsompa Welcome.

[2022-03-27 02:14] yx9o commented on #16286
@acmenlt Welcome.

[2022-03-27 02:15] yx9o commented on #16282
@soumya-dash3 Welcome.

[2022-03-27 02:16] yx9o commented on #16281
@acmenlt Welcome.

[2022-03-27 02:45] galaxylqx commented on #15876
Hi @sandynz, Have you considered the problem of 10000 databases in the same physical database instance, which means that 10000 database connection pools need to be created. It does exist in our online environment. The current way of binding data sources to physical databases is unreasonable when the same database instance is used for many databases. I think database connections should not be bound

[2022-03-27 03:05] zjcnb commented on #16385
Sorry, this is private method, it needn't add unit test. Close it.

[2022-03-27 03:05] #16385 closed

[2022-03-27 03:31] totalo opened #16404 "Example improvement plan ||"
Now the brand new example module has been initially completed, and the shardingshere-jdbc example is ready to use, but there are many areas that can be optimized.

Task:
- [x] Add verification of `config.yaml` configuration to provide user-friendly prompts
- [ ] Supports the combined generation of transaction, product, and operational modes

relate #12366

[2022-03-27 04:00] ismailalammar commented on #16384
Hi @zjcnb , would like to contribute to solve this issue ,  if it is still open and not assigned to anyone

[2022-03-27 05:52] #14807 closed

[2022-03-27 13:07] sandynz commented on #15876
Hi @galaxylqx , I did the similar thing for thread pool before, it seems more flexible for shared pool than dedicated pools, they're different ways.
If every database need to limit maximum connections count, and the minimum connections count is `0`, then it's resource isolation problem, the 2 ways above have similar effect, though one of them need much more configuration.
For example: [Hystrix Exe

[2022-03-27 15:26] terrymanu commented on #12366
And one more suggestion we can do:
It is better to split `ExampleMain.ftl` as each framework keep one.

[2022-03-27 15:49] totalo commented on #12366
ok, i will do it.

[2022-03-28 00:29] ismailalammar commented on #16283
Hi , i would like contribute under OpenForce 2022 , could you please assign this issue to me ?

[2022-03-28 00:54] tuichenchuxin commented on #15742
@everly-gif Great!

[2022-03-28 01:11] strongduanmu commented on #16283
@ismailalammar Welcome, I will assign this issue to you.

[2022-03-28 01:27] zhouyouwei-0127 commented on #16180
OK. I see. Thank you for your answer

[2022-03-28 01:30] #16359 closed

[2022-03-28 01:53] TeslaCN commented on #16311
Close due to issue solved.

[2022-03-28 01:53] #16311 closed

[2022-03-28 02:06] NJCrazyRen opened #16424 "The precision of decimal type column in jdbc ResultSet returned by ShardingSphere-proxy is incorrect"
The question is that I have a MySQL database and there are some columns storing encrypted data, but I need plain text data in my spark application. So I tried to use ShardingSphere-proxy with correct encrypt config as middleware between my apache spark application and MySQL. It works well when I use DBeaver to execute query, I got the plain data. But the exception below occured in my spark applica

[2022-03-28 02:15] #16390 closed

[2022-03-28 02:16] #16384 closed

[2022-03-28 03:05] limengjia opened #16425 "Can not be represented as java.sql.Timestamp"
### Which version of ShardingSphere did you use?
ShardingSphere Version: 5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Project:  ShardingSphere-Proxy

### Expected behavior
When I execute a sql which result contains timestamp , sharding-proxy returns an error message:
mysql> select * from  app_mst  where app_id='test';
ERROR 2013 (HY000): Lost connection to MyS

[2022-03-28 03:11] TeslaCN commented on #12245
This issue has been fixed in #15603, #15619, #15753, #15795.

[2022-03-28 03:11] #12245 closed

[2022-03-28 03:36] TeslaCN commented on #16379
Opened in #16424.

[2022-03-28 03:36] #16379 closed

[2022-03-28 03:43] TeslaCN commented on #16348
Hi @caohuanglin
Could you try the master branch? We have did some enhancements about charset in master branch. You may find the daily build in https://github.com/apache/shardingsphere/pkgs/container/shardingsphere-proxy.

[2022-03-28 05:06] TeslaCN commented on #16294
Closing 100 prepared statements once is easier to reproduce this issue.

[code]

[2022-03-28 05:51] sandynz commented on #16207
It works for BenchmarkSQL now, on master branch, commit 140f14664a14f14902b613561c32eb7b30540058. Binding table is ignored for now.

[2022-03-28 05:51] #16207 closed

[2022-03-28 06:03] TeslaCN commented on #16425
@limengjia Thanks for your feedback!

[2022-03-28 06:15] TeslaCN commented on #16425
I found this issue is caused by MySQL Connector's default behaviour.
https://github.com/mysql/mysql-connector-j/blob/ad86f36e100e104cd926c6b81c8cab9565750116/src/com/mysql/jdbc/ConnectionPropertiesImpl.java#L1256-L1260

Add the `zeroDateTimeBehavior=round` to JDBC URL may avoid the error.

[code]

[2022-03-28 06:20] limengjia commented on #16425
thanks

[2022-03-28 06:21] RaigorJiang commented on #16180
@zhouyouwei-0127  You are welcome, so can we close this issue?

[2022-03-28 08:38] ismailalammar commented on #16283
Thanks @strongduanmu , could you please guid me on the testing mechanism for `InlineExpressionParser#evaluateClosure` ?

[2022-03-28 09:31] #16425 closed

[2022-03-28 09:50] #16294 closed

[2022-03-28 10:35] #15998 closed

[2022-03-28 11:48] #15746 closed

[2022-03-28 13:06] akhil9281 commented on #16284
Hi @strongduanmu I would like to work on this issue under OpenForce2022, Thank You!

[2022-03-28 13:08] TeslaCN opened #16439 "[DISCUSS] Release Plan of ShardingSphere 5.1.1"
## Release 5.1.1

Hi community,

After the release of 5.1.0 version, we have received a lot of feedback
from users and developers. Now we plan to release the ShardingSphere 5.1.1
version this week, which has made a lot of optimization and improvement for
these feedback.

Please refer to this release notes to confirm whether it contains the
features you expect. If I miss anything, please remind me

[2022-03-28 13:21] #15748 closed

[2022-03-28 13:45] udrnrso opened #16442 "如何实现不带分片键使用Hint，带分片键时使用分片算法？"
假设分片字段是user_id
在不带user_id条件时，如下面sql，希望能强制指定分片号
// 强制指定使用分片00
select * from tableA limit 500
在带user_id条件时，使用分片算法
select * from tableA where user_id = 'testuser'

看了文档好像只能hint/standard 二选 一，是否支持混合使用呢？

[2022-03-28 14:18] ShiFengCui commented on #16404
assign me please

[2022-03-29 00:04] strongduanmu commented on #16404
@ShiFengCui Welcome.

[2022-03-29 00:05] strongduanmu commented on #16284
@akhil9281 Welcome, I will assign this issue to you.

[2022-03-29 00:27] akhil9281 commented on #16284
Thank you @strongduanmu ,, could you please guide me on how can I add more unit test for ClassBasedShardingAlgorithmFactory ?

[2022-03-29 00:37] strongduanmu commented on #16284
Hi @akhil9281, `ClassBasedShardingAlgorithmFactory` is a factory class for building `StandardShardingAlgorithm`, `ComplexKeysShardingAlgorithm` and `HintShardingAlgorithm`, so we need to test the instantiation of these three algorithms. Also, in addition to the `newInstance` method, there are `setProperties` and `init` logic that need to be overridden in unit tests.

[2022-03-29 01:00] userkdg commented on #14636
need support :
![Uploading image.png…]()

[2022-03-29 01:30] akhil9281 commented on #16284
okay @strongduanmu,, let me study it and I'll get back to you!

[2022-03-29 01:34] yangsen00 commented on #16289
hello, I would like to have a try

[2022-03-29 01:37] strongduanmu commented on #16289
@yangsen00 Welcome.

[2022-03-29 01:38] ismailalammar commented on #16283
Hi @strongduanmu , i've submitted a PR for this issue. Thanks!

[2022-03-29 01:53] strongduanmu commented on #16283
Good job, I will review this pr.

[2022-03-29 01:54] Ajax001001 opened #16446 "How to avoid Cartesian product when using hint？"
**Which version of ShardingSphere did you use?**
5.1.0

**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-JDBC

**Expected behavior**

When I use hint to add multiple table sharding values to multiple logical tables, I want to avoid Cartesian product.

**Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception oc

[2022-03-29 02:15] #16295 closed

[2022-03-29 02:25] TeslaCN commented on #14636
@userkdg I seems this exception was thrown by JDBC Driver instead of Proxy.

[2022-03-29 02:33] zjcnb opened #16447 "The throws NPE when execute use database."
[code]

[2022-03-29 02:36] TeslaCN commented on #12206
Hi @acmenlt
Any update here? We are going to release 5.1.1.

[2022-03-29 02:36] userkdg commented on #14636
This issue has been fixed locally, reason is :
mybatis foreach insert/update... sql parser error and sharding-encrypt sql rewrite unsupport

[2022-03-29 02:36] TeslaCN commented on #15113
Hi @menghaoranss @zjcnb
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:37] TeslaCN commented on #7969
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:38] TeslaCN commented on #9608
Close due to no response.

[2022-03-29 02:38] #9608 closed

[2022-03-29 02:39] TeslaCN commented on #11116
Hi @strongduanmu
Any update here?

[2022-03-29 02:39] acmenlt commented on #12206
@TeslaCN There is no update yet. Can we postpone it to the next version.

[2022-03-29 02:40] TeslaCN commented on #13091
Hi @strongduanmu
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:40] TeslaCN commented on #13343
Hi @strongduanmu
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:42] TeslaCN commented on #13429
Aborting query is not so simple. We may do this in future release.

[2022-03-29 02:43] TeslaCN commented on #13759
Hi @strongduanmu @tuichenchuxin
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:43] strongduanmu commented on #13759
@TeslaCN I will move this issue to 5.1.2.

[2022-03-29 02:44] TeslaCN commented on #14636
@userkdg You may consider doing batched inserts by multi values instead of multi statements.

[2022-03-29 02:45] TeslaCN commented on #11369
Hi @tuichenchuxin
Any update here? Could we finish this in 5.1.1?

[2022-03-29 02:46] strongduanmu commented on #13343
I will move this issue to next version.

[2022-03-29 02:47] strongduanmu commented on #13091
This issue is too big, I will remove its milestone first.

[2022-03-29 02:49] TeslaCN commented on #12170
There are about 24% lines in `ProjectionEngine` are not covered by `ProjectionEngineTest.` This issue will remain open.

[2022-03-29 02:51] userkdg commented on #14636
@TeslaCN It is not friendly to mature business systems. In addition, shouldn't we solve this problem from the framework?

[2022-03-29 02:52] TeslaCN commented on #12171
@shreya024
Sorry for the delay. Assigned.

[2022-03-29 02:53] TeslaCN commented on #13848
We have removed most of them.

[2022-03-29 02:53] #13848 closed

[2022-03-29 02:55] tuichenchuxin commented on #9446
Has been Fixed.

[2022-03-29 02:55] #9446 closed

[2022-03-29 02:56] TeslaCN commented on #14039
Finished in #14561.

[2022-03-29 02:56] #14039 closed

[2022-03-29 02:56] TeslaCN commented on #14525
Aborting query is a little complicated. We may do this in future release.

[2022-03-29 02:57] TeslaCN commented on #14506
Hi @strongduanmu @cheese8
Any update here?

[2022-03-29 02:58] NJCrazyRen opened #16448 "Fail to execute RDL in DBeaver, error message is: This version of ShardingSphere-Proxy doesn't yet support this SQL"
I used ShardingSphere-proxy 5.1.0 for decrypt data purpose.

I tried to set the rule with RDL sql below:
`CREATE ENCRYPT RULE spcm_pc_partner (
COLUMNS(
(NAME=tel_num,CIPHER=tel_num,TYPE(NAME=SRM_DATA_AES)),
(NAME=bank_account_num, CIPHER=bank_account_num,TYPE(NAME=SRM_DATA_AES))
)`
My db table's name is 'spcm_pc_partner' and custom encryptor named 'SRM_DATA_AES'. I'm sure this custom encryptor is

[2022-03-29 02:58] tuichenchuxin commented on #14506
Fixed.

[2022-03-29 02:58] #14506 closed

[2022-03-29 02:58] TeslaCN commented on #14576
Hi @menghaoranss @sandynz
Any update here?

[2022-03-29 03:00] tuichenchuxin commented on #13596
Fixed.

[2022-03-29 03:00] #13596 closed

[2022-03-29 03:02] TeslaCN commented on #15699
Finished in #15980.

[2022-03-29 03:02] #15699 closed

[2022-03-29 03:04] TeslaCN commented on #16133
This issue may not in release scope.

[2022-03-29 03:06] TeslaCN commented on #15405
Hi @jingshanglu @lanchengx
Any update here? Could we finish this in 5.1.1?

[2022-03-29 03:07] TeslaCN commented on #12709
Hi @wgy8283335
Any update here? Could we finish this in 5.1.1?

[2022-03-29 03:22] TeslaCN commented on #15686
Hi @strongduanmu
Any update here?

[2022-03-29 03:22] #16446 closed

[2022-03-29 03:23] Ajax001001 commented on #16446
using binding table
![image](https://user-images.githubusercontent.com/32668994/160526834-c763f9ee-b9ae-4273-988e-ef364a1468a8.png)

shardingRuleConfiguration.getBindingTableGroups().add("ty_work_order_hint,ty_description");

[2022-03-29 03:23] TeslaCN commented on #15874
Hi @SirMin @tuichenchuxin
Any update here?

[2022-03-29 03:29] TeslaCN commented on #16404
Examples are not in release scope. I will remove the milestone for now.

[2022-03-29 03:31] terrymanu commented on #12366
One more thing: we can consider about use template to generate test cases which can assert the data sources are connected and work fine.

[2022-03-29 03:36] #16124 closed

[2022-03-29 03:36] #16279 closed

[2022-03-29 03:43] devfat commented on #16285
Please assign it to me

[2022-03-29 03:53] lanchengx commented on #15405
@TeslaCN done

[2022-03-29 03:57] #16283 closed

[2022-03-29 04:03] strongduanmu commented on #15686
@TeslaCN Thank you for your remind, this issue can be closed now.

[2022-03-29 04:03] #15686 closed

[2022-03-29 04:07] tuichenchuxin commented on #15874
@TeslaCN Not complete yet. We'll discuss about it. @SirMin

[2022-03-29 04:52] shreya024 commented on #12171
Hey @TeslaCN sorry for not informing earlier.The OpenForce program has ended.

[2022-03-29 05:08] #15405 closed

[2022-03-29 05:13] TeslaCN commented on #12171
This issue is outdated.

[2022-03-29 05:13] #12171 closed

[2022-03-29 05:18] #16352 closed

[2022-03-29 05:23] TeslaCN commented on #14636
It is not because of unsupported feature, insert with values may faster than multi statements.

[2022-03-29 05:32] TeslaCN commented on #16189
Close due to no response.

[2022-03-29 05:32] #16189 closed

[2022-03-29 05:33] TeslaCN commented on #15016
Hi @zjcnb
Any update here? Could we finish this in 5.1.1?

[2022-03-29 05:35] TeslaCN commented on #15763
Finished in #15794.

[2022-03-29 05:35] #15763 closed

[2022-03-29 05:36] TeslaCN commented on #16256
Hi @zjcnb
Any update here? Could we finish this in 5.1.1?

[2022-03-29 05:37] TeslaCN commented on #16269
Hi @soulasuna
Any update here? Could we finish this in 5.1.1?

[2022-03-29 05:39] TeslaCN commented on #14721
Hi @sandynz @ReyYang
Any update here? Could we finish this in 5.1.1?

[2022-03-29 05:40] TeslaCN commented on #16299
Hi @soulasuna
Any update here? Could we finish this in 5.1.1?

[2022-03-29 05:41] TeslaCN commented on #15709
Hi @rithikarajk
Any update here?

[2022-03-29 05:45] soulasuna commented on #16299
Hi @TeslaCN
There will also be an update on intercepting `DistSQL`.
Others need to be supplemented by @sandynz.

[2022-03-29 05:45] soulasuna commented on #16269
Hi @TeslaCN
There will also be an update on intercepting DistSQL.
Others need to be supplemented by @sandynz.

[2022-03-29 05:52] #16391 closed

[2022-03-29 05:56] sandynz commented on #14721
It depends on  #15532, I'll move it to 5.1.2 for now.

[2022-03-29 05:59] sandynz commented on #14576
Looks it's not improved in code, I just use the workaround for now. I'll move it to 5.1.2.

[2022-03-29 06:08] zjcnb commented on #16256
@TeslaCN Hi, i 'm not confirm. i will do it after version 5.1.1.

[2022-03-29 06:09] sandynz commented on #16269
Hi @TeslaCN , @soulasuna , scaling integration with schema lock is done, this part will be released in 5.1.1

[2022-03-29 06:14] lanchengx opened #16455 "[OpenForce 2022] Modify capitalization of keywords in RAL grammar documents"
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

### Background
DistSQL（Distributed SQL）is Apache ShardingSphere specific SQL.

In documentation we usually use all uppercase words for grammar keywords and camel case for grammar variables.
For example, in the syntax `ADD RESOURCE dataSource`,  `ADD` and `RESOURCE` are syntax keyw

[2022-03-29 06:23] ritikBhandari commented on #16455
Hi,
Can I work on this?

[2022-03-29 06:25] zjcnb opened #16456 "`DROP DATABASE IF EXISTS sharding_db` throws NPE."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Configuration

[code]

[code]

[2022-03-29 06:31] liuyibo123 opened #16457 "comment not worked shardingsphere-proxy"
I did this works ,but its not route to write db.I want to make sure , does proxy not support comment ?
1.  I added ```/* ShardingSphere hint: writeRouteOnly=true */``` before my sql
2. seted `sql_comment_parse_enable` true
3. seted `proxy_hint_enabled` true  in server.yaml

I use `set readwrite_splitting hint source=write` works.

[2022-03-29 06:33] sandynz opened #16458 "Execute `show databases;` failure since NPE thrown with new namespace in proxy cluster mode"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit f8ff9963de642e0a26f3ff8d38a172c0e28229a0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No exception occur.

### Actual behavior
SQL:
[code]

Exception stack trace:
[code]

### Reason analyze (If you can)
In `MySQLComQueryPacketExecutor.par

[2022-03-29 06:40] TeslaCN commented on #16457
If you are using `mysql` cli, you may need to add `-c` to enable sending comments.

[2022-03-29 06:42] zjcnb commented on #16458
Same question #16456

[2022-03-29 06:51] liuyibo123 commented on #16457
I am using jdbc and the log  of shardingsphere-proxy is :
[code]
comments is sended to proxy

server.yaml

[code]

[2022-03-29 06:58] #16456 closed

[2022-03-29 06:58] liuyibo123 commented on #16457
shardingsphere version  5.1.0

[2022-03-29 06:59] #16458 closed

[2022-03-29 07:11] TeslaCN commented on #16457
You may need to add the SQL parser rule to enable parsing comments.

https://shardingsphere.apache.org/document/5.1.0/en/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-parser/

https://github.com/apache/shardingsphere/blob/50b3f45a3b60efe28a00ca69d74024d6f5eee443/examples/shardingsphere-proxy-example/shardingsphere-proxy-distsql-example/src/main/resources/server/server.yaml#L48-L49

[2022-03-29 07:11] lanchengx commented on #16455
@ritikBhandari Welcome

[2022-03-29 07:18] zjcnb opened #16462 "Change namespace has error message when use cluster mode"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-03-29 07:24] wsm12138 opened #16463 "No connection. Trying to reconnect..."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-03-29 07:24] liuyibo123 commented on #16457
it works ! thanks a lot .

[2022-03-29 07:26] TeslaCN commented on #16463
Hi @wsm12138
Could you capture the transmission between MySQL cli and ShardingSphere-Proxy by tools like `tcpdump`?

[2022-03-29 07:28] wsm12138 commented on #16463
i can't.

[2022-03-29 07:41] #16457 closed

[2022-03-29 07:47] lanchengx commented on #16448
@NJCrazyRen Hi，I find that your statement seems to be missing a `)`

[code]

[2022-03-29 08:03] TeslaCN commented on #16463
I found this issue may cause by #16373.

[2022-03-29 08:08] TeslaCN commented on #16463
Using the MySQL cli 8 can reproduce this issue.

[2022-03-29 08:13] #16325 closed

[2022-03-29 08:14] TeslaCN commented on #16463
[error_tcpdump.zip](https://github.com/apache/shardingsphere/files/8369364/error_tcpdump.zip)

[2022-03-29 08:14] wsm12138 commented on #16463
I've already tried the latest master branch.
commit id 50b3f45a3b60efe28a00ca69d74024d6f5eee443q
But the problem still exists.

[2022-03-29 08:15] NJCrazyRen commented on #16448
Oh, it's my mistake. I'm careless. I have corrected the sql and test. It works as expected. Thanks.

[2022-03-29 08:16] strongduanmu commented on #16463
I will try with mysql cli 8.

[2022-03-29 08:18] lanchengx commented on #16448
ok, i will close this issue

[2022-03-29 08:18] #16448 closed

[2022-03-29 09:21] zm52hz opened #16469 "The problem of association between two sub-tables"
## Question
version : ShardingSphere-JDBC 5.1.0

According to the logic of ShardingSphere, the query condition has no sharding field and the routing engine will use the Cartesian product for it.
Now we have the following SQL:
   SQL1: select a.id ,a.time,b.id from photo a left join alarm_photo b on a.alarm_id = b.id
Logic Table photo has two actual tables:  photo_202201,photo_202203 ,  two months

[2022-03-29 09:42] #16462 closed

[2022-03-29 11:17] KALYAN393 commented on #16455
Hi, as this is my first contribution so i think that this issue is good to start, kindly allow me to work on this issue if possible.

[2022-03-29 11:46] sandynz commented on #15702
Hi @varsha089 , is there any updates on this issue? Feel free to leave comment here if you have any question.

[2022-03-29 11:47] sandynz commented on #15703
Hi @RakeshPotnuru , is there any update on this issue? Feel free to leave comment here if you have any question.

[2022-03-29 11:48] sandynz commented on #15709
Hi @rithikarajk , feel free to leave comment here if you have any question.

[2022-03-29 11:50] #16351 closed

[2022-03-29 11:59] zjcnb opened #16473 "No guarantee the configuration information will be persisted successfully When deploy `ZooKeeper` in `Docker`"
Hi community,

   When the local `ShardingSphere-Proxy` connection is deployed in `ZooKeeper` in `Docker`, the `operationTimeoutMilliseconds` may timeout due to network problems. Since `ShardingSphere` does not verify whether the configuration information is really persisted successfully, there may be cases where it is not persisted successfully.

[2022-03-29 12:11] #16473 closed

[2022-03-29 12:21] RakeshPotnuru commented on #15703
@sandynz
I will take another issue. Unassigning myself.

[2022-03-29 12:24] #15747 closed

[2022-03-29 12:34] zjcnb commented on #16447
This problem are fixed.

[2022-03-29 12:34] #16447 closed

[2022-03-29 12:44] strongduanmu commented on #16234
All task has been finished, so I will close this issue.

[2022-03-29 12:44] #16234 closed

[2022-03-29 13:39] rithikarajk commented on #15709
Sorry Sir for the delay. I am working on the issue. I lost the track due to
unexpected series exams. I couldn't focus on solving the issue. I assure to
close the issue as soon as possible.

On Tue, 29 Mar 2022, 5:19 pm Hongsheng Zhong, ***@***.***>
wrote:

[2022-03-29 15:06] sandynz commented on #15709
@rithikarajk , that's OK, thanks.

[2022-03-29 15:07] sandynz commented on #15703
@RakeshPotnuru , that's OK, thanks.

[2022-03-29 15:16] sandynz commented on #15702
@varsha089 , that's OK.
Maybe there're too much classes need to add unit test, I could separate it as several issues.
Which one are you doing? I'll keept it here.

[2022-03-30 01:55] tuichenchuxin commented on #15599
@xsong123 Please use
[code]
https://dev.mysql.com/doc/refman/8.0/en/show-tables.html

[2022-03-30 01:55] #15599 closed

[2022-03-30 02:06] superme-ray opened #16480 "version 5.1.0 shardingsphere-jdbc-spring-boot-starter package can not find interface PreciseShardingAlgorithm"
its bug？？

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.0</version>
        </dependency>

implement interface PreciseShardingAlgorithm，not found！！！！

[2022-03-30 02:06] #16463 closed

[2022-03-30 02:11] ismailalammar commented on #15744
HI @tuichenchuxin , may i work on this issue ?

[2022-03-30 02:20] yaofeng8888 opened #16481 "About user customize sql with force index"
## Question
sharding-jdbc-core ：version 3.1.0
sharding-jdbc-spring-namespace : version 3.1.0
desc:
 when i was use force index,the program error 。
 java.sql.SQLSyntaxErrorException: Key 'idx_createdon_WT_WRONG_0' doesn't exist in table 'WT_WRONG_0'
 but "idx_createdon" is my index, "WT_WRONG" is table name
the sql operation result is ：select * from WT_WRONG force index(idx_createdon)

thanks

[2022-03-30 02:26] tuichenchuxin commented on #15744
@ismailalammar sure.

[2022-03-30 02:26] lanchengx commented on #16455
@KALYAN393 Sorry, already assigned to @ritikBhandari .

[2022-03-30 02:38] tuichenchuxin commented on #15532
I tried these steps, but didn't reproduced.
## FIREST
server.ymal
[code]
## Second
[code]
## Third
[code]
## Fourth
[code]
## final
I found broadcast tables are exist.
![image](https://user-images.githubusercontent.com/86938616/160739900-79eda776-bce3-4ad9-8037-68916f95b1f1.png)

[2022-03-30 02:42] linghengqian commented on #16480
PreciseShardingAlgorithm was cancelled after 5.0.0-alpha. You should use the new API.

[2022-03-30 02:59] superme-ray commented on #16480
please update document！！！

[2022-03-30 03:09] #16480 closed

[2022-03-30 03:29] wgy8283335 commented on #12709
Not yet, maybe this issue should be delayed to the next version.

[2022-03-30 03:40] #15532 closed

[2022-03-30 03:45] sandynz commented on #15532
Since there's no exact reproduct steps.
I tried on master branch, commit 6fd57154632ea0f108f9e991b1721ad1c9660aed.
On existing schema `test1`, execute SQLs:
[code]

`t_broadcast_table` always exist in registry center after created.

We'll check it again when developing broadcast table support of scaling job.

[2022-03-30 03:53] TeslaCN commented on #12709
OK

[2022-03-30 04:12] ismailalammar commented on #15744
Hi @tuichenchuxin , I've submitted a PR regarding this issue , kindly help to review it and let me know if there is any issue.
Thanks.

[2022-03-30 05:40] RaigorJiang commented on #16442
Hello @udrnrso,  for English only, please translate, thank you.

[2022-03-30 05:42] RaigorJiang commented on #16481
Hi @yaofeng8888
version 3.1.0 is no longer maintained, it is recommended that you try the new version.

[2022-03-30 05:50] RaigorJiang commented on #16469
This problem is not easy to solve.
Hi @strongduanmu  Can you provide some suggestions?

[2022-03-30 05:51] #15744 closed

[2022-03-30 05:51] RaigorJiang commented on #16439
Great! looking forward to the new release.

[2022-03-30 05:58] RaigorJiang commented on #16353
Hi @wsg96321
You want to use the `hint` algorithm, but the strategy type is configured as `standard`.
[code]

[2022-03-30 05:59] strongduanmu opened #16488 "System table metadata is not loaded after Proxy is packaged"
## Bug Report

### Which version of ShardingSphere did you use?

50b3f45a3b60efe28a00ca69d74024d6f5eee443

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Load system table metadata successfully

### Actual behavior

System table metadata is not loaded.

![image](https://user-images.githubusercontent.com/10829171/160761646-2

[2022-03-30 06:04] strongduanmu commented on #16488
Ref #16234.

[2022-03-30 06:09] strongduanmu commented on #16469
@zm52hz Thank you for your feedback, this maybe a bug, I will investigate this problem.

[2022-03-30 06:14] yaofeng8888 commented on #16481
Hi RaigorJiang
thank for your replay
My program was online 。i can not upgrade the version。i konw the sharding-jdbc use ‘’index+table name‘’ and rename to used as index name,
the 3.1.0 version was not support to user force index?
Or with some configuration to solve this error

[2022-03-30 06:19] TeslaCN opened #16490 "Cache didn't worked in GitHub Actions CI and IT"
## Bug Report

We use the cache before the `checkout` step, which means the cache key is wrong. And the cache may contain snapshots artifacts, which may pollute the caches.

My plan:
1. [ ] If cache missed, build the cache by running Maven `dependency:go-offline`.
2. [ ] Start project builds after cache built.

[2022-03-30 06:23] #15940 closed

[2022-03-30 06:27] #16488 closed

[2022-03-30 06:31] userkdg opened #16491 "shardingsphere select statement sql parser bug."
## Bug Report

### Which version of ShardingSphere did you use?
the lastest

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
jdbc or proxy for mysql

### Expected behavior
no error

### Actual behavior
![image](https://user-images.githubusercontent.com/21057449/160765957-3e3cefa4-0eba-4885-8a6a-d60c9aa58f18.png)
Method threw 'java.lang.StackOverflowError' exception.

##

[2022-03-30 06:36] userkdg commented on #16491
Append Exception Stack:
[code]

[2022-03-30 07:02] ritikBhandari commented on #16455
`_index.cn.md` is also to be modified?

[2022-03-30 07:02] ritikBhandari commented on #16455
I guess `cn` means Chinese. Right?

[2022-03-30 07:08] lanchengx commented on #16455
Yeah, it needs to be modified.

[2022-03-30 07:09] ritikBhandari commented on #16455
But most of the content is in Chinese ig. Is there any catch to modify it or manual translation?

[2022-03-30 07:14] lanchengx commented on #16455
Like `_index.en.md`, only need to adjust the `语句` and `示例 ` columns, the Chinese part does not need to be modified

[2022-03-30 07:16] lanchengx commented on #16455
If you find it difficult, you can also just adjust `_index.en.md`

[2022-03-30 07:18] ritikBhandari commented on #16455
No if its just those columns in `_index.cn.md` which need to be modified, I'll do it.
Thanks!

[2022-03-30 07:51] TeslaCN commented on #16491
Consider increasing your `-Xss`.

[2022-03-30 08:07] strongduanmu commented on #16439
This is an exciting news, looking forward to the release of new version.

[2022-03-30 08:13] strongduanmu opened #16495 "Exception occurs when execute use information_schema statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/a3babb372c0e65ad2f9e44234db556e762a52bcb

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `use information_schema statements` successfully.

### Actual behavior

<img width="1220" alt="image" src="https://

[2022-03-30 08:58] TeslaCN commented on #14349
I've investigated about this issue. We may need to do something like what we did in `PostgreSQLComDescribeExecutor`.

[2022-03-30 09:31] justbk2015 opened #16498 "[feature] openGauss-jdbc 3.0.0 version have new sql query when getConnection, please adapter."
## Feature Request
opengauss jdbc 3.0.0 version has been upload to maven central, but can't connect to opengauss.report Error:
org.opengauss.util.PSQLException: 。
	at org.opengauss.core.SetupQueryRunner.run(SetupQueryRunner.java:64)
	at org.opengauss.core.v3.ConnectionFactoryImpl.queryDataBaseDatcompatibility(ConnectionFactoryImpl.java:861
**For English only**, other languages will not accept.

Pl

[2022-03-30 09:37] #15741 closed

[2022-03-30 09:39] ritikBhandari commented on #16455
Plz review the PR I've opened for the issue. If this one is correct, I'll do the same for `_index.cn.md` file

[2022-03-30 09:53] #14974 closed

[2022-03-30 10:30] #16495 closed

[2022-03-30 11:16] strongduanmu opened #16500 "NullPointerException occurs when start ShardingSphere proxy with PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/a8936320e150a41a2d753da0f01fa1e317bd29a0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

start ShardingSphere proxy with PostgreSQL successfully.

### Actual behavior

NullPointerException occurs.

[code]

### Re

[2022-03-30 12:59] #16455 closed

[2022-03-30 18:06] ritikBhandari commented on #16455
@terrymanu I have resolved the issue for _index.cn.md as well. You can consider it if you want.

[2022-03-31 00:08] #15789 closed

[2022-03-31 00:11] #16500 closed

[2022-03-31 00:13] #15665 closed

[2022-03-31 00:14] #16386 closed

[2022-03-31 00:14] #16392 closed

[2022-03-31 00:39] userkdg commented on #16491
ok, i closed .

[2022-03-31 00:39] #16491 closed

[2022-03-31 02:00] zjcnb opened #16507 "Splitting H2RepositoryTest.assertMethod() into multiple unit test."
[code]

Splitting assertMethod() method.

[2022-03-31 02:06] ritikBhandari commented on #16455
Thank you:)

[2022-03-31 02:23] selectbook commented on #15693
I'll get it done this week

[2022-03-31 02:56] soulasuna commented on #16299
@zjcnb
Functional performance is normal and tested.
![image](https://user-images.githubusercontent.com/33794770/160967036-9655790d-1e2e-4fd1-8490-9b4712192b29.png)

![image](https://user-images.githubusercontent.com/33794770/160967116-3c511d5c-25a3-4232-8b33-517b072de64d.png)

[2022-03-31 03:15] VeejaLiu opened #16509 "Does Shardingsphere support add datasource dynamically?"
Now we have a scenario where the data of different users are placed in different databases (i.e. data sources).
But now I write all databases in the configuration file. Every time a new user is added to our system, I need to add a new data source to the configuration file and restart the shardingsphere proxy.
Is there a way for me to dynamically load these data sources? And allocate these database

[2022-03-31 04:25] Devamparikh commented on #16507
Can I take this up? I am willing to try this. :-)

[2022-03-31 04:34] acmenlt commented on #16356
@RaigorJiang `_index.cn.md` Can I claim this task

[2022-03-31 05:20] sandynz commented on #15693
@selectbook , that's OK, thanks.

[2022-03-31 05:37] strongduanmu commented on #16509
@VeejaLiu Yes, you can use distsql to add datasource dynamically. For more details about distsql, you can refer this [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/).

[2022-03-31 06:18] VeejaLiu commented on #16509
@strongduanmu Thank you very much!!! Sincerely wish shardingsphere better and better!!!

[2022-03-31 06:19] #16509 closed

[2022-03-31 06:20] strongduanmu commented on #16509
@VeejaLiu If you encounter any problems in the process of using distsql, welcome to communicate in the community.

[2022-03-31 06:20] VeejaLiu commented on #16509
@strongduanmu Okay!!! Thank you!!!

[2022-03-31 06:43] irwinai opened #16515 "new ShardingSphereDataSource() is too slowly"
I got 20 database strategy and 1 read-write spliting
so total I have 40 db datasource.
such as :
ds$->{1..40}.trade

finally , I found that the new ShardingSphereDataSource using 1mintute to start.
so
can you tell me how can i make this fast?

[2022-03-31 06:44] irwinai commented on #16515
It looks like the SchemaRulesBuilder -> buildRules -> DatabaseTypeRecognizer.getDatabaseType
is too slow

[2022-03-31 06:54] SimYeJu opened #16516 "Could I connect MySQL other version(both 5.7.22 and 8.0.22) as DS to ShardingSphere-proxy?"
## Enviroment
ShardingSphere
 - proxy 5.0.0
   - mysql-connector/J 5.1.47

DBMS
 - MySQL 5.7.22
 - MySQL 8.0.22

Application
- Spring Boot 2.5.5

Could I connect MySQL other version(both 5.7.22 and 8.0.22) as DS to ShardingSphere-proxy 5.0.0?

I run that enviroment but returned under error message.

ERROR [com.zaxxer.hikari.pool.HikariPool:createPoolEntry:498] PORT:6481 [main] HikariPool-4 - Error