[2021-07-13 11:33] JonasGao commented on #11251
@RaigorJiang Nice. I will try later.

[2021-07-13 11:33] #11251 closed

[2021-07-13 11:52] totalo opened #11319 "A null pointer exception occurred in PostgreSQLComCloseExecutorTest"
## Bug Report

### Which version of ShardingSphere did you use?
5.0 beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Test pass

### Actual behavior
Test failed
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

###

[2021-07-13 13:30] yx9o commented on #11317
I'll do it

[2021-07-13 14:06] terrymanu commented on #11247
Great, please go ahead

[2021-07-13 14:18] #11198 closed

[2021-07-13 16:12] #10162 closed

[2021-07-14 00:32] #11319 closed

[2021-07-14 00:46] strongduanmu commented on #11317
@yx9o Welcome.

[2021-07-14 00:50] strongduanmu commented on #11318
@Ryan-Miao You can try to use the Hint for routing. For more information, please refer this [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/hint/).

[2021-07-14 01:32] ShenAoScript opened #11325 "Can complex queries be supported by using only the read-write separation function? Is read write separation also based on rewriting SQL?"
Can complex queries be supported by using only the read-write separation function? Is read write separation also based on rewriting SQL?

Old projects should support read-write separation. It contains a large number of complex queries. Can it be used in this scenario?

[2021-07-14 01:41] strongduanmu commented on #11325
@ShenAoScript Read-write splitting relies on SQL parsing, you can upgrade to version `5.0.0-beta`, SQL parsing has done a lot of optimization.

[2021-07-14 01:51] strongduanmu commented on #11309
@ecyuan Since SQL parsing will consume some time, if you want better performance, you can warm up commonly used SQL to improve performance.

[2021-07-14 03:26] strongduanmu commented on #11250
@darkaquarius Can you try the latest master branch?

[2021-07-14 07:01] zjcnb commented on #11190
@sunguosheng hi， can you provide DBUtil.getAllSystemLogTable() method for me?

[2021-07-14 08:48] sunguosheng commented on #11190
[code]
### To find the SQL
[code]
### createRecordNewTable
[code]

[2021-07-14 08:58] sunguosheng commented on #11190
@zjcnb Thank you so much for your assistance. Up here is the method DBUtil.getAllSystemLogTable()

[2021-07-14 09:45] Hmz3192 opened #11330 "5.0.0-alpha，User defined table splitting algorithm can not work"
## Version
5.0.0-alpha
## Question

The YML file and custom algorithm are shown in the figure. Why can't the configured custom algorithm take effect and still be full routing?
I have checked the user manual and other issues. I can't get help. Please check it for me. If my configuration is wrong, can you help me point out.Thank you

![yml1](https://user-images.githubusercontent.com/26765797/1256011

[2021-07-14 09:59] MingxingLAI opened #11331 "ShardingSphere plans to cite Hint through special notation in SQL, When is this feature ready to start？"
## Question

* Apache ShardingSphere also plans to cite Hint through special notation in SQL, so that users can use that function in a more transparent way.
* Can you give me some hints, let me try to implement this function

[2021-07-14 10:18] tuichenchuxin commented on #11330
@Hmz3192  Can you provide a demo example for me to try?

[2021-07-14 11:08] #11247 closed

[2021-07-14 11:39] LeeGuoPing commented on #11270
I met some troubles. one is the second constructor when the orderByContext has no elements but the groupByContext has some elements. it will add the groupByContext's elements as orderByContext's auto. In this case, I not found a solution to solve this problem. this method "assertBuildGroupByMemoryMergedResultWithMySQLLimit" has this prolems!
![image](https://user-images.githubusercontent.com/35389

[2021-07-14 11:44] #9625 closed

[2021-07-14 11:50] LeeGuoPing commented on #11270
And, the other problem is when the test case is Oracle, in the "createPaginationContext" method called a method is

![image](https://user-images.githubusercontent.com/35389145/125617293-750ac4f8-f1bb-4e58-a2a8-3e669f36a1f1.png)

oracle is not support, to run the test case 'assertBuildIteratorStreamMergedResultWithOracleLimit' successfully. I write so long code, My idea is right? sorry, I have not

[2021-07-14 13:59] 449085052 opened #11336 "Transactional not rollback when mysql exception occurs"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-15 01:05] Hmz3192 commented on #11330
Here is my demo link
https://github.com/Hmz3192/QuickStartOfShardingSphereJDBC-main

[2021-07-15 01:17] strongduanmu commented on #11330
@Hmz3192 Can you try version 5.0.0-beta? Maybe this issue has been fixed.

[2021-07-15 01:24] strongduanmu commented on #11331
@MingxingLAI There is no official plan yet, and you are very welcome to implement this feature.

[2021-07-15 01:32] tristaZero commented on #11331
Hi could you give more explanation on this feature? What does HINT means?

[2021-07-15 01:32] tristaZero commented on #11331
It will be appreciated if you can give some examples.

[2021-07-15 01:34] strongduanmu commented on #11336
@449085052 Local transaction or distributed transaction? Please provide a demo that can reproduce the problem.

[2021-07-15 01:44] tup916 commented on #10916
Hi, I can take a stab at this one. :)

[2021-07-15 01:45] 449085052 commented on #11336
Local transaction. example:
public class ClassA
{
     @Autowired
     private MapperA mapperA;

     @Autowired
     private ClassB classB;

     @Transactional(propagation = Propagation.REQUIRED, rollbackFor = { Exception.class })
     public testInsert() {
        mapperA.insert(xxx);
        classB.testInsert(yyy);
     }
}

public class ClassB
{
     @Autowired
     private MapperB mapperB;

[2021-07-15 01:47] strongduanmu commented on #10916
@tup916 Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-15 02:02] RaigorJiang commented on #11336
Hi @449085052
This may be similar to https://github.com/apache/shardingsphere/issues/10138， can you try the latest master branch?

[2021-07-15 02:15] 449085052 commented on #11336
ok, i have already read #10138 , very similar, thanks again, i will try the latest master branch

[2021-07-15 02:15] #11336 closed

[2021-07-15 02:15] tuichenchuxin commented on #11330
@Hmz3192
I found you use CLASS_BASED.
ShardingSphere 5.0.0-alpha was released at 2020-11-13, but class based sharding algorithm was merged at 2020-12-07
in #8508.
So please try the latest version 5.0.0-beta, thank you.

[2021-07-15 02:45] dachuan9e commented on #11304
Right now we only do some metrics or statistics by java agent. It is temporary. We will support querying runtime data by  distSQL next. The plan is to do some necessary data collect in proxy. It will provides api to distSQL and agent to do better exports. It also will reduce the complexity of implement by agent.

[2021-07-15 02:57] ecyuan commented on #11309
It's better to extend warm-up function, e.g use some annotation in specific sql which will be parsed automately on startup.

[2021-07-15 03:05] strongduanmu opened #11338 "Can't find index exception occur when execute select statement with order by expression"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

execute success

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

#

[2021-07-15 03:30] Hmz3192 commented on #11330
Thank you,i fix it

[2021-07-15 04:04] #11338 closed

[2021-07-15 04:56] hanxiang01 opened #11340 "Does shardingsphere-proxy support aws redshift?"
Hello Team,
I am trying to proxy the aws redshift database with shardingspere -proxy but have been experiencing some problems and would like to ask if aws redshift is supported?
The problem is described as follows:

`警告: Unsupported Server Version: 8.0.2
[INFO ] 12:50:42.881 [main] c.a.d.xa.XATransactionalResource - resource-1-ds_0: refreshed XAResource
[WARN ] 12:50:43.005 [main] c.a.r.xa.XaResou

[2021-07-15 05:42] strongduanmu commented on #11340
Hi @hanxiang01, `Shardingsphere-Proxy` fully supports MySQL and PostgreSQL databases. Amazon Redshift is based on PostgreSQL 8.0.2 version. I don't know how different it is from standard PostgreSQL. These differences may cause some problems.

[2021-07-15 07:11] JiekerTime opened #11341 "Connection count exception after using ShardingSphereDataSource as data source."
### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Number of database related connections is 20：
MySQL：

![image](https://user-images.githubusercontent.com/76552510/125743583-036a78cc-ae0a-47b4-b29a-b12b00cb6478.png)

PG：

![image](https://user-images.githubus

[2021-07-15 07:21] TeslaCN commented on #11341
Maybe that 10 connections are hold by Atomikos.

[2021-07-15 07:48] Superainbower opened #11342 "User defined table splitting algorithm"
## Question

**For English only**, other languages will not accept.
Any one could tell me how to defined table splitting algorithm,
how can i find the example or  some one could give me a example
thanks a lot!

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [S

[2021-07-15 07:52] Keanhua commented on #10867
i found the same bug
![image](https://user-images.githubusercontent.com/31396902/125750155-86ce12a4-7fd0-4756-bf7d-da2c5accf12b.png)
the algorithmConfiguration have no value

[2021-07-15 07:54] Keanhua commented on #10867
![image](https://user-images.githubusercontent.com/31396902/125750787-91be76b7-6654-49bc-942b-9230ed618683.png)
the follow is here get wrong

[2021-07-15 07:54] Keanhua commented on #10867
@tristaZero can you help fix the bug?

[2021-07-15 08:08] Superainbower commented on #11342
Any doc describe how to define table splitting algorithm?
1.2.3 what should i do
Just implements StandardShardingAlgorithm and
config spring.shardingsphere.rules.sharding.sharding-algorithms.table-date.type=CLASS_BASED
but i doesn't work, and tell me :
The props`strategy` cannot be null when uses class based sharding strategy

[2021-07-15 08:14] Superainbower commented on #11330
Hi, Hmz
Could you share your demo,  Thanks a lot!

[2021-07-15 08:39] tuichenchuxin commented on #11026
@justbk2015 expalin performance is not supported by PG.
see https://www.postgresql.org/docs/13/sql-explain.html.

[2021-07-15 08:48] #11342 closed

[2021-07-15 08:54] JiekerTime commented on #11341
You are right, but there seem to be some scenarios where these connections are not collected and I am trying to reproduce them.
![image](https://user-images.githubusercontent.com/76552510/125759765-b88f0070-6e98-4ea9-9cf7-702253b7c17c.png)

[2021-07-15 09:01] tristaZero commented on #10867
@Keanhua Hi which release do you test?

[2021-07-15 09:28] Superainbower opened #11347 "Config actual-data-nodes"
## Question

**For English only**, other languages will not accept.
Hi, i have a question about how to config  actual-data-nodes ( table name is : order、order_0、order_1)
my config like this : actual-data-nodes=ds.order_${[0,1]}
and implements StandardShardingAlgorithm and return "order",  but i got  "Route table order does not exist"
so any one could tell me how to config , or is it support now?

[2021-07-15 09:32] arthasking123 commented on #11103
I'll try to fix it because I wrote the code :)

[2021-07-15 09:32] arthasking123 commented on #11105
I'll try to fix it because I wrote the code :)

[2021-07-15 09:56] strongduanmu commented on #11105
@arthasking123 Welcome.

[2021-07-15 09:59] treezhu opened #11348 "It doesn't work , throws NullPointerException"
## Bug Report
I try to execute a SQL,but it throws NPE
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
sharding-jdbc-core
### Expected behavior

### Actual behavior
java.lang.NullPointerException: null
	at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)
	at org.apache.shard

[2021-07-15 09:59] strongduanmu commented on #11347
@Superainbower You can refer official [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/) for detailed information.

[2021-07-15 10:01] strongduanmu commented on #11348
@treezhu Can you try the latest `5.0.0-beta` version? The new version optimizes many SQL parsing issues.

[2021-07-15 10:04] RaigorJiang commented on #11347
Hi @Superainbower
You can also refer to the [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-tables.yaml) .

[2021-07-15 10:06] RaigorJiang commented on #11347
`actual-data-nodes=ds.order_${[0,1]} `

change to

`actual-data-nodes=ds.t_order_${0..1}`

[2021-07-15 10:18] zjcnb commented on #11190
@sunguosheng  Can you use 5.0.0-beta Verify this question

[2021-07-15 10:22] Keanhua commented on #10867
@tristaZero 5.0.0-beta,thank u

[2021-07-15 10:40] Tout-An opened #11350 "Exchange logic table position,rewrite It doesn't work~!"
## Bug Report
execute left join sql,I try to exchange logic table position ,sql rewrite fail, is throws BadSqlGrammarException.

### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior

2021-07-15 18:32:47.034  INFO 18376 --- [           main] ShardingSphere-SQL

[2021-07-15 10:56] tuichenchuxin commented on #11236
@justbk2015
I saw you have this sql:
grant privileges to user_test;
I don't konw if `privileges` is a role or a keyword.
if it is a role ,then sharding-proxy is supported.
if it is a keyword ,then the PG official document is not support.
see https://www.postgresql.org/docs/13/sql-grant.html

[2021-07-15 11:14] Superainbower commented on #11347
Thanks, i find it

[2021-07-15 16:21] jasaroya commented on #10964
Hi, I'd like to take on this issue.

[2021-07-15 16:24] PallaviRoy commented on #10984
Hi, I want to work on this issue

[2021-07-15 22:14] #10984 closed

[2021-07-15 23:06] PallaviRoy commented on #11031
Hi, can I take this issue?

[2021-07-15 23:08] strongduanmu commented on #11031
@PallaviRoy Welcome.

[2021-07-16 00:38] ManasviGoyal opened #11356 "Typo on proxy_architecture images"
The image has an Typing Error. It should be 'database cluster' instead of ''database cluser'' Also the red error lines needs to be removed.

![image](https://user-images.githubusercontent.com/55101825/125874304-8f90caad-0de2-4b02-b152-20e89486fa1b.png)

[2021-07-16 00:39] ManasviGoyal commented on #11356
i am working on it

[2021-07-16 00:55] soumyac19 commented on #10972
Hi, I would like to work on this issue.

[2021-07-16 00:57] strongduanmu commented on #10972
@soumyac19 Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-16 01:15] treezhu commented on #11348
@strongduanmu The 5.0.0-beta version changes a lot , i have to change my configuration.Does it support custome sharding algorithm?

[2021-07-16 01:44] strongduanmu commented on #11348
@treezhu You can refer examples —— https://github.com/apache/shardingsphere/tree/master/examples.

[2021-07-16 01:57] tuichenchuxin commented on #11235
@justbk2015
Which version do you use of sharding-proxy?
I tested what you said ,but can't reproduce you bug.
![image](https://user-images.githubusercontent.com/86938616/125879938-00b703eb-384e-4289-9b4d-80deb1b74a22.png)

[2021-07-16 02:02] justbk2015 commented on #11235
opengauss_adapt branch

[2021-07-16 02:03] justbk2015 commented on #11236
I spell some error, please use `grant all privileges to user_role` instead.

[2021-07-16 02:13] tuichenchuxin commented on #11236
@justbk2015
grant all privileges to user_role is not supported by pg official document,
may be 'grant all privileges on t_order to user_role'

[2021-07-16 02:18] tuichenchuxin commented on #11235
@justbk2015 Maybe you need to merge master into opengauss_adapt_branch, then test it again.

[2021-07-16 02:21] justbk2015 commented on #11236
I will try and soon reponse you.

[2021-07-16 02:24] wanderous opened #11358 "no dependence for SQLParser by sql.parser.autogen.SQLStatementParser"
## Question

when I read the SQLParser code, I find that this dependence is less
branch is master

[2021-07-16 02:27] tuichenchuxin commented on #11350
@Tout-An Can you try the latest 5.0.0-beta version? The new version optimizes many SQL parsing issues.

[2021-07-16 02:45] treezhu commented on #11348
@strongduanmu ok,thank you!

[2021-07-16 03:23] MingxingLAI commented on #11338
Hi，I am studying ShardingSphere recently. I don’t quite understand this piece of logic, why this modification can fix this problem, can you explain it?

Does this modification solve similar problems？ like this:

[code]

[2021-07-16 03:34] MingxingLAI commented on #11331
Hi，tristaZero，I quote this question from your official documentation，see [here](https://shardingsphere.apache.org/document/current/en/features/sharding/concept/hint/)

I understand the hint syntax like [this](https://dev.mysql.com/doc/refman/8.0/en/optimizer-hints.html). for example:

[code]

[2021-07-16 03:40] soulasuna opened #11359 "Shardingsphere-shadow data source routing problem."
## Bug Report
Shardingsphere-shadow data source routing problem.
Take the insart statement as an example.

1.  When the sql without the configured shadow rule is executed, the configured shadow data source will be used, and the data will be written to the shadow database.

![1626404885662](https://user-images.githubusercontent.com/33794770/125886484-8bb4b53e-8f7e-49bb-bfc8-68680fbc7e16.jpg)

2.  W

[2021-07-16 04:16] lancecpdd commented on #10207
ok!

[2021-07-16 04:28] ManasviGoyal commented on #11356
/assign ManasviGoyal

[2021-07-16 05:06] #11301 closed

[2021-07-16 05:22] simpleSOA opened #11360 "not support pgsql left join sql?"
String q = "SELECT r.id FROM t_pd_tag_rule r LEFT JOIN t_au_user u ON u.id = r.create_id WHERE r.name = ?";
SQLParserExecutor executor = new SQLParserExecutor("PostgreSQL");
executor.parse(q);

result:
line 1:55 no viable alternative at input 'SELECTr.idFROMt_pd_tag_rulerLEFTJOINt_au_useruON'
line 1:55 no viable alternative at input 'SELECTr.idFROMt_pd_tag_rulerLEFTJOINt_au_useruON'
Exception in t

[2021-07-16 05:42] strongduanmu commented on #11338
@MingxingLAI Because in a distributed scenario, we need to ensure that the results are in order, and we need to sort and merge the ordered results on different data nodes. At this time, we need to take out the field value of order by for sorting. However, query results may not contain the field value of the order by, so it needs to be added when rewriting. The query statement that contains shortha

[2021-07-16 05:48] tuichenchuxin commented on #11360
I want to track this issue.

[2021-07-16 05:59] simpleSOA commented on #11360
the exception detail:
line 1:55 no viable alternative at input 'SELECTr.idFROMt_pd_tag_rulerLEFTJOINt_au_useruON'
line 1:55 no viable alternative at input 'SELECTr.idFROMt_pd_tag_rulerLEFTJOINt_au_useruON'
Exception in thread "main" org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax
	at org.apache.shardingsphere.sql.parser.core.parser.SQLParser

[2021-07-16 06:14] Superainbower opened #11361 "The init() method is not work when i implements standard sharding algorithm"
## Question

**For English only**, other languages will not accept.

Hi,  i define my sharding algorithm implements StandardShardingAlgorithm, and find init() method.
i do something in this method,but it doesn't work, some one could help me?
Thanks a lot
eg:
![image](https://user-images.githubusercontent.com/35786966/125900814-ac10998a-deb8-42ca-8b65-c51448d2ccf5.png)

Before asking a question, ma

[2021-07-16 06:21] chenjia123 opened #11362 "How to do a health check in Sharding-Proxy"
I am using apache/sharding-proxy:4.1.1 in the K8S environment.

But I don't know how to get a health check up. Perhaps there is an interface(http etc.) that can be implemented.

[2021-07-16 06:26] strongduanmu commented on #11361
@Superainbower Which version do you use?

[2021-07-16 06:28] Superainbower commented on #11361
5.0.0-beta

[2021-07-16 06:39] hsw409328 opened #11363 "The columns of MySQL table are of JSON type, which will be started by panics"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-16 06:50] 449085052 opened #11364 "when use a LocalDateTime filed as sharding key，IntervalShardingAlgorithm.java will throw java.time.format.DateTimeParseException: Text '2021-07-08T21:36:12' could not be parsed at index 10]"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-16 07:02] strongduanmu commented on #11361
@Superainbower If you use the beta version, then you don’t need to implement the ClassBased algorithm yourself, because it’s already built in, you only need to configure it according to the documentation. You can refer this [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/built-in-algorithm/sharding/#%E8%87%AA%E5%AE%9A%E4%B9%89%E7%B1%BB%E5%8

[2021-07-16 07:05] #10207 closed

[2021-07-16 07:36] JiekerTime opened #11365 "PostgreSQL does not support broadcast tables under sharding conditions"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

![image](https://user-images.githubusercontent.com/76552510/125909217-4ed455bd-f87f-4a42-babc-081538e3651a.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/125909256-f23637c

[2021-07-16 07:52] Tout-An commented on #11350
I tried to switch the version to 5.0.0-beta. As a result, the join sql that can be parsed normally at first also fails to parse. The following is my latest configuration:

[2021-07-16 07:54] Tout-An commented on #11350
`spring.shardingsphere.rules.sharding.tables.waybill.actual-data-nodes=m$->{1..2}.s_waybill_$->{1..12}_$->{0..7}
spring.shardingsphere.rules.sharding.tables.tracking_detail.actual-data-nodes=m$->{1..2}.s_tracking_detail_$->{1..12}_$->{0..7}

spring.shardingsphere.rules.sharding.tables.waybill.table-strategy.complex.sharding-columns=logistics_product_id,month
spring.shardingsphere.rules.sharding.ta

[2021-07-16 07:56] Tout-An commented on #11350
4.1.1 properties:
`spring.shardingsphere.sharding.tables.waybill.actual-data-nodes=m$->{1..2}.s_waybill_$->{1..12}_$->{0..7}
spring.shardingsphere.sharding.tables.tracking_detail.actual-data-nodes=m$->{1..2}.s_tracking_detail_$->{1..12}_$->{0..7}

spring.shardingsphere.sharding.tables.waybill.table-strategy.complex.sharding-columns=logistics_product_id,month
spring.shardingsphere.sharding.tables.w

[2021-07-16 08:11] zjcnb commented on #11364
@449085052  Hi， Can you provide your yml or properties file?

[2021-07-16 09:06] ssxg opened #11367 "aliyun rds proxy error"
我用sharingsphere proxy（版本为5.0.0beta）以encrypt方式代理一个阿里云的rds（mysql 5.7），proxy服务启动正常
[INFO ] 2021-07-16 17:00:24.523 [main] o.a.s.p.i.i.AbstractBootstrapInitializer - Database name is `MySQL`, version is `5.7.32-log`
[INFO ] 2021-07-16 17:00:34.710 [main] o.a.s.p.frontend.ShardingSphereProxy - ShardingSphere-Proxy start success.
但是通过DBeaver连接proxy时弹出错误
Unknown exception: [SQL checking failed. Error mes

[2021-07-16 09:08] #11362 closed

[2021-07-16 09:11] RaigorJiang commented on #11367
Hi @ssxg
What is your DBeaver's version?
It is recommended that you use [MySQLWorkbench](https://www.mysql.com/products/workbench/) as the client.

[2021-07-16 09:22] RaigorJiang commented on #11363
Hi @hsw409328
This is indeed a problem, please refer to #10900.   Are you interested in solving it？

[2021-07-16 09:27] 449085052 commented on #11364
sharding-algorithm-table-by-year-month: # 根据时间进行按年月分表策略
            type: INTERVAL
            props:
              datetime-pattern: "yyyy-MM-dd HH:mm:ss"
              datetime-lower: "2021-01-01 00:00:00"
              datetime-upper: "2021-12-31 23:59:59"
              sharding-suffix-pattern: yyyyMM
              datetime-interval-amount: 1
              datetime-interval-unit: MONTHS

[2021-07-16 09:27] RaigorJiang commented on #10867
Hi @Keanhua
Can you provide a demo project on github? So that we can reproduce your scene.  Thank you!

[2021-07-16 10:08] Superainbower commented on #11361
Because my table name like this: order、order2020、order2019, so i need to implement the ClassBased algorithm
i find in org.apache.shardingsphere.sharding.algorithm.sharding.classbased.ClassBasedShardingAlgorithm, it only create algorithm Instance, and don't called Instance.init(), this is reason why it doesn't work?
![image](https://user-images.githubusercontent.com/35786966/125931323-402b5c85-abb9

[2021-07-16 10:19] tuichenchuxin commented on #11350
@Tout-An
Your problem seems like 'A left outer join B' is ok,but 'B left outer join A' is not ok.
Can you offer a demo for me to try?

[2021-07-16 10:49] authorZhao commented on #6367
fuck kimmking，English 你大爷 @ @kimmking

[2021-07-16 13:00] zjcnb commented on #11364
I can't reproduce this problem when i use 5.0.0-beta version , Can you check your code or column value again?

[2021-07-16 13:09] aiprog opened #11369 "‘select @@character_set_results’ returns incorrect values"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-16 13:57] zjcnb commented on #11363
Please assign to me

[2021-07-16 14:39] #11356 closed

[2021-07-16 15:01] Tout-An commented on #11350
[https://github.com/Tout-An/sharding-jdbc-demo](url)

You can try to execute the test method testJoinSQL().
Thanks!

[2021-07-17 13:34] achalesh27022003 opened #11371 "Adding Contributors Section in Readme"
## Feature Request

I would suggest that there should be a token of appreciation for all the contributors out there to this repository. Therefore, we can add a contributor's section in the documentation i.e. readme below.

If permits, I would like to take on this issue under Open Source Day'21.

[2021-07-18 03:24] 449085052 commented on #11364
please have a look at this three pictures:
![微信截图_20210718111952](https://user-images.githubusercontent.com/42019760/126054584-62cfbbcd-7fb3-4707-8a96-af879e234558.png)
![微信截图_20210718112122](https://user-images.githubusercontent.com/42019760/126054591-ed577a61-61d7-40b5-964f-914f7ec2831e.png)
![微信截图_20210718112221](https://user-images.githubusercontent.com/42019760/126054590-fdeba4c6-9d6d-4322-a0

[2021-07-18 12:41] terrymanu commented on #11367
**For English only**, other languages will not accept.

[2021-07-18 12:41] #11367 closed

[2021-07-18 12:43] terrymanu commented on #11361
@Superainbower Could you change the title for search friendly?

[2021-07-18 12:46] terrymanu commented on #11358
FYI: https://shardingsphere.apache.org/document/current/en/faq/#2-why-do-some-compiling-errors-appear-why-did-not-the-idea-index-the-generated-codes

[2021-07-18 12:46] #11358 closed

[2021-07-18 12:54] Superainbower commented on #11361
@terrymanu OK

[2021-07-18 12:59] tuichenchuxin commented on #11369
This problem does exist, I will follow it up.

[2021-07-18 18:48] terrymanu commented on #11307
More details for exception thrown some times:

[code]

[2021-07-19 00:11] #11127 closed

[2021-07-19 02:15] dachuan9e opened #11378 "Missing jars in 'plugins' folder of agent"
Missing some jars in 'plugins' folder of agent distribution when building the project.

This issue probably happens when built with "-T'.

[2021-07-19 02:30] yx9o commented on #11317
fixed in #11335

[2021-07-19 02:43] tuichenchuxin commented on #11361
@Superainbower Cound you offer an example for me to reproduce?
I had tested 5.0.0-beta and did not find the problem you mentioned.

[2021-07-19 04:06] azraelee opened #11381 "How to use the database auto-increment primary key?"
## Question

### I want to use the auto-incrementing primary key of the database for tables that are not in the sharding rule. How do I configure it?

**This is my java configuration, emg_magic_tips isn't in it ：**

`
        String ds0Key = "ds0";
        // 配置真实数据源
        Map<String, DataSource> dataSourceMap = Maps.newHashMap();
        dataSourceMap.put(ds0Key, ds0);

        // 配置ai_user_dia

[2021-07-19 04:06] arthasking123 commented on #11103
Can you show me the expected running SQL of 'ALTER TABLE t_user_details CHANGE number number_new VARCHAR(50)' if we
 use the encrypt configuration in the unit test? @JiekerTime

[2021-07-19 04:17] JiekerTime commented on #11103
I think the statement  after it is rewritten should be `ALTER TABLE t_user_details CHANGE number_plain number_plain_new,  CHANGE
 number_cipher number_cipher_new`

[2021-07-19 04:24] Superainbower commented on #11361
@tuichenchuxin
Hi, Thanks for your reply！
I try your advise, add @Component at My sharding algorithm,  the init() will be called when start my project,
but my value still not right
![image](https://user-images.githubusercontent.com/35786966/126102449-565f7598-ad52-4266-a5d6-68a3f934d7b9.png)
Here is my demo link:
https://github.com/Superainbower/ShardingsphereDemo

[2021-07-19 05:04] JiekerTime opened #11382 "Failed to alias a column name in case of PG's sharding tables"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Case 1 :
![image](https://user-images.githubusercontent.com/76552510/126105320-d3a6897e-2264-4d54-b325-2b0827dfd2e8.png)

Case 2:
![image](https://user-images.githubusercontent.com/76552510/126106033-d8a3ca08-33

[2021-07-19 05:14] Swastyy commented on #10990
@strongduanmu please see #11383 to have others folder and getting started with this issue.

[2021-07-19 05:26] klniu opened #11384 "getTables should not use com.google.common.base.Function"
## Bug Report
ShardingRule.java using
[code]
will cause exception as following:

[code]
### Which version of ShardingSphere did you use?
5.0.0-beta or matster

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
ShardingRule.java

[code]

### Actual behavior
ShardingRule.java
[code]

### Reason analyze (If you can)

### Steps to re

[2021-07-19 05:35] arthasking123 commented on #11103
so we need to add column information of number_new like this?
![image](https://user-images.githubusercontent.com/16257131/126108060-a67d5cc3-4737-48c2-ae35-b2b831445347.png)

[2021-07-19 06:05] treezhu commented on #10909
I have zhe same question.When the table isn't sharding table,it throws exception.

[2021-07-19 06:57] Yule-Momoko opened #11386 "union all report Error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-19 07:15] yx9o opened #11387 "Documentation update"
Hi, community, I found that some implementation classes of the ShardingSphereRuleBuilder (name has been modified) interface and YamlRuleConfigurationSwapper in the user development manual 5.2 configuration are not listed in the document, and the details are as follows:
[code]
[code]
problem:
1. Can the `ShardingSphereRuleBuilder` interface be adjusted to `RuleBuilder`?
2. Adjust `ReplicaQueryRuleB

[2021-07-19 07:22] bai1986 opened #11388 "MySQL client connection error"
i connect  apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy by mysql client （8.0.25） ,when i executed some command ,a error was reported: as follows
mysql -uroot -proot -h10.0.0.1 -P 3307
root@10.1.1.1(sharding_db) 14:45>show tables;

ERROR 2027 (HY000): Malformed packet
No connection. Trying to reconnect...
Connection id:    10
Current database: sharding_db

The version of mysql client :
my

[2021-07-19 07:45] JiekerTime commented on #11103
I don't think we should configure it, because our changes should be hot-deployed.

[2021-07-19 08:09] lisheng007 opened #11389 "启动的时候加载了所有表的schema导致启动很慢"
目前的场景是这样的，我们连的库有非常非常多的表，但是我们只需要使用其中500张，启动的时候由于需要加载所有表的schema，导致启动很慢，目前有没有什么配置可以去做一些优化呀

[2021-07-19 08:20] Keanhua commented on #10867
@RaigorJiang this project you can see the bug. https://github.com/Keanhua/sharding-bug-demo

[2021-07-19 08:32] arthasking123 commented on #11103
so how we determine the cipherColumn name and the plainColumn name of the new column?

[2021-07-19 08:40] TeslaCN opened #11390 "MySQL Sysbench may failed because of unexpected schema name"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

[code]

[code]

### Reason analyze (If you can)
Schema name in ThreadLocal was not removed. Because the `MySQLComQueryPacketExecutor` was construct outside of the `try` block. If exception occurred whe

[2021-07-19 08:53] RaigorJiang commented on #10867
OK, I'll check it.

[2021-07-19 08:58] Yule-Momoko commented on #11386
My routing strategy is Hint
![image](https://user-images.githubusercontent.com/67772051/126132983-3ec6b266-7772-4ea2-8f4d-d11288d0812f.png)

[2021-07-19 09:03] TeslaCN commented on #11388
This issue may be duplicated with #9089.

[2021-07-19 09:07] RaigorJiang commented on #8618
Hi  @menghaoranss
Can you provide more information about this issue?

[2021-07-19 09:07] RaigorJiang commented on #10692
I will do this, please assign to me, thanks!

[2021-07-19 09:16] zjcnb commented on #11381
I reproduced your problem, I will try to fix it！

[2021-07-19 09:20] hsw409328 opened #11392 "Multi data source problem"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

Multi data source problem

When the table name is repeated, the latter will override the former

For example:

X0 data source , table name: A1

X1 data source,  table name: A1

During automatic routing, X1 data source will be executed and cannot be specified as x0 data source

Lookin

[2021-07-19 09:27] hsw409328 commented on #11392
debug :

package org.apache.shardingsphere.infra.rule.single;

@Getter
public final class SingleTableRule implements FeatureRule, SchemaRule {

    private final Collection<String> dataSourceNames;

    private final Map<String, SingleTableDataNode> singleTableDataNodes;

...
}

singleTableDataNodes  for Map. The key will be covered

[2021-07-19 09:46] menghaoranss commented on #11389
@lisheng007 For English only, you can upgrade to the latest version and try again

[2021-07-19 09:46] #11389 closed

[2021-07-19 09:58] azraelee commented on #11381
Thank you, fighting~

[2021-07-19 10:10] zupermanOK opened #11393 "shardingsphere version and zookeeper version question"
my shardingsphere version is 4.1.1
and my zookeeper server version is 3.6.3，but when my application starting ,so many exception .search from google,all anwsers is i should change my jar version about curator,but i tried 3.x,4.x, nothing changed and still wrong.

so ,what  zookeeper version does it correspond to shardingsphere 4.1.1

hope replay,thanks

[2021-07-19 10:39] tuichenchuxin commented on #11361
@Superainbower I have tested your demo, ```init()``` is not useful.
Actually,```@component``` should not add.
Adding this annotation will only make spring initialize the call in advance, but the subsequent shardingsphere will still initialize the class again, but shardingsphere does not call the init() method, so the init() method is indeed invalid.
Thank you for raising this question. We will con

[2021-07-19 11:12] menghaoranss commented on #11387
@yx9o  good suggestions， could you fix them with a PR

[2021-07-19 11:32] yx9o commented on #11387
ok

[2021-07-19 11:44] vince7839 opened #11397 "route result is wrong"
I execute a SQL like this : "select * from demo_db where num=1 or num=2 and count=3"，
I config 2 dataSources : ds_0 and ds_1
table strategy : tb_${num % 2}，
database strategy : ds_${count % 2}
but route result only contains ds_1，following is actual SQL:
Actual SQL: ds_1 ::: select * from tb_1 where num = 1 or num=2 and count =3
Actual SQL: ds_1 ::: select * from tb_0 where num = 1 or num=2 and cou

[2021-07-19 12:03] menghaoranss commented on #11393
The version of curator for 4.1.1 is 2.10.0，zookeeper of 3.6.x is not supported，if you still need to use zookeeper with 3.6.3, please upgrade ShardingSphere to 5.x

[2021-07-19 12:35] dongzl commented on #11397
Hi @vince7839 , for English only.

[2021-07-19 13:16] #11390 closed

[2021-07-19 13:18] #11378 closed

[2021-07-19 13:25] #11365 closed

[2021-07-19 14:45] tanxujie opened #11398 "duplicated jdbc property set for 'useServerPrepStmts' in HikariJDBCParameterDecorator"
### Which version of ShardingSphere did you use?
5.0.0-beta
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Both

### Reason analyze (If you can)
duplicated code or missing some other important jdbc property

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
when i read 'HikariJDBCParameterDecorator' cla

[2021-07-19 15:31] vince7839 commented on #11397
@dongzl ，Hi,I’ve updated

[2021-07-19 18:43] tanu02 commented on #11033
Hi Team
Can I assign this to myself?

[2021-07-19 23:01] #10974 closed

[2021-07-19 23:21] tristaZero commented on #11103
@arthasking123 Appreciated your initiative here.

That's the key point, my suggestion is to generate the names of `cipherColumn` and `plainColumn` by using `new_logic_column_name` + the keyword 'cipher' or `plain`, like 'new_logic_name_plain'.
Besides, you still need to check whether this table has the same columns as our generated column name. How? `FederateTableMetadata` contains all the actual

[2021-07-19 23:28] tristaZero commented on #11386
All the SQLs (including union) routing to one sharding table can be executed well, right?
@strongduanmu @tuichenchuxin

[2021-07-19 23:30] #10861 closed

[2021-07-19 23:52] tristaZero commented on #11369
@aiprog Hi thanks for your feedback. Please watch this issue for the @tuichenchuxin 's PR here.

[2021-07-20 00:02] tristaZero commented on #11384
Hi @klniu ,
You debugged it, looks nice. Would you like to raise a PR to fix this issue? It's not difficult, isn't it?
[How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/) will give you a hand.

[2021-07-20 00:06] tristaZero commented on #11392
Hi @hsw409328 ,

Thanks for your debugging. I suppose you're right? Before we decide to fix it, could you let me know why you want to have all the single tables with the same table name?

[2021-07-20 00:09] tristaZero commented on #11397
@vince7839 Thanks for your question.
It looks a little wired. Would you mind trying the beta release for this case? We suggest you using 5.0.0-bete for your new production evn.

[2021-07-20 00:10] tristaZero commented on #11398
Hi @tanxujie thanks for your feedback.
@RaigorJiang Could you look at this issue?

[2021-07-20 00:16] tristaZero commented on #11331
Hi @MingxingLAI ,

Thanks for your explanation. That will be a good feature. Actually, we have a plan to do such things. I'd welcome you to join!
@RaigorJiang Could you look at this one and get @MingxingLAI  involved?

[2021-07-20 00:18] tristaZero commented on #11331
@MingxingLAI BTW, are you interested in other issues currently? All the issues labeling with `OSD` are ready to be assigned. Have a good day.

[2021-07-20 00:19] tristaZero commented on #11033
Sure @tanu02 Welcome. ;-)

[2021-07-20 00:20] tristaZero commented on #10868
@LeeGuoPing Hi this issue is open now, would you like to have a try?

[2021-07-20 00:39] LeeGuoPing commented on #10868
ok

[2021-07-20 00:57] totalo commented on #11307
I guess it is because multiple CPUs use multiple CPUs, and when each CPU is built by a single thread, the speed of the CPUs is not consistent, resulting in the sequence of loading is not consistent, leading to the occurrence of contingencies. This needs to be further observed. I'm going to fix a TODO.

[2021-07-20 01:18] strongduanmu commented on #11386
@tristaZero Union and union all is not supported now. The SQL execution routed to a single node needs to be continued.

[2021-07-20 01:28] hsw409328 commented on #11392
@tristaZero When I use multiple databases under the same data source, each database has a user table. When I use it in sharding JDBC, I will not be able to switch correctly.

[2021-07-20 01:47] RaigorJiang commented on #11398
@tanxujie
Thank you for your feedback!
I compared the git history, and this is indeed a line of duplicate code. Are you interested in fixing it?

[2021-07-20 01:52] RaigorJiang commented on #10974
#TODO Chinese content needs to be supplemented by new PR.

[2021-07-20 02:05] menghaoranss commented on #11387
fixed by #11399

[2021-07-20 02:05] #11387 closed

[2021-07-20 02:05] tanxujie commented on #11398
@RaigorJiang
OK. I will fix it.

[2021-07-20 02:08] RaigorJiang commented on #11331
This feature is great! But I think we still need more time to think and make plan.
@MingxingLAI  if you have good ideas, please feel free to put forward them, thank you!

[2021-07-20 02:09] RaigorJiang commented on #11398
@tanxujie  Thanks for your contribution.

[2021-07-20 02:28] RaigorJiang commented on #10990
The PR https://github.com/apache/shardingsphere/pull/11383  is not for this issue, please reopen it (#10990), thanks!

[2021-07-20 02:45] Swastyy commented on #10990
Yeah, I will make a PR for this issue.

[2021-07-20 02:59] strongduanmu commented on #11392
@hsw409328 If every database contains this table and has the same data, you can set it as a broadcast table.

[2021-07-20 03:03] hsw409328 commented on #11392
@strongduanmu The data content is different

[2021-07-20 03:05] RaigorJiang commented on #10673
I'm working on this issue, please assign it to me, thanks.

[2021-07-20 03:34] donjuan6 commented on #11038
Can it be assigned to me？

[2021-07-20 03:35] donjuan6 commented on #11108
Can it be assigned to me？

[2021-07-20 03:37] donjuan6 commented on #10991
Can it be assigned to me？

[2021-07-20 03:38] donjuan6 commented on #10983
Can it be assigned to me？

[2021-07-20 03:46] jackding79 commented on #10978
can assign to me?

[2021-07-20 03:54] strongduanmu commented on #11038
@donjuan6 Welcome.

[2021-07-20 04:08] RaigorJiang commented on #11013
It was fixed by https://github.com/apache/shardingsphere/pull/11324

[2021-07-20 05:08] conquer66666 commented on #10419
Has the problem been solved? I use sharding-jdbc-spring-boot-starter(4.1.1),have the same problem.

Caused by: java.sql.SQLSyntaxErrorException: ORA-00942: 表或视图不存在

	at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628) ~[ojdbc8-21.1.0.0.jar:21.1.0.0.0]
	at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562) ~[ojdbc8-21.1.0.0.jar:21.1.0.0.0]
	at oracle.jdbc.driver.T4C8

[2021-07-20 05:08] conquer66666 commented on #10419
Has the problem been solved? I use sharding-jdbc-spring-boot-starter(4.1.1),have the same problem.

Caused by: java.sql.SQLSyntaxErrorException: ORA-00942: 表或视图不存在

	at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628) ~[ojdbc8-21.1.0.0.jar:21.1.0.0.0]
	at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562) ~[ojdbc8-21.1.0.0.jar:21.1.0.0.0]
	at oracle.jdbc.driver.T4C8

[2021-07-20 05:14] strongduanmu commented on #10978
@jackding79 Welcome, and you can refer this [doc](https://shardingsphere.apache.org/community/en/contribute/contributor/) for your first contribution.

[2021-07-20 05:35] tuichenchuxin commented on #11386
I want to fix it.

[2021-07-20 05:40] Yule-Momoko commented on #11386
Will it be fixed in the next version？

[2021-07-20 05:43] strongduanmu commented on #11386
@Yule-Momoko Yes, it will be fixed later. You are welcome to help test it.

[2021-07-20 06:07] ruyin-zh opened #11406 "when can I get latest version of sharding-core(5.0.0) ?"
The version I used is 4.1.1 and this version has a problem which cost much time at analyzing table column and index. I viewed source code of 5.x and found problem had been fixed above. So I hope latest version as soon as possible.

[2021-07-20 06:17] menghaoranss commented on #11406
Version 5.0.0-beta has been released, you can try to upgrade

[2021-07-20 06:27] terrymanu commented on #11307
OK, I will merge and try

[2021-07-20 06:46] RaigorJiang commented on #10974
Chinese content fixed by https://github.com/apache/shardingsphere/pull/11405.

[2021-07-20 06:49] JiekerTime opened #11408 "PGSQL rewriting exceptions for encrypt columns"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/126274294-566d1e37-bd03-4f71-9ab9-00e386954c45.png)

### Actual behavior
Additional parentheses：
![image](https://user-images.githubusercontent.com/765

[2021-07-20 06:55] bai1986 opened #11409 "rdl syntax error"
when I excute a rdl sql on apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy，like this ：
ADD RESOURCE mytest1_0 (
    HOST=127.0.0.1,
    PORT=3306,
    DB=mydb,
    USER=shardingsphere,
    PASSWORD=123456
)
An error occurred：
ERROR 10002 (C1000): 2Unknown exception: [null]

My main configuration is as follows：
#连接zookeeper相关
governance:
  name: governance_ds
  registryCenter:
    type: ZooK

[2021-07-20 06:58] menghaoranss opened #11410 "Add more usages for DistSQL"
Refer to [The Usage of DistSQL for Sharding](https://shardingsphere.apache.org/document/current/en/features/dist-sql/usage/sharding-rule/)  to add more usages for DistSQL:

- [ ] Encrypt
- [ ] Readwrite Splitting
- [ ] Database Discovery

Notes:
- Base on version 5.0.0-beta
- Use MySQL Client with black background
- Keep the document style uniform

[2021-07-20 07:06] terrymanu commented on #11307
The problem still existed, I just revert it by #11412

[2021-07-20 07:08] WuZhiMing2 opened #11413 "proxy按照文档中提示的权限配置修改server.yml报错"
[code]
![image](https://user-images.githubusercontent.com/37823425/126277081-9b0f5ef8-23bd-42ee-9796-4cbb1598f0e0.png)

[2021-07-20 07:10] bai1986 commented on #11409
proxy error log like this:
line 1:0 no viable alternative at input 'ADD'
[ERROR] 14:55:38.693 [ShardingSphere-Command-9] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
org.antlr.v4.runtime.misc.ParseCancellationException: null
        at org.antlr.v4.runtime.BailErrorStrategy.recover(BailErrorStrategy.java:51)
        at org.apache.shardingsphere.sql.parser.autogen.MySQLStatementParser.execute

[2021-07-20 07:14] ruyin-zh commented on #11406
yes, I see, I hope to obtain the required dependencies through the maven, it's not a good idea to package and upload jars by myself.

[2021-07-20 07:15] menghaoranss commented on #11409
RDL has been greatly optimized in version 5.0.0-beta, could you upgrade to the latest version?

[2021-07-20 07:32] fwhdzh commented on #10981
Hi, I want to try this issue.

[2021-07-20 07:33] menghaoranss commented on #10981
welcome

[2021-07-20 07:36] arthasking123 commented on #11103
maybe we could use a real database to store these encrypt rules instead of using yaml files

[2021-07-20 07:55] menghaoranss commented on #11413
@WuZhiMing2 For English only, please translate the tile of your issue to English first

[2021-07-20 07:55] menghaoranss commented on #11413
Which version of ShardingSphere did you use?

[2021-07-20 08:49] conquer66666 commented on #10419
finnally,I hack the org.apache.shardingsphere.sql.parser.binder.metadata.util.JdbcUtil.java ,solve my problem.
sharding-jdbc-spring-boot-starter(4.1.1)

public static String getSchema(Connection connection, String databaseType) {
        String result = null;

        try {
            if ("Oracle".equals(databaseType)) {
                return null;   ==============> here modify to my schema

[2021-07-20 10:31] dachuan9e opened #11416 "The same datasource pool will be opened twice when proxy start"
[INFO ] 2021-07-20 18:26:57.981 [main] com.zaxxer.hikari.HikariDataSource - sharding_db/ds_1 - Starting...
[INFO ] 2021-07-20 18:27:08.017 [main] com.zaxxer.hikari.HikariDataSource - sharding_db/ds_1 - Start completed.
[INFO ] 2021-07-20 18:27:08.017 [main] com.zaxxer.hikari.HikariDataSource - sharding_db/ds_1 - Starting...
[INFO ] 2021-07-20 18:27:18.050 [main] com.zaxxer.hikari.HikariDataSource

[2021-07-20 11:21] sinoryan opened #11418 "mysql case when statement parse error"
shardingsphere version:4.1.1

mybatis sql  as follow:

SELECT id,
        (CASE
        WHEN LENGTH(TRIM(name_en))<![CDATA[>]]>0 THEN CONCAT(name_cn,'-',name_en)
        ELSE name_cn
        END) AS text,account_no FROM `user`
        WHERE status=1 xxxx

debug screenshot
![QQ图片20210720191809](https://user-images.githubusercontent.com/8133974/126315353-5cae0c08-6338-4d2e-b96f-c3a47b28b6c3.png)
![Q

[2021-07-20 11:23] menghaoranss commented on #11406
Search with `ShardingSphere` prefix in Maven repository

[2021-07-20 11:23] #11413 closed

[2021-07-20 11:29] ruyin-zh commented on #11406
ok,thx

[2021-07-20 11:32] menghaoranss commented on #8618
We need to sort out which fields need to be supported just like :

[code]

[2021-07-20 11:37] strongduanmu commented on #11418
@sinoryan Can you try the latest `5.0.0-beta`?

[2021-07-20 11:58] sinoryan commented on #11418
@strongduanmu

ok, i will try it in next time.

[2021-07-20 13:36] tanu02 commented on #11033
Thank you @tristaZero
Could you please review the PR: https://github.com/apache/shardingsphere/pull/11419

[2021-07-20 14:30] tanu02 commented on #11033
There seems to be some issue with the license. Has this ever occurred before?
https://travis-ci.org/github/apache/shardingsphere/builds/774675252

[2021-07-20 15:51] junxchen opened #11420 "RangeShardingAlgorithm throws: Factory method 'shardingDataSource' threw exception; nested exception is java.lang.NullPointerException"
Factory method 'shardingDataSource' threw exception; nested exception is java.lang.NullPointerException
If me tables strategy has been defined with range algorithm, it throws the above error.

If I include precise with range, then only precise is picked up.

What is wrong here?

spring.shardingsphere.sharding.tables.xx.actual-data-nodes=ds0.xxxx$->{1..12}
spring.shardingsphere.sharding.tables.xx.t

[2021-07-20 15:58] #11420 closed

[2021-07-21 00:18] sandynz commented on #11033
Hi @tanu02 , seems CI is not enabled currently, you could run `./mvnw -T 1C clean install` on local for now, make sure it can be compiled and tested successfully.
For more details, see [Code of Conduct](https://shardingsphere.apache.org/community/en/contribute/code-conduct/).

[2021-07-21 01:23] zhangwangren opened #11422 "It doesn't work, throws Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0"
## Question
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-beta</version>
        </dependency>

My custom Algorithm is work, and return success.  but the sql throw a Exception:Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0;
sql: SELECT * FROM reser

[2021-07-21 01:23] totalo commented on #11307
Okay, I'll keep trying to figure it out.

[2021-07-21 01:59] #11363 closed

[2021-07-21 02:02] RaigorJiang commented on #8618
Got it!

[2021-07-21 02:28] #11406 closed

[2021-07-21 02:32] WuZhiMing2 commented on #11413
5.0

[2021-07-21 03:31] #11422 closed

[2021-07-21 03:59] git-chenhao opened #11424 "When DataSourceChangedEvent happens, the old connection pool will be closed and then the new connection pool will be loaded"
## Bug Report

**5.0.0-alpha ShardingSphere-Proxy**
### Expected behavior
**Replace the connection pool in the context with the new connection pool, and then close the old connection pool losslessly**
### Actual behavior
**The old connection pool was closed first, causing all SQL in the current library to fail before the new connection pool was ready**
![image](https://user-images.githubuserconten

[2021-07-21 06:20] RaigorJiang commented on #10867
Hi @Keanhua
I checked and tested your demo project, there are some problems:
1. Reder to [example](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/other-feature-example/encrypt-example/encrypt-spring-boot-example/src/main/resources/application-encrypt-databases.properties), `columns.column.encryptor` should be `columns.column.encryptor-name` now;
2. `encry

[2021-07-21 06:41] TeslaCN commented on #11416
This may be related to `org.apache.shardingsphere.proxy.backend.communication.jdbc.datasource.decorator.HikariJDBCParameterDecorator`.

[2021-07-21 06:56] hsw409328 opened #11427 "mvn compile failed!! master code"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-21 06:57] Swastyy commented on #10958
@taojintianxia I think this is a part of #11156

[2021-07-21 07:13] Keanhua commented on #10867
@RaigorJiang, encryptor_aes is my define encryptor-name. for the version 4.0.1,it can works well.
i check it and i replace encryptor_aes to encryptor-aes, it also occurs error.
can you provide me a corrent yml file ?

[2021-07-21 07:15] qbmiller opened #11428 "(solved)Caused by: org.apache.shardingsphere.infra.exception.ShardingSphereException: Can't find data source type."
![image](https://user-images.githubusercontent.com/7335567/126447226-602ab514-bf4a-4328-a631-e490d1969ab5.png)

![image](https://user-images.githubusercontent.com/7335567/126447251-6753ba7d-2b28-45a8-828d-bbc97f65df45.png)

springboot 2.3. how to config;
shardingphere does not identify the config. where is wrong?

 <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <

[2021-07-21 07:20] dachuan9e commented on #11416
Not this.  Here it create datasource using these codes.  I will fixed. And also here is another problem that the datasource hasn't specific pool name.

private static Map<String, DataSource> createDataSources(final String schemaName, final Map<String, DataSourceParameter> dataSourceParameters) {
        Map<String, DataSource> result = new LinkedHashMap<>(dataSourceParameters.size(), 1);
        f

[2021-07-21 08:02] JiekerTime opened #11429 "PGSQL Join Query SQL Rewrite Exception"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/126452999-c0958165-7add-4d0b-b1ec-41b8fcaf0945.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/126453028-204bc990

[2021-07-21 08:04] WuZhiMing2 opened #11430 "找不到类"
[code]
org.apache.shardingsphere.distsql.parser.autogen.ResourceStatementLexer
该类在源码中不存在

[2021-07-21 08:16] TeslaCN commented on #11430
For English only.
Please read the FAQ.

[2021-07-21 08:16] #11430 closed

[2021-07-21 08:19] tanu02 commented on #11033
Got it. Seems like I had to add licence declaration in the file.
Thank you!

[2021-07-21 08:34] WuZhiMing2 commented on #11430
this class not foud in source code.

[2021-07-21 08:37] TeslaCN commented on #11430
@WuZhiMing2
https://shardingsphere.apache.org/document/current/en/others/faq/

[2021-07-21 08:39] TeslaCN commented on #11427
@hsw409328 Please read the faq.
https://shardingsphere.apache.org/document/current/en/others/faq/

[2021-07-21 08:39] #11427 closed

[2021-07-21 08:46] WuZhiMing2 commented on #11430
我是下源码运行报错来着

[2021-07-21 08:50] TeslaCN commented on #11430
@WuZhiMing2
https://shardingsphere.apache.org/document/current/en/others/faq/#2-why-do-some-compiling-errors-appear-why-did-not-the-idea-index-the-generated-codes

[2021-07-21 08:50] WuZhiMing2 commented on #11430
@TeslaCN
我是下源码运行报错来着

[2021-07-21 08:59] WuZhiMing2 opened #11431 "Resource Code not Found Class"
In this repository ,I not Foud ResourceStatementLexer class file
[code]
In this project ,I didn't found a file with the classnamed  ResourceStatementLexer
Please tell me where the ResourceStatementLexer class java is

[2021-07-21 09:00] TeslaCN commented on #11431
Try execute `mvn -Dcheckstyle.skip=true -Drat.skip=true -Dmaven.javadoc.skip=true -Djacoco.skip=true -DskipITs -DskipTests install -T1C`

[2021-07-21 09:05] TeslaCN commented on #11431
This file would be appeared in
`shardingsphere-distsql-parser/shardingsphere-distsql-parser-engine/target/generated-sources/antlr4/org/apache/shardingsphere/distsql/parser/autogen/ResourceStatementLexer.java`

[2021-07-21 09:05] #11431 closed

[2021-07-21 09:05] Hmz3192 opened #11433 "5.0.0_beta version start errror，Initialization of bean ShardingSphereAutoConfiguration failed，NullPointerException"
## Which version of ShardingSphere did you use?
shardingsphere-jdbc-core 5.0.0-beta

## Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

## Expected behavior
springboot service can startup

## Actual behavior
springboot service can not startup

## Methods already referred
  1. json format column in the table [#11047] [#10900] [#11363],etc.
  2. Refer to

[2021-07-21 09:10] tanu02 commented on #11033
It is getting built on my local succesfully.
https://github.com/apache/shardingsphere/pull/11419
Please review the PR.

[2021-07-21 09:18] WuZhiMing2 commented on #11431
thanks

[2021-07-21 09:25] justbk2015 opened #11434 "all password in proxy is plainttext config, there are some security problems in production environment"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
no
### Describe the featu

[2021-07-21 09:28] ican2056 commented on #11047
This seems to have something to do with the version of MySQL，5.7.34 is ok，but 5.7.25 not

[2021-07-21 09:45] Beyondeclipse commented on #11392
Hi @hsw409328, since the data is different for the uses, how to find the correct database? Is it possible to treate table A1 as sharding-table and use some field like 'user_id' as sharding-key ?

[2021-07-21 10:00] qbmiller commented on #11428
解决了, 是spring2  下划线问题; 换成- 好了

[2021-07-21 10:03] qbmiller opened #11436 "5.0.0-beat still start slowly; ColumnMetaDataLoader"
5.0.0-beta
springboot start slow  still like 4.0
org.apache.shardingsphere.infra.metadata.schema.builder.loader.ColumnMetaDataLoader#load

scan every table multi every field;

[2021-07-21 10:09] hsw409328 commented on #11392
@Beyondeclipse

 It can't be set like this.

Because different business user tables correspond to different system services. The problem of coverage can't be solved simply by slicing.

Can you provide methods like @ qualifier or @ datasource for setting?

[2021-07-21 10:19] Swastyy commented on #10976
@tristaZero assign me this issue.

[2021-07-21 11:01] Beyondeclipse commented on #11392
It is likely that shardingsphere should have unique table name. And adding a new field as sharding-key may be a easy way to use it.

[2021-07-21 11:11] Superainbower opened #11437 "The result isn't right in Row to Column scenario"
## Question

**For English only**, other languages will not accept.

Hi, i find the result isn't right in Row to Column scenario (shardingsphere jdbc 5.0.0-beta)

Here is my data in mysql ( table sharding by begin_time)
![image](https://user-images.githubusercontent.com/35786966/126478735-1542d153-eac3-4bd7-86af-abfefb8fe929.png)

SQL like this:

select car_no,
	   ifnull(sum( CASE WHEN type = '1'

[2021-07-21 11:20] sccc803 opened #11438 "One of datasources failed to build, but the proxy still start successfully"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-21 11:42] Superainbower commented on #11437
@strongduanmu demo link
https://github.com/Superainbower/demo

[2021-07-21 11:52] RaigorJiang commented on #10867
@Keanhua   OK, I wll upload tonight.

[2021-07-21 15:14] RaigorJiang commented on #10867
Hi @Keanhua,
Please see this [commit](https://github.com/RaigorJiang/sharding-bug-demo/commit/500522b6e12c4f2fd3f50ae10ee140050c30fc43).
Because your sql file just has one table, so I delete other table configuration in the yaml.   You can add them as the same format.

[2021-07-21 15:20] ddacxhs opened #11442 "Caused by: java.sql.SQLException: Column index out of range."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-22 01:21] WuZhiMing2 opened #11443 "in ShardingSphere proxy 5.0,how to configure the schemaName"
This is official website config
[code]
This is source code defualt file  server.xml's config
[code]
Excuee me,how to configure the schemaName in server.xml?

[2021-07-22 01:30] dongzl commented on #11443
Hi @WuZhiMing2  , for English only, please modify the issue title and content.

[2021-07-22 01:37] Keanhua commented on #10867
@RaigorJiang ok,thank you very much

[2021-07-22 02:01] RaigorJiang commented on #11443
@WuZhiMing2   Please see  [config-*.yaml](https://github.com/apache/shardingsphere/tree/master/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf)

[2021-07-22 02:06] WuZhiMing2 commented on #11443
I want configure the shardingSphere proxy's databases .Instead of original databases

[2021-07-22 02:10] WuZhiMing2 commented on #11443
A example ,I want to configure config-sharding.xml inside schema:sharding_db to assign to sharding:sharding.How can I do

[2021-07-22 02:23] RaigorJiang commented on #11443
You can search for `schemaName ` in the config file.
Notice: `schemaName` is in config-*.yaml , but not in `servere.yaml`.

[2021-07-22 02:26] WuZhiMing2 commented on #11443
I has been configured schema:sharding-db in config-sharding.xml,but I don't know how to configure the sharding-db to schema user——sharding:sharding(userName:password)

[2021-07-22 02:37] dachuan9e opened #11444 "Add more metrics for proxy"
# Introduction
   Will add the following metrics for proxy.  It needs to change both the proxy and agent.

# Tasks
+ proxy service status.
     + [x] proxy uptime （DistSQL + Metrics）
     + [x] proxy state      （DistSQL + Metrics）
+ more type of SQL
     - [x] DML INSERT
     - [x]  DML DELETE
     - [x]  DML UPDATE
     - [x]  DML SELECT
     - [x]  DDLStatement
     - [x]  DCLStatement
     - [x

[2021-07-22 02:45] strongduanmu commented on #11442
@ddacxhs Thank you for your detailed investigation, this bug has been fixed by PR #10833.

[2021-07-22 02:45] #11442 closed

[2021-07-22 02:49] RaigorJiang commented on #11443
Sorry I am not clear about your question, please give me an example. @WuZhiMing2

[2021-07-22 02:51] RaigorJiang commented on #11443
You can also refer to the [example project](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-proxy-example/shardingsphere-proxy-boot-mybatis-example/src/main/resources/conf).

[2021-07-22 02:54] WuZhiMing2 commented on #11443
I want to like this configuration
[code]

[2021-07-22 02:56] WuZhiMing2 commented on #11443
This is version 4.0 configuration.But this configuration cannot be applied version 5.0

[2021-07-22 03:03] RaigorJiang commented on #11443
Like [this](https://github.com/apache/shardingsphere/pull/10998) one?

[2021-07-22 03:08] tuichenchuxin commented on #11436
@qbmiller Thanks for the feedback, we will follow up to solve this problem.

[2021-07-22 03:11] tuichenchuxin commented on #11433
@Hmz3192 Thank you for feedback.We have noticed this problem and will resolve it later.

[2021-07-22 03:13] WuZhiMing2 commented on #11443
Like 4.0 funcions In 5.0.

[2021-07-22 03:15] tuichenchuxin commented on #11429
@JiekerTime inner join in pgsql is not supported yet, it will be supported soon.

[2021-07-22 03:17] Keanhua commented on #10867
@RaigorJiang, i tried it , it works well,,thank you very much

[2021-07-22 03:21] RaigorJiang commented on #11443
@WuZhiMing2
Refer to https://github.com/apache/shardingsphere/issues/8966 & https://github.com/apache/shardingsphere/pull/9300,
Please use the new API in 5.0.

[2021-07-22 03:23] WuZhiMing2 commented on #11443
Thanks

[2021-07-22 03:25] RaigorJiang commented on #11443
You are welcome.

[2021-07-22 04:03] cowcomic commented on #10107
we meet same problem, and now it not append again
but we don`t know why

we used two steps:
1. not all tables`s charset is utf8mb4. some for them are utf8. we changed all of them to utf8mb4
2. not all server linked shradingsphere use utf8mb4 in their connection url by character_set_server=utf8mb4&connectionCollation=utf8mb4_bin, we changed all of the connection url with character_set_server=utf8mb

[2021-07-22 04:20] JiekerTime commented on #11429
OK, then I will close the PG-related tests for now

[2021-07-22 06:09] tristaZero opened #11447 "Check and tweak document"
Hi community,

Since #9745 has no feedback anymore, we are seeking help from You to make its change merged.

### How?
Just refer to #9745 and its comment to fix the doc of English and Chinese version. Then raise a new PR.

[2021-07-22 06:12] #11416 closed

[2021-07-22 06:13] Superainbower opened #11448 "java.sql.Timestamp cannot be cast to java.lang.Long"
## Bug Report**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If no

[2021-07-22 06:23] Yule-Momoko opened #11449 "Multiple-Table Delete report error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-22 06:24] Yule-Momoko commented on #11449
DELETE ta
FROM
	FI_TableA ta
	JOIN FI_TableB tb ON tb.id= ta.id
WHERE
	ta.code = '1'

[2021-07-22 06:35] #11448 closed

[2021-07-22 06:51] terrymanu commented on #11449
Hi, The exception thrown with `Cannot support Multiple-Table for '[FI_TableA,FI_TableB, ta]'.` is expected exception.
Delete multiple table is unnecessary in sharding databases, the priority is pretty low.
We have opened the issue before, but nobody collect it.
So I just close the issue, if any idea want to contribute, please give the design doc and the pull requests.
Thank you.

[2021-07-22 06:51] #11449 closed

[2021-07-22 06:56] Yule-Momoko commented on #11449
Why can't this be solved？This deletion is my normal operation, but not what I expected

[2021-07-22 06:57] Yule-Momoko commented on #11449
My routing policy is  Hint

[2021-07-22 07:01] Yule-Momoko commented on #11449
@terrymanu

[2021-07-22 07:20] #10902 closed

[2021-07-22 08:18] dachuan9e opened #11451 "Naming problem of data source in HikariCP metrics"
# Background
If we use agent to monitor the hikariCP metrics and export to the prometheus.  There are many data sources exposed by the data. However it can be identified by the value of  key "pool" as following.  As the proxy running the postfix number will increated if any data source created.  It makes the exporting data in prometheus can not know the pool belongs to which schema.  It seems to n

[2021-07-22 08:23] dachuan9e commented on #11438
https://github.com/apache/shardingsphere/pull/11432

Please check if the latest code in master branch has fixed this issue. @

[2021-07-22 08:31] yx9o commented on #11447
hi, can i modify it.

[2021-07-22 08:34] RaigorJiang commented on #11451
For the monitoring system, `poolName` is necessary, otherwise the operator will not be able to identify which data source the monitoring indicators come from.

And here is a question:
When the same data source is configured in different schemas, proxy will create two different connection pools for it, which is a little waste of resources.

[2021-07-22 08:56] #11190 closed

[2021-07-22 09:02] qbmiller commented on #11436
this code block. sometimes run ;
sometimes not run this code block;   haven't looked closely yet

[2021-07-22 09:10] sunguosheng opened #11452 "MySQLIntegrityConstraintViolationException: Duplicate entry 'xxxx' for key 'PRIMARY'"
## Bug Report
### Which version of ShardingSphere did you use?
shardingjdbc4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### bug
Distributed system snowflake algorithm duplicate ID
[code]
### configuration
[code]

[2021-07-22 09:12] JoinWDT opened #11453 "postgresql parse package error"
### Which version of ShardingSphere did you use?
5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Reason analyze (If you can)
1. It can be seen by capturing the packet

![image](https://user-images.githubusercontent.com/26700541/126614788-b4c08b73-a286-4678-b11a-4142f58a1357.png)
Type OID : 0

Execute in ShardingSphere-Proxy
![image

[2021-07-22 09:18] ccMoriarty commented on #10673
![image](https://user-images.githubusercontent.com/35559210/126616133-28d8201f-bdf4-4561-927f-3703b89aa791.png)
![image](https://user-images.githubusercontent.com/35559210/126616237-0ff0b5c3-8079-4318-8826-327228c84559.png)

I have a similar problem

when i use  'select * from db.tb',  it tell me No database selected; but it ok in MySQL

why must selecte  database  first

[2021-07-22 09:23] ccMoriarty opened #11454 "select * from db.tb need to selecte database first"
## Bug Report

### Which version of ShardingSphere did you use?

apache-shardingsphere-5.0.0-beta-shardingsphere-proxy

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Example codes for reproduce this issue (such as a github link).

![image](https://user-images.githubusercontent.com/35559210/126617098-1bda4355-5a00-4a4b-8523-738ee6476ec0.png)

[2021-07-22 09:43] RaigorJiang commented on #10673
Hi @ccMoriarty
Thanks for your feedback, but this is not a similar problem.
- for Proxy, different schemas can have different feature configurations, which will affect the query results, so the schema must be used first.
- `create user` is not limited by the sharding function, so this needs to be solved.

[2021-07-22 09:58] sunguosheng commented on #11452
Is there an example of this?Thank you very much
![image](https://user-images.githubusercontent.com/57164757/126621531-1db2ee76-f821-4dfe-9d31-ba65aad697ab.png)

[2021-07-22 10:03] CTO-xk opened #11455 "nested exception is org.apache.ibatis.executor.ExecutorException:"

[2021-07-22 10:05] RaigorJiang commented on #11454
Refer to https://github.com/apache/shardingsphere/issues/10673, I think it's not a problem.

[2021-07-22 10:18] strongduanmu commented on #11454
@ccMoriarty You can try the master branch, sql with schema has already been supported.

[2021-07-22 10:50] badhorse commented on #10301
出现同样的问题，当然不止这一个问题。
sql解析这一块的问题有一堆。
人家的SQL贴出来了，异常栈也是完整的，还要人家提供什么？
其实，就算信息是不完整的，这种问题你们自己还不知道？
有问题不可怕，可是你们这样对待问题，这个项目的前景真的是堪忧了。

[2021-07-22 11:18] zjcnb commented on #11455
Hi, can you provide the ShardingSphere version and sql?

[2021-07-22 11:52] totalo opened #11458 "Merge DistSQLStatementParserEngineTest"
Since #11183 was merged, DistSQL has been converted to Parameterized + XML for testing, and subsequent additions need to be merged.

[2021-07-22 11:53] totalo commented on #11458
I will solve the issue.

[2021-07-22 13:13] #11359 closed

[2021-07-23 00:32] #11454 closed

[2021-07-23 00:42] strongduanmu commented on #11448
Duplicate with #10760.

[2021-07-23 01:28] ccMoriarty commented on #11454
@strongduanmu  thanks

[2021-07-23 01:45] dongzl commented on #11452
Hi @sunguosheng , can you test the lastest version, `5.0.0-beta`.  `4.1.1` is an older version.

[2021-07-23 02:08] dachuan9e opened #11462 "Proxy restart fail after 'ADD resource' SQL executed"
# Input
ADD RESOURCE resource_3 (
    URL="jdbc:mysql://localhost:3306/db3?serverTimezone=UTC&useSSL=false",
    USER=root,
    PASSWORD=123456,
    PROPERTIES("maxPoolSize"=10)
);

# Steps
- Start proxy
- Execute the distSQL above
- Stop proxy and restart
- Proxy start fail

# Exception's log
Exception in thread "main" java.lang.IllegalArgumentException: Can not set int field org.apache.shardings

[2021-07-23 02:09] klniu commented on #11384
ok, thanks, I will do it.

The problem is that the Java Stream Map method only requires java.util.Function, and does not require cast. Just using Lambda function is fine.

However, the addition of a forced conversion and the import com.google.common.base.Function by mistake caused the exception.

[2021-07-23 02:14] RaigorJiang commented on #11462
Thanks, please assign to me.  😊

[2021-07-23 02:50] strongduanmu commented on #11075
When we execute sql after proxy start, this exception will occur:

![image](https://user-images.githubusercontent.com/10829171/126732201-53433c46-e377-44a0-b7dc-ba8d5ca92cfc.png)

When executing SQL without tables, like `select @@version_comment limit 1;`, the logic for obtaining the schema needs to be optimized.

[2021-07-23 02:57] sccc803 commented on #11438
Yes, it has been fixed.

[2021-07-23 02:57] #11438 closed

[2021-07-23 03:37] menghaoranss commented on #11453
The version 5.0.0-beta has better support for PG, could you try with the latest version again?

[2021-07-23 03:44] menghaoranss commented on #11393
closed because no response any more

[2021-07-23 03:44] #11393 closed

[2021-07-23 03:47] JoinWDT commented on #11453
thank you for your reply
I checked on the latest marst branch,And no further processing
When typeOID is equal to 0,
GetTextParameters in [PostgreSQLComBindPacket](https://github.com/apache/shardingsphere/blob/master/shardingsphere-db-protocol/shardingsphere-db-protocol-postgresql/src/main/java/org/apache/shardingsphere/db/protocol/postgresql/packet/command/query/binary/bind/PostgreSQLComBindPacket

[2021-07-23 06:15] JiekerTime opened #11465 "PGSQL does not support DML operations in encrypt scenarios"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
When I execute the statement on the encrypt column it reports error 'You have an error in your SQL syntax'

### Reason analyze (If you can)
Temporarily not supported

### Steps to reproduce the behavior, such as:

[2021-07-23 08:06] Yule-Momoko opened #11467 "Having is not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-23 08:06] sccc803 opened #11468 "ExecutorService does not shutdown when loading table meta data failed."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-23 08:06] sccc803 commented on #11468
If possible, I am willing to fix this problem.

[2021-07-23 08:15] strongduanmu commented on #11467
@Yule-Momoko The having statement is already supported in the master branch, but not yet in the beta version.

[2021-07-23 08:17] Yule-Momoko commented on #11467
@strongduanmu When will the version be updated？

[2021-07-23 08:18] strongduanmu commented on #11467
@Yule-Momoko Because the beta version has just been released, the next version will take some time.

[2021-07-23 08:20] #11386 closed

[2021-07-23 08:20] #11467 closed

[2021-07-23 08:24] Yule-Momoko opened #11469 "insert into tableA（id,cd）（select id,cd from tableB）Does not support"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-23 08:25] chenjia123 opened #11470 "Why is the NACOS config center implemented but no registry?"
## Env: Sharding-proxy 4.1.1
## Aim: Try using nacos instead of ZK

I use the following configuration file:
[code]
However, it does not take effect and has an exception:
[code]

And then I found this:
![image](https://user-images.githubusercontent.com/22190625/126754498-0ded461a-4ab0-4e80-ac92-aac14d732926.png)

So,
- Why is this project(sharding-orchestration-center-nacos) incomplete? The Registr

[2021-07-23 08:49] strongduanmu commented on #11392
@hsw409328 The latest master branch adds a duplicate check to the single table. This can ensure that you find duplicate single tables in time and avoid routing errors.
[code]

[2021-07-23 08:52] CheerwayRen opened #11471 "shardingsphere-jdbc batch insert statements with semicolon division, results were not as expected"
When batch insert statements with semicolon division are used, only the first sentence will be executed successfully, and the following statements will not be executed and no error will be reported

[2021-07-23 08:52] CheerwayRen opened #11472 "shardingsphere-jdbc batch insert statements with semicolon division, results were not as expected"
When batch insert statements with semicolon division are used, only the first sentence will be executed successfully, and the following statements will not be executed and no error will be reported

[2021-07-23 08:53] CheerwayRen commented on #11472
@strongduanmu Please take a look

[2021-07-23 09:02] hsw409328 commented on #11392
@strongduanmu
This is just a check and does not solve the problem of duplicate tables of multiple data sources

[2021-07-23 09:02] hsw409328 commented on #11392
Preconditions.checkState(!result.containsKey(each), "Single table conflict, there are multiple tables `%s` existed.", each)

[2021-07-23 09:04] strongduanmu commented on #11472
@CheerwayRen Thank you for your feedback. Currently, multiple SQLs separated by semicolons are not supported.

[2021-07-23 09:09] CheerwayRen commented on #11472
Because there is no error, and the first sentence can be implemented successfully, I thought it was supported. Will there be the ability to open up in the future

[2021-07-23 09:16] sunguosheng commented on #11452
Sorry, this is a stable project of the company, so I can't upgrade to 5.0.0-beta，I want to know how the workerID is configured, but I can't find it

[2021-07-23 09:22] strongduanmu commented on #11472
Multiple SQL routing in a distributed scenario will increase the complexity of SS. There is no plan yet.

[2021-07-23 09:26] CheerwayRen commented on #11472
ok, thank you

[2021-07-23 09:26] #11472 closed

[2021-07-23 09:27] strongduanmu commented on #11392
@hsw409328 A single table must be unique in the same logical data source. If your multiple single tables have no relationship and the data is different, why not consider splitting them into multiple logical data sources?

[2021-07-23 09:34] changming8 opened #11474 "Protocol incompatibility between ShardingSphere-proxy and Tbase"
## Bug Report
We use the TBase database, and we use shardingSphere-proxy as database middleware. After the proxy is successfully deployed, there is no exception, but the application side reports a protocol error:

WARN operator.DBPreProc [331] : Reconnect database after 10 seconds due to the following error: Protocol error. Session setup failed.

21/07/23 14:57:14 WARN operator.DBPreProc [331] : R

[2021-07-23 09:34] SriSatyaT commented on #10978
Can I work on this issue?

[2021-07-23 09:37] SriSatyaT commented on #10969
Can I work on this issue?

[2021-07-23 09:46] wuguowei19880907 opened #11475 "problems after change data store as raw in oracle"
oracle database+spring boot 1.5+hibernate+sharding 5.0.0

I change the **EncryptAlgorithm** encrypt and decrypt method return bytes to store the encrypted data with **oracle raw type**.
![image](https://user-images.githubusercontent.com/19338820/126764950-b4a8e4f8-c2bc-49c4-bce2-7f4710120446.png)

when i execute update for insert data ,the error logs:
![image](https://user-images.githubusercontent

[2021-07-23 10:04] strongduanmu commented on #10969
@SriSatyaT Welcome.

[2021-07-23 10:17] SriSatyaT commented on #10969
@strongduanmu Thank you.

[2021-07-23 15:47] RaigorJiang commented on #11469
Please refer to [Supported SQL](https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/#supported-sql-1):

[2021-07-24 09:28] mazhai opened #11481 "sharding-proxy 1046 - No database selected"
### Which version of ShardingSphere did you use?
4.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
sharding-proxy

### Expected behavior
I hope Navicat can connect sharding-proxy

### Actual behavior
Navicat connection failed ,report No database selected

### Reason analyze (If you can)
[code]
Throw in this method
[code]

### Steps to reproduce the behavior, su

[2021-07-24 09:39] #10981 closed

[2021-07-24 09:43] #11033 closed

[2021-07-24 09:49] #11447 closed

[2021-07-24 09:51] #11384 closed

[2021-07-24 09:52] mazhai commented on #11481
[https://github.com/apache/shardingsphere/pull/7182/commits/dba87a3af95c66b91a55eb78caa2ecd799545754](url)
I found this, but this version is 5.0.0 and Without `org.apache.shardingsphere.infra.context.SchemaContext` class in version 4.0.0-RC1.

[2021-07-24 09:55] #10978 closed

[2021-07-24 10:10] tristaZero commented on #11429
@tuichenchuxin @strongduanmu Do we have any plan to fix it?

[2021-07-24 10:10] #11468 closed

[2021-07-24 10:35] tristaZero commented on #10301
@badhorse Hi Thanks for your comment, but please speak English here. Please do not complain about why You have to use English for communication. The reason is that this is an Apache top-level project, the community is for the people worldwide.

I suggest you raise your specific issues instead of complaints here, pointless, right?
I have my thinking to solve this issue. Therefore I need more info f

[2021-07-24 10:41] zjcnb opened #11484 "Quick start of official documents ShardingSphere-Proxy add mysql 8.x download link"
Hi all，

## Aim
Quick start of official documents ShardingSphere-Proxy add mysql 8.x download link Direct address:

## Examples FYI
2. Import Dependencies

[2021-07-24 10:47] tristaZero commented on #10107
@cowcomic Hi, thanks for your feedback.

[2021-07-24 10:48] #10867 closed

[2021-07-24 10:59] zjcnb commented on #11471
@CheerwayRen  Hi bro, can you provide some specific information, such as: ShardingJDBC or ShardingProxy, ShardingSphere version and sql

[2021-07-24 11:07] longtai94 commented on #11484
Please assign to me.

[2021-07-24 11:09] tuichenchuxin commented on #11429
I'll try to support it next week.

[2021-07-24 11:34] MingxingLAI commented on #9893
Please assign to me. @tristaZero

[2021-07-24 11:55] #11458 closed

[2021-07-25 03:36] tristaZero commented on #10958
Hi @Swastyy So do you want to take charge of this one?

[2021-07-25 03:44] Swastyy commented on #10958
Yes I am working on it.

[2021-07-25 04:11] terrymanu opened #11490 "Load string content from YAML file in test case DataSourcePersistServiceTest"
Please load string content from YAML file to instead of hard code in test case DataSourcePersistServiceTest

Please search `// TODO load from YAML file` to find the modification point.

[2021-07-25 04:14] terrymanu opened #11491 "Add test case for DropResourceBackendHandler"
Please reference `AddResourceBackendHandlerTest`

[2021-07-25 04:31] yinyanghuafa commented on #11491
please let me try

[2021-07-25 05:34] SoundHearer commented on #11490
please let me try

[2021-07-25 06:57] terrymanu commented on #11491
@yinyanghuafa Welcome onboard!

[2021-07-25 06:57] terrymanu opened #11493 "Add test case for CreateDatabaseBackendHandler"
Please reference `AddResourceBackendHandlerTest`

[2021-07-25 06:58] terrymanu commented on #11490
@SoundHearer Thank you, I just assign it to you

[2021-07-25 07:05] sandynz commented on #11016
Looks `setCatalog` will not throw exception any more in 5.0.0 series.

For 4.0.0 series, you might need to change some code and package by yourself for now. The new implementation is just remove `throw new SQLFeatureNotSupportedException("setCatalog");` and keep empty implementation:
[code]
See commit 85574287614971fe71e5cd1a817f70ce84b90755 and cdcc73b12bebc3362799fc20673915ce018204ad .

From `ja

[2021-07-25 07:11] terrymanu commented on #11470
Reg center need to ephemeral or TTL, only ZooKeeper and etcd can support the feature.
So NACOS  has been removed from version 5.x.

[2021-07-25 07:11] #11470 closed

[2021-07-25 07:35] terrymanu opened #11495 "Add test case for RuleDefinitionBackendHandler"

[2021-07-25 08:37] CTO-xk commented on #11455
版本是

            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>
        </dependency>
sql 是
SELECT
	res.id,
	res.parent_id,
	res.resource_name,
	res.resource_type,
	res.resource_code,
	res.resource_url,
	res.sort,
	rid
FROM
	t_resource res
LEFT JOIN (
	SELECT
		res.id,
		rr.roid rid
	FROM
		t_

[2021-07-25 08:38] CTO-xk commented on #11455
我在下面提供了

[2021-07-25 08:42] zjcnb commented on #11455
@CTO-xk  Please modify Chinese to English

[2021-07-25 09:18] strongduanmu commented on #11484
@longtai94 Welcome.

[2021-07-25 09:42] terrymanu opened #11498 "Finish to implement LocalDistMetaDataPersistRepository"
The class `LocalDistMetaDataPersistRepository` is empty implementation, please finish it.

- [x] Storage meta data into local file, using `work.dir` is the  best practice.
- [x] Remove isEmpty judge in `StandardBootstrapInitializer`, please search `TODO`
- [x] Add config item for `LocalDistMetaDataPersistRepository` to permit user define storage path by props. The best practice is using `GlobalRul

[2021-07-25 09:46] terrymanu opened #11499 "Use SPI to introduce DistMetaDataPersistRepository"
- [x] Add SPI interface of DistMetaDataPersistRepository
- [x] Make LocalDistMetaDataPersistRepository as default one, the code hook is in `DistMetaDataPersistRepositoryFactory`, please search `TODO`
- [x] Consider about add more DistMetaDataPersistRepository type, such as: Database, Ceph etc...

This issue is depended on #11498

[2021-07-25 09:57] terrymanu opened #11500 "Fix test case of StandardBootstrapInitializerTest.assertGetProxyConfiguration()"
Please search `TODO` in class StandardBootstrapInitializerTest

[2021-07-25 09:59] jackding79 commented on #11493
please let me try

[2021-07-25 10:05] #11275 closed

[2021-07-25 10:22] terrymanu opened #11502 "Discuss scope of governance module"
The scope of current governance module include `multiple Proxy/JDBC instances coordinate`, `disable data sources` and `circuit break`.

But disable data sources and circuit break features is belong to management scope, which should not depend on governance module. The scope of governance module should simplify to multiple instances coordinate only.

So, how about split disable data sources to read

[2021-07-25 10:42] taojintianxia commented on #11502
nowadays, shardingsphere get more and more modules, if one module become complex, this module devided into several modules. just like cells, modules grow up and keep on dividing. and code compile/build/download/debug .... become more and more complex too.

maybe , maybe some day, shardingshere will divide into several independent  PROJECTs ?

[2021-07-25 14:06] totalo commented on #11502
I think disabling data sources may not only be suitable for readwrite-splitting related functions, some projects may have similar requirements for dynamic data sources. Can a management module be abstracted? Separate each ability independently.

[2021-07-25 16:24] terrymanu commented on #11502
I am not sure for now, it is another topic.

[2021-07-25 16:24] terrymanu commented on #11502
Sure, I just list the example. Because of disable data source is for readwrite-splitting only for now.

[2021-07-25 16:25] terrymanu commented on #11493
@jackding79  Sure, assigned

[2021-07-26 01:04] taojintianxia commented on #10054
@tristaZero I got the same error . let me reproduce this and make a simple demo for this.

[2021-07-26 02:48] Yule-Momoko commented on #11469
is bind tables

[2021-07-26 03:17] RaigorJiang commented on #11469
How about
[code]
Do not use parentheses in query statements, like the example?

[2021-07-26 03:24] menghaoranss commented on #8570
fixes by #10586

[2021-07-26 03:24] #8570 closed

[2021-07-26 05:29] #10891 closed

[2021-07-26 05:29] #11188 closed

[2021-07-26 05:45] #10673 closed

[2021-07-26 08:13] strongduanmu commented on #11075
Multiple different schemas containing the same table lead to incorrect routing results.

![image](https://user-images.githubusercontent.com/10829171/126953403-23226542-3e43-4aa0-ab99-bd56bfb67565.png)

[2021-07-26 08:49] RaigorJiang commented on #8618
I think these statements should be considered:
[code]
We can discuss about them.

Hi @zhujunxxxxx
Are you interested in handling this issue？

[2021-07-26 08:53] fwhdzh commented on #11500
Hello, I want to try this issue.

[2021-07-26 08:55] strongduanmu commented on #11500
@fwhdzh Welcome.

[2021-07-26 12:31] vince7839 opened #11512 "Navicat show “No database selected” when connect to ShardingSphere Proxy"
Version:5.0.0-beta
I config 2 dataSource like following and launch ShardingSphere-Proxy，but when I try to connect it by Navicat，it failed and show "No database selected".
schemaName: sharding_db

dataSources:
  ds_0:
    url: jdbc:mysql://localhost:3306/db_0?serverTimezone=UTC&useSSL=false
    username: root
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds:

[2021-07-27 01:38] totalo opened #11518 "Template-rewrite-test related implementations"
There are a lot of duplicated code `EncryptSQLRewriterParameterizedTest`, `MixSQLRewriterParameterizedTest` and `ShardingSQLRewriterParameterizedTest`, It could be a template implementation.

[2021-07-27 01:38] totalo commented on #11518
I will solve the problem.

[2021-07-27 02:02] mingqing6364 opened #11520 "when sql from a sub-query and select *, can't return all columns"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-07-27 02:12] strongduanmu commented on #11520
@mingqing6364 Thank you for your feedback, can you try the master branch? I think this issue has been fixed in master branch.

[2021-07-27 02:46] menghaoranss commented on #11512
duplicate with #7141, please provide more stack logs.

[2021-07-27 02:52] 18435753200 opened #11522 "java.lang.NullPointerException: Inline sharding algorithm expression cannot be null."
### Error updating database.  Cause: java.lang.NullPointerException: Inline sharding algorithm expression cannot be null.
### The error may exist in com/zcc/myshardingjdbc/mapper/OrderMapper.java (best guess)
### The error may involve com.zcc.myshardingjdbc.mapper.OrderMapper.insert-Inline
### The error occurred while setting parameters
### SQL: INSERT INTO t_order  ( id, order_no, order_type )  V

[2021-07-27 02:52] menghaoranss commented on #11481
duplicate with #7141, #11512, we will try to fix in the master branch. so I will close this issue later, and if you need to use version 4.0.0-RC1, please try with MySQL client again.

[2021-07-27 02:52] #11481 closed

[2021-07-27 02:54] 18435753200 commented on #11522
Is it the wrong configuration?

[2021-07-27 02:55] 18435753200 commented on #11522
`spring:
  shardingsphere:
    datasource:
      names: ds0 # 指定数据源名字，多数据源以逗号分隔
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://localhost:3306/order_0?allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8
        username: root
        password: zxcvbnm&123
    rules:
      sharding

[2021-07-27 02:56] 18435753200 commented on #11522
spring:
  shardingsphere:
    datasource:
      names: ds0 # 指定数据源名字，多数据源以逗号分隔
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://localhost:3306/order_0?allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8
        username: root
        password: zxcvbnm&123
    rules:
      sharding:

[2021-07-27 02:56] 18435753200 commented on #11522
![image](https://user-images.githubusercontent.com/35163659/127088018-33dd1196-88b1-4121-ae4c-8599d3051eb5.png)

[2021-07-27 02:56] 18435753200 commented on #11522
![image](https://user-images.githubusercontent.com/35163659/127088056-c8f739a5-2705-44e7-bb56-01faafc47f3e.png)

[2021-07-27 03:11] sydgeek opened #11523 "Chinese document typo in dev-manual/proxy"
link : https://shardingsphere.apache.org/document/current/cn/dev-manual/proxy/#authorityprovidealgorithm

English doc : Will not interact with the actual database.
cn doc : 不会与实际数据库数据库交互。
change it to "不会与实际数据库交互。"

[2021-07-27 03:11] sydgeek commented on #11523
I am working on it.

[2021-07-27 04:01] #11523 closed

[2021-07-27 04:31] sgc109 commented on #1893
Aren't there any future plans for this?

[2021-07-27 05:08] #10990 closed

[2021-07-27 06:37] 449085052 commented on #11364
any response？

[2021-07-27 07:29] trycache0828 opened #11534 "Caused by: java.sql.SQLException: Column index out of range."
Originally posted by @strongduanmu in https://github.com/apache/shardingsphere/issues/11442#issuecomment-884621246_

[2021-07-27 07:34] trycache0828 commented on #11534
The middleware version I use is 5.0.0-beta.

I also encountered this problem.

How can I solve this problem?

## Dependency package

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core</artifactId>
            <version>5.0.0-beta</version>
            <exclusions>
                <exclusion>
                    <groupId>org

[2021-07-27 07:52] trycache0828 commented on #11534
## MySQL limit paging query bug （Left join query）

When use LIMIT 0, 10, the query result is normal and the number of query result records is 10.

When use LIMIT 10, 10, the query result is normal and the number of query result records is 10.

But when use LIMIT 20, 10, the query result is incorrect and the number of query result records is 20.

![mysql limit bug](https://user-images.githubusercon

[2021-07-27 07:58] trycache0828 commented on #11534
Maven's third-party dependent packages depend on different versions of guava packages, which are incompatible with each other.

## ERROR

java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkState(ZLjava/lang/String;Ljava/lang/Object;)V

## Description

Class: com.google.common.base.Preconditions

Jar: guava-29.0-jre.jar

## Dependency package

<dependency>
    <groupId>org.apach

[2021-07-27 08:12] strongduanmu commented on #11534
@trycache0828 Hi, thank you for your feedback, this pr is on master branch.

[2021-07-27 08:12] strongduanmu commented on #11534
@trycache0828 Can you submit a new issue to report mysql limit bug?

[2021-07-27 08:20] trycache0828 opened #11536 "MySQL limit paging query bug, use 'limit 20, 10' but return 20 （Left join query）"
## Bug Report

When use LIMIT 0, 10, the query result is normal and the number of query result records is 10.

When use LIMIT 10, 10, the query result is normal and the number of query result records is 10.

But when use LIMIT 20, 10, the query result is incorrect and the number of query result records is 20

The limit statement has been rewritten

SQL printed by hibernate：SELECT * FROM XXX WHER X

[2021-07-27 08:25] trycache0905 opened #11537 "Maven's third-party dependent packages depend on different versions of guava packages, which are incompatible with each other."
Maven's third-party dependent packages depend on different versions of guava packages, which are incompatible with each other.

## ERROR
java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkState(ZLjava/lang/String;Ljava/lang/Object;)V

## Description

Class: com.google.common.base.Preconditions

Jar: guava-29.0-jre.jar

## Dependency package

    <dependency>
        <groupId>or

[2021-07-27 08:25] #11534 closed

[2021-07-27 08:47] dachuan9e commented on #11444
Adding request error number by recording the exceptions happened in "org.apache.shardingsphere.proxy.frontend.command.CommandExecutorTask"

[2021-07-27 08:56] taojintianxia commented on #11444
fantastic !

[2021-07-27 10:16] sgc109 opened #11539 "'..' on relative path of javadocExecutable in pom.xml"
Hi!

When I run `./mvnw install` on `5.0.0-beta` tag, I get following error.

However, if I remove `..` between `${java.home}/` and `bin/` on `<javadocExecutable>` tag in **pom.xml** like follows, it works well.

[code]

I'm just wondering why '..' is included on the relative path of javadoc.

[code]

[2021-07-27 10:46] JooKS-me commented on #650
- [ShardingSphere-Agent插件机制梳理（Sort out ShardingSphere-Agent plugin mechanism）](https://www.jooks.cn/article/56)

[2021-07-27 12:35] menghaoranss commented on #11499
Hi, @terrymanu

I just consider defining the user API of dist meta data persist as a global rule as follows:
[code]
We can also define other types such as Database:
[code]

any suggestions?

[2021-07-28 02:33] Hmz3192 opened #11547 "On the low efficiency of cross table query"
## Question

Shardingsphere is used for table splitting in the project, and the data volume of a single table is about 1 million. When testing the efficiency of table splitting, it is found that the efficiency of single table query is very different from that of cross table query. The results are shown in the figure below. According to the official manual, SQL execution uses multi-threaded executo

[2021-07-28 02:34] #11462 closed

[2021-07-28 02:51] zjcnb commented on #11364
Can you provide a demo project? Because I can't reproduce it.

[2021-07-28 03:32] trycache0828 commented on #650
To handle error caused by column name is ‘‘ of SQL query statement in Sharding-JDBC 4.1.1

[Solution for 4.1.x](https://blog.csdn.net/u014698745/article/details/119174882)

[2021-07-28 04:29] bai1986 opened #11550 "SQL checking failed"
when i excuted a sql ，like show databases,in apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-proxy-bin，Errors are reported as follows
ERROR 1999 (C1999): Unknown exception: [SQL checking failed. Error message: .]
root@127.0.0.1((none)) 12:17>exit
The proxy does not report any error

My configuration is as follows：
**config-sharding.yaml**
schemaName: ProductDB

dataSources:
  ds_0:
    url

[2021-07-28 05:26] #11381 closed

[2021-07-28 06:21] yx9o commented on #10980
hi, can i work on this issue.

[2021-07-28 06:37] strongduanmu commented on #10980
@yx9o Welcome.

[2021-07-28 08:11] haidafus commented on #7823
had the question been resolve d

[2021-07-28 08:31] zhujunxxxxx commented on #11495
I'd like do it.

[2021-07-28 08:43] strongduanmu commented on #11495
@zhujunxxxxx Welcome.

[2021-07-28 08:47] dachuan9e commented on #11444
Add proxy state, uptime and sql metrics

[2021-07-28 09:03] dachuan9e commented on #11451
Right now users can provide property named 'poolName' in configuration file.  It will set the data source pool name as the property value. The following is the example:

# Example

dataSources:
  ds_0:
    url: jdbc:mysql://127.0.0.1:3306/demo_ds_0?serverTimezone=UTC&useSSL=false
    username: root
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000

[2021-07-28 09:10] zjcnb commented on #11522
@18435753200 Hi，Can you try use this config:
spring:
  shardingsphere:
    datasource:
      names: ds0
      ds0:
        username: root
        password: 123456
        url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2b8
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
    rules:

[2021-07-28 13:42] mazhai opened #11560 "Unable to connect to ali RDS"
### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

I've tried versions 4.0.0-4.1.1. Proxy can connect to ali RDS normally, and I can connect to sharding proxy using dbeverar

However, starting from 5.0.0, sharding proxy startup is normal. Dbevers cannot be connected. Does 5.0.0 not support a

[2021-07-29 01:03] tuichenchuxin opened #11562 "Mysql inner join without bindingtable execute actual sql not like expected."
## Bug Report
sql:
`select a.order_id from t_order a inner join t_order_item b on a.order_id
= b.order_id where a.user_id = 1 and a.order_id = 1 and b.user_id = 1 and b.order_id = 1;`
in console actual sql is
`ds_0 ::: select a.order_id from t_order a inner join t_order_item b on a.order_id = b.order_id where a.user_id = 1 and a.order_id = 1 and b.user_id = 1 and b.order_id = 1`
`ds_1 ::: select a

[2021-07-29 02:09] Orangehalf opened #11564 "自定义分片规则的时候可以同时接收多种类型的参数吗？比如String类型和Date类型的都接收"

[2021-07-29 02:10] wangdandong opened #11565 "Does Shardingsphere-5.x support default-data-source-name of Shardingsphere-4.x? It seems that the corresponding relationship between each table and the database should be clearly specified in Shardingsphere-5.x."
Does Shardingsphere-5.x support `default-data-source-name` of Shardingsphere-4.x? It seems that the corresponding relationship between each table and the database should be clearly specified in Shardingsphere-5.x.

[2021-07-29 02:19] menghaoranss commented on #11564
@Orangehalf For English only.

[2021-07-29 02:19] #11564 closed

[2021-07-29 02:52] #11218 closed

[2021-07-29 03:06] menghaoranss commented on #11550
This seems to be the problem of authority, please confirm the users which configured in `server.yaml` are created in the actual database.

[2021-07-29 03:07] gywndi opened #11566 "rsMeta.getColumnCount() returns "0", If I query the entire sharding table for GROUPING result."
## Bug Report

"user" is sharding table and sharding key is "userid".
[code]

When executing the above kind of query, the rsMeta.getColumnCount() result is 0. I implemented a simple logic to drop the query result into JSON and tested it.

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use?
ShardingSphere-JDBC

### Expected behavior
[code]

### Actual behavior
[co

[2021-07-29 03:24] menghaoranss commented on #11565
refer to #7731

[2021-07-29 03:25] #11565 closed

[2021-07-29 04:40] #11499 closed

[2021-07-29 07:06] strongduanmu commented on #10996
In order to solve the single table routing in the multi-data source aggregation scenario, the order of the rule needs to be adjusted. The latest order is as follows.

<div class="okr-block-clipboard" data-okr="%7B%22okrDelta%22%3A%5B%7B%22lineType%22%3A%22unsupport%22%2C%22lineOptions%22%3A%7B%7D%2C%22lineContent%22%3A%5B%5D%7D%5D%2C%22businessKey%22%3A%22lark-doc%22%7D"></div><div data-zone-id="0

[2021-07-29 07:10] yuefolk opened #11568 "UnrecognizedDatabaseURLException"
the bug like [https://github.com/apache/shardingsphere/issues/8736](url)
this is my jdbcUrl config:
jdbc:mysql://localhost:3306,localhost2:3306/databaseName?xxx

It will report an error
`Exception in thread "main" org.apache.shardingsphere.underlying.common.database.metadata.UnrecognizedDatabaseURLException: The URL: 'jdbc:mysql://localhost:3306/' is not recognized. Please refer to this pattern: '

[2021-07-29 09:02] trycache0828 commented on #11536
@strongduanmu Already using 5.0.0-beta,how to solve this problem？https://github.com/apache/shardingsphere/issues/2419

[2021-07-29 09:11] trycache0828 commented on #11534
Already using 5.0.0-beta,how to solve this problem？

[2021-07-29 09:26] WuZhiMing2 opened #11572 "shardingSphere-ui question"
In windows ,cmd run code
mvn clean install -Prelease
 report errors
![image](https://user-images.githubusercontent.com/37823425/127467643-fdddc400-2de1-4515-8c28-cc4f6fd49f05.png)

[2021-07-29 09:29] hoorf opened #11573 "why not upgrade build tool to gradle"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
build slow
### Describe t

[2021-07-29 10:21] hoorf commented on #11500
finish fix

[2021-07-29 10:30] menghaoranss opened #11575 "NPE occurred when empty password configured in proxy with governance"
## Bug Report

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
proxy start success
### Actual behavior
NPE occurred
### Reason analyze (If you can)
[code]
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
C

[2021-07-29 10:31] TeslaCN commented on #11573
Building slow is because of tests, using Gradle may not be helpful.
Try executing
[code]

[2021-07-29 10:35] TeslaCN commented on #11572
Your network is not well for `npm install`.

[2021-07-29 10:37] WuZhiMing2 commented on #11572
Can you have image well in China

[2021-07-29 10:50] TeslaCN commented on #11572
@WuZhiMing2 Consider configure a HTTP proxy in Maven settings. The plugin will use the proxy automatically.

[2021-07-29 10:59] WuZhiMing2 commented on #11572
this?
`
        <mirror>
            <id>aliyunmaven</id>
            <mirrorOf>*</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
`

[2021-07-29 11:22] #11575 closed

[2021-07-29 11:43] menghaoranss commented on #11539
${java.home} in maven is  the path of JRE

[2021-07-29 11:45] menghaoranss commented on #11560
Same as #11550

[2021-07-29 11:45] #11560 closed

[2021-07-29 11:47] liuyibo123 opened #11578 "orchestration, updated zookeeper /state/datasources/schema.ds0_salve1 to SET a slave datasource DISABLED"
## Question
I want to use orchestration to  blowout a datasouce, updated zookeeper /state/datasources/schema.ds0_salve1 to SET a slave datasource DISABLED ,but the sql  still execute  to  this datasouce.

[2021-07-29 13:14] tuichenchuxin commented on #11360
@simpleSOA I found that if you replate the word `u` to any other word then is ok.
This is a bug in sql parser.
like `select * from t_user u` can't be parsed well.
We will fix it later.

[2021-07-29 13:15] tuichenchuxin commented on #11360
![image](https://user-images.githubusercontent.com/86938616/127498462-c556fdc2-a59c-4ff4-a151-1d30db2dc7cf.png)
baserule.g4

[2021-07-29 13:18] tuichenchuxin commented on #11429
@JiekerTime I found that, this error is due to the alias word `u`.
Such as `select * from t_user u` can't be paser well.
Replace the word `u` to another word can be ok.

[2021-07-29 13:20] tuichenchuxin commented on #11429
![image](https://user-images.githubusercontent.com/86938616/127499038-110515f0-bbc5-462b-b1d8-b1c6a207fe5c.png)
baseRule.g4 has rule conflict.
We will fix this later.

[2021-07-30 01:18] hoorf commented on #11573
[code]
oook,10 min normal?

[2021-07-30 01:47] lalalayyy commented on #1989
1、exception:
![image](https://user-images.githubusercontent.com/45991555/127587426-8cfebd18-5267-4ae7-b49c-eb06c51c8611.png)
2、sharding-jdbc version
        <dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>3.1.0</version>
        </dependency>
3、sql如1图中所示，只是一个简单的查询sql。

[2021-07-30 02:13] z7658329 opened #11579 "数据分片后，如果优雅扩容"
比如我现在按照用户ID分10个库，未来业务量激增，需要分128个库，如何优雅扩容？

[2021-07-30 02:52] songyuequan commented on #10970
please assign it to me

[2021-07-30 03:19] kuantuna opened #11580 "Unnecessary code coverage report production on GHA"
### What is the problem?
As stated in the [ci.yml](https://github.com/apache/shardingsphere/blob/master/.github/workflows/ci.yml) file, _**JaCoCo**_ and **_Cobertura_** code coverage reports are generated while the project is being built. However, since these generated reports are not saved anywhere, they are automatically deleted when the GHA instance finishes the run. This leads to unnecessary w

[2021-07-30 03:26] strongduanmu commented on #10970
@songyuequan Welcome.

[2021-07-30 04:17] yx9o opened #11581 "optimization Hard-coded string"
Hi, I found the following database type values such as: `"H2", "MySQL", "PostgreSQL", "Oracle", "SQLServer", "SQL92"` There are hard-coded strings in a large number of classes (test Except for classes).

Although these values will not be changed or incorrectly written, I still think it is better to use enumerations to replace strings, which is easier to manage and maintain.

Welcome to leave a com

[2021-07-30 05:07] yx9o commented on #11579
Hi @z7658329  , for English only, please modify the issue title and content. thanks

[2021-07-30 05:15] mazhai commented on #11550
I found that when I connected to Alibaba RDS
class MySQLPrivilegeHandler
[code]
hasPrivilege property is always false
becase `resultSet.getBoolean()` methods always false

But there is no such problem when using mysql

[2021-07-30 05:46] menghaoranss commented on #11579
@z7658329 Please refer to [ShardingSphere Scaling](https://shardingsphere.apache.org/document/current/en/features/scaling/) , For English only, look forward to your next feedback.

[2021-07-30 05:46] #11579 closed

[2021-07-30 06:20] menghaoranss commented on #11491
fixed by #11508

[2021-07-30 06:20] #11491 closed

[2021-07-30 07:18] LeeGuoPing commented on #10868
I have finished it @strongduanmu

[2021-07-30 07:34] strongduanmu commented on #10868
@LeeGuoPing Thank you for your effort, I will review this pr.

[2021-07-30 08:25] strongduanmu commented on #10996
When using encrypt, update `t_encrypt` table and find that the FederateSchemaMetadata data is maintained incorrectly, and the real metadata should be loaded.

![image](https://user-images.githubusercontent.com/10829171/127624139-53a708cb-067d-4d20-a04f-0dbcc3c2d9fd.png)

[2021-07-30 08:25] jianliu opened #11583 "transaction statement commit error while using shared thread pool and local transaction manager"
## Bug Report

I found a concurrency issues when exeucte transaction statement sqls.
here is my sql statemtns(MySQL)
[code]
the client create 200 connections to the proxy and concurrently execute this transaction statements to get the TPS data

As above，here is 4 statements
the first is a begin statement and the LocalTransactionManager will add connectionPostProcessors to invoke the real connectio

[2021-07-30 08:36] jianliu commented on #11583
I`d like to fix this,and I have test it

[2021-07-30 09:49] strongduanmu commented on #11536
@trycache0828 I can't reproduce this problem, and from the information you provided, logic sql is a wrong sql, please check whether hibernate generates wrong logic sql.

[2021-07-30 09:56] sgc109 commented on #2245
For anyone who comes to this issue, this might help! https://stackoverflow.com/a/46812593/4773879

[2021-07-30 09:59] menghaoranss commented on #11578
@liuyibo123 which version did you use?

[2021-07-30 10:07] ccMoriarty commented on #11392
I has similar question in ss-proxy (5.0.0 beta)

my dataSource like  'db_YYYYMM',   table like 'tb_dd'

in mysql , there are  'db_202107.tb_01'  and  'db_202108.tb_01'

when i start ss-proxy it tells me   'Single table conflict, there are multiple tables `tb_01` existed'.

i want to shard by time , just like "2021-07-01 15:47:32"  to  `db_202107`.`tb_01`,   "2021-08-01 15:47:32"  to  db_202107`.`t

[2021-07-30 10:14] ccMoriarty commented on #11392
why not use  'db.tb'  as  singleTableName ?

[2021-07-30 10:19] sgc109 opened #11588 "Explanation about %SHARDINGSPHERE_PROXY_HOME% in Docs"
In [documentation for shardingsphere proxy](https://shardingsphere.apache.org/document/current/en/quick-start/shardingsphere-proxy-quick-start/), it says as follows

However, it is not clear for what **"shardingsphere proxy extract path"** means.
I just guessed that %SHARDINGSPHERE_PROXY_HOME% is `shardingsphere/shardingsphere-distribution/shardingsphere-proxy-distribution/src/main/resources` beca

[2021-07-30 10:30] liuyibo123 commented on #11578
4.1.1

[2021-07-30 11:07] TeslaCN opened #11589 "SQL in BenchmarkSQL was not rewrote in subquery"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Rewrite logic table `bmsql_oorder` to actual table.

### Actual behavior
The logic table `bmsql_oorder` in subquery was not rewrote.

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQ

[2021-07-30 13:06] menghaoranss commented on #11588
`shardingsphere proxy extract path` is based on ShardingSphere's binary package，would you like to explain with a PR?

[2021-07-30 19:29] sgc109 commented on #11588
How can I get ShardingSphere's binary package?

[2021-07-31 10:41] mghio commented on #234
未来医生 https://www.xingren.com

[2021-07-31 12:09] #11493 closed

[2021-07-31 12:41] tristaZero commented on #234
@mghio Thanks for your feedback. ;-)

[2021-07-31 12:45] tristaZero commented on #11392
Hi @ccMoriarty

That way, it's suggested to configure a sharding table for both actual tables sharing the same name.

[2021-07-31 12:47] tristaZero commented on #9893
Sorry, looks like I delayed your progress. Please consider fixing it. Any questions, please ping me. ;-) @MingxingLAI

[2021-07-31 12:48] tristaZero commented on #10054
@taojintianxia So any updates?

[2021-07-31 12:51] tristaZero commented on #650
@trycache0828 I saw your post. If possible, could you consider checking whether it still exists on the master branch and fixing it? Therefore what you wrote will become a valuable part of this community. Look forwards to your PR and reply. Have a nice day.

[2021-07-31 12:55] #11518 closed

[2021-08-01 07:14] spilledyear opened #11593 "Sharding-proxy may have problems in local transaction scenarios"
Scene description:
1. Same DB and sub-table
2. Set the value of maxConnectionsSizePerQuery greater than 1
3. Assuming that a logical SQL will be split into two physical SQLs, in the scenario where maxConnectionsSizePerQuery is greater than 1, two database connections will be created at this time. Two physical SQLs will eventually be executed in two database connections
4. Assuming that there is a

[2021-08-02 02:13] strongduanmu commented on #11589
@TeslaCN Hi, how can I reproduce this problem?

[2021-08-02 02:40] JiekerTime commented on #11429
Well, the parsing was correct when I was operating the native database, so I think it might be a bug and we'll fix it right?

[2021-08-02 02:45] tuichenchuxin commented on #11429
@JiekerTime Yes, it's a bug, we'll fix it later.

[2021-08-02 02:49] JiekerTime commented on #11429
Okay, looking forward to your good news.

[2021-08-02 03:24] TeslaCN commented on #11589
Proxy log
[code]

[2021-08-02 03:35] TeslaCN commented on #11573
What's your CPU？
My i7-8700 in Linux took about 6 minutes to install.
Apple M1 took about 7 minutes.

[2021-08-02 06:58] fwhdzh commented on #11030
Hello, I want to try this issue.

[2021-08-02 07:05] #11536 closed

[2021-08-02 07:16] strongduanmu commented on #10996
When I tested the read-write separation scenario and configured multiple data, the metadata was incorrectly loaded during single table refresh.

[code]

The `routeDataSourceNames` parameter passes the logical data source name, and `materials.getDataSourceMap()` returns the real data source name in the configuration file, so you need to convert routeDataSourceNames to the real data source name, oth

[2021-08-02 07:37] JiekerTime opened #11599 "Significant speed difference between executeUpdate and execute"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/127821874-2afd3fd0-bcb2-4f88-bf37-d23e8e180957.png)

### Actual behavior
The test fails unless I add the following logic：
![image](https://user-images.

[2021-08-02 08:33] yempty007 commented on #11364
localDateTime is following ISO-8601 formats, such as `2007-12-03T10:15:30`.
@zjcnb But when i set datetime-pattern `yyyy-MM-dd'T'HH:mm:ss.SSS`,
 IntervalShardingAlgorithm.dateTimePatternLength value is 25,it make IntervalShardingAlgorithm.parseDateTime dateString.substring() exception.

[2021-08-02 09:17] strongduanmu commented on #11030
@fwhdzh Welcome to join SS community.

[2021-08-02 09:43] hoorf commented on #11573
i5-8400 also need 10 min,maven did  no cache build

[2021-08-02 09:45] zjcnb commented on #11364
It seems that the ISO-8601 format is not supported,  you can try to implement the StandardShardingAlgorithm interface to meet your business needs.

[2021-08-02 09:54] TeslaCN opened #11602 "SQL join binding tables route to unnecessary data source"
## Bug Report

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior
SQL is routed to ds_3 only.

### Actual behavior

[code]

[code]

The `c_w_id` is a sharding column and the value is specified `23`. `23 & 3 = 3`, I think this SQL should be routed to ds_3 only.

### Reason analyze (If you ca

[2021-08-02 09:59] lanchengx opened #11603 "Add distSQL syntax:'show sharding algorithms'."
Hi community,

When I used distSQL, I found that there was no way to query all the sharding algorithms.

Therefore, I consider Add distSQL syntax: "show sharding algorithms "

exmaple:

[code]

[2021-08-02 09:59] yempty007 commented on #11364
:) Thank you for your reply. I'm did that.

[2021-08-02 10:02] xueshiji commented on #11436
@qbmiller @tuichenchuxin 9 tables but 10 minutes![QQ截图20210802180010.png](https://user-images.githubusercontent.com/32958628/127843991-3f7f73d9-4917-49ae-a98f-bf79299c078d.png)

[2021-08-02 10:33] TeslaCN commented on #11589
I followed the code and found the subquery was not identified.
![image](https://user-images.githubusercontent.com/20503072/127848187-462628c0-c448-4e1f-ba53-3bc91d27bc35.png)

[2021-08-02 11:56] TeslaCN commented on #11589
I tried fixing this issue by the following commit
https://github.com/TeslaCN/shardingsphere/commit/9d628919ce6c4093b15fb0e708807154242fe9df
If the subquery is recognized correctly, the query will be executed by calcite and something like #10760 will occur. Even if the calcite's issue was fixed, the cost of this query will be increased.

[2021-08-02 12:02] #11500 closed

[2021-08-03 01:36] 449085052 commented on #11364
yeah，i implement the StandardShardingAlgorithm interface，and solve my problem. thank you @zjcnb

[2021-08-03 01:36] #11364 closed

[2021-08-03 02:12] AnswerNo2 commented on #3378
jdk 1.8 can use, but when jdk is 11, will be a error like  this issure

[2021-08-03 02:55] JiekerTime opened #11611 "Atomikos may cause too many connections"
The problem occurred with integration testing, which could not be resolved due to limited capabilities.

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### behavior
![image](https://user-images.githubusercontent.com/76552510/127949473-af3c8087-b0f8-4811-a2be-bc80e14fc467.png)

###

[2021-08-03 03:31] #11484 closed

[2021-08-03 03:40] hoorf commented on #11611
improve the pgsql config `max_connections` may work in short time

[2021-08-03 06:17] lanchengx opened #11612 "Incorrect distSQL prompt not friendly enough"
Hi community,
When I execute an incorrect distSQL,
such as:
[code]
 it is a friendlier way to prompt for `syntax errors` instead of `Unknown exception: [null]`

[2021-08-03 06:34] GeekerG2Y opened #11613 "加入ShardingSphere后查询数据库时会有字段无法查询到数值（去除ShardingSphere后正常）"
当前使用Spring Boot 2.0.6、MyBatis-Plus 3.4.3、ShardingSphere-JDBC 4.1.1。
首先，在未整合ShardingSphere时是完全正常无问题的！
在执行下图的SQL语句后（该表没有使用分片键），红框中的main_category_name字段查询不出来。
![1627971390(1)](https://user-images.githubusercontent.com/35280133/127967095-066fd1c3-b198-4c52-8055-b05447abdae7.png)
下图是控制台打印的SQL日志，可以看到SQL语句中是有该字段的，但查询出的结果集中service_score字段后面就没有main_category_name字段了。
![1627971949(1)](https://user-images.git

[2021-08-03 07:16] zjcnb opened #11614 "Sharding-jdbc and"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-08-03 07:16] #11614 closed

[2021-08-03 07:28] tuichenchuxin opened #11615 "Add default sharding column"
## Feature Request

### Is your feature request related to a problem?
No, the purpose is to simplify the configuration.
### Describe the feature you would like.
#### Background
`StandardShardingStrategy` has property `shardingColumn`.
This sharding column must be set in configuration file. But when i have many tables need same sharding column, I have to configure it many times.
So , may be add `de

[2021-08-03 08:18] strongduanmu commented on #11602
@TeslaCN The sharding rules of the bound table need to be completely consistent, so we need to use the same sharding column.

[2021-08-03 09:02] strongduanmu commented on #11602
In order to improve the user experience, we will optimize this scenario.

[2021-08-03 09:12] loseyourselfWell opened #11616 "can not support pageHelper with group by?"
## Question

i use pageHelper count pageSize,my sql use group by at last.

exception :

### SQL: SELECT count(0) FROM (SELECT `user_wid` FROM t_scrm_call_record_statistics WHERE is_delete = 0 AND device_type != 0 AND pid = ? AND statistics_date >= ? AND statistics_date <= ? AND user_wid IN (?) GROUP BY user_wid) table_count
### Cause: java.lang.IllegalStateException: Must have sharding column with

[2021-08-03 09:24] metayx commented on #9544
@

Same question, please, did you solve it?

[2021-08-03 09:25] metayx commented on #9544
@beichengjjh Same question, please, did you solve it?

[2021-08-03 09:26] TeslaCN commented on #11602
@strongduanmu Thanks!

[2021-08-03 09:34] metayx opened #11617 "java jdbc rs.getString(i) or rs.getTimestamp(i) fail"
**apache-shardingsphere-5.0.0-RC1-SNAPSHOT**

![image](https://user-images.githubusercontent.com/16127829/127992595-716c4c33-9f5b-4ce1-9311-77db5536732b.png)

using jdbc mysql-connector-java 8.0.13。
ResultSet rs;
canot using rs.getString(i) or rs.getTimestamp(i)

![image](https://user-images.githubusercontent.com/16127829/127992671-d65c71de-f46c-4f2e-9ce9-954f967b9355.png)

[2021-08-03 09:49] #11048 closed

[2021-08-03 10:11] TeslaCN commented on #11539
Maybe we can update javadoc plugin to remove the `javadocExecutable`.
Refer to https://github.com/apache/shardingsphere-elasticjob/pull/1949

[2021-08-03 10:34] JiekerTime commented on #11611
This really can run through, but I don't think this approach can solve the problem at the root because the number of connections is growing exponentially.

[2021-08-03 11:50] zjcnb opened #11621 "ShardingSphere-jdbc configuration add schema name"
Hi,

   ShardingSphere-jdbc configuration add schema name

## shardingsphere-jdbc-core

- [x] yml config add schemaName:
[code]

- [x] properties config add schemaName:
[code]

- [x] namespace xml add schemaName

[code]

## shardingsphere-jdbc-governance

- [x] yml config add schemaName:
[code]

- [x] properties config add schemaName:
[code]

- [x] namespace xml add schemaName:
[code]

## Remove g

[2021-08-03 12:38] chengh1 opened #11623 "Insert statements with expressions should not be routed to all datanodes"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-03 12:40] chengh1 commented on #11623
I'd like to fix it.

[2021-08-03 14:46] strongduanmu commented on #11613
@GeekerG2Y For english only, other language will not accept.

[2021-08-03 14:46] #11613 closed

[2021-08-03 14:47] strongduanmu commented on #11623
@chengh1 Thank you for your feedback, and you are welcome to submit a PR.

[2021-08-03 17:02] terrymanu commented on #10996
Please pending this issue.
The rule builder Distributed RuleBuilder and Enhanced RuleBuilder is not for schemaRuleBuilder only.
GlobalRuleBuilder still has Distributed and Enhanced abilities.
The current modification make confuse and add lots of extra interface of builder.
It is better to redesign the domain concepts.

[2021-08-04 01:38] hoorf commented on #11539
i try it

[2021-08-04 01:50] dachuan9e commented on #11573
Please have a try build with '-T' like '-T4C'

[2021-08-04 03:17] #11602 closed

[2021-08-04 03:40] Lacxner opened #11631 "use SQL “Selecct * From...” but result only has part field,not all"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-04 04:22] yx9o commented on #10980
Fixed in #11292.

[2021-08-04 04:35] juzi214032 commented on #9695
是 4.1.1 有 bug，用不了hint策略吗

[2021-08-04 06:17] #10980 closed

[2021-08-04 06:23] RaigorJiang commented on #11264
Hi @longtai94, can this issue be closed now?

[2021-08-04 07:20] RaigorJiang opened #11634 "RuleDefinitionAlterUpdater param order error."
1. In the previous PR #11151, `RDLAlterUpdater` defines the interface
[code]
But when `RDLBackendHandler` calls this interface, the order of the parameters is wrong.
[code]

2. At the same time, the method `AlterShardingTableRuleStatementUpdater#dropRuleConfiguration`
has also been modified incorrectly.
[code]
The line
[code]
should be:
[code]

[2021-08-04 07:59] #11539 closed

[2021-08-04 08:28] RaigorJiang commented on #11612
Please assign to me, thanks.

[2021-08-04 08:39] menghaoranss commented on #11304
Completed.

[2021-08-04 08:39] #11304 closed

[2021-08-04 08:40] menghaoranss commented on #11444
Completed.

[2021-08-04 08:40] #11444 closed

[2021-08-04 09:19] zengqi826 commented on #8299
I suggest updating this to the shardingsphere's website。 https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/

[2021-08-04 10:26] lanchengx opened #11643 "Custom pool properties are lost when restarted in governance mode"
Hi guys,
when l use distSQL to add resource with custom pool properties , just like this
[code]

However , the custom pool properties are lost on restart;

[2021-08-04 11:01] YollinChan opened #11645 "shardingsphere executing sql that included subQuery and “order by alias.field” will throw a "IllegalStateException""
for example，sql like: "SELECT  s.id from (select id from table_a where id >= 0  limit 0,1000) as s order by s.id desc;" will encounter a "IllegalStateException".

but sql like "SELECT  s.id from (select id from table_a where id >= 0  limit 0,1000) as s order by id desc;" can execute normally

[2021-08-04 11:03] YollinChan commented on #11645
exception message is "Can not find owner from table."

[2021-08-04 11:08] menghaoranss commented on #11643
which version did you use?

[2021-08-04 11:27] menghaoranss commented on #11550
ShardingSphere load all privileges from actual database, so please check the user privileges in RDS.

[2021-08-04 13:00] Ikki-Dai opened #11647 "destroyed binary version"
## Bug Report

can fix binary version issue in **apache archive repository**, some lib file are destroyed, file name ending with error name,

after uncompress, can't boostrap correct!

[code]

such as
https://archive.apache.org/dist/shardingsphere/4.1.1/apache-shardingsphere-4.1.1-sharding-proxy-bin.tar.gz

[2021-08-04 13:49] mrtangsong opened #11648 "Is there an excessive consumption of memory by the static variable SCRIPTS in the InlineExpressionParser class?"
There have been two memory overflows in the app in recent days, as follows:
![image](https://user-images.githubusercontent.com/50349405/128191160-e3d31a9a-9cb6-4078-ab94-f9c7513256a3.png)
After the dump analysis, it is found that the static variable SCRIPTS under the Inline ExpressionParser class takes up a large amount of memory, as follows:
![image](https://user-images.githubusercontent.com/5034

[2021-08-04 14:05] Lacxner opened #11650 "ShardingSphere Bean is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying)"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-04 14:15] lanchengx commented on #11643
sry, please assign to me ,thanks

[2021-08-04 14:30] #11647 closed

[2021-08-04 16:35] Swastyy commented on #10982
@tristaZero @strongduanmu Pl assign this to me.

[2021-08-05 01:29] strongduanmu commented on #10982
@Swastyy Assigned.

[2021-08-05 01:35] strongduanmu commented on #11645
Duplicate with issue #10257. You can try `5.0.0-beta` version.

[2021-08-05 01:35] #11645 closed

[2021-08-05 02:49] #11648 closed

[2021-08-05 03:19] changming8 commented on #11474
It's OK to replace with a higher version of PG driver. Proxy is incompatible with postgresql-9. X driver

[2021-08-05 03:19] #11474 closed

[2021-08-05 03:43] menghaoranss commented on #11578
@liuyibo123 could you try with version `5.0.0-beta` again?

[2021-08-05 04:07] zjcnb commented on #11621
example for yml:

`schemaName: logic_db

rules:
- !SHARDING
  tables:
    t_order:
      actualDataNodes: jdbc_${0..1}.t_order_${0..1}
    t_order_item:
      actualDataNodes: jdbc_${0..1}.t_order_item_${0..1}
      keyGenerateStrategy:
        column: item_id
        keyGeneratorName: increment
    t_config:
      actualDataNodes: jdbc_${0..1}.t_config
    t_user:
      actualDataNodes: jdbc_0.t_

[2021-08-05 06:29] strongduanmu commented on #10996
After a discussion, we decided to revert the `DistributedSchemaRuleBuilder` and `EnhancedSchemaRuleBuilder` SPI interfaces, and add the `DistributedRuleConfiguration` and `EnhancedRuleConfiguration` interfaces to distinguish different types of rules and determining the load order of the rules.

At the same time, there is a conflict between the implementation of `SingleTableRule` and the pluggable

[2021-08-05 07:09] mazhai commented on #11550
@menghaoranss
Now the user has advanced permissions in RDS, but the program does not get them. In version 4, this was not an issue

![image](https://user-images.githubusercontent.com/5811436/128306514-e79fc410-a46c-44e5-8423-18dd7ef032b6.png)
![image](https://user-images.githubusercontent.com/5811436/128306582-128fd038-9f3a-4a8c-9f4e-c77e413cb77a.png)
![image](https://user-images.githubusercontent

[2021-08-05 07:31] mazhai commented on #11550
![image](https://user-images.githubusercontent.com/5811436/128309972-225d1274-ea92-4979-a0c4-d3de1bc5677a.png)

I see this method takes the user from server.yaml, shouldn't it use the user from config-sharding. Yaml? Yaml and config-sharding.yaml must have the same user name?

[2021-08-05 07:54] tuichenchuxin opened #11658 "Load metadata,ShardingTableMetaDataBuilder#parallelLoadTables performance waste."
## Feature Request

### Is your feature request related to a problem?
not a problem, but a little performance waste about
### Describe the feature you would like.
sharding config, when i make `check-table-metadata-enabled: true`
then it'll go through `TableMetaDataBuilder#parallelLoadTables`
Then i found tableFutureMap will throw away some future, which is already load table.
If I want to check wh

[2021-08-05 08:10] CheerwayRen commented on #11467
There happens to be a problem here. Why are the table having queries that do not use sharding tables also intercepted and can not get the correct results

[2021-08-05 08:11] CheerwayRen commented on #11467
There happens to be a problem here. Why are the table having queries that do not use sharding tables also intercepted and can not get the correct results

[2021-08-05 08:19] #10692 closed

[2021-08-05 08:35] soulasuna opened #11661 "Refactoring plan of the shardingsphere-shadow project"
Hi,community:

I am very happy to bring you the refactoring plan of theshardingsphere-shadow  project. @terrymanu @tristaZero @wu-sheng

Combining the characteristics of the shardingsphere-shadow project's own functions and the configuration style of other functions of the shardingsphere.Make changes to the user API configuration.

In the future, shardingsphere-shadow will become an important part

[2021-08-05 08:36] tristaZero commented on #11661
@wu-sheng Hi, a huge progress.

[2021-08-05 08:52] tuichenchuxin commented on #11658
I found `MetaDataContextsBuilder#buildSchema` has useless line.
![image](https://user-images.githubusercontent.com/86938616/128321202-eb1dfbdc-2f5d-46eb-bb9c-f13010c400f5.png)

[2021-08-05 08:53] bai1986 opened #11662 "Chinese character garbled"
The scenario is as follows：
    MySQL character set is configured as follows：
              character_set_server = gbk
    my tables character set is DEFAULT CHARSET=gbk
   The ss-proxy version is apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-proxy-bin

When PHP connects directly to MySQL, Chinese characters are displayed normally，However, when PHP connects to the ss-proxy and the proxy

[2021-08-05 09:04] taojintianxia commented on #11662
following is the key part of the test application, written in PHP

[code]

[2021-08-05 09:36] RaigorJiang commented on #11662
Hi @bai1986
Can you config the property `sql-show` to `true`, and observe if there is a statement like `SET NAMES xxx COLLATE xxx` in proxy log?

[2021-08-05 09:42] RaigorJiang commented on #11662
On the other hand, you can try to configure more JDBC parameters, such as
`&character_set_server= gbk&connectionCollation=gbk_bin`

example:
[code]

[2021-08-05 09:46] trycache0828 commented on #650
This problem has been solved in the latest version 5.0.0-beta,but the 4.1.1 version I use  in my project.I just provide a solution. there may be a better solution in version 4.1.1 to fix it.

[2021-08-05 09:46] trycache0828 commented on #650
This problem has been solved in the latest version 5.0.0-beta,but the 4.1.1 version I use in my project.I just provide a solution. there may be a better solution in version 4.1.1 to fix it.

[2021-08-05 10:09] wu-sheng commented on #11661
Hi, thanks for updating.
The term of this feature in native speaking should be `Synthetic monitoring`. SkyWalking is tracking through https://github.com/apache/skywalking/issues/6932.

FYI @mrproliu as you asked about this.

[2021-08-05 10:11] wu-sheng commented on #11661
@soulasuna Is `note-algorithm`meaning the API level rule? Which SkyWalking agent could inject?

[2021-08-05 10:12] strongduanmu commented on #11631
@GeekerG2Y Thank you for your feedback, can you try the master branch? I think this bug has been fixed on the master branch.

[2021-08-05 10:13] wu-sheng commented on #11661
@tristaZero We should have a resolution where we should land the final status of this huge across-TLPs integration.
Such as which repo we should land? Because after the core level changes, we need to have a deep integration, and a separate documentation site.

[2021-08-05 10:24] soulasuna commented on #11661
@wu-sheng The API shown now only uses the configuration method of ShardingSphere.
The routing algorithm will support SQL annotations.

[2021-08-05 11:07] ezio7584 opened #11664 "Insert the execution prompt data too long for column, why not throw an exception"
Execute the statement exception in the database, but no exception is thrown in the program

language: java
shardingsphere-jdbc-core-spring-boot-starter: 5.0.0-beta
mysql:5.7

[2021-08-05 12:44] wu-sheng commented on #11661
Are you going to use the SkyWalking v3 standard header in the SQL comments?

[2021-08-05 14:54] strongduanmu commented on #11437
Using the master branch to execute, the following error will appear:

[code]

[2021-08-05 15:07] terrymanu opened #11669 "Make governance from independent config to plugged rules"
Governance module is the main feature of the product for now.
I just consider about refactor it to plugged features by the plugged architecture.

The tasks are:

- [x] Proxy YAML configuration change

The current YAML configuration for proxy is:

[code]

It should be changed to:

[code]

- [ ] JDBC YAML configuration change
- [ ] JDBC java API change
- [ ] JDBC spring namespace change
- [ ] JDBC s

[2021-08-05 15:44] strongduanmu commented on #11437
According to the [calcite official documentation](https://calcite.apache.org/docs/reference.html), the JDBC function needs to be escaped before it can be executed. We need to rewrite the SQL to the following format:
[code]

[2021-08-06 01:55] bai1986 opened #11671 "ERROR 1815 (HY000): Internal error"
When I execute the following SQL in the apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-proxy-bin, the following error is reported：
    select product_id, apply_id from coupon_activity_map     inner join coupon_products_map  on coupon_activity_map.coupon_apply_id = coupon_products_map.apply_id             where product_id in (1900080401,100022,20468821) and coupon_activity_map.activity_end

[2021-08-06 01:58] taojintianxia commented on #11671
hi , there . would you please paste your proxy configuration here ?

[2021-08-06 02:06] bai1986 commented on #11671
config-sharding.yaml
schemaName: ProductDB

dataSources:
  ds_0:
    url: jdbc:mysql://127.0.0.1:3306/ProductDB00?serverTimezone=Asia/Shanghai&useSSL=false&characterEncoding=GBK&character_set_server= gbk&connectionCollation=gbk_bin
    username: shardingsphere
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    m

[2021-08-06 02:43] Superainbower commented on #11437
i got error log when use  {fn IFNULL(SUM(cnt), 0)}
- Function '{fn ifnull}' is not defined

[2021-08-06 02:46] strongduanmu commented on #11437
@Superainbower What is your error log? BTW, you doesn't need to rewrite sql by yourself, ss will do it.

[2021-08-06 02:47] strongduanmu commented on #11671
@bai1986 Thank you for your feedback, tis issue is duplicated with #10760. And we will fix it later.

[2021-08-06 02:54] #11671 closed

[2021-08-06 03:24] Ikki-Dai commented on #9914
I met the same issue but not clear what's wrong, just copy the configuration from the doc

[2021-08-06 03:59] RaigorJiang opened #11677 "Refactoring of SCTL"
Hi community,

Currently, the [SCTL](https://shardingsphere.apache.org/document/current/en/features/dist-sql/syntax/sctl/sctl/) syntax is identified by the pre-keyword'sctl:', and special processing is required in the SQL parsing process, which also makes SCTL statements not like SQL statements.

Now we consider the refactoring of SCTL, which mainly includes two aspects:
1. Remove the pre-keyword

[2021-08-06 06:08] RaigorJiang commented on #11662
Hi @bai1986 ,
Is there any progress?

[2021-08-06 06:23] bai1986 commented on #11662
hi：
   According to your guidance, the configuration file has been modified, and the Chinese garbled code problem still exists. Later, we can adjust the page code to solve it. So let's ignore this problem for the time being and carry out the next test. If you have any suggestions, I'll test it further

jdbc:mysql://127.0.0.1:3306/ProductDB05?serverTimezone=Asia/Shanghai&useSSL=false&characterEncod

[2021-08-06 06:58] baimeng1758354676 commented on #4179
i have the same question

[2021-08-06 07:00] baimeng1758354676 commented on #4179
i got  the same questions,so  this will cause memory leak?

[2021-08-06 07:02] RaigorJiang commented on #11662
OK, Thanks for your feedback.

[2021-08-06 07:37] #11270 closed

[2021-08-06 07:50] strongduanmu commented on #11534
Duplicate with #10832.

[2021-08-06 09:18] terrymanu commented on #11621
The `schemaName` is important concept in proxy and JDBC.
There is 1st line to config `schemaName` in proxy's YAML.
So how about adjust the new parameter `schemaName` to the 1st parameter of the new constructor?

[2021-08-06 09:19] tuichenchuxin opened #11683 "Optimize code readability about MetaDataContextsBuilder#build method."
## Feature Request

### Is your feature request related to a problem?
No, just optimize code readability.
### Describe the feature you would like.
In build method
```Map<TableMetaData, TableMetaData> tableMetaData = SchemaBuilder.build(new SchemaBuilderMaterials(databaseType, dataSourceMap, rules, props));```
SchemaBuilder build a map with same key and value. The value is decorated by the key unde

[2021-08-06 10:13] strongduanmu commented on #10996
When I use the encrypt feature alone and configure multiple data sources, refresh the metadata after executing create table statement, there is a certain probability that it will fail. When Encrypt loads metadata, it always selects the first data source, which results in that metadata cannot be loaded when distributed to other data sources.

[code]

[2021-08-06 11:09] menghaoranss commented on #11424
Refactor by #11642

[2021-08-06 11:09] #11424 closed

[2021-08-06 11:21] #11282 closed

[2021-08-06 11:23] soulasuna commented on #11282
Refactor shadow. see #11661

[2021-08-06 12:21] soulasuna opened #11687 "Add unit test for shardingsphere-shadow-core"
Hi community,

This issue is for #11661

## Aim
Add unit test for shardingsphere-shadow-core project to test its public functions.

## Basic Qualifications
- Java
- Maven
- Junit.Test

## Classes
Add unit test for classes to test its public functions.

- [ ] ShadowDataSourceConfigurationYamlSwapper
- [ ] ShadowTableConfigurationYamlSwapper
- [ ] ShadowRuleAlgorithmProviderConfigurationYamlSwapper

[2021-08-06 12:35] WtlKoma commented on #11687
I want do this.

[2021-08-06 12:40] strongduanmu commented on #11687
@WtlKoma Welcome.

[2021-08-06 15:46] cheese8 opened #11689 "[enhancement]how about add context parameters on encrypt and decrypt method"
## Feature Request

**For English only**, other languages will not accept.

### Describe the feature you would like.
We need different key on each table/column to encrypt and decrypt with, how about add content parameters as below code, for example: logicTable, logicColumn etc?

`/**
 * Encryptor.
 */
public interface Encryptor extends TypeBasedSPI {

    /**
     * Initialize.
     */
    void in

[2021-08-07 05:38] Cristiano-Xiao-Ming commented on #2656
any solution？The problem still exists

[2021-08-07 14:11] threeMonthee commented on #8299
I config common datasource in springboot 2.5.2,  But it's still `No value bound ` why?

[2021-08-07 14:25] tristaZero commented on #2656
Hi guys,
Could anyone try [server.yaml](https://github.com/apache/shardingsphere/blob/4.1.1/sharding-proxy/sharding-proxy-bootstrap/src/main/resources/conf/server.yaml) if you are using 4.1.1, whereas, [server.yaml](https://github.com/apache/shardingsphere/blob/5.0.0-beta/examples/shardingsphere-proxy-example/shardingsphere-proxy-boot-mybatis-example/src/main/resources/conf/server.yaml) for 5.0.0-

[2021-08-07 16:09] terrymanu commented on #11621
Another suggestion, could we consider about merge the `schemaName` into MetaDataContexts in `ShardingSphereDataSource` and `GovernanceShardingSphereDataSource`?

The `schemaName` often uses in the kernel process in future.

[2021-08-08 02:53] #11612 closed

[2021-08-08 03:06] terrymanu opened #11698 "The implement of GovernanceMetaDataContexts.renew(SchemaAddedEvent) is not correct"
Because of thread safe and performance reason,
the design of GovernanceMetaDataContexts is using `new StandardMetaDataContexts` to instead of original one.

The method `GovernanceMetaDataContexts.renew(SchemaAddedEvent)` is modify the  original StandardMetaDataContexts, which is not correct, please fix it.

[2021-08-08 03:22] menghaoranss commented on #11698
I'll follow up.

[2021-08-08 04:03] zjcnb commented on #11621
Yes, i think so!

[2021-08-08 04:47] terrymanu commented on #11621
It is better to rename the `schemaName` to `currentSchemaName`, because the method `MetaDataContexts.getAllSchemaNames()` if for all schema name.

In the other words, `MetaDataContexts.getAllSchemaNames()` just like SQL `show databases`, `MetaDataContexts.getCurrentSchemaNames()` just like SQL `select database()`,

[2021-08-08 05:16] terrymanu opened #11701 "Clear the code logic for GovernanceMetaDataContexts.renew(SchemaDeletedEvent)"
The method `GovernanceMetaDataContexts.renew(SchemaDeletedEvent)` is trigger by schema node removing from reg center.
But in the code line 154, it delete again.
I find the code first add in commit `edab3cbdd469119aaae7415838e72eeca074ccf3`, please double check the logic here.

[2021-08-08 05:25] terrymanu commented on #11621
Sorry, I think it carefully, the `schemaName` is for connection scope, but the class `MetaDataContexts` is for instance scope.
One instance can include multiple current schemas which hold user connections.
So, keep `schemaName` on DataSource scope with JDBC is fine for now, but in the future, it is better to move it to Connection.

[2021-08-08 05:39] zjcnb commented on #11621
Yes i will continue to finish it.

[2021-08-08 13:23] vince7839 opened #11704 "github CI always fail"
github action CI  always failed since 8.7 as same reason
CI error log:
Error: -08 11:00:45.044 [GeneralDMLIT-ShardingSphere-Proxy] : [ERROR] 2021-08-08 11:00:44.859 [main-SendThread()] o.a.z.client.StaticHostProvider - Unable to resolve address: zk:2181
IT error log:
no suitable method found for createDataSource(java.util.Map<java.lang.String,javax.sql.DataSource>,java.util.Set<org.apache.sharding

[2021-08-08 16:30] #11704 closed

[2021-08-08 17:17] terrymanu opened #11709 "Consider about redesign DistMetaDataPersistRule and governance module"
The governance module is depend on DistMetaDataPersistRule which is the kernel rule.
The relationship of DistMetaDataPersistRule and governance module are little mess, the current config in YAML is:

[code]

It is conflict If `!DIST_METADATA_PERSIST` and `!GOVERNANCE` in same YAML file, and we need to resolve as `!GOVERNANCE` as high priority and ignore `!DIST_METADATA_PERSIST`.
It is difficult to

[2021-08-09 02:16] terrymanu commented on #11709
Another solution is use running mode to instead of unified rule (PreConditionRule).
There are 3 mode `Memory`, `Standalone` and `Cluster` to map original `None`, `stand-alone` and `cluster` types.

The YAML config is like:

[code]

or

[code]

or

[code]

Which one is your favorite?

[2021-08-09 03:41] cqiwencom opened #11711 "when I send the 'select * from XX for update' statement to the proxy, proxy still sends the statement to the read-only node"
I used shardingsphere-proxy-5.0 to config-readwrite-splitting. When I use this component to separate the reading and writing of the database, the back-end MySQL server is Mgr cluster, with one master and multiple slaves. The problem is: when I send the 'select * from T1 for update' statement to the proxy, proxy still sends the statement to the read-only node, so I can't add the update lock to the

[2021-08-09 04:55] cqiwencom opened #11712 "ShardingSphere-Proxy 5.0.0 return 'No database selected'"
**When i connect to shardingsphere-proxy:**
mysql -uroot -proot -P3307 -h127.0.0.1
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MySQL connection id is 65
Server version: 5.7.33-log-ShardingSphere-Proxy 5.0.0-beta

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.
MySQL [(none)]> *

[2021-08-09 05:21] mazhai opened #11713 "The query result is incorrect"
### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
I have an executed SQL

[code]
`service_attendance_detail` is sharding table

config-sharding.yaml
[code]
I want the result
![image](https://user-images.githubusercontent.com/5811436/128663101-a31bc3a0-8f92-4d48-b41a-50

[2021-08-09 05:38] #11603 closed

[2021-08-09 06:41] strongduanmu commented on #11712
Hi @cqiwencom, thank you for your feedback, and we have implemented this feature in the master branch, and welcome to test.

[2021-08-09 06:53] hoorf commented on #11687
may be unit test will change for `fixme` tags remove

[2021-08-09 07:51] #11643 closed

[2021-08-09 07:53] terrymanu commented on #11669
We need to redesign here, just relate with #11709

[2021-08-09 08:01] menghaoranss commented on #11709
I think the second solution is better. `Persit` and `Governance` are different from `Rule` in ShardingSphere, It's a good idea to merge them.

[2021-08-09 08:04] soulasuna commented on #11687
Thank you very much for reminding. But that is something to be done after all the refactoring is completed.

[2021-08-09 08:19] tuichenchuxin opened #11718 "SchemaBuilder#build performance improvement"
## Feature Request

### Is your feature request related to a problem?
Yes, some users have reported the metadata loading has performance issues.

### Background
Some users reported that the metadata loading performance is poor.
So I analyzed the MetaDataContextBuilder#build method's time-consuming.
First, I have this config
[code]
When proxy start. I got this time-consuming.
[code]
Then, I add 100

[2021-08-09 09:17] strongduanmu opened #11722 "Select statement parse error when include current_date function"
### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

execute select statement success

### Actual behavior

throw exception——`line 1:56 no viable alternative at input '=current_date('`

### Reason analyze (If you can)

[code]

From the following g4 file, we can see t

[2021-08-09 09:20] #11701 closed

[2021-08-09 09:26] Superainbower commented on #11437
The error log is Function '{fn ifnull}' is not defined
I refer to your suggestion, and you said ss will do it, it make me confused

We need to rewrite the SQL to the following format:
SELECT order_id, {fn IFNULL(SUM(cnt), 0)} AS totoal FROM (
	SELECT order_id, user_id, COUNT(1) AS cnt FROM t_order GROUP BY order_id, user_id
) a GROUP BY order_id;

[2021-08-09 09:28] strongduanmu commented on #11722
This is mysql official doc for built-in function——https://dev.mysql.com/doc/refman/8.0/en/built-in-function-reference.html.

[2021-08-09 09:32] yx9o opened #11723 "SchemaPrivilegeBuilder does not support anyotherhost to obtain the schema"
Hi, community, I added a test case for `SchemaPrivilegeBuilder`, and found that the scenario of `when using user1 login from any other host, you can use database test and db_dal_admin` is currently not supported.

`user-schema-mappings: root@localhost=test, user1@127.0.0.1=db_dal_admin, user1@=test, user1@=test1`

[code]

### Which version of ShardingSphere did you use?
master branch

### Expected

[2021-08-09 09:32] yx9o commented on #11723
please assign to me.

[2021-08-09 10:27] #11722 closed

[2021-08-09 10:58] Jenyow opened #11728 "Integrate with mybatis-plus failed to obtain the SQL exception information."
### Which version of ShardingSphere did you use?
* shardingsphere-jdbc-core-spring-boot-starter：5.0.0-beta
* mybatis-plus-boot-starter：3.4.3.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
only use ShardingSphere-JDBC

### Expected behavior
The SQL exception information can be obtained.

### Actual behavior
Failed to obtain the SQL exception information.

### Steps t

[2021-08-09 11:11] chengh1 commented on #11623
Due to my wrong operation, there are multiple commits, I will re-submit pr

[2021-08-09 11:24] RaigorJiang commented on #11728
Hello, for English only, please translate the issue, thank you.

[2021-08-09 11:44] taojintianxia commented on #10054
in my case , there are two way to cause ` Invalid tag` issue

first condition , I use jmh as the tester to get the benchmark of shardingspehre in my IDE, and there is something wrong with the packaging plugin of jmh, the configuration of many SPI lost,  if `org.apache.shardingsphere.sharding.yaml.swapper.ShardingRuleConfigurationYamlSwapper` is not existed in SPI config `org.apache.shardingsphere.

[2021-08-09 11:59] dyplus opened #11732 "Map<String, Integer> dataTypes = DataTypeLoader.load(connection.getMetaData())里面没有json类型"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-08-09 13:17] #11030 closed

[2021-08-09 13:49] menghaoranss opened #11735 "The parameter executionGroupContext not used in ExecuteProcessStrategyEvaluator.evaluate"
## Question

[code]

[2021-08-09 13:50] menghaoranss commented on #11732
@dyplus For English only, please translate the issue title to English first.

[2021-08-09 15:02] terrymanu commented on #11669
I just close this issue because the design is changed

[2021-08-09 15:02] #11669 closed

[2021-08-10 02:29] RaigorJiang commented on #11728
Hi @Jenyow
Thanks for you report,  but you did not provide an exception log, so we cannot determine the cause of the error. Maybe similar to #10138,  you can try the master branch to check it.

[2021-08-10 02:46] menghaoranss commented on #11732
For English only, other languages will not accept.

[2021-08-10 02:46] #11732 closed

[2021-08-10 03:02] Asteven-zn opened #11737 "Configuring read / write separation can create tables and write data normally, but an error is reported after restarting shardingspere"
## Bug Report

**
Configuring read / write separation can create tables and write data normally, but an error is reported after restarting shardingspere. Only the data in the table can be deleted before restarting. Only when there is no table in the library can it be started successfully**.

## error
Starting the ShardingSphere-Proxy ...
The port is 3306
The classpath is /opt/shardingsphere-proxy/

[2021-08-10 05:57] #11397 closed

[2021-08-10 06:29] zjcnb commented on #11621
Hi,

At present, according to the logic of singleTableRule, the DefaultSchema.LOGIC_NAME in A and B does not need to be adjusted for the time being.

DatabaseDiscoverySQLRouter.createRouteContext()
[code]
ReadwriteSplittingSQLRouter.createRouteContext()

[code]

[2021-08-10 06:59] mazhai opened #11739 "use left join or right join and GROUP_CONCAT sql can't execute"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-10 07:45] strongduanmu commented on #11739
@mazhai Thank you for your feedback, i will fix it later.

[2021-08-10 07:53] #11698 closed

[2021-08-10 08:00] strongduanmu opened #11741 "Federate executor engine does not support dialect database function"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute sql success. Following is the sql, `t_order` is a sharding table.
[code]

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to e

[2021-08-10 08:04] strongduanmu commented on #11741
According to the [official documentation](https://calcite.apache.org/docs/reference.html#dialect-specific-operators), the `CONCAT` function is a dialect operation and is not included in standard SQL. We need to enable the fun parameter to support this operation.

[2021-08-10 08:06] menghaoranss commented on #11737
Which version did you use? Could it be reproduced every time?

[2021-08-10 08:43] RaigorJiang commented on #11664
Hi @ezio7584
Can you provide more information, such as exception log？  And there is a similar issue, you can refer to #10138.

[2021-08-10 09:01] xuzhouzhangtongtong opened #11744 "EncryptRule#findEncryptTable method match is case sensitive"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-08-10 09:05] xuzhouzhangtongtong commented on #11744
because mybatis xml sql ， Both upper and lower case of the table name exist

[2021-08-10 09:58] cqiwencom opened #11746 "Proxy can't route 'select ... for update' to the writeable node"
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere-Proxy 5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When executing 'select ... for update' , the select statement should be routed to the writable node.

### Actual behavior
When executing 'select ... for update' , the select statement

[2021-08-10 10:44] wl4g opened #11747 "I can't understand the following GovernanceMetaDataContexts#renew() method. I've received ZK deletion event here. Why do I have to delete it manually?"
Recently, I prepare adding read-write data source failover based on sharingsphere proxy (automatically detect the master-slave information of MySQL group replication and automatically update it to 'xx/metadata/userdb/rules' of zookeeper). I can't understand the following renew method. I've received ZK deletion event here. Why do I have to delete it manually?

https://github.com/apache/shardingsphe

[2021-08-10 10:47] wl4g commented on #11747
Another question is, how do you use 'xx/states/primarynodes' and 'xx/states/datanodes'  ?  I want to use it when adding failover.

[2021-08-10 11:42] menghaoranss commented on #11747
@wl4g Thanks for your feedback，this issue has been fixed in the master branch.

[2021-08-10 11:42] menghaoranss commented on #11747
I will follow up.

[2021-08-10 11:58] #11621 closed

[2021-08-10 12:13] menghaoranss commented on #11747
If data nodes changed, `db_discovery` will post event to `governance`, you can search the following code in `MGRDatabaseDiscoveryType.java`
[code]

[2021-08-10 12:24] #11741 closed

[2021-08-10 13:14] ccMoriarty commented on #9544
![image](https://user-images.githubusercontent.com/35559210/128873148-e22e7a3e-4409-4c0e-8de8-a935059f80bd.png)
same question ,i can't get values
![image](https://user-images.githubusercontent.com/35559210/128873236-a2ba146e-e4d1-49b3-9e5e-9ba7fb2b42cf.png)

[2021-08-10 13:18] #10976 closed

[2021-08-11 01:37] strongduanmu commented on #11739
In this issue, we can see that `GROUP_CONCAT` is supported in version `1.27.0`, so we need to upgrade the calcite version, and then add some test cases.

[2021-08-11 02:08] cqiwencom opened #11755 "The new column is not displayed in proxy"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-11 02:41] wl4g commented on #11747
Thank you very much for your reminder. I almost made wheels again. How to configure this Mgr discovery? Are there any examples?

[2021-08-11 02:54] mazhai commented on #11739
@strongduanmu
Thank you very much for your answer, I tried 1.27.0 and still didn't work
I am surprised that I have no problem testing 5.0.0-beta

[2021-08-11 02:58] strongduanmu commented on #11739
@mazhai After the PR associated with this issue is merged, you are welcome to test it.

[2021-08-11 03:01] strongduanmu commented on #11755
Hi @cqiwencom, you need to use proxy to add column to ensure that metadata can be refreshed normally.

[2021-08-11 03:20] cqiwencom commented on #11755
How can I use proxy to add columns to a table? When I use the following command in proxy, an error occurs：

MySQL [testdb]> alter table t1 add column dtime timestamp NOT NULL DEFAULT NOW();
ERROR 1235 (42000): This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'

[2021-08-11 03:23] cqiwencom commented on #11755
My proxy version is ShardingSphere-Proxy 5.0.0-beta.

[2021-08-11 03:25] strongduanmu commented on #11755
@cqiwencom Thank you for your feedback, we will Investigate this problem.

[2021-08-11 03:30] cqiwencom commented on #11755
Thanks. I hope this problem can be solved as soon as possible.

[2021-08-11 03:56] strongduanmu commented on #11746
@cqiwencom Can you try the master branch? I used the master branch to test and the routing results were normal.

[code]

[2021-08-11 05:08] JiekerTime opened #11757 "【important】The Proxy has the wrong meta information"
The following problem has been bothering me for several days and I urgently need to solve it.

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/128972346-9df127d2-2cb8-4d0e-ba3f-4298e85aaec4.png)

###

[2021-08-11 06:47] ccMoriarty opened #11759 "Time Format in MySQL is yyyy-MM-dd HH:mm:ss, in ss-proxy is yyyy-MM-ddTHH:mm:ss there is more 'T'"
## Bug Report

### Which version of ShardingSphere did you use?

sharding-proxy  5.0.0-beta  ,  MySQL version: 5.7.26

### Which project did you use?

ShardingSphere-proxy

### Example codes for reproduce this issue (such as a github link).

In MySQL:
my table structure is:
![image](https://user-images.githubusercontent.com/35559210/128980937-3ccae9eb-ce96-4035-82d2-1af320890f3b.png)
the  Fcreate_

[2021-08-11 07:29] #10633 closed

[2021-08-11 07:29] #11317 closed

[2021-08-11 07:34] menghaoranss commented on #11747
refter to:
https://github.com/apache/shardingsphere/blob/master/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-database-discovery.yaml

[2021-08-11 08:33] jackjoesh opened #11761 "is there some official performance report to prove the performance gap between 5.0 and 4.0,3.0?"
is there some official performance report to prove the performance gap between 5.0 and 4.0, 3.0?
Because we want to upgrade from 3.1 to 5.0, we must prove the performance before staring project, thank you.

[2021-08-11 09:06] sgc109 opened #11762 "Cannot connect to Shardingsphere-Proxy with MySQL Workbench"
## Bug Report
### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Shardingsphere-Proxy

### Expected behavior
Being able to connect to Sharindgsphere-Proxy.

### Actual behavior
* When i click `Test Connection` button,
<img width="912" alt="Screen Shot 2021-08-11 at 6 00 49 PM" src="https://user-images.githubuserc

[2021-08-11 09:24] LeeGuoPing opened #11764 "Something wrong with the document of GOVERNANCE"
## Question

one. GovernanceConfiguration class has no param "name", and add param "overwrite"
two. RegistryCenterConfiguration class add param "namespace"

the document see: https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/java-api/governance/

[2021-08-11 09:47] Asteven-zn commented on #11737
we use docker verison sharding-proxy:5.0.0，Configure read-write separation. Sharding will fail every time you restart. You can only delete tables in the database

[2021-08-11 09:57] ccMoriarty commented on #11759
Others in sharding-proxy 5.0.0-beta , MySQL version: 5.7.26

<img width="1343" alt="wecom-temp-6e01ae881cf33d2a537699e38ce2d8ce" src="https://user-images.githubusercontent.com/35559210/129009412-791ba9e8-8d4c-4446-b2d6-20f6bf21d3ea.png">

use diff where case get diff format

this conf is:

      tableStrategy:
        standard:
          shardingColumn: fuid
          shardingAlgorithmName: tb_inl

[2021-08-11 10:08] ddsr-ops opened #11769 "authority config in server.yaml could be invalid?"
**Question**:
In general, I config user authority rule in server.yaml when using sharding proxy. But, i can not connect proxy with user authorities has been configured in server.yaml. I hope someone can explain it.

[code]

However, I use root user and password 'root',  connect proxy successfully. I DO NOT config it!
[code]

User sharding, in the same as user root.
[code]

**ENV**:
1. version info

[2021-08-11 10:16] #11623 closed

[2021-08-11 10:30] menghaoranss commented on #11769
Please check authority configuration in zookeeper which persisted in `/rules`.

[2021-08-11 10:33] #11687 closed

[2021-08-11 10:56] dyplus opened #11771 "springboot project Used shardingsphere-jdbc and Flyway: throw ShardingSphereException `global_variables` single table does not exist"
![image](https://user-images.githubusercontent.com/54160389/129017482-f9fa98a0-5dc8-4446-b93e-5e1d4b6d84cc.png)

implementation('org.apache.shardingsphere:shardingsphere-jdbc-core-spring-boot-starter:5.0.0-beta')

[2021-08-11 11:08] sgc109 commented on #11762
Once i set `Default schema`, i could connect to the proxy

<img width="1012" alt="Screen Shot 2021-08-11 at 7 55 40 PM" src="https://user-images.githubusercontent.com/7943694/129017450-1b427e3b-f92e-4c89-ac83-86ba7f80c135.png">

But, some data still don't be fetched as follows.

<img width="1136" alt="Screen Shot 2021-08-11 at 8 01 32 PM" src="https://user-images.githubusercontent.com/7943694/1290

[2021-08-11 11:25] menghaoranss commented on #11764
Governance is being refactored now,  could you commit a PR to fix it?

[2021-08-11 11:29] menghaoranss commented on #11761
@jackjoesh Which project did you use, ShardingSphere-JDBC or ShardingSphere-Proxy?

[2021-08-11 13:30] jackjoesh commented on #11761
ShardingSphere-JDBC

[2021-08-11 16:12] terrymanu commented on #11709
Cool

[2021-08-12 00:34] ddsr-ops commented on #11769
node /rules is null, details are shown in bellow:
[code]
And, zookeeper is deployed in a docker.

[2021-08-12 00:40] Steven-78 opened #11773 "front page grammar problem"
"Consist" shouldn't be used in passive voice.  It should be "consist of" instead of "consisted of".

![image](https://user-images.githubusercontent.com/35221791/129120851-c8559f0d-6b98-4ef2-9c43-569f2bf62763.png)

[2021-08-12 01:12] ddsr-ops commented on #11769
I degrade zk from 3.7.0 to 3.6.2, nothing exists in node /rules

[2021-08-12 01:16] LeeGuoPing commented on #11764
ok @menghaoranss

[2021-08-12 01:37] ddsr-ops commented on #11769
I migrate zk from docker to centos host, it works, then nothing also exists in node /rules

[2021-08-12 03:44] ddsr-ops opened #11776 "[ShardingProxy]: authority modification can not be applied"
## Bug Report
when I modify authority section in server.yaml of 5.0 beta, and restart sharding proxy, modified authority was not applied.

### Which version of ShardingSphere did you use?
ShardingSphere-Proxy 5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
modified authorities in server.yaml should be applied after

[2021-08-12 04:34] cqiwencom commented on #11746
在我的日志文件中没有看到您上面的这种信息。但有如下的报错信息显示在日志中：

[ERROR] 2021-08-12 12:31:20.828 [Connection-3-ThreadExecutor] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.BinaryOperationExpression cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.statement.SQLStatement
	at org.apache.shardingsphere.infra.pa

[2021-08-12 04:44] cqiwencom commented on #11762
This question has been consulted. I also have this problem when testing the version of navicat12. You can log in normally by using navicat11.

[2021-08-12 06:20] #11759 closed

[2021-08-12 06:20] JiekerTime opened #11781 "The governance functions of jdbc are not available locally"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Two jdbc data sources share a single configuration file, database, and governance center to start normally.

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/129146819-4a9a1445-3bb9

[2021-08-12 06:23] #11739 closed

[2021-08-12 07:15] sgc109 commented on #11762
@cqiwencom Hi, i'm currently using MySQL Workbench 8.0.26.

[2021-08-12 07:25] qq97251695 opened #11782 "[ShardingSphere-JDBC 5.0.0-beta] An error occurred while running the SpringBoot project."
## Bug Report

[ShardingSphere-JDBC 5.0.0-beta] An error occurred while running the SpringBoot project.
### Which version of ShardingSphere did you use?
ShardingSphere 5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Starting ApplicationContext.

### Actual behavior
Application run failed.

### Steps to reproduce the

[2021-08-12 08:12] Asteven-zn commented on #11737
### There are two databases that need to be read-write separated
config-data-simulator-dev.yaml
`schemaName: data_simulator_test

    dataSources:
      write_ds:
        #url: jdbc:mysql://mysql-mgr-1.mysql-mgrservice:3306/data_simulator_test?serverTimezone=UTC&useSSL=false
        url: jdbc:mysql://mgr-mysql-primary:3306/data_simulator_test?serverTimezone=UTC&useSSL=false
        username: root

[2021-08-12 08:34] RaigorJiang commented on #11737
Hi  @Asteven-zn
Thanks for your report, but I don't see your rule configuration, may be you can refer to [example1](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-readwrite-splitting.yaml) and [example2](https://github.com/apache/shardingsphere/blob/master/examples/shardingsph

[2021-08-12 09:34] Asteven-zn commented on #11737
server.yaml
`    rules:
      - !AUTHORITY
        users:
          - root@%:tcsaMysql8016
          - sharding@:sharding
        provider:
          type: NATIVE
`

config-data-simulator-dev.yaml
`schemaName: data_simulator_test
    dataSources:
      write_ds:
        url: jdbc:mysql://mgr-mysql-primary:3306/data_simulator_test?serverTimezone=UTC&useSSL=false
        username: root
        passw

[2021-08-12 09:37] Asteven-zn commented on #11737
# server.yaml
`    rules:
      - !AUTHORITY
        users:
          - root@%:tcsaMysql8016
          - sharding@:sharding
        provider:
          type: NATIVE`
# config-data-simulator-dev.yaml
`    schemaName: data_simulator_test
    dataSources:
      write_ds:
        #url: jdbc:mysql://mysql-mgr-1.mysql-mgrservice:3306/data_simulator_test?serverTimezone=UTC&useSSL=false
        url: jdbc:

[2021-08-12 09:39] RaigorJiang commented on #11737
Hi @Asteven-zn
I saw your project. The homepage mentioned `config-readwrite-splitting.yaml` in the configmap directory, but there is no such file in that directory?

[2021-08-12 09:50] Asteven-zn commented on #11737
#### config-server.yaml
`

    rules:
      - !AUTHORITY
        users:
          - root@%:tcsaMysql8016
          - sharding@:sharding
        provider:
          type: NATIVE
`

#### config-data-simulator-dev.yaml
`

    schemaName: data_simulator_test
    dataSources:
      write_ds:
        #url: jdbc:mysql://mysql-mgr-1.mysql-mgrservice:3306/data_simulator_test?serverTimezone=UTC&useSSL=false

[2021-08-12 10:23] menghaoranss commented on #11769
Any content in other zk nodes?

[2021-08-12 10:33] RaigorJiang opened #11784 "[DISCUSS] design a grammar for `Preview SQL`"
Hi community,

I am designing `Preview SQL` syntax for DistSQL, which has the following characteristics:
1. `Preview` is a keyword, `SQL` can be any statement, such as SELECT, CREATE, DROP, etc.;
2. There is at least one blank character between the `Preview` keyword and the `SQL` statement;
3. It is expected that after ANTLR parses the input text, it will recognize `SQL` as a `String object`;

###

[2021-08-12 10:40] RaigorJiang commented on #11784
Suddenly I have a new idea, wait for me to try again.  😀

[2021-08-12 10:48] RaigorJiang commented on #11737
@Asteven-zn    Ok, i will try to reproduce your problem.

[2021-08-12 11:03] #11723 closed

[2021-08-12 11:04] terrymanu commented on #11784
CommonDistSQL2 is fine, I prefer it.

[2021-08-12 11:07] RaigorJiang commented on #11784
Thanks for your advice.

[2021-08-12 12:22] soca2013 opened #11786 "Vertical table"
if I only want to vertical table? how to use shardingsphere.

[2021-08-12 14:20] lovegames opened #11788 "There was a feign call in the transaction and the data did not roll back properly"
## Question
When using distributed transaction, the feign call threw an exception, but the transaction did not roll back properly. It is suspected that the code entered fallback, so the transaction could not be rolled back properly. Is there any good solution

`@ShardingTransactionType(value = TransactionType.XA)
    @Transactional(rollbackFor = Exception.class)
    @Override
    public Integer te

[2021-08-12 14:39] zwmnhao1980 opened #11789 "怎么配置范围分片"
看了官方文档，都是取模分片案例，没有看到范围分片的案例

[2021-08-13 00:19] wgy8283335 opened #11792 "Add test cases in FederateJDBCExecutorTest to assert federate query optimization."
## Add FederateJDBCExecutorTest to assert FederateJDBCExecutorTest

Below action should be taken:
- add JOIN SQL in the test cases.
- add subquery SQL in the test cases.
- mock catalog reader, to change the metadata of the table.
- add more test cases related to federated queries.

[2021-08-13 00:26] ddsr-ops commented on #11769
I run ls -R in zk shell:

[code]
@menghaoranss

[2021-08-13 01:57] RaigorJiang commented on #11784
Let's call it `AdvancedDistSQL` first, and replace it with a better name in the future.

[2021-08-13 01:57] #11784 closed

[2021-08-13 02:13] chengh1 opened #11793 "When bindingTable for associated query and they are not associated by sharding key, they should use shardingFederatedRoutingEngine to Routing"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-13 02:20] chengh1 commented on #11793
I'd like to fix it.

[2021-08-13 03:07] menghaoranss commented on #11776
Is `overwrite` configured as true in governance configuration?

[2021-08-13 03:11] danianyu opened #11794 "SQL alias problem of join type."
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Hope to support this feature
### Actual behavior
When the join type SQL is used and the alias of the column of the main table is omitted, the following exception will be thrown. This is different from native SQL.

[2021-08-13 03:22] menghaoranss commented on #11769
Please configure `overwrite` as true and try again.

[2021-08-13 03:52] qanson opened #11795 "Insert too long data, no exception be thrown,no error log, no rollback. [it should throw exception]"
## Bug Report

### Which version of ShardingSphere did you use?
5.0-Beta
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
The database field length is only 50, however when inserting test data , the length of data is more than 50. It should have thrown
an exception. There should be  exception and rollback.
### Actual behavior
No

[2021-08-13 05:32] yy2so commented on #11773
Hi Steven, good find. I'd just like to suggest that the correct format should be "consisting of" (add -ing)

By the way you're welcome to join our community on Slack:
https://join.slack.com/t/apacheshardingsphere/shared_invite/zt-sbdde7ie-SjDqo9~I4rYcR18bq0SYTg

[2021-08-13 05:43] fwhdzh commented on #10973
Hello, I want to try this issue.

[2021-08-13 06:15] menghaoranss commented on #11773
@yy2so Thanks for your suggestion.
@Steven-78 You are welcome to submit a PR to fix this issue.

[2021-08-13 06:15] menghaoranss commented on #11789
Please refer to [examples](https://github.com/apache/shardingsphere/tree/master/examples), and For English only, I will close this issue later.
Any other feedback, please submit a new issue with English.

[2021-08-13 06:15] #11789 closed

[2021-08-13 06:42] zjcnb commented on #11795
Hi， you can try it again in ShardingSphere 5.0.0-RC1-SNAPSHOT

[2021-08-13 07:06] zjcnb commented on #11795
Hi @qanson,  you can try it at 5.0.0-RC1-SNAPSHOT. It should be fixed.

[2021-08-13 07:11] qanson commented on #11795
Thanks a lot .

[2021-08-13 07:15] zjcnb opened #11801 "Whether to add restricted full routing"
Hi all,

 I found that the current insert has increased the limit, please refer to ：

[code]

Question : Is it also necessary to add such processing during update and delete?

[2021-08-13 07:23] LeeGuoPing commented on #11764
@menghaoranss  brother, I have update the documents, both English and Chinese.

[2021-08-13 09:32] #11307 closed

[2021-08-13 09:52] #10965 closed

[2021-08-13 12:04] menghaoranss opened #11809 "Add unit test for LocalPersistRepository"

[2021-08-13 12:06] fwhdzh commented on #11809
Hello, I want to try this issue.

[2021-08-13 13:04] jianliu commented on #11583
I have make a mistake when analyz the reason,because of missing an important info,between pre tps and next tps.
[code]
Here is the logs:
![image](https://user-images.githubusercontent.com/1589099/129360520-156f26e7-3960-47f9-b844-cdab850554c4.png)

The second sql (setAutoCommit(true) between the first and the thrid statement send by framework cause this erorr,because it removes the third sql(setAu

[2021-08-13 13:39] strongduanmu commented on #11794
@danianyu Thank you for your feedback, i will investigate this issue later.

[2021-08-13 13:59] totalo opened #11812 "GeneralDQLIT integration test error"
I found that the GeneralDQLIT test in the integration test has the following exceptions.

[code]

[2021-08-14 03:31] terrymanu commented on #11788
Could change the title for search friendly?

[2021-08-14 03:31] terrymanu commented on #11786
Could change the title for search friendly?

[2021-08-14 03:34] terrymanu commented on #11616
Must have sharding column with subquery.

[2021-08-14 03:34] #11616 closed

[2021-08-14 03:42] sydgeek commented on #10986
Please assign it to me.

[2021-08-14 13:42] menghaoranss commented on #10986
Welcome.

[2021-08-15 02:24] terrymanu opened #11824 "Avoid random access with LinkedList in class ShadowInsertColumnTokenGenerator"
There is a performance issue for using random access with LinkedList.

Please use iterator to visit LinkedList in class `ShadowInsertColumnTokenGenerator`

[2021-08-15 02:40] soulasuna commented on #11824
I will fix it.

[2021-08-15 02:43] terrymanu commented on #11824
Cool, assigned

[2021-08-15 05:37] sydgeek commented on #10986
There has a problem in this document.

- The following 2 namespaces in the document are inaccessible:
    http://shardingsphere.apache.org/schema/shardingsphere/readwrite-splitting/readwrite-splitting-5.0.0.xsd
    http://shardingsphere.apache.org/schema/shardingsphere/governance/governance-5.0.0.xsd

It seems that the directory /governance and /read write-splitting does not exist in the index of

[2021-08-15 09:14] tristaZero commented on #11786
Hi @soca2013 That's still a sharding pattern, please look at the doc to find a fitting sharding algorithm.

[2021-08-15 09:17] tristaZero commented on #11782
@qq97251695 Hi thanks for your report.  @strongduanmu could you have a check? I suppose it is a bug fixed in the master branch?

[2021-08-15 09:18] tristaZero commented on #11801
@zjcnb Did you let @strongduanmu know about this issue?

[2021-08-15 09:20] tristaZero commented on #11771
Hi @dyplus Thanks for your issue. could you provide your SQL triggering this issue?

[2021-08-15 09:25] tristaZero commented on #11762
@sgc109 Hi thanks for your detailed report. It is an important and complex issue to adapt different clients.
@RaigorJiang @TeslaCN Could you have a look here?

[2021-08-15 09:35] tristaZero commented on #11761
Hi @jackjoesh We suggest you update to 5.x which contains many bug-fix and new enhancements and will have future supports.
When it comes to the performance report, it shows like 3.1 is 14'000 TPS, while the master branch is 12'000 TPS (still under our tuning) from my local env of mac. Do not worry, performance tests and improvements are our aims this month. That means the next release will include

[2021-08-15 09:36] tristaZero commented on #11757
@strongduanmu Could you look at this one?

[2021-08-15 09:37] tristaZero commented on #11793
@chengh1 Hey, nice to see you here. Welcome and assigned to u.

[2021-08-15 09:38] tristaZero commented on #11788
Hi @lovegames which version did you test?

[2021-08-15 09:39] tristaZero commented on #11744
Hi which version are you using? Could you try the latest release, i.e, beta?

[2021-08-15 09:40] tristaZero commented on #11755
Hi thanks @cqiwencom
guys, do we have any updates?

[2021-08-15 09:42] tristaZero commented on #11746
@strongduanmu Hi any progress?

@cqiwencom thanks for your attention, I can see your many activities these days. Are you testing ShardingProxy?

[2021-08-15 09:43] tristaZero commented on #11728
HI @Jenyow ?

[2021-08-15 09:44] tristaZero commented on #11712
@cqiwencom Hi could you have a try?

[2021-08-15 09:45] tristaZero commented on #11711
Could you try the [sctl](https://shardingsphere.apache.org/document/current/cn/features/dist-sql/syntax/sctl/) feature?

[2021-08-15 09:48] tristaZero commented on #11689
Hi @cheese8 Sorry for my late response. I am interested in your issue. Could I know why you want to add new parameters to these interfaces?

[2021-08-15 09:49] tristaZero commented on #11683
So? any progress?

[2021-08-15 09:50] tristaZero commented on #11664
@ezio7584 Hi? So if this one was fixed, could you close it?

[2021-08-15 09:51] tristaZero commented on #11658
? So is it fixed?

[2021-08-15 10:23] tuichenchuxin commented on #11683
@tristaZero This issue is related to this issue #11718 . After it is merged, I will start to do this.

[2021-08-15 10:25] himanshu007-creator commented on #11773
hi! is @Steven-78 allows, may I work on this issue?
Thanks

[2021-08-15 10:28] tuichenchuxin commented on #11658
@tristaZero Not yet. After the dialect loading rule tables and the single tables are completed, the parallel check logic will be refactored, and the dialect loading method will be introduced. This problem will be fixed at that time.

[2021-08-15 14:39] lzq574947385 opened #11831 "java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.YamlRuleConfiguration"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-15 14:43] lzq574947385 commented on #11831
![image](https://user-images.githubusercontent.com/61236603/129482288-227bd9d2-2b3e-4c9c-bab0-3bfe25c006db.png)

[2021-08-15 14:43] lzq574947385 commented on #11831
![image](https://user-images.githubusercontent.com/61236603/129482311-2684b9bb-3d3e-4eb9-a24d-2b2993fc5f7e.png)

[2021-08-15 17:48] jackjoesh commented on #11761
Great!  As you said, we are very much looking forward to upgrading to the new version to reduce maintenance costs.
Because the tps of our system is one hundred thousand level, so the performance is very important, thank you for help

[2021-08-16 00:21] strongduanmu commented on #11746
@cqiwencom From your log, it looks like a parsing exception, not a readwrite splitting exception. Can you try the master branch?

[2021-08-16 00:23] strongduanmu commented on #11757
@tristaZero I will investigate this issue.

[2021-08-16 00:31] strongduanmu commented on #11757
@JiekerTime Can you provide the create table statement of t_order?

[2021-08-16 01:12] lovegames commented on #11788
<dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-transaction-spring-boot-starter</artifactId>
            <version>3.1.0</version>
        </dependency>

[2021-08-16 01:58] wgy8283335 opened #11834 "Add Hep planner in federate optimize"
## Add Hep planner in federate optimize

Add Hep planner to do logic optimization in federate-query.
For example, query pushing down, subquery elimination, and so on.

[2021-08-16 02:14] RaigorJiang commented on #11762
Hi @sgc109 @cqiwencom
These problems do exist, because different clients or even different versions will send different SQL statements when they connect. It is very complicated.
We have recorded these issues, and some adaptation plans will be required later.

[2021-08-16 02:18] JiekerTime commented on #11757
In fact you can change the table structure as you like, if you want to reproduce it, you can refer to [init.sql](https://github.com/apache/shardingsphere/blob/master/shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/env/db/init-sql/mysql/init.sql).

[2021-08-16 02:20] RaigorJiang commented on #10986
@sydgeek  Thanks for your carefulness, are you interested in fixing these problems?

[2021-08-16 02:30] RaigorJiang commented on #11737
@Asteven-zn
Sorry to keep you waiting,
I tested but did not reproduce the problem. The problem you described may have been solved in this PR #11597. Can you try to build a Docker image from the master branch and do your test?

[2021-08-16 02:59] ddsr-ops commented on #11769
I set overwrite as true, solve it, but /rules in zk has nothing

[2021-08-16 03:02] terrymanu opened #11837 "Remove read data source from readwrite-split zk config throw exception"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Update config successful

### Actual behavior

original config in zk

[code]

changed config in zk

[code]

exception thrown

[code]

[2021-08-16 03:15] ddsr-ops commented on #11776
configure `overwrite` as true, it works, thank you @menghaoranss

[2021-08-16 03:15] #11776 closed

[2021-08-16 04:15] zjcnb opened #11839 "sharding-spring-boot-mybatis-example run failed"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

sharding-spring-boot-mybatis-example run success

### Actual behavior
sharding-spring-boot-mybatis-example run failed

Exception:

[code]

[2021-08-16 04:21] cqiwencom commented on #11746
Yes,i do.

[2021-08-16 05:22] vince7839 commented on #11831
@lzq574947385 Hi,I think your config is in incorrect,add "- !SHARDING" under "rules" and try again please.

[2021-08-16 08:33] #11839 closed

[2021-08-16 08:38] yinyanghuafa commented on #11410
please let me try.

[2021-08-16 10:07] JiekerTime opened #11846 "Sharding JDBC Connection Count Exception"
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
ShardingSphere-Proxy may also have a problem, but I have not been able to reproduce it.

### Behavior
![image](https://user-images.githubusercontent.com/76552510/129547029-24346d83-0489-4c29-9cf8-3b90772e3e16.png)

### Reason analyze (If you can)
I guess it's caused by Atomikos's connection not being re

[2021-08-16 10:14] JiekerTime commented on #11846
The content is same to [#11611](https://github.com/apache/shardingsphere/issues/11611), so close

[2021-08-16 10:14] #11846 closed

[2021-08-16 12:07] #11831 closed

[2021-08-16 12:08] lzq574947385 commented on #11831
Thanks!

[2021-08-16 13:21] acmenlt commented on #234
Medbanks（思派网络） + https://www.medbanks.cn/

[2021-08-16 18:50] yc-22 opened #11851 "Is there any existing mechanism to save other shards when one or several shards went down?"
### Is your feature request related to a problem?
I am using Spring Boot + ShardingSphere - JDBC. So far, it seems that when one shard is broken, the whole project can't start.

### Describe the feature you would like.
Can you please make it work even when one or several shards were broken? Thanks!

[2021-08-16 18:57] #11851 closed

[2021-08-16 19:23] yc-22 opened #11852 "Please make ShardingSphere - JDBC work for write DB operation even when one or several shards were broken"
### Is your feature request related to a problem?
I am using Spring Boot + ShardingSphere - JDBC. So far, it seems that when one shard is broken, other shards can't be used for write DB operation as well while the read DB operation still can work fine.

### Describe the feature you would like.
Can you please make it work for write DB operation even when one or several shards were broken? Thanks!

[2021-08-17 03:01] #11392 closed

[2021-08-17 04:05] zjcnb commented on #11617
@metayx  Thank you for your feedback, I will follow up on this issue.

[2021-08-17 04:58] terrymanu opened #11856 "Finish to implement ClusterContextManagerBuilder.getChangedDataSourceConfigurations()"

[2021-08-17 06:38] ddsr-ops commented on #11054
Such as actual db connection pool monitor, slow sql alert, proxy HA.

[2021-08-17 07:06] #11718 closed

[2021-08-17 08:57] RaigorJiang opened #11861 "Suggestion: adjust the name of some example modules."
Hi community,

I have some doubts when reading the example project:
Modules like `sharding-spring-boot-jpa-example` and `sharding-spring-boot-mybatis-example`
can know from the name that `mybatis` or `jpa` is used.
`government-spring-boot-example` integrates `mybatis` but is not named according to the above format, looks like the `ORM` is not used?

Similarly, from the name of `transaction-2pc-xa-

[2021-08-17 08:57] yx9o commented on #11861
I want to try this issue.

[2021-08-17 09:23] strongduanmu commented on #11837
This exception is caused by the case that the removed `read_ds_1` data source and the `pr_ds` logical data source have the same table. The single table is checked by default when it is loaded.

After discussion, we decided to add an option to the single table conflict check logic, allowing users to decide whether to check or not.

[2021-08-17 09:57] hsw409328 opened #11862 "how statement to sql(string)?"
## Question

**For English only**, other languages will not accept.

use sql-parse-engine

`public static SQLStatement statement(final String databaseType, final String sql, final Boolean useCache) {
        ParseTree tree = new SQLParserEngine(databaseType).parse(sql, useCache);
        SQLVisitorEngine sqlVisitorEngine = new SQLVisitorEngine(databaseType, "STATEMENT", new Properties());

[2021-08-17 10:14] strongduanmu commented on #11862
@hsw409328 The original SQL is String type. Why convert the parsed result into String?

[2021-08-17 10:14] strongduanmu commented on #11861
@yx9o Welcome.

[2021-08-17 10:17] strongduanmu commented on #11801
@zjcnb For update and delete statements, users may perform operations without the sharding column. Therefore, this judgments should not be added to update and delete statements.

[2021-08-17 10:33] #10973 closed

[2021-08-17 11:56] hsw409328 commented on #11862
I used the parsing engine alone to rewrite the where condition. I want to parse the changed object back to SQL string

[2021-08-17 12:49] menghaoranss commented on #11773
@himanshu007-creator welcome, I will assign this issue to you, looking forward to your PR.

[2021-08-17 13:26] Swastyy opened #11865 "Build Failure"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-08-17 13:42] hsw409328 commented on #11862
unparse engine not found!

[2021-08-18 01:28] #11773 closed

[2021-08-18 01:48] strongduanmu opened #11868 "Table does not exist exception occur when connecting to Proxy with an uppercase table"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No exception occur when connecting to Proxy

### Actual behavior

[code]

### Reason analyze (If you can)

The mysql protocol converts `t_order_FEDERATE` to `t_order_federate`, causing an exception

[2021-08-18 02:06] strongduanmu commented on #11757
@JiekerTime Thank you for your feedback, I reproduced this problem. I will try to solve it.

![image](https://user-images.githubusercontent.com/10829171/129825052-27313b74-a541-4341-b9e6-56d47500f244.png)