[2019-12-23 06:39] itxiaole opened #3784 "spring boot 连接查询问题"
spring boot 项目 order一个库 表order_1 order_2  一个库 order_item 表 order_item_1 order_item2,连接查询  一直说mybatis 系统异常 然后是数据下表越界,这样的sql 不允许吗? 我分表对这两个表新增都是ok的,但是就是连接查询有问题,分别查询也没问题,求大佬解决一下,这样的查询是不允许,还是暂时不支持呢

[2019-12-23 07:08] itxiaole opened #3786 "The spring boot project queries across libraries"
Problem description :order and order_item are in different libraries

Query error

There was an error using the selectOrderAndOrderItem method

org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
### The error may exist in com/sharding/jdbc/jdbc/

[2019-12-23 07:10] itxiaole commented on #3786
Each insert, each query is no problem, but even the table query problems, is it not supported or I wrote wrong

[2019-12-23 07:12] terrymanu commented on #3784
**For English only**, other languages will not accept.

[2019-12-23 07:12] #3784 closed

[2019-12-23 07:14] terrymanu commented on #3786
The exception is throw by

[code]

What is your `OrderDaoTest.settOrder`?

[2019-12-23 07:14] itxiaole commented on #3786
The order table structure :

DROP TABLE IF EXISTS `t_order_2`;
CREATE TABLE `t_order_2`  (
  `order_id` bigint(20) NOT NULL COMMENT '订单id',
  `price` decimal(10, 2) NOT NULL COMMENT '订单价格',
  `user_id` bigint(20) NOT NULL COMMENT '下单用户id',
  `status` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '订单状态',
  PRIMARY KEY (`order_id`) USING BTREE
) ENGINE = InnoDB CHARACTER SE

[2019-12-23 07:15] itxiaole commented on #3786
The order table structure :

DROP TABLE IF EXISTS t_order_2;
CREATE TABLE t_order_2 (
order_id bigint(20) NOT NULL COMMENT '订单id',
price decimal(10, 2) NOT NULL COMMENT '订单价格',
user_id bigint(20) NOT NULL COMMENT '下单用户id',
status varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT '订单状态',
PRIMARY KEY (order_id) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf

[2019-12-23 07:16] itxiaole commented on #3786
@Test
    public void settOrder(){
        System.out.println(tOrder.selectOrderAndOrderItem());
    }

[2019-12-23 08:24] zjcnb commented on #3786
DQLMergeEngine class

    public DQLMergeEngine(final DatabaseType databaseType, final TableMetas tableMetas, final SQLRouteResult routeResult, final List<QueryResult> queryResults) throws SQLException {
        this.databaseType = databaseType;
        this.routeResult = routeResult;
        this.selectSQLStatementContext = (SelectSQLStatementContext) routeResult.getSqlStatementContext();

[2019-12-23 08:26] HongJinFeng commented on #3635
If add bug label, please assign me to solve this issue, it may the same reason with the issue #3309 @terrymanu

[2019-12-23 08:50] #3309 closed

[2019-12-23 08:58] uffy opened #3788 "Docker container unable to start"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-23 09:04] runjia1987 commented on #2263
Seems you guys do not consider this scenario: "table join itself", which also throws this "must have"  exception. e.g. we optimize limit sql by using "select a.* from table a join(select id from table limit n, m) r using(id).
I think this is a bug.

[2019-12-23 10:08] huskebi opened #3789 "Database profile password needs encryption"
Password encryption of database configuration file is required. When starting the project，
I didn't find a solution

[2019-12-23 12:42] wangjing112 opened #3791 "error return :SHOW FULL TABLES FROM `sharding_db` LIKE 't_mail'"
apache-shardingsphere-incubating-4.0.0-RC3-sharding-proxy-bin.tar.gz

query sql:SHOW FULL TABLES FROM `sharding_db` LIKE 't_mail'
return no record.
but mysql return 1 record.

[2019-12-23 12:44] wangjing112 commented on #3791
but it work fine in sharding-jdbc 4.0.0-RC2

[2019-12-23 13:43] terrymanu commented on #3791
duplicate with #2904

[2019-12-23 13:43] #3791 closed

[2019-12-23 13:55] terrymanu commented on #3789
Apache ShardingSphere is not a all-in-one solution, just like MySQL do not support password encryption.
So, what do you think about Apache ShardingSphere's scope?

[2019-12-23 13:56] terrymanu commented on #3788
What is the error message log?

[2019-12-23 14:19] terrymanu commented on #3786
What situation can let queryResults empty?

[2019-12-23 14:24] terrymanu commented on #3755
The exception `More than one table found in namespace` has thrown from hibernate.
Maybe can help you: https://stackoverflow.com/questions/36907095/more-than-one-table-found-in-namespace-schemaextractionexception

[2019-12-23 14:25] terrymanu commented on #3766
Can you try to 4.0.0-RC3?

[2019-12-23 14:26] terrymanu commented on #3769
What is different with `special` table name or `normal` table name?

[2019-12-23 14:28] #3773 closed

[2019-12-23 14:35] terrymanu commented on #3782
Can you try to analyze and just provide related code with database access code?
For example, the code of `ssl` and `log` is too confuse for debug.

[2019-12-23 14:36] terrymanu commented on #3778
No, all sharding strategy should written by developers.

[2019-12-23 14:36] #3778 closed

[2019-12-23 14:38] terrymanu commented on #3742
`date_format` of sharding can not support, because all sharding values must parse from SQL. But the function `date_format` need calculate from database.

[2019-12-23 14:38] #3742 closed

[2019-12-23 14:42] terrymanu commented on #3635
@HongJinFeng Thank you, assigned.

[2019-12-23 14:44] terrymanu commented on #3670
FIY: https://github.com/apache/incubator-shardingsphere/tree/4.0.0-RC2

[2019-12-23 14:48] terrymanu commented on #3609
Closed because no response for long time

[2019-12-23 14:48] #3609 closed

[2019-12-23 14:51] terrymanu commented on #3515
Closed because no response for long time.

[2019-12-23 14:51] #3515 closed

[2019-12-23 14:55] #3156 closed

[2019-12-23 18:29] topsale commented on #3788
But is no message logs....

But is no message logs .

[2019-12-23 18:43] topsale commented on #3788
My compose file is

version: '3.1'
services:
  sharding-proxy:
    image: apache/sharding-proxy:latest
    container_name: sharding-proxy
    ports:
      - 13308:3308

and running:

Starting sharding-proxy ... done
Attaching to sharding-proxy
sharding-proxy exited with code 0

But 4.0.0-RC2 do not have this problem .

[2019-12-23 19:21] kimmking commented on #3782
Can you submit a test-case to reproduce this issue, thx.
@TonyLuo

[2019-12-24 02:17] TonyLuo commented on #3782
pls refer to this repository : https://github.com/TonyLuo/test-shardingsphere

[2019-12-24 02:55] terrymanu commented on #3786
@itxiaole What's mean of `across libraries`?

[2019-12-24 03:04] terrymanu commented on #3788
You can check the log file first, it should be some hint in the log

[2019-12-24 03:07] terrymanu commented on #3774
@SteNicholas thank you, assigned.

[2019-12-24 03:09] zhp1254 commented on #3559
@Aspect
@Component
public class ShardingMasterInterceptor {
    private static final String POINT = "@annotation(org.springframework.transaction.annotation.Transactional)";

    @Before(POINT)
    public void before(){
 if(!HintManager.isMasterRouteOnly()) {
            HintManager.clear();
            HintManager.getInstance().setMasterRouteOnly();
        }
    }

    @AfterReturning(POINT)

[2019-12-24 03:19] zhp1254 commented on #3769
There is no difference；these table is important in our system that we want route all the sql to master

[2019-12-24 03:19] #3769 closed

[2019-12-24 03:50] terrymanu commented on #3769
Has your problem solved?

[2019-12-24 04:02] wangjing112 opened #3793 "how cfg defaultTableStrategy ?"
if many tables use same column name like "id" sharding.
how can i use the cfg defaultTableStrategy ?
please give a example,thanks!

[2019-12-24 06:06] SteNicholas commented on #3774
@tmjGitAccount Your understood exists mistake. `RoutingEngineFactory.newInstance()` should return `StandardRoutingEngine`, and call method `route()` to load your algorithm. Here isn't through DatabaseHintRoutingEngine.

[2019-12-24 06:34] SteNicholas commented on #3774
@tmjGitAccount What's more, `DatabaseHintRoutingEngine` isn't used in any routing case and modules. Therefore, the `DatabaseHintRoutingEngine` is necessary to remove. Where load your algorithm is that `StandardRoutingEngine` calls method `route()` to load user-defined algorithm.

[2019-12-24 06:41] uffy commented on #3788
These is no message logs, and I run docker inspect command for the exited container:
[code]

this container seems only run a shell

[2019-12-24 07:05] #3774 closed

[2019-12-24 09:11] tmjGitAccount commented on #3774
Thx For Your Reply, But there is still something wrong for me ,

[2019-12-24 09:20] uffy commented on #3788
@terrymanu
I try to extract docker image as plain files, and found the official image is only contains a java environment without shardingsphere proxy execute file.

[2019-12-24 09:29] zhaoyongsheng1990 opened #3796 "ON DUPLICATE KEY UPDATE support parameters"
## Feature Request
4.0.0-RC3 version not support ON DUPLICATE KEY UPDATE parameters
**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

[2019-12-24 10:04] tmjGitAccount commented on #3774
Thx for your reply, but there is still something wrong for me,
As you can see My perpose is to get sth from session  to hint the datasource.

1. if my conf is like what i  offered before, it will new a DefaultDatabaseRoutingEngine as follows, it always hint my defaultDatabase.
RoutingEngineFactory:83
[code]
2.then i add  some confs for tables,confs are as follows:
[code]
then  the  factory can  cr

[2019-12-24 10:29] wqzwh opened #3797 "Optimize the running time of UI unit test"
## Bug Report

The running time of UI unit test is too long and the file is too large

![image](https://user-images.githubusercontent.com/16662470/71409075-3e85a400-267b-11ea-80d3-686ebfcb8a13.png)

[2019-12-24 10:56] wqzwh commented on #3797
The overall comparison is made，Here are the local test results：

node：v6.10.0
npm: 3.10.10

Before optimization：
![image](https://user-images.githubusercontent.com/16662470/71409678-6a098e00-267d-11ea-8acc-770f9f2f7977.png)

After optimization：
![image](https://user-images.githubusercontent.com/16662470/71409755-9f15e080-267d-11ea-8c65-4437bbd78c5f.png)

node: v8.11.1
npm: v5.6.0

Before optimizat

[2019-12-24 15:35] SteNicholas commented on #3774
@tmjGitAccount Because you didn't execute `HintAddDatabaseShardingValueCommand` command like `sctl:hint addDatabaseShardingValue xx=yy.`.

[2019-12-24 15:46] tmjGitAccount commented on #3774
@SteNicholas  doesn't this command only belongs to sharding-proxy?   can i use it in sharding-jdbc?

[2019-12-24 23:32] SteNicholas commented on #3774
@tmjGitAccount You only through `sctl:hint addDatabaseShardingValue xx=yy` to execute `HintAddDatabaseShardingValueCommand `, then `HintAddDatabaseShardingValueExecutor` will execute this command.

[2019-12-25 02:36] terrymanu commented on #3793
FIY: https://github.com/apache/incubator-shardingsphere-example

[2019-12-25 03:05] SteNicholas opened #3799 "Provide SPI interface for sharding adapter to user-defined function"
## Feature Request

In `RoutingEngine` sharding strategy, SQL including user-defined function doesn't support user-defined how to get sharding result. Therefore, it is necessary for user to provide SPI interface for sharding adapter to user-defined function.

### Is your feature request related to a problem?

Yes, related to #3749.

### Describe the feature you would like.

Define SPI interface fo

[2019-12-25 03:10] SteNicholas commented on #3749
@fenghuanfun Here should provide SPI sharding interface adapter to user-defined function, so this issue could be closed by @terrymanu. We could talk this in issue #3799.

[2019-12-25 03:12] #3749 closed

[2019-12-25 04:40] tmjGitAccount commented on #3774
😥  i mean i use **sharding-jdbc** rather than sharding-proxy,
can't i use my self-defined algorithm in sharding-jdbc?

[2019-12-25 06:25] #3602 closed

[2019-12-25 06:30] wangjing112 commented on #3793
all example the defaultTableStrategy is none.

[2019-12-25 06:51] Simbafa opened #3801 ""useServerPrepStmts=true" doesn't work"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-25 07:10] #3256 closed

[2019-12-25 07:30] terrymanu commented on #3801
Can you try 4.0.0-RC3?

[2019-12-25 07:45] ssxlulu commented on #3789
Support password encryption in configuration file may meet safety requirements for some companys.

So will ss consider this feature later?

[2019-12-25 07:49] Simbafa commented on #3801
I tried 4.0.0-RC3, following error occur:

`[ERROR] 15:24:31.791 [ShardingSphere-Command-0] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
	at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.wrapper.StatementExecutorWrapper.doTransparentRoute(StatementExecutorWrapper.java:113)
	at org.apache.shardingsphere.shardingproxy.backend.communicat

[2019-12-25 08:01] huang-gz commented on #3713
you can try shardingshpere-example org.apache.shardingsphere.example.core.jdbc.repository.OrderRepositoryImpl#insert()

[2019-12-25 08:40] itxiaole commented on #3786
@terrymanu 夸库查询, 订单在一个库里,订单信息在一个库里,然后关联查询

[2019-12-25 11:02] #3793 closed

[2019-12-25 11:56] lonyee1989 commented on #3210
dynamic parameter  => actual_fee = actual_fee + VALUES(actual_fee)

eg..
db — actual_fee = 2

parameter — 5

exec:

ON DUPLICATE KEY UPDATE actual_fee = actual_fee + VALUES(actual_fee)

then

db — actual_fee = 7

please try it!

[2019-12-26 02:16] zhaoyongsheng1990 commented on #3210
I change mapper file like this：
actual_fee = actual_fee + VALUES(actual_fee),
it worked  , thanks very much.

[2019-12-26 02:20] zhaoyongsheng1990 commented on #3796
does not need this change , it worked with refers to the value of col_name, in mysql docs says:
  In assignment value expressions in the ON DUPLICATE KEY UPDATE clause, you can use the VALUES(col_name) function to refer to column values from the INSERT portion of the INSERT ... ON DUPLICATE KEY UPDATE statement. In other words, VALUES(col_name) in the ON DUPLICATE KEY UPDATE clause refers to the v

[2019-12-26 02:20] #3796 closed

[2019-12-26 02:54] zhegexiaohuozi commented on #3210
If insert value is different from update value, such as:
[code]
Is the syntax already supported?  @lonyee1989 @terrymanu

[2019-12-26 03:09] terrymanu commented on #3786
@itxiaole, For English only. Can you change the title and fix the wrong word in the content?

[2019-12-26 03:24] lirengui commented on #3097
Hello, I'm using RC3 version. According to you, I updated hikaricp, compiled with jdk8, and can't connect with MySQL connector Java 8. X. where can I change it

[2019-12-26 05:40] itxiaole commented on #3786
@terrymanu I should be able to modify, but I don't know which word is better, do you have any recommendations? I translate directly, xiaobai, I'm sorry

[2019-12-26 06:43] songjiesdnu opened #3805 "By default, in sharding-jdbc, "select ...... for update" is routed to slave datasource."
## Question
In our application, there are some uses of "select ...... for update", when we use sharding-jdbc, these sqls is routed to the slave datasource, which is set read-only, and thus these sqls cannot be exeucted. We solve the problem by using HintManager and setMasterRouteOnly。

**My question is, why sharding-jdbc do not route "select ...... for update" to master datasouce by default?**

[2019-12-26 06:52] songjiesdnu opened #3806 "Some question about HintManager in sharding-jdbc"
## I cannot achieve the HintManager instance twice in one thread
There is a case:
[code]
In method A, we set a hint rule, and we also want to set another hint rule in method B.By reading the source code, we found that, we cannot achieve the same instance of HintManager again, thus we cannot set another rule in method B.
Is there some means we can use to meet our demand?

[2019-12-26 08:10] geomonlin opened #3807 "Statement parameter more not set, when using springboot-mybatis-hikari encryption"
version: proxy-dev

[code]

[2019-12-26 08:19] tuohai666 commented on #3801
@Simbafa Please tell me:
1. The connector/j version for sharding-proxy.
2. What is your client and version?
3. What is the MySQL version?

BTW, you don't need to set ** useServerPrepStmts=true**, because sharding-proxy already set this inside its codes.

[2019-12-26 08:36] tuohai666 commented on #3801
@Simbafa
Can you tell me how did you fix this issue?

 `[DEBUG] 14:33:14.155 [ShardingSphere-Command-0] o.a.s.s.f.m.c.MySQLCommandExecutorFactory - Execute packet type: COM_STMT_PREPARE, value: MySQLComStmtPreparePacket(sql=/*{"Cookie":"cookie"}*/select * from dbrest)
[ERROR] 14:33:14.159 [ShardingSphere-Command-0] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.ClassCastException: or

[2019-12-26 09:06] #3807 closed

[2019-12-26 09:30] terrymanu commented on #3805
duplicated with #1496

[2019-12-26 09:30] #3805 closed

[2019-12-26 09:31] huang-gz commented on #3806
use org.apache.shardingsphere.api.hint.HintManager#clear(), Clear threadlocal for hint manager.

[2019-12-26 09:31] terrymanu commented on #3806
Hint should not call nested, if user do that, will throw exception: `Hint has previous value, please clear first.`

[2019-12-26 09:31] #3806 closed

[2019-12-26 09:38] terrymanu commented on #3789
I prefer no. because every company has their own encrypt policy for database access. It is not a core scope of an OSS

[2019-12-26 09:41] #3755 closed

[2019-12-26 09:42] terrymanu commented on #3700
Closed because no response anymore.

[2019-12-26 09:42] #3700 closed

[2019-12-26 09:43] terrymanu commented on #3786
I guess should be sharding databases

[2019-12-26 09:47] terrymanu commented on #3210
I don't know what is it. We only can talk about SQL, not ORM frameworks.

[2019-12-26 10:12] zhegexiaohuozi commented on #3210
Yeah,this issue should really be described as a support integrity issue for mybatis.Under mybatis, you do lose the variable after 'ON DUPLICATE KEY UPDATE'. Just watching the discussion, by the way.

[2019-12-26 10:16] Simbafa commented on #3801
@tuohai666
1. mysql-connector-java-5.1.42.jar
2. test application is created using java
3. mysql 5.7
4. the configuration is already included, please refer to the previous section.

Our purpose of using this project is not to split one table to multiple databases.
Our purpose is to limit the data access by applying some where/value limitations.
So I hard coded to create a TransparentSchema.

Previ

[2019-12-26 10:23] tuohai666 commented on #3801
It's OK. I'll fix this issue soon.

[2019-12-26 10:28] itxiaole commented on #3786
@terrymanu I guess should be sharding databases

[2019-12-26 10:50] KomachiSion commented on #2884
PR#3663 will cause new issue #3770 , so revert this PR and reopen this issue.

I think we should fix this issue with implementing the DDL of encrypt.

[2019-12-26 10:54] minghu-zhang opened #3810 "When the default character code of my project is not UTF-8, decryption fails due to scrambling"
When the default character code of my project is not UTF-8, decryption fails due to scrambling

[2019-12-26 12:20] songjiesdnu commented on #3806
the problem is that when i want to use HintManager in some place, i do not known HintManager has been set in other place or not.
what i need is HintManager can add a static method to check whether HintManager has been seted.

[2019-12-26 12:44] haocao commented on #3788
@uffy The docker image has been released again, please try the latest version again, thanks.

[2019-12-26 16:07] #3797 closed

[2019-12-27 01:41] dxf2006 opened #3812 "Can't parallel execute sql, when connection autoCommit is false, readOnly is ture,max.connections.size.per.query is greater than 1"
SQLExecuteTemplate  serial exec sql by  connection.isHoldTransaction(),  if add connection.isReadOnly()  check , whether it will better, this scenario can parallel execute.

    SQLExecuteTemplate    sqlExecuteTemplate = new SQLExecuteTemplate(executeEngine, connection.isHoldTransaction() && !connection.isReadOnly());

[2019-12-27 01:44] minghu-zhang commented on #234
天威诚信 https://www.itrus.cn

[2019-12-27 01:57] itxiaole commented on #3786
@terrymanu   Shard database query, is that ok

[2019-12-27 02:01] itxiaole opened #3813 "Sharding JDBC does not support oracle insert all syntax"
The order insert all statement, which is fine in the database, does not seem to be supported by Shrding JDBC

       INSERT ALL

            into order_info_1 (
						ORDER_ID,
            ORDER_PRICE,
            ORDER_INVENTORY)
            VALUES
            (11,1,2)
        into order_info_1 (
						ORDER_ID,
            ORDER_PRICE,
            ORDER_INVENTORY)
            VALUES

[2019-12-27 02:24] RaigorJiang commented on #234
开通金融 https://www.ktjr.com/

[2019-12-27 02:26] itxiaole opened #3814 "Sharding JDBC, errors caused by case, database oracle"
#Configuration information:

[code]

#oracle insert

[code]

#error message

[code]

#The solution

[code]

[2019-12-27 02:30] itxiaole commented on #3814
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC1</version>
        </dependency>

[2019-12-27 02:30] itxiaole commented on #3813
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC1</version>
        </dependency>

[2019-12-27 02:34] SteNicholas commented on #3814
@itxiaole Could you please try 4.0.0-RC3 version?

[2019-12-27 02:48] SteNicholas commented on #3813
@itxiaole In current version, OracleParser doesn't support ALL syntax. @terrymanu Please assign to me to support this.

[2019-12-27 03:36] haetao opened #3817 "Sharding-Proxy starts up failed with Orchestration in scenario `sharding+encrypt+masterSlave`."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-27 03:54] jackiesteed commented on #234
亚朵 www.yaduo.com

[2019-12-27 03:56] itxiaole commented on #3814
@SteNicholas  I cut to version 3 and got a direct error. I'll see what's wrong

error message:
2019-12-27 11:54:13.052  INFO 31084 --- [           main] o.a.s.core.util.ConfigurationLogger      : Properties
{}

2019-12-27 11:54:13.454  WARN 31084 --- [           main] s.c.a.AnnotationConfigApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.sp

[2019-12-27 04:16] wqzwh opened #3818 "Upgrade the node version of pom.xml file"
Background introduction:

In the UI project, the pom.xml file specifies that the node version is v6.10.0, and the NPM version is v3.10.10. If the node configuration is upgraded directly, the use of old users will be affected (node_modules already exists locally file), in order to achieve node upgrade without affecting the use of old users, the following modifications are made:

Delete the local no

[2019-12-27 04:55] #3810 closed

[2019-12-27 04:58] #3801 closed

[2019-12-27 05:21] terrymanu commented on #3814
Hi, we are just doing a open source project, can you remove your moody words?
Let's talk about how to improve the project, is it OK?

[2019-12-27 05:25] terrymanu commented on #3813
No plan to support more oracle dialect, I want leave it to volunteer.
Anybody who want to do this feature, we can talk about details, or just reference about MySQL's `insert values (), (), ()...`

[2019-12-27 05:26] terrymanu commented on #3814
The title cannot summary your problem, can you change the title to make it for search friendly?

[2019-12-27 05:27] terrymanu commented on #3812
Can you change the title for search friendly?

[2019-12-27 05:31] terrymanu commented on #3786
I am not sure your real mean, can you find a person who can write English and help you translate?

[2019-12-27 05:33] terrymanu commented on #3670
@lightning-pro  Can we close this issue?

[2019-12-27 05:57] itxiaole commented on #3814
@terrymanu  I'm very sorry. I'll pay attention next time. My English is not very good and my translation is not very accurate

[2019-12-27 05:58] #3786 closed

[2019-12-27 07:23] #3814 closed

[2019-12-27 08:16] SteNicholas commented on #3817
@haetao I don't understand the bug you said about. And Why the version sharding-proxy is RC4?

[2019-12-27 08:37] haetao commented on #3788
@uffy Hi! you use docker-compose.yaml to use sharding-proxy  ,why not try to use `docker-compose up`  to  build  sharding-proxy container? And the latest image of sharding-proxy
 is not `shardingsphere/sharding-proxy:latest`  , it is `apache/sharding-proxy:latest`.

[2019-12-27 08:53] lightning-pro commented on #3670
sure

[2019-12-27 08:53] #3670 closed

[2019-12-27 09:23] uffy commented on #3788
@haocao @haetao

The problem seems still here, I'd try to build image myself and it work fine, but it is better for me if there is a working-fine official image.

-----

➜  ~ docker pull apache/sharding-proxy:latest
latest: Pulling from apache/sharding-proxy
Digest: sha256:ab8634da397da09807f913dc428baa01fbd6b4f9f38843423d909e06a5f0683d
Status: Image is up to date for apache/sharding-proxy:latest

[2019-12-27 09:27] Suancaiyu0707 commented on #234
哈啰出行 https://www.helloglobal.com/

[2019-12-27 10:10] q1waq1wa commented on #234
信也科技 https://www.ppdai.com/

[2019-12-27 10:28] caszhou opened #3822 "SQLParseEngine parse mysql update sql fail"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-12-27 11:27] SteNicholas commented on #3822
@caszhou Yeah, the bug is that MySQLParser parses exception for update statement including more than 1 `\n`. @terrymanu Please assign to me to fix this bug.

[2019-12-27 11:28] terrymanu commented on #3822
@SteNicholas Thank you, assigned.

[2019-12-27 11:44] haocao commented on #3788
@uffy
Could you please remove your image firstly?After removed the local image and download the newest image, it could work.
➜  ~ docker rmi -f $(docker images -q)
Deleted: sha256:985d87dd0d089dfe55ddbc9a1dda77f536560b57d58c77e3a954228c4a7120d6
➜  ~ docker pull apache/sharding-proxy:latest
latest: Pulling from apache/sharding-proxy
5040bd298390: Already exists
fce5728aad85: Already exists
76610ec2

[2019-12-27 12:02] caszhou commented on #3822
3Q, waiting for release.

[2019-12-27 12:05] toby1024 opened #3823 "how to dynamic work.id for snowflake"
In `SnowflakeShardingKeyGenerator.java:44` says

<p>
  Call @{@code SnowflakeShardingKeyGenerator.setWorkerId} to set worker id, default value is 0.
 </p>

but the the getWorkId method is private and there isn't have setWorkId method.
I need dynamic set it from the IP address, how can I setWorkId?

[2019-12-27 13:29] dongzl commented on #3823
Hi @toby1024 , You can try `org.apache.shardingsphere.orchestration.internal.keygen.LeafSnowflakeKeyGenerator`, it can init workId at `RegistryCenter`.

[2019-12-27 15:11] cherrylzhao commented on #3545
I have found the root cause. postgreSQL needs to config `max_prepared_transactions` in `postgresql.conf`.  since default value is zero, XA feature have been disabled.

[2019-12-27 15:14] cherrylzhao commented on #3545
when I test Sharding-JDBC using Postgresql XA, another problem have occurred. I will submit a PR to fix it as soon as possible

[2019-12-27 23:41] toby1024 commented on #3823
It will introduce zookeeper，not the best way for me

[2019-12-28 02:18] terrymanu commented on #3823
FIY: https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/configuration/config-java/

[2019-12-28 02:18] #3823 closed

[2019-12-28 14:32] sluk3r opened #3826 "improve unit coverage by ignoring lombok code in jacoco"
It seems that, by ignoring lombok code in jacoco, we can improve unit coverage hugely.

Demo example is [here](https://mp.weixin.qq.com/s/oLT7Kxm5fhl_nICeuMVJIg)

[2019-12-28 15:20] #3826 closed

[2019-12-28 21:23] SteNicholas commented on #3822
@caszhou You should modify the SQL like
[code]
or
[code]

[2019-12-29 02:20] HongJinFeng commented on #3635
After my investigation, The constructor method of class TableRule convert logic table name to lower case, Can i ask the reason? What is the concern? It must has a reason that convert logic table to lower case. @terrymanu

[2019-12-30 01:31] xiyelife commented on #234
马上金融  https://www.msxf.com/
![image](https://user-images.githubusercontent.com/8772975/71565181-0fda5400-2ae7-11ea-912e-0eec9c7d47ad.png)

[2019-12-30 02:00] cherrylzhao commented on #3545
see #3825

[2019-12-30 02:00] #3545 closed

[2019-12-30 02:22] suhuaguo commented on #234
上海 soul app
https://www.soulapp.cn/

[2019-12-30 02:50] zhaozengbin commented on #234
对啊网 https://www.duia.com

[2019-12-30 03:05] caoweiyu commented on #234
佰裕行科技（深圳）有限公司 https://innoways.com

[2019-12-30 03:10] uffy commented on #3788
I found it's a docker registry mirror's issue, it not up the image to date, but finally, it is working, thanks

[2019-12-30 03:10] #3788 closed

[2019-12-30 03:47] fenghuanfun opened #3830 "` having` not support while route to more than one table"
## Bug Report

### Which version of ShardingSphere did you use?
installed source code ` 4.0.0-RC4-SNAPSHOT`
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
support mysql ` having` while route to more than one table
### Actual behavior
not support and cause exception
` MySQLSyntaxErrorException: You have an error in your SQL syntax; check the manu

[2019-12-30 03:56] #3817 closed

[2019-12-30 03:58] terrymanu commented on #3830
Do not support HAVING.
FYI: https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/

[2019-12-30 03:58] #3830 closed

[2019-12-30 03:59] terrymanu commented on #3812
Can you provide your rule configuration and SQL?

[2019-12-30 03:59] #3789 closed

[2019-12-30 04:01] terrymanu commented on #3681
ShardingSphere need to load table metadata. How many tables in your default data source?

[2019-12-30 04:02] terrymanu commented on #3713
Closed because no response anymore.

[2019-12-30 04:02] #3713 closed

[2019-12-30 04:04] CatDogZ commented on #3681
@terrymanu  about two hundred tables

[2019-12-30 04:05] terrymanu commented on #3635
The reason of convert logic table name to lower case is ShardingSphere should case insensitive of logic table name.

[2019-12-30 04:32] ma1562013338 commented on #3681
My default data source has about a thousand tables because it contains split tables. It takes five or six minutes to start a project, which is very slow.

[2019-12-30 05:18] LuciferZK opened #3831 "sharding-jdbc-spring-boot-starter 4.0.0-RC2 integration version problem"
My English is not very good, I use Google Translate.

_Description:

Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured.

Reason: Failed to determine a suitable driver class
_
pom.xml:
[code]
sharding-jdbc-spring-boot-starter 4.0.0-RC2 integration will appear Failed to configure a DataSource: 'url' attribute is not specified and no emb

[2019-12-30 07:05] spawpaw opened #3832 "Support for columns that only for routing"
For a simple logic delete scenario, assuming that we have a table split into 2 physical tables:

table:
[code]

## Current behaviour

Configuration:
[code]

SQLs before rewrite:
[code]

SQLs after rewrite:
[code]

Currently, if I want to route to those two tables above, the table `order` must have a column called "deleted".
But in the database, all the data in `order_deleted` is `deleted`, all the

[2019-12-30 07:33] KomachiSion commented on #3831
Sorry, I can't get your problem.
Do you mean that you configure the `url` of JDBC, but `shardingsphere` can't find the configuration?

[2019-12-30 07:39] yanyzy commented on #3832
Hi @spawpaw , it looks like our new feature in milestone 5.0.0 which we are developing it. route by a boolean column and remove it after rewrite. this feature is used for online testing. it can also suit the way you use it

[2019-12-30 07:40] #3832 closed

[2019-12-30 07:41] yanyzy commented on #3832
Thanks for your feedback!

[2019-12-30 07:56] simayi opened #3833 "两张表通过相同字段进行分表后，进行连表查询，结果有误"
table1和table2都是通过TENANT_ID进行分表，table1和table2各分了8张表；
使用Springboot+Mybatis；
Mapper文件中的SQL为：
select
		distinct t.ITEM_ID T_ITEM_ID, t.*
		from table1 t inner join table2 r on t.TENANT_ID = r.TENANT_ID and t.ORG_ID = r.ORG_ID
		where r.TENANT_ID = 8
		and t.TENANT_ID = 8
		and r.ORG_ID = 12
		and t.ITEM_STATUS = 1
                and t.CATEGORY_ID = 1
启动后调用该SQL，打印的SQL日志中：
查询结果总数的SQL返回4条，正确，查询结果却返回0条；

[2019-12-30 08:01] LuciferZK commented on #3831
Yes, but when I downgraded the sharding-jdbc-spring-boot-starter from 4.0.0-RC2 to 4.0.0-RC1, no error is reported.

[2019-12-30 08:02] KomachiSion commented on #3831
@LuciferZK , I have some advise for you, you can have a try to solve the problem.

1. use `druid` replace `druid-spring-boot-starter`, and remove `main:allow-bean-definition-overriding: true` then retry.
2. upgrade shardingsphere to 4.0.0-RC3 and retry.

If the problem still happened, Please provide more detail log. Providing a example code to GitHub will be better.

[2019-12-30 08:05] simayi commented on #3833
111

[2019-12-30 08:05] #3833 closed

[2019-12-30 08:24] terrymanu commented on #3833
For English only

[2019-12-30 08:45] LuciferZK commented on #3831
Simple example, no code, only jar package and configuration；

1.Create database order_db；

    CREATE DATABASE `order_db` CHARACTER SET 'utf8' COLLATE 'utf8_general_ci';
2.Create t_order_1, t_order_2 tables in order_db；

    DROP TABLE IF EXISTS `t_order_1`;
    CREATE TABLE `t_order_1` (
    `order_id` bigint(20) NOT NULL COMMENT '订单id',
    `price` decimal(10, 2) NOT NULL COMMENT '订单价格',
    `us

[2019-12-30 08:56] #3822 closed

[2019-12-30 10:47] KomachiSion commented on #3831
@LuciferZK , For my test, I found that the problem do not happen every time. So I think it maybe caused by the version conflict between spring dependence.

After I exclude all spring dependence in `mybatis-plus-boot-starter`, `mybatis-spring-boot-starter` and `druid-spring-boot-starter`, and then specify all spring version 2.2.2.RELEASE, I can work well.

Can you try to unite the version by exclus

[2019-12-30 12:31] #3831 closed

[2019-12-30 15:28] HongJinFeng commented on #3635
Got it.

[2019-12-30 16:54] maojing123 opened #3839 "广播表、绑定表配置无效 yml是否需要加spring: shardingsphere:前缀"
麻烦帮忙看看 如下对应的yML配置为什么没有生效

![image](https://user-images.githubusercontent.com/48919665/71591490-874fc800-2b67-11ea-8997-f82baa0af224.png)

官网的看yml对应广播表是broadcastTables
![image](https://user-images.githubusercontent.com/48919665/71591631-080ec400-2b68-11ea-80ec-bc45dd21d15c.png)

但是按照官网的配置不生效 请问 如何配置了 是否有相关的demo或者文章之类的（不看官网的 官网的真的和实际的配置不一样配置好久没生效）麻烦指点

2.广播表 我理解是 每个数据库db上都配置如字典表。 那么 A 库 修改了字典表 是会自动同

[2019-12-30 16:58] maojing123 commented on #3839
不加spring:
  shardingsphere:好像按照官网的配置是dataSources：shardingRule：开头的 。是不是官网的少了部分没有写出来了？

[2019-12-31 01:46] strongduanmu commented on #234
南京爱福路汽车科技 http://www.f6car.com/

[2019-12-31 02:19] beijixi opened #3840 "Why does the INSERT SQL have no routing"
## Question

**sql:**
`INSERT INTO LDPerson(PersonID,CustomerNo,Name,Sex,Birthday,IDType,IDNo,Password,NativePlace,Nationality,RgtAddress,Marriage,MarriageDate,Health,Stature,Avoirdupois,Degree,CreditGrade,OthIDType,OthIDNo,ICNo,GrpNo,JoinCompanyDate,StartWorkDate,Position,Salary,OccupationType,OccupationCode,WorkType,PluralityType,DeathDate,SmokeFlag,BlacklistFlag,Proterty,Remark,State,VIPValue,O

[2019-12-31 04:08] #3839 closed

[2019-12-31 04:08] terrymanu commented on #3839
**For English only**, other languages will not accept.

[2019-12-31 04:10] terrymanu commented on #3840
What is your version? Can you provide your `sql.show`?

[2019-12-31 04:19] beijixi commented on #3840
**version:**4.0.0-RC1

**sql.show:**
**Logic SQL:** INSERT INTO LDPerson(PersonID,CustomerNo,Name,Sex,Birthday,IDType,IDNo,Password,NativePlace,Nationality,RgtAddress,Marriage,MarriageDate,Health,Stature,Avoirdupois,Degree,CreditGrade,OthIDType,OthIDNo,ICNo,GrpNo,JoinCompanyDate,StartWorkDate,Position,Salary,OccupationType,OccupationCode,WorkType,PluralityType,DeathDate,SmokeFlag,BlacklistFlag,Pro

[2019-12-31 04:51] terrymanu commented on #3840
Any exception occur?

[2019-12-31 04:53] terrymanu commented on #3840
I guess in your SQL have some keyword of MySQL, such as `password`, `Position`.
Because of 4.0.0-RC1 is not stable, so can you try 4.0.0-RC3?

[2019-12-31 09:05] SteNicholas opened #3841 "SQLParseEngine support parse subquery statement"
## Feature Request

Currently `SQLParseEngine` doesn't support parse subquery statement, but for many business scenario subquery is indeed significant. Therefore, it is necessary to support parse subquery statement based on Antlr4.

Please answer these questions before submitting your issue. Thanks!

No.

### Describe the feature you would like.

`SQLParseEngine` enable to support parse subquery s

[2019-12-31 09:37] xiyelife opened #3842 "Insert failed when inserted sql columns contains “system” (missing prepared paramters)"
### Which version of ShardingSphere did you use?
4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
Insert successfully when inserted sql columns contains “system”
### Actual behavior
sharding parse SQL error:
line 2:7 no viable alternative at input '(system'
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQ

[2019-12-31 09:41] beijixi commented on #3840
**Thanks**
I add the reference symbol to all the columns，It has been running normally.

[2019-12-31 09:46] SteNicholas commented on #3842
@xiyelife I will fix this currently.

[2019-12-31 09:46] caszhou commented on #3822
The really reason for this error is the field `source`.

[2019-12-31 09:50] SteNicholas commented on #3822
`SOURCE` is unreserved word. This is the bug, but `\n\n\n` doesn't support.

[2019-12-31 10:48] xiyelife commented on #3842
@SteNicholas  but sharding parse the insert sql error.   The sql is generated by mybatis automi and it's used in many scenes.   I think it need to fix .

[2019-12-31 10:56] terrymanu commented on #3842
@xiyelife Can you provide all exception info?

[2019-12-31 11:59] xiyelife commented on #3842
[code]

[2019-12-31 12:08] xiyelife commented on #3842
@terrymanu
`org.apache.shardingsphere.core.parse.SQLParseEngine#parse0`
The parsed sql do not has the columns、values and so on. Only has the table name.
![image](https://user-images.githubusercontent.com/8772975/71621233-15c85600-2c09-11ea-8451-2498dd61e5fd.png)
I modify locally for adding SYSTEM in the BaseRule.g4(unreservedWord_)  and the sql work well.
![image](https://user-images.githubusercon

[2019-12-31 12:22] xiyelife commented on #3842
@terrymanu
Here is the parse exception, I think that we need to print the parse exception to the logger rather than system out.

`line 6:29 no viable alternative at input '(cust_id,unique_id,name,ident,mobile,password,reg_time,modify_time,reg_source,reg_app_channel,reg_device_info,status,is_mobile_authed,complate_cust_info,time_inst,time_upd,has_checked,system'
`
![image](https://user-images.githu

[2019-12-31 12:25] xiyelife commented on #3770
after Revert PR#3663 , it work well in 4.0.0-RC4-SNAPSHOT.

[2019-12-31 12:25] #3770 closed

[2019-12-31 12:46] terrymanu commented on #3842
The keyword `SYSTEM `is not defined in the lexer file `Keyword.g4`, I don't think it can be worked fine if you just add it into `BaseRule.g4`

[2019-12-31 12:47] #3840 closed

[2019-12-31 12:50] xiyelife commented on #3842
But my unit test(the above sql) really pased for added.

[2019-12-31 15:42] xiyelife commented on #3842
`SYSTEM `  has bean defined in the lever file `MySQLKeyword.g4`(in line 1395), so it works fine.

[2019-12-31 15:56] xiyelife commented on #3842
Reserverd keywords can be used in the sql's columns for mysql, such as id/name and so on.

[2020-01-01 08:30] SteNicholas commented on #3842
`MySQLKeyword.g4` includes `SYSTEM` keyword, but `unreservedWord_` doesn't include `SYSTEM`. Do you see the  [MySQL reserved keywords](https://dev.mysql.com/doc/refman/8.0/en/keywords.html#keywords-8-0-detailed-S)? In MySQL 8.0, `SYSTEM` is reserved keyword. Therefore, the `SYSTEM` doesn't put into `unreservedWord_`. I have already questioned @terrymanu yesterday for this keyword. Out decision is

[2020-01-01 08:33] SteNicholas commented on #3842
Unreserved keywords can be used in the SQL‘s columns for MySQL, not reserved keywords. You put `SYSTEM` keyword to `unreservedWord_` then works well. Please understand this again.

[2020-01-01 10:42] MidnightFiend commented on #2394
with RC1 , i find it load all table in the pointed db, which is not configured in "logic-tables=user,order,...".

is there any way to optimize the problem?

[2020-01-01 10:45] MidnightFiend commented on #2394
i had try this way. it`s not work. still go to get all table column metadata.

    <sharding:data-source id="shardingDataSource">
        <sharding:props>
            <prop key="check.table.metadata.enabled">false</prop>
        </sharding:props>
    ...

[2020-01-01 11:05] xiyelife commented on #3842
So，how can we do with this issue？ The most popular mysql’s version is 5.x and I have many busi  tables has been used this column，you known that change is hard to the busi technical units.

[2020-01-01 12:49] SteNicholas commented on #3842
You just named this column name as
[code]

[2020-01-01 13:06] xiyelife commented on #3842
Not only one SQL，there are many applications whose used the mybatis generator auto created.

[2020-01-01 15:04] SteNicholas commented on #3842
Please upgrade the version of MySQL to 8.x, and check the `SYSTEM` keyword. Currently, MySQLParser is based on 8.x version of MySQL. About adapter to different version of MySQL, it doesn't support. If you indeed need, you could add `SYSTEM` keyword to `unreservedWord_ ` and compile a version by yourself to use.

[2020-01-02 05:39] LuciferZK opened #3845 "mybatis-plus or pagehelper and sharding-jdbc implement paging, but eventually lead to a full table query"
Hello, the problem is that I use the jar package of mybati-plus or pagehelper to integrate with sharding-jdbc to implement the paging function, resulting in a full table query.
pom.xml：

[code]

application.yml:
[code]

Test code snippet：

[code]

Console print：
[code]

I use pagehelper for pagination，The result is not what I expected. The paging effect was not achieved, but all the queries came o

[2020-01-02 05:54] #3842 closed

[2020-01-02 06:07] RaigorJiang commented on #3845
Hi, LuciferZK
Please check your usage of mybatis-plus and pagehelper to make sure logic SQL is correct.
If your logic SQL doesn't have limit statement, SS can not understand your intentions either.

[2020-01-02 06:19] terrymanu commented on #3845
Hi, your logic SQL is `SELECT * FROM `t_dict` LIMIT 1,2;` which do not include any sharding key, it should be full table query.

[2020-01-02 06:19] #3845 closed

[2020-01-02 06:24] RaigorJiang commented on #3845
@terrymanu
LuciferZK's doubt is that there is no pagination with  pagehelper,  when the logic SQL is `SELECT  dict_id,code,type,value  FROM t_dict`.

[2020-01-02 07:16] haetao commented on #3635
@sunliangyu Hi ! Can you show your configurations? I cant reproduce.

[2020-01-02 08:20] ma1562013338 commented on #3681
Will this problem be optimized in the future?

[2020-01-02 10:28] lybbyl opened #3847 "use st_distance_sphere（mysql function）caused a bug"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-02 10:40] wqzwh opened #3848 "Support data migration function"
## Feature Request

Source of functional logic #3256

In order to keep the interface data format unified, the following structure is recommended

[code]

UI hand drawing

![image](https://user-images.githubusercontent.com/16662470/71663165-0bd05f80-2d8f-11ea-9651-d1bcba44a211.png)
![image](https://user-images.githubusercontent.com/16662470/71663170-0ffc7d00-2d8f-11ea-9ac8-1c833f7880a9.png)
![image

[2020-01-02 10:43] SteNicholas commented on #3847
@lybbyl I will support `st_distance_sphere ` function. @terrymanu Please assign to me for function support.

[2020-01-02 10:50] dongzl commented on #3847
@SteNicholas , assign to you. ^_^

[2020-01-02 10:51] lybbyl commented on #3847
Thank you so much for your response.

[2020-01-02 10:51] HongJinFeng commented on #3635
Hi ! Can you show your configurations and version of sharding-sphere?

[2020-01-02 11:20] ssxlulu opened #3849 "Add datasources check before start scaling job"
Before starting a scaling job, we should test the connections of the source‘s and target's datasource.

- [ ] Check source's datasource
    - [x] Check the connection availability of source's datasource
    - [x] Check user's privileges of the source's datasource (MySQL)
    - [ ] Check user's privileges of the source's datasource (PostgreSQL)
- [x] Check target's datasource
    - [x] Check the co

[2020-01-02 11:24] pengqiang323 opened #3850 "批量插入"
请问shardingjdbc支持批量插入吗？我刚才测试批量插入性能很差，一次性插入1k条数据需要10s

[2020-01-02 11:26] KomachiSion commented on #3849
Good idea, can you list what should do in issue?

[2020-01-02 11:31] ssxlulu commented on #3849
Yes. Before starting a scaling job, we should do these things:
1. check the connection and user's privileges of the source's datasource;
2. check the connection and user's privileges of the target's datasource.

If all checks are ok, then start the job, otherwise, we should through the exception and the job start failed.

[2020-01-02 12:02] pengqiang323 commented on #3850
我的版本好呐

[2020-01-02 12:02] #3850 closed

[2020-01-02 12:13] pengqiang323 opened #3851 "批量插入1000条数据，耗时10S，请问有什么办法优化？"
批量插入1000条数据，耗时10S，请问有什么办法优化？

sharding-jdbc ：4.0.0-RC1
mysql-connector-java ： 5.1.46

以下是我代码，

[code]

[2020-01-02 16:48] terrymanu commented on #3851
**For English only**, other languages will not accept.

[2020-01-02 16:48] #3851 closed

[2020-01-02 16:48] terrymanu commented on #3850
**For English only**, other languages will not accept.

[2020-01-03 00:57] zzeverglow opened #3852 "shardingjdcb 4.0.0-rc2 cannot convert sqlserver timestamp field"
My database table has a timestamp type field.When i query the entity, it give this exception.But it  is all ok when i use 4.0.0 rc1.

org.springframework.orm.jpa.JpaSystemException: could not execute query; nested exception is org.hibernate.exception.GenericJDBCException: could not execute query
	at org.springframework.orm.jpa.vendor.HibernateJpaDialect.convertHibernateAccessException(HibernateJpa

[2020-01-03 01:25] dongzl commented on #3852
Hi, @zzeverglow  can you try rc3 version?

[2020-01-03 01:29] pengqiang323 opened #3853 "It takes 10s to insert 1000 pieces of data in batch. How can I optimize it?"
My table data is 10W records, and it takes 10s to batch add 1000 records，How can I optimize it?

sharding-jdbc-spring version ： 4.0.0-RC1
mysql-connector-java version ：5.1.46

Code：
[code]

[code]

[2020-01-03 01:35] zzeverglow commented on #3852
Cant. R3 cannot work in my project. I cant find the reason why it gives null exception when running. Maybe the jdk version is not right? I use the 1.8 version

[2020-01-03 01:37] pengqiang323 commented on #3853
2020-01-03 09:35:18.674] [main] INFO  org.apache.shardingsphere.core.util.ConfigurationLogger log 134 - ShardingRuleConfiguration
defaultDataSourceName: master
tables:
  t_etcts_ad_mp:
    actualDataNodes: master.t_etcts_ad_mp_202001,master.t_etcts_ad_mp_202002
    logicTable: t_etcts_ad_mp
    tableStrategy:
      standard:
        preciseAlgorithmClassName: com.tzcpa.hngs.ccyboa.connector.config

[2020-01-03 01:42] dongzl commented on #3852
JDK 1.8 is OK, you can paste the rc3's exception.

[2020-01-03 02:10] zzeverglow commented on #3852
datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  shardingsphere:
    sharding:
      master-slave-rules:
        db-sqlweb:
          master-data-source-name: db-sqlweb-write
          slave-data-source-names: db-sqlweb-read
      default-data-source-name: db-sqlweb
  cache:
    cache-names: cacheName1,cacheName2
    caffeine:
      spec: initialCapacity=500,maximu

[2020-01-03 02:12] zzeverglow commented on #3852
implementation("org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.0.0-RC3")
use gradle

[2020-01-03 02:46] software-market opened #3854 "‘NullPointerException’ when getting database index"
the environment  is that sharding-jdbc-4.0.0-rc3,sqlserver2012. Hibernate. Dbcp2 connection pool. Triggered when getting a database index. I  think that  Using DBCP directly does not have this problem. This is a screenshot of sharding- JDBC
![exception](https://user-images.githubusercontent.com/31737411/71704604-429d8880-2e16-11ea-885a-f419e27cd567.png)

In this class, there is a NullPointerExcept

[2020-01-03 02:54] xiyelife opened #3855 "Insert with encrypt does'not handle with the `on duplicate key update` 's prepared statement patameters."
### Which version of ShardingSphere did you use?
sharding-jdbc-4.0.0-RC4-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
`insert into user_info (cust_id, unique_id, name, ident, mobile, password, reg_time, modify_time, reg_source, reg_app_channel, reg_device_info, status, is_mobile_authed, complate_cust_info, time_inst, time_upd, has_che

[2020-01-03 03:01] joewee opened #3856 "Parse `ON DUPLICATE KEY UPDATE xxx= VALUES(xxx)` error"
## Bug Report
when execute sql that likes follow
insert into product_source_list (product_code,store_code,primary_supplier,condition_no,supplier_code,return_mark,purchase_price,price_unit,order_unit,article_no,begin_time,expiration_time,type,creation_date,issued_time,external_id,archived,version) values (?, ?,?, ?,?, ?, ?, ?, ?,?,?,?,?,?,?,?,?,0) on duplicate key update product_code = if(@update_c

[2020-01-03 03:05] xiyelife commented on #3855
And don't support  `INSERT IGNORE ... ON DUPLICATE KEY UPDATE`

[2020-01-03 03:46] terrymanu commented on #3854
Hi, can you change the title for search friendly?

[2020-01-03 03:47] terrymanu commented on #3853
You may use PreparedStatement and parameter markers in your SQL.

[2020-01-03 04:05] pengqiang323 commented on #3853
Thank you for your reply.

It takes 10 seconds to insert 1000 records using shardingjdbc ，And I use the bulk insert statement of mybatis。

The sharding route is correct, But it took too long to insert。

[code]

[2020-01-03 04:06] xiyelife commented on #3855
@terrymanu  Please  assign  this issue to me , I'll fix it, thanks.

[2020-01-03 04:07] terrymanu commented on #3855
@xiyelife  Thank you, assigned.

[2020-01-03 05:49] xiaolongyuan opened #3858 "自增ID算法LEAF_SNOWFLAKE的`service.id`使用疑问"
版本 4.0.0.RC3

service.id | String | leaf_snowflake位于注册中心上的服务标识
-- | -- | --

如何设置 每个实例都不一样？

现在把这个设置成一样  并发下会出现重复ID问题

如果推荐做法是设置成一样 那么是否 如下 代码 判断存在BUG?

[code]

[2020-01-03 05:56] xiaolongyuan commented on #3858
![image](https://user-images.githubusercontent.com/3142363/71709180-ab91fa00-2e30-11ea-9102-20d413a1d077.png)

![image](https://user-images.githubusercontent.com/3142363/71709203-c3697e00-2e30-11ea-827a-35c5655349ea.png)

[2020-01-03 06:23] #3858 closed

[2020-01-03 06:24] terrymanu commented on #3858
**For English only**, other languages will not accept.

[2020-01-03 06:45] xfyang1989 commented on #3853
I also encounter this problem. It's a problem when using batch insert. The number of your inserts, which are parsed every time, is very time-consuming. I hope to help optimize the parsing engine

[2020-01-03 07:47] software-market commented on #3854
@terrymanu

[2020-01-03 08:03] ma1562013338 commented on #3681
@terrymanu Will this problem be optimized in the future?

[2020-01-03 08:04] geomonlin opened #3860 "the inserted string becomes empty using sharding-proxy to connect postgresql when sharding"
shardingsphere proxy version:  dev
database: postgresql
using springboot+ mybatis +HikariDataSource PreparedStatement
![image](https://user-images.githubusercontent.com/26007894/71712595-e308a280-2e40-11ea-8739-e85cb6172d58.png)
print sql:
` ShardingSphere-SQL - Actual SQL: ds_0 ::: INSERT INTO t_order_0 (user_id, address_id, status, order_id) VALUES (?, ?, ?, ?)
RETURNING * ::: [4, 4294967304, ,

[2020-01-03 10:16] #3269 closed

[2020-01-03 10:54] tuohai666 opened #3861 "PostgreSQL Proxy read parameters error in all types except String"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-03 11:39] #3860 closed

[2020-01-03 12:01] #3855 closed

[2020-01-03 12:04] #3861 closed

[2020-01-03 14:00] geomonlin commented on #3860
This problem is resolved by #3861

[2020-01-04 05:40] Sunnycheey opened #3865 "Create tables automatically by ddl"
## Question

**For English only**, other languages will not accept.

Hello, I am a newbie in this field, so my questions maybe a little stupid to you... (But I indeed need some help)

My question is, **how to create actual data node by sql script (ddl)**.

When using tranditional JDBC-Driver, I can call script runner to do this task (by retrieve the only datasource). But in sharding-jdbc, there ar

[2020-01-04 13:38] terrymanu commented on #3853
@xfyang1989 @pengqiang323 Please use PreparedStatement. Statement is slower than PreparedStatement, we just assume they don't care about the performance if user using Statement.

[2020-01-04 13:38] #3853 closed

[2020-01-04 13:39] terrymanu commented on #3853
@xfyang1989 By the way, we have already talk about the problem in previous issue. I think you have  already know it totally.

[2020-01-04 14:27] xfyang1989 commented on #3853
I know what you mean. I mean that the number of batch inserts is not certain. Sharing thinks that all new SQL statements will be parsed

发自我的iPhone

[2020-01-04 16:23] lssprogress opened #3869 "version:4.0.0-RC1 group by bug"
sharding version: 4.0.0-RC1
mybatis-plus version: 3.2.0
logic table name:C
related physical tables and datas as follows:
table A:
act_amount  order_type
1000                    0
1000                    1

table B:
act_amount  order_type
300                    0
500                    1

sql desc:  select order_type,sum(act_amount) from C group by order_type
result expected:
order_type   sum(act_a

[2020-01-04 17:52] kimmking commented on #3865
I think we can use a shell script to achieve it.

[2020-01-05 01:47] dongzl commented on #3852
@zzeverglow , what's your sqlserver version and the table structure info, can you provide a github project about this problem, I will recurrent the problem on my dev environment. Thanks.

[2020-01-05 09:36] #3847 closed

[2020-01-05 09:36] terrymanu commented on #3869
Please try 4.0.0 rc3

[2020-01-05 09:52] lssprogress commented on #3869
I have tried rc3 with nothing changed

[2020-01-05 10:54] taojintianxia commented on #3865
hi @Sunnycheey

there is no stupid people in this community, only someone familiar or someone unfamiliar with it.

there are a lot of examples for people to start with : [shardingsphere exmple](https://github.com/apache/incubator-shardingsphere-example/tree/dev/sharding-jdbc-example/sharding-example)

And if I were you, I perfer to have a try for proxy, it's also convenient for DBA or devops :

##

[2020-01-05 15:09] TonyLuo commented on #3782
hi guys, any update on this issue?

[2020-01-06 01:33] HelloNanKe opened #3872 "Must have sharding column with subquery."
I have a sql  like this
[code]
sharding column is another field.
It can be execute in navicat.
In shardingsphere i got a exception
[code]

[2020-01-06 02:22] TracyBin commented on #3681
We encountered the same problem and started very slowly. Solved after the database driver switched to the lower version

[2020-01-06 03:03] terrymanu commented on #3872
Just like exception said: `Must have sharding column with subquery.`

[2020-01-06 03:03] #3872 closed

[2020-01-06 05:29] sunbufu opened #3873 "Modify UI module for new orchestration."
We are working on the last step of [issue 3185](https://github.com/apache/incubator-shardingsphere/issues/3185) for new orchestration. And now we should modify UI module to fit the new orchestration module.

- [ ] Add an orchestration type (config center and registry center) in 'Add a registry' view.
- [ ] Add an orchestration type in `sharding-ui-backend`'s api and `sharding-ui-configs.yaml` file

[2020-01-06 06:06] KomachiSion commented on #3644
Hi @zhuyaoming, in my opinion, The sharding column in ShardingSphere is similar to the primary key, which should can locate the DataNode accurately.
Value `null` for sharding column may cause ambiguity, and it strongly depend on users implements, So ShardingSphere do not support `null` for sharding column in `Insert SQL`.

[2020-01-06 06:41] wenweihu86 opened #3875 "XA事务能解决实例漂移问题吗？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-01-06 06:58] terrymanu commented on #3875
**For English only**, other languages will not accept.

[2020-01-06 06:58] #3875 closed

[2020-01-06 07:14] terrymanu commented on #3766
Closed for no response anymore

[2020-01-06 07:14] #3766 closed

[2020-01-06 07:17] terrymanu commented on #3644
+1, I consider carefully, The constraint of `sharding value not be null` should be followed.

[2020-01-06 07:48] wenweihu86 opened #3877 "Could XA Transaction guarantee consistent when server instance crashed and migrated?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-01-06 08:08] ssxlulu opened #3878 "Refactor of datasourceFactory of shardingscaling"
Now each synctask manager its own datasources, we should refactor the datasourceFactory to let each job to manage its all tasks's datasources.

[2020-01-06 08:47] terrymanu commented on #3878
DatasourceFactory is a public API, We need more discuss before refactor.

[2020-01-06 08:48] ssxlulu commented on #3878
Yes, of cource. More discuss will be needed before the refactor.

[2020-01-06 11:16] ma1562013338 opened #3880 "4.0.0-rc3 version load table metadata error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-06 12:14] alexkuku opened #3881 "Is there any way optimizing "limit" in the following situation？"
## Is there any way optimizing "limit" in the following situation？
I have a table like this：
sign_time|other_fileds
---|---

I want to sharding this table by range strategy using sign_time field.There is a characteristic for the sharded tables is that the sign_time filed will absolutely bigger in the latter tables than before.
##
Suppose there are two physical tables of the record table:
***record

[2020-01-06 12:43] geomonlin commented on #3555
I  also find this problem.  Incorrect response result with PostgreSQLCommandCompletePacket  in sharding-proxy.
![image](https://user-images.githubusercontent.com/26007894/71818648-83222e00-30c4-11ea-914d-eb83aec33d7e.png)
These are affected in PostgreSQLComBindExecutor.
![image](https://user-images.githubusercontent.com/26007894/71818704-a816a100-30c4-11ea-9d9e-cc55da015fc9.png)

[2020-01-06 13:37] dongzl commented on #3880
Hi @ma1562013338 , reference this issue #3582 .

[2020-01-06 13:37] #3880 closed

[2020-01-06 13:57] terrymanu commented on #3881
This is a good idea, but it only can use without order by, is it?

[2020-01-06 14:00] terrymanu commented on #3869
Can you provide the log of `sql.show` and your sharding rule configuration?

[2020-01-06 14:02] terrymanu commented on #3865
ShardingSphere can support DDL, you can try to create your table via logic table name.

[2020-01-06 14:05] terrymanu commented on #3812
Closed because no response anymore

[2020-01-06 14:05] #3812 closed

[2020-01-06 14:06] terrymanu commented on #3681
Can you provide the log of `sql.show`?

[2020-01-06 14:08] terrymanu commented on #3681
@CatDogZ > about two hundred tables

What is the time spend we you load two hundred tables without ShardingSphere?
We need to clarify the performance issue cause from huge tables count or just from ShardingSphere?

[2020-01-06 14:10] terrymanu commented on #3782
I just label this issue as volunteer wanted, anybody who interested with this issue, please discuss here.

[2020-01-06 14:16] terrymanu commented on #3210
What is your log of `sql.show`?

[2020-01-06 14:16] SteNicholas commented on #3856
@terrymanu Please assign to me for fixing. I thought that this SQL is too long, therefore I need to validate this whether is bug.

[2020-01-06 14:18] terrymanu commented on #3856
@SteNicholas, Thank you, assigned.

[2020-01-06 14:55] alexkuku commented on #3881
Thanks for your attention!
In this situation, I think we can use order by on the sign_time field, because the sign_time filed is the sharding field and  not absolutely ordered by time asc. But other fields, as you said, can not use order by.
This limit strategy are mainly used in log data,like record,attendance and so on,which can be easily range sharded by time dimension. Have I made myself clear

[2020-01-07 01:41] KomachiSion commented on #3878
I think `datasourceFactory` in shardingscaling now can be separated to two part.
The first part still call `datasourceFactory`, and just create datasource from configurations.
The other part refactor to `manager`, which stores and managers all datasources. Jobs or tasks should get their datasources from `manager`.

[2020-01-07 01:49] limingwei commented on #234
淘金云客服 ( 四川淘金你我信息技术有限公司 ) http://www.itaojin.cn ( http://t.itaojin.cn )

[2020-01-07 02:09] lssprogress commented on #3869
**config:**
spring.shardingsphere.sharding.tables.tunnel_order.actual-data-nodes=ds0.tunnel_order$->{2016..2020}$->{1..4}
spring.shardingsphere.sharding.tables.tunnel_order.table-strategy.standard.sharding-column=create_date
spring.shardingsphere.sharding.tables.tunnel_order.table-strategy.standard.precise-algorithm-class-name=OrderTableShardingAlgorithm
spring.shardingsphere.sharding.tables.tunne

[2020-01-07 02:16] cherrylzhao commented on #3877
If you config the location of XA log file to a cloud filesystem, it can be guaranteed.

[2020-01-07 02:19] KomachiSion opened #3884 "Insert SQL with null value of shardingColumns may be routed to multiple dataNodes."
## Bug Report

According to the discussion in #3644. the value of shardingColumns should not be `null`.
But I found that there are different behavior between literal SQL and parameters SQL.

When I use literal SQL like `INSERT INTO t_order (order_id, user_id, status) VALUES (100, null, 'xxx')`, The SQL will be routed to multiple data nodes.

And if I use parameters SQL like `INSERT INTO t_order (o

[2020-01-07 03:05] CatDogZ commented on #3681
@terrymanu if i don't config default source setting at application.properties(just only set sharding rules), tomcat start very fast. also, same as starting without  ShardingSphere. However,  when i set default database source,  the problem occured.

[2020-01-07 03:20] kekerzzZ opened #3886 "Can we consider sharing the pool of sharded data source connections？"
### Is your feature request related to a problem?
Yes.

### Describe the feature you would like.

- Each shard needs to reconfigure the connection pool. Is it possible to add switches for users to choose whether to share or not.

- Now I have customized SpringBootConfiguration to achieve the purpose of reuse.

[code]

- Is this reasonable？

[2020-01-07 05:18] tristaZero commented on #3854
@software-market  Hi could your give more details? Such as, who is null? resultSet or resultSet.getString(i)?

@KomachiSion Hi, i found you are the author of this class, could you provide some helps to him？ Thanks.

[2020-01-07 05:30] KomachiSion commented on #3854
@software-market , Can you provide full stack information?

[2020-01-07 05:43] #3818 closed

[2020-01-07 07:43] Ah39 commented on #3366
2017-2019，2.x to 4.x  The bug   not fixed
https://github.com/apache/incubator-shardingsphere/issues/286

[2020-01-07 08:15] terrymanu commented on #3886
Share pool config may let user confuse, for each connection pool should has independent config.

[2020-01-07 09:12] SteNicholas commented on #3884
@KomachiSion Assign to me please.

[2020-01-07 09:16] terrymanu commented on #3881
the `order by` in SQL is up to user, how about is the `order by item` is not sharding key?

[2020-01-07 09:50] alexkuku commented on #3881
OK.Thank you!This is indeed a special situation.
It seems that I can only get that effect by optimizing my business code.

[2020-01-07 11:24] Sunnycheey commented on #3865
Thanks for your all, and thanks for the suggesstion of @taojintianxia , I am going to try sharding-proxy.

Feel free to close the issue.

[2020-01-07 12:44] affiliate opened #3893 "Need spring xml configuration of hint strategy sample"
Need spring xml configuration of hint strategy sample

[2020-01-07 14:33] terrymanu commented on #3893
Can you close this issue and create the same on in the example repo[1]?

[1] https://github.com/apache/incubator-shardingsphere-example/issues

[2020-01-08 00:44] #3884 closed

[2020-01-08 01:39] KomachiSion commented on #3869
@lssprogress Would you mind provide these two information to help us reproduce problem?

1. table structure and init datas in `tunnel_order20194` and `tunnel_order20201`
2. `config.OrderTableShardingAlgorithm` algorithm code.

[2020-01-08 01:47] lssprogress commented on #3869
How can I provide it to you？

[2020-01-08 01:53] KomachiSion commented on #3869
Put them to comment.
If the content is too much, you can upload to github repo, and provide repo address in the comments.

[2020-01-08 02:10] zzeverglow commented on #3852
Sqlserver version is 2012.   A timestamp field in the table cause the exception. Sorry i cant provide the project in github becasue it is a project of the company where i am working in.

[2020-01-08 02:52] lssprogress commented on #3869
@Slf4j
public class OrderTableShardingAlgorithm implements PreciseShardingAlgorithm<String>, RangeShardingAlgorithm<String> {

    @Override
    public String doSharding(Collection<String> collection, PreciseShardingValue<String> preciseShardingValue) {
        String tableNode=null;
        Date createDate = DateUtil.parseDateFromStrYyyyMMdd2(preciseShardingValue.getValue());
        Calendar c =

[2020-01-08 03:00] lssprogress commented on #3869
@Slf4j
public class OrderTableShardingAlgorithm implements PreciseShardingAlgorithm<String>, RangeShardingAlgorithm<String> {

    @Override
    public String doSharding(Collection<String> collection, PreciseShardingValue<String> preciseShardingValue) {
        String tableNode=null;
        Date createDate = DateUtil.parseDateFromStrYyyyMMdd2(preciseShardingValue.getValue());
        Calendar c =

[2020-01-08 03:28] KomachiSion commented on #3869
Thanks, I will try to reproduce problem.

[2020-01-08 03:30] #3865 closed

[2020-01-08 04:46] wenweihu86 commented on #3877
@cherrylzhao Could XA Transaction support save log to server, since business application doesn't writing log to the cloud file system most often?

[2020-01-08 05:08] software-market commented on #3854
This exception is thrown when hibernate is initialized . If I remove the ‘<property name="hibernate.hbm2ddl.auto">update</property>’ exception in the configuration, it will not appear.
@tristaZero
resultSet.getString(i)
@KomachiSion
exception stack information.

{INFO } [2020-01-08 13:03:25,986] <org.hibernate.tool.hbm2ddl.SchemaUpdate> : updating schema
{ERROR} [2020-01-08 13:03:39,758] <org.hibe

[2020-01-08 05:30] beijing-penguin commented on #3681
I think ShardingSphere should easy to expose loading interface,,,,so,The Users can customize the loading strategy

[2020-01-08 07:24] KomachiSion commented on #3854
@software-market Sorry, I don't have SQLserver environment, can you use **original datasource** to print the result of `getIndexInfo`

example code like

[code]

[2020-01-08 07:33] qiqsa opened #3896 "ResultSet method not supported"
## Feature Request

Druid 1.1.20 have support  this two method:
    public final <T> T getObject(final int columnIndex, final Class<T> type)
    public final <T> T getObject(final String columnLabel, final Class<T> type)

but sharing not support this method ....

[2020-01-08 07:55] sjssj opened #3897 "document error"
Hi，i found a error on the document @https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/configuration/config-spring-boot/#数据分片-数据脱敏
When using sharding and encrypt function at the same time, the configuration should be
**spring.shardingsphere.sharding.encrypt-rule**.xxx
instead of
**spring.shardingsphere.encrypt**.xxx

[2020-01-08 08:22] longjy commented on #3582
这个下一版本会在什么时候发布呢

[2020-01-08 08:33] geomonlin commented on #3897
yeah,you are right. The master branch has been updated, but has not been deployed to the official website. you can see [pr](https://github.com/apache/incubator-shardingsphere-doc/pull/416)

[2020-01-08 08:50] #3897 closed

[2020-01-08 09:06] xiaolongyuan commented on #3858
有同样问题的小伙伴们 建议使用 美团的开源算法自定义实现

[2020-01-08 09:06] xiaolongyuan commented on #3858
地址 https://github.com/Meituan-Dianping/Leaf

[2020-01-08 09:13] freezingWu commented on #234
广州锐森科技 https://www.elelive.net/

[2020-01-08 09:18] geomonlin commented on #3897
already update.

[2020-01-08 09:47] zhouzhendao123456 opened #3900 "sql bug"
Sharding-Proxy rc4

SELECT aa.`journal_template_type` FROM `app1_journal_info` aa GROUP BY `journal_template_type`
SELECT aa.`journal_template_type` FROM `app1_journal_info` aa GROUP BY aa.journal_template_type
SELECT `journal_template_type` FROM `app1_journal_info` GROUP BY `journal_template_type`
it's ok

SELECT aa.`journal_template_type` FROM `app1_journal_info` aa GROUP BY aa.`journal_template

[2020-01-08 09:48] zhouzhendao123456 commented on #3900
Unable to submit issues properly

[2020-01-08 09:48] #3900 closed

[2020-01-08 09:50] zhouzhendao123456 opened #3901 "sql bug:about "`""
Sharding-Proxy rc4
![image](https://user-images.githubusercontent.com/56668316/71968128-49296700-323f-11ea-82b8-6a94d8e614ab.png)
[Err] 1054 - Unknown column 'aa.journal_template_type' in 'order clause'

![image](https://user-images.githubusercontent.com/56668316/71968192-6100eb00-323f-11ea-96ca-971dcdbcf9b4.png)
it's ok

[2020-01-08 11:33] taojintianxia commented on #3869
After I tried the test senario you described , I got the result you expected

![image](https://user-images.githubusercontent.com/4112856/71974625-e6d76300-324c-11ea-98db-bd26c3071a27.png)

The version of frameworks I used as followings :

|name|version|
|-|-|
|sharding-jdbc-spring-boot-starter | 4.0.0-RC3 |
|mybatis-plus-boot-starter | 3.3.0 |
|springboot | 1.5.22.RELEASE |

[2020-01-08 12:18] geomonlin opened #3904 "Could not roll back JDBC transaction using postgresql in sharding-proxy"
shardingsphere version: sharding-proxy dev
database: postgresql

throw new RuntimeException in transaction  rolled back error.
example code:

![image](https://user-images.githubusercontent.com/26007894/71977434-c232b980-3253-11ea-8129-f169f9b779f2.png)

print log:
`Caused by: org.postgresql.util.PSQLException: Expected command status BEGIN, got .
	at org.postgresql.core.v3.QueryExecutorImpl$1.hand

[2020-01-08 12:41] terrymanu commented on #3901
Can you change the title for search friendly?

[2020-01-08 12:45] terrymanu commented on #3896
What is your version and which class do you indicate?

[2020-01-08 13:02] wangjing112 opened #3905 "proxy select table throw NullPointerException!"
use:sharding-proxy-4.0.0

stdout.log :
`
[ERROR] 20:47:17.372 [ShardingSphere-Command-13] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
        at org.apache.shardingsphere.shardingproxy.backend.response.query.QueryHeader.<init>(QueryHeader.java:67)
        at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.execute.callback.ProxySQLExecu

[2020-01-08 13:04] wangjing112 commented on #3905
but sharding-jdbc 4.0.0.rc2 work fine.

[2020-01-08 13:41] terrymanu commented on #3881
Maybe you can try to summary your idea and extract them as regular rules to implement the limit merge.

[2020-01-08 13:47] cherrylzhao commented on #3904
see #3545, postgresql do not open XA set by default

[2020-01-08 18:18] kimmking commented on #3881
@alexkuku  If this optimizing is efficient for your own system case, you can implement it in your project.
Have fun and keep moving.
Look forward to your next idea about ShardingSphere.

[2020-01-08 18:20] kimmking commented on #3878
Splitting Configure and Reference with a datasource sounds like a good idea.

[2020-01-08 18:50] kimmking commented on #3896
@qiqsa
Do you means two methods in java.sql.ResultSet:
[code]

[2020-01-08 19:42] kimmking commented on #3896
And you can see:
https://github.com/kimmking/incubator-shardingsphere/tree/issue3896

https://github.com/kimmking/incubator-shardingsphere/commit/853ac638b99c60b577c4abaed1a4ee420a591e96

[2020-01-09 01:03] qiqsa commented on #3896
thank you  . but this class AbstractUnsupportedOperationResultSet  still exist this two method ,please see again

[2020-01-09 02:21] #3893 closed

[2020-01-09 02:28] software-market commented on #3854
@KomachiSion Sorry, I tested it again and it returns null on rs.getString ("INDEX_NAME"). But I see that when rs.getShort ("TYPE")! = 0, "org.hibernate.tool.hbm2ddl.TableMetadata # initIndexes" will get rs.getString ("INDEX_NAME").
If shardingDataSource is used, when rs.getShort ("TYPE") == 0, a nullPointException will occur. I don't know if this is a problem.
![123333333](https://user-images.gith

[2020-01-09 02:28] KomachiSion commented on #3869
@lssprogress , I have reproduced the problem, the reason is the `ifnull()` method covered `sum()` method.

SS parse SQL found `amount` is the result of `ifnull()` which is not aggregation, so the merge engine use replace result instead of sum results.

The solution is change the SQL as `sum(ifnull(act_amount, 0))`, it will be ok.

Example code in:
https://github.com/KomachiSion/shardingsphere-issu

[2020-01-09 02:32] Fwenjie opened #3908 "Adapt db2"
hi，i am a user with Shardingsphere，i just want to suggest that do you have thoughts to adapt db2.

[2020-01-09 02:37] taojintianxia commented on #3908
Hi Fwenjie

I suggest you use the mailing-list to invoke more people to discuss your thoughts

take a look at [Subscribe Guide](https://shardingsphere.apache.org/community/en/contribute/subscribe/)

[2020-01-09 02:40] enjoy-live commented on #315
@dale19900108 Hi~ 我确实遇到了和你一样的问题. 请问你怎么解决这个问题的? 谢谢

[2020-01-09 02:52] cherrylzhao commented on #3877
`atomikos` & `bitronix `only support save the log to local machine by default. `Narayana` support save the log to database, but we have not verify it yet [example-143](https://github.com/apache/incubator-shardingsphere-example/issues/143) . `Seata` will plan to support XA in future. so our goal is to provide a variety options to integrate with ShardingSphere. you can extend the storage of underlyi

[2020-01-09 02:58] SteNicholas commented on #3905
@wangjing112 Could u please provider your configuration?

[2020-01-09 03:15] KomachiSion commented on #3854
@software-market I never used SQLserver, so I'm not sure why SQLServer return null index.

Can you have more test about `getIndexInfo` for SQLServer?
1. Is the type=0 and index_name=`null` always be returned by `getIndexInfo` for SQLServer?
2. if be not always, which situation will be returned, and  which situation will not.

Thanks.

I will also try to build a SQLServer environment to do some res

[2020-01-09 03:23] terrymanu commented on #3908
We have no plan to do this.
I can label the requirement as volunteer wanted for several days.
If someone interesting about it, please reply here.

[2020-01-09 04:17] geomonlin commented on #3904
I used the mybatis but did not set setAutoCommit (false)
already **set max_prepared_transactions > 0**
code:
` TransactionTypeHolder.set(TransactionType.XA);
        jdbcTemplate.execute(new ConnectionCallback<Object>() {
            @Override
            public Object doInConnection(final Connection connection) throws SQLException, DataAccessException {
                connection.setAutoCommit(fa

[2020-01-09 04:17] software-market commented on #3854
@KomachiSion I use the native jdbc to find that the problem still exists. When viewing https://docs.oracle.com/javase/8/docs/api/, I see the introduction of getIndexInfo

INDEX_NAME String => index name; null when TYPE is tableIndexStatistic
TYPE short => index type:
tableIndexStatistic-this identifies table statistics that are returned in conjuction with a table's index descriptions
tableIndexClu

[2020-01-09 04:25] cherrylzhao commented on #3904
you should send sql `sctl:set transaction_type=XA` to proxy to switch transaction type

[2020-01-09 04:36] geomonlin commented on #3904
Yeah, the problem is configuration way error in my code.

[2020-01-09 04:36] #3904 closed

[2020-01-09 04:59] lssprogress commented on #3869
I see. Thank you

[2020-01-09 06:03] dongzl commented on #3852
@zzeverglow , I create a test environment,
- SQLSERVER2012
- JDBC Driver version: 7.4.1.jre 8 & 7.2.2.jre8
I create a table with timestamp field, and jpa's entity bean column is `java.sql.Timestamp`,

I test RC2 and RC3, They are OK!

Can you provide your table structure、entity bean and query sql?

It is best that you can provide a test project(remove company business code) and reappear this probl

[2020-01-09 06:33] zzeverglow commented on #3852
Its like this.``

The field type in the sqlserver table  is 'timestamp', not 'datetime'.
My code is like this. The code run successfully only when i use 'byte[]'  and the shardingjdbc version is rc1. 'java.sql .Timestamp' cant run with any shardingjdbc version in my project.

@Entity
@Table(name = "xxx")
public class DemoPo {
@Id
@Column("id")
private Integer id;

@Colum(name = "aaa")
private byte

[2020-01-09 06:46] zzeverglow commented on #3852
if (null != streamGetterArgs) {
            if (!streamGetterArgs.streamType.convertsFrom(typeInfo))
                DataTypes.throwConversionError(typeInfo.getSSType().toString(), streamGetterArgs.streamType.toString());
        } else {
        if (!baseSSType.convertsTo(jdbcType) && !isNull) {
//             if the baseSSType is Character or NCharacter and jdbcType is Longvarbinary,
//

[2020-01-09 06:48] KomachiSion commented on #3854
Thanks

[2020-01-09 06:50] zzeverglow commented on #3852
`if (null != streamGetterArgs) {
            if (!streamGetterArgs.streamType.convertsFrom(typeInfo))
                DataTypes.throwConversionError(typeInfo.getSSType().toString(), streamGetterArgs.streamType.toString());
        } else {
        if (!baseSSType.convertsTo(jdbcType) && !isNull) {
//             if the baseSSType is Character or NCharacter and jdbcType is Longvarbinary,
//

[2020-01-09 06:54] dongzl commented on #3852
Can you analysis why `sqlserver.jdbc.ServerDTVIpml.getValue` cause this problem.

My test code don't meet this problem.

[2020-01-09 07:08] wangjing112 commented on #3905
i found when alter table add columu varchar then throw exception on select the table.
but restart proxy service,is work fine!

[2020-01-09 07:12] zzeverglow commented on #3852
My code level is too low haha.I cant only read that the 'timestamp' baseSSType cant convert to jbdcType 'BLOB'. Then it run the DataTypes.throwConversionEroor method.

[2020-01-09 07:14] zzeverglow commented on #3852
If you can run successfully. Maybe my environment has some problems.

[2020-01-09 07:18] kimmking commented on #3896
I find h2database driver doesnt support this feature.

[2020-01-09 07:19] #3896 closed

[2020-01-09 07:19] SteNicholas commented on #3905
What's your version?

[2020-01-09 07:20] qiqsa commented on #3896
ok .thank you

[2020-01-09 07:21] dongzl commented on #3852
I only create a simple project, I don't meet the exception, If you can't slove it finally, we can communicate with WeChat, you can send your WeChat account to my email `dzllikelsw@163.com`.

[2020-01-09 08:48] tristaZero opened #3914 "Optimization for Sharing Parser with ANTLR Visitor for MySQL"
Hi folks, we would like to refactor existing parser engine with **ANTLR visitor** for better performance. It is scheduled as a long-term task and a big change for our 5.x release, **we would like to welcome anyone who is interested in it to join us for this wonderful sharding parser**! 😃

**Please follow up with your comment 📝 , if you want to join**!  What’s more, welcome your any comment and sug

[2020-01-09 08:55] #3869 closed

[2020-01-09 08:56] #3644 closed

[2020-01-09 09:53] #3854 closed

[2020-01-09 09:58] dongzl commented on #3852
Hi @tuohai666 , I debug this problem, at sqlserver database, `timestamp` column type is binary type, I think it should deal with `ResultSet.getBinaryStream()`, but now ShardingSphere deal with `ResultSet.getBlob()`.

[2020-01-09 12:25] tuohai666 opened #3916 "SQL should not be cached if it does not contain a question mark"
For now, SQLs will be cached when use a PreparedStatement regardless of the question mark. This may lead to all SQLs of a service be cached and performance declined.

[2020-01-09 14:41] 852675742 commented on #3180
i have the same question,now because our datasource config is dead write in config yaml file,can program dynamic config the datasource by listener outside order？

[2020-01-09 14:43] 852675742 opened #3919 "config datasource dynamic by program or outside order？"
## Question

**For English only**, other languages will not accept.

I have the question,now because our datasource config is dead write in config yaml file,can program dynamic config the datasource by listener outside order？

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues)

[2020-01-09 14:44] 852675742 commented on #527
请问具体在哪个章节或者example?

[2020-01-09 15:19] terrymanu commented on #3893
@affiliate  Hi, have you create the issue on example repo?

[2020-01-09 15:21] terrymanu commented on #3900
Hi, what is the reason to close this issue, did you solve the issue?

[2020-01-09 16:05] xiyelife commented on #2997
I have  the same problem, and plan to use guave cache instead of AbstractHashedMap

[2020-01-09 16:07] terrymanu commented on #2997
@xiyelife Thank you, I just assign this issue to you.

[2020-01-10 03:53] #3905 closed

[2020-01-10 04:29] cherrylzhao opened #3922 "Optimize model of ColumnMetaData"
currently our ColumnMetaData defined in this way
[code]

but `Sharding-Proxy` need entire meta to support database protocol, so we get others from underlying resultSetMetaData in this way
[code]

consider about  enhancing metadata like this
1. adding these missing meta field into `ColumnMetaData`, only maintain it in `TableMetaDataLoader`
2. for `sharding-proxy` should provide a way to get logicTa

[2020-01-10 05:50] minghu-zhang opened #3924 "the method get a 'null' string value when the encryption field value is null."
the method get a 'null' string value when the encryption field value is null.

[2020-01-10 06:47] longjy opened #3927 "Whether the database field desensitization logic can only process the SQL of the specified encrypted table without disturbing the normal operation of other SQL"
Whether the database field desensitization logic can only process the SQL of the specified encrypted table without disturbing the normal operation of other SQL

[2020-01-10 09:13] limingwei commented on #3916
What dose the rules should be
rule A: SQL include a question mark ? cache it : no cache
rule B: Use jdbc.PreparedStatement -> cache it; Use jdbc.Statement -> no cache

[2020-01-10 10:37] dongzl commented on #3922
This has another question should be considered.

If only use `Master-Slave` mode, no sharding, ShardingSphere doesn't load table metadata, The `QueryHeader` how to get the metadata.

[2020-01-10 10:48] victorcen opened #3929 "How to config rules for range query in sharding proxy without any coding ?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-01-10 11:03] victorcen commented on #3929
The inline sharding strategy is valid for the following sql:
select * from visit where CREATEDATE=20201107
it routes to datasource ds_0

[2020-01-10 12:41] tuohai666 commented on #3916
I think the rule should be: Use PreparedStatement and contains question mark.
An SQL without question mark will never be hit in most scenarios.

[2020-01-10 12:43] dongzl commented on #3929
Hi @victorcen , why do you want without any coding? If the the sharding strategy is complex, you can develop it and extend the sharding strategy interface, and package a jar file, put to sharding-proxy `lib directory`, it is also very simple.

[2020-01-10 15:53] SteNicholas commented on #3922
@cherrylzhao In my opinion, `ColumnMetaData` should add these meta fields, because these meta fields are related to column metadata. And, about 'Master-Slave' mode, DDL operation should refresh the `ColumnMetaData`, which maybe store in Zookeeper.

[2020-01-10 15:58] yuxuejimo opened #3930 "sharding-jdbc4 scan some tables in all_tab_columns.but the current user does not have permission.then throws the Exception:Table or view does not exist"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-01-11 01:38] terrymanu commented on #3916
We should not consider about whatever SQL contains parameter marker or not.
For PreparedStatement, we should cache the SQL parse result; for Statement, do not cache.

[2020-01-11 01:38] #3916 closed

[2020-01-11 02:14] haetao opened #3932 "Spring-Boot + sharding-proxy decodes failed after encoding by AES"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-12 05:44] kimmking commented on #3930
can you try it directly by oracle-jdbc driver?

[2020-01-12 07:48] limingwei commented on #3916
However, this could be an extension point of our shardingsphere plugin system

[2020-01-12 07:56] limingwei commented on #3916
`
MyFactory extends DefaultShardingSpherePreparedStatementFactory {
	boolean cacheThePreparedStatement ( it ) {
		if ( not contains parameter marker ) {
			return false;
		}

		return super.cachePreparedStatement( it );
	}
}
`

[2020-01-12 13:32] kimmking commented on #3929
I found this error is puzzle for me in this case in past 3 weeks.

There is a sharding table named 'test' with 4 actual tables with sharding key is 'id' column, then we will try proxy with:
- 1.select * from test
- 2.select * from test where id=102
- 3.select * from test where id>102
- 4.select * from test where id>102 and id<104
- 5.select * from test where id<>102
- 6.select * from test where id

[2020-01-12 16:26] kimmking opened #3946 "Proxy can't parse SQL "SHOW FULL TABLES FROM `test` LIKE '%'""
## Bug Report
When I start a proxy server in 4.0.0-RC3, and use DataGrip(A popular database&SQL IDE from JetBrains) to connect proxy via JDBC(modify options to use jdbc metadata) and database named `test`, then DataGrip will execute the SQL "SHOW FULL TABLES FROM `test` LIKE '%'" to find all tables in test database, but proxy return nothing.

Run "SHOW FULL TABLES FROM `test` LIKE '%'" in mysql cl

[2020-01-13 00:23] SteNicholas commented on #3946
I have already tried the parser to parse SQL `SHOW FULL TABLES FROM sharding_db LIKE '%'`. The result of `MySQLParser` is success. I thought that the bug is in proxy.

[2020-01-13 01:24] terrymanu opened #3947 "Improve integrate SQL parser test engine"
The current integrate SQL parser test engine is created by old SQL parser engine which parsed from sharding rule and encrypt rule.
The new SQL parser engine is decoupled with rule which only focus SQL itself, so we need to improve the test engine.
The tasks are:

- [x] Redesign SQL parser test engine.
  - [x] Redesign jaxb domain.
  - [x] Redesign assert engine.
- [x] Remove useless remain asserti

[2020-01-13 02:11] cherrylzhao commented on #3922
agree with @SteNicholas metadata should be a infrastructure service for ShardingSphere, we should provide a uniform interface for initialization, read, refreshing instead of distinguish with whether sharding or not. it seems that it will be a big refactor for sharding-jdbc & sharding-proxy.
assume that task list is as below
- [ ] investigate the usage of current metadata, clarify the function list

[2020-01-13 02:38] dongzl commented on #3922
If Database exists a lot of table, does put MetaData into Zookeeper is a good idea?

We can use Zookeeper as a listener, if one node change MetaData, the Zookeeper notice the other node to reload the MetaData, does this is a good idea?

[2020-01-13 02:45] cherrylzhao commented on #3922
I think we can discussing migrating to zookeeper in another issue, leverage the watcher of zookeeper is a better choice.

[2020-01-13 03:25] longzhihun opened #3948 "How to config the customize rule in sharding-proxy"
1. I have customized the sharding rule with java code.

    private static Logger logger = LoggerFactory.getLogger(DbShardingAlgorithm.class);

    Map<String, String> dealerDSMap = ImmutableMap.of("d16df3743a", "ds0",
            "bc0ce9b058", "ds1",
            "85abb5f5d2", "ds2",
            "b563165232", "ds3",
            "f0f198b56d", "ds4");

    @Override
    public String doSharding(Coll

[2020-01-13 03:28] longzhihun commented on #3948
![image](https://user-images.githubusercontent.com/17509151/72231687-d3831980-35f7-11ea-8ab1-b96bb9a632a9.png)  add class path.

[2020-01-13 03:28] victorcen commented on #3929
@kimmking   thanks!

[2020-01-13 03:28] #3929 closed

[2020-01-13 04:26] dongzl commented on #3948
@longzhihun what's your porxy version? package a jar file to lib directory, try it.

[2020-01-13 05:08] xiyelife opened #3949 "sharding with encrypt can not work well."
Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
4.0.0-RC4-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
sharding with encrypt can work well
### Actual behavior
only sharding , encrypt can not work well
### Reason analyze (If you can)

### Steps to reproduce the behav

[2020-01-13 05:09] xiyelife commented on #3949
Please assign it to me

[2020-01-13 05:13] terrymanu commented on #3949
@xiyelife Thank you, assigned

[2020-01-13 06:04] longzhihun commented on #3948
@dongzl the latest version! OK, I will try it, then feedback to you

[2020-01-13 06:11] dongzl commented on #3948
the latest version？which？4.0.0-RC3？

the latest version‘s package is `org.apache.shardingsphere.xxx.xxx`, but your exception is `io.shardingsphere`, this is a very old version.

Please make sure your version firstly.

[2020-01-13 06:27] #3949 closed

[2020-01-13 06:52] longzhihun commented on #3948
@dongzl Yes, 4.0.0-RC3, but we can only find the "sharding-core:3.1.0" on maven central.  so which version sharding core should we depend on in my pom.xml,  we are trying to customize sharding with java code, please help me.

[2020-01-13 06:59] dongzl commented on #3948
<groupId>org.apache.shardingsphere</groupId>
<artifactId>sharding-jdbc-core</artifactId>
<version>4.0.0-RC3</version>

Does it work well?

[2020-01-13 07:06] longzhihun commented on #3948
will try it ASAP. @dongzl

[2020-01-13 07:29] longzhihun commented on #3948
@dongzl it works now, from my side, i think we'd better to add the information to our guildline, i have search many sites, got no useful message.

[2020-01-13 07:32] #3948 closed

[2020-01-13 08:17] zzujustme opened #3954 "Is sharding-jdbc supported postgresql array?Can I customize and implents it?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-01-13 08:22] yuxuejimo commented on #3930
We've been using ojdbc6.jar (in jboss7). There was no error when using the sharding3 version, but there was an error when using the sharding4 version

[2020-01-13 09:53] #2997 closed

[2020-01-13 14:09] longzhihun opened #3960 "How to config sharding rule for dynamic capacity?"
In my scenario, the amount of my data is growing every day, we need to reshard the data by half a year, which algorithm we'd better use,  please give some opinions, thanks.

[2020-01-14 00:24] SteNicholas opened #3962 "Oracle insert statement encrypt bug of version 4.0.0"
Oracle insert statement exists encrypt bug for 4.0.0 release version. Because of oracle insert statement definition modification, the columnNames couldn't be extracted. The bug will be fixed in 4.0.1 version. `InsertValuesExtractor` could extract column segements by `InsertValuesClause` rule, but oracle insert statement `insertValuesClause` lack of `columnNames` , which cause encrypt problem for e

[2020-01-14 02:22] Comven opened #3963 "ActualDataNodes must be configured if want to shard tables for logicTable xxxx"
When I update the version from 4.0.0-RC2 to 4.0.0 release， it  throw this exception on start.
I found that the exception happend on class of TableRule at the method checkRule
[code]
Is this right?

I wonder if there is any problem with this condition ` null != tableShardingStrategy &&!(tableShardingStrategy instanceof NoneShardingStrategy)`，Wether it should be like this

[code]
my table shared rul

[2020-01-14 05:33] tmjGitAccount opened #3964 "Hintmanager databaseShardingOnly problem"
## Bug Report

Please answer these questions before submitting your issue. Thanks!
### Which version of ShardingSphere did you use?
**4.0.0**
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
i can hint databases with sth outside my database, for example , i want to get the hint key from my http header ,then route by the key.
### Actual behavior
it

[2020-01-14 07:27] langtutengbywang commented on #234
智云健康 https://www.zyhealth.com/

[2020-01-14 07:58] kevingarnetttwo commented on #234
得物app [https://poizon.com/](url)

[2020-01-14 08:19] tristaZero opened #3967 "More parsed integrated tests are needed."
### MySQL
**1.DAL**
**2.DCL**
**3.DDL**
**4.DML**
**5.DQL**
**6.TCL**

### Oracle
### PostgreSQL
### SQLServer
### SQL92

[2020-01-14 08:57] tuohai666 opened #3968 "Ambiguous description of COM_STMT_EXECUTE in MySQL protocol"
The description of COM_STMT_EXECUTE command like this:

![image](https://user-images.githubusercontent.com/24643893/72326232-c8101b00-36e9-11ea-9239-7a656fc261d4.png)

What if the **num-params** equals 0?

Implementation of Connector/J like this:

![image](https://user-images.githubusercontent.com/24643893/72327565-54bbd880-36ec-11ea-9fdc-ba6de2ec9917.png)

While Implementation of sysbench like th

[2020-01-14 09:55] longzhihun opened #3970 "Got many warn message: com.mysql.jdbc.jdbc2.optional.MysqlXAException: Undetermined error occurred in the underlying Connection - check your data for consistency"
I get many warn messages when i running sharding proxy standalone, message information:

	at com.mysql.jdbc.jdbc2.optional.MysqlXAConnection.mapXAExceptionFromSQLException(MysqlXAConnection.java:586)
	at com.mysql.jdbc.jdbc2.optional.MysqlXAConnection.recover(MysqlXAConnection.java:316)
	at com.mysql.jdbc.jdbc2.optional.SuspendableXAConnection.recover(SuspendableXAConnection.java:155)
	at com.atom

[2020-01-14 10:02] longjy opened #3971 "Why does the encrypted table only judge the first one, maybe left join encrypt table, and then judge that there is no encrypted table"
org.apache.shardingsphere.encrypt.rewrite.token.generator.impl.EncryptProjectionTokenGenerator#generateSQLTokens

@Override
    public Collection<SubstitutableColumnNameToken> generateSQLTokens(final SQLStatementContext sqlStatementContext) {
        Collection<SubstitutableColumnNameToken> result = new LinkedList<>();
        Optional<SelectItemsSegment> selectItemsSegment = sqlStatementContext.g

[2020-01-14 10:03] longjy commented on #3971
sqlStatementContext.getTablesContext().getSingleTableName()  maybe return non-encrypted table

[2020-01-14 10:29] tristaZero commented on #3914
## Here is instruction

### Tasks:
1. Add rule visitors in `MySQLVisitor.java` based on g4 files[1].
2. Check whether rule name in g4 files is appropriate or not.
3. Add parsed integrated test for your **new main rule visitor**.

### Task detail:
1. Add rule visitors

1.1 Since `MySQLVisitor.java` extends `MySQLStatementBaseVisitor<ASTNode>.java`, you should overwrite `visitRuleName(ctx)` from `My

[2020-01-14 11:48] shuohao opened #3973 "4.0.0 dosen't support LocalDateTime"
![QQ截图20200114194609](https://user-images.githubusercontent.com/4637107/72341978-8cd01500-3706-11ea-9cb6-be4444056cb8.png)

befort 4.0.0 version like 4.0.0-RC3 it's worked well.

[2020-01-14 12:45] SteNicholas commented on #3922
@cherrylzhao Could u please send dev email group for discussion of this problem?

[2020-01-14 13:23] devefx opened #3977 "The sharding-JDBC non-sharding policy, NoneShardingStrategy, does not work in yml"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-14 14:37] #3962 closed

[2020-01-14 15:24] beijing-penguin opened #3979 "make incubator-shardingsphere first initialization run faster"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
#3681
### De

[2020-01-14 15:57] #3852 closed

[2020-01-14 16:11] huangqinghe commented on #3703
How to rewrite the class "TableMetaDataInitializer"? Please give me some advice

[2020-01-15 02:15] dongzl commented on #3852
This problem has been fixed on 4.0.0-RC3 version, The 4.0.0-RC2 data masking cause this bug.

[2020-01-15 02:15] joewee commented on #3856
Hi, is there any update about this issue ? @SteNicholas @terrymanu

[2020-01-15 02:23] orangeyts commented on #234
谛达诺科技 http://www.didano.com/

[2020-01-15 03:33] guanxiaochen commented on #234
会通教育科技 https://willclass.com

[2020-01-15 03:55] SteNicholas commented on #3856
Sorry for the delay, and today I would validate the SQL.

[2020-01-15 04:28] terrymanu commented on #3970
What is your version?

[2020-01-15 04:37] cherrylzhao commented on #3922
I have sent a mail to dev mailing list [
[DISCUSS] Optimize model of ColumnMetaData](https://lists.apache.org/thread.html/r17a6755569a787f34b917cd06a49895365d50c72f7c3ae6704044c76%40%3Cdev.shardingsphere.apache.org%3E)

[2020-01-15 04:50] tuohai666 commented on #3973
Hi @shuohao,

Thanks for your report. Can you answer these questions?

### Which version of ShardingSphere did you use?

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes f

[2020-01-15 04:57] KomachiSion commented on #3977
Why do you set sub configure for none strategy?

[2020-01-15 06:13] shaoyifan commented on #3973
4.0.0 base on java 7， so can`t support LocalDateTime 😪

[2020-01-15 06:41] #3968 closed

[2020-01-15 06:51] yuxuejimo commented on #3930
The reason for this problem is that the T4CConnection in ojdbc7.jar does not implement the getSchema() method, so it scans the tables of other owners. Please show the version of ojdbc.jar used for testing. Thank you

[2020-01-15 07:08] ette9844 opened #3987 "How to handle JNDI datasource in spring namespace?"
I understood that sharding-sphere supports JNDI datasource in spring-boot-starter.
But the project I'm working on is based on spring framework. So I should handle JNDI datasource in spring namespace.

How to handle JNDI datasource at spring namespace? I couldn't find about it on your documentation page.
If there's no features about it, I would like to know that there's any plan to make feature of

[2020-01-15 07:18] dongzl commented on #3973
Hi @shaoyifan , ShardingSphere work well on jdk 8, what's your problem.

[2020-01-15 07:32] shaoyifan commented on #3973
yes，it can works well ，but sometimes，our project some entity may use java.time.LocalDateTime instead of java.util.Date，but I found ShardingResultSet dont has any method to parse LocalDateTime ，because 4.0.0 base on java7。 LocalDateTime since 1.8

[2020-01-15 07:39] dongzl commented on #3973
oh yes, ShardingSphere will upgrade JDK's version in 5.x, #3097 .

[2020-01-15 07:44] shaoyifan commented on #3973
When will 5. X be released？

[2020-01-15 08:04] joewee commented on #3856
Thank you！

[2020-01-15 08:14] KomachiSion commented on #3977
@devefx Can you try to use?
[code]

[2020-01-15 08:40] #3987 closed

[2020-01-15 09:58] KomachiSion commented on #3964
@tmjGitAccount , Can you provide your full sharding configuration?

[2020-01-15 12:14] devefx commented on #3977
Still not working, a field must be included

[2020-01-15 12:20] KomachiSion commented on #3977
For my test,

[code]

This configuration can work.

Can you provide your full sharding configuration? Or example code?

[2020-01-15 12:23] devefx commented on #3977
![image](https://user-images.githubusercontent.com/15070360/72433673-d71fc780-37d4-11ea-8ded-29d2b987ea71.png)

[2020-01-15 12:28] KomachiSion commented on #3977
Sorry, picture is not full configuration and quite inconvenient.
Please paste congfiguration as a text to comment.
You can remove some important data like username,password,url and so on.

[2020-01-15 12:28] devefx commented on #3977
![image](https://user-images.githubusercontent.com/15070360/72433886-4b5a6b00-37d5-11ea-809f-d2b055a70875.png)

[code]
This is me override

[2020-01-15 12:31] devefx commented on #3977
This my configuration

[code]

[2020-01-15 12:52] encodeering opened #3990 "Parse engine rejects CURRENT_USER in 4.0.0"
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

Update from 3.1.0 to 4.0.0 would not change the parser rules.

### Actual behavior

Integration tests fail because flyway can't perform a migration when executing `select CURRENT_USER`

### Reason analyze (If you can)

[code]

[2020-01-16 01:43] dongzl commented on #3973
The 4.0.0 stable version was released just now, and 5.x is in development.

There is no exact release time yet. You can stay focused on ShardingSphere community.

[2020-01-16 02:04] sunyinhui commented on #234
聚励云机械 https://www.cloudm.com

[2020-01-16 02:05] 54czp commented on #2652
Unzip-tar.gz.com is a free online service that allows you to convert any.tar.gz file into a.zip file that you can open with the default tools of your operating system.Just like you can access all the data stored in these files without installing special software.
https://unzip-tar-gz.com/cn/
Unzip-tar.gz.com是一个免费的在线服务，它允许你任何.tar.gz文件转换成一个.zip文件，您可以与您的操作系统的默认工具打开。就像您可以访问存储在这些文件中的所有数据，而无需安装专用软件。

[2020-01-16 02:08] SteNicholas commented on #3990
@encodeering 4.0.0 doesn't support this function call, I will add to parse rules.

[2020-01-16 02:08] tmjGitAccount commented on #3964
@KomachiSion

spring:
  shardingsphere:
    props:
      sql:
        show: true
    sharding:
      default-database-strategy:
        hint:
          algorithm-class-name: com.a.b.c.OrderShardingAlgorithm
    datasource:
      names: dsa,dsb
      dsa:
        pool-name: dsa
        type: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.jdbc.Driver
        jdbcUrl: xxx

[2020-01-16 02:29] leego86 opened #3992 "Sharding-JDBC lost insertValuesContexts when insert"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-16 02:42] cielswift opened #3993 "Start error with yml"
spring boot version 2.2
jdk 13
sharding 4.0.0-RC3

I searched most of the cases and configured them with properties
But I used yml, but something went wrong

Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured.
Reason: Failed to determine a suitable driver class

This is my configuration
[code]

[2020-01-16 03:24] leego86 commented on #3992
sql parse exception
![image](https://user-images.githubusercontent.com/31645800/72490619-b433f880-3852-11ea-94bc-0861fb4a41c1.png)

[2020-01-16 04:41] geomonlin opened #3995 "logicTable of ShardingSphereMetaData don't contain encrypt field in sharding-proxy when testing 'sharding+encrypt'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-16 05:30] cielswift commented on #3993
4.0 version does not support mysql8?

[2020-01-16 06:49] haetao commented on #3993
To be exact, ShardingSphere's compatibility with MySQL 8 is not good.

[2020-01-16 07:06] KomachiSion commented on #3977
I find the problem is caused by springboot.
springboot parse yaml and transfer to propertySource. At this time, springboot would ignore some item.

I'm not sure whether there are some configuration so that springboot do not ignore them.

[2020-01-16 07:13] devefx commented on #3977
Add a field? like `private boolean enabled;`

[2020-01-16 07:16] KomachiSion commented on #3977
Not a good idea, the NoneStrategy already means do nothing. If set a sub field `enabled`, Is it means a true switch when `enabled=true`? I think it will confuse users.

[2020-01-16 08:08] kimmking commented on #3973
@shuohao @shaoyifan
Hi~
I think we can use util.Date instead of LocalDateTime class in your pojo, and conver it in your biz logic methods.
or ---
We also can use mybatis TypeHandler to process your specific type converted to another type.

[2020-01-16 08:11] cherrylzhao commented on #3995
encrypt only store logic column in metadata, so actual column need to be converted to logic column using EncryptMetaData, we should resolve it in #3922

[2020-01-16 09:09] yesidu commented on #2998
我也遇到了这个问题

[2020-01-16 11:25] huweidada opened #3998 "4.0.0-RC1 join bug"
SELECT
	  COUNT(*)
	FROM
	  sku_25
	  INNER JOIN sku_code_25
	  INNER JOIN sku_model_25
	  INNER JOIN model_25
	  INNER JOIN category_25
	    ON sku_25.id = sku_code_25.sku_id
	    AND sku_25.id = sku_model_25.sku_id
	    AND sku_model_25.model_id = model_25.id
	    AND model_25.category_id = category_25.id

     WHERE (  sku_25.owner_org_id = ?

                  and sku_code_25.owner_org_id = ?

[2020-01-16 11:26] huweidada commented on #3998
SELECT
	  COUNT(*)
	FROM
	  sku
	  INNER JOIN sku_code
	  INNER JOIN sku_model
	  INNER JOIN model
	  INNER JOIN category
	    ON sku.id = sku_code.sku_id
	    AND sku.id = sku_model.sku_id
	    AND sku_model.model_id = model.id
	    AND model.category_id = category.id

     WHERE (  sku.owner_org_id = ?

                  and sku_code.owner_org_id = ?

                  and sku_model.owner_org_id

[2020-01-16 11:29] SteNicholas commented on #3998
@huweidada Please use the latest version to confirm this bug.

[2020-01-17 00:49] huweidada commented on #3998
switch 4.0.0 version，the bug disappear.
thanks!
@SteNicholas

[2020-01-17 00:49] #3998 closed

[2020-01-17 00:55] SteNicholas commented on #3856
@joewee Could you please provide small SQL to me for validation?

[2020-01-17 00:59] SteNicholas commented on #3998
@huweidada welcome to make any use issue.

[2020-01-17 02:09] happy89lgk commented on #3963
I have this problem, too;

[2020-01-17 03:31] Zze0 opened #4002 "Transactions cannot be rolled back properly when using local transaction."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-17 04:47] cherrylzhao commented on #4002
hi, you should exclude the `JtaAutoConfiguration ` in your project like this
[code]
aslo @ShardingTransactionType doesn't work without [sharding-transaction-jdbc-spring](https://github.com/OpenSharding/shardingsphere-spi-impl/tree/4.0.0-RC2/sharding-spring/sharding-transaction-spring-boot-starter/sharding-transaction-jdbc-spring-boot-starter) dependency. we haven't merge it to ShardingSphere now,

[2020-01-17 04:50] zhouzhendao123456 opened #4003 "sharding use mysql8"
sharding use mysql-connector-java version is too old,i hope use mysql 8.0.,mysql-connector-java need version 8
can i do it?

[2020-01-17 05:12] SteNicholas commented on #3992
@leego86 Please remove \n and then test it.

[2020-01-17 05:15] SteNicholas commented on #4003
Yes, please use 4.0.0 release version and then use version 8 of mysql-connector-java to connect MySQL8.0.

[2020-01-17 05:33] #4003 closed

[2020-01-17 05:47] KomachiSion commented on #3993
@cielswift Try to use 4.0.0 release?

[2020-01-17 06:03] yexufeijun commented on #3930
I have the same problem. I use ojdbc6.jar

[2020-01-17 06:28] Zze0 commented on #4002
Thank you for your patient reply.
It finally worked When I excluded JtaAutoConfiguration from my project.

The solution is to Use DataSourceTransactionManager by default After excluded JtaAutoConfiguration ?

The second question is, whether XA transactions can be used after JtaAutoConfiguration is excluded?

[2020-01-17 06:35] cielswift commented on #3993
@terrymanu
![image](https://user-images.githubusercontent.com/42295829/72589286-c9358800-3935-11ea-810c-1ab172709ec9.png)
![image](https://user-images.githubusercontent.com/42295829/72589315-d81c3a80-3935-11ea-9b78-843667829372.png)
![image](https://user-images.githubusercontent.com/42295829/72589426-2a5d5b80-3936-11ea-9002-8a8c07f5f17b.png)

[2020-01-17 06:37] cielswift commented on #3993
@terrymanu
2020-01-17 14:34:43.348 ERROR 7196 --- [  restartedMain] o.s.b.web.embedded.tomcat.TomcatStarter  : Error starting Tomcat context. Exception: org.springframework.beans.factory.BeanCreationException. Message: Error creating bean with name 'servletEndpointRegistrar' defined in class path resource [org/springframework/boot/actuate/autoconfigure/endpoint/web/ServletEndpointManagementContext

[2020-01-17 06:41] cielswift commented on #3993
@KomachiSion
Yes, I see 4 in the official documentation, I think 3 is no longer maintained
https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/usage/sharding/

[2020-01-17 06:42] Zze0 commented on #4002
Thank you for your patient reply.
It finally worked When I excluded JtaAutoConfiguration from my project.

The solution is to Use DataSourceTransactionManager by default After excluded JtaAutoConfiguration ?

The second question is, whether XA transactions can be used after JtaAutoConfiguration is excluded?

[2020-01-17 06:44] stamhe commented on #2712
官方这个问题在 4.0.0 还没有修复么？

[2020-01-17 06:53] KomachiSion opened #4005 "sharding-jdbc-spring-boot-starter can't support NoneShardingStrategy"
## Bug Report

Related issue #3977 .

### Which version of ShardingSphere did you use?

4.0.0-RC1 ~ 4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

[code]
tableStrategy in shardingRule of `t_order` is NoneStrategy.

### Actual behavior

tableStrategy is null.

### Reason analyze (If you can)

spring-boot will process yaml parse result t

[2020-01-17 06:56] KomachiSion commented on #3977
I will close this issue because create and describe in new issue#4005.

If has more discussion or solution, please move to #4005.

[2020-01-17 06:56] #3977 closed

[2020-01-17 06:59] KomachiSion commented on #3964
I have some ideas for this issue.
I will reproduce and feedback as soon as possible.

[2020-01-17 07:01] KomachiSion commented on #3993
Sorry, I mean can you have a try for 4.0.0 version, not 4.0.0-RC3.

4.0.0 version has release recently.

[2020-01-17 07:17] Zze0 commented on #4002
As for your statement that "@ShardingTransactionType doesn't work without sharding-transaction-jdbc-spring dependency",  which version will be merged?

Currently, do we have to develop the @ShardingTransactionType aspect by ourselves?

Like this? https://github.com/OpenSharding/shardingsphere-spi-impl/blob/4.0.0-RC2/sharding-spring/sharding-transaction-spring/sharding-transaction-jdbc-spring/src/m

[2020-01-17 07:22] yexufeijun opened #4006 "Execute insert SQL error，columnNames size is 0,java.util.NoSuchElementException"
version:
  <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0</version>
        </dependency>

demo: https://github.com/yexufeijun/sharding-jdbc-test-demo.git

error msg:

### Error updating database.  Cause: java.util.NoSuchElementException
### The error may exist in com/example/sh

[2020-01-17 08:54] #3979 closed

[2020-01-17 09:10] lengyul commented on #650
shardingsphere4.0.0分表学习笔记记录：https://blog.csdn.net/qq_34808893/article/details/103993659

[2020-01-17 09:29] Zze0 commented on #4002
After debugging, I found that excluding or not excluding JtaAutoConfiguration made a big difference.

------------------------------------------------------------------------------------

**Don’t exclude JtaAutoConfiguration, use JtaTransactionManager.**

When commit：
1、org.springframework.transaction.support.AbstractPlatformTransactionManager#commit
2、org.springframework.transaction.jta.JtaTransa

[2020-01-17 09:42] joewee commented on #3856
@SteNicholas Yes, of course! Please try the following small SQL
insert into product_sharding (product_code,brand_code,`name`,update_time,archived,version) values (?,?, ?,?, ?, 0) on duplicate key update brand_code = if(@update_condition :=(update_time < values(update_time)),values(brand_code),brand_code),name = if(@update_condition ,values(name),name),archived = if(@update_condition,values(archive

[2020-01-17 09:43] joewee commented on #3856
@SteNicholas Yes, of course! Please try the following small SQL
insert into product_sharding (product_code,brand_code,name,update_time,archived,version) values (?,?, ?,?, ?, 0) on duplicate key update brand_code = if(@update_condition :=(update_time < values(update_time)),values(brand_code),brand_code),name = if(@update_condition ,values(name),name),archived = if(@update_condition,values(archived)

[2020-01-17 09:44] ma1562013338 opened #4008 "The insert statement reported an error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-01-17 12:23] SteNicholas commented on #4006
@yexufeijun You could refer to [Oracle insert statement encrypt bug of version 4.0.0](https://github.com/apache/incubator-shardingsphere/issues/3962) and modify local code accoridng to the pr. Lastly compile a version to use.

[2020-01-18 05:19] shalousun opened #4014 "Not support JDBC getCatalog"
sharding-jdbc: 4.0.0
[code]
exception:
[code]

[2020-01-18 17:38] darcydai commented on #3964
maybe I have the same problem, in my case , I configuration is
 `spring.shardingsphere.datasource.names=house,shenyang,beijing

spring.shardingsphere.datasource.house.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.house.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.house.jdbc-url=jdbc:mysql://localhost:21010/db_house?useSSL=false&useUnicode=true

[2020-01-18 17:39] darcydai commented on #3964
maybe I have the same problem, in my case , I configuration is

`spring.shardingsphere.datasource.names=house,shenyang,beijing

spring.shardingsphere.datasource.house.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.house.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.house.jdbc-url=jdbc:mysql://localhost:21010/db_house?useSSL=false&useUnicode=true

[2020-01-18 17:40] darcydai commented on #3964
maybe I have the same problem, in my case , I configuration is

`
spring.shardingsphere.datasource.names=house,shenyang,beijing

spring.shardingsphere.datasource.house.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.house.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.house.jdbc-url=jdbc:mysql://localhost:21010/db_house?useSSL=false&useUnicode=tru

[2020-01-18 17:45] darcydai commented on #3964
maybe I have the same problem, in my case (springboot), I configuration is

[code]

but the method trace never enters my defined  CityBaseHintShardingAlgorithm.

[2020-01-18 17:47] darcydai commented on #3964
and version is 4.0.0

[2020-01-19 01:44] ssxlulu commented on #4014
Yes, we haven't support the feature now.

[2020-01-19 02:12] ssxlulu commented on #3970
@longzhihun Hi, It may be a communication failure that raise the distribution transaction exception. You can execute `XA RECOVER` in the mysql server to see the further information.

[2020-01-19 02:25] ssxlulu commented on #3963
@KomachiSion Should we check the condition?

[2020-01-19 02:31] KomachiSion commented on #3963
It's true,  if you want to do shard for table, you have to set actualNodes. Otherwise, the `availableTables` input to Algorithm maybe error.

[2020-01-19 02:33] KomachiSion commented on #3963
Refer issue #3680 .

[2020-01-19 02:34] ssxlulu commented on #3960
In my opinion, reshard the data is a big work, and I think you should plan your data capacity in advance, like reserve storage for some years in advance.
What's more, sharding-scaling module will help you dynamic scaling you data in the future. Sharding-scaling will be release in 5.x.

[2020-01-19 03:06] Zze0 commented on #4002
Wish you a happy Spring Festival in advance !

Can someone solve my doubts?
It’s very important for me.
I still have a production problem to solve.
![IMG20200119-110527](https://user-images.githubusercontent.com/59901940/72673923-a0cf9a00-3aab-11ea-9878-38d3ed8c0911.jpeg)

@KomachiSion @terrymanu @cherrylzhao

[2020-01-19 03:26] KomachiSion commented on #4002
If you want to use ShardingSphere XA, you need to exclude `JtaTransactionManager`. Because `JtaTransactionManager` will shutdown the Transaction control of ShardingSphere.

If use local or base of ShardingSphere, `JtaTransactionManager` can be excluded or not.

There is no need to develop @ShardingTransactionType by yourself. But only you should clone the `shardingsphere-spi-impl` repo and install

[2020-01-19 03:53] succeo opened #4016 "SQL syntax error, expected token is 'EQ', actual token is 'IDENTIFIER', literals is 'contractsm0_'"

[2020-01-19 03:58] succeo commented on #4016
[code]

[2020-01-19 04:00] succeo commented on #4016
执行时会出现标题显示的问题，希望能帮忙处理一下

[2020-01-19 04:14] terrymanu commented on #4016
Hi, for English only

[2020-01-19 04:14] terrymanu commented on #4016
What is your version?

[2020-01-19 04:15] terrymanu commented on #4006
Duplicate with #3962

[2020-01-19 04:15] #4006 closed

[2020-01-19 04:17] terrymanu commented on #3919
You can try to use java API.

FIY: https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/configuration/config-java/

[2020-01-19 04:19] terrymanu commented on #3901
Closed by no response anymore

[2020-01-19 04:19] #3901 closed

[2020-01-19 04:20] terrymanu commented on #3908
Closed because no volunteer wanted for this feature now.

[2020-01-19 04:20] #3908 closed

[2020-01-19 04:20] kimmking commented on #4014
@shalousun  Actually, mysql&oracle doesn’t support catalog.

In a abstract Database model, a db instance contains several catalogs, each catalog contains several schema, every schema have many tables/views and other objects.Then we used to use Database in a specified case instead of the two concepts: catalog&schema. In mysql jdbc driver, the method connection.getCatalog will return databaseName st

[2020-01-19 04:24] terrymanu commented on #3987
Can you write the reason to close issue?

[2020-01-19 04:25] terrymanu commented on #3210
Closed for no response anymore

[2020-01-19 04:25] #3210 closed

[2020-01-19 04:27] cherrylzhao commented on #4002
ShardingSphere use local transaction interface to integrate distributed transaction(XA and BASE).
from the spring perspective we only compatible with `DataSourceTransactionManager`，so JTA
TransactionMananger will conflict with us. @ShardingTransactionType is a customer annotation, it should be handled by aspect class, you can use our code of  SPI project or develop by yourself.

[2020-01-19 04:32] Zze0 commented on #4002
@KomachiSion @cherrylzhao
Thank you very much for your answer.
My problem is solved.

--------------------------------------------------------------------------

In addition, I think you need to update your official documents on this point.
Right here: https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/usage/transaction/

[2020-01-19 04:37] terrymanu commented on #4008
Hi, can you try to version 4.0.0?

[2020-01-19 04:40] cherrylzhao commented on #4002
this is a constraint in spring side, you can try to PR for it to become our new contributor

[2020-01-19 04:45] Zze0 commented on #4002
Ok, I will

[2020-01-19 04:45] #4002 closed

[2020-01-19 05:59] succeo commented on #4016
sharding- jdbc version  3.0.0

[2020-01-19 06:10] kimmking commented on #4016
can you try it with sharding-jdbc 4.0.0 ?

[2020-01-19 07:23] yexufeijun opened #4019 "oracle select page SQL error: Must have sharding column with subquery"
### Which version of ShardingSphere did you use?
4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc-spring-boot-starter

### SQL
    SQL: SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM ( SELECT  id,sd_name  FROM TEST_SHARDING_A           ORDER BY id ASC ) TMP WHERE ROWNUM <=?) WHERE ROW_ID > ?

### Error
org.mybatis.spring.MyBatisSystemException: nested exceptio

[2020-01-19 08:58] SteNicholas commented on #4016
@succeo Could you please the latest version of sharding-jdbc? Your version is too old to hardly validate the problem you mentioned.

[2020-01-19 11:19] succeo commented on #4016
The problem is solved，thank you

[2020-01-19 11:20] #4016 closed

[2020-01-19 11:31] terrymanu opened #4024 "Decouple UI and ShardingSphere"
- [x] Split sharding-ui and shardingsphere to 2 maven projects.
- [x] Rename sharding-ui to shardingsphere-ui.
- [x] Add source distribution to shardingsphere-ui.
- [x] Add mvnw for shardingsphere-ui.

[2020-01-19 12:00] wqzwh opened #4026 "Update shardingsphere UI package and Add document description"
- [ ] Update shardingsphere UI package
- [ ] Add document description

Problem repetition：
![image](https://user-images.githubusercontent.com/16662470/72680575-50c9f500-3af6-11ea-9b98-eabd6937b8a8.png)

No dist folder or shardingsphere-ui.tar.gz was found after the command was executed

[2020-01-19 12:19] stamhe commented on #234
连尚文学 http://read.zhulang.com/

[2020-01-19 13:12] lightyear007 opened #4028 "If not hint values are set what's the routing behavior for HintShardingAlgorithm"
According to sharding jdbc doc [https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/usage/hint/], if we want to use the forced routing, we have to implement a HintShardingAlgorithm. My question is that if we have configured a sharding rule using HintShardingAlgorithm, but we didn't set any hint values using the HintManager, then how sharding jdbc can get a clue of how to rou

[2020-01-19 14:52] #4024 closed

[2020-01-19 23:44] wsad137 opened #4031 "Duplicate entry '425919356283650049' for key 'PRIMARY'"
![image](https://user-images.githubusercontent.com/3139878/72690554-66700680-3b58-11ea-8413-a641f107197e.png)
Error in decentralized deployment

[2020-01-19 23:49] wsad137 commented on #4031
Is it caused by asynchronous concurrency?

[2020-01-19 23:51] wsad137 commented on #4031
Can setting "Maximum Vibration Offset" or "Maximum Allowable Time Difference in Milliseconds" solve it?
Has anyone encountered this?

[2020-01-20 01:29] #3699 closed

[2020-01-20 01:48] nancyzrh opened #4033 "fix link of build status in UI"

[2020-01-20 02:49] leego86 commented on #3992
cause by the keyword source，there is a keyword 'source' in insert sql,solved by  around `` on the 'source'

[2020-01-20 02:55] qhj348770376 opened #4036 "4.0.1 release time"
## Question

What is the time that  4.0.1 release? Our online environment also occur #2997 #3956

[2020-01-20 03:06] #4005 closed

[2020-01-20 05:24] #4033 closed

[2020-01-20 05:34] xiyelife opened #4037 "sharding+encrypt when sql contains "\n"，sql rewrite error for mybatis. （in）"
### Which version of ShardingSphere did you use?
4.0.0  and dev branch
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
the `(`  are not in pairs , there are 5 `(`  in the actual SQL.
### Actual behavior
[code]
[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when ex

[2020-01-20 06:48] tuohai666 opened #4042 "Use the two-stage parsing strategy"
The first step uses a slightly weaker parsing strategy, SLL(\*), that almost always works. If the first parsing step fails, try the full LL(\*) parse.

After failing the first step, we don't know whether it's a true syntax error or whether it's because the SLL(\*) strategy wasn't strong enough.  Input that passes the SLL(\*) step is guaranteed to pass the full LL(\*) , so there's no point in tryin

[2020-01-20 06:52] KomachiSion opened #4043 "Raw-yaml configuration configure none sharding strategy failed"
## Bug Report

Similar problem to #4005 .

### Which version of ShardingSphere did you use?

4.0.0-RC1 ～ 4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

[code]

tableStrategy in shardingRule of t_order is `NoneStrategy`.

### Actual behavior

tableStrategy in shardingRule of t_order is null.

### Reason analyze (If you can)

`Yaml.loadA

[2020-01-20 06:54] xiyelife opened #4044 "ResultSet miss the plain column because of using contains to get the logicColumn when using data mask（sharding+encrypt）"
### Which version of ShardingSphere did you use?
4.0.0
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
return the all of table's columns.
### Actual behavior
resultSet miss the logic column because of using contains to get the logicColumn
### Reason analyze (If you can)
sharding+encrypt， the same issue with https://github.com/apache/incubator-sha

[2020-01-20 06:55] xiyelife commented on #4044
Please assign it to me , tks.

[2020-01-20 07:08] terrymanu commented on #4044
@xiyelife  Thank you, assigned

[2020-01-20 07:49] encodeering commented on #3990
Hi @SteNicholas @terrymanu, thanks for the fast reply.

Could you please point me to a maven repository where I could test the current snapshot?
Would it be possible to have this change also part of a 4.0.x release if the schedule for 5.x is not yet known?

[2020-01-20 07:59] #4026 closed

[2020-01-20 08:01] #4042 closed

[2020-01-20 08:30] KomachiSion opened #4047 "ConfigurationLogger can't log none sharding strategy"
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

ConfigurationLogger log none sharding strategy when it be set.

### Actual behavior

ConfigurationLogger can't log none sharding strategy correctly.

### Reason analyze (If you can)

There are two reason cause this problem:
1

[2020-01-20 09:07] SteNicholas commented on #3990
@encodeering Hi encodeering, you should clone the shardingsphere to local, checkout the dev branch, and execute `mvn clean install -DskipTests -Dfast` to compile. Then you could use the compiled version for you application. 5.X version doesn't release. Thanks.

[2020-01-20 09:39] geyi opened #4051 "Actual SQL Missing parameters"
## Bug Report
I found a similar problem #3136
but this sql still not working:
insert into t_quiz_order_ref (ORDER_ID, QUESTION_ID, OP_ORDER_ID, START_TIME, EXPIRE_TIME) values (?, ?, ? ,date_add(now(), interval ? second) ,date_add(now(), interval ? second))

ShardingSphere version: 4.0.0
my project use: sharding-jdbc-spring-boot-starter

stack trace log:
2020-01-20 17:12:29.990[]|GEYI.local|debug|

[2020-01-20 09:44] #4044 closed

[2020-01-20 09:46] SteNicholas commented on #4051
@geyi Because parser doesn't support DATE_ADD function. I would like to add the function.

[2020-01-20 10:17] xfyang1989 opened #4053 "default-data-source-name"
If "default-data-source-name" is used as the default data source parameter and does not participate in the sharding table, you can configure it to not parse SQL. This is mainly used for which tables of the sharding table act in the same transaction

[2020-01-20 10:18] #3129 closed

[2020-01-20 11:34] encodeering commented on #3990
Okay, will do that, thanks for the command line :+1:

[2020-01-20 11:34] #3990 closed

[2020-01-20 12:24] #4047 closed

[2020-01-20 15:09] #4051 closed

[2020-01-21 04:32] terrymanu commented on #4053
Can you change the title for search friendly?

[2020-01-21 04:40] terrymanu commented on #4036
Maybe next month

[2020-01-21 04:40] #4036 closed

[2020-01-21 04:41] terrymanu commented on #4031
Can you change the title for search friendly?

[2020-01-21 04:42] terrymanu commented on #4014
We have no plan to do this.
I can label the requirement as volunteer wanted for several days.
If someone interesting about it, please reply here.

[2020-01-21 08:25] kimmking opened #4062 "Sharding-Proxy should be able to start more than one instance from the start-script"
## Bug Report
Download the proxy binary zip file and extract to a proxy directory.
After start one proxy with start.bat or start.sh, run it with another port and config path, but some  occurs.
Sharding-Proxy should start more than one instance from the start-script.

[code]

### Which version of ShardingSphere did you use?
4.0.0 or 5.0.0-RC1-SNAPSHOT in dev branch

### Which project did you use? S

[2020-01-21 09:20] SteNicholas commented on #4051
@geyi The question has already fixed. You could try the dev branch.

[2020-01-21 10:42] SteNicholas commented on #3992
@leego86 Keyword `source` is unreserved keyword, and this has already put into `unreservedWord_ `. The same issue:[3822](https://github.com/apache/incubator-shardingsphere/issues/3822). You could see this.

[2020-01-21 10:42] #3992 closed

[2020-01-21 11:03] kimmking commented on #3946
5.0.0 snapshot is ok now.

[code]

[2020-01-21 11:03] #3946 closed

[2020-01-21 12:19] geyi commented on #4051
thanks

[2020-01-21 13:20] #4062 closed

[2020-01-21 14:56] kimmking commented on #4014
Another method `getSchema()` is the same.

[2020-01-22 04:20] SteNicholas commented on #3856
@joewee This SQL has no problem. @xiyelife has aleady helped to test this.

[2020-01-22 13:01] geyi commented on #4051
i used dev branch, but the same bug happened......

[2020-01-23 02:22] #3924 closed

[2020-01-23 07:52] terrymanu commented on #4019
We will support subquery at 5.x

[2020-01-23 07:52] #4019 closed

[2020-01-23 07:54] #3960 closed

[2020-01-23 07:55] terrymanu commented on #3960
Please waiting for Sharding-scaling release

[2020-01-23 07:57] terrymanu commented on #3927
I can get your point, can you give a example to describe your question?

[2020-01-23 08:39] geyi commented on #4051
yes, i clone dev branch, then execute mvn clean install -Prelease
import sharding-distribution/sharding-jdbc-distribution/target/apache-shardingsphere-incubating-5.0.0-RC1-SNAPSHOT-sharding-jdbc-bin/lib
exception log:
2020-01-23 16:31:01.406[]|10.0.0.5|debug|http-nio-8888-exec-1|com.airing.dubbo.mapper.QuizMapper.insertOrderRef|==>  Preparing: INSERT INTO t_quiz_order_ref (ID, ORDER_ID, QUESTION_I

[2020-01-25 07:53] geyi commented on #4051
@SteNicholas
**eg1:**
Actual SQL: ds0 :::
INSERT INTO t_quiz_order_ref0 (START_TIME, ID, ORDER_ID, QUESTION_ID)
VALUES
(date_add(now(),interval?second), ?, ?, ?)
::: [3, 10000008, 616eff9eadc84b72a7be0b59855a7c8a]
**exception:**
No value specified for parameter 4

**eg2:**
Actual SQL: ds0 :::
INSERT INTO t_quiz_order_ref0 (ID, ORDER_ID, QUESTION_ID, START_TIME)
VALUES
(?, ?, ?, date_add(now(),inte

[2020-01-27 12:43] encodeering opened #4092 "class cast exception if no viable alternative could be found"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

Commit 63f880bcab14eba5d4ac83ef22fc5ae346a62821

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

SQL statements with schema and quotation work equally compared to 3.x

### Actual behavior

The following sql statement causes a class cast exception

[code]

Sche

[2020-01-27 13:45] #3681 closed

[2020-01-28 06:40] terrymanu commented on #4092
Hi, we don't parse schema owner for select SQL for now.
It is a bug, I prefer to open it as volunteer wanted who interested to fix this one.

[2020-02-02 07:59] dongzl commented on #3914
MySQL visitor progress:
1. DAL
- [ ] reset
- [ ] set
- [ ] show
2. DCL
- [ ] alter-login
- [ ] alter-role
- [x] alter-user
- [ ] create-login
- [x] create-role
- [x] create-user
- [ ] deny-user
- [ ] drop-login
- [ ] drop-role
- [x] drop-user
- [ ] grant-user
- [x] rename-user
- [ ] revoke-user
- [ ] set-default-role
- [x] set-password
- [ ] set-role
3. DDL
- [ ] alter-index
- [x] alter-table
- [x

[2020-02-02 08:23] #3856 closed

[2020-02-03 05:48] ryan8926 opened #4146 "springboot can not connect mysql 8.0.19 by sharding proxy"
i need use spring-boot 2.1.7.RELEASE to connect sharding-proxy, but error !

mysql version is 8.0.19，i use mysql driver version is 8.0.19 and this jar in shardling lib also is 8.0.19, but my application start error, error ：Caused by: com.mysql.cj.exceptions.UnableToConnectException: CLIENT_PLUGIN_AUTH is required.

application part code:

	  @Bean(name = "dataSource")
	  public HikariDataSource da

[2020-02-03 07:54] kimmking commented on #4146
can you show some error details?

[2020-02-03 09:55] #4043 closed

[2020-02-04 02:47] KomachiSion commented on #3964
@tmjGitAccount @darcydai

Can you provide your SQL and algorithm class?

[2020-02-04 03:56] terrymanu opened #4155 "Split DCL statement to concrete SQL statement"
- [x] Add grant statement
- [x] Add revoke statement
- [x] Add create user statement
- [x] Add create role statement
- [x] Add create login statement
- [x] Add alter user statement
- [x] Add alter role statement
- [x] Add alter login statement
- [x] Add drop user statement
- [x] Add drop role statement
- [x] Add drop login statement
- [x] Add deny user statement
- [x] Add rename user statement
- [

[2020-02-04 03:59] terrymanu opened #4156 "Split DDL statement to concrete SQL statement"
- [x] Add truncate statement
- [x] Add alter index statement
- [x] Abstract DDL statement

[2020-02-04 04:22] #4156 closed

[2020-02-04 05:03] kimmking commented on #4146
You can use mysql-driver with 5.1.47 and retry.

[2020-02-04 09:07] #3947 closed

[2020-02-04 09:33] terrymanu opened #4159 "Check SQL case ID duplicate in SQL parser test engine"
To avoid omit some test cases, SQL parser test engine should check duplicate for SQL case ID when startup.

[2020-02-04 09:44] #4155 closed

[2020-02-04 10:15] terrymanu opened #4161 "Use same SQL cases for old parser test engine and new visitor parser test engine"
We have already split `SQL cases` and `assertion cases` for old parser test engine and new visitor parser test engine.
It is make sense for split `assertion cases` because we need add new parse logic step by step.
But we should remove `SQL cases` copy for visitor.
Keep one `SQL cases` can reduce copy error.

[2020-02-04 11:12] #4161 closed

[2020-02-04 11:58] huangyiminghappy opened #4164 "MaxPermSize is not support when the jdk version not less than jdk8"
## Bug Report
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
all
### Expected behavior
the warn "Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0" can not

[2020-02-04 13:54] #4164 closed

[2020-02-04 14:03] terrymanu opened #4169 "Print names of missed parser test cases when count mismatch with SQL cases in parser test engine"
The parser test engine will throw an exception if count of parse test cases mismatch with SQL cases.
It is unfriendly to find which cases are missing.
It will be better if print the names of missed cases to help develop to locate their test codes when parser test engine startup.

[2020-02-05 02:20] #4159 closed

[2020-02-05 03:02] #4169 closed

[2020-02-05 12:55] terrymanu opened #4175 "Check SQL parser case duplicate in SQL parser test engine"
Similar with #4159, check duplicate with SQL parser case too.

[2020-02-05 12:58] terrymanu opened #4178 "Only run literal SQL parser test cases if parameter absent"
It is waste to run literal and placeholder SQL parser test cases if parameter absent.
We just keep running the literal and placeholder test cases both if parameter present.

[2020-02-05 13:03] liutaohua opened #4179 "ParameterMarkerExpressionSegment looks like a memory leak"
hi，
i'm use ` sharding-jdbc-core:4.0.0-RC3` to shard data in 10-tables .

table :
[code]

and insert sql :
[code]

The write speed of the database is about 25,000/s ,  and the test lasts about an hour.

I found the `simple.ParameterMarkerExpressionSegment` and  `dml.assignment.InsertValuesSegment`
The total number of classes is increasing, and `GC` does not reduce the number of instances.

So I gu

[2020-02-05 14:41] #4175 closed

[2020-02-06 04:14] #4179 closed

[2020-02-06 07:21] succeo opened #4180 "Inline strategy cannot support range sharding"
sharding-jdbc version  4.0.0

sql  select * from t_account where f_type = 1 and  f_id >= 10000 and f_code in ("500","604","685") group by f_code;

An exception occurred during the query.

[2020-02-06 07:26] succeo commented on #4180
Please help me solve this problem, thank you

[2020-02-06 07:41] KomachiSion opened #4182 "Sharding-proxy 4.0.0 can query columns for table"
## Bug Report

When query columns of sharding table by `getColumns` method of JDBC, sharding-proxy will throw exception:
[code]

But I used sharding-proxy 4.0.0-RC2, It can work well.

### Which version of ShardingSphere did you use?

4.0.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-Proxy

### Expected behavior

get Column info from Result Set.

### Actual behavior

[2020-02-06 07:43] KomachiSion commented on #4180
What's your sharding configuration?

BTW, Inline strategy only support `=` and in condition for sharding column.  If you want to use range sharding, you should use standard strategy.

More detail see documents

[2020-02-06 07:50] tuohai666 commented on #4182
@KomachiSion Can you provide logs with sql.show : true ? I want to see logic and actual SQLs.

[2020-02-06 07:53] KomachiSion commented on #4182
[code]

[2020-02-06 07:54] KomachiSion commented on #4182
This is 4.0.0-RC2's log

[code]

[2020-02-06 08:02] succeo commented on #4180
config:
shardingColumn: f_id

If you have a query for the range of columns in a separate table, how will it be configured, such as f_id>= XXX

[2020-02-06 08:11] KomachiSion commented on #4180
You should code a `RangeShardingAlgorithm` and configure it as your range algorithm.

example like : https://github.com/apache/incubator-shardingsphere-example/tree/dev/sharding-jdbc-example/sharding-example/sharding-raw-jdbc-example

use `sharding-databases-range.yaml`

[2020-02-06 11:48] tristaZero opened #4187 "Bad SQLRewriteResult when using encryptRule."
SQL: SELECT * FROM t_query_encrypt WHERE pwd = ? and (id = ? or id =?)
Error log:
java.lang.StringIndexOutOfBoundsException: String index out of range: -3

When run the above sql in `EncryptPreparedStatementTest`, you will get this exception.

[2020-02-06 11:50] xiyelife opened #4188 "sharding +encrypt rewrite for SQL `select with `OR` and `AND`` cause StringIndexOutOfBoundsException."
### Which version of ShardingSphere did you use?
4.0.0
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
select SQL execute successfully.
### Actual behavior
[code]
### Reason analyze (If you can)
The SQL parse result like this :
![image](https://user-images.githubusercontent.com/8772975/73934497-899d0300-4919-11ea-839b-e076ed32c321.png)
It cause t

[2020-02-06 11:57] #4178 closed

[2020-02-06 12:12] terrymanu commented on #4180
No, Inline strategy cannot support range sharding.
More details please reference document and example

[2020-02-06 12:12] #4180 closed

[2020-02-06 12:12] terrymanu commented on #4053
Closed for no response anymore.

[2020-02-06 12:12] #4053 closed

[2020-02-06 12:13] terrymanu commented on #4031
Closed for no response anymore.

[2020-02-06 12:13] #4031 closed

[2020-02-06 12:13] terrymanu commented on #4008
Closed for no response anymore.

[2020-02-06 12:13] #4008 closed

[2020-02-06 12:14] #3886 closed

[2020-02-06 12:14] #3919 closed

[2020-02-06 12:15] terrymanu commented on #3927
Closed for no response anymore.

[2020-02-06 12:15] #3927 closed

[2020-02-06 12:16] #3970 closed

[2020-02-06 12:17] terrymanu commented on #3971
Can you provide your SQL and encrypt rule configuration?

[2020-02-06 12:18] terrymanu commented on #3993
Any update?

[2020-02-06 13:26] lklkxcxc opened #4192 "insert float type vaule report "10002 - 2Unknown exception""
Sharding-proxy version: 4.0.0-RC1

Problems encountered：
mysqldump file import to sharding-proxy found use insert and delete “float” type vaule report `10002 - 2Unknown exception: [For input string: "5.251"],`

- sql:`insert into test VALUES (907,907,'Biomaterials ,'BIOMATER','2047',5.251);` But modify vaule '5.251' to '5' can success insert.

- show desc backend database table structure：
CREATE T

[2020-02-07 03:45] tristaZero commented on #3914
Here are some remaining task from my position,

MySQL visitor progress:
- DAL  **(In charge of @jingshanglu)**
  - [ ] Optimizations points from #4117
  - [ ] set
  - [ ] show
- DCL  **(in the charge of @tianbin1001 and @beijing-penguin)**
  - [ ] alter-login
  - [ ] alter-role
  - [ ] create-login
  - [ ] deny-user
  - [ ] drop-login
  - [ ] grant-user
  - [ ] revoke-user
  - [ ] set-role
- DDL

[2020-02-07 03:46] xiyelife commented on #4037
@SteNicholas  I add parse logic  of the IN operator bracket's index for encrypt rewirte, and use left bracket's startIndex to rewrite `EncryptPredicateRightValueToken` for EncryptPredicateRightValueTokenGenerator

[2020-02-07 04:42] beijing-penguin opened #4196 "old DCL set default role test unit dose not pass"
i add set-default-role.xml case to incubator-shardingsphere\shardingsphere-sql-parser\shardingsphere-sql-parser-test\src\test\resources\sql,but run SQLParserParameterizedTest.java test unit error
[code]
the set-default-role.xml content is
[code]

[2020-02-07 04:58] terrymanu commented on #4196
This is not bug, it is a normal assert.
The failure reason just like the error message said:

[code]

Please add parse test cases to sql parse test engine.

The test cases are composited by 2 parts: SQL cases and SQL parser cases.

Please make sure your SQL parser cases include the cases `set_default_role_to_user, set_default_all_role, set_default_none_role, set_default_roles_to_users`.

They shou

[2020-02-07 04:58] #4196 closed

[2020-02-07 07:35] xiyelife commented on #4188
where's predicate contains `OR` operator that makes encrypt rewrite sql tokens duplicated. And the SQL parse is ok.

[2020-02-07 08:14] beckhampu opened #4199 "Code Optimization - Add filter classes Constructor to restrict the illegal class to be loaded when unmarshalling yaml as Map"
Now we use org.yaml.snakeyaml.Yaml.load() method to parse yaml as a Map. It is not good, can be loaded some illegal class. So i want to optimize it.
- [x] Add filter classes Constructor to restrict the illegal class to be loaded.

[2020-02-07 09:25] tristaZero commented on #4187
Same with #4188 , so close this one

[2020-02-07 09:25] #4187 closed

[2020-02-07 10:11] duanxq1994 commented on #3111
Recommendation: If duplicate, please post the original issue link for better tracking

[2020-02-07 13:02] #4188 closed

[2020-02-07 13:07] kimmking commented on #4199
for security issues？

[2020-02-07 15:47] #4182 closed

[2020-02-07 21:43] SteNicholas commented on #4192
@lklkxcxc Could you please use the latest version of Sharding-Proxy to try this?And the SQL you provided is wrong.
`insert into test VALUES (907,907,'Biomaterials ,'BIOMATER','2047',5.251)`
should be
`insert into test VALUES (907,907,'Biomaterials','BIOMATER','2047',5.251)`

[2020-02-08 17:00] TonyLuo commented on #3782
I upgrade the shardingjdbc version to be 4.0.0, it still has the same issue...

[2020-02-08 17:07] TonyLuo commented on #3782
I found this exception:
[code]

![image](https://user-images.githubusercontent.com/3250305/74089097-7d12d900-4ad8-11ea-9a1d-cc1003980374.png)

[2020-02-08 17:25] TonyLuo commented on #3782
It works when I comment this jpa configuration  entry hibernate.connection.provider_disables_autocommit.

Will it have any impact to do so? @terrymanu
[code]

[2020-02-09 03:56] #3782 closed

[2020-02-10 08:21] beijing-penguin commented on #3914
#4191

[2020-02-10 08:23] beijing-penguin commented on #3914
#4191

[2020-02-10 08:24] tianbin1001 commented on #3194
add dcl createUser parse #4119

[2020-02-10 08:45] tianbin1001 commented on #3914
Please assign this issue to me.

[2020-02-10 08:46] tianbin1001 commented on #3914
add createuser dcl #4119

[2020-02-10 08:47] tianbin1001 commented on #3914
add antlr visitor for MySQL DCLStatement  #4135

[2020-02-10 08:49] tianbin1001 commented on #3914
add grant visitor for MySQL DCLStatement #4190

[2020-02-10 08:50] tianbin1001 commented on #3914
grant visitor optimize #4214

[2020-02-10 08:55] beijing-penguin commented on #3914
add revoke DCL SQL visitor parse and test unit #4223

[2020-02-10 09:29] lklkxcxc commented on #4192
Use the latest version of Sharding-Proxy RC3 that  mysqldump import  is sucess. But I found a problem query  tables result only return id%0 record. Query backend database ds1 can  find id%1 record.

[2020-02-10 09:45] #4192 closed

[2020-02-10 09:51] yl1935 commented on #2712
我在4.0.0版本中非注册中心配置没有问题，如果引入了sharding-jdbc-orchestration-spring-boot-starter就会报这个错误，比较了sharding-jdbc-orchestration-spring-boot-starter包中的OrchestrationSpringBootConfiguration.java和sharding-jdbc-spring-boot-starter包中的SpringBootConfiguration.java文件，发现少了@AutoConfigureBefore(DataSourceAutoConfiguration.class)这个注解，感觉是这里影响的。

[2020-02-10 10:50] #4199 closed

[2020-02-10 10:53] RainElohim commented on #4146
it's can't ,too

[2020-02-10 11:50] RainElohim commented on #4146
proxy4.0.0
`[2020-02-10 19:28:30,434] [ERROR] [DruidDataSource:2755] ===> create connection SQLException, url: jdbc:mysql://10.16.0.21:3307/sharding_db?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true, errorCode 0, state 08001
java.sql.SQLNonTransientConnectionException: CLIENT_PLUGIN_AUTH is required
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:110) ~[mys

[2020-02-10 12:59] #3185 closed

[2020-02-10 16:17] terrymanu commented on #3993
Closed because no response anymore.

[2020-02-10 16:17] #3993 closed

[2020-02-11 01:29] KomachiSion commented on #3964
@tmjGitAccount @darcydai
I try to reproduce problem by configuration you provided, and I found that there are no `tableRule` so that ShardingSphere use unicast routing instead of hint routing. May you provide more information makes me reproduce problem?

If no more response, I will close this issue and think this is a usage issue

[2020-02-11 02:11] yl1935 opened #4230 "Has error when use orchestration and mybatis-plus with springboot"
## Bug Report
Project: Shading-JDBC
Verson:4.0.0

I works well on local sharding config with mybatis-plus, and I think it will works well too on orchestration config with registry, but it won't. The error message is "Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured."

The springboot version is 2.2.4 and I use mybatis-plus and shardin

[2020-02-11 02:37] lklkxcxc opened #4231 "mysqldump file import sharding-proxy insert speed slowly"
Sharding-proxy version: `4.0.0-RC3`

- Problems encountered：`It took 24 hours to import 10 million records into sharding-proxy.`

- Sharding-proxy Config: `start.sh -Xmx8g -Xms8g -Xmn4g,server.yaml use default parm`

[2020-02-11 02:37] tuohai666 commented on #4146
Duplicate with #3097.

[2020-02-11 02:37] #4146 closed

[2020-02-11 02:41] tmjGitAccount commented on #3964
add this config may reproduce ?
default-table-strategy:
        hint:
          algorithm-class-name: com.a.b.c.OrderShardingAlgorithm

[2020-02-11 02:43] KomachiSion commented on #3964
I have added, but I don't know your SQLs. I try my SQL, and it still is unicast routing.

So I need your SQLs and `OrderShardingAlgorithm`

[2020-02-11 03:30] tmjGitAccount commented on #3964
Here is my OrderShardingAlorithm.java，the sql is just a very normal **select * from table**
All I want is to route to different datasource by different header
for example
1. if the httpheader  agency: a
  i want this sql be excuted in datasource dsa
2. if the httpheader agency: b
 i want this sql be excuted in datasource dsb

maybe could you please  provide me an example config for the purpose i w

[2020-02-11 03:31] KomachiSion commented on #3964
@tmjGitAccount I will try again.

[2020-02-11 03:52] tuohai666 commented on #3973
The result need to be converted to LocalDateTime in QueryResult. 4.x do not support this yet since it's based on JDK 7. Let's wait for 5.x.

[2020-02-11 03:52] #3973 closed

[2020-02-11 04:57] #3848 closed

[2020-02-11 05:10] KomachiSion opened #4234 "The enhancement for the first version sharding-scaling-ui"
Scaling-ui has almost done.

But when I test, I found there are some problem need to fix and enhance.

problem:

1. scaling-ui can't configure the host of scaling-server.
2. UI has cross-domain problem so that web browser which do not support cross-domain can't use scaling.

enhancement:

1. History Task total progress only update when history task finished.
2. The detail progress of history task

[2020-02-11 05:19] terrymanu commented on #4231
Do you use PreparedStatement and ParameterMarker?

[2020-02-11 05:32] lklkxcxc commented on #4231
@terrymanu : I didn't used PreparedStatement and ParameterMarker. What are PreparedStatement and ParameterMarker?

[2020-02-11 05:59] lklkxcxc commented on #4231
@terrymanu Do you know why insert is so slow?

[2020-02-11 06:10] terrymanu commented on #4231
Because if you don't use PreparedStatement, it will parse SQL for every call which are very slow.
ShardingSphere will cache parse result if using PreparedStatement.

[2020-02-11 06:22] lklkxcxc commented on #4231
@terrymanu There is not much change ,I have used param:`serverTimezone=UTC&useSSL=false&characterEncoding=utf8&useServerPrepStmts=true&cachePrepStmts=true`

[2020-02-11 07:04] mylyed opened #4236 "sharing-proxy can't suport mysql 'longblob' data type"
### Which version of ShardingSphere did you use?
4.0.0-RC3
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
4.0.0-RC3
### Expected behavior
INSERT success
![image](https://user-images.githubusercontent.com/11626016/74216300-f24ffb00-4cde-11ea-8873-d5a1a595c6a1.png)

### Actual behavior
INSERT error
![image](https://user-images.githubusercontent.com/11626016/74216316-fed45380-4cde-11

[2020-02-11 07:31] SteNicholas commented on #4192
@lklkxcxc The different between the above SQL is Biomaterials.

[2020-02-11 08:08] kimmking commented on #4236
blob type also has this problem.
reproduce it:
1. create a table with a blob type column:
[code]
2. insert a row by mysql-cli directly:
[code]
3. insert a row by proxy:
[code]
And in proxy logs, an error can be found:
[code]

[2020-02-11 09:47] geomonlin opened #4238 "Update document(docs) to 5.X"
Change 4. X document to historical version

[2020-02-11 10:09] joinhappy81 opened #4240 "java.util.LinkedHashMap cannot be cast to org.apache.shardingsphere.orchestration.yaml.config.YamlDataSourceConfiguration"
![image](https://user-images.githubusercontent.com/8109271/74227414-60092080-4cf9-11ea-8f97-2e1cce1f7e7f.png)

![image](https://user-images.githubusercontent.com/8109271/74227505-8f1f9200-4cf9-11ea-8ad4-9382c21490a8.png)

帮忙看看是什么问题，类型转换异常

[2020-02-11 11:29] kimmking commented on #4231
Terry means you can use ‘insert into pku_influencing_factor VALUES (?,?,?,?)’ with PreparedStatement and put the parameters for every record. @lklkxcxc

[2020-02-11 11:33] kimmking commented on #4240
Can you show these messages with text format, thx.
I can't fetch the github images today, perhaps it's a network issue.

[2020-02-11 12:45] terrymanu opened #4243 "Move docs’s legacy html to https://github.com/apache/incubator-shardingsphere-doc repo"
We have already moved docs from https://github.com/apache/incubator-shardingsphere-doc to this repo.
But some legacy html files which generated by Hugo for previous version are not source code, the docs folder should only contains source code (the md files).
So we need to move all html files to `asf-site` branch of https://github.com/apache/incubator-shardingsphere-doc.
The remain tasks are:

- [x

[2020-02-11 12:47] geomonlin commented on #4238
Again Plan to add 5. X docs after 4. X is stable

[2020-02-11 12:47] #4238 closed

[2020-02-11 12:50] lklkxcxc commented on #4231
@kimmking Can you give me a specific example? thank you！

[2020-02-11 15:40] terrymanu opened #4250 "Decouple dependency of findSQLSegments for TableSegment"
Using findSQLSegments method for TableSegment is not a clear way to get TableSegments by hierarchy.
It is better to create a clear interface to get TableSegment for SQLStatement.

[2020-02-11 16:54] lzqdename opened #4252 "connection is not closed"
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-core</artifactId>
			<version>4.0.0</version>
</dependency>

In method org.apache.shardingsphere.shardingjdbc.jdbc.core.context.MasterSlaveRuntimeContext.createCachedDatabaseMetaData(Map<String, DataSource> dataSourceMap)

code is as follows:
try (Connection connection = dataSourceMap.values().iterator().next

[2020-02-11 17:04] lzqdename commented on #4252
yes,will be closed.

[2020-02-11 17:04] #4252 closed

[2020-02-12 00:51] joinhappy81 commented on #4240
![image](https://user-images.githubusercontent.com/8109271/74292917-3c36f080-4d74-11ea-8f15-9c8bf377da58.png)

![image](https://user-images.githubusercontent.com/8109271/74293099-c0897380-4d74-11ea-81cd-eb341b8c98e1.png)

version is 4.0.0

配置应该没有问题把，我看数据都已经显示了

[2020-02-12 01:04] joinhappy81 commented on #4240
4.0.1 没有发布

[2020-02-12 01:11] cherrylzhao commented on #3877
just close it for no response more than 7 days

[2020-02-12 01:11] #3877 closed

[2020-02-12 01:22] cherrylzhao commented on #3546
@tuohai666 reproduce step is not enough, I need to know how to trigger this exception in user side

[2020-02-12 01:23] KomachiSion commented on #3024
pending reason: No find enough good solution.

[2020-02-12 01:44] KomachiSion commented on #3500
pending reason: need to fix with #3187 together.

[2020-02-12 01:55] cherrylzhao commented on #2362
there are two task needs to be enhanced

- [ ] add new filter rule for oracle 12c in loading all table
- [ ] should only load all table when config default-data-source

[2020-02-12 02:23] nancyzrh commented on #3317
the optimize method in #4059 is a temporary solution, the radical solution should be optimize the structure of Integrate Test which should be talked about with others and design for some time.

[2020-02-12 02:27] tristaZero commented on #3914
Hi, @dongzl @beijing-penguin @tianbin1001 @SteNicholas @jingshanglu
Could you update the status of [status1](https://github.com/apache/incubator-shardingsphere/issues/3914#issuecomment-581108911) and [status2](https://github.com/apache/incubator-shardingsphere/issues/3914#issuecomment-583220969) if you have made some progress?

[2020-02-12 02:31] beijing-penguin commented on #3914
hi，please make revoke-user and set-role complete

[2020-02-12 02:33] tristaZero commented on #3914
Hi, thanks for your feedback, done.

[2020-02-12 02:59] tuohai666 commented on #2736
Already fixed.

[2020-02-12 02:59] #2736 closed

[2020-02-12 05:09] tristaZero commented on #4243
@terrymanu My suggestion is to remain homepace at current repo, since we may update it in future.

[2020-02-12 05:26] Arnow opened #4255 "use CAPI in stmt mode ,mysql_stmt_prepare and mysql_stmt_execute return incorrect response"
## Bug Report
### Which version of ShardingSphere did you use?
4.0.0
### Which project did you use? Sharding-JDBC or Sharding-Proxy?

apache-shardingsphere-incubating-4.0.0-sharding-proxy-bin

### Expected behavior
### Actual behavior

two questions :

Question 1:
use CAPI in stmt mode, mysql_stmt_prepare get incorrect response according to mysql protocol, packages of column definition information

[2020-02-12 05:53] gxgmy521 opened #4256 "hintManager.setDatabaseShardingValue do not work."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-12 06:31] kimmking commented on #4240
I need your config file to reproduce this bug.
Submit your config file to be useful for me to resolve it.
Thx.

[2020-02-12 07:33] Anricx commented on #805
4.x support now?

[2020-02-12 07:38] KomachiSion commented on #4256
It seems similar to #3964 .
I will check together.

[2020-02-12 07:51] joinhappy81 opened #4263 "org.apache.shardingsphere.orchestration.reg.zookeeper.curator.CuratorZookeeperRegistryCenter.persistEphemeral"
![image](https://user-images.githubusercontent.com/8109271/74313860-6eb20f00-4daf-11ea-824f-b693b5e916e8.png)

不知道问题出现再那里

[2020-02-12 09:14] kimmking commented on #4263
which version？

[2020-02-12 09:20] kimmking commented on #4263
In this project, curator-framework version is:
` <curator.version>2.10.0</curator.version>`

But your log show curator-framework is 4.0.1 in your project.
You should modify to 2.10.0 and retry.

[2020-02-12 09:39] kimmking commented on #4240
@joinhappy81 you can use:
[code]
[code]

to explicitly specify YamlDataSourceConfiguration type.

We will add a default converter in next release version.

[2020-02-12 09:49] KomachiSion commented on #4256
duplicate with #3964 .

[2020-02-12 09:49] #4256 closed

[2020-02-12 09:49] terrymanu commented on #4243
@tristaZero Sure, it is better to move homepage to asf-site branch

[2020-02-12 09:50] joinhappy81 commented on #4263
![image](https://user-images.githubusercontent.com/8109271/74323166-12a3b680-4dc0-11ea-89fd-4191c82000f4.png)

引入项目后，jar包就不对

[2020-02-12 09:59] #4243 closed

[2020-02-12 10:06] #4240 closed

[2020-02-12 10:21] joinhappy81 opened #4268 "sharding-orchestration-reg-zookeeper-curator curator-framework curator-recipes 版本有问题"
![image](https://user-images.githubusercontent.com/8109271/74325862-53053380-4dc4-11ea-92e7-adabb551c93e.png)

版本不一致

[2020-02-12 10:28] #3964 closed

[2020-02-12 10:30] terrymanu commented on #4268
**For English only**, other languages will not accept.

[2020-02-12 10:30] #4268 closed

[2020-02-12 10:30] #4250 closed

[2020-02-12 10:54] kimmking commented on #4263
My project is normal.
You can use `mvn dependency:tree` and check your other pom config refer a 4.0.1 version curator.

[2020-02-12 10:56] joinhappy81 opened #4269 "Version conflict ：sharding-orchestration-reg-zookeeper-curator-4.0.0"
![image](https://user-images.githubusercontent.com/8109271/74328477-f5271a80-4dc8-11ea-9d15-9caaca24b7c1.png)

curator-framework
curator-recipes
curator-client

[2020-02-12 11:30] kimmking commented on #4240
And I find one thing:
If we start proxy with a yaml configuring datasources, proxy server will transform datasources with YamlDatasourceConfiguration object and marshal it to string with type, then send to zk.
Proxy server then use the config parameters from zk, so YamlDatasourceConfiguration type always here in datasource config string.

If you modify datasource config via zk-cli or ShardingSpher

[2020-02-12 11:35] zjcnb commented on #4014
I am interested in

I am interested in

[2020-02-12 12:58] dongzl opened #4270 "CuratorZookeeperInstance can't read server.yaml orchestration props config."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-12 13:13] #4263 closed

[2020-02-12 13:34] terrymanu opened #4271 "Optimization for Sharing Parser with ANTLR Visitor for PostgreSQL"

[2020-02-12 14:06] gxgmy521 commented on #4256
I read you commit, and i think it should work. but in the manual (https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/usage/hint/) it said that
Users can use hintManager.setDatabaseShardingValue to add shardings in hint route to some certain sharding database without sharding tables. After that, SQL parse and rewrite phase will be skipped and the overall enforcement efficien

[2020-02-12 16:00] kimmking commented on #4270
We should check all properties access in project, avoid invalid props configuration.

[2020-02-12 16:08] kimmking commented on #4269
![image](https://user-images.githubusercontent.com/807508/74353362-c58e0780-4df4-11ea-8248-4733cd13a987.png)

you should use `mvn dependency:tree` to see where the 4.0.1 version was referred.

[2020-02-12 16:24] kimmking commented on #4014
Logic schema can be as the result of getSchema()/getCatalog() method in mysql,
But pg&oracle, it's different.

[2020-02-13 02:33] TongRuii opened #4276 "No available sharding rule configuration in `logic_db` for orchestration."
## Question

**I just want to ：**
- sharding database with hit
-  Dynamic configuration
so i use orchestration
[code]
[code]
These configurations take effect locally, but when I configure to the configuration center, the program starts incorrectly：
[code]
I tried this configuration again, and it was successful。
[code]
The difference between the above two configurations is that the second configura

[2020-02-13 03:29] terrymanu opened #4277 "Unify AST rule name for all dialect of databases"

[2020-02-13 03:35] terrymanu opened #4278 "Add log details for metadata load when app startup"
ShardingSphere need database and table metadata when app startup.
It will spend lots time if there are lots of amount databases and tables.
It is better to log more details about metadata load when app startup.

The log may include:

- [x] Start to load metadata.
- [x] Number of tables and details of each table name.
- [x] Finish to load metadata and log the total loading time.

[2020-02-13 03:48] yuzel commented on #4278
I want to try to do this.

[2020-02-13 04:55] terrymanu commented on #4278
Thank you, assigned

[2020-02-13 04:57] terrymanu commented on #3954
Yes, welcome try to do it

[2020-02-13 05:31] #4277 closed

[2020-02-13 05:59] gxgmy521 opened #4280 "Why the readOnly filed in the ShardingConnection is true."
## Question
When get a shardingConnection , the `readOnly` filed is aways true,however ,the same filed in the pthysical datasource connection is false. Can you explain why in the `AbstractConnectionAdapter` class the readOnly is true

[2020-02-13 06:03] gxgmy521 opened #4281 "Use hintManager.setDatabaseShardingValue can not skip the sql parse"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-13 06:52] tristaZero commented on #3914
Hi congrats to everyone, we basically finish the parser opimization for MySQL! 🥇

The parser opimization for other databases is our next step and then we will consider transferring our sharding parser from old one to the one we are working, which seems a great challenge for us, go ahead!

[2020-02-13 06:55] KomachiSion commented on #4281
In 4.0.0, All SQL will be parse. `setDatabaseShardingValue` is only set the hint value, which will be used in route step.

[2020-02-13 06:57] KomachiSion commented on #3963
No response in this issue. Close it.

[2020-02-13 06:57] #3963 closed

[2020-02-13 07:47] lklkxcxc opened #4284 "SQL query big table return '[java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: Java heap space]'"
Sharding-proxy version: 4.0.0-RC3

Problems encountered：Exec SQL `select * from basic;` hung ,The `basic` table have 4 million record and  5.2GB.

Sharding-proxy Config: start.sh -Xmx8g -Xms8g -Xmn4g,server.yaml use default parm. It is now extended to 16GB `-Xmx16g -Xms16g -Xmn12g` .

stdout.log：`[DEBUG] 15:14:08.595 [HikariPool-1 housekeeper] com.zaxxer.hikari.pool.HikariPool - HikariPool-1 - Poo

[2020-02-13 08:06] #3914 closed

[2020-02-13 08:22] KomachiSion opened #4286 "Problems with ShardingScaling support for PostgreSQL."
ShardingScaling plan to support PostgreSQL before merging into `master` branch.

But there are some problems may need to fix:

- [x] Can't get columnMetaData of target table from sharding-proxy with PostgreSQL. #4287
- [x] Some data type such as `Time` may loss part of precision.

For the columnMetaData problem, I think we can redesign and refactor the metadata part in  ShardingScaling to avoid th

[2020-02-13 09:10] KomachiSion opened #4287 "ShardingProxy can't get columnMetadata for PostgreSQL"
## Bug Report

Similar problem with #4182 .

### Which version of ShardingSphere did you use?

4.0.0 and 5.0.0-RC1-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-Proxy

### Expected behavior

getColumns interface get right columnMetadata.

### Actual behavior

#### For 4.0.0 version

Throw exception:
[code]
sql.show don't print.

#### For 5.0.0-RC1-SNAPSHOT

ca

[2020-02-13 09:14] mylyed commented on #4236
sorry ,  ‘Blob ’ data type not shown by mysql client

[2020-02-13 09:14] #4236 closed

[2020-02-13 10:13] kimmking commented on #4276
Add this line to your configuration:
[code]

[2020-02-13 10:18] kimmking commented on #4146
the driver in your project should be changed to 5.1.47 too.

[2020-02-13 10:22] kimmking commented on #3097
proxy:
mysql> set global query_cache_size=1048576*2;
Query OK, 0 rows affected (0.01 sec)

[2020-02-13 10:28] TongRuii commented on #4276
Thank you very much for your reply， I tried to add this configuration but failed to start
[code]
I don't know the principle very well. Is it OK if this configuration is empty by default

[2020-02-13 10:33] kimmking commented on #4276
I read the source codes and find there table-strategy will not be allowed empty.

[2020-02-13 10:57] tristaZero opened #4289 "Remove some class members from `WhereSegment`"
I found  the class member `parametersCount` and `parameterMarkerStartIndex` of `WhereSegment .java` are written, but do not used or read by any other objects.

So i plan to remove them to simply our parsing module and integrated tests. If i miss something, please tell me ASAP.

[2020-02-13 11:02] tristaZero opened #4291 "Unify SQL parsing results of `VisitorParameterizedParsingTest` and `SQLParserParameterizedTest`"
Use `SQLParserTestCasesRegistry` instead of `VisitorSQLParserTestCasesRegistryFactory` at `VisitorParameterizedParsingTest`

[2020-02-13 11:41] yuzel commented on #4278
Which link is this? As far as I know, the sharding is not checked for correctness at startup.

[2020-02-13 11:47] #4289 closed

[2020-02-14 02:02] gxgmy521 opened #4297 "XA transaction do not support oracle"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-14 03:40] lklkxcxc commented on #4284
The problem was resolved that add jdbc parm “useCursorFetch=true”

[2020-02-14 04:47] #4037 closed

[2020-02-14 06:13] kimmking commented on #4284
Using stream query instead of memory query?

[2020-02-14 06:29] #4291 closed

[2020-02-14 06:58] lklkxcxc commented on #4284
@kimmking Sharding -proxy will run out of memory if you use the memory

[2020-02-14 08:26] saboluo opened #4306 "Why do distributed primary keys need to be retrieved in reverse order in ShardingGeneratedKeyInsertValueParameterRewriter.rewrite"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-02-14 09:03] terrymanu commented on #4306
Did you meet some problem?

[2020-02-14 09:09] #4271 closed

[2020-02-14 09:09] terrymanu opened #4308 "Optimization for Sharing Parser with ANTLR Visitor for Oracle"

[2020-02-14 09:21] cherrylzhao commented on #4297
thanks for feedback, OracleXAConnectionWrapper should be add here, you can contribute a PR for it if possible.

[2020-02-14 09:32] kimmking opened #4309 "Refactor properties mechanism to ensure orchestration own props make effect"
Hello,
  Dongzl find a bug that orchestration module can't read its own props config in yaml file [ #4270 ], cause Properties can't get a non-string key.
  And then our analysis indicate the global props are enhanced  to process Boolean/Integer type using ShardingSphereProperties & PropertiesConstant.
  So now we should refactor this properties mechanism to allow more module use the enhancement of

[2020-02-14 09:56] tuohai666 commented on #4284
@lklkxcxc Memory resultset will out of memory if the result size larger than the jvm heap. The 5.2GB you mentioned is not equal to the size in Sharding-Proxy. To resolve this problem, you can either enlarge Xmx or using stream resultset.

[2020-02-14 09:56] #4284 closed

[2020-02-14 10:09] saboluo commented on #4306
When I use 'insert into XXX (xx,xx) values(?,?),(?,?)' statement inserts data and use SNOWFLAKE algorithm to generate the distribution key,  the sharding results are not the same as expected.

[2020-02-14 12:12] tuohai666 commented on #4255
Perfect analysis. Would you like to fix these problems?

[2020-02-14 14:56] tuohai666 commented on #4255
BTW, is there same problem when use Connector/C or Connector/C++?

[2020-02-14 15:18] #4308 closed

[2020-02-14 15:39] ppourali opened #4317 "Use encrypt-raw-jdbc-example fails because of "Unsupport SQL of " error"
## Question
Hi, I am trying to run the encrypt example from the github repo. The example uses encryption rules to insert rows in the table and then prints them. However, when I run the example I get the following error.
`
Exception in thread "main" org.apache.shardingsphere.sql.parser.exception.SQLParsingException: Unsupported SQL of `TRUNCATE TABLE t_user`
	at org.apache.shardingsphere.sql.parser

[2020-02-14 16:39] kimmking commented on #4306
What's your expected results, and the actual results in your case?
The details is better for understanding your problem.

[2020-02-14 17:33] kimmking commented on #3564
最新版本可以执行了。

[2020-02-14 17:40] kimmking commented on #3553
Since jdk9 iwas separated into several jars with the module system.
If you want run a project which built in jdk8/jdk7, we should be modify some config.

[2020-02-14 17:44] kimmking commented on #3626
I will follow this issue.

[2020-02-14 17:51] kimmking commented on #4180
@succeo you can use latest version and turn on this feature like this in server.yaml:
[code]

[2020-02-14 18:10] kimmking commented on #4231
You can google or baidu PreparedStatement

[2020-02-15 01:31] saboluo commented on #4306
**config file:**
[code]
**code:**
[code]
**logic table user:**
[code]

**result:**
Actual SQL: lunar0 ::: insert into user1(`name`,`age`, id) values (?, ?, ?) ::: [name-0, 0, 435366707763085315]
Actual SQL: lunar1 ::: insert into user2(`name`,`age`, id) values (?, ?, ?) ::: [name-1, 1, 435366707763085314]
Actual SQL: lunar0 ::: insert into user0(`name`,`age`, id) values (?, ?, ?) ::: [name-2, 2, 4

[2020-02-15 04:18] terrymanu opened #4318 "Optimization for Sharing Parser with ANTLR Visitor for SQLServer"

[2020-02-15 09:20] ssxlulu opened #4322 "Add documents about ShardingScaling"
Here are the documents I think should be writen:
- [x] Quick Start
- [x] Architecture of ShardingScaling
- [x] Admin Guide
- [x] ~~Performance of ShardingScaling~~
- [ ] Transalte to English version.

[2020-02-15 13:31] Arnow commented on #4255
Thank you for your reply,but im not good at java ...
I have not tried Connector/C or Connector/C++, but I think it's  probably the same problem.

[2020-02-16 05:39] dongzl commented on #4270
Fixes by #4320 .

[2020-02-16 05:39] #4270 closed

[2020-02-16 10:26] #4318 closed

[2020-02-16 10:26] terrymanu opened #4329 "Optimization for Sharing Parser with ANTLR Visitor for SQL92"

[2020-02-16 12:28] #4329 closed

[2020-02-16 13:03] terrymanu opened #4332 "Remove all author info from java doc"
For ASF graduation, we need remove all author info from java doc.

[2020-02-16 14:38] #4332 closed

[2020-02-17 02:59] lklkxcxc opened #4334 "Java jdbc connect sharding-proxy return error:Table 'test.tb_user' doesn't exist"
- Problem description: sharding-proxy can be connected through mysql client and the table `tb_user` can be searched.Use Java jdbc connect sharding-proxy return error:`### Error querying database. Cause: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'test.tb_user' doesn't exist ### The error may exist in class path resource [mybatis/mapper/TbUserMapper.xml] ### The error may invo

[2020-02-17 03:25] #4231 closed

[2020-02-17 03:30] tuohai666 commented on #4255
OK. I'll resolve this issue in a few days.

[2020-02-17 03:33] #4334 closed

[2020-02-17 03:43] tristaZero opened #4335 "Switch SQL parser engine to new one"
We plan to present a better performance SQL parser for 5.x release. Basically all SQL visitors for different DBs, including MySQL, PostgreSQL, Oracle, SQLServer has finished already, and here is the current to-do list,
- [x] Switch SQL parser engine to new one.
- [x] Delete stale SQL parser engine.

[2020-02-17 03:59] lklkxcxc opened #4336 "Execute SQL The scope of `in` statement to report an error"
- Problem description:

execute the Group by statement to report an error：`[DEBUG] 11:56:21.590 [ShardingSphere-Command-8] o.a.s.s.f.m.c.MySQLCommandExecutorFactory - Execute packet type: COM_QUERY, value: MySQLComQueryPacket(sql=select concept_name as conceptName,domain_id as domainId,vocabulary_id as vocabularyId,concept_synonym_name as conceptSynonymName from medical_dictionary where concept_id

[2020-02-17 08:12] terrymanu commented on #4336
Hello, ShardingSphere can not support subquery for now.
FIY: https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/

[2020-02-17 08:12] #4336 closed

[2020-02-17 08:15] terrymanu commented on #3971
Closed because no response

[2020-02-17 08:15] #3971 closed

[2020-02-17 08:20] terrymanu commented on #4317
What is your version of ShardingSphere?

[2020-02-17 08:47] lklkxcxc opened #4338 "Sharding-Proxy output logs：readAddress(..) failed: Connection reset by peer"
## Question
- Sharding-Proxy output logs：`[WARN ] 16:24:10.417 [epollEventLoopGroup-3-12] i.n.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer`
- Sharding-pr

[2020-02-17 12:55] ancientelves opened #4341 "shardingsphere 4.0.0 retrive very slow that sql script"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-17 12:59] ancientelves commented on #4341
also try the below version:
<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>sharding-jdbc-spring-namespace</artifactId>
    <version>4.0.0</version>
</dependency>
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-namespace</artifactId>
			<version>4.0.0</version>
</dependency>

The result is same as the above.

[2020-02-17 13:18] terrymanu commented on #4341
May duplicate with #4231

[2020-02-17 13:24] terrymanu commented on #4338
It is a WARN log, any problem do you meet?

[2020-02-17 13:26] terrymanu commented on #4306
What is your version?

[2020-02-17 13:26] terrymanu commented on #4280
Any hints to reproduce it?

[2020-02-17 13:34] terrymanu opened #4342 "Remove SQLStatement.findSQLSegment() & findSQLSegments()"
Use clarified SQLStatement domain model to instead of SQLStatement.findSQLSegment() & findSQLSegments()

[2020-02-17 13:43] kimmking commented on #4306
Should we add an option to decide desc or asc here?

[2020-02-17 13:46] kimmking commented on #4338
When and what SQL operation cause this issue?
And which version of your mysql server and jdbc driver?

[2020-02-17 13:48] gxgmy521 commented on #4280
You can see in the https://github.com/apache/incubator-shardingsphere/blob/master/sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/adapter/AbstractConnectionAdapter.java
the ·`readOnly`value of  the AbstractConnectionAdapter  is set to true
[code]
However when we get a connection from the Hikari or Druid. the default value is false。

[2020-02-17 14:39] saboluo commented on #4306
version 4.0.0

[2020-02-17 18:28] demoCow opened #4344 "sharding-transaction-base-seata-at 4.0.0 在进行分库分表时候 全路由查询时产生bug"
sharding-transaction-base-seata-at 4.0.0 在进行分库分表时候 全路由查询时 只会生成第一个库的分支事物 其他的库的undo_log 基本不会写，经过debug进入发现 在updata/insert 时 只会支持第一个DataSourcePorxy的undo操作和发送消息，造成只有第一张表回滚。 SeataATShardingTransactionManager 只有Init方法会执行 其他方法根本不执行。demo地址 https://github.com/demoCow/sharding-seata 不知道这是不是个bug,求回复

[2020-02-18 01:06] ancientelves commented on #4341
@terrymanu there is something different from  #4231,insert is normal only retrive with sharding very slow,under my test,insert 100million/hour and retrive is normal without using sharding,So could you pls help?

[2020-02-18 01:51] ancientelves commented on #4341
@terrymanu
when i add:enablePrepareOnFirstPreparedStatementCall=true,it only has a little affect,but still slow

[2020-02-18 01:52] kimmking commented on #4341
@ancientelves  only one sql with a sum opr?

[2020-02-18 01:56] liwu3230 opened #4345 "Springboot+Jpa+sharding-jdbc 跨多表查询走结果归并后，返回的数据类型不是包装类而被转成有默认值的基本数据类型"
![image](https://user-images.githubusercontent.com/39552013/74697000-61c07000-5234-11ea-87b1-499fbaae63d3.png)
![image](https://user-images.githubusercontent.com/39552013/74697059-7bfa4e00-5234-11ea-8ce8-9669fa427553.png)
图片中joinMsgTicketPmsMsgStatereport.get("result")对应的java类型是Integer,数据库字段类型为int（11），单表查询的时候如果查询结果中result字段为null，可以映射为null回来，但是如果是跨多表查询，走了结果归并的话，返回的会是0 ，这与直接执行sql的结果不一致，在很多业务场景中null是

[2020-02-18 02:00] ancientelves commented on #4341
@kimmking
yes,one sql.
for sharding:SELECT SUM(size) as size_sum FROM table_test_0 ......table_test_16
for single table:SELECT SUM(size) as size_sum FROM table_test
sharding performance is bad than single table
total size:1,0000,000

[2020-02-18 02:03] kimmking commented on #4344
Cound you use English here, thx.

[2020-02-18 02:03] liwu3230 commented on #4345
引入的依赖是 <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
            <version>4.0.0</version>
            <exclusions>
                <exclusion>
                    <artifactId>snakeyaml</artifactId>
                    <groupId>org.yaml</groupId>
                </exclusion>
                <exclusion>

[2020-02-18 02:10] kimmking commented on #4341
I got it and will try sooner.

[2020-02-18 02:13] ancientelves commented on #4341
@kimmking
waitting your response,my program will go live soon,so pls.
Thanks in advance.

[2020-02-18 02:43] terrymanu commented on #4345
**For English only**, other languages will not accept.

[2020-02-18 02:43] #4345 closed

[2020-02-18 02:44] terrymanu commented on #4344
**For English only**, other languages will not accept.

[2020-02-18 02:44] #4344 closed

[2020-02-18 03:14] lklkxcxc commented on #4338
@kimmking mysql server version: 5.7.24
sharding-proxy jdbc driver: mysql-connector-java-5.1.48.jar

@terrymanu The warn logs before and after are info levels. The current logging mode is info, which I'll change to debug later.

[2020-02-18 03:36] lklkxcxc commented on #4338
Change to debug post-log output：`tats (total=1, active=0, idle=1, waiting=0)
[DEBUG] 13:03:17.237 [HikariPool-1 housekeeper] com.zaxxer.hikari.pool.HikariPool - HikariPool-1 - Pool stats (total=1, active=0, idle=1, waiting=0)
[DEBUG] 13:03:18.446 [HikariPool-2 housekeeper] com.zaxxer.hikari.pool.HikariPool - HikariPool-2 - Pool stats (total=1, active=0, idle=1, waiting=0)
[WARN ] 13:03:26.641 [epo

[2020-02-18 04:29] kimmking commented on #4341
I already run a demo for no sharding-jdbc to test 1M data for sum in a table or 16 tables with union, it takes both 170ms.
I will run sharding-jdbc case this afternoon. @ancientelves

[2020-02-18 07:56] JackHuang0801 opened #4348 "sharding-jdbc-core v 4.0.0 not support mybatis 3.5.2 about LocalDateTime handle?"
As the title, when i use sharding table to query data, and there some column return type is LocalDateTime, and got the exception below:

org.springframework.dao.InvalidDataAccessApiUsageException: Error attempting to get column 'last_fail_datetime' from result set.  Cause: java.sql.SQLFeatureNotSupportedException: getObject with type
; getObject with type; nested exception is java.sql.SQLFeatureNo

[2020-02-18 08:07] JackHuang0801 commented on #4348
I check the source code LocalDateTimeTypeHandler.java in mybatis 3.5.2
`    public LocalDateTime getNullableResult(ResultSet rs, String columnName) throws SQLException {
        return (LocalDateTime)rs.getObject(columnName, LocalDateTime.class);
    }`

And debug this part, it will call org.apache.shardingsphere.shardingjdbc.jdbc.unsupported
AbstractUnsupportedOperationResultSet.java
`    public

[2020-02-18 08:12] kimmking commented on #4348
You should define a typehanlder to convert datetime to localDateTime, cause ShardingSphere is in java7 but LocalDateTime is in java8.

[2020-02-18 08:15] JackHuang0801 commented on #4348
Ok, I got it.

[2020-02-18 08:15] #4348 closed

[2020-02-18 10:00] kimmking commented on #4341
@ancientelves
After discuss with @terrymanu , I find the key point about this issue.
The parameter `max.connections.size.per.query` in `server.yaml` is 1 by default. This means 16 sub query to each table one by one via a same connection.
In my case, the cost is 250ms by proxy sharding, and came down to 90ms by set the parameter to 8, better than only one table.

But a tip here : don't modify this

[2020-02-18 10:48] tuohai666 opened #4355 "Different ComStmtPrepare process between MySQL Connector/J and MySQL C API"
Column type of char in response of ComStmtPrepare handled differently between MySQL Connector/J and MySQL C API.
Connector/J accepts MYSQL_TYPE_VARCHAR, MYSQL_TYPE_VAR_STRING and MYSQL_TYPE_STRING.
While C API checks strictly and only accept MYSQL_TYPE_VAR_STRING and MYSQL_TYPE_STRING, because column type will be stored in struct MYSQL_STMT (fields.type) but MYSQL_TYPE_VARCHAR is not allowed to bi

[2020-02-18 11:57] sluk3r opened #4357 "LimitSegment not suitable for InsertStatement in SQLStatementContextFactoryTest"
For method of InsertStatement#findSQLSegment， it is not suitable to apply LimitSegment.

[2020-02-18 12:19] tuohai666 opened #4358 "Different MySQLColumnDefinition41Packet values for parameters between MySQL Connector/J and MySQL C API"
Parameter type of char in MySQLColumnDefinition41Packet handled differently between MySQL Connector/J and MySQL C API.
Connector/J accepts MYSQL_TYPE_VARCHAR, MYSQL_TYPE_VAR_STRING and MYSQL_TYPE_STRING.
While C API checks strictly and only accept MYSQL_TYPE_VAR_STRING and MYSQL_TYPE_STRING, because column type will be stored in struct MYSQL_STMT (fields.type) but MYSQL_TYPE_VARCHAR is not allowed

[2020-02-18 12:23] ancientelves commented on #4341
@kimmking
Thanks for your suggestion.Then I will check my program and table again.
BTW,don't modify this parameter to a higher value in your production env,if I set the param to 8 as your above,is it ok? or I should do a lower setup?

[2020-02-18 15:09] #4255 closed

[2020-02-18 16:08] kimmking commented on #4338
I think we can ignore this message.

[2020-02-18 16:13] kimmking commented on #4306
you means this data should be insert into user0, but insert into user2 actually.

[2020-02-18 16:20] saboluo commented on #4306
right

[2020-02-18 22:09] ppourali commented on #4317
Hi terrymanu,

It's 4.0.0. I just cloned the master branch. As mentioned, only _select_ statements can be performed.

Thanks,
Parsa

[2020-02-19 02:36] menghaoranss commented on #4276
I tried this with the latest code，the following configuration can be supported **without** orchestration:

`spring.shardingsphere.sharding.default-table-strategy.none=`

see [#4043 ](https://github.com/apache/incubator-shardingsphere/issues/4043)

But orchestration does not support empty table-strategy now.

I will commit a PR later to try to fix it.

[2020-02-19 05:08] tristaZero opened #4361 "Support parsing `Add `BeginTransactionStatement` for new sharding parser` for SQLServer when using new ShardingParser"
Add `BeginTransactionStatement` visitor for SQLServerTCLVisitor.

[2020-02-19 05:08] tristaZero commented on #4361
Fixed at #4337

[2020-02-19 05:09] #4361 closed

[2020-02-19 05:12] kimmking commented on #3697
@menghaoranss
Is duplicated?

[2020-02-19 05:14] tristaZero opened #4362 "Support parsing `DropIndex` and `CreateIndex` for PostgreSQL when using new ShardingParser"
Add `DropIndex` and `CreateIndex` visitors for CreateIndexDDLVisitor.

[2020-02-19 05:15] tristaZero commented on #4362
Fixed at #4337

[2020-02-19 05:15] #4362 closed

[2020-02-19 05:17] tristaZero opened #4363 "Bugfix for new Visitor parser"
- [x] Add judgement for sub query used at select items.
- [x] Return corrent Segment for boolean value.

[2020-02-19 05:18] tristaZero commented on #4363
Fixed at #4337

[2020-02-19 05:34] kimmking commented on #4269
Hello @joinhappy81
You should find which dependency importing the wrong curator and exclude it.

[2020-02-19 07:10] lklkxcxc commented on #4338
@kimmking Thank you very much! Let me close this problem

[2020-02-19 07:10] #4338 closed

[2020-02-19 07:43] #4363 closed

[2020-02-19 07:45] tristaZero opened #4365 "Support `alter table add primary foreign key`"
To support
SQL `ALTER TABLE t_order_item ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES t_order (order_id) ON DELETE CASCADE` when using new sharding parser.

[2020-02-19 08:11] tristaZero commented on #4365
#### How to make this exception reproduce?
Comment `sqlCases.add("alter_table_add_foreign_key");` out in `SQLParserParameterizedTest` and run this test class.

[2020-02-19 08:28] kimmking commented on #4341
You can try 2.

[2020-02-19 08:45] tristaZero opened #4368 "Support insert sql without insert columns"
You can use `insert into tb values(1,2)` for query

[2020-02-19 10:04] menghaoranss commented on #3697
This issue is similar to #4043 , namespace configuration should also support empty strategy.
I will try to fix it.

[2020-02-19 10:11] #4368 closed

[2020-02-19 10:21] dongzl commented on #3361
reference #4260 .

Now, nacos can be used as ConfigCenter, but not support RegistryCenter.

[2020-02-19 10:57] techzhou opened #4371 "Bad parsing for column name"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-02-19 23:39] #4276 closed

[2020-02-20 01:39] KomachiSion commented on #4281
No response, close issue.

[2020-02-20 01:39] #4281 closed

[2020-02-20 01:51] tristaZero opened #4374 "Comment subquery test cases down"
Currently, to transfer sharding parser to new one fluently, we decided to not support subquery for all the databases. Actually, subquery is not supported completely presently, we will give a better implement later.

**Please wait for us!** 😃

[2020-02-20 03:00] #4374 closed

[2020-02-20 03:16] ICanFlyFaraway opened #4377 "sharding-proxy have been started,but the schema 'sharding_db' can not be seen in the navicat"
sharding-proxy have been started,but the schema 'sharding_db' can not be seen in the navicat.And i have been checked my configure for many times.Any advice for me ? I can not put the picture , becasuse my company has security demands.And my English is so bad :)

[2020-02-20 04:59] ppourali opened #4379 "use of SPI to extend/modify statement executor (executeQuery)"
Hi,

I was wondering if there is a good way to modify the implementation of the statement executor function (i.e., executeQuery function) like SPI. I can see that the encryption datasource and sharding datasource provide different implementations of the executeQuery function defined in EncryptStatment class and ShardingStatement class. So, should I provide SPI for each of these classes to modify t

[2020-02-20 05:42] dongzl commented on #4377
Hi @ICanFlyFaraway , Is there any exception? can you provide your config, remove your company's sensitive data?

[2020-02-20 05:53] tristaZero opened #4380 "Fix parsing results for `insert without columns` SQL"
Since #4367 solved the related issue, i corrected the correspongding parsing results for those cases.

[2020-02-20 06:53] #4380 closed

[2020-02-20 07:19] menghaoranss commented on #3697
@chyangxi

You can modify the configuration of `<sharding-table-rules>` like this:
[code]
just don't configure broadcast-table-rules , then table inter_user and school_config will use
default data source.

[2020-02-20 07:23] ICanFlyFaraway commented on #4377
i just use the example config like follow

#3697 config-sharding.yaml
schemaName: sharding_db

dataSources:
  ds0:
    url: jdbc:mysql://localhost:3306/ds0
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 65
  ds1:
    url: jdbc:postgresql://localhost:3306/ds1
    username: root

[2020-02-20 07:25] ICanFlyFaraway commented on #4377
and there is no any error in the log

[2020-02-20 07:26] xiaoma20082008 opened #4382 "Will the class Encryptor add two methods contains table and column?"
Our company use the encrypt for field's encryption and decryption, and we cannot use different aes-token because the class: `AESShardingEncryptor` uses only one key: `aes.key.value` , so we cannot know the aes-token and table's or column's mapping like this:

table | column |  token
-|-|-
tb1    |    col_1   |    k1  |
tb1    |   col_2   |    k2  |
tb2   |   col_1     |   k3  |

because the class

[2020-02-20 07:50] kimmking commented on #4377
with master version:
![image](https://user-images.githubusercontent.com/807508/74911956-ab59b800-53f8-11ea-942f-552c70b0909b.png)

[code]

[2020-02-20 07:54] kimmking commented on #4377
4.0.0 is also ok as master 5.x.

![image](https://user-images.githubusercontent.com/807508/74912226-35098580-53f9-11ea-88af-2e5ed6f9bfa9.png)

[2020-02-20 07:55] kimmking commented on #4377
Navicat for mysql 11.1.13  windows version.

[2020-02-20 07:57] kimmking commented on #4377
@ICanFlyFaraway  can you show some log/error info in your proxy command line?

[2020-02-20 10:11] tristaZero opened #4383 "Preparation for ShardingSphere graduation"
Those items are blockers for our graduation, please refer to [shardingsphere](https://incubator.apache.org/clutch/shardingsphere.html) to learn more.

### Project xml
- [x] 1. Has not provided an issue tracker link
- [x] 2. Has not provided a wiki link
- [x] 3. Project does not have 'commits' mailing list

### Missing links
- [x] 4. ASF Foundation link is missing form website
- [x] 5. ASF Events l