[2022-09-28 05:43] #20963 closed

[2022-09-28 06:46] sandynz commented on #18894
Yes, it's not updated. I just checked it.

Example server.yaml:
[code]

proxy log:
[code]

[2022-09-28 06:49] sxlArtless opened #21233 "ShardingSphere5.1.1 does not support querying JSON data from MySQL, ShardingSphere4.1.1 is available"
## Bug Report
select source ->>'$.sourceGiftId' from inventory_budget

This is the result of the Navicat table execution
![image](https://user-images.githubusercontent.com/40255891/192707352-fc65efb0-7cbe-4255-8b21-197602f74b66.png)

This is a parsing error for SQL execution after version 5.1.1
![image](https://user-images.githubusercontent.com/40255891/192707776-80dedc44-285e-4cef-987e-bca5e9d8b9

[2022-09-28 07:00] #11025 closed

[2022-09-28 07:00] #21231 closed

[2022-09-28 07:33] strongduanmu commented on #21230
I have test the master branch, this exception is caused by following logic.

[code]

[2022-09-28 07:51] MrCong233 opened #21234 "The data source of the select (select) composite sql request is incorrect"
## Bug Report

During consistency check based on shardingsphere-proxy + openGauss 3.1.0 (1 coordination node and two data nodes ), an exception is found in one of the conditions.

[code]

To simplify the problem description, query SQL is simplified as follows:

c_w_id、c_d_id、c_id are primary keys of a customer, bmsql_history means payment records for all users.

Use select(select) composite sql to

[2022-09-28 08:21] FlyingZC commented on #12052
I want to investigate this issue,please assign it to me. @TeslaCN

[2022-09-28 08:59] peilinqian opened #21237 "In READWRITE_SPLITTING mode，transaction commit is error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-28 09:02] jiangML opened #21238 "Optimize agent plugin package dependencies"
Some packages that agent plugin depends on will depend on h2 database, but plugin does not need it, so h2 database needs to be excluded.

[2022-09-28 09:05] peilinqian commented on #21237
[code]

[code]

[2022-09-28 09:36] wsm12138 commented on #21237
<img width="558" alt="image" src="https://user-images.githubusercontent.com/86462784/192744673-93c0854c-b738-470e-9ed6-562cb06c2cb0.png">

<img width="1764" alt="image" src="https://user-images.githubusercontent.com/86462784/192744403-41b65c4b-0a83-4e0a-b193-1c4f1ccbb1a3.png">

[2022-09-28 09:40] FlyingZC commented on #21234
preview
use one ds:
![image](https://user-images.githubusercontent.com/19788130/192745976-b027416c-149e-4992-966e-f76461ad1393.png)

use two ts:
![image](https://user-images.githubusercontent.com/19788130/192746008-001031cf-065b-4bc7-a900-759920b5a6f1.png)

[2022-09-28 09:49] FlyingZC commented on #21234
Now ss does not support subqueries, you can try the sql-federation experiment function.You can config the `federation-type: ADVANCED` param in server.yaml to enable the sql-federation.

[2022-09-28 09:49] wsm12138 commented on #21237
[code]

[2022-09-28 09:52] FlyingZC commented on #21234
You can check the sharding support at this page:
https://shardingsphere.apache.org/document/current/cn/features/sharding/limitation/

[2022-09-28 10:00] wsm12138 commented on #21237
When i use `loacl` mode of trancation,it act normal

<img width="408" alt="image" src="https://user-images.githubusercontent.com/86462784/192750562-21f4078f-1047-462d-94a4-509b4b311e9b.png">

<img width="620" alt="image" src="https://user-images.githubusercontent.com/86462784/192750293-cd4be561-7d0b-412e-911a-edf39a447456.png">

[2022-09-28 10:37] FlyingZC commented on #21237
I can't reproduce it locally.
[code]

<img width="664" alt="image" src="https://user-images.githubusercontent.com/19788130/192758413-ea3117fe-6a34-4ef7-9843-e76422e5f922.png">
<img width="451" alt="image" src="https://user-images.githubusercontent.com/19788130/192758457-8ffac7b7-82cf-4a70-8ec5-7832b16ea7b6.png">

[2022-09-28 10:44] FlyingZC commented on #21237
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/19788130/192759656-26dc9b6c-9f30-4af7-9c1f-6ce628ef84d5.png">

[2022-09-28 11:02] FlyingZC commented on #21237
This error is suspicious: `org.opengauss.xa.PGXAException: Error rolling back prepared transaction`,I think it maybe the OG's problem,I found a similar question for reference:
https://stackoverflow.com/questions/45867536/postgresql-xa-transaction-exception

[2022-09-28 11:08] wsm12138 commented on #21237
Thanks for your reply，after reset `max_prepared_transactions`,use proxy execute above case ，i found nomatter use `local` mode or `xa` mode ,it act normal

[2022-09-28 11:23] marsal1212 opened #21247 "After adding or reducing fields to the database table, an exception will be thrown if there are similar (select * from t_table ) execution statements in the running service。"
## Question
version:  shardingsphere-jdbc:5.2.0
env: mysql8.0.17

After adding or reducing fields to the database table, an exception will be thrown if there are similar (select * from t_table ) execution statements in the running service。This situation will disappear after the service is restarted。
exception:
      adding fields ：      java.lang.ArrayIndexOutOfBoundsException: Index 64 out of bou

[2022-09-28 11:34] #21234 closed

[2022-09-28 12:32] peilinqian opened #21250 "In XA transaction,the cursor syntax is abnormal."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-28 13:08] yangzan66 opened #21251 "Unknown exception: Can not get connection from datasource"
the log reports error when using shardingsphere-proxy,  the mysql username and password are really correct.

version: apache-shardingsphere-5.2.0-shardingsphere-proxy

connect to sharding-proxy and operate:
mysql> show databases;
+--------------------+
| schema_name        |
+--------------------+
| information_schema |
| performance_schema |
| topsql             |
| mysql              |
| sys

[2022-09-28 14:22] keliubo commented on #21205
Equally, when users use hint depots strategy will be to call getDatabaseShardingValuesFromHint method。
private List<ShardingConditionValue> getDatabaseShardingValuesFromHint() {
        return getShardingConditions(HintManager.isDatabaseShardingOnly() ? HintManager.getDatabaseShardingValues() : HintManager.getDatabaseShardingValues(logicTableName));
    }
LogicTableName is always the table name re

[2022-09-28 15:11] jeffyok opened #21253 "使用shardingsphere-jdbc-core-spring-boot-starter maven 包依赖太多，依赖不合理"
使用shardingsphere-jdbc-core-spring-boot-starter maven 包依赖太多，依赖不合理，依赖了 上百个包，光用你们这个框架就占用了60多M的包的大小，有没有方法只依赖部分的包，比如我 只要数据库读写分离，就不需要依赖其他没有用到的包了

[2022-09-28 15:16] RaigorJiang commented on #21205
So, please provide sharding rules and hint operation procedures to analyze the cause of the problem

[2022-09-28 15:33] linghengqian opened #21254 "data-source-aggregation-enabled lacks documentation"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes, related to https:

[2022-09-28 17:26] KnothHe commented on #21233
@sxlArtless

In my test, ShardingSphere 5.1.1  is okay, ShardingSphere 4.1.1 is run with error. The reason is incorrect parsing of SQL by the results of the test. Resulting in no routing table, query error.

For simplicity, JdbcTemplate is used

<img width="2390" alt="image" src="https://user-images.githubusercontent.com/25814839/192848610-985f9a25-da2e-4693-9af9-3e631b71a08c.png">

<img width="20

[2022-09-29 00:49] keliubo commented on #21205
rules:
      sharding:
        tables:
          #逻辑表
          course:
            #m1表示数据源 course表示表名
            actual-data-nodes: m$->{1..2}.course_$->{1..2}
            #库的分片策略
            database-strategy:
              hint:
                sharding-algorithm-name: t-db-hint
                  # com.example.shardingspheredemo.algorithm.db.hint.MyHintDbShardingAlgorithm
            #表分片策略

[2022-09-29 02:07] strongduanmu commented on #21230
Following is my test result.

[code]

[2022-09-29 02:25] FlyingZC commented on #21250
Fixed
[code]

[2022-09-29 02:29] zhaojinchao95 commented on #21251
@yangzan66 Hi, you can execute DistSQL `show database resources`

[2022-09-29 02:51] #21230 closed

[2022-09-29 03:15] Keanhua opened #21258 "batch insert can not back fill primary key"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-29 03:25] shining-stars-lk commented on #21190
Can i have a try and assign to me?

[2022-09-29 03:39] c1258445690 opened #21259 "auto-unboxing NullPointerException"
## Bug Report

project: ShardingSphere-JDBC
version: 5.2.0
database: mysql-8.0.28

### reason
In method org.apache.shardingsphere.infra.metadata.database.schema.loader.dialect.MySQLSchemaMetaDataLoader.loadColumnMetaData,
when a table contains column of linestring or geomcollection type, dataTypeMap.get(dataType) will return null which causes auto-unboxing NullPointerException

### Steps to reprod

[2022-09-29 03:50] #21238 closed

[2022-09-29 04:19] #21250 closed

[2022-09-29 06:21] liujiyuan opened #21263 "Why do I get error:org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException"
I am new to shardingsphere. I use https://github.com/apache/shardingsphere/blob/master/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/config-readwrite-splitting.yaml to demo, but when start the shardingproxy on apache/shardingsphere-proxy docker, I get the error. Could someone help me?

`06:12:31.658 [HikariPool-2 connection adder] DEBUG com.zaxxer.hikari.pool.HikariPo

[2022-09-29 06:26] liujiyuan commented on #21263
I use docker apache/shardingsphere-proxy

[2022-09-29 06:33] sxlArtless commented on #21233
These are two different ways of writing JSON, and then using JdbcTemplate is still a problem.
I used Springboot, and the corresponding Sharding dependence is this
[code]
![image](https://user-images.githubusercontent.com/40255891/192956412-05b50fba-4348-47cd-b588-ed5fb69a12f4.png)

[2022-09-29 06:52] ICannerxy commented on #20854
Postgresql supports functions similar to `show processlist` and `kill <processID>`.
Use `SELECT * FROM pg_stat_activity WHERE state = 'active';` to query running SQL, and use `SELECT pg_cancel_backend(<pid of the process>)` to kill the running SQL.

[2022-09-29 07:11] ICannerxy commented on #20854
1. create table t1(id integer, name text);
2. insert into t1 values(1, 'a'); insert into t1 values(2, 'b');
3.
<img width="862" alt="image" src="https://user-images.githubusercontent.com/40480377/192963299-bc1bf874-e950-45bd-8a5c-3843a9b0d660.png">

![image](https://user-images.githubusercontent.com/40480377/192964020-13d59a42-67ea-46ab-aef9-c36bb88ea033.png)

![image](https://user-images.githubus

[2022-09-29 07:15] strongduanmu commented on #20854
@ICannerxy Can you try with sharding feature, the result looks like PostgreSQL original result.

[2022-09-29 07:47] wsm12138 commented on #21230
/bin/java
we find java version: java8, full_version=1.8.0_312, full_path=/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: a467bbe1668c2c300d3c91236e9e213c565ab7bf
Commit Message: Fix openGauss cursor execution in xa transaction(#21250) (#21257)
Branch: a467bbe1668c2c300d3c91236e9e213c565ab7bf
Build time: 2022-09-29T13:24:09+0800

<img width="857" alt="image" src="https://user-images.githubuserco

[2022-09-29 08:00] Gszekt commented on #20551
I had the same error.

[2022-09-29 08:01] wsm12138 commented on #21250
/bin/java
we find java version: java8, full_version=1.8.0_312, full_path=/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: a467bbe1668c2c300d3c91236e9e213c565ab7bf
Commit Message: Fix openGauss cursor execution in xa transaction(#21250) (#21257)
Branch: a467bbe1668c2c300d3c91236e9e213c565ab7bf
Build time: 2022-09-29T13:24:09+0800

<img width="894" alt="image" src="https://user-images.githubuserco

[2022-09-29 08:05] #21251 closed

[2022-09-29 08:13] #21085 closed

[2022-09-29 08:21] djmirv opened #21265 "5.2.1 multi-datasource & readwritesplitting problem, why does it return two copies of data(master sources, slave sources seperately)?"
I used the following formats(in short version):
[code]

Anything wrong with my config???

[2022-09-29 09:28] Gszekt commented on #20551
DatabaseTypeEngine.java
`
public static DatabaseType getDatabaseType(final Collection<DataSource> dataSources) {
        DatabaseType result = null;
        for (DataSource each : dataSources) {
            DatabaseType databaseType = getDatabaseType(each);
            Preconditions.checkState(null == result || result == databaseType, "Database type inconsistent with '%s' and '%s'", result, databa

[2022-09-29 09:28] zhaojinchao95 opened #21266 "ClusterPersistRepositoryException occurred when restart ShardingSphere-Proxy and use nacos"
## Bug Report

### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Start up successful

### Actual behavior

Start up fail

### Configuation

[code]

`DistSQL` :

[code]
The ds2 database has some tables.

Restart ShardingSphere-Proxy

[code]

[2022-09-29 09:37] zhaojinchao95 commented on #21266
Ok, i assign you

[2022-09-29 10:50] tuichenchuxin opened #21268 "Add ShardingSphere built-in database."
## Feature Request

We need shardingsphere built-in database to persist some information. such as table statistics, charset, isolation and so on.
The design will be like this.
![image](https://user-images.githubusercontent.com/86938616/193012323-026f147d-60cf-4755-beca-e8e0a6e0ee56.png)

### tasks

- [x] use yaml to simulate ShardingSphere built in table
- [x] add ShardingSphere data and persist
-

[2022-09-29 11:34] terrymanu opened #21270 "Add test cases for agent yaml package"
- [ ] YamlEngine
- [ ] YamlAgentConfigurationSwapper

[2022-09-29 11:48] KnothHe commented on #21233
@sxlArtless
I reproduced, the reason is the table alias. It should be that ShardingSphere does not recognize the syntax used with aliases and json `->>`

<img width="1919" alt="image" src="https://user-images.githubusercontent.com/25814839/193022614-03800cf9-2313-4f94-9c70-661ab2e61d1f.png">

[code]

With table alias, this syntax is workd.
[code]

[2022-09-29 11:49] strongduanmu opened #21272 "Wrong result return when I execute addBatch with Proxy adaptor and openGauss database"
## Bug Report

### Which version of ShardingSphere did you use?

[8360a5d](https://github.com/apache/shardingsphere/commit/8360a5d456830029b54feae56c3843789852a0f8)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

I execute the following sql through addBatch, it should return [1, 1].

[code]

### Actual behavior

But it retu

[2022-09-29 12:02] KnothHe commented on #21233
Error syntax is

[code]

My error stack, not exactly the same as @sxlArtless's screenshot:
[code]

Both have this error:
[code]

[2022-09-29 13:03] FlyingZC commented on #16156
Shardingsphere currently does not support the seata xa mode, are you interested in supporting it. @LGAKing You can choose the XA implement based on Narayana and Atomikos.

[2022-09-29 13:06] FlyingZC commented on #21182
This is just a warning for mysql connection, you can add the `useSSL=false` parameter to avoid this problem. @zhaojinchao95

[2022-09-29 13:19] FlyingZC commented on #21156
Execute `System.gc()` is the bad way I think.Both `Configuration.removeResource(resName)` and `com.atomikos.icatch.config.Configuration#removeAndCloseResources` methods are not in the JTA specification.I think just remove the logic in the `org.apache.shardingsphere.transaction.xa.atomikos.manager.AtomikosTransactionManagerProvider#removeRecoveryResource` and then let atomikos execute its own close

[2022-09-30 01:23] caqhy commented on #21266
@zhaojinchao95

[2022-09-30 01:36] caol64 commented on #21211
Can someone take a time to give some suggestion? The main reason is this method has a strong validation:

![image](https://user-images.githubusercontent.com/6183265/193169843-370353c6-2ab1-438d-b075-76b1cce02d2f.png)

In this case, Druid datasource was added some filters (eg: StatFilter). When entered this method, the rootClass is a map and the className is a druid filter, validated failed.

@stro

[2022-09-30 01:49] TeslaCN commented on #21272
I've test the openGauss JDBC Driver, it does return a result like the actual behavior in this issue.

[code]

[2022-09-30 01:49] #21272 closed

[2022-09-30 01:55] TeslaCN commented on #21272
Or you may add `batchMode=OFF` to disable BatchBind protocol.

[code]

Then it acts like:

![image](https://user-images.githubusercontent.com/20503072/193173409-8a8836f2-83be-4bc8-b6c4-de4432ceb006.png)

[2022-09-30 01:58] strongduanmu commented on #21272
@TeslaCN Thank you very much for your guidance. I will try to disable BatchBind protocol.

[2022-09-30 03:06] liujiyuan opened #21276 "shardingsphere docker return Unknown system variable 'query_cache_size'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-30 06:14] Programmer-ZX opened #21280 "The link in the documents is wrong (404)"
# The link Inline Expression in the documents is wrong

In the following document，in Chapter Inline Sharding Algorithm 、 Hint Inline Sharding Algorithm and Complex Inline Sharding Algorithm
[Inline Expression](https://github.com/apache/shardingsphere/blob/master/en/features/sharding/concept/inline-expression) link cannot be opened (404)

## Document link
- https://github.com/apache/shardingsphere/

[2022-09-30 06:18] strongduanmu commented on #21280
@Programmer-ZX Thank you for your feedback. Can you try to fix it?

[2022-09-30 06:43] linghengqian commented on #21211
@caol64

- Do you mean that we should set up an ArrayList to put Alibaba Druid's plugin-related classes into it, and then add a judgment about the array to this if judgment?

- But it would surprise me if ShardingSphere 5.1.2 is normal, because this code is there before 5.1.2, it sounds like the problem happens when the java class ( Of course, I mean Alibaba Druid's class ) is serialized to yaml.

[2022-09-30 07:49] TeslaCN commented on #21276
Please try the solution in https://github.com/apache/shardingsphere/issues/18482

[2022-09-30 07:51] TeslaCN commented on #21263
Have you configure any sharding rule in configuration files?

[2022-09-30 07:56] TeslaCN commented on #21254
This is removed by https://github.com/apache/shardingsphere/pull/17034

[2022-09-30 07:57] TeslaCN commented on #21253
**For English only.**
You can exclude dependencies as you need.

[2022-09-30 07:57] #21253 closed

[2022-09-30 08:10] linghengqian commented on #21254
- wow i didn't notice, i will close this issue.

[2022-09-30 08:10] #21254 closed

[2022-09-30 08:24] caol64 commented on #21211
Thank you for replying. The same code run in 5.1.2 is OK. Only when upgrading to 5.2.0 will cause this error.

[2022-09-30 08:27] liujiyuan commented on #21276
Thanks. It works after setting set  proxy-mysql-default-version = 8.0.29

[2022-09-30 08:27] #21276 closed

[2022-09-30 09:25] TeslaCN commented on #21202
@tuichenchuxin I don't think this is a bug. It could be an enhancement.

[2022-09-30 09:29] TeslaCN commented on #20998
@wsm12138 What does `nomale SQL` mean?

[2022-09-30 09:38] hyz1994121 commented on #21211
这个问题解决方式多个，xml配置改为java api方式配置数据源 亲测可用
那个snakeyaml版本升级到1.32好像也可以
in my issue， i solved the problem, change druid datasource from spring-bean-namespace.xml to java api config
or change the snake-yaml version from 1.30 to 1.32

[2022-09-30 09:46] linghengqian commented on #21211
@hyz1994121

- Interesting point, I tested @sluk3r  's example three days ago with a commit from https://github.com/apache/shardingsphere/pull/21048 and the issue was not resolved.  I'm not sure if it's a problem with my local environment.

[2022-09-30 10:35] charlesvhe commented on #20435
After analysis, we draw the following conclusions

**1. Serious encryption algorithms are not available on regular databases**

Serious encryption algorithms such as: Homomorphic Encryption, Searchable Encryption. Both require the database to have the ability to execute related algorithms, which the regular database does not support. You can refer to an experimental implementation based on MySQL h

[2022-09-30 10:58] strongduanmu opened #21286 "Consider refactoring table models in ShardingSphere integration tests for CASE reuse"
## Feature Request

### Is your feature request related to a problem?

No

### Describe the feature you would like.

#### Background

Now, the table model in integration test is very confusing. In addition to `t_order` and `t_order_item`, there are many tables with meaningless table names. The meaningless table names make developers do not know how to use them, so that different scenarios need to

[2022-09-30 11:10] ICannerxy commented on #21286
Assign to me,Please.

[2022-09-30 11:14] strongduanmu commented on #21286
@ICannerxy Welcome to join and let's optimize integration tests together.

[2022-09-30 13:46] cheese8 commented on #20435
Thanks for your comments,  and I think it's a implementable idea/solution for the `LIKE`, and we are almost matched.

I think what I should say is:
In terms of decoupling, we could have 4 columns for the logicColumn at most: the plainColumn, the cipherColumn, the assistedQueryColumn and the fuzzyQueryColumn,   the cipherText at cipherColumn is for decryption purposes, the assistedQueryText at assi

[2022-09-30 15:40] abhinav-koppula commented on #20394
@strongduanmu - I have raised a PR - https://github.com/apache/shardingsphere/pull/21292 for this. Can you please review?

[2022-09-30 15:42] abhinav-koppula commented on #20392
@strongduanmu - Can you please review this PR - https://github.com/apache/shardingsphere/pull/21293

[2022-10-01 03:22] mytxoo opened #21295 "springboot+druid+seata+shardingsphere"
## Question
[code]
error:
`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'loginController': Unsatisfied dependency expressed through field 'debugMapper'; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'debugMapper' defined in file [/Users/tom/IdeaProjects/microservice03_shardingsp

[2022-10-01 06:25] KnothHe opened #21296 "Fix typo in XA Transanction section"
Hi, there is a typo in [ShardingSphere > Features > Distributed Transaction > XA Transanction] section.

should be

The change is `YM` -> `TM`.

[2022-10-01 06:30] KnothHe commented on #21296
Meanwhile `Transanction` is also typo.

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/25814839/193396048-1d520f40-35af-4a1a-b6cb-8f7ceec8cd89.png">

[2022-10-01 06:49] KnothHe commented on #21296
Hi, @strongduanmu  I have submitted a pr, can you help me review and merge it?

[2022-10-01 06:55] KnothHe commented on #21296
Meanwhile, I don't seem to have permission to add label to this issue.

[2022-10-01 07:24] #21296 closed

[2022-10-01 07:25] strongduanmu commented on #21296
Hi @KnothHe, thank you for your contribution. I have merge your pr.

[2022-10-01 07:31] #20392 closed

[2022-10-01 07:35] KnothHe commented on #21296
@strongduanmu thank you.

[2022-10-01 07:37] #20394 closed

[2022-10-01 07:43] kavyabhat02 commented on #21190
Hi, can I take up this issue?

[2022-10-01 08:31] natehuangting opened #21300 "Proxy increases access control"
## Feature Request

The current permission control available for the proxy is basically `type: ALL_PERMITTED`. Can it be designed to be similar to
the following permission control to intercept various operations at the proxy layer.

The following configuration is in server.yaml.
[code]

[2022-10-01 13:52] abhinav-koppula commented on #21020
@strongduanmu / @FlyingZC - Is this issue duplicate of #20400 ?

[2022-10-01 13:55] #20552 closed

[2022-10-01 15:39] Swastyy commented on #21280
Else I can ;).

[2022-10-01 16:19] abhinav-koppula commented on #20387
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21305 for this.
Can you please review?

[2022-10-01 16:32] abhinav-koppula commented on #20353
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/21306 for this. Can you please review?

[2022-10-01 16:59] abhinav-koppula commented on #21021
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21307.
Can you please review?

[2022-10-01 18:14] abhinav-koppula commented on #21016
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21308.
Can you please review?

[2022-10-02 05:46] abhinav-koppula commented on #20381
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21313.
Can you please review?

[2022-10-02 05:59] abhinav-koppula commented on #20382
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21315.
Can you please review?

[2022-10-02 06:55] #20353 closed

[2022-10-02 06:56] strongduanmu commented on #21280
Welcome @Swastyy, you can assign to yourself next time.

[2022-10-02 06:57] #21280 closed

[2022-10-02 06:58] strongduanmu commented on #21020
Yes, this issue is duplicated with #20400, I will close this issue.

[2022-10-02 06:58] #21020 closed

[2022-10-02 06:59] #20400 closed

[2022-10-02 07:00] #20396 closed

[2022-10-02 15:43] null-sys commented on #21270
Can you assign this to me? I would like to work on this.

[2022-10-02 18:36] 953761972 opened #21322 "Caused by: java.lang.NullPointerException"
I use the example you provided to link shardingsphere-proxy,got this NullPointerException:
Is there something wrong with my settings?
![无标题](https://user-images.githubusercontent.com/29087205/193469742-4ad1b27f-9a7e-48d0-b39c-207e75ca20eb.png)
application.yaml content:
![无标题1](https://user-images.githubusercontent.com/29087205/193470306-b95eb4dd-b134-49b6-a30a-10e96befac15.png)
1、shardingsphere-pr

[2022-10-02 19:25] linghengqian commented on #21295
You need to provide a minimal reproducible example using h2database.

[2022-10-03 05:14] #20382 closed

[2022-10-03 05:17] #20381 closed

[2022-10-03 05:18] #21016 closed

[2022-10-03 05:19] #21021 closed

[2022-10-03 05:25] #20387 closed

[2022-10-03 14:26] abhinav-koppula commented on #20360
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/21332.
Can you please review?

[2022-10-03 14:58] #21015 closed

[2022-10-03 15:23] linghengqian commented on #21051
- Since the nightly docker image has not been generated yet, when the nightly docker image is generated, I will add the image information to the documentation and add the documentation on observability to close this issue.

- Although Native Image is currently completely unavailable, I will open a new issue tracking GraalVM Native Image usability issues after this issue is closed.

[2022-10-03 15:48] abhinav-koppula commented on #20380
@FlyingZC - I have created a PR - https://github.com/apache/shardingsphere/pull/21334.
Can you please review?

[2022-10-04 01:37] strongduanmu commented on #20360
@abhinav-koppula Thank you for your remind, I will review this pr.

[2022-10-04 01:38] #20360 closed

[2022-10-04 03:37] everly-gif commented on #20398
Hi, I would like to work on this issue under hacktoberfest, please assign it to me 😊

[2022-10-04 04:09] #21322 closed

[2022-10-04 04:35] strongduanmu commented on #20398
@everly-gif Welcome, I will assign this issue to you.

[2022-10-04 06:53] linghengqian commented on #21051
Not sure what happened to the Github Package, I opened https://github.com/orgs/community/discussions/35042.

[2022-10-04 08:08] klurpicolo commented on #20361
Hi, I'd like to work on this. Thanks.

[2022-10-04 11:42] terrymanu commented on #21295
@mytxoo The title is not clear, could you change it?

[2022-10-04 11:45] terrymanu commented on #21195
Version 4.x is out of service

[2022-10-04 11:45] #21195 closed

[2022-10-04 11:47] #21205 closed

[2022-10-04 11:48] terrymanu commented on #21153
Can you change the title for search friendly?

[2022-10-04 11:50] terrymanu commented on #21270
Sure, welcome @null-sys

[2022-10-04 14:44] linghengqian commented on #21225
@zhaojinchao95
- I have used SpringBoot OSS 3.0.0-M5 to complete the corresponding example test. 🦚Reference https://github.com/linghengqian/jakarta-shardingsphere .

@xkcoding
- Can you provide a smaller, reproducible example of the error for investigation? I **deliberately** kept the use of `lombok` and `mybatis` in https://github.com/linghengqian/jakarta-shardingsphere , but https://github.com/a

[2022-10-04 15:01] cunhazera commented on #20369
Can you assign?

[2022-10-05 01:24] #20398 closed

[2022-10-05 01:30] strongduanmu commented on #20361
Welcome @klurpicolo, I will assign this issue to you.

[2022-10-05 05:06] #21129 closed

[2022-10-05 07:58] strongduanmu commented on #21286
Ref #19580.

[2022-10-05 12:30] linghengqian opened #21347 "Make ShardingSphere Proxy in GraalVM Native Image form available"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes. Refer to https://

[2022-10-05 12:32] pandong8 opened #21348 "ShardingAlgorithmClassImplementationException"
启动shardingproxy5.2.0报错：大佬帮忙分析解答一下，感谢
Exception in thread "main" org.apache.shardingsphere.sharding.exception.ShardingAlgorithmClassImplementationException
        at org.apache.shardingsphere.sharding.algorithm.sharding.classbased.ClassBasedShardingAlgorithmFactory.newInstance(ClassBasedShardingAlgorithmFactory.java:48)
        at org.apache.shardingsphere.sharding.algorithm.sharding.classbased.Cl

[2022-10-05 16:33] linghengqian commented on #21211
@caol64

- I noticed that the problem actually came from https://github.com/apache/shardingsphere/blob/master/infra/util/src/main/java/org/apache/shardingsphere/infra/util/yaml/YamlEngine.java#L107  , the treatment here is interesting.  If an `Object` is not a `Collection`, it is directly serialized into a `Yaml 1.1 Map`.  How do you think we should deal with it?  As a tool class, it is impossible

[2022-10-06 05:58] linghengqian commented on #20049
- I am working on this issue.  I'll provide a checklist for ShardingSphere Proxy's documentation.

[2022-10-06 15:24] #20912 closed

[2022-10-06 15:30] #21348 closed

[2022-10-06 15:31] terrymanu commented on #21090
For English only, other languages will not accept.

[2022-10-06 15:33] terrymanu commented on #21227
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:34] terrymanu commented on #21106
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:35] terrymanu commented on #21049
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:37] terrymanu commented on #21032
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:48] terrymanu commented on #20728
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:52] terrymanu commented on #20319
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:52] terrymanu commented on #20297
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:53] terrymanu commented on #20266
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:54] terrymanu commented on #20101
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 15:55] terrymanu commented on #20047
I just set the issue as `invalid` because the author close it without any reason.

[2022-10-06 17:08] linghengqian commented on #19079
- This issue was fixed at https://github.com/apache/shardingsphere/pull/21048 and should be closed.

[2022-10-07 15:24] Jacob953 opened #21371 "Import failed via IDEA 2021.1"
## Bug Report
Import failed via IDEA 2021.1. SS could be built successfully via maven, but loading failed under the submodule.
<img width="1152" alt="image" src="https://user-images.githubusercontent.com/64075563/194587189-7f43c737-1716-4c6c-a375-3f0988afccf2.png">
I've tried importing about ten times (including rebooting and restoring other configurations). And this worked one week ago (before re

[2022-10-08 02:18] peilinqian commented on #21237
What is the value of max_prepared_transactions?

[2022-10-08 05:08] huangconghe opened #21373 "Invalid binding table configuration in ShardingRuleConfiguration"
## Question
start spring boot fail exception Invalid binding table configuration in ShardingRuleConfiguration
when i remove binding-tables,start spring boot success,
when i add binding-tables,start spring boot failed
my yml follow:
`
shardingsphere:
    datasource:
      names: ds0
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver

[2022-10-08 05:08] huangconghe commented on #21373
sharding-jdbc version 5.1.2

[2022-10-08 05:30] mlycore commented on #20685
Since the source issue has been solved in https://github.com/apache/shardingsphere-on-cloud/issues/50, this one will be closed.

[2022-10-08 05:30] #20685 closed

[2022-10-08 05:30] mlycore commented on #20684
Since the source issue has been solved in https://github.com/apache/shardingsphere-on-cloud/issues/49, this one will be closed.

[2022-10-08 05:30] #20684 closed

[2022-10-08 05:34] mlycore opened #21374 "Add more cases for ConstructCascadingDeployment unit test"
Hi community,

This issue is mirror issue for https://github.com/apache/shardingsphere-on-cloud/issues/72

Aim
---
Add more cases for ConstructCascadingDeployment to improve unit test coverage.

The function is https://github.com/apache/shardingsphere-on-cloud/blob/2f348ea1208b3396ddbe873a60f32369578f8697/shardingsphere-operator/pkg/reconcile/resource.go#L71.

The cases should be added to https://

[2022-10-08 05:35] mlycore opened #21375 "Add more cases for ConstructCascadingService unit test"
Hi community,

This issue is mirror issue for https://github.com/apache/shardingsphere-on-cloud/issues/74

Aim
---
Add more cases for ConstructCascadingService to improve unit test coverage.

The function is

https://github.com/apache/shardingsphere-on-cloud/blob/2f348ea1208b3396ddbe873a60f32369578f8697/shardingsphere-operator/pkg/reconcile/resource.go#L161

The cases should be added to https://gi

[2022-10-08 05:37] mlycore opened #21376 "Add more cases for ConstructCascadingConfigmap unit test"
Hi community,

This issue is for https://github.com/apache/shardingsphere-on-cloud/issues/77

Aim
---
Add more cases for ConstructCascadingConfigmap to improve unit test coverage.

The function is https://github.com/apache/shardingsphere-on-cloud/blob/2f348ea1208b3396ddbe873a60f32369578f8697/shardingsphere-operator/pkg/reconcile/resource.go#L239

The cases should be added to https://github.com/apa

[2022-10-08 05:39] mlycore opened #21377 "Add more cases for ConstructHPA unit test"
Hi community,

This issue is for https://github.com/apache/shardingsphere-on-cloud/issues/78

Aim
---
Add more cases for ConstructHPA to improve unit test coverage.

The function is https://github.com/apache/shardingsphere-on-cloud/blob/2f348ea1208b3396ddbe873a60f32369578f8697/shardingsphere-operator/pkg/reconcile/resource.go#L258.

The cases should be added to https://github.com/apache/shardingsp

[2022-10-08 05:39] zhaojinchao95 opened #21378 "Commond ./start.sh -f not work when i have invalid datasource at governance center"
`Server.yaml : `

[code]

`Governance center info :`

<img width="1104" alt="image" src="https://user-images.githubusercontent.com/33742097/194690857-8510b015-1ca6-40b2-85a5-15937764260c.png">

`./start.sh -f `

`Error message : `

[code]

[2022-10-08 06:19] strongduanmu opened #21379 "Wrong column label return when execute aggregation function with PostgreSQL/openGauss database"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/f4080b1b3ddcaa9eb15e87e50a6fb0d2fe2baa7f

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT MIN(o.order_id), MIN(o.merchant_id), i.product_id FROM t_order o INNER JOIN t_order_item i ON o.order_id =

[2022-10-08 06:20] strongduanmu commented on #21379
Ref #19580.

[2022-10-08 06:26] Ikki-Dai commented on #20049
Glad to see that! hope we will have a bom easier to use

[2022-10-08 06:33] zhaojinchao95 opened #21380 "Consider ElasticJob governance center multiplex ShardingSphere governance center"
Hi community,

 We are plan letting `ElasticJob` governance center multiplex `ShardingSphere` governance center.

 The Related issue : https://github.com/apache/shardingsphere-elasticjob/issues/2128

- [ ] Add some interfaces for ShardingSphere governance center.
- [ ] Refactor existing interfaces implement.

[2022-10-08 07:32] linghengqian commented on #20963
@zhaojinchao95 Can I close this issue?

[2022-10-08 07:57] #21379 closed

[2022-10-08 08:46] strongduanmu opened #21384 "Wrong result return when execute openGauss cross join statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/e2f2e4491006d7e57615b1926913921e9414b9df

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM t_order o CROSS JOIN t_order_item i WHERE o.user_id = 10 ORDER BY o.order_id, 7 LIMIT 10, 10;`, then

[2022-10-08 08:54] lanrenbulan opened #21385 "Cannot invoke "org.apache.shardingsphere.infra.federation.optimizer.context.parser.OptimizerParserContext.getDialectProps()""
## Question

proxy-5.2

[code]

[code]

The port is configured as 3309
The classpath is "..;..\lib\*;..\ext-lib\*"
we find java version: java17, full_version=17.0.3"
Starting the ShardingSphere-Proxy ...
Java HotSpot(TM) 64-Bit Server VM warning: JVM cannot use large page memory because it does not have enough privilege to lock pages in memory.
Thanks for using Atomikos! This installation is not r

[2022-10-08 08:56] wsm12138 commented on #21237
set max_prepared_transactions=5000;

[2022-10-08 09:42] strongduanmu opened #21388 "RelOptPlanner$CannotPlanException occurs when execute select aggregation statement with ADVANCED sql federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/e2f2e4491006d7e57615b1926913921e9414b9df

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT MAX(p.price) AS max_price, MIN(p.price) AS min_price, SUM(p.price) AS sum_price, AVG(p.price) AS avg_price,

[2022-10-08 09:59] lwlw217 opened #21391 "when alter resource or rule occur an error: connection is not available,request time out after 30000ms"
version of shardingsphere-proxy: 5.2.0

### TEST
1. add resource
[code]
2. config readwrite rule
[code]
[code]

3. check MySQL status
![image](https://user-images.githubusercontent.com/21055334/194701792-5b287616-690a-4628-948a-dc8a859419cf.png)

4. shutdown mysql slave
![image](https://user-images.githubusercontent.com/21055334/194701617-d61d8a46-1856-450d-a089-5e1726cc2ba3.png)

5. Distsql -atlt

[2022-10-08 10:07] strongduanmu opened #21392 "Unsupported SQL operation: unsupported CommonExpressionSegment occurs when execute sql statement contains case when then"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/e2f2e4491006d7e57615b1926913921e9414b9df

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `select t.*,o.item_id as item_id,(case when t.status = 'init' then '已启用' when t.status = 'failed' then '已停用' end) a

[2022-10-08 10:08] strongduanmu commented on #21384
Ref #19580.

[2022-10-08 10:10] strongduanmu commented on #21388
Ref https://github.com/apache/shardingsphere/issues/19580.

[2022-10-08 10:53] FlyingZC commented on #21378
Assign me, please. @zhaojinchao95

[2022-10-08 11:42] strongduanmu commented on #21392
Ref #19580.

[2022-10-08 15:40] RaigorJiang commented on #21259
Hi @c1258445690
Thanks for your feedback, we will investigate this problem.

[2022-10-08 15:51] RaigorJiang commented on #21213
Closed due to no response.

[2022-10-08 15:51] #21213 closed

[2022-10-08 16:01] taojintianxia opened #21400 "upgrade all actions/cache"
there are some cache are v2 and the rest are v3, need to use the same version.
take a look on the `restore-keys` of action cache, is this necessary ？

[2022-10-08 16:01] taojintianxia opened #21401 "upgrade all actions/set-java"

[2022-10-08 16:04] huangdx0726 commented on #20347
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-08 16:05] zhao-en commented on #20081
您好，您的邮件我已经收到，我会尽快处理！

[2022-10-08 16:12] ZengYu1 commented on #15145
你好，已收到你的来信，谢谢

[2022-10-08 16:21] taojintianxia opened #21402 "investigation : is it possible to set up a global constant cross all workflows"

[2022-10-08 16:21] #20878 closed

[2022-10-08 16:25] #10476 closed

[2022-10-08 16:25] trycache0905 commented on #12049
您好！    您的邮件已收到，我会尽快处理！谢谢！    顺祝：工作顺利！

[2022-10-08 16:47] linghengqian commented on #20935
- I'm reopening this issue because no one has responded to the time point, and I'll submit a PR directly if it's ok.

[2022-10-08 16:48] #21401 closed

[2022-10-08 16:54] linghengqian commented on #20936
- How should I reopen this issue?  I'm just waiting for one of my PRs to be merged...

[2022-10-08 17:03] linghengqian commented on #11650
- I just can't submit a PR right away due to personal matters.

[2022-10-08 18:00] KiranPatil30 commented on #21377
Hello Sir , Can You Assign This Issue to Me?
Please

[2022-10-08 23:03] taojintianxia opened #21404 "Refactor : extract some operations takes time from ci.yml to nightly-ci.yml"

[2022-10-09 00:36] #21404 closed

[2022-10-09 01:08] strongduanmu commented on #21388
I have debug into calcite source code, and I found that calcite doesn't support avg function now.

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/10829171/194732858-79c8b638-1b73-4ac0-83f0-82f8ccbf75d1.png">

[2022-10-09 01:26] strongduanmu commented on #21388
In calcite, a more recommended way is to use the `CoreRules.AGGREGATE_REDUCE_FUNCTIONS` rule rewrites `AVG(x)` to `SUM(x) / COUNT(x)`, so we can implement AVG aggregation by adding this rule.

[2022-10-09 01:57] mushroom0V0 opened #21406 "pg database, the aggregate function in XML does not divide the table normally"
## Bug Report

### Which version of ShardingSphere did you use?
version 4.0.1 & 4.1.1 has been tried

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
return query results

### Actual behavior
√：select file_store_id, extension from file f
 -- query `file_01`,`file_02`,.... normally
×：select file_store_id, extension, count(*) cou

[2022-10-09 02:02] strongduanmu commented on #21388
Following is the latest result:

[code]

[2022-10-09 02:04] RaigorJiang commented on #20936
Hi @linghengqian , which PR is related to this issue?

[2022-10-09 02:07] ZhiYu2018 opened #21407 "5.1.2 group by function bug"
## Bug Report
  when use 5.1.2 to execute sql like this:
     select cc,
        sum(a) as a,
        sum(b) as b,
        sum(c) as c
        from xxxx
        where xxxx = 0
        and ec ='xxx'
        and cc in('U','B','E', 'u')
        group by cc
 then the result U has not been aggregated. the result like this:
 B,***,***,***,
 E,***,***,***.
U,***,***,***.
u,***,***,***.
U,***,***,***.
the

[2022-10-09 02:07] mushroom0V0 commented on #21406
Maybe I should try the latest version and see the results

[2022-10-09 02:11] RaigorJiang commented on #15604
Not completed.

[2022-10-09 02:18] RaigorJiang commented on #17939
Not completed

[2022-10-09 02:19] strongduanmu commented on #21406
Yes, you can try the latest 5.2.0 version. This version has do a great enhancement in sql parse.

[2022-10-09 02:19] mushroom0V0 commented on #21406
您的邮件已收到，谢谢~
Best wishes to you~!!

[2022-10-09 02:49] mushroom0V0 commented on #21406
😂Since there are many projects affected, is there any way not to upgrade the version and fix the error

[2022-10-09 03:01] 0xddy opened #21409 "Incorrect Actual SQL table"
## Bug Report
### Which version of ShardingSphere did you use?

shardingsphere-jdbc-core-spring-boot-starter:5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Simple table storage and query

### Actual behavior

Incorrect Actual SQL，The SQL table is set at the wrong index

### Reason analyze (If you can)

### Steps to re

[2022-10-09 03:51] #21388 closed

[2022-10-09 04:45] strongduanmu commented on #6478
This issue has not been finished, so I will reopen it.

[2022-10-09 04:48] strongduanmu commented on #20559
This issue has not been finished, so I will reopen it.

[2022-10-09 04:48] strongduanmu commented on #13909
This issue has not been finished, so I will reopen it.

[2022-10-09 04:49] strongduanmu commented on #14104
This issue has not been finished, so I will reopen it.

[2022-10-09 04:49] strongduanmu commented on #14110
This issue has not been finished, so I will reopen it.

[2022-10-09 04:50] strongduanmu commented on #15740
This issue has not been finished, so I will reopen it.

[2022-10-09 04:51] strongduanmu commented on #20087
This issue has not been finished, so I will reopen it.

[2022-10-09 04:52] strongduanmu commented on #20395
This issue has not been finished, so I will reopen it.

[2022-10-09 04:52] strongduanmu commented on #20390
This issue has not been finished, so I will reopen it.

[2022-10-09 04:53] strongduanmu commented on #18763
This issue has not been finished, so I will reopen it.

[2022-10-09 04:53] strongduanmu commented on #18496
This issue has not been finished, so I will reopen it.

[2022-10-09 06:19] Spackys opened #21416 "about timezone has no effect"
When I use a jdbc-url with serverTimezone=Asia/Shanghai or serverTimezone=GMT%2B8, There is no effect. When insert date to mysql database is still UTC timezone, also mysql timezone is set to '+08:00'. For example, now is 14:13, use code the date is correct, but database date is 6:13.Directly use other tools connect database is normal with this jdbc-url setting.How can I set to correct the timezone

[2022-10-09 06:35] linghengqian commented on #20936
- Actually I was talking about https://github.com/apache/shardingsphere/pull/21341 ,🤣 but due to recent changes in master branch, it had a merge conflict not long ago, which has now been resolved.
- Since I don't really want to manage multiple PRs at the same time, I usually don't work on issues in parallel. For this current issue, I will submit a PR shortly.

[2022-10-09 07:01] #21384 closed

[2022-10-09 07:23] linghengqian commented on #11650
- Found that I can't fully solve this problem locally, I'm not working on this issue.

[2022-10-09 07:28] strongduanmu opened #21417 "SELECT UNION ALL statement return wrong result when execute with ADVANCED SQL Federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/40b5076d63d21c0bb19cca16d4db211648b3c7f5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM t_order UNION ALL SELECT * FROM t_order;`, then get following result.

[code]

### Actual behavior

[2022-10-09 07:55] strongduanmu commented on #21417
Ref #19580.

[2022-10-09 07:58] strongduanmu opened #21420 "Missing conversion is LogicalIntersect occurs when execute select intersect select with ADVANCED SQL federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/40b5076d63d21c0bb19cca16d4db211648b3c7f5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM t_order INTERSECT SELECT * FROM t_order;` successfully.

### Actual behavior

[code]

### Reason ana

[2022-10-09 07:59] strongduanmu commented on #21420
Ref #19580.

[2022-10-09 08:00] strongduanmu commented on #21420
When I execute `SELECT * FROM t_order EXCEPT SELECT * FROM t_order;`, a similar exception occurs.

[code]

[2022-10-09 08:18] peilinqian opened #21421 "Fetch forward is none and returns “ERROR: Index: 0”"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-a467bbe1668c2c300d3c91236e9e213c565ab7bf
Commit Message: Fix openGauss cursor execution in xa transaction(#21250) (#21257)
Branch: a467bbe1668c2c300d3c91236e9e213c565ab7bf

[2022-10-09 08:37] FlyingZC commented on #21421
I want to investigate the issue,please assign it to me. @strongduanmu

[2022-10-09 09:29] 1210958801 opened #21422 "ServiceProviderNotFoundException"
When I use shardingjdbc find this bug.

![img_v2_42eb1929-e683-4ab5-b558-33074061824g](https://user-images.githubusercontent.com/34763201/194749043-82fbb1e1-cd9c-4af8-bab1-4f35ef495a75.jpg)

help

remarks,the table 'user_team_role_relation' is not shard table config.

[2022-10-09 10:51] RaigorJiang commented on #16481
@yaofeng8888
Sorry for the late reply.
In the sharding scenario, the actual table name has been rewritten according to the algorithm, and the index name will also be rewritten. It is difficult for users to specify a clear index through SQL.
Therefore, this method is not feasible.

[2022-10-09 11:10] strongduanmu commented on #21420
When I execute `SELECT * FROM t_order MINUS SELECT * FROM t_order;`, following exception occurs.

[code]

[2022-10-09 11:20] FlyingZC commented on #21421
@peilinqian Check whether the last sql `fetch forward cur_test_01;` has a syntax problem.
<img width="439" alt="image" src="https://user-images.githubusercontent.com/19788130/194753968-2eacbb3c-0bc4-4c6a-9bb8-9a26bd27e2ec.png">

[2022-10-09 11:28] mushroom0V0 commented on #21406
bingo!
change
```select file_store_id, extension, count(*) count, sum(IFNULL(file_size,0)) size from file f```
to
```select file_store_id, extension, count(*) as count, sum(COALESCE(file_size,0)) as size from file f```

it works!!!!!

[2022-10-09 11:55] strongduanmu commented on #21417
When I execute `SELECT * FROM t_order INTERSECT ALL SELECT * FROM t_order;`, following result return.

[code]

But the actual result should be.

[code]

[2022-10-09 12:12] chakkk309 commented on #21392
Hi, I want to work on this issue.

[2022-10-09 12:30] linghengqian opened #21426 "Some sections of the documentation are bizarrely hidden"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

No.

### Describe the fe

[2022-10-09 12:32] #21420 closed

[2022-10-09 12:50] strongduanmu commented on #21392
@chakkk309 Welcome, I will assign this issue to you.

[2022-10-09 14:21] linghengqian commented on #20049
- If you like, open a new issue and try to push it directly. BOM related possibilities are blocked by https://github.com/apache/shardingsphere/pull/17042 .

[2022-10-09 14:40] linghengqian commented on #21347
- I'm assuming the GraalVM reachability metadata about Apache Curator will be migrated out of Spring Cloud since their community just migrated the corresponding metadata for Consul Client 1.4.5.

[2022-10-09 16:42] terrymanu commented on #21371
What is the result for execute `mvn install`?

[2022-10-10 01:52] Jacob953 commented on #21371
Build Success.

[2022-10-10 02:18] strongduanmu commented on #21417
l have do some research in calcite, when we execute `SELECT * FROM t_order UNION ALL SELECT * FROM t_order;`, calcite will generate following java code.

[code]

Since both select statements are same, so calcite generate `child0.concat(child0)` to handle this logic, and child0 corresponds to the result set returned after pushdown. Fetch two identical objects will cause the second result set to fai

[2022-10-10 03:15] #20049 closed

[2022-10-10 03:31] zhaojinchao95 opened #21434 "Add unit test for CuratorZookeeperRepository.getNumChildren(final String key)"

[2022-10-10 03:32] zhaojinchao95 opened #21435 "Add unit test for CuratorZookeeperRepository.getRegistryCenterTime(final String key)"

[2022-10-10 03:38] DivvSaxena commented on #21435
will work on it

[2022-10-10 03:39] DivvSaxena commented on #21435
assign

[2022-10-10 03:43] zhaojinchao95 commented on #21435
Done

[2022-10-10 03:50] lanrenbulan opened #21437 "SQL comment hint not work in proxy"
## Question

SQL comment hint not work in proxy, it queries all databases.

## ENV

proxy-5.2.0
windows11

## config

service.yaml
[code]

config.sharding.yaml

[code]

## log
The port is configured as 3309
The classpath is "..;..\lib\*;..\ext-lib\*"
we find java version: java17, full_version=17.0.3"
Starting the ShardingSphere-Proxy ...
Java HotSpot(TM) 64-Bit Server VM warning: JVM cannot use la

[2022-10-10 03:51] taojintianxia opened #21438 "What should a robot do in ShardingSphere"
recently the workflow `issue-automation.yml` is active, and closed a lot of issues which is more than 15 days inactive.
this may cause some potential problem closed without resolved, so disable that workflow temporarily.

we need to discuss and decide what a robot `should` and `can` do in ShardingSphere community.

[2022-10-10 04:16] DivvSaxena commented on #21435
can you give me the location of the file

[2022-10-10 04:18] DivvSaxena commented on #21435
and do we have to basically add unit test or do we have to document it or add some description about it please guide

[2022-10-10 04:31] linghengqian opened #21442 "How to execute RDL without `use` any existing database?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-10-10 06:29] zhaojinchao95 commented on #21435
Only add unit test

[2022-10-10 06:31] zhaojinchao95 commented on #21435
https://github.com/apache/shardingsphere/blob/master/mode/type/cluster/repository/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/mode/repository/cluster/zookeeper/CuratorZookeeperRepositoryTest.java

[2022-10-10 06:51] strongduanmu commented on #19580
All tasks has been finished, so I will close this issue.

[2022-10-10 06:51] #19580 closed

[2022-10-10 07:24] linghengqian commented on #20666
- Unable to reproduce this issue in master branch, this issue can be closed.

[2022-10-10 07:34] linghengqian commented on #15896
- Isn't this issue already resolved?

[2022-10-10 07:35] linghengqian commented on #18320
- I think this issue can be closed.

[2022-10-10 07:37] linghengqian commented on #18901
- I think this issue can be closed because C3P0's metadata is already in the master branch.

[2022-10-10 07:49] taojintianxia commented on #21402
there is one way could share the constant between workflows:
1. store environment variables in an .env file like this:
[code]

2. Then you can write code to append data from that file to `$GITHUB_ENV`:

[code]
3. You'll need to do cat .env >> $GITHUB_ENV (and use actions/checkout) for each job where you need to access env vars from that file.

[2022-10-10 07:53] taojintianxia opened #21447 "Refactor : use script to setup environment among workflows"

[2022-10-10 07:56] taojintianxia commented on #21400
there are some cache are v2 and the rest are v3, need to use the same version.
take a look on the `restore-keys` of action cache, is this necessary ？

[2022-10-10 07:57] taojintianxia commented on #21400
Followings are the v3 upgrade features :

  - Added support for caching from GHES 3.5.
  - Fixed download issue for files > 2GB during restore.
  - Updated the minimum runner version support from node 12 -> node 16.
  - Fixed avoiding empty cache save when no files are available for caching.
  - Fixed tar creation error while trying to create tar with path as ~/ home folder on ubuntu-latest.
  - F

[2022-10-10 08:26] Liam987-yu opened #21449 "If i just use write/read splitting feature , Should i use the cluster mode (zookeeper)"

[2022-10-10 08:32] taojintianxia commented on #21400
**Usage**
The cache action first searches for cache hits for key and restore-keys in the branch containing the workflow run. If there are no hits in the current branch, the cache action searches for key and restore-keys in the parent branch and upstream branches.

restore-keys allows you to specify a list of alternate restore keys to use when there is a cache miss on key. You can create multiple r

[2022-10-10 08:51] linghengqian commented on #21442
- I found that this error log is actually caused by Jetbrains Datagrip, so this issue is first duplicated with https://github.com/apache/shardingsphere/issues/11994.
- Also for the issue of not being able to execute RDL, I found that I was confused by a configuration. If I remove the following configuration in `server.yaml`, the error of `For input string: ""` will no longer pop up when executing

[2022-10-10 08:51] #21442 closed

[2022-10-10 09:10] strongduanmu commented on #21437
Hi @lanrenbulan, this feature has been removed since 5.2.0. In next version, we will provide force sharding with sql hint.

[2022-10-10 09:16] DivvSaxena commented on #21435
#21452 made the PR

[2022-10-10 09:30] linghengqian opened #21453 "proxy-mysql-default-version set to 5.6.x will result in failure to execute SQL"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes，refer to https://g

[2022-10-10 09:36] linghengqian opened #21454 "Possibly make `proxy-hint-enabled: true` use threads replaced from platform threads to virtual threads?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- No.

### Describe the

[2022-10-10 09:47] shihe110 opened #21455 "shardingsphere-proxy5.2.0 proxy mysql8.x [ERROR] java.sql.SQLException: Unknown system variable 'query_cache_size'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-10 10:09] #21417 closed

[2022-10-10 10:15] yage-czy commented on #14949
Hi, any update?

[2022-10-10 10:22] RaigorJiang opened #21458 "[DistSQL] Add SQL parser test case for `ClearHintStatement`"
### Background

`CLEAR HINT` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ClearHintStatement`. Now we need to add a test case for this parsing process to assert that the parsing is correct.

### Aim

Add SQL parser test case for

[2022-10-10 10:32] RaigorJiang opened #21460 "[DistSQL] Add SQL parser test case for `SetReadwriteSplittingHintStatement`"
### Background

`SET READWRITE_SPLITTING HINT SOURCE = [auto / write]` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `SetReadwriteSplittingHintStatement`. Now we need to add a test case for this parsing process to assert that the p

[2022-10-10 10:47] RaigorJiang opened #21461 "[DistSQL] Add SQL parser test case for `ShowReadwriteSplittingHintStatusStatement`"
### Background

`SHOW READWRITE_SPLITTING HINT STATUS` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ShowReadwriteSplittingHintStatusStatement`. Now we need to add a test case for this parsing process to assert that the parsing is

[2022-10-10 10:50] taojintianxia opened #21462 "Refactor : refactor all maven cache usage in workflows"

[2022-10-10 10:52] RaigorJiang opened #21463 "[DistSQL] Add SQL parser test case for `ClearReadwriteSplittingHintStatement`"
### Background

`CLEAR READWRITE_SPLITTING HINT` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ClearReadwriteSplittingHintStatement `. Now we need to add a test case for this parsing process to assert that the parsing is correct.

[2022-10-10 10:55] RaigorJiang opened #21464 "[DistSQL] Add SQL parser test case for `ShowShardingHintStatusStatement`"
### Background

`SHOW SHARDING HINT STATUS` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ShowShardingHintStatusStatement`. Now we need to add a test case for this parsing process to assert that the parsing is correct.

### Aim

A

[2022-10-10 10:58] RaigorJiang opened #21465 "[DistSQL] Add SQL parser test case for `SetShardingHintDatabaseValueStatement`"
### Background

`SET SHARDING HINT DATABASE_VALUE = xx` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `SetShardingHintDatabaseValueStatement`. Now we need to add a test case for this parsing process to assert that the parsing is co

[2022-10-10 11:07] RaigorJiang opened #21467 "[DistSQL] Add SQL parser test case for `AddShardingHintDatabaseValueStatement`"
### Background

`ADD SHARDING HINT DATABASE_VALUE xx = yy` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `AddShardingHintDatabaseValueStatement`. Now we need to add a test case for this parsing process to assert that the parsing is

[2022-10-10 11:09] RaigorJiang opened #21468 "[DistSQL] Add SQL parser test case for `AddShardingHintTableValueStatement`"
### Background

`ADD SHARDING HINT TABLE_VALUE xx = yy` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `AddShardingHintTableValueStatement`. Now we need to add a test case for this parsing process to assert that the parsing is corre

[2022-10-10 11:14] RaigorJiang opened #21469 "[DistSQL] Add SQL parser test case for `ClearShardingHintStatement`"
### Background

`CLEAR SHARDING HINT` is a syntax in [DistSQL RAL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/), when `ShardingSphereSQLParserEngine` receives this SQL text, it parses it as `ClearShardingHintStatement`. Now we need to add a test case for this parsing process to assert that the parsing is correct.

### Aim

Add SQL pars

[2022-10-10 12:54] taojintianxia opened #21470 "Refactor : reduce the trigger frequency for example and reduce the duplicated test content"

[2022-10-10 17:43] anamendes23 commented on #20390
I have written the ANTLR grammar, but the visitors are not autogenerating when I rebuild the project.

[2022-10-10 18:51] Swastyy opened #21474 "Words being broken within the text-box in almost all pages"
In the documentation, in many pages the words in every line are broken.
for example, in the image below: designed is as 'desig' and 'ned'; testing as 'te' and 'sting'
![image](https://user-images.githubusercontent.com/64654203/194933707-b83e1d0e-60a2-4c1d-8df0-051bb8e4f8a8.png)

A solution to above I can see in a discussion is [here](https://answers.microsoft.com/en-us/msoffice/forum/all/words-bei

[2022-10-11 00:13] strongduanmu commented on #20390
Hi @anamendes23, you can execute `mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -Dmaven.test.skip=true -Prelease -T 1C` on your local machine.

[2022-10-11 00:27] #21462 closed

[2022-10-11 00:55] lanrenbulan commented on #21437
DistSQL set sharding hint database_ Does value also not support it?

[2022-10-11 01:26] strongduanmu commented on #17204
This issue is currently low priority, so I will remove milestone.

[2022-10-11 01:27] strongduanmu commented on #21392
This issue is currently low priority, so I will remove milestone.

[2022-10-11 02:10] TeslaCN commented on #20935
This may impact a lot of users. It's better to discuss breaking changes in mailing list.

[2022-10-11 02:23] linghengqian commented on #20935
- Considering the process at https://github.com/apache/shardingsphere/issues/1157, maybe it would be better for PMC to start a new email thread?  👀

[2022-10-11 03:36] taojintianxia commented on #19615
this could be closed. related issue has  been finished.

[2022-10-11 03:36] #19615 closed

[2022-10-11 03:57] #19959 closed

[2022-10-11 03:57] #19524 closed

[2022-10-11 03:58] #19626 closed

[2022-10-11 03:58] #21184 closed

[2022-10-11 03:58] #21400 closed

[2022-10-11 03:58] #21402 closed

[2022-10-11 04:11] ningzio opened #21475 "INLINE script cannot handle int64 id as expected"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-11 04:36] linghengqian opened #21476 "Markup SpringBoot users need to specify SnakeYAML version in Github Wiki"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes, refer to https://

[2022-10-11 04:37] linghengqian commented on #21476
- @Swastyy I just found out that the processor of https://github.com/apache/shardingsphere/issues/19383 is you, could post it on Github Wiki and mark it?  I don't have editing rights.

[2022-10-11 04:39] TeslaCN opened #21477 "Some hyperlinks in documents are outdated after project structure refactored"
## Fix 404 in documents

Related to https://github.com/apache/shardingsphere/pull/21339

There are many 404 links in https://github.com/apache/shardingsphere/tree/master/docs/document/content/dev-manual

For example: https://github.com/apache/shardingsphere/pull/21478

[2022-10-11 04:45] TeslaCN commented on #21453
Have you configured any data sources?

[2022-10-11 04:46] strongduanmu commented on #21475
Hi @ningzio, thank you for your feedback. Can you try test this expression with groovy shell? The INLINE sharding algrithom is based on groovy shell.

[2022-10-11 04:48] linghengqian commented on #21453
- I tested with the database configured in `config-*.yaml`.  It might be a little hard for me to provide such unit tests as Oracle doesn't seem to maintain a Docker Image for MySQL 5.6.

[2022-10-11 04:49] TeslaCN commented on #21455
Please try the solution in https://github.com/apache/shardingsphere/issues/18482

[2022-10-11 04:50] TeslaCN commented on #21454
I've tested Virtual thread multiple times in x64 and aarch64, the performance is worse.

[2022-10-11 04:53] linghengqian commented on #21454
- It seems premature to discuss this question, I will close this issue.

[2022-10-11 04:54] #21454 closed

[2022-10-11 04:54] TeslaCN commented on #21422
Have you shaded jars of ShardingSphere?

[2022-10-11 04:54] ningzio commented on #21475
Hi @strongduanmu thanks for your reply.

this is main.groovy
[code]

output:
[code]

this is expected result.

(Im not familiar with groovy, is this right?)

[2022-10-11 05:00] DivvSaxena commented on #21435
can u tell me how to fix that issue
#21452

[2022-10-11 05:40] #21421 closed

[2022-10-11 05:53] Swastyy commented on #21476
Ok @linghengqian , I will do it.

[2022-10-11 05:55] RaigorJiang commented on #19870
Closed due to no reply for a long time.

[2022-10-11 05:55] #19870 closed

[2022-10-11 06:12] strongduanmu opened #21481 "Supporting data source level heterogeneous database gateway"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

Currently, in issue #17619, we have implemented basic heterogeneous database gateway feature. Users can use the MySQL protocol to access the backend PostgreSQL database. But it will require that the databases in the same logic database must be of the same type, otherwise an excepti

[2022-10-11 06:14] wangjiihao opened #21482 "max-connections-size-per-query not work"
配置 max-connections-size-per-query 结果没有效果，shardingsphere运行时 还是使用的默认值1
![a34b62fb27d6f21790487cf432f8315](https://user-images.githubusercontent.com/49392645/195010184-d20666bd-9a4a-467e-9a17-6719551d0a92.jpg)

[2022-10-11 06:14] wangjiihao commented on #21482
![image](https://user-images.githubusercontent.com/49392645/195010569-e5f06e71-eb62-4d60-97d3-357accbd24d1.png)

[2022-10-11 06:18] RaigorJiang opened #21483 "Add a new DistSQL `REFRESH DATABASE METADATA`"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Now we have a DistSQL to refresh the table's metadata:
[code]
Ref https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/

In some specific scenarios (such as event exceptions), there will also be inconsistent rule metadata and config

[2022-10-11 06:21] #16481 closed

[2022-10-11 06:22] RaigorJiang commented on #19828
Closed due to no reply for a long time.

[2022-10-11 06:22] #19828 closed

[2022-10-11 06:23] RaigorJiang commented on #19633
Closed due to no reply for a long time.

[2022-10-11 06:23] #19633 closed

[2022-10-11 06:41] RaigorJiang opened #21485 "Unify metadata naming"
I found some metadata related classes with camel case `MetaData` in their names like
[code]
But there are also some that do not use camel case, such as
[code]

In fact, `Metadata` is a proper noun, it does not need to be split.
I propose a uniform adjustment to the related names, including related comments.

Ref: https://en.wikipedia.org/wiki/Metadata

[2022-10-11 06:46] TeslaCN commented on #21482
Please paste your rules and SQL.

[2022-10-11 06:50] wangjiihao commented on #21482
# 分片的配置
    rules:
      sharding:
        # 表的分片策略
        tables:
          # 逻辑表的名称
          asset_terminal_basic_seq:
            # 数据节点配置，采用Groovy表达式
            actual-data-nodes: master.asset_terminal_basic_seq$->{0..4}
            #分表策略
            table-strategy:
              standard:
                # 分片列名称
                sharding-column: id
                sharding-algorithm-name: a

[2022-10-11 06:52] wangjiihao commented on #21482
sql就是一些最简单的select查询没什么特别的东西

[2022-10-11 06:54] wangjiihao commented on #21482
用的是springbootstarter的shardingsphere5.1.1版本

[2022-10-11 07:32] baozhalelele opened #21492 "Is there any way to add a new datasource to ShardingSphere dynamically so that it could be managed by ShardingSphereDataSource?"
## Question

Hi, I am using ShardingJdbc 5.1.2 and mybatis-plus.
I want to create a new datasource dynamically and it could be add to ShardingSphereDataSource for management.
When in ShardingJdbc 4.x it has a way to realize such as below:

[code]

But in ShardingJdbc 5.1.2 it seems that I could not add a new datasource for ShardingJdbc directly.
I would appreciate if there is any proposal to me.Th

[2022-10-11 08:01] zhaojinchao95 commented on #21492
@baozhalelele Hi, you can use `ShardingSphere-Proxy` &` ShardingSphere-JDBC` Hybrid deployment. `ShardingSphere-JDBC` can perceive new datasource when you execut[ DistSQL RDL ADD RESOURCE](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/resource-definition/) in the `ShardingSphere-Proxy`

[2022-10-11 08:09] Swastyy commented on #21477
I will do some.

[2022-10-11 08:12] wangjiihao commented on #21482
@TeslaCN 您好,就是配置max-connections-size-per-query: 100的时候没生效,局部配置如下:
props:
      #sql打印
      sql-show: true
      max-connections-size-per-query: 100

[2022-10-11 08:28] wsm12138 commented on #21421
fixed by [bcde6f3](https://github.com/apache/shardingsphere/commit/bcde6f374c4a3a025173fbc9f6d0e66ed686a042)
<img width="888" alt="image" src="https://user-images.githubusercontent.com/86462784/195038446-1221aa95-bc9b-4015-8b5d-0b481efee288.png">

[2022-10-11 08:29] Swastyy commented on #21485
I want to work on it :)

[2022-10-11 08:38] TeslaCN commented on #21482
For English only.

[2022-10-11 08:44] huangdx0726 commented on #20128
yes， please assign to me

---Original---
From: "Hongsheng ***@***.***&gt;
Date: Sat, Aug 13, 2022 17:29 PM
To: ***@***.***&gt;;
Cc: "Da Xiang ***@***.******@***.***&gt;;
Subject: Re: [apache/shardingsphere] Add InventoryDumperCreator SPI todecouple InventoryDumper and ScalingEntry (Issue #20128)

Hi @huangdx0726 , are you interesting to resolve it?

—
Reply to this email directly, view it on GitHu

[2022-10-11 08:59] #21449 closed

[2022-10-11 09:06] Liam987-yu opened #21497 "Cluster mode questions"
Hi
I have three questions
1. If i just use write/read splitting feature , Should i use the cluster mode (zookeeper)
2. What is the impact if I don't configure the mode？
3.  My project already have imported the  nacos ,Can i use nacos to be  the registery center

Looking forward  to your reply

[2022-10-11 09:21] taojintianxia opened #21499 "Refactor : remove the windows long name support from ci since module name has been refactored shorter"

[2022-10-11 09:52] wangjiihao commented on #21482
Hello, the max-connections-size-per-query does not take effect. The local configuration is as follows:

props:

#Sql printing

sql-show: true

max-connections-size-per-query: 100

[2022-10-11 09:53] wangjiihao commented on #21482
The dependencies used are as follows:
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.1</version>
        </dependency>

[2022-10-11 09:58] wangjiihao commented on #21482
At present, the efficiency of some simple queries is relatively low. After tracing the source code, we can see that the union all is automatically spliced, resulting in the low efficiency of some simple queries and queries using paging plug-ins when the data volume is large

[2022-10-11 10:05] wangjiihao commented on #21482
@TeslaCN It is suggested that the user can configure the part of adding union all .In addition, I configure this parameter in the yml file, max connections size per query, which has never been recognized

[2022-10-11 10:31] huang714669 opened #21503 "Springboot how to set acutualDataNodes dynamically"
hi,
I am using Sharding-JDBC with a version 5.1.2, and I am wondering if it supports to update actualDataNodes runtime in springboot, if does, how to do it?

[2022-10-11 10:57] RaigorJiang commented on #21485
@Swastyy  Welcome :)

[2022-10-11 11:55] peilinqian commented on #21421
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build time: 2022-10-11T19:13:56+0800

[code]

[2022-10-11 11:56] peilinqian commented on #21250
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build time: 2022-10-11T19:13:56+0800

[code]

[2022-10-11 12:25] peilinqian commented on #18540
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build time: 2022-10-11T19:13:56+0800

[code]

[2022-10-11 12:31] linghengqian commented on #21503
-  Your question is duplicated by https://github.com/apache/shardingsphere/issues/21492 and is essentially a type of problem. Closed issues have many such issues.
- If you don't use DistSQL, you can directly modify the internal metadata of the data source's `ContextManager`, change it at will, and call methods to refresh the metadata. For this section, you can directly refer to DistSQL unit testin

[2022-10-11 13:32] baozhalelele commented on #21492
Thank you for your kindly answer.
Finally, I used reflection to update the `ContextManager` and it seemed to work.

For reference：
[code]

[2022-10-11 18:23] Jiabing-cyber opened #21509 "Auto Sharding Algorithm"
# 1. issue
[code]

exception：

[code]
[code]

# 2. solution

`spring.sharding-sphere.rules.readwrite-splitting.data-sources.db_order_0_readwrite_splitting`
`spring.sharding-sphere.rules.readwrite-splitting.data-sources.db_order_1_readwrite_splitting`
to
`spring.sharding-sphere.rules.readwrite-splitting.data-sources.db_order_0`
`spring.sharding-sphere.rules.readwrite-splitting.data-sources.db_order

[2022-10-11 23:48] iofit commented on #21434
I'll start working on this, if someone can assign it it'd be great!

[2022-10-12 00:18] strongduanmu commented on #21434
@iofit Assigned.

[2022-10-12 00:29] strongduanmu commented on #17767
Hi, could we finish this issue in 5.2.1?

[2022-10-12 00:31] strongduanmu commented on #17619
Since the last subtask will take a long time to implement, I will temporarily remove milestone.

[2022-10-12 00:31] strongduanmu commented on #18405
Hi, could we finish this issue in 5.2.1?

[2022-10-12 00:32] strongduanmu commented on #18972
Hi, could we finish this issue in 5.2.1?

[2022-10-12 00:33] strongduanmu commented on #18914
Hi, could we finish this issue in 5.2.1?

[2022-10-12 00:33] strongduanmu commented on #20036
Since this is a long-term task, I will temporarily remove milestones.

[2022-10-12 00:34] strongduanmu commented on #20513
Hi @RaigorJiang , could we finish this issue in 5.2.1?

[2022-10-12 00:35] strongduanmu commented on #20876
Hi @itmachen , could we finish this issue in 5.2.1?

[2022-10-12 00:36] strongduanmu commented on #20815
@tianhao960 Assigned. Could we finish this issue in 5.2.1?

[2022-10-12 00:36] strongduanmu commented on #20810
Hi @null-sys , could we finish this issue in 5.2.1?

[2022-10-12 00:38] itmachen commented on #20876
@strongduanmu recently completed

[2022-10-12 00:38] strongduanmu commented on #20789
Hi @FlyingZC , could we finish this issue in 5.2.1?

[2022-10-12 00:39] strongduanmu commented on #21010
Hi @tuichenchuxin , could we finish this issue in 5.2.1?

[2022-10-12 00:40] strongduanmu commented on #21010
Besides, I think we should provide more information according to bug template. @zhaojinchao95

[2022-10-12 00:41] strongduanmu commented on #20932
Hi @zhaojinchao95 @soulasuna , could we finish this issue in 5.2.1?

[2022-10-12 00:44] strongduanmu commented on #18421
This issue is related with #17204. Since implementing search path is a long-term task, I will temporarily remove milestone.

[2022-10-12 00:45] strongduanmu commented on #19714
Hi @RaigorJiang , could we finish this issue in 5.2.1?

[2022-10-12 00:45] strongduanmu commented on #20736
Hi @tuichenchuxin @dongzl , could we finish this issue in 5.2.1?

[2022-10-12 00:49] strongduanmu commented on #21072
Hi @tianhao960 , could we finish this issue in 5.2.1?

[2022-10-12 00:49] huang714669 commented on #21492
Thank you for you guys, it's helpful for me with the reflection solution!

[2022-10-12 00:49] strongduanmu commented on #21163
Hi @TeslaCN , could we finish this issue in 5.2.1?

[2022-10-12 00:51] strongduanmu commented on #21182
This is not a bug, so I will close it now.

[2022-10-12 00:51] #21182 closed

[2022-10-12 00:53] strongduanmu commented on #21266
Hi @caqhy @zhaojinchao95 , could we finish this issue in 5.2.1?

[2022-10-12 00:55] strongduanmu commented on #21268
Hi @tuichenchuxin , could we finish this issue in 5.2.1?

[2022-10-12 01:01] strongduanmu commented on #21380
Hi @zhaojinchao95 , could we finish this issue in 5.2.1?

[2022-10-12 01:02] strongduanmu commented on #21447
Hi @taojintianxia , could we finish this issue in 5.2.1?

[2022-10-12 01:02] strongduanmu commented on #21470
Hi @taojintianxia , could we finish this issue in 5.2.1?

[2022-10-12 01:03] strongduanmu commented on #21483
Hi @RaigorJiang , could we finish this issue in 5.2.1?

[2022-10-12 01:03] strongduanmu commented on #21499
Hi @taojintianxia , could we finish this issue in 5.2.1?

[2022-10-12 01:08] huang714669 commented on #21503
thankyou lingheng, could you please tell me how to get shardingRule by ContextManager, so I can modify actualDataNodes configuration

[2022-10-12 01:15] dongzl commented on #20736
Hi @strongduanmu ，what's the deadline for Release 5.2.1? I think only part of the work can be done.

[2022-10-12 01:42] null-sys commented on #20810
Hey @strongduanmu development was done and it was approved. I just resolved conflicts. You can check this
[PR](https://github.com/apache/shardingsphere/pull/21076) . @terrymanu please have a look and merge

[2022-10-12 01:48] taojintianxia opened #21514 "Refactor : update all actions/checkout version"

[2022-10-12 01:51] linghengqian commented on #21503
- I just assume you can understand Chinese.  I will organize an integrated blog post and publish it in https://github.com/apache/shardingsphere/discussions/12258 in the next few days.  For how to get the ShardingRule, you can refer to all the unit tests related to `ContextManager`. After taking out the `ContextManager` instance through reflection, you can limit the scope of the taken out Rule thro

[2022-10-12 02:15] zhaojinchao95 commented on #21380
I remove it to next milestone

[2022-10-12 02:25] huang714669 commented on #21503
多谢，期待你的博客？请问ContextManager测试用例哪里能看到？
如果改actualDataNodes，是不是contextManager.metaDataContexts.metaData里面configurations.actualDataNodes和tableRules.actualDataNodes都需要修改？
tableRules.actualDataNodes是集合，可以直接添加。
configurations.actualDataNodes是字符串，如果表后缀不是非连续的数字，怎么构造这个字符串？

[2022-10-12 02:27] zhaojinchao95 commented on #21435
You can see error message : https://github.com/apache/shardingsphere/actions/runs/3218169698/jobs/5275132672

[2022-10-12 02:35] huang714669 commented on #21503
还有个问题，我实现了StandardShardingAlgorithm实现自定义sharding算法，如果通过springboot定时任务刷新contextManager，doSharding（）方法里面可以拿到最新的actualDataNodes吗？

[2022-10-12 02:44] tianhao960 commented on #21072
hi, I am afraid I need some time to finish this and  before 5.2.2 release, it could be done. thanks.

[2022-10-12 02:44] tianhao960 commented on #20815
hi, I am afraid I need some time to finish this and  before 5.2.2 release, it could be done. thanks.

[2022-10-12 02:52] linghengqian commented on #21503
- The `actualDataNodes` and `shardingAlgorithm` are not at the same level. In order to serve DistSQL, each version of `ContextManager` has been refactored and abstracted to a certain extent. This is why you will find out why unit tests of DistSQL hardly touch `ContextManager`.  `actualDataNodes` is essentially a `Groovy` expression. If you don't like `Groovy`, you can directly construct an `ArrayL

[2022-10-12 03:06] RaigorJiang commented on #20513
Let me check it.

[2022-10-12 03:09] RaigorJiang commented on #21483
Yes, it will be finished soon.

[2022-10-12 03:27] jitawangzi opened #21518 "process blob data error"
ShardingSphere-Proxy 5.2.0

It is a same issue with #18627  #3024

I test it in version 5.2.0, this problem is still not resolved.

The blob data stored is not the same as read from mysql.

[2022-10-12 03:53] huang714669 commented on #21503
update the among message to english?
I have updated actualDataNodes both in `configurations.actualDataNodes` and `tableRules.actualDataNodes`, by use  reflection to update the ContextManager successfully. But when execute doSharding() method, it seems the availableTargetNames still be the old value, so this  is because  `shardingAlgorithm` will not use the config in `ContextManager`?

Does shardin

[2022-10-12 04:03] linghengqian commented on #21503
- `shardingAlgorithm` will use the metadata of `ContextManager`, but you have to consider that it is easy to have a little misunderstanding, all algorithm classes should be `final classes` or close to `final classes` in design.  This means that if you directly return the `shardingAlgorithm` class of the original metadata to the new metadata class, the `init()` function commonly used by subinterfac

[2022-10-12 05:07] TeslaCN commented on #21518
Could you provide more information about this issue? Such as configurations, DDL, DML...

[2022-10-12 05:56] jitawangzi commented on #21518
Let me talk about the general process, i use ShardingSphere-Proxy 5.2.0, configure 5 data sources for sharding, then  create a table (without configuring sharding rules) including blob fields, insert  a record  into this table, specify the content of the blob field, and then query this data from the database, and find that the value of the blob of the queried data is different from the value when

[2022-10-12 06:01] TeslaCN commented on #21163
I've moved this to next milestone.

[2022-10-12 06:32] mlycore commented on #21377
Hi. any updates on this ? @KiranPatil30

[2022-10-12 07:06] peilinqian commented on #21230
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build time: 2022-10-11T19:13:56+0800

[code]

[2022-10-12 07:09] Dangshuangyin opened #21521 "NPE occurred when execute `SHOW STATUS` in Proxy."
![image](https://user-images.githubusercontent.com/89122494/195273832-8e8e62a1-e7a1-4dad-a889-8d74a3914a60.png)

 ShardingSphere-SQL - Actual SQL: ds_0 ::: SHOW STATUS
[ERROR] 2022-10-12 14:06:53.546 [ShardingSphere-Command-0] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
        at org.apache.shardingsphere.infra.federation.executor.original.OriginalFeder

[2022-10-12 07:47] #21470 closed

[2022-10-12 07:48] taojintianxia commented on #21447
this is not an import refactor, move it to 5.2.2

[2022-10-12 07:53] fandudu0601 opened #21523 "Help! I can get the correct sharding table in doSharding method, but sql parse still use logic table."
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
execute the sql by using sharding table
### Actual behavior
execute the sql by using logic table
### Reason analyze (If you can)
sql parse

properties
shardingsphere:
    datasource:
      names: master
      master:
        ty

[2022-10-12 09:03] itmachen commented on #20876
@azexcy What scenario will be multi-threaded execution.

[2022-10-12 09:07] azexcy commented on #20876
relation class `ShardingSpherePipelineDataSourceCreator`
if  multiple  pipeline jobs are running at the same time, multiple threads will create the data source at the same time

[2022-10-12 09:11] itmachen commented on #20876
@azexcy I have optimized a version before, can you please accept it

[2022-10-12 09:19] RaigorJiang commented on #20513
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/5668787/195303442-5818af01-72df-4885-bd80-003c7e7bdede.png">

Hi @Qianyi951015  I can't reproduce the problem, can you reproduce it?

[2022-10-12 10:02] sxlArtless opened #21525 "Questions about the primary key id policy for shardingsphere5.1.1"
In the integration of shardingsphere4.1.1 framework version and mybatis plus3.3.1, I only used the read-write separation function but did not use sharding.

When addBatch added data, there was a return of self-increment primary key id, but when it was upgraded to 5.1.1 framework version, Shardingsphere5.1.1 addBatch method did not return to the primary key id value, because the ShardingSpherePrepa

[2022-10-12 10:14] fandudu0601 commented on #21523
表名改成大小好了，singleTableRule有加载了一遍逻辑表....

[2022-10-12 10:44] itmachen commented on #20876
@azexcy Not sure it can be solved, so can you give me a reproduction process

[2022-10-12 10:56] azexcy commented on #20876
OK, i will check it later, thanks.

[2022-10-12 11:16] Qianyi951015 commented on #20513
I also can not reproduce it now. Maybe already been solved by someone.

[2022-10-12 11:16] #20513 closed

[2022-10-12 11:26] linghengqian commented on #21426
- Resolved at https://github.com/apache/shardingsphere/pull/21524 .

[2022-10-12 11:26] #21426 closed

[2022-10-12 14:05] 1210958801 commented on #21422
Thank you for your reply, But I've never done that before

[2022-10-12 14:05] 1210958801 commented on #21422
@TeslaCN

[2022-10-12 14:09] 1210958801 commented on #21422
`yaml`
- !SHARDING
  shardingAlgorithms:
    database_inline:
      props:
        algorithm-expression: rosetta_task_$->{project_id%4}
      type: INLINE
    history_table_inline:
      props:
        algorithm-expression: task_history_$->{task_id%4}
      type: INLINE
    task_table_inline:
      props:
        algorithm-expression: task_info_$->{project_id%3}
      type: INLINE
  tables:
    ta

[2022-10-12 14:09] 1210958801 commented on #21422
`
- !SHARDING
  shardingAlgorithms:
    database_inline:
      props:
        algorithm-expression: rosetta_task_$->{project_id%4}
      type: INLINE
    history_table_inline:
      props:
        algorithm-expression: task_history_$->{task_id%4}
      type: INLINE
    task_table_inline:
      props:
        algorithm-expression: task_info_$->{project_id%3}
      type: INLINE
  tables:
    task_in

[2022-10-12 14:10] 1210958801 commented on #21422
[code]

[2022-10-12 14:17] Hansiyuan131 commented on #21422
The same thing happened to me

[2022-10-13 00:03] iofit commented on #21434
I've added a PR https://github.com/apache/shardingsphere/pull/21537 please take a look whenever you can, thanks!

[2022-10-13 00:03] Ikki-Dai commented on #14316
hibernate 6.0 have a @TenantId annotation to support something around tenant

[2022-10-13 00:22] #20361 closed

[2022-10-13 02:02] #20932 closed

[2022-10-13 03:11] azexcy opened #21540 "The result of `select * fromt table ` is different is not the same as the return value of a direct database connection"
## Bug Report

create table sql:
[code]

resource:
[code]

sharding rule
[code]

The result between  `select * from t_order where id > 0 limit 1;` and `select * from t_order where id > 0 order by id limit 1;` are different.

[code]

the proxy log
[code]

and at sub query, the Proxy result
[code]

but not use Proxy, just query MySQL
<img width="819" alt="image" src="https://user-images.githubuserco

[2022-10-13 03:23] Keanhua commented on #21525
i have the same question

[2022-10-13 04:01] #19714 closed

[2022-10-13 04:29] strongduanmu commented on #20736
Since this task still has some subtasks unfinished, I will move it to 5.2.2.

[2022-10-13 04:30] strongduanmu commented on #20810
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 04:30] strongduanmu commented on #17767
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 04:31] strongduanmu commented on #18972
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 04:31] strongduanmu commented on #20789
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 04:32] strongduanmu commented on #20876
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 04:32] strongduanmu commented on #21514
Since this task is not complete, I will move it to 5.2.2.

[2022-10-13 05:24] RaigorJiang opened #21543 "Improve Properties definition in DistSQL to support more types"
Ref to #18811,

I found that the behavior of property value in DistSQL has some conflicts with the specification, e.g.
[code]
The key of a property is a string ("maximumPoolSize"), but the value can be an integer or a boolean.

Therefore, I am going to adjust the definition of the `PROPERTIES` in DistSQL so that the types supported by value conform to the overall specification.

[2022-10-13 05:45] RaigorJiang commented on #21521
Hi @Dangshuangyin
Thanks for your feedback, what is your version of Proxy?

[2022-10-13 05:48] Dangshuangyin commented on #21521
5.2.0

[2022-10-13 06:08] jitawangzi commented on #21518
I reproduced the complete test code and running environment, test project address:
https://github.com/jitawangzi/ShardingSphereProxyBlobTest.git

Just run Main directly, and you can see data errors in the output：

```binary data equals result : false```

The test project also contains all the configuration of ShardingSphere,sql of create table,

I have modified the configuration  "config-sharding.

[2022-10-13 08:48] #21268 closed

[2022-10-13 09:11] fandudu0601 opened #21547 "ORA-01795: maximum number of expressions in a list is 1000"
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
startup correctly
### Actual behavior
java.sql.SQLSyntaxErrorException: ORA-01795: maximum number of expressions in a list is 1000
at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:509)
	at oracle.jdbc.driver.T4CT

[2022-10-13 09:58] #16902 closed

[2022-10-13 09:58] #16624 closed

[2022-10-13 09:59] #19884 closed

[2022-10-13 10:00] #18676 closed

[2022-10-13 10:00] #19133 closed

[2022-10-13 11:25] huang714669 commented on #21503
thank you! it's clear to me now, please kindly close this ticket!

[2022-10-13 11:29] linghengqian commented on #21503
- I'm not a Committer, you can close this issue directly, and some friends will regularly check the closed issue and mark it as issue. I'm really working on that new article, but I really can't get it out that fast, the ShardingSphere 5.2.1 milestone closes tomorrow, and I still have a few TODO lists on hand that are related or not.

[2022-10-13 11:35] huang714669 opened #21549 "sharding jdbc: how to import existing data to sharding tables"
I am using sharding-jdbc 5.1.2, for existing or historical data(these data are updated incrementally in real-time), does shardingsphere, is there any way or best practice to import these data to sharding tables:

I can figure out one way, to create a consumer to consume the  historical data periodically， but this solution is an intrusion into the business code, so this is not the best way for us

[2022-10-13 11:37] huang714669 commented on #21503
very appreciate！

[2022-10-13 11:37] #21503 closed

[2022-10-13 14:33] linghengqian commented on #21347
- I did intentionally bump the version of Vertx used by the master branch of ShardingSphere from 4.3.3 to 4.3.4 to be faster to accept issues like https://github.com/vert-x3/issues/issues/604. But `vertx-sql-client:4.3.4` seems to have refactorings that https://vertx.io/blog/eclipse-vert-x-4-3-4/ does not directly document, such as around a series of changes to `io.vertx.mysqlclient.impl.protocol.

[2022-10-13 15:18] RaigorJiang commented on #21521
Hi @Dangshuangyin
I verified with 5.2.0 and found no similar issues.
Can you provide the rule configuration in order to reproduce the problem?

<img width="803" alt="image" src="https://user-images.githubusercontent.com/5668787/195637391-728fad07-a4f2-4e70-8442-5b99cf7678af.png">

[2022-10-14 00:55] huang714669 commented on #21549
I have see the document about sharding-proxy data migration https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/migration/,

I have another question before I try this, does this migration solution support different table schemas between the source table and the target table?

[2022-10-14 00:59] #18675 closed

[2022-10-14 01:38] Dangshuangyin commented on #21521
![image](https://user-images.githubusercontent.com/89122494/195742139-102e9905-3012-4e41-b870-15950224729d.png)

CREATE TABLE `t_order` (
  `id` bigint(20) NOT NULL COMMENT '主键id',
  `order_id` int(20) NOT NULL DEFAULT 0 COMMENT '订单ID',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

![image](https://user-images.githubusercontent.com/89122494/195742229-cc0ac432-e318-4b83-8da1-1e7b16a

[2022-10-14 01:58] #21492 closed

[2022-10-14 02:48] #17872 closed

[2022-10-14 02:48] #16795 closed

[2022-10-14 02:49] #16993 closed

[2022-10-14 05:29] RaigorJiang commented on #15927
Closed due to no reply for a long time.

[2022-10-14 05:29] #15927 closed

[2022-10-14 05:31] RaigorJiang commented on #18973
OK, thank you @linghengqian , so I just close this issue now.

[2022-10-14 05:31] #18973 closed

[2022-10-14 05:32] RaigorJiang commented on #20019
Closed due to no reply for a long time.

[2022-10-14 05:32] #20019 closed

[2022-10-14 06:15] sun2430987 opened #21554 "Custom sharding algorithm range query not executed"
version:
sharding-jdbc 5.2.0

config:
![image](https://user-images.githubusercontent.com/26375092/195774878-d9f69310-2276-47b6-93fb-c7789d8e77eb.png)

LogTablesShardingAlgorithm:
![image](https://user-images.githubusercontent.com/26375092/195774988-e19bb2c4-5ac4-4ff3-a548-282b9ce130e2.png)

- init(Properties properties) ok
- doSharding(Collection<String> collection, PreciseShardingValue<Date> prec

[2022-10-14 07:51] HeiKeJi6 opened #21556 "Pagination failure---urgent"
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>
        </dependency>
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-namespace</artifactId>
            <version>4.1.1</version>
        </depende

[2022-10-14 08:08] chengyonghu opened #21558 "shardingsphere5.1.2+seata1.5.1"
**The error is displayed when data is inserted**
Table primary keys are generated automatically and I did not specify them

Here is the SQL I executed and the error message
insert into icloud_team_picture (         folder_id,         user_id,         team_id,         organize_id,         picture_name,         picture_path,         picture_size,         picture_time,         picture_status

[2022-10-14 08:33] wzhj2326 opened #21561 "Start data migration occur NPE"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Data Migration
Remise:
  logical database in proxy contains capital letters e.g(testDB)
Action:
     Start data migration e.g( MIGRATE TABL

[2022-10-14 08:49] mzzsfy opened #21562 "NPE on SELECT INFORMATION_SCHEMA.PARAMETERS"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-14 09:34] FlyingZC commented on #8551
@Terrdi @jingshanglu SS supports correct parsing of negative number syntax now, but should not interfere with the execution result of inline expressions, which is completely determined by the inline expressions written by the user. You can use the abs function like `(-111111111111111111111111 % 16).abs()`, which is natively supported by inline expressions.

[2022-10-14 11:18] linking12 opened #21566 "consider the compatibility of the API"
Please consider the compatibility of the API. From 5.1.1 to 5.2.0, the entire API has undergone earth-shaking changes. Don't you consider the complexity of application upgrading?

As a top-level project of apache, there is still a company supporting it, and such a mistake should not be made

[2022-10-14 12:17] terrymanu opened #21569 "Add test case for ShardingAutoTableAlgorithmUtil"

[2022-10-14 13:36] linghengqian commented on #21347
- I found and resolved the conflict around Jetcd and vertx in the new PR, refer to https://github.com/apache/shardingsphere/pull/21571 .

[2022-10-14 15:55] captainbkarthick commented on #21175
Hi I would like to work on this. Could you please assign this to me?

[2022-10-14 17:29] captainbkarthick opened #21573 "PluginConfiguration: validate() - StringTemplate argument would return erroneous value."
https://github.com/apache/shardingsphere/blob/00f5553fa3b5ba2b772e9fecb58fe72f6ee4119e/agent/api/src/main/java/org/apache/shardingsphere/agent/config/PluginConfiguration.java#L49

The error message template is passed as `"Port %d of %s must be a positive number"`.
But upon tracing the details, I noticed that the arguments passed are converted to string and the values are not set as per the desired

[2022-10-14 17:38] captainbkarthick commented on #21175
Please note that I have raised an Issue in the file. [https://github.com/apache/shardingsphere/issues/21573](https://github.com/apache/shardingsphere/issues/21573)

I wish to fix the Issue and Tests for the file.

[2022-10-14 17:51] captainbkarthick commented on #21569
I would like to work on this issue.

[2022-10-14 17:56] captainbkarthick commented on #21547
Could you please give more information on which method the error was thrown?

[2022-10-15 00:28] strongduanmu commented on #21547
Can you try the latest version? I think this bug has been fixed.

[2022-10-15 00:29] strongduanmu commented on #21569
Welcome @captainbkarthick, I will assign this issue to you.

[2022-10-15 00:37] strongduanmu commented on #21566
Hi @linking12, thank you for your feedback. I'm so sorry to say that with the rapid development of ShardingSphere, sometimes we have to make adjustments to the API. Currently, the version of ShardingSphere follows the A.B.C format, when the API remains compatible, we will upgrade the C version, such as: 5.1.0, 5.1.1 and 5.1.2. When API incompatibilities arise, we upgrade B versions, such as 5.1.0

[2022-10-15 02:18] TeslaCN opened #21574 "Refactor PreparedStatement in ShardingSphere-Proxy"
## Refactor

https://github.com/apache/shardingsphere/blob/00f5553fa3b5ba2b772e9fecb58fe72f6ee4119e/proxy/backend/src/main/java/org/apache/shardingsphere/proxy/backend/session/PreparedStatement.java#L28

The current `PreparedStatement` naming coincides with the JDBC `PreparedStatement`. Consider adjusting the naming and improving the immutability of the implementation class.

- [x] Rename `Prepare

[2022-10-15 04:10] linghengqian commented on #21347
- I don't feel the need to switch to Junit Jupiter right away, so I still use Junit Vintage for the relevant PRs.
- ![image](https://user-images.githubusercontent.com/20187731/195968077-0a168cfb-4983-4f56-90df-9770d50f0ef7.png)

[2022-10-15 07:07] linghengqian commented on #21347
- The new properties of `HikarciCP` are blocking my PR and I feel like I need to handle it better in a separate PR. Because it also involves how to match to HikariCP `5.0.1`'s GraalVM reachability metadata.
- ![image](https://user-images.githubusercontent.com/20187731/195974067-1a13362b-f037-4563-ae41-ddc84a39521c.png)

[2022-10-15 07:22] linghengqian commented on #21347
- I will be adding a release profile to `distribution/proxy-native` to help with its release in ShardingSphere `5.2.2` and later.

[2022-10-15 07:57] CatInRl opened #21583 "select exists return multi results"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-15 08:03] CatInRl opened #21584 "substr can not be used in insert"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-15 16:00] #21434 closed

[2022-10-15 16:03] #21190 closed

[2022-10-15 16:07] strongduanmu opened #21589 "NPE occurs when execute select * from a left join (select * from b) as c statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/155b86e7ff8d7b247e0261c2b9135059bb12ccca

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `select * from a left join (select * from b) as c` statement successfully.

### Actual behavior

![image](https://u

[2022-10-15 16:28] strongduanmu opened #21594 "Wrong SQL rewrite result occurs when part of logical table name of the binding table is consistent with the actual table name, and some are inconsistent"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/155b86e7ff8d7b247e0261c2b9135059bb12ccca

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

SQL rewrite successfully.

[code]

### Actual behavior

<img width="960" alt="image" src="https://user-images.githubusercon

[2022-10-15 16:30] #21589 closed

[2022-10-15 18:13] linghengqian commented on #21347
- I saw some additional issues when I checked the GHA logs, maybe something needs to be done for https://github.com/netty/netty/issues/11369 which has not been closed.

[2022-10-15 18:22] KnothHe commented on #21584
The reason i can find is sql parse engine's parse result SqlStatement. `org.apache.shardingsphere.driver.jdbc.core.statement.ShardingSpherePreparedStatement#sqlStatement`

`sqlStatement = sqlParserEngine.parse(sql, true);`

More precisely is `SQLStatement`'s `InsertStatement.values`'s `InsertValuesSegment.values`'s `FunctionSegment`'s parameters.

<img width="1576" alt="image" src="https://user-im

[2022-10-16 10:20] zhouyouwei-0127 opened #21596 "There is a NullPointerException when I execute select * from schema.table in postgresql"
### Which version of ShardingSphere did you use?
5.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
![image](https://user-images.githubusercontent.com/64695476/196029760-e74cf874-fca0-484f-8baf-eef1a5dc4638.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/64695476/196029801-e1f3ae07-dcb4-4eb2-a95a

[2022-10-16 17:18] linghengqian commented on #21347
- https://github.com/apache/shardingsphere/issues/20457 and https://github.com/apache/shardingsphere/pull/21599 finally allow ShardingSphere Proxy to be started without a separate `server.yaml`, which will be extremely and greatly simplifies the use of GraalVM Native Image.  But it still seems that the mode configuration cannot be added through DistSQL? 🤔

[2022-10-17 00:02] #20457 closed

[2022-10-17 02:53] 1210958801 commented on #21422
Thanks shardingsphere team
I'm found this bug,why is happened!
when i see this code
![bLebj72VPY](https://user-images.githubusercontent.com/34763201/196078586-2f88804c-5470-40a2-b174-8cbb086d14fa.jpg)
I wonder what caused the method area cache to fail.
Because I used this.
[code]

[2022-10-17 02:53] #21422 closed

[2022-10-17 03:29] mzzsfy commented on #21562
By adding an intermediate configuration, this problem has been resolved

config-mate.yaml

[code]

If I have a lot of data source, it will be very stupid,could you tell me is there a better solution

[2022-10-17 03:57] complone commented on #17020
It sounds like this involves dialect conversion and calcite translator adaptation when querying with tables

[2022-10-17 04:34] captainbkarthick commented on #21573
Could you please check and assign this issue to me?

[2022-10-17 04:34] captainbkarthick commented on #21175
@terrymanu

[2022-10-17 04:34] captainbkarthick commented on #21573
@terrymanu

[2022-10-17 05:07] captainbkarthick commented on #21569
@terrymanu / @strongduanmu
Raised PR for this change.
Requesting to check and Merge.

[2022-10-17 06:32] RaigorJiang commented on #21521
@Dangshuangyin
Sorry, I tested again with your configuration and everything works fine.
Moreover, such a configuration will not use the `federation` engine.
Do you have other configurations for your proxy?

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/5668787/196104867-04982df8-fe49-424c-9ec8-25d6c3dc6916.png">

[2022-10-17 06:44] #21514 closed

[2022-10-17 06:46] taojintianxia commented on #21447
thi is not the way we expected.close it

[2022-10-17 06:46] #21447 closed

[2022-10-17 06:50] kuchikij opened #21604 "org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.BinaryOperationExpression cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.simple.ParameterMarkerExpressionSegment"
shardingsphere-jdbc-core-spring-boot-starter version is 5.2.0
I used paging condition: rownum <= ? * ? in Oracle database.   The following problems are encountered.

java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.BinaryOperationExpression cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.simple.ParameterMarkerExpressi

[2022-10-17 08:42] csz5667757 opened #21608 "是否支持除oracle、mysql以外，比如高斯数据库？驱动是否可插拔？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-10-17 08:45] TeslaCN opened #21609 "There were some error logs in unit tests"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/28d18bb63b47eff215c9a389c8c252ca09ab632a

### Expected behavior

Tests passed without error logs.
If the error was expected in the test case, consider setting a proper log level for test class.

### Actual behavior

Test classes could be found in stack traces.

[code]

[2022-10-17 09:23] TeslaCN commented on #21608
For English only, other languages will not accept.

[2022-10-17 09:23] #21608 closed

[2022-10-17 09:29] kuchikij opened #21610 "org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.BinaryOperationExpression cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.simple.ParameterMarkerExpressionSegment"
## Bug Report

### Which version of ShardingSphere did you use?
5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
SQL query successfully in Oracle database.

### Actual behavior
SQL query error in Oracle database. The following problems are encountered.

**java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.

[2022-10-17 09:30] #21604 closed

[2022-10-17 09:36] RaigorJiang opened #21611 "Proposal to remove `AUTHORITY` configuration from global rules in `server.yaml`"
Hi community,

I would like to start a discussion to remove the `!AUTHORITY` rule in server.yaml.

In fact, in Proxy, we now have two ways to configure authority rule:

1. Inside global rules
[code]

2. Outside global rules
[code]

After investigation, we found that the second configuration is a bit more powerful:
1. It supports optional `auth` configuration, in the future it is possible to specif

[2022-10-17 09:39] csz5667757 opened #21612 "can support guass db now？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-10-17 10:03] Glowdable opened #21614 "Can Keep core/main API stable in a big version like 5.x.x？"
## Question

I upgraded our company's shardingjdbc twice.One is from 5.1.0 to 5.1.1,  the other is from 5.1.1 to 5.2.0.I am confused that many core/main APIs changed.For example,  DialectSchemaMetaDataLoader class,  YamlEngine package path, StandardShardingAlgorithm interface, ShardingSphereAlgorithmFactory.createAlgorithm and
sharding config like StaticStrategy.
Can Keep core/main API stable in a

[2022-10-17 10:22] linghengqian commented on #21612
- The master branch doesn't have its unit tests, but if it's just executing SQL92-related functions through the JDBC driver, this shouldn't be a problem.

[2022-10-17 11:04] wallacezhou opened #21615 "authority type DATABASE_PERMITTED not apply correctly for some account when there are multi accounts"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-17 11:10] tianhao960 opened #21616 "tools to generate railroad diagrams for sql statment"
## Feature Request

### Is your feature request related to a problem?
no

### Describe the feature you would like.
 railroad diagrams could show the possible options for a SQL statement as below.
Compared to text representation, the visual diagrams give users an intuitive way to explore the grammar and discover features.

and we can develop a tool to generate the diagram and put it to the docs, th

[2022-10-17 11:12] strongduanmu commented on #21616
Looks cool, let's start it.

[2022-10-17 13:32] vinayakghatul commented on #21469
Hi team,Can I pick this?

[2022-10-17 13:33] vinayakghatul commented on #21458
Hi team,Can I pick this?

[2022-10-17 14:16] RaigorJiang commented on #21469
Hi @vinayakghatul ,
Sure, welcome to Apache ShardingSphere, I just assign it to you.

[2022-10-17 15:01] RaigorJiang commented on #21615
hI @wallacezhou
Thanks for the feedback, did your client tool specify database when connecting?

[2022-10-18 00:29] wallacezhou commented on #21615
yes, I use mysql 8.0, the client tools work fine when Sharding Proxy is version

[2022-10-18 00:29] wallacezhou commented on #21615
yes, I use mysql 8.0, the client tools work fine when Sharding Proxy is version 5.1

[2022-10-18 01:50] wallacezhou commented on #21615
@RaigorJiang

checked the code in master branch with revision number 84cf85fa0f7e3c8097c17f5a26a0024cba40f39c
org.apache.shardingsphere.authority.provider.database.builder.DatabasePrivilegeBuilder

the method buildPrivileges() build the privileges,  it calls method getUserDatabases()
the logic in bold line:
 when the database host is unlimited value: %, then the database is add to the result

if t

[2022-10-18 01:58] sandynz commented on #21561
Hi @wzhj2326 , thanks for your feedback. We'll fix it, you could try `testdb` for now.

[2022-10-18 02:03] sandynz commented on #21549
Hi @huang714669 , the target table could have different table name as source table, but the table structure should be the same.
If you want to ADD/DROP/MODIFY table columns, you could try to do it before migration on source table for now.
And could you describe how you plan to change your table schema?

[2022-10-18 02:08] huang714669 commented on #21549
got it ! We have to figure out the data compatible way out of shardingsphere

[2022-10-18 02:08] #21549 closed

[2022-10-18 02:38] strongduanmu commented on #21610
Hi @kuchikij, thank you for your feedback. This bug may be related to PR #20257.

[2022-10-18 03:41] hujiahuan opened #21620 "Failed to start proxy"
OS:CentOS Linux release 7.5.1804 (Core)
proxy version:shardingsphere-5.1.2
zookeeper version:zookeeper-3.6.3 （three nodes,cluster mode)

Hi
when config mutli zookeeper server(cluster mode),Failed to start proxy service port(3307).

server.yaml:
[code]

stdout:
[code]

## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your

[2022-10-18 06:11] carlors opened #21622 "Can't exeute DDL statement with python module that interfaces to a PostgreSQL database"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
DDL statement was executed successfully with python module that interfaces to a PostgreSQL database.

### Actual behavior
Got an error saying:
OperationalError: ERROR:  org.apache.shardingsphere.proxy.backend.

[2022-10-18 07:07] RaigorJiang commented on #21615
![image](https://user-images.githubusercontent.com/5668787/196360015-24ce4b97-70a6-4b5d-a6d1-a2b84ff95c6d.png)

Hi @wallacezhou , can you provide the log `Read from client`?

[2022-10-18 07:11] taojintianxia opened #21623 "Add nightly image build for SharingSphere"

[2022-10-18 07:33] #21623 closed

[2022-10-18 08:38] wzhj2326 opened #21626 "when cluster has two proxy nodes drop resource has problem"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
start two proxy nodes (e.g proxy-01 、proxy-02) in cluster.
in proxy-01:
   add resource ds_0
   drop resource ds_0 ignore single tables;
but

[2022-10-18 08:45] wallacezhou commented on #21615
@RaigorJiang

connect use mysql 8 client workbench success with proxy account testacc_a:
[success_testacc_a_workbench_mysql8.log](https://github.com/apache/shardingsphere/files/9808471/success_testacc_a_workbench_mysql8.log)

connect use mysql 8 client workbench fail with proxy account testacc_b:
[fail_testacc_b_workbench_mysql8.txt](https://github.com/apache/shardingsphere/files/9808483/fail_test

[2022-10-18 08:46] yoloz opened #21627 "sharding-proxy insert blob size is not correct"
## Bug Report

### Which version of ShardingSphere did you use?

1. apache-shardingsphere-5.0.0-shardingsphere-proxy-bin
2. apache-shardingsphere-5.2.0-shardingsphere-proxy-bin

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Behavior

![image](https://user-images.githubusercontent.com/2366973/196378119-f8dc70ce-5c06-42c0-844e-0bedb072c6fb.png

[2022-10-18 08:51] taojintianxia opened #21629 "Add : add manually create image by a specific commit id"

[2022-10-18 10:14] wallacezhou commented on #21615
test with sharding proxy v5.1.1 with the same proxy accountsand databases,
all connection using mysql workbench and navicat are  success
check the logs, testacc_b also access testdb_a, but no unkonw database error

 proxy v5.1.1, mysql 8 client workbench success with proxy account testacc_a:
[v5.1.1_testacc_a_workbench.log](https://github.com/apache/shardingsphere/files/9809246/v5.1.1_testacc_a_wo

[2022-10-18 10:19] captainbkarthick commented on #21569
@terrymanu ,
I have fixed the checkstyle errors.
Requesting to check.

[2022-10-18 10:31] wsm12138 commented on #21237
Maybe  it is related about variables of openGauss like `synchronous_commit` & `synchronous_standby_names` ?

Further validation is needed.

[2022-10-18 10:33] wsm12138 commented on #21237
@peilinqian  can you provide your value of variables of openGauss like synchronous_commit & synchronous_standby_names ?

[2022-10-18 12:16] #20355 closed

[2022-10-18 12:35] FlyingZC commented on #21099
Hi,@I-Love-China By the pr https://github.com/apache/shardingsphere/pull/21207. It guarantees that one transaction on a dataSource use the same connection, but may cause more memory consumption, because due to the limit of the number of connections, it may cause that streaming loading cannot be used, and memory loading is used.Do you have any better suggestion for modification.

[2022-10-18 13:41] captainbkarthick commented on #21573
Hi @terrymanu ,
Can you check this and confirm?

[2022-10-18 14:41] zhaojinchao95 commented on #21626
@wzhj2326  Which your `ShardingSphere-Proxy` version?

[2022-10-19 02:00] wzhj2326 commented on #21626
5.2.1

[2022-10-19 02:02] wzhj2326 commented on #21626
5.2.1

[2022-10-19 02:05] hanlaotie666 opened #21638 "org.apache.shardingsphere.sql.parser.sql.segment.dml.item.ExpressionProjectionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment"
### Which version of ShardingSphere did you use?
4.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
sql: select name from I_FIXEDNETWORKLTP where lower(name) in ('xx')
SQL query successfully

### Actual behavior
query error
java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.item.ExpressionProje

[2022-10-19 02:26] TeslaCN commented on #21638
4.1 is no longer maintained. Please upgrade to latest version.

[2022-10-19 02:28] TeslaCN commented on #21627
Please try adding `useServerPrepStmts=true` to JDBC URL. Such as
[code]

[2022-10-19 02:30] TeslaCN commented on #21622
Could you try the latest version?

[2022-10-19 02:30] RaigorJiang opened #21639 "Introduce `flatten-maven-plugin` for ShardingSphere"
Hi community,

Now the subproject `examples` has used the `flatten-maven-plugin` to reduce duplicate version declarations (since https://github.com/apache/shardingsphere/issues/13512).
It is valuable, otherwise we still have to change a lot of version numbers during release (like this https://github.com/apache/shardingsphere/pull/21625)

Therefore, I am going to use `${revision}` to define the ver

[2022-10-19 02:35] TeslaCN commented on #21639
If we did this, should we changing usage of `maven-release-plugin`?

[2022-10-19 02:37] TeslaCN commented on #21639
https://github.com/apache/shardingsphere/issues/15531

[2022-10-19 02:41] lanrenbulan commented on #21437
@strongduanmu I tested proxy5.2.1, but it still doesn't work. It queries all.

I tested proxy5.2.1, but it still doesn't work. It uses the first source.

[code]

[INFO ] 2022-10-19 10:40:19.102 [Connection-3-ThreadExecutor] ShardingSphere-SQL - Actual SQL: tenant_db_1 ::: /* SHARDINGSPHERE_HINT: SHARDING_DATABASE_VALUE=2 */select * FROM user;
[INFO ] 2022-10-19 10:40:19.102 [Connection-3-ThreadExe

[2022-10-19 02:47] RaigorJiang commented on #21639
Hi @TeslaCN
Thanks for your reminder, `maven-release-plugin` can help reduce the trouble in the release process, but in daily development, if I add a new module, I still have to add a displayed version number, which still has the risk of error.

I will investigate the possibility of using `flatten-maven-plugin` and `maven-release-plugin` together.

[2022-10-19 02:50] TeslaCN commented on #21620
Are there any error logs about failure? If the Proxy stuck, please providing some information such as `jstack`.

[2022-10-19 02:52] taojintianxia opened #21640 "Refactor : increase the time limitation for these actions usually timeout"
1. since nightly CI usually failed by time out, increate the time limitation
2. remove the concurrency limitation in IT, to make the single IT complete faster

[2022-10-19 03:05] RaigorJiang commented on #21615
@wallacezhou Thanks you, after checking the log, I think it is a bug for now.

The reason is that `DALStatement` uses `UnicastDatabaseBackendHandler`, which is used to get a database at random. (containing unauthorized databases).
Are you interested in trying to fix this?

[2022-10-19 03:43] yoloz commented on #21627
thanks a lot

* **apache-shardingsphere-5.0.0-shardingsphere-proxy**
* client error :
[code]
* proxy-log:
[code]

* **apache-shardingsphere-5.2.0-shardingsphere-proxy**
success
😊

[2022-10-19 03:55] RaigorJiang opened #21643 "Make the license header consistent."
Hi community,

I found that part of the license header format in the project is inconsistent (but the content is consistent)

E.g:
- `.licenserc.yaml`
[code]

But the license header of **MORE FILES** is like this:
- `.codecov.yml`
[code]

Other files with differences are
- mvnw
- mvnw.cmd
- .gitattributes
- .github/workflows/nightly-graalvm-image.yml
- .mvn/wrapper/maven-wrapper.properties
- src/r

[2022-10-19 04:04] RaigorJiang commented on #21614
Hi @Glowdable ,
Thank you for your feedback. I'm sorry to say that with the rapid development of ShardingSphere, sometimes we have to make adjustments to the API.
Currently, the version of ShardingSphere follows the `A.B.C` format.
- When the API remains compatible, we will upgrade the C version, such as: 5.1.0, 5.1.1 and 5.1.2.
- When API incompatibilities arise, we upgrade B versions, such as 5.

[2022-10-19 04:39] xia10802481 opened #21645 "ComplexKeysShardingAlgorithm not support '>=' '<=' '>' '<'"
### Which version of ShardingSphere did you use?
4.0.0-RC2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
when complex shard column contains '>=' in sql,ComplexKeysShardingAlgorithm impl can accept this column in doSharding method ,complexKeysShardingValue params
### Actual behavior
can not accept this column
### Reason analyze

[2022-10-19 05:14] captainbkarthick commented on #21175
@terrymanu / @strongduanmu ,
Requesting to check this

[2022-10-19 05:15] captainbkarthick commented on #21573
@terrymanu/ @strongduanmu
Requesting to check this.

[2022-10-19 05:26] AaronW-BE opened #21646 "Version 5.2.1 have problem for init"
The exception logs following:
[code]
In class `ShardingSphereYamlConstructor` its do have a not exist method `setCodePointLimit` in line 44

[2022-10-19 06:10] lanrenbulan commented on #20736
Hi, In proxy5.2.1, I tested SQL hint, but it didn't work. #21437

[2022-10-19 06:11] #16022 closed

[2022-10-19 06:14] peilinqian commented on #21237
execute this SQL in standby database;
select name, setting from pg_settings order by 1,2;

[2022-10-19 06:50] hujiahuan commented on #21620
CONFIGURATION FILE and log file are as above,could you pls tell me what information i need to provide for you.
Duplicate of #

[2022-10-19 08:21] linghengqian commented on #21646
- This issue is a duplicate of https://github.com/apache/shardingsphere/issues/21476 and should be marked as invalid and closed.

- If you are using `SpringBoot OSS <3.0.0-M5`, you need to specify the SnakeYAML version manually.

[2022-10-19 08:40] tq02ksu opened #21649 "mysql batch insert can not work on shardingsphere-jdbc-core 5.2.0"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-19 09:58] captainbkarthick commented on #21569
Hi @terrymanu / @strongduanmu ,
Requesting to check this PR.

Thanks

[2022-10-19 10:13] FlyingZC commented on #21237
When configuring an XA transaction, ss executes the XA statement on each openGauss node within the transaction. But currently openGauss does not support executing XA statements on the read database, which should be a problem that openGauss needs to solve, I think.

[2022-10-19 12:29] #21640 closed

[2022-10-19 15:42] FlyingZC commented on #20789
Now tansactionHolder(or TransactionConnectionContext) is at the thread level. When the inner transaction commits, the inTransaction flag will be cleared, which will cause the inTransaction read by the outer transaction to be false, resulting in routing to the slave database.

[2022-10-19 16:29] MrXionGe opened #21650 "Three data sources were configured, but four data sources were created.(shardingsphere-jdbc:5.2.0)"
## Bug Report

### Which version of ShardingSphere did you use?
5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc-core

### Code

##### pom.xml（dependencies）

[code]

##### JavaConfig

[code]

### Description
I created three data sources. A write data source(master_ds) and two read data sources(replica_ds_1&replica_ds_2).

### Expected behavior

[2022-10-19 16:35] MrXionGe commented on #21646
@AaronW-BE
The component 'snakeyaml' needs to be upgraded.
Springboot default 'snakeyaml version = 1.30'
[code]

[2022-10-19 17:58] linghengqian commented on #21503
- FYI, this article is now published at https://github.com/apache/shardingsphere/discussions/12258#discussioncomment-3917927. Hope my essay will help you.

[2022-10-20 00:32] strongduanmu commented on #21645
The version 4.x is too old, please try the latest 5.2.1 version.

[2022-10-20 00:35] strongduanmu commented on #21437
Hi @dongzl, can you help check this issue?

[2022-10-20 00:59] AaronW-BE commented on #21646
Got it, Thanks

[2022-10-20 01:00] AaronW-BE commented on #21646
@MrXionGe Got it, Thanks a lot

[2022-10-20 02:05] wsm12138 opened #21651 "Encrypt 洗数状态优化"
### Which version of ShardingSphere did you use?
b0741a7733a89f10f62c6844406c36eb029ad1f5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior
洗数完成的最终状态均为 finished
### Actual behavior
![WmbqsWp57n](https://user-images.githubusercontent.com/86462784/196838972-002816d0-3001-4cd9-81bb-7015026a875d.jpg)

[2022-10-20 02:06] linghengqian commented on #21650
- FYI, if you are using the ShardingSphere JDBC Driver in ShardingSphere 5.1.2, this Log is also available. Is there anything you think you need to do in the master branch?

[2022-10-20 02:11] carlors commented on #21622
I think I find the reason, I set database connection session to autocommit and the problem is fixed, python code as follows:
[code]
It is probably shardingsphere-proxy need to control xa transaction, so it does not support manul transaction.

[2022-10-20 02:13] MrXionGe commented on #21650
There have been some changes to the JavaConfigAPI since 5.1.2 to 5.2.0.
The steps for creating the data source have not changed.
That is, three data sources are configured and four data sources are created. This was unexpected.

[2022-10-20 03:27] xinglijun1973 commented on #21610
no related to PR https://github.com/apache/shardingsphere/pull/20257.
it assumes `rownum <=?`, but it is  `rownum <= :page_no * :page_size)`, in fact an expression, not a parameter.

[2022-10-20 03:56] RaigorJiang commented on #21651
For English only.

[2022-10-20 03:56] #21651 closed

[2022-10-20 06:15] wzhj2326 commented on #21626
@zhaojinchao95 5.2.1

[2022-10-20 06:30] ICannerxy opened #21653 "Jdbc batch delete is not supported"
## Bug Report

### Which version of ShardingSphere did you use?

5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Support JDBC Statement addBatch() and executeBatch();

### Actual behavior

When using jdbc to batch delete data, the expected and actual results are inconsistent.

### Reason analyze (If you can)

Maybe is

[2022-10-20 07:07] dongzl commented on #21437
Hi @strongduanmu   I will check it.

[2022-10-20 07:07] dongzl commented on #21437
Hi @strongduanmu   I will check it.

[2022-10-20 08:45] TeslaCN commented on #21620
I cannot find any errors from your log. You need to show us how the proxy failed to startup.

[2022-10-20 08:45] DearWhite opened #21656 "Can provide golang version of sharding-jdbc ？"
## Feature Request
### Is your feature request related to a problem?
no
### Describe the feature you would like.
Can provide golang version of sharding-jdbc ？

[2022-10-20 08:46] TeslaCN commented on #21653
Please try removing the `allowMultiQueries=true`.

[2022-10-20 08:49] TeslaCN commented on #21656
You may use the ShardingSphere-Proxy. Proxy could be used like a database.

[2022-10-20 08:55] linghengqian commented on #21656
- Do you mean to bind the Java API of ShardingSphere JDBC to the C API through `Project Panama`, and then call the C API to Golang? Could it be too early? But if you are already using JDK 19, I think you can give it a try.
- You just need to generate bindings with jextract first, load the library in the second, and call in the third. Ideally there isn't much C Language that needs to be written.

[2022-10-20 08:56] ICannerxy commented on #21653
After deleting the parameter `allowMultiQueries=true`  , an error occurred

![image](https://user-images.githubusercontent.com/40480377/196903693-c1d5d95d-d23d-49ce-b573-5ff8ac5836ca.png)

[2022-10-20 09:01] DearWhite commented on #21656
I want to use it（go lib of ShardingSphere JDBC ） directly in the go service

[2022-10-20 09:10] linghengqian commented on #21656
- This is completely impossible if the GoLang community has no intention of dealing with it. Not all dependencies can find a replacement Golang lib, the typical ones are Groovy Shell and Calcite, how can we imagine that something like Groovy Shell exists in Golang Lib? Golang has never had such a powerful SQL parser as Calcite, LOL. 🤣

[2022-10-20 09:18] DearWhite commented on #21656
https://shardingsphere.apache.org/document/5.2.1/en/overview/
The overview document says  ShardingSphere-Proxy：" Relatively High loss", can you explain it?

[2022-10-20 09:19] DearWhite commented on #21656
LOL. 🤣

[2022-10-20 09:41] FlyingZC commented on #21558
Can you provide your shardingsphere and seata configuration.

[2022-10-20 09:45] FlyingZC commented on #21475
Maybe it has been fixed by #21564, You can try it with version 5.2.1.

[2022-10-20 09:50] #21569 closed

[2022-10-20 09:53] FlyingZC commented on #21154
`nested exception is liquibase.exception.LockException: liquibase.exception.DatabaseException: Please do not modify the DATABASECHANGELOGLOCK table with an XA transaction`.
According to this error report, liquibase does not support the operation of DATABASECHANGELOGLOCK table within the xa transaction, I think this is not a issue of shardingsphere.Maybe you can try other transaction type.

[2022-10-20 10:26] wallacezhou commented on #21615
after check the code , class ProxyBackendHandlerFactory method newInstance() will be used to invoke DatabaseBackendHandlerFactory
in ProxyBackendHandlerFactory's newInstance() method, it will call method check() in SQLCheckEngine
the check() call invoke check() mehtod in AuthorityChecker
when the param database name have value but the user has permission for the database,
check will be failed, at

[2022-10-20 10:27] TeslaCN commented on #21653
We have handled MySQL multi statement in https://github.com/apache/shardingsphere/pull/16268.

[2022-10-20 11:35] gxxiong commented on #20435
Design Reference assistedQueryColumn, just rewrite LIKE plainColumn into LIKE fuzzyColumn.I will split the pr into several parts to submit.

[2022-10-20 11:37] strongduanmu commented on #20435
@gxxiong That's great, I have assign this issue to you.

[2022-10-20 13:07] RaigorJiang opened #21659 "Refactor and optimize DistSQL API and documentation"
Hi community,

Since 5.0.0, DistSQL has brought us many new experiences and got a lot of attention from users.
As more and more users try, the community has also received a lot of feedback, hoping that DistSQL will continue to be improved, such as
1. Some concepts are unclear:
   - Does `INSTANCE` refer to compute node or storage node?
   - Will `DROP RESOURCE` drop my physical database?
   - Why

[2022-10-20 13:24] showlist opened #21660 "version 5.1.0 shardingsphere-jdbc-core-spring-boot-starter"
类 EncryptRule的第107行，前面的判断config.getEncryptors().isEmpty() && config.getTables().isEmpty())作用是什么？
正常的配置好后，这个代码执行肯定是false。是否写反？

[2022-10-20 13:27] showlist opened #21661 "version 5.1.0 shardingsphere-jdbc-core-spring-boot-starter"
org.apache.shardingsphere.infra.exception.ShardingSphereException: java.util.concurrent.ExecutionException: java.lang.NullPointerException
	at org.apache.shardingsphere.infra.metadata.schema.builder.loader.TableMetaDataLoaderEngine.loadByDialect(TableMetaDataLoaderEngine.java:98) ~[shardingsphere-infra-common-5.1.0.jar:5.1.0]
	at org.apache.shardingsphere.infra.metadata.schema.builder.loader.Table

[2022-10-20 14:22] FlyingZC commented on #20789
This bug has been fixed by #20814.Because the ConnectionContext is at the connection level, when the inner transaction commits, it will not affect the value of `inTransaction` in the outer transaction.But only local transactions support nesting transaction, xa transactions do not support nesting transaction, this is because xa transaction managers such as atomikos and narayana do not support this

[2022-10-20 16:20] zhaojinchao95 commented on #21650
@MrXionGe ShardingSphere default mode are `Standalone` mode , this is created inside `ShardingSphere`. You can refer to
`JDBCRepository.calss`

[2022-10-20 16:25] MrXionGe commented on #21650
@zhaojinchao95
Do I need to change the JavaConfig?
I upgraded from 5.1.2 to 5.2.0. JavaConfig is included in the above description. Is there a bug in the code?

[2022-10-20 16:26] zhaojinchao95 commented on #21626
Thank you, i will check it.

[2022-10-20 16:26] MrXionGe commented on #21650
@zhaojinchao95
Or, the new version adds new features. So, there are three data sources configured and four data sources initialized.

[2022-10-20 16:27] zhaojinchao95 commented on #21650
Yes, you are right.

[2022-10-20 16:59] Jiabing-cyber opened #21662 "Shardingsphere-jdbc 5.2.0 + mybatis-plus 3.5.2+seata 1.5.2,mysql id AUTO_INCREMENT"
# 1. execption:

[code]

#  2. Explain

[code]

[2022-10-21 00:30] #21646 closed

[2022-10-21 00:41] trydofor commented on #21476
`<snakeyaml.version>1.33</snakeyaml.version>`
override the parent pom.xml's property

[2022-10-21 00:51] strongduanmu commented on #21660
For English only, other language will not accept.

[2022-10-21 00:51] #21660 closed

[2022-10-21 01:05] FlyingZC commented on #20614
This bug has been fixed by https://github.com/apache/shardingsphere/pull/20814 .See the reply below this issue #20789.

[2022-10-21 02:33] showlist opened #21663 "miss java file ShardingSphereDataSourceFactory.java"
versoin 5.2.1 shardingsphere-jdbc-core-spring-boot-starter

will miss ShardingSphereDataSourceFactory

[2022-10-21 03:03] #20356 closed

[2022-10-21 03:18] RaigorJiang commented on #21088
Closed for #21659.

[2022-10-21 03:18] #21088 closed

[2022-10-21 03:22] chengyonghu commented on #21558
**This is my yml configuration**
`spring:`
  `shardingsphere:`
    `datasource:`
      `ds-0:`
        `driver-class-name: com.mysql.cj.jdbc.Driver`
        `type: com.alibaba.druid.pool.DruidDataSource`
        `driverClassName: com.mysql.jdbc.Driver`
        `url: jdbc:mysql://192.168.0.12:3307/xx?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=

[2022-10-21 03:25] chengyonghu commented on #21558
`spring:`
  `shardingsphere:`
    `datasource:`
      `ds-0:`
        `driver-class-name: com.mysql.cj.jdbc.Driver`
        `type: com.alibaba.druid.pool.DruidDataSource`
        `driverClassName: com.mysql.jdbc.Driver`
        `url: jdbc:mysql://192.168.0.12:3307/xx?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&autoReconnect=true&useSSL=fa

[2022-10-21 03:27] chengyonghu commented on #21558
## `shardingsphere configuration`

[code]

## seata configuration

[code]
@FlyingZC

[2022-10-21 03:56] RaigorJiang opened #21666 "[DistSQL] Change keyword `INSTANCE` to `COMPUTE NODE`"
Hi community,

This issue is for #21659.

### Aim
Change keyword `INSTANCE` to `COMPUTE NODE`, e.g.
[code]

[2022-10-21 03:59] jiangML commented on #21666
I'll try to do it

[2022-10-21 04:30] zzzwjZhang opened #21668 "encrypt insert field cannot be null!"
<img width="935" alt="image" src="https://user-images.githubusercontent.com/46548177/197112144-b34e9ea6-3f09-469d-bcd8-df85ede22c82.png">
in this method ,field value cannot be null or throw NullPointException,but null value could be handle in EncryptAlgorithm!

[2022-10-21 04:31] RaigorJiang opened #21669 "[DistSQL] Change `VARIABLE` related syntax"
Hi community,

This issue is for #21659.

### Aim
Change keyword, e.g.
[code]

[2022-10-21 04:34] Pace2Car commented on #21669
I will work on it.

[2022-10-21 04:35] RaigorJiang commented on #21669
Thank you @Pace2Car

[2022-10-21 05:32] TeslaCN commented on #21668
Hi @zzzwjZhang
Are you interested in investigating this issue?

[2022-10-21 05:32] RaigorJiang opened #21671 "[DistSQL] Change keyword `RESOURCE` to `STORAGE UNIT`"
Hi community,

This issue is for #21659.

### Background
Because the conceptual scope of `RESOURCE` is relatively large, here it actually just represents the unit used to store data, so the naming is adjusted.

At the same time, `ADD RESOURCE` does not `ADD` a new db, but register the physical db in the logical database for use, so `ADD` is also adjusted to `REGISTER`.

### Aim
Change keywords, e.

[2022-10-21 05:34] jiangML commented on #21671
I'll try to do it

[2022-10-21 05:48] RaigorJiang opened #21672 "[DistSQL] Change `SINGLE TABLE RULE` related syntax"
Hi community,

This issue is for #21659.

### Background
By default, when a user creates a single table, it is randomly routed to a storage unit, but we can route the user-created single table to the same unit through `CREATE DEFAULT SINGLE TABLE RULE`.

But before that, if the CREATE statement is not executed, the result of `SHOW SINGLE TABLE RULES` is an empty string, which does not match the ac

[2022-10-21 05:50] jiangML commented on #21672
I'll try to do it

[2022-10-21 05:56] linghengqian commented on #21663
- What is the context of what you are expressing?  Why would you need ShardingSphereDataSourceFactory ?

[2022-10-21 05:57] Pace2Car commented on #21666
After communication, I will relay @jiangML to do this, please assign it to me.

[2022-10-21 06:41] #21072 closed

[2022-10-21 06:44] SfKSON commented on #13159
Bjuhgb

[2022-10-21 08:54] wangyu3619 opened #21683 "query error"
when i query data ,throw this exception.
 i debug the code ,find that the ShardingSphereSchema do not have the informations about my ShardingSphereTables.
i use ShardingSphere-jdbc 5.2.0 in Standalone mode  in my springboot project.
can you help me?

java.lang.NullPointerException: null
	at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderValuesCaseSensitiveFromTables(Orde

[2022-10-21 10:03] wangyu3619 commented on #21683
i debug the code ,find that the ShardingSphereDataSource data source does not contain all my sharding tables infomation.
![image](https://user-images.githubusercontent.com/19728206/197167907-31a17373-8caa-4ec8-b322-4c68e321e32d.png)
**this is my configs:**

`spring.shardingsphere.datasource.master.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.master.driver-class-name=org

[2022-10-21 10:04] wangyu3619 commented on #21683
i need help.

[2022-10-21 18:26] linghengqian commented on #21347
- The Log at https://github.com/apache/shardingsphere/actions/runs/3298856474/jobs/5441511861 shows that the CI of GraalVM Native Image is broken.  This question first came from https://github.com/apache/shardingsphere/pull/21677 .  I will submit a PR to fix it.

[2022-10-22 00:01] #21669 closed

[2022-10-22 00:27] strongduanmu commented on #21683
Please check whether your actualTable exists first, ShardingSphere will load metadata according to actualTable.

[2022-10-22 00:55] wangyu3619 commented on #21683
The tables exist.when i config two rules，i can only get the metadata of logictable center_stat_info .but when i change the name of logic table node_stat_info to another one ，i can get the tables infomations of node_stat_info by sharingspheredatasource

[2022-10-22 01:04] strongduanmu commented on #21683
From your screenshot, the actual table starting with 2023 does not exist. You need to ensure that the table configured in actual-data-nodes all exists.

[2022-10-22 01:27] wangyu3619 commented on #21683
actual-data-nodes all exists？but how to config when i use shardingsphere in time rolling tables circumstance. I can't find instructions for dynamically refreshing metadatas in 5.2.0

[2022-10-22 14:50] SfKSON opened #21692 "A"
https://github.com/apache/flink/pull/21129

[2022-10-22 15:06] RaigorJiang commented on #21692
Hi @SfKSON
Please provide meaningful title and content

[2022-10-22 15:06] #21692 closed

[2022-10-22 17:29] linghengqian commented on #21347
- I saw some incorrectly imported metadata at https://github.com/apache/shardingsphere/actions/runs/3303870293/jobs/5452309095 .  Looks like most of it is related to Netty.  I'm not quite sure what I need to do, considering that the Spring community actually has this problem.  Reference https://twitter.com/sdeleuze/status/1583493681386225664?t=2IBnsStmiaTmiqU_BqwpMw&s=19 .

- The dependencies of t

[2022-10-23 02:00] RaigorJiang opened #21694 "[DistSQL] Change some `READWRITE_SPLITTING` related syntax"
Hi community,

This issue is for #21659.

### Aim
Change some keywords, e.g.
[code]

[2022-10-23 02:04] jiangML commented on #21694
I'll try to do it

[2022-10-23 02:08] RaigorJiang commented on #21694
@jiangML Thank you!

[2022-10-23 06:19] RaigorJiang opened #21696 "[DistSQL] Optimize `SHADOW` related syntax"
Hi community,

This issue is for #21659.

### Aim
Optimize `SHADOW` related syntax, e.g.
[code]

[2022-10-23 06:20] jiangML commented on #21696
I'll try to do it

[2022-10-23 06:27] RaigorJiang opened #21697 "[DistSQL] Optimize `DB_DISCOVERY` related syntax"
Hi community,

This issue is for #21659.

### Aim
Optimize `DB_DISCOVERY` related syntax.

#### Remove
- CREATE DB_DISCOVERY TYPE
- CREATE DB_DISCOVERY HEARTBEAT
- ALTER DB_DISCOVERY TYPE
- ALTER DB_DISCOVERY HEARTBEAT

#### Optimize
- CREATE DB_DISCOVERY RULE
- ALTER DB_DISCOVERY RULE

[2022-10-23 06:31] Pace2Car commented on #21697
I will work on it

[2022-10-23 06:38] RaigorJiang opened #21698 "[DistSQL] Optimize `Migration` related syntax"
Hi community,

This issue is for #21659, #21671.

### Aim
Change keyword `PROCESS CONFIGURATION` to `RULE`, e.g.
[code]

Change keyword `RESOURCE` to `STORAGE UNIT`, e.g.
[code]

Because `MIGRATION RULE` has a default value, `CREATE` and `DROP` are not needed, so just keep `ALTER`, remove the following syntax:
- CREATE MIGRATION PROCESS CONFIGURATION
- DROP MIGRATION PROCESS CONFIGURATION

[2022-10-23 06:38] RaigorJiang commented on #21697
@Pace2Car Thank you!

[2022-10-23 07:41] pcyan commented on #17477
fixed in ShardingSphere 5.2.0

[2022-10-23 07:41] #17477 closed

[2022-10-23 07:56] sandynz opened #21700 "[Feature Request] Replace jdbcUrl to url in jdbc examples data source properties"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.

Currently, data source properties support ShardingSphere standard properties and also underlying data source pool properties, e.g. `url` in ShardingSphere and `jdbcUrl` in Hikari.
`url` is defined in `ConnectionPropertySynonyms`:
[code]

The proxy example configuration file already u

[2022-10-23 08:38] sandynz opened #21701 "Refactor MySQLJdbcQueryPropertiesExtension"
Improvement:

1, Refactor `mysqlConnectorVersion` as `final` and also rename to uppercase variable name `MYSQL_CONNECTOR_VERSION`; Refactor static code block as static method, assign the result to `MYSQL_CONNECTOR_VERSION`;

2, Extract a method to get `zeroDateTimeBehavior`;

[2022-10-23 11:20] Zhai6319 opened #21703 "I always report an error when upgrading from 5.1.2 File mode to 5.2.1 JDBC mode"
## Bug Report

mybatis plus 3.5.1 + shardingsphere 5.2.1 + druid 1.2.8

<img width="1329" alt="image" src="https://user-images.githubusercontent.com/29478697/197388894-a9e64cf2-dbea-467b-a355-f6a92e4d10a5.png">

demo example：[[demo example](https://github.com/Zhai6319/sbx-system)](https://github.com/Zhai6319/sbx-system)

Please use the maven settings file under the maven directory of the project
<

[2022-10-23 11:23] Zhai6319 commented on #21703
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/29478697/197389285-3c9c0b1c-b9ba-4dce-ae2c-c218a331b2b9.png">
I don't know if there is a problem with my configuration

[2022-10-23 11:48] linghengqian commented on #21703
- This issue is a duplicate of https://github.com/apache/shardingsphere/issues/21476 and should be marked as invalid and closed.

- If you are using `SpringBoot OSS < 3.0.0-M5`, you need to specify the SnakeYAML version manually.

[2022-10-23 12:11] totalo commented on #21700
@sandynz ,ok I will follow up on this problem, and the examples of subsequent standards will be removed and converted into automatically generated examples.

[2022-10-23 12:29] Zhai6319 commented on #21703
<img width="353" alt="image" src="https://user-images.githubusercontent.com/29478697/197392135-0e76f629-0a3e-4b34-a457-dc4ba6424a94.png">
<img width="1283" alt="image" src="https://user-images.githubusercontent.com/29478697/197392151-51df21fc-cf70-4cd5-870e-c36a350af868.png">
I report this error after specifying the version

[2022-10-23 12:33] linghengqian commented on #21703
- ShardingSphere 5.2.0 slightly refactored the configuration of read-write separation on the client side.  A typical example of changes to upgrade from 5.1.2 to 5.2.0 should look something like https://github.com/dynamic-datasource/dynamic-datasource-samples/commit/dd7c1e99f75ec66d249af186661c57335bea03c1 .

- Without further ado, the link I quoted doesn't have much to do with ShardingSphere.  You

[2022-10-23 12:47] Zhai6319 commented on #21703
Thank you for your help

[2022-10-23 12:47] #21703 closed

[2022-10-23 13:04] sandynz commented on #21700
Thank you

[2022-10-23 15:31] RaigorJiang opened #21706 "[DistSQL] Optimize `BROADCAST TABLE` related syntax"
Hi community,

This issue is for #21659.

### Background
The current syntax for broadcast tables are
[code]
Doc: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/

### Inadequacy:
1. If there are multiple broadcast tables, they must be declared within a bracket;
2. There is only one broadcast table rule, once created

[2022-10-23 16:41] tianshuainan opened #21709 "How tp implement batch encryption in ShardingSphere-JDBC_Encryption"
How to customize the encryption algorithm to achieve batch encryption in ‘EncryptAlgorithm’ and  ‘QueryAssistedEncryptAlgorithm’ class

[2022-10-24 02:59] lanrenbulan commented on #21437
How about it, can it be reproduced?

[2022-10-24 03:37] strongduanmu commented on #21437
@lanrenbulan Can you add hint sharding algorithm?

[2022-10-24 05:44] MaricoHan opened #21713 "class org.apache.shardingsphere.sql.parser.sql.common.segment.dml.item.AggregationProjectionSegment cannot be cast to class org.apache.shardingsphere.sql.parser.sql.common.segment.dml.item.ColumnProjectionSegment"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-24 06:24] carlors commented on #21622
I had try the latest version 5.2.1, yet the shardingsphere-proxy client will keep waiting for response from postgresql, and the state of the statment in postgresql database was Idle, state type was "Client Read" which meas postgresql was waiting for shardingsphere-proxy response. It seems that all is fall into a infinite loop.

[2022-10-24 07:12] lanrenbulan commented on #21437
I don't know how to add it. Do I need to add it to implement mandatory routing by SQL annotation? PHP I use.

[2022-10-24 07:19] strongduanmu commented on #21437
You can refer ShardingSphere 5.2.1 release document——https://mp.weixin.qq.com/s/pv7c9oG6uTAgUzTpkfMhag.

[2022-10-24 07:31] RaigorJiang opened #21717 "[DistSQL] Optimize `SHARDING TABLE RULE` related syntax"
Hi community,

This issue is for #21659.

### Aim
#### Remove
- CREATE SHARDING ALGORITHM
- ALTER SHARDING ALGORITHM
- CREATE SHARDING KEY GENERATOR
- ALTER SHARDING KEY GENERATOR

#### Simplify
Simplify the following syntax, only supports synchronous creation algorithms.
- CREATE SHARDING TABLE RULE
- ALTER SHARDING TABLE RULE

#### Update
- SHARDING BINDING TABLE RULES -> SHARDING TABLE REFERENC

[2022-10-24 07:32] Pace2Car commented on #21717
I will work on it.

[2022-10-24 08:17] lanrenbulan commented on #21437
I have read this article and can basically use it. In the Apache document, I do not know the usage of the ${value} variable. In addition, I need to follow the rules:

1. Value is a number
2. Table must be defined in the rule?

At present, I only need to define databases but not tables (tables can also be used). There are hundreds of tables that need to be defined?

[code]

[2022-10-24 08:44] #21694 closed

[2022-10-24 09:18] MaricoHan opened #21720 "NullPointerException occur when select schema infomation"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-24 09:46] FlyingZC commented on #21558
Thanks for the feedback, I will try.

[2022-10-24 10:45] wallacezhou commented on #21615
fix the client fails when connect to proxy issue
but when client send extra meta database sql to proxy, there still exist authority errors

[2022-10-24 11:35] wsm12138 opened #21725 "How can i config Proxy with agent in `ghcr.io/apache/shardingsphere-proxy` ？"
## Question

<img width="765" alt="image" src="https://user-images.githubusercontent.com/86462784/197514751-3ba22f5e-18ae-4239-b9a1-2f348ac3204e.png">

Today i found images in ghcr.io/apache/shardingsphere-proxy  going to be that picture up there.

before  images structure like this.

<img width="494" alt="image" src="https://user-images.githubusercontent.com/86462784/197516475-2cf82acd-2631-4875-

[2022-10-24 15:28] marsal1212 opened #21728 "After adding or deleting columns, query all columns and report errors"
## Bug Report

### Which version of ShardingSphere did you use?
5.2.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
when springboot service runing，add or del columns without restart service.
### Actual behavior
After adding or deleting columns, query all columns and report errors

### SQL: select * from user_info
### Cause: ja

[2022-10-24 18:29] KiranPatil30 commented on #21377
No

[2022-10-24 23:48] #21698 closed

[2022-10-25 00:43] pandaapo commented on #21728
What does the last "Then I tried the refresh reloadSchema and reported an error" mean? Do you mean refreshing reloadSchema also does not work?

[2022-10-25 01:47] marsal1212 commented on #21728
yes，Do you mean refreshing reloadSchema also does not work.
Or is there any way to solve this problem?

[2022-10-25 01:51] #20365 closed

[2022-10-25 01:51] #21706 closed

[2022-10-25 02:19] wsm12138 commented on #21725
fixed

[2022-10-25 02:19] #21725 closed

[2022-10-25 02:50] #21573 closed

[2022-10-25 03:19] pandaapo commented on #21728
I'm not sure. But you can try `TableMetaDataLoader.load(DataSource, "{tableName}", new MySQLDatabaseType())`. `DataSource` can try use `ShardingSphereDataSource`, if not work, then try the origin `DataSource`.

[2022-10-25 04:12] marsal1212 commented on #21728
@pandaapo It didn't work

![image](https://user-images.githubusercontent.com/20449902/197680622-fa86b6e5-5b1d-4f81-9561-6b9cf751a760.png)

[2022-10-25 05:04] DivvSaxena commented on #21643
how can i contribute to this issue?

[2022-10-25 05:59] RaigorJiang commented on #21643
Hi @DivvSaxena,
Thanks for your attention. We just need to update the license header of the above file to the same format as the other ones.

[2022-10-25 06:07] TeslaCN commented on #21720
`information_schema` is not fully supported for now.

[2022-10-25 07:08] RaigorJiang opened #21738 "[DistSQL] Optimize syntax `REFRESH TABLE METADATA`"
Hi community,

This issue is for #21659, #21671.

### Aim
Because `RESOURCE` has been renamed to `STORAGE UNIT`, `REFRESH TABLE METADATA` also needs to be updated accordingly.

Doc: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/

- `REFRESH TABLE METADATA tableName FROM RESOURCE resourceName` -> `REFRESH TABLE METADATA tableName FROM STOR

[2022-10-25 07:14] TeslaCN commented on #21728
You may deploy a ShardingSphere-Proxy with Cluster mode and configure Cluster mode for ShardingSphere-JDBC. Then executing DDL by ShardingSphere-Proxy.
ShardingSphere will load meta data from database at startup. If you executed DDL to database directly, ShardingSphere will not able to be aware of the changes and this issue will occur.

[2022-10-25 07:58] wangyu3619 opened #21740 "How can I refresh the sharding-rules"
## Question

How can I refresh the sharding-rules when I need a dynamicsharding-tables rule.For example, I need tables for the last seven days, one table for each day.
shardingsphere-jdbc-core-spring-boot-starter 5.2.0

[2022-10-25 09:27] DivvSaxena commented on #21643
Hey @RaigorJiang ,
I think i can do it , assign it to me!

[2022-10-25 09:38] haiy1026 opened #21743 "关于在Springboot的web项目中通过DataSourceConfig配置分片规则不生效的问题"
关于在Springboot的web项目中通过DataSourceConfig配置分片规则不生效的问题。
场景环境：
    1. springboot版本：2.3.7.RELEASE
    2. shardingjdbc版本：4.0.0.RC1
    3.MySQL版本：8.0+
    4.mybatis-plus版本：3.3.2
    5. 项目类型：web
问题描述：
如果我通过application.yaml来配置分片规则（ComplexKeysShardingAlgorithm），那么我就可以根据分片规则来区分数据表，但是我不在application.yaml里做任何的配置，而是通过config目录下通过DataSourceConfig来配置分片规则，那么我的查询就没经过我自定义的分片规则。
1. 其中我的application配置文件如下：

[code]

然后我的分片

[2022-10-25 09:49] haiy1026 commented on #21554
algorithmClassName -> algorithm-class-name

[2022-10-25 09:49] RaigorJiang commented on #21643
Yes, it should be easy to get started.

[2022-10-25 10:35] strongduanmu opened #21746 "Add unit test for ReflectiveUtil"
This issue is to add unit tests for the ReflectiveUtil class and includes the following subtasks:

- [ ] ReflectiveUtil#getFieldValue
- [ ] ReflectiveUtil#setField
- [ ] ReflectiveUtil#setStaticField

[2022-10-25 11:28] #21738 closed

[2022-10-25 12:27] zhangrickStudio opened #21751 "NPE occurred in boot"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-25 12:49] I-Love-China commented on #21099
No, TRANSACTION is most important of all, one connection to one transaction is the expected behavior.
@terrymanu Do you have any suggestions, boss ？

[2022-10-25 13:02] I-Love-China commented on #21099
BTW, the default value of `max-connections-size-per-query` is 1.

[2022-10-25 14:02] #21696 closed

[2022-10-25 16:03] #21609 closed

[2022-10-25 16:04] #21626 closed

[2022-10-25 16:08] DivvSaxena commented on #21643
Hey @RaigorJiang,   I am not able to find this file .github/workflows/nightly-graalvm-image.yml .

[2022-10-25 17:11] linghengqian commented on #21643
- FYI, this file was deleted some time ago.  Refer to https://github.com/apache/shardingsphere/pull/21677 .

[2022-10-25 17:44] DivvSaxena commented on #21643
@linghengqian @RaigorJiang As this File is deleted so it's header can't be changed , so all the other files  are adjusted to a uniform format you can merge the PR #21755

[2022-10-25 19:04] ishu-thakur commented on #21746
Hi @strongduanmu I would like to contribute on this issue can you assign that to me :)?

[2022-10-26 00:28] strongduanmu commented on #21746
Welcome @ishu-thakur, I will assign this issue to you.

[2022-10-26 00:32] pandaapo commented on #21746
?

[2022-10-26 00:32] RaigorJiang commented on #21743
Hi @haiy1026
Welcome to the Apache ShardingSphere community, but only **English** is accepted here.
I will close this issue, please submit a new one.

[2022-10-26 00:32] #21743 closed

[2022-10-26 00:37] pandaapo commented on #21746
? Does it mean that my PR before this assignment will be ignored directly?

[2022-10-26 02:36] jitawangzi commented on #21518
@TeslaCN  Check out this bug again? I have added relevant information

[2022-10-26 03:57] judykula opened #21761 "When I delete the table in the real data source, I can still query it on SS"
## Bug Report

When I delete the table in the real data source, I can still query it on SS, is it cache?

mysql> show tables;
+----------------+------------+
| Tables_in_test | Table_type |
+----------------+------------+
| sbtest9        | BASE TABLE |
| sbtest10       | BASE TABLE |
| sbtest2        | BASE TABLE |
| sbtest1        | BASE TABLE |
| sbtest4        | BASE TABLE |
| sbtest3        |

[2022-10-26 04:00] judykula commented on #21761
How to manually trigger sync data?

[2022-10-26 06:16] #16664 closed

[2022-10-26 06:29] chengyonghu commented on #21558
Hello, there is another case that sharding key will be lost after using seata proxy for shardingsphere data source, which will not happen if I use primary key
@FlyingZC

[2022-10-26 06:41] smartbetter opened #21764 "[SQLLogger] SQLStatement log"
## Feature Request

Hi，I don't need a SQLStatement, SQLStatement prints too much.

Can you add a switch to the SQLStatement of SQLLogger to control whether to print?

[2022-10-26 06:45] #21761 closed

[2022-10-26 09:01] miaoyinjun opened #21767 "How to set default system database"
shardingsphere.version: 5.2.1
How to set ShardingSphere default system database to support global metadata management?

[2022-10-26 09:34] strongduanmu commented on #21764
You can use `sql-show: false` to close sql print.

[2022-10-26 09:45] strongduanmu opened #21769 "ServiceProviderNotFoundServerException occurs when I configure mysql as protocol type and oracle as storage type"
## Bug Report

### Which version of ShardingSphere did you use?

[66f346e](https://github.com/apache/shardingsphere/commit/66f346e1911f44e45469160938d870fcdb936d81)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

ShardingSphere-Proxy start successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Step

[2022-10-26 11:26] strongduanmu opened #21775 "Error creating bean with name 'dataSource' defined exception occurs when I doesn't config rule with springboot"
## Bug Report

### Which version of ShardingSphere did you use?

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Startup application successfully when I doesn't config rule with springboot

### Actual behavior

[code]

### Reason analyze (If you can)

LocalRulesCondition config wrong `SHARDING_PREFIX`.

[code]

### Steps to r

[2022-10-26 12:00] zhang-zhipeng commented on #9841
// @Transactional // producer service no @Transactional annotation  这行代码太重要了。。。

[2022-10-26 12:29] #21769 closed

[2022-10-26 12:46] ishu-thakur commented on #21746
@strongduanmu @sandynz Please review the PR #21778 that i have raised as per the issue #21746 :) and if any changes required i will be doing that .

[2022-10-26 15:15] RaigorJiang commented on #21643
@DivvSaxena
Thanks for the PR, I left a comment for the XML file in it, please check it out

[2022-10-26 15:23] #21661 closed

[2022-10-27 01:31] #21385 closed

[2022-10-27 02:17] strongduanmu commented on #21746
Hi @pandaapo, thank you very much for your contribution, but the habit of the ShardingSphere community is to claim the issue first, and then submit the PR. We have many other unclaimed issues and contributions are welcome.

[2022-10-27 02:19] dongzl commented on #21437
Hi @lanrenbulan , `shardingsphere-jdbc` or `shardingsphere-proxy`?

[2022-10-27 02:20] strongduanmu commented on #21746
@pandaapo Do you want to fix issue #21775?

[2022-10-27 02:25] #21701 closed

[2022-10-27 03:45] judykula opened #21784 "Are you cheating? What the hell are you doing?"
![image](https://user-images.githubusercontent.com/3365786/198185844-2564fb35-eac9-494c-8c15-7b753db7ff24.png)
![image](https://user-images.githubusercontent.com/3365786/198185882-4619f107-7914-46ef-9842-f5d430e1bc59.png)
![image](https://user-images.githubusercontent.com/3365786/198185921-bc0fce9a-7850-44d6-b9ce-ab9839cb0ac1.png)
![image](https://user-images.githubusercontent.com/3365786/19818686

[2022-10-27 03:53] strongduanmu commented on #21784
@judykula First of all, please pay attention to your words and deeds, we welcome good advice, not accusation.

[2022-10-27 03:59] strongduanmu commented on #21784
Second, before asking questions, please read ShardingSphere's documentation and existing issues carefully. To use the Consul registry, you need to add dependencies yourself. For specific reference: https://shardingsphere.apache.org/document/5.2.1/cn/user-manual/shardingsphere-proxy/optional-plugins/

[2022-10-27 04:02] strongduanmu commented on #21784
Third, currently only the Zookeeper registry is the main task. ShardingSphere will ensure that its functions are complete. Other implementations need to be led by the community itself. As you have shown, some of the unimplemented methods of the Consul registry need to be continuously improved by the community.

[2022-10-27 04:03] strongduanmu commented on #21784
Since you are not participating in accordance with the ShardingSphere community's specifications, I will set this issue as invalid. Welcome to submit a new issue to discuss how to improve the Consule registry.

[2022-10-27 04:03] #21784 closed

[2022-10-27 04:32] judykula commented on #21784
@strongduanmu 没有完成的功能请明确在版本特征里进行提示。做到任何一个环节都要严谨，才能给选用Shardingsphere作为数据库底层proxy的技术负责人以信心，而不是满足自洽性就可以，这更像是满足老板的要求，而不是用户。

选择刚开始的Shardingsphere 5作为proxy是因为信任，但是现在Shardingsphere已经快把我的脸给打肿了，我取消了对Shardingsphere的点赞，抱歉。

[2022-10-27 05:15] #21751 closed

[2022-10-27 07:53] strongduanmu commented on #21713
Hi @MaricoHan, thank you for your feedback. ShardingSphere does not support system table query now.

[2022-10-27 08:10] tianhao960 commented on #20815
it seems that
 `DataSourcePoolCreator.create(dataSourceProps);`
will throw Exception which caused by `@SneakyThrows(ReflectiveOperationException.class)` at class DataSourcePoolCreator and ShardingSphereServiceLoader.

and DataSourcePropertiesValidator can not catch checked exception ReflectiveOperationException.

[2022-10-27 08:11] SHADOW-LI0327 commented on #21119
same issue
[code]
if `actualDataNodes` set `ds_0.t_order_${1..12}` works
the `databaseStrategy` not working ?

[2022-10-27 08:14] MrXionGe commented on #21650
@zhaojinchao95
I checked the source code.
When creating a data source, ShardingSphere will create an additional H2 database data source.
This should be a feature that did not exist before 5.2.0.

[2022-10-27 09:40] pandaapo commented on #21775
I try to fix this in PR #21789.

[2022-10-27 10:10] DivvSaxena commented on #21643
@RaigorJiang  Check it now modified the other part to.

[2022-10-27 10:17] zhang-zhipeng opened #21799 "mybatis-plus3.5.2、shardingsphere5.1.1（Using encrypt）、oracle，When querying by page,rewirte sql is error, regards the ROWNUM as a real field, but it is not"
### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
mybatis-plus3.5.2、shardingsphere5.1.1、oracle.
When querying by page, the sql of the queried field name has no concatenated quotation marks.
I found that the latest version of OracleDataType also uses QuoteCharacter.QUOTE, whi

[2022-10-27 10:48] RaigorJiang commented on #21643
@DivvSaxena Thank you. But I found that there are still differences in the files, can you compare other ones?

[2022-10-27 11:06] Zx07 opened #21802 "JDBC连接OceanBase数据库选择连接模式的问题"
使用sharing-jdbc连接OceanBase数据库时，jdbc自动生成了mysql的SQL去查表的索引。但是我的OceanBase租户是oracle模式的，这必然会报错。
       然后我把pom里所有有mysql关键字的依赖都给去掉，包括sharing-jdbc里的也去掉了。但是还是会自动拼出mysql的SQL去查索引，请问这个有什么办法可以指定jdbc拼的SQL为oracle模式吗？

[2022-10-27 11:16] #21561 closed

[2022-10-27 12:05] strongduanmu opened #21804 "SQL parse error occurs when execute complex select statement with oracle database"
## Bug Report

### Which version of ShardingSphere did you use?

[e3f6fbb](https://github.com/apache/shardingsphere/commit/e3f6fbb0b57d6b788b93b1196cdab355d13da085)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute following sql successfully.

[code]

### Actual behavior

![image](https://user-images.githubusercontent.

[2022-10-27 12:07] strongduanmu commented on #21804
Following sql also throw exceptions.

[code]

[2022-10-27 12:12] FlyingZC opened #21805 "Oracle parsing does not support varchar2 type specified length in create table"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
Parsing create table correctly.

### Actual behavior
Parsing create table error.

### Reason analyze (If you can)
[code]

antlr parsing result:
![image](https://user-images.githubusercontent.com/19788130/198279962-7833be80-

[2022-10-27 13:35] lucasldl opened #21807 "5.2.* version, server.yaml configuration question"
The mode parameter of server.yaml cannot use the mode whose type is Standalone and the type of repository is File?

[2022-10-27 13:55] #21807 closed

[2022-10-27 14:57] zhaojinchao95 commented on #21802
@Zx07  **For English only**, other languages will not accept.

[2022-10-27 14:58] #21802 closed

[2022-10-28 00:52] wangjiihao opened #21810 "Does the shard key support like"
Does the partition key support querying in the like mode and How to use it if it supports

[2022-10-28 00:54] wangjiihao commented on #21810
@TeslaCN

[2022-10-28 00:57] wangjiihao commented on #21810
example:
     select * from user where name like '王%'
name is the shard key

[2022-10-28 01:05] wangjiihao commented on #21810
version: shardingsphere-jdbc-core-spring-boot-starter 5.0.0

[2022-10-28 01:17] #21775 closed

[2022-10-28 01:34] #21805 closed

[2022-10-28 02:23] sandynz commented on #21775
Hi @pandaapo , you could comment on issue before submiting PR. Refer to [Contributor Guide]( https://shardingsphere.apache.org/community/en/involved/contribute/contributor/ ) for details:
[code]

[2022-10-28 03:10] kuchikij commented on #21610
thanks！

[2022-10-28 03:59] Qianyi951015 opened #21816 "Cannot drop db_discovery type"
## Bug Report

### Which version of ShardingSphere did you use?
62005f74f508ff0e5ae3d5882fbbf0cd19c4784f
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior
db_discovery type dropped
### Actual behavior

when execute `drop db_discovery rule` exception cannot found db_discovery type

### Steps to reproduce the behavior, such as: SQL to execute, sh

[2022-10-28 04:05] RaigorJiang commented on #21816
Related to #21697,
Hi @Pace2Car, can you investigate it？

[2022-10-28 04:06] RaigorJiang commented on #21816
@Qianyi951015
Thanks for your feedback!

[2022-10-28 04:36] zhang-zhipeng commented on #21799
Encrypt function is used

[2022-10-28 04:49] MaricoHan opened #21818 "Error occur when batch inserting rows into proxy !"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-10-28 04:55] zhang-zhipeng commented on #21799
Logic SQL:
SELECT * FROM (SELECT TMP.*, ROWNUM ROW_ID FROM (SELECT ID, NAME, PWD, MOBILE, CUSTOMER_ID, CREATE_TIME, UPDATe_TIME, FROM T_CIPHER_OLD WHERE (ID = ?) ) TMP WHERE ROWNUM <= ?) WHERE ROW_ID > ?

ACTUAL SQL：
SELECT "ID", "NAME", "PWD_CIPHER" AS "PWD", "MOBILE", "CUSTOMER_ID", "CREATE_TIME", "UPDATE_TIME", "ROWNUM" AS "ROW_ID" FROM ( SELECT "ID", "NAME", "PWD_CIPHER", "MOBILE", "CUSTOMER_I

[2022-10-28 04:57] zhang-zhipeng commented on #21799
If all field queries do not splice quotation marks, or ROWNUM does not splice quotation marks, SQL is correct

[2022-10-28 05:39] kuchikij commented on #21610
Thanks!

[2022-10-28 06:24] strongduanmu commented on #21799
Hi @zhang-zhipeng, thank you for your feedback. Can you show your encrpt configuration and table init sql?

[2022-10-28 06:27] #21804 closed

[2022-10-28 06:32] zhang-zhipeng commented on #21799
encrypt config：
rules:
      encrypt:
        encryptors:
          pwd-encryptor:
            type: AES
            props:
              aes-key-value: 123456abc
        tables:
          T_CIPHER_OLD:
            columns:
              PWD:
                cipher-column: PWD_CIPHER
                encryptor-name: pwd-encryptor

create table sql:
CREATE TABLE "T_CIPHER_OLD"
(
	"ID" VARCHAR2(50) N

[2022-10-28 06:35] zhang-zhipeng commented on #21799
Entity：
@Data
@TableName(value = "T_CIPHER_OLD")
public class CipherOld implements Serializable {
    @TableId(value = "ID")
    private Long id;
    @TableId(value = "NAME")
    private String name;
    @TableId(value = "PWD")
    private String pwd;
    @TableId(value = "MOBILE")
    private String mobile;
    @TableId(value = "CUSTOMER_ID")
    private Long customerId;
    @TableId(value = "CRE

[2022-10-28 06:55] codeducker opened #21821 "Unknown prepared statement handler (4) given to mysqld_stmt_reset"
execute sql return Unknown prepared statement handler (4) given to mysqld_stmt_reset

[2022-10-28 06:55] codeducker commented on #21821
using spring boot 2.6 + mybatis-plus 3.5.2 + sharingsphere-jdbc 5.2.1

[2022-10-28 07:19] smartbetter commented on #21764
No, I need print Logic SQL and Actual SQL.

[2022-10-28 07:48] 794086163 opened #21823 "SQL query result does not use alias error：Can not get index from column label"
Caused by: java.sql.SQLFeatureNotSupportedException: Can not get index from column label `split_part`.
	at org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSet.lambda$getIndexFromColumnLabelAndIndexMap$0(ShardingSphereResultSet.java:393) ~[shardingsphere-jdbc-core-5.2.1.jar:5.2.1]
	at org.apache.shardingsphere.infra.util.exception.ShardingSpherePreconditions.checkState(Shar

[2022-10-28 07:48] ZZemptypoint commented on #21562
it's worked, but why? Does filename "config-mate.yaml"  is special?

[2022-10-28 07:49] ZZemptypoint commented on #21562
it's worked, but why? Does filename "config-mate.yaml" is special?

[2022-10-28 07:50] 794086163 commented on #21823
SQL：
select split_part("t1".grid_name,'-',1)
        from ${tableName} AS "t1"
        where
        <include refid="GET_GRID_PARAM_WHERE"></include>
        AND "t1".${fieldNameTv} is not null
        AND "t1".grid_name is not NULL
        group by "split_part"("t1".grid_name,'-',1)

[2022-10-28 08:05] mzzsfy commented on #21562
Explicitly specify how sharding-proxy should route

[2022-10-28 08:07] ZZemptypoint commented on #21562
ok, thx

[2022-10-28 08:20] mzzsfy commented on #21720
maybe this can help you
https://github.com/apache/shardingsphere/issues/21562

[2022-10-28 08:49] strongduanmu commented on #21562
Hi @mzzsfy, thank you for your feedback, I think we can optimize the route logic when user only config one group readwrite splitting datasource.

[2022-10-28 11:10] DivvSaxena commented on #21643
@RaigorJiang  Check it now i fixed that problem , I think now it should get merged.

[2022-10-28 11:39] #21175 closed

[2022-10-28 15:31] Zx07 opened #21835 "Sharing-JDBC does not support the Oracle tenant of OceanBase database"
When sharing jdbc is used to connect to OceanBase database, jdbc automatically generates MySQL SQL to query the table index. However, my OceanBase tenant is in Oracle mode, which will inevitably report an error.
Then I removed all dependencies on MySQL dependency in the pom, including those in sharing jdbc. However, MySQL SQL will be automatically spelled out to query the index. Is there any way t

[2022-10-28 23:52] RaigorJiang commented on #21643
@DivvSaxena CI passed, merged!

[2022-10-28 23:53] RaigorJiang commented on #21643
Fixed by #21755.

[2022-10-28 23:53] #21643 closed

[2022-10-29 02:13] #21746 closed

[2022-10-29 03:34] DivvSaxena commented on #21643
@RaigorJiang Thanks!

[2022-10-29 06:15] strongduanmu commented on #21835
Hi @Zx07, can you provide a demo to help demonstrate the problem?

[2022-10-29 11:08] zhaojinchao95 opened #21842 "Run ContextManagerTest.assertReloadTable() throw NPE"
[code]

[2022-10-29 11:44] #21842 closed

[2022-10-29 12:45] sevtin opened #21845 "因为表的时间字段全部采用时间戳。是否可以通过时间戳进行水平按月分表？附有表结构"
因为表的时间字段全部采用时间戳。是否可以通过时间戳进行水平按月分表
表结构如下
[code]

[2022-10-29 14:08] RaigorJiang commented on #21845
Welcome to Apache ShardingSphere community, but only **English** is accepted here.
I will close this issue, please submit a new one.
Thank you!

[2022-10-29 14:08] #21845 closed

[2022-10-29 14:42] RaigorJiang commented on #21821
Hi @codeducker,
Thanks for your feedback, please provide your logic SQL and configuration, what is the best way to reproduce this problem.

[2022-10-29 14:44] RaigorJiang commented on #21810
@wangjiihao
Sharding key just supports `=` or range (`>`, `>=`, `<`, `<=`, `between`)

[2022-10-29 14:47] RaigorJiang commented on #21767
@miaoyinjun  There is currently no such function.
ShardingSphere will provide logical system databases like `information_schema`, this feature is under development

[2022-10-29 15:23] gxxiong commented on #21709
Your problem is that you won't extend the encryption algorithm?

[2022-10-30 07:31] tianshuainan commented on #21709
i want to implement batch encrypt,but the provided interface can't resolve it

[2022-10-30 07:33] haiy1026 opened #21849 "Question：ShardingSphereAlgorithm sharding strategy configuration is not executed"
Question：ShardingSphereAlgorithm sharding strategy configuration is not executed ，The difference between the
.yaml format configuration and DataSourceConfiguration

In My Springboot project.
springboot-version:2.3.7.RELEASE
mysql:8.0
shardingsphere-jdbc-core:5.1.1

my pom.xml as follows
[code]
application.yaml as follows:
[code]

and my ComplexShardingAlgo as follows：
[code]
In this case, my shard

[2022-10-30 08:11] #21849 closed

[2022-10-30 08:14] haiy1026 commented on #21849
In DataSourceConfig.class, i forget add sqlsession
The complete code is as follows
[code]

[2022-10-30 18:22] ankit-dub commented on #21468
HintRALStatementAssert can be created for all Hint SQL parsing test cases, RAL statement are extended by Update, Query and Hint.
UpdatableRALStatementAssert assertIs function is not compatible with Hint statement

[2022-10-30 22:46] #21615 closed

[2022-10-30 23:02] RaigorJiang commented on #21615
@wallacezhou  Merged, look forward to your continued participation in the community!

[2022-10-31 01:50] RaigorJiang commented on #21823
Hi @794086163,
Thanks for your feedback, can you provide your table structure, just like a `CREATE TABLE` sql statement.

[2022-10-31 02:10] RaigorJiang commented on #21468
Hi @ankit-dub
Thanks for your feedback, would you like to participate in this task?

[2022-10-31 02:19] wangjiihao commented on #21810
@RaigorJiang
Can I customize a like routing rule? By implementation or inheritance

[2022-10-31 02:26] wangjiihao commented on #21810
When querying shard fields, I need to use the like method, because there is a parent-child relationship between data similar to the codes of provinces and cities, and provinces and cities have a unified prefix

[2022-10-31 02:52] #21668 closed

[2022-10-31 02:55] 794086163 commented on #21823
/*
 Navicat Premium Data Transfer

 Source Server         : devPgDb
 Source Server Type    : PostgreSQL
 Source Server Version : 120006
 Source Host           : 172.16.23.169:5432
 Source Catalog        : fleet
 Source Schema         : public

 Target Server Type    : PostgreSQL
 Target Server Version : 120006
 File Encoding         : 65001

 Date: 31/10/2022 10:49:12
*/

-- ----------------------

[2022-10-31 02:56] 794086163 commented on #21823
DROP TABLE IF EXISTS "public"."logical_tb1";
CREATE TABLE "public"."logical_tb1" (
  "id" int4 NOT NULL,
  "name" varchar(20) COLLATE "pg_catalog"."default"
)
;

-- ----------------------------
-- Records of logical_tb1
-- ----------------------------
INSERT INTO "public"."logical_tb1" VALUES (1, 'a');
INSERT INTO "public"."logical_tb1" VALUES (2, 'bca');
INSERT INTO "public"."logical_tb1" VALUES

[2022-10-31 02:59] hza2022x opened #21856 "Does sharding proxy support sharding+readwrite at the same time?"
We plan to use 8 mysql instances, 4 databases in each instance and 16 tables in each database. total tables is: 8 * 4 * 16 = 512
At the same time, each mysql instance has a backup and  a slave. When the master is down, the backup will take over it.
So total mysql instances is: 8 *3 = 24.
Does sharding proxy support sharding+readwrite at the same time?

[2022-10-31 03:04] ankit-dub commented on #21468
Yeah I will take up this task @RaigorJiang

[2022-10-31 03:05] strongduanmu commented on #21856
Of course, the features provided by ShardingSphere can be used together. You can refer https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/yaml-config/rules/mix/.

[2022-10-31 03:06] TeslaCN commented on #20068
Hi @azexcy
The ElasticJob 3.0.2 has been released. Could you have a try?

[2022-10-31 03:09] hza2022x commented on #21856
Great !
Which version support this feature? Does 5.0.0 support it?

[2022-10-31 03:21] azexcy commented on #20068
Since the migration was refactored, there won't have this problem now, so I'll close it for now

[2022-10-31 03:21] #20068 closed

[2022-10-31 04:00] RaigorJiang commented on #21810
Unfortunately, in the sharding scenario, there is currently no interface to implement `LIKE`.

[2022-10-31 05:34] strongduanmu commented on #21856
You can try the latest 5.2.1 version.

[2022-10-31 06:12] hza2022x commented on #21856
Ok. Many thanks

[2022-10-31 06:28] RaigorJiang commented on #21468
@ankit-dub Welcome~

[2022-10-31 06:35] Manas-33 commented on #21014
Hey, I would like to work on this

[2022-10-31 07:04] SfKSON opened #21861 "D"
https://github.com/apache/shardingsphere

[2022-10-31 07:42] ankit-dub commented on #21468
@RaigorJiang get access denied while pushing the changes

fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.

[2022-10-31 08:56] dongzl opened #21863 "move shadow comment extracted to sql hint"

[2022-10-31 08:56] #21863 closed

[2022-10-31 09:42] waveywaves opened #21865 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for ShardingSphere maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for ShardingSphere (and all open source projects). This will provide maintainers with previews of their PRs in

[2022-10-31 11:15] Qianyi951015 opened #21867 "Unregister multiple migration source storage units, when one unexist exception all storage units mentioned in the statement unexist."
## Bug Report

### Which version of ShardingSphere did you use?
85abe604471c44867a50a3fc3c825f61fbe99826
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior
Unregister multiple migration source storage units, when one unexist exception the unexist one unexist.
### Actual behavior
Unregister multiple migration source storage units, when one unexis

[2022-10-31 11:15] peilinqian opened #21868 "Use jdbc to connect ss-proxy and execute cursor syntax, error occurs probabilistically “ ERROR: java.lang.ArrayIndexOutOfBoundsException”"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-10-31 12:35] gxxiong commented on #21709
Encryption is performed one by one according to your SQL parameters. Why do you need batch encryption?

[2022-10-31 13:17] RaigorJiang commented on #21468
@ankit-dub  Please refer to https://shardingsphere.apache.org/community/en/involved/contribute/contributor/

[2022-10-31 13:18] #21810 closed

[2022-10-31 13:19] #21861 closed

[2022-10-31 13:20] RaigorJiang commented on #21867
Hi @Qianyi951015 ,
Thanks for your feedback, do you want to fix it?

[2022-10-31 13:21] Qianyi951015 commented on #21867
Sure

[2022-10-31 14:35] Zx07 commented on #21835
@strongduanmu my demo:

[2022-10-31 14:38] Zx07 commented on #21835
@strongduanmu my demo:
![image](https://user-images.githubusercontent.com/51987374/199034032-6ef5c829-a319-4d74-925f-98d98ed9445a.png)

[2022-10-31 14:42] Zx07 commented on #21835
This is my config
![image](https://user-images.githubusercontent.com/51987374/199035133-aed05511-e7bc-484f-9869-423e2aaf8581.png)

[2022-10-31 14:43] Zx07 commented on #21835
![image](https://user-images.githubusercontent.com/51987374/199035267-48b52109-78a3-43da-a496-d1c76fecb7b1.png)

[2022-10-31 15:14] ankit-dub commented on #21467
I can take this task

[2022-10-31 15:53] RaigorJiang commented on #21467
Sure, thank you!

[2022-10-31 15:55] jlovej opened #21874 "Failed to force a route"
Service Description: The sharding Key is not a database field, but needs to be divided according to the business logic, so it needs to use a custom forced sharding algorithm

Environment configuration: springboot+dubbo+ss5.1.2+seata

Problem description: according to the official documentation, implementation HintShardingAlgorithm interfaces, and configuration of the services, at the same time acc

[2022-11-01 01:35] RaigorJiang commented on #21468
Fixed by #21873.

[2022-11-01 01:35] #21468 closed

[2022-11-01 01:35] RaigorJiang commented on #21468
Merged, thank you!

[2022-11-01 02:03] strongduanmu commented on #21868
Hi @peilinqian, thank you for your feedback. Now, cursor only support simple select and order by statement, and not support group by statement.

[2022-11-01 02:04] RaigorJiang commented on #21874
Sorry, I didn't see you using `hintShardingValue` in the doSharding method?

[2022-11-01 02:10] #21163 closed

[2022-11-01 02:19] RaigorJiang commented on #21740
Hello @wangyu3619 ,
It is recommended to use `DistSQL` for dynamic management rules. If the application uses `JDBC` access, it needs to be deployed with `Proxy` for hybrid architecture.

- [DistSQL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/)
- [Hybrid Architecture](https://shardingsphere.apache.org/document/current/en/overview/#hybrid-architect

[2022-11-01 02:28] codeducker commented on #21821
I have change the version of shardingsphere and the default datasource ,then i fixed the problem above

[2022-11-01 02:29] #21821 closed

[2022-11-01 02:52] jlovej commented on #21874
It has not entered the custom routing algorithm all the time, so the value 'hintShardingValue' is not used

[2022-11-01 03:29] #21867 closed

[2022-11-01 04:59] koala775 commented on #19290
I also have this problem,do you have resolved ?

[2022-11-01 05:16] RaigorJiang commented on #19290
Hi @koala775 , what's your version of ShardingSphere, Do you use helm too?

[2022-11-01 05:19] koala775 commented on #19290
version:5.1.2 ShardingSphere-proxy.Not use helm .

[2022-11-01 05:22] RaigorJiang commented on #21874
I found that your `Logic SQL` is select from table `sys_shop_user`, but there is no table named `sys_shop_user` in your sharding configuration.
<img width="787" alt="image" src="https://user-images.githubusercontent.com/5668787/199164584-d3682de9-b097-49ed-9237-cc8c8b4cdc77.png">

[2022-11-01 05:42] RaigorJiang commented on #19290
@koala775 So it should not be the same problem, please describe your problem and how to reproduce it in detail, thanks!

[2022-11-01 05:58] koala775 commented on #19290
I generate datasource and rule yml text and push them to zookeeper .When I push next logic db and it's work,but the pre doesn‘t work. It throw a exception:Unknow database.Only last push logic db and work.

[2022-11-01 06:21] jlovej commented on #21874
I only divide libraries and not tables, so the configuration of the 'table' part has no effect, and the custom route of the hint does not take effect after I remove the configuration of the 'table' part

![d59030a328ab4f85863850d75439a307](https://user-images.githubusercontent.com/8819998/199171560-f4149bb3-d3e2-4407-8263-9faf1583346f.png)

[2022-11-01 06:36] TeslaCN commented on #18281
The main parts of this issue have been finished. Since we have planned to split Vert.x from master branch. The rest of this issue could be planned after Vert.x removed.
https://lists.apache.org/thread/0vd7h44bjjszc5fs2hpftktt4oh4hhw5

[2022-11-01 06:36] #18281 closed

[2022-11-01 06:36] RaigorJiang commented on #19290
Modifying governance data directly is not supported by ShardingSphere, please use YAML file or DistSQL

[2022-11-01 06:54] koala775 commented on #19290
In project,how do I use DistSQL with java code?

[2022-11-01 07:01] RaigorJiang commented on #21874
@jlovej
You may need to understand how to configure sharding tables (including sharding databases only) in SharidngSphere, rather than customization from the beginning.

Here is an example: https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases.yaml

[2022-11-01 07:42] RaigorJiang commented on #21717
@Pace2Car  Completed, thank you !

[2022-11-01 07:42] #21717 closed

[2022-11-01 08:14] RaigorJiang commented on #19290
If your application uses JDBC, it needs to be deployed with Proxy for hybrid architecture, and then **send DistSQL to Proxy**.

DistSQL https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/
Hybrid Architecture https://shardingsphere.apache.org/document/current/en/overview/#hybrid-architecture

[2022-11-01 08:59] TeslaCN commented on #21865
We've got integration tests and a large amount of test cases. The scenario of ShardingSphere is complicated. I'm not sure whether the preview can help.

[2022-11-01 09:13] TeslaCN opened #21884 "SQL check failed, error message: Not allow DML operation without sharding conditions."
## Bug Report

### Which version of ShardingSphere did you use?

master - 3a640cc9f5fd7e6cebd890c4c53f0fc612a73084

But this may affect 5.2.0 and 5.2.1.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No error occur.

### Actual behavior

The sharding conditions did existed. But error still occurred.
[code]

### Steps to re

[2022-11-01 09:17] bojiw opened #21885 "Get the sql executed on the current connection of sharding-proxy"
Currently want to get the sql executed before the current connection in the rewrite module

[2022-11-01 09:59] bravelionet opened #21886 "The index appends the current table name problem when the DDL statement is executed"
Community hello
When a new table is created by executing ddl using the data source, the current table name is appended to the index. Ensure that no table name is appended to the index in the current DDL. Debugging found no problems

mysql-connector-java -> 8.0.25

dynamic-datasource-spring-boot-starter  -> 3.5.1

shardingsphere-jdbc-core-spring-boot-starter -> 5.1.2

The following DDL simplificati

[2022-11-01 10:11] githust66 commented on #15533
How can I solve this problem? I have the same problem

[2022-11-01 10:12] githust66 commented on #15533
How can I solve this problem? I have the same problem

[2022-11-01 10:26] #21884 closed

[2022-11-01 10:37] RaigorJiang opened #21888 "Get unexpected results when execute PSQL `\l`"
## Bug Report
### Which version of ShardingSphere did you use?
master f1b832ef

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
I set the protocol type to `PostgreSQL`, and execute `\l`, expecting a list of logical databases.

### Actual behavior
When there is no storage unit in any logical database, the list of logical databa

[2022-11-01 10:49] RaigorJiang commented on #21888
The SQL statement of `\l` is:
[code]

[2022-11-01 11:02] jitawangzi commented on #21518
https://github.com/apache/shardingsphere/issues/3024#issuecomment-545339666
this is the basic reason，when blob data  contains numbers less than 0 ,the result is incorrect .
i add ```useServerPrepStmts=true``` and ```cachePrepStmts=true``` to jdbc url,it works for me . But I still feel that this should not be the way to solve this problem.

[2022-11-01 11:14] lyf200581105 commented on #19503
hello
Any update for this?

[2022-11-01 12:57] MaricoHan opened #21894 "Integer CastException occur when select in subquery"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-01 13:08] MaricoHan opened #21895 "NullPointerException occur when commit migration job ~"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If