[2022-05-06 02:43] zjcnb opened #17360 "Get all tables name throws NPE when use PostgreSQL database"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Not throws NPE

### Actual behavior

[code]

### SQL

`readwrite_splitting_db=> select * from pg_tables where schemaname = 'readwrite_splitting_db';`

The `readwrite_splitting_db` schema not have table.

[2022-05-06 02:48] strongduanmu commented on #17360
@zjcnb Thank you for your feedback, I will investigate this issue.

[2022-05-06 02:54] zjcnb commented on #17204
@strongduanmu Hi,i want to do this. Can you assign me? Thx

[2022-05-06 02:56] strongduanmu commented on #17204
@zjcnb Of course. We can consider implementing the global search path first by adding a configuration.

[2022-05-06 03:17] cheese8 commented on #17196
As now `queryWithCipherColumn `  effected on global and table level, maybe you can rollback the `phone` column, when the whole table finished encryption, then commit the whole table. @zhaoguhong

[2022-05-06 03:23] zjcnb opened #17365 "DistSQL RAL SHOW TABLE METADATA TABLE NAME risk of NPE"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Not throw NPE.

### Actual behavior

[code]

The `t_order` table does not actually exist.

[code]

[2022-05-06 03:56] nickfan commented on #17299
![image](https://user-images.githubusercontent.com/100613/167060373-4aee9cad-4fb5-4f3b-95db-e40ebaff1356.png)
shardingsphere information_schema tables is just a mockup? or did i miss sth ?

I've put together the relevant configuration files for reproducing these issues.

apache shardingsphere 5.1.1

server.yaml
[code]

config-sharding.yaml
[code]

mysql source schema init sql:

[code]

data mockup

[2022-05-06 04:16] #17351 closed

[2022-05-06 04:17] #16759 closed

[2022-05-06 05:36] soulasuna commented on #17228
@zjcnb assign to me

[2022-05-06 05:38] zjcnb commented on #17170
The bug are fixed.

[2022-05-06 05:38] #17170 closed

[2022-05-06 06:44] jiangce111 opened #17373 "A simple select error about sharding-proxy"
### This table has no sharding,table structure:
[code]

 When I run a select statement, the following error occurs:
[code]
 When you use SELECT * or select another column, the results will work ,After several tests, the query results are normal after removing the TANK column

[code]

The version I used before was 5.1.0, and the result was still abnormal after I updated it to 5.1.1

[2022-05-06 06:57] strongduanmu commented on #17373
Hi @jiangce111, thank you for your feedback. Can you use quotes around rank? Just like 'rank'. According to issue #14224, the rank keyword is no longer supported in MySQL 8.0, so it is better not to name the field rank.

[2022-05-06 07:05] strongduanmu opened #17375 "[WeOpen-Star] Add more unit test for FederationDatabaseMetaData"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

We need to add more unit test for FederationDatabaseMetaData.

- [ ] FederationDatabaseMetaData#putSchemaMetadata
- [ ] FederationDatabaseMetaData#putTableMetadata
- [ ] FederationDatabaseMetaData#removeSchemaMetadata
- [ ] FederationDatabaseMetaData#removeTableMetadata
- [ ] FederationDatabaseMe

[2022-05-06 07:09] jiangce111 commented on #17373
Sorry for not finding relevant errors before, thank you for your answers, THE MySQL version I use is 5.7.33, and the connector version is mysql-connector-Java-5.1.49  ,when i use  quotes around rank the result is normal.

[2022-05-06 07:09] #17373 closed

[2022-05-06 07:13] #17228 closed

[2022-05-06 08:06] strongduanmu opened #17376 "PSQLException occurs when execute join statement with multi schema in readwrite splitting scenario"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/7f0b51a05c61928673c4fe9581c4dfbe8a66c585

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM t_order o INNER JOIN test_schema_1.t_order_item i ON o.user_id = i.user_id AND o.order_id = i.order_

[2022-05-06 08:49] sandynz opened #17380 "Create table failed in ShardingSphereDataSource immediately after creating schema"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 01af864c821621ea5e48864e77c4cedcc378b1a1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Not exception thrown.

### Actual behavior
Create table failed in ShardingSphereDataSource after creating schema:
[code]

Another exception after creating schema in Sh

[2022-05-06 11:22] azexcy opened #17388 "ShardingSphereLock.tryLock try lock not take effect sometimes."
## Bug Report

When i test `RuleAlteredJobAPIImpl.stopClusterWriteDB` method
`lock.tryLock()` execute succeed, but the `lock.isLocked()` return false.

### Which version of ShardingSphere did you use?

master b4f748242ca44dc4d3319d9b5a8f5ada08765f8a

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

`lock.isLocked()`  return s

[2022-05-06 11:51] galaxylqx opened #17391 "upgrade ModShardingAlgorithm"
## Feature Request

The first optimization，the current ModShardingAlgorithm algorithm only supports taking the modulo of the entire number, and cannot take the modulo of a few digits. There is often a need to take the modulo of a few digits in the business. It is hoped that the enhanced version will meet the requirements
for example
id = 12345
Currently supports
12345 % 2

hope to support
1234% 2

[2022-05-06 12:24] sandynz commented on #17380
Seems `PostgreSQLDDLStatementSQLVisitor.visitCreateSchema` doesn't filter quoted character.

[code]

[2022-05-06 12:57] RaigorJiang commented on #17299
@nickfan
Yes, the metadata schemas (like information_schema) are still in the simulation stage, you can refer to:
https://github.com/apache/shardingsphere/tree/master/shardingsphere-infra/shardingsphere-infra-common/src/main/resources/schema/mysql

In the future, ShardingSphere will update the information in the metadata schemas in an asynchronous way.
If you are interested, we can improve it toge

[2022-05-06 13:28] PaleWhiteDot opened #17396 "The problem of insert into select from ... sql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [[GitHub issues](https://github.com/apache/shardingsphere/issues)](https://github.com/apache/shardingsphere/issues).
- Read documentation: [[ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview)](https://shardingsphere.apache.org/

[2022-05-07 01:12] #17139 closed

[2022-05-07 01:41] strongduanmu commented on #17360
Hi @zjcnb, this bug has been fixed in master branch.

[2022-05-07 01:59] wsg96321 commented on #17308
Hi, I konw this config different, but thanks alot . The reason that I show this config because I just `cat` the file of the sharding proxy which running with `File mode` , then it flush config in file. Maybe it is right.

The function of this script is just connect a sharding proxy with port(8777,default is 3307) by `mysql client` without interactive for 3 seconds .It doesn't matter for this scrip

[2022-05-07 02:00] #15411 closed

[2022-05-07 02:11] newchendb opened #17401 "Shardingsphere-JDBC5.1.1 + seata1.4.2 Distributed transaction cannot be rolled back normally"
Shardingsphere-JDBC version is 5.1.1
Seata version is 1.4.2

**module-order**
seata config:
[code]
shardingsphere config:
[code]

**module-product**
seata config:
[code]
shardingsphere config:
[code]

**The order module calls the product module and reports the following error,
What's the problem?**

[code]

https://github.com/newchendb/shardingjdbc-seata-test

[2022-05-07 02:15] VeejaLiu opened #17402 "Doesn't support IFNULL ?"
## Bug Report
### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

# max():
SQL:
[code]
log:
[code]

# IFNULL():
[code]

[code]

Maybe we need to aggregate the results again after finding the results in slices. Although this sounds very troublesome.

[2022-05-07 02:52] strongduanmu commented on #17402
@VeejaLiu Thank you for your feedback, ShardingSphere doesn't suppot ifnull function now. Are you interested in submitting a PR to improve it?

[2022-05-07 02:54] strongduanmu commented on #17380
@sandynz Thank you for your feedback, I will optimize this issue.

[2022-05-07 03:05] strongduanmu opened #17406 "Wrong route result when execute create schema statement in encrypt scenario"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/a2605cdf4680db08137c4b888d8b26de7eeaf4e2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Route `CREATE SCHEMA test_schema_1;` statement to all datasource.

### Actual behavior

Following is encrypt config:

[code

[2022-05-07 03:07] taojintianxia opened #17407 "update the config segment in shadow document as the same style in the config in proxy distribution"
in the [shadow document](https://shardingsphere.apache.org/document/current/cn/reference/shadow/), as we can see the style of the config is like following :
[code]

and the config for shadow in proxy distribution is like following style :
[code]

the sourceDataSourceName and shadowDataSourceName naming style are totally different. will update the config in document.

[2022-05-07 03:08] taojintianxia commented on #17407
please assign this to me

[2022-05-07 03:37] sandynz opened #17409 "gsql could not login to Proxy with default postgres database"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit d7a8079e5141474e47e4aaa42221feda32047964

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
gsql could login to Proxy with postgres.

### Actual behavior
Client log:
[code]
No log in Proxy.

### Reason analyze (If you can)
`postgres` exists in registry center

[2022-05-07 03:40] MfkOTT opened #17410 "Page failure occurs when PageHelper pages are used and there is a Group by in SQSL statements"
## Bug Report
version:4.1.1
Page failure occurs when PageHelper pages are used and there is a Group by in SQSL statements

   SELECT
           SUM(xx)
        FROM
            xx
        WHERE
        and statistics_time <![CDATA[ <= ]]> #{endTime} and statistics_time <![CDATA[ >= ]]> #{startTime}
        GROUP BY
        xx
when i delete "GROUP BY" then sharding can work ,or i didn't use pagehel

[2022-05-07 03:50] chakkk309 commented on #6480
Hi @strongduanmu, I want to work on this first:
- [ ] `DROP EDITION`

[2022-05-07 05:01] sandynz commented on #17409
Hi @TeslaCN , could you help to have a look at this issue?

[2022-05-07 05:33] TeslaCN commented on #17409
`gsql` would query `pg_settings` when establishing connection.
![image](https://user-images.githubusercontent.com/20503072/167239981-a61728c7-4712-43bc-933c-a5f1ef7945fe.png)
![image](https://user-images.githubusercontent.com/20503072/167240004-72cf4ca4-3cb2-4bfb-922e-5e8b17119a88.png)
![image](https://user-images.githubusercontent.com/20503072/167240009-a266081a-76ab-4481-8682-ff3fea42d6cf.png)
!

[2022-05-07 05:47] TeslaCN commented on #17308
I tried the following commands and created about 3000 `TIME_WAIT` in my environments. But the Proxy still worked well.

[code]

[2022-05-07 06:24] jingshanglu commented on #17401
[code]
Is it right?

[2022-05-07 06:25] jingshanglu commented on #17401
[code]
Is it right?

[2022-05-07 06:37] newchendb commented on #17401
@jingshanglu  Right.
product_info is a logical table

[2022-05-07 06:43] azexcy commented on #17092
I tested it(both test at docker and native), use the same configuration, but the problem can't reproduce

[2022-05-07 07:20] azexcy commented on #17092
https://github.com/apache/shardingsphere/actions/runs/2284252654
The scaling IT test will execute once  a day, it does not appear to have this problem, did you do any special operations?

[2022-05-07 07:36] deploymentadmin opened #17415 "error Insert statement does not support sharding table routing to multiple data nodes."
![image](https://user-images.githubusercontent.com/97282143/167244006-2d5c7c8a-c6fa-46f3-adff-7a5ec6f5d243.png)

execute  sql ="insert into user(city,name,code) values('a','b',1)";  error  Insert statement does not support sharding table routing to multiple data nodes.   version for 5.1.1
try again,it‘s key-generate not work ,  why key generate is not work?

[2022-05-07 08:35] marker-wu opened #17418 "Does it support mysql batch update?"
Does it support mysql batch update? use mybatis

[2022-05-07 08:38] strongduanmu opened #17419 "Consider optimizing RoundRobinTrafficLoadBalanceAlgorithm and RoundRobinTrafficLoadBalanceAlgorithm logic"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

As shown below, in the `RoundRobinTrafficLoadBalanceAlgorithm` and `RoundRobinReplicaLoadBalanceAlgorithm` algorithms, the static variable `COUNTS` is used to store the count during the load balancing process. This implementation is unnecessary and increases the complexity of the a

[2022-05-07 08:49] TeslaCN commented on #17418
You may use the method `addBatch()` of `PreparedStatement`.

[2022-05-07 08:52] TeslaCN commented on #17410
The version 4.1.1 is no longer maintained. Could you try the ShardingSphere 5.1.1?

[2022-05-07 08:59] #17388 closed

[2022-05-07 09:09] cucuzi opened #17421 "How can I forced routing when I using Inline Sharding Algorithm."
I select two using sharding table, but sharing execute full table routing.
I thinking one reason is sql join key is not sharding key.
**SQL**
[code]
**Actually Runing SQL**
[code]
**Expected SQL**
[code]
**Sharding Config**
[code]

[2022-05-07 09:18] happyi commented on #16569
bulk testing  get  the same result

[2022-05-07 09:19] happyi commented on #16569
bulk testing get the same result

[2022-05-07 09:19] TeslaCN commented on #16569
@happyi Could you share your tests and results with us?

[2022-05-07 09:22] happyi commented on #16569
Can I add a wechat ？

[2022-05-07 09:29] lanchengx opened #17423 "Plan to refactor DistSQL's RAL syntax"
**Aim**
Move the grammar related to global rules in the RAL grammar to the corresponding global rules module.

Reference feature module

<img width="376" alt="image" src="https://user-images.githubusercontent.com/52209337/167248009-e0ca2d2b-d1c7-4141-aa47-18ba9cf4d739.png">

[2022-05-07 09:40] TeslaCN commented on #16569
It is better to discuss things in a public way. But if you have something unable to upload or sensitive, you may send us an Email.

[2022-05-07 10:00] zjcnb commented on #17092
No, i not have special operations. I use `brew install mysql` in my macbook.

[2022-05-07 10:01] happyi commented on #16569
which email

[2022-05-07 11:07] sandynz opened #17427 "New version metadata lost data after alterting sharding table rule"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 43a33ebda4b6c669e2fd35043fb130edeb939040

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy, scaling enabled

### Expected behavior
New version metadata do not lose data when alterting sharding table rule.

### Actual behavior
Only altered table's rule is kept.

Version 0 metadata:

[2022-05-07 13:26] strongduanmu commented on #6480
@chakkk309 Great.

[2022-05-07 16:17] cheese8 opened #17431 "support oracle multi insert with federation"
## Feature Request

related: #15689 this will be implemented in federation module later.

[2022-05-08 01:59] #17419 closed

[2022-05-08 03:31] #17415 closed

[2022-05-08 04:04] Jiutwo opened #17440 ""url not set" probleam with Druid connection pool"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Execute a simple sql statement
### Actual behavior
Throw a Exception
[code]
### Reason analyze (If you can)
There may be a problem in reading the configuration of sharding
### Steps to reproduce the behavior, suc

[2022-05-08 05:30] #17406 closed

[2022-05-08 06:14] yuzhiping95 opened #17443 "How to use skywalking monitor sharding-jdbc 5.0?"
Question:
I dont know how to use skywalking monitor sharding-jdbc 5.0.
Can sharding-Jdbc achieve this goal?
If the middleware supports this feature, could you give me some advice? I cant find any solution of sharding-jdbc.
Thanks for your support！

[2022-05-08 06:39] terrymanu opened #17444 "The settle value are not changed with SetVariableExecutorTest"
Please find `// FIXME should be 1024, but is 128` comment in class SetVariableExecutorTest.
The settle values does not effective.

[2022-05-08 10:20] strongduanmu opened #17446 "Add unit test for SingleTableDatabaseBroadcastRouteEngine"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for SingleTableDatabaseBroadcastRouteEngine.

- [ ] SingleTableDatabaseBroadcastRouteEngine#route

[2022-05-08 10:22] strongduanmu opened #17447 "Add unit test for SingleTableRouteEngineFactory"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for SingleTableRouteEngineFactory.

- [ ] SingleTableRouteEngineFactory#newInstance

[2022-05-08 10:24] strongduanmu opened #17448 "Add more unit test for SingleTableSQLRouter"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for SingleTableSQLRouter.

- [ ] SingleTableSQLRouter#decorateRouteContext

[2022-05-08 10:28] strongduanmu opened #17449 "Metadata can't be loaded when executing `CREATE SCHEMA.TABLE` statement in encrypt scenario"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/3ebf5143c9bb818231b50da5b461d392d29ba4ff

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `CREATE SCHEMA test_schema_1;`, and load encrypt metadata successfully.

### Actual behavior

Metadata can't be loa

[2022-05-08 12:01] linghengqian commented on #17443
- In fact, ShardingSphere JDBC itself has a corresponding plug-in in Skywalking Java Agent. As long as your application can access its own SkyWalking OAP Server through JavaAgent, you can naturally trace the traces of ShardingSphere through the link.
- Issues related to Skywalking have little to do with ShardingSphere.
- ![trace-list](https://user-images.githubusercontent.com/20187731/167295170-f0

[2022-05-08 12:05] linghengqian commented on #17440
- You can refer to `shardingsphere/shardingsphere-jdbc/shardingsphere-jdbc-spring/shardingsphere-jdbc-core-spring/shardingsphere-jdbc-core-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json` and its corresponding execution class `org.apache.shardingsphere.infra.datasource.pool.creator.DataSourcePoolCreator` . The JDBC pool property name depends entirely o

[2022-05-08 12:08] linghengqian opened #17451 "Update Mockito to 4.5.0 or newer to help with GraalVM integration"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

No. But refer to https:/

[2022-05-08 13:59] #17440 closed

[2022-05-08 14:45] linghengqian commented on #17440
This is actually related to the `5.1.0` change, and it might be better to include appropriate instructions in the documentation.🤔

[2022-05-08 14:55] Jiutwo commented on #17440
Thank you for your answer.
That what I think, the documen in official website is too simple to fully understand. And it would be better if there were more examples.

[2022-05-08 15:05] terrymanu commented on #17014
Great, please go ahead

[2022-05-09 00:14] strongduanmu opened #17458 "PSQLException occurs when execute DROP SCHEMA test_schema_1 statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/35d45449ea5bd8ae5e594c5cb657bd2ff701d71e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `DROP SCHEMA test_schema_1` statement successfully in all databases, or throw an exception in advance, instead of d

[2022-05-09 01:56] sandynz opened #17460 "Table name is case-sensitive when altering sharding table rule by DistSQL"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Table name is case-insensitive when altering sharding table rule by DistSQL.

### Actual behavior
Table name is case-sensitive.
Error log:
[code]

Operation details on Proxy:
[code]

### Reason analyze (If you can)

[2022-05-09 02:11] #17449 closed

[2022-05-09 02:17] jingshanglu commented on #17401
It may be same to  https://github.com/apache/shardingsphere/issues/14550 ,Can you check it?

[2022-05-09 02:20] happyi commented on #16569
the code refer to  [https://github.com/happyi/sharding-test.git](https://github.com/happyi/sharding-test.git)

[2022-05-09 02:24] happyi commented on #16569
Hi ，Mention
i’have write a demo。

 https://github.com/happyi/sharding-test.git

 原始邮件
发件人: ***@***.***>
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
发送时间: 2022年5月7日(周六) 17:40
主题: Re: [apache/shardingsphere] Serious performance loss (Issue #16569)

@happyi Could you share your tests and results with us?
Can I add a wechat ？
It is better to discuss things in a public way. But if you have somethi

[2022-05-09 02:27] newchendb commented on #17401
@jingshanglu It should be a similar problem. How to solve it?

[2022-05-09 02:34] sandynz opened #17461 "ClusterContextManagerCoordinatorTest.assertTriggerShowProcessList run failed on Windows CI"
## Bug Report

https://github.com/apache/shardingsphere/runs/6341978025?check_suite_focus=true

[code]

[2022-05-09 03:36] anonymous-lj opened #17466 "select union subquery NullPointerException"
### Which version of ShardingSphere did you use?
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.1</version>
</dependency>

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Actual behavior
`Caused by: java.lang.NullPoin

[2022-05-09 03:45] #17407 closed

[2022-05-09 04:18] #17458 closed

[2022-05-09 05:14] strongduanmu commented on #17466
Hi @anonymous-lj, thank you for your feedback, Can you provide your sharding configuration and create table statement?

[2022-05-09 05:23] #17380 closed

[2022-05-09 05:34] anonymous-lj commented on #17466
@strongduanmu
config
`spring:
  shardingsphere:
    mode:
      type: Memory
    datasource:
      names: fund
      fund:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
    rules:
      sharding:
        tables:
          api_flow:
            actual-data-nodes: fund.api_flow_${0..19}
            table-strategy:
              standard:

[2022-05-09 05:41] strongduanmu opened #17471 "Add unit test for SingleTableMetadataValidatorFactory"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for SingleTableMetadataValidatorFactory.

- [ ] SingleTableMetadataValidatorFactory#newInstance

[2022-05-09 05:43] strongduanmu opened #17472 "[WeOpen-Star] Add unit test for SingleTableDropSchemaMetadataValidator"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

We need to add more unit test for SingleTableDropSchemaMetadataValidator.

- [ ] SingleTableDropSchemaMetadataValidator#validate

[2022-05-09 06:51] WYuyin opened #17474 "Does the inline expression support regex?"
My question may be a bit long. I want to divide my table by month, like 'tb_statistic_202201'~'tb_statistic_203012'.
In the beginning, the configuration was:
`rules:
      sharding:
        sharding-algorithms:
          sharding-by-time:
            type: INTERVAL
            props:
              datetime-pattern: 'yyyy-MM-dd HH:mm:ss'
              datetime-lower: '2022-01-01 00:00:00'

[2022-05-09 07:00] WYuyin commented on #17474
solved by `$->{22..30}$->{['01','02','03','04','05','06','07','08','09','10','11','12']}`

[2022-05-09 07:00] #17474 closed

[2022-05-09 07:17] #17143 closed

[2022-05-09 07:27] lanchengx commented on #17444
In cluster mode, props will be refreshed through notifications, but in stand-alone mode or in-memory mode, there may be inconsistencies between cache and props data. Fix in https://github.com/apache/shardingsphere/pull/17465

[2022-05-09 08:15] marker-wu commented on #17418
![image](https://user-images.githubusercontent.com/45256940/167368537-3c3c0462-bbac-4d1c-b3b1-d5072f1ea432.png)
use this way ,it worked！

[2022-05-09 08:21] pcyan opened #17477 "sharding-jdbc: Oracle pagination query error"
version
[code]

testcase
[code]

pagination case 3 throw exception
[code]

[2022-05-09 08:24] zhaoguhong commented on #17196
ok，I see

[2022-05-09 08:38] MfkOTT opened #17478 "Sharding converts the uppercase letters of mysql fields to lowercase letters"
**version:4.1.1**
![image](https://user-images.githubusercontent.com/14286747/167372515-6c997671-ff0c-4363-9dff-6dbeedb0af27.png)

![image](https://user-images.githubusercontent.com/14286747/167372580-ca73c4e0-8520-4c3c-b3eb-81cef5e9ece6.png)

**Can conversion be disabled**

[2022-05-09 08:51] RaigorJiang commented on #17194
Hi @sandynz
When I use the opengauss protocol (jdbc:opengauss), the `create table` statement is correct;
But when I use postgresql protocol (jdbc:postgresql), the problem still exists.

[2022-05-09 09:35] misselvexu commented on #17471
Please assign this issue to me , thanks ~

[2022-05-09 09:48] By1995 opened #17480 "XA transaction RuntimeExcepiton"
version:lastest

config:
       server.yaml:
               rule:
                    - !TRANSACTION
                      defaultType: XA
                      providerType: Atomikos
I have two logical databases,  sharding_db and sharding_db2;
sharding_db => actual databases   ds_0, ds_1
sharding_db2 => actual databases   ds_0, ds_1
sharding_sames as sharding_db2

connection2:
          mysql> us

[2022-05-09 09:51] pcyan opened #17481 "sharding-jdbc: Oracle batch insert error"
two kind of oracle batch insert didn't work.

version
[code]

testcase
[code]

detail of exception
[code]

[2022-05-09 09:58] q3056917665 opened #17482 "Cross database query ,prompt: schme not exist"
version

[code]

When I cross database query，it prompt "schme not exist" for me.
So what configuration does it need？of course I didn't find this configuration,
or it not support Cross database query.

[2022-05-09 10:13] misselvexu commented on #17447
Please assign this issue to me , thanks ~

[2022-05-09 10:13] wuwu20048 opened #17483 "why 5.1.1 version The SQL clause 'IS' is unsupported?"
## Bug Report

 "is not null" or "<> null" was supported for encrypt  cipher filed  in 5.0.0 version . but in 5.1.1 version The SQL clause 'IS' is unsupported.

why ?

### Which version of ShardingSphere did you use?
 5.1.1 version
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Expected behavior
I want the “IS” work well for the cipher filed
##

[2022-05-09 10:57] zjcnb opened #17487 "Invalid binding table configuration in ShardingRuleConfiguration when alter SHARDING TABLE RULE"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`No error msg`

### Actual behavior

[code]

### Configuration

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

[2022-05-09 10:59] #17427 closed

[2022-05-09 11:07] cheese8 commented on #17483
I will follow this.

[2022-05-09 12:20] strongduanmu commented on #17447
@misselvexu Welcome.

[2022-05-09 12:21] #17447 closed

[2022-05-09 14:16] lanchengx commented on #17460
@sandynz  Thanks for your feedback, I will fix it.

[2022-05-09 15:23] terrymanu opened #17498 "Add driver impl for ShardingSphere-JDBC"
The current ShardingSphere-JDBC can create by data source interface only.
It is better to impl the Driver interface to improve usage.

The JDBC Driver can use URL to initialize ShardingSphere-JDBC. The content of URL could be governance center address or local yaml file.

[2022-05-09 15:27] longtai-cn commented on #17498
@terrymanu Hello, can I finish this task.

[2022-05-10 01:22] strongduanmu commented on #17487
@yx9o Welcome.

[2022-05-10 01:22] #17471 closed

[2022-05-10 01:49] misselvexu commented on #17446
Please assign this issue to me , thanks ~

[2022-05-10 02:30] tristaZero opened #17502 "[WeOpen-Star] ShardingSphere is invited to attend Tencent openSource event as a mentor community"
Hello community,

ShardingSphere will be one of the mentor communities at this [WeOpen-Star](https://github.com/weopenprojects/WeOpen-Star) non-profit event, as stated in the title. Throughout the event, the ShardingSphere community will post tasks for participants to complete, such as coding, translation, and provide mentoring. All of these tasks will be related to this one in order to assist par

[2022-05-10 03:52] LuwendiWuyi opened #17507 "Does Sharding-jdbc support PostgreSQL “with recursive”"
When I use PostgreSQL‘s  “with recursive” to implement  recurrence method， the ShardingAlgorithm does not work. So I want to konw
does Sharding-jdbc support PostgreSQL “with recursive”

[2022-05-10 05:08] strongduanmu commented on #17507
Hi @LuwendiWuyi, ShardingSphere does not suppot with recursive statement with sharding feature now.

[2022-05-10 05:19] cheese8 commented on #17481
duplicated ##15689 see #17431

[2022-05-10 07:17] #16256 closed

[2022-05-10 07:24] jingshanglu commented on #14550
#17509 will fix it.

[2022-05-10 07:27] lanchengx commented on #16998
@tuichenchuxin Please help to confirm whether the prefix is obtained correctly.
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/52209337/167572947-c46a5782-ca8c-4b28-9240-cf01c9013b4a.png">

[2022-05-10 07:41] lanchengx commented on #17365
Hi @zjcnb could you provide the relevant configuration? I can't reproduce it in Proxy started with only `server.yaml` configuration.
<img width="254" alt="image" src="https://user-images.githubusercontent.com/52209337/167575386-3455c3ed-ba31-419b-857e-a22e0edda9ed.png">

[2022-05-10 07:52] grapeqin commented on #4622
in 5.1.1 version ,please take the following steps：

1. implement ComplexKeysShardingAlgorithm<Comparable<?>> create my own ClassBasedShardingAlgorithm
2. override doSharding(Collection<String> availableTargetNames, ComplexKeysShardingValue<Comparable<?>> shardingValue) method
3. get each ColumnNameAndShardingValue from shardingValue
`Map<String, Collection<Comparable<?>>> shardingMap = shardingVal

[2022-05-10 08:16] #17365 closed

[2022-05-10 08:19] zjcnb commented on #16646
@Devamparikh Hi, how is this mission?

[2022-05-10 08:24] lanchengx commented on #17203
Hi @azexcy, you can try to use the latest code from master, it works.
<img width="1717" alt="image" src="https://user-images.githubusercontent.com/52209337/167583507-816b0f3c-cd25-4511-a3aa-a11a323b6b1b.png">

[2022-05-10 08:48] Devamparikh commented on #16646
Sorry I didn't get time and then forgot about this.
I will work on it once I get time.

[2022-05-10 08:59] zjcnb opened #17517 "[WeOpen-Star] Add unit test for ClusterContextManagerCoordinator.renew(final SchemaAddedEvent event)"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

Add unit test for ClusterContextManagerCoordinator.renew(final SchemaAddedEvent event).

[2022-05-10 09:06] sandynz opened #17518 "Start scaling job might fail since tryLock failure after stopping scaling job"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy, scaling enabled

### Expected behavior
stop scaling and start scaling could be executed repeated, without tryLock failure.

### Actual behavior
Start scaling failed:
[code]

### Reason analyze (If you can)

### Steps to reproduce the beha

[2022-05-10 09:23] zjcnb opened #17519 "[WeOpen-Star] Add unit test for ClusterContextManagerCoordinator.renew(final SchemaDeletedEvent event)"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

Add unit test for ClusterContextManagerCoordinator.renew(final SchemaDeletedEvent event).

[2022-05-10 09:28] #16646 closed

[2022-05-10 09:30] zjcnb commented on #16299
@soulasuna Thank you, i see.

[2022-05-10 09:30] #16299 closed

[2022-05-10 09:42] yangsen00 commented on #16091
I'm busy for my work.I'll finish it this week

[2022-05-10 09:47] sandynz commented on #17518
Hi @soulasuna , could you help to have a look at this issue?

[2022-05-10 09:48] soulasuna commented on #17518
@sandynz Assigne to me

[2022-05-10 10:21] #17518 closed

[2022-05-10 11:03] TeslaCN opened #17524 "Error logs were printed to STDERR when exception occurred in event subscriber"
## Feature Request

### Is your feature request related to a problem?

If the exception was catched by `com.google.common.eventbus.EventBus$LoggingHandler`, the error log will be printed to STDERR, while the ShardingSphere-Proxy using logback as logging implementation. The error logs printed to STDERR will not appear in log file create by FileAppender.

[code]

![image](https://user-images.githubu

[2022-05-10 15:19] terrymanu commented on #16994
Fixed by #17527 and #17528

[2022-05-10 16:48] terrymanu opened #17537 "Add test cases for SPI factories"
The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference `ClusterPersistRepositoryFactoryTest` or `ScalingEntryFactoryTest` as samples.

The SPI

[2022-05-11 02:26] TeslaCN commented on #15792
Close due to no response.

[2022-05-11 02:26] #15792 closed

[2022-05-11 02:39] terrymanu opened #17540 "Add test case for SQLExecutionUnitBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 03:30] By1995 opened #17542 "XA transcation has a bug"
version： 5.1.1  and latest
project:    shardingsphere-proxy
cluster mode
use  Atomikos
reference:  https://community.sphere-ex.com/t/topic/954/25
I have two logical databases , sharding_db and sharding_db2

Expected behavior:
The two databases should support XA transaction.

actual behavior:
only  sharding_db2 supports XA transaction.
sharding_db error:
`ERROR 1815 (HY000): Internal error: javax.t

[2022-05-11 03:39] TeslaCN opened #17543 "ShardingSphere-Scaling didn't support table with union primary key"
## Feature Request

### Is your feature request related to a problem?

[code]

[code]

[code]

Error occurred:
[code]

### Describe the feature you would like.

Not urgent.
Consider supporting table with union primary key.

[2022-05-11 03:42] zjcnb commented on #17487
Sorry, i forget to provider `server.yaml`, i use `cluster mode`

[2022-05-11 03:44] #17524 closed

[2022-05-11 04:51] yx9o commented on #17487
Ok, i'll try again.

[2022-05-11 05:39] tuichenchuxin commented on #16998
@lanchengx OK, I'll check it.

[2022-05-11 06:39] TeslaCN commented on #17487
+1

Drop binding table rule didn't worked in cluster mode.

[code]

[code]

[2022-05-11 06:45] TeslaCN commented on #17478
Hi @MfkOTT
Could you try the ShardingSphere 5.1.1? The 4.1.1 is no longer maintained.

[2022-05-11 06:49] TeslaCN commented on #17482
You may configure data sources and `actualDataNodes` in sharding rule. Such as:

[code]

[2022-05-11 06:56] MfkOTT commented on #17478
According to the actual situation of the current project, there are too many compatibility problems after the upgrade, so I can't upgrade the version easily

[2022-05-11 06:57] MfkOTT commented on #17478
According to the actual situation of the current project, there are too many compatibility problems after the upgrade, so I can't upgrade the version easily

[2022-05-11 07:42] TeslaCN opened #17545 "ERROR: replication should connect HA port in thread_pool occurred in ShardingSphere-Scaling openGauss"
## Bug Report

### Which version of ShardingSphere did you use?

master - 49953efd394c2a56d3851fc53c0b8791777bc4f7

### Expected behavior

Scaling succeeded.

### Actual behavior

Logs:
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

Using openGauss 3.0 and the following configurations:

[2022-05-11 07:51] sandynz commented on #17545
Hi @azexcy , seems the same error appear, could you help to have a look at it?

[2022-05-11 08:00] azexcy commented on #17203
Ok, I will try later, Thanks

[2022-05-11 08:02] azexcy commented on #17545
OK, I will check this.

[2022-05-11 08:12] terrymanu opened #17548 "Add test case for DatabaseTypeFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:12] terrymanu opened #17549 "Add test case for PipelineDataSourceCreatorFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:12] terrymanu opened #17550 "Add test case for RALUpdaterFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:12] terrymanu opened #17551 "Add test case for SQLVisitorFacadeFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17552 "Add test case for OptimizerSQLDialectBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17553 "Add test case for TransactionConfigurationFileGeneratorFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17554 "Add test case for PositionInitializerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17555 "Add test case for DialectDDLGenerator"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17556 "Add test case for OKProxyStateFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17557 "Add test case for PipelineSQLBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17558 "Add test case for DriverStateFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17559 "Add test case for PersistRepositoryConfigurationYamlSwapperFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:13] terrymanu opened #17560 "Add test case for DatetimeLoadingSQLProviderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:14] terrymanu opened #17561 "Add test case for DataSourceCheckerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:14] terrymanu opened #17562 "Add test case for StoragePrivilegeHandlerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:14] terrymanu opened #17563 "Add test case for RuleDefinitionAlterPreprocessorFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17564 "Add test case for SaneQueryResultEngineFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17565 "Add test case for RuleDefinitionUpdaterFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17566 "Add test case for MetaDataRefresherFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17567 "Add test case for StatementMemoryStrictlyFetchSizeSetterFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17568 "Add test case for ReplicaLoadBalanceAlgorithmFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17569 "Add test case for DatetimeServiceFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17570 "Add test case for RowBasedJobLockFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] terrymanu opened #17571 "Add test case for RuleBasedJobLockFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:15] TeslaCN commented on #17545
This issue cannot be reproduced after disabled thread pool of openGauss.
[code]

[2022-05-11 08:17] terrymanu opened #17572 "Add test case for KeyGenerateAlgorithmFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:17] terrymanu opened #17573 "Add test case for RuleAlteredJobConfigurationPreparerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:18] terrymanu opened #17574 "Add test case for TrafficLoadBalanceAlgorithmFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:20] TeslaCN commented on #17545
But disabling thread pool may impact the performance of openGauss. We may need a better solution.

[2022-05-11 08:29] terrymanu opened #17575 "Add test case for ResultProcessEngineFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17576 "Add test case for SQLRouterFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17577 "Add test case for SQLCheckerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17578 "Add test case for RuleBasedSchemaMetaDataBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17579 "Add test case for ExecutionPrepareDecoratorFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17580 "Add test case for SQLRewriteContextDecoratorFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17581 "Add test case for DataNodeBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:29] terrymanu opened #17582 "Add test case for SchemaRuleBuilderFactory"

[2022-05-11 08:29] terrymanu opened #17583 "Add test case for GlobalRuleBuilderFactory"

[2022-05-11 08:30] terrymanu opened #17584 "Add test case for DefaultGlobalRuleConfigurationBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:30] terrymanu opened #17585 "Add test case for DefaultSchemaRuleConfigurationBuilderFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 08:30] terrymanu opened #17586 "Add more test cases for XAConnectionWrapperFactoryTest"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 09:31] terrymanu opened #17591 "Add test case for QueryableScalingRALBackendHandlerFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 10:07] terrymanu opened #17593 "Add test case for RuleAlteredJobAPIFactory"
This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference

[2022-05-11 10:30] terrymanu opened #17595 "Add test case for DatabaseAdminExecutorCreatorFactory"
The steps of add test case  of SPI factories:

1. Create or reuse a SPI fixture, name as `XXXFixture` in test folder and do not forget put them into META-INF/services;
2. Add test case for XXXFactory's `newInstance`, `findInstance`, `getInstance`, `getInstances`, `getAllInstances` and so on;
3.Please reference `ClusterPersistRepositoryFactoryTest` or `ScalingEntryFactoryTest` as samples.

[2022-05-11 10:54] DreamTexX commented on #12170
Yes

[2022-05-11 10:55] DreamTexX commented on #12170
Sorry for answering so late, didn't got a notification

[2022-05-11 11:39] xxbcoder opened #17596 "Does sharding proxy support SSL? If so, how to configure it?"
Does sharding proxy support SSL? If so, how to configure it?

[2022-05-11 12:48] lcxywfe commented on #6693
Any news? phpmyadmin also need information_schema.

[2022-05-11 14:17] #14550 closed

[2022-05-11 14:42] strongduanmu commented on #17477
Hi @pcyan, thank you for your feedback. Can you provide your sharding configuration and create table statement?

[2022-05-11 17:47] lcxywfe opened #17600 "worker id of snowflake not work"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-12 01:56] #6165 closed

[2022-05-12 02:00] #13972 closed

[2022-05-12 02:01] #15975 closed

[2022-05-12 02:35] xxbcoder commented on #17596
If MySQL enables SSL, I use sharding proxy. What should be configured on sharding proxy to connect?

[2022-05-12 03:14] zjcnb commented on #17600
@lcxywfe Hi, The `work-id` are removed in `5.1.1 `version. When you use `ShardingSphere cluster mode`, the `work-id` are automatic generated.

[2022-05-12 03:21] zjcnb commented on #16088
It's done. I close it.

[2022-05-12 03:21] #16088 closed

[2022-05-12 03:22] zjcnb commented on #16091
OK, i 'm looking forward.

[2022-05-12 03:25] zjcnb commented on #16926
@csonezp Hi, are you still watching this mission?

[2022-05-12 03:27] zjcnb commented on #16925
@csonezp Hi, Are you still watching this mission?

[2022-05-12 03:28] zjcnb commented on #16639
@Devamparikh Hi, are you still watching this mission?

[2022-05-12 03:30] zjcnb commented on #16282
@soumya-dash3  Hi, are you still watching this mission?

[2022-05-12 03:31] lcxywfe commented on #17600
@zjcnb Hi, If I have more than 1024 workers, and each worker has local shardingproxy service, Is there any solution to solve the key generator problem?

[2022-05-12 03:40] zjcnb commented on #17600
Dose you use shardingsphere cluster?

[2022-05-12 03:41] TeslaCN commented on #17596
ShardingSphere-Proxy doesn't support SSL for now. But Proxy connects to MySQL via MySQL JDBC Connector, which means Proxy can use SSL communicate with MySQL Server.

[2022-05-12 03:42] TeslaCN commented on #17600
You may implement your own key generator and use it by SPI.

[2022-05-12 03:49] lcxywfe commented on #17600
@zjcnb Not cluster now, so the cluster mode could resolve this problem? Is there any tutorial?

[2022-05-12 04:02] zjcnb commented on #17600
Yes, `cluster mode` are surpport now.  `memory mode` and `standalone mode` not support now. You also refer to @TeslaCN said. implement `KeyGenerateAlgorithm` interface.

[2022-05-12 06:16] soumya-dash3 commented on #16282
Actually got it assigned being a part of open-force. So...

[2022-05-12 06:36] TeslaCN commented on #16490
Close via #16604.

[2022-05-12 06:36] #16490 closed

[2022-05-12 06:55] lwclover commented on #17600
Wouldn't it be nice if I could set the length of the workId?

[2022-05-12 07:01] azexcy commented on #17545
https://opengauss.org/zh/docs/3.0.0/docs/Developerguide/%E7%BA%BF%E7%A8%8B%E6%B1%A0.html
openGauss 3.0.0 ,  `enable_thread_pool` default value is on, so replication port can't use default port(5432), @sandynz We may need to make some adjustments for 3.0.0

[2022-05-12 07:08] lwclover commented on #17600
If you don't mind using strings as ids, you can use nanoid.

[2022-05-12 07:16] #17401 closed

[2022-05-12 07:22] #17498 closed

[2022-05-12 08:02] csonezp commented on #16925
@zjcnb yeah,I will finish it this weekend.

[2022-05-12 08:02] csonezp commented on #16926
yeah,I will finish it this weekend.

[2022-05-12 08:14] aoyvx commented on #17375
Assign me, please.

[2022-05-12 08:53] pcyan commented on #17477
@strongduanmu exception occurred while parsing sql, not about the configuration or create table statement。just use the case below and you will get ClassCastException
[code]

seems that shardingSphere cannot deal with common expression while pagination

[2022-05-12 09:08] zjcnb commented on #17218
@sandynz Hi, I think this problem are fixed in master branch. You can try it again.

[2022-05-12 09:09] #17218 closed

[2022-05-12 12:06] StupidManYI opened #17614 "Insert statement does not support sharding table routing to multiple data nodes"
when I save some data ,the console output

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/50037510/168070610-2a93f5cf-0dde-4eea-aecf-5bec9e7cbe58.png">

pom.xml
[code]

application.yml
[code]

[2022-05-12 12:12] linghengqian commented on #17614
- ShardingSphere not supprot route all nodes when you execute insert or save sql, Now.

- I'm guessing you didn't specify a datasource using sql comment. Refer to https://github.com/apache/shardingsphere/issues/14949#issuecomment-1018110139 .

[2022-05-12 14:10] mmcLine opened #17617 "How to configure read write separation and encrypt together"
springboot 2.2.5.RELEASE + jpa + sharding-jdbc 4.1.0

i want to configure read write separation and encrypt together,but throw exception

error info:
[code]

my properties:
[code]

[2022-05-12 14:13] #17391 closed

[2022-05-12 15:54] terrymanu opened #17619 "Add SQL dialect translator module"
The one usage of ShardingSphere is database gateway.
The current ShardingSphere-Proxy can support MySQL protocol to visit PostgreSQL by PostgreSQL dialect, vice versa.
It is time to support SQL translator module to translate the SQL dialect and make the database gateway more powerful.
Let's make MySQL protocol to visit PostgreSQL by MySQL dialect possible!

The tasks are:

- [x] Add shardingsphere

[2022-05-12 16:04] #17460 closed

[2022-05-12 17:12] Zhoutzzz commented on #17619
That sounds interesting, I think the translator module in kernel very challenging about me and I wanna to join implementation it!

[2022-05-13 01:42] StupidManYI commented on #17614
But I didn't use jpa, I used mybatis to save this data,I dont't know how to slove this problem

[2022-05-13 01:44] StupidManYI commented on #17614
Should I use HINT ?

[2022-05-13 01:52] StupidManYI commented on #17614
Hi,bro,this is my sql code .

` @Insert("INSERT INTO user (name,age) values (#{name},#{age})")
    boolean addUser(@Param("name") String name, @Param("age") Integer age);`

as you say, I didn't  didn't specify a datasource using sql comment. How to do like that ?

[2022-05-13 01:59] linghengqian commented on #17614
- First build `sqlCommentParseEnabled` as `true` in your properties or yml (I am under the impression that the prefix should be `sping.shardingsphere.prop`), then rewrite sql to
[code]

- After processing, we can verify whether it is a configuration problem or a full routing problem.

[2022-05-13 03:27] azexcy opened #17621 "PipelineSimpleLock.getInstance().tryLock() will failed in Proxy Cluster"
## Bug Report

I open two ShardingSphere-Proxy, they share the same zookeeper and MySQL. When i execute Scaling distsql, didn't get the expected results, seem both proxy tryLock failed.

Related class is `PipelineJobExecutor`,

### Which version of ShardingSphere did you use?

master 5839a53f73e677e97ef169282ea69eb162834ddb

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Prox

[2022-05-13 04:02] soulasuna commented on #17621
@azexcy I will follow this issue

[2022-05-13 04:09] #17545 closed

[2022-05-13 04:28] terrymanu commented on #17619
@Zhoutzzz, Welcome, the structure of this module will setup soon, we can talk about the translation details first.

[2022-05-13 04:44] arthasking123 commented on #17619
I would like to participate this issue

[2022-05-13 05:04] strongduanmu commented on #17431
@cheese8 Is the goal of this requirement to support all kernel features? Sharding, read-write splitting, and encrypt?

[2022-05-13 06:02] ArchangelLiang opened #17627 "sharding_proxy，using the group_concat function, two values are returned"
### sql：
[code]
### result:
![image](https://user-images.githubusercontent.com/51203465/168220930-f954d670-df6b-429e-84ae-cd0063dd0a76.png)

[2022-05-13 06:14] LuwendiWuyi opened #17628 "Use Sharding-jdbc to query data by "limit A offset B", the Tomcat gives a OOM error"
When I use Sharding-jdbc to query table A's data with 'limit num1 offset num2', the tomcat gives a OOM error.
1.The original sql is:
select ELC_NO, ELC_ID,...,ORG_NO from eqelcmst where ORG_NO in (?,?,?,?,?,?) order by ELC_NO desc limit 9 OFFSET 76323501
2.The two actual sqls are:
select ELC_NO, ELC_ID,...,ORG_NO from eqelcmst1 where ORG_NO in (?,?,?,?,?,?) order by ELC_NO desc limit 76323510 OFFS

[2022-05-13 06:20] TeslaCN opened #17629 "There are many threads' name are duplicate in ShardingSphere-Scaling"
## Feature Request

### Is your feature request related to a problem?

There are many threads' name are duplicate in ShardingSphere-Scaling, which may interfere with debugging.

![image](https://user-images.githubusercontent.com/20503072/168222565-bed27594-7726-459d-96f2-bf7b8b3168aa.png)

### Describe the feature you would like.

Naming threads uniquely.

[2022-05-13 07:05] lyw1129 commented on #17619
I would like to participate this issue.We are currently experiencing SQL conversion problems with heterogeneous databases.We are currently experiencing SQL conversion problems with heterogeneous databases.

[2022-05-13 07:46] TeslaCN commented on #17628
Hi @LuwendiWuyi Could you consider refactoring your pagination? Doing large offset is not a good practice in sharding scenario. You may refer to https://shardingsphere.apache.org/document/current/en/reference/sharding/rewrite/#pagination-revision

[2022-05-13 09:42] #17629 closed

[2022-05-13 10:18] TeslaCN commented on #10477
Close due to `Native` authority is already deprecated. #13911

[2022-05-13 10:18] #10477 closed

[2022-05-13 10:23] TeslaCN commented on #14569
Close via #16796.

[2022-05-13 10:23] #14569 closed

[2022-05-13 11:17] tuichenchuxin opened #17635 "[WeOpen-Star] Support ShardingSphere parser of oracle sql."
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)
ref to #6480

### Background

**How is a SQL parsed?**
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process

1. Compare `SQL definitions` in [Oficial SQL Doc](https://docs.oracle.com/en/database/oracle/oracle-database/18/lnpls/plsql-language-elements.html#GUID-285DFAEE-

[2022-05-13 11:27] q3056917665 commented on #17482
If I have a lot of nothing  database,  but I need to use them now, what should I do, do I using one Configure one?

[2022-05-13 11:28] q3056917665 commented on #17482
If I have a lot of nothing database, but I need to use them now, what should I do, do I using one Configure one?

[2022-05-13 11:31] q3056917665 commented on #17482
If my two databases have tables with the same name, but they have nothing to do with each other, is there a problem？

[2022-05-13 11:35] patern opened #17636 "is shardingsphere support druid db connction password encrypt?"
is shardingsphere support druid db connction password encrypt?
how about the suggestion?

[2022-05-13 12:33] Apelx commented on #17617
me too, help

[2022-05-13 13:21] zjcnb commented on #17617
@mmcLine The 4.1.0 version are too older. Can you upgrade your ShardingSphere version?

[2022-05-13 15:04] cheese8 opened #17642 "unreadable literals in xml within IS SQLs"
## Bug Report

Within parsing IS SQLs, there are unreadable literals in xml, such as:

51..56 -> FALSE
51..60 -> NOT FALSE
45..49 -> NULL
45..53 -> NOT NULL
43..51 -> NOT NULL

[2022-05-13 17:16] soulasuna commented on #17621
It is recommended to notify the thread to lock and execute asynchronously in zookeeper.

Currently, event notifications in the proxy are serialized. Distributed locks rely on zookeeper event notifications, so the `tryLock`  inside the zookeeper notification event will time out when there are multiple nodes.

Compatible with the above situation, the distributed lock does not perform active query pr

[2022-05-14 01:57] strongduanmu commented on #17482
@q3056917665 Please provide your sql and sharding configuration.

[2022-05-14 03:52] #17621 closed

[2022-05-14 05:07] lyw1129 commented on #17619
In some cases, there is no need to modify SQL. How to determine whether to modify SQL before rewriting SQL

[2022-05-14 05:08] Glowdable opened #17646 "How to set poolName for HikariPool ?"
It's necessary for monitoring every datasource.

[2022-05-14 05:35] terrymanu commented on #17619
Welcome, @arthasking123 @lyw1129
The main framework is nearly finished.
The input param is SQL and parsed SQL statement, any idea to translate them to other dialect? Some option we can consider:

1. Use SQL statement to regenerate the SQL
2. Use SQL token in rewrite module to rewrite the SQL

Which way is better?

[2022-05-14 08:36] zjcnb commented on #17646
The `poolName` is currently not supported, but we can consider support it.

[2022-05-14 09:29] xsong123 commented on #16894
any ideas?

[2022-05-14 11:13] #17642 closed

[2022-05-14 14:10] csonezp commented on #17581
please assign it to me, i will have a try

[2022-05-14 14:15] csonezp commented on #17558
please assign it to me, i will have a try

[2022-05-14 14:21] linghengqian commented on #17440
A documentation related PR is ready.

[2022-05-14 14:26] jingshanglu commented on #16894
Can provide a reproduce demo?

[2022-05-14 14:32] strongduanmu commented on #17581
@csonezp Welcome.

[2022-05-14 14:41] terrymanu commented on #17619
When I add jooq into rewrite module, the exception occur in https://github.com/apache/shardingsphere/runs/6434791822?check_suite_focus=true

But there nothing change by spring and transaction. I want focus the next job of the SQL translation kernel logic, anyone want to investigate it?

You can use this PR (https://github.com/apache/shardingsphere/pull/17656) to reproduce the exception.

[code]

[2022-05-14 14:59] terrymanu commented on #17619
@Zhoutzzz @lyw1129 @arthasking123
NativeSQLTranslator is the basic interface of NativeSQLTranslator. Please have a look and decide the way to translate:

1. Use SQL statement to regenerate the SQL
2. Use SQL token in rewrite module to rewrite the SQL

[2022-05-14 18:59] iisheng commented on #17619
Hi, I want to have a try, and this is my pull request.

https://github.com/apache/shardingsphere/pull/17659

[2022-05-15 01:30] #16926 closed

[2022-05-15 07:51] #16925 closed

[2022-05-15 07:53] #17558 closed

[2022-05-15 10:29] #17014 closed

[2022-05-15 10:29] terrymanu commented on #17014
Great Job!

[2022-05-15 15:00] #17483 closed

[2022-05-15 15:32] strongduanmu opened #17678 "[WeOpen-Star] Add more unit test for ExpressionExtractUtil"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

We need to add more unit test for ExpressionExtractUtil.

- [ ] ExpressionExtractUtil#findNotContainsNullLiteralsExpression

[2022-05-16 01:39] sandynz commented on #17194
Thanks. Get create table SQL was changed to kernel implementation, it should be fixed now.

[2022-05-16 01:39] #17194 closed

[2022-05-16 01:44] sandynz commented on #17191
Customized schema of getting create table for PostgreSQL and openGauss has been supportted in #17379.

[2022-05-16 01:44] #17191 closed

[2022-05-16 02:19] q3056917665 commented on #17482
[code]

springdatajpa
[code]

[2022-05-16 02:33] RaigorJiang commented on #17191
Thank you! @sandynz

[2022-05-16 03:11] terrymanu opened #17684 "Use Caffeine instead of GuavaCache"
The guava cache usage is in `SQLStatementCacheBuilder` and `ParseTreeCacheBuilder`, please replace it as Caffeine, and test the performance.

[2022-05-16 03:16] longtai-cn commented on #17684
@terrymanu Can you assign it to me?

[2022-05-16 03:30] terrymanu commented on #17684
Great, hope the feature can be finished soon

[2022-05-16 03:57] QUBOHAO1998 opened #17686 "[WeOpen-Star] Article Translation"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

We need to translate [DistSQL cluster governance capabilities](https://mp.weixin.qq.com/s/QVT3jRjqO8FaJVYhSDVc5g) to English

[2022-05-16 04:10] #17444 closed

[2022-05-16 04:15] TeslaCN opened #17687 "Consider removing Guava from EncryptParameterAssignmentToken without performance loss"
## Refactor

Collections2 is no longer needed since this class are now more comprehensively addressed by Java 8 Stream.

[2022-05-16 04:35] Trydamere commented on #17461
@sandynz Hi, are you working on this issue? I can try to solve it.

[2022-05-16 04:38] strongduanmu commented on #17461
@Trydamere Welcome.

[2022-05-16 05:24] RaigorJiang commented on #16777
fixed by #17632.

[2022-05-16 05:24] #16777 closed

[2022-05-16 05:48] #17687 closed

[2022-05-16 06:00] misselvexu commented on #17583
Please assign this issue to me , thanks ~

[2022-05-16 06:01] misselvexu commented on #17582
Please assign this issue to me , thanks.

[2022-05-16 06:03] misselvexu commented on #17580
Please assign this issue to me , thanks ~

[2022-05-16 06:04] misselvexu commented on #17579
Please assign this issue to me , thanks ~

[2022-05-16 06:05] strongduanmu opened #17693 "NPE occurs when execute `DROP SCHEMA IF EXISTS test_schema_1 CASCADE;` statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/cec5acfc5c624f984cc1357fa310b51b6516ff28

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `DROP SCHEMA IF EXISTS test_schema_1 CASCADE;` successfully.

### Actual behavior

[code]

### Reason analyze (If y

[2022-05-16 06:28] #17591 closed

[2022-05-16 06:28] #17593 closed

[2022-05-16 06:28] #17595 closed

[2022-05-16 06:37] #17693 closed

[2022-05-16 06:47] grapeqin opened #17697 "shadow-raw-jdbc-example org.apache.shardingsphere.example.shadow.raw.jdbc.config.ShadowDefaultAlgorithmConfiguration defaultShadowAlgorithmName spell mistake"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-16 07:01] wangyun1517 opened #17698 "Helm Chart is 404"
## Bug Report

When I install the shardingsphere-proxy by helm charts, it get the 404 error.

![Screen Shot 2022-05-16 at 3 01 04 PM](https://user-images.githubusercontent.com/9639483/168536855-90152bf0-8497-4202-a74d-05ec7e5e7076.png)

how can I fix this error?

[2022-05-16 07:32] #17581 closed

[2022-05-16 07:44] zjcnb commented on #17646
When you use S`hardingSphere-Proxy`

[code]

When you use ShardingSphere-JDBC

[code]

[2022-05-16 07:52] windghoul commented on #17698
At this stage, Helm on the master branch has not been officially released, so it cannot be installed in the form of the charts repository.If you want to try helm installation, please deploy in the form of a local helm repository. For details, see https://helm.sh/docs/helm/helm_install , an unpacked chart directory installation.The official version will be released with version 5.1.2, and the api m

[2022-05-16 08:37] soulasuna commented on #17697
I will fix it.
Please assign to me.

[2022-05-16 09:05] sandynz commented on #17461
@Trydamere , welcome. I'm not working on it.

[2022-05-16 09:10] azexcy opened #17704 "Add resource dist sql sometime will failed sometimes,may be caused by concurrency and async"
## Bug Report

Sometimes, add resource will failed.

### Which version of ShardingSphere did you use?

master 9886434bd2a1800d9323e9e01c954f661601401c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

`ADD RESOURCE ` dist sql will success

### Actual behavior

Sometimes, the stack exception message is as follows, the `docker-

[2022-05-16 10:08] Trydamere commented on #17461
The cause is the line break is different bewteen windows and linux. I will pull request after the build is finished.

[2022-05-16 10:26] #17579 closed

[2022-05-16 10:26] #17580 closed

[2022-05-16 11:23] TeslaCN opened #17708 "`completionDetector not configured` appeared in logs while detector was configured"
## Bug Report

### Which version of ShardingSphere did you use?

master - 12e8d1383a76595ef229be5ede0662e472c14846

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

Scaling

### Expected behavior

Auto switch data sources after scaling finished.

[code]

### Actual behavior

Keep logging:
[code]

[code]

[2022-05-16 15:17] strongduanmu opened #17715 "Consider optimizing existing metadata renew logic"
## Feature Request

### Is your feature request related to a problem?

No

### Describe the feature you would like.

There are two problems in the existing metadata renew logic:

1. The following putAll method is used in the renew logic to update the metadata in memory, which makes us need to control the concurrency of the metadata;

[code]

2. The `databaseMap` in the `MetaDataContextsBuilder` co

[2022-05-16 15:43] mml885522 commented on #8359
SQL contains keywords, resulting in parsing errors

[2022-05-16 16:08] #17461 closed

[2022-05-16 16:12] #17451 closed

[2022-05-16 16:13] #17578 closed

[2022-05-17 01:59] #17697 closed

[2022-05-17 02:13] fantasylion opened #17719 "If I want to split only the database, not the table. Do I need to configure rules for each table？"
If I want to split only the database, not the table. Do I need to configure rules for each table？Can someone help me

[2022-05-17 02:47] TeslaCN commented on #17708
This issue is caused by `scalingName` didn't matched the config name under `scaling`. The `scalingName` in configuration is regarded as something like `activeConfiguration`.

[2022-05-17 02:47] #17708 closed

[2022-05-17 03:18] taojintianxia commented on #17684
## Compare the performance of Caffeine and Guava Cache in ShardingSphere

I tested the performance of caffeine and guava cache through ShardingSphere-Proxy, and put the test result as following :

### Test Environment
| Proxy-Sharding | 5.1.2-SNOPSHOT（Test [PR-17712](https://github.com/apache/shardingsphere/pull/17712) commit before and after performance） |
| -------------- | ---------------------

[2022-05-17 03:26] TeslaCN commented on #15134
Hi @dissdic
Could you provide more details about your issue?
Database like PostgreSQL will handle the type conversion on server side, which means user can provide string as value no matter what the column's type is. And the JDBC Driver may handle the type conversion stuff implicitly.

[2022-05-17 03:27] ben-manes commented on #17684
Vitess uses a Go cache that borrows from Caffeine’s design. Their query cache [benchmark](https://github.com/vitessio/vitess/pull/7439#issuecomment-773466613) might be of interest to you. It defended from pollution which LRU suffers from.

[2022-05-17 03:33] #17684 closed

[2022-05-17 05:29] complone commented on #17619
The dialect conversion currently implemented supports built-in jooq,

The principle of jooq to realize dialect conversion is based on DSL context, the request for a database is based on anltr4 rule standard, and the implementation of dialect switching is transferred to L

If we want to realize the native dialect now

Now my thinking is

1. Dialect of PostgreSQL based on anltr4 https://github.com/t

[2022-05-17 05:40] terrymanu commented on #17619
For current situation, use SQL token in rewrite module to rewrite the SQL is better.
For long term roadmap, I prefer use SQL token in rewrite module to rewrite the SQL, but it need to change the whole logic of rewrite module.

[2022-05-17 05:47] TeslaCN commented on #17719
You may refer to examples. https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases.yaml

[2022-05-17 06:01] TeslaCN opened #17723 "Consider migrating Guava Executor to JDK Executor"
## Refactor

Since the Guava brings more risk of dependency confliction for ShardingSphere, we are going to decouple Guava from ShardingSphere.

This issue plans to migrate Guava Executor (such as ListenableFuture...) to JDK Executor (such as CompletableFuture).

`ListeningExecutorService` are used in:
1. [x] `org.apache.shardingsphere.infra.executor.kernel.ExecutorEngine` #17725.
1. [x] `org.apac

[2022-05-17 06:27] TeslaCN opened #17727 "Unit test DataSourcePoolDestroyerTest.assertAsyncDestroyHikariDataSource failed occasionally"
## Bug Report

### Which version of ShardingSphere did you use?

master - 436b495b680e666283b7f517e979c0c01bfd58fa

### Expected behavior

Unit test passed stably.

### Actual behavior

Test case `DataSourcePoolDestroyerTest.assertAsyncDestroyHikariDataSource` failed occasionally.

Refer to https://github.com/apache/shardingsphere/runs/6465279647?check_suite_focus=true

[2022-05-17 06:50] csonezp commented on #17577
please assign it to me

[2022-05-17 06:51] csonezp commented on #17576
please assign it to me

[2022-05-17 07:27] aoyvx commented on #17375
@strongduanmu hi,I was testing the getSchemaMetadata method when I raised a `NullPointerException`.Do you think you should use `Optional.ofNullable()` as the return value

[2022-05-17 07:56] dissdic commented on #15134
sorry,I've worked on other things recently,so i don't have the stacktrace info right now,i will reply you with it later.basicly the problem i encounter is just like what you said.In my case,the automatic type conversion didn't work,cause when using shardingsphere in my project,the implementation of PreparedStatement was switched from PgPreparedStatement to ShardingSpherePreparedStatement,and the&n

[2022-05-17 08:02] #17600 closed

[2022-05-17 09:05] xxbcoder commented on #17596
Mycat does not support ssl either. It has a setting called "dbDriver", which supports "navicat" or "jdbc". Only "dbDriver=jdbc" supports ssl; but selecting "jdbc" will cause a series of other problems. , It seems that the function of jdbc is not fully realized. So if I want to use ShardingSphere-Proxy to connect to mysql with ssl turned on, is there any configuration like dbDriver that needs to be

[2022-05-17 09:05] xxbcoder commented on #17596
Mycat does not support ssl either. It has a setting called "dbDriver", which supports "navicat" or "jdbc". Only "dbDriver=jdbc" supports ssl; but selecting "jdbc" will cause a series of other problems. , It seems that the function of jdbc is not fully realized. So if I want to use ShardingSphere-Proxy to connect to mysql with ssl turned on, is there any configuration like dbDriver that needs to be

[2022-05-17 09:08] #17723 closed

[2022-05-17 09:20] chakkk309 opened #17736 "Support ShardingSphere parser of openGauss sql"
Hi, I think we can support parsing more SQLs for openGauss(version 3.0.0).

#### Background

How is a SQL parsed?
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

#### Process

1. Compare `SQL definitions` in [Oficial SQL Doc](https://opengauss.org/en/docs/3.0.0/docs/Developerguide/sql-syntax.html) and [ShardingSphere SQL Doc](https://github.com/apache/shardingsphere/tree/maste

[2022-05-17 10:08] #17576 closed

[2022-05-17 10:09] #17577 closed

[2022-05-17 10:39] TeslaCN commented on #17596
[code]

[2022-05-17 11:11] strongduanmu commented on #17736
@chakkk309 Great, let's start our openGauss SQL parsing journey.

[2022-05-17 11:13] everly-gif commented on #17736
Hi @strongduanmu @chakkk309  I would like to help out in this task as well 😊

[2022-05-17 11:14] jingshanglu opened #17746 "Support opengauss route strategy on read write split"
### Describe the feature you would like.
In read-write separation mode, follow the routing strategy below
* `readOnly`

     When readOnly is declared as true, all transactions representing this session are read-only transactions, no longer determine whether the statement is a write, and directly route to improve performance.

* `loadBalancer`

     load balancing algorithm.

* `routeMode`

     0

[2022-05-17 11:31] chakkk309 commented on #17736
@everly-gif very happy to work on this issue together~

[2022-05-17 11:54] linilq opened #17748 "ComplexKeysShardingAlgorithm implemention return tableNameCollection right but did not route to the table"
ComplexKeysShardingAlgorithm implemention return tableNameCollection right but did not route to the target table and cause SQLSyntaxErrorException：
### Error updating database.  Cause: java.sql.SQLSyntaxErrorException: Table 'linilq.device_user' doesn't exist
### The error may exist in com/meizu/devicemanage/dao/mapper/DeviceUserMapper.java (best guess)
### The error may involve com.meizu.devicema

[2022-05-17 12:43] #17748 closed

[2022-05-17 14:36] linghengqian opened #17752 "Add support for more JSR-310 related classes in IntervalShardingAlgorithm"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No, but related to https:

[2022-05-17 15:08] linghengqian commented on #17752
I am working on this issue.

[2022-05-17 15:12] strongduanmu commented on #17752
Waiting for your good news.

[2022-05-17 15:34] #17584 closed

[2022-05-17 15:34] #17585 closed

[2022-05-17 16:59] LikeElephantintheforest opened #17763 "for this condition , which datasource will be selected?"
my config like this :

    datasource:
      trade:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: ${DB_DRIVER:com.mysql.jdbc.Driver}
        jdbcUrl: **jdbc:port/trade**
        username: ${TRADE_DB_USER}
        password: ${TRADE_DB_PASSWD}
      payment:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: ${DB_DRIVER:com.mysql.jdbc.Driver}

[2022-05-17 18:39] LikeElephantintheforest commented on #17763
and i. append  "readOnly: true"  to config   , it's necessary ?

[2022-05-18 01:18] cheese8 commented on #17636
Could you try it or describe your suggestion in more detail?

[2022-05-18 03:00] mingyifei opened #17767 "When proxy startup is complete throw ConcurrentModificationException"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Normal start

### Actual behavior
Throw exception after startup

### Reason analyze (If you can)

`[ERROR] 2022-05-18 10:47:51.113 [Curator-SafeNotifyService-0] c.g.common.eventbus.EventBus.default - Exceptio

[2022-05-18 03:04] strongduanmu commented on #17767
@mingyifei Thank you for your feedback, can you modify this issue according to bug template?

[2022-05-18 03:05] marsgooder opened #17768 "Does shardingsphere-proxy support Oracle database? If not, is there any plan?"
Try to configure Oracle database using Sharingsphere Proxy, but errors occur as following pictures show:

Shardingsphere Proxy release 5.1.1 stdout error:
![A9EF09C6-645F-474f-A872-C93B464BA5B7](https://user-images.githubusercontent.com/20876027/168948568-5c171ef2-e4b3-4788-ac35-1a6d6b32efa4.png)

Shardingsphere github master code stdout error:
![6BF71168-03E2-4cd4-B156-90F730B6DCCD](https://user-

[2022-05-18 03:06] clbigdata commented on #17678
hello ,please sign it for me

[2022-05-18 03:08] strongduanmu commented on #17678
@clbigdata Welcome.

[2022-05-18 03:11] strongduanmu commented on #17768
@marsgooder ShardingSphere Proxy cannot directly support Oracle database due to the protocol, but we are developing database gateway feature, which can support access to Oracle database through MySQL or PostgreSQL protocol. For more information, you can refer this doc——https://shardingsphere.apache.org/document/current/cn/features/db-gateway/.

[2022-05-18 03:15] mattmok commented on #16922
分片规则中配置的表名必须和实际表的大小写一致

[2022-05-18 03:17] mingyifei commented on #17767
ok

[2022-05-18 03:18] linghengqian commented on #17752
- I've noticed that when `IntervalShardingAlgorithm` and `LocalDateTime` are strongly coupled to properties other than the incoming value, this is a difficult thing for me to deal with due to my lack of experience dealing with the common parent class of `LocalDateTime` and `LocalDate`. Hope some friends can help improve the design of `org.apache.shardingsphere.sharding.algorithm.sharding.datetime.

[2022-05-18 03:27] strongduanmu commented on #17767
@zjcnb Can you help check this exception?

[2022-05-18 03:49] complone commented on #17752
Support for localdatetime, lcaldate and Localtime

Can refer to [issue-5783](https://github.com/apache/dubbo/pull/5783])

[2022-05-18 03:53] linghengqian commented on #17752
Thank you for your help, but the conversion of `IntervalShardingAlgorithm` seems meaningless, because `Localdate` is forced to `Localdatetime`, `Localtime` can only get `LocalTime.MIN`, and the `LocalTime.MAX` of the lower bound of `Guava`'s `Range` also needs an additional flag, which does not seem to be appropriate s Choice.

[2022-05-18 06:35] mattmok commented on #16922
理论上与pagehelper应该无关，你可以尝试一下直接执行原生SQL，暂不使用pagehelper改写

[2022-05-18 06:50] TeslaCN opened #17773 "Supports scaling table without primary key but with unique index on non-null column"
## Feature Request

### Is your feature request related to a problem?

Table without primary key but with unique index on a non-null column cannot be scaled by ShardingSphere-Scaling.

[code]

[code]

### Describe the feature you would like.

Supports scaling table without primary key but with unique index on non-null column.

[2022-05-18 07:25] jidebingfeng opened #17775 "sql parse exception when sql with mult column in"
exception on pasrse sql :`SELECT * from table_name WHERE (col1,col2) IN ((1,1))`
sharding jdbc version : 4.1.1
database : mysql 5.7.16
exception msg:
[code]

[2022-05-18 07:25] jidebingfeng opened #17776 "sql parse exception when sql with mult column in"
exception on pasrse sql :`SELECT * from table_name WHERE (col1,col2) IN ((1,1))`
sharding jdbc version : 4.1.1
database : mysql 5.7.16
exception msg:
[code]

[2022-05-18 07:41] sandynz opened #17777 "After creating table via ShardingSphereDataSource in proxy, metadata/logic_db/ created in registry center"
## Bug Report

### Which version of ShardingSphere did you use?
release branch
Need to revert temp workaround commit.
Change `ShardingSpherePipelineDataSourceConfiguration` code to:
[code]
And also `YamlParameterConfiguration`.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy, scaling enabled

### Expected behavior
No `metadata/logic_db/` is created in registry ce

[2022-05-18 07:55] grapeqin commented on #17719
I think split database is base of split table,for example：
two databases : ds_0 、ds_1

two tables : tb0、tb1

if we want to split database , we aim at tb0 split database. in this case , tb1 can not config at file，so this table is not split.

we can config like this ：
[code]

[2022-05-18 08:09] sandynz commented on #17777
Except `metadata/logic_db/tables/t_order`, there're other nodes will be created, e.g. `/metadata/logic_db/versions/0/dataSources` and `/metadata/logic_db/versions/0/rules`.

Related code path:
[code]

[2022-05-18 08:23] StackRui commented on #9524
我也是不理解为什么要去掉defaultDataSourceName次配置

[2022-05-18 08:25] tuyendev opened #17779 "Graalvm native image cause with Groovy 4"
## Bug Report

**Which version of ShardingSphere did you use?**
-  5.1.1

**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
- ShardingSphere-JDBC

**Expected behavior**

- Can build native-image with graalvm

Since lib using Groovy 4, some api was remove in version 3. jar file can build to native-image

[2022-05-18 08:55] zjcnb commented on #17767
OK, i will check

[2022-05-18 10:10] linghengqian commented on #17752
- My intuitive understanding is that once we decide to introduce a class like `java.time.LocalDate` in `IntervalShardingAlgorithm`, the corresponding `JDBC Type` is not a `Timestamp` class, then `LocalDateTime` should not be forced to be defined in `IntervalShardingAlgorithm`, but with the help of Its superclass or specific interface to help us deal with incoming classes, which more needs to take

[2022-05-18 10:13] StackRui commented on #9524
I also don't understand why the defaultdatasourcename configuration is removed

[2022-05-18 10:13] StackRui commented on #9524
I also don't understand why the defaultdatasourcename configuration is removed

[2022-05-18 10:25] linghengqian commented on #17779
- I'm worried about the fact that even Groovy dropping to 3 won't fix this problem. Since the packaging of GraalVM Native Image is affected by other factors, Groovy is not the most important factor.

- Refer to  https://github.com/apache/shardingsphere/discussions/12594 and https://github.com/apache/calcite/pull/2603#issuecomment-1060017345 .

[2022-05-18 11:03] spuerFan opened #17784 "how to execute the same insert statement route all data note?"
## how to execute the same insert statement route all data note

In the business, there are more than 100 databases divided by tenants. How to execute the same insert statement

[2022-05-18 11:25] #17784 closed

[2022-05-18 11:39] linghengqian commented on #17779
Do you mean `IndyInterface. InvalidateSwitchPoints ()`? Refer to https://github.com/oracle/graal/issues/4492 .

[2022-05-18 11:41] tuyendev commented on #17779
Oh, that's the point @linghengqian . Should I leave the issue to keep track with oracle

[2022-05-18 11:43] linghengqian commented on #17779
It looks like Graal's team is tracking this problem. So I'm personally not going to dive into the Groovy problem until the Calcite problem is solved.

[2022-05-18 15:12] strongduanmu commented on #17517
@lushaorong Welcome, assigned.

[2022-05-18 16:53] linghengqian commented on #17779
It seems that compared to 4.0.1, Groovy 4.0.2 introduces additional `bugs`(maybe？👨‍🔧) that prevent smooth upgrades, see https://github.com/apache/shardingsphere/pull/17785 . I don't see additional information from the changelog, refer to http://groovy-lang.org/changelogs/changelog-4.0.2.html .

[2022-05-18 17:46] laynotes opened #17791 "Why does Mgr mode only support cluster mode ？I want use it in memory mode ！"
// when i use mgr in  memory mode ,it,conn`t work initHeartBeatJobs !
private void initHeartBeatJobs(final String databaseName, final Map<String, DataSource> dataSourceMap) {
       //when I use Mgr  modeScheduleContext.isPresent() is false
        Optional<ModeScheduleContext> modeScheduleContext = ModeScheduleContextFactory.getInstance().get();
        if (modeScheduleContext.isPresent()) {

[2022-05-19 01:01] mattmok commented on #17719
意思是如果有100张表都是只分库的时候，要配置100个表规则吗？

[2022-05-19 01:31] VeejaLiu opened #17793 "When using proxy to import data, there may be a character set problem"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Error
When I import sql to proxy, there are several error with the character set.
![image](https://user-images.githubusercontent.com/22064617/169182348-e7e264b2-057b-4c6b-97bb-ceca30aadbef.png)

However, I used the same method to import this

[2022-05-19 02:12] zjcnb commented on #17791
@laynotes Hi, Because `db-discovery` need to heartbeat detection with `Elastic-Job`.

[2022-05-19 02:17] grapeqin commented on #17719
em，can U give a practical example？

[2022-05-19 02:20] TeslaCN opened #17794 "Some unit tests in proxy-frontend-core will fail if run it independently"
## Bug Report

### Which version of ShardingSphere did you use?

master - 800fcc898353f4218afb67a3e1b2c2eb589b8fc6

### Expected behavior

Tests passed stably and independently.

### Actual behavior

Tests failed.

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

[2022-05-19 02:23] laynotes commented on #17791
I looked at the difference between the heartbeat and the stand-alone one. It should be fast. I hope I can support it. Although I have realized the function of Mgr myself, it is not as complete as our scene

[2022-05-19 02:35] TeslaCN commented on #17793
Have you try the solution in #13023?

[2022-05-19 02:48] tuyendev commented on #17779
@linghengqian Method `IndyInterface. InvalidateSwitchPoints ()` only exists in Groovy 3 and removed in Groovy 4. I think Graalvm need time to adapt new change

[2022-05-19 02:56] #17775 closed

[2022-05-19 03:06] #17794 closed

[2022-05-19 03:09] linghengqian commented on #17779
`IndyInterface.InvalidateSwitchPoints()` being removed is expected behavior, I pointed out `Classic bytecode generation removal` at https://github.com/apache/shardingsphere/pull/15303 .

[2022-05-19 03:42] linghengqian commented on #17779
Fixed by https://github.com/apache/shardingsphere/pull/17796 .

[2022-05-19 06:34] mattmok commented on #17719
For example, a system has 10 tenants, each tenant has its own independent database, but there is a table with a large amount of data, which needs to be divided into tables.What is the best solution in this situation?

[2022-05-19 06:37] yuanyuanbb521 opened #17800 "sharding jdbc cross-table sorting paging query"
## Question

**sharding jdbc cross-table sorting paging query returns incorrect result set, sorting error

[2022-05-19 06:44] yuanyuanbb521 commented on #17800
sharding jdbc cross-table sorting paging query returns the wrong result set, sorting error, for example, by time by month table, a month of data is a table, when I query two months of data, paging query by time descending order, each page query 10, the return result set of 10 data contains two months of data

[2022-05-19 07:20] cheese8 opened #17803 "Refactor EncryptColumnRuleConfiguration to decouple cipher encryptor and assist encryptor"
## Feature Request

How about refactor `EncryptColumnRuleConfiguration` as below:  @strongduanmu

- [x] add assistEncryptorName
- [x] make assistEncryptorName work
- [ ] refactor QueryAssistedEncryptAlgorithm and deprecate it (the only difference of  the algorithm one is **symmetric** and other is **asymmetric**)
- [ ] validate the availabilities on cipherColumn & cipherEncryptorName pair, assistC

[2022-05-19 08:23] grapeqin commented on #17719
your problem is a table with a large amount of data in any tenant？

I think just split table if only resolve a large amount of data in one table.

but your question is

![image](https://user-images.githubusercontent.com/6265178/169247702-9507bb7b-5eb8-4f97-80f3-2d1888adffdd.png)

Your example is inconsistent with the problem.

[2022-05-19 08:38] q3056917665 opened #17804 "Error when using sharding query"
sharding version: 5.1.1

error:
[code]
The reason for the error: I have no problem using idea to start the query , but using jar start to error.This is the reason why I found the error, but I don't know why it happened
![image](https://user-images.githubusercontent.com/49391495/169250201-ba4cb463-55dd-4dc9-9d1e-e2a74c097869.png)
![image](https://user-images.githubusercontent.com/49391495/169250645

[2022-05-19 08:42] TeslaCN commented on #17804
Please show us how you packed the Jar.

[2022-05-19 08:47] q3056917665 commented on #17804
@TeslaCN
Pack command: mvn clean package -Dmaven.test.skip=true
jar start command: java -jar demo.jar 127.0.0.1:2181

[2022-05-19 08:49] #17203 closed

[2022-05-19 08:50] TeslaCN commented on #17804
If you are packing fat jar, you may need to handle SPI in maven-shade-plugin. Refer to https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer

[2022-05-19 09:02] q3056917665 commented on #17804
@TeslaCN
Solved, thank you

[2022-05-19 09:04] TeslaCN commented on #17804
You are welcome.

[2022-05-19 09:04] #17804 closed

[2022-05-19 09:54] TeslaCN opened #17806 "PostgreSQL Scaling incremental task failed"
## Bug Report

### Which version of ShardingSphere did you use?

master - https://github.com/apache/shardingsphere/tree/a393962f5b3eec2d154ad1c2c5d15a758efc499b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Scaling works well.

### Actual behavior

[code]

Data consistency check failed.
[code]

Full logs could be found he

[2022-05-19 10:26] mattmok commented on #17719
Each tenant has a separate database, so I want most of the tables to only  sharding database.

[2022-05-19 10:26] csonezp commented on #6480
- [ ] CREATE SPFILE

[2022-05-19 10:28] csonezp commented on #6480
Hi @strongduanmu , I want to work on this first:
- [ ] CREATE SPFILE

[2022-05-19 10:31] TeslaCN opened #17808 "Connections leakage occurred if Scaling data consistency check keep failing"
## Bug Report

According to commit logs, this issue affects ShardingSphere >= 5.1.0.

This issue happened after #17806 occurred. Let it keep failing and just wait for tens of minutes, then this issue can be reproduced.

### Which version of ShardingSphere did you use?

master - https://github.com/apache/shardingsphere/tree/a393962f5b3eec2d154ad1c2c5d15a758efc499b

### Which project did you use? Sh

[2022-05-19 10:36] csonezp commented on #6480
I'd like to try the following DDL-CREATE first.

[2022-05-19 11:27] zjcnb opened #17809 "Throw an exception `org.apache.shardingsphere.dbdiscovery.spi.DatabaseDiscoveryProviderAlgorithm` when use `MGR`"
[code]

[2022-05-19 11:56] #17809 closed

[2022-05-19 12:08] zjcnb opened #17811 "Change `readwrite_splitting` to `Readwrite_splitting` for `Official Documentation`"
Change `readwrite_splitting` to `Readwrite_splitting`

Address : https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/usage/readwirte-splitting-rule/

<img width="1647" alt="image" src="https://user-images.githubusercontent.com/33742097/169289432-9a8b3e12-2dab-4435-b187-9b0e0db28f97.png">

[2022-05-19 12:24] galaxylqx opened #17812 "Support netty parameter ChannelOption.SO_BACKLOG configurable"
## Feature Request
The server processes client connection requests sequentially, so only one client connection can be processed at the same time. When multiple clients come, the server puts the unprocessed client connection requests in a queue for processing. The backlog parameter specifies the size of the queue

It is hoped that the ChannelOption.SO_BACKLOG size can be configured through paramete

[2022-05-19 12:24] zrsaber commented on #6478
Hi @ThanoshanMV , I want to work on this first:

 drop schema

[2022-05-19 12:28] ThanoshanMV commented on #6478
Sure @zrsaber.

[2022-05-19 12:41] galaxylqx opened #17813 "Support for advanced modulo algorithms"
## Feature Request

Currently only supports
tb_name_00
tb_name_01

hope to support
tb_00_name
tb_01_name

[2022-05-19 12:45] galaxylqx opened #17814 "Support for advanced IntervalShardingAlgorithm"
Currently only supports
dc_user_db_yyyymm

hope to support
dc_user_yyyymm_db

[2022-05-19 14:32] csonezp commented on #6480
Hi @strongduanmu ,

When I am writing code for X, I have a problem.
SPFILE means "server parameter file".

what name should i define it in DDLStatement.g4? createSPFile?

[2022-05-19 17:41] Jacob953 commented on #16383
Hi, @terrymanu! I'd like to try. Could you please assign this task to me?

[2022-05-19 17:46] linghengqian commented on #17779
In fact only one class needs to be processed, https://github.com/oracle/graal/blob/vm-ce-22.1.0/substratevm/src/com.oracle.svm.polyglot/src/com/oracle/svm/ polyglot/groovy/GroovySubstitutions.java . But submitting a PR against it is a difficult problem for me due to my lack of further knowledge about Groovy Native. I made an additional comment on the GraalVM issue.

[2022-05-20 01:42] #17198 closed

[2022-05-20 01:53] TeslaCN opened #17819 "java.lang.NumberFormatException: For input string: "8849485702" at InstanceId.<init>(InstanceId.java:65)"
## Bug Report

This issue affects ShardingSphere >= 5.1.0

Caused by: https://github.com/apache/shardingsphere/pull/15188

Relates to #17806.

### Which version of ShardingSphere did you use?

master - https://github.com/apache/shardingsphere/tree/a393962f5b3eec2d154ad1c2c5d15a758efc499b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Scaling (ShardingS

[2022-05-20 01:55] complone commented on #17752
@linghengqian
By reading the issue, I sorted out some key information
For example, there are some new APIs in Java8, LocalDate, LocalTime, LocalDateTime
But by default, the time and date of java8 is not supported in mybatis

The general approach is based on the different typehandlers provided by mybatis based on the package mybatis-typehandlers-jsr310
Complete the conversion of various java types

[2022-05-20 02:25] ZZemptypoint opened #17821 "LocalDateTime cannot be cast to String"
## Bug Report

My sharding column's type is **java.time.LocalDateTime**.
When I execute sql
[code]
get the Exception:
<pre>
Caused by: java.lang.ClassCastException: java.time.LocalDateTime cannot be cast to java.lang.String
	at org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSet.getString(ShardingSphereResultSet.java:192) ~[shardingsphere-jdbc-core-5.1.1.jar:5.1.1]
	at org

[2022-05-20 02:45] grapeqin commented on #17719
I know what u mean.

In this multi tenants scene，after my practice , we should config tables as more as you need to split only database，if someone
is not config，it may route a database which is not your expectation.

from my perspective, shardingsphere split strategy base of tables.
refer to yaml split example:
![image](https://user-images.githubusercontent.com/6265178/169438386-6c6938ff-5fe2-4c23

[2022-05-20 02:55] Swastyy commented on #17811
Hi @zjcnb , I want to complete this task. Thanks.

[2022-05-20 03:19] strongduanmu opened #17825 "Consider supporting PostgreSQL/openGauss cursor statement"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

In PostgreSQL and openGauss databases, `cursor` is a very useful statement, and many users rely on `cursor` for data query. Therefore, we hope to support the cursor statement in `read-write splitting` and `sharding` scenarios, so that users can make full use of cursors to implement

[2022-05-20 03:58] xxbcoder commented on #17596
tks

[2022-05-20 04:16] TeslaCN commented on #17819
The pid_max of my system is the following value, which means if there are 100 `ShardingSphereDataSource` in JVM, this error will occurred.
[code]

[2022-05-20 04:19] TeslaCN commented on #17819
Hi @menghaoranss
Could you have a look at this?

[2022-05-20 05:04] ruanyg opened #17827 "bug on creating MySQLComStmtExecutePacket"
version： 5.0.0
project: shardingsphere-proxy
cluster mode
use mysql prepareStatement

the parameter is type of MYSQL_TYPE_BLOB(252), packet of mysql shown below
<img width="1493" alt="image" src="https://user-images.githubusercontent.com/19629642/169453557-74f59f4c-d376-4ed9-b8e1-678574a4b81a.png">

At this time, MySQLStringLenencBinaryProtocolValue is used to get parameter value from mysql packet

[2022-05-20 06:24] mattmok commented on #17719
Thank you very much for your patience! There seems to be no better solution for now。

[2022-05-20 07:50] cheese8 commented on #17819
I'd like to follow this, thanks. @TeslaCN @menghaoranss

[2022-05-20 07:58] TeslaCN commented on #17819
Assigned.

[2022-05-20 08:23] grapeqin commented on #17719
you are welcome!

I suggest in this situation, you can refer to `hint` idea of shardingsphere custom your database route info，it is unnecessary to use shardingsphere middleware for too much configration.

[2022-05-20 08:37] csonezp commented on #6480
I'd like to try the following DDL-CREATE :
- CREATE PFILE
- CREATE OUTLINE

[2022-05-20 09:24] #17808 closed

[2022-05-20 09:26] #17819 closed

[2022-05-20 09:40] xue2lang opened #17834 "when proxy use zipkin plugin agent , how to record traceid into log and get traceid from upstream system , have any suggest???"
## Question
now, i use shardingsphere-agent in sharding-proxy to record trace, the trace plugin is zipkin, i want record traceid into log,  but don not know how to bury the code ， please see the steps：

* step 1 : add log support dependency
[code]
* step 2：how to bury the code  in agent plugin of zipkin ,have any suggest ????
if we want record trace , we must get the currentTraceContext from Traci

[2022-05-20 09:40] #17811 closed

[2022-05-20 09:49] lanchengx commented on #17704
Yes, there will be a delay in metadata asynchronous refresh. Future metadata refreshes may be locked.

[2022-05-21 03:21] ThanoshanMV opened #17844 "[GSoC 2022] Solve Unsupported PostgreSQL Statements That Start With 'c' for Shardingsphere Parser"
This issue is to solve unsupported PostgreSQL statements listed below for the Shardingsphere parser.

## Background
The ShardingSphere parser engine can handle various SQL dialects such as MySQL, PostgreSQL, SQLServer, openGauss, and Oracle. Although the parser engine supports numerous PostgreSQL statements, some important PostgreSQL statements that start with ‘c’ requires assistance in parsing an

[2022-05-21 04:41] burgerWhoo commented on #16894
Hello, I also encountered the same problem, the version is shardingsphere-proxy 5.1.1.
Here are the reproduce steps:
- open two terminal
- In the first terminal,
  - set autocommit = 0;
  - commit;
  - set autocommit = 1;
  - select * from t_order where order_id = 2 for update;
- In the second terminal,
  - select * from t_order where order_id = 2 for update; (**This sql will be blocked**)

I noti

[2022-05-21 06:39] cheese8 opened #17845 "Optimization Validate the availabilities on EncryptRule"
## Feature Request

**For English only**, other languages will not accept.

To check below 4, and optimize the detail message.
- at least one `encryptTable` and valid `encryptTableRuleConfiguration` under the encryptRule.
- at least one `logicColumn` and valid `encryptColumnRuleConfiguration` under the encryptTable.
- `cipherColumn` and `encryptorName` should be paired and can not be blank, and en

[2022-05-21 09:10] #17443 closed

[2022-05-21 12:19] everly-gif opened #17848 "[ GSoC 2022 ] Solve unsupported Postgres sql about alter statement for ShardingSphere Parser"
This issue is created to better track my PRs for GSoC 2022.
You can view more about my project [here](https://summerofcode.withgoogle.com/programs/2022/projects/ajDT1hjj)

## Background

Apache ShardingSphere is positioned as a Database Plus, and aims at building a standard layer and
ecosystem above heterogeneous databases. It focuses on how to reuse existing databases and their
respective upper l

[2022-05-21 12:20] everly-gif commented on #17848
Hi @strongduanmu , please assign this issue to me

[2022-05-21 12:34] sandynz opened #17849 "Scaling incremental task fail but not report error when MySQL primary node is switched"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy, scaling enabled

### Expected behavior
Scaling incremental task report failure to registry center after several times of reconnect failure.

### Actual behavior
It just reconnect when exception occur.

Stack trace:
[code]

### Reason anal

[2022-05-22 04:13] strongduanmu commented on #17848
@everly-gif Assigned.

[2022-05-22 04:16] complone commented on #17619
@terrymanu I think we should provide abstract methods about ```ASTBudiler``` in ```AbstractSQLBudiler``` so that subclasses can rewrite the logic of AST traversal. I plan to refer to the grammar parsing layer of presto to construct and traverse [AST ](https://github.com/ prestodb/presto/blob/master/presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java)

[2022-05-22 05:01] linghengqian commented on #17779
I've started a discussion on dropping Groovy 3 support on Graalvm's Slack community's Polygolt channel, and I welcome comments.

[2022-05-22 05:26] tuyendev commented on #17779
@linghengqian Sorry for lately reply. I will continue checking on Monday next week, I’m currently in my days off 🌝

[2022-05-22 08:11] zjcnb commented on #15820
It has finished

[2022-05-22 08:11] #15820 closed

[2022-05-22 09:38] everly-gif commented on #17736
I want to start with

- [ ] `ALTER SYNONYM`

[2022-05-22 10:18] everly-gif commented on #17736
Please pardon me for my late reply, but really happy to work together as well 😊

[2022-05-22 12:36] terrymanu opened #17858 "Add more test cases for ShardingSphereRuleMetaData"
- [ ] findRuleConfigurations
- [ ] findSingleRuleConfiguration

[2022-05-23 03:21] tuyendev commented on #17779
Tested and still failed.
I also don't have expericence with Groovy, so I think we need to waited Graalvm adapt the change .

[2022-05-23 03:56] terrymanu commented on #17009
No response for this issue, I just close it.

[2022-05-23 03:56] #17009 closed

[2022-05-23 04:37] #17845 closed

[2022-05-23 06:04] #15682 closed

[2022-05-23 06:05] #13508 closed

[2022-05-23 06:07] #13484 closed

[2022-05-23 07:31] wingkingbobo opened #17870 "Mybatis INSERT foreach case SQLSyntaxErrorException"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
The following INSERT statement can run normally when calling MySQL directly, but an exception is thrown after using Sharding-Proxy.
[code]

### Actual behavior
[code]

### Reason analyze (If you can)
I found tha

[2022-05-23 07:49] novice-gamer opened #17872 "Is SQL statement supported"
Sharding proxy version 5.1.0
Whether similar SQL statements are supported:"select arch_id,product_name, row_number()  over(partition by arch_id order by arch_value desc) as rowNum from csys_build_demand_sx61"

[2022-05-23 08:03] Angry-Rabbit opened #17874 "IntervalShardingAlgorithm exec sharding fail when sql contain LocalDateTime type column"
## Bug Report

### Which version of ShardingSphere did you use?

5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Just a simple query sql with interval sharding algorithm config like below:
[code]

[code]

### Actual behavior

exec sharding failure, Method threw 'java.time.format.DateTimeParseException' exception. Text

[2022-05-23 08:46] #17874 closed

[2022-05-23 08:54] #17481 closed

[2022-05-23 09:08] strongduanmu commented on #14976
@darkaquarius This problem is a bug caused by the SPI cache of 5.0.0 beta, please upgrade to 5.0.0 and above, we have fixed this bug.

[2022-05-23 09:25] #14976 closed

[2022-05-23 09:54] wingkingbobo commented on #17870
A simple PrepareStatement will also report an error. I wonder if there is a problem with the support of PrepareStatement.
In this example, the sharding column is userid.
[code]
[code]

[2022-05-23 10:01] strongduanmu commented on #17870
Hi @wingkingbobo, thank you for your feedback, can you provide your sharding configuration?

[2022-05-23 10:13] wingkingbobo commented on #17870
@strongduanmu
* server.yaml
[code]

* config-sharding.yaml
[code]

[2022-05-23 10:23] #17152 closed

[2022-05-23 10:29] zihaoAK47 opened #17880 "How to become a contribution"
Hello, I have set up the development environment, but I don't know how to start at the moment.
Do you have any good suggestions and references? 🐱‍👤🐱‍👤

[2022-05-23 10:32] strongduanmu commented on #17880
Hi @zihaoAK47, you can try some good first issues to start.

[2022-05-23 10:33] chenshun00 commented on #17719
If I have 20 tables, they all have 10 child tables. Do I have to configure 20 times via yml? If so, so many configuration is so bad

[2022-05-23 10:35] chenshun00 commented on #17614
why not set a id.

[2022-05-23 10:57] strongduanmu commented on #17870
Thank you @wingkingbobo, can you provide your original sql, I will try to reproduce this problem.

[2022-05-23 11:39] complone commented on #17559
I want to try this task

[2022-05-23 11:41] complone commented on #17586
I want to do this task

[2022-05-23 11:42] complone commented on #17552
I want to do this task

[2022-05-23 12:23] complone commented on #17555
I want to do this task

[2022-05-23 12:47] Angry-Rabbit opened #17884 "Is there some way to set default table if sql has not sharding column?"
Hello~ As title said，Is there some way to set default table if sql has no sharding column?

eg:

[code]

In database has initialized many table that named with pattern ‘user_info_yyyyMM’:
user_info_202205
...
user_info_202401

According to current shardingsphere route strategy, if no sharding column in sql will scan all availble initialized tables. For performance consideration, So I'm wondering i

[2022-05-23 15:17] #17646 closed

[2022-05-24 00:16] strongduanmu commented on #17555
@complone Assigned.

[2022-05-24 02:28] rankhe commented on #17614
i have the same problem ，there must be some mistake in my config but i can’t find it

[2022-05-24 02:29] tuichenchuxin commented on #17803
@cheese8 Why need to decouple cipher encryptor and assist encryptor?

[2022-05-24 02:36] strongduanmu opened #17887 "Metadata lost when execute `refresh table metadata` statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/0162b7ef9fd740f2d371336c487ac471aea20a91

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Metadata load correctly when execute `refresh table metadata` statement

### Actual behavior

Metadata lost. The actual pub

[2022-05-24 02:51] wingkingbobo opened #17888 "PrepareStatement cause MySQLSyntaxErrorException"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
execute prepareStatement like `INSERT INTO remark (userid, content, `time`) VALUES (?, ?, ?) `

### Actual behavior
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to

[2022-05-24 02:59] wingkingbobo commented on #17870
@strongduanmu
`MySQLSyntaxErrorException` thrown by prepareStatement seems to be another problem, so I raised an issue #17888 separately.
For the current problem, I'm trying to make a simplified demo to reproduce it.

[2022-05-24 03:07] zjcnb commented on #17887
Thx, i will chekc it.

[2022-05-24 04:49] peng-ay opened #17890 "Multiple metadata OR All tables must be in the same datasource"
version:
[code]
question:
All tables must be in the same datasource.

This problem is caused by the two tables in different databases

demand：
I have multiple different logic libraries,I want to query in the same SQL,But now Sharding loads multiple data sources into a single metadata,Is there a way to get multiple data sources into different metadata.
![image](https://user-images.githubusercontent

[2022-05-24 05:39] TeslaCN opened #17891 "Error occurred in ShardingSphere-Proxy MySQL if packet length exceeded 0x7FFFFF bytes"
## Bug Report

### Which version of ShardingSphere did you use?

master - 0162b7ef9fd740f2d371336c487ac471aea20a91

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Expected behavior

Operations worked.

### Actual behavior

Client logs:
[code]

ShardingSphere-Proxy logs:
[code]

### Example codes for reproduce this issue (such as a githu

[2022-05-24 05:59] wingkingbobo opened #17892 "MyBatis INSERT blob cause SQLSyntaxErrorException when blob length is 0"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
execute insert by mybatis with a blob value.
[code]
### Actual behavior
[code]
### Reason analyze (If you can)
* Use the configuration mentioned in #17888 and add a `blobvalue` field of `blob` type in the `rem

[2022-05-24 06:02] wingkingbobo commented on #17870
@strongduanmu
The problem is that the blob length is equal to 0.
The description of this issue is incorrect, so I opened a new one #17892.

[2022-05-24 06:02] #17870 closed

[2022-05-24 06:03] complone commented on #17551
I would like to help

[2022-05-24 06:12] strongduanmu opened #17893 "Metadata schema load error when table does not exist in logical schema"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/7726326773e386f8f9c0716a3eac07baddc36227

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Metadata schema load successfully when table does not exist in logical schema

### Actual behavior

When the database has n

[2022-05-24 07:02] #17893 closed

[2022-05-24 07:34] Orangehalf opened #17902 "Column index out of range"
CREATE TABLE `electronicfence` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `companyId` int(11) DEFAULT '0',
  `createDate` datetime DEFAULT NULL,
  `deleted` bit(1) DEFAULT b'0',
  `owner` varchar(255) DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `areaType` varchar(255) DEFAULT NULL,
  `depId` bigint(20) NOT NULL,
  `lineWidth` int(11) NOT NULL,
  `mapType` varchar(255) DEFAULT NULL,

[2022-05-24 07:35] Orangehalf commented on #17902
１１

[2022-05-24 07:35] #17902 closed

[2022-05-24 07:36] #17360 closed

[2022-05-24 07:48] pparthenhs commented on #17858
Hello @terrymanu and shardingsphere community !!

I start working on this ticket. I will inform you when is ready !!

[2022-05-24 08:00] Orangehalf opened #17903 "Column index out of range"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-24 08:29] TeslaCN opened #17907 "ShardingSphere-Proxy MySQL doesn't supports receiving packet more than 16 MB - 1"
## Bug Report

### Which version of ShardingSphere did you use?

master -

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Expected behavior

Operations worked.

### Actual behavior

[code]

### Example codes for reproduce this issue (such as a github link).

Rules of ShardingSphere doesn't matter.

[code]

[2022-05-24 09:29] TeslaCN opened #17909 "NPE occurred when trying to getSaneResult"
## Bug Report

### Which version of ShardingSphere did you use?

master - 528214d4a07a0bd515843e63d30e580f40131144

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No NPE occurred.

### Actual behavior

[code]

### Reason analyze (If you can)

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/20503

[2022-05-24 10:05] yx9o commented on #17487
@strongduanmu Hi, I want to reuse `ShardingRule.isValidBindingTableConfiguration` in the `AlterShardingTableRuleStatementUpdater` class. In order to meet the requirements, I need to pass some data used in `isValidBindingTableConfiguration` in the form of parameters, which may cause the method parameter list to become longer. Is it feasible?

[2022-05-24 10:12] chenshun00 commented on #17614
@rankhe you sql include sharding column? , if miss the sharding column, will occur this error.  i guess the logic sql can't rely on rdbms's auto increment.

[2022-05-24 10:18] azexcy opened #17912 "openGauss, sometimes proxy can't start up, throw StackOverflowError"
## Bug Report

When use openGauss, proxy can't start up.

### Which version of ShardingSphere did you use?

master a26bae221684c984aa20f90810e749a40f8044a2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

proxy normal start-up

### Actual behavior

proxy will thrown exception
[code]

### Reason analyze (If you can)

the prox

[2022-05-24 11:05] strongduanmu commented on #17487
@yx9o How many parameters will be added? If there are too many parameters, consider adding a parameter object for encapsulation.

[2022-05-24 11:16] tuichenchuxin opened #17915 "Support view for openGauss"
Support view for openGauss.
We can support view like supporting tables.
And view will use same rule as tables.
But in sharding, the query in view definition must simple enough. And ensure there's no merge.
For example, t_order is a logic table. actual is t_order_0, t_order_1.
This sql should be rejected to execute.
[code]
logic view and actual view should have the relationship like logic table and

[2022-05-24 12:41] pencilcap123 opened #17918 "DistSql Bug: Executing add-resource continuously may encounter "HikariDataSource (HikariPool-xxx) has been closed" exception"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1 Release

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
All the add-resources dist-sql will success if all the jdbc properties are correct.

### Actual behavior
Add-resource dist-sql may failed after serveral success.

### Reason analyze (If you can)
concur

[2022-05-24 12:44] yx9o commented on #17487
OK, it's changed. Please review it.

[2022-05-24 15:13] linghengqian commented on #17752
- @complone  Thank you very much for your help!

- Through the introduction of the `java.time.temporal.TemporalQueries` class, the support of four JSR-310 related classes has been successfully introduced into the `IntervalShardingAlgorithm`, namely `java.time.LocalTime`, `java.time.OffsetTime`, `java.time.LocalDate`, `java.time.chrono.JapaneseDate`.

- Due to my unfamiliarity with `java.time.chron

[2022-05-25 00:42] #16894 closed

[2022-05-25 02:26] bobogreentea opened #17925 "About ShardingHere-Proxy Lock Wait Time Out Exceeded; try restarting transaction"
## Bug Report.

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for reproduce this issue (such as a github link).

[code]

[ERROR] 2022-05-25 10:09:15.639 [Co

[2022-05-25 02:40] TeslaCN commented on #17890
Could you should us your rule configurations?

[2022-05-25 02:43] TeslaCN commented on #17925
Could you show us your SQL?

[2022-05-25 02:44] q3056917665 commented on #17890
[code]

[2022-05-25 02:49] pencilcap123 commented on #17918
@RaigorJiang Is it a bug recently introduced in 5.1.1 ? Will it help if I roll back to 5.1.0 or a certain earlier version ?

[2022-05-25 02:52] q3056917665 commented on #17890
@TeslaCN
Now it is added “sql-federation-enabled”, there is no “All tables must be in the same datasource”, But appeared ClassCastException, because the two tables of the associated query are in different libraries, so I still want to know how to create multivariate data, which was supported in 4.1.1 before

[2022-05-25 03:18] RaigorJiang commented on #17918
Hi @pencilcap123
The cause of the exception still needs to be investigated, and it will be updated here when there is progress.

[2022-05-25 03:39] complone commented on #17635
I want to try this work

[2022-05-25 03:53] pzpupu commented on #16895
我使用5.1.1版本，在并发高的时候使用snowflake id, 仍会出现重复的情况
---------------
I use version 5.1.1 and use snowflake id when the concurrency is high, and there will still be duplicates

[2022-05-25 04:14] complone commented on #17619
Yes, I submitted a part of the code to the local warehouse, please take a look
https://github.com/complone/shardingsphere/commit/2633a433be362a0cdbef88da7a1df0c7bbfb87e4

[2022-05-25 05:16] azexcy opened #17929 "STOP SCALING SOURCE WRITING thrown SQLException "The database xxx is read-only""
## Bug Report

Using Proxy with MySQL, when execute `STOP SCALING SOURCE WRITING 0130317c30317c3054317c7368617264696e675f6462`  will throw SQLException

[code]

I only use server.yaml config, no other config of Proxy, and only one MySQL databases, so I think no read-only database

### Which version of ShardingSphere did you use?

master 28d5dfdb89d27fd98dd0c5aedcf07d53538a8ff3

### Which project d

[2022-05-25 06:24] chenwenhua666 opened #17930 "shardingsphere5.1.1 broadcast-tables error:"
## Question
springboot version: 2.3.12.RELEASE
mybatis-plus.version:3.5.1
mybatis-plus.dynamic.version:3.3.6
sharding-shardingsphere.version:5.1.1
## yml

[code]

## test insert

[code]
## error

[code]

[2022-05-25 06:42] #17884 closed

[2022-05-25 06:48] azexcy opened #17933 "ALTER SHARDING TABLE RULE trigger refreshRules, but rules are not refreshed correctly"
## Bug Report

After `ALTER SHARDING TABLE RULE `  executed, before `apply scaling`, the table rule seems not correct.
At first, the t_order is like this
<img width="326" alt="image" src="https://user-images.githubusercontent.com/101622833/170197405-c4d59239-2f9a-4d0b-a10f-017e27eec8c7.png">

then I execute, target and source have same resource.(i make sure scaling will replace tablename.)
[code]

[2022-05-25 06:54] #16364 closed

[2022-05-25 07:10] TeslaCN commented on #17888
Hi @wingkingbobo

I tried your codes but I didn't reproduced this issue.

I've tried MySQL JDBC Driver 5.1.45, 5.1.47, 8.0.28.

[code]

Proxy logs:
[code]

[2022-05-25 07:13] #17752 closed

[2022-05-25 07:15] #17858 closed

[2022-05-25 07:21] #17929 closed

[2022-05-25 07:22] sandynz commented on #17933
Seems it's similar as #17777

[2022-05-25 07:23] #17517 closed

[2022-05-25 07:25] menghaoranss commented on #17933
I will follow up

[2022-05-25 07:48] TeslaCN commented on #17892
I found the SQL was not rewritten correctly.

[code]

[2022-05-25 07:49] linghengqian commented on #17752
@terrymanu There are still unprocessed JSR-310 classes, can I reopen this issue?

[2022-05-25 08:05] isHuangXin opened #17939 "[GSOC 2022] Develop an external tool to convert YAML configuration DistSQL script"
This issue is created to better track my PRs for GSoC 2022.
You can find more details about my project [here](https://summerofcode.withgoogle.com/programs/2022/projects/4PnSweAf)

## Background
Apache ShardingSphere is positioned as a Database Plus, and aims at building a standard layer and ecosystem above heterogeneous databases. It focuses on how to reuse existing databases and their respective

[2022-05-25 08:27] #15827 closed

[2022-05-25 09:06] strongduanmu opened #17942 "Wrong route result when execute `SELECT LAST_INSERT_ID() AS id;` statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/fb489269270ea621ad7e454284d9990c5eaaa8ff

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Get latest insert id with `SELECT LAST_INSERT_ID() AS id;` statement

[code]

### Actual behavior

Always return 0.

[code]

[2022-05-25 09:58] TeslaCN commented on #17892
Hi @tuichenchuxin
The value was recognized as `expr` instead of `blobValue`. I found this may be related to #16493. Could you take a look at this?

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/20503072/170235752-8dcbe972-983e-4ea6-b377-6acb5b03227d.png">
<img width="347" alt="image" src="https://user-images.githubusercontent.com/20503072/170235829-c30f96e3-2c6f-48b4

[2022-05-25 10:05] tuichenchuxin commented on #17892
@TeslaCN Ok, I'll check it.

[2022-05-25 10:08] TeslaCN commented on #17890
@q3056917665 Query tables in different databases required SQL federation. Please show us your SQL and the error after SQL federation enabled.
Hi @strongduanmu, could you please take a look at this?

[2022-05-25 10:13] lushaorong commented on #17519
Assign me, please.

[2022-05-25 10:22] strongduanmu commented on #17890
Ok, I will check it.

[2022-05-25 10:30] zjcnb opened #17944 "NPE occurred when use database"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### server.yaml

[code]

<img width="603" alt="image" src="https://user-images.githubusercontent.com/33742097/170242412-afc0a683-f4ba-4fb8-8b5c-29f59f71bc46.png">

[2022-05-25 10:32] zjcnb commented on #17944
@TeslaCN Hi, can you look this?

[2022-05-25 10:32] #17942 closed

[2022-05-25 10:40] lcxywfe commented on #16894
set autocommit=0;
set autocommit=1;
update xxx;

Same issue, this update will not committed.

[2022-05-25 10:41] #17887 closed

[2022-05-25 11:01] strongduanmu commented on #17944
@zjcnb I meet the same exception when execute `show tables`. I will try to fix this bug.

[2022-05-25 11:03] zjcnb commented on #17944
OK,  thx

[2022-05-25 11:24] menghaoranss opened #17945 "Adjust the compute node structure of the registry center"
## Background

In order to be compatible with the cloud native deployment scenario, the instance nodes of the registry should  be refactored statelessly to  ensure that when the proxy restarts, it does not retain any instance-related data nodes in the registry center. The data nodes bound to the running instance in the registry center cannot be persistent, so we now need to adjust all the data nod

[2022-05-25 11:46] strongduanmu commented on #17944
Fixed by #17944.

[2022-05-25 11:46] #17944 closed

[2022-05-25 11:58] q3056917665 commented on #17890
@strongduanmu
[code]

![image](https://user-images.githubusercontent.com/49391495/170256793-916a7108-822a-4c5e-9b5f-0a6b39e189d2.png)

[2022-05-25 12:03] #17746 closed, assigned to jingshanglu

[2022-05-25 12:05] linghengqian opened #17948 "Add more JSR-310 classes support to IntervalShardingAlgorithm that are not yet supported"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes, related to https://

[2022-05-25 12:53] lcxywfe opened #17949 "CONNECTION_ID() do not support alias"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
select CONNECTION_ID() as cid;
get:
cid: 1

### Actual behavior
connection_id():  1

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration,

[2022-05-25 13:10] Jacob953 commented on #16005
Hi, @terrymanu! plz assign this to me, too. ;)

[2022-05-25 15:32] terrymanu commented on #16005
@Jacob953 Please go ahead

[2022-05-26 01:20] bobogreentea commented on #17925
error：org.ssssssss.script.exception.MagicScriptException: PreparedStatementCallback; SQL [update car_camera set camera_online = 1 where camera_id = ?]; Lock wait timeout exceeded; try restarting transaction; nested exception is com.mysql.cj.jdbc.exceptions.MySQLTransactionRollbackException: Lock wait timeout exceeded; try restarting transaction at Row:3~3,Col:11~89

return db.update('update car_ca

[2022-05-26 01:22] bobogreentea commented on #17925
![3366](https://user-images.githubusercontent.com/27953104/170395688-dc3b2cc5-96f7-463e-a2d7-e7ddd6e86239.png)

[2022-05-26 02:53] asdxiaoqex commented on #17146
is empty

[2022-05-26 02:58] asdxiaoqex commented on #17146
我是想获取到 表路由的配置 然后修改他

[2022-05-26 02:59] asdxiaoqex commented on #17146
因为我现在是把一些由日期动态创建的路由 也加载进去 因为每天都会 新增新的路由表 旧版本可以通过上面那个shardingRule反射去改，新版 没找到

[2022-05-26 03:36] strongduanmu opened #17954 "Can not query mysql system tables when I config information_schema logic database"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/28345eb8748f70d5458f9805dbdca09f59b1d385

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `select * from VIEWS;`, and then return results.

<img width="1174" alt="image" src="https://user-images.githubuser

[2022-05-26 04:04] #17954 closed

[2022-05-26 04:33] terrymanu opened #17957 "Improve of IntervalShardingAlgorithm"
- [ ] Extract 3 private methods in `doSharding` method for `doShardingInLocalDate`, `doShardingInLocalTime` amd `doShardingInLocalDateTime`
- [ ] The instanceOf judgment is too complicated in method `getDateTimeText`, it is better to use instanceOf TemporalAccessor to judge it and move the instanceOf Instant in front of  TemporalAccessor judgment
- [ ] The variable name `viewAsLocalDate` and `view

[2022-05-26 04:41] ICannerxy commented on #17957
Please assign it to me

[2022-05-26 05:37] strongduanmu commented on #17957
@ICannerxy Assigned.

[2022-05-26 06:33] wingkingbobo commented on #17888
@TeslaCN
I will still throw this exception. Are you sure this is the URL(`jdbc:mysql://127.0.0.1:13306/db_17888`) of sharding proxy? It looks like MySQL connected directly.
I set `SQL show: true` in `server. yaml`, but no error message is displayed in `start.bat CLI`.

[2022-05-26 06:33] wingkingbobo commented on #17888
@TeslaCN
I will still throw this exception. Are you sure this is the URL(`jdbc:mysql://127.0.0.1:13306/db_17888`) of sharding proxy? It looks like MySQL connected directly.
I set `SQL show: true` in `server. yaml`, but no error message is displayed in `start.bat CLI`.

[2022-05-26 06:56] TeslaCN commented on #17888
My Proxy port is 13306. And SQLs are shown in logs.

[2022-05-26 09:11] liuzhihui021221 opened #17973 "use SQLServer Paging statements can cause some problems（Normal query does not cause problems）"
- bom.xml
[code]
- The error message

[code]

[2022-05-26 09:36] #17957 closed

[2022-05-26 09:45] duWubiao commented on #17890
Is there a solution to this problem?

[2022-05-26 11:55] RaigorJiang opened #17979 "Support Postgres schema in DistSQL `REFRESH TABLE METADATA`"
## Feature Request

### Is your feature request related to a problem?
Yes.

Now we have a RAL DistSQL `REFRESH TABLE METADATA`,
which helps users to refresh the metadata of the specified logical table.

In this syntax, users can also specify which resource to get the metadata from, for example:
`REFRESH TABLE METADATA t_order FROM resource ds_1;`

However, in the PostgreSQL series of databases, ta

[2022-05-27 02:28] jingshanglu commented on #17925
@bobogreentea Is it the same to #16894?

[2022-05-27 02:39] carlyin0801 opened #17987 "In the case of sub-tables, if the sql contains on sum select（ COUNT() has a similar problem）, it will cause an error in the actually generated sql"
**Bug Report**
Which version of ShardingSphere did you use?
5.1.1

**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-JDBC

**configuration:**
"ds_{0..1}.T_PROJECT_THIRD_PLATFORM_DATA_{0..1}"

**table init sql:**
CREATE TABLE `T_PROJECT_THIRD_PLATFORM_DATA_0` (
  `ID` bigint(32) NOT NULL ,
  `PROJECT_ID` varchar(64) NOT NULL ,
  `REPO_CODECC_AVG_SCORE` decim

[2022-05-27 02:40] carlyin0801 commented on #17987
@strongduanmu hi, can you please take a look

[2022-05-27 02:43] wsm12138 opened #17988 "Out of range value for column 'id' at row 1"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-27 02:48] tuichenchuxin commented on #17988
It seems you use snowflake as primary key. And the length is longer than int(11).

[2022-05-27 02:53] RaigorJiang commented on #17939
Hi @isHuangXin ,
Nice to see you here!  But the link you provided cannot be accessed (access denied).

[2022-05-27 03:16] wsm12138 commented on #17988
According to advice
change shardingColumn id to  k
[code]

[2022-05-27 03:16] #17988 closed

[2022-05-27 03:20] vishalkumarmahato commented on #17880
I also want to Start , How to find bugs and fix them??

[2022-05-27 03:22] vishalkumarmahato commented on #17686
I wanna contribute to this but need guidance , I'm a  new Comer you guidance will be mean a lot to me .

[2022-05-27 04:07] azexcy opened #17993 "ALTER SHARDING TABLE RULE , datasource changed effect early, before apply scaling"
## Bug Report

when execute `ALTER SHARDING TABLE RULE ` before `apply scaling `
[code]
then the `PREVIEW SELECT COUNT(1) FROM t_order` result is not correct.

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/101622833/170626373-641de892-0248-4be5-86a8-61103a83c4c5.png">

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/101622833/170625816-8e

[2022-05-27 04:10] zjcnb opened #17994 "NPE occurred when use db-discovery `MySQL.NORMAL_REPLICATION`"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

<img width="1299" alt="image" src="https://user-images.githubusercontent.com/33742097/170627456-d3e19daf-7a0d-43d7-8f83-01576d60c6d6.png">

[2022-05-27 04:22] #17979 closed

[2022-05-27 04:38] sandynz commented on #17993
Hi @menghaoranss , could you help to have a look at this issue?

[2022-05-27 04:41] sandynz commented on #17993
Looks similar as #17933, create table with new sharding rule, but it didn't create a new table, it just created the same name table.

[2022-05-27 04:52] complone commented on #17994
Can you provide relevant information about ```config-database-discovery.yaml```? There may be a problem with ```primaryDataSource``` parsing

[2022-05-27 06:02] zhaoguhong opened #17998 "EncryptTableRuleConfigurationYamlSwapper swapToYamlConfiguration method loss of the name"
EncryptTableRuleConfigurationYamlSwapper  swapToYamlConfiguration method  loss of the name

`org.apache.shardingsphere.encrypt.yaml.swapper.rule.EncryptTableRuleConfigurationYamlSwapper#swapToYamlConfiguration
`
## now

[code]
## after repair

[code]

[2022-05-27 06:04] zhenglu8 opened #17999 "ERROR 1997 (C1997): Runtime exception: [Count check failed for table 't_order']"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-27 06:10] RaigorJiang commented on #17918
Hi @pencilcap123
I verified the 5.1.1 Release and master branch, and did not reproduce your problem.

The code you analyzed is not accurate, the connection pool used for `getDatabaseType` is created in the `buildChangedMetaDataContextWithAddedDataSource` method, it is not the same as the one in the validator.

I guess you have specified `poolName` for connection pool and the `poolName` is duplicat

[2022-05-27 09:17] aoyvx commented on #17375
@strongduanmu Hello, what should I do.

[2022-05-27 10:18] strongduanmu commented on #17375
@aoyvx Can you show your test code?

[2022-05-27 10:37] dragonorant opened #18008 "springboot 2.6.3 and shardingsphere 5.1.1 , transaction do not roll back"
When I use shardingsphere version 5.1.1, transaction rollback fails. When using version 5.0.0 or not, the transaction failure rollback is successful

[code]

[code]

[code]

[code]

[2022-05-27 10:47] shangwq commented on #16117
upgrade spring boot version to 2.6.4  or above, will be reproduction.

[2022-05-27 11:55] #17998 closed

[2022-05-27 14:19] aoyvx commented on #17375
@strongduanmu The following test case can pass, but I'm not sure if it meets the expectations. Complete code in https://github.com/apache/shardingsphere/compare/master...aoyvx:features/FederationDatabaseMetaDataTest.
[code]

[2022-05-28 02:13] azexcy opened #18021 "Proxy not support ALTER TABLE xxx RENAME statement of sharding tables"
## Bug Report

Proxy not support`ALTER TABLE xxx RENAME`  statement of MySQL.
will support it in the future?

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

Proxy

### Expected behavior

rename all sharding tables name

### Actual behavior

[code]

### Reason analyze (If you can)

<img width="1096" alt="image"

[2022-05-28 07:07] Swastyy commented on #16679
Hi @lanchengx , can you give the link of `CREATE RESOURCE` syntax document, I am not able to find it.

[2022-05-28 07:11] 18291486619 opened #18025 "deploy到私服"
mvn  deploy -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests -DrepositoryId=snapshots -T1C

使用master分支

setting已经配置私服地址和账号

528.070633-1.pom
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  1

[2022-05-28 07:49] ThanoshanMV commented on #17844
We have planned to support other PostgreSQL cursor statements as well. They are Declare, Fetch and Move statements.

[2022-05-28 08:56] terrymanu commented on #18025
**For English only**, other languages will not accept.

[2022-05-28 08:56] #18025 closed

[2022-05-28 09:29] 18291486619 opened #18028 "how to deploy to maven Nexus"
i has install success

but deploy to  maven Nexus fail

my maven setting has  set maven Nexus  user and password

mvn  deploy -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests -DrepositoryId=snapshots -T1C

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -----------------------------

[2022-05-28 11:00] #17994 closed

[2022-05-29 01:04] cheese8 commented on #17987
thanks, i see, it would be fixed later.

[2022-05-29 04:26] #17945 closed

[2022-05-29 04:45] jokeyuHhhh opened #18039 "This version of ShardingSphere-Proxy doesn't yet support this SQL"
springboot+xa+shardingproxy5.1.1
mysql-connector-java version 8.0.11
xa commit sql to proxy :XA START 0x31302e382e302e362e746d313635333739393036353235313030303038,0x31302e382e302e362e746d3134,0x41544f4d
![image](https://user-images.githubusercontent.com/106460562/170852546-c5d42dcc-d0fe-411c-940a-1b29c4851b23.png)
![image](https://user-images.githubusercontent.com/106460562/170852575-d5715a3a-a6e3

[2022-05-29 07:20] zhaoguhong opened #18044 "EncryptColumnRuleConfigurationYamlSwapper swapToYamlConfiguration method loss of the logicColumn"
EncryptColumnRuleConfigurationYamlSwapper swapToYamlConfiguration method loss of the logicColumn

`org.apache.shardingsphere.encrypt.yaml.swapper.rule.EncryptColumnRuleConfigurationYamlSwapper#swapToYamlConfiguration`

## now

[code]

## after repair

[code]

[2022-05-30 01:24] zhaozhentao commented on #14773
i have the same problem

[2022-05-30 02:02] dragonorant commented on #18008
mybatis-plus  3.5.1

[2022-05-30 02:12] dragonorant commented on #18008
@strongduanmu How should I solve it?

[2022-05-30 02:28] sandynz opened #18054 "Question about logic table and schema name binding relation"
## Question

Tested on master branch, proxy with PostgreSQL backend.

[code]
`t_order` was created in `schema1` and `schema2`, and it seems there're 2 logic table of `t_order`, which are in `schema1` and `schema2`.

And metadata in registry center:
<img width="302" alt="图片" src="https://user-images.githubusercontent.com/42492540/170903954-ad96ac38-50dc-43ce-9826-3bed325a57fa.png">

In PostgreSQL,

[2022-05-30 02:37] #18039 closed

[2022-05-30 02:55] 726411951 opened #18055 "The 5.1.1 document is not ture about sharding rules"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
configure sharding-jdbc properties
### Actual behavior

### Reason analyze (If you can)
the document is not update
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when e

[2022-05-30 03:41] jokeyuHhhh opened #18056 "shardingsphere-proxy throw XA Exception When integration with spring boot and atomikos"
## Bug Report
An exception is reported when using XA to commit transactions to sharding-proxy
![image](https://user-images.githubusercontent.com/106460562/170911593-202cdd7f-3ba3-447c-a26a-e5d66b119878.png)
![image](https://user-images.githubusercontent.com/106460562/170911645-c1dc21fc-7fae-4149-a2cd-3ac378974e1f.png)

The use of springboot  + jta+sharding-proxy

The springboot dataSource configur

[2022-05-30 03:54] jokeyuHhhh commented on #18056
The mysql-connector cersion 8.0.11
The Atomikos version 4.0.6

[2022-05-30 04:00] sandynz commented on #18054
Keynotes of discussion with @strongduanmu :

1, logic table in sharding rule will not add schemaName for flexiblity.

2, We could use search_path to determine same table name laying.
[code]

[2022-05-30 04:00] #18054 closed

[2022-05-30 04:16] zjcnb opened #18058 "REFRESH TABLE METADATA SCHEMA not work well;"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Refresh one schema all tables of database

### Actual behavior

Not work well.

### Reason analyze (If you can)

1. DistSQL parse not right.
2. Governance not support call method.

<img width="648" alt="image" src="h

[2022-05-30 06:54] TeslaCN commented on #17806
I found the `null` is not handled properly.

<img width="1044" alt="image" src="https://user-images.githubusercontent.com/20503072/170934057-92fb4e19-68a6-4d25-b723-835c9871263a.png">

[2022-05-30 07:13] isHuangXin commented on #17939
Sry for late reply. The link has been updated, is it accessible now?

[2022-05-30 08:04] azexcy opened #18064 "Scaling IncrementTask not handle BigDecimal correct"
## Bug Report

When insert table data that not set the value of numeric column.
Scaling IncrementTask `PostgreSQLWalDumper` handle numeric to `BigDecimal` not corrently.

### Which version of ShardingSphere did you use?

master a159040ed39eb26838fc236f1e99c8ff22c4f336

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

Proxy

### Expected behavior

<img width="1039" alt="

[2022-05-30 08:08] RaigorJiang commented on #17939
Yes, the new link is accessible.

[2022-05-30 08:15] zhaozhentao commented on #16922
我也遇到这个问题了

[2022-05-30 08:15] TeslaCN commented on #17909
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/20503072/170948520-4b3f74be-6aa8-4ef2-935c-18d1bc83c838.png">

[2022-05-30 09:39] connor1024 opened #18070 "ont the navicat , different window exec SHOW SCHEMA RESOURCES ,result different also 。"
version info ： shardingsphere proxy 5.1.0
mode type : cluster,
repository type : ZooKeeper

my question that :
On the  Navicat window exec [SHOW SCHEMA RESOURCES]
result:
![image](https://user-images.githubusercontent.com/105640567/170962540-d9f7e044-7bd8-429a-b421-e92819b0a4d8.png)

but on other navicat window  exec [SHOW SCHEMA RESOURCES]
![image](https://user-images.githubusercontent.com/105640

[2022-05-30 09:48] connor1024 commented on #18070
How did I find this problem ？An exception occurred in the log of my service：[Hint datasource: xxxx is not exist!]。

[2022-05-30 10:01] zhaozhentao commented on #16922
i have the same problem

[2022-05-30 10:29] #18058 closed

[2022-05-30 10:46] lcxywfe opened #18071 "No sharding table insert bug"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2 SNAPSHOT built from master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
SharidngSphere-Proxy

### Expected behavior
There is a no sharding table `noshardingtest` and I did not add it to yaml rules.

[code]
Insert succeed and use auto increment

### Actual behavior
ERROR 1064 (42000): You ha

[2022-05-30 10:49] zjcnb commented on #18071
@lcxywfe Thank you for your feedback, can you show your configuration?

[2022-05-30 11:34] zjcnb commented on #17999
@zhenglu8 Thank you for your feedback,  i will check it.

[2022-05-30 12:16] TeslaCN opened #18073 "XAConnection leakage caused by resource is not closed in ContextManager"
## Bug Report

Related to #17806.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

master - bdba1f281558db31156baad405308fbfcd27cbb8

### Expected behavior

No connections leakage.

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/170989956-d5983fb3-ace8-4d69-8ad4-58a41695745c.png)

### Steps to reproduce the behavior, such as: SQL to ex

[2022-05-30 12:25] lcxywfe commented on #18071
@zjcnb Done.

[2022-05-30 12:56] #18073 closed

[2022-05-30 12:59] zjcnb opened #18075 "Scaling throws exception when ALTER SHARDING TABLE RULE"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

No error msg

### Actual behavior

[code]

[2022-05-30 13:11] sandynz commented on #18075
In `MySQLBinlogEventPacketDecoder.java`:
[code]
There's still left some bytes after parsing, it doesn't mean it has problem definitely, it could be parsed at next call.

We need to verify `MySQLBinlogEventHeader(timestamp=1653560367, eventType=15, serverId=133307, eventSize=121, logPos=0, flags=0), remaining packet 3a9d9af2`.

`eventType=15` means `FORMAT_DESCRIPTION_EVENT(0x0f)`. Maybe it should

[2022-05-30 23:53] arungopalan opened #18078 "Handling of star in select statement"
The postgresql parser seems to parse this without giving any error

`select * as some_col from some_table`

A * is not allowed to have aliases in postgresql.

Weirdly, postgresql allows an alias after a dot star. So a query like this is allowed `select t.* as some_col from some_table t`. The alias is ignored in this case.

[2022-05-30 23:55] arungopalan commented on #18078
See code below that can reproduce this. This produces no error but it should.

[code]

[2022-05-31 00:06] linghengqian commented on #17779
Perhaps you can do some of this in Groovy's main branch. If you're in Groovy slack group's Groovy channel.

[2022-05-31 01:00] #18044 closed

[2022-05-31 01:59] #16683 closed

[2022-05-31 02:01] lanchengx commented on #16679
please refer https://shardingsphere.apache.org/document/current/en/reference/distsql/syntax/rdl/resource-definition/add-resource/

[2022-05-31 04:18] zhenglu8 opened #18085 "ERROR 1997 (C1997): Runtime exception: [Job is completed, it's not necessary to do it.]"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-31 04:30] zhenglu8 commented on #18085
[code]

[2022-05-31 05:38] #18071 closed

[2022-05-31 05:44] zjcnb commented on #18070
@connor1024 Hi, How to add resource `wey_test`? Is it by `DistSQL`?

[2022-05-31 05:55] connor1024 commented on #18070
yes,  DistSQL :
-- 新增数据库资源
ADD RESOURCE wey_test (
    URL="",
    USER=root,
    PASSWORD=root,
PROPERTIES("connectionTimeoutMilliseconds"=30000,"idleTimeoutMilliseconds"=60000,"maxLifetimeMilliseconds"=1800000,"maxPoolSize"=50,"minPoolSize"=1)
);

[2022-05-31 05:56] connor1024 commented on #18070
yes, DistSQL :
-- 新增数据库资源
ADD RESOURCE wey_test (
URL="",
USER=root,
PASSWORD=root,
PROPERTIES("connectionTimeoutMilliseconds"=30000,"idleTimeoutMilliseconds"=60000,"maxLifetimeMilliseconds"=1800000,"maxPoolSize"=50,"minPoolSize"=1)
);

[2022-05-31 05:59] connor1024 commented on #18070
yes, DistSQL :
ADD RESOURCE wey_test (
URL="",
USER=root,
PASSWORD=root,
PROPERTIES("connectionTimeoutMilliseconds"=30000,"idleTimeoutMilliseconds"=60000,"maxLifetimeMilliseconds"=1800000,"maxPoolSize"=50,"minPoolSize"=1)
);

[2022-05-31 06:06] zjcnb commented on #18055
@726411951 Hi, thank you for your feedback, i think it's no problem. Because, it may be `standard` or `complex` or `hint`.

[2022-05-31 06:09] #17999 closed

[2022-05-31 06:19] 726411951 commented on #18055
@zjcnb But the key differences between `spring.shardingsphere.sharding.database-strategy` and `spring.shardingsphere.rules.sharding.database-strategy` is `.rules`  and I think it's necessary to run with 5.1.1 version
the document is missing `.rules`

[2022-05-31 06:30] LGHome opened #18090 "Cross schema query sql with 'order by' Error"
VERSION：shardingsphere-jdbc-core-spring-boot-starter  5.0.0

Question:
1. i want to excute a cross schema query sql, but it went wrong,
so i set the 'sql-federation-enabled' to 'true' ,the sql can normal excute.

2.but when i want to excute the across schema query sql with 'order by' ,It will cause errors.
if remove the 'order by' it will normal excute.

How do I solve this problem?

My configurat

[2022-05-31 07:21] laersheng commented on #17973
i have the same problem,have you resolved?

[2022-05-31 07:43] vincentlbh opened #18093 "ShardingSphereAlgorithmPostProcessor.init() not called"
## Question
I was using Shardingsphere-jdbc（5.1.1）.
![图片](https://user-images.githubusercontent.com/106581161/171118968-e91bde08-ce95-48ec-abee-fdbde503b499.png)

![图片](https://user-images.githubusercontent.com/106581161/171119722-00203db1-6a61-49a3-a95c-504ea626ac5d.png)

but ShardingSphereAlgorithmPostProcessor.init() was never called! is there something wrong?

[2022-05-31 08:04] Zhoutzzz opened #18095 "An NPE occurs when a field is identified by a table alias"
## Bug Report
The sql like this
[code]
It is will use alias 'T1' to find table 'table1', then throw NullPointException, because the alias 'T1' and alias referencce 't1' has case different

[2022-05-31 08:47] lcxywfe opened #18099 "SHOW SHARDING TABLE RULES USED ALGORITHM not display tables used default strategy"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2-SNAPSHOT built from master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingProxy

### Expected behavior
SHOW SHARDING TABLE RULES USED ALGORITHM sharding_mod;

got:
table |  test_table

### Actual behavior
got:
Empty set

### Reason analyze (If you can)

### Steps to reproduce the behavior, s

[2022-05-31 09:09] vincentlbh commented on #18093
![图片](https://user-images.githubusercontent.com/106581161/171137583-da19438c-53a7-4250-8983-dd2b56eb6c44.png)

[2022-05-31 09:58] VeejaLiu opened #18100 "error by max_allowed_packet"
# Proxy 5.1.1

I have a long sql(>4M)
[code]
When I directly import this SQL into the database, there is no problem.

But when i use proxy, it show:
[code]
And I view my variable in proxy：
[code]
Well, It is not enough.
Then I modify my resource config by:
[code]
then view variable in proxy again:
[code]
I think it's good now.

But when i import data into proxy, the error still occurred.
[code]
An

[2022-05-31 10:08] lcxywfe commented on #18099
@yx9o `sharding_mod` just sharding database, without sharding table

[2022-05-31 10:16] yx9o commented on #18099
The rule defined by this grammar is followed by the logical table name. Please refer to the syntax example: https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/sharding/

[2022-05-31 10:20] VeejaLiu commented on #18100
I restarted the proxy and solved this problem.

Now I just want to say a four letter word.

Good....

[2022-05-31 10:20] #18100 closed

[2022-05-31 10:22] VeejaLiu commented on #18100
So this also shows that it is useful to modify the resource attribute if there are related problems.

[2022-05-31 11:05] RaigorJiang commented on #18099
I think @lcxywfe  means:
The result of `SHOW SHARDING TABLE RULES USED ALGORITHM sharding_mod` is incorrect, not showing the table that references it via `defaultDatabaseStrategy`, such as `test_table`.

[2022-05-31 11:09] qianYzz opened #18102 "Can the documentation get any worse?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-05-31 11:10] qianYzz commented on #18102
小白看文档 根本配不起来

[2022-05-31 11:10] qianYzz commented on #18102
我要疯了

[2022-05-31 11:10] lcxywfe commented on #18099
My mistake, already updated the **Expected behavior**

[2022-05-31 11:19] RaigorJiang commented on #18099
@yx9o Thank you so much!

[2022-05-31 12:12] vincentlbh commented on #18093
spring:
  shardingsphere:
    datasource:
      names: orderdemo0,orderdemo1
      orderdemo0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://10.126.124.51:3306/order_demo0?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=GMT%2B8
        username: root
        password: root
        hi

[2022-05-31 12:13] vincentlbh commented on #18093
spring:
  shardingsphere:
    datasource:
      names: orderdemo0,orderdemo1
      orderdemo0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://10.126.124.51:3306/order_demo0?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=GMT%2B8
        username: root
        password: root
        hi

[2022-05-31 12:14] vincentlbh commented on #18093
spring:
  shardingsphere:
    datasource:
      names: orderdemo0,orderdemo1
      orderdemo0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://10.126.124.51:3306/order_demo0?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=GMT%2B8
        username: root
        password: root
        hi

[2022-05-31 12:22] strongduanmu opened #18105 "Consider adding replaceTablePrefix to support scaling create new sharding rule with different actual table"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

At present, scaling has the following scenarios. When the user adds a new data source, the data needs to be automatically redistributed. At this time, there will be a conflict between some new actual tables and original actual tables. Therefore, the kernel needs to support the `act

[2022-05-31 12:48] galaxylqx opened #18107 "Support password encrypt"
The current passwords in server.yaml and config.yaml are stored in plain text, and I hope to support encryption of passwords
server.yaml

server.yaml
props:
   proxy-password-encrypt-enabled: true # Proxy password encrypt, default false.
   proxy-password-encrypt-salt: '' # Proxy password encrypt salt

[2022-05-31 17:59] liuyuqiang opened #18111 "ShardingSphereException: Route table xxx_journal_202205 does not exist, available actual table: [xxx_journal_]"
### Error querying database.  Cause: org.apache.shardingsphere.infra.exception.ShardingSphereException: Route table xxxx_journal_202205 does not exist, available actual table: [xxx_journal_]

<img width="922" alt="image" src="https://user-images.githubusercontent.com/3795195/171253385-c8b9aa04-7e33-431c-b579-dfba7a8a9c2b.png">

<img width="918" alt="image" src="https://user-images.githubuserconten

[2022-06-01 00:07] strongduanmu commented on #18111
Please submit issue according to bug template.

[2022-06-01 01:26] sandynz commented on #18064
Close now since it's fixed.

[2022-06-01 01:26] #18064 closed

[2022-06-01 05:42] RaigorJiang commented on #18107
Hi @galaxylqx
This idea is very interesting, there was a similar issue before, but it was not completed in the end, hope you can take a look at this PR: #11440

[2022-06-01 05:46] sandynz commented on #14576
Close now, it already use uuid instead of ip@port as instance id

[2022-06-01 05:46] #14576 closed

[2022-06-01 05:46] RaigorJiang commented on #18093
I have also encountered a similar problem, which may be affected by the loading order of different beans in the project. You can observe whether there is a similar log:
[code]

[2022-06-01 06:05] strongduanmu commented on #18105
After discussing with @sandynz , we need to replace not only the actual table, but also the logical table, the algorithm and binding table that have been referenced to the sharding rules.

[2022-06-01 06:05] zjcnb commented on #18093
I can't reproduce this problem, Maybe you can provide a demo project?

[code]

<img width="1752" alt="image" src="https://user-images.githubusercontent.com/33742097/171338332-8e3877b8-e388-4d02-bdeb-00c6921862c9.png">

[2022-06-01 06:08] zjcnb commented on #18055
Yeah, you are right. Can you submit a pull request to fix it?

[2022-06-01 06:08] #17777 closed

[2022-06-01 06:09] #17987 closed

[2022-06-01 06:22] #18105 closed

[2022-06-01 06:36] vincentlbh commented on #18093
yeah,i got this

trationDelegate$BeanPostProcessorChecker : Bean 'tb-algorithm' of type [org.apache.shardingsphere.sharding.algorithm.sharding.classbased.ClassBasedShardingAlgorithm] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying)

[2022-06-01 06:37] vincentlbh commented on #18093
yeah,i got this

trationDelegate$BeanPostProcessorChecker : Bean 'tb-algorithm' of type [org.apache.shardingsphere.sharding.algorithm.sharding.classbased.ClassBasedShardingAlgorithm] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying)

[2022-06-01 06:53] cheese8 opened #18119 "Is it right that format SQL from COUNT(table.id) into COUNT(table . id)"
## Feature Request

As title described that, there is space bewteen `table . id`, is it designed or need to be optimized as `table.id`?

@terrymanu @jingshanglu @strongduanmu @tuichenchuxin

Original SQL:

[code]

Formatted SQL:

[code]

[2022-06-01 07:04] vincentlbh commented on #18093
please take it!
[order-demo.zip](https://github.com/apache/shardingsphere/files/8811789/order-demo.zip)

[2022-06-01 07:05] zjcnb commented on #18093
Thx, i will see

[2022-06-01 07:16] carlyin0801 opened #18122 "bug:In the case of sub-tables, if the sql contains on group by select, it will cause an error in the actually generated sql"
**Bug Report**
Which version of ShardingSphere did you use?
5.1.1

**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-JDBC

**configuration:**
"ds_{0..1}.T_ATOM_FAIL_SUMMARY_DATA_{0..1}"

**table init sql:**
CREATE TABLE `T_ATOM_FAIL_SUMMARY_DATA_0` (
  `ID` bigint(32) NOT NULL,
  `PROJECT_ID` varchar(64) NOT NULL,
  `PIPELINE_ID` varchar(34) NOT NULL,
  `PI

[2022-06-01 07:27] vincentlbh commented on #18093
oh, sorry, i forgot something, earlier i had to add this class to solve that problem.

![图片](https://user-images.githubusercontent.com/106581161/171350552-964f2990-a6b8-47dd-938c-dacb37bdd88d.png)

[2022-06-01 07:30] zjcnb commented on #18093
I found it, and i commented it out

[2022-06-01 07:39] Linda-Tan opened #18123 "Route table logicTable_xxx does not exist, available actual table: [logicTable]"
Version:5.1.1
An error occurred:
Route table ea_document_1 does not exist, available actual table: [ea_document]
Problem Description,: I can't find my custom sharded table in availableTargetNames, what should I do. 4.1.1 It's okay to write like this
Error address:org.apache.shardingsphere.sharding.route.strategy.type.standard.StandardShardingStrategy.doSharding(StandardShardingStrategy.java:79)
co

[2022-06-01 07:41] natehuangting opened #18124 "bug: use JDBCStore For Narayana, each time the Proxy is started, the table will be dropped and the transaction log will be lost."
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Restarting the Proxy will restore the original unsuccessfully committed transaction (the log has been recorded in the DB)

### Actual behavior
A transaction that has been prepared and requires a commi

[2022-06-01 07:49] strongduanmu commented on #18123
Hi @Linda-Tan, please translate this issue to English first. Besides, can you check your actual table `logicTable_xxx` exists in actualDataNodes?

[2022-06-01 07:56] Linda-Tan commented on #18123
DataNodes It will actually increase dynamically, can you bypass the verification of this item?

[2022-06-01 07:57] Linda-Tan commented on #18123
Tables are dynamically created via triggers

[2022-06-01 08:02] 726411951 commented on #18055
@zjcnb fine，I will do it

[2022-06-01 08:03] cheese8 commented on #18122
I can not reproduce this case with latest master, can you describe it in short and provide the demo to reproduce it?

[2022-06-01 08:05] #18123 closed

[2022-06-01 08:15] VeejaLiu opened #18127 "Python - pymysql: Does not support placeholder in SQL?"
## Bug Report
Sharding-sphere Proxy 5.1.1

Python pymysql:
<img width="1391" alt="image" src="https://user-images.githubusercontent.com/22064617/171359203-8a967b89-8773-4cad-9a87-4688a4f1f746.png">
In addition, no information is printed in the proxy log. No information is printed. It is completely blank

[2022-06-01 08:37] lichencai opened #18128 "shardingsphere5.1.1 INTERVAL algorithm"
## Question

I use interval algorithm by the properties like this

[code]

when the program use current time to format, it throws an error that StringIndexOutOfBoundsException
![image](https://user-images.githubusercontent.com/5958344/171363357-86790633-40c0-4dcc-bdf9-8b6aa5de424d.png)
![image](https://user-images.githubusercontent.com/5958344/171363434-0e186ecf-f962-4dcd-aa4b-d45e309ab619.png)

w

[2022-06-01 08:45] VeejaLiu commented on #18127
Change writting:
[code]
Solved this problem.

Pymysql automatically quotes placeholders. So there will be some SQL statement problems.
This problem occurs when we use the table name or field name as a placeholder, so we need to use the above method.

[2022-06-01 08:46] #18127 closed

[2022-06-01 09:41] TeslaCN opened #18130 "[DISCUSS] Release Plan of ShardingSphere 5.1.2"
## Release 5.1.2

Hi community,

After the release of 5.1.1 version, we have received a lot of feedback
from users and developers. Now we plan to release the ShardingSphere 5.1.2
version these days, which has made a lot of optimization and improvement for
these feedback.

Please refer to this release notes to confirm whether it contains the
features you expect. If I missed anything, please remind

[2022-06-01 09:49] TeslaCN commented on #12206
Test cases are not in release scope. I'm removing the milestone for now.

[2022-06-01 09:49] TeslaCN commented on #12170
Test cases are not in release scope. I'm removing the milestone for now.

[2022-06-01 09:53] strongduanmu commented on #17909
I just reproduced the exception and I will try to fix it.

[2022-06-01 09:59] TeslaCN commented on #16564
Hi @soulasuna
Are we done?

[2022-06-01 10:03] TeslaCN commented on #16666
Hi @lanchengx
Any update here?

[2022-06-01 10:06] TeslaCN commented on #17555
Hi @complone
Any update here?

[2022-06-01 10:07] soulasuna commented on #16564
Hi @TeslaCN Must be done today

[2022-06-01 10:07] TeslaCN commented on #17092
Hi @azexcy @zjcnb
Could we finish this in 5.1.2?

[2022-06-01 10:08] TeslaCN commented on #17138
Hi @tuichenchuxin
Could we finish this in 5.1.2?

[2022-06-01 10:08] TeslaCN commented on #17767
Hi @zjcnb
Could we finish this in 5.1.2?

[2022-06-01 10:08] TeslaCN commented on #16973
Hi @tuichenchuxin
Any update here?

[2022-06-01 10:11] TeslaCN commented on #18102
Hi @qianYzz
You may refer to examples here. https://github.com/apache/shardingsphere/tree/master/examples
If you have any suggestion, welcome to submit Pull Requests.

[2022-06-01 10:27] TeslaCN commented on #17137
Hi @tuichenchuxin
Have we finished this issue?

[2022-06-01 10:28] TeslaCN commented on #17313
Hi @cherubimLV
Any update here?

[2022-06-01 10:28] #17909 closed

[2022-06-01 10:28] TeslaCN commented on #17423
Hi @lanchengx
Any update here?

[2022-06-01 10:30] #18119 closed

[2022-06-01 10:47] ItsCocan opened #18135 "[5.1.1] shardingsphere-jdbc-core-spring-namespace did not work."
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-06-01 11:22] xiaoqunhu opened #18136 "NPE when using left join.."
DB:Mysql5.7
sql: SELECT d.id, r.id  FROM table1 l  left join table2 r on l.id = r.id
I use shardingjcbc  with springboot starter and mybatis,mainly  read-write separation.
It throws NPE when try to get r.id in Java Object.
It seens fields of table r is existed,but table r is empty field.

[2022-06-01 11:25] xiaoqunhu commented on #18136
my version is 5.1.1

[2022-06-01 11:41] sandynz commented on #17993
Close now, it should be fixed by #18110

[2022-06-01 11:42] soulasuna commented on #16564
@TeslaCN Is done.

[2022-06-01 11:42] #16564 closed

[2022-06-01 11:50] xiaoqunhu commented on #18136
My problem description is not so accurate,

So I'll close this question first

[2022-06-01 11:50] #18136 closed

[2022-06-01 11:54] xiaoqunhu commented on #18136
I' am sorry , my describe is not so accurate,
Problem SQL is :
SELECT l.id,GROUP_CONCAT(r.id) as right_ids
 table1 l left join table2 r on l.id = r.id
group by l.id,
I can get l.id , but right_ids is null

[2022-06-01 12:11] xiaoqunhu opened #18139 "[5.1.1] missing some fields when using MySQL aggregate function with join"
SQL：
select type,count(B.id) as cnt from A left join B on A.id = B.id group by type

enviroment:
springboot+shardingJdbc 5.1.1 + mybatis

issue:
**missing count(B.id) as cnt** , no matter join/left join or other else

[2022-06-01 13:42] linghengqian commented on #17779
@tuyendev Cheers for the solution of the https://issues.apache.org/jira/projects/GROOVY/issues/GROOVY-10643 ! You can use Groovy's main branch experiment natively!

[2022-06-02 01:33] natehuangting opened #18143 "The proxy needs to be able to customize some parameters when using narayana"
## Feature Request

### Describe the feature you would like.
When proxy uses narayana, some parameters cannot be customized, such as defaultTimeout. I hope that some more important parameters can be defined in the configuration file.

Here are some definitions in server.yaml.

[code]

[2022-06-02 01:45] liuzhihui021221 commented on #17973
@laersheng I didn't solve it.  Are you using the same version?

[2022-06-02 01:49] #17137 closed

[2022-06-02 01:53] #16679 closed

[2022-06-02 02:10] TeslaCN commented on #17487
Hi @zjcnb @yx9o
Have we finished this issue?

[2022-06-02 02:35] zjcnb commented on #17767
Move it to 5.1.3 milestone.

[2022-06-02 02:41] zjcnb commented on #16116
This problem are fixed. close it

[2022-06-02 02:41] #16116 closed

[2022-06-02 02:51] yx9o commented on #17487
Yes, it's done.

[2022-06-02 03:09] lshirong opened #18146 "sharding Key "not in " how to route query to all databases"
## Question

Which version of ShardingSphere did you use?
5.1.1

Which project did you use?
shardingsphere-jdbc-core-spring-boot-starter

Question
When sql "id not in ('1')", there are no route query all database, but only route query the database where '1' is located

Demo

## sharding-config
spring.shardingsphere.rules.sharding.default-database-strategy.standard.sharding-column=id
spring.shardin

[2022-06-02 03:29] TeslaCN commented on #17487
Close via #17931.

[2022-06-02 03:29] #17487 closed

[2022-06-02 03:31] 735100049 commented on #18090
I have the same problem. Do you have any solutions

[ERROR] 2022-06-02 11:01:52.410 [Connection-1-ThreadExecutor] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.sql.SQLException: Error while preparing statement [SELECT
        *
FROM
        t_order o
LEFT JOIN t_user u ON o.user_id = u.user_id
WHERE
        o.user_id != 1
ORDER BY
        o.user_id DESC
LIMIT 2]
        at org.apache.cal

[2022-06-02 03:40] #18099 closed

[2022-06-02 03:55] laersheng commented on #17973
My version is 5.1.1.
When using `Preparedstatement`, I found that shardingsphere did not correctly parse the paging parameters, and there was a problem with the index subscript. Maybe it was a bug.
so I used `${currentPage} `, `${pageSize}` instead of `#{currentPage} `, `#{pageSize}`  in sql, and solved this problem, just like this:
`SELECT * FROM data_cell_quality_param ORDER BY id DESC OFFSET ${

[2022-06-02 05:17] sandynz commented on #18085
After discussion with @zhenglu8 , `Job is completed, it's not necessary to do it.` is because of job is failed.
Looks the root cause is `PREPARING_FAILURE` since of database configuration is not changed.

Close for now. Feel free to submit new issue if there's new problem occur.

[2022-06-02 05:17] #18085 closed

[2022-06-02 05:34] sandynz opened #18151 "Add unit test for JdbcQueryPropertiesExtensionFactory"
`JdbcQueryPropertiesExtensionFactoryTest.java` could be added in `shardingsphere-test/shardingsphere-pipeline-test` module. Since `JdbcQueryPropertiesExtension` SPI implementations are in dialect modules.

Currently, `JdbcQueryPropertiesExtension` has 3 implementations: MySQL, PostgreSQL, openGauss.
We could add `assertExtendQueryPropertiesForMySQL` etc unit test methods, get real implementation,

[2022-06-02 06:16] natehuangting commented on #18151
I want to complete this issue, is it possible?

[2022-06-02 06:31] TeslaCN commented on #17313
I'm moving this to next milestone.

[2022-06-02 06:32] TeslaCN commented on #17619
I'm moving this to next milestone.

[2022-06-02 08:54] yx9o commented on #18151
@natehuangting Welcome.

[2022-06-02 08:57] natehuangting commented on #18151
Thank you!

[2022-06-02 09:00] complone commented on #17619
This version is still familiar with SQL lexical, currently need to complete [issue-17635]*https://github.com/apache/shardingsphere/issues/17635) familiar with SQL syntax parsing and testing process

[2022-06-02 09:07] LGHome commented on #18090
the reason is version 5.0.0 sharding-sphere-jdbc not auto load dependency ‘federation-executor' and 'federation-optimizer'

if you upgrade to 5.1.0^  or Add these dependency,
and open the federation-enable props in application.yml.

this problem will be solved

[2022-06-02 09:35] natehuangting opened #18154 "In non-cluster mode, you need to add nodes to ComputeNodeInstance at startup"
## Feature Request
### Describe the feature you would like.
In Standalone mode, I want to use distsql to update xaRecoverNodes, but there is an exception.

[code]

I hope that in non-cluster mode, the use of ComputerNodeInstance also needs to be supported.

[2022-06-02 10:28] wsm12138 opened #18156 "When use ShardingSphere-5.1.2 proxy run TPCC error occurred"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-02 11:09] dragonorant commented on #18008
Thank you for your advice

[2022-06-03 05:52] linghengqian commented on #17779
@tuyendev

- I don't think this problem has to wait until 4.0.3 is released, you can add the following fields to your project's `conf/reflect-config.json` to solve it. Refer to Groovy Slack Channel. Of course you need to install the master branch of ShardingSphere locally.
[code]
- I don't feel the need to put an incomplete galal configuration directly into the master branch of the shardingsphere

[2022-06-03 06:30] cheese8 commented on #17803
One for cipherColumn and one for assistColumn, that's more simple.

[2022-06-03 08:35] wsm12138 commented on #18156
when use ShardingSphere-5.1.2 proxy run TPCC for postgres

I found if config-sharding.yaml without rules,there will have new problem .
### config-sharding.yaml
![image](https://user-images.githubusercontent.com/86462784/171818928-9bd15c24-a87f-4abe-9df8-b6e6767784f2.png)
### logs/stdout.log
![image](https://user-images.githubusercontent.com/86462784/171818864-c3cf9eed-d2f0-4ca1-bddd-cb21925f72e1.p

[2022-06-03 08:41] wsm12138 commented on #18156
# when use ShardingSphere-5.1.2 proxy run TPC-C for openGauss

### commit_id
[code]
### errlog
[code]

### config-sharding.yaml
[code]
### server.yaml
[code]

[2022-06-03 09:07] strongduanmu opened #18169 "[WeOpen-Star] Add more unit test for DatabaseTypeEngine"
Hi community,

This issue is for [WeOpen-Star](https://github.com/apache/shardingsphere/issues/17502)

We need to add more unit test for DatabaseTypeEngine.

- [x] DatabaseTypeEngine#getProtocolType
- [x] DatabaseTypeEngine#getStorageType
- [x] DatabaseTypeEngine#getDefaultSchemaName

[2022-06-03 09:13] strongduanmu commented on #18169
Ref #18168

[2022-06-03 10:23] yanghao888 commented on #16117
#18008 Is it the same as this issue?

[2022-06-03 15:17] strongduanmu commented on #18156
@wsm12138 Please use the database created by the user for testing. The default postgres database contains gaussdb schema, and our username also uses gaussdb, which will trigger the implicit search path logic. Please use a user-created database for testing. The default postgres library includes the gaussdb schema, and our username also uses gaussdb, which triggers the implicit search path logic.

S

[2022-06-03 20:46] imjcoder opened #18170 "Association query sub table data cannot be exported"
**### Thank you da lao **
According to order_ ID to query, order_ When the ID is an odd number, only the odd t can be found_ order_ Data in item, otherwise even data can only be queried

It didn't work out until 5:00 am. Can you provide more examples on the official website?

I have uploaded the code to Baidu cloud, but it can't be uploaded to GitHub....

baidu [wangpan：](https://pan.baidu.com/s/1

[2022-06-04 15:49] linghengqian commented on #17779
I plan to close this issue in a PR, because my local verification is successful. If you still have problems, please reopen.

[2022-06-04 19:20] imjcoder opened #18177 "#C1997Runtime exception..."
da lao ke yi bang wo kan kan ma ?

Shardingsphere Proxy5.1.1
#C1997Runtime exception:[Inline sharding algorithms expression `ds_${user_id % 2}` and sharding column `user_id` not match.]

[2022-06-05 02:48] zjcnb commented on #18177
@imjcoder Can you provide your configuration?

[2022-06-05 04:47] AzeWZ opened #18178 "Shardingsphere-jdbc single db , how to config local transaction with spring"
## Question
prepare:
1. single db, only use partition table function
2. with spring boot
3. don't use xa or seata. i only have one db.
q:
transaction don't rollback.  however config
"     data-source-properties:
          useLocalSessionState: false"  can rollback.
how to config transaction with spring boot.

[2022-06-05 09:48] yumumu1988 opened #18181 "show "Invalid binding table configuration", when dataNodePrefix and shardingColumn are the same"
version of ShardingSphere：5.1.1

project ：ShardingSphere-JDBC

Expected behavior：binding table configuration should be succeed and starting the application.

Actual behavior: show such error "Invalid binding table configuration in ShardingRuleConfiguration." and application shutdowns.

Reason analyze: dataNodePrefix and shardingColumn are the same, isValidActualTableName returns false.

configurat

[2022-06-05 09:52] yumumu1988 commented on #18181
have pushed an easy fix pr.

[2022-06-05 14:16] RaigorJiang commented on #18178
Hi @jingshanglu , can you take a look at this question?

[2022-06-05 15:31] imjcoder commented on #18177
@zjcnb
hello,this is config
and Are there any cases that can run?
too many bugs.....

`# 使用navicate for mysql的时候显示的数据库的名称
schemaName: sharding_db

dataSources:
  db0:
    url: jdbc:mysql://127.0.0.1:3306/db0?serverTimezone=UTC&useSSL=false
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPo

[2022-06-06 00:01] #18181 closed

[2022-06-06 02:43] terrymanu commented on #18028
This is general maven issues, I just close it.

[2022-06-06 02:43] #18028 closed

[2022-06-06 02:45] terrymanu commented on #18102
Constructive feedback accepted only, I am sorry to close this issue.

[2022-06-06 02:45] #18102 closed

[2022-06-06 02:48] #17779 closed

[2022-06-06 02:57] #17572 closed

[2022-06-06 02:57] #17573 closed

[2022-06-06 02:57] #17574 closed

[2022-06-06 02:57] #17565 closed

[2022-06-06 02:57] #17566 closed

[2022-06-06 02:57] #17567 closed

[2022-06-06 02:57] #17568 closed

[2022-06-06 02:57] #17569 closed

[2022-06-06 02:57] #17570 closed

[2022-06-06 02:57] #17571 closed

[2022-06-06 02:57] #17554 closed

[2022-06-06 02:57] #17556 closed

[2022-06-06 02:57] #17557 closed

[2022-06-06 02:57] #17560 closed

[2022-06-06 02:57] #17561 closed

[2022-06-06 02:57] #17562 closed

[2022-06-06 02:57] #17563 closed

[2022-06-06 02:57] #17564 closed

[2022-06-06 02:57] #17540 closed

[2022-06-06 02:57] #17548 closed

[2022-06-06 02:57] #17549 closed

[2022-06-06 02:57] #17550 closed

[2022-06-06 02:57] #17553 closed

[2022-06-06 06:42] zjcnb commented on #18177
[code]

Please refer to this config.

[2022-06-06 07:46] StupidManYI opened #18192 "Initialization of bean failed; nested exception is java.lang.IllegalArgumentException: argument type mismatch"
2022-06-06 16:08:04.245  INFO 10520 --- [           main] trationDelegate$BeanPostProcessorChecker : Bean 'stringToNoneShardingStrategyConfigurationConverter' of type [org.apache.shardingsphere.spring.boot.converter.StringToNoneShardingStrategyConfigurationConverter] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying)
          2022-06-06 1

[2022-06-06 07:58] StupidManYI commented on #18192
when I add more druid  configuration  , the application will  report an error  (  'org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration': Initialization of bean failed; nested exception is java.lang.IllegalArgumentException: argument type mismatch
  at
)

        #the more druid configuration

        minIdle: 2
        # 初始化连接数
        initialSize: 1
        # 最大连接数
        maxTo

[2022-06-06 08:01] StupidManYI commented on #18192
But when I Remove the more druid configuration ,the application run successful

[2022-06-06 08:07] linghengqian commented on #18192
Not formatting markdown is really abstract... Have a minimal replica of the demo? The logs you give include ElasticSearch, Redis, and Spring Data integrations that aren't related to them.💨

[2022-06-06 08:12] StupidManYI commented on #18192
sorry,I've changed that .

[2022-06-06 08:19] StupidManYI commented on #18192
I found that error might related to

    connectionInitSqls: SET NAMES utf8mb4  #让 druid 支持特殊字符

when I remove this line , the application run successful

[2022-06-06 08:22] linghengqian commented on #18192
Alibaba druid does not have `maxTotal` and `maxWaitMillis` attributes, see https://github.com/alibaba/druid/wiki/DruidDataSource%E9%85%8D%E7%BD%AE%E5%B1%9E%E6%80%A7%E5%88%97%E8%A1%A8 . This has nothing to do with ShardingSphere.

[2022-06-06 08:35] StupidManYI commented on #18192
The error happened when I add this line

`connectionInitSqls: SET NAMES utf8mb4  #让 druid 支持特殊字符`

this attributes is in the Alibaba druid properties.
<img width="1063" alt="image" src="https://user-images.githubusercontent.com/50037510/172125500-d06159f5-1e88-4953-9d81-116115cf8b85.png">

You can remove the other extraneous druid attributes , but add the config which mentioned above , then you ca

[2022-06-06 08:44] linghengqian commented on #18192
- Use MySQL JDBC-driven properties to perform SQL for specific data sources, rather than through global properties of the JDBC pool, which most likely did not complete initialization at execution time, see https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-configuration-properties.html.

- If you need to execute this SQL at startup for all of ShardingSphere's data sources, you shou

[2022-06-06 08:50] StupidManYI commented on #18192
thanks

[2022-06-06 08:50] #18192 closed

[2022-06-06 08:56] BasZhang opened #18194 "RC4EncryptAlgorithm key lost bug"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc-core-spring-boot-starter

### Expected behavior
 Input data with different keys produce different output.

### Actual behavior
Outputs are no different.
### Reason analyze (If you can)
org.apache.shardingsphere.encrypt.algorithm.RC4E

[2022-06-06 09:34] StupidManYI commented on #18192
The final solution is change that line as follw :

`connectProperties: {connectionInitSqls: SET NAMES utf8mb4}`

[2022-06-06 09:34] DoraemonAndRat opened #18196 "Is there any support for heterogeneous index?"
Just like DRDS supports.（异构索引）

[2022-06-06 10:16] #18143 closed

[2022-06-06 11:55] linghengqian commented on #8527
@mygitdds

- The following are my personal views.

 - https://github.com/apache/shardingsphere/issues/13957 has taken a big step, I'm still concerned about the fact that the carrier thread is pinned due to the frequent switching of non-blocking and blocking tasks within the project. Because under Netty's event-driven model, thread blocking will greatly affect the overall performance, although this

[2022-06-06 12:35] terrymanu commented on #18194
Could you change the title for search friendly?

[2022-06-06 12:54] cheese8 commented on #18194
I will check this.

[2022-06-06 16:16] #18135 closed

[2022-06-07 01:01] phdbutbachelor opened #18207 "does version 5.1.1 support "count" and "group by"?"
In the first case, I configure create_time as sharding key, and use "count" function.
Print logs like this:
-----------------------------------------------------------------------------------------------------------------------------------
[http-nio-8080-exec-4] INFO ShardingSphere-SQL : Logic SQL: select count(accesslog0_.id) as col_0_0_ from ACCESS_LOG accesslog0_ where accesslog0_.create_time>=

[2022-06-07 02:01] #17614 closed

[2022-06-07 02:01] StupidManYI commented on #17614
close

[2022-06-07 02:07] natehuangting opened #18208 "Whether narayana JDBCStore creates tables also needs to be customized, because users usually do not have create privielege"
## Feature Request

### Describe the feature you would like.
When I use Narayana's JDBCStore, the user I use does not have the Create privilege, which causes the startup to fail.
[code]

[2022-06-07 02:10] java001 opened #18209 "Are the documents on the official website still being maintained?"
https://shardingsphere.apache.org/document/legacy/3.x/document/cn/manual/sharding-jdbc/usage/sharding/

Is the document in this link intended to mislead others?

[2022-06-07 02:12] #18209 closed

[2022-06-07 02:53] devin-wanghuixiong opened #18210 "An incorrect SQL statement was generated when the SQL statement contained "count ditinct(id1,id2)""
Logic SQL: select distinct count(distinct checkdetai0_.id, checkdetai0_.tenant_id) as col_0_0_ from check_detail_sale checkdetai0_ left outer join check_detail_sale_item items1_ on checkdetai0_.id=items1_.master_id and checkdetai0_.tenant_id=items1_.tenant_id and ( items1_.deleted=0) where ( checkdetai0_.deleted=0) and checkdetai0_.tenant_id=100 and checkdetai0_.id>=45660871065600000 and checkdeta

[2022-06-07 02:54] #18194 closed

[2022-06-07 03:25] H1992 opened #18212 "primary key backfill"
Hello, when I use sharding-jdbc, this way of writing will return an error.
[code]

[code]

And this is also a common way of writing, hoping to solve it by repairing it, not by avoiding it.
Reference issue: https://github.com/apache/shardingsphere/issues/14580

[2022-06-07 03:53] phdbutbachelor commented on #18178
you can inject a ShardingSphereDataSource bean into a LocalSesstionFactoryBean, then a PlatformTransactionManager:
-----------------------------------------------------------------------------------------------------------------------------------
@Bean
public DataSource mainShardingSphereDataSource() throws IOException, SQLException {
    File _yaml = ResourceUtils.getFile("classpath:shardingspher

[2022-06-07 04:27] carlyin0801 commented on #18122
Expected behavior
select T_ATOM_FAIL_SUMMARY_DATA.ATOM_CODE as atomCode, T_ATOM_FAIL_SUMMARY_DATA.ERROR_TYPE as errorType, sum(ERROR_COUNT) as ErrorCountSum, T_ERROR_TYPE_DICT.NAME as errorName from T_ATOM_FAIL_SUMMARY_DATA join T_ERROR_TYPE_DICT on T_ATOM_FAIL_SUMMARY_DATA.ERROR_TYPE = T_ERROR_TYPE_DICT.ERROR_TYPE where T_ATOM_FAIL_SUMMARY_DATA.STATISTICS_TIME between ? and ? group by T_ATOM_FAIL

[2022-06-07 06:10] #18208 closed

[2022-06-07 07:21] zjcnb commented on #18212
@H1992 Hi, your `id ` are auto_increment? Please support your configuration and `ShardingSphere-JDBC` version.

[2022-06-07 07:31] linghengqian commented on #17948
- According to java.time.temporal.TemporalQueries#chronology, we can divide the JSR310 classes that need to be supported into various types.

- The smallest java.time.temporal.ChronoUnit is NANOS, there are LocalTime, LocalDateTime, ZonedDateTime, OffsetTime, OffsetDateTime, ChronoLocalDateTime ,ChronoZonedDateTime,Instant.

- The smallest java.time.temporal.ChronoUnit is DAYS, there are LocalDate

[2022-06-07 07:53] H1992 commented on #18212
yes, column of `id` are auto_increment. 5.0.0~5.1.1 have this problem. you can see the demo https://github.com/zhao190775705/sharding-demo Reference issue: https://github.com/apache/shardingsphere/issues/14580

[2022-06-07 08:21] TeslaCN opened #18219 "EventLoop may be blocked because of closing all resources"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

Proxy worked normally.

### Actual behavior

Client cannot connect to ShardingSphere-Proxy.

### Reason analyze (If you can)

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rul

[2022-06-07 09:28] 735100049 commented on #18090
My version is 5.1.1 sharding-sphere-jdbc，and the federation-enable props is opend，this problem is still not be solved.

[2022-06-07 09:34] DreamTexX commented on #12170
Hey, i added a test case and coverage for projection engine is now at 98% (one line untested). Can i nevertheless already submit a pr?

[2022-06-07 10:42] zjcnb commented on #18212
I will fix it.

[2022-06-07 10:53] rajmunkhan commented on #17736
Hey @strongduanmu, I also want to contribute to this task, can u also assign this to me? 😊

[2022-06-07 11:02] #18219 closed

[2022-06-07 11:02] strongduanmu commented on #17736
@rajmunkhan Of course, if you are interested in the sub-tasks, please leave a message to claim it.