[2020-11-27 08:09] kimmking commented on #8375
can you try 5.0.0-alpha

[2020-11-27 08:13] kimmking commented on #8376
what's the type of order_no ?

[2020-11-27 08:15] zhangleidaniejian commented on #8376
bigint

[2020-11-27 08:16] Jaskey commented on #8375
@kimmking

Would you pleae give me a confirm conclusion, we have run this application in a prod env, we can't easitly update an much higer version in our prod.

And as the issue shows https://github.com/apache/shardingsphere/issues/1756, a related issue have been solved in 4.0

[2020-11-27 08:19] kimmking commented on #8375
@Jaskey but truely not.
Ref:  https://github.com/apache/shardingsphere/issues/6367

[2020-11-27 08:22] Jaskey commented on #8375
@kimmking  So what bug does#1756 fix? which is the lowest version can fix this bug.

[2020-11-27 08:35] duzhanfei opened #8377 "Cause: java.sql.SQLException: 2Unknown exception: [Can not route tables for `[bcpur_pscst_deptp_stats]`, please make sure the tables are in same schema.]\r\n### The error may exist in file"
#7816 # Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

I configured the default routing datesouce   when configuring read/write separation

I want to route  table   bcpur_pscst_deptp_stats  to the default database, but I am prompted that I do not have a routing policy configured

part  config   of

[2020-11-27 08:58] #8241 closed

[2020-11-27 09:01] #8374 closed

[2020-11-27 09:02] huangpang opened #8378 "Shrdingsphere 4.1.1 cannot be paged"
## Bug Report

I upgraded from 4.0.0-rc1 to 4.1.1

After upgrading to 4.1.1, it is found that the normal business function (paging query) cannot be used

Because we operate on mybatis-plus, we will count first and then perform paging query

Observe the log, and find that count has normal table splitting

The SQL statement is: select count (*) from t_ Xx_ 202011 hundred and two thousand and eleven

[2020-11-27 09:39] terrymanu commented on #8330
The 1st one is simple and clear, I like it.

[2020-11-27 09:49] duzhanfei commented on #8377
"returnMsg": "\r\n### Error querying database.  Cause: java.sql.SQLException: 2Unknown exception: [Can not route tables for `[ORG_INFO]`, please make sure the tables are in same schema.]\r\n### The error may exist in file [D:\\sn_20201020\\customer1120\\cdsp-customer\\cdsp-customer-impl\\target\\classes\\mapper\\AdmdvTbMapper.xml]\r\n### The error may involve com.sxxh.cdsp.customer.dao.AdmdvTbMapp

[2020-11-27 10:27] #8318 closed

[2020-11-27 10:29] lly835 opened #8382 "Configuration property name 'spring.shardingsphere.rules.sharding.sharding-algorithms.database_inline.props' is not valid"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-11-27 10:30] iamif3000 opened #8383 "[question] the insert performance is bad. please help to check the config."
Hi,

I made a performance test on sharding-proxy(4.1.1), the performance is a bad. And the result looks strange.

server.yaml
-----------------------
[code]
config-master_slave.yaml
---------------------------
[code]

Test env
--------------------
[code]

The test result
---------------------------
![image](https://user-images.githubusercontent.com/16129632/100438835-aa6b5a80-30dd-11eb-8129-7c3b38

[2020-11-27 10:46] #7851 closed

[2020-11-27 10:46] #8171 closed

[2020-11-27 13:34] yu199195 commented on #8382
@lly835  hi, if you use springboot 2.X , you config maybe with '-' , not '_' 。 for example ：

[code]

[2020-11-27 13:36] lly835 commented on #8382
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/

[2020-11-27 13:38] lly835 commented on #8382
Examples can be used with the new version of springboot. use springboot 2.X
https://github.com/apache/shardingsphere/blob/master/examples/pom.xml

[2020-11-27 13:38] yu199195 commented on #8382
@lly835  you will see this #8306  #8326

[2020-11-27 13:39] yu199195 commented on #8382
https://github.com/apache/shardingsphere/blob/master/examples/pom.xml

examples use springboot with 1.x

[2020-11-27 13:45] lly835 commented on #8382
SpringBoot2 has been in use for nearly three years

[2020-11-27 13:54] yu199195 commented on #8382
Does it have anything to do with it?I have given the solution, do you have any other questions。

[2020-11-27 13:59] lly835 commented on #8382
![image](https://user-images.githubusercontent.com/2225913/100456656-b9f99c00-30fb-11eb-9fef-8ac0b92b0093.png)

[2020-11-27 14:14] xiaoliu10 commented on #8217
1. 5.0.0-alpha
2.  I use Navicat to connect to sharding proxy. How can I get SQL logs

[2020-11-27 14:57] luckleemon opened #8388 "if i want to implement self define ShardingAlgorithm, what dependence should i add in my project?"
if i want to implement self define ShardingAlgorithm in shardingproxy5,
what dependence should i add in my project?
thank you.
hope your reply.

[2020-11-27 16:49] lly835 opened #8392 "Can not update sharding key"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-11-27 16:53] kimmking commented on #8392
Can you show the actual update sql ?

[2020-11-28 04:04] lly835 commented on #8392
Actual SQL: ds0 ::: select orderentit0_.id as id1_0_0_, orderentit0_.order_id as order_id2_0_0_, orderentit0_.remark as remark3_0_0_, orderentit0_.user_id as user_id4_0_0_ from t_order_0 orderentit0_ where orderentit0_.id=? ::: [539229976252624896]

[2020-11-28 05:08] chen11181989 opened #8394 "YML方式配置没走分片策略是什么原因呢"
# 数据源配置
spring:
    shardingsphere:
        datasource:
            common:
                type: com.alibaba.druid.pool.DruidDataSource
                driver-class-name: com.mysql.jdbc.Driver
            #  数据库名称，可自定义，可以为多个，以逗号隔开，每个在这里定义的库，都要在下面定义连接属性
            names: ds0,ds1
            #年份为2019年的库
            ds0:
                #  采用的数据库连接池，druid
                #type: com.alibaba.druid.po

[2020-11-28 05:17] lly835 opened #8395 "how to update data in sharding-spring-boot-jpa"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-11-28 10:03] lujiafa opened #8396 "master-slave query exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-11-28 17:34] dbhat6 commented on #8179
@cenyu00 are you still working on this?
Can I take it up if not?

[2020-11-29 00:57] #8394 closed

[2020-11-29 07:02] lyennon opened #8403 "When will the next stable version be released?"
I think 5.0.0-alpha and 5.0.0-beta is not a stable version because of their name. I want to know when will the next stable version be released?

[2020-11-29 07:37] terrymanu opened #8404 "Add more test case for JDBCQueryResultMetaData"
- [ ] getTableName
- [ ] getColumnType
- [ ] getColumnLength
- [ ] getDecimals
- [ ] isSigned
- [ ] isNotNull
- [ ] isAutoIncrement

[2020-11-29 07:37] #8382 closed

[2020-11-29 07:40] terrymanu commented on #8376
Can not support

[2020-11-29 07:40] #8376 closed

[2020-11-29 07:48] #8369 closed

[2020-11-29 07:49] terrymanu commented on #8388
Duplicate with #8330

[2020-11-29 07:49] #8388 closed

[2020-11-29 07:53] terrymanu commented on #8403
Sorry, I cannot answer this question, there are lots of thing to do, and we have no plan to release stable version now.

[2020-11-29 07:53] #8403 closed

[2020-11-29 07:55] terrymanu commented on #8396
Visitor NPE, I just assign to @jingshanglu

[2020-11-29 07:55] terrymanu commented on #8395
What is your version?

[2020-11-29 07:57] terrymanu commented on #8392
ShardingSphere can not update sharding key, please read the doc

[2020-11-29 07:57] #8392 closed

[2020-11-29 07:57] yifanzzz commented on #8404
what is the timeline?

[2020-11-29 08:00] terrymanu commented on #8217
Enable sql-show to log your actual SQL

[2020-11-29 08:11] terrymanu commented on #8375
Duplicate with #1756, it is fixed on 4.0.0-RC2, please upgrade.
We have no plan to fix pervious version, please forgive me to request you upgrade the version.

[2020-11-29 08:11] #8375 closed

[2020-11-29 08:14] terrymanu commented on #8377
There is no version for 5.0.0, please provide the correct version number

[2020-11-29 08:14] #8395 closed

[2020-11-29 08:17] lly835 commented on #8392
i update 'remark' field， it is not sharding key.

[code]

[2020-11-29 08:19] lly835 commented on #8395
https://github.com/apache/shardingsphere/issues/8392

[2020-11-29 09:28] wenweibin commented on #8404
Please assgin to me

[2020-11-29 09:34] strongduanmu commented on #8378
@huangpang Thank you very much for the debug information. The `4.1.1` version  is not perfect in parsing subqueries. The `5.0.0-alpha` version has optimized this problem and has better support for subqueries. Welcome to upgrade the version and test it. 😁

[2020-11-29 09:38] lyennon commented on #8396
it looks like that text is in mysql key word  list but not in unreserved word list

[2020-11-29 09:41] guimingyue commented on #8284
Before we start the work on this issue, we need to design the schema definition depending on calcite. Now, I'm investigating calcite's schema system。

[2020-11-29 10:03] yifanzzz commented on #8404
if it exist, please assign to me

[2020-11-29 12:44] lujiafa commented on #8396
tried the mysql syntax `text` to no avail

[2020-11-29 14:09] terrymanu opened #8412 "Add test case for TableModifyInTransactionException"

[2020-11-29 14:12] terrymanu commented on #8404
Thank you, there are lots of method need to be test, you may share them.

[2020-11-29 14:15] zjcnb commented on #8412
Please assign it to me

[2020-11-30 01:14] duzhanfei commented on #8377
5.0.0-alpha ( Release Date: Nov 10, 2020 )

At 2020-11-29 16:14:22, "Liang Zhang" <notifications@github.com> wrote:

There is no version for 5.0.0, please provide the correct version number

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-30 02:19] jingshanglu commented on #8396
@lujiafa Plz use 5.0.0-alpha, it is ok, i have checked it.

[2020-11-30 02:52] jingshanglu commented on #8359
@dongzl can you check it?

[2020-11-30 03:24] yu199195 commented on #8185
Looks good, I want join it.

[2020-11-30 03:30] simply-lu opened #8415 "springboot+hikari+mybatis-plus database query takes a long time"
Hello, we use sharding-jdbc-spring-boot-starter, a single database query takes a long time, and during the stress test, the database connection timeout occurs after about 30 threads.
sharding-jdbc-spring-boot-starter version: 4.0.0 4.0.1 4.1.0 4.1.1
Database connection pool: hikari or druid
Database version: mysql 5.7
Database middleware: mybatis-plus
Language: java
Configuration file:
spring:
sha

[2020-11-30 03:32] simply-lu commented on #8415
sql statement: select id as userId, `status`, password from tb_user where del_flag = 0 and phone =? and role =?
time use : 10375ms

[2020-11-30 03:36] tuohai666 commented on #8383
Hi @iamif3000 , according to your test result, I'd suggest:
1. Set sql.show to false
2. Set acceptor.size to 100
You can test again with these parameters.

Additionally,
1. If you use jmeter jdbc directly, the SQL request will not be prepared statement. It's better to write a jdbc plugin with HikariCP to perform the test.
2. We have improve the performance after 4.1.1(https://github.com/apache/sha

[2020-11-30 04:07] #8296 closed

[2020-11-30 04:24] fyuan1030 opened #8416 "groovy can't resolve the expression"
hello, the shardingsphere team, there is a question I want to ask;

version: sharding-jdbc-spring-boot-starter 4.0.1
when I config actual-data-nodes, there was a problem that I found, I just use the function about sharding table;
when actual-data-nodes is `${db.name}.tableName_$->{2020..2021}$->{[01,02,03,04,05,06,07]}` it was ok ;
but when  actual-data-nodes is `${db.name}.tableName_$->{2020..202

[2020-11-30 04:31] fyuan1030 commented on #8416
when I config with `${db.name}.tableName_$->{2020..2021}$->{[08,09,10,11,12]}`; it throws a exception too

`1 error

	at org.springframework.beans.factory.support.ConstructorResolver.instantiateUsingFactoryMethod(ConstructorResolver.java:599) ~[spring-beans-4.3.14.RELEASE.jar:4.3.14.RELEASE]
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.instantiateUsingFactoryMet

[2020-11-30 04:34] tuohai666 commented on #8383
@iamif3000 I noticed the env is 2core4G, so we should not use so many threads.

[code]

[code]

[2020-11-30 05:47] tuohai666 commented on #8416
@fyuan1030 I think the version is too old, so the problem is hard to track. Can you try with 5.0.0-alpha?

[2020-11-30 05:51] tuohai666 commented on #8415
Duplicated with https://github.com/apache/shardingsphere/issues/8318 .

[2020-11-30 05:51] #8415 closed

[2020-11-30 06:06] wangleigithub opened #8419 "How can I config the server-version of sharding-proxy?"
When I  connect Mysql 8.0 with sharding-proxy 4.1.0,  the proxy always retrun server_version like '5.6.4-Sharding-Proxy 4.1.0', it will cause a problem, in cj.jdbc.drive will compare the drive version and proxy version , if min than 8.0.3 it will add "query_cache_size" property , but in Mysql 8.0 it removed.

[2020-11-30 06:23] Jaskey commented on #8375
@terrymanu I use 4.1.0, isn't it higher than version 4.0.0-RC2?

[2020-11-30 06:27] tuohai666 commented on #8377
@duzhanfei Can you provide the entire config of config-replica-query.yaml? So that I can reproduce and debug.

[2020-11-30 06:31] fyuan1030 commented on #8416
yeah，I want to use this version，but I did't find sharding-jdbc-spring-boot-starter 5.0.0-alpha with maven；the latest is 4.0.1

[2020-11-30 06:31] tuohai666 commented on #8419
This problem had been resolved in 5.0.0-alpha.
Please refer to https://github.com/apache/shardingsphere/issues/6239 .

[2020-11-30 06:31] #8419 closed

[2020-11-30 06:32] lujiafa commented on #8396
this test version cannot be used in a production environment, right?

[2020-11-30 06:47] tuohai666 commented on #8416
@tuohai666 The name had been changed. Please refer to https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-jdbc-spring-boot-starter-infra

[2020-11-30 07:00] fyuan1030 commented on #8416
OK, I will try it. don the function change?

[2020-11-30 08:25] zhaofangcheng commented on #2712
this works for me.

[2020-11-30 09:58] luckleemon opened #8423 "how to config default database?"
i want to config the default database, but i use the config 'default-data-source: ds_0' in yaml file,  it goes error,

Exception in thread "main" Cannot create property=rules for JavaBean=org.apache.shardingsphere.proxy.config.yaml.YamlProxyRuleConfiguration@57baeedf
 in 'reader', line 25, column 1:
    schemaName: sharding_db
    ^
Cannot create property=default-data-source for JavaBean=org.apach

[2020-11-30 11:35] wgy8283335 commented on #7531
I'd like to take care of aim-2.

[2020-11-30 11:43] tristaZero commented on #8284
@guimingyue +1, BTW. If your investigation makes progress, welcome your sharing here. A demo is a good way for discussion and presentation.

[2020-11-30 12:19] hanjinxing opened #8424 "dont support oracle RAC in db.url?"
## Question

 when i use the jdbc.url=jdbc:oracle:thin:@(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = host_ip1)(PORT = 1521)) (ADDRESS = (PROTOCOL = TCP)(HOST = host_ip2)(PORT = 1521)) (LOAD_BALANCE = yes)(failover=on)(connect_data= (service_name = orattt))), the class of OracleDataSourceMetaData is error,

public final class OracleDataSourceMetaData implements DataSourceMetaData {

    privat

[2020-11-30 12:22] tuohai666 commented on #8423
The configuration below is based on version 5.0.0-alpha. More information please refer to: https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF

[code]

[2020-11-30 12:22] #8423 closed

[2020-11-30 12:26] tristaZero commented on #8284
Hi @junwen12221 ,

Very appreciated your explanation.
Just to follow your last comment, I gave a detailed look at `TranslatableTable` and `ProjectableFilterableTable`.

Here is my understanding,
`ProjectableFilterableTable` provide some simple interfaces (Nothing to do with rules) to allow users to focus on `project` and `filter` optimization. At the same time `TranslatableTable` gives users the m

[2020-11-30 12:45] tuohai666 commented on #8424
Duplicated with https://github.com/apache/shardingsphere/issues/7195 .

[2020-11-30 12:45] #8424 closed

[2020-11-30 14:47] junwen12221 commented on #8284
@tristaZero

Generally, logical RelNode(`src\main\java\org\apache\calcite\rel\logical`)
starts from `org.apache.calcite.plan.Convention#NONE`,
for example:
[code]

Then it goes through the (rule) converter to transform into the another RelNode with a new `org.apache.calcite.plan.Convention`,
The class that specializes in this conversion is `org.apache.calcite.rel.convert.ConverterRule`.
So it is a

[2020-12-01 02:04] wgy8283335 commented on #6480
I'd like to take care of this issue.

[2020-12-01 02:45] xhrg opened #8430 "The SQL tool can still see the original MySQL database name"
test conditions：：：
*  sharding-proxy-4.1.1
*  mysql 5.7.30
*  create the database name ssdb in MySQL for test

---

testing procedure：：：
**config sharding-proxy**
`schemaName: sharding_db
dataSources:
  ds0:
    url: jdbc:mysql://127.0.0.1:3306/ssdb?serverTimezone=UTC&useSSL=false
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000

[2020-12-01 03:10] xianzhuo-sky opened #8431 "NullPointerException when spring boot startup"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-01 03:27] tristaZero commented on #8431
Hi @xianzhuo-sky ,
Do you think [examples](https://github.com/apache/shardingsphere/tree/5.0.0-alpha/examples/shardingsphere-jdbc-example/sharding-example) can give you some points?

[2020-12-01 03:29] #8404 closed

[2020-12-01 03:39] tristaZero commented on #8430
Hi @xhrg
Thanks for your feedback. I looked back the PRs, and found this bug has been fixed in [my PR](https://github.com/apache/shardingsphere/pull/6916/). I suggest you try it with the latest release 5.0.0-alpha.

[2020-12-01 03:44] tristaZero commented on #8396
@lujiafa I suggest you give 5.0.0-alpha a try since this release includes broad SQL support and fixed a few important bugs.
FYI, [Release note](https://github.com/apache/shardingsphere/releases/tag/5.0.0-alpha).

[2020-12-01 04:02] iamif3000 commented on #8383
@tuohai666 Thanks for you help. I tuned the configuration and the performace is better, but still not good enough.
And I have another question: does sharding-proxy support native mysql/mariadb protocol in the backend db connections?

[2020-12-01 04:03] xianzhuo-sky commented on #8431
need a fix

[2020-12-01 05:40] xtuer opened #8435 "Create DataSource using YamlOrchestrationShardingDataSourceFactory error"
## Question
When loading configuration from Zookeeper follow the [orchestration doc](https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/configuration/config-yaml/#%E6%B2%BB%E7%90%86).

It throws error like:
Factory method 'dataSource' threw exception; nested exception is Cannot create property=orchestration
for JavaBean=org.apache.shardingsphere.shardingjdbc.orc

[2020-12-01 06:25] luckleemon opened #8436 "when i insert the data into the broadcast table, it throws the exception."
**when i insert the data into the broadcasttable, it throws the exception.**

[INFO ] 14:16:44.882 [ShardingSphere-Command-14] ShardingSphere-SQL - Logic SQL: SET PROFILING=1;
[INFO ] 14:16:44.883 [ShardingSphere-Command-14] ShardingSphere-SQL - SQLStatement: MySQLSetStatement()
[INFO ] 14:16:44.883 [ShardingSphere-Command-14] ShardingSphere-SQL - Actual SQL: ds_0 ::: SET PROFILING=1;
[INFO ] 14:1

[2020-12-01 07:13] terrymanu opened #8439 "Add test case for PostgreSQLCommand"

[2020-12-01 07:14] terrymanu opened #8440 "Add test case for UpdateResponseHeader"

[2020-12-01 07:18] terrymanu opened #8441 "Translate issue conduct to English"
Please translate issue conduct to English.

The Chinese version to be referenced:
https://github.com/apache/shardingsphere/tree/master/docs/community/content/contribute/issue-conduct.cn.md

English doc address:
https://github.com/apache/shardingsphere/tree/master/docs/community/content/contribute/issue-conduct.en.md

[2020-12-01 07:19] taojintianxia commented on #8440
assign pls

[2020-12-01 07:21] wenweibin commented on #8441
Please assgin to me

[2020-12-01 07:57] huanghao495430759 commented on #8439
Please assgin to me

[2020-12-01 08:23] jingshanglu commented on #6480
Ok, welcome to the ShardingSphere community.

[2020-12-01 08:53] huanghao495430759 commented on #8440
Please assgin to me

[2020-12-01 09:52] tuohai666 opened #8445 "Improve the SQL command types of PostgreSQL"
For ShardingSphere-Proxy's PostgreSQL protocol implement, we record the SQL command type for the CommandCompletePacket. In brief, users can get a readable prompt after execute an SQL:

![image](https://user-images.githubusercontent.com/24643893/100723393-abadc780-33fc-11eb-9e2a-4eb80f7c8a1a.png)

Types that Proxy supports for now:

[code]

That's not enough, maybe we should implement the entire ty

[2020-12-01 10:21] tuohai666 commented on #8383
@iamif3000 Can you provide the expected test results and the reason? So that we can estimate how to improve the performance.
Proxy does not support mysql protocol in the backend.

[2020-12-01 10:21] strongduanmu commented on #7531
@wgy8283335 Welcome ! 👍

[2020-12-01 11:12] terrymanu commented on #8238
Please mock sqlParserExecutor after new ParseTreeCacheLoader, and use reflection to set your mock.

[2020-12-01 12:15] tuohai666 commented on #8431
@xianzhuo-sky Can you submit a pull request?

[2020-12-01 12:21] tuohai666 commented on #8436
Please fill in the template:

[code]

[2020-12-01 12:31] #8439 closed

[2020-12-01 12:37] liuchaoheliang opened #8457 "why sql parse useCache default value is false?"
## Question

public final class SQLStatementParserEngine {

    private final SQLStatementParserExecutor sqlStatementParserExecutor;

    private final LoadingCache<String, SQLStatement> sqlStatementCache;

    public SQLStatementParserEngine(final String databaseType) {
        sqlStatementParserExecutor = new SQLStatementParserExecutor(databaseType);
        // TODO use props to configure cache

[2020-12-01 12:41] ji2019 opened #8458 "MySQL client Navicat connection shardingsphere-5.0.0-alpha-proxy 3307 port bug"
## Question
[code]

Operating system Windows 10
MySQL client Navicat connection shardingsphere-5.0.0-alpha-proxy  3307 port bug
[code]

[2020-12-01 13:01] tuohai666 commented on #8458
@ji2019 What's the version of the MySQL server and Navicat?

[2020-12-01 13:03] ji2019 commented on #8458
Problems caused by Navicat 15 for MySQL tool , With MySQL workbench 8.0, the CE problem disappears

[2020-12-01 13:10] tuohai666 commented on #8457
Statement will not be cached while PreparedStatement will be cached.

Why Statement will not be cached?
Imagine I insert rows whose id is from 1~1000000, all the 1000000 SQLs are different and the cache will not work.

Why PreparedStatement cache works?
Imagine I insert rows whose id is from 1~1000000, **id = ?** will be cached and is the only SQL to be cached. All the 1000000 SQLs share one parse

[2020-12-01 13:10] #8457 closed

[2020-12-01 13:13] tuohai666 commented on #8458
@ji2019 Get it. And what's the version of the MySQL server?

[2020-12-01 13:19] tuohai666 commented on #8458
MySQL 8.0.20 + Proxy-alpha can't reproduce this problem.

![image](https://user-images.githubusercontent.com/24643893/100745865-dd358b80-341a-11eb-8f1f-1100fabd2587.png)

[2020-12-01 13:21] tuohai666 commented on #8458
Can you execute this actual SQL from MySQL CLI and watch the result to make sure whether the problem is caused by this SQL?

[2020-12-01 13:22] tuohai666 commented on #8458
I don't have Navicat license, so can't debug directly.

[2020-12-01 14:27] lxl910128 opened #8459 "test REPLICA QUERY by ShardingSphere-JDBC has a bug in version 5.0.0-alpha"
Which version of ShardingSphere did you use?
5.0.0-alpha

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

I want to test the feature that "replica query". I created a spring project, Use the yml file to configure it.
When I config "load-balancers" like this:
[code]
I got a error!
[code]
Through debug, I found that `ReplicaQueryAlgorithmProvidedBeanRegis

[2020-12-01 14:32] strongduanmu commented on #7703
@tristaZero @heqiao I have checked the logic in `ShardingUpdateStatementValidator`, whether it is version `4.1.1` or version `5.0.0-alpha`, it has already supported the verification logic of whether the sharding key is the same in the `SET` and `WHERE` clauses. The code is as follows:

[code]

[2020-12-01 15:27] yu199195 commented on #8459
@lxl910128  hi，you are right，  in springboot maybe have this bug。 but we have to repair 。 you will see this ：https://github.com/apache/shardingsphere/pull/8331

We will fix this problem completely in the next release

[2020-12-02 00:29] lxl910128 commented on #8459
Thanks for your answer.  Wish better and better

[2020-12-02 00:29] #8459 closed

[2020-12-02 02:26] jingshanglu opened #8462 "add support for checksumTable"
## Feature Request

Now, when use `checksumtable`, there is a exception reported, we need it is ok to run `checksumtable`.

## subtask

- [x] add support parser of `checksumTable`

- [x] make it run ok on proxy.

[2020-12-02 04:05] tristaZero commented on #7703
@strongduanmu Nice!
Therefore, guys, another solution for this issue is to try 5.0.0-alpha. :)

[2020-12-02 04:10] tristaZero commented on #8431
@xianzhuo-sky If you have located the bug, we welcome your interaction with the community If you like. :)
FYI, [How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/).

[2020-12-02 04:21] #8440 closed

[2020-12-02 04:35] SmiMi commented on #7564
The same problem occurred

[2020-12-02 05:09] huanghao495430759 commented on #8412
can assign it to me ?

[2020-12-02 05:22] heqiao commented on #7703
@strongduanmu Thank you for diving into it. @tristaZero My apologies that the proposed solution may not work as I originally agreed. The where clause doesn't contain the sharding key.

e.g. `update ACCOUNT_INFO set name=??, account_id=??, zip=??, version=?? where id = ??` was the generated sql with account_id being the sharding key. The `shardingValue` is empty in the code @strongduanmu posted (Sh

[2020-12-02 06:52] chenjipdc opened #8469 "datetime format"
## Bug Report

位置 -> org.apache.shardingsphere.sharding.algorithm.sharding.datetime.AutoIntervalShardingAlgorithm#parseDate

这个方法的参数类型可能是java.sql.Timestamp,直接调用.toString方法会得到毫秒(2020-12-01 01:01:55.601)，LocalDateTime使用的是yyyy-MM-dd HH:mm:ss，此时会抛异常。

[2020-12-02 07:15] tuohai666 commented on #8469
Please translate the report to English and create a new issue.

[2020-12-02 07:15] #8469 closed

[2020-12-02 07:27] chenjipdc opened #8470 "DateTimeParseException"
## Bug Report

**Exception**
Caused by: java.time.format.DateTimeParseException: Text '2020-03-15 09:51:17.681' could not be parsed, unparsed text found at index 19
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1952)
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1851)
	at java.time.LocalDateTime.parse(LocalDateTime.java:492)

**Location**
org.ap

[2020-12-02 07:31] tuohai666 commented on #8470
Hi, please fill in the template.
[code]

[2020-12-02 08:15] sabz90 commented on #7703
The second condition will fix this issue but it is a risky option - we are just assuming that the user did not intend to put the sharding column in the where clause.

[code]

So a safer option would be to define an Annotation, something like "@ForceWhereClause" which should then indicate to sharding-sphere that it has to use the value from SET clause and put in a where clause along in the final st

[2020-12-02 09:05] #8412 closed

[2020-12-02 09:46] tristaZero commented on #8284
Hi, @junwen12221

If `CoreRules` is in the field of `Convention.NONE` and has nothing to do with `Calling convention`, what's the role of `CoreRules` for relNode optimization?

Also, here are some of my thinking about this issue. If I missed something, welcome your correction. ：）
1. It is possible to implement the custom adaptor for federated queries.
2. We need to consider SQL optimization. If we

[2020-12-02 10:13] tristaZero commented on #8284
My greetings for @junwen12221 @guimingyue .

Based on the points @junwen12221 gave before, I write a [demo](https://github.com/tristaZero/federatedSQL) for this issue, i.e., SQL federation and SQL query optimization.

In this demo, SQL federation using Calcite JDBC driver can work well. Nonetheless,  I also write a raw executor (As 3 mentioned above) with parsing, validating, optimizing and execut

[2020-12-02 10:39] Bpazy opened #8473 "Spelling mistake in the user-manual"
It should be `Spring Boot Starter` instead of `Spring Boot Start`.
[/docs/document/content/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/_index.cn.md](https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/_index.cn.md)

[2020-12-02 10:58] fyuan1030 opened #8475 "how to deal with the conflict about starter"
hello the shardingsphere team，I found a problem when I used shardingsphere-jdbc-spring-boot-starter-infra 5.0.0-alpha；

version：now I use `shardingsphere-jdbc-spring-boot-starter-infra 5.0.0-alpha`；

project：I just use shardingsphere-jdbc；

behavior： before I use `shardingsphere-jdbc-spring-boot-starter-infra 5.0.0-alpha` I use `shardiing-jdbc-spring-boot-starter 4.1.1`；when I use `shardiing-jdbc-

[2020-12-02 11:36] #8473 closed

[2020-12-02 12:44] guimingyue commented on #8284
I will check out this demo, and debug it tomorrow.

[2020-12-02 13:44] junwen12221 commented on #8284
@guimingyue @tristaZero
I fix it.
https://github.com/tristaZero/federatedSQL/pull/2

[2020-12-03 01:59] taigam opened #8478 "'group by 'error 5.0.0"
## Bug Report

### Which version of ShardingSphere did you use?

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

 ShardingSphere-JDBC

[code]

when i  excute this sql

[code]

the table group_info  is in broadcast-tables
schemaMetaData can't get the table
tableMetaData   will be null
what 's  wrong with it ?

[2020-12-03 02:14] menghaoranss commented on #8435
@xtuer could you provide example codes for reproduce this issue (such as a github link).

[2020-12-03 02:25] liguobao666 opened #8479 "5.0 java.util.NoSuchElementException: No value bound"
[code]
`
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-alpha</version>
 </dependency>
`

[2020-12-03 02:25] liguobao666 commented on #8479
Exception in thread "main" java.lang.reflect.UndeclaredThrowableException
	at org.springframework.util.ReflectionUtils.rethrowRuntimeException(ReflectionUtils.java:147)
	at org.springframework.boot.SpringApplication.handleRunFailure(SpringApplication.java:810)
	at org.springframework.boot.SpringApplication.run(SpringApplication.java:325)
	at org.springframework.boot.SpringApplication.run(SpringApp

[2020-12-03 02:37] guimingyue commented on #8284
@junwen12221 I add the  VM options you mentioned in https://github.com/tristaZero/federatedSQL/pull/2，and I found the line throwed the NPE，It‘s `root.getRootSchema().getSubSchema("sharding").getTable("t_order")`。
@tristaZero
This is because the sharding sub schema you defined in the constructor method `CalciteRowExecutor` is assigned to `CalciteRawExecutor#schema` field。Then the `DataContext` obje

[2020-12-03 02:53] jingshanglu commented on #8208
@wu-sheng Now,cache in  parser engine is not static, and create a new API to permit user customize the initial size of it. So, creating multiple parser engines will lead to a linear improvement in performance.

[2020-12-03 02:59] tristaZero commented on #8470
Hi @chenjipdc ,

Is it from the user's input? Web service? Will you keep that DateTime pattern in the database?

I suppose your reason is reasonable. Do you have any idea to solve this issue?

[2020-12-03 03:00] tuohai666 commented on #8475
Hi, please fill in the template.
[code]

[2020-12-03 03:02] yu199195 commented on #8479
@liguobao666  hi， if you use springboot， you should use '-' , like this :

[code]

of course ,you will see  #8459

[2020-12-03 03:06] yu199195 commented on #8475
@fyuan1030 can you show  shardingsphere config?

[2020-12-03 03:09] yu199195 commented on #8475
@fyuan1030 you can not use  `mybatis-spring-boot-starter` .

[2020-12-03 03:10] tristaZero commented on #8436
@luckleemon
1. If this table is not a broadcast table, does `insert` work well?
2. Have you ever tried to execute other SQLs, like `select` with `broadcast table`?

[2020-12-03 03:16] fyuan1030 commented on #8475
ok I will do it next time if I find another question in some days

[2020-12-03 03:18] fyuan1030 commented on #8475
because the spring-boot-starter-jdbc ? I can exclusion it and try again

[2020-12-03 03:22] fyuan1030 commented on #8475
[code]
I think these are enough。if anything else you need please tell me；i will try it

[2020-12-03 03:24] taigam opened #8480 "5.0.0 change param"
` <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-alpha</version>
        </dependency>`
`Actual SQL: magic-image2 ::: SELECT count(0) FROM (SELECT app_code, group_id, matrix_pwd FROM matrix_info1 GROUP BY matrix_pwd HAVING count(matrix_pwd) >= ?) table_count ::: [6]`

[2020-12-03 03:40] tuohai666 commented on #8475
@fyuan1030 I noticed you closed this issue? But it seems like you have subsequent question. How can I understand it?

[2020-12-03 03:41] fyuan1030 commented on #8475
sorry，I click it by mistake。。。。

[2020-12-03 03:44] tuohai666 commented on #8475
@fyuan1030  Please refer to https://github.com/apache/shardingsphere/issues/5929 , maybe it can help.

[2020-12-03 03:52] fyuan1030 commented on #8475
yeah，I noticed it，when I use version 4.1.1，I depends on druid rather than druid-starter

[2020-12-03 03:56] heqiao commented on #7703
@sabz90 your approach is probably more sustainable.

I also found drawbacks of CompositeKey like the id won't be generated with snowflake as there is no @id annotation.

[2020-12-03 04:06] fyuan1030 commented on #8475
and when I use `sharding-jdbc-spring-boot-starter version 4.1.1`，I can run my project；but when I update version to `shardingsphere-jdbc-spring-boot-starter-infra version 5.0.0-alpha`，my project can't run。and there are little information about `shardingsphere-jdbc-spring-boot-starter-infra version 5.0.0-alpha` with Google；so I submit it

[2020-12-03 04:23] terrymanu opened #8482 "Add test case for QueryResponseRow.getData"

[2020-12-03 04:26] arthasking123 commented on #8482
Please assgin to me

[2020-12-03 05:04] tuohai666 commented on #8475
Get it. Is the problem resolved now?

[2020-12-03 05:09] tuohai666 commented on #8480
@taigam Please fill in the template:

[code]

[2020-12-03 05:20] taigam commented on #8480
5.0.0
ShardingSphere-JDBC
the param  i give in  is 6
but  actual  change it to 2147483647
something was wrong with it
the log :
`2020-12-03 11:13:15.309 INFO [http-nio-8443-exec-10]ShardingSphere-SQL.log:74 -Actual SQL: magic-image0 ::: SELECT count(0) FROM (SELECT app_code, group_id, matrix_pwd FROM matrix_info0 GROUP BY matrix_pwd HAVING count(matrix_pwd) >= ?) table_count ::: [6]
2020-12-03 11:

[2020-12-03 05:54] tuohai666 commented on #8480
@taigam Get it, the param is changed. Can you show the final SQL result from ShardingSphere-JDBC and the result from raw JDBC?

[2020-12-03 05:58] tuohai666 commented on #8480
I found that the parameter is rewritten to Integer.MAX_VALUE intentionally for some reason. So we need to compare the SQL results to determine whether there's a bug.

[2020-12-03 06:11] taigam commented on #8480
the  mapper
`<select id="selectRepeatedMatrixInfoList" resultMap="ResultMapRepetitionExtension">
    select
    	app_code,
    	group_id,
    	matrix_pwd,
    	count(matrix_pwd)  as repeatedCount
		from
		matrix_info
    <where>
        <if test="groupId != null and groupId != 0" >
          group_id = #{groupId,jdbcType=INTEGER}
        </if>
        <if test="appCode != null and appCode != ''" >

[2020-12-03 06:12] xtuer commented on #8435
Thank you for your reply, please access to the repo [sharding-jdbc-orchestration-test](https://github.com/xtuer/sharding-jdbc-orchestration-test) to download the project and run to reproduce the error.

[2020-12-03 06:13] taigam commented on #8480
and   i found
if  i delete   order by
sharing  will  add it  behind the group by
the sql changed for  :
SELECT
	app_code,
	group_id,
	matrix_pwd,
	count(matrix_pwd) AS repeatedCount
FROM
	matrix_info1
GROUP BY
	matrix_pwd
ORDER BY
	matrix_pwd ASC
HAVING
	count(matrix_pwd) >= ?
LIMIT ? ::: [ 6,
 20 ]

it can't be used

[2020-12-03 06:15] tuohai666 commented on #8480
I mean SQL execute result

[2020-12-03 06:20] huanghao495430759 commented on #8482
Please assgin to me

[2020-12-03 06:22] terrymanu opened #8488 "Add test case for DatabaseBackendHandler impl"
- [ ] Add test case for SchemaAssignedDatabaseBackendHandler
- [ ] Add test case for UnicastDatabaseBackendHandler
- [ ] Add test case for DatabaseBackendHandlerFactory

[2020-12-03 06:23] taigam commented on #8480
![微信图片_20201203142147](https://user-images.githubusercontent.com/31159699/100972061-1254f180-3573-11eb-8f8f-d178d7f332ab.png)

[2020-12-03 06:25] taigam commented on #8480
it can run  with the changed param
just no data

[2020-12-03 06:25] fyuan1030 commented on #8475
no，to be honest，I think it as this class which in version 4.1.1 was changed；

in version 4.1.1
[code]
there is a
[code]
so the datasource can inject before spring‘s autoconfig

in versin 5.0.0

[code]

I want to change version to 4.1.1，because my project is will be deploy soon，I can't delay；
this is why I update version to 5.0.0 #8416 ；
when I have some time，I will continue find the reason

[2020-12-03 06:30] arthasking123 commented on #8488
please assign to me

[2020-12-03 06:35] tuohai666 commented on #8480
What's data when you execute SQL use raw JDBC?

[2020-12-03 06:37] tuohai666 commented on #8475
@yu199195 Can you have a look?

[2020-12-03 06:45] taigam commented on #8480
![111111111](https://user-images.githubusercontent.com/31159699/100973789-2a7a4000-3576-11eb-92dd-de4ef3af8edd.png)

[2020-12-03 06:45] fyuan1030 commented on #8475
yeah I have looked these two issue；both of them as they depends on `druid-spring-boot-starter`；I use druid rather than `druid-spring-boot-starter`

[2020-12-03 06:55] yu199195 commented on #8475
@fyuan1030 if you use 4.1.1 ， you see https://shardingsphere.apache.org/document/legacy/4.x/document/en/overview/

[2020-12-03 07:00] terrymanu commented on #8482
Assigned

[2020-12-03 07:01] terrymanu commented on #8488
@arthasking123  Assigned.
I just changed the class name from QueryBackendHandler to DatabaseBackendHandler.
The title is updated, please have a look.

[2020-12-03 07:03] arthasking123 commented on #8488
got it

[2020-12-03 07:05] fyuan1030 commented on #8475
OK OK。3q，I will try it

[2020-12-03 07:27] tristaZero commented on #8284
Hi @guimingyue @junwen12221 ,

After adding VM opts, I found the program didn't enter the core part `executablePlan.bind()` (generated code), though these generated code showed in the IDEA console. How did you proceed with debugging in `Baz@5153`?

<img width="1765" alt="image" src="https://user-images.githubusercontent.com/27757146/100975769-7f6b8580-3579-11eb-97f7-2b6c9d297655.png">

[2020-12-03 08:51] liuchaoheliang commented on #8457
OK, i understand ,thank you very much !

[2020-12-03 09:10] terrymanu commented on #8488
Sorry, the module is still in refactor, I split them to 2 classes. It is stable now. I will update title and content again

[2020-12-03 09:40] junwen12221 commented on #8284
@tristaZero @guimingyue

read it.

[janino](https://janino-compiler.github.io/janino/)

[code]
-Dorg.codehaus.janino.source_debugging.dir=federatedSQL\target\

target is  maven target folder.

If it doesn't work, you can copy the code of the function to replace the generated object for debugging。

[2020-12-03 09:48] iamif3000 commented on #8383
@tuohai666 I tested the performance again on PM(40core128G). The performance of insert looks OK. But I found a bug. I'll report it.

[2020-12-03 10:16] iamif3000 opened #8494 "[bug] no response package during performance test"
### Which version of ShardingSphere did you use?
tag v4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
sharding-proxy

### Expected behavior
The performance test could run successfully.

### Actual behavior
The test client just hang(waiting for package from sharding-proxy).

### Reason analyze (If you can)
I think the mysql protocol implementation or the network l

[2020-12-03 10:18] arthasking123 commented on #8488
OK

[2020-12-03 14:52] waylink opened #8498 "can't route table when create new table online"
version: 5.0.0-alpha

When create table is finish, I restart the application, the ROUTE_EXCEPTION was not happen.

[2020-12-04 01:01] lwtdev commented on #7880
@jingshanglu Hi, I have redesigned the `expr` assertion, and then I will add its implementation, add more test cases and readjust the old test cases.
I hope you can review the main part of the design before proceeding to the next work.

- **ExpectedExpression**

All sub-expressions will be in the first level.  It's make `expr` more conducive to reuse.

[code]
- **OtherExpression**

Only `ExpectedB

[2020-12-04 01:51] rouxiaoxiao commented on #6744
I encountered the same problem, and how did you increase the jvm memory?

[2020-12-04 02:34] rouxiaoxiao commented on #5345
I have the same problem and the speed is not improved after upgrading to version 4.1.0.The following are my details:
sql cost：110ms
jdbc cost: 226ms
sharding jdbc 4.0.1: 2883ms
sharding jdbc 4.1.0:2930ms

[2020-12-04 03:10] yinyanghuafa commented on #8351
please assign to me.

[2020-12-04 04:16] strongduanmu commented on #8498
@waylink Can you provide a complete exception stack and how to reproduce the problem?

[2020-12-04 06:39] tristaZero commented on #8494
Hi @iamif3000 ,
Thanks for your performance test.
1. Could you give [Performance Test](https://github.com/apache/shardingsphere/issues/6536) a look? This issue showed you the relevant tests we did. I guess that will give you some hints.
2. Could you test the latest version 5.0.0-alpha? We fixed a few bugs and provided other great features in this release, worthy of your consideration of online usa

[2020-12-04 06:40] rouxiaoxiao opened #8502 "In my project, the query time for tables without separate tables is 10 times that of ordinary jdbc"
In my project, the query time for tables without separate tables is 10 times that of ordinary jdbc.
version:4.0.1

[2020-12-04 06:49] tristaZero commented on #8502
Hi @rouxiaoxiao,
The description of this issue is too short to deal with. I suggest you give more detail if you want the community's suggestion.

[2020-12-04 06:51] iamif3000 commented on #8494
@tristaZero
I'll make a test on 5.0.0-alpha.

And about the third question, the query is simply ""select id,field01,field02,field03,field04,field05,field06,field07,field08,field09,field10,field11,field12,field13,field14,field15,field16,field17,field18,field19,field20,field21,field22,field23,field24,field25,create_by,c_t,update_by,u_t from jmeter_test order by id desc limit 100;"

You could read th

[2020-12-04 07:08] Lonor opened #8503 "Application does not start when using data masking with sharding."
## Bug Report

I followed the [official document to configure SpringBoot app with ShardingSphere](https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/configuration/config-spring-boot/#数据分片--数据脱敏) to **use the encryption and sharding together**. A problem occurred.

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? ShardingSphe

[2020-12-04 07:18] #8482 closed

[2020-12-04 07:20] #8488 closed

[2020-12-04 07:48] jingshanglu opened #8505 "Not support SQL_MODE ANSI_QUOTES"
### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

SQL Parser

### Expected behavior

when `SQL_MODE=ANSI_QUOTES`, The following SQL can be parsed

[code]

### Actual behavior

the sql can not be parsed

[2020-12-04 08:22] zhangjiayu139 opened #8507 "How do You support the Grails framework 4"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2020-12-04 08:33] jingshanglu commented on #7880
@lwtdev I agree with the design.

[2020-12-04 08:37] RaigorJiang commented on #8330
Hi all:
Because the precise sharding method and range sharding method are both in standard sharding algorithm interface now,
I remove the 'preciseAlgorithmClassName' and  'rangeAlgorithmClassName' variables, and unified as "algorithmClassName". So finally the configuration format is :

     shardingAlgorithms:
      <sharding-algorithm-name>:
        type: CLASS_BASED
        props:
          stra

[2020-12-04 09:04] #8441 closed

[2020-12-04 09:49] terrymanu commented on #8507
I never used Grails, can you provide more details about it?
Is there any problem with Grails and ShardingSphere now?

[2020-12-04 09:51] #8479 closed

[2020-12-04 09:55] #8106 closed

[2020-12-04 09:56] #7950 closed

[2020-12-04 09:59] zhangjiayu139 commented on #8507
Grails: A powerful Groovy-based web application framework for the JVM built on top of Spring Boot
[Grails](https://grails.org/)
GORM: The Grails framework seamlessly integrates with GORM, a data access toolkit that provides a rich set of APIs for accessing relational and non-relational data. GORM also includes implementations for Hibernate (SQL), MongoDB, Cassandra, and Neo4j.
[Gorm](http://gorm.g

[2020-12-04 09:59] #8378 closed

[2020-12-04 10:02] terrymanu commented on #8507
How to know it didn't work?

[2020-12-04 10:03] #8475 closed

[2020-12-04 10:05] terrymanu commented on #8503
Please read 4.x doc if you are using version 4.x

[2020-12-04 10:05] #8503 closed

[2020-12-04 10:07] zhangjiayu139 commented on #8507
我是用的是：sharding-jdbc-spring-boot-starter:4.1.1 这个包，我是用的框架底层是Spring boot2.1的，我理解应该是可以自动配置的，而且启动没有任何异常（也有可能没有自动配置），，，我用的orm框架是hibernate 高度封装的Gorm ，我理解应该也是支持的，，，我写的测试demo，数据并没有按照我预测的进入对应的表中，我猜测是不是需要替换底层的DataSource?

[2020-12-04 10:08] terrymanu commented on #8502
Please provide more details, we can not get any point of this issue.

[2020-12-04 10:14] terrymanu commented on #8333
No response anymore

[2020-12-04 10:14] #8333 closed

[2020-12-04 10:15] terrymanu commented on #8314
No response anymore

[2020-12-04 10:15] #8314 closed

[2020-12-04 10:17] terrymanu commented on #8144
No response anymore

[2020-12-04 10:17] #8144 closed

[2020-12-04 10:18] terrymanu commented on #7955
No response anymore

[2020-12-04 10:18] #7955 closed

[2020-12-04 10:27] Lonor commented on #8503
I read the 4.x version docs exactly.

[2020-12-04 11:13] YX-GitH commented on #4604
hi ,  I use  4.1.1  but it do not work， it also slow to load meta data when start up，Is there any other solution？

[2020-12-04 11:38] Lonor commented on #8503
Please try this configuration and confirm whether this problem is **invalid** or not. Thanks.

[2020-12-05 08:14] JohnZhaozy commented on #8351
Please assign it to me.

[2020-12-05 13:50] strongduanmu commented on #8478
@taigam Can you provide the sharding configuration and table structure? I will try to reproduce this problem.

[2020-12-05 14:02] strongduanmu commented on #7703
@heqiao If sharding column is not included in the `WHERE` clause, can we remove the sharding column in the `SET` clause by setting the `@Column(name = "xxx", updatable = false)` annotation?

The logic you mentioned —— `then append sharding column and value to WHERE Clause`, I think it is not suitable for SS to deal with, this method will have a bad effect on other normal SQL.

[2020-12-05 14:36] strongduanmu commented on #7703
@sabz90 I think adding annotations is a good idea, but I think it is more appropriate for hibernate to provide this annotation.
Users can freely control which fields are added to the `WHERE` clause and which fields are added to the `SET` clause through hibernate annotations.

[2020-12-05 14:39] strongduanmu commented on #7998
After discussing with @jingshanglu , he will be responsible for the optimization of this issue.

[2020-12-06 03:47] arthasking123 commented on #8351
would you please give some hints？：）

[2020-12-06 06:04] iamif3000 commented on #8494
@tristaZero
I made a test on 5.0.0-alpha. The test can be done. This bug is not reproducible on the latest alpha version.

[2020-12-06 07:14] wenweibin commented on #8445
I think the `option 1`  is more reasonable because we should follow the message protocol rather than the specific implementation such as PostgreSQL(Shardingproxy is also an implementation of PostgreSQL message protocol).

Besides, what does `option 3`  mean?

[2020-12-06 15:57] VaeTang opened #8513 "Please help to check whether it is a bug or a configuration error?"
When I use the ShardingSphere Proxy, Found that each query to print the following log:
SET PROFILING=1;
SHOW STATUS;

And right after parsing the routing,a full route query is performed on the logical table

version: shardingsphere-5.0.0-alpha ，MySQL5.7.22-log，Navicat Premium11.0.17

**server.yaml**
[code]

**config-sharding.yaml**
[code]

**For example, I execute SQL:**
select * from t_user t whe

[2020-12-06 19:51] suikenungleung opened #8514 "sharding replica query exception: java.lang.reflect.InvocationTargetException: null"
Spring Boot: 2.3.6
ShardingSphere-JDBC: 5.0.0-alph

The configuration is as follows:

Example 1

Refer to the official example: [application-sharding-replica-query.properties](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-sharding-replica-query.properties)

[code]

Runti

[2020-12-07 01:20] chenjipdc commented on #8470
In my project I use the following method to solve this problem.

[code]

[2020-12-07 02:48] laiweiNo2 opened #8515 "Version 5.0 governance functions maven coordinate is less than"
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-jdbc-governance-spring-boot-starter</artifactId>
			<version>5.0.0-alpha</version>
		</dependency>
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>shardingsphere-governance-repository-zookeeper-curator</artifactId>
			<version>5.0.0-alpha</version>
		</dependency>

[2020-12-07 02:49] laiweiNo2 commented on #8515
Missing artifact org.apache.shardingsphere:shardingsphere-test:jar:5.0.0-alpha

[2020-12-07 03:47] zhangzhen108 opened #8516 "Can a sharding field be empty for Complex sharding?"
for example:
   i have three sharding field, have a field is null,program tell me a exception,as follows:Sharding value must implements Comparable。
  If one field is null, I slice it with another field，Is that alright?

[2020-12-07 04:04] tristaZero commented on #8513
Hi Which SQL causes the following exception?

Given the log you provided, I guess `` ran well, didn't it?

[code]

[2020-12-07 04:13] tristaZero commented on #8514
Hi, @suikenungleung,
Could you provide more detailed log about the following exception?

[2020-12-07 04:16] tristaZero commented on #8515
Hi @laiweiNo2
which operation caused the exception above? Could you provide more details?

[2020-12-07 04:19] tristaZero commented on #8516
Hi @zhangzhen108
Did you implement the interface `ComplexKeysShardingAlgorithm`?
Could you give more log about the exception mentioned?

[2020-12-07 04:39] VaeTang commented on #8513
**Execute SQL in Navicat:**
select * from t_user t where t.center_id in (1,2) and t.end_time >= '2020-11-30 00:00:00' and t.end_time < '2020-11-30 23:59:59' ORDER BY user_total LIMIT 10

**Navicat has error messages:**

[Err] 10002 - 2Unknown exception: [Can not route tables for [PROFILING], please make sure the tables are in same schema.]

**All the log information is there**

[2020-12-07 05:00] #8330 closed

[2020-12-07 05:14] terrymanu commented on #8217
Closed because of no response.

[2020-12-07 05:14] #8217 closed

[2020-12-07 05:15] terrymanu commented on #8377
Closed because of no response.

[2020-12-07 05:15] #8377 closed

[2020-12-07 05:18] terrymanu commented on #8507
For english only. Can you translate?

[2020-12-07 05:21] wangleigithub opened #8517 "when proxy query a large table with limit , will cause a oom"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-07 05:32] laiweiNo2 commented on #8515
I just joined the coordinates in the pom file, will report the error

[2020-12-07 06:16] zhangzhen108 commented on #8516
I have already implement ComplexKeysShardingAlgorithm interface.
my sharding fields is card_id、order_id、user_id，if card_id is null,i can use orderId to sharding the table.

Below is the error log:

Caused by: java.lang.IllegalArgumentException: Sharding value must implements Comparable.
at com.google.common.base.Preconditions.checkArgument(Preconditions.java:122)
at org.apache.shardingsphere.shard

[2020-12-07 06:32] #8326 closed

[2020-12-07 06:39] chentianming11 opened #8518 "After the introduction of ShardingJDBC, system startup slowed down"
![image](https://user-images.githubusercontent.com/30620547/101317059-b6eb7200-3898-11eb-94e2-629177ce4fc0.png)
For our system, only a few tables need to be divided into tables. But when starting, shardingJDBC initialized all table information, which caused the system to start too slowly!

version: sharding-jdbc-spring-boot-starter:4.0.3

[2020-12-07 07:14] tristaZero commented on #4604
Hi @YX-GitH
If possible, could you try the latest version 5.0.0-alpha, which carries a significant improvement on metadata loading?

[2020-12-07 07:15] tristaZero commented on #8494
@iamif3000 Hence, do you think it is time to close this issue? Thx.

[2020-12-07 07:22] tristaZero commented on #8515
@laiweiNo2 It's not supposed to happen.
Hi @menghaoranss , could you give it a look?

[2020-12-07 07:31] laiweiNo2 commented on #8515
I changed to 4 x version, thank you

[2020-12-07 08:48] yinyanghuafa commented on #234
建信金融科技 https://www.ccbft.com/

[2020-12-07 09:50] copyshop commented on #234
http://www.meicloud.com     it's not http://www.meicloud.com/%EF%BC%89, I've just tested that there's no problem with this website. Do you input extra characters,

[2020-12-07 09:53] #8505 closed

[2020-12-07 09:53] YX-GitH commented on #8518
I used version: sharding-jdbc-core-4.1.1, which is the same problem

[2020-12-07 11:42] duanzonglong opened #8522 "ShardingProxy Loss Transactional"
## Question
version: shardingproxy 4.1.0    proxy.transaction.type: LOCAL
We loss java Transactional some times.
the code is like:
update oms_order set status=1 where id = 'xxxx'; // this sql is in oms database
orderApi.addOrder(orderDto);  // insert into wms_order values ();  this sql is in wms database and this is another micro service with springcloud feign interface.
Now the first sql is succe

[2020-12-07 12:48] iamif3000 commented on #8494
@tristaZero
Yes. Thanks for your fast reply.

[2020-12-07 13:02] iamif3000 opened #8524 "Exception in thread "main" java.lang.UnsupportedOperationException: Cannot support database type 'MySQL'"
### Which version of ShardingSphere did you use?
v4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
jdbc

### Expected behavior

### Actual behavior
throws exception

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
If I package the program to jar and run the jar fi

[2020-12-07 14:07] suikenungleung commented on #8514
@tristaZero

[code]

[2020-12-07 14:15] ywendy commented on #5850
I have the same problem  for date_format on version 4.1.1

[2020-12-07 14:25] zhangwei1989 opened #8525 "NullPointerException: Can not get connection from datasource pr_ds"
## Question

Following is my situation:
1. MacOS 10.14.6
2. Mysql 5.7 running in Docker with three seperate container
3. apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin

Sharding-proxy was started without any problem, for i got the log:
`[INFO ] 22:09:26.946 [main] o.a.s.p.frontend.ShardingSphereProxy - ShardingSphere-Proxy start success.`

But when I run `show tables;` in mysql-cli, I

[2020-12-07 14:43] ywendy commented on #5850
I have the same problem for date_format on version 4.1.1 , when I use sharding-jdbc , debug I found in   EncryptStatement class ,the limit Index get error,eg: I have 5 paremeter, the last paremeter is limit value, but the code get Index 2 for limit so throw error!
occur on :
 actualRowCount = null == rowCountSegment ? null : getValue(rowCountSegment, parameters);
rowCountSegment.getParameterIndex(

[2020-12-07 16:01] junwen12221 commented on #8284
@tristaZero

CoreRules:Just rules that perform logical(not physical,Iterable) transformations on relational expressions.Generally used for RBO.This step mainly applies some heuristic rules, which are rule-based optimizer (RBO), so it is often called RBO stage.

It is possible to implement the custom adaptor for federated queries.
Yes.

We need to consider SQL optimization. If we use Calcite JDBC D

[2020-12-08 03:47] tristaZero commented on #8514
Hi @suikenungleung
I could not find any definition of `user-inline` in your example 1, while it is defined in example 2.

[code]

[2020-12-08 03:52] tristaZero commented on #8514
Hi @yu199195
I suggest looking at the `catch exception` of `PropertyUtil` and throwing a wrapped exception to users.

[2020-12-08 03:53] #8494 closed

[2020-12-08 04:10] tristaZero commented on #8515
@laiweiNo2 So your issue was solved by using a later version? Which one?

[2020-12-08 04:15] tristaZero commented on #8470
Hi @chenjipdc Thanks for your response.
Do you think it is possible to merge your code clip to the relevant module of ShardingSphere by a PR?

[2020-12-08 04:19] tristaZero commented on #8513
Where is the full log? Especially the fore-and-aft around `[Err] 10002 - 2Unknown exception: `?

[2020-12-08 04:40] menghaoranss commented on #8515
Shardingsphere-governance relies on `shardingsphere-test`  in 5.0.0-alpha，this issue has been fixed in the master branch, and if you want to use 5.0.0-alpha, please try with  the configuration below：

[code]

[2020-12-08 04:54] yu199195 commented on #8514
@suikenungleung  we fix it in  #8331 ， you can see #8459

[2020-12-08 04:54] mygitdds opened #8527 "sharding-proxy performance"
Since it is the agent provided, I read the source code. When I connect to MySQL, I still use the driver provided by mysql, and the overall implementation is in Java. In this way, I / O interaction with MySQL will cause thread blocking in kernel mode, which leads to low performance. I suggest go, or vertx.

[2020-12-08 05:07] mygitdds commented on #8527
There is also an asynchronous driver for MySQL on vertx

[2020-12-08 05:26] laiweiNo2 commented on #8515
I use another version

[2020-12-08 05:28] laiweiNo2 commented on #8515
Ok, thank you

[2020-12-08 05:52] #8515 closed

[2020-12-08 06:21] tristaZero commented on #8517
Hi @wangleigithub
Thanks for your feedback. If the limit row number is small, there is no `Java heap space` exception, right?

[2020-12-08 06:25] tristaZero commented on #8518
Hi could you try the latest release, i.e., 5.0.0-alpha which gives an improvement on this issue?
BTW, `check-table-metadata-enabled` is false in your example, doesn't it?

[2020-12-08 06:29] tristaZero commented on #8522
Is `oms_order` a sharding table?
[Transaction Intro](https://shardingsphere.apache.org/document/current/cn/features/transaction/use-norms/) will give you more details.

[2020-12-08 06:45] tristaZero commented on #8524
Hi, I suggest you use pom file to run tests or clone this project. Your log shows me `<artifactId>shardingsphere-sql-parser-mysql</artifactId>` is not included in your libs.

[2020-12-08 06:58] tristaZero commented on #8525
Hi @zhangwei1989

Thanks for your feedback, I tried it on MacOS without docker, and it worked well. Could you give it a test on your macOS platform instead of docker? Thanks.

[2020-12-08 07:09] tristaZero commented on #8527
Hi @mygitdds
I see your concern, and thanks for your issue. Could you provide some links or docs to elaborate on your idea?

[2020-12-08 07:12] qwaszx92717 opened #8528 "“in” query slow"
When using “in” query, and the parameters have thousands of “ID”, the query speed will be very slow. Use "_+partitioned "  query speed  is normal. Here are some configuration data and troubleshooting data.

config
![image](https://user-images.githubusercontent.com/24630042/101450401-773e8c00-3965-11eb-996d-e9f6c58176cf.png)

query sharding log
![image](https://user-images.githubusercontent.com/246

[2020-12-08 07:12] duanzonglong commented on #8522
yes,oms_order is a sharding table in oms schema,wms_order is a sharding table in wms schema.
I have see the document.but  no errors were obtained.

[2020-12-08 07:12] iamif3000 commented on #8524
@tristaZero
The package is in the dependencies. And I unziped the tar file, .../shardingsphere/sql/parser/mysql/* are include.
This is my pom file
[code]

[2020-12-08 07:28] tristaZero commented on #8516
Yep, we need sharding key (Complex sharding key in your scenario) to calculate the target tables. Do you think it is possible to give the null sharding values specific handling?

[2020-12-08 07:29] menghaoranss commented on #8435
The 4.x document looks a little inconsistent, please try with the configuration below:

[code]

And you can download the source code by [4.1.1-tag](https://github.com/apache/shardingsphere/releases/tag/4.1.1),
there are  examples in the source code，thank you for your feedback!

[2020-12-08 07:47] wangleigithub commented on #8517
Yes, only row number is large

[2020-12-08 08:05] huanqwer opened #8529 "Sharding value must implements Comparable."
## Bug Report

Under JPA use repository to save entity to DB
I defined my own ComplexKeysShardingAlgorithm use two columns (dealer_id & company_code) to shard table
But these two columns could not be null, when one of them is null
Then got java.lang.IllegalArgumentException: Sharding value must implements Comparable.

### Which version of ShardingSphere did you use?

implementation 'org.apache.sha

[2020-12-08 08:06] huanqwer commented on #8529
I wonder if there is a simple way to save entity successfully when sharding value is null

[2020-12-08 08:09] huanqwer commented on #8529
I guess if save operation throws this Exception, other DDL operations may have the same problem

[2020-12-08 08:36] iamif3000 commented on #8524
I found the reason.
Since I use shade for packaging, some META.service/xxx files are duplicated and only one will be kept. So SPI will only load one implementation.
Solution: use assembly to package a zip or tar.gz instead.

Please close this issue. Thanks.

[2020-12-08 08:41] gravin opened #8530 "very messy, examples of version 4.1.1 are refering 5 snapshot, waste me time to get started on this"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-08 08:48] jinliang123 commented on #8458
I have the same problem as you. replace a lower version of navicate can solve the problem.

[2020-12-08 08:48] tristaZero commented on #8525
Hi @zhangwei1989  ,

We gave a test on your issue. It looks some of the MySQL clients can avoid this exception. But definitely, it is a bug of ShardingProxy. We will fix it ASAP. Please watch this issue for any updates.
Thanks.

[2020-12-08 08:50] xuup commented on #650
Sharding-Jdbc水平分表和垂直分表使样例搭建
https://xuup727.com/archives/shading-jdbc

[2020-12-08 09:33] #8099 closed

[2020-12-08 09:34] kimmking commented on #8099
remove duplicated table, there will be normal.

[2020-12-08 09:36] kimmking commented on #8018
ensure narayana is LGPL v2

[2020-12-08 09:41] gravin opened #8531 "still not work, cant compile, wtf?"
[INFO] Finished at: 2020-12-08T17:33:04+08:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project shardingsphere-proxy-docker-build: Could not resolve dependencies for project org.apache.sha
rdingsphere:shardingsphere-proxy-docker-build:jar:5.0.0-alpha: Failure to find org.apache.shardingsphere:shardingsphere-test-fixture:j
ar:t

[2020-12-08 09:46] xtuer commented on #8435
Thank you very much for you affords and follow the above configuration the Application can upload the configuration into Zookeeper and starts up successfully.

But when I **comment dataSources and shardingRule sections, and set overwrite as false** so that it can load the configurations from Zookeeper, unfortunately, it prompts errors:
[code]

Below is the configuration above mentioned:
[code]

[2020-12-08 10:14] gravin commented on #8531
no matter brach 5 ,branch 4, or master ,all cant compile
for master, it gives issue

Could not resolve dependencies for project org.apache.shardingsphere:shardingsphere-proxy-docker-build:jar:5.0.0-RC1-SNAPSHOT: Could not find artifact org.apache.shardingsphere:shardingsphere-test-fixture:jar:tests:5.0.0-RC1-SNAPSHOT in apache.snapshots (https://repository.apache.org/snapshots)

[2020-12-08 10:22] wxp651 opened #8534 "shardingjdbc 5.0.0-alpha namespace After configuring the read-write separation, the null pointer is reported when the item is started"
## Bug Report
When I configured read-write separation, an error occurred when I started the project. There is a bean org.redisson.config . config ා 0 $created ා 0 I did not actively import this bean, and null pointer was reported in getbeandefinition() method
**For English only**, other languages will not accept.
class ShardingSphereAlgorithmBeanRegistry the line 25

	at java.lang.Thread.run(Threa

[2020-12-08 10:29] strongduanmu commented on #5850
@ywendy Can you provide the complete exception stack and your configuration?

[2020-12-08 10:35] zhangwei1989 commented on #8525
Hi @tristaZero ,

I tried it on MacOS without docker, the result is the same.
I'll try other Mysql version and be aware of updates of this issue.

Thanks for your reply.

[2020-12-08 11:00] #8530 closed

[2020-12-08 11:01] #8531 closed

[2020-12-08 11:02] menghaoranss commented on #8435
Could you provide more stack logs

[2020-12-08 11:27] menghaoranss commented on #8534
Please show your configurations.

[2020-12-08 11:29] tristaZero commented on #8284
Hi @junwen12221 ,
Glad to see your explanation.

I suppose these features are far away from us since currently we just focus on the adaptor, rules optimization, and the conversion between parsed result and `relNode`. Nevertheless, `Frameworks` is a handy tool including `parser`, `validator` and `RelConverter`.

@guimingyue  @junwen12221

Speaking of `Adaptor` (Federated SQL), I suggest we implemen

[2020-12-08 11:51] fyuan1030 commented on #3185
hello，I want to know can I just use apollo as config  center?

[2020-12-08 12:21] fyuan1030 opened #8536 "I want to know if I can just use apollo as config center without regester"
## Question

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If no

[2020-12-08 12:26] guimingyue commented on #8284
@tristaZero
Sorry for the late reply, I have created two converter class for converting SQLStatement to calcite SqlNode and then to calcite RelNode. You can see my progress from this repository.
Now, I'm trying to add some rules to rewrite RelNode with hep planner.

[2020-12-08 15:09] mygitdds commented on #8527
When sharding proxy calls mysql, the corresponding time of MySQL will be blocked. In Java, the thread model is that a user thread corresponds to a kernel thread, so the concurrency is high. If more threads are blocked, the effective utilization rate of CPU will be very low. If vertx is used, MySQL asynchronous driver will be used, and the performance will be many orders of magnitude higher For an

[2020-12-08 15:11] suikenungleung commented on #8514
@tristaZero

According to [application-sharding-replica-query.properties](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-sharding-replica-query.properties) Delete redundant configuration,The same error after modification.

[code]

[2020-12-08 15:11] mygitdds commented on #8527
@tristaZero  Vertx's performance is comparable to go。Now, with the improvement of technology, we hope to do more with less resources.

[2020-12-08 15:13] mygitdds commented on #8527
Tomorrow find time to write an article to explain the problem, and their own decision, how to solve it

[2020-12-09 00:40] xtuer commented on #8435
[code]

[2020-12-09 01:37] lzn-black commented on #650
shardingsphere 实践笔记    https://blog.csdn.net/LZN51/article/details/110915734

[2020-12-09 02:51] menghaoranss commented on #8536
You can use ZK or etcd as registry center，and use apollo as config center：

[code]

[2020-12-09 02:54] fyuan1030 commented on #8536
yeah，I know，but I just want to use Apollo as config center，and i don't want to use ZK；can I？Because we are using eureka as register center now；

[2020-12-09 03:25] menghaoranss commented on #8536
Eureka as a registry has not been supported, you can use SPI to implement it yourself.

[2020-12-09 03:37] huanqwer commented on #8529
finally I use @Convert annotation in jpa to convert null to "",

[2020-12-09 03:37] #8529 closed

[2020-12-09 03:38] fyuan1030 commented on #8536
OK，I will try it；thank you

[2020-12-09 03:47] #8536 closed

[2020-12-09 03:51] tristaZero commented on #8534
Hi @wxp651 ,
Could you check your configuration with [Examples](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-proxy-example)?

[2020-12-09 03:58] tristaZero commented on #8527
@mygitdds MySQL's Vertx API, right? Yep, I like this idea! But we do not have a lot of knowledge about it, look forward to your article. :)

English communication is necessary for GitHub, but your article in Chinese is ok. Just leave its link here.

Thanks,
Trista

[2020-12-09 04:10] tristaZero commented on #8528
Hi @qwaszx92717 ,

Thanks for your info.
ShardingSphere helps user handle SQLs queried in a database cluster though, the consuming time your provided is longer than expected.
The actual SQL is executed in MySQL using the index, isn't it?
Have you ever counted how many seconds one actual SQL takes? I am curious where that `15s` is used.

[2020-12-09 04:12] zhangjiayu139 commented on #8507
sorry
I used: sharding-jdbc-spring-boot-starter:4.1.1 this package, I am using the underlying framework is the spring boot2.1, I understand should be can automatically configure, and start without any abnormal (possibly with no automatic configuration),,, I am using orm framework hibernate is highly encapsulation Gorm, I understand should also support,,, I write test demo, data is not according to

[2020-12-09 05:18] mygitdds commented on #8527
https://blog.csdn.net/weixin_35997672/article/details/110920396
@tristaZero

[2020-12-09 05:29] terrymanu commented on #234
Got it, welcome to use Apache ShardingSphere

[2020-12-09 05:30] terrymanu commented on #234
Published into official website, thank you and welcome to use Apache ShardingSphere

[2020-12-09 05:31] mygitdds commented on #8527
https://blog.csdn.net/weixin_35997672/article/details/110920659
@tristaZero

[2020-12-09 06:01] fourier416 opened #8542 "WHERE (user_id, order_id) IN ( (?,?) , (?,?) ) has ClassCastException:"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-09 06:59] junwen12221 commented on #8284
@guimingyue @tristaZero

org.apache.calcite.schema.ProjectableFilterableTable,it is indeed a quick start interface.

[2020-12-09 07:09] wxp651 commented on #8534
There are too many configuration files. Here, only the relevant ones are displayed

1、rediscluster

[shardingjdbc.docx](https://github.com/apache/shardingsphere/files/5664065/shardingjdbc.docx)
[spring-daorw.docx](https://github.com/apache/shardingsphere/files/5664066/spring-daorw.docx)

-config.xml

<redisson:client id="redissonClient" netty-threads="20" threads="20">
<redisson:cluster-servers

[2020-12-09 07:12] wxp651 commented on #8534
Yes, I wrote it according to the example  ，but it just can't start

[2020-12-09 07:30] tristaZero commented on #8514
Hi @suikenungleung ,

That's a misunderstanding. What I want you to try is to use the following items to add `sharding algorithm` configurations.

[code]

[2020-12-09 07:32] #8524 closed

[2020-12-09 07:46] tristaZero commented on #8522
Hi @duanzonglong
You mean `Insert into wms_order values ()`  failed after the first update SQL? Have you ever tried to run this `INSERT` SQL singly？

[2020-12-09 07:51] tristaZero commented on #8517
Hi @wangleigithub

Could you set `max-connections-size-per-query = N +1`?
N = the count of sharding tables in one database instance

That way, we can parallelize the queries and handle the results by streaming merging.

[2020-12-09 08:00] tristaZero commented on #8525
Hi @zhangwei1989 ,

Update here. Could you set `sql-show = true` in server.ymal and give more log detail here? For instance,
[code]

[2020-12-09 08:21] duanzonglong commented on #8522
No
I mean the second sql is successed.but we can't find this order in database.

[2020-12-09 09:17] gravin opened #8547 "shardingsphere-jdbc-core-spring-boot-starter not installed in maven central repository"
why not install all of them in maven central?
it will take one hour to build and install from source code, and always have build issues because of change.

[2020-12-09 09:19] wangleigithub commented on #8517
OK, it worked. But take long time , any suggest?

[2020-12-09 09:20] gravin commented on #8547
this also make it impossible to deploy,  need everyone to install from source code

[2020-12-09 10:51] menghaoranss commented on #8547
[code]

[2020-12-09 11:39] #8059 closed

[2020-12-09 11:44] zhangwei1989 commented on #8525
Hi @tristaZero ,

The relative log is shown below:

[code]

[2020-12-09 16:35] Terrdi opened #8551 "Data Fragment Doesn't Work for Negative"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-09 18:09] suikenungleung commented on #8514
[code]

Configuration is running normally, But the data is distributed equally to all tables.

Insert 40 data, all tables have been inserted 40 data. This is not correct.

One more question? [application-sharding-replica-query.properties](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resource

[2020-12-10 01:48] shenHaoRanDe opened #8553 "read and write separation problem"
sharding_jdbc:4.1.1

Does shardingjdbc support separation of read and write for some tables, while other tables are directly routed to the main database

[2020-12-10 02:18] #8547 closed

[2020-12-10 02:50] 50133142 opened #8554 "Query resolution error （version 5.0.0-RC1-SNAPSHOT）"
![image](https://user-images.githubusercontent.com/42038247/101714836-4f6e3600-3ad5-11eb-8c3c-b402bffc6fc7.png)

**The introduction of the jar：**
![image](https://user-images.githubusercontent.com/42038247/101714902-70368b80-3ad5-11eb-87d9-ef00f416f1db.png)

###
**log info：**
2020-12-10 10:10:43.907 DEBUG 14360 --- [0.0-8090-exec-6] o.d.h.d.c.o.mapper.OrderMapper.listById  : ==>  Preparing: select

[2020-12-10 03:19] 438219972 opened #8555 "replica query Missing some configuration error in version 5.0.0-alpha"
spring boot 2.4.0
<dependency>
	<groupId>org.apache.shardingsphere</groupId>
	<artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
	<version>5.0.0-alpha</version>
</dependency>

If not configured
`spring.shardingsphere.rules.replica-query.load-balancers.<algorithm-name>.props.xxx`
or
'spring.shardingsphere.datasource.common.xxx'

**at org.apache.shardingsphere.spring.boot.registry

[2020-12-10 03:40] J-TIGGER commented on #8555
I have encountered the same problem. Has this been solved?

[2020-12-10 03:41] tristaZero commented on #8542
Hi @fourier416
If you have to query with `WHERE (user_id, order_id) IN`, 5.0.0-alpha has better support than 4.x release. But my suggestion is to replace it with another equivalently semantic one.

[2020-12-10 03:44] tristaZero commented on #8551
Hi @Terrdi ,
Thanks for your issue.
Could you configure `sql-show` = `true` to provide more details? Like, `Actual SQLs`.

[2020-12-10 03:46] tristaZero commented on #8553
Hi @shenHaoRanDe ,
Please give a look to [HINT](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/hint/).

[2020-12-10 03:50] tristaZero commented on #8554
Hi @50133142 ,

Thanks for your issue. @jingshanglu I guess it's about SQL parser, could you give it a check?

[2020-12-10 04:00] tristaZero commented on #8555
Hi guys,

Do you think [#8514](https://github.com/apache/shardingsphere/issues/8514) is the same as this one?

`.props` for `SpringBoot` is a bug and has been fixed on the master branch. Sorry for this inconvenience. :(

But for now, here are two approaches for you to avoid this exception,

- Use SpringBoot 1.x release

- Set a fake or invalid property, like `spring.shardingsphere.rules.replica-qu

[2020-12-10 04:39] CrazyFz opened #8556 "wrong of examples of shardingsphere official documents"
[error_url](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/java-api/)

### error 1
A left parenthesis here is redundant
![error1](https://user-images.githubusercontent.com/22133156/101721787-b98dd780-3ae3-11eb-861f-e21da353dd40.png)

document example error code
**
// 创建 ShardingSphereDataSource
DataSource dataSource = ShardingSphereDataSourceFa

[2020-12-10 04:41] fyuan1030 commented on #8416
this one can't replace `sharding-jdbc-spring-boot-starter` and i have found `sharding-jdbc-spring-boot-starter 5.0.0-alpha`
it can't be searched by sharding-jdbc-spring-boot-starter in this website `https://mvnrepository.com/` I found it by comparing it one by one; and found it one the page 8 the number 149；

[2020-12-10 06:03] J-TIGGER commented on #8555
Thank you, I've worked it out

[2020-12-10 06:23] menghaoranss commented on #8556
@CrazyFz Thanks for your feedback, could you please submit a PR to fix it?

[2020-12-10 06:41] tristaZero commented on #8514
Hi,
FYI, [SpringBoot configuration](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/sharding/)

[2020-12-10 06:47] tristaZero commented on #8527
Hi @mygitdds

Thanks for sharing. Actually, I want to know more about MySQL VertX, since this issue is to discuss how to improve the performance of ShardingProxy by VertX, doesn't it? That will be great If you can also share some of your thoughts concerning ShardingProxy and MySQL vertx.

[2020-12-10 06:50] tristaZero commented on #8534
Hi,

Do you think [#8555](https://github.com/apache/shardingsphere/issues/8555) can solve your issue?

[2020-12-10 06:56] tristaZero commented on #8522
Hi @duanzonglong ,

So your question is about why the second SQL ran successfully but no any changes in the databases?

Could you set `sql.show` = `true` so that we can know what happened in detail.

[2020-12-10 06:57] jingshanglu opened #8558 "Add a special format for the insert"
expect formart of insert like :
[code]

[2020-12-10 06:59] tristaZero commented on #8517
Hi @wangleigithub

The setting `max-connections-size-per-query` works, right?
How long does it take?

[2020-12-10 07:32] zhyyu opened #8560 "h2 database ShardingSphereMetaData schema incomplete, Key GeneratorConfig don't work"
## Bug Report

### Which version of ShardingSphere did you use?
[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
- ShardingSphere-JDBC

### Expected behavior
- get complete schema data (so can use keyGenerate)
- insert row using generated key

### Actual behavior
- schema tableMeta don't have generated key (when using mysql dataSource is ok, but h2 database wrong

[2020-12-10 07:35] jingshanglu commented on #8554
@50133142  `order` is a reserved keyword.

[2020-12-10 07:36] jingshanglu commented on #8554
@50133142 Plz refer https://dev.mysql.com/doc/refman/8.0/en/keywords.html.

[2020-12-10 07:40] jingshanglu commented on #8554
@50133142 Plz use
[code]

[2020-12-10 07:41] hegw opened #8561 "beanClassName may be null"
https://github.com/apache/shardingsphere/blob/c05b58b1610b18503f436a61db1d24dba72c7e33/shardingsphere-jdbc/shardingsphere-jdbc-spring/shardingsphere-jdbc-spring-infra/shardingsphere-jdbc-spring-namespace-infra/src/main/java/org/apache/shardingsphere/spring/namespace/registry/ShardingSphereAlgorithmBeanRegistry.java#L48

here `parserContext.getRegistry().getBeanDefinition(each).getBeanClassName()`

[2020-12-10 07:42] tristaZero commented on #8525
Hi @zhangwei1989 ,

Thanks for your response. : )

From the log, we can see the cause is the wrong routing result due to different MySQL client versions.
[code]

See here, your SQL `show tables` got a `logic masterSlave name`, i.e., `pr_ds` rather than the correct one `primary_ds` or `replica_ds_x`.

Could you give me a hand to locate the cause?
- Please set a breakpoint at [PartialSQLRouteExecuto

[2020-12-10 07:57] 50133142 commented on #8554
Thanks for your    answer @jingshanglu  ，order is a reserved keyword.
 The problem has been dealt with

[2020-12-10 07:58] #8554 closed

[2020-12-10 08:00] mailtous opened #8562 "how to create sharding table strategy Class?"
[code]
[code]
when spring-mvc start will error :

org.springframework.beans.factory.NoSuchBeanDefinitionException: No bean named 'com.xxx.ShardingAlgorithm' is defined

[2020-12-10 08:03] fyuan1030 commented on #8556
I think [this page](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/governance/) has a error too;
there are just Zookeeper and Etcd implement RegistryRepository；Apollo and Nacos didn't implement RegistryRepository
![image](https://user-images.githubusercontent.com/38123832/101738124-ab9a7f80-3b00-11eb-981a-eac68ce0d65f.png)

[2020-12-10 08:26] CrazyFz commented on #8556
ok，I try

[2020-12-10 08:41] #8542 closed

[2020-12-10 08:47] huanghao495430759 commented on #8562
it is bean reference,not bean class name.
`<sharding:standard-strategy id="table_strategy" sharding-column="create_date"
                                 precise-algorithm-ref="shardingAlgorithm"
                                 range-algorithm-ref="shardingAlgorithm"/>`

[2020-12-10 09:00] tristaZero commented on #6070
Hi @rudy2steiner How it is going now?

[2020-12-10 09:48] marktrue commented on #8525
same situation i have met.
client: navicat or mariadb-client 10.3.25
sharding-proxy: docker pulled from apache/sharding-proxy
mariadb-server: MariaDB 10.3.25

`[INFO ] 09:33:06.142 [ShardingSphere-Command-15] ShardingSphere-SQL - Logic SQL: SHOW FULL TABLES WHERE Table_type != 'VIEW'
[INFO ] 09:33:06.143 [ShardingSphere-Command-15] ShardingSphere-SQL - SQLStatement: MySQLShowTablesStatement(fromSc

[2020-12-10 09:59] Kimisme commented on #8271
Hello, I have the same problem, and I don't know how to solve it.

[2020-12-10 10:11] marktrue commented on #8525
it seems happened only when query show tables;
<pre>
<code>
[INFO ] 10:04:56.804 [ShardingSphere-Command-7] ShardingSphere-SQL - Logic SQL: select * from gk_user
[INFO ] 10:04:56.804 [ShardingSphere-Command-7] ShardingSphere-SQL - SQLStatement: MySQLSelectStatement(limit=Optional.empty, lock=Optional.empty)
[INFO ] 10:04:56.804 [ShardingSphere-Command-7] ShardingSphere-SQL - Actual SQL: replica_ds

[2020-12-10 10:59] duanzonglong commented on #8522
yes
ok,I'll do it.

[2020-12-10 12:36] zhangwei1989 commented on #8525
Hi @tristaZero,

My situation is the same with @marktrue. It happened only when query `show tables;`.

I really want to help figuring out the reason why it happened, but I don't know how to set a breakpoint to the file in apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin in IntelliJ IDEA. Cause the proxy is started with start.sh in apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bi

[2020-12-10 13:28] Nullrable opened #8564 "SeataATSharding TransactionManager could not be instantiated"
Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2020-12-10 21:15:42.882 ERROR 36322 --- [           main] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'liquibase' defined in class path resource [org/springframework/boot/autoc

[2020-12-10 13:47] JohnZhaozy commented on #8351
Is there any updates of this issue? Could you please assign it to me and tell some details if any?

[2020-12-10 13:57] yangwenbinGit opened #8565 "shaddingshpere4.1.1 version error information"
**error information：**
at org.yaml.snakeyaml.composer.Composer.composeDocument(Composer.java:122)
	at org.yaml.snakeyaml.composer.Composer.getSingleNode(Composer.java:105)
	at org.yaml.snakeyaml.constructor.BaseConstructor.getSingleData(BaseConstructor.java:120)
	at org.yaml.snakeyaml.Yaml.loadFromReader(Yaml.java:450)
	at org.yaml.snakeyaml.Yaml.loadAs(Yaml.java:410)
	at org.apache.shardingsphere

[2020-12-10 14:40] lly835 opened #8567 "'spring.shardingsphere.rules.replica-query.load-balancers.round_robin.props' is not valid"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-10 14:47] rudy2steiner commented on #6070
will be ready on this weekend

[2020-12-10 14:48] suikenungleung commented on #8514
Ok! Thank you and try again when the new version is released.

[2020-12-10 14:49] #8514 closed

[2020-12-10 15:09] Terrdi commented on #8551
Hi @tristaZero
It didn't generate sql while the value of the field which is used to **distinguish the database** is negative.

This is the sql while the value of the field which is used to **distinguish the table** is negative.

order_no,

user_id )  VALUES  ( ?,
?,

? )

order_no,

user_id )  VALUES  org.apache.shardingsphere.sharding.rewrite.token.pojo.ShardingInsertValuesToken@17e0933c ::: [2,

[2020-12-10 15:43] 50133142 opened #8568 "Cannot invoke method mod() on null object] with root cause"
Use version ：5.0.0-RC1-SNAPSHOT
Two kudos, 16 tables

![image](https://user-images.githubusercontent.com/42038247/101794037-69ddf900-3b41-11eb-9051-2b7f3faa8a9a.png)

分片建传了一个null，但是如下图有数据呀
![image](https://user-images.githubusercontent.com/42038247/101794064-719d9d80-3b41-11eb-8cb0-0878f72943bc.png)

[2020-12-10 15:54] terrymanu opened #8569 "Enhancement of authorization"
ShardingSphere just pass DCL(grant and revoke) to databases for now.
It is better to define own authorization system in ShardingSphere-Proxy.
It should be:

- [X] Create users and password in ShardingSphere-Proxy via YAML and persist into config center
- [ ] Keep root user for init only, and use DCL to create and delete users
- [X] Grant and revoke schema authorization with user
- [ ] Grant and re

[2020-12-10 16:07] TeslaCN opened #8570 "shardingsphere-jdbc-governance incompatible with HikariCP >= 3.4.3"
## Question

There is a new property `exceptionOverrideClassName` in HikariCP 3.4.3. If the method `com.zaxxer.hikari.HikariConfig#setExceptionOverrideClassName` was invoked with `null` value, NPE will occurred.

[code]

[code]

[code]

[2020-12-10 16:32] #8567 closed

[2020-12-11 01:17] 50133142 commented on #8568
图片显示不全

[2020-12-11 01:17] #8568 closed

[2020-12-11 01:22] 50133142 opened #8571 "Cannot invoke method mod() on null object] with root cause"
**Use version ：5.0.0-RC1-SNAPSHOT
Two DB, Each DB  16 tables**
![image](https://user-images.githubusercontent.com/42038247/101849143-09c37300-3b92-11eb-8cf2-ffd6f48d70f2.png)
**error info：**
2020-12-10 23:28:34.250 DEBUG 19460 --- [0.0-8090-exec-1] o.d.h.d.c.order.mapper.OrderMapper.save  : ==>  Preparing: insert into `t_order` (create_time,number,status,product_id,total_amount,count,user_id) valu

[2020-12-11 01:59] qwaszx92717 commented on #8528
This column have index.
At that time，I connect some shading database and try to execute SQL in some sharding table.
example：select * from **table_1** where column in (...); this query speed is very fast.
after troubleshooting ，I print the stack information ，found that most of the time it was pointing to sharding.
sharding log as above,but no useful information was found.

[2020-12-11 02:06] hurukawatinami commented on #7940
Good, got it.

[2020-12-11 02:12] #8556 closed

[2020-12-11 02:14] luckleemon opened #8573 "Amazing problem，my broadcast table disappear suddenly。"
two weeks ago，i config the broadcast table in yaml file， and insert the broadcast table data into the sharding database，then i use it to test， and it works well。

but yesterday，i found the broadcast table disappear， but my config is still here， i do not know what happens。

ps：no one delete them，my linux system has enough disk space，enough ram。

hope your reply。

thank you very much。

[2020-12-11 02:15] menghaoranss commented on #8560
@zhyyu  I'll try to use your demo to reproduce this issue.

[2020-12-11 02:29] menghaoranss commented on #8565
Please fill in the template below：

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe n

[2020-12-11 02:31] J-TIGGER opened #8574 "Oracle multi-user scenarios have problems with table views"
springboot：2.0.4.RELEASE
shardingJDBC：5.0.0-alpha
oracle：11g

config:
[code]

ps:
1、I have created two users user1 and user2 in oralce. And all the tables of user2 have been authorized to user1 user.
2、t_cs_attendance This table belongs to user2

[code]

[2020-12-11 02:37] menghaoranss commented on #8573
You should check the log first

[2020-12-11 02:48] menghaoranss commented on #8561
@hegw What configuration will causes NPE  here, could you provide a configuration demo?

[2020-12-11 03:20] #8238 closed

[2020-12-11 03:33] #8558 closed

[2020-12-11 03:47] tristaZero commented on #8564
Hi @yu199195,

Please give it a look here, thx.

[2020-12-11 04:04] tristaZero commented on #8570
Hi @TeslaCN ,

Thanks for this issue. I suppose it is a bug. Do you have any idea to solve this one?
Here is a quick intro concerning converting a `DataSource` to a **Literal** `DataSource` saved in the registry later. We can consider fixing it in `DataSourceConfiguration.java` or `DataSourceConfigurationYamlSwapper.java`.

A `dataSource` will firstly be converted to [DataSourceConfiguration](http

[2020-12-11 04:10] tristaZero commented on #8571
Hi @50133142
Thanks for your detailed issue. Do you have any thought to solve this issue as you have gotten its cause?

[2020-12-11 04:14] tristaZero commented on #8574
Hi  @J-TIGGER ,

Does user1 have the privileges to visit `t_cs_attendance`?

[2020-12-11 04:36] J-TIGGER commented on #8574
user1 has access to t_cs_attendance, and the t_cs_attendance in user2 can be queried normally in the database, so I am very confused.

[2020-12-11 05:50] J-TIGGER commented on #8574
Now I roll back shardingJdbc to version 4.0.0-RC1, the application can start normally, and the sharding function is all normal, but the startup speed is very slow (there are 200 tables in my database, only two million The level table is divided horizontally)

[2020-12-11 05:53] J-TIGGER commented on #8574
I currently suspect that it is the incompatibility of shardingJDBC 5.0 version. I like the 5.0 version just released, so I hope you can help me solve it as soon as possible.

[2020-12-11 06:26] yu199195 commented on #8564
can you  dependency seata ?  example like this:

[code]

[2020-12-11 07:31] TeslaCN commented on #8570
Hi @tristaZero ,

My idea is ignoring property with null value when converting a `DataSource` to `DataSourceConfiguration`. I don't know if there are any other effects.

Before:
[code]

After:
[code]

[2020-12-11 07:52] tristaZero commented on #8525
Hi @zhangwei1989 ,

Sorry to forget giving some of the necessary instruction. It is a good start to pull the repo. Next,
1.  Uncomment the configuration in `shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf` as you did in the ShardingProxy tar file.
2. Debug `Bootstrap.main()` in `shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/java/org/apache/shardingsphere/

[2020-12-11 07:53] tristaZero commented on #6070
@rudy2steiner  Great!

[2020-12-11 07:59] tristaZero commented on #8551
Hi @Terrdi Thanks for test.

Hi @jingshanglu I am curious our SQL parser can parse a negative value well? Could you look at this case?

[2020-12-11 08:45] jingshanglu commented on #8551
@tristaZero @TanveshT I'll check it.

[2020-12-11 09:09] wangleigithub commented on #8517
yes, it works by set  `max-connections-size-per-query`. It takes about 40s+ . If join another big table , it takes 2m...

[2020-12-11 09:28] guid-git opened #8577 "sharding-sphere3.0.0+mybatisplus2.1.4+mysql, batchInsert error, help me !!!"
## Question

### Error flushing statements.  Cause: java.lang.ArrayIndexOutOfBoundsException: 1
### Cause: java.lang.ArrayIndexOutOfBoundsException: 1
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(ExceptionFactory.java:30)
	at org.apache.ibatis.session.defaults.DefaultSqlSession.flushStatements(DefaultSqlSession.java:255)
	at com.baomidou.mybatisplus.service.impl.ServiceImpl.inse

[2020-12-11 09:44] garlichead commented on #6454
这种查询语句有替代方法吗 目前项目中的核心业务需要使用这条语句

[2020-12-11 09:54] hegw commented on #8561
The project already use [redissson ](https://github.com/redisson/redisson/)framework
[code]
and when I use **shardingsphere-jdbc-5.0.0-alpha** version in project，in the proccess of application startup, [ShardingSphereAlgorithmBeanRegistry ](https://github.com/apache/shardingsphere/blob/c05b58b1610b18503f436a61db1d24dba72c7e33/shardingsphere-jdbc/shardingsphere-jdbc-spring/shardingsphere-jdbc-sprin

[2020-12-11 09:57] guid-git commented on #8577
private int[] accumulate(final List<int[]> results) {
        int[] result = new int[batchCount];
        int count = 0;
        for (BatchRouteUnit each : routeUnits) {
            for (Entry<Integer, Integer> entry : each.getJdbcAndActualAddBatchCallTimesMap().entrySet()) {
              ###   **int value = null == results.get(count) ? 0 : results.get(count)[entry.getValue()];**

[2020-12-11 11:23] menghaoranss opened #8579 "Design and implement the scaling workflow"
Hi，everyone

We consider starting to integrate proxy and scaling to realize automatic data migration and data source switching  after
configuration changes.

Here are the preliminary tasks：

- [x] 1. Integrating scaling API

- [x] 2. Design and implement configuration version management

- [x] 3. Generate new configuration version after RDL execution

- [x] 4. Design automatic scaling job generati

[2020-12-11 11:29] qwaszx92717 commented on #8528
sharding version ：4.0.1

[2020-12-11 13:01] terrymanu opened #8581 "Support multiple backend database types for new feature of database gateway"
The ShardingSphere-Proxy can support single database type which must keep consist with frontend database protocol and backend database only.
For example, current ShardingSphere-Proxy can support `MySQL protocol + MySQL database` and `PostgreSQL protocol + PostgreSQL database`.

We plan to add a new feature of `database gateway` which should support multiple backend databases. The `database gateway

[2020-12-11 13:48] 50133142 commented on #8571
![image](https://user-images.githubusercontent.com/42038247/101862506-78fa9080-3bad-11eb-9716-ba7166c75d33.png)

[2020-12-11 13:48] #8571 closed

[2020-12-11 17:32] suikenungleung opened #8588 "Sharding + Seata How to configure Nacos correctly"
version：

- Spring Boot 2.3.6,
- Spring Cloud Hoxton.SR9
- Spring Cloud Alibaba 2.2.3.RELEASE
- ShardingSphere-JDBC 5.0.0-alpha
- Spring Cloud Alibaba Seata 2.2.0.RELEASE

seata.conf

[code]

registry.conf

[code]

application.yml

[code]

Seata uses Nacos storage, combined with ShardingSphere-JDBC how to configure.

Error now:

[code]

[2020-12-12 02:53] springnick opened #8589 "Got a NullPointerException when parsing a simple mysql sql statement"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-12 04:02] springnick opened #8590 "Got StringIndexOutOfBoundsException when parsing a mysql sql statement"
## Bug Report

Which version of ShardingSphere did you use?
A: 4.1.1

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
A: ShardingSphere-JDBC

Expected behavior
A: sql should be able to be parsed correctly,

Actual behavior
A: got an exception when parsing a simple sql

java.lang.StringIndexOutOfBoundsException: String index out of range: 0

	at java.lang.String.charAt(Strin

[2020-12-12 05:13] terrymanu commented on #8577
I don't know what is mybatis-plus do, could you get the actual SQL and jdbc method?

[2020-12-12 05:22] qixiaobo commented on #8577
It's a framework based on mybatis https://github.com/baomidou/mybatis-plus (MyBatis-Plus is an powerful enhanced toolkit of MyBatis for simplify development. This toolkit provides some efficient, useful, out-of-the-box features for MyBatis, use it can effectively save your development time.).
Maybe @guid-git should provide more info

[2020-12-12 05:51] terrymanu opened #8592 "Add test case for FrontDatabaseProtocolTypeFactory"

[2020-12-12 06:06] arthasking123 commented on #8592
please assign to me

[2020-12-12 06:19] TeslaCN opened #8593 "Confusing about the method `equals` in DataSourceConfiguration"
## Question

I wonder why 2 instances of `DataSourceConfiguration` having different properties are considered to be equivalent.

https://github.com/apache/shardingsphere/blob/e3c6e9df48f88af9e49232f51fe54f7139a16121/shardingsphere-infra/shardingsphere-infra-common/src/test/java/org/apache/shardingsphere/infra/config/DataSourceConfigurationTest.java#L95-L106

![image](https://user-images.githubuser

[2020-12-12 06:53] huanghao495430759 commented on #8592
please assign to me

[2020-12-12 08:38] zhangwei1989 commented on #8525
Hi @tristaZero,

It's the debug log:

- It entered into AllSQLRouteExecutor instead of PartialSQLRouteExecutor.
![HTTPClient结果](http://zhangwei1989.oss-cn-beijing.aliyuncs.com/2020-12-12-WechatIMG1110.jpeg)
- It never entered into ReplicaQuerySQLRouter, so I can't find out why return pr_ds.

What can I do to debug next?

Thanks o lot~

[2020-12-12 13:19] xr2117 opened #8594 "springboot dependency"
Where can I find it springboot starter Maven dependency？

[2020-12-12 13:41] menghaoranss commented on #8594
@xr2117 https://mvnrepository.com/

[2020-12-12 13:41] #8594 closed

[2020-12-12 14:21] xr2117 commented on #8594
Please give me the latest version of springboot dependency

 maven Cannot find out anything

[2020-12-12 14:23] xr2117 opened #8595 "springboot starter"
Please give me the latest version of springboot starter, which is not found on Maven website

[2020-12-12 14:53] tristaZero commented on #8284
Hi @guimingyue ,

I gave a look at your repo, and basically, it is on the right way to do query optimization. : )
Here are some of my thought about how to leverage Calcite to do query optimization and SQL federation for ShardingSphere.

@junwen12221  @guimingyue
What's your thinking about the process below?  Welcome your any comments.

---

### Process

#### Preparation

- Create SQL Parser using

[2020-12-12 15:20] #8581 closed

[2020-12-13 03:18] #8595 closed

[2020-12-13 03:19] xr2117 opened #8597 "Jdk8 time format is not supported？"
2020-12-13 11:16:07.688 ERROR 17076 --- [nio-8000-exec-3] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.springframework.dao.InvalidDataAccessApiUsageException: Error attempting to get column 'create_time' from result set.  Cause: java.sql.SQLFeatureNotSupported

[2020-12-13 05:38] terrymanu opened #8598 "Standardize RDL of create sharding rule"
The current `create sharding rule` RDL is:

[code]

The RDL maybe not standard enough. I want discuss to standardize them.

1. For `create sharding rule`, is it better to extract sharding column together with table name?
2. How about add properties key and value mapping?
3. How about spilit `shardingrules` to `sharding rules`?
4. `shardingrules` is not accurate, `sharding rule` is better, the RDL

[2020-12-13 05:44] terrymanu opened #8599 "Support show RDL statement"
We need to support query resources and rules via RDL. The first version can be return YAML string. We can consider about return more columns for query return values in future.

- [ ] Support `SHOW DATASOURCES`
- [x] Support `SHOW SHARDING RULE FROM schema_name`
- [x] Support `SHOW REPLICA_QUERY RULE FROM schema_name`
- [x] Support `SHOW ENCRYPT RULE FROM schema_name`
- [x] Support `SHOW SHADOW RUL

[2020-12-13 12:32] strongduanmu commented on #8478
@taigam Hi, can you give me a reply?

[2020-12-13 14:01] junwen12221 commented on #8284
@tristaZero  @guimingyue

There is no problem with the process.

In the past some days, I have been researching optimization. In my project, I have implemented the optimization rules of global secondary index. After completing the test, I will share it.

SQLStatement to sqlnode of calculate is a robust development route. This is the case with one of my query engine implementations, but its perform

[2020-12-13 14:18] #7531 closed

[2020-12-13 15:04] guimingyue commented on #8284
@tristaZero
I have created a calcite Schema implementation class [ShardingSphereCalciteSchema](https://github.com/guimingyue/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-optimizer/src/main/java/org/apache/shardingsphere/infra/optimizer/schema/ShardingSphereCalciteSchema.java), I think this class is enough for the optimization phase.
With the last two weeks of work, I have f

[2020-12-13 15:23] likly commented on #8597
The 4.+ version is based on JDK 7, you can custom the TypeHandler of mybatis to fix it.

[2020-12-13 15:47] iblilife opened #8605 "table for unconfigured "SELECT t.*, t2.col FROM t LEFT JOIN t2" not work"
### Which version of ShardingSphere did you use?

`mysql 8.0.20`
`spring boot 2.2.5.RELEASE`

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
```ShardingSphere-JDBC```

### Table
[code]
### sharding yaml config
`card_type`  `shop_employee` don't need  sharding。unconfigured in yaml file。

### Mybatis mapper.xml
[code]

### Results
return resultset columns is empt

[2020-12-13 16:01] iblilife commented on #8605
add code
[code]
working normal

[2020-12-14 02:31] 438219972 commented on #8555
Thank you，I already set a fake property to solve it

[2020-12-14 02:34] #8555 closed

[2020-12-14 03:49] menghaoranss commented on #8597
You can try the latest version, which supports jdk8.

[2020-12-14 03:56] tristaZero commented on #8574
@J-TIGGER ,

Could you check the `index` privileges for user1 and user2 on `t_cs_attendance`? The log gave me a hint that ShardingSphere can not get the `index` Info.

[2020-12-14 04:46] tristaZero commented on #8525
Hi @zhangwei1989,

Thanks to your assistance, I located the cause of this issue. Very appreciated!

The reason is that there is incorrect handling for `AllSQLRouteExecutor`, i.e., `MySQLShowTablesStatement`. : (

@terrymanu  will fix this bug ASAP. Please be patient.

Best wishes,

Trista

[2020-12-14 04:53] jingshanglu commented on #8589
@springnick It has been fixed in the  release 5.0.0-alpha. Plz use `5.0.0-alpha`.

[2020-12-14 04:59] tristaZero commented on #8517
Have you ever created any index on query columns?

[2020-12-14 05:02] jingshanglu commented on #8590
@springnick You can use `master branch`, it has been fixed in `master branch`.

[2020-12-14 05:08] Kimisme opened #8607 "Mybatis's selectKey does not support"
Depend on the following

[code]

**tb_student is a table that does not participate in sharding.**

It can be executed normally (externally incoming ID) in the following ways.

[code]

Failed to execute in the following way (Mybatis auto-fetch).

[code]

The error is as follows:

[code]

By the way, I can't find the `RC version` in the Maven repository.

![image](https://user-images.githubuserconte

[2020-12-14 05:09] tristaZero commented on #8570
How about we give `exceptionOverrideClassName` a specific or default value to adapt to the HikariCP >=3.4.3?

[2020-12-14 05:11] tristaZero commented on #6454
@popo706

Which release is used for your test? I suggest you try the latest one, i.e., 5.0.0-alpha.

[2020-12-14 05:18] #8383 closed

[2020-12-14 05:30] tuohai666 commented on #8416
@yu199195 Can you have a look?

[2020-12-14 05:43] J-TIGGER commented on #8574
![image](https://user-images.githubusercontent.com/52161906/102044565-0ccc9680-3e12-11eb-839b-b12f2f8d00fc.png)
As shown in the figure, if this place is true, it can be successful, but if it is false in the source code, the index does not exist. What should i do

[2020-12-14 05:59] tristaZero commented on #6454
@hermitcai 5.0.0-alpha can parse this SQL out but not calculate the routed result for this kind of SQLs.
If you can not avoid this type of SQLs, please try the [Hint](https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/hint/) to route it yourself.

[2020-12-14 06:07] hermitcai commented on #6454
The update statement does not need to summarize routing results

[2020-12-14 06:07] guid-git commented on #8577
for example, i call mybatis-plus's method ExampleService.insertBatch(list). when list's size is 10, sharding-sphere will put the same table data in one sql. such like '' insert into table values(),()"".   then look the method i said above "accumulate", each.getJdbcAndActualAddBatchCallTimesMap().entrySet() ’s size is 2。but when i debug the param "final List<int[]> results" of the method "accumulat

[2020-12-14 06:07] tristaZero commented on #8528
I guess you can get the execution time, like
[code]

[2020-12-14 06:31] menghaoranss commented on #8607
Please configure `sql.show=true` and print the logic & actual SQL.

[2020-12-14 06:39] #8597 closed

[2020-12-14 06:46] #8573 closed

[2020-12-14 06:50] menghaoranss commented on #8562
I think @huanghao495430759 's reply can solve your question，i will close this issue, thanks.

[2020-12-14 06:50] #8562 closed

[2020-12-14 06:50] tuohai666 commented on #8480
@taigam (Let's stop focusing on param change or not) It seems like raw JDBC also just no data, I am not sure, am I right?

[2020-12-14 07:14] tuohai666 commented on #8480
@taigam
If ShardingSphere-JDBC returns no data, at the same time, raw-JDBC returns no data, I think at least there's no bug at this moment.
If you wonder why parameter changed, I can label this issue question, and we should read the code to find out why the parameter is rewritten like this.

[2020-12-14 07:23] wangleigithub commented on #8517
yes, I created, and I run the explain, they all run with index.  I think the reason is the query must take all routes, so it is slow . but if I dont sharding table. It only take 80ms....
by the way , is there a best practise guide about ss-proxy?

[2020-12-14 07:54] Kimisme commented on #8607
[code]

thanks

[2020-12-14 08:28] alonglee-cyber opened #8611 "ForceExecuteTemplate will hide the exception message when transaction rollback"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-14 08:30] TeslaCN commented on #8570
Where can we write the assignment statement? The exception occurs before `JDBCParameterDecorator`.

[2020-12-14 09:09] dafanzhi commented on #234
无远信息技术 https://wuyuan.io 无远开发平台

[2020-12-14 09:10] tuohai666 commented on #8445
@wenweibin Yes, Option 1 is reasonable. But the protocol maybe not complete. For example:

![123](https://user-images.githubusercontent.com/24643893/102061484-7b1f5200-3e2e-11eb-8036-ba8e9335032f.png)

Other statements still have prompt(COMMIT, SET, etc.) except in protocol.

Option 3 means find all the prompt statements from PostgreSQL server codes.

So, should we adopt option 3 implementing all

[2020-12-14 09:27] springnick commented on #8590
thanks for the quick response,  I'll try it

[2020-12-14 09:28] springnick commented on #8589
thanks for the quick response,  I'll try it

[2020-12-14 09:30] #8599 closed

[2020-12-14 11:44] junwen12221 commented on #8284
@guimingyue  enough to complete the run executor.

[2020-12-14 12:01] #8598 closed

[2020-12-14 12:27] terrymanu opened #8615 "Support CREATE REPLICA_QUERY RULE"
[code]

[2020-12-14 12:45] terrymanu opened #8616 "Support CREATE ENCRYPT RULE"
[code]

[2020-12-14 12:55] tristaZero commented on #8615
Hi, after looking at `replica-qeury-rule.yaml`, I try to give some of my thoughts below.
[code]

[code]

[2020-12-14 13:05] tristaZero commented on #8616
Hi how about the following  one?
[code]

[code]
Or

[code]

[2020-12-14 13:17] terrymanu opened #8618 "Consider about quote character with CREATE SHARDING RULE"
Support quote character with names of sharding table and sharding column.

[2020-12-14 13:19] terrymanu commented on #8616
I prefer 1st one, it is similar with DDL's create table

[2020-12-14 13:21] terrymanu commented on #8615
`load_balancer=RANDOM(xxx=xxx)` maybe unnecessary, we can keep consist with create sharding rule.

FYI:
[code]

The sharding algorithm do not contain name and `=`

[2020-12-14 14:00] wenweibin commented on #8445
If the protocol is incomplete, the option 3 may be a better one.

[2020-12-14 14:02] terrymanu commented on #8430
Closed because of no response

[2020-12-14 14:02] #8430 closed

[2020-12-14 14:03] terrymanu commented on #8502
Closed because of no response

[2020-12-14 14:03] #8502 closed

[2020-12-14 14:03] terrymanu commented on #8478
Closed because of no response

[2020-12-14 14:03] #8478 closed

[2020-12-14 14:03] terrymanu commented on #8436
Closed because of no response

[2020-12-14 14:03] #8436 closed

[2020-12-14 14:04] terrymanu commented on #8498
Closed because of no response

[2020-12-14 14:04] #8498 closed

[2020-12-15 01:35] zhangwei1989 commented on #8525
Hi @tristaZero,

All I have done was on 5.0.0-alpha branch. I tried on master branch today, it worked fine.

Thank you very much for confirming.

[2020-12-15 02:11] taigam commented on #8480
the problem  is pagehelper    i changed the version of pagehelper  then  solved

[2020-12-15 02:11] #8480 closed

[2020-12-15 02:19] huanghao495430759 commented on #8605
Try recafctor their configuration to broadcast-tables ?

rules:
  sharding:
	broadcast-tables: card_type,shop_employee

[2020-12-15 02:21] huanghao495430759 commented on #8605
Try reconfigure their configuration to broadcast-tables ?

rules:
sharding:
broadcast-tables: card_type,shop_employee

[2020-12-15 02:36] #8590 closed

[2020-12-15 02:36] #8589 closed

[2020-12-15 03:29] tristaZero commented on #8605
That's one great solution If two of these tables do not have a large volume of rows. Besides, does a simple SQL queried on `unconfigured table` run well?

[2020-12-15 03:45] #8525 closed

[2020-12-15 03:49] duzhanfei opened #8621 "【shardingproxy-5.0.0-alpha】Can not route tables for `[PSNL_POTN_CUST_CNTWY]`, please make sure the tables are in same schema"
I have config default route rule for table  PSNL_POTN_CUST_CNTWY， but it doesn‘t work.

config:

config-sharding.yaml

schemaName: sharding_db5

dataSourceCommon:
  connectionTimeoutMilliseconds: 30000
  idleTimeoutMilliseconds: 60000
  maxLifetimeMilliseconds: 1800000
  maxPoolSize: 50
  minPoolSize: 1
  maintenanceIntervalMilliseconds: 30000

dataSources:
  ds_0:
    url: jdbc:mysql://190.11.1.4

[2020-12-15 04:04] #7197 closed

[2020-12-15 04:04] tristaZero commented on #8570
IMO, there are two methods to deal with this one.

### DataSourceConfiguration
Like `SKIPPED_PROPERTY_NAMES`, it is possible to add a Map<DriverType, List<Properties>> to set an appropriate value for these particular properties. But this way will make `DataSourceConfiguration` senses `Driver Types`.

### HikariJDBCParameterDecorator
That's a specific class to decorate properties to `HikariCP`, a p

[2020-12-15 04:04] yu199195 commented on #7197
we will develop  own agent

[2020-12-15 04:10] TeslaCN commented on #8570
About `DataSourceConfiguration`, do you mean `Driver Types` or `DataSource Type`?

[2020-12-15 04:15] tristaZero commented on #8574
Hi @J-TIGGER Nice, it looks like you targeted the cause.
If the value is true, is `resultSet.next`true?  I guess this key parameter changes the loading resultSet, doesn't it?

[code]

How about removing these indexes to avoid index loading?

Hi @TaoZhiMLND , could you look at this issue since I found your commits in this class? :)

[2020-12-15 06:37] zosimer opened #8623 "no viable alternative at input"
line 9:13 no viable alternative at input 'selectmember_id,mobile,nickname,`name`,icard,photo,sex,birthday,platform,province,city,district,college_id,college_name,member_state,member_type,invite_code,rank_points,pay_points,money,frozen_money,gold,frozen_gold,login_ip,login_date,login_flag,sign,is_special,is_service,remarks,del_flag,create_by,create_date,update_by,update_datefrommember'
line 9:13 no

[2020-12-15 06:40] zosimer commented on #8623
Shardingproxy5.0 SQL parsing removes the space, resulting in data errors, but mybatis's SQL is correct

[2020-12-15 06:42] zosimer commented on #8623
![image](https://user-images.githubusercontent.com/19589632/102180390-c0518b80-3ee3-11eb-9b71-c667f5a29344.png)

[2020-12-15 06:45] zosimer commented on #8623
![image](https://user-images.githubusercontent.com/19589632/102180620-23432280-3ee4-11eb-8965-1bad0659fa00.png)

[2020-12-15 07:09] menghaoranss commented on #8621
@duzhanfei Please confirm whether the table name is PSNL_POTN_CUST_CNTWY or psnl_potn_cust_cntwy

[2020-12-15 07:37] huanghao495430759 opened #8625 "Does replica-query data-source-name must be same as primary-data-source-name ?"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
I use spring-boot starter
[code]
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
my query-sql[select id,user_id,name from user where user_id=1] executed in replica datasource.
### Actual behavior
my query-sql[select id,user_id,name from user where user_id=1] exe

[2020-12-15 07:42] #8592 closed

[2020-12-15 08:32] duzhanfei commented on #8621
①  when the talbe name is PSNL_POTN_CUST_CNTWY  ,
tips in navicat showed as below
0002 - 2Unknown exception: [Can not route tables for `[PSNL_POTN_CUST_CNTWY]`, please make sure the tables are in same schema.

②when the talbe name is psnl_potn_cust_cntwy  ,
The above error message will not appear in navicat ,
but we can know that the route for the  table is incorrect: the default database is ds_0

[2020-12-15 08:33] duzhanfei commented on #8621
@menghaoranss

[2020-12-15 08:59] skyjilygao opened #8627 "如何便捷的配置多数据源？"
## Question

参考一下信息配置了多数据源，发现如果不同数据库的表都很多情况下，需要在`tables`为每个表都需要指定使用哪个数据源。有没有更方便的方式？？
[code]

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues yo

[2020-12-15 09:08] menghaoranss commented on #8627
For English only.

[2020-12-15 09:08] #8627 closed

[2020-12-15 09:59] tristaZero commented on #8570
Sorry, exactly speaking, `DataSourceConfiguration` will know some of  the `JDBC connection pool`. Since we will put a Map<poolType, List<Properties>, like `Map<hikari, List< exceptionOverrideClassName>>`.

[2020-12-15 10:02] yu199195 commented on #8588
maybe  pull nacos config   on the after Shardingspheredatasouce init..

[2020-12-15 10:11] yu199195 commented on #8588
the seata.conf maybe in you resources class path

[2020-12-15 11:38] dafanzhi opened #8629 "Exception in thread "main" Cannot create property=rules"
## Bug Report

### Which version of ShardingSphere did you use?

apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-proxy

### Expected behavior
The proxy server should be started normally.

### Actual behavior
Throws exceptions when starting server.
Error log:
[code]

### Steps to reproduce the behavio

[2020-12-15 11:48] menghaoranss commented on #8629
server.yaml uthentication -> authentication

[2020-12-15 12:53] skyjilygao commented on #8627
With reference to the information, it is found that if there are many tables in different databases, you need to specify which data source to use for each table in tables. Is there a more convenient way??

[2020-12-15 13:50] xuup opened #8631 "run shardingsphere5.0.0-alpha error"
## Question

downloading src from https://www.apache.org/dyn/closer.cgi/shardingsphere/5.0.0-alpha/apache-shardingsphere-5.0.0-alpha-src.zip , run class ShardingSphereConnectionTest has error.

Error:(26, 52) java: org.apache.shardingsphere.sql.parser.autogen not exist
Error:(27, 77) java: org.apache.shardingsphere.sql.parser.autogen.SQLServerStatementParser not exist
Error:(28, 77) java: org.apac

[2020-12-15 14:11] iblilife commented on #8605
Simple SQL works well。

`SELECT t1.* FROM t1` // run ok
`SELECT t2.* FROM t2` // run ok
`SELECT t1.*, t2.id FROM t1 LEFT JOIN t2` // failed，data column does not have。

[2020-12-15 15:23] dafanzhi commented on #8629
just a copy error.
corrected and got the same exception

[2020-12-15 15:25] cnlinjie opened #8633 "只有单个字段的表会出问题，改不改都可以，我加个字段就好"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-15 15:45] terrymanu commented on #8633
For English only, other languages will not accept.

[2020-12-15 15:45] #8633 closed

[2020-12-15 15:46] terrymanu commented on #8631
Please run `mvn install` first, altlr need to generate the code

[2020-12-15 15:46] #8631 closed

[2020-12-15 15:53] cnlinjie commented on #8633
我知道，改不改无所谓，问题我提了就是。

[2020-12-16 01:53] CrazyFz opened #8638 "Bug for USE JAVA API to to configure two tables"
## Bug Report

When  my just have one table,  all database CRUD is right
but when i configure two tables(ssuser,gateway), it just can select ,but not insert

then debug i find error, but do not how to fix it

My DataSourceTestConfig code
`
public class BeetlSqlDataSourceTestConfig {

    @Autowired
    private Environment e;

    /**
     * postgrepsql db 配置
     * @return
     */
    @Bean(destro

[2020-12-16 02:24] menghaoranss commented on #8629
I don't think your configuration of config-sharding.yaml is the same as the example:

[code]

[2020-12-16 02:34] menghaoranss commented on #8638
Please show the actual sql.

[2020-12-16 02:36] huanghao495430759 commented on #8638
it is your configurations error.

`Properties tableShardingAlgorithmrProps = new Properties();
    tableShardingAlgorithmrProps.setProperty(
    		"algorithm-expression", "ssuser_${user_id}");
    **shardingRuleConfig.getShardingAlgorithms().put("tableShardingAlgorithm",
    		new ShardingSphereAlgorithmConfiguration("INLINE",
    				tableShardingAlgorithmrProps));**

	Properties tableShardingAlg

[2020-12-16 02:37] huanghao495430759 commented on #8638
it is your configurations error.

`Properties tableShardingAlgorithmrProps = new Properties();
tableShardingAlgorithmrProps.setProperty(
"algorithm-expression", "ssuser_${user_id}");
shardingRuleConfig.getShardingAlgorithms().put("tableShardingAlgorithm",
new ShardingSphereAlgorithmConfiguration("INLINE",
tableShardingAlgorithmrProps));

Properties tableShardingAlgorithmrProps2 = new Properties();

[2020-12-16 02:38] CrazyFz commented on #8638
![image](https://user-images.githubusercontent.com/22133156/102297735-bdf63c80-3f8a-11eb-8779-2c4c92aeabd3.png)

[2020-12-16 02:51] tristaZero commented on #8623
Hi @zosimer ，
Thanks for feedback, could you set `sql-show` = `true` so as to get the actual SQLs and logic SQLs from the log?

[2020-12-16 03:00] tristaZero commented on #8625
Hi @huanghao495430759 ,

If you use `sharding` and `replica` feature together, it is necessary to configure `sharding Rule` with `replica-query data-source-name`. The reason is that `sharding rule` will regard `replica-query dataName` as a regular `dataName` without caring about query executed on replica or primary.

[2020-12-16 03:04] CrazyFz commented on #8638
Thanks , you are right

[2020-12-16 03:05] #8638 closed

[2020-12-16 03:07] zosimer commented on #8623
selectmember_id,mobile,nickname,`name`,icard,photo,sex,birthday,platform,province,city,distri
ct,college_id,college_name,member_state,member_type,invite_code,rank_points,pay_points,money,frozen_money,gold,frozen_gold,login_ip,log
in_date,login_flag,sign,is_special,is_service,remarks,del_flag,create_by,create_date,update_by,update_datefrommember'
line 9:13 no viable alternative at input 'selectmemb

[2020-12-16 03:09] zosimer commented on #8623
![image](https://user-images.githubusercontent.com/19589632/102300061-20e9d280-3f8f-11eb-92bc-a6d6ba645eb1.png)

[2020-12-16 03:13] Kimisme opened #8639 "The problem of oracle sequence recognition into table"
### Dependence

[code]

### Execute sql

[code]

### Sql description

- JS_SERV_TYPE_TMP_SEQ is a sequence, not a table
- dual is a keyword, not a table

### Execute error report

[code]

[2020-12-16 03:14] dafanzhi commented on #8629
yes, but the key problem is  i can't get any useful hint from the log. i need the error log show me what should i do.
as you see, i just modified the url and the table name, and removed shardingAlgorithms and keyGenerators  from the example, but got an error tips with 'Cannot create property=rules'
can you help me ?

[2020-12-16 03:15] menghaoranss commented on #8611
There‘s no 4.1.4 version for shardingsphere, please modify your description first.

[2020-12-16 03:18] zosimer commented on #8623
Why did he remove the blanks

[2020-12-16 03:21] menghaoranss commented on #8629
Could you please refer to the example to modify your config-sharding.yaml first, and if it still doesn't work, please show your configuration and  log again.

[2020-12-16 03:40] terrymanu opened #8640 "Support RDL for drop sharding rule"
[code]

[2020-12-16 04:57] huanghao495430759 commented on #8625
Thanks ! I got it.

[2020-12-16 04:57] #8625 closed

[2020-12-16 06:26] #8640 closed

[2020-12-16 06:29] terrymanu commented on #8593
I check the commit log, it shows `Fix issue for data source cannot renew`

Can you check it if you are interesting?

[2020-12-16 06:57] #8629 closed

[2020-12-16 06:59] liuchaoheliang opened #8643 "the subquery encrypt column not be rewrite ?"
my config
spring.shardingsphere.props.query-with-cipher-column=true

spring.shardingsphere.rules.encrypt.encryptors.name_encryptor.type=cName

spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.plainColumn=name
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.cipherColumn=name_enc
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.encryptorName=name_e

[2020-12-16 07:54] guid-git commented on #1419
have you slove this problem?

[2020-12-16 08:08] menghaoranss opened #8646 "CuratorZookeeperRepositoryTest.assertWatchDeletedChangedType execute failed"
## Question

[code]

[2020-12-16 09:23] sandynz opened #8649 "Maven install failed since shardingsphere-tracing-opentracing module"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit 89fba4b93b6c7731f238ec331334fb156785e37e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Both

### Expected behavior
maven install success, with ~/.m2/repository/org/apache/shardingsphere/ not exists

### Actual behavior
[code]

### Reason analyze (If you can)
`shardingsphere-tra

[2020-12-16 09:29] Lucas-307 opened #8650 "Unsupported command: [COM_SET_OPTION] happened while execute batch delete"
## Bug Report
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
I want execute some batch delete by proxy, but it failed.

[code]

### Actual behavior
[code]

[2020-12-16 09:40] tristaZero opened #8651 "Support allocating dataSource to autoTable generator"
### Intro

This is an enhancement feature to allocate some of the data sources configured to autoTable generator. In that way, the generator will create tables using allocated resources.

### Tasks

- [ ] Parse RDL in 96th Line of `DistSQLVisitor.class`
- [ ] Create table rule using allocated data sources or all data sources in 158th Line of `ShardingRule.class`

[2020-12-16 12:34] dafanzhi opened #8656 "The Chinese characters is converted to ?? in db which default charset is utf8 (keywords: 中文乱码,gbk,utf8)"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
The Chinese chars should be stored normally into a utf8 database after doing an UPDATE sql.

### Actual behavior
The Chinese chars is converted to ??

### Reason analyze (If you can)
By default, the chara

[2020-12-17 00:41] TeslaCN commented on #8570
Maybe we can define a new SPI like `DataSourcePreProcessor` to do something before setting attributes on the `DataSource`. This way the `DataSourceConfiguration` won't have to sense `DataSource Type`.

[2020-12-17 01:20] strongduanmu commented on #8605
@iblilife Hi, I have used the native JDBC api to test the SQL you provided, and the `left join` is OK. Can you provide more information that you encountered?

[2020-12-17 02:34] menghaoranss commented on #8565
Closed because there's no response anymore

[2020-12-17 02:34] #8565 closed

[2020-12-17 02:54] #7942 closed

[2020-12-17 03:10] tristaZero commented on #8623
`sql-show = true` will show us what happen inner ShardngSphere.

[2020-12-17 03:20] zosimer commented on #8623
Can't you see the picture above? The error message is from the shardingproxy log
https://user-images.githubusercontent.com/19589632/102300061-20e9d280-3f8f-11eb-92bc-a6d6ba645eb1.png

[2020-12-17 03:22] #8649 closed

[2020-12-17 03:23] menghaoranss commented on #8649
Thanks for your feedback，please pull the latest code and try again.

[2020-12-17 03:36] menghaoranss commented on #8656
The above url is the standard JDBC URL, not shardingsphere defined，you should make sure that the character encoding of the database and the client are consistent.

[2020-12-17 03:46] zosimer commented on #8623
The top log of this page is output by shrdingproxy

[2020-12-17 03:47] menghaoranss commented on #8607
Special algorithms are not supported, you can use the distributed key generator provided by shardingsphere.

[2020-12-17 03:47] #8607 closed

[2020-12-17 03:50] menghaoranss commented on #8639
Duplicate with #8607

[2020-12-17 03:50] #8639 closed

[2020-12-17 04:00] dafanzhi commented on #8656
i'm sure that the database and the client are consistent.
plz see the Reason analyze above, thanks!

[2020-12-17 04:58] strongduanmu commented on #8623
@zosimer Hi, this error is reported because member is a keyword in mysql. You can rewrite it in a way like this:

[code]

[2020-12-17 05:34] iblilife commented on #8605
@strongduanmu
# case 1, FAILED

mybatis mapper.xml
[code]
console log
[code]
debug
![debug_img_1](https://jzray.oss-cn-shenzhen.aliyuncs.com/temp/debug_img_1.png)

# case 2, OK
mybatis mapper.xml
[code]
![debug_img_2](https://jzray.oss-cn-shenzhen.aliyuncs.com/temp/debug_img_2.png)

# case 3, OK
mybatis mapper.xml
[code]
![debug_img_5](https://jzray.oss-cn-shenzhen.aliyuncs.com/temp/debug_img_5.pn

[2020-12-17 05:48] zosimer commented on #8623
But I didn't report this error in mysql5.7. I have been running this project for three years and won't change this word

[2020-12-17 05:59] verify31 opened #8662 "how to combine no sharding database with sharding database？"
### Which version of ShardingSphere did you use?
verison 4.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Expected behavior
support no sharding database combine with sharding databse
### Actual behavior
not work ,and got error ,
"Some routed data sources do not belong to configured data sources. routed data sources: `%s`, configured data s

[2020-12-17 06:17] menghaoranss commented on #8643
encrypted query with subquery now is not supported

[2020-12-17 06:18] #8643 closed

[2020-12-17 06:24] wangleigithub opened #8664 "rewrite sql cause a bug"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-17 07:10] qq254035179 opened #8666 "shardingsphere-5.0.0-alpha spring-boot-starter KeyGenerateAlgorithm and ShardingAlgorithm not init"
## Bug Report

Version：5.0.0-alpha
Configuration：SPRING BOOT STARTER
project: ShardingSphere-JDBC

When loading the configuration into ShardingRule.class
Constructor function:

public ShardingRule(AlgorithmProvidedShardingRuleConfiguration config, Collection<String> dataSourceNames) {
......
        this.shardingAlgorithms.putAll(config.getShardingAlgorithms());
        this.keyGenerators.putAll(c

[2020-12-17 08:12] duzhanfei commented on #8656
what's you mysql  version?

[2020-12-17 09:55] Roronoa-Zoro opened #8671 "shardingjdbc does not work with AbstractRoutingDataSource"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-17 11:30] lazyboyl opened #8677 "Tk.Mybatis “updateByPrimaryKeySelective ” Case " Can not update sharding key""
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere 5.x
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Use Tk,Mybatis.updateByPrimaryKeySelective methods
### Actual behavior
case "Can not update sharding key, logic table: [t_user], column: [user_id]."
### Reason analyze (If you can)
![image](https://u

[2020-12-17 11:35] lazyboyl opened #8678 "shardingsphere-jdbc-core-spring-boot-starter Database encryption starter fail"
## Bug Report
### Which version of ShardingSphere did you use?
       <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-alpha</version>
        </dependency>
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected beha

[2020-12-17 11:38] lazyboyl commented on #8677
@menghaoranss

[2020-12-17 11:38] lazyboyl commented on #8678
@menghaoranss

[2020-12-17 11:40] menghaoranss commented on #8678
@lazyboyl if you use springboot 2.x, you have to configure it as above, and it has been fixed in the master branch.

[2020-12-17 11:51] dafanzhi commented on #8656
mysql> select version();
+-------------------------+
| version()               |
+-------------------------+
| 5.5.62-0ubuntu0.14.04.1 |
+-------------------------+
1 row in set (0.01 sec)

[2020-12-17 11:52] tristaZero commented on #8284
Hi @guimingyue @junwen12221 ,

`Calcite schema` and `Calcite context` are created for SQL optimization and SQL federation in [#8667](https://github.com/apache/shardingsphere/pull/8670) . Do you think it is a convenient and proper one for SQL optimization module?

[2020-12-17 11:56] menghaoranss commented on #8671
Please provide some logs for  the logic and actual sql, and if possible, you can try with 4.1.1 or the latest version.

[2020-12-17 11:56] duzhanfei opened #8679 "【shardingproxy4.1.1】Can i config both broadcastTables and defaultDataSourceName?"
I config  broadcastTables for data_dic,but when i insert data for this table  by proxy , the data was inserted only in ds_0,  i want insert data  into all datasource.
Is there something wrong with my configuration?

config:

schemaName: sharding_db

dataSources:
  ds_0:
    url: jdbc:mysql://13.1.16.54:3306/db_test_0?serverTimezone=UTC&useSSL=false
    username: root
    password: root
    connect

[2020-12-17 12:00] duzhanfei commented on #8656
I think the database version is too low, you can try 5.7.25-log,it's ok.

At 2020-12-17 19:51:44, "dafanzhi" <notifications@github.com> wrote:

what's you mysql version?

mysql> select version();
+-------------------------+
| version() |
+-------------------------+
| 5.5.62-0ubuntu0.14.04.1 |
+-------------------------+
1 row in set (0.01 sec)

—
You are receiving this because you commented.
Reply

[2020-12-17 15:33] #8656 closed

[2020-12-18 00:26] wgy8283335 commented on #6480
@tristaZero Which version of ORACLE should be followed? 18 or 19?
18:
https://docs.oracle.com/en/database/oracle/oracle-database/18/lnpls/preface.html#GUID-9952D28D-0310-4869-8002-4462BDC679BB
19:
https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Preface.html#GUID-0897B474-6033-4398-AA8A-922F1C5CAF53

[2020-12-18 01:20] huanghao495430759 commented on #8677
SET user_id = user_id ？

[2020-12-18 01:47] wgy8283335 commented on #6480
I've checked the "CREATE TABLE" syntax, which is so complicated.
https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/CREATE-TABLE.html#GUID-F9CE0CC3-13AE-4744-A43C-EAC7A71AAAB6
![image](https://user-images.githubusercontent.com/22066046/102564035-92ec2400-4115-11eb-9d95-5b93ff22107b.png)
 I think it's better to talk about this kind of situation, as it is my first contribution to co

[2020-12-18 02:18] pototallxg commented on #4604
i have the same problem,switch 5.0, error:
nested exception is org.apache.ibatis.exceptions.PersistenceException: \r\n### Error updating database.  Cause: java.lang.ClassCastException: org.apache.shardingsphere.sharding.api.config.strategy.sharding.HintShardingStrategyConfiguration cannot be cast to org.apache.shardingsphere.sharding.api.config.strategy.sharding.StandardShardingStrategyConfigurati

[2020-12-18 02:18] lazyboyl commented on #8677
@huanghao495430759 Here are tk.mybatis Source code, you can use tk.mybatis The updatebyprimarykeyselective method, you will see the scenario I mentioned above。
`package tk.mybatis.mapper.common.base.update;

import org.apache.ibatis.annotations.UpdateProvider;
import tk.mybatis.mapper.annotation.RegisterMapper;
import tk.mybatis.mapper.provider.base.BaseUpdateProvider;

@RegisterMapper
public inte

[2020-12-18 02:19] pototallxg commented on #4604
public DataSource shardingDataSource(Map<String, DataSource> dataSourceMap) throws SQLException {

        ShardingRuleConfiguration shardingRuleConfig = new ShardingRuleConfiguration();

        Collection<ShardingTableRuleConfiguration> tables = new ArrayList<>();
        tables.add(new ShardingTableRuleConfiguration("HSale_Key", "cunfang-slave0.HSale_Key"));
        tables.add(new ShardingTable

[2020-12-18 02:19] Roronoa-Zoro commented on #8671
it's an mistake, I set sql.show to see detail log, actual sql is changed.

[2020-12-18 02:19] #8671 closed

[2020-12-18 02:20] #8678 closed

[2020-12-18 02:45] yinyanghuafa commented on #2712
5.0.0-RC1-SNAPSHOT
springboot 2.3.4
HikariCp 3.4.5
init datasource failed.Do you change datasourcepool?

[2020-12-18 02:49] yinyanghuafa commented on #8570
When HikariCP < 3.4.3,does it work?

[2020-12-18 03:07] luckleemon opened #8682 "can the sharding-proxy5 support sharding by week with config the yaml file？"
can the sharding-proxy5 support sharding by week with config the yaml file？
if support， how to config， thank you。

[2020-12-18 03:21] yinyanghuafa commented on #8570
I also met the problem.
5.0.0-RC1-SNAPSHOT
springboot 2.3.4
HikariCp 3.4.5
init datasource failed

[2020-12-18 03:33] #8623 closed

[2020-12-18 07:50] wh1024k opened #8684 "Shardingsphere is very slow to parse SQL for the first time after the service is started"
## Feature Request

![image](https://user-images.githubusercontent.com/36752386/102588293-322a0f00-4148-11eb-82f2-9643bf7e99c8.png)
Shardingsphere is very slow to parse SQL for the first time after the service is started or restarted. The version is 3.1.0

[2020-12-18 08:47] alvinqq opened #8685 "shardingsphere-test not found in maven center repository"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-18 09:00] alvinqq commented on #8685
Temporary solution：
pom exclusion shardingsphere-test dependency

            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-governance-spring-boot-starter</artifactId>
            <version>${org.apache.shardingsphere.version}</version>
            <exclusions>
            	<exclusion>
            		<groupId>org.apache.shardingsphere</groupId>

[2020-12-18 09:01] liuchaoheliang opened #8686 "Why does the analysis take more time for the first time?"
version 5.x
when I was testing and parsing a large sql,  use the same engine , new SQLStatementParserEngine("MySQL"), do 50 times parse. watch the cost time,
i found The first few times are much more time-consuming than the subsequent analysis.  why ?
 my java code like this:
    @Test
    public void test() {
        String sql = "select ........";
        SQLStatementParserEngine engine = new SQ

[2020-12-18 09:51] DoreenWang opened #8687 "The query field cannot contain desc or asc?"
use 4.1.0 and 4.1.1;
test sql: select desc,code,label,type,value,comments,_class from a_test
line 1:7 no viable alternative at input 'desc'
line 1:7 mismatched input 'desc' expecting {'!', '~', '+', '-', '*', '.', '(', '{', '?', '@', TRUNCATE, POSITION, VIEW, VALUES, DISTINCT, CASE, CAST, TRIM, SUBSTRING, LEFT, RIGHT, IF, NOT, NULL, TRUE, FALSE, EXISTS, ALL, ANY, OFFSET, BEGIN, COMMIT, ROLLBACK, S

[2020-12-18 09:51] tuohai666 commented on #8650
@Lucas-307 Proxy does not support COM_SET_OPTION for now.
You can try to add client jdbc parameters rewriteBatchedStatements=true and allowMultiQueries=true to avoid this problem.

[2020-12-19 09:03] RaigorJiang commented on #8577
It is recommended that you first check whether the SQL is correct, so please provide your actual SQL, not the Java code.

[2020-12-19 09:21] lunarzzz commented on #234
腾讯音乐娱乐科技有限公司 https://y.tencentmusic.com

[2020-12-19 17:45] gfsamudra commented on #234
@terrymanu how Published into official website? we to use Apache ShardingSphere

[2020-12-20 03:06] Aaaaaaron commented on #8284
Hi @tristaZero, I do the federate SQL query engine in Bytedance by using calcite and I'm family with calcite, maybe I can do some contribution.

[2020-12-20 11:30] iamif3000 opened #8694 "[question] how to use "Rule Configuration Based on Yaml" for orchestration"
Hi,

I'm using sharding-jdbc4.1.1.
I followed the steps of https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-jdbc/usage/orchestration/
![image](https://user-images.githubusercontent.com/16129632/102712135-96400500-42f9-11eb-8608-4f797fa436cb.png)

But I got an exception
[code]

My configuration is
[code]

What's wrong ? Thanks

[2020-12-20 11:34] iamif3000 opened #8695 "[question] how to use yaml configuration for sharding-jdbc orchestration"
Hi,

I'm using sharding-jdbc4.1.1.
I followed the steps of https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-jdbc/usage/orchestration/
![image](https://user-images.githubusercontent.com/16129632/102712135-96400500-42f9-11eb-8608-4f797fa436cb.png)

But I got an exception
[code]

My configuration is
[code]

What's wrong ? Thanks

[2020-12-21 03:13] jingshanglu opened #8696 "SQL Format error"
## Bug Report
[code]
this sql format error.
### Which version of ShardingSphere did you use?

master branch

### Expected behavior

[code]

### Actual behavior

[code]

[2020-12-21 03:18] jingshanglu opened #8697 "parser error"
## Bug Report

when sql like `/* c_zz_xdba_test_4 login */`, parser report exception, but MySQL not report exception.

### Which version of ShardingSphere did you use?
master branch

### Expected behavior

not report exception

### Actual behavior
report exception

[2020-12-21 03:24] tristaZero commented on #8666
Hi @qq254035179 ，
Could you set `sql-show` = true to get more details in log?

[2020-12-21 03:27] tristaZero commented on #8662
I suggest you try 5.0.0-alpha, which has better support for your scenario. For 4.1.0, could you try configuring `defaultDataSource` for non-sharding tables?

[2020-12-21 03:47] tristaZero commented on #8679
Hi,

Could you set `sql.show` = `true` to get the detail info? Besides, I guess[Examples](https://github.com/apache/shardingsphere/tree/shardingsphere-ui-4.1.1/examples/sharding-proxy-example) will give you some points.

[2020-12-21 03:49] ywendy commented on #5850
你好我做了个测试，传递的参数如果为string类型就报下面的错误，如果把类型修正为Date类型则不会报如下错误
代码：
[code]

[code]

[2020-12-21 03:52] tristaZero commented on #6480
Hi @wgy8283335 ,

That's will be a new start for you, Welcome!

[2020-12-21 04:00] tristaZero commented on #8284
Hi @Aaaaaaron ,

We are waiting for you, welcome!
Please leave some time to give your references some looks, and then we can have an in-depth discussion.
BTW, I suggest you look at the PRs above firstly, which can help you with the context of our work.

Best,
Trista

[2020-12-21 04:08] ywendy commented on #5850
@strongduanmu

换成4.0.1版本后的结果,正常运行不报错

[code]

[2020-12-21 05:36] #8694 closed

[2020-12-21 06:05] tristaZero commented on #4604
Hi,

The error log shows obviously. Plus, [Examples](https://github.com/apache/shardingsphere/tree/5.0.0-alpha/examples) is a great guide.

[2020-12-21 06:13] qq254035179 commented on #8666
show【cp_order_test (ok) ，cp_order_test_double(error)】&nbsp;&nbsp;table&nbsp; creation information：

Hibernate: create table cp_order_test (id bigint not null auto_increment, create_time datetime, enable_flag varchar(30), update_time datetime, amount_test decimal(19,2), flight_test decimal(19,2), status_test varchar(255), user_id_test bigint, primary key (id)) engine=InnoDB
[2020-12-21 13:57:26.656

[2020-12-21 06:22] FanRuiQI55 opened #8700 "无法正常链接psql"
服务器正常启动，数据库可以访问，查询表，操作的时候 报错 Can not route tables for `[pg_database]`, please make sure the tables are in same schema.

[2020-12-21 07:11] TeslaCN commented on #8593
I have checked it, but I still don't know why. Why `DataSourceConfiguration` with property `username=sa` equals to `username=sa,password=sth`?

[2020-12-21 07:14] iamif3000 commented on #8695
找到答案了。
需要这样配置，就可以正常工作了。
[code]

[2020-12-21 07:31] jingshanglu commented on #7791
@wenweibin I agree with your design.

[2020-12-21 08:51] lwtdev commented on #7880
@jingshanglu Next step, I will replace all `<and-predicate>` to `<expr>`, and  remove classes abount `*ExpectedPredicate*`.

[2020-12-21 09:19] xue2lang opened #8703 "use ShardingSphere-Proxy occur "ERROR 2006 (HY000): MySQL server has gone away""
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-12-21 09:50] #8700 closed

[2020-12-21 09:52] yu199195 commented on #8703
Issue must be follow the template!

[2020-12-21 09:54] yu199195 commented on #8687
desc is  a keyword, please changed.  or used  `desc`

[2020-12-21 09:59] xue2lang commented on #8703
now use template

[2020-12-21 09:59] yu199195 commented on #8686
@jingshanglu  Can you answer that?

[2020-12-21 10:20] yu199195 commented on #8703
@tristaZero  Can you take a look at it

[2020-12-21 10:59] verify31 commented on #8662
ok,thanks!

[2020-12-21 10:59] #8662 closed

[2020-12-21 11:15] tristaZero commented on #8570
Hi @TeslaCN
Is it likely that we set it as `null` in `DataSourceConfiguration` and sync to the registry? If so, we can consider setting it as another proper value before putting it into the registry. What do you think?

It looks like `DataSourcePreProcessor` has a similar function with `JDBCParameterDecorator` handling the parameters for different connection pools.

[2020-12-21 12:32] yu199195 commented on #8684
can you up the shardingsphere version？  3.1.0  is too old

[2020-12-21 12:34] TeslaCN commented on #8570
Hi @tristaZero
IMO, the only difference between `DataSourcePreProcessor` and `JDBCParameterDecorator` is they work on different phases. Indeed we can provide a proper value for this property, but we need to decide when.

[2020-12-21 12:37] junwen12221 commented on #8284
@tristaZero

I may need to see more submitted code before I can answer.
I think they look like org.apache.calcite.prepare.PlannerImpl /org.apache.calcite.tools.FrameworkConfig/org.apache.calcite.plan.RelOptCluster

[2020-12-21 12:37] yu199195 commented on #8682
you will see this : https://shardingsphere.apache.org/document/current/en/dev-manual/sharding/

[2020-12-21 12:41] yu199195 commented on #8685
shardingsphere-test not be released in maven center ,  Why do you need this project?

[2020-12-21 16:17] verify31 opened #8708 "how to ge the sql statement type ?"
## Question

how to ge the sql statement type ?
I means select or insert or update ,in SQLStatementContext object or others ？thanks！

[2020-12-22 03:07] tuohai666 opened #8711 "Proxy with governance can't work if there's no config file"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-22 03:11] yu199195 commented on #8708
what version?

[2020-12-22 03:23] verify31 commented on #8708
4.1.0

[2020-12-22 03:31] ywendy commented on #234
中税网 www.taxchina.com
数据脱敏

[2020-12-22 03:32] jingshanglu commented on #8708
you can use `instanceOf`.

[2020-12-22 03:37] jingshanglu commented on #8703
@xue2lang  It has been fixed on master branch by #8610, new version will be ok, you can use the master branch.

[2020-12-22 04:37] #8695 closed

[2020-12-22 04:38] yu199195 commented on #8588
Any other questions? we will close it  In the next few hours

[2020-12-22 06:13] #8708 closed

[2020-12-22 06:24] verify31 commented on #8662
ask more，what can I use in this version，can you show me the details。
and  4.1.0, could you try configuring `defaultDataSource` for non-sharding tables not work。

[2020-12-22 07:53] xue2lang commented on #8703
3Q，i will review the code and merge it to our branch of 4.1.1

[2020-12-22 09:03] tristaZero commented on #8703
Hi, That's not an easy one. If it is needed, running master branch is another option for you. :)

[2020-12-22 09:03] #8703 closed

[2020-12-22 09:13] tristaZero commented on #234
Hi @lunarzzz @ywendy Thanks for your comments and have my best wishes. :)

[2020-12-22 09:14] xue2lang commented on #8703
you are right ,i have saw the master code ,shardingshpere 5.x too much changed for 4.1.x ,i have given up my idea  💔

[2020-12-22 09:19] tristaZero commented on #8570
Thanks for your inputs. @TeslaCN
@menghaoranss has a self-assigned, thanks for your joining.

We'd better fix this issue before the next release since it looks this one nagged many of our users.

[2020-12-22 09:43] #8646 closed

[2020-12-22 13:03] suikenungleung commented on #8588
I have not temporarily used the sub database sub table + Seata, close it first

[2020-12-22 13:03] #8588 closed

[2020-12-22 15:11] singlemonkey opened #8722 "Cannot use LocalDateTime as a sharding key"
## Bug Report

When using the localdatetime type as the partition key, the data will be changed to "yyyy-MM-ddTHH:mm:ss" after toString method,and then cannot parse to LocalDateTime with the defined "datetime-pattern" is "yyyy-MM-dd HH:mm:ss".Get error log like this:
[code]

### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere

[2020-12-23 02:43] terrymanu commented on #8685
The test module is unnecessary to release

[2020-12-23 02:43] #8685 closed

[2020-12-23 02:45] terrymanu commented on #234
Just register in this issue, I will publish it on official website

[2020-12-23 02:50] terrymanu commented on #8553
Closed because of no response

[2020-12-23 02:50] #8553 closed

[2020-12-23 02:54] terrymanu commented on #8534
Closed because of no response

[2020-12-23 02:54] #8534 closed

[2020-12-23 02:55] terrymanu commented on #8528
Closed because of no response

[2020-12-23 02:55] #8528 closed

[2020-12-23 02:55] terrymanu commented on #8518
Closed because of no response

[2020-12-23 02:55] #8518 closed

[2020-12-23 02:57] terrymanu commented on #8516
Closed because of no response

[2020-12-23 02:57] #8516 closed

[2020-12-23 02:57] terrymanu commented on #8458
Closed because of no response

[2020-12-23 02:57] #8458 closed

[2020-12-23 02:58] terrymanu commented on #8564
Closed because of no response

[2020-12-23 02:58] #8564 closed

[2020-12-23 02:59] terrymanu commented on #8513
Closed because of no response

[2020-12-23 02:59] #8513 closed

[2020-12-23 02:59] yu199195 commented on #8722
1992-08-02T08:30:11  from you javabean ?

[2020-12-23 03:00] tristaZero opened #8725 "Support `ALTER REPLICA_QUERY RULE`"
Hi guys,

This issue is a consequent one from #8615. We will provide more DistSQL(Distributed SQL) to help users `create`, `alter` and `delete` configuration rules with SQL than configuration files. As you know, the standard interaction way with a DB is SQL. : )
[code]

[2020-12-23 03:00] terrymanu commented on #8577
Closed because of no response

[2020-12-23 03:00] #8577 closed

[2020-12-23 03:01] terrymanu commented on #8611
Closed because of no response

[2020-12-23 03:01] #8611 closed

[2020-12-23 03:10] yu199195 commented on #8722
you can see this :  #8693  #8470

[2020-12-23 03:22] tristaZero commented on #8284
Hi @Aaaaaaron ,

Your blog has an in-depth introduction for Calcite, great. : ) Please have my welcome.
Like [Schedule](https://github.com/apache/shardingsphere/issues/8284#issuecomment-743767420) said, now I am in the preparation stage, and @guimingyue will pay his attention to `Optimize` work. Plus, we have @junwen12221 provides more great ideas about this plan. If you're interested in joining,

[2020-12-23 03:24] yinyanghuafa commented on #8299
thus,in governance-spring-boot-example ,Maybe we can not use application-cloud-zookeeper-sharding-databases-tables.properties when springboot is 2.4.

[2020-12-23 03:29] singlemonkey commented on #8722
I have trid but id didn't work."yyyy-MM-ddTHH:mm:ss" will throw a new error "Unknown pattern letter: T" here,i had to set datetime-pattern as "yyyy-MM-dd'T'HH:mm:ss",but the length of 'datetime-pattern' is 21 and the length of  sharding value(localdatetime) is 19,it will throw a "outOfRange" error here:
[code]

I have saw the other issues but still couldn't find a way to solve this problem.[#8693

[2020-12-23 03:36] terrymanu commented on #8531
@gravin
Please keep grace.
I just report abuse for your impolite words to GitHub, please pay attention next time.

[2020-12-23 03:38] terrymanu commented on #8530
Did you notice the branch is mismatch?

[2020-12-23 03:52] yu199195 commented on #8722
@singlemonkey

1. you can format shardingValue to yyyy-MM-dd HH:mm:ss   or other pattern?
2. you javabean will used date?

@tristaZero  this code maybe refactor...

[code]

[2020-12-23 05:04] singlemonkey commented on #8722
I'll use date instead

[2020-12-23 05:05] #8722 closed

[2020-12-23 05:16] lvfuyou opened #8727 "Oracle paginations not work in version 4.1.1."
Oracle  paginations can not work in version 4.1.1.

The paginations sql like this:
  SELECT * FROM (SELECT row_.*, rownum rownum_ FROM (SELECT o.order_id as order_id FROM t_order_item where order_id = ?) row_ WHERE rownum <= ?) WHERE rownum > ?

[2020-12-23 05:46] lhcxj576 opened #8728 "事务中读第一库非常慢，耗时近500ms左右"
![1](https://user-images.githubusercontent.com/73157467/102963751-e353ef00-4524-11eb-9b9c-648e7cfbf444.png)
![2](https://user-images.githubusercontent.com/73157467/102963754-e64edf80-4524-11eb-9b93-dac2611116bd.png)
![image](https://user-images.githubusercontent.com/73157467/102963875-329a1f80-4525-11eb-97f6-16a1962806fa.png)

[2020-12-23 07:39] yu199195 commented on #8728
please in english

[2020-12-23 07:39] #8728 closed

[2020-12-23 07:54] lhcxj576 opened #8733 "Reading the first library in a transaction is very slow, taking approximately 500ms"
![1](https://user-images.githubusercontent.com/73157467/102963751-e353ef00-4524-11eb-9b9c-648e7cfbf444.png)
![2](https://user-images.githubusercontent.com/73157467/102963754-e64edf80-4524-11eb-9b93-dac2611116bd.png)

![3](https://user-images.githubusercontent.com/73157467/102973177-46e71800-4537-11eb-9198-cf9deaf061c5.png)

result：
2020-12-23 13:39:00.460 [] INFO   ====================== 1.{}
2020

[2020-12-23 08:05] verify31 opened #8734 "about broadcast table type"
## Question

what kinds of table can be config as broadcast table ? and how does  broadcast table work?
for example,some opetate log table can be config as broadcast table?

[2020-12-23 08:05] verify31 commented on #8734
version:4.1.0

[2020-12-23 08:13] tkzhu818 commented on #8727
It might recognize the alias name as a table or view, try to upgrade to another version?

[2020-12-23 09:32] xunyard opened #8736 "Support mysql jdbc's loadbalance"
## Feature Request

During  use loadbalnce in jdbc url configuration, it will cause problem (related to bug #5531 [fail to switch schema] ).

## Conditions
- Spring boot application (v2.1.6)
- @Transicational annotaion(optional)
- sharding proxy(v4.1.1)
- mysql-connector-java (v8.0.19)

## Other stuff
jdbc url config example like:

`url: jdbc:mysql:loadbalance://127.0.0.1:3307,127.0.0.1:3407/db?al

[2020-12-23 11:24] guimingyue commented on #8284
@tristaZero Executor depends on the optimizer result which is the physical plan, @Aaaaaaron I think we can communicate on the design of both the optimizer and the executor.

[2020-12-23 11:54] yu199195 commented on #8733
show you sql and what version used？
@tristaZero  Can you give him some help？

[2020-12-23 11:57] yu199195 commented on #8736
now ， our not support it。

[2020-12-23 12:21] Simbafa opened #8739 "Is there an invalid names list?"
## Question

(For ShardingSphere-Proxy 4.1.1 version)
Some names are invalid for ShardingSphere.
For example,
"names" is not a valid field name.
"events" is not a valid table name.
If they are used, a parsing error will be thrown.

So could you please provide a list of these invalid names?
Thank you very much.

[2020-12-23 13:28] lwtdev commented on #7880
@jingshanglu Hi, I have complete `expr` assert for `ExpectedJoinTable`.

And I found that some other segments also contain `expr`, but no test cases
Do these need to add test cases?

- [ ] assignmentValue
- [ ] call
- [ ] doStatement
- [ ] projection

[code]

[2020-12-23 15:07] #8615 closed

[2020-12-24 02:39] pototallxg commented on #4604
i find the prop 'check-table-metadata-enabled =false'，not work in lowwer DB version.

[2020-12-24 03:09] #6070 closed

[2020-12-24 03:44] tristaZero commented on #4604
This property is in the range of `ShardingSphere`, so it definitely takes no effect on Databases.

[2020-12-24 04:12] tristaZero commented on #8711
Hi @tuohai666 @terrymanu ,

I gave it a try, and indeed there was an exception like below,
[code]

I also tried to locate the cause and found @terrymanu did some changes recently. So could you look at `FrontDatabaseProtocolTypeFactory.java:47`?

[2020-12-24 04:26] yu199195 commented on #8739
You can refer to the database for official advice on this issue

[2020-12-24 04:27] tristaZero commented on #8733
Hi @lhcxj576 ,

Which SQL did you run? If possible, could you add some breakpoints at `parse()` of `ShardingSphereSQLParserEngine` to check whether the SQL parser pretty took time?

[2020-12-24 04:34] tristaZero commented on #8739
Hi @Simbafa ,

Sorry to confuse you. Actually, 5.0.0-alpha has an accurate unreserved keyword list. Therefore my suggestion is to try this release.
Supposing 4.x release, you can find the answer in [Unreserved word list] (https://github.com/apache/shardingsphere/blob/96375f420074a8a4cba5307f1a308f3a87b3c7bf/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql

[2020-12-24 05:33] lhcxj576 commented on #8733
@yu199195
version=4.0.0

sql:
select id from table_name where id in (210032);

[2020-12-24 05:38] lhcxj576 commented on #8733
@tristaZero
add some breakpoints And that, it seems, doesn't help, right

[2020-12-24 05:38] Roronoa-Zoro opened #8747 "does shardingspere-ui 5 work with sharding-jdbc 4.X ?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-12-24 06:02] terrymanu commented on #8711
This issue is not for released version, I just put the label as enhancement.

[2020-12-24 06:05] terrymanu commented on #8747
Obviously no

[2020-12-24 06:05] #8747 closed

[2020-12-24 06:06] RaigorJiang commented on #5608
I have tested the current master branch(ab45b9db on 12/24/20 at 12:26 AM) and there is no problem.
This issue can be closed.

[2020-12-24 06:16] #8711 closed

[2020-12-24 06:19] #8697 closed

[2020-12-24 06:35] tristaZero commented on #8736
@xunyard ,
Let me guess why you try to use this property.
1. You intend to make your program visit ShardingProxy with load-balance?
2. You want ShardingProxy to visit the databases by load balance?

Which one?
Supposing the second one, You can add replica-query configuration in `/conf`. Otherwise, currently we do not support this function.

[2020-12-24 06:42] Roronoa-Zoro opened #8749 "shardingsphere-UI 4.1.0, after login, it pop up error, it does not work"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-24 06:46] tristaZero commented on #8734
[DOC](https://shardingsphere.apache.org/document/current/en/features/sharding/) will give you a hand.

[2020-12-24 08:48] Simbafa commented on #8739
Thank you very much.

[2020-12-24 08:48] #8739 closed

[2020-12-24 09:54] chaojunzi opened #8753 "Oracle sql like【select * from table】 not work in version 4.1.1."
## class org.apache.ibatis.executor.resultset.DefaultResultSetHandler
## sql
[code]
##mysql
![image](https://user-images.githubusercontent.com/31429166/103080335-92b9c000-4610-11eb-872f-7901a597a78b.png)
![image](https://user-images.githubusercontent.com/31429166/103080352-99e0ce00-4610-11eb-8006-a79e1dfa24da.png)
##oracle
![image](https://user-images.githubusercontent.com/31429166/103080383-ae24c

[2020-12-24 09:55] chaojunzi commented on #8753
oracle  driver is ojdbc6-11.2.0.1.0.jar

[2020-12-24 09:57] HoltYin opened #8754 "sql can't parse ":=""
**version:**
5.0.0-alpha
**project:**
shardingsphere-jdbc-core-spring-boot-starter
**sql:**
INSERT INTO test ( id, test, count )
VALUES
	( 13, 1, 2 )
	ON DUPLICATE KEY UPDATE
	id =
IF
	( @update_condition := ( count < VALUES ( count ) ), VALUES ( id ), id ),
	test =
IF
	( @update_condition, VALUES ( test ), test ),
	count =
IF
	( @update_condition, VALUES ( count ), count )

**exception:**
line 1:

[2020-12-24 11:03] menghaoranss commented on #8749
Thanks for your feedback, please delete `shardingsphere-ui-configs.yaml` in your user home and refresh page again.

[2020-12-24 11:41] #8749 closed

[2020-12-24 12:18] jingshanglu commented on #8754
@HoltYin It is a bug, i'll check it.

[2020-12-24 12:45] iblilife commented on #8605
@tristaZero @huanghao495430759

My English Very Poor！Help me fixed this bug，thx！Orz...

I found the cause of the bug。

java: org.apache.shardingsphere.infra.metadata.model.logic.LogicSchemaMetaDataLoader

`org.apache.shardingsphere.infra.metadata.model.logic.LogicSchemaMetaDataLoader#load(org.apache.shardingsphere.infra.database.type.DatabaseType, java.util.Map<java.lang.String,javax.sql.DataSourc

[2020-12-25 01:56] xtuer commented on #8435
@menghaoranss Is there any progress?

[2020-12-25 03:06] tristaZero commented on #8753
Hi @chaojunzi ,
Could you try 5.0.0-alpha for a test?

[2020-12-25 03:06] jingshanglu opened #8767 "Improve the definition of projection."
## Bug Report

[code]
parse the sql to get the statement, the projection in the statement is a string .
### Which version of ShardingSphere did you use?
5.0.0-alpha

### Expected behavior
the projection in the statement is a `BinaryExpression` or others to get the detail of `1+1`.
### Actual behavior
the projection in the statement is a string "1+1" .

[2020-12-25 03:13] jingshanglu opened #8768 "Improve the definition about 'having'"
## Bug Report
[code]
Parse the sql to get  statement, there is not info about `having`.

### Which version of ShardingSphere did you use?
5.0.0-alpha

### Expected behavior
we can get info about `having` in the statement.

### Actual behavior
there is no info about `having` in the statement.

[2020-12-25 03:15] Nononoa-Zoro commented on #2712
this also works for me .

[2020-12-25 03:50] Nononoa-Zoro opened #8770 "How to config sharding sphere ?"
**The scene is , I have tab_user,tab_role two tables , and ds0,ds1 two database.
The follow is DDL  of tab_user and tab_role:**

DROP TABLE IF EXISTS `tab_user`;
CREATE TABLE `tab_user`  (
  `id` bigint(20) UNSIGNED NOT NULL AUTO_INCREMENT ,
  `name` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL ,
  `age` int(11) NULL DEFAULT NULL COMMENT ,
  `create_time` datetime(0) NU

[2020-12-25 04:21] tristaZero opened #8772 "IndexOutOfBoundsException When executes `Group by` SQL"
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy  master branch

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
1. Start Proxy with sharding.yaml
2. Run SQL `select sum(user_id)  from t_order group by order_id order by order_id limit 2;`
3. Exception occurred as below.
[code]

### Reason analyze (If you can)

[2020-12-25 05:35] verify31 commented on #8734
I have read this docoument,and not ge the right answer。

[2020-12-25 05:48] #8772 closed

[2020-12-25 06:14] tsuixh opened #8774 "![image](https://user-images.githubusercontent.com/2225913/100456656-b9f99c00-30fb-11eb-9fef-8ac0b92b0093.png)"
![image](https://user-images.githubusercontent.com/2225913/100456656-b9f99c00-30fb-11eb-9fef-8ac0b92b0093.png)

_Originally posted by @lly835 in https://github.com/apache/shardingsphere/issues/8382#issuecomment-734848282_
I have the same issue, have you resolved it?

[2020-12-25 06:14] #8774 closed

[2020-12-25 06:14] tsuixh commented on #8382
@lly835 I have the same issue, have you resolved it?

[2020-12-25 06:20] tristaZero commented on #8733
Hi @lhcxj576 I just wanna figure out which part of one execution took up the most of the time.
That way, we can consider the improvement for that target part.

[2020-12-25 06:22] tristaZero commented on #8605
@iblilife Thanks for your detailed info. Which SQL were you running for debugging?
@strongduanmu Could you give it a check?

[2020-12-25 07:51] alonglee-cyber commented on #8611
sorry
version is 4.1.1

[2020-12-25 07:54] alonglee-cyber opened #8778 "ForceExecuteTemplate will hide the exception message when transaction rollback"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-25 07:59] orchids-li opened #8779 "【shardingproxy-5.0.0-alpha】Can I change the actualDataNodes online?"
## Question

I have tables , sharding by  datetime, eg: t_order_202010, t_order_202011,
Can I add the table t_order_202012 to the actualDataNodes  without restart ?

[2020-12-25 09:05] xunyard commented on #8736
The first one. We want to use load-balance to actually make the result of HA for sharding-proxy.

[2020-12-25 09:17] xunyard commented on #8736
The first. We want to use java jdbc's loadbance to eventually make the result of HA for sharding-proxy. It is a simple choice for  HA, so how about considering support it in future.

[2020-12-25 10:14] shaohuabaishuo commented on #8554
I've been dealing with this problem for a day. When I saw the tablename () method, I was desperate. I see the answer here

[2020-12-25 10:14] yu199195 commented on #8770
what version used by?   can you show sharding config?

[2020-12-25 10:18] yu199195 commented on #8778
Can you list the recreations?

[2020-12-25 10:24] yu199195 commented on #8779
you can config governance.

and then you can update sharding rule on the  shadingshpere-ui

[2020-12-25 10:30] yu199195 commented on #8682
@luckleemon any question?  we will close it...

[2020-12-25 10:30] #8682 closed

[2020-12-25 10:37] jingshanglu commented on #8686
@liuchaoheliang @yu199195 Parser engine has a cache, only the first time it is parsed, and from the second time it gets the result from the cache.

[2020-12-25 10:40] gavenpeng commented on #8605
we have the same problem,the fllower sql is can.t run :
[code]
the result is only contain id clumn if the sql constain *

but not write * is ok,example:
[code]

[2020-12-25 12:21] #8696 closed

[2020-12-25 12:24] #7880 closed

[2020-12-25 13:45] iblilife commented on #8605
table
[code]

sql of debuging
[code]

[2020-12-25 17:37] liyuhang712 opened #8785 "spring.shardingsphere.datasource.common.是要获取什么配置信息？"
DataSourceMapSetter.getDataSourceMap方法里需要获取spring.shardingsphere.datasource.common.前缀的配置信息。文档里没有和这个配置相关的信息。启动的时候就会报空指针

[2020-12-25 18:07] liyuhang712 commented on #8785
这是我的配置文件，本意是想弄一个只分表不分库的单数据源策略.
[code]

[2020-12-25 18:10] liyuhang712 commented on #8785
我试仿照[https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-sharding-tables.properties](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-sharding-tables.p

[2020-12-25 19:06] #8785 closed

[2020-12-25 19:07] liyuhang712 commented on #8785
配置错误

[2020-12-25 19:51] ruiyang00 commented on #8351
Hi @terrymanu ,
I am wondering that if this issue still open?

[2020-12-25 21:41] liyuhang712 opened #8786 "springboot2.x启动报错。"
在springboot2.x中DataSourceMapSetter.getDataSourceMap方法里需要获取spring.shardingsphere.datasource.common.前缀的配置信息,报空指针异常。
在spring1.x中，未拆分的表现在好像是可以执行union all语句了，但是复杂的union all语句依然报错。
报错信息如下:(使用的都是5.x shardingjdbc)

[code]

[2020-12-26 03:34] tsuixh commented on #2712
This works for me, thanks!

[2020-12-26 03:47] alonglee-cyber commented on #8778
what do you mean?
I'm not kidding

[2020-12-26 04:03] alonglee-cyber commented on #8778
this is probability recurrence.
last issure, I got the version wrong , and forgetten to replay
i am sorry.
but this is really bother me.

[2020-12-26 10:18] zhf122728281 opened #8787 "how to use"
Can database desensitization be used in conjunction with read-write separation?

Have a demo?

[2020-12-27 14:14] strongduanmu commented on #8605
@iblilife I noticed that you use the `PageHelper` framework. Can you submit a demo program to help me reproduce the problem? 😊

[2020-12-28 01:59] wgy8283335 commented on #6480
After discussed with @jingshanglu @tristaZero, we have decided that make oracle 19 as standard.

[2020-12-28 02:40] lwh-0739 commented on #8785
@liyuhang712 老兄怎么解决的，求指教

[2020-12-28 04:17] terrymanu commented on #8786
**For English only**, other languages will not accept.

[2020-12-28 04:17] #8786 closed

[2020-12-28 04:17] terrymanu commented on #8787
I can answer so generic question, please read document first.

[2020-12-28 04:17] #8787 closed

[2020-12-28 04:19] #8687 closed

[2020-12-28 04:20] terrymanu commented on #8522
Any update for this issue?

[2020-12-28 04:22] terrymanu commented on #8679
Closed because of no response

[2020-12-28 04:22] #8679 closed

[2020-12-28 04:23] terrymanu commented on #8785
**For English only**, other languages will not accept.

[2020-12-28 06:05] liuchaoheliang commented on #8686
i know the cache, but when i test it ,i use “engine.parse(sql, false);” ，this means parser engine des't use cache. right ?

[2020-12-28 08:39] tuohai666 opened #8789 "Metadata incorrect under replica-query rule"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-12-28 08:40] tristaZero commented on #8779
Hi @orchids-li ,

Definitely, please refer to [Management](https://shardingsphere.apache.org/document/current/cn/features/governance/management/) for details.

[2020-12-28 08:44] tristaZero commented on #8754
@HoltYin Thanks for the feedback.
@jingshanglu Is they any progress?

[2020-12-28 09:56] tristaZero commented on #8734
I guess the following description in [1] is what you are looking for.

[code]

[1]https://shardingsphere.apache.org/document/current/en/features/sharding/concept/sql/

[2020-12-28 10:02] tristaZero commented on #8736
Hi @xunyard ,

Currently, we suggest users achieve the load-balance of Sharding Proxy by `LVS` or `F5` . On the other hand, I am interested in your approach. Could you provide a more detailed log about the exception when the configuration is `mysql:loadbalance`?
I am considering how to load balance leveraging the power of the database. Do you think PostgreSQL has a similar JDBC driver property?

[2020-12-28 11:45] singlemonkey opened #8792 "Cannot resolve org.apache.shardingsphere:shardingsphere-jdbc-core:5.0.0"
Cannot resolve org.apache.shardingsphere:shardingsphere-jdbc-core:5.0.0

[2020-12-28 11:47] singlemonkey commented on #8792
porm config:
[code]

Just find 5.0.0-alpha in  https://repo.maven.apache.org/maven2

[2020-12-28 12:00] menghaoranss opened #8794 "The yaml content of datasource in registry center is covered after ADD RESOURCE is executed"

[2020-12-28 12:16] wplus3 opened #8795 "关于用户手册"
1、用户手册手几个 maven 依赖都是 alpha版本的，生产可以使用吗？
2、目前使用了 springboot的配置方式并没有跑通，各种报错，对应的 springboot和 Mybatis/MybatisPlus 版本是有要求吗
比如
spring.shardingsphere.rules.sharding.tables.t_order.database-strategy.standard.sharding-algorithm-name=database_inline
database_inline中的 _下划线在 springboot2.0x中不能使用，即使不使用 _ 也会有其它问题
3、用户手册中的
spring.shardingsphere.datasource.ds1.url=jdbc:mysql://localhost:3306/ds1
spring.shardingsphe

[2020-12-28 12:41] duzhanfei opened #8796 "【shardingproxy5.0.0.】What should be configured for 8C16G machines acceptor-Size and Executor-size in server.yaml"
Here is my configuration. Is this reasonable?

props:
  max-connections-size-per-query: 1
  acceptor-size: 32  # The default value is available processors count * 2.
  executor-size: 32  # Infinite by default.
  proxy-frontend-flush-threshold: 128  # The default value is 128.
    # LOCAL: Proxy will run with LOCAL transaction.
    # XA: Proxy will run with XA transaction.
    # BASE: Proxy will ru

[2020-12-28 14:08] #8792 closed

[2020-12-28 14:08] singlemonkey commented on #8792
use 5.0.0-alpha instead...

[2020-12-29 02:12] nimeijian commented on #5531
When I use dataX to connect shardingproxy, I encountered the same error. I tried version 3.1.0/4.1.1/5.0.0-alpha, all have this problem.

[2020-12-29 02:25] terrymanu commented on #8795
**For English only**, other languages will not accept.

[2020-12-29 02:25] #8795 closed

[2020-12-29 02:39] yu199195 commented on #8778
can you replay？ how to do it

[2020-12-29 03:11] wgy8283335 commented on #6480
Collate the “CREATE TABLE” SQL.
Firstly, add some keywords in the "CREATE TABLE", the keywords are below: PRIVATE  SHARDED  DUPLICATED SHARING METADATA  DATA  EXTENDED  NONE MEMOPTIMIZE FOR PARENT.
Secondly, support for object table.
Thirdly, support for XML table.

[2020-12-29 03:39] #8794 closed

[2020-12-29 03:46] #8789 closed

[2020-12-29 03:53] terrymanu commented on #8677
Can not update sharding key for now. There are document describe the unsupported operation.

[2020-12-29 03:53] #8677 closed

[2020-12-29 04:08] tuohai666 opened #8801 "Support REMOVE REPLICA_QUERY RULE"
CREATE REPLICA_QUERY RULE (
logic_ds_a (primary=primary_new_ds_a, repilca=repilca_ds_a_0) RANDOM(xxx=xxx),
logic_ds_b (primary=primary_new_ds_b, repilca=repilca_ds_b_0 ROUNDROBIN(xxx=xxx)
);

REMOVE REPLICA_QUERY RULE (logic_ds_a, logic_ds_b)

[2020-12-29 04:10] tuohai666 opened #8802 "Support REMOVE RESOURCE"
ADD RESOURCE (
primary_ds=127.0.0.1:3306:demo_ds_0:root,
replica_ds_0=127.0.0.1:3306:demo_ds_0:root,
replica_ds_1=127.0.0.1:3306:demo_ds_0:root
)

REMOVE RESOURCE (primary_ds, replica_ds_0)

[2020-12-29 05:52] alonglee-cyber commented on #8778
using spring-boot & spring-data-jpa, version 2.2.10.RELEASE,
sharding a table , and make a transaction deadlock
in my case, insert an entity and then update it in one transaction,
or do insert and update in 2 different  thread

wish this helps

[2020-12-29 07:01] verify31 commented on #8734
yes ,but I am still confused，eg，I hava one operate log table ,first I need to insert one row in this table,and then I need to insert the data in the second table,if I have db0,db1,db2,db3 4 databases,and in this scenario ,how does sharding handle it,if I hava one insert failed ,what about other theres?

[2020-12-29 07:30] orchids-li commented on #8779
when I config  governance, it has errors, used zookeeper-3.4.9.jar :

	at org.apache.curator.framework.CuratorFrameworkFactory.<clinit>(CuratorFrameworkFactory.java:65) ~[curator-framework-5.1.0.jar:5.1.0]
	at org.apache.shardingsphere.governance.repository.zookeeper.CuratorZookeeperRepository.buildCuratorClient(CuratorZookeeperRepository.java:80) ~[shardingsphere-governance-repository-zookeeper-c

[2020-12-29 07:31] 844704781 commented on #2488
有案例吗

[2020-12-29 08:48] zhf122728281 opened #8804 "The "Read-write Split" is working，but the "Data Masking" is not working."
compile 'org.apache.shardingsphere:sharding-jdbc-core:4.1.1'
compile 'org.apache.shardingsphere:sharding-jdbc-spring-namespace:4.1.1'

spring-datasource.xml 配置

    <bean id="kjySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="masterSlaveKjyDataSource"></property>
        <property name="mapperLocations" value="classpath*:mybatis/kjy/**/

[2020-12-29 10:16] jingshanglu commented on #8802
It is suggested to change to `DROP RESOURCE (primary_ds, replica_ds_0)`, @terrymanu  @tuohai666

[2020-12-29 10:26] jingshanglu commented on #8801
@tuohai666 @terrymanu It is suggested to change to `DROP REPLICA_QUERY RULE (logic_ds_a, logic_ds_b)`.

[2020-12-29 12:11] juaby opened #8809 "Fixed an index out-of-bounds exception when useServerPrepStmts was enabled to get the query response row set"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
master branch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Fixed an index out-of-bounds exception when useServerPrepStmts was enabled to get the query response row set
### Actual behavior
An in

[2020-12-29 12:18] #8725 closed

[2020-12-29 12:21] #8809 closed

[2020-12-29 14:09] avalon5666 commented on #8804
Both read and write not working?

[2020-12-29 15:25] lmhmhl opened #8814 "Some question about newer to this community"
I am very interested in this project and want to join in this community, but I don't know where and how to start it, I would be very glad if someone offer me some advices? thx.

[2020-12-30 02:31] JiekerTime opened #8816 "ShardingSphere JDBC整合Spring Boot的BUG"
我在整合Spring Boot和ShardingSphere JDBC 5.0.0alpha使用读写分离算法ROUND_ROBIN的时候，在加载配置文件的时候会出现一些问题。
首先明确官网中对于ROUND_ROBIN的参数并没有要求：
![image](https://user-images.githubusercontent.com/76552510/103326006-590e0c80-4a89-11eb-9b45-16fd6816ac63.png)
其次进行问题描述：
我的配置文件：
`spring.shardingsphere.datasource.names=master,slave

spring.shardingsphere.datasource.master.jdbc-url=jdbc:mysql://localhost:3306/master?serverTimezone

[2020-12-30 02:33] terrymanu commented on #8816
**For English only**, other languages will not accept.

[2020-12-30 02:33] #8816 closed

[2020-12-30 02:45] Lucas-307 commented on #8650
@tuohai666 If I add rewriteBatchedStatements=true and allowMultiQueries=true parameters, the sql will concat all delete sql like:
[code]
Only the first table name is correct, Which stall fiil.

[2020-12-30 02:51] JiekerTime opened #8818 "Some problems occured when using boot combined with ShardingSphere JDBC 5.0.0alpha"
When I was integrating Springboot and ShardingSphere JDBC 5.0.0 alpha to use the read-write separation by ROUND_ROBIN, there will be some problems when loading the configuration file.
First, there is no requirement for the ROUND_ROBIN parameter in the official website：
![image](https://user-images.githubusercontent.com/76552510/103326846-282fd680-4a8d-11eb-96f8-998454079186.png)

Then, describe my

[2020-12-30 03:21] yu199195 commented on #8818
you can see #8300

[2020-12-30 03:23] lostnana opened #8819 "SQL parsing error"
## Bug Report
When I execute this SQL
`
select
    <include refid="Base_Column_List"/>
      from t_refund_apply_log
      where id in (
      select MAX(id) from t_refund_apply_log where
      refund_item_id IN (
         <foreach collection="refundItemIds" separator="," item="refundItemId">#{refundItemId}</foreach>
      )
      group by refund_id,`operate_type`,refund_item_id
    )
    order by

[2020-12-30 03:32] NOLouser opened #8820 "does shardingsphere support several sharding strategies for one table ?"
for example:
&ensp;&ensp; I have several tables
&emsp; &emsp;logic table:&nbsp;t_order(order_id, order_msg, create_time)
&emsp; &emsp;sharding tables:&nbsp;t_order_202001、t_order_202002、t_order_202003 ....
&ensp;&ensp; I want to set PreciseShardingAlgorithm for sharding key: order_id (sql like: query by order_id), and in some cases, I want to force sql to the table that I specify( by using HintSha

[2020-12-30 03:47] jingshanglu commented on #8819
@lostnana  Which version you use? can you show the sql that can run in mysql or others?

[2020-12-30 05:01] strongduanmu commented on #7703
Closed because there was no reply.

[2020-12-30 05:01] #7703 closed

[2020-12-30 06:29] lostnana commented on #8819
then version is 3.0.0 ,it can be executed normally in mysql

[2020-12-30 07:00] JiekerTime commented on #8818
Doesn't seem to be the same problem.I am not using the sharding. It's just a read-write separation algorithm.
Here is my project：
https://github.com/JiekerTime/ShardingSphere-StudyNodes/tree/master/shardingjdbc_p1

[2020-12-30 07:28] li-sen opened #8825 "Under the scenario of sub-table, does sharding-proxy support flyway for management?"
As mentioned in the title,

Under the scenario of sub-table, does sharding-proxy support flyway for management?

[2020-12-30 07:35] zhangzhen108 opened #8826 "shardingsphere复杂分片问题"
shardingsphere复杂分片中我们定义了两个分片字段，我们的逻辑是其中一个分片字段如果为null就用另一个分片字段进行分片，但是现在报错了，报错信息如下
Caused by: java.lang.IllegalArgumentException: Sharding value must implements Comparable.
at com.google.common.base.Preconditions.checkArgument(Preconditions.java:122)
at org.apache.shardingsphere.sharding.route.engine.condition.engine.InsertClauseShardingConditionEngine.getRouteValue(InsertClauseShardingConditionEngi

[2020-12-30 08:29] lwh-0739 opened #8827 "ShardingSphereConfigurationException: Invalid datetime-lower, datetime pattern should be `yyyy-MM-dd`, value is `2018-06-01`"
version：
    spring boot 2.x
    shardingsphere-jdbc-core-spring-boot-starter   5.0.0-alpha

IntervalShardingAlgorithm configuration：

spring.shardingsphere.rules.sharding.sharding-algorithms.test.type=INTERVAL
spring.shardingsphere.rules.sharding.sharding-algorithms.test.props.datetime-pattern=yyyy-MM-dd
spring.shardingsphere.rules.sharding.sharding-algorithms.test.props.sharding-suffix-pattern=y

[2020-12-30 10:18] avalon5666 commented on #8814
Code pr, docs pr, resolve issue and so.
This is the [document contributor guide](https://shardingsphere.apache.org/community/en/contribute/document-contributor/), hope to help you.

[2020-12-30 10:25] avalon5666 commented on #8825
You can test it, and submit issue when there are incompatible sql.

[2020-12-30 10:26] avalon5666 commented on #8826
For english only.

[2020-12-30 10:42] #8826 closed

[2020-12-30 11:50] jiangtao69039 opened #8832 "mvn install error: 'parent.relativePath' of POM shardingsphere-ha-mgr:5.0.0-RC1-SNAPSHOT"
when i execute "mvn install" bug get follow error message:

 'parent.relativePath' of POM org.apache.shardingsphere:shardingsphere-ha-mgr:5.0.0-RC1-SNAPSHOT...

so i change shardingsphere-ha-mgr/pom.xml(line 25)  from " <artifactId>shardingsphere-ha</artifactId> "  to " <artifactId>shardingsphere-ha-provider</artifactId> "  then mvn install sucess

is this a bug?

[2020-12-30 15:42] strongduanmu commented on #8827
@lwh-0739 Hello, thank you very much for your feedback. 😊 Just like the code you showed, the interval sharding algorithm is implemented based on `LocalDateTime`, which requires us to define parameters in the datatime format. You can adjust the configuration to avoid this error:

[code]
In addition, you can also implement custom algorithms through SPI to meet your needs.

[2020-12-31 01:36] lwh-0739 commented on #8827
thank you!

[2020-12-31 01:36] #8827 closed

[2020-12-31 02:00] jingshanglu commented on #8819
@lostnana Can you use `5.0.0-alpha`?   it is ok.

[2020-12-31 02:35] lostnana commented on #8819
Ok, I'll try it，thanks!

[2020-12-31 02:59] tristaZero commented on #8804
Hi @zhf122728281 Could you set `sql.show` = `true` and execute some SQLs to get the detailed log?

[2020-12-31 03:11] JiekerTime commented on #6113
I will do it latter. But before that, I need to get familiar with the structure of the framework.

[2020-12-31 03:11] tristaZero commented on #8814
Hi @lmhmhl ,

Have my welcome. : )
You can go through the issue list and try some issues with the volunteer label. Plus, I am just going to post some tasks these days.  If you'd like, I will ping you here once posted.

[2020-12-31 03:19] tristaZero commented on #8820
Hi, @NOLouser ,

You can not configure two sharding algorithms for one logic table in a direct way. However, creating two different logic tables sharding the same actual tables (i.e., two different sharding algorithm for the same actual data nodes) is possible to meet your needs. Be careful with this usage, It is not a regular one.

[2020-12-31 03:20] tristaZero commented on #8825
Hi @li-sen

What's the meaning of `flyway`?

[2020-12-31 03:22] tristaZero commented on #8832
Hi @jiangtao69039 ,

I an able to succeed in installing, could you clean and reinstall it?

[2020-12-31 03:25] tristaZero commented on #6113
Welcome, @JiekerTime take your time.

[2020-12-31 03:27] xuup opened #8841 "Oracle Rownum not take effect in Sharding-JDBC"
## Bug Report

Oracle page result limit does not work. Results from all datasources are returned without limit.

excute sql:

[code]
We expect return two query results, but it actually returns all of results

##### ShardingSphere version：

The master branch

##### Use Project:

ShardingSphere-JDBC

##### Expected behavior:

Two query results should be returned

##### Acture behavior:

There's no m

[2020-12-31 03:36] tristaZero commented on #8779
Hi, It looks that here is something wrong, could you give it a check or refer to [examples](https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/governance-example)?

at org.apache.curator.framework.CuratorFrameworkFactory.

[2020-12-31 03:42] tristaZero commented on #8734
Hi, ShardingSphere will send the `insert` SQL to all the actual tables of this broadcast table in different databases. In most cases, it will succeed. However, if you worry about its atomicity, please use the distributed transaction (Please consult the doc).

[2020-12-31 03:44] NOLouser commented on #8820
I get it!

Thanks a lot!

[2020-12-31 03:44] #8820 closed

[2020-12-31 03:45] lmhmhl commented on #8814
Appreciate it.

[2020-12-31 05:17] yinyanghuafa commented on #8736
Can shardingsphere-JDBC support loadbalance in mysql-connector-java?

[2020-12-31 06:21] kfwang90 commented on #8736
I have a similar question, our project deployed in two data centers. PG clusters is async replication mode(**Not HA Cluster**). I try to use shardingsphere-jdbc config with this: "jdbc:postgresql://node1,node2,node3/accounting?targetServerType=master", but get exception: **UnrecognizedDatabaseURLException**.
My purpose is one PG node down, async switch to master byhand, but the application don't h

[2020-12-31 06:42] wang7621422811 opened #8843 "分库分表中使用GROUP BY无法正确分页"
使用Mybatisplus+shardingsphere，无法使用GROUP BY正确分页，查询出来的是所有的结果

[2020-12-31 08:03] huoleihu opened #8845 "Can not update sharding key, error using JPA"
### Which version of ShardingSphere did you use?

Sharding-JDBC 4.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere JDBC

### Expected behavior

Normal update

### Actual behavior

Can not update sharding key error in update

### Reason analyze (If you can)

JPA SQL :update tb_hd_task set .... where id = ?
I guess the correct SQL should be-->update tb

[2020-12-31 08:09] huoleihu commented on #8845
<img width="2128" alt="WX20201231-154833@2x" src="https://user-images.githubusercontent.com/47547437/103401063-770b6800-4b82-11eb-82a0-8495182f37bb.png">

[2020-12-31 08:49] verify31 commented on #8734
All right，tks

[2020-12-31 08:49] #8734 closed

[2020-12-31 09:22] kimmking commented on #8845
Users should add sharding-key to sql, shardingsphere can't know the value.

[2020-12-31 09:23] #8845 closed

[2020-12-31 09:24] kimmking commented on #8843
1. english only here.
2. you can try without mybatis-plus first.

[2020-12-31 09:24] #8843 closed

[2020-12-31 15:32] #8801 closed

[2021-01-01 03:33] #7931 closed

[2021-01-01 03:33] terrymanu commented on #7931
No response

[2021-01-01 04:05] #8818 closed

[2021-01-01 04:06] terrymanu commented on #8770
The title is too generic, can you change it for search friendly?

[2021-01-01 04:09] terrymanu commented on #8779
Please see the document: https://shardingsphere.apache.org/document/current/en/features/governance/management/dependency/

ZooKeeper need 3.6.x at least.

[2021-01-01 04:09] #8779 closed

[2021-01-01 04:10] terrymanu commented on #8753
No response

[2021-01-01 04:10] #8753 closed

[2021-01-01 04:12] terrymanu commented on #8733
What is Reading the first `library`?
Can you correct your word first?

[2021-01-02 06:26] SamuelJohnson01997 commented on #7482
Hi @terrymanu, this issue is still open? If so, I would be glad to help. Kindly assign the issue to me. Thank you.

[2021-01-02 08:26] iblilife commented on #8605
Demo Github: https://github.com/iblilife/shardingjdbc-demo

look at the code for 'com.example.shardingjdbc.demo.DemoApplication#run'

[2021-01-02 09:51] tristaZero commented on #6113
Hi @JiekerTime ,

I gave a look at the example module, and here is its [readme](https://github.com/apache/shardingsphere/blob/master/examples/README.md), which has a basic introduction of example. Thus, I  guess there is no necessity to provide another doc.

Still, thanks for your attention.

[2021-01-02 09:51] #6113 closed

[2021-01-02 14:10] lmhmhl opened #8861 "Some newer question"
I am a newer to this community,  I want to read the source code to know more  details, which part should I read first?

[2021-01-03 09:32] terrymanu commented on #8861
Sorry, I can't answer the question.
ShardingSphere has dozens of modules, please choose your interested and familiar modules to read them.
I don't know what is your familiar technical.

[2021-01-03 11:27] JiekerTime commented on #650
SharidngSphere JDBC部分的学习笔记与各种方式整合的examples。值得注意的是，每个模块都带有详细的注解，并且使用了三种不同的配置方式：（yaml、properties、原生API）。欢迎相互讨论，共同进步。[链接地址](https://github.com/JiekerTime/QuickStartOfShardingSphereJDBC)
-----
SharidngSphere JDBC part of the study notes and examples integrated in various ways. It is worth noting that each module has detailed annotations and uses three different configuration methods: (yaml, properties

[2021-01-03 13:02] strongduanmu commented on #8605
@iblilife Thank you very much for the detailed demo, I will test it. 👍

[2021-01-03 13:49] xunyard commented on #8736
`F5` was first used to make HA for sharding-proxy, but some problems happened. F5 was gave up, because we are not familiar with it, at the same time without enough time.

The problem when using F5 is：
- sometimes error may occur when executing simple query SQL such as `select * from table-xxx`.

Error occur for sharding-proxy [follows](https://github.com/apache/shardingsphere/blob/master/shardings

[2021-01-04 03:15] tristaZero commented on #8861
Hi @lmhmhl ,

Welcome here.
Like @terrymanu said, ShardingSphere is a large-scale project. Thus it is not a good start to read source code at the beginning. Plus, I am afraid you will lose interest in this project later, so my suggestion is to learn about this project by fixing some issues little by little. That way, you will have the interaction with the community and deep learning of it graduall

[2021-01-04 03:18] tristaZero commented on #8841
Hi @xuup ,

I like your detailed description, which will help us get your question simply. :) Please leave @strongduanmu some time to have a look at it.

[2021-01-04 04:16] tristaZero commented on #8736
@kfwang90,

Hi your issue needs a little improvement. Would you like to fix it and raise a PR? No worries, If you have no interests, we will post it to the community.

Here are some points for you.

1. Modify `pattern` in `PostgreSQLDataSourceMetaData` to support the this url `"jdbc:postgresql://node1,node2,node3/accounting?targetServerType=master"`.
2. You can refer to `pattern` in `MySQLDataSour

[2021-01-04 04:35] tristaZero commented on #8736
@xunyard ,

Appreciated your clarification.

Still, I have some questions here,

1. What's the role `LoadBalancedConnectionProxy` plays? If users use `jdbc:mysql:loadbalance:`, `LoadBalancedConnectionProxy` will take the charge of the load-balance job?
2. Why do we need to focus on the `transaction`? Not all of the requests from users will begin a transaction, right? When we configure with `jdbc:m

[2021-01-04 05:48] xuup commented on #8841
Thanks for your reply.
One more piece of information
There is an exception in ojdbc6,  the example is work in ojdbc7. The details are as follows

pom.xml
[code]
Exception details：
[code]

[2021-01-04 06:25] xunyard commented on #8736
Hi @tristaZero,

Thanks, more for your problem:

1. `LoadBalancedConnectionProxy` created when `loadbalance` presents in jdbc url, during connect process. It also cover the implement of balance based on strategy, such as random(default), bestResponseTime, serverAffinity.
2. `transaction` is necessary to focus, because `switch connection` executes surely  at the end of `transaction`. Finally trigge

[2021-01-04 09:31] tristaZero opened #8880 "Support different Database types for Query optimization"
Hi,

This is an enhancement function for query optimization. It is not a difficult one, welcome your contribution.

### Target
Add corresponding SqlConformanceEnum and Lex to the properties of Calcite by `ShardingSphereMetaData` in `CalciteContextFactory`.

### Items
- Get `DatabaseType` from `ShardingSphereResource` of `ShardingSphereMetaData`
- Get the corresponding type value from `SqlConforman