[2022-03-31 07:20] RaigorJiang commented on #16356
Hi @acmenlt, nice to see you here!
Sure, you can take it, thanks for your help!

[2022-03-31 08:03] strongduanmu opened #16518 "`Cannot find JDBC type 16 in PostgreSQL column type` exception occurs when execute `SELECT * FROM pg_catalog.pg_database` statement with datagrip"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/50b93456e88aaab3442d263ebc914a26b3748e31

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT * FROM pg_catalog.pg_database` statement with datagrip successfully

### Actual behavior

<img width="1790"

[2022-03-31 08:13] #16442 closed

[2022-03-31 09:58] #16518 closed

[2022-03-31 12:30] zjcnb commented on #16507
Welcome, i assign you.

[2022-03-31 14:18] RaigorJiang commented on #15113
I think it's not done yet, maybe postpone to the next milestone.

[2022-03-31 21:33] everly-gif commented on #15955
Hi @Liangda-w  Can I take this issue up? I would like to work on this.

[2022-03-31 21:36] everly-gif commented on #15740
Hi @strongduanmu can I take this up? I would like to work on this issue.

[2022-04-01 00:42] #15742 closed

[2022-04-01 00:48] strongduanmu commented on #15740
@everly-gif Since @aaryan078  has claimed this task, we have to confirm the current progress.

[2022-04-01 01:22] Eunjung87 opened #16525 "postgresql's COPY FROM and INSERT INTO SELECT statements"
**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
when I insert data as follows, I get the foll

[2022-04-01 01:26] TeslaCN commented on #16086
Hi @strongduanmu
Any update here? Could we finish this in 5.1.1?

[2022-04-01 01:27] strongduanmu commented on #16086
@TeslaCN Can not finish in `5.1.1`, I will change the milestone.

[2022-04-01 02:50] #16281 closed

[2022-04-01 02:51] #16389 closed

[2022-04-01 03:38] LiuChao9301 opened #16528 "Route table null does not exist, available actual table:"
Table splitting failed after configuring the spring code transaction manager, probably because the init method of postprocess was not called, resulting in null expression
![image](https://user-images.githubusercontent.com/96098589/161190521-c06b8c52-669e-41d6-a3c9-47a284890436.png)
sharding5.1.0，config:
![image](https://user-images.githubusercontent.com/96098589/161190590-4dd07de1-15ab-4d1f-a5f5-3

[2022-04-01 04:18] strongduanmu commented on #16528
Hi @LiuChao9301, Can you do some debug to investigate the cause of the problem?

[2022-04-01 04:34] tuichenchuxin commented on #16525
Seems like a parsing error. I'll check it.

[2022-04-01 04:38] tuichenchuxin commented on #16516
I tried to use mysql 5.7 and mysql 8.0 in proxy. It's ok.

[2022-04-01 04:41] tuichenchuxin commented on #16515
What's your version? JDBC or Proxy?

[2022-04-01 05:07] LiuChao9301 commented on #16528
![image](https://user-images.githubusercontent.com/96098589/161196702-e50aa4c4-d979-483f-a5d1-673986466b95.png)
![image](https://user-images.githubusercontent.com/96098589/161196982-d33ccdba-6109-40e8-835b-6027c220bfc0.png)
bean initialization

[2022-04-01 05:15] Jun10ng opened #16534 "[Question] How to write sharding rule with prefix and sharding-column"
## Question

Hi team,
I hava a question about how to write sharding rule with **prefix** and **sharding-column**

My current prop file map sharding job_lob_tab from `job_lob_0` to `job_lob_100`, and I want to modify it, to
**sharding job_lob_tab from `job_lob_00000000` to `job_lob_00000100` (for sharding table,padding 8 digits with 0)**

[code]
How should I modify it？

I read the [docs](https://sh

[2022-04-01 05:35] irwinai commented on #16515
5.0.0 JDBC

[2022-04-01 05:38] irwinai commented on #16515
I found that getConnenction is too slowly.
[code]
the log show : getConnection using 253
so if I have 40 datasource connection
the time using is 10 sec
with more getConnection option
the createDatasource option can use 1minute

[2022-04-01 05:40] tuichenchuxin commented on #16515
@irwinai You can try the latest version, we have improved the performance.

[2022-04-01 06:00] mousycoder opened #16537 "How to support efficient BETWEEN and with Snowflake algorithm ID"
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/6722977/161204127-0368e96c-4556-4415-9fed-9f94e45770f7.png">
It's going to loop a lot, and it's not going to work

[2022-04-01 06:09] #15743 closed

[2022-04-01 06:58] VeejaLiu opened #16540 "About developer friendliness？"
I encountered a runtime exception while using：
[code]
# And my config:
## server.yaml
[code]

## config-sharding.yaml
[code]

and I just insert one row into table:
[code]
I checked the error code:
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/22064617/161211555-e987566b-2276-43ce-a70e-ac323f14df04.png">

I guess the probability is that there are some problems with my

[2022-04-01 06:59] VeejaLiu commented on #16540
And my sharding strategy:
[code]

[2022-04-01 07:08] RaigorJiang commented on #16534
Hi @Jun10ng
1. You could specify the sharding column by :
[code]
2. For your  `actual-data-nodes`,  do you want `db.job_log_0000000$->{0..9}, db.job_log_000000$->{10..99}, db.job_log_00000100`?

[2022-04-01 07:09] RaigorJiang commented on #16534
Refer to https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding/

[2022-04-01 07:13] Jun10ng commented on #16534
Thanks for your reply, but my actually route field is `job_group%100`. Could I write as the follow？

感谢你的回复。 实际上我的字段是 job_group的后三位，也就是 `job_group%100`。
所以我可以这样写吗？

[2022-04-01 07:18] soulasuna commented on #16269
The basic function of the non-reentrant global distributed lock is completed.
Implemented:
1. Schema-level distributed lock based on zookeeper.
2. Lock and unlock can be performed in different `Proxy` nodes for the same Schema.
3. In the locked state, newly joined cluster `Proxy` nodes can lock the schema synchronously.

[2022-04-01 07:18] #16269 closed

[2022-04-01 07:20] RaigorJiang commented on #16534
I think it should be `job_group%1000`,   so you can get the last three digits.

[2022-04-01 07:23] Jun10ng commented on #16534
okay
so `sharding-column ` prop can be assigned an expression？

[2022-04-01 07:35] irwinai commented on #16515
I have tried 5.1.0 new version , and the create ShardingSphereDataSource is slowly also

[2022-04-01 07:43] RaigorJiang commented on #16534
Sorry, I don't understand what you mean, please give an example.

[2022-04-01 08:09] zjcnb opened #16542 "SchemaMetaDataNode.getMetaDataDataSourcePath(final String schemaName, final String version) add unit test."

[2022-04-01 08:10] zjcnb opened #16543 "SchemaMetaDataNode.getMetaDataNodePath() add unit test"

[2022-04-01 08:11] tuichenchuxin commented on #16540
@VeejaLiu Try to add this
[code]

[2022-04-01 08:20] VeejaLiu commented on #16540
@tuichenchuxin Thank you!
I also found this problem and I have solved it now.
But I mean, in this case, can you give me a more friendly hint?

[2022-04-01 08:25] tuichenchuxin commented on #16515
I see, seems, we check different database by loop.
Maybe load by mutli thread is better.

[2022-04-01 08:28] tuichenchuxin commented on #16540
@VeejaLiu Sure, we do have a plan.

[2022-04-01 08:36] VeejaLiu opened #16545 "Error About Dist SQL!!!"
**I using proxy!**

It's my config-sharding.yaml file:
<img width="831" alt="image" src="https://user-images.githubusercontent.com/22064617/161224831-dcb583df-3657-424b-ab84-158a2453f018.png">
and it works well!

Then I want to add resource by DistSQL.
Then two strange things happened:
（I want to know if I should connect to the proxy and execute this SQL in the proxy?）
 My dist sql :
[code]
When I

[2022-04-01 08:46] VeejaLiu commented on #16540
@tuichenchuxin Thank you!

[2022-04-01 08:46] #16540 closed

[2022-04-01 08:46] tuichenchuxin commented on #14773
Closed due to no reply for a long time.

[2022-04-01 08:46] #14773 closed

[2022-04-01 08:50] irwinai commented on #16515
@tuichenchuxin year,the time cost almost is the getConnection()

[2022-04-01 08:51] zjcnb commented on #15113
Yes, i agree.

[2022-04-01 08:55] everly-gif commented on #15740
Sure, will wait for the current assignee's progress update, thanks 😊

[2022-04-01 08:56] tuichenchuxin commented on #14495
Closed, Due to no repley for a long time.

[2022-04-01 08:56] #14495 closed

[2022-04-01 08:57] VeejaLiu commented on #16545
Now I guess it's because my password has #, which makes the following content be regarded as a comment?

[2022-04-01 08:58] VeejaLiu commented on #16545
[code]
I used this kind of grammar to solve this problem.

[2022-04-01 09:07] azexcy opened #16548 "the comment statement can't work in ShardingSphere-Proxy"
## Bug Report

### Which version of ShardingSphere did you use?

master e6c69508baa0b8ae6c4a73644744bbf46a8a04b7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

after create table by  ShardingSphere-Proxy, then i want to add the comment on t_order; it's execute ok on DataGrip or Navicat

[code]
<img width="767" alt="image"

[2022-04-01 10:10] Devamparikh commented on #16507
Hey there, I'm having below error while splitting assertMethod can @zjcnb help me to understand and remove it? Also it would be helpful if you could tell me, Am I on correct path!
thank you in advance :-)
[code]
![Screenshot from 2022-04-01 15-38-08](https://user-images.githubusercontent.com/60180815/161243159-b5d03b58-e3d2-42b2-bd53-b546802f525e.png)

[2022-04-01 13:36] everly-gif commented on #16543
Hi , I would like to take this up. Please assign it to me

[2022-04-01 13:57] yx9o commented on #16543
@everly-gif Welcome.

[2022-04-01 14:19] RaigorJiang commented on #16545
@VeejaLiu  Thanks for your feedback, yes it should be caused by special characters.
Using quotes is an effective way, and we will continue to optimize the ability of the parsing engine.

[2022-04-01 15:07] #16286 closed

[2022-04-02 00:39] ismailalammar commented on #16542
Hi , i would like to work on this , please assign it to me

[2022-04-02 01:00] acmenlt commented on #16291
@strongduanmu Please assign it to me.

[2022-04-02 01:09] acmenlt commented on #16285
@zjcnb Please assign it to me.

[2022-04-02 01:44] strongduanmu commented on #16285
@acmenlt Welcome.

[2022-04-02 01:45] strongduanmu commented on #16291
@acmenlt Welcome.

[2022-04-02 01:45] strongduanmu commented on #16542
@ismailalammar Of course, I just assign this issue to you.

[2022-04-02 02:00] lanchengx opened #16553 "[OpenForce 2022] Move the class into the correct package"
Hi community,

This issue is for https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441

### Background
`AlterDefaultSingleTableRuleStatement` is an object of the DistSQL syntax `ALTER DEFAULT SINGLE TABLE RULE`. It is a subclass of the `AlterRuleStatement` class in the `org.apache.shardingsphere.distsql.parser.statement.rdl.create `package.

### Aim
`AlterDefaultSing

[2022-04-02 02:14] #14211 closed

[2022-04-02 02:28] strongduanmu opened #16554 "Error while preparing statement [SELECT COUNT(*) AS support_ndb FROM information_schema.ENGINES WHERE Engine = 'ndbcluster'] occur when use navicat connect proxy"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/d38ace200c95a7e71c384cb0b91daec2a308d43b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Use navicat connect proxy successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reprodu

[2022-04-02 03:07] ismailalammar commented on #16542
HI @strongduanmu , i've submitted a PR regarding this issue , thanks!

[2022-04-02 03:20] Swastyy commented on #16553
Hi @lanchengx , I have created a PR for this one just now.

[2022-04-02 03:30] #16545 closed

[2022-04-02 04:54] #16542 closed

[2022-04-02 05:02] zjcnb commented on #16507
Hi , I think the assertSetProperty() is call it in every unit test.

[2022-04-02 06:24] lanchengx commented on #16553
@Swastyy Thanks

[2022-04-02 06:29] tuichenchuxin commented on #13759
rank can't be used in mysql 8 directly, but can used in mysql 5. And we can use it by `rank` this way. So I think we do not need to support this.  I'll close this issue.

[2022-04-02 06:29] #13759 closed

[2022-04-02 06:31] tuichenchuxin commented on #16515
@irwinai Can you try to submit a pr?

[2022-04-02 06:31] #16553 closed

[2022-04-02 06:40] tuichenchuxin commented on #13430
Closed due to long time no reply.

[2022-04-02 06:40] #13430 closed

[2022-04-02 06:45] tuichenchuxin commented on #13081
Closed due to no reply for a long time.

[2022-04-02 06:45] #13081 closed

[2022-04-02 06:46] tuichenchuxin commented on #11436
Closed due to no reply for a long time.

[2022-04-02 06:46] #11436 closed

[2022-04-02 07:29] strongduanmu commented on #16548
@tuichenchuxin Can you help check this issue?

[2022-04-02 07:30] tuichenchuxin commented on #16548
Sure, I'll check it.

[2022-04-02 07:34] #16543 closed

[2022-04-02 07:52] strongduanmu opened #16561 "Navicat show wrong result when user chose design table"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/c0f3c4f3f0bd107cef4ec2d155af4077b7390cef

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Show correct result when user chose design table

### Actual behavior

<img width="1383" alt="image" src="https://user-imag

[2022-04-02 08:01] everly-gif commented on #15703
Hi @sandynz I'll be interested to work on this issue. Is there any example PRs that I can refer to familiarize myself?

[2022-04-02 08:02] TeslaCN commented on #16439
I've called for a vote. https://lists.apache.org/thread/yz7crlygnsvb59hk7o3fynzlwrkzsf8q

[2022-04-02 08:07] soulasuna opened #16564 "Refactoring Global Lock."
## Feature Request

### Is your feature request related to a problem?

Refactoring `GlobalLock`.

### Describe the feature you would like.

`ShardingSphereDistributeGlobalLock` to merge with the original  `ShardingSphereDistributeLock`

[2022-04-02 08:30] #16561 closed

[2022-04-02 08:30] #16554 closed

[2022-04-02 09:23] liuxingping138 opened #16567 "load data infile is not run"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-04-02 09:24] #15745 closed

[2022-04-02 09:29] strongduanmu commented on #16469
Duplicate with #14418.

[2022-04-02 09:29] #16469 closed

[2022-04-02 09:29] liuxingping138 commented on #16567
load data infile is not run,have a error :ERROR 1997 (C1997): Runtime exception: [Can not find visitor rule: `LoadStatementContext`]

[2022-04-02 09:40] strongduanmu commented on #16537
@mousycoder Thank you for your feedback, this is indeed a problem. Maybe we can reduce the number of loops by checking if the number of availableTargetNames and result are equal.

[2022-04-02 09:44] strongduanmu commented on #16567
@liuxingping138 Thank you for your feedback, can you provide your configuration and sql?

[2022-04-02 09:58] strongduanmu commented on #16525
@Eunjung87 Can you provide your sharding configuration?

[2022-04-02 10:01] #16357 closed

[2022-04-02 10:02] liuxingping138 commented on #16567
sql:  load data infile '/var/lib/mysql-files/test_lxp.txt' into table lxp_test(prov_name,city_name,county_name)

my configuration :ds_0: initializationFailTimeout: 1 validationTimeout: 5000 connectionTimeoutMilliseconds: 30000 readOnly: false idleTimeoutMilliseconds: 60000 isolateInternalQueries: false url: jdbc:mysql://192.168.1.6:3306/test_proxy_0?serverTimezone=UTC&useSSL=false leakDetectionThr

[2022-04-02 10:05] liuxingping138 commented on #16567
my version 5.1.0

[2022-04-02 10:05] anonymous-lj commented on #15618
I also encountered similar problems, which should be caused by union

[2022-04-02 10:26] happyi opened #16569 "Serious performance loss"
## version sharding-jdbc  5.0.0

## Feature Request
the Serious performance loss like

[code]
insert into order and order_item

not sharing time ：436ms   sharing time  1499ms。 More than 300% loss in Multiple tests

the shardingColumn is  **customerId**  the shardingAlgorithm is  **HASH_MOD** 。
the order and orderItem is bindingTable
 the code like below
[code]
[code]

the demo code refer to https:

[2022-04-02 12:13] Liangda-w commented on #15955
Sure feel free to take it up:)

@AnushkaSingh1 what's the status now, are you still working on this issue?

[2022-04-02 13:07] sandynz commented on #15703
Hi @everly-gif , welcome!

You could refer to `RecordUtilTest` and `JobProgressYamlSwapperTest` for basic code style.
And read the usages code of `ReflectionUtil` to check how it's used, it might benefit for designing test cases.

[2022-04-02 17:22] AnushkaSingh1 commented on #15955
Yes I am working, am sorry I was busy with my college exams!

[2022-04-03 02:45] acmenlt commented on #16288
@strongduanmu Hi, I can do all these tasks, or I can be randomly assigned to some of them.

[2022-04-03 03:20] acmenlt commented on #16356
@RaigorJiang Hi, now the weight of logging and startup is 1. Which one has the highest priority.

![image](https://user-images.githubusercontent.com/77398366/161409846-9be05235-ec55-4cea-842a-e5a20de6da64.png)
![image](https://user-images.githubusercontent.com/77398366/161409851-541c78b8-21be-4457-831c-1a1e1cc3f2c3.png)

[2022-04-03 03:22] acmenlt commented on #16356
@RaigorJiang I think startup should have a higher priority.

[2022-04-03 03:23] itsAfnanAlam commented on #16290
Hi @strongduanmu,
I would like to work on this issue. Can you assign this to me?

[2022-04-03 03:42] RaigorJiang commented on #16356
@acmenlt  Yes, I agree with you. 👍

[2022-04-03 04:44] #16291 closed

[2022-04-03 04:50] everly-gif commented on #15703
Hi @sandynz , this is the test I have written for `setFieldValues`
[code]
Could you let me know if Im going in the right direction? Also how can I run the tests? I am aware on how to build the entire project but I want to just run the tests in this file to check.

Thank you for your patience.

[2022-04-03 05:14] everly-gif commented on #15955
@Liangda-w in that case, could you create some new issues for me? I would love to work on some :)

[2022-04-03 07:31] #16534 closed

[2022-04-03 12:14] Devamparikh commented on #16507
@zjcnb you are saying that assertSetProperty() should be called in every test cases?
and assertSetProperty() should me method and not Junit test?

[2022-04-03 12:56] Swastyy commented on #15810
Hi all, If @Amulya-coder you want I can take this issue because of Openforce, otherwise no problem, thanks. 😄

[2022-04-03 13:46] #16356 closed

[2022-04-03 14:22] Swastyy commented on #15721
Hi @aniketh-varma Are you still working on this? If not, I will do it. Let me know, thanks.

[2022-04-03 15:06] sandynz commented on #15703
Hi @everly-gif ,
Suppose your unit test class name is `ReflectionUtilTest`.

The unit test is OK.
You could create a new class (e.g. `ReflectionFixture.java`) that's dedicated for `ReflectionUtilTest`, add fields and methods that you need. It could be easier to do unit test.

You could run `ReflectionUtilTest` on IDE, right click mouse and select `Run ReflectionUtilTest` on context menu (Intellij

[2022-04-03 23:32] strongduanmu commented on #16290
@itsAfnanAlam Welcome, I will assign this issue to you.

[2022-04-03 23:35] strongduanmu commented on #16288
@ntsompa @acmenlt Welcome. You can do any tasks on this list, as long as you declare it in this issue.

[2022-04-03 23:59] acmenlt commented on #16288
@ntsompa If there's no problem, I'll finish the first half

- [ ]  ShardingRule#getDatabaseShardingStrategyConfiguration
- [ ]  ShardingRule#getTableShardingStrategyConfiguration
 - [ ] ShardingRule#isGenerateKeyColumn
 - [ ] ShardingRule#getShardingRuleTableNames
 - [ ] ShardingRule#getLogicAndActualTablesFromBindingTable

[2022-04-04 01:52] liujintaogit opened #16581 "Streaming result set com.mysql.jdbc.RowDataDynamic@4a5d8aab is still active. No statements may be issued when any streaming result sets are open and in use on a given connection. Ensure that you have called .close() on any active streaming result sets before attempting more queries"
## Question
apache-shardingsphere-5.0.0-shardingsphere-proxy-bin
alter
[INFO ] 2022-04-04 09:45:36.533 [Connection-3-ThreadExecutor] o.a.s.p.b.t.a.m.e.i.AbstractSelectInformationExecutor$DefaultSelectInformationExecutor - Actual SQL: ds_0 ::: SELECT SCHEMA_NAME, DEFAULT_CHARACTER_SET_NAME, DEFAULT_COLLATION_NAME FROM information_schema.SCHEMATA
[ERROR] 2022-04-04 09:45:36.534 [Connection-3-ThreadE

[2022-04-04 01:59] #16285 closed

[2022-04-04 02:41] itsAfnanAlam commented on #16290
Thank you @strongduanmu,  could you please guide me on how can I add more unit tests for ShardingRuleAlgorithmProviderConfigurationYamlSwapper?

[2022-04-04 06:56] strongduanmu commented on #16290
@itsAfnanAlam You can refer to EncryptRuleAlgorithmProviderConfigurationYamlSwapperTest.

[2022-04-04 08:50] nexen505 opened #16586 "How to use schema in sharding resolve?"
### Discussed in https://github.com/apache/shardingsphere/discussions/16585

<div type='discussions-op-text'>

<sup>Originally posted by **nexen505** April  4, 2022</sup>
Hi! Question for version 5.1.1.

Let's assume that we have the following sharding scheme.
We have one database instance with each shard mapped to the different database schema. Shards should be delegated to the single DataSource

[2022-04-04 13:06] sandynz commented on #14878
Currently, as I know, self-hosted runners won't be ready since there's no permission to set it up.

[2022-04-04 13:08] sandynz commented on #14878
I found some extremely slow workflow jobs today:

https://github.com/apache/shardingsphere/runs/5813546191?check_suite_focus=true
[INFO] shardingsphere-jdbc-spring-boot-starter-infra ...... SUCCESS [26:37 min]

https://github.com/apache/shardingsphere/runs/5813541245?check_suite_focus=true
[INFO] shardingsphere-jdbc-spring-boot-starter-infra ...... SUCCESS [25:54 min]

[2022-04-04 13:26] terrymanu commented on #16569
There are 2 necessary information need to to provided:
1. The version of ShardingSphere
2. Did you use Statement or PreparedStatement, if PreparedStatement is used, the 1st time is slow, after 2nd times, the performance issue is better.

[2022-04-04 13:29] terrymanu commented on #16567
The load data infile feature is not implemented yet, we need to discuss how to implement it first.

[2022-04-04 14:37] cheese8 commented on #15975
I have reproduced it, and we will discuss a way to handle this.

[2022-04-04 16:12] aniketh-varma commented on #15721
Hi @Swastyy, Yes I am working on the issue and will make a PR in the coming week. Sorry for the delay. Thanks!

[2022-04-05 05:11] taojintianxia commented on #16133
depends on Apache infra team to assign permission

https://issues.apache.org/jira/browse/INFRA-22987

[2022-04-05 07:26] #16507 closed

[2022-04-05 07:38] sandynz commented on #14878
Tries 3 new ways to resolve it, all of them don't work.

1, Use formal spring and boot version, and also make them match.
From
[code]
To
[code]

2, Add `-nsu` (--no-snapshot-updates) in `mvn` option.

3, Add `overwrite-settings: false` in `actions/setup-java, with` properties.

[2022-04-05 07:42] sandynz commented on #14878
Another 2 ways might work.

1, Use customized `settings.xml`, disable `spring-snapshots` etc repositories, disable snapshot.

2, Like #14892, but not update it to fixed version in `pom.xml`, just run `mvn versions:resolve-ranges` in workflow before `mvn install`.

[2022-04-05 10:52] #14878 closed

[2022-04-05 11:54] lsoimpe commented on #15629
The same problem!!!

[2022-04-05 11:57] lsoimpe commented on #14858
The same problem!!!

[2022-04-05 13:51] sandynz opened #16607 "[CI] Accurate Continuous Integration triggering based on changed files"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, once `Continuous Integration` is triggered, it'll run all jobs for all modules. It's not necessary to do it.

We need to find a way to do `Continuous Integration` for necessary modules based on changed files.
For examples:
1. If there's only changes of data pipeline modules

[2022-04-05 14:09] ntsompa commented on #16288
@acmenlt No problem at all, if you want you can also do the rest. No worries.

[2022-04-05 14:10] sandynz opened #16608 "[CI] Accurate Integration Test triggering based on changed files"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, once `Integration Test` is triggered, it'll run all tests of all scenarios. It's not necessary to do it.

We need to find a way to do `Integration Test` for necessary scenarios based on changed files.
For examples:
1. Except empty rules and mixture rules, single rule includ

[2022-04-06 01:27] SimYeJu commented on #16516
Then, I change my question.

ShardingSphere Proxy 5.0.0 connect to DS1 (MySQL 5.7.17) and to DS2 (MySQL 8.0.25).

I wonder why result is '1' when query 'SELECT @@SESSION.tx_isolation' to ShardingSphere Proxy.
![image](https://user-images.githubusercontent.com/55989240/161877025-eb896a1f-df34-4f1c-9afb-38cdabc77fd1.png)

tx_isolation's valid value is 'READ-UNCOMMITTED', 'READ-COMMITTED', 'REPEATABL

[2022-04-06 02:27] happyi commented on #16569
1. 5.0.0
2. use jpa

[2022-04-06 02:38] liuxingping138 commented on #16567
Ok，Thank You！

[2022-04-06 02:44] udrnrso opened #16613 "How to use Hint without shard key, and use shard algorithm with shard key?"
Suppose the shard field is user_id
Without the user_id condition, such as the following sql, I hope to force the shard number to be specified
// Force the use of shard 00
select * from tableA limit 500
With the user_id condition, use the sharding algorithm
select * from tableA where user_id = 'testuser'

After reading the document, it seems that we can only choose between hint/standard. Does it su

[2022-04-06 03:46] strongduanmu commented on #16613
@udrnrso Mixed use is not supported now. The hint sharding algorithm is to support scenarios where the sharding column does not exist in the table. If your table has this field, it is best to use the standard algorithm.

[2022-04-06 03:48] strongduanmu commented on #16586
Hi @nexen505, let's talking about this topic in discussion. I will close this issue here.

[2022-04-06 03:48] #16586 closed

[2022-04-06 03:48] strongduanmu commented on #16581
Hi @liujintaogit, can you try latest 5.1.1 version?

[2022-04-06 05:39] chenrunkun opened #16614 "SpringBoot activity ShardingSphere-Proxy dead start"
## Question

D:\chenrunkun\devTools\jdk-1.8.0_144-windows-x64\jdk\bin\java.exe -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:54310,suspend=y,server=n -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always -javaagent:D:\chenrunkun\devTools\ideaIU-2020.3.3.win\plugins\java\lib\rt\debugger-agent.jar -Dcom.sun.management.jmxremote -Dspring.jmx.enabled=true -Dspring.liveBeansView.

[2022-04-06 08:53] jingshanglu commented on #13459
It maybe fixed by #16434.

[2022-04-06 09:09] jingshanglu commented on #11238
It maybe fixed by #14983.

[2022-04-06 09:12] #11238 closed

[2022-04-06 09:40] RaigorJiang commented on #16614
Hi @chenrunkun
Hi, you posted a log but didn't provide information related to ShardingSphere.
Also, from the error in the log, it has nothing to do with ShardingSphere.

[2022-04-06 10:04] strongduanmu commented on #16525
Hi @Eunjung87, I have optimized the copy statement and insert select statement in PostgreSQL. However, considering the difference between distributed SQL and stand-alone SQL, currently copy statements and insert select statements cannot support sharding tables, but only support single tables.

[2022-04-06 10:42] #13459 closed

[2022-04-06 10:56] #16525 closed

[2022-04-06 10:58] strongduanmu commented on #16364
@Amulya-coder Have you read the content of the issue carefully? You can complete this issue by following the previous steps.

[2022-04-06 10:59] strongduanmu opened #16617 "Add more unit test for ShardingCopyStatementValidator"
Hi community,

We need to add more unit test for ShardingCopyStatementValidator.

- [ ] ShardingCopyStatementValidator#preValidate

[2022-04-06 11:01] pengzhizhuo commented on #15618
I also encountered similar problems

[2022-04-06 11:57] strongduanmu commented on #14015
By using this [program](https://github.com/tuichenchuxin/extract-sql-for-shardingsphere-parser-test)
And then I get two unsupported sql files.
[mysql unsupported sql](https://github.com/tuichenchuxin/extract-sql-for-shardingsphere-parser-test/blob/main/src/main/resources/result/mySql.txt)
[postgresql unsupported sql](https://github.com/tuichenchuxin/extract-sql-for-shardingsphere-parser-test/blob/

[2022-04-06 12:05] Trydamere commented on #14015
Sure. I will read the issue and claim the subtasks.

[2022-04-06 12:23] everly-gif commented on #14015
Thanks @strongduanmu . I'll also look into this issue and start claiming subtasks

[2022-04-06 12:30] Trydamere commented on #14015
I will do ` drop_type`

[2022-04-06 12:32] everly-gif commented on #14015
I want to do `drop_rule`

[2022-04-06 16:29] #15876 closed

[2022-04-06 21:06] Liangda-w opened #16620 "[OpenForce 2022] Add Oracle SQL `CREATE DIRECTORY`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-04-06 21:08] Liangda-w opened #16621 "[OpenForce 2022] Add Oracle SQL `DROP DIRECTORY`"
Hi community,

This issue is for [OpenForce 2022](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and

[2022-04-06 21:10] Liangda-w commented on #15955
Sure, I just created #16621 and #16620, feel free to claim:)

[2022-04-06 21:11] Liangda-w commented on #16617
@Devamparikh welcome:) assigned to you

[2022-04-06 21:54] Devamparikh commented on #16620
Hey, Can I work on this please?

[2022-04-06 21:57] Devamparikh commented on #16621
Hey there!
I was in search for issues like this to work on.
Can I take this issue?

[2022-04-07 00:27] strongduanmu commented on #14015
@everly-gif Of course.

[2022-04-07 00:37] everly-gif commented on #16621
Hi, I would like to work on this issue !

[2022-04-07 02:15] wayinit opened #16622 "[HY000][1815] Internal error: Error while preparing statement [/* ApplicationName=DataGrip 2021.3.4 */ for Date_format"
When I used this sql
SELECT
        tmp.id,
        tmk.tb_mem_no mem_no,
        tmk.tb_kyc_flag kyc_flag
        FROM
        tb_mem_personal tmp,
        tb_mem_kyc tmk,
        tb_country tc
        WHERE
        tmk.id = tmp.tb_kyc_id
        AND tc.tb_country_code = tmk.tb_credentials_city
        AND DATE_FORMAT(tmp.kyc_submit_time,'%Y%m%d') = date_format(now(),'%Y%m%d')
It show me error  [

[2022-04-07 02:25] yx9o commented on #16620
@Devamparikh Welcome, assigned to you.

[2022-04-07 02:40] novice-gamer opened #16624 "Case display results are different"
## Case display results are different
- Shardingsphere proxy version is 5.1.0
- SQL：
[code]

MySQL is set to be case insensitive. The execution results of the two SQL statements are different. You can query the results in lowercase, but there is no result in uppercase.

Incompatible with such queries?

[2022-04-07 02:56] strongduanmu commented on #16622
@wayinit Can you provide more information according to issue template?

[2022-04-07 02:59] strongduanmu commented on #16624
@novice-gamer Thank you for your feedback. Are you interested in submitting a PR to solve this issue?

[2022-04-07 03:01] strongduanmu opened #16625 "Exception occurs when execute `SHOW search_path` statement in PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/f5d3a742090d6490da789980f53b7db1275b1844

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SHOW search_path` statement successfully.

### Actual behavior

<img width="1210" alt="image" src="https://user-im

[2022-04-07 03:03] wayinit commented on #16622
### Which version of ShardingSphere did you use?
ShardingSphere proxy 5.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
获的正确的结果
### Actual behavior
报错了，如上面提到的
### Reason analyze (If you can)
我在实验中发现，单表使用函数不会报错，可是表关联查询的时候无论是where还是查询字段中加入了函数都会报错。
我的环境是分了两个库
错误信息来看像是关联查询就无法处理函数了。
函数不能使用包括 Date_format concat substr now()
### S

[2022-04-07 03:21] novice-gamer commented on #16624
Sorry, I'm not a developer. Are you sure this is a bug in shardingsphere proxy?

[2022-04-07 05:49] #16302 closed

[2022-04-07 05:53] windghoul opened #16627 "Adjust and refactor helm api."
### Is your feature request related to a problem?
no

### Describe the feature you would like.

Adjust and refactor helm api.
Now the design of the helm api is not clear enough and the hierarchy is incomplete, and the relevant configuration in the helm values.yaml file needs to be abstracted and refactored.

[2022-04-07 06:17] newchendb opened #16631 "the data is not written to the database in time"
shardingsphere-proxy version is 5.1.0。

Under what circumstances will the program submit data and return success, but the data is not written to the database in time, sometimes delaying for several seconds.

[2022-04-07 06:21] newchendb commented on #16631
There is no such problem with direct database connection. There will be such a problem with shardingsphere-proxy

[2022-04-07 07:44] TeslaCN opened #16633 "Potential performance issue in cluster mode caused by DistributeLockContext"
## Performance

### Which version of ShardingSphere did you use?

master after 10fdd38cbfd1b98be5009dfad89933dd572bcd88

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy in cluster mode

### Monitor Blocked

Some threads were blocked about 800 ms.

![image](https://user-images.githubusercontent.com/20503072/162146873-a8884909-7716-49fa-92a9-58d641ef

[2022-04-07 07:48] soulasuna commented on #16633
I will follow up.

[2022-04-07 08:14] azexcy opened #16634 "PostgreSQL grammar of DROP INDEX IF EXISTS"
## Bug Report

### Which version of ShardingSphere did you use?

master b5435f0fcd2ed6d65854e608425b659daa590d30

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

support PostgreSQL grammar of `DROP INDEX IF EXISTS `, such as
`DROP INDEX IF EXISTS public.t_order_status_idx_t_order`

### Actual behavior

<img width="1090" alt=

[2022-04-07 08:28] jingshanglu commented on #16631
Can you show proxy config? can you show a demo?

[2022-04-07 08:30] Liangda-w commented on #16621
Hey @Devamparikh, thanks for your interest! But since you have #16620 already, I would assign this to @everly-gif, who asked for such issues before :)

[2022-04-07 08:32] tuichenchuxin commented on #16516
@SimYeJu Ok. I'll check later.

[2022-04-07 09:16] strongduanmu commented on #16634
@azexcy Thank you for your feedback, I will investigate this issue.

[2022-04-07 10:07] xxmlovezw opened #16638 "如果只有部分数据库分库分表，shardingSphere5.0版本如何配置默认数据源？"
根据[Apache ShardingSphere 5.0.0-beta 官方中文文档](https://www.bookstack.cn/books/shardingsphere-5.0.0-beta)官方文档
在application.yaml中配置spring.shardingsphere.rules.sharding.default-data-source-name=stash1
结果并没有实现功能

[2022-04-07 10:08] taojintianxia commented on #16638
please use English to describe your question.

[2022-04-07 10:13] Trydamere commented on #14015
- `drop_operator`
- `drop_access`
- `drop_server`

[2022-04-07 10:21] zjcnb opened #16639 "ConfigurationPropertyKey.getKeyNames() add unit test."

[2022-04-07 10:40] lixaviers opened #16640 "SQL does not print parameters after the Read-Write Split are configured"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-07 10:41] wayinit commented on #16622
@strongduanmu 有消息了吗

[2022-04-07 11:21] jingshanglu commented on #16631
Can you show the SQL demo?

[2022-04-07 12:16] zjcnb commented on #16640
@lixaviers Hello, 4.1.1 version are too old. Can you try it with 5.1.0 version?

[2022-04-07 13:55] #16180 closed

[2022-04-07 15:44] zjcnb opened #16646 "DistributeLockContext.renew(final LockReleasedEvent event) need add unit test"

[2022-04-07 15:45] zjcnb opened #16647 "DistributeLockContext.renew(final AckLockedEvent event) need add unit test"

[2022-04-08 01:10] #16621 closed

[2022-04-08 01:22] xxmlovezw opened #16649 "If only some databases are divided into databases and tables, how does shardingSphere 5.0 configure the default data source?"
According to the Apache ShardingSphere 5.0.0-beta official Chinese documentation official documentation
Configure spring.shardingsphere.rules.sharding.default-data-source-name=stash1 in application.yaml
As a result, it does not work

[2022-04-08 01:43] NJCrazyRen commented on #16424
Is there anyone can help me to resolve this problem?

[2022-04-08 01:56] strongduanmu commented on #16649
@xxmlovezw From 5.x version, users do not need to configure the default dataSource, ShardingSphere will automatically load and manage single tables.

[2022-04-08 02:00] #16638 closed

[2022-04-08 02:05] wayinit opened #16650 "Errors will be reported when using functions in multi table associated queries, like date_format"
### Which version of ShardingSphere did you use?
ShardingSphere proxy 5.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-proxy

### Expected behavior
show the result
### Actual behavior
got an error
### Reason analyze (If you can)
Errors will be reported when using functions in multi table associated queries, but correct in one table queries.
### Steps

[2022-04-08 02:12] newchendb commented on #16631
![image](https://user-images.githubusercontent.com/29219642/162349200-3a9d0cf6-b250-43a3-9453-a1c27a7802b0.png)

@jingshanglu  Very simple SQL. The data is inserted in the above SQL, but sometimes the corresponding data is not found in the following query

[2022-04-08 02:14] strongduanmu commented on #16650
@wayinit Can you provide the exception stack info?

[2022-04-08 02:14] wayinit opened #16652 "union all not correct in multi table associated queries, but correct in onetable queries."
### Which version of ShardingSphere did you use?
5.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-proxy
### Expected behavior
get the result
### Actual behavior
no result, empty
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
like the SQL, when I use multi table associated queries,

[2022-04-08 02:32] #16567 closed

[2022-04-08 02:35] xxmlovezw commented on #16649
@strongduanmu If I want to put a table that is not sharded into a specified database, how do I configure it? Now I find that tables that do not shard the tables are randomly assigned to the two databases I configured.

[2022-04-08 02:37] wayinit commented on #16650
@strongduanmu
02:36:06.193 [Connection-6844-ThreadExecutor] DEBUG org.apache.shardingsphere.proxy.frontend.mysql.command.MySQLCommandExecutorFactory - Execute packet type: COM_QUERY, value: MySQLComQueryPacket(sql=/* ApplicationName=DataGrip 2021.3.4 */ SELECT [tmp.id](http://tmp.id/),
tmk.tb_mem_no mem_no,
tmk.tb_kyc_flag kyc_flag
FROM tb_mem_personal tmp,
tb_mem_kyc tmk,
tb_country tc
WHERE [tmk

[2022-04-08 02:47] strongduanmu commented on #16649
@xxmlovezw You can use distsql to set default resource——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/single-table/.

[2022-04-08 03:01] xxmlovezw commented on #16649
@strongduanmu If I only use shardingSphere-jdbc ,Is there a way to implement a table configuration that does not shard into a table to the specified database?

[2022-04-08 03:12] jingshanglu commented on #16631
This scenario should not lead to write delay. The possible scenario is to write to the master DB and read from the slave DB.

[2022-04-08 03:13] jingshanglu commented on #16631
The scene in the screenshot is read and written on the same DB.

[2022-04-08 03:15] #16634 closed

[2022-04-08 03:21] newchendb commented on #16631
@jingshanglu Yes, before that, I thought it was caused by MySQL master-slave synchronization delay, so I changed it to this, but the problem still exists.

[2022-04-08 03:40] jingshanglu commented on #16631
I see your just insert to one table and select from two table,  does the other table have master-slave synchronization delay?

[2022-04-08 03:57] newchendb commented on #16631
@jingshanglu No, the associated table is a sub table. This operation does not involve sub tables.

[2022-04-08 03:58] newchendb commented on #16631
This is accidental

[2022-04-08 04:51] Devamparikh commented on #16639
Assign this to me I will work on this.

[2022-04-08 04:52] Devamparikh commented on #16646
Assign this to me I will work on this.

[2022-04-08 05:11] #16548 closed

[2022-04-08 05:15] Devamparikh commented on #16617
Hey @Liangda-w is there any channel where we can discuss this issue with other team members?

[2022-04-08 05:59] jingshanglu commented on #16631
OK, If it appears again, you can simplify the demo and post it.

[2022-04-08 06:17] zorohu opened #16656 "insert statement error : Route table does not exist, available actual table"
## Question

The table created by the DDL statement was successfully created on shardingsphere-proxy. But an error occurs when using the inset statement to insert, can you help explain what the problem is?

### this is my config file

[code]
### The successfully created table is shown in the following figure, on two different master nodes respectively

<img width="324" alt="image" src="https://use

[2022-04-08 06:21] sandynz opened #16657 "Make sure there is no concurrent creation of tables when preparing target tables in scaling job"
## Feature Request

### Is your feature request related to a problem?
Yes, sometimes. Scaling job on PostgreSQL, the fetched statements include: create table, drop index, create index.

### Describe the feature you would like.
Currently, scaling job will be sharded and run concurrently, include preparing target tables (create tables and constraints), so there might be duplicated tables and constra

[2022-04-08 06:40] newchendb commented on #16631
![image](https://user-images.githubusercontent.com/29219642/162378253-5e0ef134-a2a2-4927-bb74-a32cfd647ebd.png)
The above is my test code. Query the list after adding

![image](https://user-images.githubusercontent.com/29219642/162378513-a8589bc7-3b2e-4c8f-a16f-fe6bd20144f6.png)
The above is the log of my code. There is no newly added data in the list query

![image](https://user-images.githubuser

[2022-04-08 06:55] TeslaCN commented on #16633
Close this in #16636 and #16658.

[2022-04-08 06:55] #16633 closed

[2022-04-08 07:33] strongduanmu commented on #16656
Hi @zorohu, can you open `sql-show`, and provide sql-show log?

[2022-04-08 07:35] strongduanmu commented on #16652
Hi @wayinit, Did you turn on the `sql-federation` config? `union all` statement is currently only supported through the experimental sql-federation feature.

[2022-04-08 07:36] strongduanmu commented on #16650
@wayinit This seems to be a bug in calcite parsing, we will fix this in a later version.

[2022-04-08 07:51] zorohu commented on #16656
Thanks Reply
Here are all my logs using the insert statement,But there is no insert statement in the log

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/24402746/162388810-f5c01997-175d-42b8-97e9-bb9e1785aaa2.png">

And I tried to insert data in two real nodes. Using the select statement in ShardingSphere-proxy can query the data correctly

<img width="1450" alt="imag

[2022-04-08 08:01] strongduanmu commented on #16656
@zorohu Thank you. Can you provide init sql of `biz_ymcz_minclass` and insert statement? I will try to reproduce this problem in my local machine.

[2022-04-08 08:12] azexcy commented on #16548
i test at master 534c6791fa570449271313573c0346aca096ae3d
but the response is error.

[code]

[2022-04-08 08:15] zorohu commented on #16656
this is a simplified version of the initialization statement

[code]

[2022-04-08 08:19] ycy1991 opened #16660 "Support batch update"
## Question
For batch update of mybatis, SQL only parses the table before the first semicolon, and subsequent statements are not parsed into actual SQL,eg:
![image](https://user-images.githubusercontent.com/16506338/162395059-25e437e0-ac08-44b2-89e8-cd900e56d15e.png)

![image](https://user-images.githubusercontent.com/16506338/162395148-45ad7405-fda8-4563-9aed-b6ef266c2de5.png)
Will subsequent ver

[2022-04-08 08:40] windghoul commented on #16627
/assign

[2022-04-08 08:52] zjcnb commented on #16646
Done.

[2022-04-08 08:54] strongduanmu commented on #16660
@ycy1991 Thank you for your feedback, multi statements parse is not supported yet. May I ask what feature are you using? Using multiple sql statements in a sharding scenario will cause some execution problems.

[2022-04-08 09:17] wayinit commented on #16652
<img width="614" alt="origin_img_v2_f325fe05-13e6-4d0c-a31a-3d9a14d9e3bg" src="https://user-images.githubusercontent.com/16432884/162405792-6647aeec-477f-49be-9f99-8e2a4bfa3200.png">

[2022-04-08 09:18] wayinit commented on #16652
@strongduanmu
<img width="614" alt="origin_img_v2_f325fe05-13e6-4d0c-a31a-3d9a14d9e3bg" src="https://user-images.githubusercontent.com/16432884/162405839-a59c9efc-f662-4415-83e0-ffd0cc962816.png">

[2022-04-08 10:02] sinolan opened #16664 "how to support enum class"
java enum not support?
the sql field a.sex is enum type, mysql database's type is int(2) , but not support?

### Which version of ShardingSphere did you use?
shardingsphere5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC

### Expected behavior
SELECT a.id,a.create_time,a.login_name,a.name,a.sex,a.disabled FROM sys_user a
![16494116035302](http

[2022-04-08 10:06] strongduanmu commented on #16656
@zorohu Why not configure databaseStrategy?

[2022-04-08 10:23] cucuzi opened #16665 "Generate a unexpected Actual SQL"
ShardingSphere version: 5.1.0
Database: Mysql

### Properties:
[code]

### Logic SQL:
[code]
Using logic sql and no sharding result:
|classChar|classNum|bookNum|sumPrice|
|--|--|--|--|
|A|2|3|89.10|
|B|2|3|121.60|
|D|2|2|38.80|
|Z|1|2|5.52|

### Actual SQL:
[code]
unexpected result:
|classChar|classNum|bookNum|sumPrice|
|--|--|--|--|
|A|2|6|202.90|
|Z|1|4|52.12|

Maybe it is a bug? I don't know. :

[2022-04-08 10:27] lanchengx opened #16666 "Refactor DistSQL document task"
### Background
A plan to refactor DistSQL documentation is proposed in https://github.com/apache/shardingsphere/issues/15604.

This issue is used to describe how the documentation content should be written.

### Document content
The document needs to include **syntax names**, **syntax definitions**, **examples**, and if it is a query statement, **column name explanation** need to be added

#### Ex

[2022-04-08 12:05] TeslaCN commented on #16439
Sorry for aborted the vote. We have fixed the problem that we found in Round 1. I've called for a round 2 vote.
https://lists.apache.org/thread/hzlv7wvp8cvlj6sbc9f9o0j11r6tsb3y

[2022-04-08 12:14] weihubeats commented on #16647
Hey, Can I work on this please?

[2022-04-08 12:27] strongduanmu opened #16669 "Add more unit test for TablesContext"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for TablesContext.

- [ ] TablesContext#getSchemaName

[2022-04-08 12:28] strongduanmu opened #16670 "Add more unit test for IndexMetaDataUtil"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for IndexMetaDataUtil.

- [ ] IndexMetaDataUtil#getGeneratedLogicIndexName
- [ ] IndexMetaDataUtil#getTableNamesFromMetaData

[2022-04-08 14:26] Liangda-w commented on #16617
The examples [here](https://github.com/apache/shardingsphere/tree/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/test/java/org/apache/shardingsphere/sharding/route/engine/validator/dml) might be helpful for you:) and here is the [slack channel](https://join.slack.com/t/apacheshardingsphere/shared_invite/zt-sbdde7ie-SjDqo9~I4rYcR18bq0SYTg) if you want to dis

[2022-04-08 14:54] lanchengx opened #16679 "Refactor `ALTER RESOURCE` syntax doc"
This issue is a subtask of refactoring DistSQL documentation. Please refer to https://github.com/apache/shardingsphere/issues/16666

The content of the `ALTER RESOURCE` syntax document is the same as the content of the `CREATE RESOURCE` syntax document. Just change the `CREATE` keyword to the `ALTER` keyword.

Please refer to [add-resource.cn.md](https://github.com/apache/shardingsphere/pull/16659

[2022-04-08 15:06] lanchengx opened #16681 "Refactor `SHOW UNUSED RESOURCE` syntax doc"
This issue is a subtask of refactoring DistSQL documentation. Please refer to https://github.com/apache/shardingsphere/issues/16666

The content of the `SHOW UNUSED RESOURCE` syntax document is roughly the same as the content of the `SHOW RESOURCE` document. Need to add `UNUSED` keyword.

The difference between the two can refer to the syntax definition file `shardingsphere-distsql/shardingsphere-

[2022-04-08 15:10] #16669 closed

[2022-04-08 15:15] lanchengx opened #16683 "Refactor `SHOW USED RESOURCE` syntax doc"
This issue is a subtask of refactoring DistSQL documentation. Please refer to https://github.com/apache/shardingsphere/issues/16666

The content of the `SHOW USED RESOURCE` syntax document is roughly the same as the content of the `SHOW RESOURCE` document. Need to add `USED` keyword.

The difference between the two can refer to the syntax definition file `shardingsphere-distsql/shardingsphere-dist

[2022-04-08 15:46] terrymanu opened #16686 "Add test case for MySQLDataTypeHandlerFactory"

[2022-04-08 17:15] ycy1991 commented on #16660
Updating a table in batch，eg
![image](https://user-images.githubusercontent.com/16506338/162490291-fd203930-ddd9-46f8-b0f6-395cab4955fc.png)

[2022-04-08 17:21] ycy1991 commented on #16660
If the SQL is written directly, can some SQL not be parsed?
like this
update xxl_job_log_01 set  trigger_code=xx where  `id`= xx and  `job_id`=xx and  `trigger_time`= xx
update xxl_job_log_01 set  trigger_code=xx where  `id`= xx and  `job_id`=xx and  `trigger_time`= xx
Directly skip routing and parsing operations

[2022-04-08 20:47] Liangda-w commented on #6480
Hey @everly-gif, just in case you're interested in some more Oracle SQL tasks, feel free to claim subtasks in the list that are not finished yet:)

[2022-04-09 02:02] everly-gif commented on #6480
Thanks @Liangda-w , I will be claiming some soon :)

[2022-04-09 02:41] everly-gif commented on #14015
Since I'm done with my previous claimed tasks, here are some more I'm claiming to work on,
`drop_publication`
`drop_subscription`

[2022-04-09 03:10] zjcnb commented on #16639
Done.

[2022-04-09 03:19] weihubeats commented on #16670
Hey, Can I work on this please?

[2022-04-09 03:59] mylixiangxiang opened #16689 "sharding doesn't work"
1、A service
![Capto_Capture 2022-04-09_11-27-23_上午](https://user-images.githubusercontent.com/101060605/162554641-d4735280-abf9-4222-afb8-f76983734c45.png)
2、B dubbo service
![Capto_Capture 2022-04-09_11-35-59_上午](https://user-images.githubusercontent.com/101060605/162554856-bc44c5f7-ee45-45c6-a506-e484b1c42e80.png)
3、B dubbo service sharding log info
why SELECT * FROM capital_record WHERE (capita

[2022-04-09 04:23] zorohu commented on #16656
@strongduanmu Thank you for your help and patience, I may have overlooked this property, I'll add this property test later

[2022-04-09 04:41] sandynz opened #16691 "Define which default frontend database protocol type to be used in proxy by user"
## Feature Request

### Is your feature request related to a problem?
Yes.

My testing scenario: test scaling job on MogDB, without `config-sharding.yaml`, totally use DistSQL.

When I configure a totally new namespace in Cluster type ZooKeeper repository, and then start proxy. Proxy will use MySQL protocol, since there's no existing metadata for the decision, it use default protocol MySQL (via `F

[2022-04-09 05:03] Swastyy commented on #16681
Hi @lanchengx , please assign it to me.

[2022-04-09 05:32] zorohu commented on #16656
Here is my modified config, but still the same problem and the logs are the same
Among them, I directly configure the policy to the master1 node     `algorithm-expression: master_1`

[code]

[2022-04-09 06:24] strongduanmu commented on #16656
@zorohu Thank you, I will try again.

[2022-04-09 07:50] strongduanmu commented on #16681
@Swastyy Assigned.

[2022-04-09 07:52] strongduanmu commented on #16670
@weihubeats Welcome.

[2022-04-09 08:12] sandynz opened #16694 "psql could not login to proxy if backend database is MogDB (openGauss) but could login to native database"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit eae7e4bf42462740f57530c7a40f26360fc6f58c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, MogDB backend (based on openGauss)
macOS

### Expected behavior
Login success with psql.

### Actual behavior
Login to proxy failed:
[code]

But psql could login to native Mo

[2022-04-09 10:00] weihubeats commented on #16686
Hey, Can I work on this please?

[2022-04-09 11:08] terrymanu opened #16698 "Add test case for DialectTableMetaDataLoaderFactory"

[2022-04-09 13:18] strongduanmu commented on #16686
@weihubeats Assigned.

[2022-04-09 13:21] #16670 closed

[2022-04-09 13:34] TeslaCN commented on #16694
@sandynz The SCRAM authentication of openGauss is different PostgreSQL's SCRAM authentication. At present, ShardingSphere-Proxy openGauss can be connected by `gsql` only.

[2022-04-09 13:48] weihubeats commented on #16698
Hey, Can I work on this please?

[2022-04-09 14:18] sandynz commented on #16694
OK, thanks.

[2022-04-09 14:19] TeslaCN opened #16704 "Consider removing LazyInitializer from QueryHeaderBuilder in ShardingSphere-Proxy"
## Refactor

The `LazyInitializer` is used to avoid ineffective overhead for PostgreSQL and openGauss, but it increases the cost of understanding. Consider removing the `LazyInitializer`.

[2022-04-09 14:25] TeslaCN commented on #16691
The config has already existed since #8580, but it is not present in documents.

[2022-04-09 14:25] sandynz opened #16705 "gsql could not login to proxy if backend database is MogDB (openGauss) since SQL_ASCII charset"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 0aa073b7921a2c761bc9fa9b6bcb9bfe03bf210f

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, backend database is MogDB (based on openGauss)
macOS

### Expected behavior
Login successfully with gsql.
Access macOS host proxy from docker.

### Actual behavior
Client got

[2022-04-09 14:53] TeslaCN commented on #16705
Hi @sandynz
This issue is cause by `LANG` of your environment. I can reproduce this issue by the following operations. Consider setting your `LANG` to UTF-8 to avoid this issue. We may do some enhancements to support more charset in ShardingSphere-Proxy.

<img width="698" alt="image" src="https://user-images.githubusercontent.com/20503072/162579339-6e6dcd1a-3f18-4b61-a827-1f4aae0fd258.png">

[2022-04-09 18:57] NJCrazyRen opened #16709 "Exception "Column index out of range" happend when querying ShardingSphere-proxy"
ShardingSphere-proxy 5.1.0

I use ShardingSphere-proxy only for data-decrypt, so there is just only one data source which is a MySQL database. In the mysql database there is a table named "ssrc_rfx_quotation_line" with 276 columns. When I trying to execute query like 'select * from ssrc_rfx_quotation_line', the exception happend.

That table is a plain table without any encrypt column, so there ar

[2022-04-09 19:12] NJCrazyRen commented on #16709
The table in database is may less than 276 columns at beginning and ShardingSphere-proxy started.
Then someone added column(s) but ShardingSphere-proxy didn't restart.

[2022-04-10 01:40] yx9o commented on #16698
@weihubeats Welcome.

[2022-04-10 05:02] longtai-cn commented on #16288
@ntsompa Hello, do you have time to finish the remaining tasks.

[2022-04-10 08:17] ntsompa commented on #16288
@longtai-cn Hello, you could take them if you want, i don't have much time lately.

[2022-04-10 08:51] longtai-cn commented on #16288
@ntsompa nYes, thank you

[2022-04-10 09:43] zjcnb commented on #16709
@NJCrazyRen Hello, Maybe you can refer to : https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/

Execute `REFRESH TABLE METADATA` to refresh your metadata for `ShardingSphere-Proxy`

[2022-04-10 13:17] sandynz commented on #16705
`LANG` is not set by default.
[code]

After set `export LANG=en_US.UTF-8`, it works.

[2022-04-10 13:36] sandynz commented on #16691
Thanks. I didn't notice `ConfigurationPropertyKey.PROXY_FRONTEND_DATABASE_PROTOCOL_TYPE` before.
I tested `proxy-frontend-database-protocol-type: openGauss` property, it works.

[2022-04-10 13:36] #16691 closed

[2022-04-10 13:40] sandynz commented on #16694
Closed now. It will be supported later.

[2022-04-10 13:40] #16694 closed

[2022-04-10 16:31] terrymanu opened #16718 "Add test cases for RuleAlteredDetectorFactory"

[2022-04-11 01:13] NJCrazyRen commented on #16709
It's very helpful. Thank you.

[2022-04-11 01:48] Gordonman opened #16720 "I chose the sharding strategy is preciseShardingAlgorithm, but I want to use HintManager"
## Question

shardingshere version: 4.0.0-RC2

I chose the sharding strategy is preciseShardingAlgorithm, and the precise algorithm class was specified.

When there is no sharding key in SQL, I want to use HintManager to manually specify the sharding key, but it does not take effect.

I checked the source code and found that only one sharding rule can be configured.

Is there any way to solve my p

[2022-04-11 02:24] RaigorJiang commented on #16689
Hi @mylixiangxiang ,
1. what's your version of ShardingSphere?
2. why the column after `where` in brackets?  can you try ` where capital_id in (value)`

[2022-04-11 02:27] TeslaCN commented on #16569
Hi @happyi
Could you show us how you did the benchmark? If you test the performance by performing only one insert, the result may be inaccurate.
https://www.oracle.com/technical-resources/articles/java/architect-benchmarking.html

[2022-04-11 02:27] RaigorJiang commented on #16720
Hi @Gordonman , Please see if sql hint can solve your problem？

[2022-04-11 02:31] RaigorJiang commented on #16720
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#route-to-the-specified-database-with-hint

[2022-04-11 02:56] Gordonman commented on #16720
Thank you  @RaigorJiang.
I've tried before , but it can't solve my problem.   Because I have specified the table strategy is standard.
Use hintManager.addTableShardingValue to add sharding key value of table. it does not take effect.

[2022-04-11 03:11] chenrunkun opened #16723 "visual tool"
## Question
1.shardingsphere-proxy Have a good visualization tool
2.shardingsphere-proxy 5.1 Which version of Navicat Premium is compatible

[2022-04-11 03:39] RaigorJiang commented on #16720
@Gordonman
I am referring to specifying sharding routing through `SQL comments`, which does not require hint algorithm and is designed for sharding algorithm.
But this requires you to upgrade to version 5.x.

- example
[code]

[2022-04-11 04:14] jingshanglu commented on #16631
Can you try this on mysql client?

[2022-04-11 05:39] #16686 closed

[2022-04-11 05:46] wlklnn opened #16725 "how to config actual-data-nodes while my actual-data-nodes tables is dynamic。"
My shard-table will be created everyday。 It can't be configured by
 <sharding:table-rule logic-table="t_mt" table-strategy-ref="self_hint_shard"  actual-data-nodes="——"/>
my maven dependency is
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-namespace</artifactId>
            <version>5.1.0</version>
        </de

[2022-04-11 06:51] #16698 closed

[2022-04-11 07:04] weihubeats commented on #16718
Hey, Can I work on this please?

[2022-04-11 07:18] #16705 closed

[2022-04-11 07:19] strongduanmu commented on #16660
@ycy1991 Skipping parsing is not a good idea, currently all ShardingSphere features relies on SQL parsing. We will consider supporting parsing of multiple SQL statements in the future.

[2022-04-11 07:22] strongduanmu commented on #16660
If you really need the passthrough feature, you can refer to this doc——
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#%E4%BD%BF%E7%94%A8-hint-%E8%B7%AF%E7%94%B1%E8%87%B3%E6%8C%87%E5%AE%9A%E6%95%B0%E6%8D%AE%E5%BA%93.

[2022-04-11 07:22] strongduanmu commented on #16718
@weihubeats Welcome.

[2022-04-11 07:31] wlklnn commented on #16725
if the actual-data-nodes was set as not exists table,there is a NPE.
![image](https://user-images.githubusercontent.com/29269426/162686444-edacb773-0ebd-4442-aa93-50ea0cbcfd5a.png)

[2022-04-11 07:40] ycy1991 commented on #16660
I use the following scheme to deal with it. I think it should be possible，Write mybatis SQL into the code and traverse it
![image](https://user-images.githubusercontent.com/16506338/162688010-b92cfd1f-77b7-4306-bffc-400d0f798287.png)

Put the code into a transaction
@Transactional(rollbackFor = Exception.class, timeout=1000)
  public void batchUpdate(List<XxlJobLog> batchUpdateLogs) {
        // 通

[2022-04-11 07:40] linghengqian commented on #16725
- This answer in Apache ShardingSphere 5.1.0, the best answer is obviously to rely on Zookeeper/Etcd, in Apache ShardingSphere Proxy to dynamically change through DistSQL.

- Of course, you can do some things via CI/CD without using a Proxy, because ActualDatanode is actually a Groovy expression that can call static variables and methods of Java classes. If you know Gitlab Runner, I'm sure you kno

[2022-04-11 07:48] strongduanmu commented on #16660
@ycy1991 Call the native JDBC interface directly by splicing SQL?

[2022-04-11 08:32] wuweiit commented on #15706
[code]
I have the same problem，By looking at the source code, I found that there seems to be a problem with this judgment，this code

ShardingInsertStatementValidator.class 99 lines
[code]

`!routeContext.isSingleRouting()` this is mulitRouting
`isSingleDataNode` is false
so throw exception "Insert statement does not support sharding table routing to multiple data nodes."

my config:
[code]

[2022-04-11 08:52] wlklnn commented on #16725
The actualDatanode  is dynamic ,for example, today's  ActualDatanode is [table_name_20220401..table_name_20220411], and  become [table_name_20220402..table_name_20220412] tomorrow,should i use a Scheduling to set ActualDatanode everyday ? but i can't find how to do this.

[2022-04-11 09:00] ycy1991 commented on #16660
Yes, I don't need to calculate the routing table through shardingjdbc. I can calculate the actual routing table in advance

[2022-04-11 09:34] sandynz opened #16730 "Cleanup replication slot for MogDB failed when scaling job is almost completed"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 2a144cc4716c0601989b4bba6ae2f1225e09d7aa

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, backend database is MogDB (based on openGauss)

### Expected behavior
Replication slot could be removed.

It need to support cleanup replication slot in proxy cluster.

### A

[2022-04-11 09:36] wlklnn commented on #16725
@linghengqian
Thanks very much.
I just use ShardingSphere's jdbc ,not proxy ,so there is no DistSQL, and the most hard for me is :how to refresh actualdatanodes without restart my application.  how to get the [actualdatanodes ] bean object and reset it's value is still  unknown to me.
thanks agin for your reply.

[2022-04-11 09:52] linghengqian commented on #16725
There is also some experiment in ShardingSphere 4.x to implement `SPI` in the registry to dynamically modify `actualDatanodes`, this process becomes more complex in `5.x` as the data distribution changes and the `ShardingRule` is rebuilt, I wonder if anyone's willing to do that. If you dispense with `ShardingSphere` data sources altogether, you can use its algorithm classes to encapsulate util you

[2022-04-11 10:05] ycy1991 opened #16734 "Select Order by SQL EPE"
## Question
config
![image](https://user-images.githubusercontent.com/16506338/162715280-19526b66-9821-4df1-85ae-2e3efa311803.png)
router
![image](https://user-images.githubusercontent.com/16506338/162715080-14a40de0-99fd-452c-859b-e6376f677172.png)

sql
![image](https://user-images.githubusercontent.com/16506338/162715503-fe90d29d-6e40-43a9-992e-ee475b91c816.png)

NPE
![image](https://user-images

[2022-04-11 10:33] tuichenchuxin commented on #16734
Seems your `xxl_job_log_0_1` is not exists.

[2022-04-11 10:53] ycy1991 commented on #16734
Must this table be created? xxl_job_log_0_1 ，Can I assign values manually?

[2022-04-11 10:57] lwclover opened #16735 "Shardingsphere-proxy fails to establish a connection when it proxies multiple versions of mysql databases"
Shardingsphere proxy version 5.0.0.

Shardingsphere-proxy proxies 2 mysql servers, mysql 5.6 and 5.7.

The mysql driver version used by the application is  8.0.13,Now select version() result is 5.7.34-log-ShardingSphere-Proxy 5.

The application fails to establish a connection, Exception is:
[code]

The reason is that mysql needs to query the isolation level of the database after establishing a co

[2022-04-11 10:59] ycy1991 commented on #16734
It's a little strange. I think as long as any physical table corresponding to the logical table is created, it should be able to match?

[2022-04-11 11:30] linghengqian opened #16738 "`IntervalShardingAlgorithm` uses `toString()` method on `LocalDateTime` resulting in `StringIndexOutOfBoundsException`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-11 11:32] TeslaCN commented on #16735
Is there any error logs in ShardingSphere-Proxy?

[2022-04-11 11:41] wqzcoder opened #16739 "How to dynamically add data sources and specify cuts"
I would like to ask, I control the data source myself, and then what annotations are dynamically cut to the data source I dynamically add

[2022-04-11 12:29] terrymanu opened #16741 "Add test case for DefaultSourceWritingStopAlgorithm"

[2022-04-11 13:04] wuweiit commented on #15706
@RaigorJiang 5.1.0  use mybatis plus generate insert SQL：

[code]

In the verification phase of insert SQL, an exception is thrown. Then I use debug to modify the variable `isSingleDataNode` to true. After releasing the execution, the SQL is output normally
[code]
So I guess it's whether the judgment of that code is reversed.

[2022-04-11 13:49] zjcnb commented on #16738
@linghengqian Can you provide a demo project?

[2022-04-11 14:40] RaigorJiang commented on #15706
@wuweiit
OK, thanks for your feedback.

Hi @tuichenchuxin , could you help investigate?

[2022-04-12 00:57] newchendb commented on #16631
I have abandoned sharding proxy and used shardingjdbc instead

[2022-04-12 00:58] #16631 closed

[2022-04-12 01:06] lwclover commented on #16735
There is no error in ShardingSphere-Proxy.

[2022-04-12 01:23] newchendb opened #16750 "Will shardingjdbc programs run on machines with sharding-proxy deployed be affected"
## Question
My program uses shardingjdbc. It runs normally locally and on a clean server.
However, when deployed to a machine with sharding-proxy, an error will be reported. The contents of the error report are as follows. What is the situation.

`
2022-04-12 08:44:24.234 [http-nio-8301-exec-4] ERROR c.w.starter.web.exception.GlobalExceptionHandler.handleException:80 - 全局处理出错: org.springframework.

[2022-04-12 01:32] newchendb commented on #16750
This is the configuration of shardingjdbc
`
spring.shardingsphere.mode.type=Standalone
spring.shardingsphere.mode.repository.type=File
spring.shardingsphere.mode.overwrite=true

spring.shardingsphere.props.sql-show=true

spring.shardingsphere.schema.name=saas_charge_order

spring.shardingsphere.datasource.names=write-ds-0,write-ds-1,write-ds-0-read-0,write-ds-1-read-0

spring.shardingsphere.dataso

[2022-04-12 01:51] #16660 closed

[2022-04-12 01:54] luckleemon opened #16751 "HASH_MOD sharding-count configuration question"
i want use the hash_mod sharding-algorithm, and have configure the sharding-count , but when i start the project
it throw the exception as the below, why?

[org/apache/shardingsphere/sharding/spring/boot/ShardingRuleSpringBootConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.apach

[2022-04-12 01:54] Gordonman commented on #16720
@RaigorJiang
Ok, I see, thanks. Version upgrade is a difficult thing.
I have another question, Dose SQL comments support specifying sharding table? I checked the doc and found that it seems to only support data source routing

[2022-04-12 02:08] tianhao960 commented on #16741
hello, I would like to contribute to this issue.

[2022-04-12 02:10] wuweiit commented on #15706
@RaigorJiang In today's test, it was found that the level of yaml configuration file was wrong, resulting in the incorrect reading of segmentation algorithm, which was embarrassing. However, this exception can be optimized. If the multi node fragmentation algorithm is configured and the error log with clear points is not configured, it is convenient to analyze the problem

[2022-04-12 02:19] linghengqian commented on #16738
- It looks like ShardingSphere is not working properly when using `order by desc` under h2database 1.4.x, which prevents me from further testing.
- A related repository is available at https://github.com/linghengqian/date-interval-sharding-algorithm-test.

[2022-04-12 02:24] RaigorJiang commented on #16751
Hi @luckleemon
What is the version of ShardingSphere?
Please provide some more information, like sharding table rule.  I suspect this problem is caused by not using auto table.

[2022-04-12 02:27] RaigorJiang commented on #16750
Hi @newchendb
What is the host and port where the proxy runs, and does it affect the data source connection of the JDBC application?

[2022-04-12 02:28] sunxuejian commented on #15535
help me, for the same issue, i used latest version 5.1.0,  still slow.

tables: 8000+

Loading table metadata takes 15 minutes

[2022-04-12 02:45] #16657 closed

[2022-04-12 02:47] newchendb commented on #16750
@RaigorJiang
The database is on other machines, but the proxy is on this machine. The local IP is 10.0.0.9 and the port used is 8888.
The database information configured by shardingjdbc is correct.

[2022-04-12 02:50] #16730 closed

[2022-04-12 02:52] RaigorJiang commented on #16750
One possibility: Since the JDBC application and the Proxy are on the same host, they connect to the database at the same time, and the number of connections exceeds the maximum allowed by the database?

[2022-04-12 02:56] RaigorJiang commented on #16720
Yes, just support hint to data source for now.

[2022-04-12 02:59] RaigorJiang commented on #15706
@wuweiit
OK, thanks for your feedback. The exception prompt is a very important suggestion, and you are also welcome to submit a PR to participate together.

[2022-04-12 03:02] newchendb commented on #16750
![image](https://user-images.githubusercontent.com/29219642/162870657-d5dd277a-cedd-4613-aad8-c7f572927384.png)
@RaigorJiang
This should not be the reason. The maximum number of connections I set is relatively large. The number of real-time connections is only dozens

[2022-04-12 03:09] RaigorJiang commented on #16750
Because they are independent processes, other than sharing machine resources, there is no other impact.
No more ideas, hope you find the cause of the problem and look forward to more feedback.

[2022-04-12 03:13] lixaviers commented on #16640
Hello, I tried to upgrade to version 5 and tested it. Found that the main library, every time I try to debug and see `ReadwriteSplittingDataSourceRouter`  class, `TransactionHolder.IsTransaction().` All the Transactional operations I've read before used @Transactional(readOnly = true). Now that means getting rid of all @Transactional(readOnly = true) is too expensive

[2022-04-12 03:19] Even-sun opened #16753 "Shadingjdbc datasource initialization is too slowly"
shadingjdbc version: 5.1.0

same issue:  #10938

in my database it used one logic table . when initializing the datasource, read the metadata of all my tables.  8000+ tables takes 15 minutes.  how can i resolved it.

<img width="1311" alt="image" src="https://user-images.githubusercontent.com/21055134/162872868-55ff1018-c1bd-4b3d-bb6f-a205b0b40dba.png">

[2022-04-12 03:44] #16718 closed

[2022-04-12 03:51] tuichenchuxin commented on #15535
How many datasource? 8000+ is all single table?
Can you help to analysis which code is slow?

[2022-04-12 04:18] luckleemon commented on #16751
i have solved the problem， 'hash_mod_user' do not works ，because  it must replace the '_' to '-',  as  'hash-mod-user'

[2022-04-12 04:48] strongduanmu opened #16757 "NullPointerException occurs when connect ShardingSphere-Proxy with mysql"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/93db6243cb43555921688f51869a0426fbb87a72

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Connect ShardingSphere-Proxy with mysql successully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Ste

[2022-04-12 04:56] strongduanmu opened #16759 "Add more unit test for DatabaseAdminQueryBackendHandler"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for DatabaseAdminQueryBackendHandler.

- [ ] DatabaseAdminQueryBackendHandler#execute
- [ ] DatabaseAdminQueryBackendHandler#next
- [ ] DatabaseAdminQueryBackendHandler#getRowData

To finish this task, you can refer `BroadcastDatabaseBack

[2022-04-12 05:23] zjcnb commented on #16753
@Even-sun  Hi, The metadata multi-threaded loading is only for data sources, and table-level multi-threaded loading not support now. Are you interested in enhancement to it?

[2022-04-12 06:16] strongduanmu commented on #16656
Hi @zorohu, I found some problems from your configuration. First problem is dataSourceName in actualDataNodes. If you want to use read-write splitting feature, you need to configure read-write splitting aggregation data source with a unique name and use it in actualDataNodes. I made the following modifications to your configuration.

The second problem is that according to the sharding strategy yo

[2022-04-12 06:17] Even-sun commented on #16753
i hope not to load all tables metadata, just process ShardingRule contained tables,  SingleTableRule load all table it is too slowly.

[2022-04-12 06:27] #16751 closed, assigned to nobody

[2022-04-12 06:32] zorohu commented on #16656
@strongduanmu Thanks again for your reply, this problem has been solved after I modified the configuration. But the read-write separation configuration thank you for reminding me, otherwise I may still be using the wrong configuration. This issue can be closed, and finally I like your patience and professionalism

[2022-04-12 06:33] #16656 closed

[2022-04-12 06:37] strongduanmu commented on #16656
@zorohu You are welcome. Looking forward to seeing you more in the community.

[2022-04-12 06:49] #15578 closed

[2022-04-12 06:58] strongduanmu commented on #13429
Since kill statement parse has already been supported, I will close this issue. For support of kill statement execution, please refer to issue #14525.

[2022-04-12 06:58] #13429 closed

[2022-04-12 07:33] lanchengx commented on #16723
Hi @chenrunkun,  please refer [FAQ](https://shardingsphere.apache.org/document/5.1.0/cn/reference/faq/#proxy-%E5%9C%A8%E4%BD%BF%E7%94%A8-shardingsphere-proxy%E6%97%B6%E6%80%8E%E4%B9%88%E4%BD%BF%E7%94%A8%E5%90%88%E9%80%82%E7%9A%84%E5%B7%A5%E5%85%B7%E8%BF%9E%E6%8E%A5%E5%88%B0-shardingsphere-proxy)

[2022-04-12 08:01] #16640 closed

[2022-04-12 08:17] RaigorJiang opened #16762 "Query result of `SHOW TABLES` is abnormal."
## Bug Report
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy ([#2b53353e](https://github.com/apache/shardingsphere/commit/2b53353ef4179ffeb5e6a36ca8b44858f7773a97))

### Background
I hava a logic table `t_order`:
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### Reason analyze (If you can)
The filter conditions of show tables are not case-insensitive

[2022-04-12 09:16] #16762 closed

[2022-04-12 09:36] sandynz opened #16768 "Logical replication slot created too late cause partial incremental data lost in openGauss scaling job"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 22e7fa81d5541f31a9ee5e69d55714005c138564

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy, backend database is MogDB (based on openGauss)

### Expected behavior
Incremental data (INSERT/UPDATE/DELETE during inventory data sync) could be synchronized to new shard.

[2022-04-12 10:20] strongduanmu opened #16770 "Need to support PostgreSQL create view, alter view and drop view statements with single table"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/3e4dab8c89d3a38e63e0cc1df88f77c481efa412

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Execute PostgreSQL create view, alter view and drop view statements with single table successfully.

### Actual behavior

Th

[2022-04-12 10:37] #16288 closed

[2022-04-12 11:10] strongduanmu opened #16772 "Add more unit test for AlterViewStatementHandler"
Hi community,

This issue is for [OpenForce](https://github.com/apache/shardingsphere/discussions/12683#discussioncomment-2139441)

We need to add more unit test for AlterViewStatementHandler.

- [ ] AlterViewStatementHandler#getRenameView

To finish this task, you can refer AlterViewStatementHandlerTest, it has already provide an example.

[2022-04-12 11:23] wqzcoder commented on #16739
Help me

[2022-04-12 11:27] strongduanmu commented on #16739
You can try distsql, it allows users to add resources(datasources) dynamically. For more information, you can refer this doc——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/.

[2022-04-12 11:34] strongduanmu commented on #16284
Hi  @akhil9281 , `ClassBasedShardingAlgorithmFactory` is a factory class used to create `ClassBasedShardingAlgorithm`. You only need to mock some input parameters, and then judge the result through assertion.

If you don't know where to start, you can refer to `DatabaseBackendHandlerFactoryTest`, which is a typical factory class unit test.

[2022-04-12 11:50] ThanoshanMV commented on #16772
Hi, can I try this

[2022-04-12 11:51] strongduanmu commented on #16772
@ThanoshanMV Of course, but we need to wait pr #16771 merged.

[2022-04-12 12:37] #16768 closed

[2022-04-12 12:44] longtai-cn commented on #16759
@strongduanmu hi, can you assign it to me

[2022-04-12 12:57] linghengqian opened #16774 "Raise the JDK base version of `ShardingSphere Proxy` image on `Docker Hub` for performance improvements"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- No.

### Describe the

[2022-04-12 14:49] RaigorJiang opened #16777 "Reject execution of non-query DistSQL in transaction"
Hi community,

In ShardingSphere-Proxy, if user begins a transaction and executes DistSQL during the transaction:
- DistSQL will not wait for commit, the execution will take effect immediately.
- Changes made by DistSQL will not be rolled back when the transaction is rolled back.

After discussion with @tristaZero , we have a plan:
When a connection is in a transaction, the connection will no long

[2022-04-13 00:19] strongduanmu commented on #16759
@longtai-cn Welcome.

[2022-04-13 01:48] strongduanmu commented on #16753
@tuichenchuxin Can you help check this issue?

[2022-04-13 02:18] #16770 closed

[2022-04-13 02:25] tuichenchuxin commented on #16753
@strongduanmu sure.
@Even-sun Can you help to position the slow code?
And 8000+ are all single tables one datasource?

[2022-04-13 02:36] wqzcoder commented on #16739
I use shardingJdbc.For example, now I configured 2 data sources, and at runtime, I added 3 more data sources, so now there are 5 data sources, so how do I specify one of the libraries
![image](https://user-images.githubusercontent.com/67619412/163088520-ffd8e75f-73aa-4ae3-ba39-7236a043c109.png)

[2022-04-13 02:50] strongduanmu commented on #16739
@wqzcoder It is not possible to dynamically add data sources using ShardingSphere-JDBC alone. You can mix and deploy ShardingSphere-JDBC and ShardingSphere-Proxy in Cluster mode, allowing you to dynamically add data sources through DistSQL.

[2022-04-13 03:15] wsm12138 opened #16784 "In some case ,Proxy cluster mode not available."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-13 03:18] wsm12138 commented on #16784
But if change ProxyA name from `5aa2071bcb1d850b61b8e2b98ba77f2d12b683ae ` to `Proxy1`;
change ProxyB name from `5aa2071bcb1d850b61b8e2b98ba77f2d12b683ae.bak` to `Proxy2`.
Do step 5-7,we can find proxy B still alive.

[2022-04-13 05:37] cucuzi opened #16787 "Get select sum decimal precision error"
## Bug Report
I select a list, but the decimal is wrong.

using shardingsphere-jdbc: 5.1.0

### Expected behavior
list string:
[BookClassStatistic(classChar=A, classNum=2, bookNum=3, sumPrice=89.10), BookClassStatistic(classChar=B, classNum=2, bookNum=3, sumPrice=121.60), BookClassStatistic(classChar=D, classNum=2, bookNum=2, sumPrice=38.80), BookClassStatistic(classChar=Z, classNum=1, bookNum=2,

[2022-04-13 05:43] strongduanmu commented on #16787
@cucuzi Thank you for your contribution, I will investigate this issue.

[2022-04-13 06:51] TeslaCN commented on #16784
Hi @wsm12138
This issue may be related to ShardingSphere-Proxy's shutdown script.

https://github.com/apache/shardingsphere/blob/24ddd96752447681fe04f0bac066f2ea77f5cb92/shardingsphere-distribution/shardingsphere-proxy-distribution/src/main/resources/bin/stop.sh#L25

The script find the Proxy's PID by directory. I'm happy to review a PR. Would you like to fix this?

[2022-04-13 07:01] TeslaCN commented on #16750
Hi @newchendb
Have you tried the examples? https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/transaction-example/transaction-base-seata-spring-boot-example

[2022-04-13 08:40] qiaoheng110 opened #16792 "shardingsphere-jdbc 5.1.0 Cluster mode ClassNotFoundException"
<img width="375" alt="image" src="https://user-images.githubusercontent.com/20252910/163135058-4c671a37-8e23-49c9-b967-1809455c0655.png">
<img width="725" alt="image" src="https://user-images.githubusercontent.com/20252910/163135225-d24ca3df-994e-4111-a7bb-56a3cad40ce2.png">
when i add the below dependency missing another class，I think it conflicts with the dubbo version. Most projects will use du

[2022-04-13 09:18] TeslaCN commented on #16792
Could you check the actual version of Curator? The ShardingSphere require Curator 5.x.

[2022-04-13 09:52] wlklnn commented on #16725
I try to refresh it by ContextManager.alterRuleConfiguration(final String schemaName, final Collection<RuleConfiguration> ruleConfigs),It seems to be working properly.
[InitActualDataNodesExample.txt](https://github.com/apache/shardingsphere/files/8480180/InitActualDataNodesExample.txt)

[2022-04-13 09:52] #16725 closed

[2022-04-13 09:57] #16734 closed

[2022-04-13 10:05] muchengyang opened #16793 "Dynamic create table add unuse tag"
## Question

**For English only**, other languages will not accept.
Using mybatis to create a table, SQL rewrites the index field and adds the table name. This is a very bad rewriting SQL. After looking at the source code, I can't find a solution. Can I configure it to prevent it from rewriting SQL in this way, or customize the function of rewriting SQL

![image](https://user-images.githubusercont

[2022-04-13 10:11] Green524 opened #16794 "分布式序列生成无效"
## Question
I use distributed sequence generation in my project, and always get the error Column 'order_id' cannot be null

##Version
SpringBoot 2.1.0
ShardingSphere-jdbc 5.0.0
mybatis-spring-boot-starter  2.2.2
druid 1.2.9

##SQL
![图片](https://user-images.githubusercontent.com/72535046/163155979-d32499dd-043a-41f2-bb05-0bd06133ae1f.png)

##application-sharding-tables.properties file
spring.shardi

[2022-04-13 10:18] novice-gamer opened #16795 "Version problem"
# Problem background
The shardingsphere proxy (version 5.1.0) is configured with zookeeper。
- This is version 5.1.0 of the connection
[code]

After that, I downloaded the latest version 5.1.1 and used the same zookeeper.
Although you can log in with the same user name and password, there are no data sources
- This is version 5.1.1 of the connection
[code]

-------

5.1.1 version configuration file

[2022-04-13 10:31] zjcnb commented on #16794
@Green524 Hello, thank for your feedback. Can you transalate titile for this issue first?

[2022-04-13 10:34] zjcnb commented on #16795
@novice-gamer Hi, thank for your feedback. I will check it.

[2022-04-13 11:00] qiaoheng110 commented on #16792
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/20252910/163166497-37d6beb8-f411-470e-b33e-f00690f69350.png">

[2022-04-13 11:07] qiaoheng110 commented on #16792
i think shardingsphere-cluster-mode-repository-zookeeper-curator    the version of Curator depends on is wrong

[2022-04-13 11:42] Trydamere commented on #14015
- `ALTER OPERATOR`
- `ALTER OPERATOR CLASS`
- `ALTER OPERATOR FAMILY`
- `ALTER POLICY`
- `ALTER PUBLICATION`
- `ALTER ROUTINE`

[2022-04-13 11:58] everly-gif commented on #14015
@strongduanmu aren't these statements part of the GSOC project ? Hence, it should be worked on only during the coding period right?

[2022-04-13 12:01] Trydamere commented on #14015
Sorry. I forgot it. Withdrew.

[2022-04-13 12:19] zjcnb commented on #16795
The `ZooKeeper` center are adjustment, the `5.1.0` get data source path are : `/metadata/test/versions/0/dataSources`. But the `5.1.1` version to get data source path are : `/metadata/test/test/versions/0/dataSources`.

[2022-04-13 12:27] linghengqian commented on #16725
@wlklnn
- Your sharing looks very cool! It's the first time I see such an application.

@strongduanmu
- Is it possible to provide a `Util` class within `ShardingSphere JDBC` that wraps the method `updateShardRuleActualDataNodes()` for updating `actual-data-nodes` mentioned by @wlklnn  ? I believe many people are looking for how to update it dynamically, and it is convenient to simplify the process

[2022-04-13 12:52] tianhao960 commented on #14083
hello, I would like to work on RenameTableStatementSchemaRefresher test

[2022-04-13 13:14] RaigorJiang commented on #16795
Hi @zjcnb , what's the difference bewteen the two 'test'?

[2022-04-13 13:38] terrymanu commented on #16794
**For English only**, other languages will not accept.

[2022-04-13 13:38] #16794 closed

[2022-04-13 13:50] strongduanmu commented on #14015
@everly-gif @Trydamere Yes, these tasks need to be done during GSOC, so please skip these subtasks for now.

[2022-04-13 13:50] #16741 closed, assigned to tianhao960

[2022-04-13 13:53] strongduanmu commented on #16725
@linghengqian Thank you for your remind, I will take a look at this way.

[2022-04-13 15:42] Green524 opened #16803 "Distributed sequence generation is invalid"
## Question
I use distributed sequence generation in my project, and always get the error Column 'order_id' cannot be null

##Version
SpringBoot 2.1.0
ShardingSphere-jdbc 5.0.0
mybatis-spring-boot-starter  2.2.2
druid 1.2.9

##SQL
![图片](https://user-images.githubusercontent.com/72535046/163155979-d32499dd-043a-41f2-bb05-0bd06133ae1f.png)

`##application-sharding-tables.properties file
spring.shard

[2022-04-13 16:47] terrymanu opened #16805 "Add test case for ExecuteProcessReporterFactory"

[2022-04-14 01:43] novice-gamer commented on #16795
OK, thanks for your answer

[2022-04-14 02:25] weihubeats commented on #16805
Hi, can I try this

[2022-04-14 02:28] strongduanmu commented on #16805
@weihubeats Welcome.

[2022-04-14 02:38] Green524 opened #16806 "SELECT UUID_SHORT() across data sources"
## Question
I used SELECT UUID_SHORT() to generate UUID in MyBatis. It should have been the same data source to generate the id, but I switched the data source at this time.

![图片](https://user-images.githubusercontent.com/72535046/163302808-0294a9c8-c862-4e33-bbd5-52f15215df85.png)

Creating a new SqlSession
Registering transaction synchronization for SqlSession [org.apache.ibatis.session.default

[2022-04-14 02:45] #16709 closed

[2022-04-14 03:06] ycy1991 commented on #16793
Thinks,I understand, but I think this location should have different database types and pluggable rewrites, otherwise it's a little unfriendly to use

[2022-04-14 03:13] wayinit opened #16807 "Cannot get result in Association query with single table"
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy master
### Expected behavior
got the count
### Actual behavior
got an error
[C1997][1997] Runtime exception: [All tables must be in the same datasource.]
### Reason analyze (If you can)
I have no idea.
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when excep

[2022-04-14 03:55] #16774 closed

[2022-04-14 03:59] #16738 closed

[2022-04-14 04:06] zjcnb commented on #16803
@Green524 Thank you for your feedback, i will check it.

[2022-04-14 05:40] Green524 commented on #16803
Looking forward to your reply.

[2022-04-14 06:03] #16735 closed

[2022-04-14 06:57] VeejaLiu opened #16814 "Slack channel is invalid"
I can't open the channel provided by the official website. Is it not maintained now?

[2022-04-14 07:14] zjcnb commented on #16814
@VeejaLiu Hi, Can your provider official website url? I can visit it in my here.

[2022-04-14 07:27] VeejaLiu commented on #16814
https://apacheshardingsphere.slack.com/?redir=%2Fmessages%2FC026MLH7F34

[2022-04-14 07:28] VeejaLiu commented on #16814
<img width="2026" alt="image" src="https://user-images.githubusercontent.com/22064617/163335678-e921e827-ba70-424c-9945-a49fd674a9d4.png">

[2022-04-14 07:29] Even-sun commented on #16753
Yes, these tables are in the one datasource. but i only have one logic table need sharding,

[2022-04-14 07:29] VeejaLiu commented on #16814
I am in hiretual.slack.com

[2022-04-14 07:44] VeejaLiu commented on #16814
I have entered slack through the invitation connection. Thank you, but please check this problem.

[2022-04-14 07:45] strongduanmu commented on #16625
Ref #14004.

[2022-04-14 08:14] #16625 closed

[2022-04-14 08:26] #16439 closed

[2022-04-14 08:32] terrymanu opened #16822 "Add test case for YamlRuleConfigurationSwapperFactory"

[2022-04-14 09:44] weijialiu-hiretual opened #16825 "When managing data sources in the UI, no configuration is loaded"
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/82020360/163358902-defed321-25c9-43d0-921b-6d6741e93c07.png">
No Data:
<img width="1184" alt="image" src="https://user-images.githubusercontent.com/82020360/163358959-4d7885dd-0ad3-49a7-8625-ade429926d76.png">
<img width="1178" alt="image" src="https://user-images.githubusercontent.com/82020360/163359044-5e298c1c-311b-491

[2022-04-14 10:02] strongduanmu commented on #16825
Hi @weijialiu-hiretual thank you for your feedback, ShardingSphere-UI is not maintained, you can modify the source code by yourself.

[2022-04-14 10:12] #16647 closed

[2022-04-14 10:26] novice-gamer opened #16829 "Database selection error during SQL execution"
# Question
- Shardingsphere proxy version 5.1.1
- configuration file
Zookeeper is used, and the configuration file is as follows

customer_delivery_dev datasources:
[code]

crawler2021 datasources:
[code]

- error message

![error](https://raw.githubusercontent.com/novice-gamer/picture/master/9ef8013576763fdd87990356fe866e5.png)

The database queried is customer_ Delivery_ Dev, why from crawler202

[2022-04-14 10:30] weijialiu-hiretual commented on #16825
OK I see
Thank you

[2022-04-14 10:30] #16825 closed

[2022-04-14 10:35] strongduanmu commented on #16829
@novice-gamer Can you provide your sharding configuration?

[2022-04-14 11:10] jinkun2014 opened #16831 "NullPointException possibly caused by org.apache.shardingsphere.sharding.rule.ShardingRule#createBindingTableRules"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-14 11:39] weihubeats commented on #16822
Hi, can I try this

[2022-04-14 11:44] strongduanmu commented on #16822
@weihubeats Welcome, I just assign this issue to you.

[2022-04-14 12:08] linghengqian opened #16834 "Documentation lacks description of custom properties for CLASS_BASE"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes, refer to https://gi

[2022-04-14 16:18] a347807131 opened #16840 "A issue caused when integrating shardingsphere witing springboot jpa, when update a entity data."
## A issue caused when integrating shardingsphere witing springboot jpa.
i  have choose sharding-jdbc-core 4.1.0 to enble sharding tables, but i meet a weired issuse.

when i was trying to update  a entity date which had been selected with jpa from sharding tables,  jpa went to the table that was not the target according to my sharding algorithm .

And i did some debug, then found jpd will do sele

[2022-04-15 02:20] wrs1226 opened #16841 "Parser engine‘s compatible issues with oracle"
Problem details：
1、	SQL generated by hibernate‘s Session.get(cls,id)：
select sysuser0_.id as id1_63_1_, sysuser0_.create_datetime as create_d2_63_1_, sysuser0_.creator as creator3_63_1_, sysuser0_.deleted as deleted4_63_1_, sysuser0_.remark as remark5_63_1_, sysuser0_.serial_number as serial_n6_63_1_, sysuser0_.update_datetime as update_d7_63_1_, sysuser0_.updater as updater8_63_1_, sysuser0_.AREA

[2022-04-15 02:32] strongduanmu commented on #16841
Hi @wrs1226, thank you for your feedback, and can you translate this issue to english?

[2022-04-15 02:58] wrs1226 commented on #16841
不好意思，英语不好

[2022-04-15 03:03] strongduanmu commented on #16841
@wrs1226 You can try to translate this issue with some util, such as google translate.

[2022-04-15 03:23] #16805 closed

[2022-04-15 03:26] wrs1226 commented on #16841
嗯嗯 翻译了一下

[2022-04-15 03:41] wrs1226 opened #16845 "The shardingsphere-sql-parser-oracle's Source code[autogen] does not exist"
The shardingsphere-sql-parser-oracle's Source code does not exist：
shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-oracle/src/main/java/org/apache/shardingsphere/sql/parser/autogen

![image](https://user-images.githubusercontent.com/11829959/163514157-cc568d7a-8810-430b-8e15-0c8f11dc6d9c.png)

[2022-04-15 03:54] strongduanmu commented on #16845
@wrs1226 You can use `mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -Dmaven.test.skip=true -Prelease -T 1C -Dcheckstyle.skip=true` to generate these code.

[2022-04-15 06:01] zjcnb commented on #16834
@linghengqian Hi, Can you submit a pull request?

[2022-04-15 06:04] zjcnb commented on #16795
@RaigorJiang Hi, because it add database concept. The one is `database name` and another is `schema name`

[2022-04-15 06:32] RaigorJiang commented on #16795
@zjcnb Got it, thank you!

[2022-04-15 06:32] TeslaCN commented on #16792
The version of Curator may be changed by your other dependencies.

[2022-04-15 06:38] TeslaCN opened #16848 "`java.lang.ClassNotFoundException` occurred when using AES encryption or Narayana in Java 11 or 17"
## Bug Report

### Which version of ShardingSphere did you use?

master - a7f0d768177c6535690d776505db843adca7aa5f

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

- Proxy with XA provided by Narayana
- Proxy with encryption rule using AES algorithm.

https://github.com/apache/shardingsphere/blob/d924f489cf9a5037b801d04f4dc928e14565ab4f/shardingsphere-features/sharding

[2022-04-15 06:48] sunzhen086 opened #16849 "@Transactional cause all sql route to write database even in other request"
## Bug Report

### Which version of ShardingSphere did you use?

5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

i hava three databases of mysql，one for write，tow for read，i use ShardingSphere-Proxy and config readwrite-splitting, when a select not in transaction, i think it will route to read database .

### Actual b

[2022-04-15 06:49] linghengqian commented on #16834
The layout of this piece makes me not sure how to add the explanation. I hope other friends can submit the PR.

[2022-04-15 07:09] wrs1226 commented on #16845
The shardingsphere-sql-parser-oracle's Source code[autogen] will download from the maven&nbsp;repository? shardingsphere-sql-parser-oracle-5.1.0-sources.jar?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"

[2022-04-15 07:15] wrs1226 commented on #16845
The shardingsphere-sql-parser-oracle's Source code[autogen] will download from the maven repository? shardingsphere-sql-parser-oracle-5.1.0-sources.jar?

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "apache/shardingsphere"

[2022-04-15 07:16] mingyifei opened #16850 "[shardingsphere-encrypt] The encrypted data is not automatically decrypted during query."
## Bug Report

The encrypted data is not automatically decrypted during query.

Scenario: Shadow and encryption and decryption test. When the client configures javaagent, decryption fails.
javaAgent: https://github.com/SphereEx/cyborg-flow

version: master

server.yaml
[server.md](https://github.com/apache/shardingsphere/files/8495515/server.md)

config-shadow.yaml
[config-shadow.md](https://githu

[2022-04-15 07:24] strongduanmu opened #16851 "SQL syntax exception occurs when execute `SELECT EXTRACT(YEAR FROM TIMESTAMP '2001-02-16 20:38:40');`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/eae00f5dd54f098da3ea7b64672647abc7d0e725

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT EXTRACT(YEAR FROM TIMESTAMP '2001-02-16 20:38:40');` successfully for PostgreSQL.

### Actual behavior

SQL

[2022-04-15 07:33] yangsen00 commented on #16091
Hello，dose this issues need someone to solve? maybe I can.

[2022-04-15 07:35] strongduanmu commented on #16851
PostgreSQL time function doc: https://www.postgresql.org/docs/14/functions-datetime.html

[2022-04-15 07:42] strongduanmu opened #16855 "SQL syntax exception occurs when execute `SELECT MOD(c, 1) from t_int;`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/eae00f5dd54f098da3ea7b64672647abc7d0e725

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT MOD(c, 1) from t_int;` successfully for PostgreSQL.

### Actual behavior

SQL syntax exception occurs.

<im

[2022-04-15 07:44] novice-gamer opened #16856 "Version compatibility issues"
## Question
The same nodes on zookeeper are used, and only data sources are configured without table splitting rules. After updating the version, the following problems occur;

- Shardingsphere proxy version 5.1.0
![error1](https://raw.githubusercontent.com/novice-gamer/picture/master/0f19db020ee34ac7e2eff5d285ab7e2.png)

- Shardingsphere proxy version 5.1.1
![error2](https://raw.githubusercontent

[2022-04-15 07:45] strongduanmu commented on #16855
math function doc: https://www.postgresql.org/docs/14/functions-math.html

[2022-04-15 07:52] linghengqian opened #16857 "Syntax exception thrown when executing nested MySQL function"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-15 08:06] sandynz commented on #16091
@yangsen00 , Welcome!

[2022-04-15 08:37] zjcnb commented on #16840
@a347807131 Hi, The `4.1.0` verison are too old, You can try again with `5.1.1` version.

[2022-04-15 08:48] strongduanmu commented on #16857
@tuichenchuxin Can you help check this issue?

[2022-04-15 08:48] tuichenchuxin commented on #16857
sure, I'll check it.

[2022-04-15 09:09] skyjilygao opened #16865 "How to configure the default connection pool configuration for all data sources? Only config once."
## Question
How to configure the default connection pool configuration for all data sources? Only config once.

[2022-04-15 09:24] #16792 closed

[2022-04-15 10:24] #16848 closed

[2022-04-15 11:21] strongduanmu commented on #16850
Hi @mingyifei, I have try your configuration, but I can't reproduce this result. Can you give a step to help reproduce this problem?

[2022-04-15 11:30] mingyifei commented on #16850
My client uses javaagent, javaAgent: https://github.com/SphereEx/cyborg-flow

[2022-04-16 01:47] #16822 closed

[2022-04-16 06:27] sunzhen086 commented on #14858
me too

[2022-04-16 06:37] #16849 closed

[2022-04-16 06:37] sunzhen086 commented on #16849
#14868

[2022-04-16 06:49] linghengqian commented on #16857
@tuichenchuxin I'm sorry that the issue I raised has been resolved, I think I should close this issue and mark this issue as invalid. Because this has nothing to do with SQL parsing. I made the following changes in my local project and the issue was resolved.
[code]
The problem is solved after changing it to the following. Now I am passing back the full string in the business to avoid calling the

[2022-04-16 07:23] a347807131 commented on #16840
@zjcnb 换成了5.1.0， 结果并没有改变
[code]

[2022-04-16 08:36] doveylovey opened #16875 "the select was routed to write-ds, why?"
## Question

1、this is my config：
![image](https://user-images.githubusercontent.com/28882195/163668189-58a48fe6-929e-4d3b-976c-543341539d8e.png)

2、the execution result：
![image](https://user-images.githubusercontent.com/28882195/163668270-c918002f-25b8-45f0-a3aa-183eeb7db6b8.png)

[2022-04-16 10:33] Comven commented on #15925
mysql 5.7.32-log with shardingsphere-5.1.1 also has the same question.It seems that the end of time boundary is taken upward. 2022-03-07 23:59:59.999 as the end time, The result Contains the results of the next day '2022-03-08 00:00:000'.

However, the SQL log printed by shardingsphere looks correct. Using shardingsphere of version 5.0.0 or directly using mybatis can find the correct results.

[2022-04-16 10:38] strongduanmu commented on #16875
Hi @doveylovey, can you execute insert statement and select statement in a transaction?

[2022-04-16 12:30] strongduanmu commented on #16865
@skyjilygao Thank you for your feedback. Currently ShardingSphere does not support configuration of default data source properties, you need to configure properties for each data source separately. In addition, you can also simplify the configuration of yaml files through DistSQL.

[2022-04-16 12:37] #16851 closed

[2022-04-16 15:19] Glowdable opened #16880 "why did we need SingleTableRule?"
why did we need SingleTableRule? It's good feature for beginner. But It's too bad for production that people can not  limit its influence.More seriously It‘s too slow when loading the metadata of all my tables.
The ShardingSphere is a componentized design so I can only use read write spilt functionality, But it still loads the metadata of all my tables.

That's totally unnecessary.This is the case

[2022-04-16 15:28] RaigorJiang commented on #15925
Hi @Comven,
Thanks for your feedback, I will continue to investigate this issue. If there is any progress, it will be updated here as well.

[2022-04-16 15:35] RaigorJiang commented on #15113
Hi guys, in the investigation of transaction scenarios, it may be a more friendly way to manage DistSQL and standard SQL in the same transaction manager.
Therefore, the current issue will be updated to pending and new features will start in #16777 .

[2022-04-16 23:41] strongduanmu commented on #12957
Fixed by #15965.

[2022-04-16 23:41] #12957 closed

[2022-04-16 23:49] strongduanmu commented on #16880
@Glowdable Thank you for your feedback. Using default database configuration requires users to be aware of the underlying database, which requires a certain usage cost. ShardingSphere hopes that users can use it like a native database.

For what you said, ShardingSphere only needs to load the sharding table, which is obviously wrong. In different scenarios, we also need the metadata of table to ma

[2022-04-17 02:55] Glowdable commented on #16880
It's not wrong. I think that Sharding and read-write spilt  are the basic functions of ShardingSphere.

We have to make sure the basic functionality is usable and user-friendly before extending other functionality.
In other words, we cannot sacrifice the availability or performance of basic functions for some unimportant or infrequently used functions.
We can do a survey to see how many people use

[2022-04-17 04:08] #16404 closed

[2022-04-17 09:53] zjcnb commented on #16875
The same to #14868

[2022-04-17 15:42] RaigorJiang commented on #16831
Hi @jinkun2014 ,
Thanks for your feedback, would you like to submit a PR to fix this issue?

[2022-04-18 01:02] doveylovey commented on #16875
Has this problem been solved now？Please tell me what I should do?

[2022-04-18 01:09] doveylovey commented on #16875
@zjcnb Has this problem been solved now？Please tell me what I should do.

[2022-04-18 02:04] doveylovey commented on #16875
This is an example in the project, I just changed the configuration, can you tell me how to change it?

[2022-04-18 02:05] novice-gamer commented on #16856
Can someone take a look

[2022-04-18 02:43] zjcnb commented on #16875
@doveylovey Hi, you can find `OrderServiceImpl.class` in `example-spring-mybatis` module. Remove `@Transactional ` annotation in `processFailure()` method and `processSuccess()` method.

[2022-04-18 03:21] doveylovey commented on #16875
@strongduanmu I can't understand what you said, can you speed up how to modify?

[2022-04-18 03:36] strongduanmu commented on #16875
@doveylovey Sorry, I made a typo. What I want to confirm is, are you executing the insert and select statements in transaction? The statements in the transaction will be executed by the primary datasource.

[2022-04-18 03:39] doveylovey commented on #16875
Your solution only works for `example-spring-mybatis` module, What about other modules?

[2022-04-18 03:41] doveylovey commented on #16875
@zjcnb Your solution only works for example-spring-mybatis module, What about other modules?

[2022-04-18 03:44] doveylovey commented on #16875
@strongduanmu yes, i executing the insert and select statements in transaction. But, if I don't do that, how do you guarantee transactions?

[2022-04-18 03:45] doveylovey commented on #16875
@zjcnb Your solution only works for example-spring-mybatis module, What about other modules?

[2022-04-18 03:47] strongduanmu commented on #16875
If you start a transaction, I think the route result is right. For more detail, please refer to this doc——https://shardingsphere.apache.org/document/current/cn/features/readwrite-splitting/use-norms.

[2022-04-18 03:50] doveylovey commented on #16875
@strongduanmu Ok, thank you very much

[2022-04-18 06:40] zjcnb opened #16890 "Run ProcessRegistrySubscriberTestNoMock.assertWholeProcessCompleted() unit test not successful"
[code]

[2022-04-18 06:56] tuichenchuxin commented on #16850
I want to check this issue.

[2022-04-18 08:41] xsong123 opened #16894 "insert values Lock wait timeout exceeded"
shardingsphere version 5.0.0
mysql version 5.7

**rule as belows:**
# 筛选结果临时表
filter_import_result:
  actualDataNodes: ds_${0..0}.filter_import_result_${0..15}
  databaseStrategy:
    standard:
      shardingColumn: asset_code
      # 算法名称
 shardingAlgorithmName: filter_import_result_db_hash_mod
    tableStrategy: &table001
 standard:
        shardingColumn: asset_code
        # 算法名称
 shardingAlgo

[2022-04-18 08:48] tuichenchuxin commented on #16857
@linghengqian sure, we can close it.

[2022-04-18 08:48] #16857 closed

[2022-04-18 08:50] tuichenchuxin commented on #16841
I'll check it.

[2022-04-18 08:50] happyi commented on #16569
this is a comparison test with the standard jpa 。the datum point is not sharing the code like bellow
[code]

[2022-04-18 08:54] tuichenchuxin commented on #16890
I'll check it.

[2022-04-18 08:55] TeslaCN commented on #16569
The JIT is not considered in your test. The result cannot represent the performance of ShardingSphere.

[2022-04-18 09:01] weekndyyy opened #16895 "conflict key generated: shardingsphere/sharding-jdbc-core/src/main/java/com/dangdang/ddframe/rdb/sharding/keygen/DefaultKeyGenerator.java"
I am using sharding-jdbc-core 4.1.1 and defined a custom key generator which is based on **shardingsphere/sharding-jdbc-core/src/main/java/com/dangdang/ddframe/rdb/sharding/keygen/DefaultKeyGenerator.java**, the only difference is changing WORKER_ID_BITS and SEQUENCE_BITS to 6 bits:

`private static final long SEQUENCE_BITS = 6L;`
`private static final long WORKER_ID_BITS = 6L;`

My concurrency is

[2022-04-18 09:06] zjcnb commented on #16890
🆗

[2022-04-18 09:20] destiny-z opened #16896 "/dangdang/ddframe/rdb/sharding/keygen/DefaultKeyGenerator generates the same sequence in the same timestamp"
we use the **shardingsphere/sharding-jdbc-core/src/main/java/com/dangdang/ddframe/rdb/sharding/keygen/DefaultKeyGenerator.java** to generate key in the production environment, but we find it will generate the same sequence in the same timestamp in the same pod.
![image](https://user-images.githubusercontent.com/9402157/163785601-3f44dea8-dbc0-4f36-97e4-b3c78a733d02.png)
Here is our KeyGenerator al

[2022-04-18 09:21] #16855 closed

[2022-04-18 09:38] lklkxcxc opened #16898 "The character became garbled code when I used sharding-proxy insert into table values contains china character"
## Question
[code]
Sharding-proxy version: apache-shardingsphere-5.1.1

[2022-04-18 10:44] novice-gamer opened #16902 "Does shardingsphere proxy support sqoop service"
Does shardingsphere proxy support sqoop service

[2022-04-18 11:35] soulasuna commented on #16850
@mingyifei  Please provide the configuration file `config-shadow.yaml` in `cyborg-database-shadow`

[2022-04-18 12:08] #16890 closed

[2022-04-19 01:44] lklkxcxc commented on #16898
I found a The solution,but I feel Chinese character support should be the default selection：
[code]

[2022-04-19 02:00] mingyifei commented on #16850
[config-shadow.md](https://github.com/apache/shardingsphere/files/8509163/config-shadow.md)

[2022-04-19 02:09] mingyifei commented on #16850
I didn't start cyborg-database-shadow. I used the master branch code to start proxy. I only used cyborg-agent

[2022-04-19 02:28] lwclover opened #16912 "NanoId faster and shorter than uuid"
Nonaid which is a distributed ID generation method, faster and shorter than uuid

<html>
<body>
<div class="okr-block-clipboard" data-okr="%7B%22okrDelta%22%3A%5B%7B%22lineType%22%3A%22unsupport%22%2C%22lineOptions%22%3A%7B%7D%2C%22lineContent%22%3A%5B%5D%7D%5D%2C%22businessKey%22%3A%22lark-doc%22%7D"></div><div data-zone-id="0" data-line-index="0" style="white-space: pre;">

Test case | nanoid（ms

[2022-04-19 02:36] TeslaCN commented on #16898
Hi @lklkxcxc
The default charset in ShardingSphere-Proxy is `utf8mb4`. Is your MySQL server's charset GBK?

[2022-04-19 03:46] doveylovey opened #16916 "Invalid binding table configuration in ShardingRuleConfiguration."
1. code:
![image](https://user-images.githubusercontent.com/28882195/163915981-5a3f5b40-d4b6-4844-a318-a082c9f9aece.png)

2. ocnfig:
![image](https://user-images.githubusercontent.com/28882195/163915922-a998338c-afe2-4c0d-ad01-1fda46605fa3.png)

3. result:
![image](https://user-images.githubusercontent.com/28882195/163916111-0d0a616d-7d11-45b8-b8e0-7a197799ff87.png)

The configuration file is inco

[2022-04-19 04:57] #16753 closed

[2022-04-19 07:04] yx9o commented on #16916
@doveylovey Hi, I reproduced it, just keep the sharding strategy of the binding table consistent, are you interested in submitting a pr to fix it?

[2022-04-19 07:10] livk-cloud opened #16922 "use with pagehelper，getting null pointer exception"
my yml configuration
`spring:
  shardingsphere:
    datasource:
      names: db0
      db0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://livk.com:3306/sharding_jdbc?useUnicode=true&characterEncoding=utf8&tinyInt1isBit=false&useSSL=false&allowPublicKeyRetrieval=true
        username: root
        password: 123456

[2022-04-19 08:43] doveylovey commented on #16916
@yx9o Yes, I am. Thank you for giving me the opportunity.

[2022-04-19 09:45] leavest opened #16924 "How to rollback when scaling failed?"
## Question
How to rollback when scaling failed?

when scaling failed, run `preview select count(1) from t_order;`, return activeVersion for table rule.
And run `SHOW SHARDING TABLE RULE t_order;`, return failed newVersion for table rule.
When I stop the scaling and  start a new scaling, log print `There is an outstanding job with the same schema name`.

What's the current step to handle failed sc

[2022-04-19 09:48] leavest commented on #16924
我英文不是很好，我用中文写一下我的问题。
弹性伸缩失败时候怎么做从能让数据回到之前的状态？
目前的情况是，弹性伸缩失败时，执行`preview select count(1) from t_order;`，显示实际使用的规则。但是执行`SHOW SHARDING TABLE RULE t_order;`显示变更后的失败的没有生效的规则。

[2022-04-19 10:11] zjcnb commented on #16896
@destiny-z Hello, Can you try it again with` 5.1.1` version? I think you used version are too old.

[2022-04-19 10:12] zjcnb commented on #16895
@weekndyyy  Hello, Can you try it again with 5.1.1 version? I think you used version are too old.

[2022-04-19 10:38] zjcnb opened #16925 "Add unit test for ComputeNode.getProcessTriggerNodePatch()"

[2022-04-19 10:39] zjcnb opened #16926 "Add unit test for ComputeNode.getProcessTriggerInstanceIdNodePath(final String instanceId, final InstanceType instanceType, final String showProcessListId)"

[2022-04-19 10:57] terrymanu opened #16928 "Add test case for HandleConfiguration"

[2022-04-19 11:32] weihubeats commented on #16928
can i try this

[2022-04-19 11:55] zjcnb commented on #16928
Welcome, i assign you

[2022-04-19 14:00] yx9o opened #16933 "The `defaultShardingColumn` configuration in the instance does not take effect."
In the example, the following configuration example will report NullPointerException:
![image](https://user-images.githubusercontent.com/12792261/164018545-06886faf-7147-4ce3-bff7-20404951debf.png)

### Expected behavior
Example normal operation.

### Actual behavior
![9ac2e06b1f5479d07cb3de0e56a656d](https://user-images.githubusercontent.com/12792261/164017960-05a06521-4aa5-4f2f-9a83-8877f6a71102

[2022-04-19 15:02] udrnrso opened #16934 "force index PRIMARY cause SQL syntax"
## Bug Report

### Which version of ShardingSphere did you use?

5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior
update sql with force index  as following should be ok
update t_test_table force index (PRIMARY)
set test_column='value'

### Actual behavior
throw SQL syntax error

### Reason analyze (If you can)
org.apache

[2022-04-20 01:52] weekndyyy commented on #16895
Is this problem caused by the low version?

[2022-04-20 01:54] #16772 closed

[2022-04-20 03:13] zxtprivate opened #16942 "About the slow start of ShardingSphere"
In my team, some databases were divided into databases by month, resulting in the increase of databases. When myCAT was replaced with Sharding, I noticed that the startup was slow due to too many database links.
Through debugging positioning code found in org. Apache. Shardingsphere. Infra. Database. The type of getDatabaseType (final Collection < DataSource > dataSources) The method is a little s

[2022-04-20 03:21] RaigorJiang commented on #14807
Hi  @isHuangXin ,
this issue has been completed, we will create a new issue for the GSoC project and look forward to your participation.

[2022-04-20 03:28] isHuangXin commented on #14807
OK. I will try my best to finish the GSoC project.

[2022-04-20 03:37] csonezp commented on #16926
please assign it to me ,i want have a try

[2022-04-20 03:44] csonezp commented on #16925
please assign it to me ,i want have a try

[2022-04-20 04:49] #16896 closed

[2022-04-20 05:53] #16928 closed

[2022-04-20 05:54] TeslaCN commented on #16942
Hi @zxtprivate
Are you interested in submitting a PR to fix this?

[2022-04-20 05:58] zxtprivate commented on #16942
I'm sorry, what is PR? I'm just a rookie. I'm not familiar with it

[2022-04-20 06:04] TeslaCN commented on #16942
It means that contributing your codes to Apache ShardingSphere. You may refer to https://shardingsphere.apache.org/community/en/contribute/contributor/. Please let us know if you are interested.

[2022-04-20 06:09] zjcnb commented on #16926
Done.

[2022-04-20 06:38] zxtprivate commented on #16942
I'll try

[2022-04-20 06:38] zxtprivate commented on #16942
I'll try

[2022-04-20 07:18] TeslaCN commented on #16942
Welcome.

[2022-04-20 07:19] isHuangXin commented on #14807
Hi, @RaigorJiang.
I'm very confused. Is it me to create an issue about the GSoC project?
Or you create an issue about GSoC and I complete the solution idea.

[2022-04-20 07:38] #16912 closed

[2022-04-20 08:14] RaigorJiang commented on #14807
@isHuangXin
The new issue can of course be created by you if you wish.

[2022-04-20 08:24] strongduanmu commented on #16934
@udrnrso Thank you for your feedback, I will investigate this issue.

[2022-04-20 09:02] lvzbOne opened #16953 "In Windows, the ShardingSphere-Proxy startup fails if the directory name contains a space"
## I failed to start `ShardingSphere-Proxy 5.0.0-alpha` in Windows system because there are Spaces in a directory

**Space was converted to %20F causing an exception**
**It would be nice if it could parse correctly**
![在这里插入图片描述](https://img-blog.csdnimg.cn/d0bfeb3d56a24910a1b719513705dade.png?x-oss-process=image/watermark,type_d3F5LXplbmhlaQ,shadow_50,text_Q1NETiBATHZRaUZlbg==,size_20,color_FFFFF

[2022-04-20 09:17] TeslaCN commented on #16953
Hi @lvzbOne
Could you try the 5.1.1? This issue has been solved since 5.1.0. Duplicated with https://github.com/apache/shardingsphere/issues/13833

[2022-04-20 09:17] #16953 closed

[2022-04-20 09:24] CrackerSuperior opened #16955 "Change the interface AuthorityProvideAlgorithm to AuthorityProviderAlgorithm"
Change the interface org.apache.shardingsphere.authority.spi.AuthorityProvideAlgorithm to org.apache.shardingsphere.authority.spi.AuthorityProviderAlgorithm
<img width="854" alt="Snipaste_2022-04-20_17-01-40" src="https://user-images.githubusercontent.com/45088781/164196435-c9b20b47-0b7e-40b7-834e-571081033ca8.png">

[2022-04-20 10:26] lwclover opened #16958 "Optimize UUID performance"
`UUID.randomUUID().toString().replaceAll("-", "")`
Single thread, UUID generate with replaceAll 10000000 times, cost 8981ms.

`UUID.randomUUID().toString().replace("-", "")`
Single thread, UUID generate with replace 10000000 times, cost 10002ms.

`StringUtils.replace(UUID.randomUUID().toString(), "-", "")`
Single thread, UUID generate with StringUtils.replace 10000000 times, cost 6536ms.

`StringU

[2022-04-20 10:39] zjcnb opened #16960 "SHOW TABLES the case of the table name problem"
[code]

[code]

[2022-04-20 10:40] yx9o commented on #16933
fixed by #16941 .

[2022-04-20 10:40] #16933 closed

[2022-04-20 11:39] #16960 closed

[2022-04-20 12:43] #15881 closed

[2022-04-20 14:18] Jacob953 commented on #6480
Hi, @strongduanmu, I'd like to try the following DDL-ALTER first.

- [ ] ALTER TABLE
- [ ] ALTER TYPE

[2022-04-20 14:27] mingyifei opened #16964 "[doc] Modify distsql document use cases."
bug report:
docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/_index.cn.md
docs/document/content/user-manual/shardingsphere-proxy/distsql/syntax/ral/_index.en.md

In the above file, XX does not exist in the description of [SET SHARDING HINT DATABASE_VALUE = yy]

[2022-04-20 14:45] #16964 closed

[2022-04-21 00:32] strongduanmu commented on #6480
@Jacob953 Welcome, I will assign this issue to you.

[2022-04-21 01:26] #16955 closed

[2022-04-21 02:26] #16958 closed

[2022-04-21 03:14] asdxiaoqex opened #16969 "I want to switch data sources. How to configure using DDL statements"
i want to ues  CREATE TABLE IF NOT EXISTS `${tableName}` sql    In different data sources

[2022-04-21 03:45] asdxiaoqex commented on #16969
need example

[2022-04-21 06:28] star10k opened #16971 "[Missing source file] SQLServerStatementParser,PostgreSQLStatementLexer"
Project:   shardingsphere-sql-parser
Missing source file:  SQLServerStatementParser,PostgreSQLStatementLexer
Version:  4.0.1

[2022-04-21 06:37] xue2lang opened #16972 "cluster mode only support zookeeper ，not pluggable 。because use elastic job , the CoordinatorRegistryCenter implement class，only ZookeeperRegistryCenter"
## Bug Report

[code]

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more deta

[2022-04-21 07:02] zjcnb commented on #16972
@xue2lang Hi, It only has exception message, But ShardingSphere-Proxy can work.

[2022-04-21 07:04] xue2lang commented on #16972
i see it can work, but it lost framework extensibility @zjcnb

[2022-04-21 07:06] sandynz commented on #16972
Hi @xue2lang , thanks for your feedback. ElasticJob will support more registry center later, just as ShardingSphere.

[2022-04-21 07:08] xue2lang commented on #16972
ok , thanks for your reply,  i close this issue @sandynz

[2022-04-21 07:08] #16972 closed

[2022-04-21 07:10] zjcnb opened #16973 "Execute show processlist throws NPE"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### Configuration

[code]

[2022-04-21 07:15] tuichenchuxin commented on #16973
I'll check it.

[2022-04-21 07:16] 11000ljy opened #16974 "Route table null does not exist, available actual table: [ds0, ds1]"
When using a row expression，If the configuration is as follows, no error will be reported
![image](https://user-images.githubusercontent.com/101179760/164396058-70143ba1-79a3-479e-a2ee-3af7f808216a.png)
It will go to org.apache.shardingsphere.sharding.algorithm.sharding.inline&init read expression configuration，If it is not configured, it will report the same error as the title, and it did not loa

[2022-04-21 07:20] lwclover opened #16975 "Add NanoId doc"
Add NanoId doc

[2022-04-21 07:26] zjcnb opened #16977 "Add unit test for WorkerIdNode.getWorkerIdGeneratorPath(final String instanceId)"

[2022-04-21 07:38] zjcnb opened #16978 "Add more unit test for ProcessNode"
- [ ]  ProcessNode.getShowProcessListIdPath(final String showProcessListId)
- [ ] ProcessNode.getShowProcessListInstancePath(final String showProcessListId, final String instancePath)
- [ ] Remove ProcessNode.getExecutionPath(final String executionId)

[2022-04-21 08:00] strongduanmu commented on #16971
Hi @star10k, you can run `mvn clean install -Prelease -T 1C` to generate SQLServerStatementParser and PostgreSQLStatementLexer.

[2022-04-21 08:36] star10k commented on #16971
ok. thank you for your help!

[2022-04-21 08:36] #16971 closed

[2022-04-21 09:09] zjcnb opened #16983 "Add unit test for ClusterContextManagerCoordinator.triggerShowProcessList(final ShowProcessListTriggerEvent event)"

[2022-04-21 09:38] zjcnb opened #16986 "Add unit test for ClusterContextManagerCoordinator.completeUnitShowProcessList(final ShowProcessListUnitCompleteEvent event)"

[2022-04-21 10:46] user20161119 commented on #16117
shardingsphere 5.1.0 and spring boot 2.6.3 has the same issue
according transaction log,spring transaction management roll back transaction,but the data saved into db.
![1650537934(1)](https://user-images.githubusercontent.com/123967/164442157-835bfa40-817c-4829-b7a6-062603de0784.png)

[2022-04-21 10:57] #16934 closed

[2022-04-21 11:13] weihubeats commented on #16977
can i try this

[2022-04-21 11:25] bjsuo opened #16989 "IntelliJ IDEA can not open project in win10. because filename too lang"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-21 11:31] shangwq commented on #16117
@user20161119 downgrade spring boot to 2.6.2 can fix it temporarily.

[2022-04-21 12:05] yx9o commented on #16989
@bjsuo Hi, this might help you: https://shardingsphere.apache.org/document/current/en/reference/faq/

[2022-04-21 12:22] user20161119 commented on #16117
It's work,thanks

[2022-04-21 12:34] pxzxj commented on #15629
看了下上面都是国内的开发那就用中文吧，看起来方便点儿。

这个问题的根源是Spring Data JPA默认所有方法都使用了事务，当然查询是只读事务，而ShardingSphere判断使用了事务就走主库，这两点可以参考Spring Data JPA的 [SimpleJpaRepository](https://github.com/spring-projects/spring-data-jpa/blob/a70fff4515d04be2e0f6f18edbcd7c1c0bff704e/spring-data-jpa/src/main/java/org/springframework/data/jpa/repository/support/SimpleJpaRepository.java#L89) 类跟ShardingSphere的 [ReadwriteSplittingDataSource

[2022-04-21 15:33] linghengqian opened #16991 "Update `commons-collections4.version` to 4.4 to resolve dependency version conflicts with other components"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- No.

### Describe the

[2022-04-21 16:03] #16975 closed

[2022-04-22 01:54] user20161119 commented on #16117
Could you explain the issue and what's the plan for the issue to fix?

thanks

[2022-04-22 01:56] user20161119 commented on #16117
@zjcnb There is a plan to fix the issue?

[2022-04-22 01:58] novice-gamer opened #16993 "The third-party open source framework uses XA transactions"
Shardingsphere proxy version 5.1.0

The shardingsphere proxy configuration uses XA transactions. In the Java language, when using the third-party open source framework, there are some built-in database operations. How should we use XA transactions in this part?

[2022-04-22 02:04] terrymanu opened #16994 "Use SPI module in SQL parser module"
The current SQL parser module use SPI, but do not depend SPI module.
There are duplicated codes on SPI logic.
I want to discuss let SQL parser module depend SPI module.

[2022-04-22 03:10] 11000ljy commented on #16528
![image](https://user-images.githubusercontent.com/101179760/164588461-62b74cbd-f36b-4d00-950b-b01759a9007d.png)
This condition does not hold, causing the back processor to have no init because the row expression requires the back processor to init to read the configuration.
![image](https://user-images.githubusercontent.com/101179760/164588804-605ebf87-a2a3-4cfe-9607-cc61a285052b.png)

[2022-04-22 03:33] RaigorJiang commented on #16994
Great idea!

[2022-04-22 03:45] strongduanmu commented on #16994
That's great, the unified SPI usage is much more readable and maintainable.

[2022-04-22 03:50] galaxylqx opened #16995 "remove multiple data source aggregation features"
The requirement of connection pool aggregation is completely covered in data source simplification #15881, and there is no need to implement the aggregation feature separately

[2022-04-22 04:28] zjcnb commented on #16117
@user20161119 @shangwq @jingshanglu Hi, I think this problem not belong `ShardingSphere`. Because, when we use `@Transaction` in unit test. the `isDefaultRollback(TestContext testContext)` method has problem.

<img width="1692" alt="image" src="https://user-images.githubusercontent.com/33742097/164602973-2e69426e-6de1-45c9-b017-9a87f3b36fec.png">

[2022-04-22 04:49] tuichenchuxin commented on #16994
+1

[2022-04-22 06:45] fanfantian opened #16998 "proxy scaling error"
## Bug Report

version 5.1.1
error:
mysql> CREATE SHARDING BINDING TABLE RULES (sbtest1,sbtest2,sbtest3);
ERROR 1997 (C1997): Runtime exception: [Invalid binding table configuration in ShardingRuleConfiguration.]
mysql> ADD RESOURCE ds_1 (
    ->     URL="jdbc:mysql://ip:3306/sharding_ds_0?serverTimezone=UTC&useSSL=false",
    ->     USER=sharding_user,
    ->     PASSWORD=sharding_user,
    ->

[2022-04-22 06:45] VeejaLiu opened #16999 "Can I get the table name of the logical table name in the doSharding() method?"
Can I get the table name of the logical table in the doSharding() method?
In this way, I can apply a set of rules to different tables.

[2022-04-22 06:51] 11000ljy commented on #16528
![image](https://user-images.githubusercontent.com/101179760/164619537-ce7189d3-87ea-4fb4-a763-b71cc193ed1e.png)
Add this configuration to solve the problem,I don't know if it's the right way

[2022-04-22 07:02] galaxylqx opened #17003 "Support default proxy port configurable"
## Feature Request
Supports getting the default port from the configuration file, similar to the database port configured by my.cnf in the MySQL database

server.yaml
[code]

[2022-04-22 07:35] #16895 closed

[2022-04-22 07:42] galaxylqx opened #17006 "Optimize so-reuseaddr in netty to solve the problem of port occupied"
## Feature Request

Solve the problem that the port is not quickly reclaimed by the operating system during the Proxy restart process, resulting in the startup port being occupied

ChanneOption.SO_REUSEADDR corresponds to SO_REUSEADDR in the socket option, this parameter indicates that the local address and port are allowed to be reused.

For example, a server process occupies TCP port 3307 for mo

[2022-04-22 08:19] #16977 closed

[2022-04-22 09:40] #16974 closed

[2022-04-22 09:46] By1995 opened #17009 "DataSourceProvidedDatabaseConfiguration cast to DataSourceGeneratedDatabaseConfiguration"
this is a obvious error, why
in method createMetaDataContextsBuilder :
result.addDatabase(each, databaseType, createDatabaseConfiguration(each, metaDataPersistService, parameter), props);
in method  createDatabaseConfiguration:
return new DataSourceProvidedDatabaseConfiguration(dataSources, databaseRuleConfigs);
in method buildRules:
DataSourceGeneratedDatabaseConfiguration configuration = (DataSo

[2022-04-22 10:03] strongduanmu commented on #17009
@By1995 Can you submit issue according to bug template?

[2022-04-22 10:40] user20161119 commented on #16117
@zjcnb I tested with spring boot 2.6.3 with jdbc,transaction worked as excepted,the data did not save to db

![image](https://user-images.githubusercontent.com/123967/164699298-d24c0316-2643-44c2-9d88-c84d8c7196fb.png)

![image](https://user-images.githubusercontent.com/123967/164699407-a5918e8f-ea76-4588-a1ad-81eb882bef84.png)

[2022-04-22 10:43] zjcnb commented on #16117
[shardingsphere-jdbc-pools-test.zip](https://github.com/apache/shardingsphere/files/8540243/shardingsphere-jdbc-pools-test.zip)

Refer to this example.

[2022-04-22 10:59] user20161119 commented on #16117
You said the issues is not belong Sharding-jdbc，i tested with jdbc,the transaction work as excepted, the issue is belong to sharding-jdbc?

[2022-04-22 11:01] zjcnb commented on #16117
Support your project demo please.

[2022-04-22 11:08] user20161119 commented on #16117
[springtrx.zip](https://github.com/apache/shardingsphere/files/8540408/springtrx.zip)

run junit test `com.example.demo.DBServiceTest.testAdd()`

[2022-04-22 12:16] #17006 closed

[2022-04-22 12:51] terrymanu opened #17014 "Add test coverage report in GitHub action and remove travis in CI"
Hi, the travis CI is slower than GitHub action, it is better to remove it and use GitHub action only.
But the test coverage report is generated by travis now, please move it into GitHub action and and remove travis as well.

[2022-04-22 13:03] totalo commented on #13609
plz assgin to me.

[2022-04-22 13:13] novice-gamer opened #17015 "OperationalError: (1997, 'Runtime exception: [Sequence ID of MySQL command packet must be `0`.]')"
Sharding proxy version 5.1.0

Using Python to import data, an error is reported when it reaches one million:
Pymysql is used
[code]
Props configuration information:

[code]

Rules configuration:

[code]

[2022-04-22 13:45] zjcnb commented on #16117
\

Did you use shardingsphere for this project???

[2022-04-22 13:52] user20161119 commented on #16117
This project do not depends on shardingSphere,I just want to verify my above question it's spring boot transaction issue or ShardingSpere issue.

[2022-04-22 16:24] everly-gif commented on #16620
Hi @Devamparikh what's the update with this issue? Are you working on it still? I will like to take over if you aren't working on it.

[2022-04-22 16:27] everly-gif commented on #15955
This issue can be closed , PR is already merged #16980 .

[2022-04-22 17:01] GavinRay97 opened #17020 "[FEATURE] Add Calcite JDBC executor as new frontend in `shardingsphere-proxy` to allow federated querying of any datasources via MySQL/PG clients"
# Proposal

I would like to propose adding two new executors to `ShardingSphere Proxy`:
- `Postgres` Frontend, `Calcite` JDBC Executor
- `MySQL` Frontend, `Calcite` JDBC Executor

This would allow using any tool/client that is compatible with either the MySQL or Postgres wire protocols to query across datasources:

[code]

# Design

- Two new frontend executors should be created:
	- `shardingspher

[2022-04-22 17:03] terrymanu opened #17021 "Use multiple threads to improve performance for DatabaseDiscoveryEngine.checkHighlyAvailableStatus()"
Please search `// TODO query with multiple threads` in class `DatabaseDiscoveryEngine` to find the modify point.

Use multiple threads to improve performance when loading data from databases.
Please reuse `ExecutorEngine` for concurrency execute.

[2022-04-22 17:08] terrymanu opened #17023 "Add test cases for HighlyAvailableStatus's impl"
- [ ] Add test cases for MGRHighlyAvailableStatus
- [ ] Add test cases for ShowSlaveStatusHighlyAvailableStatus

[2022-04-22 17:58] terrymanu opened #17025 "Rename db-discovery type"
Hi, the current db-discovery type is `MGR`, `MASTER_SLAVE` and `openGauss` which are not in same abstract level and the case .

`MGR` and `MASTER_SLAVE` is for MySQL only, and `openGauss` is other db-discovery type of database, not HA method.

It is better to rename and standardize the db-discovery type. I prefer rename like the way below:

`MGR` -> `MySQL.MGR`
`MASTER_SLAVE` -> `MySQL.NORMAL_REPL

[2022-04-22 19:53] Liangda-w commented on #15955
Great, thank you! 👍

[2022-04-22 19:53] #15955 closed

[2022-04-22 23:09] zjcnb commented on #17025
I agree, that 's a good idea.

[2022-04-23 04:39] terrymanu commented on #17025
I will change it soon

[2022-04-23 05:59] wuguanyu opened #17029 "[SQLException]Savepoint can only be used in transaction blocks"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-23 07:34] wuguanyu commented on #17029
org.apache.shardingsphere.transaction. ConnectionTransaction
[code]
if i use localTransaction , the ShardingSphereTransactionManager is always null.

[2022-04-23 08:24] zjcnb commented on #17029
@wuguanyu  Thank you for your feedback, I 'll check it.

[2022-04-23 08:40] zjcnb opened #17030 "Cannot compile a single module"
`master branch`

[code]

[2022-04-23 08:41] zjcnb commented on #17030
@longtai-cn Can you help with this issue?

[2022-04-23 08:42] longtai-cn commented on #17030
@zjcnb Is because  shardingsphere cannot be found_ eclipse_ formatter.xml file, please assign it to me

[2022-04-23 08:43] zjcnb commented on #17030
OK

[2022-04-23 09:59] wuguanyu commented on #17029
@zjcnb
<img width="842" alt="image" src="https://user-images.githubusercontent.com/24486917/164889768-19f172b5-c72b-47d6-90a1-20c7046b2170.png">

what codeStyle Our team use ?

[2022-04-23 11:37] #17025 closed

[2022-04-23 11:50] weihubeats commented on #17021
can i try this

[2022-04-23 13:10] sandynz opened #17037 "Error occur in spotless-maven-plugin when running maven task in sub-module"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit d81b1d5d8c0807de7c5e8705bafe790b2a130a0f

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
No matter

### Expected behavior
No error from `spotless-maven-plugin`

### Actual behavior
There's error when running mvn task on `shardingsphere-sql-parser` module, log:
[code]

### Reason analy

[2022-04-23 13:11] sandynz commented on #17037
Hi @longtai-cn , could you help to have a look at this issue?

[2022-04-23 13:20] #17030 closed

[2022-04-23 13:21] sandynz commented on #17037
@longtai-cn , thanks, PR merged.

[2022-04-23 13:21] #17037 closed

[2022-04-23 13:33] #16995 closed

[2022-04-24 01:55] sandynz commented on #16924
Hi @leavest , thanks for your feedback. I tested on it, that's true, and it's confusing, we'll discuss about how to improve it.

About how to rollback, you could do following steps:
1. stop scaling job {jobId};
2. drop scaling job {jobId};
3. drop new version metadata in registry center manully.
4. clean created sharding databases and tables on target DB instance manually.

[2022-04-24 01:56] sandynz commented on #16924
Test SQLs:
[code]
`SHOW SHARDING TABLE RULE t_order;` works on latest version metadata.

[2022-04-24 02:12] zjcnb commented on #17029
@wuguanyu Can you provider your demo project?

[2022-04-24 02:14] zjcnb commented on #17029
Default style for idea. What's the problem?

[2022-04-24 02:15] zjcnb commented on #17021
Welcome, I assign you

[2022-04-24 05:06] sandynz opened #17045 "Metadata in ProxyContext take effect ahead of time when altering sharding table rule and emitting scaling job"
## Bug Report

Related to issue #16924

### Which version of ShardingSphere did you use?
master branch, commit e826b154fe1846bb7227032386d6ea3c2d4b33d8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
sharding table rule won't be changed immediately in `ShardingSphereRuleMetaData` before scaling job is successful.

### Actual

[2022-04-24 05:07] sandynz commented on #17045
Hi @zjcnb , could you help to have a look at this issue?

[2022-04-24 05:51] #16991 closed

[2022-04-24 06:47] wuguanyu commented on #17029
I use my company business project. It hard to make demo project, I need try

[2022-04-24 06:48] wuguanyu commented on #17029
I wanted to fixed, encounter some checkStyle issue

[2022-04-24 06:59] wuguanyu commented on #17029
https://github.com/wuguanyu/shardingsphere/commits/2022-04-24-fix-bug
I try to fix by myself, It resolve my issue, but I can't confirm my code is correct or not

[2022-04-24 07:56] zjcnb commented on #17045
OK, i will check it.

[2022-04-24 08:37] carlyin0801 opened #17055 "The id generated by the built-in snowflake id generator of shardingsphere is duplicated, and the length is not 64 bits."
Hello, The shardingsphere version I am using is 5.0.0，the following is my code and result data, please look at the reason：
**Test code:**
object SnowFlakeUtils {
    fun  getId(workerId: String): Long {
        val keyGenerator = SnowflakeKeyGenerateAlgorithm()
        val properties = Properties()
        properties.setProperty("worker-id", workerId)
        keyGenerator.props = properties

[2022-04-24 08:57] carlyin0801 commented on #17055
Hi @zjcnb , could you help to have a look at this issue?

[2022-04-24 08:58] zjcnb commented on #17055
Sure, i will check.

[2022-04-24 08:59] zjcnb commented on #17055
Sure, i will check.

[2022-04-24 09:33] #17015 closed

[2022-04-24 10:13] wangwangwangBoy opened #17060 "Querying with the 'select *' syntax reports an error"
## Bug Report

### 5.1.1-SNAPSHOT(Master)

###  ShardingSphere-JDBC

After updating the latest master branch. Using select * reported an error, the master in October last year can be executed normally

![image](https://user-images.githubusercontent.com/46279672/164971487-02671fc1-986d-4f38-b94a-dd432098a6a2.png)

After replacing select *, it can run normally
![image](https://user-images.githubuser

[2022-04-24 10:27] jingshanglu commented on #17029
Maybe it's better to change check isInTransaction from `ConnectionManager` to `ShardingSphereConnection` use `isHoldTransaction` .

[2022-04-24 10:37] strongduanmu commented on #17060
Hi @wangwangwangBoy, thank you for your feedback. Can you provide the original sql string?

[2022-04-24 10:56] strongduanmu opened #17061 "Cannot persist to Zookeeper when there is no table under PostgreSQL schema"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/0f0ddf8ffcc1fa9b85f7065d6bf4c72ab13c90fe

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Can persist schema to Zookeeper when there is no table under this schema

### Actual behavior

Create two new schemas, but

[2022-04-24 10:57] strongduanmu commented on #17061
Hi @zjcnb, can you help check this bug?

[2022-04-24 11:51] wuguanyu commented on #17029
it seem like my code is not good way to fix.  I only wanted fixed new SQLException("Savepoint can only be used in transaction blocks.") to make our company program to run on line

[2022-04-24 14:26] #17003 closed

[2022-04-24 14:30] terrymanu opened #17066 "Add document for `proxy-mysql-default-version`"
Please add the description in file:
`docs/document/content/user-manual/shardingsphere-proxy/yaml-config/props.en.md`
and
`docs/document/content/user-manual/shardingsphere-proxy/yaml-config/props.cn.md`

[2022-04-24 14:43] fbin87 opened #17068 "big andPredicates collections where parse sql"
when use sql with more where conditions in shardingsphere 4.1.1

I found big collections in PredicateBuilder.mergePredicate()
![image](https://user-images.githubusercontent.com/42720240/164981853-875b5a48-229b-4f20-bbcc-6fbda622f22f.png)

then SelectStatementContext.getAllTablesFromWhere() will take a lot of time to traverse AndPredicate object

the sql is:
static String SQL1 = "select * from mode

[2022-04-24 14:46] fbin87 commented on #17068
SelectStatementContext.getAllTablesFromWhere()  traverse big AndPredicate object collections
![image](https://user-images.githubusercontent.com/42720240/164982052-bd8697b8-93b1-403e-97fc-f4243821929c.png)

[2022-04-24 15:07] zjcnb commented on #17061
Yeah, i will fix it.

[2022-04-24 16:38] iisheng commented on #16986
Hello, I would like to have a try

[2022-04-24 16:39] iisheng commented on #16983
Hello, I would like to have a try

[2022-04-25 01:06] strongduanmu commented on #16983
@iisheng Welcome, I will assign this issue to you.

[2022-04-25 01:09] strongduanmu commented on #17068
Hi @fbin87, thank you for your feedback. Can you try the latest 5.1.1 version? Version 4.1.1 is too old.

[2022-04-25 01:27] VeejaLiu opened #17073 "During scaling, the index in the statement generating the table exceeds the length limit."
## Bug Report
<img width="2551" alt="image" src="https://user-images.githubusercontent.com/22064617/164973772-8089c928-3147-4b54-a0d4-5d2ff5571151.png">

[2022-04-25 02:09] wangwangwangBoy commented on #17060
select * from (
        select
        distinct
        di.device_id AS deviceId,
        b.id AS projectId,
        bai.project_status,
        ifnull(ds.status,0) AS deviceStatus,
        di.device_name deviceName,b.name projectName,
        date_format(ds.update_time,'%Y-%m-%d %H:%i:%S') updateTime,
        CONCAT(left(e.district_name_path,3),'-',d.name,'-',c.name) parkName
        from

[2022-04-25 02:09] wangwangwangBoy commented on #17060
thank you for your feedback. The last reply is our original sql

[2022-04-25 02:38] TeslaCN commented on #16856
Hi @jingshanglu
Could you take a look at this?

[2022-04-25 03:03] climy007 commented on #15086
Thx, this problem is temproray fixed by modifing the ShardingSphereDataSource bean name with the secondary way.

[2022-04-25 03:03] #15086 closed

[2022-04-25 03:35] jingshanglu commented on #16856
@novice-gamer Hi, now the data format in `zk` maybe not compatibility, Can you clear the zk data, and reconfigure?

[2022-04-25 03:37] mayfsac opened #17076 ".TablesContext#findTableNameFromMetaData() can not find the correct table name for column names when the columns of sub query tables are no owner"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-25 03:49] sandynz commented on #17073
The create table SQL is generated and rewritten by kernel.

[2022-04-25 03:51] VeejaLiu opened #17077 "Hikari error occurred when i using scaling."
Two resource:
[code]

Old TABLE RULE:
[code]

Create SCALING RULE:
[code]

New Table Rule:
[code]

Then Automatic scaling triggered...

And then:
<img width="1669" alt="image" src="https://user-images.githubusercontent.com/22064617/165017883-acc4624e-ed7e-4353-a4e9-a96e100fbbbb.png">

[code]

[2022-04-25 04:08] #17061 closed

[2022-04-25 05:05] zjcnb opened #17080 "Build failed when i not strart up docker"
[code]

[2022-04-25 05:33] sandynz commented on #17077
Hi @VeejaLiu , thanks for you feedback.

Which version or commit are you running?

Seems the used dataSource was closed by dataSourceManager, maybe there's other error occur before this.
Could you find more ERROR in log file before this stack trace?

[2022-04-25 05:36] #17080 closed

[2022-04-25 05:41] strongduanmu commented on #17076
Hi @mayfsac, thank you for your feedback, can you submit a pr to fix this bug?

[2022-04-25 05:59] yx9o commented on #16986
@iisheng Welcome.

[2022-04-25 06:03] VeejaLiu commented on #17073
@sandynz I think we should deal with such corner cases, I think this is a bug.

[2022-04-25 06:17] VeejaLiu commented on #17077
@sandynz Thank you, guys.
I'm using 5.1.1

I did have another problem before that.

When I did scaling, I encountered this problem:
<img width="1669" alt="image" src="https://user-images.githubusercontent.com/22064617/165031044-8c219429-4fea-455f-b65d-17d2b4d151fc.png">
Then I deleted the old scaling configuration and recreated the task.
Then...  you've seen it.

[2022-04-25 06:38] #16681 closed

[2022-04-25 06:47] sandynz commented on #17077
OK, I'll try to reproduce it.

And there's another issue in UnsignedIntHandler.

[2022-04-25 06:51] #16814 closed

[2022-04-25 07:05] TeslaCN commented on #16704
There must be a stateful object to hold the `DataNodeContainedRule` if we want to refactor this without performance loss.

[2022-04-25 07:05] strongduanmu opened #17084 "OpenGauss CREATE SCHEMA statement returned incorrect parsing result"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/ef1dedcfe7283027d9c844f1495b54f012a51c2d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The OpenGauss `CREATE SCHEMA` statement returns the correct parsing result, for example: `OpenGaussCreateSchemaStatement`

[2022-04-25 07:15] TeslaCN opened #17085 "Potential problem in ShardingSphereServiceLoader"
## Bug Report

### Which version of ShardingSphere did you use?

Related to #16749.

master - ef1dedcfe7283027d9c844f1495b54f012a51c2d

### Actual behavior

The following expression will always be `false`.
[code]

### Reason analyze (If you can)

https://github.com/apache/shardingsphere/blob/ef1dedcfe7283027d9c844f1495b54f012a51c2d/shardingsphere-spi/src/main/java/org/apache/shardingsphere/spi/Sha

[2022-04-25 07:23] lklkxcxc commented on #16898
@TeslaCN My database's charset utf8:
[code]

[2022-04-25 07:28] TeslaCN commented on #16898
What is the locale of your environment of MySQL cli? I think somewhere was set to GBK which is not matched the charset of MySQL or ShardingSphere-Proxy.

[2022-04-25 07:30] fanfantian opened #17086 "java.lang.NullPointerException: null"
## Bug Report

version 5.1.1

[ERROR] 2022-04-25 12:54:44.351 [ShardingSphere-Scaling-execute-4] o.a.s.d.p.core.task.IncrementalTask - importer onFailure, taskId=ds_0
java.lang.NullPointerException: null
        at org.apache.shardingsphere.data.pipeline.core.record.RecordUtil.extractConditionColumns(RecordUtil.java:61)
        at org.apache.shardingsphere.data.pipeline.core.importer.AbstractImpor

[2022-04-25 07:44] sandynz commented on #17086
Hi @fanfantian , thanks for you feedback.

I had a look at related code of stack trace:
[code]

From `RecordUtil.extractConditionColumns`:
[code]
The NPE should be from `shardingColumns`.

From `AbstractImporter.executeUpdate`:
[code]
It means `importerConfig.getShardingColumnsMap().get(record.getTableName())` return null.

Could you help to do some debug to show `importerConfig.getShardingColumns

[2022-04-25 07:46] VeejaLiu opened #17087 "Can I read the file in the init() method of the custom algorithm class?"
## Question
I'm using Proxy.
Can I read the file in the init() method of the custom algorithm class?
Where should I put the file in the proxy?
How should I read it? Could you give me an example?

[2022-04-25 10:14] Jacob953 commented on #17014
Hi, @terrymanu, I'd like to try. Could you assign me, please?

[2022-04-25 10:49] azexcy commented on #17077
@VeejaLiu Thank you for your feedback, I will investigate this issue.

[2022-04-25 10:51] #16924 closed

[2022-04-25 10:52] #17045 closed

[2022-04-25 11:24] zjcnb opened #17092 "Use scaling feature with mysql 8.x are EXECUTE_INCREMENTAL_TASK_FAILURE"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

### Exception

[code]

### MySQL Configuration
<img wid

[2022-04-25 11:26] TeslaCN commented on #17087
If you are doing your custom algorithm, you may do anything you want in the `init()` including reading a file. There are many ways to do that, such as packing the file into your custom algorithm jar and read it by `YourClass.class.getResource()`.

[2022-04-25 11:29] #17085 closed

[2022-04-25 11:42] zhaojinchao95 opened #17094 "Need to check `ALTER SHARDING TABLE RULE` legality when use scaling"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`show scaling status 0130317c30317c3054317c7465737431` have information

### Actual behavior

No message

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occu

[2022-04-25 11:43] #17084 closed

[2022-04-25 11:44] TeslaCN commented on #12032
Close via https://github.com/apache/shardingsphere/pull/15934

[2022-04-25 11:44] #12032 closed

[2022-04-25 12:06] TeslaCN opened #17098 "NPE occurred in ShardingSphere-Proxy PostgreSQL caused by case of column name unmatched"
## Bug Report

### Which version of ShardingSphere did you use?

Since 5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No error occurred.

### Actual behavior

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

Describe prepared stateme

[2022-04-25 15:45] cheese8 commented on #17076
I would to fix it, please assign it to me, thanks.

[2022-04-26 02:02] strongduanmu opened #17107 "Table 't_order' already exists exception occur when create table in new PostgreSQL schema"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/31e71c9878a38a41280a84239f5ae28ea466af94

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `CREATE TABLE test_schema_1.t_order(order_id INT, user_id INT, content VARCHAR, create_time DATETIME);` successfull

[2022-04-26 02:31] princess-yanyan commented on #17029
I also encounter this problem ，
maybe it's a bug，when i use local transaction with nested transactions，will cause “Savepoint can only be used in transaction blocks”

[2022-04-26 03:01] VeejaLiu commented on #17087
@TeslaCN Thank you, mate.
This is exciting news. This will help me solve many problems.

[2022-04-26 03:16] zjcnb opened #17109 "`CREATE SCHEMA` no success message returned with PostgreSQL"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Show `CREATE SCHEMA ` when execute `CREATE SCHEMA test`;

### Actual behavior

Nothing

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

`PostgreSQ

[2022-04-26 05:20] #17098 closed

[2022-04-26 06:45] #17109 closed

[2022-04-26 07:31] #16750 closed

[2022-04-26 07:52] #17029 closed

[2022-04-26 09:17] Gordonman opened #17117 "There is a problem parsing union SQL for same table"
**ShardingSphere version:**  4.0.0-RC2

**project:**  ShardingSphere-JDBC

**Test case:**
tableName:  coupon_detail
sharding-column:  mer_code
precise-algorithm:   Modulo Operation for mer_code.   ex:  mer_code=123456  , actual-data-node= 123456 % 10 = 6

Origin sql:
[code]

Expected behavior:
[code]

Actual behavior
[code]

**The second table name is not rewrite.**

**Reason analyze:**
I tracked

[2022-04-26 09:25] strongduanmu commented on #17117
Hi @Gordonman, can you try the latest version? 4.0.0 is too old.

[2022-04-26 09:51] jingshanglu commented on #16993
Do you mean send `xa start/end/commit` to ShardingSphere-Proxy?

[2022-04-26 09:55] zjcnb opened #17118 "Cannot be modify schema for PostgreSQL"
### Which version of ShardingSphere did you use?

`master branch`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`ALTER SCHEMA haha RENAME TO HAHA;` can be execute successful.

### Actual behavior

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[2022-04-26 09:57] jingshanglu commented on #16894
What is the amount of concurrency？

[2022-04-26 10:05] TeslaCN commented on #17118
PostgreSQL will convert thing to lower case by default. Try `ALTER SCHEMA haha RENAME TO "HAHA"`;

[2022-04-26 10:10] zjcnb commented on #17118
Thank you, i will try it

[2022-04-26 10:11] zjcnb commented on #17118
Thank you, i will try it

[2022-04-26 10:11] #17118 closed

[2022-04-26 10:15] TeslaCN commented on #17055
Hi @carlyin0801
I noticed that your code creates instance of `SnowflakeKeyGenerateAlgorithm` every time in loop. Consider using the same instance of `SnowflakeKeyGenerateAlgorithm`.

[2022-04-26 10:39] #17021 closed

[2022-04-26 10:46] strongduanmu commented on #17107
In addition to the metadata validation exception for the `CREATE TABLE` statement, other statements also need to be tested, and I will continue to work on that.

[2022-04-26 11:05] zjcnb opened #17123 "`ALTER SCHEMA` throws NPE"
## Bug Report

[code]

[2022-04-26 11:14] weihubeats opened #17125 "delete constant"
DatabaseDiscoveryExecutorCallback  remove redundant constants
![image](https://user-images.githubusercontent.com/42484192/165288004-f9b388ab-6b9c-4ab6-aa51-dcbb237e0f5b.png)

[2022-04-26 11:21] #17125 closed

[2022-04-26 11:22] weihubeats commented on #17125
close

[2022-04-26 13:12] sandynz commented on #17073
Hi @strongduanmu , could you help to have a look at this issue?

[2022-04-27 00:51] strongduanmu commented on #17073
@sandynz Thank you for your remind. @VeejaLiu This is not a bug, the logical index will add the actual table suffix in ShardingSphere. I think you should adjust the length of the logic logical index to avoid the actual index being too long.

[2022-04-27 01:56] Gordonman commented on #17117
Which version supports this feature？

[2022-04-27 02:53] strongduanmu commented on #17117
You can try 5.1.1, for more detailed info, refer to this doc——https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/#sql-%E7%A4%BA%E4%BE%8B.

[2022-04-27 03:15] VeejaLiu commented on #17073
@strongduanmu
Thank you for your reply.
But I don't agree with you. In the production environment, it's normal to have a long table name or index name.
Even because of some historical factors, this bad design may already exist in the user's system. But we can't blame our users for this. I think as middleware developers, we should achieve maximum compatibility and non-invasive. We should predict th

[2022-04-27 03:32] strongduanmu commented on #17073
@VeejaLiu Of course, I agree that ShardingSphere should be as compatible with native databases as possible, but ShardingSphere needs to consider different databases, and indexes with the same name are not allowed in PostgreSQL databases, which is the reason for index rewriting.

If you are interested, you can try to sort out the index requirements of different databases, and then optimize the logi

[2022-04-27 03:46] VeejaLiu commented on #17073
@strongduanmu
Thank you!
It explains the matter
I've only used MySQL and haven't thought about other databases.
This is really a thorny problem.
Thank you for your reply.

[2022-04-27 05:48] tuichenchuxin opened #17137 "Support get logic ddl sql"
## Summary
mysql has show create table statement, but i can only get the real sql, when we configed a logic table like sharding table, then we'll not get the logic ddl sql.
for example, I have a sharding table `t_order`, but the actual tables is `t_order_0`. Then we can't get ddl sql by execute `show create table t_order`.
And some database like postgres can't get ddl sql directly. So we need to g

[2022-04-27 06:24] tuichenchuxin opened #17138 "when proxy restarted show create table will show wrong index"
## Bug Report

### Which version of ShardingSphere did you use?
master - 9b6e00f6f32b8ff2e5bc9d2fd598cfd7019ba3e5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 proxy
### Example codes for reproduce this issue (such as a github link).
sharding-config
[code]
use proxy to execute
[code]
the key order_index_t_order is correct.
but when I restarted it, then execute show c

[2022-04-27 06:54] newchendb opened #17139 "Distributed transaction cannot be rolled back normally"
Shardingsphere-JDBC version is 5.1.1
Seata version is 1.4.2
Here is a simple demo. Can you help me see why distributed transactions are invalid? Is the configuration missing or wrong?

https://github.com/newchendb/shardingjdbc-seata-test

The order application requests the commodity application. When the order application actively reports an error, the commodity application does not trigger transa

[2022-04-27 07:17] TeslaCN opened #17143 "Update outdated examples under examples/docker"
## Examples

The examples under https://github.com/apache/shardingsphere/tree/master/examples/docker are outdated.
Consider
- Bump the image to `apache/shardingsphere-proxy:latest`
- Use PostgreSQL as database (MySQL JDBC Driver is not included in ShardingSphere-Proxy by default)
- Update configurations

[2022-04-27 07:56] asdxiaoqex opened #17146 "There was a problem upgrading the version 4.1.1 ~5.x"
![image](https://user-images.githubusercontent.com/50010140/165469522-bc0129e1-028a-494b-87f8-bcf181ac099b.png)

In the old version 4.x, I got the split table rule through datasource, and then modified it with reflection to achieve dynamic capacity expansion.

In the new version5.x, I can't find a place to get the sharingrule. I hope you can prompt where you can reference.
![image](https://user-im

[2022-04-27 09:04] #17107 closed

[2022-04-27 09:12] #9957 closed

[2022-04-27 09:20] TeslaCN commented on #15037
Cannot reproduce in latest version.
[code]

[code]

[2022-04-27 09:20] #15037 closed

[2022-04-27 09:47] jingshanglu commented on #17139
`@ShardingSphereTransactionType(TransactionType.BASE)` only guarantees the transaction semantics of the connection obtained
 through `shardingsphere`. If you want to realize cross service transaction semantics, you may need to understand the usage of `@Globaltransaction`

[2022-04-27 10:37] a5302091 commented on #9841
I have the same problem with you. Have you solved it

[2022-04-27 10:48] TeslaCN commented on #17146
Hi @asdxiaoqex
You may try `getRuleMetaData().findRule(ShardingRule.class)`.

https://github.com/apache/shardingsphere/blob/dab914a6edac43f82a60be00280aa6597d5bda74/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/rule/ShardingSphereRuleMetaData.java#L94-L97

[2022-04-27 11:19] cheese8 opened #17152 "[Discussion] Refactoring EncryptColumnRuleConfiguration and related to set encryptorName by column"
Now 1 logicColumn 1 encryptorName, only one encryptorName could be specified, but there are cipherColumn and assistedQueryColumn and maybe other desensitization column would be added by requirements.

I supposed to refactor as below, and what's your suggestion?  related: #13508

![image](https://user-images.githubusercontent.com/25882819/165507029-bb4b1162-db67-43a5-9908-733e0e2effbf.png)

[2022-04-27 11:52] azexcy commented on #17077
@VeejaLiu  Hello, I fix the problem of unsign type of MySQL not handled correctly when using scaling. But I can't reproduce the error of `HikariDataSource` , can you provide more information of it? Thanks.

[2022-04-27 12:19] #17077 closed

[2022-04-27 12:39] pandatop opened #17156 "Exception while querying information_schema.tables"
Version:5.1.1

config:
![image](https://user-images.githubusercontent.com/86768666/165518323-1143235b-2158-45e4-abed-b2b78b6c9e6a.png)

An exception ( java.sql.SQLSyntaxErrorException: Table 'cradle_codegen0.tables' doesn't exist )  occurred while executing the SQL statement
SQL:  select table_name name, table_comment comment from information_schema.tables  WHERE table_schema = (select database())

[2022-04-27 15:54] Ahoo-Wang opened #17159 "The `CosIdModShardingAlgorithm` lost the `mod` configuration parameter."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-04-27 23:07] cheese8 commented on #17076
Could you try it with 5.1.1, there is no uniqueTables logic within 5.1.1 already.

[2022-04-28 01:25] #17087 closed

[2022-04-28 02:45] mayfsac commented on #17076
I did not download the source code for 5.1.1，I'm not sure it's the same as 5.1.0  ,  the uniqueTables uniqueTables is replaced by tables at 5.1.0, i saw the logic has not changed and just changed the code style.

At 2022-04-28 07:07:22, "cheese8" ***@***.***> wrote:

Could you try it with 5.1.1, there is no uniqueTables logic within 5.1.1 already.

—
Reply to this email directly, view it on GitHub

[2022-04-28 03:19] Huletian opened #17166 "kettle to import data into shardingsphere-proxy:Parameter index out of bounds"
When I use kettle to import data into shardingsphere-proxy,
some table wile appear:caused by : Java sql. SQLException: Parameter index out of bounds. 23393 is not between valid values of 1 and 23392。

But,I am sure that my orginal table is consistent with the target table,and this problem will not occur when I change the target to MySQL sub database.

I used kettle to write a simple transfer,a tab

[2022-04-28 03:51] bushuaigege opened #17168 "About shadow db routing extension support richer ways"
ok
It has been confirmed that the answer cannot be obtained through google search and github issue;

Requirement: switch the shadow route after obtaining the tag through the request header, and the master-slave db is currently used

for example: all sql operations entered through the A URL are executed in the shadow db;

At present, the implementation method is considered: implement ShadowAlgorith

[2022-04-28 03:54] #17066 closed

[2022-04-28 05:36] strongduanmu commented on #17166
@Huletian Can you provide more information——ShardingSphere version and your sharding configuration?

[2022-04-28 05:39] VeejaLiu opened #17169 "Error when using DistSQL to add a custom ID generation algorithm"
## Bug Report
I write a Class implements KeyGenerateAlgorithm:
[code]
And I create a file in resource to register class:
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/22064617/165682703-c252d47d-692e-4cb3-a35a-eb6eeb66a419.png">
Then maven install into a .jar:
<img width="387" alt="image" src="https://user-images.githubusercontent.com/22064617/165683048-21176b36-99fb

[2022-04-28 06:19] zjcnb opened #17170 "Proxy cluster start up failed when pull PG configuration from reigster center."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

Proxy cluster can be start up

### Actual behavior

[code]

[2022-04-28 06:22] Huletian commented on #17166
ShardingSphere version:5.0.0(Updated on 2022.03.11)

# configuration:
## server.yaml:
[code]

# DistSQL
[code]

[2022-04-28 06:28] yang771036958 opened #17171 "Encryption does not work ，shardingsphere-jdbc 5.1.1"
[code]

[2022-04-28 06:29] yang771036958 commented on #17171
![image](https://user-images.githubusercontent.com/34882711/165690866-e89333eb-cb5d-4b66-a0e5-cbcce5066bab.png)

[2022-04-28 06:30] yang771036958 commented on #17171
![image](https://user-images.githubusercontent.com/34882711/165691105-1cb465c3-7218-4cdb-8e84-60ed4c658745.png)

[2022-04-28 06:32] yang771036958 commented on #17171
[lite-sys-uaa-sharding-dev.txt](https://github.com/apache/shardingsphere/files/8580116/lite-sys-uaa-sharding-dev.txt)

[2022-04-28 06:35] #17123 closed

[2022-04-28 06:39] yang771036958 commented on #17171
help me @rfscholte @WillemJiang @ke4qqq

[2022-04-28 07:06] yang771036958 commented on #17171
![image](https://user-images.githubusercontent.com/34882711/165696233-14d0dc66-98d6-42f5-b607-d11691962774.png)
![image](https://user-images.githubusercontent.com/34882711/165696275-d8e413ae-36a1-49ab-b855-5a53f04024a3.png)

He's working 。。。。。。。。

[2022-04-28 07:07] yang771036958 commented on #17171
sys_user -> SYS_USER

[2022-04-28 07:25] azexcy opened #17173 "Create database xxx not effict when using Proxy"
## Bug Report

master 16d9ef687c2fb4c0669a4af9ce62f14395bae7e9

ShardingSphere-Proxy

when i using direct connection to database,

[code]
the result is success
<img width="442" alt="image" src="https://user-images.githubusercontent.com/101622833/165694680-1f7f550a-5a82-4986-88fa-c32ef2bd9add.png">

but using ss-proxy, when i execute the following code

[code]

the console output is
[code]

but the

[2022-04-28 07:31] sandynz commented on #17173
Hi @TeslaCN , could you help to have a look at this issue?

[2022-04-28 07:35] strongduanmu commented on #17171
Hi @yang771036958, thank you for your feedback. It seems to be a capitalization issue, are you interested in submitting a PR to optimize it?

[2022-04-28 09:03] azexcy commented on #17092
OK, I will track this issue

[2022-04-28 09:03] azexcy commented on #17092
OK, I will track this issue

[2022-04-28 09:06] VeejaLiu commented on #17169
Maybe here:
<img width="2429" alt="image" src="https://user-images.githubusercontent.com/22064617/165718217-a8ac4fa6-bb14-4425-ab63-9608f7ed68a1.png">

[2022-04-28 09:28] TeslaCN commented on #17166
Hi @Huletian
Could you try the ShardingSphere 5.1.1?

[2022-04-28 09:36] VeejaLiu commented on #17169
I finally found the problem.

I didn't understand the rules of SPI.
The file name in `META-INF/services` is the fully qualified class name of the **interface**, and the content in it is the fully qualified class name of the **implementation class**.
I made a mistake about this.
<img width="1389" alt="image" src="https://user-images.githubusercontent.com/22064617/165723963-868e8aa1-e348-4b36-9162-f

[2022-04-28 09:36] #17169 closed

[2022-04-28 10:04] TeslaCN commented on #17173
I will check this.
You may add `preferQueryMode=extendedForPrepared` to JDBC url as a temporary solution.

[2022-04-28 10:16] strongduanmu commented on #14004
Since this task is too big, I will split the implementation of search_path into other issues. This issue is responsible for supporting SQL execution with the schema modifier.

[2022-04-28 11:04] #17159 closed

[2022-04-28 12:03] yang771036958 opened #17178 "Found a bug，SM4，CBC，Decryption exception， shardingsphere JDBC 5.1.1"
[code]

[2022-04-28 12:05] yang771036958 commented on #17178
![image](https://user-images.githubusercontent.com/34882711/165747949-d5051d60-477a-4c17-a39d-54675f8ca45f.png)

SMS-CBC decrypt error，IV is null，Encryption normal。

[2022-04-28 12:30] strongduanmu commented on #17178
Hi @yang771036958, thank you for your feedback. Can you provide the step to reproduce this problem?

[2022-04-28 13:48] #14004 closed

[2022-04-29 01:42] strongduanmu commented on #17178
@cheese8 Good job, assigned.

[2022-04-29 01:59] RaigorJiang opened #17190 "`UPDATE statement` parsing failed in PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1 release
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
SQL can be parsed correctly for update statement in PG.

### Actual behavior
SQL parsing failed:
[code]
<img width="1492" alt="image" src="https://user-images.githubusercontent.com/5668787/165874209-9697

[2022-04-29 02:01] tuichenchuxin commented on #17190
I'll check it.

[2022-04-29 02:13] tuichenchuxin commented on #17190
This seems not supported for pg.
https://www.postgresql.org/docs/current/sql-update.html
use this to replace
[code]

[2022-04-29 02:15] RaigorJiang opened #17191 "Preparing failure in scaling because getting primary key failed"
## Bug Report
### Which version of ShardingSphere did you use?
5.1.1 #5b117204
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Scaling task started successfully.

### Actual behavior
The scaling task failed to start because the primary key of the table could not be found, but the table actually has a primary key.

<img width="

[2022-04-29 02:28] RaigorJiang commented on #17190
@tuichenchuxin
OK, thank you, so I can close it now.

[2022-04-29 02:28] #17190 closed

[2022-04-29 02:34] strongduanmu opened #17192 "Consider adding schemaName property to EncryptContext to support PostgreSQL"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

After we support the PostgreSQL schema feature, we need to consider adding schemaName parameter to EncryptContext so that users can complete more advanced encryption and decryption.

The modified EncryptContext is as follows:

[code]

[2022-04-29 02:38] RaigorJiang opened #17194 "Preparing failure in scaling because Incorrect statement for create table"
## Bug Report
### Which version of ShardingSphere did you use?
5.1.1 #5b117204
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Scaling task started successfully.
### Actual behavior
Sharding tables cannot be created because an incorrect table creation statement is generated, and the scaling task fails to start.
[code]

##### Pr

[2022-04-29 02:42] zhaoguhong opened #17196 "encrypt config queryWithCipherColumn is support column levels？"
## current

[code]
## expect

[code]

[2022-04-29 02:53] Huletian commented on #17166
I tried 5.1.1, but some tables will still throw this exception. My concurrency is not very large, and only some tables will have this problem. I want to ask, is the problem caused by the column type of the table?

[2022-04-29 02:58] cheese8 commented on #17196
What kind of scene the column level `queryWithCipherColumn`  is needed？It feels just too fine-grained on column level.

[2022-04-29 02:58] strongduanmu commented on #17196
Hi @zhaoguhong what is your business scenario, and you need to switch between encryption and decryption at the column level?

[2022-04-29 02:58] TeslaCN commented on #17166
Could you try finding out which SQL caused the exception?

[2022-04-29 03:04] Huletian commented on #17166
I also want to find the SQL that throws an exception, but I can't find it. Sorry

[2022-04-29 03:07] zjcnb commented on #17092
[code]

[2022-04-29 03:31] #17192 closed

[2022-04-29 03:38] misselvexu opened #17197 "Any plans to use Gradle instead of maven ？"
## Question

Any plans to use Gradle  instead of maven ？

[2022-04-29 03:40] RaigorJiang commented on #17194
The correct create table statement is:
[code]

[2022-04-29 03:48] carlyin0801 commented on #17055
ok，thanks

[2022-04-29 03:48] #17055 closed

[2022-04-29 03:54] carlyin0801 opened #17198 "In the case of sub-tables, if the sql contains on duplicate key update, it will cause an error in the actually generated sql"
**Bug Report**
Which version of ShardingSphere did you use?
5.0.0

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

Expected behavior
[insert into t_pipeline_info (PIPELINE_ID, PROJECT_ID, PIPELINE_NAME, PIPELINE_DESC) values (?, ?, ?, ?) on duplicate key update t_pipeline_info.PIPELINE_DESC = ?]
can be converted into
[insert into t_pipeline_info_0 (PIPE

[2022-04-29 03:55] carlyin0801 commented on #17198
@strongduanmu hi, can you please take a look

[2022-04-29 05:25] #16978 closed

[2022-04-29 06:18] strongduanmu commented on #17198
@carlyin0801 Please submit issue with bug template.

[2022-04-29 06:38] carlyin0801 commented on #17198
The issue template has been updated, please take a look

[2022-04-29 07:07] azexcy opened #17203 "MySQL create database succeed, but can't use it at JDBC"
## Bug Report

### Which version of ShardingSphere did you use?

master 3d08a8d176d494239c575b84535d30408cc6b456

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

If create database succeed, can be used right now.

### Actual behavior

I was using ShardingSphere-Proxy with MySQL, only use server.yaml, not use config-sharding.

[2022-04-29 07:31] strongduanmu commented on #17198
Please add your sharding configuration, and table init sql.

[2022-04-29 07:44] strongduanmu opened #17204 "Consider supporting PostgreSQL/openGauss search path feature"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

After issue #14004 is completed, ShardingSphere has supported SQL such as `CREATE SCHEMA`, `ALTER SCHEMA` and `DROP SCHEMA`, and allows users to specify schema modifiers when executing SQL, such as:

[code]

This SQL will query the data of the t_order table from the test schema.

I

[2022-04-29 07:58] cheese8 commented on #17196
Your `address` column need to be encrypted too , do it need to be queryed in `where condition`？@zhaoguhong

[2022-04-29 07:58] carlyin0801 commented on #17198
configuration:
"ds_\${0..1}.t_pipeline_info_\${0..1}"

table init sql:
CREATE TABLE `t_pipeline_info_0` (
  `PIPELINE_ID` varchar(34) NOT NULL DEFAULT '' COMMENT '流水线ID （P-32位UUID)=34位',
  `PROJECT_ID` varchar(64) NOT NULL COMMENT '项目ID',
  `PIPELINE_NAME` varchar(255) NOT NULL COMMENT '名称',
  `PIPELINE_DESC` varchar(255) DEFAULT NULL COMMENT '描述',
  PRIMARY KEY (`PIPELINE_ID`),
  UNIQUE KEY `T_PI

[2022-04-29 09:06] strongduanmu opened #17208 "Metadata lost when executing `alter schema rename to` statement"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/e57d946adc65ba754f225cb7a2b3de1c61642cf0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The `alter schema rename to` statement is executed, and the metadata is refreshed normally.

### Actual behavior

After exe

[2022-04-29 09:31] judykula commented on #15791
mark

[2022-04-29 09:42] sandynz commented on #17194
Hi @RaigorJiang , I tested on local MogDB, it works on `numeric` data type. Could you verify the printed creating table SQL again? (Log keyword: AbstractDataSourcePreparer - execute target table sql)

Test table:
[code]

Got SQLs by `pg_get_tabledef`:
[code]
Handled SQLs:
[code]
And scaling job FINISHED:
[code]
Related sharding db on underlying MogDB:
[code]

[2022-04-29 09:53] littlePoBoy commented on #16894
I also encountered this problem，shardingsphere-proxy version 5.1.0
mysql version 5.7
update table Lock wait timeout exceeded
the amount of concurrency is 1。

[2022-04-29 09:59] cheese8 commented on #17196
OK, I got it. I think it should be supported, what do you think? @strongduanmu

[2022-04-29 12:09] strongduanmu commented on #17196
From this scenario, it is indeed necessary, but this solution will make the encrypt rewrite logic more complicated, and we need to evaluate all possible problems in detail, such as performance and code maintainability.

[2022-04-30 01:34] linghengqian commented on #17197
I'm not sure what the community thinks, but I personally hate using a flexible scripting language like `Groovy` in a package manager (`Kotlin-DSL` is great by definition, of course, but it's a much more niche option). I prefer to use a rigorously defined markup language like `XML`, which is why `Maven` is so easy for developers to get started with. Furthermore, According to `Synk`, `Maven`'s marke

[2022-04-30 01:46] sandynz commented on #16924
`SHOW SHARDING TABLE RULE t_order;` was fix by #17088

[2022-04-30 03:11] sandynz opened #17218 "No tables metadata created in registry center if table name is lowercase in sharding rule and create table with uppercase table name"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 64683ecf52f8fd7b7918d8b61f8ace4c5a410116

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
From testing result, native MySQL and PostgreSQL's table name is case insensitive.

If table name is `t_order` in sharding rule, and create table with name `T_ORDER` i

[2022-04-30 05:15] cheese8 commented on #17196
Assign me please , I am following it.

[2022-04-30 05:44] cheese8 commented on #17171
Assign me, I'm following it.

[2022-04-30 06:41] sandynz opened #17228 "ShardingSphereLock.releaseLock could ignore operation if caller doesn't own the lock"
## Feature Request

### Is your feature request related to a problem?
To some degree.

Scaling job preparation failed, then it emit releaseLock.
[code]
Related scaling job status:
[code]

Exception occur:
[code]

### Describe the feature you would like.
ShardingSphereLock.releaseLock could ignore operation if caller doesn't own the lock.

[2022-04-30 07:22] sandynz opened #17229 "PipelineTableMetaDataLoader.getTableMetaData is not case-insensitive for table name"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
PipelineTableMetaDataLoader.getTableMetaData should case-insensitive for table name.

### Actual behavior
Case-sensitive.

Proxy log:
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such

[2022-04-30 08:14] #17229 closed

[2022-04-30 08:32] zjcnb commented on #17228
@soulasuna Can you take a look at this question?

[2022-04-30 11:24] cheese8 commented on #17198
Assign it to me? thanks @strongduanmu

[2022-04-30 11:59] strongduanmu commented on #17198
@cheese8 Welcome, I just assign this issue to you.

[2022-04-30 12:03] #17178 closed

[2022-04-30 12:43] zjcnb opened #17233 "Clear error message when create existing database with PostgreSQL"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

[code]

### Actual behavior

[code]

[2022-05-01 07:20] #17086 closed

[2022-05-01 07:21] sandynz commented on #17086
I reproduced this issue.
Use uppercase table name in sharding rule, and use lowercase table name in underlying sharded actual tables. e.g. T_ORDER in sharding rule, t_order_0 in sharded table.

[2022-05-01 08:37] cheese8 opened #17250 "ORA-01795 while OracleSchemaMetaDataLoader.load tables count greater than 1000"
Described as title.

ENV:
5.1.2-SNAPSHOT, oracle-xe-11g-r2, ojdbc8 version 12.2.0.1

[2022-05-01 11:07] chakkk309 commented on #17023
Hi, I would like to work on this issue, please assign it to me.

[2022-05-01 18:52] suncl001 opened #17260 "官网中关于ShardingSphere-JDBC配置项说明文档的错误"
版本：5.1.1
问题文档地址：https://shardingsphere.apache.org/document/5.1.1/cn/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/sharding/
说明：
在spring-boot-starter配置规则“数据分片”的配置文档中，关于"用于单分片键的标准分片场景"的配置项文档说明为：
`spring.shardingsphere.rules.sharding.tables.<table-name>.database-strategy.standard.sharding-column=`
实际应该为：
`spring.shardingsphere.rules.sharding.tables.<table-name>.table-strategy.standard.sha

[2022-05-02 00:12] strongduanmu commented on #17260
Hi @suncl001, thank you for your feedback. Can you translate this issue to english? In addition, ShardingSphere supports both database-strategy and table-strategy configurations, which represent sharding and table sharding strategies, respectively.

[2022-05-02 00:14] strongduanmu commented on #17023
@chakkk309 Welcome.

[2022-05-02 00:28] #17171 closed

[2022-05-02 08:28] vivek579 commented on #16277
Any updates on this please

[2022-05-02 14:08] ThanoshanMV commented on #6478
Hi @strongduanmu. In `WITH dept_costs AS (SELECT department_name, SUM(salary) dept_total FROM departments d GROUP BY department_name) SELECT * FROM dept_costs WHERE dept_total > 304500 ORDER BY department_name` SQL statement, `SubquerySegment`'s startIndex should begin with parenthesis or from the character 'S'?

[2022-05-02 18:51] everly-gif commented on #16620
Will be making an PR soon as there as has been no progress or response.

[2022-05-03 00:15] #16620 closed

[2022-05-03 03:31] ryanxci opened #17285 "Why the second variable of Actual SQL(simple) is not the actual tabel name?"
Why the second variable of Actual SQL(simple) is not the actual tabel name?

log("Actual SQL(simple): {} ::: {}", dataSourceNames, executionUnits.size());

Is tableRouteMapper.getActualName() more appropriate here?

[2022-05-03 04:49] #16983 closed

[2022-05-03 06:35] #17250 closed

[2022-05-03 07:01] cheese8 opened #17288 "[Refactor] Reuse connection to loadIndexMetaData after OracleSchemaMetaDataLoader loadColumnMetaDataMap"
## Refactor

Reuse connection to loadIndexMetaData after OracleSchemaMetaDataLoader loadColumnMetaDataMap.

releated: #17250

[2022-05-03 07:58] strongduanmu commented on #6478
Hi @ThanoshanMV, I don't think the startIndex of SubquerySegment should contain parentheses, it's just a simple wrapper around the select statement to identify the subquery.

[2022-05-03 08:05] ThanoshanMV commented on #6478
Thank you @strongduanmu.

[2022-05-03 08:15] #17208 closed

[2022-05-03 09:20] deploymentadmin opened #17296 "spring-data-jdbc error is supported for version 5.1.1"
a bean of type 'org.springframework.jdbc.core.namedparam.NamedParameterJdbcOperations' that could not be found.
but 4.0.0 version  is ok

[2022-05-03 10:17] nickfan opened #17299 "ShardingSphere-Proxy Unable to work with apache flink cdc connector."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-05-03 12:32] linghengqian commented on #17296
Try updating your `org.springframework.boot:spring-boot-starter-parent` version to 2.6.7. This class belongs to the Spring Framework and still exists in the Master branch. See https://github.com/spring-projects/ spring-framework/blob/4fc359f75ec58ed9477ace0cbc6129ce752f1c63/spring-jdbc/src/main/java/org/springframework/jdbc/core/namedparam/NamedParameterJdbcOperations.java .

[2022-05-03 17:21] #16986 closed

[2022-05-04 03:24] iisheng commented on #15820
Hello, I would like to have a try

[2022-05-04 05:13] wsg96321 opened #17308 "connection leak for sharding proxy"
version: sharding proxy v 5.1.0

I deploy a sharding proxy with v5.1.0 , and there is many python script in other machine. The python script connect sharding proxy use intranet connection and it is short connection . But when the sharding proxy run for a few days (about 1-2 day maybe ) , I found there is many connection with TCP state `CLOSE_WAIT` and it is `TIME_WAIT` in client machine(python scr

[2022-05-04 05:43] strongduanmu commented on #15820
@iisheng Welcome.

[2022-05-04 05:51] #17288 closed

[2022-05-04 10:20] #17260 closed

[2022-05-04 10:23] terrymanu opened #17313 "WeightReplicaLoadBalanceAlgorithm can not be used by multiple load balance rules"
The static field `WEIGHT_MAP` is class level which effected each other for different load balance rules.

Please use object level attribute on this algorithm.

[2022-05-04 10:39] terrymanu commented on #17313
Hi, @cherubimLV

This feature comes from #13933, could you fix it?

[2022-05-04 10:51] DreamTexX commented on #12170
Hello, would like to work on this. Is this still relevant? I see there are only a few untested lines. Just seems like a good small starting point to start contributing 😄.

[2022-05-04 12:28] Lyzxii commented on #15628
Hi, I have this question too, did you figure it out?

[2022-05-04 15:36] lsoimpe commented on #14858
一个bug既然4个月不能修复？

[2022-05-05 01:10] deploymentadmin commented on #17296
![image](https://user-images.githubusercontent.com/97282143/166850411-b1089acd-5470-46f9-a452-8f955834693d.png)
that is Spring cannot initialize the data source， spring.datasource config is ok.   Is there an example for spring-data-JDBC？

[2022-05-05 01:57] linghengqian commented on #17296
@deploymentadmin Normally not, because as far as I know Spring Data JDBC is usually used to integrate into the Mapper layer of Mybatis, I don't see any problems in this area. I think you can provide a minimal example of a recurring problem. (Looks like you did some extra configuration on Spring.)

[2022-05-05 02:29] TeslaCN commented on #12170
Hi @DreamTexX
Would you like to finish this issue?

[2022-05-05 02:47] sandynz commented on #17218
Hi @zjcnb and @strongduanmu , could you help to have a look at this issue?

[2022-05-05 02:50] zjcnb commented on #17218
Sure, Thank you for your feedback, i will check it.

[2022-05-05 03:08] #17233 closed

[2022-05-05 06:56] RaigorJiang commented on #17156
Hi @pandatop
The support for `information_schema` is being improved, please pay attention to the subsequent version releases.
Related issue: #16234

[2022-05-05 06:56] RaigorJiang commented on #17299
Hi @nickfan
The support for `information_schema` is being improved, please pay attention to the subsequent version releases.
Related issue: #16234

[2022-05-05 07:01] RaigorJiang commented on #17203
Hi @azexcy
Thanks for your feedback.
@lanchengx  could you help investigate?

[2022-05-05 07:05] lanchengx commented on #17203
@azexcy @RaigorJiang Thanks, I will check

[2022-05-05 07:18] #17296 closed

[2022-05-05 07:34] deploymentadmin opened #17332 "Whether shardingsphere JDBC supports dynamic SQL under the same database instance and different schemas"
Whether shardingsphere JDBC supports dynamic SQL under the same database instance and different schemas, for example: "insert into ds_0. user (city, name) values ('a ',' b ')";
that error org.apache.shardingsphere.infra.exception.SchemaNotExistedException: Schema 'ds_0' doesn't exist.

I use shardingsphere JDBC for sharding database，shardingsphere.datasource is config  database instance,i hope tha

[2022-05-05 08:44] q3056917665 opened #17335 "Timed out after starting project for Sharding"
### Which version of ShardingSphere did you use?
sharding-jdbc V4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
The project is successfully started.

### Actual behavior
On 5.7.36 of the MySQL version and the number of tables is 2133 the timeout. but not on 5.6.51 of the MySQL version,The same quantity.

### Reason analy

[2022-05-05 09:07] Ahoo-Wang opened #17337 "Refactor `CosIdIntervalShardingAlgorithmTest` to improve readability"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

NO

### Describe the fea

[2022-05-05 09:39] TeslaCN commented on #17308
Hi @wsg96321
Your server config is not the 5.x style. You may refer to:
https://github.com/apache/shardingsphere/blob/1699736d88db8c388413229d179eeae3da705a8b/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/server.yaml#L64-L85

The WARN log `An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipelin

[2022-05-05 09:50] cherubimLV commented on #17313
ok.give it to me

[2022-05-05 09:54] TeslaCN commented on #17308
I tried the script you provided but failed to reproduce. We need you to help us reproduce this issue.

[2022-05-05 09:58] TeslaCN commented on #17335
Hi @q3056917665
The ShardingSphere-JDBC 4.x is no longer maintained. Could you try the 5.1.1? We have done many enhancements about loading metadata.

[2022-05-05 10:00] TeslaCN commented on #17197
Duplicated with https://github.com/apache/shardingsphere/issues/11573

[2022-05-05 10:04] q3056917665 commented on #17335
ok, let's try it

[2022-05-05 10:35] strongant opened #17342 "上海宝尊电子商务有限公司(宝尊电商)+https://www.baozun.com"

[2022-05-05 10:35] #17342 closed

[2022-05-05 10:35] strongant commented on #17342
错误

[2022-05-05 11:31] #17197 closed

[2022-05-05 13:06] #17337 closed

[2022-05-05 13:39] Ahoo-Wang opened #17351 "Support for configuring Props of primitive types"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

#17159

### Describe the

[2022-05-05 14:58] luojianjianjun opened #17355 "应该如何知道配置的分布式事务-XA事务已经生效了？"
## 如何知道配置的分布式事务-XA事务已经生效了？

采用的版本是 5.0.0
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0</version>
        </dependency>

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-transaction-xa-core</a

[2022-05-06 00:59] Crackersssss commented on #17355
Or try with XA transaction statement.

[2022-05-06 01:31] RaigorJiang commented on #17355
Hi @luojianjianjun
For English only, please translate this issue, thank you.

[2022-05-06 01:44] RaigorJiang commented on #17285
Hi @ryanxci
Thanks for your feedback.
According to your suggestion, I checked the `SQLLogger`:
When the `SELECT` routing results of multiple tables are on the same data source, `Actual SQL` is a UNION ALL statement containing multiple tables, but at this time `tableRouteMappers` only contains one object, and its `actualName` does not reflect the actual query table name.
So I recommend keeping it a

[2022-05-06 01:53] RaigorJiang commented on #17332
Hi @deploymentadmin
ShardingSphere supports the format of `database.table`,  like:
[code]
But the database should be the logic database in ShardingSphere, not a resource.

[2022-05-06 01:57] #13674 closed

[2022-05-06 02:03] nickfan commented on #17299
i upgraded  shardingsphere to 5.1.1,  still cause the same issue (with information_schema included):

[code]
![image](https://user-images.githubusercontent.com/100613/167054643-e8389b8b-9574-4dc5-b2b0-beeb95a5f22c.png)

[2022-05-06 02:05] soulasuna commented on #17168
@bushuaigege
There is currently no relevant implementation case.
Is it convenient to describe the usage scenarios and specific implementation requirements?

[2022-05-06 02:11] RaigorJiang commented on #17068
@fbin87
`andPredicates` has been removed in https://github.com/apache/shardingsphere/pull/7353.

[2022-05-06 02:11] #17068 closed

[2022-05-06 02:16] #17355 closed

[2022-05-06 02:19] RaigorJiang commented on #17299
<img width="1503" alt="image" src="https://user-images.githubusercontent.com/5668787/167055600-0fa77d42-2424-490a-84e9-ddbf4087901a.png">

`No database selected` prompted, so you did not specify DB when connecting to Proxy?
What SQL did your cdc connector send to Proxy when `No database selected` prompted?