[2020-07-14 07:57] xbkaishui commented on #6336
@tony1991 simple way

`     ShardingSphereDataSource dataSource = (ShardingSphereDataSource)applicationContext.getBean(DataSource.class);
  Map<String, DataSource> dataSourceMap =  dataSource.getDataSourceMap();
`

or you can @autowire datasource

[2020-07-14 07:59] SirMin commented on #6342
I know this, but I must save the HimManager instance and transfer it to the callee. Because setMasterRouteOnly and setDatabaseShardingValue call are not in the same place.

[2020-07-14 08:20] tristaZero commented on #6342
Hi @SirMin Thanks for your feedback.

I got your point. Maybe a new PR is needed to meet your needs.
IMO, I think your requirement is sensible in some way. It is preferable to return the original one from `HINT_MANAGER_HOLDER` rather than `new HintManager()` when call `getInstance()`. Besides, `clear()` is also expected to be called by the user themselves.

[code]

**BTW, do you want to have a try

[2020-07-14 08:27] tristaZero commented on #6343
Thanks for your kind reminder. :-) @xbkaishui
@hongfuli It seems other opportunities are expected to get you involved in ShardingSphere community in the future. What a pity! :-(

[2020-07-14 08:27] #6343 closed

[2020-07-14 08:27] menghaoranss commented on #6334
Thanks for your feedback, could you please close the issue now?

[2020-07-14 08:35] jingshanglu commented on #6028
It maybe fix in parser, when sql contain emoji, the emoji has more than one byte.

[2020-07-14 08:35] SirMin commented on #6342
Ok. I'ill try to new pr

[2020-07-14 08:50] xbkaishui commented on #6028
in version 4.1.1, it's no fixed. I will try in master branch

[2020-07-14 09:53] 65725738 opened #6347 "Running a strange exception to the project exception.tomcat7 and tomcat8"
[code]

why?

[2020-07-14 09:56] 65725738 commented on #6347
The Eclipse Tomcat7 Maven plug-in can be run.But packaging under Tomcat is not good, report an error.Neither Tomcat7 nor Tomcat8 works.

[2020-07-14 09:58] Simbafa commented on #6324
@tuohai666
Sharding-Proxy does not stop if proxy.frontend.flush.threshold is 1.
And performance effect is not obvious.

[2020-07-14 10:10] kimmking commented on #6336
ds1 is the bean name in spring context, if your resource is null, something else is wrong.

[2020-07-14 10:10] tuohai666 commented on #6324
Good.
But still strange to me. I set WriteBufferWaterMark = 16MB before, but it seems like not take effect.
Can you help to do a test using proxy.frontend.flush.threshold: 2 ? If water mark didn't take effect, this case will block the proxy.

[2020-07-14 10:11] Lucas-307 commented on #5681
After use elastic-job, we will reconstructor this config.

[2020-07-14 10:18] #5681 closed

[2020-07-14 10:44] tuohai666 commented on #6324
@Simbafa

When you increased the blob data size to 900K, all of the client threads will query this table right? But Sharding-Proxy will not stop immediately but stopped soonly?

Can you help to use 1 client thread to query this table with 900K size column? I want to make sure whether proxy will stop for every query.

[2020-07-14 11:08] Simbafa commented on #6324
Hi @tuohai666 ,

You are right. Sharding-Proxy will not sotp immediately. After some time, it stops.

I run the test application with 1 thread, 2 threads, 3 threads, Sharding-Proxy works well.
But when the threads increased to 5, Sharding-Proxy stops.

[2020-07-14 11:19] kimmking commented on #6347
It seems sql syntax error.

[2020-07-14 11:22] kimmking commented on #6333
Of course,
1. if your sharding key( for example, id) is int type, you can use `id % 16 `
2. if your sharding key( for example, code) is string type, you can use `Math.abs(code.hashCode()) % 16 `

[2020-07-14 11:28] Simbafa commented on #6324
I run the test application with 150 threads, Sharding-Proxy works well.

[2020-07-14 12:15] xbkaishui commented on #6028
@jingshanglu
still have error in master branch. please check this log

[INFO ] 20:11:50.578 [ShardingSphere-Command-4] ShardingSphere-SQL - Logic SQL: INSERT INTO t_user_third_account ( third_account_id,nickname) values(10+,'璐小果🍎我😀𪚥徐学习學習~🙋‍♀️𝓒𝓸𝓬𝓪𝓒𝓸𝓵𝓪asdfas!【】［］@#$%^123123d,.');
[INFO ] 20:11:50.578 [ShardingSphere-Command-4] ShardingSphere-SQL - SQLStatement: InsertStatementContext(super=CommonSQL

[2020-07-14 13:17] tony1991 commented on #6336
dataSourceMap is final private and there is no method like `dataSource.getDataSourceMap();`

[2020-07-14 13:24] tony1991 commented on #6336
I know and I can get ShardingDataSource by `@Autowire datasource`.  I have read the source code.
The ShardingDataSource cantains more dataSources in a dataSourceMap, but I can't get  these dataSources. you can try it.
I suggest you can change dataSourceMap to public or provide a public method to invoke

[2020-07-14 13:30] tony1991 commented on #6336
Good! I have try before submit issues. But I have not convert DataSource to ShardingDataSource, so I can't get dataSourceMap. Your method works well! Thank you!

[2020-07-14 14:25] tuohai666 commented on #6324
@Simbafa Thanks for your analysis and all the test.
The root cause of this problem is due to unreached notify to proxy.

Codes in MySQLCommandExecuteEngine:
[code]
Proxy might be starting to **begin** notify() after the 1st line ended before wait(). The notify will be back before or after the 2nd line.
If after the 2nd line, everything goes well. Otherwise, the thread will never be awakened by not

[2020-07-14 14:30] #6324 closed

[2020-07-15 01:17] 65725738 commented on #6347
The Eclipse Tomcat7 Maven plug-in can be run. if  sql syntax error，Why it works？

[2020-07-15 01:28] 65725738 commented on #6347
2020-07-15 09:23:41,137 INFO http-bio-8080-exec-3 ShardingSphere-SQL - SQLStatement: InsertStatementContext(super=CommonSQLStatementContext(sqlStatement=org.apache.shardingsphere.sql.parser.sql.statement.dml.InsertStatement@2a48199c, tablesContext=org.apache.shardingsphere.sql.parser.binder.segment.table.TablesContext@4a651eab), tablesContext=org.apache.shardingsphere.sql.parser.binder.segment.tab

[2020-07-15 01:46] 65725738 commented on #6347
String SQL = " update usr_profile set lgn_cnt = lgn_cnt + 1, last_lgn_time = CURRENT_TIMESTAMP where profile_id =" + credential.getProfileId();
        jdbcTemplate.update(SQL);

Is this SQL supported?

[2020-07-15 01:51] jingshanglu commented on #6028
Now, it has not been fixed, i mean we should fix it in parser.

[2020-07-15 02:42] #6334 closed

[2020-07-15 03:03] lcx1989210 opened #6351 "Just return one ID when batch insert at shardingsphere 4.1.1"
Mysql Server version : 5.7.22;
shardingsphere version: 4.1.1
The maven info as follow:

  <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-core-common</artifactId>
            <version>4.1.1</version>
        </dependency>

 <dependency>
        <groupId>org.apache.shardingsphere</groupId>
        <artifactId>sharding-jdbc-core</artifactId>

[2020-07-15 03:04] 171563857 commented on #6028
how long will it fix ? i maybe choose other solution if it's too long, thx

[2020-07-15 03:05] xbkaishui commented on #6028
I got your point. I will try to fix this, but I am not familiar with antlr parser, do you have any ideas ?

[2020-07-15 03:06] xbkaishui commented on #6028
@171563857, You can try my [branch](https://github.com/xbkaishui/shardingsphere/tree/support-local-datetime-411), it is ok now in version 4.1.1.

[2020-07-15 03:20] 171563857 commented on #6028
it's sql parser err, i havn't any idea, sry
just to try another way QAQ

[2020-07-15 03:28] menghaoranss commented on #6351
Duplicated with #5858

[2020-07-15 03:30] tristaZero commented on #6351
@lcx1989210 Hi Thanks for your issue.

How did you do to get IDs? My guess is,
`preparedStatement.getGeneratedKeys()`, right?

[2020-07-15 03:40] tristaZero commented on #6347
Hi @65725738 Your log convinced us it is something with SQL parsing issue.
Which version is your app using?

@jingshanglu Could you give this SQL a look? I am not sure whether it is supported in our previous releases.

[2020-07-15 03:52] jingshanglu commented on #6347
Now, master branch is ok @tristaZero @65725738
![image](https://user-images.githubusercontent.com/16559542/87501385-8ad51780-c691-11ea-942a-80213c2ee286.png)

[2020-07-15 05:30] xbkaishui commented on #6336
no problem, you can close this issue if it is ok.

[2020-07-15 06:06] lcx1989210 commented on #6351
I use mybatis as the persistence layer.And the config is :
![image](https://user-images.githubusercontent.com/21120592/87509424-1a83c180-c6a4-11ea-94eb-7d7dfc9c87e9.png)
 mybatis version is 3.4.2.

[2020-07-15 07:46] kimmking commented on #6351
We had analysis many cases for batch insertion and will fix it in 5.x branch.
And this issue will be close soon.

[2020-07-15 07:55] lcx1989210 commented on #6351
Please tell me why there is such a phenomenon？

[2020-07-15 07:58] kimmking commented on #6342
@SirMin Assigned

[2020-07-15 08:28] lijintaotzx opened #6353 "Shardingsphere-proxy data sharding, How to deal with foreign keys？"
Newbies are just getting started with shadingsphere

I have several tables: user group, user, order, order details

Now the order table has a huge amount of data and needs to be split. I plan to use shardingsphere proxy to take orders and order details to other database and save them in many tables
However, there is a foreign key relationship between the order table and the user table. After confi

[2020-07-15 08:37] mazhaoshuo opened #6354 "How to get the result in MySQL JSON field"
When I execute the following statement, I get two fields, but the result returns one field
`select content_json->>'$.nation' as nation,content_json->>'$.title' as title from  tb_content_json b where b.content_id=1`
![image](https://user-images.githubusercontent.com/39507157/87523098-09917b00-c6b9-11ea-8d74-49f3f3869842.png)

This table is not divided into tables. I want to ask if the tables that a

[2020-07-15 09:13] menghaoranss commented on #6354
@mazhaoshuo For English only.

[2020-07-15 09:16] mazhaoshuo commented on #6354
I have translated the question

[2020-07-15 09:17] cobstergo opened #6355 "Does ShardingSphere-Proxy support two-node cluster deployment?"
Does ShardingSphere-Proxy support two-node cluster deployment？
if ShardingSphere-Proxy support two-node cluster deployment, it will improve Reliability.
if not support, Is there any plan to support two-node cluster deployment?

[2020-07-15 09:20] mazhaoshuo commented on #6354
@menghaoranss I have translated the question

[2020-07-15 10:29] xtuer opened #6357 "Could Sharding-Proxy support load balance?"
We can use keepalived to make high availability with Sharding-Proxy, one proxy is not enough when there are too many connections, is there anyway to load balance Sharding-Proxy?

Thank you!

[2020-07-15 12:11] 18511699755 commented on #6322
I found the reason.
spring.shardingsphere.props.max.connections.size.per.query=32
spring.shardingsphere.datasource.demo.max-active= 20
The two configurations are different. The former is larger than the latter. I have 256 tables here. When the shard key is not hit, all the tables will be scanned. According to the first configuration, 32 database connections will be created, but the database I conf

[2020-07-15 12:25] xbkaishui commented on #6355
yes, you can deploy multi node as peers, each one are independent,  you can also use orchestration function to manage the multi nodes

[2020-07-15 12:29] xbkaishui commented on #6357
it that ok,  nginx  ->  multi proxy
nginx for load balance with tcp connections.

[2020-07-15 12:32] zhf122728281 opened #6358 "Update Case When mode does not support encryption?"
### Which version of ShardingSphere did you use?
    compile 'org.apache.shardingsphere:sharding-jdbc-spring-namespace:4.1.1'
    compile 'org.apache.shardingsphere:sharding-jdbc-core:4.1.1'

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
        ShardingSphere-JDBC

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the

[2020-07-15 12:35] zhf122728281 commented on #6358
What batch update method supports encryption?

[2020-07-15 12:36] zhf122728281 commented on #6358
I need your help

[2020-07-15 13:10] xtuer commented on #6357
Thank you for your reply, I will try it later.

[2020-07-15 13:15] xbkaishui commented on #6028
Hi @jingshanglu , I find the root cause of this issue, please refer [this](https://github.com/antlr/antlr4/blob/master/doc/unicode.md#unicode-code-points-in-lexer-grammars),  let's discuss how to fix it.

[2020-07-15 16:01] hongfuli commented on #6343
@xbkaishui @tristaZero

According to the original design reflected in the code(org.apache.shardingsphere.proxy.config.ShardingConfigurationLoader) and the startup shell script(start.sh), it is best to keep the way using `class.getResource` to load resources. we only need to adjust the `classpath` setting in the `start.sh` scrip file.

In addition there is another problem, the logback.xml file in t

[2020-07-16 01:38] feiweihy opened #6362 "Bug for oracle when application starting"
We create many users in our oracle database ( 12C ), I use shardingsphere-jdbc in our project which is based on springcloud.  When I startup application, an error occurred: ORA-00942 table or view not exsist.
I read codes and found that function getSchema in class JdbcUtil has an problem:
     `if ("Oracle".equals(databaseType)) {
                return null;
            }`
This is ok when databas

[2020-07-16 02:41] slowquery opened #6363 "I think SQLParser is an error"
## Bug Report

i try sharding on Amaon RDS with mysql, but isn't not supported error
also example code is mysql, what is a problem?

[code]

[2020-07-16 02:43] sevens66 opened #6364 "How to configure MasterSlaveRuleConfiguration when a slave database is shut down"
In the MasterSlave configuration, if any database in the slave configuration is closed, the failed database will not be automatically masked, resulting in the whole system completely unavailable during the database shutdown

how to  configure

读写分离配置时，如果slave配置内的任何一个数据库关闭，不会自动进行屏蔽失败的数据库，导致其中一个从库关闭期间整个系统完全不可用

[2020-07-16 03:26] cobstergo commented on #6355
@xbkaishui thanks for you reply,  cloud you please give me some clue or doc about the config or details.

[2020-07-16 03:33] sevens66 opened #6365 "throw java.lang.NullPointerException in MySQLDMLVisitor.visitAlias"
this  Sql can  works well  in version 4.0.0 RC2 or4.0.0 RC3  4.0.1
but in 4.1.0 or 4.1.1 will throw NullPointerException

only  use  MasterSlaveDataSourceFactory

Sql:
`SELECT
	menu.menu_Id AS id,
	menu.menu_Title AS text,
	menu.parent_Id AS parentId,
	menu.menu_icon AS iconCls,
	menu.menu_Url AS menuUrl,
	menu.menu_name AS menuName,
	menu.params AS DATA,
	menu.target
FROM
	wrh_sys_menu menu
WHERE

[2020-07-16 05:09] kimmking commented on #6351
It's complex, you can see prevous issues.
Batch insertion with generated key has several bugs now, and the sharding result may be wrong.
So I VERY SUGGEST YOU don't use this way, you can use a for-each for one row insertion instead.

[2020-07-16 06:04] jingshanglu commented on #6365
@sevens66 It has been fixed on master branch, new version will fix it.

[2020-07-16 06:22] lcx1989210 commented on #6351
OK, I've used it that way。Thanks a lot.

[2020-07-16 08:21] #4696 closed

[2020-07-16 08:30] slowquery commented on #6363
yaml & java same this.
mysql connect is successfully, but SQL execute error

[2020-07-16 08:51] xiaoma20082008 commented on #6351
I think it's not a bug, mysql only return the first the last_insert_id when insert with multi values.  other values need you increment the last_insert_id one by one by yourself.

[2020-07-16 09:10] tristaZero commented on #6351
Hi @lcx1989210
I prefer @xiaoma20082008 's comment. Maybe you can give it a test.
Hi @xiaoma20082008 Thanks for your response. :-)

Trista

[2020-07-16 09:14] tristaZero commented on #6353
If two tables are involved, you can consider shard them with the same sharding strategy, namely `bind-table`. Please consult our official doc. However, I am not sure if `bind-table` is suitable for your case.

[2020-07-16 09:17] tristaZero commented on #6354
@mazhaoshuo No matter It is a sharding table or not, `SQL Parsing` is required.

@jingshanglu Could you give this SQL a check? Parsed well nor not on our master branch and previous release?

Trista

[2020-07-16 09:21] tristaZero commented on #6357
@xbkaishui I like your response to many of the community issues. Good job, and keep on! :-)

[2020-07-16 09:21] #6357 closed

[2020-07-16 09:24] tristaZero commented on #6358
Hi @zhf122728281 Your information is so insufficient. Please provide more, like SQL, log..

[2020-07-16 09:28] tristaZero commented on #6362
@feiweihy Welcome!

[2020-07-16 09:30] jingshanglu commented on #6354
@tristaZero @mazhaoshuo The sql is not ok on master branch,i'll trance it.

[2020-07-16 09:31] zhf122728281 commented on #6358
![image](https://user-images.githubusercontent.com/20379651/87654636-cb17c100-c789-11ea-9b32-4d4363d4d5ff.png)

![image](https://user-images.githubusercontent.com/20379651/87654669-d834b000-c789-11ea-9477-b1f0fee46626.png)

Above, neither of the batch updates can be encrypted.

The field I want to encrypt is this one.   'visitor_phone_num'

[2020-07-16 09:31] tristaZero commented on #6363
@slowquery Hi
What is your SQL inputted?

[2020-07-16 09:33] zhf122728281 commented on #6358
Multi-line update operation 、 The 'update case when' method doesn't work either.

[2020-07-16 09:34] tristaZero commented on #6364
@sevens66 If you want all the apps online to get the event that one of the slaves was closed, please consider `orchestration`, our official doc will tell you more.

Trista

[2020-07-16 09:34] zhf122728281 commented on #6358
Is there any other solution?

[2020-07-16 09:35] zhf122728281 commented on #6358
@tristaZero Is there any other solution?

[2020-07-16 09:41] kimmking commented on #6358
I think you should be foreach batch in you java code and let here only one update statement in one sql.

[2020-07-16 09:45] zhf122728281 commented on #6358
This puts a lot of pressure on the database and makes execution less efficient

[2020-07-16 09:46] zhf122728281 commented on #6358
@tristaZero Is there any plan to support this later version?

[2020-07-16 09:54] kimmking commented on #6355
LVS+keepalived can wrap two proxies as a HA one.

[2020-07-16 09:55] #6365 closed

[2020-07-16 09:57] kimmking commented on #6351
@xiaoma20082008 not exactly.
it's not last_insert_id issue, but resultSet.getGeneratedKeys.

[2020-07-16 09:57] #6351 closed

[2020-07-16 10:00] xtuer commented on #6357
Thank you, good suggestion!

[2020-07-16 10:02] wavelet123 opened #6367 "不支持on duplicate key update语句"
hi Team,
我们通过datax往shardingsphere proxy逻辑表导入数据，有如下报错。

] jdbcUrl:[jdbc:mysql://x.x.x.x:3306/test?&yearIsDateType=false&zeroDateTimeBehavior=convertToNull&tinyInt1isBit=false&rewriteBatchedStatements=true].
2020-07-16 11:54:03.375 [0-0-0-writer] WARN  CommonRdbmsWriter$Task - 回滚此次写入, 采用每次写入一行方式提交. 因为:2Unknown exception: [INSERT INTO .... ON DUPLICATE KEY UPDATE can not support update for sharding c

[2020-07-16 10:24] slowquery commented on #6363
[code]

createBlockQuery.executeUpdate(); this function execute, an error occurred

[2020-07-16 10:38] kimmking commented on #6367
English only.

[2020-07-16 12:00] 18511699755 commented on #6322
I found the reason.
spring.shardingsphere.props.max.connections.size.per.query=32
spring.shardingsphere.datasource.demo.max-active= 20
The two configurations are different. The former is larger than the latter. I have 256 tables here. When the shard key is not hit, all the tables will be scanned. According to the first configuration, 32 database connections will be created, but the database I conf

[2020-07-16 12:27] #6336 closed

[2020-07-16 12:29] kimmking commented on #6363
you can try:

      " VALUES (?, ?, ?)";

[2020-07-16 12:52] cobstergo commented on #6355
@kimmking thanks a lot , it's means ShardingSphere-Proxy not support HA by itself, but we can use LVS + keepalived or other middleware to make ShardingSphere-Proxy as HA one?

[2020-07-16 13:04] slowquery commented on #6363
it is same problem
can you check 'Cannot support database type' Exception throw logic check?

[2020-07-17 01:26] jingshanglu commented on #6354
@mazhaoshuo Which version do you use? do you use mysql client to connect to shardingsphere proxy?

[2020-07-17 02:24] #6028 closed

[2020-07-17 02:30] tristaZero commented on #6028
Hi  @lonelythinker @171563857

I am glad to tell you guys, this issue has been fixed perfectly with the help of @xbkaishui and @jingshanglu
Thanks for your feedback!

Best,
Trista

[2020-07-17 02:45] zuowenmou commented on #234
闪送 http://www.ishansong.com/

[2020-07-17 03:04] slowquery commented on #6363
Sorry, i mistake.

i'm not added build.gradle
[code]

close issue

[2020-07-17 03:04] #6363 closed

[2020-07-17 03:21] tristaZero commented on #6367
Hi @wavelet123 Please translate this in English.
This issue has been fixed on our master branch. Please wait for our next release.

[2020-07-17 03:21] #6367 closed

[2020-07-17 03:27] tristaZero commented on #234
@xbkaishui @Jasun0925
@syhasia @4455159211 @zuowenmou

Hi everyone, Thanks for your attention and feedback! Besides, if you like, welcome to join this community and become one of the important contributor team. :-)

Hope you enjoy yourselves here.

Best,
Trista

[2020-07-17 09:29] xuyong12 commented on #5123
i hava @fyuan1030 have you solved this problem？

[2020-07-17 09:36] chentianming11 opened #6374 "mysql insert failed, if the insert field contains page, key, source, offline."
## Bug Report

### Which version of ShardingSphere did you use?
4.0.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
mysql insert successed,  even the insert field contains page, key, source, offline.

### Actual behavior
mysql insert failed！ if the insert field contains page, key, source, offline.

### Reason analyze (If you

[2020-07-17 09:38] #6225 closed

[2020-07-17 09:40] #6137 closed

[2020-07-17 09:42] kimmking commented on #6224
plz show all config, it's nessesary for profile this issue. @chrissata

[2020-07-17 09:44] kimmking commented on #6251
@wuguowei19880907
We will close this issue soon, if there are no more info.

[2020-07-17 09:59] mazhaoshuo commented on #6354
@jingshanglu apache-shardingsphere-4.1.1-sharding-proxy      I've changed it to the following
`select JSON_UNQUOTE(JSON_EXTRACT(content_json,'$.#(x.title')) as title from tb_content_json b where b.content_id=1`
Does not seem to support - > >

[2020-07-17 10:08] chentianming11 opened #6375 "Compatibility with MySQL's fullindex is not good, statements containing match are prone to errors"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Perfect support for fullindex

### Actual behavior
If the query statement contains the match keyword and the match query condition is in the first position of where, an error will be reported.The temporary solu

[2020-07-17 10:31] waterMeteors opened #6376 "ShardingSphere-Proxy Nested query exception in mysql data source"
### Which version of ShardingSphere did you use?
      the version is 4.1.0.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
      I user ShardingShpere-Proxy project.
### Expected behavior
     Return sql statement to query normal data
### Actual behavior
     Return statement is Table 'schemaName.tableName' doesn't exist. for example :'Table 'test.example_order' does

[2020-07-17 12:10] kimmking commented on #6375
it has been fixed in master branch.
https://github.com/apache/shardingsphere/issues/6299

[2020-07-17 12:10] #6375 closed

[2020-07-17 12:14] kimmking commented on #6374
There is no reserved words here:
`INSERT INTO hc_test_person ( id,offline,key ) VALUES( ?,?,? )`

So can you show all error logs and your sharding config file?

[2020-07-17 12:38] kimmking commented on #6376
Do you try 4.1.1 ?

[2020-07-18 06:32] waterMeteors commented on #6376
I will clone latest source code for dubbug to see the specific reasons. Directly upgrading the version may affect our previous services. Thank you very mach @kimmking

[2020-07-19 07:45] zhf122728281 commented on #6358
This puts a lot of pressure on the database and makes execution less efficient

[2020-07-20 01:51] hand515 commented on #6176
https://github.com/apache/shardingsphere/issues/6212

No solution now.

[2020-07-20 02:48] chentianming11 commented on #6374
**I used the sharding data source, but the sharding strategy was not configured for the hc_test_person table. In this case, if the database field contains source, key, offline, page and other fields, the insertion will fail! hc_test_person contains the key and offline fields. The complete error log inserted is as follows**:

org.springframework.jdbc.BadSqlGrammarException:
Error updating database.

[2020-07-20 03:22] wubingting commented on #5659
![微信图片_20200720103830](https://user-images.githubusercontent.com/49680463/87896563-30fe9400-ca7b-11ea-8aeb-bd0e92b2ee62.png)

[2020-07-20 03:33] tristaZero commented on #6358
@zhf122728281
Hi `batch update` you said means the SQL of `update case when`, doesn't it?

Could you set `sql.show` open and provide the `logic SQL` and `actual SQL` in the log?

It will make analysis easier if we could get the SQLs that ShardingJDBC received.

Trista

[2020-07-20 03:41] tristaZero commented on #6376
Hi @waterMeteors
Thanks for your feedback. I am afraid `subquery` could not work well at the latest release. If it is available, you'd better debug it on our `master branch` which provides better support for `subquery`.

Welcome your tests.

Trista

[2020-07-20 03:56] tristaZero commented on #6374
Hi @chentianming11
Thanks for your feedback. I figure there are two questions here.
First, if the SQL without words, like `source`, `key` querying table without sharding rule, does it work well?
Second, if the SQL with words, like `source`, `key` querying table with sharding rule, does it work well?

My guess is that those specific words cause exception, we have fixed this issue on our `master bra

[2020-07-20 04:00] tristaZero commented on #6355
Exactly, you can treat ShardingProxy as a powerful single database.

[2020-07-20 04:00] #6355 closed

[2020-07-20 04:02] tristaZero commented on #6333
Of course, please look at the official document about  `sharding strategy`.

[2020-07-20 04:02] #6333 closed

[2020-07-20 04:45] #6266 closed

[2020-07-20 10:18] #6362 closed

[2020-07-20 12:15] tuohai666 opened #6381 "Create release guide for ElasticJob"
- [ ] ElasticJob release guide: Including source code and binary(jar) distribution.

- [ ] ElasticJob-UI release guide: Including front-end and back-end.

- [ ] (To be determined) ElasticJob-Scheduler  release guide: Including cloud front-end and back-end.

Three guides maybe too many, but if there're three repos, we need three guides. Any comments?

[2020-07-20 12:16] #6381 closed

[2020-07-20 12:27] chrissata commented on #6224
Hi,
The schema config is like below. Nothing special except the actualDataNodes.

[code]

[2020-07-21 01:21] songdeweigit commented on #6328
麻烦问下,这个问题你们解决了吗,我这边也出现这个问题了

[2020-07-21 02:08] #6342 closed

[2020-07-21 08:02] 65725738 opened #6384 "Multiple SELECTS cannot resolve to the correct library。"
[code]

The above SQL USES only the table company_call_phone_record.But the table's strategy doesn't work.

[code]

The default library policy is used.

4.1.1 version

[2020-07-21 10:19] andyhewenhui opened #6385 "Why do you also detect statements that do not set up a sub-table?"
Why do you also detect statements that do not set up a sub-table?
I have written some sql statements before, and these statements do not need to be divided into tables, so why do these statements start to report errors?

[2020-07-21 10:47] andyhewenhui commented on #6385
<bean id="coinDataSource" destroy-method="close" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="${jdbc.driverClassName}" />
            <property name="url" value="${jdbc.url.coin}" />
            <property name="username" value="${jdbc.username}" />
            <property name="password" value="${jdbc.password}" />

            <property name="i

[2020-07-21 13:05] andyhewenhui commented on #6385
INSERT INTO coin_account (userId,createTime,modifyTime,compleFlag)
        SELECT #{userId},SYSDATE(),SYSDATE(),#{compleFlag} FROM dual WHERE NOT EXISTS
        (SELECT 1 FROM coin_account WHERE userId = #{userId})

[2020-07-21 13:53] kimmking commented on #6384
@jingshanglu will track it.

[2020-07-21 13:55] kimmking commented on #6385
what do you mean?

[2020-07-21 14:01] andyhewenhui commented on #6385
Speak directly Chinese, I am afraid not to know。
上面的设置只是希望我们对我们分表策略的表生效，可是我们的其他表并不需要分表，但是语句使用时候竟然出错了
INSERT INTO coin_account (userId,createTime,modifyTime,compleFlag)
SELECT #{userId},SYSDATE(),SYSDATE(),#{compleFlag} FROM dual WHERE NOT EXISTS
(SELECT 1 FROM coin_account WHERE userId = #{userId})

[2020-07-21 14:02] andyhewenhui commented on #6385
table “coin_account ”  do not sharding

[2020-07-21 14:04] andyhewenhui commented on #6385
If we don't participate in a table, whether we can set up parameter solutions？

[2020-07-22 01:54] 65725738 commented on #6384
SELECT COUNT(*) FROM (SELECT * FROM company_call_phone_record )  o

That's not gonna work either。  mysql5.6

why？

![图片](https://user-images.githubusercontent.com/12229436/88125098-2241e980-cc01-11ea-85dc-dedfb044399d.png)
![图片](https://user-images.githubusercontent.com/12229436/88125157-41d91200-cc01-11ea-986a-532a081db1e9.png)

[2020-07-22 02:19] jingshanglu commented on #6384
@65725738 Now, master branch has fixed it, new version will fix it.

[2020-07-22 02:22] jingshanglu commented on #6376
@waterMeteors @kimmking @tristaZero Now, master branch has fixed it, new version will fix it.

[2020-07-22 03:06] waterMeteors commented on #6376
Thank you very much @jingshanglu.I will update source code in master branch

[2020-07-22 03:08] #6384 closed

[2020-07-22 03:08] #6376 closed

[2020-07-22 03:11] tristaZero commented on #6385
Hi @andyhewenhui

No matter the table has sharding rule or not, `SQL parsing` is required.

Could you provide some log information? We can check whether it is a parsing exception or not.

Trista

[2020-07-22 03:59] 65725738 commented on #6384
When is the new version released?

[2020-07-22 07:24] terrymanu opened #6394 "Adjust module structure of orchestration"
Adjust module structure of orchestration to:

[code]

[2020-07-22 09:56] 1ssqq1lxr opened #6396 "Cannot find JDBC type '2003' in PostgreSQL column type"
[ERROR] 09:41:15.943 [pool-16-thread-1] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.IllegalArgumentException: Cannot find JDBC type '2003' in PostgreSQL column type

[2020-07-22 10:14] kimmking commented on #6394
[code]

[2020-07-22 10:29] #6394 closed

[2020-07-22 10:31] kimmking commented on #6396
which version do you use now?

[2020-07-22 10:32] jingshanglu commented on #6354
@mazhaoshuo Can you give the error stack of proxy？

[2020-07-22 10:33] 1ssqq1lxr commented on #6396
I use docker, the latest version of PostgreSQL, which is 11.8

[2020-07-22 10:35] 1ssqq1lxr commented on #6396
docker:apache/sharding-proxy:latest
postgresql:11.8

[2020-07-22 12:15] forlich opened #6401 "springboot-starter 官方配置实例错误了"
SpringbootShardingSphere 4.x
ShardingSphere-JDBC
按照官方配置应该能够启动，但是实际按照官方配置不能启动
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/sharding/
spring.shardingsphere.datasource.names= # 省略数据源配置

spring.shardingsphere.rules.sharding.tables.<table-name>.actual-data-nodes= # 由数据源名 + 表名组成，以小数点分隔。多个表以逗号分隔，支持inline表达式。缺省表示使用已知数据源与逻辑表名称生成数据节点

[2020-07-22 12:23] 2222 opened #6402 "windows : Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:npm (npm install) on project shardingsphere-ui-frontend: Failed to run task"
[ERROR] ERROR: Failed to download Chromium r686378! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
[ERROR] { Error: read ECONNRESET
[ERROR]     at _errnoException (util.js:1022:11)
[ERROR]     at TLSWrap.onread (net.js:628:25)
[ERROR]   -- ASYNC --
[ERROR]     at BrowserFetcher.<anonymous> (D:\github\ss-ui\shardingsphere-ui\shardingsphere-ui-frontend\node_modules\puppeteer\l

[2020-07-22 12:54] kimmking commented on #6401
english only.

[2020-07-22 12:59] yu199195 commented on #6401
this is 5.X, not 4.x

you can follow this : https://shardingsphere.apache.org/document/legacy/4.x/document/en/overview/

[2020-07-22 13:00] kimmking commented on #6402
You should use VPN to across GFW.
or install node/npm locally and then use taobao mirror：
[code]

[2020-07-22 13:02] #5882 closed

[2020-07-22 16:02] terrymanu opened #6405 "Rename GaugeMetricsTracker.inc and dec"
It is better to avoid use abbreviation with method name, please change the method name.

- [ ] Change GaugeMetricsTracker.inc to increment
- [ ] Change GaugeMetricsTracker.dec to decrement

[2020-07-22 16:14] Technoboy- commented on #6405
I will try the first issue

[2020-07-22 16:16] #6401 closed

[2020-07-22 16:20] terrymanu opened #6406 "Rename MetricsHandlerFacade.counterInc, gaugeInc and gaugeDec"
It is better to avoid use abbreviation with method name, please change the method name.

- [ ] Change MetricsHandlerFacade.counterInc to counterIncrement
- [ ] Change MetricsHandlerFacade.gaugeInc to gaugeIncrement
- [ ] Change MetricsHandlerFacade.gaugeDec to gaugeDecrement

[2020-07-22 23:21] jiang2015 commented on #6406
please assigned to me

[2020-07-23 01:10] andyhewenhui commented on #6385
Later, if this is the case, it will be troublesome. There are too many SQL statements in our history system that need to be tested. We should carefully consider choosing sharding-jdbc.

[2020-07-23 02:52] 1ssqq1lxr opened #6408 "Cannot find JDBC type '2003' in PostgreSQL column type"
SELECT d.oid, d.datname AS databasename, d.datacl, pg_get_userbyid(d.datdba) AS databaseowner, d.datcollate, d.datctype, shobj_description(d.oid, 'pg_database') AS description, d.datconnlimit, t.spcname, d.encoding, pg_encoding_to_char(d.encoding) AS encodingname FROM pg_database d LEFT JOIN pg_tablespace t ON d.dattablespace = t.oid ::: DataSources: initds_master
[ERROR] 02:51:14.421 [pool-4-thre

[2020-07-23 03:30] jingshanglu commented on #6408
@1ssqq1lxr Change sql to "SELECT d.oid, d.datname AS databasename, d.datacl, pg_get_userbyid(d.datdba) AS databaseowner, d.datcollate, d.datctype, shobj_description(d.oid, 'pg_database') AS description, d.datconnlimit, t.spcname, d.encoding, pg_encoding_to_char(d.encoding) AS encodingname FROM pg_database d LEFT JOIN pg_tablespace t ON d.dattablespace = t.oid", is it ok?

[2020-07-23 03:32] 1ssqq1lxr commented on #6408
PG DB returned normally

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "JingShang Lu"<notifications@github.com&gt;;
发送时间: 2020年7月23日(星期四) 中午11:30
收件人: "apache/shardingsphere"<shardingsphere@noreply.github.com&gt;;
抄送: "目光所及只有你"<1074455781@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [apache/shardingsphere] SELECT d.oid, d.datname AS databasename, d.datacl, pg_get_userb

[2020-07-23 04:01] jingshanglu commented on #6408
@1ssqq1lxr Ok, could the origin sql directly run on pg server?

[2020-07-23 04:02] 1ssqq1lxr commented on #6408
&nbsp;the origin sql directly run on pg server&nbsp; is ok ，The result set can be returned correctly

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "JingShang Lu"<notifications@github.com&gt;;
发送时间: 2020年7月23日(星期四) 中午12:01
收件人: "apache/shardingsphere"<shardingsphere@noreply.github.com&gt;;
抄送: "目光所及只有你"<1074455781@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [apache/sh

[2020-07-23 04:21] lishijun121910 opened #6412 "sharding-jdbc failover when master node is down"
## Question
how sharding-jdbc support failover when master node is down when config a master-slave rule.

the situation is when master is down, the slave node upgrade to be a new master.

[2020-07-23 04:43] #6406 closed

[2020-07-23 06:16] jingshanglu commented on #6408
@1ssqq1lxr Maybe it is the parser problem. I'll check it.

[2020-07-23 06:17] tristaZero commented on #6412
Hi @lishijun121910

Please refer to [Orchestration](https://shardingsphere.apache.org/document/legacy/4.x/document/cn/features/orchestration/)
All the relationships of data sources and sharding rules are stored in registry center.
You or your program need to update `the new master info` on the registry center, and it will push this event online.

[2020-07-23 06:22] tristaZero commented on #6385
@andyhewenhui Hi
The good news is that we improve the capability of the `SQL Parser engine` hugely, which means mostly SQL could be parsed well on your `master branch`. Please be patient for our incoming release!

Trista

[2020-07-23 06:37] jingshanglu commented on #6408
@1ssqq1lxr What's the meaning of "::: DataSources: initds_master", I didn't find the ':::' operator in PG.

[2020-07-23 06:47] 1ssqq1lxr commented on #6408
Complete SQL：    SELECT d.oid, d.datname AS databasename, d.datacl, d.datistemplate, d.datallowconn, pg_get_userbyid(d.datdba) AS databaseowner, d.datcollate, d.datctype, shobj_description(d.oid, 'pg_database') AS description, d.datconnlimit, t.spcname, d.encoding, pg_encoding_to_char(d.encoding) AS encodingname FROM pg_database d LEFT JOIN pg_tablespace t ON d.dattablespace = t.oid

Do you mean t

[2020-07-23 06:53] jingshanglu commented on #6408
@1ssqq1lxr Origin sql is "SELECT d.oid, d.datname AS databasename, d.datacl, pg_get_userbyid(d.datdba) AS databaseowner, d.datcollate, d.datctype, shobj_description(d.oid, 'pg_database') AS description, d.datconnlimit, t.spcname, d.encoding, pg_encoding_to_char(d.encoding) AS encodingname FROM pg_database d LEFT JOIN pg_tablespace t ON d.dattablespace = t.oid ::: DataSources: initds_master" , righ

[2020-07-23 06:55] 1ssqq1lxr commented on #6408
origin sql is "SELECT d.oid, d.datname AS databasename, d.datacl, pg_get_userbyid(d.datdba) AS databaseowner, d.datcollate, d.datctype, shobj_description(d.oid, 'pg_database') AS description, d.datconnlimit, t.spcname, d.encoding, pg_encoding_to_char(d.encoding) AS encodingname FROM pg_database d LEFT JOIN pg_tablespace t ON d.dattablespace = t.oid"     "::: DataSources: initds_master"  getdatasou

[2020-07-23 07:34] jingshanglu commented on #6408
@1ssqq1lxr  Ok, it is not parser problem and is the same to #3954

[2020-07-23 07:35] Gkytbn opened #6416 "Sub query paging problem"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-07-23 07:38] jingshanglu commented on #6416
@Gkytbn Now, master branch has fixed it, new version will be ok.

[2020-07-23 07:42] tristaZero opened #6417 "[SQL Definition Collation][PostgreSQL]Collate the g4 files of SQL definitions"
Hi community,

This issue is to collate the SQL definitions of PostgreSQL. **Therefore, we can support parsing more SQLs**.
We need your interaction! If you

then welcome!😃

### Background

**How is a SQL parsed?**
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process

1. Compare `SQL definitions` in [Oficial SQL Doc](https://www.postgresql.org/docs/12/index.html) (Or [S

[2020-07-23 08:29] kimmking commented on #6408
duplicated with #6396 #6232 #6132 #3954 #3591 #3104

[2020-07-23 08:31] kimmking commented on #6408
And so it's a critical bug for PG users, we should raise priority 0 for this issue now.

[2020-07-23 08:32] #6402 closed

[2020-07-23 09:52] 1ssqq1lxr commented on #6408
Thank you. Can you solve it quickly

[2020-07-23 09:53] prefect1005 opened #6426 "data encrypt function , nominate schema in "spring.shardingsphere.datasource" url params , select other schema sql will not execute correcttly"
spring.shardingsphere.datasource.ds0.url=jdbc:mysql://1........:8888/ds_0?characterEncoding=utf8&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true
spring.shardingsphere.datasource.ds0.username=
spring.shardingsphere.datasource.ds0.password=

we nominate schema is ds_0
if we execute sql like "select * from ds_1.table_name where id = ?"
because in SchemaMetaData's private final Map<Strin

[2020-07-23 10:01] kimmking commented on #6408
it will be fixed in 5.0.0

[2020-07-23 11:07] strongduanmu commented on #6417
I want to try this task, can you assigne it to me?

[2020-07-23 11:18] #6354 closed

[2020-07-23 11:21] tristaZero commented on #6354
@mazhaoshuo The issue of parsing `->>` has been fixed at [#6423](https://github.com/apache/shardingsphere/pull/6423) by @jingshanglu . Our next release will include this one.

Thanks,
Trista

[2020-07-23 11:23] tristaZero commented on #6354
@mazhaoshuo BTW, could you provide the more detailed log of ShardingProxy? If so, we can make sure what @jingshanglu did is exactly for your issue.

[2020-07-23 11:30] tristaZero commented on #6417
@strongduanmu Thanks for your comment, BTW are you interested in `Collating the g4 file for SQLServer or Oracle`? I am sorry to say this one is reserved for the students from [SUMMER2020](http://www.is.cas.cn/xshd2016/xshy2016/202004/t20200426_5563484.html) . 😿

[2020-07-23 12:00] #6405 closed

[2020-07-23 12:24] strongduanmu commented on #6417
@tristaZero I'm so sorry 😂, and I will look for other unsolved issues.

[2020-07-24 01:09] pearina opened #6428 "sharding-jdbc 4.1.1 与mybatis-plus 3.3.1 druid 版本1.1.23 集成报错"
Caused by: java.sql.SQLFeatureNotSupportedException: getObject with type
	at org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationResultSet.getObject(AbstractUnsupportedOperationResultSet.java:221)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.Delegatin

[2020-07-24 01:42] awnurrk opened #6429 "Actual sql parsing error when inserting mysql keyword usage"
2020-07-24 09:27:00.557  INFO 4660 --- [           main] ShardingSphere-SQL                       : Rule Type: sharding
2020-07-24 09:27:00.557  INFO 4660 --- [           main] ShardingSphere-SQL                       : Logic SQL: INSERT INTO template_sickness_detail_temporary  ( price,
`usage`,
frequency,
doctor_advice )  VALUES  ( ?,
?,
?,
? )
2020-07-24 09:27:00.558  INFO 4660 --- [           m

[2020-07-24 02:14] prefect1005 commented on #6429
usage is mysql keyword
if you used it in one column, you should add `` surround usage, like `usage`

[2020-07-24 02:17] awnurrk commented on #6429
2020-07-24 10:04:35.916&nbsp; INFO 10204 --- [&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;main] c.a.nacos.client.config.impl.CacheData&nbsp; &nbsp;: [fixed-localhost_8848] [add-listener] ok, tenant=, dataId=keyi-module-base.yml, group=DEFAULT_GROUP, cnt=1
2020-07-24 10:04:36.820&nbsp; INFO 10204 --- [&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;main] ShardingSphere-SQL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &

[2020-07-24 02:20] awnurrk commented on #6429
I have already added it, and the sql actually executed will be removed.

[2020-07-24 02:28] awnurrk commented on #6429
It can be executed when querying, updating, and deleting the mysql keyword usage, and an error will only be reported when inserting

[2020-07-24 02:34] tristaZero commented on #6426
Currently, I suggest you first change to `db_1` and then execute SQL.
The feature of `ds_1.table_name` executed in `ds_0` has finished already and will online at our next release.

Thanks,
Tirsta

[2020-07-24 02:37] tristaZero commented on #6428
Hi @pearina
This information here is inadequate. See, there is no any keyword about ShardingSphere. I suggest you give more stack log.

[2020-07-24 02:38] tristaZero commented on #6428
Plush, please rename this title in English. Thx

[2020-07-24 02:44] tristaZero commented on #6429
Hi guy, Thanks for your comment. @prefect1005
@awnurrk Which version do you adopt?
I get your point here.

[2020-07-24 02:47] awnurrk commented on #6429
<!--sharding jdbc--&gt;
<dependency&gt;
   <groupId&gt;org.apache.shardingsphere</groupId&gt;
   <artifactId&gt;sharding-jdbc-spring-boot-starter</artifactId&gt;
   <version&gt;4.0.0-RC1</version&gt;
</dependency&gt;

[2020-07-24 02:51] tristaZero commented on #6429
@awnurrk Do you think a version upgrade is possible?

@jingshanglu Do you have any impression about this similar issue? I guess our `master branch` works well, right?

[2020-07-24 02:54] awnurrk commented on #6429
Is it a problem with my version? Which version should I use to solve this problem

[2020-07-24 03:21] manbo1987 opened #6430 "Hi Guys, is Sharding support the store procedure?"
Hi Guys, is Sharding support the store procedure?
   1) Can I create SP via sharding or i need create SPS on sub DB one by one?
   2) Could you show me demo ?
 thank you for your reply...

[2020-07-24 03:23] jingshanglu commented on #6429
@awnurrk @tristaZero Now, master branch is ok.

[2020-07-24 03:27] awnurrk commented on #6429
Sincerely thank you for your tips, I changed the version to 4.1.1 and this problem was solved

[2020-07-24 03:27] awnurrk commented on #6429
Okay thank you

[2020-07-24 07:43] #6429 closed

[2020-07-24 07:50] tristaZero commented on #6430
Hi @manbo1987

You mean the SQL of `the store procedure`?  Since the SQL of `store procedure` is diverse, I can not guarantee it. But ShardingSphere will change the table names of your SQL can send it to databases at the base. No matter what SQL it is.

[2020-07-24 07:50] tristaZero commented on #6430
Hi @manbo1987

You mean the SQL of `the store procedure`?  Since the SQL of `store procedure` is diverse, I can not guarantee it. But ShardingSphere will change the table names of your SQL can send it to databases at the base. No matter what SQL it is.

[2020-07-24 07:50] tristaZero commented on #6430
Hi @manbo1987

You mean the SQL of `the store procedure`?  Since the SQL of `store procedure` is diverse, I can not guarantee it. But ShardingSphere will change the table names of your SQL can send it to databases at the base. No matter what SQL it is.

[2020-07-24 08:49] kimmking commented on #6430
Hi, @manbo1987,
Generally says, procedures or custom functions are not supported now.
If you are interested in them, welcome to do some jobs to improve ss.

[2020-07-24 10:04] Yogurt-lei commented on #6428
I find this question too.

env:
mysql-connector-java: 8.0.20
mybatis-plus-boot-starter: 3.3.2
sharding-jdbc-spring-boot-starter: 4.1.1

when your entity is LocalDateTime ,so the `MyBatis  TypeHandler` is `LocalDateTimeTypeHandler#getNullableResult`,

but this is a unsupport operation in ShardingJdbc `AbstractUnsupportedOperationResultSet#getObject(columnIndex,type) throws SQLFeatureNotSupportedExc

[2020-07-24 10:36] terrymanu commented on #6428
**For English only**, other languages will not accept.

[2020-07-24 10:36] #6428 closed

[2020-07-24 10:40] prefect1005 commented on #6426
well, thank you, look forward  the next version

[2020-07-24 10:40] #6426 closed

[2020-07-24 14:32] sandynz commented on #6408
Hi, I'd like try to solve it

[2020-07-24 14:33] sandynz commented on #6396
Hi, I'd like try to solve it

[2020-07-25 14:06] #6416 closed

[2020-07-25 14:51] #5302 closed

[2020-07-26 06:08] terrymanu opened #6445 "Redesign orchestration API"
- [x] Use reg center and additional config center to config orchestration module;
- [x] Use ShardingSphere decide how to persist registry, config and metadata, hide the concept to user API;
- [x] Use same orchestration instance name for registry, config and metadata;
- [x] Move isOverwrite from prop to OrchestrationConfiguration's attribute;
- [x] Merge orchestration instance name and namespace;
-

[2020-07-26 06:15] terrymanu opened #6447 "Delete useless branches"
Make clear the usage of some branches, and delete them if the branches are useless.

- [x] dev-4.x
- [x] docs5.x

[2020-07-26 08:08] Yogurt-lei opened #6448 "shardingjdbc with mybatis compose use have some mistake"
env:
mysql-connector-java: 8.0.20
mybatis-plus-boot-starter: 3.3.2
sharding-jdbc-spring-boot-starter: 4.1.1

when your entity is LocalDateTime ,so the MyBatis TypeHandler is LocalDateTimeTypeHandler#getNullableResult,

but this is a unsupport operation in ShardingJdbc AbstractUnsupportedOperationResultSet#getObject(columnIndex,type) throws SQLFeatureNotSupportedException

to resolve this question

[2020-07-26 12:43] johnny2002 opened #6451 "Wrong SQL parse with "DATE_ADD" function"
## Bug Report

I have an mysql SQL like：
INSERT INTO tab_user
 (id, name, sex, age, create_time, update_time, status)
VALUES(3, 'test', 'F', 30, DATE_ADD(now(),INTERVAL 2 DAY), DATE_ADD(now(),INTERVAL 2 DAY), '1');

After sharding-sphere parsor, it become:
INSERT INTO tab_user0
(id, name, sex, age, create_time, update_time, status)
VALUES(3, 'test', 'F', 30, DATE_ADD(now(),INTERVAL2DAY), DATE_ADD(

[2020-07-26 12:45] tuohai666 commented on #6447
dev-4.x is for releasing of 4.x version. If we decide to publish a release, we can make it from the tag. So it's OK to delete this branch.

[2020-07-26 13:32] kimmking commented on #6447
docs5.x branch is unuseful, will be removed now.

[2020-07-26 13:34] #6447 closed

[2020-07-26 13:35] sandynz commented on #6408
I've prepared a demo and reproduced the error result.

After reading some code and debuging, java.sql.Types.ARRAY=2003, many types could be used as array and they have their own unique type oid, e.g. INT4_ARRAY=1007, INT8_ARRAY=1016, so jdbc array columnType(2003) is not enough to get exact array oid. There are 2 possible solutions for now:

1, Get resultSetMetaData from queryResponse.queryResults

[2020-07-26 13:55] kimmking commented on #6448
`getObject(columnIndex,type)` has supported in master branch now.

see:  shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/resultset/ShardingSphereResultSet.java

[2020-07-26 13:56] kimmking commented on #6451
which version did you use?

[2020-07-27 02:33] tristaZero commented on #6448
@Yogurt-lei Hi, thanks for the feedback. As @kimmking said, this issue had been fixed in our `master branch`. #6202 will give you more detail. Please be patient for our next release.

Trista

[2020-07-27 02:33] #6448 closed

[2020-07-27 02:36] tristaZero commented on #6451
Hi @jingshanglu
This SQL could work well on our master branch, couldn't it?

[2020-07-27 03:56] awnurrk opened #6454 "org.apache.shardingsphere.sql.parser.sql.segment.dml.item.ExpressionProjectionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment"
2020-07-27 11:49:10.552org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
 ERROR ### Error querying database.  Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.item.ExpressionProjectionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment
4256 ---###

[2020-07-27 04:15] jingshanglu commented on #6451
@tristaZero @johnny2002 Now, this is a bug, new version will fix it.

[2020-07-27 05:03] jingshanglu commented on #6454
@awnurrk I'll check it.

[2020-07-27 06:00] #6322 closed

[2020-07-27 06:02] johnny2002 commented on #6451
4.1.1

[2020-07-27 06:15] johnny2002 opened #6458 "How to skip sql parse and rewrite phase"
## Question

We have an ETL batch job, that the SQLs are very complex. We want to manually specify the datasource by HintManager and the real table name already fixed in SQLs,  while we cann't skip sql parser  which caused some exceptions.

Although offical document says, the sql parse and rewrite phase will be skipped if we use hintManager.setDatabaseShardingValue, while we can't find a way to sk

[2020-07-27 06:21] johnny2002 commented on #6458
my config file:

spring.shardingsphere.!SHARDING.tables.tab_user.actual-data-nodes=master${0..1}.tab_user
spring.shardingsphere.!SHARDING.tables.tab_user.database-strategy.hint.algorithmClassName=com.ibm.sharding.MyHintShardingAlgorithm

My java code:
            HintManager hintManager = HintManager.getInstance();
            hintManager.setDatabaseShardingValue("0"); //

I want sharding-jdbc do

[2020-07-27 07:10] kimmking commented on #6458
sql parsing is a necessary phase.

[2020-07-27 07:19] kimmking commented on #6454
`CONCAT(func_splitString(datelist, '-', 2),'-',func_splitString(datelist, '-', 3))` is not supported now.
@awnurrk

[2020-07-27 07:22] awnurrk commented on #6454
This is my own function, is it not supported? Do you support union connection in mysql?

[2020-07-27 08:18] johnny2002 commented on #6458
If you know the logicTableName, why do you need to parse SQL.

So suggestted solution:
HintManager hintManager = HintManager.getInstance();
hintManager.setDatabaseShardingValue("0");
hintManager.setLogicTableName("tab_user");

Then skip sql parsing

[2020-07-27 08:36] johnny2002 opened #6463 "to support arbitrary SQL with HintShardingAlgorithm"
## Feature Request

Since we have an ETL Job need to use very complex SQL, we suggest sharding-jdbc can skip SQL parsing to support arbitrary SQL.
As I understand, with HintShardingAlgorithm, sharding-jdbc still need to parse SQL to get logicTableName so that it can get sharding configuration.
So, I suggest sharding-jdbc provide some method to let developer to set the logicTableName, so that it ca

[2020-07-27 08:40] johnny2002 commented on #6463
For an example:

HintManager hintManager = HintManager.getInstance();
hintManager.setDatabaseShardingValue("0");
**hintManager.setLogicTableName("tab_user");** //add this method to set logic table name, so that parsing sql is not neccesary

boolean rst = statement.execute("insert into ... select ... from .... group by ... having...");

[2020-07-27 08:54] kimmking commented on #6463
duplicated with #6458

[2020-07-27 08:54] #6463 closed

[2020-07-27 09:05] kimmking commented on #6458
see https://github.com/apache/shardingsphere/issues/4806
https://github.com/apache/shardingsphere/issues/4281

[2020-07-27 09:07] yangyun-zero commented on #290
亮哥，插入多条数据，分表后，很慢，这个有什么方式可以解决吗

[2020-07-27 09:28] tristaZero commented on #6458
@johnny2002 The reason is that we can not know whether this `logicTableName` exists at your input SQL if there is no SQL parsing.

[2020-07-27 10:00] a312983516 opened #6464 "When I used the sub table in Oracle, there appeared "cause: java.lang.UnsupportedOperationException : cannot support database type 'SQL92' ""
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.lang.UnsupportedOperationException: Cannot support database type 'SQL92'
### The error may exist in com/kingxunlian/invoicing/service/issue/dao/mapper/EInvoiceMapper.java (best guess)
### The error may involve defaultParameterMap
### The error

[2020-07-27 10:01] #5446 closed

[2020-07-27 10:56] tristaZero commented on #6464
@a312983516 Thanks for the issue.
1. Which version of ShardingSphere in your project?
2. Could you provide more stack information?

[2020-07-27 11:11] tristaZero opened #6466 "Support ShardingSphere-defined RDL SQL"
Hi community,

We plan to provide **RDL(Rule Definition Language)** for `ShardingProxy` since the 5.x version. This feature simplifies the tedious workload for the Sharding configuration.
The user can start ShardingProxy without `sharding rule` (However, the registry center is required for the rule durability), then the user can create a sharding rule or a sharding table through RDL SQL.

Presentl

[2020-07-27 11:22] strongduanmu commented on #6466
This feature sounds great!

[2020-07-27 12:06] darkpssngr opened #6469 "Write Amplification Issue with Hibernate (for shard migrations)"
I'm trying to see if we can perform zero downtime shard migration using ShardingSphere-jdbc itself. I tried returning 2 datasources from my HintShardingAlgorithm class. Although shardingsphere executes the query properly, hibernate returns an error as the expected resultcount is not the same as the actual resultCount.
is this a valid use-case to try and achieve with ShardingSphere? If not is there

[2020-07-27 12:16] jingshanglu commented on #6469
@darkpssngr

1. Which version of ShardingSphere in your project?
1. Could you provide stack info?

[2020-07-27 14:47] peng-ran opened #6473 "Whether multiple shardingjdbc datasources can be created"
I don't want to define a lot of table rules, because most tables don't need sharding, so I want to define multiple Sharding-JDBC data sources, each of which is only responsible for table sharding by default database ，Is that all right？

[2020-07-27 20:06] kimmking commented on #6473
You have to config your sharding tables in config file.

[2020-07-28 01:29] peng-ran commented on #6473
My idea is to create multiple sharding - JDBC data sources, namely ShardingDataSourceFactory. CreateDataSource more, each data source is a sub-database and set himself to the default data source, in this way, the sub-tables will be configuration, but a lot of non-sub-tables without configuration can also be automatically routed to the current data source of the sub-database.

In my service invocat

[2020-07-28 02:20] tristaZero commented on #6473
Hi @peng-ran Thanks for your issue.
If there are sharding tables and non-sharding tables in your project which you do not want to configure, you can consider `defaultDatasource`.

The documents will give you more detail.

[2020-07-28 02:26] tristaZero commented on #6454
@awnurrk

What do you mean for `union connection`?
Currently, `union query` is unsupported, and part of `join query` is supported.

[2020-07-28 02:27] tristaZero commented on #6451
Hi @johnny2002
Thanks for your feedback, we will fix it before our next release!

[2020-07-28 02:30] peng-ran commented on #6473
@tristaZero  3q. but defaultDatasource only one datasource, a lot of non-sub-tables need route to sub-database. so i invoke ShardingDataSourceFactory. CreateDataSource more, each of  them defaultDatasource  is a  sub-database.

[2020-07-28 02:33] peng-ran commented on #6473
I wanted to know that ShardingJDBC can have multiple sharding-jdbc data source instances that are secure in the process, and a single sharding-jdbc data source would not satisfy my scenario

[2020-07-28 02:45] jingshanglu opened #6478 "[SQL Definition Collation][SQLServer]Collate the g4 files of SQL definitions"
Hi community,

This issue is to collate the SQL definitions of SQLServer. **Therefore, we can support parsing more SQLs**.
We need your interaction! If you

then welcome!

### Background

**How is a SQL parsed?**
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process

1. Compare `SQL definitions` in [Oficial SQL Doc](https://docs.microsoft.com/zh-cn/sql/t-sql/queries/sele

[2020-07-28 03:02] jingshanglu opened #6480 "[SQL Definition Collation][Oracle]Collate the g4 files of SQL definitions"
Hi community,

This issue is to collate the SQL definitions of Oracle. **Therefore, we can support parsing more SQLs**.
We need your interaction! If you

then welcome!

### Background

**How is a SQL parsed?**
`SQL definition file`
->(Parse to)
`AST`
->(Visit it)
`SQLStatment`

### Process

1. Compare `SQL definitions` in [Oficial SQL Doc](https://docs.oracle.com/en/database/oracle/oracle-database

[2020-07-28 03:28] awnurrk commented on #6454
Yes, can I add MySQL's own function after group by in group query? For example group by Date(dateField)

[2020-07-28 04:41] lwtdev opened #6482 "Unsupported SQL of sctl:explain"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
[code]
### Actual behavior
[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]
### Exa

[2020-07-28 05:00] jingshanglu commented on #6482
@lwtdev plz show stack info.

[2020-07-28 05:22] tuohai666 commented on #6232
Duplicated with https://github.com/apache/shardingsphere/issues/6408 .

[2020-07-28 05:22] #6232 closed

[2020-07-28 05:25] tuohai666 commented on #6396
Duplicated with #6408 .

[2020-07-28 05:25] #6396 closed

[2020-07-28 05:30] sandynz commented on #3954
Hi, I'd like try to solve it.

[2020-07-28 05:36] tuohai666 commented on #3591
Duplicated with https://github.com/apache/shardingsphere/issues/6408 .

[2020-07-28 05:36] #3591 closed

[2020-07-28 05:43] tuohai666 commented on #3954
For Sharding-JDBC, it supports array column.
For Sharding-Proxy, it will be resolved via https://github.com/apache/shardingsphere/issues/6408 .

[2020-07-28 05:46] lwtdev commented on #6482
@jingshanglu
[code]

[2020-07-28 05:48] 65725738 opened #6484 "Commons - DBCP cannot be used in 4.1.1"
Commons - DBCP 1.4  cannot be used in 4.1.1  but can be used in 4.0.1.

The same configuration is just a different version.

WARN 2020-07-28 13:41:08,235 [org.springframework.context.support.ClassPathXmlApplicationContext] - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.m

[2020-07-28 06:16] jingshanglu commented on #6482
@lwtdev I run the sql directly on mysql , it is also not support.

[2020-07-28 06:23] lwtdev commented on #6482
@jingshanglu You may try with sharding-proxy
SCTL (ShardingSphere-Proxy control language)
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/usage/sctl/

[2020-07-28 06:50] Lucas-307 commented on #4795
Currently, master version have been supported MySQL JSON and BIT data type, and I validate it. So this issue can be closed.

[2020-07-28 06:52] #4795 closed

[2020-07-28 07:35] terrymanu opened #6486 "Consider about use shortcut to config sharding algorithm for YAML"
We are using algorithm name to config sharding strategy which has a little bit redundant.
I am consider about using sharding algorithm class name to config the yaml which can inline the configuration.
It is better to use shortcut to hide the sharding algorithm class name. The yaml config should be:

[code]

[2020-07-28 08:32] tristaZero commented on #6482
@lwtdev Hi thanks for your feedback.
@jingshanglu is working on the test for your SQL.
@cherrylzhao Could you give it a look as well?

[2020-07-28 08:38] tristaZero commented on #6484
Hi @65725738
Thanks for your question.
IMO,  this is not about DBCP and more possibility is the sharding configuration. Could you compare your configuration with [4.1.1 examples](https://github.com/apache/shardingsphere/tree/4.1.1/examples/sharding-jdbc-example/sharding-example) ?

[2020-07-28 11:13] #6445 closed

[2020-07-28 13:02] kimmking opened #6492 "[Document]Revise the orchestration documents with the new API"
After the #6445 (Redesign orchestration API) has been finished, it's time to sync the orchestration documents with the new well-defined API now.
We will show more sub-tasks soon.
---------

- [x] docs/document/content/user-manual/shardingsphere-jdbc/configuration/java-api/governance.cn.md
- [x] docs/document/content/user-manual/shardingsphere-jdbc/configuration/java-api/governance.en.md
- [x] docs

[2020-07-28 13:45] #6430 closed

[2020-07-28 14:15] kimmking opened #6493 "[Refactor]Uniform GovernanceConfiguration and GovernanceCenterConfiguration"
Hi, Community.
  In orchestration module, GovernanceConfiguration and GovernanceCenterConfiguration are similar and should be considered to uniform as an abstract structure.
  We should clearify and refactor these codes now.

[2020-07-28 15:23] sandynz commented on #3954
Reproduced.

Verified with ShardingSphere 5.0.0-RC1-SNAPSHOT , revision: cf3b2eda .
DataSource is created via: YamlShardingSphereDataSourceFactory.createDataSource(getResourceAsFile("META-INF/sharding-tables-pg-jdbc.yaml")) .
Exception thrown when querying, logs:
[code]
Since ShardingSphereResultSet has't implement java.sql.ResultSet.getArray(columnLabel) method:
[code]

[2020-07-28 16:08] Icesource opened #6495 "HikariPool declares multiple JSON fields named logger"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling

### Expected behavior
ShardingScalingJob serialization goes well

### Actual behavior
When serializing ScalingScalingJob, throw exception java.lang.IllegalArgumentException: class com.zaxxer.hikari.pool.HikariPool declares multiple

[2020-07-28 22:24] chaiyanliang commented on #6328
没有解决

[2020-07-29 01:13] dongzl commented on #6478
I will do it.

[2020-07-29 01:53] jasper520 opened #6497 "Can subqueries be supported in select？"
for example：SELECT hos_province_id AS hosProvinceId,
             (SELECT zmmc FROM dict_city WHERE zd_id = hos_province_id) provinceName
      FROM hospital
      WHERE del_flag = 0
      GROUP BY hos_province_id

When I use this query, the value of the provinceName field cannot be obtained

[2020-07-29 02:25] tristaZero commented on #6497
Hi 4.x releases have no great support for `subquery`, but our `master branch` has better support for them. Please be patient for our incoming release.

Thanks,
Trista

[2020-07-29 02:27] #6408 closed

[2020-07-29 02:28] tristaZero commented on #6495
Hi @Icesource
Appreciated your ISSUE and PR!
We will review them ASAP.

Best,
Trista

[2020-07-29 02:28] jingshanglu commented on #6497
@awnurrk Now,  subquery in fromclause is supported, others will be supported in the future.

[2020-07-29 02:41] tristaZero commented on #6454
Hi could you provide a  SQL example you mentioned?

[2020-07-29 02:50] #6495 closed

[2020-07-29 03:03] #6451 closed

[2020-07-29 03:12] jingshanglu commented on #6478
@dongzl select,update,insert and delete are used more often, you can start from this `subtasks`.

[2020-07-29 03:33] tristaZero opened #6498 "Support createProcedure SQL query for MySQL"
This issue is related to #6430 .

### Background

Currently, `createProcedure` is difined in `DDLStatement.g4` of `<artifactId>shardingsphere-sql-parser-mysql</artifactId>`.
However, ShardingSphere does not visit it out as a `createProcedureStatment`.

### Steps

Therefore, to solve #6430, we need to
1. Review the definition of `createProcedure`
1. Visit AST to get `createProcedureStatmen`
2. Add

[2020-07-29 03:38] tristaZero commented on #6430
Hi @manbo1987
 I create #6498 intending to solve your issue. I presume it is expected to finish a basic function, and a perfect result depends on its assignees.

[2020-07-29 03:42] strongduanmu commented on #6498
@tristaZero I will try to fix this issue, please assign it to me. 😀

[2020-07-29 05:35] dongzl commented on #6478
Hi @jingshanglu , OK, I will be familiar with the work.

[2020-07-29 05:42] kimmking commented on #6328
Can you try a same case without sharding, only seata.

[2020-07-29 05:44] darkpssngr commented on #6469
sorry for the late reply. I'm using version 4.1.1 of shardingSphere. The error is not from shardingSphere but from JPA itself.

    org.springframework.orm.jpa.JpaSystemException: Batch update returned unexpected row count from update [0]; actual row count: 2; expected: 1; nested exception is org.hibernate.jdbc.BatchedTooManyRowsAffectedException: Batch update returned unexpected row count from up

[2020-07-29 05:57] kimmking commented on #6484
You should use DBCP 2.x to adapter jdbc 4.1+ [1]:
[code]

1. http://commons.apache.org/proper/commons-dbcp/

[2020-07-29 06:03] kimmking commented on #6482
[code]

[2020-07-29 06:18] lishijun121910 opened #6501 "about performance test"
![image](https://user-images.githubusercontent.com/8045307/88763611-006ad880-d1a6-11ea-9b14-686377570c0c.png)

the performance test result above(from official document,) is not very stable, which part should we look and consider?

[2020-07-29 06:49] kimmking commented on #6501
It's the develop branch, not release version.

[2020-07-29 06:49] #6501 closed

[2020-07-29 07:06] tristaZero commented on #6501
@lishijun121910 Hi
Thanks for the feedback.
I am sorry that we are working on the performance test. Due to that, you got this strange graph.
But currently, our performance test shows a better performance at 10 million data volume. Please wait for our farther testings.

Besides,, [other teams](https://github.com/wangshuzheng/sharding) are doing ShardingSphere test.

[2020-07-29 07:20] tristaZero commented on #6212
Hi, community,

Since this issue seems a serious one, we will consider other solutions trying to solve it. I will take charge of it later.

[2020-07-29 07:23] terrymanu opened #6503 "Add test case for OrchestrationFacade.initClusterConfiguration"

[2020-07-29 07:28] tristaZero commented on #6482
@lwtdev Hi It has been fixed already, welcome your further test.

[2020-07-29 07:29] #6482 closed

[2020-07-29 07:53] COMEONYAO opened #6505 "shardingsphere 分库分表的数量限制是多少呢？"
我在官网没有找到分库分表数量说明，当库表数量各达到什么峰值，会影响数据库插入读取效率。
我曾经试过100库，每个库100表，使用shardingsphere 插入1000条记录要28s，当然这1000条记录平均分布到每个库每个表。

麻烦可以给出官方答复

[2020-07-29 08:01] lwtdev opened #6506 "How to config default datasource in 5.0.0 ?"
## How to config default datasource  in 5.0.0 ?

In Shardingsphere-Proxy 4.1.1, there is a `defaultDataSourceName`  , but can't be use in 5.0.0 :
[code]

[2020-07-29 08:09] terrymanu commented on #6505
**For English only**, other languages will not accept.

[2020-07-29 08:09] #6505 closed

[2020-07-29 08:51] iamzxj opened #6508 "How to solve the problem of too many database connections"
How to solve the problem of too many database connections

[2020-07-29 09:02] jingshanglu commented on #6508
@iamzxj Plz show more detail info, such as:

- stack info
- background of use

[2020-07-29 09:07] iamzxj opened #6511 "sharding sphere 4.0.0-RC1 -->4.1.1"
Upgraded version, how to solve transaction rollback exception with the same code

[2020-07-29 09:10] #6412 closed

[2020-07-29 09:11] iamzxj commented on #6508
The data source is divided into 30 databases. Every time the service is started, the number of connections to the mysql8 database reaches more than 5000

[2020-07-29 09:12] iamzxj commented on #6508
Error occured while trying to connect to the database
Error connecting to database: (using class org.gjt.mm.mysql.Driver)
Data source rejected establishment of connection, message from server: “Too many connections”

[2020-07-29 09:14] COMEONYAO commented on #6505
I didn't find the description of the Maximum of sub databases and sub tables on the shardingsphere official website.

I have tried 100 databases. Each database has 100 tables. It takes 28s to insert 1000 records using shardingsphere. Of course, the 1000 records are evenly distributed to each database and table, 28s is too long.

too many databases or to many tables?

Please give an official reply

[2020-07-29 09:17] kimmking commented on #6385
I think it's a `insert into xxx select xxx ` issue.
We'll support in next release version.

[2020-07-29 09:23] #6364 closed

[2020-07-29 09:24] #6353 closed

[2020-07-29 09:28] #6358 closed

[2020-07-29 09:30] #6347 closed

[2020-07-29 09:33] jlhuang9 commented on #3561
pom.xml
zookeeper-3.4.6.jar  success
zookeeper-3.4.5.jar  has the error

[2020-07-29 09:42] tristaZero commented on #6497
@jingshanglu Waiting for your fixing. :)

[2020-07-29 09:52] zangyk commented on #6294
I solved this issues, but when I pushed a new branch to GitHub, I was prompted that I didn't have permission。

[2020-07-29 10:08] pearina opened #6512 "the field type is LocalDateTime; Cause: java.sql.SQLFeatureNotSupportedException: getObject with type; The Related Framework version: spring-boot 2.3.1, sharding-jdbc 4.1.1, mybatis-plus :3.3.2 druid :1.1.23"
@TableField("CREATETIME")
private LocalDateTime createtime;

CREATETIME IS LocalDateTime

org.springframework.dao.InvalidDataAccessApiUsageException: Error attempting to get column 'CREATETIME' from result set. Cause: java.sql.SQLFeatureNotSupportedException: getObject with type
; getObject with type; nested exception is java.sql.SQLFeatureNotSupportedException: getObject with type

at org.springf

[2020-07-29 10:38] kimmking commented on #6506
5.0.0 version is under develop status.
You can track it for the first release version and the API will be stable.

[2020-07-29 10:38] #6506 closed

[2020-07-29 10:38] tuohai666 commented on #6512
Duplicated with https://github.com/apache/shardingsphere/issues/6166 .

[2020-07-29 10:38] #6512 closed

[2020-07-29 10:41] tristaZero commented on #6212
### Backgroud

ShardingSphere is aiming at simplifying the configuration workload and placing itself as `distributed-database` as possible to help users manage all the tables (no matter whether it is a sharding table or not).

It is better for users to **use ShardingSphere and do not care about** sharding tables, non-sharding tables, encrypted tables, etc. But some configurations are necessary. :)

[2020-07-29 10:44] tuohai666 commented on #6508
Suppose the connections reached 6000.
maxPoolSize of HikariCp is 6000 / 30 = 200.
Reduce the maxPoolSize will solve this problem.

[2020-07-29 11:46] kimmking commented on #6511
Need more details.

[2020-07-29 11:55] lwtdev commented on #6497
@jingshanglu
I just test some subquery with ShardingShpere-Proxy 5.0.0-RC1, found that there are still a lot of scenarios that are not supported.
 Which of the following scenarios will be supported in the future ？
|SQL Demo Title |SQL Demo |SQL Contains Sharding Column |ShardingProxy(5.0.0.RC1) |
|---- |---- |---- |---- |
|subqueryAsScalarOperand |SELECT (SELECT name FROM customer); |NONE |N |
|su

[2020-07-29 12:10] kimmking commented on #6473
Both raw-jdbc or spring configuration way, you can configure several sharding datasources with different names of their instances.

[2020-07-29 13:40] yu199195 commented on #6492
i will check

[2020-07-29 15:26] andyhewenhui commented on #6385
Which version can be solved? Hope to release it quickly.

[2020-07-30 02:24] terrymanu commented on #6511
Can you change the title for search friendly?

[2020-07-30 02:26] terrymanu commented on #2927
Expired

[2020-07-30 02:26] #2927 closed

[2020-07-30 02:40] jingshanglu commented on #6497
Thank you very much for your feedback,i'll check it.

[2020-07-30 03:12] #6503 closed

[2020-07-30 03:24] tristaZero commented on #6473
@peng-ran It is possible to create more than one ShardingDataSource in your project. Another way is to configure those non-sharding table with `NoneShardingStrategy` (Generally, one table without ShardingStrategy will be created as a non-sharding table.)

[2020-07-30 03:36] tristaZero commented on #6497
Hi @lwtdev

Very appreciated your tests and attention.

After talking with @jingshanglu , we are supporting all `Join Query` and `Subquery Query` before 5.x release.
However, you have to know that all these queries with more than one table can work well **only when queried tables are in the same database instance(5.0.0.alpha)**! Namely, `join or subquery` queries cross-instance are unsupported.
We

[2020-07-30 04:01] tristaZero commented on #6294
Hi @zangyk
I appreciated your effort.
It is expected to raize a PR for your change, [Contriubtor](https://shardingsphere.apache.org/community/cn/contribute/contributor/) will give you more detail.
Waiting for your joining!

[2020-07-30 04:04] tristaZero commented on #6385
@andyhewenhui The incoming release 5.0.0.alpha.
You can also package our `master branch` to give it a test

[2020-07-30 05:34] liyiorg opened #6526 "ComplexKeysShardingAlgorithm 复合分片算法，不支持多列不同类型的值。"
你好，复合分片算法接口   ComplexKeysShardingAlgorithm<T extends Comparable<?>> 泛型约定了不能使用Object 对象。

但实际使用中，如多个分片列的数据类型可能不一样。
例如，使用表列 transid 、 trade_time 同时作为分片key 时。 分别对应 String, java.sql.Timestamp 。
希望作者能修改泛型非强制继承Comparable 。或者如果设定泛型为 String 类型时，调用toString() 转换下。

[code]

[2020-07-30 06:08] kimmking commented on #6526
English only here.
Can you translate your post?

[2020-07-30 06:39] kimmking commented on #6526
java.sql.Timestamp -> java.util.Date -> Comparable

[2020-07-30 06:39] #6526 closed

[2020-07-30 06:43] #6484 closed

[2020-07-30 06:45] #6251 closed

[2020-07-30 06:50] kimmking commented on #6224
Your PartitionPreciseShardingDatabaseAlgorithm return a wrong result 2.

[2020-07-30 06:51] #6224 closed

[2020-07-30 07:40] Simbafa opened #6527 "Mysql limit does not support variant"
## Bug Report

### Which version of ShardingSphere did you use?
The latest version: Shardingsphere-ui-4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
limit/offset can use variants.
### Actual behavior
ERROR: Statement parameter 1 not set., SqlState: S1009, code:0
### Reason analyze (If you can)
I searched internet, someon

[2020-07-30 07:50] liyiorg opened #6530 "ComplexKeysShardingAlgorithm composite data types are not supported."
Hello, When multiple shading columns are configured and the types are inconsistent, the data type conversion fails.

Version: 4.1.1

## Table

[code]

## Table shading

[code]
## TableComplexKeysShardingAlgorithm

Only one type can be configured, but the types of the two fields are inconsistent.

[code]

[2020-07-30 08:05] xiangtao123 opened #6531 "SubqueryExpressionSegment cannot be cast to ComplexExpressionSegment"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-07-30 08:40] COMEONYAO opened #6532 "what is the Maximum of sub databases and sub tables on the shardingsphere"
I didn't find the description of the Maximum of sub databases and sub tables on the shardingsphere official website.

I have tried 100 databases. Each database has 100 tables. It takes 28s to insert 1000 records using shardingsphere. Of course, the 1000 records are evenly distributed to each database and table, 28s is too long.

too many databases or to many tables?

Please give an official reply

[2020-07-30 08:49] #6289 closed

[2020-07-30 08:51] kimmking commented on #6530
[code]

[2020-07-30 08:52] #6530 closed

[2020-07-30 09:09] kimmking commented on #6532
Generally, there is no limit for sharding-db/tables here.
Full routing will be executed for a long term, so we should use precise sharding strategy to avoid it.

[2020-07-30 09:09] #6532 closed

[2020-07-30 09:13] #3954 closed

[2020-07-30 09:14] kimmking commented on #6527
did you try:
[code]

[2020-07-30 09:31] Simbafa commented on #6527
I tried it.
It has same issue.

[2020-07-30 09:33] cay914 opened #6533 "can't connect sharding-proxy 4.1.1 from navicat premium 15"
can't connect sharding-proxy 4.1.1 from navicat premium 15

I installed the sharding-proxy form https://shardingsphere.apache.org/ 's instruction。
The sharding-proxy server is up and running, **But I cant connect from navicat!**

and I alway get this erorr
![image](https://user-images.githubusercontent.com/6037435/88906290-dc80c300-d289-11ea-88c3-d84d66d9b304.png)

my config file:
[config-files.zi

[2020-07-30 09:58] lwtdev commented on #6497
@tristaZero Thanks so much for you replay， It's enough for supporing no cross-instance queries for us.

It's my pleasure， what do I need to do?

[2020-07-30 10:04] tuohai666 commented on #6527
@Simbafa Please set sql.show: true and show me the log of ShardingSphere-Proxy.

[2020-07-30 10:07] kimmking commented on #6533
see https://shardingsphere.apache.org/document/current/cn/faq/#22-%E5%9C%A8%E4%BD%BF%E7%94%A8shardingsphere-proxy%E6%97%B6%E6%80%8E%E4%B9%88%E4%BD%BF%E7%94%A8%E5%90%88%E9%80%82%E7%9A%84%E5%B7%A5%E5%85%B7%E8%BF%9E%E6%8E%A5%E5%88%B0shardingsphere-proxy

[2020-07-30 10:07] #6533 closed

[2020-07-30 10:19] Simbafa commented on #6527
![bug](https://user-images.githubusercontent.com/37646009/88912002-3769e880-d291-11ea-8306-1e3bcdd9e7f0.jpg)

[2020-07-30 10:42] cay914 commented on #6533
pleasse support navicat 15 prenium, man. it's a major tool for developer.
The navicat 11 is too old, thanks.

[2020-07-30 10:42] tuohai666 commented on #6527
@Simbafa I can't reproduce this problem. Can you use the existing codes to connect directly to a MySQL server, and find whether there's the same problem?

[2020-07-30 10:50] Simbafa commented on #6527
I have tried connecting to MySql directly, It's OK.
Is "useServerPrepStmts=true" parameter is used?

[2020-07-30 11:15] tristaZero commented on #6497
Hi @lwtdev Just watch this ISSUE.
Any changes(PRs) will be linked here. If you see any PR linked, please give these changes a test.
Thanks,

Trista

[2020-07-30 11:46] tristaZero opened #6536 "[Performance Test] Provide a full-scale and multi-scenario benchmark test"
Hi Community,

### Background
I know `performance test` is your concern when considering a new solution for your systems or projects. Recently we received many feedbacks and complaints about our benchmark graphs.

After a rough discussion, we decide to commit more energy to the performance test of Apache ShardingSpehre and **provide a full-scale and multi-scenario benchmark test for the subsequent

[2020-07-30 11:47] tuohai666 commented on #6527
Yes. I have tried:
"jdbc:mysql://127.0.0.1:3307/sharding_db?serverTimezone=UTC&useSSL=false&useServerPrepStmts=true&cachePrepStmts=true" and
"jdbc:mysql://127.0.0.1:3307/sharding_db?serverTimezone=UTC&useSSL=false&useServerPrepStmts=true"

![image](https://user-images.githubusercontent.com/24643893/88918998-fa0b5800-d29c-11ea-97d3-d14c3f32d32e.png)

Can you use wireshark to capture what happened?

[2020-07-30 12:23] Simbafa commented on #6527
[code]

[2020-07-30 12:29] tuohai666 commented on #6527
Can you update the Connect-Java from 5.1.42 to 5.1.47?

[2020-07-30 12:32] tuohai666 commented on #6527
Have you modified any codes of ShardingSphere-Proxy?

[2020-07-30 12:41] Simbafa commented on #6527
MySQLPacketCodecEngine.java is modified, because sometimes resetReaderIndex() is called.
But using the test code, it dosen't occur.
I just add "System.out.println()" in decode method
[code]

When using 5.1.47,  "java.sql.SQLException: Unknown system variable 'transaction_isolation'" is thrown.
[code]

[2020-07-30 12:42] Simbafa commented on #6527
5.1.47 is used both in client and sharding-proxy.

[2020-07-30 12:47] tuohai666 commented on #6527
What is your MySQL server version?

[2020-07-30 12:48] Simbafa commented on #6527
mariadb:10.5

[2020-07-30 12:49] tuohai666 commented on #6527
Can you change to MySQL server and have a test?

[2020-07-30 12:53] tuohai666 commented on #6527
I suggest you to download a binary version of Proxy to do this test. The download page as follows:

https://www.apache.org/dyn/closer.cgi/shardingsphere/4.1.1/apache-shardingsphere-4.1.1-sharding-proxy-bin.tar.gz

[2020-07-30 12:54] Simbafa commented on #6527
I tested MySql:5.7,  "transaction_isolation" issue disappear.
But "Statement parameter 1 not set" error still exist.

[2020-07-30 13:10] Simbafa commented on #6527
I downloaded the tar file, and tested.
The issue also exists.
And I tested MySql 5.7, it also has the issue.

[2020-07-30 13:31] wcsoft commented on #6536
Recently i have been investigating ShardingProxy and ShardingJDBC performance.

Senarios i did
- Base Data 1000w vs Base Data 1000, observe tps of ShardingDBC & ShardingProxy;
- With base data 1000w, comparing ShardingJDBC&ShardingProxy to Mysql, observe tps of ShardingDBC & ShardingProxy and Mysql;

Result i got
- At senario 1 - base data 1000w vs base data 1000, ShardingDBC & ShardingProxy tps i

[2020-07-30 13:49] kimmking opened #6537 "[Document]Migrate documents generating with github action"
Migrate documents generating with github action.
1.Migrate ShardingSphere docs.
2.Migrate ShardingSphere ElasticJob docs.

Done with Action: https://github.com/apache/shardingsphere-doc/blob/asf-site/.github/workflows/build-website.yml

[2020-07-30 14:20] jingshanglu commented on #6531
@xiangtao123 I'll check it.

[2020-07-30 17:09] cay914 opened #6539 "10002-2Unknown exception: [No signature of method: java.lang.String.mod() is applicable for argument types..."
Now, i use the navicat 11.1 version.

Ok, this time i can connect to sharding-proxy server.
Now, sharding-proxy shocking me.
![image](https://user-images.githubusercontent.com/6037435/88952030-6a2fd300-d2c9-11ea-89f8-395c405671e8.png)

the table 't_order' ddl

CREATE TABLE `t_order` (  `order_id` int(20) NOT NULL COMMENT '自动编号',  `user_id` bigint(20) NOT NULL COMMENT '客户编号',  `shop_id` bigint(20) 

[2020-07-31 02:16] tuohai666 commented on #6527
I can't reproduce it with sharding strategy.
What is your strategy and config-*.yaml?
What's the server.yaml?

[2020-07-31 02:18] cmonkey opened #6541 "support select '' as a from order"

[2020-07-31 02:19] tristaZero commented on #6539
Hi @cay914 Thanks for your feedback.

Which version do you use?
Could you provide a more detailed stack log?

[2020-07-31 02:33] zljgit commented on #2997
看上去是 SQLParseResultCache
    private final Map<String, SQLStatement> cache = new ReferenceMap<>(AbstractReferenceMap.ReferenceStrength.SOFT, AbstractReferenceMap.ReferenceStrength.SOFT, 65535, 1);
导致死循环

[2020-07-31 02:38] lwtdev commented on #6497
@tristaZero OK

[2020-07-31 02:38] tuohai666 commented on #6527
Can you please try 5.0.0-SNAPSHOT of master branch?

[2020-07-31 02:45] #6294 closed

[2020-07-31 02:47] #6240 closed

[2020-07-31 02:50] tristaZero commented on #6219
Hi @DongJigong
If it is possible, a detailed log is required. Could you set `sql.show` = `true` to get the logic SQL and actual SQLs?

[2020-07-31 02:50] #6204 closed

[2020-07-31 02:51] tristaZero commented on #6175
Since there is no any feedback beyond 7 days, I have to close it.

[2020-07-31 02:51] #6175 closed

[2020-07-31 02:52] tristaZero commented on #6123
Hi @ljz0721cx
Since there is no any feedback beyond 7 days, I have to close it.

[2020-07-31 02:52] #6123 closed

[2020-07-31 03:04] Simbafa commented on #6527
server.yaml
[code]

config-sharding.yaml
[code]
I will try 5.0.0-SNAPSHOT

[2020-07-31 03:09] caiglee commented on #6539
[ERROR] 11:09:41.556 [ShardingSphere-Command-3] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
groovy.lang.MissingMethodException: No signature of method: java.lang.String.mod() is applicable for argument types: (java.lang.Integer) values: [2]
Possible solutions: drop(int), find(), any(), find(java.lang.CharSequence), use([Ljava.lang.Object;), take(int)
        at org.codehaus.groovy.runtime.S

[2020-07-31 03:11] caiglee commented on #6539
[SQL] insert into t_order values(2,1,1);
受影响的行: 1
时间: 0.031s

[Err] 1055 - Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'information_schema.PROFILING.SEQ' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

[2020-07-31 03:14] tuohai666 commented on #6527
I have reproduced this problem with you configuration.

[2020-07-31 03:18] lwtdev opened #6543 "Does Shardingsphere 4.x a long supported version ?"
## Question
Does bug found in ShardingSphere 4.x and fixed in 5.x will merge back to 4.x ?

[2020-07-31 03:41] xiangtao123 opened #6544 "Caused by: NullPointerException: MySQLDMLVisitor: org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-07-31 04:12] terrymanu opened #6546 "Avoid set PORT to system environment"
There is set the PORT into system environment in the ShardingSphere-Proxy's BootStrap class.
Using system environment to pass variable in same application is not a good practice.
It is better to use explicit parameter and method signature to pass PORT.

[2020-07-31 04:14] terrymanu opened #6547 "Use SPI to introduce ClusterConfiguration in OrchestrationShardingSphereDataSource"
It is better to decouple ClusterConfiguration and OrchestrationShardingSphereDataSource.
Please use SPI to introduce ClusterConfiguration.
Just reference `MetricsConfiguration`

[2020-07-31 05:15] cay914 commented on #6539
Hello, my navicat version:
![image](https://user-images.githubusercontent.com/6037435/89002275-3d160b80-d32f-11ea-8519-4f907a7894b7.png)

sharding-proxy version:
4.1.1

And I have encounted another problem when i refresh 3 （or more) time with navicat.
some time good, some time wrong. you can see the picture.
![image](https://user-images.githubusercontent.com/6037435/89002419-99792b00-d32f-11ea-83f

[2020-07-31 05:20] darkpssngr commented on #6469
@jingshanglu added the info you requested. please let me know if more information is needed?

[2020-07-31 05:33] #6527 closed

[2020-07-31 05:37] peng-ran opened #6548 "The timing of Hint's use"
Do you have any good Suggestions on the timing of setting Hint and releasing Hint?I don't want to do AOP interception with annotations because it would be too intrusive for your code.

[2020-07-31 05:41] peng-ran commented on #6473
@tristaZero @kimmking Many thanks

[2020-07-31 05:41] #6473 closed

[2020-07-31 06:01] tristaZero commented on #6539
@caiglee @cay914 Thanks for detailed information.
Firstly @caiglee Which SQL did you execute to get the exception? Also, the related `sharding rule` is required, since I found this exception was caused by `InlineShardingStrategy`.

[2020-07-31 06:04] tristaZero commented on #6539
For @cay914 's image, It seems another issue, right?

@tuohai666 Do you think this user needs to provide more detail for us to look into?

[2020-07-31 06:29] jingshanglu commented on #6544
@xiangtao123 Now , it is ok on master branch, new version will fix it.

[2020-07-31 06:32] jingshanglu commented on #6531
@xiangtao123 Now, it is ok on master branch,new version will fix it.

[2020-07-31 07:02] Spole0168 opened #6550 "help sharingjdbc4.0.1 oracle page"
I am using the 4.0.1 version of sharingjdbc to link to the oracle database and encounter problems with paging display data.
Currently sharingjdbc supports nesting of subqueries once, but Oracle paging can only be achieved by nesting twice with rownum. The recommendation on the official website is the same. When using it, it will report an error "Must have sharding column with subquery", just remov

[2020-07-31 07:13] #6531 closed

[2020-07-31 07:14] jingshanglu commented on #6531
It is ok on master branch.

[2020-07-31 07:28] 291277058 opened #6551 "Question:update sql executed in all of the table"
Does shardingsphere support table chose when use update sql.In my point, i think update sql can chose the right table by the strategy field,doed not need update all of it.,But i got the follow result.Does some body can explain it for me about it,thanks.
`2020-07-31 07:05:07.823 info 1172 --- [nio-8080-exec-5] ShardingSphere-SQL : Rule Type: sharding
2020-07-31 07:05:07.823 info 1172 --- [nio-8080-

[2020-07-31 08:28] #6541 closed

[2020-07-31 09:05] xiangtao123 commented on #6544
3Q

[2020-07-31 09:05] #6544 closed

[2020-07-31 09:07] xiangtao123 commented on #6531
3Q

[2020-07-31 10:21] terrymanu opened #6556 "Add test case for BootstrapArguments"

[2020-07-31 10:33] tristaZero commented on #6478
Welcome @dongzl come back!
It is long-term work, so I suggest you split a huge PR into many small ones and look forward to a flow of PRs from you. :-)

[2020-07-31 10:57] cay914 commented on #6539
The same environment, simply refresh from navicat.

[2020-07-31 11:03] peng-ran commented on #6548
How to parse the sub-table on the callback algorithm, skipping the hint, sharding value will be managed in my program, no need to provide sharding-JDBC, if I use hint, I have to set it every time I execute SQL, because no setting will not trigger the algorithm callback

[2020-07-31 12:03] kimmking opened #6558 "Extract rat plugin config to root pom file in shardingsphere-elasticjob-ui"
Extract rat plugin config to root pom file in shardingsphere-elasticjob-ui.
Now rat config in several sub module pom files.

Refer: https://github.com/apache/shardingsphere-ui/blob/master/pom.xml

[2020-07-31 12:11] jiang2015 commented on #6558
please assined to me，thanks

[2020-07-31 13:44] zhaopinglu commented on #6412
I read the links in your answer above, but I still can't be sure if ShardingSphere-JDBC (or -Proxy) support Master-Slave failover or not. Could you please answer this question directly? Thanks.

[2020-07-31 17:21] terrymanu opened #6561 "Add test case for YamlProxyConfigurationSwapper"

[2020-07-31 22:12] cay914 opened #6562 "can't insert undo_log table when seata global transaction roll back"
I used the springcloud + jpa + jdbc. inserting the undo_log is ok.
but when i used the springcloud + sharding-jdbc + jpa, the sharding-jdbc can't rollback and the undo_table is alway empty.

my setting is:
seata:1.3.0
shardingsphere:4.1.1

and the log:
onnected to the target VM, address: '127.0.0.1:1443', transport: 'socket'
2020-08-01 05:57:53.056  INFO 21656 --- [           main] trationDelegate

[2020-08-01 04:48] tristaZero commented on #6412
@zhaopinglu Simply speaking, ShardingSphere can not handle the failover of MySQL, but it can push the info of new masters and slaves to all the proxy or JDBC clients online.

[2020-08-01 06:48] cay914 commented on #6328
@kimmking
SeataATShardingTransactionManager.begin never be call.
why ? can you have testing this scenario?
I have try with sharding jdbc, the undo_log table can insert data.
but with sharding-jdbc it can't.

please update sharding-transaction-base-seata-at to support seata 1.3.0。
thanks

[2020-08-01 07:28] dongzl commented on #6478
Hi @tristaZero , Thank you for your reminder, I'm not familiar with the SQL parse, I think this is a good opportunity, I will often communicate with jingshang and you about this work.

[2020-08-01 08:31] tuohai666 commented on #6539
@cay914

The picture already told the reason **order1.t_order_0 doesn't exist.**

All actual tables in your rule as follows:
`actualDataNodes: order0.t_order_$->{[0,2,4,6]}, order1.t_order_$->{[1,3,5,7]}`

[2020-08-01 08:34] tuohai666 commented on #6539
For the previous Exception, please change the sharding value user_id from '1' to 1 .

[2020-08-01 08:36] kimmking commented on #6548
Can you show a concrete scenario？

[2020-08-01 11:02] cay914 commented on #6539
I have try remove bindingTables. But it take no effect.
**order1.t_order_0 doesn't exist** problem is the same.

my test data is flow, can you have a    @tuohai666
[order.zip](https://github.com/apache/shardingsphere/files/5010263/order.zip)

[2020-08-01 11:34] cay914 commented on #6562
can anybody help @tristaZero @kimmking @cherrylzhao ?

my simple project is:
[https://gitee.com/cay914/mall.git](url)

my test case is:
the function is the com.codebattery.service.OrderService#create call storageFeignClient.deduct("1", 1);
and storageFeignClient.deduct throws Exception, But data is insert into mysql throught sharding-jdbc
and seata print rollback info in the console.

please help,

[2020-08-02 05:49] dudiao commented on #650
sharding jdbc，集成多数据源：https://mp.weixin.qq.com/s/LOcjg0lrV9ZbELBVWlTR2g

[2020-08-02 06:55] terrymanu opened #6568 "Add test case for ProxyDataSourceContext"

[2020-08-02 15:34] terrymanu opened #6571 "Rename "unfinish" to "unfinished" in AbstractResumablePositionManager"

[2020-08-02 15:39] terrymanu opened #6572 "Consider about merge OrchestrationFacade and ControlPanelFacade"

[2020-08-02 15:45] terrymanu opened #6573 "Discuss about remove all config logs"
For security reason, it is better to remove all config logs.
Any suggestions?

[2020-08-02 15:52] sandynz commented on #5432
Hi, I'd like try to solve it.

From masankin's description, part of the sql is : SELECT NULL AS TABLE_CAT, looks the problem is caused by column name is uppercased, I reproduced this problem with H2 database, sql: SELECT user_id AS USER_ID FROM t_order LIMIT 1 .

After reading MySQL/PostgreSQL/H2 implementation of java.sql.ResultSet.findColumn(columnLabel), they are different and every one is comp

[2020-08-02 16:00] terrymanu opened #6574 "Add test case for MySQLServerInfo.setServerVersion"

[2020-08-02 16:21] terrymanu opened #6576 "Add test case for ProxySchemaContexts.getDataSourceSample"

[2020-08-02 16:31] terrymanu opened #6577 "Consider about redesign metrics configuration"
The current metrics configuration persist with port into config center, which is not adapter for cloud native design.
IP should not persist with orchestration module.
It is better to consider about redesign it.

[2020-08-03 01:41] xiangtao123 opened #6578 "SQLUtil: Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: 0"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-03 01:58] wubingting commented on #650
@dudiao  Hi Thanks for your sharing. We will give it a look.

[2020-08-03 02:31] tuohai666 commented on #6539
@cay914 Set sql.show: true and upload the log for this problem. Let's find out what's the SQL need routing to order1.t_order_0.

[2020-08-03 02:31] tristaZero commented on #6562
@cherrylzhao Hi this issue is about seata DTC, please give it a look. Thanks a alot

[2020-08-03 02:35] tuohai666 commented on #6539
![image](https://user-images.githubusercontent.com/24643893/89140681-e437b480-d574-11ea-9e57-da8151501fab.png)

You should use actual SQL via a ShardingSphere-Proxy, change the actual SQL to logical SQL please.

[2020-08-03 02:54] xingluan1216 opened #6579 "Cannot find PostgreSQL type 'POSTGRESQL_TYPE_UNSPECIFIED' in column type when process binary protocol value"
## Bug Report

How to solve this problem,It seems to be a matter of time resolution,Because it's normal when there's no time。

[code]
### Which version of ShardingSphere did you use?

sharding-proxy-4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

insert a record with time

### Actual behavior

An error occured in shar

[2020-08-03 03:26] kimmking commented on #6543
As 5.0 architecture is different with 4.x, it's no plan for bug-fixes backporting to 4.x.

[2020-08-03 03:31] #6537 closed

[2020-08-03 04:00] peng-ran commented on #6548
@kimmking
I'm on the outside of the program, maintained the shard of tenants and database, table routing relationship, when sharding - JDBC in analytic to SQL table callback fired when algorithm, I, a logical table based on routing table and fact table match, so I don't need to give sharding - JDBC defines all of the tables, and there is no scene every time executing SQL sets the hint, I understan

[2020-08-03 04:06] peng-ran commented on #6548
Following the Sharding-JDBC approach, I now have to define all tables (because normal tables may be sharding-dababase) and have to intercept all persistent methods for set hint

[2020-08-03 06:04] cmonkey opened #6583 "sqlException.getCause is null"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-03 06:04] #6571 closed

[2020-08-03 06:15] tristaZero commented on #6579
Hi @xingluan1216
Thanks for your detailed issue description!
We will give it a look ASAP.

[2020-08-03 06:18] tristaZero commented on #6578
Hi @xiangtao123
As your guess, it seems like a parsing issue.
@jingshanglu Could you give this SQL a test?

[2020-08-03 06:25] tristaZero commented on #6551
Hi @291277058
Could give more clear info? Like SQL, sharding key, sharding algorithm.
All the tables will be updated if there is no `sharding rule` for this table or your query condition does not contain `sharding key`.

Thanks,
Trista

[2020-08-03 06:27] tristaZero commented on #6550
Hi @Spole0168 Release has bad support for `subquery`. My suggestions are,
1. Make your SQL not contain `subquery`
2. Use our `master branch` for a test, since `master branch` has many improvements for `subquery.`

[2020-08-03 06:36] tristaZero commented on #6543
@lwtde

[2020-08-03 06:36] #6543 closed

[2020-08-03 06:40] tristaZero commented on #6548
@peng-ran Sorry I did not catch you.
You do not want to set `hint manager` every time you execute SQL?

[2020-08-03 06:42] terrymanu opened #6585 "Consider about merge Callback and OrchestrationEventBus"

[2020-08-03 07:06] Spole0168 commented on #6550
Thank you very much,
currently shardingjdbc4.0.1 version cannot perform oracle paging.
 I try other versions.

[2020-08-03 07:33] kimmking commented on #6573
+1

[2020-08-03 08:07] gzdzss commented on #6576
Please assign  to me. Thanks

[2020-08-03 08:11] terrymanu opened #6588 "Add test case for DataSourceConfiguration.equals and hashcode"

[2020-08-03 08:29] peng-ran commented on #6548
@tristaZero
Yes, sharding doesn't need to be calculated, I have a mapping, I just want to be able to fire the algorithm class when Sharding-JDBC parses the logical table in SQL.

[2020-08-03 08:29] herozeng commented on #6574
I want to take this task, how to start the very first step

[2020-08-03 08:35] terrymanu opened #6590 "Add test cases for DatabaseType"
I just provide an example for `MySQLDatabaseType`, please ref it to finish remain test cases.

- [ ] H2DatabaseType
- [ ] MariaDBDatabaseType
- [ ] OracleDatabaseType
- [ ] PostgreSQLDatabaseType
- [ ] SQL92DatabaseType
- [ ] SQLServerDatabaseType

[2020-08-03 08:54] terrymanu opened #6592 "Add test cases for datanode"
- [x] DataNodes
  - [ ] Add test case for contains DataSourceRoutedRule branch
- [x] DataNodeUtil

[2020-08-03 09:00] 291277058 commented on #6551
This is my config.
`
#---------------------------- 数据库分片配置
spring.shardingsphere.sharding.tables.order_item.actual-data-nodes=ds0.order_item20207,ds0.order_item20211,ds0.order_item20217,ds0.order_item20221,ds0.order_item20227
# 配置分表策略
spring.shardingsphere.sharding.tables.order_item.table-strategy.complex.sharding-columns=create_date,ordernoComplexShardingConfig
spring.shardingsphere.sharding.tabl

[2020-08-03 09:02] terrymanu opened #6593 "Add test case for ShardingSphereRulesBuilder"

[2020-08-03 09:06] terrymanu opened #6594 "Finish test cases for infra.spi"
- [x] OrderedSPIRegistry
- [x] SingletonServiceLoader
- [x] TypedSPIRegistry
- [x] ShardingSphereServiceLoader for register twice
- [x] ShardingSphereServiceLoader for new instance error

[2020-08-03 09:10] terrymanu opened #6595 "Finish test cases for infra.yaml"
- [ ] YamlShardingSphereAlgorithmConfiguration
- [ ] ShardingSphereYamlRepresenter
- [ ] YamlEngine
- [ ] YamlRuleConfigurationSwapperEngine

[2020-08-03 09:29] cowcomic commented on #6568
i want this issue. please assined to me

[2020-08-03 09:31] terrymanu opened #6598 "Add more test cases for infra.executor modules"
- [x] ExecutionContextBuilder
- [x] RawJDBCExecutor
- [x] SQLExecutor

[2020-08-03 10:26] tuohai666 opened #6600 "Failure test cases of DCL"
TODO:

- [x] CREATE USER parse error (#6664)
- [x] Fix xml format error
- [x] Reduce time cost from 1 hour to  5 minutes
- [x] Clean ROLE resources for each test

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [Sharding

[2020-08-03 10:44] gzdzss commented on #6592
Please assign to me, thanks

[2020-08-03 10:51] gzdzss commented on #6556
Please assign to me, thanks

[2020-08-03 12:59] #6511 closed

[2020-08-03 13:10] sandynz commented on #6579
Hi, I'd like try to solve it

[2020-08-04 01:29] jacksparrow414 commented on #6594
could you assign me? :smile:

[2020-08-04 01:49] tuohai666 opened #6603 "Failure test cases of DQL BaseIT for MySQL"
TODO:

- [x] Rewrite error of derived alias (#6643)
- [x] Incompatible with sql_mode=only_full_group_by when test with MySQL 5.7.x or above.
- [x] SELECT DISTINCT test cases error (#6658)

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Rea

[2020-08-04 02:16] jingshanglu commented on #6578
@xiangtao123 @tristaZero Now, master branch has fixed it.new version will be ok.

[2020-08-04 02:59] #6578 closed

[2020-08-04 03:03] tristaZero commented on #6551
@291277058 Thanks for your feedback.
Have you tested your `sharding Algorithm` with the SQL mentioned above? Did this algorithm return the correct targets with the value of `sharding key` in that SQL?

[2020-08-04 03:10] xiangtao123 commented on #6578
Thanks a lot.

[2020-08-04 03:15] tristaZero commented on #6548
If users do not set sharding key to `hint manager`, how do users tell the specific values of sharding key to sharding JDBC.
Do you have any other better ideas?

BTW, I guess you wrote comments with the help of Google or Baidu translation tools, didn't you? I suggest you review these translation scripts firstly since this translation confused me a lot. If I could not catch what you said, I would no

[2020-08-04 03:54] dmbj opened #6604 "sharding scaling&proxy sync realtimedata in mysql with fieldtype text occur exception"
### sharding scaling&proxy version
sharding scaling&proxy 4.1.1, MYSQL 5.7.26
### Expected behavior
sync realtimedata
### Actual behavior
scaling got an exception,and proxy trace log find some log:
### Reason analyze (If you can)
realtimeTask sync binlog data explain SQL field text error,got an special char with sql statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding r

[2020-08-04 04:10] 291277058 commented on #6551
When insert the sharding method was excuted.But when update ,the sharding method was not used.I guess it`s only used when sql `where` follow the sharding field which i set.

[2020-08-04 04:22] jameszhongsq opened #6605 "adapting the ShenTong database"
Do you support domestic databases,For Examples ShenTong，dameng? I'm adapting the ShenTong database,
 ShenTong driver is : jdbc_mysql_driverUrl=jdbc:oscar://192.168.2.182:2003/OSRDB。The following error was encountered：
java.lang.UnsupportedOperationException: Can not support database type [OSCAR]

[2020-08-04 04:23] cmonkey opened #6606 "Operation not allowed after ResultSet closed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-04 04:39] taojintianxia commented on #6574
you have to read the [contribution document](https://shardingsphere.apache.org/community/cn/contribute/) first.

then fork the source code to your own repository , make modification , push and merge to the original repository.

[2020-08-04 04:51] taojintianxia commented on #6590
assign to me .

[2020-08-04 07:45] dmbj opened #6611 "sharding scaling sync realtime data not surpport union pk"
### Which version of ShardingSphere did you use?
scaling&proxy 4.1.1, MSQL 5.7.26
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
scaling,proxy
### Expected behavior
sync realtime data
### Actual behavior
scaling got an exception,and proxy trace some log
### Reason analyze (If you can)
not surpport union pk well,binlog explain SQL statement wrong and update statement no

[2020-08-04 08:35] menghaoranss opened #6613 "Decouple masterslave rule in OrchestrationShardingSphereDataSource"
## Question

It is better to decouple masterslave rule in `OrchestrationShardingSphereDataSource` and `OrchestrationSchemaContexts`

- [x]  1. `OrchestrationShardingSphereDataSource`
- [x]  2. `OrchestrationSchemaContexts`

[2020-08-04 09:34] yu199195 commented on #6605
we not support ShenTong database。。

[2020-08-04 09:36] #6574 closed

[2020-08-04 09:37] #6576 closed

[2020-08-04 09:42] Lucas-307 commented on #6611
Please try it in master version again, I remember we fixed it in master.

[2020-08-04 10:32] tuohai666 commented on #6606
Hi @cmonkey , what's config-*.yaml and server.yaml ?

[2020-08-04 10:48] Lucas-307 commented on #6604
got it, let me see.

[2020-08-04 11:05] Lucas-307 commented on #6604
I think the sql is wrong whit `extra = ''' ` , it should be `extra = '\'' `?

[2020-08-04 11:06] yuzel commented on #6595
assign to me .

[2020-08-04 12:15] peng-ran commented on #6548
@tristaZero

抱歉， 我用翻译软件和您交流的，因为英语不好，又希望和各位交流下想法，请原谅我使用中文。

我的问题是这样的，我的SQL中没有分片字段，分片规则是按照我自己维护的路由映射关系加载到程序的全局中定义好的，比如数据库A，路由至库A_10002，表也如此，同时，大部分表是不需要分表的，基于此背景，应用sharding-jdbc后发现下面两个问题：

1. 不需要分片的表也需要定义，否则当SQL中只有未分片的表时，只会使用默认数据源，可是我需要把他路由到分库上

2. 我必须AOP拦截所有SQL操作，否则没有设置Hint的时机，不设置Hint就无法触发HintShardingAlgorithm的回调。分片值我也是随便塞的，

其实我需要的只是每次执行SQL，sharding-jdbc都能回调下，我会返回事实库名称，SQL解析到设置分片的表时也能回调下，我会返回事实表名 即

[2020-08-04 12:21] tuohai666 commented on #6606
Hi @cmonkey , please also provide Connector/J version and MySQL server version.

[2020-08-04 12:27] taojintianxia commented on #6590
done

[2020-08-04 14:06] cherrylzhao commented on #6562
hi, @cay914
you can just integrate with seata-spring-cloud with sharding-jdbc module, `sharding-transaction-base-seata-at` should be excluded. we have supported it since #4991

[2020-08-04 17:14] cay914 commented on #6562
@cherrylzhao Unfortunately, **sharding-transaction-base-seata-at** doesn't work.
You can see my pom file. I have included this lib.
And i four it incompatible with seata-all 1.3.0.
I think you provide an intergradion eample that would be better.

[2020-08-04 18:32] #6605 closed

[2020-08-05 00:51] dmbj commented on #6604
ths for answer the issue,As you can see,trigger scaling exception is that SQL.but why proxy execute that SQL statement,then you will find the Logic SQL log:`Logic SQL: INSERT INTOt_qrcode_consume_details(order_no,user_id,code_type,channel,update_time,amount,scene,extra,paid_charge_id,init_status,status,gmt_create,gmt_modify,rev,pay_channel,pay_order_no) VALUES('00028361564047575000010272479377','1

[2020-08-05 01:07] dmbj commented on #6611
ok,ths, i will try later.scaling & proxy both use master version?

[2020-08-05 02:43] tristaZero commented on #6548
Hi @peng-ran Sorry, we have to talk in English since this is an international Apache community.
1. You can configure non-sharding-table with `NoneShardingStrategy and actual dataNode`.
2. As I said before, If users do not set sharding key to hint manager, how do users tell the specific values of sharding key to sharding JDBC. Do you have any other better ideas?

[2020-08-05 02:58] cmonkey commented on #6606
config-sharding.yaml
[code]
business algorithm return targetNames

server.yaml
[code]
[code]

[2020-08-05 03:04] tuohai666 commented on #6606
Get it. Three more questions:
1. Would the Exception can be reproduced each time when execute SQL "select * from order limit 0, 10"?
2. Do the test cases contain any transaction?
3. Please set sql.show: true and show me the full log.

[2020-08-05 03:10] cmonkey commented on #6606
1. separate test case "select * from order limit 0, 10"
2. local transaction to proxy, the default transaction database
3. log level error

[2020-08-05 03:19] tuohai666 commented on #6606
@cmonkey I'd like to make these questions more clear:
1. Would the Exception can be reproduced each time when execute SQL "select * from order limit 0, 10"? (Yes or No)
(The first time execute this SQL burst an exception, and the following every time burst the exception, yes or no?)
2. Do the test cases contain any transaction? (Do you really use transaction? How to use it, please provide the proc

[2020-08-05 03:29] cmonkey commented on #6606
1. No
2. respectively using tsung, jmeter test, the test result are same
he first test is normal, on the second test error

[2020-08-05 03:30] yz-1130 opened #6625 "Why not support the ‘point’ field？"
I have this question, I don't know how to solve it, because it is an old project, there is no way to change the field name. I have a ‘point’ field in the database table users, and it fails when I insert data or query data, and it’s no problem to change to other fields.
 Questions are as follows:

‘line 3:37 no viable alternative at input 'point,'
line 3:37 no viable alternative at input 'point,'
2

[2020-08-05 03:53] karkaw opened #6626 "从BindRu"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-05 03:53] #6626 closed

[2020-08-05 04:58] terrymanu opened #6628 "Investigate reason for travis ci failure"
When run CI in travis, the test failure and throw exception below:

[code]

Run in Junit standalone is fine.

[2020-08-05 04:58] karkaw opened #6629 "the class "BindingTableRule" to get the ActualTable's name been toLowerCase"
When the logical table is uppercase, when bindrule is set, the BindingTableRule.getBindingActualTable Is converted to lowercase. The result is that the table cannot be found when two and more table to join 。

[2020-08-05 05:02] #6548 closed

[2020-08-05 05:20] cmonkey commented on #6606
respectively test the mysql connector/java version 5.1.47,8.0.19,zero difference

[2020-08-05 05:24] tuohai666 commented on #6606
@cmonkey

The full log means logs generated by ShardingSphere-Proxy. Please upload the logs to this issue.

[2020-08-05 05:45] cmonkey commented on #6606
![image](https://user-images.githubusercontent.com/664050/89376164-da9f7f80-d721-11ea-8125-1439cf62b2fd.png)
file is too large

[2020-08-05 05:52] tuohai666 commented on #6606
You can truncate the log around Exceptions.

[2020-08-05 06:02] #6573 closed

[2020-08-05 06:05] cay914 commented on #6539
I create the table use sharding-proxy and it divide 2 db and 4 table each. I just give you the actual data. You know?
The actual Table DLL is:
CREATE TABLE `t_order` (
  `order_id` int(20) NOT NULL COMMENT '自动编号',
  `user_id` bigint(20) NOT NULL COMMENT '客户编号',
  `shop_id` bigint(20) NOT NULL COMMENT '商店编号',
  `product_count` int(11) NOT NULL COMMENT '商品数量',
  `product_amount_total` decimal(5,2) N

[2020-08-05 06:17] #6590 closed

[2020-08-05 06:25] stephen-gao opened #6633 "execute “replact into xxx” throw “InsertStatement cannot be cast to ReplaceStatement” exception."
## Bug Report

version: 4.1.1
project: ShardingSphere-JDBC
sql: REPLACE INTO test(id, user_key, username)VALUES(#{id,jdbcType=VARCHAR}, #{userKey,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR});
properties:

spring.shardingsphere.datasource.ds0.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds0.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.

[2020-08-05 06:47] terrymanu commented on #6633
**For English only**, other languages will not accept.

[2020-08-05 06:47] #6633 closed

[2020-08-05 07:05] dmbj commented on #6611
i have test master version(5.0.0-RC1-SNAPSHOT in scaling&proxy),union pk surpport now,sync data work fine.
3Q @Lucas-307
however i found incrementalData update statement still not surpport sharding column,it will full scan all sharding.
is a plan to fix it?

[2020-08-05 07:12] tuohai666 commented on #6539
Again.
Set sql.show: true and upload the log for this problem. Let's find out what's the SQL need routing to order1.t_order_0.

I can't try to reproduce for I don't have an available Navicat. So, please provide the log.

[2020-08-05 07:41] #6613 closed

[2020-08-05 07:44] chenwuwen commented on #1617
我使用了4.1.1版本的sharding ,springboot的版本2.3.2.RELEASE。找不到DefaultKeyGenerator 这个类

[2020-08-05 07:52] menghaoranss commented on #6629
Could you provide any configuration or log to describe your problem?

[2020-08-05 07:52] stephen-gao opened #6637 "execute “replact into xxx” throw “InsertStatement cannot be cast to ReplaceStatement” exception."
## Bug Report
version: 4.1.1
project: ShardingSphere-JDBC
sql: REPLACE INTO test(id, user_key, username)VALUES(#{id,jdbcType=VARCHAR}, #{userKey,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR});

There may be a bug.
when execute `replace into table-xxx` insert a data to mysql, throw exception `java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.statement.dml.InsertStatement cann

[2020-08-05 07:58] cay914 commented on #4991
@cherrylzhao where to config sharding.transaction.seata.at.enable = true ?

[2020-08-05 08:13] cay914 commented on #6562
You told me to exclude **sharding-transaction-base-seata-at**?
Where is **org.apache.shardingsphere.transaction.base.seata.at.SeataATShardingTransactionManager**? I can't find this class without  **sharding-transaction-base-seata-at**.
You are missleading

[2020-08-05 08:22] yu199195 commented on #6625
`point `  maybe mysql keyword, please another field or use `point`.

[2020-08-05 08:22] jingshanglu commented on #6637
@stephen-gao Can you show some stack info? such as actual sql, logical sql.

[2020-08-05 08:51] stephen-gao commented on #6637
stack info:

The error may exist in file [D:\gitProject\myProject\shard-jdbc\target\classes\com\gs\shardjdbc\mapper\TestDOMapper.xml]
The error may involve defaultParameterMap
The error occurred while setting parameters
SQL: REPLACE INTO test(                 id                 ,user_key                 ,username             )VALUES(                  ?                 , ?                 , ?

[2020-08-05 08:59] karkaw commented on #6629
1、the env is hibernate + spring +mysql (the mysql config ： lower_case_table_names = 0 大小写敏感 ) ，and the all logic lable 's name is uppercase 。
2、the sharding config as :
     <sharding:binding-table-rules>
                <sharding:binding-table-rule logic-tables="JC_ZONE,JC_ZONE_ORGANIZATION" />
     </sharding:binding-table-rules>
3、To execute the SQL as  "select * from JC_ZONE z join JC_ZONE_ORG

[2020-08-05 09:02] stephen-gao commented on #6637
all stack info
[code]

[2020-08-05 10:33] menghaoranss commented on #6577
Refer #6546

- [ ] 1. Remove  `port`  from system environment
- [ ] 2. Persist global metrics configuration to  config center
- [ ] 3. Talk about whether to save the `port` of metrics
- [ ] 4. Refactor listeners and unit tests

[2020-08-05 10:40] tuohai666 opened #6643 "Rewrite error of derived alias"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-05 10:57] strongduanmu commented on #6637
@stephen-gao This exception has been fixed in the master branch, please wait for the 5.x release version.

[2020-08-05 11:01] johnny2002 commented on #6458
Dear,
Since I already told you the logicTableName, you should treat it as exists, even sometimes, the logicTableName not exists in SQL, but this is my intent. e.g. I want to use the sharding rule of table-a to shard table-b, this should be allowed.

Hope you can double check my suggestion. This feature should broadly promote the usage of Sharding-jdbc.

[2020-08-05 11:02] #6583 closed

[2020-08-05 11:11] tristaZero commented on #6637
@strongduanmu The whole community is benefiting what you did, great job!

[2020-08-05 11:11] #6637 closed

[2020-08-05 11:13] #6546 closed

[2020-08-05 13:49] harvies commented on #6561
Please assign it to me, thank you.

[2020-08-05 17:48] kimmking commented on #6547
It seems metrics is not loaded in jdbc-orchestration. @menghaoranss @yu199195

[2020-08-05 18:16] kimmking opened #6653 "Consider about structure of Orchestration&Control-Panel projects"
Consider about structure of Orchestration projects and Control-Panel projects.
Make a design for new structure and then refactor them.
According our disscussion about Orchestration&Control-Panel module, cluster module should be pending for the next version release, and observablity module should be an independent project, so we adjust them now.

### Phase 0--prepare

- [x] create branch orchestrat

[2020-08-06 02:13] rongflag opened #6655 "SqlServer : no viable alternative at input 'WITH'"
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere-JDBC 4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes f

[2020-08-06 02:16] xiangtao123 opened #6656 "SQL-Parse-LimitSegment: PaginationContext.getValue(PaginationContext.java:57): Cause: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-06 02:52] tristaZero commented on #6458
Hi @johnny2002
You mean to add `logical table` and `sharding key`  to `hintManger` **just for** skipping the SQL parsing and rewriting?
If so, actually, sharding JDBC does need to parse SQL. Do you think there are any other scenarios needing this feature?

[2020-08-06 02:58] tristaZero commented on #6655
Hi @rongflag I think `Sharding Parser` does not support parsing this SQL `WITH...`. Currently, we are seeking help for the community to polish the SQL definitions of SQLServer. If you are interested in it, I suggest you try to fix it referring to [Guideline](https://github.com/apache/shardingsphere/issues/6478).

[2020-08-06 03:02] tristaZero commented on #6656
@jingshanglu My feeling is that there are many similar issues about this exception. Could you confirm whether we fix it on our master branch?

[2020-08-06 03:11] jameszhongsq opened #6657 "java.lang.IllegalStateException: Missing the data source name"
#version
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC1</version>
        </dependency>
#This is the properties  configuration
spring.shardingsphere.datasource.names=m1

spring.main.allow-bean-definition-overriding=true

spring.shardingsphere.datasource.m1.type=com.zaxxer.hi

[2020-08-06 03:31] tuohai666 opened #6658 "SELECT DISTINCT test cases error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-06 03:43] #6595 closed

[2020-08-06 03:49] #6556 closed

[2020-08-06 03:52] #6628 closed

[2020-08-06 03:54] #6593 closed

[2020-08-06 03:55] #6588 closed

[2020-08-06 04:15] cherrylzhao commented on #6562
`SeataATShardingTransactionManager` is a database layer distribute transaction resolution. for micro service layer original Seata is ok for that, so you just need a sharding-jdbc driver for the integration.
the key point is investigate whether `ShardingDataSource` was wrapped to DataSourceProxy or not in your project.

[2020-08-06 06:02] xiangtao123 commented on #6657
0. datanode name like : ds_x1.tb_x1

1. datasource.names=m1

2. please check sharding result datasource name, it not is db/table name.

3. please check database and table sharding algorithm was the same one?
spring.shardingsphere.sharding.tables.course.database-strategy.standard.precise-algorithm-class-name=com.shardingjdbcdemo.config.CourseTableShardingAlgorithm

4. config doc url:
https://shardi

[2020-08-06 06:19] VincentChi opened #6661 "Statement setFetchDirection not supported"
## Feature Request
setFetchDirection is not supported and would throw exception
org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationStatement#setFetchDirection

### Is your feature request related to a problem?
We are using apache mahout which uses this method in db initialization, but would throw exception.
![image](https://user-images.githubusercontent.com/1518651

[2020-08-06 06:31] yu199195 commented on #6661
we not support setFetchDirection，maybe cannot integrateion apache mahout， thanks！

[2020-08-06 06:35] yu199195 commented on #6657
exist course_202008 in course_db？

[2020-08-06 06:44] yu199195 commented on #6625
any question？ if not we will close

[2020-08-06 07:01] zhaopinglu opened #6662 "Can ShardingSphere cooperate with Orchestrator product to seamlessly feel the MySQL HA/Cluster status changes without any coding works"
This is a suggestion!
Orchestrator is a great MySQL cluster management tool. It supports to save the cluster status into zookeeper.
ShardingSphere don't have such capability right now, but it's important for user. So, why not ShardingSphere leverage the status info in zookeeper to complete this missing part? If it works, then the users can get benefit from this integration without any coding works

[2020-08-06 07:15] jameszhongsq commented on #6657
去掉：
spring.shardingsphere.sharding.tables.course.table-strategy.inline.sharding-column=create_time
spring.shardingsphere.sharding.tables.course.table-strategy.inline.algorithm-expression=course_${202001..202008}
下面的配置：database-strategy改为table-strategy就ok了。
spring.shardingsphere.sharding.tables.course.database-strategy.standard.sharding-column=create_time
spring.shardingsphere.sharding.tables.cours

[2020-08-06 07:15] #6657 closed

[2020-08-06 07:26] tuohai666 opened #6664 "CREATE USER parse error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-06 07:32] fantacy2001 opened #6665 "sharding jdbc do not support batch update"
sharding jdbc do not support execute multiple SQL,like this:
mybatis
  <foreach collection="list" item="item" separator=";">
            update table
          set name = #{item.name,jdbcType=VARCHAR}
          where id = #{item.id,jdbcType=BIGINT}
</foreach>
My question is ：
1、Will it be supported this sql in the future?
2、How to replace this kind of SQL now？
    if  use single update sql, for lo

[2020-08-06 07:58] wenweibin commented on #6665
1.I don't think it will be supported in the future, because this kind of SQL will be routed to multiple data nodes, which will cause distributed transaction problems.
2. Just split batch SQL into a single sql , actually，batch update SQL with semicolon  is just a pseudo batch-update , and the mysql server is still executed one by one, which can only cut a little network overhead, and the performanc

[2020-08-06 08:03] gzdzss commented on #6598
mark

[2020-08-06 08:09] fantacy2001 commented on #6665
However, a single SQL must get the connection every time，In case of large quantity，The effect may be magnified

[2020-08-06 08:35] xiangtao123 commented on #6656
long org.apache.shardingsphere.sql.parser.binder.segment.select.pagination.PaginationContext.getValue(PaginationValueSegment paginationValueSegment, List<Object> parameters)

`
private long getValue(final PaginationValueSegment paginationValueSegment, final List<Object> parameters) {
        if (paginationValueSegment instanceof ParameterMarkerPaginationValueSegment) {
            Object obj = par

[2020-08-06 09:00] wenweibin commented on #6665
Don't worry, this is usually not a problem because of connection pool.

[2020-08-06 09:47] tristaZero commented on #6662
Hi @zhaopinglu
Your issue inspired me with a lot of the possibility of an enhancement feature. Firstly, thanks for your great idea!
We need to give it a discussion and some studies.

Best,
Trista

[2020-08-06 09:48] yu199195 commented on #6665
you can show real SQL，if like update table set name =?  where id =?  in loop,  is support.

[2020-08-06 09:52] tristaZero commented on #6665
Sorry, @fantacy2001 You means many of single SQL like `update table set name = #{item.name,jdbcType=VARCHAR} where id = #{item.id,jdbcType=BIGINT}`  run at once?
I am not sure `statement.executeBatch()` is whether your concerns. Maybe not?

[2020-08-06 09:58] tristaZero commented on #6661
Thanks for your debug. @VincentChi
We welcome you or other guys to try to fix this issue, for it seems not difficult.
You can remove `final` from `setFetchDirection` and implement it in `AbstractPreparedStatementAdapter` and `ShardingSpherePreparedStatement`.

If you need any help, please feel free to ping us!

Best,
Trista

[2020-08-06 10:11] johnny2002 commented on #6458
[A] Exactly!

My case is, I have some very complex SQLs that involes many tables, while I already know whick database to use, and the real tablename already hardcode in the SQLs.

[2020-08-06 11:09] harvies commented on #6561
The orchestration configuration conversion function is not available.

[2020-08-06 12:03] wenweibin commented on #6661
Can this be assgined to me?

[2020-08-06 12:51] lishijun121910 opened #6676 "sharding-jdbc sharding performance"
I am using sharding-jdbc , seperating one table(30,000,000 rows) to 64 tables(500,000 rows)
And I have done some tests, compare to mysql

mysql config:
spring:
  datasource:
    url: jdbc:mysql://xx.xx.xx.xx:3306/shardingdb?useSSL=false
    username: xxxx
    password: xxxx
    driverClassName: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: HikariCP
      connection-timeout: 300000
      co

[2020-08-06 15:26] jacksparrow414 commented on #6594
- [x] OrderedSPIRegistry
- [x] SingletonServiceLoader
- [ ] TypedSPIRegistry
- [ ] ShardingSphereServiceLoader for register twice
- [ ] ShardingSphereServiceLoader for new instance error

[2020-08-07 02:03] phoema commented on #4963
When will the issue can  be processed?

[2020-08-07 02:26] QiAnXinCodeSafe opened #6680 "Unreleased Resource: Streams"
https://github.com/apache/shardingsphere/blob/acc64bdf0b9b994ca465c2a63a06e6db8221935c/shardingsphere-infra/shardingsphere-infra-merge/src/main/java/org/apache/shardingsphere/infra/merge/result/impl/stream/StreamMergedResult.java#L61

The program can potentially fail to release a system resource.

[2020-08-07 02:45] tristaZero commented on #6676
@lishijun121910 Thanks for your test report.

1. Could you provide these test SQLs?
2. What's the difference between the second one and the third one?

[2020-08-07 02:50] tristaZero commented on #6680
Hi @QiAnXinCodeSafe Thanks for your attention.

Could you give more explanation for this issue?
Since this result will return to users, could you confirm whether it will be closed after using?

[2020-08-07 02:55] #6508 closed

[2020-08-07 02:59] menghaoranss commented on #6629
@karkaw refer to [#3635](https://github.com/apache/shardingsphere/issues/3635)

[2020-08-07 03:19] menghaoranss opened #6682 "Use name instead of namespace for orchestration configuration"
Refer #6445

- [x] 1. Revise Yaml
- [x] 2. Revise SpringBoot
- [x] 3. Update examples
- [x] 4. Update documents

Yaml:
[code]

SpringBoot:
[code]

[2020-08-07 03:57] tuohai666 opened #6684 "Merge result of DDL is not accurate"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-07 04:09] lishijun121910 commented on #6676
1. sql is
    select
    <include refid="Base_Column_List" />
    from T_MERCHANT
    where INST_ID = #{inst_id,jdbcType=DECIMAL}
    and MCC_ID = #{mcc_id,jdbcType=DECIMAL}
    and MCHNT_ID = #{mchnt_id,jdbcType=VARCHAR}

2. the second is sharding-jdbc with 1 table(30000000rows), the third is sharding-jdbc with 64 table(1 into 64, 500000 rows).

3. I am using springboot+shardingjdbc+mybatis appli

[2020-08-07 05:38] fantacy2001 commented on #6665
The above  ‘’foreach”  is removed
i mean this:
mybatis mapper：
  < foreach collection="list" item="item" separator=";" >
            update table
          set name = #{item.name,jdbcType=VARCHAR}
          where id = #{item.id,jdbcType=BIGINT}
< /foreach >

[2020-08-07 05:39] fantacy2001 commented on #6665
like this :
< foreach collection="list" item="item" separator=";" >
update table
set name = #{item.name,jdbcType=VARCHAR}
where id = #{item.id,jdbcType=BIGINT}
< /foreach >

[2020-08-07 05:50] zhaopinglu commented on #6662
Glad to be helpful. Hope to see the function come true ASAP.

[2020-08-07 05:54] lishijun121910 opened #6685 "mysql client lost connection to sharding-proxy"
using sharding-proxy with mysql client tool.

lost connection after query sql:

![image](https://user-images.githubusercontent.com/8045307/89613721-7ad9dd80-d8b5-11ea-9170-fd8c7a472812.png)

[2020-08-07 06:57] QiAnXinCodeSafe opened #6686 "Unused Field"
https://github.com/apache/shardingsphere/blob/dc536c1fa19d5e4f98c50457d135254dd60d59eb/shardingsphere-scaling/shardingsphere-scaling-core/src/main/java/org/apache/shardingsphere/scaling/core/execute/executor/channel/MemoryChannel.java#L34

This field is never used

[2020-08-07 07:12] Lucas-307 opened #6687 "Refactoring RdbmsConfiguration"
Current RdbmsConfiguration is messy, such as:
- include dumper andimporter config but not the same.
- include incremental and inventory config but not the same.
- include context like PositionManager.
- implements Cloneable

It should be Refactoring:
- split into dumper/importer or incremental/inventory config.
- extract PositionManager to job context.
- remove Cloneable.

[2020-08-07 07:18] Lucas-307 commented on #6611
@dmbj I remember it surpport sharding column now.

see: org.apache.shardingsphere.scaling.core.execute.executor.importer.AbstractJDBCImporter#executeUpdate

`RecordUtil.extractConditionColumns()` include `ShardingColumns`. It's not useful?

[code]

[2020-08-07 07:19] Lucas-307 commented on #6604
@dmbj  got it.

[2020-08-07 07:30] Lucas-307 commented on #6686
Could you please help us fixed it.

[2020-08-07 07:38] tuohai666 commented on #6685
@lishijun121910 Please fill in the template following:

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issue

[2020-08-07 07:43] cay914 commented on #6562
I exclude **sharding-transaction-base-seata-at** lib

Now, the datasource is:
![image](https://user-images.githubusercontent.com/6037435/89621824-94365600-d8c4-11ea-9aa3-eaede854f8b0.png)

Can you tell me how to **wrapp to DataSourceProxy** ???
Code exmaple please.

[2020-08-07 08:01] tristaZero commented on #6685
@lishijun121910 At least, a stack log is required. Thanks

[2020-08-07 08:07] tristaZero commented on #6665
@wenweibin @fantacy2001
[code]
If so, what SQL will be generated and sent to ShardingJDBC? Could you provide an actual SQL?

[2020-08-07 08:07] tristaZero commented on #6661
My pleasure. @wenweibin

[2020-08-07 08:32] tristaZero commented on #6656
@xiangtao123 It seems you found the cause, nice. :)
What you mentioned is on our master branch, didn't it? Do you think it is likely for you to fix it?
Welcome your PR for this one! If not, please tell us, we will welcome the community to give it a fix.

Best,
Trista

[2020-08-07 08:43] dmbj commented on #6611
In 5.0.0-RC1-SNAPSHOT scaling&proxy i test update SQL in origin table,through scaling&proxy sync increaseTimeData.
I trace proxy log,found binlog explain SQL print logic SQL as:
`[INFO ] 14:49:05.733 [ShardingSphere-Command-2] ShardingSphere-SQL - Logic SQL: UPDATE `t_qrcode_consume_details` SET `amount` = 200 WHERE `order_no` = '0010282823892772727272211119237262694955' and `code_type` = '00' and

[2020-08-07 08:48] tristaZero commented on #6458
@johnny2002 Got it. Thanks for your further clarification.
Just to confirm, you have the `sharding tables` and these `hint tables` meanwhile, don't you?
Your particular case made me feel you only use shardingJDBC for routing the SQL to specific DB of the DB cluster. If so, why do not you use multiple independent MySQL instances instead?

I just wanna get other advantages of your suggestion for `hi

[2020-08-07 08:54] #6664 closed

[2020-08-07 08:59] #6600 closed

[2020-08-07 09:14] jimgreat opened #6688 "Add forceShardingColumn to TableRule"
Add forceShardingColumn configuration to TableRule
the default value of the field is False when it is True, DML SQL must have the sharding column otherwise throw exception

[2020-08-07 09:29] tristaZero commented on #6676
Hi @lishijun121910
I like your understandable answers, thanks. :) Actually, we are working on the same tests. See #6536

1. Why do not you try some other SQLs like `select count(*) from table where xxx` or `select xxx from table where id > xx and id < xx`?
2. Could you look at #6536 and write about your thoughts here?
3. Why do you think these tests are as expected? Do you mean your test method is

[2020-08-07 09:47] tuohai666 opened #6690 "Usability test of ShardingSphere-Proxy"
I'll collect the suggestion or problem here during the test.

**DDL**
- [x] Merge result of DDL is not accurate (#6684)

**DAL**
- [ ] information_schema and sys relevant SQLs can't parse or route (#6693)
- [ ] SHOW FULL COLUMNS get wrong (#6759)

**DDL**
- [x] Unsupported SQL of `CREATE TEMPORARY TABLE` (#7134)
- [x] Unsupported SQL of `CREATE TRIGGER` (#7136)
- [ ] Unsupported SQL of `CREATE PRO

[2020-08-07 10:08] gjf001 opened #6692 "chinese databases DM dameng"
shardingSphere is not compatible with Dameng database, the same configuration method, mysql can, but Dameng database is not, Dameng database is fully compatible with oracle, I use Springboot+mybatisplus, mybatisplus can configure the schema, the project can start normally, Queries are fine, but Data Sharding does not help

[2020-08-07 10:12] tuohai666 opened #6693 "information_schema and sys relevant SQLs can't parse or route"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-07 10:20] fantacy2001 commented on #6665
Logic SQL: update stock_change_detail
             SET update_time=now()
             WHERE id = ?
                AND tenant_id = ?

                    and warehouse_no = ?
         ;
            update stock_change_detail
             SET update_time=now()
             WHERE id = ?
                AND tenant_id = ?

                    and warehouse_no = ?

Actual SQL: ds_1 ::: update stock_cha

[2020-08-07 11:21] #6492 closed

[2020-08-07 19:57] kimmking commented on #6692
ShardingSphere doesn't support Dameng now, and has no plan for it.
If you are insterested in this case, could you make a pr to achieve it?

[2020-08-07 21:57] cay914 commented on #6539
stacktrace :(((((

org.springframework.dao.InvalidDataAccessResourceUsageException: could not extract ResultSet; SQL [n/a]; nested exception is org.hibernate.exception.SQLGrammarException: could not extract ResultSet
	at org.springframework.orm.jpa.vendor.HibernateJpaDialect.convertHibernateAccessException(HibernateJpaDialect.java:280)
	at org.springframework.orm.jpa.vendor.HibernateJpaDialect.tra

[2020-08-08 02:35] sandynz opened #6699 "Add raw jdbc yaml configuration PostgreSQL example"
## Feature Request

Current example is  designed for MySQL, it need some work to make it compatible with PostgreSQL.

### Is your feature request related to a problem?
No

### Describe the feature you would like.
PostgreSQL example with raw jdbc yaml configuration.

[2020-08-08 06:56] #6598 closed

[2020-08-08 07:08] terrymanu commented on #6688
It is unnecessary to change the API.
`forceShardingColumn` is too complicated and it is not the general requirement.
I suggest do not change it.

[2020-08-08 07:14] TracyBin commented on #3127
The same problem,high CPU utilization
[code]

[2020-08-08 08:10] terrymanu opened #6703 "Check the usage of DatabaseAccessConfiguration.password"
It seems like there is no place to reference this field.
Please check the usage and remove it if possible.

[2020-08-08 08:38] terrymanu opened #6706 "Optimize test cases of DataSourceConfiguration.equals and hashCode"
The current test cases are mix equals and not equals, please split them.

- [ ] Split DataSourceConfigurationTest.assertEquals to assertEquals and assertNotEquals
- [ ] Split DataSourceConfigurationTest.assertHashCode to assertSameHashCode and assertDifferentHashCode
- [ ] Add more test case for Equals
  - [ ] assert for equals to null object
  - [ ] assert for equals to class not same

[2020-08-08 08:46] terrymanu opened #6707 "Optimize YamlDataSourceParameterMergerTest"
The method of test case are too long. Please split several private methods.

The blank line is the signal to split the method.

[2020-08-08 08:50] jian365066744 commented on #6706
please assign to me

[2020-08-08 08:54] GeniusQ commented on #6706
让我来 ^_^

[2020-08-08 09:00] terrymanu commented on #6706
@jian365066744 Thank you, assigned, I add to more sub tasks, please have a look

[2020-08-08 09:22] terrymanu opened #6709 "Clear the relationship of originalName and alias in DataSourceConfiguration.addPropertyAlias"
The current alias added is bidirectional.
We need to clear relationship of originalName and alias, and use unary call.

[2020-08-08 09:25] terrymanu opened #6710 "Upgrade curator version to 5.1.0"
It is better to keep curator version consist with ElasticJob.
ElasticJob use curator 5.1.0 and ZooKeeper 3.6.x.

We can upgrade guava to 29.0-jre together.

[2020-08-08 09:33] jian365066744 commented on #6706
thanks,I am outside, I will finish the task later.

[2020-08-08 10:01] zhenpuwang commented on #6706
Give me a chance

[2020-08-08 10:16] terrymanu opened #6712 "Add more test case for HintManager"
- [ ] Add test case for addDatabaseShardingValue if `databaseShardingOnly`
- [ ] Add test case for addTableShardingValue if `databaseShardingOnly`

[2020-08-08 10:18] GeniusQ commented on #6712
please assign to me

[2020-08-08 10:40] terrymanu opened #6714 "Optimize DataSourceMetasTest.getAllInstanceDataSourceNames"
- [x] Add more assertion details for `assertGetAllInstanceDataSourceNamesForShardingRule`, assertNotNull is not enough
- [ ] Add a new assertion for not MemorizedDataSourceMetaData branch

[2020-08-08 11:39] jacksparrow414 commented on #6594
- [x] OrderedSPIRegistry
- [x] SingletonServiceLoader
- [x] TypedSPIRegistry
- [x] ShardingSphereServiceLoader for register twice
- [x] ShardingSphereServiceLoader for new instance error

[2020-08-08 12:43] terrymanu opened #6716 "Add test case for CreateTableStatementMetaDataRefreshStrategy with unconfigured meta data"

[2020-08-08 12:44] terrymanu opened #6717 "Add test case for DropIndexStatementMetaDataRefreshStrategy with remove indexes"

[2020-08-08 12:54] #6707 closed

[2020-08-08 13:30] #6594 closed

[2020-08-08 13:31] #6688 closed

[2020-08-08 13:56] tuohai666 commented on #6539
You response is meaningless. And you ignored my response completely over and over.
I suggest close this issue and tag invalid.
If somebody else like to continue this issue, please reopen and assign to whose-self.

[2020-08-08 13:56] #6539 closed

[2020-08-08 15:51] harvies commented on #6714
Can you explain the second article in detail.

[2020-08-08 15:59] #6568 closed

[2020-08-08 16:05] terrymanu commented on #6714
![image](https://user-images.githubusercontent.com/5516298/89714803-faf66500-d9d3-11ea-871e-116fcf1ec459.png)
This branch is not test yet. We need to add the test case

[2020-08-08 16:22] #6561 closed

[2020-08-08 17:50] menghaoranss opened #6727 "Decouple ClusterConfiguration in OrchestrationShardingSphereDataSource"

[2020-08-09 00:06] cherrylzhao commented on #6562
DataSourceProxy is implemented by Seata, you should understand the basic principle of Seata when you use it, I can't help you any more.

[2020-08-09 03:49] sandynz opened #6729 "PostgreSQL plain insert doesn't work"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT . Commit: acc64bdf0b9b994ca465c2a63a06e6db8221935c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC, and part of ShardingSphere-Proxy

### Expected behavior
Insert data without exception, insert once.

### Actual behavior
Exception got:
[code]

Three problems from log

[2020-08-09 04:02] sandynz commented on #6729
Reason analyze of "sql parameters not set".

InsertValueContext.parameterCount is 0, since related ExpressionSegment is not instanceof ParameterMarkerExpressionSegment.

[code]

[code]
Underlying expressionSegment result is ignored, and a new CommonExpressionSegment is created.

routeContext example:
![routeContext example](https://user-images.githubusercontent.com/42492540/89724609-f9f71f00-da37-

[2020-08-09 04:25] #6717 closed

[2020-08-09 05:03] sandynz commented on #6729
Reason analyze of "sql route to 2 physics tables, but not one".

[code]

Trace shardingCondition.routeValues
[code]

[code]
createShardingCondition example:
![createShardingCondition example](https://user-images.githubusercontent.com/42492540/89725272-45adc680-da40-11ea-80ef-4e3fc87dab34.png)

[2020-08-09 05:16] tristaZero commented on #6665
@fantacy2001 Hi thanks for your feedback.
If the SQL below is one SQL request, I am sorry to say we currently do not support it and have no plan for it, as @wenweibin said.
[code]

[2020-08-09 05:17] #6665 closed

[2020-08-09 06:37] terrymanu opened #6731 "Add test case for RuleSchemaMetaData"

[2020-08-09 06:42] terrymanu opened #6732 "Add more test cases for TypedSPIRegistry‘s exception occur"
- [ ] Add test case for service provider not found with get by type and props
- [ ] Add test case for service provider not found without get by type and props

[2020-08-09 06:44] terrymanu opened #6733 "Add more test cases for SingletonServiceLoader's exception occur"
- [x] Add test case when service is null by getServiceLoader
- [x] Add test case when service is not an interface by getServiceLoader
- [x] Add test case when service does not find by newServiceInstances

[2020-08-09 06:44] terrymanu opened #6734 "Add test cases for RuleSchemaMetaDataLoader"

[2020-08-09 06:55] harvies commented on #6714
The first two methods of the class DataSourceMetasTest have verified this branch.

[2020-08-09 07:13] harvies commented on #6733
Please assign it to me.

[2020-08-09 08:09] CaymanHK opened #6736 "add download function on document pages as a pdf file"
## Add download function on document pages as a pdf file.
@CaymanHK

[2020-08-09 08:18] toalaska opened #6737 "call sqlSession.getConnection().getMetaData() got empty result"
i am using activiti7,  and sqlSession.getConnection().getMetaData() got empty result

[2020-08-09 08:20] sandynz commented on #6729
Reason analyze of: rewritten sql with wrong values clause "((?, ?))", it cause syntax error, it should be "(?, ?)"

Comparing PostgreSQL and MySQL execution process, some screenshots:

![pg-ctx](https://user-images.githubusercontent.com/42492540/89727752-44899300-da5a-11ea-934b-120812b7a744.png)
![mysql-ctx](https://user-images.githubusercontent.com/42492540/89727775-553a0900-da5a-11ea-9971-951024

[2020-08-09 08:26] sandynz commented on #6579
Blocked by #6729 , can't do integration test for now

[2020-08-09 08:44] #6736 closed

[2020-08-09 08:45] #6716 closed

[2020-08-09 09:50] #6712 closed

[2020-08-09 10:56] GeniusQ commented on #6731
please assign to me

[2020-08-09 13:57] jacksparrow414 commented on #6732
- [x] Add test case for service provider not found with get by type and props
- [x] Add test case for service provider not found without get by type and props

[2020-08-09 14:01] #6732 closed

[2020-08-09 14:53] harvies opened #6741 "The idea configuration imported through the official website seems to be wrong."
## Question

The idea configuration imported through the official website seems to be wrong. Many changes occurred after formatting. The IDEA version is mac 2020.1.1.

![image](https://user-images.githubusercontent.com/16585330/89735122-d7462400-da92-11ea-9947-b777ad273d7a.png)
![image](https://user-images.githubusercontent.com/16585330/89735147-0fe5fd80-da93-11ea-9823-dcdfcd4e90e5.png)

[2020-08-09 15:33] terrymanu commented on #6741
The changes is very strong, why merge 2 lines in same line?

[2020-08-09 15:36] #6733 closed

[2020-08-09 15:41] harvies commented on #6741
![image](https://user-images.githubusercontent.com/16585330/89736125-ca78fe80-da99-11ea-9397-174e213cba13.png)
After importing the settings file (https://shardingsphere.apache.org/community/data/shardingsphere-settings.jar), the formatting is like this.

[2020-08-09 16:26] terrymanu opened #6742 "Consider about improve metadata loader"
The current metadata loader module use `RuleMetaDataLoader` and `RuleMetaDataDecorator` to load metadata which is not clear.
RuleMetaDataLoader will load the metadata for sharding and encrypt, the RuleMetaDataDecorator will decorate them too.

It is better to consider about use a clear way to load meta data. My idea is:

1. Load all rules and recognize all rules related data nodes.
2. Load all un-

[2020-08-10 01:09] jacksparrow414 commented on #6703
could you assigne me ? :smile:   I will check it later

[2020-08-10 01:54] #6682 closed

[2020-08-10 02:18] TracyBin commented on #3681
@wuqiaowu Could you paste your configuration?

[2020-08-10 02:33] Lucas-307 opened #6743 "SS-Scaling integrate SS-ElasticJob and SS-JDBC"
SS-Scaling connect SS-ElasticJob
- definition an OneOff type of ElasticJob
- monitoring Zk for execute config
- execute ElasticJob
	- start
	- update status
	- stop

SS-Scaling connect SS-JDBC
- definition a SPI
- write a ServiceLoader
- write an ScalingJob implement

SS-Scaling independent Main
- Main() function to start a job

[2020-08-10 02:54] xiyelife commented on #2997
Please use the 4.0.1 or higher version. It has been fixed by guava cache.

[2020-08-10 03:35] cobstergo opened #6744 "query data slowly by use sharding proxy"
our project use sharding proxy,  we find that query data more slowly than not useing sharding proxy ,even the table not sharding,
for example , we plan to sharding table B into 50 tables , and table A is not sharding , we query 15k data from table A cost about 4 secs by use proxy, and same data query cost 2 secs by not use proxy , very simple sql like this: select * from table A.  and also feel qu

[2020-08-10 03:37] leechaoqiang commented on #234
韵达科技  http://www.yundaex.com/cn/index.php

[2020-08-10 05:36] terrymanu opened #6746 "Add test cases for SQLRewriteContext"
- [x] Add test case for new SQLRewriteContext() with InsertStatementContext
- [x] Add test case for new SQLRewriteContext() with not InsertStatementContext
- [x] Add test case for SQLRewriteContext.generateSQLTokens()

[2020-08-10 05:56] #6692 closed

[2020-08-10 06:13] taojintianxia commented on #6746
assign to me . but I need your tips

[2020-08-10 06:14] Lucas-307 commented on #6737
@toalaska This is the issue

[2020-08-10 06:21] Lucas-307 commented on #6737
@toalaska Hi, this it the Bug Report template. Could you please report it like this.
I knew it's a little bit trouble. But it is useful to let us know the detail, and help you to fix it.

[code]

[2020-08-10 06:35] tuohai666 commented on #6744
Besides fill in the following template, please answer the question:

How did you judge one SQL is slow or not? I think you might like to show the time cost by use direct MySQL server, not only by use proxy.

[code]

[2020-08-10 06:35] tristaZero commented on #6737
@toalaska The info of this issue is not enough, I suggest you can do some debugging if possible.

[2020-08-10 07:06] tuohai666 commented on #6729
For MySQL:
index [46, 51] means **(?, ?)**

For PostgreSQL:
index [47, 50] means **?, ?**

I guess if we fix the parse problem, the other two problems will be fixed automatically.

[2020-08-10 07:46] Lucas-307 opened #6749 "AbstractResumeBreakPointManagerTest sometimes execute fail."
AbstractResumeBreakPointManager.incrementalPositionManagerMap is a hashMap which key is unordered.
AbstractResumeBreakPointManager.assertGetInventoryPositionData() sometimes execute fail by unexpected json order.

[2020-08-10 07:59] johnny2002 commented on #6458
other advantages has been stated on your official document already:
“Users can use hintManager.setDatabaseShardingValue to add shardings in hint route to some certain sharding database without sharding tables.**After that, SQL parse and rewrite phase will be skipped and the _overall enforcement efficiency can be enhanced_**”

redarding "why do not you use multiple independent MySQL instances inste

[2020-08-10 08:32] #6686 closed

[2020-08-10 08:33] #6749 closed

[2020-08-10 09:06] Lucas-307 commented on #6604
@tuohai666 Hi, Yonglun. proxy transfer failed with `text` type sql. Could you help me to fix it.

[code]

Logic SQL: `insert into test_text(val) values(x'61626364')`

Actual SQL: ds_0 ::: `insert into test_text(val) values(''61626364')`

![微信截图_20200810165818](https://user-images.githubusercontent.com/5524798/89766572-f1cbdc00-db2a-11ea-921b-56e89c0b684b.png)

[2020-08-10 09:07] taojintianxia opened #6751 "refactor the XAOrderServiceTest"
currently the test case depends on a mysql server , should change to H2

[2020-08-10 09:07] taojintianxia commented on #6751
assign to myself

[2020-08-10 09:24] fantacy2001 opened #6753 "shardingjdbc do not support case..when sql"
mybatis mapper sql
`<update id="updateByStockFreezeDetailList">
		update stock_freeze_detail
			<trim prefix="set" suffixOverrides=",">
			    <trim prefix="row_status=case" suffix="end,">
		            <foreach collection="list" index="index" item="item">
					    WHEN (id=#{item.id})
					    THEN #{item.rowStatus}
				    </foreach>
			    </trim>
				<trim prefix="update_user=case" suffix="end

[2020-08-10 09:25] Lucas-307 commented on #6611
@dmbj Give me you create table sql, let me check it.

[2020-08-10 09:31] terrymanu commented on #6742
After discussion, the current schema loader is good enough.
We can leave it for now.

[2020-08-10 09:31] #6742 closed

[2020-08-10 09:32] cobstergo commented on #6744
thanks for you reply.
for example, before we use proxy, we open web page , it may cost 0.5 sec , and we use proxy ,same web page maybe cost 3 sec , after we see the log , find query cost most time,  so I use navicat to connect Mysql directly and use navicat to connect Mysql by proxy to compare query cost time. specifically ,
we find if our sql contains left join which we sharding table , it will c

[2020-08-10 09:41] tristaZero opened #6755 "Remove the redundant storage layer of Orchestration"
<img width="233" alt="image" src="https://user-images.githubusercontent.com/27757146/89769998-b2a08980-db30-11ea-85a1-a0fbd15aba30.png">

[2020-08-10 09:49] terrymanu commented on #6486
Maybe we can decision after 5.0.0-alpha release

[2020-08-10 09:49] #6486 closed

[2020-08-10 10:38] #6592 closed

[2020-08-10 10:39] duanzonglong opened #6759 "SHOW FULL COLUMNS get wrong"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-10 11:09] qiaojiang2 opened #6764 "Cannot load JDBC driver class `com.mysql.jdbc.Driver`, make sure it in Sharding-Proxy's classpath"
## Bug Report

Exception in thread "main" org.apache.shardingsphere.underlying.common.exception.ShardingSphereException: Can not build data source, name is `ds_0`.
	at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.datasource.JDBCBackendDataSource.createDataSources(JDBCBackendDataSource.java:74)
	at org.apache.shardingsphere.shardingproxy.backend.communication.jdbc.datasource.J

[2020-08-10 11:21] Lucas-307 commented on #6611
@dmbj ShardingColumns is extract from sourceRule. my test sourceRule like this, it is work well.

BTW: extract from `source rule` is not reasonable. but we can't get the `destination rule` from proxy. it will enhance after execute by ss-jdbc.

[code]

create table sql:
[code]

sql include ShardingColumns  `id1` and `id2`, proxy log:

[code]

[2020-08-10 11:25] #6734 closed

[2020-08-10 11:27] terrymanu commented on #6764
Just make sure `com.mysql.jdbc.Driver` in Sharding-Proxy's classpath

[2020-08-10 11:27] #6764 closed

[2020-08-10 11:30] Lucas-307 commented on #6764
`com.mysql.jdbc.Driver` is in `mysql-connector-java-xxx.jar` you should download and put into your classpath.

[2020-08-10 11:38] jingshanglu commented on #6753
@fantacy2001 Can you show more stack info of shardingjdbc?

[2020-08-10 11:51] taojintianxia commented on #6746
@terrymanu may I use mock SchemaMetaData / SQLStatementContext for testing SQLRewriteContext ?

[2020-08-10 11:59] fantacy2001 commented on #6753
2020-08-10 19:57:45 [DEBUG] [main] - org.mybatis.spring.SqlSessionUtils.getSqlSession():104 - Creating a new SqlSession
2020-08-10 19:57:45 [DEBUG] [main] - org.mybatis.spring.SqlSessionUtils.getSqlSession():140 - SqlSession [org.apache.ibatis.session.defaults.DefaultSqlSession@583c416c] was not registered for synchronization because synchronization is not active
2020-08-10 19:57:45 [DEBUG] [main]

[2020-08-10 12:59] darkpssngr commented on #6469
@jingshanglu can you please help me with this?

[2020-08-10 13:55] #6703 closed

[2020-08-10 14:11] strongduanmu commented on #6665
@tristaZero @yu199195 @wenweibin @fantacy2001
I think batch update can be implemented by adding some restrictions. For example, multiple tables must be binding tables, and routing conditions must be the same to avoid distributed transaction problems.
I want to take some time to implement this feature, because our company also needs this feature.

[2020-08-10 14:37] #6162 closed

[2020-08-10 14:42] jian365066744 commented on #6706
liang,I have finish the task.but I didn't find the issue #6706 is not exist,the DataSourceConfigurationTest is the issue #6718
![QQ截图20200810223903](https://user-images.githubusercontent.com/35258103/89795148-9fa2af00-db5a-11ea-87ae-81c3e3450b9e.png)

[2020-08-10 14:59] sandynz commented on #6693
Hibernate 5.4 + ShardingSphere JDBC 5.0.0-RC1-SNAPSHOT + MySQL 5.7, has similar exception: `ShardingSphereException: Can not route tables for `[sequences]`, please make sure the tables are in same schema`.

Hibernate settings:
- hibernate.hbm2ddl.auto = update

SQL executed by hibernate automatically: `select * from information_schema.sequences`

[2020-08-10 15:31] sandynz commented on #5432
Wrote a demo to verify #1774 (DatabaseMetaDataResultSet was added to solve it), a new exception thrown, blocked for now.

Hibernate 5.4 + ShardingSphere JDBC 5.0.0-RC1-SNAPSHOT + PostgreSQL 12, exception thrown: `ShardingSphereException: Can not route tables for [sequences], please make sure the tables are in same schema`.
Since Hibernate execute sql automatically: `select * from information_schem

[2020-08-11 01:42] qiaojiang2 commented on #6764
"If the backend database is PostgreSQL, there’s no need for additional dependencies.

If the backend database is MySQL, download MySQL Connector/J and decompress, then copy mysql-connector-java-5.1.47.jar to %SHARDINGSPHERE_PROXY_HOME%/lib directory."

Why not support Mysql directly？

[2020-08-11 02:02] wubingting commented on #5659
![image](https://user-images.githubusercontent.com/49680463/89848802-a57bad00-dbb9-11ea-8739-e062c892498b.png)

[2020-08-11 02:23] zhuyaoming opened #6774 "Shardingkey BUG"
insert sql shardingsphrere modified shard key column to lowercase
The bug select * from A where TENANT_ID = 1 is still uppercase, which leads to inconsistent case of the shard key column obtained in case 2.
------------------------------
insert sql   shardingsphrere 修改为小写的
bug  select * from A where TENANT_ID= 1  仍然是大写的.导致2中情况获取到的分片键列大小写不一致.

INSERT INTO A(TENANT_ID) VALUES(1)   分片键为      tenant_i

[2020-08-11 02:29] tuohai666 commented on #6744
1. please show full config-sharding.yaml and full server.yaml.
2. what condition?

3. I think you didn't answer my question.
Please answer straightforwardly and explicitly for:
[code]
4. If you  use left join. Please try to use bindingTables like:
[code]

[2020-08-11 02:39] dmbj commented on #6611
@Lucas-307 here some local config info:
[code]
proxy config-sharding.yaml
[code]
scaling job request body:
[code]
when inventoryDataTask finished sync increaseData, test update SQL:
[code]

[2020-08-11 02:50] tuohai666 commented on #6759
Is `SHOW FULL COLUMNS FROM sharding_wms LIKE '%'` works well?

[2020-08-11 02:52] tuohai666 commented on #6759
I'd like to add this issue to `Usability test of ShardingSphere-Proxy` (#6690)

[2020-08-11 03:07] tristaZero commented on #6774
Hi @zhuyaoming which version are you using?
Does `tenant_id ` is a generated key?

[2020-08-11 03:09] jameszhongsq opened #6775 "### Error updating database. Cause: java.lang.NullPointerException"
<dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
      <version>4.1.1</version>
    </dependency>

When I test insert， I get the following error:

org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error updating database.  Cause: java.lang.NullPointerE

[2020-08-11 03:24] yz-1130 commented on #6625
no.   I. have done

[2020-08-11 03:24] za1275952454 opened #6776 "Multiple routing policies can be configured for different operations in a single table支持单表不同操作配置多个路由策略"
sharding:
      default-database-strategy:
        hint:
          algorithm-class-name: com.cujia.logistics.task.algorithm.TaskHintShardingAlgorithm
      tables:
        order_track:
          actual-data-nodes: ds.order_track_$->{0..1}
          table-strategy:
#            hint:
#              algorithm-class-name: com.cujia.logistics.task.algorithm.TaskHintShardingAlgorithm
            inline

[2020-08-11 03:24] yz-1130 commented on #6625
you are right ,I have solved

[2020-08-11 03:44] qiaojiang2 opened #6777 "java.lang.RuntimeException: markPosition error"
## Bug Report

#Create migration job:
curl -X POST --url http://localhost:8888/shardingscaling/job/start \
--header 'content-type: application/json' \
--data '{
	"ruleConfiguration": {
		"sourceDatasource": "ds_0: !!org.apache.shardingsphere.orchestration.core.configuration.YamlDataSourceConfiguration\n  dataSourceClassName: com.zaxxer.hikari.HikariDataSource\n  properties:\n    jdbcUrl: jdbc:mysq

[2020-08-11 03:46] tuohai666 commented on #6604
It seems like you want to insert a hex value, I'll fix it.

[2020-08-11 04:03] terrymanu commented on #6776
**For English only**, other languages will not accept.

[2020-08-11 04:03] #6776 closed

[2020-08-11 04:08] za1275952454 opened #6778 "Can multiple routing policies be configured for different operations in a single table？"
I want to tell order_ In track query, the mandatory routing strategy is adopted, and the standard allocation strategy is added and modified according to the fragmentation rules. Thank you!

[2020-08-11 05:04] terrymanu commented on #6706
@ jian365066744 What's mean the issue #6706 is not exist?
You are in the issue #6706 now.

[2020-08-11 05:37] taojintianxia commented on #6706
hi , there

[2020-08-11 05:41] zhuyaoming commented on #6774
4.1.1
tenant_id is not a  generated key

[2020-08-11 06:02] tristaZero commented on #6775
@jameszhongsq Hi, Firstly, please search our issue list with your keyword since there some similar issues solved.
Secondly, please give more stack log, it is not enough to find the reason.

[2020-08-11 06:03] tristaZero commented on #6777
Hi @qiaojiang2 thanks for your issue. I presume @Lucas-307 can give it a look.

[2020-08-11 06:07] machunlin commented on #1534
有这个必要非得要中文吗，装逼

[2020-08-11 06:07] jingshanglu commented on #6753
Ok, i'll check it.

[2020-08-11 06:18] terrymanu opened #6782 "Add test cases for SQLToken's impl of toString method"
- [ ] Add test case for RemoveToken.toString()
- [ ] Add test case for SubstitutableColumnNameToken.toString()
- [ ] Add test case for UseDefaultInsertColumnsToken.toString()

Please ref `InsertColumnsTokenTest`

[2020-08-11 06:22] jian365066744 commented on #6782
please assign to me

[2020-08-11 06:22] #6706 closed

[2020-08-11 06:23] 804533125 commented on #6782
please assign to me,Thanks!

[2020-08-11 06:25] jian365066744 commented on #6706
thinks your reply and notice about how to commit the issues,I will do right in next time.thinks again.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notificatio

[2020-08-11 06:29] Lucas-307 commented on #6611
@dmbj scaling job request body's sourceRule do not have any shardingColumns.
[code]

Scaling connect Proxy as a standard jdbc connect which do not have shardingColumns api. So, I can't get it.
And we will enhance it after execute by ss-jdbc which can get sharding rules.

[2020-08-11 06:40] terrymanu opened #6784 "Add test case for InsertValue.toString method"

[2020-08-11 06:43] herozeng commented on #6784
please assgin to me

[2020-08-11 06:46] Lucas-307 commented on #6777
Hi, @qiaojiang2:
First, I suggest you update your code that is not up-to-date.
And, from you stack log. I guess it's because mysql user do not have enought right or mysql version is unexpected.

you can check it.

use current mysql user execute this sql, see what result return.

[code]

[2020-08-11 06:47] tuohai666 commented on #6604
@Lucas-307 I can't execute that SQL when directly connect to a MySQL server.
`insert into test_text(val) values(x'123')`

`Error Code: 1064. You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'x'123')' at line 1	0.000 sec`
Can you have a check?

[2020-08-11 07:01] wanglongzhen commented on #6784
mark

[2020-08-11 07:02] wanglongzhen commented on #6782
please assign to me

[2020-08-11 07:04] 804533125 commented on #6782
Thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Liang Zhang"<notifications@github.com&gt;;
发送时间: 2020年8月11日(星期二) 下午2:35
收件人: "apache/shardingsphere"<shardingsphere@noreply.github.com&gt;;
抄送: "郑建峰"<804533125@qq.com&gt;; "Assign"<assign@noreply.github.com&gt;;
主题: Re: [apache/shardingsphere] Add test cases for SQLToken&#39;s impl of toString method (#6782)

Assigned #6782 to

[2020-08-11 07:15] duanzonglong commented on #6759
the full sql is : SHOW FULL COLUMNS FROM `databasechangelog` FROM `sharding_wms` LIKE '%'

[2020-08-11 07:16] duanzonglong commented on #6759
some times its ok,but some times got wrong.

[2020-08-11 07:18] Lucas-307 commented on #6604
@tuohai666 The value number should be even, like
`insert into test_text(val) values(x'1234')`
or
`insert into test_text(val) values(x'6162')`
every 2 number is a hexadecimal byte.
x'6162' --> hexadecimal('61' + '62') --> decimal( 97 + 98) --> 'a' + 'b' --> "ab"

[2020-08-11 07:22] tuohai666 commented on #6604
@Lucas-307 Got it. The test passed.

[2020-08-11 08:52] terrymanu opened #6788 "Decouple onDuplicateKeyUpdateParameters and rewrite-infra"

[2020-08-11 09:26] #6710 closed

[2020-08-11 10:42] terrymanu commented on #6751
See #6752

[2020-08-11 10:42] #6751 closed

[2020-08-11 10:49] #6788 closed

[2020-08-11 11:15] tristaZero commented on #6778
@za1275952454 Sorry, one route strategy for one single table. You can consider implementing a user-defined sharding algorithm to cover all the routing cases by yourself.

[2020-08-11 11:15] #6778 closed

[2020-08-12 01:32] dmbj commented on #6611
i see,3Q

[2020-08-12 01:32] #6611 closed

[2020-08-12 01:55] taojintianxia opened #6798 "scaling document link is corrupted"
some links doesn't work since the document update the corresponding modules

[2020-08-12 01:55] taojintianxia commented on #6798
assign to myself

[2020-08-12 02:02] taojintianxia commented on #6798
fixed

[2020-08-12 02:08] #6798 closed

[2020-08-12 02:09] menghaoranss commented on #6798
Thanks for your contribution.

[2020-08-12 03:26] cobstergo commented on #6744
thanks for you help , we have improved query speed by  increase proxy jvm memory and add mysql union Index and so on.
we use proxy to pressure test ,we insert data about 3 days and when finish we find query very slowy , but when restart proxy ,it return to normal.

[2020-08-12 03:26] #6744 closed

[2020-08-12 03:41] #6755 closed

[2020-08-12 05:38] duanzonglong commented on #234
上海弘人网络科技有限公司 http://www.c-wms.net/

[2020-08-12 06:49] Simbafa opened #6803 "Load table meta data when it is used"
## Feature Request

### Is your feature request related to a problem?
No
### Describe the feature you would like.
The current implementation is loading all table meta data at once.
If there are many tables in a database, time cost is high. (150 tables cost 25+ seconds)
But maybe only some of the tables will be accessed in the following operations.
Is it possible to load a table meta data only when

[2020-08-12 07:22] menghaoranss opened #6804 "Improve unit test coverage for control-panle-cluster"
- [x] 1. ClusterFacade(34.38%)
- [x] 2. ClusterHeartbeatInstance(33.33%)
- [x] 3. AbstractHeartbeatDetect(64.29%)
- [x] 4. HeartbeatHandler(69.70%)
- [x] 5. HeartbeatTaskManager (70.00%)
- [x] 6. ClusterStateInstance (36.84%)

[2020-08-12 08:45] zundaren opened #6805 "Springboot integrates shardingjdbc only sub-library uses hint strategy configuration problem"
I just want to sub-database and use hint strategy, but the configuration file needs to configure sub-table, which is not logical
---------------------------------------------------------------------------------------------------------

spring.shardingsphere.sharding.tables.item.actual-data-nodes=ds${0..1}.item
spring.shardingsphere.sharding.tables.item.table-strategy.hint.algorithm-class-name=com.

[2020-08-12 11:24] #6604 closed

[2020-08-12 11:48] tuohai666 commented on #6606
@cmonkey Any update?

[2020-08-12 11:49] tuohai666 commented on #6685
@lishijun121910 Any update?

[2020-08-13 01:42] Lucas-307 opened #6813 "Improve unit test coverage for shardingsphere-scaling"
- [ ] shardingsphere-scaling-core (53.04%)
- [ ] shardingsphere-scaling-bootstrap (64.42%)
- [ ] shardingsphere-scaling-mysql (61.79%)
- [ ] shardingsphere-scaling-postgresql (40.85%)
- [ ] shardingsphere-scaling-elasticjob

[2020-08-13 01:44] qiaojiang2 commented on #6777
Thanks for your reply. I installed mysql through Docker and did not turn on binlog！In addition, taking this opportunity, I would like to ask what is the maximum data size and test time of the current scaling+ Proxy data migration scheme? If it is an online system, if the data migration is not completed, if the data sharding rules are changed, the service will be unavailable! Any better advice in p

[2020-08-13 02:01] Lucas-307 commented on #6777
There are some rules in scaling execute.
We can't change sharding rules during do scaling. If you do it, we should clear completed data(currently should do it by yourself, we will enhance it in the future), and rescaling.
About data size and time, 3*10^10 data cost 2 weeks for reference only.(it's deeply depends on you environment.)

[2020-08-13 03:08] Lucas-307 commented on #6805
Sorry, Your description is too difficult to understand and used some of your own vocabulary. Please revise it and reply again.

[2020-08-13 03:20] hand515 commented on #6803
same with #6212

[2020-08-13 03:46] #6803 closed

[2020-08-13 03:55] cobstergo opened #6814 "Does sharding proxy support query add custom column?"
Does sharding proxy support query add custom column？
like this , for example
SELECT id,(SELECT count(0) FROM table_budev) as devCount FROM table_ticket ORDER BY id DESC limit 10;
in mysql:
![image](https://user-images.githubusercontent.com/11827280/90092452-8d439380-dd5b-11ea-8299-7c772aeed8fc.png)
in sharding proxy:
![image](https://user-images.githubusercontent.com/11827280/90092471-9df40980-dd5

[2020-08-13 06:53] #6804 closed

[2020-08-13 07:26] BruceZhangXL opened #6816 "RejectedExecutionException"
This exception were threw when deploy the application.

I doubt that the threadpool was shut down too early, some threads not finished yet.

exception=org.mybatis.spring.MyBatisSystemException, message=nested exception is org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.util.concurrent.RejectedExecutionException: Task com.google.common.util.concurrent.Tr

[2020-08-13 07:27] tristaZero commented on #6814
@cobstergo Hi
4.1.1 does not have better support for `subquery`, I suggest you try the `master branch`.
Besides, it is required that `table_budev ` and `table_ticket ` have the same sharding algorithm.

[2020-08-13 07:32] tristaZero commented on #6805
Hi @zundaren If the version you used is prior to `4.1.1` (including), can you consider `defaultDataSource` for non-sharding tables?
`Our master branch` has an improvement for your scenario. Please look forward to our next release.

Thanks,
Trista

[2020-08-13 07:34] tristaZero commented on #6753
@jingshanglu I expect your checking result as well. :)

[2020-08-13 07:37] tristaZero commented on #6803
@hand515 Thanks for your answer. :)
@Simbafa Thanks for your attention, I will consider focusing on this enhancement after I finish #6466 .
We will include #6212 in our next release.

Trista

[2020-08-13 07:40] tristaZero commented on #6816
@BruceZhangXL Sorry, your info is not enough. Please provide stack log, version, product (ShardingJDBC or ShardingProxy).

[2020-08-13 07:43] tristaZero commented on #234
@leechaoqiang @duanzonglong
Hi Thanks for your feedback. Glad to see your company in the user list of `ShardingSphere community`.

Cheers,
Trista

[2020-08-13 07:48] tristaZero commented on #6458
@johnny2002 Catch your idea. I think it is reasonable, Please give the community some time to discuss this feature. I will give the feedback here ASAP.
Thanks for your feedback. :-)

[2020-08-13 08:06] menghaoranss opened #6817 "Improve unit test coverage for orchestration-core"
- [x] 1. IpUtils.java(0%)
- [x] 2. ConfigCenter.java(57.10%)
- [x] 3. SchemaChangedListener.java(65.96%)

[2020-08-13 09:03] cobstergo commented on #6814
@tristaZero got it, thanks for you reply.

[2020-08-13 09:03] #6814 closed

[2020-08-13 10:31] terrymanu opened #6825 "Add test cases for rule builder"
Add test cases for rule builder, please reference `EncryptRuleBuilder`:

- [x] Add test case for MasterSlaveRuleBuilder
- [x] Add test case for ReplicaRuleBuilder
- [x] Add test case for ShadowRuleBuilder
- [x] Add test case for ShardingRuleBuilder

Add test cases for algorithm provided rule builder, please reference `AlgorithmProvidedEncryptRuleBuilderTest`:

- [ ] Add test case for AlgorithmProv

[2020-08-13 10:38] gzdzss commented on #6825
Assign it to me, thanks

[2020-08-13 11:01] #6817 closed

[2020-08-13 11:10] jingshanglu commented on #6625
@yz-1130 Now, mysql keywords have been checked, master branch is ok, new version will fix it.

[2020-08-13 12:15] wang7241 commented on #3993
I have same problem too.
same pom too。
same error too。
How to solve the problem？？？？？
My version is 4.1.1

[2020-08-13 18:23] cay914 commented on #6539
我错了哥，给次机会。

[2020-08-13 18:55] cay914 opened #6830 "No signature of method: java.lang.String.mod() is applicable for argument in navicat 11 version, please support hign version navicat."
@kimmking @tuohai666 Hi, I have that Navicat 11 has some bug that make sharding-proxy wrong.
I think this is good reason to support navcat 15.

when I search on the order_id column which is bigint in database, and I get the flowing error.
![image](https://user-images.githubusercontent.com/6037435/90174216-37f99780-ddd8-11ea-9f8d-eda6443b09cd.png)
![image](https://user-images.githubusercontent.com/

[2020-08-14 00:44] wang7241 commented on #2712
me too

[2020-08-14 00:51] johnny2002 commented on #6458
Perfect!
Suggestted solution:
hintManager.setDatabaseShardingValue(Comparable<?> value, String logicTable,). if the logicTable is present, then use it instead of parsing SQL.

[2020-08-14 01:09] wang7241 opened #6832 "use ShardingSphere-JDBC4.1.1 occur： 1. Failed to determine a suitable driver class 2. Data sources cannot be empty."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-14 01:10] wang7241 commented on #6832
When I user druid-spring-boot-starter with version 1.1.22 it occurs:org.springframework.boot.autoconfigure.jdbc.DataSourceProperties$DataSourceBeanCreationException: Failed to determine a suitable driver class.
***************************
APPLICATION FAILED TO START
***************************

Description:

Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasou

[2020-08-14 01:13] wang7241 commented on #6832
When I use druid with  version 1.1.22 it occurs:  Data sources cannot be empty
org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.springframework.boot.web.server.WebServerException: Unable to start embedded Tomcat
	at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.onRefresh(ServletWebServerApplicationContext

[2020-08-14 01:23] #6832 closed

[2020-08-14 01:23] wang7241 commented on #6832
I got it

[2020-08-14 01:45] Lucas-307 commented on #6830
@cay914  HI, try to change you conf `algorithmExpression: order${user_id % 2}` to `algorithmExpression: order${Long.parseLong(user_id) % 2}`

[2020-08-14 01:51] #6775 closed

[2020-08-14 02:02] EricLye commented on #6428
what is the reason that closing this issue?

[2020-08-14 03:07] tristaZero commented on #6741
@harvies @terrymanu This issue has been fixed already?

[2020-08-14 03:11] dmbj opened #6833 "scaling can't create sync job in latest master branch"
## Bug Report

### Which version of ShardingSphere did you use?
master 5.0.0-RC1-SNAPSHOT commitId:613e4a8ab3e7b2ebd378503996f222f8c913f367
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
scaling&proxy
### Expected behavior
create sync job and sync data
### Actual behavior
can't create sync job and list job occur exception
[code]
### Reason analyze (If you can)
scaling

[2020-08-14 03:19] tristaZero commented on #6774
Hi @zhuyaoming Thanks for your feedback.
1. If possible, could you debug to find where ShardingJDBC lowercase the columnName? That will help us solve this issue efficiently!
2. If impossible, we have to take some time to locate the problem. You can firstly set `sql.show` = `true`, so that we can get the actual SQLs and logic SQLs in the log.

[2020-08-14 03:52] WEIZIBIN opened #6835 "Add EncryptContext parameter to EncryptAlgorithm SPI method"
## Feature Request

### Is your feature request related to a problem?

not

### Describe the feature you would like.

In many commercial scenarios, the encryption and decryption of sensitive data requires different implementations of different fields in different tables, so the encryptor SPI should provide the context for developer (for example, table name, field name)

maybe add a parameter `Encr

[2020-08-14 05:52] cay914 commented on #6830
@Lucas-307 , It works.
**So good**

[2020-08-14 05:52] #6830 closed

[2020-08-14 06:57] tristaZero commented on #6458
@johnny2002 After a short discussion about this issue, others also give their thoughts about it. Here is a summary,

1. Actually, `Hint` is to inject `sharding key` which does not exist in your actual table, rather than to skip parsing and rewriting.
2. If there is no `parsing`, then `rewriting SQL` can not work either. Consequently, users have to write SQL with the actual table name instead of a

[2020-08-14 07:13] palosky commented on #234
山东华链医疗科技有限公司 http://www.huxleymedical.tech/

[2020-08-14 07:42] zhangzl0119 opened #6838 "shardingjdbc can close sharing? I only use write-read split"
shardingjdbc can close sharing? I only use write-read split. Because some sql not work well.

[2020-08-14 07:43] whg903 opened #6839 "when using h2 database mode=MySQL ColumnMetaDataLoader.generateEmptyResultSQL get wrong result"
with shardingspere 4.1.0 or 4.1.1，
spring.datasource.url=jdbc:h2:mem:db;MODE=MySQL;DB_CLOSE_DELAY=-1
the error is :
Caused by: org.h2.jdbc.JdbcSQLSyntaxErrorException: Table "t_order" not found; SQL statement:
SELECT * FROM "t_order" WHERE 1 != 1; [42102-199]
	at org.h2.message.DbException.getJdbcSQLException(DbException.java:451)
	... ...
	at org.apache.shardingsphere.sql.parser.binder.metadata.c

[2020-08-14 08:41] sim-wangyan opened #6840 "how to run spirng-boot.2.3.2.RELEASE with sharding-jdbc-spring-boot-starter.4.1.1"
spring-boot.2.2.9.RELEASE no problem

[2020-08-14 08:46] 65725738 opened #6841 "Does ShardingSphere not support REQUIRES_NEW？"
Servicea.methoda has a transaction level of REQUIRED, and serviceb.methodB has a transaction level of REQUIRES_NEW.
Servicea.methoda calls serviceb.methodB .Serviceb.methodb throws an exception.
Servicea.methoda captures .
but  Methoda cannot execute correctly。
org.springframework.transaction.UnexpectedRollbackException: Transaction rolled back because it has been marked as rollback-only
why？
It s

[2020-08-14 09:17] lishijun121910 commented on #6685
I am using sharding-proxy, version is 4.1.0 .

And when I use mysql command-line tool to connect to sharding-proxy, it lost connection to sharding-proxy when I tried to execute command on sharding-proxy's logical database, live below:
![image](https://user-images.githubusercontent.com/8045307/90234119-b9414080-de51-11ea-9635-7a256f9fada6.png)

command `mysql -usharding -h10.11.114.72 -psharding -P

[2020-08-14 09:25] Lucas-307 commented on #6833
let me check.

[2020-08-14 09:35] Lucas-307 commented on #6841
HI @65725738 , As you see, this Exception throw from springframework. So, I think it's springframework don't support.
`org.springframework.transaction.UnexpectedRollbackException`

[2020-08-14 09:36] Lucas-307 commented on #6840
@sim-wangyan Hi, Please show us more detail. And what problem did you meet.

[2020-08-14 09:38] lishijun121910 commented on #6676
1. Our bussiness is mostly like selecting one record in one sql. We will do some test like what you recommended  if we need.
2. We have done a group of testcases of sharding-proxy and sharding-jdbc(4.1.0) compare to mysql(5.7.31). Our hardware and software enviroument is  just simulation of our product enviroment , so I am afraid can not be a standard performance to consider.
4. We think this test

[2020-08-14 09:39] Lucas-307 commented on #6839
@whg903 ,From the stack log, I think it's cause by you didn't init h2 database. you should create table "t_order" first.
`Caused by: org.h2.jdbc.JdbcSQLSyntaxErrorException: Table "t_order" not found`

[2020-08-14 09:43] tuohai666 commented on #6685
@lishijun121910
If you'd like to use connector/J 8.x, please turn to ShardingSphere-Proxy 4.1.1. Or change the connector/J version to 5.1.47.

[2020-08-14 09:45] sim-wangyan commented on #6840
运行到JdbcTemplateConfiguration就卡死了，springboot 2.3.x都有这现象，应该是springboot 的坑

------------------ Original ------------------
From: 邱鹿 Lucas <notifications@github.com&gt;
Date: Fri,Aug 14,2020 5:36 PM
To: apache/shardingsphere <shardingsphere@noreply.github.com&gt;
Cc: Sim Wang <8966188@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [apache/shardingsphere] how to run spirng-boot.2.3.2.

[2020-08-14 09:49] tuohai666 commented on #6606
Expired.

[2020-08-14 09:49] #6606 closed

[2020-08-14 09:59] jingshanglu opened #6843 "make antlr plugin not to generate additional file automatically"
When coding on ide, sometimes antlr plugin auto generate additional file,
eg: gen, *.tokens. This files make `mvn install` failed.
If antlr plugin not auto generate additional file,it well be better. Do others have suggestions?

[2020-08-14 10:02] sim-wangyan commented on #6840
springboot2.3.x, 现在整合了jdbcTemplate和shardingshpere的框架或应用，改成在监听里注入jdbcTemplate就OK

发自我的iPhone

------------------ Original ------------------
From: 邱鹿 Lucas <notifications@github.com&gt;
Date: Fri,Aug 14,2020 5:36 PM
To: apache/shardingsphere <shardingsphere@noreply.github.com&gt;
Cc: Sim Wang <8966188@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [apache/shardingsphere] how to ru

[2020-08-14 10:16] Lucas-307 commented on #6840
@sim-wangyan **For English only**, Thank you.

[2020-08-14 10:32] Lucas-307 commented on #6835
@WEIZIBIN HI, you can get these info from your rule config. and you can create different SPI implementations for each field that you want to encrypt.

[2020-08-14 10:42] tuohai666 commented on #6684
The wrong result can not be reproduced by several test cases, more information is needed.

[2020-08-14 10:54] Lucas-307 commented on #6838
@zhangzl0119 Yes, you can config master-slave only.
See: [application-local-zookeeper-master-slave.properties](https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/orchestration-example/orchestration-spring-boot-example/src/main/resources/application-local-zookeeper-master-slave.properties)

[2020-08-14 12:07] zhangzl0119 commented on #6838
No, I only config master-slave only. But has sharding function，lead to some sql not support, such as order by. So I not want to sharding, shardingjdbc has some config to close sharding?

[2020-08-14 12:43] whg903 commented on #6839
@Lucas-307
I'm sure the table t_order has been created.
I test with sql [select * from t_order where 1 != 1] got ok,  but with [select * from "t_order" where 1 != 1] got fail.
So, it may be fault of ColumnMetaDataLoader.generateEmpytResultSQL, it add synatx ["] around table name.
In h2 mysql mode, should use [`] but not ["].
Should pass databaseType.getTrunkDatabaseType() to method generateEmptyRe

[2020-08-14 15:05] WEIZIBIN commented on #6835
I only found algorithms that can define encryption and decryption on different fields. The actual scenario is like this. There is a key service that uses different keys to encrypt different fields in different tables. The current table name can be obtained in the encryption algorithm. The section name is useful.

I only found algorithms that can define static class name for different fields.

My a

[2020-08-14 15:34] sandynz commented on #5978
Hi, I'd like try to solve it

[2020-08-14 16:29] #6825 closed

[2020-08-14 16:53] terrymanu opened #6848 "Add more test cases for root rule configuration YAML swapper"
- [ ] Add test case for EncryptRuleAlgorithmProviderConfigurationYamlSwapper
- [ ] Add test case for ReplicaRuleConfigurationYamlSwapper

Please reference `EncryptRuleConfigurationYamlSwapperTest`

[2020-08-14 17:00] terrymanu opened #6849 "Add test case for EncryptColumnRuleConfigurationYamlSwapper"

[2020-08-14 17:01] terrymanu opened #6850 "Add test case for EncryptTableRuleConfigurationYamlSwapper"

[2020-08-14 23:54] jian365066744 commented on #6848
please assign to me ,thanks

[2020-08-15 00:15] yuzel commented on #6849
assign to me. thx.

[2020-08-15 00:42] spyvip opened #6852 "shadow=false ，but it route to shadow datasource"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-15 01:02] Lucas-307 commented on #6838
@zhangzl0119 Sorry, Current Version don't support . But we will consider what you suggest.

[2020-08-15 01:13] gzdzss commented on #6850
assign to me，thanks

[2020-08-15 01:46] Lucas-307 commented on #6839
@whg903 Yes, I think you are right. Please Let @tristaZero to give a look.

[2020-08-15 01:56] Lucas-307 commented on #6852
@spyvip Your Logic SQL include `shadow` field, so Actual SQL has.
I guess, Your sharding-tables has different field list.(maybe ds0 include `shadow` field. but ds1 not).
Check it.

[2020-08-15 02:09] Lucas-307 commented on #6835
@WEIZIBIN show me your config.

[2020-08-15 02:50] Lucas-307 commented on #6838
@zhangzl0119 We discussed it internally, Sorry, we can't support that funciton. But we will enhance our sql parser function in the futrue to make sure all valid sql can execute.

[2020-08-15 02:53] Lucas-307 commented on #6833
Hi, @dmbj what's your io.netty.jar version?  4.1.42.Final or others?

[2020-08-15 02:53] tristaZero commented on #6838
@zhangzl0119 If there is no SQL parsing, how can shardingSphere know your SQL is to select or update?

[2020-08-15 02:58] spyvip commented on #6852
right？
I try 5.0.0.rc shardingsphere-proxy，it can remove `shadow` field, but it route wrong database when I use sharding and shadow both, config as flow

# config-my.yaml

[code]

# my test sql
[code]

#  stdout.log

[code]

# promblem
you see , it go to `shadow_ds_0`, but  `it should go to ds_1`

[2020-08-15 03:02] tristaZero commented on #6458
BTW, where is the following description?  I am sorry for the confusion. If possible, would you mind raizing a PR to change the following words to avoid confusing others?

[2020-08-15 03:31] tristaZero commented on #6839
@whg903 Hi, I am glad to see your debugging result instead of just a question or pointless exception info, nice!
I give a glance at`ColumnMetaDataLoader.generateEmpytResultSQL`.  My feeling is that it is an excellent work by using literal judgment and handling. What's more, It seems to affect your issue. Maybe we can ping the author of this function to give us an explanation. Thanks @tuohai666

[2020-08-15 03:59] ningpp opened #6855 "any plan for provide a simple Inline Expression Parser that does not depend on groovy-xx-indy.jar"
reason :    groovy-xx-indy.jar is too big (4MB+)

[2020-08-15 04:04] cobstergo opened #6856 "How to config self shardingAlgorithm and self ShardingKeyGenerator in 5.0.0?"
before we use sharding proxy 4.1.1 version , we has sharding config (config-sharding.yaml) like this:
schemaName: order
dataSources:
  ds_0:
    url: jdbc:mysql://xxxxxxxxx:3306/order?useAffectedRows=true&characterEncoding=UTF-8&autoReconnect=true&autoReconnectForPools=true&useSSL=false
    username:
    password:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxL

[2020-08-15 04:05] WEIZIBIN commented on #6835
`  shardingsphere:
    datasource:
      names: master,slave0
      master:
        driver-class-name: com.mysql.cj.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        jdbc-url:
        username:
        password:
        maximumPoolSize: 10
        poolName: hikariPool-master
      slave0:
        driver-class-name: com.mysql.cj.jdbc.Driver
        type: com.zaxxer.hikari.HikariD

[2020-08-15 06:29] herozeng commented on #6784
add testcase on the main branch or other branch

[2020-08-15 06:36] jacksparrow414 commented on #6782
- [x] Add test case for RemoveToken.toString()
- [x] Add test case for SubstitutableColumnNameToken.toString()
- [x] Add test case for UseDefaultInsertColumnsToken.toString()

[2020-08-15 06:50] cobstergo commented on #6856
and can't start sharding proxy by new config ,  i don't if I miss some config?
error log
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr1/apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-proxy-bin/lib/logback-classic-1.2.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr1/apache-shardingsphere-5.0.0-RC1-SNAPSHOT-

[2020-08-15 11:11] zhangzl0119 commented on #6838
@tristaZero You can parse SQL to know select or update. Howerver, some sql not support well, such as order by. I hope  when I only use write and read split，my sql can work well compare to original sql, I don't need to change SQL.

[2020-08-15 11:18] zhangzl0119 commented on #6838
@Lucas-307 OK，SharindSphere will be better.

[2020-08-15 12:41] clayboby opened #6861 ".net core conection problem to SHARDINGSPHERE-PROXY when using MySqlConnector "1Unsupported command: [COM_RESET_CONNECTION]""
## Bug Report

**For Chinese Or English  only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more

[2020-08-15 12:55] #6850 closed

[2020-08-15 12:56] #6849 closed

[2020-08-15 12:59] #6782 closed

[2020-08-15 14:43] kimmking commented on #6558
@jiang2015 hi, two week passed, is there something in progress now? If you meet troubles  and need some help, please let us know and move on.

[2020-08-15 15:00] terrymanu commented on #234
@palosky Hello, your URL is 404 Not Found

[2020-08-15 15:01] terrymanu opened #6863 "Add test case for EncryptAlgorithmMetaData"

[2020-08-15 15:03] terrymanu opened #6864 "Add test case for EncryptDQLResultDecorator"

[2020-08-15 15:04] terrymanu opened #6865 "Add test case for EncryptDALResultDecorator"

[2020-08-15 15:04] terrymanu opened #6866 "Add test case for DecoratedEncryptColumnsMergedResult"

[2020-08-15 15:05] terrymanu opened #6867 "Add test case for EncryptColumnsMergedResult"

[2020-08-15 15:05] terrymanu opened #6868 "Add test case for MergedEncryptColumnsMergedResult"

[2020-08-15 15:21] terrymanu opened #6869 "Consider about create Mock DataSource for configuration test"
There are lots of configuration way to config shardingsphere datasource such as yaml, spring namespace and spring boot.
We only need to assert the configuration but still need to create real data source which is too low performance.
I plan create a new module for Mock DataSource and to test configuration only.
It can increase test performance.

Tasks are:

- [X] Implement mock data source
- [X] Re

[2020-08-15 15:24] yuzel commented on #6868
assign to me. thx.

[2020-08-15 15:26] terrymanu opened #6870 "Update release process, do not publish proxy jar into maven repository"
We publish proxy's jar into maven repository which does not make sense.
It is better publish jdbc's jar to maven repository only.
We can reference UI' release process.

[2020-08-15 15:33] gzdzss commented on #6866
assign to me ， thanks

[2020-08-15 16:56] dhc575757 commented on #6864
assign to me ， thanks

[2020-08-15 22:46] jian365066744 commented on #6864
please assign to me,thanks

[2020-08-15 22:47] jian365066744 commented on #6865
please assign to me ,thanks

[2020-08-16 03:43] sandynz opened #6872 "Failure test cases of BaseIT for PostgreSQL"
TODO:
- [x] Fix BaseIT.createTables:131 exception, support keyword table name for different databases (#6912)
- [x] Fix BaseIT.createDatabases:121 exception, databases not cleaned by previous BaseIT (#6912)
- [x] Current PostgreSQL login user's password is changed by DCL test (#6943)
- [x] Remove duplicated test case (https://github.com/apache/shardingsphere/pull/6962)
- [x] DQL dataset select_cou

[2020-08-16 06:26] #6746 closed

[2020-08-16 06:27] #6863 closed

[2020-08-16 06:29] #6868 closed

[2020-08-16 06:54] terrymanu opened #6875 "Add test case for MasterSlaveRule.getDataSourceMapper"

[2020-08-16 06:54] terrymanu opened #6876 "Add test case for MasterSlaveDataSourceRule.getDataSourceMapper"

[2020-08-16 06:55] terrymanu opened #6877 "Add test case for MasterSlaveRuleAlgorithmProviderConfigurationYamlSwapper"

[2020-08-16 06:58] terrymanu opened #6878 "Use SPI to introduce MasterSlaveRuleConfigurationYamlSwapper in the test case"
The `MasterSlaveRuleConfigurationYamlSwapperTest` is use new instance for testing.
It is better to use SPI to introduce MasterSlaveRuleConfigurationYamlSwapper in the test case and then the test coverage will be cover by `getTypeClass` and `getOrder`

[2020-08-16 07:15] terrymanu opened #6879 "Use SPI to introduce MasterSlaveRouteDecorator in the test case"

[2020-08-16 07:45] vinceLin054 opened #6881 "4.1.0 DATA MASKING insert sql rewrite wrong"
**When I execute the insert values containing SQL functions like now() in front of the mask field, the parameter position error occurs.**

Here is my configuration :

[code]

Logic SQL:
[code]
Actual SQL:
[code]