[2021-09-28 15:01] zhfeng opened #12799 "missing official website url in README.md"

[2021-09-28 15:09] zhfeng opened #12801 "Is there clear timeline for Sharding Sphere releasing ?"
## Question

Just as subject, I only find the following in README.md

But what is the link for the milestones page ? I think it could be better to give a clear timeline for releasing.

[2021-09-28 16:16] yx9o commented on #10507
@RaigorJiang Hi, I want to try to deal with this issue. I verified that this problem exists in the case of `TransactionType.LOCAL`.
![8915b10bebe0d60e930833a3b517430](https://user-images.githubusercontent.com/12792261/135125717-ce7f0203-7507-4f66-bf91-19a62f48dc15.png)
![daa53556fad52e91d72a3b4ee81f242](https://user-images.githubusercontent.com/12792261/135125731-d6acc35f-f93b-4311-802c-85c14303f3

[2021-09-29 00:28] #12799 closed

[2021-09-29 00:31] #11108 closed

[2021-09-29 01:25] tuichenchuxin opened #12803 "mysql `show table status` use wrong routeEngine"
`show table status` should route to all database, but now use `ShardingDataSourceGroupBroadcastRoutingEngine`.
So some tables may missing.
## example
This demo will miss ds2's tables
[code]

[2021-09-29 01:48] wangwangwangBoy commented on #12774
[sharding-jdbc.zip](https://github.com/apache/shardingsphere/files/7248264/sharding-jdbc.zip)

[2021-09-29 02:03] strongduanmu commented on #12774
Thank you, I will check it.

[2021-09-29 02:26] strongduanmu commented on #12774
@wangwangwangBoy I ran the test program on my machine, and there were no exceptions except for the absence of the table.

![image](https://user-images.githubusercontent.com/10829171/135192501-a195e303-2eaf-41f8-9f40-8f26c35cfa37.png)

In addition, I also started `ShardingJdbcApplication`, but no health check error occurred.

![image](https://user-images.githubusercontent.com/10829171/135192641-bce

[2021-09-29 02:30] wangwangwangBoy commented on #12774
yead. It means that there is a problem with my jar package. Can you provide a package compiled by maven that is available locally? I can't compile branch master.

[2021-09-29 02:31] justbk2015 opened #12804 "insert into single table throw NoSuchElementException."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-29 02:37] RaigorJiang commented on #10507
Thanks @yx9o .

[2021-09-29 02:44] strongduanmu commented on #12804
@justbk2015 Thank you for your feedback, I will investigate this issue.

[2021-09-29 02:46] strongduanmu commented on #12774
You can try this jar. [apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-jdbc-bin.tar.gz](https://github.com/apache/shardingsphere/files/7248481/apache-shardingsphere-5.0.0-RC1-SNAPSHOT-shardingsphere-jdbc-bin.tar.gz)

[2021-09-29 02:52] RaigorJiang commented on #12771
Shardingsphere integrates [TransactionManager](https://shardingsphere.apache.org/document/current/cn/dev-manual/transaction/), which can be used by both JDBC and Proxy. Users only need to configure the transaction manager type, and then submit ordinary SQL statements.

[2021-09-29 02:57] strongduanmu commented on #12804
Hi @justbk2015, I hava test this sql, but no exception occur.

![image](https://user-images.githubusercontent.com/10829171/135195435-09d3c64b-31e9-487d-96cd-3daaa0577d42.png)

![image](https://user-images.githubusercontent.com/10829171/135195373-89e3a913-6305-4e64-8243-9df33635d7d3.png)

[2021-09-29 03:00] justbk2015 commented on #12804
I have two database in backend , Is it affected by this？

[2021-09-29 03:02] strongduanmu commented on #12804
@justbk2015 This is my test configuration file, which also contains two data sources.

[code]

[2021-09-29 03:05] justbk2015 commented on #12804
which you server.yaml? is you use zookeeper?, this is my server.yaml:
scaling:
  blockQueueSize: 10000
  workerThread: 40
  clusterAutoSwitchAlgorithm:
    type: IDLE
    props:
      incremental-task-idle-minute-threshold: 1
  dataConsistencyCheckAlgorithm:
    type: DEFAULT

mode:
  type: Cluster
  repository:
    type: ZooKeeper
    props:
      namespace: governance_ds
      server-lists: loca

[2021-09-29 03:07] strongduanmu commented on #12804
I am not using zk, I will turn it on and test again.

[2021-09-29 03:09] wangwangwangBoy commented on #12774
I'll try it ,thank you

[2021-09-29 03:11] shixinxin6 commented on #10328
thank you

[2021-09-29 03:12] marker-wu commented on #12652
hello ，Why there is no follow-up？

[2021-09-29 03:16] #11410 closed

[2021-09-29 03:18] tuichenchuxin opened #12805 "Tabe meta data load columns is not ordered as table column original order."
When i use mysql, I have a table like
[code]
But when i load this table, then found that tableMetadata columns order is
`TableMetaData(columnNames=[create_time, order_id, status, user_id])`
the order is different from original table.

## What problem does this cause
If i insert into this table
`insert into t_order values(10,2,2,'2021-03-01');`
And i have user_id as sharding column
Then I'll get a

[2021-09-29 03:23] RaigorJiang opened #12806 "[DistSQL] `ConcurrentModificationException` occurs occasionally when creating a database concurrently."
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere-Proxy 5.0.0-RC1 : master branch

### Reason analyze (If you can)
Error log:
[code]

The reason is that the structure of metaDataMap is `LinkedHashMap`. If other threads modify the data during iteration, an exception will be thrown.

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuratio

[2021-09-29 03:51] zhfeng commented on #12771
Well, I understand that this TansactionManager is used by Shardingsphere internal to commit to the backend database servers especially in the case of splitting a origin insert sql statment into two or more statments and routing to the different databases, which should be running with XA or SEAT transaction mode to make the data consistency. @RaigorJiang , is it right ?

In @roodkcab scenario, it s

[2021-09-29 03:55] tuichenchuxin commented on #5850
I have checked this sql on master, it's ok. This issue can be closed.
` select * from t_order where DATE_FORMAT(create_time, '%Y-%m-%d')>= DATE_FORMAT(?, '%Y-%m-%d') limit ?,?`

[2021-09-29 03:59] strongduanmu commented on #12804
I also opened the mode test, and there is still no exception.

[code]

[2021-09-29 04:01] justbk2015 commented on #12804
[code]

[2021-09-29 04:51] strongduanmu commented on #12804
@justbk2015 It should be caused by your zk metadata problem. You can clear the zk data, and then test it

[2021-09-29 05:35] #12806 closed

[2021-09-29 05:57] lynnlovemin opened #12809 "nested exception is java.lang.NoSuchMethodError"
## Question
start a shardingsphere project and get a error report following:
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.shardingsphere.shardingjdbc.spring.boot.SpringBootConfiguration': Initialization of bean failed; nested exception is java.lang.NoSuchMethodError: com.google.common.base.Platform.precomputeCharMatcher(Lcom/google/c

[2021-09-29 06:09] strongduanmu commented on #5850
@zhaolin81 This sql has been supported in the master branch, you can try it. Thank you.

[2021-09-29 06:09] #5850 closed

[2021-09-29 06:12] strongduanmu commented on #12804
I will close this issue first. If there is a problem with metadata maintenance, please submit a new issue.

[2021-09-29 06:12] #12804 closed

[2021-09-29 06:14] strongduanmu commented on #12293
According to @tuichenchuxin  investigation, it can be seen that there is no problem with the `VOLUME_RANGE` algorithm, so I will close this issue.

[2021-09-29 06:14] #12293 closed

[2021-09-29 06:19] RaigorJiang commented on #12771
Yes, it is.

[2021-09-29 06:45] #10985 closed

[2021-09-29 07:11] RaigorJiang commented on #12775
I think this question has been answered clearly, so close the issue.

[2021-09-29 07:11] #12775 closed

[2021-09-29 07:31] justbk2015 opened #12813 "some openGauss datatype can't migrate in scaling increment task"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-29 08:15] wangwangwangBoy commented on #12774
After replacing the Jar, my problem was solved, thank you

[2021-09-29 08:21] strongduanmu commented on #12774
@wangwangwangBoy Can this issue be closed?

[2021-09-29 08:22] wangwangwangBoy commented on #12774
sure, than you again

[2021-09-29 08:22] #12774 closed

[2021-09-29 08:23] strongduanmu commented on #12774
You are welcome.

[2021-09-29 08:29] roodkcab commented on #12771
right, I have to use XA statements without jdbc. It's actually some PHP scripts connect to shardingsphere-proxy with PDO extension, using XA statements to get distribution transaction done.

I've solved this problem by using a SchemaAssignedDatabaseHandler in TransactionBackendHandlerFactory when tclStatement is  an instance of MySQLXAStatement.

![image](https://user-images.githubusercontent.com/

[2021-09-29 08:52] zhfeng commented on #12771
It's nice to hear that you resolved this issue. And did you make these changes in shardingsphere-proxy ? and do you mind contributing them back to the upstream community ? I'm looking forward your contribution.

[2021-09-29 08:53] TeslaCN commented on #11453
Hi @JoinWDT
I think this issue has been done. I'm closing this.

[2021-09-29 08:53] #11453 closed

[2021-09-29 08:59] yunqian-c9 commented on #12759
好的，谢谢~

[2021-09-29 09:03] justbk2015 opened #12816 "insert into single table throw NoSuchElementException in openGauss database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-09-29 09:05] justbk2015 commented on #12804
I create new issue:#12816  and I get reason, PR: #12817

[2021-09-29 09:18] wangwangwangBoy opened #12819 "[Sharding-jdbc master]No response when querying using Sharding-jdbc."
[Sharding-jdbc + Druid] Sharding-jdbc is used in the project to split the table. When querying a logical table with 20 sub-tables, there is no response.
I don't know what's wrong, can someone help me?
Attached is my jstack information.
[1222.txt](https://github.com/apache/shardingsphere/files/7250572/1222.txt)

![image](https://user-images.githubusercontent.com/46279672/135240609-ab33767c-52ab-4b1

[2021-09-29 09:19] #12816 closed

[2021-09-29 09:22] strongduanmu commented on #12819
@wangwangwangBoy What version are you using?

[2021-09-29 09:23] wangwangwangBoy commented on #12819
attachment is our  config:

The latest branch of'master'. The code pulled last night

[2021-09-29 09:31] wangwangwangBoy commented on #12819
![image](https://user-images.githubusercontent.com/46279672/135242501-d5370046-cf07-4b02-8134-fc0ca96e297b.png)
This is also the case for those without sub-tables, version 4.0 is good

[2021-09-29 09:44] strongduanmu commented on #12819
@wangwangwangBoy How can I reproduce this problem?

[2021-09-29 09:45] zhaochong-byte opened #12822 "Unsupported Date type:class java.lang.String"
io.shardingsphere.core.exception.ShardingException: Unsupported Date type:class java.lang.String

	at io.shardingsphere.shardingjdbc.jdbc.core.resultset.ResultSetUtil.convertDateValue(ResultSetUtil.java:121)
	at io.shardingsphere.shardingjdbc.jdbc.core.resultset.ResultSetUtil.convertValue(ResultSetUtil.java:55)
	at io.shardingsphere.shardingjdbc.jdbc.core.resultset.ShardingResultSet.getString(Shar

[2021-09-29 09:47] wangwangwangBoy commented on #12819
I have no idea, i'm tired, Can't see the problem with jstack?  or you may remote my machine?

[2021-09-29 09:51] strongduanmu commented on #12819
@wangwangwangBoy It seems to be related to the connection. Check if there are enough connection resources?

[2021-09-29 09:56] strongduanmu commented on #12822
@zhaochong-byte Can you provide more information? For example, your configuration, and how to reproduce the problem?

[2021-09-29 10:01] zhaochong-byte commented on #12822
maven configs:

<dependency>
      <groupId>io.shardingsphere</groupId>
      <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
      <version>3.1.0</version>
</dependency>

entity:
![image](https://user-images.githubusercontent.com/73687296/135247552-bb419a63-58ff-4564-a472-3ba29319a7e1.png)
An error was reported when converting this field while querying data from the database

[2021-09-29 10:03] zhaochong-byte commented on #12822
Log printing is turned off

[2021-09-29 10:17] strongduanmu commented on #12822
@zhaochong-byte Version 3.1.0 is too old, can you try to upgrade?

[2021-09-29 10:23] wangwangwangBoy commented on #12819
I know the problem. I configured a property and it became like this
![image](https://user-images.githubusercontent.com/46279672/135251021-de7c289b-a87e-49fd-80bf-c7aaf4a7dad3.png)

[2021-09-29 12:20] cheese8 opened #12825 "Support not nest subquery on encrypt rewrite"
@tristaZero  @strongduanmu
Support subquery(not nested) on encrypt rewrite, the following sqls was tested (on mysql) ok,  more sqls are welcome to leave a message.

subquery on projection:

logicSQL:
SELECT u.mobile, u.username, u.id_no, (select o.card_no from `order` o where o.card_no=u.id_no) card_no FROM `user` u, `bankcard` c where u.id_no =c.card_no and u.mobile=? and u.id=1

actualSQL:
SELEC

[2021-09-29 13:50] #7281 closed

[2021-09-29 15:34] #12805 closed

[2021-09-29 15:57] terrymanu opened #12830 "Unify sql-case-id name pattern in SQL parser test cases"
Currently, `sql-case-ids` are specified in both camel case and snake case.

It is better to use snake-case. Please unify the sql-case-id in xml test cases.

[2021-09-29 16:00] ThanoshanMV commented on #12830
I'll try to do it.

[2021-09-29 16:01] terrymanu opened #12831 "Unify production names in the document"
We are using `ShardingJDBC` ,`Sharding-JDBC`, `ShardingProxy` or `Sharding-Proxy` in the document.

Please unify the production names in all documents with master version.

Please use `ShardingSphere-JDBC` to instead of ShardingJDBC`  and `Sharding-JDBC`;
use `ShardingSphere-Proxy` to instead of ShardingProxy`  and `Sharding-Proxy`.

[2021-09-29 16:05] terrymanu commented on #12809
Please keep same guava version between your application and ShardingSphere

[2021-09-29 16:05] #12809 closed

[2021-09-29 16:07] terrymanu commented on #12830
@ThanoshanMV Welcome, I just assign it to you.

[2021-09-29 16:10] terrymanu commented on #12801
Good suggestion, it is better to start discussion the release plan in mailing-list.

[2021-09-29 16:10] yx9o commented on #12831
Please assign to me.

[2021-09-30 01:33] zhaochong-byte commented on #12822
@strongduanmu Upgrading to a New Version：4.0.0-RC1， problem still hanging around.
![image](https://user-images.githubusercontent.com/73687296/135371058-7504a3e2-db5f-4dff-87c4-e192af83c28d.png)
![image](https://user-images.githubusercontent.com/73687296/135371069-42dd0f2f-d8c9-4cee-984d-fd25c93194e0.png)

[2021-09-30 01:37] roodkcab commented on #12771
I think I have to make more test before making a pull request. I've found some different behavior between using proxy and raw mysql server.

[2021-09-30 01:44] strongduanmu commented on #12822
@zhaochong-byte Can you try `5.0.0-beta`? 3.x and 4.x are old versions and will not be maintained.

[2021-09-30 01:47] zhaochong-byte commented on #12822
@strongduanmu Could you please tell me the complete pom document? about sharding configs

[2021-09-30 02:13] zhaochong-byte commented on #12822
Thank you! The problem has been solved.

[2021-09-30 02:13] #12822 closed

[2021-09-30 02:45] TeslaCN commented on #12770
Since this property is used in `org.apache.shardingsphere.infra.executor.kernel.ExecutorEngine` and referenced by the following classes:
* `org.apache.shardingsphere.mode.metadata.MetaDataContextsBuilder`
* `org.apache.shardingsphere.proxy.backend.context.BackendExecutorContext`

I've come out with some names:
* `kernel-executor-size`
* `infra-executor-size`
* `executor-engine-thread-pool-size`
*

[2021-09-30 02:54] RaigorJiang commented on #11013
Currently, if there is a singletableRule uses the resource, `drop` still cannot be successful.

[2021-09-30 02:56] taojintianxia commented on #12801
this issue should move to [Discussion](https://github.com/apache/shardingsphere/discussions)

[2021-09-30 03:08] LeeGuoPing commented on #12570
@RaigorJiang This module I don't find` readwrite-splitting-example` , can you give me the detail path. Thank you

[2021-09-30 03:22] CrackerSuperior opened #12838 "Does Dist SQL provide statements such as "create user" or "grant permissions"?"
Version: 5.0.0-RC1

[code]

Are there any examples of "sharding agent" user management or user permissions? I configured which logic libraries the user can use according to the 4.x version, but it seems to be invalid.

[2021-09-30 03:24] RaigorJiang commented on #12786
@marker-wu @tristaZero
I submitted an application for mirroring permission in gitee [link](https://gitee.com/gitee-community/mirror-repository), and now we need to wait for the follow-up progress.

[2021-09-30 03:28] RaigorJiang commented on #12838
Please provide configuration information:
What is the provider type of AUTHORITY in server.yaml?

[2021-09-30 03:34] RaigorJiang commented on #12570
It's must be created in another issue: #12567.

[2021-09-30 03:36] LeeGuoPing commented on #12570
@RaigorJiang  I know, thanks

[2021-09-30 03:40] CrackerSuperior commented on #12838
[code]
In version 5.0.0-RC1, where should I restrict the databases that users can use？

[2021-09-30 03:43] RaigorJiang commented on #12838
@CrackerSuperior
Change default value `ALL_PRIVILEGES_PERMITTED ` to `NATIVE`.
https://shardingsphere.apache.org/document/current/cn/dev-manual/proxy/

[2021-09-30 03:53] CrackerSuperior commented on #12838
Okay, so in the "5.0.0-RC1" version, where can I restrict which logic libraries users can use?

[2021-09-30 03:56] RaigorJiang commented on #12838
Do you mean like this?  SCHEMA_PRIVILEGES_PERMITTED:
https://github.com/apache/shardingsphere/pull/10998

[2021-09-30 04:35] #11013 closed

[2021-09-30 04:36] tristaZero commented on #12770
+1 for `kernel-executor-size`

[2021-09-30 05:33] #11502 closed

[2021-09-30 05:51] #12813 closed

[2021-09-30 06:00] CrackerSuperior commented on #12838
Oh, this is exactly what I need, thanks!

[2021-09-30 06:21] RaigorJiang commented on #12838
Glad to help you. So can we close this issue?

[2021-09-30 06:25] CrackerSuperior commented on #12838
This seems to only limit the databases that users can use. Is there any configuration that can restrict user permissions, for example, I want a user to have only "SELECT" permissions

[2021-09-30 06:42] #12779 closed

[2021-09-30 06:45] RaigorJiang commented on #12838
Can't do it now, this feature is being planned.

[2021-09-30 06:45] RaigorJiang commented on #12838
ShardingSphere is an open community, welcome to improve it together.

[2021-09-30 06:45] CrackerSuperior commented on #12838
ok

[2021-09-30 06:46] #12838 closed

[2021-09-30 07:08] #12770 closed

[2021-09-30 07:43] tuichenchuxin opened #12849 "sql-parser-test unsupported sql test should include SqlVistor method"
I want to record some sql that sql parse engine is not supported. But in UnsupportedSQLParserParameterizedTest just include parse method. I think include visit and covert to sql statement can be better.
[code]

[2021-09-30 07:55] #12849 closed

[2021-09-30 08:00] menghaoranss commented on #12492
The actual MetaData should be persisted,  but `ShardingSphereSchema ` is the kernel MetaData,  so the logic of refresher will be refactored, I close this issue now.

[2021-09-30 08:00] #12492 closed

[2021-09-30 08:04] TeslaCN commented on #12442
[code]

Refer to https://bugs.openjdk.java.net/browse/JDK-8210522

[2021-09-30 08:14] #12581 closed

[2021-09-30 09:07] #8618 closed

[2021-09-30 09:45] strongduanmu commented on #12819
This issue is closed because the problem has been solved.

[2021-09-30 09:45] #12819 closed

[2021-09-30 10:28] strongduanmu commented on #12803
At present, the result of executing `show table status` through the proxy is wrong, and the kernel needs to support this statement.

[code]

The correct result should be:

| Name | Engine | Version | Row\_format | Rows | Avg\_row\_length | Data\_length | Max\_data\_length | Index\_length | Data\_free | Auto\_increment | Create\_time | Update\_time | Check\_time | Collation | Checksum | Create\_opt

[2021-09-30 10:32] alikaanbaci commented on #12540
Hello, can i work on this issue?

[2021-09-30 10:46] #12442 closed

[2021-09-30 11:15] RaigorJiang commented on #12789
Hi @CrackerSuperior
Can we close this issue?

[2021-09-30 12:15] #10507 closed

[2021-09-30 13:27] cheese8 commented on #12825
I would try to fix and pr it, please assign it to me, thanks. @strongduanmu

[2021-10-01 00:48] strongduanmu commented on #12825
@cheese8 Thank you for your feedback, I have assigned this issue to you.

[2021-10-01 07:13] #12563 closed

[2021-10-01 09:46] WswSummer15 opened #12869 "Error creating bean with name 'dataSource' defined in class path resource [org/apache/shardingsphere/shardingjdbc/spring/boot/SpringBootConfiguration.class]"
(MacOS IDEA)Program startup error：
Error starting Tomcat context. Exception: org.springframework.beans.factory.BeanCreationException. Message: Error creating bean with name 'servletEndpointRegistrar' defined in class path resource [org/springframework/boot/actuate/autoconfigure/endpoint/web/ServletEndpointManagementContextConfiguration$WebMvcServletEndpointManagementContextConfiguration.class]: Be

[2021-10-01 09:48] terrymanu commented on #12869
Please read the matched document first

[2021-10-01 09:48] taojintianxia commented on #12869
you use sharding-jdbc 4.0.0 RC1 ?

[2021-10-01 09:49] terrymanu commented on #12613
Closed because of no response anymore.

[2021-10-01 09:49] #12613 closed

[2021-10-01 09:50] WswSummer15 commented on #12869
yes

[2021-10-01 09:50] terrymanu commented on #9997
Closed because of no response anymore.

[2021-10-01 09:50] #9997 closed

[2021-10-01 09:51] WswSummer15 commented on #12869
Same configuration file, Windows good, MAC error

[2021-10-01 09:52] WswSummer15 commented on #12869
Without reading the official document, I will ask here？

[2021-10-01 10:30] terrymanu opened #12872 "Add test cases for ShardingSphereDataSourceFactory and YamlShardingSphereDataSourceFactory"
- [ ] Add test cases for ShardingSphereDataSourceFactory
- [ ] Add test cases for YamlShardingSphereDataSourceFactory

[2021-10-01 10:33] terrymanu opened #12873 "Add test cases for CachedDatabaseMetaData"

[2021-10-01 10:42] terrymanu opened #12874 "Add more test cases of ShardingSphereDataSource"
- [ ] Add test case of ShardingSphereDataSource's new constructor with schema name and mode configuration only.

[2021-10-01 13:06] zhfeng commented on #12801
Thanks @terrymanu and I will send a message on mailing-list.

@taojintianxia yeah, feel free to move it.

[2021-10-01 13:38] terrymanu opened #12877 "Add test cases for AbstractDataSourceAdapter"

[2021-10-01 16:57] chaitr91 commented on #12455
hey i can pick this up.

[2021-10-01 17:16] sangeethapradeep commented on #12465
Can I work on this issue?

[2021-10-01 17:19] kaplem commented on #12539
Hi, I can work on this.

[2021-10-01 18:13] terrymanu commented on #12465
Sure, I just assign it to you

[2021-10-01 18:15] terrymanu commented on #12455
@chaitr91 Welcome

[2021-10-01 18:46] sanjanathomas commented on #12452
Can I work on this issue?

[2021-10-01 18:48] menghaoranss commented on #12452
@sanjanathomas welcome, assigned.

[2021-10-01 19:13] terrymanu opened #12880 "Add test cases for ContextManager.getDataSourceMap()"

[2021-10-01 22:09] RaigorJiang commented on #12616
Fixed in #12867.

[2021-10-01 22:09] #12616 closed

[2021-10-01 22:36] sandip5 commented on #12880
How can i work on this?

[2021-10-02 00:27] yx9o commented on #12874
Can i work on this issue.

[2021-10-02 03:46] strongduanmu commented on #12880
Welcome @sandip5, I will assign this issue to you.

[2021-10-02 03:47] strongduanmu commented on #12874
@yx9o Welcome.

[2021-10-02 05:54] terrymanu commented on #10472
English only

[2021-10-02 06:04] terrymanu commented on #8629
@aditijainrogers  The issue is closed by the author himself.
I think the issue has been resolved by author's mistake, but no feedback the reason to the community again.

[2021-10-02 06:06] terrymanu commented on #8571
Please notice that for English only

[2021-10-02 06:06] terrymanu commented on #7846
For English only

[2021-10-02 06:27] terrymanu commented on #6328
ref #12739

[2021-10-02 10:33] terrymanu opened #12889 "Add test cases for ConnectionTransaction"

[2021-10-02 10:35] terrymanu opened #12890 "Add test cases for ShardingSphereRuleMetaData"

[2021-10-03 03:49] wgy8283335 opened #12894 "Rel node tree should not be different between cross join and cross where"
## Rel node tree should not be different between cross join and cross where, after optimization

Related issue is #12709.

### INPUT
    private static final String SELECT_CROSS_WHERE =
        "SELECT t_order_federate.order_id, t_order_federate.user_id, t_user_info.user_id "
            + "FROM t_order_federate , t_user_info "
            + "WHERE t_order_federate.user_id = t_user_info.user_id";

[2021-10-03 03:54] wgy8283335 commented on #12894
Solution method:
1. find the difference in the optimization process.
2. Compare with the test result in calcite project.

[2021-10-03 05:41] cheese8 opened #12895 "Support INSERT SELECT on encrypt"
## Feature Request

Support INSERT SELECT on encrypt (test on mysql only)

[2021-10-03 06:58] cheese8 commented on #12895
LogicSQL:

INSERT INTO t_account(account_id, certificate_number, password, amount) SELECT account_id, certificate_number, password, amount from t_account_bak where certificate_number = ?

ActualSQL should be:

INSERT INTO t_account(account_id, cipher_certificate_number, assisted_query_certificate_number, cipher_password, assisted_query_password, cipher_amount) SELECT account_id, cipher_certificate

[2021-10-03 08:35] cheese8 commented on #12895
@tristaZero @strongduanmu What do you think on this?

[2021-10-03 09:21] tristaZero commented on #12540
Sure, @alikaanbaci are you still interested in this one? ;-)

[2021-10-03 09:23] tristaZero commented on #10887
Done.

[2021-10-03 09:23] #10887 closed

[2021-10-03 09:27] tristaZero commented on #10958
@Swastyy Hi I am cleaning stale issues, are you still interested in working on it?

[2021-10-03 09:27] tristaZero commented on #10964
Hi @jasaroya How is it going? ;-)

[2021-10-03 09:28] tristaZero commented on #10968
Hi, so it is still in progress, right?

[2021-10-03 10:57] alikaanbaci commented on #12540
@tristaZero yeap gladly :)

[2021-10-03 12:12] cheese8 commented on #12740
The sensitive data which need to be encrypted is text as generally, but you can try to get the locate parameters (Keys: schema, owner, table and field) from Props, then customize the encrypt/decrypt algorithm to convert it.

refer to: org.apache.shardingsphere.encrypt.rewrite.util.EncryptPropertiesBuilder

[2021-10-03 12:44] Swastyy commented on #10958
Hey @tristaZero I need some time to resolve some errors, if you want to recreate this issue, we can do this.

[2021-10-03 13:30] #9719 closed

[2021-10-03 16:35] alikaanbaci commented on #12540
Hello, @tristaZero , @sandynz, I opened the pull request for the issue

[2021-10-04 03:58] zjcnb commented on #11116
I  think this issue are work well in lately branch, you can try it @guimingyue

[2021-10-04 05:35] #12789 closed

[2021-10-04 09:42] ThanoshanMV commented on #12830
Distributed SQL case ids are in spinal-case. Should we need to change them into snake-case or spinal-case is the recommended one?

[2021-10-04 14:45] TeslaCN opened #12902 "Checksum can be generated automatically"
## Feature Request

### Describe the feature you would like.

Introduce `checksum-maven-plugin` can save the following step.

![image](https://user-images.githubusercontent.com/20503072/135871541-defb8113-b475-4f11-a06b-750439564548.png)

[2021-10-04 14:57] zhujunxxxxx commented on #12873
let me try.

[2021-10-05 02:44] wgy8283335 opened #12905 "Support 'Project Column', 'IN', 'BETWEEN' Convert to SQL node"
## Support 'Project Column', 'IN', 'BETWEEN' Convert to SQL node

For example:
- `SELECT t_order_federate.order_id, t_order_federate.user_id,  SELECT COUNT(*) FROM t_user_info FROM t_order_federate`
- `SELECT t_order_federate.order_id, t_order_federate.user_id FROM t_order_federate WHERE user_id IN (SELECT * FROM t_user_info)`
- `SELECT t_order_federate.order_id, t_order_federate.user_id FROM t_or

[2021-10-05 03:15] wgy8283335 opened #12906 "Whether 'EnumerableCalc' and 'EnumerableCorrelate' in Rel Node Tree could be replaced by Bindable Node"
## Whether 'EnumerableCalc' and 'EnumerableCorrelate' in Rel Node Tree could be replaced by Bindable Node
SQL:
[code]

After optimizing:
[code]

related issue #12709.

[2021-10-05 03:19] wgy8283335 commented on #12906
1. Check the mechanism of logical node and enumerable node to bindable node.
2. Check the mechanism of enumerableCalc and enumerableCorrelate in SubQuery.

[2021-10-05 07:21] Swastyy commented on #12877
Please assign this issue to me. Thanks.

[2021-10-05 08:08] Swastyy commented on #12469
Hey @tristaZero can you please brief on what we have to do for resolving this issue?

[2021-10-05 10:24] #12830 closed

[2021-10-05 10:35] #12471 closed

[2021-10-05 10:53] tristaZero commented on #12906
Hi Our committer, @wgy8283335 This issue needs your action on label and milestone.

[2021-10-05 10:54] tristaZero commented on #12902
@TeslaCN Nice idea, do you want to have a try? Or welcome other volunteers?

[2021-10-05 11:38] zhujunxxxxx commented on #12872
I'd like do it.

[2021-10-05 13:39] zhujunxxxxx commented on #12890
I'd like do it.

[2021-10-05 14:25] TeslaCN commented on #12902
Hi @tristaZero
I tried the checksum plugin in ElasticJob and I will finish this issue in passing.

[2021-10-06 03:00] fwhdzh commented on #10968
Yes, it is still in progress. I am sorry for that I am too busy these days to do this work. If it is urgent, please give this task to another person. I could look it the next week if possible.

[2021-10-06 10:02] tristaZero commented on #12902
Sound nice, look forward to it.

[2021-10-06 10:21] #12902 closed

[2021-10-06 11:18] tristaZero commented on #12469
Hey, @Swastyy I'd like to explain more about this task.

It's very related to #9426, #12891. And @ThanoshanMV is a veteran in this field. ;-)

But I found [MySQL DALStatement.g4](https://github.com/apache/shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql/DALStatement.g4) has included this definition.

[2021-10-06 11:22] tristaZero commented on #10958
@taojintianxia Hi, we still need to fix this issue, don't we?

[2021-10-06 14:14] tuichenchuxin commented on #12469
@Swastyy I'm sorry to reply you late. I checked it again. This statement can be parsed, but it will fail when visiting, it should be because the visit method is not implemented. This #12673 is very related to this issue.

[2021-10-06 16:19] cheese8 opened #12912 "Add more encryptors"
## Enhancement

enhance encrypt example with my production ready samples

[2021-10-07 02:36] ThanoshanMV commented on #12468
Hi @tuichenchuxin, I would like to try this one.

[2021-10-07 03:48] zhujunxxxxx commented on #12877
Welcome @AbnerHung , I will assign this issue to you.

[2021-10-07 04:37] tristaZero commented on #12469
@tuichenchuxin Hi could you add more one-by-one steps to finish this issue? Actually, IMO, it's a little lost to fix this issue as a newbie. I still suggest reviewing other similar issues, which are expected to give the exact steps or refer to a merged Issue or PR. Thanks.

[2021-10-07 04:39] #12540 closed

[2021-10-07 05:11] alikaanbaci commented on #12538
Hi @tristaZero, @sandynz Can you assign this one please? I would like to work on it.

[2021-10-07 05:56] terrymanu commented on #10569
No response anymore, I just close the issue.

[2021-10-07 05:56] #10569 closed

[2021-10-07 05:58] terrymanu commented on #10729
No response anymore, I just close the issue.

[2021-10-07 06:00] terrymanu commented on #11744
No response anymore, I just close the issue.

[2021-10-07 06:00] #11744 closed

[2021-10-07 06:02] terrymanu commented on #11782
No response anymore, I just close the issue.

[2021-10-07 06:11] terrymanu commented on #11917
No response anymore, I just close the issue.

[2021-10-07 06:11] #11917 closed

[2021-10-07 06:14] terrymanu commented on #12325
Update sharding key is pretty difficult, there is no plan to do the feature for now.

[2021-10-07 06:16] terrymanu commented on #12484
Sorry, there are no necessary information to reproduce it.
I just close this issue.
Please reference the template for next time.

[2021-10-07 06:16] #12484 closed

[2021-10-07 06:17] zzs52 commented on #12873
Can I work on this issue?

[2021-10-07 06:17] terrymanu commented on #12517
Could you provide the necessary information?
Maybe follow issue template as an example

[2021-10-07 06:18] terrymanu commented on #12520
No response anymore, I just close the issue

[2021-10-07 06:22] #12056 closed, assigned to nobody

[2021-10-07 06:41] #12710 closed

[2021-10-07 06:42] terrymanu commented on #12680
If across multiple shardingsphere-proxy, the shardingsphere-proxy is act as RM. So, it depends on your application distributed transaction solution.

[2021-10-07 06:42] #12680 closed

[2021-10-07 06:42] #12631 closed

[2021-10-07 10:19] #12877 closed

[2021-10-07 10:35] zzs52 commented on #12889
can I have a try？

[2021-10-07 10:39] zzs52 commented on #12498
can I have a try?

[2021-10-07 10:47] AbnerHung commented on #12495
can i have a try ?

[2021-10-07 23:45] strongduanmu commented on #12912
@cheese8 Assigned.

[2021-10-07 23:46] strongduanmu commented on #10841
@99ashish Welcome.

[2021-10-08 01:30] GeminiGu opened #12923 "Why Is Only the Master Branch Left"
Why Is Only the Master Branch Left? Where Can I Obtain the Code of Other Branches?

[2021-10-08 02:34] AbnerHung commented on #10888
can i try this issue?

[2021-10-08 03:17] #12539 closed

[2021-10-08 04:20] cheese8 commented on #12460
Scenario Added:
We need to clear the plain value on sensitive column after encryption finished, so we write sql like
`update table set plain_column = ''`
but it was rewrite as
`update table set cipher_column='xxx', assisted_column='yyy', plain_column=''`
it was incorrect, we should keep it as original with no rewrite.

AS-IS:
`update table set plain_column = null` would not be rewrited, but column

[2021-10-08 06:18] jiangtao69039 opened #12935 "Library does not match the bytecode for class ShardingSpherePreparedStatement"
I use IDEA auto download jar and source code,but in debug model it hint "Library does not match the bytecode for class ShardingSpherePreparedStatement".
I find many lombok annotation in source code,I suggest that you change packaging sources with delomboked code, which is done with you build system (E.g maven/gradle). This will allow any IDE to see sources of getter and setters and match byte code

[2021-10-08 06:25] vansee opened #12936 "No SQLException was thrown"
## Bug Report

Error querying database.  Cause: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
The error may exist in file [/Users/**/Workspace/Github/**/target/classes/mapper/system/SysConfigMapper.xml]
The error may involve com.**.mapper.SysConfigMapper.selectConfigList
The error occurred while handling results
SQL: select config_id,                config_group,                config_nam

[2021-10-08 07:38] wangjing112 opened #12938 ""SHOW INDEX FROM `t_table` FROM `sharding_db`;" fail in 5.0.0-rc1"
ver: 5.0.0-rc1

issue:
not rewrite the database name : sharding_db!

query log:
[INFO ] 15:27:01.667 [ShardingSphere-Command-3] ShardingSphere-SQL - Logic SQL: SHOW INDEX FROM `t_table` FROM `sharding_db`
[INFO ] 15:27:01.667 [ShardingSphere-Command-3] ShardingSphere-SQL - SQLStatement: MySQLShowIndexStatement(table=SimpleTableSegment(tableName=TableNameSegment(startIndex=16, stopIndex=29, identif

[2021-10-08 08:10] yunqian-c9 commented on #12759
您好，这次使用的是git克隆，编译后的源码：
![image](https://user-images.githubusercontent.com/30698152/136520688-fe20af6c-56f8-46a1-a476-ea8b2d2e75d3.png)

在使用 **sqlalchemy** 的 **flush**方法预提交数据，还是直接提交到数据库中了，并不是在一个事务中，回退失效：
![image](https://user-images.githubusercontent.com/30698152/136521339-a87e1676-59f8-49bc-9a8f-a630e4f89fb5.png)

**code：**
![image](https://user-images.githubusercontent.com/30698152/136521040-531a

[2021-10-08 08:19] RaigorJiang commented on #12936
Here is a list of related issues:
- https://github.com/apache/shardingsphere/issues/10844
- https://github.com/apache/shardingsphere/issues/10138
- https://github.com/apache/shardingsphere/issues/11063
- https://github.com/apache/shardingsphere/issues/11066
- https://github.com/apache/shardingsphere/issues/12246
- https://github.com/apache/shardingsphere/issues/11336
- https://github.com/apache/sh

[2021-10-08 09:14] sika-code-cloud opened #12941 "shardingsphere有官方QQ群吗"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-08 09:25] terrymanu commented on #12941
**For English only**, other languages will not accept.

[2021-10-08 09:25] #12941 closed, assigned to nobody

[2021-10-08 09:26] #12936 closed, assigned to nobody

[2021-10-08 09:31] #12935 closed, assigned to nobody

[2021-10-08 09:39] #12938 closed

[2021-10-08 09:40] terrymanu commented on #12923
FYI: https://github.com/apache/shardingsphere/tags

[2021-10-08 09:42] terrymanu commented on #12753
Closed because of no response anymore

[2021-10-08 09:42] #12753 closed

[2021-10-08 09:44] marker-wu opened #12944 "The default database sharding strategy of sharingproxy fails"
When I follow the configuration below it is invalid
![image](https://user-images.githubusercontent.com/45256940/136534807-f734eb18-f867-4560-b53c-b953762acfc0.png)
Must be configured below the table to take effect
![image](https://user-images.githubusercontent.com/45256940/136535042-257f4723-4eab-406f-b922-28b3864f20ca.png)

[2021-10-08 10:34] marker-wu opened #12945 "Questions about the Hint strategy"
Is the Hint strategy supported only for single-table queries?

[2021-10-08 10:47] strongduanmu commented on #12945
Hint strategy is used for manual routing of sharding tables, single tables are not supported.

[2021-10-08 11:09] sika-code-cloud opened #12946 "How to support hintshardingalgorithm and precisesharingalgorithm to make multiple sharding algorithms effective for the same table?"
## Question
How to support hintshardingalgorithm and precisesharingalgorithm to make multiple sharding algorithms effective for the same table?
For example, generally, you can partition according to the specified partition key, but sometimes you need to specify forced partition. How can this be supported?

[2021-10-09 01:20] yunqian-c9 commented on #12759
@strongduanmu
**设置成 0 也是不行的：**
Setting it to 0 doesn't work either
![image](https://user-images.githubusercontent.com/30698152/136638595-4081b655-2770-476a-8a88-6607cdbb14ed.png)

**flash 方法，是 sqlalchemy 这个ORM框架自带的，执行时会向mysql提交插入语句，但语句是在事务中执行的，只有commit的时候才会真正做持久化操作。 查看 sqlalchemy 打印的语句，有向数据库发送 BEGIN 开启事务的。我觉得是代理没有执行这个操作：**
The flash method, which is the ORM framework of SQLAlchemy, will commit an

[2021-10-09 01:37] marker-wu commented on #12945
I use sharding-proxy for Hint routing test. Currently, the Hint policy for single-table query is effective, but the Hint policy for multi-table related queries does not take effect.

here are my configuration
![image](https://user-images.githubusercontent.com/45256940/136639286-de9e6f13-b909-4f91-af1a-ca66a4810ebf.png)

[2021-10-09 01:40] strongduanmu commented on #12759
@yunqian-c9 I have tested both jdbc and proxy command line, and the transaction function is normal. Please check if there is a configuration problem with your `orm` framework.

![image](https://user-images.githubusercontent.com/10829171/136639345-4e2e254d-b17d-4254-a678-eb7da7c5d3ce.png)

[2021-10-09 01:50] strongduanmu commented on #12946
Hi @dq-open-cloud, you can meet these needs by customizing algorithms. ShardingSphere only provides general algorithms.

[2021-10-09 01:58] marker-wu commented on #12945
I use the latest master branch code, the project is ShardingSphere-Proxy
here are my configuration：
![image](https://user-images.githubusercontent.com/45256940/136639915-f3f8f11f-0170-4483-ac17-b6de60f3286b.png)
![image](https://user-images.githubusercontent.com/45256940/136639923-bc2a4d0e-47fa-4e97-8a3a-939344df5f63.png)

Steps: 1.set sharding hint database_value =1;
             2. select * from

[2021-10-09 02:07] tristaZero commented on #10888
Hey @AbnerHung Welcome, it's yours now.

[2021-10-09 02:08] LeeGuoPing commented on #8108
Hi, I would like to look on this. Can you please assign to me this issue?

[2021-10-09 02:08] strongduanmu commented on #12945
@marker-wu Thank you for your detailed information, I will check it.

[2021-10-09 02:09] marker-wu commented on #12944
What I mean is that it does not take effect if the table information is not configured, but only the default sub-database strategy is configured. The prerequisite must be to configure the table

[2021-10-09 02:16] strongduanmu commented on #12945
@marker-wu I checked the logic, because the `ak_log_template_config` and `t_db` tables are sharding tables and are distributed on different databases. Kernel cannot support this kind of cross-database query, so the sharding strategy that you are familiar with cannot be used. Currently, cross-database query is supported by the federation execution engine which is under development, and its implemen

[2021-10-09 02:27] #12566 closed

[2021-10-09 02:46] zhaochong-byte opened #12950 "How to configure a sub-table with multiple tables"
我的pom是：
 <dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
      <version>5.0.0-beta</version>
    </dependency>
单表的配置是：
spring:
  shardingsphere:
    datasource:
      names: zc
      zc:
        type: com.zaxxer.hikari.HikariDataSource
        jdbc-url: jdbc:mysql://localhost:3306/zc?createDatabaseIfNotExis

[2021-10-09 02:54] zhaochong-byte commented on #12950
spring:
 shardingsphere:
    datasource:
      names: zc
      zc:
        type: com.zaxxer.hikari.HikariDataSource
        jdbc-url: jdbc:mysql://localhost:3306/zc?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=UTC
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: root

[2021-10-09 03:23] yx9o commented on #12950
@zhaochong-byte Please refer to the configuration in the document: https://shardingsphere.apache.org/document/5.0.0-beta/cn/user-manual/shardingsphere-jdbc/usage/sharding/yaml/

[2021-10-09 04:11] xue2lang opened #12953 "sharding proxy , how can i configure authority db for user in yaml , have any suggestions？？？"
## Question

**For English only**, other languages will not accept.
**when use sharding 4.x**，which db permissions the user has can configure it in yaml file or config center，

**but in 5.0.0-beta** ，i see the proxy example ，permissions also configure in server.yaml，but rules add  provider property（type only support NATIVE OR ALL_PRIVILEGES_PERMITTED）,type=ALL_PRIVILEGES_PERMITTED certainly not，so

[2021-10-09 06:10] RaigorJiang commented on #12953
Hi @xue2lang
You may want to see `SCHEMA_PRIVILEGES_PERMITTED`: #10998

[2021-10-09 06:38] sandynz opened #12954 "Show scaling status get "Malformed packet" when scaling task preparation failed"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Scaling

### Expected behavior
Show real status, no error occur

### Actual behavior
Client received:
[code]

### Reason analyze (If you can)
No real data return in `ShowScalingJobStatusQueryResultSet` in some case.

TODO lis

[2021-10-09 06:56] roodkcab commented on #12771
I've successfully run full xa transaction in proxy, and here's what I've done

1、add XA statement support，including
'''
xa start/begin 'xxxx';
xa end 'xxxx';
xa prepare 'xxxx';
xa commit 'xxxx';
xa rollback 'xxxx';
'''

2、 get  distribution transaction  done by using shardingsphere transaction manager, the default one is Atomikos.
when sending '''xa start''' statement to proxy, we call begin funct

[2021-10-09 07:03] roodkcab commented on #12771
this is a wrong implementation, and there's no transaction at all on backend database.

[2021-10-09 07:20] zhaochong-byte commented on #12950
![image](https://user-images.githubusercontent.com/73687296/136648418-8ca11e61-da10-4788-9987-f1a5938a54fa.png)
According to the configuration on the document, why are these attributes empty？
This is my configs:
![Uploading image.png…]()

[2021-10-09 07:29] cheese8 opened #12957 "Using SQLHint to support encrypt rewrite besides"
## Feature Request

Using SQLHint to support encrypt rewrite besides, for example:

`update table set plain_column = xxx where plain_column=xxx`
 might be rewrited as below
`update table set cipher_column = cipher_xxx, assist_column=assist_xxx, plain_column=xxx where assist_column=assist_xxx`

if SQLHint used as
`/* no encrypt rewrite */ update table set plain_column = xxx where plain_column=xxx`

[2021-10-09 07:30] cheese8 commented on #12957
@strongduanmu Are we thinking the same idea? please assign it to me, thanks.

[2021-10-09 08:18] itxiaohouzi opened #12958 "读写分离对数据库版本有限制吗？目前使用postgresql-9.2版本，在访问次数过多情况下会出现数据库连接释放不掉的情况"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-09 08:26] strongduanmu commented on #12958
@itxiaohouzi Can you translate this issue to english? And provide more information according to issue template.

[2021-10-09 08:30] #12944 closed

[2021-10-09 09:55] TeslaCN opened #12964 "PostgreSQL Proxy integration test failed"
## Bug Report

### Which version of ShardingSphere did you use?
master 6a70d74de389b16dd2b1a30c62c15f9f49954d52

### Expected behavior
Pass PostgreSQL Proxy integration test

### Actual behavior
Integration tests failed.

### Reason analyze (If you can)

Proxy returned duplicated ReadyForQuery when error occurred, which messed up the frontend connection.

The 168 ReadyForQuery is duplicated, which

[2021-10-09 10:25] zhangwangren opened #12967 "how can i use normal table(have no use sharding) join broadcast table?"
## Question
how can i use  normal table(have no use sharding) left join broadcast table?

for example:
#broadcast table
spring.shardingsphere.sharding.broadcast-tables=t_config
#normal table
t_order
when i try  SELECT * FROM t_order LEFT JOIN t_config ON XXX
it throws Exception : Caused by: org.apache.calcite.sql.validate.SqlValidatorException: Expression 'rwd.TM' is not being grouped
pls help!!!

[2021-10-09 10:30] #12958 closed

[2021-10-09 10:31] strongduanmu commented on #12967
@zhangwangren What version are you using?

[2021-10-10 00:55] zhangwangren commented on #12967
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-beta</version>
        </dependency>

[2021-10-10 01:55] yx9o commented on #12874
Hi @terrymanu @strongduanmu, The remaining tasks are completed in #12968 , this issue can be closed.

[2021-10-10 04:13] wgy8283335 opened #12973 "SqlNode is not the same as SQL"
## Feature Request

### sqlNode is not the same as SQL
SQL:
SELECT order_id, user_id, (SELECT MAX(user_id) FROM t_user_info) FROM t_order_federate

After convert to SQLNode:
SELECT `order_id`, `user_id`, (SELECT MAX(*) FROM `t_user_info`) FROM `t_order_federate`

This will cause an error in validation.
[code]

### Could we keep the identifier 'user_id'?

[2021-10-10 05:46] ryuunami opened #12974 "sharding proxy How is the datetime format specified as yyyy-MM-dd HH:mm:ss"
Query by Mysql8.0.26 :
mysql> select create_time from nhs_user where login_id='admin';
+---------------------+
| create_time         |
+---------------------+
| 2019-07-25 00:00:00 |
+---------------------+
1 row in set (0.00 sec)
Query by proxy(I configured read/write separation):
mysql> select create_time from nhs_user where login_id='admin';
+---------------------+
| create_time         |
+----

[2021-10-10 09:57] strongduanmu commented on #12973
@wgy8283335 Thank you for your feedback. This is a known problem. We need to adjust the ANTLR parse result before fixing the conversion problem.

[2021-10-10 10:01] strongduanmu commented on #12967
@zhangwangren This seems to be a bug in beta version, can you try the master branch?

[2021-10-10 11:09] supkingx opened #12976 "There are word misspellings in XA TRANSACTION"
Document link：https://shardingsphere.apache.org/document/current/cn/features/transaction/principle/2pc-xa-transaction/

Apache is written as "A pache"

[2021-10-10 13:03] #10888 closed

[2021-10-10 13:04] zjcnb commented on #12974
@ryuunami Hi, this problem is fixed in master branch, you can try it.

[2021-10-10 14:16] #12976 closed

[2021-10-11 01:55] AbnerHung commented on #11032
can i work on this issue?

[2021-10-11 03:22] yunqian-c9 commented on #12759
@strongduanmu

我抓包查看了 **sqlalchemy** 在执行业务代码时，向 **mysql** 发送的语句。**sqlalchemy** 是通过设置 `autocommit = 0` 让当前会话保持事务运行的，在对接原生MYSQL时，是没问题的，全部语句都会在 **commit** 时提交，**rollback** 时回退。但是 **shardingsphere** 在碰到 **rollback** 时，之后的SQL语句即便还在同一个会话中，都会重新变为自动提交。以下为测试结果：
_I took a look at the statements that SQLAlchemy sent to mysql when executing business code. Sqlalchemy set autocommit = 0 to keep the current sess

[2021-10-11 04:49] zhangwangren commented on #12967
i can not find

[2021-10-11 04:51] #11103 closed

[2021-10-11 06:53] yunqian-c9 commented on #12759
@strongduanmu 好的，辛苦了

[2021-10-11 07:14] zhfeng commented on #12771
@roodkcab it's great and can you describe your xa transaction scenario in details ?

Is there any problem if sharding-proxy will rewrite the SQL into different backend databses (sharding database) after ```xa_start``` ?

Why ```xa_end``` and ```xa_prepare``` could be ignored ? I think it is important for 2pc protocol.

[2021-10-11 07:56] TeslaCN opened #12985 "OOM occurred when testing PostgreSQL Proxy with BenchmarkSQL"
## Bug Report

### Which version of ShardingSphere did you use?
master 1beb26125aff7ea315ec9e23f8aee5d9f2878052

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

[code]

[code]

### Reason analyze (If you can)

This SQL was not executed by calcite before.
Each `bmsql_stock` contains 600,000 rows and each `bmsql_order_lin

[2021-10-11 08:42] zhfeng commented on #12771
OK, I'm looking forward to your contribution on xa support ! Feel free to open a discuss on github.

[2021-10-11 08:55] Swastyy commented on #12570
Hi @LeeGuoPing Have you completed it or can I take this?

[2021-10-11 09:11] Swastyy opened #12986 "Migrate the sharding-readwrite-splitting example"
There is a `application-sharding-readwrite-splitting` in [spring-boot-jpa sharding example](https://github.com/Swastyy/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources)

It should be migrated to `mixed-feature-example`

For reference #12969

[2021-10-11 10:14] yidazhi opened #12988 "ExecutionException: java.lang.OutOfMemoryError: Java heap space"
Hi team,
I executed a query, and the result set was about 2.81 million rows. During the execution process, proxysql hung. Check the log. There are a lot of following information in the log

I see some questioners say that adding Xmx can solve this problem. What command can I use to add Xmx ？

This is my current startup information:
java -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true -ser

[2021-10-11 10:18] taojintianxia commented on #12988
hi , @yidazhi

there is a start.sh in shardingsphere proxy/bin . try to modify that shell file.
`JAVA_MEM_OPTS=" -server -Xmx2g -Xms2g -Xmn1g -Xss1m -XX:+DisableExplicitGC -XX:+UseConcMarkSweepGC -XX:+CMSParallelRemarkEnabled -XX:LargePageSizeInBytes=128m -XX:+UseFastAccessorMethods -XX:+UseCMSInitiatingOccupancyOnly -XX:CMSInitiatingOccupancyFraction=70 "
`

just modify the config here and then s

[2021-10-11 11:13] TeslaCN opened #12989 "Failed to execute DistSQL in PostgreSQL extended protocol"
Related to #12964

## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
PostgreSQL Proxy

### Example codes for reproduce this issue (such as a github link).

[code]

### Expected behavior

DistSQL works well.

### Actual behavior

[code]

### Reason analyze (If you can)

DistSQL worked well using `psql`

[2021-10-11 11:34] TeslaCN opened #12990 "Execute DistSQL using PreparedStatement cause SQLParsingException in MySQL Proxy"
## Bug Report

### Which version of ShardingSphere did you use?
master 4951c4c83147ff2b18b49f2834e51d5dda7382c8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
MySQL Proxy

### Expected behavior

No exception occurs when executing DistSQL.

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

[cod

[2021-10-11 12:10] RaigorJiang commented on #12986
@yx9o Assigned.

[2021-10-11 12:40] LeeGuoPing opened #12992 "What are spring.provides for? and why the spring.provides content not same with package"
## Question

![image](https://user-images.githubusercontent.com/35389145/136791475-eb10ab79-6a24-4e77-a1e8-4a79b97c6dbb.png)

[2021-10-11 12:59] wuwu20048 opened #12994 "when use ShardingSphere encrypt, The database returned no natively generated identity value after save"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-11 14:02] yx9o commented on #12950
@zhaochong-byte Hi, is it resolved? Can't see your latest configuration.

[2021-10-12 01:57] RaigorJiang commented on #12992
It seems yes, can you help to investigate it?

[2021-10-12 02:01] sandynz commented on #12992
Hi @LeeGuoPing , looks `spring.provides` is removed from Spring Boot `2.1`, see [Spring Boot 2.1 Release Notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes#removal-of-springprovides-files).
Currently, ShardingSphere depend on `<spring-boot.version>[1.5.20.RELEASE,2.0.0.M1)</spring-boot.version>`.
We'd better keep `spring.provides` for now.

[2021-10-12 02:06] LeeGuoPing commented on #12992
@RaigorJiang Thank you for your reply
![image](https://user-images.githubusercontent.com/35389145/136878621-6eb9af03-df78-416c-b759-41be4f94ada9.png)

[2021-10-12 02:30] RaigorJiang commented on #12992
I got some information through google search, you can also refer to:
https://www.google.com/search?q=spring.provides&btnK=Google+%E6%90%9C%E7%B4%A2&source=hp&ei=6vJkYZrXDLK1mAWFrajoAw&iflsig=ALs-wAMAAAAAYWUA-qqGZtjjV0SvDnCjoE2OKeAnuePT

[2021-10-12 03:17] #12496 closed

[2021-10-12 03:31] TeslaCN commented on #12985
I found this issue occurs since this commit 2f2497397497c8c8f090630fba5309d8551133e9.

[2021-10-12 06:02] #12985 closed, assigned to strongduanmu

[2021-10-12 07:46] ly164608001 opened #13001 "Not support union all in subquery for mysql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-12 08:19] wuwu20048 commented on #12994
@strongduanmu it run well with the version 4.1.1,you can try

[2021-10-12 11:34] strongduanmu commented on #13001
Hi @ly164608001, thank you for your feedback. We have supported `select ... union all select ...` statement in master branch, you can try it. BTW, this statement does not support sharding tables and broadcast tables now, and single tables can be executed normally.

[2021-10-12 11:41] linghengqian opened #13002 "Shardingjdbc does not display configuration properly in YAML and Properties(For example:Cannot resolve configuration property)"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-12 11:48] strongduanmu commented on #12994
@wuwu20048 I'm very sorry, the 4.1.1 version is a historical version, and it is no longer maintained. Welcome to the latest 5.0.0-beta version.

[2021-10-12 12:26] #12649 closed

[2021-10-12 14:16] zhfeng opened #13007 "Support all the jdbc urls for H2 databases"
## Feature Request

### Is your feature request related to a problem?
Currently the [H2DataSourceMetaData](https://github.com/apache/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/database/metadata/dialect/H2DataSourceMetaData.java#L43) only supports the memory jdbc url like ```jdbc:h2:mem```. While I'm workong with [quarku

[2021-10-12 23:25] linghengqian opened #13009 "Some questions about AUTO_INTERVAL for Autotable"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-13 00:37] #12992 closed

[2021-10-13 00:58] wgy8283335 opened #13010 "Add metadata query for volcano planner and related unit test."
## Add metadata query for volcano planner and related unit test
The related issue is #12709.

### Describe the feature you would like.
- add statistic query for the table.
- add some related unit tests.

[2021-10-13 01:15] strongduanmu commented on #12994
@wuwu20048 Thank you for the information, I will check this issue.

[2021-10-13 01:18] wgy8283335 commented on #13010
We should implement the interface to provide statistics.
These method 'getRowCount()', 'isKey(ImmutableBitSet columns)','getKeys()' should be implement firstly.
[code]

[2021-10-13 01:40] yixianluo opened #13011 "not support encrypt in sharding scene"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-13 02:20] tristaZero commented on #13002
Great, that's truly an improvement point. @sandynz @totalo @linghengqian

[2021-10-13 03:19] clown-wang opened #13013 "Proxy中设置Netty的SslContext连接后，无法正常使用"
在初始化Netty配置中配置了双向认证，配置后无法正常使用了，日志终止在初次Write to Client处

[2021-10-13 03:21] sandynz commented on #13007
Hi @zhfeng , thanks for you feedback, you've found the cause, would you like to raise a PR to get it done?

[2021-10-13 03:32] penghuazhou opened #13014 ""org.apache.shardingsphere.sql.parser.autogen.MySQLStatementParser" not exists?"
![image](https://user-images.githubusercontent.com/13001038/137062550-1e5f6eb2-3a93-4f74-85ac-cf1a912e958f.png)

the version is "apache-shardingsphere-4.1.1-src-release".

[2021-10-13 05:03] strongduanmu commented on #13011
Thank you very much for your feedback. Can you provide a complete configuration and SQL which occurs exception?

[2021-10-13 05:18] RaigorJiang commented on #12989
`show resources` syntax requires `from schemaName` now. Please use new API, refer to:  https://github.com/apache/shardingsphere/pull/13015

[2021-10-13 05:19] RaigorJiang commented on #12989
@TeslaCN Would you please help to verify if the problem is solved?

[2021-10-13 07:21] penghuazhou commented on #13014
error to execute `mvn clean install -Prelease -T 1C`

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:3.1.0:check (validate) on project shardingsphere-database-protocol-mysql: You have 1 Checkstyle violation. -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:3.1.0:check (valida

[2021-10-13 07:34] penghuazhou opened #13016 "Exception during pool initialization"
when use ShardingSphere UI to add a dataSource for example ds_03, if there is insert sql execute send to ShardingSphere-Proxy(no sql execute this time, will not have error)，if throw this error?

![image](https://user-images.githubusercontent.com/13001038/137087714-17bf3ec9-cbbb-47fe-850b-797d1c6ad004.png)

Which version of ShardingSphere did you use?
apache-shardingsphere-4.1.1-src-release, Shardi

[2021-10-13 07:40] wuwu20048 opened #13017 "did the cipher_column not suppot the null query?"
## Question

did the cipher_column not suppot the null query?
eg:
String hql="from User where mobile=:mobile and idcard is not null" ;

the mobile and the idcard fileid has cipher column.

expect sql:
select * from user where mobile_cipher='XXX' and idcard_cipher is not null;

Actual SQL:
select * from user where mobile_cipher='XXX' and  (idcard is not null)

but the plain_column idcard was delete

[2021-10-13 07:44] penghuazhou opened #13018 "apache-shardingsphere-4.1.1-src-release can use "ShardingSphere-Agent" or not ?"
ShardingSphere-Proxy(apache-shardingsphere-4.1.1-src-release)  can use  "ShardingSphere-Agent" or not ?

[2021-10-13 08:50] penghuazhou opened #13019 "ShardingSphere-Proxy how to connect to jaeger-agent?"
ShardingSphere-Proxy how to connect to jaeger-agent? how to reference jaeger-agent port?

![image](https://user-images.githubusercontent.com/13001038/137100049-d29d6d86-586f-4b3e-95ed-45d1932546e1.png)

[2021-10-13 10:13] TeslaCN commented on #13016
Refer to https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_max_connections

[2021-10-13 11:19] #13001 closed

[2021-10-13 11:24] sandynz commented on #13009
Hi @linghengqian , thanks for your feedback.

[code]
looks `each.endsWith(String.valueOf(i))` might cause issue.

I changed `AutoIntervalShardingAlgorithmTest.java` to do a test:
[code]

`actual`.size() should be `6`, but it's `9`. `actual` content is:
[code]
`t_order_10`, `t_order_11`, `t_order_12` should not be included.

Hi @strongduanmu Would you help to verify it?

[2021-10-13 11:55] tuichenchuxin opened #13021 "zookeeper persist table meta data name is always lower case."
# What is the bug?
In master branch, I found zk's table name is always lower case.
Because we use ShardingSphereSchema's key to persist to zookeeper. But the key is lower case, I don't know why is need lower case in key.
# What will this bug cause?
When I altered table in Oracle. Then the zookeeper changed, send event, rebuild the federateMetaData, but we lost the case about upper or lower in tabl

[2021-10-13 12:01] sandynz commented on #13019
Hi @penghuazhou , for proxy `5.0.0-beta` or master branch, you could follow [Agent Integration](https://shardingsphere.apache.org/document/5.0.0-beta/cn/features/governance/observability/agnet/) to test.

[2021-10-13 12:09] #13018 closed

[2021-10-13 12:26] 791837060 opened #13022 "springboot + mybatis + shardingsphere agent. After starting springbStarting from the sixth query, only the total number of records can be queried, but the record content cannot be queried."
springboot + mybatis + shardingsphere proxy. After starting springboot, it can be queried normally for 5 times. Starting from the sixth query, only the total number of records can be queried, but the record content cannot be queried. 0 rows of records are returned, and the query statement field includes the timestamp type. You need to restart springboot to queried again 5 times. what is the reason

[2021-10-13 12:44] colinchouzgl opened #13023 ""Incorrect string value" SQLException while inserting data with emoji(doesn't occur everytime)"
The exception occurred while inserting string value with emoji using ShardingSphere-Proxy. But sometimes it worked well.

[code]

SQL example:
[code]
The charset of the db column is 'utf8mb4'

version: compiled from source code on master branch (commit bf812c0e85afa392c4013cb71fd2945f75189f81)

[2021-10-13 15:37] hbyscx001 opened #13025 "Maybe we could consider support nosql(ETCD etc.)"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No

### Describe the feat

[2021-10-14 01:29] clown-wang commented on #13013
Has solved last nigtht.

[2021-10-14 01:51] tuichenchuxin commented on #12469
@gitaroktato Welcome, Ok.

[2021-10-14 02:37] strongduanmu commented on #13009
@linghengqian Thank you for your feedback, @tuichenchuxin will track it.

[2021-10-14 02:40] tristaZero commented on #12469
Looks like this guide become instructive. @tuichenchuxin
@gitaroktato Hi, welcome. ;-)

[2021-10-14 02:44] tristaZero commented on #10964
@jasaroya Any issues there, please be free to let us know.

[2021-10-14 02:48] TeslaCN commented on #13016
@penghuazhou
This error message `sorry, too many clients already` is returned by actual database. Consider increasing the `max_connections` of the databases.

[2021-10-14 03:32] RaigorJiang commented on #13023
A user encountered a similar problem before, and his charset of the database is `utf8mb4` too.
But then we found the root problem is that the character set of the `table` in this database is not `utf8mb4`, but `utf8`.
So, I suggest you also check the character set of the table.

[2021-10-14 04:54] #13025 closed, assigned to nobody

[2021-10-14 05:45] TeslaCN opened #13030 "Reduce Netty buffer allocation times in Proxy"
Related to #10626

## Refactor

- org.apache.shardingsphere.db.protocol.mysql.codec.MySQLPacketCodecEngine#encode
- org.apache.shardingsphere.db.protocol.postgresql.codec.PostgreSQLPacketCodecEngine#encode

Each encoding allocates buffer twice, which may increase time cost of encoding packet.

![image](https://user-images.githubusercontent.com/20503072/137258665-ccff8d27-350e-4db8-bb40-cbef0936c51

[2021-10-14 06:23] #13019 closed

[2021-10-14 06:26] roodkcab opened #13033 "select information_schema didn't release connection cause connection pool exhausted"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
5.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
execute such sql multiple times should be ok
[code]

### Actual behavior
after ```maxPoolSize``` times, SQL will be hang until connectio

[2021-10-14 06:26] #13002 closed

[2021-10-14 06:56] RaigorJiang commented on #13033
Thank you @roodkcab @lanchengx .

[2021-10-14 07:19] Zhangyahuidesigner opened #13036 "there is JSON type columns in mysql, and then an error is reported when loading the database"
private ColumnMetaData loadColumnMetaData(Map<String, Integer> dataTypeMap, ResultSet resultSet) throws SQLException {
      String columnName = resultSet.getString("COLUMN_NAME");
      String dataType = resultSet.getString("DATA_TYPE");
      boolean primaryKey = "PRI".equals(resultSet.getString("COLUMN_KEY"));
      boolean generated = "auto_increment".equals(resultSet.getString("EXTRA"));

[2021-10-14 07:32] TeslaCN commented on #12989
@RaigorJiang
The `show schema resources` worked.

[2021-10-14 07:34] sandynz commented on #13022
Hi @ulwfcyvi , could you submit issue with template? Much information is needed for us

[2021-10-14 07:36] Zhangyahuidesigner commented on #13036
thank you

[2021-10-14 07:38] RaigorJiang commented on #12989
@TeslaCN
OK, so I will close this issue. Thank you!

[2021-10-14 07:39] #13036 closed, assigned to nobody

[2021-10-14 07:39] strongduanmu commented on #12994
@wuwu20048 This problem is a bug and has been fixed in the master branch. Welcome to use the master branch to test. The upcoming RC1 version will contain a fix for this problem.

[2021-10-14 07:39] #12994 closed

[2021-10-14 07:43] strongduanmu commented on #12759
@yunqian-c9 Currently, distributed transactions do not support the use of `autocommit`. The control of transactions needs to be controlled by `begin`/`commit`. In the future, we will consider enhancing this feature.

[2021-10-14 07:49] sandynz commented on #10366
OK, thanks

[2021-10-14 07:56] #9544 closed

[2021-10-14 08:02] strongduanmu commented on #12446
The exception reported by this issue is a reasonable result, so I will close this issue. If you have any questions, please reply.

[2021-10-14 08:03] zhangwangren commented on #12967
im sorry!  This seems to bring a new bug, when i use the master code, nomarl table can join broadcast table, but the sharding table
doesn't  work.
------------------------------------
# this is my config
spring.shardingsphere.sharding.broadcast-tables[0]=dict_station_belong_reservoir
spring.shardingsphere.sharding.tables.dict_station_belong_reservoir.actual-data-nodes=ds$->{0}.dict_station_belong_

[2021-10-14 08:06] strongduanmu commented on #12514
I have replaced the original `foreach put` logic with `stream api`. @wam12138 Can you help to see if this problem still exists?

[2021-10-14 08:08] #12444 closed

[2021-10-14 08:11] sandynz commented on #12426
It will be closed now. Welcome to submit new issue if it still doesn't work.

[2021-10-14 08:26] CrackerSuperior opened #13038 "> > authority enhance，sample："
I know that it is possible to configure a "Native" or "all_useres_permitted" separately to allow user1 to view all repositories, but not to use "SCHEMA_PRIVILEGES_PERMITTED".  Using a schema_useres_permitted configuration alone overwrites the privileges of another user, causing a user without a schema_useres_permitted configuration to see no repository.  Can "SCHEMA_PRIVILEGES_PERMITTED" be used w

[2021-10-14 08:33] penghuazhou opened #13039 ""apache-shardingsphere-4.1.1-src-release" can not support etcd?"
"apache-shardingsphere-4.1.1-src-release" can not support etcd?

Exception in thread "main" java.lang.RuntimeException: Invalid `org.apache.shard
ingsphere.orchestration.center.RegistryCenterRepository` SPI type `etcd`.
        at org.apache.shardingsphere.spi.TypeBasedSPIServiceLoader.newService(Ty
peBasedSPIServiceLoader.java:46)
        at org.apache.shardingsphere.orchestration.core.registryce

[2021-10-14 08:46] colinchouzgl commented on #13023
@TeslaCN

[2021-10-14 08:58] xuanyuan300 opened #13040 "mysql grammar optimize"
Currenty, I'm using sql grammar of Sharding-Sphere in a golang project.I will improve the parsing perfomance by reduceing the count of rules's branch.The following is my updated code and test data.

[code]
test data:
sql :  "select * from user where id=?"
**before**:
[code]
**after**:
[code]
incress about **20%**

I don’t know whether it is effective for java, Is there any plan to optimize this pr

[2021-10-14 09:18] sandynz commented on #4092
Since the original problem was fixed, it will be closed now. Welcome to submit new issue for new problem.

[2021-10-14 09:18] #4092 closed

[2021-10-14 09:37] #3366 closed

[2021-10-14 09:44] sandynz commented on #3024
It'll be verified again after unified session charset is completed.

[2021-10-14 09:54] menghaoranss commented on #12906
@wgy8283335  hi, could I consider putting this issue to the next version?

[2021-10-14 10:06] #13009 closed, assigned to nobody

[2021-10-14 10:08] yx9o commented on #12986
@menghaoranss @RaigorJiang Sorry, these two days have been too busy, I will submit the last module tonight and it will be completed.

[2021-10-14 10:17] sandynz commented on #13039
It should be supported in `4.1.1`, from docs and source code.

I verified in `EtcdCenterRepositoryTest`, modified some code:
[code]
`repositories` has `EtcdCenterRepository` instance.

@penghuazhou have you included maven dependency of `sharding-orchestration-center-etcd`?

[2021-10-14 10:32] #12128 closed

[2021-10-14 10:35] sandynz commented on #11934
I'll close it now. Welcome to submit new issue if problem still exists.

[2021-10-14 10:47] #11520 closed

[2021-10-14 10:50] #9772 closed

[2021-10-14 11:45] #12407 closed

[2021-10-14 12:00] #9623 closed

[2021-10-14 12:33] yx9o commented on #12950
@zhaochong-byte Hi, Are you using 5.0.0-beta? I can’t start successfully with your configuration.
Try this:
![image](https://user-images.githubusercontent.com/12792261/137318026-fbbd9c30-d8b6-4c59-9120-d353c4cbf20b.png)

[2021-10-14 12:59] RaigorJiang commented on #12946
I think @strongduanmu 's answer is very clear, and this issue will be closed.

[2021-10-14 12:59] #12946 closed, assigned to nobody

[2021-10-14 14:46] #12986 closed, assigned to yx9o

[2021-10-14 15:16] linghengqian opened #13049 "When choosing CLASS_BASED subdivision algorithm, the program did not execute class that implements StandardShardingAlgorithm init () function"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-15 00:33] wgy8283335 commented on #12906
@menghaoranss Yes, you could.

[2021-10-15 01:59] sandynz commented on #13049
Hi @linghengqian , I found `TbResult3ShardingTestAlgorithm.getType()` return `null`, you could try return a valid string, e.g. `TbResult3`, and then config it as `spring.shardingsphere.rules.sharding.sharding-algorithms.tb-result3-class-based.type=TbResult3`.

[2021-10-15 02:07] penghuazhou commented on #13039
thanks

[2021-10-15 02:07] #13039 closed

[2021-10-15 02:08] #13016 closed, assigned to nobody

[2021-10-15 02:09] penghuazhou commented on #13014
@strongduanmu can you help me ?

[2021-10-15 02:11] penghuazhou opened #13052 "why not need password to login?"
![image](https://user-images.githubusercontent.com/13001038/137421188-b747eef4-ac32-445f-a881-65a97645e8a4.png)

![image](https://user-images.githubusercontent.com/13001038/137421256-e45bc8e5-c916-4bc2-a5fa-86e1ff779d33.png)

[2021-10-15 02:13] strongduanmu commented on #13014
This seems to be a checkstyle problem, did you modify the code?

[2021-10-15 02:22] sandynz commented on #13049
Hi @linghengqian , I just found it's an already fixed issue of `5.0.0-beta`: [call init method](https://github.com/apache/shardingsphere/pull/11931), you could try master branch, or just wait several days of `5.0.0-RC1` release.

[2021-10-15 02:27] RaigorJiang commented on #12786
Update: For the previous application, `Gitee` did not respond, I will continue to try to contact them.

[2021-10-15 02:31] zhangwangren opened #13053 "im sorry! This seems to bring a new bug, when i use the master code, nomarl table can join broadcast table, but the sharding table doesn't work."
im sorry!  This seems to bring a new bug, when i use the master code, nomarl table can join broadcast table, but the sharding table doesn't  work.
------------------------------------
# this is my config
spring.shardingsphere.sharding.broadcast-tables[0]=dict_station_belong_reservoir
spring.shardingsphere.sharding.tables.dict_station_belong_reservoir.actual-data-nodes=ds$->{0}.dict_station_belong_

[2021-10-15 02:35] sandynz commented on #13049
I'm sorry, I got something wrong at the first glance.

[2021-10-15 02:36] zhaochong-byte commented on #12950
Thank you! @yx9o

[2021-10-15 02:36] #12950 closed

[2021-10-15 02:39] #12967 closed

[2021-10-15 02:41] sandynz commented on #13053
Hi @zhangwangren , could submit issue with template? As detailed as possible, it's necessary for us to understand your problem.

[2021-10-15 02:53] #12988 closed, assigned to nobody

[2021-10-15 03:00] strongduanmu commented on #13014
@penghuazhou You can try the `mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -Dmaven.test.skip=true -Prelease` command, I just packaged it successfully.

[2021-10-15 03:03] menghaoranss commented on #10968
I will move the unfinished tasks to a new issue and close this issue now

[2021-10-15 03:09] menghaoranss opened #13054 "Add more unit tests"
- [ ] ShardingSQLRewriteContextDecorator
- [ ] ShardingParameterRewriterBuilder

[2021-10-15 03:28] menghaoranss commented on #10970
@songyuequan I will move this issue to the next version, you can still try to solve this issue later.

[2021-10-15 03:29] menghaoranss commented on #11116
@guimingyue Look forward to your feedback on this issue.

[2021-10-15 03:35] menghaoranss commented on #11360
@tuichenchuxin I will move this issue to the next version, you can still try to resolve it later

[2021-10-15 03:41] menghaoranss commented on #11490
@SoundHearer this issue has been fixed by another contributor, I will close this issue, you can also pick other issues you are interested in from issue board, looking forward to seeing you at another issue.

[2021-10-15 03:42] zhangwangren opened #13056 "in the 5.0.0-RC1 version the sharind table can't join broadcast table"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
i'd like to use normal table to JOIN broadcast table and i need use sharding table to JOIN broadcast table too.
### Actual behavior
in the 5.0.0-RC1 version, the normal table can JOIN broadcast table but shar

[2021-10-15 03:42] #11809 closed

[2021-10-15 03:43] menghaoranss commented on #12170
@schrosolver I will move this issue to the next version, and you can still try to resolve it later.

[2021-10-15 03:43] strongduanmu commented on #12171
Hi @meSunnySrivastava, does this issue have any progress?

[2021-10-15 03:44] wuwu20048 opened #13057 "ShardingSphere-JDBC 5.0.0-RC1-SNAPSHOT: throw StringIndexOutOfBoundsException when config the encrypt rule and use the sql join"
## Bug Report

when use sql join with two tables ,and the tables have the encrypt rule ,it will throw the StringIndexOutOfBoundsException
but with no encrypt rule for the tables, it run well .

the sql is:
[code]
the encrypt rule:

[code]

### Which version of ShardingSphere did you use?
the master branch ,5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Prox

[2021-10-15 03:46] menghaoranss commented on #12206
@Muhammadwasi I will move this issue to the next version, and you can still try to resolve it later.

[2021-10-15 04:21] linghengqian commented on #13049
Yes, I saw the question in ShardSphere 5.0.0-beta's source code, thanks again for your answer.
![image](https://user-images.githubusercontent.com/20187731/137431820-d6fb7d09-ae64-42b0-82d2-0732097104e2.png)

[2021-10-15 04:53] penghuazhou opened #13058 "why can not connet with pgAdmin4?"
version: shardingsphere-pxoxy 4.1.1

thow errors when use DBeaver or pgAdmin to connect, but it well to use pgsql.

![image](https://user-images.githubusercontent.com/13001038/137433943-29985ac3-8a1f-455f-9f65-ab3763f27ef8.png)

<img width="1015" alt="企业微信截图_a316f01b-2bb0-4148-b60d-ef72979846cb" src="https://user-images.githubusercontent.com/13001038/137434212-56597f03-5b78-4baa-a391-ad9a636a5ba2.

[2021-10-15 05:26] #13049 closed, assigned to nobody

[2021-10-15 05:44] 1327681842 opened #13059 "ShardingSphere-JDBC-5.0.0-bete版本postgresql数据库coalesce无法与count(DISTINCT）同时使用"
select count(DISTINCT a) as a, coalesce(sum(b), 0) as b
from table_name
where c=? and d= ?

这中sql在ShardingSphere-Proxy 可以执行，使用ShardingSphere-JDBC执行报错

[2021-10-15 05:49] JiaXiaohei opened #13060 "java.time.LocalDateTime cannot be cast to java.sql.Timestamp"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-15 05:52] cheese8 commented on #13057
thanks for your feedback, i will check it later.

[2021-10-15 06:29] penghuazhou commented on #13052
do shardingshpere-proxy 4.1.1 can not support password?

[2021-10-15 07:40] chengyequn opened #13061 "If the encrypted field is not set or set to null when inserted, the value stored in the database will still be encrypted into a null string"
If the encrypted field is not set or set to null when inserted, the value stored in the database will still be encrypted into a null string,
my shardingsphere's version is 4.0.1. How can solve it?

[2021-10-15 07:55] cheese8 commented on #13061
so what the problem is? or you can check the field null in your encrypt algorithm.

[2021-10-15 08:41] chengyequn commented on #13061
Thanks for your reply, I use the default AES encryption，can you tell me how to not encrypt the null value？

[2021-10-15 11:25] linghengqian opened #13063 "How do I use distributed primary keys with Mybatis? The source code does not show the combination of Mybatis and key-generators."
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-15 13:01] RaigorJiang commented on #13023
@colinchouzgl  OK.
Then, please provide your JDBC URL information (pay attention to confidentiality), including the JDBC URL information for the application to connect to the Proxy and the JDBC URL for the Proxy to connect to the physical database.

[2021-10-15 13:41] linghengqian commented on #13063
Sorry, this is a problem with my configuration. Since my project uses both Mybatis Plus and ShardingSphere-JDBC, according to the documentation of Mybatis Plus, I mistakenly thought that the entity class @TableId(type = IdType.NONE) and @TableId( type = IdType.INPUT) is the same function. The problem is solved after the annotation of the primary key of the entity class is changed to @TableId(type

[2021-10-15 13:44] RaigorJiang commented on #13058
Hi @penghuazhou
Can you try the latest version 5.0.0-beta?  It may be improved.

[2021-10-15 14:29] RaigorJiang commented on #13023
Please also check whether the JDBC parameters of `each` physical database connected by the Proxy are consistent.

In addition, you can try the following configuration (for each JDBC URL):
useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&character_set_server=utf8mb4&connectionCollation=utf8mb4_bin

[2021-10-16 03:11] #13056 closed

[2021-10-16 03:11] #13053 closed

[2021-10-16 04:46] llzx373 opened #13066 "MGR High Avaliable Discovery config auto task not found current primary"
## Bug Report

### Which version of ShardingSphere did you use?

last 5.0 RC version

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

MGR High Avaliable Discovery config auto task primaryDatasource parameter change with current real primary，do not send primary change event every check，should only in the time primary change。

[2021-10-16 06:06] #13052 closed, assigned to nobody

[2021-10-16 06:09] sandynz commented on #13022
@ulwfcyvi , you could fill in information with this template:

[code]

[2021-10-16 07:34] sandynz commented on #12495
Hi @AbnerHung , welcome, already assigned to you.

[2021-10-16 07:41] colinchouzgl commented on #13023
Thx. I've tried the configuration you said several times and the exception has not occurred so far. I'll keep observing. :)

[2021-10-16 07:56] sandynz commented on #13058
Hi @penghuazhou , since psql works, according to `PSQLException: The server's client_encoding parameter was changed to UNICODE. The JDBC driver requires client_encoding to be UTF8 for correct operation`, could you check `client_encoding` in Dbeaver and set to `UTF8` as exception recommended?

[2021-10-16 08:13] sandynz commented on #13066
Hi @llzx373 , thanks for your feedback. Could you supply detailed configuration, and some screenshots to `Reason analyze`?

[2021-10-16 08:21] chengyequn commented on #13061
Thank you for your reply！I will try it

[2021-10-16 08:45] zhangwangren opened #13067 "normal table and sharding table can't join the broadcast table at the same time"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
i want to use normal table join broadcast table and use sharding table join broadcast table too
### Actual behavior
when the normal table successed, the sharding table failed;
when the sharding table

[2021-10-16 10:43] RaigorJiang commented on #13058
@penghuazhou
Please try to set JDBC parameter `allowEncodingChanges=true` for your connection.

[2021-10-16 11:52] linghengqian opened #13069 "Suggestions for enhancements to AUTO_INTERVAL about timestamp format"
## Feature Request

### Is your feature request related to a problem?
No.
### Describe the feature you would like.
In `org.apache.shardingsphere:shardingsphere-jdbc-core-spring-boot-starter:5.0.0`,
I noticed that the document is for `AUTO_INTERVAL`, and the timestamp format is fixed as `yyyy-MM-dd HH:mm:ss`.

![image](https://user-images.githubusercontent.com/20187731/149622252-5e357fc4-980e-456e-

[2021-10-16 12:55] wuwu20048 commented on #13057
i found that  springboot encryption configuration works fine.  but the xml config i reported  above throw StringIndexOutOfBoundsException . can you check it ?

eg:

[code]
[code]

[2021-10-16 13:47] linghengqian opened #13071 "ShardingSphere-UI cannot start with JDK 11"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-16 14:37] #13061 closed, assigned to nobody

[2021-10-16 16:06] linghengqian commented on #13071
I noticed that shardingSphere-UI was last released on Nov 22ed, 2020. Why isn't it updated with this year's ShardingSphere 5.0.0-beta?

[2021-10-17 06:16] tristaZero commented on #13069
Thanks, @linghengqian  for your sharing. Your idea looks valuable. Sorry you can not be the author of this idea, and we will invite other guys to implement it.

[2021-10-17 06:20] tristaZero commented on #13071
Hi @linghengqian We're sorry, the UI project hasn't been updated along with the 5.0.0-beta release. The reason is that we have no more time and effort on it. But we welcome other guys to activate UI project.

[2021-10-17 06:27] tristaZero commented on #13058
@taojintianxia Hi It looks like night building can help users test conveniently.

[2021-10-17 09:37] penghuazhou opened #13074 "when we will have 5.0.0-rc version?"
when we will have 5.0.0-rc version? I want to use shardingsphere-proxy which go language. some feature is not in 4.1.1.

[2021-10-17 10:31] linghengqian opened #13075 "SQL cannot use Order By to throw An NPE exception on sharding-column"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-17 11:50] sandynz commented on #13075
Hi @linghengqian , I'm not sure what's wrong for now, looks there's a mistake?
`tb_result3_sharding_sphere_$->{0..366}` means there're `367` shards, seems not match `autoTablesAmount = 366`.

Could you debug and set breakpoint on `OrderByValue.getOrderValuesCaseSensitiveFromTables`, when NPE thrown, verify:
- is `tableMetaData` null? If it's true, why `schema.get(tableName)` return null?
- what's

[2021-10-17 16:19] backdoor20 commented on #13054
Hi @menghaoranss can you assign this to me.

[2021-10-17 19:04] linghengqian opened #13080 "Is groovy:indy:2.4.19 (introduced in ShardingSphere-JDBC 5.0.0 beta) compatible with JDK11?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-18 00:37] strongduanmu commented on #13054
@backdoor20 Welcome, I just assign this issue to you.

[2021-10-18 01:30] 1327681842 opened #13081 "Shardingsphere-jdbc-5.0.0-bet PostgreSQL database coalesce cannot be used with count (distinct)"
eg:
select count(DISTINCT a) as a, coalesce(sum(b), 0) as b
from table_name
where c=? and d= ?

In this case, SQL can be executed in shardingsphere proxy, but an error is reported when using shardingsphere JDBC

[2021-10-18 02:08] strongduanmu commented on #13067
when the sharding table successed the normal table failed.

Can you use some cases to analyze the meaning of this sentence?

[2021-10-18 02:08] BruceZhangXL opened #13082 "Could not initialize class org.apache.shardingsphere.sql.parser.core.rule.registry.ParseRuleRegistry"
## Bug Report
java.lang.NoClassDefFoundError, message=Could not initialize class org.apache.shardingsphere.sql.parser.core.rule.registry.ParseRuleRegistry 】
java.lang.NoClassDefFoundError: Could not initialize class org.apache.shardingsphere.sql.parser.core.rule.registry.ParseRuleRegistry
	at org.apache.shardingsphere.sql.parser.SQLParseEngine.parse0(SQLParseEngine.java:70)
	at org.apache.sharding

[2021-10-18 02:21] penghuazhou commented on #13074
thanks

[2021-10-18 02:21] #13074 closed

[2021-10-18 02:36] RaigorJiang opened #13083 "Migrate PR from Gitee to GitHub"
### Background
Previously, our contributor submitted PR from Gitee, but unfortunately, these codes cannot be automatically synchronized to the Github repository.

### Aim
Use the code on Gitee to resubmit a PR on GitHub.
Gitee PR link:
https://gitee.com/Sharding-Sphere/sharding-sphere/pulls/3

[2021-10-18 02:42] RaigorJiang commented on #13023
It seems that the problem has been resolved, I will close this issue.
 if the problem recurs, you can reopen it or submit a new issue.

[2021-10-18 02:42] #13023 closed

[2021-10-18 02:46] lanchengx commented on #13081
Hi @1327681842 , thanks for your feedback, could you show the error log？

[2021-10-18 02:55] lanchengx commented on #13082
Hi @BruceZhangXL , thanks for your feedback, could you try the latest version 5.0.0-beta? `ParseRuleRegistry` has some adjustments.

[2021-10-18 03:14] BruceZhangXL commented on #13082
the code had changed too much in 5.0.0, i can not find  this class named ParseRuleRegistry. we can not try this version in prod env.

[2021-10-18 03:47] totalo commented on #13083
hi @RaigorJiang , Does a certain volunteer move all the prs, or do you expect contributors on gitee to be responsible for their own prs?

[2021-10-18 04:52] #8108 closed

[2021-10-18 04:57] strongduanmu commented on #13067
@zhangwangren Ok, please provide some examples to explain the actual behavior.

[2021-10-18 06:29] lanchengx opened #13087 "DistSQL function enhancement, add more DistSQL syntax"
Related Issue : https://github.com/apache/shardingsphere/issues/12735

Add DistSQL syntax to improve the support for the rules in the configuration file

- [x] Add `CREATE SHARDING ALGORIHTM` syntax
- [x] Add `CREATE DEFAULT SHARDING [DATABASE | TABLE] STRATEGY` syntax
- [x] `CREATE SHARDING TABLE RULE` syntax enhancement

Add distSQL syntax to show more information

- [x] Add `SHOW SINGLE TABLE R

[2021-10-18 06:30] zhangwangren commented on #13067
At first when i only set the config like this:
# the broadcast-tables
spring.shardingsphere.rules.sharding.broadcast-tables=reservoir_flood_limit,reservoir_flood_prevention,station_basic_info_data,river_flood_prevention,dict_station_belong_reservoir,dict_point_station_relation

# datasoruce sharding rule
spring.shardingsphere.rules.sharding.sharding-algorithms.db-class-based.type=CLASS_BASED
sprin

[2021-10-18 06:43] penghuazhou commented on #13058
@tristaZero @RaigorJiang
why I cannot connect to shardingsphere with go language framework gorm(https://gorm.io/zh_CN/docs/index.html)?I can connetc with go language framework go-pg, also I can connect it with pgsql. Do shardingSphere-proxy not suggest user go language?

version: shardingsphere-proxy 4.1.1, postpresql(database):14.0

[INFO ] 09:36:13.648 [nioEventLoopGroup-2-1] i.n.handler.logging

[2021-10-18 06:48] penghuazhou commented on #13058
@tristaZero @RaigorJiang
It be ok when use "e.Orm.Debug().Raw("select id from quality_record_result where app_id=1").Rows()", but not ok use "e.Orm.Model(&data).Where("app_id = 1").Order("id desc").Find(list).Error", do shardingsphere-proxy not support some gorm methord?

version:shardingsphere-proxy, master git

![image](https://user-images.githubusercontent.com/13001038/137681679-2956c3e4-bd9c-4

[2021-10-18 07:36] penghuazhou opened #13089 "Do not support sql parameter?"
Do not support sql parameter?

version:shardingshpere-proxy, the master git

It be ok if use Where("app_id = 1"), It not be of when use Where("app_id = ?", 1)
![image](https://user-images.githubusercontent.com/13001038/137687783-6358a6ef-b39a-473b-89fc-88d5677f8498.png)

[2021-10-18 07:43] roodkcab opened #13090 "header of information_schema is always ColumnName instead of ColumnLabel"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
header of information_schema should be column label

### Actual behavior
header of information_schema is column name, for example
[code]
should return cn, where actually return COLUMN_NAME now.

### Steps

[2021-10-18 07:54] strongduanmu opened #13091 "Refactor query optimization and ShardingSphere integration architecture"
## Background

Hi community,

This issue is a subtask of issue #8284. Currently, `ShardingSphere` uses `Calcite` to implement cross database JOIN query, subquery and some complex aggregate query. But there are still some problems, such as:

- `ShardingSphereOptimizer` module is not used
- SQL parsing twice, including shardingsphere sql parsing and callite sql parsing
- Two sets of metadata that ma

[2021-10-18 07:58] lanchengx commented on #13090
Hi@roodkcab, thanks for your feedback, do you want to try to solve it?

[2021-10-18 08:11] penghuazhou commented on #13058
thanks

[2021-10-18 08:17] lanchengx commented on #13089
@penghuazhou thanks,
could you show what the actual SQL sent by the ORM to the proxy is?
It will be printed in the Proxy log if you enable `sql-show`

[2021-10-18 08:29] lanchengx commented on #13089
thanks, could you find the SQL sent to the proxy when using `?` as a placeholder, for example through debug.

[2021-10-18 08:40] RaigorJiang commented on #13058
@penghuazhou
Please adjust the log level of Proxy to `DEBUG`, and then observe the SQL received by Proxy.
This configuration is in `logback.xml`:
[code]

And the key words of log: `Execute packet type`

[2021-10-18 09:02] penghuazhou commented on #13058
@RaigorJiang

<img width="1225" alt="企业微信截图_2a2b365c-0299-4fcd-b810-adf826014850" src="https://user-images.githubusercontent.com/13001038/137701160-306bd5b0-4daf-45f8-a2f6-e568aad1f192.png">

+--------+-------------------------------------------------+----------------+
|00000000| 51 00 00 01 19 0a 53 45 4c 45 43 54 0a 20 20 20 |Q.....SELECT.   |
|00000010| 20 64 62 2e 6f 69 64 20 61 73 20 64 69 64

[2021-10-18 09:03] DogeC0in opened #13094 "When will version 5.0.0 be released？"
## Question

- I saw the latest features in the official documentation in 5.0.0-beta version,and when this version will be released?Thank you!

[2021-10-18 09:07] RaigorJiang commented on #13058
But you can execute your own business SQL without worrying about whether the metadata is displayed correctly.

[2021-10-18 09:12] lanchengx commented on #13094
Hi @DogeC0in , `5.0.0-RC1` is planned to release at these days, `5.0.0` at November.

[2021-10-18 09:13] #13033 closed, assigned to roodkcab

[2021-10-18 09:18] penghuazhou commented on #13058
but I can not use pgadmin4，do you have a gui tools to connect to shardsphere-proxy?

[2021-10-18 09:19] #13094 closed, assigned to nobody

[2021-10-18 09:22] RaigorJiang commented on #13058
Can you try Navicat or DataGrip?
https://shardingsphere.apache.org/document/current/en/others/faq/#6-proxy-how-to-use-a-suitable-database-tools-connecting-shardingsphere-proxy

[2021-10-18 09:24] lanchengx commented on #13089
Yes, modified in https://github.com/apache/shardingsphere/pull/13095

[2021-10-18 09:37] penghuazhou commented on #13089
@lanchengx

[DEBUG] 2021-10-18 17:35:02.843 [nioEventLoopGroup-3-2] o.a.s.db.protocol.codec.PacketCodec - Read from client 69c087fd :
          +-------------------------------------------------+
         |  0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f |
+--------+-------------------------------------------------+----------------+
|00000000| 50 00 00 00 5a 6c 72 75 70 73 63 5f 31 5f 31 00 |P...Z

[2021-10-18 10:07] RaigorJiang commented on #13058
Because when you are using ShardingSphere-Proxy, the `schema` is what you defined in Proxy configuration.
Users cannot directly access the metadata of a physical database, because in a distributed database system, the information of a single database may not be complete.

However, access to metadata is very important to some SQL clients, so this part still needs support, and we are already sorting

[2021-10-18 10:52] lanchengx commented on #13089
@penghuazhou Sorry, some omissions cause compilation exceptions, please update the code and make sure that the compilation is passed and try again

[2021-10-18 11:45] TeslaCN commented on #13089
@penghuazhou
Could you provide example codes in text format? I might try the Golang client after #10814 fixed.

[2021-10-18 11:55] penghuazhou commented on #13058
@RaigorJiang   DataGrip：2021.1  can execute sql, but can not show databases message

<img width="1392" alt="企业微信截图_b8b7f112-55be-47ac-be76-b0b1a9568b0b" src="https://user-images.githubusercontent.com/13001038/137725356-4379570e-e88a-4633-923d-3667b6d2dbbb.png">

[2021-10-18 12:47] lebron374 opened #13105 "how to use EncryptRuleConfiguration and ShardingRuleConfiguration together in shardingsphere-jdbc with version 4.0.0"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

in our project，we need to both use  EncryptRuleConfiguration and ShardingRuleConfiguration together?any example to show this

[2021-10-19 00:38] #12497 closed

[2021-10-19 01:39] LeeGuoPing commented on #12454
please assign it to me

[2021-10-19 01:53] LeeGuoPing commented on #12467
I wanna to do it

[2021-10-19 03:27] linghengqian opened #13120 "ShardingSphere-Proxy is configured with mysql, but postgresql exception is thrown"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-19 04:10] lanchengx commented on #13120
Hi @linghengqian ,thanks for you feedback , could you be sure if there is any configuration information for `pg` on `zk`?

[2021-10-19 04:19] linghengqian commented on #13120
There is no configuration for keywords such as pg or zk. The only configuration for zookeeper is in server.yaml. The zookeeper version started by the local test is zookeeper 3.6.3 and zookeeper 3.7.0, both versions are tested, shardingsphere-proxy is both failed to activate.

[2021-10-19 05:47] hoorf commented on #13069
for me

[2021-10-19 05:50] totalo opened #13125 "`queryWithCipherColumn` should supports table-level configuration"
Hi，Community

The data encryption function provides a global `queryWithCipherColumn` configuration item, which is used to control whether the SQL query content is queried from the original text column or the encrypted column.
It is hoped to provide an independent `queryWithCipherColumn` configuration for each table that requires data encryption. The global `queryWithCipherColumn` provides default

[2021-10-19 06:26] LightShine commented on #5806
no. In our scenario, user_id and user_phone need to be used for sharding. Moreover, my problem is that the update sql should not determine the existence of the sharding key in the set-statament.

[2021-10-19 06:38] dq-open-cloud opened #13128 "How to customize segmentation algorithm"
If I don't want to use the sharding algorithm provided by the system, or I need to combine the standard algorithms provided by the system, how can I customize the sharding algorithm? Do you have relevant documents?

[2021-10-19 06:55] #12003 closed

[2021-10-19 07:29] penghuazhou commented on #13089
thanks

[2021-10-19 07:29] penghuazhou commented on #13058
thanks

[2021-10-19 07:30] #13089 closed, assigned to nobody

[2021-10-19 07:45] tuichenchuxin opened #13130 "support parsing SHOW PROCEDURE CODE for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW PROCEDURE CODE`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the clone rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/or

[2021-10-19 07:49] tuichenchuxin opened #13131 "support parsing SHOW PROCEDURE STATUS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW PROCEDURE STATUS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the clone rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/

[2021-10-19 08:19] AbnerHung commented on #12495
Ok, sorry for the slow progress, I'll unassign myself.

[2021-10-19 08:57] lwclover opened #13132 "shardingshere proxy connection limit"
Because of memory resource limit, I think shardingshere proxy should have a connection limit.

[2021-10-19 09:05] tuichenchuxin opened #13134 "support parsing SHOW RELAYLOG EVENTS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW RELAYLOG EVENTS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the clone rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/o

[2021-10-19 09:10] TeslaCN commented on #13132
Hi @lwclover
Are you interested in developing this feature?

[2021-10-19 09:14] tuichenchuxin opened #13135 "support parsing SHOW REPLICAS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW REPLICAS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
Add antlr rule in DALStatement.g4. refer to https://dev.mysql.com/doc/refman/8.0/en/show-replicas.html
Implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-pa

[2021-10-19 09:18] penghuazhou opened #13136 "install shardingsphere-agent error, how to do?"
version: apache-shardingsphere-5.0.0-beta-src-release

![image](https://user-images.githubusercontent.com/13001038/137880808-28d3a216-fe1b-429b-b2ea-af2e37a7887e.png)

[INFO] shardingsphere-agent-distribution .................. SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] --------------------------------------------------------

[2021-10-19 09:22] lwclover commented on #13132
Yes，do you have any suggest about implementations?

[2021-10-19 09:24] tuichenchuxin opened #13137 "support parsing SHOW SLAVE HOSTS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW SLAVE HOSTS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the clone rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/a

[2021-10-19 09:29] tuichenchuxin opened #13138 "support parsing SHOW REPLICA STATUS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW REPLICA STATUS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
Add antlr rule in DALStatement.g4. refer to https://dev.mysql.com/doc/refman/8.0/en/show-replica-status.html
Implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardings

[2021-10-19 09:32] ulwfcyvi opened #13139 "PostgreSQLTimeBinaryProtocolValue bug"
## Bug Report

### Which version of ShardingSphere did you use?

#### sharding-proxy:5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

#### ShardingSphere-Proxy

### Expected behavior

#### Return the correct timestamp

### Actual behavior

#### Return 2000-01-01

### Reason analyze (If you can)

#### org.apache.shardingsphere.db.protocol.postgresql.packet.co

[2021-10-19 09:37] 791837060 opened #13140 "writeInt2 throws java.lang.NullPointerException"
## Bug Report

### Which version of ShardingSphere did you use?

#### sharding-proxy:5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

#### ShardingSphere-Proxy

### Expected behavior

#### Find all records

### Actual behavior

#### Can only check 5 records

### Reason analyze (If you can)

#### org.apache.shardingsphere.db.protocol.postgresql.payload.Postgr

[2021-10-19 09:39] TeslaCN opened #13141 "`java.lang.IndexOutOfBoundsException` occurred when previewing SQL with placeholder"
## Bug Report

### Which version of ShardingSphere did you use?
master - cda8c9b4026b94e4ca2437ab00d8fd3325b82f99

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
SQL preview result.

### Actual behavior

MySQL Proxy
[code]

PostgreSQL Proxy
[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, wh

[2021-10-19 09:47] penghuazhou opened #13142 "How can I use etcd?"
version:/Users/zego/IdeaProjects/apache-shardingsphere-5.0.0-beta-src-release

<img width="801" alt="企业微信截图_b0c4d4bd-e96d-450b-999f-5bfc5e59ee73" src="https://user-images.githubusercontent.com/13001038/137886212-6b284cac-a30f-44fd-b2ce-bed450ad8014.png">

java.lang.IllegalArgumentException: Invalid path string "//19.1.72.12:2379" caused by empty node name specified @1
        at org.apache.zookeep

[2021-10-19 10:04] ulwfcyvi commented on #13140
Did it just catch the exception? What I found is that after 5 queries, no results were found for the 6th time.

[2021-10-19 10:09] tuichenchuxin opened #13143 "support parsing SHOW TRIGGERS for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHOW TRIGGERS`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the clone rule in DALStatement.g4.  refer to https://dev.mysql.com/doc/refman/8.0/en/show-triggers.html
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-

[2021-10-19 10:13] tuichenchuxin opened #13144 "support parsing BINLOG Statement for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `BINLOG`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsp

[2021-10-19 10:18] tuichenchuxin opened #13145 "support parsing CACHE INDEX for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `CACHE INDEX`

https://dev.mysql.com/doc/refman/8.0/en/cache-index.html

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shar

[2021-10-19 10:19] #13140 closed, assigned to nobody

[2021-10-19 10:21] tuichenchuxin opened #13146 "support parsing KILL statement for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `KILL`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsphe

[2021-10-19 10:25] tuichenchuxin opened #13147 "support parsing LOAD INDEX INTO CACHE for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `LOAD INDEX INTO CACHE`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/ap

[2021-10-19 10:28] tuichenchuxin opened #13148 "support parsing RESET statement for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `RESET`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardingsph

[2021-10-19 10:30] tuichenchuxin opened #13149 "support parsing RESTART for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `RESTART`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/shardings

[2021-10-19 10:31] ssjsyswa opened #13150 "自定义分库策略,自定义分表策略后,范围查询,库表笛卡尔积"
项目简介:
库名: a1,a2.
a1库表名 :  a1_1,2,3,4.
a2库表名:   a2_1,2,3,4.
规则:   按照时间规则分库分表插入.按年分库, 按季度分表.
期望:   时间范围查找时, 比如跨年. 查表 希望的是 a1_4, a2_1, a2_2.
出现问题: 给我把过滤出来的库和表做了笛卡尔积, 实际查询的表变成了 a1_1,a1_2, a2_1, a2_2.
配置如下:

`
  shardingsphere:
    props:
      sql:
        show: true
    datasource:
      dbipg-2021:
        driver-class-name: com.mysql.cj.jdbc.Driver
        type: com.alibaba.druid.pool.DruidDataSour

[2021-10-19 10:31] tuichenchuxin opened #13151 "support parsing SHUTDOWN for mysql"
Hi community,

This issue can be a good first try.

## Aim
support parse mysql administration statements sql `SHUTDOWN`

## Basic Qualifications
- java
- maven
- antlr4

## Detail
We have completed the rule in DALStatement.g4.
But have not yet implement the visit method in `shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/java/org/apache/sharding

[2021-10-19 10:39] yixianluo commented on #13011
has commit more info

[2021-10-19 11:37] #12495 closed, assigned to nobody

[2021-10-19 11:38] penghuazhou opened #13153 "It error when use shardingsphere-agent.jar, why?"
version: apache-shardingsphere-5.0.0-beta-src-release

<img width="956" alt="企业微信截图_04ad7b36-7375-4b41-9f0e-8e5eb8a6e275" src="https://user-images.githubusercontent.com/13001038/137901909-ff349f46-8bd1-4cf6-9648-a5ca0f60ab0d.png">

[ERROR] 2021-10-19 19:31:30.130 [epollEventLoopGroup-2-1] o.a.s.a.c.b.listener.LoggingListener - Failed to instrument io.netty.channel.ChannelFutureListener$1.
java.lan

[2021-10-19 11:39] #13136 closed, assigned to nobody

[2021-10-19 13:55] linghengqian opened #13159 "BUILD FAILURE on project shardingsphere-sql-parser-sql92"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-20 01:52] arthasking123 commented on #13151
I will try it

[2021-10-20 02:06] #13054 closed, assigned to backdoor20

[2021-10-20 02:49] CrackerSuperior opened #13162 "If my data source itself has many tables, but these tables are not configured in the configuration file, but they can be viewed through "show tables"?"
Version : master

Configuration file：
[code]

My intention is to let it only see the "acct_retn_evt_c_lxy" table, but it found many other tables through "show tables"

[2021-10-20 03:12] lanchengx commented on #13162
Hi @CrackerSuperior ,`acct_retn_evt_c_lxy` belongs to the logical table in the sharding rules. You can use `show sharding table rules`. For details, please refer to  [RQL](https://shardingsphere.apache.org/document/current/cn/concepts/distsql/syntax/rql/rql-sharding-rule/), I wonder if it can solve your problem?

[2021-10-20 03:18] CrackerSuperior commented on #13162
I want to know if there is any configuration setting the table that users can access; for example, I want the user "sharding" to only access the table "t_test1" in the database

[2021-10-20 03:23] CrackerSuperior commented on #13162
This is not what I want, what I want is "show table"; "show sharding table rules" This is for "rules". By the way, you can see the table to which "rules" is allocated.

[2021-10-20 03:28] lanchengx commented on #13162
Sorry, authority will be improved in the next major version.

[2021-10-20 03:43] penghuazhou opened #13165 "shardingsphere-proxy not write sharding rules to zookeeper, it is a bug?"
shardingsphere-proxy not write sharding rules to zookeeper, but props have been write to zookeeper. Whern I add rules in shardingshpere-ui, the shadringshpere-proxy rules not change.

version:apache-shardingsphere-5.0.0-alpha-shardingsphere-ui-bin, apache-shardingsphere-5.0.0-beta-shardingsphere-proxy-bin

<img width="477" alt="企业微信截图_e3f96dfc-19b6-4484-a0e5-63f543f14bd6" src="https://user-images.

[2021-10-20 05:09] lanchengx commented on #13165
Hi @penghuazhou  We're sorry, the UI project hasn't been updated along with the 5.0.0-beta release. The reason is that we have no more time and effort on it. But we welcome other guys to activate UI project.
In addition, sharding rules will be recorded in the path `/governance_ds/metadata/{schemaName}/rules`

![image](https://user-images.githubusercontent.com/52209337/138031673-3a3de293-38dc-45b2-

[2021-10-20 05:14] yinyanghuafa opened #13167 "Use BoundaryBasedRangeShardingAlgorithm,get error "java.lang.Integer cannot be cast to java.lang.Long""
## Question

I use BoundaryBasedRangeShardingAlgorithm in shardingsphere-proxy,  the version is 5.0.0-beta ,and config is :

schemaName:sharding_db
dataSources:
  ds_0:
    url: jdbc:mysql://127.0.0.1:3306/testdatabase1?serverTimezone=UTC&useSSL=false
    username: root
    password: root
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 18000

[2021-10-20 05:47] TeslaCN commented on #13159
I don't know if it's because the path is too long for Windows environment or path contains some special characters. I don't have Windows environment. Welcome to investigate this issue if you are interested.

[2021-10-20 05:47] tuichenchuxin commented on #13131
@ThanoshanMV You can use this code to test it.
https://github.com/apache/shardingsphere/blob/837b14ff0657cd59673de25f31cb48c02a9e1088/examples/other-example/shardingsphere-parser-example/src/main/java/org/apache/shardingsphere/example/parser/mysql/statement/MySQLParserStatementExample.java

[2021-10-20 07:02] lanchengx commented on #13167
Hi @yinyanghuafa , thanks for your feedback, this should be a bug, we will fix it later, or you can try it.

[2021-10-20 08:07] puneetjakhar commented on #9596
@strongduanmu can you please help me with adding the label Hacktoberfest and Hacktoberfest-accepted here.

[2021-10-20 08:37] taojintianxia opened #13170 "maven install blocked by some test dependencies"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

did search the issues

Please pay attention on issues you submitted, because we maybe

[2021-10-20 08:38] dachuan9e commented on #13153
@penghuazhou  Cloud you please confirm which version did you use?  If you build from src cloud you provide git commit info.

[2021-10-20 08:44] penghuazhou opened #13171 "where is the proxy ip message in zookeeper?"
version:/Users/zego/IdeaProjects/apache-shardingsphere-5.0.0-beta-src-release

<img width="621" alt="企业微信截图_7c544eb1-1d35-491a-aec3-636b43bb0364" src="https://user-images.githubusercontent.com/13001038/138059649-b48b9446-e883-4199-aea4-6ba205ebaca4.png">

[2021-10-20 08:48] penghuazhou commented on #13153
build from source, version is :version: apache-shardingsphere-5.0.0-beta-src-release, i download the source from https://downloads.apache.org/shardingsphere/5.0.0-beta/apache-shardingsphere-5.0.0-beta-src.zip

[2021-10-20 08:58] dachuan9e commented on #13153
@penghuazhou Please use the recent code in branch master.

[2021-10-20 09:07] zjcnb commented on #13171
@penghuazhou Hi, you can look this.
![image](https://user-images.githubusercontent.com/33742097/138063589-2f96c583-1982-4bf6-b98d-74b6dadc863f.png)

[2021-10-20 09:10] TeslaCN commented on #13139
I've reproduced this issue in master branch.

[code]

[code]

Output:
[code]

[2021-10-20 09:44] penghuazhou commented on #13153
Does shardingsphere-proxy alse need recent code? because we want usr shardingsphere-proxy5.0.0 at November. does it will support in shardingsphere-proxy5.0.0?

[2021-10-20 10:30] dachuan9e commented on #13153
Do you mean the agent?

[2021-10-20 10:37] tuichenchuxin opened #13176 "support SET CONSTRAINTS for postgres"
set constraints statement can't be pased for postgres.

[2021-10-20 10:47] #13176 closed

[2021-10-20 10:52] dachuan9e commented on #13153
If you use the master it maybe support now

[2021-10-20 12:23] duansy123 opened #13183 "shadingproxy分库分表后插入emoji表情查询出错"
shadingproxy分库分表后插入emoji表情查询出来的是“？
”但不是每次都是“？”
一次是问号一次是正常的emoji。直接连接数据库没有问题，所有数据库和表的字符集都设置了utf8mb4，请帮忙解决下

[2021-10-20 12:25] xfzhaoGit opened #13184 "4.0 Do you support from_ Unixtime function？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-20 12:54] zhangwangren commented on #13067
i'm sorry! May be my description is not clear.  from the sql log, it seems not true. shardingjdbc can't find the actual table.

[2021-10-20 12:58] taojintianxia commented on #12988
you are more than welcome

[2021-10-20 13:34] #13090 closed, assigned to roodkcab

[2021-10-20 14:15] roodkcab commented on #12771
related issue #12652 #9611

[2021-10-20 15:17] xfzhaoGit commented on #13184
In the shardingsphere+mybatis-plus SQL statement, create_ date is used as the partition key, and the input parameter long type uses from_ The unixtime function is converted to date, resulting in no user-defined policy. You can directly pass in the date type. Do you support from_ Unixtime function

[2021-10-21 01:51] strongduanmu commented on #13167
@yinyanghuafa Thank you very much for your feedback. I have submitted a PR to fix this problem. After the PR is merged, can you use the master branch to help test it?

[2021-10-21 01:54] #12456 closed

[2021-10-21 01:57] strongduanmu commented on #13081
@tuichenchuxin Good job, I have assign this issue to you.

[2021-10-21 02:20] lanchengx commented on #13184
@xfzhaoGit Sorry,  we hope the title is also in English, could you adjust it?

[2021-10-21 02:52] xfzhaoGit commented on #13184
4.0.0-RC2

[2021-10-21 02:55] linghengqian commented on #13159
Perhaps because the generated folder name is too long, meaning the source code cannot be placed in a deep directory. But I'm still not sure why. If there is no more feedback before next Monday, I will close this issue and classify it as a problem of Maven.

[2021-10-21 03:35] winer77444 opened #13190 "Range query problem of compound sharding algorithm"
The version dependency I use is
   `        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.0.0-RC1</version>
        </dependency>`
There is no problem with adding the custom compound sharding algorithm, but the range query returns an error, and the debug shows that the custom compo

[2021-10-21 03:48] JiaXiaohei commented on #13060
Hi @RaigorJiang Is fine.
Looks like I can only wait for used in production after 5.0.0-release. T_T

[2021-10-21 03:48] #13060 closed

[2021-10-21 06:25] zjcnb opened #13192 "Mvn clean install sometimes throws error"
master branch

[code]

[2021-10-21 07:14] #12466 closed

[2021-10-21 07:36] #13171 closed, assigned to nobody

[2021-10-21 07:37] penghuazhou commented on #13153
@dachuan9e But we will use it to prd environment, we need a release version。

[2021-10-21 07:46] tuichenchuxin opened #13195 "support BIT_XOR function for mysql"
support BIT_XOR function for mysql.

[2021-10-21 07:47] RaigorJiang commented on #13153
Hi @penghuazhou
5.0.0-RC1 is on the way.

![image](https://user-images.githubusercontent.com/5668787/138234009-f4897d55-79bd-4a7d-b3e2-8b04729069ee.png)

If you want to know the release news, subscribe mail list is the best way, please refer to:
https://shardingsphere.apache.org/community/cn/contribute/subscribe/

[2021-10-21 07:56] lanchengx commented on #13190
Hi @winer77444 , thanks for you feedback, could you try the latest version?

[2021-10-21 08:03] LeeGuoPing commented on #13057
Please assign it to me

[2021-10-21 08:04] duansy123 opened #13198 "Query Emoji's questions"
The data obtained by querying the fields with emoji expressions becomes "?"
But not every time it’s "?" It is occasionally possible to successfully display emoji
The character sets of all libraries and tables are unified utf8mb4
The character set of the linked database is also set &character_set_server=utf8mb4&connectionCollation=utf8mb4_bin
Please help to solve this problem

[2021-10-21 08:48] RaigorJiang commented on #13198
`5.0.0` is not existed, can you give the full version?

[2021-10-21 08:54] tuichenchuxin commented on #13081
@1327681842
When we use
`select count(distinct a),sum(b) from table`
in sharding.
We'll get actual sql like `select distinct a,sum(b) from table_1`, Then it'll execute error.
So, This sql `select count(distinct a),sum(b) from table` is not supported by sharding.
This issue is not related to `coalesce` function.

[2021-10-21 09:04] marker-wu opened #13200 "About routing errors in Sharding-Proxy in master"
when I execute the sql:
 select * from t_order o inner join t_order_item t on o.order_id=t.order_id and t.order_id=1 and o.user_id=1;
It did not route properly，I did not set these two tables as binding tables
A strange phenomenon occurred：
![image](https://user-images.githubusercontent.com/45256940/138245763-4113f979-3cc2-4f5c-b425-17eb55ea1a3f.png)
 it turned out that the real table is t_order, t

[2021-10-21 09:07] asura2019 opened #13201 "Many mistakes"
<artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0-alpha</version>

1，Cross library joins are not supported
2，Count (1) is not supported
3，Not supported (min (ID) - 1)
4，Cross database query is not supported

Speechless, brothers！

[2021-10-21 09:28] marker-wu opened #13203 "When the data source configuration information is incorrect, the wrong DB host is displayed in sharding-proxy"
![image](https://user-images.githubusercontent.com/45256940/138250380-1ec86cac-8174-4cfe-a386-4925a4c15c6d.png)
The configured data source ip is not this

[2021-10-21 09:29] lanchengx commented on #13201
Hi @winer77444 , thanks for you feedback, could you try the latest version?

![image](https://user-images.githubusercontent.com/52209337/138250604-1a660ce6-574d-4175-9c14-930cda1788d3.png)

[2021-10-21 09:32] #13195 closed, assigned to nobody

[2021-10-21 09:45] lanchengx commented on #13190
Regarding the error of `sqlsessionFactory`, I think you should check the configuration of mybatis.
It is more recommended that you use the latest version, and you can refer to `ModuloHintShardingAlgorithm.java` in the example

[2021-10-21 10:44] strongduanmu commented on #13200
@marker-wu Thank you for your feedback, this is not a bug. When two sharding tables are not configured with a binding table relationship, the federation execution engine will be used, and the logical sql will not be rewritten at this time.

[2021-10-21 10:54] #13139 closed

[2021-10-21 11:19] RaigorJiang opened #13207 "Add DistSQL to show or set Proxy props."
### Discussed in https://github.com/apache/shardingsphere/discussions/13202

Hi community,
After the discussion, I plan to add the following DistSQL statements:
- [x] show variable `propertyName`;
- [x] show all variables;
- [ ] set variable `propertyName` = value;

propertyNames includes the following:
- MAX_CONNECTIONS_SIZE_PER_QUERY
- KERNEL_EXECUTOR_SIZE
- PROXY_FRONTEND_FLUSH_THRESHOLD
- PROX

[2021-10-21 11:21] RaigorJiang commented on #13203
@marker-wu  That is not the data source host, it is the client address.

[2021-10-21 11:35] #13132 closed, assigned to lwclover

[2021-10-21 12:35] asura2019 commented on #13201
Can you give me a press create_ time between ? and ? Configuration? I've been working on it for a few days, and your configuration is not detailed

[2021-10-22 00:24] #12467 closed

[2021-10-22 00:44] winer77444 commented on #13190
Druid's scene launcher is not compatible with druid's scene launcher. Druid's scene launcher is compatible with druid's scene launcher
![image](https://user-images.githubusercontent.com/67118112/138375675-e7029098-c09a-4ae4-9c62-ff08c4acfeb8.png)

[2021-10-22 01:17] SugarPPig opened #13210 "Doesn't it support active/standby switching similar to Mycat? What should I do if the master is down?"
A master m1 is used to process all write requests, and its slave s1, another master m2 and its slave s2 are responsible for all read requests. When master m1 goes down, master m2 is responsible for writing requests, and m1 and m2 are each other's standbys.

[2021-10-22 01:52] lanchengx commented on #13210
Hi @SugarPPig , only support English ask questions, could you adjust this issue?

[2021-10-22 01:56] SugarPPig commented on #13210
Ok , It has been modified.

[2021-10-22 01:59] lwclover opened #13213 "Exception occurs when Changing /meta/scheamName/dataSources/ config in registry."
Exception occurs when Changing /meta/scheamName/dataSources/ config in registry.
SQL executing in progress  exception occurs, The reason is the eventbus consumes DataSourceChangedEvent closing changedDataSource.So proxy need have the ability to gracefully modify dataSource configurations.

Welcome to discuss with me.

Exception below:
`[ERROR] 2021-10-22 09:51:28.610 [ShardingSphere-Command-2] o.a

[2021-10-22 02:13] RaigorJiang commented on #13203
![image](https://user-images.githubusercontent.com/5668787/138382077-1ad0c0f9-85ee-42b0-9717-d8a6cc0e1bc0.png)

This is the common prompt style of the database, not a problem of ShardingSphere.

[2021-10-22 02:14] #13203 closed, assigned to nobody

[2021-10-22 02:32] lanchengx commented on #13213
Hi @lwclover  thanks for you feedback,
`ALTER RESOURCE will switch the connection pool. This operation may affect the ongoing business, please use it with caution` is prompted in the [document](https://shardingsphere.apache.org/document/current/en/concepts/distsql/syntax/rdl/rdl-resource/) ,

If you have a good idea, we can discuss it.

[2021-10-22 02:52] xfzhaoGit commented on #13184
OK， thanks

[2021-10-22 02:52] tuichenchuxin commented on #12452
@sanjanathomas Hello, is there any progress about this issue?

[2021-10-22 02:53] tuichenchuxin commented on #12455
@chaitr91 Hello, is there any progress in this issue?

[2021-10-22 03:18] RaigorJiang commented on #13198
Hi @duansy123  Is it effective?

[2021-10-22 03:21] duansy123 commented on #13198
I am trying but the new version configuration is a bit different, I need time to start it

[2021-10-22 03:25] RaigorJiang commented on #13198
Yes, there are some differences.

[2021-10-22 03:55] CrackerSuperior commented on #13200
"Sharding" can of course find it. Didn't you configure it in the configuration file?

[2021-10-22 05:40] linghengqian opened #13216 "Questions about unsupported table : `EVENTS` in ShardingSphere-Proxy when using SQLyog"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-22 06:53] carlyin0801 opened #13219 "During operation, the original SQL table name was changed from uppercase to lowercase, which affected the execution of business logic"
![企业微信截图_1634885570733](https://user-images.githubusercontent.com/5268164/138407057-b9bcc46c-d036-4fa2-af42-8b24f58df954.png)

Can this problem be fixed as soon as possible？

[2021-10-22 07:42] ziliangzeng opened #13222 "Use broadcastTables to realize the broadcast table, whether one key can realize the global broadcast of all tables？"
Excuse me, if you use broadcastTables to implement a broadcast table, is it possible to implement a global broadcast? Is the broadcast table set up * or what? Directly realize that all tables are broadcast.
Because I mainly want to realize the function of a redundant data, there are almost hundreds of tables, it seems too troublesome to match all of them, if you add or delete tables, you have to s

[2021-10-22 07:55] ziliangzeng opened #13223 "Use broadcastTables to realize the broadcast table, whether one key can realize the global broadcast of all tables"
version : shardingsphere-jdbc-core-5.0.0-beta
question:
Excuse me, can it be achieved? All tables can be realized as  broadcastTables by setting a special symbol or other flag bit, because my requirement is that all tables are  broadcast tables, and there are almost hundreds of tables.  after all settings are set, if additions and deletions are made later, it will cause a lot of work, and I look f

[2021-10-22 09:24] luoce opened #13225 "aes-key-value can not be null"
Need to use the encryption desensitization function of shardingsphere
spring-boot   2.3.3
shardingsphere-jdbc-core-spring-boot-starter   5.0.0-beta

Configure according to the official documentation：
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/encrypt/
https://shardingsphere.apache.org/document/current/cn/features/encrypt/

[2021-10-22 09:42] #13225 closed, assigned to nobody

[2021-10-22 10:43] zkxihua opened #13228 "Could not commit JDBC transaction; nested exception is java.sql.SQLException "Caused by: java.sql.SQLException: null""
sharding-jdbc.version :4.0.0-RC2

sql:update sku set version = version + 1, lock_stock = lock_stock - 1, sales_num = sales_num + 1, update_time = 1634890932671  where id = '6172713fca31ea641a495081' and lock_stock >= 1

配置：
@Bean
    @Primary
    @DependsOn({ "druidMasterDataSourece", "druidSlave0DataSourece","druidSlave1DataSourece"})
    public DataSource getMasterSlaveDataSource(){
        Mast

[2021-10-22 18:49] tuyingDavid opened #13233 "update using case when causes fragmentation routing to drift"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-23 01:32] linghengqian opened #13234 "ShardingSphere-Proxy cannot access the zookeeper in the cloud through start.bat under the windows platform"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-23 05:17] zhujy5 opened #13235 "queryWithCipherColumn set true,but not get this plainColumn values"
Logic SQL: select user_id,user_name,password,password_assisted from t_user where user_name=?
Actual SQL: master ::: select user_id,user_name,password_encrypt,password_assisted from t_user where user_name=? ::: [user19]
but the result is :
[
    {
        "userId": 19,
        "userName": "user19",
        "password": null,
        "passwordEncrypt": null,
        "passwordAssisted": null
    }
]

[2021-10-23 17:44] linghengqian opened #13240 "In terms of date ranges, there are some problems with actual-data-nodes"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-10-24 02:34] Totuying commented on #13233
The 4.x version problem still exists

[2021-10-24 02:50] #13223 closed

[2021-10-25 00:23] strongduanmu commented on #13240
@tuichenchuxin Can you help check this issue? I remember that we have fixed this problem in the master branch.

[2021-10-25 00:27] #13144 closed

[2021-10-25 00:54] linghengqian commented on #13240
Sorry, I want to ask what fix is? Now doesn't INTERVAL need to define actual-data-Nodes?

[2021-10-25 01:22] #13149 closed, assigned to nobody

[2021-10-25 05:37] totalo opened #13251 "The blog file name is wrong"
The name of the blog file has special characters and the Chinese and English version names do not correspond

![image](https://user-images.githubusercontent.com/29777558/138639695-ab40b28a-4fa6-4022-8961-97d2a1f3c145.png)

![image](https://user-images.githubusercontent.com/29777558/138639807-cf97c7ad-4792-4350-9539-8a6834a7ecaf.png)

and one more thing. They have two title.

![image](https://user-

[2021-10-25 06:27] sandynz opened #13252 "Improve scaling job start process when rule cache changed"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, if scaling is enabled, when altering sharding rule with DistSQL, new rules will be cached. We need to start scaling job when rule cache changed, integrate with current scaling foundation.
After supplying this feature, we'll remove scaling old HTTP API later.

[2021-10-25 06:31] #13251 closed, assigned to totalo

[2021-10-25 06:54] ziliangzeng opened #13253 "The proxy configuration file default database fragmentation strategy does not work"
## Bug Report
Use the proxy example to test and find that the jdbc can be sharded normally, but the proxy does appear to be only sharded to the last database configured.
Is my configuration file wrong? I copied it directly from the previous successful jdbc yaml configuration
### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingS

[2021-10-25 07:50] tuichenchuxin opened #13254 "support Resource group statement route to all instance"
Now, `Resource group` statement is routed by `ShardingDataSourceGroupBroadcastRoutingEngine`
but, it should be routed to all instance.
For example:
[code]
When config two instances, it should route to all instance. And then execute.

[2021-10-25 09:34] #13198 closed, assigned to RaigorJiang

[2021-10-25 10:10] tuohai666 opened #13260 "To support IPv6"
It's better to remove the property **java.net.preferIPv4Stack** in the start script of proxy and scaling to enable the IPv6 network.

[code]

Please refer to:
https://docs.oracle.com/javase/8/docs/api/index.html

[2021-10-25 10:37] #13254 closed, assigned to tuichenchuxin

[2021-10-25 10:38] #13067 closed, assigned to strongduanmu

[2021-10-25 11:04] TeslaCN opened #13263 "Using Collections.synchronizedMap in TableMetaData may impact performance"
## Refactor

https://github.com/apache/shardingsphere/blob/09b27c273d3a7c7fd31a6853b8e4c95c9b669cb0/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/schema/model/TableMetaData.java#L65-L84

Refer to https://github.com/apache/shardingsphere/pull/2560

I profiled a Proxy which was testing by a 696 terminals benchmarkSQL and found the following r

[2021-10-25 12:04] #13263 closed, assigned to nobody

[2021-10-26 00:47] strongduanmu opened #13271 "Add configuration switch for federation execution engine"
Hi community,

Now the federated execution engine supports cross-database queries and complex sub query, but considering that this feature is still under development, its performance and memory usage have not reached the best state, so we decided to add a configuration switch to turn off this feature by default. If you are interested in this feature, you can modify the configuration to open this e

[2021-10-26 01:52] #13252 closed, assigned to nobody

[2021-10-26 02:33] #13253 closed, assigned to nobody

[2021-10-26 02:48] UlyssesChou opened #13273 "Failed to delete table data due to alias"
## Bug Report
Thank you first for your contribution to Shardingsphere :+1: :+1: :+1:
### Which version of ShardingSphere did you use?
v4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
A single table with an alias should also be deleted successfully
### Actual behavior
A single table with an alias failed to be deleted
#11449

[2021-10-26 03:35] TeslaCN opened #13274 "Potentially concurrent performance issue in DriverExecutionPrepareEngine"
## Performance

Related to #10626.

https://github.com/apache/shardingsphere/blob/3b840b339ac580a7247b866f5904c514b169065f/shardingsphere-infra/shardingsphere-infra-executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/prepare/driver/DriverExecutionPrepareEngine.java#L65

![image](https://user-images.githubusercontent.com/20503072/138804422-c64c7295-5ed5-4bf7-a8f5-578f869a4776.png)

[2021-10-26 04:09] sandynz opened #13276 "Cleanup scaling bootstrap and distribution modules"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
We've planned new scaling job creation way, use DistSQL (used in proxy) replace original HTTP API and worker.
Currently, new scaling job creation way by DistSQL is almost finished, so we're preparing to remove related modules.
- `shardingsphere-scaling-bootstrap` module, include `Scal

[2021-10-26 04:25] #13274 closed, assigned to TeslaCN

[2021-10-26 06:00] TeslaCN opened #13278 "Potentially concurrent performance issue in InlineShardingAlgorithm"
## Performance

Related to #10626

https://github.com/apache/shardingsphere/blob/a6047d89a8447ec4b20897f9440154df413dd63d/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/main/java/org/apache/shardingsphere/sharding/algorithm/sharding/inline/InlineShardingAlgorithm.java#L46

![image](https://user-images.githubusercontent.com/20503072/138817571-bf1d643c-f204-450d-89c

[2021-10-26 06:11] tuichenchuxin opened #13279 "support optimize table route"
### Which version of ShardingSphere did you use?
 master branch
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
I have configed two mysql instance, but when i execute this sql
[code]
It should be
[code]
but actual is
[code]

[2021-10-26 06:13] tuichenchuxin opened #13280 "springboot bind-tables config has been wrong used in example."
[code]
If we want these tables binding each other, Then we should use this:
[code]

[2021-10-26 06:23] #13280 closed, assigned to nobody

[2021-10-26 07:17] #13278 closed, assigned to nobody

[2021-10-26 07:52] #13276 closed, assigned to nobody

[2021-10-26 08:18] strongduanmu opened #13285 "When db-discovery and readwrite-splitting are integrated, the routing result is wrong"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Read and write routing correctly

### Actual behavior

select statement is routed to the write datasource

![image](https://user-images.githubusercontent.com/10829171/138836203-d0a6c7a7-283d-4145-b8

[2021-10-26 09:05] #13271 closed, assigned to strongduanmu

[2021-10-26 09:16] RaigorJiang opened #13287 "The issue of the dependency order of `feature-core` modules"
Hi community,

Currently, `ShardingSphere-JDBC` and `ShardingSphere-Proxy` introduce their capabilities by depending on the core modules of each feature.
The core module of each feature will depend on other modules of feature, such as feature-api and feature-distsql. . .
The dependency tree is as follows:

[code]

However, I found some problems:

1. `ShardingSphere-JDBC` cannot use `DistSQL`, but

[2021-10-26 09:32] #13222 closed, assigned to nobody

[2021-10-26 10:01] sandynz opened #13288 "Do not start scaling job when register center rule cached event sent but sharding rule content is not changed"
## Feature Request

### Is your feature request related to a problem?
No

### Describe the feature you would like.
Currently, when event of type `RuleConfigurationCachedEvent` is received, it'll start a scaling job which migrate data from source database cluster to target database cluster. And it just support scaling for sharding rule change.

If rule cache is just saved with no any change, or onl

[2021-10-27 02:07] #13219 closed, assigned to strongduanmu

[2021-10-27 02:17] #13288 closed, assigned to sandynz

[2021-10-27 02:18] jaspercloud opened #13300 "insert no viable alternative at input '(u,'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-27 02:42] #13285 closed, assigned to strongduanmu

[2021-10-27 03:06] #13233 closed, assigned to nobody

[2021-10-27 03:07] #13184 closed, assigned to nobody

[2021-10-27 04:45] #13300 closed, assigned to nobody

[2021-10-27 06:49] ziliangzeng opened #13307 "Referencing sharding-jdbc and log4j-over-slf4j at the same time will cause conflicts. What is the specific reason?"
## Question
I try to introduce sharding-jdbc into the old project. The project used org.slf4j:log4j-over-slf4j:1.7.26 before, which would cause conflicts to fail. Try to check the dependency package of sharding-jdbc and find that org.slf4j:log4j-over-slf4j is not referenced. Will different dependencies affect each other? Is there any way to deal with it? Thank you.

## version
  org.apache.shardin

[2021-10-27 08:06] #13273 closed, assigned to strongduanmu

[2021-10-27 08:39] #13307 closed, assigned to nobody

[2021-10-27 08:50] xiehaib opened #13312 "`ShardingUnicastRoutingEngine` provides an incorrect random datasource"
Version: 4.1.1

Class: **org.apache.shardingsphere.sharding.route.engine.type.unicast.ShardingUnicastRoutingEngine**
[code]

When the datasources of single-database-multi-table and multi-database-multi-table  are in the same project and the shardings conditions is always false, the random data source provided by `ShardingUnicastRoutingEngine` is incorrect.

When providing random data source, do we

[2021-10-27 09:17] #13216 closed, assigned to nobody

[2021-10-27 09:23] tuichenchuxin opened #13314 "support parse Function to a segment"
Currently, if we have this sql
[code]
When we parse this sql, we only get this statement infomation
![image](https://user-images.githubusercontent.com/86938616/139038036-7bafcc10-8dc5-4762-8699-83159d958d63.png)
These are not enough. Refer to this #12973
So, I want to parse function as segment.
I'll create a FunctionSegment which can parse a function in sql. Like this.
[code]
In addition, there ar

[2021-10-27 09:35] zhaojinchao95 opened #13316 "Repeat build ShardingSphereRule when proxy start up"
Hi community,

version: master branch

I found `ShardingSphereRule` are repeat build when start up

build ShardingSphereRule method:

[code]

[2021-10-27 10:05] TeslaCN opened #13317 "Charset in ShardingSphere Proxy is determined by environment"
## Feature Request

Charset of ShardingSphere Proxy is determined by
1. locale of environment
2. The property `file.encoding`

### Is your feature request related to a problem?
If the charset was unset in environment, any non-ASCII characters will always be malformed.

### Describe the feature you would like.

* [x] Parse Charset provides by client in protocol and store in connection scope. #13332

[2021-10-28 03:53] wj-li opened #13322 "Oracle11g create table report NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-10-28 07:18] strongduanmu opened #13326 "Support openGuass dialect SQL parse and execute"
## Feature Request

### Is your feature request related to a problem?

#11026 #11025

### Describe the feature you would like.

At present, the master branch already supports the `openGuass` database. Most of the syntax of `openGuass` is the same as `PostgreSQL`. We can use the `PostgreSQL` parser directly, but there are some dialects of `openGuass` that are still not supported.

Therefore, in ord

[2021-10-28 08:49] we1s3 opened #13328 "sharding-proxy version 4.0.1 load data infile is not supported?"
Using sharding proxy version 4.0.1 TCP client centos7 to execute “load data infile”, an error occurred:
ERROR 10002 (C1000): 2Unknown exception: [Unsupported SQL of `load data infile '

[2021-10-28 09:42] liangxianjin opened #13330 "Hello, will 5.0 open source shardingsphere support Nacos?"
The program plans to use Nacos as the configuration center. Before sharding, it supports the orchestration management of Nacos
![image](https://user-images.githubusercontent.com/45254883/139230788-8a544d81-212e-49a7-8bc7-651b121fc264.png)

[2021-10-28 09:57] #13022 closed, assigned to nobody

[2021-10-28 10:03] heysJava opened #13331 "How to prohibit order by"
When there is no order by in my query, order by is automatically added using shardingsphere. I want to know how to remove the automatic splicing order by

[2021-10-28 11:07] lanchengx opened #13333 "Discussion on the `shardingsphere-sharding-distsql` module"
The `shardingsphere-distsql-parser` module and `shardingsphere-sharding-distsql` in `shardingsphere-features` both define DistSQL syntax and implement related functions, but the directory structure is inconsistent, which increases the difficulty of understanding.

Refer to `shardingsphere-sharding-distsql` structure
[code]

It is recommended that the previous `shardingsphere-distsql-parser` struct

[2021-10-29 01:41] marker-wu opened #13342 "The rules for sub-databases and sub-tables of binding tables and the number of sub-databases and sub-tables must be the same?"
The rules for sub-databases and sub-tables of binding tables and the number of sub-databases and sub-tables must be the same?

[2021-10-29 01:51] #13322 closed, assigned to tuichenchuxin

[2021-10-29 02:10] marker-wu opened #13343 "An error in the execution of the federation engine"
When I executed this sql an error appeared：select * from oms_order_data a inner join oms_order_items b on a.zid =b.zid and a.zid=100161 and b.zid=100161;
![image](https://user-images.githubusercontent.com/45256940/139361722-b2042255-f4df-40e2-9176-98904d7e715e.png)
here are my configuration：
![image](https://user-images.githubusercontent.com/45256940/139361535-4c2cfde3-3150-4753-a702-a843713117eb.

[2021-10-29 03:25] zhaojinchao95 opened #13345 "CuratorCache.start() method used not right in CuratorZookeeperRepository"
Hi community,

version: master branch

I think CuratorCache.start() method used not right in CuratorZookeeperRepository. So as to cause the first key set to monitor cannot receive zookeeper event notification

refer to: https://github.com/apache/curator/blob/master/curator-examples/src/main/java/cache/TreeCacheExample.java

`Old code:`
[code]

`Old result:`
[code]

`New code:`
[code]

`New result:

[2021-10-29 03:57] git-chenhao opened #13347 "The connection to the original library will be created synchronously during stress testing"
ShardingSphere-Proxy  5.0.0-alpha

### Expected behavior
The connection to the original library will not be created during stress testing

### Actual behavior
The connection to the original library will be created synchronously during stress testing

Confirm that all traffic is routed to the shadow database during the stress test. The original database traffic is very low, but the number of connec

[2021-10-29 06:30] #13082 closed, assigned to nobody

[2021-10-29 07:57] ziliangzeng opened #13348 "How to make the broadcastTables query fall into a fixed data source"
## Question

- version
   5.0.0-beta
- question
   hello，i would like to konw How to make the broadcastTables query fall into a fixed data source？
   I think my reading ability is limited and I can’t find the answer on the official website, hahaha.

[2021-10-29 11:05] #13316 closed, assigned to zhaojinchao95

[2021-10-29 11:21] #13345 closed, assigned to nobody

[2021-10-30 01:17] sandynz opened #13364 "Support create scaling job from sharding rule that includes autoTables"
## Feature Request

### Is your feature request related to a problem?
Yes

### Describe the feature you would like.
If we create sharding rule by `DistSQL`, created sharding rule will use `autoTables`, could not create scaling job when altering sharding rule includes `autoTables`. Since scaling job creation just support triditional sharding rule (with `actualDataNodes` and `InlineExpression`) for

[2021-10-30 07:13] Swastyy commented on #10416
@strongduanmu Please assign this issue to me. Thanks.

[2021-10-30 07:17] tristaZero commented on #7701
@lichaoshuai Hi, thanks for your sharing.

[2021-10-30 08:16] tristaZero commented on #13071
Hi, I will help you close this one.

[2021-10-30 08:16] #13071 closed

[2021-10-30 08:18] yx9o opened #13366 "Execute 'preview' in DataGrip and return parsing failure."
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Execute `preview select * from t_order;` in DataGrip to return the result.

### Actual behavior
Failed to parse sql.
![2e4fdc7c7fae0be60873e6a4d6c3700](https://user-images.githubusercontent.com/12792261/139524858-848b6100-b

[2021-10-30 08:27] RaigorJiang commented on #13366
Hi @yx9o  ,
This is a very important issue, thank you for your feedback.
And looking forward to your PR!

[2021-10-31 02:46] git-chenhao commented on #13347
@TeslaCN @soulasuna Good morning, is there any progress on this question?

[2021-10-31 06:19] Swastyy commented on #13083
Hi @RaigorJiang , Is this issue not fixed yet? If so, I want to try.

[2021-10-31 14:07] menghaoranss commented on #13087
@lanchengx  If all tasks are completed, please close this issue.

[2021-10-31 14:08] menghaoranss commented on #13091
@strongduanmu Have all the tasks of this issue been completed?

[2021-10-31 15:01] RaigorJiang commented on #13083
@Swastyy
Sorry, it was fixed by https://github.com/apache/shardingsphere/pull/13318.  I will close this issue.

[2021-10-31 15:01] #13083 closed

[2021-10-31 15:06] #13366 closed

[2021-10-31 15:55] #13364 closed

[2021-11-01 00:13] strongduanmu commented on #13091
@menghaoranss This is a big task, and only a small part of the function has been completed so far, so I will remove 5.0.0 milestone.

[2021-11-01 01:18] ziliangzeng commented on #13348
@RaigorJiang hi, Thanks for your answer.
In fact, it is because I have some monolithic tables that need to be broadcasted as global tables, but there are problems when querying. I finally solved the problem by setting the monolithic table as a shard table, but specifying the data source. Hahaha

[2021-11-01 01:18] #13348 closed

[2021-11-01 01:52] RaigorJiang commented on #13348
OK, thanks for your feedback.

[2021-11-01 02:00] #13087 closed

[2021-11-01 02:21] yx9o commented on #10983
Please assign to me.

[2021-11-01 02:22] yx9o commented on #10991
Please assign to me.

[2021-11-01 02:24] huangtaogege commented on #5531
 有解决么

[2021-11-01 02:24] #13057 closed

[2021-11-01 02:25] RaigorJiang commented on #12735
Hi @CrackerSuperior
DistSQL has been updated and can now fully support the configuration ways provided by the configuration file. Welcome to try.
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/usage/distsql/syntax/rdl/rdl-sharding-rule/

[2021-11-01 02:49] CrackerSuperior commented on #12735
OK, thanks

[2021-11-01 04:17] LiujunjieALiling commented on #13279
I also find this bug,The bad thing is that we are now batch, and there are a lot of Library tables 。 Which  version  will  be supported   on  this  optimize  ?

we are  in  version 4.1

[2021-11-01 07:37] heysJava commented on #13331
Can be closed

[2021-11-01 07:53] #13207 closed

[2021-11-01 08:00] #13287 closed

[2021-11-01 08:02] tuichenchuxin opened #13383 "Get sql test case from source code to test shardingsphere-parser support"
I want to know which sql  is not supported for sharding-sphere-parser.
So , i want to get test case from source code, and add unsupported sql cases, which will prompt us to support.

- [x] get sql case from mysql
- [ ] get sql case from postgresql

I tested this file refer to https://github.com/mysql/mysql-server/blob/8.0/mysql-test/t/parser.test

I found this file in postgre https://github.com/po

[2021-11-01 08:57] XiaoHongMao94 opened #13388 "Mybaties Plus Insert did not return to the primary key?"
I use ShardingSphere data encryption module
When I use mybaties plus insert a data object of a primary key has not been assigned
The table is not in the configuration file ==> rules.encrypt.tables
In the form in the configuration file is normal

## configuration
spring:
  shardingsphere:
    rules:
      encrypt:
        encryptors:
          encryptor_aes:
            type: sm4
        tables:

[2021-11-01 09:20] zjcnb commented on #13066
@llzx373 Hi，I think this problem are fixed in master branch, Can you try it again?

[2021-11-01 09:32] strongduanmu opened #13389 "PostgreSQL delete statement parses the schema and table incorrectly"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC or ShardingSphere-Proxy

### Expected behavior

execute EncryptSQLRewriterParameterizedTest successfully

### Actual behavior

![image](https://user-images.githubusercontent.com/10829171/139651249-c6a23580-72e9-4267-aac0-04

[2021-11-01 10:16] tuichenchuxin commented on #13389
I want to check this issue.

[2021-11-01 10:22] strongduanmu commented on #13389
@tuichenchuxin Great, I will assign this issue to you.

[2021-11-01 11:16] #13213 closed

[2021-11-01 12:30] xiehaib opened #13396 "Using `TransactionType.LOCAL` throws an `SQLFeatureNotSupportedException`, when within a nested transaction if a current transaction exists"
## Using `TransactionType.LOCAL` throws an `SQLFeatureNotSupportedException`,  when within a nested transaction if a current transaction exists

I know this exception is caused by **shardingsphere-jdbc** not supporting **SavePoint**. I am using `TransactionType.XA` to solve this problem, but this is a single database transaction, is there a more elegant way?

[2021-11-02 01:36] tuichenchuxin commented on #13279
@LiujunjieALiling This optimize will supported on version 5.0.1

[2021-11-02 01:38] CrackerSuperior opened #13400 "How should I use the "union" syntax correctly?"
version：
master

config:
[code]

result：
[code]

[2021-11-02 02:26] #13389 closed

[2021-11-02 03:20] strongduanmu commented on #13400
@CrackerSuperior Sorry, currently the `select uion` statement does not support sharding tables and broadcast tables. You can refer this [doc](https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/) for more detailed info.

[2021-11-02 03:30] CrackerSuperior commented on #13400
Will this feature be updated in the next version?

[2021-11-02 03:44] strongduanmu commented on #13400
@CrackerSuperior Maybe it will be supported in version 5.0.1.

[2021-11-02 03:45] CrackerSuperior commented on #13400
ok，thanks

[2021-11-02 07:05] ziliangzeng opened #13404 "mysql queysql tablename uppercase and leftjoin tablename uppercase make query exception"
## Bug Report
- version
  5.0.0-beta
- bug
My database table names are all lowercase, and then when querying, the two table names of join use uppercase. There is an exception; I am a bit confused, isn't mysql case-insensitive? And there is no problem with the execution on navicate; when I set the table name to lowercase, the execution is successful.

- sql
 `SELECT MAX(UPDATED_TIME) updateTime FRO

[2021-11-02 07:13] xue2lang opened #13405 "class TypedSPIRegistry copy Properties，why use not use Properties.put(key,value) instead of Properties.setProperty(key,value)"
## Question
why use not use Properties.put(key,value)  instead of  Properties.setProperty(key,value), because setProperty() method only support String value, when vlaue is Map , Map.toString() (result is k1=v1, k2=v2)  have the equal sign，when we use JSON parse the value from Properties in  the implementation class for  SPI will occur error

[code]

**For English only**, other languages will not a

[2021-11-02 07:14] cheese8 commented on #9446
I'll try to fix it later, please assign it to me. @strongduanmu

[2021-11-02 07:17] strongduanmu commented on #9446
@cheese8 Welcome, I will assign this issue to you.

[2021-11-02 07:23] #13405 closed

[2021-11-02 07:23] xue2lang commented on #13405
Properties only support String value
[code]

[2021-11-02 08:23] sandynz opened #13407 "[DistSQL] Support ALTER SHARDING ALGORITHM"
## Feature Request

### Is your feature request related to a problem?
No

Environment:
ShardingSphere Proxy, 5.0.0.
Commit: bf143245090a3b18589402d81ccddc68eab2e5c7
`scaling` is not enabled in `server.yaml`.

Register center (ZooKeeper) path `/metadata/sharding_db/rules` value:
[code]

### Describe the feature you would like.
Summary: For more convenient usage.

If I want to modify sharding algori

[2021-11-02 08:50] #13396 closed

[2021-11-02 09:16] icesugar commented on #7564
Sharding Sphere does not support DB health check,  Turn off the actuate DB health  check.
Sharding Sphere 不支持数据库健康检查，关闭actuate 的数据库健康检查即可。
[code]

[2021-11-02 09:33] sandynz opened #13408 "DATANODES changes is not saved in rule cache - tables - actualDataNodes when running ALTER SHARDING TABLE RULE DistSQL"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0.
Commit: bf143245090a3b18589402d81ccddc68eab2e5c7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere Proxy.
`scaling` is enabled in `server.yaml`.

### Expected behavior
Changed `actualDataNodes` of `tables` should be persited in rule cache.

### Actual behavior
Changes is not cached in r

[2021-11-02 09:37] TeslaCN commented on #13347
Hi @git-chenhao
I think this issue is related to your testing program. Such as MySQL JDBC Driver, after the client connected to server, the client will send some SQL statements like the following. If the SQL was routed to production data source, the connection will be established.
Please confirm if your testing program will disconnect and connect to Proxy periodically during stress testing.
[code]

[2021-11-02 09:51] Jiugang commented on #6458
@tristaZero The following statements still not removed，which mislead me for 2~3 days until I find this post.

[2021-11-02 10:05] sandynz commented on #13408
If `scaling` is not enabled in `server.yaml`, then rule cache is disabled too, changes will be persited in `/metadata/sharding_db/rules`, it works.

After runnning DistSQLs, the same as reproduce description, part of `rules`:
[code]

[2021-11-02 10:19] ziliangzeng commented on #13404
Will the sharding table be case sensitive?

[2021-11-02 10:23] strongduanmu commented on #13404
@ziliangzeng Can you try master branch? I think this bug has been fixed.

[2021-11-02 10:35] LeeGuoPing opened #13410 "It would be better to modify one of method of ShardingSpherePrivileges interface's return comments"
## Question

![image](https://user-images.githubusercontent.com/35389145/139830530-dea5905e-fc44-42f6-a550-e36faebc09b0.png)
It would be better to modify method `boolean hasPrivileges(String schema);` ' return comments  from `has or not` to `has privileges or not`

Do you think so?

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled you

[2021-11-02 10:49] #13408 closed

[2021-11-02 11:13] menghaoranss commented on #13410
@LeeGuoPing you can fix it with a PR.

[2021-11-02 11:26] sandynz commented on #13408
Compatible with new `DATANODES` syntax of `CREATE SHARDING TABLE RULE` after #13256

[2021-11-02 11:30] sandynz commented on #13408
Rule cache enabled, verification on 2 scenarios works:
- Traditional sharding rule with `tables`, use new `ALTER SHARDING TABLE RULE` syntax
- Sharding rule with `autoTables`

[2021-11-02 12:31] terrymanu commented on #13333
How about use structure blow:

[code]

Move spi, engine, g4 and generated code to shardingsphere-distsql-parser together?

[2021-11-02 12:33] lanchengx commented on #13407
@RaigorJiang plz assign to me

[2021-11-02 12:35] RaigorJiang commented on #13333
Yes it looks better.

[2021-11-02 12:35] xfzhaoGit opened #13414 "create_ Date is used as the partition key according to create_ Date range query only supports between and?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-02 12:39] wj-li opened #13415 "The shardingKey doesn't work in correct"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-03 01:41] ziliangzeng commented on #13404
@strongduanmu ok，i will have a try

[2021-11-03 01:47] ziliangzeng commented on #13404
@strongduanmu  ok,i will have a try. but how to maven the master branch?
i think 5.0.0-beta is the latest.release.version.

[2021-11-03 02:03] strongduanmu commented on #13404
You can download here——http://117.48.121.24:8080/.

[2021-11-03 02:04] #13410 closed

[2021-11-03 02:11] ziliangzeng commented on #13404
@strongduanmu  thanks,but do you have the jdbc edition? Or the package under lib is universal, I only need to add the jar of lib to the project.

[2021-11-03 02:49] carlyin0801 opened #13423 "Insert and update SQL does not report errors when the field is too long"
**The shardingsphere version is 5.0.0.beta,database is mysql.**

**shardingsphere does not report errors：**
2021-11-03 10:45:38.836|biz-e3424a198605469bb31139f9767fe21b||SQLLogger.java|74|INFO||||||[XNIO-1 task-1] Logic SQL: insert into `t_pipeline_info` (`PIPELINE_ID`, `PROJECT_ID`, `PIPELINE_NAME`, `PIPELINE_DESC`) values (?, ?, ?, ?) on duplicate key update `t_pipeline_info`.`PIPELINE_DESC` = ?

[2021-11-03 04:32] RaigorJiang opened #13425 "Add FAQ for DistSQL `ADD RESOURCE`"
### Background
DistSQL is a new feature of version 5.0. Users may encounter some error prompts when using it, but do not understand how to deal with these situations.

### Aim
Add FAQ, point out the cause of the error message, and provide solutions.

### How to
1. Understand the error message in the task description, investigate and confirm the cause. (Of course you can also ask for help)
2. Edit

[2021-11-03 04:48] RaigorJiang opened #13426 "Add FAQ for DistSQL `DROP RESOURCE`"
### Background

DistSQL is a new feature of version 5.0. Users may encounter some error prompts when using it, but do not understand how to deal with these situations.

### Aim

Add FAQ, point out the cause of the error message, and provide solutions.

### How to

1. Understand the error message in the task description, investigate and confirm the cause. (Of course you can also ask for help)
2. Ed

[2021-11-03 05:32] #13279 closed

[2021-11-03 05:34] strongduanmu commented on #13404
@ziliangzeng Thank you for your remind, we will upload jdbc jar file later.

[2021-11-03 05:41] tuichenchuxin commented on #13326
@strongduanmu I want to try it.

[2021-11-03 05:47] ziliangzeng commented on #13404
@strongduanmu from now,i can see the jdbc edition,thank you!

[2021-11-03 06:12] LeeGuoPing commented on #13426
please assign it to me

[2021-11-03 06:25] chinadeng opened #13427 "url"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-03 06:30] zjcnb opened #13428 "The keepAliveCron param sync elastic-job when use mysql HA-mgr"
### Which version of ShardingSphere did you use?

master

### Expected behavior

By the `DistSQL` change `keepAliveCron` param can take effect successfully for elastic-job

such as:
[code]

### Actual behavior

it ‘s not change

![image](https://user-images.githubusercontent.com/33742097/140017425-3ff16003-60cb-4adb-8ed3-f0592ad00a91.png)
![image](https://user-images.githubusercontent.com/33742097

[2021-11-03 06:50] strongduanmu opened #13429 "Can not find visitor rule: `KillContext` exception occur"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `kill query` statement success

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when

[2021-11-03 07:06] 5661954 opened #13430 "batch Update statement use case statement get shardingvalue error"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc

when i use  the batch update sql like next:
update test
     set a =case when id=? then ?
                        when id=? then ? end,
         b =case when id=? then ?
                         when id=? then ? end,
         c =case

[2021-11-03 07:08] RaigorJiang commented on #13427
Invalid issue.

[2021-11-03 07:08] #13427 closed

[2021-11-03 07:16] strongduanmu commented on #13429
After I fixed the parsing exception of the kill query statement, I used `crtl + c` to terminate the current query, and the following exception occurred.

[code]

[2021-11-03 07:38] rmzf9192 opened #13433 "Cannot find transaction manager of [BASE]"
java.lang.NullPointerException: Cannot find transaction manager of [BASE]
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:923) ~[guava-30.0-jre.jar!/:?]
	at org.apache.shardingsphere.transaction.ShardingTransactionManagerEngine.getTransactionManager(ShardingTransactionManagerEngine.java:88) ~[sharding-transaction-core-4.1.1.jar!/:4.1.1]
	at org.apache.shardingsphere.shardi

[2021-11-03 08:03] wangeDear opened #13434 "Sharding Scaling dataSource connection is not released when execute check scaling xxxx command"
5.0.0-RC ShardingSphere-Proxy

dataSource connection is not released

log：
[ERROR] 2021-11-02 19:00:02.427 [_finished_check_Worker-1] o.a.s.s.core.job.FinishedCheckJob - scaling job 662316049231773697 finish check failed!
org.apache.shardingsphere.scaling.core.common.exception.DataCheckFailException: get table columns failed
	at org.apache.shardingsphere.scaling.core.job.check.consistency.DataCons

[2021-11-03 08:04] Chillax-0v0 opened #13435 ""SQL checking failed" when "SHOW TABLES""
## Bug Report

Similar to #11550 , but something new.

### Which version of ShardingSphere did you use?
5.0.0-beta

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### What Happened?
I use Aliyun RDS. There's a user named 'root', with nearly all privileges except "Super_priv". Like this:
[code]
( By the way, I can use "SHOW TABLES" without any erro

[2021-11-03 08:06] Chillax-0v0 commented on #13435
@menghaoranss

[2021-11-03 08:18] Chillax-0v0 commented on #13435
I see that I need to "*Assign label after create issue*" [here](https://github.com/apache/shardingsphere/blob/1ea6d35c6a2deacb6e148158c6ac4adc6c60ef38/CONTRIBUTING.md).
But actually I cannot add any label:
![image](https://user-images.githubusercontent.com/78631860/140027681-8fe8efcc-49c6-4228-9fde-412fce3e6627.png)
I'm a newbie to github issues, any suggestions?

[2021-11-03 08:34] carlyin0801 commented on #13423
@strongduanmu Please help me look at this problem.

[2021-11-03 08:39] tuichenchuxin commented on #13326
## Background
Recently, We plan to fully support the openGauss database .  Currently protocol is already supported, so we only need to add openGauss's antlr grammar.
## Design
1. add antlr g4 for openGauss.
2. add test case.

![openGauss_parse](https://user-images.githubusercontent.com/86938616/140030133-2fe02be6-7882-4777-99a4-2a3694a9d399.png)
## Task
- [ ] add antlr g4 for openGauss.
- [ ] supp

[2021-11-03 08:40] strongduanmu commented on #13423
@carlyin0801 Thank you for your feedback, I will check it later.

[2021-11-03 08:47] tuichenchuxin opened #13436 "support openGauss `INSERT ... ON DUPLICATE KEY UPDATE` statement"
This issue is related to #13326
`INSERT INTO ... ON DUPLICATE KEY UPDATE` is supported in openGauss
refer to https://opengauss.org/zh/docs/latest/docs/Developerguide/INSERT.html
 It's different from postgresql grammar. refer to https://www.postgresql.org/docs/14/sql-insert.html
 Since openGauss's antlr grammar is copied from postgresql, So, it needs to be changed.

[2021-11-03 09:24] Swastyy commented on #13425
Hi @RaigorJiang Please assign this to me.

[2021-11-03 09:35] carlyin0801 commented on #13423
@strongduanmu Thank you, this problem is very important. If it is confirmed that the problem can be solved in the latest official version, we plan to use shardingsphere in the production environment

[2021-11-03 09:48] TeslaCN opened #13437 "Why the equal RouteMapper is duplicated in one execution context?"
https://github.com/apache/shardingsphere/blob/1ea6d35c6a2deacb6e148158c6ac4adc6c60ef38/shardingsphere-infra/shardingsphere-infra-executor/src/main/java/org/apache/shardingsphere/infra/executor/sql/context/ExecutionContextBuilder.java#L73-L78

![image](https://user-images.githubusercontent.com/20503072/140038642-acffc9de-73b9-4733-b65b-a901c2734c05.png)

They are equal but not the same instances. C

[2021-11-03 10:00] syz521 opened #13438 "How to get 5.0.0 release package"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-03 10:19] strongduanmu opened #13441 "Discussion on splitting multiple sub modules of infra-executor"
## Background

This issue is a problem encountered during the issue #13091. In order to route accurately for federation executor and hide the actual tables and actual columns, we need to move the route engine, rewrite engine, executor, and merge engine into the federation execution engine, which requires us to add dependencies to the federation execution engine.

The current dependencies are as fo

[2021-11-03 10:36] strongduanmu commented on #13441
@terrymanu @tristaZero Can you help judge whether this plan is feasible?

[2021-11-03 11:03] terrymanu commented on #13441
I just share some ideas:

1. It is better to spilt optimizer and executor, the `infra-executor-federation` maybe does not make sense, federation may belong to optimizer.
2. In the future, the executor may accept more input types, such as: SQL(for now), relnode for query plan (In future).
3. The executor itself should be pluggable and may split by multiple-thread executor and multiple-process execu

[2021-11-03 11:12] strongduanmu commented on #13441
@terrymanu Thank you for your suggestions. In the long run, these works are very valuable. I will consider it and then update this plan.

[2021-11-03 12:21] menghaoranss commented on #13438
@syz521 The 5.0.0  is in the community voting stage and can be downloaded on the official website after it is released.

[2021-11-03 12:26] menghaoranss commented on #13388
which version did you use? please provide logic sql, actual sql and other more log info.

[2021-11-03 12:28] menghaoranss commented on #13434
@sandynz could you have a look here.

[2021-11-03 12:30] menghaoranss commented on #13433
could you provide your configurations?

[2021-11-03 12:36] sandynz commented on #13434
Hi @ccw55ccw ,  it seems no `SELECT` permission for `test` account from error log:

Could you check MySQL `test` account's permissions, e.g. execute following SQL:
[code]

[2021-11-03 15:42] dongzl commented on #13135
I will try it.

[2021-11-04 01:10] strongduanmu commented on #10416
Hi @Swastyy, I have modified this issue, you can try again.

[2021-11-04 01:28] rmzf9192 commented on #13433
#################################### spring配置   start  ####################################
spring:
  main:
    allow-bean-definition-overriding: true
  shardingsphere:
    dataSource:
      names: yst-yym
      yst-yym:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbcUrl: XXXX
        username: XXXX
        password: XXXXX
        # 初始

[2021-11-04 01:37] ccw55ccw commented on #13434
mysql> show grants for 'test';
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Grants for

[2021-11-04 01:38] strongduanmu commented on #13415
@wj-li Thank you for your feedback, I will check it.

[2021-11-04 01:41] ccw55ccw commented on #13434
after check scaling XXX is executed connection will not be release and no exceptions

[2021-11-04 01:44] ccw55ccw commented on #13434
![image](https://user-images.githubusercontent.com/9948504/140243229-7027abed-fc86-44d6-bdc5-3ade9bb6985d.png)
![image](https://user-images.githubusercontent.com/9948504/140243254-631f2443-8242-48d9-9eb5-5a33f64fd4db.png)
![image](https://user-images.githubusercontent.com/9948504/140243272-86c870fa-9b5e-47a6-a767-a67576ddea63.png)

The mysql connection pool will be full in one night

[2021-11-04 02:38] git-chenhao commented on #13347
@TeslaCN These SQL statements will only be executed when they are started for the first time, and will not be executed all the time, because we have statistics on the number of executions of the physical library. During the stress test, the flow of the original library is very low, and there is no situation where these SQLs have been executed all the time.

[2021-11-04 02:52] sandynz commented on #13434
@ccw55ccw You could add `SELECT` permission for `test` account, e.g.
[code]

Thanks for your feedback, I'll investigate the connection pool issue.

[2021-11-04 02:56] marker-wu opened #13448 "Will sharding-proxy delete the schema node affect the use of the function?"
![image](https://user-images.githubusercontent.com/45256940/140250239-0e742547-d596-416e-92e2-5116a83e8cf9.png)

[2021-11-04 03:21] strongduanmu commented on #13430
@tuichenchuxin Can you help check this issue?

[2021-11-04 03:21] tuichenchuxin commented on #13430
@strongduanmu OK, I'll check it.

[2021-11-04 04:45] strongduanmu commented on #13423
@carlyin0801 Can you try the master branch? I think this bug has been fixed. You can refer #12936 for more detailed info.

[2021-11-04 04:58] strongduanmu commented on #13235
Since this problem has not reproduced in the master branch, I will close this issue first. If you encounter other problems, please send feedback on the issue. Thank you.

[2021-11-04 04:58] #13235 closed

[2021-11-04 05:08] pandatop opened #13453 "When will this project start to support jdbc4.2？"
When will the project support jdbc4.2?
The mybatis vrsion I use is 3.5.7, and the sharding-jdbc version is 4.1.1. The enumeration and LocalDateTime type fields in the entity class have to write their own processors. And sharding-jdbc5.0.0-beta still does not support jdbc4.2

[2021-11-04 05:37] #13415 closed

[2021-11-04 05:55] strongduanmu commented on #13415
@wj-li Can you help test this bug on master? I have fixed it.

[2021-11-04 06:01] linghengqian commented on #13453
Uh, what are the features of `JDBC4.2` for `LocalDateTime` in JAVA? In `ShardingSphere-JDBC` and `ShardingSphere-Proxy` to `5.0.0-beta`, `LocalDateTime` is properly recognized by `CLASS_BASE` to custom sharding algorithms.

[2021-11-04 06:08] wangeDear opened #13455 "LOCAL TransationType unable to enable"
vsersion: sharing proxy 5.0.0-RC

here server.xml:

[code]

start log:
[INFO ] 2021-11-04 14:04:13.919 [main-EventThread] o.a.c.f.state.ConnectionStateManager - State change: CONNECTED
[INFO ] 2021-11-04 14:04:14.046 [main-EventThread] o.a.c.framework.imps.EnsembleTracker - New config event received: {}
[INFO ] 2021-11-04 14:04:14.046 [main-EventThread] o.a.c.framework.imps.EnsembleTracker - New c

[2021-11-04 06:12] pandatop commented on #13453
![image](https://user-images.githubusercontent.com/86768666/140266047-b9483ba8-bc36-41ec-bb32-1d339fa9fdff.png)
![image](https://user-images.githubusercontent.com/86768666/140266117-e12e4e56-aec0-4c09-b997-28f16c1925f2.png)
![image](https://user-images.githubusercontent.com/86768666/140266253-458561f1-b49e-4596-a7d1-90ae23bbc9d6.png)

Because in mybatis 3.5.7 corresponding to the result of LocalDa

[2021-11-04 06:24] LeeGuoPing commented on #9608
@JiekerTime Now,there is no `containAllTablesWithColumnMetaData` method in `DatabaseCommunicationEngine`, can you retry it with the latest version?

[2021-11-04 06:29] carlyin0801 commented on #13423
@strongduanmu Thank you, How can I use the package of the master branch?

[2021-11-04 06:40] strongduanmu commented on #13423
@carlyin0801 You can download here——http://117.48.121.24:8080/.

[2021-11-04 07:17] strongduanmu opened #13456 "Support more query statements to convert between SQLStatement and SqlNode"
This issue is a subtask of #13091.

At present, we have carried out a parameterized unit test for SQLStatement convert in the `shardingsphere-optimize-test` module, but there are still many scenarios that do not support. We need to support more query statements and support more database dialects.

Considering the importance of this task, I would like to invite @LeeGuoPing to participate in this wo

[2021-11-04 07:18] LeeGuoPing commented on #13456
please assign it to me

[2021-11-04 08:26] xiehaib opened #13459 "Shardingsphere-jdbc does not support Propagation. NESTED ?"
## Because `Propagation.NESTED` depend on SavePoint ?

[2021-11-04 08:33] haoqi123 commented on #13083
我是gitee上的原贡献者，没有及时看到消息，心理难受没有帮上忙，很抱歉

[2021-11-04 08:47] TeslaCN opened #13460 "Tests in shardingsphere-proxy-backend may fail"
## Bug Report

### Which version of ShardingSphere did you use?
master - ad529a8ee7e06fc76225608888729a23ec4473f4

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior
Build `shardingsphere-proxy-backend` successfully.

### Actual behavior
[code]

[2021-11-04 09:01] RaigorJiang commented on #13083
@haoqi123
Sorry for that, and only English can be used here, please translate and edit the comment, thank you

[2021-11-04 09:04] chengh1 opened #13461 "The proxy is not restarted after modifying the table structure without proxy, returned queryheader and columns are not expected"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-04 09:18] RaigorJiang opened #13462 "Connection timeout exception cannot be displayed correctly in Local transaction."
## Bug Report

### Which version of ShardingSphere did you use?

ShardingSphere-Proxy, master branch

### Expected behavior
show accurate error message

### Actual behavior
Some users have reported that if the database connection times out after the `LOCAL` transaction has begun for a certain period of time, an exception will occur when the commit statement is executed. (It is normal for an except

[2021-11-04 09:38] carlyin0801 commented on #13423
@strongduanmu thanks,I imported all these packages into the project and executed the logic to report errors.

![企业微信截图_16360178047046](https://user-images.githubusercontent.com/5268164/140291259-795c1570-2a0b-4ade-9a9d-5d125bfb11c8.png)
![企业微信截图_1636017819629](https://user-images.githubusercontent.com/5268164/140291276-a3c6a771-e78b-405f-8e3b-d8ce12e3492a.png)

[2021-11-04 09:40] wj-li commented on #13415
Yes,I've tested it and it is working. Good Job!

[2021-11-04 09:49] TeslaCN commented on #13461
DDL should be executed in Proxy, otherwise the meta data will be inconsistent.

[2021-11-04 09:51] #10983 closed

[2021-11-04 09:52] TeslaCN commented on #13455
Just remove the following blocks, and then the LOCAL transaction will be enabled.
[code]

[2021-11-04 09:54] TeslaCN commented on #13453
The version `4.1.1` is no longer maintained. Could you try the latest version?

[2021-11-04 09:56] #13462 closed

[2021-11-04 11:21] lanchengx commented on #13333
Hi, @terrymanu
The `shardingsphere-distsql-handler` module may not be added
I found that some handler classes that will be moved have a lot of dependencies on other modules, such as `shardingsphere-sql-parser-statement`, `shardingsphere-infra-common`, etc., which will complicate the dependency of `shardingsphere-distsql` .

[2021-11-04 11:25] chengh1 commented on #13461
If we execute ddl in the cluster, before all nodes are aware of the latest metadata, the sql executed at this time may have the problems mentioned above. How does shardingSphere solve it now?

[2021-11-04 11:38] #13135 closed

[2021-11-04 13:42] gooddr opened #13465 "When JSON appears， SQL parse has error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-04 15:09] cheese8 commented on #12825
Plans to split into below sub-PRs to submit:
- [ ] Support not nested subquery (from Projections, TableSegment and Expression) on SelectStatement
- [ ] Support not nested subquery (from Projections, TableSegment and Expression) on UpdateStatement
- [ ] Support not nested subquery (from Projections, TableSegment and Expression) on DeleteStatement

[2021-11-04 15:35] cheese8 commented on #9893
I'll try to fix it in PostgreSQLTableMetaDataLoader, please assign it to me, thanks. @terrymanu  @tristaZero

[2021-11-04 23:55] #13148 closed

[2021-11-04 23:58] strongduanmu commented on #13465
Hi @gooddr, thank you for your feedback, can you try the latest version?

[2021-11-05 01:16] #13400 closed

[2021-11-05 01:56] lanchengx commented on #13407
Hi @RaigorJiang  @sandynz, the function has been implemented

[2021-11-05 02:03] ccw55ccw commented on #13455
i have tried,it doesn't work,AtomikosTransactionManager always registed.

[2021-11-05 02:08] ccw55ccw commented on #13434
I found out through debugging that the lower version of Atomikos may cause connection leaks.
when i replace another version of Atomikos 5.0.8 the connection leaks  didn't not happened.

[2021-11-05 02:22] TeslaCN commented on #13461
If you execute DDL in cluster, the meta data will be updated immediately.

[2021-11-05 02:27] dongzl commented on #13145
I will try it.

[2021-11-05 02:31] chengh1 commented on #13461
There is a certain delay in the meta update of all instances. In the case of high concurrency, during the period before all meta updates, there may be the problems mentioned above.Does the proxy deal with this situation?  @TeslaCN

[2021-11-05 02:40] tuichenchuxin commented on #13430
@5661954 I have tested this issue on master branch, It's ok now.
Can you try 5.x version, we have optimized a lot.

[2021-11-05 02:53] terrymanu commented on #9893
@cheese8 Great, welcome to resolve the issue

[2021-11-05 02:54] TeslaCN commented on #13461
Could you tell me something about your scenario? Why would you execute DDL when your services are busy?

[2021-11-05 02:55] #9893 closed

[2021-11-05 02:56] #13436 closed

[2021-11-05 03:01] #9951 closed

[2021-11-05 03:04] terrymanu commented on #13448
I can get your point, could you describe you expectation?

[2021-11-05 03:07] terrymanu commented on #13437
The proposal of spilt ExecutionContext and RouteContext is decouple these 2 modules, keep one module has independent context.

I am not sure merge or not, the class ExecutionContext and RouteContext contains same fields, but still contains different fields, it can not reuse the whole class.

[2021-11-05 03:09] TeslaCN commented on #13437
Thanks for your answer!

[2021-11-05 03:09] #13437 closed

[2021-11-05 03:10] terrymanu commented on #13388
Hi, ORM integrate is not the scope which we served.
Please start discuss after dig to JDBC layer.

[2021-11-05 03:10] #13388 closed

[2021-11-05 03:38] lanchengx commented on #13460
@wangchengming666 Sorry, this test may need some changes, @TeslaCN please assign to me

[2021-11-05 05:35] RaigorJiang commented on #13435
Hi @Chillax-0v0
Thanks for your feedback, your analysis is very detailed.
Now let us wait for CI to pass.

[2021-11-05 05:45] wangeDear opened #13471 "lower verion atomikos refreshXAConnect occurs connection leaks"
### Which version of ShardingSphere did you use?
5.0.0-RC

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
connection leaks

### Reason analyze (If you can)
lower verion atomikos bug

atomikos issues：
https://github.com/atomikos/transactions-essentials/issues/152

[2021-11-05 06:19] #13435 closed

[2021-11-05 06:47] tuichenchuxin opened #13474 "mysql parse alter table drop constraint error"
[code]
when I parse this sql , we will get an error.
[code]

[2021-11-05 06:55] gooddr commented on #13465
ok.i will try. thanks.

[2021-11-05 07:15] RaigorJiang commented on #13460
Hi @wangchengming666
@lanchengx  removed the risky get method to avoid CI failure. Do you have any other suggestions?

[2021-11-05 09:26] #13474 closed

[2021-11-05 09:33] sandynz commented on #13434
@ccw55ccw Thanks for sharing.

I tested with version `4.0.6` and `5.0.8`, that's true. I found the code difference of these two versions.

In XATransactionalResource.setRecoveryService (version 4.0.6)
[code]

In XATransactionalResource.setRecoveryService (version 5.0.8)
[code]
Invocation of `recover()` is the difference.

Part of stack trace of new connection created in version 4.0.6:
[code]

I ha

[2021-11-05 09:33] strongduanmu commented on #13423
@carlyin0801 Thank you for your test, The 5.0.0 GA version is currently being released and will be released after the vote is passed.

[2021-11-05 09:34] strongduanmu commented on #13423
I will close this issue first. If there are other issues using the 5.0.0 GA version later, please submit your issue feedback, thank you.

[2021-11-05 09:34] #13423 closed

[2021-11-05 09:50] TeslaCN commented on #13460
@lanchengx
I checked the code. My suggestion is replacing `org.apache.shardingsphere.proxy.backend.context.ProxyContext#contextManager` with a mock object before test and restore contextManager after test.

[2021-11-05 11:41] sandynz commented on #13471
Thanks for your feedback. Since you've mentioned it in #13434, we could discuss it there.

[2021-11-05 12:06] marker-wu commented on #12472
it build failed on the latest master branch，Can you help provide new build commands？thank you

[2021-11-05 12:32] sandynz commented on #13407
@lanchengx Thanks! I'll verify it a little later.

[2021-11-05 12:42] #13007 closed

[2021-11-05 12:48] sandynz commented on #13007
There might be a little refactoring to do, I'll check it later.

[2021-11-05 14:05] RaigorJiang commented on #12472
![image](https://user-images.githubusercontent.com/5668787/140522940-69464de1-a06a-42fd-b9ab-c50f1b08a48d.png)

@marker-wu  I used this command to build successfully, maybe you can try again.

[2021-11-05 14:07] #10991 closed

[2021-11-05 14:08] #10972 closed

[2021-11-05 14:08] RaigorJiang commented on #10972
done.

[2021-11-05 15:35] yixianluo opened #13480 "getting data from resultset occur index out of bounds"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-05 15:56] RaigorJiang commented on #13455
type: Cluster
  repository:
    type: ZooKeeper
    props:
      namespace: governance_ds
      server-lists: local.zookeeper.cn:2181
      retryIntervalMilliseconds: 500
      timeToLiveSeconds: 60
      maxRetries: 3
      operationTimeoutMilliseconds: 500
  overwrite: false

@wangeDear You need to change the `overwrite` to `true`.

[2021-11-06 00:08] Jenyow commented on #13438
When does it end?

[2021-11-06 05:24] lanchengx commented on #13460
Thanks, i will try

[2021-11-06 08:08] #13130 closed

[2021-11-06 08:10] strongduanmu commented on #13480
@yixianluo Thank you for your feedback, I will check it.

[2021-11-06 08:17] strongduanmu opened #13483 "Consider merge two FunctionSegements with the same name"
## Feature Request

Currently, there are two FunctionSegments with the same name in the parsing module. We need to investigate whether they have the same meaning. If possible, I suggest combining them into one FunctionSegment. If they have different meanings, we should consider using different names.

![image](https://user-images.githubusercontent.com/10829171/140603041-59086c74-fea9-49cc-8890-64c

[2021-11-06 09:05] wuguanyu commented on #2822
Caused by: java.lang.NullPointerException: null
at org.apache.shardingsphere.shardingjdbc.jdbc.adapter.AbstractStatementAdapter$1.execute(AbstractStatementAdapter.java:59)

I also encounter this issue？

[2021-11-06 09:06] wuguanyu commented on #2822
Why close this issue？

[2021-11-06 09:10] Dr-wgy opened #13484 "shardingjdbc encrypt null exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-06 09:51] wuguanyu commented on #13484
![image](https://user-images.githubusercontent.com/24486917/140605480-c42c18de-f421-489d-babb-f9b52593d952.png)

[2021-11-06 09:58] strongduanmu commented on #13484
@wuguanyu Can you try the latest version? `4.0.0-RC2` is too old.

[2021-11-06 10:41] pandatop commented on #13453
Yes, I read the code of 5.0.0-beta, it still doesn't support it

[2021-11-06 12:07] yx9o opened #13488 "Unify `@throws SQLException` comments."
Hi, community, I found that there are several styles of `@throws SQLException` comments in the current master.
for example:

![image](https://user-images.githubusercontent.com/12792261/140607379-2121dff4-734b-4b82-baa8-1b41d7d36ea7.png)
![image](https://user-images.githubusercontent.com/12792261/140607182-be07800e-caa3-47ee-89d2-400d420c6352.png)

I want to unify them into: `SQL exception`.