[2020-03-22 12:09] tristaZero commented on #4889
### How to find the targets to be fixed?
1. Open class `ColumnPositionAssert` and clear the comment of `SQLSegmentAssert.assertIs(assertContext, actual, expected)` in `assertIs`.
2. run `SQLParserParameterizedTest`
3. All the SQL cases which have the error assertion results are our targets to be fixed.

### How to fix the above assertion results?
1. Look at the exception log and find the correspon

[2020-03-22 12:12] tristaZero opened #4890 "Add start-index and stop-index assertion for ConstraintDefinitionSegment"
Hi, we are glad you can fix this issue to become a contributor to Apache Sharding Sphere.
Welcome! 😃

By doing this assignment, you can learn more about how a query SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

**This issue is to** add the parsing assertion for `ConstraintDefinitionSegment ` by adding the `start-index` and `stop-index` attributes in `parsin

[2020-03-22 12:20] tristaZero commented on #4890
### How to find the targets to be fixed?
1. Open class `ConstraintDefinitionAssert` and clear the comment of
[code]
            <constraint-definition start-index="10" stop-index="11" />
[code]
            constraint-definition value="init" literal-start-index="10" literal-stop-index="11" />
[code]
CREATE TABLE t_order (order_id INT, user_id INT, status VARCHAR(10), column1 VARCHAR(10), column2 VA

[2020-03-22 16:51] ssaify commented on #4890
I would like to work on this issue.

[2020-03-22 17:45] ranjeet-floyd commented on #4786
@kimmking  i am working on it.

[2020-03-23 00:32] codefans opened #4892 "cannot create directory due to Filename too long in Win10"
## Bug Report

**For English only**, other languages will not accept.

when i clone this repository in Git Bash of Win10, it occur error:
cannot create directory at 'sharding-transaction/sharding-transaction-2pc/sharding-transaction-xa/sharding-transaction-xa-atomikos/sharding-transaction-xa-atomikos-manager/src/main/java/org/apache/shardingsphere/transaction/xa/atomikos/manager': Filename too lon

[2020-03-23 01:16] jingshanglu commented on #4885
I'll support

[2020-03-23 01:26] yu199195 commented on #4892
Hi, set  git config --global core.longpaths true.

[2020-03-23 01:38] geomonlin commented on #4832
@tristaZero Hi, This can be close

[2020-03-23 02:05] xulongZY opened #4893 "sharding-transaction-base-seata-at 4.0.1 +mybaties 3.5 init shardingDataSource is Fail"
Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2020-03-23 10:01:23.010 [DEBUG] com.zaxxer.hikari.pool.HikariPool$PoolEntryCreator 709 call - HikariPool-5 - Added connection com.mysql.cj.jdbc.ConnectionImpl@7de3f5dd
2020-03-23 10:01:23.014 [ERROR] org.springframework.boot.SpringApplication 823 reportFailure - Application run failed

[2020-03-23 02:26] kimmking commented on #4892
you should turn on longpath options of Windows.

[2020-03-23 02:31] kimmking commented on #4893
incorrectly 'sqlSessionFactory' defined.

[2020-03-23 02:34] tristaZero commented on #4832
@geomonlin @fantacy2001
So What's the conclusion?

[2020-03-23 02:34] JasonKing168 commented on #4889
I'd like to fix them.

[2020-03-23 02:41] tristaZero commented on #4889
@JasonKing168
I'd like to see your avatar on our `Overview` page[1], good job. :)
[1] https://github.com/apache/incubator-shardingsphere/pulse

[2020-03-23 02:48] tristaZero commented on #4890
@ssaify Hi guy, this is the first time for me to see your activity in ShardingSphere community, welcome!

[2020-03-23 02:49] tristaZero commented on #4890
I assigned this issue to you, waiting for your feedback later.

[2020-03-23 02:53] kimmking commented on #4773
## 20200323
After this issue occurs again in 3.20, we found the "curator client"(clientA) in unit test case was not the same of CenterRepository "client"(clientB).
When the test class initialized, a testingserver(serverA) started and clientA is connecting to serverA.
And then in serveral test cases, testingserver renewed to severB，serverC&severD，with clientB changed to clientC, clientD, ClientE, n

[2020-03-23 03:10] tristaZero commented on #4881
@jikoy Please abide by the Apache community rule to communicate in English.
As @kimmking said, there is no plan to develop proxy for MS. If you are interested in it, welcome join us to do so.

[2020-03-23 03:10] #4881 closed

[2020-03-23 03:18] cherrylzhao commented on #4882
hi, you should build the sharding-proxy by yourself from source code.
1. git clone shardingshpere project
2. add  seata dependencies in the pom.xml of sharding-proxy-distribution like this
[code]
3. then execute mvn install -Prelease

[2020-03-23 03:23] cherrylzhao commented on #4884
you should make sure 'transaction.service.group = my_test_tx_group' of seata.conf is same with seata-server side configuration

[2020-03-23 03:35] cherrylzhao commented on #4886
hi, this configuration is not needed, ShardingSphere have wrapped the XA transaction manager, you can use it just like local transaction.
[code]
also you should make sure our XA transaction example can run in your local environment at first

[2020-03-23 03:39] cherrylzhao commented on #4893
please make sure Seata transaction example can run in your local environment at first, i think your configuration of Seata is not right.
https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-base-seata-raw-jdbc-example

[2020-03-23 04:26] kimmking opened #4896 "[DISCUSS]MetadataCenter Design 5.x"
MetadataCenter Design5.x is a part of Orchestration 5.x Design(#4515).

## Metadata Center Design

The purpose of this document is to illustrate the metadata center design of the Apache ShardingSphere governance module.

[TOC]

### 1. Definition

The word 'metadata' in this article is the metadata of the data source used by Sharding-JDBC / Sharding-Proxy. These metadata are the core data objects t

[2020-03-23 04:28] ssaify commented on #4890
Thanks for assigning me this issue. I am new to open source community. I have started working on the issue. Would it be okay if I contact you if I have any doubts or any problem?

[2020-03-23 04:41] ssaify commented on #4890
Thanks for assigning me this issue. I am new to open source community. I have started working on the issue. Would it be okay if I contact you if I have any doubts or any problem?

[2020-03-23 05:28] codefans commented on #4892
thanks, I just think the user experience is not good

[2020-03-23 05:28] codefans commented on #4892
thanks, I just think we should try to reduce obstacles for users.

[2020-03-23 06:14] #4889 closed

[2020-03-23 06:23] #4681 closed

[2020-03-23 07:17] kimmking commented on #4892
@codefans Any idea to avoid this issue?

[2020-03-23 08:41] xianlongbai commented on #4886
also you should make sure our XA transaction example can run in your local environment at first ，What does this mean?

[2020-03-23 08:56] xianlongbai commented on #4886
---
first, Removing this configuration still causes the same error, so In my services layer code, is the transaction opened correctly?

**Secondly, my local data source configuration is as follows:**

@Configuration
@MapperScan(basePackages = "com.standard.dao.releaseDao", sqlSessionTemplateRef  = "sqlSessionTemplateTwo")
public class DataSourceTwoConfig {

    @Bean(name = "dataSourceTwo")
    @C

[2020-03-23 08:59] Ltyro opened #4898 "containStar"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-03-23 08:59] #4898 closed

[2020-03-23 09:42] yu199195 commented on #4896
good issues

[2020-03-23 09:53] xianlongbai commented on #4886
org.springframework.web.util.NestedServletException: Handler dispatch failed; nested exception is java.lang.NoClassDefFoundError: com/atomikos/icatch/HeuristicMessage，What is this class?

[2020-03-23 10:42] wangjing112 commented on #4707
proxy log
`
2020-03-11 15:39:06,171 [ShardingSphere-Command-4] INFO [ShardingSphere-SQL] Actual SQL: r_game_sub0 ::: select 1
2020-03-11 15:39:06,219 [ShardingSphere-Command-7] INFO [ShardingSphere-SQL] Rule Type: sharding
2020-03-11 15:39:06,219 [ShardingSphere-Command-7] INFO [ShardingSphere-SQL] Logic SQL: select stagechapt0_.chapterId as chapterId7_, stagechapt0_.roleId as roleId7_, stagechapt

[2020-03-23 10:45] wangjing112 commented on #4707
find same wrong on other table.

[2020-03-23 10:46] xianlongbai commented on #4886
It's not good to write like this. Is there something wrong with this version?

    @ShardingTransactionType(TransactionType.XA)
    @Transactional
    public void testTrans() {
        TransactionType transactionType = TransactionTypeHolder.get();
        for (int i = 0; i < 100; i++) {
            Order order = new Order();
            order.setOrderId((long)i+1);
            int number = new Ran

[2020-03-23 11:09] wangjing112 opened #4901 "proxool pool ,jdbc yaml can't run proxy.ProxoolDataSource cannot be cast to YamlDataSourceParameter"
use proxool pool in jdbc is work fine;
the cfg

dataSources:
  db0: !!org.logicalcobwebs.proxool.ProxoolDataSource
    alias: raid-game0
    driverUrl: jdbc:mysql://host0:3306/db0?useUnicode=true&characterEncoding=utf-8&useServerPrepStmts=true&autoReconnect=true
    driver: com.mysql.jdbc.Driver
    user: root
    password: 123456
  db1: !!org.logicalcobwebs.proxool.ProxoolDataSource
    alias: ra

[2020-03-23 11:13] sebbASF opened #4902 "Disclaimer - incorrect text"
The disclaimer has some incorrect text:

"Apache ShardingSphere is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the name of The Apache Incubator."

This should read:

"Apache ShardingSphere is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator."

[2020-03-23 11:16] ranjeet-floyd commented on #4786
@kimmking  @terrymanu  Raised PR https://github.com/apache/incubator-shardingsphere/pull/4900/files

[2020-03-23 12:56] wangjing112 opened #4904 "proxy4.0.1 PREPARE SQLParsingException"
proxy v4.0.1

exec sql:
PREPARE stmt1 FROM 'SELECT * from table where id=?';
set @id  = 12;
EXECUTE stmt1 USING @id;

error log:

line 1:0 no viable alternative at input 'PREPARE'
line 1:0 mismatched input 'PREPARE' expecting {SELECT, INSERT, UPDATE, DELETE, CREATE, ALTER, DROP, TRUNCATE, GRANT, REVOKE, SET, WITH, DESC, BEGIN, COMMIT, ROLLBACK, SAVEPOINT, CALL, USE, DESCRIBE, SHOW, REPLACE, START,

[2020-03-23 13:27] kimmking commented on #4902
hi，sebb @sebbASF
Do you means https://github.com/apache/incubator-shardingsphere/blob/master/DISCLAIMER ?

[2020-03-23 13:38] kimmking commented on #4901
just remove " !!org.logicalcobwebs.proxool.ProxoolDataSource"

[2020-03-23 13:54] sebbASF commented on #4902
I meant the footer on main page of website, i.e. at
http://shardingsphere.incubator.apache.org.

[2020-03-23 13:57] kimmking commented on #4902
Got it. And will modify it sooner.

[2020-03-23 14:40] codefans commented on #4892
Is it possible change:
sharding-transaction
	sharding-transaction-2pc
		sharding-transaction-xa
			sharding-transaction-xa-atomikos
				sharding-transaction-xa-atomikos-manager
					src/main/java/org/apache/shardingsphere/transaction/xa/atomikos
to:
sharding-transaction
	sharding-transaction-2pc-xa
		src/main/java/org/apache/shardingsphere/transaction/xa/atomikos
		src/main/java/org/apache/shardin

[2020-03-23 15:19] #4786 closed

[2020-03-23 15:20] terrymanu commented on #4786
@ranjeet-floyd Thank you very much, already merged.

[2020-03-23 15:31] #4902 closed

[2020-03-23 15:34] terrymanu commented on #4902
Hi @sebbASF,

Thanks for your kind reminder. I fixed it by [1].

[1] https://github.com/apache/incubator-shardingsphere-doc/commit/3113b1b16f9d5ceb3db31f21170526d9e89bb3b7

[2020-03-23 18:35] kimmking commented on #4892
many subproject contains files that exceed window default path-length, this is not a small issue in this way.

[2020-03-23 18:37] kimmking commented on #4886
atomikos is in your classpath?

[2020-03-24 01:36] kimmking opened #4906 "Add several Chinese version documents"
Hi,  there are some files in English version, we can add a Chinese version for each:
- [ ] https://github.com/apache/incubator-shardingsphere/blob/master/examples/docker/docker-compose.md
- [x] #2923 https://github.com/apache/incubator-shardingsphere/blob/master/examples/README.md
- [x] #4909 https://github.com/apache/incubator-shardingsphere/blob/master/sharding-scaling/README.md
- [x] $4914 http

[2020-03-24 02:01] kimmking opened #4907 "Upgrade several dependencies to jdk8 version"
Since we upgrade project jdk version to jdk8, there several dependencies still are compatible packages with jdk7.
- hikariCP-java7:2.4.11  -> hikariCP:3.4.2, the latest release version.
- postgresql:42.2.5.jre7  -> postgresql:42.2.5, the java8 version of the origin.
- mssql:6.1.7.jre7-preview  -> mssql:6.1.7.jre8-preview, the java8 version of the origin.
- examples/docker, java7  -> java8

Cause c

[2020-03-24 02:02] edidada commented on #4906
I will translate it,any problem?

[2020-03-24 02:05] meAsky commented on #4906
I want to try the second file @kimmking

[2020-03-24 02:10] strongduanmu commented on #4906
I want to translate the third file @kimmking

[2020-03-24 02:20] kimmking commented on #4906
Got it, @edidada @meAsky @strongduanmu
You can complete your own task now.

[2020-03-24 02:23] xianlongbai commented on #4886
yes

[2020-03-24 02:30] tristaZero commented on #4781
@zjcnb Hi How about this issue? If you have any problems, please be free to tell us.

[2020-03-24 02:30] xianlongbai commented on #4886
Do you need to add this configuration?
    @Bean(name = "transactionManager")
    public JtaTransactionManager regTransactionManager () {
        UserTransactionManager userTransactionManager = new UserTransactionManager();
        UserTransaction userTransaction = new UserTransactionImp();
        return new JtaTransactionManager(userTransaction, userTransactionManager);
    }

[2020-03-24 02:34] tristaZero commented on #4890
Of course, please be free to contact us if you have any problems.

[2020-03-24 03:06] wangjing112 commented on #4707
i found if the verchar data is "null" ,then string result possible have wrong value.

[2020-03-24 03:10] zjcnb commented on #4781
Hi, I'll finished this week, I've been a bit busy at work recently

[2020-03-24 03:38] edidada commented on #4906
I have finish it，how I can send file to you？

[2020-03-24 03:56] wangjing112 commented on #4707
a eg:
query by DBeaver ,data a=‘[{"id":1,"lv":0}]’ data b='[]'
![image](https://user-images.githubusercontent.com/51982240/77386197-3b5a9b00-6dc5-11ea-8fc7-9f0e2601667f.png)

in hibernate result return objects, data a='{"id":1,"lv":0}][]        '  and len=91,data b=''
![image](https://user-images.githubusercontent.com/51982240/77386415-b15f0200-6dc5-11ea-8098-3028fe225fe0.png)
see the string byte

[2020-03-24 04:18] wangjing112 commented on #4707
if i set not null value to the String data no1 and no2,then is get correct result.
![image](https://user-images.githubusercontent.com/51982240/77387871-85de1680-6dc9-11ea-8f68-f340da84e217.png)

[2020-03-24 04:24] tuohai666 commented on #4892
@codefans Maybe we could change the path this time, but long filename will always happen in future.
I agree with @yu199195 and @kimmking, these configuration also useful to other projects, developers have to know how to set.

[2020-03-24 04:24] #4892 closed

[2020-03-24 04:41] #4907 closed

[2020-03-24 04:48] strongduanmu commented on #4906
This document has been translated, help me review [this code](https://github.com/apache/incubator-shardingsphere/pull/4909) please.

[2020-03-24 04:55] strongduanmu commented on #4906
I want to translate the remaining two documents.

[2020-03-24 06:45] leehom opened #4910 "how to integerating sharding and non-sharding transaction with xa"
ss supports xa with sharding datasource，but in most time，we have other non-sharding tables，how to integerating them into a transaction with xa？

[2020-03-24 06:51] tristaZero commented on #4885
Reviwing this issue, it is inferred that the main sub-tasks are
- [ ] Refactor current `SelectStatement` to include `TableReferenceSegment`
- [ ] Parse out `JoinTableSegment`.
So you can process this issue according to the original todo list or split this one to current sub-tasks. It depends on you. BTW, do you think 2~3 weeks is enough to finish it?

[2020-03-24 07:59] minli04g opened #4913 "The diagram in English document contains Chinese characters."
## Bug Report

https://shardingsphere.apache.org/document/current/en/features/sharding/principle/rewrite/

![image](https://user-images.githubusercontent.com/18209024/77401605-2f340500-6de8-11ea-8887-336c4b1e44c0.png)

[2020-03-24 10:15] tristaZero opened #4919 "ShardingProxy can not load `shardingAlgorithm.jar` from an external path"
- [ ] Modify Dokerfile
- [ ] Update [ShardingSphere doc](https://shardingsphere.apache.org/document/current/cn/manual/sharding-proxy/docker/)
- [ ] Update [docker hub description](https://hub.docker.com/r/apache/sharding-proxy/)

[2020-03-24 10:50] minli04g commented on #4913
https://shardingsphere.apache.org/document/current/en/manual/sharding-ui/usage/registry-center/

[2020-03-24 12:03] ruanjiehui commented on #4820
@terrymanu I want to finish the rest test case, Test case of OrchestrationProperties and  Test case of NacosProperties.

[2020-03-24 12:18] pkwenda opened #4921 "Is this UI module available ?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-03-24 12:19] pkwenda commented on #4921
this label is `UI`.  please

[2020-03-24 12:40] pkwenda commented on #4921
I have configured zookeeper in Java yml

![image](https://user-images.githubusercontent.com/14212375/77426524-9ca75c00-6e0f-11ea-83fd-834a4eb1f458.png)

in ui project :

![image](https://user-images.githubusercontent.com/14212375/77426585-be084800-6e0f-11ea-8ccf-823f623479cc.png)

[2020-03-24 13:25] tristaZero commented on #4885
The final parsed result assertion in `xml` is
[code]

[2020-03-24 15:18] kimmking commented on #4921
which version?

[2020-03-24 15:27] kimmking commented on #4921
@menghaoranss will follow this issue.

[2020-03-24 16:19] SanmuWangZJU commented on #4921
I think you can refer to source code in `sharding-ui-backend` module while filling config in ui.

- for version 4.x, config check/update/load are implement in `org.apache.shardingsphere.ui.servcie.impl`

- `Props` can refer to `org.apache.shardingsphere.ui.util.ConfigurationYamlConverter#loadProperties` , content should like [official guide](https://shardingsphere.apache.org/document/current/en/ma

[2020-03-25 03:14] tristaZero commented on #4913
@minli04g Hi thanks for bringing them up. Would you like help ShardingSphere fix the second one?
It seems easy, but is the first step to join in community
@terrymanu The image needs updating as the first one said.

[2020-03-25 04:14] #4645 closed

[2020-03-25 05:05] ranjeet-floyd commented on #4784
@terrymanu Can you please help me to find issue.

[2020-03-25 06:05] ssxlulu commented on #3849
Now, we haven't have good method for PostgreSQL's privilege check.
We need replication privilege for PostgreSQL's real-time data migration,which is defined in the pg_hba.conf, so we can't read the file for privilege checking via connection.

Anyone who has a good idea for the PostgreSQL's privilege checking, please reply to this issue.Thanks~

[2020-03-25 06:26] tristaZero opened #4928 "Make official website prominent in Apache way."
The following todo list to make website prominent in Apache way, and also it is time to make website more friendly for users and contributors.

- [x] Move all the links concerning Apache to the header.
- [x] Remove `SCM` drop-down list
- [x] Add `gitHub` label to the right of the page[1]
- [x] Remove the sub-item of `Community` drop-down list
- [x] Change `Download` drop-down list to `Download` bu

[2020-03-25 07:18] #4835 closed

[2020-03-25 07:29] wuguowei19880907 opened #4930 "why sharding has many unsupported operation"
## Question

I know that the sharding has many unsupported operation like
 - AbstractUnsupportedOperationDataSource.setLoginTimeout()
 - AbstractUnsupportedOperationResultSet.getRow()
 - and so on.

If I have only **one datasource** and only use the **encryption**,
Could I use the originalDatasource.setLoginTimeout or the originalResultSet.getRow instead of just **throw SQLFeatureNotSupportedExcep

[2020-03-25 07:30] #3873 closed

[2020-03-25 07:37] terrymanu commented on #4930
ShardingSphere is an open source project.
The project is not a final status, it still in dev mode.
Please join and contribute together.

[2020-03-25 07:42] menghaoranss commented on #3873
The current menu has been adjusted to :
[code]
And keep the name of `Rule Config` and `Runtime Status`，we can discuss whether these names are appropriate later.

[2020-03-25 07:44] hailinmo commented on #4928
Please assign to me, thx.

[2020-03-25 07:58] wuguowei19880907 commented on #4930
I will do that,but i wonder why just throw exception？

[2020-03-25 08:11] menghaoranss commented on #4921
@pkwenda you can refer to reply from @SanmuWangZJU , and we will add  configuration examples on the UI in subsequent versions.

[2020-03-25 08:14] terrymanu commented on #4930
You may know which do you want to do, what is your expected and design, how the current codes works.

[2020-03-25 08:38] terrymanu commented on #4862
What is content in the class `org.apache.shardingsphere.sharding.rules.standard.SimpleHashShardingAlgorithm`?

[2020-03-25 08:39] liuhonglin opened #4931 "Is there apm-sharding-sphere-4.x-plugin-7.0.0.jar for skywalking7.0"
ShardingExecuteDataMap class path is org.apache.shardingsphere.core.execute.ShardingExecuteDataMap at version 4.0.0-RC1 to 4.0.0-RC3, however, from version 4.0.0 the path was changed to org.apache.shardingsphere.core.execute.engine.ShardingExecuteDataMap.
skywalking-agent throw exception as
java.lang.NoClassDefFoundError: org/apache/shardingsphere/core/execute/ShardingExecuteDataMap

[2020-03-25 08:43] pkwenda commented on #4921
I have a question.

Why YamlTableRuleConfiguration.java  not have `defaultKeyGenerator` and `defaultDatabaseStrategy` field ？

because I add this yml setting

[code]
it is wrong

![image](https://user-images.githubusercontent.com/14212375/77517427-0f1f4700-6eb7-11ea-9e83-87cc7b1b2aeb.png)

but I write another way is ok （del defaultXXX yml key ）：

[code]

Was it designed this way ？ OR BUG ？

IF it

[2020-03-25 08:45] terrymanu commented on #4861
What is your sharding rule configuration?

[2020-03-25 08:46] pkwenda commented on #4921
I can run, and i can find info at zookeeper now ! thank you very much @SanmuWangZJU

![image](https://user-images.githubusercontent.com/14212375/77518086-185ce380-6eb8-11ea-875b-66e848df4179.png)

![image](https://user-images.githubusercontent.com/14212375/77518060-109d3f00-6eb8-11ea-8bf5-feebbab73391.png)

[2020-03-25 08:47] terrymanu commented on #4760
@ma1562013338 Can you provide a design? Then we can discuss further.

[2020-03-25 08:48] terrymanu commented on #4660
Closed because nobody interest with it for now.

[2020-03-25 08:48] #4660 closed

[2020-03-25 08:49] wuguowei19880907 commented on #4930
I actually want to know why these unsupported APIs throw exceptions instead of calling native APIs to support them? For what reason？

[2020-03-25 09:02] menghaoranss opened #4933 "Update UI documents"
- [ ] 1. Add `Config Center` menu below `4.1 Sharding-UI/4.4.1 Manual` after `Build`
- [ ] 2. Add `Config Center` page and add some descriptions about `Config Server` and `Rule Config`
- [ ] 3. Modify `Registry Center` page, add some descriptions about `Registry Server` and `Runtime Status`
- [ ] 4. Add and modify the Chinese version documents synchronously
- [ ] 5. Remove images, use description

[2020-03-25 09:51] tristaZero commented on #4913
The doc was updated by #4934, and the remaining one is to update the image.

[2020-03-25 09:53] terrymanu opened #4935 "Pluggable for rewrite module"

[2020-03-25 09:54] #4868 closed

[2020-03-25 10:29] waterMeteors opened #4936 "execute statement what is "create database testName" error in sharding-proxy module"
execute statement what is "create database testName" error in sharding-proxy module
the error information is:
![Uploading image.png…]()

i use version is 4.0.1

[2020-03-25 10:30] cherrylzhao opened #4937 "add sharding-transaction-spring module"
we have developed a sharding-transaction-spring before in open-sharding repo, but it was coupled with aspectJ and  hibernate library, which will make ShardingSphere become heavy.
so I'd like to redesign  it using spring adviser and only support for sharding-jdbc. since JDBC protocol do not support modify transaction type, for sharding-proxy it will be configured in yaml file like a database. task

[2020-03-25 10:31] waterMeteors commented on #4936
the error information is :
Exception occur:
org.apache.shardingsphere.sql.parser.exception.SQLParsingException: Unsupported SQL of `CREATE DATABASE test_db`
        at org.apache.shardingsphere.sql.parser.core.parser.SQLParserEngine.parse(SQLParserEngine.java:73)
        at org.apache.shardingsphere.sql.parser.core.SQLParseKernel.parse(SQLParseKernel.java:58)
        at org.apache.shardingsphere.s

[2020-03-25 10:50] terrymanu commented on #4930
Just waiting for contribution

[2020-03-25 10:55] #4935 closed

[2020-03-25 11:04] #4820 closed

[2020-03-25 12:52] pkwenda opened #4944 "UI module feature discuss"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describ

[2020-03-25 17:40] sebbASF commented on #4902
Thanks, looks good now

[2020-03-25 17:48] TaoZhiMLND commented on #1977
After the discussion with @cherrylzhao, we decide make key-generator as a spring bean on spring namespace in the following steps:

- [✓] change `shardingNamespace.xml` configuration.

- [✓] create class `KeyGeneratorFactoryBean` extends `TypeBasedSPIConfiguration`  implements `FactoryBean<ShardingKeyGenerator>`,leverage `FactoryBean` to create KeyGenerator.

- [✓] modify class `KeyGeneratorConfigu

[2020-03-26 00:49] nevereverever opened #4946 "To terryManu"
Dear terryManu:

I've been using sharding proxy for two months,and try to use it in the project.I reported some questions,some of them were closed before they were solved, and some of them got good feedback.No one will reply to those who have been shut down. I'm here to retell the definite problems I have encountered.Sharding proxy is an excellent open source product, but there are still many prob

[2020-03-26 00:51] nevereverever commented on #4946
@terrymanu

[2020-03-26 01:18] kimmking commented on #4946
Hi, @nevereverever thx for your attention.
1. What this log actually print:

                new Object[]{shardingCount, columnName, tableName, value, targetName});

2. Can you make a little demo to reproduce this bug?
3. This message isn't thrown by ShardingSphere, actually by mysql. You know, mostly your codes have some implicit bugs.

[2020-03-26 01:31] Akigaze opened #4947 "Is there any way to traverse tables in the specified order by Schema & Table Route"
## Question

**logic table:**  t_msg (**column:** created_time (*sharding key*), version, business_key)
**physical table:**  t_msg, t_msg_20_3, t_msg_20_4, t_msg_20_5 ...
The sharding key `created_time` is type of `Timestamp` (yyyy-MM-dd hh:mm:ss.SSS), and I just use **year** and **month** for sharding.

I use **Oracle** database and now I want to find the frist record of specific `business_key`:

[2020-03-26 01:36] ma1562013338 commented on #4760
@terrymanu I hope the timeout time set by mybatis is valid. Such as:
`<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="20"/>
    </settings>
</configuration>

<select id="test" timeout="10" resultType="xxx">
        select * from tableName
    </select>
`

[2020-03-26 01:37] kimmking commented on #4947
`select * from t_msg where business_key=? and created_time = now() `

[2020-03-26 01:39] kimmking commented on #4944
Can you try a go, submit several PRs to make it better?

[2020-03-26 01:48] wuguowei19880907 commented on #4930
ok,thanks

[2020-03-26 01:48] #4930 closed

[2020-03-26 02:00] nevereverever commented on #4946
@kimmking

1.when using '' ,it print:
[code]
if using "",this log will not print,result in mysql command line:
[code]
2.yes.But my company cannot upload pictures due to firewall.
In my client,it reports
[code]

I find the nullException in this code:
`MySQLComStmtExecutePacket.java`
[code]

`binaryProtocolValue.read(payload)`

3.this message is throw by my code,I know it,but `preparedstatement` is

[2020-03-26 02:05] nevereverever commented on #4946
By the way,I know using long values is not a good way to use it in mysql,I tend to use `batch`,but this is to restore `mybatis foreach`.

[2020-03-26 02:13] fantacy2001 commented on #4861
sharding rule:
<sharding:table-rule logic-table="a" actual-data-nodes="ds_ms$->{0..1}.a" database-strategy-ref="databaseStrategy" />
<sharding:table-rule logic-table="b" actual-data-nodes="ds_ms0.b_000,ds_ms$->{0..1}.b_00$->{1..3}" database-strategy-ref="databaseStrategy" table-strategy-ref="tableStrategy" />

<sharding:standard-strategy id="databaseStrategy" sharding-column="col" precise-algorith

[2020-03-26 02:37] menghaoranss commented on #4944
@pkwenda The UI module is being optimized continuously, and there are still many problems to be solved. If you are interested in this, you can fix them by submitting some PRs. We look forward to your contributions.

[2020-03-26 02:52] Akigaze commented on #4947
@kimmking
 Thanks for you answer. I am sorry I had missed some information in my original question.
The sharding key `created_time` is type of `Timestamp` (yyyy-MM-dd hh:mm:ss.SSS), and I just use **year** and **month** for sharding.

Per you answer, if I add `created_time = now()` to the query criteria, I will get nothing because I don't the specific creation time of any records, I just know the

[2020-03-26 03:27] terrymanu commented on #4946
Thank you the feedback. It is better to send mailing list for this issue.
I think we have already provide the reason before issue closed, and we can discuss details for opened issue.
Some issues we closed because no necessary information provided.
Can we close this issue and talk details in each issue?

[2020-03-26 03:33] terrymanu commented on #4946
The title of the issue is not user friendly and maybe no value for other users.
This project is not my personal project, we just face to all users and contributors.

So I just close this issue, please add more necessary information in the suitable issues.
Thank you very much.

[2020-03-26 03:33] #4946 closed

[2020-03-26 03:58] kimmking commented on #4947
can you show your sharding rule

[2020-03-26 04:02] #4933 closed

[2020-03-26 04:46] Akigaze commented on #4947
Here is my sharding rule
[code]

[2020-03-26 05:17] ssxlulu commented on #4936
For now, shardng-proxy can not support create database syntax.

[2020-03-26 05:27] ssxlulu commented on #4910
You can use Begin ... COMMIT around your sqls.
Like this:
[code]
For ss, we will treat these sqls as one transaction.

[2020-03-26 06:18] ssxlulu commented on #4896
@kimmking Hi, I am interested in the metadata module, and I have a little experience about the metadata management, such as concurrent ddl, I will be honor to take part in it.

[2020-03-26 06:44] ssxlulu commented on #4861
When the shardingsphere route the sql, it does not find the table b's sharding key, so it will cause a full route.
To avoid it, you may add the table b's sharding key after where condition.And now shardingsphere may not use the condition after 'on' clause.

[2020-03-26 06:48] phoema opened #4953 "Can we specify some specific database operations without parsing through the shardingsphere framework"
## Question
We used shardingsphere v5.0.0

There may be some instability now. We want to go around

When we use shardingsphere framework for sub database

Can we specify some specific database operations without parsing through the shardingsphere framework？

Some places are uncontrollable. We hope to directly perform DB operations through mybatis instead of shardingsphere,

[2020-03-26 06:59] fantacy2001 commented on #4861
In the future，Whether shardingsphere can be considered ‘on’ after join? because by convention, For old system upgrades， only write main table's sharding value after 'where' 。
or add config like bindtables ，to achieve this function

[2020-03-26 07:11] ssxlulu commented on #4861
It depends on requirement and the implementation of the route algorithm.
In my opinion, shardingsphere may not considered the 'on' clause for routing.

[2020-03-26 07:15] zjls007 opened #4954 "how i use sharding-jdbc-spring-boot-starter with spring-jdbc use seata-at,your example is raw-jdbc, can you help me"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-03-26 07:17] zjls007 commented on #4954
also can replease spring-jdbc to mybatis

[2020-03-26 07:54] kimmking commented on #4947
I think we should broadcast to all sharding tables and merge results.

[2020-03-26 07:55] kimmking commented on #4953
I misunderstand `Some places are uncontrollable`.
Can you show a certain case？

[2020-03-26 07:59] kimmking commented on #4954
[SpringBoot2.x 集成ShardingSphere+Seata+Mybatis-Plus+DruidDataSource](https://www.jianshu.com/p/41ebdaf403c8)

[2020-03-26 08:00] phoema commented on #4953
example:
we have some complex sqls like
many join tables and with functions
but now shardingsphere Support not well， so we want to go around
only excute the sql with out shardingsphere parse。
is have any way to do this?
func_inc_var_session is our customer function
select `func_inc_var_session`(`t`.`procinsid`,`t`.`task_def_key`,0) AS `rownum`,....
from ((((`act_hi_taskinst` `a` left join `act_hi_

[2020-03-26 08:01] phoema commented on #4953
when we excute this sql
shardingsphere can not know which database can excute
so it excute with default database
but we want to excute a special tenant

[2020-03-26 08:10] terrymanu commented on #4953
No. SQL parser is the basic workflow with ShardingSphere. It is unnecessary using  ShardingSphere if user do not need SQL parser.
It is the production design with ShardingSphere.
So user may do not use ShardingSphere if feature without SQL parser.
ShardingSphere is not the only way to process business logic in the middle layer.

[2020-03-26 08:11] kimmking commented on #4953
Configure two DataSource, one is ShardingDataSource of ShardingSphere, one is a native DataSource of Hikari or Druid.

Inject the first one when you want to sharding databases&tables.
Inject the following one when you want to directly pass through native sql.

[2020-03-26 08:12] GolderGao commented on #4947
@kimmking
I have two questions, would like to consult shardingjdbc how to deal with?

1. If I create a table every month in 2020, and each table stores the data for that month, I just want to find the table with the data, and the table without the data will not query.

2. It is now march, and I only have 3 tables to store data, namely table_1,table_2, and table_3. The other 9 tables do not store d

[2020-03-26 08:12] phoema commented on #4953
I will try it.
thanks!

[2020-03-26 08:13] #4953 closed

[2020-03-26 08:59] kimmking commented on #4947
1. How to know which one with data, and which one without data? If you know the data with its month is 3, you can direct query with `select * from  t_msg_20_3 where ...`, ShardingSphere support this sql.
2. The 12 sharding tables is the same to ShardingSphere engine, no one is specially prior of others. If in your business semantics, they have an order to process one by one, I suggestion in native

[2020-03-26 09:27] kimmking commented on #4892
I had modify FAQ with https://github.com/apache/incubator-shardingsphere/pull/4949

[2020-03-26 09:44] terrymanu commented on #4861
@fantacy2001 The current route result is correct. What is your expected?

[2020-03-26 09:47] gchhy commented on #1617
shadring-jdbc发现一个问题，java8以上版本，3.1.0版本查询时候，会报空指针异常，跟进源码发现实际问题是java.lang.ClassNotFoundException: javax.xml.bind.JAXBContext，应该是jdk版本问题，希望能 兼容上，而且在解析语句的时候直接trycatch，导致问题无法直接暴露，是否能优化 。  private final ParsingRuleRegistry parsingRuleRegistry = ParsingRuleRegistry.getInstance();这个方法在init的时候异常

[2020-03-26 09:48] gchhy opened #4959 "jdk兼容问题，jdk8以上版本异常"
## Bug Report

shadring-jdbc发现一个问题，java8以上版本，3.1.0版本查询时候，会报空指针异常，跟进源码发现实际问题是java.lang.ClassNotFoundException: javax.xml.bind.JAXBContext，应该是jdk版本问题，希望能 兼容上。而且在解析语句的时候直接trycatch，导致问题无法直接暴露，是否能优化 。 private final ParsingRuleRegistry parsingRuleRegistry = ParsingRuleRegistry.getInstance();这个方法在init的时候异常

[2020-03-26 09:49] terrymanu commented on #4959
**For English only**, other languages will not accept.

[2020-03-26 09:49] #4959 closed

[2020-03-26 09:51] terrymanu commented on #4936
The picture is invalid

[2020-03-26 09:53] terrymanu commented on #4936
Can not support `CREATE DATABASE test_db` because ShardingSphere using logic schema to process sharded data sources

[2020-03-26 09:53] #4936 closed

[2020-03-26 09:53] terrymanu commented on #4901
Wrong configuration, please check document or example

[2020-03-26 09:53] #4901 closed

[2020-03-26 09:54] #4882 closed

[2020-03-26 09:56] terrymanu commented on #4795
Maybe low priority for json type

[2020-03-26 09:58] terrymanu commented on #4784
@ranjeet-floyd You can write a wrong SQL with mismatched count of insert columns and values, and then you can find the NPE entry.

[2020-03-26 10:01] terrymanu commented on #4760
@ma1562013338  Hi, maybe we misunderstand each other.
What I mean is we have no plan to implement this feature (because it is not a major issue). So we need to find a  volunteer to do this feature.

Do you interest to develop this feature?

[2020-03-26 10:02] #3697 closed

[2020-03-26 10:08] gchhy opened #4960 "the bug about jdk8.0+ Compatibility"
## Bug Report
### Which version of ShardingSphere did you use?
3.1.0

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
Cause: java.lang.NullPointerException] with root cause
java.lang.NullPointerException: null
	at io.shardingsphere.shardingjdbc.jdbc.core.statement.ShardingPreparedStatement.execute(ShardingPreparedStatement.java:139)

### Actual

[2020-03-26 10:11] kimmking commented on #4960
Since jdk9+, java is a modularized platform.
You need add some javax.* module to your project dependencies.

[2020-03-26 10:15] kimmking commented on #4960
BTW, strongly recommend upgrade to 4.0.1 or incoming 4.1.0(officially support java8 in sourcecode&compile level)

[2020-03-26 10:22] gchhy commented on #4960
yes,i know the question, It took me half an hour to find out the problem。so I hope you can mark or introduce the corresponding jar package。It's a better experience。

[2020-03-26 10:31] fantacy2001 commented on #4861
i expected the sharding key in the condition 'on' after 'join', able to transmit sharding value in where condition  ，Instead of writing it again in where condition

[2020-03-26 10:36] geomonlin commented on #4832
Sorry, didn't notice the message,

[2020-03-26 10:41] geomonlin commented on #4832
What's the cause of the error? Is it convenient to tell me

[2020-03-26 10:44] #4960 closed

[2020-03-26 10:46] kimmking commented on #4960
@gchhy I don't think so.
Everyone upgrade his/her projects to jdk9+, should make an investigation what and how to do.
Whatever, it's no matter about ShardingSphere.

[2020-03-26 10:51] kimmking commented on #4960
BTW2: java9 is not a LTS version, suggest use java11 instead.

[2020-03-26 11:43] phoema opened #4963 "Single table query with subquery can not parse with sharding"
## Bug Report
V5.0.0-RC1

SELECT COUNT(1) FROM ( SELECT assignee, flow_def_id, task_def_key, count(*) AS total FROM v_flow_history_dis WHERE (task_end_time BETWEEN ? AND ? AND rownum = ? AND case_id IS NOT NULL) GROUP BY assignee, flow_def_id, task_def_key ORDER BY assignee ASC, flow_def_id ASC, task_def_key ASC ) TOTAL

this sql is a single table query
but it can not parse when I make a hitmanger

[2020-03-26 11:48] kimmking commented on #4963
@phoema
Change the title for friendly search, please.
Subquery is not supported well now. See https://github.com/apache/incubator-shardingsphere/issues/4696

[2020-03-26 11:51] phoema commented on #4963
can I write some other sqls when it does not work well and link 4696?

[2020-03-26 12:05] tristaZero commented on #4928
[#458](https://github.com/apache/incubator-shardingsphere-doc/pull/458) finished this one.

[2020-03-26 12:05] #4928 closed

[2020-03-26 12:14] gchhy commented on #4960
java11 the same question. I think the biggest problem is that bugs are hidden too deep .It's not on the document，It's confusing for some novices。I just thought it would be better，And I think the shading-jdbc is great。

[2020-03-26 12:20] zjcnb commented on #4781
hi, i hava a question!
sql is :
update t_order set status = 'update' where order_id = 1000 and user_id = 10

xml is:
 <update sql-case-id="update_without_parameters">
        <table name="t_order" start-index="7" stop-index="13" />
        <set start-index="15" stop-index="35">
            <assignment start-index="19" stop-index="35" literal-start-index="28">
                <column name="status"

[2020-03-26 16:07] terrymanu commented on #4963
Pending for subquery

[2020-03-26 16:09] terrymanu commented on #4861
Can you use SQL to explain your expected behaviour?

[2020-03-27 03:53] fantacy2001 commented on #4861
shardingsphere's route is no problem.
i mean a convention is :  select a.*,b.* from a left join b on a.col = b.col where a.col = '123'
but not :     select a.*,b.* from a left join b on a.col = b.col where a.col = '123' and b.col = '123'
t does not affect the function, but talk about whether it is possible to optimize it

[2020-03-27 03:55] #4947 closed

[2020-03-27 04:05] kimmking commented on #4861
ShardingSphere can support literal sharding-key conditions explicitly. Implicit semantic conditions is not in our current scope (other query optimization too).
So we can discuss how to go further for it. And if you are insterested in this point, making an investigation and make someproposals here is welcome.

[2020-03-27 04:08] brzone commented on #234
广州餐道信息科技有限公司 https://www.can-dao.com/

[2020-03-27 04:09] tristaZero commented on #4832
@fantacy2001 Hi, could you tell us what is the solution of your Issue? We need to give this issue a final answer.

[2020-03-27 04:14] terrymanu commented on #4861
What is t?

[2020-03-27 04:16] terrymanu commented on #4861
What is your original SQL, does the original SQL include `and b.col = '123'`?

What is t?

[2020-03-27 05:49] #4919 closed

[2020-03-27 07:02] kimmking commented on #4896
U r welcome.

[2020-03-27 08:07] menghaoranss commented on #3265
@wqzwh
1. The latest version of sharding-ui already supports adding new config and registry centers, and when trying to activate the centers, it will check if zk connection is ok .
2. The function of editing an existing center, we will follow up.
3. what's the meaning of mock service that you mentioned above?

[2020-03-27 11:25] kimmking commented on #4906
@edidada  need polish.

[2020-03-27 11:27] kimmking commented on #4861
@fantacy2001 anything more questions?

[2020-03-27 11:42] wenmingwei opened #4978 "Sharding-Proxy doesn't response for "Unsupported Command" from PSQL cli"
## Bug Report

Sharding-Proxy doesn't response for "Unsupported Command" from PSQL cli

### Which version of ShardingSphere did you use?

4.0.1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-Proxy

### Expected behavior

Expected for error messages

### Actual behavior

Blocked without response

### Reason analyze (If you can)

None

### Steps to reproduce the behavior,

[2020-03-27 11:54] phoema opened #4979 "[Question] When will 5.0.0 Release？"
## Question
We want to use shardingsphere with subquery.
I want to know:
When will 5.0.0 Release？Is have a plan？
Looking forward to your reply，thanks。

[2020-03-27 12:00] wqzwh commented on #3265
@menghaoranss

1. Mock server is mainly for the convenience of front-end development and debugging

2. I can cooperate with you to finish the second task

[2020-03-27 14:23] terrymanu commented on #4979
No, we are planning for 4.1.0 release, please subscribe the dev mailing list to get release plan.
FIY: https://shardingsphere.apache.org/community/en/contribute/subscribe/

[2020-03-27 14:23] #4979 closed

[2020-03-27 14:27] #4770 closed

[2020-03-28 01:08] cherrylzhao commented on #4893
ShardingDataSource don't support to integrate with Seata in micro-service way now, you should try to wrap your physical datasource as a `DataSourceProxy`. see #2881

[2020-03-28 01:10] #4893 closed

[2020-03-28 01:19] cherrylzhao commented on #4886
I have added a sharding-transaction-spring module recently, you can see how we integrated XA with spring in [transaction-2pc-xa-spring-boot-example](https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-2pc-xa-spring-boot-example). for previous version you can refer to our spi-impl-example [here](https://github.com/OpenShardin

[2020-03-28 01:19] #4886 closed

[2020-03-28 01:25] cherrylzhao commented on #4910
yes, we only support distributed transaction in sharding way. for none-sharing table I think you can config the default datasource in sharding-datasource, the XA transaction will also effective.

[2020-03-28 01:28] cherrylzhao commented on #4884
I'll close it if you don't have any other question.

[2020-03-28 01:34] cherrylzhao commented on #4954
I have added a sharding-transaction-spring module recently, you can see how we integrated XA with spring in [transaction-2pc-xa-spring-boot-example](https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-2pc-xa-spring-boot-example). seata and XA will use the same spring api to integrate, I'll add another seata example later

[2020-03-28 02:43] leehom commented on #4910
default datasource ? , ok, i should have a test . can ss open an api , developer can manually enlist non-sharding datasouce into sharding xa transaction

[2020-03-28 02:47] cherrylzhao commented on #4910
I think we can open the api after our pluginable-platform finished

[2020-03-28 03:08] fantacy2001 commented on #4861
sorry ,Should be ‘it’ ,‘t’ is my fault

[2020-03-28 03:09] fantacy2001 commented on #4861
no more ,thanks !

[2020-03-28 03:35] zjls007 commented on #4954
thanks, i have look you transaction-2pc-xa-spring-boot-example module just now， i very like this. an i learn more for this , and i wish you can support transaction-seata-spring-boot-example later,i can,t look you this example，but i look the alibaba seata example with shardingsphere, but that not
official， it impl strange， i wish you support help more Your fan。i from chaina , my English is very poo

[2020-03-28 03:57] zjls007 commented on #4954
please see https://github.com/seata/seata-samples/tree/master/springboot-shardingsphere-seata
bu i cant understand，so i wish you support ,an i suggest you use seata 1.1.0 version

[2020-03-28 09:07] tristaZero commented on #4707
@wangjing112 You detailed investigation seems convinced.
Could you provide us the Query SQL, parameters, and the configuration of the relevant query tables so that we can reproduce this exception in our local environment? You know, we need to do some debug. :)

[2020-03-28 09:35] lennonn opened #4986 "if field name of table is "call",encrypt not work."
### version 4.0.1
SQL: jdbcTemplate.update("INSERT INTO `test` (id,name,call) VALUES (1, '1', '1')");

### ERROR LOG:

line 1:28 no viable alternative at input '(id,name,call'
line 1:28 no viable alternative at input '(id,name,call'

java.lang.IllegalStateException: Failed to execute CommandLineRunner
	at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:787) [spring-boo

[2020-03-28 09:50] yu199195 commented on #4986
can you show Encryptor rule config？

[2020-03-28 10:01] lennonn commented on #4986
[code]

![image](https://user-images.githubusercontent.com/8982513/77820562-185e1d00-711e-11ea-8b8d-ab2dbb32eba9.png)

[2020-03-28 10:18] strongduanmu commented on #4890
Can I try to solve this issue？

[2020-03-28 10:31] cherrylzhao commented on #4954
here is the [transaction-base-seata-spring-boot-example](https://github.com/apache/incubator-shardingsphere/tree/master/examples/sharding-jdbc-example/transaction-example/transaction-base-seata-spring-boot-example), hope this will help you

[2020-03-28 10:49] zjls007 commented on #4954
thanks， main question Solved，work happy for you!

[2020-03-28 10:49] #4954 closed

[2020-03-28 14:31] #4890 closed

[2020-03-28 17:00] ranjeet-floyd commented on #4784
@terrymanu  Thanks but  Not able to find it. Can you please point to class.

[2020-03-29 02:03] #4884 closed

[2020-03-29 03:57] cherrylzhao opened #4991 "make ShardingDataSource compatible with Seata in micro-service distribution transaction"
In micro-service distribution transaction, Seata will wrap `ShardingDataSource` as `DataSourceProxy` which communication with seata-server through RPC protocol,
and DataSourceProxy will invoke some standard JDBC interface to get metadata from ShardingDataSource, however ShardingDataSource don't compatible with it. I have investigated in my local environment and found these issues we should resolve

[2020-03-29 08:34] kimmking commented on #4991
`enable.client.transaction.in.seata.at` is better?

[2020-03-29 08:39] kimmking commented on #4986
`call` is in MySQL `Keywords and Reserved Words`.
You can try:
[code]

[2020-03-29 09:58] lennonn commented on #4986
It is not a keywords in oracle,

[2020-03-29 09:58] #4986 closed

[2020-03-29 10:09] tristaZero opened #4993 "Update statement has wrong parameter count"
SQL:

Expected parameter count: 3
Actual parameter count: 2

[2020-03-29 10:30] tristaZero opened #4995 "Add parsing integrated test for `update` query SQL"
**Content**: Add two parsing integrated tests for `update` query SQL.
**Difficulty rating**: ★☆☆☆☆

### How to do
1. Add the following SQL cases to `/Users/trista/Documents/sharding-code-trista/incubator-shardingsphere/sharding-sql-test/src/main/resources/sql/supported/dml/update.xml`

**SQL case ID**: update_with_set_calculation

parameters: 1, 2, 3

**SQL case ID**: update_with_where_calculation

[2020-03-29 10:31] tristaZero commented on #4995
Here is a good first issue for the community, welcome your join. :)

[2020-03-29 11:16] #4993 closed

[2020-03-29 11:44] strongduanmu commented on #4995
I want to solve this issue, please assign to me!

[2020-03-29 11:53] cherrylzhao commented on #4991
kimmking, thanks for suggestion.
sharding-transaction-base-seata-at module only worked in none-microservice mode since it invoke the seata global transaction api directly, so I want to add a switcher to disable it if user want to introduce seata global transaction in microservice. also I'm consider about better way to implement that

[2020-03-29 12:11] cherrylzhao commented on #4991
here is the config for integrating seata-at currently in shardingspehre side
[code]

[2020-03-29 12:18] cherrylzhao commented on #4991
how about this ?
[code]

[2020-03-29 13:22] strongduanmu commented on #4995
SQL case ID: update_with_where_calculation

parameter: 1, 2, 3

The sql case above has three parameters, but only two placeholders. Is it right?
@tristaZero

[2020-03-29 14:23] cherrylzhao commented on #4991
I have submitted a PR for this config see #4996

[2020-03-29 15:44] geomonlin opened #4998 "update user order by registration date in doc"

[2020-03-29 16:41] #4998 closed

[2020-03-29 17:17] masankin commented on #4256
How long could it  to be released to the next version

[2020-03-30 02:58] tristaZero commented on #4995
@strongduanmu Sorry, it is a typo and I fixed it. Please give it a look.

[2020-03-30 03:12] kimmking commented on #4991
it's awesome

[2020-03-30 03:26] strongduanmu commented on #4995
Thank you! :smile:

[2020-03-30 05:52] KomachiSion commented on #3655
Update in document https://shardingsphere.apache.org/document/current/en/features/sharding-scaling/

[2020-03-30 05:52] #3655 closed

[2020-03-30 05:54] #4594 closed

[2020-03-30 06:46] tristaZero opened #5001 "The task summary of SQL parse module"
Remaining todo list for SQL parse module
- [x] Parse `joinTable` Query SQL(#4885) @jingshanglu
- [x] Support pagination (#4887) @jingshanglu
- [x] Make subquery parsing test work well (#4696) @tristaZero
- [x] Move predicateBuilder from `Parser module` to `Bind module`
- [x] Collate SQL grammar definitions (#4683)

[2020-03-30 06:50] tristaZero commented on #5001
@jingshanglu Hi This issue is a summary of the remaining tasks for sharding parser, which needs your hand, our veteran. :)

[2020-03-30 07:10] wujiangyong commented on #3681
I've been using `4.0.1` and I have the same problem, it took me 5-7 minutes to start up the app.

Then I google it, one way is to skip the method, which I haven't adopted. Copy the class `TableMetaDataInitializer` into your project, and remove `loadDefaultTables` method.

Then I looked into the code, I found when `findActualDefaultDataSourceName` returns `Optional.absent()`, it will not run into t

[2020-03-30 07:14] terrymanu commented on #4862
Will close soon if no update anymore

[2020-03-30 07:14] #4861 closed

[2020-03-30 07:15] terrymanu commented on #4832
Will close soon if no update anymore

[2020-03-30 07:16] #4546 closed

[2020-03-30 08:53] dwyane3011 opened #5003 "杭州海康威视数字技术股份有限公司+https://www.hikvision.com"

[2020-03-30 08:54] dwyane3011 opened #5004 "杭州萤石软件有限公司+https://www.ys7.com/"

[2020-03-30 10:19] yu199195 commented on #5004
@dwyane3011  hi,Please register here :  https://github.com/apache/incubator-shardingsphere/issues/234

[2020-03-30 10:20] yu199195 commented on #5003
@dwyane3011 Hi,,Pease register here :  https://github.com/apache/incubator-shardingsphere/issues/234

[2020-03-30 10:55] #4866 closed

[2020-03-30 10:59] #5003 closed

[2020-03-30 10:59] #5004 closed

[2020-03-30 11:49] kimmking opened #5008 "Refactor LogicSchema #MetaDataCenter-phase-1"
According to https://github.com/apache/incubator-shardingsphere/issues/4896, we will refactor LogicSchema and 5 sub class to uniform all metadata loading:

- [x] extract physical metadata field in proxy for 5 sub class (#5010)
- [x] decouple physical metadata&decorated metadata  (#5025 #5033)
- [x] process logic tables for ShardingSchema&ShardingMetaDataLoader(#5038)
- [x] use strategy class to re

[2020-03-30 15:36] #4781 closed

[2020-03-31 03:11] #4978 closed

[2020-03-31 03:13] #3265 closed

[2020-03-31 03:21] yanyzy opened #5012 "Shadow database judges incorrectly when using proxy"
### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-Proxy

### Reason analyze (If you can)

The boolean received by the proxy is 0/1，but the judgment method of the shadow database does not judge 0/1.
![image](https://user-images.githubusercontent.com/30677017/77983507-cac1fa00-7341-11ea-9a34-f9db27c4fe82.pn

[2020-03-31 03:48] #1977 closed

[2020-03-31 03:49] #4995 closed

[2020-03-31 07:13] tristaZero opened #5017 "[DISCUSS] Brand new sharding configuration API of Release 5.x"
Hi community,

Our 4.1.0 release is on the way. Moreover, I received plenty of feedback and complaints that our configuration is complicated and tedious. When trying it by myself, I convinced it is time to make some changes.
I propose to simplify the configuration API for sharding rule since release 5.x.
### Here are pros and cons
#### Pros
1. Through much Straightforward sharding configuration, u

[2020-03-31 07:22] awaysLoveLittleBear opened #5018 "Why Class TableRule's constructor add a method named "checkRule" ?How can I set "ComplexShardingStrategyConfiguration "without setting "actualDataNodes" ?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-03-31 07:25] tristaZero commented on #5017
Looking forward to your suggestions and comments for brand new sharding configuration API. :)
Here is the initial design for API.

**The old one**
[code]
**The new one**
[code]

[2020-03-31 07:34] tristaZero commented on #5017
### TODO
- [ ] Optimize metadata module to route none-sharding tables correctly
- [ ] New API for standard sharding strategy
- [ ] New API for complex sharding strategy
- [ ] Implement Inline algorithm for standard sharding strategy
- [ ] Implement range algorithm for standard sharding strategy
- [ ] Delete Inline sharding strategy
- [ ] Delete Hint sharding strategy
- [ ] Modify sharding config
-

[2020-03-31 08:35] yu199195 commented on #5017
very good idea, simplified configuration.

[2020-03-31 09:33] #5012 closed

[2020-03-31 09:41] terrymanu commented on #5018
What is your actualDataNodes look like?

[2020-03-31 09:51] KomachiSion commented on #5018
actualDataNodes describe data source names and actual tables, delimiter as point, multiple data nodes split by comma, support inline expression. **Absent means sharding databases only**. Example: ds${0..7}.tbl${0..7}

The `checkRule` will check actualDataNodes and ShardingStrategy.
If you configure TableShardingStrategy without actualDataNodes, `checkRule` will find it.

[2020-03-31 10:01] myzero1 opened #5022 "adding a schema on config center is not working,but updating authentication or props is working,before rebooting sharding-proxy."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-03-31 10:09] AIYIPOI opened #5023 "Batch insert data is too slow when using sharding-jdbc for common java projects"
Hello, I am a beginner in sharding-jdbc
When I try to use the following configuration：
`TableRuleConfiguration orderTableRuleConfig = new TableRuleConfiguration("tb","ds${0..1}.tb${0..1}");
    orderTableRuleConfig.setDatabaseShardingStrategyConfig(new InlineShardingStrategyConfiguration("j", "ds${j% 2}"));
    orderTableRuleConfig.setTableShardingStrategyConfig(new InlineShardingStrategyConfigura

[2020-03-31 11:44] terrymanu commented on #5022
The logic schema is configured by yaml and cannot support create by SQL dynamically.

[2020-03-31 11:44] #5022 closed

[2020-03-31 11:45] terrymanu commented on #5023
Please use prepared statement

[2020-03-31 11:45] #5023 closed

[2020-03-31 12:59] #4862 closed

[2020-03-31 13:00] #4832 closed

[2020-04-01 00:58] myzero1 commented on #5022
adding a schema on config center is the same as  [#2346](https://github.com/apache/incubator-shardingsphere/issues/2346)

[2020-04-01 01:02] AIYIPOI commented on #5023
Of course, I definitely used PreparedStatement

[2020-04-01 01:13] AIYIPOI commented on #5023
Duplicate of #

[2020-04-01 01:24] AIYIPOI commented on #5023
My first question was closed, but I didn't find a solution, sad:(

[2020-04-01 01:29] #4906 closed

[2020-04-01 01:52] Zhumingj opened #5030 "How to simplify this configuration"
spring.shardingsphere.datasource.names=tenant-meituan,tenant-taobao,tenant-jd,tenant-common

spring.shardingsphere.datasource.tenant-meituan.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.tenant-meituan.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.tenant-meituan.url=jdbc:mysql://localhost:3306/tenant_meituan
spring.shardingsphere.datasource

[2020-04-01 02:40] kimmking commented on #5030
yaml?

[2020-04-01 02:57] Zhumingj commented on #5030
no,  application.properties

[2020-04-01 03:06] tristaZero commented on #5030
@Zhumingj Hi, I rather understand your concern, actually I also think they are so dull, that is why I opened an issue to welcome anyone of you to join me to give it a better design. You can look at #5017 to learn more.

Do you have any idea about `actual data nodes`? Or what are you expect?

[2020-04-01 03:30] kimmking commented on #5030
Approach 1: Spring placeholders.
you can config a piece of these node:

and use a reference in the config rules:

Approach 2: Spring boot profiles.
Split to multiple properties with spring profiles.
tenant-meituan is one independent file.
tenant-taobao is another one independent file.
and so on.

Approach 3: ShardingSphere yaml
Use ShardingSphere yaml, you can config every tenant with a yaml file.

[2020-04-01 03:59] terrymanu commented on #4784
Have you run the sharding-proxy already?
Could you provided the SQL and exception info if `INSERT column and values mismatch`?

[2020-04-01 04:01] terrymanu commented on #4629
Just the information said: Inline strategy cannot suppory range sharding

If you want use range sharding, please config range algorithm, please see example to get more information.

[2020-04-01 04:01] #4629 closed

[2020-04-01 04:13] Zhumingj commented on #5030
Thank you,  but this doesn't completely solve my problem. I still need to config actual-data-nodes for hundreds of tables.

[2020-04-01 04:14] kimmking commented on #5030
Can you show a perfect configuration demo in your case?

[2020-04-01 04:18] Zhumingj commented on #5030
spring.shardingsphere.datasource.names=tenant-meituan,tenant-taobao,tenant-jd,tenant-common

spring.shardingsphere.datasource.tenant-meituan.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.tenant-meituan.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.tenant-meituan.url=jdbc:mysql://localhost:3306/tenant_meituan
spring.shardingsphere.datasource

[2020-04-01 04:25] kimmking commented on #5030
only sharding databases, no sharding tables?

[2020-04-01 04:25] #4697 closed

[2020-04-01 04:26] Zhumingj commented on #5030
yes, only sharding databases

[2020-04-01 04:41] kimmking commented on #5030
Got it.
You should execute:

gain all tables' name.
and then use above 'Approach 1'

[2020-04-01 04:53] Zhumingj commented on #5030
Excuse me, can you explain it in more detail, how to combine the sql with 'Approach 1'

[2020-04-01 06:55] kimmking commented on #5030
search spring boot properties placeholder.

[2020-04-01 09:45] Zhumingj commented on #5030
sorry , I don't know how to configure the SQL you mentioned.

select group_concat(table_name) from information_schema.tables where table_schema='tenant-meituan';

[2020-04-01 11:48] jacknate opened #5040 "Batch insert via mybatis,useGeneratedKeys not work"
## Bug Report

### Which version of ShardingSphere did you use?

* sharding-jdbc-core
  4.0.1

* mybatis-spring-boot-starter

  2.1.2

* mysql-connector-java

  8.0.19

* spring-boot

  2.2.2.RELEASE

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

Using mybatis to batch insert records, write back the auto generated keys(id) to entity's key fi

[2020-04-01 12:58] SteNicholas commented on #5001
@tristaZero Could u please assign some subtask to me?

[2020-04-01 15:54] TaoZhiMLND opened #5041 "revise doc for making keyGenerateAlgorithm as a spring bean"
for #1977
revise doc for making keyGenerateAlgorithm as a spring bean.

[2020-04-02 01:53] yuwei5380 commented on #4622
ComplexKeysShardingAlgorithm<String>, but The two columns are of different types

[2020-04-02 02:23] myzero1 opened #5043 "adding a schema on config center is not working"
## Bug Report

**adding a schema on config center is not working,but updating authentication or props is working,before rebooting sharding-proxy. adding a schema on config center is the same as  [#2346](https://github.com/apache/incubator-shardingsphere/issues/2346)**

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitH

[2020-04-02 02:25] ssxlulu opened #5044 "Extended DDL for create table to simply the configuration"
For now, the community has proposed the configuration is too complex #5030, and we have plan to optimize it #5017 .

After the optimization, we may further provide extended DDL for creata table syntax, which will auto generate configuration for the user.

The extended DDL may look like:
[code]
Such DDL will create a table with sharding rule for user.

[2020-04-02 02:58] tristaZero commented on #5044
Sorry, it means you want to do some contributions to this community?

[2020-04-02 03:16] ssxlulu commented on #5044
@tristaZero My privilege :)

[2020-04-02 03:37] Boomkeeper commented on #4963
**Is there a temporary solution or emergency solution please？**
I have encountered a same problem about 'subquery'  recently，and the process of my task also delayed.

something here maybe helpful:
**version**

     <groupId>org.apache.shardingsphere</groupId>
     <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
     <version>4.0.1</version>
</dependency>

**SQL**

    SELECT  id, pin, s

[2020-04-02 03:39] KomachiSion commented on #5040
@jacknate , you need to configure keyGenerator for shardingsphere if you want to use generatedKey.

[code]

detail see [document](https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/configuration/config-spring-boot/)

[2020-04-02 04:01] kimmking commented on #5043
I will follow this issue.

[2020-04-02 04:14] tristaZero commented on #5043
Assigned.

[2020-04-02 04:24] tristaZero commented on #5044
@ssxlulu Welcome your joining!
Since it seems not an easy one, could you give more details about your idea? Like proposal, todo list, or schedule... Therefore we can basically know whether it can work well and receive more feedback from the community.

[2020-04-02 07:28] pkwenda opened #5046 "UI model bug report"
# checkout from new version of master branch ！

## 1  eslint error cant start project
![image](https://user-images.githubusercontent.com/14212375/78221057-3b5d4800-74f5-11ea-877b-606ce97f1902.png)

## 2 chinese

english menu has  `Data move` bug chinese no

![image](https://user-images.githubusercontent.com/14212375/78223256-28e50d80-74f9-11ea-8564-b4eaf8731029.png)

- I fix it :

![image](https:/

[2020-04-02 08:44] #5046 closed

[2020-04-02 08:57] kimmking commented on #5043
Until now, sharding-proxy's schemas are base on the config during bootstrap, and then we can't add a new one or remove a existing one.
This behavior lead to that proxyA and proxyB both in the same namespace and orchestrationName, but have differect logic schemas, for examples, proxyA has schema1&schema2, proxyB has schema1&schema2&schema3.

As the design principles, several proxy nodes in the same

[2020-04-02 09:23] jacknate commented on #5040
@KomachiSion
I want to get the key that mysql auto generate, do not want to use SNOWFLAKE or UUID.
If all the insert route to same table, it works as expected.

[2020-04-02 10:15] kimmking opened #5049 "Add metadata-center and global notifications #MetaDataCenter-phase-2"
According to #4896/#5008 , we will add new feature metadata center:

- [x] 1.add metadata center sub project #5097
- [x] 2.integrate center repository #5097
- [x] 3.persist metadata to center repository #5097
- [x] 4.optimize proxy bootstrap to process metadata #5097
- [x] 5.recover metadata from center repository  #5126
- [x] 6.add global notifications for metadata event #5126

[2020-04-02 10:33] yu199195 commented on #5049
good issue.

[2020-04-02 16:18] ranjeet-floyd commented on #4784
@terrymanu I modified test sql in class org.apache.shardingsphere.shardingjdbc.jdbc.core.statement.ShadowPreparedStatementTest . Below is screen shot

<img width="1375" alt="Screenshot 2020-04-02 at 9 47 57 PM" src="https://user-images.githubusercontent.com/1992972/78272860-ae81b100-752b-11ea-8c5e-c8a388e036c4.png">

<img width="1644" alt="Screenshot 2020-04-02 at 9 45 13 PM" src="https://user-ima

[2020-04-03 00:46] menghaoranss commented on #5043
@kimmking @myzero1
I tracked the source code and found that the listener event of updating the schema node content has been supported in version 4.1.0. Refer to PR [#4260](https://github.com/apache/incubator-shardingsphere/pull/4260). When adding or deleting a schema directly through zk client, the proxy can receive the event and reload the schemas, but the modification is missing during UI operat

[2020-04-03 02:54] tristaZero commented on #5044
Thanks for [this reference](https://help.aliyun.com/document_detail/71300.html?spm=a2c4g.11186623.6.671.6f624af8unTHTg). As you said, after configuration optimization, this issue is likely to move into the discussion.

[2020-04-03 03:38] tristaZero commented on #5001
Welcome @SteNicholas
Currently, @jingshanglu is doing the first one. When it completes, two of you can process the following item parallelly. AFAIK, there is a bit of work for the first one. So let us leave him one or two days to finish.

[2020-04-03 03:39] tristaZero commented on #4887
@jingshanglu Hi could you take charge of this one?

[2020-04-03 03:44] tristaZero commented on #4867
@SteNicholas
Hi, maybe you can try this issue. This task not easy, so it is needed that you split this issue into many little PRs, which will help reduce conflicts with others and help me review it quickly. You can refer to the todo list.

[2020-04-03 03:55] zywj opened #5055 "Can it support cross database join which have different tables"
[code]

[2020-04-03 06:01] kimmking commented on #5055
If db0 and db1 in the same mysql instance, you can query
`select u.*, c.name as class_name from db0.user u,  db1.class c
    where u.username="test" and  u.class_id=c.id  `

Otherwise, mysql can't support.

[2020-04-03 06:40] zywj commented on #5055
thx.  slove it.

[2020-04-03 06:40] #5055 closed

[2020-04-03 06:45] cowcomic opened #5058 "SNOWFLAKE can not insert into correct shard"
## Bug Report
i use shardingsphere-proxy for 5 mysql shard
use proxy for making id by showflake
but insert data is not correct
data insert to wrong shard

this is my table
[code]

this is my insert sql
[code]

and this is the log
[code]
only mod=1 is correct
so, I cannot select result from this table, such as
[code]

this is my config
[code]

### Which version of ShardingSphere did you use?
4.0.0

[2020-04-03 08:58] kimmking commented on #5058
duplicated with https://github.com/apache/incubator-shardingsphere/issues/4573

[2020-04-03 09:07] terrymanu commented on #4573
Duplicate with #4306

[2020-04-03 09:33] terrymanu opened #5063 "[API Changes] Remove default data source configuration"
ShardingSphere can load all table meta data from data source and cache them into app memory currently.
It is passable to route correct data source for each un-configured table meta data. The default data source is not useful anymore.
We can **REMOVE** default data source from sharding rule to simplify user configuration.

The tasks are:

- [x] Load un-configured table meta data with data source.
-

[2020-04-03 09:51] menghaoranss opened #5065 "Support remove schema dynamically"
For the second module `Remove schemas in sharding-ui` of issue #5043 , there are 3 steps:

- [x] 1. Add `delete(key)` interface in `CenterRepository`  and implement it with zookeeper&etcd&nacos&apollo(#5101)
- [x] 2. Add unit tests(#5101)
- [x] 3. Add a button to remove schemas in sharding-ui(#5112)

[2020-04-03 10:03] kimmking commented on #5065
A tip: need check only one schema left, can't allow to remove it.

[2020-04-03 10:07] jzdayz opened #5066 "Sharding proxy not support in navicat mysql for mac and idea database plugin"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-04-03 10:07] menghaoranss commented on #5065
Got it, great advice!

[2020-04-03 10:17] #5041 closed

[2020-04-03 10:18] kimmking commented on #5066
1. duplicated with https://github.com/apache/incubator-shardingsphere/issues/4377,you should use 11.1.13
2. duplicated with https://github.com/apache/incubator-shardingsphere/issues/4846, in idea or datagrip, you should turn on "introspect using jdbc metadata"(or it will get all real tables info from informations_schema).

[2020-04-03 10:21] #5066 closed

[2020-04-03 10:22] TaoZhiMLND commented on #4297
I want have a try.

[2020-04-03 10:23] kimmking opened #5067 "Add 3 faq in document"
Whereas recently feedback, we should add two faq in document:

- [x]  describe adding schema dynamically
- [x]  explain some db tools for usage
- [x]  describe confict about sharding-jdbc-spring-boot-starter with datasource pool starter

[2020-04-03 10:28] terrymanu commented on #3154
this issue is a minor changes, I closed because nobody want to collect this issue.

[2020-04-03 10:28] #3154 closed

[2020-04-03 10:53] terrymanu commented on #4014
Maybe we should close this issue until other person interesting about this.

[2020-04-03 10:53] #4014 closed

[2020-04-03 10:55] terrymanu commented on #4846
It is not the necessary SQL we need to support now, and nobody interesting about this issue, so I just close this one until volunteer want to do it.

[2020-04-03 10:55] #4846 closed

[2020-04-03 10:59] terrymanu commented on #4760
Closed until somebody interesting about this issue

[2020-04-03 10:59] #4760 closed

[2020-04-03 11:02] terrymanu commented on #4754
Closed until somebody interesting about this issue

[2020-04-03 11:02] #4754 closed

[2020-04-03 11:04] #4568 closed

[2020-04-03 11:05] terrymanu commented on #4480
No plan to change SQL parser engine

[2020-04-03 11:05] #4480 closed

[2020-04-03 11:06] terrymanu commented on #4576
We will provide document after the feature finished, so I just close this issue.

[2020-04-03 11:06] #4576 closed

[2020-04-03 11:07] #4622 closed

[2020-04-03 11:09] terrymanu commented on #3930
Can you provide the sharding rule configuration and full stake trace?

[2020-04-03 11:09] terrymanu commented on #3317
expired

[2020-04-03 11:09] #3317 closed

[2020-04-03 11:10] terrymanu commented on #2920
Closed until somebody interesting about this issue

[2020-04-03 11:10] #2920 closed

[2020-04-03 11:11] terrymanu commented on #2807
Closed until somebody interesting about this issue

[2020-04-03 11:11] #2807 closed

[2020-04-03 11:11] terrymanu commented on #2362
Closed until somebody interesting about this issue

[2020-04-03 11:11] #2362 closed

[2020-04-03 11:12] terrymanu commented on #1998
Closed until somebody interesting about this issue

[2020-04-03 11:12] #1998 closed

[2020-04-03 11:13] terrymanu commented on #3813
Closed until somebody interesting about this issue

[2020-04-03 11:13] #3813 closed

[2020-04-03 11:14] terrymanu commented on #3739
Closed until somebody interesting about this issue

[2020-04-03 11:14] #3739 closed

[2020-04-03 11:14] terrymanu commented on #3635
Closed because no response anymore

[2020-04-03 11:14] #3635 closed

[2020-04-03 11:39] #5067 closed

[2020-04-03 14:02] #4991 closed

[2020-04-03 15:46] terrymanu opened #5073 "Load unconfigured schema meta data concurrently"
Use multiple thread to load unconfigured schema meta data for different data sources to improve performance of loading.

The code is in `RuleSchemaMetaDataLoader` line 80, please search `// TODO use multiple threads for different data sources`

[2020-04-03 15:47] zjcnb commented on #5063
Hi, I would like to ask, is this a one-time acquisition of three tasks, or can be claimed separately!

[2020-04-04 02:20] zjcnb commented on #5073
Hi, i want to do it

[2020-04-04 10:32] tristaZero commented on #4707
@wangjing112 Hi This issue is due, i.e., beyond seven days. I have to close it.
I am sorry it has no solution.

[2020-04-04 10:32] #4707 closed

[2020-04-04 10:38] strongduanmu commented on #5073
I want to solve this issue too!

[2020-04-04 11:08] kimmking commented on #5073
@zjcnb @strongduanmu  you can discuss about it here.

[2020-04-04 13:20] strongduanmu commented on #5073
@kimmking @zjcnb First come first served, next time I will claim issue earlier. 😂 I'm so sorry for everyone!

[2020-04-04 14:54] #5063 closed

[2020-04-04 14:55] jzdayz commented on #5066
idea database plugin can't test connection
![image](https://user-images.githubusercontent.com/35563513/78453886-2c2df400-76c7-11ea-833a-e000d0c903ed.png)
![image](https://user-images.githubusercontent.com/35563513/78453901-3e0f9700-76c7-11ea-82dc-67d35fa04a37.png)

[2020-04-04 14:55] terrymanu commented on #5073
@zjcnb @strongduanmu It seems you have good negotiation.
I just assign this issue to you, thank you. @zjcnb

[2020-04-05 07:25] myzero1 commented on #5043
Thank you very much, we really look forward to `"4.1.0"`.

[2020-04-05 19:20] Leinariys opened #5079 "How to start spring boot shardingsphere with settings in a separate file config-sharding.yml?"
Hello to all!
How to configure sharding for spring boot so that the settings are in a separate file (config-sharding.yml), since I need to specify 30+ databases?
I don’t want the settings to be in code.

Now I have a working code "[Rule Configuration Based on Java](https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/usage/sharding/#rule-configuration-based-on-java)"

But he

[2020-04-06 02:45] Leejp1990 opened #5080 "sharding partition key invalid when it work on batch program"
I meet a problem in my batch program when use sharding. I have 8 application node to consume the message from rabbitMQ, and every pieces of message has the partition key, but it can't work on one application node and other node works good when batch program running. on the problem node,  we find the problem according to pinpoint, the stack shows the query SQL that with partition key executed on al

[2020-04-06 10:32] rimal commented on #4822
@terrymanu I am actually facing a similar issues after upgrading from 3.1 to 4.0

It is not failing for all entities. One difference which I could find for the entity for which it is failing is, that in `InsertSQLStatementContext`, `insertValueContexts` is empty. This lead to the parser to expect all column values to be there in the insert query, but actually, all columns are not there in insert s

[2020-04-06 10:35] rimal commented on #4822
@kimmking

Logic SQL: `insert into sample_table (client, create_date, source, key_string, source_id, ticket_id) values (?, ?, ?, ?, ?, ?)`

Actual SQL: shard-1 ::: `insert into sample_table (client, create_date, source, key_string, source_id, ticket_id) values (?, ?, ?, ?, ?, ?)`

[2020-04-06 11:14] rimal opened #5082 "Column name "source" not supported. Getting No value specified for parameter 1"
## Bug Report

### Which version of ShardingSphere did you use?
Faced an issue upgrading from 3.1.0 to 4.0.1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc-core
https://mvnrepository.com/artifact/org.apache.shardingsphere/sharding-jdbc-core/4.0.1

### Expected behavior
Insert query needs to run as usual

### Actual behavior
Getting `java.sql.SQLException: No value s

[2020-04-07 00:56] KomachiSion commented on #5040
@jacknate, sorry, shardingsphere can't get the auto generate key from mysql. For distributed system, distributed primary key should generate by key generator.

[2020-04-07 00:57] KomachiSion commented on #5018
No more response in 7 days, I will close this issue.

[2020-04-07 00:57] #5018 closed

[2020-04-07 01:02] KomachiSion commented on #4795
Other type I find is similar to JSON type -- BIT. In mysql, BIT type can follow a length like `bit(n)` to set the storage way. And it will be different in binlog. But I do not find any description in mysql  and MariaDB document.

Currently, scaling will throw a log to warn users BIT type is unsupported.

[2020-04-07 01:38] KomachiSion commented on #4595
What about using `Dumper` to replace `Reader`?
In mysql, exporting inventory data can using `mysqldump`, subscribe binlog use `COM_BINLOG_DUMP` command, so I think `Dumper` may be better.

[2020-04-07 01:49] KomachiSion commented on #4595
About `Writer`, I think we can use `Importer` to replace.

In mysql we use `mysqlimport` to import data from dump file.
And in `Datagrip` which database tool by JetBrains, the behavior also is `import`.

[2020-04-07 02:36] KomachiSion commented on #3849
If there no way to check the replication privilege for PostgreSQL, can we check the query privilege for PostgreSQL first?

It also need to check.

[2020-04-07 03:09] danielzhou888 opened #5084 "sharding-ui service cannot find custom algorithm class"
## Bug Report
sharding version: 4.0.1(all of version)
A business project define a custom distribution algorithm cannot modify config in sharding-ui, which print an exception 'java.lang.IllegalArgumentException: rule configuration is invalid'.
I find an issue that cannot find custom distribution algorithm which I made in my business project while debuging.

![image](https://user-images.githubuserco

[2020-04-07 03:53] ssxlulu commented on #3849
Yes, We can check the query privilege, I will submit a PR to finish it.

[2020-04-07 05:06] terrymanu commented on #5079
Could you change the title for search friendly?

[2020-04-07 05:11] #5058 closed

[2020-04-07 05:13] terrymanu commented on #5080
Can you provide the version and log of sql.show?

[2020-04-07 05:22] menghaoranss commented on #5084
@danielzhou888
I will follow this issue, could you provide the complete configuration above?

[2020-04-07 05:45] #5008 closed

[2020-04-07 05:49] KomachiSion commented on #5082
It seems that parseEngine can't parse `source` correctly.

[2020-04-07 05:55] KomachiSion commented on #5082
duplicate with #4546 .
@rimal, this bug will be fixed in 4.1.0 .

[2020-04-07 05:55] #5082 closed

[2020-04-07 08:07] kimmking commented on #5084
@menghaoranss  the custom algorithm class in proxy server, but not in ui server

[2020-04-07 08:09] kimmking commented on #5079
sharding-jdbc hasn't ‘schemaName’ property, just remove it.

[2020-04-07 08:12] kimmking commented on #5084
@danielzhou888 I suggest you should put your custom algorithm class both to proxy & ui server lib directory.

[2020-04-07 08:39] odyssey1816 commented on #234
欢聚时代 https://www.yy.com/

[2020-04-07 08:50] wqzwh opened #5089 "Rewrite Vue charts code"
Because the Vue charts library does not generate a release package, every time NPM install will pull the latest code again, which will have a certain impact on the stability of the front-end UI of this project.

~~Finally decided to replace the Vue charts Library to vue-echarts-v3 library~~

[2020-04-07 08:53] fyuan1030 opened #5090 "why this sub query which sharding website told me that is ok can't support"
I write a SQL with mybatis, it is just an easy SQL ,like this
SQL : select count(*) from
        (select
        *
        from t_user) tmp
but it can't be parse; but when I learn it from sharding website, it told me that is ok ;is it a bug?
my version is 3.1.0;
![image](https://user-images.githubusercontent.com/38123832/78649039-74c7f600-78ef-11ea-9f72-5c806d867c81.png)
![image](https://user-imag

[2020-04-07 08:54] lqlcy1 opened #5091 "过滤反引号的问题"
由于一些数据库的不规范使用原因  有一些字段使用 group这个关键字进行命名，例如 insert into test(group) values('test')这样的sql，为了避免报错 会加上反引号
 insert into test(`group`) values('test')。
在使用shardingsphere的时候 发现该组件会把反引号过滤掉 导致执行的时候 数据库把字段当成了关键字 执行报错，请问有没有解决方案

[2020-04-07 09:01] #5091 closed

[2020-04-07 09:05] terrymanu commented on #5090
Please try to version 4.x, the version 3.x is out of service

[2020-04-07 09:05] #5090 closed

[2020-04-07 09:06] terrymanu commented on #5091
**For English only**, other languages will not accept.

[2020-04-07 09:22] KomachiSion opened #5092 "Under the limit thread pool, the inventory data task in sharding-scaling will not execute"
Currently, sharding-scaling will split inventory data in tables to multiple tasks, and execute them in different threads.

If the thread pool has no enough threads, the task will be break until other task finish and callback break tasks in same taskGroup to re-submit again.
It can work well if thread pool is not very small.

But if thread pool is quiet small, such as 2, there are some tasks will n

[2020-04-07 10:13] danielzhou888 commented on #5084
@kimmking Thank u for your suggests, I'll take u answer.

[2020-04-07 10:15] wqzwh commented on #5089
Finally, I‘ll use Vue to encapsulate echarts

[2020-04-07 10:55] jacknate commented on #5040
@KomachiSion Thanks for your answer. Will shardingsphere support this in the future?
Because i need to query record by id(without sharding key as param) which depends on this feature(restricting the initiative value and increasing the step of auto-increment key, so with specify id, i can known the record stored which table)
As an alternative, I will group the records by sharding column and then in

[2020-04-07 11:25] fyuan1030 commented on #5090
OK  Thank you；but I use this dependency
       <dependency>
            <groupId>io.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>3.1.0</version>
        </dependency>
so maybe I can't find the version 4.x

[2020-04-07 16:09] maojing123 commented on #4619
Has the problem been solved?

[2020-04-07 16:10] maojing123 commented on #4619
Has the problem been solved?

[2020-04-08 00:53] KomachiSion commented on #5040
Hi @jacknate, currently, ShardingSphere has no plans to implement this feature. If you have requirements, we can discuss whether it is necessary.

At the same time, you are welcome to implement this feature and submit a PR.

In addition, I do not suggest to do query without sharding key, which will cause full-routing.

[2020-04-08 01:09] ssxlulu commented on #5065
Some questions, remove the schema will also delete the actual schemas and the tables in the backend database?

[2020-04-08 01:16] menghaoranss commented on #5065
Just remove schema configuration in config center.

[2020-04-08 08:25] zhaox1n opened #5105 "SQLParseEngin: Cannot support database type 'MySQL'"
## Question

I only want to use the parser module of shardingsphere  . But it shows that `Cannot support database type 'Mysql'`.

[code]
I am not sure it is a bug or it cannot use as i mentioned. The version i used is `shardingsphere-sql-parser-engine:4.0.1`

[2020-04-08 09:20] cherrylzhao commented on #4910
close this issue for no response for more than 7 days

[2020-04-08 09:20] #4910 closed

[2020-04-08 09:25] terrymanu commented on #5105
What is your requirement for using ShardingSphere without SQL parser? I think it is not the correct way to use ShardingSphere

[2020-04-08 09:40] zhaox1n commented on #5105
I mean that I only want to use the SQL parser module of ShardingSphere for SQL analysis for mysql.  Maybe I could use the Ali Druid parser module. Or only use the antrl4 model of the parser.

[2020-04-08 09:52] KomachiSion opened #5106 "Re-design for Sharding-Scaling Job"
## Current Job Design

Sharding-Scaling will extract `datasources` and `actualDataNodes` information from ShardingSphere's sharding configuration to generate Sharding-Scaling jobs. Each complete ShardingSphere configuration will generate a complete Sharding-Scaling job.

After checking datasources, Sharding-Scaling job will do the first time job spliting according to the datasource. Each datasourc

[2020-04-08 12:07] kimmking commented on #4896
I will split this issue to 3 phase:
1.  add project structure and integrate center repository
2.  add load and refresh methods, global notifications
3.  revise docs and update unittests/examples

[2020-04-08 12:08] kimmking commented on #4896
@ssxlulu @yu199195 @menghaoranss we will move on and each one can take a part of it.

[2020-04-08 12:17] terrymanu commented on #5105
OK, I understand. You can use shardingsphere-sql-parser independently.
Beside import shardingsphere-sql-parser-engine, you also need to import sql dialect modules

[2020-04-08 14:48] zhaox1n commented on #5105
Thanks for answering

[2020-04-08 14:48] #5105 closed

[2020-04-08 16:19] Leinariys commented on #5079
good, but it doesn’t help start with yml settings ((

[2020-04-08 16:22] Leinariys commented on #5079
Good name?
Any ideas how to start? and what should be the scheme?

[2020-04-09 01:05] ssxlulu commented on #4896
Please assign me phase 2.

[2020-04-09 03:07] #4937 closed

[2020-04-09 03:15] cherrylzhao commented on #4893
fixed in #4991

[2020-04-09 03:16] menghaoranss commented on #4896
I can try phase 1, and maybe each phase needs to be split into sub issues also, we can complete them together.

[2020-04-09 03:18] cherrylzhao commented on #4407
fixed it at #4735

[2020-04-09 03:22] cherrylzhao commented on #3551
fixed it at #4991, if you want to use original Seata microservice, `sharding-transaction-base-seata-at` module should not be introduced.

[2020-04-09 03:24] cherrylzhao commented on #2881
enhanced it #4991, you can use original ShardingDataSource to integrate with Seata in micro-service transaction now

[2020-04-09 04:13] tristaZero opened #5114 "Bad function name"
Someone gave a bad spelling for function name

[2020-04-09 04:13] tristaZero commented on #5114
Who did?

[2020-04-09 04:18] #5114 closed

[2020-04-09 04:41] Leejp1990 commented on #5080
1.The sharding-shpere version is 3.1.0.
2.I open the sql.show on dev environment, the logic sql and actual sql is right. Because of the log size, I didn't open this property on prod env.Now I use the hint route method instead of auto route way.
Thanks your answer once more.

[2020-04-09 06:57] #3849 closed

[2020-04-09 07:10] terrymanu commented on #5080
The version 3.x is out of service, please try 4.x

[2020-04-09 07:10] #5080 closed

[2020-04-09 07:36] kimmking commented on #5079
It's a spring boot config issue, not sharding issue.
And my suggestion is:
1. spilt your config whatever yml or properties to multi files with different profiles(such as p1/p2/p3/p4), you can search spring boot profiles.
2. set multi profiles active as the following.

[2020-04-09 09:36] #5065 closed

[2020-04-09 09:38] xfyang1988 opened #5121 "Can shardingsphere provide a user configurable parser?"
Can sharing sphere provide a user configurable parser?
For example, durid or ANTLR or do you research by yourself?
So users balance performance and SQL compatibility?

Are follow-up plans available?

[2020-04-09 09:43] fyuan1030 opened #5123 "org.antlr.v4.runtime.tree.ErrorNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext"
Caused by: java.lang.ClassCastException: org.antlr.v4.runtime.tree.ErrorNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext
	at org.apache.shardingsphere.sql.parser.core.extractor.impl.dml.PredicateExtractor.extractPredicate(PredicateExtractor.java:140) ~[shardingsphere-sql-parser-engine-4.0.1.jar:4.0.1]
	at org.apache.shardingsphere.sql.parser.core.extractor.impl.dml.PredicateExtrac

[2020-04-09 09:55] fyuan1030 commented on #5123
when I change the SQL like this; it is ok
select
from table_name
where type=1 and CURRENT_TIMESTAMP BETWEEN startTime AND endTime
AND a in

#{item}

and status = 0 order by mtime asc

[2020-04-09 10:33] tristaZero commented on #5123
@fyuan1030 Thanks for your feedback, I will give it a look.

[2020-04-09 10:45] kimmking commented on #5121
In our plan, parser module is a pluggable and neccessary component.
If you want replace it with another third party one, it's all right and I think you must make some integration issue for it to adapter its parser results to Sharding domain objects.

[2020-04-09 10:48] fyuan1030 commented on #5123
it's my pleasure。

[2020-04-09 10:50] kimmking commented on #4896
I have done some tasks for Phase1&2 and merged into master now.
We can moving on to do 3&4.

[2020-04-09 10:57] kimmking opened #5128 "Optimize MetaData Center #MetaDataCenter-phase-3"
According to #4896/#5008/#5049 , we will optimize metadata center:
- [x] 1.add refresh metadata event after executing ddlstatement @yu199195  #5138
- [x] 2.add metadata center tests @menghaoranss #5142
- [x] 3.add metadata center examples @yu199195  #5143
- [x] 4.add metadata center documents to docs5.x branch #5166
- [ ] 5.optimize metadata structure in center
- [ ] 6.optimize metadata refresh me

[2020-04-09 11:03] #5049 closed

[2020-04-09 11:04] kimmking commented on #4896
Let's talk about/pick up tasks from https://github.com/apache/incubator-shardingsphere/issues/5128

[2020-04-09 11:05] yu199195 commented on #5128
I will fix  1,3

[2020-04-09 11:30] ssxlulu commented on #5128
I will fix 5,6,7, and what's more, I think each one should add unit tests after coding.

[2020-04-09 12:22] kimmking commented on #5128
@yu199195 @ssxlulu
ok，we can discuss about details here.

[2020-04-09 12:41] #5089 closed

[2020-04-09 15:18] #4595 closed

[2020-04-10 01:07] menghaoranss commented on #5128
Unit tests and documents may need to be continuously updated, we can give priority to process other tasks together.

[2020-04-10 03:27] cws1981 opened #5134 "actual-data-nodes 是否可以结合apollo 动态调整？"
按月分表后，可以动态调整 actual-data-nodes 配置，可以吗？

[2020-04-10 04:16] terrymanu commented on #5134
**For English only**, other languages will not accept.

[2020-04-10 04:16] #5134 closed

[2020-04-10 04:27] terrymanu commented on #4784
You may startup Sharding-Proxy, and connect with MySQL client. Then input error SQL, then you can find the error message in backend.
From the error message, you can find the class entry.

[2020-04-10 05:08] tristaZero opened #5135 "Simplify the `SelectStatement`"
- [ ] Move `getSimpleTableSegments()` from `SelectStatement` to `SelectStatementContext`
- [ ] Consider the same operation for `TableReferenceSegment`, `JoinedTableSegment`, `JoinSpecificationSegment` and `TableFactorSegment`.

[2020-04-10 05:09] tristaZero commented on #5135
Could you consider this ISSUS? @jingshanglu

[2020-04-10 05:29] jingshanglu commented on #5135
I'll support it.

[2020-04-10 06:14] tristaZero commented on #5123
@fyuan1030 Hi AFAIK, `CURRENT_TIMESTAMP` is a function name for a query in MySQL, so the correct format in SELECT SQL is `select CURRENT_TIMESTAMP()`.
What's the meaning of `CURRENT_TIMESTAMP` in your SQL?

[2020-04-10 06:41] tristaZero opened #5136 "Remove stale functions"
**Task content:** Remove the stale functions(Not used anymore) in `PostgreSQLDMLVisitor`, `MySQLDMLVisitor`, `OracleDMLVisitor`, `SQLServerDMLVisitor` and `SQL92DMLVisitor`.

**Task difficulty level:** ★☆☆☆☆

[2020-04-10 06:44] tristaZero commented on #5136
This is a good first issue, welcome newbie to join the community. 😃

[2020-04-10 07:25] menghaoranss commented on #5128
@kimmking ，about task 5, does the metadata structure in center have to be consistent with the metadata in the memory?
I have some suggestions:
[code]
And this is the previous config：
[code]

[2020-04-10 07:37] menghaoranss commented on #5128
I will process task 2 first.

[2020-04-10 11:14] strongduanmu commented on #5136
Hi, i want to solve this issue！

[2020-04-10 11:43] kimmking commented on #5043
This feature has been achieved in master.

[2020-04-10 11:59] kimmking commented on #5084
@danielzhou888 You are welcome.
We'll close this issue soon.

[2020-04-10 12:22] zjcnb commented on #5073
thx

[2020-04-10 12:36] zjcnb commented on #5073
i got it😁

[2020-04-11 03:28] cherrylzhao opened #5145 "Fix typo of Bootstrap in sharding-proxy"
in [Bootstrap.java](https://github.com/apache/incubator-shardingsphere/blob/master/sharding-proxy/sharding-proxy-bootstrap/src/main/java/org/apache/shardingsphere/shardingproxy/Bootstrap.java) we should fix paredPort => port

[code]

[2020-04-11 06:13] strongduanmu commented on #4683
Hello everyone, I want to participate in this task to check MySQL syntax. I am still a beginner in the field of ANTLR, I will try to keep up with everyone's rhythm.

[2020-04-11 06:15] strongduanmu commented on #5145
Hi, I want to fix this issue, please assign to me!

[2020-04-11 07:23] #5145 closed

[2020-04-11 09:40] Leinariys commented on #5079
Hi, it’s not clear where the profiles are here, I’m not a springing configuration, but YamlShardingDataSourceFactory.createDataSource(file), which allows you to turn the settings file into a data source.
Please help by showing an example with code

[2020-04-11 13:41] zhouzongbo opened #5149 "Can shardingsphere dynamically create tables during program operation"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-04-11 15:04] xfyang1988 commented on #5121
So, do you plan to continue to use "ANTLR" as the only syntax parser of shardingsphere? There is no plan to configure parsers like "durid" or other parsers with better performance

[2020-04-11 15:05] tianbin1001 commented on #234
叮当快药 http://www.ddky.com/

[2020-04-12 05:01] tristaZero opened #5151 "Wrong merged result for two list sharding value"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-04-12 06:19] #5151 closed

[2020-04-12 09:57] wangzihaogithub opened #5155 "Is the set or show command supported?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2020-04-12 10:00] wangzihaogithub commented on #5155
1. show status;
2. show variables;
3. show variables like '%my_name%';
4. show full processlist;
5. show errors;
6. show warnings;
7. show character set;

8. set global my_var:=my_value;
9. set @@gloabl.my_var:=my_value;

[2020-04-12 10:03] wangzihaogithub commented on #5155
Whether the metadata center is relevant?

[2020-04-12 11:32] terrymanu commented on #5017
The yaml rule file may like this:

[code]

[2020-04-12 14:04] maojing123 commented on #2712
4.0.0还是不行

[2020-04-12 15:16] fyuan1030 commented on #5123
@tristaZero hi dear young sister, thanks for your reply, I am sorry that I didn't reply you on time as I have so many things to do;  my mysql's version is 5.7.25, I can use **current_time** query time；
and when I change the position of current_time like this **select ? from tbl_name where ? and current_time between ? and ?** is correct. but this **select ? from tbl_name where current_time between

[2020-04-13 02:48] nevereverever commented on #5155
Most of them are unicast to single mysql.
Maybe the designer didn't think about some problems.
Such as show full processlist?
Because the PID may be the same.

[2020-04-13 02:56] cherrylzhao opened #5157 "Remove @author comment tag in ParseASTNode.java"
`ParseASTNode.java` left one @author comment tag which should be removed.
[code]

[2020-04-13 03:27] kimmking commented on #5149
Yes.

[2020-04-13 03:36] terrymanu commented on #5121
ShardingSphere can not support parser without ANTLR for now.
If support more sql parser engine, we need define a new API to separate ANTLR and other implementation(such as Druid) which need a lot of work.
There is not plan to do this and it is not easy to do.
Is there anybody interested with this enhancement?

[2020-04-13 03:51] tuohai666 commented on #4931
Not yet. The new plugin which will come soon can support 4.0.0/4.0.1 and maybe 4.1.0.

[2020-04-13 03:56] wangzihaogithub commented on #5155
ok. What are the plans for the future?

[2020-04-13 04:01] #4736 closed

[2020-04-13 04:02] kimmking commented on #5128
task 5/6/7 we should make a design before do it.

[2020-04-13 04:05] dongzl opened #5159 "Optimizate code about sharding-orchestration-center-etcd module."
I find some code about `sharding-orchestration-center-etcd` can be optimizated.

- [x] `jetcd.version` in this module's pom.xml can be moved to project root pom.xml.
- [x] upgrade `jetcd.version` to newest version.
- [x] In `EtcdCenterRepository` file, `config` is a global variable, but it is not used except the `init` method, I think we can define a local variable at `init` method.

[2020-04-13 04:17] tuohai666 commented on #4904
Thanks for your report. The parser didn't support PREPARE yet. I'll try to fix it, this is the first step.

The next step is complicated. PREPARE and EXECUTE in this case are not real preparedStatement transport in the wire. They are all TEXT protocol. We don't have the mechanism to cache the parameter like @id.

BTW, can you show me the scenarios that you use PREPARE like that?

[2020-04-13 04:19] terrymanu commented on #5155
There is no plan with these SQL, do you interesting with them?

[2020-04-13 04:21] wangzihaogithub commented on #5155
No, I'm not interested.
Just to get to know

[2020-04-13 04:22] #5155 closed

[2020-04-13 04:23] terrymanu commented on #5155
OK, Could we close this issue?

[2020-04-13 04:24] wangzihaogithub commented on #5155
ok

[2020-04-13 04:30] tuohai666 commented on #4755
Hi @funnything2014, the information you provided is not enough. Please fill in the template below.

It's better to have a logic SQL and an actual SQL from the log. (via sql.show : true)

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues

[2020-04-13 04:33] tuohai666 commented on #3556
I'll fixed is soon.

[2020-04-13 04:35] tuohai666 commented on #3555
I'll check it later.

[2020-04-13 04:41] liweiboy opened #5160 "join sql report an error"
My query sql is : "select * from t_54_ws_wsda_v v inner join t_54_ws_wsda_f f on f.owner_id = v.id".
Report an error is : "Cause: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0] with root cause ".
My table rule is: "
tables:
  t_54_ws_wsda_f:
    actualDataNodes: db_0.t_54_ws_wsda_f_${0..1}
    logicTable: t_54_ws_wsda_f
    tableStrategy:
      standard:
        preciseAlgorithmClassName:

[2020-04-13 05:22] tristaZero commented on #5123
@fyuan1030 Hi I want to make sure `current_time` means the column in your table or the keyword of MySQL?

[2020-04-13 05:23] #5136 closed

[2020-04-13 05:50] #5149 closed

[2020-04-13 05:50] kimmking commented on #5159
Awesome.

Accept 2/3/4.
The no.2: Guava version here is greater than root for jetcd. Removing is unneccessary.

[2020-04-13 06:03] #5160 closed

[2020-04-13 06:13] terrymanu commented on #2911
Expired

[2020-04-13 06:13] #2911 closed

[2020-04-13 06:16] dongzl commented on #5159
Hi @kimmking , OK, I will fix this issue and test it to work well.

[2020-04-13 06:48] RaigorJiang commented on #3591
UPDATE:
For current version 4.0.1， the SQL
`SELECT db.oid,db.* FROM pg_catalog.pg_database db WHERE datallowconn AND NOT datistemplate ORDER BY db.datname`
can be executed successful, but after that, DBeaver sends another SQL
`SELECT current_schema(),session_user`,
it causes ANTLR visit error.
Maybe we should pend current issue, and pay some more time to fix and test Proxy with DBeaver.

[2020-04-13 06:52] kimmking commented on #5030
@Zhumingj  This issue is out of date, we should close it now.
And you can subscribe #5044 for further discuss, any constructive suggestion is welcome here.

[2020-04-13 06:52] #5030 closed

[2020-04-13 07:07] fyuan1030 commented on #5123
@tristaZero keyword;

[2020-04-13 07:27] menghaoranss commented on #3267
We will discuss whether to support all registries in UI.

[2020-04-13 09:12] #4522 closed

[2020-04-13 09:42] yanyzy opened #5163 "Add examples for shadow"
To make shadow database easier to understand and use, need to add some examples for it.

- [x] shadow-raw-jdbc-example

- [x] shadow-spring-boot-example

- [x] shadow-namespace-example

[2020-04-13 10:10] wangjing112 commented on #4904
it to test issuse #4707 by dbeaver.
in normal will not use PREPARE like this.

[2020-04-13 12:31] terrymanu commented on #3930
Closed because no response anymore.

[2020-04-13 12:31] #3930 closed

[2020-04-13 12:50] LeeGuoPing commented on #5157
hi, i want to do it!

[2020-04-13 13:07] terrymanu commented on #5157
@LeeGuoPing, Welcome, I just assign to you

[2020-04-13 13:50] #3626 closed

[2020-04-13 14:44] TaoZhiMLND opened #5168 "Simplify the configuration API of ShardingKeyGenerator on spring namespace"
Hi community,

ShardingKeyGenerator configuration on spring namespace  is like this now,
[code]
The following configuration will hide KeyGenerateAlgorithmFactoryBean may be more simplified,
[code]
But element `<sharding:key-generate-algorithm>` has some strange for keyGenerateAlgorithm itself has nothing to do with Sharding. Besides, the elements `<key-generate-algorithm>` and `<key-generator>` ha

[2020-04-13 15:56] kimmking commented on #5168
IMO, if we need share a singleton bean, the first config style is simple enough:
[code]

And if no need to share it, the simplest config style is:
[code]

[2020-04-13 16:14] kimmking commented on #2326
![image](https://user-images.githubusercontent.com/807508/79137190-d652fd80-7de4-11ea-9581-897d1f20fe00.png)

It's okay now.

[2020-04-13 16:24] kimmking commented on #2673
![image](https://user-images.githubusercontent.com/807508/79137937-39915f80-7de6-11ea-94b2-46a8790df565.png)

It seems right now.

[2020-04-14 00:14] tristaZero commented on #2673
@benkris1 @xuanergg @linxux Hi everyone
@kimmking 's test showed this ISSUE has been fixed already, Thanks. :)
Could anyone give it more tests?

[2020-04-14 01:56] tristaZero commented on #5168
Hi I prefer the second one @kimmking mentioned, i.e,

Firstly, IMO, it is better to hide `org.apache.shardingsphere.shardingjdbc.spring.namespace.factorybean.KeyGenerateAlgorithmFactoryBean` which id internal class of ShardingSphere from user.
Secondly, like the picture below shows, the beans of `ShardingAlgorithm` and `KeyGenerateAlgorithm` have a similar format but with a different meaning, whic

[2020-04-14 02:20] #2326 closed

[2020-04-14 02:21] #2673 closed

[2020-04-14 02:24] cherrylzhao commented on #5168
in fact, `<sharding:key-generator id="orderKeyGenerator" column="order_id" type="INCREMENT" />` is the old api before #1997, in this way keyGenerator was instanced by ServiceLoader which could been managed by spring-container. TaoZhiMLND and I have made many work in order to keep the old api but it is not possible to create 2 different beans in one spring tag, so we separate the KeyGeneratorAlgori

[2020-04-14 03:18] wqzwh commented on #3267
ok

[2020-04-14 03:44] tuohai666 commented on #4904
@wangjing112, thanks. Users can't benefit from this PREPARE usage, all commands still transport via COM_QUERY, the performance won't improve. And I never heard of someone use this SQL.  I suggest we don't fix this issue. What do you think?

[2020-04-14 03:48] tuohai666 commented on #4931
Please refer to https://github.com/apache/skywalking/issues/4229

[2020-04-14 03:48] #4931 closed

[2020-04-14 03:58] cherrylzhao commented on #5168
@TaoZhiMLND would you please investigate whether the FactoryBean api could simplify to this:

<spi:bean id="incrementAlgorithm" type="INCREMENT"/>
<sharding:key-generator id="orderKeyGenerator" column="order_id" algorithm-ref="incrementAlgorithm" />

[2020-04-14 04:07] tuohai666 commented on #4904
@wangjing112, I have tried DBeaver, unbelievable good. Thanks.

[2020-04-14 04:31] TaoZhiMLND commented on #5168
Thanks for all lot you, and I will do it soon!

[2020-04-14 04:37] kimmking commented on #2904
![image](https://user-images.githubusercontent.com/807508/79186614-bd7e3280-7e4c-11ea-85ca-1cfd033fdd09.png)

It's okay now.

[2020-04-14 04:37] #2904 closed

[2020-04-14 04:49] kimmking commented on #3572
IMO, mock an our own infomation-schema & role-user layer out of datanode(physical mysql db) is a final solution here.

[2020-04-14 05:40] kimmking commented on #3922
@dongzl @SteNicholas We already persist metadata to zk now.
And another question just like this first thread post by @cherrylzhao , add other fields to metadata center is neccesary or not?

[2020-04-14 05:43] flypangzhi opened #5171 "ShardingTransactionType cannot be resolved to a type"
## Question
I configured XA transactions as documented, but the ShardingTransactionType cannot be resolved to a type

## Version
[code]

## pom.xml

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>${sharding-jdbc-spring-boot-starter.version}</version>
        </dependency>

		<

[2020-04-14 05:49] flypangzhi opened #5172 "UUID is configured, but SNOWFLAKE is used"
Question

I documented UUID to generate the primary key, but  actually used is SNOWFLAKE

[2020-04-14 05:49] #5172 closed

[2020-04-14 05:51] cherrylzhao commented on #5171
this feature is only supported since 4.1.x which will be released recently，you can try it in our master branch.

[2020-04-14 05:59] tristaZero commented on #5123
Hi but you use `CURRENT_TIMESTAMP `, not `current_time ` in this SQL.

[2020-04-14 06:10] flypangzhi opened #5173 "UUID is configured, but SNOWFLAKE is used"
### Question

UUID is configured, but SNOWFLAKE is used

### errorMsg
[code]

### Version
[code]

### TABLE
[code]

### yml

[code]

### sql
[code]

[code]

### CODE
[code]

[code]

[code]

[code]

[code]

[code]

[2020-04-14 06:17] flypangzhi commented on #5171
thanks

[2020-04-14 07:25] kimmking commented on #5173
It's correct in my test using your sql&config.

![image](https://user-images.githubusercontent.com/807508/79197086-c3cbd900-7e63-11ea-995d-3e1f638cd940.png)

[code]

[code]

[2020-04-14 07:29] yanyzy opened #5175 "Print configuration information for shadow"
Add a judgment for ShadowRuleConfiguration in ConfigurationLogger.java and add a log method.

[code]

[2020-04-14 08:50] flypangzhi commented on #5173
after test,use sharding-jdbc-spring-boot-starter 4.0.0-RC1 to start the application is nornal, but use the 4.0.1 version to start is fail。is there conflict with other jars?

### errorMsg
[code]

[2020-04-14 08:59] xfyang1988 commented on #5121
ok

[2020-04-14 08:59] #5121 closed

[2020-04-14 09:36] #5171 closed

[2020-04-14 09:36] flypangzhi commented on #5171
this feature is only supported since 4.1.x which will be released recently，you can try it in our master branch.

[2020-04-14 10:17] TaoZhiMLND commented on #5168
It works well by leveraging a BeanDefinitionParser,
![image](https://user-images.githubusercontent.com/9602831/79213333-968b2500-7e7b-11ea-95e3-a99a43f4f66c.png)

and I will commit a pr soon.

[2020-04-14 10:28] #3555 closed

[2020-04-14 11:06] wangjing112 commented on #4904
i agree!

[2020-04-14 11:06] #4904 closed

[2020-04-14 11:31] cws1981 opened #5181 "nacos modification configuration is not synchronized to the service"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
I modify the Data ID of nacos: .shardingDataSource.config.schema.logic_db.rule content
For example: actualDataNodes hope to change the configuration of the shard table

### Actual behavior
nothing happened

### Reason analyze (I

[2020-04-14 12:05] kimmking commented on #5181
Plz show your config here.

[2020-04-14 12:09] cws1981 commented on #5181
OK tomorrow😅

[2020-04-14 12:44] fyuan1030 commented on #5123
@tristaZero sorry, I spelt it wrong, but current_timestamp is right too;
![image](https://user-images.githubusercontent.com/38123832/79226304-ba0c9a80-7e90-11ea-9f18-8cbb78b82e58.png)

[2020-04-14 16:00] tengfeizou opened #5184 "Sharding Proxy Mysql Driver8"
Did shard proxy 4.0.1 support mysql-connector-java-8? I put the mysql-connector-java-8.0.15.jar to the ${sharding-proxy}\lib, but the proxy start error，did I missing something？

[2020-04-15 00:42] KomachiSion commented on #5040
Hi @jacknate, any response for this issue? If no more response, we will close this issue.

[2020-04-15 01:11] flypangzhi commented on #5173
@tristaZero Can you help me? This problem has been bothering me for a long time,thanks

[2020-04-15 01:18] kimmking commented on #5184
Don't support now.
You can try 5.1.47

[2020-04-15 01:18] #5184 closed

[2020-04-15 01:23] kimmking commented on #5173
Your error message above is not related of key gen. It seems datasources config conflict.
See faq: https://shardingsphere.apache.org/document/current/cn/faq/   No.20

If not work, plz show all your config in yaml/spring/javacodes.

[2020-04-15 01:25] LeeGuoPing commented on #5175
hi, i want to do it!

[2020-04-15 01:26] #5157 closed

[2020-04-15 02:00] jingshanglu commented on #5135
Some other modules directly call getSimpleTableSegment () of selectStatement, which cannot be directly moved to selectStatementContext. @tristaZero

[2020-04-15 02:15] flypangzhi commented on #5173
**According to the FAQ NO 20，I changed the druid-spring-boot-starter data source to DBCP OR DBCP2 , but the error still exists。**

### errorMsg:

[code]

### pom.xml
[code]

### yml

[code]

[2020-04-15 02:22] cherrylzhao commented on #5168
the final api have changed to `<spi:key-generate-algorithm id="incrementAlgorithm" type="INCREMENT" props-ref="xxx"/>`, please don't forget revise the example and docs later

[2020-04-15 02:24] flypangzhi commented on #5173
**the project address: https://gitee.com/my51/ss-db-table.git . sql file is in the sql folder**

[2020-04-15 02:58] nevereverever opened #5189 "Does it have cancel request function？"
sharding-proxy version: 4.0.1

If a query takes too long and I want to terminate，I can't stop it.

[2020-04-15 06:18] tuohai666 commented on #5189
I'll check this later.

[2020-04-15 06:21] nevereverever commented on #5189
order by string cannot cancel request,I just found out this bug is fixed by tuohai666,I haven't tried yet.But cancel request is not normal yet.

I debug the code,I find that navicat cancel request by using the SQL(type is COM_QUERY) which is "kill 1".
error code:
[code]

Hope to help you.THK.

[2020-04-15 06:51] tuohai666 commented on #5189
@nevereverever You information is very helpful, thanks.

[2020-04-15 07:11] dongzl commented on #5181
Hi @cws1981 ,  4.0.1 version doesn't support nacos very perfectly, you can use Zookeeper for RegistryCenter.

we will support nacos more perfectly in the next version.

[2020-04-15 07:18] dongzl commented on #5181
duplicate #3361

[2020-04-15 07:20] cws1981 commented on #5181
Thank you for your answer, I see nacos in the source code, I think it can be used, okay I will use zookeeper instead, is it necessary to deploy sharing-ui to operate?

[2020-04-15 07:42] #5181 closed

[2020-04-15 08:01] tristaZero opened #5196 "Provide SPI spring namespace configuration for all the Sharding algorithms"
Hi
**Content:** This issue is to provide SPI spring namespace configuration for Sharding algorithms.
**Difficulty rating:** ★★☆☆☆

[2020-04-15 08:03] tristaZero commented on #5196
### Background
All the sharding algorithms are loading by SPI currently, which you can refer to #5017 to learn more. Now, we need to provide SPI spring namespace configuration for all the sharding algorithms.

### What is wanted
Use the following configuration format

instead of

### How
1.Refer to #5190 to learn how to use `beanFactory` to call `TypedSPIRegistry`
2.Provide `spi:sharding-algorithm

[2020-04-15 08:03] #3556 closed

[2020-04-15 08:05] tristaZero commented on #5196
@TaoZhiMLND Hi would like to tackle this one?

[2020-04-15 08:07] strongduanmu commented on #5196
I want to solve this issue. Can you assign it to me?

[2020-04-15 08:08] tristaZero commented on #5196
@strongduanmu Sure, guy. :)
Since @TaoZhiMLND  finished #5190 , it is easy for him. If you want to have a try, I will assign to you.

[2020-04-15 08:13] tristaZero commented on #5196
Actually, this issue is not much hard, since  #5190 gave a good example. 😃
Besides, you can learn those branch new configuration APIs more, which I believe will simplify the tedious configuring work from our users. :-)

[2020-04-15 08:14] strongduanmu commented on #5196
I want to try, please assign to me, thank you! 😀
Before starting work, I will first learn the contents of pr # 5190.

[2020-04-15 08:16] tristaZero commented on #5196
@strongduanmu Enjoy and learn more from it.😉

[2020-04-15 08:23] yanyzy commented on #5175
@LeeGuoPing Welcome, I just assigned to you.

[2020-04-15 09:00] tristaZero commented on #5196
Sorry @TaoZhiMLND , but thanks for your contribution of #5190 . :-)
 Hope see your more interaction with this community.

[2020-04-15 09:10] cws1981 opened #5198 "Why is there a delay of about 5 seconds service takes effect, when changing the rules of the registration center ?"
Why is there a delay of about 5 seconds when changing the rules of the registration center? I use version 4.0.1 and zk registration center.

[2020-04-15 09:24] TaoZhiMLND commented on #5196
It doesn't matter,  I will continue to focus on the community.   I believe @strongduanmu  will do a great job, and any question is welcome.

[2020-04-15 10:35] tristaZero opened #5200 "Use new Inline algorithm for configurations of annotated tests"
Hi community, it is a good first issue. Welcome your attention. 😀
Content: Modify YAML configurations with the new Inline algorithm
Difficulty rating: ★☆☆☆☆

[2020-04-15 10:40] menghaoranss commented on #5198
@cws1981 ,hi, could you describe your specific steps ?

[2020-04-15 10:43] tristaZero commented on #5200
### Backgroup
We are working on designing [new configuration API](#5017 ). As the inline sharding strategy has become one implement of the standard sharding strategy, we need to update all the YAML configuration with a new configuring format.

### How to do
1. Open project and full-text search with key work `inline:` in all of the `YAML` files.
2. Refer to #5199 to update those stale configuration

[2020-04-15 11:00] strongduanmu commented on #5196
@TaoZhiMLND Thank you very much, I will try my best to do it well. 🙏😊

[2020-04-15 11:50] kimmking commented on #5198
It's due with your config details.

[2020-04-15 12:04] phpdragon opened #5203 "Error attempting to get column 'create_time' from result set. Cause: java.sql.SQLFeatureNotSupportedException: getObject with type"
Environment：

mybatis-plus-boot-starter：3.3.1
druid: 1.1.22
mysql-connector-java: 8.0.19
spring-boot-starter-parent: 2.1.7.RELEASE

Downgrading to 3.1.0 does not have this problem！！！

-----------------------------------------------------------------------------------

Throws below exception when executed a query sql statement by Mybatis Plus.

2020-04-15 19:50:00.489[http-nio-8080-exec-2]|INFO|Sha

[2020-04-15 14:05] kimmking commented on #5203
please modify the title for user searching friendly.

[2020-04-15 14:06] kimmking commented on #5203
downgrade your mysql-connector-java: 8.0.19 to 5.1.47

[2020-04-16 00:56] nevereverever commented on #4846
I fixed this.
How to contribute?

[2020-04-16 01:17] KomachiSion commented on #5040
No response more than 7 days, close issue

[2020-04-16 01:17] #5040 closed

[2020-04-16 01:49] phpdragon commented on #5203
更换了版本也是不行的，这不是一个mysql-connector-java版本的问题！
根本原因是你的类库不支持localDateTime吧？！

[2020-04-16 07:01] Ikki-Dai opened #5207 "Snowflake can be configured under MasterSlaveRules?"
## Question
Snowflake can be configured under MasterSlaveRules?

I configured master-slave datasource and configured key-generator with snowflake， but it doesn't work.
if master-slave doesn't support snowflake, can you migrate it for master-slave rule?

[2020-04-16 07:14] kimmking commented on #5203
Duplicated https://github.com/apache/incubator-shardingsphere/issues/3203

The jdbc method getObject with type doesn't support yet. But  you can convert by your application side.

[2020-04-16 07:21] kimmking commented on #5207
Id generator should be used with sharding rule, MasterSlaveRules and ShardingRules could be configured together. See the same case examples(it has snowflake key generator): https://github.com/apache/incubator-shardingsphere/blob/master/examples/sharding-jdbc-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-master-slave.yaml

[2020-04-16 07:21] #5207 closed

[2020-04-16 07:23] kimmking commented on #5198
@cws1981 any  more details for profiling? logs, configs ?

[2020-04-16 07:44] flyerik commented on #234
中移动金融科技

[2020-04-16 08:21] coderMmw opened #5208 "data fragmentation and separation of reading and writing problem"
【sharding.xml info】
`<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:master-slave="http://shardingsphere.apache.org/schema/shardingsphere/masterslave"
	   xmlns:sharding="http://shardingsphere.apache.org/schema/shardingsphe

[2020-04-16 08:24] coderMmw commented on #5208
sharding pom.xml
`
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-core</artifactId>
			<version>4.0.0-RC1-SNAPSHOT</version>
		</dependency>
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-namespace</artifactId>
			<version>4.0.0-RC1-SNAPSHOT</version>
		</dependency>
`

[2020-04-16 08:34] LikeBigCat opened #5209 "when parse SQL with many parameters, SQLParseEngine#parse0 method will be very slow"
when parse SQL with many parameters, it will be very slow
method is : org.apache.shardingsphere.sql.parser.SQLParseEngine#parse0   sqlParseKernel.parse()
version:4.0.1
for example,this sql will be use 1.5s
sql:SELECT count(0) FROM table WHERE id IN (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?) AND store_id IN (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?

[2020-04-16 08:42] hollydragon opened #5210 "ON DUPLICATE KEY UPDATE Sub-Clause paramter dropped"
DAO层使用 MyBatis，当使用 INSERT INTO VALUES
ON DUPLICATE KEY UPDATE
语句时，UPDATE 部分参数全都会丢失

[2020-04-16 08:44] hollydragon commented on #5210
使用的 hint 强制路由

[2020-04-16 08:56] kimmking commented on #5208
[code]

[2020-04-16 08:59] kimmking commented on #5210
Only English here. Plz update your issue.

[2020-04-16 09:03] coderMmw commented on #5208
It's been found to be a problem in this place，but new problems arise after modification
`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.apache.shardingsphere.shardingjdbc.spring.datasource.SpringShardingDataSource]: Constructor threw exception; nested exception is java.lang.NoSuchMethodError: org.apache.shardingsphere.api.config.sharding.TableRuleConfig

[2020-04-16 09:04] coderMmw commented on #5208
Is it because of the version I quoted

[2020-04-16 09:06] hollydragon commented on #5210
Hi,
    Thanks for replying.
    When I using sharding jdbc with MyBatis, by creating a insert or update statement:

[code]

This will bring a error:
[code]

It figures that, the args in update sub-clause loosed/dropped, even if the same arg is used at insert sub-clause.
This usage without sharding jdbc is ok, after using with sharding-jdbc, it is error.
And, all of my method imiplementation with

[2020-04-16 09:51] kimmking commented on #5210
ShardingSphere doesn't support  `ON DUPLICATE KEY UPDATE` now.

[2020-04-16 09:54] hollydragon commented on #5210
Ok, thank you, I'll expect this can be fiiled.

[2020-04-16 09:55] kimmking commented on #5210
Refer https://github.com/apache/incubator-shardingsphere/issues/4832

You can use literal value in update sub statement.

[2020-04-16 09:57] taojintianxia opened #5212 "can not insert into proxy"
## Question

before I create this issue ,  googled the corresponding question, but I didn't get anything useful. I knew yonglun is the expert of proxy, so I hope I could assign this issue to you directly @tuohai666

I tried to migrate a mysql database `test` to shardingsphere by `sharding-scaling` , but I got following exception :

[code]

I tried to debug the code , it triggered during  an insert

[2020-04-16 10:03] kimmking commented on #5209
this is a known issue，duplicated with https://github.com/apache/incubator-shardingsphere/issues/3215 .
and related if https://github.com/apache/incubator-shardingsphere/issues/3853 https://github.com/apache/incubator-shardingsphere/issues/4480

[2020-04-16 10:04] #5209 closed

[2020-04-16 10:08] kimmking commented on #5208
yes, plz check your version.

[2020-04-16 10:12] kimmking commented on #5212
Scaling does not release now.

[2020-04-16 10:42] taojintianxia commented on #5212
I see

[2020-04-16 10:56] tristaZero commented on #5123
Hi Thanks for your feedback.
The doc[1] and [2] can help give us direction, so I raized a PR #5214 to fix this bug. :)
[1] https://dev.mysql.com/doc/refman/8.0/en/keywords.html
[2] https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html

[2020-04-16 12:44] kimmking commented on #5173
@flypangzhi how to invoke your rest api?

[2020-04-16 12:58] #5123 closed

[2020-04-16 13:02] flypangzhi commented on #5173
curl -X POST http://localhost:1000/userCode/save --data '{"name":"KK001"}'  is ok,the 'code ' value is
Automatically generate by UUID is fail.

[2020-04-16 13:24] kimmking commented on #5173
After debug, I find this error is thrown by mybatis-plus, even not invoking sharding-jdbc.
The '1250240867332034561' is generated by mybatis-plus, not sharding-jdbc UUID key generator.

[code]

[2020-04-16 13:29] kimmking commented on #5173
Your config as follow doesn't work and actually use IdType.ID_WORKER to generate '1250240867332034561'  before executing sql.
[code]

[2020-04-16 13:36] kimmking commented on #5173
A simple solution :
[code]

[2020-04-16 14:03] kimmking commented on #5173
with AUTO:
[code]

result:
[code]

[2020-04-16 14:16] flypangzhi commented on #5173
Thanks a lot,It bothered me for a long time

[2020-04-17 01:04] KomachiSion commented on #5212
your `user_id` is varcher type which will be map to `String` java type. So your configuration need some change like :
[code]

[2020-04-17 01:55] LikeBigCat commented on #5209
for every "new" SQL, parse engine should re-parse. Parse need spend lots times. I don't think it's a problem.
my problem is  when parse SQL with a lot of parameters   and the number of parameters is uncertain，the number of parameters may be 500 or 501，unable to cache 。
Why the number of parameters is so large that parsing is slow ？？I think this is a problem

[2020-04-17 02:38] #5212 closed

[2020-04-17 02:44] fengyunhe commented on #650
apache-shardingsphere-proxy-搭建文档： https://www.firegod.cn/2020/04/apache-shardingsphere-proxy-%e6%90%ad%e5%bb%ba%e6%96%87%e6%a1%a3/

[2020-04-17 03:19] fengyunhe opened #5216 "Does ShardingProxy already support automatically disabling unavailable data sources, such as automatically setting DISABLED to the registry？"
## Question

Does ShardingProxy already support automatically disabling unavailable data sources, such as automatically setting DISABLED to the registry ？

[2020-04-17 04:12] kimmking commented on #5173
Ok, let's close this issue.

[2020-04-17 04:12] #5173 closed

[2020-04-17 04:25] kimmking commented on #5216
Not exactly.
For example: shardingProxy proxy 1 master and 3 slaves(slave0,1,2), we can disable one slaves such like slave0 via sharding-ui. And then we only select data from slave1,2.

ShardingProxy don't know `what's unavailable data sources`, so it can't `automatically`  disiable nodes. It's been decided and operated manually by users.

[2020-04-17 04:27] kimmking commented on #5210
@hollydragon  Any more details for this issue?

[2020-04-17 04:27] flypangzhi commented on #5173
### Supplementary information

**after my test,use mybatis-plus to generate codes,if the id generate by snowflake,  Should  use**

[code]

or

[code]

**if the id generate by UUID , Should  use**

[code]

[code]

[2020-04-17 04:31] #5175 closed

[2020-04-17 04:39] fengyunhe commented on #5216
i see ,thank you.

[2020-04-17 04:39] #5216 closed

[2020-04-17 06:05] kimmking commented on #5203
@phpdragon any more questions/details here?

[2020-04-17 06:15] kimmking commented on #5079
It's always clear here.
You want to use a config-sharding.yml with spring-boot.

The anwser in a simpe way:
1. use application.yml
2. others like the above
3. xxx-sharding.yml may be modified a little for spring boot

[2020-04-17 06:24] kimmking commented on #5079
@Leinariys BTW, if you want use an original sharding.yaml just like sharding-proxy bootstrap config, you should:
1. remove sharding-jdbc-spring-boot-starter(it only recognize spring boot parameters)
2. add a config class implement spring boot config, or create an annotation bean, to invoke YamlShardingDataSourceFactory.createDataSource(file)

[2020-04-17 06:37] #5043 closed

[2020-04-17 06:38] #5084 closed

[2020-04-17 07:05] kimmking commented on #4921
As the question is answered, we will close this issue now.

[2020-04-17 07:05] #4921 closed

[2020-04-17 07:11] kimmking commented on #3366
In my recent tests, sharding-jdbc will optimize datanode number but do not cut the values in ‘in clause’.

For example, actual tables is test0...3, and condition is id % 4, when executing sql:

Actual sqls are:

Table data nodes are cut from 4 to 2 now.

[2020-04-17 07:33] tristaZero commented on #4885
All done

[2020-04-17 07:33] #4885 closed

[2020-04-17 07:34] #4944 closed

[2020-04-17 07:58] cws1981 commented on #5198
[code]

Time to see the log I modified the configuration at 15:47:29, but the report does not exist at 15:47:56

[2020-04-17 09:36] taojintianxia opened #5219 "redundant insert (insert twice)"
## Question

hi , there

today I got an wired behavier, I insert a data as following sql through sharding proxy, however , there are two records insert into database

[code]

![image](https://user-images.githubusercontent.com/4112856/79555077-94220880-80d1-11ea-9520-60d64c547642.png)

followings are my `config-sharding.yaml` :

[code]

and this is the structure of t_order :

[code]
I'm not sure wh

[2020-04-17 09:40] taojintianxia commented on #5219
after communicate with yonglun , I realized the root cause  of this behavior :

there is no `order_id ` column in my table, and set up a sharding table rule with a not existed collumn,   so when I insert the data , sharding proxy will treat it as none table column .

the solution is create the corresponding collumn `order_id` or replace the `order_id` with `user_id` in that config file.

thanks yo

[2020-04-17 09:40] #5219 closed

[2020-04-17 10:54] tristaZero opened #5220 "Tackle with JDBC URL containing Multi-hosts"
MySQL Connector/J supports server failover and load balance by using a multi-hosts JDBC URL.
At present, users can not practice this MySQL feature since ShardingSphere can not analyze a multi-hosts JDBC URL.

However, a piece of good news is that we will provide this enhancement **in our incoming 4.1.0 release!**

Please follow this ISSUE to learn how it moves.

[2020-04-17 11:06] tristaZero commented on #5220
#### References
[1] https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-config-failover.html
[2] https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-jdbc-url-format.html
[3] https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-multi-host-connections.html

[2020-04-17 11:37] kimmking commented on #5220
[code]

[2020-04-17 12:02] kimmking commented on #5198
You should open a new issue for the latest one.

[2020-04-17 12:02] #5198 closed

[2020-04-17 14:21] #5135 closed

[2020-04-17 17:01] ppourali opened #5224 "creating CachedRowSet to populate the ResultSet returned by sharding-proxy fails"
todo list edit by tuohai666:

- [x] **Question:** creating CachedRowSet to populate the ResultSet returned by sharding-proxy fails.
- [x] **Question:** CachedRowSet populate FAIL when running inside the Sharding Proxy code.
- [ ] **Bug:** For PostgreSQL database connection: The rs.first() and rs.previous() both FAIL outside the sharding proxy (raw blackbox). This sounds really weird to me.
org.pos

[2020-04-17 20:11] ppourali commented on #5224
--UPDATE
So, for now I changed the value of the fetch size to 1;
public final class ProxyJDBCExecutePrepareCallback implements SQLExecutePrepareCallback {
    **private static final Integer MYSQL_MEMORY_FETCH_ONE_ROW_A_TIME = 1;**

It is working better apparently with the updated fetch size but when I use sql command: "use mydatabase;", it throws the following exception, but it connects to the dat

[2020-04-18 03:54] tuohai666 commented on #5219
My pleasure.

[2020-04-18 10:43] leapcat commented on #4991
When will the 5.0.0 version be released? Look forward to this feature eagerly.

[2020-04-18 10:45] JasonKing168 commented on #5200
Hi, could I have a try to fix this issue?

[2020-04-19 00:49] tristaZero commented on #5200
Good morning @JasonKing168 .
Thanks for your assistance to refactor the new API of ShardingSphere. 😀

[2020-04-19 03:55] yakamy opened #5230 "sharding-jdbc-spring-boot-starter inject datasource through bean"
when i use spring-boot-starter to config my sharding configuration, i found a trouble:
the datasource configuration is only can config from the yml,

i want to config datasource through spring bean, and config sharding strategy through yml because our datasource config is encrypted that can't be config through the yml.

i read the source code found that the sharding config get datasource only from

[2020-04-19 06:20] fengyunhe opened #5231 "How to use the columns of the parent table to configure the child table fragments ？"
## Question

If there is no user_id column in my order_item table, but there is a user_id column in the corresponding order table, and order_id in order_item corresponds to the id in order, how can I configure the user_id column to fragment the order_item table?

[code]

[2020-04-19 06:57] fengyunhe commented on #650
Apache ShardingSphere Proxy 分库分表小练习：https://www.firegod.cn/2020/04/apache-shardingproxy-%e5%88%86%e5%ba%93%e5%88%86%e8%a1%a8%e5%b0%8f%e7%bb%83%e4%b9%a0/

[2020-04-19 11:51] flypangzhi opened #5232 "git clone https://github.com/apache/incubator-shardingsphere.git is error"
## Question

**git clone https://github.com/apache/incubator-shardingsphere.git   is error,  main msg is Filename too long**

### version

**windows 7**

### errorMsg
[code]

[2020-04-19 12:37] #5196 closed

[2020-04-19 12:50] kimmking commented on #5232
https://shardingsphere.apache.org/document/current/cn/faq/

no 13

[2020-04-19 12:50] #5232 closed

[2020-04-19 13:02] kimmking commented on #5231
It must be a 'sharding key column' in a sharding table.

[2020-04-19 13:25] #5200 closed

[2020-04-19 13:28] kimmking commented on #5230
sharding-jdbc-spring-boot-starter use spring boot style configurations.
if you want use sharding-jdbc yaml style to config rules, you should remove sharding-jdbc-spring-boot-starter, and launch config yaml file from a java config way.

[2020-04-19 13:51] tristaZero opened #5234 "Update the configuration of `inline` sharding algorithm for Sharding SpringNameSpace"
Hi everyone, thanks for your attention.  😉

Content: Update the configuration of `inline` sharding algorithm for Sharding SpringNameSpace
Difficulty rating: ★☆☆☆☆

[2020-04-19 14:05] tristaZero commented on #5234
**Background**
 [New configuration API](#5017 ) is underway. As the inline sharding strategy has become one implement of the standard sharding strategy, it is necessary to modify the configuration of `inline` sharding algorithm for Sharding SpringNameSpace.

**How to do**
1. Open the project and full-text search with keyword `<sharding:inline-strategy` in all of the `xml` files.
2. Refer to #5233

[2020-04-19 14:14] flypangzhi commented on #5232
thanks

[2020-04-19 14:28] tristaZero commented on #4683
@strongduanmu Welcome, please leave me some time to get you involved easily.

[2020-04-19 14:33] strongduanmu commented on #4683
@tristaZero Thanks a lot. 🙏👍👏

[2020-04-20 00:59] cherrylzhao commented on #4003
enhance it #5218

[2020-04-20 01:02] cherrylzhao commented on #3993
enhance it #5218, mysql8-client will be supported in 4.1.0

[2020-04-20 01:03] cherrylzhao commented on #3436
enhance it #5218, mysql8-client will be supported in 4.1.0 release

[2020-04-20 01:04] cherrylzhao commented on #3712
enhance it #5218, mysql8-client will be supported in 4.1.0 release

[2020-04-20 01:07] cherrylzhao commented on #1232
enhance it #5218, mysql8-client will be supported in 4.1.0 release

[2020-04-20 01:23] #5230 closed

[2020-04-20 01:38] nevereverever opened #5235 "Any sharding rule demo for 5.0.0?"
I'm trying to use the new version, but the structural change is bigger than 4.0.1. I want to ask if there are any documents or examples？

[2020-04-20 01:52] hollydragon commented on #5210
I haven't resolved this so far, so I will try to avoid to use the `INSERT INTO VALUES ... ON DUPLICATE KEY UPDATE ...`syntax in mybatis mapper with sharding-jdbc hint.

[2020-04-20 01:59] cherrylzhao commented on #5168
hi, @TaoZhiMLND please add a spi.xsd file in our [doc-repository](https://github.com/apache/shardingsphere-doc/tree/asf-site/schema/shardingsphere)

[2020-04-20 02:18] kimmking commented on #5235
Rules structure in master is refactoring now.

[2020-04-20 02:31] tristaZero commented on #4683
@strongduanmu Hi Would you mind my friend request on Wechat? If you like, an email with Wechat number is expected. Thx.

[2020-04-20 03:41] strongduanmu commented on #4683
Hi, @tristaZero, my wechat number is s1069550670.

[2020-04-20 04:59] tuohai666 commented on #5224
Hi @ppourali , thanks for you report. We don't test rs.previous() yet, maybe there have problem.

I am a little confused. I am not sure your description and codes are inside sharding-proxy or outside.

Can you just describe the problem stand for the user outside sharding-proxy.(logs or Exceptions) And then use another section to anylyze inside the sharding-proxy separately.

Fill in the bug report

[2020-04-20 06:22] TaoZhiMLND commented on #5168
done.

[2020-04-20 06:30] dengjin001 commented on #4991
seata-1.1.0 is supports  *.yml , so  `sharding.transaction.seata.at.enable = true` support yml configuration?

[2020-04-20 06:53] TaoZhiMLND commented on #5168
for everything is done, I will close this issue.

[2020-04-20 06:53] #5168 closed

[2020-04-20 07:17] kimmking commented on #5235
@nevereverever thanks for your attentions.
We will revise documents&examples after refactoring completely and 5.0.0 version is stable.

[2020-04-20 07:17] #5235 closed

[2020-04-20 07:21] kimmking commented on #5208
what you quoted?

[2020-04-20 07:22] coderMmw commented on #5208
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-core</artifactId>
			<version>4.0.0-RC1-SNAPSHOT</version>
		</dependency>
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-namespace</artifactId>
			<version>4.0.0-RC1-SNAPSHOT</version>
		</dependency>

[2020-04-20 07:32] coderMmw commented on #5208
there is another problem,when i query the data of this table,it can not find this table .
it should be to query sub-table  but got error
` Cause: com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'ott_ucm.ucm_user_points_income_record' doesn't exist
; bad SQL grammar []; nested exception is com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'ott_ucm.ucm_user_points_inc

[2020-04-20 07:34] coderMmw commented on #5208
xml info
`<sharding:standard-strategy id="orderTableStrategy" sharding-column="order_id" precise-algorithm-ref="singleKeyHashShardingAlgorithm1" />
	<sharding:standard-strategy id="userTableStrategy" sharding-column="user_account" precise-algorithm-ref="singleKeyHashShardingAlgorithm1" />
	<sharding:standard-strategy id="macTableStrategy" sharding-column="mac" precise-algorithm-ref="singleKeyHashS

[2020-04-20 07:34] coderMmw commented on #5208
singleKeyHashShardingAlgorithm1 class
`package com.pptv.ucm.dao.sharding;

import org.apache.shardingsphere.api.sharding.standard.PreciseShardingAlgorithm;
import org.apache.shardingsphere.api.sharding.standard.PreciseShardingValue;
import org.apache.shardingsphere.api.sharding.standard.RangeShardingAlgorithm;
import org.apache.shardingsphere.api.sharding.standard.RangeShardingValue;

import java.

[2020-04-20 09:09] chenfei430124 commented on #2712
您的问题解决了吗

[2020-04-20 10:28] tristaZero commented on #5234
Hi This issue is open to the community to pick up. If anyone wants to try, please comment on this ISSUE and I will assign it to you. :)

[2020-04-20 12:33] cowcomic commented on #3572
I need it
metabase cannot work with wrong information-schema

[2020-04-20 12:50] ppourali commented on #5224
Hi @tuohai666 ,
Thanks for the reply.

**Problem:**
When running executeQuery, I am not able to move forward and backward on the ResultSet (maybe it is defined as forward_only). Therefore, I clone the resultset into a cachedrowset to be able to change the cursor position back and forth. This works for PostgreSQL, but fails for MySql. The error I get is:
_java.sql.SQLException: Streaming result set

[2020-04-20 13:05] strongduanmu commented on #5234
Hi, @tristaZero I want to solve this issue!

[2020-04-21 01:10] #5231 closed

[2020-04-21 01:39] Keanhua opened #5243 "When use mybatis-plus pageQuery with encrypt column, an error occurs"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-04-21 02:40] tristaZero commented on #5234
@strongduanmu This issue is the next step of your last one, welcome. :)

[2020-04-21 04:20] mlw12345678 opened #5245 "The Chinese document has a wrong word"
https://shardingsphere.apache.org/document/legacy/3.x/document/cn/features/sharding/principle/execute/

![image](https://user-images.githubusercontent.com/40895047/79824971-460b4e80-83ca-11ea-859f-bac5c02ed129.png)

[2020-04-21 04:26] mlw12345678 commented on #5245
I'm on fixing it.

[2020-04-21 05:10] #5245 closed

[2020-04-21 05:10] terrymanu commented on #5245
Thank you， merged

[2020-04-21 05:13] tuohai666 commented on #5224
@ppourali , thanks for re-edit, it's more clear now.

I wonder what is the Exception and logs for " I am not able to move forward and backward on the ResultSet".

Actually, move forward and backward is complete a client(JDBC in this case) behavior, that means sharding-proxy can't impact this behavior. Let's treat sharding-proxy a black box for now and further discussion, and not trying to modify c

[2020-04-21 06:15] kimmking commented on #5243
What's your config and sql?

[2020-04-21 08:07] cherrylzhao commented on #5220
currently  hostname and port only referenced by scalling and open-tracing, just extract primary host and port using regex to compatible with it

[2020-04-21 09:36] #5220 closed

[2020-04-21 10:41] joinhappy81 opened #5252 "In version 4.0.1, HintManager getInstance (). SetDatabaseShardingValue () can't use, don't enter DataSourceTypeHintShardingAlgorithm"
In version 4.0.1, HintManager getInstance (). SetDatabaseShardingValue () can't use, don't enter DataSourceTypeHintShardingAlgorithm，I just want to switch database, not tables

m1: !!org.apache.shardingsphere.orchestration.yaml.config.YamlDataSourceConfiguration
  dataSourceClassName: com.zaxxer.hikari.HikariDataSource
  properties:
    driverClassName: com.mysql.cj.jdbc.Driver
    jdbcUrl: jdbc:m

[2020-04-21 13:09] yanyzy opened #5254 "Statements other than DML should be routed to all databases when using shadow database"
Some operations need to be performed in both the shadow database and the actual database，for example, creating tables.

[2020-04-21 18:06] ppourali commented on #5224
Hi @tuohai666 ,

Thanks a lot for the reply. Here is my output. Actually, you are right, the next and previous work as expected. But I can't still populate a cachedrowset from the resultset. Could you please test this too?

**My Java Code:**
[code]

Output I get when I run:
_com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'mysqlaw.employee' doesn't exist_

So, it seems that it is

[2020-04-22 00:37] kimmking commented on #5252
what's your sql??

[2020-04-22 01:50] joinhappy81 commented on #5252
in the m1,m2   has a table
CREATE TABLE `user`  (
  `id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '用户名',
  `password` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL COMMENT '密码',
  `datasource_id` varchar(255) CHARACTER SET utf8mb4 COLL

[2020-04-22 03:19] tuohai666 commented on #5224
This exception is different from previous one and not related to stream resultset any more.

The config contains no rules, so proxy works on transparent mode. I suggest change the schemaName to adventureworks to resolve this problem. In transparent mode you can set only one  datasource, so the it's better to set the two names identical.

[2020-04-22 03:24] ppourali commented on #5224
Hi @tuohai666 ,

Thanks for the reply. It is true that this exception is different, but it is thrown on the same line as the previous exception (with in the populate method of cached rowset). I will change the database name to adventureworks and will update you about the result. Thanks a lot for the advice.

Parsa

[2020-04-22 04:04] #5254 closed

[2020-04-22 05:13] #5234 closed

[2020-04-22 06:06] kimmking commented on #5252
‘select * from user’  hasn't any sharding key, so sharding algorithm is not executed.

[2020-04-22 07:40] hjdongxuxu commented on #5203
I found that in 4.0.0 RC2, getObject will not use AbstractUnsupportedOperationResultSet.getObjject(), but when use 4.0.0 getObject uses the method "AbstractUnsupportedOperationResultSet.getObjject()";

Why change this? Will the latest version support the  latest version mybatis？
PS：https://github.com/apache/shardingsphere/issues/5203

If not I think a lot of people can not update to the latest ver

[2020-04-22 07:44] nevereverever opened #5259 "Do not specify split columns will be inserted into all nodes"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2020-04-22 09:19] nevereverever commented on #5259
I fixed this.

[2020-04-22 09:19] #5259 closed

[2020-04-22 10:04] yazong commented on #234
北京登云美业网络科技有限公司 https://www.idengyun.com/  调研中

[2020-04-22 10:05] yazong commented on #234
liliya@idengyun.com

[2020-04-22 11:37] #5159 closed

[2020-04-22 11:38] joinhappy81 commented on #5252
but in the vestion 4.0.0-RC2  can executed  sharding algorithm

first, use 'HintManager getInstance (). SetDatabaseShardingValue ("m1") '  switch the m1 datasource
second, executed  the sql ‘select * from user’

[2020-04-22 11:57] joinhappy81 commented on #5252
I think my question is the same as the following

https://github.com/apache/shardingsphere/issues/3964

Is this a bug? When will it be fixed? Is there a solution in the current environment (version 4.0.1)?

[2020-04-22 14:46] kimmking commented on #5252
@joinhappy81 OK, I know now.
It's a bug of empty table rules, and will being fix in a new 4.1.0 version, that will be released this week.

[2020-04-22 14:47] kimmking commented on #5252
Duplicated with #3964

[2020-04-22 16:12] nemofusion commented on #234
杭州涂鸦智能  www.tuya.com

[2020-04-23 02:17] taomingyaojing opened #5271 "sharding-data 4.0.1 & spring boot &mybaties can not get datasource"
pom like this :
![image](https://user-images.githubusercontent.com/7371206/80051590-251e3700-854b-11ea-9b5c-411077a7f8ef.png)
druid 1.1.19
sharding-data 4.0.0.1
get like error:
![image](https://user-images.githubusercontent.com/7371206/80051762-8f36dc00-854b-11ea-9623-971d674a150b.png)

[2020-04-23 02:18] taomingyaojing commented on #5271
I ’m not familiar with this one, so please ask the teachers to help?

[2020-04-23 02:34] kimmking commented on #5271
Learn from:https://github.com/apache/shardingsphere/tree/master/examples/sharding-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example

[2020-04-23 02:58] xiaoxiong581 opened #5274 "order by not support string column when query more than one database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-04-23 03:08] #4887 closed

[2020-04-23 03:20] fengyunhe commented on #5274
I tried to verify your problem. When I added a varchar type column at run time, I would get an error when querying again, but when I restarted the Proxy, the error disappeared.

console in log:
[code]

[2020-04-23 03:25] fengyunhe commented on #5274
![image](https://user-images.githubusercontent.com/15814939/80055738-00c75800-8555-11ea-9748-da3b37ceae13.png)
I looked at the corresponding source code, it seems that there is no corresponding column information in MetaData?

[2020-04-23 03:27] taomingyaojing commented on #5271
ok  thinks,i will check.

[2020-04-23 03:53] nevereverever opened #5277 "PROFILING ERROR"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-04-23 03:59] fengyunhe commented on #5274
use arthas can watch the params :
[code]

watch logs:
[code]

[2020-04-23 04:34] fengyunhe commented on #5274
I use "arthas" watch runing code ,and i add a new  column name such as mobile :
[code]
but mobile column not in TableMetaData's columns, and isPrimaryKey function is calling with null

[2020-04-23 04:41] fengyunhe commented on #5274
@terrymanu @tristaZero
So after executing the alter table statement, should the metadata in the application be updated

[2020-04-23 05:57] dongzl commented on #5274
Hi @fengyunhe , This doesn't cause by the  `more than one database query support order by use string column`.

you can reference this issue: #3905
fix by: #3918 .

[2020-04-23 06:22] tristaZero opened #5280 "[Call For Idea] `Range` Standard Sharding Algorithm"
Hi guys, welcome! 😊

### Background
ShardingSphere 5.x will present itself with new valuable features and simple configuration API  to our community.

**We will provide many of build-in sharding algorithms to users**, which means uses can choose a proper one from sharding-algorithm selections before implementing the interface of the sharding algorithm themselves.

**Therefore we call for your idea

[2020-04-23 06:22] tristaZero commented on #5280
### How
1. Fork this project and clone your fork one to local.
2. Install this project.
3. Create your sharding algorithm in `./incubator-shardingsphere/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/algorithm/sharding/`
4. Implement `StandardShardingAlgorithm` interface.
5. Add unit test to check what you coded in `./incubator-shardingsphere/sharding-core

[2020-04-23 06:33] fengyunhe commented on #5274
The problem I encountered is that when adding a new column, there is no newly added column in MetaData, getColumn will return null resulting in a null pointer exception, the key point is that when a column is added, MetaData in LogicSchema does not seem to be Update.

#3918  as a table name change from  logic table to actual column name fix get table meta data from LogicSchema.

[2020-04-23 06:38] tristaZero opened #5281 "[Call For Idea] `Hash` Standard Sharding Algorithm"
Hi guys, welcome! 😊

### Background
ShardingSphere 5.x will present itself with new valuable features and simple configuration API  to our community.

**We will provide many of build-in sharding algorithms to users**, which means uses can choose a proper one from sharding-algorithm selections before implementing the interface of the sharding algorithm themselves.

**Therefore we call for your idea

[2020-04-23 06:40] tristaZero commented on #5281
### How
1. Fork this project and clone your fork one to local.
2. Install this project.
3. Create your sharding algorithm in `./incubator-shardingsphere/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/algorithm/sharding/`
4. Implement `StandardShardingAlgorithm` interface.
5. Add unit test to check what you coded in `./incubator-shardingsphere/sharding-core

[2020-04-23 06:40] fengyunhe commented on #5274
I understand that the focus here is to determine whether there is a primary key, you can change the writing method, and directly traverse all the columns in the table

[2020-04-23 06:48] tristaZero opened #5282 "[Call For Idea] `Datetime` Standard Sharding Algorithm"
Hi guys, welcome! 😊

### Background
ShardingSphere 5.x will present itself with new valuable features and simple configuration API  to our community.

**We will provide many of build-in sharding algorithms to users**, which means uses can choose a proper one from sharding-algorithm selections before implementing the interface of the sharding algorithm themselves.

**Therefore we call for your idea

[2020-04-23 06:49] tristaZero commented on #5282
### How
1. Fork this project and clone your fork one to local.
2. Install this project.
3. Create your sharding algorithm in `./incubator-shardingsphere/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/algorithm/sharding/`
4. Implement `StandardShardingAlgorithm` interface.
5. Add unit test to check what you coded in `./incubator-shardingsphere/sharding-core

[2020-04-23 06:55] tristaZero opened #5283 "[Call For Idea] `Any other` Standard Sharding Algorithm"
Hi guys, welcome! 😊

### Background
ShardingSphere 5.x will present itself with new valuable features and simple configuration API  to our community.

**We will provide many of build-in sharding algorithms to users**, which means uses can choose a proper one from sharding-algorithm selections before implementing the interface of the sharding algorithm themselves.

**Therefore we call for your idea

[2020-04-23 06:55] tristaZero commented on #5283
### How
1. Fork this project and clone your fork one to local.
2. Install this project.
3. Create your sharding algorithm in `./incubator-shardingsphere/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/algorithm/sharding/`
4. Implement `StandardShardingAlgorithm` interface.
5. Add unit test to check what you coded in `./incubator-shardingsphere/sharding-core

[2020-04-23 06:58] strongduanmu commented on #5280
@tristaZero Hi, I want to solve this issue!

[2020-04-23 07:03] tristaZero opened #5284 "[Call For Idea] Complex Sharding Algorithm"
Hi guys, welcome! 😊

### Background
ShardingSphere 5.x will present itself with new valuable features and simple configuration API  to our community.

**We will provide many of build-in sharding algorithms to users**, which means uses can choose a proper one from sharding-algorithm selections before implementing the interface of the sharding algorithm themselves.

**Therefore we call for your idea

[2020-04-23 07:03] tristaZero commented on #5284
### How
1. Fork this project and clone your fork one to local.
2. Install this project.
3. Create your sharding algorithm in `./incubator-shardingsphere/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/algorithm/sharding/`
4. Implement `ComplexShardingAlgorithm` interface.
5. Add unit test to check what you coded in `./incubator-shardingsphere/sharding-core/

[2020-04-23 07:06] tristaZero commented on #5280
@strongduanmu Welcome!
Maybe your sharding algorithm will be the first one of `Sharding Algorithm Selections`!

[2020-04-23 07:40] dongzl commented on #5274
if execute alter sql and add a new column, the MetaData will be refresh. If it is convenient for you, can you test the master code?

[2020-04-23 07:57] fengyunhe commented on #5274
I found that 4.1.0 was released, the relevant code in this version has been modified, I will try it out

[2020-04-23 08:35] tristaZero opened #5287 "[NEW API] 1-Update Sharding SpringBoot configuration with new API"
Hi everyone. Welcome your joining! 😉

Content: Update the configuration of the sharding algorithm for Sharding SpringBoot with the new API.

Difficulty rating: ★☆☆☆☆

Note: To make each ISSUE simple, we split a bulky ISSUE into a few small ones. **Just follow the comment below to create your PR.** 😀

[2020-04-23 08:48] tristaZero commented on #5287
### How

#### orchestration-example
1. Refer to #5260 to update the sharding configuration for the following properties in `./incubator-shardingsphere/examples/sharding-jdbc-example/orchestration-example/orchestration-spring-boot-example/src/main/resources`.
[code]
2. Run `ExampleMain` to test your update.

### sharding-example
#### sharding-spring-boot-jpa-example
1.  Refer to #5260 to update the

[2020-04-23 08:53] tristaZero opened #5288 "[NEW API] 2-Update Sharding SpringBoot configuration with new API"
Hi everyone. Welcome your joining! 😉

Content: Update the configuration of the sharding algorithm for Sharding SpringBoot with the new API.

Difficulty rating: ★☆☆☆☆

Note: To make each ISSUE simple, we split a bulky ISSUE into a few small ones. **Just follow the comment below to create your PR.** 😀

[2020-04-23 08:54] kimmking commented on #5274
Did you add a new column via proxy, or execute ddl to mysql directly?

[2020-04-23 09:04] ddsr-ops commented on #5216
But how to ensue the availability of the master. When master is down, the application will also be down

[2020-04-23 09:04] kimmking commented on #5277
![image](https://user-images.githubusercontent.com/807508/80080663-844c6d80-8584-11ea-9639-9ffa314b909f.png)

what commands did you executed?

[2020-04-23 09:12] tristaZero commented on #5288
## How

### transaction-example
#### transaction-2pc-xa-spring-boot-example
1. Refer to #5260 to update the sharding configuration for the following properties in `./incubator-shardingsphere/examples/sharding-jdbc-example/transaction-example/transaction-2pc-xa-spring-boot-example/src/main/resources`.

application-sharding-databases-tables.properties
application-sharding-tables.properties

2. Run `

[2020-04-23 09:32] tristaZero opened #5289 "[NEW API] 1-Update Sharding SpringNameSpace configuration with new API"
Hi everyone. Welcome your joining! 😉

Content: Update the configuration of the sharding algorithm for Sharding SpringNameSpace with the new API.

Difficulty rating: ★☆☆☆☆

Note: To make each ISSUE simple, we split a bulky ISSUE into a few small ones. **Just follow the comment below to create your PR.** 😀

[2020-04-23 09:39] tristaZero commented on #5289
## How

### transaction-example
1. Refer to #5256 to update the sharding configuration for the following properties.

./incubator-shardingsphere/examples/sharding-jdbc-example/orchestration-example/orchestration-spring-namespace-example/src/main/resources/META-INF/zookeeper/local/application-sharding-databases-tables.xml

2. Run `ExampleMain` to test your update.
-------
### transaction-example
1.

[2020-04-23 09:41] tristaZero opened #5290 "[NEW API] 2-Update Sharding SpringNameSpace configuration with new API"
Hi everyone. Welcome your joining! 😉

Content: Update the configuration of the sharding algorithm for Sharding SpringNameSpace with the new API.

Difficulty rating: ★☆☆☆☆

Note: To make each ISSUE simple, we split a bulky ISSUE into a few small ones. **Just follow the comment below to create your PR.** 😀

[2020-04-23 09:51] tristaZero commented on #5290
## How

### sharding-example
#### sharding-spring-namespace-jpa-example
1. Refer to #5256 to update the sharding configuration for the following properties in `/Users/trista/Documents/sharding-code-trista/incubator-shardingsphere/examples/sharding-jdbc-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources`.

application-sharding-databases-tables.properties
application-shardi

[2020-04-23 10:05] fengyunhe commented on #5274
Yes ,i  add column use mycli client connect to sharding-proxy.

[2020-04-23 10:39] kimmking opened #5291 "[DISCUSS]About metrics feature"
Hi, community:
We know there are three important parts of observability with modern distributed system: logging, metric and tracing.
The tracing feature for observability in ShardingSphere components, logging feature is easy to gain via some tools such like ELK.And it's the time to design and implement metrics feature now. Finally we get a complete observability with UI console(integration with pr

[2020-04-23 10:58] kimmking commented on #5274
I try this case with two datasource, it work well in version 4.0.1.
![image](https://user-images.githubusercontent.com/807508/80091829-5a02ac00-8594-11ea-81fa-50d30fe226f9.png)

[2020-04-23 11:07] yu199195 commented on #5291
welcome friends from the community to discuss and finish.

[2020-04-23 11:12] kimmking commented on #5274
@xiaoxiong581 I reproduce your issue now.
It's a bug.

[2020-04-23 11:37] yu199195 commented on #5274
@xiaoxiong581 @fengyunhe  Hi, 4.1.0  have already solved , we will fast released.

[2020-04-23 11:57] #5271 closed

[2020-04-23 12:34] romantictravel01 opened #5293 "Is seata.conf required?"
## Question
version:4.0.1
env: mybatis-plus+spring cloud+seata
       Seata can be configured in application.yml, but shardingsphere must be configured with seata.conf

[2020-04-23 14:05] ppourali commented on #5224
Hi again @tuohai666 ,

So based on your advise the issue is now less sever. Let me explain the scenario and maybe you can have a better thought to make the scenario work.

Let's assume that a client connects to the MySql database server through Sharding-Proxy (client <--> ShardingProxy <--> MySqlServer). Now, we want to intercept the resultset that is going back to the client and manipulate the co

[2020-04-23 15:26] kimmking commented on #5293
remove seata-starter and use seata.conf.

[2020-04-24 00:19] shengzhai2015 opened #5296 "use sharding-jdbc with oracle occur ORA-17059: Fail to convert to internal representation"
database :oracle 11g
jdbc driver: ojdbc6.jar
sharding-jdbc version: 4.0.0
  There is an Exception when I try to connect to oracle database with sharding-jdbc. According to the Exceptiontrace, I find the question.
  The Class org.apache.shardingsphere.core.execute.metadata.TableMetaDataLoader wil load All Table metadata in the getColumnMetaDataList method. When the method is executed, it will get a

[2020-04-24 02:18] xiaoxiong581 commented on #5274
I see version 4.1.0 has been released, when can I download its docker image in dockerhub

[2020-04-24 02:38] fengyunhe opened #5299 "i am running seata jdbc example use 4.1.1 version ,error in console"
## Question

I clone the code repository, and checkout branch to `4.1.0-release` , and start docker containers with `examples/docker/sharding-jdbc/sharding/docker-compose.yml` , and install artifacts to local maven repository , it's all success running.
[code]
**I to run example, but the version of example project is based on '5.0.0-RC1-SNAPSHOT' in pom file , i think the version  should is `4.1.1

[2020-04-24 02:46] fengyunhe commented on #5299
I recommend a chrome plugin help to expand GitHub page to max width.
https://chrome.google.com/webstore/detail/widescreen-for-github/elikdceclccjilahimjfceoalhdbndan/related?utm_source=chrome-ntp-icon

[2020-04-24 03:33] cherrylzhao commented on #5299
Requirement before running this test:
 1. create undo_log table in demo_ds_0 and demo_ds_1
 2. startup seata-server-1.0.0 (https://github.com/seata/seata/releases)
     make sure:
     - registry.type = "file"
     - config.ype = "file"
     - service.vgroup_mapping.my_test_tx_group = "default"

[2020-04-24 03:37] fengyunhe commented on #5299
thank you very much , that is the reason of my failed

[2020-04-24 03:37] #5299 closed

[2020-04-24 03:55] tuohai666 commented on #5224
@ppourali I am a little confused now. To make the question clear, I suggest we don't look inside the sharding-proxy just as I said before(Let's treat sharding-proxy as a black box for now and further discussion).

I can't find out why you have to modify the codes until you tell me  the exact errors for exceptions appear in the MySQL client(JDBC, CLI, GUI..) which connected to a raw sharding-proxy

[2020-04-24 04:16] cherrylzhao commented on #5293
seata.conf is required when you want use `sharding-transaction-base-seat-at` to guarantee distribute-transaction within shardingpshere. if you want to guarantee distribute-transaction within micro-service together with shardingpshere, both Seata.conf and `sharding-transaction-base-seata-at` is not needed, which will be supported since 4.1.0

[2020-04-24 05:08] fengyunhe commented on #5293
Hi, @kimmking

[code]
what is transaction.service.group , if i use a value not is `my_test_tx_group` then get error ,but use value is `my_test_tx_group`, then get successful.

[2020-04-24 05:46] nevereverever commented on #5277
4.0.1 is Ok in navicat，but 5.0.0 throws error msg. @kimmking
I found that these SQL are executed in ShardingProxy:
[code]

[code]

[code]

[2020-04-24 06:17] fengyunhe commented on #650
Apache Sharding Sphere 分布式事务小练习：https://www.firegod.cn/2020/04/apache-sharding-sphere-%e5%88%86%e5%b8%83%e5%bc%8f%e4%ba%8b%e5%8a%a1/

[2020-04-24 06:17] kimmking commented on #5277
INFORMATION_SCHEMA.PROFILING  is not support now.

[2020-04-24 06:17] #5277 closed

[2020-04-24 06:24] kimmking commented on #5293
@fengyunhe
https://seata.io/zh-cn/docs/user/configurations.html

[2020-04-24 06:26] kimmking commented on #5274
Not yet, it will be released this week.

[2020-04-24 06:39] kimmking commented on #5243
Any more details?

[2020-04-24 07:08] dalaocu commented on #4575
I met the same problem.

[2020-04-24 07:17] #4297 closed

[2020-04-24 07:32] cherrylzhao opened #5301 "Enhance integrate-test framework"
- [x] split SQL of parser-test and integrate-test
- [x] simplify JDBC-integrate-test
- [x] add docker environment for JDBC-test
- [x] add Proxy-integrate-test
   - [x] set docker system property
       - drive by profile or plugins etc or mvn args
   - [x] add docker-env.properties
   - [x] modify BaseIT to be compatible with docker-proxy, mainly in createDataSource logic
   - [x] preprare config-

[2020-04-24 07:40] cherrylzhao opened #5302 "Enhance Bitronix and Narayana of sharding-transaction"
- [x] add unit test for sharding-transaction-xa-bitronix-mananger
- [ ] add unit test for sharding-transaction-xa-narayana-manager
- [x] add example for sharding-transaction-xa-bitronix-mananger
- [ ] add example for sharding-transaction-xa-narayana-manager

[2020-04-24 07:48] TaoZhiMLND commented on #5302
I want to solve this issue.

[2020-04-24 08:14] KoxAlen opened #5304 "Call ComplexShardingStrategies even if no sharding conditions are present"
## Feature Request
It would be good if ComplexShardingStrategies were able to decide the default behavior when no sharding conditions are present instead of defaulting to all shards.
Currently the ShardingStrategy is not called if there aren't any sharding condition in the query.

We had an use case where we needed a mix of InlineShardingStrategy and HintShardingStrategy.
We were able to emulate i

[2020-04-24 08:39] kimmking commented on #5304
Hi, kox,
I guess you can put the default behavior into your custom ComplexShardingStrategy implementation.

[2020-04-24 08:46] KoxAlen commented on #5304
Sorry, maybe my message wasn't clear, I'll add an edit.
The problem is that currently the ComplexShardingStrategy is **not** called if there aren't any sharding condition in the query so I can't use it to decide the behavior of queries like "SELECT * FROM sharded". The Feature request is about allowing (at least) ComplexShardingStrategy to inflience those kind of queries

[2020-04-24 09:59] huntunshule opened #5306 "Failed to initialize pool: Communications link failure"
## Question
I deployed sharding-proxy in kubernetes, and the database was also deployed in kubernetes. Now I use coreDNS with kubernetes to do DNS resolution, but the service reported an error. The error log is as follows
[code]

My configuration file is as follows
config-master_slave.yaml
[code]
server.yaml
[code]

![image](https://user-images.githubusercontent.com/52652738/80199952-83830c80-8654

[2020-04-24 10:13] sunng87 commented on #5291
Data sources like [HikariCP](https://github.com/brettwooldridge/HikariCP) provides useful [metrics](https://github.com/brettwooldridge/HikariCP/wiki/Dropwizard-Metrics) about its internal state.

It would be nice if ShardingSphere follows this approach for its managed data sources.

[2020-04-24 10:15] kimmking commented on #5304
It means that the current default strategy is to broadcast to all nodes, and you suggest users should config the defaut strategy instead of it?

[2020-04-24 10:38] kimmking commented on #5306
You should ensure sharding-proxy in your container could access your mysql node mysql-master server.

[2020-04-24 10:47] huntunshule commented on #5306
I think I know why. I started with my own helm with one key. Maybe after sharding proxy was started, mysql was not started yet, so the connection failed.Just now, I tried to delete pod and restart it. Is the application only trying to connect to the database once? Will it not try to reconnect after failure

[2020-04-24 10:56] kimmking commented on #5296
Please try 4.0.1 or incoming 4.1.0 version, these codes was removed.

[2020-04-24 11:20] kimmking commented on #5306
When a proxy starts, it will check the datasources available or not, if unavailable, it should be failed and shutdown.
But after it started, one or more datasources turn to available, the reconnecting will be take affect.

[2020-04-24 11:34] huntunshule commented on #5306
But it's not working now, it's a failure state

[2020-04-24 13:25] cherrylzhao commented on #5306
I think you should config depend on mysql in your docker-compose.yaml

[2020-04-24 14:09] ppourali opened #5308 "Bug: XML Types in PostgreSQL is not listed in ShardingProxy"
## Potential bug Report

Hello, during using the Sharding Proxy, I found that it throws error on the columns with xml type in postgresql.

### Which version of ShardingSphere did you use?
Version 5.0.0-RC1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Proxy

### Expected behavior
Returning the column's content

### Actual behavior
Throwing error for unknown column type

[2020-04-24 15:25] ppourali commented on #5224
Hi @tuohai666 ,
Thanks again for the reply.

I changed the database name to adventureworks based as you suggested. The problem related to "com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'mysqlaw.employee' doesn't exist" is fixed now. So, this side-issue is fixed by changing my datasource name from mysqlaw to adventrueworks in my configuration. Thanks.

OK; multiple things:
a) For

[2020-04-24 18:00] TaoZhiMLND opened #5309 "The junit test of transaction-2pc-xa-raw-jdbc-example module failed when a oracle database used"
The Junit test in the transaction-2pc-xa-raw-jdbc sample module failed when I used oracle database 12c and ojbdc8.jar.
The exception stack is as follows,
[code]
When the table not exists, OracleDatabaseMetaData. GetIndexInfo will throw an exception, on the contrary the Mysql will not.

I added an isTableExist method in `IndexMetaDataLoader` to solve this issue as the `ColumnMetaDataLoader` do,  an

[2020-04-25 00:01] fengyunhe commented on #5293
@kimmking  thank you

[2020-04-25 01:09] cherrylzhao commented on #5309
good job!
I think we should move the `isTableExist` logic to TableMetaDataLoader, and the return type of TableMetaDataLoader#load should be `Optional<TableMetaData>`.

[code]

committers for ShardingSphere, any thought?

[2020-04-25 04:54] yu199195 commented on #5309
good idea

[2020-04-25 06:20] yc825106632 commented on #3203
In version 4.0.1, the support for localdatetime is not available. How to deal with this problem with version 4.0.1
![image](https://user-images.githubusercontent.com/21304095/80272869-e7aeda80-86ff-11ea-8009-6a068765878f.png)

![image](https://user-images.githubusercontent.com/21304095/80272865-df569f80-86ff-11ea-984c-6bbd8fbff715.png)

[2020-04-25 06:28] yc825106632 commented on #3203
在4.0.1中依然有这个问题，而且也是不支持LocalDateTime，在程序处理之后，竟然把日期搞成数组了
![image](https://user-images.githubusercontent.com/21304095/80272958-cf8b8b00-8700-11ea-8717-b2fbc952a964.png)

![image](https://user-images.githubusercontent.com/21304095/80272975-f9dd4880-8700-11ea-87ec-63984c05dc6b.png)

[2020-04-25 06:38] kuangyoubo opened #5310 "I want read-write separation and data desensitization can be supported at the same time"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No.

### Des

[2020-04-25 07:18] yu199195 commented on #5310
please in English

[2020-04-25 12:40] yu199195 commented on #5310
you can follow this doc https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/configuration/

[2020-04-25 17:39] TaoZhiMLND commented on #5309
thanks a lot, I have commit the pr, let's have a look.

[2020-04-25 23:19] #5296 closed

[2020-04-26 01:19] huntunshule commented on #5306
I added depend on when the docker-compose mode was started, which is what I have always done, I started the compose file separately during the test, so I did not add it.At present, what I want is to add sharding-proxy into the k8s system, and I have made helm char, which can be started with one key of helm. The problem I have found is that it is started with helm.When mysql is not started, shardin

[2020-04-26 01:21] huntunshule commented on #5306
Yaml file for sharding - proxy
[code]

[2020-04-26 03:05] huweidada commented on #5023
use PreparedStatement，batch insert，312 rows，insert into table (.....) values (...),(...),(...),(...),(...),(...),(...)
from origin sql to logic sql，it takes 5 seconds

ShardingSphere-sharding-jdbc,version:4.0.0

I found,something times,it takes too time,sometime very fast

[2020-04-26 03:06] huweidada commented on #5023
I have log,do you need it to analysis？

[2020-04-26 03:11] huweidada opened #5313 "Batch insert data is too slow when using sharding-jdbc"
use PreparedStatement，batch insert，312 rows，insert into table (.....) values (...),(...),(...),(...),(...),(...),(...)
from origin sql to logic sql，it takes 5 seconds

ShardingSphere-sharding-jdbc,version:4.0.0

I found,something times,it takes too time,sometime very fast

I have log,do you need it to analysis？

how could I solve the problem？（Question aready asked，but no Solution）

[2020-04-26 04:33] terrymanu commented on #5310
We are doing this feature on #3691

[2020-04-26 04:33] #5310 closed

[2020-04-26 04:40] tuohai666 commented on #5313
Parse this SQL the first time will be slow. The parse result of the SQL will be cached after the first time, and will be very fast in future.

The parse engine will have an update in the version 4.1.0 which will be released soon. In the new release even the first time parsing will be very fast.

If you want to have a try right now, please compile the codes in the master branch or dev-4.x branch lo

[2020-04-26 04:40] #5313 closed

[2020-04-26 04:48] tristaZero opened #5314 "Archive Doc 4.x"
Once 4.1.0 is released successfully, this issue starts.
- [x] Archive Doc 4.x
- [x] Create Doc 5.x as current doc directory
- [x] Merge doc5.x branch into master
- [x] Update links of doc on website

[2020-04-26 04:57] tristaZero opened #5315 "Blog section is going to online"
The following items are needed to archive articles from different platforms and present some of them on the blog section,

- [x] Create a blog section by Hugo
- [x] 2 Update `build.sh`
- [x] 3 Collect all the articles published on different platforms to GitHub issue
- [x] 4 Add the drop-down list of the blog and GitHub issue on the homepage

[2020-04-26 04:58] tuohai666 commented on #5224
I  have to keep asking whether there's problem as the title mentioned in sharding-proxy until you tell me there's no problem. Now I learn you modify sharding-proxy is because you want to mask data not because there's problems in sharding-proxy.

The following is my advice for case b:
The sharding-proxy in this scenario (transparent mode with out sharding rules) always using a stream resultset. Why

[2020-04-26 05:05] #5309 closed

[2020-04-26 05:34] kimmking commented on #5314
roger

[2020-04-26 05:37] chen645800876 opened #5316 "When using mycli to connect, it is normal, but when using DataGrip to connect to sharding-proxy, the table is not fragmented, and the physical table is displayed"
#### Connect to the same `sharding-proxy`, but in` DataGrip`, the physical table is displayed instead of the logical table
![image](https://user-images.githubusercontent.com/24761804/80298726-eb0a9a80-87c1-11ea-88e3-6e9debf3e00d.png)
![image](https://user-images.githubusercontent.com/24761804/80298743-01185b00-87c2-11ea-9e05-4db1d192ff7c.png)

When using `DataGrip` connection, there is still an er

[2020-04-26 05:58] kimmking commented on #5316
English only.

turn on “introspect using jdbc metadata”(or it will get all real tables info from informations_schema) in idea or datagrip.   [1]

1.https://shardingsphere.apache.org/document/current/en/faq/#22-how-to-use-a-suitable-database-tools-connecting-sharding-proxy

[2020-04-26 06:01] kimmking opened #5317 "ShardingSphere FAQ(常见问题与解决办法，有问题先看这里)"
## English version: https://shardingsphere.apache.org/document/current/en/faq
1. How to debug when SQL can not be executed rightly in ShardingSphere?
2. Why do some compiling errors appear?
3. Why is xsd unable to be found when Spring Namespace is used?
4. How to solve Cloud not resolve placeholder … in string value … error?
5. Why does float number appear in the return result of inline expression

[2020-04-26 06:21] chen645800876 commented on #5316
Thanks for answering, the problem just now has been solved. But there is a new problem, the table names of the query are all lowercase, but in fact some table names have uppercase letters, which will cause this part of the table to not open on the tool

[2020-04-26 07:03] kimmking commented on #5316
In default, table name is not case-sensitive.

[2020-04-26 07:14] chen645800876 commented on #5316
Thanks for answering,then I modify the configuration of the database

[2020-04-26 07:14] #5316 closed

[2020-04-26 08:10] johncn9 opened #5322 "myproject for shardingssphere4.0.1 Table 'test_db.user' doesn't exist"
myproject for shardingssphere4.0.1 Table 'test_db.user' doesn't exist  but the table test_db.user is exist

other error "IncorrectResultSetColumnCountException: Incorrect column count: expected 1, actual 12"

I save some data for table user   execute is good

[2020-04-26 08:12] johncn9 commented on #5322
I  execute jdbctemplate for query list
 "select * from user"
I found up error

[2020-04-26 08:12] johncn9 commented on #5322
help me

[2020-04-26 08:32] kimmking commented on #5322
plz show your config and table ddl.

[2020-04-26 09:01] johncn9 commented on #5322
my application.properties   spring cloud 2.2.6  jdbctemplate

server.port=8084

spring.jpa.database-platform=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults = false
spring.shardingsphere.datasource.platform = mysql

spring.shardingsphere.datasource.names=master0,master0slave,master1,master1slave,masters0,masters0sla

[2020-04-26 09:04] johncn9 commented on #5322
数据源 注解

    @Bean(name = "master0")
    @ConfigurationProperties("spring.shardingsphere.datasource.master0")
    public DataSource master0Source() {
        DruidDataSource dataSource = new DruidDataSource();
//        DataSource dataSource = new DruidDataSource();
        return dataSource;
    }

    @Bean(name = "master1")
    @ConfigurationProperties("spring.shardingsphere.datasource.master1")

[2020-04-26 09:05] johncn9 commented on #5322
插入正常，查询就报那两个错误，查询三种情况第一种[]  剩下的就是上面那两种  数据库已经插入有数据

orm  ---》 jdbctemplate

[2020-04-26 09:26] kimmking commented on #5322
Where is the error message stack?

[2020-04-26 09:56] johncn9 commented on #5322
org.springframework.jdbc.IncorrectResultSetColumnCountException: Incorrect column count: expected 1, actual 12
	at org.springframework.jdbc.core.SingleColumnRowMapper.mapRow(SingleColumnRowMapper.java:110) ~[spring-jdbc-5.2.5.RELEASE.jar:5.2.5.RELEASE]
	at org.springframework.jdbc.core.RowMapperResultSetExtractor.extractData(RowMapperResultSetExtractor.java:94) ~[spring-jdbc-5.2.5.RELEASE.jar:5.2.

[2020-04-26 09:57] johncn9 commented on #5322
com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'test_db.user' doesn't exist
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) ~[na:1.8.0_251]
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62) ~[na:1.8.0_251]
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45

[2020-04-26 09:57] johncn9 commented on #5322
up，up，up

[2020-04-26 10:32] jingshanglu commented on #4683
@strongduanmu Hello, can you support check dal grammar of mysql? path: shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-mysql/src/main/antlr4/imports/mysql  ,mysql grammar official document address：https://dev.mysql.com/doc/refman/8.0/en/sql-server-administration-statements.html.

[2020-04-26 10:35] kimmking commented on #5322
You config rules looks like well, and can't lead to this error.
Can you make a demo for reproduce this error for me?

[2020-04-26 10:43] strongduanmu commented on #4683
@jingshanglu Thank you for this assignment. I'll finish the job.

[2020-04-26 10:56] jingshanglu commented on #4683
Well,you can start from "Component, Plugin, and User-Defined Function Statements", the above is done.

[2020-04-26 11:17] johncn9 commented on #5322
how  to  give my project for u

[2020-04-26 12:14] huntunshule commented on #5306
I have solved this problem, thank you, my k8s system deployment file is as follows for reference

[code]

[2020-04-26 12:14] #5306 closed

[2020-04-26 12:21] ppourali commented on #5224
Thanks @tuohai666 ,

Sorry I had to clarify earlier about this. So based on your advice, I will just change MYSQL_MEMORY_FETCH_ONE_ROW_A_TIME = 1 to make it work.

Now only remains cases c and d. Will you create topics on how to fix cases c and d mentioned above? Or should I create two other topics for the issues of c and d. These two cases may be bugs though.

Thanks,
Parsa

[2020-04-26 14:39] lonyee1989 commented on #3203
Shardingjdbc is based on JDK version 1.7 by default, so there is no localDate feature. If you want to solve this problem, please upgrade the source code to jdk1.8, and compatible with this type, you can refer to my repository's 4.0.0-rc2-1.8 branch.

https://github.com/lonyee1989/incubator-shardingsphere/tree/4.0.0-RC2-1.8

[2020-04-26 14:39] lonyee1989 commented on #3203
Shardingjdbc is based on JDK version 1.7 by default, so there is no localDate feature. If you want to solve this problem, please upgrade the source code to jdk1.8, and compatible with this type, you can refer to my repository's 4.0.0-rc2-1.8 branch.

https://github.com/lonyee1989/incubator-shardingsphere/tree/4.0.0-RC2-1.8

在 2020年4月25日，14:28，yc825106632 <notifications@github.com> 写道：

﻿

在4.0.1中依

[2020-04-26 15:34] strongduanmu commented on #4683
Thank you very much for reminding.

[2020-04-26 15:41] yc825106632 opened #5328 "Do you have a demo integrated with springboot,mybatisplus and shardingsphere"
我在官网中看到 “在Spring中使用DataSource
直接通过注入的方式即可使用DataSource，或者将DataSource配置在JPA、Hibernate或MyBatis中使用。” 这样一句，但是却是找不到可用的案例，官方能提供下有springboot2,mybatisplus3.3.1与shardingsphere4.0.1集成的demo吗

[2020-04-26 15:43] yc825106632 commented on #5328
要求比较奢侈，主要不熟悉如何使用官网中的这个，所以各种集成都不能用，因此来向官方求助了
@Resource
private DataSource dataSource;

[2020-04-26 15:51] yc825106632 commented on #5328
我集成之后分页不能用了，localdatetime转换不能用了，fastjson的全局时间转换不能用了，mybatisplus的各种增强功能也都不能用了，官方有意向出这三大框架的集成demo吗？

[2020-04-26 16:21] kimmking commented on #5328
English only.

[2020-04-26 16:22] kimmking commented on #5322
submit to a github repo ?

[2020-04-26 16:23] yc825106632 commented on #5328
I saw "DataSource in Spring" on the website
You can use the DataSource directly through injection, or configure the DataSource to be used in JPA, Hibernate or MyBatis.This way, but can't find the available case, under the official offer springboot2, mybatisplus3.3.1 and shardingsphere4.0.1 integrated demo

[2020-04-26 16:23] yc825106632 commented on #5328
Requirements are relatively luxurious, mainly not familiar with how to use this in the official website, so all kinds of integration can not be used, so to the official help
@ the resource
Private DataSource DataSource.

[2020-04-26 16:24] yc825106632 commented on #5328
After my integration, paging could not be used, localdatetime conversion could not be used, global time conversion of fastjson could not be used, and various enhanced functions of mybatisplus could not be used. Is the official intention for the integration demo of these three frameworks? thanks thanks thanks

[2020-04-27 00:53] nevereverever opened #5330 "replace into can not execute"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-04-27 02:20] nongchangzhu commented on #5317
sharding.jdbc.config.masterslave.name=ms #读写分离数据源名称
 这句话咋理解呢？？？？

//---------------------------------------------------------------------------------------------
sharding.jdbc.datasource.names=master,slave0,slave1

sharding.jdbc.datasource.master.type=org.apache.commons.dbcp.BasicDataSource
sharding.jdbc.datasource.master.driver-class-name=com.mysql.jdbc.Driver
sharding.jdbc.datasource.master.url=

[2020-04-27 02:42] huweidada commented on #5313
ths,we will wait for your optimizated version。

[2020-04-27 03:22] kimmking commented on #5328
Issue title also should be updated.

[2020-04-27 03:25] yc825106632 commented on #5328
It has been updated

[2020-04-27 03:37] tuohai666 commented on #5224
@ppourali I'm glad that the main question is resolved, you can go ahead now.

Fow case c and d, can you please create two separate issues? Because bug report is needed, I can't do that instead of you.

I'd like to ask some questions before the issues are created, therefore you can answer there.

For case c: The **ResultSet is FORWARD_ONLY**. It seems like client behavior. Just like we met before.

[2020-04-27 03:52] terrymanu commented on #5330
Low priority and no plan to it now, I just open this issue for serval days. If somebody interest this issue, please contact us.

[2020-04-27 03:56] terrymanu commented on #5328
Example for spring boot and mybatis:
https://github.com/apache/shardingsphere/tree/master/examples/sharding-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example

No example for mybatis-plus, because Apache ShardingSphere is faced on international projects only.

[2020-04-27 03:56] #5328 closed

[2020-04-27 04:26] believeyounger opened #5332 "batch insert slow"
## Question
Version:4.0.1
I will batch insert 50W data.
Native jdbc execute sql , time: 25s.
Use sharding-jdbc execute sql, time: more than 3min.
Preliminary suspicion ：SQLRouteResult result = this.route(sql, clonedParameters);

Please let us know the possible reasons，thinks

[2020-04-27 05:42] kimmking commented on #5332
duplicated with https://github.com/apache/shardingsphere/issues/5313 https://github.com/apache/shardingsphere/issues/5023 https://github.com/apache/shardingsphere/issues/4479 https://github.com/apache/shardingsphere/issues/3427

[2020-04-27 05:43] kimmking commented on #5332
b

[2020-04-27 05:43] #5332 closed

[2020-04-27 06:08] #5252 closed

[2020-04-27 06:58] ETUFO opened #5337 "shardingsphere 3.1 parse sql excpetion"
version ： shardingsphere 3.1
sharding-jdbc parse sql ：SELECT exam_id FROM exam_round WHERE (time LIKE ?)
error message ：line 5:13 no viable alternative at input '(timeLIKE'
Cause io.shardingsphere.core.routing.SQLRouteResult is null，throw  java.lang.NullPointerException

[2020-04-27 07:11] kimmking commented on #5337
3.1 is a tooo oold version, you should try 4.0.1 or 4.1.0.

[2020-04-27 07:14] kimmking opened #5338 "[DOC]Update the English document for encypt feature"
Hi everyone. Welcome your joining! 😉

Content: Update the English document [1] to sync with Chinese version[2] for encypt feature.

Difficulty rating: ☆☆☆☆☆

Note: To make each ISSUE simple, we split a bulky ISSUE into a few small ones. Just follow the comment below to create your PR. 😀

1.https://github.com/apache/shardingsphere/blob/master/docs/document/content/features/orchestration/encrypt.en.

[2020-04-27 07:18] taojintianxia commented on #5338
May I ?

[2020-04-27 07:19] kimmking commented on #5338
You can.

[2020-04-27 07:32] #5337 closed

[2020-04-27 07:47] KoxAlen commented on #5304
Yes, the feature request is about being able to decide which nodes a query should hit if it doesn't have  any sharding condition instead of always going to all nodes

[2020-04-27 08:56] johncn9 commented on #5322
No I  have no project for github

[2020-04-27 08:57] johncn9 commented on #5322
thank you for help me ，  I try more

[2020-04-27 09:08] kimmking commented on #5322
you can create one in 1 minute.

[2020-04-27 09:09] kimmking commented on #5304
Can you make a pr for it?

[2020-04-27 09:14] baiyongwei commented on #5338
still have chance?

[2020-04-27 09:23] edidada commented on #5289
5289

[2020-04-27 09:24] edidada commented on #5289
I will try to do this

[2020-04-27 09:25] kekerzzZ commented on #5287
I can do it.

[2020-04-27 09:27] kekerzzZ commented on #5287
5287

[2020-04-27 09:31] nongchangzhu opened #5344 "spring.shardingsphere.masterslave.name=ms"
What does the "ms" of "spring.shardingsphere.masterslave.name=ms" mean in the configuration of read-write separation? Can I write any mark?

[2020-04-27 09:39] ChuckPerry opened #5345 "[performance test] proxy is too slow with sysbench"
## Question
I run sharding-proxy with no sharding mode. there's only 100+ qps , and with same parameters, there's 8000+ qps when I connect mysql directly.
![Snipaste_2020-04-27_17-28-10](https://user-images.githubusercontent.com/10229398/80356885-b3c4e800-88ac-11ea-9fec-fbe22d007124.jpg)
![Snipaste_2020-04-27_17-29-42](https://user-images.githubusercontent.com/10229398/80356903-b9bac900-88ac-11ea-

[2020-04-27 09:47] tristaZero commented on #5287
@kekerzzZ This is the first time to see you here, welcome. 😀

[2020-04-27 09:48] tristaZero commented on #5289
@edidada
Hi Nice to meet you, and welcome. 😉

[2020-04-27 09:51] LikeBigCat opened #5347 "count(DISTINCT xx) has problem"
version：4.0.1
Logic SQL: SELECT count(p.id) as pCount, count(DISTINCT p.store_id) as sCount FROM prescription p
Actual SQL ::: SELECT DISTINCT count(p.id) as pCount, p.store_id as sCount FROM prescription_0 p

The semantics here have changed

[2020-04-27 10:07] DreamcatcherGo commented on #5288
May I?

[2020-04-27 10:15] taojintianxia commented on #5338
you wanna translate the picture into English ?

[2020-04-27 10:20] wangzhengxi commented on #5288
I want

[2020-04-27 10:21] meAsky commented on #5290
I want to try it

[2020-04-27 10:22] tristaZero commented on #5290
@meAsky Hi Glad to see you here, and welcome!

[2020-04-27 10:24] tristaZero commented on #5288
@wangzhengxi, Hi It will be a great start for your open-source journey. 😉

[2020-04-27 10:28] johncn9 commented on #5322
You may give me your mail ,I tar a page for you and  send u

[2020-04-27 10:29] johncn9 commented on #5322
说英语真别扭，我要创建一个github 项目，我还得安装git客户端？还有啊，这个shardingsphere 对spring-data-jdbc好像也不支持

[2020-04-27 10:30] johncn9 commented on #5322
are you chinese？

[2020-04-27 10:31] tristaZero commented on #5288
@DreamcatcherGo Hi
We are glad to see your hand up.
Since @wangzhengxi ping me earlier, I assign this one to him. But do not worry, a new one will be created for you, especially. Please wait for my news.  :)

[2020-04-27 10:33] terrymanu commented on #5344
1. **For English only**, could you translate your content?
2. The title is not for search friendly, could change it?

[2020-04-27 10:44] DreamcatcherGo commented on #5288
@tristaZero Ok

[2020-04-27 10:47] tristaZero commented on #5347
@LikeBigCat Hi Thanks for your feedback, but I am sorry this type of SQL is not supported currently. You can look up more in [Supported SQL](https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/)

[2020-04-27 10:52] tuohai666 commented on #5345
Don't worry, you didn't do anything wrong.
The performance issue in 4.0.1 will be resolved in 4.1.0 which is in releasing process(under voting now).
The performance will be improved by two aspect:
1. New parser engine that will improve parse performance for long SQL by more than 10000%.
2. Fixed several C API related issues: #4358, #4355, #4255, #3968, #4501

You can compile the codes of 4.1.0 in

[2020-04-27 10:52] #5345 closed

[2020-04-27 11:02] #5344 closed

[2020-04-27 11:05] zyg166 commented on #5203
you are right. i am in the same situation.  i downgrade sharding-jdbc version to 4.0.0-RC2,problem solved.

[2020-04-27 11:06] nongchangzhu opened #5353 "About spring.shardingsphere.masterslave.name = ms (read and write separation configuration)?"
What does the "ms" of "spring.shardingsphere.masterslave.name=ms" mean in the configuration of read-write separation? Can I write any mark?

[2020-04-27 11:10] kimmking commented on #5353
Yes, you can name it with any identifier string.
And if you configure master-slave with sharding rules, this identifier will be the table prefix.

1. https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/usage/read-write-splitting/

[2020-04-27 13:15] ppourali commented on #5224
Hi @tuohai666 ,

You are indeed right. These are client behaviours and nothing to do with the Sharding Proxy. Is there any plan (TODO) to enable the CachedRowSet mechanism in the team's schedule? I think it is kind of important because in many cases you want the resultset to be disconnected from the datasource and CachedRowSet is a good option for this.

Thanks again for your help and support. I t

[2020-04-27 13:37] tuohai666 commented on #5224
Hi @ppourali ,
Yes, you are right, CachedRowSet is good, I have studied it before. I did put it in sharding-proxy about two years ago at the beginning of the sharding-proxy development. But not for long, our team find there's side-effect. I can't remeber the details of what the side-effect it is, but I can make sure we can't use it anymore from then.

So, there's no plan to enable the CachedRowSet

[2020-04-27 13:37] #5224 closed

[2020-04-27 15:48] licyclone opened #5356 "（err）pgadmin4 v4 connect shardingsphere 4.0.1 pg10.12"
hello everyone！when i usepgadmin4 v4 connect to shardingsphere 4.0.1  in pg10.12。the error report in the server logfile ，how can i do?ths very much!
 o.a.s.s.f.c.CommandExecutorTask - Exception occur:
org.apache.shardingsphere.core.config.ShardingConfigurationException: Cannot find table rule and default data source with logic table: 'pg_class'
        at org.apache.shardingsphere.core.rule.Shardi

[2020-04-28 01:24] #5322 closed

[2020-04-28 02:23] xiaoma20082008 opened #5357 "agg function must include an alias stmt instead of exeucte it directly"
## Bug Report
not support min,max without any other columns,
expect this sql: `select max(guid),min(guid) from t`  can execute,
actual i should rewrite the sql to :`select max(guid) as max,min(guid) as min from t`
### Which version of ShardingSphere did you use?
4.0.1
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior

the sql: `select max(guid),min