[2021-01-04 09:54] JiekerTime commented on #8880
I will implement it as soon as possible~

[2021-01-04 10:31] tristaZero opened #8883 "Create unit test for `CalciteJDBCExecutor` to test SQL federation feature"
Hi, community,

This issue is to create a unit test for  `CalciteJDBCExecutor`. Do you think it is an easy one? I am afraid it is not as you expected.

Let me explain more to help you get into it. :)

### Introduction

`CalciteJDBCExecutor` is an independent executor that makes a query across different database instances (Query federation) possible. Sound great, right?
Thus, this issue is to test

[2021-01-04 10:37] tristaZero commented on #8814
Hi @lmhmhl ,

I have no idea about your interest or technique, but would like to try [#8883](https://github.com/apache/shardingsphere/issues/8883)?
For the newbie, [Instruction](https://shardingsphere.apache.org/community/cn/contribute/contributor/) will tell you how to raise a good PR.

[2021-01-04 11:04] lmhmhl commented on #8814
Thank u, I wanna have a try, and try my best finishing it ASAP!

[2021-01-04 12:55] tristaZero commented on #8284
@guimingyue @junwen12221 @Aaaaaaron ,

Hi guys,

Currently, the query optimization module has been plugging into  ShardingSphere (From parse to execute). However, it is just like a `fridge`. That is, we need to put more valuable `food`(SqlNode transformation, planner, Interpretable) to it. The related classes are `SqlNodeConverter`, `PlannerInitializer`, `CalciteRawExecutor` waiting to be implemen

[2021-01-05 00:22] kfwang90 commented on #8736
OK. I will try to fix it.

[2021-01-05 01:33] lmhmhl commented on #8883
Hi @tristaZero
When I run the test, something wrong happened as follows.
<img width="661" alt="Screen Shot 2021-01-05 at 9 26 41 AM" src="https://user-images.githubusercontent.com/24718258/103596331-a3cfce80-4f38-11eb-8a20-362891a6b5d8.png">
It happened not only in my test, but happened everywhere, I reimport all the maven dependencies and restart my IDEA, but It doesn't works, could u give me som

[2021-01-05 01:38] lmhmhl commented on #8883
Error:(24, 77) java: package org.apache.shardingsphere.sql.parser.autogen.SQLServerStatementParser does not exist

[2021-01-05 02:10] SteNicholas commented on #8883
@lmhmhl You should execute `mvn clean install -DskipTests -Dfast` to codegen the classes above mentioned.

[2021-01-05 02:11] #8861 closed

[2021-01-05 03:35] tristaZero commented on #8736
Hi @kfwang90
Welcome,  please refer to this issue number when your PR is raised. :)

[2021-01-05 03:38] tristaZero commented on #8814
@lmhmhl Then #8883 is assigned to u.

[2021-01-05 03:38] #8814 closed

[2021-01-05 06:02] lmhmhl commented on #8883
Thank u @SteNicholas ,  I use maven install solving the package org.apache.shardingsphere.sql.parser.autogen.SQLServerStatementParser does not exist problem, but when I run the test again, some thing wrong happened again,
Error:(28, 56) java: package org.apache.shardingsphere.distsql.parser.autogen does not exist;
when I use maven install this package, some thing wrong happen again as follows.

Fa

[2021-01-05 07:01] wzhjqeds commented on #5203
sharding-jdbc-4.1.1 添加此依赖后有用

[2021-01-05 07:48] ywendy opened #8892 "Data desensitization how to ignore case？"
[code]

how to ignore case table name ？ when my project use
INSERT INTO CRM_NETWORK_ANSWER(XXXXXX)VALUES(XXXXX)

[2021-01-05 11:01] tristaZero opened #8896 "Column index out of range exception when Proxy executes SQL"
### Product
Sharding Proxy, master branch

### SQL

### Rule
t_order_item and t_order are binding tables.

### Exception
[code]

### Reason
- Wrong projection seize

- Wrong result of `createProjectionsContext()` in `ProjectionsContextEngine`

[2021-01-05 14:43] lmhmhl commented on #8883
@Before
    public void setUp() throws Exception {
        Map<String, ShardingSphereMetaData> result = new HashMap<>();
        getShardingSphereDataSource().getMetaDataContexts().getAllSchemaNames().forEach(e -> {
            ShardingSphereMetaData metaData = mock(ShardingSphereMetaData.class);
            when(metaData.getRuleMetaData()).thenReturn(new ShardingSphereRuleMetaData(Collections.emp

[2021-01-05 14:48] lmhmhl commented on #8883
[code]

[2021-01-05 14:51] lmhmhl commented on #8883
[code]
Is it right create `calciteJDBCExecutor` in  this way?

[2021-01-06 03:08] Simbafa opened #8903 "Transaction support issue"
## Bug Report

### Which version of ShardingSphere did you use?
The latest version, 5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Multiple connections commit transactions correctly.
### Actual behavior
ShardingSphere-Proxy stops working, has no response for any requests.
### Reason analyze (If you can)
[code]
###

[2021-01-06 03:39] tristaZero commented on #8736
Hi, community,

After some transaction tests on MySQL and a discussion with @xunyard, here comes the conclusion.

1. We recommend Java developers considering `jdbc:mysql:loadbalance` (i.e., LoadBalancedConnectionProxy) to do query load-balance on ShardingProxy instead of `F5`.
2. You are suggested to set `autocommit` = `on` to avoid unexpected behaviors when loading balance.
3. My tests and debugg

[2021-01-06 07:06] ittoyxk opened #8908 "JSON function in SQL"
When there is a JSON function in SQL, the logical table name cannot be resolved, resulting in the failure to hit the real table name. Please see how to solve this problem?

[2021-01-06 07:32] stat0s2p opened #8909 "parse sql error when execute a query sql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-06 08:22] tristaZero opened #8912 "No correct metadata update when create a new table."
### Product

ShardingSphere Proxy, master branch

### Steps
- Create a single table
- Do a query on this new table
- An exception is thrown
[code]

### Cause
Only `ShardingSphereSchema` is refreshed after creating a new table. It is necessary to refresh `shardingRule`, since we calculate routeUnits by `shardingRule`. The relevant class is below.
[code]

Moreover, the similar incomplete handling st

[2021-01-06 08:31] duzhanfei opened #8913 "2Unknown exception: [Cannot invoke method hashCode() on null object]"
### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

When I insert data with shardingproxy5.0.0-alpha, the null pointer is prompted, but my sharding key is not empty. Everything works fine with shardingproxy4.1.1

config：

schemaName: sharding_db

dataSourceCommon:
  connectionTimeoutMilliseco

[2021-01-06 09:12] Allkoman opened #8914 "ProjectionEngine subquery support"
## Feature Request

### Is your feature request related to a problem?
no

### Describe the feature you would like.
ProjectionEngine.class
//TODO subquery
Can you support subquery?

[2021-01-06 09:13] Allkoman commented on #8914
sharding version 4.1.0 & 4.1.1

[2021-01-06 09:14] dafanzhi commented on #234
无远开发平台 https://wuyuan.io

[2021-01-06 09:17] dafanzhi commented on #650
Enhancer + ShardingSphere 超快速实现分布式应用开发：
https://forum.wuyuan.io/plate/qa/topic/5fdafe9c856fee309115a498

[2021-01-06 09:45] smallericcc commented on #8561
I have missed this bug too. could you Provide a solution for this thanks.

[2021-01-06 09:45] smallericcc commented on #8561
@terrymanu

[2021-01-06 10:55] guimingyue commented on #8284
@tristaZero I'm working on the optimizer in this [repo](https://github.com/guimingyue/shardingsphere) forked from apache shardingsphere. And I add an optimizer entrance class named [DefaultPlanner](https://github.com/guimingyue/shardingsphere/blob/65149fd329d343dcb7bf711fe63b02043e802e8e/shardingsphere-infra/shardingsphere-infra-optimize/src/main/java/org/apache/shardingsphere/infra/optimize/plann

[2021-01-07 01:50] authorXiao opened #8924 "shardingsphere Range Sharding Algorithm Unsupported >="
shardingsphere version  is  4.0.0-RC2
shardingsphere Range Sharding Algorithm Unsupported >=;
yaml:
spring:
  application:
    name: demo
  shardingsphere:
   datasource:
      names: master
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/test?allowMultiQueries=true&autoReconnect=true&fa

[2021-01-07 05:11] tristaZero commented on #8892
Which version do you use?
You mean ShardingSphere is case-sensitive for table name?

[2021-01-07 05:13] tristaZero commented on #8908
Which version is running in your environment?

[2021-01-07 05:14] tristaZero commented on #8909
@stat0s2p Thanks for your feedback.
@jingshanglu I guess we need a look here.

[2021-01-07 05:17] tristaZero commented on #8913
Hi @duzhanfei ,

Please provide your sql and exception info. The detailed log after setting `sql-show` = `true` is preferred.

Thanks.

[2021-01-07 05:18] tristaZero commented on #8914
Please try 5.0.0-alpha, since we have better support for it. Welcome your feedback later.

[2021-01-07 05:20] tristaZero commented on #8924
Hi @authorXiao
Have you ever tried an updated version?

[2021-01-07 05:55] tigerxn opened #8927 "in shardingsphere-proxy server ,wrong version of MySQL"
1. shardingsphere-proxy, mysql server info setting error.
2. isSigned  method exception handle in JDBCQueryResultMetaData class.
3. Get error SQLParserEngine in TextProtocolBackendHandlerFactory class.

[2021-01-07 06:41] ywendy commented on #8892
yes ， my project has more sql ，but some sql use capital letter for table，some sql use lowercase letter for table ，when i config with upper ， it would report some error ！ I use v4.0.1

[2021-01-07 06:53] duzhanfei commented on #8913
sql:
INSERT INTO PBCST_QRY_INFO (
	ECIF_CUST_NO,
	CUST_APLTN,
	CUST_TYP_CD,
	MP_NBR,
	CTFTP_CD,
	CRTF_NBR,
	BLTO_PROV_ADMDV_CD,
	BLTO_CITY_ADMDV_CD,
	BLTO_DSTCY_ADMDV_CD,
	CUST_ADDR
)
VALUES
	('642054011658', '梅', '01', '1219123', '111', '6106060118', null, null, null, null)

log：
[INFO ] 14:51:32.907 [pool-79-thread-1] ShardingSphere-SQL - Logic SQL: SET PROFILING=1;
[INFO ] 14:51:32.907 [pool-79

[2021-01-07 06:58] yoloz opened #8930 "select with chinese column names failed"
## Question

### start
xx/apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin/bin/start.sh
### use
dbeaver connect and execute sql like _**select name,地区和公司 from test**_  which fails as follows
**SQL Error [10002] [C1000]: 2Unknown exception: [null]**
### log
see stdout.log
[code]

[2021-01-07 07:11] jingshanglu commented on #8909
@stat0s2p It is a bug, new version will fix it.

[2021-01-07 08:12] jingshanglu opened #8932 "Format result of "show resources""
## Feature Request
format result of `show resources;`

### Describe the feature you would like.
expect format of `show resources;` like this:
+------------+-------+-----------+------+-----------------------+-----------------+
| name      | type  | ip          | port | db                        |attribute         |
+------------+-------+-----------+------+-----------------------+-----------------+

[2021-01-07 08:17] yangzhongj opened #8933 "mvn complie err"
## Question

git clone shardingsphere, execute  ./mvnw clean install -Prelease ， error

detail info:
node@nodedeMacBook-Pro shardingsphere % ./mvnw clean install -Prelease
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[FATAL] Non-resolvable parent POM for org.apache.shardingsphere:shardingsphere-ha-mgr:5.0.0-RC1-SNAPSHOT: Could not find a

[2021-01-07 08:35] ittoyxk commented on #8908
Version 4.0.0-rc1 used;
When parsing JSON with "->" in SQL, The table name cannot be resolved,
But it's OK to change to the "JSON_EXTRACT" function;

[2021-01-07 09:20] authorXiao commented on #8924
my going to update to the 4.0.x version, this shardingsphere Range Sharding Algorithm Unsupported >=

[2021-01-07 09:28] xuup opened #8934 "sharding-jdbc with mybatis just replica , but sharding not work"
#### Issue description
Read/write separation and sharding can write data to primary datasource, but cannot write into sharding tables in mybatis,
but this is work in jdbc.

I have push my code to github
https://github.com/xuup/sharding-replica-test.git (master)

#### version: sharding-jdbc master branch
#### project: ShardingSphere-JDBC

### Expected behavior
This is set in the configuration file

[2021-01-07 09:30] jingshanglu opened #8935 "support "show sharding rule ""
## Feature Request
add support `show sharding rule`.

### Describe the feature you would like.
support `show sharding rule`, and the result like this:
+-------------+------------------+--------------------------------+---------------------------+--------------------------+-------------------+
| tables      | bindingTables|defaultDatabaseStrategy| defaultTableStrategy|shardingAlgorithms |keyGenerat

[2021-01-07 09:39] jingshanglu opened #8936 "Support "show replica_query rule""
## Feature Request
add support `show replica_query rule`

### Describe the feature you would like.
add support `show replica_query rule`, the result like this:

[code]

[2021-01-07 09:51] tristaZero commented on #234
@dafanzhi Hi welcome.

[2021-01-07 10:02] SteNicholas commented on #8933
@yangzhongj You could run `mvn clean install -DskipTests -Dfast`.

[2021-01-07 10:02] #8933 closed

[2021-01-07 10:07] SteNicholas commented on #8930
@yoloz Currently the `MySQLStatementParser ` couldn't support Chinese column for query.

[2021-01-07 10:11] tristaZero commented on #8284
Sound nice. :)
Do you think it is possible to raise a PR with `DefaultPlanner`?
Honestly speaking, the first PR always troubles the assigner a lot.

[2021-01-07 10:29] lmhmhl commented on #8883
Hi @tristaZero , when I am doing the test, some unexpected error happened as follows:
[code]
Then I debugged the code and found that the error is caused in CalciteContextFactory class:
[code]
[code]
[code]
The error is caused by `config.schema()` returns null, but in `CalciteCatalogReader` class, `ImmutableList.of(Objects.requireNonNull(defaultSchema)` are not allowed Null.  I have been bothered b

[2021-01-07 10:30] tristaZero commented on #8908
Hi Could you try an upgraded version? I suggest 5.0.0-alpha if you like.

[2021-01-07 10:30] yoloz commented on #8930
@SteNicholas thanks

[2021-01-07 12:31] TeslaCN opened #8940 "shardingsphere-jdbc-governance incompatible with druid-spring-boot-starter"
## Feature Request

The `DataSourceConfiguration` requires public no-args constructor on `DataSource`. But the `druid-spring-boot-starter` create a class named `DruidDataSourceWrapper` extends DruidDataSource, but without public no-args constructor.

https://github.com/alibaba/druid/blob/5761dccf904c1fe8120767f86d67ccf0be171726/druid-spring-boot-starter/src/main/java/com/alibaba/druid/spring/boot/

[2021-01-07 12:48] danielzhou888 opened #8942 "Why the performance of interface stress test used by shardingjdbc-4.0.1 is low obviously than not using sub-meter middleware! What we do wrong!"
## Why the performance of interface stress test used by shardingjdbc-4.0.1 is low obviously than not using sub-meter middleware! What we do wrong!
Please help!
We use shardingjdbc as the sub-table middleware of the shop product table, but when we were doing interface stress testing, we found that using sub-meter middleware is much weaker in performance than not using sub-meter middleware.
**The sp

[2021-01-07 14:15] #8802 closed

[2021-01-07 15:48] lhcxj576 opened #8943 "Not sure how to avoid conflict with Skywalking"
![image](https://user-images.githubusercontent.com/73157467/103912859-c5040b00-5142-11eb-88b7-f0cd40470fe0.png)

[2021-01-08 02:19] stat0s2p commented on #8909
thank you.I will try when you fix it.

[2021-01-08 03:37] #8930 closed

[2021-01-08 03:45] yu199195 commented on #8943
My advice :
1. you can  use  -javaagent:  skywalking-agent.jar   because we provide plugin in skywalking。
2. this module will be remove in next version

[2021-01-08 03:46] wu-sheng commented on #8943
I think the simple answer is, you don't need the OT-SkyWalking bridge. Install the SkyWalking agent, shardingsphere native plugin should take care of all things automatically.

[2021-01-08 03:53] tristaZero commented on #8913
Hi @duzhanfei ,

Thanks for your feedback. Is that an entire log? You don't skip something, do you?

Could you try a SQL without null value (`VALUES
('642054011658', '梅', '01', '1219123', '111', '6106060118', null, null, null, null)`)?

Besides, it looks like we have inadequate support for `MySQLShowOtherStatement` and `SELECT @@session.transaction_read_only` in `ShardingRouteEngineFactory`, which

[2021-01-08 04:01] tristaZero commented on #8913
Hi community,

### Tasks
Are you interested in digging into `ShardingRouteEngineFactory` to verify whether ShardingProxy can run the following SQLs well?
[code]

### How
- Start ShardingProxy with a sharding rule example
- Execute the SQLs above one at a time
- Check whether they can work well
- If not, please provide an exception log here, and we could consider fixing them. (My speculation is the

[2021-01-08 04:03] tristaZero commented on #8883
Hi @lmhmhl ,

You are right. Actually, we fix this bug on #8918. Please pull from upstream to your local and give it a try.

Any questions, please ping me here.

[2021-01-08 04:03] authorXiao commented on #8924
my  use updated version ,supported >=

[2021-01-08 04:05] tristaZero commented on #8924
Does that mean this issue is supposed to be closed? That way, please give this one a close.
Thanks.

[2021-01-08 04:10] lhcxj576 commented on #8943
Now we have a reference to ShardingSphere in our application, version 4.1.1。
I've also introduced Skywalking, but Skywalking keeps reporting errors, and it says。
But the application is working;

ERROR 2021-01-07 21:08:49:080 DubboServerHandler-10.0.21.195:7041-thread-193 InstMethodsInter : class[class org.apache.shardingsphere.shardingjdbc.executor.PreparedStatementExecutor] before method[executeC

[2021-01-08 06:22] guimingyue commented on #8284
@tristaZero

It's not the right time to raise a PR now. I will keep working on the`DefaultPlanner` before raising a PR.

[2021-01-08 06:23] LeasyZhang opened #8946 "Sharding JDBC don't work with Postgres jsonb type"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-08 06:25] LeasyZhang commented on #8946
It works in ShardingSphere-3.0.0.M1 but failed in later versions.

[2021-01-08 06:45] wu-sheng commented on #8943
Do you use the latest SkyWalking release? The ShardingSphere internal APIs have done some incompatible upgrade in recent several months, SkyWalking community has accepted the PRs to support 4.1.1, which is included in 8.1.0;s https://github.com/apache/skywalking/pull/4921

Check our test case, https://github.com/apache/skywalking/blob/master/test/plugin/scenarios/shardingsphere-4.x-scenario/suppor

[2021-01-08 06:49] terrymanu opened #8947 "Throw NPE when table name include '-'"
## Bug Report

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute SQL `SELECT * FROM t-order;`

### Actual behavior

Report error message table not exist, or syntax error,  or parse exception at last.

[2021-01-08 07:13] lmhmhl commented on #8883
Hi @tristaZero, when I ran the SQL [SELECT i.* FROM t_order o JOIN t_order_item i ON o.order_id=i.order_id WHERE o.order_id in (1000, 1001)], some errors happened, **Caused by: org.apache.calcite.sql.validate.SqlValidatorException: Object 't_order_0' not found**.

**java.sql.SQLException: Error while preparing statement [SELECT i.* FROM t_order_0 o JOIN t_order_item_0 i ON o.order_id=i.order_id WH

[2021-01-08 07:15] traceming2 opened #8949 "Shardingproxy sctl is not usable"
The sctl commands cannot be processed by JDBC.
[code]
[code]

[2021-01-08 07:40] #8924 closed

[2021-01-08 07:49] #8896 closed

[2021-01-08 08:12] traceming2 commented on #8949
no `set` after `sctl:hint`

[2021-01-08 08:12] #8949 closed

[2021-01-08 08:16] djession opened #8952 "sharding-proxy with mybatis just replica , but sharding not work"
when i using shardingsphere-proxy 5.0.0,i found that it didn't work either under Docker or manually deploying the proxy. The error content was the same.

os: ubuntu20.10
jdk: openjdk-8
mysql-server:8.0.22

**proxy server log:**
[code]
**mysql cli error:**

[code]

**my config:**

server.yaml

[code]
config-sharding.yaml

[code]

[2021-01-08 08:25] djession commented on #8952
os:  ubuntu20.10
jdk: openjdk-8

[2021-01-08 08:56] junwen12221 commented on #8284
@tristaZero

`new ResultSetMetadata(physical.getRowType().getFieldList());

fieldList.get(column).getType().getSqlTypeName().getJdbcOrdinal();
fieldList.get(column).getName();

`

physical  is  a RelNode.

[2021-01-08 09:23] yangzhongj commented on #8832
yes , it always:    FATAL] Non-resolvable parent POM for org.apache.shardingsphere:shardingsphere-ha-mgr:5.0.0-RC1-SNAPSHOT: Could not find artifact org.apache.shardingsphere:shardingsphere-ha:pom:5.0.0-RC1-SNAPSHOT and 'parent.relativePath' points at wrong local POM @ line 23, column 13

[2021-01-08 09:39] jingshanglu commented on #8947
@terrymanu The table name is wrong.
![image](https://user-images.githubusercontent.com/16559542/103999852-66896c00-51d8-11eb-8e9e-ba9f0f772cb6.png)

[2021-01-08 10:59] tristaZero commented on #8883
@lmhmhl Rapid comment.
What's the content of `ExecutionContext` of `CalciteRowExecutor`?  If you create a `ExecutionContext`, the following content is expected,
[code]
I am unsure whether you can catch me. But the key point here is put `the original sql` and all the RouteMappers of relevant tables into `SQLUnit`.

[2021-01-08 11:04] #8912 closed

[2021-01-08 12:44] terrymanu commented on #8952
What is your actual version? There is no 5.0.0 version.

[2021-01-08 12:46] terrymanu commented on #8934
Is it the same issue with ##8952?

[2021-01-08 13:06] xuup commented on #8952
I use maven installed shardingsphere master branch in local and used it.

[2021-01-08 13:14] xuup commented on #8934
Hi, #8952 base on mysql ,&nbsp; and there have no relation to #8934

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年

[2021-01-08 14:07] lmhmhl commented on #8883
Hi @tristaZero , thank u for your comment and patience, I have debugged the code and found that the error is caused in `org.apache.calcite.sql.validate.IdentifierNamespace` class, in method `resolveImpl `, there has a line of code as
`SqlNameMatcher nameMatcher = this.validator.catalogReader.nameMatcher();` , the ` caseSensitive` variable in  `nameMatcher` is `false`, so It will throw exception an

[2021-01-08 14:10] lmhmhl commented on #8883
<img width="589" alt="Screen Shot 2021-01-08 at 10 09 49 PM" src="https://user-images.githubusercontent.com/24718258/104024584-4a98c100-51fe-11eb-8969-88fd535e20fa.png">

[2021-01-08 18:03] lmhmhl commented on #8883
Hi @tristaZero , thanks for your comment and patience, I debugged the related classes, and found that the error is caused in `org.apache.calcite.sql.validate.IdentifierNamespace`, which has a method called `resolveImpl`,  there has a line of code `            this.parentScope.resolveTable(names, nameMatcher, Path.EMPTY, resolved);`  `resolved` has a variable called `resolves`, resolves is 0 after

[2021-01-10 01:09] wxq851685279 opened #8964 "Failed to generate using spring data jpa id"
version:
springboot 2.3.7.RELEASE
sharding-jdbc-spring-boot-starter:4.1.1
exception:
`org.springframework.orm.jpa.JpaSystemException: ids for this class must be manually assigned before calling save(): com.example.demo.entity.Course; nested exception is org.hibernate.id.IdentifierGenerationException: ids for this class must be manually assigned before calling save(): com.example.demo.entity.Course

[2021-01-10 05:19] tristaZero commented on #8284
@guimingyue
Ok, go ahead, if you like to give `theDefaultPlanner` a relatively complete implement. Do you think how long you will take to finish `theDefaultPlanner`?

@junwen12221 Thanks for your comment, I will give it a look.

[2021-01-10 06:10] tristaZero commented on #8284
Hi, community,

Here is the progress update so far.

### Functions

- [x] The **research** on the source code and API of Apache Calcite
- [x] The **design plan** on Apache ShardingSphere and  Apache Calcite
- [x] The implementation of `CalciteLogicSchemaFactory`, `CalciteLogicSchema`, and `CalciteFilterableTable`
- [x] The Calcite JDBC executor
- [x] The **work embedding with** initialization, rou

[2021-01-10 06:26] tristaZero opened #8965 "Create unit test for `CalciteLogicSchemaFactory`"
Hi, guys,

Thanks for your attention, this issue to create unit test for `CalciteLogicSchemaFactory`.

### Steps
- Create a `CalciteLogicSchemaFactoryTest` class
- Create a `ShardingSphereDataSource` to get `Map<String, ShardingSphereMetaData>` from `MetaDataContexts`(`AbstractShardingSphereDataSourceForShardingTest` will give you some points, I guess)
- Create `CalciteContextFactory` by Map<Strin

[2021-01-10 06:53] tristaZero opened #8966 "[Enhancement] Authentication feature of ShardingProxy"
## Introduction

This feature is the same as the authentication of MySQL or PostgreSQL. ShardingProxy has to do access control when users login in.

## Three key points need to clarify
- This issue is an enhancement feature for the current `Authentication` module
- All users configured in `server.yaml` of `ShardingProxy` still work and are seen as system users.
- We will leverage the access-contro

[2021-01-10 08:33] lmhmhl commented on #8965
I wanna have a try. Thx.

[2021-01-10 09:51] tristaZero commented on #8883
Hi @lmhmhl ,
How do you  get `ExecutionContext`?
Could you make the sql of `SQLUnit` is logic sql?

[2021-01-10 10:18] tristaZero commented on #8965
Hi  @lmhmhl ,

Your name came to my mind when I created this issue  though, glad to see you stand out.

[2021-01-11 03:17] lmhmhl commented on #8883
Hi @tristaZero.
A1: When I read the source code of ShardingSphereStatement, I found there are some code in it can be used to create `executionContext`, and `calciteExecutor`, so I change the source code a little tiny bit to execute ` executeQueryByCalcite()` when execute query as the following code snippet, so `ExecutionContext ` is acquired by ShardingSphereStatement(see as figure 1).
A2: I am no

[2021-01-11 03:43] tristaZero commented on #8935
[code]

**Convert to**

[code]

[2021-01-11 03:51] tristaZero commented on #8936
[code]
**Convert to **
[code]

[2021-01-11 04:38] tristaZero commented on #8832
@yangzhongj ,
Thanks for your feedback, @tuohai666 is working on this one. Please wait for his PR fixing it.

[2021-01-11 04:54] guimingyue commented on #8284
@tristaZero Maybe, The time will be about two months. The work related to the `DefaultPlanner` also includes an executor.

[2021-01-11 06:08] xtuer commented on #8435
@menghaoranss ???

[2021-01-11 08:02] tristaZero commented on #8284
@guimingyue no problem, follow your schedule.

[2021-01-11 08:19] ben905713861 opened #8978 "SeataAT transaction in ShardingSphere-Proxy block abnormally"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When I use Seata-AT transaction in ShardingSphere-Proxy,I have start transaction and send a `select for update` SQL,the mysql-client is blocking forever.
（使用Seata-AT事务，执行select for update语句，客户端会永久阻塞）

[code]
A

[2021-01-11 08:41] tristaZero commented on #8883
Hi @lmhmhl ,

I like your initiative to have deeper learning of ShardingSphere, which will help you play a more critical role in this community.

You're right. Generally, it is supposed to get `ExecutionContext` from `ShardingSphereStatement`. However, currently, we just finish part of SQL federation function. #8284 still presents the progress of this great feature.
Because of that, you can only g

[2021-01-11 08:51] jingshanglu opened #8979 "support `add feature` in alter `replica_query rule`"
## Feature Request
support `add feature` in alter `replica_query rule`

### Describe the feature you would like.
maybe grammar like this:

[code]

[2021-01-11 08:53] jingshanglu commented on #8979
@terrymanu @tristaZero How about this design?

[2021-01-11 08:59] djession commented on #8952
shardingshpere-proxy version : 5.0.0-alpha，maybe i have knew the reason.
i first create the database and sharding table,then star up the shardingsphere.maybe shardingsphere didn't know metadata,so can't connect database?

[2021-01-11 09:09] xuup commented on #8952
Sorry, the issue base on sharding-jdbc.&nbsp;
I use maven install the shardingshphere master branch and use it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <no

[2021-01-11 09:54] guoxianwei-ying opened #8980 "ShardingSphere-proxy支持seata分布式事务嘛？"
按照官网的用户手册，使用Sharding-proxy模式目前不支持seata分布式事务。只有Sharing-JDBC才能使用seata ？

[2021-01-11 09:54] tristaZero commented on #8979
[code]

[2021-01-11 09:56] terrymanu commented on #8979
Good design

[2021-01-11 10:31] strongduanmu commented on #8980
@guoxianwei-ying Can you translate this issue into English? Only English will be accepted. 🙂

[2021-01-11 10:34] guoxianwei-ying opened #8981 "Only Sharing-JDBC can use seata?"
According to the user manual on the official website, using the Sharding-proxy mode does not currently support seata distributed transactions. Only Sharing-JDBC can use seata?

[2021-01-11 11:13] #8932 closed

[2021-01-11 11:54] yujun110 opened #8982 "show tables like xxx% can not return correct result"
show tables like xxx% can not return correct result

LogicTablesMergedResult:

[code]

[2021-01-11 11:59] yujun505646964 commented on #8982
<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-boot-starter</artifactId>
			<version>4.1.1</version>
		</dependency>

[2021-01-11 12:06] yu199195 commented on #8978
1. you add  shardingsphere-transaction-base-seata-at.jar in proxy?
2. can you show server.yml ?
3. can you show seata.conf  and register.conf?

[2021-01-11 12:34] ben905713861 commented on #8978
@yu199195 1.yes, I add shardingsphere-transaction-base-seata-at.jar in proxy,the version is 4.1.1

2.the server.yml is:
[code]

3.1 register.conf is:
[code]

3.2 seata.conf is:
[code]

[2021-01-11 14:19] duzhanfei commented on #8913
@tristaZero

The sharding key is of type String, and  sharding rules are made by hashing values
 The following  scenarios will cause  NullPointerException
①When querying, the sharding key is lowercase,
such as:
PBCST_QRY_INFO_${Math.abs(ecif_cust_no.hashCode() % 16)}
② When inserting data, the sharding key is uppercase
such as:
PBCST_QRY_INFO_${Math.abs(ECIF_CUST_NO.hashCode() % 16)}

[2021-01-11 14:26] duzhanfei commented on #8913
https://github.com/apache/shardingsphere/issues/8303

[2021-01-11 16:41] #8980 closed

[2021-01-12 00:49] strongduanmu commented on #8982
@yujun505646964 Can you try to upgrade to version 5.0.0-alpha? This version has better support for show tables statement.

[2021-01-12 01:01] strongduanmu commented on #8981
@guoxianwei-ying You can refer to issue #4882, which provides some ideas for `sharding-proxy` to integrate `seata`.

[2021-01-12 01:20] yujun505646964 commented on #8982
where to download? the latest in mvnrepository is 4.1.1？

[2021-01-12 01:25] guoxianwei-ying commented on #8981
Thank you.I will try

[2021-01-12 02:02] yujun505646964 commented on #8982
@strongduanmu ok, thanks

[2021-01-12 03:19] tristaZero commented on #8982
Hi @yujun505646964

I guess you have targeted the cause. Indeed, `show tables like xxx% ` is unsupported currently. From my perspective, it is not a simple one.

Although Databases help us get the tables like xxx%, ShardingSphere still needs to apply it to merging the final result in `LogicTablesMergedResult`.

Therefore, we need to add members in `ShowTableStatement` labeling prefix %, suffix % o

[2021-01-12 07:02] tristaZero commented on #8913
Hi, More exception log is needed to locate the cause. But if I still unsure whether your issue is related to inline expression `PBCST_QRY_INFO_${Math.abs(ECIF_CUST_NO.hashCode() % 16)}`. I suggest you give `InlineExpressionParser` attention when you debug or test.

[2021-01-12 08:28] JiekerTime opened #8994 "Proxy integration test encountered some problems in the sharding-table part"
Error screenshot：
![image](https://user-images.githubusercontent.com/76552510/104287817-f3db0200-54f1-11eb-934c-1deb925aa035.png)
Related methods：
InlineShardingAlgorithm.doSharding()
![image](https://user-images.githubusercontent.com/76552510/104287950-2422a080-54f2-11eb-8ab9-0ec4f32f2353.png)
SQL：
SELECT t_order.* FROM t_order t_order WHERE user_id = 12 AND order_id = 1000

Cause Analysis：
There

[2021-01-12 08:47] Han-Tang opened #8995 "jpa+proxy Data not found HELP!!!!!!"
i have a project.used sharding proxy.
![图片](https://user-images.githubusercontent.com/33918398/104290344-33571d80-54f5-11eb-93aa-55b7268d4942.png)
![图片](https://user-images.githubusercontent.com/33918398/104290365-3a7e2b80-54f5-11eb-99bd-1daebab03116.png)
hibernate  sql:
![图片](https://user-images.githubusercontent.com/33918398/104290585-7dd89a00-54f5-11eb-93aa-d4ae9aee5f9f.png)
proxy sql:
![图片](ht

[2021-01-12 10:09] #8994 closed

[2021-01-12 10:36] terrymanu opened #8996 "Exception occur when execute mvn install"
[code]

[2021-01-12 12:17] tuohai666 opened #9000 "PSQLException: Cannot find PostgreSQL type 'POSTGRESQL_TYPE_NUMERIC' in column type when process binary protocol value"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-12 12:17] JiekerTime opened #9001 "The “ORDER BY” of Proxy occured problem in the proxy integration test"
In the proxy integration test, when I use Order by, it will repeatedly display the results twice：
![image](https://user-images.githubusercontent.com/76552510/104313235-b63aa100-5512-11eb-8c3c-ebb130e8d2d6.png)
![image](https://user-images.githubusercontent.com/76552510/104313244-b8046480-5512-11eb-8700-ea327673ec24.png)

[2021-01-12 12:47] duzhanfei commented on #8913
I have provided all the exception logs

[2021-01-12 13:02] duzhanfei commented on #8913
I wanna have a try. Thx.

[2021-01-12 13:27] duzhanfei commented on #8913
I wanna have a try. Thx.

At 2021-01-08 12:01:44, "Juan Pan(Trista)" <notifications@github.com> wrote:

Hi community,

Tasks

Are you interested in digging into ShardingRouteEngineFactory to verify whether ShardingProxy can run the following SQLs well?

SHOW STATUS;
SELECT @@session.transaction_read_only;
How
Start ShardingProxy with a sharding rule example
Execute the SQLs above one at a time
Che

[2021-01-12 14:46] tuohai666 commented on #8832
Fixed via https://github.com/apache/shardingsphere/pull/8906

[2021-01-12 14:46] #8832 closed

[2021-01-12 15:48] aBoyNicholas opened #9003 "5.0.0-alpha did not delete the datasource.common prop"
## Bug Report

**For English only**, other languages will not accept.

I can't understand that the documentation and everything in the instructions don't mention this, the 5.0.0-alpha in the Maven repository doesn't remove datasource.common props, which caused me to have to carry datasource.common in application.yml.

However, when I use the Hikari pool, this still does not allow me to omit the jd

[2021-01-12 15:57] lmhmhl commented on #8883
Hi @tristaZero,
Thanks for your sincere advice, I tried again followed by your  instructions. Firstly, I prepare a `ShardingSphereDataSource`  with CALCITE_DB_NAMES which is a single database instance,  then configure the yaml file named `config-calcite.yaml` and add tables rules as follow, this is a single table without sharding rules. Next, I Inserts a piece of data into the database，then prepar

[2021-01-12 15:58] aBoyNicholas commented on #9003
I think the problem has been found, the **url** must be modified to **jdbc-url**, is it considered to modify this one?

[2021-01-13 01:41] wgy8283335 opened #9005 "Why we use “try catch” to implement the condition logic in the ShardingSphereSQLParserEngine.parse0() method?"
## Why we use try-catch to implement the condition judgment logic in the ShardingSphereSQLParserEngine.parse0() method?

[code]

[2021-01-13 01:53] xuup commented on #8934
#### Explain the problem further

I use mybatis + sharding-jdbc to achieve sharding and replica. The application file is the same as above.

Sharding logic and read-write separation logic is:
sharding:
user_id % 2 ==0 ---> ds_0
user_id % 2 ==1 ---> ds_1

replica:
insert : primary_ds_0  primary_ds_1
read:    primary_ds_0_replica_0, primary_ds_0_replica_1, primary_ds_1_replica_0, primary_ds_1_replic

[2021-01-13 02:25] terrymanu opened #9007 "CI failed accidentally"
[code]

[2021-01-13 02:53] tristaZero commented on #9005
Hi,
`distSQLStatementParserEngine` and `sqlStatementParserEngine` have similar function though, server as different queries. Therefore, we have to firstly use  `sqlStatementParserEngine` and return the correct parsed result or continue use `distSQLStatementParserEngine` next if there is an exception from  `sqlStatementParserEngine`

[2021-01-13 02:55] tristaZero commented on #9003
Hi, the document gives users wrong configuration?

[2021-01-13 02:58] tristaZero commented on #8995
Hi,

What you mentioned is that to-execute SQLs are correct, but no result return, right?

[2021-01-13 03:27] tristaZero commented on #8913
Hi @duzhanfei ,
Welcome, I assigned this issue to you.

Hi, do you think the exception came from `InlineExpressionParser`?

[2021-01-13 03:29] yoloz commented on #5531
use dbcp2 and connection.setAutoCommit(false), get the same error, mysqlProxy version 5.0-alpha

[2021-01-13 04:12] yoloz commented on #5531
[code]
as the same schema can  directly return ?
@cherrylzhao

[2021-01-13 06:13] tristaZero commented on #8883
Hi @lmhmhl ,

Thanks for your detailed info, which help me learn your concern promptly.
#9009 fixed the problem you mentioned. Please pull from the master and have a try.

Thanks,
Trista

[2021-01-13 08:02] ben905713861 opened #9013 "Seata-global-lock in Sharding-Proxy(SeataAT transaction mode) is invalid"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When I use Seata-AT transaction in ShardingSphere-Proxy, I open 2 mysql-client to simulate resource compete. I open transaction:
（proxy使用Seata-AT事务模式，打开两个mysql客户端，分别开启事务）
Client1:
[code]
Client2:
[code]

After

[2021-01-13 09:27] wang7621422811 opened #9015 "Does sharding support subqueries?"
Does sharding support subqueries?

[2021-01-13 09:29] #9001 closed

[2021-01-13 10:11] singlemonkey opened #9016 "When using 'left join'，If you query multiple tables，error will be reported when merging results"
dependency:
[code]

application.properties:
[code]

sql:
[code]
It works will when the query scope does not involve multiple tables,but an error will be reported when the query results of multiple tables are merged。Error message like this:
[code]
When I track code execution，I found that the error was due to the failure to find the associated table “ps_t_info_class” from "schemametadata",The detail

[2021-01-13 10:39] tristaZero opened #9018 "[SQL Definition Collation][Oracle]Collate the SQL definition of ROLLBACK"
### Target
- Collate SQL definition of `ROLLBACK` to make SQL definition of `Apache ShardingSphere` the same with Oracle's.
- Add a test case

### How

1. Compare `ROLLBACK` definition in [Oficial SQL Doc](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/ROLLBACK.html#GUID-94551F0C-A47F-43DE-BC68-9B1C1ED38C93) and [ShardingSphere SQL Doc](https://github.com/apache/shardingsphere

[2021-01-13 10:42] huanghao495430759 commented on #8605
when I used @iblilife's sql:
`SELECT a.*, b.id FROM table_a a LEFT JOIN table_b b ON (a.id = b.id)`;
and shardingsphere-5.0.0-RC1-SNAPSHOT have the same proplem.

when shardingsphere create ShardingSpherePreparedStatement
I think the bug may be at SchemaBuilder.java line 70:
![image](https://user-images.githubusercontent.com/34728144/104438647-2b69ad00-55cb-11eb-9750-964239b63f6e.png)

 when load

[2021-01-13 11:16] ThanoshanMV commented on #9018
Hi, I would like to work on this issue

[2021-01-13 11:18] tristaZero commented on #9018
Hi @ThanoshanMV Welcome. :)

[2021-01-14 01:25] Han-Tang commented on #8995
yes.the sql is correct

[2021-01-14 01:29] Han-Tang commented on #8995
yes, the sql is correct. in my project,hibernate count() can get return ,but select  sql no result return

[2021-01-14 02:54] AllstarVirgo opened #9021 "Jpa生成的部分sql不能被语法解析树识别"
## Bug Report
I use jpa as my ORM.I find that when I use jpa with some tables, it has some errors.
And I write a unit test and find out the problem.
The sql syntax can't be parsed by the shardingsphere.
The sql is like this:

select vnimusicen0_.id as id1_1_, vnimusicen0_.create_time as create_t2_1_, vnimusicen0_.update_time as update_t3_1_, vnimusicen0_.auto_beat as auto_bea4_1_, vnimusicen0_.cat

[2021-01-14 06:01] #9007 closed

[2021-01-14 06:13] tristaZero commented on #9015
FYI. https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/

[2021-01-14 06:22] tristaZero commented on #9016
Hi @singlemonkey ,

Thanks for your feedback. It looks like a bug. Could you show us where this function is called?

@terrymanu I saw you made some changes recently, could you give this issue a look?

[2021-01-14 06:24] tristaZero commented on #9021
Hi, could you try 5.0.0-alpha? Plus, you have to rename this title in English.
Thanks.

[2021-01-14 06:31] tristaZero commented on #8995
`SELECT count(*)` returns `0` ? How about `SELECT * FROM`? Is there any rows coming back?

[2021-01-14 07:32] JiekerTime commented on #9016
Hi~The part about the sharding algorithm in your configuration file seems a bit confusing. Could you please give more detailed information, or try to modify your configuration file by referring to the configuration on the official website.

[2021-01-14 07:35] JiekerTime commented on #9016
Hi~ The part of sharding algorithm in your configuration file seems a bit confusing. Could you please give more detailed information, or try to modify your configuration file by referring to the [SHARDING ALGORITHM configuration](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/configuration/built-in-algorithm/sharding/)

[2021-01-14 07:54] xionghao-hw opened #9024 "[shardingsphere-proxy]The alias of the subquery used by projection cannot be handled correctly."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-14 08:09] wangwenzhao1 opened #9025 "table-strategy-inline-sharding-colum = id， Search by name"
table-strategy-inline-sharding-colum = id， Search by name？ no data

[2021-01-14 08:30] lizhuangs opened #9027 "cant not work on mysql8 with json type"
### table
[code]

### test data
[code]

### sql
it works well in navicat,but can not work with shardingsphere
[code]

### the error msg
[code]

[2021-01-14 08:33] Han-Tang commented on #8995
thanks！i know reason now. Error in field type.entity field type is "LocalDate" in my ,but mysql field  type is "date'.
then i change "date" to "datetime" ,is ok.

[2021-01-14 08:48] zp810975120 commented on #9021
The query field cannot contain SQL keywords,
such as:  select desc from table.

[2021-01-14 08:53] AllstarVirgo commented on #9021
It works out.Thank you!

[2021-01-14 08:55] AllstarVirgo commented on #9021
The query field cannot contain SQL keywords. As @zp810975120  says. Thank you for your reply.

[2021-01-14 08:56] #9021 closed

[2021-01-14 09:33] terrymanu opened #9029 "Test case error when executing mvn install"
[code]

[2021-01-14 10:20] jingshanglu opened #9030 "support explain"
## Feature Request

support explain

### Describe the feature you would like.
I expect to use explain to verify whether SQL can be executed.

[2021-01-14 11:39] #9029 closed

[2021-01-14 13:59] xiaobaojiang opened #9035 "MemoryMergedResult SQLFeatureNotSupportedException: null"
## Bug Report

### Which version of ShardingSphere did you use?
sharding-core-merge-4.0.0-RC1
![image](https://user-images.githubusercontent.com/16165731/104599003-34817980-56b2-11eb-8e52-ee4726bd691e.png)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

### Actual behavior
[code]
### Reason analyze (If you can)

1. database: s

[2021-01-14 15:11] #8979 closed

[2021-01-15 01:21] xionghao-hw commented on #9024
I have tried master branch,, same problem
[code]

[2021-01-15 02:24] github-ganyu commented on #234
商越科技 https://www.sunyur.com/

[2021-01-15 03:04] tristaZero commented on #9024
Hi @xionghao-hw ,

Thanks to providing debugging info.

I want to know these tables in your query are sharding tables or not?

[2021-01-15 03:11] xionghao-hw commented on #9024
Hi, @tristaZero,
ports, ml2_port_bindings,qos_port_policy_bindings, portsecuritybindings tables all in ds_0,
They are all no sharding tables.
Thx.

[2021-01-15 04:14] #8995 closed

[2021-01-15 04:15] tristaZero commented on #234
@github-ganyu Thanks for your attention.

[2021-01-15 05:44] mengJackye opened #9043 "Union not supported now?"
## Question
Cause: java.sql.SQLException: Incorrect usage of UNION and ORDER BY
The version I'm using is 4.0.0-RC1.
But there is no ORDER BY in my SQL statement
An error is reported when using a UNION query:
 Incorrect usage of UNION and ORDER BY; nested exception is java.sql.SQLException: Incorrect usage of UNION and ORDER BY
at org.springframework.jdbc.support.AbstractFallbackSQLExceptionTransla

[2021-01-15 06:21] terrymanu opened #9044 "GovernanceMetaDataContextsTest fail"
[code]

[2021-01-15 06:44] xiaobaojiang commented on #9035
resolve:  mapper.xml Specify col jdbctype

[2021-01-15 06:44] #9035 closed

[2021-01-15 06:47] tristaZero opened #9046 "[RDL] Support `Alter ShardingRule`"
### Introduction

Sharding Proxy will support altering sharding rule online, which means Proxy will move the actual tables to the new location.
This issue is a RDL `Alter ShardingRule`, a trigger for `sharding scaling`.

[code]

### Tasks
- Support RDL g4 definition
- Create Statement
- Post a `RuleConfigurationsPersistEvent` in handler

[2021-01-15 06:58] wangwenzhao1 opened #9047 "Search condition is String Cannot return data normally"
## Question

[2021-01-15 07:02] #8936 closed

[2021-01-15 07:55] wangwenzhao1 opened #9048 "shardingsphere-jdbc Actual SQL execution results are incorrect (data should have been returned, but no data was returned)"
## Question
server.port=8084
spring.application.name = sharding
mybatis.config-location=classpath:META-INF/mybatis-config.xml
logging.config=classpath:logback-spring.xml
spring.shardingsphere.datasource.names=ds0,ds1

#
spring.shardingsphere.datasource.ds0.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds0.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.

[2021-01-15 08:56] Han-Tang opened #9050 "Hibernate: select last_insert_id()"
![图片](https://user-images.githubusercontent.com/33918398/104703633-87ab0900-5752-11eb-8d3a-ccfa0b1dbf53.png)

插入的时候总是带有 select last_insert_id()   然后就会报错  有大佬知道怎么弄吗

[2021-01-15 10:32] huanghao495430759 commented on #8605
@strongduanmu
@tristaZero

[2021-01-15 11:04] ThanoshanMV commented on #9018
![sharding-error](https://user-images.githubusercontent.com/48581379/104716854-795aee00-574e-11eb-8a78-0ba4ed3add6f.png)
@tristaZero I've gone through [contributor guide](https://shardingsphere.apache.org/community/en/contribute/contributor/) and set up the project. In `shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-oracle`, I ran `mvn install`

[2021-01-16 04:36] tony1991 opened #9057 "Service start stuck without exception after table locking"
My shardingsphere version is 4.0.0-RC2
Service start stuck and no exception after table locking.
Also, if I locked table when service running , the service will not response and no exception throw.
I want to catch exception when table is locked, how to do it?

[2021-01-16 13:25] #9005 closed

[2021-01-17 04:26] wgy8283335 opened #9059 "[SQL Definition Collation][Oracle]Collate the SQL definition of DROP TABLE"
Target
- Collate SQL definition of DROP TABLE to make SQL definition of Apache ShardingSphere the same with Oracle's.
- Add a test case

HOW
1 Compare DROP TABLE definition in Oficial SQL Doc and ShardingSphere SQL Doc
2 If there is any difference in ShardingSphere SQL Doc, please correct them referring to Official SQL Doc (g4 file of ANTLR)
3 Run mvn install shardingsphere-sql-parser-oracle
4 Che

[2021-01-17 05:42] terrymanu opened #9060 "Missing index name fill in SQLStatementVisitor for oracle"
- [ ] Create Index
- [ ] Alter Index
- [ ] Drop Index

[2021-01-17 05:53] wgy8283335 commented on #9060
I'd like to take care of this.

[2021-01-17 09:59] terrymanu commented on #8522
Closed because of no response.

[2021-01-17 09:59] #8522 closed

[2021-01-17 10:00] #8914 closed

[2021-01-17 10:01] terrymanu commented on #8819
Closed because of no response.

[2021-01-17 10:01] #8819 closed

[2021-01-17 10:03] terrymanu commented on #8770
Closed because of no response.

[2021-01-17 10:03] #8770 closed

[2021-01-17 10:04] terrymanu commented on #8804
Closed because of no response.

[2021-01-17 10:04] #8804 closed

[2021-01-17 10:06] terrymanu commented on #8825
Closed because of no response.

[2021-01-17 10:06] #8825 closed

[2021-01-17 10:07] #8733 closed

[2021-01-17 10:07] terrymanu commented on #8733
Closed because of no response.

[2021-01-17 10:09] terrymanu commented on #8727
Duplicate with #8841

[2021-01-17 10:09] #8727 closed

[2021-01-17 10:10] terrymanu commented on #8908
Closed because of no response.

[2021-01-17 10:10] #8908 closed

[2021-01-17 10:14] terrymanu commented on #8357
expired

[2021-01-17 10:14] #8357 closed

[2021-01-17 15:20] zhang-j-x opened #9066 "A question about datasource names"
when i try to config the demo of sharding databases tables,at first,i config like this
![image](https://user-images.githubusercontent.com/48779230/104847042-ca1e4280-5918-11eb-8c8b-7259c6b77bd3.png)

and then i found it run error
![image](https://user-images.githubusercontent.com/48779230/104847118-25e8cb80-5919-11eb-9c8d-2c38adfca536.png)

​​​​i realized the config of datasource.names must be as

[2021-01-17 15:37] AllrenGao opened #9067 "a bug in use sharding-proxy"
I use Sharding-Proxy to separate reads and writes from MySQL.
 In the real instance library, there is a table  called 'block'.
When I access the table through Sharding-Proxy, I get an error:ERROR 10002 (C1000): 2Unknown exception: [null]

It looks like because of the name block!!!
so ....why ？
all the other tables seems like no problem；

[2021-01-17 16:32] ThanoshanMV opened #9069 "Cannot resolve symbol autogen"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-17 16:51] terrymanu commented on #9069
autogen means auto generated. Please run `./mvnw install` first.

[2021-01-17 16:51] #9069 closed

[2021-01-17 16:52] terrymanu commented on #9067
what's mean of `real instance library`?

[2021-01-17 16:54] terrymanu commented on #9057
RC version is not for use, could you try to stable version?

[2021-01-17 18:00] ThanoshanMV commented on #9069
![whole-pic](https://user-images.githubusercontent.com/48581379/104851476-30a46000-591b-11eb-8319-2dfa62355204.png)
When I faced this issue initially, I ran `mvn clean install` and it did not work. Now, I've run `./mvnw install` and the issue stays the same. I restarted the application but it didn't work too. I've attached the screenshot after I ran `./mvnw install` inside the `shardingsphere` dir

[2021-01-17 20:01] ThanoshanMV commented on #9069
![solved](https://user-images.githubusercontent.com/48581379/104853160-fe97fb80-5924-11eb-8428-a914f6897503.png)
Hi, I think I solved the issue. Now, it works. Thank you.

[2021-01-17 20:05] ThanoshanMV commented on #9069
Hi, I think now the issue is resolved. Thank you.

[2021-01-18 00:54] tony1991 commented on #9057
The software version is under the control of the company.

Could you give me some other solutions?  Thank you very much!

[2021-01-18 02:53] junejs commented on #234
微医云（杭州）控股有限公司，https://cloud.guahao.cn/

[2021-01-18 03:50] AllrenGao commented on #9067
the real database!!!

in my database  i cant select from a table nameed 'block'

is the block  a keyworkd in sharding?

[2021-01-18 04:09] #8018 closed

[2021-01-18 04:12] #9060 closed

[2021-01-18 04:15] terrymanu commented on #9067
Could you correct the description?

[2021-01-18 06:50] jingshanglu commented on #9067
@AllrenGao Can you show the sql?

[2021-01-18 07:04] woshiqiuxiaoyan commented on #8785
how to resolve it??

[2021-01-18 07:10] yu199195 commented on #8416
@fyuan1030

hi  your problem is solved?

1. ${db.name} is mean ?

2. you also used 5.0.0-alpha , see https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/

[2021-01-18 07:16] yu199195 commented on #8778
@alonglee-cyber

hi,   update same data in different transactions,  will deadlock.

[2021-01-18 07:32] zscgrhg commented on #8826
做人不要忘本

[2021-01-18 07:37] alonglee-cyber commented on #8778
@yu199195 yes, i know it, the purpose of this is to recurrence exception.
my mariadb cluster uses galera multimaster, deadlock happends occasionally.
my problem is when deadlock happened,
logs of exception stack did not show message about the deadlock, only a message of null
I can't tell from the log if it's a deadlock.

logs looks like this:

[code]

[2021-01-18 07:40] yu199195 commented on #8778
when transaction can not commit,  this is hibernate error

[2021-01-18 07:50] AllrenGao commented on #9067
![图片](https://user-images.githubusercontent.com/44191664/104886352-8ec95580-59a4-11eb-83bc-75312eadc319.png)

通过proxy 直行sql ，名字叫block 的表，不允许操作：
其他的没问题，并且重新创建名为block的表，也不允许操作 (select);
我在想，这是因为涉及到关键词了吗？

[2021-01-18 07:50] alonglee-cyber commented on #8778
emmm
是我描述的不对么 我的英语不是很好
我的意思是 最后的
[code]
这部分 没有任何异常描述

ForceExecuteTemplate 里面只是创建了一个新的SQLException, 然后将真正的异常设置到next里

但是这个新的SQLException里是没有任何描述的

日志输出的时候就只输出了 null

当然, 我可以做自定义的日志输出, 从SQLException里把真正的异常信息拿出来

但是我觉得要是能在ForceExecuteTemplate 把异常信息整理一下就更好了

[2021-01-18 07:51] AllrenGao commented on #9067
mysql> use mydb;
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
mysql>
mysql>
mysql> select * from block;
ERROR 10002 (C1000): 2Unknown exception: [null]

[2021-01-18 08:00] yu199195 commented on #8778
@alonglee-cyber

ForceExecuteTemplate is for throwing exceptions,  You can look at the exception  in  thread stack, the  full information is here

Do you have any other questions?  or not, we will close it.

of course, you can  create issue  whe you have any questions。

[2021-01-18 08:05] alonglee-cyber commented on #8778
no other questions.
it's not very  helpful, but thx,

[2021-01-18 08:05] #8778 closed

[2021-01-18 09:18] tristaZero commented on #234
@junejs Nice to see you here.

[2021-01-18 09:24] yu199195 commented on #8431
@xianzhuo-sky
Hi ,can you show you XML .

this code , When is null returned?

[code]

[2021-01-18 10:09] AllrenGao commented on #9067
#####
block is one of my tables;
#####

## sharding‘s error  log is :

line 1:14 no viable alternative at input 'block'
line 1:14 mismatched input 'block' expecting {'(', '{', TRUNCATE, POSITION, VIEW, ANY, OFFSET, BEGIN, COMMIT, ROLLBACK, SAVEPOINT, BOOLEAN, DATE, TIME, TIMESTAMP, YEAR, QUARTER, MONTH, WEEK, DAY, HOUR, MINUTE, SECOND, MICROSECOND, MAX, MIN, SUM, COUNT, AVG, CURRENT, ENABLE, DISAB

[2021-01-18 10:17] tristaZero commented on #9059
Hi @wgy8283335

Could you point the specific links for `DROP TABLE definition` and `ShardingSphere SQL Doc`?

[2021-01-18 10:22] sunnyshen1991 opened #9078 "ERROR execute sql （select COUNT(*) ckey, COUNT(*) pv, COUNT(DISTINCT user_id) uv,COUNT(DISTINCT ip) ip from tb_record）"
execute sql （select COUNT(*) ckey, COUNT(*) pv, COUNT(DISTINCT user_id) uv,COUNT(DISTINCT ip) ip from tb_record）

[2021-01-18 10:54] sunnyshen1991 commented on #9078
version：3.1.0.M1    jdbc   @dongzl

[2021-01-18 11:18] #8935 closed

[2021-01-18 11:57] dongzl commented on #9078
@sunnyshen1991  `3.1.0.M1` is a out of service version and not an apache version, can you test the newest version?

[2021-01-18 12:18] ThanoshanMV commented on #9059
Hi, I would like to work on this issue.

[2021-01-18 12:34] odyssey1816 opened #9080 "parameter misalignment occurs when executing `case when` in prepareStatement"
## Question
sharding-jdbc is in the process of upgrading from 4.0.1 to 4.1.1,parameter misalignment occurs when executing `case when`  in prepareStatement
  4.0.1: sql can be executed normally
  4.1.1: Parameter misalignment after prepareStatement

### SQL
[code]
### test program
[code]

### sharding rule
[code]

[2021-01-19 01:15] #9078 closed

[2021-01-19 01:44] mengJackye commented on #9030
It is not supported

[2021-01-19 02:50] Lucas-307 opened #9085 "RDL adapt Scaling Request"
RDL adapt Scaling API is `org.apache.shardingsphere.scaling.core.service.ScalingJobService` impl by `DistributedScalingJobService`

There are 7 functions:
- [x] start: create a scaling job
- [x] stop: stop a job
- [x] list: list all jobs
- [x] remove: remove a job
- [x] check: data consistency check
- [x] getProgress: get job progress
- [x] reset: reset target table data

[2021-01-19 03:24] #9018 closed

[2021-01-19 06:18] huanghao495430759 opened #9086 "error of SchemaBuilder append remain tables,it doesn't load table columns"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc

### Reason analyze (If you can)
https://github.com/apache/shardingsphere/issues/8605#issuecomment-759364099

I think bug maybe at
->org.apache.shardingsphere.infra.metadata.schema.builder.SchemaBuilder#appendRemainTables line 70
![imag

[2021-01-19 06:23] djession commented on #8952
when i build master branch and use it，that‘s ok

[2021-01-19 06:23] #8952 closed

[2021-01-19 08:21] z-n commented on #8703
Isn't this a basic requirement？ show me what's wrong ok? the server is just gone ,no logs no errors

[2021-01-19 09:22] dongzl commented on #9086
Hi @huanghao495430759 , can you submit a PR and fix this bug?

[2021-01-19 09:31] djession opened #9087 "There may be bugs when sharding-proxy integrates with etcd"
## Bug Report

### Which version of ShardingSphere did you use?

**sharding-proxy alpha 5.0.0**

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

**sharding-proxy alpha 5.0.0**

### Expected behavior
1. initialize the system with the following parameters
[code]

[code]
and then, intput command at the mysql-cli :
`use replica_sharding_db`
`show tables`
all is ok~when i r

[2021-01-19 10:06] AllrenGao opened #9089 "an error occurred when using shrding proxy"
#### 1.one master one slave for my ENV.
#### 2. my sql gone away： it notice:
    mysql> show tables;
    ERROR 2006 (HY000): MySQL server has gone away
    No connection. Trying to reconnect...
    Connection id:    14
    Current database: soho

    ERROR 2006 (HY000): MySQL server has gone away
    No connection. Trying to reconnect...
    Connection id:    15
    Current database: soho

    ERR

[2021-01-19 10:29] jingshanglu commented on #9046
@terrymanu @tristaZero What is `HASH_MOD` for? databaseStrategy? tableStrategy? keyGenerateStrategy? maybe we should design  grammar about shardingRule.

[2021-01-19 10:33] YanlongMa opened #9091 "How to use etcd as config center"
## Question

How to use etcd as config center  in springboot?

can you give me a pox.xml dependency

[2021-01-19 13:09] lmhmhl opened #9096 "A mistake in document."
The ` t_score_0` should be ` t_score_1`

https://shardingsphere.apache.org/document/current/cn/features/sharding/principle/rewrite/

<img width="1053" alt="Screen Shot 2021-01-19 at 8 46 19 PM" src="https://user-images.githubusercontent.com/24718258/105038604-805d6580-5a9a-11eb-985d-cc88dd0784a4.png">

[2021-01-20 01:04] dongzl commented on #9096
Hi @lmhmhl , can you submit a PR and fix it?

[2021-01-20 01:06] dongzl commented on #9091
Hi @YanlongMa , can you provide more detail info?

which version do you use?

[2021-01-20 01:08] dongzl commented on #9089
Hi @YanlongMa , can you provide more detail info?

which version do you use?

[2021-01-20 01:15] YanlongMa commented on #9091
zookeeper config center is success, but etcd config center is error, I dont‘not how to add dependency in pom,  can you help me, 3Q.

pom.xml
[code]

properties
[code]

error info
[code]

[2021-01-20 01:52] wxq851685279 commented on #8964
@rfscholte @WillemJiang @ke4qqq @gmcdonald

[2021-01-20 02:04] tuohai666 commented on #9087
@djession
1. Please also show server.yaml.
2. Can you try the same procedure without governance and confirm there will be no problem?

[2021-01-20 02:19] dongzl commented on #9091
@YanlongMa , `Etcd` as config center, is not very stable at `4.0.0` version, so I recommend use `Zookeeper` instead of `Etcd`.

But at the `5.0.0-alpha` version, `Etcd` as config center is stable, you can try it.

[2021-01-20 04:01] YanlongMa commented on #9091
5.0.0-alpha can use in product environment ？

[2021-01-20 04:04] tuohai666 commented on #8942
@danielzhou888 Can you provide more information?
1. What is this host used for? When to use?
![image](https://user-images.githubusercontent.com/24643893/105124610-6ca31500-5b15-11eb-87f6-d4256a64653c.png)

2. What is this host used for?
![image](https://user-images.githubusercontent.com/24643893/105124906-1b475580-5b16-11eb-95ab-b3590368aabc.png)

3. Jmeter run in this host right? What's its hardw

[2021-01-20 04:11] tuohai666 commented on #8942
@danielzhou888
Beside, I don't think the 1st conclusion meet expectation. 'On' will never faster than 'Off' in the same env, but the case shows the opposite result. It's important to find out what happened.

[2021-01-20 04:30] #9096 closed

[2021-01-20 05:00] tristaZero commented on #9043
Hi,
What's the SQL running? `UNION` is unsupported presently.

[2021-01-20 05:01] tristaZero commented on #9047
Hi Please give detail about your issue.

[2021-01-20 05:03] tristaZero commented on #9048
Hi,
These actual SQLs were correct but no data returned, didn't it? What's about other queries?

[2021-01-20 05:05] tristaZero commented on #9050
Hi,

which version is running in your env? Could you set `sql-show` = `true` to get more details?

[2021-01-20 05:08] tristaZero commented on #9066
How about rename `sharding_sphere` without `_` ?  BTW, which version is in your case?

[2021-01-20 05:10] tristaZero commented on #9086
Is there any exception relevant to what you pointed?

[2021-01-20 05:14] tristaZero commented on #9091
Hi @YanlongMa ,

5.0.0-alpha has a quite different configuration form with 4.0.0 and better SQL support. Plus, we will give 5.x release more great improvement in the future. I suggest you can have a try with 5.0.0-alpha.

[2021-01-20 05:30] YanlongMa commented on #9091
I want use master-slave 、etcd config center on product environment,
if use 5.0.0-alpha, I'm a little worried

[2021-01-20 06:20] AllrenGao commented on #9089
version : 4.1.1

[2021-01-20 06:22] huanghao495430759 commented on #9086
maybe it is the problem of https://github.com/apache/shardingsphere/issues/8605;
https://github.com/apache/shardingsphere/issues/8605#issuecomment-759364099

[2021-01-20 06:25] huanghao495430759 commented on #9086
Hi @tristaZero ,maybe it is the problem of https://github.com/apache/shardingsphere/issues/8605;
when i run sql of  [SELECT a.*, b.id FROM table_a a LEFT JOIN table_b b ON (a.id = b.id)]
https://github.com/apache/shardingsphere/issues/8605#issuecomment-759364099

[2021-01-20 07:13] djession commented on #9091
@dongzl btw：when will 5.0.0-rc or stable be released？

[2021-01-20 07:26] tristaZero opened #9100 "[RDL] enhancement for `CREATE/ALTER SHARDING RULE`"
The complete SQL for `CREATE SHARDING RULE` and `ALTER SHARDING RULE`  are followings,

[code]

### Items
- All the properties in the sharding algorithm or key generated algorithm use `-`, like `sharding-count`
- `resources(ds0, ds1)` is optional
- `generated_key(another_id snowflake(worker-id=123))` is optional
- `binding_tables(t_order, t_item)` is optional
- `default_table_strategy HASH_MOD(sha

[2021-01-20 07:34] dongzl commented on #9091
Hi @djession , There is not accurate time yet, but the `5.0.0-alpha` has been released, I think the `5.0.0-rc` will be soon.

[2021-01-20 08:42] Han-Tang opened #9101 "create a ShardingProxy *.yaml ,How to not restart the service and take effect"
i have a question:  how to create a *.yaml file and take effect when not restart the service.

[2021-01-20 08:47] JiekerTime commented on #9067
@AllrenGao Can you show the configuration file of proxy ? This may help us find the problem.

[2021-01-20 08:51] JiekerTime commented on #9025
Can you describe the problem in more detail ?

[2021-01-20 08:53] jarvisqi opened #9102 "masterRouteOnly changed to primaryRouteOnly ?"
`java
public final class HintManager implements AutoCloseable {

    private static final ThreadLocal<HintManager> HINT_MANAGER_HOLDER = new ThreadLocal<>();

    private final Multimap<String, Comparable<?>> databaseShardingValues = HashMultimap.create();

    private final Multimap<String, Comparable<?>> tableShardingValues = HashMultimap.create();

    private boolean databaseShardingOnly;

[2021-01-20 08:59] JiekerTime commented on #9003
@aBoyNicholas In 5.0.0 apha, if your springboot version is 2.x, you really need to configure datasourse.common. However, under 2.x, you do not need to configure at all.
The datasourse.common will be removed in the future.

[2021-01-20 09:10] wangwenzhao1 commented on #9047
"" in the passed parameter causes

[2021-01-20 09:10] #9047 closed

[2021-01-20 09:10] wangwenzhao1 commented on #9047
"" in the passed parameter causes

[2021-01-20 09:12] wangwenzhao1 commented on #9048
"" in the passed parameter causes

[2021-01-20 09:51] duanzonglong commented on #6759
Hi,this is the whole yaml.

`
schemaName: sharding_wms

dataSources:
  wms_base:
    url: jdbc:mysql://172.172.172.213:3360/scms_wms?useUnicode=true&characterEncoding=UTF8
    username: root
    password: xxxx
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 65
  wms_sd0:
    url: jdbc:mysql://172.172.172.213:3360/wms

[2021-01-20 10:30] tristaZero opened #9104 "More test cases for integration test engine."
More test cases are needed to ensure  integration test engine covers all the scenarios as many as it can.

Here is a todo list to add cases,

1 For tables (Q1)
- [x] Broadcast table
- [ ] Single table
- [ ] DAL

2 For configuration  (Q1)
- [x] Encryption
- [x] Sharding + Encryption
- [x] Encryption + ReplicaQuery
- [x] Sharding + Encryption + ReplicaQuery

3 For governance
- [ ] Zookeeper
  - [ ]

[2021-01-20 11:27] #8579 closed

[2021-01-20 12:05] dongzl commented on #9102
Hi @jarvisqi , which version do you use?

ShardingSphere-jdbc or ShardingSphere-proxy?

[2021-01-20 13:30] lmhmhl commented on #9104
I wanna have a try

[2021-01-20 13:39] sandynz opened #9109 "MySQL InnoDB back-end ShardingSphere-Proxy query result of sql without order by clause is not sorted by primary key ascending"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy with MySQL 5.7.29

### Expected behavior
Sort order is the same as MySQL

### Actual behavior
Result not sorted

### Reason analyze (If you can)
Query sql is not rewritten as `ORDER BY`

### Steps to reproduce the behav

[2021-01-20 14:23] zhang-j-x commented on #9066
yes，rename can solve this problem，but it means that it not supports the database which name contains '_',   sometimes we can not rename the physical database's name.The version i use is 5.0.0-alpha.

[2021-01-21 01:50] JiekerTime commented on #9104
I will do it!

[2021-01-21 01:51] dongzl commented on #9109
Hi @sandynz , I understant that the SQL doesn't have `order by`.

`SELECT * FROM t_order WHERE order_id>=1 AND order_id<=10;`  will get data from `t_order_0` and `t_order_0` and merge the result.

If you want to sort the result, should specify the sort column.

[2021-01-21 01:55] dongzl commented on #9101
Hi @Han-Tang , which version do you use?

I understant if you want to add a new yaml config file, you must restart the proxy.

But you can add config by ShardingSphere-UI, and doesn't need restart proxy.

[2021-01-21 01:57] Han-Tang commented on #9101
i used  sharding proxy 4.x

[2021-01-21 03:28] duanzonglong commented on #6759
Hi,I have solved this problem.
the config is:
defaultDataSourceName: wms_base
and
liquibase.setLiquibaseSchema("wms_base");

[2021-01-21 03:28] #6759 closed

[2021-01-21 03:28] tristaZero commented on #9086
Hi @huanghao495430759 ,

Thanks for your comment. If this issue is duplicate to #8605, maybe we can move our discussion to that one. Still, I will ping @strongduanmu to give it a look since it looks like he is working at your scenario.

[2021-01-21 03:33] tristaZero commented on #9048
Hi @wangwenzhao1 Sorry, I can catch you. Does that mean you locate the cause? Is it really a bug? That way, would you like to raise a PR to fix it?

[2021-01-21 03:50] tristaZero commented on #9066
Hi @zhang-j-x ,

You use Sharding-JDBC Datasource with SpringBoot, don't you?

Let me iterate your case. Please correct me if something is misunderstood,

- The databases in your MySQL instance are named with `-`
- You want to configure the `datasource.names`  with the actual database names
- But there is an exception

Actually, ShardingSphere has no such limitation. Could you give SpringBoot Conf

[2021-01-21 04:06] jingshanglu commented on #9046
@terrymanu @tristaZero How about this?
`[]` : optional
[code]

[2021-01-21 04:07] jingshanglu commented on #9100
@terrymanu @tristaZero How about this?
`[]` : optional
[code]

[2021-01-21 05:40] Linliangkung opened #9115 "4.1.1版本 CONNECTION_STRICTLY 模式下死锁"
AbstractConnectionAdapter.createConnections方法（问题描述在代码块注释中）
[code]

[2021-01-21 05:57] sandynz commented on #9109
Hi @dongzl , that's true, result ordering is not guaranteed if sql without `order by` clause. But it could be a trival enhancement when backend is MySQL InnoDB, respond similar result as MySQL might be a little better.

[2021-01-21 06:12] Linliangkung commented on #9115
我的问题是为什么在CONNECTION_STRICTLY模式下不使用synchronized获取连接，而在MEMORY_STRICTLY模式下会考虑到死锁问题使用synchronized代码块获取连接。在这两个模式下应该都是存在死锁风险。

[2021-01-21 06:30] huanghao495430759 commented on #8605
I see Liang Zhang had fix this issue at 2021-01-18.
`org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSetMetaData#getColumnCount line 52.`
![image](https://user-images.githubusercontent.com/34728144/105297113-fb3a9380-5bf4-11eb-925a-d77162aac642.png)

@tristaZero @iblilife @strongduanmu

[2021-01-21 06:49] #8965 closed

[2021-01-21 06:49] #8883 closed

[2021-01-21 06:58] #9086 closed

[2021-01-21 07:09] tristaZero opened #9117 "[SQL federation] Add unit test for single table joining sharding table"
Hi,

#8284 is still underway. This issue is to add a case in `CalcitePrepareStatementTest` and `CalciteStatementTest` to verify that a `join` SQL with single tables and sharding tables can work well.

The SQL case is like `select sharding_table.*, single_table.*` from sharding_table, single_table where single_table.id = sharding_table.id. This is just an example, and you can add unit tests with an

[2021-01-21 07:12] tristaZero commented on #9117
Hi @lmhmhl ,

Would you like to take charge of this one?

[2021-01-21 07:15] jingshanglu commented on #9027
@lizhuangs Which version do you use?

[2021-01-21 07:15] tristaZero commented on #9104
Hi @lmhmhl ,

Currently, @JiekerTime is taking this one. Do you want to try #9117?
Plus, if you like, I can give more intro about this issue to get you in.

[2021-01-21 07:19] lmhmhl commented on #9117
I'd like to do this. Thx.

[2021-01-21 07:32] lmhmhl commented on #9104
Hi @tristaZero .
Thanks for your comment. You are so nice, may be I am better for another issue9117.

[2021-01-21 07:58] tristaZero opened #9118 "The handling for broadcast in tableMetadata loader is missing"
### How to reproduce?

Remove the comment on these SQL cases below `` in `dql-integration-test-cases.xml` and run `GeneralDQLIT`

### Cause

The handling for broadcast in tableMetadata loader is missing.

[2021-01-21 08:01] jingshanglu commented on #9027
@lizhuangs It has been fixed, new version will be ok.

[2021-01-21 08:20] terrymanu commented on #9115
**For English only**, other languages will not accept.

[2021-01-21 08:20] #9115 closed

[2021-01-21 08:25] Linliangkung commented on #9115
Hi terrymanu!
My English is terrible.Can i send a email to you.I want to konw the answer for the code design.

[2021-01-21 09:23] jarvisqi commented on #9102
The latest version

[2021-01-21 11:11] #9091 closed

[2021-01-21 11:53] YanlongMa opened #9121 "ShardingSphere JDBC 5.0.0-alpha use Etcd config center error"
## Question

config and error info , is jetcd version reason ?

pom.xml
[code]

application.properties
[code]

run , then error info :
[code]

[2021-01-21 12:27] lmhmhl commented on #9117
Hi @tristaZero .
I tested the code, some unexpected error happened as follows:
The most usage info is
Caused by: org.apache.calcite.sql.validate.SqlValidatorException: Column 'item_id' not found in table 'I'.
[code]
I added a sharding table named `t_order_item_calcite_sharding` in database1, and config the sharding rule in the yaml file.
`config-calcite.yaml` is as follows:

[code]
I have debugged

[2021-01-21 13:03] lmhmhl commented on #9117
<img width="1240" alt="Screen Shot 2021-01-21 at 8 57 54 PM" src="https://user-images.githubusercontent.com/24718258/105354468-8f275200-5c2b-11eb-8591-d58bc72460c7.png">

<img width="1003" alt="Screen Shot 2021-01-21 at 8 54 09 PM" src="https://user-images.githubusercontent.com/24718258/105354835-17a5f280-5c2c-11eb-8521-b916b53d34c3.png">

[2021-01-22 03:16] dongzl commented on #9121
Hi @YanlongMa , I test it with `etcd`, it's OK.

I doubt the `grpc` jar conflict cause this problem.

For `grpc`, ShardingSphere's version is `1.27.1`. and your version is `1.33.0`.  You can check them.

[2021-01-22 05:39] YanlongMa commented on #9121
I add dependency in pom.xml
[code]

run，and then error report info，What should I do?
[code]

[2021-01-22 06:29] zhang-j-x commented on #9066
About the second point ,it's not what i want,but ShardingSphere needs to configure the datasource.names with the actual database names.I just want to configure like this
![image](https://user-images.githubusercontent.com/48779230/105454950-b75f9100-5cbd-11eb-815c-cc04e5a47118.png)

[2021-01-22 06:30] tristaZero opened #9127 "`SELECT DISTINCT` SQL fails when useServerPrepStmts=true"
After #9114, the IT engine fails to run well with the `SELECT DISTINCT` SQL. It is necessary to find the cause and fix it.

[2021-01-22 06:39] tristaZero commented on #9127
@JiekerTime Are you interested in this one?

[2021-01-22 06:54] JiekerTime commented on #9127
Hi~ I will check it !

[2021-01-22 08:17] tristaZero commented on #8605
@huanghao495430759 ,

Yep, our IT engines found this bug and we fixed it. If this change is relevant to yours, do you think it is time to close this one?

[2021-01-22 08:27] tuohai666 opened #9128 "Object name is rewritten into actual SQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-22 08:39] tristaZero opened #9129 "Proofread the SQL definition `MERGE` of Oracle database"
### Introduction
[MERGE](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/MERGE.html#GUID-5692CCB7-24D9-4C0E-81A7-A22436DC968F) SQL is made up of many [basic elements](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Expressions.html#GUID-E7A5363C-AEE9-4809-99C1-1A9C6E3AE017) or [keywords](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Ora

[2021-01-22 09:02] tristaZero commented on #9117
Hi @lmhmhl ,

Thanks for your debugging, which help me learn the context of your test. 👍

Could you modify your test sql as the following ones?
[code]

Let us figure out whether `Calcite` does not support table alias. I will try to get the answer in Calcite community synchronously.

[2021-01-22 09:06] ThanoshanMV commented on #9129
Hi @tristaZero, I'll try this one.

[2021-01-22 09:20] dongzl commented on #9121
`No implementation class load from SPI  org.apache.shardingsphere.governance.repository.api.ConfigurationRepository with type etcd.`

It maybe short of jar package.

@YanlongMa , can you provider a github project and reproduce this problem, and I check it.

[2021-01-22 10:10] tristaZero commented on #9066
Got it. Please show me the table rules.

[2021-01-22 10:25] YanlongMa commented on #9121
Hi @dongzl,
I create a repository : `https://github.com/yanlongma/shardingsphere-example`.

repository have a readme, you need create database and table.

[2021-01-22 13:58] lmhmhl commented on #9117
Hi @tristaZero .
Honestly,  I am in puzzlement now, I checked my code and found that something may be wrong in my yaml file. Does the sharding table should be created like follows? However, when I changed my table creating statements in this way, some error happened
`java.lang.RuntimeException: org.h2.jdbc.JdbcSQLException: Table "t_order_item_calcite_sharding" not found; SQL statement
DELETE FROM

[2021-01-22 14:59] zhang-j-x commented on #9066
`#=================分库分表======================
spring:
  shardingsphere:
    props:
      sql-show: true
    #数据库信息
    datasource:
      names: ds1,ds2
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: 123456
      ds1:
        #和 druid整合必须为url
        url: jdbc:mysql://127.0.0.1:3306/shar

[2021-01-22 15:04] zhang-j-x commented on #9066
![image](https://user-images.githubusercontent.com/48779230/105507434-25c84180-5d06-11eb-8345-ea0e620f7587.png)

`
#=================分库分表======================
spring:
  shardingsphere:
    props:
      sql-show: true
    #数据库信息
    datasource:
      names: ds1,ds2
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        usernam

[2021-01-22 15:10] terrymanu commented on #9102
5.0.0-alpha

[2021-01-23 07:05] #9118 closed

[2021-01-23 07:40] terrymanu opened #9135 "Add test case for SingleTableRuleLoader"

[2021-01-23 07:46] terrymanu opened #9137 "Use TestContainer improve integration test engine"
We are using docker-compose maven plugin to manage env of database and ShardingSphere-Proxy.
For flexibility reason, it is better to use TestContainer instead of it.

[2021-01-23 08:03] 1156721874 opened #9138 "how can i use use sharding database and sharding tables and encrypt future?, and how config it ?"
sharding-jdbc-spring-boot-starter
version：4.1.1

[code]

question:
this SpringBootConfiguration  class have 4 DataSources(exists 4 @Bean annotationed method)  will be register into spring container, now i want to use sharding database and sharding tables and encrypt future ，but i view  @Conditional(ShardingRuleCondition.class) ,its implement is that:
[code]

thats means if my configuration is exis

[2021-01-23 08:05] 1156721874 commented on #9138
fix code style

[2021-01-23 08:38] liveonsky commented on #9135
I want to try it

[2021-01-23 18:10] ThanoshanMV opened #9143 "Build fails"
## Bug Report

### Which version of ShardingSphere did you use?
`5.0.0-RC1-SNAPSHOT`

### Actual behavior
Build fails in `shardingsphere-jdbc-core`

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
I executed `./mvnw install` in `shardingsphere`, it failed in `shardingsphere-jdbc-core`.
![sharding](https://user-images.githubuserco

[2021-01-23 18:19] ThanoshanMV commented on #9143
![jdbc-core](https://user-images.githubusercontent.com/48581379/105610381-6c38a180-5dd5-11eb-8386-02f1190321e3.png)
The following error occurred inside `shardingsphere-jdbc-core`

[2021-01-24 03:39] terrymanu commented on #9143
Thank you for reporting, some test cases are error, I will try to investigate it.

[2021-01-24 04:45] #9143 closed

[2021-01-24 06:51] ThanoshanMV commented on #9129
Hi @tristaZero, I'm quite unsure about where (in which target files) to add SQL case and expected parsed result for `MERGE`. I couldn't able to find similar test cases for `MERGE` inside `shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/resources`

[2021-01-24 09:59] GLBB opened #9145 "document about "Parse Engine" has a little error in 5.0.0-RC1-SNAPSHOT"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-01-24 14:52] tristaZero commented on #9117
Hi,

Could you show me the SQLs in `jdbc_init_calcite_1.sql` and  `calcite_data_1.sql`? If I have a correct understanding of your sharding table configuration.

The SQLs in `jdbc_init_calcite_1.sql` look like the following ones,
[code]
And some SQLs are likely to appear in `calcite_data_1.sql`
[code]

[2021-01-24 15:14] arthasking123 commented on #9135
please assign to me

[2021-01-25 06:07] lmhmhl commented on #9117
Hi @tristaZero .
Thanks for your comment,  you do prompt me, I checked my code of `calcite_data_1.sql` and found that I referred to the `jdbc_data.sql` before, which are not clearly appointed which actual table to route when do delete and insert operation. I have a question, why do we need to appoint which sharding table to insert or delete in Calcate test?  however,  in Shariding Sphere statement

[2021-01-25 09:23] JiekerTime commented on #9145
Hi~ @GLBB
Our official website is based on the 5.0.0 alpha version, and the modification of SQLVisitorEngine is a new feature of 5.0.0-RC1-SNAPSHOT. We will update the official website after 5.0.0-RC1-SNAPSHOT is released.
Thanks for your issue.

[2021-01-25 09:58] hebing0625 commented on #3954
hi,

There still has a issue when I try to deal with connect:

`Connection conn = shardingDataSource.getConnection();`
`conn.createArrayOf("int8", new Long[]{1L, 2L, 3L});`

It will throw SQLFeatureNotSupportedException.

I trace the codes and find such snippets in SQLFeatureNotSupportedException.java:

`   @Override
`   public final Array createArrayOf(final String typeName, final Object[] elemen

[2021-01-25 10:31] zhongjiajie commented on #4507
@terrymanu @tristaZero  So, do we support return only encrypt columns for now? And how

[2021-01-25 11:21] #9102 closed

[2021-01-25 11:22] #9101 closed

[2021-01-25 11:26] terrymanu commented on #9057
Just tell your company that community response.
`RC` means release candidate, not for stable version.

[2021-01-25 11:26] #9057 closed

[2021-01-25 11:28] #9043 closed

[2021-01-25 11:30] terrymanu commented on #9025
The title is not make sense, please create an new issue and give it a meaningful title if you want

[2021-01-25 11:30] #9025 closed

[2021-01-25 11:32] terrymanu commented on #9016
No response

[2021-01-25 11:32] #9016 closed

[2021-01-25 11:33] terrymanu commented on #9015
No

[2021-01-25 11:33] #9015 closed

[2021-01-25 11:36] yu199195 commented on #9003
The datasourse.common will be removed in the future.

this is right..

[2021-01-25 11:37] tristaZero commented on #9145
Hi @GLBB ,

You're right, `Parse Engine` supports properties. However, it is still on the master branch and unreleased. We will update the doc once a new release launches.

[2021-01-25 11:37] terrymanu commented on #8964
The exception is throw from hibernate and your own class, can you make clear the problem first?

[2021-01-25 11:52] tristaZero opened #9152 "[SQL federation] Add unit test when encrypt rule, replicaQuery rule and sharding rule all exist"
Hi, community,

This is a little complex issue to add unit test for `SQL federation` when encrypt rule, replicaQuery rule and sharding rule all exist.

### Target files
CalciteStatementTest and CalcitePrepareStatementTest

### How
- Understand `encrypt rule`, `replicaQuery rule` and `sharding rule` (Rule examples in `shardingsphere-jdbc/shardingsphere-jdbc-core/src/test/resources/config` or `examp

[2021-01-25 12:02] lmhmhl commented on #9152
I wanna have a try. Thx.

[2021-01-25 15:04] zhongjiajie commented on #7803
@kimmking Does is support in 5.X-alpha?

[2021-01-26 01:52] jingshanglu commented on #9089
@AllrenGao can you show the logic sql?

[2021-01-26 01:54] menghaoranss opened #9163 "Use mock to instead of TestingServer in CuratorZookeeperRepositoryTest"

[2021-01-26 02:03] hebing0625 opened #9164 "db connection in sharding-jdbc still does not support array type"
hi,

There still has a issue when I try to create array with connection as below:

`Connection conn = shardingDataSource.getConnection();`
`conn.createArrayOf("int8", new Long[]{1L, 2L, 3L});`

A SQLFeatureNotSupportedException will be thrown.

I trace the codes and find such snippets in SQLFeatureNotSupportedException.java:

`@Override public final Array createArrayOf(final String typeName, final

[2021-01-26 02:17] #8605 closed

[2021-01-26 02:55] #9046 closed

[2021-01-26 02:57] dongzl commented on #9121
Hi @YanlongMa , I check your project. This governance config can work well.

[code]

First, should remove this tow config, because we can use `etcd` as `registry center` and  `config center`, doesn't need `additional-config-center` config.

`spring.shardingsphere.governance.additional-config-center.type=etcd`
`spring.shardingsphere.governance.additional-config-center.server-lists=localhost:2379`

[2021-01-26 03:21] tristaZero commented on #9129
Hi @ThanoshanMV ,

Sorry for missing your msg.
Since `MERGE` is a new SQL type, I suggest we create a `merge.xml` in `shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/resources`

[2021-01-26 03:27] tristaZero commented on #9003
Hi @aBoyNicholas
This issue has been open for 14 days. If you got the answer, please close it.
Thanks.

[2021-01-26 03:34] tristaZero commented on #9164
Hi @hebing0625 ,

You're right. ShardingSphere does not implement this interface of JDBC currently.
BTW, have you tried this interface with other database driver, like MySQL or Postgre?

[2021-01-26 04:26] JiekerTime opened #9167 "The official document hyperlink is incorrect"
All "Edit this page" in [elastic's official documents](https://shardingsphere.apache.org/elasticjob/current/en/overview/) will jump to the ShardingSphere address.
![image](https://user-images.githubusercontent.com/76552510/105800332-5816b080-5f4b-11eb-8aba-da1be1c6e41e.png)
![image](https://user-images.githubusercontent.com/76552510/105800331-5816b080-5f4b-11eb-8ddb-5db95b57eb6e.png)

[2021-01-26 04:27] YanlongMa commented on #9121
Hi @dongzl , I try this config, it can work well. 3Q

But i have a question, use config center , why need remove these config?
[code]

[2021-01-26 05:55] ThanoshanMV commented on #9129
Hi @tristaZero,

The count of SQL cases and SQL parser cases are mismatched when I try to run `OracleParserParameterizedTest`. I tried to write a basic one to ensure all okay but it's not considering my new case which is written inside `merge.xml`. Are there any configurations we need to do here?

I've attached the error for your consideration.
![merge-error](https://user-images.githubusercontent.

[2021-01-26 06:00] ThanoshanMV commented on #9129
Here are the basic codes inside sql and in case files:

![merge-sql](https://user-images.githubusercontent.com/48581379/105806277-a9658500-5fc9-11eb-9d3e-15a0fb3a10e1.png)
![merge-case](https://user-images.githubusercontent.com/48581379/105806317-c0a47280-5fc9-11eb-9da3-d5d14ba7f9a5.png)

[2021-01-26 06:31] tristaZero opened #9168 "[RDL] Support create/alter multiple bindTable groups"
`CREATE/ALTER SHARDING RULE` supports multiple bindTable groups by the following RDLs.

[code]

[2021-01-26 06:39] jingshanglu commented on #9168
Now, `CREATE/ALTER SHARDING RULE` has supported multiple bindTable groups, like this:
[code]

[2021-01-26 07:44] dd01panqinglong opened #9169 "sharding-proxy version"
sharding-proxy 4.1.1 is can support mysql version is 8.0？

[2021-01-26 08:37] djession commented on #9087
`yaml
#governance:
#  name: governance_ds
#  registryCenter:
#    type: etcd
#    serverLists: http://192.168.183.132:2379
#    props:
#      retryIntervalMilliseconds: 500
#      timeToLiveSeconds: 60
#      maxRetries: 3
#      operationTimeoutMilliseconds: 500
#  overwrite: false

authentication:
  users:
    root:
      password: root
    sharding:
      password: sharding
      authorizedSche

[2021-01-26 08:49] ttttiny commented on #8314
这个问题咋样了0.0

[2021-01-26 11:01] chenkuig opened #9173 "it parse incorrectly with both ”in“ and "between" keyword for the same column in a sql statement"
###logging  Actual SQL :
select id,tenant_id,state,type_code,type_name,top_flag,deadline_time,creater_id,creater_name,creater_position,create_time,publisher_id,publisher_name,publisher_position,publish_time,title,content,media_files  FROM t_proclamation1
WHERE (tenant_id IN (?,?) AND tenant_id BETWEEN ? AND ? AND create_time BETWEEN ? AND ?) ::: [1001, 2001, 1000, 3000, 2020-12-29 12:12:00, 2021-2

[2021-01-26 13:36] huanghao495430759 opened #9175 "SingleTableRule does it mean table must be in only one database ?"
SingleTableRule does it mean table must be in only one database ?
if that is true, and how to config any unconfigured tables what's in all sharding database ?  use  broadcast-tables ?

[2021-01-26 15:24] nrg1982lixi opened #9177 "An error of pagination"
When I was using pagination, sharding-jdbc throw an exception, didn't sharding-jdbc support sub-query?
database: Oracle
sharding-jdbc version: 4.0.1

### SQL: SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM ( select * from MY_TABLE ) TMP WHERE ROWNUM <=?) WHERE ROW_ID > ?
### Cause: java.lang.IllegalStateException: Must have sharding column with subquery.

[2021-01-27 01:47] Simbafa commented on #8903
Hi @tuohai666 ,
Sorry to bother you. But this issue affect us much.
When do you plan to check this issue?
Thank you very much.

[2021-01-27 03:10] lolashe opened #9180 "sharding integration seata 1.2.0 report error"
## Bug Report
shardingsphere 4.1.0
seata 1.2.0

mysql table:

CREATE TABLE `cp_d_product` (
  `id` bigint NOT NULL COMMENT '主键',
  `mch_id` bigint NOT NULL COMMENT '商户id',
  `product_no` bigint NOT NULL COMMENT '产品编号',
  `product_name` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT '产品名称',
  `spu` int NOT NULL COMMENT '库存',
  `create_time` datetime NOT NULL COMM

[2021-01-27 03:21] hebing0625 commented on #9164
Do you have plan to support it in future?

[2021-01-27 03:32] tristaZero commented on #9169
I think so since our SQL definitions of SQLParser refer to 8.0

[2021-01-27 03:37] tristaZero commented on #9173
Which version is running? FYI. https://shardingsphere.apache.org/document/current/en/features/sharding/concept/sharding/

[2021-01-27 03:39] tristaZero commented on #9175
Yep.

No need for the configuration of single table rules since SS will load all these single tables.

[2021-01-27 03:40] tristaZero commented on #9177
Hi @nrg1982lixi
4.0.1 does not support subquery well, I suggest  you try a updated release.

[2021-01-27 03:48] tristaZero commented on #9164
Hi,

I am unsure now. We definitely want to have excellent support for JDBC Driver. However, there are so many features to do currently. Also,  there are many contributors willing to have a try to fix it. That's why I ask your interest. Benefit yourself and others.

[2021-01-27 04:00] daiyunqing commented on #8571
检查下配置 algorithm-expression: 中的算法列 与sharding-column: 列一致不

[2021-01-27 04:18] terrymanu commented on #9168
How about

[code]

[2021-01-27 04:21] chenkuig commented on #9173
version:
 <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>4.1.1</version>
  </dependency>

[2021-01-27 05:10] tristaZero commented on #9129
Hi @ThanoshanMV ,

Since `merge` is a new SQL type, we plan to create a `merge.xml`, right? Correspondingly we still need to define which parts of this SQL need assertion, like `tableName`, `columnType` etc.

Therefore, after creating `merge.xml`, it is necessary to define `@XmlElement(name = "merge")` in `SQLParserTestCases` to tell `SQLParserTestCasesRegistry` to load your new `sql-parser-test-c

[2021-01-27 05:22] #8927 closed

[2021-01-27 05:29] JiekerTime opened #9185 "COUNT may have an out-of-bounds exception"
The logic of COUNT() seems to be in GroupByMemoryMergedResult.setAggregationValueToMemoryRow, and the way to get the result here seems to be to call the getResult method：
![716041eea1ef12661c24bab527c70d4](https://user-images.githubusercontent.com/76552510/105947026-338b0900-601d-11eb-890c-c0ad3ae5e1c6.jpg)
The logic of size is based on HashSet, and its return type is int type.：
![image](https://u

[2021-01-27 06:39] 13998475189 opened #9187 "Sharding JDBC4.1.1 integration mybatis3.5.4 localdatetime type cannot be resolved"
When querying sharding JDBC 4.1.1 integration mybatis 3.5.4, there is a time type field of localdatetime in the return value set, and an error is reported.

After research, this error is that mybatis version 3.5.4 calls the GetObject method to process the localdatetime time time lattice, while sharding JDBC version 4.1.1 does not implement the processing of this object. I hope the official will re

[2021-01-27 07:41] ThanoshanMV commented on #9129
Okay @tristaZero, I'll try to do it.

[2021-01-27 10:52] #9109 closed

[2021-01-27 11:24] JiekerTime commented on #9127
When you use Proxy and add the useServerPrepStmts=true parameter to the URL, as long as the form of SUM() or COUNT(A+B) is used, it will cause a forced transfer exception at the bottom layer.

[2021-01-27 11:27] wuwenrui commented on #650
[ShardingSphere-Proxy搭建过程](https://zhuanlan.zhihu.com/p/347402794)

[2021-01-27 11:29] JiekerTime commented on #9127
When you use Proxy and add the useServerPrepStmts=true parameter to the URL, as long as the form of SUM() or COUNT(A+B) is used, it will cause a forced transfer exception at the bottom layer.
For specific proxy configuration, please refer to shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/env/db/rules.yaml
SQL statement reference "SELECT

[2021-01-27 11:31] sandynz commented on #9127
I found a similar problem when PR integration test, e.g. `Integration Test / MySQL-Proxy with DB`, part of error output:
[code]

Steps to reproduce on local environment:

1, Prepare configurations for proxy, copy config files from `shardingsphere-integration-test-suite/src/test/resrouces/docker/db/proxy/conf/` into `shardingsphere-proxy-bootstrap/src/main/resources/`
- copy `config-db.yaml` into `

[2021-01-27 11:56] lmhmhl commented on #9152
Hi @tristaZero.
I have configured my `yml` file, but I encountered some troubles, I check my `yml` many times, and rewrite it, but it still doesn't work. I would be very glad if you can give me some advice.

[code]
[code]

[2021-01-27 12:34] JiekerTime commented on #9187
Hi~ @13998475189
Can you give more detailed information? For example, how do you configure JDBC, and what is the specific code logic?

[2021-01-27 13:35] #9127 closed

[2021-01-27 13:36] tuohai666 commented on #9127
Got it. Thanks for the details.

[2021-01-27 14:17] wxq851685279 commented on #8964
Need to manually set the primary key

[2021-01-27 15:14] MikelPan opened #9193 "sharding-proxy 5.0 not can running"
sharding-proxy 5.0.0-alpha is not running ?

Exception in thread "main" java.lang.NullPointerException
	at org.apache.shardingsphere.infra.metadata.model.physical.model.table.PhysicalTableMetaDataLoader.load(PhysicalTableMetaDataLoader.java:50)
	at org.apache.shardingsphere.sharding.metadata.ShardingMetaDataLoader.load(ShardingMetaDataLoader.java:84)
	at org.apache.shardingsphere.sharding.metadata

[2021-01-27 15:37] sandynz commented on #3954
Hi @hebing0625 , you're right, `conn.createArrayOf` is not supported for now, and it's not easy to support it.
There is a workaround, use `java.sql.PreparedStatement.setObject`, e.g. `statement.setObject(1, new long[]{1, 2, 3})`.

The supported primitive array type:
[code]
More details refrence PG JDBC driver: `PgPreparedStatement.setObject` and `PrimitiveArraySupport.isSupportedPrimitiveArray`.

[2021-01-28 02:05] djession commented on #9087
i've been resloved this issue.
if use mysql-cli connect sharding-proxy must use parameter '-A ',eg:
`mysql -P3307 -h192.168.1.1 -uroot -p -A`

[2021-01-28 02:05] #9087 closed

[2021-01-28 02:12] djession commented on #9089
@AllrenGao  i've been resloved this issue.when you connect sharding-proxy with mysql-cli must use   '-A',eg: mysql -P3307 -h192.168.183.132 -uroot -p -A

[2021-01-28 02:18] huanghao495430759 commented on #9135
Is there any updates of this issue?

[2021-01-28 02:34] liveonsky commented on #9135
There is currently no update.It takes a long time to download master.zip.
I'm looking at the singleTableRuleLoader.java class.
I have no application development foundation. Is there any other test reference for me.
thank you!

[2021-01-28 02:55] liveonsky commented on #9135
I understand that I need to create a "single" directory  in the "/shardingsphere/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-common/src/test/java/org/apache/shardingsphere/sharding/rule"
”, and then create the “SingleTableRuleLoaderTEST.java” Class.

[2021-01-28 03:09] huanghao495430759 commented on #9135
@liveonsky
does you have gitee[https://gitee.com/] account ?
you can try faster way to download ss  repositories :
`
1.fork apache/shardingsphere to your github repositories,
2.use your gitee account and sync your shardingsphere project,
3.clone shardingsphere from gitee repositories to your local development env.
`

[2021-01-28 04:03] tristaZero commented on #9193
Hi, could you firstly start Proxy with the example yaml configuration?
It is senseless to say proxy can run but we still need more detail to verify there is a bug or not.

[2021-01-28 04:25] huanghao495430759 commented on #9135
@liuyueve
I have no any idea to U. but I think U must be understond SingleTableRuleLoader what it do first.
and maybe you can read

`
org.apache.shardingsphere.infra.metadata.schema.builder.loader.TableMetaDataLoaderTest
org.apache.shardingsphere.infra.metadata.schema.builder.loader.SchemaMetaDataLoaderTest
`
learn how to mock DataSource to load table metadatas.

[2021-01-28 06:14] #8351 closed

[2021-01-28 06:32] Leovoc opened #9198 "sharding-proxy 5.0 Configuration preciseAlgorithmClassName error"
Hi,In sharding - proxy configuration in 5.0 the custom rules of depots, look at the journal quoted: "Unable to find the property 'preciseAlgorithmClassName on class: org. Apache. Shardingsphere. Sharding. Yaml. Config. The strategy. The sharding. YamlStandardShardingStrategyConfiguration".Same configuration I can be in the sharding - proxy4.1 version, whether preciseAlgorithmClassName configuratio

[2021-01-28 06:37] lmhmhl commented on #9152
Hi @tristaZero.
Honestly, I don't know how to configure the yml file, specifically, I don't know how to combine the sharding rule, and encrypt rule in one table.  It seems that It doesn't work like following code snippet , and I look up all the examples, and there are no yml file consist of the combination of sharding rule and encrypt rule, so I am wondering what does the yml file should looks lik

[2021-01-28 06:58] liveonsky commented on #9135
thanks!

[2021-01-28 07:06] liveonsky commented on #9135
Thanks！Steps 1 and 2 have been completed, and 3 always fails. My source code has been downloaded successfully, now I am reading and trying to add the test.

[2021-01-28 07:09] liveonsky commented on #9135
Thank you for your advice！

[2021-01-28 07:54] LHRH opened #9201 "no viable alternative at input 'offline'"
## Bug Report

add mysql keyword offline to unreservedWord

[2021-01-28 08:59] JiekerTime opened #9204 "Encountered the "Single table conflict" problem when "dbtbl_with_replica_query""
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Proxy server started

### Actual behavior
Single table conflict, there are multiple tables `t_single_table` existed.

### Reason analyze (If you can)
The Single tables of the master and the slave are both loaded

[2021-01-28 09:03] JiekerTime commented on #9201
Hi~ @LHRH!
 If possible, please give more detailed information, such as your configuration information and business logic. This will help us find the problem quickly. thank!

[2021-01-28 10:24] SunJiFengPlus opened #9209 "How to deal with table not exist gracefully"
## Question

After I split the table, I will encounter the table not exist exception when querying. I don't want to catch and handle this exception in the business. Is there any good way to deal with this situation?

For example I have these tables: ```order2020-02```, ```order2020-03```

and i want to execute this sql
[code]
I will get an exception

[2021-01-28 11:34] huanghao495430759 commented on #9175
if I have 2 database as follow:

	user_0
	table_a
	table_b

	user_1
	table_a
	table_b

table[user] is a sharding table rule like:

	logicTable: user
	actualTables: user_0,user_1

and I also have any tables : table_a,table_b,..... in both of all database,they are looks like broadcast table,and how to configuration of them ? it looks like onply one way to configuration of them with broadcast-tables,

[2021-01-28 13:34] tuohai666 commented on #8903
@Simbafa What kind of transaction of Proxy?
Please show the full server.yaml and config-.*.yaml.
Set sql.show: true and provide logs with more details.

[2021-01-29 01:01] Simbafa commented on #8903
![error](https://user-images.githubusercontent.com/37646009/106217597-84168800-6210-11eb-83f7-c0c3982760c5.jpg)

[2021-01-29 01:02] Simbafa commented on #8903
config-sharding.yaml
[code]

[2021-01-29 01:03] Simbafa commented on #8903
server.yaml

[code]

[2021-01-29 01:17] terrymanu commented on #9169
Can you change the title for search friendly?

[2021-01-29 01:19] terrymanu commented on #9201
What is your version?

[2021-01-29 01:19] Simbafa commented on #8903
output:
[code]

[2021-01-29 01:21] terrymanu commented on #9198
Can you follow example for the correct version?

[2021-01-29 01:31] LHRH commented on #9201
4.1.1

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月29日(星期五) 上午9:19
收件人:&nbsp;"apache/shardingsphere"<shardingsp

[2021-01-29 02:11] LHRH commented on #9201
mysql-version:8.0
shardingsphere:4.1.1

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年1月29日(星期五) 上午9:19
收件人:&nbsp;"

[2021-01-29 02:27] tristaZero commented on #650
Hi @wuwenrui @dafanzhi @JiekerTime @lzn-black @xuup

Thanks for your blogs to help users learn more about Apache ShardingSphere.
Have a good day.

[2021-01-29 02:35] tristaZero commented on #9175
Hi,

Our question is how to configure `broadcast table` or `single table`?
`single table` means there is only one table x in all the data sources managed by ShardingSphere. Therefore the `IllegalStateException` throws up in your case.

[2021-01-29 03:00] jingshanglu commented on #9168
@terrymanu @tristaZero When create sharding rule, you can use multiple `binding_table`. When alter sharding rule, what is the meaning of using multiple `binding_table`?

[2021-01-29 03:08] jingshanglu commented on #9168
@terrymanu @tristaZero It is recommended to keep the status. when create or alter, the bindingTableGroup will be created or modified.

[2021-01-29 05:18] tristaZero commented on #9168
Hi, @jingshanglu ,
Thank for feedback.

here are two ways to figure out this issue,
[code]

What do you think?

[2021-01-29 05:34] JiekerTime opened #9216 "The integration test framework needs to add the initialization function of H2's single table"
First, it is clear that the single table needs to create a unique table in databases.

The logic of H2 loading init.sql is located in DatabaseEnvironmentManager.executeInitSQLForSchemaNotSupportedDatabase.

The execution logic here is to load init.sql once with each data source.
![image](https://user-images.githubusercontent.com/76552510/106235689-06229480-61b0-11eb-8ff4-e991f4efea41.png)
If you s

[2021-01-29 06:35] terrymanu commented on #9168
I prefer add rule id for each bind rule, it is similar with original SQL
By the way, the SQL ALTER should add operation type, such as `ADD, MODIFY, DROP`. For example:

[code]

[2021-01-29 07:08] tristaZero commented on #9168
After a brief discussion, here is the final conclusion,
[code]

[2021-01-29 07:14] terrymanu commented on #9168
Cool, it is better, we do not need to change our SQLStatemtnt domain.

[2021-01-29 08:03] tuohai666 commented on #8903
It seems like the 1st SQL (2 in total) locked the rows and it lead to the 2nd SQL fire a timeout Exception. The Exception burst 50 seconds (innodb_lock_wait_timeout) after execution.
Can you tell me whether fid is the key? Or how many rows will return for this SQL?
What the return result looks like? And how your test codes process the  ResultSet?

[2021-01-29 08:14] terrymanu commented on #9216
H2 will remove soon, we can close this issue

[2021-01-29 08:14] #9216 closed

[2021-01-29 08:32] fengchao-GitHub opened #9218 "10002 _ 2Unknown exception [Can not route tables for '[ENGINES]', please make sure the tables are in same schema"
version: sharding proxy 5.0.0

yml:

schemaName: sharding_db

dataSourceCommon:
  username: root
  password: 123456
  connectionTimeoutMilliseconds: 30000
  idleTimeoutMilliseconds: 60000
  maxLifetimeMilliseconds: 1800000
  maxPoolSize: 50
  minPoolSize: 1
  maintenanceIntervalMilliseconds: 30000

dataSources:
  ds1:
    url: jdbc:mysql://192.168.255.115/testdb1?serverTimezone=UTC&useSSL=false&ch

[2021-01-29 08:51] fengchao-GitHub opened #9219 "Table 'testdb1.t_order' doesn't exist"
version: sharding proxy 4.1.1

config-sharding.yml:

schemaName: sharding_db

dataSources:
  ds1:
    url: jdbc:mysql://192.168.255.115/testdb1?serverTimezone=UTC&useSSL=false&characterEncoding=utf8
    username: root
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
  ds1_slave:
    url: jdbc:m

[2021-01-29 09:13] JiekerTime commented on #9219
Hi @fengchao-GitHub ~
Could you try whether other statements are effective? Such as "select * from t_order" or "SELECT COUNT(*) FROM t_order".
Or could you try to check the proxy status by viewing the proxy log?

[2021-01-29 10:18] tuohai666 commented on #9128
The exception is caused by incorrect config.

[2021-01-29 10:18] #9128 closed

[2021-01-29 10:23] Simbafa commented on #8903
It's not that the 1st SQL blocked 2nd SQL.
If the client threads < acceptor.size, the tests can run correctly.
The most important thing in this test case is that "CLIENT THREADS > ACCEPTOR.SIZE"

Which field is the key has no matter to this issue.
In your test, you can pick any field as the key.

In my test case,  only one row will be returned for the SQL.
[code]

[2021-01-29 10:37] #9204 closed

[2021-01-29 10:44] jingshanglu commented on #9201
@LHRH Plz use 5.0.0.

[2021-01-29 11:56] tristaZero commented on #9152
Hi @lmhmhl ,

ShardingSphere has the capacity to handle sharding, encryption, replicaQuery scenarios together. I know it is a little hard to understand, but this issue is still an excellent way to help you learn more about this project.

Let us simplify this job firstly. Do you think it is possible to prepare a `sharding-replica-query.yaml` to cover sharding and replicaQuery scenario for SQL feder

[2021-01-29 13:22] messi2094 opened #9224 "Error querying database. Cause: java.lang.NullPointerException"
[code]

[2021-01-29 14:49] juaby opened #9226 "In order to improve the quality of integration testing, we want to introduce embedded MySQL."
In order to improve the quality of integration testing, we want to introduce embedded MySQL.
We use H2 very well! H2 affects the quality of the tests and is not fully compatible with the functionality of the database that covers the major vendors.
Why not use containerization? Because containerization requires a containerized environment, it cannot meet everyone's demands, but embedded can solve t

[2021-01-29 14:50] #9145 closed

[2021-01-29 17:46] tuohai666 commented on #8903
@Simbafa You are right, it's because only 1 (ACCEPTOR.SIZE: 1) thread executing between two transactions. One of the transaction occupy the row but not commit, then the thread execute another transaction which will not go on due to updating the same row, the thread will be blocked and all the two transactions will not commit. I have found the root cause and will fix it in several days. Before that

[2021-01-30 09:39] AI1186780944 opened #9228 "How can shardingsphere use read-write separation and data desensitization at the same time?"
## Question
How can shardingsphere use read-write separation and data desensitization at the same time?

the version:sharding-jdbc:4.1.1

In actual use, I found that if the configuration of read-write separation and data desensitization is added at the same time, the bean of "platformtransactionmanager" class cannot be found. The reason is that "encrypydatasource" and "masterslavedatasource" are g

[2021-01-30 16:02] #9226 closed

[2021-01-31 03:55] sandynz commented on #9000
Hi @tuohai666 , I'll try to fix it

[2021-01-31 08:37] changelzj commented on #994
亲测可行！应该就是每个数据源必须使用各自对URL的变量命名

[2021-01-31 08:37] changelzj commented on #994
亲测可行！应该就是每个数据源必须使用各自对URL的变量命名

[2021-01-31 09:11] fengchao-GitHub commented on #9219
"select * from t_order" and "SELECT COUNT(*) FROM t_order" is effective

[2021-01-31 11:45] jackyLqq opened #9235 "Sql hint support"
### database hint

Specify a data source to execute physical SQL

[code]

? mean datasourtceName

### sharding value hint

Route by sharding value,Only supports standard routing,Sharding conditions will be ignored.

[code]

 ? mean sharding value

### limitations

1. only support DQL Sql of mysql
2. Single-line comments are not supported like /* */

[2021-01-31 13:11] sandynz commented on #5386
I tested it on ShardingSphere-Proxy 5.0.0-RC1-SNAPSHOT(commit: 2770484c6a0a13d8401eb309d0dac38c373a4c30), proxy side has SQL parsing exception:
[code]

The executed SQL was intercepted on client:
[code]

The client exception:
[code]

[2021-02-01 02:48] tristaZero commented on #9228
Hi @AI1186780944 ,

Thanks for your feedback. The doc needs to provide mixed configuration examples for users. You're right; it is possible to do Encryption and MasterSlave together.
I just wonder whether your configuration works well?

[2021-02-01 02:53] tristaZero commented on #9218
Hi `ENGINES` is a table?

[2021-02-01 02:58] tristaZero commented on #9209
Hi @SunJiFengPlus ,

Which version is using?

Suppose you don't want to create a table named `order2020-02`. In that case, another way is to implement the `shardingAlgorithm` interface to ignore some certain `shardingValues` in purpose.

[2021-02-01 04:42] tristaZero opened #9240 "No schema checking when execute a `select * from` SQL"
### Version
Master branch

### Product
ShardingProxy

### Test process

[code]
### Issue point
There is no checking for `schema` when executing this query.

### Expected result
An exception is thrown up when a `select` query is executed ahead of `use db`;

[2021-02-01 04:56] SunJiFengPlus commented on #9209
Thank you for your reply, i uss sharding-jdbc-core:4.0.0-RC1.

I don't want to ignore some certain shardingvalues, but I'm not sure whether the current shardingvalues routing table exists. If the table doesn't exist, I don't want to throw an exception, I hope it can customize an empty collection to return.

For example I have these tables: ```order2020-02```, ```order2020-03```

i didn't know the

[2021-02-01 05:32] #9000 closed

[2021-02-01 06:16] YuLoving opened #9242 "ShardingSphere4.1.1 NotSupported localDateTime"
question 1:  localDateTime SQLFeatureNotSupportedException: getObject with type

I want to know if subsequent versions will support it？

[2021-02-01 06:19] wangzhuangwei opened #9243 "sharding-jdbc 4.1.1性能压测不理想，单表单库TPS为集成sharding-jdbc的10倍以上"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-02-01 06:38] fengchao-GitHub commented on #9218
yes it is a table in database 'information_schema'
![image](https://user-images.githubusercontent.com/64132316/106423304-25187380-649b-11eb-985f-3d5441f35428.png)

[2021-02-01 06:52] AI1186780944 commented on #9228
Hi @tristaZero
Thanks for your feedback. The configuration doesn't work.Your code implementation logic doesn't support this kind of collocation.The reason is that there are two data sources:"encrypydatasource" and "masterslavedatasource".They are created by two DataSourceFactory.Because there are two DataSourceFactory, two transaction managers are generated. This will make the spring container not

[2021-02-01 07:01] tuohai666 commented on #9242
Duplicated with https://github.com/apache/shardingsphere/issues/6166.

@YuLoving 5.0.0-alpha will support it.

[2021-02-01 07:01] #9242 closed

[2021-02-01 07:03] tuohai666 commented on #9243
**For English only**, other languages will not accept.

[2021-02-01 07:03] #9243 closed

[2021-02-01 07:20] ananlittlebaby opened #9247 "postgres jdbc setAutoCommit(false) cause exception"
### Which version of ShardingSphere did you use? shardingsphere-proxy 4.1.1,it also happens at  5.0.0-alpha   version.

myApp(jdbc) -->  shardingsphere-proxy   -->  PostgreSQL 12.5, compiled by Visual C++ build 1914, 64-bit

`<dependency>`
 `           <groupId>org.postgresql</groupId>`
  `          <artifactId>postgresql</artifactId>`
   `         <version>42.2.18</version>`
` </dependency>`

jav

[2021-02-01 08:36] wangzhuangwei opened #9250 "sharding-jdbc optimization"
Before sharding JDBC4.1.1 was used, the TPS of a single database was more than 10000. After sharding, the TPS of a single database can only reach 1500. It is divided into 10 warehouses, each of which stores three weeks' data, 64 tables per week and 192 tables per warehouse，Is there any optimization method?

[2021-02-01 08:44] tuohai666 commented on #9247
Duplicated with https://github.com/apache/shardingsphere/issues/5626.

[2021-02-01 08:44] #9247 closed

[2021-02-01 08:46] tuohai666 commented on #9250
@wangzhuangwei Please fill in the template.

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submi

[2021-02-01 08:51] huanghao495430759 commented on #9175
HAHA,My question is I have many same table[ A ,B, C, D .....] in  all the data sources managed by ShardingSphere,I must be configuration all of them with broadcast tables rules,but I dont't want to do that.

[2021-02-01 08:56] wangzhuangwei commented on #9250
@tuohai666 Added

[2021-02-01 09:11] huosenyuan opened #9252 "jpa+hsql ; no viable alternative at input 'boolean' ; no viable alternative at input 'time'"
When the springboot project starts, JPA automatically creates a table and prompts for unsupported field types;
line 5:13 no viable alternative at input 'boolean'

[2021-02-01 09:18] wangzhuangwei commented on #9250
Before sharding JDBC4.1.1 was used, the TPS of a single database was more than 10000. After sharding, the TPS of a single database can only reach 1500. It is divided into 10 warehouses, each of which stores three weeks' data, 64 tables per week and 192 tables per warehouse，Is there any optimization method?

[2021-02-01 09:28] tuohai666 commented on #9250
What's the sharding key and what's  the SQL?

[2021-02-01 09:30] tuohai666 commented on #9252
Please fill in the template:

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because w

[2021-02-01 09:36] wangzhuangwei commented on #9250
The JSON object is parsed and divided into 10 matching objects and 1 detail object, which are respectively dropped into the matching table and detail table. The matching table uses two columns as the key of the sub-table, and the detail table uses one column as the key of the sub-table for data insertion.

[2021-02-01 09:50] tuohai666 commented on #9250
It's not easy to understand. Can you provide the sharding key + sharding algorithm and the SQL directly?

[2021-02-01 09:58] 414135289 opened #9255 "encrypt-rule does not support "not in" conditional column"
version 4.0.0

When I used encrypt-rule for data encryption, I found a problem.When I use the "not in" condition to query the encrypted column, the component will not automatically encrypt the query field. From the source code,I found that there is no "not in" query condition in the SQLStatement object returned by the parse method of the SQLParserEngine class.

For example：

    @Test
    public v

[2021-02-01 10:00] wangzhuangwei commented on #9250
spring.shardingsphere.sharding.default-data-source-name = ds_service
spring.shardingsphere.sharding.default-database-strategy.standard.sharding-column = chain_value_crc
spring.shardingsphere.sharding.default-database-strategy.standard.precise-algorithm-class-name = com.sharding.algorithm.DatabasePreciseShardingAlgorithm
spring.shardingsphere.sharding.tables.click.actual-data-nodes = ds_service${0.

[2021-02-01 10:02] wangzhuangwei commented on #9250
insert into `click_0_0` (`id`, `app_id`, `uid`, `chain_type`, `chain_value`, `chain_value_crc`, `click_time`, `create_time`, `update_time`) values('13','100','671601485913522176','1','d071877438586ac6c61f319f065b0529','2294368112819423690','1611727572000','2021-01-27 14:24:31','2021-01-27 14:24:31');

[2021-02-01 10:05] tuohai666 commented on #9250
click_0_0 is logic SQL or actual SQL?

[2021-02-01 10:05] wangzhuangwei commented on #9250
public class ClickTableComplexShardingAlgorithm implements ComplexKeysShardingAlgorithm<Long> {

    @Override
    public Collection<String> doSharding(Collection<String> availableTargetNames, ComplexKeysShardingValue<Long> shardingValue) {
        try {
            Long startTime = SystemClock.getInstance().getCurrentTime();
            Set<String> availableTargetNameList = new HashSet<String>();

[2021-02-01 10:05] wangzhuangwei commented on #9250
it's actual SQL

[2021-02-01 10:08] wangzhuangwei commented on #9250
With Sharding-JDBC, even if I write the tables and libraries dead, the performance still doesn't improve

[2021-02-01 10:13] tuohai666 commented on #9250
Do you use PreparedStatement? If so, can you provide the codes?

[2021-02-01 10:18] tuohai666 commented on #9250
I have read the algorithm, there's range value. How many tables will be routed for one logic SQL?

[2021-02-01 10:19] wangzhuangwei commented on #9250
public boolean clickPartitionAdd(List<ClickSharding> shardings) {
        for (ClickSharding sharding : shardings) {
            namedJdbcDao.insert(sharding);
        }
        return true;
    }

[2021-02-01 10:21] wangzhuangwei commented on #9250
@Data
@Entity
@Table(name = "click")
@NoArgsConstructor
@AllArgsConstructor

[2021-02-01 10:21] tuohai666 commented on #9250
These codes can't indicate the SQLs are executed by PreparedStatement.

[2021-02-01 10:23] wangzhuangwei commented on #9250
public BaseSqlBuilder(JdbcFrameWork jdbcFrameWork) {
        this.jdbcFrameWork = jdbcFrameWork;

        switch (this.jdbcFrameWork) {
            case SPRING_JDBC:
            case HIBERNATE:
                placeholderPrefix = ":";

                break;
            case MYBATIS:
                placeholderPrefix = "#{";
                placeholderSuffix = "}";
                break;

[2021-02-01 10:26] wangzhuangwei commented on #9250
EntityMapper<?> entityMapper = MappingBuilder.ME.getTableMapper(object.getClass());
        String tableName = entityMapper.getTableName(object);
        StringBuilder tableSql = new StringBuilder();
        StringBuilder valueSql = new StringBuilder();

        tableSql.append("insert into ").append(tableName).append("(");

        valueSql.append("values(");

        boolean allFieldNull = true;

[2021-02-01 10:30] huosenyuan commented on #9252
use ShardingSphere-JDBC;
springboot 2.2.2.RELEASE
[code]
jpa sql is
[code]
error: no viable alternative at input 'boolean'

[2021-02-01 10:34] tuohai666 commented on #9250
Can you find out is there any #{} or ${} in your mapper?

[2021-02-01 10:48] wangzhuangwei commented on #9250
Actual SQL: ds_themis_service9 ::: insert into click_1_5(app_id, uid, click_time, chain_type, chain_value, chain_value_crc, create_time, update_time) values(?, ?, ?, ?, ?, ?, ?, ?) ::: [1235393433, 673044035337723904, 1612072603320, 8, vivoxplay5a|5.1.1|106.8.242.221, 2719662132958632361, 2021-01-31 13:56:42.0, 2021-01-31 13:56:42.0]

[2021-02-01 10:49] wangzhuangwei commented on #9250
insert into click(app_id, uid, click_time, chain_type, chain_value, chain_value_crc, create_time, update_time) values(:appId, :uid, :clickTime, :chainType, :chainValue, :chainValueCrc, :createTime, :updateTime)

[2021-02-01 11:34] tuohai666 commented on #9250
1. Use PreparedStatement will cache the parse result and improve the performance. I'd suggest never use Statement for high SQLs.
2. If you'd like to compare the TPS. Please confirm one actual SQL for a logic SQL. If not so, there's nothing to be compared.

[2021-02-01 11:41] GLBB commented on #9135
@liveonsky  Are you still in work for the issue? I want to complete issue to familiar project

[2021-02-01 11:55] jingshanglu commented on #9252
It has been fixed, plz use 5.0.0.

[2021-02-01 15:05] #9121 closed

[2021-02-02 02:11] huosenyuan commented on #9252
Whether version 5.0.0 can be released to Maven central warehouse cannot be updated

[2021-02-02 02:52] tristaZero commented on #9255
Hi @414135289 ，

You're right, Ver 4.0.0 does not support the query with `not in` condition.

Hi @jingshanglu Do we parse `not in` condition into `SQLstatement` in our 5.0.0-alpha Version?

[2021-02-02 03:28] jingshanglu commented on #9255
@414135289 @tristaZero It's already supported in version 5.0.0-alpha.

[2021-02-02 03:30] jingshanglu commented on #9252
@huosenyuan you can use 5.0.0-alpha version.

[2021-02-02 03:36] #9100 closed

[2021-02-02 04:05] tristaZero commented on #9228
@AI1186780944 ,

Yep, Ver 5.0.0-alpha supports creating a logic `Datasource` to leverage `sharding`, `encryption`, and `replicaQuery` together. We will provide some of the mixed configuration examples in the document. By now, I suggest you look at #9249 (from @lmhmhl) to get some hints.

@lmhmhl Would you like to add such mixed configuration examples in our documents referring to your PR [HERE](ht

[2021-02-02 04:09] lmhmhl commented on #9228
@tristaZero
Sure, It's my honor.

[2021-02-02 05:08] tristaZero commented on #9175
Hi @huanghao495430759 ,

Suppose you do not intend to bind [ A ,B, C, D .....] as a `broadcast` table. In that case, I suggest you'd better not add a broadcast rule to them since a query (e.g., insert) will be executed in all of them to keep these tables containing the same data.
Later, if  [ A ,B, C, D .....]  are uncorrelated but have the same names, I have to say we can not manage them as diffe

[2021-02-02 05:42] 414135289 commented on #9255
thanks

[2021-02-02 05:42] #9255 closed

[2021-02-02 09:35] terrymanu commented on #9228
I create the empty files for mix rules configuration on issue:
https://github.com/apache/shardingsphere/pull/9268

Please fill the configuration description here.

[2021-02-02 09:41] terrymanu opened #9269 "Add test cases for example"
**Background**

The examples of ShardingSphere do not have test cases.
After mvn install, developer can know compiling success only, but the can not guarantee code correct, especially config for YAML, spring namespace and spring boot starter.

**Task**

This issue is to add auto test cases with JUnit to assert startup success and code logic correct.

Notice, the code of current example may need to

[2021-02-02 09:59] liuchaoheliang opened #9270 "case: left join .... on .... ,the encrypt column cant not be rewrited .."
version
5.0.0-alpha

my config
spring.shardingsphere.props.query-with-cipher-column=true
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.cipherColumn=name_enc
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.encryptorName=name_encryptor
spring.shardingsphere.rules.encrypt.tables.user_info.columns.mobile.cipherColumn=mobile_enc
spring.shardingsphere.rules.encrypt.

[2021-02-02 10:08] tristaZero commented on #9209
Hi,

I can catch you. You get an exception because `ShardingAlgorithm` tells SS to route this SQL to a non-existing table (`order2020-01`) by   ShardingValue (`2020-01`). So suppose you do not want to get this exception, please implement `ShardingAlgorithm` by yourself to avoid returning table `order2020-01`;

[2021-02-02 10:29] tuohai666 commented on #9252
@jingshanglu Can you provide the PR NO. and close this issue?

[2021-02-02 10:39] tristaZero commented on #9270
Hi @liuchaoheliang Thank for feedback, looks like bad support for `join` SQL when encrypting.
Hi @jingshanglu Do we parse `left join test_name tn on tn.name = u.name` into `SelectStatement`?

[2021-02-02 11:13] wzdlagrange opened #9275 "Sharding JDBC4.0.1 SQL中出现类似lower(user_id) = lower(trim(?))时，解析会出错"
解析lower(trim(?))时
PredicateExtractor.extractPredicate方法 140行
Optional<ColumnSegment> column = columnExtractor.extract((ParserRuleContext) predicateNode.get().getChild(0), parameterMarkerIndexes);
其中predicateNode.get() 得到的
解析出来的是7个ErrorNodeImpl
分别为：lower | ( | trim | ( | ? | ) | )
请问这个有办法避免吗？

这个SQL是父工程里的SQL，不归我们项目组管辖，所以没办法改动SQL

我们自己项目是没有这种SQL的，
有没有办法配置 不包含 分表名 就 直接走默认逻辑
比如我仅对user表进行分表
那么“......fr

[2021-02-02 11:21] terrymanu commented on #9275
**For English only**, other languages will not accept.

[2021-02-02 11:21] #9275 closed

[2021-02-02 11:21] #9169 closed

[2021-02-02 13:47] sandynz opened #9282 "Proxy with empty configuration restart failed after creating database via RDL when governance enabled"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit: 2770484c6a0a13d8401eb309d0dac38c373a4c30

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Started with no exception

### Actual behavior
[code]

### Reason analyze (If you can)
Proxy start when remote configuration is incomplete

### Steps to reproduc

[2021-02-03 02:24] tristaZero commented on #9218
Hi @fengchao-GitHub ,

Could you see `information_schema` in this client? It looks like SS do not load the metadata of `information_schema` and its tables.

Hi @tuohai666 , could you give it a look? I met some of the similar issues, but I am unsure it is easy to handle.

[2021-02-03 02:31] jingshanglu commented on #9270
@tristaZero Yes.

[2021-02-03 03:48] tristaZero commented on #9270
@jingshanglu Got it.

Hi @JiekerTime , could you simulate his scenario to try to locate the cause? Let us see whether we can fix it easily.

[2021-02-03 04:42] #8903 closed

[2021-02-03 05:34] terrymanu opened #9286 "Add document of mix rule configuration description"
- [x] Summary
  - [x] docs/document/content/user-manual/shardingsphere-jdbc/configuration/_index.en.md
  - [x] docs/document/content/user-manual/shardingsphere-jdbc/configuration/_index.cn.md
- [ ] Java config
  - [ ] docs/document/content/user-manual/shardingsphere-jdbc/configuration/java-api/mix.en.md
  - [ ] docs/document/content/user-manual/shardingsphere-jdbc/configuration/java-api/mix.cn.md

[2021-02-03 05:52] AI1186780944 commented on #8934
@xuup @terrymanu  Hi,man.How do you solve the problem as shown in the figure?
![image](https://user-images.githubusercontent.com/40418583/106703810-f4187a00-6625-11eb-9e20-f0c3237526b3.png)
When this problem occurs, don't you find that your transaction is invalid?
I'm using shardingsphere-jdbc-core-spring-boot-starter 5.0.0-alpha.And The ORM framework is MyBatis-Plus.

[2021-02-03 05:54] terrymanu commented on #9228
Issue #9286 for the document.

[2021-02-03 07:22] lazyboyl opened #9291 "The name of the associated query library table changes from uppercase to lowercase"
## Bug Report

### Which version of ShardingSphere did you use?

ShardingSphere-5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

`Actual SQL: db1 ::: select t.ORDER_ID,t.user_Id,t.create_time,toi.* from T_ORDER3 t inner join T_ORDER_ITEM3 toi on t.order_id = toi.order_id where t.order_id = ? ::: [3]`

### Actual b

[2021-02-03 07:26] lazyboyl commented on #9291
@terrymanu When I do an associative query, T_ORDER_ITEM is changed from uppercase to lowercase, but my T_ORDER is fine.

[2021-02-03 07:45] wuzhiwei18 opened #9292 "insert sql include keyword column, insert fail ?"
when my tables has keyword column, before insert, The symbol ' will be added, but sharding auto remove the symbol, Cause insert to fail.
the code ：
class SQLUtil :
method:  getExactlyValue

`public static String getExactlyValue(final String value) {
        return null == value ? null : CharMatcher.anyOf("[]`'\"").removeFrom(value);
    }`

[2021-02-03 07:57] wuzhiwei18 commented on #9292
this keyword column is  show.   original sql is
`insert into album( app_id,`name`,cover_path,content,
`show`,hot,`free` ) values ( ?,?,?,?,?,?,? )`
after rewrite ;
`insert into album  (app_id, name, cover_path, content, show, hot, free) VALUES (?, ?, ?, ?, ?, ?, ?) `
this show column lost symbol `
error msg :
`{
    "code": 500,
    "data": null,
    "message": "\r\n### Error updating database.  C

[2021-02-03 07:59] JiekerTime commented on #9270
Hi @liuchaoheliang ! Thanks for your feedback!
We also found this problem and fixed it in the latest version (master branch).~
If you want to take advantage of this feature, you can try to install the master branch, or wait for our upcoming release version!

[2021-02-03 08:00] #9168 closed

[2021-02-03 08:02] wzdlagrange opened #9294 "In 4.1.1, non-sharding-table SQL do not supported nested subquery,"
## In 4.1.1, non-sharding-table SQL  do not supported nested subquery,
I'm sorry for the bad reading experience. I translated the English with Google and made some adjustments.

this nested subquery has nothing to do with the table I want to sharing.
For example, if the table to be sharding is "log" ,
and a SQL String not contain "log",
like
select
	*
from (select
		...
		from
		(select
			*
		fro

[2021-02-03 08:09] JiekerTime commented on #9291
Hi @lazyboyl  ! Thanks for your feedback!
The problem you encountered seems to be similar to #9270. We have fixed this problem in the latest version (master branch).
If you want to take advantage of this feature, you can try to install the master branch, or wait for our upcoming release version!

[2021-02-03 08:27] xuup commented on #8934
I have noticed the problem you mentioned before.
Do you think sharding not work has relations with it?

thanks a lot.

[2021-02-03 08:32] huosenyuan commented on #9252
use ShardingSphere-JDBC;
springboot 2.2.2.RELEASE
[code]
[code]
[code]

[2021-02-03 08:34] huosenyuan commented on #9252
db is HyperSql
[code]
[code]

[2021-02-03 09:04] AI1186780944 commented on #8934
@xuup This problem should have nothing to do with sharding not working.It causes the transaction not to take effect.The scenarios I use are read-write separation and data desensitization.I just see that your example has the same problem as mine. Let's ask if you have solved it.And I have solved some of the above problems. The container injection of transaction manager is completed.The results are

[2021-02-03 09:21] JiekerTime commented on #9291
Hi~ @lazyboyl  ~ Thanks for your feedback!
In order to solve the problem conveniently, I have a few questions to confirm：
What operating system are you using? Can your SQL statement run successfully?

[2021-02-03 09:30] xuup commented on #8934
Thank you for your detailed solution, I will solved the problem that "JDBC Connection will not be managed by Spring" according your solution.

We could give developers a little time for this issue.

[2021-02-03 09:55] beyondsoros commented on #9294
I have tested the subqueries of the example，not work in version 4.1.1.  Your reference, Duplicate with #8841

[2021-02-03 10:40] wzdlagrange commented on #9294
the subqueries is not contains sharding-table，
sharding-sphere parse it，finds that it does not need to be partitioned, and executes it as it is.
Why didn't he parse it in the first place?
Check whether the SQL statement contains a sharded table and then determine whether to parse the table.
Similar to :
if(SQLString.contains(shardedTableName)){
	return doSharding();
}else{
	return doDefault();
}

[2021-02-03 10:49] liuchaoheliang opened #9298 "select ...left join ... ,the select cloumn not be rewrite except the frist table encrypt cloumns ."
version: 5.0.0-alpha

my config
spring.shardingsphere.props.query-with-cipher-column=true
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.cipherColumn=name_enc
spring.shardingsphere.rules.encrypt.tables.user_info.columns.name.encryptorName=name_encryptor
spring.shardingsphere.rules.encrypt.tables.user_info.columns.mobile.cipherColumn=mobile_enc
spring.shardingsphere.rules.encrypt

[2021-02-03 10:56] liuchaoheliang commented on #9270
ok ，thanks [!]

[2021-02-03 11:20] #9163 closed

[2021-02-03 12:26] jimmyduang opened #9302 "why i get the error "can not route tables for [schemata],please make sure the tables are in same scheam.""
i startup the sharding-proxy fallow [quick-start](https://shardingsphere.apache.org/document/current/en/quick-start/shardingsphere-proxy-quick-start/),and the logs shows is success ，as follows
[code]
but when i try to connect the sharding-proxy server with navicat ,it's just alert a error `can not route tables for [schemata],please make sure the tables are in same scheam.`
my sharding-proxy versio

[2021-02-03 12:29] jimmyduang commented on #9302
by the way,my mysql-connector.jar is [mysql-connector-java-5.1.49.tar](https://cdn.mysql.com//Downloads/Connector-J/mysql-connector-java-5.1.49.tar.gz)
this is my real db,
![image](https://user-images.githubusercontent.com/34672876/106747199-8ccaec00-665e-11eb-8223-9efe5979964a.png)

[2021-02-04 01:11] lazyboyl commented on #9291
My operating system is win7. My MySQL database is case sensitive. When I use shardingsphere's Association query, I directly report an error. If I can't execute the statement, I will directly delete the T in it_ order_ Change the item into upper case, which can be executed normally in the Navicat. Please take a look. Thank you @JiekerTime

[2021-02-04 02:24] JiekerTime commented on #9291
Hi~ @lazyboyl ！
First of all, it is clear that the windows environment is not case sensitive.Secondly, the design of shardingsphere 5.0.0-apha is not case sensitive. Even if you are using a Linux system, it is recommended to temporarily turn off case sensitivity.

About the SQL statement, your question is similar to #9270.
In our 5.0.0-apha, if join and ‘*’ are involved at the same time, it may ca

[2021-02-04 02:59] zhuyongsheng-428 opened #9309 "druid-spring-boot-starter 1.2.4 cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource"
### druid version
```group: 'com.alibaba', name: 'druid-spring-boot-starter', version: '1.2.4'```
### shardingsphere version
```group: 'org.apache.shardingsphere', name: 'shardingsphere-jdbc-core-spring-boot-starter', version: '5.0.0-alpha'```
### application.yml
[code]

[2021-02-04 03:11] zhuyongsheng-428 commented on #9309
This question took me too much time。。
I tried to change the version to 4.0.0 just now, and it succeeded! ! !

[2021-02-04 03:32] tristaZero commented on #9292
@wuzhiwei18
Which version do you use?
What's DBMS running in your env?

[2021-02-04 03:33] tuohai666 commented on #9218
@fengchao-GitHub
Please set sql.show: true in server.yaml when reproduce this problem, and provide the log with SQLs.
BTW, what's the MySQL client?

[2021-02-04 03:38] tristaZero commented on #9291
Hi @lazyboyl ,

It looks a little strange. SS does not differentiate tables, so why do two tables have different handling?

[2021-02-04 03:40] tuohai666 commented on #9218
Duplicated with https://github.com/apache/shardingsphere/issues/6693

[2021-02-04 03:40] #9218 closed

[2021-02-04 03:41] tristaZero commented on #9294
Hi I suggest you try 5.0.0-alpha. Parsing is always in the first phase, since we need to recognize which type of table it is by the parsed result.

[2021-02-04 03:42] jingshanglu commented on #9252
@huosenyuan Can you check the version you actually depend on? it is ok when i use 5.0.0-alpha.

[2021-02-04 03:44] tristaZero commented on #9298
@JiekerTime

Please give this SQL with encryption feature a try. It is very likely a point to improve.

[2021-02-04 03:47] jingshanglu commented on #9252
@huosenyuan
![image](https://user-images.githubusercontent.com/16559542/106842259-a7dd4080-66de-11eb-93cf-c433af0911f5.png)

[2021-02-04 03:53] tristaZero commented on #9302
@jimmyduang @fengchao-GitHub
Hi  guys,

We receive the same issue from all of you. Thank for  your feedback.

I assume it is an important point to improve, we will consider firstly giving it a troubleshooting. Any progress, please watch #6693.

[2021-02-04 03:54] #9302 closed

[2021-02-04 04:14] wzdlagrange commented on #9294
emmm.....
recognize which type of table type...
 What does the "type" mean?
I don't understand.

[2021-02-04 04:40] huosenyuan commented on #9252
db use Mysql is OK;   but db use HyperSql is Not;

[2021-02-04 06:12] JiekerTime opened #9314 "Drop index error with broadcast table"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Do not configure the algorithm rules of the broadcast table

### Actual behavior
Have to configure the algorithm rules of the broadcast table

### Reason analyze (If you can)
JDBC lacks special handling of broadc

[2021-02-04 06:15] yu199195 commented on #8940
hi, you will see this : https://github.com/apache/shardingsphere/issues/1900

[2021-02-04 06:15] yu199195 commented on #9309
hi, you can see this : https://github.com/apache/shardingsphere/issues/1900

[2021-02-04 06:22] LHRH opened #9315 "line 1:78 no viable alternative at input 'full'"
line 1:78 no viable alternative at input 'full'
line 1:78 mismatched input 'full' expecting {'!', '~', '+', '-', '.', '(', '{', '?', '@', TRUNCATE, POSITION, VIEW, VALUES, CASE, CAST, TRIM, SUBSTRING, LEFT

shardingsphere version:4.1.1

[2021-02-04 06:25] TeslaCN commented on #8940
Hi @yu199195
I think this issue is different with #1900. This issue is failed to instantiate a DataSource without no-args constructor.

[2021-02-04 07:04] huosenyuan commented on #9252
Your screenshot shows mysql, I use hypersql; can I customize dialect to solve this problem; how can I customize dialec

[2021-02-04 07:10] jingshanglu commented on #9315
@LHRH Can you show the sql?

[2021-02-04 07:12] LHRH commented on #9315
SELECT guid,is_system,status,version,creator,create_time,modifier,modify_time,full,got,post,del,patch,put FROM sys_routes_ignore WHERE status = ?

[2021-02-04 07:20] lazyboyl commented on #9291
It is mainly in the investigation stage that various scenarios need to be considered. Therefore, the MySQL database sensitivity is specially turned on, and this problem is found during the verification, so it is fed back to the official. Although this problem can be solved by setting the MySQL database to be case insensitive.

[2021-02-04 07:35] jingshanglu commented on #9315
@LHRH It has been fixed in version 5.0.0-alpha.

[2021-02-04 07:36] tuohai666 commented on #9270
Duplicated with https://github.com/apache/shardingsphere/issues/9291 .

[2021-02-04 07:36] #9270 closed

[2021-02-04 07:38] LHRH commented on #9315
5.0.0-release   Release time？

[2021-02-04 07:54] #9309 closed

[2021-02-04 08:02] jingshanglu commented on #9252
@huosenyuan You can refer `shardingsphere-sql-parser-mysql` module.

[2021-02-04 08:11] jingshanglu commented on #9315
It is under test. It can only be released after passing the test.

[2021-02-04 08:54] Lucas-307 opened #9320 "`DROP TABLE IF EXISTS` occur `NoSuchTableException`"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1（master）

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Behavior
execute sql `DROP TABLE IF EXISTS t1`

### Exception
[code]

[2021-02-04 09:57] kindess opened #9321 "When I execute an insert statement，I encountered an error ： ‘Column count doesn't match value count at row 1’"
Logic SQL: insert into tb_notice( title,contents,is_draft,is_cancel, is_send, add_time, is_sys, users,is_delete,user_id, is_attach,type,company_id, is_sms )  values ( ?,?,?,?,?,  ?,?, ?,?,?   ?,?,?,? )

SQLStatement: ShardingInsertOptimizedStatement(super=ShardingConditionOptimizedStatement(tables=Tables(tables=[Table(name=tb_notice, alias=Optional.absent())], schema=Optional.absent()), shardingCo

[2021-02-04 10:07] kindess commented on #9321
the id generatedValue Override the colum 'is_sms', i don`t know reason

[2021-02-04 10:36] #8996 closed

[2021-02-04 10:38] #9044 closed

[2021-02-04 10:42] zht0209 opened #9325 "IndexOutOfBoundsException"
public synchronized long getEndIndex(final long fromIndex, final int size) {
        if (size == 0) {
            return fromIndex;
        }
        int correctIndex = (int) (fromIndex - startIndex);
        int listIndex = correctIndex / BIT_SET_SIZE;
        int count = size;

        for (int i = listIndex; i < bitSets.size(); i++) {
            int begin = i == listIndex ? correctIndex % BIT_

[2021-02-04 10:47] tristaZero opened #9326 "[API] New yaml configuration for authentication of ShardingProxy"
Hi community,

ShardingProxy will support `create/drop user` and `grant/revoke` SQL in the future, which means ShardingProxy is going to have the privileges checking capability (#8966). The basic function is similar to [Privileges Provided by MySQL](https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html).

This issue is to do API change for `authentication` in `server.yaml` to **remain t

[2021-02-04 11:07] strongduanmu commented on #9320
@Lucas-307 How can I reproduce this error? Can you provide the sharding configuration? 😀

[2021-02-04 11:30] #9135 closed

[2021-02-04 11:49] Lucas-307 commented on #9320
@strongduanmu execute this sql is enought.

[2021-02-04 12:29] jackjoesh opened #9330 "why version 3.1 is faster than version 4.1.1 for the the speed of short sql"
I have made a simple sql test:  select * from order where order_id = ?
And the speed of version 3.1 is always 1-2 milliseconds faster than version 4.11.
Why having this gap?  I guess because the class  structure of version 4.11 is more complicated than version 3.1,  so cost more time.
This question is very important to us, because our system concurrency is greater than 100k qps, we can't bear one

[2021-02-04 15:49] giggs131400 opened #9334 "Failed to parse sensitive field under encryption scenario"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
1. we have two tables, one is student, the other is score. And table student have column "stuname" we need to

[2021-02-05 01:42] QwQyewen opened #9335 "5.0.0-alpha java.util.NoSuchElementException: No value bound"
When I used the official example configuration (https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/), the following problems occurred：

spring.shardingsphere.datasource.names=ds0,ds1

spring.shardingsphere.datasource.ds0.type=com.alibaba.druid.pool.DruidDataSource
spring.shardingsphere.datasource.ds0.driver-class-name=com.mysql.

[2021-02-05 03:24] rtj599 opened #9336 "Exception occured when loading metadata"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-02-05 03:30] menghaoranss commented on #9325
@zht0209 For English only

[2021-02-05 03:56] jackjoesh opened #9337 "does support fulltext search"
does shardingjdbc support fulltext search?

[2021-02-05 04:21] tristaZero commented on #9294
`Type` means this table is a single table, broadcast table, sharding table or binding tables.

[2021-02-05 04:28] tristaZero commented on #9291
Hi @lazyboyl ,

I got your point, and thanks for your feedback. Actually, it is worthy work to do but will take plenty of time to go through the whole project and unify the case sensitive issue.

BTW @tuohai666 It is verified that #9270 has the same cause as this one, isn't it?

[2021-02-05 04:39] lmhmhl commented on #9326
I want to do it

[2021-02-05 04:39] #9282 closed

[2021-02-05 04:47] terrymanu commented on #9337
What is the SQL about fulltext search?

[2021-02-05 05:09] menghaoranss commented on #9282
@sandynz Thanks for your feedback, this issue has been fixed in the master branch.

[2021-02-05 05:12] daiyunqing opened #9338 "shardingUi 4.1.0 添加注册中心时报错"
错误信息
![image](https://user-images.githubusercontent.com/55369312/106992557-ae89b780-67b3-11eb-8f95-7406fe48d025.png)

Cannot create property=centerConfigs for JavaBean=org.apache.shardingsphere.ui.common.domain.CenterConfigs@7b5b7d77 in 'reader', line 1, column 1: centerConfigs: ^ Cannot create property=additionalConfigCenterServerList for JavaBean=org.apache.shardingsphere.ui.common.domain.Center

[2021-02-05 05:25] daiyunqing commented on #8749
I also have this problem, how to solve it

[2021-02-05 05:26] terrymanu commented on #9338
**For English only**, other languages will not accept.

[2021-02-05 05:26] #9338 closed

[2021-02-05 05:55] huosenyuan commented on #9252
[code]
After I customize the hsql dialect, I execute the query SQL, and a null pointer appears here. This is my modified code. I don't know if it's a bug
[code]

[2021-02-05 06:35] lazyboyl commented on #9291
Thank you for your answer. I hope this problem can be solved in the next version.

[2021-02-05 06:35] #9291 closed

[2021-02-05 06:42] tuohai666 opened #9341 "Connections may block when execute DDL in concurrency"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-02-05 07:00] tuohai666 commented on #9335
Please fill in the template:

[code]

[2021-02-05 07:31] QwQyewen opened #9344 "5.0.0-alpha Official document error：java.util.NoSuchElementException: No value bound"
## Bug Report
Recently I found that there are some errors in the official documents. The configuration according to the official documents will cause our program to not run normally.
The following configuration  according to the official documents will cause an error：java.util.NoSuchElementException: No value bound

spring.shardingsphere.datasource.ds0.type=com.zaxxer.hikari.HikariDataSource
sprin

[2021-02-05 07:36] rtj599 opened #9345 "batch insert exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-02-05 07:38] tuohai666 commented on #9330
ShardingSphere-Proxy or ShardingSphere-JDBC?

Can you give a proof that you use PreparedStatement in this scenario?

[2021-02-05 07:38] tristaZero commented on #9326
@lmhmhl Welcome.

[2021-02-05 07:41] tuohai666 commented on #9321
Please fill in the template:

[code]

[2021-02-05 07:46] Lucas-307 commented on #9325
let me see

[2021-02-05 07:46] tuohai666 commented on #9344
Would you like to  provide a pr?

[2021-02-05 07:49] jingshanglu commented on #9345
@rtj599 Can you try `5.0.0-alpha`?  `5.0.0-alpha` improves the support of SQL.

[2021-02-05 07:58] bianrenwei opened #9347 "Database type inconsistent with 'org.apache.shardingsphere.underlying.common.database.type.dialect.MySQLDatabaseType@2d21d12b' and 'org.apache.shardingsphere.underlying.common.database.type.dialect.SQL92DatabaseType@671c71e8'"
配置多个不同类型的数据源，项目启动报错
Caused by: java.lang.IllegalStateException: Database type inconsistent with 'org.apache.shardingsphere.underlying.common.database.type.dialect.MySQLDatabaseType@2d21d12b' and 'org.apache.shardingsphere.underlying.common.database.type.dialect.SQL92DatabaseType@671c71e8'
	at com.google.common.base.Preconditions.checkState(Preconditions.java:511)
	at org.apache.shardingsphere.shar

[2021-02-05 07:59] terrymanu commented on #9347
**For English only**, other languages will not accept.

[2021-02-05 07:59] #9347 closed

[2021-02-05 08:01] Lucas-307 commented on #9325
@zht0209 Could you pleace give me more detail to reproduce it.
I don't why this case happen.

[2021-02-05 08:04] bianrenwei opened #9348 "error when configuring different data source types"
I have configured MySQL and odps ,spring boot start is failed

version: 4.1.1

exception: Caused by: java.lang.IllegalStateException: Database type inconsistent with 'org.apache.shardingsphere.underlying.common.database.type.dialect.MySQLDatabaseType@2d21d12b' and 'org.apache.shardingsphere.underlying.common.database.type.dialect.SQL92DatabaseType@671c71e8'
	at com.google.common.base.Preconditions

[2021-02-05 08:12] terrymanu commented on #9334
There are 2 problems in this issue.

The first problem is for SELECT JOIN , I just add the test case about it, please see #9346.
It is OK, so could you try the master branch?

The second problem is for sub-query which is not in the current scope, we cannot process sub-query as well.
There is no plan for now.

[2021-02-05 08:14] terrymanu opened #9349 "Support sub-query with encrypt"
The SQL

[code]

should rewrite to

[code]

[2021-02-05 08:15] terrymanu commented on #9334
ref #9349

[2021-02-05 09:16] rtj599 commented on #9345
OK, I'll try it,thx

[2021-02-05 09:16] #9345 closed

[2021-02-05 09:28] terrymanu commented on #9298
Duplicate with #9334

[2021-02-05 09:28] #9298 closed

[2021-02-05 09:29] #9240 closed

[2021-02-05 09:36] daiyunqing opened #9352 "sharding-scaling calling POST /shardingscaling/job/start report an error"
**URL**
http://****:8888/shardingscaling/job/start

**parameter:**
{"ruleConfiguration":{"sourceDatasource":"slave0: !!org.apache.shardingsphere.orchestration.core.configuration.YamlDataSourceConfiguration\n  dataSourceClassName: com.zaxxer.hikari.HikariDataSource\n  properties:\n    jdbcUrl: jdbc:mysql://*****:3306/global_market?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC\n    user

[2021-02-05 09:42] SunJiFengPlus commented on #9209
thx 👍

[2021-02-05 09:42] #9209 closed

[2021-02-05 09:47] sunday20111107 opened #9353 "5.0.0-alpha HashModShardingAlgorithm getShardingCount method is wrong"
## Bug Report

Exception in thread "main" java.lang.NumberFormatException: null
	at java.lang.Integer.parseInt(Integer.java:542)
	at java.lang.Integer.parseInt(Integer.java:615)
	at org.apache.shardingsphere.sharding.algorithm.sharding.mod.HashModShardingAlgorithm.getShardingCount(HashModShardingAlgorithm.java:52)
	at org.apache.shardingsphere.sharding.algorithm.sharding.mod.HashModShardingAlgorit

[2021-02-05 09:52] tuohai666 commented on #9353
Please try sharding-count: '2'

[2021-02-05 09:55] tuohai666 commented on #9348
The exception was thrown by ShardingSphere as expected. What do you expect?

[2021-02-05 10:00] Lucas-307 commented on #9352
@daiyunqing you parameter is wrong.
refer to:  https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-scaling/usage/

[2021-02-05 10:32] wzdlagrange commented on #9294
-----
if(SQLString.contains(shardedTableName)){//It does not have to be "contains()", it can also be "Pattern.matcher()"
return doSharding();
}else{
return doDefault();
}
If sharding-jdbc do what I said, what's the bad effect?
----------------------------------
our project needs to sharding only one table, then we make the project dependencys sharding-jdbc.
As a result, all SQL meet the requiremen

[2021-02-05 12:34] daiyunqing commented on #9352
The parameter initiated by the  Sharding-Ui 4.1.0 data scaling menu,

[2021-02-05 14:03] JiekerTime commented on #9001
Problem has been solved！

[2021-02-05 14:04] JiekerTime commented on #8994
Problem has been solved！

[2021-02-06 03:06] #9252 closed

[2021-02-06 03:08] huosenyuan opened #9356 "HyperSql: 5.0.0-alpha: NullPointerException: ShardingSpherePreparedStatement.executeQuery(ShardingSpherePreparedStatement.java:180)"
[code]

org.apache.shardingsphere.driver.jdbc.core.statement.ShardingSpherePreparedStatement#executeQuery

[code]

[code]

[code]

[2021-02-06 09:30] #9314 closed

[2021-02-07 01:59] #9321 closed

[2021-02-07 02:09] zht0209 commented on #9325
增量迁移的时候，当Placeholder Record 大于1024时,此时进来一个DataRecord,startIndex将改变成1024,fetchRecords的fromIndex是0,所以correctIndex将会变成负数

[2021-02-07 02:35] tristaZero commented on #9152
Done.

[2021-02-07 02:35] #9152 closed

[2021-02-07 03:08] kindess opened #9363 "SpringBoot integrated Sharding-Jdbc How to get the Distributed Primary Key after inserted"
When i insert a new row，but can not get id from the instance，the primary key return the value "null"。such as, noticeMapper.insert(notice)，the 'notice.getId()' can not get id. How get to the new row primary key ?

[2021-02-07 03:46] tristaZero commented on #9353
@sunday20111107

Thanks for explanation.
`sharding-count: '2'` could avoid exception though, I still wonder why the `integer` value is put into `properties`. Maybe we can get something from `Yaml converter`.

[2021-02-07 03:49] tristaZero commented on #9356
Hi @huosenyuan ,

Thanks for debugging.
Is there any data in `t_job0` and `t_job1`? Looks like we need to figure out why we get null from `statement.getResultSet()`.

[2021-02-07 03:52] tristaZero commented on #9363
Hi,

What you said is `getGeneratedKeys()` from `preparedStatement`?
Which version is running in your env?

[2021-02-07 04:38] tristaZero commented on #9294
Hi @wzdlagrange ,

I suggest you try 5.0.0-alpha in your case. 5.0.0-alpha helps users manage these none-sharding tables. Still, SQL parsing is the process of handing any SQLs (Just for judging table type) but there is no rewriting or something.

From 5.x version, ShardingSphere will focus on helping users manage all the tables. For instance, many of the none-sharing tables will be automatically l

[2021-02-07 05:11] terrymanu opened #9365 "Polish log content by BaseLoggingPluginDefinitionService"
- [X] Remove useless log for SchemaMetaDataLoader.loadAllTableNames() from SchemaMetaDataLoader
- [x] Remove log for SchemaMetaDataLoader.loadAllTableNames() from BaseLoggingPluginDefinitionService
- [x] Add log for MetaDataContextsBuilder.buildSchema() by BaseLoggingPluginDefinitionService
- [x] Remove log for MetaDataContextsBuilder.buildSchema() from MetaDataContextsBuilder

[2021-02-07 05:25] #9348 closed

[2021-02-07 05:27] terrymanu commented on #9356
Can not support hsqldb

[2021-02-07 05:42] tuohai666 commented on #9321
@kindess Can you tell the reason for close issue?

[2021-02-07 05:49] terrymanu commented on #9336
Cloud you try to version 5.0.0-alpha?

[2021-02-07 05:57] terrymanu commented on #9198
No response

[2021-02-07 05:57] #9198 closed

[2021-02-07 05:58] terrymanu commented on #9193
No response

[2021-02-07 05:58] #9193 closed

[2021-02-07 05:59] huosenyuan commented on #9356
`t_job0` and `t_job1` has data;
`List<QueryResult> queryResults = executeQuery0(); ` has result;  after The result set in statement has been cleared；
so
`statement.getResultSet() ` statement does not query results

[2021-02-07 05:59] jingshanglu commented on #9201
It has been fixed by 5.0.0-alpha ..

[2021-02-07 05:59] #9201 closed

[2021-02-07 05:59] terrymanu commented on #9177
No response

[2021-02-07 05:59] #9177 closed

[2021-02-07 06:07] Lucas-307 commented on #9352
@daiyunqing You can try to update your rule config.

[2021-02-07 06:07] jingshanglu commented on #9224
@messi2094 What version do you use?

[2021-02-07 06:07] terrymanu commented on #9138
The document is going on about mix configuration.
Please follow #9286

[2021-02-07 06:08] #9138 closed

[2021-02-07 06:08] #9228 closed

[2021-02-07 06:10] huanghao495430759 commented on #9286
please assign to me

[2021-02-07 06:16] terrymanu commented on #9048
No response

[2021-02-07 06:16] #9048 closed

[2021-02-07 06:17] #9003 closed

[2021-02-07 06:18] strongduanmu commented on #9080
@odyssey1816 The `case ... when ...` statement is already supported in the latest `5.0.0-alpha` version, you can upgrade to the latest version. 😊

[2021-02-07 06:18] kindess commented on #9363
@tristaZero springboot 2.3.4 + sharding-jdbc-spring-boot-starter 4.1.1。But, how to use or how to configure ? I have not find  way for returning to the primary key

[2021-02-07 06:18] terrymanu commented on #8964
Do you resolve the issue?

[2021-02-07 06:19] #9080 closed

[2021-02-07 06:21] jingshanglu commented on #9067
@terrymanu @AllrenGao It has been fixed by 5.0.0.

[2021-02-07 06:23] daiyunqing commented on #9352
@Lucas-307 The source  rule config only read-write separation. new rule config is  read-write separation and  table sharding 。
**Configuration is as follows：**

**source rule config:**

schemaName: global_market
dataSources:
  master0:
    url: jdbc:mysql://**:3306/global_market?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root
    connectionTimeoutMi

[2021-02-07 06:27] #9067 closed

[2021-02-07 06:28] #9315 closed

[2021-02-07 06:31] #8947 closed

[2021-02-07 06:34] Lucas-307 commented on #9325
I got it.
when fromIndex < startIndex, may be correctIndex = 0 is better.
[code]

[2021-02-07 06:35] jingshanglu commented on #8651
#9112 #9119 has fixed it.

[2021-02-07 06:35] #8651 closed

[2021-02-07 06:40] wxq851685279 commented on #8964
Manually set the primary key effective

[2021-02-07 06:41] jingshanglu commented on #7894
#8116 has fixed it.

[2021-02-07 06:41] #7894 closed

[2021-02-07 06:45] #8396 closed

[2021-02-07 06:45] #9325 closed

[2021-02-07 06:46] JiekerTime commented on #9066
Hi ~ @zhang-j-x  ! Thanks for your feedback!
In fact, datasource.names is a logical database name, which can be inconsistent with the actual database name.
Do you also report an error in the url when you use "_"?

[2021-02-07 06:48] jingshanglu commented on #8686
Yes.

[2021-02-07 07:59] wzdlagrange commented on #9294
Okay, I get it. I'll try.

[2021-02-07 08:22] #9341 closed

[2021-02-07 08:36] Lucas-307 commented on #9352
@daiyunqing You can try to use `curl`  command to create a http request. Just like document's example.

[2021-02-07 09:33] rtj599 commented on #9336
ok,but we prefer a stable version to an alpha version. Could you please give me an  approximate time that a stable version of shardingsphere release?I think so many devs are waiting for it :)

[2021-02-07 09:35] daiyunqing commented on #9352
@Lucas-307 all right thank u happy Chinese New Year.

[2021-02-08 03:00] maxh4 opened #9381 "sharding-jdbc-spring-boot-starter auto-configuration class better to rename"
Hi,

I am using sharding-jdbc-spring-boot-starter as a common sub-module in my project so that I can use some common customized classes in other sub-modules.

After writing unit tests, spring throws an error as following:

[code]

However, I have added ignore "DataSourceAutoConfiguration.class" annotations in spring-boot start class. This confused me for a while.

[code]

After looking into the so

[2021-02-08 03:38] tristaZero commented on #9381
Hi @maxh4 ,

Do you mean `SpringBootConfiguration` of ShardingSphere has conflicts with Spring framework or others?

[2021-02-08 03:48] maxh4 commented on #9381
Hi @tristaZero ,

I didn't mean any conflicts. Just a naming strategy suggestion.

My project is in this structure:
|-RootProject
  \-CommonModule
  \-ServiceModule1
  \-ServiceModule2

ServiceModules are all referencing the CommonModule, so that I can extract some common configurations to avoid redundant code.
Then I also need to write some tests in each module, so I have excluded the auto-config

[2021-02-08 04:16] #9294 closed

[2021-02-08 04:57] tristaZero commented on #9363
Hi,

Could you do some search on `getGeneratedKeys()` by Springboot?
Springboot just helps users manage the data sources, and I guess there is some interface calling `getGeneratedKeys()` of `preparedStatement` to return all the generated keys.
Suppose you want to try the original `getGeneratedKeys()` of `preparedStatement`, you can write a demo to call this function from `ShardingSphereDataSource`

[2021-02-08 05:05] tristaZero commented on #9356
Hi @huosenyuan ,

Thanks for feedback.
Who did clear this `List<QueryResult>`? I just wanna figure out this SS's bug or not.

I suppose so, but I am a little confused that why this exception came there.

[2021-02-08 07:10] Lucas-307 commented on #9352
@daiyunqing You are welcome.

[2021-02-08 07:11] #9352 closed

[2021-02-08 07:49] JiekerTime opened #9388 "Problems encountered in SQL rewriting of the data encryption part"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC and ShardingSphere-Proxy

### Expected behavior
Get Result

### Actual behavior
ERROR: Column 'user_id' in field list is ambiguous

### Reason analyze (If you can)
Column name conflicts were not considered in the process of rewriting S

[2021-02-08 08:22] daiyunqing commented on #9352
@Lucas-307 Still not resolved,error message :{"success":false,"errorCode":500,"errorMsg":"Cannot create property=masterDataSourceName for JavaBean=org.apache.shardingsphere.core.yaml.config.sharding.YamlShardingRuleConfiguration@3282b36f\n in 'string', line 1, column 1:\n    masterDataSourceName: ds0\n    ^\nUnable to find property 'masterDataSourceName' on class: **org.apache.shardingsphere.core.

[2021-02-08 16:02] lmhmhl commented on #9326
@tristaZero I have make some try, but I don't know whether I am right or not, due to I am not familiar with the source code, so I may spend some time doing deep learning of the source code. When I read the source code, I felt confused and don't know what's the meaning of some detail. I think I am lost in the desert, can you recommend me some learning material of the source code.

[2021-02-09 02:47] MrXionGe commented on #234
北京立思辰云悦科技有限公司，https://www.yunyuecloud.com/，业务系统读写分离

[2021-02-09 04:20] mengJackye commented on #9043
OK，thanks

| |
叶萌
|
|
邮箱：isyouli@163.com
|

签名由 网易邮箱大师 定制

On 01/25/2021 19:28, Liang Zhang wrote:

Closed #9043.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-09 06:16] #9344 closed

[2021-02-09 07:45] #9059 closed

[2021-02-09 08:33] eschh19 opened #9399 "ExpressionProjectionSegment canot be cast to LiteralExpressionSegment"
1、Which version of ShardingSphere did you use?
shardingsphere-jdbc:5.0.0-alpha

2、Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-jdbc

3、Expected behavior:
excute sql like "INSERT INTO user_info ( id, name, sex, updateTime) VALUES ( ?, ?, ?) ON DUPLICATE KEY UPDATE `name`=VALUES(`name`),updateTime=VALUES(updateTime);",
I want the `name` colume encrypted upda

[2021-02-09 09:26] menghaoranss opened #9401 "Use Collections.emptyMap() to instead of new LinkedHashMap<>() in YamlEngine"

[2021-02-09 09:28] #8909 closed

[2021-02-09 09:32] jmbkeyes opened #9404 "Sharding-Proxy can't start for can't find class org.apache.shardingsphere.orchestration.center.yaml.config.YamlCenterRepositoryConfiguration"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-02-09 09:37] #9404 closed

[2021-02-09 09:38] jmbkeyes commented on #9404
close it

[2021-02-09 10:27] terrymanu opened #9406 "Unify unmarshal and secureUnmarshal in YamlEngine"
Merge unmarshal and secureUnmarshal  in YamlEngine.
It is better to use all YAML unmarshal methods in secure mode.

The jobs need to do:

- [x] Keep local YAML data source configuration consist with reg center (API changes, need to to discuss in mailing list)
- [x] Replace all unmarshal invocation with secureUnmarshal
- [x] Remove original unmarshal methods and rename secureUnmarshal to unmarshal

[2021-02-09 11:02] menghaoranss commented on #9406
The discussion email has been sent to the Mailing-list:

https://lists.apache.org/thread.html/r18348b6f5e4ae7fc47aaa46c83186dcb57e5309198880e69d09f7aa5%40%3Cdev.shardingsphere.apache.org%3E

[2021-02-10 02:46] terrymanu opened #9411 "Add more test cases for ShardingTableBroadcastRoutingEngineTest"

[2021-02-10 03:34] arthasking123 commented on #9411
please assign to me

[2021-02-10 06:36] Suny95 opened #9413 "line 1:119 no viable alternative at input 'point,'"
<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
    <version>4.1.1</version>
</dependency>

<dependency>
    <groupId>com.baomidou</groupId>
    <artifactId>mybatis-plus-boot-starter</artifactId>
    <version>3.3.2</version>
</dependency>

[2021-02-10 06:46] Suny95 commented on #9413
@TableField(value = "`point`")
private Integer point;

format point to `point` , I'm fixed this problem

[2021-02-13 04:27] #9320 closed

[2021-02-14 07:20] tristaZero opened #9416 "[Enhancement] Authentication for the hostname with % instead of an empty string"
Hi community,

ShardingSphere new release will have a powerful authentication feature, which will have user, hostname, password and schema authentication.

**This issue is to improve `user@hostname` authentication**.

### Background
Suppose the hostname is a specific value, SS can use this value for checking.  While SS still allows users from any hosts,  what's the value of hostname?
The current a

[2021-02-14 07:45] cielswift opened #9417 "How to dynamically add and remove data sources"
If the capacity is insufficient during operation, how to dynamically add a data source

[2021-02-15 15:29] jackjoesh commented on #9330
I use the ShardingSphere-JDBC.   I have made a test for testing speed of version 3.1 and speed of version 4.1.1.

test method:  use the same select sql to test the speed of different version, such as : select * from `order_history` where order_id = ? and symbol = ? and user_id = ?

monitor method:  monitor each method cost time in stacktrace by using aspectj load time weaver in spring boot

monito

[2021-02-15 15:31] jackjoesh commented on #9330
I use the ShardingSphere-JDBC.   I have made a test for testing speed of version 3.1 and speed of version 4.1.1.

test method:  use the same select sql to test the speed of different version, such as : select * from `order_history` where order_id = ? and symbol = ? and user_id = ?

monitor method:  monitor each method cost time in stacktrace by using aspectj load time weaver in spring boot

monito

[2021-02-16 12:56] cielswift opened #9419 "Can @ShardingTransactionType(TransactionType.XA) and @GlobalTransactional be used together? Will it conflict?"
Can @ShardingTransactionType(TransactionType.XA) and @GlobalTransactional be used together? Will it conflict?

[2021-02-18 01:50] jmbkeyes opened #9420 "Why are there 4 actual sql queries?"
## Question
There's a table, with month(yyyyMM)as sharding key, the springboot config file as below
`server:
  port: 9090
spring:
  shardingsphere:
    datasource:
      names: bocaicheckin${2019..2020}
      bocaicheckin2019:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbc-url: jdbc:mysql://10.0.0.5:3306/bocai_checkin2019
        user

[2021-02-18 03:46] YeDongaidiiqu opened #9421 "how can I find sharding-jdbc-spring-boot-starter of the version 5.0?"
![image](https://user-images.githubusercontent.com/25131877/108302447-f4e10c80-71de-11eb-91a8-3fb27791572b.png)

[2021-02-18 04:11] jackjoesh commented on #9337
is this sql:

select * from table where MATCH(trade_user_white_list) AGAINST(CAST('#{userId,jdbcType=BIGINT}' AS CHAR) IN BOOLEAN MODE)

thank you for help

[2021-02-18 06:40] devfat commented on #9420
it is that your table-strategy is according to your `month` column in your configuration. The month list in query is `202001,202002,201901`,  and will map to your table of `trainee_checkin_checkout_1` and `trainee_checkin_checkout_2`

[2021-02-18 07:19] tristaZero commented on #8185
Hi,
I created a new one [COMDEV-399](https://issues.apache.org/jira/browse/COMDEV-399)

[2021-02-18 07:57] tristaZero opened #9426 "[SQL Definition Collation][Oracle]Collate the SQL definition of SET ROLE"
### Target
- Collate SQL definition of `SET ROLE` to make SQL definition of `Apache ShardingSphere` the same with Oracle's.
- Add a test case

### How

1. Compare `SET ROLE` definition in [Official SQL Doc](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/SET-ROLE.html#GUID-863F9B6F-82B4-4C49-8E3A-3BA33AE79CAB) and [ShardingSphere SQL Doc](https://github.com/apache/shardingspher

[2021-02-18 08:06] #6743 closed

[2021-02-18 08:07] #8175 closed

[2021-02-18 09:21] ThanoshanMV commented on #9426
Hi @tristaZero, I'll try to do it.

[2021-02-18 09:51] ddacxhs opened #9427 "java.sql.ResultSetMetaData#getColumnCount returns inconsistent"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-02-18 09:57] jmbkeyes commented on #9420
@devfat
Yes, table-strategy is according to month column. Hmm.., if there're M databases, and N months(different month index of year) in query sql, and will perform M*N actual sql query? Any way to avoid this?

[2021-02-18 10:13] jmbkeyes commented on #9420
Hmm, So i means that  it'll do M(different year count) * N(different month index count) actual sql queries.  Is there any way to do some optimization?

[2021-02-18 14:21] giggs131400 commented on #9334
I still encounter the first problem, and I add the steps how to reproduce it under the #9346

[2021-02-19 02:45] LucienDon opened #9431 "当我使用oracle 数据库并与 sharding-jdbc-spring-boot-starter 和 spring-boot 整合时，项目启动非常慢"
使用版本为4.1.1, oracle 一共有60张表,只进行了分表，我发现spring-boot 启动时, sharding-jdbc 会检索 oracle 元数据（metadata），与分表策略进行对比，这一过程非常慢（数据越多，启动越慢）,  所以我想知道如何关闭检索metadata这一过程
我的spring-boot 配置如下
[code]

[2021-02-19 02:55] LucienDon commented on #9431
![图片](https://user-images.githubusercontent.com/21983909/108450859-cfb4d280-72a0-11eb-9a7e-dab9f28c7c0b.png)
项目启动到这里就没有任何提示了，大约需要一个小时左右，才启动完成

[2021-02-19 03:42] tristaZero commented on #9426
Yep, this is for COMDEV-399. Yesterday another student emailed me about COMDEV-385. But the recent commits you made convinced me to prefer you to take care of that issue. Therefore I create another one for other candidates.
Suppose you want to try other SQLs, please avoid these SQLs of COMDEV-399.
Let's wait for others who have interests in COMDEV-399 to have a try.

[2021-02-19 05:38] tuohai666 commented on #9330
Thanks for your analysis, I'll try to improve the performance.

[2021-02-19 07:02] menghaoranss commented on #9431
@LucienDon For english only.

[2021-02-19 07:02] #9431 closed

[2021-02-19 10:17] #7318 closed

[2021-02-19 12:21] #9401 closed

[2021-02-19 17:45] ThanoshanMV commented on #9426
Okay tristaZero. When I try other SQLs in future, I'll avoid SQLs of COMDEV-399.

[2021-02-20 01:19] #9420 closed

[2021-02-20 01:27] jmbkeyes opened #9445 "shardingsphere-jdbc cannot work with seata in spring boot app"
## Question
When I try to config springboot app with sharding-jdbc and seata, but the app can't start up.
Related compontents:
springboot:2.4.2
seata-server:1.4.1(config type is file)
shardingsphere-jdbc:4.1.1

project dependcies:
    implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.

[2021-02-20 02:16] #9445 closed

[2021-02-20 02:32] sunday20111107 opened #9446 "Encrypt on duplicate key update name=VALUES(name) will throws ExpressionProjectionSegment canot be cast to LiteralExpressionSegment"
Caused by: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.common.segment.dml.item.ExpressionProjectionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.simple.LiteralExpressionSegment
at org.apache.shardingsphere.infra.binder.segment.insert.values.OnDuplicateUpdateContext.getValue(OnDuplicateUpdateContext.java:87) ~[shardingsphere-in

[2021-02-20 02:36] sunday20111107 commented on #9353
tks all.

[2021-02-20 02:36] tristaZero commented on #9417
Hi @cielswift ,

Please refer to [governance](https://shardingsphere.apache.org/document/current/cn/features/governance/management/).

[2021-02-20 02:38] tristaZero commented on #9421
Hi `hardingsphere-jdbc-core-spring-boot-starter` is the new package name.
FYI., https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/

[2021-02-20 02:44] tristaZero commented on #9427
Hi @ddacxhs

You just test on the `ReplicaQuery` scenario, don't you?

What's the expectation and actual result of the column's amount?

[2021-02-20 02:46] tristaZero commented on #9446
Hi @sunday20111107
Thanks for feedback.

@jingshanglu
Could you check this case? It looks like an issue of parsing.

[2021-02-20 02:48] tristaZero commented on #9419
@yu199195  Do we have any doc to clarify such type of issue?

[2021-02-20 03:04] jmbkeyes opened #9447 "Fail in ensuring the transaction with seata and shardingsphere-jdbc"
## Question

**For English only**, other languages will not accept.
I have several databases (e.g. bocaicheckin2018 ,bocaicheckin2019,bocaicheckin2020 ), and every database has 12 tables which are divided by the shard column month.
when I want to execute the sql via jdbc template to updated the all related records in all tables, I tried to use seata to ensure the transaction but without success.
b

[2021-02-20 03:07] eschh19 commented on #9399
sharding-jdbc cannot support this sql like "ON DUPLICATE KEY UPDATE name=VALUES(name),updateTime=VALUES(updateTime)",
change this sql to "ON DUPLICATE KEY UPDATE name=#{name},updateTime=#{updateTime}" can be successful excuted,i want to know WHY?

[2021-02-20 03:15] yu199195 commented on #9419
@cielswift   hi , @GlobalTransactional  where are from?

[2021-02-20 04:44] #9353 closed

[2021-02-20 08:44] cielswift commented on #9419
seata project

[2021-02-20 08:47] wavelet123 opened #9454 "sharding rule config"
Hi Team,
This is not a bug.
As we want to sharding 1000 tables with table name as t_accountfriend_000, t_accountfriend_001, t_accountfriend_999 etc,while with the following rule,I can only get t_accountfriend_0,t_accountfriend_1.
Coud you please advise, how to config this sharding rule?

shardingRule:
  tables:
    t_accountfriend:
      actualDataNodes: ds_${0}.t_accountfriend_${000..999}
      t

[2021-02-20 09:15] jingshanglu commented on #9446
@sunday20111107 @tristaZero It's a bug about binder, new version will fix it.

[2021-02-21 07:06] techa03 opened #9460 "shardingjdbc is not compatible with mysql-connector 8.0.22"
### Which version of ShardingSphere did you use?
4.1.1+springcloudalibaba seata 2.2.5.RELEASE
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
[code]
### Expected behavior
[code]
I expected the global transation can be rolled back
### Actual behavior
when I use mysql-connector-java 8.0.21 driver it works fine,but when I swtich to 8.0.22 the console pr

[2021-02-21 10:14] ddacxhs commented on #9427
是的，使用了读写分离做的查询，您可运行下给出的代码，查询出的列数与实际列数不匹配

[2021-02-21 10:16] ddacxhs commented on #9427
是的，使用了读写分离做的查询，您可运行下给出的代码，运行给出的查询结果列数与实际列数不匹配

[2021-02-21 23:16] sebbASF opened #9462 "Please remove obsolete Incubator directory"
AFAICT, the following directory is no longer needed:
https://dist.apache.org/repos/dist/dev/incubator/shardingsphere/

Please remove it.
Thanks.

[2021-02-22 02:37] tristaZero commented on #9117
Hi @lmhmhl ,

This issue is done, right?

[2021-02-22 02:48] lmhmhl commented on #9326
Hi @tristaZero ,I am sorry that  It is a really long time I have been doing this issue. Due to Chinese NewYear holiday, I haven't seen this issue a few days, when I did this issue, I do encountered some troubles and made me upset, but I don't want to give up, should I do another issue 9416 first?

[2021-02-22 03:05] tristaZero commented on #9326
Hi @lmhmhl ,

Undoubtedly you can set the priority for these issues.
Take it easy and just follow your schedule. :)
Have a nice day.

[2021-02-22 03:11] KeepWalking8 opened #9463 "Exception occurs while using ddl-auto: update (postgres)"
Spring Boot ::                             v2.4.2
Spring:                                       v5.3.3
Spring Data JPA
Hibernate ORM core version:   5.4.27.Final
Database:                                  postgresql-13.1
shardingsphere:

[code]

application.yml:

[code]

when application starts, exception occurs:

[code]
-----------------------------------------------------------------------------

[2021-02-22 03:13] hahaxw opened #9464 "Pagination problem"
Shardingsphere 4.1.1 has the problem of duplicate and missing data in paging query？

[2021-02-22 07:41] tuohai666 commented on #9462
Done.

[2021-02-22 07:41] #9462 closed

[2021-02-22 12:11] sebbASF commented on #9462
Thanks for the prompt attention to this

[2021-02-23 01:52] wgy8283335 commented on #8880
Does this issue still need contributors? @tristaZero

[2021-02-23 02:28] menghaoranss commented on #9464
Please fill in the template below：

### Which version of ShardingSphere did you use?

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for reproduce this issue

[2021-02-23 02:50] #9286 closed

[2021-02-23 02:50] yu199195 commented on #9460
@techa03  seata  cannot Serial undo images， can you provide question to seata community？

[2021-02-23 02:54] yu199195 commented on #9447
@jmbkeyes  XA  or TCC  or AT module in Seata？  you can provide question in seata community

[2021-02-23 04:00] jmbkeyes commented on #9447
AT module in seata.

[2021-02-23 04:11] yu199195 commented on #9447
@jmbkeyes  when  seata build after images undo  ，mybe this data lock by other tanrsaction， you can provide question in seata community

[2021-02-23 04:48] jmbkeyes commented on #9447
Thanks for your feedback.
I  try to add the shard column "month" in where condition, and exception isn't thrown any more.

[2021-02-23 07:22] jingshanglu opened #9471 "Add UT for grantStatement and revokeStatement"
## Background
Now, `grant` and `revoke` in statement  are improved, so origin UT for it is not suitable. We need to add UT for `grant` and `revoke`.
parser UT entry:`shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/java/org/apache/shardingsphere/test/sql/parser/parameterized/engine/SQLParserParameterizedTest.java->assertSupportedSQL()`

## Solutions
1. Think about d

[2021-02-23 08:28] KeepWalking8 commented on #9463
same as #6693

[2021-02-23 09:32] huanghao495430759 commented on #9454
Hi ！ U can defind sharding algorithms  by yourself and format 0 to 000;
or only use complex groovy expressions.

[2021-02-23 10:23] tristaZero commented on #9416
This issue was fixed by @lmhmhl in #9470

[2021-02-23 10:23] #9416 closed

[2021-02-23 10:46] lolashe commented on #4954
@cherrylzhao  The link is invalid. Please give me a new address

[2021-02-23 12:38] techa03 commented on #9460
BUT when I use seata without shardingjdbc seata works fine.I will privide it to seata community.

[2021-02-23 23:32] twillouer opened #9479 "Avoid "toString" for error message"
## Feature Request

Less "toString" in some part of job to permit more performance

### Is your feature request related to a problem?

in code, we can see something like this :

[code]

### Describe the feature you would like.

Precondictions.checkState(..., +toString()) will generate the string each time the call is done.
Something like a lambda or avoid this precondition here can be mode effecti

[2021-02-23 23:56] #9479 closed

[2021-02-23 23:56] twillouer commented on #9479
not the same code in 5.0.0

[2021-02-24 02:15] tristaZero commented on #9427
Hi @ddacxhs ,

Could you test other simple SQLs? We need to figure out whether it has something to do with SQLs.

[2021-02-24 02:17] tristaZero commented on #8880
Hi @wgy8283335

Sorry for no updating here. This one was  fixed by #8918.

[2021-02-24 02:17] #8880 closed

[2021-02-24 02:29] mark4z commented on #6693
Mysql has same problem here.

[2021-02-24 02:34] Ambitie commented on #9421
I can't find shardingsphere-jdbc-core-spring-boot-starter on http://mvnrepository.com.I think shardingsphere 5 is a semi-finshed product.

[2021-02-24 02:47] yu199195 commented on #9460
@techa03 Ok, we will close this issue

[2021-02-24 02:48] #9460 closed

[2021-02-24 04:06] #9406 closed

[2021-02-24 08:09] DREZG opened #9492 "query sql accidental throw java.lang.NullPointerException"
**sharding jdbc version:  3.1.0**
**exception** :
Caused by: org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.lang.NullPointerException
### The error may exist in com/mmears/teacher/mapper/StandbyListMapper.java (best guess)
### The error may involve defaultParameterMap
### The error occurred while setting parameters
### SQL: SELECT   time,teacher_id,sta

[2021-02-24 08:41] ddacxhs commented on #9427
@tristaZero
## test data table

[code]

## test code

[code]

## run results

### Expected

`normalResultColumnCount: 7, shardingSphereResultColumnCount: 7`

### Actual

`normalResultColumnCount: 7, shardingSphereResultColumnCount: 1`

[2021-02-24 09:18] menghaoranss commented on #9492
@DREZG Could you try with version 4.x or 5.x again?

[2021-02-24 09:52] bestksl opened #9494 "When I try to create a sharding rule or datasource, I encountered this........ the corresponding version is 5.0 alpha"
![image](https://user-images.githubusercontent.com/43023538/108981577-d0e26700-76c7-11eb-9256-1023d10606cb.png)
Why the exception info is null?
Why I can't execute commands like create datasources, or sharding rules? , the whole env like zookeeper, mysql , I believe they were well prepared....

[2021-02-24 10:05] DREZG commented on #9492
I give it a try, but I am afraid of bringing new problems. And the above error is still sporadic, it is impossible to confirm whether the problem is solved

[2021-02-24 10:17] menghaoranss commented on #9494
Please provide the complete stack logs.

[2021-02-24 10:28] menghaoranss commented on #9492
The version 3.x is out of service, i will close this issue later, and If you find same problem in new version, please report a new issue with latest stack logs.  Thanks.

[2021-02-24 10:28] #9492 closed

[2021-02-24 11:31] DREZG commented on #9492
Is the version forward compatible?

[2021-02-24 15:20] ThanoshanMV commented on #9129
Hi @tristaZero,

Now, I'll try to add further test cases for `MERGE`.

[2021-02-25 00:46] wgy8283335 commented on #8284
I'd like to join this issue.

[2021-02-25 01:36] bestksl commented on #9494
![image](https://user-images.githubusercontent.com/43023538/109089719-a686bd00-774c-11eb-8438-c888179b7058.png)

and matadata stored in the zookeeper...
![image](https://user-images.githubusercontent.com/43023538/109089872-f36a9380-774c-11eb-84df-61e5304b4352.png)

[2021-02-25 02:11] terrymanu commented on #9494
Hi bestksl,

Thank you for try to using the dev features.

`create sharding rule` must before related table created.
However, NullPointException is not good enough, I will improve the error message reporting.

[2021-02-25 02:16] terrymanu commented on #9464
For generally, the answer is no.
But maybe some special scenario will trigger bug. Could you give us more hint to reproduce it?

[2021-02-25 02:22] terrymanu commented on #9463
information_schema is not support for now.
By the way, the common datasource is not release feature and deleted for now.

I just label as duplicated, volunteer who interest with  information_schema develop, please discuss on #6693

[2021-02-25 02:22] #9463 closed

[2021-02-25 02:24] tristaZero commented on #9494
Hi @bestksl ,

Thanks for the feedback.
Two of the images you provided have any sequences?
I mean, suppose you only run `create databases`, is there any exception?

[2021-02-25 02:27] terrymanu commented on #9454
The actualDataNodes  can be `ds_${0}.t_accountfriend_00${0..9},ds_${0}.t_accountfriend_0${10..99},ds_${0}.t_accountfriend_${100..999}`

More details please ref https://shardingsphere.apache.org/document/current/en/features/sharding/concept/inline-expression/

[2021-02-25 02:27] #9454 closed

[2021-02-25 02:40] terrymanu commented on #9427
This issue is fixed in the current master branch, could try it?

[2021-02-25 02:42] #9421 closed

[2021-02-25 02:45] bestksl commented on #9494
![image](https://user-images.githubusercontent.com/43023538/109095331-75ab8580-7756-11eb-8efb-a2aab5377240.png)
emmmm.. . I can create the database normally.

[2021-02-25 02:54] yu199195 commented on #9447
@jmbkeyes  hi,

1. you must add this jar in you pom.xml
[code]

2.  you must add this annotaion on the metheod， like this :
[code]

3. if you have dead lock, may be the seata buildBeforImage UndoLog bug, you can provider issue to seata

[2021-02-25 03:00] tristaZero commented on #6693
Hi thanks for your attention.
It is an important but challenging feature definitely. We need to make a schedule to support it step by step. Once there is any plan, I will update it here.

[2021-02-25 03:01] tristaZero commented on #9129
@ThanoshanMV Please go ahead.

[2021-02-25 03:02] tristaZero commented on #8284
Hi @wgy8283335 ,

Welcome your attention. After @guimingyue 's PR is raised, there will be a fittable time to join. Please be patient with that.

[2021-02-25 03:03] tristaZero commented on #9427
Hi @ddacxhs ,

Clear enough. Thanks for your info.
Like @terrymanu said, could you try the master branch?

[2021-02-25 03:29] ddacxhs commented on #9427
@tristaZero @tristaZero

The master branch has passed the test. When will the official version be released?

[2021-02-25 03:53] yangzhongj opened #9496 "ShardingSphereResultSet 可以支持 last()和beforeFirst()等方法吗"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-02-25 04:22] terrymanu commented on #9496
**For English only**, other languages will not accept.

[2021-02-25 04:22] #9496 closed

[2021-02-25 04:32] tristaZero opened #9497 "Add more encrypt test cases for integration test"
Currently our integration test engine can run the encryption scenario. But more cases are needed to test. Here is my list. Welcome your any cases to add,

####  Init_SQL
[code]

#### Cases

[code]

[2021-02-25 04:41] terrymanu commented on #9427
Maybe 2 months later, we are testing now

[2021-02-25 04:46] JiekerTime commented on #9497
Hi @tristaZero !i will try to add it!

[2021-02-25 04:46] #9417 closed

[2021-02-25 04:50] terrymanu commented on #9419
ShardingSphere will manage all transaction managers.
So it is better do not use them mixed.
I don't know what happen if using @ShardingTransactionType and other annotation of other projects.

[2021-02-25 04:50] #9419 closed

[2021-02-25 04:55] tristaZero opened #9498 "Add `scenarios-type` parameter to control the running case number for integration test engin"
Different databases have their specific SQLs. Therefore we have `data-types` to distinguish test SQLS. Similarly, we still need `scenarios-type` to pick up SQLs running for some specific scenarios.

For instance,
[code]

Please imitate `data-types` to implement `scenarios-type` in `IntegrationTestCase.class`.

[2021-02-25 05:01] JiekerTime commented on #9498
I will think about how to add this feature perfectly!

[2021-02-25 05:06] tristaZero opened #9499 "Add more test cases with `single` table for integration test engine"
### What' the `single table`?

Single table (单表): A table with one sharding. It can be regarded as a logic table with one actual table. Generally, it is a regular table in a database.

### Tasks
- Add the concept above to [SQL](https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/sql/) in English and Mandarin
- Create `single table` in all the `init_sql`s of `shardingsph

[2021-02-25 05:10] JiekerTime commented on #9499
I will try it!

[2021-02-25 05:20] jmbkeyes commented on #9447
Thanks, @yu199195
About the deadlock, I add sharding column in sql, it's ok now, but not know why?
And I have another issue, use shardingsphere-jdbc with seata, some records are not rollback occasionally if exception are thrown.
I have written a demo spring boot app(https://github.com/jmbkeyes/shardingsphere-jdbc-seata-demo), attached the 3 test database in \db\test_db_with_data.sql, and sharding-

[2021-02-25 05:33] terrymanu commented on #9413
What is the SQL?

[2021-02-25 05:49] jingshanglu commented on #9413
It has been fix in 5.0.0-alpha version.

[2021-02-25 05:56] terrymanu commented on #9381
Sure, good suggestion, we are consider about change the class name for more make sense

[2021-02-25 05:58] #9363 closed

[2021-02-25 06:01] terrymanu commented on #9356
NullPointerException thrown is not expected behaviour, it is better to throw correct exception

[2021-02-25 06:03] terrymanu commented on #9356
Can you provide the code to reproduce it?

[2021-02-25 06:05] terrymanu commented on #9337
What feature do you use, sharding or other?

[2021-02-25 06:06] ddacxhs commented on #9427
Ok, thank you

[2021-02-25 06:06] #9427 closed

[2021-02-25 06:06] terrymanu commented on #9336
It seems fix the problem in 5.0.0-alpha.
I have no idea to both keep old version and new feature.

[2021-02-25 06:07] terrymanu commented on #9335
No response

[2021-02-25 06:07] #9335 closed

[2021-02-25 06:32] dongzl commented on #9399
Hi @eschh19 , I will check this problem, if I want some other data, please help me, thanks!

[2021-02-25 07:23] yu199195 commented on #9447
@jmbkeyes  HI

1. about deadlock，The fewer rows you update, the less likely you are to deadlock.

2. i have no time to see you project, you can try to work it out yourself.

3.  you can see this project :  [transaction-example] (https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/transaction-example)

[2021-02-25 07:25] Joker1995 commented on #7523
There is my situation:
the sharding configuration as follow:
![image](https://user-images.githubusercontent.com/12840349/109117816-74da1a00-777d-11eb-93eb-074d80696836.png)

the error message as follow:
### Error updating database.  Cause: org.apache.shardingsphere.underlying.common.exception.ShardingSphereException: Can not update sharding key, logic table: [ad_user], column: [org.apache.sharding

[2021-02-25 07:31] yu199195 commented on #9381
I think, ShardingSphereDataSourceAutoConfiguration is  comply with Spring-Boot specification

[2021-02-25 07:40] valleyG opened #9504 "HashModShardingAlgorithm can not working!"
my yml setting：
          hash-mode-algorithm:
            type: HASH_MOD
            props:
              sharding-count: 10
Why is it by zero when doing routing?
![image](https://user-images.githubusercontent.com/37858395/109119395-95a36f00-777f-11eb-8341-a2a32c1c1434.png)
why this prop is 0：
no call init method?
How to solve the problem;
thinks!

[2021-02-25 07:48] yu199195 commented on #9381
@maxh4  thanks  good suggestion,   SpringBootConfiguration (old ) need init other bean to spring-boot, so  I think  named ShardingSphereAutoConfiguration  is reasonable. What do you think?

[2021-02-25 07:53] #9365 closed

[2021-02-25 09:29] #9381 closed

[2021-02-25 10:36] #9356 closed

[2021-02-26 01:12] mingqing6364 opened #9509 "in ShardingProxy-4.1.0 masterSlaveRule and encryptRule configuration cannot be enabled at the same time"
**Which version of ShardingSphere did you use?**
shardingsphere-4.1.0-sharding-proxy

**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-Proxy

**Expected behavior**
Load masterSlaveRule and encryptRule configuration.

**Actual behavior**
Just load masterSlaveRule configuration.

**Reason analyze (If you can)**
The code of read masterSlaveRule configuration

[2021-02-26 02:22] wangshihuyue commented on #234
武汉快特信息技术有限公司 www.qvodte.com
零售ERP库存核心业务

[2021-02-26 02:32] gfsamudra commented on #234
i already submit https://travelingpin.com but still not published official @terrymanu

[2021-02-26 02:49] tristaZero commented on #9504
Hi,

I guess it is simple for you to work out why the `shardingCount` = 0. Just set a breakpoint at `getShardingCount()`