[2020-08-16 07:55] vinceLin054 commented on #6881
![image](https://user-images.githubusercontent.com/52090552/90329591-c0468b00-dfd8-11ea-8a84-b08820a7eeda.png)

When I went into debug mode, I found that discoveroriginalParameters are 5 but insertStatementContext.columnNames are 7. This makes the replacedindexandparameters mappings mismatched.

[2020-08-16 08:05] terrymanu commented on #6855
No plan.
4mb is not un-acceptance size in current modern system.
Reuse groovy is the better way than develop a new language and library, User can learn groovy, but they don't won't learn a new language anymore.

[2020-08-16 08:05] #6855 closed

[2020-08-16 08:07] #6840 closed

[2020-08-16 08:08] terrymanu commented on #6838
What's mean `close sharing`
Maybe we need to change the title more clear before discuss.

[2020-08-16 08:12] terrymanu commented on #6680
Closed because of no response anymore

[2020-08-16 08:12] #6680 closed

[2020-08-16 08:14] #6629 closed

[2020-08-16 08:15] #6625 closed

[2020-08-16 08:16] terrymanu commented on #6464
Closed because of no response anymore

[2020-08-16 08:16] #6464 closed

[2020-08-16 08:19] terrymanu commented on #6219
Closed because of no response anymore.

[2020-08-16 08:19] #6219 closed

[2020-08-16 08:27] dongzl commented on #6655
I will fix it.

[2020-08-16 08:44] #6128 closed

[2020-08-16 08:45] terrymanu opened #6882 "Add test cases for InlineShardingAlgorithm's range sharding"

[2020-08-16 10:17] jingshanglu commented on #6469
@darkpssngr Sorry for late reply, can you show the sql?

[2020-08-16 10:25] WEIZIBIN commented on #6879
hi, how to introduce in the test case, can give me an existing example?
Interested in this issue.

[2020-08-16 13:41] yanyzy commented on #6852
The 4.1.1 version does not support shadow,  it will be release at 5.x.

[2020-08-16 14:48] #6848 closed

[2020-08-16 14:51] terrymanu commented on #6879
Please ref `AESEncryptAlgorithmTest`, use `ShardingSphereAlgorithmFactory.createAlgorithm` instead of `new AESEncryptAlgorithm()`

[2020-08-17 01:07] dmbj commented on #6833
@Lucas-307 io.netty.jar version in scaling lib:netty-all-4.1.42.Final.jar
pom.xml in master branch:
[code]

[2020-08-17 02:01] iamzxj opened #6886 "java.lang.Boolean cannot be cast to java.lang.Integer"
VERSION：4.0.0-RC2
[code]

[2020-08-17 02:08] iamzxj commented on #6886
I upgraded to 4.1.1 and the problem was solved

[2020-08-17 02:08] iamzxj commented on #6886
This version of 4.0.0-RC2 does have this problem, right?

[2020-08-17 02:17] WEIZIBIN commented on #6879
assign to me, thx!

[2020-08-17 02:20] gzdzss commented on #6882
assign to me , thanks

[2020-08-17 03:01] #6867 closed

[2020-08-17 03:06] gzdzss commented on #6877
assign to me, thanks

[2020-08-17 03:23] Lucas-307 commented on #6835
@WEIZIBIN you can create different encryptors for each, like this:
[code]

[2020-08-17 03:28] Lucas-307 commented on #6833
@dmbj NoSuchMethodError usually cause by wrong jar version. Could you please check it, or debug it if you can.

[2020-08-17 03:47] zhaopinglu opened #6890 "ss-proxy failed to handle tables which have minor difference in table name when retrieving table metadata."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-17 03:56] tristaZero commented on #6838
I see, that is why we took a lot of effort on Sharding parser. BTW, the master branch has more satisfying support for many complex SQL parsing. Please be patient for our next release.

Thanks,
Trista

[2020-08-17 04:19] tristaZero commented on #6856
Hi I am glad you can test your new sharding feature on the master branch. @cobstergo

To simplify the user's work for configuration, we did a lot of work. Besides, we also add `autoShardingTable` which does not need to configure the `actualDataNodes` as before.
Currently, we are working on the doc, but still ongoing. If you want to find the configuration example, maybe [test config](https://github

[2020-08-17 04:29] #6866 closed

[2020-08-17 04:30] #6875 closed

[2020-08-17 04:30] #6876 closed

[2020-08-17 04:48] tuohai666 commented on #5978
@sandynz This slide for reference:
![image](https://user-images.githubusercontent.com/24643893/90358212-f4c55000-e087-11ea-902b-e8a1ea8bea23.png)

[2020-08-17 05:52] sandynz commented on #5978
Got it, thanks.

[2020-08-17 05:55] diwayou commented on #234
大商天狗电子商务有限责任公司 https://m.51tiangou.com/

[2020-08-17 06:27] tristaZero commented on #6835
@WEIZIBIN Just a ping. What's your thought?
I think the `encrypt Rule` configuration will help you set the encrypt algorithm for specific tables and columns.

[2020-08-17 06:30] tristaZero commented on #6881
@vinceLin054 Hi thanks for your feedback.
This bug has been fixed on the `master branch` already. Please wait for our next release. Or you can have a try with the master branch.

[2020-08-17 06:32] tristaZero commented on #6886
@iamzxj Hi, You means upgrade solved your problem, right?
Then, do you think it is time for you to close this one?

[2020-08-17 06:37] tristaZero commented on #6890
Hi @zhaopinglu
Are both `TEST_01` and `TEST__1 `  actual tables for a `logic table`? If so, `TEST_01` and `TEST__1 ` are supposed to have the same table structure, aren't they?

[2020-08-17 06:44] vinceLin054 commented on #6881
Thank you for your reply, waiting for your next release.

[2020-08-17 06:55] #6881 closed

[2020-08-17 06:55] wang7241 opened #6892 "Use ShardingSphere-JDBC4.1.1 can not print actual route log"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-17 06:57] zhaopinglu commented on #6890
TEST_01 and TEST__1 are 2 actual tables. They  don't have any relationship. I guess when matching table name, ss-proxy forgot to escape the "_" char which actually match any single char.

[2020-08-17 07:11] WEIZIBIN commented on #6835
It works. but this means that an encrypted field requires a period of configuration, too many configuration for me.
If SPI method has a context would help me a lot.

[2020-08-17 07:12] WEIZIBIN commented on #6835
[code]
My current config use props to specific table and name is ok

[2020-08-17 08:00] AINewBegin opened #6894 "Not support mysql case when"
## Question

Not support mysql case when

when i use case when in my sql , throw error

[2020-08-17 09:01] #5978 closed

[2020-08-17 09:26] tuohai666 commented on #6839
ColumnMetaDataLoader in SQL Parser module only accept database type input, no more information (MODE=MySQL) will be transferred.
If ColumnMetaDataLoader receive an H2 type, delimiter (") will be added.

[2020-08-17 09:30] kimmking commented on #6838
There will be some side-effects without parsing in read/write-split case.

[2020-08-17 11:31] ccitt commented on #234
途家民宿+http://www.tujia.com/

[2020-08-17 11:37] #6882 closed

[2020-08-17 11:39] #6878 closed

[2020-08-17 11:39] #6877 closed

[2020-08-17 11:41] #6865 closed

[2020-08-17 11:44] satheesh-moorthy opened #6898 "Force specifying hint when using hint sharding strategy configuration"
I am using sharding jdbc version 4.1.1

I have a table employee and it is sharded between 3 databases. It is represent by 3 datasources.

I am using HintShardingStrategyConfiguration as database sharding strategy. It is only database sharding.

Everything works fine when I set hint, but if hint is not set and a query is performed then all the 3 datasources are queried. I want to control this behav

[2020-08-17 12:46] peng-ran opened #6899 "Unsupported subqueries"
SELECT COUNT(1)
FROM (
	SELECT *
	FROM t_demo o
) as a
I use Hint for table sharding, but this SQL statement is not sharding.
version：4.1.1

[2020-08-17 14:12] z3sm commented on #6454
我也遇到同样的问题，SQL：
SELECT id, module_code AS moduleCode, object_id AS objectId, attr_id AS attrId, attr_code AS attrCode
	, attr_value AS attrValue, attr_value_char AS attrValueChar, attr_value_binary AS attrValueBinary, attr_locale AS attrLocale, attr_relate_value AS attrRelateValue
	, create_date AS createDate, update_date AS updateDate, create_user AS createUser, update_user AS updateUser
FROM t_sy

[2020-08-17 14:40] strongduanmu commented on #6899
@peng-ran The 4.x release version does not support `subquery ` very well, please wait for the 5.x release version. Currently, more subquery features are being implemented, please refer to #6497 .

[2020-08-17 15:08] peng-ran opened #6902 "Ignore the case of the logical table name when get sharding value from Hint"
![image](https://user-images.githubusercontent.com/35087778/90411152-e9047880-e0dd-11ea-9bb7-fc7ab73f112c.png)

Can ignore the case of the logical table name when get sharding value from Hint? Because table name in SQL has uppercase or lowercase.

[2020-08-17 15:10] peng-ran commented on #6899
@strongduanmu Thank you

[2020-08-17 15:10] #6899 closed

[2020-08-17 15:13] peng-ran commented on #6902
![image](https://user-images.githubusercontent.com/35087778/90411925-0ab22f80-e0df-11ea-92ed-15e5751a9240.png)
I have to do it now, otherwise I can't execute it correctly，Which friend has a better way？

[2020-08-18 01:54] Lucas-307 commented on #6835
Good idea.

[2020-08-18 02:18] menghaoranss commented on #6892
Could you format the yaml configuration.

[2020-08-18 02:29] menghaoranss commented on #6894
Please provide Sharding-JDBC or Proxy version,  complete SQL and detailed error log

[2020-08-18 02:34] oh-debug opened #6904 "About configuring Oracle single data source"
Version 4.1.0 used by shardingsphere, configure Oracle single data source error: invalid character. The same configuration can run normally using mysql
![TIM截图20200818102812](https://user-images.githubusercontent.com/53429744/90463442-8a6ee700-e13d-11ea-914a-a9e7c245f490.png)
------------The above is the configuration of mysql。
![TIM截图20200818103120](https://user-images.githubusercontent.com/53429

[2020-08-18 02:39] tristaZero commented on #6838
@zhangzl0119 Hi so do you think this issue is possible to be closed?

[2020-08-18 02:40] #6838 closed

[2020-08-18 02:42] #6835 closed

[2020-08-18 02:47] tristaZero commented on #6835
@WEIZIBIN For many users, they just want to give the configuration instead of the program. If there are many appropriate encrypted algorithms for users, they could simply focus on their configuration for tables and columns.

BTW, if you implement some powerful encrypted algorithms, welcome to contribute the community. :)

[2020-08-18 02:57] tristaZero commented on #6890
Hi @zhaopinglu Do you think it is possible to give it a deep debugging? Since we do not have the same test scenario with you, it is inefficient to look into this issue.
If you have any progress, welcome to share them here. Therefore we can locate the problem soon. :-)

Best,
Trista

[2020-08-18 03:01] oh-debug commented on #6904
It is normal to configure Oracle multiple data sources, but the same problem will occur when multiple data sources are switched to single data sources.

[2020-08-18 03:02] tristaZero commented on #6892
@wang7241
Hi, when you set `sql.show` = `true`, there are no changes for your log info? Does other configuration work well, except for `sql.show`?

[2020-08-18 03:05] wang7241 commented on #6892
Q:Hi, when you set sql.show = true, there are no changes for your log info?
A:Yes
Q:Does other configuration work well, except for sql.show?
A:Yes

[2020-08-18 03:07] wang7241 commented on #6892
OK,
spring:
  shardingsphere:
    datasource:
      default-data-source-name: ds0
      names: ds0
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbcUrl: jdbc:mysql://127.0.0.1:3306/fiforal_cw?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true&&useSSL=true
        username: root
        password: root
    sharding:

[2020-08-18 03:07] wang7241 commented on #6892
OK,
`spring:
  shardingsphere:
    datasource:
      default-data-source-name: ds0
      names: ds0
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbcUrl: jdbc:mysql://127.0.0.1:3306/fiforal_cw?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true&&useSSL=true
        username: root
        password: root
    sharding:

[2020-08-18 03:08] wang7241 commented on #6892
shardingsphere:
    datasource:
      default-data-source-name: ds0
      names: ds0
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbcUrl: jdbc:mysql://127.0.0.1:3306/fiforal_cw?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true&&useSSL=true
        username: root
        password: root
    sharding:
      props:

[2020-08-18 03:10] wang7241 commented on #6892
spring:
  shardingsphere:
    datasource:
      default-data-source-name: ds0
      names: ds0
      ds0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.jdbc.Driver
        jdbcUrl: jdbc:mysql://127.0.0.1:3306/fiforal_cw?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true&&useSSL=true
        username: root
        password: root
    sharding:

[2020-08-18 03:12] wang7241 commented on #6892
When I copied YAML in here, its formatting failed. I wonder why，if you need，i can sent it to your email

[2020-08-18 03:18] tristaZero commented on #6898
Hi @satheesh-moorthy ,

Thanks for your issue.

Firstly, suppose you do not set any values to `hintManger`, we can not `filter the target databases or tables` using these values. Therefore what you mentioned will follow.
Secondly, just out of my curiosity, why do you consider using [other sharding strategies](https://shardingsphere.apache.org/document/legacy/4.x/document/en/features/sharding/conce

[2020-08-18 03:25] tristaZero commented on #6902
Hi @peng-ran
I want to know that `HintManger` keeps the `logic table` as the same alphabet case as the user adds, right? Otherwise, does it capitalize or lower the character case?

[2020-08-18 03:26] menghaoranss commented on #6892
Yes, please send to menghaoranss@gmail.com .

[2020-08-18 03:30] tristaZero commented on #6904
Hi @oh-debug
Since your log did not show any detailed info for ShardingSphere, I can not locate this issue. Besides, my feeling is that there is something wrong with your configuration.
So, I suggest you check your configuration carefully and provide more detailed info next.

Thanks,
Trista

[2020-08-18 03:32] wang7241 commented on #6892
I have sent

[2020-08-18 03:35] menghaoranss commented on #6892
[code]

[2020-08-18 03:37] oh-debug commented on #6904
Okay, let me take a closer look. Thank you

[2020-08-18 03:38] oh-debug commented on #6904
Okay, let me take a closer look. Thank you

[2020-08-18 03:59] dmbj commented on #6833
because git clone too slow,I direct replace scaling lib `netty-all-4.1.42.Final.jar`->`netty-all-4.1.45.Final.jar`
it's work now,however i didn't get exact reason ，i suggest you could recheck maven dependency, hope it's helpful.

then i got an another MYSQL connection exception.
Gosh ,would you give some configuration guidance for me in this temp version? tks a lots~
[code]

[2020-08-18 04:01] menghaoranss commented on #6892
@wang7241 Please try again according to the configuration below

[code]

[2020-08-18 04:18] wang7241 commented on #6892
thank you it work

[2020-08-18 04:25] peng-ran commented on #6902
The logical table name is derived from the SQL being executed, and the MYSQL table name can then be case-insensitive. Sharding-jdbc cannot execute correctly if the table name in the EXECUTED SQL is uppercase and the table name added in the HintManager is lowercase.
@tristaZero

[2020-08-18 04:26] wang7241 commented on #6892
but it occur a new question that is my sql do not route sharding tables

[2020-08-18 04:26] wang7241 commented on #6892
it is means sharding tables does not work

[2020-08-18 04:35] wang7241 commented on #6892
it is means sharding tables does not work

[2020-08-18 04:35] #6892 closed

[2020-08-18 05:31] satheesh-moorthy commented on #6898
Hi @tristaZero

Thanks a lot for taking your time and clarifying.

Actually the application I am working on is more complex where the sharding column will not be present in SQL and we use separate lookup table to identify the shard based on metadata.

So we can only use hint strategy and not inline or standard. Using the metadata in the request we will use a lookup table to find the shard and set

[2020-08-18 05:45] owen200008 commented on #5063
I think this change is not correct
it is different  default and auto

this change is auto， not default。now it don't have default config.

some sql use TABLES, it will be error.
like: SELECT COUNT(*) FROM information_schema.TABLES WHERE TABLE_SCHEMA = 'canary' UNION SELECT COUNT(*) FROM information_schema.COLUMNS WHERE TABLE_SCHEMA = 'canary' UNION SELECT COUNT(*) FROM information_schema.ROUTINES W

[2020-08-18 06:17] wcsoft commented on #6902
@peng-ran

[2020-08-18 06:18] wcsoft commented on #6902
@peng-ran  could you provide version of Sharding-jdbc related the issue?
thx a lot.

[2020-08-18 06:20] lidonghai11 commented on #6684
Merge result of DDL is  accurate.  This issue does not exist

[2020-08-18 06:22] #6684 closed

[2020-08-18 06:37] dmbj commented on #6833
so proxy has same problem,need fix netty conflict jar problem

[2020-08-18 07:02] oh-debug commented on #6904
I updated the configuration and it ran successfully with multiple data sources. The configuration is as follows:

spring:
  shardingsphere:
    datasource:
      names: ds0,ds1
      ds0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: oracle.jdbc.driver.OracleDriver
        url: jdbc:oracle:thin:@//192.168.1.145:1521/orcl
        username: qsy_zc
        password:

[2020-08-18 07:32] terrymanu opened #6909 "Add more test cases for ShardingSpringNamespaceTest"
Please finished todo in ShardingSpringNamespaceTest

- [ ] assertModStrategy
- [ ] assertComplexStrategy
- [ ] assertHintStrategy
- [ ] assertIncrementAlgorithm
- [ ] assertDefaultKeyGenerator
- [ ] assertOrderKeyGenerator
- [ ] assertSimpleRule
- [ ] assertComplexRule
- [ ] assertBindingRule
- [ ] assertBroadcastRule
- [ ] assertAutoRule

[2020-08-18 07:39] tristaZero commented on #6898
Hi @satheesh-moorthy

If so, I am sorry that currently there is no other better way than setting `hint manager` to route SQLs for this `logic table`.
Please look at [Hint router](https://github.com/apache/shardingsphere/blob/f34ab740629545c530f26cc29eaf90ea64a8cf19/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-route/src/main/java/org/apache/shardingsphere/sharding/route/e

[2020-08-18 07:41] jian365066744 commented on #6909
please assign to me ,thanks

[2020-08-18 07:43] satheesh-moorthy commented on #6898
Hi @tristaZero

Thanks for clarifying. Appreciate your help

[2020-08-18 07:52] Lordeath opened #6910 "subquery does not work in 4.1.1"
exception was thrown when i excute this SQL:

`select a.XXX from (             select '1' as 'XXX' from dual         ) a         where a.XXX = 1
`
Its just an example, my bussiness situation is something like this

### this worked in 4.0.1 but not in 4.1.1
the exception message is: Can not find owner from table.

I read the document, and I found this should be supported, so this might be a BUG.
[h

[2020-08-18 07:59] #6841 closed

[2020-08-18 08:25] #6784 closed

[2020-08-18 08:30] tuohai666 opened #6912 "BaseIT.createTables:131 exception, support keyword table name for different databases"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-18 08:33] terrymanu commented on #6910
Too many issues about subquery, I just set this one as duplicated with #5925

[2020-08-18 08:33] #6910 closed

[2020-08-18 08:51] wcsoft commented on #6902
@peng-ran
Logic table should be kept as the same HintManger using, ShardingJDBC does not provide ability to ingore case insensitive for the scenario.
we provide unified approaches as the purpose oriented many kinds of databases such as Orace, MYSQL, H2 etc.

[2020-08-18 09:02] fantacy2001 opened #6913 "In condition of shardingjdbc, the 'autocommit' in the datasource configuration does not take effect"
i use sharding jdbc+mybatis+spring

sharding two db, one master two slave 。

spring config:

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="sqlSessionFactory" class="org

[2020-08-18 09:22] peng-ran commented on #6902
@wcsoft thanks

[2020-08-18 09:22] #6902 closed

[2020-08-18 09:29] jingshanglu commented on #6894
@AINewBegin Is it the same to #6753 ?

[2020-08-18 09:35] jingshanglu commented on #6843
It will be ok to set the outputfile path of antlr plugin on idea.
![image](https://user-images.githubusercontent.com/16559542/90497074-3da90180-e179-11ea-8b2f-efd00c7b17d8.png)

[2020-08-18 09:45] tuohai666 commented on #6872
@sandynz The existing two problems have been fixed. You can go ahead now.

[2020-08-18 09:54] #6912 closed

[2020-08-18 10:08] sandynz commented on #6872
Ok, thanks.

[2020-08-18 10:29] #6898 closed

[2020-08-18 11:35] 291277058 opened #6918 "Discussion:Will shardingsphere support update sql with table select function"
[#6551](https://github.com/apache/shardingsphere/issues/6551)
I read the source code and than I found that shardingsphere does not support table select when executed update sql.
@ see `OptimizeEngineFactory`
Every time update the entity the update sql execute in each table,that is not nesscessary and can be avoid.
So , I think we can change the OptimizeEngine code and support the update sharding f

[2020-08-18 13:24] jackie007zzc opened #6919 "the 'autoCommit' of ShardingConnection do not support"
i use shardingsphere+mybatis+spring

i want to use autocommit property that configed in the config file，but DataSourceTransactionManager use the autocommit property from the ShardingConnection in the method of doBegin，therefore  we can not use the customized autocommit property from the dataSourceMap in the ShardingConnection

DataSourceTransactionManager doBegin
@Override
	protected void doBegin(

[2020-08-18 14:19] wcsoft commented on #6919
@jackie007zzc

Thx to report the issue!
could you provide the config file and version of shardingsphere?

[2020-08-18 15:32] terrymanu opened #6920 "Add test case for shardingsphere-shadow-spring-boot-starter"
The module `shardingsphere-shadow-spring-boot-starter` is missing test cases.
Please add test case for spring boot starter.

FYI:
Module: shardingsphere-master-slave-spring-boot-starter
Class: `MasterSlaveSpringBootAlgorithmProviderBeanTest` and `MasterSlaveSpringBootConditionTest`

[2020-08-18 15:58] terrymanu commented on #6918
What's mean table select function? Could you give a example?

[2020-08-18 16:02] terrymanu commented on #6551
The sharding column you configured are `create_date and orderno`, but the update SQL is updated by id: `where id=?`

The full route is expected behaviour. What is your expected?

[2020-08-19 00:57] whg903 commented on #6839
I feel disappointed for won't fix this bug.
Version 4.0.0 is ok, but 4.1.0+ has this problem, that's important for unit test.
Why not change "String databaseType" to "DatabaseType databaseType" of TableMetaDataLoader.load and ColumnMetaDataLoader.load, then can use "instanceof BranchDatabaseType" and "BranchDatabaseType.getTrunkDatabaseType" to get actual database type info.
If H2 mysql mode is no

[2020-08-19 01:29] gzdzss commented on #6920
assign to me , thanks

[2020-08-19 02:02] fantacy2001 commented on #6919
It's similar to my question，#6913。
Many single update operations do not add transactions，I want to know how to solve this problem.

[2020-08-19 02:09] jackie007zzc commented on #6919
spring.shardingsphere.datasource.accounts_0_master.type: com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.accounts_0_master.jdbc-url: ****
spring.shardingsphere.datasource.accounts_0_master.username: ****
spring.shardingsphere.datasource.accounts_0_master.password: ****
spring.shardingsphere.datasource.accounts_0_master.minimum-idle: 10
spring.shardingsphere.datasource.accounts_

[2020-08-19 02:17] 291277058 commented on #6918
When I update a entity ,the logic sql look like this
`update order_item set app_id=?, create_date=?, order_info=?, orderno=?, original_price=?, pay_date=?, pay_source=?, price=?, product_list=?, source_orderno=?, status=?, user_id=? where id=?`
It canbe understand that sql will execute in all table shard, I set other field as the key to sharding table,not the id.
But update sql is special,it can b

[2020-08-19 02:21] 291277058 commented on #6551
current version 4.0.0-RC1.
[discussion link](https://github.com/apache/shardingsphere/issues/6918)

[2020-08-19 03:22] menghaoranss opened #6923 "Support metrics for ShardingSphere-JDBC"
- [ ] 1. Yaml
- [ ] 2. Spring Boot
- [ ] 3. Spring Namespace

[2020-08-19 03:22] tuohai666 commented on #6839
@whg903 You are right, let's reopen this issue. Since you have analyzed this problem, would you like to submit a pull request?

[2020-08-19 03:26] whg903 commented on #6839
OK, I'll try submit pull request this weekend, tks.

[2020-08-19 03:43] tuohai666 commented on #6839
I found that integrated test of ShardingSphere has already used MODE=MySQ, and didn't meet problem.
It seems like version 1.4.196 is OK. What's your h2 version?

[2020-08-19 03:50] cobstergo commented on #6856
@tristaZero ok.thank for your help

[2020-08-19 03:50] #6856 closed

[2020-08-19 03:57] yxb-git opened #6924 "The same transaction, the data is inconsistent"
Hello,
I use sharding-proxy to directly link proxy database.
In the same transaction, query and update access different databases.
Example:
        tx := apiDB.Begin()
	var user TabUser
	tx.Where("id = ?", 1).First(&user)
	tx.Model(&user).Where("id = ?", 1).Updates(map[string]interface{}{"age": 0})
	tx.Commit()
Is there any problem with my approach,
Thanks

[2020-08-19 04:15] tuohai666 commented on #6839
Strange, I have tested from 1.1.x to 1.4.x, but can't reproduce this problem.

[2020-08-19 04:37] #6920 closed

[2020-08-19 06:18] whg903 commented on #6839
@tuohai666 Thank you very much.
After test more, I finally found:
1. h2 1.4.196 and before not support mysql ` ` syntax.
2. h2 1.4.197~1.4199 support `` but not ""
3. h2 1.4.200 all is ok
Unfortunately the version i am using is 1.4.199.
After update to 1.4.200 , the problem disappeared
I can't find  related issue or pr in changelog of h2 1.4.200.

[2020-08-19 06:23] tristaZero commented on #6918
@291277058 Hi thanks for your discussion.
Sorry, but I can not catch you with these...fragmented expressions.
What I got currently is that you want to avoid all-routing even though there is no `sharding key` in where condition, right?
But I can not get your explanation for the solution; I mean how to get it.

If English communication is a little bit difficult for you, maybe some key code clips wil

[2020-08-19 06:32] #6753 closed

[2020-08-19 06:36] #6869 closed

[2020-08-19 06:37] tristaZero commented on #6913
@cherrylzhao This issue has a clear description. Could you give it a look?

[2020-08-19 06:37] terrymanu opened #6926 "Add more assertions of MasterSlaveSpringBootStarterTest"
Please add more assertions of MasterSlave Rule Configuration

[2020-08-19 06:39] terrymanu opened #6927 "Add more assertions of ShardingSpringBootStarterTest"
Please add more assertions of Sharding Rule Configuration

[2020-08-19 06:45] tristaZero commented on #6904
Hi @oh-debug
1. Could you provide a more detailed log? I can not get the helpful info from your previous log.
2. When did the exception come out? At the start, or SQL execution?
3. Is it possible for you to debug somehow?

[2020-08-19 06:53] haocao commented on #6919
The problem is org.springframework.jdbc.datasource.DataSourceTransactionManager using ShardingConnection's autoCommit to justify, but not the actual datasource's auto-commit.
![image](https://user-images.githubusercontent.com/687732/90602009-9e911200-e22b-11ea-9868-f0a9c5ec5534.png)

[2020-08-19 06:54] tristaZero commented on #6924
Hi @yxb-git
Your comment is insufficient. Please set `sql.show` = true to get the log and configuration.

Thanks,
Trista

[2020-08-19 06:59] tuohai666 commented on #6870
@terrymanu

I have checked the repo (https://repository.apache.org/). For legacy version (4.0.0 RC1 ~ 4.0.0), there're Sharding-Proxy's jar. But there's no ShardingSphere-Proxy's jar for new versions yet.

We have set `<maven.deploy.skip>true</maven.deploy.skip>` for ShardingSphere-Proxy module since 4.1.0. So there're no jar for proxy in 4.1.0/4.1.1 and the following 5.0.0-RC1.

[2020-08-19 07:03] #6870 closed

[2020-08-19 07:05] wcsoft commented on #6924
@yxb-git
We feel sorry that it's hardly to find any clue about ShardingSphere from the code you provide. Could you provide more details such as yaml configuraion, version of ShardingProxy etc.

It's pleasure you can type more information in format like this:

- What's the issue?
- How to reproduce it?
- What's the actural result?
- What's your expectation?
-  What's the version of ShardingSphere
-

[2020-08-19 07:34] jian365066744 commented on #6909
liang,when I start run test ,so many package and class  miss,are you sure ShardingSpringNamespaceTest can run ?
![image](https://user-images.githubusercontent.com/35258103/90605825-79070700-e231-11ea-8113-39f1522953ef.png)

[2020-08-19 07:47] tuohai666 commented on #6839
It seems like H2 decide to support both from 1.4.200. So, let's change to 1.4.200 to resolve this problem. What do you think?

[2020-08-19 08:01] 291277058 opened #6931 "Question:Maven repository about shardingsphere-jdbc-core-spring-boot-starter"
[shardingsphere4.1.1 doc about spring boot config](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/)

![image](https://user-images.githubusercontent.com/33279488/90608401-2a5b6c00-e235-11ea-9d6e-1230ad14d0fc.png)

I can not find the maven info on the [repository](https://mvnrepository.com/)

Which repository should we use.

[2020-08-19 08:13] jacksparrow414 commented on #6909
@terrymanu @jian365066744 Can we work together to finish it？if we can,assign to me,please :smile:

[2020-08-19 08:38] jian365066744 commented on #6909
@jacksparrow414  I am ok ,left half task to you ,but it seems lack of package and class ,so the ShardingSpringNamespaceTest'case can't run and get error ,you can try run firstly.

[2020-08-19 08:44] jacksparrow414 commented on #6909
thanks,  I'll finish **the last five**.
 you could run **mvn install** if someclass can't find

[2020-08-19 08:59] zhaopinglu commented on #6890
It's very easy to replicate this issue. Just create 2 tables then start up ss-proxy, you will see the error in log right away.

1. Create 2 tables as below:
drop table if exists TEST_01;
CREATE TABLE TEST_01 (
ID varchar(32) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

drop table if exists TEST__1;
CREATE TABLE TEST__1 (
ID1 varchar(32) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb

[2020-08-19 09:15] terrymanu opened #6933 "Add rules assertions for SpringBootStarterTest"
- [x] Add sharding rule assertion
- [x] Add encrypt rule assertion
- [x] Add master-slave rule configuration in `application-common.properties`
- [x] Add master-slave rule assertion
- [x] Add shadow rule configuration in `application-common.properties`
- [x] Add shadow rule assertion

[2020-08-19 09:21] menghaoranss commented on #6931
Please refer to [document for 4.x](https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-jdbc/usage/sharding/)

[2020-08-19 09:22] yema00 commented on #2712
this works for me.

[2020-08-19 09:23] nikita-tyagi commented on #6933
Can you please assign this issue to me? Thank you!

[2020-08-19 09:33] 291277058 commented on #6918
Not correctly,but very close. I want avoid all routing when the sql is `update **** where id=*`.
this sql can contain `sharding key` like `update * set shardingkey=* * where id=*`.
I think it canbe down so I open the issue.

[2020-08-19 10:05] zhaopinglu opened #6938 "ss-proxy 4.1.1 doesn't support "WHERE (( USER, HOST ) IN (( 'root', 'localhost' ),( '', '' )))""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-19 10:09] gzdzss commented on #6933
assign to me， thanks

[2020-08-19 10:15] #6731 closed

[2020-08-19 10:20] sandynz opened #6939 "Parameterized limit in update/delete statement doesn't work on MySQL proxy"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Sql could be executed correctly, just like MySQL 5.7 server.

### Actual behavior
Exception thrown:
[code]

### Reason analyze (If you can)
[code]

[code]

### Steps to reproduce the behavior, suc

[2020-08-19 10:27] jian365066744 commented on #6926
please assign to me

[2020-08-19 12:11] jacksparrow414 commented on #6909
- [x] assertSimpleRule
  - [x] assertComplexRule
  - [x] assertBindingRule
  - [x] assertBroadcastRule
  - [x] assertAutoRule

[2020-08-19 12:51] sandynz opened #6942 "Parameterized ON DUPLICATE KEY UPDATE in insert statement doesn't work on MySQL proxy"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Sql could be executed correctly, just like MySQL 5.7 server.

### Actual behavior
Exception thrown:
[code]

### Reason analyze (If you can)
[code]

[code]

### Steps to reproduce the behavior, suc

[2020-08-19 14:49] sandynz opened #6943 "PostgreSQL current login user's password changed by DCL integration test"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Keep original password unchanged.

### Actual behavior
DCL integration test hang up.

From PostgreSQL log `postgresql-2020-08-18_071719`:
[code]

### Reason analyze (If you can)
ALTE

[2020-08-19 15:05] sandynz commented on #6943
Since PosgreSQL account `postgres`'s password may be different on different environments, once password is changed, it can't be recovered by integration test itself.

Possible solution:
- Keep current login user (admin account used by jdbc) 's password unchanged.
- ALTER PASSWORD could be tested on test account created by integration test itself.

[2020-08-19 22:57] taojintianxia commented on #6927
assign to me

[2020-08-20 02:04] RafaelGuo opened #6946 "自定义分片算法不生效"
我实现PreciseShardingAlgorithm接口，写了自己的分片算法，但是并未按照我指定的算法进行路由，who can help me?

[2020-08-20 02:05] judakun opened #6947 "sharding-proxy can't load metadata automatic"
## sharding-proxy can't load metadata automatic

**Description:** My project uses HA architecture, and custom registry to instead of zookeeper. I use one of the sharding-proxy to execute DDL statements, but another sharding-proxy can't synchronize data automatic. When I'm doing high-availability switching, must be to restart this sharding-proxy to load data. So i need help from technologist.

[2020-08-20 02:22] strongduanmu commented on #6942
@sandynz Hi, Can you provide your table schema and sharding configuration? I have used the master branch to test, the `INSERT INTO ... ON DUPLICATE KEY UPDATE ...` statement can be executed normally.

[2020-08-20 02:51] strongduanmu commented on #6939
@sandynz Hi, I have used the master branch to test this exception, but it cat not be reproduced. Can you try it with the latest code of the master branch?

[2020-08-20 03:06] tristaZero commented on #6938
@zhaopinglu Hi You mean the SQL below runs well for MySQL but badly for ShardingProxy?

How about the following one? @jingshanglu Do you think it can work fine in our `master branch`?

[2020-08-20 03:07] tristaZero commented on #6939
@strongduanmu Nice job!

[2020-08-20 03:19] tristaZero commented on #6943
@sandynz Hi thanks for your issue and PR. Just to confirm, you can not install the ShardingSphere project due to the configuration for PostgreSQL?
But Sorry, I can not get the point from your PR. How could an added` SQL case` solve your issue?

[2020-08-20 03:20] wcsoft commented on #6947
@judakun

Thx to report the issue!
From the description of the issue, executing DDL statements from a sharding-proxy is not synchronized automatically to the onther one, right? could you provide more detail about it?

It's pleasure you can type more information in format like this:

- What's the issue?
- How to reproduce it?
- What's the actural result?
- What's your expectation?
- What's the vers

[2020-08-20 03:21] tristaZero commented on #6946
Hi @RafaelGuo Sorry, I have to say this is an international community, we only welcome the issues and PRs in English.

[2020-08-20 03:21] #6946 closed

[2020-08-20 03:24] tristaZero commented on #6947
@judakun Hi

Could you clarify this statement? Does your custom registry implement `OrchestrationRepository` interface? Did you configure the `orchestration` in the YAML file?

[2020-08-20 03:25] #6852 closed

[2020-08-20 03:31] RafaelGuo opened #6948 "PreciseShardingAlgorithm does not work"
I implements PreciseShardingAlgorithm interface, but it does not work, who can give me a help?

[2020-08-20 04:05] tristaZero commented on #6918
Hi@291277058

Thanks for your clarification. Now, much clear.
However, that will get the wrong route result, IMO.
Suppose the sharding algorithm is mod(2) for `sharding key`, then `A` DB is for records with even sharding key, and `B` DB is for those with odd sharding key.

Let's take `set shardingKey= 1 where id = 0`  for example.
There may be a record whose id =0 and shardingKey = 0 (See, target

[2020-08-20 04:09] tristaZero commented on #6890
@wcsoft Could you give it a look using the master branch?

[2020-08-20 04:30] 291277058 commented on #6918
I can understand，And as I explain before shardingkey should not update value(not forbiden update in the sql,just forbiden update the value of the sharding key). Value change will cause item maybe move to another table, shardingkey definitely not allow change value,but not forbiden to update.
Why I want to update the field in sql and not declear it after the `where` word.
In jpa api save method gen

[2020-08-20 04:45] zhaopinglu commented on #6938
Yes. Exactly.
Both 2 SQLs run well on MySQL (5.7.31) directly, but run to fail on ss-proxy 4.1.1

BTW, is there a guide described how to build ss-proxy from master branch? If yes, I'd like to test it.

[2020-08-20 04:51] strongduanmu commented on #6938
@zhaopinglu You can refer to this [document](https://github.com/apache/shardingsphere/blob/master/README_ZH.md#%E5%A6%82%E4%BD%95%E6%9E%84%E5%BB%BA).

[2020-08-20 05:49] sandynz commented on #6943
Hi @tristaZero , I was running DCL integration test these days, it blocked by this issue, since `postgresql.password` was changed by test case, then the later jdbc connection could not be created, and integration test broken.

Related env.properties configurations:
[code]

This test case is: `<dcl-test-case sql="ALTER USER CURRENT_USER WITH ENCRYPTED PASSWORD 'password'" db-types="PostgreSQL"/>`.

[2020-08-20 05:58] jingshanglu commented on #6938
@zhaopinglu This involves the definition of statement, and  is being discussed.

[2020-08-20 06:12] jacksparrow414 commented on #6948
@RafaelGuo could give more details ?

[2020-08-20 06:31] Hilary0511 opened #6949 "Packaging code will report this error"
## Question

Packaging code will report this error

[INFO] shardingsphere-integration-test .................... SUCCESS [  0.086 s]
[INFO] shardingsphere-test-fixture ........................ SUCCESS [  0.086 s]
[INFO] shardingsphere-proxy-docker-build .................. FAILURE [  0.020 s]
[INFO] shardingsphere-test-suite .......................... SKIPPED
[INFO] shardingsphere-distribution .....

[2020-08-20 06:36] haocao commented on #6919
I think this issue could be closed, one possible solution is to add autoCommit into HintManager, and use it to change ShardingConnection's autoCommit.

[2020-08-20 06:48] sandynz commented on #6942
Hi @strongduanmu , I tested it on lastest master branch again, commit: bfb1486549e9908f8784210fe2100f1c5fdd212d (2020-08-19), run `org.apache.shardingsphere.proxy.Bootstrap`, it doesn't work.

My config-sharding.yaml
[code]

My database:
[code]

My client test code snippet:
[code]

[2020-08-20 06:49] sandynz commented on #6939
Hi @strongduanmu , I tested it on lastest master branch again, commit: bfb1486549e9908f8784210fe2100f1c5fdd212d (2020-08-19), run `org.apache.shardingsphere.proxy.Bootstrap`, it doesn't work.

My config-sharding.yaml
[code]

My database:
[code]

My client test code snippet:
[code]

[2020-08-20 07:11] judakun commented on #6947
@wcsoft ok

- What's the issue?
sharding-proxy can't load metadata automatic. Double sharding-proxy use one custom registry, and watch the same data.
I changed the rules of the registry, and both of them can listen in and get the data. I use one of sharding-proxys to execute DDL, but another sharding-proxy can't operate these tables, sametimes can't load these tables.  when i restart it, it's ok.

[2020-08-20 07:16] RafaelGuo commented on #6948
now, I have three tables: sns_resource_basic, sns_resource_cache, sns_resource_essay. When i insert data to these tables, data should be inserted to a same database, sharding0 or sharding1, but In fact，data is insert to two deffierent databases. Please help me to check it.

1. my class
`public class CustomPreciseShardingAlgorithm implements PreciseShardingAlgorithm<String> {

    private static fi

[2020-08-20 07:26] judakun commented on #6947
@tristaZero
server.yaml
![image](https://user-images.githubusercontent.com/59358145/90729233-d6b25680-e2f8-11ea-8c3e-2f453ab55c45.png)
**OrchestrationRepository**shardingSphere 4.0.0 can't find this class

**My custom registry**
`public final class CuratorZookeeperCenterRepository implements ConfigCenterRepository, RegistryCenterRepository {}`

[2020-08-20 07:45] menghaoranss commented on #6931
There is no response, we will close it .

[2020-08-20 07:45] #6931 closed

[2020-08-20 07:52] tristaZero commented on #5366
Hi @leego86 Sorry for my late response.

Looking at your debugging, It seems you located the cause, didn't you?
Is there any progress for this issue. Besides, your issue is related to #6895.

Considering the serious effect on the users, it is expected to figure them out entirely before the next release. Could you give us a hand?

Waiting for your reply.

Best,
Trista

[2020-08-20 08:04] wcsoft commented on #6949
@Hilary0511

[2020-08-20 08:12] xlxomg commented on #6061
I had this problem too, and it happened occasionally  (Shardingproxy version: 4.1.1)

[2020-08-20 08:23] strongduanmu commented on #6942
@sandynz Thank you for your reply, I will test it again!

[2020-08-20 08:25] strongduanmu commented on #6939
@sandynz I will test it again!

[2020-08-20 08:31] wcsoft commented on #6947
@tuohai666

Please have a look at the issue.

[2020-08-20 08:47] xlxomg commented on #6061
I found the general reason. I used Navicat for mysql 12, and I can connect again after I restart Navicat, or I can connect with mysql command (translation software).

[2020-08-20 09:13] Hilary0511 commented on #6949
The branch is master；

[2020-08-20 09:15] Hilary0511 commented on #6949
Can you send me a copy of your package to my email address? 465585935 @qq.com

[2020-08-20 10:39] tristaZero commented on #6943
@sandynz Hi thanks for your clarification!
Got it.  I think `MySQL` TESTS have the same issue as well. My suggestions are,
First, could you look at how `MySQL` tests deal with this issue in the same `test-case` file?
Second, do you think it is better to test the relevant SQL case with another new `user` or `role`?

[2020-08-20 11:44] Vantza commented on #6454
just as DATEDIFF() in mysql.

[2020-08-20 12:07] sandynz commented on #6943
Hi @tristaZero , I've had a look at `dcl-integrate-test-cases.xml` and `authority.xml`.
- MySQL has no alter current login user's password test case
- It's better to test with new user. `user_dev` in `<dcl-test-case sql="ALTER USER user_dev WITH ENCRYPTED PASSWORD 'password'" db-types="PostgreSQL"/>` is a new user defined in `authority.xml`: `<sql>CREATE USER user_dev PASSWORD 'passwd_dev'</sql>`

[2020-08-20 12:16] Vantza commented on #6454
same issue, and I tried a simple sql as below:
` SELECT * FROM idt_user
  WHERE USER_UID = #{user.uid}
  and 1 between 0 and 2`

and it reports

`Caused by: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.LiteralExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment
	at org.apache.shardingsphere.s

[2020-08-20 12:25] jacksparrow414 commented on #6948
@RafaelGuo hi, I use your config ,use you code, use the same res_id,data inserted to the same database.
![Xnip2020-08-20_20-23-33](https://user-images.githubusercontent.com/33389378/90769674-3160a800-e323-11ea-88bd-0b4708532e8d.jpg)

[2020-08-20 12:37] RafaelGuo commented on #6948
really? could you send your code to me? my email: 1412760381@qq.com

[2020-08-20 12:38] RafaelGuo commented on #6948
@jacksparrow414 really? could you send your code to me? my email: 1412760381@qq.com

[2020-08-20 13:09] wcsoft commented on #6949
@Hilary0511
Do you pull the latest code of master branch?
Could you try "mvn clean install" instead of running serveral mvn commands?

[2020-08-20 14:56] gokulsan opened #6957 "How can we apply ShardingSphere for Decentralised Databases?"
I would like to scale decentralized databases such as OrbitDB, GunDB, etc. using Apache Sharding Sphere. These decentralised databases have redundant database nodes acting as replicated state machines. Is it feasible with Sharding Sphere?

[2020-08-20 15:23] #6909 closed

[2020-08-20 15:37] strongduanmu commented on #6942
@sandynz Thank you for the example, and I have reproduced this exception. The reason for this problem is that the value in the `on duplicate key statement` is parsed twice, therefore the `parametersCount` is greater than the actual value by 1.
I will fix this problem as soon as possible.

[2020-08-21 00:52] strongduanmu commented on #6939
@sandynz Now the `update statement` and `delete statement` do not support limit clause parameterized parse, and I will try to implement this feature. Thanks again for your feedback. 😀

[2020-08-21 00:56] Hilary0511 commented on #6949
Yes, I pulled the latest code of master branch.
Using the "mvn clean install" command reports the following error
![image](https://user-images.githubusercontent.com/33475609/90840206-f34b9e80-e38b-11ea-9fed-e26699bdda31.png)

[2020-08-21 01:25] Hilary0511 commented on #6949
OK, it is packed.it may be that there is Chinese in the path as the package failed.
THX.

[2020-08-21 02:01] Hilary0511 commented on #6949
Now I have packed the bags but I can't find these two bags as shown in the picture. Could you please help me check the positions of these two bags?
![image](https://user-images.githubusercontent.com/33475609/90843820-13cc2680-e395-11ea-8b05-cc06d539be98.png)

[2020-08-21 03:01] tristaZero commented on #6947
Hi @judakun
Thanks for your comments.

ShardingSphere has `CuratorZookeeper` for `CenterRepository` already. Why do not you use the implement provided by   ShardingSphere?

[2020-08-21 03:03] tristaZero commented on #6454
@z3sm Presently, `WHERE (object_id, attr_code) IN ((?, ?), (?, ?), (?, ?))` is unsupported. Sorry for  that.

[2020-08-21 03:03] #6454 closed

[2020-08-21 03:09] tristaZero commented on #6458
Hi @johnny2002

It is a friendly ping.
Could you point the location of the statements below?
So we can fix them to avoid users' confusion like you. Plus, it will be a volunteer task for the community. If you like, then welcome your PR.

[2020-08-21 03:15] tristaZero commented on #6939
@strongduanmu Very appreciated your initiative. Moreover, please involves more in **Our** community. :-)

[2020-08-21 03:21] tristaZero commented on #6943
@sandynz Yep, that is precisely expected. Look forward to the relevant modification for your PR. :-)

Best,
Trista

[2020-08-21 03:25] #6839 closed

[2020-08-21 03:27] tristaZero commented on #6948
@jacksparrow414 Very appreciated your time to answer questions, nice job. :-)
Your work will benefit `OUR` community.

Thanks,
Trista

[2020-08-21 04:11] #6943 closed

[2020-08-21 04:20] tristaZero commented on #6957
Hi @gokulsan, Thanks for your attention.

Since I am not familiar with `OrbitDB`or `GunDB`, I am not sure whether my explanation is accurate. If I miss something, welcome your comment.

Actually, the main aim of `Apache ShardingSphere` is to make the traditional DBMS like `MySQL`, `PostgreSQL`, `Oracle`, `SQLServer` has the scalability or turn them to `distributed databases`.
Base on that, my answ

[2020-08-21 04:25] #6942 closed

[2020-08-21 04:39] sandynz commented on #6943
Hi @tristaZero , I copied a wrong case in previous comment, there is `<dcl-test-case sql="ALTER USER user_dev WITH ENCRYPTED PASSWORD 'password'" db-types="PostgreSQL"/>` in `dcl-integrate-test-cases.xml`.

[2020-08-21 05:47] zhaopinglu commented on #6938
@tristaZero @jingshanglu , Just built ss-proxy 5.0.0 RC1 from master branch and tested the sql. The result is same. The SQL is not supported.

[2020-08-21 05:52] zhaopinglu commented on #6938
Btw, Another issue in ss-proxy 5.0.0 RC1:
It doesn't support "select current_user();" . But I didn't see this issue in ss-proxy 4.1.1.
So maybe ss-proxy 5.0.0 RC1 has a regression issue for supporting "select current_user();".

[2020-08-21 05:55] tuohai666 commented on #6943
It make sense to remove the **CURRENT_USER** case.

[2020-08-21 06:28] HanKaiqiang opened #6964 "How to achieve the effect of mandatory routing for all tables when the database is forcibly routed"
## Question

I want to use forced routing to use the database on another server, but the tables of the two databases are not much the same, what should I do to make all tables use forced routing instead of configuring logical tables.

At the same time, the main library is also equipped with read-write separation

[2020-08-21 06:40] #6729 closed

[2020-08-21 06:44] tuohai666 commented on #6579
Hi @sandynz , the blocked issue has been fixed.

[2020-08-21 07:03] chana71 opened #6967 "about "not support sql contains schema""
## Question
hi,
the following is described in the doc:

our application were build above two schema's data in one database. when we transform from mysql to sharding-proxy, we map each schema to one datasource in <proxy>(is this the right way?). If we do so, there leave many sql contains schema which will not work in sharding-proxy, which will report 'table doesn't exist'. Then my question is how t

[2020-08-21 07:19] #6919 closed

[2020-08-21 07:45] jacksparrow414 commented on #6948
@tristaZero Grow with the community  :smile:

[2020-08-21 07:47] tristaZero opened #6970 "schemaContext status synchronized in BackendConnection"
Master branch.

Bug: Refer to the title.

[2020-08-21 07:48] #6970 closed

[2020-08-21 08:05] RafaelGuo commented on #6948
I find the reason why it is not work, because my configuration is wrong.
my config is: spring.shardingsphere.rules.sharding.tables.sns_resource_cache.database-strategy.standard.sharding-column=res_id.
It should be spring.shardingsphere.sharding.tables.sns_resource_essay.database-strategy.standard.sharding-column=res_id,
![image](https://user-images.githubusercontent.com/28351792/90867514-13994e80-

[2020-08-21 08:07] RafaelGuo commented on #6948
@jacksparrow414
I find the reason why it is not work, because my configuration is wrong.
my config is: spring.shardingsphere.rules.sharding.tables.sns_resource_cache.database-strategy.standard.sharding-column=res_id.
It should be spring.shardingsphere.sharding.tables.sns_resource_essay.database-strategy.standard.sharding-column=res_id,

[2020-08-21 08:13] nicochow commented on #234
Keep https://www.keep.com/

[2020-08-21 08:33] tristaZero opened #6973 "Bad route result for `explain SQL`"
This bug is in the master branch.
Run ShardingProxy and execute `desc t_order`, the following exception will come up.

[code]

[2020-08-21 08:37] jacksparrow414 commented on #6948
@RafaelGuo :thumbsup:  as other configuartion,you could refer to official documents or the code I sent you

[2020-08-21 09:14] tuohai666 opened #6976 "Failure test cases of SQL92 parser test"
TODO:

- [x] create_table_with_out_of_line_check
- [x] insert_on_duplicate_key_update_with_placeholders
- [x] select_count_with_sub_with_whitespace
- [x] select_distinct_function
- [x] update_with_case_when
- [x] update_with_where_calculation

The following SQL is not supported by SQL 92 and should be remove from the tests:

- [x] Unsupported SQL of `CREATE INDEX order_index ON t_order (order_id,

[2020-08-21 11:17] peng-ran opened #6982 "SQL evaluated expressions with double parentheses can not sharding"
SELECT ROUND(a.F_ID, 3)  / 1000 - ROUND(a.F_ID, 3)  / 1000 as F_ID,
               a.F_NAME
        FROM t_demo AS a

is ok

        SELECT (ROUND(a.F_ID, 3) - ROUND(a.F_ID, 3))  / 1000 as F_ID,
               a.F_NAME
        FROM t_demo AS a
or

        SELECT (ROUND(a.F_ID, 3) - ROUND(a.F_ID, 3))  + 1000 as F_ID,
               a.F_NAME
        FROM t_demo AS a

or

        SELECT (ROUND(a.F_ID

[2020-08-21 13:51] #6976 closed, assigned to tuohai666

[2020-08-21 14:00] tuohai666 opened #6985 "Add unit test cases & study PostgreSQL wire protocol"
The closing date for all PRs is **2020.8.27**.

Let's improve the coverage of PostgreSQL protocol up to 90%. The coverage is now much lower than MySQL.

![image](https://user-images.githubusercontent.com/24643893/90896167-c2a04f00-e3f5-11ea-969f-faacba2a810f.png)

The target module is **shardingsphere-db-protocol-postgresql**

Someone who want to participate in can simply submit a PR (at least con

[2020-08-22 12:08] liquanjin opened #6996 "ShardingSphere-JDBC not work , when used't Precompiled parameter sharding value"
### Which version of ShardingSphere did you use?
4.0.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior

When i used a same sharding value can work, regardless i used  Precompiled statement sql or not Precompiled statement sql.

### Actual behavior

Sharding inner checkSubqueryShardingValues fail. throw a exception . **java.lang.IllegalStateExcept

[2020-08-22 15:47] terrymanu opened #7000 "Finish OrchestrationBootstrapTest‘s assertion"
Please finish `assertProxyConfiguration` for two test cases

[2020-08-22 16:40] terrymanu opened #7001 "Add test cases of ProxyOrchestrationSchemaContexts"

[2020-08-23 01:49] tristaZero opened #7002 "Unsupported SQL Parsing"
Start ShardingProxy and run the SQL below, you will get the following exception information.
[code]
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/27757146/90968998-bca98b80-e525-11ea-8530-81085096456d.png">

[2020-08-23 02:10] tristaZero opened #7003 "No exception is thrown when there is a bad SQL parsing."
As #7002 mentioned, if there is a wrong SQL parsed result,  which means SQL definitions do not cover the inputted SQL. No exception is thrown up but only some error info in log.

We have to consider fixing this issue since it is the SQL Parser engine's responsibility to warn users that the inputted SQL does not fit the SQL definitions.

[2020-08-23 04:40] terrymanu opened #7004 "Add test case for DataSourceConverter.getDataSourceParameter()"

[2020-08-23 13:43] sandynz opened #7007 "DQL dataset select_count_tilde_concat.xml not found cause GeneralDQLIT.assertExecuteQuery failed"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Related dql-test-case pass.

### Actual behavior
Test failed, exception thrown:
[code]

### Reason analyze (If you can)
Part of `select_count_tilde_concat.xml` missed for other rule

[2020-08-23 14:38] sandynz opened #7010 "PostgreSQL dedicated column missed in t_order cause GeneralDQLIT.assertExecuteQuery failed"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Related dql-test-case pass.

### Actual behavior
Test failed, exception thrown:
[code]

### Reason analyze (If you can)
`rule` and `start_point` columns doesn't exist in `t_order` ta

[2020-08-23 15:03] terrymanu opened #7011 "Investigate whether missing call close method in UserExecutorGroup"
Is there need to close UserExecutorGroup on FrontendChannelInboundHandler.channelInactive()?

[2020-08-23 15:05] terrymanu opened #7012 "Add more test cases for DatabaseProtocolFrontendEngineFactory when newInstance success"

[2020-08-23 15:16] terrymanu opened #7013 "Should use SPI to introduce metrics in SingletonFacadeEngine.buildMetrics which calling on FrontendChannelInboundHandler"
For ShardingSphere's design way, proxy front module should not understand metrics and other governance concepts.
It is better to use SPI to introduce them.

Please see  `FrontendChannelInboundHandler`, line 62

[2020-08-23 15:25] terrymanu opened #7014 "Investigate why auth exception occur and process the exception correctly"
Please investigate why exception occur, and remove log if possible.
The `expected exception` should be return by error packet only.

[2020-08-24 01:07] strongduanmu commented on #6996
@liquanjin We will fix this problem in the master branch, please wait for the 5.x release version.

[2020-08-24 01:22] liquanjin commented on #6996
@strongduanmu
That’a really good news!  👍

Thank you and your efforts !   : )

[2020-08-24 01:29] Lucas-307 commented on #6833
Sorry , i still can't reproduce this problem

[2020-08-24 02:55] #6843 closed

[2020-08-24 02:55] hongfuli opened #7017 "[ShardingSphere-Proxy] Empty data packet"
## Bug Report
### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

The data packet may be empty in some scenarios, for example, the login password is empty.

I'm not sure it is correct  as the follow modification(replace `>=` with `>`)

[code]

[2020-08-24 03:07] tristaZero commented on #6939
@sandynz Hi, Thanks to @strongduanmu 's work, this issue was fixed conditionally. If possible, welcome your test.

[2020-08-24 03:12] sandynz commented on #6939
Hi @strongduanmu , thanks.
I've tested it again:
- `update t_order set status = ? where order_id = ? or (user_id = ? and status='PAID') limit ?`, failed, notice `UPDATE ... LIMIT can not support sharding route to multiple data nodes.`
- `update t_order set status = ? where order_id = ? limit ?`, works

[2020-08-24 03:16] tuohai666 commented on #6985
@xbkaishui @cenyu00 @sandynz
The closing date for all PRs is 2020.8.27.
It's a little urgent. If you can't finish all of them, please response as soon as possible.

[2020-08-24 03:24] kimmking commented on #6913
ShardingSphereConnection should be managing its own logic tx-auto-commit status, avoid to use underlying physical connnections. Consider about two underlying connnections, one with auto-commit, one with not.

[2020-08-24 03:41] xbkaishui commented on #6985
got it.

[2020-08-24 03:54] #6886 closed

[2020-08-24 03:59] tristaZero commented on #6957
Hi @gokulsan

Sorry for my late response. :-)
You are right, `distributed data synchronization` is another unavoidable topic for these distributed database middlewares. Considering the `data consistency`, IMO, there are two issues, i.e., `distributed transaction` for applications and `distributed storage` for there distributed databases themselves.
For the first one, `2PC` or `B.A.S.E` distributed

[2020-08-24 04:02] tuohai666 commented on #7014
It makes sense to remove the error log.

This issue if good for beginners:

`Remove the lines 84, 85 in FrontendChannelInboundHandler.java`

[2020-08-24 04:02] tristaZero commented on #7017
Hi, @hongfuli Thanks for your issue.
Besides, are you interested in raizing a PR to fix it?
If you worry about your modification, I think a unit test is expected in your PR as well. Moreover, our committers will also give it a review.

[2020-08-24 04:12] terrymanu commented on #7012
Cloud you consider about finish #7000 first？

[2020-08-24 04:15] jian365066744 commented on #7012
sorry for&nbsp;so late ,I will finish&nbsp;both afternoon.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月24日(星期一

[2020-08-24 04:18] terrymanu commented on #6982
What the version do you use?
The problem has already fixed by version 4.x.

[2020-08-24 04:18] guo156627977 commented on #7014
please assign to  me

[2020-08-24 04:22] terrymanu commented on #6967
It is not the right way. Please imagine that there is only single database if databases managed by ShardingSphere.
User do not need to care about schema name.
So, the right way is config that 2 data sources as sharding db and managed by ShardingSphere's sharding feature.

[2020-08-24 04:24] terrymanu commented on #6964
What is `main library`? Can you use correct words to describe your issue?

[2020-08-24 04:32] terrymanu commented on #6913
@fantacy2001, Hi, can you summary the title for search friendly?

[2020-08-24 04:33] HanKaiqiang commented on #6964
I want to use forced routing to achieve the effect of dynamically selecting data sources, without setting the logical table

[2020-08-24 04:33] terrymanu commented on #6894
Closed because of no response anymore

[2020-08-24 04:33] #6894 closed

[2020-08-24 04:35] terrymanu commented on #6805
Invalid description of `sub-library`.
Closed because of no response anymore.

[2020-08-24 04:35] #6805 closed

[2020-08-24 04:36] terrymanu commented on #6741
Closed because of no response anymore.

[2020-08-24 04:36] #6741 closed

[2020-08-24 04:38] terrymanu commented on #6699
Invalid and closed via #6711

[2020-08-24 04:38] #6699 closed

[2020-08-24 04:40] terrymanu commented on #6661
@wenweibin Hi, any update?

[2020-08-24 04:41] terrymanu commented on #6562
Closed because of no response anymore

[2020-08-24 04:41] #6562 closed

[2020-08-24 04:45] #6146 closed

[2020-08-24 04:46] terrymanu commented on #6087
Can you give a example?

[2020-08-24 04:48] #6069 closed

[2020-08-24 06:12] tuohai666 commented on #7017
@hongfuli Can you show more examples? I had never met a single header transfer on the wire.

As to the empty password you mentioned, the username is not empty at the same time. There're also Client Capabilities/Charset/Client Auth Plugin information in the Login request packet.

[2020-08-24 06:28] tristaZero commented on #6939
@sandynz Thanks for your rapid tests!
That is precisely in our expectations. :)
What do you think @strongduanmu ?

[2020-08-24 06:54] gzdzss commented on #6985
assgin to me, thanks

[2020-08-24 06:56] tuohai666 commented on #6985
@gzdzss Assigned. Please pick up files from the remain.

[2020-08-24 06:59] gzdzss commented on #6985
OK , I will be next time as soon as possible.

[2020-08-24 07:01] victorzhangchn commented on #7004
Please assign to me.

[2020-08-24 07:02] tuohai666 commented on #6985
@gzdzss There still have tasks in the TODO list, which ones do you want?

- [ ] PostgreSQLInt2BinaryProtocolValue.java
- [ ] PostgreSQLInt4BinaryProtocolValue.java
- [ ] PostgreSQLInt8BinaryProtocolValue.java
- [ ] PostgreSQLStringBinaryProtocolValue.java
- [ ] PostgreSQLTimeBinaryProtocolValue.java
- [ ] PostgreSQLComDescribePacket.java
- [ ] PostgreSQLComExecutePacket.java
- [ ] PostgreSQLComPar

[2020-08-24 07:17] gzdzss commented on #6985
Can I have them all? Thanks

[2020-08-24 07:26] tuohai666 commented on #6985
@gzdzss
Of course. Assigned.
Please note that the closing date for all PRs is **2020.8.27**.

[2020-08-24 08:02] lovehehehe opened #7027 "Whether or not to support splitting tables in batches (wildcard method)？"
**eg：**
 his_score,his_class,his_*** -> db0
 now_score,now_class,now_*** -> db1

Just divide the tables into different dbs with wildcard

**not like:**
<sharding:table-rules>
               <sharding:table-rule logic-table="student_0" actual-data-nodes="m2.student_0"/>
               <sharding:table-rule logic-table="film" actual-data-nodes="m1.film"/>
               <sharding:table-rule logic-tab

[2020-08-24 08:12] tristaZero opened #7029 "Refactoring OrchestrationShardingSphereDataSource"
Presently, `OrchestrationShardingSphereDataSource` has a poor scheme structure, thus we need to reform it before the next release.

Please leave me some time to handle this issue. We will provide a more desirable implement for users. :-)

[2020-08-24 09:47] tuohai666 commented on #7014
Hi @guo156627977 , we decide to keep origin. Sorry for that.

[2020-08-24 09:50] tuohai666 commented on #7014
The catched Exception is needed because PacketPayload's close() throws exceptions. This catch also handles the Netty exceptions when authentication.

[2020-08-24 09:51] #7014 closed

[2020-08-24 09:55] qiancheng8866 opened #7032 "SQLServer OFFSET FETCH pagination return wrong results"
### Which version of ShardingSphere did you use?
Version 4.0.0 or above

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
SQL with "OFFSET 0 ROW FETCH NEXT 5ROWS ONLY" returns 5 items.

### Actual behavior
SQL with "OFFSET 0 ROW FETCH NEXT 5 ROWS ONLY" returns 10 items.

### Reason analyze (If you can)
The question that was rais

[2020-08-24 10:06] #6709 closed

[2020-08-24 11:02] strongduanmu commented on #6939
@tristaZero Yes, currently only support sharding route to single data node.

[2020-08-24 12:35] terrymanu commented on #7027
Not support yet

[2020-08-24 13:09] terrymanu opened #7039 "Add test case for CommandExecutorTask"
There is do not need to use multiple threads, just assert run method is OK.

[2020-08-24 13:18] jian365066744 commented on #7039
assign to me

[2020-08-24 13:37] terrymanu opened #7040 "Refactor QueryCommandExecutor.isQueryResponse for impl"

[2020-08-24 13:40] #7040 closed

[2020-08-24 15:04] #2563 closed

[2020-08-24 15:04] terrymanu commented on #2563
Already fixed

[2020-08-24 15:11] hongfuli commented on #7017
If encounter `Authentication Method Mismatch` case, the server sends `Auth Switch Request` packet to client and then the client sends `Auth Switch Response` only contains header if the password is empty, because the username had been exchanged in the previous initial handshake. The following is capture data of complete auth phase:

<img width="1325" alt="Capturing_from_Loopback__lo0" src="https://

[2020-08-24 15:19] tuohai666 commented on #7017
@hongfuli Yes, you are right. Would you like to submit a PR?

[2020-08-24 15:20] hongfuli commented on #7017
sure no problem.

[2020-08-24 15:27] #7007 closed

[2020-08-25 01:30] peng-ran commented on #6982
@terrymanu sharding-jdbc-core 4.1.1

[2020-08-25 01:36] lovehehehe commented on #7027
ok  thanks!

[2020-08-25 01:37] zhaopinglu commented on #6938
Hi, any progress?

[2020-08-25 01:52] 19950813 opened #7045 "Shardingjdbc paging problems"
### 一.  problem description

- In the process of using `ShardingJDBC`, `ORM`  framework used `Mybatis plus` , and found that using the native paging plug-in of `MyBatis Plus`  would fail. Later, I changed the commonly used `pageHelper` paging plug-in, and the paging result is still invalid...

[2020-08-25 02:13] Hilary0511 opened #7046 "sharding in version 5.0.0"
## Question

Do you still have this sharding in version 5.0.0? PreciseShardingAlgorithm and RangeShardingAlgorithm are not found on the latest master branch. If there are any, please help me to point out the location
![image](https://user-images.githubusercontent.com/33475609/91114880-7be37b00-e6bb-11ea-8c17-7f416d181459.png)

[2020-08-25 02:18] ishakzail commented on #2763
Maybe  the spring-security-config dependency is missing from the classpath of the project:
<dependency>
   <groupId>org.springframework.security</groupId>
   <artifactId>spring-security-config</artifactId>
   <version>3.2.5.RELEASE</version>
</dependency>
<dependency>
   <groupId>org.springframework.security</groupId>
   <artifactId>spring-security-web</artifactId>
   <version>5.1.5.RELEASE</versi

[2020-08-25 02:37] kimmking commented on #6957
Just like @tristaZero explaination above.
ShardingSphere is based on RDBMS, but OrbitDBor/GunDB is based on blockchain, they are not compatible yet.

[2020-08-25 02:40] tristaZero commented on #7046
There is an adjustment for these API from 5.x. Maybe `StandardShardingAlgorithm` is what you want.

[2020-08-25 02:42] kimmking commented on #6655
@dongzl @rongflag  window function is not supported yet.

[2020-08-25 02:44] tristaZero commented on #7045
Hi @19950813
The issue about `pageHelper` came into my view a few times, I suggest you look up the issue list with the keyword like `pagination` or `limit`.

[2020-08-25 02:49] tristaZero commented on #6655
@kimmking Maybe we can give @dongzl a chance to fix it. :-)

[2020-08-25 02:52] kimmking commented on #6964
do you mean Hint sharding strategy?

[2020-08-25 02:54] #5366 closed

[2020-08-25 03:00] kimmking commented on #6982
it's a bug.

is ok.

will be not sharding.

[2020-08-25 03:01] tristaZero commented on #6938
@zhaopinglu

First, this issue is in the process and not an easy one. Please be patient and watch this issue. If there is any fixed PR, you will see the updatings here.
Second, I suggest you raize another issue for [your new question](https://github.com/apache/shardingsphere/issues/6938#issuecomment-678054011).
One issue for one specific discussion.

Thanks,
Trista

[2020-08-25 03:09] miniygq opened #7047 "up to 4.1.1 SQL result error"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2020-08-25 03:15] kimmking commented on #6662
Orchestrator is awesome middlewire that focus on MySQL HA.
ShardingSphere now focus on sharding and scaling.
If you are interested in taking the HA like master-slave switch in-time, welcome to contribute this project here.

BTW: ShardingSphere in master branch have keep all nodes status in zk now.

[2020-08-25 03:21] #6996 closed

[2020-08-25 03:23] HanKaiqiang commented on #6964
yes, but I don't want to set logical table,  I hope all tables can be scanned automatically

[2020-08-25 03:24] #6948 closed

[2020-08-25 03:41] kimmking commented on #6861
@clayboby
Does the test case work well when directly connect to mysql?

[2020-08-25 03:47] kimmking commented on #6759
the correct sql is:

[2020-08-25 03:50] kimmking commented on #6777
@qiaojiang2

You are right. migration is a big issue and lock all rule-changes, util migratition is finished.

[2020-08-25 03:50] #6777 closed

[2020-08-25 03:51] #7017 closed

[2020-08-25 03:51] strongduanmu commented on #6996
@liquanjin Can you help test this function? You can use the master branch to build and use sharding-proxy to test.

[2020-08-25 03:53] kimmking commented on #6833
Hi @dmbj  you should fix netty issue and try a go.
If there is anything wrong, plz open a new issue.

[2020-08-25 03:53] #6833 closed

[2020-08-25 03:54] kimmking commented on #6727
hi, how about to Decouple ClusterConfiguration in OrchestrationShardingSphereDataSource

[2020-08-25 03:56] kimmking commented on #6676
@lishijun121910 is there something moving on and feedback the test results?

[2020-08-25 03:57] kimmking commented on #6743
Hi, @Lucas-307 , I think we can't understand this issue... 😭

[2020-08-25 05:59] xbkaishui commented on #6985
@tuohai666 I have finished the tests in my side,  below files are ingore for test, because those are either interfaces or normal java beans,  just let you konw
[code]

[2020-08-25 06:07] fantacy2001 commented on #6913
OK，has Modified

[2020-08-25 06:08] fantacy2001 commented on #6913
It is recommended not to configure ‘autocommit‘’ in datasource properties

[2020-08-25 06:08] tuohai666 commented on #6985
@xbkaishui Get it. Thanks.

[2020-08-25 06:30] tuohai666 commented on #6985
@xbkaishui Can you have a check for these ones?

- [ ] PostgreSQLRowDescriptionPacket.java   **( xbkaishui )**
- [ ] BinaryStatementRegistry.java    **( xbkaishui )**
- [ ] ConnectionScopeBinaryStatementRegistry.java    **( xbkaishui )**

[2020-08-25 06:36] xbkaishui commented on #6985
Yes, Already in this pr https://github.com/apache/shardingsphere/pull/7049, please help to check

[2020-08-25 06:42] tuohai666 commented on #6985
Got it.

[2020-08-25 06:44] seowen808 opened #7050 "sql cannot be sharded using Group BY"
用springBoot2.3+mybatis+mysql8 集成sharding 4.1.1，
使用读写分离+分片。当sql语句中 有 group by 时，就会分片失败，无法路由到具体的物理表。  去掉 group by后。就可以路由到具体表，并执行成功.
SpringBoot2.3 +mybatis+mysql8 integration sharding 4.1.1,
Use read/write separation + sharding.When there is Group BY in the SQL statement, sharding fails and cannot be routed to a specific physical table.After removing Group BY.You can route to a specific table and exe

[2020-08-25 06:52] terrymanu commented on #7046
Can you summary the title for search friendly?

[2020-08-25 06:56] terrymanu commented on #7039
@jian365066744  Hi, I notice the #7024 did not merge yet, could you finish previous pull request before you request a new task?

[2020-08-25 06:57] terrymanu commented on #7047
@miniygq  Can you summary the title for search friendly?

[2020-08-25 06:58] terrymanu commented on #7050
**For English only**, other languages will not accept.

[2020-08-25 06:58] #7050 closed

[2020-08-25 07:06] seowen808 opened #7052 "sql cannot be sharded using Group BY"
SpringBoot2.3 +mybatis+mysql8 integration sharding 4.1.1,
Use read/write separation + sharding.When there is Group BY in the SQL statement, sharding fails and cannot be routed to a specific physical table.After removing Group BY.You can route to a specific table and execute successfully.

The Springboot YAML configuration is as follows：

![image](https://user-images.githubusercontent.com/46375421/

[2020-08-25 07:13] jian365066744 commented on #7039
I will&nbsp; add more inaccurate assertions for rules in #7024,can you give me some tips?

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间

[2020-08-25 07:20] #6933 closed

[2020-08-25 07:33] tristaZero commented on #7052
Hi,@seowen808

Could you rewrite your SQL without subquery and give it a try?

[2020-08-25 07:53] seowen808 commented on #7052
without subquery it can be used.

![image](https://user-images.githubusercontent.com/46375421/91147584-0ee7d980-e6eb-11ea-80f3-edb62cf24614.png)

[2020-08-25 08:05] jian365066744 commented on #7000
why didn't merge?can you give me tips?

[2020-08-25 08:11] kimmking commented on #6904
Hi, @oh-debug the logic sql and actual sql is important for tuning.

[2020-08-25 08:13] kimmking commented on #6890
Can you show your config rule>?

[2020-08-25 08:16] seowen808 commented on #7052
@tristaZero
**without subquery it can be used.**

![image](https://user-images.githubusercontent.com/46375421/91149762-1361c180-e6ee-11ea-8e86-423c134be368.png)

[2020-08-25 08:18] #7039 closed

[2020-08-25 08:40] pengzhiming-sys opened #7056 "ShardingSphere-Proxy 代理 PostgreSQL出错"
## Bug Report

server.yaml配置如下：
authentication:
  users:
    root:
      password: root
    sharding:
      password: sharding
      authorizedSchemas: sharding_pg

props:
  max.connections.size.per.query: 1
  acceptor.size: 16  # The default value is available processors count * 2.
  executor.size: 16  # Infinite by default.
  proxy.frontend.flush.threshold: 128  # The default value is 128.
#

[2020-08-25 08:43] kimmking commented on #6947
plz try 4.1.1 @judakun

[2020-08-25 08:52] kimmking commented on #7047
Can you show the actual sql in 4.1.1 and 4.0.1

[2020-08-25 09:15] yapee123456 commented on #234
baidu  https://www.baidu.com/

[2020-08-25 09:26] yandongquan opened #7060 "MySQL functions cannot be used in insert statements"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
execute SQL successfully

### Example codes

MsqL common functions added error
- MOD()
- STR_TO_DATE()
- SUBSTR()

**MOD()**

mybatis mapper
[code]
error log
[code]

**STR_TO_DATE**

java
[code]
mybatis mapper
[code]
error log
[

[2020-08-25 09:29] Hilary0511 opened #7061 "In version 5.0.0, the namespace mode configuration issue"
## Question

The following configuration will report an error
![image](https://user-images.githubusercontent.com/33475609/91157403-dbf81280-e6f7-11ea-960c-ccb4b108c8d0.png)

[code]

The sharding strategy is as follows
![image](https://user-images.githubusercontent.com/33475609/91157783-5c1e7800-e6f8-11ea-852d-d0c3bfd848bc.png)
![image](https://user-images.githubusercontent.com/33475609/91157862-79

[2020-08-25 09:33] kimmking commented on #7056
hi, @pengzhiming-sys , we need more info:
1. which version
2. the logic sql and actual sql executed when throws exception
3. did you use a PG client or library to connect to proxy?

[2020-08-25 09:54] kimmking commented on #7060
Thanks for feedback.
Generally functions are not supported.

[2020-08-25 09:57] terrymanu commented on #7056
**For English only**, other languages will not accept.

[2020-08-25 09:57] #7056 closed

[2020-08-25 09:57] #6579 closed

[2020-08-25 10:01] pengzhiming-sys commented on #7056
version:apache-shardingsphere-4.1.1
PG cliento connect to proxy

[2020-08-25 10:02] yandongquan commented on #7060
Thank you，Will the later version support.

[2020-08-25 10:05] pengzhiming-sys opened #7062 "hi, @pengzhiming-sys , we need more info:"
hi, @pengzhiming-sys , we need more info:
1. which version
2. the logic sql and actual sql executed when throws exception
3. did you use a PG client or library to connect to proxy?

_Originally posted by @kimmking in https://github.com/apache/shardingsphere/issues/7056#issuecomment-679916924_

[2020-08-25 10:06] terrymanu commented on #7061
[code]

It looks like your data source or rule config failure

[2020-08-25 10:08] yang-7777 commented on #234
Hi Thank you for your reply, please contact me via email or wechat ss_assistant_1, much appreciate.

[2020-08-25 10:08] pengzhiming-sys commented on #7062
1.apache-shardingsphere-4.1.1
2.use a PG client or library to connect to proxy

[2020-08-25 10:08] kimmking commented on #7061
Can you show more exception logs?

[2020-08-25 10:09] Hilary0511 commented on #7061
Well, I configured it this way in version 4.1.1 but configured it wrong in version 5.0.0. I'm not sure how to configure this sharding policy class reference right now

[2020-08-25 10:10] Hilary0511 commented on #7061
17:23:56.776 [localhost-startStop-1] ERROR com.hhwy.fweb.framework.mvc.MainDispather - Context initialization failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'txManager' defined in class path resource [sys-kernel-config.xml]: Cannot resolve reference to bean 'dataSource' while setting bean property 'dataSource'; nested exception is org.springframework.

[2020-08-25 10:11] Hilary0511 commented on #7061
This is the complete error reporting log

[2020-08-25 10:12] pengzhiming-sys opened #7064 "apache-shardingsphere-4.1.1-sharding-proxy PG error"
## Bug Report

server.yaml：

[code]

config-sharding.yaml 配置如下：

[code]

error：

org.apache.shardingsphere.underlying.common.config.exception.ShardingSphereConfigurationException: Cannot find table rule and default data source with logic table: 'pg_type'
at org.apache.shardingsphere.core.rule.ShardingRule.getTableRule(ShardingRule.java:166)
at org.apache.shardingsphere.sharding.route.engine.type.u

[2020-08-25 10:28] jingshanglu commented on #7060
@yandongquan It has been fix in master branch, you can try the master branch.

[2020-08-25 10:46] strongduanmu commented on #7052
@seowen808 @tristaZero @kimmking I have used the master branch to test the `Select ... Group By` syntax, and the routing results were correct.

[code]

[2020-08-25 11:12] terrymanu commented on #7061
The version 5.x is not released yet, it is still in dev model.
So welcome if you want to contribute something, for how to using, please waiting for the version release.

[2020-08-25 11:13] terrymanu commented on #7062
@pengzhiming-sys Hi, I think this issue seems like wrong operation. I just close it, please report a new issue if you still have questions.

[2020-08-25 11:13] #7062 closed

[2020-08-25 11:16] terrymanu commented on #7064
The exception message should you details, please have check

[code]

[2020-08-25 11:16] #7064 closed

[2020-08-25 11:16] wcsoft opened #7065 "MYSQL command line can not access ShardingProxy after ShardingProxy starts up successfully."
- What's the Issue

MYSQL command line can not access ShardingProxy after ShardingProxy starts successfully.

- Steps to reproduce the behavior

1. The issue occurs at ShardingSphere 5.0, the branch to test is master, build number is  "86b1dcb";
2. Build ShardingProxy based on the branch above;
3. Start up ShardingProxy service; check its process to make sure it run successfully by cammond  "ps -e

[2020-08-25 11:17] #7061 closed

[2020-08-25 11:19] terrymanu commented on #7065
The version 5.x is still in dev model, so we don't accept the report as a bug.
It will change rapidly.
User please use released version, 5.x for contributors only.

[2020-08-25 11:19] #7065 closed

[2020-08-25 11:20] pengzhiming-sys commented on #7064
1.version:4.1.1
2.ShardingSphere-Proxy

[2020-08-25 11:21] #6949 closed

[2020-08-25 11:22] terrymanu commented on #6964
I can't understand what is scanned automatically, can you give an example?

[2020-08-25 11:35] terrymanu opened #7066 "Add test case for AuthenticationResult"

[2020-08-25 11:36] pengzhiming-sys opened #7067 "Sharding-Proxy Proxy PG error"
Bug Report
Which version of ShardingSphere did you use?
4.1.1

Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-Sharding-Proxy
use a PG client or library to connect to proxy
server.yaml：

authentication:
users:
root:
password: root
sharding:
password: sharding
authorizedSchemas: sharding_pg

props:
max.connections.size.per.query: 1
acceptor.size: 16 # The default value is avail

[2020-08-25 11:44] terrymanu commented on #7067
What is the SQL do you use?

[2020-08-25 11:47] pengzhiming-sys commented on #7067
insert into lab_labelcatalog_0 (catalogid,uuid, catalogcode, catalogname,
      catalogdesc, parentid, sortnum,
      labsysid)
    values (#{catalogid,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER},#{catalogcode,jdbcType=VARCHAR}, #{catalogname,jdbcType=VARCHAR},
      #{catalogdesc,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{sortnum,jdbcType=INTEGER},
      #{labsysid,jdbcType=VARCHAR})

[2020-08-25 11:47] #6864 closed

[2020-08-25 11:47] pengzhiming-sys commented on #7067
insert into lab_labelcatalog (catalogid,uuid, catalogcode, catalogname,
      catalogdesc, parentid, sortnum,
      labsysid)
    values (#{catalogid,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER},#{catalogcode,jdbcType=VARCHAR}, #{catalogname,jdbcType=VARCHAR},
      #{catalogdesc,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{sortnum,jdbcType=INTEGER},
      #{labsysid,jdbcType=VARCHAR})

[2020-08-25 11:49] gzdzss commented on #7066
assign to me， thinks

[2020-08-25 12:43] terrymanu commented on #7067
Can you provide the log of `sql.show`?

[2020-08-25 12:47] pengzhiming-sys commented on #7067
line 1:42 no viable alternative at input '(catalogid,uuid'
line 1:42 no viable alternative at input '(catalogid,uuid'
[ERROR] 15:02:52.174 [pool-8-thread-1] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)
at org.apache.shardingsphere.sql.parser.postgresql.visitor.im

[2020-08-26 00:43] seowen808 commented on #7052
@strongduanmu

You can try again with subqueries like this:

select count(1) from (SELECT * FROM t_order WHERE order_id IN (1, 2, 3) GROUP BY order_id ORDER BY order_id) total

[2020-08-26 00:57] strongduanmu commented on #7052
@seowen808 Thank you, I will test again.

[2020-08-26 01:08] strongduanmu commented on #7052
@seowen808 Hi, the result of this SQL routing in the master branch is correct. I think you can wait for the 5.x release version.

[code]

[2020-08-26 01:25] #7002 closed

[2020-08-26 01:50] Hilary0511 commented on #7061
When will the next version be released

[2020-08-26 02:05] leolv123 opened #7072 "select 'count' column data, why return null?"
sharding print the log as follows:
![image](https://user-images.githubusercontent.com/34678371/91247009-d9db9580-e783-11ea-966c-827c15757f38.png)

mysql output data as follows:
![image](https://user-images.githubusercontent.com/34678371/91246803-5f127a80-e783-11ea-8d12-8216111028a5.png)

Final return result as follows:
![image](https://user-images.githubusercontent.com/34678371/91246901-9ed96200-e

[2020-08-26 02:09] pengzhiming-sys commented on #7067
The proxy service can be normal, but an error occurs when executing SQL through the client
The server.yaml and config-sharding.yaml configuration files are all configured as follows:
authentication:
  users:
    root:
      password: root
    sharding:
      password: sharding
      authorizedSchemas: sharding_pg

props:
  max.connections.size.per.query: 1
  acceptor.size: 16  # The default value

[2020-08-26 02:17] seowen808 commented on #7052
@strongduanmu
This is not appropriate. It will be some time before the 5. X version comes out.
Do I need to change the code logic because of this bug?

[2020-08-26 02:46] strongduanmu commented on #7052
@seowen808 I will test this bug in version 4.1.1.

[2020-08-26 02:48] HanKaiqiang commented on #6964
yes,  This project can explain.

https://github.com/HanKaiqiang/shardingsphere-demo.git

[2020-08-26 02:56] tristaZero commented on #7052
Hi @seowen808  @strongduanmu

My impression is that we fixed this issue on `the master branch`. But I am sorry to say currently 4.x has inadequate support for `subquery` and there is no plan to release the subsequent 4.x.

Therefore programming modification or waiting for 5.x are my solutions for you. Or we can expect feedback from  @strongduanmu .

[2020-08-26 03:01] tristaZero commented on #234
@diwayou @ccitt @nicochow @yapee123456 Thanks for everyone's comment. :-)
Welcome!

@yang-7777 Please list them on our user list page.

[2020-08-26 03:03] tristaZero commented on #6890
@wcsoft Ping for a test. Thanks

[2020-08-26 03:06] tristaZero commented on #6904
Hi @oh-debug

I am sorry to say there is not any feedback from you above **7 days**. This is the last day for your comment.

Best,
Trista

[2020-08-26 03:21] tristaZero commented on #6676
Hi @lishijun121910

Sorry for coming late,
Thanks for the performance test on a single database scenario, which provided us a valuable reference.
My suggestion is to create multiple shardings rather than one single database to lighten the load from applications. A single database has less value for internet apps with extensive data volume.

Welcome your updating. Whereas, please close this one.

T

[2020-08-26 03:26] tristaZero commented on #6662
@kimming
There is the nuance between `MySQL HA` and `keep all nodes status in zk `.
I am interested in this one and maybe we can give it research.

[2020-08-26 03:32] #7027 closed

[2020-08-26 03:34] #7066 closed

[2020-08-26 03:36] terrymanu commented on #7072
What is the version do you use?

[2020-08-26 03:40] tristaZero commented on #7072
Hi @leolv123
First, these actual SQLs are correct, aren't they?
Is there any `null` or other special values in `count` column?

[2020-08-26 04:05] menghaoranss opened #7075 "Use YAML file instead of inline string in OrchestrationSpringBootRegistryMasterSlaveTest"

[2020-08-26 04:51] #7045 closed

[2020-08-26 04:52] terrymanu commented on #6924
Closed because of no response anymore

[2020-08-26 04:52] #6924 closed

[2020-08-26 04:53] terrymanu commented on #6904
Closed because of no response anymore

[2020-08-26 04:53] #6904 closed

[2020-08-26 04:55] terrymanu commented on #6469
Closed because of no response anymore

[2020-08-26 04:55] #6469 closed

[2020-08-26 05:28] seowen808 commented on #7052
thanks @strongduanmu

[2020-08-26 05:31] seowen808 commented on #7052
Could you find the branch @tristaZero

[2020-08-26 05:50] kimmking commented on #6658
Case 1: shardingsphere-integration-test/shardingsphere-test-suite/src/test/resources/integrate/cases/dql/dataset/tbl/select_distinct_with_avg.xml

The original sql
[code]

convert to:
[code]

Rewriting result is wrong

[2020-08-26 05:56] jingshanglu commented on #7032
@qiancheng8866 Pr #7077  fix it, you can try it.

[2020-08-26 06:22] leolv123 commented on #7072
3.0.0.M3

[2020-08-26 06:30] leolv123 commented on #7072
I found the problem，It's caused by the mapping
![image](https://user-images.githubusercontent.com/34678371/91268534-1a4d0a80-e7a8-11ea-96e2-f3e4750178ad.png)

but there are other problems, why there a 'count' field in the query results, data merging will execute GroupByMemoryMergedResult
![image](https://user-images.githubusercontent.com/34678371/91268860-a3fcd800-e7a8-11ea-86fa-a4268b90ccc9.png)

[2020-08-26 06:46] kimmking commented on #7072
Can you try 4.1.1 ?

[2020-08-26 06:56] leolv123 commented on #7072
this version solve this problem？？

[2020-08-26 07:09] kimmking commented on #6658
With debug, the GroupBy generated  return empty.
[code]

[2020-08-26 09:09] kimmking commented on #6653
According our disscussion about Orchestration&Control-Panel module, cluster module should be pending for the next version release, and observablity module should be an independent project, so we adjust them now.

### Phase 0--prepare

- [x] create branch orchestration-dev for shardingsphere&shardingsphere-ui  @kimmking

### Phase 1--adjust cluster

- [ ] delete cluster in shardingsphere module @ki

[2020-08-26 09:16] terrymanu commented on #6653
Cool, I think this task is the last one before 5.0.0-alpha release.

[2020-08-26 09:18] #7075 closed

[2020-08-26 09:27] wcsoft commented on #6890
@zhaopinglu

Do you use logical table named "TEST**" within config of proxy? could you provide your yaml, thx a lot?

[2020-08-26 09:32] chana71 commented on #6967
I have config those two data sources.
Sorry, I can't get your idea clearly. I'll just introduce my situation to see if you can help. Thx.
We create one database for each customer, e.g. cust1, cust2.
`show databases` will see these two dbs.
[code]
We used to have SQL like this: `select * from db1.table`(use db2's jdbc data source)。We have requirements of querying **across two schemas 's(cust1, cust

[2020-08-26 09:42] zhaopinglu commented on #6890
Thanks for response. I didn't do any special configuration for those test* tables. As I said they are 2 standalone tables without any relationship.

[2020-08-26 09:57] lishijun121910 opened #7081 "sharding-jdbc automatically disable invalid slave datasource"
version：
sharding-jdbc 4.1.0

situation:
springboot+mybatis+sharding-jdbc+mysql(master-slave).

For high availability, I use MHA to deal with master fail, switch and push event to zookeeper by script , to tell sharding-jdbc the new master . this works well.

But MHA only focus on fail of master, it does not care about fail of slave. When the slave is down , sharding-jdbc doesn't know and will stil

[2020-08-26 09:59] wcsoft commented on #6890
@zhaopinglu
could you provide me your yaml files for ShardingProxy? Thx a lot.

[2020-08-26 10:51] #6727 closed

[2020-08-26 10:53] gzdzss opened #7084 "Improve unit test coverage of sql-parser"
![image](https://user-images.githubusercontent.com/41991766/91294636-6d38b900-e7cc-11ea-8fea-0f854067a828.png)

The coverage of dml is 40% ,now. It's necessary to improve the coverage now.

- [ ] CallStatementContext
- [ ] DeleteStatementContext
- [ ] InsertStatementContext
- [ ] SelectStatementContext
- [ ] UpdateStatementContext

[2020-08-26 11:03] Hilary0511 opened #7085 "The version 5.0.0 and mybatis use issue"
## Question
Mybatis SQL
![image](https://user-images.githubusercontent.com/33475609/91295782-2a77e080-e7ce-11ea-8370-64347057d4c7.png)

The XML configuration
![image](https://user-images.githubusercontent.com/33475609/91295878-51361700-e7ce-11ea-847b-c971c4a98658.png)

	<sharding:standard-strategy id="orderTableStrategy" sharding-column="order_id" algorithm-ref="inlineOrderTableStrategyAlgorithm"

[2020-08-26 11:30] dilboy opened #7086 "if the feature on issue #6174 can be released in a new 4.x version？"
## Question

 Excuse me ,if the feature on issue #6174 can be released in a new 4.x version？
#6101, support fetch size in DatabaseMetaDataResultSet #6174

[2020-08-26 11:39] zhaokejin opened #7087 "How to enable parameter printing in SQL"
Shardingsphere supports me to open it sql.show However, it does not show the parameters in the SQL statement. How to configure the parameters that are passed in as placeholders in SQL
![image](https://user-images.githubusercontent.com/13448504/91299107-b3dde180-e7d3-11ea-9a33-5c85a31ee214.png)

open show.sql , only SQL, no parameters in SQL, how to open parameters

[2020-08-26 15:21] fantacy2001 opened #7091 "sharding jdbc the sql of select DISTINCT in version 4.0.0 is support but in version 4.1.1 is not support"
sql:
select count(1) count from (select DISTINCT
        header.id,
        header.uuid,
        header.machining_no,
        header.machining_type,
        header.tenant_id,
        header.warehouse_no,
        header. STATUS,
        header.create_user,
        header.update_user,
        header.create_time,
        header.update_time,
        header.is_delete,
        header.memo,
        heade

[2020-08-26 16:09] terrymanu commented on #7085
What is your version?

[2020-08-26 16:11] terrymanu commented on #7086
Sorry, but we have no plan to maintain more version branches.

[2020-08-26 16:11] #7086 closed

[2020-08-26 16:44] kimmking commented on #7091
can you show your configuration and actual sql?

[2020-08-27 00:49] Hilary0511 commented on #7085
Now the project needs to use subquery, but there is a problem with the neutron query in version 4.1.1, so we pull down the master branch and compile it for use in the project, but now the most basic query in 5.0.0 will report errors

[2020-08-27 02:14] fantacy2001 commented on #7091
version 4.1.1,  When routing， the PreciseShardingAlgorithm do not called, so route to default db.
The actual SQL is what I sent above。
Because I redefined sharding's access with Java, the configuration file is different from the official one。
It is divided into two libraries, each of which has one master and two slaves。
sharding field： tenant_id
KeyGenerator is baidu UID
bindingTables is machining

[2020-08-27 02:36] strongduanmu commented on #7052
@seowen808 I have tested this bug in version 4.1.1 and found that the reason for the wrong routing result is the `subquery` in the from clause, not the `group by` clause. `Subquery` is not fully supported in 4.x version, and will be improved in 5.x version.
I'm so sorry for that there is no better solution now if you use the 4.x version. 😔

[2020-08-27 02:55] #7032 closed

[2020-08-27 02:57] tristaZero commented on #7032
@jingshanglu Nice job. Welcome your test using the master branch!

[2020-08-27 02:58] #7004 closed

[2020-08-27 03:05] tristaZero commented on #7087
Hi @zhaokejin
AFAIK, the SQLs, and parameters will show up together. Which version was used?

[2020-08-27 03:08] tristaZero commented on #7085
@Hilary0511
Hi Thanks for your feedback.
I got the key exception in your log, i.e., `Unsupported SQL of select * from T_ORDER locateCode=8439592356328952463`.
Where is the keyword of `where` for your SQL?

[2020-08-27 03:22] 1483523635 commented on #2702
@zcqshine  new version is working or not? I have the same issue.

[2020-08-27 03:33] tristaZero commented on #7081
@lishijun121910 Hi

Thanks for your feedback.
For me, I like your idea.
We are considering MySQL `mgr` and `orchestrator` ([The detail](https://github.com/apache/shardingsphere/issues/6662)).
But it needs pretty much time and effort. If we just take care of the current functions of ShardingSphere. My rough thought is to **get the exception and execute this SQL in another slave afterward**

[2020-08-27 03:40] tristaZero commented on #7072
@leolv123
Are you sure that `GroupByMemoryMergedResult` changes the result? If `count` is just a column name, I suppose it will not be handled by `GroupByMemoryMergedResult`.

[2020-08-27 03:59] 291277058 commented on #6918
@tristaZero @terrymanu
Here is my [example](https://github.com/apache/shardingsphere/compare/4.1.1...291277058:4.1.1-dev) for 4.1.1

[2020-08-27 04:21] lishijun121910 commented on #7081
We are trying to use a HA to make a load balance to all slave nodes. By this way we don't worry about any single fail .

[2020-08-27 05:04] kimmking commented on #7091
Hi, can you show the original SQL

[2020-08-27 06:04] seowen808 commented on #7052
@strongduanmu  thank you. I had to override the paging plug-in for Mybatis-Plus to fix this problem

[2020-08-27 06:20] leolv123 commented on #7072
i am sure
![image](https://user-images.githubusercontent.com/34678371/91399405-81ce8d00-e870-11ea-911c-7af7c0f4809a.png)

[2020-08-27 08:18] zhaopinglu commented on #6890
Please see the yaml files in the 1st post.

[2020-08-27 09:27] kimmking opened #7099 "Add UnitTest for OrchestrationShardingSphereDataSourceFactory"
Location:
shardingsphere-jdbc/shardingsphere-jdbc-orchestration/src/main/java/org/apache/shardingsphere/driver/orchestration/api/OrchestrationShardingSphereDataSourceFactory.java

[2020-08-27 09:28] jian365066744 commented on #7099
please assign to me

[2020-08-27 09:36] kimmking commented on #6653
@yu199195  sw-agent should be openning a new issue to track.

[2020-08-27 10:06] qiaojiang2 commented on #650
《ShardingJdbc分库分表实战案例解析（上） 》
https://mp.weixin.qq.com/s/ZewY9KyVBsWqB1Fu2hNbSg
《ShardingJdbc分库分表实战案例解析（下） 》
https://mp.weixin.qq.com/s/wpzfIxixiAmDXEYuxLoZGQ

[2020-08-27 10:47] clayboby commented on #6861
@kimmking<mailto:notifications@github.com>
Yes. It work well with mysql 8.0.20

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: kimmking<mailto:notifications@github.com>
发送时间: 2020年8月25日 11:41
收件人: apache/shardingsphere<mailto:shardingsphere@noreply.github.com>
抄送: clayboby<mailto:clayboby@outlook.com>; Mention<mailto:mention@noreply.github.com>
主题: Re: [apache/shardings

[2020-08-27 11:26] tristaZero commented on #650
Hi @qiaojiang2 Thanks for your sharding.
I gave them a glance and they look great. :-)
We will include them in our article collection.

[2020-08-27 11:39] #7029 closed

[2020-08-27 12:26] kimmking commented on #7099
as your will

[2020-08-27 12:29] kimmking opened #7106 "Combine Config-Center&Regstry-Center in ShardingSphere-UI"
Combine Config-Center&Regstry-Center to a unified one, and now we should Combine Config-Center&Regstry-Center in ShardingSphere-UI.

@menghaoranss @renfufei may track this task in next two weeks.

[2020-08-27 12:35] kimmking commented on #7052
hi, @seowen808 you can rewrite your sql to:

[2020-08-27 12:48] menghaoranss opened #7108 "Refactoring the node structure of registry center"
In order to unify the node structure of config and registry center，we need to modify the registry node structure as bellow:

Current structure:

[code]
After modification:

[code]

[2020-08-28 01:33] yang-7777 commented on #650
@qiaojiang2  Thank you for sharing these good articles.

[2020-08-28 02:32] yang-7777 commented on #650
## 文章汇总
***
#### 版本迭代
 - [Sharding-Sphere 3.X今日瞩目登场&如约而至！](https://mp.weixin.qq.com/s/TE8jFj2jQIlI7Gi3q_8Ulg)
 - [Sharding-Sphere 3.0.0.M2 我们来了！](https://mp.weixin.qq.com/s/hYqz4_E-Vgxve3qSGtMf_Q)
 - [Sharding-Sphere 3.0.0.M3 初秋上线！](https://mp.weixin.qq.com/s/YX0qO6DWtnVZRRc91WCpWg)
 - [Sharding-Sphere 3.0.0.M4 国庆发布](https://mp.weixin.qq.com/s/wtS-jZvaOLqkRb8GZ0C6yQ)
 - [1024程序员节特殊献礼-Sharding-Sphe

[2020-08-28 02:56] hnxphnxp commented on #6497
The same question with us,it's good news that this feature will be supported in the future.I have subscribed this issue as 5.x version hasn't due date.Come on!

[2020-08-28 03:03] kimmking opened #7112 "move opentracing module to independent project observablity"
- [x] create a level 1 project named observablity.
- [x] add a new sub module named tracing.
- [x] move opentracing to tracing module.

[2020-08-28 03:16] #6985 closed

[2020-08-28 03:21] zhangyang1995 opened #7113 "Official example link error"
https://shardingsphere.apache.org/document/legacy/4.x/document/en/manual/sharding-jdbc/usage/transaction/

The official link at the bottom of the page is wrong！

[2020-08-28 03:23] terrymanu commented on #7113
Can you submit a pull request to fix it?

[2020-08-28 03:56] chengw315 opened #7115 "NoSuchElementException when use shardingscaling4.1.1"
there are 2 sharding-proxies(named s,t),  I use sharding-scaling to migrate data from s to t,  but I meet NoSuchElementException

### the response

[code]

### stdout.log of sharding-scaling:

[code]
### this is the request:

[code]

"**sourceDatasource**" and  "**sourceRule**"  of the request is copy from **config-sharding.yaml** of source sharding-proxy
### config-sharding.yaml

[code]

I do thi

[2020-08-28 05:04] kimmking commented on #7113
Since master branch became to 5.x, documents for 4.x had been archived. And the referred link should be https://github.com/apache/shardingsphere/tree/4.1.1/examples/sharding-jdbc-example/sharding-example

I will fix it today.

[2020-08-28 05:10] kimmking commented on #7113
It's fixed now.

[2020-08-28 05:18] #7113 closed

[2020-08-28 05:49] kimmking commented on #7115
You should use the same sourceDatasource configuartion in docs.

[2020-08-28 06:03] eightroad opened #7117 "update opentracing api version"
## Feature Request

**For English only**, other languages will not accept.

I'm using opentracing, but sharding-opentrace depends version 0.30.0; and others(opentrace-springcloud) depends 0.32.0 or later version(0.33.0)
in 0.32.0 ,It move "io.opentracing.NoopSpanBuilderImpl" to "io.opentracing.noop.NoopSpanBuilderImpl",and remove some method

### Is your feature request related to a problem?

###

[2020-08-28 06:08] vinceLin054 opened #7118 "4.1.1mapper.xml use ognl cause ClassCastException"
Insert sql value using ognl ${@com.alibaba.fastjson.JSON@toJSONString(address)}

The error message:
`Caused by: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.column.ColumnSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.ExpressionSegment
	at org.apache.shardingsphere.sql.parser.mysql.visitor.impl.MySQLDMLVisitor.visitAssignmen

[2020-08-28 06:11] tristaZero commented on #6497
@hnxphnxp Hi thanks for your attention.

I am glad to say we have support all the subquery **parsing** (#6837) and  [Supported SQL](https://github.com/apache/shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-test/src/main/resources/sql/supported/dml/select.xml)  showed us the supported subquery SQLs.
But it has to clarify that we can not guarantee all the subquery coul

[2020-08-28 06:12] #7112 closed

[2020-08-28 06:32] tristaZero commented on #7081
Hi @lishijun121910 Do you think it is possible to contribute what you did to the community? I think others will appreciate this significant feature as well. But I also suggest you'd better give the draft of your idea or critical code clip firstly here for a discussion. Maybe we will receive any better feedback from the community to make it excellent.

Best,
Trista

[2020-08-28 07:35] kimmking commented on #7118
plz show your original sql and actual sql

[2020-08-28 07:38] tuohai666 commented on #7011
UserExecutorGroup contains thread pool to handle front end packets of MySQL or PostgreSQL. There's no need to close UserExecutorGroup every time when a packet is executed.

[2020-08-28 08:00] tuohai666 commented on #6759
I think we should not add 'wms_sd1.' into actual SQL. @tristaZero , can you have a look?

[2020-08-28 08:03] tuohai666 commented on #6693
The exception caused by parse and route procedure. @tristaZero , can you have a look?

[2020-08-28 08:06] tuohai666 commented on #6861
@clayboby Can you use wireshark to capture the process?

[2020-08-28 08:08] tuohai666 commented on #6061
@ChuckPerry Can you use wireshark to capture the process?

[2020-08-28 08:16] johnny2002 commented on #6458
Sorry for reply late. what is PR?

[2020-08-28 08:23] johnny2002 opened #7123 "load balance url is not supportted"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
JDBC
### Sharding-sphere version: 4.0.1
### Probleam:
We need to support load balance and failover throw jdbc driver, so our jdbc url contains 2 ip and ports, the url works in JDBC, while sharding-sphere throws exception.
### our url sample:
 jdbc:postg

[2020-08-28 08:24] kimmking commented on #7117
There is no plan for it.

[2020-08-28 08:24] #7117 closed

[2020-08-28 08:27] johnny2002 commented on #7123
I think it isn't sharding-sphere's reponsibility to valid jdbc url, just leave it to underlying layer.

[2020-08-28 08:29] kimmking commented on #7123
5.0.0+ will support loadbalance JDBC Urls.

[2020-08-28 08:29] johnny2002 commented on #7123
so, you won't fix it in 4.x?

[2020-08-28 09:20] siantbaicn opened #7127 "sharding proxy 4.1.1 can not show the databases"
deploy the sharding proxy 4.1.1 by the exampled configure，connect the  proxy by navicat，can connect but can not show zhe databases，the database status is closed，the log is “ line 1:55 no viable alternative at input 'ENGINES  line 1:55 mismatched input 'ENGINES' expecting ..'”  what's wrong?

![Uploading image.png…]()
![Uploading image.png…]()

[2020-08-28 09:23] kimmking commented on #7123
there is no release plan for 4.x

[2020-08-28 09:23] #7123 closed

[2020-08-28 09:24] kimmking commented on #7127
can you submit some details for config and error logs?

[2020-08-28 09:25] wencyGit opened #7128 "shardingsphere sharding-jdbc 数据库表存在某些字段名查询异常"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 09:36] siantbaicn commented on #7127
**config**
schemaName: sharding_db

dataSources:
  ds_0:
    url: jdbc:mysql://192.168.117.87:3306/rubin_ds_0?serverTimezone=UTC&useSSL=false
    username: rubin
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
  ds_1:
    url: jdbc:mysql://192.168.117.89:3306/rubin_ds_1?serverTimezone=UTC&useS

[2020-08-28 09:52] mark4z opened #7129 "Sharding key in ON-Clause(Not Where-Clause) cause a error "No Sharding Key""
## Bug Report
when i want do like this:
select ...
from A left join B on a.id = b.id and b.`key` = ?
where ...
B has been sharding and the key is `key`
A has more rows than B，so if i use left join, should put the predicates on `on` rather than `where`. but i got a error which said
me have not Sharding Key.

### Which version of ShardingSphere did you use?
4.0.1

### Which project did you use? Shar

[2020-08-28 10:51] kimmking commented on #7129
you can try:
[code]

[2020-08-28 10:55] kimmking commented on #7128
English here only.

[2020-08-28 11:29] mark4z commented on #7129
You know, left join  in ON-Clause equals inner join

[2020-08-28 12:23] tuohai666 opened #7134 "Unsupported SQL of `CREATE TEMPORARY TABLE`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 12:25] tuohai666 commented on #7134
The exception caused by parser. @tristaZero , can you have a look?

[2020-08-28 12:37] strongduanmu commented on #7134
@tuohai666 @tristaZero I will check it. Now, I am checking the `create table statement` in MySQL DDL syntax and related to issue #6498.

[2020-08-28 13:39] tuohai666 opened #7136 "Unsupported SQL of `CREATE TRIGGER`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 13:41] tuohai666 commented on #7136
The exception caused by parser. @tristaZero , can you have a look?

[2020-08-28 13:42] tuohai666 commented on #7134
@strongduanmu Thanks.

[2020-08-28 14:12] tuohai666 opened #7137 "Unsupported SQL of `CREATE PROCEDURE` and `CREATE FUNCTION`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 14:13] tuohai666 commented on #7137
The exception caused by parser. @tristaZero , can you have a look?

[2020-08-28 14:23] tuohai666 opened #7138 "Unsupported SQL of `CREATE VIEW`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 14:23] tuohai666 commented on #7138
The exception caused by parser. @tristaZero , can you have a look?

[2020-08-28 14:28] strongduanmu commented on #7137
@tuohai666 Hi, what does the `&&` symbol in the SQL mean? This symbol is not included in the official MySQL syntax——[CREATE PROCEDURE and CREATE FUNCTION Statements](https://dev.mysql.com/doc/refman/8.0/en/create-procedure.html).

[2020-08-28 15:22] tuohai666 opened #7141 "Navicat or MySQL Workbench: No database selected"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-28 15:25] tuohai666 commented on #7141
@tristaZero I noticed you remove
`backendConnection.setCurrentSchema(ProxySchemaContexts.getInstance().getSchemaContexts().getSchemaContexts().keySet().iterator().next());`
from UnicastBackendHandler.java in https://github.com/apache/shardingsphere/pull/6281 which cause this problem. Can you have a look?

[2020-08-28 15:38] #7084 closed

[2020-08-28 15:46] #7011 closed

[2020-08-28 15:51] strongduanmu commented on #7134
@tuohai666 I found that this bug is related to [pr 5753](https://github.com/apache/shardingsphere/pull/5753). I have fixed it and added some related test cases.

[2020-08-28 16:00] tuohai666 commented on #7134
@strongduanmu Can you double check do you really fix this issue?
I met this problem 4 hours ago.

[2020-08-28 16:04] strongduanmu commented on #7134
@tuohai666 I'm so sorry for my expression😂, the fixed [issue](https://github.com/apache/shardingsphere/pull/7142) has not been merged. After the PR is merged, you can test again.

[2020-08-29 05:26] vinceLin054 commented on #7118
Original sql:
`INSERT INTO
 uc_users
(username, connection_id, email, phone_number, address)
 VALUES
(#{username}, #{connectionId}, #{email},#{phoneNumber}, ${@com.alibaba.fastjson.JSON@toJSONString(address)address})

This exception happened before actual sql generate.

[2020-08-29 08:11] wenweibin commented on #650
从源码看ShardingSphere设计-总览篇
 https://www.jianshu.com/p/d927ad6a1b3e

[2020-08-29 09:34] kimmking commented on #7099
Is there anything foward or problem?

[2020-08-29 09:37] kimmking commented on #7118
should be a concrete value before passed to shardingspehre.

[2020-08-29 09:47] sandynz commented on #7010
After some testing, I found solution 1 is not suitable, since added table columns will affect other test cases (columnCount assertion), there're too much related test cases need to update.

Considering possible solution 2:
If it could add columns before executing sql for every test case, and also drop columns after executing sql, the table structure change will be isolated to current test case.
Ex

[2020-08-29 12:13] tristaZero commented on #650
Hi @wenweibin
Thanks for your post, and it gives an analytical sense. :-)

[2020-08-29 12:39] tristaZero commented on #6458
@johnny2002 It is my honor to look at your comment in my lifetimes.
The PR is,

**To remove the relevant statements below to avoid users' confusion like you.**

[2020-08-29 12:45] tristaZero commented on #6759
Hi @duanzonglong @tuohai666

First, let me collect your thoughts,
 `sharding_wms` is a logic DB name, and `wms_sd1` is an actual one? We expected that this SQL is supposed to rewrite. However, we got an incorrect rewritten SQL, right?

[2020-08-29 13:02] tristaZero commented on #6918
@291277058 Hi Thanks for your explanation and example. I guess you did a lot of work on this issue.
To value your work, I wanna catch your point. How to understand **shardingkey should not update value(not forbiden update in the sql,just forbiden update the value of the sharding key)**?

If setting sharding key appears in the update items instead of where-condition like `set shardingID=xxx where 1

[2020-08-30 00:23] 291277058 commented on #6918
Yes,it should be execude, there is no reason to block sql commit, even canbe hanppened like want update shardingkey,but the value still route into the same table.So of cause expected to be executed.Deside execute or not should in the bessnies application.Not in base compoment,Shardingsphere should simple as it canbe.

Thanks for your kindness.This is a disscuess,it useful for me and my work is alw

[2020-08-30 02:59] vinceLin054 commented on #7118
` ${@com.alibaba.fastjson.JSON@toJSONString(address)})`
This is the hashMap type.
[code]
concrete value:
{"province":"230","city":"75"}

[2020-08-30 06:34] terrymanu commented on #7000
@jian365066744 I post code review comment on your pull request, please check and fix them

[2020-08-30 07:06] terrymanu opened #7148 "Add test case for StandardTransactionContexts"

[2020-08-30 07:08] terrymanu opened #7149 "Add test case for GovernanceTransactionContexts"

[2020-08-30 07:13] terrymanu commented on #6926
@jian365066744 Hi, any update on this issue?

[2020-08-30 07:14] terrymanu commented on #7001
@taojintianxia Hi, any update?

[2020-08-30 07:16] terrymanu commented on #7099
@kimmking @jian365066744 It is better to assign other contribute because jian365066744 has too issues assigned.

[2020-08-30 07:18] #7128 closed

[2020-08-30 07:24] gzdzss commented on #7149
assign to me

[2020-08-30 07:25] jian365066744 commented on #6926
I have finish it ,but the fork is error, I need fix it ,wait later

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8

[2020-08-30 08:18] jian365066744 commented on #7000
I have add more assert,is all right?
![image](https://user-images.githubusercontent.com/35258103/91654561-6667ba00-eadc-11ea-8b6e-8ea19f1301d8.png)

[2020-08-30 08:26] jian365066744 commented on #7000
if the #7000 is correct , please merge to  master,or you can tell the details reason as soon as possible.so I can fix and finish the #6926

[2020-08-30 08:56] sluk3r commented on #7099
please assign to me

[2020-08-30 09:06] xbkaishui commented on #7012
please assign to me

[2020-08-30 09:07] xbkaishui commented on #7148
please assign to me thanks

[2020-08-30 11:31] sandynz commented on #7010
Another thing to memtion:
It need to install [PostGIS](https://postgis.net), and enable it in PostgreSQL.

CREATE EXTENSION postgis;
CREATE EXTENSION postgis_raster;

[2020-08-30 16:57] terrymanu commented on #7099
@sluk3r Hi, the pr #7155 is not finish this issue because we need to submit code into master branch.
The class is already changed to `GovernanceShardingSphereDataSourceFactory`, could you submit the test case again for master?

[2020-08-31 01:34] taojintianxia commented on #7001
after some refactors , there is no method with public modifier

[2020-08-31 01:45] sluk3r commented on #7099
Ok, I'll try

[2020-08-31 02:12] tuohai666 commented on #7134
@strongduanmu Get it. I have assigned this issue to you.

[2020-08-31 02:30] dilboy commented on #7086
Is it possible to open the 4.x branch, let's help release it together?

[2020-08-31 03:05] unjie opened #7161 "Errors in parsing database function calls to facilitate the implementation of expanded sub-database queries"
## Feature Request
When using the custom function getRemindDays to execute "SELECT getRemindDays(${minCyc},${expirePrompt},#{user.uid})" SQL, db-sharding-autoconfiguration/4.1.1.RELEASE/db-sharding-autoconfiguration- 4.1.1.RELEASE.jar!/org/apache/shardingsphere/sql/parser/mysql/visitor/MySQLVisitor.class:321 conversion exception, cannot be converted to ColumnSegment object
中文:
在使用自定义函数getRemindDay

[2020-08-31 03:18] tristaZero commented on #7161
@unjie
Hi Thanks for your feedback, English comment is required though.
This issue has been fixed on the master branch. If you want to learn more, please take a keyword search in `issues` or `PRs` list.

Best,
Trista

[2020-08-31 03:18] #7161 closed

[2020-08-31 03:20] 291277058 opened #7163 "Bug: Property read with '.'"
## Bug Report
`
Caused by: java.lang.IllegalArgumentException: aes.key.value can not be null.
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:142) ~[guava-29.0-jre.jar:na]
	at org.apache.shardingsphere.encrypt.algorithm.AESEncryptAlgorithm.createSecretKey(AESEncryptAlgorithm.java:57) ~[shardingsphere-encrypt-common-5.0.0-RC1-SNAPSHOT.jar:5.0.0-RC1-SNAPSHOT]
	at org.apache

[2020-08-31 03:25] 291277058 commented on #7163
There are lots of property config like aes.key.value. It will cause error with spingboot.

[2020-08-31 03:26] 291277058 commented on #7163
If swittch '.' to '-' could be better.

[2020-08-31 03:31] taojintianxia opened #7164 "get null table name in scaling"
followings are my scaling configuration in postman :

[code]

as a test demo , this config is quite simple , just migrate all data from sourceSchema to targetSchema . but I got the failed task as following screenshot ：

![image](https://user-images.githubusercontent.com/4112856/91680311-64096c80-eb7d-11ea-89cf-a41bce8a9262.png)

as we could see, the table name is null , and the task failed

[2020-08-31 03:31] taojintianxia commented on #7164
I tried to commit a PR, need lu to take a review

[2020-08-31 03:47] vinceLin054 commented on #7118
This exception happened  again when I using string({"province":"230","city":"75"})  replace that ognl.

[2020-08-31 04:16] vinceLin054 commented on #7118
I think ${} cause this exception.

[2020-08-31 04:42] victorzhangchn commented on #5806
Does this mean the ShardingUpdateStatementValidator.preValidate should let sql whose where segment contains only partial of the sharding-columns pass?

[2020-08-31 05:40] unjie commented on #6458
I think that org.apache.shardingsphere.underlying.route.DataNodeRouter#createRouteContext should be placed in the implementation of org.apache.shardingsphere.underlying.common.rule.BaseRule in order to satisfy everyone's way of parsing or expanding sql to facilitate implementation Cover funation

中文:
我认为 在org.apache.shardingsphere.underlying.route.DataNodeRouter#createRouteContext 应该放到org.apache.s

[2020-08-31 05:41] xbkaishui commented on #7012
@victorzhangchn , your pr is duplicate with mine :smile:

[2020-08-31 05:51] zhuhongxu opened #7167 "bad constructor use"
## Bug Report
### Which version of ShardingSphere did you use?
4.0.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
select a list by mybatis with sharding-jdbc
### Actual behavior
gives me an error:  java.sql.SQLException: Value '0' can not be represented as java.sql.Timestamp
### Reason analyze (If you can)
the sql can be sele

[2020-08-31 05:59] #7167 closed

[2020-08-31 05:59] zhuhongxu commented on #7167
it is my problem

[2020-08-31 07:01] tristaZero commented on #6918
But if the value of the sharding key is updated but still exists in the original instance (No data migration), then this row will be `dead`. Since users can not get this record forever.

[2020-08-31 07:29] tristaZero commented on #7163
Hi @291277058
My impression is that there was this issue before. The solution for that is to upgrade the version of springBoot if my memory serves. Do you think that can answer your question? Else, you can take a keyword search in the issue list for the similar ones.

[2020-08-31 07:38] #7164 closed

[2020-08-31 07:54] 291277058 commented on #6918
User can realize it just like I did.Forbiden will sacrifice freedom of application possibility.Now I has problem with 4.1.1 and after version.I can update entity with jpa method becauth the sql contains shardingkey. If user can not realize they should use @Query annotation , they will block here and difficult to go farther, and they will think why they can't use `save` method, even more they think

[2020-08-31 08:03] tristaZero opened #7170 "The refinement on categorizing all the SQL statements"
Hi community,

I know this issue will be another considerable workload for the community. However, we have to start and boost it to move forward.

The reason is that **the overmuch and detailed segments overload the corresponding SQL statements at presently**.

For instance, there is a `SetAssignmentSegment` in `InsertStatement`. Yet, the dialect SQL `INSERT SET` is an exclusive SQL for MySQL and

[2020-08-31 08:05] #7148 closed

[2020-08-31 08:11] unjie commented on #6458
org.apache.shardingsphere.underlying.route.decorator.RouteDecorator:
`
/**
 * Route decorator.
 *
 * @param <T> type of rule
 */
public interface RouteDecorator<T extends BaseRule> extends OrderAware<Class<T>> {

    /**
     * Decorate route context.
     *
     * @param routeContext route context
     * @param metaData     meta data of ShardingSphere
     * @param rule         rule
     * @param

[2020-08-31 08:38] cy503328434 commented on #5882
because of health check, just close it.
`management.health.db.enabled=false`
or
[code]

[2020-08-31 08:38] chengw315 commented on #7115
It works, but another question floats out water. It's 'java.lang.ClassCastException'.
It happens in the first step--unmarshal the inline yaml to get DataSourceConfiguration
Maybe It's a bug?  @kimmking

### This is the debug picture
_ConfigurationYamlConverter ,lines 48_
![classCastException](https://user-images.githubusercontent.com/43491115/91698574-87e0a880-eba5-11ea-9ffd-7cb1b4d5ba72.png)

Yam

[2020-08-31 08:38] #7115 closed

[2020-08-31 08:38] 291277058 commented on #7163
I am allready use the newest version of spingboot, when use the appliction.property config, this bug always happened.I did not found any test to cover this problem.

[2020-08-31 08:51] tuohai666 opened #7174 "Integration test of PostgreSQL failed to drop database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-31 09:04] #7174 closed

[2020-08-31 09:58] #7099 closed

[2020-08-31 10:04] tuohai666 commented on #7010
This test case is for parser test only, and should be removed from integration test.

[2020-08-31 10:10] #7010 closed

[2020-08-31 10:37] tuohai666 opened #7181 "Failure test cases of BaseIT for MySQL"
**TODO**

- [x] Failure test cases of DQL BaseIT for MySQL (#6603)
- [x] Failure test cases of DCL BaseIT for MySQL (#6600)
- [x] Failed to get all Tables from Predicate (#7366)

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read document

[2020-08-31 11:06] #7108 closed

[2020-08-31 11:19] kimmking opened #7186 "Add examples compiling to Github Action"
Add examples compiling to Github Action, after every build&test ShardingSphere main project.

[2020-08-31 11:42] #7141 closed

[2020-08-31 11:48] dongzl commented on #7170
very great work!

[2020-08-31 11:49] tuohai666 commented on #6061
@ChuckPerry @xlxomg This problem may be resolved by https://github.com/apache/shardingsphere/pull/7182 . Can you try with 5.0.0-RC1-SNAPSHOT in master branch?

[2020-08-31 11:56] tuohai666 opened #7187 "Unsupported SQL of `SELECT current_user()`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-08-31 11:57] tuohai666 commented on #7187
The exception caused by parser. @tristaZero , can you have a look?

[2020-08-31 13:04] #7186 closed

[2020-08-31 14:31] #6926 closed

[2020-08-31 14:33] #7149 closed

[2020-08-31 14:47] xlxomg commented on #6061
Sorry, I can't help you.This problem is not 100% reproducible, and I don't have much time.(Translation software)

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhang Yonglun"<notifications@github.com&gt;;
发送时间: 2020年8月31日(星期一) 晚上7:50
收件人: "apache/shardingsphere"<shardingsphere@noreply.github.com&gt;;
抄送: "谢璐鑫、"<353018992@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [a

[2020-08-31 15:23] kimmking commented on #7013
Since we remove and redesign metrics integrated with java agent [1], now we close this issue.

1. https://github.com/apache/shardingsphere/issues/6653  phase 4

[2020-08-31 15:23] #7013 closed

[2020-08-31 15:24] kimmking commented on #6577
Cause the same reason with #7013, we close this issue now.

[2020-08-31 15:24] #6577 closed

[2020-08-31 15:25] kimmking commented on #6572
ControlPanelFacade has been removed.

[2020-08-31 15:25] #6572 closed

[2020-08-31 15:25] kimmking commented on #6547
ClusterConfiguration has been removed.

[2020-08-31 15:25] #6547 closed

[2020-08-31 15:48] #7012 closed

[2020-09-01 01:14] unjie commented on #6458
I have completed the test of the above code,RouteDecorator implements class is not open code
中文:
上述代码我已完成测试, RouteDecorator implements class 未开放代码

[2020-09-01 02:18] jian365066744 commented on #7000
Do you delete the OrchestrationBootstrapTest ? I can't find the class in latest version.

[2020-09-01 03:07] tristaZero commented on #6458
Hi @unjie
Thanks for your comment. Although I want to catch your idea, the rough and unformatted code clips held me back.
Could you raize a PR to present your programming and thought?

Very appreciated that,
Trista

[2020-09-01 03:29] #7106 closed

[2020-09-01 03:41] jingshanglu commented on #6982
@peng-ran @kimmking @terrymanu  Now, i test it on master branch, it is ok.
![image](https://user-images.githubusercontent.com/16559542/91792368-f5451580-ec47-11ea-9254-4c0518bce0b0.png)
![image](https://user-images.githubusercontent.com/16559542/91792419-09891280-ec48-11ea-96c1-43818b341afb.png)

[2020-09-01 06:17] tristaZero commented on #7163
@291277058 Hi Sorry for my mistake.
`.` is supported by 2.0.0 and the previous version. The latest version will throw the exception as yours.
Here is the version ShardingSphere using

[code]
However, a discussion about changing all the properties with `-` is required for the community, since that is a considerable modification.

Again, thanks for your issue. :-)

Trista

[2020-09-01 06:32] yang-7777 commented on #234
丁香园 http://www.dxy.cn/

[2020-09-01 06:51] leolv123 commented on #7072
i know the reason, V3.0.0 use the **SelectListClauseParser.class** to parse the select statement
![image](https://user-images.githubusercontent.com/34678371/91810712-f3d41700-ec60-11ea-849d-28edd36b8d70.png)

V4.0.0 cann't find the class, Is the parse class changed??

[2020-09-01 06:54] kimmking commented on #7118
[code]

[2020-09-01 06:55] kimmking commented on #7163
@yu199195 can you track this issue?

[2020-09-01 06:59] tuohai666 commented on #6061
@xlxomg Thanks all the same.

[2020-09-01 07:20] foreverzfg opened #7195 "Support Oracle RAC"
When the url type like this

 _jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.12)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.22)(PORT = 1521))(LOAD_BALANCE = yes)(FAILOVER = ON)(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = rac)(FAILOVER_MODE=(TYPE = SELECT)(METHOD = BASIC)(RETIRES = 20)(DELAY = 15))))

it throws UnrecognizedDatabaseURLException.

[2020-09-01 07:41] lidonghai11 commented on #7137
@strongduanmu    when you create a procedure, you must  change the statement delimiter from ; to $$ (or anything else) first.Then you issue "CREATE PROCEDURE STATEMENT".

[2020-09-01 08:02] zhaojitao opened #7196 "In multi-tenant mode database sharding invalid"
## Question

![image](https://user-images.githubusercontent.com/17734542/91823534-eec89500-ec6b-11ea-85cf-793a3307301e.png)
In multi-tenant mode, all tables of each tenant have the same structure and are partitioned according to tenant ID. Since there are hundreds and thousands of tables in the business that need to be partitioned, can the program execute the default partitioning rule without spec

[2020-09-01 08:11] kimmking opened #7197 "Integate metrics with java agent"
integate metrics with java agent

- [ ] make an investigation with sw-agent for metrics @yu199195
- [ ] integration with sw-agent for metrics @yu199195
- [ ] remove all references for metrics @yu199195

[2020-09-01 08:12] #6653 closed

[2020-09-01 08:17] zhaojitao commented on #7196
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
            <version>4.1.1</version>
        </dependency>

[2020-09-01 08:59] tuohai666 commented on #7137
@strongduanmu
Agree with @lidonghai11 .
We can find how to use delimiter in the official document:
![image](https://user-images.githubusercontent.com/24643893/91829797-803c0500-ec74-11ea-915b-3a40776f2975.png)

[2020-09-01 09:07] strongduanmu commented on #7137
@tuohai666 @lidonghai11 Thank you very much, I will test again.

[2020-09-01 09:54] tuohai666 opened #7200 "LockSegment absent of PostgreSQL parser"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-01 10:10] tuohai666 opened #7201 "Unexpected SELECT DISTINCT result"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-01 15:22] sandynz opened #7204 "assertRows failed in PostgreSQL DML integration test"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Test case pass

### Actual behavior
Exception thrown:
[code]

### Reason analyze (If you can)
PostgreSQL query won't order records by primary key ascending by default. e.g.
[code]

#

[2020-09-01 15:27] #6585 closed

[2020-09-01 15:35] tuohai666 commented on #6658
According to the docs https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/ , this is an unsupported SQL. I'll remove it from the integration test cases.

[2020-09-01 16:22] sandynz opened #7207 "INSERT...RETURING statement failed in PostgreSQL DML integration test"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Test case pass

### Actual behavior
Exception thrown.
`GeneralDMLIT.assertExecuteUpdate`:
[code]

`GeneralDMLIT.assertExecute`:
[code]

### Reason analyze (If you can)
INSERT...RETUR

[2020-09-01 17:13] flycoolman opened #7208 "The link to Developer List is not correct"
Hello there,
I am following the guide to get involved. There is an option to 'Find a mentor from the Developer List', but I can't find developers on the page. The link is in the section of 'Choose Issue' on the page below:
https://shardingsphere.apache.org/community/en/contribute/contributor/

I find the correct link to the developer list on the CONTRIBUTING.md file below:
https://github.com/apach

[2020-09-02 00:49] LightShine commented on #5806
Yes, I think this can be more flexible.

[2020-09-02 02:06] lxj1027997254 opened #7210 "binding table configuration result to be Cartesian"
sharding-jdbc-4.1.1
configuration:

[code]

my logic SQL is:
[code]
Result:

[2020-09-02 02:14] vinceLin054 commented on #7118
Yep, this way can make success.I hope you can be compatible with this situation.

[2020-09-02 03:15] liquanjin commented on #6996
@strongduanmu
OK。
I be willing to validate this

[2020-09-02 03:33] tristaZero commented on #7072
Maybe `AggregationProjectionSegment` on the master branch is what you want?
From 4.x, we chose a new and more efficient Parser Engine to parse SQL. I suggest you can dig into the master branch to get your answer. :-)

[2020-09-02 03:35] tristaZero commented on #7163
Sorry, @kimmking @yu199195 an update here.
@291277058 is one the way fixing this one. Let us wait for his good news!

[2020-09-02 03:41] gzdzss opened #7213 "fix sharding-spring-boot-mybatis-example"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

 1.  update  application.properties
   `spring.profiles.active=master-slave`
 2. Run  org.apache.sh

[2020-09-02 03:44] #7072 closed

[2020-09-02 04:01] YachDemo opened #7216 "fix:Paging data error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-02 04:05] #7204 closed

[2020-09-02 04:49] kimmking opened #7217 "Consider about combine ShardingSphereEventBus&GovernanceEventbus"
Consider about combine ShardingSphereEventBus&GovernanceEventbus

[2020-09-02 05:01] kimmking commented on #7216
You means

should be

[2020-09-02 05:43] kimmking commented on #7210
It's design for shardingsphere now.
IN-clause will lead to broadcast to all actual data nodes.

[2020-09-02 05:43] #7210 closed

[2020-09-02 05:48] #7208 closed

[2020-09-02 06:13] lxj1027997254 commented on #7210
so the configuration in official document is wrong?
https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/sql/
and could you tell me the right usage of the bindingTables

[2020-09-02 06:21] tristaZero commented on #7216
@YachDemo Is there any exception? Or you got the incorrect result?

[2020-09-02 06:30] tristaZero commented on #7196
Hi @zhaojitao
AFAIK, no one gave any feedback about this issue so far. Could you set `sql.show` right. So we can check whether the default strategy works or not.

[2020-09-02 06:30] #7213 closed

[2020-09-02 06:34] #7217 closed

[2020-09-02 06:35] tristaZero commented on #7195
Hi @foreverzfg

If so, I suppose it is not difficult to fix it. Would you like to work on it to help yourself and the community?

Here is a solution,

Look forward to your reply.

Thanks,
Trista

[2020-09-02 07:01] strongduanmu commented on #7170
@tristaZero Hi, I want to participate in this task, can you assign some tasks to me? 😀

[2020-09-02 07:41] taojintianxia opened #7223 "does scaling support resume ?"
hi there

this issue for discuss the current situation of sharding scaling resume function and related.

[2020-09-02 07:49] zhaojitao commented on #7196
Hi @tristaZero
![image](https://user-images.githubusercontent.com/17734542/91953765-d58b1b80-ed33-11ea-87e3-09fd6612e3fc.png)
![image](https://user-images.githubusercontent.com/17734542/91953839-dc199300-ed33-11ea-99d3-9f8df037bf46.png)

[2020-09-02 07:51] zhaojitao commented on #7196
Hi @TristaZero
![image](https://user-images.githubusercontent.com/17734542/91954163-fe131580-ed33-11ea-931d-8118c6b1c52a.png)
![image](https://user-images.githubusercontent.com/17734542/91954289-2f8be100-ed34-11ea-83bb-4398dad4ec8e.png)

[2020-09-02 08:28] lxj1027997254 opened #7225 "how to use bindingTables rightly"
#7210 so how to use bindingTables rightly?

[2020-09-02 08:31] zhaopinglu opened #7226 "Request to add words RANK and FUNCTION as MySQL unreserved Word in mysql sql parser module"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-02 08:47] dmbj commented on #7223
here my case for example:
1.6000w+ data intent to sharding
2.mysql version 5.6.45-log base VIP mod,binlog `expire_logs_days:7 max_binlog_size:500m`
3.scaling & proxy version:5.0.0.RC.snapshot

use less then 2 day to sync  INVENTORY_DATA, when INVENTORY_DATA sync finished and begin to sync increase Data, occur exceptions
[code]
then `SHOW BINARY LOGS;` to check binlog filelist, found scaling job ta

[2020-09-02 08:50] strongduanmu commented on #7136
@tuohai666 I have fixed this issue, can you help test it? 😀

[2020-09-02 08:51] tuohai666 commented on #7136
Of course.

[2020-09-02 09:21] YachDemo commented on #7216
yes

[2020-09-02 09:21] YachDemo commented on #7216
exception？

[2020-09-02 09:28] fantacy2001 opened #7227 "sharding jdbc, when insert config useGeneratedKeys , in one Transactional , the ID obtained by batch insertion is the first one"
sharding jdbc 4.0.0
mybatis spring
sql mapper:
 <insert id="insertByStockMoveDetail" parameterType="com.jd.jcloud.wms.inventory.stockMove.domain.StockMoveDetail"
            useGeneratedKeys="true" keyProperty="id">
        insert into stock_move_detail  ........      values .....
sharding config ： only sharding db ,  Custom keyGenerator : UidGenerator
in one Transactional ,  Loop in the java code

[2020-09-02 10:06] YachDemo commented on #7216
git demo
https://github.com/YachDemo/fix-shardingsphere-page.git

[2020-09-02 10:42] tristaZero commented on #7227
Hi, do you think your issue is similar to the issues in [#6895](https://github.com/apache/shardingsphere/pull/6895)?

[2020-09-02 10:47] tristaZero commented on #7226
Hi @zhaopinglu
1. What if you use `FUNCTION` to execute SQL?
2. [Keyworkd of MySQL](https://dev.mysql.com/doc/refman/8.0/en/keywords.html) tell me `FUNCTION (R)` is reserved in 8.x

[2020-09-02 11:04] tristaZero commented on #7225
Hi @lxj1027997254

Do you think the following result is what you expected?

[code]

[code]

[2020-09-02 11:14] tristaZero commented on #7196
@zhaojitao Do we have the same understanding of `defaultTableRule`? If there is `defaultTableRule`, you can ignore configuring the shardingStratergy, but `actualDataNodes: ds_${0..1}.t_order_${0..1}` is required yet, right?

[2020-09-02 11:33] lxj1027997254 commented on #7225
yes, but i got 4 actual SQL when i configured the same as you.
my configuration is:
spring.shardingsphere.datasource.names=ds_0

spring.shardingsphere.datasource.ds_0.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.ds_0.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.ds_0.jdbc-url=jdbc:mysql://localhost:3306/ds
spring.shardingsphere.datasource.ds_0

[2020-09-02 12:35] strongduanmu commented on #7137
@tuohai666 I have used delimiter to create function and procedure, but there was no exception. How can I reproduce this exception?

[2020-09-02 12:46] fantacy2001 commented on #7227
It could be similar.  BatchInsert under the same transaction
#6895 is batchInsert in one sql ,like "insert into table values(),(),();"
my question is single insert ,like "insert into table values();"
but Loop in the java code to call the sql, the loop is managed by transactions  like
for(A a : aList){
     singleInsert(a);
}

[2020-09-02 15:10] zhaojitao commented on #7196
@tristaZero yes,The defaultDatabaseRulerule is not valid if actualDataNodes are not configured。I have 1000 table needed sharding database, do I need to configure actualDataNodes? Is that right?

[2020-09-02 16:13] flycoolman commented on #7208
Hi,
@kimmking @menghaoranss
It seems the original issue was not fixed.

[2020-09-03 02:25] yang-7777 commented on #234
神州商龙科技股份有限公司 tcslwxwl.cn.b2b168.com/

[2020-09-03 02:26] yang-7777 commented on #234
神州商龙科技股份有限公司 http://tcslwxwl.cn.b2b168.com/

[2020-09-03 03:44] hujuncheng opened #7232 "What's wrong with this SQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-03 04:03] mark4z commented on #7129
So, sharding not supported this.

[2020-09-03 06:46] tristaZero commented on #7232
@hujuncheng Hi

I guess there is something wrong with our 4.x release. However, I tested your SQL on `the master branch`, and it worked well.
You can have a try or wait for our next release.

Thanks,
Trista

[2020-09-03 06:52] tristaZero commented on #7227
If so, it has been identified as a bug indeed. Please wait for it fixed. I believe the next release will include this bugfix certainly.

Hi, @terrymanu Ping here.

[2020-09-03 06:52] #7227 closed

[2020-09-03 06:58] tristaZero commented on #7225
Sorry for my inadequate clarification. My test ran in the master branch, which means it will be available for users from the next release.
@lxj1027997254

[2020-09-03 06:58] #7225 closed

[2020-09-03 07:23] tristaZero commented on #7196
Hi @zhaojitao
I have to say that meet the expectation.  i.e., Even though users use `defaultDatabaseRulerule`, a simplified `tableRule` with `DatabaseRulerule` is still unavoidable. Otherwide, how does shardingSphere know this table is a sharding table or non-sharding table?

[2020-09-03 07:48] zhaojitao commented on #7196
@tristaZero Let's try a different idea here, which is to set whether all tables are default sharded or not, and then add a table that excloud doesn't go with the default rule (whether sharding or not), which helps us achieve that goal of simplifying configuration, which is of course a small recommendation. Here's a code snippet that helps clarify

[2020-09-03 07:48] lishijun121910 opened #7233 "shardingjdbc-4.1.0 doesn't react on datasource change event from zookeeper when master fail."
#7229 # Which version of ShardingSphere did you use?

4.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

When master node failed,  write operation all failed because timeout,  now change datasouce by zookeeper, sharding-jdbc receives datasource and rule changeevent , do write operations on new master, and service recover.

[2020-09-03 08:32] #6714 closed

[2020-09-03 09:18] kimmking commented on #7233
did you restart your app after changing rules?
and can your post your jdbc orchestration config?
and chec your orchestation name and namespace is the same with config?

[2020-09-03 09:22] kimmking commented on #7216
can you try 4.1.1 or master branch?

[2020-09-03 09:42] lishijun121910 commented on #7233
1. I do not restart app.
2. my jdbc orchestration config:
![image](https://user-images.githubusercontent.com/8045307/92099071-a4cae500-ee0c-11ea-9ad3-8f48d7fa5b93.png)
3. the datasource and rule change event works very well when the datasources are normal , it only fails when master node fail while writing.

[2020-09-03 11:44] yu199195 commented on #7233
@lishijun121910  hi, in 4.1.0  we not support change master datasouce config in config center.

[2020-09-03 11:49] yang-7777 commented on #650
从源码看ShardingSphere设计-解析引擎篇
https://www.jianshu.com/p/b22030d1af10
Author: @wenweibin
Thank you for your contribution!

[2020-09-03 12:27] tristaZero commented on #6212
Hi everyone,

I intend to shift some of my focus on this issue. As you know, [Information_schema](https://github.com/apache/shardingsphere/issues/6212#issuecomment-665589111) is the most effort-taking and the last way for us to achieve this optimization.
After my crude investigation, I feel that it is feasible to only load the column metadata for configured tables and table names for unconfigured

[2020-09-04 02:33] lishijun121910 commented on #7233
@yu199195  does support in 4.1.1?

[2020-09-04 03:09] tristaZero commented on #7216
I mean, it there any error out in your log file? Or there is no error info, but you got the wrong result?
Besides, do you think the actual SQL is expected?

[2020-09-04 03:25] tristaZero commented on #7196
@zhaojitao Sorry I can not get your idea clear. Do you mean to add one configuration item to set some of the tables using `defaultDatabaseRulerule`?
BTW, at present, you just need to configure a table name for those intending to use `defaultDatabaseRulerule`. It seems not taxing？

[2020-09-04 03:33] yu199195 commented on #7233
@lishijun121910  yes， mybe support in 5.x

[2020-09-04 04:23] YachDemo commented on #7216
No error log
sql expected：
select id, icon, title, subtitle, notifyIndex, url, type, pushTime,params
from t_sys_message0 sm
where delFlag = 0 and pushStatus = 1 and uid in (?, 0)
and id not in (select mid from t_del_message dm where dm.uid = ?)
order by pushTime desc
limit ?, ? ::: [612593098987540480, 612593098987540480, 0 , 10]

but：

select id, icon, title, subtitle, notifyIndex, url, type, pus

[2020-09-04 04:26] YachDemo commented on #7216
![image](https://user-images.githubusercontent.com/38523192/92199432-bf9f6700-eea9-11ea-8dd6-2a6e8f052c20.png)

[2020-09-04 05:35] tuohai666 commented on #6061
Duplicated with #7141 .

[2020-09-04 05:35] #6061 closed

[2020-09-04 06:44] xbkaishui commented on #6212
@tristaZero , Yes I am very appreciate for this task.

[2020-09-04 07:03] kimmking commented on #7201
With the config rule and test:
[code]

And the test case:

[code]

It show the case of distinct with multiple columns works well.

[2020-09-04 07:12] menghaoranss opened #7245 "The local confugurations should be persisted to config center when overwrite=false but there is no configuration in config center"
## Bug Report

The following scenes will persist the configurations to the config center when there are local configurations

1.  configure `overwrite=true`
2.  configure `overwrite=false`  &  no configuration in config center

[2020-09-04 07:21] kimmking commented on #7201
Config master-slave rules and test.
[code]

the test case:
[code]

It's the same with sharding rules, except avg+distinct.

[2020-09-04 07:26] zhaojitao commented on #7196
@tristaZero ok,you are right! thanks!

[2020-09-04 07:26] #7196 closed

[2020-09-04 08:20] #7245 closed

[2020-09-04 08:26] carl-zhao commented on #234
茄子快传 http://www.ushareit.com/

[2020-09-04 09:06] goool opened #7252 "sharding-proxy error: insert into table with blob value like x'123456'"
### Which version of ShardingSphere did you use?
4.1.0, and 4.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
mysql> insert into t_test_blob values ( x'123456' );
Query OK, 1 row affected (0.00 sec)

### Actual behavior
mysql> insert into t_test_blob values ( x'123456' );
ERROR 1064 (42000): You have an error in your SQL

[2020-09-04 09:30] HanKaiqiang commented on #6964
please， help me

[2020-09-04 09:35] victorzhangchn commented on #5806
@terrymanu Because that I am a newbie for the community, and my thought may be limitted lacking of overall understanding of the project, so I want to ask you for suggestion: Do you think this resquest is resonable?

[2020-09-04 09:53] jacksparrow414 commented on #6964
@HanKaiqiang I'll use the example you provided to look at the problem

[2020-09-04 09:59] #7201 closed

[2020-09-04 09:59] #6658 closed

[2020-09-04 10:06] HanKaiqiang commented on #6964
Ok, thanks

[2020-09-04 10:06] HanKaiqiang commented on #6964
ok， thanks

[2020-09-04 11:19] curtiscai opened #7256 "4.1.1分支的示例example使用的是5.0.0-RC1-SNAPSHOT的版本，可以提供4.1.1的示例么"
4.1.1分支的示例example使用的是5.0.0-RC1-SNAPSHOT的版本，可以提供4.1.1的示例么

[2020-09-04 11:27] kimmking commented on #7256
English only.
It's truely 4.1.1 examples with a wrong version.

[2020-09-04 11:27] #7256 closed

[2020-09-04 11:31] kimmking commented on #7216
It seem a bug that shuffle the parameters with a sub query.

[2020-09-04 15:44] yangsheng1995 opened #7259 "Missing the data source name: 'null'"
I have a bug, It's "Missing the data source name: 'null'" on use shardingsphere. I perform an "insert" to insert a set of data into the database, he returned the exception to me.
     Here's mine properties of shardingSphere:
spring.main.allow-bean-definition-overriding=true
spring.shardingsphere.datasource.names=ds0,ds1
#ds0
spring.shardingsphere.datasource.ds0.type=com.zaxxer.hikari.HikariDataSo

[2020-09-04 17:44] yangsheng1995 commented on #7259
Here's mine pom.xml of maven:
<dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-jdbc</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>

[2020-09-04 17:52] terrymanu commented on #7047
Closed because of no response anymore

[2020-09-04 17:52] #7047 closed

[2020-09-04 17:52] terrymanu commented on #7046
Closed because of no response anymore

[2020-09-04 17:52] #7046 closed

[2020-09-04 17:53] terrymanu commented on #6947
Closed because of no response anymore

[2020-09-04 17:53] #6947 closed

[2020-09-04 17:56] terrymanu commented on #6087
Closed because of no response anymore

[2020-09-04 17:56] #6087 closed

[2020-09-04 17:57] terrymanu commented on #7085
Closed because of no response anymore

[2020-09-04 17:57] #7085 closed

[2020-09-04 17:57] terrymanu commented on #7087
Closed because of no response anymore

[2020-09-04 17:57] #7087 closed

[2020-09-05 05:35] jacksparrow414 commented on #6964
@HanKaiqiang
I try to reproduce problem by configuration you provided, and I found that there are no **tableRule** so that ShardingSphere use
unicast routing.
![{747621FA-F45B-432F-8210-EFE957E11EDC}_20200905114508](https://user-images.githubusercontent.com/33389378/92297014-4cf7bf80-ef6d-11ea-92b9-13d81f185fb1.jpg)

[2020-09-05 06:45] terrymanu opened #7261 "Add test case for DataSourceParameterConverter.getDataSourceParameterMapFromYamlConfiguration"

[2020-09-05 06:52] jian365066744 commented on #7261
please assign to me

[2020-09-05 08:24] wencyGit opened #7264 "spring boot nacos orchestration problem"
- Spring boot choreography governance combined with Nacos to introduce which packages to see the document integration, was so integrated that I was about to vomit. Google search information basically failed to solve my problem
- I'm using shardingsphere version 4.1.1

[2020-09-05 09:16] #7261 closed

[2020-09-05 09:28] terrymanu opened #7266 "Add test case for HikariJDBCParameterDecorator"

[2020-09-05 09:35] sluk3r commented on #7266
please assign it  to me

[2020-09-05 12:37] dongfangding opened #7269 "dataSourceNames only taking the last one after master-slave-rules is configured"
## The question about dataSourceNames only taking the last one after master-slave-rules is configured

Please forgive me, I have to use Google Translate due to the limitation of English only.

In the process of my study, I configured one master and multiple slaves. One of the tables is used for master-slave synchronization + read-write separation, and then there is another table I use for horizont

[2020-09-05 14:23] #7266 closed

[2020-09-06 06:22] terrymanu opened #7273 "Hide internal impl with datasource persist in governance module"
In `config/schema/${schemeName}/datasource` node, there is internal impl `org.apache.shardingsphere.governance.core.common.yaml.config.YamlDataSourceConfiguration` persisted for data source name.
It is better to use YAML shortcut to hide internal impl.

[2020-09-06 09:46] #7163 closed

[2020-09-06 09:53] tristaZero commented on #7216
@YachDemo Hi thanks for your clarification.
I suppose we have fixed this issue already on `the master branch`. But just in case, @jingshanglu  could you give this issue a double check?

[2020-09-06 10:36] tristaZero commented on #6662
Hi @zhaopinglu

Thanks for your proposal.

Lately, I spent some time investigating this product and considered the feasibility of importing it into the ShardingSphere ecosystem. [Community Mail list](https://lists.apache.org/thread.html/r9d99ce07c77ff5ee781bbaad02b024c947d3340fdec9649305b4d0b8%40%3Cdev.shardingsphere.apache.org%3E) will show you more about my opinion and thinkings.

We welcome any

[2020-09-06 10:36] terrymanu opened #7276 "Refactor shadow API"
The current Shadow API's `shadowMappings` is not easy to understand.

It is better to create a new `ShadowDataSourceRuleConfiguration` object for collection.
There are `sourceDataSourceName` and `shadowDataSourceName` into the object.

Just ref for MasterSlave's configuration. Any suggestion?

We need to determine and complete the API changes before 5.0.0-alpha release.

[2020-09-06 11:46] terrymanu opened #7278 "Add test case for ShadowValueJudgeUtil"

[2020-09-06 11:48] taojintianxia commented on #7278
assign

[2020-09-06 15:16] terrymanu opened #7280 "Judge whether shadow logic should be upgrade"
The current shadow judge engine logic split to `simple` and `prepared` which chosen by SQL parameters are empty.

The value will miss if there are parameters in prepared statement, but the shadow value is not in parameter.

[2020-09-06 15:45] terrymanu opened #7281 "Consider about remove shardingsphere-proxy-common module"
shardingsphere-proxy-common include ProxyConfiguration, DataSourceParameterConverter, YAML related, RDL converter

This module may remove and move the object to suitable modules.

My idea:

1. Move ProxyConfiguration into `shardingsphere-proxy-bootstrap` module
2. Move DataSourceParameterConverter into `shardingsphere-proxy-backend` module
3. Move RDL converter into `shardingsphere-proxy-backend`

[2020-09-06 16:46] #7278 closed

[2020-09-06 17:53] kimmking opened #7283 "Consider about using SPI instead of EventBus in infra"
Consider about using SPI instead of EventBus in infra.
And keep EventBus only used in governance module with repository watching event.

[2020-09-06 17:57] kimmking commented on #7264
see this: https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/configuration/config-spring-boot/

[2020-09-07 01:55] HanKaiqiang commented on #6964
@jacksparrow414   So, Direct Route also needs to be set sharding key ?
![image](https://user-images.githubusercontent.com/48614052/92341431-3ded4a80-f0f0-11ea-8349-52adbfd925f0.png)

[2020-09-07 02:04] HanKaiqiang commented on #6964
@jacksparrow414  use default-database-strategy.hint,   must set tableRule ?    May I set default-table-strategy.hint ?

[2020-09-07 02:33] wencyGit commented on #7264
- I think I should have read all the documents of sharding JDBC. It is necessary to import all jar packages. However, the following errors always occur. I don't know what jar packages I should need

![image](https://user-images.githubusercontent.com/21151964/92343109-6c215900-f0f5-11ea-8ad9-0a1f685b10f9.png)
![image](https://user-images.githubusercontent.com/21151964/92343134-7ba0a200-f0f5-11ea-95

[2020-09-07 03:17] chana71 opened #7284 "ColumnMetaDataLoader load error and proxy cannot start success"
## Bug Report

[code]
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior

### Actual behavior

### Reason analyze (If you can)
ColumnMetaDataLoader load error because JDBC API `DatabaseMetaData getTables`   consider `_` as a wildcard symbol and will find all tables match the t

[2020-09-07 05:07] terrymanu opened #7285 "Add test cases for proxy's bootstrap.init package"
Please add test cases for proxy's bootstrap.init package, the tasks are:

- [x] StandardBootstrapInitializerTest
  - [x] Add test case for StandardBootstrapInitializer.getProxyConfiguration()
  - [x] Add test case for StandardBootstrapInitializer.decorateSchemaContexts()
  - [x] Add test case for StandardBootstrapInitializer.decorateTransactionContexts()
- [x] GovernanceBootstrapInitializerTest

[2020-09-07 05:12] sluk3r commented on #7285
please assign it to me

[2020-09-07 05:17] gzdzss commented on #7285
I want to get involved

[2020-09-07 05:24] #6551 closed

[2020-09-07 06:17] yanickxia commented on #7276
i will refactor it.

[2020-09-07 06:17] yanickxia commented on #7280
i will fix it.

[2020-09-07 07:02] kimmking commented on #7284
You are right.

[code]

[2020-09-07 08:52] Anricx commented on #5813
### The error occurred while setting parameters
### SQL: UPDATE `_device_transmit`          SET `status` = 1 AND             `transmit_time` = NOW()           WHERE `id` = ? AND `status` = 0
### Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.predicate.OrPredicateSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.Expression

[2020-09-07 09:04] #6493 closed

[2020-09-07 09:06] kimmking opened #7288 "Consider about combining metadata-center with registry-center"
Consider about combining metadata-center with registry-center

[2020-09-07 09:45] wencyGit commented on #7264
@kimmking
- Finally, we have finished the service management. With all due respect, the 4. X document is really a pit. Where to step on

![image](https://user-images.githubusercontent.com/21151964/92374124-e7086500-f131-11ea-8095-faccc3454b46.png)

[code]
- The above configuration is the upper ghost. Nacos should write the following configuration

[code]

[2020-09-07 09:53] wencyGit commented on #7264
- Finally, I found the final configuration in the code you submitted. I really have nothing to say
- https://github.com/apache/shardingsphere/pull/6154/files

[2020-09-07 10:26] tristaZero commented on #7269
Hi @dongfangding
Thanks for your question and for debugging in the source code. Could you provide your configuration?
As you said, I supposed you configured `sharding rule` and `master-slave rule` together, didn't you?

[2020-09-07 10:27] tristaZero commented on #7264
So did you get your answer? If so, please close this one. Thanks.

[2020-09-07 10:30] tristaZero commented on #7259
Hi, @yangsheng1995
I found you reopened this issue. So how is this issue going? Still exists?

[2020-09-07 10:34] #7264 closed

[2020-09-07 10:34] dongfangding commented on #7269
Yes, you are right, but in my case, I think it's necessary.

About configuration, it like this.

[code]

[2020-09-07 10:47] xbkaishui opened #7293 "Multi netty version caused connect fail"
## Bug Report
I compiler the master branch,  and test the latest ShardingSphere-Proxy, found it start ok, but can't connect, caused by multi netty version problem.

**For English only**, other languages will not accept.
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

P

[2020-09-07 10:48] xbkaishui commented on #7293
please assign to me if it is acceptable ?

[2020-09-07 10:55] taojintianxia commented on #7285
finished StandardBootstrapInitializerTest

[2020-09-07 13:37] #7293 closed

[2020-09-07 14:51] xbkaishui opened #7303 "Proposal of add e2e test case"
## Feature Request
Since we added more and more features (components) in SS.  The unit test and IT test may not enough to guarantee the whole quality,
It's better to add end to end test case.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No, it's just enhance the test case related
### Describe the feature you would like.
Add

[2020-09-07 19:54] flycoolman opened #7307 "Rename MasterSlave module to ReadWriteSplit"
This is a proactive change to catch up with the movement of industry.
Primary and replica will be used as alternatives.

[2020-09-07 19:55] flycoolman commented on #7307
@terrymanu
I will work on the change. Please assign it to me.

[2020-09-08 01:43] dongzl commented on #7288
Hi @kimmking , why do we combine them?

[2020-09-08 02:53] menghaoranss commented on #7288
@dongzl  In the latest governance configuration, ` metadata center` has been removed

[2020-09-08 02:53] tristaZero commented on #7307
Hi @flycoolman Thanks for your attention for the issue from the dev ml.
Welcome!

This issue is likely to cause a massive effect on the modules. Please be careful about renaming work and potential conflicts caused by other contributors. :-)

@terrymanu Ping.

[2020-09-08 02:59] xbkaishui commented on #7195
please assign to me

[2020-09-08 03:01] tristaZero commented on #7269
Hi @dongfangding
Could you try to remove `slave$->{0..1}.user_article,slave$->{0..1}.user_article_1` and restart agagin?

[2020-09-08 03:04] tristaZero commented on #7195
@xbkaishui Good luck.

[2020-09-08 04:04] terrymanu commented on #7307
@flycoolman Great, thank you for take this task.

I paste the mail here.
FYI: https://lists.apache.org/thread.html/r95fb756ce67f52b1dac9ba103cf68e38d3df88f3356ff2f3bfaa0556%40%3Cdev.shardingsphere.apache.org%3E

[2020-09-08 05:30] #7283 closed

[2020-09-08 06:06] #7273 closed

[2020-09-08 06:25] kimmking opened #7316 "Consider about sync all instances metadata when DDL executed"
Consider about sync all instances metadata when DDL executed.

[2020-09-08 06:28] kimmking opened #7318 "Consider about design of HA module and integration with MGR"
Consider about design of HA module and integration with MGR

[2020-09-08 06:39] dongfangding commented on #7269
It would be ok, but it's not what i want.
As I said above,  **It looks like if I configure master-slave-rules, dataSourceNames will only keep the last one. but I have a table that does not need to be read-write separated, so my actual-data-nodes Contains the slave datasource name I want.**

The tables I am talking about are `user_article` and `user_article_1`, so i configured `actual-data-nodes: m

[2020-09-08 07:01] #6466 closed

[2020-09-08 07:04] gzdzss opened #7321 "Add more test cases for ShardingSphere-Proxy"
Please add test cases for proxy, the tasks are:

**shardingsphere-proxy-backend**
-  ~~ProxySQLExecutorCallback~~

**shardingsphere-proxy-frontend-core**
- ~~ShardingSphereProxy **(jian365066744)~~
- ~~FrontendChannelInboundHandler~~
- ~~ServerHandlerInitializer **(jian365066744)~~

**shardingsphere-proxy-frontend-mysql**
- ~~MySQLFrontendEngine~~
- ~~MySQLCommandExecuteEngine~~
- ~~MySQLUnsupport

[2020-09-08 07:16] xbkaishui opened #7323 "CREATE TABLE IF NOT EXISTS execute fail"
## Bug Report
[code]

**For English only**, other languages will not accept.

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
run and finish successfully
### Actual behavior
throws an exception

[2020-09-08 07:24] jian365066744 commented on #7321
assign to me

[2020-09-08 07:25] cenyu00 commented on #7321
I want do this :

shardingsphere-proxy-frontend-mysql

 - MySQLProtocolFrontendEngine
- MySQLCommandExecuteEngine
- MySQLUnsupportedCommandExecutor

[2020-09-08 07:26] tristaZero opened #7324 "[New feature] How to use RDL to create Sharding databases and tables online?"
Hi, community,

#6466 mainly finished the RDL new feature for 5.x release. This issue introduces how to use RDL to create Sharding DBs and tables for your production or test environment.

### What's the RDL?
RDL means rule definition language to create your distributed DBs, tables by SQL. In other words, this is a specific SQLs for ShardingSphere to inject some configurations.
By means of RDL, use

[2020-09-08 07:49] kimmking opened #7325 "[DISCUSS]New design of data structures in config center"
Consider about adjust data structures in config center

[2020-09-08 07:53] paascloud commented on #234
每日优鲜 https://www.missfresh.cn/

[2020-09-08 07:57] chana71 opened #7326 "can not find owner from table when select from a,b with where condition"
## Bug Report
This type SQL `select from (subquery)a, (subquery)b where a.id=b.aid` will report the error below. It should work as `join ... on`. Will this be fixed? Thx
![image](https://user-images.githubusercontent.com/31340809/92448162-ccde8d80-f1ea-11ea-8971-1736ba37c2e7.png)

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or Sharding

[2020-09-08 08:22] tuohai666 commented on #7321
@jian365066744 Please pick up one or more test cases, thanks.

[2020-09-08 08:24] gzdzss commented on #7321
@cenyu00  Got it.

Please finish the tasks :
- ~~MySQLProtocolFrontendEngine~~ -> MySQLFrontendEngine
- MySQLCommandExecuteEngine
- MySQLUnsupportedCommandExecutor

[2020-09-08 08:43] tuohai666 commented on #5435
Duplicated with #7321 .

[2020-09-08 08:43] #5435 closed

[2020-09-08 08:44] terrymanu opened #7329 "Add test cases for JDBCBackendDataSource"

[2020-09-08 08:47] menghaoranss commented on #7325
The new data structure of config center:

[code]

[2020-09-08 08:51] jian365066744 commented on #7329
please assign to me

[2020-09-08 08:54] kimmking commented on #7326
It's doesn't support now, and no plan for enhancement.
refer: https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/#%E4%B8%8D%E6%94%AF%E6%8C%81%E7%9A%84sql

[2020-09-08 08:54] #7326 closed

[2020-09-08 09:01] kimmking commented on #7197
@yu199195 let's get up and move on.

[2020-09-08 09:10] yangsheng1995 commented on #7259
I haven't question. I already solve the question, thank you!

[2020-09-08 09:10] #7259 closed

[2020-09-08 09:35] tristaZero commented on #7323
Hi @xbkaishui

Thanks for your feedback. It is unsupported at present, but it is not a difficult one from my perspective. Here is a simple solution from me.

1. Add a boolean member like `isNotExisted` to `CreateTableStatement`
2. Check this new table in `ShardingCreateTableStatementValidator` with `ShardingSphereMetaData`

Welcome anyone interested in it to have a try!

BTW, @strongduanmu Would y

[2020-09-08 09:38] xbkaishui commented on #7323
Please let me try, I am not familiar with the sql parser part.

[2020-09-08 09:47] Lucas-307 commented on #7223
@dmbj , Scaling support resume from break-point, which depends on zookeeper service. You should setup an zookeeper service and add config.

${scaling_home}/conf/server.yaml
[code]
restart scaling service.

Focus on your exceptions: `Could not find first log file name in binary log index file`, which means binlog has been removed before execute increase job.

So you should turn up binlog expire day

[2020-09-08 10:21] dongfangding commented on #7269
I still have to reiterate my scenario, that is, multiple tables, some tables I want to use master-slave-rule, and other tables, I just want it to implement its own TableRule.

Because I didn't pay too much attention to the query before, I found a new problem now. It was a query problem after sub-database. This route did not take effect and was eventually overwritten by master-slave-rule.

I notice

[2020-09-08 10:42] #6212 closed

[2020-09-08 11:04] chana71 commented on #7326
@kimmking sorry I don't figure out which one belongs to my case in your ref.
Besides how about this one `select from (subquery)a join (subquery)b on a.id = b.id where a.id=?`.  Report the same error. will this be fixed?

[2020-09-08 11:39] tristaZero commented on #7323
@xbkaishui It is not a very easy job for a newbie, but welcome to your initiative!
If you need any help, please tell me.

[2020-09-08 11:45] terrymanu opened #7331 "Add more test cases for ProxyContext"
Please add test cases for:

- [ ] ProxyContext.init()
- [ ] ProxyContext.schemaExists()
- [ ] ProxyContext.getSchema()
- [ ] ProxyContext.getAllSchemaNames()

[2020-09-08 11:50] xiangtao commented on #7331
hi, it cat assign it to me @terrymanu

[2020-09-08 12:22] yu199195 commented on #7284
@chana71  hi，thanks， you can follow this #7330  will fix it。

[2020-09-08 12:26] xbkaishui commented on #7323
Ok, thanks

[2020-09-08 12:39] yu199195 commented on #7331
@xiangtao Welcome to join

[2020-09-08 12:41] jian365066744 commented on #7321
I want do this

shardingsphere-proxy-frontend-core

&nbsp;ShardingSphereProxy
&nbsp;FrontendChannelInboundHandler
&nbsp;ServerHandlerInitializer

---Original---
From: "Zhang Yonglun"<notifications@github.com&gt;
Date: Tue, Sep 8, 2020 16:23 PM
To: "apache/shardingsphere"<shardingsphere@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"zhang jian"<365066744@qq.com&gt;;
Subject:

[2020-09-08 12:49] gzdzss commented on #7321
@jian365066744  Got it.

Please finish the tasks :
-  ShardingSphereProxy
-  FrontendChannelInboundHandler
-  ServerHandlerInitializer

[2020-09-08 13:04] strongduanmu commented on #7323
@tristaZero I am very sorry for the late reply and I think @xbkaishui  can do a great job on this issue. 😀

[2020-09-08 16:14] terrymanu commented on #7331
I renamed `ProxySchemaContexts` to `ProxyContext` via #7335, so I just modify the issue title and content as well.

[2020-09-08 16:31] #7284 closed

[2020-09-08 19:26] flycoolman commented on #7307
@tristaZero Thanks for reminding me the difficulty of the task. I understand it will have a massive effect. So I expect stricter review before merge.

[2020-09-09 00:59] dongzl commented on #7325
Hi @kimmking , @menghaoranss

What’s the difference between the old and new data structure.

I suggest if we want to modify the data structure, we should have detail description for the modification point，

and convenient for everyone to understand the optimization content.

Thanks!

[2020-09-09 02:53] tristaZero commented on #7323
Yep, I believe that.
Both of you are the significant force for the community. I hope you can enjoy yourselves with the OS community. :-)

[2020-09-09 03:01] tristaZero commented on #7269
Got it, could you rename master-slave rule to another one? Let's differentiate the name of master-slave Rule from the name of the real master data node.

[2020-09-09 03:14] dongfangding commented on #7269
Do you mean like this ?
[code]

[2020-09-09 03:15] sandynz commented on #7321
Hi, I'd like to try `shardingsphere-proxy-frontend-postgresql` module:
- PostgreSQLProtocolFrontendEngine
- PostgreSQLCommandExecutorFactory
- PostgreSQLUnsupportedCommandExecutor
- PostgreSQLComTerminationExecutor
- PostgreSQLComDescribeExecutor
- PostgreSQLComExecuteExecutor
- PostgreSQLComParseExecutor
- PostgreSQLComSyncExecutor

[2020-09-09 03:20] #7118 closed

[2020-09-09 03:21] menghaoranss commented on #7325
@dongzl , there is the old data structure:
[code]
1. Remove `config` and `registry` ,  because they could not describe the specific role of nodes accurately.
2. Define `schemas` node and move `metadata` to `/schemas/schema_name/table` .
3. `state` node persist all runtime status, `datanodes`  persist real db nodes status, `proxynodes` persist proxy and jdbc nodes status (jdbc is understood as an e

[2020-09-09 03:32] kimmking opened #7339 "extract an abstract class for StatementExecutor&PreparedStatementExecutor"
extract an abstract class for StatementExecutor&PreparedStatementExecutor

[2020-09-09 04:28] xbkaishui opened #7342 "Proxy show tables command can't show unConfigured table"
## Bug Report
When use show tables command in ShardingSphere-Proxy (using sharding database feature)
It only show configured table, skiped the unconfigured table

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy usi

[2020-09-09 05:59] #7339 closed

[2020-09-09 06:11] lidonghai11 commented on #7137
@strongduanmu mine doesn't work.
![f](https://user-images.githubusercontent.com/66629133/92560093-61f18d00-f2a4-11ea-8188-6bf154fb89f4.png)
![l](https://user-images.githubusercontent.com/66629133/92560107-67e76e00-f2a4-11ea-8e2b-91dbf1517738.png)
Meybe there are some differences  between yours and mine, I will let @tuohai666   help  me to check that if there are sometings missing  in my environmen

[2020-09-09 06:34] gzdzss commented on #7321
@sandynz  Got it.

Please finish the tasks :

- ~~PostgreSQLProtocolFrontendEngine~~  -> PostgreSQLFrontendEngine
- PostgreSQLCommandExecutorFactory
- PostgreSQLUnsupportedCommandExecutor

[2020-09-09 06:48] czarea commented on #6065
[code]

The same problem !

[2020-09-09 07:04] pengliaoye opened #7347 "提交的时候报空指针异常"
spring cloud version: Hoxton.SR8
spring cloud alibaba: 2.2.1.RELEASE
spring boot version: 2.3.3.RELEASE
shardingsphere : 4.1.1
seata: 1.2.0
jdk: 8

[ERROR] 2020-09-09 14:52:56,839 --reactor-http-nio-2-- [io.seata.rm.datasource.ConnectionProxy] process connectionProxy commit error: null
java.lang.NullPointerException: null
	at org.apache.shardingsphere.transaction.base.seata.at.SeataATShardingTrans

[2020-09-09 08:57] chana71 commented on #7226
In my subquery case add `'``'` will report NPE.
select `schema` from (select * from table where id = 4) a
 It seems a bug cause column name not trim '``'
![image](https://user-images.githubusercontent.com/31340809/92576916-a6892280-f2bc-11ea-8e5f-5a460a033731.png)
![image](https://user-images.githubusercontent.com/31340809/92576994-bc96e300-f2bc-11ea-96bb-350b5c266405.png)

My version is the maste

[2020-09-09 09:00] lianghuaibin opened #7351 "Could not commit JDBC transaction--手动开启事务并且提交事务成功，但是提交事务仍然报错"
org.springframework.transaction.TransactionSystemException: Could not commit JDBC transaction; nested exception is java.sql.SQLException at org.springframework.jdbc.datasource.DataSourceTransactionManager.doCommit(DataSourceTransactionManager.java:270) ~[spring-jdbc-3.2.0.RELEASE.jar:3.2.0.RELEASE] at org.springframework.transaction.support.AbstractPlatformTransactionManager.processCommit(Abstract

[2020-09-09 09:05] kimmking commented on #7351
Hi, @lianghuaibin
1. English only here.
2. Can you describe your case details?

[2020-09-09 09:11] lianghuaibin commented on #7351
Manually open the transaction and commit the transaction successfully, but the commit transaction still reports an error

[2020-09-09 09:13] lianghuaibin commented on #7351
I started the transaction manually, and manually committed the transaction successfully, but the returned result reported an exception error

[2020-09-09 09:16] lianghuaibin commented on #7351
Occasionally, this error occurs when batch updating more than 10W pieces of data

[2020-09-09 09:51] jingshanglu commented on #7129
@mark4z Can you show more stack info?

[2020-09-09 09:53] jingshanglu commented on #7127
@siantbaicn What's the sql?

[2020-09-09 09:58] HinsYang commented on #2488
已解决
sharding-jdbc 3.1.0
flyway 5.2.4升级到6.5.5

[2020-09-09 10:01] lianghuaibin opened #7357 "Manually open the transaction and commit the transaction successfully, but the commit transaction still reports an error"
I started the transaction manually, and manually committed the transaction successfully, but the returned result reported an exception error.
Occasionally, this error occurs when batch updating more than 10W pieces of data

The error report is as follows：

[code]

[2020-09-09 10:09] cay914 opened #7358 "can't save null or not null in navcat 11 version, logical table null collumn is alway checked!!"
can't save null or not null in navcat 11 version
And the **null column** is not inconsistent between logical and actual table.
![image](https://user-images.githubusercontent.com/6037435/92584715-8f4f3280-f2c6-11ea-9932-3585a5109e23.png)

Env:
sharding-proxy 4.1.0
mysql 5.7
navcat 11

[2020-09-09 10:11] tuohai666 commented on #7137
@lidonghai11 Can you move `END` to a separate line, and have a try?

[2020-09-09 10:14] jingshanglu commented on #7216
@YachDemo Can you show the code that call shardingsphere? I don`t find it in your demo.

[2020-09-09 10:17] Keanhua opened #7359 "query with encrypt column , the result is incorrected"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-09 10:26] YachDemo commented on #7216
rules?

[2020-09-09 10:27] kimmking commented on #7359
plz show your config rules and logic sql/actual sql.

[2020-09-09 10:32] Keanhua commented on #7359
encryptors:
  encryptor_aes:
    props:
      aes.key.value: 123131313
    type: AES
tables:
  shangbao_idcard_verify:
    columns:
      idcard:
        cipherColumn: idcard
        encryptor: encryptor_aes

[2020-09-09 10:32] kimmking commented on #7357
which version do you use?

[2020-09-09 10:33] Keanhua commented on #7359
Logic SQL: SELECT COUNT(1) FROM ( SELECT  id,create_time,update_time,name,idcard,result,operate_time,operator_id,operator_name,valid  FROM shangbao_idcard_verify

 WHERE (valid = ? AND (name = ? OR idcard = ?)) ORDER BY id DESC ) TOTAL

 Actual SQL: ds ::: SELECT COUNT(1) FROM ( SELECT  id,create_time,update_time,name,idcard,result,operate_time,operator_id,operator_name,valid  FROM shangbao_idcard

[2020-09-09 10:34] kimmking commented on #7358
Can you try 4.1.1 or master version?

[2020-09-09 10:39] lidonghai11 commented on #7136
![image](https://user-images.githubusercontent.com/66629133/92588396-7eed8680-f2cb-11ea-8788-11d9c7bd0806.png)
CREATE TRIGGER  doesn't work for me ,I use the latest sharding-proxy.
@strongduanmu

[2020-09-09 10:40] #7351 closed

[2020-09-09 10:56] kimmking commented on #7359
encrypted query with subquery/join now is not supported.

[2020-09-09 11:01] xbkaishui commented on #7195
For the Oracle RAC case,  it has multi host info, is that ok we random choose one?

[2020-09-09 11:02] kpioneer123 opened #7360 "SeataATShardingTransactionManager can‘t read seata.conf"
seata.conf exists in classpath ，but SeataATShardingTransactionManager  show please config application id within seata.conf file.

pom file ：
		<dependency>
			<groupId>io.seata</groupId>
			<artifactId>seata-spring-boot-starter</artifactId>
			<version>1.3.0</version>
		</dependency>
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-transaction-base-seata-at</a

[2020-09-09 11:12] strongduanmu commented on #7136
@lidonghai11 I'm very sorry to tell you that the `create trigger statement` does not support logical tables now 😟, and prompt information will be added later. Can you try to create a trigger with a physical table?

[2020-09-09 11:49] lidonghai11 commented on #7141
Another error occurred，so  the navicat doesn't work with sharding-proxy.
![navicat](https://user-images.githubusercontent.com/66629133/92594531-7bf79380-f2d5-11ea-90ec-2ec3df5acb9f.png)
@tuohai666 @tristaZero

[2020-09-09 12:00] lidonghai11 commented on #7134
![t](https://user-images.githubusercontent.com/66629133/92595317-c3325400-f2d6-11ea-8c0e-cd5c1142d073.png)
'TEMPORARY TABLE' doesn't work ,the error still exists.   The latest version of proxy that i test with.  @strongduanmu @tuohai666 @

[2020-09-09 12:14] tuohai666 commented on #7134
@strongduanmu Please have a check.

[2020-09-09 12:16] lidonghai11 commented on #7137
The latest version  of proxy supports the '`CREATE PROCEDURE` and `CREATE FUNCTION`',so this issue can be closed

[2020-09-09 12:17] jingshanglu commented on #7216
@YachDemo @tristaZero Now, it is ok on master branch, because of the parser of subquery.

[2020-09-09 12:25] strongduanmu commented on #7134
@lidonghai11 @tuohai666 Hello, you need to configure the table `SalesSummary` into the  sharding config, otherwise sharding-sphere does not know how to create the table ?

[2020-09-09 12:26] #7359 closed

[2020-09-09 12:27] kimmking commented on #7351
duplicated with #7357

[2020-09-09 12:28] kimmking commented on #7347
Hi,  @pengliaoye  English only here.
And can you show how to reproduce this issue?

[2020-09-09 13:17] #7137 closed

[2020-09-09 14:03] jian365066744 commented on #7329
The task seems have been finished by yourself.the code is so good that I can learn a lot .

[2020-09-09 14:25] tuohai666 opened #7366 "Failed to get all Tables from Predicate"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2020-09-09 14:32] #7347 closed

[2020-09-09 14:33] tuohai666 commented on #7358
Please set sql.show: true to see from the log what is the SQL when you click the box.

[2020-09-09 15:09] xbkaishui commented on #7195
@tristaZero  Hey, fixed this issue, please take time to have a look, Thanks

[2020-09-09 16:01] xbkaishui commented on #5608
please assign to me. I want have try

[2020-09-10 01:26] jingshanglu commented on #7366
@tuohai666 Now, #7353 has refactored TableExtractUtils, will fix it.

[2020-09-10 01:29] lianghuaibin commented on #7357
version  4.0.1

[2020-09-10 01:31] pengliaoye commented on #7347
@kimmking  first execute, seata server log:
![1](https://user-images.githubusercontent.com/2573426/92670875-894d6600-f347-11ea-8cb5-f9d15394e941.png)
and sencond execute same code, seata server log:
![2](https://user-images.githubusercontent.com/2573426/92670903-99654580-f347-11ea-9d38-616fb375ec62.png)

![3](https://user-images.githubusercontent.com/2573426/92671256-5657a200-f348-11ea-8ab6-e529b9

[2020-09-10 01:41] lianghuaibin commented on #7357
Caused by: java.sql.SQLException: null
    at org.apache.shardingsphere.shardingjdbc.jdbc.adapter.executor.ForceExecuteTemplate.throwSQLExceptionIfNecessary(ForceExecuteTemplate.java:56) ~[sharding-jdbc-core-4.0.1.jar:4.0.1]
    at org.apache.shardingsphere.shardingjdbc.jdbc.adapter.executor.ForceExecuteTemplate.execute(ForceExecuteTemplate.java:49) ~[sharding-jdbc-core-4.0.1.jar:4.0.1]
    at org

[2020-09-10 02:34] wencyGit opened #7370 "shardingSphere orchestration question about logic_db"
![image](https://user-images.githubusercontent.com/21151964/92674545-290ef200-f350-11ea-868a-fac3d6d5b60d.png)
![image](https://user-images.githubusercontent.com/21151964/92675118-45f7f500-f351-11ea-861c-df9249640cfa.png)

[code]

[2020-09-10 02:50] menghaoranss commented on #7370
`sharding_test.config.schema` node persist all logic schemas that configured in proxy, if use jdbc ,it's the default `logic_db`.

[2020-09-10 03:11] tristaZero commented on #7216
@jingshanglu Thanks for your double-checking
@YachDemo Please be patient for our next release, or you can try this function using `the master branch`. Thanks.

[2020-09-10 03:11] #7216 closed

[2020-09-10 03:16] tristaZero commented on #7141
@lidonghai11 Thanks for your test. FYI The issue relating to this subject has been fixed already. If you have any other questions, a new issue is preferred, which will help others find their target issue ASAP.

[2020-09-10 03:23] tristaZero commented on #7226
@chana71 Thanks for your feedback.
1. What your query SQL? The following one?

2. What if you do not use subquery? Could you give it a test?

[2020-09-10 03:25] wencyGit commented on #7370
@menghaoranss
I can understand it as sharding_ test.config.schema It only works on proxy,
If you only use sharding-jdbc, you can ignore sharding_test.config.schema Is this the configuration content of

[2020-09-10 03:26] tristaZero commented on #7269
Yep, that is what I meant. Plus, did you change its reference used together?

[2020-09-10 03:40] zhangboqing opened #7372 "ShardingSphere-JDBC : line 1:154 no viable alternative at input '->'"
## Bug Report

### Which version of ShardingSphere did you use?
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-core</artifactId>
            <version>4.1.1</version>
        </dependency>

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
have not log this error

### Ac

[2020-09-10 03:40] xianyujava opened #7373 "[ restartedMain] ShardingSphere-metadata : Loading 2048 tables' meta data."
## Question
配置报错 ，java.sql.SQLException: ORA-00942: 表或视图不存在

MasterSlaveRuleConfiguration masterSlaveRuleConfig = new MasterSlaveRuleConfiguration("ds_master_slave", "ds_master", Arrays.asList("ds_slave"));
        try {
            return MasterSlaveDataSourceFactory.createDataSource(createDataSourceMap(), masterSlaveRuleConfig, new Properties());
        } catch (SQLException e) {
            e.

[2020-09-10 03:47] tuohai666 commented on #7373
@xianyujava
Please fill in the bug report:

[code]

[2020-09-10 03:50] tuohai666 commented on #7372
@zhangboqing

what printed on the console in detail?

[2020-09-10 04:17] xianyujava commented on #7373
照着官网配置读写分离， 为什么程序一启动报查不到表和视图的异常（java.sql.SQLException: ORA-00942: 表或视图不存在）。
定时在查atorg.apache.shardingsphere.sql.parser.binder.metadata.column.ColumnMetaDataLoader.load(ColumnMetaDataLoader.java:75)
什么意思？

[2020-09-10 05:14] tuohai666 commented on #7373
@xianyujava Only English comments will be accepted.

Again, please fill in the bug report.

[2020-09-10 05:37] Vensence opened #7374 "Transaction behaviour changed after using ShardingSphere-JDBC ShardingDataSource"
## Bug Report

### situation description:
ORM framework: **mybatis**
tansaction manager: org.springframework.jdbc.datasource.**DataSourceTransactionManager**
DataSource: dbcp DataSource, and its **defaultAutoCommit** is **FALSE**

#### before using shardingsphere
the code without `@Tansactional` annotaion works fine, transaction can be committed, data can be saved

#### after using shardingsphere

[2020-09-10 06:13] zhangboqing commented on #7372
There is no other information；
I debug locally ，find the location of the log info：

`org.antlr.v4.runtime.atn.ParserATNSimulator.noViableAlt(ParserATNSimulator.java:2026)
org.antlr.v4.runtime.atn.ParserATNSimulator.execATN(ParserATNSimulator.java:467)
org.antlr.v4.runtime.atn.ParserATNSimulator.adaptivePredict(ParserATNSimulator.java:393)
org.apache.shardingsphere.sql.parser.autogen.MySQLStatement

[2020-09-10 06:29] terrymanu opened #7376 "Add test case for StatementMemoryStrictlyFetchSizeSetter impl"
- [ ] Add test case for MySQLStatementMemoryStrictlyFetchSizeSetter
- [ ] Add test case for PostgreSQLStatementMemoryStrictlyFetchSizeSetter

[2020-09-10 06:35] sluk3r commented on #7376
assign it to me

[2020-09-10 06:48] tuohai666 commented on #7374
@cherrylzhao This issue maybe relevant with #7357, can you check it?

[2020-09-10 07:02] tuohai666 commented on #7372
@zhangboqing After a serial of analysis, I found you fill reversely in Expected behavior and Actual behavior. Accordingly I guess you click reversely between the button Close and Comment.

[2020-09-10 07:04] terrymanu opened #7379 "Add test case for ResourceLock"

[2020-09-10 07:05] H00380243 commented on #6367
Is this bug fixed? What version?

[2020-09-10 07:10] xbkaishui commented on #7379
please assign to me

[2020-09-10 07:12] tuohai666 commented on #7372
![parseTree](https://user-images.githubusercontent.com/24643893/92693286-fed12a80-f377-11ea-9f9c-c3a225e29fa9.png)

@jingshanglu Can you help to check it?

[2020-09-10 07:18] hujuncheng commented on #7232
I avoided this case by adding quote in sql.
The hibernate configuration item is `globally_quoted_identifiers: true`.
FYI

[2020-09-10 07:31] kpioneer123 opened #7380 "shardingsphere conflict with seata"
**When only use  shardingsphere  ： sharding is OK （only choise one db and one table）**

**When only use  shardingsphere  with seata ： sharding is ERROR（Scan all db and table） like**
15:16:15.370 INFO  [main]  ShardingSphere-SQL  - Actual SQL: bookshelf_0 ::: SELECT * FROM `shelf_book_key_0` LIMIT 1
15:16:15.370 INFO  [main]  ShardingSphere-SQL  - Actual SQL: bookshelf_0 ::: SELECT * FROM `shelf_bo

[2020-09-10 07:42] kpioneer123 commented on #7380
I hope  excellent engineers can fix this as soon as possible。Thanks。 @cherrylzhao

[2020-09-10 08:31] liuyibo123 commented on #6544
@jingshanglu Hello,Can you tell me which commit fixed  this?Thanks a lot

[2020-09-10 08:49] Andrew-Yang999 opened #7381 "Column 'ID' specified twice"
**Thank you check my questions.
I have a question. It's " Column 'ID' specified twice". When I use ShardingJdbc+mybatis+mysql save some data, Would I use ShardingJdbc's function: built-in Snowflake, Here is my properties:**
`
spring.profiles=sit

#当遇到同样名字的时候，是否允许覆盖注册
spring.main.allow-bean-definition-overriding=true

#数据分片配置
spring.shardingsphere.datasource.names=ds0,ds1
#ds0
spring.shardingsphere

[2020-09-10 08:50] Keanhua commented on #7359
@kimmking this is also a subquery but it can encrypt
![image](https://user-images.githubusercontent.com/31396902/92704620-a6088e80-f385-11ea-82c9-3678ca5d98df.png)

[2020-09-10 08:59] Keanhua commented on #7359
@kimmking but 4.0.1 is supported

[2020-09-10 09:18] xbkaishui commented on #7381
you should submit the issue using issue template, you are not specify which version to use. no one will know what's happened ..

[2020-09-10 09:33] chana71 commented on #7226
@tristaZero
1. Complete SQL looks like this. Please check
[code]
2. If not with a subquery,e.g. `SELECT SCHEMA_SIZE, `SCHEMA` FROM SCHEMA_SIZE;`, It works.

[2020-09-10 09:42] jingshanglu commented on #7372
@tuohai666 Ok, new version will fix it.

[2020-09-10 09:47] #7323 closed

[2020-09-10 09:56] cay914 opened #7386 "Can Sharding-jdbc support join?"
I have a query to join 2 tables ( t_order, t_order_item).
**sql:**
SELECT
	i.goods_pic,
	o.order_id,
	o.create_time,
	i.store_id AS shop_id,
	i.store_name AS shop_name,
	o.total_amount,
	o.receiver_detail_address AS receiver_address,
	o.freight_amount,
	o.`status`,
	i.goods_id,
	i.goods_name,
	i.goods_price,
	i.goods_brand,
	i.create_time
FROM
	t_order AS o,
	t_order_item AS i
WHERE
	o.order_id =

[2020-09-10 09:57] Andrew-Yang999 commented on #7381
@xbkaishui OK, I know, I can update my issues.

[2020-09-10 09:57] #7381 closed

[2020-09-10 10:00] cay914 opened #7387 "Can Sharding-jdbc support join?"
I have a query to join 2 tables ( t_order, t_order_item).
**sql:**
SELECT
	i.goods_pic,
	o.order_id,
	o.create_time,
	i.store_id AS shop_id,
	i.store_name AS shop_name,
	o.total_amount,
	o.receiver_detail_address AS receiver_address,
	o.freight_amount,
	o.`status`,
	i.goods_id,
	i.goods_name,
	i.goods_price,
	i.goods_brand,
	i.create_time
FROM
	t_order AS o,
	t_order_item AS i
WHERE
	o.order_id =

[2020-09-10 10:00] kimmking commented on #7381
remove id in your insert sql.

[2020-09-10 10:13] #7373 closed

[2020-09-10 10:14] kimmking commented on #7386
duplicated with https://github.com/apache/shardingsphere/issues/7387

[2020-09-10 10:14] #7386 closed

[2020-09-10 10:23] kimmking commented on #7387
should be

[2020-09-10 10:23] #7387 closed

[2020-09-10 10:26] kimmking commented on #7380
can you try a case without your fix?

[2020-09-10 10:34] lidonghai11 commented on #7324
I did the 'Pre-work'. and did the 'initialize ShardingProxy'.But when I start the ShardingProxy,I cant see the port   listening
 on '3307',and I can't see anything error in the log.
![z1](https://user-images.githubusercontent.com/66629133/92717634-1e298100-f393-11ea-821f-3a9b3e696986.png)
![z2](https://user-images.githubusercontent.com/66629133/92717637-1f5aae00-f393-11ea-9ed9-a18cbd8d14c3.png)
Th

[2020-09-10 10:45] kimmking opened #7390 "Change RuleMetaDataNotifier to extends OrderedSPI"
Change RuleMetaDataNotifier to extends OrderedSPI

[2020-09-10 12:11] #7390 closed

[2020-09-10 14:53] dongfangding commented on #7269
There seems to be no difference, I renamed master to master01, but it is still not the result I want.

sharding-column user_id ==> Its value is 99.
When it is assigned to master datasource， The query statement still follows the master-slave-rule.
[code]

I have to debug the code again. I just want to know if there is a statement about the questionable code I mentioned earlier. It's like I'm alread

[2020-09-11 02:06] #7366 closed

[2020-09-11 02:40] cherrylzhao commented on #7360
@kpioneer123 sorry for late response, please tell me your environment is sharding-proxy or sharding-jdbc? our jdbc-example is ok for that.

[2020-09-11 02:44] kpioneer123 commented on #7380
yes,I try this case by hard-coded in SeataATShardingTransactionManager

    public SeataATShardingTransactionManager() {
        FileConfiguration configuration = new FileConfiguration("seata.conf");
        enableSeataAT = true;
        applicationId = "account-service";
        transactionServiceGroup = "my_test_tx_group";
    }

**but  1.sharding is ERROR （though can curd，but Scan all db and ta

[2020-09-11 02:55] cherrylzhao commented on #7357
please paste the sharding configuration and batch updating transaction code here.

[2020-09-11 03:07] cherrylzhao commented on #7374
similar with #6913 #6919, ShardingDataSource is a logic datasource, it should not care about the underlying datasource status.

[2020-09-11 03:25] tuohai666 opened #7398 "INSERT...RETURNING test cases failed of BatchDMLIT"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If