[2022-06-07 11:49] rajmunkhan commented on #17736
I want to start working on

- [ ] `CREATE AGGREGATE`

[2022-06-07 12:03] Swastyy opened #18226 "File Path contains spaces"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Actual behavior
While cloning it shows the error:
![error](https://user-images.githubusercontent.com/64654203/172374250-6b070233-7886-4eed-9c40-650e344d0257.jpg)

### Reason analyze (If you can)
Although it was corrected in this [PR](https://github.com/apache/shardingsphere/pull/11912), it is still not working

[2022-06-07 16:20] Swastyy commented on #18226
Ahhh yessss, I completely forget that, thanks again 😄

[2022-06-07 16:20] #18226 closed

[2022-06-08 00:05] complone commented on #17555
i'm finished. related to [PR](https://github.com/apache/shardingsphere/pull/17910)

[2022-06-08 01:55] zhiyoucai opened #18230 "Support inline constraint in Oracle CREATE TABLE statement"
## English Description
When I input such a sql statement to create a table:

[code]

I support that "not null" will be in the SqlStatement object.

## Chinese Description

当我解析这样一段SQL的时候：

[code]

我希望在解析后“not null”，可以出现在SqlStatement的实现类中。

[2022-06-08 01:55] zhiyoucai commented on #18230
我正在开发这个功能

[2022-06-08 03:23] strongduanmu opened #18234 "NoSuchElementException occurs when execute `PREVIEW FETCH 2 FROM "t_order_cursor"`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/72b683cc3d431452b0e645f5bfcfa2f9480e65f2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Show preview result of `PREVIEW FETCH 2 FROM "t_order_cursor"` statement.

### Actual behavior

[code]

### Reason analyze

[2022-06-08 08:31] #18212 closed

[2022-06-08 09:49] #18234 closed

[2022-06-08 10:46] wj-li opened #18244 "Failed to create table index"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-09 05:43] LeeGuoPing commented on #17880
In the `issues` tag , there are some issue with label `good first issues`. Find the issue that you are interested in and has not assigned to someone else, and try to finish them.

![image](https://user-images.githubusercontent.com/35389145/172772840-1dd7156b-5019-4e21-8616-55b2ab3a2fad.png)

[2022-06-09 06:07] LeeGuoPing commented on #17727
I saw this problem is caused by timeout, should I adjust the time-out value of this mehtod.
![image](https://user-images.githubusercontent.com/35389145/172775896-6a90cb05-73f2-4d11-b95f-7d5a15401a84.png)

[2022-06-09 07:09] #17551 closed

[2022-06-09 07:15] sswanv opened #18259 "Mysql stored procedure call with parameters"
- product used: **shardingsphere-proxy:5.1.1**
- go version: **go1.18 darwin/amd64**
- sql:
[code]
- code segment:
[code]

https://dev.mysql.com/doc/internals/en/com-stmt-prepare-response.html

[2022-06-09 08:54] xuup opened #18261 "ShardingSphere-Proxy not support some mysql functions in result merge case"
## Bug Report

### Which version of ShardingSphere did you use?
shardingsphere master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Steps to reproduce the behavior,
[code]
 execute log
[code]

execute result:
[code]

but when I add the function before max(order_price) as NULLIF(), rpad(),CONCAT() etc , shardingsphere-proxy return unmerged re

[2022-06-09 08:55] linghengqian commented on #17779
For revision, this question must be upgraded to Groovy 4.0.3, cf. https://github.com/oracle/graal/issues/4492#issuecomment-1150813516 . The master branch of ShardingSphere has resolved this issue.

[2022-06-09 11:35] liuyuqiang opened #18269 "actualDataNodes de yi wen"
## Question

zhe zhong pei zhi  shi bu shi  bu he li

order_$->{2022..2023}${(1..12).collect{t ->t.toString().padLeft(2,'0')}}

bi xu sheng ji cai bian hua

[2022-06-09 15:28] terrymanu commented on #18269
**For English only**, other languages will not accept.

[2022-06-09 15:28] #18269 closed

[2022-06-10 00:29] RaigorJiang commented on #17918
Closed because no response.

[2022-06-10 00:29] #17918 closed

[2022-06-10 00:31] #11994 closed

[2022-06-10 00:32] RaigorJiang commented on #13638
Supported by https://github.com/apache/shardingsphere/issues/16234.

[2022-06-10 00:32] #13638 closed

[2022-06-10 00:39] RaigorJiang commented on #17299
Closed because no response.

[2022-06-10 00:39] #17299 closed

[2022-06-10 06:05] mwcodefun opened #18277 "Is sharding-jdbc supported to load environment virables in yaml config file ？"
like some code in yaml file
[code]
The `DB1_HOST` is not replaced by environments virable.Is it supported in sharding-jdbc 4.x?
If not ,is there a way to do like this?

[2022-06-10 06:58] Peterosh opened #18279 "Use the source command to load SQL files and create sharding rules. Some of them will be ignored"
### Which version of ShardingSphere did you use?
 - ShardingSphere-Proxy 5.1.1.
 - mysql 8.0.25

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Execute all sql code
### Actual behavior
Some of them will be ignored
### Reason analyze (If you can)
Asynchronous problem
### Steps to reproduce the behavior, such as: SQL to execute,

[2022-06-10 08:39] THMAIL commented on #2605
You may execute `mvn install` to generate source codes under the package autogen.

[2022-06-10 08:57] TeslaCN opened #18281 "Refactoring backend of ShardingSphere-Proxy"
## The current problem in Proxy: the backend exposes multiple entries to the frontend

When ShardingSphere-Proxy MySQL was available for the first time, it differentiated Text Protocol and Binary Protocol in the backend module (directly calling `DatabaseCommunicationEngine`). Text Protocol will process all statements, and Binary Protocol will only process DML. This is also the origin of many probl

[2022-06-10 10:49] tuichenchuxin opened #18282 "Support scaling to get sharding data nodes from zookeeper"
Auto tables config will not persist data node info into zookeeper. So we consider persist actual datanodes for auto tables before persisting datanodes.

[2022-06-10 15:25] cheese8 opened #18292 "Translate into en document according to the cn one"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
#18287

### Describe the

[2022-06-10 15:33] cheese8 commented on #18210
I did not reproduce it, can you provide a demo?

[2022-06-10 15:54] #17803 closed

[2022-06-11 01:42] boyjoy1127 opened #18295 ""ShardingSphereOptimizer" should only change traits during optimization."
## Feature Request

"ShardingSphereOptimizer" should only change traits during optimization. This 'planner.changeTraits()' should be modified.
[code]

[2022-06-11 03:07] #18295 closed

[2022-06-11 05:42] #18151 closed

[2022-06-11 07:19] taojintianxia opened #18301 "could not create index for encrypt column through ShardingSphere JDBC"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-11 07:24] strongduanmu commented on #18301
Thank you for your feedback, I will investigate this issue.

[2022-06-11 11:32] #18178 closed

[2022-06-11 13:10] xinglijun1973 commented on #18170
what's your expected and actual ?

[2022-06-12 06:15] linghengqian commented on #17872
If you mean `SQL statement` and `SQL PreparedStatement` are concepts of the same level, it is obviously supported.

[2022-06-12 13:40] zjcnb commented on #18277
@mwcodefun This is the function of spring, it has nothing to do with `ShardingSphere`.

[2022-06-12 15:41] zjcnb opened #18319 "IndexOutOfBoundsException occurred when use `ShardingSphere-JDBC`"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC` and `ShardingSphere-Proxy`

[code]

[2022-06-12 18:53] Jacob953 commented on #18292
Hi, @cheese8! Maybe I could help with this. ;)

[2022-06-13 01:34] wj-li opened #18320 "Using sharding key query report NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-13 02:51] linghengqian commented on #18320
You should not configure tables that do not exist in actualdatanodes.

[2022-06-13 03:26] wj-li commented on #18320
Here's the actual tables.
![image](https://user-images.githubusercontent.com/20807065/173273984-c7c08f21-3624-4aa4-b0d3-1fa12df13b6b.png)

[2022-06-13 03:33] wj-li commented on #18320
It doesn't seem to be in shardingSphereSchema.
![image](https://user-images.githubusercontent.com/20807065/173274632-5d0e7b21-bee0-464a-8582-56920474220f.png)

[2022-06-13 04:03] zjcnb opened #18323 "NPE occurred when use `ShardingSphere-Proxy` cluster mode"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy` Cluster

[code]

`ShardingSphere Proxy one : `

[code]

`ShardingSphere-Proxy two :`

[code]

[code]

`ShardingSphere Proxy two `start up after `ShardingSphere Proxy one`.

[2022-06-13 04:40] linghengqian commented on #18320
Yes, you configured a table that does not exist.
[code]

[2022-06-13 08:22] natehuangting opened #18327 "MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm uses Seconds_Behind_Master to determine replication delay, I hope to use custom SQL to determine replication delay"
## Feature Request

### Describe the feature you would like.
The MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm uses Seconds_Behind_Master to judge the replication delay, but Seconds_Behind_Master may be inaccurate. I hope to use my own defined SQL to obtain the replication delay. If there is no definition or the table does not exist and other abnormal conditions, I will use Seconds_Behi

[2022-06-13 09:04] linghengqian commented on #16725
@xieyongchao2 Replying to the closed issue is an inexplicable thing for the owner of this issue. I think it would be better if you open a new issue and provide a minimal replica demo, and then point out the association with this issue.

[2022-06-13 09:28] pencilcap123 opened #18331 "[ShardingProxy] sessionVariables in jdbc url will cause 'not a valid entry' exception when using dsql to add/alter resource"
## Bug Report

session variables set in jdbc url is not supported when using dsql to add/alter resource to shardingproxy.

[code]

Shardigproxy will throw not a valid entry exception when parsing jdbc url containing sessionVariables params.

![image](https://user-images.githubusercontent.com/41630875/173322715-4c2c0496-2985-4d15-bdcf-eec3834889f0.png)

### Which version of ShardingSphere did you u

[2022-06-13 11:10] #18323 closed

[2022-06-13 11:40] zjcnb opened #18336 "No sync between `ShardingSphere` cluster when ADD RESOURCE resource_0 first time"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

`Proxy-1` `server.yaml : `

[code]

`Proxy-2` `server.yaml : `

[code]

`Proxy-1 and Proxy-2` start up.

Execute SQL in `Proxy-1` :

[code]

Execute SQL in `Proxy-2` :

[code]

<img width="1231" alt="image" src="https://user-images.githubuse

[2022-06-13 12:07] zjcnb commented on #18331
@pencilcap123 Hi, thank you for your feedback, Can you submit a pull reqeust to fixed it?

[2022-06-13 13:43] natehuangting opened #18338 "add unit test for MGRMySQLDatabaseDiscoveryProviderAlgorithm"
## Feature Request

### Describe the feature you would like.

Add unit test for MGRMySQLDatabaseDiscoveryProviderAlgorithm. No test for method loadReplicaStatus.

[2022-06-14 03:32] #18327 closed

[2022-06-14 04:15] #18338 closed

[2022-06-14 04:25] #12170 closed

[2022-06-14 04:45] #17313 closed

[2022-06-14 04:55] TeslaCN commented on #15134
Hi @dissdic
Any update here?

[2022-06-14 04:57] #16831 closed

[2022-06-14 06:32] #17915 closed

[2022-06-14 07:16] soulasuna opened #18354 "Add distributed lock test in concurrent scenarios"
## Feature Request
Add distributed lock test in concurrent scenarios

### Describe the feature you would like.
The current tests of distributed locks are all single-threaded result expectations judgments, and test coverage in concurrent scenarios needs to be added.

[2022-06-14 11:19] natehuangting opened #18360 "If 'show slave status' is null or 'second_behind_master' is null, replication delay should not be 0"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Using MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm, when the result of 'show slave status' is null or the value of 'second_behind_master' is null, it should be considered as delayed replication.

#

[2022-06-14 13:31] Jacob953 commented on #17686
Hi, I'd like to try. Please assign this to me, too. ;)

[2022-06-14 15:46] gnode7 opened #18365 "Previlege configs for who can execut DistSQL querys"
## User previlege configs for executing DistSQL (for security reason)

Currently all users can execute any DistSQL. It needs a way to config previleges of executing DistSQL querys, to prevent certain users from getting encrypt keys (simply by "SHOW ENCRYPT RULES FROM ...") or datasource access info of others, or just messing up rule configurations either accidentally or intensionally.

eg.: below

[2022-06-14 18:12] linghengqian commented on #17948
LocalDateTime uses UTC as zone when converted from Instant. So I think we have good reason to indicate that the time zone is not specified at the default value at datetime-upper of the documentation.

[2022-06-15 01:20] dongzl opened #18367 "When execute "DO" statement, return error message."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-15 01:23] strongduanmu commented on #18367
Thank you for your feedback, can you submit a pr to fix this bug?

[2022-06-15 01:25] #18301 closed

[2022-06-15 02:12] zjcnb commented on #18360
Yeah, you are right.

[2022-06-15 02:23] tanjie07065040 commented on #13532
actual-data-nodes ONLY a database name is ok but hava 2 or more have the  Insert statement does not support sharding table routing to multiple data nodes problem

[2022-06-15 02:47] taojintianxia opened #18368 "add key support for encryption"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No

### Describe the feat

[2022-06-15 03:25] SmallBeautifulPig opened #18369 "After the program starts, the first execution of sql is very slow"
when use sharding-jdbc 5.1.1

After the program starts, the first execution of sql is very slow， it takes about 5-6 seconds.

I can't find a reasonable configuration from the official website to solve this problem

[2022-06-15 03:58] #18354 closed

[2022-06-15 04:16] jingshanglu opened #18370 "Refresh meta error"
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior
[code]
no error.

### Actual behavior
ERROR:  java.lang.NullPointerException

### Reason analyze (If you can)
after run `distsql`
org.apache.shardingsphere.transaction.rule.TransactionRule#resources is null.

### Steps to

[2022-06-15 04:17] jingshanglu commented on #18370
@RaigorJiang PTAL

[2022-06-15 04:31] wszpwsren commented on #18369
same

[2022-06-15 04:55] menghaoranss commented on #18370
@jingshanglu I will follow up

[2022-06-15 07:33] soulasuna opened #18374 "Add stop writing test in scaling scenario"
## Feature Request
Add database stop writing test in scaling scenario

### Is your feature request related to a problem?
At present, the test of database distributed lock needs to rely on the scaling scenario.

### Describe the feature you would like.
it is necessary to add the test of the database stop write function during the scaling process.

[2022-06-15 08:37] jsgjj111 commented on #18369
me too...

[2022-06-15 09:34] gogogonow commented on #17015
Hi, i meet the same problem when import data using shardingsphere proxy, So how do you resolve this problem, thanks.

[2022-06-15 09:40] gogogonow commented on #17015
Hi, i meet the same problem when import data using shardingsphere proxy, So how do you resolve this problem? thanks.

[2022-06-16 01:05] natehuangting opened #18380 "DatabaseDiscovery keeps at least some replicas"
## Feature Request

### Describe the feature you would like.
If all replicas are disabled, using RandomReplicaLoadBalanceAlgorithm will throw an exception. I want to define a parameter 'min-enabled-replicas-threshold' in props of discoveryTypes, which means that at least a few replicas cannot be disabled. And the specific processing logic will be placed in the method 'updateStatus' of the class Da

[2022-06-16 01:08] natehuangting opened #18381 "DatabaseDiscovery needs to support memory and standby mode"
## Feature Request

### Describe the feature you would like.
Currently DatabaseDiscovery can only take effect in cluster mode, I hope it can also take effect in memory and standalone mode.

[2022-06-16 02:00] wingkingbobo opened #18382 "Has sharding proxy 5.1.2 been officially released?"
## Question
Has sharding proxy 5.1.2 been officially released?
I found the source code of 5.1.2 release on GitHub. I guess this version has been released.
But it was not found on [Apache](https://archive.apache.org/dist/shardingsphere/). The version on docker was earlier than 5.0.0-beta
Where can I get the binary package of 5.1.2. I need it to fix some bugs in the production environment.
Thanks.

[2022-06-16 02:25] zjcnb commented on #18380
@natehuangting Hi, i think it 's good idea. And can you attach the configuration for db-discovery?

[2022-06-16 03:37] linghengqian commented on #18382
- Because it is still voting in the https://lists.apache.org/thread/f10045vztzq7l5p48glphpxvxnx8sf6p .

- I don't know how you would define not being on Apache, where the voting process definitely needs to be located on Apache, see https://dist.apache.org/repos/dist/dev/shardingsphere/5.1.2/ .

- I don't know what you mean by docker not updated, the latest `Dockerfile` has always been located in t

[2022-06-16 03:44] wingkingbobo commented on #18382
@linghengqian Thank you. It helped me a lot.

[2022-06-16 03:44] #18382 closed

[2022-06-16 03:50] natehuangting commented on #18380
The configuration for db-discovery.
[code]

[2022-06-16 04:35] wszpwsren opened #18385 "can't use keyword "describe" as a column name"
## Bug Report

### Which version of ShardingSphere did you use?

5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

sharding-JDBC

### Expected behavior

using  "describe"  as a column name

### Actual behavior

query like

`
 Preparing: select hp.problem_id, hp.brand_id, hp.shop_id, hp.source, hp.application_type, ks.km_shop_name as shop_name, ks.shop_image, hp.cr

[2022-06-16 05:40] #18075 closed

[2022-06-16 06:00] TeslaCN commented on #18281
We may move the exception handling in #18359 into backend after refactored.

[2022-06-16 08:46] chakkk309 opened #18389 "[ OSPP 2022 ] Solve unsupported Oracle SQL about Alter Statement for ShardingSphere Parser"
This issue is created to better track my PRs for OSPP 2022, you can view more about my project [here](https://summer-ospp.ac.cn/#/org/prodetail/22ee10103).

## Background
ShardingSphere Parser Engine helps users parse SQL statements into AST and generate corresponding SQL Statement objects from it.

## Process
1. Compare SQL definitions in [Oficial SQL Doc](https://docs.oracle.com/en/database/orac

[2022-06-17 00:56] lushaorong commented on #17575
hello,
I want to try this work

[2022-06-17 01:09] strongduanmu commented on #17575
Welcome @lushaorong, I just assign this issue to you.

[2022-06-17 02:32] skyjilygao opened #18401 "Configuring multiple data sources reports an error: the table does not exist"
English:
Configure multiple data sources: DS1, ds1slave0, DS2, ds2slave0, DS3, DS4
Only DS1 is configured with fragmentation rules, and DS1 and DS2 are configured with read / write separation; DS3 and DS4 are not configured.
Question:
dws_ shop_ The key table exists in DS3. Other DS do not have this table.
But DWS is always read from DS2 during execution_ shop_ The key table indicates that there i

[2022-06-17 03:30] Jacob953 commented on #17686
Hey, @zjcnb @QUBOHAO1998! PTAL
I've done. ;)

[2022-06-17 03:30] Jacob953 commented on #17686
Hey, @zjcnb @QUBOHAO1998! PTAL
I've done. ;)

[2022-06-17 04:00] jitawangzi opened #18404 "How to simply configure the same database and table sharding rules for all tables?"
My requirement is that all tables are sharded according to played_id mod， route to all data sources。I configured it like this, but it seems that all the data sources need to be configured for each table, and new tables may be added in the future. Is there some simple configuration method?

[code]

[2022-06-17 04:06] zjcnb commented on #18401
@skyjilygao Please translate english for this issue.

[2022-06-17 04:10] skyjilygao commented on #18401
Ok, but I have translated.
English:
Configure multiple data sources: DS1, ds1slave0, DS2, ds2slave0, DS3, DS4
Only DS1 is configured with fragmentation rules, and DS1 and DS2 are configured with read / write separation; DS3 and DS4 are not configured.
Question:
dws_ shop_ The key table exists in DS3. Other DS do not have this table.
But DWS is always read from DS2 during execution_ shop_ The key t

[2022-06-17 04:11] zhaojinchao95 opened #18405 "HikariDataSource (HikariPool-1) has been closed occurred when use `ShardingSphere-JDBC`"
## Bug Report
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-JDBC`

[code]

Please run `ClusterModeRawJavaConfigurationExample` main method.

[2022-06-17 06:08] edenpan opened #18406 "How to use Oracle Date Type as Sharding Query Route key"
## Question

The ShardingSphere Version: V 5.1.0

The Oracle select SQL by the date needs to use the to_char or to_date, for example, my query SQL as below:

`SELECT
    * FROM tradeList WHERE 1 = 1
  AND TRADE_DATE = to_date( '20210601', 'yyyymmdd' )`

It seems that the query not sharding via the sharding key: TRADE_DATE .
So, if there are any suggestions for oracle query via date field.

Below i

[2022-06-17 06:24] #17825 closed

[2022-06-17 07:19] #18370 closed

[2022-06-17 09:54] zjcnb commented on #18401
@skyjilygao Hi, I think your `readwrite-splitting` configuration slave datasource are `ds1slave0` and `ds2slave0`. ShardingSphere router them when execute `SELECT` SQL. if you want to route `ds3`. You can use `SQL HINT` feature. Please refer to : https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/

[2022-06-17 10:29] #18319 closed

[2022-06-17 12:04] strongduanmu opened #18414 "Consider supporting PostgreSQL declare cursor, open, fetch, move, close statement"
## Background

After we complete the cursor feature of openGauss in issue #17825, we need to adapt the cursor feature of PostgreSQL. In general, their logic are similar, and the logic of the existing kernel can be supported, but some adaptations are required in the part of SQL syntax parsing and sql statement context extraction.

## Subtasks

- [ ] support PostgreSQL declare cursor, open, fetch, m

[2022-06-17 12:07] chakkk309 commented on #18414
Hi @strongduanmu, I want to try it.

[2022-06-17 12:07] strongduanmu commented on #18414
@chakkk309 Welcome, I will assign this issue to you.

[2022-06-17 13:09] linghengqian commented on #18382
Refer to https://github.com/apache/shardingsphere/releases/tag/5.1.2 , 5.1.2 is already located in Maven Central and Docker Hub.

[2022-06-18 03:42] cheese8 opened #18417 "Failed to execute goal on project shardingsphere-integration-test-suite"
## Bug Report

`mvn clean compile package install -Dmaven.javadoc.skip=true -Drat.skip=true -Dmaven.test.skip=true -U`

[ERROR] Failed to execute goal on project shardingsphere-integration-test-suite: Could not resolve dependencies for project org.apache.shardingsphere:shardingsphere-integration-test-suite:jar:5.1.3-SNAPSHOT: The following artifacts could not be resolved: org.apache.shardingsphere

[2022-06-18 12:11] tinyfos opened #18419 "proxy 5.1.1 Problems related to database fragmentation"
would like to ask about database fragmentation. My environment is shardingsphere proxy 5.1.1 executable package. At present, there are three problems
1、Fields in multiple tables participate in database fragmentation，
### such as：
CREATE TABLE `role_0` (
  `uid` bigint NOT NULL,
  `profileId` bigint DEFAULT NULL,
  `serverId` int DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,

[2022-06-18 14:31] terrymanu commented on #18417
But the CI is success.

[2022-06-18 14:35] terrymanu commented on #18404
How to understand of `all tables are sharded according to played_id mod， route to all data sources`?

[2022-06-18 14:38] terrymanu commented on #18401
Your requirement is pretty strange. Maybe no production database cluster system need to be configured like this way, any reason for this topology?

[2022-06-18 14:40] terrymanu commented on #18369
What is the SQL details, can you use APM tools to locate the SQL parse and execute spend?

[2022-06-18 14:43] terrymanu commented on #18259
Sorry, no plan to support store procedure

[2022-06-18 14:43] #18259 closed

[2022-06-18 14:44] jingshanglu commented on #18385
@wszpwsren Using reserved words as column names is not syntactically legal, is it supported directly on mysql?

[2022-06-18 14:45] terrymanu commented on #18230
Could you translate to English?

[2022-06-18 14:50] terrymanu commented on #18196
No plan for now

[2022-06-18 14:50] #18196 closed

[2022-06-18 14:52] terrymanu commented on #18177
Can you change the 1st comment, I can't get your point

[2022-06-18 14:52] terrymanu commented on #18177
Closed because of no feedback

[2022-06-18 14:52] #18177 closed

[2022-06-18 14:53] terrymanu commented on #18170
Closed because of no feedback

[2022-06-18 14:53] #18170 closed

[2022-06-18 14:57] terrymanu commented on #18139
Could you provide the log of sql.show?

[2022-06-18 14:57] #18128 closed

[2022-06-18 14:59] terrymanu commented on #18111
Closed because of no feedback for long time

[2022-06-18 14:59] #18111 closed

[2022-06-18 15:03] terrymanu commented on #18093
The class `ShardingSphereAlgorithmPostProcessor` is renamed in 5.1.3, is the problem still existed?

[2022-06-18 15:05] terrymanu commented on #18078
Yes, the alias of star may not parse yet, does anyone want to fix it?

[2022-06-18 15:06] #18156 closed

[2022-06-18 15:07] terrymanu commented on #18021
No plan to support it

[2022-06-18 15:07] #18021 closed

[2022-06-18 15:08] terrymanu commented on #17949
Does anyone want to fix it?

[2022-06-18 15:10] terrymanu commented on #17973
No enough energy for SQLServer, could you try to investigate and find the differents with MySQL/Postgres?

[2022-06-18 15:13] terrymanu commented on #17930
The exception is not thrown from ShardingSphere, could you take a look with the integrate frameworks?

[2022-06-18 15:13] #17930 closed

[2022-06-18 15:13] terrymanu commented on #17925
Closed because of no feedback for long time

[2022-06-18 15:13] #17925 closed

[2022-06-18 15:16] terrymanu commented on #14636
ShardingSphere does not support multiple SQL in one query.
Does anyone want to do this issue?

[2022-06-18 15:17] wsm12138 opened #18421 "When use SS & openGaussDB , exception occur."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-18 15:20] terrymanu commented on #15628
Duplicated with #18369

[2022-06-18 15:20] #15628 closed

[2022-06-18 15:22] wsm12138 commented on #18421
@zjcnb

[2022-06-18 15:22] terrymanu commented on #16318
No feedback for long time

[2022-06-18 15:22] #16318 closed

[2022-06-18 15:23] terrymanu commented on #16515
Duplicate with #18369

[2022-06-18 15:23] #16515 closed

[2022-06-18 15:26] terrymanu commented on #18369
The SQL need to be parsed to AST for 1st received and will put into cache.
SQL warm up feature can let user indicated SQLs before the application start-up.
If anyone want to do it, we can discuss the desgin.

[2022-06-18 15:28] terrymanu commented on #16132
Could try by yourself to confirm it?

[2022-06-18 15:29] terrymanu commented on #16581
Closed because of no feedback for long time.

[2022-06-18 15:29] #16581 closed

[2022-06-18 15:30] terrymanu commented on #16614
Closed because of no feedback for long time.

[2022-06-18 15:30] #16614 closed

[2022-06-18 15:30] terrymanu commented on #16622
For english only

[2022-06-18 15:30] #16622 closed

[2022-06-18 15:31] terrymanu commented on #16689
Closed because of no feedback for long time.

[2022-06-18 15:31] #16689 closed

[2022-06-18 15:32] terrymanu commented on #17617
The document is pretty clear, please read it first

[2022-06-18 15:32] #17617 closed

[2022-06-18 15:33] terrymanu commented on #17335
@q3056917665 Hi, any update?

[2022-06-18 15:33] terrymanu commented on #16829
Closed because of no feedback for long time.

[2022-06-18 15:33] #16829 closed

[2022-06-18 15:34] terrymanu commented on #17410
Closed because of no feedback for long time.

[2022-06-18 15:34] #17410 closed

[2022-06-18 15:35] terrymanu commented on #17478
Sorry, the version 4.x is out of service

[2022-06-18 15:35] #17478 closed

[2022-06-18 15:47] jitawangzi commented on #18404
It works, sharding, no problem。
But I have to configure every table with data source , such as the t_player and t_item in the example, and I have other
 many tables may also need to configure one by one  manually , because the sharding rules of all my tables are the same, is there a way to configure all the table once ,instead of configuring table one by one?

[2022-06-18 15:48] jingshanglu commented on #17480
Same to #17542

[2022-06-18 15:54] #17480 closed

[2022-06-18 15:56] jingshanglu commented on #18056
@jokeyuHhhh  The proxy uses the `xa` protocol internally to ensure the transaction semantics of the ds managed by ShardingSphere-proxy, but does not provide the `xa` interface to the outside.

[2022-06-18 23:17] zjcnb commented on #18421
Thx, i will follow up it.

[2022-06-19 03:46] strongduanmu commented on #18207
Hi @phdbutbachelor, can you provide your sharding configuration? I will try to reproduce this bug.

[2022-06-19 03:57] m13601594065 opened #18422 "@chakkk309 Welcome to OSPP and look forward to your contribution."
@chakkk309 Welcome to OSPP and look forward to your contribution.

_Originally posted by @strongduanmu in https://github.com/apache/shardingsphere/issues/18389#issuecomment-1157543528_

[2022-06-19 10:30] sandynz opened #18424 "Is it possible to detect unmatched DATANODES and DATABASE_STRATEGY / TABLE_STRATEGY for tables rule"
## Feature Request

### Is your feature request related to a problem?
Yes

### Describe the feature you would like.
I've found several times in GitHub issues and our forums, unmatched DATANODES and DATABASE_STRATEGY / TABLE_STRATEGY might cause issue.

Is it possible to detect unmatched DATANODES and DATABASE_STRATEGY / TABLE_STRATEGY for tables rule?

#### 2 examples that cause issue

Example 1:

[2022-06-19 12:11] isHuangXin opened #18425 "ADD RESOURCE ds_1 failed"
Hi guys, anyone can help me? I am a beginner of ShardingSphere.

After I run `Bootstrap.java` and enter `mysql -h 127.0.0.1 -P 3307 -u root -p` in the terminal to start the shardingsphere database,  I try to `add resources` to the newly created sharding_db database, I get this error
`ERROR 1104 (C1104): Can not process invalid resources, error messages are: [Invalid data source 'ds_1', error messa

[2022-06-19 14:32] complone commented on #18425
allowPublicKeyRetrieval=True may allow malicious agents to execute. By default, only useSSL is recommended to be enabled. Please refer to DistSQLFeatureExample for related test cases. Please pay attention to the ADD_RESOURCE behavior of ResourceExecutor

[2022-06-19 14:42] #18419 closed

[2022-06-19 15:18] isHuangXin commented on #18425
I have tried only use `useSSL=false` instead of `allowPublicKeyRetrieval=true&useSSL=false`, But which cause same error:
`ERROR 1104 (C1104): Can not process invalid resources, error messages are: [Invalid data source 'ds_1', error message is: Public Key Retrieval is not allowed].`

Very confusing and bothering me ...

[2022-06-19 15:49] complone commented on #18425
@RaigorJiang  @galaxylqx
hi, can you please help me with this problem?

[2022-06-20 00:49] #18367 closed

[2022-06-20 01:20] natehuangting opened #18430 "Sharding Audit"
## Feature Request
### Describe the feature you would like.
I want to add a configuration in server.yaml called
allow-broadcast-without-sharding-key, it indicates whether to allow broadcasting without sharding key, the default is true, which is consistent with the existing logic, and can be changed to false if necessary.

The broadcast behavior without the shard key will cause a large area of acce

[2022-06-20 01:46] strongduanmu commented on #18430
Hi @natehuangting, thank you for your feedback, I think this is a really great suggestion. Besides, ShardingStatementValidator might be an ideal place to implement this feature.

[2022-06-20 02:18] Trydamere opened #18431 "[ OSPP 2022 ] Solve unsupported Oracle SQL about Alter Statement for ShardingSphere Parser"
This issue is created to better track my PRs for OSPP 2022, you can view more about my project [here](https://summer-ospp.ac.cn/#/org/prodetail/22ee10102).

## Background
ShardingSphere Parser Engine helps users parse SQL statements into AST and generate corresponding SQL Statement objects from it.

## Process
1. Compare SQL definitions in [Oficial SQL Doc](https://docs.oracle.com/en/database/orac

[2022-06-20 02:23] peilinqian opened #18432 "create view（Single Table，no shard configured），jdbc calls ss-proxy, probabilistic failure"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-20 03:11] vincentlbh commented on #18093
When will 5.1.3 be released?

[2022-06-20 03:17] peilinqian opened #18433 "“fetch from cursor1”syntax is not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-20 03:23] strongduanmu commented on #18433
@peilinqian Thank you for your feedback. I found that the syntax description in the [openGauss documentation](https://opengauss.org/zh/docs/1.0.1/docs/Developerguide/FETCH.html) is wrong, it is inconsistent with the logic in the openGauss source code.

Following is openGuass fetch syntax in official document.

[code]

However, the real openGauss syntax is implemented as follows, the user can use t

[2022-06-20 03:25] tuichenchuxin commented on #18432
I tried times, but didn't get error.
[code]
[code]

[2022-06-20 04:03] wsm12138 opened #18434 "When use DistSQL excute 'preview select * from e;' ,Showing unexpected results"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-20 04:33] terrymanu opened #18437 "ExportDatabaseConfigurationHandler need to be improved"
The export data in ExportDatabaseConfigurationHandler is in file: `shardingsphere-proxy/shardingsphere-proxy-backend/src/test/resources/expected/export-database-configuration.yaml`. The content of the export data is not good engough.

1. `!!set` should to be removed in line 33
2. `?` should to be removed in line 34
3. `''` value of none should be removed in line 40
4. `null` value of default_scali

[2022-06-20 04:52] tuichenchuxin commented on #18406
use function with sharding key is not supported. You can calculate first.

[2022-06-20 05:19] wsm12138 commented on #18434
# normal
#### server.yaml
[code]
#### sql
[code]
#### behavior
<img width="670" alt="image" src="https://user-images.githubusercontent.com/86462784/174529972-9c3da9f4-a49f-4e68-ad25-8e71c7302cbc.png">

# unnormal
#### server.yaml
[code]
#### sql
[code]
#### behavior
<img width="538" alt="image" src="https://user-images.githubusercontent.com/86462784/174530281-ddb7dd03-01e8-46cb-9352-8abb0e9f103b.p

[2022-06-20 05:33] #18433 closed

[2022-06-20 06:22] zjcnb opened #18441 "Consider primary datasource provides query when all the replica are offline in Readwrite-Splitting Dynamic type"
Hi community,

Execute the query throws an exception when we use `readwrite-splitting ` rule and` db-discovery` rule and all the replica are offline.

![image](https://user-images.githubusercontent.com/33742097/174536944-ae21edd6-e419-4b87-82db-a4f217a7bb61.png)

So, we consider add configuration switch in Dynamic `readwrite-splitting`, choose the primary data source by yourself to whether provide

[2022-06-20 06:26] tuichenchuxin commented on #18432
I found the sql drop table has `cascade`. So actually it deleted the view depends on table. But shardingSphere has not maintain the relationship with table and view. So after droping table, ShardingSphere still has the view in metadata. Then it will cause the error. We'll consider how to solve it. Before, you can use drop view directly first.

[2022-06-20 06:32] zjcnb commented on #18441
`Configuration : `
[code]

[2022-06-20 06:43] azexcy opened #18442 "Scaling will throw PipelineJobPrepareFailedException, when start/stop scaling interval is very short"
## Bug Report

The command is executed as follows
[code]

When execute start/stop scaling

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

no exception will be thrown.

### Actual behavior

[code]

### Reason analyze (If you can)

The stop event is not handled correct

[2022-06-20 06:44] azexcy commented on #18442
I will follow this

[2022-06-20 07:07] zjcnb commented on #18380
Maybe it's better to change `min-enabled-replicas-threshold` to `min-enabled-replicas`.

[2022-06-20 07:33] zjcnb opened #18445 "`MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm` support cascade mode"
Hi community,

I think `MySQLNormalReplicationDatabaseDiscoveryProviderAlgorithm` need enhancement. Currently it only supports `master-slave` cluster mode, but not support `CASCADE` cluster mode. The reason to support it some users can connect a `standby database` on the `slave` node to achieve the purpose of backing up data.

[code]

`Mster-slave mode : `

![image](https://user-images.githubuserc

[2022-06-20 07:35] RaigorJiang commented on #18425
Any JDBC parameters are supported when using the URL form `ADD RESOURCE`.
The problem seems to be caused by an extra comma after PASSWORD which makes the password incorrect.

[2022-06-20 07:36] zjcnb commented on #18445
@natehuangting Hi, can you look this?

[2022-06-20 07:42] zjcnb commented on #18381
Yeah, that a good idea. i think it should be provide `SPI` interface in `db-discovery` module, and users can use different JOBs according to their own needs.

I will do it.

[2022-06-20 07:55] terrymanu opened #18446 "Add test case for AlterTransactionRuleHandler"

[2022-06-20 08:03] terrymanu opened #18449 "Add assertion for CreateTrafficRuleHandlerTest and AlterTrafficRuleHandlerTest"
- [x] Add created rule assertion for `CreateTrafficRuleHandlerTestassertExecute()`
- [x] Add altered rule assertion for `AlterTrafficRuleHandlerTest.assertExecute()`

[2022-06-20 08:06] #18331 closed

[2022-06-20 08:15] mabaiwan commented on #18437
Can I work on this issue?

[2022-06-20 08:21] #18442 closed

[2022-06-20 08:25] LGAKing opened #18451 "Sql parse error in oracle because of sharding keywords"
Hi, We are developing a project using Spring Data Jpa & Oracle, when integrating Shardingsphere, there are a lot of Sql Parser Exceptions. After viewing the source code, it was found that it was in conflict with the keywords(eg. COMPELETE, SERVICE, METHOD and more) defined by Sharding. In this case, is there a configuration to circumvent this exception, or do I have to modify the relevant fields i

[2022-06-20 08:39] LGAKing opened #18452 "Spring Data JPA occure Exception with Blob value"
I am using Spring Data JPA, and have declared Entity. Among them, some fields use the Object (specific type, eg. ItemDTO) type declaration in Entity, and use Blob storage in the database. When Sharding is not integrated, CRUD can be performed normally. After integrating Sharding, an exception "unsupported data type" will appear when inserting Blob data. I don't know if this problem will be fixed,

[2022-06-20 08:39] zjcnb commented on #18437
Welcome.

[2022-06-20 09:01] Mr-Yu-95 opened #18455 "Print error SQL when throwing exception.SQLParsingException"
Hi community：
     Now，the ShardingSphere can print exception log when we want to excute error SQL.
     For example Cause: com.google.common.util.concurrent.UncheckedExecutionException: org.apache.shardingsphere.sql.parser.exception.SQLParsingException: You have an error in your SQL syntax.
    However, when throwing error sql exception, the shardingSphere cant print error sql needing to parser

[2022-06-20 09:08] peilinqian opened #18456 "Insert sql statement probabilistic erro ERROR: syntax error at or near "valuesorg""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-20 09:21] pencilcap123 commented on #17918
there is no poolName attribute assigned for the connection pool, but I do specified a lot of pool properties

[2022-06-20 10:03] pedesdestiny opened #18458 "multiple datasources route table error ?"
springboot：1.5.4.RELEASE
sharding.sphere：3.0.0.M2
mysql：5.7.24-log

config:
[code]

There is multiple dataNodes. crm_was_0~9 are sub database and sub table, crm_was and main_data are single dataNode. 'default-data-source-name' is configed with 'crm_was', so i config 'main_data' in sharding rules.

problems：
query single table of crm_was is ok.  but when i use sub or join to query table of crm_was,

[2022-06-20 10:14] isHuangXin commented on #18425
Thanks, bug fixed!

- Need to create databases (demo_ds_0, demo_ds_1) in mysql before adding resources

![image](https://user-images.githubusercontent.com/57054352/174579505-1598b7d0-34fa-4306-9a6e-8192b02afdef.png)

- The DB parameter points to the physical database

![image](https://user-images.githubusercontent.com/57054352/174580169-2f88cadc-86a7-440d-b7fa-321dcdfe52c6.png)

[2022-06-20 10:15] zjcnb commented on #18405
The problem reason, there are many tables in my database. The data source has been close but event not process completed when i shutdown my application.

[2022-06-20 11:48] lcxywfe opened #18461 "Django.db with ShardingProxy not commit after update"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2
Django version: 3.0.4

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Update mysql with django.db

### Actual behavior
The update will not be committed and lock the row;

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configurat

[2022-06-20 13:20] zjcnb commented on #18331
Yeah, you are right. But it 's right if you not use `DistSQL`.

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/33742097/174610437-4997f5bf-b988-4d9f-8b4d-6716e283cbcc.png">

Use `DistSQL` :

[code]

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/33742097/174610113-745878bf-d35f-4f10-a4c8-77c88395c6ba.png">

So, i think `DistSQL` ignores `

[2022-06-20 15:49] MichaelDeSteven commented on #18449
Can I try this task？

[2022-06-20 16:12] terrymanu commented on #18422
This issue does not make sense, I just close it.

[2022-06-20 16:12] #18422 closed

[2022-06-21 02:35] TeslaCN commented on #18461
The flag `AUTO_COMMIT` returned by Proxy is always `true`, which causes this issue.

![image](https://user-images.githubusercontent.com/20503072/174704169-8bdd6001-d1ab-4552-bcaf-131f27c1c303.png)

[2022-06-21 03:03] TeslaCN opened #18471 "MySQL's prepStmtCacheSize default value of 200000 is not reasonable, which is easy to cause OOM"
## Parameter tuning

Related to https://github.com/apache/shardingsphere/pull/9618

Each connection will occupy about 5 MB memory, which is easy to cause OOM if there are a large number of Connection.

![image](https://user-images.githubusercontent.com/20503072/174709084-9f45b05b-4025-4010-9494-076d5e284a48.png)

![image](https://user-images.githubusercontent.com/20503072/174708167-239c27b1-8435-4

[2022-06-21 03:22] peilinqian opened #18475 "Closing all cursor functions is not supported，When use SQL excute 'close all' ,Showing unexpected results"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-21 03:27] peilinqian opened #18476 "Create partition table is not supported."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-21 03:51] zjcnb opened #18478 "NPE occurred when `read-data-source-names` configured non-existent `ds`"
## Bug Report

### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### Configuration

[code]

[2022-06-21 03:52] zjcnb commented on #18478
Maybe need to check whether other feature has this problem.

[2022-06-21 03:57] #18336 closed

[2022-06-21 04:21] #18471 closed

[2022-06-21 04:22] menghaoranss commented on #13021
fixed

[2022-06-21 04:22] #13021 closed

[2022-06-21 04:32] strongduanmu opened #18481 "NullPointerException occurs when startup ShardingSphere proxy"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/1bdc967ec427744749ac085a51c7083f19fce55e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

startup ShardingSphere proxy successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to repr

[2022-06-21 04:44] connor1024 opened #18482 "App connection Shardingsphere-proxy fails"
Shardingsphere-proxy :5.1.2

mysql service version : 5.7.18  (select version();)

app error log:

022-06-21 12:36:33.837 +0800 [TID: N/A] [RMI TCP Connection(10)-172.30.16.1] ERROR userId: tenantId: com.zaxxer.hikari.pool.HikariPool:497 - HikariPool-1 - Error thrown while acquiring connection from data source
java.sql.SQLException: Could not map transaction isolation '1' to a valid JDBC level.
	at

[2022-06-21 04:55] terrymanu commented on #18482
The error log is not come from ShardingSphere, please check your usage first

[2022-06-21 04:58] #17552 closed

[2022-06-21 05:02] #17555 closed

[2022-06-21 05:05] connor1024 commented on #18482
ShardingSphere-Proxy not error log,    but when  proxy 5.1.0 ,app connection that successful

[2022-06-21 05:21] wsm12138 commented on #18434
@lanchengx  @RaigorJiang
please take a look

[2022-06-21 05:48] TeslaCN commented on #18482
You may set the `proxy-mysql-default-version` in server.yaml

https://github.com/apache/shardingsphere/blob/db210de5b14e58a25808cab1d7587b090f503584/shardingsphere-proxy/shardingsphere-proxy-bootstrap/src/main/resources/conf/server.yaml#L91

https://github.com/mysql/mysql-connector-j/blob/ad86f36e100e104cd926c6b81c8cab9565750116/src/com/mysql/jdbc/ConnectionImpl.java#L2972-L2995

[2022-06-21 06:19] IneverStop opened #18487 "Sub query Can not get correct result"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Problem description

Here is my table DDL:
[code]

Here is part of pom.xml:
[code]

Here is entity:
[code]

This mybatis sql works:
[code]
logs:
[code]
As you can see, I got id、name、idp as I wish.

But this mybatis sql not work

[2022-06-21 07:01] IneverStop commented on #18487
[code]

`id + 1` is a `ExpressionProjection`, so this function will skip `ExpressionProjection`, may be this occur the problem.

[2022-06-21 08:00] connor1024 commented on #18482
thanks, edit server.yaml    [proxy-mysql-default-version=【mysqlversion】]。

[2022-06-21 08:05] zhang7324199 commented on #7471
rules:
- !SHARDING
  tables:
    template_item_id:
    t_order:

   When will this feature be released

[2022-06-21 08:06] zhang7324199 commented on #7471
rules:
- !SHARDING
  shardingTables:
    - #Sample1: all tables Sharding by item_id should be under this group
      tables: t_order, t_order_item

When will this feature be released?

[2022-06-21 08:10] terrymanu commented on #18449
@MichaelDeSteven  Sure, go ahead please

[2022-06-21 08:40] #18482 closed

[2022-06-21 09:20] #18475 closed

[2022-06-21 12:25] linghengqian opened #18494 "Confusion about changes to ShardingSphereDataSource and ContextManager"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-06-21 13:27] linghengqian opened #18495 "Unable to configure `dataSource` property for HikariCP 4.0.3"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-06-21 14:33] runqi-zhao opened #18496 "[OSPP 2022 ]Solve unsupported PostgreSQL about SQL dialect for ShardingSphere Parser"
This issue is created to better track my PRs for OSPP 2022, you can view more about my project [here](https://summer-ospp.ac.cn/#/org/prodetail/22ee10095)

## Background

ShardingSphere Parser Engine helps users parse SQL statements into AST and generate corresponding SQL Statement objects from it.

#### How is a SQL parsed?

[code]

## Process

1. Compare SQL definitions in [Oficial SQL Doc](http

[2022-06-21 14:47] linghengqian commented on #18495
@zjcnb Thank you very much! But I'm still curious if the property name `data-source-properties` comes from ShardingSphere custom, or is it a HikariCP configuration name somewhere?

[2022-06-21 14:53] zjcnb commented on #18495
I think it is `ShardingSphere` custom properties.

[2022-06-21 14:54] linghengqian commented on #18495
Thank you! I will close this issue.

[2022-06-21 14:54] #18495 closed

[2022-06-21 17:47] linghengqian opened #18499 "The introduction to databaseName and other properties of SpringBoot Starter is missing from the documentation"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-06-21 23:03] m13601594065 opened #18501 "ro"
Learn Git- Git tutorials, workflows and commands | Atlassian Git Tutorial https://www.atlassian.com/git

[2022-06-22 03:04] linghengqian commented on #18495
- Just as an update: this property name is not a custom name for `ShardingSphere`, it is taken from:
https://github.com/brettwooldridge/HikariCP/blob/HikariCP-4.0.3/src/main/java/com/zaxxer/hikari/HikariConfig.java#L96

- This property is implicitly mentioned in `jdbcUrl` in https://github.com/brettwooldridge/HikariCP#essentials , and there is a related issue at https://github.com/brettwooldridge/

[2022-06-22 03:05] zjcnb commented on #18499
ShardingSphere compatible `database name` and `schema name`.  You can refer to #14004 for the reason of adjustment

[2022-06-22 03:10] linghengqian commented on #18499
@zjcnb Should the documentation be consistent in usage or indicate the existence and meaning of both properties? I don't think it will be the norm to include property descriptions for only one of them, or not to specify them in the documentation.

[2022-06-22 03:11] menghaoranss opened #18505 "Failed to create table with uppercase table name"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-22 04:44] strongduanmu commented on #18499
Hi @linghengqian, thank you for your feedback. I think these documents should adjust schemaName to databaseName. At present, ShardingSphere maintains the configuration of schemaName for compatibility, and will only support databaseName in the future, so the document should be updated to databaseName. Can you submit a pr to correct the document?

[2022-06-22 04:49] #18501 closed

[2022-06-22 05:23] linghengqian commented on #18499
I've been busy in recent weeks and it's hard to find time to revise the documentation. It would be great if a friend could submit a PR associated with this Issue.

[2022-06-22 06:42] xiajifei commented on #14334
I have a same question;sql can't exe in Sharding;
"SELECT * FROM ( SELECT TMP_PAGE.*, ROWNUM PAGEHELPER_ROW_ID FROM ( select sys_user.id, sys_user.user_code, sys_user.user_name, sys_user.password, sys_user.phone_number,sys_user.email, sys_user.avatar, sys_user.is_manager, sys_user.open_id, sys_user.app_code, sys_user.remark, sys_user.create_time, sys_user.modify_time, sys_user.create_user_id,sys_u

[2022-06-22 06:44] #18441 closed

[2022-06-22 06:54] novice-gamer opened #18509 "The database cannot be displayed after it is created"
Shardingsphere proxy version 5.1.3
The database cannot be displayed after it is created;

“”“
mysql> create database bid_analyse;
Query OK, 0 rows affected (0.67 sec)

mysql> show databases;
+------------------------+
| schema_name            |
+------------------------+
| crawler2021            |
| customer_delivery_dev  |
| customer_delivery_prod |
+------------------------+
3 rows in set (0.00

[2022-06-22 07:07] #18509 closed

[2022-06-22 07:38] #17686 closed

[2022-06-22 07:55] #16117 closed

[2022-06-22 07:58] emmataobao opened #18513 "Insert statement does not support sharding table routing to multiple data nodes."
![1655884625423](https://user-images.githubusercontent.com/46233536/174975626-0ad407ee-f100-4129-9bbd-33406d3133b1.png)
![1655884691419](https://user-images.githubusercontent.com/46233536/174975884-f8ddb71e-bb89-4836-a11b-f3bad8757b49.png)

[2022-06-22 10:26] soulasuna opened #18518 "Unified returned response header in proxy"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Describe the feature you would like.

Optimized use of `UpdateResponseH

[2022-06-22 13:41] cheese8 commented on #18417
Yeah, I will reproduce it and investigate the reasons.

[2022-06-23 01:07] xiaoqunhu commented on #18139
This is My Log:

1. this one is mising cnt
2022-06-22 16:45:35.880  INFO 28204 --- [nio-8080-exec-1] ShardingSphere-SQL                       : Logic SQL: **select * from (**SELECT d.id,count(d.id) as cnt
      FROM one_vacant_visit_detail d
               left join one_visit_relate_order r on d.id = r.visit_id
      WHERE 1 = 1
        AND DATE_FORMAT(d.created_time, '%Y-%m-%d %H:%i%s') >= concat

[2022-06-23 01:21] #18154 closed

[2022-06-23 01:35] natehuangting opened #18521 "Why does proxy use hint to force routing to make multiplexing into one request and one thread?"
## Question

Why does proxy use hint to force routing to make multiplexing into one request and one thread?

[2022-06-23 02:15] strongduanmu commented on #18521
Because the Hint feature uses ThreadLocal, it is necessary to ensure that threads in the same connection are reused. For more detailed info, you can refer https://github.com/apache/shardingsphere/blob/eac19a2d497da4ab6074fb101099b151a1cdc7f1/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/hint/HintManager.java.

[2022-06-23 02:17] strongduanmu commented on #18521
Besides, you can try SQL HINT for some scenario——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/sharding/hint/#%E4%BD%BF%E7%94%A8-hint-%E5%88%86%E7%89%87.

[2022-06-23 02:34] #18513 closed, assigned to nobody

[2022-06-23 02:39] #18505 closed

[2022-06-23 02:52] #18445 closed

[2022-06-23 03:20] liming0 opened #18525 "data encryption BUG"
yml:
![image](https://user-images.githubusercontent.com/50445932/175199677-e048dc84-7f08-46be-b1e6-ed1775829646.png)
 Logic SQL:
![image](https://user-images.githubusercontent.com/50445932/175199422-8651b9b8-f5b9-4a12-9f56-e9fb2a05bf47.png)
Actual SQL:
![image](https://user-images.githubusercontent.com/50445932/175199858-17422097-3401-49d6-8dbb-21cbf67bb650.png)

databaseType: PostgreSQL

[2022-06-23 03:23] williamXinCC commented on #7906
I got the same problem

[2022-06-23 03:26] #18499 closed

[2022-06-23 03:27] strongduanmu commented on #7906
@williamXinCC Can you submit a new issue to report this exception?

[2022-06-23 04:13] hongfuli opened #18528 "[ShardingSphere-Proxy] Missing return field"
## Bug Report
`select VERSION(), @@sql_mode;`

### Which version of ShardingSphere did you use?
ShardingSphere-Proxy 5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy 5.1.2

### Expected behavior

| 5.7.34    | ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTI

[2022-06-23 04:15] williamXinCC commented on #5492
@strongduanmu Hi, which version can be support?sharding-jdbc-4.1.1?

[2022-06-23 04:35] strongduanmu commented on #5492
@williamXinCC You can try ShardingSphere 5.1.2.

[2022-06-23 05:43] #17586 closed

[2022-06-23 06:17] THMAIL commented on #8629
I'm also facing the same problem

[2022-06-23 06:49] THMAIL opened #18533 "Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/shardingsphere/mode/repository/cluster/ClusterPersistRepositoryConfiguration"
## Bug Report
### Which version of ShardingSphere did you use?
v5.1.1 release bin

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
`C:\Users\233\Downloads\apache-shardingsphere-5.1.1-shardingsphere-proxy-bin\bin>start.bat
we find java version: java8, full_version=1.8.0_191
Starting the ShardingSphere-Proxy ...
Exception in threa

[2022-06-23 06:55] THMAIL commented on #14543
you can download it with https://mavenlibs.com/jar/file/org.apache.shardingsphere/shardingsphere-cluster-mode-repository-zookeeper-curator#all_versions, but I have tried it doesn't work at all  !!!!

[2022-06-23 06:56] terrymanu commented on #17375
What is the stack trace？

[2022-06-23 07:07] 924438567 opened #18536 "java.sql.SQLException: Field 'id' doesn't have a default value"
mybatis3.5.9 + sharding jdbc5.1.1

sql：
<insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into qy_barrage(cus_no, send_time, barrage, create_time, update_time, create_user, update_user)
        values (#{cusNo}, #{sendTime}, #{barrage}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
 </insert>

database
    CREATE TABLE `qy_barrage_aaa_2022` (
  `id` bigint

[2022-06-23 07:33] peilinqian opened #18540 "After the "cursor, close, fetch, move" sql is executed successfully. no return information"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-23 08:54] strongduanmu commented on #18540
@peilinqian Thank you for your feedback, I will optimize it later.

[2022-06-23 09:00] nagae-memooff opened #18543 "Is mariadb galera cluster supported?"
Can I use  a mariadb galera cluster(multi master mode) as a dataresource node?
The document only mentioned that Mysql Group Replication(multi master mode) is not supported.

[2022-06-23 09:06] zjcnb commented on #18533
@THMAIL Can you provide your `ShardingSphere-Proxy.zip`? And maybe you can try with `5.1.2`.

[2022-06-23 09:09] zjcnb commented on #18543
@nagae-memooff Do you use the `db-discovery` feature?

[2022-06-23 09:19] nagae-memooff commented on #18543
I don't use it.

[2022-06-23 10:14] comecny opened #18544 "dispose shardingsphere-jdbc "nested exception is java.lang.IllegalArgumentException: 'beanName' must not be empty""
<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:cluster="http://shardingsphere.apache.org/schema/shardingsphere/mode-repository/cluster"

[2022-06-23 12:59] terrymanu commented on #18544
The exception does not throw from ShardingSphere, can you check your application to analyze the problem first?

[2022-06-23 13:02] terrymanu commented on #18543
Not yet, but can do the mariadb galera cluster  implementation by yourself. `MGRMySQLDatabaseDiscoveryProviderAlgorithm` is the best example.

[2022-06-23 13:03] terrymanu commented on #18536
What is your SQL?

[2022-06-23 13:06] terrymanu commented on #18533
Did the binary tar download from official website? Can you use SHA512 to verify the integrity of package?

[2022-06-23 13:08] terrymanu commented on #18528
Maybe something wrong with the implementation, does anyone want to investigate it?

[2022-06-23 13:09] terrymanu commented on #18525
What is the version of ShardingSphere?

[2022-06-23 13:12] terrymanu commented on #18494
Metadata module is still being adjusted.

[2022-06-23 13:15] terrymanu commented on #18476
Sharding feature is the best replacement of MySQL's partition. There is not plan to support MySQL's partition for now.

[2022-06-23 13:16] #18458 closed

[2022-06-23 13:20] terrymanu commented on #18455
It is better to throw the root cause of SQL parser Exception.
@yuzhiping95 Do you interest to do the enhancement?

[2022-06-23 13:21] terrymanu commented on #18452
Can you provide the full stack trace?

[2022-06-23 13:23] terrymanu commented on #18451
The keywords and reserve words of Oracle are not complete in G4 file.  Does anyone want to fix it?

[2022-06-23 13:28] terrymanu commented on #18406
@edenpan Hi, can you change the title, I can't get your point

[2022-06-23 13:31] terrymanu commented on #18404
No, ShardingSphere only provide the standard configure way.
You may develop a program to generate your configuration if they are similar.

[2022-06-23 13:31] #18404 closed

[2022-06-23 13:38] terrymanu commented on #18210
Closed because of no feedback for long time.

[2022-06-23 13:38] #18210 closed

[2022-06-23 13:41] #18169 closed

[2022-06-23 13:47] terrymanu commented on #18122
What is your configuration of ShardingSphere?

[2022-06-23 13:47] tristaZero commented on #18365
Good idea. It's supposed to support for security. BTW, welcome your involvement if u want a try!

[2022-06-23 13:50] terrymanu commented on #18090
@735100049 Can you provide your configuration?

[2022-06-23 13:51] #18095 closed

[2022-06-23 13:52] terrymanu commented on #18070
@connor1024 What is your configuration?

[2022-06-23 13:56] terrymanu commented on #17903
What is your configuration?

[2022-06-23 14:01] terrymanu commented on #17814
Duplicate with #17752

[2022-06-23 14:01] #17814 closed

[2022-06-23 14:02] terrymanu commented on #17800
I cannot get your point from the title, can you change it?

[2022-06-23 14:04] #17768 closed

[2022-06-23 14:05] terrymanu commented on #17763
The version 4.x is out of service, please try 5.x

[2022-06-23 14:05] #17763 closed

[2022-06-23 14:08] terrymanu commented on #17719
ShardingSphere provide the standard configuration way only. Please treat ShardingSphere as infrastructure, not a application framework.
If user want to config lots similar shards, code generation is the better way.

[2022-06-23 14:08] #17719 closed

[2022-06-23 14:10] #17698 closed

[2022-06-23 14:10] laynotes commented on #17791
yes, i can fix it !

---- Replied Message ----
| From | Liang ***@***.***> |
| Date | 06/23/2022 22:03 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [apache/shardingsphere] Why does Mgr mode only support cluster mode ？I want  use it in memory mode ！ (Issue #17791) |

@laynotes Do you wanna to fix it?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You

[2022-06-23 14:12] terrymanu commented on #17636
Duplicated with #18107

[2022-06-23 14:13] terrymanu commented on #17628
Can you provide the full stack trace?

[2022-06-23 14:13] azexcy commented on #17912
I'm not sure, but I change the docker image of jdk (change openjdk:8-jdk-alpine to openjdk:8), then the error not reproduct. It is possible that it is not due to SQL, I will follow up the issue

[2022-06-23 14:15] terrymanu commented on #17482
Can you provide the full stack trace?

[2022-06-23 14:18] terrymanu commented on #17421
What is your version?

[2022-06-23 14:18] #17418 closed

[2022-06-23 14:21] terrymanu commented on #13328
Expired requirement, I just close this issue.

[2022-06-23 14:21] #13328 closed

[2022-06-23 14:21] #13465 closed

[2022-06-23 14:22] 924438567 commented on #18536
and when I change  the  actual-data-nodes from  ds0.qy_barrage_$->{'(。)*'}_$->{2022..9999}  to ds0.qy_barrage_$->{['aaa','bbb']}_$->{2022..9999},  it works correctly!!!   why?

[2022-06-23 14:23] #14375 closed

[2022-06-23 14:23] terrymanu commented on #14370
No plan for database operation scope

[2022-06-23 14:23] #14370 closed

[2022-06-23 14:24] terrymanu commented on #14347
Fixed

[2022-06-23 14:24] #14347 closed

[2022-06-23 14:25] terrymanu commented on #14342
@zhougaole Hi, your comment include lots of css info, can you remove it?

[2022-06-23 14:27] terrymanu commented on #14334
No plan to improve with oracle, I just set it as good amateur issue, does anyone want to fix it?

[2022-06-23 14:28] terrymanu commented on #8107
No plan to improve with oracle, I just set it as good amateur issue, does anyone want to fix it?

[2022-06-23 14:29] terrymanu commented on #11475
No plan to improve with oracle, I just set it as good amateur issue, does anyone want to fix it?

[2022-06-23 16:52] TeslaCN opened #18554 "ShardingSphere-Proxy listen on specified addresses"
## Feature Request

### Is your feature request related to a problem?

For security.

### Describe the feature you would like.

Support listening on specific addresses like the MySQL or PostgreSQL.

Netty bind: https://stackoverflow.com/questions/30957207/netty-listen-on-several-addresses-ports-with-a-single-serverbootstrap

[2022-06-23 17:21] terrymanu commented on #18536
If the issue is changed, please close this issue with reason, and reopen another issue to represent your question.

[2022-06-23 17:27] terrymanu commented on #18513
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:29] terrymanu commented on #18327
All related PRs do not merge, I just set it as invalid

[2022-06-23 17:30] terrymanu commented on #18261
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:30] terrymanu commented on #18209
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:32] terrymanu commented on #18135
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:35] terrymanu commented on #18039
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:37] terrymanu commented on #17784
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:38] terrymanu commented on #17748
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:39] terrymanu commented on #17415
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:42] terrymanu commented on #17152
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:42] terrymanu commented on #17125
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 17:43] terrymanu commented on #17015
I just set it as invalid because of the author close the issue without any reason.

[2022-06-23 22:20] linghengqian commented on #18494
Wow, I'm looking forward to what the metadata module will look like in the end.

[2022-06-23 22:20] #18494 closed

[2022-06-24 01:17] bug-marker opened #18556 "java.sql.SQLException: Field 'id' doesn't have a default value"
mybatis3.5.9 + sharding jdbc5.1.1

sql：
insert into qy_barrage(cus_no, send_time, barrage, create_time, update_time, create_user, update_user)
values (#{cusNo}, #{sendTime}, #{barrage}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})

database：
CREATE TABLE qy_barrage_aaa_2022 (
id bigint unsigned NOT NULL,

[code]

but when I change the actual-data-nodes from ds0.qy_barrage_$->{'(。)*'

[2022-06-24 01:18] #18536 closed

[2022-06-24 01:43] edenpan commented on #18406
But it was used the function with sharding value. ok. I will try to convert the DateTime to LocalDateTime. Thanks.

[2022-06-24 01:43] #18406 closed

[2022-06-24 01:58] #17196 closed

[2022-06-24 02:16] liming0 commented on #18525
This problem is in 5.1.2
Version 5.1.1 does not have this problem. However, there is another problem in 5.1.1. The schema in LogicSQL is removed from actualsql；This problem is in 5.1.2

[2022-06-24 02:27] terrymanu commented on #18556
Is your configuration correct? There are Chinese character `。` in your code.

[2022-06-24 02:34] #18230 closed

[2022-06-24 02:35] 924438567 commented on #18556
I see in  groovy grammar, （。） means everything.

[2022-06-24 02:56] TeslaCN commented on #17888
Hi @wingkingbobo
Any update here?

[2022-06-24 03:08] TeslaCN opened #18559 "Tuning large query performance of ShardingSphere-Proxy"
## Feature Request

### Is your feature request related to a problem?

Performance loss of sysbench range select is a little high.

### Describe the feature you would like.

Consider improving I/O performance of ShardingSphere-Proxy frontend.

[2022-06-24 04:04] terrymanu commented on #18556
Did  mean `。` or `.`?

[2022-06-24 04:05] LGAKing commented on #18452
thks ur reply!

[2022-06-24 04:13] terrymanu commented on #8003
Sorry, I forget to close this issue. The current codes just follow the first way, that's all right.

[2022-06-24 04:13] #8003 closed

[2022-06-24 04:15] pedesdestiny commented on #18458
Thank you for your remind. Any version can support this way applying table in sharding rules directly？

[2022-06-24 04:15] terrymanu commented on #8208
I think this issue has already expired, the performance kept enhancing in each release.

[2022-06-24 04:15] #8208 closed

[2022-06-24 04:24] #7791 closed

[2022-06-24 04:43] strongduanmu commented on #10089
This issue can be closed as we list the parsing optimization tasks in more detail in issue #14104.

[2022-06-24 04:43] #10089 closed

[2022-06-24 05:35] azexcy commented on #17912
I use openjdk:8 for test, the error log is different. follow this.

[code]

[2022-06-24 05:41] cheese8 commented on #18525
I did not reproduce it, can you provide your simplified demo?
[code]

[code]

[2022-06-24 05:44] wuguowei19880907 opened #18561 "sqlserver select top 10 xxx from table_ where xxx"
java8  sharding 5.1.0
database:sqlserver 2012
spring boot +jpa

I use spring boot +sqlserver + sharding5.1.0 , the sql is
[code]
the **name** field is encrypt,but sharding cannot recongnize it.
When I debug the error,I found that the **selectstatment** cannot be parsed correct!
![微信图片_20220624134228](https://user-images.githubusercontent.com/19338820/175470161-b2fed234-128b-4e71-9be8-c43b7b52d708.

[2022-06-24 05:56] terrymanu commented on #18561
What is your configuration?

[2022-06-24 05:56] TeslaCN opened #18562 "Consider setting default value for serverConfig in Helm Chart of ShardingSphere-Proxy"
## Enhancement

https://github.com/apache/shardingsphere/blob/af1d5c82da8be62879fd390dfa2f66333c3531cf/shardingsphere-charts/apache-shardingsphere-proxy/values.yaml#L139

The default value of `serverConfig` is empty. If we use `helm install` directly without any settings, the ShardingSphere-Proxy cannot start up.

It's better to give a default value to `serverConfig` to help user to deploy a clust

[2022-06-24 06:02] azexcy commented on #17912
finally the error report
[code]

[2022-06-24 06:09] peilinqian commented on #18476
There are currently no plans to support opengauss partitions either？

[2022-06-24 06:09] peilinqian commented on #18476
There are currently no plans to support opengauss partitions either？

[2022-06-24 06:35] liming0 commented on #18525
Try downloading a demo from this link that will allow you to reproduce this encryption bug
https://gitee.com/liming3/sharding-demo/tree/demo-5.1.2/

[2022-06-24 06:39] liming0 commented on #18525
使用这个接口  /api/v1/person  进行数据插入，即可复现这个问题，
param:
`{
  "gender": 0,
  "personName": "嘿嘿"
}`

[2022-06-24 06:49] terrymanu commented on #9878
The exception does not throw from ShardingSphere, I just close it

[2022-06-24 06:49] #9878 closed

[2022-06-24 06:49] terrymanu commented on #9751
Expired issue, the Github action works fine now.

[2022-06-24 06:49] #9751 closed

[2022-06-24 06:52] terrymanu commented on #7522
@LingyaoLv Please go ahead if you want fix the issue

[2022-06-24 07:09] beitengda commented on #8375
version 4.0.0-RC2 并没有修复这个问题，4.0.1和4.0.0-RC2 中都仍然有这个问题

[2022-06-24 07:17] wingkingbobo commented on #17888
@TeslaCN After upgrading to 5.1.2, it can be executed correctly

[2022-06-24 07:17] #17888 closed

[2022-06-24 07:25] TeslaCN commented on #17912
It seems that the server is PostgreSQL 12.3 not openGauss. Could you check it again? @azexcy

<img width="854" alt="image" src="https://user-images.githubusercontent.com/20503072/175484901-8f8bae4e-adde-4707-986f-ab97c9015e4b.png">

[2022-06-24 07:44] novice-gamer opened #18564 "Does MySQL support "insert into... On duplicate key update..."?"
ShardingSphere-proxy 5.1.3
Does MySQL support "insert into... On duplicate key update..."?

[2022-06-24 07:48] azexcy commented on #17912
<img width="1431" alt="image" src="https://user-images.githubusercontent.com/101622833/175488487-15188159-bb52-4088-8634-72fa3a5ebedd.png">
<img width="889" alt="image" src="https://user-images.githubusercontent.com/101622833/175488616-e190e0cb-d3f9-47fc-b86b-ae5a65f7d4c3.png">
<img width="876" alt="image" src="https://user-images.githubusercontent.com/101622833/175488800-913e4c38-7393-4a0b-9a19-9

[2022-06-24 08:53] peilinqian opened #18567 "Drop view of broadcast table,only one data source‘s view is dropped"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-24 10:01] strongduanmu commented on #18540
After the pr was merged, the cursor, move, close statements will return result.

<img width="681" alt="image" src="https://user-images.githubusercontent.com/10829171/175512739-c6042d22-37da-40fd-b265-bd0b7e4821eb.png">

[2022-06-24 10:20] #18540 closed

[2022-06-24 10:51] #17912 closed

[2022-06-24 11:28] terrymanu commented on #18564
Yes, it is, any problem do you meet?

[2022-06-24 12:11] dsj017112 commented on #6028
@tristaZero Hello, could you please tell me in which version this bug was fixed?

[2022-06-24 13:03] Peterosh commented on #18279
there is not find any exception thrown.SHARDING TABLE RULE is not fully implemented。
Here's my solution right now
[code]

[2022-06-24 15:07] terrymanu commented on #11550
The authority module has refactored in 5.1.x, please retry it.
I just close this issue, if the problem still existed, please open a new issue, thank you.

[2022-06-24 15:07] #11550 closed

[2022-06-24 15:08] terrymanu commented on #10808
I just move this issue to discussion.

[2022-06-24 15:09] #11599 closed

[2022-06-24 15:11] terrymanu commented on #9911
The version 4.x is out of service, I just close this issue.

[2022-06-24 15:11] #9911 closed

[2022-06-24 15:13] #8913 closed

[2022-06-24 15:14] terrymanu commented on #12383
The code has been refactored, I just close the issue for now, any question please create new issue, thank you.

[2022-06-24 15:14] #12383 closed

[2022-06-24 15:15] terrymanu commented on #10751
Nobody interest this issue for long time, I just close it.

[2022-06-24 15:18] #9173 closed

[2022-06-24 15:19] terrymanu commented on #11057
The version before 5.x is out of service, I just close the issue.

[2022-06-24 15:19] #11057 closed

[2022-06-24 15:25] #9235 closed

[2022-06-24 15:26] #5189 closed

[2022-06-24 15:33] terrymanu commented on #12869
The version 4.x is out of service. For version 5.x, it is better to create a new issue, we just separate between 4.x and 5.x.

[2022-06-24 15:33] #12869 closed

[2022-06-24 15:38] #14021 closed

[2022-06-24 15:38] terrymanu commented on #14008
Nobody interested the issue for long time, I just close it.

[2022-06-24 15:38] #14008 closed

[2022-06-24 15:40] terrymanu commented on #14192
This issue is pretty long time, and the pull request has already closed, I just close this issue.

[2022-06-24 15:40] #14192 closed

[2022-06-24 15:41] terrymanu commented on #14156
The version 4.x is out of service, please try version 5.x

[2022-06-24 15:41] #14156 closed

[2022-06-24 15:43] terrymanu commented on #14376
This issue is pretty long time, I just close it.

[2022-06-24 15:43] #14376 closed

[2022-06-24 15:44] terrymanu commented on #11054
This issue is opened for long time any no feedback, I just close it.

[2022-06-24 15:44] #11054 closed

[2022-06-24 15:45] terrymanu commented on #14409
The version 4.x is out of service, I just close this issue.

[2022-06-24 15:45] #14409 closed

[2022-06-24 15:45] terrymanu commented on #14316
This issue is opened for long time any no feedback, I just close it.

[2022-06-24 15:46] terrymanu commented on #14553
This issue is opened for long time any no feedback, I just close it.

[2022-06-24 15:46] #14553 closed

[2022-06-24 15:47] terrymanu commented on #14311
This issue is opened for long time any no feedback, I just close it.

[2022-06-24 15:47] #14311 closed

[2022-06-24 15:47] terrymanu commented on #14262
This issue is opened for long time any no feedback, I just close it.

[2022-06-24 15:47] #14262 closed

[2022-06-24 15:49] terrymanu commented on #15052
The version 4.x is out of service, welcome to try version 5.x

[2022-06-24 15:49] #15052 closed

[2022-06-24 15:50] terrymanu commented on #14993
The version 4.x is out of service, welcome to try version 5.x

[2022-06-24 15:50] #14993 closed

[2022-06-24 15:51] #15089 closed

[2022-06-24 15:52] #14964 closed

[2022-06-24 15:52] terrymanu commented on #14465
No feedback, closed

[2022-06-24 15:53] #13801 closed

[2022-06-24 15:55] terrymanu commented on #15511
Can you try to use example to make sure the application can run?

[2022-06-24 15:56] terrymanu commented on #15633
The version 3.x is out of service, welcome to try version 5.x

[2022-06-24 15:56] #15633 closed

[2022-06-24 15:57] terrymanu commented on #15738
No plan to support not open sourced database

[2022-06-24 15:57] #15738 closed

[2022-06-24 15:58] terrymanu commented on #15781
It seems like oracle parse problem, does anyone want to fix it?

[2022-06-24 15:59] terrymanu commented on #15734
Hi @liruhui, Can you change the title for search friendly?

[2022-06-24 16:00] terrymanu commented on #15948
The version 4.x is out of service, please try version 5.x

[2022-06-24 16:00] #15948 closed

[2022-06-24 16:03] terrymanu commented on #16361
Hi @xuejmnet Thank you for the suggestion, I will study it when I am free.

[2022-06-24 16:04] terrymanu commented on #16348
No feedback, closed

[2022-06-24 16:04] #16348 closed

[2022-06-24 16:05] terrymanu commented on #15874
@SirMin Thanks for excellent details of the issue, could change the title for search friendly?

[2022-06-24 16:10] terrymanu commented on #17073
Is the problem resolved?

[2022-06-24 16:11] terrymanu commented on #16999
Can you provide more details?

[2022-06-24 16:12] terrymanu commented on #15791
What is your version?

[2022-06-24 16:13] terrymanu commented on #16277
Could you format the content by markdown syntax? The message is hard to read.

[2022-06-24 16:43] VeejaLiu commented on #16999
@terrymanu
In shardingsphere, the set of sub tables corresponds to a logical table.

For example, the actual tables are `use_a`, `user_b`, and `user_c`. But in fact, their logical table name is `user`. I mean, can I get the current logical table name in the dosharding() method? I guess it's not very difficult.

If my description is not very clear, I can try to describe it again.

Thank you for you

[2022-06-24 16:47] #16627 closed

[2022-06-24 17:15] #15925 closed

[2022-06-24 18:04] RaigorJiang opened #18578 "Received invalid response to SSL negotiation when use psql to connect Proxy."
## Bug Report
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy https://github.com/apache/shardingsphere/commit/9431835379969bc64035b0e8944d5703646d3f79

### Expected behavior
Connect successful.

### Actual behavior
[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
1. Start Proxy just with server.yaml
[

[2022-06-24 18:12] RaigorJiang commented on #18578
After I set `proxy-frontend-database-protocol-type: PostgreSQL`, psql can make protocol connections.
This issue can be closed.

[2022-06-24 18:12] #18578 closed

[2022-06-24 18:25] RaigorJiang commented on #14968
Hi @taojintianxia
Over the course of several months, Proxy's meta database support has improved considerably.
Now, if you still want to configure PostgreSQL scenario via only one server.yaml,
Do this:
1. Configure `proxy-frontend-database-protocol-type: PostgreSQL` in props in server.yaml,
In this way, a meta database `postgres` will be created when the Proxy starts.
2. Now, we can successfully co

[2022-06-25 01:17] sandynz commented on #8934
Hi @xuup , did you upgrade ShardingSphere, does this issue still  exist?

[2022-06-25 01:55] #16133 closed

[2022-06-25 05:13] #14968 closed

[2022-06-25 05:17] #11167 closed

[2022-06-25 05:18] RaigorJiang commented on #18556
Hi @924438567
Here is a description of the usage of inline expressions, hope it can help you.

[2022-06-25 05:18] #10619 closed

[2022-06-25 05:18] #10087 closed

[2022-06-25 05:46] RaigorJiang commented on #18279
Hi @Peterosh
This may be caused by frequent metadata modification.
ShardingSphere 5.1.2 adds a lock to protect this scenario, you can try the latest version.

[2022-06-25 05:51] RaigorJiang commented on #18055
Hi @726411951  any update?

[2022-06-25 06:24] yuzhiping95 commented on #12532
Hi zjcnb
  I also found this problem. However, i dont write SQL in xml. Because, my SQL is generated dynamically by TK-MYBatis. When i use annotation ‘@KeySql(useGeneratedKeys = true)’ provided by TK-Mybatis, my project can throw exception "Throw Exception ResultSet should call next or has no more data". My shardingSphere version is 5.0.0

[2022-06-25 08:44] terrymanu opened #18583 "Remove deprecated CountInstanceRulesHandler and CountInstanceRulesStatement"
CountInstanceRulesHandler breaks the pluggable design, nobody need to know all dynamic plugins.
We should split the count logic push down to each concrete rule.

The handler should be:

- [ ] CountSingleTableRuleHandler
- [ ] CountShardingRuleHandler
- [ ] CountReadwriteSplittingRuleHandler
- [ ] CountDatabaseDiscoveryRuleHandler
- [ ] CountEncryptRuleHandler
- [ ] CountShadowRuleHandler

and othe

[2022-06-25 08:59] terrymanu commented on #3024
Version 4.x is out of service, welcome to try 5.x

[2022-06-25 08:59] #3024 closed

[2022-06-25 09:02] terrymanu commented on #9471
@Asxing There are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-06-25 09:05] terrymanu commented on #15579
Fixed

[2022-06-25 09:05] #15579 closed

[2022-06-25 09:07] terrymanu commented on #17020
Good idea, but it need more time to design and impl, I just set it as `good amateur issue`, welcome interested friend join this issue

[2022-06-25 09:12] terrymanu commented on #4784
There are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-06-25 09:12] terrymanu commented on #4784
I realize this issue maybe not very easy, I just set it as `good pro issue`

[2022-06-25 09:13] terrymanu commented on #7522
Hi @sluk3r @MingxingLAI @LingyaoLv There are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-06-25 09:14] terrymanu commented on #12872
There are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-06-25 09:15] terrymanu commented on #14672
Hi @Swastyy There are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-06-25 09:17] TeslaCN commented on #17727
Maybe fixed by #18257.

[2022-06-25 09:17] #17727 closed

[2022-06-25 09:29] LeeGuoPing commented on #18583
May I have a try

[2022-06-25 09:32] git000 commented on #18446
Can I take this task?

[2022-06-25 09:33] wt-better opened #18584 "SQL route can optimize"
### Describe the feature you would like.

Eg：`select * from tbl_order where order_id in (1,2)`

`tbl_order` is sharding  table, two database: database01, database02; two tables: tbl_order_01, tbl_order_02 .

**shardingKey** is `order_id`，database and table sharding rule all `order_id%2` .

The current  will produce four `shardingsphere.RouteUnit`, respectively: <databse01:tbl_order_01>, <databse01

[2022-06-25 10:16] iisheng commented on #17402
Can I work on this issue?

[2022-06-25 10:26] terrymanu commented on #18583
Great

[2022-06-25 10:54] #18521 closed

[2022-06-25 11:48] zjcnb opened #18587 "Consider refactor `readwrite-splitting` Configuration."
Hi community,

Now,  the `readwrite-splitting` configuration are not user-friendly. The master-slave configuration should be intuitive to the user. Instead of the master-slave configuration to props. So we should be refactor it.

`Static Readwrite-splitting before refactor : `

[code]

`Dynamic Readwrite-splitting before refactor : `

[code]

`Static Readwrite-splitting after refactor : `

[code]

[2022-06-25 12:25] strongduanmu commented on #17402
@iisheng Welcome, I will assign this issue to you.

[2022-06-25 12:26] strongduanmu commented on #18446
@git000 Assigned.

[2022-06-25 14:14] terrymanu opened #18588 "Add test cases for ShardingTableRuleStatementChecker"

[2022-06-25 14:16] terrymanu commented on #18584
Yes, it is a good idea, could you provide the pseudo code or draw a diagram to make your idea more clear?

[2022-06-25 15:19] xuup commented on #18455
Could you please assign this issue to me?

[2022-06-25 15:46] terrymanu opened #18591 "Add test cases of InstanceMetaData"

[2022-06-25 16:31] RaigorJiang commented on #18556
@924438567  Hah, sorry, I lost the link:
https://shardingsphere.apache.org/document/current/en/features/sharding/concept/inline-expression/

[2022-06-25 16:48] #18437 closed

[2022-06-25 16:59] mabaiwan opened #18596 "Optimize sneakyaml export DatabaseConfiguration"
The yaml exported by the database configuration contains `:null` and `?`

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/77398366/175783569-8d83bd85-681a-4329-a2a7-5adb10b30077.png">

Now, the problem is solved by string replacement. We hope that it can be eliminated by snakyaml.

unit testing: `ExportDatabaseConfigurationHandlerTest#assertExecute`

[2022-06-25 17:01] terrymanu commented on #18596
Welcome who familiar for YAML to pick up the issue.

[2022-06-25 19:59] ninjaboy97 commented on #18455
Hey @terrymanu, raised a PR for this. I wasn't sure what needs to be done in case of FeaturedDistSQLStatementParserEngine throwing a SQLParseException since any of the instances from FeaturedDistSQLStatementParserFacadeFactory could be throwing the exception. Let me know what needs to be done here. Can you please also approve the CI workflows?

Also @xuup apologies, I started working on this and m

[2022-06-25 23:45] kvaithin commented on #18591
Hi could I pick this up pls.

[2022-06-26 00:12] kvaithin commented on #18591
Hi, did not reset the counter as suggested. As it comes into play only in one of the tests and not affecting others.
Avoided it as would have had to use meddle with reflection to reset it considering the `ATOMIC_LONG` value is private.

Please do advice if the counter reset is a must. And if so if we are open to making `ATOMIC_LONG` package private in that case to ease the reset. Thanks.

[2022-06-26 02:38] xuup commented on #8934
this issue has been solved in my test case with 5.1.2, thx.

[2022-06-26 03:27] ninjaboy97 commented on #18588
Please assign this to me.

[2022-06-26 06:23] terrymanu opened #18604 "Single table must check duplicate tables"
There is `check-duplicate-table-enabled` in global properties which for single table loading check, I think this is incorrect.

The logic table names can not same in same logic database.schema in ShardingSphere.

It should `THROW EXCEPTION` if the same single table name in same database.schema when ShardingSphere startup.

This is the basic rule in database system with `database.schema.table` shou

[2022-06-26 06:36] strongduanmu commented on #18604
Yes, I agree with you, ShardingSphere should guarantee the uniqueness of the table in same schema.

[2022-06-26 10:03] cucuzi commented on #17421
ShardingSphere version: 5.1.0

[2022-06-26 10:09] sandynz opened #18608 "Is it possible to insert new record into dynamic calculated (created) actual table for autoTables VOLUME_RANGE algorithm"
## Feature Request

### Is your feature request related to a problem?
Yes

### Describe the feature you would like.

ShardingSphere version: master branch or 5.1.2 (the running version is a little changed on local)

I'm running VOLUME_RANGE in autoTables, related Java class is VolumeBasedRangeShardingAlgorithm.
It will add 2 special ranges.
For example, table rule definition:
[code]
The partition

[2022-06-26 10:48] sandynz opened #18609 "[Feature Request] Use unified registry center client for different scenarios in proxy"
Some discussion notes with @terrymanu . It's related to ElasticJob and ShardingSphere Proxy Mode.

Currently, registry center client will be created, all of them use configuration from mode in server.yaml:
- ModeScheduleContext.initRegistryCenter, create  org.apache.shardingsphere.elasticjob.reg.base.CoordinatorRegistryCenter. Which is used by db-discovery rule.
- CoordinatorRegistryCenterInitiali

[2022-06-26 12:04] zihaoAK47 commented on #17736
- [DROP SERVER]

Hello, I want to try the SQL parsing of DROP SERVER, I think I can do it, I have studied for a long time today, can I try.

[2022-06-26 12:22] tristaZero commented on #18461
@lcxywfe Good report, thanks.

[2022-06-26 12:34] sandynz commented on #8934
Thanks. Then it'll be closed.

[2022-06-26 12:34] #8934 closed

[2022-06-26 13:36] #18596 closed

[2022-06-26 13:49] chakkk309 commented on #17736
@zihaoAK47 Of course and welcome!

[2022-06-26 14:32] mabaiwan commented on #16282
Can I try this issue?

[2022-06-26 14:50] RaigorJiang commented on #18556
Hi @924438567
You should provide `Logic SQL` and `Actual SQL` so others can better understand your problem.
Given your unique configuration, it is recommended to provide a demo project that reproduces the problem.

[2022-06-26 15:46] lcxywfe opened #18614 "Load table meta data error, which include type multipolygon"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.3 SNAPSHOT from master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
`CREATE TABLE `t

[2022-06-26 16:36] #18604 closed

[2022-06-26 17:37] Bpazy commented on #15355
May I try this? Seems to be a problem of parsing

[2022-06-27 00:29] strongduanmu commented on #15355
@Bpazy Welcome, I just assign this issue to you.

[2022-06-27 00:30] strongduanmu commented on #16282
@mabaiwan Welcome.

[2022-06-27 00:33] strongduanmu commented on #18614
Hi @lcxywfe, thank you for your feedback. Can you try to fix it?

[2022-06-27 00:52] strongduanmu opened #18620 "ShardingSphere should not support SQL passthrough to data source feature"
Currently, ShardingSphere provides `HintManager` and `SQL Hint` feature, which allow users to transparently transmit SQL directly to a data source. This feature goes against the design principles of ShardingSphere. ShardingSphere should shield data source information for users and directly provide transparent database services.

To keep the design of ShardingSphere clear, we will remove the SQL pa

[2022-06-27 02:13] 726411951 commented on #18055
@RaigorJiang  Hi，I think the repository of the website is [shardingsphere-doc](https://github.com/apache/shardingsphere-doc)  ,so should I commit in this repository and close this issue?

[2022-06-27 02:38] wuguowei19880907 commented on #18561
if i change the encrypt rules ,it work well.

[2022-06-27 02:53] RaigorJiang commented on #18055
@726411951
We just need to update the markdown file in https://github.com/apache/shardingsphere/tree/master/docs and `shardingsphere-doc` will automatically build the new content.

[2022-06-27 02:58] 726411951 commented on #18055
@RaigorJiang  Fine，I will update it soon.

[2022-06-27 02:59] Peterosh commented on #18279
I gave it a try and it didn't work out.I defined 27 rules, but only 21 were created.
![image](https://user-images.githubusercontent.com/18716577/175851823-57b7fda3-9c26-450d-ba68-4713c34d761e.png)

[2022-06-27 03:11] lcxywfe commented on #18614
Sorry @strongduanmu , I'm not a java developer, And you know, domestic coding peasants often do not have time on learning a new language : (

[2022-06-27 03:11] novice-gamer commented on #18564
no problem,thanks.

[2022-06-27 03:15] TeslaCN commented on #17827
This issue is caused by ShardingSphere-Proxy cannot handle `COM_STMT_SEND_LONG_DATA`.

[2022-06-27 03:26] #16282 closed

[2022-06-27 04:09] mabaiwan commented on #18614
@strongduanmu Can I try this issue?

[2022-06-27 04:37] strongduanmu commented on #18614
@mabaiwan Welcome.

[2022-06-27 06:50] jitawangzi opened #18627 "process blob data error"
### Which version of ShardingSphere did you use?
5.1.0  and   5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

It is a  same issue with  #3024
i had the same problem with version 5.1.2,it may not have been resolved。

[2022-06-27 06:53] terrymanu commented on #18620
Great, the user of ShardingSphere should only know logic databases, actual data sources are internal references which should not expose to user API and DistSQL

[2022-06-27 09:24] Bingai077 opened #18631 "hint route cache invalidation"
## Question
hint route：
/* ShardingSphere hint: dataSourceName= test */SELECT COUNT(*) AS total FROM account AS a
The result varies after multiple executions.
Found in the project.

[2022-06-27 09:27] yunfei-yimao opened #18632 "shardingsphere 5.1.1 insert into select select logic table name can't to convert actual table name error ora-00942"
inset into ta_trade_request(...) select ... from tr_collect_trade_request

[2022-06-27 09:33] yunfei-yimao commented on #18632
![微信图片_20220627172644](https://user-images.githubusercontent.com/108256627/175908493-a9b647ca-2d42-4dc7-9da1-a165c7644fe7.jpg)

[2022-06-27 10:15] linghengqian commented on #18632
Why are you presenting the configuration in this way? If you are in a corporate intranet environment, do not send out the map of the intranet to harm people.

[2022-06-27 11:12] zhenglu8 commented on #18631
### Which version of ShardingSphere did you use?

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

[2022-06-27 11:15] sora91s opened #18634 "Hikari connection leaked in transaction"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-27 11:21] terrymanu commented on #18446
The issue does not fix yet, please finish the assertion.

[2022-06-27 11:44] jingshanglu opened #18636 "Delete support for branch transaction on proxy."
Reason for deletion：
1.  `MANUALXA` in TransactionType does not conform to ShardingSphere's design specification
2. `TransactionXAHandler` does not conform to ShardingSphere's design specification.

[2022-06-27 13:02] cheese8 commented on #18584
I am try to improve this.

[2022-06-27 14:51] #18446 closed

[2022-06-28 00:34] terrymanu commented on #18636
Please see my comment in #14130.
I do not agree to add transaction type `MANUALXA` too, I don't think this is a good design enough.

[2022-06-28 00:42] #15355 closed

[2022-06-28 01:37] wt-better commented on #18584
Thanks a lot, expect !

[2022-06-28 01:53] RaigorJiang commented on #18556
values (?, ?, ?, ?, ?, ?, ?)
Actual SQL: ds0 ::: insert into qy_barrage_sss11_2023(cus_no, send_time, barrage, create_time, update_time, create_user, update_user)
values (?, ?, ?, ?, ?, ?, ?) ::: [sss11, 2023-02-02 11:00:00, null, null, null, null, null]

I can't find any problem from the SQL, please provide a demo that reproduces the issue.

[2022-06-28 01:58] natehuangting commented on #18430
I have designed the audit scheme as follows.

The first is configuration, like ShardingShpereAlgorithm, only type and props, so it can also be defined using ShardingShpereAlgorithm.
I thought of two configuration methods, scheme 1 is more brief, scheme 2 is more readable.It should be noted that the algorithm will only be defined and used only once in the Sharding configuration.
scheme 1
[code]

Sc

[2022-06-28 02:11] yx9o commented on #18588
@ninjaboy97 Welcome.

[2022-06-28 02:13] Bingai077 commented on #18631
ShardingSphere-Proxy

[2022-06-28 02:14] Bingai077 commented on #18631
ShardingSphere-Proxy 5.1.0

[2022-06-28 02:32] yunfei-yimao commented on #18632
other  query  ， aggregate function  can support,  but  insert  into logic table  select  logic table   ,error, ora-00942 表不存在，please  help!

[2022-06-28 03:01] natehuangting opened #18643 "Moved SQLCheckResult and SQLCheckException to common package"
## Feature Request
### Describe the feature you would like.
SQLCheckResult and SQLCheckException define in org.apache.shardingsphere.infra.executor.check.
These classes are required for sharding-api auditing, so these classes need to be moved to the org.apache.shardingsphere.infra.check(infra-common) package.

[2022-06-28 03:02] linghengqian commented on #18632
You provided very little information. The information you need to add should at least cover all of what is needed for the question template. A unit test that can reproduce will obviously explain what you are expressing.

[2022-06-28 03:08] zhfeng commented on #18636
I just wonder that what is the `ShardingSphere's design specification` and how `TransactionXAHandler` breaks it?

[2022-06-28 03:13] zhfeng commented on #18636
I think we need more discusstion and feel free to setup a meeting if you like.

[2022-06-28 04:10] xwscut opened #18648 "Insert into..select .. from tbl_2 throw NullPointerException in PgSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-28 04:27] TeslaCN commented on #18627
Hi @jitawangzi
This issue may be duplicated with the following:
- https://github.com/apache/shardingsphere/issues/17827
- https://github.com/apache/shardingsphere/issues/17892

[2022-06-28 04:56] azui007 opened #18651 "How to configure only the sharding database without configuring the sharding table"
## Question
# environment：
Sharding-JDBC  5.1.1
I have two databases(ds1,ds2), ds1 save company A , ds2  save company B。
Both databases have the same tables: **company_info1 - company_info1000**
# sharding-jdbc configuration：
[code]

# Question
I configure sharding database rules for all tables , not need to configuring company_info1 to company_info1000 tables。
I try uesd **default-database-strate

[2022-06-28 05:39] terrymanu commented on #18636
The goal of ShardingSphere's transaction module is in official document[1] for long time .

The MANUALXA does not design for resolve the same problem, It just support XA protocol in the frontend of ShardingSphere which is database protocol side, not storage side.

So I don't think it is a good design enough. It is very confused for mix protocol side and storage side.

LOCAL, XA and BASE are types

[2022-06-28 05:48] zhfeng commented on #18636
I agree that `MANUALXA` is not a good name. But I still think it makes sense that `sharding-proxy` supports the XA statments in case which users want to contronl the transactions by themselves, e.g. involving in an external JTA transaction.

[2022-06-28 06:31] #18380 closed

[2022-06-28 07:13] sandynz commented on #18608
After discussion with @tristaZero and @strongduanmu , we'll take another way later and keep current implementation.

[2022-06-28 07:13] #18608 closed

[2022-06-28 07:50] boot-vue opened #18653 "sharding-jdbc 5.1.2 startup very slow"
`sharding-jdbc` : `5.1.2`

[code]

`tables` : `200+`

same config, with version `5.1.0` , application startup very fast

change to version `5.1.2`  , application start very slow......

[2022-06-28 07:54] shanrenxj commented on #18653
yes, rolling back to 5.1.1 is very fast

[2022-06-28 08:49] Bingai077 commented on #18631
Online environment (Docker environment publishing) application connection proxy will open multiple threads, resulting in inconsistent query data. Please tell me how to solve it

[2022-06-28 08:50] Bingai077 commented on #18631
Online environment (Docker environment publishing) application connection proxy will open multiple threads, resulting in inconsistent query data. Please tell me how to solve it

[2022-06-28 08:55] #8551 closed

[2022-06-28 10:04] terrymanu commented on #18636
it is another task for supporting XA protocol in ShardingSphere.
TransactionType only focus on transactional storage.

[2022-06-28 10:10] shanrenxj commented on #16234
Does shardingsphere-jdbc 5.1.2 also support this feature?

[2022-06-28 10:11] zhfeng commented on #18636
Thanks @terrymanu and it should be great to support XA protocol. There are still some challenges in the recovery scenarioes. I'd like to be involved in this task and do you raise any issue for it?

[2022-06-28 10:18] nagae-memooff opened #18661 "table name suffix duplicated in index name after scaling tables"
I'm using ShardingSphere-Proxy 5.1.1.

When I create a table with index, I found there is a table name suffix appended to the original index name.
It's OK, I know it is not a bug but a feature as HERE said: https://github.com/apache/shardingsphere/issues/17073.

But when I scale my data to new database instances, I found that the same table name suffix was appended again and exceed the 64 bytes in

[2022-06-28 10:33] zhfeng commented on #18636
Yeah, I understand and `XA protocol in SQL layer` was introudced by https://github.com/apache/shardingsphere/pull/14075. But I think we still need to handle `XAStatement` in `sharding-proxy` especially in the case of crash recovery happening in the multi backend databases. I think we don't have any test case for this scenario currently.

Anyway my +1 for improving the implementation of `Transactio

[2022-06-28 10:38] terrymanu commented on #18636
Yes, TransactionXAHandler could keep, and we need more improve on it.

[2022-06-28 11:30] #18432 closed

[2022-06-28 11:39] #18643 closed

[2022-06-28 11:56] zhaojinchao95 opened #18664 "Single table conflict occurred when i add master-slave resource by `DistSQL`"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`Add resource` successful.

### Actual behavior

`ERROR 1104 (C1104): Can not process invalid resources, error messages are: [Single table conflict, there are multiple tables `admin` existed.].`

`ADD MASTER RESOURCE

[2022-06-28 13:40] #18562 closed

[2022-06-28 14:24] terrymanu commented on #18651
Please read the document first

[2022-06-28 14:28] terrymanu commented on #18631
This design break the ShardingSphere concept. User should not acre about the actual data source in DistSQL.
We will remove /* ShardingSphere hint: dataSourceName= XXX */ before 5.1.3 release.

[2022-06-28 14:28] terrymanu commented on #18631
Please see #18620

[2022-06-28 14:28] #18631 closed, assigned to nobody

[2022-06-28 14:31] azui007 commented on #18651
Hi,I read a lot of documents and issues, but I didn't find any relevant guidelines。
I can shard  tables by database, but the configuration is too complicated. Would like the configuration to be simpler

[2022-06-28 14:32] #18449 closed

[2022-06-28 15:24] Green524 commented on #16806
Sorry to reply you so late, I am using version 5.0.0

[2022-06-28 15:43] #18636 closed

[2022-06-28 16:15] terrymanu opened #18671 "Add test case for OptimizerContext.addDatabase()"

[2022-06-28 16:15] terrymanu opened #18672 "Add test case for ShardingSphereMetaData.addDatabase()"

[2022-06-28 16:40] Misakami opened #18673 "select mysql data used shardingsphere + mybatis called Sharding value must implements Comparable error"
When I use select to query the data in the table,  use :
**where user_id = #{userid}** 。。。。。
` <select id="listFailedFlow" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from tb_ration_trigger_trade_flow
        where investor_id = #{investorId,jdbcType=VARCHAR}
    </select>`
![image](https://user-images.githubusercontent.com/22981008/176325939-4a4c7b90-2ba5

[2022-06-29 01:29] boyjoy1127 opened #18675 "Implement AdvancedFederationExecutor.executeQuery() method."
### Resolve potential circle dependencies among federation-optimizer, federation-executor, infra-context.

[2022-06-29 01:33] strongduanmu commented on #14672
@Bpazy Welcome.

[2022-06-29 01:37] #18673 closed

[2022-06-29 02:31] novice-gamer opened #18676 "Other databases will not be displayed after distsql is executed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-06-29 02:40] boot-vue commented on #18653
`mysql 8`

[code]

[2022-06-29 04:02] beitengda commented on #18564
what the oldest version to support "insert into... On duplicate key update...", i don't want to upgrade to the newest version

[2022-06-29 04:32] beitengda commented on #6942
what version solved this question? I hit with this issue in version 5.1.0

[2022-06-29 05:41] jiangML opened #18680 "The OracleParserStatementExample in the example executes an error"
## Bug Report
### Which version of ShardingSphere did you use?
 master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 OracleParserStatementExample in the example
### Expected behavior
run successfully
### Actual behavior
[code]

### Reason analyze (If you can)
Question statement: "SELECT t.id, t.name, t.age FROM table1 AS t ORDER BY t.id DESC;"
Oracle table alias does

[2022-06-29 05:43] strongduanmu commented on #18664
@zjcnb Thank you for your feedback. After discussion, we decided to delete the duplicate verification of the single table, and let the user ensure the uniqueness of single tables.

[2022-06-29 06:14] terrymanu opened #18682 "Add test case for OptimizerContext.addSchema()"

[2022-06-29 06:38] git-chenhao opened #18684 "JDBCBackendConnection：proxy-db connection no rollback when application-proxy connection is closed"
## Bug Report

### Which version of ShardingSphere did you use?
 5.1.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
transaction rollback(proxy-db) when connection ( application-proxy) is closed

### Actual behavior
transaction no rollback(proxy-db) when connection ( application-proxy) is closed

### Reason analyze (If you c

[2022-06-29 06:45] terrymanu opened #18685 "Add test case for OptimizerContext.alterTable()"

[2022-06-29 06:46] terrymanu opened #18686 "Add test case for ContextManager.alterSchema"

[2022-06-29 06:46] TeslaCN commented on #18684
Is it duplicated with https://github.com/apache/shardingsphere/issues/18634？
Step 7 is finished after channel inactive.

[2022-06-29 06:52] zjcnb opened #18687 "[DistSQL] READWRITE_SPLITTING RULES need to show `write_data_source_query_enabled` query results"
Hi community,

We recently refactor `readwrite-splitting` feature `API`, you can refer to #18587, #18629.

Currently showing results when you use `dynamic strategy` :

[code]

It's missing the `write_data_source_query_enabled` parameter.

Task list :

- [ ] Modify `ReadwriteSplittingRuleQueryResultSet.class` to add `write_data_source_query_enabled` parameter.
- [ ] Fix `ReadwriteSplittingRuleQuery

[2022-06-29 07:06] terrymanu opened #18689 "Add test case for OptimizerContext.dropTable()"

[2022-06-29 07:07] git-chenhao commented on #18684
thanks，same question~

[2022-06-29 07:08] #18684 closed

[2022-06-29 07:16] FlyingZC commented on #14015
I will do:
`create_by_mysql_source_test_case328`

`create_by_mysql_source_test_case329`

`create_by_mysql_source_test_case330`

`create_by_mysql_source_test_case331`

`create_by_mysql_source_test_case332`

[2022-06-29 07:22] strongduanmu opened #18690 "NullPointerException occurs when execute use database with no resource"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/28ec505b6a610b64b0c3faeea19fd13d28a771c4

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `use readwrite_splitting_db;` successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Step

[2022-06-29 07:52] beitengda commented on #18564
have you tried? does is works ?

[2022-06-29 08:09] xllove-moon opened #18691 "SHARDINGSPHERE-JDBC 5.1.2 usage about jooq"
## Question
A few days ago, we upgraded to the latest version 5.1.2 of shardingsphere-jdbc.
In version 5.1.1, jooq is not included in Maven dependency, but we found some problems about the compatibility between jooq and springboot (our version is 2.3.12).
After excluding jooq dependency, the service can now run normally in the test environment. our service uses readwrite-splitting and sharing-tabl

[2022-06-29 08:22] chakkk309 commented on #18687
Hi, I want to have a try.

[2022-06-29 08:42] zjcnb opened #18695 "[DistSQL] Need to add `writeDataSourceQueryEnabled` paramter about RDL READWRITE_SPLITTING RULE"
Hi community,

We recently refactor `readwrite-splitting` feature `API`, you can refer to #18587, #18629.

So, we need to modify `RDL` about `READWRITE_SPLITTING RULE`.

Now CREATE or ALTER Dynamic `READWRITE_SPLITTING RULE` DistSQL are :

// Dynamic
[code]

[code]

Hope to adjust to :

// Dynamic
[code]

[code]

- [ ] Adjust `shardingsphere-readwrite-splitting-distsql-handler` RDLStatement.g4 fil

[2022-06-29 08:48] #18690 closed

[2022-06-29 08:53] yx9o commented on #18695
I want to try.

[2022-06-29 08:55] zjcnb commented on #18695
Nice, assigned

[2022-06-29 08:57] #18417 closed

[2022-06-29 09:14] beitengda opened #18696 "Does shardingsphere5.1.0 support "insert into... On duplicate key update..."?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-06-29 09:17] FlyingZC opened #18697 "When multiple back quotation marks are used as a table name, the back quotation marks will be removed all"
## Bug Report

### Which version of ShardingSphere did you use?
`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
`ShardingSphere-JDBC`

### Expected behavior
keep correct quotation marks.

### Actual behavior
When I want to support create table sql with multiple back quotes, like `CREATE TABLE ```ab````cd``` (i INT);`,the table name is resolved to `abcd`.

###

[2022-06-29 09:42] linghengqian commented on #18653
What if you could exclude JOOQ or specify a later version of JOOQ under JDK11+? New perspectives from https://github.com/apache/shardingsphere/issues/18691 .

[2022-06-29 09:43] #18664 closed, assigned to strongduanmu

[2022-06-29 10:09] TeslaCN opened #18700 "Scope of SET statement is not recognized when variable prefixed with `@@` in MySQL Parser"
## Bug Report

### Which version of ShardingSphere did you use?

master - 280415ac7c89e5bc4f9829ef1b96a31e917910c6

### Expected behavior

[code]

`@@GLOBAL`, `@@SESSION`, `@@LOCAL` could be parsed into the `scope` of variable.

Refer to: https://dev.mysql.com/doc/refman/5.7/en/set-variable.html

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/176410421-756a6e33-8e

[2022-06-29 10:15] TeslaCN opened #18701 "Can not find visitor rule: `TerminalNodeImpl` when parsing /*! MySQL-specific code */"
## Bug Report

### Which version of ShardingSphere did you use?

master - 280415ac7c89e5bc4f9829ef1b96a31e917910c6

### Expected behavior

SQL in the block could be parsed into AST.

[code]

Refer to https://dev.mysql.com/doc/refman/5.7/en/comments.html

### Actual behavior

Unsupported.

[code]

![image](https://user-images.githubusercontent.com/20503072/176415842-dc0b2be5-7f58-4f07-a0f2-46412e57

[2022-06-29 10:41] yx9o commented on #18695
@zjcnb Hi, in dynamic syntax, is WRITE_DATA_SOURCE_QUERY_ENABLED required or optional?

[2022-06-29 10:43] zjcnb commented on #18695
It 's optional

[2022-06-29 11:12] natehuangting opened #18704 "SQLCheckEngine method check use SQLStatementContext"
## Feature Request

### Describe the feature you would like.
<img width="1211" alt="企业微信截图_d23d05c7-2eaa-4d34-8c63-bcfff91af321" src="https://user-images.githubusercontent.com/26433395/176422914-ff59fbb7-cb9d-4b14-8026-24c9a04a5756.png">
Replacing SQLStatement with SQLStatementContext can provide more information

[2022-06-29 11:37] #18567 closed

[2022-06-29 12:00] natehuangting opened #18705 "Add hint disableAuditNames"
## Feature Request

### Describe the feature you would like.

The shardingsphere proxy already supports the auditing function, but in some cases the auditing function needs to be turned off. For example, the auditing function is to prohibit queries without sharding keys, but the business needs to perform batch operation. I am going to add the disableAuditNames hint by adding the hint in the SQL Au

[2022-06-29 12:15] natehuangting opened #18706 "Add sharding audit algorithm, disallow DML operations without shard keys"
## Feature Request

### Describe the feature you would like.
I will add the sharding auditing algorithm, which will prohibit DML operations without sharding keys, the class name I want to call EmptyShardingKeyRejectionShardingAudioAlgorithm, the type is EMPTY_SHARDING_KEY_REJECTION.

[2022-06-29 12:19] hongfuli commented on #18528
Anyone help to fix this bug? :)
@tristaZero

[2022-06-29 12:22] natehuangting commented on #18689
@terrymanu  Hi, I want to execute this issue.

[2022-06-29 12:33] GodKerwin opened #18707 "When the first table of the sharding table does not exist,there is no tips"
![图片](https://user-images.githubusercontent.com/32355479/176436280-f8c62c8e-2599-4247-a3ba-cb4f4ba063dc.png)
![图片](https://user-images.githubusercontent.com/32355479/176436464-a032ed1e-713b-4c34-9cff-a2658bbd2e72.png)

[2022-06-29 12:47] sandynz commented on #18696
Hi @beitengda , it should be already supported. Could you help to supply how you reproduce this issue, you could use the issue template to submit.

[2022-06-29 14:24] chakkk309 commented on #18687
OK, I'll sync the progress to finish on time.

[2022-06-29 14:37] boot-vue commented on #18653
yes ,  version is `3.14.16`    ,  I don't  know  why it becomes `3.12.3` ,  didn't  find any conflict  😂😂😂

exclude `3.12.3`  and add `3.14.16`  ,  it still slow

`200+` tables,  application start  cost about `  197.448 seconds`

---

previous  change to version `3.17.1` , I still use `jdk 1.8` and application start cost about  `61.109 seconds`

[2022-06-29 14:41] boot-vue commented on #18653
![image](https://user-images.githubusercontent.com/36025992/176464716-a6217427-3ce4-47dc-96d5-c8a93d3ddc02.png)

[2022-06-29 14:54] linghengqian commented on #18653
- This is logically problematic because the minimum JDK baseline version for JOOQ 3.17.x is `17`, which is in https://blog.jooq.org/3-17-0-release-with-computed-columns-audit-columns-pattern-matching-reactive-transactions-and-kotlin-coroutine-support/ 's blog has been explained.

- ShardingSphere's own SQL dialect translation module I remember was not finished in ShardingSphere `5.1.2`, so the def

[2022-06-29 16:09] cheese8 commented on #18584
Please review the InlineShardingAlgorithm proposal. @terrymanu

[2022-06-29 16:34] #18055 closed

[2022-06-29 16:35] #17472 closed

[2022-06-30 01:18] terrymanu commented on #18680
This bug is not for example, but oracle parser.

[2022-06-30 01:39] strongduanmu commented on #18707
Why does the sharding table not exist?

[2022-06-30 01:40] FlyingZC commented on #18620
I will do this task. @strongduanmu

[2022-06-30 01:42] strongduanmu commented on #18620
Welcome.

[2022-06-30 03:05] #13911 closed

[2022-06-30 03:08] Bingai077 commented on #18620
Will the HintManager feature be removed ??

[2022-06-30 03:48] strongduanmu commented on #18620
@Bingai077 Just removing the SQL transparent transmission feature, because it goes against the design of ShardingSphere.

[2022-06-30 04:38] williamXinCC opened #18721 "mybatis-plus + 5.1.2,KeyGenerateAlgorithm can not be use"
my key generator
@Slf4j
public final class SeeingflowKeyGenerator implements KeyGenerateAlgorithm{

    private Properties properties = new Properties();

    @Override
    public String getType() {
        return "SeeingflowKeyGenerator";
    }

//    @Override
//    public synchronized Comparable<?> generateKey() {
//        GenerationFeginClient generationFeginClient = SpringUtil.getBean(Genera

[2022-06-30 05:38] tain198127 commented on #18689
Why only test for dropTable but not all of methods of OptimizerContext? Should I add some other test ?

[2022-06-30 05:52] strongduanmu commented on #18707
If you delete some sharding tables, then you need to modify the sharding rules at the same time to make them consistent.

[2022-06-30 06:03] terrymanu commented on #18584
It better to design first

[2022-06-30 06:27] GodKerwin commented on #18707
OK, Got it! I suggest outputting some logs when the schema cannot be queried, because it is too hidden.

[2022-06-30 06:44] LeeGuoPing commented on #18583
@terrymanu count instance belong to RAL, the  concrete rules belong to RAL or RQL? I think it belong to RQL

[2022-06-30 07:05] roodkcab commented on #18636
no doubt that XA is stands for distribution transaction.

[2022-06-30 07:18] #18704 closed

[2022-06-30 07:29] roodkcab commented on #14144
didn't get it, do u looking for 06cfe39459a7ebc9552a6e92cd214d347817ddb6 ?

[2022-06-30 07:36] tain198127 commented on #18689
please assign this issue to me, thanks.

[2022-06-30 07:48] zzl14273119 opened #18726 "分片算法问题"
自动分片算法中的基于分片容量的范围分片算法
场景：3个分片，lower=3，upper=8，volume=5
问题：当upper-lower=vloume的值的时候，插入100条数据，为什么前2个分片按照分片数据量volume的值，剩下多出来的数据都会被插入到最后一个分片中，即分片一有3条数据，分片二有5条数据，剩下的全部在分片三中？

[2022-06-30 07:53] strongduanmu commented on #18726
@zzl14273119 Please translate this issue to English.

[2022-06-30 07:57] strongduanmu commented on #18721
@williamXinCC Can you dig into the logic of mybatis plus and investigate the cause of the problem?

[2022-06-30 08:17] #14672 closed

[2022-06-30 09:06] #18726 closed

[2022-06-30 09:07] terrymanu opened #18733 "Add test case for OptimizerContext.dropDatabase"

[2022-06-30 09:13] xiaoqunhu commented on #18139
ignore it，just emphasize the sql

[2022-06-30 09:23] git-chenhao opened #18734 "JDBCBackendConnection：proxy-db connection auto commit when application-proxy connection break"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
transaction rollback(proxy-db) when connection ( application-proxy) break

### Actual behavior
transaction auto commit(proxy-db) when connection ( application-proxy) break，This will result in inconsistent dat

[2022-06-30 09:24] git-chenhao commented on #18734
I can solve this problem. I will send PR later

[2022-06-30 09:26] TeslaCN commented on #18734
Welcome! Assigned.

[2022-06-30 09:28] terrymanu opened #18736 "Add test case for ShardingSphereMetaData.dropDatabase"

[2022-06-30 09:30] zzl14273119 opened #18737 "Partition algorithm problem"
Range partition algorithm based on partition capacity in automatic partition algorithm

Scenario: 3 slices, lower=3, upper=8, volume=5

Question: when 100 pieces of data are inserted, when the upper value minus the lower value equals the vloume value, why are the remaining data in the first two slices inserted into the last slice according to the volume value of the slice data volume, that is, sli

[2022-06-30 09:52] TeslaCN opened #18738 "Handling SET statement in ShardingSphere-Proxy"
## Refactor

### Which version of ShardingSphere did you use?

5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Consider removing BroadcastDatabaseBackendHandler

If we execute SQL (SET statement) like the following, `BroadcastDatabaseBackendHandler` will execute SQL in all data sources of all logic databases (schemas).
[code]

Why shoul

[2022-06-30 10:49] Xuchengen commented on #12532
Hi zjcnb
I also found the same problem, please see the example [](https://github.com/Xuchengen/read-write-split)

[2022-06-30 11:25] zjcnb commented on #12532
The problem are fixed in master branch. Refer to : #18224 . Please waitting for 5.1.3 release.

[2022-06-30 11:38] yunmengmeng opened #18739 "哪里能看版本的更新日志呀"
英文不好，就不写英文了
现在最新都5.1.2版本了，官网上也没有说明当前是哪个版本的文档，主要是我看官网上写不支持savePoint，可是5.1.1开始就已经支持了，如果能说明版本，以及有一个版本更新日志文档岂不是更好

[2022-06-30 11:39] #18739 closed

[2022-06-30 14:04] terrymanu opened #18744 "Add test case for ShardingSphereDatabase.reloadRules()"

[2022-06-30 14:56] terrymanu opened #18745 "Add test case for InstanceIdGeneratorFactory"

[2022-06-30 14:57] TeslaCN commented on #18528
This issue is caused by the result of selecting a function is hardcoded.

https://github.com/apache/shardingsphere/blob/a3a0d3db8d419dd45cc1e0c33c64d7f81edc0655/shardingsphere-proxy/shardingsphere-proxy-backend/src/main/java/org/apache/shardingsphere/proxy/backend/text/admin/mysql/executor/ShowVersionExecutor.java#L38-L53

[2022-06-30 15:02] RaigorJiang opened #18746 "Refactor `ImportDatabaseConfigurationHandler` to only allow imports when database is empty"
Hi community,

We have a pair of statements in DistSQL for export and import configuration, they are:
- EXPORT DATABASE CONFIGURATION
- IMPORT DATABASE CONFIGURATION

https://github.com/apache/shardingsphere/pull/16162

Among them, there may be some problems in the processing of `IMPORT`:
1. When the data sources already exist in the metadata, the current practice is to merge the imported ones, bu

[2022-06-30 15:15] Bpazy commented on #18736
I wanna try.

[2022-06-30 15:36] RaigorJiang commented on #18583
I think RQL is better.

[2022-06-30 15:44] menghaoranss opened #18747 "The original data source may not be closed after alter resource"
ContextManager.alterResource :

<img width="1368" alt="image" src="https://user-images.githubusercontent.com/60651792/176719267-d4de3ff8-a153-4dfa-89c6-b4e3bacd8aaf.png">

<img width="1710" alt="image" src="https://user-images.githubusercontent.com/60651792/176719570-72a3687b-65d6-4363-b1a6-e9466f10159d.png">

[2022-06-30 16:03] cheese8 commented on #11475
Could you provide a simplified demo, i would try it later. @wuguowei19880907

[2022-07-01 01:14] DoccYi commented on #16234
It seems that the code is not merged into 5.1.2
[https://github.com/apache/shardingsphere/blob/5.1.1/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/ShardingSphereMetaData.java](url)
[https://github.com/apache/shardingsphere/blob/5.1.2/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/Shar

[2022-07-01 01:55] RaigorJiang commented on #18556
@bug-marker  So would you like to provide a demo for investigation?

[2022-07-01 02:20] #18695 closed

[2022-07-01 02:23] #18687 closed

[2022-07-01 02:32] yx9o commented on #18746
Let me try.

[2022-07-01 02:33] TeslaCN commented on #18734
Close via #18750.

[2022-07-01 02:33] #18734 closed

[2022-07-01 02:39] RaigorJiang commented on #18746
@yx9o Thank you!

[2022-07-01 02:43] FlyingZC commented on #18207
I will do this.

# formatted sql
## count
Logic SQL:

[code]

Actual SQL:

[code]
shardingsphere generated "UNION ALL" rather then add up the results

## group by
Logic SQL:

[code]

Actual SQL:

[code]
shardingsphere generated sql without "goup by".

[2022-07-01 03:20] TeslaCN opened #18753 "Using exclusive thread to execute CommandExecuteTask if Proxy met MySQL no-server-response commands"
## Refactor

Related to:
- https://github.com/apache/shardingsphere/issues/16294
- #18652

### Problem

MySQL Proxy may use shared thread pool `Executors.newCachedThreadPool` to execute CommandExecuteTask. If Proxy met commands like `COM_STMT_CLOSE` or `COM_STMT_SEND_LONG_DATA`, there may be concurrent problem.

### Solution

Execute `CommandExecuteTask` by exclusive thread if Proxy met no-server-

[2022-07-01 03:29] #18705 closed

[2022-07-01 03:44] hongfuli commented on #18528
Can this bug be fixed in 5.1.3?

[2022-07-01 03:44] TeslaCN commented on #18528
@hongfuli Are you interested in fixing this?

[2022-07-01 03:47] hongfuli commented on #18528
I am familiar with the code before 5.0. Now because my company project is very busy, I haven't read the latest code for a long time, sorry

[2022-07-01 05:00] natehuangting opened #18755 "In one config, can config two - !SHARDING bug"
## Bug Report

### Which version of ShardingSphere did you use?

ShardingSphere-Proxy?

I add two '! Sharding', proxy can start. I think this situation should not allow startup.
<img width="729" alt="企业微信截图_19b36e3f-39c9-4ecf-9313-a8dc9b5170a7" src="https://user-images.githubusercontent.com/26433395/176826767-57dee3ae-97db-43a4-9a2e-2aece515a49f.png">

![image](https://user-images.githubuserconten

[2022-07-01 05:43] flyduckforever opened #18758 "5.1.2的sharding-proxy启动报错了"
报错为：Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.pojo.YamlRuleConfiguration
        at org.apache.shardingsphere.infra.yaml.config.swapper.YamlRuleConfigurationSwapperEngine$$Lambda$16/557023567.apply(Unknown Source)
        at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193)

[2022-07-01 05:45] terrymanu commented on #18758
**For English only**, other languages will not accept.

[2022-07-01 05:45] #18758 closed

[2022-07-01 05:50] flyduckforever opened #18759 "sharing-proxy start error： java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.pojo.YamlRuleConfiguration"
### sharind-proxy start error message:

`Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.pojo.YamlRuleConfiguration
        at org.apache.shardingsphere.infra.yaml.config.swapper.YamlRuleConfigurationSwapperEngine$$Lambda$16/557023567.apply(Unknown Source)
        at java.util.stream.ReferencePipeline$3$1.accep

[2022-07-01 06:06] terrymanu commented on #18759
What is your version?

[2022-07-01 06:43] FlyingZC commented on #18207
I can't reproduce the two errors, the two sql can be executed correctly in my test case.

## count
[INFO ] 2022-07-01 13:40:54.879 [Connection-1-ThreadExecutor] ShardingSphere-SQL - Logic SQL: select count(order_id) from t_order
[INFO ] 2022-07-01 13:40:54.879 [Connection-1-ThreadExecutor] ShardingSphere-SQL - SQLStatement: MySQLSelectStatement(table=Optional.empty, limit=Optional.empty, lock=Opti

[2022-07-01 07:07] 15806659098 opened #18763 "when i execute select statement, it cause an error: This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'"
## Question
I have a problem when i execute select statement. I use ShardingSphere-Proxy, version is 5.1.2 and Mysql JDBC Driver is 8.0.28. The error is as follows. It similar to another  problem #17888 . I think it may be caused by PrepareStatement.
` Error querying database.  Cause: java.sql.SQLSyntaxErrorException: This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an

[2022-07-01 07:19] zjcnb opened #18764 "Not route primary data source when only use db-discovery feature"
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Route primary data source

### Actual behavior

Not route primary data source

`server.yaml`

[code]

`config-database-discovery.yaml`

[code]

<img width="1881" alt="image" src="https://user-images.githubusercontent.com

[2022-07-01 07:32] strongduanmu commented on #18763
@15806659098 Thank you for your feedback. What is your sharding configuration?

[2022-07-01 07:33] #18753 closed

[2022-07-01 08:00] 15806659098 commented on #18763
Only read-write separation is configured.
The server.xml as follows:
[code]
The config-readwrite-splitting.yaml as follows.
[code]

[2022-07-01 08:40] terrymanu commented on #18745
This class has been refactored, I just close this issue.

[2022-07-01 08:40] #18745 closed

[2022-07-01 08:55] #17827 closed

[2022-07-01 09:43] TeslaCN commented on #18554
The API of binding addresses could be:

[code]

[code]

[2022-07-01 09:55] xiaojiaoshou opened #18769 "shardingsphere 5.11 sharding-jdbc- orchestration Maven JAR package dependencies"
I want to upgrade version, use Sharing-JDBC version 5.11, use ZooKeeper as configuration center and service Orchestration integration. The JAR package dependencies that need to be integrated are not found in the documentation for version 5.11 or in the demo. Where are the instructions?

[2022-07-01 10:15] zhenglu8 commented on #18755
To reproduce this issue, could you please provide:

### Which version of ShardingSphere did you use?

[2022-07-01 10:18] wsm12138 opened #18770 "NPE：ERROR 2013 (HY000): Lost connection to MySQL server during query"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-01 10:20] wsm12138 commented on #18770
@strongduanmu  @RaigorJiang  @azexcy
plz have a look
I use Incorrect configuration triggered the problem.

[code]

[2022-07-01 10:25] RaigorJiang commented on #18770
@wsm12138 Thanks for your report.

[2022-07-01 10:25] newchendb commented on #17401
@terrymanu @jingshanglu The version is changed to 5.1.2, and the problem still exists

[2022-07-01 10:26] newchendb commented on #17401
`
2022-07-01 18:23:24.785  INFO 26512 --- [nio-8200-exec-3] ShardingSphere-SQL                       : Logic SQL: SELECT * FROM product_info LIMIT 1
2022-07-01 18:23:24.785  INFO 26512 --- [nio-8200-exec-3] ShardingSphere-SQL                       : SQLStatement: MySQLSelectStatement(table=Optional.empty, limit=Optional[org.apache.shardingsphere.sql.parser.sql.common.segment.dml.pagination.limit.L

[2022-07-01 10:37] #14015 closed

[2022-07-01 10:38] strongduanmu commented on #18770
@wsm12138 Thank you for your feedback, I will fix this bug.

[2022-07-01 10:38] newchendb commented on #18653
I have the same problem. It starts slowly after upgrading from 5.1.1 to 5.1.2

[2022-07-01 10:39] terrymanu opened #18772 "Complete assertions for ComputeNodeStatusServiceTest.assertLoadAllComputeNodeInstances()"

[2022-07-01 10:57] wsm12138 commented on #18770
@RaigorJiang @strongduanmu
sure thing~

[2022-07-01 11:02] terrymanu commented on #18769
Document is here: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/yaml-config/mode/

[2022-07-01 11:07] terrymanu commented on #18736
The code you show is `ContextManagerTest`, not `ShardingSphereMetaData`

[2022-07-01 11:15] #18706 closed

[2022-07-01 11:16] terrymanu commented on #18721
Can you submit the project codes to GitHub? Handle private problem by email is not the open source way.

[2022-07-01 11:18] terrymanu commented on #18697
It looks like not very important issue, I just set it as `good amateur issue`, please free to collect this issue if anybody interest it.

[2022-07-01 11:20] #18689 closed

[2022-07-01 14:32] terrymanu commented on #18691
If using yaml, please config like this way to switch off jooq translator

[code]

[2022-07-01 14:35] terrymanu commented on #18653
It looks like JooQ problem. I'd like to resolve this problem.
I just remove JooQ from default translator.

[2022-07-01 15:43] terrymanu commented on #18653
I just update the doc to config SQL translator:

https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/java-api/rules/sql-translator/
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-translator/

[2022-07-01 15:43] terrymanu commented on #18691
I just update the doc to config SQL translator:

https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/java-api/rules/sql-translator/
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/yaml-config/rules/sql-translator/

[2022-07-02 03:47] #18736 closed

[2022-07-02 04:18] natehuangting commented on #18755
@zhenglu8 ShardingSphere Proxy 5.1.3

[2022-07-02 05:00] #18700 closed

[2022-07-02 05:02] #18680 closed

[2022-07-02 05:57] flyduckforever opened #18783 "Why did the order details appear in the full table scan when joining"
## Which version of ShardingSphere did you use?
5.1.2
## Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
## Expected behavior
I segment orders and order details according to the quarter
Logic SQL:
`SELECT count(0) FROM dp_trade_payment_order dp LEFT JOIN dp_trade_payment_record r ON dp.platform_order_no = r.platform_order_no AND dp.platform_order_no = 'D

[2022-07-02 08:40] terrymanu opened #18786 "Add test case for InstanceMetaDataBuilderFactory"

[2022-07-02 08:40] flyduckforever commented on #18759
finish

[2022-07-02 08:41] flyduckforever commented on #18759
finish

[2022-07-02 08:42] #18759 closed

[2022-07-02 08:42] flyduckforever commented on #18759
finish

[2022-07-02 08:58] terrymanu commented on #18759
What is hump mode, did you mean camel case?

[2022-07-02 10:23] xiaojiaoshou commented on #18769
Another question.does shardingsphere 5.0 and later versions support shardingshardingsphere UI? I don't see a version supported by shardingshardingsphere UI after shardingsphere 5.0 and 5.0?or shardingsphere-ui(5.0.0-alpha)  support ?

[2022-07-02 13:23] jason-lindholm opened #18790 "sharding-jdbc-spring-boot-starter 4.1.1 is latest in Maven Central"
https://mvnrepository.com/artifact/org.apache.shardingsphere/sharding-jdbc-spring-boot-starter

Curious if this is an oversight?

I'd like to try the latest spring-boot-starter from maven central if possible.

[2022-07-02 13:41] cheese8 commented on #18584
![image](https://user-images.githubusercontent.com/25882819/177003372-1711f468-a6df-40a0-accb-4dca116e9296.png)

[2022-07-02 13:45] wt-better commented on #18584
please attent sharding values, not only sharding strategy.

---- Replied Message ----
| From | ***@***.***> |
| Date | 07/02/2022 21:41 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [apache/shardingsphere] SQL route can optimize (Issue #18584) |

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Mess

[2022-07-02 15:10] terrymanu commented on #18790
The name of sharding-jdbc is changed to shardingsphere-jdbc.
Please find here[1] for version 5.x

[1] https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-jdbc-core-spring-boot-starter/5.1.2

[2022-07-02 15:35] zjcnb opened #18791 "IndexOutOfBoundsException occurred when Proxy start up"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

` ShardingSphere-Proxy`

[code]

`server.yaml : `

[code]

[2022-07-02 15:40] cheese8 commented on #18584
Can you describe your scene in detail to show us why database and table sharding rule are the same, for example all order_id%2.
@wt-better

[2022-07-02 15:44] zjcnb opened #18792 "javax.net.ssl.SSLException occurred when add resource by `DistSQL`"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

1.
`CREATE DATABASE sharding_db;`
2.
[code]

`server.yaml : `

[code]

[2022-07-02 15:46] wt-better commented on #18584
database and table rule in same is very common on my company.

---- Replied Message ----
***@***.***>Date07/02/2022 ***@***.******@***.******@***.***>SubjectRe: [apache/shardingsphere] SQL route can optimize (Issue #18584)
Can you describe your scene in detail to show us why database and table sharding rule are the same, for example all order_id%2.
@wt-better
—
Reply to this email directly, view i

[2022-07-02 16:22] terrymanu opened #18794 "Missing document of ShardingSphere JDBC only can load single logic database"
The reason of ShardingSphere JDBC only can load single logic database is do not want load all customized algorithm which maybe in different servers with different business unit.

We need to add description here[1].

[1] https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/

[2022-07-02 17:32] LeeGuoPing commented on #18791
@zjcnb done.

[2022-07-02 23:57] #18791 closed

[2022-07-03 00:35] flyduckforever commented on #18759
There is a problem with the previous bindtables configuration
Correct configuration：

config-sharding.yml

[code]

[2022-07-03 01:16] zjcnb opened #18798 "`CREATE DATABASE XX` not persist governance center when use cluster mode"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

`CREATE DATABASE XX` Persist governance center

### Actual behavior

Not persist

<img width="569" alt="image" src="https://user-images.githubusercontent.com/33742097/177020662-f0043cdc-72c3-44ba-85f7-213ccfd237ec.pn

[2022-07-03 03:22] #18798 closed

[2022-07-03 06:09] cheese8 commented on #18584
Can you describe in detail the scene in your company how to shard the database and table? We need to estimate whether these scenarios are general or customized requirements.

[2022-07-03 09:16] RaigorJiang commented on #18279
@Peterosh
Thanks for the feedback, after investigation, I thnink this is a concurrency issue.

[2022-07-03 09:18] RaigorJiang commented on #15985
Closed because no response.

[2022-07-03 09:18] #15985 closed

[2022-07-03 09:21] RaigorJiang commented on #15734
Closed because no response.

[2022-07-03 09:21] #15734 closed

[2022-07-03 09:27] RaigorJiang commented on #16008
I will close this issue as it doesn't match the design of ShardingSphere.
In a sharding scenario, if users need to route to a specific data source or table, they should use the sharding key to control it, not through another strategy (like hint).

[2022-07-03 09:27] #16008 closed

[2022-07-03 10:27] jason-lindholm commented on #18790
thank you!

[2022-07-03 10:27] #18790 closed

[2022-07-03 13:10] RaigorJiang opened #18811 "Improve parameter type specification of DistSQL"
Hi community,

Since the release of version 5.0.0, DistSQL has provided users with powerful management capabilities.
However, DistSQL lacks something compared to standard SQL statements: data type specifications.

What does that mean?

Let's look at this DistSQL:
[code]
- `127.0.0.1` should be a string, why don't we need quotes?
- `root` for USER and PASSWORD are both strings, so why don't quotes

[2022-07-03 13:48] cheese8 commented on #14622
I strongly recommended that do not write logic in sql,  writing the logic using java code.

[2022-07-03 13:48] #14622 closed

[2022-07-03 16:24] tain198127 commented on #15707
assign me

[2022-07-04 02:05] #18769 closed

[2022-07-04 05:51] #18691 closed

[2022-07-04 06:03] jingshanglu commented on #17401
Ok, i'll check it.

[2022-07-04 06:16] yunfei-yimao commented on #18632
![微信图片_20220704141557](https://user-images.githubusercontent.com/108256627/177092895-a2f865a4-1965-4ed0-bae3-cf3290146c96.png)
![微信图片_20220704141615](https://user-images.githubusercontent.com/108256627/177092901-01f63c24-61bd-442c-9fc3-d9828aadcf71.png)

[2022-07-04 06:16] csonezp commented on #18697
I'd like to try that, please assign it to me

[2022-07-04 06:18] terrymanu opened #18822 "Add test case for create single database in ShardingSphereDatabasesFactory"

[2022-07-04 06:19] terrymanu opened #18823 "Add more test cases for DatabaseTypeEngine.getProtocolType"
To make sure the test coverage is 100%

[2022-07-04 06:28] yangsen00 commented on #16289
hello,could this close?

[2022-07-04 06:29] yangsen00 commented on #16091
hello,could this close?

[2022-07-04 06:29] yangsen00 commented on #15714
hello,could this close?

[2022-07-04 06:33] csonezp commented on #18451
I'd like to try that.
@LGAKing Can you provide a specific list of sql and keywords?

[2022-07-04 06:45] wsm12138 opened #18825 "ShardingSphere-Proxy cluster mode,can't create some namespace ?"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-04 06:45] wsm12138 commented on #18825
@zjcnb  plz review

[2022-07-04 07:19] RaigorJiang commented on #15714
Fixed by #16368.

@yangsen00 Thank you!

[2022-07-04 07:19] #15714 closed

[2022-07-04 07:35] csonezp commented on #18554
I'd like to try that.

[2022-07-04 07:37] TeslaCN commented on #18554
@csonezp Welcome!

[2022-07-04 07:50] TeslaCN commented on #15358
Close via #18545, #18568.

[2022-07-04 07:50] #15358 closed

[2022-07-04 10:09] jingshanglu opened #18828 "Distributed locks are occasionally unavailable"
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior

get distributed locks successful

### Actual behavior
get distributed lock occasionally failed.

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, w

[2022-07-04 10:10] jingshanglu commented on #18828
@soulasuna PTAL

[2022-07-04 11:08] wsm12138 opened #18829 "When use Scaling & HA ，java.lang.NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-04 11:16] wsm12138 commented on #18829
# when storage_nodes is MySQL.MGR, there have a new error "io.netty.handler.codec.DecoderException: java.lang.UnsupportedOperationException: Do not parse binlog event fully, eventHeader"
# error log
[code]

# Steps to reproduce the behavior
#### server.yaml
[code]
#### config-sharding.yaml
[code]
#### proxy excute sql
[code]

[2022-07-04 11:18] wsm12138 commented on #18829
@zjcnb  @menghaoranss  @sandynz  @azexcy
plz have a look

[2022-07-04 11:27] jingshanglu opened #18830 "Support list xa_recovery_note"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2022-07-04 12:07] zjcnb opened #18832 "PSQLException occurred when run IT"
[code]

[2022-07-04 12:17] csonezp commented on #18554
@TeslaCN Hi，the options [-h addresses] is already used for print_usage, should it be replaced by "-addr" ?

[2022-07-04 12:19] csonezp commented on #18554
or "-host" ?

[2022-07-04 12:24] TeslaCN commented on #18554
How about naming it -a?

[2022-07-04 12:25] linghengqian commented on #18632
The information you provide is not enough to be understood, because you are not showing log and more information, nor are you providing a replicable demo. Use h2database to provide examples that make people more understand what your issue wants to express.

[2022-07-04 12:29] csonezp commented on #18554
ok, that's a good solution

[2022-07-04 12:42] #18832 closed

[2022-07-04 12:43] strongduanmu commented on #17466
Format sql:

[code]

[2022-07-04 12:45] meua opened #18835 "Error creating bean with name 'dslContext' defined in class path resource [org/springframework/boot/autoconfigure/jooq/JooqAutoConfiguration$DslContextConfiguration.class]"
## Question
The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:64)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.j

[2022-07-04 12:58] misselvexu commented on #18786
i will finish it .

[2022-07-04 12:58] misselvexu commented on #18822
i will finish it .

[2022-07-04 13:02] misselvexu commented on #18772
i will finish it .

[2022-07-04 14:20] yunmengmeng opened #18837 "LAST_INSERT_ID() is wrong"
I set two databases.The second is sharding database.
When i use ` INSERT INTO   .... SELECT LAST_INSERT_ID() AS ...` to the first dabase,the tables's primary key type is auto-incrment,it saves in the first database,but when querying insert id,it's return value is wrong.Just retuns 0.

### Which version of ShardingSphere did you use?
5.1.2
### Which project did you use? ShardingSphere-JDBC or Shard

[2022-07-04 14:23] yunmengmeng commented on #18837
目前可以使用`useGeneratedKeys="true" keyProperty="xxx"`来替代

[2022-07-04 14:25] yunmengmeng commented on #18837
now i use `useGeneratedKeys="true" keyProperty="xxx"` to replace `SELECT LAST_INSERT_ID() `

[2022-07-05 00:51] strongduanmu commented on #18837
Hi @yunmengmeng, thank you for your feedback. If you are using sharding feature, then I recommend using distributed id instead of mysql incrementing id.

[2022-07-05 01:08] LGHome commented on #18090
configuration:

spring:
  shardingsphere:
    datasource:
      #数据源名称
      names: filedb,platformdb
      #数据源信息
      filedb:
        type: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        jdbc-url: ${SPRING_DATASOURCE_URL:jdbc:mysql://xxx.xxx.xxx:3306/xxx_db?useUnicode=true&characterEncoding=utf-8&useSSL=false}
        username: ${SPRING_DATASOURCE_U

[2022-07-05 01:21] #17466 closed

[2022-07-05 01:42] #18090 closed

[2022-07-05 01:45] LGHome commented on #18090
solutions
1. 5.0.0 version not auto dependency federation jar
2. open federation config

[2022-07-05 02:47] huangdx0726 commented on #18823
I will try

[2022-07-05 02:53] terrymanu commented on #18823
@huangdx0726 Welcome onboard!

[2022-07-05 02:53] huangdx0726 commented on #18823
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-07-05 02:54] terrymanu opened #18843 "Add test cases for ResourceSwitchManager"

[2022-07-05 02:55] terrymanu opened #18844 "Add test case for SwitchingResource"

[2022-07-05 02:59] #18770 closed

[2022-07-05 03:17] wsm12138 opened #18847 "When use ShardingSphere-Proxy & MySQL MGR ，occurrence does not meet expectations"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-05 03:33] sandynz commented on #18829
Reopened, only part of it is improved.

[2022-07-05 03:35] terrymanu commented on #18430
How about change auditAlgorithms to auditors?
It is better to keep consist with keyGenerators' name style.

[2022-07-05 03:38] #15707 closed

[2022-07-05 03:43] #18672 closed

[2022-07-05 03:56] linghengqian commented on #18653
@terrymanu After I checked locally, I noticed that `spring.shardingsphere.rules` of ShardingSphere 5.1.2 does not have a similar module. Is this a specific configuration of the master branch? Also refer to https://shardingsphere.apache.org/document/5.1.2/en/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/ .

[2022-07-05 04:06] terrymanu commented on #18591
Hi, the class is renamed to InstanceMetaData which is an interface, and the test cases are completed. So I just close the issue.

[2022-07-05 04:15] menghaoranss opened #18852 "Exception occurred when execute set name "utf8" in ShardingSphere-Proxy with MySQL client"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-05 04:25] terrymanu commented on #18835
What is your version?

[2022-07-05 04:37] JiekerTime commented on #18852
I will do that!

[2022-07-05 04:38] #18825 closed

[2022-07-05 04:42] huangdx0726 commented on #18744
I will try

[2022-07-05 04:45] #18591 closed

[2022-07-05 04:47] terrymanu commented on #18455
Hi @ninjaboy97 the screenshot from MySQL cli to report error is necessary.
I don't make sure the result when exception thrown.

[2022-07-05 04:49] terrymanu commented on #12206
@mabaiwan  Hi, any update?

[2022-07-05 04:51] terrymanu commented on #15693
@selectbook Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:52] terrymanu commented on #15700
@varsha089 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:53] terrymanu commented on #15702
@varsha089 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:55] terrymanu commented on #15712
@Swastyy Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:55] terrymanu commented on #15713
@ankitadam Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:56] terrymanu commented on #15715
@neoneww Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:56] terrymanu commented on #15717
@aaryan078 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:57] terrymanu commented on #15721
@aniketh-varma Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:58] terrymanu commented on #15810
@Amulya-coder Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:59] terrymanu commented on #15816
@manisha-27 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 04:59] terrymanu commented on #15817
@manisha-27 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:00] terrymanu commented on #15818
@manisha-27 @Ash-KODES Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:00] terrymanu commented on #15819
@manisha-27 @abhijeetjejurkar Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:01] terrymanu commented on #15821
@Pdahiya5033 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:01] terrymanu commented on #15823
@vasantisuthar Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:02] terrymanu commented on #15824
@seraph14 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:03] terrymanu commented on #15825
@alceil Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:03] Pdahiya5033 commented on #15821
I am sorry for that .
Yeah you can state this issue as open

On Tue, 5 Jul 2022, 10:31 am Liang Zhang, ***@***.***> wrote:

[2022-07-05 05:04] terrymanu commented on #16005
@Jacob953 @nikhilmaurya26 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:04] terrymanu commented on #16091
@yangsen00 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:05] terrymanu commented on #16093
@BashCache Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:05] terrymanu commented on #16098
@SarveshLimaye Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:06] terrymanu commented on #16101
@Naresh-chandanbatve Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:06] terrymanu commented on #16103
@deathmukh Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:06] terrymanu commented on #16284
@akhil9281 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:08] #16289 closed

[2022-07-05 05:09] mabaiwan commented on #12206
@terrymanu Sorry, I forgot, update later.

[2022-07-05 05:09] terrymanu commented on #16290
@itsAfnanAlam Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:09] terrymanu commented on #16293
@jenil2401 Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:10] terrymanu commented on #16617
@Devamparikh Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:11] terrymanu commented on #17519
@lushaorong Hi, there are no progress for long time, I just cancel assign to you and make the issue open to pick up.

[2022-07-05 05:44] yangsen00 commented on #16091
I have created a PR，and code have merged into master，maybe it should closed

[2022-07-05 05:49] #17892 closed

[2022-07-05 06:05] TeslaCN commented on #18835
Please consider increase `-Xss`.

[2022-07-05 07:11] csonezp commented on #18844
i will do it

[2022-07-05 07:12] JiekerTime opened #18860 "The set names statement does not take effect."
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy + MySQL

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/177270100-6234a093-0160-447d-be1d-695b215806e8.png)

refer to: https://dev.mysql.com/doc/refman/8.0/en/set-names.html

### Actual behavior
![image](https:/

[2022-07-05 07:15] natehuangting commented on #18430
I will refactor config auditAlgorithms to auditors，auditAlgorithmNames to auditorNames.

[2022-07-05 07:26] strongduanmu opened #18862 "Consider supporting request-level database protocol and database metadata mock"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

At present, the master branch of ShardingSphere can only support a specific database protocol after startup, such as MySQL protocol or PostgreSQL protocol, and then mock different database metadata according to the database protocol type.

This usage is not flexible enough, and use

[2022-07-05 07:29] strongduanmu opened #18863 "Consider supporting request-level database protocol and database metadata mock"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

At present, the master branch of ShardingSphere can only support a specific database protocol after startup, such as MySQL protocol or PostgreSQL protocol, and then mock different database metadata according to the database protocol type.

This usage is not flexible enough, and use

[2022-07-05 07:36] a207005 opened #18864 "in my project need to select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_SCHEMA='dbName' and TABLE_NAME='tableName'"
ShardingSphere  version5.1.2 ShardingSphere-JDBC
how to config that i can use the INFORMATION_SCHEMA system database

[2022-07-05 07:48] strongduanmu commented on #18844
@csonezp Welcome.

[2022-07-05 08:11] strongduanmu commented on #18739
You can refer release notes——https://github.com/apache/shardingsphere/releases.

[2022-07-05 09:00] JasonXu999 opened #18868 "mybatis+sharding 表字段映射错误"
采用mybaitis+sharding-jdbc。程序运行后，修改某个表字段顺序，最终导致mybatis ORM映射出错！
比如程序运行后：
1、执行 select * from user。这个时候映射是正常的。
2、修改user表的某个字段的顺序。
3、再次执行：select * from user。这个时候字段映射关系会出错。
原因为：ShardingSphereResultSet中，运行到hasSelectExpandProjections()，使用了缓存的ProjectionsContext来构造字段映射关系。
    private Map<String, Integer> createColumnLabelAndIndexMap(final ResultSetMetaData resultSetMetaData) throws SQLException {
        if

[2022-07-05 09:05] JasonXu999 commented on #18868
mybatis mapper ORM类型为 resultType。

[2022-07-05 09:15] #18868 closed, assigned to nobody

[2022-07-05 09:18] RaigorJiang commented on #18862
Good idea.

[2022-07-05 09:49] zjcnb commented on #16091
Yeah, it 's finished, i close it

[2022-07-05 09:49] #16091 closed

[2022-07-05 10:03] JasonXu999 commented on #18868
真TMD幽默，老子一个Chinese好心给一个Chinese写的开源项目提BUG，还必须要求LZ得用英格丽四~~~

[2022-07-05 11:23] wsm12138 opened #18870 "When Proxy run scaling job,master of MGR shutdown.exception occur."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-05 11:24] wsm12138 commented on #18870
Proxy log
[code]

[2022-07-05 11:44] #18870 closed

[2022-07-05 12:56] #18844 closed

[2022-07-05 14:35] terrymanu commented on #18862
This feature is really good idea for database gateway

[2022-07-05 15:42] RaigorJiang commented on #18737
Hi @zzl14273119
Your description is a bit abstract, can you use the issue template to provide detailed information?

[2022-07-05 16:40] terrymanu opened #18877 "Add test case for OptimizerContext.alterDatabase"

[2022-07-05 18:06] tain198127 commented on #17396
Hi @PaleWhiteDot
could you show some yaml config , DDL sql and prototype code for reproduce this issue?

[2022-07-06 00:42] #18830 closed

[2022-07-06 01:48] strongduanmu opened #18879 "Cannot find sharding audit algorithm occurs when startup Proxy in cluster mode"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/13ede38e3a4c14f5b1138613e4a75f0d49dde611

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Startup Proxy successfully.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behav

[2022-07-06 02:32] #18879 closed

[2022-07-06 02:33] #10321 closed

[2022-07-06 03:05] quicksandznzn commented on #18685
i will finish it

[2022-07-06 03:28] huangdx0726 commented on #18877
I will try

[2022-07-06 03:29] huangdx0726 commented on #18843
I will try

[2022-07-06 05:34] quicksandznzn commented on #18733
i will finish it

[2022-07-06 05:55] terrymanu commented on #18733
Cool!

[2022-07-06 05:56] terrymanu commented on #18843
Welcome onboard!

[2022-07-06 05:56] terrymanu commented on #18877
Great, I just assign to you

[2022-07-06 05:57] terrymanu commented on #18685
Good job, I will review soon

[2022-07-06 05:59] terrymanu commented on #18653
@zoujianchao Hi, could you have a look for spring boot starter?

[2022-07-06 06:02] terrymanu commented on #18653
If new issue, is it better to create a new one?

[2022-07-06 06:03] #12206 closed

[2022-07-06 06:07] #18744 closed

[2022-07-06 06:47] linghengqian opened #18889 "Spring Boot Starter needs to add documentation and auto-suggestions for the SQL TRANSLATOR module"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes, refer to https://gi

[2022-07-06 06:48] linghengqian commented on #18653
A new SpringBoot Starter related issue is located at https://github.com/apache/shardingsphere/issues/18889 .

[2022-07-06 07:18] poo0054 opened #18891 "大佬们，能不能把文档更新一下"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2022-07-06 07:22] #18891 closed

[2022-07-06 08:05] wuguowei19880907 commented on #11475
You can use any demo with sql **select top 10 xxx from tablename**,if there is no mistake with sharding5.1.0,please tell me.
Thanks

[2022-07-06 08:11] sandynz opened #18894 "Atomikos XA transaction started when it is not configured in server.yaml"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 0b41852bc93129f480989b33bda929fedc739199

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
XA transaction won't be started.

### Actual behavior
It started.

### Reason analyze (If you can)
In GlobalRulesBuilder:
<img width="1176" alt="WX20220706-152940@2x" src="ht

[2022-07-06 08:23] zjcnb commented on #18889
I think it's better to add automatic prompts to  https://github.com/apache/shardingsphere/blob/master/shardingsphere-jdbc/shardingsphere-jdbc-spring/shardingsphere-jdbc-core-spring/shardingsphere-jdbc-core-spring-boot-starter/src/main/resources/META-INF/additional-spring-configuration-metadata.json .

[2022-07-06 08:29] mabaiwan commented on #18889
@zjcnb Can I try this issue?

[2022-07-06 08:52] #18828 closed

[2022-07-06 09:03] sasikanth-th opened #18896 "Unable to create new table in Postgres"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Able to create postgresql table

### Actual behavior
Unable to create table
[code]

### Reason analyze (If you can)
The postgres parser is failing incase of timestamp

### Steps to reproduce the behavior, such

[2022-07-06 09:16] mayfsac opened #18897 "Why DriverJDBCExecutor#executor do not handle the error result of branch thread execution？"
## Question
Why DriverJDBCExecutor#executor  do not handle the error result of branch thread execution？
 DriverJDBCExecutor#executor：

![image](https://user-images.githubusercontent.com/43204877/177512854-6437ce45-89f5-431a-9365-e899755c8555.png)
JDBCExecutorCallback#execute：
![image](https://user-images.githubusercontent.com/43204877/177512621-edf3fba5-1801-4d0d-846a-eece36fbb9dc.png)

In this wa

[2022-07-06 09:26] sandynz commented on #18894
Hi @jingshanglu , the root reason is Atomikos XA transaction started when it's not configured, starting 2 proxy instances and print exception just prove Atomikos XA transaction has been started.

Is XA transaction must be started?

[2022-07-06 09:38] #18852 closed

[2022-07-06 10:10] wsm12138 opened #18900 "BUG for READWRITE_SPLITTING .when write_data_source_query_enabled=false,i found DQL can route to write_ds"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-06 10:19] 470582416 opened #18901 "some datasource pool connect resolve PropertyKeys is user，but standardProperties just compare with “username”，it will throw null Point Exception"
<img width="975" alt="图片" src="https://user-images.githubusercontent.com/44893749/177528495-f2f79409-0476-479d-9727-92675820d330.png">
<img width="1534" alt="图片" src="https://user-images.githubusercontent.com/44893749/177528588-63035ee7-6d06-4ab9-bca8-2881097c7c8a.png">

[2022-07-06 10:20] zodostffaa opened #18902 "Caused by: java.lang.NullPointerException: null at org.apache.shardingsphere.infra.binder.segment.select.subquery.engine.SubqueryTableContextEngine.createSubqueryTableContexts(SubqueryTableContextEngine.java:43)"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-06 10:25] strongduanmu commented on #18902
@zodostffaa Thank you for your feedback, this bug has been fixed by #18840.

[2022-07-06 10:25] #18902 closed

[2022-07-06 10:28] strongduanmu commented on #18896
@sasikanth-th Thank you for your feedback. @tuichenchuxin Can you help check this issue?

[2022-07-06 10:29] tuichenchuxin commented on #18896
sure.

[2022-07-06 10:33] tuichenchuxin commented on #18896
@sasikanth-th It's not about timestamp but `path`
You can use this sql instead
[code]

[2022-07-06 11:36] jingshanglu commented on #18894
The XA transaction is not necessary. Currently, the specific implementation of TM is loaded through SPI. If there is an implementation of xa, the TM will be initialized unless the specific implementation of xa is removed. Any suggestions?

[2022-07-06 11:38] TeslaCN commented on #18901
For English only.

[2022-07-06 11:56] zjcnb commented on #18900
@wsm12138 Hi, i can't reproduce your problem. Can you try it again with `master` branch ?

<img width="1143" alt="image" src="https://user-images.githubusercontent.com/33742097/177544551-03789068-fc89-4c62-b813-55e39f4f99b8.png">

[2022-07-06 12:48] yunmengmeng opened #18904 "transaction,AUTO_INCREMENT,useGeneratedKeys,insert null returns the same id"
first,when using <b>AUTO_INCREMENT,useGeneratedKeys,insert null </b>will cause the exception `ResultSet should call next or has no more data.`,it seems to this issue  #18212  （[here](https://github.com/apache/shardingsphere/issues/18212)） ,it has been resolved to  #18224. （[here](https://github.com/apache/shardingsphere/pull/18224)）

now i use @Transactional,insert for many times,it returns the fi

[2022-07-06 12:50] sandynz commented on #18894
If `!TRANSACTION` is not configured in server.yaml:
- Should TransactionRule be initialized?
- If TransactionRule is initialized, what's the defaultType of transaction (TransactionType), LOCAL, XA or BASE?

[2022-07-06 12:59] yunmengmeng commented on #18904
i try to fix it ,and pull a merge request,[here](https://github.com/apache/shardingsphere/pull/18905).

（There may be another solution ）

[2022-07-06 13:31] jiangML opened #18906 "ShardingSphere-Proxy opens prometheus monitoring and fails to start"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy and Agent
### Expected behavior
Turn on prometheus monitoring and start successfully
### Actual behavior
Unable to start

![1657113946623](https://user-images.githubusercontent.com/16010265/177560998-a6d208c2-630f-4663-a8cd-34c98e8

[2022-07-06 14:08] RaigorJiang commented on #18906
Thank you @jiangML .

[2022-07-06 15:14] #18685 closed

[2022-07-07 01:46] huangdx0726 commented on #18877
Can i add test case for all remaining  public methords in this class？

[2022-07-07 02:46] dongzl commented on #18860
I want to try fix it.

[2022-07-07 02:46] jingshanglu commented on #18894
If `!TRANSACTION` is not configured in server.yaml:
* TransactionRule should be initialized, because ss should provide the default transaction function
* LOCAL， Atomikos for XA

[2022-07-07 03:12] a207005 commented on #18864
show tables from db;
show columns from db.table;

[2022-07-07 03:41] #18733 closed

[2022-07-07 03:48] #18906 closed

[2022-07-07 03:58] terrymanu commented on #18877
The alterDatabase is refactored and removed for now. I just close this issue.

[2022-07-07 03:58] #18877 closed

[2022-07-07 03:58] terrymanu commented on #18877
Sure, welcome!

[2022-07-07 04:02] zhaojinchao95 opened #18914 "NumberFormatException occurred when use `MySQL.NORMAL_REPLICATION`"
Master branch [https://github.com/apache/shardingsphere/commit/b01c9b3bf5bd44e651649b1e1535884bb6f395f9](commitid)

Use db-discovery feature - `MySQL.NORMAL_REPLICATION`

Not set `delay-milliseconds-threshold` in configuration

[code]

[2022-07-07 04:07] #18822 closed

[2022-07-07 04:19] #18823 closed

[2022-07-07 04:34] sasikanth-th commented on #18896
@tuichenchuxin Thanks for the quick revert. I have updated the issue accordingly to avoid confusion for others.

[2022-07-07 04:38] sasikanth-th commented on #18896
@tuichenchuxin Couple of things

1. As I can see from https://www.postgresql.org/docs/current/sql-keywords-appendix.html path is a non-reserved keyword.
2. Is there a place where I can find the list of keywords that create while working with shardingsphere
3. Can we improve the logging to help it easy to debug.

[2022-07-07 04:59] TencentChina opened #18920 "Shardingsphere DO NOT support AtomikosNonXADataSourceBean"
## Bug Report

### Which version of ShardingSphere did you use?
ShardingSphere version : `org.apache.shardingsphere:shardingsphere-jdbc-core-spring-boot-starter:5.1.2`
atomikos  version:
 - `com.atomikos:atomikos-util:5.0.9`
 - `com.atomikos:transactions:5.0.9`
 - `com.atomikos:transactions-jta:5.0.9`
 - `com.atomikos:transactions-jms:5.0.9`
 - `com.atomikos:transactions-api:5.0.9`
 - `com.atomiko

[2022-07-07 05:13] linghengqian commented on #18901
I can't think of a JDBC pool that would use `user` as the username. Wouldn't it be better to implement the metadata SPI corresponding to the JDBC pool in this case to convert `user` to `username`?

[2022-07-07 06:09] poo0054 commented on #16528
我也碰见这个问题，解析是失败的。然后用的自定义的，没有初始化。

[2022-07-07 06:13] poo0054 commented on #16528
![image](https://user-images.githubusercontent.com/85894494/177704167-0c050e8e-9526-42bb-9db5-4313a78f4adf.png)
上面那个图片不见了 我重新发一遍
![image](https://user-images.githubusercontent.com/85894494/177704231-c78925b3-b39c-4cea-a41a-c8b30ac1d08c.png)
执行的sql是这个

[2022-07-07 06:19] strongduanmu commented on #18456
@peilinqian Thank you for your feedback, I will investigate this issue.

[2022-07-07 06:49] flyduckforever commented on #18783
Logical table cannot be followed by multiple underscores, only one can be followed，Amend to read as follows
ds0.dp_trade_payment_order_$->{2020..2025}$->{1..4}

[2022-07-07 06:49] #18783 closed

[2022-07-07 06:54] poo0054 opened #18926 "Route table null does not exist, available actual table: [oms_master_order_0, oms_master_order_1]"
### Which version of ShardingSphere did you use?
ShardingSphere-JDBC 5.1.0 + spring boot 2.3.10

    <dependency>
        <groupId>org.apache.shardingsphere</groupId>
        <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
        <version>5.1.1</version>
    </dependency>

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Exp

[2022-07-07 07:05] poo0054 opened #18927 "I try to use custom sharding"
### Which version of ShardingSphere did you use?
ShardingSphere-JDBC 5.1.0 + spring boot 2.3.10

        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.1</version>
        </dependency>

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 Shardi

[2022-07-07 07:28] zjcnb commented on #18829
![image](https://user-images.githubusercontent.com/33742097/177716578-2939c47d-eb9d-4556-a948-e3142701a111.png)

The `logic_db` not exist in `MetaData`

[2022-07-07 08:22] quicksandznzn commented on #15817
i will finish it.

[2022-07-07 08:28] doveylovey opened #18932 "No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm` with type `T_ORDER_SPI_BASED`."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-07 08:44] strongduanmu commented on #18456
Hi @peilinqian, I have test insert and cursor statement, there are no exceptions occur.

[2022-07-07 08:58] poo0054 commented on #18927
I found that all implementation classes of standardshardingalgorithm did not execute the init () method.
My environment is in springboot

[2022-07-07 08:58] poo0054 commented on #18926
I found that all implementation classes of standardshardingalgorithm did not execute the init () method.
My environment is in springboot

[2022-07-07 08:59] zjcnb commented on #18829
@wsm12138 Not reprodcue it, i close it

[2022-07-07 08:59] #18829 closed

[2022-07-07 09:01] poo0054 commented on #18932
I also have this problem,What is your version,Is it an official example of use

 I found that all the init () methods of standardshardingalgorithm were not executed.

[2022-07-07 09:07] a207005 opened #18934 "5.1.2,“create table “ Not full route"
ShardingSphere-JDBC 5.1.2
in my project,i need to create table based on business.
in version 4.1.1 ,i can create table in all my databasenodes.but in version 5.1.2 only 1 node created the table.
![image](https://user-images.githubusercontent.com/17873578/177736942-a0c21107-dc16-4441-8f84-77ac4574b06d.png)

then id config a target table rule in shard-jdbc shard rules.start my project,use my project

[2022-07-07 09:14] strongduanmu opened #18936 "Wrong exception message when sql lost some sharding columns when use COMPLEX_INLINE"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/79387c281a79707635bfd477bc5d4825340c8546

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

[code]

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to

[2022-07-07 09:21] #18936 closed

[2022-07-07 09:47] linghengqian commented on #18927
- I think your custom `CLASS_BASE` class is written incorrectly, you don't need to `@Component`, you actually just need to mark the `final` class. Unless you have registered SPI, you don't need to override `getType` to a value other than `null`. You can refer to it  https://github.com/apache/shardingsphere/blob/5.1.0/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/

[2022-07-07 10:10] poo0054 commented on #18927
@linghengqian Hello, I tried not to add @component. I have also tried the generic type of string. But not at all  。
In springboot environment

I found that all the init () methods of standardshardingalgorithm were not executed.
As a result, every standardshardingalgorithm is not fully initialized. This problem is particularly obvious when you just try hashmodshardingalgorithm. The shardingcount at

[2022-07-07 10:34] linghengqian commented on #18927
@poo0054

- I'm having a bit of a hard time understanding the meaning of this `all`....because I tried to debug the `org.apache.shardingsphere.sharding.algorithm.sharding.datetime.IntervalShardingAlgorithm` which implements `org.apache.shardingsphere.sharding.api.sharding.standard.StandardShardingAlgorithm` , the `init()` method is executed normally.
- If you want to know where to start calling `i

[2022-07-07 11:52] peilinqian opened #18939 ""Cursor, close, fetch, move" SQL statements are of DQL type. In readwrite-splitting mode, they are not excuted in the slave database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-07 11:55] #18939 closed, assigned to nobody

[2022-07-07 13:27] qlql489 opened #18942 "docker image throw error but Binary can work"
## Question

the 5.1.2 proxy docker version and ShardingSphere-Proxy Binary 5.1.2，use the same config file , Binary is run success，docker throw exception:
[code]
server.yaml rules:

[code]

[2022-07-07 13:46] natehuangting opened #18943 "After switchover, databaseDiscovery cannot discover new master"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
Two nodes ds_0, ds_1, originally ds_0 is the host, after the switch ds_1 is the host. But the Proxy cannot find that ds_1 is the master.

### Reason analyze (If you can)
When switching, the replication status o

[2022-07-08 02:08] tuichenchuxin opened #18948 "Support get detail error info for parse"
## Feature Request

### Is your feature request related to a problem?
 No
### Describe the feature you would like.
 parse error should have detail info.
like this sql
[code]
We can only get this error info
[code]
Actually we can get detail info like this
[code]
### How to do
I found if I remove this error listener line. Then, I can get error info . So it's may be a way to get detail info.
[code]

[2022-07-08 02:11] tuichenchuxin commented on #18896
@sasikanth-th I think it's a good way to improve logging. I have created a issue to improve it. #18948 if you are interested in it, you can try to solve it by a pr.

[2022-07-08 02:29] luoyexiaoran opened #18949 "count with subquery is error"
error sql:

select count(1) from ( select r.name, r.rubbishType,left(cd.collectDate,4) as collectDate,sum(cd.collectVolumeOfToday) as dailyOutput,  sum(cd.collectTrashSumNum) as collectTrashSumNum,sum(cd.collectTimes) as collectTimes,cd.districtName,sum(cd.alarmNums) as alarmNum,r.classesName  from cc_restaurant_collect_data cd LEFT JOIN cc_restaurant r on cd.restaurantId = r.id  where cd.beenDele

[2022-07-08 02:58] chakkk309 commented on #18948
Hi, can I try this?

[2022-07-08 03:05] strongduanmu commented on #18701
@TeslaCN Thank you for your feedback, I will investigate this issue.

[2022-07-08 03:19] tuichenchuxin commented on #18948
sure

[2022-07-08 04:14] linghengqian commented on #18927
Obviously no PR will reach the master branch, as the problem cannot be reproduced in the master branch.

[2022-07-08 04:16] linghengqian commented on #18926
Duplicated with https://github.com/apache/shardingsphere/issues/18927 .

[2022-07-08 04:44] strongduanmu commented on #18926
@linghengqian Thank you for your help, this issue is duplicated with https://github.com/apache/shardingsphere/issues/18927 .

[2022-07-08 04:44] #18926 closed

[2022-07-08 05:26] comecny opened #18953 "complex sql parsing error => NullPointerException"
[code]

sql ::
[code]

ddl:
[code]

[2022-07-08 05:53] #18896 closed

[2022-07-08 06:19] hehua2018 opened #18955 "Shardingsphere-proxyuses a DBeaver connection and cannot update data"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-08 06:31] poo0054 commented on #18927
I now switch to version 5.1.2,
The classbasedshardingalgorithm object is @5925，All properties in it have been loaded successfully，The init () method also executes smoothly.
TableShardingAlgorithm@5944.
![image](https://user-images.githubusercontent.com/85894494/177927691-af1e52d2-5aa4-4891-b411-7ebf2d5479f0.png)

Then I try to understand where this class is injected

![image](https://user-images.g

[2022-07-08 06:44] poo0054 commented on #18927
I found that you replaced the Preparedstatement with your shardingspherepreparedstatement. The classbasedshardingalgorithm in it is stored in the shardingspherepreparedstatement. However, after the initialization of classbasedshardingalgorithm, it is stored in the bean of spring, and beandefinitionbuilder \genericbeandefinition is used to create beandefinitionbuilder. Then register
I found that yo

[2022-07-08 06:44] linghengqian commented on #18927
I tested CLASS_BASE locally and still can't reproduce the NPE you took. I realize that you have a problem with the custom algorithm class, and I think that providing a reproducible unit test will help illustrate your problem.

[2022-07-08 06:49] linghengqian commented on #18927
- Are you referring to custom algorithm classes registered into the Spring container? This has nothing to do with ShardingSphere's design, which clearly shouldn't intersect with Spring when its data source itself is in a Spring container. And you have to take into account that Quarkus users don't walk Spring containers.

[2022-07-08 06:57] poo0054 commented on #18927
Thank you very much for your answer. I'm also confused now

But I found that this is the case when the shardingspherealgorithmfactory#createalgorithm method creates a classbasedshardingalgorithm

![image](https://user-images.githubusercontent.com/85894494/177933905-8561a497-185e-4cc8-9a9c-021228257312.png)

Then in classbasedshardingalgorithm#dosharding, the standardshardingalgorithm in it is a nu

[2022-07-08 07:25] poo0054 commented on #18927
Suddenly I found that it was my local environment problem. I recreated this code into a project, and then it could be passed in another place. Nothing has changed. Thank you very much for your answer

[2022-07-08 07:25] #18927 closed

[2022-07-08 07:49] mantian2020 opened #18958 "AdaptedDatabaseMetaData.getURL Caused by: java.lang.NullPointerException"
java.lang.IllegalStateException: Failed to load ApplicationContext

	at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate.loadContext(DefaultCacheAwareContextLoaderDelegate.java:132)
	at org.springframework.test.context.support.DefaultTestContext.getApplicationContext(DefaultTestContext.java:124)
	at org.springframework.test.context.web.ServletTestExecutionListener.setU

[2022-07-08 08:20] strongduanmu commented on #18701
Currently, SQL comments are added to the hidden channel during the lexical parsing phase, not the AST. That is, the SQL we parsed is an empty string.

Considering that there are many extended syntaxes supported in MySQL comment, we will consider supporting parsing of these SQLs.

[2022-07-08 08:27] zrsaber commented on #18078
please assign it to me, i will have a try

[2022-07-08 08:41] strongduanmu commented on #18078
Welcome @zrsaber, I will assign this issue to you.

[2022-07-08 09:32] chenliang7558 opened #18961 "5.1.2-ShardingProxy java.lang.Integer cannot be cast to java.lang.Long"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-08 09:33] TeslaCN opened #18962 "Got SQL syntax error when executing DDL using ShardingSphere-Proxy openGauss"
## Bug Report

### Which version of ShardingSphere did you use?

master - 336afce1cc10eb5a03d74707ba0abcd14511fb5e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy openGauss

### Expected behavior

DDL could be executed on openGauss.

### Actual behavior

[code]

GOT
[code]

DDL works on Proxy if `national` was double quoted.
[code]

### Reason ana

[2022-07-08 09:47] doveylovey opened #18963 "When using JPA, and without transaction management, the select is routed to the write-ds, why not the read-ds?"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-08 09:48] JiekerTime opened #18964 "It seems that DistSQL has a problem parsing the "from" statement."
### Which version of ShardingSphere did you use?
5.1.3-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
 SHOW DATABASE RESOURCES FROM db execute succes.

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/177965817-93d120a9-c293-4d5b-8797-5611fd2ae572.png)

### Reason analyze (If you can)

[2022-07-08 10:38] poo0054 opened #18966 "ShardingAlgorithmProvidedBeanRegistry login has failed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-07-08 10:59] #18764 closed

[2022-07-08 11:12] peilinqian commented on #18567
![image](https://user-images.githubusercontent.com/97432411/177981551-ee860211-ae92-4439-8b80-1ad28f232c3a.png)

[2022-07-08 11:13] peilinqian commented on #18432
![image](https://user-images.githubusercontent.com/97432411/177981377-9bd64cb2-f00c-408f-8255-c5a0e9bb5e64.png)

[2022-07-08 12:10] linghengqian commented on #18966
- I realize you're using the SpringBoot OSS version that stopped maintenance. Can you change to SpringBoot OSS 2.6 or 2.7 to reproduce? In SpringBoot OSS 2.5, for significant changes to the data source, refer to its Release Note.

- I can't reproduce this problem locally.

[2022-07-08 13:20] strongduanmu opened #18968 "FileNotFoundException occurs when use ShardingSphere Driver with SpringBoot fatjar"
## Bug Report

### Which version of ShardingSphere did you use?

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Startup SpringBoot fatjar successfully when use ShardingSphere Driver

### Actual behavior

FileNotFoundException occurs.

[code]

### Reason analyze (If you can)

When we package the file into a jar package, the f

[2022-07-08 19:58] hjj5258 commented on #18686
Can I work on this,please?

[2022-07-09 01:34] Trydamere commented on #18431
`ALTER ANALYTIC VIEW` supported by #17538

[2022-07-09 01:41] Trydamere commented on #18431
`ALTER ATTRIBUTE DIMENSION` supported by #17601

[2022-07-09 02:29] #15817 closed

[2022-07-09 03:05] terrymanu opened #18970 "Add more assertions for actual value with method AssistQueryAndPlainInsertColumnsTokenGeneratorTest.assertGenerateSQLTokens()"

[2022-07-09 03:15] #18554 closed

[2022-07-09 03:38] m13601594065 opened #18971 "员"
ASF Git Repos - apisix.git/tree - t/admin/ https://git.apache.org/repos/asf?p=apisix.git;a=tree;f=t/admin;h=1140fed6bd8c3b39fd8cbf75b932340216570f54;hb=HEAD

[2022-07-09 03:51] TeslaCN commented on #18942
Hi @qlql489
I've tried the Docker image and could not reproduce this issue in `apache/shardingsphere-proxy:5.1.2`.

[code]

But if I use `apache/shardingsphere-proxy:5.1.1`, the following error occurred:
[code]

[2022-07-09 03:57] terrymanu opened #18972 "To be optimized hints of ContextManager"
1. Reload schema/table method can handle alter only, it should handle add and drop too;
1. persistMetaData() and dataSourceService.append() method occur together in addResource(), it is better to aggregate the accessor of reg center;
1. Missing ResourceHeldRule.addResource() in alterRuleConfiguration and alterDataSourceConfiguration.

[2022-07-09 03:58] strongduanmu commented on #18686
@hjj5258 Of course, I will assign this issue to you.

[2022-07-09 04:02] #18971 closed

[2022-07-09 04:12] zjcnb commented on #18972
Thx, I will follow it.

[2022-07-09 04:40] #18583 closed

[2022-07-09 04:51] williamXinCC opened #18973 "5.1.1 not support mysql subquery ?"
SELECT person_id,
        open_id
        FROM sf_person
        WHERE tenant_id = #{tenantId} and person_id IN
        (SELECT person_id
        FROM sf_person_unit
        WHERE tenant_id = #{tenantId} and
        unit_id IN
        (SELECT unit_id
        FROM sf_unit
        <where>
            <if test="buildingList != null and buildingList.size() > 0">
                and building_id IN

[2022-07-09 05:20] TeslaCN commented on #18973
Hi @williamXinCC
Please provide us your configurations, DDL, actual SQL and errors.

[2022-07-09 06:12] williamXinCC commented on #18973
![image](https://user-images.githubusercontent.com/34149036/178094011-68b02c51-f463-4784-a815-28a2cfede7c2.png)
![image](https://user-images.githubusercontent.com/34149036/178094031-a78893e3-3aa8-408b-82f1-fcff37e961bf.png)
![image](https://user-images.githubusercontent.com/34149036/178094077-ad794ba1-df29-4070-be8b-1dda6a46b5e7.png)
![image](https://user-images.githubusercontent.com/34149036/1780

[2022-07-09 06:14] williamXinCC commented on #18973
Is also never use  my custom StandardShardingAlgorithm

[2022-07-09 06:19] williamXinCC commented on #18973
The other question, after 4.1.1 upgrade to 5.1.2,the project startup very very slow, so i change to 5.1.1 return to normal