[2019-09-27 08:16] Zhangkaiqiang commented on #3140
pom文件

	<dependency>
	    <groupId>io.shardingjdbc</groupId>
	    <artifactId>sharding-jdbc-core</artifactId>
	    <version>2.0.0.M1</version>
	</dependency>
      <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-namespace</artifactId>
            <version>4.0.0-RC2</version>
        </dependency>

[2019-09-27 08:17] Zhangkaiqiang commented on #3140
<insert id="insertInfoList" parameterType="map">
    	insert into pb_import_info (user_id,user_code,user_nick,time_long,day,get_point,record_id,create_time,admin_id,record_time)
        values
        <foreach collection ="list" item="info" separator="," >
            (#{info.userId},#{info.userCode},#{info.userNick},#{info.timeLong},
            #{info.day}, #{info.getPoint}, #{info.recordId},#{i

[2019-09-27 08:23] tuohai666 commented on #3127
@maxiaoxian Any progress? Let's resolve this issue today.

[2019-09-27 08:31] KennyQiao opened #3141 "Failover Support"
@terrymanu @tristaZero

**Do you guys have any development plan on supporting failover?**

I saw an old comment [here](https://github.com/apache/incubator-shardingsphere/issues/874#issuecomment-391936668), but it has been more than one year.

Any feedback will be greatly appreciate.

[2019-09-27 08:39] #3061 closed

[2019-09-27 08:43] beiwangnull commented on #3135
Sorry! is 4.0.0-RC1

[2019-09-27 08:46] terrymanu commented on #3141
No plan for us. Any body want as volunteer to do it?

[2019-09-27 08:49] terrymanu commented on #3140
Did you mean you use `sharding-jdbc-core` as version `2.0.0.M1`, but use `sharding-jdbc-spring-namespace` as version `4.0.0-RC2`?

[2019-09-27 08:52] KennyQiao commented on #3141
Fine, thanks for your comment. 😢

[2019-09-27 09:02] #3135 closed

[2019-09-27 09:03] beiwangnull commented on #3135
update to 4.0.0-RC2 is ok

[2019-09-27 09:06] tuohai666 opened #3142 "Parse SQLs which database types are unidentified using SQL92 parser"
All databases besides MySQL/Oracle/PostgreSQL/SQLServer/H2/MariaDB should use SQL92 parser.
But for now, only support SQLite, Sybase, DB2, Informix using SQL92 parser.

[2019-09-27 09:07] linxux commented on #2673
Meet the same issue when using JOOQ query with `backticks`.
e.g.,:
Raw SQL,
[code]
Actual SQL after parser,
[code]

---
Troubleshot:
Unable parse the SQL correctly since the incorrect SQLTokens from FromWhereSegment, SelectItemSegment

---
Workaround,
1. Using table alias in query, verified
[code]

2. Using org.jooq.VisitListener SPI
[code]

3. Using native SQL...

[2019-09-27 09:07] niuniu9631 commented on #3136
used UNIX_TIMESTAMP(now()) is ok

[2019-09-27 09:11] wangmobai opened #3143 "EncryptRule has a risk for NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-09-27 09:28] #3088 closed

[2019-09-27 09:45] sunbufu commented on #3131
Can you show your configuration and SQL?

[2019-09-27 09:51] SanmuWangZJU commented on #3127
I'm not sure what will happen if the cache is not thread-safe, but I think we should keep cache safety while trying to read and update the cache concurrently (it will trigger update cache because key of cache is soft-reference).

[2019-09-27 10:24] xiyelife opened #3144 "It show me "Can not update sharding key"， but my sharding key does not update, the sharding key value does not change, only just appears in the updated clause."
## Bug Report

It show me "Can not update sharding key"， but my sharding key does not update, the sharding key value does not change, only just appears in the updated clause.

### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior

Cause: org.apache.shardingsphere.core.exception.Shard

[2019-09-27 10:26] tuohai666 commented on #3127
@SanmuWangZJU Nothing bad will happen if the cache is not thread-safe. Don't mix soft-reference with thread-safe, they can not influence each other. You can just imagine the data structure is HashMap.

[2019-09-27 10:49] betterjava commented on #3144
Hi, @xiyelife According to my understanding, this is not a problem, still thank you for actively submitting the issue.

[2019-09-27 10:59] xiyelife commented on #3144
@betterjava  yeah , I can solve this problem by modifying my sql. but for mybatis framework generated sqls  could have this problem

[2019-09-27 11:11] betterjava commented on #3144
I understand, you are right, maybe this requires more discussion.

[2019-09-27 12:41] beiwangnull opened #3146 "SQL grammar：batch insert into set not support?"
### Which version of ShardingSphere did you use?
4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
Using SQL grammar：batch insert into set
### Actual behavior
return error
### Reason analyze (If you can)
sharding does not support
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occu

[2019-09-27 12:42] beiwangnull commented on #3146
this mapper config is ok
    <insert id="batchAdd" parameterType="list">
        INSERT into user(username) values
        <foreach collection="list" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>

[2019-09-27 12:43] beiwangnull commented on #3146
this mapper config is ok
[code]

[2019-09-27 12:53] beiwangnull commented on #3146
[code]

[2019-09-27 15:03] sluk3r opened #3148 "Too many files with unapproved license?"
Hi, all. After I pull a request, CI report a fail, the main info is as below:

https://builds.apache.org/blue/organizations/jenkins/shardingsphere-ci/detail/shardingsphere-ci/461/pipeline/

[2019-09-27T13:38:47.688Z] [INFO] sharding-transaction-xa-atomikos ................... SUCCESS [  0.539 s]
[2019-09-27T13:38:47.688Z] [INFO] sharding-transaction-xa-atomikos-manager ........... SUCCESS [  9.066

[2019-09-27 15:14] kezhenxu94 commented on #3148
this build is not the latest build of your pull request, it's one of the easy build when you didn't add the license header, the latest failure is not about license header (https://builds.apache.org/blue/organizations/jenkins/shardingsphere-ci/detail/shardingsphere-ci/462/pipeline/), it failed because of the instability of coverall.io, we can do nothing but wait for it to recover

[2019-09-27 15:41] #3148 closed

[2019-09-28 01:37] sluk3r opened #3149 "help for mock static method when unit test"
Hi, all. would you help me with that problem: how can I mock static method when unit test.

I try to unit test the following code:

[code]

And find that there are two static method invocation, mockito doesn't support static method mock.

after some google, I found Powermock can mock static method easily, example is: https://java2blog.com/mockito-mock-static-method/

So, should I import Powermock

[2019-09-28 03:46] terrymanu commented on #3149
For my understanding, use lots of static fields should be avoid for design reason.

If you want focus unit test, how about add test cases without static fields?

[2019-09-28 10:42] tristaZero commented on #2673
Hi,

It seems A bug. Which version do you use?

 Juan Pan

panjuan@apache.org
Juan Pan(Trista), Apache ShardingSphere
On 09/27/2019 17:08, j4$0n wrote:

麻烦问下 这个功能什么时候能上？ 我用的是jooq

Meet the same issue when using JOOQ query with backticks.
e.g.,:
Raw SQL,

select`user`.`id`, `user`.`name`, `user`.`timestamp`, `user`.`email``user`.`version`from`user`where (`user`.`id`=123and`user`.`email`='your_email

[2019-09-28 10:53] tristaZero commented on #3141
Hi,
Failover automatically is a practical feature i think.

Currently, any changes on zk will be synchronized to apps online. So the key point is `who` can tell the zk all the new rules, e.g new ip and port.
What's more, Monitoring the status of dbs is another topic.

If anyone is interested in them, i hope you can join us to help community. Thanks :)

 Juan Pan

panjuan@apache.org
Juan Pan(Trista

[2019-09-28 12:41] sunbufu commented on #3149
If you must do it, maybe reflection is a good choice.

[2019-09-29 01:15] Zhangkaiqiang commented on #3140
I don't mean that.above is my project configuration,when i batch insert records ,the memory corruption(2G-40000records) ,I don‘t whats wrong with me

[2019-09-29 01:18] Zhangkaiqiang commented on #3140
I don't mean that.above is my project configuration,when i batch insert records ,the memory corruption(2G-40000records) ,I don‘t whats wrong with me

[2019-09-29 02:16] Zhangkaiqiang commented on #3140
done change pom
<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>sharding-jdbc-core</artifactId>
    <version>4.0.0-RC2</version>
</dependency>
      <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-namespace</artifactId>
            <version>4.0.0-RC2</version>
        </dependency>

[2019-09-29 02:17] #3140 closed

[2019-09-29 03:40] haetao commented on #3126
we fixed this error.

[2019-09-29 04:10] haetao commented on #3126
fixed it. issue link:  https://github.com/apache/incubator-shardingsphere/issues/3126
document link:  https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/usage/encrypt/

[2019-09-29 04:23] #3126 closed

[2019-09-29 04:45] #3142 closed

[2019-09-29 06:56] beiwangnull opened #3153 "Transaction throw Exception"
### Which version of ShardingSphere did you use?
4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

[code]

[2019-09-29 07:02] beiwangnull commented on #3153
What may be the problem?

[2019-09-29 07:48] skyoxZ opened #3154 "Data masking: the name of logicColumn is case sensitive"
Is it possible to configure this behavior?

[2019-09-29 15:47] linxux commented on #2673
@tristaZero I have tried on both `4.0.0-RC1` and `4.0.0-RC2`.

[2019-09-29 23:43] ylyly opened #3155 "Sharding jdbc parse sql statement which have a table name alias as T whill case error"
## Bug Report
ShardingSphere version is 4.0.0-RC2.
my project maven pom have import sharding-jdbc-core and  sharding-jdbc-spring-boot-starter.
This is my shard config

[code]

My Sharding Algorithm Class:
[code]

Where shardingjdbc execute sql like this `select T.*     from ACT_RU_TASK T     where T.PROC_INST_ID_ = ?`
shardingjdbc will throw a error:
[code]
If i replace the sql as `select b.*

[2019-09-30 01:14] bxvs888 opened #3156 "Postgres errorCode error message no response JDBC and CLI client. PostgreSQLErrorResponsePacket no response error Info"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-09-30 02:05] tristaZero commented on #2673
Hi @linxux Can you make `sql.show` open, and give the detail of `SQLStatement`?
I did some tests using `dev` and can not get any exception. Here is my log:
[code]

[2019-09-30 02:51] #3149 closed

[2019-09-30 02:52] terrymanu commented on #3153
How do you get this exception? Can you provide your source code to reproduce it?

[2019-09-30 03:44] terrymanu commented on #2908
Jenkins only can upload a simple picture which is not enough to display performance.
We may do it in our own website (asf-site), there are some tasks we should do:

Frontend：

1. Display most recently 30 days performance data which is load from github directly (https://github.com/apache/incubator-shardingsphere-benchmark)
2. Display native MySQL, Sharding-JDBC and Sharding-Proxy's performance in s

[2019-09-30 05:38] wqzwh commented on #2908
@terrymanu  according to your idea, we will optimize it.

[2019-09-30 06:40] zcjhwl commented on #2793
Is there any way to avoid this? Such as preheating

[2019-09-30 13:53] linxux commented on #2673
@tristaZero I have just go thru this issue in my projects.
And yes, it works fine in `4.0.0-RC2` now.
We were failed to upgrade the version from `4.0.0-RC1` to `4.0.0-RC2` for some unknown reason.

[2019-09-30 18:35] beijing-penguin commented on #3155
token literal names:
[code]
and so on.....

[2019-10-01 02:04] tristaZero commented on #2673
Unknown problems?
At least the log would show some msg, i think.

 Juan Pan

panjuan@apache.org
Juan Pan(Trista), Apache ShardingSphere
On 09/30/2019 21:55, j4$0n wrote:

@tristaZero I have just go thru this issue in my projects.
And yes, it works fine in 4.0.0-RC2 now.
We were failed to upgrade the version from 4.0.0-RC1 to 4.0.0-RC2 for some unknown reason.

—
You are receiving this because you

[2019-10-01 06:15] terrymanu commented on #3156
Which version of ShardingSphere did you use?

[2019-10-01 06:57] dongzl opened #3162 "ShardingSphere Config Center implemention for Apollo."
## Feature Request
I want to integrate Apollo to ShardingSphere，for another registry center implemention.

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitt

[2019-10-01 07:51] terrymanu commented on #3162
Thank you for pay attention for this feature.

For Question 1:

I never use Apollo before, it sounds strange about `apollo-client` and `apollo-openapi` which only provide part of core features. Can you talk with Apollo team first to make sure what is the best practice of Apollo?

For Question 2:

We have already split `RegistryCenter` and  `ConfigCenter`, Apollo is suitable for `ConfigCenter` only

[2019-10-01 07:56] terrymanu commented on #3102
@hunter7727 Hi, can you change the title more meaningful for search friendly? Title may describe the problem summary.

[2019-10-01 07:58] terrymanu commented on #3105
@Myshiner Can you try version 4.x? Because 3.x is not apache release, we won't maintenance anymore.

[2019-10-01 08:00] terrymanu commented on #3162
The config center do not finish yet, please have a look at: https://github.com/apache/incubator-shardingsphere/issues/3095

[2019-10-01 10:56] dongzl commented on #3162
Hi @terrymanu , Thank you very much.
I will discuss with Apollo team and find more details, and will pay attention to `ConfigCenter`.

[2019-10-02 04:31] contextshuffling opened #3163 "Test can fail if HashMap iterates in a different order"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-02 23:02] dongzl commented on #3095
Hi @wgy8283335 , I want to integrate Apollo into ShadingSphere as a config center implemention, the issue is #3162 .

I want to konw that the interface definition about `org.apache.shardingsphere.orchestration.config.api.ConfigCenter` refactor completed?

will the interface definition have a huge change or not ?

[2019-10-03 18:13] Pramy commented on #3155
I tried to reproduce it
[code]
error cause by parser
![image](https://user-images.githubusercontent.com/13444999/66152638-779a1380-e64c-11e9-81b3-d9e1ffe077d7.png)

[2019-10-03 18:25] Pramy commented on #3155
i use official *.g4 to build  `MySqlParser` and `MySqlLexer`
[https://github.com/antlr/grammars-v4/tree/master/mysql/Positive-Technologies](https://github.com/antlr/grammars-v4/tree/master/mysql/Positive-Technologies)

try to parser `SELECT T.* FROM TS_ORDER T WHERE T.ID = 3`
[code]
it is working
[code]
I am sorry that I am not good at `antlr`, so I can only do so much.

[2019-10-03 19:03] Pramy commented on #3124
@liubo-tech you can see the same problem in [issues#2917](https://github.com/apache/incubator-shardingsphere/issues/2917)
and the bug has been fixed in `4.0.0-RC3-SNAPSHOT`
you can also see [pr#2918](https://github.com/apache/incubator-shardingsphere/pull/2918)

[2019-10-05 05:06] terrymanu opened #3171 "Add checkstyle template for ci to check codes format only"
FYI: https://lists.apache.org/thread.html/ee26c7c4945347c661a5cb438938f06735bf1b12903a6c6bf038fbef@%3Cdev.shardingsphere.apache.org%3E

[2019-10-05 09:46] terrymanu opened #3174 "Warning when maven install for npm version issue"
The log core fragment:

[code]

[2019-10-05 10:04] #3171 closed

[2019-10-07 01:29] wgy8283335 commented on #3095
@dongzl ，Hi, the definition of the config center interface has been completed. But, the related function has been modifing yet, such as:
`org.apache.shardingsphere.orchestration.internal.registry.config.listener.AuthenticationChangedListener`,
`org.apache.shardingsphere.orchestration.internal.registry.config.listener.ConfigurationChangedListenerManager`, and so on.
I suggest that you could start t

[2019-10-07 03:40] #3143 closed

[2019-10-07 13:13] bxvs888 commented on #3156
ShardingSphere proxy RC2

[2019-10-08 00:23] wgy8283335 commented on #650
sharding-core-parse模块分析，主要包括：模块结构、主要逻辑流程、设计模式和设计原则。
https://wgy8283335.github.io/2019/09/30/sharding-core-parse/

[2019-10-08 02:28] liunancun opened #3178 "The INSERT statement with <?xml has gone wrong."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-08 03:51] wqzwh commented on #2908
add ajax gets data，Just update the data to avoid repackaging the build。https://github.com/apache/incubator-shardingsphere-benchmark/pull/4

[2019-10-08 05:09] #3163 closed

[2019-10-08 06:46] dongzl commented on #3162
Hi @terrymanu, I have communicated with Apollo team, they think read config and modify config design for different roles, so they split the Apollo API.

For read config API design for application system, it is high availability, and it is not any limit.

But for modify config API design for other config system to sync configuration to Apollo, it need token validation and must have modify config ri

[2019-10-08 06:52] zhuyaoming opened #3179 "如何配置全库中所有表一样的分库规则"
我在使用shardingjdbc的过程中,库中几百+表,每个表中都包含我的sharding-column,而且我每个表的分片规则都是一样的.是否我需要每个表去独立配置呢.
如果后续我新增表也得同步去配置这些一样的分片规则么?

[2019-10-08 07:13] zhuyaoming opened #3180 "Method of dynamically adding data sources"
Fragment 3 libraries, this time need to add to 5 libraries, this time you must modify the code to achieve it? Can you add it dynamically, do not need to restart the application.
      分片3个库,这个时候需要添加到5个库,这个时候必须修改代码才能实现么?能否动态添加呢,不需要重启应用呢.

[2019-10-08 07:32] terrymanu commented on #3179
**For English only**, other languages will not accept.

[2019-10-08 07:32] #3179 closed

[2019-10-08 07:34] terrymanu commented on #3180
Can you make English more understanding and remove Chinese words?

[2019-10-08 07:34] #3180 closed

[2019-10-08 07:35] terrymanu commented on #3180
Please create new issue if you want discuss and make sure English can be understand, thank you.

[2019-10-08 07:41] tristaZero commented on #3003
Hi @skyoxZ
[Here](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-core/sharding-core-common/src/main/java/org/apache/shardingsphere/core/strategy/encrypt/impl/AESShardingEncryptor.java) is the implementation of AESShardingEncryptor.
Other than that, please read [this article](https://www.infoq.cn/article/tk9gMjP6geOKOy-BTisX) to learn the solution of Data masking of ShardingSh

[2019-10-08 08:33] tristaZero commented on #3017
@Keanhua Hi, to make your issue recurred, i did some tests, but i can not get your exception.
Here some detail of my test, is it similar with yours?
#### Table description:
[code]
#### Encrypt rule
[code]

#### SQL

[code]

[2019-10-08 08:37] tristaZero commented on #3132
@SAMARITAN2046
Hi, is this issue same with #3131 ? If so, please #3131 . Thanks.
Moreover, can you provide more log of this exception. And what's your encrypt-rule, sql, table description?
Please provide more details to make this issue clearer.

[2019-10-08 09:09] Keanhua commented on #3017
@sunbufu @tristaZero
this is the demo link:https://github.com/Keanhua/sharding-bug-demo
you can run the testCase directly, the error will occured。the sql is also in it.
if you change the longText cloumn type to json, it also occured

[2019-10-08 10:00] tristaZero commented on #3017
thanks for your demo, which gives us more chances to find the bug.
@Keanhua

[2019-10-08 10:02] tristaZero commented on #3017
@sunbufu Hi, are you interested in this issue? If it is available, the demo would be a good start. :)

[2019-10-08 11:16] wgy8283335 opened #3185 "The configuration of RegistryCenter, ConfigCenter,LeafCenter should be split apart or not?"
## The configuration of RegistryCenter, ConfigCenter,LeafCenter should be split apart or not?
As we plan to split the Resgitry Center Interface into RegistryCenter, ConfigCenter,LeafCenter. So,configuration of RegistryCenter and ConfigCenter should be split apart or not? For example:
[code]

[2019-10-08 11:18] sunbufu commented on #3017
@tristaZero Yes, I am interested in this. @Keanhua Thank you, I will try your demo later.

[2019-10-08 11:43] #3018 closed

[2019-10-08 12:35] wqzwh commented on #2908
add overview page，For better page switching, so I added navigation

![image](https://user-images.githubusercontent.com/16662470/66395493-1c7c6e00-ea0a-11e9-8ea1-a48362b31a0b.png)

https://github.com/apache/incubator-shardingsphere-benchmark/pull/5

[2019-10-08 13:13] terrymanu commented on #3185
I prefer do not split reg center and config center if user use same component (eg. zookeeper).
But we'd better support user use different components for reg center and config center (eg. eureka for reg center and apollo for config center).

So we need to talk about how to deal with the configuration of these 2 different scenarios.

[2019-10-08 14:06] #2548 closed

[2019-10-08 14:15] terrymanu commented on #3117
Closed until title changed

[2019-10-08 14:15] #3117 closed

[2019-10-08 18:03] wyt1128 opened #3187 "it throw Exception "Must have one sharding with subquery" , the logic might be have problem"
it throw exception "Must have one sharding with subquery" ,

![image](https://user-images.githubusercontent.com/22985532/66419477-c83bb300-ea36-11e9-8c3b-d1ff962e2045.png)
routingResult.getRoutingUnits().size() could be   greater than 1

### Which version of Sharding-JDBC  did you use?
4.0.0-RC3-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

[2019-10-09 01:00] 65725738 opened #3190 "<sharding:standard-strategy /> sharding-column is must but I want to split the db by table name。not column"
<sharding:standard-strategy />  sharding-column is must

but I want to split the db by table name。not column 。What I need to do?

[2019-10-09 02:07] songwb opened #3191 "请问支持springboot2.1版本吗？"
## 请问最新版本支持springboot2.1版本吗？

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues

[2019-10-09 02:59] tristaZero commented on #3101
@HarrySir
Hi, this bug has been fixed already, and our 4.0.0.RC3 is coming soon. :)

[2019-10-09 02:59] #3101 closed

[2019-10-09 03:32] terrymanu commented on #3191
**For English only**, other languages will not accept.

[2019-10-09 03:32] #3191 closed

[2019-10-09 03:34] terrymanu commented on #3190
Can you change the title more meaningful for search friendly? Title may describe the problem summary.

[2019-10-09 03:37] terrymanu commented on #3019
The CI can display all status for every build, it is ok now.
Closed for no response any more.

[2019-10-09 03:37] #3019 closed

[2019-10-09 03:41] terrymanu commented on #2995
version 3.x is too old and it is not apache release, we cannot maintain any more.
I just close this issue.
Please have a test on 4.x

[2019-10-09 03:41] #2995 closed

[2019-10-09 03:44] terrymanu commented on #3078
Closed until change title to more meaningful.

[2019-10-09 03:44] #3078 closed

[2019-10-09 03:45] terrymanu commented on #3102
Closed until change the title more meaningful.

[2019-10-09 03:45] #3102 closed

[2019-10-09 03:46] terrymanu commented on #3127
Any update on this issue? may I close it soon?

[2019-10-09 03:47] terrymanu commented on #3153
Closed for no response any more.

[2019-10-09 03:47] #3153 closed

[2019-10-09 03:51] #3124 closed

[2019-10-09 03:53] terrymanu commented on #3094
Closed for no response any more.

[2019-10-09 03:53] #3094 closed

[2019-10-09 03:53] tristaZero commented on #3069
@ixiaomlt Hi, we appreciated your issue report. Currently @sunbufu found that owing to wrong result from getTableName() of OracleResultSetMetaData, ShardingSphere can not get encrypt table rule. So data masking doesn't work well.
Can you debug your demo to make sure whether getTableName() returns the correct tableName, i.e, sys_user in your demo?

[2019-10-09 03:56] terrymanu commented on #3006
Closed for no response any more.

[2019-10-09 03:56] #3006 closed

[2019-10-09 03:56] terrymanu commented on #3008
Closed for no response any more.

[2019-10-09 03:56] #3008 closed

[2019-10-09 03:57] terrymanu commented on #2956
Closed for no response any more.

[2019-10-09 03:57] #2956 closed

[2019-10-09 04:03] terrymanu commented on #3041
The version 1.x is too old, please update version 4.x

[2019-10-09 04:03] #3041 closed

[2019-10-09 04:04] terrymanu commented on #3045
Closed for no response any more

[2019-10-09 04:04] #3045 closed

[2019-10-09 04:06] terrymanu commented on #3074
No, sharding with store procedure is too complicated and it is not a good practice on sharding databases. We have no plan to do that

[2019-10-09 04:06] #3074 closed

[2019-10-09 04:10] #3083 closed

[2019-10-09 04:11] terrymanu commented on #3085
Yes, sharding-proxy is stateless. You can use any rebalance tools to do HA

[2019-10-09 04:12] #3105 closed

[2019-10-09 04:14] cherrylzhao commented on #3015
sorry for late response, we'd like to investigate later

[2019-10-09 04:14] terrymanu commented on #3141
Closed for now. If somebody want do this feature, please talk with mailing-list or reopen this issue.

[2019-10-09 04:14] #3141 closed

[2019-10-09 04:16] terrymanu commented on #3162
We can throw UnsupportedException if user call update method with Apollo

[2019-10-09 04:53] SteNicholas commented on #3155
@ylyly You can refer to this pull request about the issue you mentioned.And description of your issue was something wrong.The fact is that parser supports table alias named 'T',but not support 'T' is positioned between select statement.
For example:
Support: `select * from ACT_RU_TASK T where T.PROC_INST_ID_ = ?`
Not Support:`select T.* from ACT_RU_TASK T where T.PROC_INST_ID_ = ?`

[2019-10-09 05:27] tristaZero opened #3194 "Data masking or encryption for Oracle can not work well."
Please see this thread for more detail.
This thread explains the reason and gives the solution.
If anyone is interested in this bugfix, please reply this thread or this issue. Hope see your Pr later. 😃

[2019-10-09 05:40] songwb opened #3195 "Do you support spring boot 1.2?"
## Do you support spring boot 1.2?

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on

[2019-10-09 05:42] tristaZero commented on #3069
Hi, Please see #3194

[2019-10-09 05:43] tristaZero commented on #3069
Hi, Please see #3194

[2019-10-09 05:43] #3069 closed

[2019-10-09 05:50] xiyelife commented on #3085
Thanks ， I see

[2019-10-09 05:50] #3085 closed

[2019-10-09 06:45] #3155 closed

[2019-10-09 06:48] terrymanu commented on #3195
Can you try to example first?

[2019-10-09 07:38] songwb commented on #3195
ok. thanks . I will give it a try.

[2019-10-09 08:03] wgy8283335 commented on #3030
@Myshiner. What kind of function is provided by zookeeper in your application,  config center, leaf generator or orchestration?

[2019-10-09 08:38] zhiyoucai opened #3196 "jar dependency conflict"
I find that some jar package conflict.

I solve this problem like the configuration below:

[code]

something wrong with orchestration

[2019-10-09 09:05] #3195 closed

[2019-10-09 09:55] Myshiner commented on #3030
it's orchestration.

[2019-10-09 09:59] wqzwh commented on #3174
When you use version 6.10.0 or lower of node, the above warning message will appear. The main reason is that during the process of downloading dependency packages, node of this version finds that some dependency packages are no longer maintained. Therefore, when warning message appears, you can choose to leave a message to the author of the package to remind them to upgrade the package. But I thin

[2019-10-09 10:02] fangxianhlhh opened #3197 "强制路由，高并发 no database route info"
## Question

 使用强制路由，按照官方说明使用，高并发查询时 报错 no database route info
**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview)

[2019-10-09 14:41] terrymanu commented on #3197
**For English only**, other languages will not accept.

[2019-10-10 00:59] wgy8283335 commented on #3030
@Myshiner. Could you provide more information about the error? Such as: log, enviroment information and so on. Only connection time out is very hard to dug.

[2019-10-10 01:00] avalon566 commented on #3115
@KomachiSion @terrymanu I think we can discuss about Which is import job for merge into ss.

[2019-10-10 01:14] KomachiSion commented on #3115
I think the last job `Integrate with ShardingSphere` can be done after merged.

[2019-10-10 01:27] wqzwh opened #3202 "Improving sharding-ui-frontend details modification"
Tasks to be completed：

- [x] Gitkeep deleted
- [x] Test coverage was not performed
- [x] iconfont. EOT font file needs to be processed
- [x] Elementui license problem, cannot modify the source license
- [x] Ensure that there is no Chinese in the English interface.
- [x] Logo. spec. JS Picture Path does not exist
- [x] Files in the root directory should be moved to the appropriate places as far as

[2019-10-10 01:32] terrymanu commented on #3190
How to split the db by table name?

[2019-10-10 02:33] wqzwh commented on #2908
add new scenarios

- [x] shardingjdbc_vs_shardingproxy_encrypt
- [x] shardingjdbc_vs_shardingproxy_sharding_encrypt

https://github.com/apache/incubator-shardingsphere-benchmark/pull/6

[2019-10-10 03:59] lonyee1989 opened #3203 "sharding is not support LocalDateTime type field"
## Bug Report

InvalidDataAccessApiUsageException: Error attempting to get column 'create_time' from result set.  Cause: java.sql.SQLFeatureNotSupportedException: getObject with type
; getObject with type; nested exception is java.sql.SQLFeatureNotSupportedException.

getObject with type
	at org.apache.shardingsphere.shardingjdbc.jdbc.unsupported.AbstractUnsupportedOperationResultSet.getObject(Abs

[2019-10-10 04:42] avalon566 commented on #3115
PostgreSQL support also can be done after merged. I think is ready to merge.

[2019-10-10 07:04] Myshiner commented on #3030
@wgy8283335 the sharding-proxy and zookeeper running on a same machine with OS version Centos Linux release 7.5, sharding-proxy 3.1.0, zookeeper 3.4.13. and the error log as follow(And now i didn't get this kind error any more.)

2019-09-12 18:13:14.852 [main-EventThread] ERROR org.apache.curator.ConnectionState - Connection timed out for connection string (10.10.0.193:2182) and timeout (500) / el

[2019-10-10 07:08] KomachiSion commented on #3017
The reason caused this problem is ShardingResultSet/EncryptResultSet get value accroding to the metadata. So we need to get value accroding to target type in StreamQueryResult.

But for MemoryQueryResult, ShardingSphere need to get value before users call getXXX method, so maybe transfer the value to target type in ShardingResultSet/EncryptResultSet.

[2019-10-10 08:33] xiyelife opened #3207 "the plain column and cipher column are out of order when update"
### Which version of ShardingSphere did you use?
4.0.3-RC3-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
can update plain column and cipher column corrected
### Actual behavior
the plain column and cipher column are out of order when update
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, s

[2019-10-10 08:37] xiyelife commented on #3207
@tristaZero   I asked this question before.

[2019-10-10 09:49] zhegexiaohuozi opened #3210 "ON DUPLICATE KEY UPDATE support incompletely on mybatis"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-10 09:52] liusf1993 opened #3211 "Statement "SELECT GET_LOCK('lock10086')" doesn't work as expected"
[code]
while executing two statements above, UnicastRoutingEngine was chosen because not logic tables is empty.
And the first statement may be executed on database db1, second on database db2, resulting that the lock is not freed.
Can you support an option for using DefaultDatabaseRoutingEngine while no logic table exists.

[2019-10-10 09:52] zhuyaoming opened #3212 "how to use all table in one db use the same sharding rule"
need to config ervery tables? if my tables have 100+  its so difficult to config. can use common config?

[2019-10-10 10:07] lonyee1989 commented on #3203
@terrymanu shardingsphere defaulf jdk version is 1.7

I've extended this feature on fork and upgraded the JDK to 1.8 for functionality.

`4.0.0-RC2-1.8`
https://github.com/lonyee1989/incubator-shardingsphere/tree/4.0.0-RC2-1.8

_Mybatis 5+ is mainly supported_

`The implementation code`

1. package org.apache.shardingsphere.shardingjdbc.jdbc.core.resultset;
[code]

2. package org.apache.shardingsp

[2019-10-10 10:08] #3017 closed

[2019-10-10 10:13] lonyee1989 commented on #3210
@zhegexiaohuozi  Please use following format.

_ON DUPLICATE KEY UPDATE col_2 = col_2 + VALUES(col_2)_

[code]

[2019-10-10 10:15] terrymanu commented on #3207
@xiyelife Can you provide the issue no for the previous question?

[2019-10-10 10:17] terrymanu commented on #3211
What is your version?

[2019-10-10 10:33] xiyelife commented on #3207
@terrymanu  the question like this:
https://github.com/apache/incubator-shardingsphere/issues/2923#issuecomment-528240055
https://github.com/apache/incubator-shardingsphere/issues/2923#issuecomment-528244617

[2019-10-10 10:51] tristaZero commented on #3207
Hi @xiyelife I have fixed this bug in #2975. Somehow, the class of BaseParameterBuilder.java is modified by @terrymanu.
Hi Liang, can u check it? Thanks

[2019-10-10 11:05] wgy8283335 commented on #3030
@Myshiner . As you said, now I didn't get this kind error anymore. Do you think there was a netowrk problem at that time when the error was happening.

[2019-10-10 11:14] liusf1993 commented on #3211
shardingsphere : 4.0.0-RC2
mysql: mysql  Ver 14.14 Distrib 5.7.27, for Linux (x86_64) using  EditLine wrapper
java: java version "1.8.0_201"

[2019-10-10 11:20] wgy8283335 opened #3213 "There are two methods which are very like each other in DerivedColumn.class"
## There are two methods which are very like each other in DerivedColumn.class

org.apache.shardingsphere.core.optimize.segment.select.projection.DerivedColumn

[code]

[2019-10-10 12:34] #3203 closed

[2019-10-10 13:04] terrymanu commented on #1548
After rewrite module refactor already finished, we can redefine tasks for rewrite test module.

- [ ] Use yaml to setup encrypt rewrite engine
- [ ] Unify sharding and encrypt's configuration of table names and column names
- [ ] Use parse engine to setup SQLStatementContext
- [ ] Use Parametermized test and XML to setup rewrite test engine

[2019-10-10 13:08] terrymanu commented on #1548
Parametermized test's xml definition:

<rewrite-assertions>
    <rewrite-assertion original-sql="xxx" original-parameters="xx, xx" rewrited-sql="xxx" rewrited-parameters="xx, xx" />
</rewrite-assertions>

[2019-10-10 13:14] terrymanu commented on #3213
It maybe cause by merge issue, we can keep the method `isDerivedColumn` and remove other one.
Does some one want to submit a pull request?

[2019-10-10 13:16] terrymanu commented on #3212
100+ tables may not very difficult to config, it is only config one time.

[2019-10-10 13:54] #3139 closed

[2019-10-10 13:55] xfyang1989 opened #3215 "SQL execution is slow under sub-database sub-table"
The following SQL sub-database sub-table query is very slow, nearly 1.5s, why? But it only takes a few milliseconds to execute in mysql.

Ic_sku_channel_inventory unique index(`sku_code`,`warehouse_code`,`first_channel`,`second_channel`),

`select id,first_channel, sku_code, version,second_channel,warehouse_code,warehouse_type,
inventory_num, normal_inventory_num, damage_inventory_num, locked_num,

[2019-10-10 14:07] terrymanu commented on #3215
What is `sub-database`?

[2019-10-10 14:08] terrymanu commented on #3215
What is your configuration and log with sql.slow?

[2019-10-10 14:12] terrymanu commented on #3130
Not yet, the SQL parse module need to understand subquery first.
Right now the SQL parse module only can pass subquery

[2019-10-10 14:12] terrymanu commented on #3130
We will continuously improve SQL parse module, it is not a short goal, so I just close this issue.

[2019-10-10 14:12] #3130 closed

[2019-10-10 14:13] terrymanu commented on #3075
What is log of sql.show?

[2019-10-10 14:19] terrymanu commented on #3203
What is the reason to close the issue?

[2019-10-11 00:55] zhuyaoming commented on #3212
every table to config? all table have the same rule.

[2019-10-11 01:08] wgy8283335 commented on #3213
@terrymanu  I'd like to make this pull request.

[2019-10-11 01:20] KomachiSion commented on #3115
There are two more things we should prepare before merge
1. Code checkstyle. If the checkstyle can't pass, it will install failed after merge.
2. Documents. we should add some documents, at least add operation document to teach users how to use this component. After merged, we can migrate these document to [apache/incubator-shardingsphere-doc](https://github.com/apache/incubator-shardingsphere-doc

[2019-10-11 01:27] xfyang1989 commented on #3215
the version 4.0.0-RC2,  The parameter (sql.slow)  is set to false.
A lot of similar SQL is slow, causing severe performance degradation, I suspect that the trackingspehere SQL parsing is very slow

[2019-10-11 01:28] miniygq commented on #2712
4.0.0-RC2 I meet the same problem，Normal after removing druid

[2019-10-11 01:40] xfyang1989 commented on #3215
This is mysql execution time
![{89392B63-E470-46F0-9F18-4344EBF28009}_20191011093803](https://user-images.githubusercontent.com/25191518/66618301-346f1000-ec0b-11e9-8133-01a53841aa3c.jpg)

[2019-10-11 02:02] lonyee1989 commented on #3203
@terrymanu Shardingsphere is now implemented based on jdk1.7, but LocalDateTime is jdk1.8+. I have implemented mybatis and LocalDateTime by using the extension of getObject().

[2019-10-11 02:19] lonyee1989 commented on #3190
It is recommended to divide the database through the table content identification field. If the database is divided according to the table name, it should be multi-database, rather than the shard of the database.

[2019-10-11 03:22] terrymanu commented on #3215
If care about performance, please use parameter marker instead of inline literals.

[2019-10-11 03:27] fangxianhlhh opened #3219 "use Hit insert exception"
## Question
when user Hit  insert has exception,
No problem with other database operations

java.lang.ClassCastException: org.apache.shardingsphere.core.optimize.transparent.statement.TransparentOptimizedStatement cannot be cast to org.apache.shardingsphere.core.optimize.sharding.statement.dml.ShardingInsertOptimizedStatement

Why？ How to solve it?

**For English only**, other languages will not a

[2019-10-11 03:34] terrymanu commented on #3219
What is your version? What is your configuration and log with sql.slow?

[2019-10-11 03:35] xfyang1989 commented on #3215
Is there a sample, for example? Now many online queries are two or three seconds? Is there a better way?

[2019-10-11 03:35] csgirl562857639 commented on #234
魔力耳朵 https://magicears.com.cn/

[2019-10-11 03:41] xxx1204 opened #3220 "导入类"
您好，怎么在配置文件导入java类，比如标准分片策略的类。

[2019-10-11 03:43] xxx1204 opened #3221 "时间分片"
您好！
  proxy 怎么时间，整数，关键字分片

[2019-10-11 03:49] #3132 closed

[2019-10-11 03:51] terrymanu commented on #3131
Closed because creator can not provide further necessary information

[2019-10-11 03:51] #3131 closed

[2019-10-11 03:52] #3221 closed

[2019-10-11 03:52] terrymanu commented on #3221
**For English only**, other languages will not accept.

[2019-10-11 03:52] terrymanu commented on #3220
**For English only**, other languages will not accept.

[2019-10-11 03:52] #3220 closed

[2019-10-11 03:53] terrymanu commented on #3219
Did you mean Hint? Can you change fix the typo?

[2019-10-11 03:55] betterjava commented on #3219
What is your version? What is your configuration and log with sql.**show**?

[2019-10-11 04:03] betterjava commented on #3138
I will try to do this.

[2019-10-11 04:29] terrymanu commented on #3215
Using SQL like this way:

[code]

[2019-10-11 04:29] #3215 closed

[2019-10-11 04:35] terrymanu commented on #3212
The question is same as:

`
I have 100+ tables and all structure of tables are same, but they just have different table names.
Can I use one DDL SQL to create all this 100+ tables?
`

So I just close this issue and label it as invalid.

[2019-10-11 04:35] #3212 closed

[2019-10-11 04:37] terrymanu commented on #3211
What is your expected action to using lock in a sharding databases? just lock all of the table?

[2019-10-11 05:26] tuohai666 commented on #3040
Sharding-Proxy only support TCP/IP communication for now.

MySQL client treat 'localhost' via UNIX Domain Socket while treat '127.0.0.1' via TCP/IP. This explains why you can't use localhost to connect Sharding-Proxy.

To resolve this problem you can:
1. Set protocol=tcp in my.cnf to enforce connecting by TCP/IP.
OR
2. You can still use localhost if your MysQL client is running on Windows, because

[2019-10-11 05:26] #3040 closed

[2019-10-11 05:48] zhuyaoming commented on #3212
The table structure is different, but the sharding rule is the same as a field sharding.

[2019-10-11 05:59] xfyang1989 commented on #3215
Every time the first query like this SQL is very slow, the second time may be due to the underlying cache.
I am using parameter marker ,like this :
![{EB7BA170-E110-4782-B4FC-4FF116E55A77}_20191011135554](https://user-images.githubusercontent.com/25191518/66627656-00a5e180-ec2f-11e9-862e-81a97c0b257c.jpg)

![{8412DF94-06B8-4516-8BB4-3639BD8E3C4C}_20191011135735](https://user-images.githubuserconte

[2019-10-11 05:59] xfyang1989 commented on #3215
Database connection pool is HikariCP

[2019-10-11 06:03] fangxianhlhh commented on #3219
Thank you for your reply. I use  shardingsphere  version 4.0.0-RC2，mybatisplus version3.1.0,springBoot version 2.1.3.

The problem has been solved. The table primary key uses self-increasing primary key and is modified to “SNOWFLAKE” algorithm generation. The problem has been solved.

Thank you!

[2019-10-11 06:03] #3219 closed

[2019-10-11 06:07] nancyzrh opened #3222 "remove two method in TableAssert and make sure the table number of xml is correct"

[2019-10-11 07:18] xxx1204 opened #3225 "sharding"
Hello!
Proxy how time, integer, keyword sharding。

How do I import Java classes in a configuration file, such as those of the standard sharding strategy。

[2019-10-11 07:23] wgy8283335 opened #3226 "There is a question in ShardingMasterSlaveRouter.route()?"
## There is a question in ShardingMasterSlaveRouter.route()?
org.apache.shardingsphere.core.route.router.masterslave.ShardingMasterSlaveRouter
[code]

[code]

My concern is these lines
[code]
`MasterVisitedManager.isMasterVisited()` in ` isMasterRoute()` in `if` sentence.
If the result is true.
Then `MasterVisitedManager.setMasterVisited();` will set the value again, value is also true.
If the res

[2019-10-11 08:23] #3226 closed

[2019-10-11 08:31] wgy8283335 opened #3227 "Parameter "masterDataSourceName" in "MasterSlaveLoadBalanceAlgorithm.getDataSource()" is not used in implementation class."
## Parameter "masterDataSourceName" in "MasterSlaveLoadBalanceAlgorithm.getDataSource()" is not used in implementation class.

[code]

[code]

[code]

[2019-10-11 08:54] ssxlulu commented on #3077
Hi, @avalon566 ,It takes me some time to overview the issues about the scaling out component, the component has almost coded complete？Right？
So, Do you have some documents about the component? Just like design document, architecture documentation, etc. I think these documents will help other people to kown and take part in the project easily.

[2019-10-11 09:03] ssxlulu commented on #3077
When i first know the component, i want to know its particle size of migration, only can migrate database or can migrate tables separately. And do you use canal to parse the mysql binlog?

[2019-10-11 09:20] terrymanu commented on #3225
Please change title more make sense

[2019-10-11 09:49] xfyang1989 commented on #3215
I understand, it may be my sql dynamic, causing the sharingspehere to think that every time the new sql will be initialized and loaded once, no previous cache is used.

[2019-10-11 10:03] #3222 closed

[2019-10-11 10:15] terrymanu opened #3230 "Adjust INSERT VALUES's encrypt derived columns sequence same as INSERT/UPDATE SET"
If the original SQL is:

[code]

After rewrite, the SQL is:

[code]

We should keep consist with `INSERT/UPDATE SET`. After rewrite, the SQL should be:

[code]

[2019-10-11 10:55] #3207 closed

[2019-10-11 11:16] AndreyUS opened #3231 "Issue with data type "INT UNSIGNED""
## Bug Report

1. Create the table

  `my_id` int(11) unsigned NOT NULL,
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
2.  I'm trying to extract value:

Exception occurs:

	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:114)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:97)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:89

[2019-10-11 11:29] terrymanu commented on #3226
Any reason to close this issue?

[2019-10-11 12:13] #3144 closed

[2019-10-12 01:25] KomachiSion commented on #3077
Hi, @terrymanu @avalon566 @dongzl

The prepare works have almost done, see #3115 .
I think we can write proposal now and start to vote after 4.0.0-RC3 release.

What do you think about?

[2019-10-12 01:28] ssxlulu commented on #3077
@avalon566 It is my privilege to join you! So how do you communicate with each other, email or wechat group?

[2019-10-12 01:34] KomachiSion commented on #3077
@ssxlulu, Welcome to join us, you can discuss what's you want to do in #3115, [sharding-scaling#2](https://github.com/avalon566/sharding-scaling/issues/2) or wechat group.

[2019-10-12 01:44] ssxlulu commented on #3077
@KomachiSion Thank you. I will take some time for deeply understanding the component, and then discuss with you.

[2019-10-12 02:29] bxvs888 opened #3233 "shardingsphere proxy 4.0.0-RC3-SNAPSHOT JDBC execute SQL report org.apache.shardingsphere.shardingproxy.frontend.command.CommandExecutorTask - Exception occur: java.lang.IndexOutOfBoundsException: readerIndex(22) + length(2) exceeds writerIndex(23): PooledSlicedByteBuf(ridx: 22, widx: 23, cap: 23/23, unwrapped:"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-12 02:38] liusf1993 commented on #3211
I'm integrating Shardingsphere into an old application. The lock is worked in another dependent jar related to db, and it's just a distributed lock for intializing. To keep the jar pure, we don't want to introduce another jar like zookeeper or redis for a distribute lock in the jar at moment.  Keeping the lock and release work on the same database is just ok for us at moment.

[2019-10-12 04:03] xiyelife commented on #3207
@terrymanu  use the latest version , when insert by mybatis, the parameters were still found to be out of ordered.   I think it's the cause of the parameter "time_inst: now()". here is scenario:

<insert id="insert" parameterType="com.msxf.eyas.model.cust.CustContact">
    insert into cust_contact_sharding (id,cust_id, unique_id, contact_name,
      contact_relation, contact_mobile, contact_addres

[2019-10-12 04:20] dongzl commented on #3233
Hi @bxvs888 , can you provide more details, such as  your configuration、SQL、code and so on.

[2019-10-12 04:39] dongzl commented on #3095
@wgy8283335 Hi, I have a question about `org.apache.shardingsphere.orchestration.config.api.ConfigCenter` interface, and want to discuss with you.

I think some method about this interface is not defined for a common configuration system, eg: getChildrenKeys()、close(), a common configuration system dose not provide relationship between keys and don't need close, of course, we can throw `Unsupporte

[2019-10-12 04:42] bxvs888 commented on #3233
@dongzl
spring jdbc  postgres
driver: postgresql-42.2.8.jar
jdbc config:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:3307/CHL_WS_CMD
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: ACM

[2019-10-12 04:45] bxvs888 commented on #3233
public final class PostgreSQLComBindPacket extends PostgreSQLCommandPacket {

    private final String statementId;

    private final String sql;

    private final List<Object> parameters;

    private final boolean binaryRowData;

    public PostgreSQLComBindPacket(final PostgreSQLPacketPayload payload, final int connectionId) throws SQLException {
        payload.readInt4();
        payload.re

[2019-10-12 04:46] #3202 closed

[2019-10-12 05:16] bxvs888 commented on #3233
ERROR this method ,read Parameter first parameter OK , read two Parametr err.

private List<Object> getParameters(final PostgreSQLPacketPayload payload, final List<PostgreSQLBinaryStatementParameterType> parameterTypes) throws SQLException {
        int parametersCount = payload.readInt2();
        List<Object> result = new ArrayList<>(parametersCount);
        for (int parameterIndex = 0; paramet

[2019-10-12 05:25] dongzl commented on #3077
I have no problem, I think it's OK.

[2019-10-12 05:43] bxvs888 commented on #3233
public final class PostgreSQLStringBinaryProtocolValue implements PostgreSQLBinaryProtocolValue {

    @Override
    public int getColumnLength(final Object value) {
        return value.toString().length();
    }

    @Override
    public Object read(final PostgreSQLPacketPayload payload) {
//错在这里，读时没有指定长度。
        return payload.readStringNul();
    }

    //public final class PostgreSQLStringBi

[2019-10-12 06:05] dongzl commented on #3233
Hi @bxvs888 , I think you can submit PR to ShardingSphere. ^_^

[2019-10-12 06:41] wgy8283335 commented on #3095
@dongzl  Ok, could you explain the definition of the interface?  Which method is suggested to be deleted, and which should be modified or kept?

[2019-10-12 07:40] xiyelife opened #3234 "When insert by mybatis, the parameters were still found to be out of ordered."
### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
insert correct
### Actual behavior
When insert by mybatis, the parameters were still found to be out of ordered.
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configurat

[2019-10-12 07:55] ssxlulu commented on #3115
A document about the overview of the component may be added in the prepare works list I think, people will know the architecture、design idea and processing flow about the component.
Is anyone writing it？

[2019-10-12 08:19] avalon566 commented on #3115
@ssxlulu You can create an issue and assign it to yourself.

[2019-10-12 08:20] bxvs888 commented on #3233
@dongzl  ^_^  submited

[2019-10-12 08:31] ssxlulu commented on #3115
https://github.com/avalon566/sharding-scaling/issues/15 , I have opened this issue.

[2019-10-12 08:50] dreamingo88 opened #3236 "sharding-proxy 4.0 not support mysql 8.0?"
we test sharding-proxy 4.0 rc2 with mysql 5.7 (1*master + 2*slaver), it works well.

but not works with mysql 8.0 (1*master + 2*slaver), our app (spring boot 2.x) always report error: "Unknown system variable 'query_cache_size‘“ when use mysql driver 5.1.4x. if upgrade mysql driver to 8.0.1x, it always report "cannot connection database".

is there any plan to support mysql 8.0?

[2019-10-12 09:06] terrymanu commented on #3236
Is it duplicate with #3097?

[2019-10-12 09:07] terrymanu commented on #3234
Can you make sure your 4.0.0-RC3 is newest version?

[2019-10-12 09:29] xiyelife commented on #3234
@terrymanu  yes, I sync from apache/dev yesterday
the vesion is: https://github.com/xiyelife/incubator-shardingsphere
I will try to use the latest version ， thanks！

[2019-10-12 10:08] terrymanu commented on #3234
The test cases of encrypt are still combing, they are in
https://github.com/terrymanu/incubator-shardingsphere/blob/dev/sharding-core/sharding-core-rewrite/src/test/java/org/apache/shardingsphere/core/rewrite/feature/encrypt/EncryptSQLRewriteEngineTest.java

I will fix all encrypt's test cases on next pull request.

[2019-10-12 10:16] tuohai666 commented on #3097
1. If we want to change the version of mysql-connector-java from 5.x to 8.x, we should also update the  HikariCP. Because HikariCP-**java7** at 2.4.11 in Sharding-Proxy now does not compatible with mysql-connector-java 8.x.

2. If we want to upgrade HikariCP, we should also update the Java version from 1.7 to 1.8.

3. Connector/J 8.x also requires Java 1.8
![image](https://user-images.githubuserco

[2019-10-12 10:17] tuohai666 commented on #3236
Duplicate with #3097.

[2019-10-12 10:17] #3236 closed

[2019-10-12 10:33] terrymanu opened #3237 "Parse `ON DUPLICATE KEY UPDATE xxx= VALUES(xxx)` error"
Can not parse SQL `ON DUPLICATE KEY UPDATE` with `VALUES`

[2019-10-12 10:47] xiyelife commented on #3234
I just tested the latest version. I still have that problem.
yeah, this would be very good.

[2019-10-12 11:25] #3237 closed

[2019-10-12 23:55] dongzl commented on #3095
Hi @wgy8283335 , Although some methods don't need implemention for other configuration system, but they are suitable for ZooKeeper. So I don't know how to fix this interface definition properly. Maybe `throw UnsupportedOperationException` is the best way.

Do we open a new issue to discuss this question or in WeChat?

[2019-10-13 03:30] wgy8283335 commented on #3095
Thank you. @dongzl you could open a new issue. And provide implementation class of config center, such as : apollo and any other implementation. List method of the class, and then we could discuss which method  is common used and which is only for a particular implementation class. Will you? It's a good time to make config center better.

[2019-10-13 03:50] dongzl commented on #3095
Hi @wgy8283335 , OK, I will do it.

I just submit a PR to ShardingSphere a moment ago, and I am waiting the code review, when ShardingSphere give me a feedback, I will open a issue to discuss this question according to the feedback.

[2019-10-13 05:33] terrymanu opened #3240 "SQL92 parse or expression have problem"
When using sql92 to parse sql, the expression is error, but MySQL dialect is ok.

[code]

It maybe cause by `OR`, we need to investigate it.

[2019-10-13 05:39] terrymanu opened #3241 "SQL92 parse varchar literal error"
When using sql92 to parse sql, the varchar literal is error, but MySQL dialect is ok.

[code]

[2019-10-13 07:31] terrymanu commented on #1548
finally, the xml definition is:

[code]

[2019-10-13 12:02] terrymanu commented on #3225
Closed because title doesn't make sense.

[2019-10-13 12:02] #3225 closed

[2019-10-13 12:03] #3190 closed

[2019-10-13 12:05] terrymanu commented on #3211
Distribute solution is not Silver Bullet, please refactor old system towards distribute solution.

[2019-10-13 13:22] terrymanu opened #3243 "Insert multiple with mix literals and parameters will cause encrypt error"
For example, the SQL is like:

[code]

The SQL parameter will be encrypted by literals. For this example, parameter will encrypt `bbb`, not the 3rd parameters of value group.

[2019-10-13 14:09] #3243 closed

[2019-10-14 02:43] terrymanu commented on #3234
All test cases of encrypt are in `incubator-shardingsphere/sharding-core/sharding-core-rewrite/src/test/resources/encrypt`

This case is in `insert.xml` case id is `insert_values_for_parameters`

[2019-10-14 02:44] terrymanu commented on #3234
All test cases are related #1548

[2019-10-14 02:45] #3162 closed

[2019-10-14 03:50] liusf1993 commented on #3211
Firstly, I don't think db lock on the same database is not a distribute solution, although it may not be the best solution in most cases.

Then, let's skip the distribute lock.
The case that database partition is only required for some special tables exists, which means all other tables being in a default or primary database, sql with no tables is the same. `default-data-source-name` is worked for

[2019-10-14 04:05] yhsmy opened #3247 "concat() nest left() function-->>can not find the logic table name"
when I use concat() --> OK
when I use left() --> OK
when I use concat()&left() such as:
concat(left(column-id,8),"test")
--> ✖ can not find the logic table name,then select a random datasource.

db:mysql
version:  Both 4.0.0-RC1  and  4.0.0-RC2

[2019-10-14 04:31] terrymanu commented on #3211
Do we talk about horizontal sharding?

[2019-10-14 06:25] liusf1993 commented on #3211
I'm sorry for using inappropriatethe case, which made us be involed into distributed lock.
Let me describle my case agnin:
I have two db `db1` and `db2`.  `db1` ows table `t1`,`t2`,`t3`, function `f1`,  and  `db2` only onws `t2`.
Only table  `t2` was in partition, so I want sql related to  `t1` , `t3`, `f1` to be executed on db1, only `t2` be executed on `db1` and `db2` according to it's condition

[2019-10-14 07:35] tuohai666 commented on #3241
Duplicate with #3240.

[2019-10-14 07:35] #3241 closed

[2019-10-14 07:37] tuohai666 commented on #3240
Yes, you are right, the problem is caused by OR.
The OR keyword should not appear in simpleExpr.

[2019-10-14 09:04] zzy97092236 opened #3255 "DATA MASKING-- Encrypt-JDBC couldn't not get decrypt information after execute select method"
Properties props = new Properties();
        props.setProperty("aes.key.value", "123456");
        EncryptorRuleConfiguration encryptorConfig = new EncryptorRuleConfiguration("GMS", props);
        EncryptColumnRuleConfiguration columnConfig = new EncryptColumnRuleConfiguration("", "id_number_encypt", "", "aes");
        EncryptTableRuleConfiguration tableConfig = new EncryptTableRuleConfiguration

[2019-10-14 09:44] avalon566 opened #3256 "Provider Scaling out Interface"
## Sequence diagram

![sequence diagram](http://www.plantuml.com/plantuml/svg/hP0nJiOm38NtdCBgpWKOq7y19jG3cCHjBQLsiHr1EJsHkaH8PMBpyBxdJ-_XWHPjhsbsCdXwWUajOsLPuHKzo2Pu1gEFHXv0NvHR47XF46YBz3jyK-2dvCrK-9kWO62ggWSq2QxmZiuTgEUGmc2L133DVb_QdMo420o34ab90tTTNU6J8szWX4MbFzkrqAWnzYmix1kL_p6utzD3Zn7_mziTiih2QxDhd0T9QNlz0G00)

## Feature
- [x] Create/Start Scaling job interface
- [x] Query Scaling job interfa

[2019-10-14 09:48] zbj1986 opened #3257 "java.lang.ClassCastException: java.lang.Long cannot be cast to java.lang.Intege"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-14 09:57] KomachiSion commented on #3256
Reference #3077.

[2019-10-14 10:00] xiyelife commented on #3234
@terrymanu
By using the latest version, I still find that the order of the parameters is wrong:
The generating logic for encrypting rewriting sql is to replace the original field with an encrypted fields，then append the original fields to the end of the sql
now，The sql is generated in sqltoken order in the inserted column like this:
[name_encrypt, ident_encrypt, mobile_encrypt, , **mobile, ident,

[2019-10-14 10:42] tuohai666 opened #3259 "Clear SQL92 problems for encrypt tests"
### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Both
### Expected behavior
All test cases in incubator-shardingsphere/sharding-core/sharding-core-rewrite/src/test/resources/encrypt should pass.
### Actual behavior
SQLs with single quotes can not pass the tests
### Reason analyze (If you can)
Lexers with single quot

[2019-10-14 11:49] #3240 closed

[2019-10-14 12:22] tristaZero opened #3262 "Table owner is lost for logic encrypt column"
## Bug Report

**For English only**, other languages will not accept.

### Bug
When logic encrypt column has owner in Query SQL, its assistedQueryColumn, cipherColumn and plainColumn can not be rewrite in actual SQLs correctly.

### Which version of ShardingSphere did you use?
**4.0.0-RC2**

### Description
Considering Encrypt Rule is,
[code]
And SQL is,

The correct rewritten SQL is,

But current

[2019-10-14 12:29] terrymanu commented on #3255
What is your version and SQL?

[2019-10-14 12:46] #3259 closed

[2019-10-14 12:48] xiyelife commented on #3234
he update still has this problem, too

[2019-10-14 12:53] terrymanu commented on #3213
I check the code carefully, they are different with that 2 methods.

In method `isDerivedColumnName`, it use `DerivedColumn.values()`;
In method `isDerivedColumn`, it use `DerivedColumn.getValues()`;

The different of `DerivedColumn.values()` and `DerivedColumn.getValues()` is deal with AGGREGATION_DISTINCT_DERIVED.

So we cannot just merge those 2 methods, need refactor further. So I just close t

[2019-10-14 13:51] zzy97092236 commented on #3255
1、version
<version>4.0.0-RC2</version>
2、sql with SpringDataJPA
 2019-10-14 21:42:39.938  INFO 10868 --- [nio-9002-exec-1] ShardingSphere-SQL                       : SQL: select zzyinfo0_.id as id1_1_0_, zzyinfo0_.create_time as create_time2_1_0_, zzyinfo0_.create_user_id as create_user_id3_1_0_, zzyinfo0_.id_number_encypt as id_number4_1_0_, zzyinfo0_.update_time as update_time5_1_0_, zzyinfo0_.u

[2019-10-14 14:17] dongzl commented on #3231
Hi @AndreyUS , I debug the program, the program return value according to the column type.

`Types.INTEGER -> return resultSet.getInt(columnIndex);`
but if the column is unsigned int type, it should be return `Long` value.

I want to fix it according to the column type and column type name, eg:
if the column is int type, the column type is `Types.INTEGER` and column type name is `INT`
but if the c

[2019-10-15 01:36] wqzwh opened #3264 "sharding-ui-frontend optimization correlation"
The optimization is as follows：

- [ ] 1. Click Add a registry, the orchestration Name in the table has a line break, and the problem of letters'case unity

- [ ] 2. Copyright deletes year information and adds UI version number, 2018?

Copyright_The Apache Software Foundation, Licensed under the Apache License, Version 2.0, UI Version 1.0.0.

- [ ] 3. Rename the left label bar

Config reigst--Regi

[2019-10-15 01:41] wqzwh opened #3265 "sharding-ui-frontend config file problem"
- [ ] 1. Allow the creation of new config. But when activated, you must check whether you can connect to ZK and whether there is a node on zk.

- [ ] 2. When multiple configs exist, one of them cannot be edited and must be deleted and recreated.

[2019-10-15 01:43] wqzwh opened #3266 "sharding-ui-frontend multilingual support"
- [ ] 1. Multilingual English clicks don't work. In addition, when the interface is English, the button should be displayed: Chinese. When the multilingual function is not complete, this can be displayed first.

[2019-10-15 01:45] redwolf2019 commented on #3075
@terrymanu

[code]

[2019-10-15 01:46] wqzwh opened #3267 "sharding-ui-frontend support other registries"
Expect to support other registries

[2019-10-15 02:15] dongzl commented on #3257
Hi @zbj1986 , I read ShardingSphere source code about pagination, I think this problem has already  been fixed, it will be include 4.0.0-RC3 version. You can focus on the RC3‘s release.

![image](https://user-images.githubusercontent.com/5917359/66794587-a6f62d80-ef34-11e9-8b21-8ca0dfca4f7a.png)

[2019-10-15 02:29] xiyelife commented on #3234
when updating, the original value is replaced for the first time, the original value parameter is added to the new parameter list, the index of the encryption field and the original field is changed, and the parameter index of the next encryption field should be obtained from the changed parameters, instead of continuing to get it from the original list of parameters

[2019-10-15 02:40] #3257 closed

[2019-10-15 03:05] terrymanu commented on #3233
@bxvs888 Can you have a look on your pull request and try to solve the code review suggestion?

[2019-10-15 03:06] beckhampu commented on #3264
@wqzwh , we should add a task：
- [ ]  Update readme file to add sharding-ui build artifact.

[2019-10-15 03:48] chuchengyi opened #3269 "Performance tests data to the shadow table"
Now，Performance testing in distributed systems is a regular process.
Performance tests will generate dirty data.Sharding-jdbc shuld write performance test data to the shadow table.
personally recommend considering providing plugins to support shadow tables in the sql execution layer.

[2019-10-15 03:54] terrymanu commented on #3234
Do we miss some test cases? can you add the test case into the xml?

If the test case can not run correctly, you can just comment it and label it as `FIXME`

[2019-10-15 03:57] terrymanu commented on #3211
This is make sense, can you close this issue and open a new issue to talk about it?
Because the title and content of this issue is mismatched.

[2019-10-15 03:59] terrymanu commented on #3210
Fixed at #3237

[2019-10-15 04:00] terrymanu commented on #3215
Yes, you get the point

[2019-10-15 05:44] dongzl commented on #3262
Hi @tristaZero , I am glad to finish it.

[2019-10-15 05:51] liusf1993 commented on #3211
Okay!

[2019-10-15 05:52] #3211 closed

[2019-10-15 06:02] parthibd opened #3272 "Resharding in sharding-proxy?"
I would like to know if sharding-proxy supports resharding automatically as a new node is added ?

[2019-10-15 06:04] liusf1993 opened #3273 "Default database doesn't work on sql without tables"
My case is like this:
I have two db `db1` and `db2`.  `db1` ows table `t1`,`t2`,`t3`, function `f1`, and `db2` only onws `t2`. Only table `t2` was in partition, so I want sql related to `t1` , `t3`, `f1` to be executed on `db1`, only `t2` be executed on `db1` and `db2` according to it's condition value. I use the configuration `spring.shardingsphere.sharding.default-data-source-name`, now sql rela

[2019-10-15 06:12] dynamohuang opened #3274 "sharding-proxy 能否通过直接修改sql语句的方式达到数据脱敏，不在数据源表添加加密字段"
rt： sharding-proxy 能否通过直接修改sql语句的方式达到数据脱敏，不在数据源表添加加密字段
如
原生语句 ：select name from customer；
脱敏处理语句：select CONCAT(SUBSTRING(name,1,1),'O', SUBSTRING(name,3)) as name from customer；

[2019-10-15 06:17] terrymanu commented on #3274
**For English only**, other languages will not accept.

[2019-10-15 06:17] #3274 closed

[2019-10-15 06:21] dynamohuang opened #3275 "Could add the feature to support masking the data by modify sql, and not add any column."
Could add the feature to support masking the data by modify sql, and not add any column.
For example
Before modify ：select name from customer；
After：select CONCAT(SUBSTRING(name,1,1),'O', SUBSTRING(name,3)) as name from customer；

[2019-10-15 06:23] terrymanu commented on #3275
The encrypt feature can support use original column as cipher column if user define the encrypt rule for same name of logic column and cipher column.

[2019-10-15 06:23] xiyelife commented on #3234
The order of the field columns in the configured encryption rules must be consistent with the order in which the books are written in SQL, otherwise the SQL parameters rewite at the time of insertion will in disorded.

[2019-10-15 06:25] terrymanu commented on #3275
Using encrypt method to handle encrypt logic is better than modify original SQL by responsibility separated reason.

[2019-10-15 06:34] KomachiSion commented on #3272
ShardingSphere can't resharding automatically for now.
Auto scaling out feature is developing, sharding-scaling will be merged after release 4.0.0-RC3.
Detail see #3077 .

[2019-10-15 06:46] xiyelife commented on #3234
After checking and testing the code, I found that the problem was like this：
The order of the field columns in the configured encryption rules must be consistent with the order in which the code are written in SQL, otherwise the SQL parameters rewite at the time of insertion will be disordered.
**configured encryption rule:**
![image](https://user-images.githubusercontent.com/8772975/66805515-d36f

[2019-10-15 07:16] #3194 closed

[2019-10-15 07:22] xiyelife commented on #3234
I recommend adding encryption tests for more than three fields.

[2019-10-15 07:28] #1548 closed

[2019-10-15 07:59] wqzwh commented on #2908
Optimize details:

https://github.com/apache/incubator-shardingsphere-benchmark/pull/7

![image](https://user-images.githubusercontent.com/16662470/66811892-775f1980-ef64-11e9-8bf4-3b5ca8c67d4b.png)

![image](https://user-images.githubusercontent.com/16662470/66811918-82b24500-ef64-11e9-9553-556eab392c8e.png)

[2019-10-15 08:18] zhumaoliang opened #3278 "shardingjdbc 在执行update语句报错"
[我配置了读写分离，在执行update] 语句时候出错，该语句中包含case when ，比如UPDATE
        OTS_ORDER
        SET
        UPDATE_DATE = now(),
        <if test="entity.updateBy!=null and entity.updateBy != ''">
            UPDATE_BY=#{entity.updateBy},
        </if>
		<![CDATA[ STATE = ((CASE WHEN (STATE is null) THEN 1 ELSE STATE+1 END)) ]]>
错误信息如下:
org.antlr.v4.runtime.tree.TerminalNodeImpl cannot be cast to org.antlr.v4.run

[2019-10-15 08:21] AndreyUS commented on #3231
@dongzl What value do you use for test?
Could you try with value: `4294967295` ?

[2019-10-15 08:33] dongzl commented on #3231
Hi @AndreyUS , yes When value in the valid range, it works well.

But if it beyond the range, should be `resultSet.getLong(columnIndex);`

I am fixing this problem.

[2019-10-15 08:36] dongzl commented on #3278
Hi @zhumaoliang , **For English only**, other languages will not accept.

You should describe your problem in English again.

[2019-10-15 08:51] zhumaoliang opened #3279 "Shardingjdbc execute update exception"
I configured read-write separation to make an error while executing the update statement, which contains case when.

For example, SQL statement: UPDATE OTS_ORDER SET UPDATE_DATE = now (),STATE = (CASE WHEN (STATE is null) THEN 1 ELSE STATE+1 END)

The error message is as follows:
  Org.antlr.v4.runtime.tree.TerminalNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext

[2019-10-15 09:05] #3278 closed

[2019-10-15 09:09] leelance opened #3280 "4.0.0-RC2-sharding-proxy JDBCBackendDataSource.createConnection null"
[code]
Error logs
[code]

[2019-10-15 14:18] yhsmy commented on #3273
paste your f1 sql here.
maybe the function f1 you use can not be parse exactly.
I have just opened a issue yesterday.
https://github.com/apache/incubator-shardingsphere/issues/3247

[2019-10-15 16:27] terrymanu commented on #3279
What is your version?

[2019-10-15 17:15] yanickxia commented on #3280
can you show your table schema (create table sql), help me to reappear this bug?

[2019-10-16 00:38] yanickxia commented on #3279
i reapet this bug at mysql 5.7 && proxy 4.0.0-RC3-SNAPSHOT

[2019-10-16 01:25] zhumaoliang commented on #3279
i reapet this bug at mysql 5.7 && sharding-jdbc-spring-namespace -4.0.0-RC2-SNAPSHOT @terrymanu

[2019-10-16 02:38] Myshiner opened #3285 "io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer"
Project: Sharding-proxy
Version: V3.1.0

## Question
Sharding-proxy always hung and then the application cant connect to it. And I can get some errors like following:
2019-10-16 02:10:11.486 [ ShardingSphere-Command-14 ] - [ INFO  ] [ ShardingSphere-SQL : 71 ] - SQL: set session sql_mode='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_

[2019-10-16 03:39] Myshiner commented on #3285
And sometimes its very slowly to connect to the sharding-proxy, but its fast when connect mysql, and the sharding-proxy & mysql running on the same machine.

[2019-10-16 03:43] liusf1993 commented on #3273
My case is a little different.
`f1` is just like `select now();`,
There is no table in the sql, but I want the sql executed on default database `db1` instead of  a random db.

[2019-10-16 03:46] liusf1993 commented on #3211
New issue #3273

[2019-10-16 05:45] jiangyexin opened #3289 "jdbcType=LONGVARCHAR insert into table fail"
## Bug Report
Mybatis mapper has jdbcType=LONGVARCHAR field. After sharding, the String type data is processed into StringReader type data. StringReader does not implement serialization interface, which eventually leads to serialization exception and data insertion failure
### Which version of ShardingSphere did you use?
3.1.1
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Shardin

[2019-10-16 08:12] #3247 closed

[2019-10-16 08:44] Myshiner opened #3294 "How to compute the max pool size of sharding-proxy ?"
Project: Sharding-proxy
Version: v3.1.0 & v4.x
## Question
How can i count the total connections of sharding-proxy ? should I use "netstat -an|grep :3307|wc -l" to compute on the server ?
And what's more, what's the max pool size of sharding-proxy ? Does it equal to total of "MaxPoolSize" in the config-master_salve.yaml and config-sharding.yaml ? For example, if i set MaxPoolSize to 50 with master

[2019-10-16 09:06] yanickxia commented on #3289
this a mybatis bug ?

[code]

in fact, mysql jdbc driver try to Serializable it. it's fail... i think it's without any problem on sharding...

[2019-10-16 09:10] yanickxia commented on #3294
try [SCTL (Sharding-Proxy control language)](https://shardingsphere.apache.org/document/current/en/manual/sharding-proxy/usage/)

sctl:show cached_connections | Query the number of cached physical database connections in the current TCP connection

[2019-10-16 09:46] Myshiner commented on #3294
I got the result.
mysql> sctl:show cached_connections;
+--------------------+
| CACHED_CONNECTIONS |
+--------------------+
| 0                  |
+--------------------+
1 row in set (0.00 sec)

I wonder what's the max connection of sharding-proxy, just like the "max_connections" and "max_user_connections" of mysql. Bcoz there are so many config files like "config-master_slave.yaml" and "config-sh

[2019-10-16 10:07] yanickxia commented on #3178
![image](https://user-images.githubusercontent.com/6848593/66909707-c9c13880-f03f-11e9-96e9-c375eb3ec04b.png)
i use demo-example to reapet it. but i can insert this value.... try RC3

[2019-10-16 11:02] Myshiner commented on #3294
And sharding-proxy dont support "sctl:hint show status" and "sctl:hint show table status;"
mysql> sctl:hint show status;
ERROR 11001 (S1100): 1Could not support sctl type [sctl:hint show status].
mysql> sctl:hint show table status;
ERROR 11001 (S1100): 1Could not support sctl type [sctl:hint show table status].

[2019-10-16 11:39] TonyLuo commented on #1496
@terrymanu why close this issue? 4.0.0.RC2 still has select for update issue....

[2019-10-16 11:40] yanickxia commented on #3024
@xriqyu  i try 4 different way to reappear it , but without success.

RAW - JDBC Direct to Mysql
RAW - JDBC By Proxy to Mysql

Mybatis Direct to Mysql
Mybatis By Proxy to Mysql

this is my mybatis xml

[code]

can you see any different? or give me your demo project. thanks

[2019-10-16 11:52] TonyLuo commented on #1496
or could you pls advise which java files should be focused on to help to fix this issue?

[2019-10-16 12:47] tuohai666 opened #3296 "Enhancement about the benchmark site"
Our benchmark site is available right now: https://shardingsphere.apache.org/benchmark/

Great progress has been made in presentation than the previous one.

We have reviewed the site and found several issues need to be resolved:

For text:

- [ ] All **mysql** change to **MySQL**.

- [ ] Modules can be **sharding-jdbc/sharding-proxy** while can not be **sharding/sharding proxy/shardingproxy/shard

[2019-10-16 12:59] beiwangnull opened #3297 "select for update syntax route to slave datasource"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?
4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Actual behavior

<img width="986" alt="WechatIMG877" src="https://user-images.githubusercontent.com/3151306/66921270-63e0ab00-f057-11e9-8233-ce8dd2af6693.png">

[2019-10-16 13:13] terrymanu commented on #3296
Maybe we should move this issue to https://github.com/apache/incubator-shardingsphere-benchmark

[2019-10-16 13:17] #3262 closed

[2019-10-16 15:32] qixiaobo commented on #1496
[code]
You should use hintManager

[2019-10-17 01:53] Myshiner commented on #2925
Yesterday I run with dev branch and multi-user didn't work if run with zk, but it's ok without zk config.

[2019-10-17 03:11] childewuque opened #3300 "namespace(xml),SNOWFLAKE,we can't use random?"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-17 03:28] tuohai666 commented on #3296
Yes, you are right.

The issues module for incubator-shardingsphere-benchmark is not available for now, I have asked INFRA to enable it: https://issues.apache.org/jira/browse/INFRA-19288.
I'll transport this issue to benchmark repo as soon as INFRA-19288 is fixed.

[2019-10-17 03:28] #3296 closed

[2019-10-17 03:30] alterhu2020 commented on #3257
@dongzl when this new version been release? It affects current project? thanks

[2019-10-17 04:26] terrymanu opened #3301 "Add Podling Maturity Assessment for ShardingSphere"
FIY: https://lists.apache.org/thread.html/079f151a99aaa64932942c32ebfbf4c0b1821b29ca82475d37d21297@%3Cdev.shardingsphere.apache.org%3E

[2019-10-17 06:24] zhouzhendao123456 opened #3302 ""max.connections.size.per.query" relationship with "group by ""
db:mysql 5.7.19-17-log
sharding-proxy:4.0.0-rc2
select a.x,b.y from a left join b on a.key=b.key where a.key in ('111','222') group by b.z
When I set max.connections.size.per.query = 1, the appeal code can execute normally, but when this parameter is greater than 1, there is SQL output error free information in the sharding log, but MySQL does not receive any SQL query

[2019-10-17 06:29] zhouzhendao123456 commented on #3302
sharding column is a.key and b.key
if sql is
select a.x,b.y from a left join b on a.key=b.key where a.key in ('111') group by b.z
Everything is OK

[2019-10-17 06:29] skyoxZ commented on #3154
For example, when the logicColumn is configured as "id_card", a business SQL with column "ID_CARD" will not work.

[2019-10-17 06:43] TonyLuo commented on #1496
@qixiaobo do you mean we need to overrid this method and only use HintManager.isMasterRouteOnly() to check isMasterRoute?
[code]

[2019-10-17 07:02] tristaZero opened #3303 "Wrong parameter list when auto-generated key need to add."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-17 07:06] #3301 closed

[2019-10-17 07:15] swcumt opened #3306 "How config sharding (No master salve) and master slave(no sharding) together with Sharding-jdbc"
## Question
for example

     ds0:
           table_0
           table_1
     ds1:
           table_0
           table_1
master slave database(no sharding):
     ds:
          table1
          table2
          ....

[2019-10-17 07:33] ryan8926 opened #3307 "4.0.0-RC2 max.connections.size.per.query >1 query use order by/group by not result."
servel.yaml : max.connections.size.per.query >1 and Large amount of data queried
sql :
SELECT
aci.sys_contract_id,
 aci.contract_no,
 aci.contract_name,
 aci.sys_contract_id,
acoi.sys_contract_id,
 acoi.object_name,
 acoi.sys_object_id,
 aci.progress_status,
 aci.journal_progress_status
FROM
 app1_contract_info aci
LEFT JOIN app1_contract_object_info acoi ON aci.sys_contract_id = acoi.sys_contract

[2019-10-17 07:36] cjml1982 opened #3308 "the shardingsphere desensitization not works"
## Question

Before asking a question, make sure you have:

### Which version of ShardingSphere did you use?
I use dev 4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-spring

### Expected behavior
I want to implement the data desensitization , do follow this  guid "https://www.mycitymemory.com/articles/2019/08/30/1567132582484.html"  , I will discribe t

[2019-10-17 07:40] yanyzy opened #3309 "Encryption rules do not support uppercase fields"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

Sql:
[code]

Config:

[code]

error:

[code]

[2019-10-17 07:52] Myshiner commented on #3294
@yanickxia same sctl:hint command can not be supported in sharding-proxy even configurated "proxy.hint.enabled: true".
mysql> sctl:hint show status;
**ERROR 11001 (S1100): 1Could not support sctl type [sctl:hint show status].**

  proxy.transaction.type: LOCAL
  proxy.opentracing.enabled: false
  **proxy.hint.enabled: true**
  query.with.cipher.column: true
  sql.show: true

[2019-10-17 07:58] #3303 closed

[2019-10-17 08:05] #3231 closed

[2019-10-17 08:13] yanyzy commented on #3309
[code]

[2019-10-17 08:18] terrymanu commented on #3306
If the scenario is 2 unrelated data sources, you may create one sharding-datasource for sharding only, and create masterslave-datasource  for masterslave only

[2019-10-17 08:20] terrymanu commented on #3302
Can you provide log of exception?

[2019-10-17 08:24] terrymanu commented on #3307
Is it the duplicate one with #3302?
Can you change the title to summary your question? The current title is not helpful for user to find it.

[2019-10-17 08:28] Myshiner opened #3310 "[ERROR-1146] Table 'db.triggers' doesn't exist"
Project: Sharding-proxy
Version: v4.0.0-RC3

## Question
Connect to sharding-proxy using navicate tool, and query data by double clicking table, got error.

![微信图片_20191017162105](https://user-images.githubusercontent.com/48242833/66991220-37ca3600-f0fa-11e9-8ea4-c8167a8b3d56.png)

[2019-10-17 08:31] terrymanu commented on #3300
I have 2 suggestions:
1. prop cannot support inline expression.
2. using random as snowflake's work_id is not correct. work_id should be a static value of one node.

So I just close this issue and label it as invalid.

[2019-10-17 08:31] #3300 closed

[2019-10-17 08:33] terrymanu commented on #3310
Hi, the information you provided is not enough. Please follow the issue template and fill necessary information.

[2019-10-17 08:37] terrymanu commented on #3285
Hello, version 3.x is out of service, please try to 4.x

[2019-10-17 08:37] #3285 closed

[2019-10-17 08:38] cjml1982 commented on #3308
ok， could you show me how to run the desensitization example?

[2019-10-17 08:41] #3272 closed

[2019-10-17 08:44] terrymanu commented on #3269
It is a good idea, if somebody interesting and want to do this feature, we can talk about further.

[2019-10-17 08:49] qixiaobo commented on #1496
Never! Use hint in your sql

[2019-10-17 08:51] Myshiner opened #3311 "tinyint(1) column type will result in a booleam value in the query data"
Project: Sharding-proxy
Version: v4.0.0-RC3

## Question
when the table column type be set to tinyint(1), the query result set of this column will be set to '1'. but it's ok with tinyint(2) or tinyint(3).
This bug seems to be issued in v3.1.0 and i was told that it will be resolved in the later version.

mysql> desc test2;
+-------+------------------+------+------+---------+----------------+
| Fie

[2019-10-17 09:12] terrymanu commented on #3255
Can you provide full stack trace?
It seems like hibernate's exception

[2019-10-17 09:15] swcumt commented on #3306
are you mean create 2 sharding-jdbc datasorces,  change use in program? sharding-jdbc not support?

[2019-10-17 09:21] terrymanu commented on #3187
It is a little complicated issue, I just assign to @tuohai666

[2019-10-17 09:27] RaigorJiang commented on #3196
let me try to fix it.

[2019-10-17 09:33] terrymanu commented on #3146
I check the log , ShardingSphere is correct, but the exception come from mybatis, Can you check your mybatis to make sure the parameterMarker and parameter are match?

[2019-10-17 09:37] terrymanu commented on #3136
The issue caused by parse parameter marker from complicated expression error.

[2019-10-17 09:38] terrymanu commented on #3136
Does anybody want to do it?

[2019-10-17 09:39] zzy97092236 commented on #3255
it's now doesn't have any Exception,but the return value is still encrypted and a proxy. and the mybatis framework has the same problem.
![a](https://user-images.githubusercontent.com/56537799/66997223-a57b5f80-f104-11e9-9e6e-d0323dc7fa20.png)
![b](https://user-images.githubusercontent.com/56537799/66997227-a613f600-f104-11e9-994b-fcec933e9b70.png)

[2019-10-17 09:57] yanyzy commented on #3154
Hi @skyoxZ
I think the logical column case should be consistent with sql. because some databases are case sensitive, such as mysql. plaintext columns and ciphertext columns are real columns,  maintaining the unification of the three may be clearer.

[2019-10-17 10:01] Myshiner opened #3316 "Hope set a read-only user in sharding-proxy, all requests from this user will route to slave node."
## Feature Request
Hope set a read-only user in sharding-proxy, all requests which from this read-only user will be routed to slave node. Coz sometimes the RD members need a user read-only to query data without any risk.

[2019-10-17 10:05] terrymanu commented on #3075
That is not log of shardingsphere, provide `sql.show` of shardingsphere may help to understand this issue.

And I notice the sql you provided is insert sql, not create table, so it is maybe the key point of the issue.

Can you provide more accurate information of this issue?

[2019-10-17 10:08] nancyzrh opened #3317 "optimize time cost of Integrate Test"

[2019-10-17 10:09] dongzl commented on #3311
Hi @Myshiner , I will test it according to you describe info and reply you issue.

[2019-10-17 10:32] tristaZero opened #3318 "Wrong rewritten SQL for encrypt insert SQL without parameters"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-17 10:33] terrymanu commented on #3119
During your code fragment is hard to know what happened, can you provide source code?

[2019-10-17 10:38] terrymanu commented on #3099
During the snapshot, I am not sure parsing result is correct or not, but it seems correct.

This issue is really too long, Any unexpected behaviour or exception occur?

[2019-10-17 10:38] yanyzy commented on #3308
Hi @cjml1982
I think there is a problem here

![image](https://user-images.githubusercontent.com/30677017/67001814-1fafe200-f10d-11e9-8c76-fe9bb2432c2c.png)

and you can check your configuration by referring to this document.https://shardingsphere.apache.org/document/current/cn/manual/sharding-jdbc/usage/encrypt/

[2019-10-17 11:06] #3318 closed

[2019-10-17 11:42] cjml1982 commented on #3308
Hi @yanyzy, it is true . the configuration is wrong.
        encrypt:
          encryptors:  #定义加密算法
            encryptor_aes: #加密算法1 AES，名字可以自定义
              type: aes
              props:
                aes.key.value: 123456abc

I change "encryptRule" to "encrypt" , then works.   thx!!

[2019-10-17 12:07] skyoxZ commented on #3154
@yanyzy Sometimes there's no guarantee about the column case in SQLs so that it's hard to keep the logical column case consistent. If other components of Sharding support case-insensitive situation, why Data Masking not?

[2019-10-17 12:30] #3308 closed

[2019-10-17 12:30] cjml1982 commented on #3308
the question closed

[2019-10-17 12:38] terrymanu commented on #3080
Cannot support SQL `INSERT SELECT` and `UNION`.
For the ROI reason, we have no plan to do it.

[2019-10-17 12:38] #3080 closed

[2019-10-17 12:39] terrymanu commented on #3080
You can find SQL use norms from:  https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/

[2019-10-17 12:45] terrymanu commented on #3060
Can you provide source code to help us reproduce the issue?

[2019-10-17 12:47] terrymanu commented on #3030
`Connection timed out for zookeeper server connection string (ip:2182) and timeout` means you really cannot connected zookeeper, please check your env.

[2019-10-17 12:47] #3030 closed

[2019-10-17 13:00] terrymanu commented on #3316
This feature request has a little strange. Does any similar database middleware or database has this feature?

[2019-10-17 13:01] tristaZero commented on #3003
This issue is closed, for there is no reply from author more than 7 days.

[2019-10-17 13:01] #3003 closed

[2019-10-17 14:07] #3213 closed

[2019-10-17 14:31] xiyelife commented on #3234
@tristaZero
I find that tristaZero has been fixed the insert without columns issue. Can you fix the columns together if the parameters of three or more columns are disordered?  And add three or more cipher colunms scenarios unit tests?
@terrymanu
I'll close my PR, because it involves the core logic, and I'am afraid that l make some new problem.

[2019-10-17 15:13] yanickxia opened #3320 "[Propose] add editorconfig"
## Feature Request

Add [editorconfig](https://editorconfig.org/)

### Describe the feature you would like.
helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs

[2019-10-17 15:21] kevinLuan opened #3321 "nested exception is org.postgresql.util.PSQLException: 未设定参数值 5 的内容。"
## Bug Report
Postgresql database + ShardingSphere using the following SQL times wrong:  nested exception is org.postgresql.util.PSQLException: 未设定参数值 5 的内容。

The sample：
INSERT INTO xxx(c1,c2,c3,c4,c5)VALUES (#{c1},#{c2},#{c3},#{c4},lower(#{c5}))
 ON conflict(id) DO
UPDATE SET c1=#{c1},appdes=#{c2},c4=lower(#{c5})

Through the debug code, is a postgresql parse SQL syntax tree, unable to properly

[2019-10-17 15:26] kevinLuan commented on #3321
Directly using one of the most common insert statement, when setting the Value, the database used to own function can also lead to the same error
The sample:
INSERT INTO xxx(c1,c2)VALUES(#{c1},lower(#{c2}))

[2019-10-17 23:55] SteNicholas commented on #3136
@terrymanu I want do this issue.

[2019-10-18 02:24] #3280 closed

[2019-10-18 03:29] dongzl commented on #3311
Hi @Myshiner , this is my debug pic, tinyint(1) covert to boolean value is MySQL's JDBC implemention, I think this is not a problem.

![image](https://user-images.githubusercontent.com/5917359/67063707-4d8f3800-f19a-11e9-9394-94f1f4e21b3f.png)

[2019-10-18 03:53] dongzl commented on #3104
Hi @xilipilige , I'm sorry I didn't reply to you in time.

Do you describe more details, the execute SQL and so on.

[2019-10-18 06:50] terrymanu commented on #3320
This is a interesting tool, I really expect to use it for code format.

[2019-10-18 08:07] TonyLuo opened #3323 "Read write splitter with java.net.SocketException: Connection reset"
## Bug Report

### Which version of ShardingSphere did you use?
sharding-jdbc 4.0.0-RC2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc 4.0.0-RC2
### Expected behavior

### Actual behavior
[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for r

[2019-10-18 08:43] terrymanu commented on #3323
The exception come from database. Please check your MySQL

[2019-10-18 08:43] #3323 closed

[2019-10-18 08:44] #1497 closed

[2019-10-18 09:13] terrymanu commented on #3321
duplicate with #3136

[2019-10-18 09:13] #3321 closed

[2019-10-18 09:27] #2922 closed

[2019-10-18 09:58] Myshiner commented on #3311
Yes, i know, but actually it really resulted in what i said above. And when you set tinyint(2)/(3)/(4) will be ok.

[2019-10-18 10:07] shuaiqingli opened #3324 "Caching rule profiles for spring namespaces"
When I configure through the rules of spring namespace, the spring application will load http://shardingsphere.apache.org/schema/shardingsphere/sharding/sharding.xsd

Http://shardingsphere.apache.org/schema/shardingsphere/master slave/master-slave.xsd

These specification documents. When my network is bad, the app can't start. I hope these files can be packed into jar, just like spring.

[2019-10-18 10:21] terrymanu commented on #3324
They have already in the jar: `sharding-spring/sharding-jdbc-spring/sharding-jdbc-spring-namespace/src/main/resources/META-INF/namespace`

[2019-10-18 12:31] gaoguanghai commented on #3154
Hi @yanyzy ,Before data masking, the user can use the column name a or A to operate the database to get the correct result, but it will not work with data masking, and the user will be surprised why not, so I personally think whether case-sensitive should be consistent with the database.

[2019-10-18 14:07] dongzl commented on #3311
Hi @Myshiner , I'm sorry, I don't understand your said very clearly.
Your said is: when column is tinyint(1), the value is 0 or 1, this is a bug?

Do you think what is the right result?

[2019-10-18 16:14] masankin opened #3325 "4.0.0-RC2 select SQL doesn't work on only database-strategy"
table t_user no table-strategy , only database-strategy
when execute  insert SQL can doSharding
but select SQL choose a random database

[2019-10-18 16:26] masankin commented on #3325
4.0.0-RC1 works ok under the same situation

[2019-10-19 02:36] terrymanu commented on #3325
Can you provide your config, SQL and log of sql.show?

[2019-10-19 02:40] Pramy opened #3326 "Implement TimeService for MySQL"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
Yes
### Desc

[2019-10-19 02:48] terrymanu commented on #3316
Because for slave database, whatever how to set with ShardingSphere, DBA should set readonly. The scope of ShardingSphere is control databases.
So I just close this issue.

[2019-10-19 02:48] #3316 closed

[2019-10-19 03:46] wgy8283335 commented on #650
https://wgy8283335.github.io/2019/10/18/sharding-core-preprocess/               https://wgy8283335.github.io/2019/10/15/sharding-core-route/，写了两篇分析源代码的文章

[2019-10-19 05:29] sunbufu commented on #3119
Sorry, I didn't get your point. Why not just set `hintManager.setDatabaseShardingValue("shard-1");` If you want to use `shard-1`.

[2019-10-19 05:32] sunbufu commented on #3099
Can you create a demo to proof your issue?

[2019-10-19 10:40] trydofor opened #3330 "limit should use .intValue(), `(int)` cause ClassCastException"
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0-RC2

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc-core

### Expected behavior
[code]
### Actual behavior
[code]
### Reason analyze (If you can)
org.apache.shardingsphere.core.optimize.sharding.segment.select.pagination.Pagination
line 60
[code]

### Steps to reproduce the behavior, such as: SQL

[2019-10-19 10:55] yanickxia commented on #3320
not support `keep indents on empty lines`, not good for us...

[2019-10-19 11:03] yanickxia commented on #3330
Try 4.0.0-RC-3, this already fixed. See [PaginationContextEngine](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-core/sharding-core-preprocessor/src/main/java/org/apache/shardingsphere/core/preprocessor/segment/select/pagination/engine/PaginationContextEngine.java)

[2019-10-19 11:10] trydofor commented on #3330
got it, thanks.

[2019-10-19 13:20] #3324 closed

[2019-10-19 15:06] zhouzhendao123456 commented on #3302
没有任何异常日志，就是sql只在sharding的日志里出现，mysql里没有任何消息

At 2019-10-17 16:21:34, "Liang Zhang" <notifications@github.com> wrote:

Can you provide log of exception?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-20 03:13] copyshop commented on #3311
when you use mysql tinyint（1）,the result is boolean value,you shoule tinyint(2) tinyint(3) or tiny(4)  i think it not a bug ，either.

[2019-10-20 05:15] sunbufu commented on #3330
Duplicate with https://github.com/apache/incubator-shardingsphere/issues/2926

[2019-10-20 05:15] #3330 closed

[2019-10-20 05:36] SteNicholas commented on #3136
@niuniu9631 Your issue exception has already solved in PR#3331.You can refer to this pull request.

[2019-10-20 05:51] redwolf2019 commented on #3075
@terrymanu
Thanks for you reply.!
This is shardingsphere sql loq:

[code]

I already create table `device_0,device_1`, such as

[code]

[2019-10-20 06:32] #3136 closed

[2019-10-20 12:37] dongzl commented on #3311
Hi @Myshiner , I understand what you said, I debug the Sharding-Proxy's code.
in `org.apache.shardingsphere.shardingproxy.transport.mysql.packet.command.query.text.MySQLTextResultSetRowPacket` class file:
[code]
if the value is Boolean type, I understand Sharding-Proxy will transfer a byte to client.
the process is:
- MySQL JDBC Driver convert tinyint(1) to Boolean type and return to Sharding-Prox

[2019-10-20 14:53] terrymanu opened #3335 "Rewrite error if sharding + encrypt for table name as owner of column"
For example, the sql is:

[code]

if `t_account` is a sharding table which need to rewrite to `t_account_1`, and `password` is a encrypt column which need to rewrite to `password_cipher`, the SQL can not be processed correct when sharding and encrypt use together.

[2019-10-21 01:30] wqzwh commented on #3264
ok

[2019-10-21 03:03] #3335 closed

[2019-10-21 03:08] haetao commented on #650
[https://blog.csdn.net/qq_30087985/article/details/102659478](https://blog.csdn.net/qq_30087985/article/details/102659478)    写了sharding-core的子模块依赖和SQL的执行流程

[2019-10-21 03:33] childewuque commented on #3300
...,but RANDOM in SNOWFLAKE  is very useful ,This makes deployment easier and simpler。
YAML can use it，XML should use it。In this way, SHARDING-JDBC is the unified and consistent usage.

[2019-10-21 03:47] tuohai666 commented on #3311
Tracking the history issues about boolean value and tinyint in sharding-proxy:

1. https://github.com/apache/incubator-shardingsphere/issues/2528
2. https://github.com/apache/incubator-shardingsphere/issues/2604
3. https://github.com/apache/incubator-shardingsphere/issues/3027

The history may help us to know why sharding-proxy behaves like this.

[2019-10-21 04:00] tuohai666 commented on #3311
@Myshiner
Do you mean Navicat client return the expected result? But MySQL cli return an unexpected result?
If so what's the version of MySQL client?

[2019-10-21 04:34] terrymanu commented on #3178
@liunancun Hi, any update?

[2019-10-21 04:41] SteNicholas commented on #2632
@terrymanu Please assign this issue to me.I will fix this question mentioned above.

[2019-10-21 06:21] KomachiSion commented on #3311
@Myshiner Can you add `tinyInt1isBit=false` parameter to jdbcUrl in configuration file of sharding-proxy and retry? I think this can solve your problem.

[2019-10-21 07:34] yanyzy commented on #3255
Hi @zzy97092236 ,
i tested it with `AES` ShardingEncryptor, and didn’t reproduce your situation. so is it possible that your `GMS` spi didn’t work well?

[2019-10-21 07:49] RaigorJiang commented on #3196
Hi， @zhiyoucai, @terrymanu
I studied with SS 4.0.0-RC2 and 4.0.0-RC3-SNAPSHOT,  but I did not find any package-related conflicts for Curator (there are some duplicate dependencies, and they are automatically omitted).
Can you describe the conflicting scenes?

<img width="934" alt="WX20191021-154714@2x" src="https://user-images.githubusercontent.com/5668787/67186228-3bbbc800-f41a-11e9-9d5e-51bcf3cb

[2019-10-21 07:53] Myshiner commented on #3311
Just tested using your config option and it didn't work.Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [apache/incubator-shardingsphere] tinyint(1) column type will result in a booleam value in the query data (#3311)From: 杨翊 SionYang To: apache/incubator-shardingsphere CC: Myshiner ,Mention @Myshiner Can you add tinyInt1isBit=false parameter to jdbcUrl in configuration fi

[2019-10-21 07:57] tuohai666 commented on #3311
@Myshiner I have tested too, it works. Can you double check your configuration?
My configuration likes:

`dataSources:
  ds_0:
    url: jdbc:mysql://127.0.0.1:3306/demo_ds_0?serverTimezone=UTC&useSSL=false&**tinyInt1isBit=false**
    username: root
    password:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
  ds

[2019-10-21 08:31] KomachiSion commented on #3311
@Myshiner, Can you provide more detail information? like sharding-proxy configuration?

[2019-10-21 09:22] Myshiner commented on #3311
My configurations:

okaytest: !!org.apache.shardingsphere.orchestration.yaml.config.YamlDataSourceConfiguration
  dataSourceClassName: com.zaxxer.hikari.HikariDataSource
  properties:
    url: jdbc:mysql://10.60.0.183:3406/okaytest?serverTimezone=UTC&useSSL=false&**tinyInt1isBit=false**
    username: writer
    password:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000

[2019-10-21 09:29] Myshiner commented on #3311
Here is the error.

[INFO ] 17:16:42.906 [pool-51-thread-1] ShardingSphere-SQL - SQL: select * from test1 ::: DataSources: slave_okaytest_0
[ERROR] 17:16:42.922 [pool-51-thread-1] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.sql.SQLException: Value '800000-00-00 00:00:00' can not be represented as java.sql.Timestamp
        at com.mysql.jdbc.SQLError.createSQLException(SQLError.java:964

[2019-10-21 09:36] KomachiSion commented on #3311
@Myshiner , is the configuration your applications configuration?

[2019-10-21 09:47] KomachiSion commented on #3311
It looks like you restart sharding-proxy, but do not reconnection.
For my test, I restart my sharding-proxy and mysql client, and query work well.

[2019-10-21 09:53] Myshiner commented on #3311
@KomachiSion no, i didn't restart sharding-proxy, i made the changes from zk center and then did query.

[2019-10-21 09:56] KomachiSion commented on #3311
@Myshiner , Can you use `tinyInt1isBit=false` without `create_time` to test?
Such as select id, ctype from test1? the timestamp is other issue.
The issue should focus on tinyint problem.

[2019-10-21 10:08] Myshiner commented on #3311
@KomachiSion Sorry, it does work, my mistake, i got confused.
Thx, i will close the ticket.

[2019-10-21 10:14] KomachiSion opened #3337 "Split sharding-scaling to multiple modules"
sharding-scaling is a scaling-out component for ShardingSphere, #3077 . Before it contribute to ShardingSphere #3115 , I want to split it to multiple modules.

Now, the sharding-scaling has only one module, and all thing in this module, I want to split to multiple modules so that it can be expanded easier.

new modules maybe like:
[code]

Reference to [sharding-scaling#23](https://github.com/avalo

[2019-10-21 10:25] Myshiner commented on #3311
By the way, does the parameter work well in sharding-proxy 3.1.0 ? coz we have some other servers run with v3.1.0.

[2019-10-21 10:33] KomachiSion commented on #3311
I think it can work well, but I think do test will be better.

[2019-10-21 11:28] ssxlulu commented on #3115
Have anyone done a performance test？

[2019-10-21 12:33] tuohai666 commented on #3311
@Myshiner I guess you are in foreign company, aren't you?
Is it compliant to leave your company's information in https://github.com/apache/incubator-shardingsphere/issues/234? If so, ShardingSphere will get the first known foreign user.

[2019-10-21 12:55] terrymanu opened #3340 "Rewrite error if sharding + encrypt for insert without columns"
For example, the SQL is:

[code]

If generate key with encrypt column together, encrypt logic cannot find correct columns sequence from metadata.

[2019-10-21 12:57] terrymanu commented on #3234
@xiyelife OK, I will add 3 columns for encrypt before finish this issue

[2019-10-21 13:12] haetao commented on #3280
why closed the issue? I found the same question.

[2019-10-21 14:02] zzy97092236 commented on #3255
I also tested it with AES ShardingEncryptor ,could you share you code ?

[2019-10-21 14:10] #3340 closed

[2019-10-21 14:15] terrymanu commented on #3302
For English only

[2019-10-21 14:28] zhouzhendao123456 commented on #3302
No log of exception, SQL only shows up in sharding log, no any info in mysql

[2019-10-21 14:32] Adarshkl commented on #2233
The `_` works with `@Value`. The kebab case restriction is when you are using the `@ConfigurationProperties` config pojos

[2019-10-21 14:35] yanyzy commented on #3255
@zzy97092236
My demo is here [sharding-jdbc-demo](https://github.com/yanyzy/sharding-jdbc-demo),
if you use it differently, you can also give me an example.

[2019-10-21 14:42] avalon566 commented on #3115
@ssxlulu No.

[2019-10-22 02:33] terrymanu commented on #3302
I cannot understand, what is `SQL output error free information`?
How do you know MySQL does not receive any SQL query? Do you use wireshark to catch MySQL packet? What is the SQL packet sent to MySQL?

[2019-10-22 02:33] terrymanu commented on #3302
Can you fix the typo in title of this issue?

[2019-10-22 02:43] #3311 closed

[2019-10-22 02:46] terrymanu commented on #3196
It seems @zhiyoucai use gradle to handle dependency.
Maybe you can try with gradle

[2019-10-22 03:07] Myshiner commented on #234
OKAY智慧教育 https://www.okayzhihui.com/

[2019-10-22 03:22] RaigorJiang commented on #3196
OK, I will try.

[2019-10-22 05:09] terrymanu commented on #3075
What is your exception if you have already create table?
Does the problem cause by DDL or other reason?

[2019-10-22 05:13] terrymanu commented on #3075
I guess this issue caused by the insert SQL do not have sharding key, so ShardingSphere process the SQL as boarding cast SQL and write into all tables which you configured.

If you only want route data into one table, please add sharding key into your insert SQL.

[2019-10-22 05:13] #3075 closed

[2019-10-22 05:18] terrymanu commented on #3146
Will close soon if no response anymore.

[2019-10-22 05:18] #3178 closed

[2019-10-22 05:22] terrymanu commented on #3255
I just set label of this issue as invalid because it seems cannot reproduce.
We can keep focus on this issue until we make sure it is really cannot reproduce.

[2019-10-22 05:24] terrymanu commented on #3289
@jiangyexin   Hi, any update, or can you close the issue?

[2019-10-22 05:26] terrymanu commented on #3306
Yes, if they are two different datasource totally.

[2019-10-22 05:27] terrymanu commented on #3306
I am not saying ShardingSphere do not support, but the first thing is perhaps you need to design your business logic.

[2019-10-22 05:28] terrymanu commented on #3306
I just set this issue as invalid for now, we can discuss further about this issue.

[2019-10-22 05:29] terrymanu commented on #3307
Because of no response, I just close it and label as duplicate with #3302.

[2019-10-22 05:29] #3307 closed

[2019-10-22 05:30] terrymanu commented on #3310
Will close soon if no response any more

[2019-10-22 05:31] terrymanu commented on #3325
Will close soon if no response anymore

[2019-10-22 05:33] #3234 closed

[2019-10-22 05:58] dongzl commented on #3005
I am glad to finish it.

[2019-10-22 06:31] #3095 closed

[2019-10-22 06:37] terrymanu commented on #3138
The test coverage it enough, thank you.

[2019-10-22 06:37] #3138 closed

[2019-10-22 06:39] childewuque commented on #2454
Why is it wrong to use it like this in my case？

spring 4.3，Sharding-JDBC 4.00-RC2

Caused by: java.lang.IllegalArgumentException: Could not resolve placeholder 'random.int[0,1024]' in value "${random.int[0,1024]}"

[2019-10-22 06:40] terrymanu commented on #3115
Good job. This issue has finished.

[2019-10-22 06:40] #3115 closed

[2019-10-22 07:29] Myshiner commented on #3310
@terrymanu I just want to get the table's ddl information from navicate tool by clicking table. it's equal to that "show create table test_update", but it's ok from sharding-proxy CLI.

[2019-10-22 08:41] black-shunshengli commented on #623
<dependency>
  <groupId>io.shardingsphere</groupId>
  <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
  <version>3.1.0</version>
</dependency>

[2019-10-22 08:53] wgy8283335 commented on #650
sharding-core-rewrite模块的分析文章。https://wgy8283335.github.io/2019/10/22/sharding-core-rewrite/

[2019-10-22 08:56] RaigorJiang commented on #3196
Hi, terrymanu,
I used gradle to test compilation with 'sharding-orchestration-reg-zookeeper-curator' (RC2 & RC3) witch based on spring-boot 1.5.16 and 2.1.0 respectively,  all of them can be  builded successful and no conflicts are there.

![WX20191022-163823](https://user-images.githubusercontent.com/5668787/67271092-77bf5d80-f4ec-11e9-87a0-d540676d1af1.png)

![WX20191022-164513](https://user-ima

[2019-10-22 09:21] zhouzhendao123456 commented on #3302
show PROCESSLIST
for the mysql, is nohting

[2019-10-22 09:22] terrymanu commented on #3302
Please provide log of sql.show

[2019-10-22 09:26] terrymanu commented on #3104
Will close soon if no update anymore.

[2019-10-22 09:31] terrymanu commented on #3097
We will upgrade java version to 8 after 4.0.0 stable version release

[2019-10-22 09:33] terrymanu commented on #3060
Will close soon if no response

[2019-10-22 09:34] sluk3r commented on #3156
I am glad to handle this issue

[2019-10-22 09:38] sluk3r commented on #3156
@bxvs888   could you please give the example codes for reproduce this issue, or main point.
and the related logs

[2019-10-22 09:39] #2908 closed

[2019-10-22 09:42] KomachiSion commented on #3024
@xriqyu Can you provide more detail information? Such as your sharding-proxy configuration?

[2019-10-22 12:16] wqzwh commented on #3265
@beckhampu Can you provide mock service? if can debugging will be very convenient

[2019-10-22 13:07] sluk3r commented on #2920
@ustbyjy Hi, I try to reproduce the issue, but failed. So, the my reproduce code, let us discuss the exact way to reproduce the issue, and my reproduce code link is: https://github.com/apache/incubator-shardingsphere-example, branch is ss_issue_2920, the code is based on incubator-shardingsphere-example.

the sql is "SELECT i.* FROM **T_ORDER** o left join **t_order_item** i on o.order_id = i.orde

[2019-10-22 13:19] xiyelife commented on #3234
@terrymanu

INSERT INTO t_account(account_id, certificate_number, password, amount, status) VALUES...
the order ins sql is certificate_number、password、amount
![image](https://user-images.githubusercontent.com/8772975/67289292-f4fcc980-f510-11e9-88fd-f978a6e6ffb1.png)
the order in encryption rules is certificate_number、password、amount

**this case is ok!
if the order ins sql is not 'certificate_num

[2019-10-22 14:17] sluk3r commented on #3156
@bxvs888  and the version of Postgres

[2019-10-23 01:27] alwyngo commented on #3257
All of the paging operations can't be used now, when the new version will be released?

[2019-10-23 01:33] dongzl commented on #3005
I get the network packet through `Wireshark` software, and find some problem.

**When MySQL transfer data to Sharding-Proxy:**

<img width="701" alt="MySQL实际抓包" src="https://user-images.githubusercontent.com/5917359/67348495-b3ebd000-f577-11e9-9fcc-cf75af161498.png">

**When Sharding-Proxy transfer data to Navicat:**

<img width="670" alt="Sharding-Proxy_to_Navicat" src="https://user-images.github

[2019-10-23 01:41] dongzl commented on #3257
Hi @alterhu2020 @alwyngo , the RC3's release is under way, I think it will be released a few days later.

[2019-10-23 02:18] #3196 closed

[2019-10-23 02:45] ustbyjy commented on #2920
1.I use Sharding-Proxy 4.0.0-RC2, which is downloaded from [https://shardingsphere.apache.org/document/current/en/downloads/](shardingsphere.apache.org).

2.The config-sharding.yaml file is shown below:
`
schemaName: sharding_db

dataSources:
  ds_0:
    url: jdbc:mysql://vhost1:3306/metastore?useSSL=false
    username: root
    password: root123..
    connectionTimeoutMilliseconds: 30000
    idle

[2019-10-23 03:52] bxvs888 commented on #3156
Postgres 10 ,11

[2019-10-23 04:10] yeaicc opened #3345 "Unable to use double quotes in mapper"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.0-RC1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
work

### Actual behavior
Appendeded escape character '\' before double quotes

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur

[2019-10-23 06:25] #3345 closed

[2019-10-23 07:18] zzy97092236 opened #3346 "Encrypt-JDBC couldn't not get decrypt information"
https://github.com/apache/incubator-shardingsphere/issues/3255
![66756505-c2c5e900-eecc-11e9-9f24-8780f8e2dddd](https://user-images.githubusercontent.com/56537799/67366311-d268c000-f5a5-11e9-8b7c-06bdad7acfd1.png)

![aHR0cHM6Ly9vc2NpbWcub3NjaGluYS5uZXQvb3NjbmV0LzM3NTczMThkZmJjM2M0OWY0N2UzOGZiMjA1YWZkZDRmOGQyLmpwZw](https://user-images.githubusercontent.com/56537799/67366644-76eb0200-f5a6-11e9-8908

[2019-10-23 07:57] terrymanu commented on #3346
What is your version?

[2019-10-23 07:58] terrymanu commented on #3346
If this issue is same with #3255, please talk in that issue

[2019-10-23 07:58] #3346 closed

[2019-10-23 08:03] zzy97092236 commented on #3346
<version&gt;4.0.0-RC2</version&gt;oracle 11.2.0.4.0  com.oracle.weblogic ojdbc7 12.1.3-0-0

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Liang Zhang"<notifications@github.com&gt;;
发送时间: 2019年10月23日(星期三) 下午3:57
收件人: "apache/incubator-shardingsphere"<incubator-shardingsphere@noreply.github.com&gt;;
抄送: "xpy"<97092236@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [apache/i

[2019-10-23 08:41] zzy97092236 commented on #3255
version as follwo:
<version>4.0.0-RC2</version>
oracle 11.2.0.4.0  com.oracle.weblogic ojdbc7 12.1.3-0-0

[2019-10-23 08:45] zzy97092236 commented on #3255
about this question,The query result should be plaintext. Now it is ciphertext. Is it normal?

![66756505-c2c5e900-eecc-11e9-9f24-8780f8e2dddd](https://user-images.githubusercontent.com/56537799/67374933-78232b80-f5b4-11e9-9e05-9c754859d14c.png)
![aHR0cHM6Ly9vc2NpbWcub3NjaGluYS5uZXQvb3NjbmV0LzM3NTczMThkZmJjM2M0OWY0N2UzOGZiMjA1YWZkZDRmOGQyLmpwZw](https://user-images.githubusercontent.com/56537799/6

[2019-10-23 08:49] KomachiSion commented on #3024
ShardingProxy decodes MySQL Query request package, and transform sql to String, which will be used to parse.
But due to the charset, the Blob(binary) type can't transform to String. So some of special byte will be changed while the decode step.

I also add `useServerPrepStmts=true` and `cachePrepStmts=true` to jdbc url, but it will cause new exception: `Cause: java.sql.SQLException: 1Unsupported c

[2019-10-23 09:09] yanyzy commented on #3255
@zzy97092236
The 4.0.0-RC2 version does have this problem for oracle, and it has been fixed. you can wait for the release of 4.0.0-RC3, or build source code to use 4.0.0-RC3-SNAPSHOT.

[2019-10-23 09:12] yanickxia commented on #3273
this seem should add  `perfect database` 🤔

[2019-10-23 09:28] yanickxia commented on #2927
@yanyzy  this seem you good at javaAgent..

[2019-10-23 10:44] SteNicholas commented on #2632
@Saisimon Your question mentioned in this issue has already solved.You can refer to this pull request.

[2019-10-23 10:47] terrymanu commented on #3233
Fixed at #3344

[2019-10-23 10:47] #3233 closed

[2019-10-23 11:18] yanickxia opened #3349 "Make Sharding-Proxy control language like SQL grammar"
## Feature Request
### Describe the feature you would like.

Sharding-Proxy control language not like SQL grammar, it's strange,  if make it like SQL grammar then better i think.

[2019-10-23 11:42] yanickxia commented on #3349
| NOW  | TO |  REF |
| ------------- | ------------- |  ------- |
| sctl:set transaction_type=XX  | set sctl:transaction_type XX   |      [Mysql-SET-transaction-Syntax](https://dev.mysql.com/doc/refman/5.7/en/set-transaction.html)         |
| sctl:show transaction_type  | show sctl:transaction_type |               |
| sctl:show cached_connections	| show sctl:cached_connections | |
| sctl:explain S

[2019-10-23 12:31] #2632 closed

[2019-10-23 12:37] terrymanu commented on #3349
Great. For new sctl sql, can we consider about remove sctl, just use it like a original DAL SQL?

For example, just `explain SQL`, beside original resultset, we can appned additional result set for route and merge info in it.
Any suggestions?

[2019-10-23 13:31] wgy8283335 commented on #3185
Below is the current configuration
[code]
Below is the modified
[code]

[2019-10-24 01:13] jiangyexin commented on #3289
while no sharding it can work, but when i use sharding it is fail

[2019-10-24 01:37] jsbxyyx opened #3350 "Will JDTX be open source?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2019-10-24 01:38] #3350 closed

[2019-10-24 01:40] #3337 closed

[2019-10-24 01:46] RaigorJiang commented on #3273
I think it should be like this:
when the SQL dosn't have a table name
1:  in sharding,   route to the defaultDataSource;
2:  in master-slave, route to master or a slave which configred.

If you agree it , I can try to do this.

[2019-10-24 02:35] cherrylzhao commented on #3349
shall we parse SCTL SQL statement  instead of  regular expression?

[2019-10-24 02:46] xfyang1989 opened #3351 "Using the default database, it takes nearly 3 seconds to insert 200 in batches? Why"
Using the default database, it takes nearly 3 seconds to insert 200 in batches? Why？
Is there any good way to handle it?
1、shardingsphere version is 4.0.0-RC2,
2、mysql  version is mysql-connector-java-8.0.17,
3、The data source is hikariCP

![{237F3A1B-9264-4B9E-A596-6DA9C524BF61}_20191024104336](https://user-images.githubusercontent.com/25191518/67448946-27124680-f64b-11e9-8c3c-b0f845f64bb6.jpg)

[2019-10-24 02:49] cherrylzhao commented on #3349
I think we can replace it step by step, first just support` explain sctl:sql`

[2019-10-24 03:05] cherrylzhao commented on #2902
just close this issue for no response for a long time.
we consider about creating another issue for refactor swarding-transaction module

[2019-10-24 03:07] #2902 closed

[2019-10-24 03:11] xfyang1989 commented on #3351
![{46570F2B-BF39-478D-ADA9-C2147C191B93}_20191024111103](https://user-images.githubusercontent.com/25191518/67450126-ff24e200-f64e-11e9-9491-9bfc77cbe23b.jpg)

[2019-10-24 03:13] xfyang1989 commented on #3351
If you are using the default data source, for example, the default-data-source-name is configured.

[2019-10-24 03:15] cherrylzhao commented on #3015
it is very hard to handle this bug, we should
- make spring.shardingsphere.props.max.connections.size.per.query=1 when start a transaction.
- or add a table dimension within cachedConnections of ShardingConnection

[2019-10-24 04:33] dongzl commented on #3005
I debug Sharding-Proxy source code, when execute a query SQL, it should return column metadata.
But in `MySQLColumnDefinition41Packet` class, the `this.flags = 0` :

![image](https://user-images.githubusercontent.com/5917359/67453652-e53ccc80-f659-11e9-9cdc-ef217c35e485.png)

this is the table column primary key flag, so the Navicat prompt a error message.

the `MySQLColumnDefinition41Packet` buil

[2019-10-24 05:05] xfyang1989 commented on #3351
Sharingspehere configuration does not parse SQL

[2019-10-24 06:12] zhouzhendao123456 commented on #3302
new error:

[Err] 10002 - 2Unknown exception: [Can't find index: org.apache.shardingsphere.core.optimize.sharding.segment.select.orderby.OrderByItem@385e99e9]

[2019-10-24 06:18] terrymanu commented on #3302
Can you provide context? What will cause this exception? Is it same problem with previous one?

[2019-10-24 06:27] terrymanu commented on #3351
Can you provide `sql.show` and sharding rule config?

[2019-10-24 06:38] #3146 closed

[2019-10-24 06:38] zhouzhendao123456 commented on #3302
==**info**==2019-10-24 14:36:05.185 INFO  [epollEventLoopGroup-2-1] io.netty.handler.logging.LoggingHandler Line:101 - [id: 0x532b5ab0, L:/0.0.0.0:3307] READ: [id: 0xca03f220, L:/192.168.1.52:3307 - R:/192.168.1.53:52960]
==**info**==2019-10-24 14:36:05.186 INFO  [epollEventLoopGroup-2-1] io.netty.handler.logging.LoggingHandler Line:101 - [id: 0x532b5ab0, L:/0.0.0.0:3307] READ COMPLETE
==**info**=

[2019-10-24 06:38] #3104 closed

[2019-10-24 06:39] yanickxia commented on #3349
| NOW  | TO |  REF |
| ------------- | ------------- |  ------- |
| sctl:set transaction_type=XX  | set transaction_type XX   |      [Mysql-SET-transaction-Syntax](https://dev.mysql.com/doc/refman/5.7/en/set-transaction.html)         |
| sctl:show transaction_type  | show transaction_type |               |
| sctl:show cached_connections	| show cached_connections | |
| sctl:explain SQL	| explain sq

[2019-10-24 06:39] #3060 closed

[2019-10-24 06:40] zhouzhendao123456 commented on #3302
==**info**==2019-10-24 14:36:10.448 INFO  [pool-10-thread-1] ShardingSphere-SQL Line:99  - SQLStatement: ShardingSelectOptimizedStatement(tables=Tables(tables=[Table(name=app1_contract_object_info, alias=Optional.of(a)), Table(name=app1_contract_forecast_detail, alias=Optional.of(b))], schema=Optional.absent()), groupBy=org.apache.shardingsphere.core.optimize.sharding.segment.select.groupby.GroupB

[2019-10-24 06:40] #3325 closed

[2019-10-24 06:40] #3306 closed

[2019-10-24 06:42] terrymanu commented on #3310
Can you change title for this, I think the problem is not `Table 'db.triggers' doesn't exist`, `navicate cannot show table structure if xxx` maybe better

[2019-10-24 06:43] terrymanu commented on #3310
Is your database include trigger?

[2019-10-24 06:46] KomachiSion opened #3352 "Encrypt error when associated query with same column name."
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

associated query and decrypt successully.

### Actual behavior

[code]

### Reason analyze (If you can)

the join tables has same column name, the column in first table is encrypted and in second not encrypted, b

[2019-10-24 06:53] KomachiSion commented on #3289
Duplicate with [#1567](https://github.com/apache/incubator-shardingsphere/issues/1567).
And Fixed via [#2388](https://github.com/apache/incubator-shardingsphere/pull/2388)

[2019-10-24 06:53] #3289 closed

[2019-10-24 06:54] #3320 closed

[2019-10-24 07:09] xfyang1989 commented on #3351
![{0F295807-8F16-465F-855D-2D85A6C93BD1}_20191024150756](https://user-images.githubusercontent.com/25191518/67461557-335cca80-f670-11e9-8bc8-60aa14d13ccb.jpg)
![{76ABED5F-1D7A-4130-ACF4-135548ADB157}_20191024150814](https://user-images.githubusercontent.com/25191518/67461559-33f56100-f670-11e9-9159-dce9cb051144.jpg)
![{C540EDA1-6863-49A8-B0F8-EA11AB4DA5DB}_20191024150834](https://user-images.githu

[2019-10-24 07:10] xfyang1989 commented on #3351
The table sharingspehere using the "default-data-source-name" parameter will also parse the SQL. If you do not use the sharingspehere to parse the SQL, how to deal with it?

[2019-10-24 07:14] zdmwww commented on #3119
But if I wan to use both `shard-1` and  `shard-2`  at the same time, hintManager doesn't surport this?
I means that a sql will route to two databases and  merge the results correctly。

[2019-10-24 07:18] miniygq opened #3353 "using data encrypt,logicColums is an automatic hump naming rule mapping"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2019-10-24 09:05] xfyang1989 commented on #3351
I have the same SQL comparison 4.0.0-RC1 version than the 4.0.0-RC2 performance to improve hundreds of milliseconds, the default database bulk insert

[2019-10-24 09:18] xfyang1989 commented on #3351
I am back to the 4.0.0-RC1 version.

[2019-10-24 10:16] KomachiSion opened #3358 "Parse MySQL unreserved keywords `context` error"
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

can parse MySQL unreserved keywords `context`

### Actual behavior

[code]

### Reason analyze (If you can)

MySQL g4 file set `context` as a keywords but do not set it as unreserved. So parse failed.

### Steps

[2019-10-24 11:33] Myshiner commented on #3310
no, it doesnt include trigger.Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [apache/incubator-shardingsphere] [ERROR-1146] Table 'db.triggers' doesn't exist (#3310)From: Liang Zhang To: apache/incubator-shardingsphere CC: Myshiner ,Author Is your database include trigger?

—You are receiving this because you authored the thread.Reply to this email directly, view it on Gi

[2019-10-24 11:51] geomonlin opened #3361 "sharding-proxy is wrong to use nacos."
Bug Report
Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT

Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-proxy

Expected behavior
Write configured into nacos should correct。

NacosRegistryCenter.getDirectly(final String key)->configService.getConfig(dataId, group, timeoutMs)  is not null.

Actual behavior
[code]

[2019-10-24 12:15] jiang2015 opened #3362 "default configuration such as [defaultDataSourceName] set default value is better？"
## Feature Request
### Is your feature request related to a problem?
yes,
version of ShardingSphere: **4.0.0-RC3-SNAPSHOT**
project: Sharding-Proxy
The problem:
 when I use navicat connect Sharding-Proxy, Executing a SQL：
［SELECT QUERY_ID, SUM(DURATION) AS SUM_DURATION FROM INFORMATION_SCHEMA.PROFILING GROUP BY QUERY_ID;］the sql result throw Exception:

[INFO ] 19:59:49.313 [ShardingSphere-Command

[2019-10-24 14:54] terrymanu commented on #3273
+1 for me. We can discuss more details.

1. Sharding
  1.1 With default data source, route to default data source
  1.2 Without default data source, unicast route(stay the same)
2. Master-slave
  2.1 route to master database (because slave is readonly, so route to slave maybe unnecessary)

[2019-10-24 14:58] #3358 closed

[2019-10-24 15:05] terrymanu commented on #3353
I can't get the point, can you give an example?

[2019-10-24 17:05] RaigorJiang commented on #3273
OK,  I am about to do it.    @terrymanu

[2019-10-24 23:14] suikenungleung opened #3365 "The dataSourceProperties property of the HikariDataSource is not correctly written."
Spring Boot 2.1.9
ShardingSphere 4.0.0-RC2

application.yml：
master:
  type: com.zaxxer.hikari.HikariDataSource
  driver-class-name: com.mysql.cj.jdbc.Driver
  jdbc-url: jdbc:mysql://192.168.177.128:3306/atom?serverTimezone=UTC&useUnicode=true&useSSL=false&characterEncoding=utf-8
  username: root
  password: 123456
  auto-commit: true
  connection-timeout: 30000
  idle-timeout: 600000
  max-lifeti

[2019-10-24 23:44] yanickxia commented on #3362
sounds like #3273 ?

[2019-10-25 00:13] yanickxia commented on #3365
@terrymanu  this is bug, i will fix it..  [HikariCP-Mysql](https://github.com/brettwooldridge/HikariCP/wiki/MySQL-Configuration).

[2019-10-25 01:42] jiang2015 commented on #3362
I think it is Different with

[2019-10-25 02:30] duanbin0414 opened #3366 "Sharding-jdbc execute sql, in(x,x,x) performance issues"
version 4.0.0-RC1
![image](https://user-images.githubusercontent.com/50389867/67537466-2098d300-f70e-11e9-93ec-6ad0a23fae2c.png)
when execute
 Condition condition = new Condition(User.class);
        ArrayList<String> billCodes = new ArrayList<>();
        billCodes.add("13");
        billCodes.add("14");
        condition.createCriteria().andIn("id", billCodes);
 only need to query two tables fro

[2019-10-25 02:54] #3353 closed

[2019-10-25 02:57] beckhampu opened #3367 "Refactor Sharding-UI distribution build to Split sharding-ui fat jar"
Separate all dependent jars and put them in the '/lib' directory.

[2019-10-25 03:26] SethMessenger commented on #3099
maybe it is my fault.

last week, i have time to resolve this problem , i can't proof this issue neither.
But I'm pretty sure at that time , it might initiate some Performance Issue.

i will still focus this problem. I will tell you when i proof this issue.
really sorry to bother you guys.

[2019-10-25 03:26] #3099 closed

[2019-10-25 03:59] terrymanu commented on #3273
@RaigorJiang Thank you, assigned.

[2019-10-25 04:01] amoszhou opened #3369 "Encrypt for Database password"
## Encrypt  for Database password  below Datasource property

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature

[2019-10-25 04:05] terrymanu commented on #3365
@yanickxia OK, thank you. assigned.

[2019-10-25 05:51] RaigorJiang commented on #3362
Yes, I reproduced the problem, it's diffenent with #3273
I found the nullpoint appears when
`ShardingTransactionManager shardingTransactionManager = shardingTransactionManagerEngine.getTransactionManager(transactionType); `

the transactionType is not match the configuration in server.yaml and it causes the shardingTransactionManager is null

[2019-10-25 05:52] 54chenjian opened #3370 "oracle load meta data get index info user schema error"
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0-RC2

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

### Actual behavior

### Reason analyze (If you can)
[code]
[code]
oracle catalog is sid ，the second param is scheam，is not sid

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, w

[2019-10-25 06:42] yanickxia commented on #3369
try jasypt with spring, maybe it's use placeholder to store password.

[jasypt-spring-boot-samples-yaml](https://github.com/ulisesbocchio/jasypt-spring-boot-samples/blob/master/jasypt-spring-boot-demo-db-h2/src/main/resources/application.yml)

[2019-10-25 06:54] amoszhou commented on #3369
OK~  I  will have a try ~

[2019-10-25 07:10] zhumaoliang opened #3372 "prompt when executing query statement"
After the read-write separation is configured, the following prompt appears when executing the query SQL，but the result can be found.So I want to ask if the prompt printed out by the console has any impact, or how to shield it from printing out.

The following tips
 no viable alternative at input '(SELECTTX.BIG_CARORDER_NO,COUNT(1)ITEM_COUNT,COUNT(CASEWHENT'；
 mismatched input 'T' expecting {'(',

[2019-10-25 08:09] #3367 closed

[2019-10-25 08:15] #3372 closed, assigned to nobody

[2019-10-25 09:24] xiyelife opened #3374 "Insert disordered when the configuration order of cipher columns in encryption rules inconsistent with the order of inserted sql"
### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
When the configuration order of cipher columns in encryption rules inconsistent with the order of  inserted sql, the value of the original columns can save to db orderedly .
### Actual behavior
the value of the original columns are d

[2019-10-25 10:07] KomachiSion commented on #3077
The proposal is:
https://cwiki.apache.org/confluence/display/SHARDINGSPHERE/ShardingScaling+Donation+Proposal

[2019-10-25 10:13] terrymanu commented on #3374
Thank you for test it so careful, I will investigate this issue.

[2019-10-25 12:22] terrymanu commented on #3369
This feature is not ShardingSphere's scope, I just close it.

[2019-10-25 12:22] #3369 closed

[2019-10-25 12:37] terrymanu commented on #3302
Sorry, ShardingSphere cannot support such complicated subquery, we will keep on enhance the competition in future.
I just close this issue because it is not a concentrate bug.
More details on SQL supported please see: https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/

[2019-10-25 12:37] #3302 closed

[2019-10-25 12:39] #3374 closed

[2019-10-26 01:10] ezzuodp opened #3376 "Can you change the sharding routing engine to a property of a ShardingStatement?"
## Feature Request
In a project, we need to use the instance of table splitting routing engine in sharding statement.
Can you make the following adjustments to shardingstatement?

![3](https://user-images.githubusercontent.com/4951767/67616385-94200a80-f80a-11e9-8e19-83fac696b4e8.png)

[2019-10-26 02:50] #1819 closed

[2019-10-26 02:51] terrymanu commented on #3376
Can you change title for search friendly?

[2019-10-26 08:13] ezzuodp commented on #3376
Sorry, the title is not clearly written.

[2019-10-26 08:54] sunbufu commented on #3119
Maybe you should look at [hint example](https://github.com/apache/incubator-shardingsphere-example/tree/dev/sharding-jdbc-example/other-feature-example/hint-example) first. In sharding, `HintManager` work with `HintShardingAlgorithm` interface, and you can implement it with your algorithm same like [ModuloHintShardingAlgorithm.java](https://github.com/apache/incubator-shardingsphere-example/blob/d

[2019-10-26 12:07] sunbufu commented on #3366
Please show your configuration and SQL.

[2019-10-26 12:15] Sy9876 commented on #3015
Thank you for reply.

Config maxConnectionsSizePerQuery larger than 1 is dangers because it is application scope property.
On other hand, if keep it to 1, queries are execute in serial mode. So the more shards, the worse performance .

Expect to be resolved in future releases.

[2019-10-26 12:56] sunbufu commented on #3352
Hi @KomachiSion , I think this issue is same like https://github.com/apache/incubator-shardingsphere/issues/3194. The root cause of this issue is that we can't get tableName by columnIndex correctly.
[code]
The complete code is [here](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-core/sharding-core-execute/src/main/java/org/apache/shardingsphere/core/execute/sql/execute/resu

[2019-10-26 13:08] sluk3r commented on #2920
@ustbyjy  Hi, would you please give the schema of the tables, in order to reproduce the issue.

[2019-10-26 13:46] chaiyanliang opened #3377 "shardingsphere 4.0.0-RC2"
Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry
java.lang.NoClassDefFoundError: Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse0(SQLParseEngine.java:71) ~[sharding-core-parse-common-4.0.0-RC2.jar:4.0.0-RC2]
	at org.apache.shardingsp

[2019-10-26 13:49] chaiyanliang opened #3378 "Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry"
java.lang.NoClassDefFoundError: Could not initialize class org.apache.shardingsphere.core.parse.core.rule.registry.ParseRuleRegistry
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse0(SQLParseEngine.java:71) ~[sharding-core-parse-common-4.0.0-RC2.jar:4.0.0-RC2]
	at org.apache.shardingsphere.core.parse.SQLParseEngine.parse(SQLParseEngine.java:53) ~[sharding-core-parse-common-4.0.0-RC2.j

[2019-10-26 13:52] xiaoya0991 commented on #234
马蜂窝 https://www.mafengwo.cn/
![image](https://user-images.githubusercontent.com/30378811/67620565-e5e08900-f83a-11e9-8be5-a4b85f6fcd02.png)

[2019-10-27 07:19] wgy8283335 commented on #650
sharding-sql-tes模块的分析文章。https://wgy8283335.github.io/2019/10/27/sharding-sql-test/

[2019-10-27 07:20] wgy8283335 commented on #650
sharding-core-entry模块的分析文章，https://wgy8283335.github.io/2019/10/26/sharding-core-entry/。
sharding-core-execute模块的分析文章，https://wgy8283335.github.io/2019/10/24/sharding-core-execute/。

[2019-10-28 00:41] KomachiSion commented on #3352
Yes, there are no owner table information. JDBC resultSetMetadata do not contain, so we may get the owner table from parsingEngine.
But for `i.*, o.*` kind type, parsingEngine may be hard to judgement how many columns each table owns.

[2019-10-28 01:42] beckhampu opened #3380 "Check Sharding-UI License."
- [x] Remove useless dependencies
- [x] update license file
- [x] update notice file

[2019-10-28 02:06] duanbin0414 commented on #3366
whether there is a dingding discussion group can pull me?

[2019-10-28 02:13] duanbin0414 commented on #3366
I'm execute own packaged after sharding, tk.mybatis.mapper implementation of an in query.

[2019-10-28 02:21] #3380 closed

[2019-10-28 02:22] jiang2015 commented on #3378
I think this is your own problem with the compile jar,the same issue [3378](https://github.com/apache/incubator-shardingsphere/issues/3378)

[2019-10-28 02:23] terrymanu commented on #3377
Can you change the title to more make sense?

[2019-10-28 02:58] #3365 closed

[2019-10-28 03:15] #3326 closed

[2019-10-28 03:20] ilemonchn opened #3382 "Throws "Table xxx not found" Exception when subquery's tableName should be rewrited."
## Bug Report

### Which version of ShardingSphere did you use?

4.0.0-RC3-SNAPSHOT

### Which project did you use? Sharding-JDBC or Sharding-Proxy?

Sharding-JDBC

### Expected behavior

Correctly rewrite the subquery's tableName without Exception.

### Actual behavior

Subquery's tableName isn't rewrited, which result in the "Table xxx not found" Exception.

### Reason analyze (If you can)

The

[2019-10-28 04:16] Pramy opened #3383 "Implement Orcale，PostgreSQL and SQLServer time service"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describ

[2019-10-28 05:55] KomachiSion opened #3384 "Implement DataSourcePropertiesSetter by SPI"
Some of connection pools can set custom datasource properties in spring, like HikariCP, see #3365 .
Now, setting datasource properties of HikariCP for sharding-jdbc-spring has already implemented.
But there are many of connection pools which can set datasource properties by their own ways.

So I think ShardingSphere should implement DataSourcePropertiesSetter by SPI, make the feature can be expand

[2019-10-28 06:37] terrymanu commented on #3382
ShardingSphere does not support this subquery.
If somebody want to do this, we can discuss first.

[2019-10-28 06:57] ilemonchn commented on #3382
I just modified the TableReferencesExtractor to find all the TableReferencesContext node, and the test passed.  @terrymanu

[2019-10-28 06:58] tanzaole commented on #3366
I found the same problem, is there a solution?

[2019-10-28 08:20] alwyngo opened #3386 "mybatis-plus call the baseMapper.saveBatch(List<User> list) can't return the database auto increment id to the User entity"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, b

[2019-10-28 08:36] ustbyjy commented on #2920
[metastore.txt](https://github.com/apache/incubator-shardingsphere/files/3777779/metastore.txt)

[2019-10-28 09:09] forachange opened #3387 "springboot 2.1.x + shardingsphere 4.0.0-RC2 can't run"
BUG
-  springboot 2.1.9.RELEASE
- shardingsphere 4.0.0-RC
- mybatis-spring-boot-starter 2.0.1

I can't run the application.

The following is the error info:
[code]

Then I change the springboot version and shardingsphere version. it's ok.
- springboot 2.0.9.RELEASE
- mybatis 2.0.1
- shardingsphere 4.0.0-RC1

[2019-10-28 09:17] yanickxia commented on #3387
can you take a demo git repo?  it seem like not init mybatis

[2019-10-28 10:05] yanickxia commented on #3386
Sharding-JDBC: 4.0 - RC3
SPRING Boot： 1.5.22.RELEASE

![image](https://user-images.githubusercontent.com/6848593/67669679-5c04fd00-f9ad-11e9-8ee8-9499812ea3a4.png)
it's work...

can you show your git repo??

PS:  insure ` useGeneratedKeys="true"` is setted.

[2019-10-28 10:22] mygitdds opened #3388 "The issue of Saga distributed transaction using jar package"
When my project is packaged as jar to run, when saga transaction reads the configuration file saga.properties, it will report an error \ swallowplatformbusiness. Jar! \ boot-inf \ classes! \ saga.properties (incorrect file name, directory name or volume label syntax). ）The way I look for Baidu is that when the project is packaged into jar to run, sagaconfigurationloader. Class. Getclassloader(). G

[2019-10-28 11:20] sunbufu commented on #3352
Can we just replace `*` with all column of table ?

[2019-10-28 11:27] KomachiSion commented on #3352
Which step should we replace?
I think it's hard to replace `*` with all columns.

If the we can get `TableMetaData`, encryptor may calculate the owner table.

[2019-10-28 12:25] sunbufu commented on #3352
I have a crazy idea, maybe it's unfeasible.
We can generate aliases for columns in DQL like [Hibernate](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#sql-multi-entity-query).
If user send an sql like `SELECT order_id from t_order`, we generate an alias for `order_id`, like `t_order_order_id_123` and send the new sql `SELECT order_id AS t_order_order_id_12

[2019-10-28 13:10] sluk3r commented on #2920
@ustbyjy  would you like to add my wechat accout, in order to chat for this issue.
And my email is sluk3r@qq.com, you can drop an email for my wechat accout, if you like.

[2019-10-28 13:27] jiang2015 commented on #3382
I just test by shard-proxy, the log file :
[INFO ] 21:06:40.638 [ShardingSphere-Command-3] ShardingSphere-SQL - Actual SQL: ds_0 ::: select * from t_order_item_0 where `status` = (select `status` from t_order where user_id = 10 and order_id = 10);
[INFO ] 21:06:40.655 [epollEventLoopGroup-3-13] o.a.s.s.transport.codec.PacketCodec - Write to client d1084257 :
          +----------------------------

[2019-10-28 13:54] terrymanu commented on #3388
Can you change the title to more make sense?

[2019-10-28 13:55] terrymanu commented on #3387
@forachange for Can you try example first?

[2019-10-28 13:58] terrymanu commented on #3310
Can you change title for this, I think the problem is not `Table 'db.triggers' doesn't exist`, `navicate cannot show table structure if xxx` maybe better

[2019-10-28 13:59] #3255 closed

[2019-10-28 14:46] sluk3r commented on #2920
@ustbyjy  Hi, with your [config file](https://github.com/apache/incubator-shardingsphere/files/3759821/config-sharding.txt)， when I get DataSource, there is an error concerning with parsing yaml content, that is:

![image](https://user-images.githubusercontent.com/6405801/67687836-d9dbff00-f9d3-11e9-8070-f0fa6cb52755.png)

the reproduce code is YamlIssue2920Main.java, as in https://github.com/sluk

[2019-10-28 16:34] mygitdds commented on #3388
@terrymanu 这样应该可以吧。

[2019-10-28 16:35] mygitdds commented on #3388
@terrymanu It should be ok

[2019-10-28 23:24] sunbufu commented on #3366
Can you create a demo to reproduce this issue?

[2019-10-29 01:30] duanbin0414 commented on #3366
ArrayList<String> billCodes = new ArrayList<>();
        billCodes.add("13");
        billCodes.add("14");

        Example example = new Example(User.class);
        example.createCriteria().andIn("id", billCodes);
        List<User> users = userMapper3.selectByExample(example);

[2019-10-29 02:24] KomachiSion commented on #3352
There are two questions for your idea.

1. We need to do much work to make sure the rewrite SQL is correct. Hibernate can do this because it generate SQL from JavaBean not SQL. But SS focus on SQL, SS need to parse logicSQL, and then rewrite.
2. Even we do rewrite for SQL, how to deal with this kind of situation that logic SQL has origin column alias like `select i.status as i_status, o.status as

[2019-10-29 03:22] ygycomon commented on #3366
Same issue with me.

I copy the demo code from https://shardingsphere.apache.org/document/current/en/manual/sharding-jdbc/usage/sharding/.
The <Rule Configuration Based on Java> which is the simplest way to run.

SQL:select * from test_table where user_id in (1, 2, 3)

I use Wireshark to get all requests, it shows Shardingsphere sends 9 Query Requests to DB.
select * from act_money_account_1 where

[2019-10-29 03:24] KomachiSion commented on #3388
@mygitdds , `saga.properties` should be located in root classpath. I am not clear for your environment, So I think that your `saga.properties` file is it in the wrong place.

[2019-10-29 03:44] ygycomon commented on #3366
BTW, I am with newest version: 4.0.0-RC2

[2019-10-29 04:06] zcqshine commented on #2712
我用的是hicari，没有用druid一样的是这个问题。请问你现在用的是哪个数据有组件

[2019-10-29 05:15] mygitdds commented on #3388
@KomachiSion I put it in the same level as the path's and the springboot's propertis file. I can deploy the project as a war package, but there is no problem.

[2019-10-29 05:19] mygitdds commented on #3388
@KomachiSion The saga of version 4.0.0-rc2 that I used has many similar situations on Baidu, because after the project is packaged into jar package, the path cannot be obtained.

[2019-10-29 05:36] KomachiSion commented on #3388
You can try add `saga.properties` to classpath by `-classpath` java properties like

`java -classpath .:${yourClassPath}:${saga.propertiesPath} ${MAINCLASS}`

[2019-10-29 06:01] sunbufu commented on #3352
1. Yes, I known this idea is difficult, and maybe it's unfeasible.
2. I think we can replace user's alias with we generated alias.

[2019-10-29 06:35] #3388 closed

[2019-10-29 07:01] yanickxia opened #3393 "sharding-ui-backend support spring-boot-maven-plugin plugin"
## Feature Request
### Describe the feature you would like.

durating develop, if want run a sharding-ui-backend must be package then `java -jar` run. maybe add a `spring-boot-maven-plugin` then `spring-boot:run` more easy...

[2019-10-29 07:39] zdmwww commented on #3119
I has read the hint example and write code like ModuloHintShardingAlgorithm.java.But when the

doSharding()

method return more than one databases，the query result is not correct, It will not be paged correctly and sort correctly.

[2019-10-29 07:45] beijing-penguin commented on #3393
@terrymanu Is this need appropriate?  I can do it...

[2019-10-29 08:00] sluk3r commented on #2920
Reproduced

[2019-10-29 08:14] beijing-penguin commented on #3387
Simple configuration，you can create a ShardingDataSource object...like this "
		DataSource dataSource = ShardingDataSourceFactory.createDataSource(dataSourceMap, shardingRuleConfig, new Properties());"        then replace mybatis datasource.

[2019-10-29 08:23] sluk3r commented on #2920
@terrymanu @ustbyjy  I am not sure which table name is correct. the table name of "SDS" should not be lowercased?

[2019-10-29 09:01] ustbyjy commented on #2920
SDS and TBLS.

In my opinion, the table name should't be lowercased, because table name may be case-sensitive in db.

[2019-10-29 09:49] #1496 closed

[2019-10-29 09:55] #3393 closed

[2019-10-29 09:56] terrymanu commented on #3393
@beijing-penguin Thank you, the pull request has merged, maybe next time.

[2019-10-29 10:20] #3005 closed

[2019-10-29 10:50] terrymanu commented on #3350
Let's talk about shardingsphere here

[2019-10-29 11:55] dongzl opened #3397 "Execute "SHOW VARIABLES LIKE 'lower_case_%'" case QueryHeader.java throw NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-29 11:57] dongzl commented on #3397
I'm so sorry, my code case this bug, I will fix it right now.

[2019-10-29 14:27] #3384 closed

[2019-10-29 14:35] mygitdds opened #3398 "Compatibility of reading saga.properties from a jar package in the sagaconfigurationloader.loadconfigurationproperties method of Saga"
In sagaconfigurationloader.loadconfigurationproperties method of distributed transaction saga, sagaconfigurationloader. Class. Getclassloader(). Getresource (configuration_file) is used to read saga.properties. When the project runs as a jar package, it will report the wrong path and cannot find the file. A policy can be added to use sagaconfiguration when it cannot be read. Load. Class. Getclassl

[2019-10-29 14:35] #3398 closed

[2019-10-29 14:36] mygitdds opened #3399 "Compatibility of reading saga.properties from a jar package in the sagaconfigurationloader.loadconfigurationproperties method of Saga"
In sagaconfigurationloader.loadconfigurationproperties method of distributed transaction saga, sagaconfigurationloader. Class. Getclassloader(). Getresource (configuration_file) is used to read saga.properties. When the project runs as a jar package, it will report the wrong path and cannot find the file. A policy can be added to use sagaconfiguration when it cannot be read. Load. Class. Getclassl

[2019-10-29 15:35] terrymanu commented on #3398
Hi, what is the reason for close this issue?

[2019-10-29 15:36] terrymanu commented on #3345
Hi, what is the reason for close this issue?

[2019-10-29 15:37] terrymanu commented on #3353
Hi, what is the reason for close this issue?

[2019-10-30 03:03] yanyzy commented on #3366
Hi @ygycomon , i think this is due to your sharding rules.
[code]
`user_id in (1, 2, 3)`  will route to 3 databases and 3 tables, so it is  9 query requests.

[2019-10-30 03:22] #3230 closed

[2019-10-30 03:24] ygycomon commented on #3366
Thanks for you reply. How can I config to make Shardingsphere send only 3 query requests?  The data locates in three certain tables, it useless to send extra 6 query requests to DB which do not contains data. BTW, I shard my data into 100 DBs * 10 Tables, it costs serious problem in my situation

[2019-10-30 03:24] #3397 closed

[2019-10-30 03:27] terrymanu commented on #3377
Closed for not change title

[2019-10-30 03:27] #3377 closed

[2019-10-30 03:30] terrymanu commented on #3310
Closed for not change title

[2019-10-30 03:30] #3310 closed

[2019-10-30 03:43] ygycomon commented on #3366
https://shardingsphere.apache.org/document/current/en/features/sharding/principle/route/
However, Shardingsphere  document says if SQL is
`
SELECT * FROM t_order WHERE order_id IN (1, 2);
`
The route result will be:
`
SELECT * FROM t_order_0 WHERE order_id IN (1, 2);
SELECT * FROM t_order_1 WHERE order_id IN (1, 2);
`
The original logical SQL is split into 2 query requests instead of 4 query reque

[2019-10-30 03:52] yanyzy commented on #3366
@ygycomon
Maybe you can use ` Standard Sharding Strategy`, refer to https://shardingsphere.apache.org/document/current/en/features/sharding/concept/sharding/,  and
here are some examples https://github.com/apache/incubator-shardingsphere-example

[2019-10-30 04:01] sunbufu commented on #3119
Can you create a git repository and show your issue?

[2019-10-30 05:26] duanbin0414 commented on #3366
I used Standard Sharding Strategy, found this proplem.

[2019-10-30 05:54] harvies commented on #3387
I will provide an example.

[2019-10-30 05:57] harvies commented on #3387
You need to add @MapperScan(basePackages = "xxx.mapper") to the Application.

[2019-10-30 06:01] harvies commented on #3387
The example address is at "https://raw.githubusercontent.com/harvies/codes/master/db/sharding-sphere/sharding-jdbc-example/sharding-jdbc-sharding-example/sharding-jdbc-spring-boot-mybatis- Example/src/main/java/io/github/harvies/codes/sharding/jdbc/spring/boot/mybatis/ShardingJdbcSpringBootMybatisExampleMain.java”.

[2019-10-30 06:03] harvies commented on #3387
The example address is at "https://github.com/harvies/codes/blob/master/db/sharding-sphere/sharding-jdbc-example/sharding-jdbc-sharding-example/sharding-jdbc-spring-boot-mybatis-example/src/main/java/io/github/harvies/codes/sharding/jdbc/spring/boot/mybatis/ShardingJdbcSpringBootMybatisExampleMain.java”.

[2019-10-30 06:06] harvies commented on #3399
Can you provide an example?

[2019-10-30 06:17] xiyelife opened #3404 "Insert failed when inserted sql contains “code” column"
### Which version of ShardingSphere did you use?
4.0.0-RC3-SNAPSHOT
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
insert successfully
### Actual behavior
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:
Error updating database.  Cause: java.lang.IllegalStateException
The error may

[2019-10-30 06:24] terrymanu commented on #3404
We need add `code` to unreserved words list in g4 file, any body want to do this?

[2019-10-30 06:39] ygycomon commented on #3366
I switch into Standard Sharding Strategy, but I fail. Sends 9 query request to DB again.

`
StandardShardingStrategyConfiguration stdDBConfig = new StandardShardingStrategyConfiguration("user_id", new PreciseShardingAlgorithm() {
			@Override
			public String doSharding(Collection collection, PreciseShardingValue preciseShardingValue) {
				Integer index = Long.valueOf(preciseShardingValue.getValu

[2019-10-30 06:43] hugo980521 opened #3405 "multi schema query error"
bug ：version 4.0.0-RC1
mysql database has three schemas: ds0, ds1, test

at ds0 create table test_a,sql follow:
CREATE TABLE `test_a` (
  `name` varchar(20) DEFAULT NULL COMMENT '名称',
  `code` varchar(20) DEFAULT NULL COMMENT '编码',
  `id` varchar(36) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=INNODB DEFAULT CHARSET=utf8 ;

at ds1 create table test_b,sql follow:

CREATE TABLE `test_b` (
  `

[2019-10-30 07:06] yu199195 opened #3406 "When have a lot of data sources ,CreateDataSource It's very slow...."
Sharding-JDBC 3.0.0

We are using version 3.0.0，Now we have 128 datasourcs, which are database and table。

We found that as the number of data sources increased, our application started very slowly,

The reason is this code ：

ShardingDataSourceFactory.createDataSource(dataSourceMap, shardingRuleConfig, shardingProperties.getConfigMap(), shardingProperties.getProps());

  private final Map<String,

[2019-10-30 07:11] zxyevjgithub opened #3407 "为什么groovy表达式不能支持多个数字"
![image](https://user-images.githubusercontent.com/53131776/67836414-85499880-fb27-11e9-873a-8a8dcc563af6.png)

[2019-10-30 07:29] zjcnb opened #3408 "Is there redundant code in ShardingProperties class？"
Hi everyone，
     I hava a suggestion，validate() methond in ShardingProperties class。 Part of code can remove？Because，Is there no long.class in ShardingPropertiesConstant 。The following code：

       String value = props.getProperty(each);
            if (type == boolean.class && !StringUtil.isBooleanValue(value)) {
                errorMessages.add(getErrorMessage(shardingPropertiesConstant, valu

[2019-10-30 07:29] #3407 closed

[2019-10-30 07:30] terrymanu commented on #3407
**For English only**, other languages will not accept.

[2019-10-30 07:47] terrymanu commented on #3408
Can you submit a pull request?

[2019-10-30 07:59] terrymanu commented on #3406
Version 3.x is out of service, can you try 4.x?

[2019-10-30 07:59] terrymanu commented on #3405
Can not support union and subquery

[2019-10-30 07:59] #3405 closed

[2019-10-30 08:02] yu199195 commented on #3406
Our company can't upgrade. We have too much business

[2019-10-30 08:10] zjcnb commented on #3408
yes，i can

---Original---
From: "Liang Zhang"<notifications@github.com&gt;
Date: Wed, Oct 30, 2019 15:48 PM
To: "apache/incubator-shardingsphere"<incubator-shardingsphere@noreply.github.com&gt;;
Cc: "Author"<author@noreply.github.com&gt;;"zjcnb"<760147382@qq.com&gt;;
Subject: Re: [apache/incubator-shardingsphere] Is there redundant code in ShardingProperties class？ (#3408)

Can you submit a pull r

[2019-10-30 09:48] terrymanu commented on #3406
Then maybe I will close this issue, because of the version is before enter to apache incubator.

[2019-10-30 09:48] #3406 closed

[2019-10-30 09:49] wgy8283335 commented on #3185
@huangjian888 .  Are you interested in this issue?

[2019-10-30 09:57] huangjian888 commented on #3185
At present, I also find that there are such problems, but there is no good plan.Because users may use different types of registries and configuration centers

[2019-10-30 11:14] tristaZero commented on #3370
Hi, it is a easy issue, if anyone is interested in it, please raise a PR. Thanks
### How to solve it?
If null == resultSet.getString(INDEX_NAME), then return Optional.<String>absent() in `getLogicIndex(final String actualIndexName, final String actualTableName)`.

[2019-10-30 13:28] Pramy commented on #3383
@terrymanu maybe we don't need so many timeservices, as long as we put the sql of time in prop, let the user fill it out.

[2019-10-30 16:20] mygitdds commented on #3399
@harvies I use saga in my project. When my project is packaged into jar package to run, there is an error reading saga.propertis in Saga transaction. The reason for the error is that the path obtained is not correct, because after jar package is printed, it is not a folder. I changed the source code, added a way to read through the stream, and then run it successfully.

[2019-10-31 00:59] alwyngo commented on #3386
@yanickxia Hi, the `baseMapper.saveBatch` method is provided by the mybatis-plus framework, i can't config the  useGeneratedKeys

[2019-10-31 00:59] #3386 closed

[2019-10-31 01:27] hugo980521 opened #3416 "Multischema query Error"
### Which version of ShardingSphere did you use?
4.0.0-RC1 error
3.1.0 normal
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
sharding-jdbc
### Expected behavior
rewrite sql contains schema,so can right run.
### Actual behavior
rewrite sql doesn't contain schema.
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configurati

[2019-10-31 01:34] terrymanu commented on #3416
Hi, duplicate with #3405

[2019-10-31 01:34] #3416 closed

[2019-10-31 02:16] #3404 closed

[2019-10-31 02:42] jiang2015 commented on #650
sharding-jdbc之ANTLR4 SQL解析: https://my.oschina.net/u/3180962/blog/3100218/print

[2019-10-31 02:55] haetao opened #3419 "Using Sharding-Proxy to insert orrcurs error when using JDBC PreparedStatement in backend database PostgreSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-10-31 05:41] xiyelife opened #3421 "When will "4.0.0-RC3" be released to the maven central repository?"
When will "4.0.0-RC3" be released to the maven central repository?

[2019-10-31 07:26] terrymanu commented on #3421
Please subscribe dev mail group to get more information

[2019-10-31 07:26] #3421 closed

[2019-10-31 07:51] harvies commented on #3399
You can use Spring @PropertySource and @Value to get the configuration file.

@Configuration
@PropertySource(value="classpath:config.properties")
public class ProperySourceDemo {

    @Value("${jdbc.url}")
    private String url;

}

Or you can provide an example project.

[2019-10-31 07:59] harvies commented on #3378
Can you provide an example project? Or describe the problem clearly.
The cause may be a maven dependency problem (package missing or package conflict)

[2019-10-31 08:02] AL-Liang opened #3422 "version 4.0.0-RC2: key generated by SnowflakeShardingKeyGenerator mod 4 always is 0/1, expected 0/1/2/3"
Hi.
I found a fact about the sharding key generated by built-in snowflake algorithm. The result of the key mod 4 always is 0/1, to me, it is wierd. What I expected is, the result should be 0/1/2/3, and the key should evenly distributed to all the sharded tables. I am new to ShardingSphere and the snowflake algorithm. Hope I can get some help here.

**I found out there is  no this problem when keys

[2019-10-31 08:27] zcqshine opened #3424 "Sharding-JDBC 4.0.0-RC2 not support '~' Operator of PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?
4.0.0-RC2  4.0.0-RC3

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
[code]
### SQL

[code]

### Reason analyze (If you can)
If I replace `~` with `LIKE`,  is ok.
In `Tables` class, the program treats alias as schema:` h.id, p.id, o.id`

[2019-10-31 09:58] mygitdds commented on #3399
@harvies I'll give you a code that I used to branch. You pull it down, type it into a jar package, and then run it. Wait a moment.

[2019-10-31 10:08] zcqshine opened #3426 "4.0.0-RC2 Pagination error"
### Which version of ShardingSphere did you use?
4.0.0-rc2
### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC
### Expected behavior
[code]
### Reason analyze (If you can)
in class `Pagination`:
[code]
when long to int, I suggest to use `((Number)parameters.get(((ParameterMarkerPaginationValueSegment) paginationValueSegment).getParameterIndex())).intValue()`

[2019-10-31 10:18] mygitdds commented on #3399
@harvies Use DDS branch code https://gitee.com/shengnong_1/dashboard/programs/12247/projects/shengnong_1/SwallowPlatformBusiness/tree/dds_20190809

[2019-10-31 10:32] mygitdds commented on #3399
@harvies
Using sharding saga, the project runs as a jar package, and an error will be reported when the project starts. The path cannot be found. The error code is the method new FileInputStream (new file (configurationfile. Getpath())) in the sagaconfigurationloader class. In this way, the saga.propertis file cannot be obtained,

[2019-10-31 10:33] zcqshine commented on #3426
I found it was be fixed in 4.0.0-rc3

[2019-10-31 10:35] #3426 closed

[2019-10-31 11:16] zhuobinchan opened #3427 "batch insert sql can improve efficiency?"
## Question
batch insert 10000 record by default  just need 2~3 second，but use sharding-jdbc insert need more than 2 minutes。
how to optimize it to improve efficiency？

maven version：
![image](https://user-images.githubusercontent.com/15796879/67942417-bce13f00-fc12-11e9-9f23-e0a46f4fa8bb.png)

test case result：
![image](https://user-images.githubusercontent.com/15796879/67942458-cf5b7880-fc12-11e

[2019-10-31 11:40] zhuobinchan commented on #3351
4.0.0-RC1 version can fix this problem？？

[2019-10-31 11:46] yanickxia commented on #3427
What Type?
`Master/Slave` almost without any reduce.
`sharding tables` seem half speed of raw insert.

[2019-10-31 11:54] zhuobinchan commented on #3427
without any reduce

my sharding config：
![image](https://user-images.githubusercontent.com/15796879/67944782-3e879b80-fc18-11e9-95bb-1493fa8eb8e0.png)

[2019-10-31 12:41] yanickxia commented on #3427
the same configuration.
`Raw Insert` insert 10,000 rows data use 1.759s
`Sharding table` insert 10,000 rows data use  10.42s

[2019-10-31 13:06] sunbufu commented on #3185
Hi, we got some conclusions, after the discussion.
The new configuration in the plan is as follows.
[code]
The old configuration is as follows.
[code]

We hope that the new configuration can be compatible with the old configuration, but we do not want the configuration to be redundant. There are some of difficulties we get, can you give me some advice ?

1. For compatibility with old configuration

[2019-10-31 14:11] wgy8283335 commented on #3185
`overwrite` is only for config. `orchestration.overwrite` will be overlap?

[2019-10-31 14:13] terrymanu commented on #3427
duplicate with #3351

[2019-10-31 14:13] #3427 closed

[2019-10-31 14:14] terrymanu commented on #3422
Can you change title for search friendly?

[2019-10-31 14:29] wgy8283335 commented on #3185
what about this? but `overwrite` is still redundant.
[code]

[2019-10-31 15:47] AL-Liang commented on #3422
Thanks for your reply. I am not sure how. Any advice?

[2019-11-01 01:40] dongzl commented on #3185
[code]
How about this? feel a little simple.

[2019-11-01 01:58] DongJigong opened #3430 "JdbcTemplateQuery select inner join spilce table with sharding cloumn on my where condtion. will get '}' in converted sql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-01 02:12] huangjian888 commented on #3185
spring:
    shardingsphere:
        orchestration:
            name: ''
            overwrite: ''
            registry:
                digest: ''
                max-retries: ''
                name: '#Orchestration instance name'
                namespace: ''
                operation-timeout-milliseconds: ''
                props: ''
                retry-interval-milliseconds: ''

[2019-11-01 02:31] zhuobinchan commented on #3427
I found sharding table insert 10000 rows in one sql slower than 500 rows in 20 sql，because sql longer parsing sql slower？

[2019-11-01 02:31] DongJigong commented on #3430
It's all my fault. I am so careless that add a more '}' in my sharding config file.

[2019-11-01 02:31] #3430 closed

[2019-11-01 02:46] huangjian888 commented on #3185
If the Nacos configuration center does not support some methods, can we throw exceptions directly? Then tell the user to configure the leafcenter？

[2019-11-01 04:08] wgy8283335 commented on #3185
which plan？

[2019-11-01 06:21] xxx1204 opened #3431 "JDBC and workbench and navicat are not logged in"
I can't connect with a Java program, proxy.No error reported.You can't log in the UI tools, you can only log in using the mysql command

[2019-11-01 06:25] huangjian888 commented on #3185
`spring:
    shardingsphere:
        orchestration:
            name: ''
            overwrite: ''
            registry:
                digest: ''
                max-retries: ''
                name: '#Orchestration instance name'
                namespace: ''
                operation-timeout-milliseconds: ''
                props: ''
                retry-interval-milliseconds: ''

[2019-11-01 06:29] jinjim opened #3432 "can we push log to Cat?"
## Feature Request

**For English only**, other languages will not accept.
how can we push log to Cat?

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request relate

[2019-11-01 07:21] wgy8283335 commented on #3185
@huangjian888 . The method of registry center, config center and leaf center will be slimed.

[2019-11-01 07:29] huangjian888 commented on #3185
Do you have a good plan？how to split it？

[2019-11-01 07:30] wgy8283335 commented on #3185
ConfigCenter（配置管理） | RegistryCenter（编排治理） | LeafCenter（Leaf主键生成）
-- | -- | --
void init(ConfigCenterConfiguration config); | void init(RegistryCenterConfiguration config); | void init(LeafCenterConfiguration config);
String get(String key); | String get(String key); | String get(String key);
  |   |  
  |   |  
List<String> getChildrenKeys(String key); | List<String> getChildrenKeys(String key); |

[2019-11-01 07:39] huangjian888 commented on #3185
Big changes！And not compatible with older versions。But the plan is good！It may take more time to test。

[2019-11-01 08:38] yanickxia commented on #3432
Try [Cat with Logback](https://github.com/dianping/cat/blob/master/integration/logback/README.md)

[2019-11-01 09:44] terrymanu commented on #3376
This is the internal implementation. I suggest your coding don't depend on it, the refactor always occur for internal implementation without guarantee.

[2019-11-01 09:53] terrymanu commented on #3376
I suggest do not change it because of the `SimpleQueryShardingEngine` can lazy initialized. If user create statement, but do not call execute create `SimpleQueryShardingEngine` instance is unnecessary.

So what is the actual benefit to refactor this?

[2019-11-01 09:57] terrymanu commented on #3422
What is your version?

[2019-11-01 09:59] terrymanu commented on #3431
what is your version?

[2019-11-01 10:12] yanickxia commented on #3431
@xxx1204

MySQL Workbench `6.3.10` is work...
`8.X` not working. beacuse driver is change.. but Workbench not any driver version select.

so, i think you can try old version, such like `6.3.10`

[2019-11-01 10:17] AL-Liang commented on #3422
4.0.0-RC2

[2019-11-01 11:17] rimal opened #3435 "Are there any plans of supporting `isLast`"
## Question

Hello, I need to use `java.sql.ResultSet#isLast()` in my application. But am getting a `java.sql.SQLFeatureNotSupportedException: isLast` for this. On your [latest master](https://github.com/apache/incubator-shardingsphere/blob/dev/sharding-jdbc/sharding-jdbc-core/src/main/java/org/apache/shardingsphere/shardingjdbc/jdbc/unsupported/AbstractUnsupportedOperationResultSet.java#L57) as w

[2019-11-02 03:22] maybeclold opened #3436 "springboot2 connnect proxy error"
How spring boot2 connects mysql8 through proxy？
my connectis error 。

mysql is 8.0
proxy is 4.0.0-RC1

<img width="656" alt="error" src="https://user-images.githubusercontent.com/42229515/68065345-f5902e00-fd62-11e9-9045-ed045d1bf1f7.png">

[2019-11-02 07:51] xr2117 opened #3437 "分页问题"
springboot 整合 shardingJDBC 和Mybatisplus 使用Page分页出现问题 会出现异常

[2019-11-02 07:55] xr2117 commented on #3437
Page<Goods1> page = new Page<>();
        IPage<Goods1> iPage = goods1Mapper.selectPage(
                page,
                Wrappers.query());

[2019-11-02 07:59] xr2117 commented on #3437
![Uploading 微信图片_20191102155858.png…]()

[2019-11-02 07:59] #3437 closed

[2019-11-02 07:59] xr2117 commented on #3437
2019-11-02 15:56:01.850 DEBUG [xri-microsservice-service-provider-impl,c27792394fe5fa77,c27792394fe5fa77,false] 17568 --- [nio-9000-exec-1] c.f.p.mapper.Goods1Mapper.selectPage     : ==>  Preparing: SELECT COUNT(1) FROM goods
2019-11-02 15:56:01.857 DEBUG [xri-microsservice-service-provider-impl,c27792394fe5fa77,c27792394fe5fa77,false] 17568 --- [nio-9000-exec-1] c.f.p.mapper.Goods1Mapper.selectPa

[2019-11-02 08:29] terrymanu commented on #3436
Hi, can you change the title for search friendly?

[2019-11-02 08:43] terrymanu commented on #3435
We can open this issue and let volunteer to consider about it.

[2019-11-02 09:11] xr2117 opened #3438 "与MybatisPlus不兼容"
org.apache.shardingsphere.core.optimize.sharding.segment.select.pagination.Pagination

[code]

MybatisPlus 分页Page使用的long类型 ShardingJDBC 转换int 不兼容 出现转换异常

[2019-11-02 09:37] RaigorJiang commented on #3438
please fill in the issue template as follow. Thanks.

Bug Report
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed GitHub issues.
Read documentation: ShardingSphere Doc.
Please pay attention on issues you submitted, because we maybe need more details.
If no response more than 7 days and we cannot reproduce it on current informati

[2019-11-02 09:45] jiang2015 commented on #3382
I have some problems: @terrymanu
1.when the subquery's TableReferencesContext shoule be extracted,SubqueryPredicateExtractor or TableReferencesExtractor ?
2. where the subquery's TableReferencesContext should be saved,it can be used when ShardingRouter.route
![深度截图_选择区域_20191102173313](https://user-images.githubusercontent.com/10781145/68069164-69e4c480-fd97-11e9-8bf5-e0f56ad54359.png)
WhereClause

[2019-11-02 09:50] xr2117 commented on #3438
I am Chinese, English is not very good.

Sharding-jdbc JDBC latest version

Mybatisplus latest version

## problem

The page method of the mybatisplus Page object accepts an int parameter.
And sharding-jdbc receives the int type

In source
Package org.apache.shardingsphere.core.optimize.sharding.segment.select.pagination;
getValue method convert to int
Throw a conversion exception

## recurrent
Us

[2019-11-03 01:31] #3438 closed

[2019-11-03 01:32] terrymanu commented on #3438
**For English only**, other languages will not accept.

[2019-11-03 01:33] terrymanu commented on #3376
If no update, I will close this soon

[2019-11-03 01:34] terrymanu commented on #3436
I just set this issue as invalid until title change. And I will close later if title do not change.

[2019-11-03 02:01] maybeclold commented on #3436
I've changed it.soryy!!!

At 2019-11-02 16:30:11, "Liang Zhang" <notifications@github.com> wrote:

Hi, can you change the title for search friendly?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-03 02:02] maybeclold commented on #3436
oh  I'm sorry.I've changed it

[2019-11-03 02:28] xr2117 opened #3439 "Not compatible with mybatisplus"
I am Chinese, English is not very good.

Sharding-jdbc JDBC latest version

Mybatisplus latest version

problem
The page method of the mybatisplus Page object accepts a long argument.
And sharding-jdbc receives the int type

In source
Package org.apache.shardingsphere.core.optimize.sharding.segment.select.pagination;
getValue method convert to int
Throw a conversion exception

recurrent
Use the My

[2019-11-04 00:19] terrymanu commented on #3439
What is your actual version?

[2019-11-04 00:21] #3408 closed

[2019-11-04 01:41] xr2117 commented on #3439
MybatisPlus 3.2.0 version
ShardingJDBC 4.0.0-RC2 version

[2019-11-04 01:59] jiang2015 commented on #3382
when can we  discuss this problem?

[2019-11-04 02:33] xxx1204 commented on #3431
4.0.0-RC2

[2019-11-04 02:56] DongJigong opened #3440 "ResultSetUtil convert bool column with '0' will get error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-04 03:03] xxx1204 commented on #3431
SPRING2 connect  4.0.0-RC2

[2019-11-04 03:04] dongzl commented on #3185
Hi @huangjian888
dzllikelsw@163.com this is my email, you can send your WeChat's account to this email, and we can friend each other.

[2019-11-04 03:08] DongJigong commented on #3440
![image](https://user-images.githubusercontent.com/8855265/68097675-61090580-fef3-11e9-9268-3a3c2b8feaa1.png)

[2019-11-04 03:21] hunter7727 commented on #3102
Sorry,I can't change the title now. can you help me change to "when there is a sql subquery, the implementation error"?

[2019-11-04 03:28] jiang2015 commented on #3440
you should provide your sql,and project configure？

[2019-11-04 03:28] hunter7727 commented on #3102
The same problem occurs when there are associated queries and subqueries appear in the sql statement.Such as this sql statement:select * from (select id,key,value) as a,b,c where a.id = b.key_id and b.key_id = c.p_id;

[2019-11-04 04:11] terrymanu commented on #3431
What is the reason for close this issue?

[2019-11-04 04:13] terrymanu commented on #3439
Can you provide exception stack trace?

[2019-11-04 05:53] xfyang1989 commented on #3427
This question is raised by me. Now, the performance of this batch insert has a great impact, both RC1 and RC2 have a great impact

[2019-11-04 06:34] spawpaw opened #3441 "[sharding-jdbc-spring-boot-starter] wrong config key"
## Bug Report

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
I'm using sharding-jdbc v4.0.0-RC2:

[code]
### Actual behavior
#### the doc uses `username` for ds config
![图片](https://user-images.githubusercontent.com/18007922/68102587-5f990680-ff0e-11e9-91b4-9ce4a94e23c8.png)

#### but it raises an error that username is empty:
![图片](https://user-images.githubusercontent.com/18007

[2019-11-04 06:42] DongJigong commented on #3440
After I changed my mysql table varchar column  to a bit column . It works fine again.

[2019-11-04 06:42] #3440 closed

[2019-11-04 06:44] spawpaw commented on #3441
ummmmmm, i know why i have this problem...
the config is different between datasource types, so...

for example, when I use hikari datasource, this config is ok:
[code]

[2019-11-04 06:44] #3441 closed

[2019-11-04 06:45] xxx1204 commented on #3431
I can't connect with a Java program, proxy.No error reported.You can't log in the UI tools, you can only log in using the mysql command

[2019-11-04 06:45] hugo980521 commented on #3405
at version 3.1.0 is ok。 all tables are not sharding tables, so shuld be executed normally.

[2019-11-04 07:06] xfyang1989 commented on #3351
It takes time to insert 200 pieces of RC1 and RC2 in batches, sometimes nearly 4S

[2019-11-04 07:10] SteNicholas commented on #3424
@terrymanu Please assgin this issue to me.

[2019-11-04 08:08] geomonlin commented on #3436
First you can reduce your mysql version.
Secondly What is your proxy version?

[2019-11-04 08:20] maybeclold commented on #3436
thx

[2019-11-04 08:47] #3273 closed

[2019-11-04 08:48] yeaicc commented on #3345
日志里打印的原因罢了，怪我没看清楚

[2019-11-04 08:53] terrymanu commented on #3431
Can you provide the full logs of application startup?

[2019-11-04 08:54] terrymanu commented on #3424
@SteNicholas Thank you, assigned.

[2019-11-04 08:55] xxx1204 commented on #3431
There is no error in the log

[2019-11-04 10:18] xr2117 commented on #3439
It's not convenient to contact here. You are also Chinese. Can I contact QQ in other ways?

The reason for the exception is that the mybatisplus page is of long type, shardingjdbc is of int type, and the conversion exception occurs

[2019-11-04 10:31] SteNicholas commented on #3424
@zcqshine Your SQL was wrong which subquery used ~ operator.In PostgreSQL,~~ operator is equal to LIKE.

[2019-11-04 10:40] dongzl commented on #3439
This bug has already fixed in 4.0.0-RC3 version, you can focus on RC3's release.

you can reference this issue. #3257 .

[2019-11-04 10:46] wgy8283335 commented on #3185
After discussion, the configuration will like this:
[code]

[2019-11-04 11:44] #3424 closed

[2019-11-04 11:47] terrymanu commented on #3437
**For English only**, other languages will not accept.

[2019-11-04 12:57] xr2117 commented on #3439
When will the 4.0.0-rc3 release be released

[2019-11-04 14:37] terrymanu commented on #3431
Even there is no error log, I still need the log to find some hint

[2019-11-04 15:43] zhuobinchan commented on #3427
I read your question，and now i fix this question by config two data sources like this：
default data source config：
![image](https://user-images.githubusercontent.com/15796879/68133633-bd077480-ff5b-11e9-8cdd-16ede0c181a1.png)
sharding data source config：
![image](https://user-images.githubusercontent.com/15796879/68133713-e1635100-ff5b-11e9-8e55-09ca3921b56a.png)

if i do not need operate sharding

[2019-11-05 00:42] xfyang1989 commented on #3427
I know the way you said, but this one is in the same transaction with the sharing table - two data sources can't control the transaction

发自我的 iPhone

[2019-11-05 01:06] harvies commented on #3399
Permission denied.

[2019-11-05 01:17] dongzl commented on #3439
Very quickly, The RC3's release is in process.

[2019-11-05 01:34] RaigorJiang commented on #3362
@jiang2015
For this issue, I think adding default values is not appropriate, but we can solve the NullPointerException.
I am going to do this.

[2019-11-05 01:48] xr2117 commented on #3439
Can I be your friend? I'm in Beijing。

[2019-11-05 02:52] bofale opened #3445 "启动服务是提示表不存在"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/incubator-shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more de

[2019-11-05 03:01] #3445 closed

[2019-11-05 03:02] terrymanu commented on #3445
**For English only**, other languages will not accept.

[2019-11-05 03:03] terrymanu commented on #3432
@jinjim Can you follow @yanickxia 's suggestion and try it?

[2019-11-05 03:16] #3376 closed

[2019-11-05 03:25] bofale opened #3446 "present table not exist when start application"
### Which version of ShardingSphere did you use?
org.apache.shardingsphere sharding-jdbc-core 4.0.0-RC2

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Oracle info
Oracle 11g

### DataSource
HikariDataSource com.zaxxer.HikariCP 3.4.1

### Expected behavior
find table info

### Actual behavior
ORA-00942: Table or view does not exist

### Reason analyze (If you ca

[2019-11-05 03:32] wgy8283335 commented on #3185
1. First Step
- modify sharding-orchestration-config, includes: interfaces, configuration, implementation.
- add sharding-orchestration-distributed-lock, includes: interfaces, configuration, implementation.
- modify sharding-orchestration-reg, include: configuration.and modify sharding-orchestration-core, include: initialization related.

2. Second Step
- add sharding-orchestration-instance. This

[2019-11-05 03:33] terrymanu commented on #3439
Sorry, we are apache project, we need follow apache way to make all discuss public in github or mailing list.
it is nothing happen if your request is not in a public area.

[2019-11-05 03:34] #3439 closed

[2019-11-05 03:36] terrymanu commented on #3362
@RaigorJiang  Thank you, assigned.

[2019-11-05 03:59] huangjian888 commented on #3185
sharding-orchestration-instance is it necessary?why?

[2019-11-05 06:25] RaigorJiang opened #3449 "Proxy occurs NullPointerException when the SQL is empty String"
## Bug Report

### Which version of ShardingSphere did you use?
Sharding-Proxy 4.0.0-RC3-SNAPSHOT

### Expected behavior
When we use IDE, such as Navicat, we can execute the selected SQL by clicking 'Run Selected', but if nothing is selected at the time, the proxy will occur NullPointerException.

As Expected, it should not go wrong

### Reason analyze (If you can)
In SQLParserEngine.parse() metho

[2019-11-05 06:30] RaigorJiang commented on #3449
The ERROR log is like the following:

java.lang.NullPointerException: null
	at org.apache.shardingsphere.core.parse.core.parser.SQLParserEngine.parse(SQLParserEngine.java:59)
	at org.apache.shardingsphere.core.parse.core.SQLParseKernel.parse(SQLParseKernel.java:61)
	at org.apache.shardingsphere.shardingproxy.backend.text.TextProtocolBackendHandlerFactory.newInstance(TextProtocolBackendHandlerFacto

[2019-11-05 06:31] RaigorJiang commented on #3449
I suggest adding an empty judgment in the TextProtocolBackendHandlerFactory, I will submit a PR later.

[2019-11-05 06:36] beijing-penguin commented on #3370
I read the pssql、mysql and oracle jdbc source code，about catalog and schema method parameter，the result is :
1、All database's catalog  equal database name
2、oracle's schema equal username ,but other database's schema equal null.

[2019-11-05 07:09] terrymanu commented on #3449
Thank you, assign this issue to you.

[2019-11-05 07:37] jinjim commented on #3432
I have tried to implement druid filter to get sql log!3q

[2019-11-05 08:47] #3432 closed

[2019-11-05 08:55] maybeclold commented on #3436
mysql is 8.0
poxy is 4.0.0-RC1

[2019-11-05 09:07] tuohai666 commented on #3351
The root cause is straightforward: the parser takes too much time when parsing long SQL first time. Execute the SQL again will not cost time.
BTW, what's the time cost if execute this SQL directly from MySQL server?

[2019-11-05 09:20] zhumaoliang opened #3452 "How to confirm that the read query goes to the slave database"
It is configured with read-write separation. How to confirm that the read query goes to the slave database and the write operation goes to the master database

[2019-11-05 09:21] tuohai666 opened #3453 "Add Java docs for the APIs that relevant to SkyWalking plugin"
The docs should note that if the APIs change, new plugin should be provided to SkyWalking. This will make sure SkyWalking available when ShardingSphere have a new release.

This check should also be mentioned in the release guide.

[2019-11-05 09:22] xfyang1989 commented on #3351
I am using the default data source, he should not be parsed by SQL。If it is directly executed by the MySQL server, it only takes less than 100 milliseconds.

[2019-11-05 09:44] haetao commented on #3422
Since the SnowFlakeShardingKeyGenerator has a left shift operation when generating a number at different timestamps, the remainder is always 0 or 1 when this number is used to modulate a number of 2^n(your number is 4).

[2019-11-05 09:47] haetao commented on #3422
I'll fix it.

[2019-11-05 09:51] geomonlin commented on #3422
Me too, and hope you'll get involved

[2019-11-05 10:08] RaigorJiang commented on #3452
You can use the configuration:
`sql.show: true`
to show the Actual SQL

[2019-11-05 10:13] zhumaoliang commented on #3452
Configured, but it doesn't work，as follows  <prop key="sql.show">true</prop>

[2019-11-05 10:17] #3449 closed

[2019-11-05 10:22] RaigorJiang commented on #3452
@zhumaoliang  Can you show your configuration?

[2019-11-05 10:29] zhumaoliang commented on #3452
OK，![图片](https://user-images.githubusercontent.com/15760871/68200074-22aa3e00-fffa-11e9-96c3-92e39bd0cb35.png)

[2019-11-05 15:11] RaigorJiang commented on #3452
Ok. It looks the same as the documentation.
Do you use the 4.0.0-RC2 version?

If the problem persists after reading the documentation, could you provide a sample project to github?

[2019-11-06 01:26] Joe192168 opened #3455 "Sharding JDBC paging operations for different data sources？"
How does sharding JDBC page? Is there a detailed demo

[2019-11-06 01:28] duanbin0414 commented on #3366
Welcome to discuss, [https://blog.csdn.net/D_19901719576/article/details/102925945]( https://blog.csdn.net/D_19901719576/article/details/102925945)

[2019-11-06 01:30] duanbin0414 commented on #3366
Welcome to discuss, https://blog.csdn.net/D_19901719576/article/details/102925945

[2019-11-06 02:30] yanickxia commented on #3436
@maybeclold  the mysql driver too higher.. try 5.X or 6.X

[2019-11-06 02:35] yanickxia commented on #3435
i want try do it...

[2019-11-06 02:41] zhangChaoWrecked opened #3457 "Getting started is hard! The documentation is unclear and incomplete, resulting in some unclear functions"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response **more than 7 days** and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describ

[2019-11-06 02:42] zhuyaoming opened #3458 "use sharding when value typel is LONGVARCHAR have some problems"
i use mybatis to insert table, but when field type is LONGVARCHAR .
sharding have not to covert the value to string but io.

#{ruleResult,jdbcType=LONGVARCHAR},

Cause: java.sql.SQLException: Invalid argument value: java.io.NotSerializableException
; Invalid argument value: java.io.NotSerializableException; nested exception is java.sql.SQLException: Invalid argument value: java.io.NotSerializableE

[2019-11-06 02:43] zhuyaoming commented on #3458
but if i remove the tpye isok
like #{ruleResult}

[2019-11-06 05:46] Joe192168 opened #3459 "org.apache.shardingsphere和sharding-jdbc-core有啥关系"
这两个包有啥区别？

[2019-11-06 05:56] dongzl commented on #3459
Hi, @Joe192168

**For English only**, other languages will not accept.

This issue will be closed, You can submit a new issue in English again.

[2019-11-06 06:32] Joe192168 opened #3461 "Sharding JDBC package differences"
Hi,
1、
<groupId>org.apache.shardingsphere</groupId>
 <artifactId>sharding-jdbc-core</artifactId>
2、
<groupId>com.dangdang</groupId>
<artifactId>sharding-jdbc-core</artifactId>

What does 1 have to do with 2

[2019-11-06 07:08] RaigorJiang commented on #3461
They are diffenent version.    Please use the new version with `org.apache` package name.

[2019-11-06 07:11] Joe192168 commented on #3461
But the org.apache package is not compatible with com.dangdang's package？

[2019-11-06 07:16] RaigorJiang commented on #3455
Pagination queries  is Supported,  there is almost no difference from a single data source when using multiple data sources.
Please read:
https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/pagination/
or in Chinese:
https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/pagination/

[2019-11-06 07:18] RaigorJiang commented on #3455
One Notice: ORDER BY is required for Pagination queries.

[2019-11-06 07:21] RaigorJiang commented on #3461
Yes, they are not compatible,  That  `com.dangdang`  is a very old version.
The new version fixes a lot of issues and provides new features,  you can try.

[2019-11-06 09:22] zjcnb opened #3463 "Is it necessary to add check duplicate"
hi，
     ShardingSphere Is there no check duplicate classes，Is it necessary to add it！ like rpc framework dubbo！

[2019-11-06 10:01] Joe192168 commented on #3461
How to upgrade the org.apache program with the com.dangdang package?

For example:
Shardingrule shardingrule = Shardingrule. Builder(). Datasourcerrule (datasourcerrule). Tablerules (newtablerule). Databaseshardingstrategy (New databaseshardingstrategy ("create time", new modulodatabaseshardingalgorithm()). Tableshardingstrategy (New tableshardingstrategy ("create time", new modulotableshardingalg

[2019-11-06 10:20] Joe192168 commented on #3455
ok，try

[2019-11-06 10:47] #3459 closed

[2019-11-06 11:15] wjwei opened #3464 "本地事务必须要在方法上加@Transactional才能生效吗？"
配置了本地事务，发现只能在方法上加@Transactional才能生效，导致工程里有一些单个更新操作的方法也要加上@Transactional注解，感觉很麻烦。不知道是不是自己没有配置好，还是说shardingsphere的本地事务就必须要在方法上加@Transactional注解才能生效？

[2019-11-06 11:28] wjwei opened #3465 "Local transactions must be @Transactional on the method to take effect?"
Configured a local transaction, found that only @transactional can be added to the method to take effect, resulting in some single update operation in the project plus @transactional annotation, it feels very troublesome. I don't know if I haven't configured it myself, or does the local transaction of shardingsphere have to add @transactional annotation to the method to take effect?

[2019-11-06 12:02] HongJinFeng opened #3466 "Bug Report, java.lang.ClassCastException."
## Bug Report

1. Bug occur when jdbcType is tinyint(1) and java type is Integer, but sharding-jdbc convert the value to boolean.
2. Here is the core position.
org.apache.shardingsphere.shardingjdbc.jdbc.core.resultset.EncryptResultSet.getInt(final String columnLabel)

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitH

[2019-11-06 12:24] yanickxia commented on #3466
Seem 4.0.0-RC3 fixed it. ![#3311](https://github.com/apache/incubator-shardingsphere/commit/22f3d49f18b8a91487c095a9676bf40e3129f131)

[2019-11-06 12:26] yanickxia commented on #3464
Only for English..

[2019-11-06 12:31] #3464 closed

[2019-11-06 12:32] terrymanu commented on #3463
ok, we can start to optimized the duplicated class, do you want to do it?

[2019-11-06 12:33] #3466 closed

[2019-11-06 12:34] terrymanu commented on #3461
You can reference document and example

[2019-11-06 12:35] #3455 closed

[2019-11-06 13:56] zjcnb commented on #3463
yes，i do

[2019-11-07 02:04] Joe192168 commented on #3461
Compared the old source code with the latest one, it's not good at all. I can't think about the examples at all

Can't the government offer an upgrade plan？

[2019-11-07 02:20] terrymanu commented on #3463
Great, assigned to you.

[2019-11-07 02:37] HongJinFeng commented on #3466
Got it. It worked after config my datasource 'tinyInt1isBit=false'. In addition, When 4.0.0-RC3 can be found in maven central repository?

[2019-11-07 03:36] tristaZero commented on #3370
Hi penguin, Appreciated your investigation, if available, we welcome your contribution. :)

[2019-11-07 06:51] zjcnb commented on #3463
Which module is suitable to write to

[2019-11-07 07:11] zjcnb commented on #3463
I will add it in sharding-core module, path: sharding-core/sharding-core-common。because this module is basics module, You think how？

[2019-11-07 09:14] wangbo911 commented on #650
基于sharding-jdbc 3.0.0M1 -3.0.0M4版本的测试SQL支持情况和使用注意事项整理如下，可以作为参考。并整理了扫描全表和扫描目标表的情况：
http://note.youdao.com/noteshare?id=d1de661fb191f6ee8e158c85cb4ad970

[2019-11-07 09:28] wgy8283335 commented on #3185
@huangjian888  Hi, you could clone branch orchestration 5.x. We have started. The 'sharding-orchestration-instance' module is not necessary, as I put implementation classes in the sharding-orchestration-center module. And are you still interested in this? Nacos implementation class is still need someone to write in sharding-orchestration-center module.

[2019-11-07 09:32] Wangzhenpei opened #3471 "about springboot version , has sharding-jdbc supported springboot version 1.3.X ?"
has sharding-jdbc supported springboot version 1.3.X?
if not ? will support or not ?

[2019-11-07 09:45] huangjian888 commented on #3185
Thanks for contributing！

[2019-11-07 09:58] terrymanu commented on #3471
Please change title for search friendly

[2019-11-07 09:58] #3461 closed

[2019-11-07 09:59] terrymanu commented on #3457
Can you show the details?

[2019-11-07 10:01] Wangzhenpei commented on #3471
done

[2019-11-07 10:13] waterMeteors opened #3472 "Query the column information of the table through SQL statement"
I query the field infromation of the table with the "select COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME='goods'" statement,but result is null.
the "goods" is the source table of subtable.

I found through debug that the reason is that the information stored in the mysql database is
the subtable information ,so it cannot be obtained.

if I want query the column information of the t

[2019-11-07 10:51] terrymanu commented on #3471
Is there some exception when using spring boot 1.3.x and ShradingSphere?

[2019-11-07 10:53] terrymanu commented on #3472
duplicate with #1176

[2019-11-07 10:53] #3472 closed

[2019-11-07 10:58] zhangqiangeek opened #3473 "incubator-shardingsphere 空指针异常"
![image](https://user-images.githubusercontent.com/13536014/68383114-fd4f3880-018f-11ea-801b-7abb28c8cf56.png)

### Error querying database.  Cause: java.lang.NullPointerException
### The error may exist in class path resource [mapping/xxxmappper.xml]
### The error may involve defaultParameterMap
### The error occurred while setting parameters
### SQL: select id, user_id, trade_desc, create_time