[2022-11-01 13:34] Andrew-Yang999 opened #21897 "shardingjdbc读写分离和分库分表是否也可同时配置？"
版本：3.0.0.M3
疑惑点：io.shardingsphere.jdbc.spring.boot.SpringBootConfiguration#dataSource
![image](https://user-images.githubusercontent.com/44202153/199245601-7326e44f-8f84-41b9-bff9-86bb1d0f83ee.png)
SpringBootConfiguration创建bean的时候，发现masterSlaveProperties与shardingProperties的配置是互斥的。
那么项目里面有部分表是需要分表的，其他表需要读写分离在shardingjdbc有使用方式吗？

[2022-11-01 13:54] #21897 closed

[2022-11-01 14:43] jlovej commented on #21874
Explicitly configuring the sharding table rules still doesn't work

![05053475d6904201817c8270dd001549](https://user-images.githubusercontent.com/8819998/199261022-e06fed08-884c-4898-8e99-c9c56917f2b6.png)

[2022-11-01 19:22] Swastyy commented on #21477
I think this issue is solved by all tha above PRs.

[2022-11-02 00:32] strongduanmu commented on #21894
Hi @MaricoHan, can you provide your configuration and table init sql?

[2022-11-02 01:51] RaigorJiang commented on #21672
@jiangML Completed, thank you!

[2022-11-02 01:51] #21672 closed

[2022-11-02 01:54] githust66 commented on #9584
After adding this, the startup succeeded, but the normal insertion statement reported an error：
 uncategorized SQLException; SQL state [null]; error code [0]; java.lang.NullPointerException; nested exception is java.sql.SQLException:

[2022-11-02 02:04] RaigorJiang commented on #21874
`sys_shop_user` and `sys-shop-user` are different

[2022-11-02 02:08] jlovej commented on #21874
Do they have to be exactly the same?

[2022-11-02 02:11] RaigorJiang commented on #21895
Hi @MaricoHan
Can you provide more logs and also what is output from `SHOW MIGRATION PROCESS CONFIGURATION`.

[2022-11-02 02:12] RaigorJiang commented on #21874
Logical table name is what in your SQL,  actual table names must match your physical tables in storage.

[2022-11-02 02:13] RaigorJiang commented on #21874
They can be different.

[2022-11-02 02:16] RaigorJiang commented on #21885
Hi @bojiw
It's not clear what your intention is from your description, please provide a valid message through the issue template.

[2022-11-02 02:17] jlovej commented on #21874
So, what's wrong with my rule configuration?

[2022-11-02 02:20] jlovej commented on #21874
It's convenient to add WeChat or staple something? Is it more efficient?

[2022-11-02 02:26] RaigorJiang commented on #21886
@bravelionet
This is the design, because there may be multiple tables in a data source in sharding scenario, and the index names cannot be repeated.

[2022-11-02 02:28] RaigorJiang commented on #21818
@MaricoHan
Please provide your configuration and executed SQL statement that can help reproduce the issue

[2022-11-02 02:33] RaigorJiang commented on #21666
@Pace2Car Completed, thank you!

[2022-11-02 02:33] #21666 closed

[2022-11-02 02:33] RaigorJiang commented on #21671
@jiangML Completed, thank you!

[2022-11-02 02:33] #21671 closed

[2022-11-02 02:33] RaigorJiang commented on #21697
@Pace2Car Completed, thank you!

[2022-11-02 02:33] #21697 closed

[2022-11-02 02:35] githust66 commented on #9584
After adding this, the startup succeeded, but the normal insertion statement reported an error：
uncategorized SQLException; SQL state [null]; error code [0]; java.lang.NullPointerException; nested exception is java.sql.SQLException:

[2022-11-02 02:43] githust66 opened #21899 "seata1.5.2配置use-jdk-proxy: true 报错; uncategorized SQLException; SQL state [null]; error code [0]; java.lang.NullPointerException; nested exception is java.sql.SQLException:"
Ⅰ. Issue Description
seata1.5.2配置use-jdk-proxy: true 用mybatisplus 3.5.2执行普通的单表插入报错uncategorized SQLException; SQL state [null]; error code [0]; java.lang.NullPointerException; nested exception is java.sql.SQLException:

2022-11-02 09:38:43.078 ERROR 12484 --- [nio-9503-exec-3] o.a.c.c.C.[.[.[/].[dispatcherServlet] : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw ex

[2022-11-02 03:15] koala775 commented on #21521
I also have this proplem,version:shardingsphere-proxy-5.2.1.I use DBeaver to connect then throw this exception.

[2022-11-02 03:20] bojiw commented on #21885
There is currently a function that requires secondary development of sharding-proxy
Demand content：
After receiving the select last_insert_id() sql, need to rewrite the sql with the name of the table to be queried

At present, it is considered to save the table name as the current connection id when executing insert, and then obtain the table name saved by insert through the current connection id

[2022-11-02 03:56] jitawangzi opened #21902 "Data truncation: Out of range value for column when set useServerPrepStmts=true to jdbc url."
### Which version of ShardingSphere did you use?
5.2.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
insert short and byte data less than 0 successfully  **with   useServerPrepStmts=true and  cachePrepStmts=true**
### Actual behavior
Data truncation: Out of range value for column
### Reason analyze (If you can)
class  ```MySQ

[2022-11-02 03:57] BryanYin opened #21903 "Use break-word rather than break-all in English"
Could you please check if `word-break:break-word` is better than `break-all` in below line for providing better readability?

https://github.com/apache/shardingsphere/blob/aec92754f9519e573a8eb4415fcd3122e4a604e1/docs/document/static/css/theme-white.css#L339

Current:
![image](https://user-images.githubusercontent.com/25950822/199391568-03e39ad9-a6de-412c-a928-f101fe648841.png)

After change:
![im

[2022-11-02 04:14] Swastyy commented on #21903
This issue is already there as #21474

[2022-11-02 06:15] bojiw commented on #21885
Hi @RaigorJiang

[2022-11-02 06:32] RaigorJiang commented on #21874
@jlovej You need to understand what each configuration you write means

<img width="844" alt="image" src="https://user-images.githubusercontent.com/5668787/199412874-05261578-b0a4-456d-a298-35cd11326022.png">

1. Logic table name should be the same with what in your SQL statement. (sys_shop_user)
2. Where is ds-${0..3}? You just configured `ds-0, ds-hla, ds-hlm, ds-ncl`
3. ShardingAlgorithmName is

[2022-11-02 06:42] wangjiihao opened #21904 "Slow query of multiple tables"
When querying, the administrator may view the data of all sub tables. When querying the data of nine tables at the same time, the query is stuck. What is the reason

yml:
   max-connections-size-per-query: 200

The number of tables is 32

[2022-11-02 07:27] wangjiihao commented on #21904
@ke4qqq

[2022-11-02 08:26] lizhenyu0128 opened #21905 "proxy5 连接 mysql8失败"
通过 bin 启动服务，在 lib 目录下放了mysql-connector-java-8.0.11.jar 包，连接8.0库报错

[ERROR] 2022-11-02 15:33:50.335 [main] com.zaxxer.hikari.pool.HikariPool - HikariPool-2 - Exception during pool initialization.
java.sql.SQLNonTransientConnectionException: CLIENT_PLUGIN_AUTH is required
        at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:108)
        at com.mysql.cj.jdbc.exceptions.SQ

[2022-11-02 08:30] BryanYin commented on #21903
close as duplicate.

[2022-11-02 08:30] #21903 closed

[2022-11-02 08:33] TeslaCN commented on #21905
For English only.

[2022-11-02 08:33] #21905 closed

[2022-11-02 08:34] TeslaCN commented on #21899
For English only.

[2022-11-02 08:34] #21899 closed

[2022-11-02 08:35] jlovej commented on #21874
Sorry, the front two points have been dealt with. The screenshot has some problems and is misleading to you. I still don't understand the third point. But there is a new progress. I will only keep the 'actualDataNodes' configuration under' tables'. After removing all the others, after setting 'DatabaseSharedingValue' in the business code, you can enter doSharing to confirm whether you need to set

[2022-11-02 08:36] BryanYin commented on #21474
I guess this should be a one-line change, please see #21903.

[2022-11-02 09:03] kuchikij opened #21906 "java.sql.SQLException: Invalid column index: getValidColumnIndex"
### Which version of ShardingSphere did you use?
5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
SQL query successfully in Oracle database.

### Actual behavior
SQL query error in Oracle database. The following problems are encountered.
java.sql.SQLException: Invalid column index: getValidColumnIndex
	at oracle.jdbc.driv

[2022-11-02 15:06] RaigorJiang commented on #21885
Hi @bojiw
I'm not very clear, maybe this issue can help you #17942

[2022-11-02 15:09] RaigorJiang commented on #21856
Close because it has been resolved.

[2022-11-02 15:09] #21856 closed

[2022-11-02 15:13] jlovej commented on #21874
Whether each table should be configured, and whether there are other ways not to configure all tables

[2022-11-02 16:11] RaigorJiang commented on #21902
Hi @TeslaCN , could you take a look?  I think you can help 😀

[2022-11-02 16:22] RaigorJiang commented on #21906
Hi @kuchikij
Thanks for your feedback, are `t_order` and `t_order_price`  sharding tables? what are their rules?

[2022-11-03 00:12] RaigorJiang commented on #20142
Closed due to no reply for a long time.

[2022-11-03 00:12] #20142 closed

[2022-11-03 00:15] RaigorJiang commented on #17285
Closed due to no reply for a long time.

[2022-11-03 00:15] #17285 closed

[2022-11-03 00:20] RaigorJiang commented on #19461
Unknown system variable 'query_cache_size' means that the version of the MySQL server and the driver do not match, need to change one of them.

Ref: https://stackoverflow.com/questions/49984267/java-sql-sqlexception-unknown-system-variable-query-cache-size

[2022-11-03 01:21] 794086163 opened #21914 "Can metadata be loaded only when used? If read/write separation is used alone, metadata does not need to be loaded"
## Question

Can metadata be loaded only when used? If read/write separation is used alone, metadata does not need to be loaded

I have thousands of tables, but only use read and write separation, loaded useless metadata, resulting in a waste of space, can you add a switch configuration, control whether to load metadata, or automatically according to whether the use of the function involves metada

[2022-11-03 03:07] #20380 closed

[2022-11-03 03:14] TeslaCN commented on #19512
Refer to https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_basic_packets.html

[2022-11-03 03:15] hza2022x opened #21917 "when execute prepared insert statement, 'events_waits_history_long not found ' is met."
when execute prepared insert statement, 'events_waits_history_long not found ' is met.
Here is the detail:

[ERROR] 2022-11-03 11:01:14.899 [ShardingSphere-Command-4] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
org.apache.calcite.runtime.CalciteContextException: At line 0, column 0: Object 'events_waits_history_long' not found within 'performance_schema'
	at sun.reflect.NativeConstructorAcc

[2022-11-03 03:17] hza2022x commented on #21917
version: 5.2.1
 Bootstrap.java is started locally with debug mode.

[2022-11-03 03:40] TeslaCN commented on #21477
Thank you @Swastyy. I'm closing this.

[2022-11-03 03:40] #21477 closed

[2022-11-03 03:43] yoloz commented on #21627
It's troublesome for others to modify the connection url, i down source code and expansion MySQLComQueryPacket to support stream query.
support mysql-connector-java.jar, while 'MySQL Connector/Python' continue.
java client: stream begin with '_binary'

[2022-11-03 03:46] TeslaCN commented on #21902
I found the changes in https://github.com/apache/shardingsphere/pull/6048/files#diff-dc7e577da6c67af82ecb48b9ee713846b0da9e66a5a6233e9e809bfc333b4fa7

[2022-11-03 03:48] yoloz commented on #21627
can solve #3024 #21518

[2022-11-03 03:51] TeslaCN commented on #21902
Maybe we should convert the result of `MySQLInt2BinaryProtocolValue.read` to short.

[2022-11-03 06:00] #19512 closed

[2022-11-03 06:21] RaigorJiang commented on #21521
@koala775 Please enable `sql_show` and provide the SQL and log when exception occurs, thank you!

[2022-11-03 06:29] kuchikij commented on #21906
@RaigorJiang I have added info to the above.

[2022-11-03 06:30] koala775 commented on #21521
I haven't execute any sql,I just use DBeaver  to connect proxy.

[2022-11-03 06:37] hza2022x opened #21923 "SHARDINGSPHERE_HINT doesn't work in mixture mode"
## Bug Report

Before report a bug, make sure you have:

### Which version of ShardingSphere did you use?
5.2.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
route to primary nodes

### Actual behavior
route to slave nodes

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, shardi

[2022-11-03 06:39] RaigorJiang commented on #21521
Yes, DBeaver will send SQL statement to query some data.

[2022-11-03 06:59] koala775 commented on #21521
Yes.I have saw some sql like,SELECT @@session.automoit.Then next line it's the exception.

[2022-11-03 07:22] RaigorJiang commented on #21521
@koala775
After my test, I found that the exception is not caused by the printed Actual SQL, we need to enable the Proxy's debug log and view the received packets.
- Find logback.xml
[code]
- Change it to debug:
[code]
And then restart Proxy and connect with client.

[2022-11-03 07:24] RaigorJiang commented on #21521
In my environment, it was the following SQL that caused the NPE, which was not the same as what @Dangshuangyin  provided:
[code]

[2022-11-03 07:26] RaigorJiang commented on #21521
However, in distributed scenarios, `information_schema` is not easy to implement, and this work will still take a long time.

[2022-11-03 07:30] koala775 commented on #21521
So,it's have a effect with the use?

[2022-11-03 07:41] koala775 commented on #21521
The log is like:
![lQLPJxbWourZoWrNATHNBH-wCqLMBiBPbcMDYLoAm4DOAA_1151_305](https://user-images.githubusercontent.com/35438579/199668803-ae9a56b7-3d6b-404b-bc32-19f75f7ef908.png)

[2022-11-03 08:16] Pace2Car commented on #21816
It's seems a parse error, I will fix it.

[2022-11-03 08:17] hza2022x commented on #21923
it works by adding CommentParseEnabled: true into server.ymal

[2022-11-03 08:20] peilinqian opened #21927 "When the url of dataSources is configured with multiple hosts and opengauss.jar, an error is reported in the background. but using postgresql.jar,ss-proxy fails to start。"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build t

[2022-11-03 08:31] Pace2Car commented on #21816
We need to add `` around your parameters when they have special characters, like "." in your DB_DISCOVERY TYPE name `group_0_MySQL.MGR`

[2022-11-03 08:46] Qianyi951015 commented on #21816
Actually, the name of DB_DISCOVER TYPE is automatically generated when creating the DB_DISCOVERY RULE. Can we make some optimizations to remove the "." symbol when generating the DB_DISCOVERY TYPE name? @RaigorJiang @Pace2Car

[2022-11-03 09:05] taojintianxia commented on #21438
robot could do nothing we expected.

[2022-11-03 09:05] #21438 closed

[2022-11-03 09:54] strongduanmu opened #21932 "Consider optimizing metadata loading exception handle logic"
## Bug Report

### Which version of ShardingSphere did you use?

58e912d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Start application successfully when I use sharding feature with oracle database

### Actual behavior

Metadata throw NullPointerException, and I can't get any exception stack info.

<img width="1487" alt="

[2022-11-03 10:11] taojintianxia opened #21934 "Refactor github action to make it more efficient"
- [ ] merge reusable workflow
- [x] reduce the duplicated actions or move the low preority test to nightly build
- [x] add mannually trigger to workflow
- [x] build docker image through commit it, not pending nightly build

[2022-11-03 10:49] lizhenyu0128 opened #21935 "use mysql8 err"
Shardingsphere proxy 5 connects to mysql8, and mysql-connector-java-8.0.18.jar has been placed in the ext lib directory. Startup error：
Caused by: com.mysql.cj.exceptions.UnableToConnectException: CLIENT_PLUGIN_AUTH is required
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorI

[2022-11-03 10:53] lizhenyu0128 commented on #21935
used mysql version : 8.0.18

[2022-11-03 10:58] #21932 closed

[2022-11-03 10:59] TeslaCN commented on #21935
This may be a database or driver problem.

[2022-11-03 11:01] TeslaCN commented on #21934
Is there any detail about this issue? I wonder how?

[2022-11-03 11:04] TeslaCN commented on #21927
It seems that there were some network problem in logs.
[code]

[2022-11-03 11:39] dkisser opened #21937 "Druid connectProperties reflect error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-03 11:42] dkisser commented on #21937
There is the same question in the latest version .

[2022-11-03 12:19] peilinqian commented on #21927
We have not configured connection information for 7.212.123.28:5431

[2022-11-03 12:36] linghengqian commented on #21937
- Your issue is essentially the same as https://github.com/apache/shardingsphere/issues/21211#issuecomment-1268667396.  If you have an idea, give it?

[2022-11-03 15:26] jlovej commented on #21874
Thanks

[2022-11-04 00:31] strongduanmu opened #21942 "Consider optimizing AbstractJDBCRowsLoader#loadRowValue logic"
## Feature Request

### Is your feature request related to a problem?

#21926

### Describe the feature you would like.

At present, the `AbstractJDBCRowsLoader#loadRowValue` method seems to only consider the corresponding relationship between SQL Type and Java Type in MySQL, and does not correctly handle other databases such as PostgreSQL and openGauss. Therefore, `java.sql.SQLException: Unknown

[2022-11-04 00:51] RaigorJiang commented on #21521
Since there are too many differences between third-party clients, it is recommended to use the mysql command client to connect to the Proxy.

[2022-11-04 01:28] TeslaCN commented on #21927
It seems that OpenGaussDataSourceMetaData doesn't support multi hosts.

https://github.com/apache/shardingsphere/blob/baa5c75c66386df93ea9eb36b043f9cbf2084f0c/infra/common/src/main/java/org/apache/shardingsphere/infra/database/metadata/dialect/OpenGaussDataSourceMetaData.java#L31-L58

[2022-11-04 01:52] RaigorJiang commented on #21874
Close because it has been resolved.

[2022-11-04 02:15] sandynz opened #21943 "Nightly IT Example Generator workflow could be improved"
Currently, Nightly IT Example Generator workflow has some problems:

1, Job has no timeout, there's [job]( https://github.com/apache/shardingsphere/actions/runs/3388544928/jobs/5630665471 ) cost more than 4 hours and it's still running:
<img width="1039" alt="图片" src="https://user-images.githubusercontent.com/42492540/199869152-c44ce51d-ab59-4e50-9929-2363dae4a23b.png">

2, There're much failed jo

[2022-11-04 02:16] sandynz commented on #21943
Hi @totalo , could you help to have a look at it when you have time?

[2022-11-04 02:27] totalo commented on #21943
Ok，I‘ll follow up.

[2022-11-04 02:33] githust66 opened #21944 "shardingsphere base transactions of unsharded tables report errors during batch insert, while those with sharding set do not report errors during batch insert, but do not roll back"
shardingsphere 5.1.1
jdk:1.8
seata:1.5.2
springboot 2.7.0

2022-11-04 10:27:44.955 ERROR 1996 --- [           main] o.s.jdbc.support.JdbcTransactionManager  : Commit exception overridden by rollback exception

java.lang.NullPointerException: null
	at org.apache.shardingsphere.transaction.base.seata.at.SeataATShardingSphereTransactionManager.commit(SeataATShardingSphereTransactionManager.java:124)

[2022-11-04 02:38] RaigorJiang commented on #21816
Maybe this makes it easier to manage:
1. Unified to lowercase
2. Replace `.` with `_`.

[2022-11-04 03:20] 300682 opened #21946 "mysql limit sql rewrite question for masterslave"
## Question
version: 4.1.1
sharding config:
[code]
Logic SQL: `select xxx from xxx_table WHERE  xxx  and exit_time >= ? and exit_time <= ? order by exit_time desc LIMIT 10,10`

routeContext routeMapper [ logicName : actualName ] -> {"order1":"basic","order2":"basic"}

executeRewrite return  executionUnits size 1 basic.

Actual SQL: `select xxx from xxx_table WHERE  xxx  and exit_time >= ? and exit

[2022-11-04 03:44] githust66 opened #21947 "Can shardingsphere integrated base transactions be optimized to support seata cross-process invocation transactions?"
Can shardingsphere integrated base transactions be optimized to support seata cross-process invocation transactions? The implementation of the introduction of shardingsphere base transaction dependencies not only supports the existing functionality but also allows the user to choose whether to enable the transaction feature of seata across service invocations.

[2022-11-04 04:52] dbin0123 opened #21948 "The encryption field is empty, causing abnormal data encryption"
the encryption field is empty, causing abnormal data encryption, version 5.2.1

Exception information
`java.lang.NullPointerException
	at java.util.Objects.requireNonNull(Objects.java:203)
	at java.util.Optional.<init>(Optional.java:96)
	at java.util.Optional.of(Optional.java:108)
	at org.apache.shardingsphere.infra.binder.segment.insert.values.InsertValueContext.getLiteralValue(InsertValueContext

[2022-11-04 05:52] strongduanmu commented on #21948
Hi @dbin0123, thank you for your feedback. Does you mean insert encrypt field with null?

[2022-11-04 06:10] TeslaCN commented on #20713
![image](https://user-images.githubusercontent.com/20503072/199903855-f6939933-e31f-4407-a991-f8c31226c640.png)

[2022-11-04 06:33] jiangML opened #21951 ""CREATE SHARDING TABLE REFERENCE RULE" does not do check sharding table rules"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-04 06:49] doveylovey opened #21953 "Insert statement does not support sharding table routing to multiple data nodes."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-04 07:08] strongduanmu commented on #21953
@doveylovey Please refer this issue #18620.

[2022-11-04 07:09] TeslaCN commented on #21574
Step 4 is a big change and is not for ShardingSphere-Proxy only, it may require further discussion. This issue has been finished.

[2022-11-04 07:09] #21574 closed

[2022-11-04 07:12] strongduanmu opened #21954 "Consider researching and supporting column unsigned metadata for different databases"
## Feature Request

### Is your feature request related to a problem?

#21894
#15782

### Describe the feature you would like.

At present, the dateType of the field is stored in the ShardingSphere metadata. When SQL Federation is initialized, the Java type of the field will be initialized according to the dateType. In the JDBC specification, the mapping relationship between JDBC Type and Java Typ

[2022-11-04 07:46] doveylovey opened #21955 "No implementation class load from SPI `org.apache.shardingsphere.mode.repository.standalone.StandalonePersistRepository` with type `H2`."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-04 07:55] #21951 closed

[2022-11-04 08:09] strongduanmu commented on #21954
Ref https://github.com/apache/shardingsphere/issues/19580.

[2022-11-04 08:16] magegoofy commented on #21955
@doveylovey Are you interested in solving this problem?

[2022-11-04 08:21] dbin0123 commented on #21948
@strongduanmu yes

[2022-11-04 08:23] doveylovey commented on #21955
Of course

[2022-11-04 08:25] magegoofy commented on #21955
@doveylovey welcome

[2022-11-04 08:26] DivvSaxena commented on #21485
@RaigorJiang  If no one is working on it , can u assign it to me

[2022-11-04 08:38] TeslaCN opened #21958 "There may be many H2 cases run in Proxy Standalone integration tests"
## Integration tests

### Which version of ShardingSphere did you use?

9b046d579f107d916fdfc480ce91e2230f6c984c

### Expected behavior

No H2 cases run in Proxy Standalone MySQL integration tests.

### Actual behavior

If it did run H2 cases in Proxy integration tests, it will be a waste of time and resources.

Part of logs:
[code]

### Reason analyze (If you can)

https://github.com/apache/shard

[2022-11-04 10:15] tuyendev opened #21959 "Does shardingshere support Postgresql json_agg and json_build_object"
Today I got an problem with the SQL query using json_agg and json_build_object, the thrown error something like
`org.antlr.v4.runtime.misc.ParseCancellationException: no viable alternative `
The PosgresSQLParser seems doesn't recognize these 2 keywords, i looked up the code and see them does appear in PostgreSQLStatementParser.makeSymbolicNames(). Does we have any workarounds for this issue?
Thank

[2022-11-04 10:33] #21959 closed

[2022-11-04 10:34] tuyendev commented on #21959
We found the problems. Not related with the issue

[2022-11-04 11:07] xiamenmin opened #21964 "Deadlock issue in CONNECTION_STRICTLY mode"
## Question
When I use the cCONNECTION_STRICTLY mode, I have the problem of getting database connections and waiting for each other in a concurrent scenario.

###  Business scene
- The current data is divided into 10 tables, and when I configure maxConnectionSizePerQuery = 5, and the instantaneous concurrency is > 8, the following problems will occur

### Configuration
- MaxActive = 15
- MaxWait =

[2022-11-04 12:10] strongduanmu commented on #21948
This bug has been fixed in master branch, please test it.

[2022-11-04 16:24] legaciespanda commented on #2138
Just add @Transactional(readOnly = true) in the service class

[2022-11-05 04:00] #16383 closed

[2022-11-05 05:57] #21948 closed

[2022-11-05 10:17] RaigorJiang commented on #21485
Hi @Swastyy,
Can we assign the issue to @DivvSaxena  ?

[2022-11-05 11:17] Swastyy commented on #21485
Alright @RaigorJiang , I am little busy this week too, we can assign it to him.

[2022-11-05 14:56] RaigorJiang commented on #21485
Well, thank you! @Swastyy @DivvSaxena

[2022-11-06 03:08] MaricoHan commented on #21894
Hi @strongduanmu,as shown below
[code]
server.yaml
[code]

[2022-11-06 09:27] ChenyuMa commented on #21895
Same Question
When I migrate ds_1 to ds_0, it occured java.lang.NullPointerException
I don't know which yml config file is needed

![image](https://user-images.githubusercontent.com/28981436/200161243-e8122432-f527-427b-beb7-3168d3da5b9f.png)

![image](https://user-images.githubusercontent.com/28981436/200161168-f806dd3e-8d85-457f-b137-643d6d42270c.png)

[2022-11-06 14:59] MaricoHan commented on #21954
Hi @strongduanmu ,It is not only caused by unsigned, but also by signed tinyint: https://github.com/apache/shardingsphere/issues/15782

[2022-11-06 15:01] strongduanmu commented on #21954
Yes, I know, unsigned types can cause similar problems. So we need to add such a field.

[2022-11-06 16:34] mintheon commented on #18369
me too!

[2022-11-07 01:40] mintheon opened #21981 "After program starts, the first execution of sql is too slow"
I use Sharding-jdbc 5.1.1.
I used a different version(5.2.0) just in case, but it's the same.

After program starts, the first execution of sql is too slow, It takes me 3 seconds, but it takes me up to 6 seconds to read other people's comments.

The picture above is a profile of the moment that takes 3 seconds. Sharding Spear Class uses about 1.6s.
<img width="1749" alt="image" src="https://user-i

[2022-11-07 03:11] TeslaCN commented on #21981
It seems that there were some overheads related to datadog.
![20221107-110916](https://user-images.githubusercontent.com/20503072/200218490-7e39e3ba-245b-4560-8009-5b453a38430e.png)

[2022-11-07 03:15] TeslaCN commented on #21981
On the other hand, JVM need to be warmed up to optimize performance.

[2022-11-07 04:00] boyjoy1127 commented on #20982
@boyjoy1127 let me mark this.

[2022-11-07 05:18] zkongbai opened #21985 "DataSourceReflection findSetterMethod bug"
org.apache.shardingsphere.infra.datasource.pool.creator.DataSourceReflection#findSetterMethod(java.lang.String)
the code like this:
private Optional<Method> findSetterMethod(final String fieldName) {
        String setterMethodName = SETTER_PREFIX + CaseFormat.LOWER_CAMEL.to(CaseFormat.UPPER_CAMEL, fieldName);
        return Arrays.stream(dataSourceMethods).filter(each -> each.getName().equals(set

[2022-11-07 05:37] #21816 closed

[2022-11-07 06:46] 794086163 opened #21986 "Recursion causes stack overflow"
![image](https://user-images.githubusercontent.com/37607959/200242371-78309589-cf17-4499-a637-30f6036d9183.png)

![image](https://user-images.githubusercontent.com/37607959/200242575-659f97e9-633a-4d4b-b473-80a5148d2680.png)

[2022-11-07 07:12] 794086163 commented on #21986
It's okay to use the original druid, but it's not okay to use shardingsphere, StackOverflowError, it's okay to use -Xss2m, it's too deep, right?

[2022-11-07 07:30] #21740 closed

[2022-11-07 07:33] RaigorJiang commented on #21764
How about change the level of `SQLStatement` to debug?

[2022-11-07 08:41] sandynz commented on #21895
Hi @MaricoHan , thanks for your feedback. Is there full exception stack trace? It's important to analyze the problem, or could you supply the reproduce steps?

We've fixed a similar NPE in 5.2.1 by #21513.

[2022-11-07 08:49] sandynz commented on #21895
Hi @ChenyuMa , seems it migrate table from `ds_1` to `ds_0`, did you execute DistSQL `ADD MIGRATION SOURCE RESOURCE ds_1`?

Suppose you're running proxy 5.2.1. You could try to go through the [usage example]( https://shardingsphere.apache.org/document/5.2.1/cn/user-manual/shardingsphere-proxy/migration/usage/ ), make sure it works, and then you could modify the example for your real table.

[2022-11-07 09:33] #21885 closed

[2022-11-07 09:38] bojiw opened #21991 "Failed to switch database, please terminate current transaction"
env:
sharding-proxy 5.1.2
sqoop 1.4.7
mysql-connector-java 5.1.44
mysql 5.5.60

question:
Sqoop accesses mysql through sharding-proxy exception

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/22230991/200277312-14aacd67-4d52-4b64-ae22-9eb88f42799b.png">

Direct connection to mysql is normal

[2022-11-07 11:00] TeslaCN commented on #21991
Hi @bojiw
Please try the latest version.

[2022-11-08 01:21] isHuangXin commented on #21465
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign this issue to me~

[2022-11-08 02:04] taojintianxia opened #21996 "refactor SQL parser Integration test"
currently there are some temparory code for this function on Github, this should be completed the function and then push to repository.

remove some temparory code, comment and something like that.

[2022-11-08 02:34] RaigorJiang commented on #21985
Hi @zkongbai
Can markdown be used to organize your code? The text you provided is difficult to read.
Also, please use the issue template to provide more information, such as the version of ShardingSphere.

[2022-11-08 02:40] #21996 closed

[2022-11-08 03:05] taojintianxia opened #21999 "Add report for SQL parser IT result"
SQL parser integration test will be triggered every day, but all the results are in the logs of github action.
this result should be exported as a csv file or other format and upload to github artifact for downloading.

[2022-11-08 03:27] dkisser commented on #21937
i think "whilte list" mybe a temporary way , add Druid filter in it. But the best way, shardingsphere should provide a extension way that user can deal with it in a custom way.

[2022-11-08 03:32] LiYuanHaooo opened #22001 "java.lang.IllegalArgumentException: Invalid binding table configuration in ShardingRuleConfiguration"
sharding-proxy 5.2.0

config-sharding.yaml
[code]

exception when starting sharding-proxy
![image](https://user-images.githubusercontent.com/26320670/200468764-b31f45b0-5dce-4157-8d66-7e042151d3db.png)

[2022-11-08 04:16] FlyingZC commented on #18894
@natehuangting

[2022-11-08 04:18] natehuangting commented on #18894
I will implement this function, other transaction types will not be loaded by default, if you need to load other transaction types, please configure in loadTypes

[2022-11-08 06:20] Jacob953 opened #22006 "Restructure dynamic loading SQL IT with strategy pattern"
1. Replace the input parameters in DynamicLoadingSQLParserParameterizedTest with URIs
2. Add the strategy interface SQLCaseReadStrategy, including the function getTestParameters, the input parameter is URI
3. Add specific strategies LoadFromGitHub, LoadFromGitee, LoadFromLocal, rewrite function getTestParameters
3.1 LoadFromLocal reads the file directly from the local, and then calls DynamicLoadin

[2022-11-08 06:46] taojintianxia opened #22007 "Add the actual schema mapping to information_schema"
Hi, there

for some IDE or data transmation tool usage, it will read the data of tables in `information_schema`, and now the inforamtion_schema in ShardingSphere is an empty logical schema. please add a mapping from actual schema `information_schema` in MySQL.

currently we have following steps to resolve this situation :
[code]

[2022-11-08 08:10] tuichenchuxin commented on #22007
Recently, shardingSphere have mocked information_schema's tables struct, but there's no data.
I think it's better to collect data for information_schema, and save to zk node -> sys_data.
But there's huge data that's need to be collected and decorated.
Mapping to information_schema will not be a final solution. So whether to do this, we still need to discuss it together.

[2022-11-08 10:08] bojiw commented on #21991
@TeslaCN
![image](https://user-images.githubusercontent.com/22230991/200536604-fc1e6c20-0129-4bfb-a512-b2cd538d6536.png)

An error is reported after upgrading to version 5.2.1

[2022-11-08 11:02] #22006 closed

[2022-11-08 11:33] bojiw commented on #21991
@TeslaCN
![image](https://user-images.githubusercontent.com/22230991/200553461-c728ee88-767e-4745-81af-77f66ad339aa.png)

Upgrade to later than 5.2.1

error Unrecognized select SCHEMA()

[2022-11-08 11:33] smartbetter commented on #21764
I think so.

[2022-11-08 11:38] natehuangting opened #22015 "MySQL executes Preparestatement null pointer exception"
### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
[code]

### Reason analyze (If you can)
connectionSession.getDatabaseName() returns null
<img width="1547" alt="image" src="https://user-images.githubusercontent.com/26433395/200554384-0aa953d8-ceb2-4b4e-9c4e-65c500c4a61f.png

[2022-11-08 11:40] bojiw commented on #21991
<img width="680" alt="image" src="https://user-images.githubusercontent.com/22230991/200554964-f49c5f3a-485b-4a38-8704-066e2c27f063.png">
<img width="421" alt="image" src="https://user-images.githubusercontent.com/22230991/200554998-33a68af0-dbb4-4239-bc2d-12ef5841a0a7.png">

sqoop 1.4.7 code

[2022-11-09 02:39] wushengxuan commented on #20532
select ifnull(sum(ride_mileage) * 1000, 0)                          rideMileageMonth
             , sum(riding_time)                                             ridingTimeMonth
             , round(sum(ride_mileage) * 1000 / day (last_day(#{month})),2) avgRideMileageDay
             , sum(brakes_times)                                            brakesTimesMonth
             , sum(acceleration_time

[2022-11-09 02:43] wushengxuan opened #22025 "the Aggregate Query sql report error npe"
the sql report error
        select ifnull(sum(ride_mileage) * 1000, 0)                          rideMileageMonth
             , sum(riding_time)                                             ridingTimeMonth
             , round(sum(ride_mileage) * 1000 / day (last_day(#{month})),2) avgRideMileageDay
             , sum(brakes_times)                                            brakesTimesMonth

[2022-11-09 02:47] FileNotFoundExcetion commented on #20532
select temp.rideMileageMonth,
       temp.ridingTimeMonth,
	   temp.avgRideMileageDay,
	   temp.brakesTimesMonth,
	   temp.accelerationTimesMonth,
	   temp.bendingTimesMonth,
	   temp.maxSpeed
 from (
 select ifnull(sum(ride_mileage) * 1000, 0)                          rideMileageMonth
         , sum(riding_time)                                             ridingTimeMonth
         , round(sum(ride

[2022-11-09 02:48] FileNotFoundExcetion commented on #20532
you can try it  .......i dont know whether succed

[2022-11-09 03:28] congzhou2603 opened #22026 "open a transaction abnormally when conntecting to shardingsphere with jdbc"
## Bug Report

I developed a java program for testing read half commits problem. the program logic is init table first （create table and insert datas, set auoCommit = false）, and then create write and read transactions in a loop.

I find sometimes the JDBC connection created first (not auto commit) and write transaction createed later are automatically merged into the same explicit transaction.

#

[2022-11-09 03:36] FlyingZC commented on #22026
Thanks for your feedback,I will investigate it.

[2022-11-09 04:47] TeslaCN commented on #22015
Hi @natehuangting
Could you describe details about how to reproduce this issue?

[2022-11-09 05:16] RaigorJiang commented on #21764
@smartbetter Are you interested in submitting this change？

[2022-11-09 05:27] smartbetter commented on #21764
@RaigorJiang Yes, But I think add a switch to the SQLStatement of SQLLogger to control whether to print, That's better

[2022-11-09 06:10] TeslaCN commented on #21902
There is a simple way to reproduce this issue.

[code]

[2022-11-09 06:31] ykjxx opened #22033 "If distsql is not used, can the proxy cluster use the memory mode?"
Can we use memory mode to build a proxy cluster?
What are the disadvantages compared with cluster mode?

[2022-11-09 08:57] tuichenchuxin opened #22034 "Filter out cases that are expected to fail for dynamic load SQL parser test cases"
## Feature Request

Now, we have dynamic load SQL parser test.
https://github.com/apache/shardingsphere/blob/master/test/integration-test/sql-parser/src/test/java/org/apache/shardingsphere/sql/parser/base/DynamicLoadingSQLParserParameterizedTest.java

This can get test cases from mysql/postgres/openGauss.
But some case is expected to parse failed. These test cases should be filtered.
For example t

[2022-11-09 08:59] saeipi opened #22035 "I want to implement sub-database and sub-table at the same time, please teach me how to do it."
I want to implement sub-database and sub-table at the same time, please teach me how to do it.
In my configuration, read-write separation has no effect.

databaseName: lark
[code]

[2022-11-09 09:06] fang1025 commented on #21906
Try listing columns instead of a.*.
a.* -> a.order_id, a.price...

[2022-11-09 09:47] jiangML opened #22036 "Enhanced distsql verification of rdl type in storage unit and readwrite-splitting"
Enhanced distsql verification of rdl type in storage unit and readwrite splitting

[2022-11-09 09:48] jiangML commented on #22036
Enhanced distsql verification of rdl type in storage unit and readwrite splitting

[2022-11-09 09:48] #22036 closed

[2022-11-09 09:53] #21999 closed

[2022-11-09 10:15] jiangML opened #22039 "Enhanced distsql verification of rdl type in storage unit and readwrite splitting"
Enhanced distsql verification of rdl type in storage unit and readwrite splitting

[2022-11-09 10:39] Qianyi951015 opened #22041 "Cannot parse Oracle DML SELECT PERCENT_RANK statement"
## Bug Report

### Which version of ShardingSphere did you use?
7ca33ec7df4e5f110f1b7acd441b8e7439eb401e
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
SQL parser
### Expected behavior
parse SELECT PERCENT_RANK statement
### Actual behavior
cannot parse SELECT PERCENT_RANK statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configurati

[2022-11-09 10:57] TeslaCN commented on #21902
I tried changing this, but found this would affect unsigned type.

[2022-11-09 11:56] RaigorJiang commented on #22039
@jiangML This is an important improvement, thank you!

[2022-11-09 13:21] FlyingZC commented on #12052
When the `ShardingSpherePreparedStatement` object is created, the `JDBCExecutor` object will be created at the same time, and the `serial` flag is judged by `connection.isHoldTransaction()`.
So if execute `connection.setAutoCommit(false)` first, `connection.isHoldTransaction()` is true, and the `serial` flag is true.
If execute `connection.prepareStatement()` first, `connection.isHoldTransaction()

[2022-11-09 15:26] RaigorJiang commented on #22033
The memory (Standalone) mode cannot form a cluster.
cluster means the configuration is consistent across multiple instances.

[2022-11-09 15:28] RaigorJiang commented on #22025
Hi, @wushengxuan
Please follow the issue template to provide version and configurations.

[2022-11-09 15:49] mintheon commented on #21981
@TeslaCN
thx. I solved it by inserting the JVM WarmUp logic.
By the way, are other people's issues the same? -> #18369

[2022-11-09 15:50] mintheon commented on #21981
thx. I solved it by inserting the JVM WarmUp logic.
By the way, are other people's issues the same? -> https://github.com/apache/shardingsphere/issues/18369

[2022-11-10 03:12] TeslaCN commented on #22035
Try using `wr_ds_0`, `wr_ds_1` in Sharding rule.

[2022-11-10 03:33] tianshuainan opened #22049 "when encrypt data is null ,queryAssistedEncrypt method of QueryAssistedEncryptor not execute cause error"
In ShardingSphere-JDBC 4.1.1, I implemented SPI QueryAssistedEncryptor. If multiple parameters contain null values, queryAssistedEncrypt() method is not executed, causing internal error.
configuration as below:
`spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_email.plainColumn=requester_email
spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_email.cipherColumn=r

[2022-11-10 03:41] peilinqian opened #22050 "In multi-sharding case,round_robin read_write_split stratages load balance is not based on one logic database"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(#21421) (#21471)
Branch: bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Build t

[2022-11-10 04:02] strongduanmu commented on #22049
Hi @tianshuainan, thank you for your feedback. We have fixed this bug in master branch, can you try to test it?

[2022-11-10 04:47] tianshuainan commented on #22049
非常感谢！可以提供更多细节吗？在哪个包、类下面？有具体的例子吗？再次感谢，这对我帮忙很大，也非常重要

[2022-11-10 04:48] tianshuainan commented on #22049
Thank you very much! Can you provide more details? Under which package, class? Are there any specific examples? Thank you again. This has been very helpful and important

[2022-11-10 04:50] tuichenchuxin opened #22052 "Support postgres/ openGuass `\d`"
## Feature Request

After #21268
built-in database has been established.
Then we can use built-in database to support `\d`.
First we collect and decroate the info from pg_class. Then we can use federation engine to support query.

[2022-11-10 05:46] #21943 closed

[2022-11-10 05:56] wushengxuan commented on #22025
the shardingsphere version is 5.1.0
the setting like this
`package com.cfmoto.vehicle.config.sharding;

import com.cfmoto.vehicle.constant.ShardingConstant;
import org.apache.shardingsphere.infra.config.algorithm.ShardingSphereAlgorithmConfiguration;
import org.apache.shardingsphere.sharding.api.config.ShardingRuleConfiguration;
import org.apache.shardingsphere.sharding.api.config.rule.ShardingTab

[2022-11-10 06:51] FlyingZC commented on #22026
The simle example to reproduce this issue:
[code]

yaml config-sharding:
[code]

[2022-11-10 07:11] wangyf1024 opened #22056 "sql retry"
i use shardingsphere 5.1.2.
![image](https://user-images.githubusercontent.com/31696437/201023889-2365bdd2-ffa8-4b31-9dfa-317147781d55.png)
![image](https://user-images.githubusercontent.com/31696437/201024554-fa70a755-2ce7-4920-9acd-9c6997635e6c.png)
![image](https://user-images.githubusercontent.com/31696437/201024668-5524b9e4-adf5-41ba-8571-3701c3fc14c2.png)
sql execute two

[2022-11-10 07:15] FlyingZC commented on #22026
1. I don't know if XA is used, even if the transaction is not explicitly opened, the JDBC driver of sql pg/og will open the transaction implicitly by itself (openGauss needs to investigate the logic in the JDBC driver ) @MrCong233 .

2. If the current connection is already in the transaction, execute `setAutocommit(false)` to open the transaction.pg/og will not execute the open transaction operati

[2022-11-10 08:46] peilinqian opened #22058 "DROP READWRITE_SPLITTING RULE failed"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-bcde6f374c4a3a025173fbc9f6d0e66ed686a042
Commit Message: Fix fetch forward all error in openGauss(https://github.com/apache/shardingsphere/issues/21421) (https://github.co

[2022-11-10 09:48] #22041 closed

[2022-11-10 09:54] zhaojinchao95 commented on #22050
@peilinqian Thank you for your feedback, i will check it.

[2022-11-10 10:57] Qianyi951015 opened #22061 "Cannot parse Oracle DML SELECT PERCENTILE_CONT statement"
### Which version of ShardingSphere did you use?
e9c7eebab9022460e26399b4412f717bed906e12
### Expected behavior
parse SELECT PERCENT_CONT statement
### Actual behavior
cannot parse SELECT PERCENT_CONT statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-10 11:30] RaigorJiang commented on #22058
Hi @peilinqian
Thanks for your feedback, and I have reproduced the problem from master branch.

We get this error message because a single table already exists in the resource registered, and after creating the `READWRITE_SPLITTING RULE`, the single table will use the aggregate data source `readwrite_ds`.
Therefore, if there is no table in the registered resource, this `readwrite_ds` can be droppe

[2022-11-10 11:51] peilinqian commented on #22058
Thank U, I already understand the reason for my problem。
So the only scenario can't drop the rules is when there is already a table in real database ?

[2022-11-10 11:52] peilinqian commented on #22058
Thank U, I already understand the reason for my problem。
So the only scenario can't drop the rules is when there is already a table in real database ?

[2022-11-10 11:55] saeipi commented on #22035
Thank you. You answered my questions perfectly

[2022-11-10 11:57] RaigorJiang commented on #22058
If there is another rule (like sharding table rule) using group `readwrite_ds`, it also can not be dropped.
Nothing else.

[2022-11-10 12:36] peilinqian commented on #22058
ok，thank u

[2022-11-10 12:36] #22058 closed

[2022-11-10 13:28] natehuangting commented on #22015
Cannot reproduce using JDBC, you need to use go language

[code]

[2022-11-10 14:03] #22050 closed

[2022-11-10 16:48] DivvSaxena commented on #21485
@RaigorJiang Check my PR #22066

[2022-11-11 02:04] #22061 closed

[2022-11-11 02:05] saeipi opened #22068 "How ShardingSphere-Proxy adds a new year's sub-table"
How ShardingSphere-Proxy adds a new year's sub-table

I have split the table by month. For example, 202201 - 202212. I now want to append the data for 2023. I would like to add 202301~202312 forms. Please how can I achieve this.

[2022-11-11 02:41] #22015 closed

[2022-11-11 03:57] Qianyi951015 opened #22069 "Cannot parse Oracle DML SELECT PERCENTILE_DISC statement"
### Which version of ShardingSphere did you use?
1fb8766851700ec17f2d4b2967a63bc42985288c
### Expected behavior
parse SELECT PERCENTILE_DISC statement
### Actual behavior
cannot parse SELECT PERCENTILE_DISC statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-11 04:34] #22035 closed

[2022-11-11 04:34] saeipi commented on #22035
Thank you. You answered my questions perfectly

[2022-11-11 05:25] sonwyday opened #22072 "Route table null does not exist, available actual table"
## Version
5.1.2
## Question
algorithmExpression disappeared
![image](https://user-images.githubusercontent.com/16163595/201268049-25960305-ccba-4df7-924e-d0697ce9116d.png)
![image](https://user-images.githubusercontent.com/16163595/201268506-24b13ad8-6d54-4dd4-9d07-179a03448a2f.png)
![image](https://user-images.githubusercontent.com/16163595/201267749-865a4329-b8c9-4082-b435-e07109843af7.png)

![

[2022-11-11 06:47] #22069 closed

[2022-11-11 06:54] Qianyi951015 opened #22074 "Cannot parse Oracle DML SELECT CUME_DIST statement"
### Which version of ShardingSphere did you use?
3f266392ab8a442e92b2713a858f6ef69f424d6a
### Expected behavior
parse SELECT CUME_DIST statement
### Actual behavior
cannot parse SELECT CUME_DIST statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-11 07:21] #22074 closed

[2022-11-11 07:59] Qianyi951015 opened #22079 "Cannot parse Oracle DML SELECT RANK statement"
### Which version of ShardingSphere did you use?
b263c2caede42390fe5cd85a5d89b4b03ea19e35
### Expected behavior
parse SELECT RANK statement
### Actual behavior
cannot parse SELECT RANK statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-11 09:33] wsm12138 opened #22081 "USE `IMPORT DATABASE CONFIGURATION FROM FILE “filePath”;` ,BUT config is not right."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-11 10:12] pandong8 opened #22082 "shardingProxy乱码问题"
shardingProxy乱码问题

[2022-11-11 10:24] pandong8 opened #22083 "大佬们，请教一下shardingProxy怎么解决创建的物理表和逻辑表的中文乱码的问题"
大佬们，请教一下shardingProxy怎么解决创建的物理表和逻辑表的中文乱码的问题？感谢

[2022-11-11 10:36] #22079 closed

[2022-11-11 11:24] smartbetter commented on #21764
submitting pull request？

[2022-11-11 12:30] Qianyi951015 opened #22087 "Cannot parse Oracle DML SELECT ROWID statement"
### Which version of ShardingSphere did you use?
8dfceedaf03c3363d19f3edc0dd84bf77eaa3391
### Expected behavior
parse SELECT ROWID statement
### Actual behavior
cannot parse SELECT ROWID statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-11 12:37] #22082 closed

[2022-11-11 12:38] RaigorJiang commented on #22082
Please submit meaningful content that can help solve the problem.

[2022-11-11 12:39] RaigorJiang commented on #22083
Hi @pandong8
Welcome to Apache ShardingSphere community, but only **English** is accepted here.
I will close this issue, please submit a new one.
Thank you!

[2022-11-11 12:39] #22083 closed

[2022-11-11 12:42] RaigorJiang commented on #22068
Hi @saeipi
You can update sharding table rule by [DistSQL](https://shardingsphere.apache.org/document/5.2.1/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/sharding/) `ALTER SHARDING TABLE RULE`,
and then execute `CREATE TABLE IF NOT EXIST xxx`

[2022-11-11 13:22] Fanzhshuai opened #22089 "sharding-jdbc 高可用读写分离配置生效情况未达到预期咨询"
shadring 版本： 5.2.1
数据库配置： 一主两从

高可用读写分离rules相关配置：
 rules:
        readwrite-splitting:
          data-sources:
            replica_ds:
              dynamic-strategy:
                auto-aware-data-source-name: readwrite_ds
                write-data-source-query-enabled: true
        database-discovery:
          data-sources:
            readwrite_ds:
              data-source-names: ds1,ds2,ds

[2022-11-11 13:30] yx9o commented on #22081
@wsm12138 My export on the master branch behaves as expected.

[2022-11-11 14:26] #22087 closed

[2022-11-11 14:34] RaigorJiang commented on #21764
Yes, Pull Request.

[2022-11-11 14:44] RaigorJiang commented on #21485
Please hava a look: https://github.com/apache/shardingsphere/pull/22066#pullrequestreview-1177431946

[2022-11-11 14:45] Fanzhshuai opened #22090 "shadring jdbc HA And readwrite-splitting not effectuate"
shardingsphere-jdbc-core-spring-boot-starter： 5.2.1
type : sharding- jdbc
mysql cluster : one master two slave

HA And  readwrite-splitting rules config：

   rules:
        readwrite-splitting:
          data-sources:
            replica_ds:
              dynamic-strategy:
                auto-aware-data-source-name: readwrite_ds
                write-data-source-query-enabled: true
        databa

[2022-11-12 03:22] strongduanmu commented on #22049
Fixed by #21864.

[2022-11-12 03:22] #22049 closed

[2022-11-12 03:37] #12052 closed

[2022-11-12 05:20] strongduanmu opened #22098 "Refactor encrypt like feature according to code review"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

After we basically completed #20435, we need to refactor the encrypt like feature as follows according to the code review.

- [x] rename fuzzy to like——before 5.2.2 release, high priority
- [x] move algorithm chinese dictionary configuration to file——before 5.2.2 release, high prio

[2022-11-12 05:55] Qianyi951015 commented on #22081
I cant reproduce it, my import and export are the same

[2022-11-12 08:16] hongjun2012 opened #22102 "ShardingSphere-Proxy-5.2.1,sharding and Readwrite-splitting, order by datetime throw java.lang.ClassCastException"
## Bug Report

### Which version of ShardingSphere did you use?
5.2.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
java.lang.ClassCastException: class java.sql.Timestamp cannot be cast to class java.time.chrono.ChronoLocalDateTime (java.sql.Timestamp is in module java.sql of loader 'platform'; java.time.chrono.ChronoLocalDate

[2022-11-12 10:33] qunqunzq opened #22108 "postgresql order by cause NullPointerException"
version 5.2.1

When you have Orby, I find that you load Schema = public by default. But my table is in object_modeling, resulting in a NullPointerException.

![](https://user-images.githubusercontent.com/8464801/143830561-6c22c583-ce81-493a-b2e4-8a7539e471f5.png)

Now in order to execute properly, I have to create the table again under public. Is this a bug? Or can you specify which tables to scan

[2022-11-12 10:34] qunqunzq commented on #22108
My jdbc link = jdbc:postgresql://127.0.0.1:5432/event_driven?currentSchema=object_modeling

[2022-11-12 12:08] lhjie opened #22113 "question about helm start shardingsphere proxy，"
I`m use helm start shardingSphere proxy，by source code install，
now proxy started，but can not config rules in values.ymal ,
if I do it ,I`ll get  exception:
Cannot create property=rules for JavaBean=org.apache.shardingsphere.proxy.backend.config.yaml.YamlProxyDatabaseConfiguration@971s0s8 in 'reader',line 1 colum 1:
dataSources:
java.lang.InstantiationException
in 'reader', line 22,column 1:
 - sh

[2022-11-12 12:20] Qianyi951015 opened #22116 "Cannot parse Oracle DML SELECT linear regression functions statement"
### Which version of ShardingSphere did you use?
556e5e001e5baaaba9a12c9198edb25e7ef1f4ba
### Expected behavior
parse SELECT linear regression functions statement
### Actual behavior
cannot parse SELECT linear regression functions statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-12 12:21] lhjie commented on #22113
I`m do it by Guidance document on official website,
ref: https://github.com/apache/shardingsphere-on-cloud/blob/main/doc/shardingsphere-helm-charts.md

[2022-11-12 13:32] strongduanmu opened #22120 "Wrong column return when I config likeQueryColumn with encrypt feature"
## Bug Report

### Which version of ShardingSphere did you use?

[c214e82](https://github.com/apache/shardingsphere/commit/c214e82f0f8dd89a0b85aa81b273a511e950304e)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Return right columns when I execute `select * from t_encrypt;`

### Actual behavior

user_like is the likeQueryC

[2022-11-12 15:21] strongduanmu opened #22126 "Consider adding a version switch button in the upper right corner of the document page"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

It is very inconvenient to switch versions at present. Is it possible to consider adding a version switching button in the upper right corner of the document page?

![image](https://user-images.githubusercontent.com/10829171/201480954-afa028a2-f81b-4d16-bec8-762c77ecde53.png)

[2022-11-12 17:17] DivvSaxena commented on #21485
@RaigorJiang  I understood that Metadata is a proper noun and it should not be written like "Meta data" or "meta data" , Thus i have updated please check my PR #22130

[2022-11-13 01:04] #22116 closed

[2022-11-13 02:48] #22120 closed

[2022-11-13 03:11] RaigorJiang commented on #21485
@DivvSaxena
In fact, there are many such files that need to be modified, which is the purpose of this issue.

<img width="671" alt="image" src="https://user-images.githubusercontent.com/5668787/201503778-e9466887-6286-44d7-b8bd-c0b073133986.png">

<img width="1317" alt="image" src="https://user-images.githubusercontent.com/5668787/201503812-ee4470ae-205b-4fa3-82e0-c83307b857b6.png">

[2022-11-13 07:45] RaigorJiang opened #22135 "Optimize algorithmDefinition naming in encryptColumnDefinition"
In the `CREATE ENCRYPT RULE` syntax, there is such a definition as follows:

[code]
Ref: https://github.com/apache/shardingsphere/blob/master/features/encrypt/distsql/parser/src/main/antlr4/imports/encrypt/RDLStatement.g4

It can be found that there are three `algorithmDefinitions` in this definition, but they actually represent different meanings.
According to the semantics, these three `algorith

[2022-11-13 09:20] jianzh5 opened #22140 "KeyGenerator COSID_SNOWFLAKE does not take effect"
hello,everyone:

i want to config actual-data-nodes while my actual-data-nodes tables is dynamic ，i found  solution  through this issue https://github.com/apache/shardingsphere/issues/16725。

when i try it on sharding-jdbc 5.2.1 , this method  can change actual-data-nodes actually，but lose KeyGenerators，This error is reported at startup。

[code]

[code]

[2022-11-13 09:31] jianzh5 commented on #22140
[code]
it din't works

but if i use snowflake by mybatis-plus ,it works

[2022-11-13 13:53] jianzh5 opened #22152 "how to create table using ShardingSphereDataSource ds"
I want auto create tables by days , i using ShardingSphereDataSource like this

[code]

i have two datasource on application.yml，ds0 and ds1，this procedure only takes effect on ds0。

![image](https://user-images.githubusercontent.com/5998464/201525357-75e13781-0b7e-49da-b939-f8f8a7f96cdd.png)

How to get the program to work in both ds0 and ds1?

[2022-11-13 14:17] zzsoszz opened #22153 "You have an error in your SQL syntax: ADD RESOURCE"
## Bug Report
mysql> ADD RESOURCE ds01 (
    -> host=127.0.0.1,
    -> port=13306,
    -> db="my_database",
    -> user="root",
    -> password="my_root_password"
    -> )
    -> ;
ERROR 12000 (42000): You have an error in your SQL syntax: ADD RESOURCE ds01 (
host=127.0.0.1,
port=13306,
db="my_database",
user="root",
password="my_root_password"
), no viable alternative at input 'ADD' at line 1, po

[2022-11-13 15:28] DivvSaxena commented on #21485
@RaigorJiang Ok i will submit PRs for ech module separately.

[2022-11-13 16:20] DivvSaxena commented on #21485
Hey @RaigorJiang !
I made PRs and checked all the files and modified it  PRs-  #22155 #22130
Lets connect on slack and Linkedln please drop your id

[2022-11-13 18:05] yanhaopeng opened #22156 "version5.2.1 read-data-source-names 失效"
![image](https://user-images.githubusercontent.com/34259895/201537169-f64d182f-c3e9-4461-8447-d56b875f9109.png)

[2022-11-14 01:59] tuichenchuxin commented on #22156
Please rename the title to english And add more information or demo to reappear problem.

[2022-11-14 02:52] Qianyi951015 opened #22159 "Cannot parse Oracle DML SELECT LPAD statement"
### Which version of ShardingSphere did you use?
cb5dc166fa606d8ffd22ec4aca6b3774e994226b
### Expected behavior
parse SELECT LPAD statement
### Actual behavior
cannot parse SELECT LPAD statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-14 03:33] isHuangXin commented on #21464
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign it to me~

[2022-11-14 03:33] isHuangXin commented on #21463
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign it to me~

[2022-11-14 03:33] isHuangXin commented on #21461
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign it to me~

[2022-11-14 03:33] isHuangXin commented on #21460
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign it to me~

[2022-11-14 03:37] isHuangXin commented on #22135
[WeOpen Star] Hi, Jiang. I want to try this issue. Plz assign it to me~

[2022-11-14 05:36] RaigorJiang commented on #22153
Hi @zzsoszz
`host` is a string, it needs to be wrapped in quotes.

Please refer to the document of DistSQL: https://shardingsphere.apache.org/document/5.2.1/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/resource-definition/

[2022-11-14 05:56] RaigorJiang commented on #22135
Welcome back！ @isHuangXin

[2022-11-14 06:49] ningzio commented on #21475
5.2.1 works! thank you

[2022-11-14 06:51] ningzio commented on #21475
5.2.1 works, thank you!

[2022-11-14 06:56] isHuangXin commented on #22135
I probably understand the meaning of this issue.

There are three algorithmDefinitions in `COMMA algorithmDefinition (COMMA algorithmDefinition)? (COMMA algorithmDefinition)?`, which represent `encrypt algorithm`, `assisted query algorithm` , and  `like query algorithm` respectively.

The task I need to finish is to alias these three algorithms separately for better readability.

[2022-11-14 08:56] RaigorJiang commented on #22135
Yes, you are right!

[2022-11-14 09:32] yu199195 opened #22168 "[OpenGauss] Can not set TRANSACTION ISOLATION LEVEL"
Dear Apache ShardingSphere Community:

I'm using ShardingSphere-Proxy for openGuass.
Refer this doc[1] set  TRANSACTION ISOLATION LEVEL.

Error message like this :

[code]

I think it should be a sql parse problem.

Are there any volunteers interested in this , welcome to fixed it.

[1]  https://docs.opengauss.org/zh/docs/3.0.0/docs/Developerguide/SET-TRANSACTION.html

[2022-11-14 10:06] #20234 closed

[2022-11-14 10:55] peilinqian opened #22170 "The result of select syntax group by non-shard key（column exists null value）is incorrect，federation doesn't take effect"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-20bf595dfeced4dd8ffee2f6d95de52fdf3e569d
Commit Message: Rename sub modules of shardingsphere-infra-datetime-type. (#21472)
Branch: 20bf595dfeced4dd8ffee2f6d95de52fdf3e569

[2022-11-14 11:23] TeslaCN commented on #21627
![image](https://user-images.githubusercontent.com/20503072/201647953-93cc50cb-6d8e-4861-bc14-398201245c4e.png)

[2022-11-14 11:59] peilinqian opened #22173 "The parameter value of sql-federation-type is not verified."
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-20bf595dfeced4dd8ffee2f6d95de52fdf3e569d
Commit Message: Rename sub modules of shardingsphere-infra-datetime-type. (https://github.com/apache/shardingsphere/pull/21472)
Br

[2022-11-14 14:43] linghengqian commented on #21347
- Hopefully https://github.com/oracle/graalvm-reachability-metadata/pull/108 will remove the warning related to Log4j2.

[2022-11-14 15:15] RaigorJiang commented on #21465
Fixed.

[2022-11-14 15:15] #21465 closed

[2022-11-14 16:53] Jacob953 commented on #22034
Fixed on https://github.com/apache/shardingsphere/pull/22100/files#diff-cb0bb54ec24509f2bcc14b1b7dee80e496568d055fd1160eeaf617c32787cd9f

[2022-11-15 02:29] #22034 closed

[2022-11-15 02:34] #22159 closed

[2022-11-15 02:35] #22156 closed

[2022-11-15 03:12] RaigorJiang opened #22177 "Support heterogeneous databases for DistSQL"
Ref https://github.com/apache/shardingsphere/issues/21481.

Now, ShardingSphere kernel already supports heterogeneous databases, but DistSQL does not yet allow registering different types of storage units, we need to improve it.

[2022-11-15 03:26] TeslaCN commented on #21627
This is how Connector/J convert InputStream to _binary literal.
https://github.com/mysql/mysql-connector-j/blob/27603148f10a5f47467bec7ad26a5ca28da63c72/src/main/protocol-impl/java/com/mysql/cj/protocol/a/InputStreamValueEncoder.java#L71-L137

[2022-11-15 03:32] yoloz commented on #21627
yeah, if use hex nothing to do(which type `bytes` use it), but escap will change byte

[2022-11-15 06:01] #20802 closed

[2022-11-15 06:47] fang1025 commented on #22152
you should get ShardingSphereMetaData first.
then you can get all databases and excute you function 'createTable' for each database.

[2022-11-15 06:59] peilinqian commented on #21421
[code]

[code]

[2022-11-15 07:16] #21629 closed

[2022-11-15 10:05] RaigorJiang opened #22183 "NPE when select from `shardingsphere.sharding_table_statistics`"
## Bug Report
### Which version of ShardingSphere did you use?
master a1de9c34

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
select from shardingsphere.sharding_table_statistics can get correct results

### Actual behavior
[code]

Log
[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule config

[2022-11-15 10:58] #22177 closed

[2022-11-15 12:27] sandynz opened #22186 "data pipeline modules refactoring"
Hi community,

We've added some new scenarios for data pipeline in recent months, and there will be more scenarios later.
In order to better support of scenraios development and maintanance, after discussion with @terrymanu and @tristaZero , we'll do some refactoring of data pipeline modules.

data pipeline modules structure:
[code]

Major changes:

1, Add `scenario` module, it will be in L2 layer

[2022-11-15 13:03] Jacob953 opened #22188 "Bug: unmarshal failed when executes docs/build.sh."
## Bug Report

Error executing docs/build.sh
[code]

### Which version of ShardingSphere did you use?

latest

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

None.

### Expected behavior

successfully build.

### Actual behavior

error occurs.

### Reason analyze (If you can)

unmarshal failed: toml: basic strings cannot have new lines.

### Steps to reproduce the beh

[2022-11-15 13:30] #22188 closed

[2022-11-15 16:59] #21461 closed

[2022-11-16 01:42] tianshuainan opened #22192 "ShardingSphere-Encrypt: IqueryAssistedEncrypt"

[2022-11-16 01:42] #22192 closed

[2022-11-16 01:49] strongduanmu commented on #22170
I did some investigation and the issue was caused by an inconsistency between the ShardingSphere merge engine's handling of sorting NULL values and the database, which I'll fix later.

[2022-11-16 02:01] tianshuainan opened #22194 "ShardingSphere-Encrypt: I query encrypted field with AssistedColumn，and it can't support predicate form"
I  queryed encrypted field(such as :email) with Assisted query column and I used the method provided by JPA (findByEmail ()) to find the correct results. But using the following Predicate method fails. How to  solve this?I  will appreciate it very much and look forward to your reply.
` public ResponseEntity<?> getPaginatedRequestsByDsl(int page, int size, Predicate predicate) {

        Pageable p

[2022-11-16 02:56] fbin87 opened #22196 "InlineExpressionParser cause metaspace out of memory error"
version:5.1.2

InlineExpressionParser.splitAndEvaluate method parse every input string,  cause metaspace out of memory error

you can do like this, avoid compiling all input strings

`
 public List<String> splitAndEvaluate() {
        if(Strings.isNullOrEmpty(inlineExpression) ){
            return  Collections.emptyList();
        }
        if (!isInlineExpression(inlineExpression)) {

[2022-11-16 03:30] strongduanmu opened #22197 "SingleTableRule returns incorrect results when aggregating database discovery data sources"
## Bug Report

### Which version of ShardingSphere did you use?

[3719f6e](https://github.com/apache/shardingsphere/commit/3719f6e5c8a52b08aa09c74b28c346422f2386d4)

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

SingleTableRule returns correct results when aggregating database discovery data sources

### Actual behavior

!

[2022-11-16 03:34] strongduanmu commented on #22197
After optimize:

<img width="890" alt="image" src="https://user-images.githubusercontent.com/10829171/202077326-c2238e04-4841-41eb-b12b-0b399f50c87a.png">

[2022-11-16 03:38] kuchikij commented on #21906
It'a feasible! Thanks!

[2022-11-16 05:39] tuichenchuxin commented on #22196
Hi, I found you had fixed this issue, could you offer a pull request to help others?

[2022-11-16 05:42] tuichenchuxin commented on #22194
Please investigate in detail the SQL used by the specific query and offer related configuration.

[2022-11-16 05:51] Qianyi951015 opened #22199 "Cannot parse Oracle DML SELECT datetime expression statement"
### Which version of ShardingSphere did you use?
858b043440fd7dee0f084ede06e5e3e178828d59
### Expected behavior
parse SELECT datetime expression statement
### Actual behavior
cannot parse SELECT datetime expression statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-16 06:01] #22197 closed

[2022-11-16 06:20] mouaifulao commented on #20431
There are more than 1000 tables in our test environment, they belong to one Oracle schema.
The application took 30 minutes to start, and most of the time was spent on loading schemedata for single tables.
We just have 22 sharding tables, and most signle tables are not associated with these sharded tables.
Is there any way to load table metadatas  just for the sharded tables and the associated sigi

[2022-11-16 06:42] isHuangXin commented on #21460
Close this pr due to pr being merged.

[2022-11-16 07:51] TeslaCN commented on #21627
There are 2 reasons that the binary value is damaged:

1. Proxy reads COM_QUERY SQL and convert it with `charset` (which usually `UTF-8` in Proxy). The byte[] to UTF-8 String conversion may damage values of literal prefixed with `_binary`.
https://github.com/apache/shardingsphere/blob/e5c8dc7778f79d544935803a7093aee53ea91bf2/db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mys

[2022-11-16 08:04] TeslaCN commented on #21627
Hi @yoloz
Your PR #21922 did the step 3 of my idea. But checking raw bytes may not a elegant way. What do you think of my idea? Are you interested in fixing this issue?

[2022-11-16 08:17] yoloz commented on #21627
@TeslaCN you're right, checking raw bytes not the best way, like `MySQL Connector/Python` doesn't work，It would be better based on global to provide an api impl

[2022-11-16 08:28] ICannerxy opened #22204 "OrderedServicesCache#softCache may be memory leak"
## Bug Report

### Which version of ShardingSphere did you use?

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

Frequently create tables and delete tables, and use DistSQL to

[2022-11-16 08:32] TeslaCN commented on #21627
So would you like to fix this? Or I will fix it later.

[2022-11-16 08:45] #22199 closed

[2022-11-16 08:53] MrCong233 opened #22205 "grafana connects to shardingsphere, report type error when logging in"
## Bug Report

Using grafana connects to shardingsphere, openGauss report :column "auth_token_seen" is of type boolean but expression is of type character varying.

### Which version of ShardingSphere did you use?

shardingsphere-5.2.1， commit id：85541320133e8049027e922557636fe32c58625c

grafana-7.1.3 with opengauss-gdbc

openGauss-3.1.0，create a MySQL compatible database（create database DBCOMPATI

[2022-11-16 09:14] yoloz commented on #21627
@TeslaCN

thanks a lot,
1. i don't konw how to Implement[shardingsphere/sql-parser/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4](https://github.com/apache/shardingsphere/blob/e5c8dc7778f79d544935803a7093aee53ea91bf2/sql-parser/dialect/mysql/src/main/antlr4/imports/mysql/DMLStatement.g4#L103-L105);
2. base on _binary literal just can solve jdbc, but don't work for other, like `MySQL

[2022-11-16 09:27] MrCong233 opened #22207 "When grafana connects shardingsphere, a error that the time format is incorrect reports regularly."
## Bug Report

When grafana connects shardingsphere, a  error that the time format is incorrect reports regularly.

### Which version of ShardingSphere did you use?

shardingsphere-5.2.1， commit id：85541320133e8049027e922557636fe32c58625c

grafana-7.1.3 with opengauss-gdbc

openGauss-3.1.0，create a MySQL compatible database（create database DBCOMPATIBILITY='B';）

### Which project did you use? Shar

[2022-11-16 09:31] TeslaCN commented on #20713
To fix this issue, we have to refactor MySQLPacket. Removing the sequence ID from MySQLPacket and handling sequence ID in Codec.
https://github.com/apache/shardingsphere/blob/35a97dd82bdad130379f7aa570e3baa3b7347942/db-protocol/mysql/src/main/java/org/apache/shardingsphere/db/protocol/mysql/packet/MySQLPacket.java#L28-L33

[2022-11-16 09:35] TeslaCN commented on #21627
OK, I will fix this issue.
@yoloz Could you describe some details about MySQL Connector/Python? If the Python driver using binary protocol like `COM_SEND_LONG_DATA`, the Proxy can already handle it.

[2022-11-16 09:45] yoloz commented on #21627
@TeslaCN  you can use table structure above and code follows:
[code]

[2022-11-16 09:51] TeslaCN commented on #21627
Thanks @yoloz !
Your input reminds me that the Python driver does not support server prepared statement. I will take it consideration. Thanks again.

[2022-11-16 10:00] yoloz commented on #21627
welcome，waiting for upgrade 🤝

[2022-11-16 10:27] #22173 closed

[2022-11-16 11:01] RaigorJiang commented on #21460
Yes, thank you! @isHuangXin

[2022-11-16 11:01] #21460 closed

[2022-11-16 11:54] fbin87 commented on #22196
ok，I'm going to submit the code

[2022-11-16 12:02] RaigorJiang commented on #21463
Fixed.

[2022-11-16 12:02] #21463 closed

[2022-11-16 12:12] Jacob953 commented on #19382
Hi, you need to degrade to 0.092 or lower to fix that. I could help you with this issue. )

[2022-11-16 12:31] Jacob953 commented on #21215
@tuichenchuxin  Hi, I'd like to try. But I may need some instructions.

[2022-11-16 12:45] isHuangXin commented on #21464
Close this issue due to pr being merged.

[2022-11-16 13:06] strongduanmu commented on #22204
Hi @ICannerxy, can you try batch updating hundreds of rules in one distsql? This reduces the creation of many rule objects.

[2022-11-16 13:11] tuichenchuxin commented on #21215
sure :)

[2022-11-16 13:11] twosoy opened #22214 "Nacos Repository throws 'Wait value availability timeout exceeded' Exception"
## shardingsphere  version：5.2.1 and spring-boot version：2.7.3

    <dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>shardingsphere-cluster-mode-repository-nacos</artifactId>
      <version>5.2.1</version>
    </dependency>

    <dependency>
      <groupId>org.apache.shardingsphere</groupId>
      <artifactId>shardingsphere-cluster-mode-repository-nacos</artifactId

[2022-11-16 14:03] #21464 closed

[2022-11-16 14:41] RaigorJiang commented on #22153
@zzsoszz  I think the issue has been solved, I will close it.

[2022-11-16 14:41] #22153 closed

[2022-11-16 16:56] linghengqian commented on #21347
- In https://github.com/apache/shardingsphere/actions/runs/3481017089/jobs/5821561497 , the results displayed in the log are still not optimistic. I'm doing additional investigation locally.
[code]

[2022-11-16 18:00] linghengqian commented on #21347
- When ShardingSphere tests the building of GraalVM Native Image, it is found that `io.vertx.core.impl.AddressResolver` lacks GraalVM accessibility metadata. This class belongs to `io.vertx:vertx-core:4.3.3`. Therefore, it is linked to the new issue. For example https://github.com/netty/netty/issues/11369 .
- ![image](https://user-images.githubusercontent.com/20187731/202256280-606ecb58-b6a2-4076-

[2022-11-17 02:10] zhaojinchao95 commented on #22214
@caqhy Hi, can you look this?

[2022-11-17 02:22] Jacob953 commented on #19382
In my opinion, there is no need to use Hugo for resolving this issue. I recommend checking config.toml first. )

[2022-11-17 03:15] Qianyi951015 opened #22226 "Cannot parse Oracle DML INSERT datetime literals statement"
### Which version of ShardingSphere did you use?
30ec9db2b5cb9ade875a406c05cc8a3898dbfba8
### Expected behavior
parse INSERT datetime literals statement
### Actual behavior
cannot parse INSERT datetime literals statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-17 03:25] Jean-Jacques-Nuoan opened #22227 "如何配置方言转换"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-11-17 03:26] michaelwangwangwang opened #22228 "Can shardingjdbc fail to reconnect due to network disconnection?"
Can shardingjdbc fail to reconnect due to network disconnection?

[2022-11-17 05:20] TeslaCN commented on #22204
Could you provide heap dump?

[2022-11-17 05:21] TeslaCN commented on #22228
Connections are maintained by DataSource.

[2022-11-17 05:34] tianshuainan opened #22230 "when encrypt data is null, cause error"
My version is ShardingSphere-JDBC 5.2.1, when requester_name is null, the error shows "could not execute statement; nested exception is org.hibernate.exception.GenericJDBCException: could not execute statement". Below is my configuration.
`
# dsr_request table
spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_name.plainColumn=requester_name
spring.shardingsphere.encrypt.tables.dsr

[2022-11-17 05:36] strongduanmu commented on #22230
Can you try master branch, we have already fixed this bug.

[2022-11-17 05:38] #22126 closed

[2022-11-17 05:43] Jacob953 commented on #22126
Done.

[2022-11-17 05:44] tianshuainan commented on #22230
When I asked last time, the assistedQueryColumn could not be null. This time, i don't use assistedQueryColumn, it still not support null value.

[2022-11-17 05:44] strongduanmu commented on #22126
@Jacob953 Good job.

[2022-11-17 05:46] tianshuainan commented on #22230
such as :
spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_name.plainColumn=requester_name
spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_name.cipherColumn=requester_name_cipher
spring.shardingsphere.encrypt.tables.dsr_request.columns.requester_name.encryptor=encryptor

[2022-11-17 05:48] strongduanmu commented on #22230
Can you try master branch and give some feedback?

[2022-11-17 05:49] strongduanmu commented on #22230
We have optimized this exception in #21864 and #21686.

[2022-11-17 07:21] TeslaCN commented on #21627
MySQL Connector/Python invoke API of MySQL Connector/C to escape string.

https://github.com/mysql/mysql-connector-python/blob/6dac476b6cc39dd6b8ad0be142128778b7937b8e/src/mysql_capi.c#L1822-L1940

https://github.com/mysql/mysql-server/blob/a246bad76b9271cb4333634e954040a970222e0a/mysys/charset.cc#L720-L820

[2022-11-17 08:02] TeslaCN commented on #21627
So maybe we have to de escape all the string literal in SQL.

[2022-11-17 08:24] strongduanmu commented on #22230
I will close this issue since it has been fixed in master branch. If you have any problem when you test with master branch, you can submit a new issue.

[2022-11-17 08:24] #22230 closed

[2022-11-17 08:25] strongduanmu commented on #22227
For English only, other language will not accept.

[2022-11-17 08:25] #22227 closed

[2022-11-17 08:28] #22226 closed

[2022-11-17 08:29] TeslaCN commented on #22205
There is no way to send `POSTGRESQL_TYPE_BIT` by JDBC driver for now. This issue could not reproduce accurately by JDBC.

[2022-11-17 08:47] TeslaCN commented on #22204
It seems that the classloader had the largest retained size. The heap dump couldn't prove this issue.

![image](https://user-images.githubusercontent.com/20503072/202398265-eec23b46-94c5-4eaa-ad4d-bb9d953e7fa4.png)

![image](https://user-images.githubusercontent.com/20503072/202398150-1385e6e4-9142-40bc-a5a4-c740491ef4f2.png)

[2022-11-17 08:50] yoloz commented on #21627
may be trouble to distinguish it, so i find result from server code, a little guess, join sql parse and column type

[2022-11-17 09:01] Qianyi951015 opened #22234 "Cannot parse Oracle DML SELECT TO_CHAR function statement"
### Which version of ShardingSphere did you use?
ae7c76d9a4a13c30ca0c63ab5c9baab1bae5e3da
### Expected behavior
parse SELECT TO_CHAR function statement
### Actual behavior
cannot parse SELECT TO_CHAR function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-17 09:12] fbin87 opened #22237 "Is ContextManager#alterRuleConfiguration thread-safe method?"
## Question

the method such as org.apache.shardingsphere.mode.manager.ContextManager#alterRuleConfiguration, alterSchemas and so on, Are they thread-safe ?

I want to update the rule or database with ContextManager.alterRuleConfiguration(...), while the old shardingSphere data source is being used

[2022-11-17 09:25] Jean-Jacques-Nuoan commented on #22227
can you speak chinese ?

[2022-11-17 09:26] Jean-Jacques-Nuoan opened #22238 "如何配置方言转换"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-11-17 09:33] strongduanmu commented on #22227
Apache is an international community, and communication in English is the norm at Apache, which helps people with different language backgrounds to communicate technically. If you want to communicate in Chinese, please join the official chinese WeChat group.

[2022-11-17 09:35] ICannerxy commented on #22204
The verified impact is that after running for a period of time, the shardingSphere's full gc is very frequent, but the full gc can't recover the old object in cache, Because the recovery time of SoftReference occurs before OOM, full gc will not recover.

[2022-11-17 09:50] zhaojinchao95 commented on #22237
@fbin87 They are thread-safe for a single ShardingSphere-Proxy.

[2022-11-17 09:53] tuichenchuxin commented on #22238
Please use english for issue.

[2022-11-17 09:53] #22238 closed

[2022-11-17 10:04] #22186 closed

[2022-11-17 10:39] wsm12138 commented on #22173
### version
[code]

### sql_federation_type= correct value
[code]

### sql_federation_type= wrong value
[code]

[2022-11-17 11:17] czywj opened #22242 "2170/5000 When opengauss uses shardingphere for data migration, it configures the null pointer from the sources-end data source"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-17 11:53] #22234 closed

[2022-11-17 12:13] TeslaCN commented on #21627
Maybe we should fix this issue by Test Driven Development. Add some integration test cases.

[2022-11-17 12:51] Qianyi951015 opened #22244 "Cannot parse Oracle SQL XMLAGG function"
### Which version of ShardingSphere did you use?
8c9d4b6425b8e73dca66b1893738c33af881b6d2
### Expected behavior
parse XMLAGG function
### Actual behavior
cannot parse XMLAGG function
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-17 13:31] caqhy commented on #22214
@twosoy Hi, try the following configuration.

[code]

If Nacos Repository still throws 'Wait value availability timeout exceeded' Exception, please try increasing value of retryIntervalMilliseconds, maxRetries.

[2022-11-17 15:49] #19382 closed

[2022-11-17 16:07] fbin87 commented on #22237
Under the situation of java api standalone mode, when I call ContextManager.alterRuleConfiguration(...) to refresh the current ShardingSphereDatasource (it is used by another thread), how about ?

[2022-11-17 23:56] twosoy commented on #22214
@caqhy
Nacos Repository still throws 'Wait value availability timeout exceeded' Exception！！！！！
[code]

s1: persist /metadata
s2: /metadata/logic_db
s3: /metadata/logic_db/active_version

But，After persist，only ‘/metadata/logic_db/active_version’ in service。
The subsequent persistence operation overwrites the previous value。

The service meta of 'PERSISTENT' is
[code]
<img width="1324" height = "15

[2022-11-18 00:53] #22244 closed

[2022-11-18 00:56] tuichenchuxin commented on #22242
@azexcy Could you help to have a look?

[2022-11-18 02:13] azexcy commented on #22242
Ok, I will check it

[2022-11-18 02:37] azexcy commented on #22242
Migration must user cluster mode of ShardingSphere-Proxy, can you check the `server.yaml` config file is exitsing?

just like this
[code]

@czywj

[2022-11-18 02:44] czywj commented on #22242
The configuration is as follows：

rules:
  - !AUTHORITY
    users:
      - root@%:root
      - sharding@:sharding
    provider:
      type: ALL_PRIVILEGES_PERMITTED
  - !TRANSACTION
    defaultType: XA
    providerType: Atomikos
  - !SQL_PARSER
    sqlCommentParseEnabled: true
databaseName: sharding_db

dataSources:
  ds_0:
    url: jdbc:opengauss://10.10.10.10:30095/ds_m?serverTimezone=UTC&useSSL

[2022-11-18 02:44] czywj commented on #22242
The configuration is as follows：

[code]
The sharding-proxy is used

@azexcy

[2022-11-18 02:50] azexcy commented on #22242
I know, please read the document https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/migration/build/

The normal configuration file is as follows

[code]

can you show me the `server.yaml` config file?

[2022-11-18 03:09] czywj commented on #22242
Source code local compilation deployment.

server.yaml configuration
![image](https://user-images.githubusercontent.com/45070688/202607957-6ce1cbf6-61a1-486e-8608-7b72dbd5338f.png)

[2022-11-18 03:12] azexcy commented on #22242
Miss the `mode` config, add it and retry again.

[2022-11-18 03:18] strongduanmu commented on #22170
According to PostgreSQL document——https://www.postgresql.org/docs/current/queries-order.html, The NULLS FIRST and NULLS LAST options can be used to determine whether nulls appear before or after non-null values in the sort ordering. By default, null values sort as if larger than any non-null value; that is, NULLS FIRST is the default for DESC order, and NULLS LAST otherwise.

[code]

[2022-11-18 03:20] Qianyi951015 opened #22249 "Cannot parse Oracle DML SELECT XMLCAST function statement"
### Which version of ShardingSphere did you use?
b3b3fb9de757172d677384ff6c79aea69053a2ef
### Expected behavior
parse SELECT XMLCAST function statement
### Actual behavior
cannot parse SELECT XMLCAST function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-18 03:27] strongduanmu commented on #22170
openGuass currently has no documentation on sorting null values, but it is compatible with PostgreSQL.

[code]

[2022-11-18 03:41] strongduanmu commented on #22170
According to oracle document——https://docs.oracle.com/javadb/10.6.2.1/ref/rrefsqlj13658.html, If the null ordering is not specified then the handling of the null values is: NULLS LAST if the sort is ASC, NULLS FIRST if the sort is DESC. If neither ascending nor descending order is specified, and the null ordering is also not specified, then both defaults are used and thus the order will be ascendi

[2022-11-18 03:47] strongduanmu commented on #22170
In SQLServer, there is no parameter for sorting NULL values——https://learn.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver16.

When using asc in ascending order, the null value will be displayed first, which corresponds to the nulls first parameter, and when using desc in reverse order, the null value will be displayed last, which corresponds to the nu

[2022-11-18 06:06] MQMMMQM opened #22251 "err: org.apache.shardingsphere.dbdiscovery.mysql.exception.mgr.InvalidMGRGroupNameConfigurationException"
shardingsphere-proxy 5.2.1

**backend mysql:**
Three MySQL 8.0.30 form an InnoDB cluster
(MGR configured with the MySQL shell)
[code]

**config.yaml**
[code]

**error:**
when exec start.sh , err in stdout.log.
[code]

[2022-11-18 06:56] zhaojinchao95 commented on #22251
@MQMMMQM Can you execute `SELECT MEMBER_HOST, MEMBER_PORT, MEMBER_STATE FROM performance_schema.replication_group_members` and show me result.

[2022-11-18 06:57] #22249 closed

[2022-11-18 07:03] Qianyi951015 opened #22254 "Cannot parse Oracle DML SELECT XMLCOLATTVAL function statement"
### Which version of ShardingSphere did you use?
cb7126ada6dabfed1170309717213fd2173582b1
### Expected behavior
parse SELECT XMLCOLATTVAL function statement
### Actual behavior
cannot parse SELECT XMLCOLATTVAL function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-18 07:14] azexcy opened #22255 "Migration MySQL incremental task failed when using the newly created user and add the appropriate privilege"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Migration MySQL incremental task failed when using the newly created user and add the

[2022-11-18 07:18] #22255 closed

[2022-11-18 07:54] MQMMMQM commented on #22251
[code]

[2022-11-18 08:18] zhang-zhipeng opened #22257 "When I use the encryption function, if the executed SQL fragment contains procedure, an error will be reported"
### Which version of ShardingSphere did you use?
shardingsphere-jdbc-core-spring-boot-starter 5.2.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Caused by: java.sql.SQLException: Unknown exception: org.apache.shardingsphere.encrypt.rule.EncryptRule cannot be cast to org.apache.shardingsphere.infra.merge.engine.decorator.impl.

[2022-11-18 09:05] zhaojinchao95 commented on #22237
I think we can verify it. you have some suggest?

[2022-11-18 09:08] zhaojinchao95 commented on #22251
Can you change MEMBER_HOST 1`92-180-52-191 `to `192.180.53.191`, and try it.

[2022-11-18 09:14] #22254 closed

[2022-11-18 10:10] MQMMMQM commented on #22251
[code]

[code]
thanks!! it worked

[2022-11-18 10:14] #21392 closed

[2022-11-18 12:17] Qianyi951015 opened #22265 "Cannot parse Oracle DML SELECT XMLEXISTS function statement"
### Which version of ShardingSphere did you use?
c749bf57afcec1633e09cd3825d4b322981baeb7
### Expected behavior
parse SELECT XMLEXISTS function statement
### Actual behavior
cannot parse SELECT XMLEXISTS function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-18 16:09] #22251 closed

[2022-11-19 02:09] jiangML opened #22269 "Properties are not checked when registering storage nodes"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-19 03:37] fbin87 commented on #22237
thank you, No additional suggestions

[2022-11-19 07:33] TianJieYouYue opened #22276 "Unknown system variable 'query_cache_size'"
## Bug Report

Unknown system variable 'query_cache_size'

Caused by: java.sql.SQLException: Unknown system variable 'query_cache_size'
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129) ~[mysql-connector-j-8.0.31.jar:8.0.31]

### Which version of ShardingSphere did you use?
apache-shardingsphere-5.2.1-shardingsphere-proxy-bin
mysql-connector-j-8.0.31
### Which project

[2022-11-19 07:34] TianJieYouYue commented on #22276
java8, full_version=1.8.0_312

[2022-11-19 07:35] TianJieYouYue commented on #22276
ShardingSphereProxyVersion - Database name is `MySQL`, version is `8.0.19`
ShardingSphere-Proxy Standalone mode started successfully

[2022-11-19 07:36] TianJieYouYue commented on #22276
plugins {
	id("org.springframework.boot") version "2.7.5"
	id("io.spring.dependency-management") version "1.0.15.RELEASE"
	kotlin("jvm") version "1.6.21"
	kotlin("plugin.spring") version "1.6.21"
	kotlin("plugin.jpa") version "1.6.21"
}

implementation("org.springframework.boot:spring-boot-starter-web")
implementation("org.springframework.boot:spring-boot-starter-data-jpa")
implementation("org.jet

[2022-11-19 07:37] TianJieYouYue commented on #22276
[ERROR] 2022-11-19 15:35:26.808 [ShardingSphere-Command-0] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.sql.SQLException: Unknown system variable 'query_cache_size'
        at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
        at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
        at com.mysql.cj.jd

[2022-11-19 07:59] TianJieYouYue commented on #22276
Thanks for using Atomikos! This installation is not registered yet.
REGISTER FOR FREE at http://www.atomikos.com/Main/RegisterYourDownload and receive:
- tips & advice
- working demos
- access to the full documentation
- special exclusive bonus offers not available to others
- everything you need to get the most out of using Atomikos!

[2022-11-19 10:05] peilinqian commented on #22173
we find java version: java8, full_version=1.8.0_282, full_path=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.282.b08-1.el7_9.x86_64/bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (#22209)
Branch: 753c0cee8ee6fd3db00536da55b64bc5198a3758
Build time: 2022-11-1

[2022-11-19 11:33] Qianyi951015 commented on #22276
Hi, @TianJieYouYue would you mind explaining how to reproduce the problem?

[2022-11-19 13:44] zhaojinchao95 commented on #22276
[code]

Set `proxy-mysql-default-version:` paramater to your mysql version.

[2022-11-19 13:48] zhaojinchao95 opened #22278 "Maybe ZooKeeper connection session timeout not resetting ephemeral node value"
`master` https://github.com/apache/shardingsphere/commit/5acf119d5d0590e64fe8652cfb008a477b43d60b

<img width="1102" alt="image" src="https://user-images.githubusercontent.com/33742097/202853712-12d02b6c-4e93-46ae-b5e7-2676d65b3f5d.png">

[2022-11-19 13:48] zhaojinchao95 commented on #22278
[code]

[2022-11-19 14:35] TianJieYouYue commented on #22276
This works.
Thanks.

[2022-11-19 14:35] #22276 closed

[2022-11-19 14:38] TianJieYouYue commented on #22276
@zhaojinchao95 batch insert very slow, when show sql, i found my batch insert change to one by one on ShardingSphere-Proxy.
How to fix?

[2022-11-19 15:12] #22265 closed

[2022-11-20 02:32] Qianyi951015 opened #22282 "Cannot parse Oracle DML SELECT XMLFOREST function statement"
### Which version of ShardingSphere did you use?
aa0c38ecfa009c076c25f2f10c54ca56fb9c28d9
### Expected behavior
parse SELECT XMLFOREST function statement
### Actual behavior
cannot parse SELECT XMLFOREST function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-20 06:42] mmcLine opened #22290 "batch option sql will cause fullgc"
## Question

when i use this sql:
[code]

Because the number of parameters I pass in is different, the generated sql is different。

These sql will be cached，Cause fullgc.

[code]
The cache occupies 800m：
![image](https://user-images.githubusercontent.com/37876129/202889359-5a295abe-cbc3-4863-98d3-5d1bf144c851.png)

How should I solve the batch option?

[2022-11-20 10:10] zhang-zhipeng commented on #22257
shardingsphere5.2.1，Using encrypt，SQL contains procedure ，an error will be reported

[2022-11-20 10:15] zhang-zhipeng commented on #22257
How can I solve this problem

[2022-11-20 11:55] strongduanmu commented on #22257
Hi @zhang-zhipeng, can you provide your encrypt rule?

[2022-11-20 13:34] zhang-zhipeng commented on #22257
rules:
      encrypt:
        encryptors:
          pwd-encryptor-aes: # AES加密算法
            type: AES #可逆
            props:
              aes-key-value: 12306abc
          pwd-encryptor-md5: # MD5加密算法
            type: md5 #不可逆
          pwd-encryptor-rc4: # RC4加密算法
            type: rc4 # 可逆
            props:
              rc4-key-value: 12306abc
          pwd-encryptor-sm3: # SM3加密算法

[2022-11-20 13:37] zhang-zhipeng commented on #22257
init sql:
CREATE TABLE `t_cipher_old` (
  `id` bigint(20) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `mobile` varchar(100) DEFAULT NULL,
  `pwd_cipher` varchar(100) DEFAULT NULL,
  `customer_id` varchar(100) DEFAULT NULL,
  `pwd_assi

[2022-11-20 16:54] RaigorJiang opened #22300 "Drop shadow rule cannot succeed"
### Which version of ShardingSphere did you use?
master b352e2a1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When execute DistSQL `DROP SHADOW RULE`, the target rule can be successfully dropped.

### Actual behavior
Execution has no effect.

### Reason analyze (If you can)
`DropShadowRuleStatementUpdater` uses the rule na

[2022-11-20 16:57] #22282 closed

[2022-11-21 02:18] #22278 closed

[2022-11-21 03:00] TeslaCN commented on #22290
Maybe we can add an option to control the length of SQL allowed to be cached.

[2022-11-21 03:02] #22228 closed

[2022-11-21 03:12] TeslaCN commented on #22056
Could you provide your configuration and more logs? We can hardly figure out problem by these pictures.

[2022-11-21 03:13] wangyf1024 commented on #22056
mysql 8.0.28 Transaction cannot be rolled back，seata retry due

[2022-11-21 04:29] Waylon-Firework opened #22306 "Upgrade 4.1.1 to 5.2.1, I got an error"
## Question

Upgrade 4.1.1 to 5.2.1, I got an error

[code]

[2022-11-21 04:31] Waylon-Firework commented on #22306
[code]

[2022-11-21 04:52] Qianyi951015 opened #22308 "Cannot parse Oracle DML SELECT XMLPARSE function statement"
### Which version of ShardingSphere did you use?
1222066a9ffe95e66135640e3cad7970381442c7
### Expected behavior
parse SELECT XMLPARSE function statement
### Actual behavior
cannot parse SELECT XMPARSE function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-21 05:38] #22308 closed

[2022-11-21 06:30] TeslaCN commented on #12990
DistSQL is not allowed to be executed by server prepared statement. Client would hide the error and retry by text protocol. So we need to fix nothing for this.

[2022-11-21 06:30] #12990 closed

[2022-11-21 06:37] #22300 closed

[2022-11-21 06:38] peilinqian commented on #22173
[code]

[2022-11-21 06:47] TeslaCN commented on #19648
This issue hasn't happened recently.

[2022-11-21 06:47] #19648 closed

[2022-11-21 06:47] #21656 closed

[2022-11-21 06:49] TeslaCN commented on #21649
Duplicate with https://github.com/apache/shardingsphere/issues/18456.
The `toString` stuff has been fixed in 5.2.1.

[2022-11-21 06:50] #21649 closed

[2022-11-21 06:51] TeslaCN commented on #21556
The version 4.x is EOL. Please upgrade to latest version.

[2022-11-21 06:51] #21556 closed

[2022-11-21 07:04] TeslaCN commented on #21371
This is related to your environment. You have solved this issue. I'm closing this.

[2022-11-21 07:04] #21371 closed

[2022-11-21 07:29] Qianyi951015 opened #22311 "Cannot parse Oracle DML SELECT XMLPI function statement"
### Which version of ShardingSphere did you use?
524cde7953c036c2554d5efde4041567f461c482
### Expected behavior
parse SELECT XMLPI function statement
### Actual behavior
cannot parse SELECT XMLPI function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-21 07:50] peilinqian commented on #22173
[code]

[2022-11-21 08:10] peilinqian commented on #22173
schemaName: test_db
dataSources:
  ds_0:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 260
    minPoolSize: 1
    password: ds_0_pwd
    url: jdbc:opengauss://ds_0_IP:ds_0_port/ds_0_db?batchMode=on
    username: ds_0_usr
  ds_1:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLife

[2022-11-21 08:54] #22311 closed

[2022-11-21 08:59] #22269 closed

[2022-11-21 10:10] zhaojinchao95 commented on #21053
This problem are fixed in master branch, So i will close

[2022-11-21 10:10] #21053 closed

[2022-11-21 10:11] #22170 closed

[2022-11-21 10:15] zhaojinchao95 commented on #17767
This problem cannot be reproduced. I close it.

[2022-11-21 10:15] #17767 closed

[2022-11-21 10:16] zhaojinchao95 commented on #15488
This issue need to be reconsidered.  i close it.

[2022-11-21 10:16] #15488 closed

[2022-11-21 10:18] zhaojinchao95 commented on #18421
@wsm12138 Hi, The Memory mode are removed in master branch. I can't reproduce this problem

[2022-11-21 11:09] #22052 closed

[2022-11-21 11:26] Qianyi951015 opened #22318 "Cannot parse Oracle DML SELECT XMLQUERY function statement"
### Which version of ShardingSphere did you use?
c3d1398c60a8b21e13f5a9acfab777de7df4ca97
### Expected behavior
parse SELECT XMLQUERY function statement
### Actual behavior
cannot parse SELECT XMLQUERY function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-21 14:03] #22318 closed

[2022-11-21 15:56] RaigorJiang opened #22321 "Can we unify the use of underscore and minus in YAML?"
Hi community,

In YAML configuration, we can use underscore (`_`) or minus (`-`), but it is very strange to mix them irregularly in a same file, as shown in the following figure:

<img width="610" alt="image" src="https://user-images.githubusercontent.com/5668787/203093931-82f366fe-33ad-490f-a0ab-0f97c00e0211.png">

The above picture is from the sharding configuration document, and there are simil

[2022-11-21 16:31] Waylon-Firework commented on #22306
If remove "filters: stat,wall,slf4j", it works. But if we do this, the druid feature will miss.

[2022-11-21 16:55] Waylon-Firework commented on #22306
5.1.2 is normal

[2022-11-21 18:47] linghengqian commented on #22306
@Waylon-Firework
- Duplicate With https://github.com/apache/shardingsphere/issues/21211#issuecomment-1268667396 . If you only use the Druid base attributes, you'll find that everything works fine.

- I assume you have a PR, right? 🤔

[2022-11-22 01:14] zhang-zhipeng commented on #22257
Can I use this function in the upcoming version

[2022-11-22 01:19] strongduanmu commented on #22257
@zhang-zhipeng I will check this exception as soon as possible.

[2022-11-22 01:33] zhang-zhipeng commented on #22257
thank you

[2022-11-22 01:34] TeslaCN opened #22322 "ShardingSphere-Proxy MySQL replied incorrect binary flags in column definition"
## Bug Report

### Which version of ShardingSphere did you use?

947c8c484b6eb6227891bc0500a52ce39f211584

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy MySQL

### Expected behavior

MySQL:
![image](https://user-images.githubusercontent.com/20503072/203194313-b879bd85-626e-4f13-9ce4-9a2a774bb44f.png)

### Actual behavior

ShardingSphere-Proxy MyS

[2022-11-22 01:48] TeslaCN commented on #22322
I found set binary flag (0x80) cannot fix this issue. The root cause of the display problem probably relates to collation. But Proxy cannot retrieve field's collation via JDBC.

[2022-11-22 02:07] Qianyi951015 opened #22323 "Cannot parse Oracle DML SELECT XMLROOT function statement"
### Which version of ShardingSphere did you use?
947c8c484b6eb6227891bc0500a52ce39f211584
### Expected behavior
parse SELECT XMLROOT function statement
### Actual behavior
cannot parse SELECT XMLROOT function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-22 02:34] strongduanmu commented on #22257
@zhang-zhipeng What is the relationship between procedure and encrypt table? I don't see the encrypt table included in the procedure.

[2022-11-22 02:53] zhang-zhipeng commented on #22257
@strongduanmu It does not contain, but the original project used procedure that needed to be functional。

[2022-11-22 02:55] strongduanmu commented on #22257
I have reproduce this bug with following sql:

[code]

[2022-11-22 03:00] zhang-zhipeng commented on #22257
@strongduanmu  yes. Will it be fixed in the latest version？

[2022-11-22 03:01] zhang-zhipeng commented on #21799
@strongduanmu  Will it be fixed in the latest version？

[2022-11-22 03:11] strongduanmu commented on #22257
I will fix this bug in master branch, you can try to test it.

[2022-11-22 03:12] zhang-zhipeng commented on #22257
OKay

[2022-11-22 03:28] #22257 closed

[2022-11-22 03:29] strongduanmu commented on #22257
Hi @zhang-zhipeng, can you help test this bug with latest master branch?

[2022-11-22 03:45] TeslaCN commented on #22322
The binary flag is corrected. But the issue still exists.

[2022-11-22 03:51] RaigorJiang opened #22329 "Remove the exclamation mark in the proxy's global rule configuration"
Hi community,

Before, we have removed the exclamation in the Authority configuration in #21611.
Well, this way does make the configuration more concise.

Now, I propose to remove the exclamation mark in other global rule configurations, including:
- !TRANSACTION
- !SQL_PARSER
- !SQL_TRANSLATOR

Please Refer to:
- https://github.com/apache/shardingsphere/blob/master/proxy/bootstrap/src/main/resour

[2022-11-22 03:53] jiangML commented on #22329
I want to do it.

[2022-11-22 03:55] RaigorJiang commented on #22329
Hi @jiangML, thank you!

[2022-11-22 04:03] dongzl commented on #21954
Hi @strongduanmu, I want to try it.

[2022-11-22 05:34] #22323 closed

[2022-11-22 05:38] juqingbao3 opened #22330 "Error querying database. Cause: java.lang.NullPointerException 【sharding-jdbc version：4.0.0-RC3+druid version：1.1.21 】"
:未知错误：nested exception is org.apache.ibatis.exceptions.PersistenceException:
\### Error querying database.  Cause: java.lang.NullPointerException
\### The error may exist in com/******/cyx/cti/service/dao/ScopeMapper.java (best guess)
\### The error may involve com.******.cyx.cti.service.dao.ScopeMapper.selectList
\### The error occurred while executing a query
\### Cause: java.lang.NullPointerExc

[2022-11-22 05:39] zhang-zhipeng commented on #22257
@strongduanmu  All right now.

[2022-11-22 05:40] Qianyi951015 opened #22331 "Cannot parse Oracle DML SELECT XMLSERIALIZE function statement"
### Which version of ShardingSphere did you use?
b14983bc0eb523b25a7860aae190ccecdbfbd4d7
### Expected behavior
parse SELECT XMLSERIALIZE function statement
### Actual behavior
cannot parse SELECT XMLSERIALIZE function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-22 06:18] TeslaCN opened #22334 "ERROR: smallint out of range occurred in ShardingSphere-Proxy PostgreSQL when inserting negative value into smallint by prepared statement"
## Bug Report

### Which version of ShardingSphere did you use?

7aceb284a771d4c919920343f609615c8d2d65de

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

Insert succeeded.

### Actual behavior

[code]

### Example codes for reproduce this issue (such as a github link).

[code]

[2022-11-22 07:43] #21594 closed

[2022-11-22 08:04] strongduanmu commented on #22330
Hi @juqingbao3, can you try latest 5.2.1? 4.x is too old.

[2022-11-22 08:49] #22331 closed

[2022-11-22 08:59] RaigorJiang commented on #21485
@DivvSaxena
Sorry, CI is still failing.

[2022-11-22 09:20] #22334 closed

[2022-11-22 09:33] strongduanmu commented on #21799
@zhang-zhipeng Thank you for your remind, I will check this issue today.

[2022-11-22 09:36] juqingbao3 commented on #22330
Ok, I'll try

[2022-11-22 09:39] strongduanmu commented on #16880
This question has been asked, so I will close it now.

[2022-11-22 09:39] #16880 closed

[2022-11-22 09:47] strongduanmu commented on #19026
Duplicated with #20435

[2022-11-22 09:47] #19026 closed

[2022-11-22 09:49] strongduanmu commented on #20812
Duplicated with #20435.

[2022-11-22 09:49] #20812 closed

[2022-11-22 09:50] TeslaCN opened #22341 "Table cannot be prefixed with pg_ in ShardingSphere-Proxy PostgreSQL/openGauss"
## Bug Report

### Which version of ShardingSphere did you use?

d9798c3c6480ab5434c65b0e726aca72830d140d

This issue is caused by #13692. So this impact ShardingSphere-Proxy >= 5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL/openGauss

### Expected behavior

DML operations without error.

### Actual behavior

[code]

[code]

[2022-11-22 09:50] strongduanmu commented on #21258
@Keanhua Thank you for your feedback, we will try to reproduce this exception.

[2022-11-22 09:53] peilinqian commented on #22050
[code]

[code]

[2022-11-22 09:57] strongduanmu commented on #18207
@zhao-en Please don't use `COUNT(DISTINCT DATE_FORMAT(LEFT(b.create_date,13),'%Y-%m-%d %H'))` nested aggregation function, since ShardingSphere doesn't support it now.

[2022-11-22 09:57] zhao-en commented on #18207
您好，您的邮件我已经收到，我会尽快处理！

[2022-11-22 09:58] strongduanmu commented on #18207
Since this issue has long time no reply, I will close it.

[2022-11-22 09:58] #18207 closed

[2022-11-22 10:03] clbigdata commented on #21258
I want to solve this problem

[2022-11-22 10:06] strongduanmu commented on #21258
@clbigdata Welcome, I will assign this issue to you.

[2022-11-22 10:18] TeslaCN commented on #22341
Hi @tuichenchuxin
Maybe what you have done recently could fix this issue?

[2022-11-22 10:25] zhaoguhong opened #22342 "ComplexKeysShardingValue add DataNodeInfo"
I extend the complex  sharding algorithm need DataNodeInfo, but it only in `org.apache.shardingsphere.sharding.api.sharding.standard.PreciseShardingValue`

I think can add DataNodeInfo for `org.apache.shardingsphere.sharding.api.sharding.complex.ComplexKeysShardingValue`

### before
[code]
### after
[code]

[2022-11-22 11:04] TeslaCN commented on #14899
The purpose of this issue is to test the Proxy's support for protocols and data types. So it is not suitable that adding these cases to any existing scenarios. I'm going to add a scenario named `passthrough`.

[2022-11-22 11:59] justtraveller opened #22344 "Missing UNSIGNED INTEGER and SIGNED INTEGER in castType"
Is there a reason why castType is missing UNSIGNED INTEGER and SIGNED INTEGER ?

https://github.com/apache/shardingsphere/blob/163a4bd2b863435bb69cc1181035e79d4335b5ad/sql-parser/dialect/mysql/src/main/antlr4/imports/mysql/BaseRule.g4#L1017

They are defined in dataType.

https://github.com/apache/shardingsphere/blob/163a4bd2b863435bb69cc1181035e79d4335b5ad/sql-parser/dialect/mysql/src/main/antlr4

[2022-11-22 13:22] MrCong233 opened #22345 "Testing grafana + shardingsphere + openGauss, grafana setup successfully, but execute ParseInt Error when logging in."
## Bug Report

Testing grafana + shardingsphere + openGauss, grafana setup successfully, but execute ParseInt: parsing \\"\\" when logging in.

### Which version of ShardingSphere did you use?

commit id : 85541320133e8049027e922557636fe32c58625c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

proxy

### Expected behavior

grafana executes successfully.

### Actual be

[2022-11-22 14:25] TeslaCN commented on #22345
This could be reproduced by JDBC.

[code]

[code]

[code]

[2022-11-22 14:40] TeslaCN opened #22346 "RETURNING clause of PostgreSQL INSERT is not parsed"
## Feature Request

### Is your feature request related to a problem?

Proxy cannot reply proper metadata to client if RETURNING clause is not parsed.

https://github.com/apache/shardingsphere/issues/22345

### Describe the feature you would like.

Support parsing RETURNING clause.

[2022-11-22 14:49] RaigorJiang commented on #16720
Closed due to no reply for a long time.

[2022-11-22 14:49] #16720 closed

[2022-11-23 00:28] strongduanmu commented on #22344
Hi @justtraveller, thank you for your feedback. I think this maybe a bug, can you try to fix it?

[2022-11-23 00:50] tuichenchuxin commented on #22341
Yes, it should be solved by simulating the table, the empty table is easy to simulate, but the data collection and simulation need some additional development

[2022-11-23 03:42] Keanhua opened #22349 "When I Use Encrypt, How can I solve blank String correctly？"
## Question

**For English only**, other languages will not accept.

I config 'A' column need encrypt.  When i insert one data ，the 'A' column will be encrypted.
but i config  'A' column  default ''. When i insert one data without 'A' column，the 'A' column will be ''.
then  when i query with 'A' column,  the condition is where 'A'='', i can not query those records with default '' value.

how can i

[2022-11-23 03:51] ruanyg opened #22350 "SS-Proxy report npe when deal with null resultset"
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
SS-Proxy can deal with null resultset correctly.

### Actual behavior
There comes up 4 npe of null ResultSet.I re-executed the sql that reported the error afterwards, then I realized the sqls result are "Empty set".
<img wid

[2022-11-23 04:48] TeslaCN commented on #22350
There were many bugs fixed after 5.0.0. I'm not sure whether this issue is related to https://github.com/apache/shardingsphere/issues/18753.

[2022-11-23 05:32] boyjoy1127 opened #22352 "Integration test General DQLIT has failed. And the error is different everytime."
## Integration test General DQLIT has failed. And the error is different everytime.
Run "org.apache.shardingsphere.test.integration.engine.dql.GeneralDQLIT"
With the content of "it-env.properties“
[code]

<img width="1369" alt="Pasted Graphic" src="https://user-images.githubusercontent.com/101028753/203474636-88dde446-d0bb-413b-8a13-98d766393af2.png">
<img width="1372" alt="Pasted Graphic 1" src="

[2022-11-23 06:09] zhaojinchao95 commented on #22352
Thank you for your feedback, We need to check it.

[2022-11-23 06:21] tuichenchuxin commented on #22349
You can try to change to default null

[2022-11-23 06:26] #22346 closed

[2022-11-23 06:51] zhaojinchao95 opened #22354 "ConsulRepositoryTest.assertWatchUpdate unit test are failed on JDK17 with windows"
Refer to : https://github.com/apache/shardingsphere/actions/runs/3504574219/jobs/5870340032#step:6:51477

`master` https://github.com/apache/shardingsphere/commit/74ec5dfa35c98d7436a353456a6d5be99320a570

[code]

[2022-11-23 06:56] clbigdata commented on #22354
I want try it.

[2022-11-23 07:38] peilinqian opened #22355 "The select result of ‘join with USING(column)’ exists problem;The column name and value doesn't match."
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (#22209)
Branch: 753c0cee8ee6fd3db00536da55b64bc

[2022-11-23 07:51] strongduanmu commented on #22355
@peilinqian Thank you for your feedback, I will try to reproduce this bug.

[2022-11-23 07:51] strongduanmu commented on #22355
Besides, can you provide your sharding configuration?

[2022-11-23 08:01] strongduanmu commented on #22355
server.yaml

[code]

config-sharding.yaml

[code]

[2022-11-23 08:10] peilinqian commented on #22355
**There is problem，if this SQL only can be excuted in federation scenarios?
two single table (one datasource) excuted with error**
[code]
**Replace 'using' with 'on' ,the result is correct**
[code]

[2022-11-23 08:12] wsm12138 commented on #22170
## version
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: 792829660d2bf7b2dbc7890d8431242a47541333
Commit Message: Add integration test case for select group by statement contains null value record (#22314)
Branch: 792829660d2bf7b2dbc7890d8431242a47541333
Build time: 2022-11-23T15:08:10+0800

## og result
<img width="652" alt="image" src="https://user-images.githubusercontent.com/86462784/203498408-d121

[2022-11-23 08:14] strongduanmu commented on #22355
This looks like a kernel bug, I will check it together.

[2022-11-23 08:17] huangxiuqi opened #22356 "SpringCloud+Seata1.5.2+ShardingSphereJDBC5.2.1 SeataATShardingSphereTransactionManager.commit throw null exception"
## Question
Is there something wrong with my configuration?
Demo https://github.com/huangxiuqi/SpringCloud-Seata-ShardingSphereJDBC

[code]

business service start a global transaction
![image](https://user-images.githubusercontent.com/6236507/203496279-9c5a909a-d329-4c73-b38b-a9a67484ac3f.png)

order service, if remove @ShardingSphereTransactionType(TransactionType.BASE), no exception is thrown,

[2022-11-23 08:17] wsm12138 opened #22357 "ERROR: Routed target `ds_-1` does not exist, available targets are `[ds_0, ds_1]`."
## Bug Report

### Which version of ShardingSphere did you use?
792829660d2bf7b2dbc7890d8431242a47541333
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
<img width="805" alt="image" src="https://user-images.githubusercontent.com/86462784/203498727-341f9bee-82ab-42ee-a3af-8ed33ff84305.png">

like DB，we can insert negative
### Ac

[2022-11-23 08:23] strongduanmu commented on #22357
@wsm12138 Please try to add abs function for sharding algrithom.

[2022-11-23 08:24] Pace2Car opened #22358 "[DistSQL] Improve DROP .* RULE & DROP .* STRATEGY"
Hi community,

After DistSQL has restructured the grammar of creating rules, it no longer supports referencing existing algorithms to create rules, so when removing a rule, the associated algorithms should be removed at the same time.

**Aim**

Improve the following DistSQL:

- DROP DB_DISCOVERY RULE
- DROP ENCRYPT RULE
- DROP READWRITE_SPLITTING RULE
- DROP SHADOW RULE
- DROP SHARDING TABLE RULE

[2022-11-23 08:25] peilinqian opened #22359 "The select syntax of ‘natural join’ doesn't support；"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-23 08:30] strongduanmu commented on #22359
According to openGauss document——https://docs.opengauss.org/zh/docs/3.0.0/docs/BriefTutorial/JOIN.html, it only support five join type: CROSS JOIN, INNER JOIN, LEFT OUTER JOIN, RIGHT OUTER JOIN and FULL OUTER JOIN.

[2022-11-23 08:31] RaigorJiang commented on #22358
Related to #21659.

[2022-11-23 08:35] wsm12138 opened #22360 "About digital presentation，Proxy have different with DB"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-23 08:37] Pace2Car commented on #22358
I will work on this issue.

[2022-11-23 08:38] wsm12138 commented on #22357
algorithm-expression: t_order_big_${(order_id % 2).abs()}
          thanks for your reply

[2022-11-23 08:38] #22357 closed

[2022-11-23 08:41] strongduanmu commented on #22360
Yes, you are right. Now, ShardingSphere only supports 4 decimal places, which seems to be the behavior of mysql.

[code]

[2022-11-23 08:43] FlyingZC commented on #22356
Thanks for your feedback @huangxiuqi. I will investigate it, please assign me. @zhaojinchao95

[2022-11-23 08:44] strongduanmu commented on #22360
Related with #15593

[2022-11-23 09:02] strongduanmu commented on #22359
@peilinqian Can you provide some description about natural join? If we don't know its function, we can't implement it.

[2022-11-23 09:29] huangxiuqi commented on #22356
Try manually calling SeataTransactionHolder.set(GlobalTransactionContext.reload(RootContext.getXID())) in feign interceptor, but SeataTransactionHolder is not an public class...

[2022-11-23 09:50] Qianyi951015 opened #22362 "Cannot parse Oracle DML SELECT xx FROM XMLTABLE function statement"
### Which version of ShardingSphere did you use?
74ec5dfa35c98d7436a353456a6d5be99320a570
### Expected behavior
parse SELECT xx FROM XMLTABLE function statement
### Actual behavior
cannot parse SELECT xx FROM XMLTABLE function statement
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-11-23 09:53] strongduanmu commented on #22355
According to PostgreSQL document, when we use using condition, it will only return one join field in result. So we should be compatible with this behavior. Besides, after testing, openGauss has the same behavior.

[code]

[2022-11-23 12:53] strongduanmu commented on #22355
Following is the new result when I execute `SELECT * FROM t_order o RIGHT JOIN t_order_item i using(order_id) WHERE o.user_id = 10 ORDER BY o.order_id, 7;` statement with openGauss.

![4d9c3c48-b00d-45d2-9d49-f1674a301aeb](https://user-images.githubusercontent.com/10829171/203551536-3153f4cd-f5f5-4166-a391-634b56d8662a.jpeg)

[2022-11-23 14:21] RaigorJiang opened #22371 "[DistSQL] Add name to SHARDING TABLE REFERENCE RULE"
Hi community,

This issue is for [#21659](https://github.com/apache/shardingsphere/issues/21659).

### Background
Now our syntax for managing Sharding Table Reference Rules is as follows:
[code]
When there are multiple sets of Sharding Table Reference Rules, if we want to alter or drop one of them, we need to write all the definitions, which is very inconvenient.

### Aim

I plan to add a rule nam

[2022-11-23 15:35] FlyingZC commented on #21421
It's affected by  https://github.com/apache/shardingsphere/pull/21992

[2022-11-24 01:56] huangxiuqi commented on #22356
Rewrite the SeataTransactionHolder class to make it public, add an interceptor and manually call SeataTransactionHolder.set(), it can work normally, but I don't know if it is correct.

[code]

[code]

[2022-11-24 02:29] peilinqian opened #22375 "If the select column doesn't only contain group by column,and the group by column is primary key，returns error."
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-24 02:32] peilinqian commented on #22375
**If the column of group by is not primary key ,opengauss is also returned erro**

[code]
[code]

[2022-11-24 06:00] Keanhua commented on #22349
if i change to default null, the column can not create index correctly。

[2022-11-24 06:42] strongduanmu commented on #22355
According to SQLServer document——https://learn.microsoft.com/en-us/sql/t-sql/queries/from-transact-sql?view=sql-server-ver16, it doesn't seem to support the using syntax.

[2022-11-24 07:10] justtraveller commented on #22344
I am going to give it a shot.

[2022-11-24 07:11] tuichenchuxin commented on #22349
There is currently no way to skip the encryption of empty strings.

[2022-11-24 07:16] #22345 closed

[2022-11-24 07:32] strongduanmu commented on #22344
Good job, I will assign this issue to you.

[2022-11-24 07:56] griptide opened #22382 "a question about set shardingsphere mode"
em~ so is a bug ?

![image](https://user-images.githubusercontent.com/32671195/203725121-53ade7c9-f51e-4b9b-a78f-82fab42fbf42.png)

![image](https://user-images.githubusercontent.com/32671195/203725146-28270e03-c50f-403e-8299-4d7b216b338d.png)

[2022-11-24 08:14] strongduanmu opened #22384 "Conversion to relational algebra failed to preserve datatypes exception occurs when I execute `SELECT o.*, * FROM t_order o FULL JOIN t_order_item i using(user_id, order_id) WHERE o.user_id = 10 ORDER BY o.order_id;` with sql federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/443899a9a09daf6ac74026a0794c61c8d51d22c6

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT o.*, * FROM t_order o FULL JOIN t_order_item i using(user_id, order_id) WHERE o.user_id = 10 ORDER BY o.ord

[2022-11-24 08:32] TeslaCN opened #22385 "GeneralDDLIT of scenario Proxy, tbl occasionally failed"
## Bug Report

### Which version of ShardingSphere did you use?

The occasional failure has been there for a while.

### Expected behavior

All test cases passed stably.

### Actual behavior

https://github.com/apache/shardingsphere/actions/runs/3531639841/jobs/5925178789
https://github.com/apache/shardingsphere/actions/runs/3538334075/jobs/5939190044

[2022-11-24 08:42] TeslaCN commented on #22385
I think this is the cause.
https://github.com/apache/shardingsphere/actions/runs/3538334075/jobs/5939190044#step:7:1033

I could reproduce this issue locally by repeating tests until failure.

[code]

[2022-11-24 09:22] TeslaCN commented on #22385
![image](https://user-images.githubusercontent.com/20503072/203745918-9f3eb4ef-2953-44e3-87ec-1cd462caa457.png)

[2022-11-24 10:20] dbin0123 opened #22387 "rewrite sql to lose the schema"
database: dm8
sharding version: 5.2.1
org.apache.shardingsphere.infra.rewrite.sql.impl.AbstractSQLBuilder.toSQL()

![image](https://user-images.githubusercontent.com/18297300/203758724-3b255b1b-e4c6-4721-aca6-df2b98de54e8.png)

[2022-11-24 10:50] TeslaCN commented on #22385
The database name in JDBC URL was weird.
![image](https://user-images.githubusercontent.com/20503072/203765730-7e6c736e-a17f-4820-ac5f-9445c942f0f6.png)

[2022-11-24 10:51] peilinqian opened #22388 "The select syntax of ‘group by cube/rollup/grouping sets’ does not support；"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-24 10:57] flywenCWW opened #22389 "Whether to support all tables of the data to follow the default sub-database strategy"
Configure the table to be divided in the spring.shardingsphere.sharding.tables configuration item, and the strategy of dividing the database can be implemented correctly
But there is no configured table, and the strategy of sub-database cannot be used

Is there a way to let all the tables in the database use the sub-database strategy by default, instead of the tables configured in spring.shardings

[2022-11-24 12:13] #22362 closed

[2022-11-24 16:45] #22385 closed

[2022-11-25 02:29] MercuryTan opened #22398 "shardingjdbc5.1.1 +zk does not support custom time？"
**question：**
       zk is connected，but when I starting the project, an exception occurred
          org.apache.zookeeper.KeeperException$OperationTimeoutException: KeeperErrorCode = OperationTimeout

**When I debugged, I found：**
The zk timeout has been configured
![image](https://user-images.githubusercontent.com/31116969/203887386-00aa3f8b-9547-45fe-91be-4b384b6279a8.png)

But when actually in

[2022-11-25 02:29] #20559 closed

[2022-11-25 02:32] strongduanmu commented on #22388
Thank you for your feedback. ShardingSphere doesn't support group by cube/rollup/grouping sets now, we will optimize it in the future.

[2022-11-25 03:02] MercuryTan commented on #22398
@zhaojinchao95 in `ZookeeperRepository.init(final ClusterPersistRepositoryConfiguration config)`，did use custom time，no error reported at this time.  when executing the method `ZookeeperRegistryCenter.init()`，an exception occurred

**It works when my config file is the following section：**

[code]

But **when I want to achieve dynamic read-write separation**, the previous exception is thrown when

[2022-11-25 05:04] zhaojinchao95 commented on #22398
You can adjustment `sessionTimeoutMilliseconds` to 6000. And try it again.

[2022-11-25 05:26] TeslaCN opened #22402 "The integration test scenario empty_rules is confusing"
## Question

Maybe we should rename the scenarios `empty_rules`.

https://github.com/apache/shardingsphere/blob/1c2f666c2f265d67e66b5e831441d0fdf881ff65/test/integration-test/test-suite/src/test/resources/env/scenario/empty_rules/proxy/conf/mysql/config-empty-rules.yaml#L211-L262

[2022-11-25 05:58] FlyingZC commented on #22356
Maybe according to the judgment whether it is in the transaction by `SeataATShardingSphereTransactionManager#isInTransaction`, if `RootContext.getXID()` is set outside shardingsphere,we can set call `SeataTransactionHolder.set()` here to fix it.Of course a better design needs to be sorted out.

[2022-11-25 07:06] MercuryTan commented on #22398
@zhaojinchao95 thank u, but adjustment sessionTimeoutMilliseconds do not take effect.

When setting the parameter “**server-list**” from

[code]

**to**

[code]

​	and **hosts file** settings mapping

[code]

Project started successfully.

[2022-11-25 07:07] #22398 closed

[2022-11-25 07:24] #22355 closed

[2022-11-25 08:06] TeslaCN opened #22407 "Parameters lost after KernelProcessor.generateExecutionContext"
## Bug Report

### Which version of ShardingSphere did you use?

master - a1da19a3471f1f87ec7e1eb45e25a42322ad249c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL.

### Expected behavior

Data inserted.

### Actual behavior

Client:
[code]

Proxy:
[code]

### Reason analyze (If you can)

![image](https://user-images.githubusercontent.co

[2022-11-25 08:18] TeslaCN commented on #22407
I found this may relate to `InsertStatementContext`.

![image](https://user-images.githubusercontent.com/20503072/203933842-4371a05d-adb4-46bf-b450-f4833841d605.png)

[2022-11-25 09:16] djmirv commented on #21897
同样有疑惑

[2022-11-25 09:17] djmirv commented on #21856
In which version solved?

[2022-11-25 09:18] djmirv commented on #21856
Cuz i tried the 5.1.0. And it doesn't work.

[2022-11-25 09:28] jiangML opened #22409 "Agent supports projects that use JDBC, such as Spring Boot"
## Feature Request
### Background
Currently `Agent` only supports integration with `Proxy`, there will be problems when integrating with `JDBC`.
For example, when integrating with a spring boot project, the current `Agent` does not support this scenario due to the existence of a custom classloader in Spring Boot.
[code]

### Problem
1. Agent will share `slf4` and `logback` dependencies with the ap

[2022-11-25 09:51] peilinqian opened #22412 "Execute tpcc，returning ERROR: insert or update on table "bmsql_stock" violates foreign key constraint "s_item_fkey_bmsql_stock""
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-25 10:23] wsm12138 opened #22413 "NPE“Cannot invoke "String.length()" because "s" is null”"
## Bug Report

### Which version of ShardingSphere did you use?
2ca7035bc3b2fe91a595724687b115b85ba72204
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
no error
### Actual behavior
[code]
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception o

[2022-11-25 10:48] FlyingZC commented on #22407
I want to investigate this issue, please assign me. @strongduanmu

[2022-11-25 13:54] cheese8 commented on #22349
change default '' into default encrypt('') or make column A in sql explicitly

[2022-11-25 14:14] chenyongyin opened #22424 "shardingsphere uses snowflake algorithm to generate primary key. Why can it only generate the value of 1 or 2 after modulo 16?"
version：5.0.0-alpha
question：
shardingsphere uses snowflake algorithm to generate primary key. Why can it only generate the value of 1 or 2 after modulo 16?

[2022-11-26 02:02] boyjoy1127 opened #22427 "What is the federation judagement?"
## What is the federation judagement?

Debug in IDE. When execute IT test `isSelectStatementContainsSystemSchema()` statement is always false。
Instead , `entry.getValue().decide(……..);` seems is responsible for judging federation SQL.
So, what is the different between them?

<img width="1264" alt="Pasted Graphic 11" src="https://user-images.githubusercontent.com/101028753/204068074-154a5fe1-71f1-4

[2022-11-26 02:25] boyjoy1127 opened #22428 "How many IT cases is executed by federation sql?"
## How many IT cases is executed by federation sql?

Run integration test with content of it-evn.properties：
[code]
Add break point at `entry.getValue().decide(.....)`:
<img width="1264" alt="Pasted Graphic 11" src="https://user-images.githubusercontent.com/101028753/204068785-4bf92319-8086-46da-b861-78b1137a2821.png">

Cases in `dql-integration-test-cases.xml` are executed.
So only these ten case

[2022-11-26 04:43] peilinqian opened #22432 "When the federation function is enabled, an exception occurs when tpcc is executed."
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-26 05:12] strongduanmu commented on #22432
Can you provide the original sql which cause this exception?

[2022-11-26 06:34] peilinqian commented on #22432
Log doesn't contain error SQL information。
**benchmark version：**
https://gitee.com/opengauss_sharding/benchmarksql

[2022-11-26 06:37] peilinqian commented on #22432
there is another error ，I have add information under ‘**Actual behavior** ’

[2022-11-26 06:38] peilinqian commented on #22432
there is another error ，I have add information under ‘Actual behavior ’

[2022-11-26 06:41] vikiuvb opened #22433 "Decoupling of data sources from sharding rule"
## Feature Request

### Is your feature request related to a problem?

When we add a new data source, the user has to update all the sharding rules to include the newly created data source.

**Example:**

[code]

When we add a new data source, `ds_2`, we need to update the same in both the `t_orders` and `t_invoices` sharding rules. It may look fine for a few tables, but it feels mundane for datab

[2022-11-26 07:20] zhaojinchao95 commented on #22413
@wsm12138 Thank you for your feedback, i will check it.

[2022-11-26 07:25] zhaojinchao95 commented on #22433
The idea looks good, let's go on discussion it.

[2022-11-26 07:26] zhaojinchao95 commented on #22424
@chenyongyin Can you use `ShardingSphere`` 5.2.1`  and try it?

[2022-11-26 07:29] zhaojinchao95 commented on #22402
The scenarios `empty_rules` are use in `RAL` and `RQL`. I agree with the idea

[2022-11-26 09:16] peilinqian opened #22438 "The select syntax of fetch statement is executed error ‘java.lang.NullPointerException’"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-26 09:36] zhaojinchao95 commented on #22413
@tuichenchuxin Hi, Can you look this? Maybe this method logic has some problem :

[code]

[2022-11-26 10:05] #22359 closed

[2022-11-26 10:48] zhaojinchao95 opened #22441 "Maybe ResultSet need to close with `try-with-resource`"
`master` https://github.com/apache/shardingsphere/commit/a9c3c1878e1e1e0d73656f1c3537f34608ead815

I think the ResultSet need to with `try-with-resource`. Because if not close in time, The resources held by resultSet will not be released until the `GC`.

For example :

[code]

[code]

This is just a part, there are many places

[2022-11-26 11:23] Qianyi951015 commented on #22438
I think that I have found out why this problem occurred, but I'm still thinking about how to fix it

[2022-11-26 11:25] boyjoy1127 opened #22442 "Why these two cases dosen't execute?"
## Question
Two cases in
`shardingsphere/test/integration-test/test-suite/src/test/resources/cases/dql/dql-integration-test-cases.xml`
are not be execute during IT tests.
[code]
Below is the content of it-env.properties:
[code]

[2022-11-26 11:33] boyjoy1127 opened #22443 "Why same query sql is executed by two times?"
## Why same query sql is executed by two times?

What is the differentce betwen assertExecuteQuery() and assertExecute() in GeneralDQLIT.

Same query sql is executed by assertExecuteQuery() and assertExecute() two times.
<img width="1285" alt="WechatIMG505" src="https://user-images.githubusercontent.com/101028753/204086557-861c6da3-dc41-4e85-b7c1-2233932b02bf.png">

<img width="1028" alt="WechatIM

[2022-11-26 11:36] strongduanmu commented on #22443
This is to cover more jdbc interfaces, and both execute and executeQuery can execute select statements.

[2022-11-26 12:23] sandynz opened #22445 "Ignore license header for ShardingSphereDriverURL.toConfigurationBytes()"
Currently, ShardingSphereDriverURL.toConfigurationBytes() will from driver yaml and convert content to byte array which include license header. And ShardingSphereDriverURLTest will assert byte array length, e.g.
[code]

It's better to ignore license header, so when license header is changed, it won't affect unit test.

Possible changes:
- ShardingSphereDriverURL.toConfigurationBytes() ignore licen

[2022-11-26 14:46] zhaojinchao95 commented on #22438
@Qianyi951015 Good, are you interested in fix it?

[2022-11-26 14:47] Qianyi951015 commented on #22438
sure, I'm trying now.

[2022-11-26 15:55] RaigorJiang commented on #22321
After discussing with @terrymanu , we believe that the YAML configuration style in the project should be unified for the following reasons:
- Avoid user confusion and reduce the cost of understanding
- Facilitates interaction with DistSQL, since in DistSQL only underscore is allowed in identifier

Therefore, we plan to update all YAML file separators in the example and documentation to underscore.

[2022-11-26 16:21] RaigorJiang opened #22449 "Uniform term `DistSQL`"
Hi community,

In Apache ShardingSphere, [DistSQL](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/) is a proper noun, which means Distributed SQL.
However, we cannot use `dist SQL` to represent `DistSQL` because `dist` is not a complete word.

There are the following examples:
- correct
[code]

- incorrect
[code]

[code]

We need to unify these terms

[2022-11-26 18:48] linghengqian opened #22451 "The group by statement with division sign cannot be executed for the datatime type field of the logical table in H2Database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-27 04:46] terrymanu opened #22453 "Remove SQLStatement log for SQLLogger"
The SQLStatement log is unnecessary for now. I want to discuss remove it at all.

The tasks are:

- [ ] Remove log from SQLLogger;
- [ ] Remove all @ToString annotation on SQLStatement and SQLSegment class;
- [ ] Remove last item of parser code conduct.

[2022-11-27 06:15] #22438 closed

[2022-11-27 06:57] RaigorJiang opened #22456 "Optimize the experience of using built-in algorithms in DistSQL"
Hi community,

In 5.2.0, we added parameter specifications to DistSQL, such as requiring quotes for string parameters. (Ref: #18811)
<img width="722" alt="image" src="https://user-images.githubusercontent.com/5668787/204122887-dbf08cfb-735d-4dac-a2d3-974442bcb82e.png">

However, considering the user experience, other databases such as MySQL will also provide compatibility strategies for built-in o

[2022-11-27 07:05] Qianyi951015 commented on #22449
please assign to me

[2022-11-27 07:07] RaigorJiang commented on #22449
Thank you! @Qianyi951015

[2022-11-27 07:26] #22449 closed

[2022-11-27 08:14] smartbetter commented on #22453
`SQLStatement log` prints too much, easy to cause disk waste.
Remove `SQLStatement log` in `SQLLogger` is Good idea.

[2022-11-27 08:48] Qianyi951015 commented on #22456
Please assign to me

[2022-11-27 11:12] RaigorJiang commented on #22456
Hi @Qianyi951015, welcome!

[2022-11-27 15:55] RaigorJiang commented on #22453
+1
There is already `Logic SQL` in the log, if users need a statement, they can get it by parsing.

[2022-11-28 02:00] strongduanmu commented on #22453
Good idea, the SQLStatement log looks useless now.

[2022-11-28 02:38] strongduanmu commented on #22451
@linghengqian Thank you for your feedback, I will investigate this issue.

[2022-11-28 02:48] RaigorJiang opened #22469 "[DISCUSS] Removing Spring configuration from ShardingSphere"
Hi community

I want to discuss removing Spring Boot Starter and Spring Namespace configuration from ShardingSphere.

## Background
Currently, ShardingSphere-JDBC supports `Java API`, `YAML`, `Spring Boot Starter` and `Spring Namespace` configuration ways, and there are the following problems:
1. When the API changes, it is necessary to adjust various configuration files, and the workload is heavy

[2022-11-28 02:58] strongduanmu commented on #22443
Since this is not a bug, I will close this issue.

[2022-11-28 02:58] #22443 closed

[2022-11-28 03:00] strongduanmu commented on #22442
@taojintianxia Can you help check this issue?

[2022-11-28 03:18] strongduanmu commented on #22412
Can you provide the sql which cause this exception?

[2022-11-28 03:19] zhaojinchao95 commented on #22441
The streaming merge not allow close `ResultSet`, This can only be guaranteed by the developers.

[2022-11-28 03:19] #22441 closed

[2022-11-28 03:28] taojintianxia commented on #22442
can you distinguish the difference between Docker and Native, please have a try as following if negtive :
[code]
luanch up the docker destop before you try this test.

[2022-11-28 03:57] strongduanmu commented on #22427
`isSelectStatementContainsSystemSchema` provides query feature for ShardingSphere Proxy system database table.

[2022-11-28 04:28] strongduanmu commented on #21954
Thank you very much for your research, I will close this issue.

[2022-11-28 04:28] #21954 closed

[2022-11-28 04:30] strongduanmu commented on #22428
Which cases are included in sql federation need to be determined according to the logic and configuration of SQL Decider, so it is impossible to give a clear list, you can try to debug to determine.

[2022-11-28 04:30] #22428 closed

[2022-11-28 04:33] strongduanmu commented on #22389
You can try to set defaultDatabaseStrategy, it can simplify sharding configuration.

[2022-11-28 04:35] strongduanmu commented on #22387
@dbin0123 Can you provide your configuration to help reproduce this exception?

[2022-11-28 07:44] zhaoguhong commented on #22342
After discussion，It`s not universal

[2022-11-28 07:44] #22342 closed

[2022-11-28 07:58] peilinqian opened #22480 "In the federation scenario, use ‘order by’ when creating a view, and use the ‘limit 10,5 ’clause when select the view, and the order of the result data is incorrect"
### Which version of ShardingSphere did you use?
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/22209)
Branch: https://github.com/apache/shardingsphere/commit/753c0cee8ee6fd3db00536da55b64bc5198a3758
Build time:

[2022-11-28 08:14] strongduanmu commented on #22480
@peilinqian Thank you for your feedback, I will check this issue.

[2022-11-28 08:26] strongduanmu commented on #22480
When I execute create view statement, the following exception occurs.

[code]

[2022-11-28 09:25] linghengqian commented on #21953
- It seems that for the keyGenerators of the primary key of the table is the example of SNOWFLAKE, the capabilities provided by https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/special-api/sharding/hint/ cannot handle it.
- So, what should be the direction of change for this example?

[2022-11-28 10:06] strongduanmu commented on #22480
According to the above logic, when we execute `select * from left_join_view limit 4,5;`, calcite will remove the order by in the view, which affects the sql semantics. To solve this problem, we temporarily configure `withRemoveSortInSubQuery` to false, and then fix this bug in calcite.

[2022-11-28 10:36] wsm12138 commented on #22355
32cfedba769e156e4109d6bfa2f07a6c9d30edbe

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/86462784/204256714-506bc16a-434f-4132-9592-b27fbf6c1457.png">

[2022-11-28 10:38] wsm12138 commented on #22359
32cfedba769e156e4109d6bfa2f07a6c9d30edbe

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/86462784/204257183-ca73c196-ff06-4ff7-9e89-81c22d782b63.png">

[2022-11-28 12:14] #22480 closed

[2022-11-28 14:17] RaigorJiang commented on #21906
Close because it has been resolved.

[2022-11-28 14:17] #21906 closed

[2022-11-28 15:27] linghengqian opened #22489 "Is the OrderItemRepositoryImpl TODO in the ShardingSphere Example a completed part?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-11-28 17:27] Calabor-Hoc commented on #20431
I have the same concern.
Loading all table metadata also brings another problem to me:
Oracle UROWID cannot be parsed by shardingsphere, which leads to NPE during boot.

[2022-11-29 00:54] dbin0123 commented on #22387
The example configuration obtains the data source'getDataSource()'. There is a problem with the data source name, please adjust it to`healthcloud_platform_support`. Thank you

[2022-11-29 00:54] dbin0123 commented on #22387
The example configuration obtains the data source'getDataSource()'. There is a problem with the data source name, please adjust it to`healthcloud_platform_support`. Thank you

[2022-11-29 02:24] FlyingZC opened #22493 "Can't set transaction isolation in postgresql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-29 03:23] linghengqian commented on #21347
- I initialized the first part of GRM for shardingsphere-jdbc-core at https://github.com/linghengqian/graalvm-trace-metadata-smoketest/issues/1. But I saw https://github.com/apache/shardingsphere/pull/20255 related issue. I will submit a PR for this. I also opened https://github.com/oracle/graal/issues/5522.

[2022-11-29 03:36] RaigorJiang commented on #22329
Completed.

[2022-11-29 03:36] #22329 closed

[2022-11-29 03:38] wsm12138 commented on #22480
710f53e45aef175ad9b6c33121b8b0e1a90e6157

proxy
<img width="1630" alt="image" src="https://user-images.githubusercontent.com/86462784/204432709-3560f742-6b54-4d90-aa35-c17e9ad17047.png">

openGauss
<img width="882" alt="image" src="https://user-images.githubusercontent.com/86462784/204432821-6a9ce9ed-3f53-413e-a03a-699cde417be7.png">

[2022-11-29 04:30] wsm12138 commented on #21421
710f53e45aef175ad9b6c33121b8b0e1a90e6157

<img width="773" alt="image" src="https://user-images.githubusercontent.com/86462784/204439187-f593a84e-2a81-4ba8-87b7-ddf1f04e128f.png">

[2022-11-29 06:29] Oliverwqcwrw commented on #17614
hello @StupidManYI ,I had the same problem. Did you solve your problem?

[2022-11-29 06:48] Oliverwqcwrw commented on #17614
My problem is the configuration is wrong, reference [Article](https://wangzhenjun.xyz/archives/134) solves the problem

[2022-11-29 06:56] strongduanmu commented on #22382
Thank you for your feedback. @zhaojinchao95  Can you help check this issue?

[2022-11-29 07:00] zhaojinchao95 commented on #22382
Sure.

[2022-11-29 07:02] zhaojinchao95 commented on #22382
@griptide Hi, The `memory` mode needn't to configuration. ShardingSphere default mode are `memory` in your `ShardingSphere version`. you can refer to : https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/cluster-mode-example/cluster-mode-spring-namespace-mybatis-example/src/main/resources/META-INF/zookeeper

[2022-11-29 07:14] TeslaCN commented on #14899
PostgreSQL timestamp regress could be found here:
https://github.com/postgres/postgres/blob/00ae5d6f588e9d21fa4f4d267811f3f602fe45af/src/test/regress/expected/timestamp.out

[2022-11-29 07:48] wsm12138 opened #22499 "Can we provide check for configuration of `server.yaml`?"
## Feature Request

Can we provide check for  configuration of  `server.yaml`?
Now i can config wrong value for some key.
It is obviously not true.

### Is your feature request related to a problem?
no
### Describe the feature you would like.
[code]
![dSF8V2ey8v](https://user-images.githubusercontent.com/86462784/204469186-1817b968-b90f-4750-bb6f-a61e73591247.jpg)

[2022-11-29 07:48] sandynz opened #22500 "Add CDC feature"
Hi community,

We've planned data synchronization feature before, and we received feature request of CDC (change data capture) from community recently, we'll add CDC feature at next weeks.

CDC feature could be used for ingesting data from Apache ShardingSphere proxy to OLTP, OLAP and MQ system etc.

After several times of discussion with @azexcy and @justbk2015 , review by @tristaZero and @terrym

[2022-11-29 07:55] TeslaCN opened #22501 "panic: pq: No value specified for parameter 1. when using Golang XORM"
## Bug Report

### Which version of ShardingSphere did you use?

master - e71e94d7e1b71694402829ea0074cb085129069e

This issue may be caused by https://github.com/apache/shardingsphere/pull/13692

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

Query returned correct result.

### Actual behavior

[code]

### Reaso

[2022-11-29 10:36] likeitchen commented on #18906
@jiangML 你好 请问你的proxy 和 agent 是什么版本呀

[2022-11-29 10:37] likeitchen commented on #18906
@jiangML Hello ML, what are the versions of agent and proxy in the current instance

I use proxy and agent during testing 5.2.1 No error reporting 5.1.0 No error reporting

However, 5.1.2 is consistent with the above error

9090 port fails to collect indicator data

[2022-11-29 12:00] TeslaCN opened #22506 "ShardingSphereSQLParserEngine.parse got null when parsing PostgreSQL ALTER DATABASE"
## Bug Report

### Which version of ShardingSphere did you use?

master - ee7db7d4390824d81a1aac4035d2bddd42954eff

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

No error occurred.

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/204510973-d7d2ee3a-0467-45f1-8464-6473214f9b2f.png

[2022-11-29 12:38] zeyuGitHup opened #22508 "Incorrect database and table routing"
----
sharding-jdbc version: 4.1.1
---
this mysql sharding config:

###
    datasource:
      names: qrcodedb0,qrcodedb1,qrcodedb2,
      qrcodedb0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://192.168.31.10:30006/db0?characterEncoding=utf-8&&serverTimezone=GMT%2B8
        username: root
        password: root

[2022-11-29 17:44] linghengqian commented on #22469
- Great, this definitely closes https://github.com/apache/shardingsphere/issues/11650 which requires refactoring of shardingsphere's springboot starter. It can also solve the three warnings used under SpringBoot 3.0.0.

[2022-11-30 00:23] strongduanmu commented on #22508
Hi @zeyuGitHup, thank you for your feedback. Can you try the latest 5.2.1? 4.x is too old.

[2022-11-30 02:14] peilinqian opened #22514 "In the federation scenario, use ‘distinct on’ when creating a view, and select the view, the result data is incorrect ."
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.2-SNAPSHOT
Commit ID: dirty-753c0cee8ee6fd3db00536da55b64bc5198a3758
Commit Message: Optimize sqlFederationExecutor init logic when sqlFederationType modify dynamically (https://github.com/apache/shardingsphere/pull/2

[2022-11-30 02:17] peilinqian commented on #22514
![image](https://user-images.githubusercontent.com/97432411/204691375-09960acb-c20f-4e13-8d51-38f7501f0b70.png)

[2022-11-30 02:26] strongduanmu commented on #22514
@peilinqian Thank you for your feedback, I will investigate this issue.

[2022-11-30 02:29] strongduanmu commented on #22506
Hi @tuichenchuxin, can you help check this issue?

[2022-11-30 02:33] tuichenchuxin commented on #22506
sure. I'll check it.

[2022-11-30 02:49] TeslaCN opened #22516 "PostgreSQL Proxy behavior different with PostgreSQL when doing math"
## Bug Report

### Which version of ShardingSphere did you use?

master - 935a8108a6e411cab79c7861fe1d7315d27f941c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

[code]

[code]

### Actual behavior

[code]

[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when ex

[2022-11-30 02:51] hua74ni opened #22517 "sharding proxy thread pool type is fixed"
## Feature Request

### Is your feature request related to a problem?

Start the proxy using yaml configuration, there is no configuration to modify the datasourcePool. Sharding-proxy create a thread pool type is fixed -- "com.zaxxer.hikari.HikariDataSource"

![image](https://user-images.githubusercontent.com/27909365/204695563-b632dba2-36ef-4c43-bb16-f31162d0b12e.png)

![image](https://user-image

[2022-11-30 02:54] aditya-kumbhar opened #22518 "Flaky tests in ParseDistSQLHandlerTest due to nondeterministic json element ordering"
Two tests in the test class ParseDistSQLHandlerTest, using the [NonDex](https://github.com/TestingResearchIllinois/NonDex) tool:
[code]

Command to reproduce using Nondex:
`mvn-pl proxy/backend edu.illinois:nondex-maven-plugin:2.1.1:nondex -Dtest=org.apache.shardingsphere.proxy.backend.handler.distsql.ral.advance.ParseDistSQLHandlerTest`

The following assertions failed:
[code]
The tests fail due

[2022-11-30 02:58] smartbetter commented on #21764
To new issues: https://github.com/apache/shardingsphere/issues/22453

[2022-11-30 03:00] aditya-kumbhar commented on #22518
Working on a fix for this.

[2022-11-30 04:20] TeslaCN opened #22519 "Failed to parse PostgreSQL SELECT i.f1, i.f1 - int4 '2' AS x FROM INT2_TBL i"
## Bug Report

### Which version of ShardingSphere did you use?

master - 935a8108a6e411cab79c7861fe1d7315d27f941c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

SQL could be parsed.

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/204706493-7afc1aa2-9d77-4b5c-adbd-6efa560e30f8.p

[2022-11-30 04:24] likeitchen opened #22520 "proxy Startup exception Failed to instrument org.apache.shardingsphere.proxy.frontend.netty.FrontendChannelInboundHandler"
# Environmental information
* shardingsphere-proxy 5.1.2
* shardingsphere-agent 5.1.2
* Self-developed jaeger
# Description of the problem
- Call the agent through proxy to complete the monitoring indicator data collection, and the agent only enables the Prometheus plugin
- At present, it is impossible to determine whether the error log affects production and use, and the current proxy connection

[2022-11-30 05:15] TeslaCN opened #22522 "ERROR: Can not find JDBC type `2002` in PostgreSQL column type"
## Bug Report

### Which version of ShardingSphere did you use?

master - 8ffe2bb86b6da9f9c9053fb5cce28cb5b5b660db

All versions of ShardingSphere-Proxy may be affected.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy PostgreSQL

### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior, such as: SQL to execut

[2022-11-30 05:23] silversteak commented on #20431
@terrymanu @TeslaCN can you please have a look into it ?

[2022-11-30 05:43] strongduanmu commented on #20431
@silversteak Thank you for your feedback, we are designing a new single table loading logic. By default, no single table is loaded. Users can specify which single tables to load through YAML or DistSQL.

[2022-11-30 07:09] TOP-LH commented on #21902
So I need to wait until 5.2.2 to fix this bug?

[2022-11-30 07:17] TeslaCN commented on #21902
You may use `int` to avoid this issue.

[2022-11-30 07:24] RaigorJiang opened #22528 "Unsupported SQL operation: unsupported CommonExpressionSegment"
## Bug Report
### Which version of ShardingSphere did you use?
master 97395363

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
The select statement executes successfully.

### Actual behavior
[code]

[2022-11-30 07:32] TOP-LH commented on #6861
现在解决了吗

[2022-11-30 07:33] TOP-LH commented on #6861
现在解决了吗

[2022-11-30 07:33] TOP-LH commented on #6861
我看MYSQL官方说是

[2022-11-30 07:38] TOP-LH commented on #21902
不好意思看错了, 我的问题是这个(https://github.com/apache/shardingsphere/issues/6861)

[2022-11-30 07:50] TeslaCN commented on #6861
Maybe .net driver reuses the TCP connection.

[2022-11-30 07:56] TOP-LH commented on #6861
What can I do for you?

[2022-11-30 07:58] TeslaCN commented on #6861
MySqlConnector will use `COM_RESET_CONNECTON` (higher server version) or `COM_CHANGE_USER` (lower server version) to reset state of connection.

https://github.com/mysql-net/MySqlConnector/blob/c3a362e9f326c8b7773be389ec8496e221434641/src/MySqlConnector/Core/ServerSession.cs#L610-L669

[2022-11-30 08:01] TeslaCN commented on #6861
I'd appreciate that if you could help us reproduce this in Linux. I haven't got a Windows environment.

[2022-11-30 08:15] strongduanmu commented on #22514
Currently, Calcite framework does not support PostgreSQL `distinct on` syntax, I submitted a jira for tracking - https://issues.apache.org/jira/browse/CALCITE-5406.

[2022-11-30 08:19] TOP-LH commented on #6861
I'm sorry, I can't answer this question, this problem is .net core development colleagues to my feedback, according to him there is a paging interface need to query the total number of entries and the current page of data, the total number of entries can be queried successfully, the current page of SQL is not able to query
The master MySQL report is: 5.7.22-log
The slave MySQL report is: 5.7.40-lo

[2022-11-30 08:20] TOP-LH commented on #6861
Java目前没碰到问题

[2022-11-30 08:42] 55959411 opened #22531 "Questions about reloading metadata"
### Which version of ShardingSphere did you use?
Shardingsphere 5.2.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
ORACLE
Zookeeper Cluster Mode

Problems occurred in the org.apache.shardingsphere.mode.metadata.MetaDataContextsFactory class reloadDatabases method.

see below:
![issue](https://user-images.githubusercontent.com/46920849/204748066-d5

[2022-11-30 08:45] strongduanmu commented on #22528
Thank you for your feedback, I will fix this bug.

[2022-11-30 08:52] jakiuncle commented on #22501
please try this     docker run   --network host   -e driverName=postgres   -e dataSourceName='user=postgres password=123456 host=127.0.0.1 port=5432 sslmode=disable dbname=casdoor' -e dbName=''   casbin/casdoor:latest

[2022-11-30 08:59] strongduanmu commented on #22517
Hi @hua74ni thank you for your feedback. Currently Proxy uses hikari as the default connection pool. Do you have a need to replace the connection pool?

[2022-11-30 09:42] Scorpiord commented on #21211
@linghengqian
hello, I have met the same problem.Is there a plan to support this issue?

[2022-11-30 10:02] YLongGe commented on #15533
Could you tell me the solution？thanks

[2022-11-30 10:31] linghengqian commented on #21211
- I don't know what the originator of the current issue is thinking, and I don't know how to fix it, so it's not on my priority list.

- If you have PR, you can submit it directly.

[2022-11-30 11:17] Qianyi951015 commented on #22321
Please assign to me

[2022-11-30 13:02] Oliverwqcwrw opened #22544 "Provider PostgreSQLDialectExceptionMapper could not be instantiated"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-11-30 13:07] #22135 closed

[2022-11-30 14:53] bgrainger commented on #6861
The issue is that ShardingSphere claims to be MySQL 5.7 (or later) in the Initial Handshake packet, but doesn't support MySQL 5.7 protocol features such as COM_RESET_CONNECTION.

https://github.com/apache/shardingsphere/blob/f6a202bfde51b00dcfb02453e32697fc3c736324/proxy/frontend/mysql/src/test/java/org/apache/shardingsphere/proxy/frontend/mysql/command/MySQLCommandPacketFactoryTest.java#L227-L230

[2022-11-30 15:13] RaigorJiang opened #22547 "Update EncryptRuleQueryResultSet for more algorithms."
Ref to #22135.
`encryptAlgorithm`, `assistedQueryAlgorithm` and `likeQueryAlgorithm` can be created in Encrypt RDL now, but there is still only `encryptAlgorithm` in RQL, we now need to upgrade `EncryptRuleQueryResultSet`.

See also: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rql/rule-query/encrypt/