[2022-08-23 06:07] #18431 closed

[2022-08-23 06:15] #20437 closed

[2022-08-23 06:19] cheese8 commented on #15689
Sorry, quite busy recently, maybe 5.1.4

[2022-08-23 06:29] xinglijun1973 commented on #20435
@cheese8 if `fuzzyAlgorithm ` is fixed, such as `phone like ‘%<last four digits of mobile phone number>’`， it will do. but what if `company_name like '%sphere%'`? although, I think it  works for some fixed fuzzyAlgorithm.
And another way, I think we can write db function in java, decrpt and do `like`, but I know Oracle and PG support java function, but My sql doesn'nt.

[2022-08-23 06:34] xinglijun1973 commented on #20435
@cheese8 if `fuzzyAlgorithm ` is fixed, such as `phone like ‘%<last four digits of mobile phone number>’`，and `fuzzyColumn` stores last four digits of mobile phone number,  thus it will do. but what if `company_name like '%sphere%'`? although, I think it  works for some fixed fuzzyAlgorithm.
And another way, I think we can write db function in java, decrpt and do `like`, but I know Oracle and PG s

[2022-08-23 06:39] #20031 closed

[2022-08-23 06:44] RaigorJiang commented on #18811
Completed.

[2022-08-23 06:44] #18811 closed

[2022-08-23 07:04] huangconghe opened #20449 "shrdingsphere-sacling data Migration Issues"
Now our project is changing from single table to sub-database and sub-table, I would like to know if shardingsphere-scaling supports data migration from single table to sub-database and sub-table, is there any demo for reference, thank you.

[2022-08-23 07:32] #20373 closed

[2022-08-23 07:39] strongduanmu commented on #19937
Hi @boyjoy1127, Could we finish this issue in 5.1.3?

[2022-08-23 08:07] FlyingZC opened #20452 "Can't add resouce in read write splitting rule by DistSQL"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
Can add resource successful in read write splitting rule.

### Actual behavior
Report error.
[code]

### Reason analyze (If you can)
We needn't check the write data source name when add resource.

### Steps to reproduce the

[2022-08-23 08:55] zjcnb commented on #17092
Thank you for your reply, i will try.

[2022-08-23 08:55] #17092 closed

[2022-08-23 08:56] zjcnb commented on #19714
Yeah, i think so. i think we can finish it in next milestone.

[2022-08-23 08:57] RaigorJiang opened #20457 "Remove the restriction that the Authority Rule must be configured"
Hi community,

Since we have DistSQL, users can use Proxy without configuring any database.

However, when a user wants to experience Proxy, he must configure `AUTHORITY` rule in server.yaml, so that it can start successfully.
In fact, ShardingSphere provides `DefaultAuthorityRuleConfigurationBuilder` and `DefaultUser`, which can build a `root` user in the absence of `Authority Rule Configuration`

[2022-08-23 09:03] wsm12138 opened #20458 "NPE: when execute `MIGRATE TABLE source_ds.t_order INTO sharding_db.t_order;` , `select * from table` occur `ERROR 30000 (42000): Unknown exception: null`"
## Bug Report

### Which version of ShardingSphere did you use?

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
*ShardingSphere-Proxy*
### Expected behavior

[code]

### Actual behavior

[code]

### Reason analyze (If you can)
stdout.log
[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[2022-08-23 09:11] azexcy commented on #20458
Please execute `REFRESH TABLE METADATA;` before execute `select count(*) from t_order; `
In subsequent versions we will find ways to optimize this issue

[2022-08-23 09:12] ZZemptypoint opened #20461 "short-circuit query"
## Feature Request

Assuming that our sharding-clomn type is a time-type, when we use the "limit" statement in the SQL, generally means we want it to short-circuit evaluation, Instead of routing it all the way.
For example:
[code]
We want to find the first two pieces of data available before this time, they may be in different tables, but obviously there is no need to route all the tables. Now we

[2022-08-23 09:18] RaigorJiang commented on #19714
@zjcnb OK, I will fix it.

[2022-08-23 09:49] tianhao960 commented on #20393
hi, @tuichenchuxin , I've just post a pr of alter procedure.
ref: https://github.com/apache/shardingsphere/pull/20463

[2022-08-23 10:05] dajjill commented on #20435
The implementation is simple. In the memory, the string that needs to be like matched is fully decomposed according to the length of 1~N, N is the length of the string, and then each decomposed group is encrypted and stored in the memory, so that LIKE can be converted into an equivalent value associated.

[2022-08-23 10:20] xiaoxu9401 opened #20464 "subquery error,when result contains *"
when the query result set contains a.*, and contains  join sub query ,  the resultset is wrong。 final result fields has sub selected field。

such as
 select
            a.*
        from litigation_lawyer a inner join (
            select lawyer_id, max(version) as version from litigation_lawyer_blacklist group by lawyer_id
        ) b on a.lawyer_id = b.lawyer_id and a.version = b.version

result:

[2022-08-23 11:06] huangdx0726 commented on #20346
assign to me

[2022-08-23 11:10] huangdx0726 commented on #20347
assign to me

[2022-08-23 11:15] strongduanmu commented on #17619
Hi @terrymanu @complone , could we finish this issue in `5.1.3`?

[2022-08-23 11:16] strongduanmu commented on #17767
Hi @zjcnb , could we finish this issue in `5.1.3`?

[2022-08-23 11:16] strongduanmu commented on #18405
Hi @zjcnb , could we finish this issue in `5.1.3`?

[2022-08-23 11:17] strongduanmu commented on #18747
Hi @menghaoranss , could we finish this issue in `5.1.3`?

[2022-08-23 11:17] strongduanmu commented on #18914
Hi @zjcnb  , could we finish this issue in `5.1.3`?

[2022-08-23 11:18] strongduanmu commented on #18972
Hi @zjcnb , could we finish this issue in `5.1.3`?

[2022-08-23 11:19] strongduanmu commented on #18998
Hi @soulasuna  , could we finish this issue in `5.1.3`?

[2022-08-23 11:19] strongduanmu commented on #19099
Hi @zjcnb , could we finish this issue in `5.1.3`?

[2022-08-23 11:20] strongduanmu commented on #19262
Hi @mayank-aggarwal28  , could we finish this issue in `5.1.3`?

[2022-08-23 11:20] strongduanmu commented on #19421
Hi @sandynz , could we finish this issue in `5.1.3`?

[2022-08-23 11:21] strongduanmu commented on #19612
Hi @taojintianxia , could we finish this issue in `5.1.3`?

[2022-08-23 11:21] strongduanmu commented on #19615
Hi @taojintianxia , could we finish this issue in `5.1.3`?

[2022-08-23 11:22] strongduanmu commented on #19626
Hi @taojintianxia , could we finish this issue in `5.1.3`?

[2022-08-23 11:22] strongduanmu commented on #19691
Hi @tuichenchuxin , could we finish this issue in `5.1.3`?

[2022-08-23 11:22] strongduanmu commented on #19911
Hi @shining-stars-lk , could we finish this issue in `5.1.3`?

[2022-08-23 11:23] strongduanmu commented on #19912
Hi @shining-stars-lk , could we finish this issue in `5.1.3`?

[2022-08-23 11:25] strongduanmu commented on #20005
Hi @tuichenchuxin , could we finish this issue in `5.1.3`?

[2022-08-23 11:25] strongduanmu commented on #20331
Hi @tuichenchuxin  , could we finish this issue in `5.1.3`?

[2022-08-23 11:26] sandynz commented on #19421
There might be few new PR, I'll close it now.

[2022-08-23 11:26] #19421 closed

[2022-08-23 11:26] strongduanmu commented on #20332
Hi @tuichenchuxin , could we finish this issue in `5.1.3`?

[2022-08-23 11:26] strongduanmu commented on #20334
Hi @huangdx0726 , could we finish this issue in `5.1.3`?

[2022-08-23 11:27] zjcnb commented on #18421
No, i will remove it to next milestone.

[2022-08-23 11:29] TeslaCN commented on #20445
Since the shardingsphere-charts has been moved to https://github.com/apache/shardingsphere-on-cloud.
PR: https://github.com/apache/shardingsphere-on-cloud/pull/41
I'm going to update the release guide of ShardingSphere and remove the shardingsphere-charts in this repository.

[2022-08-23 11:31] zjcnb commented on #15488
This issue need confirm. I think we can discuss whether it is necessary.

[2022-08-23 11:32] zjcnb commented on #19099
I can't reproduce it. So, i will close it.

[2022-08-23 11:32] #19099 closed

[2022-08-23 11:59] #20346 closed

[2022-08-23 12:00] strongduanmu commented on #20346
@huangdx0726 Welcome, I just assign this issue to you.

[2022-08-23 12:54] huangdx0726 commented on #20334
Ok， I'll fix tonight.

[2022-08-24 00:26] #20334 closed

[2022-08-24 00:34] #20445 closed

[2022-08-24 00:55] #20372 closed

[2022-08-24 00:56] strongduanmu commented on #20372
@moukthika777 Can you comment on this issue? I will assign it to you.

[2022-08-24 01:00] strongduanmu commented on #20393
Fixed by https://github.com/apache/shardingsphere/pull/20463.

[2022-08-24 01:00] #20393 closed

[2022-08-24 01:07] #20005 closed

[2022-08-24 01:52] xiaoxu9401 commented on #20464
error msg :
### Cause: java.sql.SQLException: Column index out of range.
; Column index out of range.; nested exception is java.sql.SQLException: Column index out of range.

 protected Field **getField**(int columnIndex) throws SQLException {
        if ((columnIndex < 1) || (columnIndex > this.fields.length)) {
            throw SQLError.createSQLException(Messages.getString("ResultSetMetaData.46

[2022-08-24 01:59] moukthika777 commented on #20372
@strongduanmu Can you assign this to me

[2022-08-24 03:27] asasas234 commented on #16103
I want to try this work

[2022-08-24 03:53] wsm12138 opened #20476 "Can we provide some DistSQL like `diff metadata;` to show difference of metadata between memory and zk."
## Feature Request

### Is your feature request related to a problem?
no
### Describe the feature you would like.
In some case,we found metadata in Proxy have difference with metadata in ZK.
So,can we provide some DistSQL like `diff metadata;` to show difference  of metadata between memory and zk.

[2022-08-24 04:01] lhyundeadsoul commented on #16103
Sorry, @asasas234  I am already working on this, and I will submit PR soon. I am glad to invite you to give me a review. Thx.

[2022-08-24 04:03] zjcnb opened #20477 "Consider refactoring table metadata loading and persistence logic"
Hi community,

I think the table metadata persistence and load has some problem. `ShardingSphere` is a distributed database, so we cannot go to the curd governance center based on the local table loading. So, we are plan to split three scenes.

First scenes : After the local and governance center are compared, the persistent table is sent to the governance center.

[code]

Second scenes: Local dir

[2022-08-24 04:59] RaigorJiang opened #20478 "Remove `COUNT DATABASE RULES`"
Related to  #18583

`COUNT INSTANCE RULE` has been split into
- `COUNT SINGLE_TABLE RULE`,
- `COUNT SHARDING RULE` and many more

Then `COUNT DATABASE RULES` should also be removed.
The related classes are `CountDatabaseRulesStatement`, `DatabaseRulesCountResultSet` and corresponding `g4` and `visitor`.

[2022-08-24 05:11] sunkai-cai commented on #20478
please assign to me

[2022-08-24 05:27] wsm12138 commented on #20458
After the `check migration ${job id};` performs data consistency verification, there may be increments during the `stop migration ${job id};`. This leads to inconsistency between source & target data. At present, migrat cannot limit the writing on the source side, so the whole process is controlled by the user , which is easy to cause data inconsistency.

[2022-08-24 06:35] TeslaCN commented on #20449
What you mentioned in issue is just a very basic function of ShardingSphere-Scaling. You may refer to https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/scaling/

[2022-08-24 06:48] wsm12138 commented on #20458
I have another question.
I don't execute `refresh table metadata;`. When execute select count(*) from table during MIGRATE;execute select * from table during MIGRATE, `select * from table ` success,select count(*) from table have error.
<img width="803" alt="image" src="https://user-images.githubusercontent.com/86462784/186349752-2defef7f-cfb4-4ea9-9cdb-d374e78df3af.png">

![image](https://user-im

[2022-08-24 06:56] #20299 closed

[2022-08-24 07:09] #20332 closed

[2022-08-24 07:27] #20414 closed

[2022-08-24 07:45] #20297 closed

[2022-08-24 08:46] #20331 closed

[2022-08-24 09:10] MrCong233 opened #20490 "Consult the logic about shardingsphere updating metadata"
## Question

## Precondition

I am developing global logical clock(GLT) feature of openGauss distributed transaction  based on **shardingsphere + openGauss + Redis**.

Its basic principle is to use Redis to save the latest global CSN of distributed transactions, and send the global CSN to openGauss through shardingsphere when a transaction is committed or needs to judge the visibility of distribut

[2022-08-24 09:12] wsm12138 opened #20491 "Sometimes `schema` in proxy case sensitive,sometimes `schema` in proxy not case sensitive？"
## Bug Report

### Which version of ShardingSphere did you use?

[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Proxy handle `schema` have same strategy.

### Actual behavior
Proxy handle `schema` have different strategy.

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute,

[2022-08-24 09:13] wsm12138 commented on #20491
@zjcnb  @strongduanmu  plz have a look ~

[2022-08-24 09:17] #20256 closed

[2022-08-24 09:19] wsm12138 commented on #20491
execute `drop table SYSTEM.acmg_t_cust_info_base;`  SQL sucess, but zk still have that table.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/86462784/186380916-e503916b-f60a-4bc7-8ad7-0a1c9d623940.png">

<img width="1208" alt="image" src="https://user-images.githubusercontent.com/86462784/186380978-3a572cf5-a0eb-4388-b9d4-f9ebd7af92ec.png">

[2022-08-24 09:30] wsm12138 commented on #20491
1. drop schema system;  —— it should't  sucess,because we can find table `acm` in zk
2. drop schema SYSTEM; —— it should't ERROR,because we can find `SYSTEM`  in zk
3.
[code]
Why have NPE?
<img width="398" alt="image" src="https://user-images.githubusercontent.com/86462784/186383202-e4d9ce64-14a2-4497-9c3c-d1f0d458e597.png">

<img width="1127" alt="image" src="https://user-images.githubusercontent

[2022-08-24 09:54] #20449 closed

[2022-08-24 09:54] huangconghe commented on #20449
thanks

[2022-08-24 11:27] strongduanmu commented on #20491
@wsm12138 Thank you for your feedback, I will investigate this issue.

[2022-08-24 14:00] pengfeis opened #20499 "how to execute raw mybatis xml sql statement without sharding rout"
I faced an tricky error  "java.sql.SQLException: Statement parameter 1 not set " when execute an mapper sql statement like
[code]
After some debug and research I found the paramters missing after sharding.
My question is how execute raw mybatis xml sql statement without sharding rout, Any idea for shardig jdbc config ban the sharding route?

[2022-08-25 00:23] strongduanmu commented on #20499
@pengfeis Please modify this issue according to bug template.

[2022-08-25 02:31] soulasuna commented on #20413
Done

[2022-08-25 02:31] #20413 closed

[2022-08-25 02:32] soulasuna commented on #20391
Done

[2022-08-25 02:32] #20391 closed

[2022-08-25 02:43] RaigorJiang opened #20502 "Got an exception but `CREATE READWRITE_SPLITTING RULE` success."
## Bug Report
### Which version of ShardingSphere did you use?
master 6cf1f1e8352d7be5c501a5626ef44e708a5b0d2b

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
`CREATE READWRITE_SPLITTING RULE` failed.

### Actual behavior
Got an exception but `CREATE READWRITE_SPLITTING RULE` success.

### Steps to reproduce the behavior, suc

[2022-08-25 04:10] xinglijun1973 commented on #20435
I think fuzzy query of encrypted fields should be pushed down to the database for execution. Create a field  `all single word ciphereColomn,` to encrypt the original text in the order of single word (an English alpha or Chinese character). For example, the original text is `sphere,` encrypt the single word `s, p, h, e, r, e` respectively, and put the encrypted results together. When querying, encr

[2022-08-25 05:16] koala775 commented on #20256
Thank you for replaying.I think I have resolved.I find use db tool does not support well,I use DBeaver to create database.

[2022-08-25 05:25] xiongdamao opened #20506 "support postgresl merge operation ("insert into on conflict update")"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-25 05:56] strongduanmu commented on #20506
Hi @xiongdamao, thank you for your feedback. Can you modify this issue according to bug template.

[2022-08-25 06:12] strongduanmu commented on #20491
When I execute `create schema SYSTEM;`, following exception will occur.

![image](https://user-images.githubusercontent.com/10829171/186588399-bc5ac6e8-2f33-4a04-96cc-3a4dbfa01d28.png)

[2022-08-25 06:31] strongduanmu commented on #20491
Besides, `SHOW SCHEMAS` are not a valid PostgreSQL statement.

[2022-08-25 06:36] roy-500 commented on #15533
How can I solve this problem? I have the same problem

[2022-08-25 06:41] xiongdamao commented on #20506
Hi @strongduanmu , I changed the template of issue from "Feature Request" to "Bug Report"

[2022-08-25 07:20] QiAnXinCodeSafe opened #20509 "There is a vulnerability in MySQL Connector/J 5.1.47,upgrade recommended"
https://github.com/apache/shardingsphere/blob/ee0fadea52ae2f5c983e9eafe96ee7fb84b4426e/pom.xml#L108

CVE-2021-3711 CVE-2020-1967 CVE-2021-3712 CVE-2021-3450 VE-2018-3258

Recommended upgrade version：8.0.29

[2022-08-25 07:26] QiAnXinCodeSafe opened #20510 "There is a vulnerability in Simple Logging Facade for Java (SLF4J) 1.7.7,upgrade recommended"
https://github.com/apache/shardingsphere/blob/ee0fadea52ae2f5c983e9eafe96ee7fb84b4426e/pom.xml#L101

CVE-2018-8088

Recommended upgrade version：1.7.26

[2022-08-25 07:26] strongduanmu commented on #20491
[code]

<img width="764" alt="image" src="https://user-images.githubusercontent.com/10829171/186601473-e11184b6-76b5-4ffd-9b8c-c35de000048b.png">

[code]

<img width="755" alt="image" src="https://user-images.githubusercontent.com/10829171/186601662-aa6a83be-083a-4bc9-b4b1-88114244cdc5.png">

[2022-08-25 07:27] QiAnXinCodeSafe opened #20511 "There is a vulnerability in Netty Project 4.1.73.Final ,upgrade recommended"
https://github.com/apache/shardingsphere/blob/ee0fadea52ae2f5c983e9eafe96ee7fb84b4426e/pom.xml#L78

CVE-2022-24823

Recommended upgrade version：4.1.77.Final

[2022-08-25 07:29] strongduanmu commented on #20491
[code]
<img width="736" alt="image" src="https://user-images.githubusercontent.com/10829171/186602575-4ced01ae-df97-4494-9e52-5224e28c8488.png">

[2022-08-25 07:30] strongduanmu commented on #20491
[code]

<img width="763" alt="image" src="https://user-images.githubusercontent.com/10829171/186602819-c0c88e4c-a75c-4b32-bcbc-0c24e66e8754.png">

[2022-08-25 07:40] wsm12138 commented on #20491
I think you are right ,when proxy is in not case sensitive mode.

[2022-08-25 07:54] #20491 closed

[2022-08-25 08:21] Qianyi951015 opened #20513 "Cannot add resources after discovery rules created"
## Bug Report

### Which version of ShardingSphere did you use?
master 6cf1f1e8352d7be5c501a5626ef44e708a5b0d2b
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
 ADD RESOURCE success.
### Actual behavior
Got an exception and ADD RESOURCE failed.

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configu

[2022-08-25 08:50] strongduanmu commented on #20506
@xiongdamao Thank you, can you provide the configuration of tb_user?

[2022-08-25 08:51] strongduanmu commented on #20506
@xiongdamao Thank you, can you provide the configuration of tb_user?

[2022-08-25 10:52] strongduanmu commented on #17767
I will move this issue to `5.2.1`.

[2022-08-25 12:14] linghengqian commented on #20509
- Duplicate with https://github.com/apache/shardingsphere/pull/15296.
- `mysql-connector-java:8.0.x` appears to break compatibility for certain syntax trees in ShardingSphere.

[2022-08-25 12:30] sandynz opened #20525 "Remove ScalingEntry and related classes"
We've decoupled all of classes in ScalingEntry as SPI, so we could remove ScalingEntry and related classes now.

Possible changes:
- Remove ScalingEntry, ScalingEntry SPI impl and SPI registration in WEB-INF.services
- Remove ScalingEntryFactory
- Remove related unit test

[2022-08-25 15:28] powerbear1994 opened #20529 "About TNS in OracleDataSourceMetaData Class"
private final Pattern connectDescriptorUrlPattern = Pattern.compile("jdbc:oracle:(thin|oci|kprb):@[(\\w\\s=)]+HOST\\s*=\\s*([\\w\\-\\.]+).*PORT\\s**=\\s(\\d+).*SERVICE_NAME\\s**=\\s*(\\w+)\\)");

i think it should be

private final Pattern connectDescriptorUrlPattern = Pattern.compile("jdbc:oracle:(thin|oci|kprb):@[(\\w\\s=)]+HOST\\s*=\\s*([\\w\\-\\.]+).*PORT\\s**=\\s*(\\d+).*SERVICE_NAME\\s**=\\s

[2022-08-26 00:57] TeslaCN opened #20531 "ExecuteProcessEngine increases about 7% unnecessary CPU overhead for ShardingSphere-JDBC"
## Bug Report

### Which version of ShardingSphere did you use?

master - 6e603add90c02a81726375be49ddf5f5e1760e31

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC standalone

### Expected behavior

Light overhead.

### Actual behavior

The total overhead of ExecuteProcessEngine is about 7%. But this overhead is useless for standalone ShardingSphere

[2022-08-26 01:59] TeslaCN commented on #19612
Tests are not in release scope. We could remove the milestone.

[2022-08-26 02:14] FileNotFoundExcetion opened #20532 "NullPointException"
select count(0) from (SELECT IfNUll(sum(ams.order_amount), 0) totalOrderAmount,                ifNUll(sum(ams.order_count), 0)  totalOrderCount,                ams.merchant_id  merchantId         FROM posx_direct_agent_mer_statistics ams         where          ams.agent_no_tree like CONCAT ('100209,102639,102916','%')         and ams.trade_date between ? and ?                              group by

[2022-08-26 02:29] strongduanmu commented on #20532
Hi @FileNotFoundExcetion, thank you for your feedback. ShardingSphere can not support subquery now.

[2022-08-26 02:30] FileNotFoundExcetion commented on #20532
you mean support  （SELECT IfNUll(sum(ams.order_amount), 0) totalOrderAmount, ifNUll(sum(ams.order_count), 0) totalOrderCount, ams.merchant_id merchantId FROM posx_direct_agent_mer_statistics ams where ams.agent_no_tree like CONCAT ('100209,102639,102916','%') and ams.trade_date between ? and ? group by ams.merchant_id order by ams.order_amount desc）？

[2022-08-26 02:30] strongduanmu commented on #19912
I will move this issue to `5.2.1`.

[2022-08-26 02:31] strongduanmu commented on #20532
I think ShardingSphere can support `SELECT sum(ams.order_amount) totalOrderAmount, sum(ams.order_count) totalOrderCount, ams.merchant_id merchantId FROM posx_direct_agent_mer_statistics ams where ams.agent_no_tree like CONCAT ('100209,102639,102916','%') and ams.trade_date between ? and ? group by ams.merchant_id order by ams.order_amount desc`

[2022-08-26 02:33] FileNotFoundExcetion commented on #20532
thanks for your fast explaining...

[2022-08-26 02:35] #20532 closed

[2022-08-26 02:47] strongduanmu commented on #18747
I will move this issue to `5.2.1`.

[2022-08-26 02:48] strongduanmu commented on #18998
I will move this issue to `5.2.1`.

[2022-08-26 02:48] strongduanmu commented on #19262
I will move this issue to `5.2.1`.

[2022-08-26 02:49] strongduanmu commented on #19911
I will move this issue to `5.2.1`.

[2022-08-26 02:49] strongduanmu commented on #19615
I will move this issue to `5.2.1`.

[2022-08-26 02:49] strongduanmu commented on #19626
I will move this issue to `5.2.1`.

[2022-08-26 02:53] TeslaCN commented on #20529
Hi @powerbear1994
Are you interested in fixing this issue?

[2022-08-26 03:44] TeslaCN commented on #20509
MySQL Connector is not included in distribution of ShardingSphere.

[2022-08-26 03:44] #20509 closed

[2022-08-26 03:47] TeslaCN commented on #20511
`netty-codec-http` in introduced by vertx-core. But we didn't use any HTTP function from Vert.x or Netty. This could be upgraded later.

[2022-08-26 03:47] #20511 closed

[2022-08-26 06:29] 1260328762 opened #20551 "How do I configure multiple types of databases in one project"
## How do I configure multiple types of databases in one project

sharding.sphere.version: 5.1.2
configuration file:
[code]

In this project, I configured two type of database，MySQL and PostgreSQL，an error occurred when I tried to run this project
here is the stack trace
[code]

It looks like I can not configure different type of databases. Is my configuration incorrect or ShardingJDBC don't suppo

[2022-08-26 06:31] zhaojinchao95 opened #20552 "Consider remove overwrite parameter of mode"
Hi community,

Now, ShardingSphere mode is divided into `Standalone` mode and `Cluster` mode. We will adjustment load and persistent rules and datasource logic. Load rules, datasources、props、tables if governance center already exists they. Similarly local configuration are persisted to the governance center if the governance center does not exist.

We can also create or alter our rules, data sourc

[2022-08-26 06:50] #20477 closed

[2022-08-26 07:10] FileNotFoundExcetion opened #20555 "NullPointException"
DB type:MySQL

when i use limit paging，it would throw NPE exception.

Caused by: java.lang.NullPointerException
	at org.apache.shardingsphere.sharding.merge.dql.groupby.GroupByMemoryMergedResult.getValueCaseSensitiveFromTables(GroupByMemoryMergedResult.java:135)
	at org.apache.shardingsphere.sharding.merge.dql.groupby.GroupByMemoryMergedResult.getValueCaseSensitive(GroupByMemoryMergedResult.java:1

[2022-08-26 07:52] bojiw opened #20559 "Error Msg: This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'"
execute sql DELETE FROM groups WHERE `id` = 1368 error
message：Error Msg: This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'; Sql: DELETE FROM groups WHERE `id` = 1368

sql is executable in mysql

using sharding-proxy 5.1.2

[2022-08-26 07:59] soulasuna commented on #18998
@strongduanmu I am sorry, this has been done, I just forgot to close it

[2022-08-26 07:59] #18998 closed

[2022-08-26 07:59] xiongdamao commented on #20506
@strongduanmu add the configuration of tb_user to https://github.com/xiongdamao/test-sharding/tree/master/src/main/resources

[2022-08-26 08:00] #18996 closed

[2022-08-26 08:02] soulasuna commented on #18991
The `isLocked` can not remove in cluster mode.

[2022-08-26 08:02] #18991 closed

[2022-08-26 09:38] #19513 closed

[2022-08-26 09:55] lhyundeadsoul commented on #16086
@strongduanmu About this issue, do you mean we should continue to implement `SQLServer/Oracle/openGauss/Postgresql` metadataloader like `mysql`?

[2022-08-26 11:14] irwinai opened #20568 "OffsetDateTime type in model got ClassCastException"
### Which version of ShardingSphere did you use?

5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

when I use the OffsetDateTime in model, I hope that query can works

[code]

### Actual behavior

Got exception:

[code]

### Reason analyze (If you can)

ShardingSphereResultSet handle the type

[code]

ResultSetUtil also

[2022-08-26 12:58] huangdx0726 commented on #20525
assign to me

[2022-08-26 13:38] sandynz commented on #20525
Thanks. Just assigned it to you.

[2022-08-26 14:33] #16103 closed

[2022-08-26 22:41] strongduanmu commented on #16086
@lhyundeadsoul Yes, are you interested in completing it?

[2022-08-27 01:51] #20525 closed

[2022-08-27 05:56] lushaorong commented on #15712
I want to try this work

[2022-08-27 16:08] terrymanu commented on #20328
Revert by #20603

[2022-08-27 16:22] #15717 closed

[2022-08-28 07:15] mmcLine opened #20614 "Routing problem in the new transcation(propagation = Propagation.REQUIRES_NEW)"
### Which version of ShardingSphere did you use?

4.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Read the data immediately after writing, expecting to query from the master database
### Actual behavior

query from the slave database

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configura

[2022-08-28 08:31] strongduanmu commented on #20614
Hi @mmcLine 4.1.0 is too old, can you try the latest 5.1.2?

[2022-08-28 09:37] linghengqian commented on #20328
https://github.com/apache/shardingsphere/pull/20605 has been merged, I will add the documentation later.  I am working on this issue.

[2022-08-28 12:16] justbk2015 opened #20619 "support MD5 authentication for proxy frontend."
## Feature Request

**For English only**, other languages will not accept.
I want use pg driver to connect ss-proxy, but in backend database type is openGauss.

### Is your feature request related to a problem?
No.

### Describe the feature you would like.
the reason is pg driver default authentication is  MD5, but when backend database type is openGauss, only support SHA256.
I want configure ss-p

[2022-08-28 14:15] tianhao960 commented on #20559
I would like to try this.

[2022-08-28 15:31] mmcLine commented on #20614
I tried the latest version, but it's still wrong

[2022-08-29 00:54] strongduanmu commented on #20559
@tianhao960 Welcome, I just assign this issue to you.

[2022-08-29 00:57] strongduanmu commented on #20328
Hi @linghengqian, can we finish this issue in `5.1.3`?

[2022-08-29 00:57] strongduanmu commented on #20036
Hi @terrymanu , can we finish this issue in `5.1.3`?

[2022-08-29 00:58] strongduanmu commented on #20513
Hi @Qianyi951015 @RaigorJiang , can we finish this issue in `5.1.3`?

[2022-08-29 00:59] strongduanmu commented on #20531
Hi @TeslaCN, can we close this issue now?

[2022-08-29 01:05] TeslaCN commented on #20531
I tested the ShardingSphere-JDBC + openGauss, the overhead was eliminated.

[2022-08-29 01:05] #20531 closed

[2022-08-29 01:25] strongduanmu commented on #20513
I will move this issue to `5.2.1`.

[2022-08-29 01:31] strongduanmu commented on #20036
I will move this issue to `5.2.1`.

[2022-08-29 02:09] linghengqian commented on #20328
I don't have time to deal with it these few days and can move out of the 5.1.3 milestone.

[2022-08-29 02:27] xinglijun1973 commented on #17477
@pcyan  It seems that the table alias `t2` is missing from the above statement. I use the following statement to execute correctly:
`select *
  from (select t1."num", rownum as "rownum_"
          from (select 'a' as "num" from dual) t1) t2
 where t2."rownum_" > 0
   and t2."rownum_" <= 10
`

[2022-08-29 02:29] RaigorJiang commented on #20513
OK, thank you @strongduanmu

[2022-08-29 02:36] terrymanu commented on #20036
Ok, please move it to next milestone

[2022-08-29 03:16] xinglijun1973 commented on #13814
hi,  @strongduanmu  my idea:
1) shardingsphere executes the sub query, and It is better to cache the results to avoid sub query every time；
2) save the result to db's temporary table, and better to let db cache the temporary data ;
3) rewrite the SQL to change the above `sub query` into the `temporary table` and push it to the database for execution

[2022-08-29 06:17] WSharkCoder commented on #326
同问faq文档

[2022-08-29 06:22] WSharkCoder commented on #326
FAQ文档找到了！[中文FAQ文档](https://shardingsphere.apache.org/document/current/cn/faq/)

[2022-08-29 06:29] 13145512239 commented on #20303
Hi，I try 5.1.2, and OracleDataSourceMetaData can not pass this url, but 5.0.0 is ok ? can you fix this bug ?

[2022-08-29 06:57] xinglijun1973 commented on #13814
There should be the same problem with `insert .. ( select ..  group by ..)` if the sub query with sharding table, because it's wrong to `group` on a single node. And it should be true for all databases,not only oracle.

[2022-08-29 07:09] taojintianxia commented on #20404
fixed as an example in #20628

[2022-08-29 07:11] taojintianxia commented on #19626
the original design has been changed. this should be closed.

[2022-08-29 07:12] #20253 closed

[2022-08-29 08:09] strongduanmu commented on #20328
Thank you for your feedback, I will move this issue to `5.2.1`.

[2022-08-29 08:17] wsm12138 opened #20630 "Can we provide a DistSQL like `REFRESH GlOBAL TABLE METADATA;` to make refresh table metadata easier ?"
## Feature Request

### Is your feature request related to a problem?
No
### Describe the feature you would like.

Now `DistSQL` only support refresh table metadata in some logic database.
When user create table in actual DB,we must execute `refresh table metadata *` in every logic database.
It's really difficult,when i have thousands of logic database need to refresh.
If we can provide a DistSQL

[2022-08-29 09:53] huangconghe opened #20632 "Does sharding JDBC support insert into select"
Does sharding JDBC support insert into select？
Not through my custom sharding-Algorithm, such as actual-data-nodes: ds0.order_$->{['tr','fs']}_$->{0..9},
Actual stored table is order_tr_0,do not throw exception.

[2022-08-29 10:02] nanzheng commented on #20435
Considering the absolute security of the encryption algorithm, please do not use unverified custom encryption algorithm, please use a secure encryption suite such as (bc), and this encryption feature should be FPE algorithm. rather than homomorphic encryption.

[2022-08-29 10:19] strongduanmu commented on #20632
Now, ShardingSphere can support insert into select for binding tables and single tables, you can try the latest version.

[2022-08-29 10:20] tianhao960 commented on #20559
hello, @bojiw , which version of mysql did you use? I've try the sql it can not run at mysql 8.0 . and the word "groups" is a reserved keyword of mysql from version 8.0; and ShardingSphere is treated "groups" as a reserved keyword like mysql 8.0, so can not use groups as a table name.

and the temp work around is add ` around  groups
`DELETE FROM `groups` WHERE id = 1368;`

[2022-08-29 10:37] 13145512239 opened #20635 "Configuring the database of oracle"
jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.12)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.22)(PORT = 1521))(LOAD_BALANCE = yes)(FAILOVER = ON)(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = rac)(FAILOVER_MODE=(TYPE = SELECT)(METHOD = BASIC)(RETIRES = 20)(DELAY = 15))))

shardingsphere 5.0.0 can pass this url, but 5.1.2 can not ,i think this is a bu

[2022-08-29 10:37] #20291 closed

[2022-08-29 10:38] #20303 closed

[2022-08-29 10:46] azexcy opened #20636 "Migration of two tables at the same time one of the job prepare failed"
## Bug Report

migration MySQL  tables
[code]

sometimes, the exception occur.
[code]

### Which version of ShardingSphere did you use?

master 309c34fb64647c584bddfdc3cac9b0ec25853b85

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

No exception thrown

### Actual behavior

Exception thrown and prepare failed.

### Reason a

[2022-08-29 10:46] azexcy commented on #20636
I will follow this

[2022-08-29 10:54] strongduanmu commented on #20635
Thank you for your feedback, we will investigate this problem.

[2022-08-29 11:19] #20636 closed

[2022-08-29 13:19] huangconghe opened #20642 "Invalid binding table configuration in ShardingRuleConfiguration"
version sharding-jdbc 5.1.2
my yml
rules:
      sharding:
        tables:
          t_order_temp:
            actual-data-nodes: ds$->{0..1}.t_order_temp
            database-strategy:
              standard:
                sharding-column: user_id
                sharding-algorithm-name: db-inline
          t_order:
            actual-data-nodes: ds$->{0..1}.t_order_$->{0..1}
            databas

[2022-08-29 13:19] #20642 closed

[2022-08-29 13:19] huangconghe commented on #20642
格式错误

[2022-08-29 13:20] huangconghe opened #20643 "Invalid binding table configuration in ShardingRuleConfiguration"
my yml

![image](https://user-images.githubusercontent.com/35585036/187210701-4d3da1d0-fc10-4210-bd9f-a044c0889cc7.png)

[2022-08-29 13:22] huangconghe commented on #20643
this yml 5.0.0 is ok,why 5.1.2 not ok

[2022-08-29 14:14] huangconghe commented on #20643
It may be caused by inconsistent sharding-algorithms rules, I will try it tomorrow

[2022-08-29 15:20] terrymanu commented on #20555
Please change the title for search friendly

[2022-08-30 01:23] 13145512239 commented on #20635
ok, what are you going to do about it ? Is it in version 5.1.2 or next version ?

[2022-08-30 01:24] 13145512239 commented on #20635
ok, what are you going to do about it ? Is it in version 5.1.2 or next version ?

[2022-08-30 01:25] 13145512239 commented on #20635
ok, what are you going to do about it ? Is it in version 5.1.2 or next version ?

[2022-08-30 02:05] lhyundeadsoul commented on #20026
I am trying to add max_size option to createtablespace in openGause syntax. But I am not very familiar with antlr4.
So this PR is still WIP.
Is there any quick tutorial on antlr4 development in shardingsphere? @strongduanmu @RaigorJiang

[2022-08-30 02:45] lhyundeadsoul commented on #20026
Here it is
https://shardingsphere.apache.org/document/current/cn/test-manual/module-test/parser-test/

[2022-08-30 03:13] #20568 closed

[2022-08-30 04:09] Xiao-A-Zhai opened #20649 "ARJUNA016111: The node identifier cannot be null"
![image](https://user-images.githubusercontent.com/84503834/187378635-4cec41c9-2e3d-4877-8960-42ae9492821c.png)
![image](https://user-images.githubusercontent.com/84503834/187378716-b76c6c6c-5d74-46fd-9267-3c930afe993c.png)

I according to your document at https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/rules/transact  An exception was reported in

[2022-08-30 05:46] Xiao-A-Zhai commented on #20649
![image](https://user-images.githubusercontent.com/84503834/187358961-47854854-82f2-4bf2-ac58-2657433b0254.png)
我在代码里也没有找到相关项的配置。。。

[2022-08-30 09:40] lirulei opened #20653 "how to config multi databaseName"

[2022-08-30 09:54] tangjunhu007 commented on #20653
in proxy mode?

[2022-08-30 10:40] huangconghe opened #20659 "Can only one write-data-source-name of readwrite-splitting be configured?"
Can only one write-data-source-name of readwrite-splitting be configured? write-data-source-name have multiple db
![image](https://user-images.githubusercontent.com/35585036/187416468-1712c324-c2b1-4304-a720-55bb0b26e9b9.png)

[2022-08-30 13:15] huangconghe commented on #20659
Please see the screenshot below：
![image](https://user-images.githubusercontent.com/35585036/187445932-a37e0846-844b-4806-a8a5-da2c9de6852c.png)

Startup exception：Factory method 'shardingSphereDataSource' threw exception; nested exception is java.lang.NullPointerException
What should be the correct configuration？

[2022-08-30 13:51] huangconghe commented on #20659
is my probles, i do not config ds2,ds3 to shardingsphere.datasource.names

[2022-08-30 13:51] #20659 closed

[2022-08-30 18:55] abhinav-koppula commented on #19911
Hi @strongduanmu @agentart
It looks like there has been no activity on this issue for quite some time.
I have created a PR - https://github.com/apache/shardingsphere/pull/20665 for the same.
It would be great if one of you can review this.

[2022-08-31 02:46] TeslaCN commented on #20653
Just configure multiple config-*.yaml files like the following

[code]

You may refer to:
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/startup/bin/

[2022-08-31 03:03] huazx opened #20666 "Use @Aspect can cause start so slow"
using ShardingSphere JDBC 5.1.2
when i use @Aspect, the spring boot program start so slow

`
@Aspect
@Component
public class AspectjLog {
    @Pointcut("execution(* org.apache.shardingsphere.example.core.mybatis.service.*.*(..))")
    public void chtrollerPict(){
    }
    @Around("chtrollerPict()")
    public Object around(ProceedingJoinPoint point) throws Throwable {
        return point.proceed

[2022-08-31 03:35] TeslaCN opened #20667 "ShardingSphere-JDBC throws exceptions which is not SQLException (or its sub-class)"
## Refactor

### Which version of ShardingSphere did you use?

master - 38ea308a30975a44ff277ade5ef16b8de67c7e29

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

JDBC methods should throw SQLException.

### Actual behavior

Some throw non-SQLException.

https://github.com/apache/shardingsphere/blob/38ea308a30975a44ff277ade5ef

[2022-08-31 05:38] TeslaCN commented on #17939
This issue is not finished yet.

[2022-08-31 05:46] #20667 closed

[2022-08-31 06:23] TeslaCN opened #20672 "Avoid creating columnLabelAndIndexMap in ShardingSphereResultSet when using prepared statement"
## Optimization

master - c4bc33d949d5ba3130f40ff7ad937be037b9187b

Creating `columnLabelAndIndexMap` every time for a prepared statement is unnecessary.

![image](https://user-images.githubusercontent.com/20503072/187608083-6236564e-615e-43a8-83a0-f3dca20e9d29.png)

[2022-08-31 06:59] strongduanmu commented on #20188
Welcome @tianhao960, I just assign this issue to you.

[2022-08-31 07:08] #18455 closed

[2022-08-31 07:34] #20672 closed

[2022-08-31 08:27] abhinav-koppula commented on #19262
Hi @terrymanu
Since the issue hasn't been worked upon since quite some time, I have taken a stab at it.
I have created PR - https://github.com/apache/shardingsphere/pull/20676. Can you please review it?

[2022-08-31 08:41] lhyundeadsoul commented on #19755
@strongduanmu I am trying to solve this
But I am not sure if I find the right code location, especially in the second scenario(The second is that the sharding algorithm logic is abnormal)
I hope you can help me to review this PR when you are free. Thx a lot.

[2022-08-31 08:55] xiongmaodeguxiang opened #20679 "Using the Snowflake algorithm + HashMod has problems when the same shard fields of the table are created by BindingTableGroups"
using shardingsphere-jdbc 5.0.0

hashShardingValue in HashModShardingAlgorithm like this
[code]
When using snowflake algorithm, shardingValue is a Long type, the same Long value will be different hashCode, so when using BindingTableGroups, the associated table query will not be able to query data

[2022-08-31 08:58] xiongmaodeguxiang commented on #20679
Configuration is as follows：

`ShardingRuleConfiguration ruleConfiguration = new ShardingRuleConfiguration();
        ruleConfiguration.getBindingTableGroups().add("t_order,t_order_item");
        ShardingTableRuleConfiguration tableRuleConfiguration = new ShardingTableRuleConfiguration("t_user","ds$->{0..1}.t_user_$->{0..3}");
        tableRuleConfiguration.setDatabaseShardingStrategy(new Standar

[2022-08-31 09:00] xiongmaodeguxiang commented on #20679
Configuration is as follows：

`ShardingRuleConfiguration ruleConfiguration = new ShardingRuleConfiguration();
        ruleConfiguration.getBindingTableGroups().add("t_order,t_order_item");
        ShardingTableRuleConfiguration tableRuleConfiguration = new ShardingTableRuleConfiguration("t_user","ds$->{0..1}.t_user_$->{0..3}");
        tableRuleConfiguration.setDatabaseShardingStrategy(new Standar

[2022-08-31 09:02] qudonghui opened #20680 "Broadcasttables is not broadcast to all data sources"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for reproduce this i

[2022-08-31 09:03] zhaojinchao95 opened #20681 "Consider loading view metadata to ShardingSphereSchema"
Hi, community

We are plan to load database view meta data to support #19580

- [x] Loading MySQL view metadata.
- [x] Loading PostgreSQL view metadata.
- [x] Loading openGauss view metadata.
- [x] Loading SQLServer view metadata. @dongzl
- [ ] Loading Oracle view metadata. @chakkk309
- [ ] Loading H2 view metadata. @agentart

[code]

[2022-08-31 09:14] mlycore opened #20684 "Build an AMI for ShardingSphere Proxy"
This is a mirror issue of https://github.com/apache/shardingsphere-on-cloud/issues/49

[2022-08-31 09:16] mlycore opened #20685 "Write a CloudFormation Template using the AMI"
This is a mirror issue of https://github.com/apache/shardingsphere-on-cloud/issues/50

[2022-08-31 09:17] yy2so commented on #20685
Added label

[2022-08-31 09:17] mlycore opened #20686 "Build a Grafana dashboard for ShardingSphere"
This is a mirror issue of https://github.com/apache/shardingsphere-on-cloud/issues/51

[2022-08-31 09:18] mlycore opened #20687 "Given an example of ShardingSphere logs output to CloudWatch Log Group"
This is a mirror issue of https://github.com/apache/shardingsphere-on-cloud/issues/52

[2022-08-31 09:18] mlycore opened #20688 "Given an example of ShardingSphere using CloudWatch Events for Alerting"
This is a mirror issue of https://github.com/apache/shardingsphere-on-cloud/issues/53

[2022-08-31 10:04] qudonghui commented on #20680
I'm in sharding After adding the broadcast table configuration to tables, you can realize full datasource broadcasting
[code]

![image](https://user-images.githubusercontent.com/39752827/187653702-5a9f21f9-12d1-4e7e-8509-0a106b526c67.png)

[2022-08-31 12:23] terrymanu opened #20692 "Use Parameterized test runner to refactor PostgreSQLDialectExceptionMapperTest"

[2022-08-31 14:04] strongduanmu opened #20697 "Optimize the performance consumption of ShardingSphere and Seata to parse SQL repeatedly"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

![image](https://user-images.githubusercontent.com/10829171/187697846-105fe8a2-751f-4fd8-be36-d4affc4d4cfa.png)

At present, ShardingSphere integrates Seata to implement Base transactions, and has achieved good results. But there is still a problem, both ShardingSphere and Seata pa

[2022-08-31 16:02] abhinav-koppula commented on #19912
Hi @terrymanu
Since there was no update on this issue since quite some time, I have taken a stab at it.
I have created a PR https://github.com/apache/shardingsphere/pull/20699. Can you please review?

[2022-08-31 19:03] abhinav-koppula commented on #20692
Hi @terrymanu
I have taken a stab at this issue. Can you please review this PR - [20692](https://github.com/apache/shardingsphere/pull/20700) ?

[2022-08-31 19:28] abhinav-koppula commented on #20529
@TeslaCN - I have created a PR https://github.com/apache/shardingsphere/pull/20701.
Does it fix the issue?

[2022-09-01 01:22] agentart commented on #19912
@abhinav-koppula Please wait to run CI

[2022-09-01 03:19] rehuhu commented on #19242
@ssz-plus can it run when the Preparing is
select t02.id, t02.system_id from test_02.t_wr_readonly t02 where t02.id = 1;

[2022-09-01 05:01] agentart commented on #20681
@zjcnb Hi, I claim the implementation of h2

[2022-09-01 05:05] mlycore opened #20704 "Introduce a new start script for Docker image"
Currently it already provides a start script as

https://github.com/apache/shardingsphere/blob/a704f4a8f5728a46ffd8ca00ba59cfab398715d8/shardingsphere-distribution/shardingsphere-proxy-distribution/src/main/resources/bin/start.sh#L170

using `nohup` and set `JAVA_MEM_OPTS` for container deployment may cause unexpected behaviors, such as the container cannot exit while some fatal error happens, the

[2022-09-01 06:05] zjcnb commented on #20681
Cool.

[2022-09-01 06:19] dongzl commented on #20681
SQLServer

[2022-09-01 06:45] zjcnb commented on #20681
Welcome

[2022-09-01 07:29] strongduanmu opened #20710 "Consider moving infra-federation to the kernel module and refactoring the module structure"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

Currently, the `SQL Federation` feature is located in the `shardingsphere-infra` module, and the positioning of the `shardingsphere-infra` module is infrastructure. From the perspective of feature division, SQL Federation should belong to the kernel feature. Users can configure the

[2022-09-01 07:34] linghengqian commented on #20666
- Could you submit a PR stating the direction of improvement?  👀

[2022-09-01 07:44] abhinav-koppula commented on #18682
@terrymanu - OptimizerContext is now a pojo. Which class are we talking about here?

[2022-09-01 07:52] strongduanmu commented on #18682
This class is currently being refactored, so I will close this issue and welcome to claim other issues from the community.

[2022-09-01 07:52] #18682 closed

[2022-09-01 08:07] mlycore commented on #20704
Please assign this to me

[2022-09-01 08:31] huazx commented on #20666
Adding @ aspect code will prolong startup for more than 30s.
You can try it in shardingsphere-example

[2022-09-01 08:58] linghengqian commented on #20666
- Are you referring to the master branch or the 5.1.2 tag?  Because https://github.com/apache/shardingsphere/issues/18653 made adjustments to jooq, the actual performance of the master branch and the tag of 5.1.2 deviates.

[2022-09-01 09:23] langlang1212 commented on #7998
sorry,I had the same problem, how to solve is?please
Caused by: java.sql.SQLException: No value specified for parameter 34
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ClientPreparedStatement.execute(ClientPreparedStatement.java:396)
	at c

[2022-09-01 10:13] #20188 closed

[2022-09-01 10:13] strongduanmu commented on #20188
Hi @Bingai077, can you help test this issue with master branch?

[2022-09-01 10:17] #20026 closed

[2022-09-01 10:18] strongduanmu commented on #20026
@peilinqian Can you help test this sql again?

[2022-09-01 10:57] wsm12138 opened #20713 "ShardingSphere-Proxy encrypt will close connection,`o.a.s.p.f.c.CommandExecutorTask - Exception occur: java.lang.IllegalArgumentException: Illegal base64 character 2d`."
## Bug Report

### Which version of ShardingSphere did you use?
97bc2168039c09728fc8c651c82ee9bddf641fef
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
have error but connection still connect
### Actual behavior
have error but connection interrupt

<img width="804" alt="image" src="https://user-images.githubusercontent.com/864

[2022-09-01 11:15] strongduanmu commented on #20713
@wsm12138 Please use `sysbench` prepare data to MySQL through proxy.

[2022-09-01 13:45] joychen1579 opened #20717 "雪花算法生成的值余数只有 0 和 1"
##全局配制单机模式启动   一般用于ShardingSphere-
  shardingsphere:
    mode:
      type: Memory
#      type: Standalone
#      repository:
#        type: File
#        props:
#          path: .shardingsphere
#      overwrite: false

#一、
    datasource:
      names: m1
      m1:
        jdbc-url: jdbc:mysql://127.0.0.1:3306/joy_sharding_order?serverTimezone=UTC&useSSL=false&useUnicode=true&characterEncoding=UTF-

[2022-09-01 15:18] luodadaRyan commented on #15086
See if you use Seata. If so, add it to yaml:
`seata:
  use-jdk-proxy: true`

[2022-09-02 02:10] djmirv opened #20722 "[5.1.0] readwrite-splitting:data-source-rule without 'data-source-rule' property?"
1，property showed in doc.
https://shardingsphere.apache.org/document/5.1.0/cn/user-manual/shardingsphere-jdbc/spring-namespace/rules/readwrite-splitting/

2，but not showed in '.xsd' file
http://shardingsphere.apache.org/schema/shardingsphere/readwrite-splitting/readwrite-splitting-5.1.0.xsd

[2022-09-02 02:11] joychen1579 commented on #20717
It's written by mybatisplus

[2022-09-02 02:16] natehuangting commented on #20234
@FlyingZC I think this can automatically open a transaction inside the Proxy, and submit.

[2022-09-02 02:18] wsm12138 commented on #20713
I want to kown ,if we can't get data from  Proxy by encrpt_rule because of data  not encrypted.
why connection abort,rather than continue？

[2022-09-02 02:33] TeslaCN commented on #20717
For English only. Please translate your issue into English.

[2022-09-02 02:48] fourierxue commented on #20464
I had the same problem

[2022-09-02 03:35] #19912 closed

[2022-09-02 03:45] wzhj2326 opened #20727 "when READWRITE_SPLITTING rule exist, alter resource or add new resource occur error"
## Bug Report

### Which version of ShardingSphere did you use?
5.1.3-SNAPSHOT   5.2.0  tag

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
premise:
      when create two resouces (ds_01、ds_02) and create two READWRITE_SPLITTING rules ,READWRITE_SPLITTING rules use these resources

action:
     i alter resource ds_01 , then r

[2022-09-02 03:49] djmirv opened #20728 "[5.1.0] <sharding:table-rule /> without 'actual-data-sources' property?"
1, 'sharding:table-rule'  has property 'actual-data-sources':
https://shardingsphere.apache.org/document/5.1.0/en/user-manual/shardingsphere-jdbc/spring-namespace/rules/sharding/

2,  but practically not found :
    <xsd:element name="table-rule">
http://shardingsphere.apache.org/schema/shardingsphere/sharding/sharding-5.1.0.xsd)

[2022-09-02 04:56] abhinav-koppula commented on #19912
@agentart - Can you please assign the issue to me since the PR has been merged?

[2022-09-02 06:19] sandynz opened #20730 "Extract job configuration change event handler SPI and impl in PipelineJobExecutor for common usage"
Part of #19421.

Currently, it's hard-coded. It's better to extract job configuration change event handler SPI for common usage. SPI type could be JobType.typeName.

Related code:
- PipelineJobExecutor.processEvent method

Possible changes:
- Add SPI definition
- Add SPI factory
- Add SPI impl for migration job

[2022-09-02 06:20] sandynz commented on #20730
@azexcy , could you help to follow it?

[2022-09-02 06:21] azexcy commented on #20730
I will follow this

[2022-09-02 06:24] strongduanmu commented on #20506
@xiongdamao Thank you for your detailed information.

[2022-09-02 06:49] tianhao960 commented on #20506
hi, @strongduanmu  I‘d like to try

[2022-09-02 06:51] strongduanmu commented on #20506
@tianhao960 Welcome, I will assign this issue to you.

[2022-09-02 07:14] sandynz opened #20735 "Extract pipeline meta data node change listener SPI for common usage"
Part of #19421.

Currently, on wathcing `/pipeline`, event key will be matched by different hard-coded regex, it's not easy to add new node change logic. So it's better to extract pipeline meta data node change listener SPI for common usage.

Related code:
- PipelineJobExecutor.doStart method

We might need to handle process configuration change for migration job and other types of jobs in the fut

[2022-09-02 07:15] sandynz commented on #20735
@azexcy , could you help to follow it?

[2022-09-02 07:17] azexcy commented on #20735
I will follow it.

[2022-09-02 08:06] tuichenchuxin opened #20736 "Support SQL HINT"
## Feature Request

We have `HintManager` for users to use for hint route, But it's depends on `ThreadLocal`.

We want to use SQL hint to replace HintManager for more convenient to use.

## replace `HintManager.setDatabaseShardingValue`
[code]
## replace `HintManager.addDatabaseShardingValue` `HintManager.addTableShardingValue`
[code]
## replace `HintManager.setWriteRouteOnly` mix sharding
[code]

[2022-09-02 08:31] Ikki-Dai commented on #20049
i have no idea to simplify the dependencies
while i import `shardingsphere-jdbc-core-spring-boot-starter`, then followed at least **100** jars imported to my project :(

[2022-09-02 08:57] dongzl commented on #20736
I want to try it. If others are interested, we can do it together.

[2022-09-02 09:58] FlyingZC opened #20738 "Support using disabled data source at startup"
Now we can use DistSQL to disable the datasource's state in read-write splitting rules.
For example,proxy A has disabled the data source.Then proxy B is started with the same configuration, and the status of the disabled data source will still be checked, resulting in startup failure.

In order to ensure that the proxy can startup normally, we need to do the following tasks:

- [ ] disabled data s

[2022-09-02 10:20] zjcnb commented on #20727
@wzhj2326 Thank you for your feedback, this is a bug. Let me fixed it.

[2022-09-02 11:52] Flyiyu opened #20740 "ClassNotFoundException: org.apache.curator.utils.DefaultZookeeperFactory"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-02 13:24] strongduanmu opened #20742 "Consider refactoring SQLParserParameterizedTest and UnsupportedSQLParserParameterizedTest using ThreadPool for efficient execution"
## Feature Request

### Is your feature request related to a problem?

No.

### Describe the feature you would like.

At present, when we execute `mvn clean install -Prelease -T 1C` in the `shardingsphere-sql-parser` module, we can find that the execution time is very long, so we need to consider using a thread pool to execute unit tests concurrently to improve the execution of sql parser unit tes

[2022-09-02 16:31] ThanoshanMV commented on #17844
Hi @strongduanmu, I checked the statements `DECLARE`, `FETCH`, and `MOVE`. I think now they are visited. Do we need to change anything to these statements?

[2022-09-03 00:00] strongduanmu commented on #17844
Yes, another contributor @chakkk309  in the ShardingSphere community has completed the optimization of these statements, so you only need to mark it complete.

[2022-09-03 04:29] ThanoshanMV commented on #17844
Thank you @strongduanmu

[2022-09-03 06:31] strongduanmu commented on #17844
All subtasks has been finished, so I will close this issue.

[2022-09-03 06:31] #17844 closed

[2022-09-03 07:24] peilinqian commented on #18567
config：
rules:
- !SHARDING
  tables:
    t_single:
      actualDataNodes: ds1_0.t_single
    t_ssdb_tb:
      actualDataNodes: ds1_${0..1}.t_ssdb_tb_${0..1}
      databaseStrategy:
        standard:
          shardingAlgorithmName: ds1_database_inline
          shardingColumn: id
      tableStrategy:
        standard:
          shardingColumn: c_id
          shardingAlgorithmName: ts_t_ssdb_tb_inl

[2022-09-03 08:10] peilinqian opened #20746 "With binding table configuration ，Failed to start proxy，“Invalid binding table configuration in ShardingRuleConfiguration”"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-03 12:54] terrymanu opened #20749 "Add test case for ShardingSpherePreconditions"

[2022-09-03 13:06] strongyc opened #20751 "启动报错"
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration': Initialization of bean failed; nested exception is java.lang.NullPointerException: Cannot invoke "Object.toString()" because the return value of "java.util.Map.get(Object)" is null
java17
springboot 2.7.3
#主从复制+分表
spring:
  shardingsphere:

[2022-09-03 13:14] #20751 closed

[2022-09-03 14:40] chakkk309 commented on #20681
Hi, I would like to implement the Oracle part.

[2022-09-03 15:08] zjcnb commented on #20681
Welcome

[2022-09-03 15:16] nimo10050 commented on #2649
In my use case, the above description is incorrect。

case：

[code]

result：

step1：insert data to master db
step2：data from master db
step3： query data from slave db

when step1 and step2 in the same connection，step2  dose not query data from master db。

why？ it is bug？

[2022-09-03 16:35] linghengqian commented on #20049
- The work you requested is likely blocked by https://github.com/apache/shardingsphere/issues/13609.

- I think that the free combination of basic jars is a difficult problem to deal with at present.  Although this is practically feasible, doing this to ShardingSphere JDBC is easily affected by the governance capabilities of ShardingSphere Proxy.  The current ShardingSphere JDBC metadata must be a

[2022-09-03 17:50] linghengqian commented on #20722
- I believe this is an older version of the documentation bug.  Since it is not possible to submit PRs to archived tags, you can update to 5.1.2 to verify.

[2022-09-04 03:25] huangdx0726 commented on #20730
Assign to me ，i will try

[2022-09-04 06:09] sreenath-tm commented on #20749
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-04 07:55] strongyc opened #20763 "Springboot 集成 MybaitsPlus+ShardingShere报错"
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'userServiceImpl': Unsatisfied dependency expressed through field 'baseMapper'; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'userMapper' defined in file [E:\javaProject\ShardingShereDemo4\target\classes\com\yc\modular\user\mapper\Us

[2022-09-04 09:05] yflytom opened #20764 "ClassNotFoundException: org.apache.curator.utils.DefaultZookeeperFactory"
I want to use the zookeeper dynamic configuration function, but after adding the pom configuration, there are various dependency problems, and the DefaultZookeeperFactory class is missing. After adding the curator version, I still get an error that the class cannot be found.

**并且在官方文档5.1中，也没有看到具体说明要依赖zookeeper版本信息**

maven pom version

[code]

error message
[code]

[2022-09-04 09:10] Flyiyu commented on #20764
config yml
[code]

[2022-09-04 10:27] linghengqian commented on #20763
- No one knows how to solve your issue. You have neither formatted the log information in markdown, nor provided a minimal reproducible example, nor did you provide reproducible steps, and it does not conform to the issue template.

- This issue can be closed and marked as invalid.

[2022-09-04 11:24] abhinav-koppula commented on #20749
Hi @terrymanu
I have created a PR for the same - https://github.com/apache/shardingsphere/pull/20765
Can you please take a look?

[2022-09-04 11:34] #20749 closed

[2022-09-04 11:35] terrymanu commented on #20749
Good implementation, I had merged it.

[2022-09-04 11:36] terrymanu commented on #20749
Thank you for pay attention, this PR is be merged, please pick up more other issues next time.

[2022-09-04 11:44] #19911 closed

[2022-09-04 11:49] agentart commented on #20763
@strongyc Please modify it according to the issue template.

[2022-09-04 12:03] strongyc commented on #20763
[ShardingShereDemo4.zip](https://github.com/apache/shardingsphere/files/9484640/ShardingShereDemo4.zip)

[2022-09-04 12:10] abhinav-koppula commented on #20401
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20768.
Can you please review?

[2022-09-04 12:17] natehuangting opened #20769 "DistSQL 'add resource' will delete all resources in the original database"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

![image](https://user-images.githubusercontent.com/26433395/188313001-3c661863-578a-4ac6-88d0-1cf78dcebd05.png)

[2022-09-04 13:04] dongzl opened #20772 "Official website CSS style confused."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-04 13:26] terrymanu commented on #19262
The issue has not finished, we need to assert the created meta data too.
I have already add todo during #20773

[2022-09-04 14:11] zjcnb commented on #20764
@Flyiyu Hi, it should be the problem that dependency conflict.

just keep it
[code]

[2022-09-04 14:18] #20692 closed

[2022-09-04 14:37] terrymanu commented on #20763
**For English only**, other languages will not accept.

[2022-09-04 14:37] #20763 closed

[2022-09-04 14:37] terrymanu commented on #20717
**For English only**, other languages will not accept.

[2022-09-04 14:37] #20717 closed

[2022-09-04 14:38] terrymanu commented on #20264
The version is out of service

[2022-09-04 14:38] #20264 closed

[2022-09-04 19:25] abhinav-koppula commented on #19262
@terrymanu - I have created a new PR - https://github.com/apache/shardingsphere/pull/20778. I have mocked the static methods `GlobalRulesBuilder.buildRules`, `ShardingSphereDatabasesFactory.create` and have added assertions for the metadata.

[2022-09-04 23:35] strongduanmu commented on #20401
@abhinav-koppula Thank you for your remind, I will review this pr.

[2022-09-04 23:38] #20401 closed

[2022-09-04 23:50] strongduanmu commented on #20772
Hi @dongzl, You can try to force refresh the website.

[2022-09-05 01:24] peilinqian opened #20780 ""alter view t_broadcast_view rename to t_broadcast_view_new;" does not verify whether the new view is configured with sharding rules or"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-05 01:39] #20769 closed

[2022-09-05 01:54] dongzl commented on #20772
Thanks, It's OK.

[2022-09-05 01:54] #20772 closed

[2022-09-05 02:25] Flyiyu commented on #20764
@zjcnb If I don't add the dependency of `curator`, just use `shardingsphere-cluster-mode-repository-zookeeper-curator`, this error will be reported: ClassNotFoundException: org.apache.curator.connection.StandardConnectionHandlingPolicy

Thanks a lot though, I'll do my own research and give up

[2022-09-05 02:50] strongduanmu commented on #20746
@peilinqian Thank you for your feedback, this bug is caused by #19423, I will fix it in 5.2.0-release branch.

[2022-09-05 02:53] #20704 closed

[2022-09-05 03:52] strongduanmu commented on #20746
Fixed by https://github.com/apache/shardingsphere/pull/20784.

[2022-09-05 03:52] #20746 closed

[2022-09-05 05:49] everly-gif commented on #17848
This issue has been completed 🎉.
Thank you for the great mentorship !
Looking forward to staying in touch with the community 😊.

Talking GSoC , @strongduanmu what is the usual work product URL that is preferred by the Org? GitHub Gists, Blogs, Web pages etc?? I will start drafting mine soon after your suggestion.

Thanks.

[2022-09-05 05:59] strongduanmu commented on #17848
Congratulations @everly-gif , you have done these tasks very well. 👍

For this question, I think you can choose a tool you are familiar with to write gsoc summaries.

[2022-09-05 05:59] strongduanmu commented on #20727
Fixed by https://github.com/apache/shardingsphere/pull/20747.

[2022-09-05 05:59] #20727 closed

[2022-09-05 06:08] abhinav-koppula commented on #20386
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20787.
Can you please review?

[2022-09-05 06:33] abhinav-koppula commented on #20385
@strongduanmu - I have create a PR - https://github.com/apache/shardingsphere/pull/20788.
Can you please review?

[2022-09-05 06:36] nimo10050 opened #20789 "If there is write operation in the same thread and database connection, all the following read operations are not from the master database to ensure data consistency."
## Question

If there is write operation in the same thread and database connection, **all the following read operations are not from the master database to ensure data consistency.**

## CASE

[code]

### RESULT

step1：insert data to master db
step2：data from master db
step3： query data from slave db

when step1 and step3 in the same connection，step3 does not query data from master db。

why ? @te

[2022-09-05 06:50] wsm12138 commented on #20746
8dee990098fd2cb000079ce1a933c530e8d0a704

<img width="741" alt="image" src="https://user-images.githubusercontent.com/86462784/188382272-69066c18-34b9-4d72-8d24-45683ba2c4e1.png">

<img width="1320" alt="image" src="https://user-images.githubusercontent.com/86462784/188382653-4071af01-b652-43cc-b6ab-673487fc4f67.png">

fixed

[2022-09-05 06:57] abhinav-koppula commented on #20384
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20792.
Can you please review?

[2022-09-05 07:09] abhinav-koppula commented on #20383
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20793.
Can you please review?

[2022-09-05 07:16] broccolik commented on #19676
no

[2022-09-05 07:52] linghengqian commented on #20728
- I believe this is an older version of the documentation bug. Since it is not possible to submit PRs to archived tags, you can update to 5.1.2 to verify.

[2022-09-05 08:31] FlyingZC commented on #20789
I want to investigate it, please assign to me.

[2022-09-05 08:34] FlyingZC commented on #20789
The same with issue #20614.

[2022-09-05 08:34] abhinav-koppula commented on #20377
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20796.
Please review.

[2022-09-05 08:38] strongduanmu commented on #20377
Good job, I will review this pr.

[2022-09-05 09:35] TeslaCN opened #20797 "Rewriter changes positional parameter ($1) to dollar (?) in SQL which break syntax of PostgreSQL"
## Bug Report

### Which version of ShardingSphere did you use?

master - 7d0c633de85dd3323153a1795ac16e38be5140a8

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere infra only. Neither JDBC nor Proxy.

### Expected behavior

The original SQL was:
[code]

### Actual behavior

[code]

Which caused.
[code]

[2022-09-05 10:14] #20377 closed

[2022-09-05 10:46] #20797 closed

[2022-09-05 11:13] abhinav-koppula commented on #20376
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20801.
I have refactored the existing test-cases so that it is grouped by database type and have added more unit-tests. Please let me know if it looks ok.

[2022-09-05 11:20] zhaojinchao95 opened #20802 "Add unit test for ClusterContextManagerCoordinator.killProcessListId(final KillProcessListIdEvent event)"

[2022-09-05 11:55] abhinav-koppula commented on #20375
@strongduanmu - I have raised a PR - https://github.com/apache/shardingsphere/pull/20803.
Please review.

[2022-09-05 16:07] dongzl opened #20808 "Provider `org.apache.shardingsphere.sharding.spring.namespace.fixture.keygen.IncrementKeyGenerateAlgorithm` not found"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-05 16:13] linghengqian commented on #20808
- Duplicate with https://github.com/apache/shardingsphere/wiki/FAQ#other-why-do-some-compiling-errors-appear-why-did-not-the-idea-index-the-generated-codes ?

[2022-09-05 16:14] terrymanu opened #20810 "use recursion to setNextException with chain in classes JDBCBackendTransactionManager and LocalTransactionManager"
Please use recursion to setNextException with chain, not overlap in classes JDBCBackendTransactionManager and LocalTransactionManager.

Just search `// TODO` to find the codes.

[2022-09-05 23:59] #20376 closed

[2022-09-06 00:00] #20375 closed

[2022-09-06 00:01] #20384 closed

[2022-09-06 00:02] #20780 closed

[2022-09-06 00:07] #20386 closed

[2022-09-06 01:19] everly-gif commented on #17848
Thank you ! I decided to go with GitHub Gists.
Here's the link : https://gist.github.com/everly-gif/b2df9b5b2133afc671c38c43c08f2569
What do you think?

[2022-09-06 02:09] #15712 closed

[2022-09-06 03:07] kissthisrain opened #20812 "why 5.1.2 version The SQL clause 'LIKE' is unsupported?"
## Bug Report
 in version 5.1.2,The SQL clause 'LIKE' is unsupported in encrypt rule,I dont konw why

### Which version of ShardingSphere did you use?
 5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
support 'like'

### Actual behavior
[code]

### Reason analyze (If you can)
[code]

### Steps to reproduce the behavior, s

[2022-09-06 03:10] strongduanmu commented on #20812
@kissthisrain Thank you for your feedback, this is a bug in 5.1.2. We fixed this bug in the upcoming 5.2.0 version.

[2022-09-06 03:10] strongduanmu commented on #20812
This bug has been fixed in 5.2.0 version, so I will close this issue.

[2022-09-06 03:13] strongduanmu commented on #20812
Sorry, this issue has not been fixed yet, I will reopen the issue.

[2022-09-06 03:56] terrymanu opened #20815 "DataSourcePropertiesValidator should catch SQLException and ShardingSphereInternalException only"
Catch exception is not recommended, please investigate the class  DataSourcePropertiesValidator, and try to instead of catch exception to SQLException and ShardingSphereInternalException.

Just search `// TODO check why catch exception here, can it simplify to catch SQLException and ShardingSphereInternalException?` to find the codes.

[2022-09-06 06:09] abhinav-koppula commented on #20374
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20822.
Can you please review?

[2022-09-06 06:21] abhinav-koppula commented on #20371
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20823.
Can you please review?

[2022-09-06 07:37] strongduanmu commented on #20710
Ref #19580.

[2022-09-06 07:39] strongyc opened #20828 "why Startup error？"
## Bug Report
nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'singleTableServiceImpl': Unsatisfied dependency expressed through field 'baseMapper'; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'singleTableMapper' defined in file [E:\javaProject\ShardingShereDe

[2022-09-06 07:53] abhinav-koppula commented on #20370
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20829.
Please review.

[2022-09-06 08:26] nimo10050 commented on #20789
for shardingsphere 5.1.0 , the souce code for determining routes are as follows:

[code]

for the above  case: https://github.com/apache/shardingsphere/issues/20789#issue-1361469079

For step 3, It seems like that the code that determine whether it routes master database is:

```TransactionHolder.isTransaction()```

So, when will it return true?

In our case, when encountering ```@Transaction``` a

[2022-09-06 08:26] abhinav-koppula commented on #20368
@strongduanmu - Have created a PR - https://github.com/apache/shardingsphere/pull/20831.
Please review.

[2022-09-06 09:23] Mrljt497 opened #20833 "mybatisPlus selectCount RenException"
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and

[2022-09-06 10:34] zhaojinchao95 commented on #20828
Refer to : https://shardingsphere.apache.org/document/5.1.2/en/user-manual/shardingsphere-jdbc/spring-boot-starter/rules/readwrite-splitting/, if you use `5.1.2` version.

[2022-09-06 10:42] #20370 closed

[2022-09-06 10:43] #20385 closed

[2022-09-06 10:45] #20371 closed

[2022-09-06 10:46] #20374 closed

[2022-09-06 11:06] strongduanmu commented on #20833
@Mrljt497 Can you submit issue according to bug template?

[2022-09-06 11:17] Mrljt497 commented on #20833
OK, I have changed the content

[2022-09-06 12:18] tianhao960 commented on #20742
hi, @strongduanmu , I'd like to try this

[2022-09-06 18:29] abhinav-koppula commented on #20389
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20838.
Please review.

[2022-09-06 18:41] abhinav-koppula commented on #20388
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20839.
Please review

[2022-09-06 23:34] strongduanmu commented on #20742
@tianhao960 Welcome, I will assign this issue to you.

[2022-09-07 00:14] sandynz commented on #20730
Hi @huangdx0726 , there's PR on working. I'll create more issue later

[2022-09-07 03:02] zxz-github commented on #8946
`cast(? as json)` is supported

[2022-09-07 03:40] strongyc commented on #20828
ok

[2022-09-07 03:40] #20828 closed

[2022-09-07 03:49] strongyc opened #20845 "Master-slave problem"
## Bug Report
Using version 5.1.2, after configuring read-write separation and data fragmentation, the fragmented table cannot be read from the slave library, and other tables can read from the slave library normally. Why
**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsph

[2022-09-07 04:10] tuichenchuxin opened #20846 "readwrite-spiltting with shadow config start error."
## Bug Report

### Which version of ShardingSphere did you use?
master- edb90c172556fd504cfed7dcd233ef6068f3dc08
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
[code]

[2022-09-07 04:38] #20846 closed

[2022-09-07 04:39] #20368 closed

[2022-09-07 04:41] strongduanmu commented on #20368
Hi @abhinav-koppula, thank you for your contributions in these days. Do you want to get involved in more advanced tasks such as enhancing SQL Parser?

[2022-09-07 04:42] abhinav-koppula commented on #20368
Yes, please. That was my intention as well. I wanted to get started with easy tasks and move towards bit advanced tasks.

[2022-09-07 04:49] #20379 closed

[2022-09-07 04:54] strongduanmu commented on #20368
@abhinav-koppula Great plan, looking forward to your more contributions in the ShardingSphere community. If you have any questions, you can contact us via github or slack.

[2022-09-07 04:56] abhinav-koppula commented on #20368
Thanks a lot for the encouragement and quick reviews.

[2022-09-07 05:10] guoxiaowei001 opened #20851 "Sharding conflicts with mybaties-plus"
Background note: a single database is divided into tables according to create_ Time month is divided into tables;
version：
sharding：5.1.0
mybaties-plus：3.0.0

Sharding conflicts with mybats plus jar, resulting in project startup failure

key error：The web application [ROOT] appears to have started a thread named [ShardingSphere-TableMetaDataLoaderEngine-0] but has failed to stop it. This is very l

[2022-09-07 05:31] soulasuna commented on #20035
Fixed

[2022-09-07 05:34] #20388 closed

[2022-09-07 05:36] #20389 closed

[2022-09-07 05:44] strongduanmu commented on #20506
@tianhao960 At present, we only solved the parsing problem, and we need to confirm whether it can be executed in the sharding scenario.

[2022-09-07 06:15] strongduanmu commented on #20851
@guoxiaowei001 Thank you for your feedback. Please translate this issue to English.

[2022-09-07 06:24] strongyc commented on #20845
results: 2022-09-07 13:52:50.801  INFO 25968 --- [nio-8080-exec-1] ShardingSphere-SQL                       : Actual SQL: db1 ::: SELECT  id,document_name,document_detail,document_year  FROM document_2013 UNION ALL SELECT  id,document_name,document_detail,document_year  FROM document_2014 UNION ALL SELECT  id,document_name,document_detail,document_year  FROM document_2015 UNION ALL SELECT  id,docu

[2022-09-07 06:26] strongyc commented on #20845
According to the configuration, db1 is the master library and db2 is the slave Library,why is db1

[2022-09-07 06:36] strongduanmu opened #20854 "Support SHOW PROCESSLIST/KILL-like feature for PostgreSQL/openGauss databases"
## Feature Request

### Is your feature request related to a problem?

https://github.com/apache/shardingsphere/issues/20299

### Describe the feature you would like.

In version 5.2.0, ShardingSphere supports MySQL `SHOW PROCESSLIST` and `KILL` statements, which makes it more convenient for users to manage SQL.

The following figure shows the execution process of the current `SHOW PROCESSLIST` st

[2022-09-07 06:45] strongduanmu commented on #20845
Hi @strongyc, thank you for your feedback. Can you modify the title for searching friendly? Besides, can you format your issue with markdown?

[2022-09-07 06:46] ICannerxy commented on #20854
I want to do the first requirement .(Adaptation PostgreSQL database)

[2022-09-07 06:47] strongduanmu commented on #20854
Welcome @ICannerxy, I will assign this issue to you.

[2022-09-07 07:13] strongyc commented on #20845
### 1.problem

Using version 5.1.2, after configuring read-write separation and data fragmentation, the fragmented table cannot be read from the slave library, and other tables can read from the slave library normally. Why

## 2. Which version of ShardingSphere did you use?

5.1.2

### 3. Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

## 4.settings

s

[2022-09-07 07:20] strongyc commented on #20845
### 1.problem

Using version 5.1.2, after configuring read-write separation and data fragmentation, the fragmented table cannot be read from the slave library, and other tables can read from the slave library normally. Why

## 2. Which version of ShardingSphere did you use?

5.1.2

### 3. Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

## 4.settings

s

[2022-09-07 07:48] xinglijun1973 commented on #13814
@strongduanmu I found this problem similar with [14334](https://github.com/apache/shardingsphere/issues/14334) which is paging query with `order by` ,and this is paging query with `group by`, and  I have repaired it experimentally.

[2022-09-07 09:50] strongduanmu commented on #13814
@xinglijun1973 Good  job, can you submit a pr to fix this bug?

[2022-09-07 10:23] SoftwareKing commented on #10827
@strongduanmu In which branch is this problem fixed

[2022-09-07 10:26] strongduanmu commented on #10827
You can try with the upcoming 5.2.0 version.

[2022-09-07 12:34] #20735 closed

[2022-09-07 12:55] tianhao960 commented on #20506
@strongduanmu try the sharding scenario with following config:
`spring:
  shardingsphere:
    # 是否开启
    datasource:
      # 数据源（逻辑名字）
      names: m1
      # 配置数据源
      m1:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name:  org.postgresql.Driver
        jdbc-url: jdbc:postgresql://192.168.64.2:5432/test
        username: root
        password: 123456
    # 分片的配置
    rul

[2022-09-07 12:58] tianhao960 commented on #20506
@strongduanmu try the sharding scenario with following config:
![1662555486287](https://user-images.githubusercontent.com/1155952/188883940-c0a27bee-cc4e-4246-822a-77cd3086f66d.jpg)

[2022-09-07 13:12] strongyc commented on #20845
![image](https://user-images.githubusercontent.com/51156342/188886698-a90bb47c-9f2a-4776-9014-094c9e7a9ce2.png)
The library without fragment key is correct

[2022-09-07 23:55] strongduanmu commented on #20506
@tianhao960 Good  job, can you test insert update statement when update sharding column?

<img width="1426" alt="image" src="https://user-images.githubusercontent.com/10829171/189002981-9b5da05f-580b-4815-96d7-cda896a6e493.png">

[2022-09-08 01:58] #20035 closed

[2022-09-08 02:32] tianhao960 commented on #20506
hi, @strongduanmu , have test the scenario that sharding key and update column are the same; and could insert success when do not cause sharding change and throw exception when cause sharding changes, that is the expect behavior of current version of shardingSphere.  thanks.

[2022-09-08 02:38] guoxiaowei001 commented on #20851
ok

[2022-09-08 02:50] zhaojinchao95 opened #20867 "Add some integration test case for DistSQL RAL"
Hi community,

## Aim :

Add some integration test case for [RAL](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/ral/)

## How to do

1. You need to know about the integration test module [shardingsphere-integration-test-suite](https://github.com/apache/shardingsphere/tree/master/shardingsphere-test/shardingsphere-integration-test/shardingsphe

[2022-09-08 03:06] abhinav-koppula commented on #20363
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20868.
Can you please review?

[2022-09-08 03:30] strongduanmu commented on #20506
Thank you for your feedback, I will close this issue.

[2022-09-08 03:30] #20506 closed

[2022-09-08 03:51] 837414750 opened #20870 "The custom primary key generation policy SPI was not registered successfully"
## Question
`public class KeyGenerator implements ShardingKeyGenerator {

    private SnowflakeShardingKeyGenerator snow = new SnowflakeShardingKeyGenerator();

    @Override
    public Comparable<?> generateKey() {
        //return getCurrentDateKey() + snow.generateKey();
        return snow.generateKey();
    }

    @Override
    public String getType() {
        return "TRAINKEY";
    }

    @

[2022-09-08 04:31] abhinav-koppula commented on #20367
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20871.
Please review.

[2022-09-08 04:58] #20367 closed

[2022-09-08 04:59] #20363 closed

[2022-09-08 05:52] liangxianjin opened #20874 "Failed to add database and table, dynamically refresh data source, instantiate scheme <sharding-sphere.version>4.1.1</sharding-sphere.version>"
## Question
The old connection cannot be closed when refreshing the data source, which will lead to the continuous increase of database connections
Because we have partially extended the current framework, the cost of version upgrade is relatively high. Let's see if dynamic addition and hot refresh of libraries and tables can be realized on the basis of the original version 4.1.1

[2022-09-08 06:01] abhinav-koppula commented on #20364
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20875.
Please review.

[2022-09-08 06:31] azexcy opened #20876 "Multi-threaded execute `JDBCRepository.init`method at the same time, may cause deadlock"
## Bug Report

I use jdbc mode to create Sharding ShardingSphereDataSource, finally the `H2JDBCRepositoryProvider` will be used.
If multiple threads at about the same time execute `JDBCRepository.init`

related code
[code]

the `provider.dropTableSQL()` may cause deadlock exception, and failed to get data source

[code]

relation ci link:

https://github.com/apache/shardingsphere/runs/8226074983?c

[2022-09-08 06:56] #20680 closed

[2022-09-08 07:17] qudonghui opened #20878 "Use scaling feature with mysql 8.x are EXECUTE_INCREMENTAL_TASK_FAILURE"
### Which version of ShardingSphere did you use?
docker  apache/shardingsphere-proxy   latest

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
![image](https://user-images.githubusercontent.com/39752827/189056177-41d89bc8-5353-4efa-a871-95615bad4393.png)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rul

[2022-09-08 07:57] azexcy commented on #20878
@qudonghui
hello, the issue is similar to  https://github.com/apache/shardingsphere/issues/17092
the `default_authentication_plugin` is caching_sha2_password,  but the account of root is `mysql_native_password`, they are not equal, if use scaling, please make them equal now

[2022-09-08 07:58] qudonghui commented on #20878
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-09-08 08:33] qudonghui commented on #20878
Thank you for your reply. When I modify the default_ authentication_ After the plugin, the sclaling status is always in
EXECUTE_INCREMENTAL_TASK
![image](https://user-images.githubusercontent.com/39752827/189075154-31a8f62b-bbf1-4fea-b09e-39b3f1465847.png)

![image](https://user-images.githubusercontent.com/39752827/189075274-3b011672-638b-49c7-9a33-27a86d733ad9.png)

[2022-09-08 08:34] zhaojinchao95 commented on #20867
Welcome

[2022-09-08 09:39] sandynz opened #20881 "Query MySQL system variable failed in empty database when there is another database contains data source"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, commit 23c502ccb4b8b207c1fa31b1644da6d3520f2c5e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
Following query works:
[code]

Simplied one:
[code]

### Actual behavior

There're 2 databases:
- scaling_nomig : with full data source and rules configured
- sharding

[2022-09-08 12:38] sandynz opened #20885 "Rename and move PipelineJobExecutor"
Part of #19421

The responsibility of PipelineJobExecutor is watching pipeline meta data in registry center, and then dispatch events to handlers.

Possible changes:
- Rename PipelineJobExecutor to PipelineMetaDataNodeWatcher; Update class and method javadoc;
- Move PipelineMetaDataNodeWatcher to package `org.apache.shardingsphere.data.pipeline.core.metadata.node`, the same as `PipelineMetaDataNod

[2022-09-08 12:40] sandynz commented on #20885
Hi @huangdx0726 , are you interesting to resolve it?

[2022-09-08 12:45] huangdx0726 commented on #20885
yes, assign to me

[2022-09-08 13:03] abhinav-koppula commented on #20366
@strongduanmu - I have created a PR - https://github.com/apache/shardingsphere/pull/20887
Please review.

[2022-09-08 13:44] sandynz commented on #20885
Thanks, just assigned it to you.

[2022-09-08 14:41] shinxi opened #20891 "Shardingsphere jdbc unsupported items"
Hello Shardingsphere team,

We're currently evaluating using the ShardingSphere-JDBC for read-write splitting, and we believe it's a very cool framework.
After a quick test, we have some questions and would like to confirm.
1. Our DB is PostgreSQL, and it looks ShardingSphere-JDBC doesn't support query/select array elements (however, do not see it's listed at [unsupported page](https://shardingsph

[2022-09-08 15:04] null-sys commented on #20810
Hey @terrymanu , I am interested in resolving this issue. This will be my first contribution here, let me know if this needs to be assigned to me or I can raise a PR for this.

[2022-09-09 00:51] agoodcoolman commented on #19884
I hava the same question .

use Proxy 5.1.2 .
this is command
`java -server -Xmx8g -Xms8g -Xmn4g -Xss1024k -XX:+DisableExplicitGC -XX:+UseConcMarkSweepGC -XX:+CMSParallelRemarkEnabled -XX:LargePageSizeInBytes=4g -XX:+UseFastAccessorMethods -XX:+UseCMSInitiatingOccupancyOnly -XX:CMSInitiatingOccupancyFraction=70 -Dfile.encoding=UTF-8 -classpath %CLASS_PATH% %MAIN_CLASS%`

server.yaml
`rules:
  - !A

[2022-09-09 02:20] rehuhu commented on #18864
me too，this is a bug not rather than a question

[2022-09-09 02:56] #20366 closed

[2022-09-09 03:20] natehuangting opened #20896 "show processlist shows sleep connections"
## Feature Request

SS currently show processlist can only display the connection in execution, but not the connection in the sleep. I hope to be able to display all the same as MySQL, if I need to filter the sleep, can use the following command.

[code]

[2022-09-09 03:34] strongduanmu commented on #20896
@natehuangting Good suggestion, but the current process of show processlist cannot support this feature. Are you willing to design a solution?

[2022-09-09 03:37] dongzl commented on #20808
close by #20811

[2022-09-09 03:37] #20808 closed

[2022-09-09 03:45] strongyc commented on #20845
thinks，resolved

[2022-09-09 03:45] #20845 closed

[2022-09-09 04:51] #20364 closed

[2022-09-09 08:52] linghengqian commented on #20510
I am working on this issue.

[2022-09-09 09:13] azexcy commented on #20878
@qudonghui
I see that a custom sharding algorithm is used here, maybe it's need proxy meta data, so you can try executing `REFRESH TABLE METADATA;` firstly, before `check migration` DistSQL

[2022-09-09 10:05] huangconghe opened #20903 "Column index out of range"
## Question
sharding-jdbc version 5.1.2
sql:select * from (select name,age from  order)

exception:
Column index out of range.; nested exception is java.sql.SQLException: Column index out of range.

[2022-09-09 10:45] strongduanmu commented on #20710
When I execute integration test using `ADVANCED` type, I am getting exception as below.

[2022-09-10 05:10] theshashankpal commented on #20802
Hi @zhaojinchao95 ,
I am a student who needs to contribute to an OpenSource project in my coursework, so I was wondering if you can assign this to me.
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can someone please assign this to me?

[2022-09-10 17:11] linghengqian opened #20912 "Confusion about the positioning of ShardingRuleConfiguration"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-10 17:13] linghengqian commented on #20903
It is better that you modify the issue description as the issue template.  No one else can guess the specific information you are deliberately withholding.

[2022-09-10 17:33] linghengqian opened #20913 "sql-federation-type lacks more specific documentation"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-10 18:50] linghengqian opened #20914 "Confusion about using DistSQL in databases other than MySQL/PostgreSQL"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-10 19:20] linghengqian opened #20915 "Question about persist metadata node when use ShardingSphere-JDBC cluster mode"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-10 23:23] strongduanmu commented on #20913
SQL Federation is still under development, and the documentation will be supplemented after the feature is basically completed. `sql-federation-type` is also a temporary configuration. It will be enabled in ADVANCED mode by default when the feature is finished in the future.

[2022-09-11 02:00] linghengqian commented on #20913
Thanks for your answer.

[2022-09-11 02:00] #20913 closed

[2022-09-11 05:56] #20510 closed

[2022-09-11 06:02] #20529 closed

[2022-09-11 12:15] #20328 closed

[2022-09-11 12:16] isHuangXin commented on #17939
Hi, @RaigorJiang
This issue about GSoC 2022 has been completed 🎉.
Thank you for the great guidance, which has made me learn a lot.

I will continue to contribute code to ShardingSphere, here is my GSoC 2022 final report link: https://github.com/isHuangXin/GSoC-2022-DistSQL-Convert-Tool

[2022-09-11 16:21] zhaojinchao95 opened #20932 "ProxyClusterContainerConfigurationFactory not get cluster server.yaml configuration"
I found not persist metadata to governance center when i run integration test case with cluster mode. And i see `ProxyClusterContainerConfigurationFactory.class` get `server.yaml` configuration are not right. when i adjustment path to `/env/common/cluster/proxy/conf/`, there are many integration test case are run failed.

<img width="1568" alt="image" src="https://user-images.githubusercontent.com

[2022-09-12 06:09] peilinqian commented on #20746
[code]

[2022-09-12 06:16] linghengqian opened #20935 "Discuss the time to increase the minimum JDK compilation version of the ShardingSphere project to 11"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes, refer to https://

[2022-09-12 08:22] linghengqian opened #20936 "Documentation for ShardingSphere Agent may can simplify things"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-12 13:31] linghengqian commented on #19845
- I just found out that the existing checkstyle blocks `org.hamcrest.MatcherAssert.*`. So I opened a PR to work on. I'm still not sure what to think about Junit 5, but it should be reasonable for an API away from Junit 4.

[2022-09-12 17:30] linghengqian commented on #20891
- It looks like postgresql's array is just a non-mandatory hint?

- ![20220913_012517.jpg](https://user-images.githubusercontent.com/20187731/189718454-b4e28921-e219-4d63-9abd-41f2d9ecf455.jpg)

- I'm not a postgresql expert, I just found a strange setting in postgresql.

[2022-09-13 02:18] #19262 closed

[2022-09-13 02:20] cherrishccl opened #20945 "Startup is too slow"
springboot2.4.5, mybatis-plus3.4.1, shardingsphere-jdbc-core-spring-boot-starter5.1.2
单库，20 张表，其中 1 张表分表
11 代 I7， 16G 内存
未分表前启动很快，10s 左右，分表后平均时间 6 分多钟
[code]

[2022-09-13 02:24] zhaojinchao95 commented on #20915
Hi, `sql-parser` are global rule, it not belong to `/metadata/db/verisons/0/rules`

[2022-09-13 02:49] wsm12138 commented on #20746
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/86462784/189795929-5b70920b-51a6-4028-8141-adbcdb361947.png">

<img width="1470" alt="image" src="https://user-images.githubusercontent.com/86462784/189796414-34f36ee5-497b-4f2a-a117-583897ad6bbf.png">

@peilinqian
 Fixed  in PR https://github.com/apache/shardingsphere/pull/20886.

[2022-09-13 03:06] guoxiaowei001 commented on #20945
分片键使用了吗

[2022-09-13 03:26] linghengqian commented on #20915
wow I misunderstood the information of that issue.

[2022-09-13 03:27] #20915 closed

[2022-09-13 03:44] strongyc opened #20950 "about Read write separation"
## Question
If fragmentation key and read-write separation are configured, can the slave library be used for query?
**For English only**, other languages will not accept.
[code]
DS1 is still used for query
Before asking a question, make sure you have:

[2022-09-13 03:46] 726411951 opened #20951 "How to implement sharding algorithm in version 5.2.0"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-13 03:55] strongduanmu commented on #20951
@726411951 Thank you for your feedback. Can you provide your sharding configuration?

[2022-09-13 04:14] shinxi commented on #20891
@linghengqian thanks for the response. Didn't understand what you meant by `non-mandatory hint`, but the issue does exist for a single dimension array, i.e., from your example
[code]
[code]
will fail as well.

[2022-09-13 04:45] strongyc commented on #20950
How to configure read-write separation for fragmentation key？

[2022-09-13 05:43] 726411951 commented on #20951
@strongduanmu  almost like
[code]

[2022-09-13 06:56] wsm12138 opened #20952 "NPE " Cannot invoke "org.apache.shardingsphere.infra.metadata.database.schema.decorator.model.ShardingSphereSchema.getVisibleColumnNames(String)" because the return value of "java.util.Map.get(Object)" is null""
## Bug Report

### Which version of ShardingSphere did you use?
master 2efac8447e58dfb37836f039983e320963d4b347
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
execute success
### Actual behavior
<img width="1568" alt="image" src="https://user-images.githubusercontent.com/86462784/189830739-3a0429e2-5c99-4739-99be-8372d3bd11fe.

[2022-09-13 07:04] zhaojinchao95 commented on #20950
@strongyc Hi, you can refer to this : https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/mixed-feature-example/sharding-readwrite-splitting-example/sharding-readwrite-splitting-spring-boot-mybatis-example/src/main/resources/application-sharding-readwrite-splitting.properties

[2022-09-13 07:31] tianhao960 commented on #16650
hi, @strongduanmu , I'd take to try this.

[2022-09-13 08:07] strongyc commented on #20950
get,thinks

[2022-09-13 08:07] #20950 closed

[2022-09-13 08:37] peilinqian commented on #20746
Passed

[code]

[2022-09-13 09:26] dongzl commented on #18430
create sharding table rule with audit strategy:
[code]

create sharding table rule with audit definition:
[code]

[2022-09-13 14:31] linghengqian commented on #20891
- It is indeed unsupported sql.  Can you start by mentioning a PR related to the documentation?

- Or fix it directly?  However, it seems that the decision logic of postgresql's multidimensional array is not easy to write.

[2022-09-14 00:17] strongduanmu commented on #16650
@tianhao960 Great, I just assign this issue to you.

[2022-09-14 01:19] fanyunxu opened #20959 "proxy docker5.2.0 jdbc连接报错unknow system variable 'query_cache_size'"
我试了mysql连接驱动包5.46、8.25都是同样的错误。
然后docker proxy回退至5.1.2没有该问题

[2022-09-14 02:31] RaigorJiang commented on #17939
@isHuangXin
Sorry, this CI failure has not been completed
https://github.com/apache/shardingsphere/pull/20843

[2022-09-14 02:33] #20885 closed

[2022-09-14 02:54] linghengqian opened #20963 "`spring.factories` should remove the AutoConfiguration class or add new file"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- No.

### Describe the

[2022-09-14 03:09] zhaojinchao95 commented on #20932
The `ddl-integration-test-cases.xml` still has two error case, Can you look this? @soulasuna . Please search ``

[2022-09-14 03:28] linghengqian commented on #20945
- I think this issue is a duplicate of https://github.com/apache/shardingsphere/issues/18653.

[2022-09-14 03:29] wsm12138 opened #20964 "alter view sharding_view rename to sharding_view_new; have error"
## Bug Report

### Which version of ShardingSphere did you use?
[code]

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
execute success
### Actual behavior
![uIF1INTUb2](https://user-images.githubusercontent.com/86462784/190052793-101d17d7-443d-42f6-b420-31f2e18a3c76.jpg)

### Reason analyze (If you can)

### Steps to reproduce

[2022-09-14 06:18] TeslaCN commented on #20959
Duplicate with https://github.com/apache/shardingsphere/issues/20075

[2022-09-14 06:18] #20959 closed

[2022-09-14 06:57] Ryoui commented on #20951
@726411951 请问解决了吗

[2022-09-14 07:02] 726411951 commented on #20951
@Ryoui not yet

[2022-09-14 07:32] JiekerTime opened #20969 "Completing RDL-Sharding-related documentation"
We are currently refactoring the documentation related to DistSQL, and we need the community's help to improve the following statements together.
- [ ] `ALTER SHARDING TABLE RULE`
- [ ] `DROP SHARDING TABLE RULE `
- [ ] `ALTER DEFAULT SHARDING STRATEGY`
- [ ] `DROP DEFAULT SHARDING STRATEGY`
- [ ]  `ALTER SHARDING ALGORITHM`
- [ ]  `DROP SHARDING ALGORITHM`
- [ ]  `ALTER SHARDING KEY GENERATOR`
-

[2022-09-14 08:32] hf185 opened #20971 "Unable to use distributed transactions in the scenario of data encryption"
## Bug Report

The distributed transaction fails when only the data encryption scheme is used,

I found ` ShardingTransactionManagerEngine` only in `shardingDataSource()`  is executed will be created, under the scheme of data encryption, and implemented the function is `encryptDataSource()`

![c714febcce2ea8b288803cbf31adb054](https://user-images.githubusercontent.com/43991218/190102838-886ae778-f

[2022-09-14 08:48] duanqiaoyanyu commented on #20246
Have you fixed this problem，is it in processing?

[2022-09-14 09:28] peilinqian opened #20975 "Rename the view for sharding view（sharded database and table），the new view does not sharded for table"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-f44e5d3c09a38139dbb2e1b0548816aa572ccc3c
Commit Message: Release 5.2.0 and prepare for next development iteration (#20886)
Branch: f44e5d3c09a38139dbb2e1b0548816aa572ccc3c
Build time: 2022-

[2022-09-14 09:49] peilinqian opened #20978 "If you altered the view name，Create a view for the sharded table again, there is a problem, the sharded view actually created has the wrong name"
### Which version of ShardingSphere did you use?
we find java version: java8, full_version=1.8.0_342, full_path=/home/peilq_sharding/bisheng-jdk1.8.0_342//bin/java
ShardingSphere-5.2.1-SNAPSHOT
Commit ID: dirty-f44e5d3c09a38139dbb2e1b0548816aa572ccc3c
Commit Message: Release 5.2.0 and prepare for next development iteration (#20886)
Branch: f44e5d3c09a38139dbb2e1b0548816aa572ccc3c
Build time: 2022-

[2022-09-14 09:59] wuwen5 commented on #13544
Still encounter the same problem
[code]

[2022-09-14 10:51] #20978 closed

[2022-09-14 10:53] #20964 closed

[2022-09-14 10:56] tuichenchuxin commented on #20975
solved as completed by #20979

[2022-09-14 10:56] #20975 closed

[2022-09-14 11:20] strongduanmu opened #20982 "When I execute integration test using `ADVANCED` type, I am getting exception as below."
When I execute integration test using `ADVANCED` type, I am getting exception as below（Since I refactored the code, I currently need to replace FilterableTableScanExecutor and FilterableSchema in AdvancedSQLFederationExecutor with TranslatableTableScanExecutor and TranslatableSchema to reproduce the problem.）.

- [ ] java.sql.SQLException: Unknown exception: 2

[code]

- [ ] java.lang.ArrayIndexOu

[2022-09-14 11:21] FlyingZC commented on #20971
Hi,can you try the latest version, 4.x version is no longer maintained.

[2022-09-14 14:34] #20742 closed

[2022-09-14 15:15] RaigorJiang commented on #15613
Closed due to no reply for a long time.

[2022-09-14 15:15] RaigorJiang commented on #16132
Closed due to no reply for a long time.

[2022-09-14 15:15] #16132 closed

[2022-09-14 15:16] RaigorJiang commented on #15764
Closed due to no reply for a long time.

[2022-09-14 15:16] #15764 closed

[2022-09-14 15:17] RaigorJiang commented on #17168
Closed due to no reply for a long time.

[2022-09-14 15:17] #17168 closed

[2022-09-14 15:17] RaigorJiang commented on #16343
Closed due to no reply for a long time.

[2022-09-14 15:17] #16343 closed

[2022-09-14 15:18] #18452 closed

[2022-09-14 15:18] RaigorJiang commented on #17335
Closed due to no reply for a long time.

[2022-09-14 15:18] #17335 closed

[2022-09-14 15:19] RaigorJiang commented on #18561
Closed due to no reply for a long time.

[2022-09-14 15:19] #18561 closed

[2022-09-14 15:22] RaigorJiang commented on #11593
Closed due to no reply for a long time.

[2022-09-14 15:22] #11593 closed

[2022-09-14 15:24] RaigorJiang commented on #16850
Closed due to no reply for a long time.

[2022-09-14 15:24] #16850 closed

[2022-09-14 15:26] RaigorJiang commented on #19068
Closed due to no reply for a long time.

[2022-09-14 15:30] RaigorJiang commented on #18973
Hi @williamXinCC @linghengqian
Has this issue been resolved after the calcite upgrade?

[2022-09-15 01:31] strongduanmu opened #20987 "PSQLException: ERROR: Cannot find JDBC type '0' in PostgreSQL column type occurs when run integration test with ADVANCED type"
[ERROR] 2022-09-15 09:06:08.722 [main] o.a.s.t.i.f.watcher.ITWatcher - Error case: assertExecuteQuery[proxy: db -> PostgreSQL -> Literal -> SELECT i.* FROM t_order o, t_order_item i WHERE o.order_id = i.order_id AND o.status = 'init' ORDER BY o.order_id DESC, 1], message: org.postgresql.util.PSQLException: ERROR: Cannot find JDBC type '0' in PostgreSQL column type
	at org.postgresql.core.v3.QueryE

[2022-09-15 02:21] wuwen5 commented on #18738
@TeslaCN `5.1.3` It is not released. Is it released in `5.2.0`?

[2022-09-15 02:38] JiekerTime opened #20989 "Completing RDL-SingleTable-related documentation"
We are currently refactoring the documentation related to DistSQL, and we need the community's help to improve the following statements together.
- [x] `ALTER DEFAULT SINGLE TABLE RULE`
- [x] `DROP DEFAULT SINGLE TABLE RULE`

You can refer to the syntax from the [existing documentation](https://shardingsphere.apache.org/document/current/en/reference/distsql/syntax/rdl/rule-definition/single-table/

[2022-09-15 03:06] yx9o commented on #20478
@sunkai-cai Hi, is this work in progress?

[2022-09-15 03:23] strongduanmu commented on #18738
@wuwen5 Yes, the latest version is `5.2.0`. Currently, there is a bug in github, we cannot update 5.1.3 to 5.2.0, we will try to update milestone again after this bug is fixed.

[2022-09-15 03:27] Qianyi951015 opened #20991 "RAL example in document used wrong symbol"
## The RAL "Alter transaction rule"example in document was using wrong symbol(for both English and Chinese version)
Some of the quotation marks in this example are displayed as full-width symbols(show in figure). After inspection, it is found that the quotation marks in the markdown document are all correct half-width symbols. It is inferred from this that the problem may be caused by front-end re

[2022-09-15 03:43] #20738 closed

[2022-09-15 04:01] pengdafu opened #20993 "Cluster Mode For Zk err"
## Question

We have many single tables, When we use ZK as the registry, we get an error：

[code]

[2022-09-15 07:21] TeslaCN commented on #20810
Hi @null-sys
Assigned.

[2022-09-15 07:40] wsm12138 opened #20998 ""ERROR 1046 (3D000): No database selected",`preview sql` can't act as nomale sql ，even though i appoint database in sql"
## Bug Report

### Which version of ShardingSphere did you use?
f44e5d3c09a38139dbb2e1b0548816aa572ccc3c
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
preview select have same action like select
### Actual behavior
<img width="661" alt="image" src="https://user-images.githubusercontent.com/86462784/190343708-10ab6ccc-e3ca-4e7

[2022-09-15 07:42] Mrljt497 opened #20999 "mybatisPlus selectCount RenException"
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and

[2022-09-15 07:53] zhaojinchao95 commented on #20802
Ok, i will assign you

[2022-09-15 09:44] Mrljt497 opened #21002 "Project startup error Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required"
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and

[2022-09-15 14:55] linghengqian commented on #18973
- My local test looks normal, and the issue does not give a reproducible example to test.  For more issues with Calcite, I think we can move to https://github.com/apache/shardingsphere/issues/20982 .

[2022-09-15 14:59] linghengqian commented on #20999
- You need to give a minimal reproducible example.  I have not tested such a problem locally.

[2022-09-16 00:27] #20987 closed

[2022-09-16 01:51] justbk2015 commented on #19149
please modify CachedDatabaseMetaData.java:getRowIdLifetimeFromOriginMetaData , catch SQLFeatureNotSupportedException to SQLException, because getRowIdLifetime in hikari will throw SQLException!

[2022-09-16 02:04] TeslaCN commented on #19149
I don't think the Hikari will change the cause.

<img width="753" alt="image" src="https://user-images.githubusercontent.com/20503072/190540528-e99c3d11-6719-4357-b1e1-8010b7865a0a.png">

<img width="661" alt="image" src="https://user-images.githubusercontent.com/20503072/190540543-a9a0c4ac-32ad-42b1-8d6b-8c2424351255.png">

<img width="1026" alt="image" src="https://user-images.githubusercontent.

[2022-09-16 02:25] #20710 closed

[2022-09-16 03:21] tianhao960 commented on #16650
hi, @wayinit , I've tested on master branch and not reproduce the behavior you describe. could you try the new release like 5.2.0?
![1663298463916](https://user-images.githubusercontent.com/1155952/190549818-a3136248-b42c-4491-9642-5cc16fe8479b.jpg)

[2022-09-16 03:26] zhaojinchao95 opened #21010 "Unknown exception occurred when drop index"
### Which version of ShardingSphere did you use?

`5.2.0`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/33742097/190550331-36598518-af60-4ff9-8be3-a96a4eef8d69.png">

[2022-09-16 03:58] zhaojinchao95 commented on #17204
Hi, i am sort out what needs to be done. @FlyingZC Can you do it with me?

- [ ] Add search path configuation for server.yaml props
- [ ] Refactor metadata structure
- [ ] Check all schemas are consistent
- [ ] Set search path to jdbc url
- [ ] Refactor get schema logic
- [ ] Clear up session search path

[2022-09-16 04:02] FlyingZC commented on #17204
Ok,I'd like to try that.

[2022-09-16 04:56] Swastyy opened #21011 "Wiki updation"
Some of the links in Wiki are not working - for example [Get Involved resource](https://shardingsphere.apache.org/community/en/contribute/), and etc.

PS: Found this through an OSD'22 participant. Link to [thread](https://gracehopperosd.slack.com/archives/C03U8UB2N03/p1663303308306069?thread_ts=1663298222.183499&cid=C03U8UB2N03)

[2022-09-16 07:51] peilinqian opened #21013 "After executing the "create sharding binding table rules (t_ssdb_tb_view, t_ssdb_tb);" statement, an error will be reported when the next SQL statement is executed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-16 08:04] FlyingZC opened #21014 "Add more unit test for DataSourceStateManager"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/28487.

### Aim
Add more unit tests for DataSourceStateManager to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere

### Basic Qualifications
Java
Maven
Junit

[2022-09-16 08:08] FlyingZC commented on #21013
Will this operation cause the data source to be closed, which will cause the transaction manager to be closed. @zhaojinchao95

[2022-09-16 08:16] FlyingZC opened #21015 "Add more unit test for DataSourceState"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

### Aim
Add more unit tests for `DataSourceState` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere

### Basic Qualifications
Java
Maven
Junit

[2022-09-16 08:40] FlyingZC commented on #21013
<img width="489" alt="image" src="https://user-images.githubusercontent.com/19788130/190595597-b32d0989-cf8a-4493-b536-48b8d27d14ad.png">

[2022-09-16 08:44] FlyingZC opened #21016 "Add more unit test for BootstrapArguments"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

### Aim
Add more unit tests for `BootstrapArguments` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere

### Basic Qualifications
Java
Maven
Junit

[2022-09-16 09:02] Gangplank0 opened #21017 "When using ShardingSphere-Proxy, after replacing the config-sharding.yaml configuration file with DistSQL, some SQL statements report an error"
Add Resource and create sharding rules with DistSQL, but no sharding table was created, because the sharding table was already created when using the config-sharding.yaml configuration file.
When using SELECT COUNT(*), an error is reported.
**"Unknown exception: Cannot invoke "org.apache.shardingsphere.infra.metadata.database.schema.decorator.model.ShardingSphereTable.getColumns()" because "table"

[2022-09-16 09:16] wsm12138 opened #21018 "About start.sh, I can't start Proxy designated port with pleasure ？"
## Bug Report

### Which version of ShardingSphere did you use?
91d2d46cf9ea4d139478c2c9c6de8734ade7d4a1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
start proxy with port 4444 and ignore unavailable DataSource
### Actual behavior
start failed
### Reason analyze (If you can)
![image](https://user-images.githubusercontent.com

[2022-09-16 09:43] FlyingZC opened #21020 "Add more unit test for YamlSQLParserRuleConfigurationSwapper"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

### Aim
Add more unit tests for `YamlSQLParserRuleConfigurationSwapper` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere

### Basic Qualifications
Java
Maven
Junit

[2022-09-16 09:48] FlyingZC opened #21021 "Add more unit test for SQLParserRuleQueryResultSet"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

### Aim
Add more unit tests for SQLParserRuleQueryResultSet to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere

### Basic Qualifications
Java
Maven
Junit

[2022-09-16 09:54] FlyingZC commented on #21018
I want to investigate the issue. @strongduanmu

[2022-09-16 10:35] peilinqian commented on #19102
[code]

[2022-09-16 10:44] wsm12138 commented on #19102
@zhaojinchao95  @RaigorJiang
plz help have a look

[2022-09-16 11:00] zhaojinchao95 commented on #19102
This problem cause are `DistSQL` update memory metadata first, and then, call `governance api` to persist configuration. compute node listen zk event to rebuild readwrite rule throws error, this work flow are asynchronous.

[2022-09-16 11:10] RaigorJiang commented on #20502
Related to #19102

[2022-09-16 11:10] #20502 closed

[2022-09-16 14:00] zhaojinchao95 commented on #21017
@Gangplank0 Hi, which proxy version?

[2022-09-16 15:55] RaigorJiang opened #21024 "Remove invalid proxy props from documentation."
Hi community,

This issue is for #20305.

### Background

In ShardingSphere-Proxy, the following  props have been removed, now we need to remove these instructions from the [documentation](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/yaml-config/props/).

- proxy-opentracing-enabled

- check-duplicate-table-enabled

### Aim

Remove `proxy-opentracing-enabl

[2022-09-16 16:07] aishwaryasharmaccoew commented on #21024
Hello, I think this would be a good issue for me to start contributing.
Could you please assign it to me

[2022-09-16 16:07] ayushis380 commented on #21024
Hi Community,
I want to pick this issue. I am doing this for the first time and want to start with an easy one.

[2022-09-16 16:26] RaigorJiang commented on #21024
Hi @ayushis380
Sorry, I just assigned the issue to @aishwaryasharmaccoew  because she made the request first, thank you!

[2022-09-16 16:28] Swastyy commented on #21024
And @ayushis380 , you can comment on other good first issues.

[2022-09-16 16:33] ayushis380 commented on #21011
Hi @Swastyy, I think the above link in Wiki is working now. [Get Involved resource](https://shardingsphere.apache.org/community/en/involved/contribute/). I tried opening it, and it doesn't give any errors.

[2022-09-16 16:36] Swastyy commented on #21011
yeah @ayushis380 just checked now. Thanks to @RaigorJiang for fixing them.

[2022-09-16 16:43] li3317 commented on #21014
Hello! May I try this issue?

[2022-09-16 16:46] terrymanu commented on #21014
Sure, I just assign to you

[2022-09-16 17:45] nnomier commented on #20362
Hello ! Can I work on this issue?

[2022-09-16 18:11] TeslaCN commented on #20362
@nnomier Welcome!

[2022-09-16 19:07] anamendes23 commented on #20390
I will work on this issue.
Would someone please assign it to me?

[2022-09-16 19:09] TeslaCN commented on #20390
Hi @anamendes23 Welcome!

[2022-09-16 19:38] Swastyy commented on #21011
reopening for other pages links like https://github.com/apache/shardingsphere/wiki/How-to-Set-Up-Your-Dev-Environment

[2022-09-16 19:44] TeslaCN commented on #21011
Thanks. I've fix the links in https://github.com/apache/shardingsphere/wiki/How-to-Set-Up-Your-Dev-Environment

[2022-09-16 19:45] #21011 closed

[2022-09-16 22:40] #21024 closed

[2022-09-17 00:12] #20362 closed

[2022-09-17 01:30] Gangplank0 commented on #21017
5.2.0

[2022-09-17 01:56] zhaojinchao95 commented on #21017
Execute Refresh table metadata after when you create &nbsp;sharding table rule. Please try it again

------------------ Original ------------------
From: Socialist ***@***.***&gt;
Date: Sat,Sep 17,2022 9:30 AM
To: apache/shardingsphere ***@***.***&gt;
Cc: zhaojinchao ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [apache/shardingsphere] When using ShardingSphere-Proxy, afterreplacing the co

[2022-09-17 02:16] Gangplank0 commented on #21017
it works.Thank you very much!

[2022-09-17 02:33] zhaojinchao95 commented on #21017
Ok! Actually, `Refresh table metadata` command is redundant and will not need to be executed in the next version

[2022-09-17 02:56] Gangplank0 commented on #21017
Ok! looking forward to the new release

[2022-09-17 02:56] #21017 closed

[2022-09-17 06:37] linruzhou opened #21032 "shardingsphere5.2 cannot use druid with Password encryption"
The following configuration can be used in shardingsphere5.1.1, but it is error to use in shardingsphere5.2

spring:
  shardingsphere:
    datasource:
      names: testss
      testss:
        type: com.alibaba.druid.pool.DruidDataSource
        name: testss
        username: testdb
        password: WJFBeNnNARnNnN0QHlaysEkRuoZrT2H+4bWuOyH7VHkXsdZkg5JgIdjonoNk2UaL7zleLKEkUv8HUbV280tAlw==
        u

[2022-09-17 06:51] linruzhou commented on #21002
可能是 你配置了多个datasource，但是没指定shardinsphere创建的datasource为Primary

[2022-09-17 07:09] linghengqian commented on #21032
- I suggest you use double **```** to format the markdown part of your issue, your description is too difficult to understand.
- This is obviously because `org.apache.shardingsphere.infra.util.yaml.constructor.ShardingSphereYamlConstructor` did not take into account the unique use case of `Alibaba Druid`, which uses Class to save configuration, and the unit test currently only includes `HikariCP`,

[2022-09-17 08:18] qiudao123456 opened #21034 "MYSQL limit size be changed to 2147483647 when i using group by and group item`s count > 2"
### Which version of ShardingSphere did you use?
5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

`Logic SQL: SELECT count(1) AS group_data_count, student.*  FROM student  where class_name is not null and student_name is not null GROUP BY class_name,student_name HAVING count(1) > 1 ORDER BY id ASC LIMIT 100`

### Act

[2022-09-17 08:41] RaigorJiang commented on #20936
Yes, modifying `start.sh` is a bit fiddly, especially in a container environment.
We should consider a way to quickly control whether to start the agent or not.

[2022-09-17 08:59] zengpeng5281314 opened #21035 "sharding sql rewrite error"
## Bug Report

### Which version of ShardingSphere did you use?
shardingsphere 5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
execute jpa sql

@Modifying(clearAutomatically = true,flushAutomatically = true)
	@Transactional
	@Query(value="update mail_label set label_name = :labelName ,label_color = :labelColor, update_user

[2022-09-17 09:12] RaigorJiang commented on #20914
In fact, the execution of DistSQL is not limited by the backend DB type.
DistSQL is mainly used to manage the config & metadata of ShardingSphere, including resources and rules in the logic database.

If Proxy supports more database types in the future, it will have little effect on DistSQL.

[2022-09-17 09:15] linghengqian commented on #20914
Thanks for your answer.

[2022-09-17 09:15] #20914 closed

[2022-09-17 09:38] strongduanmu commented on #20912
Hi @linghengqian, `AlgorithmShardingRuleConfiguration` should refer to `AlgorithmProvidedShardingRuleConfiguration`, the documentation should be wrong. It is mainly suitable for Spring scenarios, Spring will help us complete the initialization of algorithm objects, and `ShardingRuleConfiguration` is suitable for non-Spring environments.

I also find it confusing to have two similar classes, are yo

[2022-09-17 09:44] linghengqian commented on #20912
@strongduanmu
- I'm stumped because some of my local attempts are affected by the strange behavior of `org.apache.shardingsphere.mode.manager.ContextManager#alterRuleConfiguration`. The strange behavior I'm referring to ends up being something like https://github.com/apache/shardingsphere/issues/20952.

- I'd like to have other friends to try the work of merge the two classes.

[2022-09-17 09:46] strongduanmu commented on #20912
@linghengqian This exception may be caused by wrong metadata, we will investigate it later.

[2022-09-17 14:40] wuwen5 commented on #19001
This update breaks the compatibility,the version upgrade brings a lot of trouble. In our application scenario, it is very simple. We only need the default memory mode. We do not want to use the h2 memory database in production.
And in our build configuration the maven dependency scope of h2 is test.

It seems that the file storage implementation has also been deleted in this update. I suggest rest

[2022-09-17 15:05] linghengqian commented on #20912
- I will try to verify after https://github.com/apache/shardingsphere/pull/21037 is merged.

[2022-09-17 15:13] zhaojinchao95 opened #21038 "`mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Dspotless.apply.skip=true -Djacoco.skip=true -Prelease` build occasionally fail"
### Which version of ShardingSphere did you use?

master https://github.com/apache/shardingsphere/commit/fcfdb2b01596926230fb096747ad6993f0493284

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

Sometimes build fail when i execute the `mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Dspotless.apply.skip=true -Djacoco.skip=true  -

[2022-09-17 16:42] RaigorJiang commented on #17423
@yx9o Completed, thank you!

[2022-09-17 16:42] #17423 closed

[2022-09-17 17:06] linghengqian commented on #19845
- Since the PR has been merged, this issue is no longer meaningful, and I will submit a documentation-related PR to close this issue soon.  I may try to address the need for unit testing within GraalVM's Native Image via JUnit Platform integration in a new issue.

[2022-09-17 17:37] linghengqian commented on #20951
- Can you make a minimal reproducible example using h2database?  The configuration you gave is not complete, I tried to verify it locally and it was successful.

[2022-09-18 02:29] linghengqian opened #21043 "Update snakeyaml to 1.31 or 1.32 to fix unit tests"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes, refer to https://

[2022-09-18 05:34] linghengqian commented on #20963
- I am working on this issue.

[2022-09-18 05:44] linghengqian commented on #11650
- There is a problem, ShardingSphere JDBC SpringBoot Starter is still using `spring-context-4.3.25.RELEASE` instead of `spring-context-5.x`, which causes `org.springframework.context.annotation.Configuration` not to exist `proxyBeanMethods` properties.

- Considering issues like https://github.com/apache/shardingsphere/issues/20963 , I think we should drop ShardingSphere JDBC SpringBoot Starter su

[2022-09-18 06:26] linghengqian commented on #21043
I am working on this issue.

[2022-09-18 07:55] linghengqian commented on #11650
- I noticed that the git record actually used Spring Framework 5.x for a while, but was reverted.  I will be submitting a PR to drop support for Spring Boot OSS 1.X shortly.

[2022-09-18 08:30] RaigorJiang commented on #16353
Closed due to no reply for a long time.

[2022-09-18 08:30] #16353 closed

[2022-09-18 08:30] RaigorJiang commented on #16998
Closed due to no reply for a long time.

[2022-09-18 08:30] #16998 closed

[2022-09-18 08:32] RaigorJiang commented on #19521
Closed due to no reply for a long time.

[2022-09-18 08:32] #19521 closed

[2022-09-18 09:16] zhaojinchao95 commented on #18747
The problem are fixed in `master` branch, so i will close it.

[2022-09-18 09:16] #18747 closed

[2022-09-18 09:42] pjfanning commented on #21043
1.32 has security fixes (as does 1.31) - so it is good to upgrade anyway.
* https://github.com/advisories/GHSA-9w3m-gqgf-c4p9
* https://github.com/advisories/GHSA-c4r9-r8fh-9vj2

[2022-09-18 09:50] linghengqian commented on #21034
- I have the impression that this issue was fixed in an issue in the past.  Can you reproduce with ShardingSphere 5.2.0?

[2022-09-18 14:32] FileNotFoundExcetion opened #21049 "binding tables"
When the sharding rule is consistent with the sharding algorithm, the sharding key of the binding table does not seem to support multiple sharding keys, only a single sharding key is supported..

The above phenomenon is discovered by experiment. Whether Sharding is designed in this way

[2022-09-18 14:57] sunkai-cai commented on #20478
sorry，i was late.

[2022-09-18 17:41] 726411951 commented on #20951
@linghengqian Hi, this is the demo and run successfully on version 5.1.1
[demo](https://github.com/726411951/sharding-database-demo)

[2022-09-18 18:03] linghengqian opened #21051 "Build GraalVM Native Image nightly for ShardingSphere Proxy"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Yes, this issue contin

[2022-09-18 18:05] linghengqian commented on #21051
- I am working on this issue.  Maybe there won't be a corresponding PR soon, I'm still working on some issues that might be solved from a graalvm perspective.

[2022-09-19 00:26] tianhao960 commented on #20815
hi, @terrymanu , I'd like to try this.

[2022-09-19 00:38] strongduanmu opened #21052 "SQLException: Unknown exception: null occurs when execute `SELECT GROUP_CONCAT(i.item_id SEPARATOR ';') AS item_ids FROM t_order_federate o INNER JOIN t_order_item_federate_sharding i ON o.order_id = i.item_id WHERE i.order_id >= ?`"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/9c83948cdb49af429851eb2eca9ce10da9dfb7a7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `SELECT GROUP_CONCAT(i.item_id SEPARATOR ';') AS item_ids FROM t_order_federate o INNER JOIN t_order_item_federate_

[2022-09-19 00:38] strongduanmu commented on #21052
Ref #19580.

[2022-09-19 01:38] FlyingZC commented on #21013
Sorry, I can't reproduce the bug,version: f1cab653542d80b9a2b7a5cb4d39c3277862ecda, cluster mode. @peilinqian
<img width="808" alt="image" src="https://user-images.githubusercontent.com/19788130/190937624-3400a084-afee-4653-8932-b59a4880415c.png">
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/19788130/190937687-191d3e29-d153-47dc-bdce-750daa01911e.png">

[2022-09-19 02:17] zhaojinchao95 opened #21053 "Throws java.sql.SQLException: null when compile"
### Which version of ShardingSphere did you use?

`master` https://github.com/apache/shardingsphere/commit/9c83948cdb49af429851eb2eca9ce10da9dfb7a7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

`mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Dspotless.apply.skip=true -Djacoco.skip=true  -Prelease`

[code]

[2022-09-19 02:24] FlyingZC commented on #21018
Maybe mixing the -xxx parameter with and without the -xxx parameter was not supported before.
<img width="483" alt="image" src="https://user-images.githubusercontent.com/19788130/190940367-68093f8f-b405-4e00-997a-911fb2573fc5.png">

[2022-09-19 02:25] LeeGuoPing commented on #21053
I will have a try, dear zhaojinchao95

[2022-09-19 02:37] FlyingZC commented on #20046
You can configure narayana log file like this:
[code]

[2022-09-19 02:38] FlyingZC commented on #20046
Now DistSQL displays the rule information. The rule information comes from user configuration. At present, there is not much configuration information on the transaction side,so very little information is shown.

[2022-09-19 02:56] #20046 closed

[2022-09-19 02:56] #21018 closed

[2022-09-19 02:59] strongduanmu commented on #21052
Fixed by https://github.com/apache/shardingsphere/pull/21054.

[2022-09-19 02:59] #21052 closed

[2022-09-19 03:35] FlyingZC commented on #21013
<img width="823" alt="image" src="https://user-images.githubusercontent.com/19788130/190945744-2d2d07ca-f0a9-4be8-97ec-15fdc99b62d8.png">

[2022-09-19 03:40] Qianyi951015 opened #21055 "No error exception when creating a sharding strategy by using a inconsistent type from the sharding algorithm type"
## Bug Report

### Which version of ShardingSphere did you use?
master 9c83948cdb49af429851eb2eca9ce10da9dfb7a7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Error exception by Invalid algorithms.
### Actual behavior
Successful created sharding strategy with no exception.
### Reason analyze (If you can)
The type verification

[2022-09-19 05:48] strongduanmu commented on #15594
Fixed by #20872

[2022-09-19 05:48] #15594 closed

[2022-09-19 06:05] Qianyi951015 opened #21058 "No error exception when drop all sharding broadcast table rules with no sharding broadcast table rule in database"
## Bug Report

### Which version of ShardingSphere did you use?
master 9c83948cdb49af429851eb2eca9ce10da9dfb7a7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Error exception by sharding broadcast table rules unexist
### Actual behavior
Drop sharding broadcast table rules successfully
### Screenshot
![171663567311_ pic](https:

[2022-09-19 06:59] Qianyi951015 opened #21061 "No error exception when Alter unexist sharding binding table rule"
## Bug Report

### Which version of ShardingSphere did you use?
master 9c83948cdb49af429851eb2eca9ce10da9dfb7a7
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
error exception by sharding binding table rule do not exist.
### Actual behavior
Alter sharding binding table rule successful and create a sharding binding table rule

#

[2022-09-19 07:44] Mrljt497 opened #21062 "Cause: java.lang.IllegalStateException: All tables must be in the same datasource"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-19 08:53] wsm12138 opened #21066 "use `overwrite=true` & yaml, replace logic db in zk"
## Bug Report

### Which version of ShardingSphere did you use?
91d2d46cf9ea4d139478c2c9c6de8734ade7d4a1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
show real table in logic db now
### Actual behavior
show tables in logic db before

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execut

[2022-09-19 09:21] jiangML opened #21067 "Refactor the agent configuration file"
## Feature Request

### Is your feature request related to a problem?
 no
### Describe the feature you would like.

1. The agent configuration file does not correspond to the module structure.
2. 'ignoredPluginNames' is difficult for users to understand.

#### Current agent.yml
[code]

####  Expected agent.yml
[code]

[2022-09-19 09:24] RaigorJiang commented on #21067
Good suggestion.

[2022-09-19 11:00] RaigorJiang commented on #21061
Hi @Qianyi951015,Thanks for your feedback!

[2022-09-19 12:50] #15592 closed

[2022-09-19 13:49] zhaojinchao95 commented on #21066
@wsm12138 Now, Proxy start up load governance center tables when governance center has tables. i see your datasource configuration `db` has changed. Do you think `db` has changed should be compare local and remote?

[2022-09-19 14:08] zhaojinchao95 opened #21072 "Add some integration test case for DistSQL RDL"
Hi community,

## Aim :

Add some integration test case for [RDL](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/)

## How to do

1. You need to know about the integration test module [shardingsphere-integration-test-suite](https://github.com/apache/shardingsphere/tree/master/shardingsphere-test/shardingsphere-integration-test/shardingsphe

[2022-09-19 14:19] zhaojinchao95 commented on #20993
Maybe you should adjustment zk configuation? https://stackoverflow.com/questions/33408978/solr-zookeeper-cli-failing-ioexception-packet-len-is-out-of-range

[2022-09-19 14:48] tianhao960 commented on #20989
hi, @JiekerTime , I'd like to try this.

[2022-09-19 14:57] longfangwei opened #21074 "Caused by: java.lang.IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required"
shardingsphere5.1.1,druid 1.2.8

If rules key is added, the project startup will report Caused by: java. lang.IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required. If rules key is not added, the user-defined table splitting policy will not be followed

[2022-09-19 15:17] linghengqian commented on #21074
- You must provide a minimal reproducible example and provide reproducible steps based on the issue template. ShardingSphere does not use `sqlSessionFactory` or `sqlSessionTemplate`.

[2022-09-19 22:02] #17848 closed

[2022-09-20 01:25] pengdafu commented on #20993
Using the -d option to adjust the value of 'jute.maxbuffer' when starting Sharding can solve the problem.

[2022-09-20 01:25] #20993 closed

[2022-09-20 01:53] #19845 closed

[2022-09-20 02:05] TeslaCN commented on #21051
I remember that building GraalVM Native Image consumes a lot of memory (I used GraalVM Native image in 2020, it took  20~30 GB to compile a not complicate project to Native Image). Machine of GitHub Actions only have 7 GB RAM.

[2022-09-20 02:07] longfangwei commented on #21074
ok

[2022-09-20 02:14] linghengqian commented on #21051
- FYI, for the old version of `GraalVM 22.0`, Github Action needs to be adjusted to 10G memory, refer to Okta Dev's survey https://developer.okta.com/blog/2022/04/22/github-actions-graalvm .

- However, the GraalVM team does claim that `GraalVM 22.2` greatly improves the memory footprint of Native Image, see https://github.com/graalvm/setup-graalvm/issues/6#issuecomment-1215158672 .

[2022-09-20 02:16] TeslaCN commented on #21051
Could ShardingSphere-Proxy be compiled to Native Image at present?

[2022-09-20 02:18] 13145512239 opened #21079 "query not include sharding column"
## Question
When a DQL not include sharding column, it will quert table one by one and then merge, I want to know if this process is sing threaded or multi-threaded. Looking forward to your reply.

[2022-09-20 02:29] linghengqian commented on #21051
- The answer is no, the build for ShardingSphere Proxy is almost certain to fail, which is influenced by many factors.

- But once we have such a CI task to provide continuous tracking of build errors, we can submit Graal reachability metadata related to third-party libraries or ShardingSphere itself to https://github.com/oracle/graalvm-reachability-metadata , which will help the construction of S

[2022-09-20 02:36] TeslaCN commented on #21079
This relates to the following props:
[code]

[2022-09-20 02:49] longfangwei opened #21081 "shardingsphere5.1.1 因为rules启动导致Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required"
### Which version of ShardingSphere did you use?
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.1.1</version>
</dependency>
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Database sub database and tabl

[2022-09-20 03:00] #18381 closed

[2022-09-20 03:08] lwk595ww opened #21082 "子查询外层和内层都带有分片，自定义分片返回的表明失效，导致全分片查找"
![image](https://user-images.githubusercontent.com/64793990/191157657-716ecc7e-a213-48e8-a8b2-a56382877660.png)

ShardingSphere版本：5.1.2

Sql 语句：select t10.* from user t10  where t10.id in (select user_id from school t11 where  t11.tenantId = 'caba6901') and t10.tenantId = 'caba6901'

问题描述：在子查询中，嵌套的子查询带有分片键，外层也带有分片键，能够进入自定义分片逻辑，但是自定义分片逻辑返回的表明最终没有被应用。框架最终还是全分片查找。

测试情况：目前当子查询没有分片条件或外层没有分片条件，只有有分片的表会

[2022-09-20 03:12] #21074 closed

[2022-09-20 03:12] hyz1994121 opened #21083 "shardingsphere 5.2 version, Failed to instantiate [org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource]: Constructor threw exception;"
shardingsphere-jdbc-core-spring-namespace version old 5.1.1 to new 5.2.0
project start, i got error logs,
Failed to instantiate [org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource]: Constructor threw exception; nested exception is Can't construct a java object for tag:yaml.org,2002:com.alibaba.druid.filter.stat.StatFilter; exception=Class is not accepted: com.alibaba.dr

[2022-09-20 04:01] local-li opened #21084 "I can't close all proxy connections to mysql I can't close all proxy connections to mysql"
When I close HikariDataSource all thread pool connections, they close normally.

But when I show processlist on mysql server side; When the command is to view the connection, the proxy still maintains a connection. And this connection disappeared when I killed the proxy process.

(Force GC cannot be closed at this time)

I thought it was the connection generated by the transaction manager and did

[2022-09-20 04:11] djmirv opened #21085 "Help! sharding namespace 5.1.0, i met such NoClassDefFoundError of class BaseRule"
Error output:
org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource]: Constructor threw exception; nested exception is java.lang.NoClassDefFoundError: org/apache/shardingsphere/underlying/common/rule/BaseRule

Does 5.1.0  intro has problem???
My Ref:
https://shardingsphere.apache.org/document/5.1.1/cn/user-manual/shardingsphere-jdbc/spring-namespace/rules/mix/

My code:
<s

[2022-09-20 04:24] yx9o commented on #21061
I want to investigate.

[2022-09-20 04:26] yx9o commented on #21061
@Qianyi951015 Can you provide the statement for creating a sharding rule? thanks

[2022-09-20 04:30] Qianyi951015 commented on #21061
@yx9o  Hi here is an example for creating a sharding table rule
[code]

[2022-09-20 04:34] Qianyi951015 commented on #21061
@yx9o May be you also need key generator for creating the sharding table rule
[code]

[2022-09-20 06:04] #21032 closed

[2022-09-20 06:15] linghengqian commented on #20951
@726411951
- I found out that this is nothing but your configuration issue. Your configuration is very confusing. 🤷‍♂️
- Refer to https://github.com/linghengqian/sharding-database-demo/commit/ae37f388bda6a282623f1b3aedc19d8b7446ed1c.

[2022-09-20 06:29] #21043 closed

[2022-09-20 07:00] 726411951 commented on #20951
@linghengqian So cooooool ! It's very helpful to me :satisfied: I

[2022-09-20 07:00] #20951 closed

[2022-09-20 07:09] #20722 closed

[2022-09-20 07:10] #20728 closed

[2022-09-20 07:46] RaigorJiang opened #21088 "Use an existing algorithm to create a shadow rule."
## Feature Request

### Is your feature request related to a problem?
No.

### Describe the feature you would like.
In DistSQL, we can create shadow algorithms alone, but we lack a way to specify algorithms when creating rules.
Reference: https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/shadow/

We should improve the syntax o

[2022-09-20 09:47] qiudao123456 commented on #21034
Thank you. I'll try later

[2022-09-20 09:47] #21034 closed

[2022-09-20 09:53] mxli441 opened #21090 "ShardingSphere-proxy+opengauss+etcd 主库切换后，ShardingSphere-proxy未识别新的主库"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-20 10:05] yx9o commented on #21088
I want to try.

[2022-09-20 10:27] zhaojinchao95 commented on #21090
@mxli441 Hi, can you translate Chinese to English ? Thank you

[2022-09-20 10:29] zhaojinchao95 commented on #20681
Hi everyone, this issue has some problem. I will rearrange, So i close it.

[2022-09-20 10:29] #20681 closed

[2022-09-20 10:42] zhaojinchao95 opened #21092 "Enhanced standalone mode and make it persist metadata"
Hi community,

  Now, ShardingSphere `Standalone` mode default use `h2` database memory mode. It 's not enough, Because some metadata are need to persist, such as : `view`. So i think we need to  enhance it and make it persistent.

[2022-09-20 10:45] zhaojinchao95 commented on #21092
@itmachen Hi, can you look this?

[2022-09-20 11:51] itmachen commented on #21092
ok

[2022-09-20 14:20] tianhao960 commented on #20397
hi, I 'd like to try this.

[2022-09-20 15:57] #20478 closed

[2022-09-20 19:21] I-Love-China opened #21099 "Local transaction will be broken while max-connections-size-per-query greater than 1"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-21 00:37] strongduanmu commented on #20397
@tianhao960 Welcome, I just assign this issue to you.

[2022-09-21 01:28] #21090 closed

[2022-09-21 01:34] mxli441 opened #21100 "shardingsphere-proxy+etcd+opengauss can't recongnize new primary db after switchovering"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-21 01:47] local-li commented on #21084
Yes, but it is not that I have not closed the data source of the sharding agent. Instead, the XADataSource and XAConnection used for XA transaction generation cannot be closed immediately.

[2022-09-21 01:56] 2013650523 opened #21101 "Does this component support encryption and decryption for big data, Hive, hbase and other components?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-21 01:59] Mrljt497 opened #21102 "Caused by: java.lang.NullPointerException: null"
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and

[2022-09-21 02:03] linghengqian commented on #21101
- HBase should be allowed to use only SQL92, but such unit tests have never existed, nor have antlr4 files that deal with Hbase's proprietary syntax.

- I think this issue is blocked by https://github.com/apache/shardingsphere/issues/14061 . If you're happy to submit some PRs to push for better unit tests, it may be resolved sooner.

[2022-09-21 02:17] 2013650523 commented on #21101
I do not understand the principle of ShardingSphere. May I ask whether using ShardingSphere can achieve seamless interception of agents directly from the bottom layer, or do I need to change the service configuration or code to access the agent layer?

[2022-09-21 02:28] linghengqian commented on #21101
- For a general RDBMS, ShardingSphere Proxy will virtualize a data source, and whether it uses the MySQL dialect or the PostgreSQL dialect depends on your choice.  ShardingSphere JDBC does the same, but the dialect used depends on the connected database.

- For HBase, I have the impression that the master branch never existed unit tests. For Apache Phoenix unit tests, everything with NoSQL is a bi

[2022-09-21 02:30] hyz1994121 commented on #21083
is there anyone can help me?

[2022-09-21 02:31] zhaojinchao95 commented on #21081
@longfangwei Hi, can you translate title to english and describe your problem in the provided template?

[2022-09-21 02:32] Qianyi951015 opened #21103 "Cannot use a separately created shadow algorithm to create a shadow rule (lack of syntax)"
## Feature Request

### Is your feature request related to a problem?
No
### Describe the feature you would like.
There is a syntax for creating a shadow algorithm separately in Distsql, but cannot use a separately created shadow algorithm to create a shadow rule(I'v already check the Antler file). This makes it moot to create the shadow algorithm alone.
Please complete the syntax of using shadow

[2022-09-21 02:33] zhaojinchao95 commented on #21082
@lwk595ww Hi, it 's only support questions in English.  Please translate your issue.

[2022-09-21 02:37] zhaojinchao95 commented on #21102
@Mrljt497 Hi, according to your error message, I don't see error log about `ShardingSphere`.

[2022-09-21 02:40] linghengqian commented on #21083
- I suggest you use **```** to format the syntax part of your markdown, and fill in the reproduction steps through the issue template.

- At the same time you need to provide a git repository pointing to a minimal reproducible example using h2database.  The configuration you provided is incomplete, and I tested it locally without any problems.

[2022-09-21 02:42] zhaojinchao95 commented on #21100
@mxli441 Hi, thank you for your feedback, the `etcd` does not support the detect of the db, ShardingSphere use `Elastic-job ` to detect db status. So, you can use ZooKeeper and try it.

[2022-09-21 02:54] zhaojinchao95 opened #21104 "ContextManager.dropResources miss rebuild TransactionRule"
## Bug Report

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

 Renew MetaDataContexts to reBuild TransactionRule

### Actual behavior

Miss reBuild TransactionRule

[code]

[2022-09-21 03:26] hyz1994121 commented on #21083
do you use the alibaba.druid for datasource?
which version do you use druid ?

[2022-09-21 03:40] linghengqian commented on #21083
- I tested using `com.alibaba:druid:1.2.12`.  For Alibaba Druid's plugin, you need to use its Java API to configure it.

- I can tell you that Alibaba Druid's Spring Boot Starter is **inherently buggy** and **under-maintained** for a long time, which brings a lot of unknown behavior and you need to steer clear of its Spring Boot Starter.  Refer to https://github.com/alibaba/druid/issues/4673.

- T

[2022-09-21 03:43] wsm12138 commented on #20952
fixed
<img width="980" alt="image" src="https://user-images.githubusercontent.com/86462784/191409485-c871e407-5a13-4331-abd5-14a78c2d79a5.png">

[2022-09-21 03:43] #20952 closed

[2022-09-21 03:51] ling185831070 opened #21106 "1114 - Invalid sharding algorithms [INTERVAL]."
CREATE SHARDING TABLE RULE sn_log (
RESOURCES ( ds_2, ds_3, ds_4 ),
SHARDING_COLUMN = created,
TYPE (
NAME = "INTERVAL",
PROPERTIES ( "datetime-pattern"="yyyy-MM-dd HH:mm:ss","datetime-lower"= "2016-01-01 00:00:00", "datetime-upper"= "2021-12-31 00:00:00", "sharding-suffix-pattern"="yyyyMM","datetime-interval-amount"="1", "datetime-interval-unit"="Months")
),
KEY_GENERATE_STRATEGY ( COLUMN = id, T

[2022-09-21 03:53] ling185831070 commented on #21106
apache-shardingsphere-5.2.0-shardingsphere-proxy-bin.tar

[2022-09-21 06:02] Qianyi951015 opened #21108 "The detailed description of the transaction manager is missing in user manual"
### description
In the description of the RAL Global rule "Alter transaction rule"(https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/#global-rule) shows that support Atomikos, Narayana and Bitronix. But actually, to use the Narayana or Bitronix, you need to load class of Narayana or Bitronix from SPI by yourself. This is not stated in the doc

[2022-09-21 06:04] wsm12138 commented on #19102
@peilinqian
I found this issue fixed by https://github.com/apache/shardingsphere/pull/21093.

<img width="953" alt="image" src="https://user-images.githubusercontent.com/86462784/191426413-6ce9dfd5-5803-4f97-96a0-02cbfd8b33d9.png">

<img width="1070" alt="image" src="https://user-images.githubusercontent.com/86462784/191426482-c6657a7a-d887-4880-ba62-6bdc4be04c3e.png">

[2022-09-21 07:29] mxli441 commented on #21100
OK,Thank you

[2022-09-21 07:58] hyz1994121 commented on #21083
okok, i will open a new issue,then close this one
on my project ,i used Alibaba Druid by xml, not Spring Boot Starter, not JAVA API
i will try by Java api for some test.
thank you .

[2022-09-21 07:59] congzhou2603 opened #21110 "execute 'insert into select', shardingsphere insert the same record into each sub-tables."
## Bug Report

Table 'cmdb_user' is configured with three databases, and each database is configured with three sub-tables.

When I execute `insert into cmdb_user (user_id, id1, id2 )values(2,1,1);`, it insert one records correctly.

When I execute `insert into cmdb_user (user_id, id1, id2 )values(2,1,1);`, it insert a records into each of the sub-tables of three databases,  insert 9 records total

[2022-09-21 08:11] #20490 closed

[2022-09-21 08:15] #21106 closed

[2022-09-21 08:29] #21013 closed

[2022-09-21 08:45] tuichenchuxin opened #21112 "update t_single t set t.status = 'OK' parser error for openGauss"
## Bug Report
https://opengauss.org/zh/docs/2.1.0/docs/Developerguide/UPDATE.html
[code]

[2022-09-21 08:58] liushangqing9803 opened #21113 "SQLStatement expiration issues"
now,SQLStatement cache is ReferenceMap.However, when the jvm performs full gc, the cached objects may be recycled, and the SQL will be parsed next time, causing interface fluctuations. It is recommended to add configurations to determine whether the cache needs to expire.

[2022-09-21 09:12] lwk595ww opened #21114 "SQL subqueries result in fully fragmented lookups and Cartesian products"
Condition: I am using compound sharding and I am using a custom sharding strategy.

The SQL statement:  select t10.* from user t10  where t10.id in (select t11.user_id from school t11 where t11.id = 1571685907277340673 and t11.tenantId = 'caba6901') and t10.tenantId = 'caba6901'

Test conclusion: This SQL removes the custom policy, but returns two result sets in the source code. One is the table n

[2022-09-21 09:19] hyz1994121 commented on #21083
thank you , i change my config from xml to Java API, and upgrade my mysql-connector-java version 5.1.7 to 8.0.14
then my project start.
but there still some bugs, like i described before, error happend by srping beans xml config
when i got some more time , i will make a new issue

spring配置文件使用xml形式启动会出错， 用@Configuration注解后解决问题
debug发现问题出现在snake-yaml，配置文件导入后解析ymal-content ，解析过程写死了classtype为Map.clas

[2022-09-21 09:47] fakerme commented on #21074
这个配置要加上 我是原来用的dynamic 改为shardingsphere 然后报错，加上这个就没毛病了
<dependency>
            <groupId>mysql</groupId>
            <artifactId>mysql-connector-java</artifactId>
            <version>8.0.30</version>
        </dependency>
version 改为你自己的 mysql version

[2022-09-21 10:07] linghengqian commented on #21083
- For ShardingSphere 5.2.0 using SnakeYAML 1.30, there is a YAML deserialization bug first discovered in ShardingSphere that broke a unit test of ShardingSphere a few months ago, and was fixed not long ago at https://github.com/apache/shardingsphere/pull/21048.

- This seems to be a duplicate of https://github.com/apache/shardingsphere/issues/21032#issuecomment-1250017446 for the unique handling o

[2022-09-21 14:29] mahesh001 opened #21119 "org.springframework.dao.InvalidDataAccessApiUsageException: Insert statement does not support sharding table routing to multiple data nodes.; nested exception is java.lang.IllegalStateException: Insert statement does not support sharding table routing to multiple data nodes."
I am using shardingsphere version 5.1.1 with spring ( no springboot)

here is  my code block for data source :

`public DataSource shardingCustomer() throws SQLException {
        Map<String, DataSource> dataSourceMap = getDatasourceMap();
        Properties properties = getProperties();
        LinkedList rules = new LinkedList<>();
        ShardingRuleConfiguration shardingRuleConfig = new Shard

[2022-09-22 02:36] TeslaCN opened #21125 "Optimize routing of broadcast table to reuse cached connections as possible"
## Feature Request

### Problems with the current broadcast table
In a transaction, the request to query the broadcast table alone will be randomly routed to multiple different data sources, which increases the number of connections occupied by the transaction and the transaction execution delay.

![image](https://user-images.githubusercontent.com/20503072/191645654-dd6f4e2f-226d-4e66-b3e7-ed6def0

[2022-09-22 02:45] FlyingZC commented on #21099
Thanks for your feedback,now only the same connection is used on the same data source in the same transaction in the XA transaction, even if multiple connections are configured by `max-connections-size-per-query`. But local transactions lack the relevant design and guarantees.

[2022-09-22 02:46] FlyingZC commented on #21099
@strongduanmu I want to investigate the issue,please assign me.

[2022-09-22 02:57] FlyingZC commented on #21108
You can see how to configure transaction provider in these docs.
- https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/rules/transaction/
- https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/special-api/transaction/bitronix/
- https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/specia

[2022-09-22 02:58] FlyingZC commented on #21108
Are you interested in trying to supplement this document.

[2022-09-22 03:07] Qianyi951015 commented on #21108
Sure

[2022-09-22 03:09] Qianyi951015 commented on #21108
@FlyingZC The document you provide are actually for JDBC, is that same for proxy?

[2022-09-22 03:33] strongduanmu commented on #21099
Assgined.

[2022-09-22 03:38] RaigorJiang commented on #21103
Duplicate with #21088.

[2022-09-22 03:38] #21103 closed

[2022-09-22 03:42] RaigorJiang commented on #21055
Hi @Qianyi951015
I found @sunkai-cai is working on the same issue.  Refer to #20777.

[2022-09-22 04:19] terrymanu opened #21129 "Simplify module folders name"
There are lots problem for long module folders, just ref #20041

It is better to reduce the length of module folder.

I plan to remove the prefix of modules, **but keep artifactId unchanged**.

For example:

1. `shardingsphere-mode` should change to `mode`
2. `shardingsphere-cluster-mode-core` should change to `core`
3. `shardingsphere-cluster-mode-repository-zookeeper-curator` should change to `z

[2022-09-22 04:34] FlyingZC commented on #21108
Yes.

[2022-09-22 04:57] #21125 closed

[2022-09-22 06:49] I-Love-China commented on #21099
BTW, there will be three identical connection in a distributed transaction context, is this okay, will all resources be closed properly ?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41012300/191677185-6f147879-041f-4640-9f80-9b29ec8aa69a.png">

[2022-09-22 07:07] irwinai opened #21132 "View column type null leads to NPE"
## Bug Report
![](https://tva1.sinaimg.cn/large/e6c9d24egy1h6egqq59m3j21w60fuq8k.jpg)
![](https://tva1.sinaimg.cn/large/e6c9d24egy1h6egsngh3ij21uy0gadkm.jpg)
![](https://tva1.sinaimg.cn/large/e6c9d24egy1h6eh2prflij20hc12kwgb.jpg)

### Which version of ShardingSphere did you use?
5.0.0 OR 5.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expe

[2022-09-22 07:15] lwk595ww commented on #21119
Normally, INSERT statements are accurate to only one shard

[2022-09-22 07:25] natehuangting opened #21133 "XA getConnection null"
## Bug Report

My logical library name is db, but I use Db and open XA transactions, which will result in no connection.

### Which version of ShardingSphere did you use?

ShardingSphere-Proxy master

<img width="1512" alt="企业微信截图_89bebbe9-71aa-458b-8b28-97f886a55367" src="https://user-images.githubusercontent.com/26433395/191684223-078214ba-3dd0-4c5b-a1eb-353c2872d6e3.png">

[2022-09-22 07:52] FlyingZC commented on #21133
@zhaojinchao95 I want to investigate the issue, please assign me.

[2022-09-22 07:58] peilinqian commented on #21013
rules:
- !SHARDING
  tables:
    lineitem:
      actualDataNodes: ds_${0..1}.lineitem_${0..1}
      databaseStrategy:
        standard:
          shardingColumn: l_partkey
          shardingAlgorithmName: lineitem-database-inline
      tableStrategy:
        standard:
          shardingColumn: l_orderkey
          shardingAlgorithmName: lineitem-table-inline
    customer:
      actualDataNodes: ds

[2022-09-22 07:59] peilinqian commented on #21013
[code]

[2022-09-22 08:10] natehuangting commented on #21133
@FlyingZC
I have already checked out the problem, please help to review

[2022-09-22 09:38] judykula opened #21137 "java.lang.ClassCastException: org.apache.shardingsphere.infra.context.ConnectionContext cannot be cast to org.apache.shardingsphere.infra.binder.QueryContext"
## Bug Report

**For English only**, other languages will not accept.

[ERROR] 2022-09-22 17:30:49.224 [ShardingSphere-Command-1] o.a.s.a.c.p.i.InstanceMethodAroundInterceptor - Failed to execute the pre-method of method[route] in class[class org.apache.shardingsphere.infra.route.engine.SQLRouteEngine]
java.lang.ClassCastException: org.apache.shardingsphere.infra.context.ConnectionContext cannot b

[2022-09-22 09:48] #20896 closed

[2022-09-22 10:21] FlyingZC commented on #21133
OK.

[2022-09-22 10:55] #21112 closed

[2022-09-22 11:11] Swastyy commented on #21129
Hi, I want to help on this.

[2022-09-22 11:19] terrymanu commented on #21129
Thank you for pay attention.
This issue needs lots changes, it is better to choose a day which nobody submit codes, for example: holiday.
And it is better to merge all big PR.

We need to find the good time. I plan to do it on this Sunday if possible.

[2022-09-23 02:50] lwk595ww commented on #21114
![image](https://user-images.githubusercontent.com/64793990/191883416-a61f4c82-e5e2-4ffa-9a96-ed83f8cc4bca.png)

Modify the source code, the sub-query mixture condition isolation, respectively routing can solve the problem of nested sub-query both inside and outside layers have fragmentation and full routing, I hope the official can have a look, test, I hope the official can release a version

[2022-09-23 03:10] #21108 closed

[2022-09-23 03:17] JiekerTime opened #21146 "Completing RDL-readwriteSplitting-related documentation"
We are currently refactoring the documentation related to DistSQL, and we need the community's help to improve the following statements together.
- [ ] `ALTER READWRITE_SPLITTING RULE`
- [ ] `DROP READWRITE_SPLITTING RULE`

You can refer to the syntax from the [existing documentation](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-def

[2022-09-23 03:53] #21133 closed

[2022-09-23 08:11] #21100 closed

[2022-09-23 08:49] liuxuejava opened #21153 "org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'shardingSphereDataSource' defined in class path resource [org/apache/shardingsphere/spring/boot/ShardingSphereAutoConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [javax.sql.DataSource]: Factory method 'shardingSphereDataSource' threw exception; nested exception is java.lang.NullPointerException"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-09-23 08:49] atylbv9191 opened #21154 "Compatibility between sharding proxy XA transactions and liquidbase"
Sharding proxy version 5.1.2

Server.xml configuration：

mode:
 type: Cluster
 repository:
   type: ZooKeeper
   props:
     namespace: zk-fy
     server-lists: localhost:2181
     retryIntervalMilliseconds: 500
     timeToLiveSeconds: 60
     maxRetries: 3
     operationTimeoutMilliseconds: 500
 overwrite: false

rules:
 - !AUTHORITY
   users:
     - root@%:xxxx
     - sharding@:sharding
   provi

[2022-09-23 09:33] codeleep opened #21156 "The XaDataSource-established Connection of the transaction manager was not properly closed."
### Which version of ShardingSphere did you use?
- The version is 5.0.0-beta, but our company has made some changes to it. But the part where the problem occurs does not have any code intrusion
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Q：
I found the close method in org.apache.shardingsphere.transaction.xa.XAShardingTransactionManager.
[code]

[2022-09-23 16:18] zhaojinchao95 commented on #21153
@liuxuejava What is your configuration and ShardingSphere version? Can you submit your problem by refer to the issue template?

[2022-09-23 16:18] zhaojinchao95 commented on #21153
@liuxuejava What is your configuration and ShardingSphere version? Can you desc your problem by refer to the issue template?

[2022-09-23 16:32] etcZYP commented on #21146
i wanna have a try, plz assign to me, thx

[2022-09-23 22:53] strongduanmu commented on #21146
@etcZYP Welcome, I just assign this issue to you.

[2022-09-24 02:25] TeslaCN commented on #21137
It seems that the code in agent was outdated.

[2022-09-24 02:41] TeslaCN commented on #21113
`softValues()` is not configurable for now. Consider making it configurable.

https://github.com/apache/shardingsphere/blob/c3596089f4bfccd5d2b02b164c203f72e5d779be/shardingsphere-sql-parser/shardingsphere-sql-parser-engine/src/main/java/org/apache/shardingsphere/sql/parser/core/database/cache/ParseTreeCacheBuilder.java#L41

https://github.com/apache/shardingsphere/blob/c3596089f4bfccd5d2b02b164c2

[2022-09-24 02:49] liushangqing9803 commented on #21113
Thank you,I hope to see the new version earlier.

[2022-09-24 02:51] peilinqian opened #21162 "The insert statement is abnormal."ERROR: Cannot invoke "org.antlr.v4.runtime.tree.ParseTree.accept(org.antlr.v4.runtime.tree.ParseTreeVisitor)" ""
### Which version of ShardingSphere did you use?
we find java version: java17, full_version=17.0.1
ShardingSphere-5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
The insert statement is normal.

### Actual behavior
The insert statement is abnormal.

### Reason analyze (If you can)

### Steps to reproduce the behavior, s

[2022-09-24 03:04] TeslaCN commented on #21162
I was using c3596089f4bfccd5d2b02b164c203f72e5d779be.

I found the second insert didn't work neither.

![image](https://user-images.githubusercontent.com/20503072/192077373-b67ee258-5fb9-4817-b3b7-d8e7b8f17e0a.png)

[code]

[2022-09-24 03:05] peilinqian commented on #21162
![image](https://user-images.githubusercontent.com/97432411/192077430-dfa7c7f4-fe4c-4eb0-92f6-88509f9d14e5.png)

[2022-09-24 03:10] peilinqian commented on #21162
**Your problem is another issue**
https://github.com/apache/shardingsphere/issues/18456

[2022-09-24 03:12] TeslaCN commented on #18456
This issue could be reproduced https://github.com/apache/shardingsphere/issues/21162.

[2022-09-24 03:24] TeslaCN opened #21163 "gsql stuck if connecting to ShardingSphere-Proxy openGauss and specified a non-exist database name"
## Bug Report

### Which version of ShardingSphere did you use?

c3596089f4bfccd5d2b02b164c203f72e5d779be

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy openGauss

### Expected behavior

gsql client got error message immediately.

[code]

### Actual behavior

gsql client stuck.

[code]

### Steps to reproduce the behavior, such as: SQL to execute

[2022-09-24 03:40] TeslaCN commented on #18456
Steps:

[code]

1. Create a sharding rule without table `customer` like the following.

[code]

2. Execute SQL
[code]

3. Got error
[code]

[2022-09-24 03:45] TeslaCN commented on #18456
![image](https://user-images.githubusercontent.com/20503072/192078709-9f4bed91-cb67-4eae-a706-ad7a4e7fc61b.png)

[2022-09-24 05:10] TeslaCN opened #21165 "Single table could not be dropped"
## Bug Report

### Which version of ShardingSphere did you use?

c3596089f4bfccd5d2b02b164c203f72e5d779be

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy openGauss

### Expected behavior

Table dropped.

### Actual behavior

![image](https://user-images.githubusercontent.com/20503072/192081000-4c53a423-8bc4-4916-bff1-a851600fa715.png)

The client

[2022-09-24 05:12] #18456 closed

[2022-09-24 05:21] TeslaCN commented on #21162
This could be reproduced by

[code]

![image](https://user-images.githubusercontent.com/20503072/192081394-04f570d3-4947-4c90-a9f6-ef4128a09d30.png)

[2022-09-24 05:29] TeslaCN commented on #21162
Hi @strongduanmu
I found this issue may be caused by #20238. Could you take a look at this?

The following code relates to this issue.

https://github.com/apache/shardingsphere/blob/32aa357e140c33292cb900f8a33f09aeae5660dd/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-opengauss/src/main/java/org/apache/shardingsphere/sql/parser/opengauss/visitor/statement/im

[2022-09-24 05:41] TeslaCN commented on #18456
Several conditions must be met to reproduce:
1. The number of data sources is greater than 1
2. ShardingRule does not configure the specified table
3. There is no such table in the metadata of ShardingSphere (it may be that there is no such table in database or the table is created by connecting to database directly)

[2022-09-24 05:42] TeslaCN commented on #21113
Hi @liushangqing9803
Are you interested in fixing this issue?

[2022-09-24 05:48] liushangqing9803 commented on #21113
of course,I will correct this problem as soon as possible.

[2022-09-24 11:17] ThanoshanMV commented on #17844
Thank you @strongduanmu, @tristaZero and my other mentors. 😃 🎉

[2022-09-25 03:26] #21061 closed

[2022-09-25 07:19] miaopass-future commented on #18894
Hi, has this issue been resolved? I seem to have this problem too。The XA transaction does not seem to be opened, the LOCAL transaction is used

[2022-09-25 11:38] etcZYP commented on #21146
i just clicked the unassign me button by accident, how can i cancel this operation？

[2022-09-25 11:49] #21104 closed

[2022-09-25 12:08] #20989 closed

[2022-09-25 12:26] terrymanu commented on #21081
**For English only**, other languages will not accept.

[2022-09-25 12:26] #21081 closed

[2022-09-25 12:27] terrymanu opened #21175 "Add test case for PluginConfiguration.validate()"

[2022-09-25 16:19] #21067 closed

[2022-09-26 00:33] strongduanmu commented on #21162
@TeslaCN Thank you for your remind, I will investigate this issue.

[2022-09-26 01:37] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192177234-13071290-f340-4e43-a60c-8e24f70c1567.png)

[2022-09-26 01:43] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192177798-518be3de-8f38-47f2-99a2-59ca15f203e5.png)

[2022-09-26 01:46] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192178074-113a8d83-f981-4021-a8ac-e2761ff81ded.png)
配置文件截图

[2022-09-26 01:47] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192178171-6e3a3c7c-f7f4-419c-8518-d110f8ad30a8.png)

[2022-09-26 01:47] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192178211-9577caf6-ac10-4a3d-9c3c-389d9fbb1c19.png)

[2022-09-26 01:50] #21084 closed

[2022-09-26 01:51] liuxuejava commented on #21153
![image](https://user-images.githubusercontent.com/19323303/192178380-9881c309-8ff6-4704-a89c-4e806d8c9dd7.png)

[2022-09-26 01:51] judykula commented on #21137
Can't you reproduce the problem? I tried both tag 5.2.0 and 5.2.1 of the master branch

[2022-09-26 01:57] liuxuejava commented on #21153
Configuration and version I have submitted

[2022-09-26 01:59] strongduanmu commented on #21162
I have test with d8f7ab5872bbd7251cda72ed5d1d5cb4e2394033, these sqls all run successfully.

<img width="1914" alt="image" src="https://user-images.githubusercontent.com/10829171/192179224-2bcb54ab-ad26-4cab-803d-a6edb3d1b150.png">

[2022-09-26 02:00] strongduanmu commented on #19580
@FlyingZC I will assign this issue to you.

[2022-09-26 02:01] TeslaCN commented on #21162
The key is negative number. You may try the following SQL:
[code]

[2022-09-26 02:06] strongduanmu commented on #21162
Thank you for your remind, I will try again.

[2022-09-26 02:16] TeslaCN commented on #21163
I found this issue could be reproduced by other ways which could cause error.

[2022-09-26 02:31] jiangML opened #21180 "MetaDataContextsBuilder and BackendTransactionManager no longer exist, the corresponding agent enhancements need to be adjusted"
## Bug Report
### Which version of ShardingSphere did you use?
 master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
org.apache.shardingsphere.agent.metrics.api.advice.TransactionAdvice and org.apache.shardingsphere.agent.plugin.logging.base.advice.MetaDataContextsBuilderAdvice work fine.
### Actual behavior
MetaDataContext

[2022-09-26 02:32] jiangML commented on #21180
I will fix that

[2022-09-26 02:46] #21092 closed

[2022-09-26 03:29] zhaojinchao95 opened #21182 "javax.net.ssl.SSLException: closing inbound before receiving peer's close_notify"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

[2022-09-26 03:29] #21137 closed

[2022-09-26 03:38] caqhy opened #21183 "Throw NPE when processing events."
## Bug Report

### Use Etcd in cluster mode
1.The node that starts first can not see the logical database created by the node that starts later
2.Throw NPE when processing events
[code]

### Which version of ShardingSphere did you use?
latest master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
The node that starts first ca

[2022-09-26 03:38] taojintianxia opened #21184 "Refactor Github Action Workflow"
refactor current github action to do followings:
1. Add checkstyle check in every integration test to make sure it will not be triggered if checkstyle failed
2. transfer some action like windows/macos platform test, JDK 17、18 test, MySQL 8.x、PG 11、14.. in to daily test
3. merge something common into same action, such as only keep codecov but drop the duplicated CI test.

[2022-09-26 03:39] taojintianxia commented on #21184
please assign to me and set test、build、refactor label

[2022-09-26 05:12] caol64 commented on #21083
@linghengqian I provide an example: https://github.com/caol64/sharding-test. In version 5.2, It will throw an exception: Can't construct a java object for tag:yaml.org,2002:com.alibaba.druid.filter.stat.StatFilter; exception=Class is not accepted: com.alibaba.druid.filter.stat.StatFilter. Please check.

[2022-09-26 06:14] tianhao960 commented on #21072
hi，I would like to try the last 3 tasks about DEFAULT SINGLE TABLE RULE

[2022-09-26 06:26] JiekerTime opened #21190 "Completing RDL-encrypt-related documentation"
We are currently refactoring the documentation related to DistSQL, and we need the community's help to improve the following statements together.
- [ ] `ALTER ENCRYPT RULE`
- [ ] `DROP ENCRYPT RULE`

You can refer to the syntax from the [existing documentation](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/encrypt/).

You

[2022-09-26 07:08] zhaojinchao95 commented on #21072
Welcome

[2022-09-26 07:13] FlyingZC commented on #21182
I want to investigate it,assign me thank you. @zhaojinchao95

[2022-09-26 07:14] #20397 closed

[2022-09-26 07:15] #21183 closed

[2022-09-26 08:07] chengyonghu opened #21195 "Seata1.4.2 Integrating ShardingSphere4.1.1 issues"
Sharding with other fields causes Seata to roll back all tables;
rules:
sharding:
tables: # 数据分片规则配置
icloud_user_picture: # 逻辑表名称
actualDataNodes: ds-0.icloud_user_picture_$->{0..1} # 由数据源名 + 表名组成（参考 Inline 语法规则）
tableStrategy: # 分表策略，同分库策略
standard:
shardingColumn: user_id
sharding-algorithm-name: icloud_user_picture_inline
keyGenerateStrategy: # 分布式序列策略
column: picture_id # 自增列名称，缺省表示不使用自增主键生成器

[2022-09-26 09:35] FlyingZC opened #21198 "Execution of federation report exception in transaction"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
Execute query normally in a transaction.

### Actual behavior
Throw an exception,`relation "t_order_0" does not exist on gaussdb`.

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execu

[2022-09-26 09:48] #21162 closed

[2022-09-26 10:07] ishu-thakur commented on #21175
@terrymanu can you provide brief description for this issue?

[2022-09-26 10:36] wsm12138 commented on #21162
fixed by 4114e7ee4cbe5923c2b403a3e86d1f23355cadf3

<img width="1826" alt="image" src="https://user-images.githubusercontent.com/86462784/192256023-3c4713b1-328e-421f-9328-a56a0ee28822.png">

[2022-09-26 11:07] strongduanmu commented on #21198
@FlyingZC Thank you for your feedback, I will investigate this issue.

[2022-09-26 11:16] irwinai commented on #21132
you can close this issue,thanks

[2022-09-26 11:37] natehuangting opened #21202 "There is a deadlock problem in acquiring the connection"
## Bug Report

Assume that the logical table t_order corresponds to ds_${0..1}.t_order. The maximum number of connections for both ds_0 and ds_1 is 1. Request 1 has obtained the connection of ds_0, and is ready to request the connection of ds_1. Request 2 has obtained the connection of ds_1, and prepare to acquire the connection of ds_0. This is deadlock

### Which version of ShardingSphere did yo

[2022-09-26 11:46] strongduanmu commented on #21198
I have test with following sql, but I can't reproduce this exception.

[code]

[2022-09-26 12:00] #21198 closed

[2022-09-26 12:18] irwinai opened #21203 "cross schema query bug"
## Bug Report
when I do cross schema query ,maybe leads to bug

### Which version of ShardingSphere did you use?
5.1.1

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
query success

### Actual behavior
query failed with exception

### Reason analyze (If you can)
TablesContext#getDatabaseName not right ,can return Optional.empt

[2022-09-26 14:25] keliubo opened #21205 "In Shardinging-JDBC-spring-boot-starter :4.1.1, the hint database policy in ShardingSphere is invalid"
In ShardingStandardRoutingEngine class, GetDatabaseShardingValuesFromHint methods' HintManager. GetDatabaseShardingValues (logicTableName) 'depots strategy according to the table name for the database, lead to get less than, all the queries in the library

[2022-09-26 15:09] linghengqian commented on #21083
@caol64
- The useless cold knowledge in my mind has increased, Gradle 6.6 is not compatible with JDK 17. 🤣
- I debugged for a while and couldn't find a PR that affects this factor. Would you mind opening a new issue? the description of this issue are not conducive to search, I think friends who added strong validation to metadata before will notice this problem.

[2022-09-26 15:28] RaigorJiang commented on #21205
Hi @keliubo ,
Version v4.1.1 has been archived, have you tried the new version v5.2.0? Does the problem still exist?

[2022-09-26 15:47] RaigorJiang opened #21209 "Oracle Hierarchical Queries cannot be parsed properly."
## Bug Report

### Which version of ShardingSphere did you use?
master 3b269505a4bd1b6b354aee28fe9a001d628309be

### Expected behavior
SQL is parsed correctly.

### Description
#### Refferences
- https://docs.oracle.com/en/database/oracle/oracle-database/18/sqlrf/Hierarchical-Queries.html#GUID-0118DF1D-B9A9-41EB-8556-C6E7D6A5A84E
- https://towardsdatascience.com/understanding-hierarchies-in-oracle

[2022-09-27 00:20] strongduanmu commented on #21209
@chakkk309 Do you want to solve this issue?

[2022-09-27 01:03] chakkk309 commented on #21209
Sure, I will check it. Please assign it to me.

[2022-09-27 01:31] caol64 opened #21211 "v5.2, If a druid datasource has some filters, then create a ShardingSphereDataSource will occur exception"
## Bug Report

### Which version of ShardingSphere did you use?
v5.2.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
1. Create a druid datasource, and then add some filters.
[code]
2. Create a shardingsphere datasource by ShardingS

[2022-09-27 02:18] littlecold-Github opened #21213 "How sharding tables with standard and hint at the same time"
version ： 5.1.1， springboot version：2.5.4
  hi， i have some confusion about how to sharding  tables with standard and hint at the same time。
  when i assign the sharding column, i hope it sharding table with the standard sharding algorithm, and when i use the HintManager, i hope it will go with the algorithm that i implement the interface `org.apache.shardingsphere.sharding.api.sharding.hint.HintS

[2022-09-27 02:43] tuichenchuxin opened #21215 "support `show processlist` show jdbc sleep connection"
## Feature Request
`show processlist` has been able to display proxy sleep connections since #21000
So, jdbc is able to show sleep connection.
We could be able to get the sleep logic connection -- `ShardingSphereConnection`.
After implement this, when we use `show processlist` in proxy, we can get all logic connection's status.

[2022-09-27 03:18] keliubo commented on #21205
ok,i will try today in the evening

[2022-09-27 03:35] RaigorJiang commented on #21205
OK, thank you!

[2022-09-27 03:40] RaigorJiang commented on #21195
Hi @chengyonghu
Version v4.1.1 has been archived, have you tried the new version v5.2.0?

[2022-09-27 03:45] chengyonghu commented on #21195
I tried to upgrade to 5.2.1, but it didn't work and I used SharJDBC as a proxy for both data sources. Using the @GlobalTransactional annotation, I was able to roll back, but this has the same problem as SharjDBc4.1.1. I used the example on the official website to configure it and it still doesn't work.

[2022-09-27 04:49] RaigorJiang commented on #21213
Hi @littlecold-Github
Currently, the standard and hint strategies are mutually exclusive, and only one can be used.
Hope to have a solution to meet this scenario in the future.

[2022-09-27 05:28] #21180 closed

[2022-09-27 06:55] hanxu00920 opened #21219 "Why Local Transactions with Multiple Data Sources is work"
thank you for reading my question!

## Question

### I used
shardingsphere JDBC version: 5.1.1
springboot version: 2.3.12.RELEASE
datebase: postgresql

### configured
2 data sources
2 tables with only database-strategy

I annotated my service method with @Transactional and @ShardingSphereTransactionType(TransactionType.LOCAL):
[code]
applaction log:

[code]

I queried the pg_catalog.pg_stat_activi

[2022-09-27 07:05] FlyingZC commented on #21156
I want to investigate this issue,please assign to me. @zhaojinchao95

[2022-09-27 07:13] strongduanmu commented on #21156
@local-li Can you try the latest release version? Such as 5.2.0.

[2022-09-27 07:17] I-Love-China commented on #21219
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41012300/192458531-9821e103-fd01-4667-ac20-e9f2fe47b111.png">

CZ `LocalTransactionManager` works with `ShardingSphereConnection`, which holds multiple `HikariConnectionProxy` for various data sources. These data sources will rollback one by one while `ShardingSphereConnection` is rollbacking.

This is not a bug.

[2022-09-27 07:48] local-li commented on #21156
Yes, I found the difference in 5.2.0, but only the following changes were made.

1. Change the name to xaTransactionManagerProvider;
2. Added an overloaded method public void begin(final int timeout)
3. Judgment of legitimacy before xaTransactionManagerProvider.close()

But such a change did not meet my expectations. What I want is that, in terms of the logical library dimension, the connection in

[2022-09-27 08:23] strongduanmu opened #21220 "Missing conversion is LogicalSort occurs when execute limit with sql federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/5df14e707e290e482878f11786ef402024e317ed

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute `select * from test where aid > 0 limit 1;` successfully.

### Actual behavior

[code]

### Reason analyze (If you

[2022-09-27 08:24] strongduanmu commented on #21220
Ref #19580.

[2022-09-27 08:29] hanxu00920 commented on #21219
My big brother, if a single-database operation, how can guarantee to use one database link? Is Hint Sharding OK?

[2022-09-27 09:15] FlyingZC commented on #21156
@local-li I think you are right,atomikos will remove the resources and close the xa connections when we call the `close` method.If ss closes the connection by itself, atomikos will not execute the close logic.

[2022-09-27 09:25] FlyingZC commented on #21219
A local transaction will only use one connection in one data source. @hanxu00920

[2022-09-27 09:39] hanxu00920 commented on #21219
Got it, thanks boss! 👍  @FlyingZC

[2022-09-27 09:39] #21219 closed

[2022-09-27 09:48] peilinqian commented on #21162
[code]

[2022-09-27 09:49] FlyingZC commented on #21182
How can I reproduce the issue,maybe you can add `useSSL=false` in your connection. @zhaojinchao95

[2022-09-27 10:02] local-li commented on #21156
Can I only call Configuration.removeResource(res.getName()) myself to get the resource to close

[2022-09-27 10:55] TeslaCN opened #21223 "Implement sharding cache plugin"
## Cache ideas
The routing calculation logic of the cache data sharding function reduces the CPU usage of ShardingSphere by changing space for time.

### cache premise

#### The sharding algorithm ensures the consistency of input and output

Consider defining a concept CacheableShardingAlgorithm, which is used to identify that algorithm results are cacheable. premise:
The same input always yields

[2022-09-27 12:01] xkcoding opened #21225 "spring boot 3.0.0-M5 Failed to determine a suitable driver class"
## Question

### environment

- Spring Boot Parent version: 3.0.0-M5
- shardingsphere version: `org.apache.shardingsphere:shardingsphere-jdbc-core-spring-boot-starter:5.1.1`
- mybatis plus version: `com.baomidou:mybatis-plus-boot-starter:3.5.2`

### question

i'm trying shardingsphere-jdbc readwrite-split feature.
i got this error in my test case.

[code]

sourcecode is [here](https://github.com/x

[2022-09-27 13:09] linghengqian commented on #21225
- Can you experiment with the fork of https://github.com/apache/shardingsphere/pull/21047? Although it hasn't been merged, I'm not quite sure what I can do. Given the large changes in the Jakarta EE namespace, you may need to make a lot of changes temporarily. For example, Atomikos 5.X does not support the JTA API of the Jakarta EE namespace, you need to turn off all configuration related to distr

[2022-09-27 14:05] TeslaCN commented on #21137
Hi @judykula
Why closed this? Have you solved your problem?

[2022-09-27 14:35] 0xddy opened #21227 "Optional long parameter 'id' is present but cannot be translated into a null value"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-27 14:49] #21227 closed

[2022-09-27 15:28] RaigorJiang commented on #21195
Well, let's wait for the advice of others.
I suggest you to use markdown syntax to optimize log format for easier reading

[2022-09-27 15:33] RaigorJiang commented on #19102
Yes, by design, read resource and write resource may be the same.

[2022-09-27 16:45] xkcoding commented on #21225
thanks you.

i think it might be better to package a snapshot version to test ?

[2022-09-28 01:07] peilinqian commented on #21013
test_db=> create table t_broadcast(id int,c_id int,a int,b char(10));
CREATE TABLE
test_db=> insert into t_broadcast values (1,1,10,'test11'),(1,2,10,'Test12'),(1,2,null,'test12'),
test_db-> (2,1,20,'test21'),(2,2,20,'test22'),(2,3,null,'Test22'),
test_db-> (3,3,null,'test3'),(3,3,null,'test3'),(4,4,40,'test4'),(5,5,50,'');
INSERT 0 10
test_db=>
test_db=> --创建视图；expect：成功
test_db=> alter sharding

[2022-09-28 01:47] FlyingZC commented on #19825
Fixed by pr [#19595](https://github.com/apache/shardingsphere/pull/19595)

[2022-09-28 02:06] RaigorJiang commented on #21058
@rahulbiswas876 Welcome!

[2022-09-28 02:14] FlyingZC commented on #21156
The `Configuration.removeResource(resName)` method only removes the resource and does not close the resource,maybe you can refer to the logic of this method
`com.atomikos.icatch.config.Configuration#removeAndCloseResources`
1.remove the resouce by resource name and return the resource object you want,`Configuration.removeResource ( res.getName () )`;
2.close the resource
[code]

[2022-09-28 02:28] local-li commented on #21156
Yes, I also noticed this method, but Configuration static classes are proxied by UserTransactionService.

If I choose to cross it directly, is this a step-up in code design?

At present, my solution is to manually call System.gc() after the program itself is removed. But I will do a stricter check before calling System.gc(). Do you think there will be other hidden problems in this way?

[2022-09-28 02:31] longfangwei commented on #21074
这个不是mysql驱动吗？
![image](https://user-images.githubusercontent.com/52698019/192674061-dfa42b7f-cf35-4ce8-874a-a36548bdc7b5.png)
我这里也是有的，现在觉得是多数据源与shardingsphere兼容的问题

[2022-09-28 03:00] linghengqian commented on #21074
@fakerme

- If you plan to discuss, you should open a new issue with enough information.  I don't know what `多数据源` you are referring to.

[2022-09-28 03:08] FlyingZC commented on #19825
It's been too long, I don't know which pr fixed this issue, and now my test result is correct. @peilinqian

[2022-09-28 03:26] strongduanmu commented on #19825
This bug has been fixed, so I will close this issue.

[2022-09-28 03:26] #19825 closed

[2022-09-28 03:31] #21220 closed

[2022-09-28 03:42] peilinqian opened #21230 "When the alter view name command is executed, "ERROR: String index out of range: -1" is returned, but the alter is actually successful."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-09-28 03:45] zhaojinchao95 commented on #21066
The `overwrite` parameter are deleted, please refer to #20552, and i think this is not a problem when finished it. So, i will close it.

[2022-09-28 03:45] #21066 closed

[2022-09-28 03:53] strongduanmu commented on #21230
@peilinqian Thank you for your feedback, I will check this exception.

[2022-09-28 04:27] xkcoding commented on #21225
I have tried `./mvnw clean install -Prelease -T1C -DskipTests -D"jacoco.skip"=true -D"checkstyle.skip"=true -D"rat.skip"=true -D"maven.javadoc.skip"=true -B` ，but got failed..

<img width="677" alt="CleanShot 2022-09-28 at 11 41 45@2x" src="https://user-images.githubusercontent.com/10429917/192682483-3806d232-a86e-459f-a223-d2b20dcb408c.png">

finally I add this in root pom.xml and build successfu

[2022-09-28 04:36] linghengqian commented on #21225
- Not sure what's going on, you don't need to add spring-snapshots and spring-milestones to `pom.xml`, these dependencies are downloaded directly from Maven Central.  Maybe you have a network problem over there.

- If you want to switch to another mirror, you can change the url in `.mvn/wrapper/maven-wrapper.properties` to another mirror.

[2022-09-28 04:42] #21049 closed

[2022-09-28 04:54] xkcoding commented on #21225
thanks.

when your branch  is merged and i test feature successfully in release version, i will close this issue.

thanks again.

[2022-09-28 05:02] strongduanmu opened #21231 "Wrong result return when execute openGauss `select limit 1, 2` statement with sql federation"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/684eaa5d02978b54a3f63c8c3aa286bf4d590234

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

[code]

According to openGauss select limit sytax, this sql should result following result.

[code]

### Actual behavior

I