[2021-04-21 03:28] RaigorJiang commented on #10138
Hi @zhoubonet
I did not see your transaction configuration, are you using sping boot starter?
We should config  the  `TransactionManager`  and use  `@ShardingTransactionType` annotation.

please see https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/transaction/spring-boot-starter/

[2021-04-21 06:26] BingYu-track commented on #10137
of course! How do I send you?

[2021-04-21 06:37] BingYu-track opened #10146 "Why "org.apache.shardingsphere.spring.boot.SpringBootConfiguration" dependence on my shiro bean "shiroFilter"?"
## Question

env：springboot2.3.5
version：sharding-jdbc 5.0.0
**The dependencies of some of the beans in the application context form a cycle:**
![image](https://user-images.githubusercontent.com/33021175/115507062-34df7100-a2ae-11eb-914e-dfab81f0a470.png)

**This is my shiro config:**
[code]

**Who can tell me why "org.apache.shardingsphere.spring.boot.SpringBootConfiguration" dependence on my shi

[2021-04-21 08:57] LateAutumnWindow opened #10147 "Transaction no Rollback"
POM
<spring.boot.version>2.2.5.RELEASE</spring.boot.version>
<spring.cloud.version>Hoxton.SR3</spring.cloud.version>
<cloud.alibaba.version>2.2.1.RELEASE</cloud.alibaba.version>
<seata.version>1.2.0</seata.version>
<shardingsphere.version>4.1.1</shardingsphere.version>
----------------------------------------------------------------------------------------------------------------------------------

[2021-04-21 09:12] BingYu-track commented on #10146
I solved this prolem! We need add @Lazy in my shiro Realm. It can help create sharding-jdbc datasource before shiro's datasource.
![image](https://user-images.githubusercontent.com/33021175/115528597-c5c14700-a2c4-11eb-8f7e-5d0f0ac2033d.png)

[2021-04-21 09:12] #10146 closed

[2021-04-21 09:19] tristaZero commented on #10105
Hi 5.0.0-alpha has been released for a long time. Maybe you have no interests on Scaling etc. But this issue was fixed from 5.x release.

[2021-04-21 09:40] tristaZero commented on #10086
If your scenario is sharding, do you think [examples](https://github.com/apache/shardingsphere/blob/4.1.1/examples/sharding-jdbc-example/sharding-example/sharding-spring-boot-jpa-example/src/main/resources/application-sharding-databases.properties) can give you some hints?

[2021-04-21 10:27] cilfm commented on #10126
@tristaZero
I found that the databaseType parameter initialized in class org.apache.shardingsphere.sql.parser.api.SQLParserEngine is SQL92, not SQL server, so it use org.apache.shardingsphere.sql.parser.sql92.visitor.statement.impl.SQL92StatementSQLVisitor，not org.apache.shardingsphere.sql.parser.sqlserver.visitor.statement.impl.SQLServerStatementSQLVisitor.
I think mybe use SQLServerStatementSQLV

[2021-04-21 10:39] RaigorJiang commented on #10137
you can create a project on github or gitee.

[2021-04-21 10:52] wangkang09 commented on #10105
sorry, what i mean is how long will 5.0.0 version take to release。not 5.0.0-alpha, not 5.0.0-beta。and i wonder what is the diff between them

[2021-04-21 10:59] wangkang09 commented on #10105
recently I started using 5.0.0-alpha，it really better than 4.1.1。and i want to persuade my leader to use 5.0.0-alpha。so，I need to collect some useful information about 5.0.0

[2021-04-21 11:54] BingYu-track commented on #10137
I finally solved this problem. I’m sorry if I got you all worked up over nothing

[2021-04-21 11:54] #10137 closed

[2021-04-21 22:27] menghaoranss commented on #10141
@yu199195 could you please follow up on this issue?

[2021-04-21 22:47] #10118 closed

[2021-04-22 02:42] glon commented on #10063
Maybe I could reproduce the exception.
When I copy my config files to a new test env, and run it, could not see the broadcast table this time.

I packaged my env and uploaded to the cloud, unpack and run the db.sql in config dir, create db user with grants, the test env should be copied.

link：https://pan.baidu.com/s/1_sEMQ8xhLHVizIRKYCRkGg
code：6666

[2021-04-22 02:49] JooKS-me commented on #9623
Hello, I’m Kunshuai Zhu, a sophomore at Northeastern University at Qinhuangdao. My programming language is Java.  I really want to participate in summer 2021 and contribute to the ShardingSphere community(*^ω^*).  I am currently reading the  document of ShardingSphere. Could you tell me what knowledge is required to complete this task?

[2021-04-22 02:54] cherrylzhao opened #10150 "reduce memory used of GroupByStreamMergeResult"
### current logic

think we have a t_order table,  3 records distributed in 3 datasources as follow:
[code]

query sql is:
[code]

inside the shardingsphere, modified sql will be sent to backend datasources to execute as follow:
[code]
then 3 query results will be loaded into GroupByStreamMergeResult,
after MergeResult.next() was invoked core data flow is like this:

[code]

### optimize point

ke

[2021-04-22 02:58] tristaZero commented on #10107
Hi @xiaojingkai
Sorry for my late reply.  Could you give it a try with the following steps?
First, please use `characterEncoding=utf8` for proxy configuration.
Second, try to connect Proxy server with `characterEncoding=utf8`  by the mean of JDBC or CLI. (I am unsure whether Navicat will set character set as default, so let eliminate it.)

[2021-04-22 03:02] MingxingLAI opened #10151 "SQL statement in example failed to run because of missing create database statement"
Missing create database statement in `examples/src/resources/manual_schema.sql`.

When I remove the comment and execute the following SQL statement, it will fail.

[code]

[2021-04-22 03:37] Samhom commented on #650
hello trista! are there any recent developments on sidecar on moss, or a more foreword view?

[2021-04-22 04:20] cilfm commented on #10126
I've solved this problem, it's a bug in "org.apache.shardingsphere.infra.database.type.dialect.SQLServerDatabaseType.getJdbcUrlPrefixes" function,
it's return  "jdbc:microsoft:sqlserver:" not match sqlserver contion url, the right value is "jdbc:sqlserver:".
rewrite this class change the function return value can solved.
this bug is also in master:
https://github.com/apache/shardingsphere/blob/mas

[2021-04-22 06:43] TeslaCN opened #10153 "Error occurred in Proxy when using BenchmarkSQL 5.0"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior

[code]

### Reason analyze (If you can)

The connection had already been terminated and the method `BinaryStatementRegistry#unregister` had been invoked. But there were still some `CommandExecutorTask`

[2021-04-22 07:31] menghaoranss opened #10156 "Refactor DistSQL for alter Sharding rules"
refer #9964

- [ ] ALTER SHARDING TABLE RULE
- [ ] ALTER SHARDING BINDING TABLE RULES
- [ ] ALTER SHARDING BROADCAST TABLE RULES

[2021-04-22 07:52] zhoubonet commented on #10138
I use Druid datasource transaction is OK

[2021-04-22 07:53] zhoubonet commented on #10138
<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
    <version>${shardingsphere.version}</version>
</dependency>

I don't rely on this library

[2021-04-22 08:40] zhoubonet commented on #10138
Data write exception, not thrown

[2021-04-22 11:07] 726411951 commented on #10086
use the examlpes config,but `default-database-strategy` is failure and only add data in `default-data-source-name`

[2021-04-22 12:44] wangkang09 commented on #9584
i meet this prob too. because some where used @EnableTransactionManagement(proxyTargetClass = true) or @EnableAspectJAutoProxy(proxyTargetClass = true). i remove the proxyTargetClass attr,then it worded

[2021-04-22 12:46] wangkang09 commented on #9584
and yml must add spring.aop.proxy-target-class: false，otherwise the AopAutoConfiguration will change the proxyTargetClass value to true

[2021-04-23 04:05] xianshun163 commented on #9993
I  have the  same  error  by the  follow 2 sql：
----sql1：
select i.item_cd,item_name from
( select o.order_id as id, o.order_name as name,it.item_id    from
		( select  * from t_order  o   where   order_id=1 order by order_id ) o
		 left join
		( select  * from  t_order_item it where  order_id=1 order by order_id ) it
		on (o.order_id=it.order_id and o.user_id = it.user_id)
)  tp
left join t_order

[2021-04-23 06:30] hilton1977 commented on #10127
you can see 5.0.0-alpha [expample ](https://github.com/apache/shardingsphere/blob/5.0.0-alpha/examples/shardingsphere-jdbc-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-replica-query.properties)
5.0.0-alpha version properties had change
~~write-data-source-name~~  -> **primary-data-source-name**
~~replica-data-source-names~~ -> **replica-data-source-n

[2021-04-23 08:27] November22 commented on #10119
OK, when is the release time of 5. X? ☺

[2021-04-23 11:33] menghaoranss commented on #9964
In order to make the configuration of RDL and YAML consistent，the rule name of bindig table rules should be removed:
[code]

[2021-04-23 11:59] #10151 closed

[2021-04-23 12:27] menghaoranss opened #10162 "Refresh metadata lock timeout"
Method `checkAck` in `LockRegistryService`, the max ack check time should use `lockTimeout`, code  as follows:
[code]

[2021-04-24 03:04] menghaoranss commented on #10123
Completed!

[2021-04-24 03:04] #10123 closed

[2021-04-24 06:41] zhujunxxxxx commented on #10136
@tristaZero I found `alter database` is not support, i will fix it.

[2021-04-24 08:04] tristaZero opened #10171 "Bad rewritten result for foreign key SQL"
### DB
PostgreSQL

### SQL
[code]

### Intro
- `bmsql_district` and `bmsql_warehouse` are sharding tables but not binding tables.

### Actual rewritten result
alter table bmsql_district_0 add constraint d_warehouse_fkey foreign key (d_w_id) references bmsql_warehouse (w_id);

### Expected rewritten result
alter table bmsql_district_0 add constraint d_warehouse_fkey foreign key (d_w_id) references

[2021-04-24 09:41] wangkang09 commented on #10105
i use 5.0.0-alpha,it has this problem too。
my config:
spring:
  shardingsphere:
    datasource:
      names: db0,db1,db0-slave,db1-slave
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        username: sa
        password: ""
        initialSize: 5
        minIdle: 5
        maxActive: 500
        maxWait: 60000
        timeBetweenEvictionRunsMillis: 20000
        minEvictableI

[2021-04-24 09:42] wangkang09 commented on #10105
i use 5.0.0-alpha. it has this problem too.
[code]

[2021-04-24 10:11] menghaoranss opened #10180 "Add a switch for DDL lock"

[2021-04-24 10:17] wangkang09 commented on #10105
![image](https://user-images.githubusercontent.com/41175635/115955484-42545f80-a529-11eb-91f4-11739df3ce96.png)

[2021-04-24 14:31] #10102 closed

[2021-04-24 14:54] terrymanu opened #10184 "Clear business logic with PostgreSQLBinaryStatementRegistry"
The PostgreSQLBinaryStatementRegistry is different with MySQLBinaryStatementRegistry.

The scope of MySQLBinaryStatementRegistry is for proxy instance, all connections share same MySQLBinaryStatement map, key of binaryStatements is `statementID`, value is `SQL, parameters and parameter types`.

But the scope of PostgreSQLBinaryStatementRegistry is for connection instance, per connection hold indep

[2021-04-25 03:08] RaigorJiang commented on #10138
Hi @zhoubonet , is this problem still exists?
By default, ShardingSphere will affect local transactions, I can't tell more based on the information, sorry.
Could you please provide a demo project on github?

[2021-04-25 04:54] terrymanu commented on #10184
The new PR #10186 used running task count instead of in use status, consider revert them together.

[2021-04-25 07:24] glon commented on #10063
I configured defaultDataSourceName: ds_0 to solved the problem, but during the process I've been tried, not work, oddly...

[2021-04-25 07:25] #10063 closed

[2021-04-25 10:40] chenchen1008 opened #10190 "java.lang.ClassNotFoundException: org.apache.shardingsphere.spring.boot.util.PropertyUtil"
## Bug Report

### Which version of ShardingSphere did you use?
`
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-sharding-spring-boot-starter</artifactId>
            <version>5.0.0-alpha</version>
 </dependency>
`
### ShardingSphere-JDBC

### Actual behavior
`
org.springframework.beans.factory.BeanDefinitionStoreException: Failed to pr

[2021-04-25 12:09] tristaZero commented on #650
Hi @Samhom Yep, we are recruiting people who are interested at this one.

[2021-04-25 12:11] tristaZero commented on #10126
@cilfm Thank for your feedback. Are you interested raising a PR to fix this bug in the master branch?

[2021-04-25 12:12] tristaZero commented on #10127
Thanks for your comment @hilton1977

[2021-04-25 12:13] tristaZero commented on #10119
Hi please try the release one, i.e., 5.0.0-alpha

[2021-04-25 13:50] RaigorJiang commented on #10190
Hi @chenchen1008
Thanks for you report, I will make a check.

[2021-04-26 01:13] sangewuxie commented on #10106
sharding proxy插入时存在emoji报错  这个问题目前是否有解决

[2021-04-26 01:14] sangewuxie commented on #10106
昨天才更新也时遇到类似的问题，出现emoji就会报错

[2021-04-26 01:49] DreamSaddle opened #10191 "Throw exception message error"
Missing `String.format()` In file [JDBCLockEngine#checkTableLock](https://github.com/apache/shardingsphere/blob/master/shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/executor/JDBCLockEngine.java#L106) .

[code]

[2021-04-26 01:50] #10086 closed

[2021-04-26 02:05] #10153 closed

[2021-04-26 02:07] chenchenggen007 opened #10192 "seata1.4+ShardingJdbc4.1+mybatisplus3.1 Integrated sub database and sub table, data rolled back, undo_ Log table log cannot be cleared"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-26 02:15] RaigorJiang commented on #10191
@DreamSaddle  Thank you, would you like to make a PR?

[2021-04-26 03:51] DreamSaddle commented on #10191
Yes, it would be my pleasure

[2021-04-26 03:51] DreamSaddle commented on #10191
@RaigorJiang Yes, it would be my pleasure

[2021-04-26 03:54] RaigorJiang commented on #10191
Welcome :)

[2021-04-26 04:46] arranapl opened #10194 "期望有rust语言的shardingsphere"
期望有rust语言的shardingsphere

[2021-04-26 06:29] 243006306 opened #10196 "The following problems are found in the project transformation sharding-jdbc 4.1.1 scheme"
The following problems are found in the project transformation sharding-jdbc 4.1.1 scheme

1. Why does hint still need to go through the parsing process? Because my SQL is relatively complex (subquery, Union). Now if I find that the problem can not be resolved, I will randomly select a data source and do not enter the hash function of the hint algorithm. This makes me puzzled. I feel that if I can

[2021-04-26 07:40] hanxu00920 opened #10197 "use orchestration for springboot can't work"
***************************

**maven dependencies:**
[code]
***************************

**springboot version:**
2.0.3.RELEASE

***************************

**shadingsphere version:**
4.1.1

***************************

**spring applaction.properties:**
[code]

***************************

**springboot run failed log:**

[code]

----------------------------------------

I read document, can't expl

[2021-04-26 07:58] zhonghuali commented on #7196
Striongly suggest to add new config for setting whether all tables are default sharded or not, then simplifying this kind of configuration

[2021-04-26 08:28] Victoryli opened #10198 "读写分离配合分表，分表失效"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-26 08:44] zhonghuali opened #10199 "Striongly suggest to add new config for setting whether all tables are default sharded or not, then simplifying this kind of configuration"
Strongly suggest to add new config for setting whether all tables are default sharded or not, then simplifying this kind of configuration

_Originally posted by @zhonghuali in https://github.com/apache/shardingsphere/issues/7196#issuecomment-826602578_

[2021-04-26 09:33] yudonghua opened #10200 "第一次执行慢"
在项目刚启动时，第一次查询由于加载大量类，导致正常执行只需要20ms~30ms左右的查询执行了2000ms~3000ms

[2021-04-26 10:25] #10200 closed

[2021-04-26 13:19] RaigorJiang commented on #10190
@chenchen1008
Hi, I have tested with version `5.0.0-alpha`,  and there was no problem.
But, the starter should be `shardingsphere-jdbc-core-spring-boot-starter`,  your dependency is wrong.
The correct dependency is
`<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
    <version>${shardingsphere.version}</version>

[2021-04-26 13:28] RaigorJiang commented on #10194
Hello, for English only, please translate, thank you.

By the way, Sharding-Proxy supports standard SQL protocols and can be language free.

[2021-04-26 13:49] ThanoshanMV commented on #10111
Hi @tristaZero, next, I'll try [ALTER SYSTEM](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/ALTER-SYSTEM.html#GUID-2C638517-D73A-41CA-9D8E-A62D1A0B7ADB).

[2021-04-26 13:54] RaigorJiang commented on #10133
Hi @xsong123
Is the exception still exists?

Because you did not provide your SQL and configuration， we can not say anything.

[2021-04-26 14:05] LutzWeischerFujitsu commented on #9710
[jw@cn05 shardingsphere]$ ./mvnw clean install -Prelease -DskipTests
...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  27.325 s
[INFO] Finished at: 2021-04-26T16:01:02+02:00
[INFO] ----------------------------------------------------------------

[2021-04-27 03:20] MingxingLAI opened #10202 "Reduce code complexity and improve readability for ShardingUnicastRoutingEngine"
When I read the source code of this project, The code readability of this [file](https://github.com/apache/shardingsphere/blob/master/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-route/src/main/java/org/apache/shardingsphere/sharding/route/engine/type/unicast/ShardingUnicastRoutingEngine.java) is significantly lower than other files.

Optimization suggestion：

- Reduce t

[2021-04-27 04:37] RaigorJiang commented on #10202
Good idea 👍

[2021-04-27 04:59] #10180 closed

[2021-04-27 05:35] menghaoranss opened #10205 "The metadata of the tables without sharding rule is not refreshed after ddl executed"

[2021-04-27 05:46] #10095 closed

[2021-04-27 06:36] 243006306 commented on #10196
Force routing does not work, do not enter 'HintShardingAlgorithm`

[2021-04-27 06:54] #10150 closed

[2021-04-27 08:26] tristaZero commented on #10111
@ThanoshanMV Go ahead.
BTW, your GSoC 2021 application is approved now. Let us wait its timeline moving.

[2021-04-27 08:30] tristaZero commented on #10199
So you think the `defaultDatabaseStrategy`  and `defaultTableStrategy` is not enough for your case?

[2021-04-27 08:36] tristaZero commented on #10105
Hi @huanghao495430759
I am curious whether you can give this issue a look?
The detailed log from @wangkang09 budges me on our master branch.
From your nice work, i.e., #10181 and  #10177, I guess you are qualified to handle this one.

[2021-04-27 08:47] #10202 closed

[2021-04-27 09:30] menghaoranss commented on #10198
For English only, other languages will not accept.

[2021-04-27 09:30] #10198 closed

[2021-04-27 09:31] menghaoranss commented on #10194
For English only, other languages will not accept.

[2021-04-27 09:31] #10194 closed

[2021-04-27 09:34] redesperado commented on #8382
Is it resolved?

[2021-04-27 09:42] lancecpdd opened #10207 "After using shardingJDBC, there is a problem with the processing of the date format"
## After using shardingJDBC, there is a problem with the processing of the date format

A field type in mysql is datetime (ex: 2021.04.27 16:20:00)
Used tkmybatis, String used in the entity class to receive
If shardingJDBC is not used, the received result is 2021.04.27 16:20:00
If shardingJDBC is used, the result received is 2021.04.27 16:20:00.1

The field is shardingColumn

[2021-04-27 09:57] menghaoranss commented on #10192
@chenchenggen007 please change the title to Englise

[2021-04-27 10:12] RaigorJiang commented on #10196
Hi @243006306
Could you please provide a configuration and SQL, so we can reproduce it.

[2021-04-27 10:16] RaigorJiang commented on #10207
Hi @leonTuT
Thanks for your report.  which version do you use?  please give more details.

[2021-04-27 10:24] menghaoranss opened #10209 "Metadata refresh failed when ddl executed with lock"

[2021-04-27 14:13] huanghao495430759 commented on #10105
OK,I'll look at this issue.

[2021-04-28 00:04] #10209 closed

[2021-04-28 02:40] zhonghuali commented on #10199
I think the `defaultDatabaseStrategy` and `defaultTableStrategy` does't provide correct/user-friendly behaviours.
as you know, it require to configure a table name for those intending to use defaultDatabaseRulerule, but there are many tables ,and these table or data souce may be added  in some time, then we have to change the configuration every time.  As I gave the default database rule, these de

[2021-04-28 02:57] hanxu00920 commented on #10197
somebody can help?
I really need your help please.

[2021-04-28 03:06] 243006306 commented on #10196
SQL is like this `SELECT x.column_1,x.column_2  FROM( SELECT a.column_1,o.column_2 FROM A a INNER JOIN b b ON b.id = a.order_id  AND b.mof_id = 'xxxxxx'  WHERE  a.xxx='xxx' and b.xxx='xxx' UNION SELECT a.column_,o.column_1 FROM A a INNER JOIN b b ON b.id = a.order_id  AND b.mof_id = 'xxxxxx'  WHERE  a.xxx='xxx' and b.xxx='xxx') x order by column_1,column_2 `

[2021-04-28 03:09] 243006306 commented on #10196
Configuration is like this ：
`spring.shardingsphere.sharding.binding-tables[0]=A,B
spring.shardingsphere.sharding.tables.A.actual-data-nodes=
spring.shardingsphere.sharding.tables.B.actual-data-nodes=
spring.shardingsphere.sharding.default-database-strategy.hint.algorithm-class-name=com.szjz.cloud.algorithm.IdHintAlgorithm
`

[2021-04-28 03:15] 243006306 commented on #10196
My debug test found that the interpretation of SQL failed, so I chose the route of the random data source, just like the route of the Ping SQL test sent after starting the project without specifying the default data source. I want the 'hint' mode to go directly to my 'hintalgorithm' class without parsing, because I only need the sub database. I found that the 'select x.x from' with the outermost p

[2021-04-28 03:17] 243006306 commented on #10196
我DEBUG测试发现解释SQL失败，所以选择了随机数据源的路由，就像未指定默认数据源启动项目后发送的ping SQL测试所走的路由一样，我想`HINT`模式不经过解析，直接走向我的`HintAlgorithm`类，因为我只需要分库，我测试发现去除最外层包裹的`SELECT X.X FROM `，就可以解析成功并走向自定义的`HintAlgorithm`分片算法,我很疑惑，为什么解析失败不报错

[2021-04-28 06:39] tristaZero commented on #10199
Hi we have to distinguish which part of the configuration is shared and which one is not.

`defaultDatabaseStrategy` and `defaultTableStrategy` are shared for each sharding table, but `actual datanodes` is different for them in most cases. Therefore that part has to be configured accordingly.

[2021-04-28 06:49] November22 opened #10212 "JdbcUtil#getSchema Compatibility problem of database connection driver"
## Question
net.sf.log4jdbc.ConnectionSpy not implemented  java.sql.Connection#getSchema ，So throw an exception when getting metadata

![image](https://user-images.githubusercontent.com/26109828/116358918-c449ce80-a830-11eb-80e7-8dfcab7d6e8a.png)

![image](https://user-images.githubusercontent.com/26109828/116359200-1e4a9400-a831-11eb-8291-38c179138e03.png)

Can it be captured Throwable ？Metadata

[2021-04-28 07:45] leeey111 commented on #6693
Any news?
Without this feature support,it is inconvenienced to use "SQL complement" in some SQL clients like DBeaver.

[2021-04-29 01:51] #10212 closed

[2021-04-29 02:03] hanxu00920 opened #10216 "ShardingSphere-JDBC orchestration for Spring boot not available"
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
zookeeper for configuration sharing
### Actual behavior
springboot application fails to start，fails logs:
[code]
### Reason analyze (If you can)
I read document, can't explain why the error.
### Steps to reproduce the behavior,

[2021-04-29 02:03] #10197 closed

[2021-04-29 02:49] leonTuT commented on #10207
sharding-jdbc  => 4.0.0-RC2
tk.mybatis        => 2.0.4

[2021-04-29 03:38] hanxu00920 commented on #10216
Did you really test and use a hybrid architecture?
I googled other people's examples, and tried to use the 4.0.1 version of the dependency, and excluded many of the dependencies he said.
[code]
The jdbc application is successfully started and the configuration is shared to zookeeper, but the shardingsphere-proxy cannot be started through the configuration center.
proxy error log:
[code]
So I first

[2021-04-29 03:39] #9411 closed

[2021-04-29 06:51] MingxingLAI commented on #8982
Hi @tristaZero, May I try this issue?

[2021-04-29 08:31] gywndi opened #10218 "Null point exception in full text search"
## Bug Report
It's a similar issue #9337

### Which version of ShardingSphere did you use?
apache-shardingsphere-4.1.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
[code]

### Actual behavior
[code]

### Reason analyze (If you can)
ShardingSphere logs such an error message. It seems that antlr is not able to properly parse

[2021-04-29 09:25] strongduanmu commented on #8982
@MingxingLAI Welcome. 👍

[2021-04-29 09:46] strongduanmu commented on #10218
@gywndi This seems to be a parsing exception, can you try the `5.0.0-alpha` version? I think the latest version already supports this syntax.

[2021-04-29 11:42] #10100 closed

[2021-04-30 00:02] gywndi commented on #10218
It works fine in v5.0.0-alpha.
The yaml format has been changed a lot.
I have to wait until the official release.
Thanks.
Chan.

[2021-04-30 00:02] #10218 closed

[2021-04-30 00:26] wgy8283335 commented on #10104
The tool locates in the repository:
`https://github.com/wgy8283335/shardingsphere.git`
The tool locates in the directory:
`shardingsphere/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-oracle/src/main/antlr4/tool`

[2021-04-30 00:59] #10205 closed

[2021-04-30 02:23] RaigorJiang commented on #10207
OK, I am going to have a test.

[2021-04-30 06:36] IcebergXTY opened #10223 "Could you merge some useful code to 4.1.x"
## Question

As 5.0.0 is still alpha version, we just use 4.1.1 now. And we found some bug in this version like #5882 and #8574.

It seems like you are just maintain one version at a time now. But the new version takes too long that we can't wait it anymore...

So could you merge some code to 4.1.x to fix some serious bugs? Thanks 😃

[2021-04-30 07:03] huanghao495430759 commented on #10105
Hi @wangkang09 @tristaZero   I had use  sharding-sphere-5.0.0-alpha and debug the case, and i can work normal.

[2021-04-30 07:03] huanghao495430759 commented on #10105
Hi @wangkang09 @tristaZero I had use sharding-sphere-5.0.0-alpha and debug the case, and it can work normal.

[2021-04-30 07:05] huanghao495430759 commented on #10105
Hi @wangkang09 @tristaZero I had use sharding-sphere-5.0.0-alpha and debug the case, and it can work normal.
`
2021-04-30 14:59:23.946  INFO 40464 --- [           main] ShardingSphere-SQL                       : Logic SQL: insert into user(user_id,user_name) values (?,?)
2021-04-30 14:59:23.946  INFO 40464 --- [           main] ShardingSphere-SQL                       : SQLStatement: MySQLInsertSt

[2021-04-30 08:14] tristaZero commented on #10190
Hi @chenchen1008 ,
@RaigorJiang is kind to give his advice, could we have your feedback here?

[2021-04-30 08:16] tristaZero commented on #10196
Hi, have you ever check the log? Is there any exception info?

[2021-04-30 08:18] tristaZero commented on #10207
Hi @RaigorJiang Appreciated your comments and attention, nice. :)

[2021-04-30 08:20] 243006306 commented on #10196
@tristaZero My debug observation did not report an error, because there was a sub query in SQL that could not parse the table name, resulting in routing to the random data source

[2021-04-30 08:25] tristaZero commented on #10216
@hanxu00920 Concise description.
Your configuration is based on [Configurations](https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-jdbc/configuration/config-spring-boot/) but still does not work, right?
Plus, [exmpales](https://github.com/apache/shardingsphere/tree/4.1.1/examples/sharding-jdbc-example/orchestration-example) is a good reference for you.

[2021-04-30 08:29] tristaZero commented on #10223
Hi @IcebergXTY
Sorry to say that 4.x will have no subsequent releases anymore. We suggest you try 5.0.0-alpha which has many bug-fixing and improvements.

[2021-04-30 09:04] ly164608001 opened #10224 "SQLFeatureNotSupportedException("setNString")"
database type is ORACLE，there is not allowed insert when table column type is NVARCHAR2，think about supported whether or not?

[2021-04-30 09:41] IcebergXTY commented on #10223
Well, thank you anyway for your quick reply

[2021-04-30 09:41] #10223 closed

[2021-04-30 11:23] leonbond opened #10225 "Sharding-jdbc insert NullPointerException"
Sharding-jdbc 4.1.1 & 4.1.0

The sql is very simple:
`Table t = new Table();
 t.setSeq(post.getSeq());
 em.persist(t);`

I also have a lot of other db statement, some with JPA, some just sql statement, they are all ok, but the above sql will cause the following problems:
`java.lang.NullPointerException
        at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.jav

[2021-05-01 05:15] #10191 closed

[2021-05-01 07:45] terrymanu opened #10230 "Redesign of MetaDataListener"
There are 2 places to watch event of MetaDataListener.

Please check method `watch` and `renew`.

The questions are:

1. Can we merge the watch into same place?
2. Can we remove MetaDataListener and merge the logic into GovernanceListenerManager?

[2021-05-01 17:33] TeslaCN opened #10237 "PostgreSQLComBindPacket read data length more than actual column length"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior
[code]

### Reason analyze (If you can)

The parameter type is `POSTGRESQL_TYPE_INT8`, but
the column's actual length (parameter value length) was 4 bytes. The `PostgreSQLInt8BinaryProtocolValue` read 8

[2021-05-02 08:24] #10237 closed

[2021-05-02 09:06] tristaZero commented on #10196
Hi, `sub query` is supported better from the 5.x  release, could you try the 5.0.0-alpha?

[2021-05-02 09:09] tristaZero commented on #10105
Thanks @huanghao495430759,
@wangkang09  @huanghao495430759 tries the 5.0.0-alpha with your case, and everything works well. Please provide more details here.

[2021-05-03 04:06] #7951 closed

[2021-05-03 07:26] TeslaCN opened #10248 "Proxy PostgreSQL doesn't support PREPARE & EXECUTE"
## Feature Request

### Is your feature request related to a problem?

### Describe the feature you would like.

#### PostgreSQL

When I use `psql` connect PostgreSQL directly
[code]

#### Proxy PostgreSQL
[code]

[2021-05-03 11:04] tristaZero opened #10251 "[API Change] Move the user configuration to authority rule"
Hi, community,

This issue is to do API change of `server.yaml` of ShardingProxy. More precisely to say, we plan to move the `user` configuration to the `authority` rule module. Hope you can have a try and get 👍 .

### Target
Please change the configuration of `server.yaml` from
[code]
**TO**
[code]

### How?
There are two necessary sections to achieve it.

#### The refactoring of Yaml configurati

[2021-05-03 11:14] tristaZero opened #10252 "[Enhancement] Support authority rule governance through different proxies"
Hi, community,

This issue is about authority rule governance. I have to say it is difficult.. But you will perceive how the governance works and how proxies refresh its metadata to keep consistent! Oh, great challenge! 😃

### Introduction
As you know, the authority module is a new feature for our incoming release. Authority is about user and privileges' management. Consequently, the authority rul

[2021-05-03 11:41] tristaZero commented on #10251
Hi guys, @huanghao495430759 @zhujunxxxxx

Hope you have an enjoyable holiday!

I have to say there are two **important and challenging** issues to seek excellent contributors from the community.
Based on two of you's great previous contribution and experience, I assume you are eligible to deal with these difficult issues. So please excuse me for occupying you here. :)

I just wonder whether you ar

[2021-05-03 15:23] zhujunxxxxx commented on #10251
OK，Let me try.

[2021-05-04 03:24] #10171 closed

[2021-05-04 03:38] tristaZero commented on #10251
Hi @zhujunxxxxx ,
Glad to see you stepping forward. Which one do you want to try? Or both?

[2021-05-04 03:59] huanghao495430759 commented on #10251
OK, Can I try it too ?

[2021-05-04 08:01] zhujunxxxxx commented on #10251
I want to try #10251.

[2021-05-04 08:18] tristaZero commented on #10251
@zhujunxxxxx Hey, welcome.
@huanghao495430759 I will assign #10252 to you. Since you have done something to do with that, I suppose that issue will become simpler for you. :)

[2021-05-04 08:19] tristaZero commented on #10252
@huanghao495430759 Hey, could you comment something here so that I can assign this one for you.

[2021-05-04 09:18] huanghao495430759 commented on #10252
OK, Let me try this issue.

[2021-05-05 11:56] EverZxq opened #10254 "ParameterMarkerValue cannot be cast to ExpressionSegment"
shielding Fuzzy query is not ok, but annotation like is ok。

version：5.0.0-alpha

database： oracle

Error context：

SELECT COUNT( * ) FROM PROCESS_TASKS WHERE (TASK_TYPE = ? AND CURRENT_REVIEWER LIKE ?)

java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.common.value.parametermarker.ParameterMarkerValue cannot be cast to org.apache.shardingsphere.sql.parser.sql.common.segment.d

[2021-05-06 01:09] strongduanmu commented on #10254
@EverZxq Thank you very much for using version `5.0.0-alpha`, this is a parse exception, and we will fix this issue later.

[2021-05-06 01:24] zhoubonet commented on #10138
existence

[2021-05-06 02:42] hanxu00920 commented on #10216
https://github.com/hanxu00920/shardingsphere-jdbc-demo

[2021-05-06 05:16] wangkang09 commented on #10105
@tristaZero @huanghao495430759 https://github.com/wangkang09/sharding-test.git  this is my test project~~

[2021-05-06 05:28] wangkang09 commented on #10105
@tristaZero @huanghao495430759i found if  i use mybatis it works well, but if i use mybatis-plus,that problem is appear

[2021-05-06 05:36] EverZxq commented on #10254
When is the next version? Since our project has encountered this problem and cannot be solved, can we revert to the old version to solve it?

[2021-05-06 06:15] strongduanmu commented on #10254
@EverZxq It will take some time before the `5.0.0-beta` version is released. Please be patient and wait for the good news. You can temporarily use the following SQL:

[code]

[2021-05-06 09:18] #10254 closed

[2021-05-06 10:04] w350727743 opened #10256 "读写无法分开"
在学习sharding-jdbc读写分离时候，遇到读写无法分开的问题，希望大佬能帮忙看一下。非常感谢！
`
#配置真实数据源
spring.shardingsphere.datasource.names=demo,demo1,demo2

spring.shardingsphere.datasource.common.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.common.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.common.username=root
spring.shardingsphere.datasource.common.password= 123456

#配置第 1 个

[2021-05-06 10:21] DongJigong opened #10257 "route sql tables do not have any sharding table,should let pass,do not check sql."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-06 12:38] RookieMember opened #10258 "Broadcast table SQL write "select * from t" does not work properly"
### Which version of ShardingSphere did you use?
4.1.1
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
select * from t_address
All results should be returned
### Actual behavior
All elements in the returned collection are null
![image](https://user-images.githubusercontent.com/43982372/117297068-593f6e00-aea8-11eb-98d0-ab38ecf15

[2021-05-06 14:14] leonbond opened #10259 "Antlr ParseTree error when database field is "POINT""
[code]
This code will report the following error:
[code]
Only the word "POINT" doesn’t work. Why? Is it a keyword?
The shardingsphere version is 4.1.1

[2021-05-06 15:08] TeslaCN commented on #10184
I want to know is it possible to unify connection id and channel id.

[2021-05-06 16:00] terrymanu commented on #10256
**For English only**, other languages will not accept.

[2021-05-06 16:00] #10256 closed

[2021-05-06 21:37] Liangda-w commented on #10259
Hi @leonbond are you trying with the latest version?

It works in my testing:

![image](https://user-images.githubusercontent.com/66914151/117368558-fb208400-aec3-11eb-906f-6f52b44a60e0.png)

[2021-05-07 00:39] avalon5666 commented on #10258
I can't reproduce it. Can you push the demo on github?

[2021-05-07 01:13] avalon5666 commented on #10257
The subqery not support, or try the mater branch version.
Pls Reference the [documents](https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/)

[2021-05-07 01:16] avalon5666 commented on #10225
Pls provider the complete sql.

[2021-05-07 01:19] avalon5666 commented on #10224
Pls provider the complete sql, and which shardingsphere version

[2021-05-07 01:21] avalon5666 commented on #10143
1.0.0

[2021-05-07 01:32] avalon5666 commented on #9971
Fix in your code or jdbc, shardingsphere doesn't change the logic of the sql.

[2021-05-07 01:48] DongJigong commented on #10257
I think these sqls that don't contains sharding tables shall not check grammer and let pass.

[2021-05-07 02:16] DongJigong commented on #10257
HintManager won't help me. I am not sure if Hint can resole my problem. In my option, it only strongly use sharding rule,but my sql shall pass without sharding rule,because sql  desn't contains sharding table.

[2021-05-07 02:23] leonbond commented on #10259
@Liangda-w This is my pom config. It's Java project. Can i have a look at your code?
<dependency>
                        <groupId>org.apache.shardingsphere</groupId>
                        <artifactId>sharding-jdbc-spring-namespace</artifactId>
                        <version>4.1.1</version>
                        <exclusions>
                                <exclusion>

[2021-05-07 02:55] MingxingLAI commented on #8982
I am ready to start solving this problem, are there any more tips and suggestions？ @strongduanmu @tristaZero

[2021-05-07 05:39] arun-prasat opened #10263 "getting org.antlr.v4.runtime.tree.ErrorNodeImpl cannot be cast to org.antlr.v4.runtime.ParserRuleContext"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-07 05:46] Liangda-w commented on #10259
Since this is an Antlr parsing exception, I just tested the rule with Antlr Preview.
The latest version is 5.0.0-alpha, so upgrade should help:)

[2021-05-07 06:23] leonbond commented on #7128
已经解决了？怎么解决的？

[2021-05-07 06:30] RookieMember commented on #10258
demo GitHub：https://github.com/RookieMember/shardingsphere-demo/tree/master/shardingjdbc-demo

https://github.com/RookieMember/shardingsphere-demo/blob/master/shardingjdbc-demo/src/main/java/com/wkp/shardingjdbc/controller/AddressController.java#selectAll
[code]
I used mybatis's XML and annotation methods to test, and the results are the same. There is a problem when using "select * from t_address

[2021-05-07 06:57] leonbond commented on #10259
@Liangda-w Still thank you!

[2021-05-07 07:39] avalon5666 commented on #10258
Try compile from master bracnh, Fix at #9076

[2021-05-07 09:50] #10225 closed

[2021-05-07 11:36] tristaZero opened #10271 "PostgreSQL `SHOW xxx` syntax conflicting with DistSQL"
As you know, ShardingSphere defines [DistSQL](https://shardingsphere.apache.org/document/current/cn/features/dist-sql/) for distributed metadata queries.

There is an issue that `SHOW xxx` DistSQL has conflicts with PostgreSQL standard SQL syntax.

### How to reproduce?
- Start Proxy using PostgreSQL
- Execute DistSQL `show REPLICA_QUERY rule from schem_name`

### Expected and actual results
**Exp

[2021-05-07 15:54] TeslaCN opened #10273 "FATAL occurred while sysbenching PostgreSQL Proxy"
## Feature Request

### Describe the feature you would like.

Handle Transaction Failed.

### Is your feature request related to a problem?

I was testing PostgreSQL Proxy with sysbench. FATAL occurred and the JDBC connection became unavailable because transaction failed and `autosave` was the default value `never`.
[code]

### sysbench log
[code]

### Proxy Log
[code]

[2021-05-07 15:56] XUZHOUWANG opened #10274 "The primary key is sharding column created the key value by the GeneratedKey config 。 is it okay？"
**table：**

@TableName("t_user")
@Data
public class User implements Serializable {

    @TableId(type = IdType.INPUT)
    private Long id;
    private String name;
    private Date gmtCreate;
    private Date gmtModified;
    private String phone;
    private Integer isDeleted;

}

**config**

 sharding:
      tables:
        t_user:
          actual-data-nodes: skshardingjdbc.t_user_$->{0..1}

[2021-05-07 16:30] terrymanu opened #10275 "Can not load schema and tables from MySQL Workbench"
When using MySQL Workbench to connect proxy, the schema and tables can not show in schema view.
The exception is occur: `Error Code: 0 MySQL_ResultSet::getString: invalid value of 'columnIndex'`

Version of MySQL Workbench: 8.0.24
Version of MySQL Cli: 8.0.23

[2021-05-08 01:51] avalon5666 commented on #10263
Pls try newest version.

[2021-05-08 02:06] avalon5666 commented on #10274
Use "@TableId(type = IdType.AUTO)"

[2021-05-08 02:10] avalon5666 commented on #10274
1. Use "@TableId(type = IdType.AUTO)"
2. id's type in class not match uuid

[2021-05-08 02:38] XUZHOUWANG commented on #10274
https://blog.csdn.net/qiaoqiyu6416/article/details/107044664/

[2021-05-08 02:39] XUZHOUWANG commented on #10274
no，I want to create the id by shardingsphere; the definition of  User is okay.

[2021-05-08 02:43] avalon5666 commented on #10274
Follow step 1 ~ 2

[2021-05-08 02:50] strongduanmu commented on #10271
@tristaZero I tested PG `show statement` parsing, and found that antlr can match invalid content by default, which caused the `show statement` in distsql to fail to be executed. By specifying a explicit `EOF` lexical symbol, we can force to match all inputs, and invalid content will cause exceptions.

Before adding `EOF`:
![image](https://user-images.githubusercontent.com/10829171/117523407-fefaf6

[2021-05-08 02:52] XUZHOUWANG commented on #10274
it‘s okay. but i want to the value of the   primary key  created by the snowflake set by the sharding configuration. while step 1~2,the id is created by the mybatis-plus framework.

[2021-05-08 02:54] avalon5666 commented on #10274
How to confirm the id is created by the mybatis-plus framework?

[2021-05-08 02:57] avalon5666 commented on #10274
"IdType.AUTO" is created by the database，it will create by shardingsphere database middleware

[2021-05-08 03:00] LikeElephantintheforest opened #10278 "SELECT LAST_INSERT_ID() expect return the self-growth primary key"
## Question

At mybatis mapper.xml , I using following code to expect return the self-growth primary key and then hope the model have id value.

[code]

in my sharding conf , I setting master-slave like this :

sharding.jdbc.config.sharding.master-slave-rules.ms0.master-data-source-name =
sharding.jdbc.config.sharding.master-slave-rules.ms0.slave-data-source-names =
sharding.jdbc.config.sharding.m

[2021-05-08 03:00] XUZHOUWANG commented on #10274
it's okay. I try it. it's fine. I know the "IdType.ASSIGN_ID" procedure. But I don't really try the "IdType.AUTO". thank you

[2021-05-08 03:01] #10274 closed

[2021-05-08 03:01] LikeElephantintheforest commented on #10278
sharding.jdbc.config.sharding.master-slave-rules.ms0.master-data-source-name =

value is not empty , i replaced them for ask question;

[2021-05-08 03:24] wang7621422811 opened #10279 "Using asynchronous processing for routing errors"
I'm using the JDK `CompletableFuture.supplyAsync()`,Occasionally, however, routing fails
[code]
this select sql
[code]

[2021-05-08 03:36] wenjixi opened #10280 "why proxy not support ddl sql in xa transaction"
[code]
when i use ，it throw exception

[code]
[code]

[2021-05-08 07:19] arun-prasat commented on #10263
I tried with the below version which is the latest one found in maven repository but still getting the exception for the same query,(I searched for 5.0.0-alpha which is not available for sharding-jdbc-spring-boot-starter)
 implementation group: 'org.apache.shardingsphere', name: 'sharding-jdbc-spring-boot-starter', version: '4.1.1'
Exception :
line 1:53 no viable alternative at input '(lower'
line

[2021-05-08 08:21] NOLouser opened #10283 "In one transaction, two same logic sqls do not work correctly by using hint strategy"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-08 09:42] huanghao495430759 commented on #10252
Hi @tristaZero ,does `GLOBAL_RULE_NODE` in zk name is `rules` instead of `rule` ?

[2021-05-08 09:51] huanghao495430759 commented on #10252
another question is : now `org.apache.shardingsphere.governance.core.registry.listener.event.rule.RuleConfigurationsChangedEvent` had existed and used for schema sharding rule configuration,

![image](https://user-images.githubusercontent.com/34728144/117534896-ebb94c00-b025-11eb-97f7-80bda886d400.png)

so maybe we can defind `AuthorityRuleConfigurationsChangedEvent`  to save authority rule config

[2021-05-09 12:35] #10126 closed

[2021-05-09 12:49] tristaZero commented on #10252
Oh, sorry for my typo in my description of this issue. Obviously, we need a new event name. How about `GlobalRuleConfigurationsChangedEvent` holding the same fields with `RuleConfigurationsChangedEvent`?
As you know, we will have more global rules in the future, e.g., `Authority rule` of one `Proxy` containing many global rules and schema rules.

[2021-05-09 12:49] tristaZero commented on #10252
Oh, sorry for my typo in my description of this issue. Abviously, we need a new event name. How about `GlobalRuleConfigurationsChangedEvent` holding the same fields with `RuleConfigurationsChangedEvent`?
As you know, we will have more global rules in the future, e.g., `Authority rule` of one `Proxy` containing many global rules and schema rules.

[2021-05-09 12:50] #10271 closed

[2021-05-09 12:51] tristaZero commented on #10252
I just updated this issue. :)

[2021-05-09 13:00] tristaZero commented on #10271
@strongduanmu Bingo, elegant. :)

[2021-05-09 13:33] tristaZero commented on #8982
Hi @MingxingLAI ,
Thanks for your attention here, sorry for my late coming.
Let consider this issue with the following scenario,

Suppose here are some tables,
[code]
Now, how to filter and return all the `logic tables` to users by `show tables like '%t_order%"?

Firstly,  we need to put maybe two (?) `flags`(`%`) in 'showStatement` to mark it for usage later on.
Secondly, `show tables like '%t_or

[2021-05-09 13:42] tristaZero commented on #8982
Hi @MingxingLAI ,
Thanks for your attention here, sorry for my late coming.
Let consider this issue with the following scenario,

Suppose here are some tables,
[code]
Now, how to filter and return all the `logic tables` to users by `show tables like '%t_order%"?

Firstly,  we need to put maybe two (?) `flags`(`%`) in 'showStatement` to mark it for usage later on.
Secondly, `show tables like '%t_or

[2021-05-10 03:17] MingxingLAI commented on #8982
Hi，Could you give me more info? What is your config and input，and What's output is your expect ？@yujun110

[2021-05-10 03:52] yanglangfei commented on #805
+1

[2021-05-10 04:32] zexho994 opened #10290 "application run failed for 5.0.0-alpha"
### dependency

srping boot version : 2.1.7.RELEASE

[code]
### application
[code]

### Log

[2021-05-10 11:27:51.505][WARN][main][org.springframework.context.support.AbstractApplicationContext:557][]: Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuratio

[2021-05-10 07:08] #10251 closed

[2021-05-10 08:26] zexho994 commented on #10290
## update
spring boot version : 2.1.7.RELEASE
ss version : 5.0.0-alpha

updated dependency
[code]

updated application.yml
[code]

but...  now there is a new error
[code]

[2021-05-10 09:30] taojintianxia opened #10296 "got an error `Your password does not satisfy the current policy requirements` on proxy"
let's suppose there are 3 centos 7 to reproduce the issue

proxy : code from github @ 2021-05-10 : 17:26
mysql : 5.7.34 MySQL Community Server

|  machine-A   | machine-B  | machine-C  |
|  ----  | ----  | ----  |
| proxy  | mysql-A | mysql-B |

I could access MySQL-A and MySQL-B seperately from proxy by mysql client.

but when I try to start up the proxy , I got following error :

[code]

followi

[2021-05-10 09:36] taojintianxia commented on #10296
on mysql machine, launch mysql
[code]

after that clause , the problem solved

[2021-05-10 09:57] taojintianxia commented on #10296
but when connect to proxy from another machine , execute any sql will get follwoing error :

[code]

[2021-05-10 11:51] #10296 closed

[2021-05-10 12:01] fengying-wzm commented on #10290
5.0.0官网给的配置有点坑爹，我的如下通过：

[code]

[2021-05-10 12:02] MingxingLAI commented on #8982
I tested the code and it seems to be able to return the correct result. Can you give a test case?  @tristaZero @strongduanmu

[2021-05-10 12:14] zexho994 commented on #10290
@fengying-wzm  请问下datasource你是怎么配置的？

[2021-05-10 12:33] fengying-wzm commented on #10290
我的放在Apollo，是properties格式，你转一下。

[code]

[2021-05-10 12:35] fengying-wzm commented on #10290
@zexho994 我的放在Apollo，是properties格式，你转一下。
[code]

[2021-05-10 14:37] TeslaCN opened #10298 "Proxy PostgreSQL CLOSE_COMMAND not implemented"
## Feature Request

### Is your feature request related to a problem?

![image](https://user-images.githubusercontent.com/20503072/117676560-3bdc0e00-b1e0-11eb-8afd-722c06768957.png)

### Describe the feature you would like.
Support CLOSE

[2021-05-11 02:01] zexho994 commented on #10290
@fengying-wzm 非常感谢，已解决，是配置的问题

[2021-05-11 02:01] #10290 closed

[2021-05-11 02:07] zuoyedalaohu opened #10300 "sharding-jdbc(4.1.1) UNION ALL limit Exception"
[c.x.c.o.c.d.m.c.extOper.OpCustomMapper.getCustList.debug:143] ==>  Preparing: SELECT concat(tab.cust_type,tab.cust_no) as id,tab.cust_no,tab.ub_cust_no,tab.cust_name, tab.cust_type,tab.salesman_code,tab.salesman_name,tab.salesman_dept_no, tab.salesman_dept_name,ifnull(tab.link_telphone,'') link_telphone,ifnull(tab.link_person,'') link_person,tab.if_limit, tab.limit_no,IFNULL(lmt.available_limit_a

[2021-05-11 02:22] zuoyedalaohu opened #10301 "sharding-jdbc（4.1.1）String index out of range: 0"
### SQL: SELECT concat(tab.cust_type,tab.cust_no) as id,tab.cust_no,tab.ub_cust_no,tab.cust_name,         tab.cust_type,tab.salesman_code,tab.salesman_name,tab.salesman_dept_no,         tab.salesman_dept_name,ifnull(tab.link_telphone,'') link_telphone,ifnull(tab.link_person,'') link_person,tab.if_limit,         tab.limit_no,IFNULL(lmt.available_limit_amt,0) available_limit_amt,tab.belong_company,

[2021-05-11 03:02] KolorYan commented on #7998
has this issue fixed?
I had the same problem for sql with password function :

INSERT INTO xxx (create_time, modify_time, is_deleted,
      supplier_name, route_id, status, account, password,
      contacts, phone, email, app_id, app_secret, channel_types, switch_status,
      def_channel_type, api_type, supplier_type, sync_type_id)
    VALUES (NOW(), NOW(), #{isDeleted,jdbcType=TINYINT},
      #{

[2021-05-11 06:01] menghaoranss opened #10302 "Support to execute “;” command separately for PostgreSQL"
The driver of PostgreSQL for `Go` , `Ping()` method is implemented by executing ";" separately, but proxy can not parse it now.

[code]

[2021-05-11 08:48] RaigorJiang commented on #10207
Hi @lancecpdd
Sorry to have kept you waiting.
I found the cause of the problem, and the change appeared after the merge of the ResultSet.

![image](https://user-images.githubusercontent.com/5668787/117785075-cd965a80-b276-11eb-9cd0-b5814f1dd5b1.png)

At line 138, the datetime column is correct. But after resultSet merged at line 141, the datetime column got changed.
This problem was fixed in 4.0.0

[2021-05-11 21:19] KyrieY commented on #10190
hi @RaigorJiang   I catch the same problem and see shardingsphere-jdbc-core-spring-boot-starter dependency on the official site, but I can't find it in the maven repository, should I download it from the website?

[2021-05-12 00:27] tristaZero commented on #10278
Hi could you try 5.x or 4.x release? I suppose we fixed it already. BTW, I suggest you search the keywords in the issue list (Especially these closed ones) so that you can know which release included this bug fix. Thanks.

[2021-05-12 01:16] lancecpdd commented on #10207
@RaigorJiang ，Thank you for your help, I will try to update the version

[2021-05-12 01:36] tristaZero commented on #10263
Hi @arun-prasat ,

Does this SQL cause the exception even with 5.0.0-alpha?

[2021-05-12 01:37] tristaZero commented on #10263
@strongduanmu Could you figure out our master branch can parse it well?

[2021-05-12 01:40] tristaZero commented on #10279
Hi
which release do you use? Are the relevant tables in this  SQL all sharding tables?

[2021-05-12 01:41] tristaZero commented on #10283
Hi @NOLouser Thanks for your detailed issue.

@yu199195 Could you have a look here?

[2021-05-12 01:56] tristaZero commented on #10301
Hi your issue does not provide the necessary info for our developers to take a look.

I am curious whether you can locate the cause just by the exception without any clarification? #10300 too.

[2021-05-12 02:09] leonbond commented on #10259
@tristaZero I have tried several versions of antlr, including 4.7.2 4.7.1 and so on,  while the version of sharding-jdbc is 4.1.1, they all report errors

[2021-05-12 02:11] strongduanmu commented on #10263
Hi @arun-prasat, thank you very much for your feedback, but I am sorry to tell you that `shardingsphere` does not support clickhouse now. There are many differences between clickhouse SQL and sql92 standards.

[2021-05-12 02:12] leonbond commented on #10259
5.0.0-alpha works, no more error.

[2021-05-12 02:16] RaigorJiang commented on #10190
Hi @KyrieY
I use aliyun maven mirror, and the dependency can be found.
You can download from aliyun.
ref: https://maven.aliyun.com/mvn/search
keywords: `shardingsphere-jdbc-core-spring-boot-starter`

[2021-05-12 02:25] RaigorJiang commented on #10138
Sorry to hear that. But the information is not enough, I can't reproduce it.
Maybe somebody else can help.

[2021-05-12 03:22] arun-prasat commented on #10263
yes I tried with 5.0.0-alpha also with the master branch still no luck. Getting the same parser exception.

[2021-05-12 03:24] arun-prasat commented on #10263
Thanks for your response. Is there any pipeline to implement for clickhouse in near future?

[2021-05-12 03:41] strongduanmu commented on #10263
@arun-prasat The community currently has no plans to support `clickhouse`. If you are interested, you are welcome to join in us to promote this work. 😊

[2021-05-12 05:24] terrymanu opened #10311 "The auto generated files from ANTLR may push to GitHub"
The auto generated files from ANTLR are located on `/gen` folder which may push to GitHub if committer careless.

The solutions to be resolved problems:

1. Make generated codes from `/gen` to `target/gen` (I prefer this way)
2. Or add `/gen` to .gitignore file

[2021-05-12 05:47] TeslaCN commented on #10311
Consider configuring your ANTLR output disectory.

![image](https://user-images.githubusercontent.com/20503072/117924574-88cafc00-b328-11eb-8e0c-b26500a78a80.png)

[2021-05-12 06:18] menghaoranss commented on #10280
`DDL` can not be rolled back, will destroy the highly consistency of XA

[2021-05-12 06:29] bkiers commented on #10259
No, that was not what I meant. The problem is with one of the `.g4` grammar files in this repository. This is **not** a bug in ANTLR 4.7.2 (or some other version). I see this bug a lot on stackoverflow. The issue is outlined in the related SO Q&A linked in this issue.

More background information can be found if you Google on "keyword identifier issue antlr": https://www.google.com/search?channel=

[2021-05-12 06:49] huntkalio opened #10314 "shardingsphere-scaling transfer -1 to 255 for TINYINT when IN 'EXECUTE_INCREMENTAL_TASK'"
## Bug Report
1.I use the master version of  shardingsphere-scaling to test database scaling.I have a table which has a column like this:
`client_type` TINYINT(2) NULL DEFAULT '-1';

2.when running shardingsphere-scaling transfer '-1'  value to '255' value.Then the sql will transfer like this：
insert into test(id,client_type) values(1,255)......;

3.I found that MySQLTinyBinlogProtocolValue.java u

[2021-05-12 07:24] RaigorJiang commented on #10314
ref to #5868
This issue may needs some discussion  @tristaZero

[2021-05-12 08:25] darlinglele opened #10315 "How can i change listening port 3307 to 3306 ?"
I have check the document, but did found the option for listening port

[2021-05-12 09:27] #10298 closed

[2021-05-12 09:53] jingshanglu commented on #10259
@bkiers @tristaZero Yes, the problem is with `g4` file, now 5.0.0-alpha works.

[2021-05-12 10:25] RaigorJiang commented on #10315
Hi @darlinglele
Do you mean sharding-proxy?
`ShardingSphere-Proxy uses 3307 port in default. Users can start the script parameter as the start port number, like bin/start.sh 3308.`
see https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/usage/startup/

[2021-05-12 10:52] #10252 closed

[2021-05-12 11:17] #10230 closed

[2021-05-12 13:45] #10184 closed

[2021-05-12 14:16] wu-sheng opened #10321 "Make ShardingSphere as a core component when doing stress testing for a distributed system on product env"
Tracking with https://github.com/apache/skywalking/issues/6932

I and @tristaZero used to talk about collaborating ShardingSphere and SkyWalking to make stress testing for a distributed system on product env.

SkyWalking takes the responsibility of propagating the mock flag from the traffic generator, such as JMeter or some gateway(let's say a new APISIX accessing testing traffic).
ShardingSphere

[2021-05-13 01:43] KyrieY commented on #10190
@RaigorJiang thanks baby,

[2021-05-13 02:35] #10311 closed

[2021-05-13 03:02] zuoyedalaohu commented on #10301
说明太少？异常足够说明一切，这个mybatis的动态sql 引入sharding-jdbc 后解析sql通过不了，问题点在sql（'' as open_bank, '' as account_no ）java 代码：SQLUtil.getParenthesesOffset(SQLUtil.java:98)  string值 '' charAt 0 异常，sql 改成  null as open_bank, null as account_no 该处问题通过；
#10300 问题 不一样， 它是sql有分页参数，带上参数设置分页参数值时sharding-jdbc  位置定位错了，把第三个参数D00193(String) 当成分页参数用了，原因应该还是出在sql解析那里，有union all 的 sql解析 获取元数据 只分析了第一个子sql，后面分页参数理所当然就加在了后面，问题你们可以不用

[2021-05-13 06:38] shixinxin6 opened #10328 "What a suitable prop value to max.connections.size.per.query"
## Question

Version ： 4.1.1
Sharding JDBC

Too slow start for default value

Start Locked for value is 50
![image](https://user-images.githubusercontent.com/43789167/118088107-255ccf00-b3f9-11eb-8f34-11f830184699.png)

[2021-05-13 06:41] KSMASTERS commented on #8623
I have the same problem！

[2021-05-13 09:09] #10301 closed

[2021-05-13 09:24] tristaZero commented on #8623
Hi @KSMASTERS  could you try 5.0.0-alpha?

[2021-05-13 09:44] tristaZero commented on #10259
Hi @bkiers ,

Thanks for your clarificaiton, l mistook your words. Also, thanks for your answer on `stack` page.

[2021-05-13 10:01] tristaZero commented on #10314
Hi @huntkalio ,
Thanks for your report and debug. So we mainly locate this issue is about `MySQL protocol, right?
@TeslaCN could you give this one a double-checking?
@RaigorJiang Do you have any idea dealing with this one?

[2021-05-13 10:17] tristaZero commented on #8982
@MingxingLAI Thanks for your effort. If so, looks like we can close this one, right?
@yujun110 While, I have week confidence you will give some feedbacks here, @MingxingLAI did much work to test on our master branch and this SQL worked well. That means the incoming release will support it.
If this msg could reach you, could you give a double-check?

[2021-05-13 10:18] tristaZero commented on #7998
Hi @KolorYan Could you try 5.0.0-alpha?

[2021-05-13 10:41] RaigorJiang commented on #10314
I have a question, why we changed it to unsigned in 5868?

[2021-05-13 10:42] darlinglele commented on #10315
Good, thank you very much!

[2021-05-13 11:13] huntkalio commented on #10314
@tristaZero ，I think we can't distinguish whether it is signed or unsigned only by MySQL binlog protocol，may need to use the table meta info.

[2021-05-13 11:17] tristaZero commented on #10314
Maybe, like [Table Metadata](https://github.com/apache/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/schema/model/TableMetaData.java)?

@tristaZero

[2021-05-13 11:25] huntkalio commented on #10314
yes,may add something like this：

https://github.com/alibaba/canal/blob/master/parse/src/main/java/com/alibaba/otter/canal/parse/inbound/TableMeta.java

[2021-05-14 03:18] henjuese opened #10332 "The project started very slowly 使用了sharding-jdbc 后项目启动特别慢"
Loading 3 logic tables' meta data
Start up stuck for a long time

启动扫描元数据，导致启动特别慢。目前在暂时使用
<prop key="max.connections.size.per.query">50</prop> 来解决问题。

[2021-05-14 03:38] menghaoranss commented on #10332
For English only, could you please translate to English first.

[2021-05-14 03:44] #10332 closed

[2021-05-14 03:49] henjuese opened #10333 "The project started very slowly"
Loading 3 logic tables' meta data
Loading 3369 tables' meta data
..........
Start up stuck for a long time
Loading metadata is very slow

[2021-05-14 05:08] hzhangse commented on #234
公牛智能产业中心-物联网云平台 https://www.gongniu.cn/

[2021-05-14 06:04] KSMASTERS commented on #6886
The 4.1.1 release still has this problem

[2021-05-14 06:15] KSMASTERS commented on #6886
But this is caused by a mismatch between the database field definition type and the ResultMap field map

[2021-05-14 07:10] yllions commented on #10333
you can config the `spring.sharding.props.max.connections.size.per.query` param greater. for example 16 or 32.

[2021-05-14 12:21] menghaoranss opened #10339 "NPE occurs after `drop database xx` command is executed in Proxy"
1.  use database test
2. drop database test
3. show databases

[code]

[2021-05-14 14:01] #10263 closed

[2021-05-14 15:05] terrymanu opened #10345 "Add more assertions of GovernanceFacadeTest.assertInit()"
use reflection to assert attributes of GovernanceFacade.

Just search `// TODO` from class `GovernanceFacadeTest` to find hint

[2021-05-14 15:06] terrymanu opened #10346 "Add test case for RegistryCenterRepositoryFactory"

[2021-05-14 15:27] totalo commented on #10346
hello  can i try to do this ?

[2021-05-14 16:20] JooKS-me commented on #10345
@terrymanu Hi, can I try it?

[2021-05-14 17:19] #10302 closed

[2021-05-15 05:12] wavelet123 opened #10349 "data migration config"
Hi Team,
We need to migrate  one houndred millions records into 1000 sharding tables.
Could you please advise how to recognize the source table in sharding proxy?

what I want to do is
insert into account_friend_012(sharding table) select * from source.account_friend (source table)where id=1;

but with following configuration,I can only see the sharding table.please advise.

dataSources:
  ds_0:

[2021-05-15 05:29] liuyuqiang opened #10350 "在日志中打印 SQL带有换行，不便于日志检索, 打印 SQL日志 如何打成一行 ?"
sql 日志带有换行，不便于日志检索, sql 日志 如何打成一行 ?

`
INFO  ShardingSphere-SQL-Actual SQL: test-db::: INSERT INTO test_ 1 ( id,
type,
uid,
r,
a,
b,
c,
e,
f,
c,
create,
update )  VALUES  (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?) ::: [0, 0, 1, 0, 0, 0, 0, 0, 0, , 2021-05-15 13:23:12.0, 2021-05-15 13:23:12.0]
`

[2021-05-15 05:48] wavelet123 commented on #10349
I mean how to config to check the other no-sharding tables in one datasource

[2021-05-15 06:51] menghaoranss commented on #10350
@liuyuqiang For English only.

[2021-05-15 06:51] #10350 closed

[2021-05-15 11:04] #10339 closed

[2021-05-15 11:57] heysJava opened #10353 "this(connection, ResultSet.TYPE_FORWARD_ONLY, ResultSet.CONCUR_READ_ONLY, ResultSet.HOLD_CURSORS_OVER_COMMIT);"
public ShardingSphereStatement(final ShardingSphereConnection connection) {
        this(connection, ResultSet.TYPE_FORWARD_ONLY, ResultSet.CONCUR_READ_ONLY, ResultSet.HOLD_CURSORS_OVER_COMMIT);
    }

Excuse me, why the three parameters are fixed in this method

[2021-05-15 23:58] strongduanmu commented on #10257
@DongJigong Thank you very much for your feedback. At present, ShardingSphere is not perfect in handling temporary table aliases. I will try to fix this problem in the master branch.

[2021-05-16 00:41] strongduanmu commented on #10257
@DongJigong With 4.1.1 version, you can rewrite sql like this:
[code]

[2021-05-16 01:08] DongJigong commented on #10257
Thanks. I have rewrite my sql to solve this problem. I hope that problems like this can be solved quickly.

[2021-05-16 02:17] SteNicholas commented on #10353
@heysJava , the default behavior value of above three parameters are `ResultSet.TYPE_FORWARD_ONLY`, `ResultSet.CONCUR_READ_ONLY`, `ResultSet.HOLD_CURSORS_OVER_COMMIT`. Users could specific the value of the parameters.

[2021-05-16 02:17] SteNicholas commented on #10353
@heysJava , the default behavior value of above three parameters are `ResultSet.TYPE_FORWARD_ONLY`, `ResultSet.CONCUR_READ_ONLY`, `ResultSet.HOLD_CURSORS_OVER_COMMIT`. Users could specific the value of the parameters.

[2021-05-16 02:21] SteNicholas commented on #10346
@totalo , have you discussed with @terrymanu what need to do for this task? If you know what to do, I can assign this to you.

[2021-05-16 02:22] SteNicholas commented on #10345
@JooKS-me , I have assigned this to you. Please go ahead to complete this.

[2021-05-16 02:23] SteNicholas commented on #10333
@henjuese , have you tried to update the `spring.sharding.props.max.connections.size.per.query` configuration?

[2021-05-16 02:24] #10315 closed

[2021-05-16 02:52] DongJigong opened #10354 "navicat client use sharding-proxy connect error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-16 02:54] DongJigong commented on #10354
![image](https://user-images.githubusercontent.com/8855265/118383928-fa5ebf00-b634-11eb-9550-142c6b90625d.png)
![image](https://user-images.githubusercontent.com/8855265/118383944-0cd8f880-b635-11eb-8267-1fbe4a7c4560.png)

[2021-05-16 03:22] totalo commented on #10346
Thank you very much. For the test, I think I can try it first based on my understanding of the code. After the completion, I can trouble everyone to review and discuss.😁

[2021-05-16 03:39] heysJava commented on #10353
@SteNicholas ,How do users specify these parameter values? When using the qurey method of jdbcTemplate, connection.createStatement() will be used. This method calls the createStatement() method in the ShardingSphereConnection class, and it will be new ShardingSphereStatement(this); that is this way
public ShardingSphereStatement(final ShardingSphereConnection connection) {
        this(connection,

[2021-05-17 01:16] DongJigong commented on #10354
mysql-clent command operation is ok.

[2021-05-17 01:16] #10354 closed

[2021-05-17 03:59] strongduanmu commented on #10353
@heysJava Hi, I have checked the Connection implementation of MySQL JDBC driver. By default, similar parameter settings are also provided.

[code]

Besides, the `ShardingSphereConnection` class provides multiple createStatement overload methods to support user-specified parameters. I think you should check the Spring `JdbcTemplate` documentation to see whether it provides relevant methods to call

[2021-05-17 05:06] ThanoshanMV commented on #10111
Hi @tristaZero, I'll start work on [Oracle SELECT statement](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/SELECT.html#GUID-CFA006CA-6FF1-4972-821E-6996142A51C6) as it's hard and other DML statements depend on `SELECT` statement's rules.

[2021-05-17 06:16] #10346 closed

[2021-05-17 06:19] SeniorBoy commented on #2825
version.4.1.1    Too many keys are generated.

[2021-05-17 06:20] SeniorBoy commented on #2825
private void prepare() {
        executionContext = prepareEngine.prepare(sql, getParameters());
        findGeneratedKey().ifPresent(generatedKey -> generatedValues.add(generatedKey.getGeneratedValues().getLast()));
    }

generatedValues size() > 1

[2021-05-17 06:21] SeniorBoy opened #10357 "Too many keys are generated"
## Bug Report

 private void prepare() {
        executionContext = prepareEngine.prepare(sql, getParameters());
        findGeneratedKey().ifPresent(generatedKey -> generatedValues.add(generatedKey.getGeneratedValues().getLast()));
    }

found `generatedValues` values size > 1

 Too many keys are generated. There are only 1 target objects
Version 4.1.1

[2021-05-17 06:23] tristaZero commented on #10111
@ThanoshanMV Yep, but you can proofread it by successive PRs.

[2021-05-17 06:32] tristaZero commented on #234
@hzhangse Please have my welcome.

[2021-05-17 06:32] ThanoshanMV commented on #10111
Okay @tristaZero, I'll proofread it by successive PRs.

[2021-05-17 06:33] tristaZero commented on #10314
@huntkalio Similar.

Actually, I have no idea how and why we fix #5868. Maybe the assignee of that issue can give us some hints. @tuohai666

Besides, I still confused by @huntkalio described in this  issue,

Maybe we start by figuring this part out. @RaigorJiang  Like @huntkalio 's comment, it looks like `table metadata` is required.

@huntkalio This issue just impacts sharding-scaling, doesn't it

[2021-05-17 06:39] tristaZero commented on #10349
Hi  @wavelet123 ,

`Check non-sharding` tables?  Does that mean to show  `non-sharding` tables in  Proxy?
If you use 5.0.0-alpha, all non-sharding tables will be present by executing `show tables` SQL, even though they do not show up in your yaml configuration.

[2021-05-17 06:40] tristaZero commented on #10357
Hey, could you try the 5.0.0-alpha?

[2021-05-17 06:45] SeniorBoy commented on #10357
5.0.0-alpha There are other bugs in this release as well
 Does not support ClassBasedShardingAlgorithm ，The sharding algorithm was not found in the dependency package

[2021-05-17 06:45] SeniorBoy commented on #10357
5.0.0-alpha There are other bugs in this release as well
 Does not support ClassBasedShardingAlgorithm ，The sharding algorithm was not found in the dependency package

[2021-05-17 06:45] SeniorBoy commented on #10357
5.0.0-alpha There are other bugs in this release as well
Does not support ClassBasedShardingAlgorithm ，The sharding algorithm was not found in the dependency package

[2021-05-17 08:18] avalon5666 commented on #10314
I will check this.

[2021-05-17 09:41] strongduanmu commented on #10008
Closed because long time no response.

[2021-05-17 09:41] #10008 closed

[2021-05-17 09:43] hermitcai commented on #5755
thanks, fix my problem.
but my config is:
spring.shardingsphere.props.check.table.metadata.enabled = false
spring.shardingsphere.props.max.connections.size.per.query = 5
version is 4.1.1

[2021-05-17 10:05] tristaZero commented on #10357
You mean  this user-defined sharding algorithm interface `StandardShardingAlgorithm`?

[2021-05-17 10:11] notzero1995 opened #10366 "springxml define abstract bean result in NullPointerException"
Bug Report
xml define abstract bean as the figure shows
![image](https://user-images.githubusercontent.com/49049116/118471909-da192800-b73a-11eb-9307-3e444bfac090.png)
NullPointerException bugs as shown in the figure
![image](https://user-images.githubusercontent.com/49049116/118472337-4d229e80-b73b-11eb-9a43-337e2c59379f.png)

[2021-05-17 10:12] SeniorBoy commented on #10357
![image](https://user-images.githubusercontent.com/20497813/118472396-5f044180-b73b-11eb-9b85-67f4c4509e7a.png)

ClassBasedShardingAlgorithm interface

[2021-05-17 10:20] strongduanmu commented on #10366
@notzero1995 Hi, can you provide more detailed information according to the issue template?

[2021-05-17 10:26] TracyBin commented on #3127
upgrade to version 4.0.1 can solve the problem, 4.1.0 is also ok

[2021-05-17 10:49] notzero1995 commented on #10366
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
 ShardingSphere-JDBC
### Reason analyze (If you can)
not think about abstract bean
### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
![image](https://user-images.githubusercontent.com/49049116/118476822

[2021-05-17 10:51] strongduanmu commented on #10300
@zuoyedalaohu Can you provide your sharding configuration? In the sharding scenario, the union syntax is not currently supported.

[2021-05-17 13:13] strongduanmu opened #10368 "Investigate and optimize the SQL compatibility of routing to single data node"
# Background

The sharding function of SS 4.X version is 100% compatible with routing to single data node SQL(including single table SQL (implemented by defaultDataSourceName) or sharding table). Due to the refactoring of the kernel in SS 5.X, some SQL execute abnormally, which needs to be investigated  and supported.

# Task

- [ ] MySQL routing to single data node SQL support
  - [ ] DALStatemen

[2021-05-17 23:51] RaigorJiang commented on #10357
Hi @SeniorBoy
ClassBasedShardingAlgorithm is not a interface, it's just a way to configure a custom sharding algorithm.
For example:
1. Define a custom sharding algorithm implements StandardShardingAlgorithm, named 'MyShardingAlgorithm'
2. Configure 'shardingAlgorithms' with 'MyShardingAlgorithm', like:

     &emsp;<sharding-algorithm-name\>:
     &emsp;&emsp;type: CLASS_BASED
     &emsp;&emsp;pro

[2021-05-18 04:11] #10257 closed

[2021-05-18 04:55] tristaZero opened #10374 "Clean code for Process report feature"
Hey,

Welcome! This is a very simple task for newcomers, please collaborate in this community from this one.

#### How
Look at my comment of #10351 and fix it.

[2021-05-18 05:22] SivaTharun commented on #10374
@tristaZero can i work on this issue.

[2021-05-18 05:28] tristaZero opened #10375 "Clean code for authority API"
Hi,

Greeting!
This issue is to optimize coding, please look at #10310 comments (TODO-1, TODO-2) and fix them.

Look forward to your PR and comments. :)

[2021-05-18 05:29] tristaZero commented on #10374
Hi @SivaTharun Assigned to you. If you like, #10375 is suitable for you. :)

[2021-05-18 06:11] SteNicholas commented on #10353
@heysJava , do you have other problem for this?

[2021-05-18 06:13] zhujunxxxxx commented on #10375
please assgin to me

[2021-05-18 06:13] SteNicholas commented on #10353
@heysJava, do you have other problem for `ShardingSphereStatement`? If you have no question about this, please close this issue.

[2021-05-18 06:25] strongduanmu commented on #10375
@zhujunxxxxx Assigned and welcome.

[2021-05-18 07:20] avalon5666 commented on #10224
Can you use varchar instead of nvarchar?

[2021-05-18 13:07] HollowMan6 commented on #9697
Hi! I'm a student from [Summer 2021](https://summer.iscas.ac.cn/#/org/orgdetail/apacheshardingsphere). I would like to do this project as the Summer 2021 Project.

For automatically publish docs to shardingsphere-doc repository when released, I have a workflow which helps me automaticly sync repos from GitHub to Gitee: https://github.com/HollowMan6/LZU-Auto-COVID-Health-Report/blob/main/.github/wo

[2021-05-18 14:51] #10345 closed

[2021-05-19 00:37] SteNicholas commented on #10366
@strongduanmu , @notzero1995 , IMO, the above configuration could cause the `NullPointerException` when the value of `abstract` is true. BTW, @notzero1995 do you have interest to fix the `NullPointerException` and contribute your pull request?

[2021-05-19 00:38] SteNicholas commented on #10368
@strongduanmu do you own this issue? If you would like to own, please assign this issue to yourself.

[2021-05-19 00:45] strongduanmu commented on #10368
@SteNicholas Thanks for your reminder.

[2021-05-19 01:33] avalon5666 commented on #9697
@HollowMan6 I'm glad you want to participate in this project, but there are other students already involved. I'll let you know if there's any new developments.

[2021-05-19 01:56] notzero1995 commented on #10366
it's my pleasure

[2021-05-19 02:04] strongduanmu commented on #10366
@notzero1995 Welcome, and i will assign this issue to you.

[2021-05-19 03:13] huntkalio commented on #10314
@tristaZero  I only test sharding-scaling and found this problem。

[2021-05-19 03:50] SteNicholas commented on #10368
@strongduanmu And you could update the status of the subtask after the pull requests are merged.

[2021-05-19 06:59] strongduanmu commented on #10368
@SteNicholas The DALStatement task is currently in progress, and there is still a lot of work to be done. If the work of the subtask is completed, I will update his status in time.

[2021-05-19 07:52] llooper-dev opened #10384 "ParameterMarkerExpressionSegment cannot be cast to LiteralExpressionSegment exception is reported when execute select statement."
**sharding jdbc version: 4.1.1 , SQL解析报错。但使用v4.0.1版本没问题,请问哪个版本会修复这个问题？**

aused by: org.apache.ibatis.exceptions.PersistenceException:
### Error querying database.  Cause: java.lang.ClassCastException: org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.ParameterMarkerExpressionSegment cannot be cast to org.apache.shardingsphere.sql.parser.sql.segment.dml.expr.simple.LiteralExpression

[2021-05-19 07:52] llooper-dev commented on #10384
SELECT *,? AS sortType,? AS loginUserId,5 AS childLimit FROM t_comment_user t  WHERE  t.is_delete=0 and t.ugc_id=? and t.root_id=0 and t.hot_score < ? and (t.comment_status = 1 or (t.comment_status = 2 and t.uid = ?)) and t.ugc_uid=?   ORDER BY t.hot_score DESC,t.id DESC   limit ?

[2021-05-19 07:53] llooper-dev commented on #10384
CREATE TABLE `t_comment_user` (
  `id` bigint NOT NULL COMMENT '主键id',
  `uid` bigint DEFAULT NULL COMMENT '当前操作用户id',
  `ugc_id` bigint DEFAULT NULL COMMENT '新鲜事id',
  `ugc_uid` bigint DEFAULT NULL COMMENT '发布新鲜事的作者id （散表字段）',
  `comment_type` int DEFAULT NULL COMMENT '评论类型:  image,text',
  `comment_text` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '评论的内容',

[2021-05-19 07:59] strongduanmu opened #10385 "Add assertion implementation for ExplainStatement"
# Backgroud

After PR #10377 was merged, the `explain` statement of PG and MySQL has been fully supported. In order to ensure the correctness of the parsing result, we need to implement the logic in ExplainStatementAssert.

Through this issue, you can learn more about how a SQL is parsed and how to verify the parsing result of a SQL in Apache ShardingSphere.

# How to solve this issue

First, find

[2021-05-19 08:06] strongduanmu commented on #10384
@llooper-dev Can you try the latest version —— `5.0.0-alpha`? The latest version has better support for SQL parsing.

[2021-05-19 08:11] llooper-dev commented on #10384
OK, I'll try it on ，thk!

[2021-05-19 08:17] strongduanmu commented on #10384
@llooper-dev Can you edit the title of the issue? Make it easier to search.

[2021-05-19 08:24] llooper-dev commented on #10384
How should I write this title?

[2021-05-19 08:27] llooper-dev commented on #10384
5.0.0-alpha, not released to the central repository, right? Can only check the source code and install it?

[2021-05-19 08:30] strongduanmu commented on #10384
@llooper-dev You can change it to `ParameterMarkerExpressionSegment cannot be cast to LiteralExpressionSegment exception is reported when execute select statement`.

[2021-05-19 08:31] strongduanmu commented on #10384
@llooper-dev https://search.maven.org/artifact/org.apache.shardingsphere/shardingsphere/5.0.0-alpha/pom

[2021-05-19 08:41] llooper-dev commented on #10384
<dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>sharding-jdbc-spring-boot-starter</artifactId>
            <version>?</version>
        </dependency>
       5.0.0-alpha with sharding-jdbc-spring-boot-starter which version?

[2021-05-19 08:43] hongshunanhai commented on #9337
does shardingsphere jdbc 4.1.1 support match() against('' in boolean mode) query in mysql?

[2021-05-19 09:18] strongduanmu commented on #10384
@llooper-dev Starting from 5.0, maven pom has changed to start with `shardingsphere`.

[code]

[2021-05-19 09:38] menghaoranss opened #10390 "DistSQL for Encrypt rule"
refer #9964

1. create

[code]
2. alter

[code]
3. drop

[code]
4. show

[code]

[2021-05-19 09:42] MingxingLAI commented on #8982
Yes, you can close the one if no more info.

[2021-05-19 12:05] totalo commented on #10385
hi can I try this ?

[2021-05-19 12:56] strongduanmu commented on #10385
@totalo Welcome. 👍

[2021-05-19 14:45] llooper-dev commented on #10384
thk!

[2021-05-19 23:02] wsj1028 opened #10394 "Does sharding not support DB2？"
I use DB2 to query the database and report an error，The test code is as follows
`    @Resource(name = "shardingDataSource")
    private DataSource dataSource;

        Connection connection = dataSource.getConnection();
        String sql = "select * from t_order";
        PreparedStatement preparedStatement = connection.prepareStatement(sql);
        ResultSet resultSet = preparedStatement.execut

[2021-05-20 00:35] strongduanmu commented on #10394
@wsj1028 I am very sorry to tell you that ShardingSphere does not support DB2, and currently supports MySQL, Oracle, SQLServer, and PostgreSQL.

[2021-05-20 02:20] wonewer opened #10395 "How's the sidecar project going?"
## Question

How's the sidecar project going?

[2021-05-20 02:31] strongduanmu commented on #10395
@wonewer The sidecar is still being planned.

[2021-05-20 02:37] henjuese commented on #10333
max.connections.size.per.query: 50 is OK

[2021-05-20 02:37] #10333 closed

[2021-05-20 04:30] #8982 closed

[2021-05-20 04:46] Suny95 opened #10396 "分表算法类中无法调用spring bean？"
分表算法类中调用静态方法获取分表索引序号失败
![image](https://user-images.githubusercontent.com/26239751/118920182-77a56f00-b968-11eb-81fb-bc16d8063b0a.png)

![image](https://user-images.githubusercontent.com/26239751/118920256-a3c0f000-b968-11eb-9667-18bdfe532dca.png)

图中的OrderClient类是Spring Bean，TABLE_COUNT静态字段是在该Bean初始化时赋值

问题1：
+ 目前的问题是在算法类中使用类OrderClient的静态方法getTableIndex无法正确获取到TABLE_COUNT修改后的值，只能获取到初始值，但在我们项目的业务代

[2021-05-20 05:08] childewuque opened #10397 "how to config SPI sharding class in springboot2.3?"
shardingsphere jdbc 5.0.0-alpha

public class DBShardingAlgorithm implements StandardShardingAlgorithm<Long>

resources/META-INF/spring.factories
org.apache.shardingsphere.sharding.api.sharding.standard.StandardShardingAlgorithm=com.test.DBShardingAlgorithm

  `database-class-based:
            type: CLASS_BASED
            props:
              strategy: standard
              algorithmClassName:

[2021-05-20 05:40] strongduanmu commented on #10396
@Suny95 For English only, other language will not be accepted.

[2021-05-20 05:40] #10396 closed

[2021-05-20 05:57] childewuque commented on #10397
org.apache.shardingsphere.sharding.spi.ShardingAlgorithm=com.test.DBShardingAlgorithm

org.apache.shardingsphere.infra.spi.exception.ServiceProviderNotFoundException: No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm` with type `CLASS_BASED`

[2021-05-20 06:06] strongduanmu commented on #10397
@childewuque After this [PR](https://github.com/apache/shardingsphere/pull/8508) is merged, we use the `CLASS_BASED` sharding algorithm without additional configuration of SPI, just specify the `algorithmClassName` parameter. Therefore, you can try the latest code from the master branch.

[2021-05-20 06:27] tristaZero commented on #10374
@SivaTharun Hi

Here is [the detail](https://github.com/apache/shardingsphere/pull/10351/files#r634033162).

[2021-05-20 06:33] alongsoCJR commented on #6656
what should i do,I  meeting the some problem during dev。

[2021-05-20 06:35] alongsoCJR commented on #6656
should i upgrade version to 5.0.0-g

[2021-05-20 06:35] childewuque commented on #10397
Thank u，I'll try the master branch.
And looking forward to the next version

[2021-05-20 07:20] fanchao916 opened #10400 "ERROR 2006 (HY000): MySQL server has gone away"
sharding-proxy 5.x Alpha，After connecting with the mysql client (mysql -uxx -pxx -hxx -Pxxx)，When I execute the show databases command, some databases  can be displaye。After executing use sharding_db  and  Execute show tables；Report an error

ERROR 2006 (HY000): MySQL server has gone away
No connection. Trying to reconnect...
Connection id:    31
Current database: sharding_db

ERROR 2013 (HY000):

[2021-05-20 07:25] tristaZero commented on #9568
Hi @taojintianxia ,

Phase one of this issue is completed, so before entering phase two, we need to functional verification test currently.

Could you give us a hand here?

#### How
- Switch this feature on
Please refer to [DDL report](https://github.com/apache/shardingsphere/pull/10351/commits/b1d45b179718b516a7cfc1175bf20043ff6652fd) and package this project.

- Deployment
1. Zookeeper and MySQL

[2021-05-20 07:32] tristaZero commented on #9568
@sandynz Let us wait for the FVT.

[2021-05-20 08:29] kfwang90 commented on #7200
Hi, I have a similar problem when execute sql like this `select nextval('seq_name');`  The SQL is routed to Slave node.
Does this PR resolved the problem? @tuohai666

[2021-05-20 08:57] alongsoCJR commented on #8913
i meeting the same questions，please help me

[2021-05-20 10:33] strongduanmu commented on #10400
@fanchao916 Can you translate it to English?

[2021-05-20 10:47] strongduanmu opened #10403 "Add parse & rewrite test case for postgresql start/end transaction"
After PR #10402 is merged, we need to add some test cases for postgresql `start/end transaction` statements, including parse result tests and rewrite tests.

If you are a newbie, you can use the `SQLParserParameterizedTest` and `ShardingSQLRewriterParameterizedTest` classes as the entrance to understand the logic of parsing tests and rewriting tests.

If you are interested, please leave a comment

[2021-05-20 11:22] taojintianxia commented on #9568
hi , there
following is the process I try to test the RQL

1. I launched up 3 containers through docker compose, MySQL-A, MySQL-B, zookeeper

2. switch the option `return context.getSqlStatement() instanceof DDLStatement;` in ExecuteProcessStrategyEvaluator.java

3. compiled the shardingsphere project and unzip the proxy districution

4. edit the config-sharding.yaml and luanch up proxy

5. insert

[2021-05-20 11:27] #10353 closed

[2021-05-20 11:28] SteNicholas commented on #10394
@wsj1028 , ShardingSphere doesn't support DB2 database, but welcome to contribute the DB2 integration.

[2021-05-20 11:52] fanchao916 commented on #10400
sharding-proxy 5.x Alpha，After connecting with the mysql client (mysql -uxx -pxx -hxx -Pxxx)，When I execute the show databases command, some databases can be displaye。After executing use sharding_db and Execute show tables；Report an error

ERROR 2006 (HY000): MySQL server has gone away
No connection. Trying to reconnect...
Connection id: 31
Current database: sharding_db

ERROR 2013 (HY000): Lost c

[2021-05-20 11:56] SeniorBoy commented on #10357
No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm` with type `CLASS_BASED`.

[2021-05-20 14:12] sandynz commented on #9568
That's ok.

[2021-05-20 15:11] zhujunxxxxx opened #10409 "Complete oracle partition grammar"
relate #9694.

support oracle alter table partition grammar

![image](https://user-images.githubusercontent.com/7948408/119003605-6ee08780-b9c0-11eb-9098-4eb68486adf7.png)

we need support
- modify_table_default_attrs
- alter_automatic_partitioning
- alter_interval_partitioning
- set_subpartition_template
- modify_table_partition
- modify_table_subpartition
- move_table_partition
- move_table_subp

[2021-05-21 01:58] fanchao916 opened #10411 "ERROR 2006 (HY000): MySQL server has gone away"
sharding-proxy 5.x Alpha，After connecting with the mysql client (mysql -uxx -pxx -hxx -Pxxx)，When I execute the show databases command, some databases can be displaye。After executing use sharding_db and Execute show tables；Report an error

ERROR 2006 (HY000): MySQL server has gone away
No connection. Trying to reconnect...
Connection id: 31
Current database: sharding_db

ERROR 2013 (HY000): Lost c

[2021-05-21 01:58] #10400 closed

[2021-05-21 05:14] TeslaCN commented on #10411
Hi, could you try the option `mysql -A`?

[2021-05-21 06:34] TeslaCN commented on #10411
This issue may be duplicated with #9089.

[2021-05-21 07:01] fanchao916 commented on #10411
Thank you ,it works .

[2021-05-21 07:01] #10411 closed

[2021-05-21 07:26] strongduanmu opened #10416 "Optimize java doc in ShardingRule class"
As described in PR #10414, some java doc description in the `ShardingRule` class is inaccurate and needs to be optimized. You need to optimize the java doc according to the comment in PR #10414, and check whether other java doc has the same problem.

For example, the following javadoc description is inaccurate.

[code]

We can modify it to `Judge whether logic table is sharding table or not.` Then

[2021-05-21 07:30] #10397 closed

[2021-05-21 07:30] #10395 closed

[2021-05-21 07:31] #10394 closed

[2021-05-21 07:40] menghaoranss opened #10417 "Check whether the dropped table rules exist in the binding table rule in DropShardingTableRuleBackendHandler"
Refer #9964

Just search `// TODO issue#10417` in class `DropShardingTableRuleBackendHandler .java`.

[code]

[2021-05-21 08:01] PaleWhiteDot opened #10419 "shardingjdbc5.0+springboot+oracle:start occured a error 'table or view does not exist',username is dirrerent with table schema"
## Version information
springBoot：2.1.4.RELEASE
shardingSphere：5.0.0-alpha
database： oracle

## Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

## config
[code]

## Description

my oracle username is MSG_CONNECT,oracle table is in schema MSG.i known shardingjdbc cannot surppot schema,so i set synonyms in oracle.But when i start up my application that i got the error 'tab

[2021-05-21 08:29] linchers opened #10420 "SQL server lost the value of the last field through top pagination"
## Bug Report

### Which version of ShardingSphere did you use?
4.1.1
sqlserver

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

select top 10 id, name, content from table 。。。
id = 1; name = 123; content= abc
result: 1, abc, null
**ID is used as an alias**
shardingsphere-sql-parser-dialect\shardingsphere-sql-parser-sqlserver\

[2021-05-21 08:33] menghaoranss opened #10421 "Optimize check logic for CreateShardingTableRuleBackendHandler"
refer #9964

Execute  `RDL`  `CREATE SHARDING TABLE RULE t_order(...),t_order_item(...)`,  the handler must check the tables `t_order` and `t_order_item` don't exist in current schema,  now the logic of get all tables in current schema as follows:

[code]

1. This code should be instead of `ProxyContext.getInstance().getMetaData(schemaName).getSchema().getAllTableNames();`

2. Refactor unit test i

[2021-05-21 08:46] RaigorJiang commented on #10357
@SeniorBoy  Have you tried the latest version?   5.0.0-RC1-SNAPSHOT

[2021-05-21 08:49] hongshunanhai commented on #502
如果关联查询出现1对多的情况，使用mybatis的collection方式进行分页查询（一页10条），会出现一次查询不够10条情况怎么解决？

[2021-05-21 08:51] strongduanmu commented on #10419
@PaleWhiteDot Thank you very much for your feedback. I will investigate this issue later.

[2021-05-21 08:53] strongduanmu commented on #10420
@linchers Hi, can you try the `5.0.0-alpha` version? I think this problem has been fixed.

[2021-05-21 11:47] chenxk commented on #10419
Me  too !!!

database: Oracle
exception: Failed to instantiate [org.apache.shardingsphere.shardingjdbc.spring.datasource.SpringShardingDataSource]: Constructor threw exception; nested exception is java.sql.SQLException: ORA-00942: 表或视图不存在

Oracle table is in schema  A， but read tables from schema B。
It took a whole afternoon to debug source codes , then i find shardingsphere  read wrong tables.

P

[2021-05-21 11:51] chenxk commented on #10419
shardingsphere version : 4.1.1
spring version: 4.1.3-release

[2021-05-21 14:39] terrymanu opened #10429 "Add update from event test cases for DataSourceStatusRegistryService"
Please search `// TODO add update assertions` in class `DataSourceStatusRegistryServiceTest`

[2021-05-21 19:50] Ahmed-Elkholy commented on #10429
Can I take this one?

[2021-05-22 06:10] #10429 closed

[2021-05-23 13:09] tristaZero commented on #8913
Hi @alongsoCJR
Please be careful of the inputted value and the InlineExpression you configured.

[2021-05-24 03:18] SteNicholas commented on #10366
@notzero1995 , why do you remove the assignment?

[2021-05-24 03:29] xuyjava opened #10436 "关闭进程 执行shutdownhook后，程序开始执行删除数据操作，底层报异常被拒绝。但是后续还有一次插入操作是ok可以执行得. 目前猜测像是操作数据得线程提前关闭了，但插入ok得，不清楚删除和插入是否存在区别."
INFO 67472 --- [nfoReplicator-0] c.n.d.DiscoveryClient                    : DiscoveryClient_RANK-SERVICE/rank-service:ce34cecf0e7eb423927a9bd09702218b - registration status: 204
%xwEx2021-05-24 11:20:16.704 ERROR 67472 --- [      Thread-12] c.w.g.n.l.a.Log4jPrintStream             : java.util.concurrent.RejectedExecutionException: Task com.google.common.util.concurrent.TrustedListenableFutureTask@

[2021-05-24 03:31] xuyjava commented on #10436
shardingsphere version: 4.1.1

[2021-05-24 03:48] taojintianxia opened #10437 "RDL process suspend"
proxy compiled by up to date master code.

following is the process to reproduce :

1.establish 2 MySQL by docker, init with schema `demo_ds` creation
2.start up proxy without any config yaml but server.yaml
3.connect to proxy by mysql client
4.create resource by RDL as following :
[code]

when try to drop or show this resource, will get an promotion `Empty set`
since the resource has been created

[2021-05-24 03:53] totalo commented on #10385
Hello @strongduanmu , I mentioned a PR about this isuues, please take a look. The only point I am not sure about is whether I need to test all DMLStatement, or simply choose a few to test?

[2021-05-24 04:00] yidazhi opened #10439 "Binding table configuration not effective"
I made the following configuration in sharding proxy, but the binding table did not take effect

bindingTables:
    - wt_tran,wt_tran_detail      ##Effective
    - user_account,user_subaccount    ##Effective
    - wt_tran_detail,user_account   ##It didn't work,These two tables will also produce Cartesian product for join query.

version  :  apache-shardingsphere-incubating-4.0.0-sharding-proxy

Ho

[2021-05-24 04:12] tristaZero commented on #10439
Looks strange if the first two work well.
From your configuration, I suppose wt_tran_detail, user_account, user_subaccount and wt_tran share same sharding column and algorithm, don't they? If so, could you configure that in the way below?
[code]

[2021-05-24 04:50] totalo commented on #10421
Hi, can I try to solve this problem？

[2021-05-24 04:52] strongduanmu commented on #10436
@xuyjava Can you translate it to English? And I can’t understand what you mean, can you submit it according to the issue template?

[2021-05-24 04:54] strongduanmu commented on #10421
@totalo Welcome, assigned.

[2021-05-24 04:55] totalo commented on #10421
Thank you very much!

[2021-05-24 04:56] strongduanmu commented on #10385
@totalo Great job! And i will review it.

[2021-05-24 05:36] yidazhi commented on #10439
Yes, they share the same slicing and algorithm. Let me test it according to your suggestion

[2021-05-24 05:45] #10436 closed

[2021-05-24 06:01] yidazhi commented on #10439
According to your suggestion, it is effective and will not produce Cartesian product. Thank you

[2021-05-24 06:02] #10439 closed

[2021-05-24 06:21] notzero1995 commented on #10366
I'm Sorry,i accidentally deleted this,could you assign issue to me.

[2021-05-24 07:00] SteNicholas commented on #10366
I have assigned to you. Go ahead to contribute.

[2021-05-24 07:13] strongduanmu commented on #10419
@PaleWhiteDot @chenxk I have tried to reproduce this problem, but failed. Can you provide steps to reproduce this exception?

[2021-05-24 08:45] PaleWhiteDot commented on #10419
I found  where the question is? In this method:PhysicalIndexMetaDataLoader.load(final Connection connection, final String table), will invoke connection.getSchema() and then will invoke the instance MetaDataConnectionAdapter.getSchema()
[code]
handle.getSchema(connection) like this（in this method OracleDatabaseMetaDataDialectHandler.getSchema()）
[code]
The code try to get my username as the schema

[2021-05-24 08:53] PaleWhiteDot commented on #10419
I think the username could not be null, so the orElse logic could't be invoke always.

[2021-05-24 08:56] chenxk commented on #10419
I also solved it like this!

`/**
     * Get schema.
     *
     * @param connection connection
     * @param databaseType database type
     * @return schema
     */
    public static String getSchema(final Connection connection, final String databaseType) {
        String result = null;
        try {
            if ("Oracle".equals(databaseType)) {
                return connection.getMetaData()

[2021-05-24 08:57] chenxk commented on #10419
I also solved it like this!

[2021-05-24 09:00] PaleWhiteDot commented on #10419
I'm not solved it, I just found where the question is.I don't know how to solve it.

[2021-05-24 09:05] PaleWhiteDot commented on #10419
i found that i can get the correct schema by orElse(getSchema(connection)  because i set schema=msg
[code]
but orElse place never be invoked. What should i do to solved this problem?

[2021-05-24 09:06] chenxk commented on #10419
**Temporary solution。**

[2021-05-24 10:06] strongduanmu commented on #10419
@chenxk @PaleWhiteDot Thank you very much for your detailed investigation. I checked the closed issue. This logic was added to solve other oracle metadata issues, refer to #6366.

I think we should adjust the priority of the schema. If the user configures the schema in the datasource, the value configured by the user should be taken first.

[code]

[2021-05-24 10:42] PaleWhiteDot commented on #10419
Does that mean I cant't use shardingjdbc until you fix it.Is there another solution?

[2021-05-24 10:50] strongduanmu commented on #10419
@PaleWhiteDot If you are interested, you can try to submit a PR to fix this problem. BTW, `5.0.0-alpha` still has some bugs to be solved, which is not suitable for production environment.

[2021-05-24 11:13] TeslaCN opened #10442 "PostgreSQL Proxy doesn't support SAVEPOINT"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Actual behavior

[code]

[2021-05-24 11:25] TeslaCN opened #10443 "Support openGauss' protocol Batch Bind"
## Feature Request

### Is your feature request related to a problem?
Error occurred when using openGauss JDBC driver connect to Proxy with openGauss backend.

### Describe the feature you would like.
Support openGauss's protocol Batch Bind ('U').

[2021-05-24 14:51] PaleWhiteDot commented on #10419
Does the 4.1.1 has the same problem?If not, i have to change my shardingjdbc version to 4.1.1。

[2021-05-25 00:39] duzhanfei commented on #8913
you can try  to   uppercase instead of lowercase

At 2021-05-23 21:09:54, "Juan Pan(Trista)" ***@***.***> wrote:

Hi @alongsoCJR
Please be careful of the inputted value and the InlineExpression you configured.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-25 02:08] chenxk opened #10449 "Exceeded the maximum number of open cursors"
500+ tables in my Oracle DB.
When the application running ,  an exception occurred: Exceeded the maximum number of open cursors

I found the problem at this class:
**org.apache.shardingsphere.sql.parser.binder.metadata.column.ColumnMetaDataLoader.load(final Connection connection, final String table, final String databaseType) throws SQLException**

----------Exception occurred -----------
try (Res

[2021-05-25 02:59] #10421 closed

[2021-05-25 03:01] menghaoranss commented on #10421
@totalo merged! Maybe you can try to fix #10417

[2021-05-25 03:45] zhzwdzai opened #10450 "There is a problem with the distributed transaction springcloud shardingsphere4.1.1+seata1.3.0"
If shardingsphere is used in downstream services, the global distributed transaction of Seata cannot be used
![image](https://user-images.githubusercontent.com/33139799/119438344-903fcb80-bd52-11eb-8ba3-28ca2c0d2d49.png)

![image](https://user-images.githubusercontent.com/33139799/119435994-e6f6d680-bd4d-11eb-93a7-01d62608a3df.png)
![image](https://user-images.githubusercontent.com/33139799/119436

[2021-05-25 04:24] totalo commented on #10417
hi can i try to solve this?

[2021-05-25 04:45] #10385 closed

[2021-05-25 04:47] tristaZero commented on #10449
Hi @chenxk ,

Thanks for your report.
I just gave a look at the [master branch](https://github.com/apache/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-common/src/main/java/org/apache/shardingsphere/infra/metadata/schema/builder/loader/ColumnMetaDataLoader.java), and this issue still exists.
Would you like to help this community fix it for the master branch? If you like, [gu

[2021-05-25 05:38] chenxk commented on #10449
OK， It's my pleasure。

[2021-05-25 07:03] menghaoranss commented on #10417
welcome

[2021-05-25 07:04] menghaoranss opened #10453 "Add more assertions for DistSQLStatementParserEngineTest"
Refer to other methods in `DistSQLStatementParserEngineTest ` to add more assertions for the following methods:

[code]

[2021-05-25 07:15] menghaoranss opened #10454 "Refactor SHOW SHARDING/READWRITE_SPLITTING/DB_DISCOVERY/ENCRYPT RULES"
refer #9964
- [x] SHOW SHARDING TABLE RULES (FROM schemaName)？
- [x] SHOW SHARDING TABLE RULE t_order (FROM schemaName)？
- [x] SHOW SHARDING BINDING TABLE  RULES (FROM schemaName)?
- [x] SHOW SHARDING BROADCAST TABLE RULES (FROM schemaName)?
- [x] SHOW READWRITE_SPLITTING RULES (FROM schemaName)?
- [x] SHOW DB_DISCOVERY RULES (FROM schemaName)?
- [x] SHOW ENCRYPT RULES (FROM schemaName)?
- [x] SHO

[2021-05-25 08:14] tristaZero opened #10455 "ShardingSphere Examples for upcoming release 5.0.0-beta"
Hi community,

I know you are expecting the new release coming. The next release does not include many wonderful features but becomes more stable, and reliable. Please keep your keen here.

This issue is around examples for the incoming release. Currently, @RaigorJiang is taking charge. After this issue is closed, the next release will be closer to us.

[2021-05-25 08:26] RaigorJiang commented on #10455
Thanks @tristaZero
The changes are being sorted out, and the detailed task list will be updated later.

[2021-05-25 08:50] KSMASTERS commented on #10416
I am interested, please let me do it

[2021-05-25 08:52] menghaoranss commented on #10454
**SHOW SHARDING BINDING TABLE RULES (FROM schemaName)?**

[code]

[2021-05-25 10:03] strongduanmu commented on #10416
@KSMASTERS Welcome to join ShardingSphere community! Assigned.

[2021-05-25 10:14] menghaoranss opened #10457 "Refactor import classes for DistSQLVisitor"
Just search code  like `final DistSQLStatementParser.` in `DistSQLVisitor ` and import the complete classes instead of import `DistSQLStatementParser `

[2021-05-25 10:59] KSMASTERS commented on #10457
I want  to do it!

[2021-05-25 11:21] menghaoranss commented on #10457
assigned, welcome.

[2021-05-25 12:45] menghaoranss commented on #10454
**SHOW SHARDING BROADCAST TABLE RULES (FROM schemaName)?**
[code]

[2021-05-25 21:44] Kirsan98 commented on #10453
Hi im interested to do it, please assign me.

[2021-05-25 23:16] #10442 closed

[2021-05-25 23:48] RaigorJiang commented on #10455
Hi community,

Due to the changes of the configuration format, we need to check whether the configuration of the following modules is correct (synchronized with the master branch), and run tests to verify the correctness of each function.

Note: There are adjustments to authority, db discovery and readwrting splitiing in the recent commits, and may also contain other changes, which need to be care

[2021-05-26 00:11] RaigorJiang opened #10469 "[Doc] proxy authentication configuration"
Due to the authority API changed, the proxy documentation needs to be updated.

### Currently
[code]
### New
[code]

### Files
- authentication.cn.md
- authentication.en.md

refer #10251

[2021-05-26 01:30] ArcherTrister opened #10470 "This SQL is not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-26 02:59] totalo commented on #10455
hi can try to finish sharding-example task?

[2021-05-26 03:20] totalo commented on #10453
please assigne to me ~

[2021-05-26 03:24] feiquan666 opened #10472 "java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.YamlRuleConfiguration"
### config-sharding.yml
schemaName: db
dataSourceCommon:
  username: root
  password: pass
  connectionTimeoutMilliseconds: 30000
  idleTimeoutMilliseconds: 60000
  maxLifetimeMilliseconds: 1800000
  maxPoolSize: 50
  minPoolSize: 1
  maintenanceIntervalMilliseconds: 30000
dataSources:
  db0:
    url:  .........................
  db1:
    url:  jdbc:mysql://..............
  db2:
    url:  jdbc:mys

[2021-05-26 04:08] TeslaCN opened #10475 "PostgreSQL Proxy return incorrect insert row count in transaction"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior
[code]

[2021-05-26 04:56] menghaoranss commented on #10454
**SHOW READWRITE_SPLITTING RULES (FROM schemaName)?**

_static_
[code]

_dynamic_
[code]

_all_
[code]

[2021-05-26 05:39] menghaoranss commented on #10454
SHOW DB_DISCOVERY RULES (FROM **schemaName)?**

[code]

[2021-05-26 05:52] strongduanmu opened #10476 "Support sharding tables and broadcast tables to execute ALTER TABLE ... RENAME TO ... statement"
Currently, PR #10462 only implements the `ALTER TABLE ... RENAME TO ... statement` for the single table. The storage problem of the table rule has not been solved after sharding tables and the broadcast tables are renamed. Therefore, sharding tables and the broadcast tables are not supported `ALTER TABLE ... RENAME TO ... statement` now.

We need to discuss with @tristaZero @menghaoranss to determ

[2021-05-26 06:28] TeslaCN opened #10477 "openGauss Proxy alter user with SUPERUSER failed"
## Feature Request

### Is your feature request related to a problem?

Superuser in openGauss is `sysadmin`.
[code]

`unrecognized role option "superuser"`

[code]
### Describe the feature you would like.

[2021-05-26 07:10] RaigorJiang commented on #10455
Hi @totalo
Of course, it’s great that you can help.
Now I will mark the task to you.

[2021-05-26 07:54] #10417 closed

[2021-05-26 08:33] #10314 closed

[2021-05-26 09:40] totalo commented on #10455
thx

[2021-05-26 09:45] menghaoranss commented on #10454
**SHOW ENCRYPT RULES (FROM schemaName)?**
[code]

[2021-05-26 09:52] tristaZero commented on #10455
@RaigorJiang Clear enough.
@totalo Hey, thanks for your hand with inc release.

[2021-05-26 09:56] tristaZero commented on #10455
Hi @zjcnb
Are you interested in this one? We can move it forward together.

[2021-05-26 10:13] zjcnb commented on #10455
Yes, of course. I'm interested, i can try to finish  encrypt-example and  hint-example task

[2021-05-26 10:19] tristaZero commented on #10449
#10471 fixed

[2021-05-26 10:19] #10449 closed

[2021-05-26 10:38] menghaoranss commented on #10454
**SHOW ENCRYPT TABLE RULE t_order (from schemaName)?**

[code]

[2021-05-26 11:16] menghaoranss commented on #10472
Which version of ShardingSphere did you use?

[2021-05-26 11:18] menghaoranss commented on #10390
completed

[2021-05-26 11:18] #10390 closed

[2021-05-26 11:47] TeslaCN opened #10492 "Use different ports between test cases to support Maven parallel execution"
## Feature Request

### Is your feature request related to a problem?

When execute Maven command in parallel, test cases failed.
[code]

[code]

### Describe the feature you would like.

Use different ports in different test cases when using embedded ZooKeeper server.

### How?

Make sure ports are different:
* org.apache.shardingsphere.scaling.core.fixture.EmbedTestingServer
* org.apache.shardin

[2021-05-26 12:10] TeslaCN opened #10493 "Add test for LocalTransactionManager"
## Test

Add unit test for `org.apache.shardingsphere.proxy.backend.communication.jdbc.transaction.LocalTransactionManager`

[2021-05-26 14:43] RaigorJiang commented on #10455
@zjcnb Thanks

[2021-05-26 15:10] feiquan666 commented on #10472
5.0

[2021-05-26 16:37] Akitata opened #10494 "Can sharding-sphere scaling use a more semantic parameter format ?"
### Is your feature request related to a problem?

In https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-scaling/usage/

When we want to create a job,  the parameters of the scaling http api must use a yaml format field in the json body,

In most cases, the source yaml config is complex, because the yaml in this json is difficult to format and yaml has strict indentat

[2021-05-27 01:35] strongduanmu commented on #10470
@ArcherTrister Is this SQL executed automatically when Proxy is started? Or is it manually executed SQL?

[code]

[2021-05-27 03:03] ArcherTrister commented on #10470
![image](https://user-images.githubusercontent.com/35516482/119759392-c3ad6200-beda-11eb-921b-a3abe21368a6.png)

it is manually executed SQL or executed by program

[2021-05-27 03:10] strongduanmu commented on #10470
@ArcherTrister Thank you for your feedback, and i will fix it later.

[2021-05-27 03:12] ArcherTrister commented on #10470
@strongduanmu you're welcome!

[2021-05-27 03:36] MingxingLAI opened #10497 "The name of the Collection should be plural in ResponsePacketBuilder"
Please look at the following code block:

[code]

The variable name `queryHeader` puzzles me，I think `queryHeaders` is more suitable.

[2021-05-27 04:08] #10470 closed

[2021-05-27 06:05] TeslaCN commented on #10273
[code]

[2021-05-27 06:56] casxter commented on #8431
![Uploading image.png…]()

[2021-05-27 07:08] SinPingWu commented on #234
普适导航科技股份有限公司 http://ubinavi.com.cn/

[2021-05-27 07:08] yuanjava1 opened #10500 "Error when table name is organization"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-05-27 07:28] taojintianxia opened #10501 "prxoxy can not suffer through multi times pressure test"
when we test the capacity by sysbench, will test many times by different senarios.

but after several times , proxy will be very slow , the tps / qps will decrease . after restart proxy , the problem will be solved.

----

following is the screen shot of the sysbench result after many times test.
![image](https://user-images.githubusercontent.com/4112856/119914740-7e00a000-bf93-11eb-942e-5d18e771d

[2021-05-27 07:37] strongduanmu commented on #234
@SinPingWu Welcome to join the community.

[2021-05-27 07:39] strongduanmu commented on #10500
@yuanjava1 Thank you very much for your feedback, can you provide the SQL text?

[2021-05-27 08:09] #10497 closed

[2021-05-27 08:12] tristaZero commented on #10494
Hi @Akitata thanks for your suggestion.

@Lucas-307 @avalon566 Does anyone have any idea about this one?

[2021-05-27 08:13] tristaZero commented on #10455
Hi @MingxingLAI
I am curious whether you'd like to be part of this task?

[2021-05-27 08:27] tristaZero commented on #9568
@sandynz Hi

This is feature is greatly included in our next release, but as you know it is a beta feature. So do you think it is possible to add a configured item to `server.yaml` of Proxy to control it works or not, like `check-table-metadata-enabled`

I assume it is not effortful and our next release is expected to make during the next week. I have no idea whether this `switch`  is possible to

[2021-05-27 08:33] avalon5666 commented on #10494
Currently, scaling priority support the elastic scaling for shardingsphere, so reuse the configuration of shardingsphere, use scaling by [shardingsphere ui](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-ui/) is now recommended.
Hum, may support DistSQL in the future, or refactor the api for more common scenarios
I'll let you know if we have a more definite plan,

[2021-05-27 09:19] TeslaCN commented on #10273
The root cause of this issue is
[code]

[2021-05-27 09:21] menghaoranss commented on #10454
[code]

[2021-05-27 10:07] menghaoranss commented on #10454
**SHOW SHARDING TABLE RULE t_order (FROM schemaName)？**
[code]

[2021-05-27 10:43] yuanjava1 commented on #10500
Hello, the second picture is marked in red，My English is not very good, please forgive me

[2021-05-27 11:16] totalo opened #10504 "sharding-example test result"
### sharding-raw-jdbc-example
- `REPLICA_QUERY` need change to `READWRITE_SPLITTING`
- `SHARDING_REPLICA_QUERY` need change to `SHARDING_READWRITE_SPLITTING`
- the shardingType of **SHARDING_READWRITE_SPLITTING test failed** and others type pass
here is the error log :
[code]

### sharding-spring-boot-jpa-example

failed

[code]

### sharding-spring-boot-mybatis-example

failed

[code]

### shardi

[2021-05-27 11:25] menghaoranss opened #10505 "Add more RQL parser tests in DistSQLStatementParserEngineTest"
1. SHOW SHARDING TABLE RULES FROM schemaName
2. SHOW SHARDING TABLE RULE t_order
3. SHOW SHARDING TABLE RULE t_order FROM schemaName

[2021-05-27 11:39] totalo commented on #10455
#10504 @RaigorJiang @tristaZero hi ,This is the result of my test. Next I will try to find the cause of the error and try to fix it.

[2021-05-27 12:08] RaigorJiang commented on #10455
@totalo  OK, thanks

[2021-05-27 12:18] JooKS-me commented on #10505
Hi, can I try it?

[2021-05-27 12:38] menghaoranss commented on #10505
welcome.

[2021-05-27 12:58] lyennon opened #10507 "There is a problem in ShardingSphereConnection . It should TransactionHolder.setInTransaction() when setAutoCommit(false)"
https://github.com/apache/shardingsphere/blob/41f1335023c8ca10ba289b8d02ae29967045429d/shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java#L237

 It should TransactionHolder.setInTransaction() when setAutoCommit(false);
if(!autoCommit){
TransactionHolder.setInTransaction()
}

[2021-05-27 22:05] Liangda-w opened #10513 "[GSoC 2021] Proofread the Oracle DDL/TCL SQL Definitions"
This issue is related to the Google Summer of Code (GSoC) 2021 project - [Proofread the Oracle DDL/TCL SQL Definitions](https://summerofcode.withgoogle.com/projects/#5167124928004096).
Meanwhile, it is a sub-issue of #6480.

### Background

ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, t

[2021-05-28 01:56] cz1422189551 opened #10515 "After Dependent ShardingSphere , MyBatis-Plus ResultMap Mapping Null"
env:
dependency group: 'com.baomidou', name: 'mybatis-plus-boot-starter', version: "3.4.0"
dependency group: 'org.apache.shardingsphere', name: 'shardingsphere-jdbc-core-spring-boot-starter', version: "5.0.0-alpha"

issue:
select *  from pue;     resultMapping  ok

select * , id as 'pid' from  pue;    resultMapping  only id  has value

select xxx.* , yyy.*  from xxxx;   resultMapping null

[2021-05-28 02:20] ZHZstruggle commented on #10492
please assigened to me

[2021-05-28 02:51] TeslaCN commented on #10475
I found the backend used portal.

[2021-05-28 03:14] #10505 closed

[2021-05-28 03:35] CanonNr commented on #10472
`java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.YamlRuleConfiguration`
遇到了相同的问题,我使用的是官方的sharding-proxy docker镜像部署

[2021-05-28 05:29] tangtian8 commented on #10493
please assigened to me tks

[2021-05-28 05:53] TeslaCN commented on #10273
I set `show-sql: true` and found something:

Excerpts:
[code]

<details>
<summary>Click here for more logs</summary>
<pre><code>
[INFO ] 2021-05-28 13:29:06.181 [pool-39-thread-1] ShardingSphere-SQL - Logic SQL: INSERT INTO sbtest2 (id, k, c, pad) VALUES (?, ?, ?, ?)
[INFO ] 2021-05-28 13:29:06.181 [pool-39-thread-1] ShardingSphere-SQL - SQLStatement: PostgreSQLInsertStatement(withSegment=Optional

[2021-05-28 06:45] RaigorJiang opened #10519 "[Examples] shardingsphere-proxy-example config issue"
For #10455

The `shardingsphere-proxy-example` module has some problems.

- shardingsphere-proxy-boot-mybatis-example (sharding)
  `pass`

- shardingsphere-proxy-boot-mybatis-example (readwrite-splitting)
  `pass`

  but some schemas in `manual_schema.sql` are obsolete, need update.

- shardingsphere-proxy-hint-example

  `failed`

  - `config-databases-tables.yaml` parse error
  - `config-write-o

[2021-05-28 07:42] TeslaCN opened #10522 "IndexOutOfBoundsException occurred in Proxy occasionally"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for reproduce this issue

[2021-05-28 08:19] #10500 closed

[2021-05-28 08:43] TeslaCN commented on #10273
The following FATAL has already fixed by #10299, but sysbench will exit if duplicate key occurred.
[code]

[2021-05-28 09:10] TeslaCN opened #10525 "PostgreSQL Proxy constraint name duplicate"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

[code]

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

### Example codes for reproduce th

[2021-05-28 09:20] #10519 closed

[2021-05-28 10:25] #10492 closed

[2021-05-28 10:45] taojintianxia opened #10531 "proxy sharding got an exception in a sysbench test"
4 machines :
sysbench press on host 192.168.100.10
proxy with sharding config on host 192.168.100.11
two opengauss on host 192.168.100.20,192.168.100.21

proxy could start normally, but when sysbench try to init , proxy got following error :

[code]

following is the config-sharding for proxy:

[code]

BTW, for the same config , it will execute successfully on pg, but got error on opengauss

[2021-05-28 10:47] menghaoranss commented on #10469
@RaigorJiang Could I assign this issue to you?

[2021-05-28 10:48] menghaoranss commented on #10457
@KSMASTERS hi, how is it going now.

[2021-05-28 10:50] menghaoranss commented on #10472
could you please provide your YAML configuration file?

[2021-05-28 12:55] #10504 closed

[2021-05-28 13:37] totalo commented on #10504
Sorry, my fault, now `sharding-raw-jdbc-example`There is still a problem, I am looking for it. so please reopen this.

[2021-05-28 14:01] RaigorJiang commented on #10469
@RaigorJiang  OK, please assign to me, thank you.

[2021-05-28 14:23] terrymanu opened #10536 "Add test cases for RuleConfigurationChecker"
- [x] Add test case for RuleConfigurationCheckerFactory with RuleConfigurationChecker fixture
- [x] Add test case for ShardingRuleConfigurationChecker
- [x] Add test case for AlgorithmProvidedShardingRuleConfigurationChecker
- [x] Add test case for ReadwriteSplittingRuleConfigurationChecker
- [x] Add test case for AlgorithmProvidedReadwriteSplittingRuleConfigurationChecker
- [x] Add test case for

[2021-05-28 14:37] terrymanu opened #10537 "Use RuleConfigurationFixture instead of ShardingRuleConfiguration for test case in governance module"
For decouple features and governance module, it is better to use  RuleConfigurationFixture instead of ShardingRuleConfiguration for test cases. They are:

- [ ] RuleChangedListenerTest.assertCreateEventWithRule()
- [ ] SchemaRuleRegistryServiceTest.assertLoadWithExistedNode()
- [ ] RegistryCenterTest.createRuleConfigurations()

[2021-05-28 14:45] xiongwu1 opened #10538 "When using mybatisplus plus goupBy for paging query, the count parameter is not encrypted"
When using mybatisplus plus goupBy for paging query, the count parameter is not encrypted, resulting in no data query
Before report a bug, make sure you have.

As shown below:
![image](https://user-images.githubusercontent.com/15642586/120001385-4ed74680-c006-11eb-9a25-a32534c35891.png)

[2021-05-28 15:17] totalo commented on #10504
@tristaZero  hi the `sharding-spring-boot-jpa-example` and ` sharding-spring-boot-mybatis-example` test error is seems to #3352, that can't get the right tableName. and the version is `5.0.alpha`

[2021-05-29 08:26] zjcnb opened #10543 "[Examples] shardingsphere-jdbc-example test report issue"
- encrypt-raw-jdbc-example **fail**
`Exception in thread "main" org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Incorrect configuration item: the property password of the dataSource, because argument type mismatch
  at org.apache.shardingsphere.infra.config.datasource.DataSourceConfiguration.createDataSource(DataSourceConfiguration.java:122)
  at org.apache.s

[2021-05-29 08:33] zjcnb commented on #10543
My database password is a number and the YAML configuration is automatically converted to INTEGER when loaded. But to set the password, the required parameter type is String

`   public DataSource createDataSource() {
        DataSource result = (DataSource) Class.forName(dataSourceClassName).getConstructor().newInstance();
        Method[] methods = result.getClass().getMethods();
        for (En

[2021-05-29 08:36] zjcnb commented on #10455
#10543  This is my test report. I have a problem that needs to be discussed.

[2021-05-29 12:28] RaigorJiang opened #10545 "[Examples] shadow-example test issue"
For #10455

The `shadow-example` module test issue

- shadow-raw-jdbc-example
  1. some schems  are not defined in `nanual_schema.sql`:

  &emsp;&emsp; shadow_demo_ds_0, shadow_demo_ds_1, demo_shadow_write_ds

  2. `ShardingType` in `DataSourceFactory` and `YamlDataSourceFactory` not match.

- shadow-spring-boot-example
  1. `readwrite-splitting-shadow-databases`
  	 shadow rule configuration erro

[2021-05-30 08:05] tristaZero opened #10549 "Support `CREATE TABLESPACE` of PostgreSQL"
### Desc
Currently, some of the communities are test PostgreSQL-Sharding-Proxy by benchmark SQL. However, they reported that unsupported SQL, i.e., `CREATE TABLESPACE` has become a blocker for their work.

### Task
To figure out whether we can support this SQL in PostgreSQL-Sharding-Proxy effectively.

Maybe we can consider routing this SQL to all the instances.

### Ref
- https://www.postgresql.o

[2021-05-30 08:12] RaigorJiang commented on #10545
`shadow-spring-namespace-example` still has exception, I did not find the reason, can any one help?  Thanks!

[2021-05-30 09:16] TeslaCN opened #10552 "PostgreSQL Proxy create unnamed index cause NullPointerException"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Create index

### Actual behavior

[code]

This issue is related to #10524.

[2021-05-30 09:23] zjcnb commented on #10545
I tried to test it, but I couldn't find a problem, you can check  user table in shadow_demo_ds and demo_ds, If one is missing, the error you reported will occur.

[2021-05-30 09:40] antoni13579 opened #10554 "Reactive programming"
I wanna ask a question, When do this project plan to support reactive programming? :D

[2021-05-30 10:32] xiongwu1 commented on #10538
Encrypted field is not groupBy field

[2021-05-30 10:34] zhujunxxxxx commented on #10549
I'd like to try it;

[2021-05-30 15:21] RaigorJiang commented on #10545
@zjcnb  Yes, you are right. It's clear now.

[2021-05-30 15:21] #10545 closed

[2021-05-31 00:53] strongduanmu commented on #10549
@zhujunxxxxx Because this issue is urgent, I will fix the problem first. Issue #10368 will include other unsupported statements. Welcome to participate.

[2021-05-31 02:26] zhujunxxxxx commented on #10549
@strongduanmu OK.

[2021-05-31 02:28] zhujunxxxxx commented on #10536
@terrymanu Can I try?

[2021-05-31 02:47] menghaoranss commented on #10536
welcome.

[2021-05-31 02:53] dbzzzzz opened #10563 "count+order by not support"
## Bug Report
### Which version of ShardingSphere did you use?
shardingsphere 5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
select count(1) from t_order order by order_id desc;
should return correct result.
### Actual behavior
ERROR 1140 (42000): In aggregated query without GROUP BY, expression #2 of SELECT list contains no

[2021-05-31 02:56] dbzzzzz opened #10564 "sum+distinct not support"
## Bug Report
### Which version of ShardingSphere did you use?
ShardingSphere  5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
select sum(distinct user_id),sum(order_id) from t_order;
should return correct result.
### Actual behavior
mysql> select sum(distinct user_id),sum(order_id) from t_order;
ERROR 1140 (42000): In aggreg

[2021-05-31 02:58] dbzzzzz opened #10565 "subquery in select not support"
### Which version of ShardingSphere did you use?
ShardingSphere 5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
select (select max(USER_ID) from t_order) a,ORDER_ID,STATUS from t_order;
should return 3 columns.
### Actual behavior
return only 2 columns.
mysql> select (select max(USER_ID) from t_order) a,ORDER_ID,STATUS from t

[2021-05-31 03:00] dbzzzzz opened #10566 "union not support"
### Which version of ShardingSphere did you use?
ShardingSphere 5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
select * from t_order
union all
select * from t_order;
should return correct result.
### Actual behavior
mysql> select * from t_order
    -> union all
    -> select * from t_order;
ERROR 1999 (C1999): Unknown except

[2021-05-31 03:01] dbzzzzz opened #10567 "show index not support"
### Which version of ShardingSphere did you use?
ShardingSphere 5
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
show index from t_order;
should return correct result.
### Actual behavior
can not show user created indexes.
### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding r

[2021-05-31 03:02] dbzzzzz opened #10568 "support LOAD DATA"
### Is your feature request related to a problem?
No
### Describe the feature you would like.
In mysql, we usually use LOAD DATA command to load data into mysql, so I hope shardingsphere could support LOAD DATA command. such as:
LOAD DATA LOCAL INFILE '/tmp/t_order.txt' INTO TABLE t_order;

[2021-05-31 03:03] heysJava opened #10569 "shardingsphere-5.0.0-alpha NullPointException"
Use the shardingsphere-5.0.0-alpha version to perform monthly sub-tables, such as detail_202101, detail_202102..., but I don’t want to create the detail table, and the result is a null pointer exception. How do I configure it?

[2021-05-31 03:04] dbzzzzz opened #10570 "support dynamic reload sharding configuration files."
### Is your feature request related to a problem?
No
### Describe the feature you would like.
support dynamic reload sharding configuration files, such as config-sharding.yaml,server.yaml, etc.

[2021-05-31 03:11] menghaoranss commented on #10437
Fixed by #10555

[2021-05-31 03:11] #10437 closed

[2021-05-31 04:06] RaigorJiang commented on #10455
@tristaZero @totalo @zjcnb
Hi everyone, the inspection and testing of `shardingsphere-example` module have been completed，thanks for your help.

[2021-05-31 04:12] #10549 closed

[2021-05-31 04:24] tristaZero commented on #10455
Hi @RaigorJiang @zjcnb @totalo Your nice work definitely brings our upcoming release closer!

Did we find any bugs or issues during your tests? Suppose they show up, we can create issues and mention them here to help we thread them later on.

[2021-05-31 05:19] feiquan666 commented on #10472
我不是已经提供了配置文件么？
程序内我使用的是Java API 进行配置的

[2021-05-31 05:21] menghaoranss opened #10575 "Add more assertions in MetaDataChangedListenerTest"

[2021-05-31 05:53] totalo commented on #10537
hi can i try to do this ?

[2021-05-31 06:15] #10409 closed

[2021-05-31 06:15] zjcnb opened #10577 "Encrypt-raw-jdbc-example YamlConfigurationExampleMain test are failure : Incorrect configuration item: the property password of the dataSource, because argument type mismatch"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Complete the example as normal

### Actual behavior

`Exception in thread "main" org.apache.shardingsphere.infra.config.exception.ShardingSphereConfigurationException: Incorrect configuration it

[2021-05-31 06:16] zjcnb commented on #10455
#10577  Yeah, I have a problem that needs to be discussed

[2021-05-31 06:52] tristaZero commented on #10494
Hi @avalon5666 AFAIK, `DistSQL` for `Scaling` is supported now. Maybe you can give them a look and see whether they are in our expectation.

[2021-05-31 06:52] TeslaCN commented on #10531
If the `max-connections-size-per-query` is relatively large and the `maxPoolSize` is not large enough, the exception may occurred.

[code]

Maybe we should adjust the error message to make it easier to understand.

[2021-05-31 07:18] strongduanmu opened #10580 "PostgreSQL proxy execute select sum(distinct user_id) from t_order return NPE"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

execute select sum(distinct user_id) from t_order and return sum value

### Actual behavior

ERROR:  java.lang.NullPointerException

[2021-05-31 07:43] feiquan666 commented on #10472
我已经向您的 邮箱 menghaoranss@gmail.com 发送了邮件

[2021-05-31 07:47] terrymanu opened #10581 "Use Parameterized + XML instead of static test with DistSQLStatementParserEngineTest"
The DistSQLStatementParserEngineTest is split to:

- DistSQLStatementParserEngineTest
- EncryptRuleStatementParserEngineTest
- DatabaseDiscoveryRuleStatementParserEngineTest
- ReadwriteSplittingRuleStatementParserEngineTest
- ShardingRuleStatementParserEngineTest

FYI: SQLParserParameterizedTest

[2021-05-31 07:52] totalo opened #10583 "npe occurs when sharding-raw-jdbc-example is in SHARDING_READWRITE_SPLITTING type"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior

Complete the example as normal

### Actual behavior

npe
[code]

### Reason analyze (If you can)
resultSet is null , When he shuts down, an exception occurs

### Steps to reproduce the behavior,

[2021-05-31 07:53] totalo commented on #10581
hi can i try this?

[2021-05-31 08:00] #10531 closed

[2021-05-31 08:02] totalo opened #10584 "When SQL contains aliases, the table name cannot be found correctly, resulting in the corresponding column not being found"
## Bug Report

### Which version of ShardingSphere did you use?

5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

Complete the example as normal

### Actual behavior

can not found thar right table name.

sharding-spring-boot-jpa-example test failed.

[code]

##### sharding-spring-boot-mybatis-example test

[2021-05-31 08:05] totalo commented on #10455
#10584  and #10583 i found two problem.

[2021-05-31 09:57] strongduanmu commented on #10563
@dbzzzzz It can be seen from the error information that this error is thrown when PG executes SQL, and `SS` is responsible for routing, rewriting, executing and merging results.

actual sql:

[code]
error message:
[code]

[2021-05-31 10:11] strongduanmu commented on #10563
After we change the sql to `select count(1) from t_order group by order_id order by order_id desc;`, another error will occur:

[code]
This exception is because the `columnLabel` that in the `columnLabelIndexMap` returned by PG is `count`, and the `columnLabel` processed by SS is `count(1)`, the inconsistency of the `columnLabel` results in an exception in the verification. Considering the differe

[2021-05-31 10:35] strongduanmu commented on #10564
This exception is caused by SS rewriting. SS will rewrite `sum(distinct user_id)` into `distinct user_id` to execute, the routing result is as follows, if `distinct user_id` and `sum(order_id)` are executed at the same time, an error will occur.

actual sql:

[code]

[2021-05-31 10:45] strongduanmu commented on #10567
[code]
`show index statement` is not a valid postgresql statement.

[2021-05-31 11:18] zhkj0001 opened #10589 "executor.size is not working"
dear teams:

I met a issue when I try to optimize my query through shardingsphere. Because we hava 30 sharding table. so we like to add more thread to perfume query. but It seems the property spring.shardingsphere.props.executor.size=4. but I noticed there were 2 threads is working because my cpus has 2 cores.

Our  shardingsphere version is 4.0.0.RC1. There is no any error. So figer out how to co

[2021-05-31 11:35] terrymanu opened #10590 "ScalingIT cannot run in sometimes"
The problem maybe caused by singleton reason, please see the error log:

[code]

[2021-05-31 11:40] #10577 closed

[2021-05-31 11:43] #10580 closed

[2021-05-31 11:44] #10453 closed

[2021-05-31 15:18] #10590 closed

[2021-06-01 01:48] strongduanmu commented on #10567
Currently, the `show index` statement can only show the first one index result, which is caused by `LogicTablesMergedResult` merging according to the table.

[code]

[2021-06-01 01:50] strongduanmu commented on #10567
We should add `ShowIndexMergedResult` class to handle show index result merge. The correct results should be as follows:

[code]

[2021-06-01 02:42] avalon5666 commented on #10494
@Akitata Hi, What are your use scenarios? I can provide some support.

[2021-06-01 02:56] MingxingLAI commented on #10455
@tristaZero Sorry, it’s too late to see the news, It looks like the problem has been solved. So, I will try to fix more bugs in the future.

[2021-06-01 03:04] strongduanmu commented on #10581
@totalo Welcome, and assigned.

[2021-06-01 06:07] 2241101100 commented on #4810
5.0.0-alpha has the same problem

[2021-06-01 07:09] strongduanmu commented on #4810
@418545106 You can try the master branch code, it has been fixed by PR #10363.

[2021-06-01 07:49] wmouren commented on #10457
Can I try?

[2021-06-01 07:49] childewuque opened #10597 "complex sql sharding，only one table is hint sharding"
shardingsphere 5.0.0-RC1  (master)

There are two tables in a sql, but only one  is sharding (hint sharding). Only sharding of that table is configured, but hint sharding is not executed.

1st sql:  select a.name  from a,b where a.id= b.id and b.buyid=20 and b.sellerid=100
table a is sharding，table b is a single table

yaml config:
...
     tables:
          td_coupon_buyer:
                actual

[2021-06-01 08:00] childewuque opened #10599 "Does actual-data-nodes support Hex number？"
actual-data-nodes: db.a_$->{00..ff} ?

[2021-06-01 08:15] justbk2015 opened #10600 "[bugfix] this feature need some dependency class to support OpenGauss"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.
when I start proxy server,
Please answer these questions before submitting your issue. Thanks!

Support openGauss database. User driver class `or

[2021-06-01 08:18] childewuque commented on #10597
Let's configure table B as a broadcast table?
format right?
spring.shardingsphere.sharding.broadcast-tables=b

[2021-06-01 08:43] tristaZero opened #10604 "Replace keyword with another in integrate tests"
Hi there,

This is a subsequent simple task of #10603. Welcom anyone who wants to have a try. :)

Just replace the keyword `Calcite` with `Federate` for all the SQLs, the names of variables and configuration file in `shardingsphere-jdbc/shardingsphere-jdbc-core/src/test`.

Please refer to [How to raise a PR](https://shardingsphere.apache.org/community/cn/contribute/contributor/)

[2021-06-01 08:55] childewuque commented on #10597
This is right for the case.please close the issue,thanks.

spring:
   shardingsphere:
     rules:
       sharding:
         broadcast-tables: b

[2021-06-01 08:59] #10567 closed

[2021-06-01 09:55] strongduanmu opened #10605 "DistSQL metadata rules lost when execute alter readwrite splitting rule statement"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

Alter readwrite splitting rule success and does not affect other rule configurations.

### Actual behavior

Before execute `alter readwrite splitting rule` statement, the metadata is:

[2021-06-01 10:04] abhikarkamkar commented on #10604
hi @tristaZero  can I take this ?

[2021-06-01 10:07] tristaZero commented on #10604
Sure, welcome.

[2021-06-01 10:13] strongduanmu commented on #10605
`DROP READWRITE_SPLITTING RULE` statement has the save problem.

[code]

[2021-06-01 10:26] strongduanmu opened #10607 "DistSQL create readwrite splitting rule error after execute drop readwrite splitting rule"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

create readwrite splitting rule success after execute drop readwrite splitting rule

### Actual behavior

[code]

### Reason analyze (If you can)

Not refresh metadata in memory.

[2021-06-01 11:27] strongduanmu commented on #10607
DB_DISCOVERY has the same problem.

[code]

[2021-06-01 13:47] abhikarkamkar commented on #10604
hi @tristaZero I have done changes related to replacement of keyword calcite to federate under ``` shardingsphere-jdbc/shardingsphere-jdbc-core/src/test ``` . Please let me know in case of any issues.

[2021-06-01 14:50] #10525 closed

[2021-06-01 15:14] Pinary opened #10614 "使用spring集成时，xml配置文件无法找到对应的命名空间"
元素 "shardingsphere:data-source" 的前缀 "shardingsphere" 未绑定

[2021-06-01 15:27] #10457 closed

[2021-06-01 16:51] Pinary opened #10616 "multi row sql problem"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-01 21:54] menghaoranss commented on #10614
@Pinary For English only.

[2021-06-01 21:54] #10614 closed

[2021-06-02 00:34] strongduanmu commented on #10616
@Pinary ShardingSphere does not support multiple SQL, because it will bring more complexity and lower performance. You can split multiple SQL into multiple single SQL for execution.

[2021-06-02 01:24] dbzzzzz opened #10618 "group by + having not support"
### Is your feature request related to a problem?

In shardingsphere 5 proxy，group by + having does not support, the error is as below:
mysql> select USER_ID,sum(ORDER_ID) from t_order group by USER_ID having sum(ORDER_ID)>1100;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'having sum(ORDER

[2021-06-02 02:46] menghaoranss commented on #10537
assigned

[2021-06-02 02:52] taojintianxia opened #10619 "proxy should support the opengauss syntax"
when test proxy with sharding config by sysbench , got and error like following :

[code]

this is caused by executing the sysbench oltp_read_write script . if test opengauss directly, this is no such exception.

[2021-06-02 03:06] #10607 closed

[2021-06-02 06:45] KingQino commented on #10599
That's incorrect! You can try this
[code]

[2021-06-02 07:19] leonbond commented on #10259
@jingshanglu By the way, do you know when the official version of 5.x will be released?

[2021-06-02 07:19] #10259 closed

[2021-06-02 12:32] TeslaCN opened #10626 "PostgreSQL Proxy performance optimization"
## Feature Request

### Is your feature request related to a problem?

We've tested a Proxy with PostgreSQL backend according to the document
[Performance Test(sysbench)](https://shardingsphere.apache.org/document/current/en/features/test-engine/performance-test-sysbench/). Compared to sysbench PostgreSQL directly, I think the performance of the Proxy still has some room for improvement.

### Desc

[2021-06-03 00:52] wgy8283335 opened #10629 "Refactor `OptimizeContextFactory.initProperties(final DatabaseType databaseType)` method."
## Refactor `OptimizeContextFactory.initProperties(final DatabaseType databaseType)`  method
[code]
What about using `switch` to replace these `if` sentences?

[2021-06-03 01:57] CanonNr commented on #10472
折腾好久后已经没有问题了，确实是YAML问题，但是之前有问题得YAML没有保存

[2021-06-03 03:10] menghaoranss opened #10630 "Create table SQL rewrite error with encrypt"
[code]

[2021-06-03 03:24] #10616 closed

[2021-06-03 03:46] ameetakulkarni commented on #10629
Hi Can I take this?

[2021-06-03 04:30] tristaZero commented on #10629
Hi @ameetakulkarni Sure, welcome. :)

[2021-06-03 04:31] tristaZero commented on #10629
@wgy8283335 Could add some labels for this one?

[2021-06-03 05:55] TeslaCN opened #10631 "PostgreSQL Proxy select no columns cause NPE"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
[code]

### Actual behavior
[code]

[2021-06-03 06:10] #10631 closed

[2021-06-03 06:13] zjcnb opened #10633 "Default not configured sharding.key-generators. Project startup error reported"
### Which version of ShardingSphere did you use?

5.0.0.alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

SpringBoot 2.4.6,  It starts up properly

spring:
  shardingsphere:
    # 展示修改以后的sql语句
    props:
      sql-show: true
    datasource:
      common:
        driver-class-name: com.mysql.jdbc.Driver
        type: com.

[2021-06-03 06:54] shashwatj07 commented on #10575
May I take this? Please let me know what kind of assertions are needed.

[2021-06-03 09:01] justbk2015 opened #10635 "SQL join can't run on sharding-proxy"
## Bug Report
this sql can't right run on ss-proxy.
### Which version of ShardingSphere did you use?
branch of opengauss_adapt
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Sharding-Proxy
### Expected behavior
run with no exception.
### Actual behavior
run with exception. see error trace:
![image](https://user-images.githubusercontent.com/12265143/120617245-8160c380-c

[2021-06-03 09:56] huangdx0726 commented on #10493
I'll try.

[2021-06-03 10:44] strongduanmu commented on #10618
PR #10620 fixes the grammatical problem of the wrong order after adding the `order by` clause when the `select ... group by ... having ... statement` is rewritten, but `having` clause is not handled correctly.

![image](https://user-images.githubusercontent.com/10829171/120632545-aad51b80-c49b-11eb-8f92-378dfa3d8111.png)

We need to remove the `having` clause in the rewriting logic, and filter the

[2021-06-03 11:26] strongduanmu commented on #10635
This exception is an error reported by calcite query optimization. @tristaZero Can you help look at this problem?

[code]

[2021-06-03 11:35] 15724757448 opened #10640 "AbstractConnectionAdapter#getConnections Is it possible to make effective use of Connections? version 4.1.0"
----------------------code----------------------
public final List<Connection> getConnections(final ConnectionMode connectionMode, final String dataSourceName, final int connectionSize) throws SQLException {
        DataSource dataSource = getDataSourceMap().get(dataSourceName);
        Preconditions.checkState(null != dataSource, "Missing the data source name: '%s'", dataSourceName);
        Coll

[2021-06-03 11:36] TeslaCN commented on #10635
[code]

[2021-06-03 11:37] 15724757448 commented on #10640
-----------code----------

-----------question------

[2021-06-03 11:39] TeslaCN commented on #10635
@strongduanmu The exception in your log is caused by `;`.

[2021-06-03 11:45] justbk2015 commented on #10635
I have same problem in gsql client, as I know, gsql's sql must end with ";", so this is a problem too.

[2021-06-03 12:03] whojes opened #10641 "addShutdownHook in ShardingExecutorService"
## Question

Hi there, i have a question.

I'm currently using shardingsphere for a project with spring boot framework.
When i create sharding datasource, it registers a shutdown hook while creating its stuffs; ([code link](https://github.com/apache/shardingsphere/blob/master/shardingsphere-infra/shardingsphere-infra-executor/src/main/java/org/apache/shardingsphere/infra/executor/kernel/thread/Exe

[2021-06-03 12:35] #10618 closed

[2021-06-03 13:58] TeslaCN opened #10646 "ERROR: column is of type timestamp without time zone but expression is of type character varying"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
Insert a row.

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[code]

[code]

### Example

[2021-06-04 00:12] wgy8283335 commented on #10629
Sure.

[2021-06-04 02:46] LateAutumnWindow opened #10649 "Unable to get partitioned SQL when integrating Seata transaction"
**我的框架是**

1. SpringCloudAlibaba 2.1.4.RELEASE
2. SpringCloud Greenwich.SR6
3. SpringBoot 2.1.13.RELEASE
4. Seata 1.3.0
5. ShardingSphere 4.1.1
6. Nacos 1.4.1
7. MyBatis 2.0.0

**MyDataBase**
![微信截图_20210604105627](https://user-images.githubusercontent.com/44990884/120740042-05668a00-c525-11eb-839c-0909a0613df4.png)

**MyShardingSphereConfig**
[code]

**MybatisMapper**
![微信截图_20210604110119](https

[2021-06-04 02:48] TeslaCN commented on #10493
@huangdx0726 Assigned.

[2021-06-04 02:57] menghaoranss commented on #10649
@LateAutumnWindow For English only, please translate the issue to English first.

[2021-06-04 03:19] LateAutumnWindow commented on #10649
Can you help me see what the problem is

[2021-06-04 03:38] #10543 closed

[2021-06-04 03:54] AFatMan commented on #6131
i had the same problem,how can i fix it?

[2021-06-04 07:31] AFatMan commented on #6131
i think i had resolve the problem
i change the
[code]
to
[code]

and then when the project use **swagger**
the project maybe product an error **"Failed to start bean 'documentationPluginsBootstrapper'"**

ignore the guava from shardingsphere can fix this problem
[code]

[2021-06-04 08:41] TeslaCN opened #10656 "PostgreSQL Proxy may return unexpected Row Description in prepared select statement"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

Client sent:
[code]

Server response:
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

[cod

[2021-06-04 09:28] #10630 closed

[2021-06-04 10:59] strongduanmu commented on #10565
After PR #10658 is merged, the problem of missing columns in the subquery will be resolved, but there are still problems, and the subquery aggregated results are incorrect.

![image](https://user-images.githubusercontent.com/10829171/120791590-f99bb780-c566-11eb-9be7-4fc213a091ea.png)

[2021-06-04 11:22] menghaoranss opened #10659 "YAML GlobalRuleConfiguration is incorrect in registry center after create user executed"
[code]
The user `test4` should be `- test4@%:test4`

[2021-06-04 14:50] #9962 closed

[2021-06-04 14:54] #10537 closed

[2021-06-05 01:04] zhoubonet commented on #10138
test demo
https://gitee.com/lhur/sharding-demo.git

[2021-06-05 01:34] zhoubonet commented on #10138
1 、database script  src/main/resources/data.sql
2、database connect  src/main/resources/application.properties
3、connect object initialize src/main/java/com/dudu/config/ShardingConfiguration.java
4、Interface test  http://localhost:8090/learn/test

[2021-06-05 13:09] xjrmail commented on #8749
I also!!!

[2021-06-05 15:10] TeslaCN commented on #10656
# Refactored

[code]

[2021-06-05 15:15] TeslaCN commented on #10656
# Before Refactor

[code]

[2021-06-06 01:36] menghaoranss opened #10673 "Create user should not need to execute use database first"
[code]

[2021-06-06 06:46] justbk2015 commented on #10635
this is the complete config file:
[config-sharding.zip](https://github.com/apache/shardingsphere/files/6603750/config-sharding.zip)

[2021-06-06 11:11] SivaTharun commented on #10374
@tristaZero Please review the [PR](https://github.com/apache/shardingsphere/pull/10676) that i have raised for this issue and let me know of any changes, that needs to be addressed.

[2021-06-06 12:06] tristaZero opened #10678 "Improve the initialization of OptimizeContextFactory"
Hi,

If you're interested in this one, please comment below so I can assign it to u. :)

### Background
`OptimizeContextFactory` is created in the constructor of `StandardMetaDataContexts` with `metaDataMap`.
If you dive into the constructor of `OptimizeContextFactory` and `MetaDataContextsBuilder`,  you will find both handlings of them need loading table metadata. Therefore, this issue is to redu

[2021-06-06 12:17] 2363830288 opened #10679 "When to support Nacos"
When to support Nacos

[2021-06-06 12:30] cocodroid opened #10680 "The shadow table mapping example has a field type problem"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-06 12:30] cocodroid commented on #10680
I will submit pr.

[2021-06-06 13:12] RaigorJiang commented on #10583
![image](https://user-images.githubusercontent.com/5668787/120925501-80899500-c70b-11eb-8fdd-c778e3e5d07e.png)

I tested this scenario and there was no exception.
If any table does not exist in databases, it may cause the problem described by @totalo

[2021-06-06 14:57] terrymanu commented on #10679
It is unnecessary to support Nacos for proxy.
For jdbc, user should use Nacos by themselves.

[2021-06-06 14:57] #10679 closed

[2021-06-06 15:37] RaigorJiang commented on #10584
Hi @totalo  @tristaZero

I tested all the scenarios and did not reproduce the problem in the description.
- sharding-spring-boot-jpa-example
  - sharding-databases : `pass`
  - sharding-tables : `pass`
  - sharding-databases-tables : `pass`
  - readwrite-splitting : `pass`
  - sharding-readwrite-splitting: **`databases config error`**
- sharding-spring-boot-mybatis-example
  - sharding-databases :

[2021-06-07 02:09] childewuque commented on #10599
OK,THANKS

[2021-06-07 02:15] childewuque opened #10686 "Only sharding db, not sharding table ，then how to configure that is simple？"
hint？
Because there are many tables in every db，can I not configure the logic table?

[2021-06-07 02:47] tristaZero commented on #10635
Hi everyone,

`Join` SQL for two sharding tables is supported now. But, I am unsure `;` of PostgreSQL can work well. It still needs test and fix. Please give it a look

[2021-06-07 03:08] strongduanmu opened #10688 "Distsql metadata wrong when execute create sharding table rule with an invalid type"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

throw exception when execute create sharding table rule with an invalid type

### Actual behavior

no exception and store wrong metadata

![image](https://user-images.githubusercontent.

[2021-06-07 03:14] wgy8283335 commented on #10635
I'm glad to help with this issue.

[2021-06-07 03:16] TeslaCN commented on #10646
When timestamp column type's oid is `0`, it worked.
[code]

When Proxy executing the actual statement, the timestamp column type's oid was set to `1043` which is `varchar`.
[code]

[2021-06-07 03:16] strongduanmu opened #10689 "Use the sharding table rule created by distsql to create table, but routing result is wrong"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

Create table correctly according to sharding table rule

### Actual behavior

The routing result is wrong.

[code]

### Reason analyze (If you can)

After the sharding table rule was cr

[2021-06-07 04:15] TeslaCN opened #10690 "SQL may not be rewrote correctly in PostgreSQL Proxy"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior
[code]

Proxy logs:
[code]

[2021-06-07 04:36] #10646 closed

[2021-06-07 06:03] strongduanmu opened #10692 "Distsql create sharding table rule based on readwrite_splitting rule error"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

create sharding table rule based on readwrite_splitting rule success

### Actual behavior

[code]

### Reason analyze (If you can)

[2021-06-07 06:20] strongduanmu opened #10693 "Distsql create sharding table rule error"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

create sharding table rule success

### Actual behavior

Proxy response is ok, and metadata is corrent, but proxy backend occurs exception.

[code]

### Reason analyze (If you can)

###

[2021-06-07 06:28] smcdl opened #10694 "Is there any possibility to disable loadDefaultSchemaMetaData at project startup?"
ShardingMetaDataLoader#loadDefaultSchemaMetaData takes so much time when project startup. I don't konw why It needs to load the schema of all tables？I try to repack the sharding-core-common.jar by disabling loadDefaultSchemaMetaData. It works very well. So anyone can tell me whether I am doing the wrong thing ?

[2021-06-07 06:59] tristaZero opened #10695 "Add unit test for CreateTableStatementFederateRefresher"
Hi,

Thanks for your interest.
This issue is to add a unit test for CreateTableStatementFederateRefresher.
If you want to have an example, please refer to `CreateTableStatementSchemaRefresherTest`.

[2021-06-07 07:13] tristaZero opened #10696 "Create `AlterTableStatementFederateRefresher`"
Hi community,

This issue needs more effort than good-first-issue. Hope you can enjoy it. :)

### Target
- Create a class named `AlterTableStatementFederateRefresher` which is to renew `FederateSchemaMetadata` when users execute `alter table xxx` SQL. (It is simple to figure out that once the table structure changes, the metadata needs to be refreshed accordingly)
- Add a unit test for your change

[2021-06-07 07:18] tristaZero opened #10697 "Create `DropTableStatementFederateRefresher`"
Hi community,

This issue needs more effort than good-first-issue. Hope you can enjoy it. :)

### Target
- Create a class named `DropTableStatementFederateRefresher` which is to renew `FederateSchemaMetadata` when users execute `drop table xxx` SQL. (It is simple to figure out that once the table structure changes, the metadata needs to be refreshed accordingly)
- Add a unit test for your change

[2021-06-07 07:28] yiwenlong commented on #10695
Please assign to me.

[2021-06-07 07:30] totalo commented on #10678
Hi can I try this ？

[2021-06-07 07:31] xiaoshen11 commented on #10697
Please assign to me.

[2021-06-07 07:32] MingxingLAI commented on #10696
Can I take this issue and #10697 ?

[2021-06-07 07:33] LeeGuoPing commented on #10678
please assign it to me

[2021-06-07 07:36] kimmking commented on #10697
@xiaoshen11 assigned

[2021-06-07 07:36] sizzlecar commented on #10678
I can do it

[2021-06-07 07:37] totalo commented on #10584
@RaigorJiang  hello for this issue. You can take a look at this pr, I evaded him like the other part of the code.https://github.com/apache/shardingsphere/pull/10532/files

[2021-06-07 07:43] totalo commented on #10584
@RaigorJiang My mistake, forgot to add todo

[2021-06-07 07:57] stelin opened #10699 "default-database-strategy:hint hint can't use"
ShardingSphere-JDBC 4.1.1 default-database-strategy:hint can't use

spring:
shardingsphere:
sharding:
default-data-source-name: demo-1
default-database-strategy:
hint:
algorithm-class-name: com.ai94.mysql.annotation.AnnotationHintShardingAlgorithm
datasource:
names: demo-1,demo-2
# datasource one
demo-1:
type: com.zaxxer.hikari.HikariDataSource
driverClassName: com.mysql.jdbc.Driver
jdbcUrl: jdbc:

[2021-06-07 08:01] stelin commented on #10699
like https://github.com/apache/shardingsphere/issues/5970

[2021-06-07 08:15] strongduanmu commented on #10696
@MingxingLAI Assigned.

[2021-06-07 08:15] strongduanmu commented on #10695
@yiwenlong Assigned.

[2021-06-07 08:16] #10693 closed

[2021-06-07 08:18] strongduanmu commented on #10689
After PR #10698 was merged, the issue of this issue was also resolved.

[2021-06-07 08:18] #10689 closed

[2021-06-07 08:19] strongduanmu commented on #10699
@stelin Can you submit this issue in English?

[2021-06-07 08:23] strongduanmu opened #10700 "Distsql creates sharding binding table rules repeatedly and result in duplicate metadata"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy & governance

### Expected behavior

throw exception when creates sharding binding table rules repeatedly

### Actual behavior

no exception and result in duplicate metadata

![image](https://user-images.githubusercontent.

[2021-06-07 08:43] strongduanmu commented on #10688
The `ALTER SHARDING BINDING TABLE RULES` statement has the same problem.

[2021-06-07 08:52] totalo commented on #10583
Sorry, this is my configuration problem

[2021-06-07 08:52] #10583 closed

[2021-06-07 08:57] CheerwayRen commented on #8038
We have the same problem with the same version，when using left join and order by
![image](https://user-images.githubusercontent.com/38515283/120988784-7621d680-c7b1-11eb-9536-7062971cad78.png)

[2021-06-07 08:59] strongduanmu commented on #10605
`ALTER SHARDING BINDING TABLE RULES` statement has the save problem.

Before alter sharding binding table rules:

![image](https://user-images.githubusercontent.com/10829171/120988884-8afe6a00-c7b1-11eb-88f1-c028510ad732.png)

After alter sharding binding table rules:

![image](https://user-images.githubusercontent.com/10829171/120988953-9c477680-c7b1-11eb-9b0e-4154cb16168e.png)

[2021-06-07 09:00] totalo commented on #10584
![image](https://user-images.githubusercontent.com/29777558/120989055-b8e3ae80-c7b1-11eb-87d0-172276d4c647.jpeg) the Jpa is ok,but the mybatis is still error.

[2021-06-07 09:05] TeslaCN opened #10702 "RowDescription may be missing in PostgreSQL Proxy"
## Bug Report

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior

### Actual behavior

Request
[code]

Response
[code]

RowDescription is missing, which causes exception in client.
[code]

[2021-06-07 09:09] TeslaCN opened #10703 "PostgreSQL Proxy return malformed DataRow Packet"
## Bug Report

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy
### Expected behavior

### Actual behavior

[code]

[code]
### Reason analyze (If you can)
Exception occurred when encoding/decoding data.

[2021-06-07 09:25] yinyichao commented on #10678
let me try

[2021-06-07 09:31] yinyichao commented on #10696
Please assign to me.

[2021-06-07 09:31] yinyichao commented on #10697
Please assign to me.

[2021-06-07 09:31] yinyichao commented on #10695
Please assign to me.

[2021-06-07 09:38] liulong99 commented on #10695
Please assign to me.

[2021-06-07 09:39] liulong99 commented on #10678
please assign it to me

[2021-06-07 10:02] huangdx0726 commented on #10575
Can i try it? But there is no such file,  Is it renamed?  @menghaoranss

[2021-06-07 10:58] strongduanmu commented on #8038
@CheerwayRen Ok, i will check it.

[2021-06-07 11:27] taojintianxia commented on #9568
luanch up 2 mysql instance by dockers.

[2021-06-07 11:29] CheerwayRen commented on #8038
OK, I'll try later

[2021-06-07 11:29] CheerwayRen commented on #8038
OK, I'll try later

[2021-06-07 11:39] #10703 closed

[2021-06-07 13:13] CheerwayRen commented on #8038
version 5.0.0-alpha not exist PreciseShardingAlgorithm RangeShardingAlgorithm?
![image](https://user-images.githubusercontent.com/38515283/121022703-294ff700-c7d5-11eb-9e39-d12225392747.png)
Which dependency is right？

[2021-06-07 13:13] #10702 closed

[2021-06-07 13:34] stelin commented on #10699
@strongduanmu
Only configure default-database-strategy，This method does not seem to be supported!

[2021-06-07 13:46] #10680 closed

[2021-06-07 15:14] TeslaCN commented on #10145
It's the rat's business.

[2021-06-08 02:39] CheerwayRen commented on #8038
@strongduanmu
I've switched to the new version  5.0.0-alpha , and use SPI do sharding , but there will still be this problem

![image](https://user-images.githubusercontent.com/38515283/121113957-84b9cd80-c845-11eb-9b52-4b71226de8f2.png)
![image](https://user-images.githubusercontent.com/38515283/121114118-bb8fe380-c845-11eb-8e10-eed49ed06c84.png)
![image](https://user-images.githubusercontent.com

[2021-06-08 02:41] menghaoranss commented on #10605
fixed

[2021-06-08 02:41] #10605 closed

[2021-06-08 02:45] strongduanmu commented on #8038
@CheerwayRen Thank you very much for your feedback, can you provide the configuration text? I will investigate this issue later.

[2021-06-08 02:53] CheerwayRen commented on #8038
The query statement is the same as before，
------------------------------------------------
    @Bean
    @Primary
    public DataSource multipleDataSource(@Qualifier("base") DataSource base, @Qualifier("aliyun") DataSource aliyun) throws SQLException {
        Map<String, DataSource> targetDataSources = new HashMap<>(2);
        targetDataSources.put(DataSourceEnum.BASE.getValue(), base);

[2021-06-08 03:11] strongduanmu commented on #8038
@CheerwayRen Thank you. 👍

[2021-06-08 06:48] #10688 closed

[2021-06-08 07:27] zhoubonet commented on #10138
What's the result of the example test

[2021-06-08 09:07] MingxingLAI opened #10714 "Duplicated code fragment in FederateRefresher"
![企业微信截图_a6ebbc14-7532-4418-bd6c-a9b0cb8ec64d](https://user-images.githubusercontent.com/80867129/121157415-20663080-c87c-11eb-920c-2944c313dccb.png)

`loadTableMetaData` function will be used in multiple different files. I suggest to promote a parent class, for example, `AbstractFederateRefresher`, which implement some common methods.

[2021-06-08 09:30] AyaUchida opened #10716 "loadColumnMetaData null pointer with geometry column"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-08 10:28] #10659 closed

[2021-06-08 11:15] xiaoyi001yeye commented on #2245
这个解释只是解决了编译期间的问题，在开发中那些Visitor 还是飘红的，我想对这块做一些二次开发，完全不能开发。

[2021-06-08 12:18] #10493 closed

[2021-06-08 14:07] RaigorJiang commented on #10584
Hi @totalo
Which scene got the error,  It looks like `sharding-readwrite-splitting` ?

[2021-06-08 15:08] beverleyokogwu commented on #10403
I'm interested

[2021-06-08 23:55] RaigorJiang commented on #10584
But my test case is OK, did you modify the SQL?

[2021-06-09 00:04] RaigorJiang commented on #10584
![image](https://user-images.githubusercontent.com/5668787/121272721-467de600-c8f9-11eb-8cd2-bc487756d887.png)

[2021-06-09 02:15] mlkui opened #10723 "Logical table names could NOT be replaced by physical table names for SQL contains JOIN condition"
### Which version of ShardingSphere did you use?
Current master branch, commit id: gd4d1ca2522

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Logical table names are replaced by their physical table names for SQL contains JOIN condition

### Actual behavior
Logical table names could NOT been replaced by their physical table n

[2021-06-09 02:33] mlkui opened #10724 "The merge method of ShardingDQLResultMerger will throw exception when queryResults.size()==0"
### Which version of ShardingSphere did you use?
Current master branch, commit id: gd4d1ca2522

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
Show explicit error message.

### Actual behavior
Unchecked IndexOutOfBoundsException expection is thrown.

### Reason analyze (If you can)
The merge method of ShardingDQLResultMerger s

[2021-06-09 02:42] hgx615 opened #10725 "How to support people's congress gold warehouse database [domestic database] Kingbase"
## **Please increase the function of domestic database - DZJCANG KINGBASE database**

       Our system uses the middleware to complete the database library, table, read and write separation functions.However, now the company requires us to replace our database with a domestic database - Renda Jincang Kingbase database. Currently, our middleware does not support Renda Jincang Kingbase database, so

[2021-06-09 02:45] rouxiaoxiao commented on #8528
I have the same problem, is there a solution? sharding version ：4.0.1

[2021-06-09 06:10] #10635 closed

[2021-06-09 06:40] tristaZero commented on #10584
Hi @totalo  I did not know whether my email reaches out to you or not. If you do not mind getting in touch with Wechat, could you give a look at your QQ mailbox?

[2021-06-09 06:58] noisyjin opened #10729 "4.1.1 error logic to get the database type"
![image](https://user-images.githubusercontent.com/9676857/121306607-a4c6bb00-c931-11eb-86b2-be44dfb2b042.png)
if the url is the pattern like "jdbc:MySql:***", the match will return false and get the error default type SQL92, and then cause the org.apache.shardingsphere.sql.parser.binder.metadata.column.ColumnMetaDataLoader#generateEmptyResultSQL generate a error SQL stmt to throw a MySQLSyntaxErr

[2021-06-09 07:30] ddx10000 opened #10732 "SNOWFLAKE algorithm causes data skew."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-06-09 09:26] jianliu opened #10735 "Using IntervalShardingAlgorithm with config `datetime-interval-unit` greater than 'days' occur error when insert"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy & governance

### Expected behavior
table columns:
-  id(bigint)
-  create_at(datetime)

table sharding algorithm: INTERVAL on column create_at
actualDataNodes:
ds_0.time_test_20210607,ds_0.time_test_20210614,ds_0.time_test_

[2021-06-09 09:33] totalo commented on #10584
I checked, but I didn't get any mail.

[2021-06-09 09:54] jianliu commented on #10735
Make corrections of "Actual behavior "
the default behavior is thrown excpetion like:
[code]
Because of another bug of multi ds use unique table name like ds1.t1,   ds1.t2,   ds2.t3 ,    ds2.t4, so I modify the code like this
[code]
So finally the error becames:
[code]

Sorry for misdescribe.

[2021-06-09 10:03] tristaZero commented on #6417
#7243

[2021-06-09 10:08] strongduanmu commented on #10723
@mlkui When multiple unbinding sharding tables perform join related queries, calcite will be used for query optimization, and calcite will convert logical tables into physical tables internally.

We have optimized this scenario in the master branch. Welcome to use the latest code to test and feedback the results.

[2021-06-09 10:33] strongduanmu commented on #10724
I used `sharding` table and `single` table to test, and the exceptions you reported were not reproduced, but appropriate exceptions were thrown.

[code]

[2021-06-09 10:43] #10656 closed

[2021-06-09 11:31] totalo commented on #10584
Get it ! I didn’t receive it on my mobile phone, but I received it on my computer.

[2021-06-09 11:34] totalo commented on #10584
Sorry for being late.I modified selectAll in OrderItemMapper.xml from `SELECT * from t_order_item` to `SELECT i.* FROM t_order o, t_order_item i WHERE o.order_id = i.order_id;`, and then an exception occurred.

[2021-06-09 11:36] terrymanu commented on #7482
@SamuelJohnson01997 You are correct, the feature is finished, I just close this issue.

[2021-06-09 11:38] #7482 closed

[2021-06-09 11:39] terrymanu commented on #7522
@MingxingLAI Go ahead please

[2021-06-09 11:43] menghaoranss commented on #10454
Completed

[2021-06-09 11:43] #10454 closed

[2021-06-09 11:43] menghaoranss commented on #9964
Completed

[2021-06-09 11:43] #9964 closed

[2021-06-09 11:44] tristaZero commented on #6140
This feature is undergoing, please refer to #9844

[2021-06-09 11:44] #6140 closed

[2021-06-09 11:44] menghaoranss commented on #9586
Completed

[2021-06-09 11:44] #9586 closed

[2021-06-09 11:49] #5626 closed

[2021-06-09 11:51] menghaoranss commented on #6315
fixed by #10555

[2021-06-09 11:51] #6315 closed

[2021-06-09 11:51] #6536 closed

[2021-06-09 12:02] terrymanu commented on #8616
Ref #9964

[2021-06-09 12:02] #8616 closed

[2021-06-09 12:09] terrymanu commented on #8618
@zhujunxxxxx Thank you for interest the issue, @menghaoranss will give some new idea on this.

[2021-06-09 12:16] strongduanmu commented on #8768
Duplicate with issue #10618.

[2021-06-09 12:16] #8768 closed

[2021-06-09 12:21] terrymanu commented on #9137
Fixed by #9725

[2021-06-09 12:21] #9137 closed

[2021-06-09 12:24] #9129 closed

[2021-06-09 12:26] taojintianxia commented on #9568
hi , there

today I tried several times to test this function. followings are the precodiction :
1. raise up 5 mysql instance and insert 1 million data
2. luanch up a "brand new" zk
3. established a proxy with sharding rule

when proxy is start up, I execute a shell like following :
[code]
this shell will print out the `show processlist;` in a very shot interval . Unfortunately, it always print 0/

[2021-06-09 12:28] terrymanu commented on #9521
Sorry, the class `ShardingSphereRulesBuilder` is refactored and pass the necessary parameter in the method signature.
I just close this issue for expired reason.

[2021-06-09 12:29] menghaoranss commented on #9494
RDL has been refactored，please refer #9964

[2021-06-09 12:29] #9494 closed

[2021-06-09 12:31] #9521 closed

[2021-06-09 12:32] #9590 closed

[2021-06-09 12:44] terrymanu commented on #10732
The problem is fixed by 3.1.0.

The version `5.0.0-RC1-SNAPSHOT` you reported is not existed, please double check.

FYI: https://shardingsphere.apache.org/document/current/en/faq/#12-why-are-the-default-distributed-auto-augment-key-strategy-provided-by-shardingsphere-not-continuous-and-most-of-them-end-with-even-numbers

[2021-06-09 12:51] #10604 closed

[2021-06-10 02:09] ddx10000 opened #10745 "SNOWFLAKE algorithm causes data skew."
Bug Report
For English only, other languages will not accept.

Before report a bug, make sure you have:

Searched open and closed GitHub issues.
Read documentation: ShardingSphere Doc.
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will close it.

Please answer these questions before sub

[2021-06-10 02:32] strongduanmu commented on #10735
@jianliu Thank you very much for your feedback. Using `IntervalShardingAlgorithm` requires us to configure the `datetime-interval-unit` and `datetime-pattern` parameters to be consistent. If `datetime-interval-unit` is set to `weeks`, then `datetime-pattern` needs to be set to the corresponding format, such as `yyyyww`. You can modify your `datetime-pattern` parameter to see if the problem is solv

[2021-06-10 03:45] jianliu commented on #10735
@strongduanmu Thank you for answer,  your suggests did solve this problem,I`ll close this issuse.

[2021-06-10 03:45] #10735 closed

[2021-06-10 03:53] zjcnb commented on #10716
Can you provide the configuration information?

I think you have a problem with the configuration information

such as

  shardingsphere:
    props:
      sql-show: true
    datasource:
      common:
        driver-class-name: com.mysql.jdbc.Driver
      names: ds0
      ds0:
        username: root
        password: 123456
        url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEnco

[2021-06-10 03:56] jianliu opened #10746 "Insert error with IntervalShardingAlgorithm when no db route configs in multi datatources and datanode name is unique"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy & governance

### Expected behavior
table columns:
-  id(bigint)
-  create_at(datetime)

This is my config rules:
[code]

sql:
[code]
expect insert success

### Actual behavior
<e>查询：insert into `time_test` (`create_at`) val

[2021-06-10 06:14] RaigorJiang commented on #10584
Hello @totalo
I found that this is still the problem of missing tables, please check whether there are `t_order ` and `t_order_item ` in database `demo_write_ds_0` and `demo_write_ds_1`.

You can try create the tables and then test again.

[code]

[2021-06-10 06:23] strongduanmu commented on #10746
@jianliu Thank you for your feedback. The way that `doSharding` method of the `IntervalShardingAlgorithm` class throws an exception is really not good. Are you interested in raising a PR to optimize this problem?

[2021-06-10 06:27] totalo commented on #10584
yes,I checked and found that it was because there was no table. thx

[2021-06-10 06:27] #10584 closed

[2021-06-10 06:41] strongduanmu commented on #10092
@xianshun163 This exception is fixed by #10582. The following is the result of the latest code execution.

[code]

[2021-06-10 06:41] #10092 closed

[2021-06-10 07:03] #8445 closed

[2021-06-10 07:13] strongduanmu commented on #9993
This issue is duplicated with #10257, and it has been fixed. @xianshun163 Can you help test it with master branch?

[2021-06-10 07:13] #9993 closed

[2021-06-10 07:35] TeslaCN commented on #10273
I think the problem that sysbench exit unexpectedly is cause by protocol violation which is fixed by #10736. I'm closing this.

[2021-06-10 07:35] #10273 closed

[2021-06-10 08:15] strongduanmu commented on #8038
@CheerwayRen I copied your code for testing, but some classes cannot be imported. Then I tested it with the master branch, and it didn't reproduce the problem. Can you try to test the master branch? Or submit your demo to the github repository.

[code]

[2021-06-10 08:21] CheerwayRen commented on #8038
If I have time this Saturday, I will put the demo in GitHub

[2021-06-10 08:56] #10472 closed

[2021-06-10 08:57] feiquan666 commented on #10472
不要使用 5.x，太多坑了

[2021-06-10 09:28] ko12ko opened #10751 "sqlite-jdbc throw SQLFeatureNotSupportedException"
**Libs:**
org.xerial:sqlite-jdbc:3.34.0
org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.1.1

**Logs:**
[code]

**Expected:**
No SQLFeatureNotSupportedException.

[2021-06-10 10:43] strongduanmu commented on #10699
Hi @stelin, I used the version `4.1.1` of `Sharding-JDBC` to test the Hint feature, and there is no problems. The following is my test demo:

[code]

[2021-06-10 10:49] strongduanmu commented on #10699
When i set `HintManager.getInstance().setDatabaseShardingValue(1);`, the route result is:
[code]

When i set `HintManager.getInstance().setDatabaseShardingValue(0);`, the route result is:
[code]

When i don't set `HintManager.getInstance().setDatabaseShardingValue(0);`, the route result is:
[code]

So I want to know what is your configuration? What is the abnormal phenomenon?

[2021-06-10 11:24] stelin commented on #10699
I work will like your method. but I  do not configure `TableRuleConfiguration`,  becase only want to sharding for datasource.If must to configure table runles,It's very troublesome for many tables(200+)

[2021-06-10 11:32] stelin commented on #10699
Only one rule for database.Has not table rules.
![image](https://user-images.githubusercontent.com/1677543/121518045-9dcba580-ca22-11eb-8439-3abe921da83b.png)

[2021-06-10 11:34] stelin commented on #10699
If must to configure table rules like below.
![image](https://user-images.githubusercontent.com/1677543/121518217-d0759e00-ca22-11eb-851c-3d6d386f9c8b.png)

[2021-06-10 11:35] stelin commented on #10699
It's very troublesome, because every table must to be configured.

[2021-06-10 11:37] stelin commented on #10699
We only want to switch datasource(database), It has nothing to do with tables.

[2021-06-10 12:45] #10700 closed

[2021-06-10 13:02] terrymanu commented on #10745
Duplicate with #10732

[2021-06-10 13:02] #10745 closed

[2021-06-10 13:03] terrymanu commented on #10694
Please try to version 5.x, the performance it better than before.

[2021-06-10 13:08] RaigorJiang commented on #10469
Closed in #10556

[2021-06-10 13:08] #10469 closed

[2021-06-10 13:21] tristaZero commented on #10111
Done.

[2021-06-10 13:21] #10111 closed

[2021-06-10 13:24] tristaZero commented on #10375
@zhujunxxxxx So this issue was fixed, wasn't it?

[2021-06-10 13:29] tristaZero commented on #10455
Hi guys, your efforts are a major boost for the upcoming release, thanks. ;-)

[2021-06-10 13:29] #10455 closed

[2021-06-10 13:31] tristaZero commented on #10575
Sure welcome, does anyone want to have a try? @huangdx0726 @shashwatj07

[2021-06-11 00:38] strongduanmu commented on #10699
@stelin Do you mean that your tables are all non-sharding tables, so `TableRuleConfiguration` is not configured? It should be noted that `DefaultDatabaseShardingStrategyConfig` is for the configuration of sharding tables, and it is inappropriate to use in this scenario.

[2021-06-11 00:42] strongduanmu commented on #10699
@stelin In version 4.x, you need to configure `shardingRuleConfig.setDefaultDataSourceName("ds_0");` to meet your needs. In version 5.x, we introduced the concept of [single table](https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/sql/#%E5%8D%95%E8%A1%A8), you can route these tables automatically without any configuration.

[2021-06-11 02:16] stelin commented on #10699
@strongduanmu

Yes my tables are all non-sharding tables. Now in version 4.x is not supported! But version 5.x do not released. If  5.x can use?

[2021-06-11 02:19] strongduanmu commented on #10699
@stelin In version 4.x, you can configure `shardingRuleConfig.setDefaultDataSourceName("ds_0")`;

[2021-06-11 02:20] stelin commented on #10699
https://mvnrepository.com/artifact/org.apache.shardingsphere/sharding-jdbc-spring-boot-starter

![image](https://user-images.githubusercontent.com/1677543/121621336-8e8a3d80-ca9e-11eb-8f22-733b754f2393.png)

[2021-06-11 02:21] stelin commented on #10699
I configured shardingRuleConfig.setDefaultDataSourceName("ds_0"), But can not to switch datasource;

[2021-06-11 02:22] stelin commented on #10699
Want to switch datasource by application context(like http header)

[2021-06-11 02:23] stelin commented on #10699
hint:algorithm-class-name can not worker for this.

[2021-06-11 02:42] stelin commented on #10699
Single table can not solved.My scenario is one datasource has many tables. Olny sharding for database(datasource). Tables not to sharding

[2021-06-11 02:47] strongduanmu commented on #10699
@stelin If you need sharding, then you need to configure sharding rules. You can either shard the database and the table at the same time, or you can only shard the database or only the table. Without configuration rules, the Hint sharding algorithm will definitely not take effect.

[2021-06-11 02:55] stelin commented on #10699
If only want to  sharding for database(datasource), then  with configuration table rules is very troublesome. If add one table ,must to add configuration

[2021-06-11 03:09] strongduanmu commented on #10699
@stelin If you have a better solution about sharding api, please submit an issue to the community for discussion.

[2021-06-11 03:28] stelin commented on #10699
Now can not use shardingjdbc to my scenario. You have solution？

[2021-06-11 03:48] strongduanmu commented on #10699
@stelin As I said before, configure sharding rules.

[2021-06-11 03:49] stelin commented on #10699
Understanded

[2021-06-11 03:52] strongduanmu commented on #10699
@stelin If this issue has been resolved, please close it. If you have a better idea, please submit an issue to discuss about sharding api.

[2021-06-11 03:52] menghaoranss commented on #10575
The class has been renamed to `MetaDataChangedWatcherTest`, I will move this issue to `5.0.0-RC-1`, please reply this issue  if you want to try again. @shashwatj07 @huangdx0726

[2021-06-11 03:54] stelin commented on #10699
A a better method to supported switch datasource without any   table sharding rules configuration.

[2021-06-11 03:54] stelin commented on #10699
But now is not supported.

[2021-06-11 05:02] strongduanmu commented on #10699
@stelin Your idea is to change the sharding api and the underlying implementation, which needs to be discussed by the community.
The previous demo has given an example where the hint can be executed normally after configuring the sharding rules. So I think this issue can be closed. If you have configured sharding rules and encounter other problems, please submit a new issue and upload the correspo

[2021-06-11 05:02] #10699 closed

[2021-06-11 05:19] huangdx0726 commented on #10575
Ok, I will try.

[2021-06-11 05:19] stelin commented on #10699
Thanks

[2021-06-11 05:29] #10724 closed

[2021-06-11 05:58] #10696 closed

[2021-06-11 05:59] zhujunxxxxx commented on #10746
@strongduanmu I'd like to fix it.

[2021-06-11 06:00] TeslaCN commented on #10690
BenchmarkSQL logs:
[code]

[2021-06-11 06:05] tristaZero commented on #10575
Hi @huangdx0726 assigned this one to U.

[2021-06-11 06:06] tristaZero commented on #10136
Done.

[2021-06-11 06:06] #10136 closed

[2021-06-11 06:26] tristaZero commented on #10678
Hi
Thanks for your interest.
Since @totalo came first, I just want to confirm @totalo still wants to fix this one?

[2021-06-11 07:27] totalo commented on #10678
Yes，My pleasure.

[2021-06-11 07:36] strongduanmu opened #10760 "ClassCastException occur when execute select statament that include timestamp field with calcite"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

sharding-jdbc

### Expected behavior

execute select statament that include timestamp field success with calcite

### Actual behavior

throw exception

![image](https://user-images.githubusercontent.com/10829171/121649089-c909cf80-caca-11eb-9d

[2021-06-11 08:22] No-Silver-J opened #10761 "Custom Sharding Algortihm"
dear teams:

When I implemented a custom sub-table algorithm, I encountered a problem, as shown in the figure. The error is this exception, indicating that I did not implement the class according to the type I configured.
However, I have already configured the full package name of the implementation class in the META-INF.SERVICES directory. I don't know how to solve this problem
![image](https://u

[2021-06-11 08:49] strongduanmu opened #10764 "Add unit test for isAllTablesInSameDataSource method in shardingRule"
Hi,

This issue is to add a unit test for `isAllTablesInSameDataSource` method in `shardingRule`.

If you want to have an example, please refer to the test case for other method in `ShardingRuleTest`.

[2021-06-11 08:52] strongduanmu commented on #10760
Because this exception is a problem with [calcite](https://issues.apache.org/jira/browse/CALCITE-3018), the quick solution is to adjust the routing rules of the same database table first, and then find a solution to solve this issue.

[2021-06-11 10:39] lonyee1989 commented on #10133
Please provide your SQL and configuration, It is possible that the select result set is empty.

[2021-06-11 12:43] #10575 closed

[2021-06-11 12:49] sreeja97 commented on #10764
Can I work on this issue?

[2021-06-11 12:54] strongduanmu commented on #10764
@sreeja97 Welcome, i will assign this issue to you.

[2021-06-11 14:33] TeslaCN opened #10773 "PostgreSQL Proxy DataRow value format may be incorrect"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

### Actual behavior

[code]

The client expect the first column in result formats is binary.
[code]

But the first column returned by the server was text format.
[code]

[2021-06-11 14:48] #10773 closed

[2021-06-11 14:54] zhujunxxxxx commented on #10375
@tristaZero It has not been completely repaired. I plan to repair it this weekend. Recently, I have been busy, sorry.

[2021-06-12 01:13] zhujunxxxxx commented on #10581
@totalo Do you have time? I see you have several issues. If you have no time, I will revise this.

[2021-06-12 02:22] wgy8283335 commented on #10629
As `switch` only support `char, byte, short, int, Character, Byte, Short, Integer, String, an enum` in Java8. We could close this issue.
@tristaZero

[2021-06-12 02:22] #10629 closed

[2021-06-12 05:40] CheerwayRen commented on #8038
You try this and see if you can reproduce it

https://github.com/CheerwayRen/sharding-demo.git

[2021-06-12 06:25] zhujunxxxxx commented on #10536
@terrymanu the fellow RuleConfigurationChecker has been merged.
- Add test case for ShardingRuleConfigurationChecker
- Add test case for AlgorithmProvidedShardingRuleConfigurationChecker

[2021-06-12 06:42] #10536 closed

[2021-06-12 08:22] tristaZero opened #10787 "[DISCUSS] New release 5.0.0-beta is coming!"
Hi community,

This issue is a starting signal for our next release, i.e., 5.0.0-beta.

As you know, we have been preparing for this release for over half of a year. But I assume it is worth waiting for this wonderful release. So please give a look at [1] to learn more about its release note. Hope the features you expect are on this list!

If you are still working on some issues which are supposed

[2021-06-12 08:31] terrymanu opened #10789 "Use SPI for rule based Dist SQL"
DistSQL is all in one module for now with all pluggable rules.
We need to redesign and split them into related modules they belong to.

Proposal of rule based Dist SQL:

- [x] Use SPI to introduce rule based Dist SQL parser
- [x] Refactor and reuse SQL parser and Dist SQL parser engine
- [x] Split ANTLR g4 files and visitors into related modules
  - [x] Split sharding ANTLR g4 file and visitor
  -

[2021-06-12 08:31] tristaZero commented on #10787
Here, thanks to everyone who helped boost this release coming. 👍

@wgy8283335
@ThanoshanMV
@Liangda-w
@sandynz
@huanghao495430759
@zhujunxxxxx
@totalo
@avalon5666
@MingxingLAI
@RaigorJiang
@zjcnb

[2021-06-12 10:56] terrymanu commented on #10787
I'm looking forward to it

[2021-06-12 14:16] terrymanu opened #10796 "Add more test cases for shardingsphere-sql-parser-engine module"
- [ ] Add test case for SQLParserEngine
- [ ] Add test case for DatabaseTypedSQLParserFacadeRegistry with DatabaseTypedSQLParserFacade fixture
- [x] Add test case for ParseASTNode

[2021-06-12 14:23] LeeGuoPing commented on #10796
I want to try it

[2021-06-12 14:26] terrymanu commented on #10796
@LeeGuoPing  Welcome, I just assigned to you.

[2021-06-12 23:54] tristaZero commented on #10375
@zhujunxxxxx  Got it, I reopened it for your fix. Thanks.

[2021-06-12 23:55] tristaZero commented on #10678
Hi @totalo It's yours now.

@yinyichao @sizzlecar @LeeGuoPing Thanks guys, we still have more issues for U later on, and welcome your joining.

[2021-06-13 05:24] tristaZero commented on #10787
Hi,

5.0.0-beta is on the voting stage, please refer to [Vote Process](https://lists.apache.org/thread.html/rb2132469b082ed42ca2621c57af900c5ea0d4160283f0856da7e841e%40%3Cdev.shardingsphere.apache.org%3E) to cast your vote.

Best,
Trista

[2021-06-13 07:37] totalo commented on #10581
thx ,I am working hard

[2021-06-13 07:47] totalo commented on #10678
Get it!

[2021-06-13 07:53] #10374 closed

[2021-06-14 07:04] jianliu commented on #10746
@zhujunxxxxx Thanks for your attention.I have fix it by myself. Sorry for not having comment in the first place.
@strongduanmu Please review the code when you have time.
Thank you.

[2021-06-14 09:06] lyflyy commented on #2062
## I also had this issue in 【4.1.1】

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, be

[2021-06-14 09:07] lyflyy opened #10806 "## Wrong LIMIT rewrite while GROUP BY and ORDER BY"
## I also had this issue in 【4.1.1】

## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, be

[2021-06-14 11:43] ddx10000 commented on #10732
I had check FAQ, https://shardingsphere.apache.org/document/current/en/faq/#12-why-are-the-default-distributed-auto-augment-key-strategy-provided-by-shardingsphere-not-continuous-and-most-of-them-end-with-even-numbers, but it isn't the same issue.

[2021-06-14 11:44] ddx10000 commented on #10732
shardingsphere version: 5.0.0-RC1-SNAPSHOT
shardingsphere-example version: 5.0.0-alpha

[2021-06-14 14:14] fzyzcjy opened #10808 "Where can we find fast tech support (possibly paid)?"
Hi thanks for this wonderful lib! I wonder where can we find fast tech support? We can pay for technical supports.

[2021-06-14 14:16] fzyzcjy commented on #10787
Hi, I wonder when can we use 5.0.0 in our *production environment*? Or, do you suggest that we should not use it, but should use 4.x? Thanks!

[2021-06-14 18:08] terrymanu opened #10810 "Calcite always can not download when mvn install in windows env"
Calcite lib always can not download when mvn install in windows env, please investigate the reason.

error log:

[code]

[2021-06-15 00:38] sandynz commented on #9568
Hi, I've tested it without breakpoint.

Steps:

1, Set `show-process-list-enabled: true` in `server.yaml` props; enable governance;

2, `actualDataNodes: ds_${0..1}.t_order_${0..1}` in `config-sharding.yaml`

3, Start ZooKeeper and clean cache; Start proxy and insert 36 millions records (every shard 9 million)

4, Execute DDL in MySQL client
[code]

5, In another MySQL client, execute `show proces

[2021-06-15 01:27] AyaUchida commented on #10716
@zjcnb
Cause it's a old project，I used the spring namespace configuration like this

`

    <readwrite-splitting:load-balance-algorithm id="loadbalanceAlgorith" type="RANDOM"/>
    <readwrite-splitting:rule id="masterslaveRule">
        <readwrite-splitting:data-source-rule id="msds" write-data-source-name="master-dataSource"
                                        read-data-source-names="slave-da

[2021-06-15 02:22] imOneDa opened #10811 "Hello, I have a problem now, but I don't know the cause of the problem"
When I try to use ShardingSphere-JDBC for my project, I get an error at project startup with the following message:

Failed to instantiate [org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource]: Constructor threw exception; nested exception is java.lang.AbstractMethodError: com.mysql.JDBC4Connection.getScheam()Ljava/lang/String;

(sorry,I can't copy any logs because we ha

[2021-06-15 02:32] strongduanmu commented on #10806
@lyflyy Thank you for your feedback. Since the `orders` table is a sharding table with multiple data nodes, when calculating `SUM(price)`, we need to obtain data on different nodes, and then perform aggregation calculations. Therefore, the limit clause needs to be rewritten to meet the data needed for the calculation.
For more information, you can refer to the [doc](https://shardingsphere.apache.o

[2021-06-15 02:48] lyflyy commented on #10806
@strongduangmu Thank you very much for your answer

But I think if SQL were rewritten to look like this
[code]
, and then merge all the shard data, it would also get the right result

[2021-06-15 03:05] strongduanmu commented on #10806
@lyflyy Through this SQL, we can get the TOP 10 sum data corresponding to the `orders_6` table. But can this ensure that we get the global TOP 10 sum data after merging?

[2021-06-15 03:26] lyflyy commented on #10806
@strongduanmu Thank you very much for your answer

I understand that the data grouped by user ID may be distributed in any of the three tables, and the data sorted by grouping the three tables separately may not be accurate

[2021-06-15 03:26] #10806 closed

[2021-06-15 03:46] lyflyy commented on #10808
@fzyzcjy SphereEx

[2021-06-15 04:51] fzyzcjy commented on #10808
@lyflyy hi seems that this group is jist created? https://zhuanlan.zhihu.com/p/377722646 So is there tech support *now*?

[2021-06-15 05:30] lyflyy commented on #10808
### I saw it from WeChat

![image](https://user-images.githubusercontent.com/22704284/121998061-db8f4c00-cddd-11eb-91b9-402f09c943f4.png)

[2021-06-15 07:28] TeslaCN opened #10814 "PostgreSQL Proxy doesn't support Parse & Describe only"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

Expected server response:
[code]
### Actual behavior

Client sent:
[code]

Proxy replied:
[code]

The client sent `Describe`, but the proxy didn't reply the `RowDescription` or `NoData` packet.

### Steps to reproduce the