[2021-11-06 23:27] #12825 closed

[2021-11-07 02:53] pandatop commented on #13453
At present, I have quoted the latest version, the problem has been solved, thank you for your reminder

[2021-11-07 02:53] #13453 closed

[2021-11-07 12:13] #13146 closed

[2021-11-08 01:19] tuichenchuxin commented on #13483
I want to check it.

[2021-11-08 01:35] #13480 closed

[2021-11-08 02:52] #13428 closed

[2021-11-08 03:08] sandynz commented on #13407
I verified on SHARDING tables, it works.

Test DistSQL:
[code]
`t_order` and `t_order_item` in `tables` will be removed and added in `autoTables`.

[2021-11-08 03:08] #13407 closed

[2021-11-08 03:40] sandynz commented on #13260
I started proxy on OSX local by `org.apache.shardingsphere.proxy.Bootstrap` without `-Djava.net.preferIPv4Stack=true` option, connect and test with native MySQL client, it works with `-h127.0.0.1` and `-h0:0:0:0:0:0:0:1`.

[2021-11-08 05:50] #10416 closed

[2021-11-08 05:52] #13483 closed

[2021-11-08 07:23] marker-wu commented on #12472
I succeeded after trying again

[2021-11-08 07:29] #13434 closed

[2021-11-08 07:33] #13471 closed

[2021-11-08 07:38] sandynz commented on #13434
Atomikos version is upgraded for now.

There is another way: Disable XA for scaling when initializing `ShardingSphereDataSource`, it need to extend `ContextManagerBuilder`, I'll investigate it later.

[2021-11-08 07:39] yx9o opened #13494 "DistSQL error message is wrong."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Actual behavior

![image](https://user-images.githubusercontent.com/12792261/140701509-8e146875-10c3-40b1-ad0a-a21a8160ac44.png)

### Reason analyze (If you can)

![image](https://user-images.githubusercontent.com/12792261/140701046-06289d

[2021-11-08 07:41] RaigorJiang commented on #13494
@yx9o
Thanks a lot.

[2021-11-08 08:02] summer9989 commented on #13438
same question

[2021-11-08 09:46] syz521 opened #13497 "sharding-proxy pool performance"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-08 09:46] syz521 commented on #13497
Is there an official performance test for sharding-proxy 5.0. I use the beta version to test the performance. The read-write separation is configured. The read performance is only 1 / 5 of that of the direct database

[2021-11-08 10:02] yxiaozhou opened #13498 "When executing SQL, the fields do not match the database, and no exception is thrown"
After checking the document, it is found that there is no description of the problem;

Using mybatis and MySQL

For example, the fields in the database are ID and phone_ Number, area, the SQL actually inserted is:
insert into personal_phone_2
( phone_number,
area1 , id)
values (?, ?, ?) ::: [123, 111, 1457646753489616897]；
Obviously, the fields do not match, but the code does not throw an exceptio

[2021-11-08 10:06] yxiaozhou commented on #13498
After checking the document, it is found that there is no description of the problem;

Using mybatis and MySQL

For example, the fields in the database are ID and phone_ Number, area, the SQL actually inserted is:
insert into personal_phone_2
( phone_number,
area1 , id)
values (?, ?, ?) ::: [123, 111, 1457646753489616897]；
Obviously, the fields do not match, but the code does not throw an exceptio

[2021-11-08 10:11] tuichenchuxin commented on #13498
@yxiaozhou which version have you used? can you offer an demo for me to have a check?

[2021-11-08 10:43] yxiaozhou commented on #13498
5.0.0-beta

[2021-11-08 11:11] liangxianjin opened #13501 "The data source refresh did not close the link of the old data source and threw an exception. How can we deal with this problem? If there is a good scheme, please give me some advice ，thanks"
There are 30 connections, two instances in total
Problem Description:
Multiple instances refresh the data source, reload the data source, and create a link. Before this process, first check the old data source and new data source, including fragment configuration; CLose new  and old data sources have interactive data source links ，Use new data source list
Before refresh
There are 60 connections

A

[2021-11-08 12:40] yxiaozhou commented on #13498
https://github.com/yxiaozhou/demo-orm-mybatis

↑ This is my demo for this question;
Run the test method addPhone in SpringBootDemoOrmMybatisApplicationTests.java

[2021-11-08 12:53] yxiaozhou commented on #13498
@tuichenchuxin

[2021-11-08 14:21] RaigorJiang commented on #13498
Hi @yxiaozhou
This issue has been fixed in master branch, please refer to #10138, #10844.

[2021-11-08 16:48] cheese8 opened #13508 "[Discussion] Consider merge QueryAssistedEncryptAlgorithm and EncryptAlgorithm into one"
## Feature Request

For now:
1、We see that there are two interfaces QueryAssistedEncryptAlgorithm and EncryptAlgorithm, QueryAssistedEncryptAlgorithm inherit from EncryptAlgorithm and provider method queryAssistedEncrypt for QueryAssist.
2、We see 5 fields in EncryptColumnRuleConfiguration but only one encryptorName can be configed with both QueryAssistedEncryptAlgorithm and EncryptAlgorithm, Query

[2021-11-09 00:54] cheese8 commented on #13508
The first solution is:
merge QueryAssistedEncryptAlgorithm and EncryptAlgorithm into one called EncryptAlgorithm with 3 methods: encrypt, queryAssistedEncrypt and decrypt.

The second solution is:
cut off the inherit relationship on QueryAssistedEncryptAlgorithm and EncryptAlgorithm, and add the 6th field named queryAssistedEncryptorName in EncryptColumnRuleConfiguration.

Which one do you prefer?

[2021-11-09 01:06] strongduanmu commented on #13508
@cheese8 Considering that the 5.0.0 GA version has just been released, it is not suitable to make changes to the API at this time, I think this suggestion can be put into the future 6.x version.

[2021-11-09 01:42] tuichenchuxin commented on #13501
@liangxianjin which version have you used?

[2021-11-09 02:17] userkdg commented on #5531
+1 都到2021年尾了，bug还在？

[2021-11-09 02:18] liangxianjin commented on #13501
Maven coordinate:  <sharding-sphere.version>4.1.1</sharding-sphere.version>
To refresh a multi instance data source, you need to close the connection between the duplicate data source lists in the old data source list and the new data source list

![Uploading image.png…]()

[2021-11-09 02:18] liangxianjin commented on #13501
Maven coordinate:  <sharding-sphere.version>4.1.1</sharding-sphere.version>
To refresh a multi instance data source, you need to close the connection between the duplicate data source lists in the old data source list and the new data source list

![image](https://user-images.githubusercontent.com/45254883/140849676-d0dfbbd3-612e-4d63-8181-5d1c2a2359b2.png)

[2021-11-09 02:23] tuichenchuxin commented on #13501
@liangxianjin Thank you for your feedback. Can you help to check if this problem is exist in 5.0.0 ? Because 4.1.1 is a long time ago version.

[2021-11-09 02:23] Un-use opened #13509 "Can MySQL keyword query be supported？"
this is a SQL，

it be rewirte to

but this SQL is error, because 'name', 'desc' is MySQL keword，
how to solve this error？

[2021-11-09 02:31] strongduanmu commented on #13509
@Un-use Can you try the latest version?

[2021-11-09 02:33] TeslaCN commented on #13497
Hi @syz521
How do you test the performance?

[2021-11-09 02:34] TeslaCN commented on #13497
I found this issue is duplicated, could you continue discussing in #10626?

[2021-11-09 02:34] liangxianjin commented on #13501
Well, OK.
thank

[2021-11-09 02:36] liangxianjin commented on #13501
Now, does 5.0.0 support case... When statements? Write your own preprocessing and splice SQL

[2021-11-09 02:37] Un-use commented on #13509
5.0.0-beta？ not support

[2021-11-09 02:43] Un-use commented on #13509
log like this

[2021-11-09 02:45] yxiaozhou commented on #13498
@RaigorJiang    which version i can use now?  i saw shardingsphere-jdbc-core:5.0.5  released at 2 nov

[2021-11-09 02:48] syz521 commented on #13497
Yes

[2021-11-09 02:48] #13497 closed

[2021-11-09 02:49] syz521 commented on #13497
duplicate

[2021-11-09 03:12] TeslaCN opened #13512 "Introduce Maven Flatten Plugin for project examples"
## Feature Request

### Is your feature request related to a problem?
There are too many modules in examples and we have to update example versions in every example `pom.xml` during project release, which is tedious to maintain.

### Describe the feature you would like.

Using `maven-flatten-plugin` in examples and replace version with variable in `pom.xml`.

[2021-11-09 03:28] strongduanmu opened #13513 "Add generics for EncryptAlgorithm and QueryAssistedEncryptAlgorithm interfaces"
## Feature Request

At present, the EncryptAlgorithm and QueryAssistedEncryptAlgorithm interfaces only support `String` type encryption and decryption, which meets many general requirements, but also limits the scalability of the algorithm.

[code]

Therefore, we expect to introduce generics to provide users with better scalability. For example, user wants to enter the `Integer` type for encryptio

[2021-11-09 03:31] #13145 closed

[2021-11-09 04:14] Swastyy commented on #13512
Hi @TeslaCN Please assign this to me.

[2021-11-09 04:55] dongzl commented on #13147
I will try it.

[2021-11-09 05:10] TeslaCN commented on #13512
@Swastyy Welcome!

[2021-11-09 05:49] syz521 commented on #13438
https://www.oschina.net/news/167991

[2021-11-09 05:55] #13134 closed

[2021-11-09 07:14] RaigorJiang commented on #13498
@yxiaozhou
5.0.0-GA will release soon.

[2021-11-09 07:20] #13460 closed

[2021-11-09 07:34] yxiaozhou commented on #13498
Nice！

[2021-11-09 07:34] #13498 closed

[2021-11-09 07:38] RaigorJiang commented on #13455
Hi @wangeDear
If your problem is solved, can we close this issue?

[2021-11-09 08:33] liangxianjin opened #13515 "Redis ShardingKey Generator and ShardingDataSource error"
![image](https://user-images.githubusercontent.com/45254883/140889590-13020f3c-0d60-40e3-b9a6-0f6409542ddc.png)
![image](https://user-images.githubusercontent.com/45254883/140889610-c90a80bf-8996-45a6-92b5-bafdacce1efb.png)

maven 4.1.1 change 5.0.0   error

[2021-11-09 09:31] tuichenchuxin commented on #13515
Thank you for trying to use 5.0.0. 5.0.0 have some api change, now it has been become pluggable architecture. Future version api changes will be small.

[2021-11-09 09:42] liangxianjin commented on #13515
#13501
you are welcome

 Do we have a good solution to this problem

[2021-11-09 09:45] tuichenchuxin commented on #13515
Currently it can be configured through distSql to reduce configuration changes, but currently only proxy is supported. The insensitivity upgrade is currently still advancing.

[2021-11-09 10:13] liangxianjin commented on #13515
well. The key is that the production environment is also in use. We are want to switch data sources and hot refresh

[2021-11-09 10:13] liangxianjin commented on #13515
well. The key is that the production environment is also in use. We are want to switch data sources and hot refresh

[2021-11-09 10:16] tuichenchuxin commented on #13515
;)

[2021-11-09 13:43] yx9o commented on #13488
Fixed in #13500 .

[2021-11-09 13:43] yx9o commented on #13494
Fixed in #13507 .

[2021-11-10 00:09] #13494 closed

[2021-11-10 00:57] #13333 closed

[2021-11-10 00:57] lanchengx commented on #13333
Has been completed

[2021-11-10 00:58] wgy8283335 opened #13524 "Integration between Sharding Sphere and Calcite"
## Feature Request
The solution for integrating Sharding Sphere with Calcite.  The solution will update timely.

https://github.com/wgy8283335/drawio/blob/main/ShardingSphereWithCalcite.drawio

![image](https://user-images.githubusercontent.com/22066046/141029932-1e085cc8-f87d-4b66-ad87-4fca5181f1fe.png)

The related issue is #12709

[2021-11-10 01:05] strongduanmu commented on #13509
@tuichenchuxin Can you help check this issue?

[2021-11-10 01:18] penghuazhou opened #13525 "when can I download 5.0.0 shardingsphere?"
When can I download 5.0.0 shardingsphere from "ShardingSphere > 下载"?
![image](https://user-images.githubusercontent.com/13001038/141031845-c8b44c34-a35b-4bbc-a762-ea72b4957820.png)

[2021-11-10 01:22] syz521 commented on #13525
https://archive.apache.org/dist/shardingsphere/

[2021-11-10 01:47] makexiao113 opened #13526 "NullPointerException when using shardingjdbc5.0.0 and flyway"
my yaml is this：

···

spring:
  shardingsphere:
    datasource:
      names: master
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/membership
        username: membership
        password: membership
    mode:
      type: Memory
    schema:
      name: membership

···

when i run my pr

[2021-11-10 01:55] rmzf9192 commented on #13433
That problem has been solved

[2021-11-10 01:55] #13433 closed

[2021-11-10 02:04] tuichenchuxin commented on #13509
OK, I'll check this issue.

[2021-11-10 02:06] duansy123 opened #13527 "Physical library plus table plus field"
How to add tables and fields to the physical library to take effect directly without restarting sharding？

[2021-11-10 02:17] tuichenchuxin commented on #13526
@m350058411 Maybe there is some config error? Can you offer me a demo?

[2021-11-10 03:10] tuichenchuxin commented on #13509
@Un-use can you offer me your config and the table create sql?
I have tried on 5.0.0-beta, ``` select * from t1 ``` can be used well.

[2021-11-10 03:13] tuichenchuxin commented on #13527
I can’t understand your needs accurately, can you describe the scenario you need in detail?

[2021-11-10 03:18] m350058411 commented on #13526
[spring.zip](https://github.com/apache/shardingsphere/files/7509552/spring.zip)
sure,thank you,waitting for your good news

[2021-11-10 03:19] m350058411 commented on #13526
install parent before running membership

[2021-11-10 03:27] fwnan opened #13529 "About batch insert operation in sharding-jdbc"
Currently, there are a lot of SQL batch inserts in our business code, but the new version of ABC does not support batch keywords, such as union all, so there are two problems:
1. Will batch operations of mysql, Oracle or other databases be supported in the future?
2. In the current 5.x version, it is possible to operate SQL without using sharding-JDBC agent.
Looking forward to replyIn the future,

[2021-11-10 03:42] duansy123 commented on #13527
So we are using version 5.0.0-alpha
Then we found that sharding always reports an error every time a table or field is added to mysql
The error message is as follows

![image](https://user-images.githubusercontent.com/38459049/141045826-5b110ed7-33aa-423c-9105-02526bb130b5.png)

But when I restarted sharding and then query or insert again, there is no problem.
I hope to be able to add fields or ta

[2021-11-10 03:47] jmbkeyes commented on #12512
Since 5.0.0 is released, I upgrade the shardingshphere to 5.0.0 for my demo project(https://github.com/jmbkeyes/shardingsphere-jdbc-seata-demo.git), and  then test the api with global seata transaction.
It seems that seata transaction doesn't triggered for there's no message like below.
2021-09-22 18:37:24.437  INFO 11796 --- [nio-9090-exec-1] i.seata.tm.api.DefaultGlobalTransaction  : Begin new g

[2021-11-10 06:19] Un-use commented on #13509
### config：
rules:
  - !ENCRYPT
    encryptors:
      encryptor_custom:
        type: custom
    tables:
      t1:
        columns:
          name:
            plainColumn: name
            cipherColumn: nameCipher
            encryptorName: encryptor_custom
          desc:
            plainColumn: desc
            cipherColumn: descCipher
            encryptorName: encryptor_custom
    queryWithC

[2021-11-10 06:49] tuichenchuxin commented on #13527
@duansy123 Do you add tables through sharding or directly through mysql? If you add table directlty through mysql then sharding will not get these tables meta data.

[2021-11-10 06:57] duansy123 commented on #13527
I am adding fields and tables directly through mysql. Do you mean that only tables and field shading added through sharding can take effect directly without restarting? I have seen from the Internet that if the zookeeper is connected, the metadata can be modified dynamically, but the data in the table cannot be modified.

[2021-11-10 06:59] Inphoo opened #13532 "IllegalStateException: Insert statement does not support sharding table routing to multiple data nodes"
**Version**: shardingsphere-jdbc-core-spring-boot-starter:5.0.0

I encountered an error. When inserting a record .
The following is the configuration information. I use ‘id’,'plat_code' columns as sharding-columns
[code]
when insert a record
[code]

When I use single sharding column, there is no problem
[code]

[2021-11-10 07:19] Inphoo commented on #13532
Find the reason，when complex, COMPLEX_INLINE instead of INLINE

[2021-11-10 07:19] #13532 closed

[2021-11-10 07:25] zjcnb opened #13533 "MGRDatabaseDiscoveryType.updateMemberState() need add unit test."
Hi community,

MGRDatabaseDiscoveryType.updateMemberState() need add unit test.

[2021-11-10 07:26] zjcnb opened #13534 "MGRDatabaseDiscoveryType some methods need add unit test"
Hi community,

I found `shardingsphere-db-discovery-mgr` module need to add unit test. it 's task list :

- [ ] MGRDatabaseDiscoveryType.startPeriodicalUpdate()
- [ ] MGRDatabaseDiscoveryType.updateProperties()

[2021-11-10 07:49] menghaoranss commented on #13527
@duansy123 if you change the metadata of tables through mysql, ShardingSphere and zookeeper couldn't  get its change now, unless restart ShardingSphere  or change them through ShardingSphere.

[2021-11-10 07:55] duansy123 commented on #13527
Ok hope this can be optimized

[2021-11-10 07:55] duansy123 commented on #13527
Ok hope this can be optimized

[2021-11-10 07:55] #13527 closed

[2021-11-10 08:41] tuichenchuxin commented on #13509
@Un-use Thank you for your feedback. There is indeed a problem when using keywords as fields. I'll try to fix it later.

[2021-11-10 08:44] makexiao113 commented on #13526
@tuichenchuxin   Have you received the demo?  I have uploaded demo in comments, thanks

[2021-11-10 09:30] 5661954 commented on #9421
@Ambitie i cant get the pom from official maven repository?which repository should i setting in my maven settings.xml ?

[2021-11-10 09:43] clbigdata commented on #13143
I want to solve this problem

[2021-11-10 09:53] tuichenchuxin commented on #13143
@clbigdata welcome.

[2021-11-10 10:40] sandynz commented on #11008
I checked on master branch code, it has been fixed by #11702. You could try version `5.0.0`.

[2021-11-10 10:40] #11008 closed

[2021-11-10 10:50] wuguanyu commented on #13484
@strongduanmu  maybe imcompatible with mysql jdbc connection 6.0.6 ,I use 4.0.1  It worked
Can we provide some best compatible with  mysql jdbc connection and ShardingSphere-JDBC

[2021-11-10 11:01] strongduanmu opened #13537 "Exception occur when execute multiple table join query rewriting in encrypt scenario"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

execute success

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.

c

[2021-11-10 11:04] strongduanmu commented on #13484
@wuguanyu I think the version of the mysql driver should be the same with database, and shardingsphere has no special requirements.

[2021-11-10 11:17] xue2lang opened #13539 "multithreading use one ShardingSphereConnection instance , will cause java.sql.SQLTransientConnectionException: xx Connection is not available, request timed out after 2000ms."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-10 11:19] xue2lang commented on #13539
when one PreparedStatement execute finish，can we release cache connection using synchronized code ？？？

have any idea？？？

[2021-11-10 11:26] #13513 closed

[2021-11-10 11:50] Jenyow opened #13541 "No query condition for the sharding table, it does not working"
## Bug Report
### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
the sql：
[code]
the application.yml fragment：
[code]
the log
[code]

It work fine in version 5.0.0-beta.

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL t

[2021-11-10 11:54] strongduanmu commented on #13541
@Jenyow Thank you for your feedback, I will check it.

[2021-11-10 12:03] ShiFengCui commented on #13533
assign me please

[2021-11-10 12:24] menghaoranss commented on #13533
welcome.

[2021-11-10 13:26] Comven opened #13544 "Query SQL with `order by xxx` throw NullPointerException"
Logic SQL is `select id, order_no, user_id, add_time from order_info where add_time between ? and ? order by add_time` ，shardingsphere-5.0.0 throw NullPointerException.

[code]
Without `order by xxx` or use shardingsphere-5.0.0-bata, it work fine.

[code]

[2021-11-10 13:37] wade-hong opened #13545 "Data Masking was successfully encrypted, but decryption failed"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-10 13:49] #13137 closed

[2021-11-10 14:39] xiaohuihui123321 commented on #13069
I want to try to deal with this problem

[2021-11-10 23:59] sandynz commented on #13069
@xiaohuihui123321 Welcome, I just assigned it to you.

[2021-11-11 01:00] strongduanmu commented on #13545
@wade-hong Thank you for your feedback, I will check this issue.

[2021-11-11 01:18] strongduanmu commented on #13545
@wade-hong From your configuration, t_sys_user_a does not seem to be an encryption and decryption table. Can you provide a demo? This can help me quickly locate the problem.

[2021-11-11 01:35] wade-hong commented on #13545
I'm very sorry, , the previous configuration is a bit wrong, it has been corrected. This problem occurred on the company project and there was no Demo available.

[2021-11-11 02:17] strongduanmu commented on #13544
@Comven Can you provide your configuration and table schema? This can help find the problem quickly.

[2021-11-11 02:49] strongduanmu commented on #13541
Hi @Jenyow, I used the 5.0.0 version and the following similar sharding configuration for testing, and there was no exception.

[code]

[code]

Is there any difference in your configuration and environment? If you can provide a demo program, I think it will help the positioning of this problem.

[2021-11-11 03:50] Jenyow commented on #13541
Hi @strongduanmu , the attch attachment is demo. Please read README.md and do it.

[sharding-demo.zip](https://github.com/apache/shardingsphere/files/7517595/sharding-demo.zip)

[2021-11-11 03:53] CrackerSuperior opened #13549 "Unable to build a new release version"
version：
  5.0.0-release

error：
![image](https://user-images.githubusercontent.com/45088781/141234037-072cf8a7-7729-436b-a04f-c1f9fd8274aa.png)
![image](https://user-images.githubusercontent.com/45088781/141234079-bde43b32-328c-4158-883c-6b16432a7d60.png)

[2021-11-11 04:10] jmbkeyes opened #13550 "shardinsphere-jdbc5.0.0 can't work with seataserver1.4.1"
## Bug Report

**For English only**, other languages will not accept.
Since 5.0.0 is released, I upgrade the shardingshphere-jdbc to 5.0.0 for my demo project(https://github.com/jmbkeyes/shardingsphere-jdbc-seata-demo.git), and then test the api with global seata transaction.
It seems that seata transaction doesn't triggered.

Before report a bug, make sure you have:

- Searched open and closed [G

[2021-11-11 05:39] strongduanmu commented on #13545
@wade-hong I found out that the logical column in your query statement is wrong, not `EMIAL`, the correct one should be `EMAIL`.

![image](https://user-images.githubusercontent.com/10829171/141243821-2093d1e9-efd9-44b2-bee8-bd82201e770e.png)

[2021-11-11 05:44] syz521 commented on #13549
same question. need a doc to help debug and build

[2021-11-11 05:53] sandynz commented on #13007
@lichengxin813 Thank you for your PRs. Welcome to go ahead further.

@zhfeng it's done, you could verify it on master branch or later release.

[2021-11-11 05:58] zhfeng commented on #13007
@lichengxin813 Well done ! I will check it.

[2021-11-11 06:44] yx9o commented on #13549
@CrackerSuperior Hi, you need to `install` first.

[2021-11-11 07:34] zjcnb commented on #13550
@jmbkeyes Thank you for your feedback, I will check this issue. @strongduanmu please assign me thx.

[2021-11-11 07:35] strongduanmu commented on #13550
@zjcnb Assigned.

[2021-11-11 08:06] zjcnb opened #13552 "The db-discovery support namespace configuration."
Hi  community,

 The db-discovery not support namespace configuration. So, I will complete it.

[2021-11-11 09:30] linghengqian opened #13553 "Is `ShardingSphere agent` built-in in `Proxy`?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-11 09:31] SFlora opened #13554 "If spring.shardingsphere.rules is not configured, ShardingSphereDataSource cannot be injected"
### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected & Actual behavior
![image](https://user-images.githubusercontent.com/11220892/141272468-38932f7d-dfcd-414c-abea-47a81939b8e9.png)
### Reason analyze
I did not configure the properties of "spring.shardingsphere.rules"
Because I only need

[2021-11-11 09:51] strongduanmu opened #13556 "NPE occurs when using shadow and readwrite_splitting by execute shadow example"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

After PR #13531 was merged, shadow provided the configuration of the logical data source name, which caused problems in the processing logic of the dataNode, and finally resulted in NPE when loading metadata.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected

[2021-11-11 09:51] Comven commented on #13544
table schema is like this
[code]
Split table by month.

database configuration  like this

[code]

[2021-11-11 09:59] strongduanmu commented on #13544
@Comven Thank you for your detailed info, I will investigate this issue.

[2021-11-11 10:16] leewangq commented on #604
how to build ShardingSphere website by means of hugo and hugo theme learn?can you give me some suggestions

[2021-11-11 10:22] strongduanmu commented on #13541
@Jenyow Thank you for your detailed info, I will check it again.

[2021-11-11 10:47] strongduanmu commented on #13541
Hi @Jenyow Thank you very much for the perfect demo, but everything is ok when I run it. Below is my log.

[code]

BTW, your sql-show parameter configuration is wrong, it should be configured as.

[code]

[2021-11-11 11:07] #13556 closed

[2021-11-11 11:49] LeeGuoPing commented on #13426
@RaigorJiang SingleTableRule is configurated with distSQL or write in yaml, can you give me a exmaple?

[2021-11-11 12:01] sandynz opened #13558 "Add unit test for H2DataSourceMetaData.isInSameDatabaseInstance and DataSourceMetaData.isInSameDatabaseInstance"
Hi community,

`H2DataSourceMetaData.isInSameDatabaseInstance` and `DataSourceMetaData.isInSameDatabaseInstance` was added recently, it need to add some unit tests for these methods, and verify the implementation of `isInSameDatabaseInstance`.

[2021-11-11 12:03] ReyYang commented on #13558
Can i take this ?. Thanks

[2021-11-11 12:04] sandynz commented on #13558
@ReyYang Welcome, I just assigned it to you.

[2021-11-11 12:17] zjcnb commented on #13554
@SFlora Hi,  sharding-jdbc are must be config with rule. If you needn't rule, you can try sharding-proxy.

[2021-11-11 12:42] dachuan9e commented on #13553
@linghengqian Yes, you'r right. Here it means the opentracing plugin in shardingsphere agent and skywalking agent cannot be used at same time.  Welcome you to do some contribution if you'd like.

[2021-11-11 12:42] Jenyow commented on #13541
Hi @strongduanmu , thandks. I revise sql-show property. It show sql like your log, but still print exception, I don't know what's wrong with me.
[code]

[2021-11-11 12:45] anxinlong commented on #5531
+1 this issue has been open for more than one year😂

[2021-11-11 12:55] linghengqian commented on #13553
I'm sorry that my time schedule is not convenient for me to deal with it. Can you assign another Contributor to do this?

[2021-11-11 14:01] flycash commented on #13138
Only support `SHOW REPLICA STATUS`?
MySQL 5.7 has no `SHOW REPLICA STATUS` but have `SHOW SLAVE STATUS`

[2021-11-11 16:22] Jenyow commented on #13541
Hi @strongduanmu. When I changed the version to 5.0.0-beta, it worked fine. But when I change the version to 5.0.0, it always print the exception. So I'm sure this is a bug in version 5.0.0.

use 5.0.0-beta the log:
[code]

use 5.0.0 the log:
[code]

Please check it again. Thanks.

[2021-11-12 00:30] strongduanmu commented on #13541
@Jenyow Ok, I will try again.

[2021-11-12 00:47] strongduanmu commented on #13541
@Jenyow I inserted a piece of data into the table and executed it again, but there was still no exception. Can you get exceptions through demo execution?

![image](https://user-images.githubusercontent.com/10829171/141389449-11e64fbb-9d06-411c-bcbc-c1ea0c6222f5.png)

[2021-11-12 01:15] makexiao113 commented on #13554
i have same problem

[2021-11-12 01:25] tuichenchuxin commented on #13138
@flycash I saw this in document
https://dev.mysql.com/doc/refman/8.0/en/show-slave-status.html
I think we should support both.

[2021-11-12 01:33] Jenyow commented on #13541
Hi @strongduanmu , I sent an email to you, please add me.

[2021-11-12 01:55] #13549 closed

[2021-11-12 02:12] ASCE1885 commented on #13554
the same version 5.0.0, I have config with rule, but still got `No qualifying bean of type 'org.apache.shardingsphere.infra.config.mode.ModeConfiguration' available`

[2021-11-12 02:14] zjcnb commented on #13554
Can you provider your configuration?

[2021-11-12 02:27] zjcnb commented on #13554
Can you provider your configuration?

[2021-11-12 02:30] makexiao113 commented on #13554
spring:
  application:
    name: membership
  shardingsphere:
    datasource:
      names: master
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/membership
        username: membership
        password: membership
    mode:
      type: Memory
    schema:
      name: master

[2021-11-12 02:31] makexiao113 commented on #13554
this is my issue：https://github.com/apache/shardingsphere/issues/13526

[2021-11-12 02:37] liuximeng opened #13562 "Always route to write-data-source when i use readwrite-splitting"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-12 02:50] #13488 closed

[2021-11-12 02:53] RaigorJiang commented on #13562
Hi @liuximeng
This problem may have been fixed, please try the latest version: 5.0.0
https://shardingsphere.apache.org/document/current/cn/downloads/

[2021-11-12 03:00] SFlora commented on #13554
But I can run successfully in version 5.0.0-beta without config "rules"
Is "must be config with rule" a new requirement of the new version?

[2021-11-12 03:05] ASCE1885 commented on #13554
I am using Spring Boot 2.1.1.RELEASE, `pom.xml`:

[code]

`application.properties`:

[code]

[2021-11-12 03:23] xue2lang commented on #13539
when execute PrepareStatement/Statement close method , release connection to connection pool

[2021-11-12 03:23] #13539 closed

[2021-11-12 03:54] metayx opened #13563 "By shardingsphere querying character_set_client sometimes for utf8mb4 and sometimes for latin1, our underlying MySQL table encoding is utf8mb4"
![image](https://user-images.githubusercontent.com/16127829/141406445-4161a8b1-858f-4416-9f8a-8f622e18f136.png)

[2021-11-12 03:56] makexiao113 commented on #13554
you can add this configuration:
spring.shardingshpere.mode.type=Memory

https://shardingsphere.apache.org/document/5.0.0/cn/user-manual/shardingsphere-jdbc/configuration/yaml/mode/

[2021-11-12 04:00] RaigorJiang commented on #13426
[Single Table](https://shardingsphere.apache.org/document/current/en/features/sharding/concept/table/#single-table) does not need to be configured. A table without configuration will be recognized as a single table when it is loaded, and SharidngSphere can know which data source it is on.

[2021-11-12 04:02] RaigorJiang commented on #13426
@LeeGuoPing
To reproduce this scenario, you can specify a database that already has a table (the table does not have a corresponding sharding rule) when adding resource, and then drop it immediately.

[2021-11-12 04:27] #13541 closed

[2021-11-12 04:31] zjcnb commented on #13554
@ASCE1885 Hi bro, Can you change encryptor_aes to encryptor-aes. Then try it again.

[2021-11-12 04:38] zjcnb opened #13564 "Have a mistake when encryptor-name value contain '_' ."
refer to: #13554

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-JDBC

### Expected behavior

start up success.

### Actual behavior

[code]

### Reason analyze (If you can)

`spring.shardingsphere.rules.encrypt.tables.t_address.columns.address_name.encryptor-name` value not contain  _
such as :

[2021-11-12 05:41] strongduanmu commented on #13541
@Jenyow This exception is due to the fact that actualDataNodes does not consider case-insensitiveness, which leads to metadata wrong. You can temporarily modify it to be consistent with the actual table name of the database to avoid this problem.

[2021-11-12 06:23] penghuazhou commented on #13142
shardingsphere-proxy 5.0.0 do not support etcd?

![image](https://user-images.githubusercontent.com/13001038/141420132-5ac332f7-0ffc-4099-9768-3bc9de2ca095.png)

[ERROR] 2021-11-12 14:20:58.597 [main] o.a.curator.CuratorZookeeperClient -
java.io.IOException: java.lang.IllegalArgumentException: Invalid path string "//
localhost:2379" caused by empty node name specified @1
        at org.apache.cura

[2021-11-12 06:29] penghuazhou commented on #13525
thanks

[2021-11-12 06:35] penghuazhou commented on #13142
how can I user etcd in shardingsphere-5.0.0?

![image](https://user-images.githubusercontent.com/13001038/141421458-2764806e-754f-46cc-a5e0-b70d278f45ae.png)

[ERROR] 2021-11-12 14:20:58.597 [main] o.a.curator.CuratorZookeeperClient -
java.io.IOException: java.lang.IllegalArgumentException: Invalid path string "//
localhost:2379" caused by empty node name specified @1
        at org.apache.curator

[2021-11-12 06:39] zjcnb commented on #13564
Duplicate issue #8382. close it.

[2021-11-12 06:39] #13564 closed

[2021-11-12 07:10] RaigorJiang commented on #13563
Hi @metayx
Are you using ShardingSphere-Proxy?
Here is a similar issue for your reference https://github.com/apache/shardingsphere/issues/13023.

[2021-11-12 07:21] zjcnb commented on #13526
@makexiao113 Hi bro, you must be set rule for your config.  you can set rule and try it again.

[2021-11-12 07:30] zjcnb commented on #13554
yes, i think if you use sharding-jdbc, you hava sharding demand. Do you have other ideas？

[2021-11-12 07:31] zjcnb commented on #13554
There are optional. So you can not set it

[2021-11-12 07:42] ASCE1885 commented on #13554
after changing encryptor_aes to encryptor-aes the result is still the same. But I made some changes:

[code]

now the project can launch successfully, but when I run a select SQL through MyBatis, there is a NoSuchElementException:null.

![image](https://user-images.githubusercontent.com/4355850/141428997-3a31ae33-140c-40c9-aafb-53a93e514486.png)

[2021-11-12 08:13] #13562 closed

[2021-11-12 08:31] tuichenchuxin commented on #13529
@fwnan What's the meaning of batch sql?
`union` or ```insert into ...;insert into ...;```
We'll support completely support `union`, `Batch insert` may be cost a bit longer time, have not a plan yet.
And What is the scenario where you don't need sharding-jdbc? Why not directly jdbc.

[2021-11-12 08:46] Comven commented on #12742
Has this problem been optimized？

[2021-11-12 08:59] tuichenchuxin opened #13571 "Improve sql support of shardingsphere-parser"
Hi, community.
This is a issue to collect the sql not supported in shardingsphere-parser.
When i found some sql is not supported in shardingsphere-parser, I'll write in this issue.
And when you found some sql is not supported. Welcome to comment.

[2021-11-12 09:07] gaozhuo opened #13572 "Is sharding-jdbc support multi strategy for one table?"
Is sharding-jdbc support multi sharding algorithm for one table?
eg：PreciseShardingAlgorithm for userId，HintShardingAlgorithm for orderId
I already sharding table by userId (PreciseShardingAlgorithm)，but i want to query by orderId (use HintManager)

[2021-11-12 09:10] tuichenchuxin commented on #13571
in postgresql
[code]

[2021-11-12 09:16] fengshana opened #13573 "shardingjdbc Actual SQL 新增时对sql中的关键字未做处理"
您好，想请问一下就是shardingjdbc Actual SQL 新增时对sql中的关键字未做处理的问题；
我看了一下在查询语句是有做处理的；但是在新增时未做处理；
以下是查询：
===========
2021-11-12 17:12:17.609 [http-nio-20021-exec-8] INFO  ShardingSphere-SQL - [traceid:5c8daba2-f432-48e2-b003-11d5fbdbd279] - [log,89] - Actual SQL: dsconfigslave ::: SELECT  id,name,keys_name,val,`desc`,type,app_type,status,create_time,update_time,create_user_id,update_user_id,create_user_name,upd

[2021-11-12 09:18] FuckDoctors commented on #13526
same here, but with liquibase

[2021-11-12 09:20] tuichenchuxin commented on #13571
in postgres
[code]

[2021-11-12 09:22] tuichenchuxin commented on #13571
in postgres
[code]

[2021-11-12 09:22] tuichenchuxin commented on #13571
in postgres
[code]

[2021-11-12 09:23] tuichenchuxin commented on #13571
in postgres
[code]

[2021-11-12 09:29] makexiao113 commented on #13573
follow Community rules and use English please.
add your shardingjdbc version.
column quotes configuration  may be  not supported.

[2021-11-12 09:30] Crackersssss opened #13574 "Are subqueries not allowed in the "value" in the "insert" statement?"
version：
  master

config：
[code]

error:
[code]

[2021-11-12 09:31] fengshana commented on #13573
Hello, I would like to ask you about the problem that the keywords in SQL are not processed when shardingjdbc actual SQL is added;

I saw that the query statements are processed; However, it is not processed when adding;

The following is the query:
-------------
2021-11-12 17:12:17.609 [http-nio-20021-exec-8] INFO ShardingSphere-SQL - [traceid:5c8daba2-f432-48e2-b003-11d5fbdbd279] - [log,89] - Ac

[2021-11-12 09:31] fengshana commented on #13573
`/ `/

[2021-11-12 09:37] makexiao113 commented on #13573
Try not to use database keywords when designing tables.
Or use other plug-ins such as Mybatis to quote field names.

[2021-11-12 09:41] makexiao113 commented on #13526
thanks，I'll try

[2021-11-12 09:41] #13526 closed

[2021-11-12 09:43] strongduanmu commented on #13572
Hi @gaozhuo, ShardingSphere provides some general algorithms, and you can implement custom sharding algorithms according to your needs.

[2021-11-12 09:47] strongduanmu commented on #13574
@CrackerSuperior Thank you for your feedback, this statement is not supported now. We will consider supporting the execution of this statement in next version.

[2021-11-12 09:51] fengshana commented on #13573
大哥，我这边现在使用的就是 mybatis plus，并且也是用了注解@TableField("`desc`")，但是仍然不行

[2021-11-12 09:51] fengshana commented on #13573
Brother, I use mybatis plus and annotate @ tablefield ("` desc '), but I still can't

[2021-11-12 09:52] fengshana commented on #13573
Brother, can you understand chinese english ?

[2021-11-12 09:52] #13525 closed

[2021-11-12 09:55] penghuazhou opened #13575 "How to user local transaction in shardingsphere-proxy 5.0.0?"
Can I user Local transaction like this in shardingshpere-proxy 5.0.0?

![image](https://user-images.githubusercontent.com/13001038/141447710-b63a5db5-2f16-4fa7-877b-7d312c4a9ab1.png)

[2021-11-12 09:56] fengshana commented on #13573
Brother, are you off work

[2021-11-12 09:59] penghuazhou opened #13576 "error to connect to shardingsphere-proxy 5.0.0, It a bug?"
It be error when connect to shardingshpere-proxy in shardingsphere-proxy 5.0.0, when it be ok in apache-shardingsphere-5.0.0-beta-shardingsphere-proxy-bin.I usr go grom framework to connect.

`package test
import (
	"fmt"
	"gorm.io/driver/postgres"
	"gorm.io/gorm"
	"testing"
)

func TestShardingSpheress(t *testing.T) {
	dsn := "host=127.0.0.1 user=sharding password=sharding dbname=sharding_db port

[2021-11-12 10:02] marker-wu opened #13577 "I get an error when I execute select * from table in proxy 5.0"
I get an error when I execute select * from table in proxy 5.0
![image](https://user-images.githubusercontent.com/45256940/141448879-1455a255-3287-4334-a7c0-8df6d1b8f35b.png)

[2021-11-12 10:04] makexiao113 commented on #13573
mybatis-plus.global-config.db-config.column-format="`%s`"
https://mp.baomidou.com/config/#columnformat

[2021-11-12 10:04] fengshana commented on #13573
I know that we should try not to use keywords when designing tables, but it seems that this is not the problem now, because when I query, you also see the query SQL statement, which adds a special symbol ` / ` / to the keyword DESC, but it is not in the new statement. Do you understand what I mean

[2021-11-12 10:05] makexiao113 commented on #13573
I am Chinese of course understand Chinese, community rules do not allow to use other languages, your issue have been labeled invalid

[2021-11-12 10:07] fengshana commented on #13573
https://mp.baomidou.com/config/#columnformat

What is this link for me to do

[2021-11-12 10:08] makexiao113 commented on #13573
mybatis-plus's config for columnformat，try this config to add "`" for your "desc"

[2021-11-12 10:10] fengshana commented on #13573
I added it
![image](https://user-images.githubusercontent.com/43462923/141449799-9a95dd93-03ba-425d-a0dc-cde35f3497e2.png)

[2021-11-12 10:10] fengshana commented on #13573
Isn't this annotation enough

[2021-11-12 10:12] fengshana commented on #13573
I don't think this is a problem in this place, because the SQL statements I query have special characters, but the new SQL statements don't. do you understand what I mean

[2021-11-12 10:14] fengshana commented on #13573
![image](https://user-images.githubusercontent.com/43462923/141450435-abfd4579-ba44-424c-8b75-d3b8bc26b529.png)

[2021-11-12 10:16] makexiao113 commented on #13573
i have no idea about this.maybe you should debug and find out which class reparses the SQL

[2021-11-12 10:17] fengshana commented on #13573
![image](https://user-images.githubusercontent.com/43462923/141450834-d5322589-50f6-48b3-bc55-e7ece31a7c4b.png)

[2021-11-12 10:19] fengshana commented on #13573
![image](https://user-images.githubusercontent.com/43462923/141450957-59c18787-f80c-4b9b-aa1f-d2e0d3911523.png)

Should this place belong to the SQL executed by sharding JDBC? What do I do with this place?

[2021-11-12 10:20] fengshana commented on #13573
Aren't you a staff member

[2021-11-12 10:22] makexiao113 commented on #13573
no，i just a visitor

[2021-11-12 10:23] fengshana commented on #13573
![image](https://user-images.githubusercontent.com/43462923/141451478-9ff998ae-d4ba-49cf-b5eb-ee0ca6bbd5e2.png)

[2021-11-12 10:23] fengshana commented on #13573
I think sharding JDBC should execute this SQL in the end, not mybatis plus

[2021-11-12 10:24] fengshana commented on #13573
Well, I thought you were a staff member

[2021-11-12 10:28] fengshana opened #13578 "keyword"
Hello, I would like to ask you about the problem that the keywords in SQL are not processed when shardingjdbc actual SQL is added;

I saw that the query statements are processed; However, it is not processed when adding;

The following is the query:
------------------------------
2021-11-12 17:12:17.609 [http-nio-20021-exec-8] INFO ShardingSphere-SQL - [traceid:5c8daba2-f432-48e2-b003-11d5fbdbd279

[2021-11-12 10:31] fengshana commented on #13578
`/     `/

[2021-11-12 10:31] fengshana commented on #13578
\`   \`

[2021-11-12 10:32] fengshana commented on #13578
In the query SQL statement, \ ` desc \ ` exists; But the new does not exist

[2021-11-12 10:32] fengshana commented on #13578
In the query SQL statement, \` desc \` exists; But the new does not exist

[2021-11-12 10:38] penghuazhou commented on #13153
thanks

[2021-11-12 10:43] autumnbz commented on #8051
水平一般，脾气真大。

[2021-11-12 10:49] menghaoranss commented on #13577
How could it be reproduced?

[2021-11-12 10:55] TeslaCN commented on #13576
Hi @penghuazhou
It is a bug and this issue has been fixed in master branch by #13406.

[2021-11-12 10:56] autumnbz commented on #5512
english is ok，but can u answer the question if u can understand chinese

[2021-11-12 10:56] zjcnb commented on #13142
![image](https://user-images.githubusercontent.com/33742097/141455945-5579cad8-2351-442d-a9c9-ef8d00d5c463.png)
@penghuazhou  Hi,  it 's seem to work well, Can you check your etcd?

[2021-11-12 10:59] zjcnb commented on #13575
@penghuazhou Hi, you needn't set Local. Because Local are ShardingSphere default transaction type.

[2021-11-12 11:00] penghuazhou commented on #13576
When can I get a release version? I want use it in production environment

[2021-11-12 11:03] TeslaCN commented on #13577
What is your mysql client version?

[2021-11-12 11:05] penghuazhou commented on #13142
Is it need other config?

[2021-11-12 11:08] TeslaCN commented on #13576
Could you consider checking out the 3f7a17c572418de3664c9f6747564ffc0902490d and packing it? It will take some time before next release.

[2021-11-12 11:17] penghuazhou commented on #13576
When can I use 5.0.1? can it will solve in 5.0.1?

[2021-11-12 11:25] zjcnb opened #13580 "Route error when used read-write and HA-mgr"
cluster ： one master and one follower

follower node are offline, master node should be provider read and write.

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

follower node are offline, master node should be provider read and write.

### Actual behavior

![image](h

[2021-11-12 11:40] zjcnb commented on #13554
You needn't  configuration mode Memory, And `now the project can launch successfully, but when I run a select SQL through MyBatis, there is a NoSuchElementException:null.` it 's a new problem, Can you create new issue?

[2021-11-12 11:43] marker-wu commented on #13577
mysql8

[2021-11-12 12:25] TeslaCN commented on #13576
Hi @penghuazhou
I found a way that adding `client_encoding=UTF8` to DSN and it worked:

[code]

[2021-11-12 12:29] Swastyy opened #13581 "Creating hyperlinks"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
See the image below for r

[2021-11-12 12:31] Swastyy commented on #13581
@RaigorJiang @tristaZero @strongduanmu If everyone feels it correct, then I'll do this. Thanks.

[2021-11-12 12:36] lanchengx opened #13582 "Add a new configuration to set the default single table rule resource"
The table that is not currently configured in the rule will be considered as a single table.
When creating a table, if the table is a single table, a data source will be randomly selected to create it.

Many partners do not want the newly created table to appear in different data sources.
Therefore, it is proposed to use the default single-table database instead of the random method, and the newly

[2021-11-12 12:39] lanchengx commented on #13582
@RaigorJiang  plz assign to me

[2021-11-12 12:49] flycash commented on #13138
ok

[2021-11-12 16:33] makexiao113 opened #13586 "ShardingSphere and Flyway compatibility issues"
I used both shardingSphere and Flyway, which accesses other schemas during initialization,  For example mysql information_schema,performance_schema,sys, but my data source is only configured with one schema.  How can FLYway access other schemas  ？
here is my exception
[code]

here is my yaml
[code]

[2021-11-13 01:36] RaigorJiang commented on #13581
Hi @Swastyy
Sorry, I didn't understand, which part of the content is to be hyperlinked? From the picture, the document already has a link.

[2021-11-13 03:05] Swastyy commented on #13581
First is after `For full documentation & more details, visit: `
and second is in Contribution section after `For guides on how to get started and setup your environment, contributor & committer guides, visit:`

[2021-11-13 09:14] alexchengyj opened #13587 "Oracle11 select SQL "lowercase AS" error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-13 11:59] strongduanmu commented on #13587
@alexchengyj Thank you for your feedback. This is indeed a bug, and it has been fixed in the master branch by pr #13450.

[2021-11-13 12:04] #13138 closed

[2021-11-13 12:08] strongduanmu commented on #13586
@makexiao113 Thank you for your feedback. Currently, ShardingSphere-JDBC does not support `information_schema` and `performance_schema` queries, we will consider supporting them in subsequent versions.

[2021-11-13 13:20] alexchengyj commented on #13587
Yes,I've tested it and it is working. Good Job!

[2021-11-13 13:20] #13587 closed

[2021-11-13 16:05] #13581 closed

[2021-11-13 16:06] RaigorJiang commented on #13581
@Swastyy
Thank you, you are really careful 👍

[2021-11-13 16:24] Swastyy commented on #13581
Thank you @RaigorJiang 😃

[2021-11-14 03:22] Swastyy commented on #13425
Hi @RaigorJiang This error shows that the variable DB is not the correct required argument for which the operation fails to get the URL for jdbc. Correct me if I am wrong. If that is the case then what should be the valid argument for which it will run?

[2021-11-14 05:46] 1061530953 opened #13594 "ShardingSphere 分片后区分区分数据库大小写?"
ShardingSphere 分片后,数据库大写全部自动转化成小写了？有什么配置不进行转化数据库字段大写问题

[2021-11-14 06:10] terrymanu commented on #13594
**For English only**, other languages will not accept.

[2021-11-14 06:10] #13594 closed

[2021-11-14 10:33] penghuazhou commented on #13576
thanks very much

[2021-11-14 11:41] terrymanu commented on #13573
**For English only**, other languages will not accept.

[2021-11-14 11:41] #13573 closed

[2021-11-14 12:54] RaigorJiang commented on #13425
@Swastyy
The reason for 'Failed to get driver instance' is that Proxy did not have the jdbc driver during deployment, such as `mysql-connector`. You can try to reproduce this scenario.

[2021-11-14 12:59] RaigorJiang commented on #13575
You can change the type to LOCAL, or comment out the `!TRANSACTION` rule configuration, because LOCAL will be used by default.

[2021-11-14 13:48] strongduanmu opened #13596 "Support to validate whether the sharding rules of the binding tables are consistent"
## Feature Request

When user configures many sharding rules, and the sharding rules are inconsistent, it is easy to cause logical exceptions due to incorrect binding table settings.

Therefore, we should consider adding a validate logic to verify the binding tables in the same group. The sharding rules of each table must be consistent, otherwise an exception will be thrown to remind the user to m

[2021-11-14 13:57] RaigorJiang commented on #13572
Hi @gaozhuo
You can try to query the same actual table with different logical table names, so that you can configure different strategies for different logical tables.

[2021-11-15 00:27] clbigdata opened #13599 "Show triggers is misspelled in dalstatement.g4"
## Bug Report

I found **show triggers** is misspelled in dalstatement.g4

[2021-11-15 00:49] strongduanmu commented on #13599
@clbigdata What version is it? Can you provide more information?

[2021-11-15 02:14] clbigdata commented on #13599
5.0.0-RC1-SNAPSHOT

[2021-11-15 02:25] meSunnySrivastava commented on #12171
Hello @strongduanmu Sorry I am unable to work due to health reasons. Could you please assign this to anyone else?
I apologize for this late information.

[2021-11-15 02:35] SirMin opened #13602 "can't compatible spring boot 2.x"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-15 02:35] clbigdata commented on #13599
At line 237
[code]
It should be like this
[code]

[2021-11-15 02:48] strongduanmu commented on #12171
@meSunnySrivastava It doesn't matter, take a good rest and stay healthy.

[2021-11-15 02:54] strongduanmu commented on #13599
@clbigdata Are you interested in submitting a PR to fix this problem?

[2021-11-15 03:02] strongduanmu commented on #13602
@SirMin Thank you for your feedback, can you see if the underscore is causing the configuration load exception? #11242

[2021-11-15 03:10] marker-wu commented on #13448
There are more than 800 tables in a database, and the number of rows in yaml is more than 100,000. Because of the operation of the schema, the ZK operation is timed out.

[2021-11-15 03:44] penghuazhou commented on #13553
Can I use open observability function?

![image](https://user-images.githubusercontent.com/13001038/141718857-07180e09-20c3-46af-81f3-d731aa294fc5.png)

[2021-11-15 03:46] penghuazhou commented on #13575
thanks

[2021-11-15 03:50] #13576 closed

[2021-11-15 03:50] penghuazhou commented on #13142
thanks

[2021-11-15 03:50] #13142 closed

[2021-11-15 04:08] penghuazhou opened #13604 "How can I get instance ip from etcd?"
How can I get instance ip from etcd in shardingsphere-proxy? I want the etcd key name that I can exec "etcdctl get" to get.

[2021-11-15 04:30] Swastyy commented on #13599
Hi @clbigdata @strongduanmu Can I do this?

[2021-11-15 04:49] strongduanmu commented on #13599
@Swastyy Of course, I will assign this issue to you.

[2021-11-15 05:01] #13147 closed

[2021-11-15 05:09] linghengqian commented on #13553
@penghuazhou
Hi, I am sorry that I have no experience in using `ShardingSphere Agent`. As far as I know, `skywalking` automatic probe, `OpenTracing` protocol and `OpenTelemetry` protocol are three unrelated APM implementations, and before `5.0. 0-beta`There is no issue that cannot use the APM function.
Because the documentation of the `master` branch is different from the documentation of the `5.0

[2021-11-15 05:23] geiyelui opened #13606 "ShardingSphere 4.1.1版本GroupUp时，sql解析错误"
## Question

原sql，已模糊掉部分字段
select
a.id, a.createDate, a.remark, a.ackSn, a.alarmSource, a.alarmTime, a.alarmType, a.descr,
(case when a.attachmentCount = 0 then count(m.mediaitemid) else a.attachmentCount end) as
attachmentCount
from gpsalarm a
LEFT JOIN mediaitem m on a.plateNo = m.plateNo and a.alarmTime = m.sendTime
order by a.createDate desc
其中testA 为分表，正常状态下可以走sharding的sql解析，但是加上 Group By a.c

[2021-11-15 05:29] terrymanu commented on #13606
**For English only**, other languages will not accept.

[2021-11-15 05:29] #13606 closed

[2021-11-15 05:43] terrymanu opened #13607 "Include xsd of Spring namespace into release progress"
xsd of Spring namespace is not in current release progress, release manager maybe forget copy them into official website.

It is better to enhance to create new version for each release, for example: rename `http://shardingsphere.apache.org/schema/shardingsphere/datasource/datasource.xsd` to `http://shardingsphere.apache.org/schema/shardingsphere/datasource/datasource-5.0.0.xsd`

And replace the n

[2021-11-15 05:53] terrymanu opened #13608 "Include shardingsphere-agent to release progress"
shardingsphere-agent is not independent, can we consider about to put it into release progress?

[2021-11-15 05:57] terrymanu opened #13609 "Consider about provide all-in-one jar"
There are lots of released jars, could we consider about use a new release profile to provide all-in-one jar?

[2021-11-15 06:39] SirMin commented on #13602
Similar problems.
spring boot 2.x properties key only contain alpha&numberic&'-'
checker is  `org.springframework.boot.context.properties.source.ConfigurationPropertyName`
![image](https://user-images.githubusercontent.com/16568907/141733487-7339aaaa-0c58-46a2-a52b-ed272c1eb1e8.png)

[2021-11-15 07:22] penghuazhou commented on #13553
thanks

[2021-11-15 07:25] penghuazhou commented on #13153
@RaigorJiang,  It can not work when i use shardingsphere-agent in shardingsphere-proxy 5.0.0, the error message is below, can you help me?
I use shardingsphere-agent refer to https://shardingsphere.apache.org/document/5.0.0/cn/features/governance/observability/agent/

[ERROR] 2021-11-15 11:31:49.599 [main] o.a.s.a.c.b.listener.LoggingListener -
Failed to instrument org.apache.shardingsphere.infra.

[2021-11-15 08:05] CrackerSuperior opened #13612 "How should I perform cross-database queries?"
Version：
  master

![image](https://user-images.githubusercontent.com/45088781/141744268-6e6ee8c9-925c-44c3-8700-6770978ad23c.png)
As the documentation shows, do I need to configure something to use this feature or use "shardingSphere" as usual？

[2021-11-15 08:23] penghuazhou opened #13613 "It error to use shardingsphere-agent in shardingsphere-proxy 5.0.0, it is a debug?"
It can not work when i use shardingsphere-agent in shardingsphere-proxy 5.0.0, the error message is below.
I use shardingsphere-agent refer to https://shardingsphere.apache.org/document/5.0.0/cn/features/governance/observability/agent/
![image](https://user-images.githubusercontent.com/13001038/141747092-bc289e29-b3e0-4d56-86bd-2eb7fe0ab987.png)

[ERROR] 2021-11-15 11:31:49.599 [main] o.a.s.a.c.b.

[2021-11-15 08:25] strongduanmu commented on #13612
@CrackerSuperior Considering that this feature is experimental, it is disabled by default. You can enable federation query by configuring `sql-federation-enabled = true`.

For more information, you can refer this [doc](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/props/).

[2021-11-15 08:26] CrackerSuperior commented on #13612
ok,thanks

[2021-11-15 08:26] #13612 closed

[2021-11-15 08:44] menghaoranss commented on #13604
Get instance ip in shardingsphere-proxy?  Do you develop based on shardingsphere-proxy?

[2021-11-15 08:47] penghuazhou commented on #13613
@dachuan9e, Can you help me? It also happen in apache-shardingsphere-5.0.0-beta-src-release.

[https://github.com/apache/shardingsphere/issues/13153](url)

[2021-11-15 08:50] penghuazhou commented on #13604
I want to know which shardingsphere-proxy is work in shardingsphere-proxy cluster. Client will not use the shardingsphere-proxy when it crashdown.

[2021-11-15 09:02] menghaoranss commented on #13604
please refer to https://shardingsphere.apache.org/document/current/cn/reference/management/ , proxy nodes will be persisted to /status/compute_nodes/online

[2021-11-15 09:05] linghengqian commented on #13234
After the release of `shardingsphere 5.0.0` , the situation has changed. I think maybe I should close this issue and open a new issue to determine the problem.

[2021-11-15 09:05] #13234 closed

[2021-11-15 09:07] penghuazhou commented on #13604
@menghaoranss, But I can not get it, when i use ectd? I know how to get it when I use zookeeper.

![image](https://user-images.githubusercontent.com/13001038/141753276-b37af9be-3f0a-42a7-9a43-c17e243e25a6.png)

[2021-11-15 09:40] menghaoranss commented on #13604
@penghuazhou try to get all nodes prefixed with `/status/compute_nodes/online`

[2021-11-15 09:43] xr2117 commented on #3386
After inserting data, savebatch is split into one insert instead of batch insert

[2021-11-15 09:46] xr2117 opened #13615 "After inserting data, saveBatch is split into one insert instead of batch insert"
shardingJDBC 5.0.0-alpha

mybatis 3.1.1

The execution of the savebatch method is split into one save instead of a batch insert

[2021-11-15 09:55] tristaZero commented on #13069
Cool @xiaohuihui123321 welcome.

[2021-11-15 09:57] tristaZero commented on #12512
Thanks for @jmbkeyes feedback. @jingshanglu  we need a look here.

[2021-11-15 09:58] xueshiji commented on #11046
@yuanhuyulin @terrymanu  It has been fixed in https://github.com/apache/shardingsphere/pull/10956

[2021-11-15 10:01] penghuazhou commented on #13604
@menghaoranss, I also can not get it.

![image](https://user-images.githubusercontent.com/13001038/141761821-1acf1c78-7756-489e-8314-127fa13d99a7.png)

![image](https://user-images.githubusercontent.com/13001038/141761321-2c2dbdbc-e039-4b7a-85a4-1138b6acad57.png)

[2021-11-15 10:03] penghuazhou commented on #13613
@menghaoranss  Can you help me? thanks

[2021-11-15 10:20] fengshana commented on #13578
?

[2021-11-15 10:21] menghaoranss opened #13618 "Use the embedded H2 DB to implement the standalone mode"
In the [standalone mode](https://shardingsphere.apache.org/document/current/en/concepts/mode/), it is not a good choice to use local files to persist metadata, because local files are not encrypted and can be modified at any time. Therefore, we consider using embedded h2 DB to support standalone mode.

The following steps are required:

1. Add new module `shardingsphere-standalone-mode-repository-

[2021-11-15 10:31] menghaoranss commented on #13604
`etcdctl get --prefix governance_ds/status/compute_nodes/online` , `governance_ds ` is the namespace

[2021-11-15 10:56] menghaoranss commented on #13615
could you try with the 5.0.0 GA version , and provide your configurations and logic sql, actual sql printed in the log

[2021-11-15 11:03] tristaZero commented on #6458
@Jiugang Sorry for my late response, Thanks. @RaigorJiang could you have a look here?

[2021-11-15 11:07] penghuazhou commented on #13604
thanks

[2021-11-15 11:08] RaigorJiang commented on #13153
Hi @penghuazhou
thanks for your feedback, @dachuan9e please help :)

[2021-11-15 11:54] RaigorJiang commented on #6458
Removed by https://github.com/apache/shardingsphere/pull/12190.

[2021-11-15 11:57] penghuazhou opened #13621 "Thread stuck in shardingsphere-proxy 5.0.0"
The client thread stuck when there have a "重复键违反唯一约束" exception.

version: shardingsphere-proxy 5.0.0

[code]

![image](https://user-images.githubusercontent.com/13001038/141931696-72edbd57-2ad7-4213-93a8-de2f4ce30434.png)

![image](https://user-images.githubusercontent.com/13001038/141777535-25c19d6b-6225-4beb-9e7e-a9d44104beca.png)

Thanks for using Atomikos! Evaluate http://www.atomikos.com/Mai

[2021-11-15 12:33] #13604 closed

[2021-11-15 12:36] dachuan9e commented on #13153
Do you add some interceptor for 'org.apache.shardingsphere.infra.metadata.schema.builder
.loader.dialect.OracleTableMetaDataLoader' ? @penghuazhou

[2021-11-15 12:40] penghuazhou commented on #13153
@dachuan9e, I am not add some interceptor.

[2021-11-15 12:51] penghuazhou commented on #13153
I can work now, thanks.

[2021-11-15 13:09] penghuazhou opened #13625 "org.postgresql.jdbc.PgDatabaseMetaData.getRowIdLifetime() 方法尚未被实作"
version: shardingshpere-proxy 5.0.0, It have an error when start up, but it can start up sucess, so if will effect to use sharingshpere-proxy or not?

[DEBUG] 2021-11-15 20:52:30.830 [grpc-default-worker-ELG-1-2] io.grpc.netty.NettyClientHandler - [id: 0x8e13bf48, L:/127.0.0.1:63242 - R:localhost/127.0.0.1:2379] INBOUND HEADERS: streamId=33 headers=GrpcHttp2ResponseHeaders[grpc-status: 0, grpc-mes

[2021-11-15 13:13] flycash commented on #13131
I found that there was already `MySQLShowProcedureStatusStatement`, so it was addressed, right?

[2021-11-15 13:22] dachuan9e commented on #13153
You are welcome.

[2021-11-15 13:30] #13613 closed

[2021-11-15 13:55] tuichenchuxin commented on #13131
@flycash yes,it has been completed, I'll close it, thank you.

[2021-11-15 13:55] #13131 closed

[2021-11-15 14:29] #13558 closed

[2021-11-16 00:46] #13151 closed

[2021-11-16 01:00] #13554 closed

[2021-11-16 01:52] xr2117 commented on #13615
Mybatis savebatch method used

Print SQL

INSERT INTO internal_questions (
	pick_count,
	parent_id,
	is_choice,
	questions_type_id,
	questions_type_name,
	questions_type_detail_id,
	questions_type_detail_name,
	content,
	answer,
	line_number,
	option_a,
	option_b,
	difficulty_id,
	difficulty_name,
	is_charged,
	is_group_question,
	origin,
	upload_batch,
	examine_status,
	is_down,
	is_check,
	creat

[2021-11-16 02:04] liangxianjin opened #13631 "sharding close old datasource has Exception"
https://github.com/brettwooldridge/HikariCP/issues/1873#issue-1054349928

![image](https://user-images.githubusercontent.com/45254883/141882607-5dea256b-fc5d-4822-b361-592bdab65f35.png)

[2021-11-16 02:27] marker-wu opened #13632 "Does sharding-scaling only support Distsql?"
Does sharding-scaling only support Distsql? Can other methods be supported? For example: the way to configure in yaml

[2021-11-16 03:04] sandynz commented on #13632
Currently, it just support management by DistSQL (and also commercial admin console).
Configure by YAML is not planned for now.

Do you have some trouble on DistSQL?
How do you like to start scaling job by YAML?

[2021-11-16 03:28] cheese8 opened #13634 "[Disscussion] Why we need an optional parse skiped phase in encrypt scenarioes."
## The purpose:

1、Enhance users' confidence in using SS.
2、Reduce test coverage and workload in using SS.

## Scenarios:
Encrypt only.

Why an optional parse skipped parse could enhance user confidence?

1、Encrypt and decrypt are generally compliance requirements, and when your system needs compliance, which means it is already large and the situation is complicated, for example, no unit test or

[2021-11-16 03:41] menghaoranss commented on #13631
@liangxianjin which version did you use, and how could it be reproduced？

[2021-11-16 04:43] strongduanmu commented on #13634
@cheese8 Parsing is necessary for now. Only after parsing, we can extract the table segment in the statement and then determine whether we need to rewrite it.

[2021-11-16 05:03] sandynz commented on #13625
It doesn't matter. ShardingSphere will check underlying database supported features, this exception is thrown from PG JDBC driver and printed in HikariCP.

org.apache.shardingsphere.infra.metadata.resource.CachedDatabaseMetaData
[code]

org.postgresql.jdbc.PgDatabaseMetaData
[code]

HikariProxyDatabaseMetaData
[code]

com.zaxxer.hikari.pool.ProxyConnection
[code]

[2021-11-16 05:42] liangxianjin commented on #13631
4.1.1version; 5.0.0 Relevant API changes， can't be changed after trying

[2021-11-16 06:10] penghuazhou commented on #13625
thanks

[2021-11-16 06:10] #13625 closed

[2021-11-16 06:23] penghuazhou commented on #13575
@RaigorJiang, Why there have Atomikos logs when i config like below? Does shardingshpere-proxy use Atomikos to manage Local TRANSACTION?

![image](https://user-images.githubusercontent.com/13001038/141931901-a93ceddb-bf7b-4e12-87e7-a65422a3a541.png)

Thanks for using Atomikos! Evaluate http://www.atomikos.com/Main/ExtremeTransactions for advanced features and professional support
or register at ht

[2021-11-16 06:27] penghuazhou commented on #13621
@sandynz, can you help me? thanks

[2021-11-16 06:55] RaigorJiang commented on #13575
Hi @penghuazhou
Please check your `mode` configuration. If the registry is enabled and `overwrite` is false, then the registry configuration will be used to start the proxy instead of your local configuration file.

[2021-11-16 07:01] menghaoranss commented on #13621
@penghuazhou please set `sql.show` as `true` in server.yaml to print the logic sql and actual sql

[2021-11-16 07:14] penghuazhou commented on #13575
@RaigorJiang, It alse have Atomikos logs, when I disabled registry.

![image](https://user-images.githubusercontent.com/13001038/141937452-bc250b54-2383-497b-aa10-17602e871ebd.png)

[WARN ] 2021-11-16 15:12:40.022 [main] c.a.icatch.provider.imp.AssemblerImp - Th
anks for using Atomikos! Evaluate http://www.atomikos.com/Main/ExtremeTransactio
ns for advanced features and professional support
or reg

[2021-11-16 07:24] penghuazhou commented on #13621
@menghaoranss, my doubt is why client thread stuck when use "tx := db.Begin()". shardingshpere-proxy log is below.

[INFO ] 2021-11-16 15:21:41.528 [Connection-1-ThreadExecutor] ShardingSphere-SQL - Logic SQL: insert into t_order(user_id,order_id,info) values(12,12,'9')
[INFO ] 2021-11-16 15:21:41.528 [Connection-1-ThreadExecutor] ShardingSphere-SQL - SQLStatement: PostgreSQLInsertStatement(withSe

[2021-11-16 07:25] RaigorJiang opened #13638 "[Proposal] Reconsider the definition of `schema` for PostgreSQL."
Hi community,

At present, the terms `database` and `schema` have the same meaning in proxy, which stands for `logical database`.
This is no problem when proxy acts as a proxy for mysql. But in PostgreSQL, schema has another meaning.
For example, each database in PostgreSQL has a default schema `public`, if the table `t_order` is created under the public schema, then:
`select * from t_order` and `

[2021-11-16 07:32] RaigorJiang commented on #13575
OK, I will check it.

[2021-11-16 08:18] RaigorJiang commented on #13575
Hi @penghuazhou ,
Indeed, as you reported, the proxy loads Atomikos, but the actual transaction type used is not affected by this.
You can execute the following statement to query the currently used transaction type:
[code]

[2021-11-16 08:31] zjcnb opened #13641 "Adjust db-discovery mgr existing code structure."
Hi community,

  We think the existing code structure is not clear,and some code are redundancy. For example, `MGRHeartbeatJob.class`, it has some variable need to dynamic change,such as : `primaryDataSourceName` or `disabledDataSourceNames`. But, it's not change. So we are plan to adjust `shardingsphere-db-discovery-mgr` and `shardingsphere-db-discovery-core`.

![image](https://user-images.github

[2021-11-16 08:33] penghuazhou commented on #13575
thanks very mush

[2021-11-16 08:33] #13575 closed

[2021-11-16 08:35] zjcnb commented on #13641
@menghaoranss How about this idea.

[2021-11-16 08:54] #11788 closed

[2021-11-16 09:23] marker-wu commented on #13632
I created the scaling task according to the guide document (https://shardingsphere.apache.org/document/5.0.0/cn/user-manual/shardingsphere-scaling/usage/), but it did not take effect
![image](https://user-images.githubusercontent.com/45256940/141957625-b09e78f0-c713-4b95-9906-5f0c1d049591.png)
![image](https://user-images.githubusercontent.com/45256940/141958043-b2cbfbcf-d722-4463-bf60-1cdec470d8f

[2021-11-16 09:34] #12447 closed

[2021-11-16 09:34] #12517 closed

[2021-11-16 09:38] terrymanu commented on #12548
No response

[2021-11-16 09:38] #12548 closed

[2021-11-16 09:39] terrymanu commented on #12784
No response

[2021-11-16 09:39] #12784 closed

[2021-11-16 09:39] terrymanu commented on #13011
No response

[2021-11-16 09:39] #13011 closed

[2021-11-16 09:40] terrymanu commented on #13066
No response

[2021-11-16 09:40] #13066 closed

[2021-11-16 09:42] terrymanu commented on #12542
We just create the new repo on DockerHub for shardingsphere.
We can close this issue.

[2021-11-16 09:42] #12542 closed

[2021-11-16 09:46] terrymanu commented on #13414
No necessary information, maybe you can follow the template to provide such as version, config file etc.

[2021-11-16 09:46] #13414 closed

[2021-11-16 09:49] terrymanu commented on #13529
No response

[2021-11-16 09:52] terrymanu commented on #13527
What is physical library?

[2021-11-16 10:42] sandynz commented on #13632
Some verification:

1. Are you running version `5.0.0`?

2. Could you paste your current schema rules and rule cache? Register center (e.g. ZooKeeper) path example: `/metadata/sharding_db/rules`, `/metadata/sharding_db/rules/cache/xxx`.

[2021-11-16 10:54] sandynz commented on #13632
There're some not supported scenerios for now, you could try master branch or next release, refer to https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-scaling/usage/

[2021-11-16 10:58] Jiugang commented on #6458
@tristaZero OK, thank you.

[2021-11-16 11:00] marker-wu commented on #13632
yes

/metadata/sharding_db/rules：
- !SHARDING
  bindingTables:
  - t_order,t_order_item
  defaultDatabaseStrategy:
    standard:
      shardingAlgorithmName: database_inline
      shardingColumn: user_id
  defaultTableStrategy:
    none: ''
  keyGenerators:
    snowflake:
      props:
        worker-id: 123
      type: SNOWFLAKE
  shardingAlgorithms:
    database_inline:
      props:
        algor

[2021-11-16 11:31] TeslaCN commented on #12309
I found a way to reproduce this issue:

[code]

[2021-11-16 11:40] zymapp opened #13646 "sharding,sql in(xx,xx,xx,xx,xx,xx) query bug"
Found that the sharding on the in query support is not very friendly, will be half more queries, such as my user_id 1 is divided by the rules in library A table, user_id is divided by rules in the library On Table 2 of B, if you query with user_id in (1, 2), the shelling will perform select on table 1, 2, and table 1 and 2 of Library B, and perform select four times. According to the theory should

[2021-11-16 11:47] TeslaCN commented on #12309
Prepared statement is stateful and it is not shared between sessions.
Refer to https://dev.mysql.com/doc/refman/8.0/en/prepare.html

The prepared statements are shared between connections in ShardingSphere MySQL Proxy.

https://github.com/apache/shardingsphere/blob/b8db81f51e533773a8992c4909cc4f623279a356/shardingsphere-db-protocol/shardingsphere-db-protocol-mysql/src/main/java/org/apache/sharding

[2021-11-16 12:02] walkmiss opened #13648 "How to increase the speed of batch insert with sharding-jdbc？"
I usually use the batchUpdate method of the jdbcTemplate to speed up bulk data writes ，it does pretty good. But after my service import shardingjdbc to sharding，the batchUpdate method of jdbcTemplate becomes very slow, I realize that may be shardingjdbc divede the bulk sql, what can i do to increase the speed of batch insert with sharding-jdbc?

[2021-11-16 14:25] dongzl opened #13650 "Refactor the MySQL DAL showXXX statement‘s showLike & showWhereClause segment."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

Hi, shardingsphere community:

Now, some of MySQL DAL  showXXX statement ha

[2021-11-17 01:40] strongduanmu commented on #13646
@zymapp Can you describe this issue according to the bug issue template?

[2021-11-17 01:51] strongduanmu commented on #13650
@dongzl I think this solution is ok, it can effectively reduce duplication of code.

[2021-11-17 01:52] tuichenchuxin commented on #13648
@walkmiss which version have you used?

[2021-11-17 03:01] CrackerSuperior opened #13653 "Why is the actual executed SQL displayed in the "shardingShpere" log different from the actual SQL executed by MySQL itself?"
version：
  master

shardingSphere log：
[code]

MySQL log:

[code]

Why is the actual executed SQL displayed in the "shardingShpere" log different from the actual SQL executed by MySQL itself?

[2021-11-17 03:02] #13426 closed

[2021-11-17 03:08] CrackerSuperior commented on #13653
And I opened the "Federation" engine, which is a cross-database related query.

[2021-11-17 03:14] strongduanmu commented on #13653
@CrackerSuperior Yes, the logs currently printed are indeed not actually executed SQL. The federation execution engine processes and executes the user's logical SQL internally. We will optimize log printing and output the sql executed inside the federation execution engine.

[2021-11-17 03:23] CrackerSuperior commented on #13653
ok

[2021-11-17 05:35] wsm12138 commented on #12514
[ERROR] 2021-11-17 13:32:33.382 [epollEventLoopGroup-3-47] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.util.ConcurrentModificationException: null
	at java.util.TreeMap$ValueSpliterator.forEachRemaining(TreeMap.java:2908)
	at java.util.stream.AbstractPipeline.copyInto(AbstractPipeline.java:482)
	at java.util.stream.AbstractPipeline.wrapAndCopyInto(AbstractPipeline.java:472)
	at java.uti

[2021-11-17 05:36] wsm12138 commented on #12514
Is this the same type of error reporting ？

[2021-11-17 05:53] menghaoranss commented on #13631
@liangxianjin I couldn't get your point, and there's no more exception info you provide, could you describe what help you want in only one issue?

[2021-11-17 06:07] sandynz commented on #13632
@marker-wu `tables` rule should be not supported in version `5.0.0`, I don't know what's wrong for now.

Seems scaling job config is wrong, there's unknown property `driverClassName`.
Could you paste `/metadata/sharding_db/dataSources` (erase sensitive db ip and password) and `/scaling/6474xxx` value in register center? And also full exception stack trace in log.

[2021-11-17 06:09] TeslaCN opened #13656 "Transaction status incorrect when set autocommit=0 in MySQL Proxy"
## Bug Report

### Which version of ShardingSphere did you use?
master - 3f7a17c572418de3664c9f6747564ffc0902490d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere Proxy

### Expected behavior
Transaction operation succeed.

### Actual behavior
Changes cannot be rollbacked.

### Reason analyze (If you can)

The MySQL JDBC Driver using `set autocommit=0` in

[2021-11-17 06:15] #12309 closed

[2021-11-17 07:08] #13501 closed

[2021-11-17 07:08] #13515 closed

[2021-11-17 07:09] leapcat opened #13657 "Is there a way to support more than one strategies for a same table?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes.
1. We are migrating

[2021-11-17 07:09] liangxianjin commented on #13631
Sry. The data source refresh did not close the link of the old data source and threw an exception. How can we deal with this problem? If there is a good scheme, please give me some advice .

[2021-11-17 07:09] liangxianjin commented on #13631
Sry. The data source refresh did not close the link of the old data source and threw an exception. How can we deal with this problem? If there is a good scheme, please give me some advice .

[2021-11-17 07:14] liangxianjin commented on #13631
Sry. The data source refresh  close the link of the old data source and threw an exception. How can we deal with this problem? If there is a good scheme, please give me some advice . thanks

[2021-11-17 07:43] happy89lgk opened #13658 "implements StandardShardingAlgorithm doSharding doesn't work"
## Bug Report

**For English only**, other languages will not accept.

### Which version of ShardingSphere did you use?
4.0.0-RC2   Upgrade to  5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
 entry doSharding method ,  Insert into the correct table (2021_sys_login_log)
### Actual behavior
No entry doSharding method , Inse

[2021-11-17 07:50] marker-wu commented on #13632
I did not configure the schema and driveClassName attributes
![image](https://user-images.githubusercontent.com/45256940/142157920-9a1573a8-dca5-4dcc-9134-ddcb91e43917.png)
![image](https://user-images.githubusercontent.com/45256940/142157712-496d1e96-aa1f-4ce0-913c-388ec8a5b33e.png)
![image](https://user-images.githubusercontent.com/45256940/142157867-6c9105f1-a487-4e4c-90be-38c9991f9a6c.png)

[2021-11-17 08:07] ningpp opened #13659 "DatabaseTypeRecognizer.getDatabaseType(final DataSource dataSource) return null when SQLException happen"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-17 08:08] liujiling1 opened #13660 "Only sub-database, no table, do not want to configure each table one by one strategy"
To achieve multi-tenancy, the structure of each data source table is completely the same, and there are many tables. I don’t want to configure each table again. Is there a solution?

[2021-11-17 08:23] CrackerSuperior commented on #13660
Do you mean that it only divides the database without dividing the table?

[2021-11-17 08:25] liujiling1 commented on #13660
Yes, can I set a unified default rule without configuring the rules for each table?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月17日(星期三) 下午4:23
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/shardingsphere] Only sub-database, no table, do not want to configure each table one by one strategy (Issue #13660)

Do you mean that

[2021-11-17 08:26] CrackerSuperior commented on #13660
Yes, if your table structure is the same, you only need to configure the default sub-database rules.

[2021-11-17 08:30] CrackerSuperior commented on #13660
like this:
[code]

[2021-11-17 08:35] liujiling1 commented on #13660
I don’t want to configure each table, can I only sub-database, not table.
like this

rules:
  - !SHARDING
#    tables:
#      cst_truck_scale_info:
#        actualDataNodes: ds_${0..1}.cst_truck_scale_info
#    bindingTables:
#      - cst_truck_scale_info
    broadcastTables:
      - sys_city

    defaultDatabaseStrategy:
      hint:
        shardingAlgorithmName: hint_db
    defaultTableStrategy:

[2021-11-17 08:42] sandynz commented on #13632
I reproduced this exception in `StandardJDBCDataSourceConfigurationTest`, new lines is added in `config_standard_jdbc_target.yaml`:
[code]

Caused exception:
[code]
It's caused by `driverClassName` null value.

But I didn't find this case before and don't know why there's `driverClassName: null` in ZK.

[2021-11-17 08:43] sandynz commented on #13632
@menghaoranss Could you help to have a look at this case?

[2021-11-17 08:46] dongzl commented on #13650
@strongduanmu , Thank you for your replay, I will list the statement and refactor them.

[2021-11-17 08:47] CrackerSuperior commented on #13660
This seems impossible. If the table name is not configured, he will treat it as a vertical table and randomly place it in a data source

[2021-11-17 08:52] marker-wu commented on #13632
![image](https://user-images.githubusercontent.com/45256940/142167927-5f860d2c-48d1-4563-9171-7e8972fd5884.png)
I added the handling of the driveClassName attribute, and now it runs normally
![image](https://user-images.githubusercontent.com/45256940/142168259-14534a69-6b07-4853-8f8f-175d3f154d6d.png)

[2021-11-17 09:04] marker-wu commented on #13632
How long will the whole process end?

[2021-11-17 09:15] menghaoranss commented on #13658
Please use `CLASS_BASED` type to configure custom sharding algorithm in 5.0.0 version:
[code]

[2021-11-17 09:19] menghaoranss commented on #13659
@ningpp do you have any suggestions?

[2021-11-17 09:19] penghuazhou commented on #13621
@menghaoranss, can you help me? it is a debug? can it solve in 5.0.1 version?

[2021-11-17 10:02] fenghuarugu opened #13662 "5.0.0-mode fuse"
When I use the orchestration management function of shardingsphere-5.0.0, which word can I write to fuse the database instance? I know that 5.0.0-alpha is written to disable, but I see that the source code of 5.0.0 is written to circuit_ Breaker did not fuse.

[2021-11-17 10:27] menghaoranss commented on #13662
Use DistSQL `[enable / disable] instance IP=xxx, PORT=xxx` to disable or enable the instance.

[2021-11-17 10:29] menghaoranss commented on #13607
I will follow up.

[2021-11-17 10:58] sandynz commented on #13632
Based on your configuration, if you enabled `clusterAutoSwitchAlgorithm` and set `incremental-task-idle-minute-threshold`, it's `30` minutes as following configuration:
[code]

[2021-11-17 11:03] zxbetter opened #13667 "Database route wrong with manual transaction"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-17 11:10] #12374 closed

[2021-11-17 11:22] strongduanmu commented on #13667
@zxbetter Thank you for your feedback, I will investigate this issue.

[2021-11-17 12:29] ningpp commented on #13659
what about throw new IllegalStateException ?

[2021-11-17 14:20] ThisOnly opened #13670 "Execute insert sql, and the sql primary key is negative, the error is: "outside valid range for the datatype BIGINT""
###  version of ShardingSphere: 5.0.0

###  ShardingSphere-Proxy

### Expected behavior
execution succeed

### Actual behavior
'18446744073709548257' in column '1' is outside valid range for the datatype BIGINT.

### Reason analyze:
The primary key type is: bigint
When the sql insert primary key is positive, the execution is correct, if it is negative, the execution is wrong, but no matter whether

[2021-11-18 02:09] happy89lgk commented on #13658
i will try it

[2021-11-18 02:18] fenghuarugu commented on #13662
I tried it yesterday. When I use the following method: use distsql [disable] instance IP = XXX, port = XXX to disable the instance, I can still write data successfully. My version is the latest 5.0.0

[2021-11-18 02:25] menghaoranss commented on #13662
Any exception occurred where you execute `disable instance IP=xxx,port=xxx`?

[2021-11-18 02:29] terrymanu commented on #13657
No, this is the temporary requirement, maybe sacling module can help you to migirate.

[2021-11-18 02:29] #13657 closed

[2021-11-18 03:11] fenghuarugu commented on #13662
There is no exception. When I used 5.0.0-alpha to write disable, the data could not be inserted into the database normally. However, when I used 5.0.0-alpha to write disable, the instance node was ZK deleted, but the data could still be written into the database normally. So is the function of the disable operation in 5.0.0 changed? In the past, the data source was closed, and then the system coul

[2021-11-18 03:17] taojintianxia opened #13674 "got dependency error when compile the project"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-18 03:18] jingshanglu commented on #13670
@ThisOnly can you show more info? like `db type` and `db version` (mysql5.7 or others)

[2021-11-18 03:20] cheese8 commented on #13634
@strongduanmu ye, i know this by reading the source code, and I think the most important thing is the risk problems that all SQL will be parsed which the test can not cover it completely.

[2021-11-18 03:30] fenghuarugu commented on #13662
There is no exception. When I write disable with 5.0.0-alpha, the data cannot be inserted into the database normally, but when I write disable with 5.0.0, the data can still be written into the database normally.

[2021-11-18 05:00] Zhai6319 opened #13675 "After the table splitting policy is configured, it does not take effect, nor does it report an error, and no table splitting processing is performed"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-18 05:39] menghaoranss commented on #13662
JDBC or Proxy? Please describe the steps to reproduce

[2021-11-18 06:04] tuichenchuxin commented on #13465
@strongduanmu I have tried this issue.It's supported now on 5.X

[2021-11-18 06:16] fenghuarugu commented on #13662
It's JDBC. It's not easy to edit here. I wrote the problem back in the following blog post.
https://github.com/apache/shardingsphere/issues

[2021-11-18 07:17] menghaoranss commented on #13662
For JDBC, the `port` is PID, execute `show instance list;` in proxy to get all instance list.

[2021-11-18 07:25] menghaoranss opened #13677 "`show instance list` is not correct"
[code]

For `ShardingSphere-JDBC` instance, `30191` is PID, not `port`, the result may need to be optimized.

[2021-11-18 07:41] fenghuarugu commented on #13662
What happens if you write disabled? What can this function do? If I write disabled when I use the 5.0.0-beta version,. Then the database of this instance will achieve the effect of fusing, that is, I can't perform crud operation. I think this is the correct use scenario. However, after I write disabled in version 5.0.0, I can still perform database crud operation. I have written the problem descri

[2021-11-18 07:45] fenghuarugu commented on #13662
https://blog.csdn.net/yanchi92/article/details/121399075

[2021-11-18 07:51] jiangML opened #13678 "A bug about SingleTableRule in ShardingSphere-Proxy"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-18 07:55] yiyayamaya opened #13679 "Sharding Tables join does not behave as expected"
Hi!

### Which version of ShardingSphere did you use?
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-boot-starter</artifactId>
			<version>4.1.1</version>
		</dependency>
		<dependency>
			<groupId>org.apache.shardingsphere</groupId>
			<artifactId>sharding-jdbc-spring-namespace</artifactId>
			<version>4.1.1</version>
		</dependency>

### Expect

[2021-11-18 08:22] happy89lgk commented on #13658
the config is ok，entry doSharding method 。
but
my project Dynamic table creation，Create a table when me need it ，
now insert 2021_sys_login_log，the table is created，but the log is printed as follows
![image](https://user-images.githubusercontent.com/34465209/142378021-5c29401f-2926-4ec5-bbe2-2ac234ef79ae.png)
Because those tables have not been created (according to other business)，so report errors

[2021-11-18 08:24] happy89lgk commented on #13658
My project is integrated Seata 1.4.2

[2021-11-18 08:28] TeslaCN commented on #11090
The `begin` statement can not be prepared, but the `commit` still can be prepared.
I found this issue can be reproduced by the following code.

[code]

[2021-11-18 08:35] ThisOnly opened #13683 "sql alias is case sensitive"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-18 08:54] strongduanmu commented on #13679
@yiyayamaya Thank you for your feedback, 4.x version does not support non-binding sharding table join query, because there may be cross-database situations.

[2021-11-18 08:57] menghaoranss commented on #13658
It seems seata report the exception, but you may be need to confirm the table is created dynamically through ShardingSphere

[2021-11-18 09:03] zjcnb commented on #13675
@Zhai6319 Hi, I think your configuration are right. Can you support a demo project?  Because, my demo can be sharding normally

[2021-11-18 09:06] tuichenchuxin commented on #13670
I have tried to insert negative id into table with proxy. It's ok. Can you check again?

[2021-11-18 09:10] happy89lgk commented on #13658
Because some tables may not be created, they will be created when necessary. For example, the table I inserted in 2021 enters the dosharding method of the standardshardingalgorithm and obtains 2021_ sys_ login_ Log, but why query sys of other years_ login_ log

[2021-11-18 09:11] happy89lgk commented on #13658
Is this the reason for Seata or sharding?

[2021-11-18 09:14] menghaoranss commented on #13662
please refer : https://shardingsphere.apache.org/document/current/cn/reference/management/

The structure of registry center has been changed in 5.0.0 GA

if you don't use DistSQL, add the instanceId under /status/compute_nodes/circuit_breaker

[2021-11-18 09:23] tuichenchuxin commented on #13683
This sql cannot be executed correctly, so sharding-proxy will not support it either

[2021-11-18 10:01] TianBoss opened #13685 "Support multiple backend database types for new feature of database gateway"
Can you tell me where this demo is?

[2021-11-18 10:47] ThisOnly commented on #13670
![image](https://user-images.githubusercontent.com/41990755/142401270-027eddd0-f271-4079-9e4b-e30bff2488c9.png)
I still have this problem

[2021-11-18 11:00] ThisOnly commented on #13683
![image](https://user-images.githubusercontent.com/41990755/142403091-1f27e960-cbfb-4933-a4c0-39a0df299d97.png)
mysql is executable

[2021-11-18 11:02] menghaoranss commented on #13674
I will try to reproduce.

[2021-11-18 11:08] Zhai6319 commented on #13675
version 5.0.0
![image](https://user-images.githubusercontent.com/29478697/142403886-7c36105d-5af7-4ca9-a321-68ac483360d5.png)
Database specific table
![image](https://user-images.githubusercontent.com/29478697/142403606-c0d9cdaf-c034-4db8-8505-05d82996f960.png)
Specific configuration
![c0eec8078eb36317f8a03918bbbc027](https://user-images.githubusercontent.com/29478697/142403654-b0a16ebc-a8d7-4492-

[2021-11-18 11:11] TeslaCN opened #13688 "BackendConnection#connectionPostProcessors are cleared unexpectedly in ShardingSphere Proxy"
## Bug Report

Related to #11583.

### Which version of ShardingSphere did you use?
master - 8f40f0ca56d1e6f49dbaafee2a686df0cff50b50

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere Proxy

### Expected behavior
No error occurs when benching.

### Actual behavior

[code]

### Reason analyze (If you can)

https://github.com/apache/shardingsphere/blob/9577d

[2021-11-18 11:15] #13678 closed

[2021-11-18 11:54] RaigorJiang commented on #13677
Hi @lanchengx , could you check it?  Thank you!

[2021-11-18 12:01] fenghuarugu commented on #13662
OK, I probably understand. Thank you. Will shardingsphere UI have version 5.0.0ga?, I haven't seen it yet

[2021-11-18 12:26] TeslaCN commented on #13688
![image](https://user-images.githubusercontent.com/20503072/142415114-d9dc372d-1289-4a54-ac22-0e82a094222e.png)

[2021-11-18 12:39] menghaoranss commented on #13685
ShardingSphere integrated Apache Calcite  which can support multiple database types in 5.0.0, still in development.

[2021-11-18 12:53] lanchengx commented on #13677
@RaigorJiang @menghaoranss  please assign to me .

[2021-11-18 13:07] lanchengx commented on #13677
@me
The value of port comes from the node `/status/compute_nodes/online` on zk, could you see the value on `zk`

[2021-11-18 14:19] zhfeng commented on #12771
Well, there is a long disscusion with this issue and two related PR #13187 and #13362 . I'd like to say

- It is a lack of documents to understand the sharding sphere transaction desgin, does anybody point out if I miss it ?
- There is a confusion between ```TransactionType.XA``` and using XA scenario with ```sharding-proxy```.
- It seem that we change the semantics of some transaction statments,

[2021-11-18 14:44] linghengqian opened #13693 "Remove the `digest` attribute under `mode`, which may be more conducive to user configuration"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No.
### Describe the feat

[2021-11-18 15:40] #13550 closed

[2021-11-19 01:19] TianBoss commented on #13685
ok,Thank you for your answer

[2021-11-19 01:36] strongduanmu commented on #13675
Hi @Zhai6319, can you provide sql-show log?

[2021-11-19 01:39] tuichenchuxin commented on #13670
Could you show me your config?

[2021-11-19 01:46] tuichenchuxin commented on #13683
may be is because navicat has optimized.
![image](https://user-images.githubusercontent.com/86938616/142549852-c2f80091-8135-4e91-bc11-a44f5412e9de.png)

[2021-11-19 02:41] ThisOnly commented on #13670
I found the reason: MySQL has enabled the primary key auto-increment situation, and the inserted ID is a negative number, it will cause this problem。

When using primary key auto-increment, the ProxyJDBCExecutorCallback.getGeneratedKeyIfInteger(final Statement statement) method will call resultSet.getLong, which causes this problem；

![image](https://user-images.githubusercontent.com/41990755/1425

[2021-11-19 02:44] menghaoranss commented on #13662
ShardingSphere-UI won't be updated, because `DistSQL` provides more capabilities, including everything the UI can do before.

[2021-11-19 02:46] RaigorJiang commented on #12771
Good advice, looking forward to your voice.

[2021-11-19 02:50] fenghuarugu commented on #13662
Thank you

[2021-11-19 02:54] jingshanglu commented on #12771
good idea，we can also disscussion on https://community.sphere-ex.com/t/topic/367, We can temporarily specify a time, how about this weekend？

[2021-11-19 03:50] Zhai6319 commented on #13675
![image](https://user-images.githubusercontent.com/29478697/142561824-455a533f-1e6a-40f1-97a9-698aa9578976.png)

[2021-11-19 04:05] TeslaCN commented on #13688
![image](https://user-images.githubusercontent.com/20503072/142563081-0f78703a-a475-4aa5-b44d-fce513d0db17.png)
![image](https://user-images.githubusercontent.com/20503072/142563118-a5dff6b1-49a0-44b5-b01f-69603e64d9d1.png)

[2021-11-19 04:14] TeslaCN commented on #13688
![image](https://user-images.githubusercontent.com/20503072/142563829-742608b6-fa1c-4b14-b3dc-9edd11b2c11b.png)

[2021-11-19 04:19] TeslaCN commented on #13688
![image](https://user-images.githubusercontent.com/20503072/142564269-fef266b9-a917-4fe7-8f99-f8b806751604.png)
![image](https://user-images.githubusercontent.com/20503072/142564311-a2d1e817-45a7-408a-9f62-d1c87ac5a73a.png)

[2021-11-19 04:24] TeslaCN commented on #13688
Before release the connectionStatus, the `inTransaction` was `false`. But before changing the `using` to `false`, the `inTransaction` became `true`. Does it mean the `resourceLock` in `connectionStatus` doesn't work?

[2021-11-19 04:36] TeslaCN commented on #11090
Duplicated with #9611.

[2021-11-19 04:36] #11090 closed

[2021-11-19 04:45] Zhai6319 commented on #13675
I configured SQL output, but it didn't work. I can only output the SQL of mybatis plus
![image](https://user-images.githubusercontent.com/29478697/142565362-b18b91b2-ef09-41fd-8dc2-2371b0ea1a0b.png)

The following is the SQL output of mybatis plus. I wonder if the shardingsphere is compatible with mybatis plus or other dependencies

![image](https://user-images.githubusercontent.com/29478697/14256

[2021-11-19 04:48] Zhai6319 commented on #13675
I introduce the configuration in the way below the startup class
![image](https://user-images.githubusercontent.com/29478697/142566512-96ef3fd3-9d2d-4439-9dca-c7598204b766.png)

[2021-11-19 04:51] agoodcoolman commented on #12869
the same question,
use sharding-jdbc-5.0.0

this is my ymal config

`schemaName: sharding_db
mode:
  type: memory
dataSources:
  ds0:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name:
    jdbc-url:
    username:
    password:
  ds1:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    jdbc-url:
    username:
    pass

[2021-11-19 05:16] #9611 closed

[2021-11-19 05:40] strongduanmu commented on #13675
@Zhai6319 I am not familiar with MyBatis Plus. Can you debug to see if ShardingSphereDataSource is successfully injected into your project? Or try to remove MyBatis Plus temporarily?

[2021-11-19 05:51] TeslaCN commented on #13688
I tried delaying the flush and no error occurred.

![image](https://user-images.githubusercontent.com/20503072/142572122-75b9deaf-37f6-43d9-9a4a-aff2f48df277.png)

[code]

[2021-11-19 05:56] TeslaCN commented on #13688
I capture the network by `tcpdump` and the interaction seems normal.

[2021-11-19 06:19] warriorsliuz opened #13698 "SQL statement is not work"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-19 07:24] agoodcoolman opened #13700 "ClassCastException: java.lang.String cannot be cast to org.apache.shardingsphere.infra.yaml.config.pojo.YamlRuleConfiguration error"
## Question
I have searched google.

my spring boot version: 2.5.1
sharding-jdbc version 5.0.0

my ymal config file config-sharding.yaml:
schemaName: sharding_db
[code]

when i use this code, it happen error 。
my code
[code]

[code]

[2021-11-19 07:46] agoodcoolman commented on #13700
modify config.yaml

add
`- !SHARDING `

[code]

[2021-11-19 07:46] #13700 closed

[2021-11-19 08:55] Zhai6319 commented on #13675
@strongduanmu I have provided a demonstration project to @ sphereex in the community wechat group

[2021-11-19 09:38] RaigorJiang opened #13702 "Add DistSQL to trigger table metadata refresh."
Hi community,

We have collected some user requirements.

Such as this issue:
- https://github.com/apache/shardingsphere/issues/11755

\
Now, I plan to add a syntax for refreshing table metadata in DistSQL, so that users can control when to trigger the refresh.
The syntax is as follows:
1. Refresh metadata of all tables:
[code]
2. Refresh metadata of the specified table:
[code]

At the same time,

[2021-11-19 09:54] tuichenchuxin opened #13703 "mysql on duplicate key with `?` missing parameter count"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
execute well

### Actual behavior
[code]
### Actual behavior

[2021-11-19 10:02] xue2lang opened #13704 "【shardingsphere-proxy】Do you have any suggestions on where to bury to get the client IP and schema that want connected to proxy"
## Question

**For English only**, other languages will not accept.

**Do you have any suggestions on where to bury the IP of the client connected to proxy，i want to record the client ip and schema which client wants to connect   in  log**

[code]

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsp

[2021-11-19 10:36] #13688 closed

[2021-11-19 11:07] #13703 closed

[2021-11-19 11:09] #13537 closed

[2021-11-19 11:16] strongduanmu commented on #13675
@Zhai6319 Thank you, I will check this demo.

[2021-11-19 11:20] #13509 closed

[2021-11-19 12:25] Zhai6319 commented on #13675
Thank you

[2021-11-19 13:34] zhfeng commented on #12771
@jingshanglu sure, please send me the invitation (maybe a wechat meeting) and I prefer to the time at night :)

I think we should share the link of the meeting on public if possible and hope the other people  who are concern with this topic could  join the disscusion.

[2021-11-19 14:25] ShiFengCui commented on #13534
assign me please

[2021-11-19 14:39] roodkcab commented on #12771
anytime is ok for me

[2021-11-19 15:03] lanchengx commented on #13582
All tasks are completed

[2021-11-19 15:03] #13582 closed

[2021-11-19 16:06] TeslaCN commented on #13461
Hi @chengh1
Are we done here?

[2021-11-19 16:08] TeslaCN commented on #13438
Hi @syz521 @Jenyow @summer9989
You may download the latest ShardingSphere from https://shardingsphere.apache.org/document/current/en/downloads/ or Maven Central repository.

[2021-11-19 16:08] #13438 closed

[2021-11-19 16:14] TeslaCN commented on #13347
@git-chenhao
Does your stress testing program connect to ShardingSphere Proxy directly? If so, could you show us some codes?
If the ShardingSphere Proxy was connected by Application with DataSource, you may check the configuration of the DataSource.

[2021-11-19 16:15] TeslaCN commented on #13201
Close due to no response.

[2021-11-19 16:15] #13201 closed

[2021-11-19 16:36] TeslaCN commented on #13621
Hi @penghuazhou
I tried the 5.0.0, but I didn't reproduced this issue.
[code]

[2021-11-20 00:35] strongduanmu commented on #13534
@ShiFengCui Assigned.

[2021-11-20 01:14] Zhai6319 commented on #13675
I think I've found the problem

[2021-11-20 01:22] Zhai6319 commented on #13675
I don't understand the configuration of this mode
![41dfef1be1e45f8f3ff933e6de49e0c](https://user-images.githubusercontent.com/29478697/142709085-e2a98db1-6a97-403f-af2f-1ee3ce1b2624.png)

[2021-11-20 01:38] strongduanmu commented on #13675
@Zhai6319 You can close this issue, and submit new issue about mode.

[2021-11-20 01:44] #13675 closed

[2021-11-20 01:53] strongduanmu commented on #13698
@warriorsliuz Can you show more exception info?

[2021-11-20 01:55] Zhai6319 opened #13710 "I don't quite understand the mode concept of spring.shardingsphere.mode configuration."
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

I don't quite understand the mode concept of spring.shard

[2021-11-20 02:36] warriorsliuz commented on #13698
@strongduanmu ：Intellij detailMessages “Error querying database.  Cause: java.sql.SQLException: Error while preparing statement【SELECT dd.FullDateAlternateKey dataTime, IFNULL(rr.innum,0) innum, IFNULL(rr.jkl,0.00) jkl
FROM dimdate dd】“

and the SQL is not work，same problem

[code]

[2021-11-20 02:39] strongduanmu commented on #13698
@warriorsliuz Can you add the necessary information according to the template? For example, your configuration, version, and statements that can reproduce the problem.

[2021-11-20 03:16] roodkcab opened #13711 "table metadata didn't refresh after add column or drop column on table"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
table metadata should be refreshed after alter table

### Actual behavior
when using serverside preparestatement, prepare statement return wrong number of columns after add column or drop column on a t

[2021-11-20 03:25] penghuazhou commented on #13621
It error below.

org.apache.shardingsphere.proxy.frontend.postgresql.err.PostgreSQLErrPacketFactory#createErrorResponsePacket(org.postgresql.util.ServerErrorMessage)
![image](https://user-images.githubusercontent.com/13001038/142712854-f7277704-ed5c-4b61-bc9d-613fe5c9deae.png)

[2021-11-20 04:20] TeslaCN commented on #13621
Hi @penghuazhou
Thanks for your feedback!
My idea is:
1. Change the enum `PostgreSQLMessageSeverityLevel` to a class, refactor each element to String.
2. Change the first parameter's type of `org.apache.shardingsphere.db.protocol.postgresql.packet.generic.PostgreSQLErrorResponsePacket#newBuilder` to `String`, so that we can pass the constants or severity directly to the method and no need to `valu

[2021-11-20 04:41] TeslaCN commented on #13455
Don't worry if you see the log about Atomikos, the Proxy will still use the LOCAL transaction.
I'm closing this due to no response.

[2021-11-20 04:41] #13455 closed

[2021-11-20 05:42] wuguanyu commented on #8240
Caused by: java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;Ljava/lang/Object;Ljava/lang/Object;)V

shardingsphere-jdbc-core-spring-namespace 5.0.0

[2021-11-20 05:47] wuguanyu commented on #8240
@kimmking  Why ShardingSphere 5.x need guava 29.0-jre ?
guava  18.0 also have public static void checkArgument(boolean expression, @Nullable String errorMessageTemplate, @Nullable Object... errorMessageArgs) {

[2021-11-20 05:47] TeslaCN opened #13714 "Rename packages and classes in PostgreSQL Proxy as the PostgreSQL way"
## Refactor

The current packages and classes in PostgreSQL Proxy naming in the MySQL way. We should rename them as the PostgreSQL way.
Such as:
- `binary statement` -> `prepared statement`
- `text protocol` -> `simple query`
- `binary protocol` -> `extended query`

[2021-11-20 06:06] wuguanyu opened #13716 "exception is java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;Ljava/lang/Object;Ljava/lang/Object;)V"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-20 06:31] RaigorJiang commented on #13455
I would like to add that users can view the currently used transaction type through `show variable transaction_type`.

[2021-11-20 06:32] wuguanyu commented on #13716
<guava.version>29.0-jre</guava.version>

        <guava.version>18.0</guava.version>

[2021-11-20 06:42] #13714 closed

[2021-11-20 08:01] zjcnb commented on #13710
@Zhai6319 Hi, you can look this. https://shardingsphere.apache.org/document/5.0.0/en/concepts/mode/

[2021-11-20 08:30] zjcnb commented on #13716
@wuguanyu Hi, you can change <guava.version>18.0</guava.version> to <guava.version>21.0</guava.version>.

[2021-11-20 10:02] warriorsliuz commented on #13698
I find this problem
`org.apache.calcite.sql.validate.SqlValidatorException: No match found for function signature IFNULL(<NUMERIC>, <NUMERIC>)`
ifnull is not support？

[2021-11-20 10:12] wuguanyu commented on #13716
I change guava.version to 29.0-jre it work. but i can not confirm it maybe influence other function for example elastic-job-lite, or other aliyun sdk

[2021-11-20 11:46] fyname opened #13718 "NoSuchBeanDefinitionException: No qualifying bean of type 'org.apache.shardingsphere.infra.config.mode.ModeConfiguration'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-20 12:50] jingshanglu commented on #12771
Maybe we should define several topics and then determine the online meeting time. what topics shall we discuss?

[2021-11-20 13:40] zhfeng commented on #12771
yeah, I'd like to propasal the following

- With XA scenario in sharding-proxy, what should we support ? sharding-proxy needs to be the same behavior as a single XA resource ?
- Make sure about the difference between ```TransactionType.XA``` and ```XA Support```
- Review the current implementation of transation support in sharding-proxy
- How to test the XA scenarioes

feel free to share the ideas

[2021-11-21 01:31] fyname opened #13719 "No qualifying bean of type 'org.apache.shardingsphere.infra.config.mode.ModeConfiguration'"
### Which version of ShardingSphere did you use?
version: 5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
use: ShardingSphere-JDBC

### Expected behavior

### Actual behavior

### Reason analyze (If you can)

error:
java.lang.IllegalStateException: Failed to load ApplicationContext

	at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate

[2021-11-21 01:48] #13718 closed

[2021-11-21 01:48] fyname commented on #13718
Resubmit Issue

[2021-11-21 03:59] roodkcab commented on #13711
should use cluster mode.
add flowing config in server.yaml
[code]
solve the problem

[2021-11-21 03:59] #13711 closed

[2021-11-21 04:07] roodkcab commented on #13710
yes it must be.

table metadata, i.e. structure/index is stored in etcd or anyother repositories configured in server.xml when mode is cluster. when add / drop column of a table, metadata should be refreshed, or you will get wrong metadata when execute PrepareStatement.

Nacos is supported by shardingsphere

[2021-11-21 04:23] roodkcab commented on #12771
@zhfeng do you mean we can support different type of backend connection in a XA transaction? for example, we can start a XA transaction in MySQL, together with another one in Postgres or Oracle and even a connection on MQ?

definitely we should

this is also a proposal I'd like to discuss. I don't think mock is a good choice for such scenario.

[2021-11-21 05:30] jingshanglu commented on #12771
On November 27th, I booked a tencentmeeting. We can prepare the agenda and then have some discussion.
url:https://meeting.tencent.com/dm/eYpab4935SQr

[2021-11-21 05:30] strongduanmu commented on #13698
@warriorsliuz This bug is duplicated with issue #12049, and we will support it soon.

[2021-11-21 06:35] taojintianxia opened #13720 "(XAER_RMFAIL: The command cannot be executed when global transaction is in the ACTIVE state) for query 'COMMIT'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-21 06:36] zjcnb commented on #13719
@fyname You can change bootstrap.yml to application.yml and remove @ActiveProfiles("sharding") in OrderSpringBootTests.calss.

[2021-11-21 10:02] penghuazhou commented on #13621
@TeslaCN Can you review my pull request?
https://github.com/apache/shardingsphere/pull/13723

[2021-11-21 10:58] terrymanu opened #13724 "Update document with new props"
Add document with new props of `sql-cache-initial-capacity, sql-cache-maximum-size, sql-cache-concurrency-level`.

Related with #13722

[2021-11-21 11:14] totalo commented on #13724
Please assign it to me, I will improve the document.

[2021-11-21 11:53] totalo opened #13725 "Consider about add parser rule in kernel layer"
refer #13722.

In the process of reading the code, I found that some parsing rule configurations are still hard-coded in the code, and there are enough parsing-related configurations so that we can extract them and assemble them into a parse rule.
such as `sql-comment-parse-enabled`, sqlStatementCache option and parse tree cache option, and more about parse.

after extract:
[code]
todo list:

- [x

[2021-11-21 12:29] #13716 closed

[2021-11-21 12:55] zhfeng commented on #12771
Thanks @jingshanglu and please share this link of meeting in public places. e.g. shardingsphere mailing-list, sphere-ex forum. I'm looking forward to meet with all of you. @roodkcab can you share with your usecase in php for XA ?

[2021-11-22 01:03] Zhai6319 commented on #13710
@roodkcab Thank you for your answer, but there is no detailed configuration explanation about Nacos on the official website

[2021-11-22 01:21] #13724 closed

[2021-11-22 01:28] fyname commented on #13719
hello
update  bootstrap.yml to application.yml and remove @activeprofiles("sharding") in OrderSpringBootTests

New mistakes appear：
Caused by: org.apache.shardingsphere.spi.exception.ServiceProviderNotFoundException: No implementation class load from SPI `org.apache.shardingsphere.sharding.spi.ShardingAlgorithm` with type `null`.
	at org.apache.shardingsphere.spi.typed.TypedSPIRegistry.getRegister

[2021-11-22 01:33] strongduanmu commented on #13698
Duplicated with issue #12049.

[2021-11-22 01:33] #13698 closed

[2021-11-22 01:38] tuichenchuxin commented on #13670
Is a config problem or a bug?

[2021-11-22 01:55] TeslaCN commented on #13621
That was quick! I have some comments in your PR, please take a look.

[2021-11-22 01:57] fengaixue opened #13728 "ShardingSphere-jdbc 5.0 连接oracle时，insert into语句 SQL解析会报错"
5.0.0 oracle 普通的insert into 语句为什么不能解析通过??

[https://gitee.com/Sharding-Sphere/sharding-sphere/issues/I4IPJQ](url)

[2021-11-22 02:01] strongduanmu commented on #13728
@fengaixue Can you translate this issue to english? And provide more information?

[2021-11-22 02:05] fyname commented on #13719
hello
update bootstrap.yml to application.yml and remove @activeprofiles("sharding") in OrderSpringBootTests

New mistakes appear：
Caused by: org.apache.shardingsphere.spi.exception.ServiceProviderNotFoundException: No implementation class load from SPI org.apache.shardingsphere.sharding.spi.ShardingAlgorithm with type null.
at org.apache.shardingsphere.spi.typed.TypedSPIRegistry.getRegisteredServ

[2021-11-22 02:21] TeslaCN commented on #13704
Hi @xue2lang
I think the location in your idea is fine.

[2021-11-22 02:26] zjcnb commented on #13719
[code]

Replace your configuration.

[2021-11-22 02:26] TeslaCN commented on #13720
Hi @taojintianxia
Could you check if you branch contains the following commit.
- https://github.com/apache/shardingsphere/pull/13682
- https://github.com/apache/shardingsphere/pull/13697

[2021-11-22 02:31] TeslaCN commented on #13710
Hi @Zhai6319
The Nacos is supported in ShardingSphere 4.x and is no longer supported since 5.0.

[2021-11-22 02:31] strongduanmu commented on #13667
@zxbetter Sorry for the late reply, this problem is indeed a bug in version 5.0.0, but the master branch has fixed this problem, welcome to help test and feedback.

[2021-11-22 02:32] strongduanmu commented on #13667
This bug has been fixed in master branch.

[2021-11-22 02:32] #13667 closed

[2021-11-22 02:38] taojintianxia commented on #13720
after test, fixed in that PR

[2021-11-22 02:38] #13720 closed

[2021-11-22 02:39] TeslaCN commented on #13720
Duplicated with #9611.

[2021-11-22 04:34] fengaixue commented on #13728
Executor SQL: insert into t_order(id,user_id) values(1,1)

SQLParsingException : You hava an error in your SQL syntax

[2021-11-22 04:57] fengaixue commented on #13728
Debug info: OracleStatementParser.insertSingleTable()

switch case not match !!!  throw  NoviableAltException...

[2021-11-22 04:58] fengaixue commented on #13728
Debug info: OracleStatementParser.insertSingleTable()

switch case not match !!!  throw  NoviableAltException...

[2021-11-22 05:09] lwclover opened #13730 "JDBCBackendDataSource.createConnection occurs NullPointException when changing datasource metadata"
Before report a bug, make sure you have:

NullPointException occurs when changing datasource metadata and executing sql at sametime.

Create connection code below:
[code]
ProxyContext.getInstance().getContextManager().getTransactionContexts().getEngines().get(schemaName) may be null, causes NullPointException.

Change datasource metadata code below:
[code]
The correct way is overriding ShardingSph

[2021-11-22 05:36] tuichenchuxin opened #13732 "postgresql comment parse error"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
[code]
can be parsed
### Actual behavior
Error
### Reason analyze (If you can)
comment lexer error.

[2021-11-22 05:47] #13710 closed

[2021-11-22 05:56] #13732 closed

[2021-11-22 06:18] ThisOnly commented on #13670
a bug

[2021-11-22 06:19] ThisOnly commented on #13670
When the primary key has a value, sharding should not call the method of primary key auto-increment

[2021-11-22 06:41] ThisOnly opened #13734 "Error named Chinese after as in sql statement"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-22 06:45] fengaixue commented on #13728
Already&nbsp;provided,&nbsp;&nbsp;I think it's enough !!!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月22日(星期一) 上午10:02
***@

[2021-11-22 07:00] ThisOnly commented on #13683
![image](https://user-images.githubusercontent.com/41990755/142817369-de137f82-f055-4cb7-93b0-03c73c062896.png)
mysql can execute this sql；
mysql version: 5.7.10

[2021-11-22 07:14] penghuazhou commented on #13621
@TeslaCN，when will 5.0.1 publish?

[2021-11-22 07:20] #13730 closed

[2021-11-22 07:30] tuichenchuxin commented on #13683
@ThisOnly I found this document, better use same case.
 https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html
![image](https://user-images.githubusercontent.com/86938616/142820794-b57d24f1-af0e-4c57-897c-27963f7141f7.png)

[2021-11-22 07:38] roodkcab commented on #12771
no problem, I'll create a gist for u later

[2021-11-22 07:54] strongduanmu commented on #13734
Hi @ThisOnly, thank you for your feedback, can you provide more exception info?

[2021-11-22 08:10] zjcnb opened #13736 "Execute alter READWRITE_SPLITTING rule command error"
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

alter READWRITE_SPLITTING rule successful.

### Actual behavior

[code]

`DistSQL: `

[code]
`Configuration:`

[code]

[2021-11-22 08:11] zjcnb commented on #13736
@lanchengx Can you help me look this?

[2021-11-22 08:18] lanchengx commented on #13736
@zjcnb  I will solve this problem， @RaigorJiang  Please assign to me.

[2021-11-22 08:23] RaigorJiang commented on #13736
Assigned, thank you!

[2021-11-22 09:20] zjcnb opened #13737 "Execute show readwrite_splitting rules from database_discovery_db command, result not right."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Actual behavior

show right static Readwrite Splitting Rules And Dynamic Readwrite Splitting Rules

### Expected behavior

![image](https://user-images.githubusercontent.com/33742097/142834241-6b9c7b98-b7e7-43fa-b8ab-a8cf8296ba35.png)

[2021-11-22 09:34] #13621 closed

[2021-11-22 09:38] TeslaCN commented on #13621
I don't know the exact time. You may open another issue or send an e-mail to ShardingSphere mailing list to ask about the next release.

[2021-11-22 09:56] penghuazhou commented on #13621
thanks

[2021-11-22 09:56] penghuazhou opened #13738 "When will 5.0.1 publish?"
When will 5.0.1 publish?

[2021-11-22 10:29] xfzhaoGit opened #13739 "whether to support query information_schrma？sharding-jdbc5.0.0"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-22 10:31] xfzhaoGit commented on #13739
![Uploading EBEDD196-C04B-4934-B148-34BBAB70BD92.jpeg…]()

[2021-11-22 10:35] ThisOnly commented on #13734
![image](https://user-images.githubusercontent.com/41990755/142846426-3ac5ca17-304d-4695-81bd-e2c48cb7ebc1.png)

[2021-11-22 11:43] #13533 closed

[2021-11-22 11:46] menghaoranss commented on #13738
Do you have any problems with version 5.0.0?

[2021-11-22 11:49] menghaoranss commented on #13662
@fenghuarugu welcome, would you mind closing  this issue?

[2021-11-22 11:54] penghuazhou commented on #13738
I want use 5.0.1 in product environment because 5.0.1 have fixed some bugs.

[2021-11-22 12:10] ThisOnly commented on #13683
OK, thanks

[2021-11-22 12:10] #13683 closed

[2021-11-22 14:34] RaigorJiang commented on #13739
Hi @xfzhaoGit
ShardingSphere-JDBC does not yet support querying information_schrma.
By the way, your picture cannot be displayed, can you describe your scene?

[2021-11-22 14:47] xfzhaoGit commented on #13739
There is a scenario in my project to determine whether the database table exists, I need to use the information_schema database, but shardingsphere reports an error message, and the information_schema does not exist。

[2021-11-22 14:47] xfzhaoGit commented on #13739
![Uploading B859C907-C0BD-46D0-A594-17AFEC1303BF.jpeg…]()

[2021-11-22 14:48] xfzhaoGit commented on #13739
![Uploading DCB4ACCF-89C7-4BD8-A8D8-751FB4A8B0D6.jpeg…]()

[2021-11-22 14:56] RaigorJiang commented on #13739
Because ShardingSphere uses logical schemas and  logical tables to handle distributed tasks.
Can `show databases` and `show tables` meet your requirements?

[2021-11-22 14:58] terrymanu commented on #13425
We need to translate it to Chinese.
Any one what to try this task?

[2021-11-22 15:17] xfzhaoGit commented on #13739
for queries like this I try not to use sharding, is there a similar configuration?

[2021-11-22 15:24] RaigorJiang commented on #13739
No, because information_schrma is not a logical database, ShardingSphere does not know which actual node the user wants to query.

[2021-11-22 16:41] xfzhaoGit commented on #13739
In my project, I use single database and partial table sharding, and  I dont think sharding is used for the query and other operation of non-sharded tables. Is there an example of this?

[2021-11-23 00:34] #13534 closed

[2021-11-23 00:38] yx9o commented on #13425
@terrymanu @RaigorJiang I can do it.

[2021-11-23 01:01] fyname commented on #13719
HI

Custom SPI not called found
The shardingwehre interface is not introduced, the call is normal, and the data is saved to MySQL
The SQL exception occurred in the configuration after reference is as follows:

org.springframework.dao.TransientDataAccessResourceException:
### Error updating database.  Cause: java.sql.SQLException: Parameter index out of range (1 > number of parameters, which is 0).

[2021-11-23 01:08] #13143 closed

[2021-11-23 01:10] strongduanmu commented on #13599
Fixed by pr #13629.

[2021-11-23 01:10] #13599 closed

[2021-11-23 01:24] RaigorJiang commented on #13425
Thank you @yx9o .

[2021-11-23 01:26] RaigorJiang commented on #13739
The non-sharding tables does not need to be configured, ShardingSphere will recognize them. You can see those tables through `show tables`.

[2021-11-23 01:49] tuichenchuxin commented on #13728
I use the same sql, it can parsed. Can you show me a demo to try?

[2021-11-23 01:50] tuichenchuxin commented on #13725
+1

[2021-11-23 02:04] fengaixue commented on #13728
Don't use unit tests！Combining with the druid-spring-boot-starter(1.2.6)、ojdbc8(12.2.0.1) and mybatis-spring-boot-starter(1.3.2)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"

[2021-11-23 02:10] tuichenchuxin commented on #13728
Parser is an independent model. If it's a parse error, may the actual sql is not that simple.

[2021-11-23 02:23] fengaixue commented on #13728
4.1.1&nbsp;it can parsed，5.0.0&nbsp;can`t&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月23日(星期二) 上午10:11
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/shardingsphere] ShardingSphere-jdbc 5.0 连接oracle时，insert into语句 SQL解析会报错 (Issue #13728)

Parser is an independent model. If it's a parse error, may the actual sql is not

[2021-11-23 02:58] menghaoranss commented on #13738
@penghuazhou Thanks for your attention. We will plan to release 5.0.1 in about a month.

[2021-11-23 03:01] menghaoranss commented on #13693
@linghengqian Thank for your feedback, does it work now when you configure the permissions in `server-lists`?

[2021-11-23 03:06] linghengqian commented on #13693
Yes, it is normal to configure `ACL` information in the `server-lists`.

[2021-11-23 03:50] xfzhaoGit commented on #13739
ok thanks

[2021-11-23 03:56] xsong123 opened #13747 "“case when” sql is by rewrited, then ORDER_BY_DERIVED is added and blank space[' '] miss"
shardingsphere version 5.0.0

[code]

[2021-11-23 04:15] menghaoranss opened #13749 "MGRDatabaseDiscoveryTypeTest run failed with jdk 17"
[code]

[2021-11-23 04:34] fenghuarugu commented on #13662
I'm sorry, I forgot to close the operation

[2021-11-23 04:34] #13662 closed

[2021-11-23 08:04] #13749 closed

[2021-11-23 08:10] xsong123 commented on #13747
override method getText() in class[ExpressionOrderByItemSegment]

package org.apache.shardingsphere.sql.parser.sql.common.segment.dml.order.item;

import lombok.Generated;
import org.apache.shardingsphere.sql.parser.sql.common.constant.OrderDirection;
import org.apache.shardingsphere.sql.parser.sql.common.segment.dml.expr.ExpressionSegment;
import org.apache.shardingsphere.sql.parser.sql.common.se

[2021-11-23 08:55] fyname opened #13754 "updating database. Cause: java.sql.SQLException: Parameter index out of range (1 > number of parameters, which is 0)."
Which version of ShardingSphere did you use?
version: 5.0.0

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
use: ShardingSphere-JDBC

Expected behavior
Actual behavior
Reason analyze (If you can)

Custom SPI not called found
The shardingwehre interface is not introduced, the call is normal, and the data is saved to MySQL
The SQL exception occurred in the configuration afte

[2021-11-23 08:55] fyname commented on #13719
config yml is ok

[2021-11-23 08:55] fyname commented on #13719
config yml is ok

[2021-11-23 08:55] #13719 closed

[2021-11-23 11:01] strongduanmu commented on #13747
@xsong123 Thank you for your feedback, I will investigate this issue.

[2021-11-23 12:10] menghaoranss opened #13758 "Add more unit tests for ContextManager"
- [ ] addSchema
- [ ] deleteSchema
- [ ] addResource
- [ ] alterResource
- [ ] dropResource
- [ ] alterRuleConfiguration
- [ ] alterDataSourceConfiguration
- [ ] alterSchema
- [ ] alterGlobalRuleConfiguration
- [ ] alterProps
- [ ] reloadMetaData

[2021-11-23 12:11] #13739 closed

[2021-11-23 12:15] RaigorJiang commented on #13425
Done, thank you all.

[2021-11-23 12:15] #13425 closed

[2021-11-23 13:20] strongduanmu opened #13759 "SQL parse error when execute sql with mysql keyword"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

select statement parse successfully

[code]

### Actual behavior

![image](https://user-images.githubusercontent.com/10829171/143030879-984ca62a-2433-44ce-bb29-1630d22002ca.png)

### Reason analyze

[2021-11-23 13:27] zjcnb commented on #13754
@fyname Hi, Let 's me check it.

[2021-11-23 13:59] linghengqian commented on #13693
@menghaoranss
I'm sorry to raise such an issue... I found that I couldn't reproduce this operation in `server-lists` on another machine, and the error in `input string` was also prompted. I realized that it might be because of the old machine,the `volumes` was not cleaned up, which caused him to connect to `zookeeper` normally. In fact, the encapsulation of `curator` by `shardingsphere` does not s

[2021-11-23 14:00] #13693 closed

[2021-11-24 00:24] #12464 closed

[2021-11-24 01:18] tuichenchuxin commented on #13759
Ok, I'll investigate these keywords.

[2021-11-24 02:11] shankeerthan-kasilingam commented on #13758
Would like to pick up this ticket.

[2021-11-24 02:11] shankeerthan-kasilingam commented on #13758
Would like to pick up this ticket.

[2021-11-24 02:17] strongduanmu commented on #13758
@shankeerthan-kasilingam Welcome, I have assign this issue to you.

[2021-11-24 02:22] oulexue opened #13762 "multi-table union query, do I need to specify all table strategy"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
when i use the hint strategy  in a JOIN sql，the routing is incorrect。 Here's the code：

            hintManager.addDatabaseShardingValue("voucher","0");
            hintManager.addDatabaseShardingValue("account

[2021-11-24 02:58] soulasuna opened #13764 "Add SkyWalking APM-SDK-plugin for ShardingSphere, to complete tracing context propagation"
Hi community,

I am very happy to bring you good news that the [CyborgFlow](https://github.com/SphereEx/CyborgFlow) project has been officially available.

Welcome to download and use [release page](https://github.com/SphereEx/CyborgFlow/releases):

Many thanks to @mrproliu from SkyWalking and @tzssangglass from APISIX for their contributions.

But we cannot yet complete the support for the topolo

[2021-11-24 03:20] strongduanmu commented on #13762
@oulexue Can you provide the sharding configuration and sql-show log?

[2021-11-24 03:33] oulexue commented on #13762
![image](https://user-images.githubusercontent.com/26663469/143169836-74b31495-0ab2-4884-80b7-79f68d8eec3a.png)
![image](https://user-images.githubusercontent.com/26663469/143169989-eb7a492e-5baf-42ab-9c65-08fa4c5ebdb8.png)

this is the configuration and actual SQL

[2021-11-24 03:35] oulexue commented on #13762
Only the repository where the voucher resides is routed

[2021-11-24 03:52] oulexue commented on #13762
hintManager.addTableShardingValue("account","1");
            hintManager.addTableShardingValue("voucher","0_2022");

            hintManager.addDatabaseShardingValue("voucher","0");
            hintManager.addDatabaseShardingValue("account","1");

[2021-11-24 03:54] totalo commented on #13725
好的，我会推进这项工作

[2021-11-24 03:55] oulexue commented on #13762
Actually, they're supposed to be in a same database. I kept them separate

[2021-11-24 07:17] jasper520 opened #13769 "When executing the SQL created by obtaining the table, the value cannot be obtained. The SQL is show create table sys_log"
show create table sys_log cannot get the value of the query

[2021-11-24 07:48] tuichenchuxin opened #13771 "Design sql comment hint feature"
Hi, community.
I plan to add sql commnet hint feature. If you have some ideas, please discuss with me.
## Previous function of HintManager
- Hint used by java api
- Hint can be used in sharding rule to get sharding value and do sharding by the althgrim created by user.
- Hint can use to route to master database node.
## SQL hint expect
- hint by sql comment
- user-specified routing result
## Desig

[2021-11-24 07:52] majian-spc opened #13772 "5.0.0---Querying data from multiple tables results in null pointers"
## Question

`### Error querying database.  Cause: java.lang.NullPointerException
### The error may exist in cn/ca/matrix/lra/server/dao/mapper/cert/BaseCertificateMapper.java (best guess)
### The error may involve cn.ca.matrix.lra.server.dao.mapper.cert.BaseCertificateMapper.selectByExample_COUNT
### The error occurred while handling results
### SQL: SELECT count(0) FROM T_OPS_CA_CERTIFICATE WHER

[2021-11-24 07:55] RaigorJiang commented on #13772
Hello @majian-spc ,
for English only, please translate the title, thank you

[2021-11-24 08:02] strongduanmu commented on #13772
Hi @majian-spc Can you submit an issue according to the bug template? From your issue, I can't get any meaningful information.

[2021-11-24 08:07] strongduanmu commented on #13762
@oulexue Since you configured `account` and `voucher` as binding tables, when routing, a table is randomly selected for routing. But judging from your configuration, their sharding rules are different, so they cannot be configured as a binding table.

[2021-11-24 08:15] strongduanmu commented on #13769
Hi @jasper520, Can you submit an issue according to the bug template?

[2021-11-24 08:22] strongduanmu commented on #13545
Long time no response.

[2021-11-24 08:22] #13545 closed

[2021-11-24 08:43] #13747 closed

[2021-11-24 08:49] zjcnb commented on #13754
@fyname

[code]

`change to:`

[code]

[2021-11-24 08:57] jasper520 commented on #13769
[code]

![image](https://user-images.githubusercontent.com/37660035/143205786-8a3371dd-6230-45d1-8b9a-24e7f2b94976.png)

sql：@SqlParser(filter = true)
	@Select("show create table sys_log")
	Map selectTableCreateSql2(@Param("tableName") String tableName);

I want to obtain the creation SQL of the table through this SQL, which can be obtained directly when using mybatis plus, but not when using shar

[2021-11-24 09:04] strongduanmu commented on #12535
[code]

[2021-11-24 09:51] xsong123 opened #13774 "shardingsphere-test-common"
shardingsphere-test-common version 5.0.0
not found from maven;
src package error:
[ERROR] Failed to execute goal on project shardingsphere-jdbc-core: Could not resolve dependencies for project org.apache.shardingsphere:shardingsphere-jdbc-core:jar:5.0.0: Failure to find org.apache.shardingsphere:shardingsphere-test-common:jar:5.0.0 in https://repo.maven.apache.org/maven2 was cached in the local re

[2021-11-24 09:53] Bpazy opened #13775 ""DISTINCT not support"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-24 10:02] menghaoranss commented on #13758
@shankeerthan-kasilingam welcome

[2021-11-24 10:36] strongduanmu commented on #12535
@kkoobee Can you provide hint algorithm?

[2021-11-24 11:14] strongduanmu commented on #13441
After some discussion, we decided to rename `shardingsphere-infra-optimize` to `shardingsphere-infra-federation` and add two submodules `shardingsphere-infra-federation-optimizer` and `shardingsphere-infra-federation-executor` , which correspond to query optimization and optimization execution.

[code]

The new module dependency is as follow:

![image](https://user-images.githubusercontent.com/108

[2021-11-24 11:31] CheerwayRen commented on #13423
How do you configure and display the actual SQL，I configured sql-show, but it didn't work

[2021-11-24 12:06] menghaoranss commented on #13774
how could it be reproduced?

[2021-11-24 12:08] menghaoranss commented on #13775
@Bpazy  Please use the template above to explain your problem.

[2021-11-24 12:20] Bpazy commented on #13775
butterfingers. sorry about the mess.

[2021-11-24 12:20] #13775 closed

[2021-11-24 21:23] Liangda-w commented on #12465
@strongduanmu yes, I'm interested in this issue and can take it over if @sangeethapradeep is no longer working on this:)

[2021-11-25 00:32] strongduanmu commented on #12465
Hi @Liangda-w I have assign this issue to you, and you can work on this now.

[2021-11-25 01:34] HCTzz opened #13783 "shardingsphere 4.1.1 or 5.0.0 and seata 1.4.2 commit rollback error"
Which version of ShardingSphere did you use?
5.0.0 or 4.1.1

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

Expected behavior
Seata transaction should work as expected.

Actual behavior
commit or rollback NPE

![微信图片_20211125091509](https://user-images.githubusercontent.com/24837684/143334733-da8c0855-2990-4ea0-8d69-f97563b07fe2.JPG)

steps to Reproduc

[2021-11-25 01:39] fyname commented on #13754
thanks  config update success

[2021-11-25 01:39] fyname commented on #13754
thanks config update success

[2021-11-25 01:39] #13754 closed

[2021-11-25 02:04] CrackerSuperior opened #13785 "Since "calcite" is used, just to "filter data"?"
Version：
  master

Doubt：
  We noticed that in the "Federation" engine, "Calcite" is used, but "Calcite" is only used to "filter data". In cross-database related queries, "Calcite" is not used to optimize SQL, predicate pushdown, etc. , But very rudely to search all the records, and then use "Calcite" to filter the data, whether this is not very friendly to the table related query with a huge amou

[2021-11-25 02:40] strongduanmu commented on #13785
@CrackerSuperior Yes, as you said, the federation execution engine currently has a lot to be optimized, and it is currently an experimental version. We are trying to integrate ShardingSphereOptimizer into the process to optimize and reduce the data loaded into memory.

[2021-11-25 02:47] menghaoranss commented on #13783
@jingshanglu could you have a look here?

[2021-11-25 03:07] CrackerSuperior commented on #13785
nice!Thank you for your answer

[2021-11-25 03:07] #13785 closed

[2021-11-25 03:20] oulexue commented on #13762
thanks ，i get it

[2021-11-25 04:09] zjcnb opened #13790 "Add check in logicTableName are exist actualDataNodes."
Hi, community

refer to #13754.

I think need to add check in logicTableName are exist actualDataNodes. In order to more obvious prompt users。

![image](https://user-images.githubusercontent.com/33742097/143378236-62df8ef4-3171-4d66-b6b6-fe82a763c076.png)

[2021-11-25 04:28] #13790 closed

[2021-11-25 05:24] jingshanglu commented on #13783
@HCTzz  Can you give a demo? I'll check it

[2021-11-25 06:31] xsong123 opened #13791 "create table error"
mysql version 5.7
shardingsphere version 5.0.0
datasource has 2(ds_0,ds_1)

sql:
create table if not exists assetportfoliostructure_fb2109112331 (
id bigint comment '唯一标识' primary key,
portfoliocode varchar(32) null comment '资产池代码',
...
key `idx_aps_pc_ac` (portfoliocode,assetcode) using btree
) engine=innodb character set = utf8mb4 collate = utf8mb4_bin comment='组合结构_项目表';

error:
com.mysql.jdbc.

[2021-11-25 06:52] Comven commented on #13772
In my case, NullPointerException appears when sorting the query result set .I don't know if it belongs to the same problem  #13544

[2021-11-25 06:58] strongduanmu commented on #12535
sharding config file:

[code]

hint algorithm:

[code]

I tested the above configuration, but no exception occur. Hint doesn't seem to work, and the query SQL is executed by the federation execution engine rather than kernel.

[code]

[2021-11-25 08:02] zjcnb commented on #13791
@xsong123 Hi, Can your provider your configuration?

[2021-11-25 08:32] tuichenchuxin opened #13792 "Add unsupported sql for shardingsphere"
Hi, community.
We want to improve the support of sql parse.
It's a good first issue to contribute to shardingsphere.
## How to contribute
- Just found sql not supported and Then add to this [file](https://github.com/apache/shardingsphere/blob/master/shardingsphere-test/shardingsphere-parser-test/src/main/resources/sql/unsupported/unsupported.xml)
## Skills
- None
## How to find sql not supported
-

[2021-11-25 08:35] princess-yanyan opened #13793 "config query-with-cipher-column="false" rewrite sql is not correct"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-11-25 08:38] princess-yanyan commented on #13793
I mean when query-with-cipher-column="false", 1 and 3 all should card_no (plain column)

[2021-11-25 08:45] strongduanmu commented on #13793
@princess-yanyan Thank you for your feedback. I see you are using the table-level `query.with.cipher.column` parameter, which is great. And I will investigate this issue.

[2021-11-25 09:22] wuguanyu commented on #13793
<xsd:schema xmlns="http://shardingsphere.apache.org/schema/shardingsphere/encrypt"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://shardingsphere.apache.org/schema/shardingsphere/encrypt"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework

[2021-11-25 09:23] wuguanyu commented on #13793
@princess-yanyan Can you try rule level ？

[2021-11-25 09:24] TeslaCN opened #13795 "Consider providing a dependency management POM"
## Feature Request

### Is your feature request related to a problem?
Managing project's dependencies is a tedious work.

### Describe the feature you would like.

Consider providing a pom `shardingsphere-dependencies` like the following one.
[code]

[2021-11-25 09:26] wj-li opened #13796 "Query database report NullPointerException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-25 09:33] strongduanmu commented on #13793
As @wuguanyu said, you can use the rule-level `query.with.cipher.column` parameter. The `query.with.cipher.column` parameter at the table level is a new feature. I just tested it and there are indeed some rewriting problems. I will fix this as soon as possible.

[2021-11-25 09:36] wuguanyu commented on #13793
@strongduanmu ruleLevel or tableLevel  query.with.cipher.column ,Does it have priority？

[2021-11-25 09:39] SpriderMan opened #13797 "为什么CONNECTION_STRICTLY不用加锁，MEMORY_STRICTLY要加锁？"
![image](https://user-images.githubusercontent.com/18304842/143417049-0b5d457b-c77f-4288-9acf-45b455ec4ce0.png)

[2021-11-25 09:39] strongduanmu commented on #13793
@wuguanyu If the queryWithCipherColumn at the table level is configured, it has a higher priority.

[2021-11-25 09:43] wuguanyu commented on #13793
You tested it In UnitTest ？

[2021-11-25 09:44] wuguanyu commented on #13793
You tested it In UnitTest ？

[2021-11-25 09:51] strongduanmu commented on #12427
This issue has been fixed.

[2021-11-25 09:51] #12427 closed

[2021-11-25 09:59] menghaoranss commented on #13797
@SpriderMan For English only, please translate title to English first.

[2021-11-25 10:04] tuichenchuxin commented on #13759
[code]
If i execute this sql directly connected to mysql server. It can't be executed.
mysql version is `8.0.25`.
So, I think we don't need to support this.

[2021-11-25 10:07] strongduanmu commented on #13793
@wuguanyu Test with proxy.

[2021-11-25 10:17] tuichenchuxin commented on #13796
I tried this sql on 5.0.0 version by shardingsphere jdbc.It can execute well.
Which version have you used?

[2021-11-25 10:31] wj-li commented on #13796
I am using 5.0.1-SNAPSHOT version. The master branch.

[2021-11-25 10:32] wj-li commented on #13796
I am using 5.0.1-SNAPSHOT version. The master branch.

[2021-11-25 10:44] tuichenchuxin commented on #13796
@wj-li I reproduce these bugs.I'll investigate it later.

[2021-11-25 11:33] #13797 closed

[2021-11-25 13:42] zjcnb opened #13800 "Plan to adjust shardingsphere-db-discovery-provider and change db-discover api."
Hi, community

  Now, The `db-discovery` module integrates MYSQL MGR and openGuass, they get master-slave relation through timed task polling, and about job code are duplicat. So we plan to strip job code out of s`hardingsphere-db-discovery-provider` module, move it to `shardingsphere-db-discovery-core` management. `shardingsphere-db-discovery-provider` module is only provide master-slave relation

[2021-11-25 13:52] #13677 closed

[2021-11-25 13:53] RaigorJiang commented on #13702
Hi @lanchengx ,
Thanks for your great work, please leave a comment and I will assign this issue to you.

[2021-11-25 14:43] HCTzz opened #13801 "shardinshere4.x and 5.x support Microservices transaction?"
I want to confirm something，shardinshere support Microservices transaction?  thanks!

[2021-11-25 15:41] lanchengx commented on #13702
🥷

[2021-11-26 01:08] SpriderMan opened #13802 "why CONNECTION_STRICTLY mode no need to lock，MEMORY_STRICTLY need to lock？"
https://user-images.githubusercontent.com/18304842/143417049-0b5d457b-c77f-4288-9acf-45b455ec4ce0.png

[2021-11-26 02:14] wuguanyu commented on #13793
![image](https://user-images.githubusercontent.com/24486917/143516641-2b38efac-d845-46d3-97f6-ad8c90d17226.png)

[2021-11-26 02:23] #13793 closed

[2021-11-26 02:25] strongduanmu commented on #13793
Hi @princess-yanyan @wuguanyu, can you help test this issue on master branch?

[2021-11-26 02:38] strongduanmu opened #13807 "Add more unit test for EncryptAlgorithmMetaData, EncryptRule and EncryptTable"
Hi, community:

This issue is to add more unit tests for the `EncryptAlgorithmMetaData`, `EncryptRule` and `EncryptTable` classes. Welcome to claim them.

The specific subtasks are as follows:

- [x] Add unit test for EncryptAlgorithmMetaData#isQueryWithCipherColumn
- [x] Add unit test for EncryptRule#isQueryWithCipherColumn
- [x] Add unit test for EncryptTable#getQueryWithCipherColumn

Through th

[2021-11-26 03:06] #13737 closed

[2021-11-26 03:12] wuguanyu commented on #13793
@strongduanmu I see source code ,we set query.with.cipher.column in rule-level, It worked.

[2021-11-26 03:15] wuguanyu commented on #13793
@princess-yanyan install code in local and test issue?

[2021-11-26 03:17] strongduanmu commented on #13793
@wuguanyu Yes, test this problem with table level query.with.cipher.column param.

[2021-11-26 03:32] terrymanu commented on #13800
I have question for new config of discoverySchedulers:

Does `type` of discoverySchedulers is necessary, is there any other job can inline in to ShardingSphere? If we use elastic-job for the only one solution, could we consider about remove the type, do not let user know the new concept.

And the zkServerLists maybe use same one with ShardingSphere.

The config maybe change to:

[code]

What do yo

[2021-11-26 03:32] ningpp commented on #13659
hello?

[2021-11-26 03:59] menghaoranss commented on #13800
@terrymanu I agree to use elastic-job as the default scheduler in `ShardingSphere`, and don't consider integrating other solutions.

[2021-11-26 04:14] TeslaCN commented on #13801
About transaction, you may refer to https://shardingsphere.apache.org/document/current/en/features/transaction/

[2021-11-26 04:16] TeslaCN commented on #13774
The `shardingsphere-test-common` was not deployed to central repository, you may need to execute `mvn install` to install the modules to your local repository.

[2021-11-26 04:24] #13704 closed

[2021-11-26 04:50] #13796 closed

[2021-11-26 05:00] lovestaryouth commented on #13807
新人报道，请多关照

[2021-11-26 05:06] supkingx commented on #13734
@strongduanmu I want to try and fix it

[2021-11-26 05:27] strongduanmu commented on #13734
@ThisOnly Great, I will assign this issue to you.

[2021-11-26 05:29] strongduanmu commented on #13807
Hi @lovestaryouth welcome here, can you translate your comment to english?

[2021-11-26 05:30] wsm12138 opened #13811 "java.lang.IndexOutOfBoundsException: readerIndex(1) + length(4) exceeds writerIndex(1): PooledSlicedByteBuf(ridx: 1, widx: 1, cap: 1/1, unwrapped: PooledUnsafeDirectByteBuf(ridx: 11, widx: 19, cap: 2048))"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-26 05:50] bpzhang opened #13812 "sharding-jdbc is support custome db or table name"
sharding-jdbc is support db instance name or table name:
I want to custom a name for table or db instance, like:
db_order_0001,db_order_0002
and prefix is start '000' or another prefix

[2021-11-26 06:15] wj-li opened #13814 "Using sum function does not return data"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-26 06:38] strongduanmu commented on #13814
@wj-li Thank you for your feedback, I will check this issue later.

[2021-11-26 06:40] strongduanmu commented on #13812
@bpzhang You can refer this [document](https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/inline-expression/).

[2021-11-26 07:21] Sfaecp opened #13815 "How do I configure a custom sharding algorithm in version 5.x?"
To customize the sharding algorithm configuration, I only found the configuration before 5.x, but did not find the configuration before 5.x.
My configuration is as follows:
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-column=order_id
spring.shardingsphere.rules.sharding.tables.t_order.table-strategy.standard.sharding-algorithm-name=table-inline

spring.shard

[2021-11-26 07:31] #13802 closed

[2021-11-26 07:36] HCTzz commented on #13801
@TeslaCN 我看seata以及shardingSphere整合demo里，接口调用入口都是使用shardingsphere的服务。反过来调用就会报错。 #13783

[2021-11-26 07:44] DreamPWJ opened #13816 "required a bean of type 'javax.sql.DataSource' that could not be found."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-26 07:56] ZWMdarker opened #13817 "Configuration: sharding-algorithms.xxx.props.algorithm-expression init failure in 5.0.0"
Configuration is as follows:
spring:
  shardingsphere：
    .......
    rules:
      sharding:
        binding-tables: t_file
        tables:
          t_file:
            database-strategy:
              standard:
                sharding-column: c_wjdx
                sharding-algorithm-name: database_inline
            table-strategy:
              standard:
                sharding-column: c_bh

[2021-11-26 07:58] strongduanmu commented on #13815
Hi @Sfaecp, you can use `class_based` algorithm. For more detailed information, you can refer https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/#%E8%87%AA%E5%AE%9A%E4%B9%89%E7%B1%BB%E5%88%86%E7%89%87%E7%AE%97%E6%B3%95

[2021-11-26 08:02] ZWMdarker commented on #13817
and I debugged the source code, I found in the class AbstractAlgorithmProvidedBeanRegistry  ,this method registerBean.
boolean existProps = PropertyUtil.containPropertyPrefix(environment, propsPrefix) always return false; and i try to use this method   environment.getProperty("spring.shardingsphere.rules.sharding.sharding-algorithms.database_inline.props.algorithm-expression") , i can get the resu

[2021-11-26 08:07] Sfaecp commented on #13815
Think you!

[2021-11-26 08:07] #13815 closed

[2021-11-26 08:15] wu-sheng commented on #13764
Officially, I didn't cut the release, due to the announcement event has been cancelled considering COVID.

Back to this, if there is proxy-side plugin, ShardingSphere community should consider whether we should host the plugin by ourselves, rather than in SkyWalking repository. Because at there, we have to rely on their releasing period. Also, self-hosting means you could package the agent core an

[2021-11-26 08:35] jingshanglu commented on #13801
@HCTzz Not support yet, Here is a discussion about this [discussion](https://github.com/apache/shardingsphere/issues/12771)

[2021-11-26 09:05] princess-yanyan commented on #13793
@strongduanmu @wuguanyu sorry，The internet in the company is not good,i can't download the source code,when i go home i will try，thank you for your reply

[2021-11-26 09:08] DreamPWJ commented on #13816
Caused by: java.sql.SQLSyntaxErrorException: Table 'property_sales_dev.user_login_log' doesn't exist      ，
User_login_log is a logical table
But there are user_login_log_1 , user_login_log_2。
![image](https://user-images.githubusercontent.com/16730031/143555703-ac75f033-1ebe-47f1-8373-7efd4bdfe47d.png)

[2021-11-26 09:40] zjcnb commented on #13817
refer to: #13554

@ZWMdarker Hi, you can change `database_inline` to `database-inline` and `table_inline `to `table-inline`

[2021-11-26 09:43] tuichenchuxin commented on #13670
@ThisOnly I think we should not add negtive value on column with auto-increment. But it has really inserted, return error is not correct.

`There can be only one AUTO_INCREMENT column per table, it must be indexed, and it cannot have a DEFAULT value. An AUTO_INCREMENT column works properly only if it contains only positive values. Inserting a negative number is regarded as inserting a very large p

[2021-11-26 09:52] zjcnb commented on #13816
@DreamPWJ Hi, you can refer to this : https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases-tables.yaml

[2021-11-26 10:04] 90yangkang opened #13820 "Question：Shardingsphere proxy ，how does it support splitting only databases, but not tables"
Shardingsphere proxy ，how does it support splitting only databases, but not tables？

[2021-11-26 10:08] zjcnb commented on #13820
@90yangkang  Hi, you can look this : https://community.sphere-ex.com/t/topic/419

[2021-11-26 10:16] zjcnb commented on #13820
@90yangkang  Hi, you can refer to this :
https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/resources/META-INF/sharding-databases.yaml
and
https://community.sphere-ex.com/t/topic/419/12

[2021-11-26 10:19] #12535 closed

[2021-11-26 10:22] strongduanmu commented on #12535
After the PR is merged, the Hint algorithm can go to the kernel for execution.

[code]

Flowing is the sql show log:

[code]

[2021-11-26 10:25] tuichenchuxin commented on #13544
I want to  investigate this problems.

[2021-11-26 10:26] strongduanmu commented on #13544
@tuichenchuxin Great, I will assign this issue to you.

[2021-11-26 10:29] strongduanmu opened #13821 "Add more unit test for ShardingConditions"
Hi, community:

This issue is to add more unit tests for the ShardingConditions class. Welcome to claim them.

The specific subtasks are as follows:

- [ ]  Add unit test for ShardingConditions#isAlwaysFalse
- [ ]  Add unit test for ShardingConditions#merge
- [ ]  Add unit test for ShardingConditions#isNeedMerge
- [ ]  Add unit test for ShardingConditions#isSameShardingCondition

Through this issu

[2021-11-26 10:54] shenyiheyi commented on #13759
`select rank from t;`
If i execute this sql directly connected to mysql server. It can be executed.
mysql version is 5.7.28.
So, I think  you need to support this.

[2021-11-26 11:02] strongduanmu commented on #13814
Hi @wj-li, is the T_DATA_STATIS table a sharding table?

[2021-11-26 11:10] strongduanmu commented on #13814
@wj-li This statement seems to be a paging subquery, and a complex aggregate query is performed internally. ShardingSphere currently cannot support the logical processing of aggregate query within the subquery.

[code]

[2021-11-26 11:29] lovestaryouth commented on #13807
I come back with regret for my foolish early

[2021-11-26 12:18] ZWMdarker commented on #13817
@zjcnb thx, When I modified this parameter（<sharding-algorithm-name>）, the problem was solved. but, I got the above configuration from the official website
from : https://shardingsphere.apache.org/document/5.0.0/en/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/
Real is too embarrassing~~~

[2021-11-26 12:51] zt9788 opened #13822 "Minimum package"
env：

JDK 1.8
Springboot2.5
mybatis,mybatis-plus

I just use MySQL and just want to use the basic functions of shardingsphere 5.0.0 (shardingsphere-jdbc-core-spring-boot-starter)

1. Read write separation

2. Sharding table

But now the package is too big, about 30M+

Can someone tell me how many packages are needed under basic functions.

[2021-11-26 15:22] qq379872286 commented on #13562
same in  5.0.0

[2021-11-26 15:23] Swastyy commented on #13795
Hi @TeslaCN Can I try solving this?

[2021-11-26 15:45] HCTzz commented on #13801
@jingshanglu but only using Seata, the reason for Seata fetch scheme error(get table meta error ,table xxx not exist) is that the real table name cannot be obtained. Can you give me some advice? thank you!

[2021-11-26 16:04] mohitsaxenaknoldus commented on #13821
Please assign it to me, I'll do it.

[2021-11-26 17:32] TeslaCN opened #13825 "Restore sysbench documents"
## Documents

The `sysbench` testing references were deleted in https://github.com/apache/shardingsphere/pull/13005.
And the `performance-test` was accidentally renamed to `sysbench-test` in https://github.com/apache/shardingsphere/pull/13182.

Consider restoring the `sysbench` documents and update the configurations to the latest.

[2021-11-27 01:15] fyname opened #13827 "Shardingwhere5 custom configuration document support？"
hi

Are there any documents about shardingwhere 5 custom routing and SQL rewriting YML?

[2021-11-27 01:34] wj-li commented on #13814
@strongduanmu Will it be supported in the next version?

[2021-11-27 06:31] RaigorJiang commented on #13562
Hi @qq379872286
Could you provide your configuration?

[2021-11-27 06:40] RaigorJiang commented on #13827
Hi @fyname
The feature of custom rewriting is not provided, and custom routing can be implemented by customizing the sharding algorithm.

document:
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/

example:
https://github.com/apache/shardingsphere/tree/master/examples/shardingsphere-jdbc-example/single-feature-example/extension-examp

[2021-11-27 07:18] ThanoshanMV commented on #6478
Hi @jingshanglu, @tristaZero, @Icesource

I completed TCL and DAL statements. Please refer to the submitted PRs. If there is anything to be changed, please let me know.

1. For TCL statements:

- [proofread SQLServer TCL statements](https://github.com/apache/shardingsphere/pull/12826)

2. For DAL statements:

- [Add SQLServer EXPLAIN statement](https://github.com/apache/shardingsphere/pull/13546)

[2021-11-27 08:39] strongduanmu commented on #13821
@mohitsaxenaknoldus Welcome, I will assign this issue to you.

[2021-11-27 11:13] zjcnb commented on #13817
I think you can fixed it. Welcome to join ShardingSphere!

[2021-11-27 13:39] zt9788 opened #13830 "When create mutil datasource and Use Mode Standalone that will be load twice pool"
shardingsphere5.0
I Create two DataSource use the `ShardingSphereDataSourceFactory.createDataSource`
set mode=Standalone,File
When start programe again that will be load twice pool
like:
fisrt time:
[code]

When I restart program:
[code]
I see the `StandaloneContextManagerBuilder` will load MetaData and then to load two dataSource once .

I'm not sure ,It is right?

[2021-11-27 14:52] qq379872286 commented on #13562
Hi @RaigorJiang

**shardingsphere-5.0.0\examples\shardingsphere-jdbc-example\single-feature-example\readwrite-splitting-example\readwrite-splitting-spring-boot-mybatis-example\src\main\resources\application-readwrite-splitting.properties:**

spring.shardingsphere.datasource.names=write-ds,read-ds-0,read-ds-1

spring.shardingsphere.datasource.write-ds.jdbc-url=jdbc:mysql://localhost:3306/demo_write

[2021-11-27 18:05] #13656 closed

[2021-11-28 04:15] clbigdata commented on #12452
I want to solve this problem

[2021-11-28 04:17] clbigdata commented on #12455
I want to solve this problem

[2021-11-28 06:24] strongduanmu commented on #12455
@clbigdata Welcome, I will assign this issue to you.

[2021-11-28 11:21] #12455 closed

[2021-11-28 11:24] #13736 closed

[2021-11-28 11:25] strongduanmu commented on #13830
Hi @zjcnb, can you help take a look at this issue?

[2021-11-28 11:29] strongduanmu commented on #13822
Hi @zt9788, thank you for your feedback. Can you show which jar packages are currently dependent on?

[2021-11-28 11:32] strongduanmu commented on #13814
@wj-li We will try to optimize this problem, thank you.

[2021-11-28 11:45] zt9788 commented on #13822
@strongduanmu I use shardingsphere-jdbc-core-spring-boot-starter and I exclusion like this:
At present, the program seems to work normally, but I'm not sure whether there will be potential exceptions. At present, the size of the package is about 20M

[code]

[2021-11-28 12:04] iMinusMinus opened #13833 "file not found when path with blank under windows os environment"
ShardingSphere 5.0

ShardingSphere-Proxy

unzip and run shardingsphere normally, console output 'ShardingSphere-Proxy start success'

### Actual behavior
Exception in thread "main" java.io.FileNotFoundException: D:\Program%20Files\apache-shardingsphere-5.0.0-shardingsphere-proxy-bin\conf\server.yaml (系统找不到指定的路径。)
        at java.io.FileInputStream.open0(Native Method)
        at java.io.FileInputS

[2021-11-28 12:07] strongduanmu commented on #13822
@zt9788 Judging from the dependencies you provide, `db-discovery` and `shadow` related APIs can be excluded.

Now, we are trying to solve the dependency problem and let users add related dependencies according to the functions used.

[2021-11-28 12:18] strongduanmu opened #13835 "Binding table join query has an incorrect result without sharding condition"
## Bug Report

### Which version of ShardingSphere did you use?

master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Execute the following join query and get the correct result.

[code]

`t_order` and `t_order_item` are binding tables, and the sharding key is `oid`.

### Actual behavior

At present, the join query

[2021-11-28 12:26] zt9788 commented on #13822
Thanks  ,I  excluded  them ,The program can run , but the size is only 200K smaller than the last package. :(

[code]

[2021-11-28 12:35] #13822 closed

[2021-11-28 15:01] Swastyy commented on #13825
Can I try this?

[2021-11-28 16:16] mohitsaxenaknoldus commented on #13821
@strongduanmu Need some help with this: https://github.com/apache/shardingsphere/pull/13836
Can't seem to figure out why the CI is failing.

[2021-11-29 01:31] #12452 closed

[2021-11-29 02:06] TeslaCN commented on #13825
@Swastyy Welcome! My idea is restoring the documents deleted in #13005. Before restoring, you may need to check if there is anything outdated in documents, if so, update them to latest. And rename the current `sysbench-test` to `performance-test` againi.

[2021-11-29 03:11] tuichenchuxin commented on #13544
@Comven I have tried your config on 5.0.0
It can be executed well.
`
2021-11-29 11:09:33.153  INFO 49392 --- [nio-8088-exec-3] ShardingSphere-SQL                       : Actual SQL: db1slaver ::: select id , order_no, user_id, add_time from order_info_202110 where add_time between ? and ? order by add_time ::: [2021-10-01 00:00:00.0, 2021-11-10 00:00:00.0]
2021-11-29 11:09:33.153  INFO 49392 --- [

[2021-11-29 03:21] axzxs2001 opened #13840 ".net core connection shardingsphere error"
## Bug Report
An error occurred while connecting to shardingsphere  database 。

**1、Version**
sharadingsphere 5.0.0
.NET 6.0
MySql.Data   Oracle     8.0.27

**2、code**
[code]

**2、Excetipon**
MySql.Data.MySqlClient.MySqlException:“This version of ShardingSphere-Proxy doesn't yet support this SQL. 'You have an error in your SQL syntax'”

[2021-11-29 03:34] Comven commented on #13544
Is there any data in table “order_info_202110” and “order_info_202111” ?

[2021-11-29 03:40] tuichenchuxin commented on #13544
@Comven I have just inserted into these two tables. It can be executed well.

[2021-11-29 04:14] tristaZero commented on #13764
`proxy-side plugin` means the plugins provided by Skywalking and APISIX? So it is suggested to host these plugin coding on  CyborgFlow project?

[2021-11-29 04:21] tristaZero commented on #13764
I talked with @soulasuna to get the context of this issue. My +1 to let CyborgFlow host the plugin coding.

[2021-11-29 05:07] wu-sheng commented on #13764
You want to continue tracing to ShardingSphere proxy server, then you need a proxy. So where the codes hosting?

[2021-11-29 05:15] RaigorJiang commented on #13562
Hi @qq379872286,
I investigated the problem you reported and found the reason why the SQL statement has been routed to write-data-source:
1. The `processSuccess()` method in example [service](https://github.com/apache/shardingsphere/blob/master/examples/example-core/example-spring-mybatis/src/main/java/org/apache/shardingsphere/example/core/mybatis/service/OrderServiceImpl.java) declares @Transact

[2021-11-29 05:36] Comven commented on #13544
[shardingsphere-jdbc.zip](https://github.com/apache/shardingsphere/files/7615748/shardingsphere-jdbc.zip)

database script in the directory

[2021-11-29 06:31] RaigorJiang commented on #13840
Hi @axzxs2001 ,
Since we don't know what SQL statement is sent when .net connects to the Proxy, this reason is not easy to analyze.
Please change the log level to debug, restart the Proxy and test it, then record the SQL statement received by the Proxy when the error is reported.

The log level is configured in `logback.xml`, set
  `<logger name="org.apache.shardingsphere" level="info" additivity=

[2021-11-29 06:38] tuichenchuxin commented on #13544
@Comven
I have tried your demo. It can be executed well.
[code]

[2021-11-29 07:22] Comven commented on #13544
Can you show me the whole log ?

[2021-11-29 07:26] tuichenchuxin commented on #13544
@Comven
[code]

[2021-11-29 07:36] Comven commented on #13544
Oh, I don't know why this problem is like this. When I test locally, the results are always like this
[code]
Maybe it's not typical. I'm looking at it myself again. thank you!

[2021-11-29 07:41] Comven commented on #13544
Did you use my program completely to test it?

[2021-11-29 07:45] HuangJueXiang opened #13843 "I just want to distinguish between databases"
## Question

I have two versions and just want to differentiate between databases. What should I do？

[2021-11-29 07:50] tuichenchuxin commented on #13544
@Comven yes，I used the program you offered to test it.

[2021-11-29 08:09] Comven commented on #13544
This is really strange
![image](https://user-images.githubusercontent.com/8464801/143830561-6c22c583-ce81-493a-b2e4-8a7539e471f5.png)

[2021-11-29 08:23] RaigorJiang commented on #13843
Hi @HuangJueXiang
Can you explain in more detail? Or to give an example, the requirement of one sentence cannot be well understood.

[2021-11-29 08:27] qiuweilu opened #13846 "Bug when specifying data table"
## Bug Report
version
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
            <version>5.0.0</version>
        </dependency>

question
  example
        SELECT user_share.*, act_stats.*, user_info.info_nickname, user_info.info_photo, user_info.info_gender
        FROM user_share

[2021-11-29 08:28] shenmadouyaowen opened #13847 "Hello, when I insert a picture stream blob, the data will change"
Software version ：shardingsphere  5.0
System version ：Ubuntu 20.04.3 LTS x86_64
php version ：7.4
mysql version  ：8.0
PHP framework：Laravel Framework 8.73.2

Hello, read the picture stream data and write it to MySQL.  it was found that the picture could not be displayed. It can display the image data not inserted through the shardingsphere. After testing, the data will change when I write it.

[2021-11-29 08:28] axzxs2001 commented on #13840
Starting the ShardingSphere-Proxy ...
Java HotSpot(TM) 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/C:/MyFile/tools/apache-shardingsphere-5.0.0-shardingsphere-proxy-b

[2021-11-29 08:29] tuichenchuxin commented on #13544
@Comven  Have you initial all the sharding tables in database? such as `order_info_202101`

[2021-11-29 08:34] TeslaCN opened #13848 "Consider replacing java.util.stream with for each in high frequency codes"
## Refactor

Related to #10626, #11281

## Testing

Environments:
1. 128 cores (aarch64) with 1TB RAM (Running BenchmarkSQL + ShardingSphere JDBC)
1. 128 cores (aarch64) with 1TB RAM (Running openGauss)

Using BenchmarkSQL (adapts ShardingSphere JDBC) connects to single node openGauss.
ShardingSphere JDBC sharding data to 1 shards, which means the data was not sharded.

Terminals: 696
Runs for 5 m

[2021-11-29 08:46] axzxs2001 commented on #13840
SELECT TIMEDIFF(NOW(), UTC_TIMESTAMP())

UTC_TIMESTAMP() doesn't yet support,but mysql  is support

[2021-11-29 08:52] Comven commented on #13544
No，just 202106~202112, version 5.0.0-bata executed well !

[2021-11-29 08:54] tuichenchuxin commented on #13544
@Comven We have optimize table load performance, So now we just loaded one table about sharding tables.

[2021-11-29 09:00] happy89lgk commented on #13658
@HCTzz There is no time to deal with it

[2021-11-29 09:03] qiuweilu opened #13849 "date cast error"
version
shardingsphere-jdbc-core-5.0.0.jar:5.0.0

question
property：private Date cmntCtime;

class java.time.LocalDateTime cannot be cast to class java.sql.Timestamp

org.apache.shardingsphere.driver.jdbc.core.resultset.ShardingSphereResultSet.getTimestamp(ShardingSphereResultSet.java:249) ~[shardingsphere-jdbc-core-5.0.0.jar:5.0.0]

[2021-11-29 09:10] Comven commented on #13544
Em, mybe the issue #12742 is fine, but I didn't verify it.

[2021-11-29 09:12] RaigorJiang commented on #13840
Thank you for your feedback.
These are special functions. ShardingSphere needs to parse and determine how to route to the data source.
@tuichenchuxin  Can you take a look?

[2021-11-29 09:18] tuichenchuxin commented on #13544
@Comven :)

[2021-11-29 09:22] tuichenchuxin commented on #13840
@RaigorJiang @axzxs2001 It's not supported yet, I'll fix it soon.

[2021-11-29 09:25] RaigorJiang commented on #13840
Thank you @tuichenchuxin .

[2021-11-29 09:40] Comven commented on #13544
@terrymanu

[2021-11-29 09:46] tuichenchuxin commented on #13544
@Comven yes.

[2021-11-29 09:47] he429134733 opened #13850 "sharding jdbc 怎么保持当前线程一直走主库"
sharding jdbc 有办法保持当前线程一直走主库吗？

[2021-11-29 09:56] strongduanmu commented on #13850
Hi @he429134733, can you translate this issue to english?

[2021-11-29 09:57] strongduanmu commented on #13849
@qiuweilu Thank you for your feedback, can you submit issue according the template?

[2021-11-29 10:12] qiuweilu opened #13851 "Multiple left join errors"
5.0.0

Multiple left joins contain split table errors

[2021-11-29 10:20] zjcnb commented on #13830
@strongduanmu Thanks, I will check it.

[2021-11-29 10:33] RaigorJiang commented on #13702
Done.

[2021-11-29 10:33] #13702 closed

[2021-11-29 11:51] EAHITechnology commented on #13618
Let me try.But I need some time to get acquainted~

[2021-11-30 01:39] xsong123 opened #13853 "refreshMetaData"
version:
shardingsphere5.0.0
mysql5.7

procedure:
two app link to the same db, one create table  in the db, another query included the table from the db .

error:
java.lang.NullPointerException
	at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrderValuesCaseSensitiveFromTables(OrderByValue.java:74)
	at org.apache.shardingsphere.sharding.merge.dql.orderby.OrderByValue.getOrd

[2021-11-30 01:54] clbigdata commented on #12465
I want to solve this problem

[2021-11-30 02:06] lanchengx commented on #13853
Hi @xsong123 , Which one of proxy and jdbc are you using?
In addition, is the DDL statement executed by proxy?

[2021-11-30 02:10] RaigorJiang commented on #13851
Hi @qiuweilu ,
Can you explain in more detail? Or to give an example, the requirement of one sentence cannot be well understood.

[2021-11-30 02:11] xsong123 commented on #13853
i don't use proxy, only use jdbc

[2021-11-30 02:39] CrackerSuperior opened #13854 "If I want to learn the source code of "shardingShere", is there any good way to recommend it?"
version：
  master

If I want to learn the source code of "shardingShere", is there any good way to recommend it?

[2021-11-30 02:41] lanchengx commented on #13853
In the latest master branch, `Proxy` already supports the use of `DistSQL` to refresh metadata, but `JDBC` is being planned

[2021-11-30 02:52] xiongchengqq opened #13855 "mapping values are not allowed here"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-30 02:53] lanchengx commented on #13854
Hi @CrackerSuperior , [Sig](https://community.sphere-ex.com/c/22-category/22) in the Chinese community is a good choice,
and recently [Meetup](https://mp.weixin.qq.com/s/4BHVxbJxEe2o_FvpH6rTUQ) is also worth paying attention to.

[2021-11-30 02:57] CrackerSuperior commented on #13854
ok，thanks

[2021-11-30 03:02] zjcnb commented on #13855
@xiongchengqq I think your configuration hava a mistake, you can change `dataSources: fundabd-common-plat-db` to `dataSources`. remove fundabd-common-plat-db. And try it again.

[2021-11-30 03:09] princess-yanyan commented on #13793
I install code in local  with 5.0.1-SNAPSHOT  and test this problem with table level query.with.cipher.column param,then it worked, table level has a higher priority.

[2021-11-30 03:10] clbigdata commented on #10964
I want to solve this issue

[2021-11-30 03:12] xiongchengqq commented on #13855
![image](https://user-images.githubusercontent.com/80461901/143979158-0214b2dc-5d49-4943-9c54-47183c653f41.png)
 I am showing that the database driver is not found

[2021-11-30 03:14] zjcnb commented on #13855
You can check your mysql server version. Is mysql 8.x ?

[2021-11-30 03:15] xiongchengqq commented on #13855
是的,我的服务器是8.x的

[2021-11-30 03:17] zjcnb commented on #13855
translate english please.

[2021-11-30 03:18] xiongchengqq commented on #13855
Yes, my server is 8.x

[2021-11-30 03:21] qiuweilu commented on #13851
example
   <select id="searchCmntList" parameterType="com.foxwish.dao.entity.ext.PartCmntVote" resultMap="BaseResultMap">
        SELECT out_cmnt.cmnt_id cmnt_id, out_cmnt.cmnt_pid cmnt_pid, out_cmnt.cmnt_gid cmnt_gid, out_cmnt.cmnt_mark cmnt_mark,
        out_cmnt.cmnt_label cmnt_label, out_cmnt.cmnt_cont cmnt_cont, out_cmnt.cmnt_json cmnt_json, out_cmnt.cmnt_data cmnt_data,
        out_cmnt.cmnt

[2021-11-30 03:21] #13849 closed

[2021-11-30 03:22] xiongchengqq commented on #13855
spring:
  shardingsphere:
    dataSources:
      fudabd-common-plat-db:
        type: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:13306/fudabd_common_plat_db?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&autoReconnect=true&failOverReadOnly=false&skip-host-ca

[2021-11-30 03:22] xiongchengqq commented on #13855
My configuration

[2021-11-30 03:28] RaigorJiang commented on #13851
Thanks for your feedback, can you provide `Logic SQL`?
`Logic SQL` can be Obtained from the log, by setting `sql-show` to `true`.

Because such a mapper is not easy to read and verify.

[2021-11-30 03:29] zjcnb commented on #13855
It 's no problem when i used your configuration.

![image](https://user-images.githubusercontent.com/33742097/143980572-5558d2fb-b436-4785-bf3f-04d60e207499.png)

Can you provider a demo project ?

[2021-11-30 03:30] RaigorJiang commented on #13851
Props for JDBC:
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/yaml-config/rules/mix/

Props for Proxy:
https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/props/

[2021-11-30 03:41] fyname opened #13857 "Cannot use mod() on this number type: java.math.BigDecimal"
## Bug Report

### Which version of ShardingSphere did you use?
version:  5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
use:  shardingsphere-jdbc

### Expected behavior
The supported split table field type is BigInteger

### Actual behavior
The supported split table field type is BigInteger

### Reason analyze (If you can)

First:

Actual order_ No is BigInteger

H

[2021-11-30 05:14] RaigorJiang commented on #13857
Hi @fyname
Can you show your algorithm configuration?

[2021-11-30 05:31] wsm12138 opened #13859 "Can not find shardingsphere-transaction-base-seata-at-5.0.1-SNAPSHOT.jar in mvnrepository"
https://mvnrepository.com/artifact/org.apache.shardingsphere/sharding-transaction-base-seata-at
![image](https://user-images.githubusercontent.com/86462784/143990698-e27fc9e6-8fc7-42ad-bcdb-3800757c0c0c.png)

Are we missing the`5.0` package?

./shardingsphere-kernel/shardingsphere-transaction/shardingsphere-transaction-type/shardingsphere-transaction-base/shardingsphere-transaction-base-seata-at/t

[2021-11-30 05:33] zjcnb commented on #13830
@zt9788 Hi, i think it's not a problem. I can't  reproduce it. Can you provider your demo project or show your .shardingsphere file

[2021-11-30 05:39] fyname commented on #13857
rules:
      sharding:
        tables:
          tb_order:
            actualDataNodes: tmall.tb_order_$->{0..1},taobao.tb_order_$->{0..1},aliyun.tb_order_$->{0..1}
            keyGenerateStrategy:
              column: order_id
              keyGeneratorName: snowflake
            table-strategy:
              standard:
                sharding-column: order_no
                sharding-algorithm-

[2021-11-30 05:50] #12465 closed

[2021-11-30 05:52] menghaoranss commented on #13618
welcome

[2021-11-30 06:05] menghaoranss commented on #13859
@wsm12138 please refer to https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-transaction-base-seata-at

[2021-11-30 06:16] zjcnb opened #13860 "Use rules not right when I hava two schema with use standalone mode."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-11-30 06:26] RaigorJiang commented on #13857
OK , @fyname
Okay, in your table, `order_no` is of type BigInteger. So in your Java application, is `order_no` a Long type?

[2021-11-30 06:27] fyname commented on #13857
@Data
public class Order {
    private int id;
    private int user_id;
    private BigInteger order_no;
    private Timestamp order_time;
    private String merchant;
}

use BigInteger

[2021-11-30 06:34] RaigorJiang commented on #13857
`java.math.BigInteger` is not suitable, `Long` should be used.

In mysql, bigint is a long integer, corresponding to Long in Java:
https://dev.mysql.com/doc/refman/8.0/en/integer-types.html

[2021-11-30 06:42] zjcnb opened #13861 "DistSQL - show readwrite_splitting read resources result are not right."
### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

only show read resource.

### Actual behavior

show all resource.

`configuration : `

[code]

![image](https://user-images.githubusercontent.com/33742097/143998449-3b96ca5b-63f7-4e03-ab05-ceab88974f0f.png)

[2021-11-30 06:47] fyname commented on #13857
thanks

[2021-11-30 06:47] #13857 closed

[2021-11-30 06:49] maketubo opened #13862 "Will mixed shardingAlgorithms will be support?"
**Hi, i am new to sharding-jdbc.**
**I try a test with both HintInlineShardingAlgorithm and InlineShardingAlgorithm on one logic table.**
**The configuration is as follows: **
[code]
**Then i try query and work as expected.**
[code]

————————————————
我尝试混合使用HintInlineShardingAlgorithm和InlineShardingAlgorithm，如果首先将hint分片算法添加进shardingRule，可以得到预期表现：只有指定了hint分片路由才会走指定的表，如果不指定，会扫描全部的物理表。应用的场景是有时候查询只在某张

[2021-11-30 07:13] wsm12138 commented on #13859
Thanks for reply~

[2021-11-30 07:13] #13859 closed

[2021-11-30 07:31] lanchengx commented on #13861
@zjcnb Thanks for your feedback, I will fix it

[2021-11-30 07:45] SpriderMan opened #13863 "CONNECTION_STRICTLY must be memory merge？why merge is GroupByStreamMergedResult？"
excute sql：SELECT o.user_id FROM t_order_0 o JOIN t_order_item_0 i ON o.order_id=i.order_id and o.user_id IN
         (  ? ,   ?,  ? ,  ?,  ?) group by o.user_id ORDER BY user_id ASC

![image](https://user-images.githubusercontent.com/18304842/144004463-451d17b7-9a72-487c-95ad-c8af59f38b0e.png)
![image](https://user-images.githubusercontent.com/18304842/144004496-9752ab05-e930-4f6a-b8a1-0b61237d03

[2021-11-30 07:53] #13855 closed

[2021-11-30 07:54] xiongchengqq commented on #13855
Import dependency issues

[2021-11-30 08:18] taotao365s opened #13865 "what does PropertyUtil.v2 function mean?"
## Question

background: shardingsphere 5.0

- application.yml

[code]

- BizPrimaryKeyGenerateAlgorithm.java

[code]

-  when I set `key-generator-name` is `dict_primary_key`, props is always null in BizPrimaryKeyGenerateAlgorithm.java
-  then I debug it to `PropertyUtil.containPropertyPrefix --> v2`

[code]
so what does v2 function mean?

when I change `key-generator-name` to `dict-primary-key`,

[2021-11-30 09:03] zjcnb commented on #13865
@taotao365s v2 are SpringBoot 2.x.

[2021-11-30 09:28] #13840 closed

[2021-11-30 09:29] Comven commented on #13544
I found that the problem was really caused by my failure to create the first sub table, Because when I replace the content of actual data nodes from `dbrwone.order_info_20210$->{1..9},dbrwone.order_info_2021$->{10..12}` to `dbrwone.order_info_2021$->{10..12},dbrwone.order_info_20210$->{1..9}`, it can run normally.

[2021-11-30 09:34] Comven commented on #13544
The reason has been found, but the logic here may be optimized. I hope the later version can be improved.
Thanks for your help !

[2021-11-30 09:34] #13544 closed

[2021-11-30 09:34] zjcnb commented on #13847
@shenmadouyaowen Hi, What is the format of the picture? And Can you provider your table structure.

[2021-11-30 09:36] zjcnb commented on #13846
@qiuweilu  Can you provider a demo project? We will check it.

[2021-11-30 09:36] strongduanmu commented on #13862
@maketubo Apache ShardingSphere only provides some general sharding algorithms, and does not provide customized algorithms. If you want to customize the sharding algorithm, you can use the `class_based` algorithm——https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/#%E8%87%AA%E5%AE%9A%E4%B9%89%E7%B1%BB%E5%88%86%E7%89%87%E7%AE%97%E6%B3%95

[2021-11-30 10:04] #13861 closed

[2021-11-30 10:51] zt9788 commented on #13830
[code]

![image](https://user-images.githubusercontent.com/15647179/144033060-53cfc633-fb53-436c-80b6-b4e826abbd71.png)
![image](https://user-images.githubusercontent.com/15647179/144033133-cefef7a2-4b36-49ca-86bc-b0e5afcbeacf.png)
![image](https://user-images.githubusercontent.com/15647179/144033184-ced25c4f-f2a2-48aa-b736-3d45cba60455.png)
![image](https://user-images.githubusercontent.com/15647

[2021-11-30 11:02] marker-wu opened #13869 "Does ShardingComplexRoutingEngine have all the functions of ShardingFederatedRoutingEngine?"
Does ShardingComplexRoutingEngine have all the functions of ShardingFederatedRoutingEngine?

[2021-11-30 11:21] taotao365s commented on #13865
I know springboot2， what’s function doing？

[2021-11-30 11:32] menghaoranss commented on #13853
@xsong123 do you use zookeeper?

[2021-11-30 11:34] menghaoranss commented on #13850
@he429134733 For English only.

[2021-11-30 11:34] #13850 closed

[2021-11-30 11:57] yeruilong opened #13871 "关于ShardingSphereXA分布式事务"
WARN  com.atomikos.datasource.xa.XAResourceTransaction - XA resource 'resource-1-master': suspend for XID '3139322E3136382E35362E312E746D313633383237323939323830323030303031:3139322E3136382E35362E312E746D31' raised -5: invalid arguments were given for the XA operation
com.mysql.cj.jdbc.MysqlXAException: XAER_INVAL: Invalid arguments (or unsupported command)

访问接口报了个错，没找到解决方案

[2021-11-30 12:18] menghaoranss commented on #13871
@yeruilong For English only, please translate to English first.

[2021-11-30 12:24] yeruilong commented on #13871
about ShardingSphereXA Distributed transaction：

  @ShardingTransactionType(TransactionType.XA)
  @Transactional(propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
  public Boolean A() {
    mapperA.updateById();
    B();
}

  @Transactional(propagation = Propagation.REQUIRES_NEW,rollbackFor = Exception.class)
  public Boolean b() {
       mapperB.updateById();
 }
WARN com.atomikos.

[2021-11-30 12:32] zjcnb opened #13872 "Load database server info failed."
### Which version of ShardingSphere did you use?

`master`

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

### Expected behavior

No error message

### Actual behavior

[code]

`config-database-discovery.yaml`

[code]
`server.yaml : `

[code]

[2021-11-30 12:47] zjcnb commented on #13830
@zt9788 Nice, I will see

[2021-11-30 14:26] clbigdata commented on #12171
I would like to contribute in this issue.

[2021-11-30 14:51] supkingx commented on #13734
@ThisOnly Put quotes around 合同分类
For example, H.document_type as "合同分类"

[2021-11-30 15:01] #13871 closed

[2021-11-30 15:20] yeruilong commented on #13871
why close this issue?and not give me solution

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/shardingsphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月30日(星期二) 晚上11:01
***@***.***&gt;;

[2021-11-30 17:40] yeruilong opened #13873 "about ShardingSphereXA Distributed transaction："
@ShardingTransactionType(TransactionType.XA)
@transactional(propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
public Boolean A() {
mapperA.updateById();
B();
}

@transactional(propagation = Propagation.REQUIRES_NEW,rollbackFor = Exception.class)
public Boolean b() {
mapperB.updateById();
}
WARN com.atomikos.datasource.xa.XAResourceTransaction - XA resource 'resource-1-master': susp

[2021-12-01 00:50] strongduanmu commented on #12171
@clbigdata Welcome, I will assign this issue to you.

[2021-12-01 01:29] strongduanmu commented on #13869
@marker-wu No, they are different. ShardingComplexRoutingEngine cannot handle cross-database queries.

[2021-12-01 01:40] shenmadouyaowen commented on #13847
Hello, thank you for your reply. The image format includes JPG, PNG and tiff. The following is my MySQL table structure.
![image](https://user-images.githubusercontent.com/12426724/144156035-88f71ea9-2b27-4f8c-9314-46576bfc0051.png)

[2021-12-01 01:55] marker-wu commented on #13869
![image](https://user-images.githubusercontent.com/45256940/144157623-3a96757b-ff44-45e0-b1ad-f155febbf99c.png)
Doesn't this support cross-database query?

[2021-12-01 02:01] marker-wu commented on #13343
Hello,When will this be fixed?

[2021-12-01 02:25] jingshanglu commented on #13873
@yeruilong Can you show a demo? I'll check it.

[2021-12-01 02:53] zjcnb commented on #13800
[code]

@terrymanu @menghaoranss  Hi, according to your suggestion, I adjusted the api. We can confirm it.

[2021-12-01 03:13] sandynz opened #13875 "Refactoring: scaling as part of Apache ShardingSphere 3 layers architecture but not an individual tool"
Hi community,

Scaling is an individual tool before, we've integrated scaling with proxy and removed scaling bootstrap and distribution in #13276, but we didn't refactor scaling.

We are planning to make scaling as part of Apache ShardingSphere [3 layers architecture](https://shardingsphere.apache.org/document/current/en/concepts/pluggable/#implementation ).

After several times of discussion and

[2021-12-01 03:15] qiuweilu commented on #13846
describe
act_stats,act_stats_0,act_stats_1 ...  act_stats_10，the foreign key of the sub table is is fk_id，but sometimes I want assign a fixed table, when I do this and it can't work.

[2021-12-01 03:16] dachuan9e opened #13876 "'show instance list' doesn't provide port running in standalone mode"
'show instance list' doesn't provide port when proxy run in standalone mode.  The result is like 'xxx.xx.xx.xx@'.

The result has port like 'xxx.xx.xx.xx@3307' when proxy run in cluster mode

[2021-12-01 03:20] menghaoranss commented on #13800
I suggest  `discoveryHeartbeatName` and `discoveryHeartbeats ` is better.

[code]

[2021-12-01 06:08] DreamPWJ opened #13879 "Whether SQL parsing can be skipped？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.  yes
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues). yes
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview). yes

Now I just divide table part library, we hav

[2021-12-01 06:09] sandynz commented on #13800
For heartbeat, set time interval might be enough (e.g. every 5 seconds), it's simpler than cron expression.

If there're several heartbeat jobs to do, `HashedWheelTimer` is an alternative, it's performant.

I'll consider whether add it to ElasticJob or not later.

How do you think? @menghaoranss

[2021-12-01 06:09] DreamPWJ commented on #13879
For projects running for several years, it is a huge test cost to retrofit incompatible SQL, and we only want shardingSphere

To process and parse the tables that we want to fragment

[2021-12-01 06:11] DreamPWJ commented on #13816
Perhaps the JAR is not in effect

[2021-12-01 06:11] #13816 closed

[2021-12-01 06:22] isfong opened #13880 "The library sharding-jdbc-spring-boot-starter And shardingsphere-sharding-spring-boot-starter"
What's the difference ? thanks~

[2021-12-01 06:50] JWJ32 opened #13881 "Elastic expansion"
When migrating 40w data using sharding-proxy(4.1.1) and ahrding-scaling(4.1.1), the CPU reaches its peak and proxy automatically stops,How do I fix thi
![1](https://user-images.githubusercontent.com/67968000/144185889-d9f44f0e-b69f-4384-a7aa-da17b230d81d.jpg)
s?

[2021-12-01 07:44] tristaZero commented on #13875
My positive vote, here.

[2021-12-01 07:44] sandynz commented on #13632
I reproduced this issue on commit 3f1ca7f190a04723b9929729c953271667286879.

### Reproduce steps
1. Cleanup `/metadata/sharding_db`
2. in `config-sharding.yaml`
[code]
3. in `server.yaml`
[code]
4. start proxy
5. `/metadata/sharding_db/dataSources`
[code]

`driverClassName: null` and also much other keys with value null, these keys should not be persisted in registry center.

### Reason analyze
I'

[2021-12-01 09:20] agzou opened #13884 "throws NoSuchTableException when drop table with oracle database"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If