[2021-02-26 02:52] tristaZero commented on #9509
Since there is a big gap between the configuration of 5.x and 4.x. Did you look at the 4.x configuration doc?

[2021-02-26 03:09] valleyG commented on #9504
@tristaZero
thanks!
i have set a breakpoint at getShardingCount() and init().
but no one calls these two methods.

[2021-02-26 03:10] mingqing6364 commented on #9509
I read the doc in this url: https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-proxy/configuration/

[2021-02-26 03:17] mingqing6364 commented on #9509
I try a new configuration, like [https://github.com/apache/shardingsphere/issues/2972](url)
it's can read masterSlaveRule and encryptRule configuration at the same time.
But,encrypt can't work in mysql line.

[code]

[code]

![image](https://user-images.githubusercontent.com/45141049/109250192-3186b680-7824-11eb-94c7-8a8bb6e267db.png)

[2021-02-26 03:26] mingqing6364 commented on #9509
I know,this configuration is work,the sql cann't use "select *", must use "select user_id, order_id"

ths~~

[2021-02-26 03:27] #9509 closed

[2021-02-26 03:39] terrymanu commented on #234
@gfsamudra Great, waiting for the good news.
Any questions please contact us.

[2021-02-26 03:46] terrymanu opened #9510 "Can not rewrite owner table name of projection if using sharding and encrypt together"
If the original SQL is:

[code]

The current rewrited SQL which is incorrect:

[code]

It should be rewrite to:

[code]

The owner of projection can not rewrite to sharded table name.

The solution for now is adding alias for table, for example:

[code]
It can rewrite correctly

[code]

Please see #9512 to find commented test cases for this issue.

[2021-02-26 03:58] #9388 closed

[2021-02-26 07:06] zealinux opened #9515 "sharding-proxy can support mulitple schemas in one config yaml?"
## Question

- multiple mysql databases in one instance (named instance-master).
- I had created instance ( instance-slave-1) for master-slave copy.
- I want to ask: 1 sharding-proxy only support 1 schema?
  - if yes, I must run multiple sharding-proxy servers for my need.☹️
  - if not, How should I configure it (config-replica-query.yaml)?

*sharding-proxy 5.0*

[2021-02-26 08:48] terrymanu commented on #9515
No, please use different config files

[2021-02-26 10:58] terrymanu opened #9520 "Add test case for YamlDataSourceConfigurationSwapper.swapToDataSources"

[2021-02-26 11:42] terrymanu opened #9521 "Add more test cases for ShardingSphereRulesBuilder if implements ResourceAware"

[2021-02-27 06:39] VanPersies opened #9524 "How to configure default datasource for the version of 5.0.0-alpha"
As the version of 5.0.0-alpha has removed DefaultDataSourceName setting item, how can i configure the default datasource which not uses the shardingsphere datasource?

[2021-02-27 11:51] sandynz commented on #9164
Hi @hebing0625 , you could use `java.sql.PreparedStatement.setObject` for now, e.g. `statement.setObject(1, new long[]{1, 2, 3})`.

I'll try to support `java.sql.Connection.createArrayOf`.

[2021-02-27 23:43] 50133142 opened #9526 "Transaction issues"
## Solved the problem of unable to find the sub-table, need to switch the data source, but the current data source is what I need, why need to switch again to find the sub-table

<img width="663" alt="51dd1db9a7b846f5417a366c5762956" src="https://user-images.githubusercontent.com/42038247/109403439-a844c080-7998-11eb-90f9-a87c1e087193.png">

[2021-02-27 23:44] 50133142 commented on #9526
![image](https://user-images.githubusercontent.com/42038247/109403544-d1655100-7998-11eb-8e9c-8bb0d72ee98f.png)

[2021-02-28 07:43] GLBB opened #9527 "Exception message more detail"
in version: 5.0.0-RC1-SNAPSHOT

using yaml configuration, get exception message: "Exception in thread "main" java.lang.IllegalArgumentException: argument type mismatch", yaml has many lines and element, don't known which has error, hope has more detail exception, can know which line, column, element has error.

yaml configuration:
[code]
situation 1:
password config error, hope give password eleme

[2021-02-28 10:55] tristaZero opened #9528 "[SQL federation] Add unit test for the quries joining sharding tables"
Hi, community,

### Background

I am glad to share that ShardingSphere supports most of the join queries from different shardings (or database instances) after #9518 merged.

Accordingly, this is an issue to add unit tests for `SQL federation` when executing join queries on sharding tables.

### Target files
CalciteStatementTest and CalcitePrepareStatementTest

### How
- Add a unit test concerning

[2021-02-28 10:57] tristaZero commented on #9528
Hi @lmhmhl ,

I am curious whether you are interested in this one? As you can see, it will take some time to dive, but easy for you.

[2021-02-28 13:40] lmhmhl commented on #9528
@tristaZero Sure, I'd like to do this. so please assign it tome.

[2021-03-01 03:40] tristaZero commented on #9524
Hi @VanPersies ,

There is no need for users to configure `default datasources` from 5.0.x, since SS will load these `default datasources` by itself.

[2021-03-01 03:40] #9524 closed

[2021-03-01 03:45] tristaZero commented on #9527
Hi @GLBB ,

Thanks for your feedback.
I agree to throw the explicit exception to users. Do you have any solution for this enhancement?
We welcome the community to give it an improvement.

[2021-03-01 04:26] terrymanu commented on #234
@wangshihuyue Helllo, the website is broken, do you need to fix it?

[2021-03-01 05:23] terrymanu commented on #234
`Hi, the website is broken, I just remove it from the powered  by page, please contact me if the website fixed.` by @terrymanu

[2021-03-01 06:05] tristaZero commented on #9504
Hi which version is running?
If ` init()` does not execute, it is definitely you got the exception. But, ` init()` is supposed to run.

[2021-03-01 06:07] tristaZero commented on #9494
@bestksl ,Thanks.

@jingshanglu  Please look at his first image. Suppose a table is created before its `table rule`, it seems an exception will happen.

[2021-03-01 06:22] bestksl commented on #9494
When I created a datasource...
![image](https://user-images.githubusercontent.com/43023538/109459242-63ed1980-7a99-11eb-9c71-63b56fce0955.png)
Blow is the exception in backend.,
![image](https://user-images.githubusercontent.com/43023538/109459143-2ee0c700-7a99-11eb-8d60-151ebc7f60cb.png)
When I create a datasource....
![image](https://user-images.githubusercontent.com/43023538/109459306-82531500-

[2021-03-01 06:41] jmbkeyes commented on #9447
@yu199195
I download the example code, and do some test, and it works as expected.  I compared my demo project and the downloaded example code, the main difference is that my demo project is using (org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.1.1,org.apache.shardingsphere:sharding-transaction-base-seata-at:4.1.1), and example code is using (org.apache.shardingsphere:shardingsphere

[2021-03-01 06:50] yu199195 commented on #9447
@jmbkeyes  we will release 5.0.0  as soon as possible

[2021-03-01 07:07] yu199195 opened #9538 "We will remove Nacos and Apollo configCenter support"
Hi, Friends from all communities:

After our discussion, we will remove Nacos and Apollo configCenter support.

you can see this:
https://lists.apache.org/thread.html/r308c6f14e439254c27a738444c75ada75c3c811d0f4059ff8facafdd%40%3Cdev.shardingsphere.apache.org%3E

after , I do the following two things

- [x] remove Nacos  configCenter support. #9577
- [x] remove Apollo configCenter support.
- [x] m

[2021-03-01 07:22] #9164 closed

[2021-03-01 07:37] yu199195 commented on #9526
@50133142  You can follow the template and provide more details

[2021-03-01 07:48] strawberry-crisis commented on #9520
assign me plz

[2021-03-01 07:52] songyuequan commented on #9521
can I  take it please?

[2021-03-01 08:13] tristaZero commented on #9498
Done, thanks for your effort @JiekerTime

[2021-03-01 08:13] #9498 closed

[2021-03-01 08:24] yu199195 commented on #9520
welcome join us!

[2021-03-01 08:24] yu199195 commented on #9521
@songyuequan welcome join us

[2021-03-01 08:32] zealinux opened #9544 "sharding-proxy timestamp format error by using NOW() function"
## Bug Report

`SELECT NOW();` then return `2021-03-01T16:26:53`

but in ORIGINAL mysql return `2021-03-01 16:24:04`

so. In application always execption:

[code]

## Version

sharding-proxy docker 5.0-alpha

[2021-03-01 09:21] HoldDie commented on #9471
1

[2021-03-01 09:21] HoldDie commented on #9471
pls assign me.

[2021-03-01 09:45] yu199195 commented on #9471
@HoldDie  welcome.

[2021-03-01 09:55] tuohai666 commented on #9544
I have executed this SQL on 5.0.0-RC1-SNAPSHOT version, and it works. Can you try the new version?

![image](https://user-images.githubusercontent.com/24643893/109481035-3b741800-7ab7-11eb-8a17-8dd25a71f4af.png)

[2021-03-01 09:57] jingshanglu commented on #9494
@bestksl plz refer
[code]

[2021-03-01 09:58] jingshanglu commented on #9494
@bestksl `[]`:optional

[2021-03-01 10:02] VanPersies opened #9546 "When the SQL contains field 'row', Antlr4 will phrase the sql faile."
shardingsphere-jdbc-core version: 5.0.0-alpha

If the SQL contains field which named 'row', will throw the exception below:

Caused by: org.antlr.v4.runtime.NoViableAltException
	at org.antlr.v4.runtime.atn.ParserATNSimulator.noViableAlt(ParserATNSimulator.java:2026)
	at org.antlr.v4.runtime.atn.ParserATNSimulator.execATN(ParserATNSimulator.java:467)
	at org.antlr.v4.runtime.atn.ParserATNSimulator

[2021-03-01 10:13] terrymanu opened #9549 "Add test cases for datanode"
- [ ] Add test cases for class DataNode
- [ ] Add test cases for class DataNodes
- [ ] Add test cases for class DataNodeUtil

[2021-03-01 10:17] jingshanglu commented on #9546
@VanPersies `ROW` is a keyword in MySQL.

[2021-03-01 10:18] jingshanglu commented on #9546
@VanPersies You can use \`row\`.

[2021-03-01 10:55] VanPersies commented on #9546
got it , thank u~

[2021-03-01 12:13] #9546 closed

[2021-03-01 12:43] huanghao495430759 commented on #9549
please assign to me.

[2021-03-01 12:48] terrymanu opened #9553 "Add test cases for KernelProcessor"

[2021-03-01 12:51] terrymanu commented on #7482
@SamuelJohnson01997
Hi Samuel, it still open, please have a look, thank you.

[2021-03-01 12:53] terrymanu commented on #8179
Hi @dbhat6
Please go ahead

[2021-03-01 19:43] SamuelJohnson01997 commented on #7482
Hi @terrymanu, after this https://github.com/apache/shardingsphere/commit/89cc0a08c824daf67c88e6cbabaaa05f79886d06 commit, I think the CircuitBreak is moved as state and thus the respective code in MySQLComStmtExecuteExecutor and MySQLComQueryPacketExecutor is removed in the same commit. Should we be still adding the throwing part in  PostgreSQLComExecuteExecutor and PostgreSQLComQueryExecutor or

[2021-03-02 01:35] HoldDie commented on #9553
pls assgin me.

[2021-03-02 03:29] 805950337 opened #9559 "如何配置才能避免shardingjdbc的全局解析，A表不分库分表，但是A表执行语句会被解析，最终导致报错"
1.报错信息
![image](https://user-images.githubusercontent.com/47844125/109593097-542e0d80-7b4b-11eb-8a58-826c6a1ef63c.png)

2.执行语句
insert into t_order (USER_ID,CREATE_TIME)values(#{userId},now())
3.数据库结构
DROP TABLE IF EXISTS `t_order`;
CREATE TABLE `t_order`  (
  `ID` bigint(0) NOT NULL AUTO_INCREMENT COMMENT '主键',
  `USER_ID` bigint(0) NULL DEFAULT NULL COMMENT '用户ID',
  `CREATE_TIME` datetime(0) NUL

[2021-03-02 05:31] dpengjianjun commented on #9526
seata版本更新太慢了，官方强烈推荐1.4版本了

[2021-03-02 06:34] #9559 closed

[2021-03-02 06:35] yu199195 commented on #9559
pls in english

[2021-03-02 08:58] JiekerTime opened #9564 "DDL integration test occurred NullPointerException"
In the 5.0.0-RC1-SNAPSHOT DDL integration test, if the parameters of it.scenarios include all scenarios, it will cause a NullPointerException.
If your scenarios contains only one or exclude encrypt, it will work perfectly.
![image](https://user-images.githubusercontent.com/76552510/109623155-cfa5b400-7b77-11eb-94ca-489af3ec0b00.png)
Error screenshot：
![image](https://user-images.githubusercontent.

[2021-03-02 10:30] devfat commented on #9527
In code respect, the code  on `org/apache/shardingsphere/sharding/rule/single/SingleTableRuleLoader.java:65` is
`throw new ShardingSphereConfigurationException("Can not load table: ", ex.getMessage());`.
`ex.getMessage()` is return `java.lang.Throwable#detailMessage` ,  it looks right.

[2021-03-02 11:45] tristaZero opened #9568 "[New Feature] Support to show execution process for running SQLs by RQL"
Hi, community,

This is a new plan to support showing the execution process for running SQLs, especially for DML/DDL always needing much time to run. With my thinking, there are three main tasks for this new feature.

The basic process is **Job ID generation, job status report to governance, get current job status by SQL from governance**.

### Tasks
#### Generate Job IDs
- [x] Generate UUID for t

[2021-03-02 16:23] GLBB commented on #9527
hi, I have saw code.
in situation 1, cause by `setterMethod.get().invoke(result, entry.getValue());`, password type expect string type, I give integer type, my solution is when occur IllegalArgumentException, exception message contains yaml properties name.
occur exception code as follow:
[code]
I want modify to:
[code]
situation 2, I want to set origin cause exception look like more clear.

[2021-03-02 17:44] dbhat6 commented on #8179
@terrymanu I won't be able to take this up

[2021-03-03 02:42] rtj599 commented on #9336
it seems that my bad English led to your misunderstanding about what I have asked,I just care about when we can use a newer stable version than 5.0.0-alpha which have lower risk to be used in some important business situations.

[2021-03-03 03:01] xueshiji opened #9569 "Pagination problems"
**Which version of ShardingSphere did you use?**
5.0.0-alpha
**Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?**
ShardingSphere-JDBC
**Expected behavior**
Correct paging
**Actual behavior**
Wrong pagination, except for the first page
**Reason analyze**
When I use a paged query,It seems that the rewrite engine did not rewrite the paging parameters.
**Steps to reproduce the b

[2021-03-03 03:07] JiekerTime opened #9570 "Encrypt does not support DDL operation"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Expected behavior
After I configured the encrypt rules for t_user_details, if I use logical column name to perform some DDL operations, for example:
`CREATE TABLE t_user_details (user_id INT NOT NULL, pwd VARCHAR(45))`
It will execute DDL according to the configuration rules to generate the table as follows:
![image](https://

[2021-03-03 03:10] JiekerTime commented on #9564
The PR has been changed so that cannot be reproduced, so closed.

[2021-03-03 03:10] #9564 closed

[2021-03-03 04:18] tristaZero commented on #9527
Hi @devfat ,

Thanks for your comment. Yep, the programming is correct, and there is no bug, so I define this issue as a to-enhance or to-improve one.

@GLBB The solution looks just requiring a little change. Could you raise a PR for that? Plus, it is better to add a unit test for it.

[2021-03-03 04:45] #9520 closed

[2021-03-03 07:33] JiekerTime opened #9576 "SQL rewrites abnormally in Encrypt"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

Assertion fails when I try to execute  `SELECT * FROM t_user u INNER JOIN t_user_item m ON u.user_id=m.user_id`.
According to the log, the SQL was rewritten as follows and throwed some exception：
![image](https://user-images.githubusercontent.com/76552510/109769710-89168f00-7c35-11eb-8327-ba1672c16f7c.png)

Obviously, this is not

[2021-03-03 08:42] footmanFF commented on #9030
this feature is useful  :)

[2021-03-03 08:59] songyuequan commented on #9521
@terrymanu hi~  ShardingSphereRulesBuilder  is  not the implements of  ResourceAware .  should I add test cases In  ShardingSphereRulesBuilder  to   test if  all of "ShardingSphereRulesBuilder"  implement ResourceAware?   I feel confused.

[2021-03-03 09:42] yj951 opened #9578 "insert into table(xx,xx) select xx,xx from dual 。Error preparing statement. Cause: org.antlr.v4.runtime.misc.ParseCancellationException"
use version：5.0.0
database：mysql
question：insert into table(xx,xx) select xx,xx from dual 。 insert error
error info：no viable alternative at input 'select?,?,?fromdual'
nested exception is org.apache.ibatis.executor.ExecutorException: Error preparing statement.  Cause: org.antlr.v4.runtime.misc.ParseCancellationException

[2021-03-03 10:10] yu199195 commented on #9569
1. can you show the complete Logic SQL and  Actual SQL
2. can you show sharding-config or other config？

[2021-03-03 10:12] yu199195 commented on #9570
can you fix it？

[2021-03-03 10:16] yu199195 commented on #9578
can you show full sql？

[2021-03-03 10:22] jingshanglu commented on #9578
@yj951 It has been fixed, new version will be ok;

[2021-03-03 10:34] tuohai666 opened #9579 "CREATE TABLE failed in Encrypt mode"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-03 11:12] JiekerTime commented on #9570
https://github.com/apache/shardingsphere/issues/9579 is more detailed and that is the same as the current issue, so close the current issue

[2021-03-03 11:12] JiekerTime commented on #9570
I will try it.

[2021-03-03 11:40] #9413 closed

[2021-03-03 12:04] terrymanu opened #9580 "Consider about how to create single table if default sharding strategy existed"
It is impassable to create single table if if default sharding strategy existed for now.
It is better to create single table without sharding column in create table SQL.

[2021-03-03 14:09] yj951 commented on #9578
@jingshanglu  thanks

[2021-03-03 14:09] #9578 closed

[2021-03-03 14:24] yj951 opened #9582 "5.X auto-generate prime key"
for 4.x spring.shardingsphere.datasource.sharding.tables.tablename.key-generator.type=
           spring.shardingsphere.datasource.sharding.tables.tablename.key-generator.column=

for 5.x  How should I do it

[2021-03-03 15:54] GLBB commented on #9527
https://github.com/apache/shardingsphere/pull/9583

[2021-03-04 01:17] xueshiji commented on #9569
@yu199195
**1.the complete Logic SQL and Actual SQL**

Logic:`select * from ( select row_.*, rownum rownum_ from ( select loginfo0_.ZCTYPE as col_0_0_, loginfo0_.BIZCODE as col_1_0_, loginfo0_.GID as col_2_0_, loginfo0_.JID as col_3_0_, loginfo0_.KEY as col_4_0_, loginfo0_.OPERATOR as col_5_0_, loginfo0_.DJTSZT as col_6_0_, loginfo0_.DJTSSJ as col_7_0_ from DB.tablename loginfo0_ where loginfo0_.K

[2021-03-04 02:49] dengjin001 opened #9584 "shardingshere 5.0.0-alpha+springboot 2.3 : Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource"
yml:

[code]

resources/seate.conf:
[code]

error message:
[code]

[2021-03-04 03:00] #8060 closed

[2021-03-04 03:02] #8172 closed

[2021-03-04 04:09] devfat commented on #9582
See the details on [User Manual](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/sharding/)

[2021-03-04 04:09] menghaoranss opened #9586 "Refactor DDL lock"
- [x] 1. Remove DDL lock for proxy without governance
- [x] 2. Decouple ExecutionEngine and DDL lock
- [x] 3. Refine the granularity of DDL lock to table

[2021-03-04 04:15] hylyLLL commented on #7357
@lianghuaibin Caused by: java.sql.SQLException: null
at org.apache.shardingsphere.shardingjdbc.jdbc.adapter.executor.ForceExecuteTemplate.throwSQLExceptionIfNecessary(ForceExecuteTemplate.java:56) ~[sharding-jdbc-core-4.0.1.jar:4.0.1]

請問你解決了嘛？

[2021-03-04 06:16] tristaZero opened #9587 "Twice event post when refresh schema metadata"
### Problem

If users execute DDL queries, in some cases, there is the possibility that ShardingProxy may post two `refresh` events.
One is a more specific event, like `DropTableEvent`, and another one is `SchemaAlterEvent`.

I am unsure whether it is necessary to post two events together. Besides, there is only a single event is posted in other cases like `AlterTableStatementSchemaRefresher`.

##

[2021-03-04 06:17] JiekerTime commented on #9579
The cause of https://github.com/apache/shardingsphere/issues/9576 is the same as the current problem, which is caused by the RouteContext failing to obtain the expected value.
But the current problem occurs in CreateTableStatementSchemaRefresher.refresh：
![Uploading image.png…]()

[2021-03-04 06:35] sanmusee commented on #2831
wo ye yu dao le zhe ge bug: "missing right paren",  but sql ming ming jiu shi zheng que de.

[2021-03-04 07:12] yu199195 commented on #9584
1. can you see  this : https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/

2. pls  format you yaml file.

[2021-03-04 07:17] tristaZero commented on #9579
Appended here,

Two pieces of work are needed to support `create encrypt table` with `encrypted rule`.
This issue **just focuses on** `refresh` one, and #9570 is for `rewrite`.

[2021-03-04 07:22] tristaZero commented on #9576
Please look at the case in `shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/cases/dql/dql-integration-test-cases.xml` (``).

[2021-03-04 09:07] tristaZero commented on #9497
Done.

[2021-03-04 09:07] dengjin001 commented on #9584
@yu199195 ok, I just want to replica query,but  the problem remains .i don't know if config error

[2021-03-04 09:08] #9497 closed

[2021-03-04 09:23] yu199195 commented on #9584
can you add  this is you pom.xml

[code]

2. you pom.xml  add other datasource starter?

[2021-03-04 09:33] tuohai666 opened #9590 "Refactor the features of shardingsphere-replica-query and shardingsphere-ha"
The concept **Source to Replica Replication** (called Primary Secondaries or Master Slave previously) and MGR (MySQL Group Replication) relate to the function **Replication**.

The **shardingsphere-replica-query** module mainly splits read and write queries and routes to different data sources. There's no replication function in this module. So the name shardingsphere-replica-query or shardingsphe

[2021-03-04 09:53] sandynz commented on #9580
Hi, I'd like to have a try.
Is there example of the sceranio?

[2021-03-04 12:01] Suny95 opened #9592 "mybatis-plus call the baseMapper.saveBatch(List<XXX> list) can't return the database auto increment id"
![image](https://user-images.githubusercontent.com/26239751/109961053-70d16d80-7d24-11eb-8578-eb204431588a.png)
Until use ShardingSphere, everything is fine

[2021-03-04 15:51] duanzonglong opened #9594 "marked as broken because of SQLSTATE(08S01),"
## Bug Report

sharding proxy warn log

[2021-03-04 19:21:31.827] [ShardingSphere-Command-4] [WARN ] com.zaxxer.hikari.pool.ProxyConnection - HikariPool-3 - Connection com.mysql.jdbc.JDBC4Connection@5bcd93ee marked as broken because of SQLSTATE(08S01), ErrorCode(0)
com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure
        at sun.reflect.NativeConstructorAccessorI

[2021-03-05 01:05] dengjin001 commented on #9584
i remove  aop, the problem remains

pom.xml

[code]

[2021-03-05 01:58] huanghao495430759 opened #9596 "DataNode constructor 'DataNode(final String dataNode)' may be throw invalid Exception when the args 'dataNode' without db name or table name"
## Bug Report

As the title

### Which version of ShardingSphere did you use?
shardingshpere-5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior

### Actual behavior

### Reason analyze (If you can)

when I  create a new DataNode instance as:
`
new DataNode("db.");
new DataNode(".table");
`
It can work normally，bu

[2021-03-05 02:49] yu199195 commented on #9584
try remove this, maybe you mybatis plus  was a conflict
[code]

[2021-03-05 07:25] hongshunanhai commented on #7933
I encounter this problem when I use sharding-jdbc-spring-boot-starter:4.1.1, my project is  spring boot 2.2.12.RELEASE with the mybatis plus: mybatis-plus-boot-starter:3.4.2, how did you resolve this problem?

[2021-03-05 09:12] yu199195 commented on #9538
all fix， close it

[2021-03-05 09:12] #9538 closed

[2021-03-05 09:17] yu199195 commented on #9594
connectionTimeout ， the connection will close.
1. you should check why  time out？
2. have slow query?
3. a transaction lock?  or otherlock?

[2021-03-05 09:18] yu199195 commented on #9592
Hi,now we not support.

[2021-03-05 22:14] Liangda-w commented on #9426
Hello @tristaZero, I'm quite interested in COMDEV-399 would like to have a try on this issue:)

[2021-03-06 05:03] #9576 closed

[2021-03-06 11:54] #9594 closed

[2021-03-06 13:44] sandynz opened #9602 "Support object array insertion for PostgreSQL proxy"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit: a3bd7b60787d3ea104251002f582aabdf876fbc7

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No exception thrown and data inserted

### Actual behavior
exception caught:
[code]

### Reason analyze (If you can)
array protocol is not supported for now

###

[2021-03-06 18:14] Liangda-w commented on #9426
Hi @tristaZero and @ThanoshanMV, I'm facing the following exception when running `SQLParserParameterizedTest`:

[code]
Below the Run/Debug Configuration. I've also tried to mark the `java` directory as Test Resource Root and the `resource` directory as Test Resources Root, but it still shows the warning that `SQLParserParameterizedTest` isn't a test class. Do you have any ideas how to fix this?

!

[2021-03-07 03:25] wgy8283335 opened #9604 "Why are the keywords treated as the identifier?"
## Why are the keywords treated as the identifier?

Since the rule identifier is specified as IDENTIFIER_, why add unreservedWord in the identifier?
The unreserved words are the subset of the IDENTIFIER.
[code]
![image](https://user-images.githubusercontent.com/22066046/110227845-45729c80-7f37-11eb-9ed4-391c1fb8fbdf.png)

[2021-03-07 07:07] wgy8283335 commented on #5659
Hi @tristaZero, could you put the video links of these meetings or sharing sessions in this issue?
Because some videos are hard to be found.

[2021-03-07 11:43] tristaZero commented on #9426
@Liangda-w ,

Welcome. :)
I saw your PR,  did you fix the issue you mentioned?

[2021-03-07 12:11] tristaZero commented on #5659
@wgy8283335 ,

I will follow your suggestion for our later activities.

[2021-03-07 15:22] #9527 closed

[2021-03-08 01:39] Liangda-w commented on #9426
@tristaZero,

thank you! Yes, I did fix this issue by reinstalling JUnit! :)

[2021-03-08 02:58] jingshanglu commented on #9604
@wgy8283335 Unreserved words can be used as variable name.

[2021-03-08 09:32] mingqing6364 opened #9607 "ShardingProxy5.0 can't register slave db at zookeeper3.6"
### Which version of ShardingSphere did you use?
ShardingSphere-Proxy5.0

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy5.0 + mysql5.7.33 + zookeeper3.6

### Expected behavior
When sharding-Proxy is running,the zookeeper have this note:
/${your_zk_namespace}/states/datanodes/${your_schema_name}/${your_replica_datasource_name}

### Actual behavior
z

[2021-03-08 10:10] #5301 closed

[2021-03-08 10:24] JiekerTime opened #9608 "The name of the column in the encrypt scene is confused"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Expected behavior
According to the current code logic, columnName and columnLabel should be consistent：
![image](https://user-images.githubusercontent.com/76552510/110307843-5952f700-803a-11eb-94b1-3c89d8bb72c1.png)
The relevant logic is located at QueryHeaderBuilder.build

### Actual behavior
They are deferent.
![image](http

[2021-03-08 13:03] terrymanu opened #9610 "Support DDL for encrypt"
Support DDL for encrypt,

We need to rewrite DDL with encrypt columns, just add new TokenGenerators which in package `org.apache.shardingsphere.encrypt.rewrite.token.generator.impl`.

Please add new TokenGenerators with:

- [x] CREATE TABLE
- [x] ALTER TABLE

Ref #9579 and #9570

[2021-03-08 13:14] tuohai666 opened #9611 "XA transaction failed when 'commit' is in PreparedStatement"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-08 13:24] zjcnb commented on #9610
hello, i want to try it

[2021-03-08 14:18] tristaZero opened #9613 "[Summer 2021] is coming, welcome students on board."
Hi everyone,

[Summer 2021](https://summer.iscas.ac.cn) is coming, which is an activity to encourage students to join the open-source community. ShardingSphere, as a diverse open-source community, will continue to attend this project as the mentoring organization this year.

[Email thread](https://lists.apache.org/thread.html/rfa26576b1836b9a2d5e053c921c00fa629be2bbde83abee1449526fb%40%3Cdev.shard

[2021-03-09 02:20] wgy8283335 commented on #9604
So, should all of the keyWords be put in the 'unreservedWord' rule?

[2021-03-09 02:47] tristaZero opened #9614 "How to create sharing tables and single tables with the default sharing strategies"
### Background
As you know, `default database strategy` and `default table strategy` are designed to help users configure sharing table rules efficiently. That is, users can create a sharing table without specific table rules.
However, we still have the concept of `the single table`.
So the question is, what type of table will be created suppose there are database and table sharding strategies?

#

[2021-03-09 03:30] arthasking123 commented on #9610
hello, i want to try it

[2021-03-09 06:24] footmanFF commented on #9030
have a look at this page:

https://shardingsphere.apache.org/document/legacy/4.x/document/cn/manual/sharding-proxy/usage/

sctl:explain is explain

[2021-03-09 09:02] JiekerTime opened #9615 "INNER JOIN causes IndexOutOfBoundsException in encrypt scenario"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Behavior
`SELECT * FROM t_user u INNER JOIN t_user_item m ON u.user_id=m.user_id` causes IndexOutOfBoundsException.

### Reason analyze (If you can)
![image](https://user-images.githubusercontent.com/76552510/110443830-510cc180-80f7-11eb-8ef4-c9ed38983e23.png)
The projection doesn't contain t_user_item.

That's because t_user

[2021-03-09 10:37] tuohai666 opened #9616 "Improve performance of Proxy by increase prepStmtCacheSize"
For now the prepStmtCacheSize is 250. Much more time will be cost when the prepared statements count is over this size. The effect is significant.

After I increase the prepStmtCacheSize, the qps of oltp_point_select is increased by 12% (from 77853 to 87284).

![image](https://user-images.githubusercontent.com/24643893/110457440-9afca400-8105-11eb-92c5-b395a4357a7b.png)

If a preparedStatement is

[2021-03-09 11:29] terrymanu opened #9617 "Load columns for all tables into metadata"
We load rules configured tables into metadata with columns and table name only for un-configured tables now.
By product design, it is necessary to load all columns for every table.

Load all columns are too slow if using raw JDBC interface. We should create a new SPI for quickly load columns via raw database way, such as load metadata via `information_schema` for MySQL.

The tasks are:

- [x] Crea

[2021-03-09 12:12] #9616 closed

[2021-03-09 12:59] avalon5666 commented on #9607
Under replica query scenarios, you should ensure that at least one data node is available.

[2021-03-10 01:40] dengjin001 opened #9621 "update sql error log: No value specified for parameter 1"
sharding 4.1.1+seata 1.4

error  log:
[code]

[2021-03-10 01:56] qwy1289500966 opened #9622 "mismatched input 'WITH' expecting {SELECT, INSERT, UPDATE, DELETE, CREATE, ALTER, DROP, TRUNCATE, GRANT, REVOKE, SET, BEGIN, COMMIT, ROLLBACK, SAVEPOINT, CALL, START, RESET, SHOW}"
sharding-jdbc-spring-boot-starter version is  '4.0.0', log show :
Unsupported SQL of  `WITH  RECURSIVE  r  AS (
    SELECT * FROM district WHERE "id" = ?
    UNION ALL
    SELECT district.* FROM district, r WHERE district."id" = r.parent_id
    )
    SELECT * FROM r`

how to recursive query?

[2021-03-10 03:46] menghaoranss opened #9623 "Persistent configurations to local file after configuration changes in the registry center"
We can use [RDL](https://shardingsphere.apache.org/document/current/en/features/dist-sql/rdl/) in proxy to define data source resources and rules now,  and these configurations will be persisted in the registry center.
We consider persisting the configuration to the local file when the configuration changes to prevent configuration
loss when the registry center fails.

The task can be divided into

[2021-03-10 04:33] dengjin001 commented on #4822
sharding 4.1.1 same the problem,  is there a solution?

[2021-03-10 06:09] menghaoranss commented on #9623
refer #9613

[2021-03-10 08:13] JiekerTime opened #9625 "SqlToken Error occured in a mixed scenario of Encrypt and Sharding"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Expected behavior
Complete query normally

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/110587337-80cad080-81ae-11eb-9d5b-cd37373f9cee.png)

### Reason analyze (If you can)
SqlToken did not do sharding：
![image](https://user-images.githubusercontent.com/76552510/110590764-313ad380-81b3-11eb-

[2021-03-10 09:08] Bin5554 commented on #9592
Do you support batch saving to return primary keys?

[2021-03-10 09:20] Bin5554 commented on #9592
Is there a solution to this situation?

[2021-03-10 11:05] Emitswang opened #9628 "Sharding-proxy：a slew of 'config-' files cause proxy start takes a long time"
## Feature Request

Request to optimize the startup speed for a slew of  'config-'  files

### Is your feature request related to a problem?

In my case, there are 2000 schema config files, it's the same configuration and just have diffrent schemaName and jdbcUrl.

For each schema config file load, it need about 500ms, so the proxy will spent about 20min to start.

It's necessary to optimize the l

[2021-03-10 11:38] avalon5666 commented on #9607
Config another replica ds same as primary ds.

[2021-03-10 13:40] avalon5666 commented on #9621
It seems that seata executed incorrect SQL or parameters.

[2021-03-10 13:52] avalon5666 commented on #9622
Can you try the latest version?

[2021-03-10 14:40] huanghao495430759 commented on #9510
I want to try it.

[2021-03-11 02:15] dengjin001 commented on #9621
two methods have add  @GlobalTransactional,  remove one @GlobalTransactional,  seems to be ok,
``` sharding-transaction-base-seata-at ```  4.1.1   seata 1.4.0

[2021-03-11 02:52] avalon5666 commented on #9621
According to the exception stack, please check the seata first.

[2021-03-11 05:41] wgy8283335 commented on #9604
Thank you. And what kind of keywords should be unreserved words?

[2021-03-11 05:56] jingshanglu commented on #9604
@wgy8283335 Each DB has its own list of reserved words, such as [MySQL](https://dev.mysql.com/doc/refman/8.0/en/keywords.html)

[2021-03-11 06:46] tristaZero commented on #9628
Hi @Emitswang ,

Thanks for your feedback. Let us discuss more to work out whether we can accelerate the startup.

There are two concerns from your description, I suppose.
1. Lessen the configuration files
2. Improve the startup speed

I will keep my opinion about the first one since we always need to balance configurations' simplification and independence.
Next, let us look at the second one. I a

[2021-03-11 06:51] #9426 closed

[2021-03-11 09:03] terrymanu commented on #9610
Welcome, I just assigned the issue, we can discuss here.

[2021-03-11 09:17] wavelet123 opened #9634 "sharding tables error when insert"
Hi Team
We are using sharding proxy to shard 1000 tables in one database,but when we are running insert statement,we got the following errors,could you please advise?

[ERROR] 11:09:27.161 [ShardingSphere-Command-4] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.IllegalStateException: no database route info

[code]

Thanks

[2021-03-11 09:20] terrymanu commented on #9634
Could you provide log of `sql-show`?

[2021-03-11 09:21] wavelet123 commented on #9634
This is the only error:
[ERROR] 11:09:27.161 [ShardingSphere-Command-4] o.a.s.s.f.c.CommandExecutorTask - Exception occur:
java.lang.IllegalStateException: no database route info
        at com.google.common.base.Preconditions.checkState(Preconditions.java:173)
        at org.apache.shardingsphere.sharding.route.engine.type.standard.ShardingStandardRoutingEngine.routeDataSources(ShardingStandardRo

[2021-03-11 09:22] wavelet123 commented on #9634
mysql> insert into t_accountfriend(FFirstAccountID,FSecondAccountID,FGroupType,FIsDeleted,FCreateTime,FModifyTime)values(1013421,1013422,2,0,now(),now());
ERROR 10002 (C1000): 2Unknown exception: [no database route info]

[2021-03-11 09:24] wavelet123 commented on #9634
select count(*) from t_accountfriend;
+----------+
| count(*) |
+----------+
|    83103 |
+----------+
select is ok

[2021-03-11 10:12] tristaZero commented on #9590
Hi, here is another solution for consideration

[code]

Notes,
- `HA` and `REPLICA_QUERY` need new names
- `ds_1` is an example for using `HA` and `REPLICA_QUERY` togather
- Remove `name` and `replicaQuery` of `HA` rule

[2021-03-11 10:40] Emitswang commented on #9628
Hi @tristaZero

I'm glad that my suggestion has been accepted. For the first point, let me briefly explain the background.

Previously, we have implemented the rule of sharding through mybatis interceptor at the business application level. That is to say, the SQL currently applied to the proxy layer is in the form of `select * from sharding_13_25_db.t_sharding_table_1 where uid =13000251`.

Curren

[2021-03-11 11:17] Sanford2020 opened #9636 "proxy 怎么接入配置中心 阿波罗，有最佳实践吗"
全网没有找到任何配置中心接入的文章

[2021-03-11 11:59] footmanFF opened #9637 "error sql route when select concurrently"
### the full test case I use

https://gitee.com/footmanff/sharding-jdbc-demos/blob/master/sharding-jdbc-3.1.0-bug-test/src/main/java/com/footmanff/sharding/jdbc/sample/Test1.java

### information

version：3.1.0
project：sharding-jdbc

### logic sql
[code]
### db and table

I use two DB, sharding_jdbc_demo_db0 and sharding_jdbc_demo_db1：

#### sharding_jdbc_demo_db0：
[code]
#### sharding_jdbc_demo_d

[2021-03-11 12:04] terrymanu commented on #9636
**For English only**, other languages will not accept.

[2021-03-11 12:04] #9636 closed

[2021-03-11 12:09] footmanFF commented on #9637
this module contain all ths source I test.

https://gitee.com/footmanff/sharding-jdbc-demos/tree/master/sharding-jdbc-3.1.0-bug-test

see Test1.t1

[2021-03-11 12:23] sandynz commented on #9614
Some scenerios are verified, test tables : `ta` and `tb`:
- In `config-sharding.yaml`, `ta` is configured including `actualDataNodes`, `tb` is not configured, whether default database/table strategy is configured or not, sharding tables will be created for `CREATE TABLE ta (id bigint)`, single table will be created for `CREATE TABLE tb (id bigint)`

According to source code and testing, in order t

[2021-03-11 14:36] avalon5666 commented on #9637
Fix after 4.0.0.M1, #1967

[2021-03-11 14:57] footmanFF commented on #9637
ok .....

[2021-03-11 14:57] footmanFF commented on #9637
ok .....

[2021-03-11 14:57] #9637 closed

[2021-03-12 01:35] GeniusQ commented on #234
广东达信智慧云科技有限公司 http://www.gddxit.com/
昆明市自来水客户营销平台

[2021-03-12 02:28] tristaZero commented on #234
Welcome. : )

[2021-03-12 03:09] #9614 closed

[2021-03-12 03:50] tristaZero commented on #9628
Hi @Emitswang ,

Thanks for your detailed explanation, which helps me get an all-sided view of your case.
I guess ShardingSphere can solve your sharding need by like `HINT` or extra configuration, but that will also bring a burden to your business code. That's fine to pick up whatever solutions you like.

Here are the response to your questions,
1. I guess we already reach a conclusion on `build()

[2021-03-12 04:00] tristaZero commented on #5659
![WechatIMG48](https://user-images.githubusercontent.com/27757146/110890235-9402ab00-832a-11eb-8bbc-0e9a87a2776c.jpeg)

[2021-03-12 09:26] daocaorenbao commented on #8571
问题怎么解决的

[2021-03-12 10:07] sandynz commented on #9617
Hi, I'd like to try PostgreSQL dialect.

[2021-03-12 12:08] huanghao495430759 commented on #9510
I think we can refactor SubstitutableColumnNameToken to implement  RouteUnitAware.

[2021-03-12 12:29] yu199195 opened #9653 "Add JAVA-API each versions of the document"
Hi，all communities

Could you do me a small favor? We need to do a summary of the historical version of the document，So I created this task.

you  can see this :

 [chang-history-cn](https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/configuration/java-api/change-history.cn.md)

[chang-history-en](https://github.com/apache/shardingsphere/blob

[2021-03-12 12:32] yu199195 opened #9654 "Add spring-boot-starter each versions of the document"
Hi，all communities

Could you do me a small favor? We need to do a summary of the historical version of the document，So I created this task.

you  can see this :

 [chang-history-cn](https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/change-history.cn.md)

[chang-history-en](https://github.com/apache/sharding

[2021-03-12 12:34] yu199195 opened #9655 "Add spring namespace each versions of the document"
Hi，all communities

Could you do me a small favor? We need to do a summary of the historical version of the document，So I created this task.

you  can see this :

 [chang-history-cn](https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/configuration/spring-namespace/change-history.cn.md)

[chang-history-en](https://github.com/apache/shardingsph

[2021-03-12 12:35] yu199195 opened #9656 "Add Yaml each versions of the document"
Hi，all communities

Could you do me a small favor? We need to do a summary of the historical version of the document，So I created this task.

you  can see this :

 [chang-history-cn](https://github.com/apache/shardingsphere/blob/master/docs/document/content/user-manual/shardingsphere-jdbc/configuration/yaml/change-history.cn.md)

[chang-history-en](https://github.com/apache/shardingsphere/blob/mas

[2021-03-12 12:50] asxing commented on #9656
1

[2021-03-12 12:52] xiaoshen11 commented on #9653
get it

[2021-03-12 13:07] totalo commented on #9654
Get it!

[2021-03-12 13:28] cwangtf commented on #9655
get it

[2021-03-12 13:28] #9615 closed

[2021-03-12 15:07] Liangda-w commented on #9604
Hi @jingshanglu, @wgy8283335

I'm a also a little bit confused by `unreservedWord`. [Here ](https://docs.oracle.com/cd/B19306_01/em.102/b40103/app_oracle_reserved_words.htm)I've found the list of reserved words in Oracle, however some of them appear in our `unreservedWord` (for example `ROLE`, `UNUSED`.... which are also defined in OracleKeyword.g4). Should we actually delete those words to keep i

[2021-03-12 15:31] wordKuaiLei commented on #9617
Hi, I'd like to try   index metadata loading for MySQL dialect.

[2021-03-13 01:35] Suny95 commented on #9592
When will it be supported

[2021-03-13 08:12] tristaZero commented on #9628
Hi,

If Sharding feature has no meaning to you, why do you still need read-write-splitting feature? You can still directly configure with that in business code, right?

[2021-03-14 15:12] GLBB opened #9663 "Recommend ShardingProxy Use G1 Garbage Collector"
In JDK9 or higher, CMS was removed, I think g1/zgc better than cms.

[2021-03-15 02:40] Emitswang commented on #9628
Hi, @tristaZero

1. We need to use Sharding feature, we need to divid the data into 10 different DB instance have different  jdbcUrl.
2. We have tried JDBC mode, but there are too many connects , there is a waste of resources, and the overall architecture is relatively complex.
3. We will eventually refine the configuration to a standard configuration file with sharding feature, but it will take a

[2021-03-15 03:10] neil4dong commented on #9617
Is it possible to load metadata concurrently? when the amount of table is huge ex. 1000+ tables,  loading meatedata
 be come really slow. @terrymanu

[2021-03-15 04:17] terrymanu commented on #9663
Could provide performance test report of change garbage collector?

[2021-03-15 04:23] terrymanu commented on #9617
It has already load meta data concurrently

[2021-03-15 04:56] #9553 closed

[2021-03-15 05:28] wgy8283335 opened #9668 "ORACLE SQL 'IDENTIFIER_' rule is not correct in Literals.g4"
## Bug Report

ORACLE SQL 'IDENTIFIER_'  rule is not correct in Literals.g4

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-sql-parser
### Expected
IDENTIFIER_:[A-Za-z_$0-9]*?[A-Za-z_$]+?[A-Za-z_$0-9]*;
### Actual
IDENTIFIER_:[A-Za-z]+[A-Za-z_$#0-9]*;

[2021-03-15 05:28] wgy8283335 commented on #9668
@Liangda-w
[SQL Definition Collation][Oracle]Collate the SQL definition of SET ROLE #9603

[2021-03-15 05:30] #9655 closed

[2021-03-15 05:44] tuohai666 commented on #9663
@GLBB Can you show the parameters for the G1 Garbage Collector you recommand?

[2021-03-15 05:44] linchers commented on #9024
The same problem occurs when two identical tables appear in an SQL statement

[2021-03-15 05:54] terrymanu commented on #9570
Duplicate with #9610

[2021-03-15 05:54] #9570 closed

[2021-03-15 05:54] terrymanu commented on #9579
Duplicate with #9610

[2021-03-15 05:54] #9579 closed

[2021-03-15 06:53] linchers commented on #8359
Has this problem been solved?

[2021-03-15 07:05] tristaZero commented on #9634
Hi @wavelet123

1. Which version is running in your case?
2. It looks like SS did not locate the database for this table. Which SQL triggered this exception?
3. Could you set `SQL-show` = true in the configuration file? Therefore we can get more details about your issue.

Thanks

[2021-03-15 07:33] wavelet123 commented on #9634
Hi tristaZero ,
1.We are using 4.1.1.
2.The following sql triggered this exception
insert into t_accountfriend(FFirstAccountID,FSecondAccountID,FGroupType,FIsDeleted,FCreateTime,FModifyTime)values(1013421,1013422,2,0,now(),now());
3.  sql.show: true has been set in server.yaml,do we need to set SQL-show = true in config-sharding.yaml?

Thanks

[2021-03-15 09:08] Liangda-w commented on #9668
Hi @wgy8283335,
Your suggestion won't work properly, because if you put `PASSWORD_` before `IDENTIFIER_`, many words like for example `abc123` will be assigned `PASSWORD_` first instead of `IDENTIFIER_`, which breaks the rule for other SQL 🤔

An example with `PASSWORD_`:
![parseTree](https://user-images.githubusercontent.com/66914151/111127913-9eb08080-8574-11eb-8bc5-f45d284942a8.png)

Why do you

[2021-03-15 09:48] yuyu414 opened #9673 "求解：资金流水分表的技术方案"
我有一个电商资金流水的查询场景
用户可以在我们的平台上买东西购物，每买一单会产生一条A用户的购买记录，其中这条记录里面包含了品牌id字段，日均5千万条记录左右，这时候有个场景，A、B、C....用户查询自己的购买流水记录，平台后台结算时候各个品牌(大概有五千家品牌入驻)要查询各自对应的用户流水记录。
为了满足这个如何分表比较好？

[2021-03-15 11:32] yu199195 opened #9675 "ShardingSphere-Agent Add OpenTelemetry plugin（Open Source Promotion Plan - Summer 2021）"
Hi ，good guys

Welcome to the Shardingsphere community， in this  Task，As a mentor, I will guide you to complete the development of SharingSphere-Agent plugin。You must worry, this is a very simple task, if you would like to talk with me。Before that, you should know ByteBuddy, SPI, Java Agent, etc。

Task List

- [ ] add OpenTelemetry plugin
- [ ] add test unit
- [ ] add integration test for docker

[2021-03-15 11:47] #9673 closed

[2021-03-15 15:19] terrymanu opened #9679 "Use single SQL to load index names for MySQL meta data loading"
There are multiple SQLs via table name to load index names.
Please use single SQL to load index names for MySQL meta data loading.

The class is `MySQLTableMetaDataLoader`

[2021-03-15 15:23] wordKuaiLei commented on #9679
Hi i want to claim

[2021-03-15 15:24] terrymanu commented on #9679
@wordKuaiLei Great, I just assign to you

[2021-03-15 16:08] totalo commented on #9675
Hello, can I give it a try?

[2021-03-16 01:48] #9602 closed

[2021-03-16 02:41] zhujunxxxxx commented on #9617
Hi, I'd like to try H2 dialect.

[2021-03-16 02:44] zhujunxxxxx commented on #9617
I just finished optimizing this metadata load and you raised an ISSUE

[2021-03-16 04:07] xhkyyy opened #9682 "best practices for sharding-proxy using Apollo"
## Question

#### Which version of "sharding-proxy" did you use?

`sharding-proxy` ：4.1.1

#### Question

When using Apollo as a Configuration Center, what is the best solution if the configuration of the Datasource or Sharding-Rule is complex and exceeds the maximum length of the Value?

------------------------

| key  | value
| ------------- | ------------- |
| {OrchestrationName}.config.schema

[2021-03-16 04:57] zhkj0001 opened #9683 "Data was inserted into inccorect table"
Dear team,
I'm sorry to report a problem here, To be honest , i have not searched all issues here, Our team met a problem when we are using shardingSphere to insert data into a logical table.
The problem is that we have 23 physical table and one logical table. We try to insert data through logical table and every data has proper shardingColumn, but finally there were few data inserted into another

[2021-03-16 05:09] zhkj0001 commented on #9683
The following is the configuration:
tpg_record:
          actualDataNodes: master.tpg_record_$->{['KY','Joker']}
          tableStrategy:
            inline:
              shardingColumn: thirdparty_platform
              algorithmExpression: tpg_record_$->{thirdparty_platform}

[2021-03-16 05:59] totalo commented on #5434
such as : MMM 、MHA、MGR、read view、next-key、

[2021-03-16 06:18] jingshanglu commented on #9604
I think we should correct `unreservedword` according to the official list. @Liangda-w @wgy8283335

[2021-03-16 06:57] cnlinjie commented on #3774
in 4.1.1 shill have this problem.....

😔😔😔

[2021-03-16 06:57] terrymanu commented on #9587
Sure, the `SchemaAlterEvent` is general event which for persist schema meta data only.
The `DropTableEvent` is for additional operation with delete single table rule from sharding rule.
The both events are necessary.

[2021-03-16 06:57] #9587 closed

[2021-03-16 07:00] cnlinjie commented on #3774
@SteNicholas

[2021-03-16 07:03] cnlinjie opened #9684 "How Can I config To Use DatabaseHintRoutingEngine"
#3774

in 4.1.1 shill have this problem.....

[2021-03-16 08:04] pdyg commented on #7347
It seems that the primary key is not set to increase by itself. Please check

[2021-03-16 08:06] pdyg commented on #7347
![image](https://user-images.githubusercontent.com/18324792/111275740-6cd11400-8671-11eb-8c33-bd29255a4035.png)
![image](https://user-images.githubusercontent.com/18324792/111275772-78243f80-8671-11eb-97d8-8200445558aa.png)
@pengliaoye

[2021-03-16 08:08] pdyg commented on #7347
The column name of the data table does not conform to the specification .It can also lead to the whole mistake

![image](https://user-images.githubusercontent.com/18324792/111275970-c1748f00-8671-11eb-90fd-6ac07ca7788e.png)

[2021-03-16 08:21] cnlinjie commented on #5970
@terrymanu
发现你们只会关问题，他提的那么清楚了，
[code]
这个不会生效，也就是不会调用到 AnnotationHintShardingAlgorithm

只会回避问题而不是修复问题的话，那issues 拿来干嘛用呢？

[2021-03-16 11:39] #9656 closed

[2021-03-16 11:55] tuohai666 opened #9693 "Cast Exception in MySQLStatementSQLVisitor"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-16 14:03] hanjinxing opened #9694 "oracle no viable alternative at input 'DROPPARTITION'"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-16 14:06] cnlinjie opened #9695 "ShardingSphere 4.1.1 ,HintShardingAlgorithm invalid"
## Bug Report

 ### Which version of ShardingSphere did you use?
[code]
### Expected behavior

config:
[code]

When executing sql,  enter the `doSharding` method of DatabaseHintShardingAlgorithm

### Actual behavior

Not Executed .

### Reason analyze (If you can)
![image](https://user-images.githubusercontent.com/3601638/111322212-a589e100-86a3-11eb-8bd4-84bf9497b301.png)

![image](https://user-i

[2021-03-16 15:04] cnlinjie commented on #9695
example: https://github.com/cnlinjie/shardingspheredemo

[2021-03-16 15:10] #9684 closed

[2021-03-16 15:10] cnlinjie commented on #9684
#9695

[2021-03-16 15:11] cnlinjie commented on #9695
@terrymanu
@tristaZero

[2021-03-16 15:38] sandynz commented on #9602
Usage example:

Table schema:
[code]

Java code example:
[code]

[2021-03-17 02:58] #9653 closed

[2021-03-17 03:13] avalon5666 opened #9697 "Realizing automatic standard process through github actions."
- [ ] Automatically publish docs to [shardingsphere-doc](https://github.com/apache/shardingsphere-doc) repository when released.
- [ ] Automate the issue standard handling process.
- [ ] Automatically publish image to docker registry when released.

[2021-03-17 03:52] wgy8283335 commented on #9604
@jingshanglu
To add words into unreservedWord, shall we follow this link "https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Oracle-SQL-Reserved-Words.html#GUID-55C49D1E-BE08-4C50-A9DD-8593EB925612"?

[2021-03-17 04:03] linchers commented on #6693
org.apache.shardingsphere.sharding.route.engine.type.unconfigured.ShardingUnconfiguredTablesRoutingEngine#findDataSourceName
 `    private Optional<String> findDataSourceName() {
        for (Entry<String, Collection<String>> entry : unconfiguredSchemaMetaDataMap.entrySet()) {
            if (entry.getValue().containsAll(logicTables)) {
                return Optional.of(entry.getKey());

[2021-03-17 05:08] #9679 closed

[2021-03-17 05:34] terrymanu commented on #9617
Cool，I just assign to you

[2021-03-17 06:10] wgy8283335 commented on #9668
Good, I agree with you.

[2021-03-17 06:10] #9668 closed

[2021-03-17 06:32] tristaZero commented on #9695
What's the SQL?

[2021-03-17 11:07] tristaZero commented on #9568
## The details about the remaining work

### Report execution process from one Proxy
When one Proxy receives the SQL queries from users, it will evaluate whether to report this query execution status to governance in `ExecuteProcessEngine`. You can find where this class is called to track its flow path.
Currently, the public functions of `DriverJDBCExecutor` has basically finished the relevant fun

[2021-03-17 12:05] sandynz commented on #9568
Hi, I'd like to have a try.

[2021-03-17 12:46] LutzWeischerFujitsu opened #9710 "build fails on AArch64, Fedora 33"
[jw@cn05 shardingsphere]$ ./mvnw install -Prelease -DskipTests
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.name: linux
[INFO] os.detected.arch: aarch_64
[INFO] os.detected.ve

[2021-03-17 13:57] cnlinjie commented on #3806
@terrymanu
You will only close

[2021-03-17 15:14] lwz666666 opened #9711 "about actual_data_node"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-03-18 03:37] #9549 closed

[2021-03-18 04:06] dinofei opened #9712 "sharding-proxy HikariPool-1 - Failed to validate connection Possibly consider using a shorter maxLifetime value"
我怎么感觉数据源的连接池配置不生效呢，已经配置maxLifetimeMilliseconds: 10000了，日志还是报HikariPool-1 - Failed to validate connection Possibly consider using a shorter maxLifetime value  这个错误. sharding-proxy一段时间后进程会挂掉，不知道和这个有没有关系。

[2021-03-18 04:19] xxping opened #9714 "We plan to use the shardingsphere-proxy middleware and use keyGenerateStrategy to generate the distributed ID when creating DML. How do I get the ID?"
## Question

We plan to use the shardingsphere-proxy middleware and use keyGenerateStrategy to generate the distributed ID when creating DML. How do I get the ID?By the way,Our client language is php.
thanks

[2021-03-18 05:22] JiekerTime opened #9719 "There two problems occured in single table"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy and ShardingSphere-JDBC

### Expected behavior
![image](https://user-images.githubusercontent.com/76552510/111575055-98c2d580-87e8-11eb-8d9b-d8b2a1a98a31.png)

### Actual behavior
First problem:
![image](https://user-images.githubuser

[2021-03-18 07:22] jingshanglu opened #9724 "Enhance privilege verification"
### Which version of ShardingSphere did you use?
5.0.0-RC

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

we need improve privilege verification
- [ ] show databases
You see only those databases for which you have some kind of privilege, unless you have the global `SHOW_DB` privilege

- [ ] use database
This statement requires some privilege for t

[2021-03-18 08:19] xhkyyy opened #9728 "sharding-proxy can't update metadata"
## Bug Report

### Which version of ShardingSphere did you use?

4.1.1

### Which project did you use?

ShardingSphere-Proxy

### Expected behavior

The metadata can be updated automatically when a DDL statement is executed.

### Actual behavior

I created a new table using sharding-proxy (DDL statements), but when I execute query statements with this table, sharding-proxy reports an error.

![bug

[2021-03-18 10:47] cowcomic opened #9733 "Throw Execption when adding a scaling Job"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
build from git master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-scaling

### Expected behavior
I want to move data from one Sharding to another Sharding

### Actual behavior
I make a curl post like this. edit by demo from https://shardingsphere.apache.org/document/cu

[2021-03-18 12:26] bwzhang2011 commented on #9330
any thing update with such issue @tuohai666

[2021-03-18 13:59] SteNicholas commented on #9663
@terrymanu , @tuohai666 , IMO, the garbage collector recommend should be based on the performance of benchmark, and provide the JVM parameters benchmark involved.
@GLBB , could you help to provide corresponding benchmark report here?

[2021-03-18 14:04] SteNicholas commented on #9719
@JiekerTime , thanks for the fixing of the problem mentioned above. I would like to review this pull request.

[2021-03-18 16:06] avalon5666 commented on #9733
[Latest documents](https://github.com/apache/shardingsphere/pull/9738)

[2021-03-19 02:12] JiekerTime commented on #9719
thank! If you need help, you can contact me at any time.

[2021-03-19 02:29] cnlinjie commented on #9695
Use JPA ，That  generate the SQL :
[code]

[2021-03-19 03:39] tristaZero commented on #9695
Hi Please set `sql.show` = `true`, so that we can get the parsing and routing info.

[2021-03-19 03:41] tristaZero commented on #9695
[code]
There is no table-strategy?

[2021-03-19 04:10] 15898317421 opened #9741 "Caused by: java.util.NoSuchElementException: No value bound"
**properties**
server.port=8080
spring.application.name=dynamic-datasource-sharding-spring

spring.shardingsphere.props.show-sql=true

spring.shardingsphere.datasource.names=ds0

spring.shardingsphere.datasource.ds0.type=com.zaxxer.hikari.HikariDataSource
spring.shardingsphere.datasource.ds0.driver-class-name=com.mysql.jdbc.Driver
spring.shardingsphere.datasource.ds0.jdbc-url=jdbc:mysql://localhos

[2021-03-19 06:09] huanghao495430759 commented on #9741
Hi,you can looking doc.5.* :
[https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/spring-boot-starter/](url)

`
#sharding rules configuration
spring.shardingsphere.sharding.tables.demo_one.actual-data-nodes = ds$->{0}.demo_one_$->{0..1}
spring.shardingsphere.sharding.tables.demo_one.table-strategy.standard.sharding-column=sharding_id
spring.shardings

[2021-03-19 06:21] 15898317421 commented on #9741
Hi, I looking the doc before, but what is work-id that I need config?
And if I want to compatible down forward to sharding-jdbc 4.0.0 version, I must change my properties in application?
Have you any ideas to solve this problem?

[2021-03-19 07:54] cowcomic commented on #9733
i make a new request like this
[code]

this time no error in back server
![image](https://user-images.githubusercontent.com/4745969/111747901-d4ce6700-88ca-11eb-8e5b-57e1c7465b08.png)
![image](https://user-images.githubusercontent.com/4745969/111747952-e44db000-88ca-11eb-8d10-a9c9a87bddc6.png)
![image](https://user-images.githubusercontent.com/4745969/111748000-f0397200-88ca-11eb-8ba4-1dc9102a79b7

[2021-03-19 15:36] cnlinjie commented on #9695
I didn't configure this

[2021-03-19 15:37] cnlinjie commented on #9695
I've gone back to 4.0.0-RC2, Forget it.

[2021-03-19 16:52] JiekerTime opened #9751 "GitHub action has a concurrent exception"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Expected behavior
git action's tests all pass:
![image](https://user-images.githubusercontent.com/76552510/111814178-21d72b00-8915-11eb-840d-68427457ea56.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/111814458-72e71f00-8915-11eb-9d78-93bbb7dfb658.png)
![image](https://user-images.github

[2021-03-20 00:55] Liangda-w commented on #9694
Hi @hanjinxing

I think the reason behind the error `no viable alternative at input 'DROPPARTITION'` is that `alter_table_partitioning` ([document](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/ALTER-TABLE.html#GUID-552E7373-BF93-477D-9DA3-B2C9386F2877)) is not supported yet (onging Oracle SQL Definition Collation #6480)

And `ALTER TABLE tablename ADD PARTITION partitionname

[2021-03-20 00:57] Liangda-w commented on #9617
Hi, I would like to try add Oracle dialect:)

[2021-03-20 02:02] wgy8283335 commented on #9694
@Liangda-w  ADD PARTITION or DROP PARTITION？

[2021-03-20 02:46] Liangda-w commented on #9694
DROP PARTITION :)

[2021-03-20 12:20] zhujunxxxxx opened #9753 "table metadata loading for H2 dialect"
For #9617.

[2021-03-21 03:39] terrymanu commented on #9753
Duplicated with #9617

[2021-03-21 03:39] #9753 closed

[2021-03-21 08:47] huanghao495430759 opened #9758 "any documents error of replica-query when replica-query module refactor to read-write-splitting"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC and ShardingSphere-Proxy
### Expected behavior
performance-test.md
![image](https://user-images.githubusercontent.com/34728144/111898921-00d12000-8a64-11eb-847c-cf4f7216c301.png)

### Actual behavior
refactor to
`- !READ_

[2021-03-22 00:36] strongduanmu commented on #9758
@huanghao495430759 Are you interested in submitting a PR to improve this document?

[2021-03-22 00:54] strongduanmu commented on #9741
@15898317421 There are many differences between the 4.x version and the 5.x version. From a long-term perspective, it is recommended that you upgrade to the 5.x version so that you can get more community support.
In addition, can you provide detailed information about the exception encountered?

[2021-03-22 01:01] strongduanmu commented on #9728
@xhkyyy You can upgrade to the latest version of `sharding-proxy`, which already has good support for metadata updates.

[2021-03-22 01:34] xhkyyy commented on #9728
I'm using the latest version of 4.x. Do you mean to use 5.x, but this is not yet GA. 😊

[2021-03-22 02:08] alonehat commented on #8525
- !REPLICA_QUERY
              dataSources:
                primary_ds: # the name must be the same as primaryDataSourceName
                  primaryDataSourceName: primary_ds

[2021-03-22 02:11] huanghao495430759 commented on #9758
Hi @strongduanmu ,It is my pleasure, I had commited at [https://github.com/apache/shardingsphere/pull/9759](url)

[2021-03-22 03:29] #9085 closed

[2021-03-22 03:52] huanghao495430759 commented on #9326
Hi, can I try it ?

[2021-03-22 04:17] #9610 closed

[2021-03-22 05:03] tristaZero opened #9764 "Refactor PrivilegeMerger"
### Intro
Currently, `merge()` of `PrivilegeMerger` just checks the privileges. But we still need to merge all privileges on `actual tables` and `actual schemas` into the privileges on `logic tables` and `logic schemas` truly.
Please pay attention to `SchemaPrivilege`.

[2021-03-22 05:12] tristaZero commented on #9326
Hi @huanghao495430759  Thanks for your comment, and please have my welcome.

Since @lmhmhl firstly shows his interest in this one, but it looks he has no enough time recently, let us listen to his thought.
How do you think @lmhmhl ?

[2021-03-22 05:17] lmhmhl commented on #9326
@tristaZero, Thank you for understanding me, please assign to @huanghao495430759. Thx.

[2021-03-22 06:02] #9695 closed

[2021-03-22 10:42] strongduanmu commented on #9758
Closed by #9759

[2021-03-22 10:42] #9758 closed

[2021-03-22 10:57] JiekerTime opened #9769 "Routing problem in the single table mix read-write scenario"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC and ShardingSphere-Proxy

### Expected behavior
Datas insert into master datatsource.

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/111979394-fdab6200-8b3f-11eb-8832-6be416d0ebd0.png)
Or:
![image](htt

[2021-03-22 11:14] yanyzy commented on #9634
Because t_accountfriend requires databaseStrategy?

[2021-03-22 11:16] terrymanu commented on #9510
@huanghao495430759 Sorry, the pr #9749 is conflict with commit `https://github.com/apache/shardingsphere/commit/7686bdee9733db2d2854efc28c0e9539f9250ff0` after I merged.
I just revert the pr.
Could re-submit the PR again?

[2021-03-22 12:30] lintingjie opened #9772 "When will shardingsphere-scaling support migrating jdbc data to shardingSphereJdbc cluster?"
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-scaling/usage/
From the document, currently source type must shardingSphereJdbc.
So, when will support Jdbc to shardingSphereJdbc? Cause we don't want to use shardingSphereJdbc from the beginning of our project.

[2021-03-22 12:49] terrymanu commented on #8215
Replica-query cannot support transaction

[2021-03-22 13:36] huanghao495430759 commented on #9510
Yes,I will resolve it.

[2021-03-22 14:37] jackjoesh commented on #9337
i use sharding

[2021-03-22 20:23] jiang-wei opened #9774 "no viable alternative error for Postgresql sequence"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-22 23:10] jiang-wei commented on #9774
More details:

[code]
logs
[code]

[2021-03-23 02:12] sqldance commented on #234
理想汽车 https://www.lixiang.com

[2021-03-23 02:32] 15898317421 commented on #9741
Here is the exception stack and properties configuration, and I want to know what the work-id is in properties.
The only difference is version 4.0.0 and 5.0.0, other is the same completely such as the code.

stack of exception

2021-03-23 10:23:05 [ INFO ] [ null ] [ null ] [ null ] [ null:null ] [  ] [ main ] [ SpringApplication.java:675 ] [ logStartupProfileInfo ] [ - ] [ - ] [ - ] - No active p

[2021-03-23 02:59] huanghao495430759 commented on #9741
Hi @15898317421 ,it is
 `spring.shardingsphere.props.sql-show=true`
not
`spring.shardingsphere.props.show-sql=true`

[2021-03-23 03:40] 15898317421 commented on #9741
In addtion, if I want to combine use the sharding and spring class AbstractRoutingDataSource, the sharing table is not work.
Can you help me?

import org.springframework.jdbc.datasource.lookup.AbstractRoutingDataSource;

public class PtsDynamicRoutingDataSource extends AbstractRoutingDataSource {
    @Override
    protected Object determineCurrentLookupKey() {
        return "ds0";
    }
}

import

[2021-03-23 03:46] 15898317421 commented on #9741
not this reason

[2021-03-23 04:47] tristaZero commented on #234
Hi @sqldance
Welcome here.

[2021-03-23 05:52] #9724 closed

[2021-03-23 05:52] 15898317421 commented on #9741
Thanks a lot for your answers and help. I solve the combine use with spring dynamic data source and sharding data source. It is my mistake of the way to take data source from spring bean factory. And I will consider your recommend of upgrade the sharding version to 5.0.0, for the long-term supports of community. Thanks again!

[2021-03-23 05:53] #9741 closed

[2021-03-23 06:00] tristaZero commented on #9634
Hi,
[code]
Firstly, `bindingTables:` is incorrect since at least two tables are needed.
Second, like @yanyzy said, `defaultDatabaseStrategy` will be applied to `t_accountfriend` in your case, as you ignore the specific `database strategy` for this table. I am curious my analysis is what you want?

[2021-03-23 06:28] #9654 closed

[2021-03-23 06:32] fanyetu opened #9778 "Throw ClassCaseExecption when using Oracle SYSDATE in insert/update sql"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-23 06:37] fanyetu commented on #9778
I circumvented this bug with subqueries. It looks like this:
`insert into test(id, time) values (#{id}, (select SYSDATE from dual))`

[2021-03-23 07:22] wavelet123 commented on #9634
It's ok now after removing those items.

[2021-03-23 07:38] #9663 closed

[2021-03-23 08:51] cowcomic commented on #9733
start a worker as a new server. and work well
need a job clear api
now have to delete from zookeeper

[2021-03-23 09:19] Lucas-307 opened #9780 "ElasticJob add static sharding strategy, add completed flag and split job create trigger API plan"
## Reason

Scaling module dependent on ElasticJob module to sharding and execute scaling job, there are some issues like:

1. OneOff job can't do average sharding even if one-off job start in a short interval.
2. Sharding item sometimes exexute in different server, which may cause some problems.
3. OneOff job don't have a complete flag, which may cause job execute more than once.

## Plan

So, we

[2021-03-23 09:19] #9780 closed

[2021-03-23 10:02] JiekerTime opened #9782 "Single table not support DDL"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC and ShardingSphere-Proxy

### Expected behavior
Create a table or execute some other DDL operations.

### Actual behavior
![image](https://user-images.githubusercontent.com/76552510/112129325-4592bd80-8c02-11eb-81a9-a0bd2de14eaf.png)

[2021-03-23 10:13] strongduanmu commented on #9728
@xhkyyy Please be patient and wait for the good news. 😀 In addition, you are welcome to join the community.

[2021-03-23 10:13] #9728 closed

[2021-03-23 10:50] strongduanmu commented on #9774
@jiang-wei Thank you very much for your feedback. The create sequence statement is not currently supported, and we will support it in subsequent versions as soon as possible. 😀

[2021-03-23 11:09] strongduanmu commented on #9778
@fanyetu Can you try the latest 5.0.0-alpha version?

[2021-03-23 12:17] #8215 closed

[2021-03-23 14:05] larrychen8276 opened #9785 "sql解析出错"
无法解析下面的sql语句
` (select t.id, t.category_id, t.category_name  from ppt_p_contents t where t.type = 1 and t.show_in_home = 3 order by t.create_time desc limit 8 )
union all  (select t.id, t.category_id, t.category_name  from ppt_p_contents t where t.type = 1 and t.show_in_home = 4 order by t.create_time desc limit 8 )
union all  (select t.id, t.category_id, t.category_name  from ppt_p_contents t whe

[2021-03-23 14:39] totalo commented on #8179
Hi , plz assige me,I want to have a try,thx

[2021-03-23 15:30] GLBB opened #9786 "In MySQL 8.0.22, Using Mybatis, ShardingProxy select All get ArrayIndexOutOfBoundsException"
## Bug Report

### Which version of ShardingSphere did you use?
shardingsphere-proxy-5.0.0 alpha
Mysql 8.0.22
SpringBoot 2.4.4
mybatis-spring 2.1.4
JDK11

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-proxy

### Expected behavior
execute code example examples/shardingsphere-proxy-example/shardingsphere-proxy-boot-mybatis-example, when selectAll, occur A

[2021-03-23 16:29] terrymanu commented on #9785
**For English only**, other languages will not accept.

[2021-03-23 16:29] #9785 closed

[2021-03-23 16:30] terrymanu commented on #9710
`/usr/lib/jvm/java-11-openjdk-11.0.10.0.9-0.fc33.aarch64/../bin/javadoc' doesn't exist or is not a file`

Please check your JDK installation.

[2021-03-23 16:30] #9710 closed

[2021-03-23 16:32] terrymanu opened #9789 "Add test cases for OrderedSPIRegistry and OrderedServicesCache"
- [x] Add test cases for OrderedServicesCache
- [ ] Add more test cases for OrderedSPIRegistry.getRegisteredServices(final Collection<K> types, final Class<V> orderedSPIClass) when cache hit
- [ ] Clean cache after OrderedSPIRegistry's test cases run (use reflection to clean cache map in @After method)

[2021-03-23 17:00] totalo commented on #9789
I want do it too

[2021-03-23 18:14] jiang-wei commented on #9782
I guess the newly created table is not picked up by SS to save into "unconfiguredSchemaMetaDataMap"

[2021-03-23 18:15] jiang-wei commented on #9782
In 5.0.0, the default sharding datasource is removed.
SS loads all tables at startup and configure the sharding policy on them.

For newly created tables there's no way to tell SS to load them.

[2021-03-23 18:30] jiang-wei opened #9792 "SS cannot configure default non-sharding policy for newly created tables from outside SS"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-23 18:44] jiang-wei commented on #9792
I run liquibase scripts with another datasource because #9774

[2021-03-23 19:06] jiang-wei commented on #9792
Log:

[code]

[2021-03-24 01:05] larrychen8276 opened #9793 "SQLParsingException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-24 01:13] #9733 closed

[2021-03-24 01:27] IcebergXTY opened #9794 "Is there any schedule for 5.0.0 release?"
## Question

Hi, we plan to use shardingsphere in our project. Now the latest release is 4.1.1 but we found some useful enhancement in the version 5.0.0-alpha.  As there is a big digital gap between 4.1.1 and 5.0.0(4->5) which sometimes means lots of modifications, so we can't change the version arbitrary after we determine it.

Could you tell me is there any schedule for 5.0.0 release? After all,

[2021-03-24 02:19] peng-my opened #9795 "Chinese garbled"
![7DEA190C-3CB0-484d-9415-B63A07CA3DD3](https://user-images.githubusercontent.com/66413490/112244361-2475af80-8c8a-11eb-8d77-8faa6876d8b0.png)
Building database by shardingsphere proxy Chinese garbled

[2021-03-24 02:29] peng-my commented on #9795
vesion: 5.0.0-alpha

[2021-03-24 03:17] strongduanmu commented on #9794
@IcebergXTY I am very sorry to tell you that there is no definite release time now. Please be patient and wait for the good news. 😀 In addition, you are welcome to join the community.

[2021-03-24 03:17] #9794 closed

[2021-03-24 03:27] juaby opened #9797 "Proposals on service governance and Proxy availability"
**Enhance service governance**

- [ ] Configuration (including parameter configuration and rule configuration)

    - [ ] Version control

    - [ ] integrity

    - [ ] Local backup

- [ ] DistSQL instruction

  - [ ] Enhanced check mechanism

  - [ ] Add feedback mechanisms

**Enhance Proxy availability**

- [ ] Schema isolation. Problems with individual Schema do not affect others

- [ ] Proxy

[2021-03-24 04:15] huanghao495430759 commented on #9510
I had re-submit a new PR at [https://github.com/apache/shardingsphere/pull/9787](url)

[2021-03-24 04:50] tristaZero commented on #9326
@huanghao495430759
If any confusions, please ping me here.

[2021-03-24 05:06] tristaZero commented on #9634
If this issues was solved, please close it. Thx.

[2021-03-24 06:15] arthasking123 commented on #9625
I'll try to fix it

[2021-03-24 06:22] cowcomic opened #9799 "Job stop working for a big table"
### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
build from git master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
shardingsphere-scaling

### Expected behavior
I want to move data from one Sharding to another Sharding

### Actual behavior
our mysql is RDS from huawei cloud , bin log is open and format is row
a simple table can be synchronized. a

[2021-03-24 06:26] SammyXue opened #9800 "create indexes repeatedly when set `hibernate.hbm2ddl.auto = update`"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-03-24 07:22] xuup opened #9802 "in issue-conduct.cn.md and issue-conduct.en.md, there is a unclear description"
I found an unclear description in Chapter Issue Process Conduct  from issue-conduct.cn.md and issue-conduct.en.md.
The link is https://shardingsphere.apache.org/community/cn/contribute/issue-conduct/

in issue-conduct , The document mentions
- Issues without reference or retrieval value will be marked as Invalid and does not need attention.

But I found Invalid not  included in label list, maybe d

[2021-03-24 07:27] avalon5666 commented on #9799
Pls check binlog file exists.

[2021-03-24 09:45] MingxingLAI commented on #9193
I ran into the same problem and there are no more logs。

[2021-03-24 10:08] #9802 closed

[2021-03-24 10:59] totalo commented on #8179
Hello i want to know how to open circuit break mode， @terrymanu @strongduanmu

[2021-03-24 14:26] totalo commented on #8179
ohhh, I know， thx

[2021-03-24 14:44] romantictravel01 opened #9807 "RMClient and TMClient are initialized twice"
## Question

sharding jdbc 4.1.1+seata 1.4.1

In GlobalTransactionScanner ,the method initClient is executed,
 RMClient and TMClient are initialized

In SeataATShardingTransactionManager, the method  initSeataRPCClient is executed, and RMClient and TMClient are also initialized. Someone told me that @ GlobalTransaction annotation is invalid at this time ,must rewrite GlobalTransactionScanner and r

[2021-03-25 00:50] strongduanmu commented on #9807
@romantictravel01 You can refer to this article——https://www.jianshu.com/p/41ebdaf403c8.

[2021-03-25 00:53] totalo commented on #8179
I found that the `sqlState` length defined by mysql error packet is `5`, but we defined it as` 6`. This will happen to all `errorMsgs`. I would like to modify our defined length to` 5`. Take a look. If this design is unreasonable, I will Try another method.

[2021-03-25 00:55] strongduanmu commented on #9800
@SammyXue Thank you very much for your feedback, I will investigate this issue later.

[2021-03-25 00:59] strongduanmu commented on #9793
@larrychen8276 This is an `antlr` parsing exception. You can upgrade to the latest version, which is already supported.

[2021-03-25 01:27] #9799 closed

[2021-03-25 01:35] 814196912 opened #9811 "java.lang.IndexOutOfBoundsException occurs in mysql "join" query"
Hey.When I execute "select * FROM **film a join actor b** on a.unit_id=b.unit_id",sharding-sphere-proxy will generate error "java.lang.IndexOutOfBoundsException: Index: 2, Size: 2".However, when I execute "select * FROM **film a join actor b** on a.unit_id=b.unit_id",the query is OK.
![image](https://user-images.githubusercontent.com/38856046/112404826-0ec8be80-8d4c-11eb-9fdd-66f76cbade7a.png)
![i

[2021-03-25 01:47] #9634 closed

[2021-03-25 01:47] wavelet123 commented on #9634
issue resolved

[2021-03-25 03:21] romantictravel01 opened #9812 "When to upgrade the Seata version? I feel like you all live in the mountains"
## Question

The current version of Seata is 1.4.1

[2021-03-25 03:45] terrymanu commented on #8179
@totalo  Thank you, the change is excellent, I will do a little research and merge it soon

[2021-03-25 03:48] #9617 closed

[2021-03-25 05:01] tuohai666 commented on #8179
LGTM. Please check one comment I left, then the PR can be merged.

[2021-03-25 06:02] xzbamiss commented on #8892
I met the same problem as you。When the table name is in upper case，an exception will be reported。 eg: 'Cause: org.apache.shardingsphere.infra.exception.ShardingSphereException: Can not route tables for `[STUDENT_INFO]`, please make sure the tables are in same schema.'

[2021-03-25 09:12] #8179 closed

[2021-03-25 10:15] ymwangzq opened #9817 "Concurrency Issue in TransactionalSQLExecutionHook"
https://github.com/apache/shardingsphere/blob/2f3a4d28a64b36de3577163b22eaa63cc2ee8199/shardingsphere-transaction/shardingsphere-transaction-base/shardingsphere-transaction-base-seata-at/src/main/java/org/apache/shardingsphere/transaction/base/seata/at/TransactionalSQLExecutionHook.java#L40

When using seata AT mode, ShardingConnection.transactionType is TransactionType.BASE, so ShardingConnection

[2021-03-25 11:24] strongduanmu commented on #9812
@romantictravel01 At present, the main work of the SS community is focused on the development and improvement of new features of the 5.x version. There is no plan for the upgrade of the seata version. If you are interested, you are welcome to submit a PR to complete this work. 😀

[2021-03-25 11:29] strongduanmu commented on #9811
@814196912 Thank you very much for your feedback, I will investigate this issue.

[2021-03-25 11:57] fanshanchao commented on #9584
我也出现了这个问题，有解决么

[2021-03-26 01:33] cowcomic commented on #9799
the problem solved
huawei cloud make a binlog manage system themselves
expire_logs_days is not effective now
change the binlog expire time by their system then the problem solved

[2021-03-26 02:11] tuohai666 opened #9826 "Improve performance of Proxy by caching SPI instances"
After analyse I found there're redundant and costly instance initialization in the key path. It's not necessary to initialize the stateless instances in the prepare/route/rewrite/merge process for every SQL query each time.

To improve the performance we can cache these instances. After test, the CPU load decreased by 60% and the TPS of sysbench test result increased by 15% .

[2021-03-26 02:13] tuohai666 commented on #9826
Fixed via https://github.com/apache/shardingsphere/pull/9746

[2021-03-26 02:14] #9826 closed

[2021-03-26 02:32] tuohai666 commented on #9330
@jackjoesh @bwzhang2011 I have improved the performance recently, please refer to https://github.com/apache/shardingsphere/issues/9616 and https://github.com/apache/shardingsphere/issues/9826 . The TPS is proved to be increased by 12% and 15% by sysbench test result of ShardingSphere-Proxy. The CPU load also decreased significantly. It's expected the ShardingSphere-JDBC can get the similiar result

[2021-03-26 02:35] #9330 closed

[2021-03-26 02:38] tuohai666 commented on #8942
@danielzhou888

I have improved the performance recently, please refer to #9616 and #9826 .

The TPS is proved to be increased by 12% and 15% respectively by sysbench test result of ShardingSphere-Proxy. The CPU load also decreased significantly.

It's expected that the ShardingSphere-JDBC can get the similiar result.

These two PRs will be included in the next release, may be 5.0.0-RC1.

[2021-03-26 02:38] #8942 closed

[2021-03-26 02:43] tuohai666 commented on #9250
@wangzhuangwei

I have improved the performance recently, please refer to #9616 and #9826 .

The TPS is proved to be increased by 12% and 15% respectively by sysbench test result of ShardingSphere-Proxy. The CPU load also decreased significantly.

It's expected that the ShardingSphere-JDBC can get the similiar result.

These two PRs will be included in the next release, may be 5.0.0-RC1.

[2021-03-26 02:43] #9250 closed

[2021-03-26 02:50] tuohai666 commented on #6676
@lishijun121910

I have improved the performance recently, please refer to #9616 and #9826 .

The TPS is proved to be increased by 12% and 15% respectively by sysbench test result of ShardingSphere-Proxy. The CPU load also decreased significantly.

It's expected that the ShardingSphere-JDBC can get the similiar result.

These two PRs will be included in the next release, may be 5.0.0-RC1.

[2021-03-26 02:54] xuup commented on #8571
检查下sharding-column 与 算法表达式中的分片键是否一致，亲测有效~

[2021-03-26 04:29] terrymanu opened #9828 "Use parameterize to instead of @ShardingSphereITInject"
It is better to use standard implement than customized one.
Please use parameterize to instead of @ShardingSphereITInject in IT module

[2021-03-26 04:57] #9789 closed

[2021-03-26 06:04] dmsolr commented on #9828
Hi @terrymanu , i would like to do it.

[2021-03-26 06:07] terrymanu commented on #9828
@dmsolr  Thank you, I just assign the issue to you

[2021-03-26 06:43] xingmengyoulan opened #9832 "Does Sharding-Proxy support cursors embedded in SQL?"
Does Sharding-Proxy support cursors embedded in SQL? I'm using The Times's "No viable alternative at input fetch."

[2021-03-26 08:38] yu199195 commented on #9817
Transaction It can only be executed serially

[2021-03-26 09:21] ymwangzq commented on #9817
https://github.com/apache/shardingsphere/blob/fc05c4dbfed64edbc93287b303c6d9cd5358e6b5/shardingsphere-jdbc/shardingsphere-jdbc-core/src/main/java/org/apache/shardingsphere/driver/jdbc/core/connection/ShardingSphereConnection.java#L158

[2021-03-26 09:32] medoer commented on #7347
![image](https://user-images.githubusercontent.com/20471718/112611811-39546d80-8e59-11eb-82be-8612e94853ac.png)

get seata GlobalTransaction is NULL

[2021-03-26 09:37] 814196912 opened #9837 "sharding-sphere-proxy 5.x dosen't own the property of "defaultDataSourceName""
Hey.I meet with difficulties. In sharding-sphere-proxy 4.x ，YAML file can set the value of "defaultDataSourceName".However, in sharding-sphere-proxy 5.x ,  the "defaultDataSourceName" disappears.How can  I assign the fixed datasoure to store the data of the table without  sharding.

 sharding-sphere-proxy 4.x  **official document**
![image](https://user-images.githubusercontent.com/38856046/112611

[2021-03-26 10:08] beichengjjh commented on #9544
**I tried it in Navicat and the results are as follows**
![image](https://user-images.githubusercontent.com/50292345/112616094-4758bd00-8e5e-11eb-9b90-ad2527b2e771.png)

[2021-03-26 10:16] beichengjjh commented on #9544
I tried it in Navicat and the results are as follows @tuohai666
![image](https://user-images.githubusercontent.com/50292345/112616820-247ad880-8e5f-11eb-87c3-f3e71c3094a7.png)

and  I download the new version from shardingSphere :
![image](https://user-images.githubusercontent.com/50292345/112616746-0e6d1800-8e5f-11eb-9c21-f6c9445ff3c5.png)

[2021-03-26 12:11] terrymanu opened #9839 "Add test case with PostgreSQLAuthenticationHandler"
Please ref MySQLAuthenticationHandlerTest

[2021-03-26 12:28] totalo commented on #9839
Get it

[2021-03-26 12:31] medoer opened #9841 "Distributed transaction with seata AT throw a NullPoint Exceptoin"
## seata:1.4.1 & sharding 4.1.1

### dependencies

spring-cloud-alibaba-seata for web interceptor

sharding-transaction-base-seata-at

seata-spring-boot-starter

sharding-jdbc-spring-boot-starter

###

use   @Transactional and @ShardingTransactionType(TransactionType.BASE)

2021-03-26 20:23:42.260 [http-nio-19010-exec-1] ERROR o.s.jdbc.datasource.DataSourceTransactionManager - [doRollbackOnCommitE

[2021-03-26 12:32] medoer commented on #9841
And use seata @GlobalTransactional can rollback success, but must add

`TransactionTypeHolder.set(TransactionType.BASE)` before every persistent SQL. AND `TransactionTypeHolder.get()` return 'LOCAL'

[2021-03-26 12:40] romantictravel01 opened #9842 "Is sharding-transaction-base-seata-at necessary when using @GlobalTransaction"
Shardingjdbc  4.1.1
Shardingjdbc integrates the proxy data source of Seata, which means that shardingjdbc has the ability of Seata. Many people are used to using @Globaltransaction. This uses Seata itself. Do we still need to use shardingjdbc to integrate Seata? Can't we use Seata alone

[2021-03-26 12:44] medoer commented on #9841
add web mvc interceptor SeataHandlerInterceptor to pass the seata xid, Is there another way？

[2021-03-26 13:23] medoer commented on #9841
![image](https://user-images.githubusercontent.com/20471718/112637664-5c8f1500-8e79-11eb-89c2-de86875f7f70.png)
How can i pass the seata xid AND GlobalTransaction

[2021-03-26 15:31] terrymanu commented on #9839
@totalo Thank you very much

[2021-03-26 15:33] terrymanu commented on #9292
Closed because of no feedback

[2021-03-26 15:33] #9292 closed

[2021-03-26 15:33] terrymanu commented on #9622
Closed because of no feedback

[2021-03-26 15:33] #9622 closed

[2021-03-26 15:34] terrymanu commented on #9621
Closed because of no feedback

[2021-03-26 15:34] #9621 closed

[2021-03-26 15:35] terrymanu commented on #9504
Closed because of no feedback

[2021-03-26 15:35] #9504 closed

[2021-03-26 15:38] terrymanu commented on #9336
The version 5.x is still develop rapidly.
I am not sure when can we release the stable version.

[2021-03-26 16:51] terrymanu opened #9844 "Authentication and authority modules design doc"
This issue for discussion of authentication and authority modules with Apache ShardingSphere.

1. Authentication
  1.1. ShardingSphere-JDBC do not have authentication, just use data source pool to connect databases;
  1.2. There is YAML configuration of ShardingSphere-Proxy (in server.xml file) for authentication;
  1.3. Authentication defined username, host and password only;
  1.4. Authenticatio

[2021-03-27 06:54] hongshunanhai commented on #2960
i encounter the same problem,how did you resolve it,please tell me,thank you!

[2021-03-27 07:04] hongshunanhai commented on #2726
does shardingsphere jdbc 4.1.1 support  match() against('' in boolean mode) ?

[2021-03-27 07:05] medoer commented on #9841
[code]
code like this the transactional is working, both service transaction is rollback.
 but service b get transaction type is 'LOCAL'

[2021-03-27 07:43] totalo commented on #9839
Ahhhhh,It's OK. I hope I can participate more when I have the chance.

[2021-03-27 09:31] WoodZzzzz opened #9845 "Binding tables doesn't work when using 'join and in ()' condition"
**Here is dependency**
<dependency>
	<groupId>org.apache.shardingsphere</groupId>
	<artifactId>sharding-jdbc-spring-boot-starter</artifactId>
	<version>4.1.0</version>
</dependency>

**Here is the output of my configuration**
bindingTables:
- t_order
- t_order_item
tables:
  t_order:
    actualDataNodes: ds0.t_order_${0..1}
    keyGenerator:
      column: order_id
      type: SNOWFLAKE
    logicTa

[2021-03-28 05:45] #9839 closed

[2021-03-28 07:54] zhujunxxxxx commented on #8618
@terrymanu can you give some test case for this issues, I want to try.

[2021-03-28 09:04] tristaZero commented on #9792
You can run `create table`  with ShardingSphere. So the question is about `create sequence`, isn't it?

[2021-03-28 09:34] tristaZero commented on #9774
Hi @jiang-wei ,

@zhujunxxxxx raised a great PR for your issue and will be merged later. But Just a remainder, `create sequence` is for traditional single PostgreSQL, which may not work well in sharding databases.
If you want to have the global ID in the sharding scenario, I recommend [Distributed Sequence](https://shardingsphere.apache.org/document/current/cn/features/sharding/concept/key-generat

[2021-03-28 09:45] tristaZero commented on #9326
Hi @huanghao495430759  are you working on this one?

[2021-03-28 10:27] tristaZero opened #9851 "Format the loading SQL for `MySQLPrivilegeLoader`"
Hi,

This issue is to format the loading SQL for `MySQLPrivilegeLoader`.

### Intro
MySQLPrivilegeLoader loads the privileges from MySQL using some of SQLs. But these SQLs do not have better definitions.

### Task
- Add statice final variable `SELECT * FROM mysql.user WHERE (user, host) in (%s)` in `MySQLPrivilegeLoader` to replace the line 124 and refactor the function `getGlobalPrivilegeSQL()`.

[2021-03-28 10:30] tristaZero opened #9852 "Add unit test for `MySQLPrivilegeLoader`"
Hi,

### Intro
`MySQLPrivilegeLoader` is to load privileges from MySQL databases using specific SQLs. Please add a test class to test this `MySQLPrivilegeLoader` function. I assume `MySQLTableMetaDataLoaderTest` will give you some hints.

Any questions, please contact me here. :)

[2021-03-28 10:33] tristaZero opened #9853 "Load users and privileges from PostgreSQL"
Hi,

This issue is part of #8966  and to load the privileges from PostgreSQL. You can refer to `MySQLPrivilegeLoader` to finish this one. BTW, please give a look at #9851 for a better implement.

### Task
- Implement `PostgreSQLPrivilegeLoader `
- Add a test class for it (#9852 will give some hints).

Have a good day. :)

[2021-03-28 10:35] tristaZero opened #9854 "Load users and privileges from Oracle"
Hi,

This issue is part of #8966  and to load the privileges from Oracle. You can refer to `MySQLPrivilegeLoader` to finish this one. BTW, please give a look at #9851 for a better implement.

### Task
- Implement `OraclePrivilegeLoader `
- Add a test class for it (#9852 will give some hints).

Have a good day. :)

[2021-03-28 10:36] tristaZero opened #9855 "Load users and privileges from SQLServer"
Hi,

This issue is part of #8966  and to load the privileges from Oracle. You can refer to `MySQLPrivilegeLoader` to finish this one. BTW, please give a look at #9851 for a better implement.

### Task
- Implement `SQLServer PrivilegeLoader `
- Add a test class for it (#9852 will give some hints).

Have a good day. :)

[2021-03-28 10:56] totalo commented on #9851
hi i want to have a try ,thx

[2021-03-28 11:03] tristaZero commented on #9851
Welcome @totalo

[2021-03-28 11:09] herozeng commented on #9853
I want have a try

[2021-03-28 11:11] tristaZero commented on #9853
Hi @herozeng ,

It's yours now.

[2021-03-28 13:23] huanghao495430759 commented on #9326
Hi @tristaZero , yes, I am working on this issue, and I have a question,
if delete  `YamlUserRuleConfiguration`,  and `YamlUserConfiguration` must be add  a property to save the `username`  right ?

[2021-03-28 14:20] zhujunxxxxx commented on #9851
@totalo sorry, I didn't see you want to do this, I have finished the repair. ^_^

[2021-03-28 14:26] zhujunxxxxx commented on #9854
I want to try. thanks

[2021-03-28 15:09] zhujunxxxxx commented on #9852
i'd like try

[2021-03-28 22:14] Kelson9 commented on #9811
can i handle this?

[2021-03-28 22:43] 0967222346 opened #9860 "Cuongnam13217@gmail.com"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-03-28 22:43] 0967222346 opened #9861 "Cuongnam13217@gmail.com"

[2021-03-29 00:10] #9861 closed

[2021-03-29 00:10] #9860 closed

[2021-03-29 00:12] strongduanmu commented on #9774
@zhujunxxxxx Great, I will assign this issue to you. 👍

[2021-03-29 00:14] Baoanh217 opened #9862 "Cuongnam13217@gmail.com"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-03-29 00:20] strongduanmu commented on #9862
@Baoanh217 Hi, can you describe your problem in detail?

[2021-03-29 00:24] strongduanmu commented on #9854
@zhujunxxxxx Welcome, it has been assigned to you. 👏

[2021-03-29 01:18] totalo commented on #9851
it's ok , i will try another.

[2021-03-29 01:18] totalo commented on #9855
i want to try this, thx

[2021-03-29 01:55] tuohai666 commented on #9544
@beichengjjh Please clone the head codes on master branch and compile.

[2021-03-29 01:57] tuohai666 commented on #9544
Please double check the version I mentioned:

![image](https://user-images.githubusercontent.com/24643893/112777508-038bd080-9075-11eb-8833-dbf95093074f.png)
![image](https://user-images.githubusercontent.com/24643893/112777520-0c7ca200-9075-11eb-94ed-b4f7cf679ae8.png)
![image](https://user-images.githubusercontent.com/24643893/112777530-143c4680-9075-11eb-8774-72045bed0426.png)

[2021-03-29 03:26] zhujunxxxxx commented on #9774
@strongduanmu I have open a PR for this issue. you can assign this issue to me now.

[2021-03-29 04:36] #9862 closed

[2021-03-29 04:41] terrymanu commented on #9862
@Baoanh217 Please do not report spammy issues again.

[2021-03-29 07:53] RaigorJiang commented on #9786
Let me make a check for this report.

[2021-03-29 08:58] sandynz opened #9865 "SHOW SHARDING RULE throw NullPointerException when databaseStrategy is not configured"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No NPE thrown and show query result

### Actual behavior
Exception:
[code]

### Reason analyze (If you can)
Default strategy is not used

### Steps to reproduce the behavior, such as: SQL to execu

[2021-03-29 10:28] mybug99 opened #9866 "读写分离的负载均衡问题"
数据源：3个
读写分离中：1主2从
负载均衡：ROUND_ROBIN

问题：当从属节有一个挂了，死了，还会负载均衡到挂了的从节点，导致请求的时候，一个从节点的时候会卡着直到timout因为这个挂了，1个从可以用是好的正常使用，为想请问是我需要额外配置吗？还是说没有支持这种功能？

[2021-03-29 11:40] #9828 closed

[2021-03-29 12:09] medoer commented on #9841
It's working when using the seata with the 1.3.0 version.

[2021-03-29 12:47] #9865 closed

[2021-03-29 13:00] junejs commented on #234
this is a test

[2021-03-29 13:44] jackjoesh commented on #9330
thank you very much, except this improve!

[2021-03-30 00:07] strongduanmu commented on #9866
@mybug99 For english only, other language will not be accept.

[2021-03-30 00:07] #9866 closed

[2021-03-30 02:16] mybug99 opened #9870 "Load balancing problem of read-write separation"
Data source: 3
Read and write separation: 1 master and 2 slaves
Load balancing: ROUND_ROBIN

Problem: When one of the slave nodes hangs and dies, it will load balance to the failed slave node. When a request is made, one slave node will be stuck until the timout hangs due to this, and the load balances the other one. Usable is good for normal use. Two slave nodes are always like this, one is norma

[2021-03-30 02:19] xhkyyy opened #9871 "shardingsphere-proxy 4.x doesn't support sql: SELECT * FROM table WHERE expr IN (VALUE, ...)"
## Bug Report

### Which version of ShardingSphere did you use?

4.x

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

support SQL syntax: `SELECT * FROM table WHERE expr IN (VALUE, ...)`

### Actual behavior

[code]

[2021-03-30 02:53] RelaxBin opened #9873 "how to ignore table name case in sharding5.x"
In Sharding5.x. When the table name is in upper case，an exception will be reported.  eg: 'Cause: org.apache.shardingsphere.infra.exception.ShardingSphereException: Can not route tables for [STUDENT_INFO], please make sure the tables are in same schema.'

[2021-03-30 03:17] jackjoesh commented on #9616
if increase the prepStmtCacheSize from 250 to 200000 ,  will it cost much memory?  If a application has sharded to 20 dbs， is it dangerous?

[2021-03-30 03:34] dongzl commented on #9871
Hi @xhkyyy , can you test the newest version, or test it with the `master` code, Thanks.

[2021-03-30 03:37] dongzl commented on #9870
Hi @mybug99 , you can reference  https://shardingsphere.apache.org/document/current/en/features/governance/management/registry-center/

`Disable Replica Database`

[2021-03-30 04:28] xhkyyy commented on #9871
Ok, I'll test the master branch later.
However, I'm using the latest version of 4.x, and still hoping you'll fix this on the 4.x branch.

[2021-03-30 04:58] strongduanmu commented on #9811
@Kelson9 Welcome!!! I will assign this issue to you. 👍

[2021-03-30 06:19] SpinSi opened #9875 "使用使用 SPRING 命名空间方式配置分片找不到data-source标签"
根据文档配置
  ShardingSphere > 用户手册 > ShardingSphere-JDBC > 使用手册 > 数据分片
使用 SPRING 命名空间
maven 依赖
        <dependency>
            <groupId>org.apache.shardingsphere</groupId>
            <artifactId>shardingsphere-jdbc-core-spring-namespace</artifactId>
            <version>5.0.0-alpha</version>
        </dependency>
**找不到下面标签**
**shardingsphere:data-source**

[2021-03-30 07:03] tuohai666 commented on #9616
@jackjoesh You are right, I understand your concern. PreparedStatement will be cached in a LRUCache, the cache will finally reach the prepStmtCacheSize if there're so many different SQLs.

I think big prepStmtCacheSize is appropriate for ShardingSphere scenarios which contain so many shardings(means so many different SQLs). Maybe we should make this parameter customized like username/passwordconne

[2021-03-30 07:49] SpriderMan opened #9876 "why scaling gets wrong java.lang.NullPointerException"
request:

curl -X POST \
  http://localhost:7777/scaling/job/start \
  -H 'content-type: application/json' \
  -d '{
        "ruleConfig": {
          "source": {
            "type": "shardingSphereJdbc",
            "parameter": "
                dataSources:
                  ds_0:
                    dataSourceClassName: com.zaxxer.hikari.HikariDataSource
                    jdbcUrl: jdbc:mysql

[2021-03-30 08:19] #9851 closed

[2021-03-30 08:49] SpriderMan opened #9877 "whe shardingsphere gets wrong when mvn install"
git clone https://github.com/apache/shardingsphere.git；
cd shardingsphere;
mvn clean install -Prelease;

![image](https://user-images.githubusercontent.com/18304842/112961275-cceaae80-9177-11eb-8b2e-fccc1bac4656.png)

[2021-03-30 09:14] tristaZero commented on #9873
Hi @RelaxBin ,

Could you provide more details about this exception? I wanna locate where this exception came from, and in my head, ShardingSphere is case-insensitive for tables.

[2021-03-30 09:16] tristaZero commented on #9877
Hi, please open that `rat.txt` file and check these files mentioned in `rat.txt`. You can remove them if they are unnecessary.

[2021-03-30 09:17] tristaZero commented on #9326
@huanghao495430759 ,

I think so. This file will contain the user information.

[2021-03-30 09:27] huanghao495430759 commented on #9326
Hi @tristaZero , I have another question, now the register center save the authentication data is :

`
users:
  root:
    hostname: '%'
    password: root
  sharding:
    hostname: '%'
    password: sharding

`

does it also change to
`
users:
  - root@%:root
  - sharding@%:sharding
`

?

[2021-03-30 09:34] SpriderMan commented on #9877
*****************************************************
Summary
-------
Generated at: 2021-03-30T16:48:04+08:00

Notes: 2
Binaries: 2
Archives: 260
Standards: 1902

Apache Licensed: 350
Generated Documents: 0

JavaDocs are generated, thus a license header is optional.
Generated files do not require license headers.

1550 Unknown Licenses

*****************************************************

Files

[2021-03-30 09:34] SpriderMan commented on #9877
*****************************************************
Summary
-------
Generated at: 2021-03-30T16:48:04+08:00

Notes: 2
Binaries: 2
Archives: 260
Standards: 1902

Apache Licensed: 350
Generated Documents: 0

JavaDocs are generated, thus a license header is optional.
Generated files do not require license headers.

1550 Unknown Licenses

*****************************************************

Files

[2021-03-30 09:36] huanghao495430759 commented on #9326
Hi @tristaZero , I have another question, now the register center save the authentication data is :

`
users:
root:
hostname: '%'
password: root
sharding:
hostname: '%'
password: sharding

`

does it also change to
`
root@%:root
sharding@%:sharding
`
?

[2021-03-30 09:52] hongroumeng opened #9878 "Distributed Transaction dose not work with spring-data-jpa"
- ShardingSphere-JDBC
<dependency>
    <groupId>org.apache.shardingsphere</groupId>
    <artifactId>shardingsphere-jdbc-core-spring-boot-starter</artifactId>
    <version>5.0.0-alpha</version>
</dependency>

- JPA
<dependency>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-data-jpa</artifactId>
    <version>2.4.3</version>
</dependency>

- YAML
server:
  port:

[2021-03-30 09:55] RelaxBin commented on #9873
First, The orm framework I use is MybatisPlus3.0.6.
The PO is StudentInfoPO
![image](https://user-images.githubusercontent.com/17397623/112968734-273b3d80-917f-11eb-8725-d6df87933bc6.png)

Then , In my unit test,
![image](https://user-images.githubusercontent.com/17397623/112969218-9fa1fe80-917f-11eb-9644-7f8fd9710748.png)

When I execute this unit test, it eliminates the exception:

SqlSession [o

[2021-03-30 10:10] viclemon opened #9879 "Optimize startup time: to mach tables in DB, control same logic table only load once"
I find the startup time is too slow due to the database full tables metadata scan,
for our case. the database has 5133 tables, we are using micro service,  about 80 apps.
when we deploying the app. This cause two problems

1. Each app will load all tables metadata, in our project, many tables is same, but all table need to be load, so it's slow to start up.
2. So many app load tables in the same t

[2021-03-30 10:22] cloudgyb opened #9880 "inline expression user${age<50?0:1} invalid？"
## inline expression user${age<50?0:1} invalid？
The value of expression is always 1！Why？

my project configuration(Spring Boot + sharding jdbc)：

spring:
  shardingsphere:
    datasource:
      names: db0,db1
      db0:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbcUrl: jdbc:mysql://192.168.60.128:13306/test?useUnicode=true&serverT

[2021-03-30 10:34] huanghao495430759 commented on #9326
Hi @tristaZero  , I have another question, now the register center save the authentication data is :

zk node is : authentication
and data is
`
users:
  root:
    hostname: '%'
    password: root
  sharding:
    hostname: '%'
    password: sharding

`

does it also change to
zk node is: users
`
users:
  - root@%:root
  - sharding@%:sharding
`

or
`
!!map
- !!org.apache.shardingsphere.infra.metadat

[2021-03-30 11:30] zhujunxxxxx commented on #9880
please use bug report template.

[2021-03-30 11:31] menghaoranss commented on #9875
@SpinSi For english only

[2021-03-30 11:31] #9875 closed

[2021-03-30 11:32] zhujunxxxxx commented on #9879
Hi, I am very aware of this problem in 4.1.1, this problem appears to have been fixed in the latest version.

[2021-03-30 11:35] menghaoranss commented on #9837
@814196912  refer #9524

[2021-03-30 11:40] Lucas-307 commented on #9876
which version?

[2021-03-30 12:11] BruceZhangXL opened #9883 "Operation not allowed after ResultSet closed"
### Which version of ShardingSphere did you use?

version of ShardingSphere  4.1.1
version of druid  1.1.22
version of mysql-connector-java 8.0.17

### Which project did you use?

ShardingSphere-JDBC

### Actual behavior

`Caused by: java.sql.SQLException: Operation not allowed after ResultSet closed
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:129)
	at com.mysql.cj.j

[2021-03-30 13:02] dongzl commented on #9871
Hi @xhkyyy , the `4.x` version is out of services, we will no plan to upgrade the `4.x` version again.

[2021-03-30 13:17] mybug99 commented on #9870
Thanks

[2021-03-30 14:46] huanghao495430759 commented on #9326
Hi @tristaZero  ,I had resolve my confusions, the new zk node path is
`\users`
and node data will save the list of users, like  :

`
users:
  - hostname: '%'
    password: root
    username: root
  - hostname: ''
    password: sharding
    username: sharding

`
am I rigth ?

[2021-03-30 22:37] #9871 closed

[2021-03-31 01:30] huanghao495430759 commented on #9326
Oh, I got it, the users authentication of register center should keep pace with local config in ` server.yaml` , so the new zk node path is `/users`,
and node data is
`
users:
    - username@:password
    - root@127.0.0.1:root

`
am i right ? @tristaZero

[2021-03-31 01:31] SpriderMan commented on #9876
apache-shardingsphere-5.0.0-alpha-shardingsphere-scaling-bin

[2021-03-31 02:13] Lucas-307 commented on #9876
@SpriderMan

[2021-03-31 03:16] SpriderMan commented on #9876
hi,handsome boy , when I clean install shardingsphere , why it doesn't make sharding-scaling-bin.tar.gz  in shardingsphere-scaling-distribution,
rat.txt :

*****************************************************
Summary
-------
Generated at: 2021-03-31T10:36:06+08:00

Notes: 2
Binaries: 0
Archives: 0
Standards: 9

Apache Licensed: 9
Generated Documents: 0

JavaDocs are generated, thus a license head

[2021-03-31 03:42] viclemon commented on #9879
Grate!  I'll try it

[2021-03-31 04:39] RaigorJiang commented on #9786
Hi, @GLBB
I have reproduced the Exception that you mentioned(ArrayIndexOutOfBoundsException).
And I found the reason was in the connection url.

I prepared a sharding env for testing:
- ds_0.t_order
- ds_1.t_order

**Create DLL is:**

`CREATE TABLE `t_order` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `status` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMA

[2021-03-31 04:53] #9693 closed

[2021-03-31 06:33] tristaZero commented on #9326
Hi,

I assume the original `authentication` node at zk has its father nodes, isn't it?
The content of new node, i.e, `users` is supposed to be a collection of user info without `users:`

[2021-03-31 06:37] Lucas-307 commented on #9876
@SpriderMan you need install with `-Prelease` in `shardingsphere-distribution` or `shardingsphere-distribution/shardingsphere-scaling-distribution` module.

[2021-03-31 07:24] huanghao495430759 commented on #9326
look like
![image](https://user-images.githubusercontent.com/34728144/113106307-3250a500-9235-11eb-8889-59b840fded3b.png)
?  @tristaZero

[2021-03-31 08:10] littttttttlePig opened #9886 "when I use "not in" and "gruop by",It merges all the groups into one group;"

[2021-03-31 08:25] tristaZero commented on #9326
[code]

`users` will be transformed into `Collection<ShardingSphereUser> users` of `ProxyConfiguration` by `YamlUserConfigurationSwapper` (Or probably `UserRuleYamlSwapper`).

[2021-03-31 08:31] littttttttlePig commented on #9886
**Elaboration:
  I am making a function.
Filter out the number of people recharged and the number of people who did not recharge in stage, so I used two SQL:
Filter out the number of people recharged in stage(It is normal):**

**execut result:**
![图片](https://user-images.githubusercontent.com/44159804/113114149-a42cec80-923d-11eb-908c-dd4fec7a329c.png)

**But I added a "NOT" keyword**

**execut re

[2021-03-31 09:50] mybug99 opened #9887 "Use the registry bug"
It is normal to use sharding-jdbc

[code]

Springboot version: 2.2.9, 2.2.13, 2.3.3 versions have been tried

Master-slave configuration:

[code]

Error message: Property'sqlSessionFactory' or'sqlSessionTemplate' are required：
[code]

Now the solution: delete the following jar and it will work normally:
[code]

[2021-03-31 10:30] double2013 opened #9890 "springboot2.x+ elasticjo3.0.0-RC1 +mybatis-dynamic3.3.0, can not work well with elasticjob.tracing.type=RDB"
application.yml as below:
[code]

if i open elasticjob.tracing.type , like below, then application will throw exception, otherwise it work well.

[code]

18:25:57.644 logback [main] WARN  o.s.b.w.s.c.AnnotationConfigServletWebServerApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error cr

[2021-03-31 10:41] double2013 commented on #9890
pom.xml as below:
[code]

[2021-03-31 14:10] sandynz opened #9892 "RegisterCenter.renew(DataSourceAddedEvent e) throw UnsupportedOperationException when RDL add resource"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No exception thrown

### Actual behavior
Exception:
[code]

### Reason analyze (If you can)
guava Maps.transformValues returned map haven't implemented put method

### Steps to reproduce the behav

[2021-03-31 15:42] PengWangSan opened #9893 "sharding jdbc startup error when user has no permission of table t1 on postgresql DB."
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
The project can startup normally
### Actual behavior
Caused by: org.postgresql.util.PSQLException: permission denied for table t1
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(Que

[2021-03-31 15:49] GLBB commented on #9786
@RaigorJiang
![image](https://user-images.githubusercontent.com/24810876/113171621-394dd680-927a-11eb-82e3-09ba67668d1e.png)
In sharding proxy example, config `useServerPrepStmts = true`, may need to modify this example configuration.
in addition, I want to consult you about how to lanch start up sharding proxy in idea for convenient learn shardingProxy.
best regards!

[2021-04-01 00:39] #9890 closed

[2021-04-01 02:36] RelaxBin opened #9895 "if there is a script to create a table in the code, will it randomly select a sharding-base to create?"
When I do sharding in code that integrates with ealstic-job, when logging the runtime log of elastic-job, It create log tables in a different sharding-base each time.As shown in the figure below:
![001](https://user-images.githubusercontent.com/17397623/113235427-96c34100-92d5-11eb-81fd-6d1baafd5611.png)
![002](https://user-images.githubusercontent.com/17397623/113235436-99be3180-92d5-11eb-872b-ee

[2021-04-01 02:59] 15898317421 opened #9896 "Combine use sharding rule and shadow rule, but shadow rule config does not load."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-01 03:00] 15898317421 commented on #9896
/Library/Java/JavaVirtualMachines/jdk1.8.0_281.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:59422,suspend=y,server=n -javaagent:/Users/raistlin/Library/Caches/JetBrains/IntelliJIdea2020.2/captureAgent/debugger-agent.jar -Dfile.encoding=UTF-8 -classpath /Library/Java/JavaVirtualMachines/jdk1.8.0_281.jdk/Contents/Home/jre/lib/charsets.jar:/Library/Java/JavaVirtualM

[2021-04-01 03:39] sandynz opened #9898 "SHOW SHARDING RULE via JDBC ResultSet.getObject(4) get SQLException: Bad format for BigInteger '4'"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No exception thrown

### Actual behavior
Exception:
[code]

### Reason analyze (If you can)
Column type of databaseStrategy in metadata is BIGINT, but it's CHAR in fact.

### Steps to reproduce th

[2021-04-01 03:42] jingshanglu opened #9899 "PostgreSQL parser error"
## Bug Report

Please answer these questions before submitting your issue. Thanks!

### Which version of ShardingSphere did you use?

commit :59970c77e435c702a174a1d98e932cc9fa125a85

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

### Expected behavior
[code]
The SQL can be parsed correctly
### Actual behavior

[code]

### Reason analyze (If you can)
Operator '! ~' ca

[2021-04-01 03:46] 15898317421 commented on #9896
2021-04-01 11:46:12 [ ERROR ] [ dynamic-datasource-sharding-spring ] [ -1 ] [ default ] [ 172.20.161.24:8080 ] [ dc:6f09af039a514b8f96e1cca5cb02d218; ] [ http-nio-8080-exec-5 ] [ GlobalExceptionHandler.java:121 ] [ loggerError ] [ http://localhost:8080/sample/insertWithShadow ] [ 49 ] [ BadSqlGrammarException ] - GlobalExceptionHandler exception happened
org.springframework.jdbc.BadSqlGrammarExcep

[2021-04-01 06:01] 15898317421 commented on #9896
[INFO ] 13:59:30.560 [ShardingSphere-Command-0] ShardingSphere-SQL - Logic SQL: SELECT @@session.transaction_read_only
[INFO ] 13:59:30.560 [ShardingSphere-Command-0] ShardingSphere-SQL - SQLStatement: SelectStatementContext(super=CommonSQLStatementContext(sqlStatement=org.apache.shardingsphere.sql.parser.sql.statement.dml.SelectStatement@20a25075, tablesContext=org.apache.shardingsphere.sql.parse

[2021-04-01 06:01] 15898317421 commented on #9896
2021-04-01 13:59:30 [ ERROR ] [ dynamic-datasource-sharding-spring ] [ -1 ] [ default ] [ 172.20.161.24:8080 ] [ dc:67362040931546b2af244d5c6c9dc006; ] [ http-nio-8080-exec-10 ] [ GlobalExceptionHandler.java:121 ] [ loggerError ] [ http://localhost:8080/sample/insertWithShadow ] [ 48 ] [ BadSqlGrammarException ] - GlobalExceptionHandler exception happened
org.springframework.jdbc.BadSqlGrammarExce

[2021-04-01 06:55] RelaxBin commented on #9873
According to my tests, it seems that this phenomenon only occurs when the table is not in sharding rule

[2021-04-01 06:58] #9898 closed

[2021-04-01 08:24] HughWick opened #9903 "Why can't the primary key be a string?"
When I use mybatis plus for data insertion, I get the following error:
[code]
My entity class:
[code]
My yml configuration.
[code]
In between I also tried to use a custom primary key for the problem, but I still get the appeal error message
[code]

[2021-04-01 09:03] 15898317421 commented on #9896
![1617267679762](https://user-images.githubusercontent.com/31759417/113270507-1f5cd400-930c-11eb-9545-73d6b7b84fcf.jpg)
![1617267666983](https://user-images.githubusercontent.com/31759417/113270536-271c7880-930c-11eb-8469-60d7285f887c.jpg)

[2021-04-01 09:12] SpriderMan commented on #9876
hi,how i can deal with the errors?

*****************************************************
Summary
-------
Generated at: 2021-04-01T17:09:35+08:00

Notes: 2
Binaries: 0
Archives: 260
Standards: 1902

Apache Licensed: 350
Generated Documents: 0

JavaDocs are generated, thus a license header is optional.
Generated files do not require license headers.

1550 Unknown Licenses

*************************

[2021-04-01 12:18] #9870 closed

[2021-04-01 12:23] dongzl commented on #9880
@cloudgyb Hi, which version do you use?

[2021-04-01 12:24] dongzl commented on #9903
@HughWick Hi, which version do you use? jdbc or proxy?

[2021-04-01 12:25] dongzl commented on #9896
@15898317421 Hi, can you test it with the newest code, the `master` branch?

[2021-04-01 12:28] dongzl commented on #9895
Hi @RelaxBin , which version do you use? sharding-jdbc or sharding-proxy?

I'm sorry, I don't understand for the meaning of `sharding-base`?

[2021-04-01 12:33] dongzl commented on #9886
Hi @littttttttlePig , I'm sorry, the `sharding-jdbc:2.0.3` is very old version, and it is not an apache version, we don't maintain it, I suggest you upgrade the new version.

[2021-04-01 12:34] dongzl commented on #9883
Hi @BruceZhangXL , can you test the problem with the newest version, the `master` branch code?

[2021-04-01 12:41] HughWick commented on #9903
@dongzl I am using sharding-jdbc-spring-boot-starter:4.1.1 , spring boot :2.2.7 , I have a code written wrong when asking questions. The keyGenerator:column in my yml configuration is actually SERIAL_NO, but I forgot to change it when I uploaded it.

[2021-04-01 14:17] RelaxBin commented on #9895
Sorry, that's my fault. I am expressing a sharded database.
The version is Sharding-jdbc 5.x

[2021-04-01 15:03] strongduanmu commented on #9800
@SammyXue Sorry for the late reply. I have tested the demo that you provided, and as you said, this is an existing bug. I have submitted a PR to fix this problem, you can try the `5.0.0-alpha` version later.

[2021-04-01 16:11] PengWangSan commented on #9893
HI @dongzl  ,I think it doesn't matter with the configuration.It is because, the user  don't have the  permission of some tables  on postgresq. My configuration is below. I will fix it .Is OK?
  <bean id="demo_ds" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="jdbcUrl" value="jdbc:p

[2021-04-02 02:01] dongzl commented on #9893
Hi @PengWangSan , welcome, you can submit PR and fix it.

[2021-04-02 02:12] dongzl commented on #9903
Hi @HughWick , I'm sorry, can you provide the error message and create a demo project on the github to reproduce this problem?

[2021-04-02 02:17] 15898317421 commented on #9896
The reason why I use the version 4.1.1 because of the pro env runs this version.
And I want to know how can combine use sharding rule and shadow rule with version 4.1.1 or not.
If the properties that I config worry, I hope you can help me to correct it.
Thanks~

[2021-04-02 02:33] Ykinc opened #9910 "mysql sql parse error"
version 4.1.1
project ShardingSphere-JDBC
sql:
 SELECT id,use_date
    from scrm_checkin_poster where del_flag = 0
                               AND type = 1
                               AND date(use_date) IN
    <foreach collection="useDateList" open="(" separator="," close=")" item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
    <if test="id != null">
      AND id != #{id}
    </if>

[2021-04-02 02:34] #9910 closed

[2021-04-02 02:45] wangkang09 opened #9911 "custom ShardingUpdateStatementValidator and invailld default ShardingUpdateStatementValidator"
version:4.1.1
sharing strategy: complex sharding strategy
sharing column: memberId、referenceNum

my sharding column are memberId and billno，but the real sharding column is memberId。if in the where condition only have referenceNum，We will calculate memberId by referenceNum，and sharding by the calculated memberId。

but，the default ShardingUpdateStatementValidator  will throw excption : Can not updat

[2021-04-02 02:48] wangkang09 commented on #9911
if the ShardingStatementValidatorFactory can use SPI，it will be nice

[2021-04-02 02:55] littttttttlePig commented on #9886
thanks @dongzl ,I got it when I upgrade to the apache version.

[2021-04-02 03:02] HughWick commented on #9903
@dongzl  Sorry, I can't create a separate project on github because it's an internal project. I suspect that the custom primary key is not working, could it be that I made a mistake when configuring the custom primary key? I followed the online tutorial for configuring custom primary keys, but I didn't find the corresponding configuration document on the website.

[2021-04-02 05:05] HughWick commented on #9903
@dongzl  I seem to have found the problem, I changed the algorithmExpression rule to "${Math.abs(SERIAL_NO.hashCode())%4}" first hashCode and then modulo and I don't have the previous data type error problem.

[2021-04-02 06:14] 15898317421 commented on #9896
I try it again with version 5.0.0-alpha, but it still wrong output.

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file

[2021-04-02 07:18] SpriderMan opened #9914 "when I curl request, the scaling gets wrong, how i can deal with it ?"
## Question

**version**:
apache-shardingsphere-4.1.0-sharding-scaling-bin

**curl**:

curl -X POST \
  http://localhost:8888/shardingscaling/job/start \
  -H 'content-type: application/json' \
  -d '{
   "ruleConfiguration": {
      "sourceDatasource": "ds_0: !!YamlDataSourceConfiguration\n  dataSourceClassName: com.zaxxer.hikari.HikariDataSource\n  properties:\n    jdbcUrl: jdbc:mysql://127.0.0.

[2021-04-02 08:08] dongzl commented on #9886
You are welcome!

[2021-04-02 08:08] #9886 closed

[2021-04-02 08:25] dongzl commented on #9903
Hi @HughWick , I understand `SERIAL_NO ` is `String`, if `SERIAL_NO % 3` maybe cause a mistake, you must covert the `SERIAL_NO` to number firstly.  Maybe `Integer.valueOf(SERIAL_NO) % 4`, but I am not sure, you can try it.

[2021-04-02 08:48] zhoubonet opened #9916 "Custom algorithm bug"
## Bug Report
![image](https://user-images.githubusercontent.com/4209701/113399590-0b2fda00-93d3-11eb-822b-8cb2fe261c94.png)

[2021-04-02 08:49] zhoubonet commented on #9916
![image](https://user-images.githubusercontent.com/4209701/113399799-64980900-93d3-11eb-8b55-5d9d7b21d4c5.png)

[2021-04-02 09:44] JiekerTime opened #9920 "IT cannot build governance environment"
In the JDBC governance module of the integrated testing framework, because the local zookeeper port is randomly mapped to the local, we cannot fill in the rules.xml information like the following:
[code]
We may have two ways to solve this problem.

1. Fix the local mapping port for zookeeper, but this goes against the idea of Container.
2. Implement the governance interface like Mysql, which may r

[2021-04-02 09:58] #9892 closed

[2021-04-02 09:59] #9852 closed

[2021-04-02 10:08] fox-he opened #9922 "can not use map get result while join table query"
today i use sharding-jdbc(4.1.1) to get data from database, but when use join table query and get result fill in map ,i  only can get first table data, can not get the  secend table data. when use low wersion(4.0.1) is ok. how is work?

[2021-04-02 11:15] huanghao495430759 commented on #9845
this is a bug

[2021-04-02 11:44] 2892824942 commented on #650
- [ShardingSphere应用专题–4.1.1版本–章节导航（一）](https://blog.csdn.net/qq_31457665/article/details/114970005)
- [ShardingSphere应用专题--常见数据库架构的演进（二）](https://blog.csdn.net/qq_31457665/article/details/114990203)
- [ShardingSphere应用专题--4.1.1版本--版本介绍及功能点汇总（三）](https://blog.csdn.net/qq_31457665/article/details/114991014)
- [ShardingSphere应用专题--4.1.1版本--Sharding-JDBC环境搭建（四）](https://blog.csdn.net/qq_31457665/artic

[2021-04-02 12:05] huanghao495430759 commented on #9845
I think the problem is in `WhereClauseShardingConditionEngine.createShardingConditions` method, because when `SelectStatement.getFrom()` is `JoinTableSegment`, and `JoinTableSegment.getCondition()` also is a type of LogicSQL `WhereSegment`, so we should parse
it to `WhereSegment`  and add into ShardingConditions Result.

[2021-04-03 07:57] dongzl commented on #9895
Hi @RelaxBin , can you provide the configuration of your project? or provide a demo project on the github for reproduce this problem.

[2021-04-03 08:00] dongzl commented on #9922
Hi @fox-he ,can you provide the configuration of your project, or provide a demo project on github for reproduce this project?

also include the SQL of reproduce this problem.

[2021-04-03 08:07] dongzl commented on #9911
`my sharding column are memberId and billno，but the real sharding column is memberId。`

Hi @wangkang09 , what's the meaning of it?  why the configuration include two sharding column, but actually only one？

can you provide the configuration of your project?

[2021-04-03 08:09] dongzl commented on #9916
Hi @zhoubonet , can you provide more details?

the configuration of you project? which version do you use? sharding-jdbc or sharding-proxy?

can you provide a demo project on the github to reproduce this problem, thanks?

[2021-04-03 08:09] dongzl commented on #9916
Hi @zhoubonet , can you provide more details?

the configuration of you project? which version do you use? sharding-jdbc or sharding-proxy?

can you provide a demo project on the github to reproduce this problem, thanks?

[2021-04-03 08:19] dongzl commented on #9914
Hi @Lucas-307 , Please help with this issue, Thanks.

[2021-04-03 08:20] dongzl commented on #9920
Hi @JiekerTime , if you have a good idea, you can submit a PR and fix it, Thanks.

[2021-04-03 08:34] wgy8283335 commented on #8284
Hi @tristaZero, since guimingyue 's PR is raised, should I prepare to do something calcite-related after the Qingming holiday?

[2021-04-03 08:38] wgy8283335 commented on #8284
Hi @tristaZero, since guimingyue 's PR is raised, should I prepare to do something calcite-related after the Qingming holiday?

[2021-04-03 08:41] strongduanmu commented on #9811
@814196912  Can you provide the schema of the table, and complete exception stack? I need this information to reproduce the error.

[2021-04-03 10:27] wangkang09 commented on #9911
Thank you for your reply。this is my sharding algorithm
[code]

[2021-04-03 12:21] wgy8283335 opened #9926 "Why should we support Oracle SQL, as Oracle has its own partitioning?"
## Why should we support  Oracle SQL, as Oracle has its own partitioning?

Below are the VLDB and partitioning link:
https://docs.oracle.com/en/database/oracle/oracle-database/19/vldbg/partition-admin.html#GUID-F2C99CFA-1090-4A62-B452-D4E116A40A34

[2021-04-03 12:43] #9800 closed

[2021-04-03 12:53] wangkang09 commented on #9911
@dongzl

[2021-04-03 14:37] PengWangSan commented on #9893
@dongzl HI,I have commited the PR. Please check.

[2021-04-03 15:48] #9786 closed

[2021-04-04 09:07] cloudgyb commented on #9880
4.1.1

[2021-04-04 09:41] #9899 closed

[2021-04-04 12:42] tristaZero commented on #9926
Hi,

Oracle partition is like the portion table of MySQL? Could it exist across different instances?

[2021-04-04 12:48] tristaZero commented on #8284
@wgy8283335 We have to wait @guimingyue 's PR merged. It still needs some time, I guess.

[2021-04-04 12:49] tristaZero commented on #650
Hi @2892824942 Cool! Thanks for your contribution to help more users have a deeper understanding about this wonderful project.

[2021-04-04 12:50] wgy8283335 commented on #9926
It seems like only supporting the sharding table.

[2021-04-05 04:52] tristaZero commented on #9926
Hey, I just gave a glance at the link you mentioned. It looks this concept is similar to MySQL's partition table which can not cross different instances or servers [1]. But ShardingSphere can allow shardings to reside in different servers.
If you just had a few lookups, it is easy to get the answer instead of letting me tell you the result.
I am welcomed to any `valuable` discussion.

[1] https://

[2021-04-05 05:22] #9926 closed

[2021-04-05 10:20] GaoFeiGit opened #9938 "How to dynamically create and modify sharding policy at runtime?"
Create and modify sharding policy at runtime.

[2021-04-05 14:12] fox-he commented on #9922
Hi Dong,  i have push a demo in my github, please find the follow link: https://github.com/fox-he/shardingsphere-demo.git .
i use junit to test the demo. any question please send mail to me. thanks.

[2021-04-05 14:13] fox-he commented on #9922
Hi Dong,  i have push a demo in my github, please find the follow link: https://github.com/fox-he/shardingsphere-demo.git .
i use junit to test the demo. any question please send mail to me. thanks.

[2021-04-06 01:25] zhoubonet commented on #9916
setting Custom algorithm code debugger result
![image](https://user-images.githubusercontent.com/4209701/113645725-006a9300-96ba-11eb-903e-b1cb564b3135.png)

[2021-04-06 02:56] GaoFeiGit commented on #9938
Maybe i could invoke the method `ShardingSphereDataSourceFactory.createDataSource` once again,and replace the ShardingSphereDataSource bean in Spring context . is it right?

[2021-04-06 03:39] RaigorJiang commented on #9916
@zhoubonet
Thanks for your report, let me have a chek.

[2021-04-06 03:58] RaigorJiang commented on #9683
Hi @zhkj0001

which version do you use? sharding-jdbc or sharding-proxy?

would you please give mere details, thank you.

[2021-04-06 04:04] #9499 closed

[2021-04-06 04:45] #9853 closed

[2021-04-06 06:12] tristaZero commented on #8892
Hi @RelaxBin ,

What if `STUDENT_INFO` is lower-case? Does it work well?

[2021-04-06 06:38] GaoFeiGit commented on #9938
I think the solution above is a way to solve the problem.But I need to close the original DataSource，so it is not safe while some operations are processing.

[2021-04-06 07:07] #9844 closed

[2021-04-06 07:30] terrymanu commented on #9938
Please see https://shardingsphere.apache.org/document/current/en/features/governance/management/

[2021-04-06 07:49] xianshun163 opened #9946 "How to config to use the HashModShardingAlgorithm"
## Question
I  want to know  how to  config the  config-sharding.yaml  file   about use the  "HashModShardingAlgorithm"  shardingAlgorithms .

There is an  example  in the  file   config-sharding.yaml  like this :
      t_order:
        actualDataNodes: ds_${0..1}.t_order_${0..2}
        tableStrategy:
          standard:
            shardingColumn: order_id
            shardingAlgorithmName: t_or

[2021-04-06 08:15] xianshun163 commented on #9946
t_order_inline:
        type: HASH_MOD
        props:
          sharding-count: "12"

[2021-04-06 08:15] #9946 closed

[2021-04-06 08:17] xianshun163 commented on #9946
I have do it  myselfe.
sharding-count   must   as   a string  by  "".

[2021-04-06 08:29] MingxingLAI opened #9948 "refactor TablesContext"
Using stream to  **Simplify** the code and **keep it consistent** with other functions in TablesContext.

[2021-04-06 08:35] MingxingLAI commented on #9948
I hope to submit a PR to optimize the code, and I need the help of a mentor. @tristaZero

[2021-04-06 08:51] MingxingLAI commented on #7522
can I take it please?

[2021-04-06 09:29] SpriderMan opened #9951 "how can i deal with it ?"
**version**:   apache-shardingsphere-4.1.0-sharding-scaling-bin
**request**:

curl -X POST \
  http://localhost:8888/shardingscaling/job/start \
  -H 'content-type: application/json' \
  -d '{
   "ruleConfiguration": {
      "sourceDatasource": "ds_0: !!org.apache.shardingsphere.orchestration.core.configuration.YamlDataSourceConfiguration\n  dataSourceClassName: com.zaxxer.hikari.HikariDataSource\

[2021-04-06 10:48] RaigorJiang commented on #9916
Hi @zhoubonet
because ClassBasedShardingAlgorithm implemented three interfaces, so there's a real problem here.  I'll fix it, thank you.

[2021-04-06 11:26] RelaxBin commented on #8892
Yes, in lower case, it work well

[2021-04-06 11:27] RelaxBin commented on #8892
Yes, in lower case, it work well

[2021-04-06 12:12] zhujunxxxxx commented on #9854
@strongduanmu I'm sorry that I clicked cancel by accident. Please assign it to me again ^_^

[2021-04-06 13:25] #5608 closed

[2021-04-06 15:30] #9916 closed

[2021-04-06 15:47] RaigorJiang commented on #9832
Hi @xingmengyoulan   It is not supported yet.

[2021-04-07 02:52] sandynz opened #9955 "Proxy with empty configuration "show databases" and "create database db1" failed when governance enabled"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit: c7ea29693b802cffd29fd5323bf35970434bd353

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
No exception thrown

### Actual behavior
Stack trace:
[code]

### Reason analyze (If you can)
`backendConnection.getSchemaName()` is null, which c

[2021-04-07 03:25] farawayliu opened #9956 "NullPointerException occurred while executing "INSERT", but the execution of "SELECT" worked properly"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-07 03:33] wl4g opened #9957 "Under the environment of Ubuntu + eclipse, the path of project directory contains Chinese, which leads to the error that shardingsphere proxy cannot read the configuration file"
Description: Under the environment of Ubuntu + eclipse, the path of project directory contains Chinese, which leads to the error that shardingsphere proxy cannot read the configuration file

Version: shardingsphere:5.0.0-alpha

Environment: Ubuntu:20 + Eclipse Oxygen.3a Release (4.7.3a)

Errors Stacktrace:

Exception in thread "main" java.io.FileNotFoundException: /home/xxx/%e6%96%87%e6%a1%a3/java

[2021-04-07 03:37] wl4g commented on #234
商物云  https://sunwuu.com

[2021-04-07 05:36] sandynz commented on #9568
Some discussion notes with @tristaZero

- Execution progress could be put in `show processlist` `State` column, keep the same columns as MySQL.
- Add a new `finish` method in `ExecuteProcessEngine` and `ExecuteProcessReporter` to clean up execution node in ZK. If there's execution failure or timeout, just keep it in ZK for now, in order to convinience of debugging.
- Clean up `EXECUTE_ID` thread l

[2021-04-07 06:07] 206227087 opened #9962 "Does the shardingsphere-scaling support mysql 8?"
## Question
I'm trying to scaling the cluster for mysql8.0.17, and it has succeed with inventory data but failed with incremental data. Does the shardingsphere project support mysql 8 now?

BTW, I tried to refactor the code in shardingsphere-scaling about mysql packet protocol, but there are still some problems.
Has anyone succeed?

[2021-04-07 06:08] 206227087 opened #9963 "Does the shardingsphere project support mysql 8 ?"
## Question
I'm trying to scaling the cluster for mysql8.0.17, and it has succeed with inventory data but failed with incremental data. Does the shardingsphere project support mysql 8 now?

BTW, I tried to refactor the code in shardingsphere-scaling about mysql packet protocol, but there are still some problems.
Has anyone succeed?

[2021-04-07 06:08] #9963 closed

[2021-04-07 06:10] tristaZero opened #9964 "Refactor DistSQL for Resource/DB recovery/Sharding/Read write splitting rules"
Hi,

Although we have finished the basic process for these rules, there are more reasonable and expressive distributed-SQL. Here is the new draft for them.

## RESOURCE

1. Add
[code]

2. Drop resource
[code]

4. Show resources
[code]

## DB_DISCOVERY

1. Create
[code]

2. Alter
[code]

3. Drop
[code]

4. Show
[code]

## READWRITE_SPLITTING

1. Create
[code]

2. Alter
[code]

3. Drop
[code]

4. Sh

[2021-04-07 06:25] xhkyyy commented on #9524
if there are 3 Datasources, how does SS know which one is the default?
can you explain it in details?

[2021-04-07 06:26] tristaZero commented on #9948
Welcome, please request me as the reviewer for your new PR.

[2021-04-07 06:55] tristaZero commented on #9524
SS has no needs to know which one is default ds, since it will put a single table randomly. All datasources are the `storage`s for SS.

[2021-04-07 06:56] tristaZero commented on #234
@wl4g Then you are the part of this community. :)

[2021-04-07 07:03] tristaZero commented on #9956
Hi @farawayliu  could you try 5.0.0-alpha?

[2021-04-07 07:04] tristaZero commented on #9962
Hi @Lucas-307 please look at  this one.

[2021-04-07 07:04] tristaZero commented on #9951
Hi @Lucas-307  Here.

[2021-04-07 07:10] farawayliu commented on #9956
Could not find artifact org.apache.shardingsphere:sharding-jdbc-core:pom:5.0.0-alpha

[2021-04-07 07:52] wl4g opened #9965 "Hello, do shardingsphere scaling support disaster recovery (such as master-slave switching)? How to write the code without my own implementation? For example, modify: org.apache.shardingsphere . proxy.frontend.netty.frontendchannelinboundhandler#backendconnection?"
Hello, do shardingsphere scaling support disaster recovery (such as master-slave switching)? How to write the code without my own implementation? For example, modify: org.apache.shardingsphere . proxy.frontend.netty.frontendchannelinboundhandler#backendconnection?

[2021-04-07 07:57] djession opened #9966 "Build from master,but some jars in shardingsphere-proxy-5.0.0alpha.tar can not find in the build target folder"
## Question
build the shardingsphere-proxy from master branch, the build result is different from apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin.tar.gz.
eg:
sphere-tracing-opentracing-5.0.0-alpha.jar
can not found the sphere-tracing-opentracing in my build result.
how can i make shardingsphere-proxy work with master branch like used apache-shardingsphere-5.0.0-alpha-shardingsphere-prox

[2021-04-07 08:26] #9764 closed

[2021-04-07 09:19] RaigorJiang commented on #9187
Is the problem still exists?  I'll make a check.

[2021-04-07 10:08] aa310958153 opened #9970 "关于shardingscaling全量同步"
## Question
实在搞不定了 源码也下下来调试了 5.0版本
{
  "ruleConfiguration": {
    "source": {
      "type": "shardingSphereJdbc",
      "parameter": {
        "dataSource": "dataSources:\n canal2:\n  dataSourceClassName: com.zaxxer.hikari.HikariDataSource\n  props:\n    jdbcUrl: jdbc:mysql://127.0.0.1:3306/canal2?useSSL=false&useUnicode=true&characterEncoding=utf8&autoReconnect=true\n    username: root\n    passw

[2021-04-07 10:29] JiekerTime commented on #8892
Hi @RelaxBin @ywendy ! Your findings are very valuable!
According to the rules of the source code, the table name configured by the encrypt rule must be the same as the case of the table name in SQL.This is because we maintain the encrypt rules through a map：
![image](https://user-images.githubusercontent.com/76552510/113852105-c50db880-97ce-11eb-8ffb-25a4c5f8b0ad.png)
If you need to use this feat

[2021-04-07 10:32] setamv opened #9971 "underscore in table name is not escaped while fetch table name meta data"
## Bug Report

underscore in table name is not escaped while fetch table name meta data.
when i have 2 table: T_YSG_DEF_001、T_YS__DEF_001
when i start service, i encoutered the error like this:  nested exception is java.sql.SQLException: Column 'AR_CODE' not found.

### Which version of ShardingSphere did you use?
4.1.1
The Database is MySQL 8.0

### Which project did you use? ShardingSphere-JDBC

[2021-04-07 11:10] menghaoranss commented on #9970
For English only. @aa310958153

[2021-04-07 11:10] #9970 closed

[2021-04-07 11:21] menghaoranss commented on #9966
Please refer to `README.md` in the ROOT path of ShardingSphere master branch.

[2021-04-07 12:02] #9955 closed

[2021-04-07 12:30] terrymanu commented on #9966
What is your expectation?
Build `master` or `5.0.0-alpha` version?

[2021-04-07 12:31] terrymanu commented on #9965
scaling is for data migrate, for example, change 2 sharded databases to 4 databases

[2021-04-07 12:37] terrymanu commented on #9956
https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-jdbc-core

[2021-04-07 12:53] CatYangWei opened #9974 "hao to use shardingsphere-agent module?"
I want konw how shardingsphere-agent module integrate the sharding proxy or the sharding jdbc?

[2021-04-07 13:01] sandynz opened #9976 "Proxy with empty configuration "show sharding rule" return empty set after "create sharding rule" when governance enabled"
## Bug Report

### Which version of ShardingSphere did you use?
5.0.0-RC1-SNAPSHOT, commit: c7ea296

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Show sharding rule

### Actual behavior
[code]

### Reason analyze (If you can)
`create sharding rule` persist `autoTables` only, `show sharding rule` inspect `tables`

### Steps

[2021-04-07 13:46] RaigorJiang commented on #9187
Hello @13998475189
I tried ShardingJDBC(5.0.0-RC1-SNAPSHOT) with Mybatis(3.5.4), it works well.  Can you try the latest version of ShardingJDBC?  Thank you!

![image](https://user-images.githubusercontent.com/5668787/113876469-5c343980-97ea-11eb-8de5-78c7c2ab86ff.png)

[2021-04-07 14:00] terrymanu opened #9981 "Add SchemaRule and GlobalRule to distinguish rules scope"
Apache ShardingSphere's pluggable kernel is driven by rules.
It is time to add new domain of rules : `scope`.

- The scope of SchemaRule is based and took effect on single schema, for example: ShardingRule, EncryptRule, ShadowRule, ReadWriteSplittingRule and so on;
- The scope of GlobalRule is based and took effect on whole ShradingSphere-Proxy instance, for example: AuthorityRule.

It is same wit

[2021-04-07 19:23] as882301 opened #9986 "2Unknown exception: [Can not route tables for `[role_relation, ssmember]`, please make sure the tables are in same schema.]"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-08 01:15] as882301 commented on #8621
我也是遇到 这种问题 请问你解决了吗

[2021-04-08 02:02] CatYangWei commented on #9675
how or where  **PluginBootServiceManager** startup?

[2021-04-08 02:52] yu199195 commented on #9974
you can see this ： https://shardingsphere.apache.org/document/current/cn/features/governance/observability/agnet/

[2021-04-08 02:59] djession commented on #9966
@terrymanu

yesterday，building master and run it，via mysql-client-8 cli connect the shardingsphere-proxy，got exception：
`Thanks for using Atomikos! Evaluate http://www.atomikos.com/Main/ExtremeTransactions for advanced features and professional support
or register at http://www.atomikos.com/Main/RegisterYourDownload to disable this message and receive FREE tips & advice
[INFO ] 2021-04-07 20:25:56

[2021-04-08 03:02] sandynz commented on #9976
Value of `/governance_ds/metadata/sharding_db/rule` in ZK:
[code]

[2021-04-08 03:15] wangjing112 commented on #9986
i get other exception:

[2021-04-08 03:21] RaigorJiang commented on #9986
Hi @as882301  @wangjing112
Could you provide your sharding configuration , and the logic SQL & actual SQL?

[2021-04-08 03:28] as882301 commented on #9986
schemaName: sharding_db
#
dataSourceCommon:
#  username: root
#  password:
 connectionTimeoutMilliseconds: 30000
 idleTimeoutMilliseconds: 60000
 maxLifetimeMilliseconds: 1800000
 maxPoolSize: 50
 minPoolSize: 1
 maintenanceIntervalMilliseconds: 30000
#
dataSources:
 ds_1:
   url: jdbc:mysql://127.0.0.1:3306/shop?serverTimezone=UTC&useSSL=false
   username: shop
   password: Zjw228478
 ds_2:
   ur

[2021-04-08 03:39] djession commented on #9966
question resloved.

btw:
when i use master branch found new requirements, that is cli connect shardingsphere-proxy must specify the schema as a direct result of the navicat can not use.
can modify this?

[2021-04-08 03:39] RaigorJiang commented on #9986
OK, table `ssmember` and `role_relation` are in different databases, so it can not work.

Please see
https://shardingsphere.apache.org/document/current/en/features/sharding/use-norms/sql/  (English)
https://shardingsphere.apache.org/document/current/cn/features/sharding/use-norms/sql/  (Chinese)

Sharding does not support cross-database relevance.

[2021-04-08 03:42] RaigorJiang commented on #9986
@as882301
Suggestion:   make the relevance business logic in your application layer, but not in the databases.

[2021-04-08 03:47] as882301 commented on #9986
OK, thank you very much

[2021-04-08 05:18] strongduanmu commented on #9976
@sandynz Thank you very much for your feedback, I will look at this issue.

[2021-04-08 06:31] farawayliu commented on #9956
@tristaZero @terrymanu tks for ur help. i use sharding-jdbc version 4.0.0, and both "select" and "insert" work well. i am sorry to i don't have time to test 5.0.0.

[2021-04-08 06:32] #9326 closed

[2021-04-08 06:49] totalo commented on #9887
hi, i want to do this.

[2021-04-08 07:33] guimingyue commented on #8284
@wgy8283335 I think you can start to learn something about the AST of calcite works,  since you are familiar with Antlr, and then you can try to fix the unsupported feature of the [SqlNodeConverter](https://github.com/guimingyue/shardingsphere/blob/sharding-optimizer/shardingsphere-infra/shardingsphere-infra-optimizer/src/main/java/org/apache/shardingsphere/infra/optimizer/converter/SqlNodeConvert

[2021-04-08 07:52] Lucas-307 commented on #9962
@avalon5666 Hi avalon, I remember you tested with mysql-8 before, would you help @206227087 for this issue.

[2021-04-08 07:57] Lucas-307 commented on #9914
@SpriderMan curl parameter is wrong, please follow the doc.

[2021-04-08 08:01] Lucas-307 commented on #9951
Datasource Check:
1. checkPrivilege
  - ALL PRIVILEGES
  or
  - REPLICATION SLAVE + REPLICATION CLIENT
2. checkVariable
  - LOG_BIN = ON
  - BINLOG_FORMAT = ROW
  - BINLOG_ROW_IMAGE = FULL

@SpriderMan Please make sure privilege and variable is valid.

[2021-04-08 08:10] CatYangWei commented on #9974
ok thanks

[2021-04-08 08:15] mybug99 commented on #9887
what?

[2021-04-08 08:23] mybug99 commented on #9887
how to solve this problem?

[2021-04-08 08:37] menghaoranss opened #9991 "The output is incorrect when add resource and database connection failed"
Execute RDL `ADD RESOURCE` ，but the client outputs `Can not drop resources` :

[code]

[2021-04-08 08:41] menghaoranss commented on #9964
Repeatability check of `dataSourceName` for `ADD RESOURCE` should be added

[2021-04-08 09:15] totalo commented on #9887
I need to look into it. Do you have a demo program?

[2021-04-08 09:27] Lucas-307 commented on #9876
@SpriderMan I guess you changed checkstyle_ci.xml or something, please reset all code.

[2021-04-08 09:36] tuohai666 opened #9993 "Can not find owner from table"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-08 10:18] mybug99 commented on #9887
The name I submitted to my warehouse is: study-shardingjdbc
The code is in the master branch

[2021-04-08 14:37] 307434169 opened #9995 "Bug!!! syntax parser in version 4.1.1"
### environment :   sharding-jdbc-spring-boot-starter  4.1.1
### sql: update order_info set order_info.status=? where order_info.orderid=?

Exception in thread "main" org.apache.shardingsphere.underlying.common.exception.ShardingSphereException: Cannot support Multiple-Table for 'org.apache.shardingsphere.sql.parser.sql.statement.dml.UpdateStatement@6c56fff'.
	at org.apache.shardingsphere.sharding

[2021-04-08 14:42] 307434169 opened #9996 "Bug!!! syntax parser in version 4.1.1"
### environment :   sharding-jdbc-spring-boot-starter  4.1.1
### sql: update order_info set order_info.status=? where order_info.orderid=?

Exception in thread "main" org.apache.shardingsphere.underlying.common.exception.ShardingSphereException: Cannot support Multiple-Table for 'org.apache.shardingsphere.sql.parser.sql.statement.dml.UpdateStatement@6c56fff'.
	at org.apache.shardingsphere.sharding

[2021-04-08 16:34] RaigorJiang commented on #9996
Hi @307434169
Please show your sharding configuration ,  logic SQL and actual SQL.

[2021-04-08 16:37] RaigorJiang commented on #9996
Maybe your SQL should be pithy, like:
update order_info set status=? where orderid=?

[2021-04-09 01:28] totalo commented on #9887
I added that dependency and the project started normally

[2021-04-09 01:28] totalo commented on #9887
![image](https://user-images.githubusercontent.com/29777558/114115722-ef1dc280-9915-11eb-8484-5d426e5cca4d.png)

[2021-04-09 01:28] totalo commented on #9887
![image](https://user-images.githubusercontent.com/29777558/114115743-f93fc100-9915-11eb-8307-749d64f478ee.png)

[2021-04-09 01:29] totalo commented on #9887
![image](https://user-images.githubusercontent.com/29777558/114115771-08bf0a00-9916-11eb-8690-562a4cb550a3.png)

[2021-04-09 01:32] totalo commented on #9887
You can view it at https://github.com/mybug99/study-shardingjdbc/pull/1

[2021-04-09 02:38] laiweiNo2 opened #9997 "Shardjing JDBC 4.x how to pull data configuration center"
Shardjing JDBC using zookeeper unified management configuration can realize dynamic refresh data source, but the service restart configuration information on how to take the initiative to pull configuration center

[2021-04-09 03:07] xianshun163 opened #9999 "Is version 5.0.0 recommended for production?"
## Question
Is version 5.0.0 recommended for production?
we mainly use the sharding  feature   in the near future.

Is that  any suggestions?

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSpher

[2021-04-09 03:47] #9694 closed

[2021-04-09 03:51] #9854 closed

[2021-04-09 04:07] mybug99 commented on #9887
Thank you very much, it's okay, why you only need to add: config_center is Ok？

[2021-04-09 04:15] terrymanu commented on #9995
Duplicate with #9996

[2021-04-09 04:15] #9995 closed

[2021-04-09 04:41] terrymanu commented on #9996
@strongduanmu Please have a look, this issue seems resolved on 5.x version

[2021-04-09 04:42] terrymanu commented on #9999
Not for now, please test and feedback us until version 5.0.0 release

[2021-04-09 04:44] terrymanu commented on #9997
Please set `overwrite` to `true`

[2021-04-09 05:06] viclemon commented on #9879
Unfortunately, the latest version is not stable version
The two versions are quite different, and upgrade cost is relatively high.
I'll use my own code

[2021-04-09 05:45] laiweiNo2 commented on #9997
Overwrite is set to true, the local configuration overrides the configuration on the zookeeper, I hope that is a service restart is local uncovers a zookeeper, but will be subject to the configuration on the zookeeper

[2021-04-09 07:52] xianshun163 commented on #9999
ok    ， thanks。

[2021-04-09 07:52] #9999 closed

[2021-04-09 08:27] zhujunxxxxx commented on #9993
I wan to try.

[2021-04-09 09:06] laiweiNo2 opened #10007 "Made configuration zookeeper center, the service start no reading configuration center configuration, read or local configuration"
Made configuration zookeeper center, the service start no reading configuration center configuration, read or local configuration. Lead to can not find from the center of new to the configuration of data sources

[2021-04-09 09:14] tangdoupapa opened #10008 "when use left join the shardingsphere-jdbc or the shardingsphere-proxy are unnormal working, i get the NullException"
## Bug Report
version:  5.0.0-alpha
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
i user shardingsphere-jdbc and shardingsphere-proxy

### Expected behavior
i excute this sql: `SELECT count(1) FROM wechat_people_user web LEFT JOIN sys_organization org ON web.org_id = org.id `
i expected get the result is a number

actual behavior:  i get the null exception,the details

[2021-04-09 09:33] SpinSi opened #10009 "Can not find config data-source With versin 5.0.0-alpha"
You are Chinase ,Why Engilish?

see  https://shardingsphere.apache.org/document/current/cn/overview/
Depend on  document
ShardingSphere > 用户手册 > ShardingSphere-JDBC > 使用手册 > 数据分片
with spring namespace
and version 5.0.0-alpha
org.apache.shardingsphere
shardingsphere-jdbc-core-spring-namespace
5.0.0-alpha
we can not find this config
shardingsphere:data-source

[2021-04-09 09:39] #9981 closed

[2021-04-09 10:08] #9966 closed

[2021-04-09 10:26] avalon5666 commented on #9962
Pls provider exception stack, not support 8.0 default pluggable authentication caching_sha2_password yet.

[2021-04-09 13:04] totalo commented on #9887
I'm not quite sure why, my error here is not the above error without adding config_center. I need to research more deeply. It is just a coincidence. I just found that there is an assert check for config_center in the code.

[2021-04-09 17:33] Liangda-w commented on #9604
@wgy8283335 oh yes! I'm sorry that I looked at an older release before.

[2021-04-10 00:32] duzhanfei commented on #8621
单独指定一下路由试试

在 2021-04-08 09:15:56，"QJ" ***@***.***> 写道：

我也是遇到 这种问题 请问你解决了吗

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-10 04:25] wl4g opened #10019 "Can shdringahpere-proxy support sharding and replica query for the same t_order table at the same time?"
Can shdringahpere-proxy support sharding and replica query for the same t_order table at the same time?

[2021-04-10 04:43] mybug99 commented on #9887
ok, thank you

[2021-04-10 05:49] terrymanu commented on #10007
What is your configuration about `overwrite`?

[2021-04-10 05:51] terrymanu commented on #10009
Please show your error log

[2021-04-10 05:53] terrymanu commented on #10009
Because of Apache ShardingSphere is a global community and English is the global language of the world.

[2021-04-10 06:00] terrymanu commented on #10019
Yes, FYI:
shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/src/test/resources/env/dbtbl_with_read_write_splitting/rules.yaml

[2021-04-10 06:11] wl4g commented on #10019
ok,   In addition, I would like to ask if there is a case of integration with https://github.com/openark/orchestrator or replication-manager   thanks!

[2021-04-10 06:12] wl4g commented on #10019
ok, In addition, I would like to ask if there is a case of integration with https://github.com/openark/orchestrator or replication-manager  thanks!

[2021-04-10 06:15] wl4g commented on #10019
Our department wants to encapsulate a complete new mysql ha solution, which can quickly deploy a proprietary cloud

[2021-04-10 06:15] wl4g commented on #10019
Our department wants to encapsulate a complete new mysql ha solution, which can quickly deploy a private cloud

[2021-04-10 15:35] strongduanmu commented on #10008
@tangdoupapa Can you try the latest master branch? This problem should have been fixed in the master.

[2021-04-10 15:41] tangdoupapa commented on #10008
@strongduanmu  ok， tomorrow, i will try the lastest master branch,   i will tell you the result, thanks

[2021-04-11 06:26] strongduanmu commented on #9996
@307434169 `Cannot support Multiple-Table` verification logic has been optimized in version 5.0.0-alpha. You can follow what @RaigorJiang said, use `update order_info set status=? where orderid=?` to avoid this exception.

During the investigation, I found an abnormality in the rewriting of the table in the set clause, and I will fix it soon.
[code]

[2021-04-11 10:19] huanghao495430759 commented on #9510
Hi,this is my ideas.

**Background**

1. we assume the sql like:  `create table user(id,user_name,password)`
  and the query Logic SQL : ` select * from user`
2. feature-encrypt rewrite engine : Scan all of the table columns to find the encrypt column from logic SQL, and generate the column token. just like `user.id,user.user_name,user.password`
3. feature-sharding rewrite engine for sharding tabl

[2021-04-11 12:51] lcwxz1989 opened #10037 "Multiple Databases in one datasource"
## Question
I have a datasource and a lot of databases in it. I think shardingsphere only support one database in one datasource senario

How to configure it.

[2021-04-11 15:11] terrymanu commented on #9510
We need to consider about how to remove duplicate token with same `start index`.
How about replace the token if there are same `start index`?
The TableTokenGenerator is generic SQLTokenGenerator, the EncrtyptXXXTokenGenerator is specific one.
It is make sense for the replace generic SQLTokenGenerator to specific one.

We just need to make sure the generic one always load before specific one, and l

[2021-04-12 04:27] #9845 closed

[2021-04-12 04:33] tristaZero commented on #10037
`ShardingSphereDataSource ` is for distributed scenario, including many database instance. You will learn more from document.

[2021-04-12 08:11] CatYangWei opened #10043 "what's the sharding jdbc config "autoTables' mean?"
where can i find the document or  the usage?

[2021-04-12 09:25] terrymanu opened #10047 "Add test case for DatabaseTypeRecognizer"

[2021-04-12 11:08] MartinDai commented on #10047
I will try it

[2021-04-12 14:14] wantao666 opened #10054 "Caused by: org.yaml.snakeyaml.error.YAMLException: Invalid tag: !READ_WRITE_SPLITTING"
i use docker to run sharing-proxy,it show that error.could you help me? waiting for your reply.

`Caused by: org.yaml.snakeyaml.error.YAMLException: Invalid tag: !READ_WRITE_SPLITTING`

![image](https://user-images.githubusercontent.com/29670394/114408139-b6167400-9bdb-11eb-8a51-0c8475c86ab0.png)

===========================below is the detail operation===========================
start command
[co

[2021-04-13 00:39] wgy8283335 commented on #8284
@guimingyue thank you, that's a good idea.

[2021-04-13 02:48] glon opened #10063 "Proxy broadcastTables select * error"
We get a problem when executing SQL  like `select * from city;` , can't get the results.
Table city configured  in broadcastTables.

[code]
And other client returns with error like :
![image](https://user-images.githubusercontent.com/7112178/114489371-99af2180-9c45-11eb-82ce-1fcb2e557159.png)

Our config-sharding.yaml :
[code]

Thanks for help.

[2021-04-13 03:57] #9996 closed

[2021-04-13 04:06] tristaZero commented on #10043
Hi @CatYangWei
I have to say this feature is so great, and will be improved later.
FYI. https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/configuration/yaml/sharding/

[2021-04-13 04:09] tristaZero commented on #10054
Hi which release do you use?

[2021-04-13 04:11] tristaZero commented on #10063
Hi
1. Could you set `sql.show` = true? That way, we can get more info from its log.
2. Did other SQLs on broadcastTable or shardingTable work well?

[2021-04-13 04:49] wantao666 commented on #10054
5.0.0-alpha

![image](https://user-images.githubusercontent.com/29670394/114498403-9a03e880-9c56-11eb-8a0f-c0c6bc6e0eb4.png)

[2021-04-13 05:18] #9991 closed

[2021-04-13 05:51] #9604 closed

[2021-04-13 06:04] SpriderMan commented on #9951
![image](https://user-images.githubusercontent.com/18304842/114487259-db3dcd80-9c41-11eb-8176-c478620bd373.png)

GRANT ALL PRIVILEGES ON *.* TO 'sharding_slave'@'%' WITH GRANT OPTION

[2021-04-13 06:27] SpriderMan commented on #9951
but it also gets wrong like that

[2021-04-13 06:32] SpriderMan opened #10065 "why it gets wrong ? scaling"
version:
sharding/apache-shardingsphere-5.0.0-alpha-shardingsphere-scaling-bin

request:
curl -X POST \
  http://localhost:8888/scaling/job/start \
  -H 'content-type: application/json' \
  -d '{
        "ruleConfig": {
          "source": {
            "type": "shardingSphereJdbc",
            "parameter": "
                dataSources:
                  ds_0:
                    dataSourceClassN

[2021-04-13 09:16] tangdoupapa commented on #10008
@strongduanmu  hi，I try the latest masster branch, this problem have been fixed,
 i want use shardingsphere-proxy like apache-shardingsphere-5.0.0-alpha-shardingsphere-proxy-bin,  i have a try  to replace all the jar about shardingsphere, but it run with a error .
server-config:
![image](https://user-images.githubusercontent.com/22194156/114528595-bd8d5a00-9c7b-11eb-9f73-ec2fdd289a94.png)
sharding

[2021-04-13 10:33] strongduanmu commented on #10008
@tangdoupapa Judging from the error message, it seems to be a problem with the seata configuration. Can you check your seata configuration again?

[2021-04-13 12:00] tangdoupapa commented on #10008
@strongduanmu  yes ， i think so，so i add the configuration about seate  and add this config  enable: false
![image](https://user-images.githubusercontent.com/22194156/114548736-bd4c8900-9c92-11eb-96e0-23fe2a911998.png)

[2021-04-13 12:38] huangchenliang opened #10076 "Why do you use the default sub database rules and do not query according to the default configured rules"
spring.shardingsphere.sharding.default-database-strategy.inline.sharding-column=market_id
spring.shardingsphere.sharding.default-database-strategy.inline.algorithm-expression=ds$->{"000".equals(market_id)? "2" : "1"}

[2021-04-13 12:38] huangchenliang commented on #10076
spring.shardingsphere.sharding.default-database-strategy.inline.sharding-column=market_id
spring.shardingsphere.sharding.default-database-strategy.inline.algorithm-expression=ds$->{"000".equals(market_id)? "2" : "1"}

[2021-04-13 14:11] strongduanmu commented on #9811
There was no reply for a long time, so it was closed.

[2021-04-13 14:11] #9811 closed

[2021-04-13 15:59] totalo commented on #2235
Hello, I want to try to do this. I want to know whether we aggregate the data of these Informations or choose a table to display. How do we distinguish nodes from different sources when we aggregate?

[2021-04-14 02:45] glon commented on #10063
1. We've set `sql.show = true`

When executing `select * from city`, could not get the answer, and the selected database will lost, like :
[code]

Here's the logs/stdout.log recording when executing the SQL :
[code]

server.yaml :
[code]

2. SQL like `select id, name from city`, `insert into city (id, name) values (...)[,(...)]` work well.
`insert into city values (...)[,(...)]` does not work as w

[2021-04-14 05:10] strongduanmu commented on #10063
@glon Thank you very much for your feedback. I tested it locally and did not reproduce your exception. 😪
Through the exception information you provided, I noticed that it may be caused by an unreasonable connection timeout. You can refer to this [article](https://lchml.com/technology/hikari-maxlifetime/) to check your connection timeout configuration.

[code]

[2021-04-14 05:16] strongduanmu commented on #10008
@tangdoupapa What is the final result? If this problem has been resolved, can we close this issue?

[2021-04-14 06:14] tangdoupapa commented on #10008
@strongduanmu  hi, the original problem has been resolved   .   but this proxy  can't run when i use the latest master branch.
 it has  a problem with the seata configuration.
how to close seate config when i run proxy?

[2021-04-14 06:34] #9976 closed

[2021-04-14 06:36] glon commented on #10063
@strongduanmu

Our backend MySQL DB timeout setting：
[code]

And I don't think it should be the reason.

Executing SQLs behind won't take a long time :

[code]

I can execute SQL `select * from not_broadcast_table` ，this problem only appears in broadcast tables, sharding tables do not have this problem.

[2021-04-14 06:39] #10047 closed

[2021-04-14 06:40] #9510 closed

[2021-04-14 06:44] tristaZero commented on #10076
So I did not catch you.
Which version is used? If there is no specific database strategy for that sharding table, default strategy will work.

[2021-04-14 08:02] glon commented on #10063
Executing SQLs :
[code]
And it's debug level log behind, logs/stdout.log
[code]

logback.xml :
[code]

[2021-04-14 08:24] glon commented on #10063
It seems a little bit like this [issue](https://github.com/apache/shardingsphere/issues/6606) , but  not exactly.

[2021-04-14 09:21] 726411951 opened #10086 "Is there a better way to cofig sharding properties"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2021-04-14 10:16] avalon5666 commented on #10065
Pls build from master branch.

[2021-04-14 10:30] taojintianxia opened #10087 "compelte the sysbench test document"
first of all, thx the people who commit the document for sysbench test, that's really fantastic.  I'd like to launch that test on my laptop.

however after I follow and did as the document step by step, there are something not that clear , I hope somebody could help me to clarify something for the document of [sysbench](https://shardingsphere.apache.org/document/current/cn/features/test-engine/per

[2021-04-14 10:41] taojintianxia commented on #10087
![image](https://user-images.githubusercontent.com/4112856/114697882-02cf8b80-9d51-11eb-94a3-ce790c1c2b00.png)

is this map correct ?

[2021-04-14 11:02] taojintianxia commented on #10087
@tuohai666 hi, Yonglun , I checked the git history of this document, would you please help me on this ?

[2021-04-14 13:23] ymwangzq opened #10088 "No value specified for parameter xxx"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-14 14:32] strongduanmu opened #10089 "Improve the support of PostgreSQL parse"
# Background

In order to improve the support of PostgreSQL parse, we need to recheck the PostgreSQL syntax definition, PostgreSQL Statement build and sharding route rewrite logic.

# Tasks
1. Refer to the [official documentation](https://www.postgresql.org/docs/13/index.html) to check the PostgreSQL syntax definition;
2. Refer to MySQL Statement to improve the support of PostgreSQL Statement;
3.

[2021-04-15 00:56] strongduanmu commented on #10088
@ymwangzq Duplicate with #7998, and we will fix this problem in next release.

[2021-04-15 00:56] #10088 closed

[2021-04-15 01:05] strongduanmu commented on #10008
@tangdoupapa I think you can close this issue first, and then submit an issue about seata integration. What do you think?

[2021-04-15 02:22] xianshun163 opened #10092 "Subquery does not support as"
## Bug Report
A simple example:
select  o.id  from   ( select  order_id as id   from t_order ) o;
In  our business code,   It is used very frequently.
It  is  that  any suggestions,  how    to   support  it ?

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-proxy
### Expected behavior

### Actual beh

[2021-04-15 03:16] xianshun163 commented on #10092
I  use the  master branches  code.

[2021-04-15 03:20] starldh commented on #10054
i also faced this error.waiting for reply

[2021-04-15 05:35] xuzhouqqq opened #10094 "sharding-jdbc-spring-boot-starter 4.0 sql 报错"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-15 05:45] laravelshao opened #10095 "How sharding-jdbc config complex & hint sharding strategy together for same table"
### Which version of ShardingSphere did you use?
4.1.1

### Which project did you use? Sharding-JDBC or Sharding-Proxy?
Sharding-JDBC

### Expected behavior
If has shardingColumn will use my custom complex sharding strategy, if has custom HintManager use hint sharding strategy.

### Actual behavior
But TableRuleConfiguration can only config for one sharding strategy. If config a table for hint sha

[2021-04-15 05:45] terrymanu opened #10096 "Merge error packet processors into PostgreSQLErrPacketFactory"
There are multiple processors to handle PostgreSQL error packets: PostgreSQLErrPacketFactory, PostgreSQLCommandExecuteEngine.getErrorPacket() and PostgreSQLAuthenticationEngine.createErrorPacket().

It should be merged the into one processor.

[2021-04-15 08:45] #10096 closed

[2021-04-15 09:51] laravelshao commented on #10095
@yu199195 Is sharding-jdbc support multi strategy for one table

[2021-04-15 11:18] tristaZero commented on #10054
Hi So you just tired the sample configuration file, right? Or you create a new file? Could you try another `sharding.yaml` configuraiton?

[2021-04-15 11:19] #9855 closed

[2021-04-15 11:21] tristaZero commented on #10063
Hi @strongduanmu any progress？

[2021-04-15 11:31] tristaZero commented on #10092
@xianshun163 Hi is there any exception?

[2021-04-15 11:44] tristaZero commented on #10086
You can consider using the `default-table-strategy` and  `default-database-strategy`.

[2021-04-15 11:45] tristaZero commented on #10094
Hi could you consider using  5.x version?

[2021-04-15 11:47] tristaZero commented on #10095
Hi @laravelshao currently, sharding sphere does not support two different strategies for one single table.  But you can configure two sharding tables (Just different names) with two strategies.

[2021-04-15 11:50] xianshun163 commented on #10092
Hi,  I use the shardingsphere proxy,    and  this is the  msg ：

[ERROR] 2021-04-15 19:19:08.792 [ShardingSphere-Command-22] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.lang.NullPointerException: null
	at org.apache.shardingsphere.proxy.backend.response.header.query.impl.QueryHeaderBuilder.build(QueryHeaderBuilder.java:77)
	at org.apache.shardingsphere.proxy.backend.response.header.que

[2021-04-15 12:48] tristaZero opened #10100 "Implement OraclePrivilegeHandler and add unit test"
Hi, community,

This issue is to `override` the `create()`, `grantAll()`,  and `diff()` of `OraclePrivilegeHandler` and also add unit tests for them in `OraclePrivilegeHandlerTest`.

### Definitions
`create()`, means creating new users (from the signature) in the database.
`grantAll()` means granting super privileges to users (from the signature) in the database.
`diff()`, means getting the user l

[2021-04-15 12:50] tristaZero opened #10101 "Implement PostgreSQLPrivilegeHandler and add unit test"
Hi, community,

This issue is to `override` the `create()`, `grantAll()`,  and `diff()` of `PostregreSQLPrivilegeHandler` and also add unit tests for them in `PostgreSQLPrivilegeHandlerTest`.

### Definitions
`create()`, means creating new users (from the signature) in the database.
`grantAll()` means granting super privileges to users (from the signature) in the database.
`diff()`, means getting

[2021-04-15 12:54] tristaZero opened #10102 "Implement SQLServerPrivilegeHandler and add unit test"
Hi, community,

This issue is to `override` the `create()`, `grantAll()`,  and `diff()` of `SQLServerPrivilegeHandler` and also add unit tests for them in `SQLServerPrivilegeHandlerTest`.

### Definitions
`create()`, means creating new users (from the signature) in the database.
`grantAll()` means granting super privileges to users (from the signature) in the database.
`diff()`, means getting the

[2021-04-15 12:55] laravelshao commented on #10095
@tristaZero How to configure two sharding tables for one single table, Can you give more information？

[2021-04-15 13:00] totalo commented on #10101
Get it

[2021-04-15 13:05] tristaZero commented on #10101
This issue perfect fit you. :)

[2021-04-15 13:21] Liangda-w commented on #10100
Hi @tristaZero, may I try this issue:)

[2021-04-15 15:56] RaigorJiang commented on #10102
Hi @tristaZero , I want to do this.

[2021-04-16 02:28] wgy8283335 opened #10104 "Tool for transfer from ORACLE SQL rule to the rule in g4 file."
## Tool for transfer from Oracle SQL rule to the rule in g4 file.

 For example:
 This is Oracle rule
![image](https://user-images.githubusercontent.com/22066046/114962786-ef7e0680-9e9d-11eb-9f51-7121b8364993.png)
This is the rule in the g4 file
[code]
Both rules are very like each other. Maybe we could try to build a tool for transferring automatically.

[2021-04-16 02:54] xianshun163 commented on #9069
I  have  do  ./mvnw install  ，but the  issue stays。 Is  that   other   thing  to do ?

[2021-04-16 03:20] strongduanmu commented on #10063
@tuohai666 Can you help me look at this issue? It seems similar to #6606.

[2021-04-16 03:37] wangkang09 opened #10105 "rewrite sql error when using keyGenerator and encrypt together"
shardingjdbc 4.1.1

Logic SQL: INSERT INTO rs_order  ( member_id,billno,email )  VALUES  ( ?,?,? )

Actual SQL: db1 ::: INSERT INTO rs_order_1  ( member_id,billno,email, email_hash, email_plain , id)  VALUES  (?, ?, ?, ?, ?, ?) :::
[1, 1, UTJNS0lVSmdLa0R4WEtHUcDbeXenQrmrOnpZHD32TYA=, 2021041605424943106, 4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb32062c08170a05eeb8, 11]

but, expected actual sq

[2021-04-16 03:45] 726411951 commented on #10086
hi, @tristaZero  ,I tried to use the  `default-database-strategy` like

spring.shardingsphere.sharding.default-database-strategy.standard.sharding-column=sharding_code
spring.shardingsphere.sharding.default-database-strategy.standard.precise-algorithm-class-name=com.xx.ShardingAlgorithmConfig

and my test SQL statements for select ,insert
` select  id, `name`, sharding from t_order where sharding_

[2021-04-16 06:32] aa310958153 opened #10106 "bug, emoji cant save(insert) or update, update is work shardingsphere-5.0.0-alpha"
## Bug Report
Caused by: java.sql.SQLException: Incorrect string value: '\xF0\x9F\x98\x8473' for column 'user_remark' at row 1
UPDATE soa_ord_order SET user_remark='小心发货😄102' WHERE id=429102753254514691
#Test
Execute update successfully: connect mysql
Execute failed: connect proxy

database config utf8mb4,utf8mb4_general_ci
filed config utf8mb4,utf8mb4_general_ci

[2021-04-16 06:36] aa310958153 commented on #10106
proxy log
[ERROR] 13:50:37.761 [ShardingSphere-Command-10] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
java.sql.SQLException: Incorrect string value: '\xF0\x9F\x98\x84\xF0\x9F...' for column 'consignee_name' at row 1
        at com.mysql.jdbc.SQLError.createSQLException(SQLError.java:965)
        at com.mysql.jdbc.MysqlIO.checkErrorPacket(MysqlIO.java:3978)
        at com.mysql.jdbc.MysqlIO

[2021-04-16 07:14] aa310958153 commented on #10106
org.apache.shardingsphere.proxy.backend.communication.jdbc.datasource.factory.JDBCRawBackendDataSourceFactory#build
add
config.setConnectionInitSql("set names utf8mb4;");  successfully

[2021-04-16 07:43] xiaojingkai opened #10107 "(sharding-proxy)The value of character_set is transformed between utf8 and utf8mb4"
### Which version of ShardingSphere did you use?

shardingsphere-5.0.0-alpha

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

insert emoji through utf8mb4

### Actual behavior

Unable to insert Emoji ，and the value of character_set is transformed between utf8 and utf8mb4 when I connect to the proxy to execute the "SHOW VARIA

[2021-04-16 07:50] xiaojingkai commented on #10107
/root/proxy5/conf/config-master_slave.yaml:

dataSources:
  primary_ds:
    url: jdbc:mysql://192.168.1.1:3306/dc_xhs?serverTimezone=UTC&useSSL=false
  replica_ds_0:
    url: jdbc:mysql://192.168.1.2:3306/dc_xhs?serverTimezone=UTC&useSSL=false
rules:
- !REPLICA_QUERY
  dataSources:
    primary_ds:
      primaryDataSourceName: primary_ds
      replicaDataSourceNames:
        - replica_ds_0

[2021-04-16 07:54] xiaojingkai commented on #10107
I tried to change the version of sharding-proxy and MySQL database connection driver, but it didn't work

[2021-04-16 08:33] ljwps opened #10108 "Using Oracle database, the program starts to check the table that has not been created"
## Bug Report

**For English only**, other languages will not accept.
Using Oracle database, the program starts to check the table that has not been created
Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

[2021-04-16 08:52] hautzhubin opened #10109 "AopConfigException"
ERROR LOG:
[org/apache/shardingsphere/spring/boot/SpringBootConfiguration.class]: Initialization of bean failed; nested exception is org.springframework.aop.framework.AopConfigException: Could not generate CGLIB subclass of class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource: Common causes of this problem include using a final class or a non-visible class; nested e

[2021-04-16 09:01] tristaZero commented on #10107
Hi, I did not see any parameter of character set in JDBC url?
You can configure characterSet by the parameters of hikariCP.

[2021-04-16 09:03] tristaZero commented on #10105
Could you try the 5.0.0-alpha?  I suppose we fixed it already.

[2021-04-16 09:09] tristaZero opened #10111 "[SQL Definition Collation][Oracle]Collate the SQL definition of alter session"
This issue is the subsequent one from [#9603](https://github.com/apache/shardingsphere/pull/9603#issuecomment-796600731).

Oracle Ref -> https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlqr/SQL-Statements.html#GUID-CE009C87-4AA6-45BF-9A0D-2B2C5FFB47B3

[2021-04-16 09:10] tristaZero commented on #10111
Hi @ThanoshanMV , this one is yours. :)
Could you comment here so that I can assign it to you?

[2021-04-16 09:14] xiaojingkai commented on #10107
This is my previous configuration，but it didn't work：
url: jdbc:mysql://192.168.1.1:3306/dc_xhs?characterEncoding=utf8&serverTimezone=UTC&useSSL=false

[2021-04-16 09:15] SpriderMan commented on #10065
https://www.apache.org/dyn/closer.cgi/shardingsphere/5.0.0-alpha/apache-shardingsphere-5.0.0-alpha-shardingsphere-scaling-bin.tar.gz  is wrong?

[2021-04-16 09:24] ThanoshanMV commented on #10111
Hi @tristaZero, I'll try this one.

[2021-04-16 09:29] tristaZero commented on #10092
Hi @xianshun163 ,
Thanks for your feedback, looks valuable.

@strongduanmu , could you have a look at this  one?
It seems we do not prepare the correct query header due to the metadata of a subquery.

[2021-04-16 10:03] tristaZero commented on #10086
When `default-database-stratege` exists, you did not configure `database-strategy` for specific sharding table, didn't you?

[2021-04-17 14:27] avalon5666 commented on #10065
The document is based on the main branch.

[2021-04-17 17:36] zhangdc007 commented on #6212
sharding-jdbc-spring-boot-starter still in 4.1.1

[2021-04-17 17:51] zhangdc007 opened #10118 "why sharding-jdbc-spring-boot-starter still in 4.1.1 ?"
In use sharding-jdbc-spring-boot-starter 4.1.1 and Spring boot 2.4.4
and find load metadata very slow,I see the bug is fix in 5.0.0-alpha in 10 Nov 2020,but sharding-jdbc-spring-boot-starter still in 4.1.1,and how can I update to 5.0.0-alpha in use of sharding-jdbc-spring-boot-starter

[2021-04-17 17:58] xuzhouqqq commented on #10094
Cannot find the 5.x version in the Maven repository

[2021-04-17 19:26] zhangdc007 commented on #6212
sharding-jdbc-spring-boot-starter still in 4.1.1,and
<dependency>
  <groupId>org.apache.shardingsphere</groupId>
  <artifactId>shardingsphere-sharding-spring-boot-starter</artifactId>
  <version>5.0.0-alpha</version>
</dependency>
config is different with 4.1.1

[2021-04-18 03:52] November22 opened #10119 "RangeShardingAlgorithm Generic problem, specified as Date, actually a string"
I specified the generic type as the time type, but in actual use it is indeed a string type, which makes me feel puzzled。
version: 4.1.1
Slice key: create_time
SQL：select * from t_trade where create_time >= '2021-07-12' order by create_time desc
RangeShardingAlgorithm：
![image](https://user-images.githubusercontent.com/26109828/115133653-7bc63000-a03c-11eb-8e43-2721ae1e4bcb.png)

Exception：
java.l

[2021-04-18 15:44] Jearys commented on #8568
请问这个问题是怎么解决的呢，我也遇到了相同的问题

[2021-04-18 15:50] Jearys commented on #8571
sharding-column 与 算法表达式中的分片键完全一致，出现了相同问题，请问要怎么解决呢

[2021-04-19 01:27] 726411951 commented on #10086
@tristaZero  should

[2021-04-19 01:30] 726411951 commented on #10086
Hi @tristaZero
Should I configure like
#default
spring.shardingsphere.sharding.default-database-strategy.standard.sharding-column=sharding_code
spring.shardingsphere.sharding.default-database-strategy.standard.precise-algorithm-class-name=com.xx.ShardingAlgorithmConfig
#specific
spring.shardingsphere.rules.sharding.tables.t_order.database-strategy.standard.sharding-column= sharding_code
spring.sha

[2021-04-19 02:27] RaigorJiang commented on #10119
Hi @November22 ,  is this problem exists in version 5.0.0?   did you have a try?

[2021-04-19 03:05] xuzhouqqq commented on #10094
I have changed to 5.x version, but I still get an error
![image](https://user-images.githubusercontent.com/14800016/115176127-10916200-a0ff-11eb-9bd3-526220699e29.png)
![image](https://user-images.githubusercontent.com/14800016/115176144-15eeac80-a0ff-11eb-8e14-ba2ad7893450.png)

[2021-04-19 03:52] RaigorJiang commented on #10118
@zhangdc007
see https://mvnrepository.com/artifact/org.apache.shardingsphere/shardingsphere-sharding-spring-boot-starter

[2021-04-19 03:58] menghaoranss opened #10123 "Refactor DistSQL for create Sharding rules"
Refer #9964

- [x] CREATE SHARDING TABLE RULE
- [x] remove CREATE SHARDING RULE
- [x] CREATE SHARDING BINDING TABLE RULES
- [x] CREATE SHARDING BROADCAST TABLE RULES
- [x] Verify duplicate table names
- [x] Fix the rules being overwrote in the registry center

[2021-04-19 04:48] totalo commented on #9349
hi. Can I try to solve this problem? Please assign it to me.

[2021-04-19 06:29] cilfm opened #10126 "sqlserver row_number() over() faild，Error preparing statement. Cause: org.antlr.v4.runtime.misc.ParseCancellationException"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-19 06:31] cilfm commented on #10126
the image is  the block of shardingsphere in application.yml file
  shardingsphere:
    props:
      sql-show: true
    datasource:
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
        validationQuery: SELECT 1
      names: ds0
    rules:
      sharding:
        tables:
          SMZ_ACCESSRECORD:

[2021-04-19 06:35] xianshun163 commented on #10092
@tristaZero   do you know  when  the  5.0.0-beta    will  publish？
I  am testing  the  master branch code ，and  want to use to the production。
In addition, is that   still have  a  wechat group ?

[2021-04-19 06:45] November22 commented on #10119
is there a release version of 5.0.0? I want to use version 4.1。
In fact, the generic type of StandardShardingAlgorithm does not convert or verify the actual value。I specify a BigInteger type as Date type, and no error will be reported。 I think this should be converted, and an exception is thrown if the conversion fails.
![image](https://user-images.githubusercontent.com/26109828/115192475-6ffe6a80

[2021-04-19 06:55] November22 commented on #10119
Sorry, ClassCastException is indeed thrown when doing actual value acquisition.
Now I have a doubt. When actually inserting or querying, instead of creating SQL by replacing values, I use string values directly in SQL, such as create_time> '2021-04-19', then the incoming points The slice value type is a string, although it is a time type in the database.
version: 5.0.0-alpha
![image](https://user-

[2021-04-19 07:40] xiaojingkai commented on #10107
When I use Navicat to connect sharding proxy, the value of character queried by SQL will change between utf8 and utf8mb4

[2021-04-19 08:02] enoera00 opened #10127 "read-write-splitting doesn't work"
I use spring-boot 2.2.9.RELEASE , mybatis 2.1.3 and sharding-sphere 5.0.0-alpha, below is my config file:
**application.yml**
[code]
**application-rw.yml**
[code]
but when i run a query api, sql always execute in master db, i have checked my config many times, they are correct. I really don't know what went wrong, please help me, thanks.

[2021-04-19 08:11] 17602541404 opened #10128 "field 'text'"
Is 'text' a keyword? The field name of a table is 'text', and an error occurs when SQL is executed.
If so, is there any other solution besides changing the field name? please!

[2021-04-19 09:36] RaigorJiang commented on #10128
@17602541404  Yes, 'TEXT' is a keyword.
please see https://dev.mysql.com/doc/refman/5.7/en/keywords.html

You can write the SQL with '`'   as '`text`'

[2021-04-19 12:22] TeslaCN opened #10131 "Exception occurred when inserting values into a table with varchar primary key"
## Bug Report

### Which version of ShardingSphere did you use?
master branch.
But I think this issue exists in previous versions.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior

[code]

[code]

### Actual behavior
[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configura

[2021-04-19 12:51] xsong123 opened #10133 "shardingjdbc 4.1.1 insert...select NullPointerException"
java.lang.NullPointerException
        at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)
        at org.apache.shardingsphere.sql.parser.mysql.visitor.impl.MySQLDMLVisitor.visitInsert(MySQLDMLVisitor.java:147)
        at org.apache.shardingsphere.sql.parser.mysql.visitor.impl.MySQLDMLVisitor.visitInsert(MySQLDMLVisitor.java:127)
        at org.apache.sha

[2021-04-19 12:56] xsong123 commented on #10133
once in a while throw NPE(as above), not always.

[2021-04-19 13:03] poxiao1266 opened #10134 "Shardingscaling does not support mysql 5.5.38;"
Shardingscaling does not support mysql 5.5.38;an error is reported when used; the error message is as follows:

 org.apache.shardingsphere.scaling.core.exception.PrepareFailedException: Source data source check variables failed. at org.apache.shardingsphere.scaling.mysql.MySQLDataSourceChecker.checkVariable(MySQLDataSourceChecker.java:93) at org.apache.shardingsphere.scaling.mysql.MySQLDataSourceC

[2021-04-19 14:11] TeslaCN commented on #9089
I had the same problem. The option `-A` works for me.

[2021-04-19 15:21] wangkang09 commented on #10105
alpha version can be used in production? could you give same  related information to help me persuade my leader

[2021-04-19 15:22] wangkang09 commented on #10105
alpha version can be used in production? could you give same related information to help me persuade my leader

[2021-04-20 00:31] tristaZero commented on #10092
Hey, welcome. :) The beta release is under preparation now. WeChat ID `ss_assistant_1` will guide you to enter WeChat group.

[2021-04-20 00:48] tristaZero commented on #10086
Hi I mean once `default-database-strategy` and `t_order.database-strategy` exist,  `t_order.database-strategy`  will override  the default one. So if you want default strategy takes effect, please do not configure any specific `database-strategy` for these tables.

[2021-04-20 00:49] tristaZero commented on #10106
Hi which client did you use? Sharding Proxy or Sharding JDBC?

[2021-04-20 00:50] tristaZero commented on #10118
@RaigorJiang Nice.

[2021-04-20 00:53] tristaZero opened #10136 "[SQL Definition Collation][Oracle]Collate the SQL definition of ALTER SYNONYM"
This issue is the subsequent one from [#9603](https://github.com/apache/shardingsphere/pull/9603#issuecomment-796600731).

Oracle Ref -> https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlqr/SQL-Statements.html#GUID-CE009C87-4AA6-45BF-9A0D-2B2C5FFB47B3

[2021-04-20 00:55] tristaZero commented on #10136
@zhujunxxxxx will take it over.

[2021-04-20 01:01] tristaZero commented on #8571
Hi the log showed us the potential reason that there are some null or unqualified values for the sharding column.

[2021-04-20 01:04] tristaZero commented on #10127
Hi could you set `sql-show` = `true`? That way, we can get the routing details. BTW, what's your query SQL?

[2021-04-20 01:25] tristaZero commented on #10108
Hi @strongduanmu could you look at this one? My impression that `INDEX` metadata loading was in your charge?

[2021-04-20 01:29] tristaZero commented on #10109
Sorry? I did not see any valuable log on the exception inner ShardingSphere. Could you provide more?

[2021-04-20 01:29] tristaZero commented on #10119
Hi as @RaigorJiang said, we have fixed this one from 5.x release.

[2021-04-20 01:30] tristaZero commented on #10126
@dongzl Hi could you give it a check whether our new release or branch has supported this SQL?

[2021-04-20 01:38] 726411951 commented on #10086
I only configure `default-database-strategy` and there is no specific `database-strategy`，  but it is invalid.The two datebase `test_db0`,`test_db1` was accessed by random

[2021-04-20 06:05] menghaoranss commented on #10134
which version of ShardingSphere do you use, and have you tried other versions of mysql?

[2021-04-20 06:10] strongduanmu commented on #10108
Hi @ljwps, thank you very much for your feedback.
The physical table `FAQ_LOG_20210416` corresponding to the logical table `FAQ_LOG` needs to be created in advance, because some metadata of the sharding table needs to be loaded when starting.

For details, please refer to the ShardingMetaDataLoader class.

[code]

[2021-04-20 07:31] BingYu-track opened #10137 "I use sharding-jdbc 5.0.0 It happens"IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required","
## Question

It happens"IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required", when I use sharding-jdbc 5.0.0
env：springboot2.3.5
version：sharding-jdbc 5.0.0
The configuration of the datasource is as follows：
![image](https://user-images.githubusercontent.com/33021175/115352490-fda78c00-a1e9-11eb-8d76-a27f00e2b862.png)

pom:
![image](https://user-images.githu

[2021-04-20 08:03] zhoubonet opened #10138 "Transaction not rolled back"
Transaction not rolled back

### Which version of ShardingSphere did you use?
5.0
![image](https://user-images.githubusercontent.com/4209701/115360087-dfde2500-a1f1-11eb-8de5-409647869318.png)
![image](https://user-images.githubusercontent.com/4209701/115360131-ec627d80-a1f1-11eb-8467-dac1155381d3.png)

[2021-04-20 09:28] 17602541404 commented on #10128
It worked, thanks

[2021-04-20 09:41] RaigorJiang commented on #10128
You are welcome.   Is this issue can be closed?

[2021-04-20 09:42] #10128 closed

[2021-04-20 09:44] RaigorJiang commented on #10138
Hi @zhoubonet
Could you provide your sharding configuration and transaction code?  Because there are so many ways to make transaction fail

[2021-04-20 09:55] RaigorJiang commented on #10137
Hi @BingYu-track
`sqlSessionFactory ` and `sqlSessionTemplate ` are classes of Mybatis.  I think it's not SS problem.
Could you provide a demo project on github or gitee, we may help you to find the reason.

[2021-04-20 10:37] wangkang09 commented on #10105
think you for reply~
i wonder why this version has not been released。Is it because of advanced features, such as Scaling、 sidecar。or have some other reasons? and how long will it take to release?

[2021-04-20 12:11] dmsolr opened #10141 "ShardingSphere Agent is broken"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2021-04-21 01:15] zhoubonet commented on #10138
1、The configuration uses Java code
2、
![image](https://user-images.githubusercontent.com/4209701/115482740-ef0cb380-a281-11eb-9825-9c2c40569cfe.png)
3、Transaction 4.0 is ok
4、class configuration
![image](https://user-images.githubusercontent.com/4209701/115482819-1cf1f800-a282-11eb-864b-8137fb2af750.png)

[2021-04-21 01:20] zhoubonet commented on #10138
java configuration
![image](https://user-images.githubusercontent.com/4209701/115483087-b0c3c400-a282-11eb-9a1f-1069555e5837.png)
shardingRuleConfig not  configuration

[2021-04-21 01:33] #10101 closed

[2021-04-21 01:57] LateAutumnWindow opened #10143 "ShardingSphere 4.1.1 or 4.*"
What version of Seata should I choose?

[2021-04-21 02:25] RaigorJiang commented on #10138
OK, where  is the `add` method invoked?

[2021-04-21 02:45] zhoubonet commented on #10138
controller invoked

[2021-04-21 02:46] zhoubonet commented on #10138
http-> controller->service

[2021-04-21 03:10] TeslaCN opened #10145 "Eliminate warnings when using Maven parallel execution"
## Feature Request

### Is your feature request related to a problem?

I'm using `-T 2C` to reduce time costs of `mvn install`. It worked but warnings appeared.

### Describe the feature you would like.

[code]