[2022-07-31 10:32] RaigorJiang commented on #18811
## Update:

I reviewed the syntax of all DistSQL statements, combined with the previous references to MySQL and PostgreSQL, I suggest to distinguish DistSQL parameters into two types: **identifier** and **literal**.

### identifier

The identifier represents an object in the SQL statement. The identifier does not require single quotes (') or double quotes ("). When reserved keywords or special cha

[2022-07-31 10:33] RaigorJiang commented on #18964
Updated in #18811.

[2022-07-31 10:33] #18964 closed

[2022-07-31 10:33] RaigorJiang commented on #19475
Updated in https://github.com/apache/shardingsphere/issues/18811.

[2022-07-31 10:33] #19475 closed

[2022-07-31 10:40] RaigorJiang commented on #19714
I think we need to check if the specified resource exists before executing refresh, like we do when `CREATE SHArDING TABLE RULE`.

[2022-07-31 11:23] RaigorJiang opened #19722 "Refactor parameter types of DistSQL in module `shardingsphere-distsql-parser`"
For #18811.
This issue is to refactor `shardingsphere-distsql-parser`

- [x] Redefine identifier and literals in g4 grammar
- [x] Change type definitions in g4 of RDLStatement, RQLStatement and RALStatement
- [x] Update `KernelDistSQLStatementVisitor` to fit parameter type adjustment
- [x] Update the syntax and usage documentation
- [x] Update parser test case (in shardingsphere-parser-test)
- [x]

[2022-07-31 13:07] #16093 closed

[2022-07-31 13:43] terrymanu opened #19725 "Add test case for DataSourceGeneratedDatabaseConfiguration"

[2022-08-01 00:49] #19667 closed

[2022-08-01 00:57] huangdx0726 commented on #19725
I will work on it

[2022-08-01 02:39] yx9o commented on #19725
@huangdx0726 Welcome.

[2022-08-01 02:55] #19279 closed

[2022-08-01 03:06] #19457 closed

[2022-08-01 03:14] terrymanu opened #19734 "Add more assertions for ConfigurationPropertiesTest"
Add missing assertions with `assertGetValue` and `assertGetDefaultValue` methods:

- [ ] PROXY_BACKEND_QUERY_FETCH_SIZE
- [ ] PROXY_FRONTEND_EXECUTOR_SIZE
- [ ] PROXY_BACKEND_EXECUTOR_SUITABLE
- [ ] PROXY_FRONTEND_MAX_CONNECTIONS
- [ ] PROXY_BACKEND_DRIVER_TYPE
- [ ] PROXY_MYSQL_DEFAULT_VERSION
- [ ] PROXY_DEFAULT_PORT
- [ ] PROXY_NETTY_BACKLOG

[2022-08-01 05:03] linghengqian opened #19735 "Update `org.apache.calcite:calcite-core` to 1.28.0 or newer to improve GraalVM support"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

- Related to the followi

[2022-08-01 05:51] huangdx0726 commented on #19734
I will work on it

[2022-08-01 06:18] #19614 closed

[2022-08-01 06:47] JiekerTime commented on #16666
I will help to perfect the documentation ~

[2022-08-01 06:51] luctech111 commented on #19734
@terrymanu Can i try this issue as my first issue, thanks.

[2022-08-01 06:53] Luckyangle opened #19741 "Can't read data from read datasource, always from write datasource"
## Bug Report

Environment: springboot + mysql + mybatis-plus
Question: can't read data from read datasource, please help me out, thank you.

[code]

SQL log:
[code]

### Which version of ShardingSphere did you use?
5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
write data to write datasource, read data from read dataso

[2022-08-01 07:01] #19735 closed

[2022-08-01 07:03] tianhao960 commented on #7522
I would like to take this

[2022-08-01 07:05] sandynz opened #19742 "Remove jobConfig from TaskConfiguration for common usage"
Part of #19421.

Current code:
[code]

And `jobConfig` is used in 2 places, in RuleAlteredJobPreparer:
[code]
`int concurrency` and `sourceDatabaseType`.

`TaskConfiguration` is planned to be common class used for some types of jobs, but `jobConfig` is not common, there're 2 possible solutions:
1. Change `jobConfig` type to PipelineJobConfiguration, and add some common methods in PipelineJobConfig

[2022-08-01 07:09] sandynz commented on #19742
Hi @huangdx0726 , would you like to follow it? You've submitted another PR that's related to TaskConfiguration.

[2022-08-01 07:12] huangdx0726 commented on #19742
OK，assigned  to me

[2022-08-01 07:48] sandynz commented on #19742
Thanks. Just assigned to you.

[2022-08-01 08:23] strongduanmu commented on #19423
@marker-wu How can the prefix be accurately identified?

[2022-08-01 08:39] marker-wu commented on #19423
enhanced on the basis of the original regular, the real table contains a set of rules: numbers and -or_ (can exist multiple times), and finally ends with number
original:      Pattern.compile("\\d+$");
modify to :  Pattern.compile("(\\d+[\\-_]){0,}(\\d+$)");

[2022-08-01 08:47] strongduanmu commented on #19423
@marker-wu Can you give some test case to show the result.

[2022-08-01 08:58] marker-wu commented on #19423
here are my test result：
![image](https://user-images.githubusercontent.com/45256940/182112493-0a0ab7ba-93af-424b-9903-3adc546d9bcd.png)

[2022-08-01 09:10] RaigorJiang commented on #16666
That's really nice, thank you!

[2022-08-01 09:12] strongduanmu commented on #19423
@marker-wu Looks great, you can raise a pr to fix this bug.

[2022-08-01 09:15] marker-wu commented on #19423
OK，I'll do it after get off work

[2022-08-01 09:40] terrymanu commented on #19383
@Swastyy Hi, our new committer. You have the permission now!

[2022-08-01 09:51] sandynz opened #19748 "Extract YamlJobProgress.YamlIncremental and JobProgress.IncrementalTaskProgress, add realted swapper"
Part of #19421.

Purpose:
- Use dividual incremental progress classes, then they could be reused in other types of jobs.

1, Currently, `YamlIncremental` means part of incremental progress. Related code of `YamlJobProgress`:
[code]
We could add YamlIncrementalTaskProgress class, YamlJobProgress just reference it: `private IncrementalTaskProgresses incremental;`

Possible changes:
- `Map<String, Ya

[2022-08-01 10:01] FlyingZC commented on #19566
Supported `truncate` sql in https://github.com/apache/shardingsphere/pull/19746

[2022-08-01 10:41] soulasuna commented on #19579
Fixed.
![image](https://user-images.githubusercontent.com/33794770/182131211-cfa139ab-4b30-4c56-b231-751639945382.png)

[2022-08-01 10:41] #19579 closed

[2022-08-01 11:18] PeiMouRen opened #19753 "[proxy5.1.2]After the broadcast table configuration is deleted, the system cannot be started normally"
**config-sharding.yaml**
[code]

When I delete the `broadcastTables` configuration, the system cannot be started normally and the following error was reported:
[code]

[2022-08-01 11:23] PeiMouRen commented on #19753
**server.yaml**

[code]
The value of `overwrite` in `server.yaml` is `true`, which means that the local configuration is preferentially loaded?

[2022-08-01 11:25] sandynz opened #19754 "Extract YamlJobProgress.YamlInventory and JobProgress.InventoryTaskProgress, add related swapper"
Part of #19421.

Purpose:
- Extract dividual inventory progress classes, then they could be reused in other types of jobs.

1, Extract YamlJobProgress.YamlInventory as dividual class, with name `YamlInventoryTaskProgress`

2, In JobProgress:
[code]
We could refactor InventoryTaskProgress structure, JobProgress just reference `private InventoryTaskProgress inventory;`

Possible changes:
- Put `priv

[2022-08-01 11:29] strongduanmu opened #19755 "Consider optimizing exception message in ShardingInsertStatementValidator"
## Feature Request

### Is your feature request related to a problem?

#11623

### Describe the feature you would like.

Now, we have added validation logic for insert statements in the `ShardingInsertStatementValidator` class to ensure that the same record can only be routed to one shard.

But there are various scenarios that cause this exception to occur. The first is that the sharding key value

[2022-08-01 11:33] #19742 closed

[2022-08-01 13:13] linghengqian commented on #15507
I think https://github.com/apache/shardingsphere/issues/19607 would provide a reasonable example for the c3p0 JDBC pool.  So I don't think there's more to do with this issue.

[2022-08-01 13:13] #15507 closed

[2022-08-01 13:36] terrymanu opened #19760 "Add test case for EventBusContext"

[2022-08-01 14:47] zjcnb commented on #19753
@PeiMouRen Thank you for your feedback, i will check it.

[2022-08-02 00:28] yx9o opened #19765 "Change relevant class name of the `SHOW INSTANCE LIST` syntax to ShowInstanceListXxx."
Hi Community:
The relevant class name for the current `SHOW INSTANCE LIST` syntax is ShowInstanceXxx.

After split `SHOW INSTANCE MODE` to `SHOW MODE INFO` and `SHOW INSTANCE INFO`, ShowInstanceInfoXxx will be similar to ShowInstanceXxx, which is easy to produce misunderstandings, so it is recommended to change ShowInstanceXxx to ShowInstanceListXxx.

[2022-08-02 01:53] huangxinjian opened #19766 "Sql Syntax Error"
## Feature Request

I think the class `H2Repository` can change internal sql
[code]
to
[code]

because `key` is key word on mysql / mariadb that can't execute successful.

Why I use H2Repository with mysql, because the class has args `props`, So I can access mysql like this and found the problem.

[code]

[2022-08-02 02:37] sunkai-cai commented on #19085
Let me try it.

[2022-08-02 03:16] terrymanu commented on #19766
If you want use MySQL, please add `MySQLRepository` implemented by SPI

[2022-08-02 03:17] terrymanu commented on #19753
What is the exception?

[2022-08-02 03:20] huangxinjian commented on #19766
Aha ! Actually I want and I think many developer use mysql in their computer on China. I will try to commit a PR later. Is there any specification for submitting PR?

[2022-08-02 03:28] huangxinjian commented on #19766
BUT the sql problem can't solve despite add `MySQLRepository`. Because class `JDBCRespository` hava hard code for get value
[code]

[2022-08-02 03:29] xiaotong2019 opened #19769 "Calling the insert method cannot return the PK primary key value."
## Calling the insert method cannot return the PK primary key value.

When shardingsphere v5.1.2 integrates mybatis-plus v3.5.2, calling the insert method successfully, but cannot return the PK primary key value (I using the default snowflake algorithm and build in spring boot v2.3.12 and mysql 8).

Help, Thanks!

### version:
<dependency>
            <groupId>com.baomidou</groupId>
            <a

[2022-08-02 04:23] linghengqian commented on #19766
Does some work need to go to https://github.com/apache/shardingsphere/issues/19655?

[2022-08-02 05:01] huangxinjian commented on #19766
yep.It seems to be what #19655 describes

[2022-08-02 05:04] huangxinjian commented on #19655
I think it is possible to implement several commonly used databases like H2 and MySQL. Because ShardingJDBC has too few comments, it is difficult to know how to use it without debugging the source code.

[2022-08-02 05:07] linghengqian commented on #19536
- Unless GitHub's support for Gitpod reaches the same level as GitLab, at least it can be accessed directly from the project homepage. I think it is too early to discuss this.
- ![image](https://user-images.githubusercontent.com/20187731/182296071-9f0fea73-1cee-4f4c-9d27-22b9ab505f9c.png)
- ![image](https://user-images.githubusercontent.com/20187731/182296122-edd337c6-1688-4e9a-b62e-e172f4829a03.p

[2022-08-02 06:31] PeiMouRen commented on #19753
There are `t_city` tables in the four data sources `ds0`, `ds1`, `ds2` and `ds3`, but `t_city` is not configured as a `broadcast table` in the configuration file`config-sharding.yaml`. Therefore, the above mentioned error will be reported at startup. Does ShardingSphere force the tables that exist in all data sources to be configured as broadcast tables?

[2022-08-02 06:40] huangdx0726 commented on #19760
I will work on it

[2022-08-02 06:47] strongduanmu commented on #19753
@PeiMouRen This exception is caused by different table structure of `t_city`, please check it.

[2022-08-02 07:03] #19713 closed

[2022-08-02 07:04] terrymanu commented on #19766
Here is the issue #19655

[2022-08-02 07:16] PeiMouRen commented on #19753
Yes, `t_city` has a different structure, the problem has been solved!
By the way, if a table exists in all datasources but is not configured as a broadcast table, how does ShardingSphere identify which datasource to look up when querying the table?

[2022-08-02 07:36] PingWang201209 opened #19790 "atomikos startup failure in 5.1.2"
### Which version of ShardingSphere did you use?
5.1.2

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC

### Expected behavior
atomikos works well under 5.1.2.  because it is normal in 5.0.0

### Actual behavior
Caused by: java.lang.AbstractMethodError: com.atomikos.icatch.jta.JtaTransactionServicePlugin.beforeInit()V
	at com.atomikos.icatch.config.C

[2022-08-02 08:20] TW-haiyuan commented on #19423
@strongduanmu  hi, i am using shardingsphere jdbc 5.1.1 and also meet this problem. But the type of binding tables' sharding key i used is string, now the shardingsphere use "\\d+$" to get actualDataNodes' suffix. I want to know why choose to use numbers as the rule, will other types (like string) be added in the future?

[2022-08-02 08:21] Pancratius opened #19795 "name LIKE ? escape '!' Exception "java.lang.String cannot be cast to java.lang.Integer""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-02 08:27] shining-stars-lk opened #19796 "There is a problem with the English paragraph format on the official website"
## There is a problem with the English paragraph format on the official website

**example**
![image](https://user-images.githubusercontent.com/40255310/182328882-6921f094-fb3b-4bd6-8730-4825696ef800.png)

There are more problems like this

[2022-08-02 08:28] strongduanmu commented on #19795
@Pancratius Thank you for your feedback, I will check this exception.

[2022-08-02 08:29] strongduanmu commented on #19796
Can you submit a pr to fix this problem?

[2022-08-02 08:31] shining-stars-lk commented on #19796
I can fix it.

[2022-08-02 08:36] strongduanmu commented on #19423
@TW-haiyuan Adding a numeric suffix may be a hidden specification. I don't think we should pay too much attention to the suffix, after all users don't need to pay attention to the actual table, what do you think?

[2022-08-02 08:48] sandynz opened #19797 "MySQLClient.MySQLBinlogEventHandler.reconnect might connect again before channel is closed totally"
Related code in MySQLClient:
[code]
`channel.close();` will return `io.netty.channel.ChannelFuture`, but result is ignored and there's no sync/await. So connect again might be occur before old channel is closed.

Is it possible to cause issue?

[2022-08-02 08:49] sandynz commented on #19797
@azexcy , could you help to follow it?

[2022-08-02 08:49] marker-wu commented on #19423
Usually, the suffixes of the partition table are all numbers, and the binding table requires the same partition rules. Numbers are more friendly than letters during verification, and it is difficult to specify verification rules with letters. In addition, the purpose of our sub-table is for better routing later. Common sharding algorithms such as: hash modulo, time, range, etc. These suffixes are

[2022-08-02 08:50] azexcy commented on #19797
Ok, I will follow this.

[2022-08-02 09:21] sandynz opened #19803 "Global properties of server.yaml will be cleaned in registry center after executing SET VARIABLE statement"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, fbbc52c149e1f146803fb829670188c195cb3b20

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
Proxy

### Expected behavior
global properties of server.yaml won't be removed in registry center after executing `SET VARIABLE ...`

### Actual behavior
Initial `props` value:
[code]

After executing `S

[2022-08-02 09:25] #19796 closed

[2022-08-02 09:28] linghengqian commented on #19655
- An embarrassing topic is, `CREATE TABLE repository(id varchar(36) PRIMARY KEY, key TEXT, value TEXT, parent TEXT);` can only be executed in H2Database 1.x, if the user uses H2Databse 2.x, when using ShardingSphere Standalone mode will throw an exception and cause the project to fail to start. I think additional factors should be considered in the processing of this SQL.
[code]
- This at least af

[2022-08-02 09:34] linghengqian commented on #19766
Just a synchronous comment: key is also a keyword in H2Database 2.x, I think this needs to be avoided, otherwise the ShardingSphere Standalone mode cannot be used under H2Database 2.x. Also affects https://github.com/apache /shardingsphere/issues/15327.

[2022-08-02 09:46] huangxinjian commented on #15327
You are very patient and I admire your ability to keep track of issues！

[2022-08-02 09:47] PingWang201209 commented on #19790
there are multiple version of com.atomikos:transactions in local repository. in order to result that is not compatible.
use the corresponding the 5.0.8. then is normal

[2022-08-02 09:47] #19790 closed

[2022-08-02 09:52] strongduanmu commented on #19753
This table will be treated as a single table and will only use tables from any one data source.

[2022-08-02 10:15] linghengqian commented on #15327
- In fact, there is a simplest fix for this issue, but I have not been able to write a reasonable unit test for it. 🤦‍♂️ Because this involves two different versions of H2Database. I pushed the relevant PR a while ago . I can only guarantee that the PR is passed in my local test example.

- I'd appreciate it if anyone would be willing to write unit tests.

[2022-08-02 10:23] shining-stars-lk commented on #19398
I can try to fix it

[2022-08-02 10:31] mabaiwan commented on #19398
@shining-stars-lk welcome

[2022-08-02 10:42] xiaotong2019 opened #19809 "ShardingSphere v5.1.2 XA transaction has errors, When spring boot integrations start running."
## ShardingSphere v5.1.2 XA transaction has errors, When spring boot integrations start running.

## The running logger info:
![image](https://user-images.githubusercontent.com/110440830/182355594-0cb85fc9-bc5b-4b9e-86d4-4fe48a5d4209.png)
![image](https://user-images.githubusercontent.com/110440830/182355666-8ffbbe2f-3a20-437d-9f4f-c71da61076fe.png)
![image](https://user-images.githubusercontent.c

[2022-08-02 10:48] TeslaCN opened #19810 "PostgreSQL/openGauss RESET statement cannot be parsed caused by #15309"
## Bug Report

Related to #18738.

### Which version of ShardingSphere did you use?

master - 73674d5ef5de2adce8a4a881e79baf4c401c352c

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

SQL parser.

### Expected behavior

PostgreSQL / openGauss RESET statement could be parsed correctly.

### Actual behavior

[code]

### Reason analyze (If you can)

#15309 add an `EOF` wh

[2022-08-02 10:50] PeiMouRen commented on #19753
ok.thank you

[2022-08-02 10:50] #19753 closed

[2022-08-02 11:18] linghengqian commented on #19809
This problem usually depends on your Spring Boot OSS version.  I feel like your issue is the same as https://github.com/apache/shardingsphere/issues/19790.

[2022-08-02 13:28] terrymanu commented on #19382
Do you use the same Hugo version?

[2022-08-02 13:32] terrymanu opened #19813 "Determine new document structure"
There are more and more features in ShardingSphere, and there are lots of configurations and usages need to be clear.
I want to discuss the new structure of documents.

The principles of document structure are:

1. Classify documents, make rules for every document type, for example: background, feature, concept, user manual, dev manual etc.
1. Make rules for details pages, for example: user-manual

[2022-08-02 13:38] runqi-zhao commented on #19382
@terrymanu I didn't find instructions about the version, using the latest version, which version I need to use?

[2022-08-02 13:39] runqi-zhao commented on #19810
please assign it to me, I will have a try

[2022-08-02 14:27] xiaotong2019 commented on #19809
Well, In version 5.0.0, it can be started normally, but why is there a problem with the latest version of 5.1.2?

[2022-08-02 15:00] TeslaCN commented on #19810
@RaigorJiang If we removed the EOF, does Scaling DistSQL `RESET` still work in PostgreSQL?

[2022-08-02 15:10] RaigorJiang commented on #19810
No, removing EOF will cause `RESET SCALING jobId` not to work

[2022-08-02 15:24] linghengqian commented on #19809
- In fact, if you switch to Spring Boot OSS 3.0.0-M4 it works perfectly fine.  Because the atomikos version controlled by spring-boot-starter-parent in the 2.7.x branch is 4.x.  This conflicts with ShardingSphere using atomikos 5.0.8.

- You can actively change the version controlled by springboot to 5.0.8 to solve this problem, which should be similar to atomikos.verison in pom.xml.

- This issue

[2022-08-02 15:37] RaigorJiang opened #19814 "[PostgreSQL] NPE occurs when schema does not exist in logic database"
### Which version of ShardingSphere did you use?
master 1b50bb6cc1c9a1dd537f65a271363aa4f2cdd81d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
When schema does not exist and user executes a query, give an appropriate error message

### Actual behavior
[code]

#### Log
[code]

### Steps to reproduce the behavior, such as: SQ

[2022-08-02 15:53] RaigorJiang opened #19815 "NPE occurs in close method of `UnicastDatabaseBackendHandler` when there is no resouce in database"
### Which version of ShardingSphere did you use?
master https://github.com/apache/shardingsphere/commit/1b50bb6cc1c9a1dd537f65a271363aa4f2cdd81d

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Give an appropriate error message

### Actual behavior
[code]
#### Log
[code]

### Reason analyze (If you can)
`databaseCommunicationE

[2022-08-02 16:51] RaigorJiang commented on #19810
### UPDATE
I found that `EOF` has been added to `PostgreSQLStatementParser.g4` (by #16818), so that one in `resetParameter` can now be removed.

[2022-08-03 01:14] chenfeiwu opened #19816 "This will create a data source error：“YamlShardingSphereDataSourceFactory.createDataSource”"
This will create a data source error：“YamlShardingSphereDataSourceFactory.createDataSource”
![image](https://user-images.githubusercontent.com/14910761/182502867-f664b312-8af3-4bc3-84f7-abc909dc8792.png)
![{a598fadc-1d0e-4aad-a449-130d0325ef13}](https://user-images.githubusercontent.com/14910761/182503651-853113a5-cca5-4586-8ff9-63c80d90c4ca.png)

[2022-08-03 01:27] xiaotong2019 commented on #19809
Ok, thanks very much  for good replay.
In addition,  startup is successfully, but why is my XA transaction not taking effect?

Such as:
@Transactional
@ShardingSphereTransactionType(TransactionType.XA)

[2022-08-03 01:28] xiaotong2019 commented on #19809
Ok, thanks very much  for good replay.
In addition,  startup is successfully, but why is my XA transaction not taking effect?

Such as:
@Transactional
@ShardingSphereTransactionType(TransactionType.XA)

[2022-08-03 01:55] xiaotong2019 opened #19817 "How can I use the MOD algorithm type of shardingsphere 5.1.2 version?"
## Question

How can I use the MOD algorithm type of shardingsphere 5.1.2 version?

The part of doc and my config such as:

![image](https://user-images.githubusercontent.com/110440830/182506977-23e92727-7c43-4cc6-8b99-47c173ca89ec.png)
![image](https://user-images.githubusercontent.com/110440830/182507084-3aa84bca-be31-4041-a53c-156fa8d1e434.png)
![image](https://user-images.githubusercontent.com

[2022-08-03 02:03] #19760 closed

[2022-08-03 02:10] #19725 closed

[2022-08-03 02:10] azexcy opened #19818 "MySQLBinlogEventPacketDecoder recreate binlogContext will lose table_map_event data when the binlog position at the middle of a bulk inserts event"
Related code in MySQLClient:

[code]

The bulk inserts events :
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/101622833/182507902-144016ff-4b48-4a29-8b06-fcd133b5a87e.png">

Table_map at the begin of bulk inserts and appears only once, if the position at the middle of it, ig. `21357029`, then will not receive Table_map event, it will cause the problem when restart sc

[2022-08-03 02:10] azexcy commented on #19818
I will follow this.

[2022-08-03 02:17] strongduanmu commented on #19817
Please refer this example——https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-spring-boot-mybatis-example/src/main/resources/application-sharding-auto-tables.properties.

[2022-08-03 02:33] xiaotong2019 commented on #19817
Ok, Thank you.

[2022-08-03 02:37] #19817 closed

[2022-08-03 02:52] linghengqian commented on #19809
- I'm not sure what's going on in your local environment, at least the unit tests for the master branch all passed.  You can provide a minimal reproducible example after modifying the title and description, or close this issue and open a new issue to fill in the issue template.

- Because I can't reproduce it at the moment, and the new information you provided is somewhat irrelevant to the title a

[2022-08-03 02:59] #19816 closed

[2022-08-03 03:09] gameboyLV opened #19824 "mysql invisible column support"
### Is your feature request related to a problem?

YES

### Describe the feature you would like.

Exceptions are triggered when requesting a data table that contains invisible columns:

java.sql.SQLException: Column index out of range.

[2022-08-03 03:21] peilinqian opened #19825 "In the XA-Narayana transaction type scenario, when start a transaction and select one table, it prompts that the table does not exist"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-03 05:47] TeslaCN opened #19827 "There is about 5% ~ 10% performance loss of standalone mode impacted by #19618"
## Performance

### Which version of ShardingSphere did you use?

master - 19265081c966cb0a839267b060593b258b0883b4

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy Standalone

### Actual behavior

The #19618 added `ProcessRegistrySubscriber` to `StandaloneContextManagerBuilder`, which impacted the performance of ShardingSphere-Proxy.

The red part

[2022-08-03 05:51] tuichenchuxin commented on #19827
I'll invesigate this issue.

[2022-08-03 05:57] newboy2004 commented on #19734
i will try this issue please assign it to me?

[2022-08-03 06:00] #19423 closed

[2022-08-03 06:07] huangxinjian opened #19828 "Whether there is a global routing configuration？"
## Background

Suppose there is the following scenario of horizontal sub-database sub-table
![image](https://user-images.githubusercontent.com/39627746/182534697-bb62258a-95fa-4856-9bef-0cba6c3d2312.png)

In the old single database, there are many tables like `User` that are only divided into **databases** but not **tables**.There may be only some tables that require further table splitting operat

[2022-08-03 06:09] #18738 closed

[2022-08-03 06:28] TeslaCN commented on #19664
@Swastyy
Sorry for my fault. This issue is duplicated with https://github.com/apache/shardingsphere/issues/19398.

[2022-08-03 06:28] #19664 closed

[2022-08-03 06:34] bojiw opened #19830 "Could not create connection to database server. Attempted reconnect 10 times. Giving up."
The application uses mysql-connector-java-5.1.38 HikariCP-2.4.2.jar to connect to sharding-proxy.5.1.1 and reports an error Direct connection to mysql is normal

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/22230991/182538889-f77f0f8d-b0b7-48db-81c9-047f7f1265a6.png">

[2022-08-03 06:40] FlyingZC opened #19831 "Unable to execute preview command normally in transaction"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-03 06:42] #7522 closed

[2022-08-03 06:47] peilinqian commented on #19825
schemaName: test_db
dataSources:
  ds_0:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 260
    minPoolSize: 1
    password: Huawei@123
    url: jdbc:opengauss://IP:14000/test_db?batchMode=on
    username: tpccuser
  ds_1:
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMil

[2022-08-03 06:48] RaigorJiang commented on #19831
Hi @FlyingZC
Thanks for your report.

That cause is preview changed from `QueryableRALStatement` to `RULStatement`, can you fix it in `ProxyBackendHandlerFactory`?

[2022-08-03 06:49] FlyingZC commented on #19831
I will try.

[2022-08-03 06:50] peilinqian commented on #19825
[code]

[2022-08-03 06:57] peilinqian commented on #19825
[code]

[code]

[2022-08-03 06:59] FlyingZC commented on #19825
I want to investigate this issue. @strongduanmu

[2022-08-03 07:32] TeslaCN commented on #19830
Hi @bojiw
Could you provide more information such as configurations and demo codes to help us reproduce this issue?

[2022-08-03 07:39] linghengqian commented on #9013
CC @terrymanu

[2022-08-03 07:45] strongduanmu commented on #9013
@xuup Welcome, I will assign this issue to you.

[2022-08-03 08:07] strongduanmu commented on #19795
@Pancratius Can you try 5.1.2 or master branch, this bug has been fixed.

[2022-08-03 08:18] lfc8912 opened #19835 "使用create语句创建的表，在使用sql语句创建索引后，CreateIndexStatementSchemaRefresher无法获取到这个表，应用重启后就能获取到了"
![QQ截图20220803161519](https://user-images.githubusercontent.com/55868476/182559601-59dd5272-ff16-4e74-8cbf-7907d47a43b6.png)

[2022-08-03 08:30] TeslaCN commented on #19835
Hi @lfc8912
For English only.

[2022-08-03 09:48] bojiw commented on #19830
It has been solved because the directly connected mysql and the mysql configured by sharding-proxy are not the same and the versions on both sides are different

[2022-08-03 09:48] #19830 closed

[2022-08-03 11:52] peilinqian opened #19840 "In the XA-Narayana transaction type scenario,The transaction timeout parameter does not take effect normally"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-03 12:03] Swastyy commented on #19383
Thanks @terrymanu , I will surely complete it. 😄

[2022-08-03 12:04] peilinqian commented on #19840
[ERROR] 2022-08-03 19:59:03.756 [Connection-1-ThreadExecutor] o.a.s.p.f.c.CommandExecutorTask - Exception occur:
javax.transaction.RollbackException: ARJUNA016102: The transaction is not active! Uid is 0:ffff7f000001:9931:62ea597e:2c
        at com.arjuna.ats.internal.jta.transaction.arjunacore.TransactionImple.commitAndDisassociate(TransactionImple.java:1285)
        at com.arjuna.ats.internal.jt

[2022-08-03 13:01] RaigorJiang commented on #19828
Hi @huangxinjian
BroadcastTables may be what you need:
- Documentation: https://shardingsphere.apache.org/document/current/en/features/sharding/
- Example: https://github.com/apache/shardingsphere/blob/master/examples/shardingsphere-jdbc-example/single-feature-example/sharding-example/sharding-raw-jdbc-example/src/main/java/org/apache/shardingsphere/example/sharding/raw/jdbc/config/ShardingDatabas

[2022-08-03 13:03] #19815 closed

[2022-08-03 13:33] terrymanu commented on #15327
I just carry my comment from the PR:

The H2 database is the substitute for test only of MySQL, and version 1.x is the explicit dependency. So it is unnecessary to judge the major database version.
If the version 2.x of H2 is not compatible, I wonder how to test MySQL in memory.

To sum up, what is the proposal to upgrade H2 version from 1.x to 2.x?

[2022-08-03 13:36] #19803 closed

[2022-08-03 13:38] terrymanu commented on #19835
For English only.

[2022-08-03 13:38] #19835 closed

[2022-08-03 13:38] terrymanu commented on #19824
What is your version, configuration and SQL?

[2022-08-03 13:41] terrymanu commented on #19769
What is your configuration?

[2022-08-03 13:57] huangxinjian commented on #19828
Hi @RaigorJiang ， Thanks for your answer！
But Broadcast tables cannot be used. If a broadcast table is used, then the data representing `user` is exactly the same on `db1` `db2` `db3`. The scenario I want is that part of the data in the user table is routed to db1, part of it is routed to db2, and part of it is routed to db3.

Moreover, even if the broadcast table meets the scenario, I still need

[2022-08-03 14:31] huangdx0726 commented on #19754
I will try

[2022-08-03 15:35] #19809 closed

[2022-08-03 15:38] huangdx0726 commented on #19754
May be add dataSourceName in IncrementalTaskProgress class right?

[2022-08-03 16:07] linghengqian commented on #15327
- I'm not sure if anyone in the community must need h2database 1.x compatibility.  If there is no need for this, I can turn off https://github.com/apache/shardingsphere/pull/19806, then change the h2.version of ss to 2.x and fix the unit tests, once and for all solve `Spring  Boot OSS 2.7.0` and later versions report an error at startup.

- Waiting for https://github.com/apache/shardingsphere/pull

[2022-08-03 16:33] RaigorJiang commented on #19828
So your table `t_uesr` is actually a sharding table, so you need to configure sharding rule.
Broadcast table is really not suitable for it.

At present, in ShardingSphere, users need to specify which tables are sharding tables, and there is no global configuration as you might imagine.

[2022-08-03 18:06] linghengqian opened #19845 "Consider suggesting the package name of assertThat in `Code of Conduct`"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes, refer to https://gi

[2022-08-03 23:49] huangxinjian commented on #19828
That sounds bad. So don't we have to configure thousands of tables in actual production? Or, in actual production environment, we should use multiple data sources in a project to distinguish data sources that are separate databases from those that do not?

Because according to the current design, routing must be required as long as the sub-database is required, so the ruleConfiguration of each tab

[2022-08-04 00:42] lfc8912 commented on #19835
I can not say english

[2022-08-04 01:25] gameboyLV commented on #19824
Step 1: Create MySql datatable （Version 8.0.27)

[code]

[code]

Step 2: Config ShardingSphere-Proxy (Version 5.1.2)

[code]

Step 3: Reboot ShardingSphere-Proxy, send flowing request

[code]

[2022-08-04 01:49] gameboyLV commented on #19824
If I replace the second step with
[code]

the query works fine,but the invisible column has no effect

|id|login_name|mobile|mobile_index|
|----|----|----|----|
|1|system|123456|ki54eZF1zMri+PX8X4OPfA==WkgBwCnnGTa0GHW3xypWXA==3SV5gW6/sZdiUHPj4+NMlg==Xsm1em/q9eeeCrAzP1f0EQ==CpsIEZkmi549amLpbLPCLg==|

[2022-08-04 01:52] strongduanmu commented on #19824
Hi @gameboyLV, thank you for your feedback. How can I reproduce your exception?

[2022-08-04 01:54] RaigorJiang commented on #19845
+1

[2022-08-04 01:57] gameboyLV commented on #19824
Follow these steps will reproduce the exception
https://github.com/apache/shardingsphere/issues/19824#issuecomment-1204654946

Flow these steps will get unexpected result (invisible column shows)
https://github.com/apache/shardingsphere/issues/19824#issuecomment-1204665937

[2022-08-04 02:03] RaigorJiang commented on #19828
Yes, as long as it is a `sharding table`, explicit configuration is required.
Only `single table` does not need to be configured.

[2022-08-04 02:06] xiaotong2019 commented on #19769
Thanks, Such as:

`server.port=8080

mybatis-plus.mapper-locations=classpath:mybatis/**/*.xml
mybatis-plus.type-aliases-package=com.catfish.**.domain
mybatis-plus.configuration.map-underscore-to-camel-case=true

spring.shardingsphere.enabled=true
spring.shardingsphere.mode.type=Memory
spring.shardingsphere.props.sql-show=true

spring.shardingsphere.rules.sharding.key-generators.snowflake.type=SNOW

[2022-08-04 02:06] koala775 opened #19846 "Does shardingsphere-proxy hava some config ignore upper and lower case"
version：5.1.1
opt：
Java code sql is upper case，postgresSQL table name and column is upper case ,but it throw a exception:no exist the table.When I change the postgresSQL table name and column to lower case,it's work.Is there some config to ignore upper and lower case.

[2022-08-04 02:26] xiaotong2019 opened #19847 "How can I use the VOLUME_RANGE algorithm type?"
## How can I use the VOLUME_RANGE algorithm type?

I am a novice user of the V5.1.2 framework and am currently encountering some confusion in usage.

When I read the document VOLUME_RANGE:
https://shardingsphere.apache.org/document/5.1.2/cn/user-manual/shardingsphere-jdbc/builtin-algorithm/sharding/

After that, the usage of the sample is not very familiar.
So, Pls help.. thanks.

## My configurat

[2022-08-04 02:33] #19734 closed

[2022-08-04 02:34] lfc8912 opened #19848 "Is this a bug in 5.1.2 ?"
![image](https://user-images.githubusercontent.com/55868476/182750205-19380bb4-b7c6-4662-b154-9eb8301d7e81.png)
![image](https://user-images.githubusercontent.com/55868476/182750674-257fcbaa-564b-426b-b395-e7c6debb4a8d.png)

[2022-08-04 02:42] strongduanmu commented on #19848
@lfc8912 Yes, this bug has been fixed in master branch, you can test it.

[2022-08-04 02:43] strongduanmu commented on #19848
I just close this issue, If you have any question when you test master branch, you can submit a new issue.

[2022-08-04 02:43] #19848 closed

[2022-08-04 02:45] xuup opened #19849 "JDBC with ShardingSphere-Proxy not support MultiQueries"
## Bug Report

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

when request contains more than one sql, should execute as batch execute.

### Actual behavior

In my test , when request has more sql, shardingsphere-proxy cannot execute, exception as bellow:

code :
[co

[2022-08-04 02:54] strongduanmu commented on #19824
Hi @gameboyLV, thank you. I tested the case you provided, and it is true that INVISIBLE COLUMN is not currently supported. You can temporarily query by specifying a column.

[2022-08-04 02:56] strongduanmu commented on #19824
We will support mysql invisible column in the future——https://dev.mysql.com/doc/refman/8.0/en/invisible-columns.html#invisible-column-dml-statements.

[2022-08-04 03:13] shining-stars-lk opened #19851 "Database-driven dependencies of the EXAMPLES module"
## Question
- In the Standalone mode, the default database driver is H2, but in the configuration file in the Example module, the database driver is mysql.
- So now the H2 database driver is loaded when the Examples module is started. What's the reason for this design.

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Which version of ShardingSphe

[2022-08-04 03:17] shining-stars-lk commented on #19851
In this case, the example module will launch with an error that the driver of H2 cannot be found, because H2 has a dependency range of test and will not be relied on

[2022-08-04 03:18] kfysck opened #19853 "databaseName field in capital letters at yaml files will result in Runtime Exception."
## Bug Report
databaseName field in capital letters at yaml files will result in Runtime Exception.
### Which version of ShardingSphere did you use?
5.1.2
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy
### Expected behavior
[code]
[code]
### Actual behavior
When I typed _use LAYER2;_, it displayed at SQL client is normally.
However, there were already printed err

[2022-08-04 03:30] xiaotong2019 commented on #19847
Oh.., I found the cause of the problem, my sharding column cannot be the primary key, but should be other logical fields.
thanks.

[2022-08-04 03:30] #19847 closed

[2022-08-04 03:37] Sarali2022 opened #19854 "can log more info?"
For example. I can't have more info to know the problem. can debug more info?
can I configure don't load datasource meta because always   load meta fail（for example view，oracle）？
<img width="1158" alt="image" src="https://user-images.githubusercontent.com/104294827/182757805-57892779-8818-4783-a66b-040b3a0447a0.png">

[2022-08-04 03:44] peilinqian commented on #19840
parameter configuration error;
   <entry key="ObjectStoreEnvironmentBean.defaultTimeout">300</entry>
The correct value is：
   <entry key="CoordinatorEnvironmentBean.defaultTimeout">300</entry>

Test Results ：session 2 is first timeout
order_db=> update t_order set order_name ='ds0_ _0' where user_id = 0 and order_id =0;
ERROR:  Lock wait timeout: thread 139998864537344 on node dn_6001 waiting for

[2022-08-04 03:46] peilinqian commented on #19840
parameter configuration error;
`   <entry key="ObjectStoreEnvironmentBean.defaultTimeout">300</entry>`
The correct value is：
`   <entry key="CoordinatorEnvironmentBean.defaultTimeout">300</entry>`

Test Results ：session 2 is first timeout
[code]

[2022-08-04 03:46] #19840 closed

[2022-08-04 03:48] sandynz commented on #19754
It's inventory task progress here, incremental task progress refactoring will be in another issue.

[2022-08-04 03:49] sandynz commented on #19754
Thanks. Just assigned to you.

[2022-08-04 04:26] sandynz commented on #19754
An example job progress in registry center:
[code]

[2022-08-04 04:27] sandynz commented on #19748
An job progress example in registry center:
[code]

[2022-08-04 04:51] strongduanmu commented on #19853
Hi @kfysck This bug has been fixed in the master branch, you can try to test it.

[2022-08-04 05:43] #19831 closed

[2022-08-04 05:54] strongduanmu commented on #19853
I will close this issue. If you encounter any problem, you can submit a new issue when you test master branch.

[2022-08-04 05:54] #19853 closed

[2022-08-04 06:30] Pancratius commented on #19795
I change version to 5.1.2, it is not ok.

I tested the other cases, the situation is as follows：

**success sql**：

1. SELECT * FROM record WHERE name LIKE ? escape '!'
2. SELECT * FROM record WHERE name LIKE ? escape '!' LIMIT 20 OFFSET 0
3. SELECT * FROM record WHERE name LIKE ? LIMIT ? OFFSET ?

**failure sql:**

SELECT * FROM record WHERE name LIKE ? escape '!' LIMIT ? OFFSET ?

Looking forwar

[2022-08-04 06:31] Pancratius commented on #19795
@strongduanmu

[2022-08-04 06:56] strongduanmu commented on #19795
@Pancratius Can you provide your test code? I can't reproduce this exception with 5.1.2.

[2022-08-04 07:11] strongduanmu opened #19862 "Consider researching and supporting column visible metadata for different databases"
## Feature Request

### Is your feature request related to a problem?

#19824.
#19859.

### Describe the feature you would like.

After PR #19859 was merged, we added visible field to `ShardingSphereColumn` to support MySQL invisiable column feature. Since ShardingSphere is a database incremental engine, it can support various types of databases, so we need to investigate the support of various da

[2022-08-04 08:00] #19827 closed

[2022-08-04 08:22] huangxinjian commented on #19828
Will you consider optimizing this in the future? Our current database has more than 1000 tables. If we want to divide the database horizontally to reduce the pressure on the database, we need to configure the information of more than 1000 tables in the configuration file.....

Moreover, the tables newly created by some colleagues in the future need to be notified to the maintainer in time. The sha

[2022-08-04 08:24] TeslaCN commented on #19085
Hikari metrics could be exported by JMX.

[2022-08-04 08:43] TeslaCN commented on #19085
There is a related issue https://github.com/apache/shardingsphere/issues/15695

[2022-08-04 08:54] Bpazy commented on #16664
Seems fixed in https://github.com/apache/shardingsphere/pull/15487.

[2022-08-04 08:54] Pancratius commented on #19795
@strongduanmu  This is a simple demo.

[sharding1.zip](https://github.com/apache/shardingsphere/files/9258167/sharding1.zip)

[2022-08-04 09:04] yx9o commented on #17423
@RaigorJiang Hi, I would like to be involved in this work.

[2022-08-04 09:19] RaigorJiang commented on #17423
@yx9o
Thank you, let me explain, this task needs to add the corresponding distsql module under global rule, you may need to add new SPI, like `EncryptDistSQLStatementParserFacade`

[2022-08-04 09:32] sandynz commented on #19748
@azexcy , could you help to follow it?

[2022-08-04 09:33] azexcy commented on #19748
I will follow this issue.

[2022-08-04 09:52] mingyifei commented on #19478
Let me add:  ORDER

[2022-08-04 09:56] clytzelbj opened #19870 "Can't config distributed transaction rules when installing by helm chart"
## Question

Is there any ways to configure distributed transaction rules when I install a proxy cluster by helm chart?

## My trials
I tried to add config to the serverConfig in helm chart according to the official documentation of server.yaml like below.
![image](https://user-images.githubusercontent.com/10139124/182818331-020c076b-91da-4b1c-82f5-0071e5799e3c.png)
But my proxy pods failed to sta

[2022-08-04 09:57] #19566 closed

[2022-08-04 10:01] yx9o commented on #17423
Ok, I will refer to the feature module above.

[2022-08-04 10:26] #19797 closed

[2022-08-04 10:26] #19818 closed

[2022-08-04 11:50] sandynz opened #19879 "Extract InputConfiguration and OutputConfiguration from OnRuleAlteredActionConfiguration"
Part of #19421.

Extract InputConfiguration and OutputConfiguration from OnRuleAlteredActionConfiguration, for reuse.

[2022-08-04 12:33] RaigorJiang commented on #19870
As far as I know, helm does not support special YAML tags like `!TRANSTACTION`.
This problem may be resolved in the next version.

[2022-08-04 12:46] linghengqian commented on #19851
- Refer to https://github.com/apache/shardingsphere/pull/19806#pullrequestreview-1060303787.  The main reason for using h2database in Example is that it is just a replacement for MySQL.

- For well-known reasons, there is no global lifecycle listener on Junit4, so we cannot use Junit Platform integration for testcontainer.

- I think it is unreasonable for Example to use h2database of test scope.

[2022-08-04 13:24] zjcnb commented on #19846
Sure, of course.

[2022-08-04 13:27] zjcnb commented on #19846
@koala775 Hi, ShardingSphere are ignore case, it default to lower case. You can use `master` branch to check your problem.

[2022-08-04 14:03] xiaotong2019 commented on #19769
I found a neat solution, but probably not the most appropriate.
On the primary key field of the mybatis-plus entity class, add the @TableId(type = IdType.AUTO) declaration.
Or, there are other more reasonable solutions, Pls reply me, thanks very much.

[2022-08-04 14:03] #19769 closed

[2022-08-05 01:46] #19879 closed

[2022-08-05 01:54] tuichenchuxin commented on #19478
I'll check this. Thanks.

[2022-08-05 02:17] tuichenchuxin commented on #18948
@chakkk309 hi, is there any progress for this issue?

[2022-08-05 02:39] koala775 commented on #19846
Thank you for replaying.Have resolved.

[2022-08-05 02:39] #19846 closed

[2022-08-05 02:49] novice-gamer opened #19884 "It is slow to use JDBC connection shardingsphere proxy to write"
Shardingsphere proxy version 5.1.3
It is slow to use JDBC connection shardingsphere proxy to write.

Links used by stand-alone databases:
[code]

Links used by shardingsphere proxy:
[code]

Is it necessary to modify parameters after changing to proxy to realize batch fast writing?

[2022-08-05 03:05] tuichenchuxin commented on #19478
I tried mysql 8 and this keyword can be supported with mysql but not supported by shardingsphere.
`MYSQL_MAIN` `UTC_DATE` `UTC_TIME` `UTC_TIMESTAMP`.
Others can't be supported for mysql 8.

[2022-08-05 04:00] RaigorJiang commented on #19828
Probably not, because everyone's application scenarios are different. ShardingSphere should consider more general cases.

If you have any suggestion (of course, to meet a variety of scenarios), you can open a discussion.

[2022-08-05 04:51] sandynz opened #19887 "Refactor GovernanceRepositoryAPI for common usage"
Part of #19421.

There's dedicated code in GovernanceRepositoryAPI:
[code]

GovernanceRepositoryAPI's responsibility is encapsulate registry center repository operations, and keep it simple.

Possible changes:
1, In `GovernanceRepositoryAPI`:
[code]

2, Add high level methods in `RuleAlteredJobAPI`

[2022-08-05 04:51] sandynz commented on #19887
@azexcy , could you help to follow it?

[2022-08-05 04:59] chakkk309 commented on #18948
Hi, this issue is still in progress, if there is any progress I will keep you updated.

[2022-08-05 05:16] strongduanmu opened #19888 "Wrong parameter rewrite when use sharding auto generated id and encrypt together"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/0108aff2dd53a1fc2078fbf388e2cf2deee19445

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

The t_account_bak table contains "account_id", "password", "amount" columns.

Following is the configuration.

[code]

When

[2022-08-05 05:38] dongzl commented on #19862
Hi @strongduanmu , I will try to fix it.

[2022-08-05 05:42] strongduanmu commented on #19862
@dongzl Welcome.

[2022-08-05 05:51] #19824 closed

[2022-08-05 05:53] TeslaCN commented on #19884
Try adding `rewriteBatchedStatements=true` to client's JDBC URL.

[2022-08-05 06:05] strongduanmu commented on #19824
Hi @gameboyLV, can you help test this bug on master branch? We have support MySQL column visible now.

[2022-08-05 06:05] TeslaCN commented on #19849
You may try setting `useServerPrepStmts=false` in JDBC URL of ShardingSphere-Proxy or `useServerPrepStmts=true` when connecting to MySQL directly.

MySQL's server prepared statement doesn't support multi queries neither. But MySQL JDBC Driver may catch exception and fallback to COM_QUERY, so you don't know there is an error occur inside the driver.

[2022-08-05 06:40] FlyingZC opened #19891 "When all read data sources are disabled by distsql,`RandomReadQueryLoadBalanceAlgorithm` reports exception"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
not report expection

### Actual behavior
throws `java.lang.IllegalArgumentException: bound must be positive`

### Reason analyze (If you can)
[code]
<img width="933" alt="image" src="https://user-images.githubusercontent.c

[2022-08-05 06:40] sandynz opened #19892 "Refactor RuleAlteredContext for common usage"
Part of #19421.

Possible changes:

1. Add PipelineProcessConfiguration, YamlPipelineProcessConfiguration, YamlPipelineProcessConfigurationSwapper;

2. Add PipelineProcessContext, AbstractPipelineProcessContext;

3. Refactor RuleAlteredContext and related code;

[2022-08-05 06:41] FlyingZC commented on #19891
server.yaml
[code]

config-readwrite-splitting.yaml
[code]

[2022-08-05 07:14] azexcy commented on #19887
I will follow this issue.

[2022-08-05 07:19] #19460 closed

[2022-08-05 07:31] natehuangting opened #19894 "The data source is messed up."
## Bug Report
The data source is messed up

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Actual behavior
Data that should have been inserted into another data source is inserted into another data source.

### Reason analyze (If you can)
In a transaction, different logical libraries are

[2022-08-05 07:59] FlyingZC commented on #19894
I want to investigate this issue.

[2022-08-05 08:00] strongduanmu commented on #19894
@natehuangting Thank you for your feedback. Currently, ShardingSphere transactions only support transactions in the same logical database. Transaction support across multiple logic database requires @FlyingZC to help investigate the solution.

[2022-08-05 08:17] chinazzl commented on #15992
It seems like not datasource problem. I used HikariCP datasource had same question.

I found this try to rersolve this question
[https://blog.csdn.net/wuzepengCSDN/article/details/121222495](https://blog.csdn.net/wuzepengCSDN/article/details/121222495)

[2022-08-05 08:25] sandynz opened #19897 "Add AbstractPipelineJob for common usage"
Part of #19421.

Possible changes:

1, Add `AbstractPipelineJob`, extract common code of `RuleAlteredJob` into it.

2, Move `new Thread(runnable).start();` from `RuleAlteredJobScheduler` to `AbstractPipelineJob.runInBackground` method.

3, Move preparation code from `RuleAlteredJobScheduler` to `RuleAlteredJob`.

[2022-08-05 08:32] JiekerTime opened #19898 "Splitting the task of improving the Rule Definition documentation"
About issue #16666 and #15604.

We now want to refine and refactor the documentation related to DistSQl.

Now I want the community to help improve the RDL documentation related to sharding.

This document refactoring has the following tasks
Task list (continuously added):
##### task 1:
- [ ] `DROP SHARDING TABLE RULE`

##### task 2:
- [ ] `ALTER DEFAULT SHARDING STRATEGY `
- [ ] `DROP DEFAULT SHAR

[2022-08-05 08:35] FlyingZC commented on #19894
ShardingSphere transactions can support multiple logical databases now, but now there is a problem with handling data sources with the same name under different logical databases.

<img width="486" alt="image" src="https://user-images.githubusercontent.com/19788130/183035839-33430266-15d5-40e3-9d48-f4cb1318ba55.png">
<img width="488" alt="image" src="https://user-images.githubusercontent.com/19788

[2022-08-05 08:41] sandynz opened #19899 "Decouple RuleAlteredJobScheduler and RuleAlteredJobContext for common usage"
Part of #19421.

Possible changes:

1, In `RuleAlteredJobScheduler`, replace `RuleAlteredJobContext` to `PipelineJobContext`;

2, Add InventoryTasks / IncrementalTasks / PipelineProcessContext in `RuleAlteredJobScheduler`;

[2022-08-05 08:42] dym254661025 commented on #18556
I have encountered the same problem. How can I solve it?

[2022-08-05 08:47] gameboyLV commented on #19824
@strongduanmu , Thank you for your hard work, the latest version works as expected.

[2022-08-05 08:47] yanghekuan opened #19901 "### Error updating database. Cause: java.lang.IllegalStateException: Insert statement does not support sharding table routing to multiple data nodes."
Using MyBatis + Shardingsphere5.1.1 according to the monthly score table, but I can use MyBatis plus, using MyBatis mapper. XML file will report errors, why?
2022-08-05 16:25:46.676  INFO 103524 --- [nio-8888-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2022-08-05 16:25:46.676  INFO 103524 --- [nio-8888-exec-1] o.s.web.servlet.Dispatc

[2022-08-05 09:06] FlyingZC commented on #19319
Can you give me a simple runnable demo to investigate this issue,thank you. @liushangqing9803

[2022-08-05 09:26] xuup commented on #19849
Got it . I mean ShardingSphere-Proxy support  allowMultiQueries setting like JDBC ?

I hope I can execute more than one sql in a request.

This case can be work and update tow records in JDBC with MySQL but execute error in ShardingSphere-Proxy.
[code]

[2022-08-05 09:34] TeslaCN commented on #19849
You may execute batched statements by standard JDBC API.
https://github.com/apache/shardingsphere/issues/16124

[2022-08-05 09:53] azexcy commented on #19897
I will follow it, please assign to me

[2022-08-05 09:53] sandynz commented on #19897
@azexcy , could you help to follow it?

[2022-08-05 10:21] zhuzhenting opened #19905 "COUNT sql. StringIndexOutOfBoundsException at AbstractSQLBuilder.java:64"
## Bug Report

### version
use encryption in my project, and the  maven dependency:
[code]

### Expected behavior
when I remove the encryption configuration, the sql works fine.
[code]

### Actual behavior
it throws an exception:
[code]

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc.
this is my tables configuration:
[code]
### E

[2022-08-05 10:27] fenghua0621 opened #19906 "Invalid binding table configuration in ShardingRuleConfiguration"
code:
![image](https://user-images.githubusercontent.com/42227273/183058350-1ed96a18-5f04-4170-8ee7-05e21f8dfa69.png)
![image](https://user-images.githubusercontent.com/42227273/183058460-0bb1a3fe-39ad-411d-b200-d11a83e2a0e8.png)

ocnfig:
![image](https://user-images.githubusercontent.com/42227273/183057928-23eef796-5358-48e5-9a0a-1642d6edb9a7.png)

result:
![image](https://user-images.githubuserc

[2022-08-05 10:45] #19892 closed

[2022-08-05 10:49] #19478 closed

[2022-08-05 14:13] #19754 closed

[2022-08-05 14:15] #19655 closed

[2022-08-05 14:22] sandynz commented on #19748
Close it since it's already solved.

[2022-08-05 14:22] #19748 closed

[2022-08-05 14:51] terrymanu opened #19911 "Add test case for JDBCRepositoryProviderFactory"

[2022-08-05 14:53] terrymanu opened #19912 "Add test cases for JDBCRepository"
- [ ] Add fixture: JDBCRepositoryFixture implements JDBCRepository
- [ ] Add test case with mock

[2022-08-05 15:02] terrymanu opened #19913 "Remove unnecessary import for standalone-mode-repository-jdbc-h2 module"
It seems the shardingsphere-standalone-mode-repository-jdbc-h2 module is unnecessary in shardingsphere-proxy-backend and shardingsphere-jdbc-core-spring, please try to remove them.

[2022-08-05 23:52] #19888 closed

[2022-08-06 02:24] Swastyy commented on #19898
Hi, I want to try some of them.

[2022-08-06 02:29] shining-stars-lk commented on #19912
I can do this task

[2022-08-06 02:29] shining-stars-lk commented on #19911
I can do this task

[2022-08-06 02:30] mabaiwan commented on #19912
@shining-stars-lk Welcome

[2022-08-06 02:30] mabaiwan commented on #19911
@shining-stars-lk Welcome

[2022-08-06 03:02] #19765 closed

[2022-08-06 04:32] boyjoy1127 commented on #19580
Mark this.

[2022-08-06 05:10] terrymanu commented on #19905
What is your table structure?

[2022-08-06 05:11] terrymanu commented on #19906
What is your version?

[2022-08-06 05:12] terrymanu commented on #19901
Can you use markdown syntax to format your content? It is hard to read.

[2022-08-06 05:14] terrymanu commented on #19854
What is your configuration and how to reproduce the exception?

[2022-08-06 05:16] terrymanu commented on #19851
@mabaiwan Hi, please have a look

[2022-08-06 05:23] userhujiong commented on #19906
5.1.2, But I found that 5.1.1 also has this problem

[2022-08-06 06:15] terrymanu opened #19923 "Add more test cases for YamlShardingAutoTableRuleConfigurationSwapper.swapToObject"
The current test case only for assertSwapToObjectWithoutLogicTable, please add more test cases if logic table name not empty.

[2022-08-06 08:50] strongduanmu commented on #19580
Hi @boyjoy1127, welcome to join this task. 😀

[2022-08-06 08:51] strongduanmu commented on #19898
@Swastyy Welcome, our new committer. 👍

[2022-08-06 08:55] strongduanmu commented on #19906
Hi @userhujiong, can you provide your sharding configuration in markdown? I will try to reproduce this exception.

[2022-08-06 12:01] GissilyWork commented on #18864
I have same issue like you with version 5.1.2.
when the sql schema is uppercase something like
[code]
I would get a exception
[code]
if schema is lowercase like
[code]

I would get another exception
[code]
Might ShardingSphere ignore other schemas which db user can access, and only append the schema in jdbc url?

[2022-08-06 13:50] huangdx0726 commented on #19923
I will work on it

[2022-08-06 17:26] Swastyy commented on #19536
Hello everyone, I agree with @linghengqian and @TeslaCN as the gitpod's support is not very effective and useful for now. Lets see if it helps in future to do development.
Also @Siddhant-K-code , few months back I used gitpod for a document development it worked fine but now why it shows every file as changed which contains an image? and how to fix it?

[2022-08-07 01:30] #19810 closed

[2022-08-07 02:59] #13010 closed

[2022-08-07 02:59] #13524 closed

[2022-08-07 02:59] #12709 closed

[2022-08-07 03:00] #12906 closed

[2022-08-07 03:00] #12894 closed

[2022-08-07 03:03] sandynz opened #19936 "Refactor AbstractImporter.getSchemaName"
Currently, AbstractImporter.getSchemaName is an abstract method, and it's implemented in MySQLImporter / PostgreSQLImporter / OpenGaussImporter.

In fact, it could be implemented in AbstractImporter, to simplify AbstractImporter sub-classes, and ImporterFactory / ScalingEntry later.

Possible changes:
- Refactor ImporterConfiguration.getSchemaName, check schema available or not by `DatabaseTypeFac

[2022-08-07 03:09] sandynz commented on #19936
Hi @huangdx0726 , are you intersting to solve it?

[2022-08-07 03:12] huangdx0726 commented on #19936
ok ，assigned to me

[2022-08-07 03:13] sandynz commented on #19936
Thanks. Just assigned it to you.

[2022-08-07 03:16] boyjoy1127 opened #19937 "Optimize Federation-Query"
## Feature Request

Federation Query should be optimized.

### Is your feature request related to a problem?
No

### Describe the feature you would like.
- [X] Add TranslateTable to support projection and filter push down to the table rel-node.
- [X] Add optimization rules to support projection and filter push down to the table rel-node.
- [x] Optimize rules to support projection and filter push d

[2022-08-07 03:28] sandynz opened #19938 "Remove AbstractImporter sub-classes and simplify ImporterFactory"
It could be done after #19936.

Since there's no more abstract method to implement for AbstractImporter sub-classes, and there's no more abstract method in near future, so we could remove these sub-classes to simplify related code.

Possible changes:
- Rename AbstractImporter to DefaultImporter; Remove `abstract` and add `final`;
- Remove ScalingEntry.getImporterClass() method and related sub-clas

[2022-08-07 06:28] piyushg1 commented on #19938
Hi, could you assign this to me?
I'm a complete begineer and want to give it a shot.
Thanks.

[2022-08-07 07:26] sandynz commented on #19938
Hi @piyushg1 , welcome! Assigned to you.

You could refer to [Contribution Guide]( https://shardingsphere.apache.org/community/en/contribute/ ), it might be helpful.

[2022-08-07 09:34] RaigorJiang commented on #19870
@clytzelbj
In fact, only `mode` and `authority` must be configured in `server.yaml`. Other global rules can be configured by DistSQL , which should solve your problem.

Please refer to [ALTER TRANSACTION RULE ](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/ral/).

Because the default transaction rule type is LOCAL, so there is only ALTER, no

[2022-08-07 11:56] huangdx0726 commented on #19899
I will try

[2022-08-07 12:20] GissilyWork opened #19946 "Only support timezone start with prefix GMT ?"
version about my project
spring boot 2.6.10
shardingsphere 5.1.2
mysql 8.0

DB configuration
[code]

When the timezone in jdbc url is UTC+8, shardingsphere will ignore it, all timestamp persisted in db are UTC time, so I test this jdbc url with other jpa or mybatis project without shardingsphere all timestamp of them are UTC+8, if serverTimezone is GMT+8, timestamp persisted in db are GMT+8.
I kno

[2022-08-07 12:57] silversteak commented on #19607
https://github.com/apache/shardingsphere/pull/19947

@TeslaCN Please review the PR.

[2022-08-07 13:58] sandynz commented on #19899
Thanks. Just assigned it to you.

[2022-08-07 14:00] #19936 closed

[2022-08-07 14:07] sandynz commented on #19938
Hi @huangdx0726 , are you intersting to solve it? You've just resolved the prepositive issue.

[2022-08-07 14:11] huangdx0726 commented on #19938
ok Assigned  to me

[2022-08-07 14:19] #19923 closed

[2022-08-07 14:38] #19693 closed

[2022-08-07 14:49] huangdx0726 commented on #19938
@sandynz   hi, the `Importer` interface is defined in `shardingsphere-data-pipeline-api` module , i try to move `ImporterFactory` to the module, but the `DefaultImporter` and `PipelineDataSourceManager` in `shardingsphere-data-pipeline-core` module,  Is `Pipelinedatasourcemanager` also moved to this module ？

[2022-08-07 14:54] sandynz commented on #19938
@huangdx0726 , I missed the details. You could keep ImporterFactory in original module and package.

[2022-08-07 14:55] huangdx0726 commented on #19938
ok

[2022-08-07 15:14] xinglijun1973 commented on #14334
@terrymanu I'm almost done with it, please assign it to me.

[2022-08-08 00:07] userhujiong commented on #19906
config
[code]

This problem occurs when there are two expressions
master.ga_app_attendance_2022_0$->{1..8},master.ga_app_attendance_2021_0$->{1..8}   `false`
master.ga_app_attendance_2022_0$->{1..8}   `true`

[2022-08-08 01:18] #18943 closed

[2022-08-08 02:45] pengdafu opened #19953 "DistSql error"
Use sql:

[code]

occur syntax err:

[2022-08-08 03:11] pengdafu commented on #19953
Just remove the double quotation marks

[2022-08-08 03:11] #19953 closed

[2022-08-08 03:22] taojintianxia opened #19956 "use env to manage the container in scaling IT"
now there are some duplicated code for container management in scaling IT module.
this should be managed by integration-test env module

[2022-08-08 03:22] taojintianxia commented on #19956
please assign to me

[2022-08-08 03:23] taojintianxia opened #19957 "use env to manage the container in transaction IT"
now there are some duplicated code for container management in transaction IT module.
this should be managed by integration-test env module

[2022-08-08 03:24] taojintianxia commented on #19957
please assign to me

[2022-08-08 03:27] taojintianxia opened #19958 "use env to manage the properties in scaling IT"
now there are some duplicated properties for container behavior in scaling IT module.
this should be managed by integration-test env module

[2022-08-08 03:28] taojintianxia commented on #19958
please assign to me

[2022-08-08 03:28] taojintianxia opened #19959 "use env to manage the properties in transaction IT"
now there are some duplicated properties for container behavior in transaction IT module.
this should be managed by integration-test env module

[2022-08-08 03:28] taojintianxia commented on #19959
please assign to me

[2022-08-08 03:39] Sarali2022 commented on #19854
I use code to config  datasource， but I don't know witch datascource has such exception。 maybe  use alibaba adb datasource has such exception。

[2022-08-08 03:55] dym254661025 opened #19961 "The keyGenerateAlgorithm is invalid when the insert statement is executed"
### Error updating database.  Cause: java.sql.SQLException: Field 'id' doesn't have a default value
### The error may involve com.demo.test.project.mapper.TestRecordMapper.add-Inline
### The error occurred while setting parameters
### SQL: insert into test_record(point_id,str,`time`)values(?,?,?) on duplicate key update str = value(str)
### Cause: java.sql.SQLException: Field 'id' doesn't have a d

[2022-08-08 04:00] yanghekuan commented on #19901
Using MyBatis + Shardingsphere5.1.1 according to the monthly score table, but I can use MyBatis plus, using MyBatis mapper. XML file will report errors,

[2022-08-08 05:16] huangdx0726 commented on #19899
PipelineProcessContext  is nothing now？whaht's responsibilities？

[2022-08-08 05:46] strongduanmu commented on #19961
Hi @dym254661025, can you provide more information to help reproduce this exception?

[2022-08-08 05:50] dym254661025 commented on #19961
shardingsphere 5.1.1

properties
`spring:
  shardingsphere:
    enabled: true
    props:
      sql:
        show: true

    rules:
      sharding:
        key-generators:
          log-key:
            type: AUTOKEY

        sharding-algorithms:
          history-month:
            type: MONTH
            props:
              strategy: standard
              algorithmClassName: com.demo.test.frame

[2022-08-08 05:53] dym254661025 commented on #19961
DDL
CREATE TABLE `test_record_202205` (
  `id` bigint(20) NOT NULL,
  `point_id` bigint(20) NOT NULL,
  `str` varchar(255) DEFAULT NULL,
  `time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `point_id` (`point_id`,`str`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

[2022-08-08 06:11] huangdx0726 commented on #19899
[code]
and `AbstractPipelineProcessContext` `implements` ` PipelineProcessContext` right?

[2022-08-08 06:22] dym254661025 commented on #19961
@Insert("insert into test_record(point_id,str,`time`)values(#{pointId},#{str},#{time}) on duplicate key update str = value(str)")
    int add(TestRecord testRecord);

[2022-08-08 06:26] strongduanmu commented on #19961
Can you provide a demo? The information you provided seems to integrate with the framework and also has a private sharding algorithm.

[2022-08-08 06:32] dym254661025 commented on #19961
When executing the insert statement, the breakpoints  in the keygenerator algorithm do not stop

[2022-08-08 07:14] dym254661025 commented on #19961
[test.zip](https://github.com/apache/shardingsphere/files/9279611/test.zip)

[2022-08-08 07:14] dym254661025 commented on #19961
[test.zip](https://github.com/apache/shardingsphere/files/9279611/test.zip)

[2022-08-08 07:18] dym254661025 commented on #19961
[test.zip](https://github.com/apache/shardingsphere/files/9279611/test.zip)

[2022-08-08 07:19] dym254661025 commented on #19961
[test.zip](https://github.com/apache/shardingsphere/files/9279611/test.zip)

[2022-08-08 07:37] sandynz commented on #19899
Yes, you could add common methods in PipelineProcessContext. It has sub-class: AbstractPipelineProcessContext and RuleAlteredContext.

[2022-08-08 07:38] sandynz commented on #19899
Yes, `implements PipelineProcessContext` is missed before, I've submitted a PR and it's merged today. You could merge from upstream master branch.

[2022-08-08 07:54] sandynz commented on #19899
And you could ignore preparation part (e.g. `jobContext.getJobPreparer().prepare(jobContext);`) for now, or you could do it after #19897 is done

[2022-08-08 08:15] #19607 closed

[2022-08-08 08:18] dym254661025 commented on #19961
The test_info object can successfully execute the insert statement, but the test_record object executes the insert statement with an error
Field 'id' doesn't have a default value

[2022-08-08 10:40] #19897 closed

[2022-08-08 11:07] sandynz opened #19976 "Refactor InventoryTaskSplitter for common usage"
Part of #19421.

Currently, there's hard-coded RuleAlteredJobContext and RuleAlteredJobConfiguration in InventoryTaskSplitter.

Possible changes:
- Replace RuleAlteredJobContext to PipelineJobContext
- Remove RuleAlteredJobConfiguration
- Add necessary fields

[2022-08-08 11:08] sandynz commented on #19976
@azexcy , could you help to follow it?

[2022-08-08 11:08] smallblack-xh opened #19978 "When thread pool related properties are not configured, sub-table query will cause system downtime"
Hello, I recently encountered a problem. I used shardingsphere in the project, but some configurations of the data source were missed due to negligence. When I started the system normally and submitted a query without a table field, the system stayed on the Actual SQL log. In response, all other functions are also shut down. I searched for a long time, still can't figure out why it is like this. C

[2022-08-08 11:09] azexcy commented on #19976
I will follow it, please assign to me

[2022-08-08 12:08] #15327 closed

[2022-08-08 12:13] linghengqian commented on #19978
I'm assuming a similar problem is solved in an issue, since no one wants to look at older versions of git source.  4.1.1 is very old.

[2022-08-08 12:32] peilinqian opened #19987 "ss-jdbc ResultSet does not support getRow() method"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-08 12:43] shanrenxj opened #19990 "Update antlr4 to 4.10+"
Hibernate 6.0.1+ was ues antlr4: 4.10+
when I force to use  antlr4: 4.10+，I got error：
org.antlr.v4.runtime.atn.ATN; Could not deserialize ATN with version **4** (expected 3).
then when I force to use  antlr4: 4.9.x，I got error
org.antlr.v4.runtime.atn.ATN; Could not deserialize ATN with version **3** (expected 4).

[2022-08-08 13:31] lwzcwh opened #19991 "Has the side car plan been cancelled?"
Has the side car plan been cancelled? What is the reason? Is it impossible to achieve?

[2022-08-08 20:10] linghengqian commented on #18320
It looks like this issue doesn't have any PRs that need to reach the master branch.

[2022-08-08 20:12] linghengqian commented on #18973
Hi, a critical calcite issue has been resolved, refer to https://issues.apache.org/jira/plugins/servlet/mobile#issue/CALCITE-35.  I think we have good reason to upgrade to calcite 1.31.0 now.  👨‍🔧

[2022-08-09 00:30] userhujiong opened #19998 "The routing table was incorrectly obtained. Procedure"
version
[code]

config
[code]

sql
[code]

result
[code]

[2022-08-09 01:14] jinyingxiong opened #20000 "Oracle SQLParser Error"
## Bug Report

### Which version of ShardingSphere did you use?
*5.1.2*
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
*ShardingSphere-JDBC*
### Expected behavior
*I'm using Quartz(2.3.2) in oracle, And use ShardingSphere-JDBC for encrypt some log record, but some simple SQL(generated by Quartz) can't parse by SQLParser and throw Exception*

### Reason analyze (If you

[2022-08-09 01:33] strongduanmu commented on #20000
@jinyingxiong Thank you for your feedback. Let's see if the community's contributors are interested in this issue.

[2022-08-09 01:55] strongduanmu commented on #13091
When I replace `OriginalFederationExecutor` with `AdvancedFederationExecutor`, and execute BaseDQLIT, the following exceptions occur.

[code]

[2022-08-09 02:00] tianhao960 commented on #20000
I would like to try

[2022-08-09 02:07] strongduanmu commented on #20000
@tianhao960 Welcome, I will assign this issue to you.

[2022-08-09 02:18] wsg96321 opened #20004 "sharding proxy time_zone can not change"
version: sharding proxy v5.1.0

for example : `1659070419` is the timestamp of `2022-07-29 12:53:39` for time_zone "UTC+8"
but when I set time_zone in my sharding proxy, it seems does't effect. It keeps the `time_zone` for `SYSTEM`, and I can't not change it in one connect session (it doesn't have matter when I login the remote mysql to `set time_zone`, so it troubleshoot remote mysql problems)
![

[2022-08-09 02:27] strongduanmu commented on #13456
We can refer this convert logic——https://github.com/ApsaraDB/galaxysql/blob/main/polardbx-optimizer/src/main/java/com/alibaba/polardbx/optimizer/parse/visitor/FastSqlToCalciteNodeVisitor.java.

[2022-08-09 02:32] tuichenchuxin opened #20005 "Add ConnectionContext and QueryContext for kernel and remove thread local"
## Feature Request
Kernel use thread local to handle some connection context and some request context. It's better to use `ConnectionContext` and `QueryContext` to hold context instead of threadlocal.
### task

- [x] add connectionContext for kernel
- [x] remove thread local for cursor
- [x] remove traffic context holder
- [x] remove sql statement database holder
- [x] refactor logicSQL to QueryCo

[2022-08-09 02:40] strongduanmu commented on #13091
SQLFeatureNotSupportedException:
[code]

[2022-08-09 02:54] strongduanmu commented on #13091
Size of actual result set is different with size of expected result set.

[code]

[2022-08-09 03:01] strongduanmu commented on #13091
Missing conversion is LogicalUnion[convention: NONE -> ENUMERABLE].

[code]

[2022-08-09 03:09] #18401 closed

[2022-08-09 03:13] #16865 closed

[2022-08-09 03:30] sandynz opened #20007 "Extract PipelineJobPreparerUtils from RuleAlteredJobPreparer for common usage"
Part of #19421.

Currently, InventoryTaskSplitter is an dividual class that's used by RuleAlteredJobPreparer, but other code snippets are hard-coded in RuleAlteredJobPreparer. We'll try to extract some common methods from RuleAlteredJobPreparer into PipelineJobPreparerUtils and refactor it, then it could be used in different types of job preparer.

Possible changes (need to investigate it, it's no

[2022-08-09 03:31] sandynz commented on #20007
@azexcy , could you help to follow it?

[2022-08-09 03:32] azexcy commented on #20007
Please assign to me.

[2022-08-09 03:37] strongduanmu commented on #19998
Hi @userhujiong, thank you for your feedback.  Since this sql is too complex, shardingsphere can not support it by default, you can open `sql-federation-enabled` and execute this sql again.

[2022-08-09 03:45] shanrenxj commented on #19990
I have submitted PR for this issue, but I do not have permission

[2022-08-09 04:28] azexcy opened #20009 "Table name is case-sensitive when altering sharding table rule"
## Bug Report

Relation: #17460

Table name is case-insensitive when altering sharding table

[code]

### Which version of ShardingSphere did you use?

master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

Table name is case-insensitive when altering sharding table rule by DistSQL.

### Actual behavior

Table name is case-

[2022-08-09 05:28] #19887 closed

[2022-08-09 05:42] #19722 closed

[2022-08-09 06:38] TeslaCN commented on #20004
SET statement is not properly handled in previous versions. Please consider setting global timezone.

[2022-08-09 06:39] TeslaCN commented on #19991
Hi @lwzcwh
About sidecar, you may refer to https://github.com/database-mesh/pisanix

[2022-08-09 06:50] wsg96321 commented on #20004
it is the same behavior when I use set global time_zone , and besides , when it is only just one database in a sharding proxy instance , it seems work right.
( also I have try this in v5.1.1 version , it is the same as v5.1.0 )

[2022-08-09 06:52] Pancratius commented on #19795
@strongduanmu Looking forward to reply, thank you.

[2022-08-09 06:58] TeslaCN commented on #20004
We did some changes to SET statement in https://github.com/apache/shardingsphere/issues/18738, which would be available in next release.

[2022-08-09 06:59] strongduanmu commented on #19795
@Pancratius Thank you for your remind, I will test your demo program.

[2022-08-09 07:19] #17023 closed

[2022-08-09 07:22] TeslaCN commented on #15702
Close via #19286.

[2022-08-09 07:22] #15702 closed

[2022-08-09 07:23] TeslaCN commented on #15825
Duplicate with #15700.

[2022-08-09 07:23] #15825 closed

[2022-08-09 07:34] #16287 closed

[2022-08-09 07:56] koala775 opened #20016 "shardingsphere-proxy with HAProxy"
version:5.1.1
opt:
I use HAProxy to implement load balancing，the HAProxy roll polling algorithm set roundrobin，the weight is 1:1.But the phenomenon is a period of vistis a， a period of vistis b.It's not at a time vist a,at a time vistis b.It have a relationship with shardingsphere-proxy?

[2022-08-09 08:05] tianhao960 commented on #20000
@jinyingxiong , it seems that the sqls contain oracle keyword "PRIORITY" which cause the exception,  I have try to add double quote(") around PRIORITY to the second sql you provided, it does not throw exception. you can try.

`        String sql = "SELECT TRIGGER_NAME, TRIGGER_GROUP, NEXT_FIRE_TIME, \"PRIORITY\" FROM QRTZ_TRIGGERS WHERE SCHED_NAME = 'IpmpQuartzScheduler' AND TRIGGER_STATE = ? AND

[2022-08-09 08:07] sunkai-cai commented on #15663
please assignees to me

[2022-08-09 08:34] jinyingxiong commented on #20000
@tianhao960 Thanks，it does work.
But I think the SQLParser should improve the error description, so we can resolve the sql problem myself.
Thanks anyway

[2022-08-09 08:35] ykjxx opened #20019 "When sharding proxy and SQL hint are used for database splitting, does the read-write separation configuration not take effect？"
problem：When sharding proxy and SQL hint are used for database splitting, does the read-write separation configuration not take effect？
environment：shardingproxy-5.1.2,mysql5.7
What should I do if I want to use hint and read / write split config at the same time?

[2022-08-09 08:36] tianhao960 commented on #16136
I'd like to try this

[2022-08-09 08:37] TeslaCN commented on #16136
@tianhao960
Welcome.

[2022-08-09 08:39] taojintianxia commented on #19612
this may taking a lot of time, let's lower the priority and focus on env refactor.

[2022-08-09 08:40] TeslaCN commented on #20016
Hi @koala775
Database connection is stateful. If you are executing SQL in one session, all request would be executed in one connection.

[2022-08-09 08:50] strongduanmu commented on #20000
Hi @tianhao960, can you submit a pr to add `PRIORITY` to unreservedWord?

[2022-08-09 08:51] koala775 commented on #20016
Thank you for replaying.I requet a controller every time,it belongs to a session?

[2022-08-09 08:53] TeslaCN commented on #20016
That depends on whether you are using pooled connection.

[2022-08-09 09:02] koala775 commented on #20016
Yes,I use.

[2022-08-09 09:02] strongduanmu commented on #19795
Hi @tianhao960, are you interested in this issue?

[2022-08-09 09:07] TeslaCN commented on #20016
Connection pool reuses actual database connections. So pooled connection in different request may corresponding to same actual connection.

[2022-08-09 09:08] wsg96321 commented on #20004
OK , thanks a lot , then we will have a try in next release .

[2022-08-09 09:08] #20004 closed

[2022-08-09 09:18] koala775 commented on #20016
Shardingsphere-proxy also hava session concept？

[2022-08-09 09:20] TeslaCN commented on #20016
Connection to ShardingSphere-Proxy is also stateful.

[2022-08-09 09:21] koala775 commented on #20016
Ok，thanks.

[2022-08-09 09:21] #20016 closed

[2022-08-09 10:15] tianhao960 commented on #20000
I'll try

[2022-08-09 11:07] peilinqian opened #20026 "create tablespace does not support specifying the maxsize limit"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-09 12:37] RaigorJiang opened #20028 "Refactor parameter definition of DistSQL for feature `sharding`"
Hi community,

This issue is for #18811, to refactor parameter definition in module **`shardingsphere-sharding-distsql-parser`**

### Aim

- [ ] Redefine identifier and literals in g4 grammar (Literals.g4, Keyword.g4)
- [ ] Change parameter type definitions in g4 of `RDLStatement`, `RQLStatement` and `RALStatement`
- [ ] Update `ShardingDistSQLStatementVisitor` & `ScalingSQLStatementVisitor` to fi

[2022-08-09 12:43] RaigorJiang opened #20030 "Refactor parameter definition of DistSQL for feature `encrypt`"
Hi community,

This issue is for #18811, to refactor parameter definition in module **`shardingsphere-encrypt-distsql-parser`**

### Aim

- [ ] Redefine identifier and literals in g4 grammar (Literals.g4, Keyword.g4)
- [ ] Change parameter type definitions in g4 of `RDLStatement`, `RQLStatement` and `RALStatement`
- [ ] Update `EncryptDistSQLStatementVisitor` to fit parameter type adjustment
- [ ]

[2022-08-09 12:46] RaigorJiang opened #20031 "Refactor parameter definition of DistSQL for feature `readwrite-splitting`"
Hi community,

This issue is for #18811, to refactor parameter definition in module **`shardingsphere-readwrite-splitting-distsql-parser`**

### Aim

- [ ] Redefine identifier and literals in g4 grammar (Literals.g4, Keyword.g4)
- [ ] Change parameter type definitions in g4 of `RDLStatement`, `RQLStatement` and `RALStatement`
- [ ] Update `ReadwriteSplittingDistSQLStatementVisitor` to fit paramete

[2022-08-09 12:47] #19899 closed

[2022-08-09 12:48] RaigorJiang opened #20032 "Refactor parameter definition of DistSQL for feature `db-discovery`"
Hi community,

This issue is for #18811, to refactor parameter definition in module **`shardingsphere-db-discovery-distsql-parser`**

### Aim

- [ ] Redefine identifier and literals in g4 grammar (Literals.g4, Keyword.g4)
- [ ] Change parameter type definitions in g4 of `RDLStatement`, `RQLStatement` and `RALStatement`
- [ ] Update `DatabaseDiscoveryDistSQLStatementVisitor` to fit parameter type a

[2022-08-09 12:50] RaigorJiang opened #20033 "Refactor parameter definition of DistSQL for feature `shadow`"
Hi community,

This issue is for #18811, to refactor parameter definition in module **`shardingsphere-shadow-distsql-parser`**

### Aim

- [ ] Redefine identifier and literals in g4 grammar (Literals.g4, Keyword.g4)
- [ ] Change parameter type definitions in g4 of `RDLStatement`, `RQLStatement` and `RALStatement`
- [ ] Update `ShadowDistSQLStatementVisitor` to fit parameter type adjustment
- [ ] U

[2022-08-09 13:17] RaigorJiang commented on #20026
Yes, `maxsize` is not supported by the current syntax definition, are you interested in improving it?

refer to https://github.com/apache/shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-opengauss/src/main/antlr4/imports/opengauss/DDLStatement.g4

[2022-08-09 13:21] RaigorJiang commented on #20019
Hi @ykjxx
Please describe your configuration and operation, what is the expectation and what is the actual performance?
So that someone can help you analyze the cause of the problem.

It is best to use the issue template to ask questions.

[2022-08-09 13:23] azexcy opened #20035 "LockContext.tryLock may occur exception and convert to warn log"
## Bug Report

Use 1 ShardingSphere-Proxy  and the sharding item is 2.

Relation ci url

https://github.com/apache/shardingsphere/runs/7745031071?check_suite_focus=true
https://github.com/apache/shardingsphere/runs/7737878020?check_suite_focus=true

Relation code at RuleAlteredJobPreparer

[code]

[code]

### Which version of ShardingSphere did you use?

master  97a54388f80c2aa408496b4f520e9df0beb

[2022-08-09 14:59] terrymanu opened #20036 "Redesign exception hierarchy of ShardingSphere"
The current Exception is not very clear. It is better to redesign the exception hierarchy of ShardingSphere.

1. The exception should split to ShardingSphereException which can throw to SDK layer for operation error by user, and ShardingSphereInsideException for internal catch;
1. The ShardingSphereException should include error categories and error codes, user can query like dictionary by the err

[2022-08-09 15:47] yx9o commented on #20028
let me try.

[2022-08-09 16:09] sunkai-cai opened #20040 "docker container don't stop when run multiple scenarios for integration-test"
## Question

when run multiple scenarios for integration-test

`./mvnw -nsu -B install -f shardingsphere-test/shardingsphere-integration-test/shardingsphere-integration-test-suite/pom.xml -Dcheckstyle.skip=true -Dspotless.apply.skip=true -Dit.run.modes=Cluster -Dit.scenarios=db,tbl,readwrite_splitting,encrypt,shadow,dbtbl_with_readwrite_splitting,dbtbl_with_readwrite_splitting_and_encrypt,empty_ru

[2022-08-09 16:53] sunkai-cai opened #20041 "Support build with windows"
## Question

I thinks we need to support build with windows, because has a large number of users with windows.

But，shardingsphere can't do that after [#19587](https://github.com/apache/shardingsphere/pull/19587)

Now，shardingsphere the longest path of module is `shardingsphere-mode\shardingsphere-mode-type\shardingsphere-standalone-mode\shardingsphere-standalone-mode-repository\shardingsphere-sta

[2022-08-09 17:22] linghengqian commented on #20041
- I am also concerned about this problem. After all, the limitations of compiling projects in WSLg are quite large, and some important fixes are still in the Microsoft Preview stage, which will bring a lot of trouble.

- The information provided by the FAQ is too cumbersome, according to https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=registry, the first ste

[2022-08-10 01:10] Lychengit opened #20042 "hi，which version supports batch insert（sharding-jdbc）？"
scene：The data inserted in batch are all in the same table（No distributed transactions）.

like this:

INSERT INTO t_table (xx, xx) VALUES
(xx,xx),
(xx,xx),
(xx,xx);

[2022-08-10 01:20] strongduanmu commented on #20042
Hi @Lychengit, batch insert is the basic feature, you can try any version.

[2022-08-10 01:24] Lychengit commented on #20042
ok. I'll try again，Please do not close this issue.

[2022-08-10 02:01] ykjxx commented on #20019
Hi @RaigorJiang
my config:
![image](https://user-images.githubusercontent.com/52477571/183792838-0b7e3988-986f-4579-96f8-1cc94593294e.png)
[db1, replica1] and [DB2, replica2] are two groups of master-slave Databases. I hope to route these two groups of Databases through Hin SQL and realize read-write separation
excute-sql: /* ShardingSphere hint: dataSourceName=db_2 */ select * from sm_project_img

[2022-08-10 02:32] #19976 closed

[2022-08-10 02:36] sunkai-cai commented on #20041
[maximum-file-path-limitation](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=registry) can't resolve this problem.

`java.lang.ProcessBuilder.start` be called when maven running junit. Then `ProcessBuilder` has use [CreateProcessW](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw) to fork a process.

[2022-08-10 02:59] wsm12138 opened #20046 "Maybe we should export something about TRANSACTION?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
no
### Describe the featu

[2022-08-10 03:07] ZeldaBreath commented on #19398
I've added the h2 driver dependency for the shardingsphere-jdbc-example module, then it will be fixed.

[2022-08-10 03:13] TeslaCN commented on #20040
I tried your command. All containers will be destroyed after tests finished for about half a minute.

[code]

docker system events
[code]

[2022-08-10 03:24] sunkai-cai commented on #20040
yes， All containers will be destroyed after all tests finished。 But， Why not container will be destroyed when the one test finished.

[2022-08-10 03:34] TeslaCN commented on #20040
This may not be taken in consideration before.

[2022-08-10 03:36] #19938 closed

[2022-08-10 03:36] mabaiwan commented on #19398
@ZeldaBreath Modules should not strongly depend on the H2 database, you should see why they depend on H2

[2022-08-10 03:40] zouyuanzhi1011 opened #20047 "Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource"
Project join Seata console error：Cannot subclass final class org.apache.shardingsphere.driver.jdbc.core.datasource.ShardingSphereDataSource

[2022-08-10 03:51] terrymanu commented on #17542
Could you format the content by markdown syntax? It is hard to read.

[2022-08-10 04:00] Ikki-Dai opened #20049 "Need dependencies management, 100 jars imported"
## Feature Request

### Is your feature request related to a problem?

Seems shardingsphere 5.x is for plugin? but how to **plug-out** libs that i don't want to import
can provide some advice for maven exclusion, such as i want to exclude 'shadow' or 'schedue'. because i just want simple read-wirte spllitting.

### Describe the feature you would like.

or can provide dependencies management for sh

[2022-08-10 04:02] Crackersssss commented on #20030
Can i try it?

[2022-08-10 05:25] #20042 closed

[2022-08-10 05:51] ZeldaBreath commented on #19398
OK, Thanks! I will try to fix it in other way.

[2022-08-10 07:38] linghengqian commented on #19536
I prefer to put discussions of changes to the Gitpod integration experience in their own discussion forum on github.com.  This issue can be closed.

[2022-08-10 08:24] #19536 closed

[2022-08-10 08:46] linghengqian commented on #20041
I just noticed that there was a discussion about CreateProcessW in Zig Language too, but in the end it didn't get any feedback in the Windows community. So I opened a new one in the Windows Feedback Hub. Refer to https://aka.ms/AAhnzj2 .

[2022-08-10 09:03] panqizhen commented on #19424
![image](https://user-images.githubusercontent.com/22044790/183861125-a552dc70-eafe-4ba1-9991-370b9d0d8af3.png)

hwo can i change this sql_mode and remove "STRICT_TRANS_TABLES"

[2022-08-10 09:29] #20007 closed

[2022-08-10 09:46] marker-wu opened #20057 "Is there a souvenir to become a contributor?"
Is there a souvenir to become a contributor? Haha

[2022-08-10 10:19] TeslaCN opened #20058 "Properties of VolumeBasedRangeShardingAlgorithm VOLUME_RANGE is not clear"
## Question

My scenario is range sharding.

ID distributes in [1, 32]

Range sharding into 4 data sources:
ds_0: [1, 8]
ds_1: [9, 16]
ds_2: [17, 24]
ds_3: [25, 32]

I thought the configuration was:
[code]

But the proper configuration is the following:
[code]

The properties may confuse users.

[2022-08-10 11:12] azexcy opened #20060 "Scaling prepare stage may execute more than once at high concurrency"
## Feature Request

Relation code at RuleAlteredJobPreparer

[code]

Because of `lockContext.tryLock(lockDefinition, 3000)`, if  `prepareAndCheckTarget()` method cost time < 3000 millis, another thread will get the lock, and execute `prepareAndCheckTarget()` again.
Some database not support create index [if not exists] syntax, may cause the error.

### Is your feature request related to a problem?

[2022-08-10 11:12] azexcy commented on #20060
I will follow this.

[2022-08-10 11:15] wsm12138 opened #20061 "DDL execute failed，BUT output is SUCESS"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-10 11:48] strongduanmu commented on #13091
All task has been finished, so I will close this issue.

[2022-08-10 11:48] #13091 closed

[2022-08-10 11:53] peilinqian opened #20063 "opengauss manual scaling, “CHECK SCALING” syntax not supported"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-10 12:14] RaigorJiang commented on #20019
Two risks:
1. Your readwrite-splitting group names and the original resource names are duplicated, which may lead to deviation
2. The way of SQL HINT to dataSourceName has been removed from the master, so it is best not to use it, otherwise the subsequent upgrade will not be possible.

[2022-08-10 14:16] #20060 closed

[2022-08-10 15:04] RaigorJiang commented on #20057
Open SphereEx Community has provided sponsorship, you can follow the follow-up activities.
- https://community.sphere-ex.com/t/topic/94
- https://community.sphere-ex.com/t/topic/532

[2022-08-10 15:04] RaigorJiang commented on #20057
que

[2022-08-10 15:04] #20057 closed

[2022-08-10 15:44] runqi-zhao commented on #20031
Please assign this task to me

[2022-08-10 16:13] RaigorJiang commented on #20031
Hi @runqi-zhao , Welcome!

[2022-08-10 18:38] linghengqian commented on #20041
- Just for extra confirmation, does the approach from https://github.com/jhipster/generator-jhipster/issues/8878#issuecomment-441796182 work?

- GraalVM Native Build Tools has done a lot of PR around the long path, which is finally shown as https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#long_classpath_and_shading_support .

- I just found out that the Windows Feedback Hub is

[2022-08-11 02:07] tuichenchuxin commented on #20061
I found this error has been fixed #19525

[2022-08-11 02:20] azexcy opened #20068 "OneOffJobBootstrap.execute, but sometimes one of the sharding tasks may not triggered"
## Bug Report

Environment
ShardingSphere-Proxy: 2
Zookeeper: 1
Sharding Count: 2

Relation ci:

Relation code at PipelineJobExecutor:
[code]

The ci log
[code]

From the logs, we know that at this time, The two tasks are divided equally between the two proxies.
But only one item triggered `start RuleAlteredJobScheduler, jobId=0130317c30317c3054317c7368617264696e675f6462, shardingItem=0`, another

[2022-08-11 02:54] #20000 closed

[2022-08-11 02:59] zhuzhenting commented on #19905
I have given the complete sql and table configuration, You can build the table structure arbitrarily

[2022-08-11 03:21] sunkai-cai opened #20070 "has a <none> image When mvn package docker"
## Bug Report

[code]

### Expected behavior

[code]

### Actual behavior

[code]

[2022-08-11 03:22] #20047 closed

[2022-08-11 04:00] #19013 closed

[2022-08-11 04:03] wsm12138 opened #20071 "Use proxy `show tables;` output `t_order_1`,but can't delete it."
## Bug Report

### Which version of ShardingSphere did you use?
[code]
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
` ShardingSphere-Proxy `
### Expected behavior
1. show tables;  have two table t_order_0;t_order_1.
2. drop table success
3. when exectue `drop table` ,it shoud have logs in stdout.log. because `sql-show: true`
### Actual behavior
[code]
### Reason anal

[2022-08-11 04:19] tianhao960 commented on #15781
I would like to take this.

[2022-08-11 04:23] strongduanmu commented on #15781
@tianhao960 Welcome.

[2022-08-11 05:01] lymzcq1993 commented on #18721
mybatis plus have default ID generation  snowflake+uuid  since 3.3.0.
need ignore mybatis plus ID gengration

[code]

[2022-08-11 07:00] cuiyapu opened #20074 "Oracle batch insert error"
use version 5.1.2
batch insert SQL :
INSERT INTO T_USER( id, city, name, year) VALUES (?,?,?,?),(?,?,?,?),(?,?,?,?),(?,?,?,?),(?,?,?,?),(?,?,?,?)
error info:
{
    "timestamp": "2022-08-11T06:46:00.912+0000",
    "status": 500,
    "error": "Internal Server Error",
    "message": "\r\n### Error updating database.  Cause: java.sql.SQLException: 索引中丢失  IN 或 OUT 参数:: 3\r\n### The error may exist in f

[2022-08-11 07:06] xuup commented on #18682
OptimizerContext has been refactor, maybe this issue should be modify?

[2022-08-11 07:22] Bingai077 opened #20075 "JDBC connection Exception: Unknown system variable 'query_cache_size'"
Which version of ShardingSphere did you use?
ghcr.io/apache/shardingsphere-proxy:c9cc117c8f4b42c220f89c92851bf945c40c71b0  （helm cluster）

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Expected behavior
JDBC connection is normal.

Actual behavior
java.sql.SQLException: Unknown system variable 'query_cache_size'
![image](https://user-images.githubuser

[2022-08-11 07:35] ZeldaBreath commented on #19398
I noticed that the memory mode has been removed, now default mode is Standalone, but Standalone mode uses h2 driver (configured in JDBCRepositoryPropertyKey) and JDBCRepository by default. And then,  some examples get runtime exceptions because they depend on the h2 driver.I'm not sure if memory mode will be integrated into Standalone mode or will be restored soon. So I will try to modify the conf

[2022-08-11 07:51] TeslaCN commented on #20070
You may refer to https://docs.docker.com/develop/develop-images/multistage-build/

[2022-08-11 07:55] TeslaCN commented on #20075
Did you set `overwrite: true`?

This issue may duplicate with
- https://github.com/apache/shardingsphere/issues/18482
- https://github.com/apache/shardingsphere/issues/19649

[2022-08-11 07:57] sunkai-cai commented on #20070
Thanks for you answer.

[2022-08-11 07:57] #20070 closed

[2022-08-11 07:57] TeslaCN commented on #20071
Commands like `\d`, `\t` are not supported by ShardingSphere-Proxy for now.

[2022-08-11 08:04] TeslaCN commented on #19519
Close due to no response.

[2022-08-11 08:04] #19519 closed

[2022-08-11 08:07] TeslaCN commented on #19424
Try setting `jdbcCompliantTruncation=false` in JDBC URL.

Such as
[code]

[2022-08-11 08:10] TeslaCN commented on #19369
Usually this issue is caused by `Xss` too small or SQL too long. Just setting `Xss` to a proper value.

[2022-08-11 08:19] TeslaCN commented on #16856
Close due to no response.

[2022-08-11 08:19] #16856 closed

[2022-08-11 08:20] TeslaCN commented on #16367
Close via https://github.com/apache/shardingsphere/pull/17602

[2022-08-11 08:20] #16367 closed

[2022-08-11 08:23] sunkai-cai commented on #20030
let me try.

[2022-08-11 08:25] wsm12138 opened #20077 "The same scene，create view sometimes success，sometimes failed."
## Bug Report

### Which version of ShardingSphere did you use?
[code]
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy
### Expected behavior
Nomatter drop ds0's table or ds1's table，when proxy execute same sql. the result should be a same one.
### Actual behavior
Drop ds0's table , proxy execute create  view, create success.
Drop ds1's table , proxy

[2022-08-11 08:41] tuichenchuxin commented on #20077
I investigate this issue.
We execute with parallel threads. When drop ds_0's table. Then actual create view is two threads. ds_0 is main thread. ds_1 is executed by asynchronous thread.
So if the main thread execution fast, then ds1's connection will be recycled, ds_1 won't execute successfully. But if main thread execute slow, Then ds_1 will be executed.
So in this case, whether or not ds_1 execu

[2022-08-11 08:43] tuichenchuxin commented on #20077
This case may be supported if we have gloable DDL transaction.

[2022-08-11 08:51] zhao-en commented on #18207
when the 'distinct' and 'group by' are used in one sql , the 'group by' will be replace by 'order by ' after creating  ShardingSphere-SQL will
case :
 Logic SQL: SELECT COUNT(DISTINCT DATE_FORMAT(LEFT(b.create_date,13),'%Y-%m-%d %H')) hourNum, date
        FROM table_name b
        where (b.p_id,b.d_id) IN
             (
                (?, ?)
             )

            and b.create_date  >=  ?

[2022-08-11 09:04] Bingai077 commented on #20075
I set up `overwrite: true`，but，I have a question.How do ShardingSphere read data from ZooKeeper during reboot？

[2022-08-11 09:13] TeslaCN commented on #20071
`t_order` in your configuration is sharding table. You cannot drop actual table of database via ShardingSphere-Proxy.

[2022-08-11 09:16] TeslaCN commented on #20075
ShardingSphere-Proxy will retrieve configurations, rules and metadatas from ZooKeeper before listening on port.

[2022-08-11 09:19] Bingai077 commented on #20075
Well, thank you very much! This problem is solved.

[2022-08-11 09:27] WJME opened #20079 "There are a lot of schemas on a database instance and all of them must be used. How to proxy all of them? Can I only proxy ports directly with the mysql-proxy mode instead of configuring schemas one by one?"
I have a big trouble or question, please help me
I have one mysql master database and one slave database, I only need to use the read-write separation function. But there are 100+ schemas in my main database. Is it difficult for me to configure all 300+ schemas to the yaml configuration file one by one?
  Is there a simple configuration pattern that directly transparently transmits all schemas? As

[2022-08-11 09:29] WJME commented on #20079
@rfscholte @WillemJiang @ke4qqq @gmcdonald

[2022-08-11 09:52] WJME commented on #20079
Their schema update is a tcp port forwarding that supports interception handling

[2022-08-11 09:53] WJME commented on #20079
Their mode is more like a tcp port forwarding that supports interception processing

[2022-08-11 09:57] wsm12138 commented on #20071
<img width="1867" alt="image" src="https://user-images.githubusercontent.com/86462784/184108918-4d8ff38b-56ef-42e0-babb-82f1de023291.png">
<img width="1174" alt="image" src="https://user-images.githubusercontent.com/86462784/184108995-0b8341b4-ffe0-4c2e-94bd-19e150257d52.png">
<img width="1874" alt="image" src="https://user-images.githubusercontent.com/86462784/184109114-d2f63c74-ae4d-4009-bc34-80

[2022-08-11 09:57] #20071 closed

[2022-08-11 09:58] WJME commented on #20079
Their schema is more like a tcp port forwarding that supports interception processing, so even creating a new schema in a running database is immediately available to jdbc on the proxy side without reconfiguring or restarting. Can't deny that I do I've seen some SAAS projects do it like this

[2022-08-11 09:58] WJME commented on #20079
Their mode is more like a tcp port forwarding that supports interception processing, so even creating a new schema in a running database can be immediately available to jdbc on the proxy side without reconfiguring or restarting. Can't deny that I do I've seen some SAAS projects do it like this

[2022-08-11 10:03] WJME commented on #20079
@sandynz

[2022-08-11 10:09] WJME commented on #15876
@galaxylqx  这个问题大佬你是怎样解决的呢

[2022-08-11 10:24] zhao-en opened #20081 "when the 'distinct' and 'group by' are used in one sql , the 'group by' will be replace by 'order by ' after creating ShardingSphere-SQL"
when the 'distinct' and 'group by' are used in one sql , the 'group by' will be replace by 'order by ' after creating ShardingSphere-SQL

CASE:
Logic SQL:
SELECT COUNT(DISTINCT DATE_FORMAT(LEFT(b.create_date,13),'%Y-%m-%d %H')) hourNum, date FROM table_name b where (b.p_id,b.d_id) IN ( (?, ?) ) and b.create_date >= ? AND b.create_date < ? GROUP BY date,d_id

Actual SQL:
SELECT COUNT(DISTINCT DATE_

[2022-08-11 10:26] #20075 closed

[2022-08-11 10:39] linghengqian commented on #15876
@WJME The discussion related to this issue has ended at https://github.com/apache/shardingsphere/pull/16511, if there is a problem, you should open a new issue instead of staying in this issue.

[2022-08-11 10:39] sandynz commented on #20079
Hi @WJME , I'm not sure what's the feature request means, could you submit a thread on forum community?

[2022-08-11 11:56] peilinqian opened #20084 "Opengauss select syntax test, there are problems in some scenarios"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-11 11:57] peilinqian commented on #20084
opengauss
[code]

[2022-08-11 11:58] peilinqian commented on #20084
sharding-proxy

[code]

[2022-08-11 12:02] soulasuna opened #20085 "Question about the actual needs of persist ephemeral"
## Question about the actual needs of persist ephemeral

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay at

[2022-08-11 12:44] peilinqian opened #20087 "The "INSERT INTO ... SELECT " syntax of openGauss has some problems."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-11 13:24] #19958 closed

[2022-08-11 14:39] zhanglaig commented on #16156
shardingsphere and seata xa +1

[2022-08-11 15:11] xueyilong opened #20090 "Discovery invalid when primary switchover to the first primary node of the proxy start"
### ENV
ShardingSphere-Proxy version :  5.1.2
Database Version : MogDB 3.0.0 （1 primay 2 standby）

### Expected behavior
Discovery the right database role whatever i execute the switchover on the any standby node

### Actual behavior
<img width="977" alt="image" src="https://user-images.githubusercontent.com/20434574/184165694-2114c03c-5ec3-42a3-8a07-36abcf024813.png">
<img width="971" alt="image"

[2022-08-11 17:44] linghengqian commented on #20041
I just noticed a strange phenomenon.  Why the FAQ has been moved to Github Wiki, and the website still needs to keep the FAQ page?  Reference https://shardingsphere.apache.org/document/current/en/faq/ .

[2022-08-11 18:35] linghengqian commented on #19845
- A possibly related topic is that earlier, ShardingSphere has upgraded the version of Mockito to 4.5.1 to partially support unit testing in GraalVM's Native Image at the test framework level.

- But according to https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#long_classpath_and_shading_support , doing this kind of unit testing requires reasonable JUnit Platform integration.

[2022-08-12 00:55] panqizhen commented on #19424
Thank you very much! It works

[2022-08-12 01:53] caol64 commented on #16725
@linghengqian In 5.1.2 version, ShardingSphereDataSource doesn't have getContextManager method. Is this solution needs to update?

[2022-08-12 02:13] wsm12138 commented on #20061
@tuichenchuxin  thanks for reply
When use commit `3043ec0425c1a8be75edf4fadef59f4f9e789a1b`  , execute steps to reproduce the behavior.
I found output `error` success.
![origin_img_v2_75b27696-9840-4a3a-9b81-47fd43b438fg](https://user-images.githubusercontent.com/86462784/184272399-e8292b98-5d86-47b7-8a20-94e6478f4922.jpg)
![qlC2UWRVzM](https://user-images.githubusercontent.com/86462784/184272412-

[2022-08-12 02:14] #20061 closed

[2022-08-12 02:45] #19241 closed

[2022-08-12 02:56] shuvigoss opened #20096 "encryption distinct select bug~"
## Bug Report
Mysql 5.7 with shardingsphere 5.1.2
-- `sharding-demo`.t_user definition

CREATE TABLE `t_user` (
  `user_id` bigint(20) NOT NULL COMMENT '用户唯一ID',
  `fullname` varchar(50) DEFAULT NULL COMMENT '名字',
  `user_type` varchar(255) DEFAULT NULL COMMENT '类型',
  `cipher_pwd` varchar(255) DEFAULT NULL COMMENT '密码',
  `mobile` varchar(100) DEFAULT NULL COMMENT '手机号',
  `mobile_data` varchar(1

[2022-08-12 03:07] koala775 opened #20097 "ShardingSphere still hava Deadlock exception"
version:5.1.1
opt:
I use Sysbench to execute the performance test,then throw the error:Deadlock found when trying to get lock;try restarting transtraction,have an impact on？

[2022-08-12 03:22] linghengqian commented on #16725
@caol64

- Hi, if you feel the need, you should open a new issue instead of staying in this one.

- According to https://github.com/apache/shardingsphere/issues/18494, the metadata module is undergoing a massive adjustment, which means that every version uses this method differently.  I don't really recommend doing this, DistSQL is currently my solution.

[2022-08-12 03:37] soulasuna commented on #20085
The life cycle of the ephemeral node is bound to the proxy instance, so the delete operation will never be called.
Refactoring removes the logic of deleting nodes, exposing required exceptions

[2022-08-12 03:45] caol64 commented on #16725
@linghengqian Understood, thanks.

[2022-08-12 03:47] dinghu opened #20101 "Route table null does not exist, available actual table"
Route table null does not exist, available actual table

InlineShardingAlgorithm init ok but when doshading ->createClosure（this.algorithmExpression） this.algorithmExpression is null

this is my config:
          dyc_post-inline:
            type: INLINE
            props:
              algorithm-expression: dyc_post_$->{id % 2}

[2022-08-12 04:02] terrymanu commented on #17635
Hi community, this issue still keep open to pick up.

[2022-08-12 04:07] terrymanu commented on #18455
Hi community, this issue still open for pick up.

[2022-08-12 06:03] #19424 closed

[2022-08-12 06:44] dinghu commented on #18927
no  i also get this bug like you, it is a bug!!!

[2022-08-12 06:44] dinghu commented on #18927
no  i also get this bug like you, it is a bug!!!

[2022-08-12 06:47] linghengqian commented on #18927
@dinghu It's not a bug, since no one has provided a minimal reproducible example.

[2022-08-12 06:55] JiekerTime commented on #19898
Hi ～ can you try task 1 first?

[2022-08-12 06:56] poo0054 commented on #18927
@dinghu  hi,Is your new environment.If Alibaba sentinel is introduced into your environment, you can consider taking a look
#18966 . You can check whether the spring bean was created before the post processors

[2022-08-12 06:57] mumutu66 commented on #17973
I think I found the bug in `org.apache.shardingsphere.sql.parser.sqlserver.visitor.statement.impl.SQLServerStatementSQLVisitor`
https://github.com/apache/shardingsphere/blob/ed2ccd1951a48010587533d701d787c77e6f750e/shardingsphere-sql-parser/shardingsphere-sql-parser-dialect/shardingsphere-sql-parser-sqlserver/src/main/java/org/apache/shardingsphere/sql/parser/sqlserver/visitor/statement/impl/SQLSe

[2022-08-12 07:56] dinghu commented on #18927
thank you very much，i use shiro in my project . shiro realm contains some XXservice XX dao but sharding configs is not be loaded at this time !  finnaly i solve it like this:
![1660290818884](https://user-images.githubusercontent.com/8045842/184310176-f475c83f-511d-438c-96b0-6e9c40950dc2.png)

[2022-08-12 07:59] poo0054 commented on #18927
@dinghu I'm glad I can help you

[2022-08-12 08:02] dym254661025 commented on #19961
The real table in my database is incomplete, and I only created the middle part of the actual-data-nodes, so that the test_ record table could not be found in the schemas of logic_db.
![image](https://user-images.githubusercontent.com/67610946/184311590-a63a955f-694b-4a7b-8f87-8a213daf4008.png)
When I create the first table in the actual-data-nodes, I can find test_record in tables
![image](https:

[2022-08-12 08:31] linghengqian commented on #19766
@huangxinjian It looks like JDBCRespository already allows for SPI extensions.

[2022-08-12 08:35] dinghu commented on #20101
i use shiro in my project . shiro realm contains some XXservice XX dao but sharding configs is not be loaded at this time ! finnaly i solve it like this
![image](https://user-images.githubusercontent.com/8045842/184317129-cc7b3b3d-9112-4927-8b35-f405ce322b9b.png)

[2022-08-12 08:36] #20101 closed

[2022-08-12 08:45] strongduanmu commented on #20084
This feature does not plan to support now.

[code]

[2022-08-12 08:47] strongduanmu commented on #20084
This exception will be fixed soon.
[code]

[2022-08-12 09:29] #19961 closed

[2022-08-12 10:20] linghengqian commented on #19990
I suggest you open a new issue to discuss the point in time to migrate the base JDK version of ShardingSphere to JDK11. This issue will be blocked before the new issue is resolved, so I suggest closing this issue.

[2022-08-12 10:37] linghengqian opened #20120 "Update Gson to 2.8.9+ to avoid CVE"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

No.

### Describe the fe

[2022-08-12 10:37] linghengqian commented on #20120
I am working on this issue.

[2022-08-12 11:48] #19956 closed

[2022-08-12 11:49] #20120 closed

[2022-08-12 12:29] linghengqian commented on #20074
Duplicates with https://github.com/apache/shardingsphere/issues/17431, https://github.com/apache/shardingsphere/issues/15689 and https://github.com/apache/shardingsphere/issues/8107,  I recommend closing this issue to avoid diverting discussions.

[2022-08-12 12:58] linghengqian commented on #20041
Not sure if I should submit a PR to the FAQ page - as there is no echo from the windows community, I recommend that developers using Windows build the project via WSL+VSCode or WSLg+Intellij.

[2022-08-12 13:09] sandynz opened #20127 "Refactor RuleAlteredContextManagerLifecycleListener for common usage"
Part of #19421.

Currently, RuleAlteredContextManagerLifecycleListener is hard-coded for one scenario, we could refactor it for common usage.

Possible changes:
- Rename RuleAlteredContextManagerLifecycleListener to PipelineContextManagerLifecycleListener
- Move PipelineContextManagerLifecycleListener to `org.apache.shardingsphere.data.pipeline.core.listener` package
- Add PipelineJobWorker class

[2022-08-12 13:57] sandynz opened #20128 "Add InventoryDumperCreator SPI to decouple InventoryDumper and ScalingEntry"
Purpose
- Separate InventoryDumper from ScalingEntry for better reuse

Possible changes:
- Add InventoryDumperCreator interface, extends TypedSPI, marked as @SingletonSPI; Put in the same module and package of AbstractInventoryDumper;
- Add MySQL & PostgreSQL & Fixture implementations of InventoryDumperCreator; Register them in resources/WEB-INF.services
- Add InventoryDumperCreatorFactory; Put in

[2022-08-12 14:51] zjcnb commented on #19335
The problem are fixed in `master` branch, i close it.

[2022-08-12 14:51] #19335 closed

[2022-08-12 14:52] zjcnb commented on #19452
I can't reproduce it, i close it.

[2022-08-12 14:52] #19452 closed

[2022-08-12 14:59] sunkai-cai commented on #20041
hi @linghengqian ， I using windows Intellij to work ，run junit with liunx 。

WSL+VSCode or WSLg+Intellij is good idea. you can submit PR to the FAQ page，make it better.

[2022-08-12 15:44] terrymanu opened #20131 "Add more test cases for StandardSQLErrorCode"
Some enum is not being tested yet, please add them too.

- [ ] SCALING_JOB_NOT_EXIST
- [ ] UNSUPPORTED_SQL

[2022-08-13 05:13] linghengqian commented on #20041
According to https://github.com/apache/shardingsphere/issues/19383 and https://github.com/apache/shardingsphere/issues/19513, the FAQ is being removed.  Apparently I don't have editing rights to the Github Wiki, other friends can submit a PR if they're interested.

[2022-08-13 07:48] sandynz opened #20141 "Decouple PipelineDDLGenerator with ContextManager for common usage"
Part of #19421.

Currently, PipelineDDLGenerator depends on ContextManager, ShardingSphereDatabase and Map<String,DataSource> will be got from ContextManager.
When importing data from unmanaged resource (database), we could not get DataSource from ContextManager.

Possible changes:
- Update parameters of generateLogicDDLSQL method to: databaseType, dataSource, schemaName, actualTableName, logicTab

[2022-08-13 08:34] okami-chen opened #20142 "`server.yaml` is invalid"
## Question

`server.yaml`

[code]
`config-ds.yaml`

[code]

[2022-08-13 08:43] okami-chen commented on #19906
2022 or 2021?

[2022-08-13 09:29] sandynz commented on #20128
Hi @huangdx0726 , are you interesting to resolve it?

[2022-08-13 09:31] yx9o commented on #20142
@okami-chen Hi, can you describe the problem specifically? Or send out an error message.

[2022-08-13 09:46] huahuo840 opened #20147 "How do I create multiple ShardingSphereDatasource?"
I'm using DynamicDataSource, DynamicDataSource
Contains a ShardingSphereDatasource and a dbc2DataSource.

When I try to create a ShardingSphereDatasource for more than one dbc2DataSource, I fail.

The reason for this failure is that the multiple ShardingSphereDatasource created are actually the same, and I found that the ShardingSphereDatasource was init only once. Re-creation will point to the sa

[2022-08-13 11:41] linghengqian commented on #20049
- I'm not quite sure how others in the community use it, because in my opinion, the current plugin is mainly for `org.apache.shardingsphere:shardingsphere-jdbc-core:${shardingsphere.version}` SPI mechanism that Maven relies on. expanded.

- A simple example is that in ShardingSphere Proxy, the additional SPIs you implement can be converted into JARs and then handed over to ShardingSphere Proxy for

[2022-08-13 12:38] tianqikai opened #20152 "老项目中整合sharding-jdbc启动报错， Error creating bean with name 'shardingSphereDataSource' defined in class path resource"
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'shardingSphereDataSource' defined in class path resource [org/apache/shardingsphere/spring/boot/ShardingSphereAutoConfiguration.class]: Initialization of bean failed; nested exception is org.springframework.aop.framework.AopConfigException: Could not generate CGLIB subclass of class org.apache.shardingsphere.dr

[2022-08-13 12:39] huangdx0726 commented on #20128
yes, please assign to me

[2022-08-13 12:49] zjcnb opened #20153 "NodeExistsException occurred when proxy start up with sharding configuration"
### Which version of ShardingSphere did you use?

`master` branch https://github.com/apache/shardingsphere/commit/ee85debafcd31df31ff4c39bc2d830f0c326e270

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

[code]

### Configuration
[code]

[2022-08-13 13:10] zjcnb commented on #20153
<img width="1716" alt="image" src="https://user-images.githubusercontent.com/33742097/184495615-b911a4b5-319e-479c-9e77-bb5b4e2a08ba.png">

[2022-08-13 13:11] zjcnb commented on #20153
@soulasuna Can you check it?

[2022-08-13 13:30] huangdx0726 commented on #20131
please assign to me

[2022-08-13 13:32] sandynz commented on #20128
Thanks. Just assigned it to you.

[2022-08-13 13:32] zjcnb opened #20155 "Maybe worker id generate has some problem in SessionConnectionListener.reRegister()"
### Which version of ShardingSphere did you use?

`master` branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

`ShardingSphere-Proxy`

###

[code]

### Step

Proxy start up successful.

[code]

<img width="1128" alt="image" src="https://user-images.githubusercontent.com/33742097/184496371-b95371be-960b-47bb-b8c7-1cf3492dd3c2.png">

[2022-08-13 15:58] huangdx0726 commented on #20127
I'll  work on it

[2022-08-13 16:05] sandynz commented on #20127
Thanks. Just assigned it to you.

[2022-08-13 18:45] linghengqian commented on #20152
No one knows how to solve your issue. You have neither formatted the log information in markdown, nor provided a minimal reproducible example, nor did you provide reproducible steps, and it does not conform to the issue template.

[2022-08-14 00:34] strongduanmu commented on #20131
@huangdx0726 Welcome.

[2022-08-14 01:28] huangdx0726 commented on #20131
`SCALING_OPERATE_FAILED` and `TOO_MANY_CONNECTIONS` are not EXIST in ShardingSphereVendorError

[2022-08-14 02:29] huangdx0726 commented on #20141
assign to me

[2022-08-14 03:33] #20128 closed

[2022-08-14 04:49] sandynz commented on #20141
Thanks. It's an urgent issue, would you still like to have a try?

[2022-08-14 08:41] sunkai-cai commented on #20032
Please assign this task to me

[2022-08-14 08:43] #20030 closed

[2022-08-14 12:26] RaigorJiang commented on #20152
1. For English only.
2. If you want to solve the problem, please provide the version and configuration (using the issue template). If you can provide a demo that reproduces the problem, it will help solve the problem faster;
Therefore, I will close this issue first, you can submit a new one.

[2022-08-14 12:26] #20152 closed

[2022-08-14 12:29] RaigorJiang commented on #20142
Hi @okami-chen
Your `server.yaml` looks ancient, please note:
When asking a question, you need to provide **BOTH** your version and configuration, so that people who want to help you know what the problem is.

[2022-08-14 12:41] #20127 closed

[2022-08-14 14:38] #19398 closed

[2022-08-14 14:38] #19851 closed

[2022-08-14 14:40] #19913 closed

[2022-08-14 15:06] sunkai-cai commented on #20032
# Question

refer to this case #20145 ，Redefine identifier and literals like this：

* Before

[code]

* After

[code]

But, if `discoveryTypeName` is `STRING`, then:

* Before

[code]

* After

[code]

So,  how can i redefine ？

[2022-08-14 15:46] RaigorJiang commented on #20032
I understand what you mean, the `discoveryTypeName` is reused here, but it is actually `discoveryTypeName` (like "MySQL.MGR") and `discoveryAlgorithmName` (like db_discovery_group_0_mgr)

Thus, it can be distinguished

[2022-08-14 16:25] terrymanu commented on #20131
Some enum has removed after refactor, I just update the tasks.

[2022-08-14 16:42] terrymanu commented on #20131
Sorry, the StandardSQLErrorCode should be removed after exception refactor. I just close the issue

[2022-08-14 16:42] #20131 closed

[2022-08-15 02:08] huangdx0726 commented on #20141
Is databaseName not required?

[2022-08-15 02:14] sandynz commented on #20141
Looks it's used in `SQLStatementContextFactory.newInstance`, you could add it. And also other parameters if necessary.

[2022-08-15 02:15] taojintianxia commented on #19615
this is a huge issue. splitt into 4 sub issues :

use env to manage the properties in scaling IT:
https://github.com/apache/shardingsphere/issues/19958

use env to manage the container in scaling IT:
https://github.com/apache/shardingsphere/issues/19956

[2022-08-15 02:21] huangdx0726 commented on #20141
get it

[2022-08-15 02:51] okami-chen commented on #20142
[code]

[2022-08-15 02:55] okami-chen commented on #20142
version `5.1.1`

from
https://shardingsphere.apache.org/document/5.1.1/cn/user-manual/shardingsphere-proxy/yaml-config/authentication/

[2022-08-15 03:12] sandynz opened #20178 "Daily Continuous Integration ran failed on Windows"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
JDBC

### Expected behavior
Daily Continuous Integration pass

### Actual behavior
https://github.com/apache/shardingsphere/actions/workflows/ci-daily.yml
https://github.com/apache/shardingsphere/runs/7828266864?check_suite_focus=true
[code]

##

[2022-08-15 03:29] soulasuna commented on #20153
OK，i will fix it.

[2022-08-15 06:54] Swastyy commented on #20041
We are working on it, it will be removed in sometime, all the FAQs will be rendered only from the Github wiki

[2022-08-15 06:55] Swastyy commented on #19383
Hi @terrymanu , do we need to remove the FAQ page from the documents as we are providing the links for the github wiki everywhere?

[2022-08-15 07:35] RaigorJiang commented on #20142
@okami-chen
I tried version 5.1.1 with your `server.yaml` configuration and it can be started successfully.

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/5668787/184594472-2054993b-5fe1-4e5a-bf7a-e83a9c7981a9.png">

[2022-08-15 07:55] Bingai077 opened #20188 "This version of ShardingSphere-Proxy doesn't yet support this SQL."
Which version of ShardingSphere did you use?
ghcr.io/apache/shardingsphere-proxy:c9cc117c8f4b42c220f89c92851bf945c40c71b0 （helm cluster）

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Expected behavior
This version of ShardingSphere-Proxy support this SQL.

Actual behavior
This version of ShardingSphere-Proxy doesn't yet support this SQL.

![7a61c16d

[2022-08-15 08:34] strongduanmu commented on #20188
Hi @Bingai077, can you provide the original sql?

[2022-08-15 08:55] Bingai077 commented on #20188
[code]

[2022-08-15 10:43] #15663 closed

[2022-08-15 10:45] natehuangting opened #20194 "unsupport select databases();"
[code]

[2022-08-15 11:57] #15781 closed

[2022-08-15 12:18] #19627 closed

[2022-08-15 13:47] dongzl commented on #19862
good ref:  https://www.postgresql.org/message-id/be81d947-f4fe-c062-f107-0f05f8f87ca8@migops.com

[2022-08-15 14:47] RaigorJiang commented on #20028
Completed, thank you! @yx9o

[2022-08-15 14:47] #20028 closed

[2022-08-15 16:01] sunkai-cai commented on #20033
Please assign this task to me

[2022-08-16 01:14] #19894 closed

[2022-08-16 02:00] tianhao960 commented on #15647
I would like to try this.

[2022-08-16 02:01] strongduanmu commented on #15647
@tianhao960 Welcome, I just assign this issue to you.

[2022-08-16 03:22] tianhao960 commented on #15647
hi, @xsong123 ,  I just test the sql provided by you  on master branch,
the first one "create index" sql could parse successfully,
and the second one sql is incomplete, could you please provide the complete sql?
and my guess is that "create table name(...)", the table name "name" which is as a keyword at 5.0.0, and now master branch just add "name" as an unreserved keyword, you can try.

thanks

[2022-08-16 03:58] JiekerTime opened #20212 "Missing documentation related to load balancing"
Please refer to the documentation：
[READWRITE-SPLITTING EN](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/)

[READWRITE-SPLITTING CN](https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-proxy/distsql/syntax/rdl/rule-definition/readwrite-splitting/)

lack link about: [负载均衡算法]

[2022-08-16 04:05] tianhao960 commented on #19795
@strongduanmu , sure , I‘ll try

[2022-08-16 04:08] strongduanmu commented on #19795
That's great, I will assign this issue to you.

[2022-08-16 05:42] #20153 closed

[2022-08-16 08:00] RaigorJiang commented on #20031
Hi @runqi-zhao
Any progress? Or have any questions?

[2022-08-16 08:10] #20032 closed

[2022-08-16 08:57] Bingai077 opened #20217 "How to set the Time Zone for ShardingSphere-Proxy？"
Which version of ShardingSphere did you use?
ghcr.io/apache/shardingsphere-proxy:c9cc117c8f4b42c220f89c92851bf945c40c71b0 （helm cluster）

Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

Expected behavior
After ShardingSphere-Proxy proxy, the time zone is Asia/Shanghai，same as a direct connection.

Actual behavior
After ShardingSphere-Proxy proxy, the t

[2022-08-16 09:46] TeslaCN commented on #20178
Related to #20041.

[2022-08-16 10:41] taojintianxia opened #20219 "Fix corrupted maven cache action"
currently, the maven cache action in scaling IT and transaction IT doesn't work because of the incorrect usage.

scaling IT:
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/4112856/184860459-ce046efa-a825-466f-b40c-16242ab6997d.png">

transaction IT
<img width="882" alt="image" src="https://user-images.githubusercontent.com/4112856/184860315-b661daf8-9d7b-4932-8938-ef9

[2022-08-16 10:42] taojintianxia commented on #20219
please assign to me.
label include test.

[2022-08-16 11:42] taojintianxia commented on #20219
now the maven cache action works as followings :

scaling IT :
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/4112856/184871255-6743e5db-7ed0-4c18-a9ba-38bee0d295b9.png">

transaction IT :
<img width="1389" alt="image" src="https://user-images.githubusercontent.com/4112856/184871396-406045b9-6020-4fb2-9483-6838e98f4439.png">

[2022-08-16 12:26] #20194 closed

[2022-08-16 12:54] RaigorJiang commented on #20217
Hi @Bingai077
When your client connects to the Proxy, you also need to set the time zone through the client URL.

[2022-08-16 12:55] sandynz commented on #20063
Hi @peilinqian , the error of
[code]
means `CRC32_MATCH` just support `MySQL` for now, openGauss is not suportted.

You could use `DATA_MATCH` algorothem, e.g.
[code]

[2022-08-16 12:59] #20178 closed

[2022-08-16 13:09] #20141 closed

[2022-08-16 15:08] Ikki-Dai commented on #20049
yes, but i also want to import libs 'feature-by-feature', and make it compact in my projects. As an proxy product, it have to import all of libs indeed.

Can you provide a list and give a short description of each libs?

[2022-08-16 15:56] linghengqian commented on #20049
Do you want to submit a documentation related PR?  All material is in the developer's manual for the existing documentation.

[2022-08-17 02:01] TeslaCN commented on #20097
This may be related to your sharding configuration.

[2022-08-17 02:36] Bingai077 commented on #20217
@RaigorJiang When my client connects to the Proxy, I've set the time zone, too.But it's not in effect.
![image](https://user-images.githubusercontent.com/51192624/185021826-f076e7b2-8538-4bc6-87e8-7dab7b77d8b3.png)

[2022-08-17 02:58] novice-gamer commented on #19884
This parameter is added when the spark program calls JDBC to use the database, but it is still slow. Is there any other recommended optimization method?

[2022-08-17 04:36] kutouziUk opened #20228 "auto-tables There is no real sub-table sub-library and an error（Table 'sharding-jdbc-test2.t_order_4' doesn't exist） is reported"
# question 1： There is no real sub-table sub-library
- version: 5.1.2
- mysql schema:
![image](https://user-images.githubusercontent.com/54654629/185032569-f8ebf61e-8942-4c94-98bf-11cbece4bd3c.png)
- yaml:
![image](https://user-images.githubusercontent.com/54654629/185032973-07744c6d-4a0a-4db0-8f7c-7cfb1f0d2c76.png)
- result:  There are data in the sharding-jdbc-test.t_order_0 and sharding-jdbc-te

[2022-08-17 06:02] TeslaCN commented on #19884
Could you provide a demo about this issue? There are too many reasons could impact performance.

[2022-08-17 06:02] taojintianxia opened #20231 "Disable the PostgresSQLAutoCommitTestCase in PostgreSQLProxyTransactionIT temporarily"
recently the test case PostgresSQLAutoCommitTestCase failed quite frequent. and this can not be reproduced on localhost, even sometimes this case will test successfully with a re-run operation on github action.

just turn off this test case temporarily and try to fix it locally and the reopen this case.

<img width="987" alt="image" src="https://user-images.githubusercontent.com/4112856/185045028-

[2022-08-17 07:05] natehuangting opened #20234 "xa does not guarantee transactionality"
## Bug Report
When the xa switch is turned on, two pieces of data are inserted into two datasources when inserting, but transactionality cannot be guaranteed.

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

![image](https://user-images.githubusercontent.com/26433395/185055919-1a920cb1-b51f-4

[2022-08-17 07:15] #20231 closed

[2022-08-17 07:21] RaigorJiang commented on #20217
Hi @TeslaCN , do you have some suggestions?

[2022-08-17 07:38] shining-stars-lk opened #20237 "An error occurred after executing the test case"
## Bug Report

### Which version of ShardingSphere did you use?
master
### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-JDBC
### Expected behavior
Execute successfully
### Actual behavior
Fail
### Example codes for reproduce this issue (such as a github link).
![微信图片_20220817153800](https://user-images.githubusercontent.com/40255310/185062051-deb44eb9-0b96

[2022-08-17 08:01] soulasuna commented on #20085
Is done

[2022-08-17 08:01] #20085 closed

[2022-08-17 08:01] soulasuna commented on #20155
OK,i will fix it.

[2022-08-17 08:09] strongduanmu commented on #20228
Hi @kutouziUk thank you for your feedback. Sharding auto tables is suitable for scenarios where the maintenance of sharding tables is completely handed over to ShardingSphere. Users do not need to create actual tables by themselves, but only need to execute the `CREATE TABLE` statement through ShardingSphere, and ShardingSphere will automatically create actual tables.

[2022-08-17 08:17] kutouziUk commented on #20228
@strongduanmu 谢谢。 像我这种自建表的情况，auto-tables就不能适用吗？就不能使用auto-tables吗？

[2022-08-17 08:17] strongduanmu commented on #20237
@shining-stars-lk Can you check whether the local java environment is normal first?

[2022-08-17 08:18] strongduanmu commented on #20228
Please translate this message to English.

[2022-08-17 08:22] kutouziUk commented on #20228
@ strongduanmu thank you. Wouldn't auto-tables work in my case?

[2022-08-17 08:25] strongduanmu commented on #20228
@kutouziUk If you want to create actual tables by yourself, you can use tables configuration in ShardingRule, it supports config actualDataNodes. Just like:

[code]

[2022-08-17 08:39] FlyingZC commented on #20234
I want to investigate the issue @strongduanmu .

[2022-08-17 08:59] #20219 closed

[2022-08-17 09:01] huangconghe opened #20239 "Error creating bean with name 'database-inline': Initialization of bean failed; nested exception is java.lang.NumberFormatException: null"
my yml:
rules:
      sharding:
        tables:
          t_order:
            actual-data-nodes: ds$->{0..1}.t_order_$->{0..1}
            database-strategy:
              standard:
                sharding-column: user_id
                sharding-algorithm-name: database-inline
            table-strategy:
              standard:
                sharding-column: order_id
                sharding-a

[2022-08-17 09:02] #20239 closed

[2022-08-17 09:02] huangconghe commented on #20239
error

[2022-08-17 09:13] huangconghe opened #20240 "Error creating bean with name 'database-inline': Initialization of bean failed; nested exception is java.lang.NumberFormatException: null"
when start springboot ,An error occurs：
Error creating bean with name 'database-inline': Initialization of bean failed; nested exception is java.lang.NumberFormatException: null
Below is mine yml,
![image](https://user-images.githubusercontent.com/35585036/185080637-d303838e-cc19-4506-861d-9afed7edb072.png)
i can not find the problem help me

[2022-08-17 09:17] FlyingZC commented on #20046
You can configure atomikos' log file like this:
[code]

[2022-08-17 09:22] FlyingZC commented on #20234
You can start a XA transaction such as using `SET AUTOCOMMIT=0` or `BEGIN`,in other cases, the XA transaction will not be opened.

[2022-08-17 09:28] kutouziUk commented on #20228
@strongduanmu Thank you for your answer，i know。 you say "but only need to execute the CREATE TABLE statement through ShardingSphere"  but I don't know much about DisSQL at present, let me look at the document first

[2022-08-17 09:32] shining-stars-lk commented on #20237
The local environment should be fine.
Executing the Example module is successful.

[2022-08-17 09:34] duanqiaoyanyu commented on #9841
I have the same problem with you. how to solve it

[2022-08-17 10:54] mingyifei opened #20243 "[SQL Parser] Support blob type with content of x''"
## Bug Report

### Which version of ShardingSphere did you use?
master

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
ShardingSphere-Proxy

### Expected behavior
Support blob type with content of x''

### Actual behavior

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to execute, sharding rule configuration, when exception occur etc

[2022-08-17 11:41] shining-stars-lk commented on #20237
It is okay.
It's my configuration.
thanks.

[2022-08-17 12:37] huangconghe commented on #20240
sharding-jdbc verison is 5..0.0，database-line replace my Custom sharding rules is ok

[2022-08-17 12:37] duanqiaoyanyu opened #20246 "shardingjdbc seata use"
## Question
sharding-jdbc 4.1.1 seata 1.5.2  sharding-transaction-base-seata-at4.1.1 use
ServiceA call Service B, A,B all has @Transactional、@ShardingTransactionType(value = TransactionType.BASE),

[code]

**Even if I change to the latest version sharding-jdbc sharding-transaction-base-seata-at  5.1.2, the same error is still reported, and it is still a null pointer. Is there something wrong with

[2022-08-17 14:08] AllyKaz commented on #16841
Having looked at this, I don't think there's an issue to solve. The double parsing is the consequence of an optimisation that first attempts to parse with a faster, but less powerful algorithm (SLL), that either returns a correct parse tree or throws an error which may, or may not, indicated that there's a actual syntax error or it requires the more powerful LL algorithm.

Consequently, given the

[2022-08-17 14:30] #19654 closed

[2022-08-17 14:31] #19795 closed

[2022-08-17 14:32] #19957 closed

[2022-08-18 00:47] #20155 closed

[2022-08-18 01:11] FlyingZC commented on #20246
I want to investigate the issue. @strongduanmu

[2022-08-18 01:53] koala775 commented on #20097
The proxy is default config.Sharding rule is one databese with ten tables，use standard tableStrategy with id%10.

[2022-08-18 02:00] TeslaCN commented on #20097
The sysbench may modify different ids in a transaction. Sharding tables may cause deadlock in sysbench read write test.

[2022-08-18 02:14] tianhao960 commented on #17635
I would like to try

[2022-08-18 02:14] taojintianxia opened #20253 "Refactor the transaction IT to merge the JDBCContainer and ProxyContainer"
currently the container management code in transaction are like followings :

[code]

the proxyContainer and jdbcConainer should not seperate, there should be a `AdapterContainer` and initialized by configuration.

[2022-08-18 02:14] taojintianxia commented on #20253
please assign to me and add lable `test` and `refactor`

[2022-08-18 02:17] koala775 commented on #20097
Ok，thank you for replaying，I exactly execute the read write test.

[2022-08-18 02:17] #20097 closed

[2022-08-18 02:58] strongduanmu commented on #17635
@tianhao960 Welcome, I will assign this issue to you.

[2022-08-18 03:09] Bingai077 commented on #20217
@RaigorJiang  It has been resolved. The specific reason is that the container is in the wrong time zone.

[2022-08-18 03:41] koala775 opened #20256 "Shardingsphere-proxy don't automatically generate table schema"
version：5.1.2
opt:
I push datasource to zk by myself ,the table schema don't generate automatically.But the 5.1.1 can generate automatically.The 5.1.2 does not support?

[2022-08-18 04:14] sandynz opened #20258 "Execute 'select count(1) from sharding_db.t_order' on proxy 'sys' database throw NPE"
## Bug Report

### Which version of ShardingSphere did you use?
master branch, 0bcf67adffa0c617892cab0c318e0d79992145a5

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
proxy

### Expected behavior
No exception thrown

### Actual behavior
Error occur:
[code]

Error log in proxy:
[code]

### Reason analyze (If you can)

Screenshot:
<img width="1396" alt="图片" src="https:/

[2022-08-18 04:21] mashuangwei opened #20259 "druid 建议支持"

[2022-08-18 04:54] strongduanmu commented on #20259
Please translate this issue to English, and submit issue according to issue template.

[2022-08-18 05:26] RaigorJiang commented on #20217
OK, thanks for your feedback.

[2022-08-18 05:26] #20217 closed

[2022-08-18 05:37] mashuangwei commented on #20259
sorry

[2022-08-18 05:41] #20259 closed

[2022-08-18 06:40] xiaowoonly opened #20264 "How does version 3.1 support ipv6 format？"
## How does version 3.1 support ipv6 format？

![4601e47fc888d000111048815370ff6](https://user-images.githubusercontent.com/26780965/185312902-479470f9-6b78-4143-9b00-d59aac227eb5.png)
It is precisely because of this regular check that the ipv6 format is not supported.
What should I do?

[2022-08-18 06:55] novice-gamer commented on #19884
When adding the rewritebatchedstatements = true parameter, an error will be reported, resulting in failure to insert.

Code demo：
[code]

This is the proxy log：
[code]

[2022-08-18 07:52] novice-gamer opened #20266 "Error deleting index"
Using version shardingsphere proxy 5.1.3
The index cannot be deleted when it is deleted, and an error is reported.

sql:
[code]

log:
[code]

[2022-08-18 08:18] #20266 closed

[2022-08-18 08:36] tuichenchuxin commented on #17915
ref #16771

[2022-08-18 09:42] TeslaCN commented on #19884
Try setting `allowMultiQueries=false`. Then the MySQL Connector will send `COM_SET_OPTIONS` implicitly.

[2022-08-18 10:46] strongduanmu commented on #19862
Thank you @dongzl for your great job. I will close this issue since all tasks has been finished.

[2022-08-18 10:46] #19862 closed

[2022-08-18 10:54] strongduanmu commented on #13456
Ref #19580.

[2022-08-18 10:56] terrymanu opened #20272 "Add test cases for MySQLDialectExceptionMapper and PostgreSQLDialectExceptionMapper"

[2022-08-18 11:23] sandynz opened #20273 "Integration test failed on `SHOW DATABASE RESOURCES` by unmatched poolName"
## Bug Report

### Which version of ShardingSphere did you use?
master branch

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?
both

### Expected behavior
IT run passed

### Actual behavior
Some integration test failed.
e.g. https://github.com/apache/shardingsphere/runs/7891247703?check_suite_focus=true
[code]

### Reason analyze (If you can)
The root cause might be #17

[2022-08-18 12:31] sandynz opened #20275 "Refactor DistSQL drop scaling jobId to clean scaling jobId"
Current DistSQL: drop scaling j01001;
Final DistSQL: clean scaling j01001;

There're plenty of classes and files need to be modified, include grammar files and related classes, and also DistSQL handler, unit test etc.
We could find them out by searching:
1. Class name search by text: DropMigration . Rename classes, replace `Drop` to `Clean`
2. Text search by regex: drop[ _-]*scaling . Replace text

[2022-08-18 12:32] sandynz commented on #20275
Hi @huangdx0726 , are you interesting to resolve it?

[2022-08-18 12:39] zjcnb commented on #17646
The pool Name parameter are transient, i think this properties shouldn't setter. So, i will rollback this one.

[2022-08-18 12:40] huangdx0726 commented on #20275
ok ， assign to me

[2022-08-18 14:20] #20273 closed

[2022-08-18 14:57] totalo commented on #20272
welcome

[2022-08-18 15:09] huangdx0726 commented on #20275
also include docs？

[2022-08-18 15:56] huangdx0726 commented on #20275
@sandynz  Hi, i find some errors in `ShardingScalingRuleStatementConverter` , caused by some classes in `shardingsphere-infra-common`  are userd， but no related dependencies was found in the `pom.xml` file

[2022-08-19 00:33] sandynz commented on #20275
Yes

[2022-08-19 00:37] sandynz commented on #20275
Some classes depended by ShardingScalingRuleStatementConverter were changed recently, maybe you need to run `mvn clean install -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests -Prelease -Dspotless.apply.skip=true` again.

[2022-08-19 01:01] 13145512239 opened #20284 "sql parser error"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we

[2022-08-19 01:32] kutouziUk opened #20285 "Syntax error when execute `ADD RESOURCE`"
# SQL
ADD RESOURCE resource_0 (HOST=192.168.60.100,PORT=3316,DB=sharding-proxy-test,USER=root,PASSWORD=root);
![image](https://user-images.githubusercontent.com/54654629/185522907-909f43b4-b359-4170-93ac-f8f3ec6d7829.png)
# sharding-proxy version
![image](https://user-images.githubusercontent.com/54654629/185522985-e6b47322-bc25-4418-af6c-c791abfc91db.png)
# server.yaml
![image](https://user-image

[2022-08-19 02:11] strongduanmu opened #20287 "reloadRules filtering DataSourceContainedRule causes singleTableDataNodes of SingleTableRule to refresh wrong"
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/247863535f29775b2473cf01c9d8a3da711585ac

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

reloadRules passes in all the rules and can correctly refresh singleTableDataNodes

### Actual behavior

reloadRules filter

[2022-08-19 02:13] RaigorJiang commented on #20285
Hi @kutouziUk  ,
If you are using the master branch, please note that DistSQL syntax has some adjustments (parameters have been standardized), please refer to the latest documentation:
https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-proxy/distsql/syntax/rdl/resource-definition/

[2022-08-19 02:18] #20033 closed

[2022-08-19 02:58] #20287 closed

[2022-08-19 03:42] sandynz opened #20290 "Make scaling query DistSQL could be executed when no database selected"
## Feature Request

### Is your feature request related to a problem?
Yes

### Describe the feature you would like.
Currently, if there's no database selected, executing queryable scaling DistSQL will get error, e.g.
[code]

Since QueryableMigrationRALBackendHandler extends from DatabaseRequiredBackendHandler, it might be not necessary.

Some invetigation:

1, QueryableScalingRALStatement abstract

[2022-08-19 04:07] #20272 closed

[2022-08-19 04:24] 13145512239 opened #20291 "sql parse error"
hello,  we use shardingphere jdbc ,The data source we are using is sqlserver and oracle, we upgraded to 5.0.0 because 4.0.0 does not support the path of connection like
 ![1660890028950](https://user-images.githubusercontent.com/109202417/185555871-c482d469-267b-4abb-85c7-967258d559be.png) ,
 However, after the upgrade, many SQL are no longger supported , It takes a lot of time to perfect, I wonde

[2022-08-19 04:33] kutouziUk commented on #20285
@RaigorJiang ![image](https://user-images.githubusercontent.com/54654629/185543403-67677baf-0076-4f35-8a59-11b5a52d598a.png)
The database name cannot contain -？

[2022-08-19 04:59] strongduanmu opened #20293 "Inappropriate exception message occurred when the execution fetch cursor did not exist."
## Bug Report

### Which version of ShardingSphere did you use?

https://github.com/apache/shardingsphere/commit/0c2dd6d3576767b37bd704190dea544ac839eb93

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

### Expected behavior

[code]

### Actual behavior

[code]

### Reason analyze (If you can)

### Steps to reproduce the behavior, such as: SQL to

[2022-08-19 05:00] #20275 closed

[2022-08-19 05:18] kutouziUk commented on #20285
# example of official documentation
![image](https://user-images.githubusercontent.com/54654629/185547966-29c6b648-4d70-4bbf-89d3-52402e6f4ebb.png)
# Here is my configuration
![image](https://user-images.githubusercontent.com/54654629/185547821-b09e51ed-585f-48a9-8228-f819dc2a684d.png)
Does a string need not be included with ""?

[2022-08-19 05:43] kutouziUk commented on #20285
# example of official documentation
![image](https://user-images.githubusercontent.com/54654629/185550057-36cefb24-7d38-46c8-b0ac-e45514d97c77.png)
# here is my configuration
![image](https://user-images.githubusercontent.com/54654629/185550190-25e7102f-5a79-4e5f-b8b6-a0b824aebdc2.png)

# where can I see the error log? the console does not output syntax errors, I do not understand the specific rea

[2022-08-19 05:54] sandynz commented on #20290
After improvement:
[code]

[2022-08-19 05:58] #20284 closed

[2022-08-19 05:59] RaigorJiang commented on #20285
@kutouziUk
In versions 5.1.1 and 5.1.2, `HOST`, `DB`, `USER`, `PASSWORD` do not require quotes, but do not support special characters such as '`- @ . `' .
In order to better standardize DistSQL parameters, the master branch has required strings to be quoted, so that they can contain some special characters.

Therefore, if you use 5.1.1, the DB name has special characters, you cannot `ADD RESOURCE`

[2022-08-19 06:08] kutouziUk commented on #20285
@RaigorJiang
Thank you for your answer. The execution succeeded, and I understood the difference in the version of the document I was looking at.

[2022-08-19 06:12] strongduanmu commented on #20293
Can not reproduce this case again.

[2022-08-19 06:12] #20293 closed

[2022-08-19 06:27] RaigorJiang commented on #20285
OK, so I can close this issue now.

[2022-08-19 06:27] #20285 closed

[2022-08-19 06:41] O-king opened #20297 "Why are prepareStatement(final String sql, final int[] columnIndexes) and prepareStatement(final String sql, final String[] columnNames) in the ShardingSphereConnection the same"
## Question
why are they in the ShardingSphereConnection the same?

    @Override
    public PreparedStatement prepareStatement(final String sql, final int[] columnIndexes) throws SQLException {
        return new ShardingSpherePreparedStatement(this, sql, Statement.RETURN_GENERATED_KEYS);
    }

    @Override
    public PreparedStatement prepareStatement(final String sql, final String[] columnNam

[2022-08-19 06:54] runqi-zhao commented on #20031
@RaigorJiang Sorry, because of other busy things recently, it hasn't started yet. It will be dealt with tomorrow

[2022-08-19 07:08] sandynz opened #20298 "Extract list() method to PipelineJobPublicAPI and AbstractPipelineJobAPIImpl for common usage"
Part of #19421.

Possible changes:
- Add abstract class PipelineJobInfo; Add sub-class MigrationJobInfo
- Add list() method in PipelineJobPublicAPI
- Extract list() impl from MigrationJobAPIImpl to AbstractPipelineJobAPIImpl

[2022-08-19 07:52] huangdx0726 commented on #20298
assign to me

[2022-08-19 07:56] sandynz commented on #20298
Thanks. Just assigned it to you.

[2022-08-19 08:01] ICannerxy opened #20299 "support KILL <processID> to cancel running SQL"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2022-08-19 08:49] #20243 closed

[2022-08-19 08:51] bojiw opened #20302 "Ordinary sql opens the transaction"
Scenes
within a method query within a transaction update outside of a transaction
The updated sql is not committed

`        transactionTemplate.execute(t->{
            addressesMapper.getById(1L);
            addressesMapper.getById(1L);
            return null;
        });

        ArrayList<Long> ids = new ArrayList<>();
        ids.add(15L);
        recentItemMapper.updateItemNameByIds(ids,"工

[2022-08-19 08:53] strongduanmu commented on #20299
This feature is exciting, waiting for your good news.

[2022-08-19 09:18] 13145512239 opened #20303 "Configuring the database of oracle"
Can you support this configuration for 4.0.0-RC1 ?
jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.12)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.0.22)(PORT = 1521))(LOAD_BALANCE = yes)(FAILOVER = ON)(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = rac)(FAILOVER_MODE=(TYPE = SELECT)(METHOD = BASIC)(RETIRES = 20)(DELAY = 15))))

[2022-08-19 09:24] systemview2018 commented on #15543
any update on this issue?

[2022-08-19 09:47] strongduanmu commented on #15543
@systemview2018 Can you try the latest version?

[2022-08-19 09:50] 954L commented on #17401
I have this bug too, in version sharding-jdbc-5.1.2
actual-data-nodes: write.esp_ot_pay_order_$->{2021..2025}

`17:18:34.386 [http-nio-8126-exec-2] ERROR i.s.r.d.s.s.c.AbstractTableMetaCache - get table meta error:Failed to fetch schema of esp_ot_pay_order
java.sql.SQLException: Failed to fetch schema of esp_ot_pay_order
	at io.seata.rm.datasource.sql.struct.cache.MysqlTableMetaCache.fetchSchema(M

[2022-08-19 09:52] 954L commented on #17401
@rfscholte @newchendb @jingshanglu

[2022-08-19 10:35] wangkun001 opened #20304 "shardingsphere-proxy postgresql navicat design table error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-19 11:44] strongduanmu opened #20305 "[Event] Apache ShardingSphere will participate OSD2022 program as the partner project"
Hi community,

We are honored to accept the invitation from `AnitaB.org` to attend [OpenSourceDayGHC2022](https://ghc.anitab.org/programs-and-awards/open-source-day/). 🎉

Open Source Day (OSD) is an all-day hackathon (including workshops), in which participants of all skill levels learn about Open Source while contributing to projects designed to solve real-world problems (**Appreciated, IMO**).

[2022-08-19 12:48] huangdx0726 commented on #20298
`PipelineJobInfo` 's structure  like `JobInfo`  or replace it？

[2022-08-19 13:28] sandynz commented on #20298
Like JobInfo.
You could extract some common fields into it. Looks most of them are common, except `tables`.

[2022-08-19 14:38] #20290 closed

[2022-08-19 15:14] RaigorJiang commented on #20031
OK, thank you!

[2022-08-20 03:20] #20298 closed

[2022-08-20 05:49] linghengqian commented on #20264
You should provide a reproducible unit test using the master branch.  No PR will go back to the old version.

[2022-08-20 08:40] sunkai-cai opened #20318 "auto run shardingsphere-agent with startup script"
## Feature Request

I need modify the startup script to run the shardingsphere-agent.jar, this is very inconvenient.

### Is your feature request related to a problem?

We can put `shardingsphere-agent.jar` to `ext-lib` directory,  startup script  can auto check the jar and run it.

[2022-08-20 09:43] sunkai-cai opened #20319 "NPE occurred when AgentBuilder"
### Which version of ShardingSphere did you use?

master  https://github.com/apache/shardingsphere/commit/4b834438e606d29e2012318c75edefcb0fbd699e

### Which project did you use? ShardingSphere-JDBC or ShardingSphere-Proxy?

ShardingSphere-Proxy

[code]

### Example codes for reproduce this issue (such as a github link).

cat conf/agent.yaml

[code]

[2022-08-20 10:13] #20318 closed

[2022-08-20 10:15] #20319 closed

[2022-08-20 13:36] strongduanmu commented on #20304
Thank you for your feedback, ShardingSphere doesn't support PostgreSQL information_schema and pg_catalog now.

[2022-08-20 13:37] strongduanmu commented on #20303
4.0.0-RC1 is too old. Can you try latest 5.1.2?

[2022-08-20 13:40] strongduanmu commented on #20302
Can you submit this issue according to issue template? I think a clear description helps to solve the problem quickly.

[2022-08-20 13:45] strongduanmu commented on #20299
Ref #20311.

[2022-08-20 15:21] taojintianxia opened #20324 "There is syntext error for transaction IT case"
version 5.1.3-SNAPSHOT(5f77569766088f11c9d023d306be5f2801b07f9e)

when trigger the transaction it case, there is a syntaxt error for MySQL case as followings :

<img width="1492" alt="image" src="https://user-images.githubusercontent.com/4112856/185754149-1c1dcb8a-ea1e-4857-aad6-1bb801c81461.png">

[2022-08-20 16:26] #20324 closed

[2022-08-21 03:01] linghengqian commented on #20303
Duplicate with https://github.com/apache/shardingsphere/issues/20291.

[2022-08-21 03:24] linghengqian opened #20328 "Lack of documentation on properties of built-in algorithms related to cosid"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Yes, related to https://

[2022-08-21 03:38] linghengqian commented on #20328
@Ahoo-Wang  I noticed that `org.apache.shardingsphere.sharding.cosid.algorithm.sharding.interval.CosIdIntervalShardingAlgorithm` does not support common JSR-310 classes like `org.apache.shardingsphere.sharding.algorithm.sharding.datetime.IntervalShardingAlgorithm`, this is intentional Is it? Because the documentation doesn't say so.

[2022-08-21 04:05] terrymanu opened #20331 "Add default template for check_constraint"
The current PostgreSQL template for check_constraint is missing default template, please complete it.

[2022-08-21 04:13] terrymanu opened #20332 "Refactor template dir"
It is better to refactor template directory of PostgreSQL.

The component and macro is putting together for now, please split them. The new structure should be:

[code]

[2022-08-21 10:55] mumutu66 commented on #18093
I think  the datasource bean may not use the beanPostProcessor to init。。In some case other lib will use a beanPostProcessor which depends on  the datasource  will trigger the bean initialize during the `org.springframework.context.support.PostProcessorRegistrationDelegate#registerBeanPostProcessors(org.springframework.beans.factory.config.ConfigurableListableBeanFactory, org.springframework.contex

[2022-08-21 11:02] sandynz opened #20334 "Add IncrementalDumperCreator SPI to decouple IncrementalDumper and ScalingEntry"
Purpose
- Separate IncrementalDumper from ScalingEntry for better reuse

Possible changes:
- Add IncrementalDumperCreator interface, extends TypedSPI, marked as @SingletonSPI; Put in the same module and package of AbstractIncrementalDumper;
- Add MySQL & PostgreSQL & openGauss & Fixture implementations of IncrementalDumperCreator; Register them in resources/WEB-INF.services
- Add IncrementalDumper

[2022-08-21 11:42] huangdx0726 commented on #20334
assign to me

[2022-08-21 12:54] sandynz commented on #20334
Thanks. Just assigned it to you.

[2022-08-21 14:58] coder616 opened #20338 "The database name cannot be properly obtained"
ShardingSphere version 5.1.2?

The database name cannot be properly obtained when using ShardingSphere-JDBC to connect to a mysql instance proxied by ShardingSphere-proxy.

org.apache.shardingsphere.infra.metadata.database.schema.loader.dialect.MySQLSchemaMetaDataLoader:

`private Map<String, Collection<ColumnMetaData>> loadColumnMetaDataMap(final DataSource dataSource, final Collection<String> ta

[2022-08-22 00:36] strongduanmu commented on #20338
Hi @coder616, ShardingSphere uses the logical database name, which can be configured in `config-xxx.xml` file.

[2022-08-22 01:53] TeslaCN commented on #18281
We have solved the urgent problems caused by the defective design. The rest of this issue will be finished in later release.

[2022-08-22 02:06] TeslaCN commented on #20256
Operating ZooKeeper directly is not recommended. Please consider adding DataSource by DistSQL.

[2022-08-22 03:49] FlyingZC opened #20346 "Add more unit tests in the class of `TransactionTypeHolderTest` for transactions"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests in the class of `org.apache.shardingsphere.transaction.core.TransactionTypeHolderTest`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
You can add `LOCAL` and `BASE` unit tests in this class.

[2022-08-22 03:59] FlyingZC opened #20347 "Add more unit tests in the class of `TransactionRuleTest` for transactions"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests in the class of `org.apache.shardingsphere.transaction.rule.TransactionRuleTest`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
You can add more unit tests for the methods of `addResource`,`closeStaleResource`,`closeStaleResource` in the class.
E.g. when you c

[2022-08-22 04:41] FlyingZC opened #20348 "Add more unit tests for the class of `YamlTransactionRuleConfigurationSwapper`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.yaml.swapper.YamlTransactionRuleConfigurationSwapper`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
You can mock the transaction configuration and assert the result of `swapToYamlConfiguration` method.Yo

[2022-08-22 04:42] koala775 commented on #20256
Yes，but I need create difference database in a namespace.I have a try, to create database,it's fail.So I push database to zk by myself,and use distsql to add resource,it throw exception:Datasource or shardingsphere rule does not exist.

[2022-08-22 04:55] kutouziUk commented on #20228
I'm sorry to trouble you again. you replied “but only need to execute the CREATE TABLE statement through ShardingSphere”
 How is the create table statement executed, directly in the client tool or through the Sharding-JDBC API?

[2022-08-22 04:58] strongduanmu commented on #20228
You can execute sql through ShardingSphere Proxy or JDBC.

[2022-08-22 05:14] kutouziUk commented on #20228
I'm just using Sharding-JDBC。
1、configure auto-tables first
2、run create table SQL by JDBC API
[code]
3、 all insert, select, update... statements
Is that how it works?

[2022-08-22 05:15] kutouziUk commented on #20228
I'm just using Sharding-JDBC。
1、configure auto-tables first
2、run create table SQL by JDBC API
[code]
3、 all insert, select, update... statements
Is that how it works?

[2022-08-22 05:33] strongduanmu commented on #20228
You should execute logic SQL, just like:

[code]

[2022-08-22 05:35] kutouziUk commented on #20228
ok, thank you

[2022-08-22 07:24] mumutu66 opened #20352 "merge will return empty list"
https://github.com/apache/shardingsphere/blob/f347765d0dfa05fe4d3a31c69813b34f66fe275a/shardingsphere-features/shardingsphere-sharding/shardingsphere-sharding-core/src/main/java/org/apache/shardingsphere/sharding/merge/dql/pagination/TopAndRowNumberDecoratorMergedResult.java#L62

`pagination` is offset and limit  and canbe same value 。so why  skipOffset will change the rownumber to the offset valu

[2022-08-22 07:24] kutouziUk commented on #20228
thank you. I have successfully configured and executed

[2022-08-22 07:38] strongduanmu opened #20353 "Add more unit test for `SQLStats`"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `SQLStats` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sql/par

[2022-08-22 07:39] strongduanmu commented on #20228
That's great. If this problem has been solved, please close this issue.

[2022-08-22 07:41] kutouziUk commented on #20228
ok thank you

[2022-08-22 07:41] #20228 closed

[2022-08-22 07:43] strongduanmu opened #20355 "Add more unit test for TableExtractor"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `TableExtractor` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blob/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sq

[2022-08-22 07:44] FlyingZC opened #20356 "Add more unit tests for the class of `TransactionRuleBuilder`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.rule.builder.TransactionRuleBuilder`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
You can mock the transaction rule configuration and assert the result of `build` method.

[2022-08-22 07:51] FlyingZC opened #20360 "Add more unit tests for the class of `AutoCommitUtils`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.utils.AutoCommitUtils`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Maybe you can mock the sqlStatement like `new MySQLSelectStatement()`,`new MySQLAlterTableStatement()`... and assert the result of `ne

[2022-08-22 07:51] strongduanmu opened #20361 "Add more unit test for ColumnExtractor"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `ColumnExtractor` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/

[2022-08-22 07:54] strongduanmu commented on #20352
Can you provide a demo to describe your problem?

[2022-08-22 07:56] strongduanmu opened #20362 "Add more unit test for SQLUtil"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `SQLUtil` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsphere/sql/pars

[2022-08-22 07:58] FlyingZC commented on #20360
You can check the test coverage on this page: https://app.codecov.io/gh/apache/shardingsphere
<img width="1160" alt="image" src="https://user-images.githubusercontent.com/19788130/185869583-9413aa1e-99eb-4932-9f5c-6f128402d8e3.png">

[2022-08-22 08:03] strongduanmu opened #20363 "Add more unit test for CopyStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CopyStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardingsp

[2022-08-22 08:04] strongduanmu opened #20364 "Add more unit test for DeleteStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `DeleteStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sharding

[2022-08-22 08:04] FlyingZC opened #20365 "Add more unit tests for the class of `ConnectionSavepointManager`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.ConnectionSavepointManager`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Maybe you can mock the `connection` and assert the results of `setSavepoint`,`rollbackToSavepoint`... methods.
[code]

[2022-08-22 08:06] strongduanmu opened #20366 "Add more unit test for InsertStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `InsertStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sharding

[2022-08-22 08:07] strongduanmu opened #20367 "Add more unit test for SelectStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `SelectStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sharding

[2022-08-22 08:08] strongduanmu opened #20368 "Add more unit test for UpdateStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `UpdateStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sharding

[2022-08-22 08:09] FlyingZC opened #20369 "Add more unit tests for the class of `OracleXAConnectionWrapper`"
Hi community,
This issue is for #28487

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.xa.jta.connection.dialect.OracleXAConnectionWrapper`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
.You can refer to this class `org.apache.shardingsphere.transaction.xa.jta.connection.dialect.MySQLXAConnectionWrapperTest` to write unit tests.

[2022-08-22 08:09] strongduanmu opened #20370 "Add more unit test for FlushStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `FlushStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardings

[2022-08-22 08:10] FlyingZC commented on #20369
You can check the test coverage on this page: https://app.codecov.io/gh/apache/shardingsphere
<img width="1466" alt="image" src="https://user-images.githubusercontent.com/19788130/185871961-893bd3f4-b157-458d-a4ae-1da836656dc3.png">

[2022-08-22 08:10] strongduanmu opened #20371 "Add more unit test for ExplainStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `ExplainStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardin

[2022-08-22 08:12] strongduanmu opened #20372 "Add more unit test for ClusterStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `ClusterStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardin

[2022-08-22 08:13] strongduanmu opened #20373 "Add more unit test for CommentStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CommentStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shardin

[2022-08-22 08:14] strongduanmu opened #20374 "Add more unit test for AlterViewStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `AlterViewStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shard

[2022-08-22 08:15] strongduanmu opened #20375 "Add more unit test for DropIndexStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `DropIndexStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shard

[2022-08-22 08:17] strongduanmu opened #20376 "Add more unit test for DropTableStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `DropTableStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shard

[2022-08-22 08:17] strongduanmu opened #20377 "Add more unit test for AlterIndexStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `AlterIndexStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shar

[2022-08-22 08:18] RaigorJiang opened #20378 "Enhanced algorithm checking for `CREATE SHARDING TABLE RULE`"
Hi community,

Currently, users can configure sharding table rules in two different ways: `tables` and `autoTables`
([ref](https://shardingsphere.apache.org/document/current/en/user-manual/shardingsphere-jdbc/yaml-config/rules/sharding/))
Likewise, both configurations can be created via DistSQL: the difference is that one uses `DATANODES` to define storage nodes, while the other uses `RESOURCES`.

[2022-08-22 08:19] strongduanmu commented on #18389
Great, all the subtasks have been completed. So I will close this issue.

[2022-08-22 08:19] #18389 closed

[2022-08-22 08:19] sunkai-cai commented on #20378
please assigness to me.

[2022-08-22 08:20] strongduanmu opened #20379 "Add more unit test for DropSchemaStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `DropSchemaStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/shar

[2022-08-22 08:21] FlyingZC opened #20380 "Add more unit test for `AtomikosTransactionManagerProviderTest`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.xa.atomikos.manager.AtomikosTransactionManagerProviderTest`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Add more unit tests for `org.apache.shardingsphere.transaction.xa.atomikos.manager.AtomikosTransa

[2022-08-22 08:24] sunkai-cai commented on #20028
please assigness to me.

[2022-08-22 08:24] FlyingZC opened #20381 "Add more unit test for `BitronixRecoveryResource`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `org.apache.shardingsphere.transaction.xa.bitronix.manager.BitronixRecoveryResource`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Add more unit tests for `org.apache.shardingsphere.transaction.xa.bitronix.manager.BitronixRecoveryResource` to

[2022-08-22 08:24] sunkai-cai commented on #20031
please assigness to me.

[2022-08-22 08:26] FlyingZC opened #20382 "Add more unit test for `SingleXAResourceHolder`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `SingleXAResourceHolder`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Add more unit tests for `org.apache.shardingsphere.transaction.xa.bitronix.manager.SingleXAResourceHolder` to test its public functions to improve unit test coverage.

Uni

[2022-08-22 08:27] RaigorJiang commented on #20031
@runqi-zhao
Sorry, the time for this issue is a bit long, I will assign it to @sunkai-cai now, and you are welcome to participate in other issues next time. Thank you!

[2022-08-22 08:31] strongduanmu opened #20383 "Add more unit test for AlterSchemaStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `AlterSchemaStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sha

[2022-08-22 08:32] strongduanmu opened #20384 "Add more unit test for CreateIndexStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CreateIndexStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sha

[2022-08-22 08:33] strongduanmu opened #20385 "Add more unit test for CreateTableStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CreateTableStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sha

[2022-08-22 08:34] strongduanmu opened #20386 "Add more unit test for CreateSchemaStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CreateSchemaStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/sh

[2022-08-22 08:35] FlyingZC opened #20387 "Add more unit test for `DefaultTransactionRuleConfigurationBuilder`"
Hi community,
This issue is for [#20305](https://github.com/apache/shardingsphere/issues/20305)

# Aim
Add more unit tests for the class of `DefaultTransactionRuleConfigurationBuilder`.

# Basic Qualifications
- Java
- Maven
- Transaction

# Detail
Add more unit tests for `org.apache.shardingsphere.transaction.rule.builder.DefaultTransactionRuleConfigurationBuilder` to test its public functions to

[2022-08-22 08:36] strongduanmu opened #20388 "Add more unit test for CreateFunctionStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CreateFunctionStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache/

[2022-08-22 08:37] strongduanmu opened #20389 "Add more unit test for CreateProcedureStatementHandler"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `CreateProcedureStatementHandler` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-sql-parser/shardingsphere-sql-parser-statement/src/main/java/org/apache

[2022-08-22 08:39] tuichenchuxin opened #20390 "support parse EXPLAIN PLAN SQL"
Hi community,

This issue is for #28487.
ref to #6480

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and `Oracle`, which means we have to understand different database dialect SQLs.
More

[2022-08-22 08:40] soulasuna opened #20391 "Refactored Shadow API to replace sourceDataSourceName with productionDataSourceName"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

Refactor the shadow API

[2022-08-22 08:44] strongduanmu opened #20392 "Add more unit test for SQLParserRule"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `SQLParserRule` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-kernel/shardingsphere-parser/shardingsphere-parser-core/src/main/java/org/apache/sharding

[2022-08-22 08:44] tuichenchuxin opened #20393 "support parse ALTER PROCEDURE"
Hi community,

This issue is for #20305.
ref to #6480

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and `Oracle`, which means we have to understand different database dialect SQLs.
More

[2022-08-22 08:45] strongduanmu opened #20394 "Add more unit test for SQLParserRuleBuilder"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `SQLParserRuleBuilder` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-kernel/shardingsphere-parser/shardingsphere-parser-core/src/main/java/org/apache/s

[2022-08-22 08:46] tuichenchuxin opened #20395 "support parse alter profile"
Hi community,

This issue is for #28487.
ref to #6480

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and `Oracle`, which means we have to understand different database dialect SQLs.
More

[2022-08-22 08:46] strongduanmu opened #20396 "Add more unit test for DefaultSQLParserRuleConfigurationBuilder"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `DefaultSQLParserRuleConfigurationBuilder` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-kernel/shardingsphere-parser/shardingsphere-parser-core/src/ma

[2022-08-22 08:47] tuichenchuxin opened #20397 "support parse ALTER RESOURCE COST"
Hi community,

This issue is for #20305.
ref to #6480

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and `Oracle`, which means we have to understand different database dialect SQLs.
More

[2022-08-22 08:49] tuichenchuxin opened #20398 "support parse ALTER ROLE"
Hi community,

This issue is for #20305.
ref to #6480

## Background
ShardingSphere parser engine helps users parse a SQL to get the AST (Abstract Syntax Tree) and visit this tree to get SQLStatement (Java Object). At present, this parser engine can handle SQLs for `MySQL`, `PostgreSQL`, `SQLServer`, `openGauss` and `Oracle`, which means we have to understand different database dialect SQLs.
More

[2022-08-22 09:02] Swastyy commented on #20396
Hi @strongduanmu , the links for unit test coverage in these relevant issues are not working for me. Can you check once if they work for you?

[2022-08-22 09:21] strongduanmu commented on #20396
Yes, I can't open the page right now, I'll investigate why.

[2022-08-22 09:29] strongduanmu commented on #20396
@Swastyy You can try to access it from this page. https://app.codecov.io/gh/apache/shardingsphere

[2022-08-22 09:32] strongduanmu opened #20400 "Add more unit test for YamlSQLParserRuleConfigurationSwapper"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `YamlSQLParserRuleConfigurationSwapper ` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-kernel/shardingsphere-parser/shardingsphere-parser-core/src/main

[2022-08-22 09:33] strongduanmu opened #20401 "Add more unit test for YamlSQLParserCacheOptionConfigurationSwapper"
Hi community,

This issue is for https://github.com/apache/shardingsphere/issues/20305.

## Aim

Add more unit tests for `YamlSQLParserCacheOptionConfigurationSwapper` to test its public functions to improve unit test coverage.

Unit test coverage can be viewed at: https://app.codecov.io/gh/apache/shardingsphere/blobs/master/shardingsphere-kernel/shardingsphere-parser/shardingsphere-parser-core/sr

[2022-08-22 10:27] taojintianxia opened #20404 "Refactor the IT container to support launch multiple container for HA or other testing"
currently the HA testing need to launch multiple proxy container, however IT container doesn't support this.
please develop corresponding code to make this work.

[2022-08-22 10:29] lhyundeadsoul opened #20405 "[Doc Error]Developer List link error"
## Bug Report

**For English only**, other languages will not accept.

Developer List link error in https://shardingsphere.apache.org/community/en/contribute/contributor/#developer-flow , it should be link to `TEAM` I think

[2022-08-22 10:29] taojintianxia commented on #20404
assign to me and add `test` label.

[2022-08-22 11:08] moukthika777 commented on #20373
Hi @strongduanmu , can I contribute to this issue?

[2022-08-22 11:23] strongduanmu commented on #18430
This issue also has four subtasks:

- [ ] support for spring namespace and spring boot starter
- [ ] add new DistSQL for audit
- [ ] document
- [ ] test case

Is anyone interested in doing these tasks?

[2022-08-22 11:34] terrymanu opened #20413 "Throw exception when insert expression value in shadow"
Insert value for shadow only support literal and parameter. When user insert value by complex expression, the value added into production database which is in-corrected.

Please verify before value insert and throw exception if value type unsupported.

[2022-08-22 11:56] dongzl commented on #18430
I will try it.

[2022-08-22 11:56] strongduanmu commented on #18430
@dongzl Welcome.

[2022-08-22 11:57] O-king opened #20414 "ShardingSphereConnection#prepareStatement(java.lang.String, java.lang.String[]) is not working"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-22 12:09] strongduanmu commented on #20373
@moukthika777 Of course, I will assign this issue to you.

[2022-08-22 12:36] #20405 closed

[2022-08-22 13:24] coder616 commented on #20338
I know that ShardingSphere Proxy uses the logical database name, but in practice, the logical database name is usually composed of prefix or suffix with business significance and the actual database name. So when I use the ShardingSphere - JBDC to a database table through the agent as the decryption MySQLSchemaMetaDataLoader cannot correct to get the actual metadata, leading to a join operation of

[2022-08-22 19:14] silversteak opened #20431 "Limit metadata loading to specific configured Single Tables only"
In GenericSchemaBuilder, I see that apart from the sharding tables all other tables meta data is getting loaded. Is it possible to limit that to specific configured Single Tables only. As my micro services needs only few tables out of 420 tables to get loaded. This will drastically boast the loading time of the service.

![image](https://user-images.githubusercontent.com/25997886/186075652-b714cc2

[2022-08-23 01:16] huangdx0726 commented on #20379
assign to me

[2022-08-23 01:49] zacat opened #20432 "shardingsphere 5.1.2 proxy docker run tips"
shardingsphere 5.1.2

config-sharding.yaml

databaseName: sharding_db

dataSources:
  ds_0:
    url: jdbc:mysql://192.168.130.131:3306/ds_0?serverTimezone=UTC&useSSL=false
    username: root
    password: 123456
    connectionTimeoutMilliseconds: 30000
    idleTimeoutMilliseconds: 60000
    maxLifetimeMilliseconds: 1800000
    maxPoolSize: 50
    minPoolSize: 1
  ds_1:
    url: jdbc:mysql://192.16

[2022-08-23 01:51] zacat commented on #20432
[config-sharding.txt](https://github.com/apache/shardingsphere/files/9398693/config-sharding.txt)

[2022-08-23 02:16] zxcvbnmzsedr opened #20434 "BLOB type not supported by PostgreSQL"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-23 02:23] cheese8 opened #20435 "How to support the fuzzy query of encrypted fields"
Solutions: @strongduanmu

1. Homomorphism algorithm, but there is no good homomorphic encryption algorithm implemented for now.
2. Besides the cipherColumn and assistedQueryColumn columns, add additional fuzzyColumn and fuzzyAlgorithm which works like  the cipherColumn and assistedQueryColumn columns, rewrite `LIKE plainColumn` into `LIKE fuzzyColumn` to meet user requirements. The `API` changed a

[2022-08-23 02:26] strongduanmu commented on #20435
This proposal is great, can you explain the implement logic of `fuzzyColumn`, which is very important for the like feature.

[2022-08-23 02:29] mumutu66 commented on #20352
。it's an issue report with `TopAndRowNumberDecoratorMergedResult` when use sqlserver will hit this logic.

first I use my own way to fixed (issue)[https://github.com/apache/shardingsphere/issues/17973]  then the case is a simple hello world example : one logic table with  two sharding table  table_0 , table_1

 I query a table with OFFSET 200 FETCH NEXT 200 the actualsql will be query every shardi

[2022-08-23 02:32] zxcvbnmzsedr commented on #20434
I find this issues #14

Does PostagesQL not consider the InputStream type?

[code]

[2022-08-23 02:33] cheese8 commented on #20435
yeah, the `fuzzyColumn` column stores the data processed by the `fuzzyAlgorithm` algorithm. For example:

the original plainColumn value is: `1234567890`
the processed fuzzyColumn may be: `123` or `890` or `12390` which depended on the fuzzyAlgorithm algorithm.

[2022-08-23 03:28] freedom-all commented on #20435
Good discussion. The current practice here is to use a single password book to enumerate all Chinese and English characters and fill them in the XY axis. When querying, the corresponding value on the XY axis is parsed according to the field, and then the escape query is performed.

[2022-08-23 03:44] mingyifei opened #20437 "[GUI tools] Navicat connection proxy exception"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere/issues).
- Read documentation: [ShardingSphere Doc](https://shardingsphere.apache.org/document/current/en/overview).

Please pay attention on issues you submitted, because we maybe need more details.
If

[2022-08-23 03:55] #17635 closed

[2022-08-23 04:31] tianhao960 commented on #17635
hi, @tuichenchuxin , I'm sorry that the pull request just fix the create procedure one; I'll post a new pr to fix the alter and drop statement. thanks

[2022-08-23 05:46] mlycore opened #20445 "Move directory `shardingsphere-charts` to sub-project repo `shardingsphere-on-cloud`"
Since there is a new sub-project [shardingsphere-on-cloud](https://github.com/apache/shardingsphere-on-cloud) mainly collects the cloud solutions for ShardingSphere, the `shardingsphere-charts` directory gets its chance to be moved to the shardingsphere-on-cloud repo.

[2022-08-23 05:47] mlycore commented on #20445
This is related to issue [Consider moving Helm Charts of ShardingSphere to this repo.](https://github.com/apache/shardingsphere-on-cloud/issues/29)

[2022-08-23 05:53] strongduanmu commented on #15689
Hi @cheese8 Can this issue be done in 5.1.3?

[2022-08-23 05:56] strongduanmu commented on #17092
Hi @zjcnb @sandynz, can we finish this issue in 5.1.3?

[2022-08-23 06:03] azexcy commented on #17092
I reproduce the problem.  bacause the account password plugin is not equals with  `default_authentication_plugin`
please check the result of `show variables like 'default_authentication_plugin';` or change account password plugin.

[2022-08-23 06:07] strongduanmu commented on #18421
@zjcnb Can we finish this issue in 5.1.3?

[2022-08-23 06:07] strongduanmu commented on #18431
All subtasks has been finished.